openapi: 3.0.0
info:
  contact:
    name: PeerTube Community
    url: https://joinpeertube.org
  description: |
    The PeerTube API is built on HTTP(S) and is RESTful. You can use your favorite
    HTTP/REST library for your programming language to use PeerTube. The spec API is fully compatible with
    [openapi-generator](https://github.com/OpenAPITools/openapi-generator/wiki/API-client-generator-HOWTO)
    which generates a client SDK in the language of your choice - we generate some client SDKs automatically:

    - [Python](https://framagit.org/framasoft/peertube/clients/python)
    - [Go](https://framagit.org/framasoft/peertube/clients/go)
    - [Kotlin](https://framagit.org/framasoft/peertube/clients/kotlin)

    See the [REST API quick start](https://docs.joinpeertube.org/api/rest-getting-started) for a few
    examples of using the PeerTube API.

    # Authentication

    When you sign up for an account on a PeerTube instance, you are given the possibility
    to generate sessions on it, and authenticate there using an access token. Only __one
    access token can currently be used at a time__.

    ## Roles

    Accounts are given permissions based on their role. There are three roles on
    PeerTube: Administrator, Moderator, and User. See the [roles guide](https://docs.joinpeertube.org/admin/managing-users#roles) for a detail of their permissions.

    # Errors

    The API uses standard HTTP status codes to indicate the success or failure
    of the API call, completed by a [RFC7807-compliant](https://tools.ietf.org/html/rfc7807) response body.

    ```
    HTTP 1.1 404 Not Found
    Content-Type: application/problem+json; charset=utf-8

    {
      "detail": "Video not found",
      "docs": "https://docs.joinpeertube.org/api/rest-reference.html#operation/getVideo",
      "status": 404,
      "title": "Not Found",
      "type": "about:blank"
    }
    ```

    We provide error `type` values for [a growing number of cases](https://github.com/Chocobozzz/PeerTube/blob/develop/shared/models/server/server-error-code.enum.ts),
    but it is still optional. Types are used to disambiguate errors that bear the same status code
    and are non-obvious:

    ```
    HTTP 1.1 403 Forbidden
    Content-Type: application/problem+json; charset=utf-8

    {
      "detail": "Cannot get this video regarding follow constraints",
      "docs": "https://docs.joinpeertube.org/api/rest-reference.html#operation/getVideo",
      "status": 403,
      "title": "Forbidden",
      "type": "https://docs.joinpeertube.org/api/rest-reference.html#section/Errors/does_not_respect_follow_constraints"
    }
    ```

    Here a 403 error could otherwise mean that the video is private or blocklisted.

    ### Validation errors

    Each parameter is evaluated on its own against a set of rules before the route validator
    proceeds with potential testing involving parameter combinations. Errors coming from validation
    errors appear earlier and benefit from a more detailed error description:

    ```
    HTTP 1.1 400 Bad Request
    Content-Type: application/problem+json; charset=utf-8

    {
      "detail": "Incorrect request parameters: id",
      "docs": "https://docs.joinpeertube.org/api/rest-reference.html#operation/getVideo",
      "instance": "/api/v1/videos/9c9de5e8-0a1e-484a-b099-e80766180",
      "invalid-params": {
        "id": {
          "location": "params",
          "msg": "Invalid value",
          "param": "id",
          "value": "9c9de5e8-0a1e-484a-b099-e80766180"
        }
      },
      "status": 400,
      "title": "Bad Request",
      "type": "about:blank"
    }
    ```

    Where `id` is the name of the field concerned by the error, within the route definition.
    `invalid-params.<field>.location` can be either 'params', 'body', 'header', 'query' or 'cookies', and
    `invalid-params.<field>.value` reports the value that didn't pass validation whose `invalid-params.<field>.msg`
    is about.

    ### Deprecated error fields

    Some fields could be included with previous versions. They are still included but their use is deprecated:
    - `error`: superseded by `detail`
    - `code`: superseded by `type` (which is now an URI)

    # Rate limits

    We are rate-limiting all endpoints of PeerTube's API. Custom values can be set by administrators:

    | Endpoint (prefix: `/api/v1`) | Calls         | Time frame   |
    |------------------------------|---------------|--------------|
    | `/*`                         | 50            | 10 seconds   |
    | `POST /users/token`          | 15            | 5 minutes    |
    | `POST /users/register`       | 2<sup>*</sup> | 5 minutes    |
    | `POST /users/ask-send-verify-email` | 3      | 5 minutes    |

    Depending on the endpoint, <sup>*</sup>failed requests are not taken into account. A service
    limit is announced by a `429 Too Many Requests` status code.

    You can get details about the current state of your rate limit by reading the
    following headers:

    | Header                  | Description                                                |
    |-------------------------|------------------------------------------------------------|
    | `X-RateLimit-Limit`     | Number of max requests allowed in the current time period  |
    | `X-RateLimit-Remaining` | Number of remaining requests in the current time period    |
    | `X-RateLimit-Reset`     | Timestamp of end of current time period as UNIX timestamp  |
    | `Retry-After`           | Seconds to delay after the first `429` is received         |

    # CORS

    This API features [Cross-Origin Resource Sharing (CORS)](https://fetch.spec.whatwg.org/),
    allowing cross-domain communication from the browser for some routes:

    | Endpoint                    |
    |------------------------- ---|
    | `/api/*`                    |
    | `/download/*`               |
    | `/lazy-static/*`            |
    | `/.well-known/webfinger`    |

    In addition, all routes serving ActivityPub are CORS-enabled for all origins.
  license:
    name: AGPLv3.0
    url: https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE
  title: PeerTube
  version: 5.1.0
  x-apisguru-categories:
  - social
  x-logo:
    altText: PeerTube Project Homepage
    url: https://joinpeertube.org/img/brand.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: openapi
    url: https://raw.githubusercontent.com/Chocobozzz/PeerTube/develop/support/doc/api/openapi.yaml
    version: "3.0"
  x-providerName: cpy.re
  x-serviceName: peertube
externalDocs:
  url: https://docs.joinpeertube.org/api/rest-reference.html
servers:
- description: Live Test Server (live data - latest nightly version)
  url: https://peertube2.cpy.re
- description: Live Test Server (live data - latest RC version)
  url: https://peertube3.cpy.re
- description: Live Test Server (live data - stable version)
  url: https://peertube.cpy.re
tags:
- description: |
    As a visitor, you can use this API to open an account (if registrations are open on
    that PeerTube instance). As an admin, you should use the dedicated [User creation
    API](#operation/addUser) instead.
  name: Register
- description: |
    Sessions deal with access tokens over time. Only __one session token can currently be used at a time__.
  name: Session
  x-displayName: Login/Logout
- description: |
    Accounts encompass remote accounts discovered across the federation, and correspond to the main Actor, along with video channels a user can create, which are also Actors.
    When a comment is posted, it is done with your Account's Actor.
  name: Accounts
- description: |
    Using some features of PeerTube require authentication, for which User provide different levels of permission as well as associated user information. Each user has a corresponding local Account for federation.
  name: Users
- description: |
    Operations related to your own User, when logged-in.
  name: My User
- description: |
    Operations related to your subscriptions to video channels, their new videos, and how to keep up to date with their latest publications!
  name: My Subscriptions
- description: |
    Operations related to your watch history.
  name: My History
- description: |
    Notifications following new videos, follows or reports. They allow you to keep track of the interactions and overall important information that concerns you. You MAY set per-notification type delivery preference, to receive the info either by mail, by in-browser notification or both.
  name: My Notifications
- description: |
    Each server exposes public information regarding supported videos and options.
  name: Config
- description: |
    Jobs are long-running tasks enqueued and processed by the instance itself. No additional worker registration is currently available.
  name: Job
- description: |
    Managing servers which the instance interacts with is crucial to the concept of federation in PeerTube and external video indexation. The PeerTube server then deals with inter-server ActivityPub operations and propagates information across its social graph by posting activities to actors' inbox endpoints.
  externalDocs:
    url: https://docs.joinpeertube.org/admin/following-instances#instances-follows
  name: Instance Follows
- description: |
    Redundancy is part of the inter-server solidarity that PeerTube fosters. Manage the list of instances you wish to help by seeding their videos according to the policy of video selection of your choice. Note that you have a similar functionality to mirror individual videos, see [video mirroring](#tag/Video-Mirroring).
  externalDocs:
    url: https://docs.joinpeertube.org/admin/following-instances#instances-redundancy
  name: Instance Redundancy
- description: |
    Managing plugins installed from a local path or from NPM, or search for new ones.
  externalDocs:
    url: https://docs.joinpeertube.org/api/plugins
  name: Plugins
- description: |
    Abuses deal with reports of local or remote videos/comments/accounts alike.
  name: Abuses
- description: |
    Operations dealing with listing, uploading, fetching or modifying videos.
  name: Video
- description: |
    Operations dealing with adding video or audio. PeerTube supports two upload modes, and three import modes.

    ### Upload

    - [_legacy_](#operation/uploadLegacy), where the video file is sent in a single request
    - [_resumable_](#operation/uploadResumableInit), where the video file is sent in chunks

    You can upload videos more reliably by using the resumable variant. Its protocol lets
    you resume an upload operation after a network interruption or other transmission failure,
    saving time and bandwidth in the event of network failures.

    Favor using resumable uploads in any of the following cases:
    - You are transferring large files
    - The likelihood of a network interruption is high
    - Uploads are originating from a device with a low-bandwidth or unstable Internet connection,
      such as a mobile device

    ### Import

    - _URL_-based: where the URL points to any service supported by [youtube-dl](https://ytdl-org.github.io/youtube-dl/)
    - _magnet_-based: where the URI resolves to a BitTorrent resource containing a single supported video file
    - _torrent_-based: where the metainfo file resolves to a BitTorrent resource containing a single supported video file

    The import function is practical when the desired video/audio is available online. It makes PeerTube
    download it for you, saving you as much bandwidth and avoiding any instability or limitation your network might have.
  name: Video Upload
- description: "Operations dealing with listing, adding and removing video imports."
  name: Video Imports
- description: Operations dealing with synchronizing PeerTube user's channel with
    channels of other platforms
  name: Channels Sync
- description: "Operations dealing with listing, adding and removing closed captions\
    \ of a video."
  name: Video Captions
- description: "Operations dealing with the creation, modification and listing of\
    \ videos within a channel."
  name: Video Channels
- description: |
    Operations dealing with comments to a video. Comments are organized in threads: adding a comment in response to the video starts a thread, adding a reply to a comment adds it to its root comment thread.
  name: Video Comments
- description: Operations dealing with blocking videos (removing them from view and
    preventing interactions).
  name: Video Blocks
- description: Like/dislike a video.
  name: Video Rates
- description: Operations dealing with playlists of videos. Playlists are bound to
    users and/or channels.
  name: Video Playlists
- description: Operations on video files
  name: Video Files
- description: Video transcoding related operations
  name: Video Transcoding
- description: Video statistics
  name: Video stats
- description: Server syndication feeds of videos
  name: Video Feeds
- description: |
    The search helps to find _videos_ or _channels_ from within the instance and beyond.
    Videos from other instances federated by the instance (that is, instances
    followed by the instance) can be found via keywords and other criteria of
    the advanced search.

    Administrators can also enable the use of a remote search system, indexing
    videos and channels not could be not federated by the instance.
  name: Search
- description: Get and update the custom homepage
  name: Homepage
- description: |
    PeerTube instances can mirror videos from one another, and help distribute some videos.

    For importing videos as your own, refer to [video imports](#operation/importVideo).
  name: Video Mirroring
- description: |
    Statistics
  name: Stats
paths:
  /api/v1/abuses:
    get:
      operationId: getAbuses
      parameters:
      - description: only list the report with this id
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - description: predefined reason the listed reports should contain
        explode: true
        in: query
        name: predefinedReason
        required: false
        schema:
          $ref: '#/components/schemas/PredefinedAbuseReasons'
        style: form
      - description: "plain search that will match with video titles, reporter names\
          \ and more"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: state
        required: false
        schema:
          $ref: '#/components/schemas/AbuseStateSet'
        style: form
      - description: only list reports of a specific reporter
        explode: true
        in: query
        name: searchReporter
        required: false
        schema:
          type: string
        style: form
      - description: only list reports of a specific reportee
        explode: true
        in: query
        name: searchReportee
        required: false
        schema:
          type: string
        style: form
      - description: only list reports of a specific video
        explode: true
        in: query
        name: searchVideo
        required: false
        schema:
          type: string
        style: form
      - description: only list reports of a specific video channel
        explode: true
        in: query
        name: searchVideoChannel
        required: false
        schema:
          type: string
        style: form
      - description: only list deleted or blocklisted videos
        explode: true
        in: query
        name: videoIs
        required: false
        schema:
          enum:
          - deleted
          - blacklisted
          type: string
        style: form
      - description: "only list account, comment or video reports"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          enum:
          - video
          - comment
          - account
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort abuses by criteria
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -id
          - -createdAt
          - -state
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAbuses_200_response'
          description: successful operation
      security:
      - OAuth2:
        - admin
        - moderator
      summary: List abuses
      tags:
      - Abuses
      x-accepts:
      - application/json
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_abuses_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_abuses_post_200_response'
          description: successful operation
        "400":
          description: incorrect request parameters
      security:
      - OAuth2: []
      summary: Report an abuse
      tags:
      - Abuses
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/abuses/{abuseId}:
    delete:
      parameters:
      - description: Abuse id
        explode: false
        in: path
        name: abuseId
        required: true
        schema:
          $ref: '#/components/schemas/Abuse/properties/id'
        style: simple
      responses:
        "204":
          description: successful operation
        "404":
          description: block not found
      security:
      - OAuth2:
        - admin
        - moderator
      summary: Delete an abuse
      tags:
      - Abuses
      x-accepts:
      - application/json
    put:
      parameters:
      - description: Abuse id
        explode: false
        in: path
        name: abuseId
        required: true
        schema:
          $ref: '#/components/schemas/Abuse/properties/id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_abuses__abuseId__put_request'
      responses:
        "204":
          description: successful operation
        "404":
          description: abuse not found
      security:
      - OAuth2:
        - admin
        - moderator
      summary: Update an abuse
      tags:
      - Abuses
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/abuses/{abuseId}/messages:
    get:
      parameters:
      - description: Abuse id
        explode: false
        in: path
        name: abuseId
        required: true
        schema:
          $ref: '#/components/schemas/Abuse/properties/id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_abuses__abuseId__messages_get_200_response'
          description: successful operation
      security:
      - OAuth2: []
      summary: List messages of an abuse
      tags:
      - Abuses
      x-accepts:
      - application/json
    post:
      parameters:
      - description: Abuse id
        explode: false
        in: path
        name: abuseId
        required: true
        schema:
          $ref: '#/components/schemas/Abuse/properties/id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_abuses__abuseId__messages_post_request'
        required: true
      responses:
        "200":
          description: successful operation
        "400":
          description: incorrect request parameters
      security:
      - OAuth2: []
      summary: Add message to an abuse
      tags:
      - Abuses
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/abuses/{abuseId}/messages/{abuseMessageId}:
    delete:
      parameters:
      - description: Abuse id
        explode: false
        in: path
        name: abuseId
        required: true
        schema:
          $ref: '#/components/schemas/Abuse/properties/id'
        style: simple
      - description: Abuse message id
        explode: false
        in: path
        name: abuseMessageId
        required: true
        schema:
          $ref: '#/components/schemas/AbuseMessage/properties/id'
        style: simple
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Delete an abuse message
      tags:
      - Abuses
      x-accepts:
      - application/json
  /api/v1/accounts:
    get:
      operationId: getAccounts
      parameters:
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: successful operation
      summary: List accounts
      tags:
      - Accounts
      x-accepts:
      - application/json
  /api/v1/accounts/{name}:
    get:
      operationId: getAccount
      parameters:
      - description: The username or handle of the account
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: chocobozzz | chocobozzz@example.org
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: successful operation
        "404":
          description: account not found
      summary: Get an account
      tags:
      - Accounts
      x-accepts:
      - application/json
  /api/v1/accounts/{name}/followers:
    get:
      operationId: getAccountFollowers
      parameters:
      - description: The username or handle of the account
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: chocobozzz | chocobozzz@example.org
          type: string
        style: simple
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort followers by criteria
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - createdAt
          type: string
        style: form
      - description: "Plain text search, applied to various parts of the model depending\
          \ on endpoint"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountFollowers_200_response'
          description: successful operation
      security:
      - OAuth2: []
      summary: List followers of an account
      tags:
      - Accounts
      x-accepts:
      - application/json
  /api/v1/accounts/{name}/ratings:
    get:
      parameters:
      - description: The username or handle of the account
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: chocobozzz | chocobozzz@example.org
          type: string
        style: simple
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      - description: Optionally filter which ratings to retrieve
        explode: true
        in: query
        name: rating
        required: false
        schema:
          enum:
          - like
          - dislike
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VideoRating'
                type: array
          description: successful operation
      security:
      - OAuth2: []
      summary: List ratings of an account
      tags:
      - Accounts
      x-accepts:
      - application/json
  /api/v1/accounts/{name}/video-channel-syncs:
    get:
      parameters:
      - description: The username or handle of the account
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: chocobozzz | chocobozzz@example.org
          type: string
        style: simple
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoChannelSyncList'
          description: successful operation
      summary: List the synchronizations of video channels of an account
      tags:
      - Video Channels
      - Channels Sync
      - Accounts
      x-accepts:
      - application/json
  /api/v1/accounts/{name}/video-channels:
    get:
      parameters:
      - description: The username or handle of the account
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: chocobozzz | chocobozzz@example.org
          type: string
        style: simple
      - description: include daily view statistics for the last 30 days and total
          views (only if authentified as the account user)
        explode: true
        in: query
        name: withStats
        required: false
        schema:
          type: boolean
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoChannelList'
          description: successful operation
      summary: List video channels of an account
      tags:
      - Video Channels
      - Accounts
      x-accepts:
      - application/json
  /api/v1/accounts/{name}/video-playlists:
    get:
      parameters:
      - description: The username or handle of the account
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: chocobozzz | chocobozzz@example.org
          type: string
        style: simple
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      - description: "Plain text search, applied to various parts of the model depending\
          \ on endpoint"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: playlistType
        required: false
        schema:
          $ref: '#/components/schemas/VideoPlaylistTypeSet'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_accounts__name__video_playlists_get_200_response'
          description: successful operation
      summary: List playlists of an account
      tags:
      - Video Playlists
      - Accounts
      x-accepts:
      - application/json
  /api/v1/accounts/{name}/videos:
    get:
      operationId: getAccountVideos
      parameters:
      - description: The username or handle of the account
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: chocobozzz | chocobozzz@example.org
          type: string
        style: simple
      - description: "category id of the video (see [/videos/categories](#operation/getCategories))"
        explode: false
        in: query
        name: categoryOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_categoryOneOf_parameter'
        style: form
      - description: whether or not the video is a live
        explode: true
        in: query
        name: isLive
        required: false
        schema:
          type: boolean
        style: form
      - description: tag(s) of the video
        explode: false
        in: query
        name: tagsOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_tagsOneOf_parameter'
        style: form
      - description: "tag(s) of the video, where all should be present in the video"
        explode: false
        in: query
        name: tagsAllOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_tagsAllOf_parameter'
        style: form
      - description: "licence id of the video (see [/videos/licences](#operation/getLicences))"
        explode: false
        in: query
        name: licenceOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_licenceOneOf_parameter'
        style: form
      - description: "language id of the video (see [/videos/languages](#operation/getLanguages)).\
          \ Use `_unknown` to filter on videos that don't have a video language"
        explode: false
        in: query
        name: languageOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_languageOneOf_parameter'
        style: form
      - description: "whether to include nsfw videos, if any"
        explode: true
        in: query
        name: nsfw
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: '**PeerTube >= 4.0** Display only local or remote videos'
        explode: true
        in: query
        name: isLocal
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          **PeerTube >= 4.0** Include additional videos in results (can be combined using bitwise or operator)
          - `0` NONE
          - `1` NOT_PUBLISHED_STATE
          - `2` BLACKLISTED
          - `4` BLOCKED_OWNER
          - `8` FILES
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - 0
          - 1
          - 2
          - 4
          - 8
          type: integer
        style: form
      - description: '**PeerTube >= 4.0** Display only videos in this specific privacy/privacies'
        explode: true
        in: query
        name: privacyOneOf
        required: false
        schema:
          $ref: '#/components/schemas/VideoPrivacySet'
        style: form
      - description: '**PeerTube >= 4.0** Display only videos that have HLS files'
        explode: true
        in: query
        name: hasHLSFiles
        required: false
        schema:
          type: boolean
        style: form
      - description: '**PeerTube >= 4.0** Display only videos that have WebTorrent
          files'
        explode: true
        in: query
        name: hasWebtorrentFiles
        required: false
        schema:
          type: boolean
        style: form
      - description: if you don't need the `total` in the response
        explode: true
        in: query
        name: skipCount
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          description: |
            Sort videos by criteria (prefixing with `-` means `DESC` order):
              * `hot` - Adaptation of Reddit "hot" algorithm taking into account video views, likes, dislikes and comments and publication date
              * `best` - Same than `hot`, but also takes into account user video history
              * `trending` - Sort videos by recent views ("recent" is defined by the admin)
              * `views` - Sort videos using their `views` counter
              * `publishedAt` - Sort by video publication date (when it became publicly available)
          enum:
          - name
          - -duration
          - -createdAt
          - -publishedAt
          - -views
          - -likes
          - -trending
          - -hot
          - -best
          type: string
        style: form
      - description: Whether or not to exclude videos that are in the user's video
          history
        explode: true
        in: query
        name: excludeAlreadyWatched
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
          description: successful operation
      summary: List videos of an account
      tags:
      - Accounts
      - Video
      x-codeSamples:
      - lang: JavaScript
        source: |
          fetch('https://peertube2.cpy.re/api/v1/accounts/{name}/videos')
          .then(function(response) {
            return response.json()
          }).then(function(data) {
            console.log(data)
          })
      - lang: Shell
        source: |
          ## DEPENDENCIES: jq
          curl -s https://peertube2.cpy.re/api/v1/accounts/{name}/videos | jq
      - lang: Ruby
        source: |
          require 'net/http'
          require 'json'

          uri = URI.parse("https://peertube2.cpy.re/api/v1/accounts/{name}/videos")

          http = Net::HTTP.new(uri.host, uri.port)
          http.use_ssl = true

          response = http.get(uri.request_uri)

          puts JSON.parse(response.read_body)
      - lang: Python
        source: |
          import requests

          r = requests.get("https://peertube2.cpy.re/api/v1//accounts/{name}/videos")
          json = r.json()

          print(json)
      x-accepts:
      - application/json
  /api/v1/blocklist/status:
    get:
      parameters:
      - description: Check if these accounts are blocked
        example:
        - goofy@example.com
        - donald@example.com
        explode: true
        in: query
        name: accounts
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Check if these hosts are blocked
        example:
        - example.com
        explode: true
        in: query
        name: hosts
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockStatus'
          description: successful operation
      summary: Get block status of accounts/hosts
      tags:
      - Account Blocks
      - Server Blocks
      x-accepts:
      - application/json
  /api/v1/config:
    get:
      operationId: getConfig
      responses:
        "200":
          content:
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/api/v1/config
              schema:
                $ref: '#/components/schemas/ServerConfig'
          description: successful operation
      summary: Get instance public configuration
      tags:
      - Config
      x-accepts:
      - application/json
  /api/v1/config/about:
    get:
      operationId: getAbout
      responses:
        "200":
          content:
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/api/v1/config/about
              schema:
                $ref: '#/components/schemas/ServerConfigAbout'
          description: successful operation
      summary: Get instance "About" information
      tags:
      - Config
      x-accepts:
      - application/json
  /api/v1/config/custom:
    delete:
      operationId: delCustomConfig
      responses:
        "200":
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Delete instance runtime configuration
      tags:
      - Config
      x-accepts:
      - application/json
    get:
      operationId: getCustomConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConfigCustom'
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Get instance runtime configuration
      tags:
      - Config
      x-accepts:
      - application/json
    put:
      operationId: putCustomConfig
      responses:
        "200":
          description: successful operation
        "400":
          description: |
            Arises when:
              - the emailer is disabled and the instance is open to registrations
              - webtorrent and hls are disabled with transcoding enabled - you need at least one enabled
          x-summary: field inconsistencies
      security:
      - OAuth2:
        - admin
      summary: Set instance runtime configuration
      tags:
      - Config
      x-accepts:
      - application/json
  /api/v1/custom-pages/homepage/instance:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomHomepage'
          description: successful operation
        "404":
          description: No homepage set
      summary: Get instance custom homepage
      tags:
      - Homepage
      x-accepts:
      - application/json
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_custom_pages_homepage_instance_put_request'
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Set instance custom homepage
      tags:
      - Homepage
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/jobs/pause:
    post:
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Pause job queue
      tags:
      - Job
      x-accepts:
      - application/json
  /api/v1/jobs/resume:
    post:
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Resume job queue
      tags:
      - Job
      x-accepts:
      - application/json
  /api/v1/jobs/{state}:
    get:
      operationId: getJobs
      parameters:
      - description: The state of the job ('' for for no filter)
        explode: false
        in: path
        name: state
        required: true
        schema:
          enum:
          - ""
          - active
          - completed
          - failed
          - waiting
          - delayed
          type: string
        style: simple
      - description: job type
        explode: true
        in: query
        name: jobType
        required: false
        schema:
          enum:
          - activitypub-follow
          - activitypub-http-broadcast
          - activitypub-http-fetcher
          - activitypub-http-unicast
          - email
          - video-transcoding
          - video-file-import
          - video-import
          - videos-views-stats
          - activitypub-refresher
          - video-redundancy
          - video-live-ending
          - video-channel-import
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getJobs_200_response'
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: List instance jobs
      tags:
      - Job
      x-accepts:
      - application/json
  /api/v1/metrics/playback:
    post:
      description: These metrics are exposed by OpenTelemetry metrics exporter if
        enabled.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaybackMetricCreate'
      responses:
        "204":
          description: successful operation
      summary: Create playback metrics
      tags:
      - Stats
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/oauth-clients/local:
    get:
      description: "You need to retrieve a client id and secret before [logging in](#operation/getOAuthToken)."
      operationId: getOAuthClient
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
          description: successful operation
          links:
            UseOAuthClientToLogin:
              operationId: getOAuthToken
              parameters:
                client_id: $response.body#/client_id
                client_secret: $response.body#/client_secret
      summary: Login prerequisite
      tags:
      - Session
      x-codeSamples:
      - lang: Shell
        source: |
          API="https://peertube2.cpy.re/api/v1"

          ## AUTH
          curl -s "$API/oauth-clients/local"
      x-accepts:
      - application/json
  /api/v1/plugins:
    get:
      operationId: getPlugins
      parameters:
      - explode: true
        in: query
        name: pluginType
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: uninstalled
        required: false
        schema:
          type: boolean
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginResponse'
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: List plugins
      tags:
      - Plugins
      x-accepts:
      - application/json
  /api/v1/plugins/available:
    get:
      operationId: getAvailablePlugins
      parameters:
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pluginType
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: currentPeerTubeEngine
        required: false
        schema:
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginResponse'
          description: successful operation
        "503":
          description: plugin index unavailable
      security:
      - OAuth2:
        - admin
      summary: List available plugins
      tags:
      - Plugins
      x-accepts:
      - application/json
  /api/v1/plugins/install:
    post:
      operationId: addPlugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addPlugin_request'
      responses:
        "204":
          description: successful operation
        "400":
          description: should have either `npmName` or `path` set
      security:
      - OAuth2:
        - admin
      summary: Install a plugin
      tags:
      - Plugins
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/plugins/uninstall:
    post:
      operationId: uninstallPlugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/uninstallPlugin_request'
      responses:
        "204":
          description: successful operation
        "404":
          description: existing plugin not found
      security:
      - OAuth2:
        - admin
      summary: Uninstall a plugin
      tags:
      - Plugins
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/plugins/update:
    post:
      operationId: updatePlugin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addPlugin_request'
      responses:
        "204":
          description: successful operation
        "400":
          description: should have either `npmName` or `path` set
        "404":
          description: existing plugin not found
      security:
      - OAuth2:
        - admin
      summary: Update a plugin
      tags:
      - Plugins
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/plugins/{npmName}:
    get:
      operationId: getPlugin
      parameters:
      - description: name of the plugin/theme on npmjs.com or in its package.json
        explode: false
        in: path
        name: npmName
        required: true
        schema:
          example: peertube-plugin-auth-ldap
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
          description: successful operation
        "404":
          description: plugin not found
      security:
      - OAuth2:
        - admin
      summary: Get a plugin
      tags:
      - Plugins
      x-accepts:
      - application/json
  /api/v1/plugins/{npmName}/public-settings:
    get:
      parameters:
      - description: name of the plugin/theme on npmjs.com or in its package.json
        explode: false
        in: path
        name: npmName
        required: true
        schema:
          example: peertube-plugin-auth-ldap
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: successful operation
        "404":
          description: plugin not found
      summary: Get a plugin's public settings
      tags:
      - Plugins
      x-accepts:
      - application/json
  /api/v1/plugins/{npmName}/registered-settings:
    get:
      parameters:
      - description: name of the plugin/theme on npmjs.com or in its package.json
        explode: false
        in: path
        name: npmName
        required: true
        schema:
          example: peertube-plugin-auth-ldap
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: successful operation
        "404":
          description: plugin not found
      security:
      - OAuth2:
        - admin
      summary: Get a plugin's registered settings
      tags:
      - Plugins
      x-accepts:
      - application/json
  /api/v1/plugins/{npmName}/settings:
    put:
      parameters:
      - description: name of the plugin/theme on npmjs.com or in its package.json
        explode: false
        in: path
        name: npmName
        required: true
        schema:
          example: peertube-plugin-auth-ldap
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_plugins__npmName__settings_put_request'
      responses:
        "204":
          description: successful operation
        "404":
          description: plugin not found
      security:
      - OAuth2:
        - admin
      summary: Set a plugin's settings
      tags:
      - Plugins
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/search/video-channels:
    get:
      callbacks:
        searchTarget === search-index:
          $ref: '#/components/callbacks/searchIndex'
      operationId: searchChannels
      parameters:
      - description: |
          String to search. If the user can make a remote URI search, and the string is an URI then the PeerTube instance will fetch the remote object and add it to its database. Then, you can use the REST API to fetch the complete channel information and interact with it.
        explode: true
        in: query
        name: search
        required: true
        schema:
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          If the administrator enabled search index support, you can override the default search target.

          **Warning**: If you choose to make an index search, PeerTube will get results from a third party service. It means the instance may not yet know the objects you fetched. If you want to load video/channel information:
            * If the current user has the ability to make a remote URI search (this information is available in the config endpoint),
            then reuse the search API to make a search using the object URI so PeerTube instance fetches the remote object and fill its database.
            After that, you can use the classic REST API endpoints to fetch the complete object or interact with it
            * If the current user doesn't have the ability to make a remote URI search, then redirect the user on the origin instance or fetch
            the data from the origin instance API
        explode: true
        in: query
        name: searchTarget
        required: false
        schema:
          enum:
          - local
          - search-index
          type: string
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoChannelList'
          description: successful operation
        "500":
          description: search index unavailable
      summary: Search channels
      tags:
      - Search
      x-accepts:
      - application/json
  /api/v1/search/video-playlists:
    get:
      callbacks:
        searchTarget === search-index:
          $ref: '#/components/callbacks/searchIndex'
      operationId: searchPlaylists
      parameters:
      - description: |
          String to search. If the user can make a remote URI search, and the string is an URI then the PeerTube instance will fetch the remote object and add it to its database. Then, you can use the REST API to fetch the complete playlist information and interact with it.
        explode: true
        in: query
        name: search
        required: true
        schema:
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          If the administrator enabled search index support, you can override the default search target.

          **Warning**: If you choose to make an index search, PeerTube will get results from a third party service. It means the instance may not yet know the objects you fetched. If you want to load video/channel information:
            * If the current user has the ability to make a remote URI search (this information is available in the config endpoint),
            then reuse the search API to make a search using the object URI so PeerTube instance fetches the remote object and fill its database.
            After that, you can use the classic REST API endpoints to fetch the complete object or interact with it
            * If the current user doesn't have the ability to make a remote URI search, then redirect the user on the origin instance or fetch
            the data from the origin instance API
        explode: true
        in: query
        name: searchTarget
        required: false
        schema:
          enum:
          - local
          - search-index
          type: string
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_accounts__name__video_playlists_get_200_response'
          description: successful operation
        "500":
          description: search index unavailable
      summary: Search playlists
      tags:
      - Search
      x-accepts:
      - application/json
  /api/v1/search/videos:
    get:
      callbacks:
        searchTarget === search-index:
          $ref: '#/components/callbacks/searchIndex'
      operationId: searchVideos
      parameters:
      - allowEmptyValue: false
        description: |
          String to search. If the user can make a remote URI search, and the string is an URI then the PeerTube instance will fetch the remote object and add it to its database. Then, you can use the REST API to fetch the complete video information and interact with it.
        explode: true
        in: query
        name: search
        required: true
        schema:
          type: string
        style: form
      - description: "category id of the video (see [/videos/categories](#operation/getCategories))"
        explode: false
        in: query
        name: categoryOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_categoryOneOf_parameter'
        style: form
      - description: whether or not the video is a live
        explode: true
        in: query
        name: isLive
        required: false
        schema:
          type: boolean
        style: form
      - description: tag(s) of the video
        explode: false
        in: query
        name: tagsOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_tagsOneOf_parameter'
        style: form
      - description: "tag(s) of the video, where all should be present in the video"
        explode: false
        in: query
        name: tagsAllOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_tagsAllOf_parameter'
        style: form
      - description: "licence id of the video (see [/videos/licences](#operation/getLicences))"
        explode: false
        in: query
        name: licenceOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_licenceOneOf_parameter'
        style: form
      - description: "language id of the video (see [/videos/languages](#operation/getLanguages)).\
          \ Use `_unknown` to filter on videos that don't have a video language"
        explode: false
        in: query
        name: languageOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_languageOneOf_parameter'
        style: form
      - description: "whether to include nsfw videos, if any"
        explode: true
        in: query
        name: nsfw
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: '**PeerTube >= 4.0** Display only local or remote videos'
        explode: true
        in: query
        name: isLocal
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          **PeerTube >= 4.0** Include additional videos in results (can be combined using bitwise or operator)
          - `0` NONE
          - `1` NOT_PUBLISHED_STATE
          - `2` BLACKLISTED
          - `4` BLOCKED_OWNER
          - `8` FILES
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - 0
          - 1
          - 2
          - 4
          - 8
          type: integer
        style: form
      - description: '**PeerTube >= 4.0** Display only videos in this specific privacy/privacies'
        explode: true
        in: query
        name: privacyOneOf
        required: false
        schema:
          $ref: '#/components/schemas/VideoPrivacySet'
        style: form
      - description: Find videos with specific UUIDs
        explode: true
        in: query
        name: uuids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: '**PeerTube >= 4.0** Display only videos that have HLS files'
        explode: true
        in: query
        name: hasHLSFiles
        required: false
        schema:
          type: boolean
        style: form
      - description: '**PeerTube >= 4.0** Display only videos that have WebTorrent
          files'
        explode: true
        in: query
        name: hasWebtorrentFiles
        required: false
        schema:
          type: boolean
        style: form
      - description: if you don't need the `total` in the response
        explode: true
        in: query
        name: skipCount
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: |
          If the administrator enabled search index support, you can override the default search target.

          **Warning**: If you choose to make an index search, PeerTube will get results from a third party service. It means the instance may not yet know the objects you fetched. If you want to load video/channel information:
            * If the current user has the ability to make a remote URI search (this information is available in the config endpoint),
            then reuse the search API to make a search using the object URI so PeerTube instance fetches the remote object and fill its database.
            After that, you can use the classic REST API endpoints to fetch the complete object or interact with it
            * If the current user doesn't have the ability to make a remote URI search, then redirect the user on the origin instance or fetch
            the data from the origin instance API
        explode: true
        in: query
        name: searchTarget
        required: false
        schema:
          enum:
          - local
          - search-index
          type: string
        style: form
      - description: |
          Sort videos by criteria (prefixing with `-` means `DESC` order):
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - name
          - -duration
          - -createdAt
          - -publishedAt
          - -views
          - -likes
          - -match
          type: string
        style: form
      - description: Whether or not to exclude videos that are in the user's video
          history
        explode: true
        in: query
        name: excludeAlreadyWatched
        required: false
        schema:
          type: boolean
        style: form
      - description: Get videos that are published after this date
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Get videos that are published before this date
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Get videos that are originally published after this date
        explode: true
        in: query
        name: originallyPublishedStartDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Get videos that are originally published before this date
        explode: true
        in: query
        name: originallyPublishedEndDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Get videos that have this minimum duration
        explode: true
        in: query
        name: durationMin
        required: false
        schema:
          type: integer
        style: form
      - description: Get videos that have this maximum duration
        explode: true
        in: query
        name: durationMax
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
          description: successful operation
        "500":
          description: search index unavailable
      summary: Search videos
      tags:
      - Search
      x-accepts:
      - application/json
  /api/v1/server/audit-logs:
    get:
      operationId: getInstanceAuditLogs
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Get instance audit logs
      tags:
      - Logs
      x-accepts:
      - application/json
  /api/v1/server/blocklist/accounts:
    get:
      parameters:
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: List account blocks
      tags:
      - Account Blocks
      x-accepts:
      - application/json
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_server_blocklist_accounts_post_request'
      responses:
        "200":
          description: successful operation
        "409":
          description: self-blocking forbidden
      security:
      - OAuth2:
        - admin
      summary: Block an account
      tags:
      - Account Blocks
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/server/blocklist/accounts/{accountName}:
    delete:
      parameters:
      - description: "account to unblock, in the form `username@domain`"
        explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          description: successful operation
        "404":
          description: account or account block does not exist
      security:
      - OAuth2:
        - admin
      summary: Unblock an account by its handle
      tags:
      - Account Blocks
      x-accepts:
      - application/json
  /api/v1/server/blocklist/servers:
    get:
      parameters:
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: List server blocks
      tags:
      - Server Blocks
      x-accepts:
      - application/json
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_server_blocklist_servers_post_request'
      responses:
        "204":
          description: successful operation
        "409":
          description: self-blocking forbidden
      security:
      - OAuth2:
        - admin
      summary: Block a server
      tags:
      - Server Blocks
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/server/blocklist/servers/{host}:
    delete:
      parameters:
      - description: server domain to unblock
        explode: false
        in: path
        name: host
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "204":
          description: successful operation
        "404":
          description: account block does not exist
      security:
      - OAuth2:
        - admin
      summary: Unblock a server by its domain
      tags:
      - Server Blocks
      x-accepts:
      - application/json
  /api/v1/server/followers:
    get:
      parameters:
      - explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - pending
          - accepted
          type: string
        style: form
      - explode: true
        in: query
        name: actorType
        required: false
        schema:
          enum:
          - Person
          - Application
          - Group
          - Service
          - Organization
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountFollowers_200_response'
          description: successful operation
      summary: List instances following the server
      tags:
      - Instance Follows
      x-accepts:
      - application/json
  /api/v1/server/followers/{nameWithHost}:
    delete:
      parameters:
      - description: The remote actor handle to remove from your followers
        explode: false
        in: path
        name: nameWithHost
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "204":
          description: successful operation
        "404":
          description: follower not found
      security:
      - OAuth2:
        - admin
      summary: Remove or reject a follower to your server
      tags:
      - Instance Follows
      x-accepts:
      - application/json
  /api/v1/server/followers/{nameWithHost}/accept:
    post:
      parameters:
      - description: The remote actor handle to remove from your followers
        explode: false
        in: path
        name: nameWithHost
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "204":
          description: successful operation
        "404":
          description: follower not found
      security:
      - OAuth2:
        - admin
      summary: Accept a pending follower to your server
      tags:
      - Instance Follows
      x-accepts:
      - application/json
  /api/v1/server/followers/{nameWithHost}/reject:
    post:
      parameters:
      - description: The remote actor handle to remove from your followers
        explode: false
        in: path
        name: nameWithHost
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "204":
          description: successful operation
        "404":
          description: follower not found
      security:
      - OAuth2:
        - admin
      summary: Reject a pending follower to your server
      tags:
      - Instance Follows
      x-accepts:
      - application/json
  /api/v1/server/following:
    get:
      parameters:
      - explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - pending
          - accepted
          type: string
        style: form
      - explode: true
        in: query
        name: actorType
        required: false
        schema:
          enum:
          - Person
          - Application
          - Group
          - Service
          - Organization
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountFollowers_200_response'
          description: successful operation
      summary: List instances followed by the server
      tags:
      - Instance Follows
      x-accepts:
      - application/json
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_server_following_post_request'
      responses:
        "204":
          description: successful operation
        "500":
          description: cannot follow a non-HTTPS server
      security:
      - OAuth2:
        - admin
      summary: "Follow a list of actors (PeerTube instance, channel or account)"
      tags:
      - Instance Follows
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/server/following/{hostOrHandle}:
    delete:
      parameters:
      - description: The hostOrHandle to unfollow
        explode: false
        in: path
        name: hostOrHandle
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: successful operation
        "404":
          description: host or handle not found
      security:
      - OAuth2:
        - admin
      summary: "Unfollow an actor (PeerTube instance, channel or account)"
      tags:
      - Instance Follows
      x-accepts:
      - application/json
  /api/v1/server/logs:
    get:
      operationId: getInstanceLogs
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Get instance logs
      tags:
      - Logs
      x-accepts:
      - application/json
  /api/v1/server/logs/client:
    post:
      operationId: sendClientLog
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendClientLog'
      responses:
        "204":
          description: successful operation
      summary: Send client log
      tags:
      - Logs
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/server/redundancy/videos:
    get:
      operationId: getMirroredVideos
      parameters:
      - description: direction of the mirror
        explode: true
        in: query
        name: target
        required: true
        schema:
          enum:
          - my-videos
          - remote-videos
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort abuses by criteria
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - name
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VideoRedundancy'
                type: array
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: List videos being mirrored
      tags:
      - Video Mirroring
      x-accepts:
      - application/json
    post:
      operationId: putMirroredVideo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putMirroredVideo_request'
      responses:
        "204":
          description: successful operation
        "400":
          description: cannot mirror a local video
        "404":
          description: video does not exist
        "409":
          description: video is already mirrored
      security:
      - OAuth2:
        - admin
      summary: Mirror a video
      tags:
      - Video Mirroring
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/server/redundancy/videos/{redundancyId}:
    delete:
      operationId: delMirroredVideo
      parameters:
      - description: id of an existing redundancy on a video
        explode: false
        in: path
        name: redundancyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: successful operation
        "404":
          description: video redundancy not found
      security:
      - OAuth2:
        - admin
      summary: Delete a mirror done on a video
      tags:
      - Video Mirroring
      x-accepts:
      - application/json
  /api/v1/server/redundancy/{host}:
    put:
      parameters:
      - description: server domain to mirror
        explode: false
        in: path
        name: host
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_server_redundancy__host__put_request'
      responses:
        "204":
          description: successful operation
        "404":
          description: server is not already known
      security:
      - OAuth2:
        - admin
      summary: Update a server redundancy policy
      tags:
      - Instance Redundancy
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/server/stats:
    get:
      description: Get instance public statistics. This endpoint is cached.
      operationId: getInstanceStats
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerStats'
          description: successful operation
      summary: Get instance stats
      tags:
      - Stats
      x-accepts:
      - application/json
  /api/v1/users:
    get:
      operationId: getUsers
      parameters:
      - description: Plain text search that will match with user usernames or emails
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Filter results down to (un)banned users
        explode: true
        in: query
        name: blocked
        required: false
        schema:
          type: boolean
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort users by criteria
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -id
          - -username
          - -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: List users
      tags:
      - Users
      x-accepts:
      - application/json
    post:
      operationId: addUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUser'
        description: |
          If the smtp server is configured, you can leave the password empty and an email will be sent
          asking the user to set it first.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserResponse'
          description: user created
          links:
            DelUser:
              operationId: delUser
              parameters:
                id: $response.body#/user/id
            GetUser:
              operationId: getUser
              parameters:
                id: $response.body#/user/id
            PutUser:
              operationId: putUser
              parameters:
                id: $response.body#/user/id
        "403":
          description: insufficient authority to create an admin or moderator
      security:
      - OAuth2:
        - admin
      summary: Create a user
      tags:
      - Users
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/users/ask-send-verify-email:
    post:
      operationId: resendEmailToVerifyUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resendEmailToVerifyUser_request'
      responses:
        "204":
          description: successful operation
      summary: Resend user verification link
      tags:
      - Users
      - Register
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/users/me:
    get:
      operationId: getUserInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: Get my user information
      tags:
      - My User
      x-accepts:
      - application/json
    put:
      operationId: putUserInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMe'
        required: true
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: Update my user information
      tags:
      - My User
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/users/me/abuses:
    get:
      operationId: getMyAbuses
      parameters:
      - description: only list the report with this id
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: state
        required: false
        schema:
          $ref: '#/components/schemas/AbuseStateSet'
        style: form
      - description: Sort abuses by criteria
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -id
          - -createdAt
          - -state
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAbuses_200_response'
          description: successful operation
      security:
      - OAuth2: []
      summary: List my abuses
      tags:
      - Abuses
      - My User
      x-accepts:
      - application/json
  /api/v1/users/me/avatar:
    delete:
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Delete my avatar
      tags:
      - My User
      x-accepts:
      - application/json
  /api/v1/users/me/avatar/pick:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              avatarfile:
                contentType: "image/png, image/jpeg"
                style: form
            schema:
              $ref: '#/components/schemas/_api_v1_users_me_avatar_pick_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_users_me_avatar_pick_post_200_response'
          description: successful operation
        "413":
          description: image file too large
          headers:
            X-File-Maximum-Size:
              description: Maximum file size for the avatar
              explode: false
              schema:
                format: Nginx size
                type: string
              style: simple
      security:
      - OAuth2: []
      summary: Update my user avatar
      tags:
      - My User
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /api/v1/users/me/history/videos:
    get:
      parameters:
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Plain text search, applied to various parts of the model depending\
          \ on endpoint"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
          description: successful operation
      security:
      - OAuth2: []
      summary: List watched videos history
      tags:
      - My History
      x-accepts:
      - application/json
  /api/v1/users/me/history/videos/remove:
    post:
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_api_v1_users_me_history_videos_remove_post_request'
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Clear video history
      tags:
      - My History
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /api/v1/users/me/history/videos/{videoId}:
    delete:
      parameters:
      - explode: false
        in: path
        name: videoId
        required: true
        schema:
          $ref: '#/components/schemas/Video/properties/id'
        style: simple
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Delete history element
      tags:
      - My History
      x-accepts:
      - application/json
  /api/v1/users/me/notification-settings:
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_users_me_notification_settings_put_request'
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Update my notification settings
      tags:
      - My Notifications
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/users/me/notifications:
    get:
      parameters:
      - description: only list unread notifications
        explode: true
        in: query
        name: unread
        required: false
        schema:
          type: boolean
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
          description: successful operation
      security:
      - OAuth2: []
      summary: List my notifications
      tags:
      - My Notifications
      x-accepts:
      - application/json
  /api/v1/users/me/notifications/read:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_users_me_notifications_read_post_request'
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Mark notifications as read by their id
      tags:
      - My Notifications
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/users/me/notifications/read-all:
    post:
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Mark all my notification as read
      tags:
      - My Notifications
      x-accepts:
      - application/json
  /api/v1/users/me/subscriptions:
    get:
      parameters:
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoChannelList'
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: Get my user subscriptions
      tags:
      - My Subscriptions
      x-accepts:
      - application/json
    post:
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  uri: 008a0e54-375d-49d0-8379-143202e24152@video.lqdn.fr
            schema:
              $ref: '#/components/schemas/_api_v1_users_me_subscriptions_post_request'
      responses:
        "200":
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: Add subscription to my user
      tags:
      - My Subscriptions
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/users/me/subscriptions/exist:
    get:
      parameters:
      - description: list of uris to check if each is part of the user subscriptions
        explode: true
        in: query
        name: uris
        required: true
        schema:
          items:
            format: uri
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: Get if subscriptions exist for my user
      tags:
      - My Subscriptions
      x-accepts:
      - application/json
  /api/v1/users/me/subscriptions/videos:
    get:
      parameters:
      - description: "category id of the video (see [/videos/categories](#operation/getCategories))"
        explode: false
        in: query
        name: categoryOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_categoryOneOf_parameter'
        style: form
      - description: whether or not the video is a live
        explode: true
        in: query
[...]
