openapi: 3.0.3
info:
  contact: {}
  title: balldontlie
  version: 1.0.0
  x-apisguru-categories:
  - open_data
  x-logo:
    url: https://balldontlie.io/logo192.png
  x-origin:
  - format: postman
    url: https://www.postman.com/collections/c51c3810db2ab3ca4ab4
    version: "1.0"
  x-providerName: balldontlie.io
servers:
- url: https://balldontlie.io
tags:
- name: players
- name: teams
- name: games
- name: stats
paths:
  /api/v1/games:
    get:
      description: all games (example parameters)
      operationId: all_games_example_parameters
      parameters:
      - explode: true
        in: query
        name: "seasons[]"
        required: false
        schema:
          example: "2018"
          type: string
        style: form
      - explode: true
        in: query
        name: "team_ids[]"
        required: false
        schema:
          example: "1"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: all games (example parameters)
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /api/v1/games/32881:
    get:
      description: specific game
      operationId: specific_game
      responses:
        "200":
          description: ""
      summary: specific game
      tags:
      - games
      x-openapi-router-controller: openapi_server.controllers.games_controller
  /api/v1/players:
    get:
      description: all players (search)
      operationId: all_players_search
      parameters:
      - explode: true
        in: query
        name: search
        required: false
        schema:
          example: lebron
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: all players (search)
      tags:
      - players
      x-openapi-router-controller: openapi_server.controllers.players_controller
  /api/v1/players/237:
    get:
      description: specific player
      operationId: specific_player
      responses:
        "200":
          description: ""
      summary: specific player
      tags:
      - players
      x-openapi-router-controller: openapi_server.controllers.players_controller
  /api/v1/stats:
    get:
      description: all stats (example parameters)
      operationId: all_stats_example_parameters
      parameters:
      - explode: true
        in: query
        name: "season[]"
        required: false
        schema:
          example: "2018"
          type: string
        style: form
      - explode: true
        in: query
        name: "player_ids[]"
        required: false
        schema:
          example: "237"
          type: string
        style: form
      responses:
        "200":
          description: ""
      summary: all stats (example parameters)
      tags:
      - stats
      x-openapi-router-controller: openapi_server.controllers.stats_controller
  /api/v1/teams:
    get:
      description: all teams
      operationId: all_teams
      responses:
        "200":
          description: ""
      summary: all teams
      tags:
      - teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /api/v1/teams/1:
    get:
      description: specific team
      operationId: specific_team
      responses:
        "200":
          description: ""
      summary: specific team
      tags:
      - teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
components:
  schemas: {}
