openapi: 3.0.1
info:
  title: ServiceFabricManagementClient
  version: 2016-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2016-09-01/servicefabric.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: servicefabric
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ServiceFabric/operations:
    get:
      description: Lists all of the available ServiceFabric REST API operations.
      operationId: Operations_List
      parameters:
      - description: The version of the ServiceFabric resource provider api
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/clusters:
    get:
      description: List cluster resource
      operationId: Clusters_List
      parameters:
      - description: The version of the ServiceFabric resource provider api
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK - Get cluster  successfully
      tags:
      - ClusterListOperation
      x-ms-examples:
        List clusters:
          parameters:
            api-version: 2016-09-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/bmwdemo/providers/Microsoft.ServiceFabric/clusters/bmwdemo
                  location: westus
                  name: bmwdemo
                  properties:
                    availableClusterVersions:
                    - codeVersion: 5.4.164.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    clientCertificateCommonNames: []
                    clientCertificateThumbprints: []
                    clusterCodeVersion: 5.4.164.9494
                    clusterEndpoint: https://westus.servicefabric.azure.com/runtime/clusters/a4e23572-8443-470e-adcb-3b7ebe6d582b
                    clusterId: a4e23572-8443-470e-adcb-3b7ebe6d582b
                    clusterState: Ready
                    diagnosticsStorageAccountConfig:
                      blobEndpoint: https://sflogsbmwdemo4564.blob.core.windows.net/
                      protectedAccountKeyName: StorageAccountKey1
                      queueEndpoint: https://sflogsbmwdemo4564.queue.core.windows.net/
                      storageAccountName: sflogsbmwdemo4564
                      tableEndpoint: https://sflogsbmwdemo4564.table.core.windows.net/
                    fabricSettings: []
                    managementEndpoint: http://bmwdemo.westus.cloudapp.azure.com:19080
                    nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 65534
                        startPort: 49152
                      httpGatewayEndpointPort: 19080
                      isPrimary: true
                      name: Demo
                      vmInstanceCount: 5
                    provisioningState: Succeeded
                    reliabilityLevel: Silver
                    upgradeDescription:
                      deltaHealthPolicy:
                        maxPercentDeltaUnhealthyApplications: 0
                        maxPercentDeltaUnhealthyNodes: 0
                        maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                      forceRestart: true
                      healthCheckRetryTimeout: 00:45:00
                      healthCheckStableDuration: 00:05:00
                      healthCheckWaitDuration: 00:05:00
                      healthPolicy:
                        maxPercentUnhealthyApplications: 100
                        maxPercentUnhealthyNodes: 100
                      overrideUserUpgradePolicy: false
                      upgradeDomainTimeout: 02:00:00
                      upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                      upgradeTimeout: 12:00:00
                    upgradeMode: Automatic
                    vmImage: Windows
                  tags:
                    clusterName: bmwdemo
                    resourceType: Service Fabric
                  type: Microsoft.ServiceFabric/clusters
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/psdeployrg4/providers/Microsoft.ServiceFabric/clusters/sfclust4
                  location: southcentralus
                  name: sfclust4
                  properties:
                    availableClusterVersions:
                    - codeVersion: 5.1.158.9590
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.2.0.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.2.207.9590
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.3.121.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.3.311.9590
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.30.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.35.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.38.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.118.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.132.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.145.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.164.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.5.67.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.5.149.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    certificate:
                      thumbprint: 68A89C30F20B2A198B0A26DF3744079D0F5AC2FC
                      x509StoreName: My
                    clientCertificateCommonNames: []
                    clientCertificateThumbprints: []
                    clusterCodeVersion: 5.5.149.9494
                    clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/029c03b7-d94e-4c64-9dd4-b1c3bb0914c1
                    clusterId: 029c03b7-d94e-4c64-9dd4-b1c3bb0914c1
                    clusterState: Ready
                    diagnosticsStorageAccountConfig:
                      blobEndpoint: https://t2vgl3f2bk6qw2.blob.core.windows.net/
                      protectedAccountKeyName: StorageAccountKey1
                      queueEndpoint: https://t2vgl3f2bk6qw2.queue.core.windows.net/
                      storageAccountName: t2vgl3f2bk6qw2
                      tableEndpoint: https://t2vgl3f2bk6qw2.table.core.windows.net/
                    fabricSettings:
                    - name: Security
                      parameters:
                      - name: ClusterProtectionLevel
                        value: EncryptAndSign
                    managementEndpoint: https://sfclust4.southcentralus.cloudapp.azure.com:19080
                    nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 65534
                        startPort: 49152
                      httpGatewayEndpointPort: 19080
                      isPrimary: true
                      name: nt1vm
                      vmInstanceCount: 5
                    provisioningState: Succeeded
                    reliabilityLevel: Silver
                    upgradeDescription:
                      deltaHealthPolicy:
                        maxPercentDeltaUnhealthyApplications: 0
                        maxPercentDeltaUnhealthyNodes: 0
                        maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                      forceRestart: true
                      healthCheckRetryTimeout: 00:45:00
                      healthCheckStableDuration: 00:05:00
                      healthCheckWaitDuration: 00:05:00
                      healthPolicy:
                        maxPercentUnhealthyApplications: 100
                        maxPercentUnhealthyNodes: 100
                      overrideUserUpgradePolicy: false
                      upgradeDomainTimeout: 02:00:00
                      upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                      upgradeTimeout: 12:00:00
                    upgradeMode: Automatic
                    vmImage: Windows
                  tags:
                    clusterName: sfclust4
                    resourceType: Service Fabric
                  type: Microsoft.ServiceFabric/clusters
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions:
    get:
      description: List cluster code versions by location
      operationId: ClusterVersions_List
      parameters:
      - description: "The location for the cluster code versions, this is different\
          \ from cluster location"
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the ServiceFabric resource provider api
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsListResult'
          description: OK - List cluster code versions successfully
      tags:
      - ClusterVersion
      x-ms-examples:
        List cluster versions:
          parameters:
            api-version: 2016-09-01
            location: westus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.5.216.0
                  name: 5.5.216.0
                  properties:
                    codeVersion: 5.5.216.0
                    environment: Windows
                    supportExpiryUtc: 2017-08-10T00:00:00
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.5.219.0
                  name: 5.5.219.0
                  properties:
                    codeVersion: 5.5.219.0
                    environment: Windows
                    supportExpiryUtc: 2017-08-10T00:00:00
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.5.232.0
                  name: 5.5.232.0
                  properties:
                    codeVersion: 5.5.232.0
                    environment: Windows
                    supportExpiryUtc: 2017-08-10T00:00:00
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.204.9494
                  name: 5.6.204.9494
                  properties:
                    codeVersion: 5.6.204.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.205.9494
                  name: 5.6.205.9494
                  properties:
                    codeVersion: 5.6.205.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.210.9494
                  name: 5.6.210.9494
                  properties:
                    codeVersion: 5.6.210.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.220.9494
                  name: 5.6.220.9494
                  properties:
                    codeVersion: 5.6.220.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/255.255.5718.255
                  name: 255.255.5718.255
                  properties:
                    codeVersion: 255.255.5718.255
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Linux/clusterVersions/5.3.0.0
                  name: 5.3.0.0
                  properties:
                    codeVersion: 5.3.0.0
                    environment: Linux
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Linux/clusterVersions/5.3.0.3
                  name: 5.3.0.3
                  properties:
                    codeVersion: 5.3.0.3
                    environment: Linux
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Linux/clusterVersions/5.4.0.0
                  name: 5.4.0.0
                  properties:
                    codeVersion: 5.4.0.0
                    environment: Linux
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Linux/clusterVersions/5.5.0.2
                  name: 5.5.0.2
                  properties:
                    codeVersion: 5.5.0.2
                    environment: Linux
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Linux/clusterVersions/5.6.3.6
                  name: 5.6.3.6
                  properties:
                    codeVersion: 5.6.3.6
                    environment: Linux
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions/{clusterVersion}:
    get:
      description: List cluster code versions by version
      operationId: ClusterVersions_ListByVersion
      parameters:
      - description: "The location for the cluster code versions, this is different\
          \ from cluster location"
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the ServiceFabric resource provider api
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The cluster code version
        in: path
        name: clusterVersion
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsListResult'
          description: OK - Get cluster code versions successfully
      tags:
      - ClusterVersionsListOperation
      x-ms-examples:
        List cluster version:
          parameters:
            api-version: 2016-09-01
            clusterVersion: 5.5.216.0
            location: westus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.5.216.0
                  name: 5.5.216.0
                  properties:
                    codeVersion: 5.5.216.0
                    environment: Windows
                    supportExpiryUtc: 2017-08-10T00:00:00
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions
  : get:
      description: List cluster code versions by environment
      operationId: ClusterVersions_ListByEnvironment
      parameters:
      - description: "The location for the cluster code versions, this is different\
          \ from cluster location"
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Cluster operating system, the default means all"
        in: path
        name: environment
        required: true
        schema:
          enum:
          - Windows
          - Linux
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the ServiceFabric resource provider api
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsListResult'
          description: OK - List cluster code versions successfully
      tags:
      - ClusterVersion
      x-ms-examples:
        List cluster version:
          parameters:
            api-version: 2016-09-01
            environment: Windows
            location: westus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.5.216.0
                  name: 5.5.216.0
                  properties:
                    codeVersion: 5.5.216.0
                    environment: Windows
                    supportExpiryUtc: 2017-08-10T00:00:00
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.5.219.0
                  name: 5.5.219.0
                  properties:
                    codeVersion: 5.5.219.0
                    environment: Windows
                    supportExpiryUtc: 2017-08-10T00:00:00
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.5.232.0
                  name: 5.5.232.0
                  properties:
                    codeVersion: 5.5.232.0
                    environment: Windows
                    supportExpiryUtc: 2017-08-10T00:00:00
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.204.9494
                  name: 5.6.204.9494
                  properties:
                    codeVersion: 5.6.204.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.205.9494
                  name: 5.6.205.9494
                  properties:
                    codeVersion: 5.6.205.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.210.9494
                  name: 5.6.210.9494
                  properties:
                    codeVersion: 5.6.210.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.220.9494
                  name: 5.6.220.9494
                  properties:
                    codeVersion: 5.6.220.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/255.255.5718.255
                  name: 255.255.5718.255
                  properties:
                    codeVersion: 255.255.5718.255
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions/{clusterVersion}
  : get:
      description: Get cluster code versions by environment and version
      operationId: ClusterVersions_Get
      parameters:
      - description: "The location for the cluster code versions, this is different\
          \ from cluster location"
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Cluster operating system, the default means all"
        in: path
        name: environment
        required: true
        schema:
          enum:
          - Windows
          - Linux
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the ServiceFabric resource provider api
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The cluster code version
        in: path
        name: clusterVersion
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsResult'
          description: OK - Get cluster code versions successfully
      tags:
      - ClusterVersion
      x-ms-examples:
        List cluster version:
          parameters:
            api-version: 2016-09-01
            clusterVersion: 5.6.210.9494
            environment: Windows
            location: westus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.210.9494
                name: 5.6.210.9494
                properties:
                  codeVersion: 5.6.210.9494
                  environment: Windows
                  supportExpiryUtc: 9999-12-31T23:59:59.9999999
                type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}:
    delete:
      description: Delete cluster resource
      operationId: Clusters_Delete
      parameters:
      - description: The name of the resource group to which the resource belongs
          or get created
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the ServiceFabric resource provider api
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK - cluster deleted  successfully
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      tags:
      - ClusterDeleteOperation
      x-ms-examples:
        Delete a cluster:
          parameters:
            api-version: 2016-09-01
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get cluster resource
      operationId: Clusters_Get
      parameters:
      - description: The name of the resource group to which the resource belongs
          or get created
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the ServiceFabric resource provider api
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: OK - Get cluster successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      tags:
      - ClusterGetOperation
      x-ms-examples:
        Get a cluster:
          parameters:
            api-version: 2016-09-01
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: southcentralus
                name: myCluster
                properties:
                  availableClusterVersions:
                  - codeVersion: 5.1.158.9590
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.2.0.100
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.2.207.9590
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.3.121.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.3.311.9590
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.30.100
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.35.100
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.38.100
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.118.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.132.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.145.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.164.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.5.67.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.5.149.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  certificate:
                    thumbprint: 1901CF0F76AF711BEE53DF39941092BDAC8D9050
                    x509StoreName: My
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 5.5.149.9494
                  clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/1a1acec2-8d75-424a-81af-2fb83dd1cac8
                  clusterId: 1a1acec2-8d75-424a-81af-2fb83dd1cac8
                  clusterState: Ready
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://3nrb4ixoj6ogq2.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://3nrb4ixoj6ogq2.queue.core.windows.net/
                    storageAccountName: 3nrb4ixoj6ogq2
                    tableEndpoint: https://3nrb4ixoj6ogq2.table.core.windows.net/
                  fabricSettings:
                  - name: Security
                    parameters:
                    - name: ClusterProtectionLevel
                      value: EncryptAndSign
                  managementEndpoint: https://myCluster.southcentralus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 65534
                      startPort: 49152
                    httpGatewayEndpointPort: 19080
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  provisioningState: Succeeded
                  reliabilityLevel: Silver
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:45:00
                    healthCheckStableDuration: 00:05:00
                    healthCheckWaitDuration: 00:05:00
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    overrideUserUpgradePolicy: false
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: 12:00:00
                  upgradeMode: Automatic
                  vmImage: Windows
                tags:
                  clusterName: myCluster
                  resourceType: Service Fabric
                type: Microsoft.ServiceFabric/clusters
              headers: {}
      x-accepts:
      - application/json
    patch:
      description: Update cluster configuration
      operationId: Clusters_Update
      parameters:
      - description: The name of the resource group to which the resource belongs
          or get created
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the ServiceFabric resource provider api
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterUpdateParameters'
        description: The parameters which contains the property value and property
          name which used to update the cluster configuration
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: OK - Cluster updated successfully
        "202":
          content: {}
          description: Accepted - Update request accepted; the operation will complete
            asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      tags:
      - ClusterPatchOperation
      x-ms-examples:
        Patch a cluster:
          parameters:
            api-version: 2016-09-01
            clusterName: myCluster
            parameters:
              properties:
                nodeTypes:
                - applicationPorts:
                    endPort: 30000
                    startPort: 20000
                  clientConnectionEndpointPort: 19000
                  durabilityLevel: Silver
                  ephemeralPorts:
                    endPort: 65534
                    startPort: 49152
                  httpGatewayEndpointPort: 19080
                  isPrimary: true
                  name: n1
                  reverseProxyEndpointPort: 9998
                  vmInstanceCount: 5
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: southcentralus
                name: myCluster
                properties:
                  availableClusterVersions:
                  - codeVersion: 5.4.145.9494
                    environment: Windows
                    supportExpiryUtc: 2017-05-10T00:00:00
                  - codeVersion: 5.4.164.9494
                    environment: Windows
                    supportExpiryUtc: 2017-05-10T00:00:00
                  - codeVersion: 5.5.216.0
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 5.5.216.0
                  clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/8d566293-3508-4d62-ba7b-056fa710c3c9
                  clusterId: 8d566293-3508-4d62-ba7b-056fa710c3c9
                  clusterState: Ready
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://sflogssdktest5486.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://sflogssdktest5486.queue.core.windows.net/
                    storageAccountName: sflogssdktest5486
                    tableEndpoint: https://sflogssdktest5486.table.core.windows.net/
                  fabricSettings: []
                  managementEndpoint: http://myCluster.southcentralus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Silver
                    ephemeralPorts:
                      endPort: 65534
                      startPort: 49152
                    httpGatewayEndpointPort: 19080
                    isPrimary: true
                    name: n1
                    reverseProxyEndpointPort: 9998
                    vmInstanceCount: 5
                  provisioningState: Succeeded
                  reliabilityLevel: Bronze
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:00:01
                    healthCheckStableDuration: 00:00:01
                    healthCheckWaitDuration: 00:00:01
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    overrideUserUpgradePolicy: false
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: 12:00:00
                  upgradeMode: Automatic
                  vmImage: Windows
                tags: {}
                type: Microsoft.ServiceFabric/clusters
              headers: {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create cluster resource
      operationId: Clusters_Create
      parameters:
      - description: The name of the resource group to which the resource belongs
          or get created
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the ServiceFabric resource provider api
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
        description: Put Request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: OK - Put cluster successfully
        "202":
          content: {}
          description: Accepted - Put request accepted; the operation will complete
            asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      tags:
      - ClusterCreateOperation
      x-ms-examples:
        Put a cluster with max parameter:
          parameters:
            api-version: 2016-09-01
            clusterName: myCluster
            parameters:
              location: southcentralus
              properties:
                azureActiveDirectory:
                  clientApplication: 00000000-0000-0000-0000-000000000000
                  clusterApplication: 00000000-0000-0000-0000-000000000000
                  tenantId: 00000000-0000-0000-0000-000000000000
                certificate:
                  thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                  thumbprintSecondary: 361A93445450CC8F2FF747F74500E8044942DAFD
                  x509StoreName: My
                clientCertificateCommonNames:
                - certificateCommonName: abc.com
                  certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                  isAdmin: true
                clientCertificateThumbprints:
                - 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                clusterCodeVersion: 5.5.149.9494
                diagnosticsStorageAccountConfig:
                  blobEndpoint: https://7623qfhwmnstw2.blob.core.windows.net/
                  protectedAccountKeyName: StorageAccountKey1
                  queueEndpoint: https://7623qfhwmnstw2.queue.core.windows.net/
                  storageAccountName: 7623qfhwmnstw2
                  tableEndpoint: https://7623qfhwmnstw2.table.core.windows.net/
                fabricSettings:
                - name: Security
                  parameters:
                  - name: ClusterProtectionLevel
                    value: EncryptAndSign
                managementEndpoint: https://sfclust2.southcentralus.cloudapp.azure.com:19080
                nodeTypes:
                - applicationPorts:
                    endPort: 30000
                    startPort: 20000
                  clientConnectionEndpointPort: 19000
                  durabilityLevel: Bronze
                  ephemeralPorts:
                    endPort: 65534
                    startPort: 49152
                  httpGatewayEndpointPort: 19080
                  isPrimary: true
                  name: nt1vm
                  vmInstanceCount: 5
                provisioningState: Succeeded
                reliabilityLevel: Silver
                upgradeDescription:
                  deltaHealthPolicy:
                    maxPercentDeltaUnhealthyApplications: 0
                    maxPercentDeltaUnhealthyNodes: 0
                    maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                  forceRestart: true
                  healthCheckRetryTimeout: 00:45:00
                  healthCheckStableDuration: 00:05:00
                  healthCheckWaitDuration: 00:05:00
                  healthPolicy:
                    maxPercentUnhealthyApplications: 100
                    maxPercentUnhealthyNodes: 100
                  overrideUserUpgradePolicy: false
                  upgradeDomainTimeout: 02:00:00
                  upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                  upgradeTimeout: 12:00:00
                upgradeMode: Automatic
                vmImage: Windows
              tags:
                clusterName: myCluster
                resourceType: Service Fabric
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: southcentralus
                name: myCluster
                properties:
                  availableClusterVersions:
                  - codeVersion: 5.1.158.9590
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.2.0.100
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.2.207.9590
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.3.121.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.3.311.9590
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.30.100
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.35.100
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.38.100
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.118.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.132.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.145.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.164.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.5.67.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.5.149.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  azureActiveDirectory:
                    clientApplication: 00000000-0000-0000-0000-000000000000
                    clusterApplication: 00000000-0000-0000-0000-000000000000
                    tenantId: 00000000-0000-0000-0000-000000000000
                  certificate:
                    thumbprint: 483B5DE52ECA35147B94C5E116FA7B2E34BB68F9
                    x509StoreName: My
                  clientCertificateCommonNames:
                  - certificateCommonName: abc.com
                    certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    isAdmin: true
                  clientCertificateThumbprints:
                  - 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                  clusterCodeVersion: 5.5.149.9494
                  clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/466e7604-b8ae-4696-a91d-d7b5fcc63628
                  clusterId: 466e7604-b8ae-4696-a91d-d7b5fcc63628
                  clusterState: UpdatingUserConfiguration
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://ba3wzulspn67w2.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://ba3wzulspn67w2.queue.core.windows.net/
                    storageAccountName: ba3wzulspn67w2
                    tableEndpoint: https://ba3wzulspn67w2.table.core.windows.net/
                  fabricSettings:
                  - name: Hosting
                    parameters:
                    - name: ActivationMaxRetryInterval
                      value: "10000"
                  managementEndpoint: https://myCluster.southcentralus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 65534
                      startPort: 49152
                    httpGatewayEndpointPort: 19080
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  provisioningState: Updating
                  reliabilityLevel: Silver
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:45:00
                    healthCheckStableDuration: 00:05:00
                    healthCheckWaitDuration: 00:05:00
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    overrideUserUpgradePolicy: false
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: 12:00:00
                  upgradeMode: Automatic
                  vmImage: Windows
                tags:
                  clusterName: myCluster
                  resourceType: Service Fabric
                type: Microsoft.ServiceFabric/clusters
              headers: {}
            "202": {}
        Put a cluster with min parameter:
          parameters:
            api-version: 2016-09-01
            clusterName: myCluster
            parameters:
              location: southcentralus
              properties:
                clusterCodeVersion: 5.5.149.9494
                diagnosticsStorageAccountConfig:
                  blobEndpoint: https://7623qfhwmnstw2.blob.core.windows.net/
                  protectedAccountKeyName: StorageAccountKey1
                  queueEndpoint: https://7623qfhwmnstw2.queue.core.windows.net/
                  storageAccountName: 7623qfhwmnstw2
                  tableEndpoint: https://7623qfhwmnstw2.table.core.windows.net/
                managementEndpoint: https://myCluster.southcentralus.cloudapp.azure.com:19080
                nodeTypes:
                - applicationPorts:
                    endPort: 30000
                    startPort: 20000
                  clientConnectionEndpointPort: 19000
                  durabilityLevel: Bronze
                  ephemeralPorts:
                    endPort: 65534
                    startPort: 49152
                  httpGatewayEndpointPort: 19080
                  isPrimary: true
                  name: nt1vm
                  vmInstanceCount: 5
                provisioningState: Succeeded
                reliabilityLevel: Silver
                upgradeMode: Automatic
                vmImage: Windows
              tags:
                clusterName: myCluster
                resourceType: Service Fabric
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: southcentralus
                name: myCluster
                properties:
                  availableClusterVersions:
                  - codeVersion: 5.1.158.9590
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.2.0.100
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.2.207.9590
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.3.121.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.3.311.9590
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.30.100
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.35.100
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.38.100
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.118.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.132.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.145.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.4.164.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.5.67.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  - codeVersion: 5.5.149.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  certificate:
                    thumbprint: 483B5DE52ECA35147B94C5E116FA7B2E34BB68F9
                    x509StoreName: My
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 5.5.149.9494
                  clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/466e7604-b8ae-4696-a91d-d7b5fcc63628
                  clusterId: 466e7604-b8ae-4696-a91d-d7b5fcc63628
                  clusterState: UpdatingUserConfiguration
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://ba3wzulspn67w2.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://ba3wzulspn67w2.queue.core.windows.net/
                    storageAccountName: ba3wzulspn67w2
                    tableEndpoint: https://ba3wzulspn67w2.table.core.windows.net/
                  fabricSettings: []
                  managementEndpoint: https://myCluster.southcentralus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 65534
                      startPort: 49152
                    httpGatewayEndpointPort: 19080
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  provisioningState: Updating
                  reliabilityLevel: Silver
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:45:00
                    healthCheckStableDuration: 00:05:00
                    healthCheckWaitDuration: 00:05:00
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    overrideUserUpgradePolicy: false
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: 12:00:00
                  upgradeMode: Automatic
                  vmImage: Windows
                tags:
                  clusterName: myCluster
                  resourceType: Service Fabric
                type: Microsoft.ServiceFabric/clusters
              headers: {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters:
    get:
      description: List cluster resource by resource group
      operationId: Clusters_ListByResourceGroup
      parameters:
      - description: The name of the resource group to which the resource belongs
          or get created
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the ServiceFabric resource provider api
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK - Get cluster  successfully
      tags:
      - ClusterListByResourceGroupOperation
      x-ms-examples:
        List cluster by resource group:
          parameters:
            api-version: 2016-09-01
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/psrg1/providers/Microsoft.ServiceFabric/clusters/testcluster
                  location: southcentralus
                  name: testcluster
                  properties:
                    availableClusterVersions:
                    - codeVersion: 5.4.145.9494
                      environment: Windows
                      supportExpiryUtc: 2017-05-10T00:00:00
                    - codeVersion: 5.4.164.9494
                      environment: Windows
                      supportExpiryUtc: 2017-05-10T00:00:00
                    - codeVersion: 5.5.216.0
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.5.219.0
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    certificate:
                      thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      x509StoreName: My
                    clientCertificateCommonNames: []
                    clientCertificateThumbprints: []
                    clusterCodeVersion: 5.5.216.0
                    clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/29cfe945-7ff1-4234-b567-09871226d4f6
                    clusterId: 29cfe945-7ff1-4234-b567-09871226d4f6
                    clusterState: Ready
                    diagnosticsStorageAccountConfig:
                      blobEndpoint: https://sflogppe231337596.blob.core.windows.net/
                      protectedAccountKeyName: StorageAccountKey1
                      queueEndpoint: https://sflogppe231337596.queue.core.windows.net/
                      storageAccountName: sflogppe231337596
                      tableEndpoint: https://sflogppe231337596.table.core.windows.net/
                    fabricSettings:
                    - name: Security
                      parameters:
                      - name: ClusterProtectionLevel
                        value: EncryptAndSign
                    managementEndpoint: https://testcluster.southcentralus.cloudapp.azure.com:19080
                    nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Silver
                      ephemeralPorts:
                        endPort: 65534
                        startPort: 49152
                      httpGatewayEndpointPort: 19080
                      isPrimary: true
                      name: n1
                      vmInstanceCount: 5
                    provisioningState: Succeeded
                    reliabilityLevel: Silver
                    upgradeDescription:
                      deltaHealthPolicy:
                        maxPercentDeltaUnhealthyApplications: 0
                        maxPercentDeltaUnhealthyNodes: 0
                        maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                      forceRestart: false
                      healthCheckRetryTimeout: 00:45:00
                      healthCheckStableDuration: 00:05:00
                      healthCheckWaitDuration: 00:05:00
                      healthPolicy:
                        maxPercentUnhealthyApplications: 100
                        maxPercentUnhealthyNodes: 100
                      overrideUserUpgradePolicy: false
                      upgradeDomainTimeout: 02:00:00
                      upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                      upgradeTimeout: 12:00:00
                    upgradeMode: Automatic
                    vmImage: Windows
                  tags:
                    clusterName: testcluster
                    resourceType: Service Fabric
                  type: Microsoft.ServiceFabric/clusters
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
components:
  parameters:
    api-version:
      description: The version of the ServiceFabric resource provider api
      in: query
      name: api-version
      required: true
      schema:
        type: string
    clusterNameParameter:
      description: The name of the cluster resource
      in: path
      name: clusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    clusterVersion:
      description: The cluster code version
      in: path
      name: clusterVersion
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    environment:
      description: "Cluster operating system, the default means all"
      in: path
      name: environment
      required: true
      schema:
        enum:
        - Windows
        - Linux
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    locationForClusterCodeVersions:
      description: "The location for the cluster code versions, this is different\
        \ from cluster location"
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: The name of the resource group to which the resource belongs or
        get created
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionId:
      description: The customer subscription identifier
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AvailableOperationDisplay:
      description: Operation supported by ServiceFabric resource provider
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: Operation description
          type: string
        operation:
          description: Operation name
          type: string
        provider:
          description: Provider name
          type: string
        resource:
          description: Resource name
          type: string
      type: object
    AzureActiveDirectory:
      description: The settings to enable AAD authentication on the cluster
      example:
        clientApplication: clientApplication
        tenantId: tenantId
        clusterApplication: clusterApplication
      properties:
        clientApplication:
          description: Azure active directory client application id
          type: string
        clusterApplication:
          description: Azure active directory cluster application id
          type: string
        tenantId:
          description: Azure active directory tenant id
          type: string
      type: object
    CertificateDescription:
      description: Certificate details
      example:
        x509StoreName: AddressBook
        thumbprint: thumbprint
        thumbprintSecondary: thumbprintSecondary
      properties:
        thumbprint:
          description: Thumbprint of the primary certificate
          type: string
        thumbprintSecondary:
          description: Thumbprint of the secondary certificate
          type: string
        x509StoreName:
          description: The local certificate store location
          enum:
          - AddressBook
          - AuthRoot
          - CertificateAuthority
          - Disallowed
          - My
          - Root
          - TrustedPeople
          - TrustedPublisher
          type: string
      required:
      - thumbprint
      type: object
    ClientCertificateCommonName:
      description: Client certificate details using common name
      example:
        isAdmin: true
        certificateIssuerThumbprint: certificateIssuerThumbprint
        certificateCommonName: certificateCommonName
      properties:
        certificateCommonName:
          description: Certificate common name to be granted access; be careful using
            wild card common names
          type: string
        certificateIssuerThumbprint:
          description: Certificate issuer thumbprint
          type: string
        isAdmin:
          description: "Is this certificate used for admin access from the client,\
            \ if false , it is used or query only access"
          type: boolean
      required:
      - certificateCommonName
      - certificateIssuerThumbprint
      - isAdmin
      type: object
    ClientCertificateThumbprint:
      description: Client certificate details using thumbprint
      example:
        certificateThumbprint: certificateThumbprint
        isAdmin: true
      properties:
        certificateThumbprint:
          description: Certificate thumbprint
          type: string
        isAdmin:
          description: "Is this certificate used for admin access from the client,\
            \ if false, it is used or query only access"
          type: boolean
      required:
      - certificateThumbprint
      - isAdmin
      type: object
    Cluster:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The cluster resource
      example:
        properties:
          clusterEndpoint: clusterEndpoint
          availableClusterVersions:
          - supportExpiryUtc: supportExpiryUtc
            environment: Windows
            codeVersion: codeVersion
          - supportExpiryUtc: supportExpiryUtc
            environment: Windows
            codeVersion: codeVersion
          certificate:
            x509StoreName: AddressBook
            thumbprint: thumbprint
            thumbprintSecondary: thumbprintSecondary
          clusterId: clusterId
          provisioningState: Updating
          reverseProxyCertificate:
            x509StoreName: AddressBook
            thumbprint: thumbprint
            thumbprintSecondary: thumbprintSecondary
          upgradeDescription:
            healthCheckRetryTimeout: healthCheckRetryTimeout
            upgradeReplicaSetCheckTimeout: upgradeReplicaSetCheckTimeout
            healthCheckWaitDuration: healthCheckWaitDuration
            forceRestart: true
            deltaHealthPolicy:
              maxPercentUpgradeDomainDeltaUnhealthyNodes: 36
              maxPercentDeltaUnhealthyApplications: 70
              maxPercentDeltaUnhealthyNodes: 93
            healthPolicy:
              maxPercentUnhealthyApplications: 20
              maxPercentUnhealthyNodes: 41
            overrideUserUpgradePolicy: true
            healthCheckStableDuration: healthCheckStableDuration
            upgradeDomainTimeout: upgradeDomainTimeout
            upgradeTimeout: upgradeTimeout
          managementEndpoint: managementEndpoint
          vmImage: vmImage
          upgradeMode: Automatic
          azureActiveDirectory:
            clientApplication: clientApplication
            tenantId: tenantId
            clusterApplication: clusterApplication
          clientCertificateCommonNames:
          - isAdmin: true
            certificateIssuerThumbprint: certificateIssuerThumbprint
            certificateCommonName: certificateCommonName
          - isAdmin: true
            certificateIssuerThumbprint: certificateIssuerThumbprint
            certificateCommonName: certificateCommonName
          fabricSettings:
          - name: name
            parameters:
            - name: name
              value: value
            - name: name
              value: value
          - name: name
            parameters:
            - name: name
              value: value
            - name: name
              value: value
          nodeTypes:
          - ephemeralPorts:
              startPort: 6
              endPort: 0
            reverseProxyEndpointPort: 5
            applicationPorts:
              startPort: 6
              endPort: 0
            durabilityLevel: Bronze
            httpGatewayEndpointPort: 5
            isPrimary: true
            name: name
            capacities:
              key: capacities
            placementProperties:
              key: placementProperties
            clientConnectionEndpointPort: 1
            vmInstanceCount: 494379917
          - ephemeralPorts:
              startPort: 6
              endPort: 0
            reverseProxyEndpointPort: 5
            applicationPorts:
              startPort: 6
              endPort: 0
            durabilityLevel: Bronze
            httpGatewayEndpointPort: 5
            isPrimary: true
            name: name
            capacities:
              key: capacities
            placementProperties:
              key: placementProperties
            clientConnectionEndpointPort: 1
            vmInstanceCount: 494379917
          reliabilityLevel: Bronze
          clusterState: WaitingForNodes
          diagnosticsStorageAccountConfig:
            protectedAccountKeyName: protectedAccountKeyName
            queueEndpoint: queueEndpoint
            storageAccountName: storageAccountName
            blobEndpoint: blobEndpoint
            tableEndpoint: tableEndpoint
          clientCertificateThumbprints:
          - certificateThumbprint: certificateThumbprint
            isAdmin: true
          - certificateThumbprint: certificateThumbprint
            isAdmin: true
          clusterCodeVersion: clusterCodeVersion
      properties:
        properties:
          $ref: '#/components/schemas/ClusterProperties'
    ClusterCodeVersionsListResult:
      description: The list results of the ServiceFabric runtime versions
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            supportExpiryUtc: supportExpiryUtc
            environment: Windows
            codeVersion: codeVersion
        - name: name
          id: id
          type: type
          properties:
            supportExpiryUtc: supportExpiryUtc
            environment: Windows
            codeVersion: codeVersion
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          items:
            $ref: '#/components/schemas/ClusterCodeVersionsResult'
          type: array
      type: object
    ClusterCodeVersionsResult:
      description: The result of the ServiceFabric runtime versions
      example:
        name: name
        id: id
        type: type
        properties:
          supportExpiryUtc: supportExpiryUtc
          environment: Windows
          codeVersion: codeVersion
      properties:
        id:
          description: The identification of the result
          type: string
        name:
          description: The name of the result
          type: string
        properties:
          $ref: '#/components/schemas/ClusterVersionDetails'
        type:
          description: The result resource type
          type: string
      type: object
    ClusterEnvironment:
      description: "Cluster operating system, the default will be Windows"
      enum:
      - Windows
      - Linux
      type: string
    ClusterHealthPolicy:
      description: Defines a health policy used to evaluate the health of the cluster
        or of a cluster node.
      example:
        maxPercentUnhealthyApplications: 20
        maxPercentUnhealthyNodes: 41
      properties:
        maxPercentUnhealthyApplications:
          description: "The maximum allowed percentage of unhealthy applications before\
            \ reporting an error. For example, to allow 10% of applications to be\
            \ unhealthy, this value would be 10. "
          maximum: 100
          minimum: 0
          type: integer
        maxPercentUnhealthyNodes:
          description: "The maximum allowed percentage of unhealthy nodes before reporting\
            \ an error. For example, to allow 10% of nodes to be unhealthy, this value\
            \ would be 10. "
          maximum: 100
          minimum: 0
          type: integer
      type: object
    ClusterListResult:
      description: Cluster list results
      example:
        value:
        - properties:
            clusterEndpoint: clusterEndpoint
            availableClusterVersions:
            - supportExpiryUtc: supportExpiryUtc
              environment: Windows
              codeVersion: codeVersion
            - supportExpiryUtc: supportExpiryUtc
              environment: Windows
              codeVersion: codeVersion
            certificate:
              x509StoreName: AddressBook
              thumbprint: thumbprint
              thumbprintSecondary: thumbprintSecondary
            clusterId: clusterId
            provisioningState: Updating
            reverseProxyCertificate:
              x509StoreName: AddressBook
              thumbprint: thumbprint
              thumbprintSecondary: thumbprintSecondary
            upgradeDescription:
              healthCheckRetryTimeout: healthCheckRetryTimeout
              upgradeReplicaSetCheckTimeout: upgradeReplicaSetCheckTimeout
              healthCheckWaitDuration: healthCheckWaitDuration
              forceRestart: true
              deltaHealthPolicy:
                maxPercentUpgradeDomainDeltaUnhealthyNodes: 36
                maxPercentDeltaUnhealthyApplications: 70
                maxPercentDeltaUnhealthyNodes: 93
              healthPolicy:
                maxPercentUnhealthyApplications: 20
                maxPercentUnhealthyNodes: 41
              overrideUserUpgradePolicy: true
              healthCheckStableDuration: healthCheckStableDuration
              upgradeDomainTimeout: upgradeDomainTimeout
              upgradeTimeout: upgradeTimeout
            managementEndpoint: managementEndpoint
            vmImage: vmImage
            upgradeMode: Automatic
            azureActiveDirectory:
              clientApplication: clientApplication
              tenantId: tenantId
              clusterApplication: clusterApplication
            clientCertificateCommonNames:
            - isAdmin: true
              certificateIssuerThumbprint: certificateIssuerThumbprint
              certificateCommonName: certificateCommonName
            - isAdmin: true
              certificateIssuerThumbprint: certificateIssuerThumbprint
              certificateCommonName: certificateCommonName
            fabricSettings:
            - name: name
              parameters:
              - name: name
                value: value
              - name: name
                value: value
            - name: name
              parameters:
              - name: name
                value: value
              - name: name
                value: value
            nodeTypes:
            - ephemeralPorts:
                startPort: 6
                endPort: 0
              reverseProxyEndpointPort: 5
              applicationPorts:
                startPort: 6
                endPort: 0
              durabilityLevel: Bronze
              httpGatewayEndpointPort: 5
              isPrimary: true
              name: name
              capacities:
                key: capacities
              placementProperties:
                key: placementProperties
              clientConnectionEndpointPort: 1
              vmInstanceCount: 494379917
            - ephemeralPorts:
                startPort: 6
                endPort: 0
              reverseProxyEndpointPort: 5
              applicationPorts:
                startPort: 6
                endPort: 0
              durabilityLevel: Bronze
              httpGatewayEndpointPort: 5
              isPrimary: true
              name: name
              capacities:
                key: capacities
              placementProperties:
                key: placementProperties
              clientConnectionEndpointPort: 1
              vmInstanceCount: 494379917
            reliabilityLevel: Bronze
            clusterState: WaitingForNodes
            diagnosticsStorageAccountConfig:
              protectedAccountKeyName: protectedAccountKeyName
              queueEndpoint: queueEndpoint
              storageAccountName: storageAccountName
              blobEndpoint: blobEndpoint
              tableEndpoint: tableEndpoint
            clientCertificateThumbprints:
            - certificateThumbprint: certificateThumbprint
              isAdmin: true
            - certificateThumbprint: certificateThumbprint
              isAdmin: true
            clusterCodeVersion: clusterCodeVersion
        - properties:
            clusterEndpoint: clusterEndpoint
            availableClusterVersions:
            - supportExpiryUtc: supportExpiryUtc
              environment: Windows
              codeVersion: codeVersion
            - supportExpiryUtc: supportExpiryUtc
              environment: Windows
              codeVersion: codeVersion
            certificate:
              x509StoreName: AddressBook
              thumbprint: thumbprint
              thumbprintSecondary: thumbprintSecondary
            clusterId: clusterId
            provisioningState: Updating
            reverseProxyCertificate:
              x509StoreName: AddressBook
              thumbprint: thumbprint
              thumbprintSecondary: thumbprintSecondary
            upgradeDescription:
              healthCheckRetryTimeout: healthCheckRetryTimeout
              upgradeReplicaSetCheckTimeout: upgradeReplicaSetCheckTimeout
              healthCheckWaitDuration: healthCheckWaitDuration
              forceRestart: true
              deltaHealthPolicy:
                maxPercentUpgradeDomainDeltaUnhealthyNodes: 36
                maxPercentDeltaUnhealthyApplications: 70
                maxPercentDeltaUnhealthyNodes: 93
              healthPolicy:
                maxPercentUnhealthyApplications: 20
                maxPercentUnhealthyNodes: 41
              overrideUserUpgradePolicy: true
              healthCheckStableDuration: healthCheckStableDuration
              upgradeDomainTimeout: upgradeDomainTimeout
              upgradeTimeout: upgradeTimeout
            managementEndpoint: managementEndpoint
            vmImage: vmImage
            upgradeMode: Automatic
            azureActiveDirectory:
              clientApplication: clientApplication
              tenantId: tenantId
              clusterApplication: clusterApplication
            clientCertificateCommonNames:
            - isAdmin: true
              certificateIssuerThumbprint: certificateIssuerThumbprint
              certificateCommonName: certificateCommonName
            - isAdmin: true
              certificateIssuerThumbprint: certificateIssuerThumbprint
              certificateCommonName: certificateCommonName
            fabricSettings:
            - name: name
              parameters:
              - name: name
                value: value
              - name: name
                value: value
            - name: name
              parameters:
              - name: name
                value: value
              - name: name
                value: value
            nodeTypes:
            - ephemeralPorts:
                startPort: 6
                endPort: 0
              reverseProxyEndpointPort: 5
              applicationPorts:
                startPort: 6
                endPort: 0
              durabilityLevel: Bronze
              httpGatewayEndpointPort: 5
              isPrimary: true
              name: name
              capacities:
                key: capacities
              placementProperties:
                key: placementProperties
              clientConnectionEndpointPort: 1
              vmInstanceCount: 494379917
            - ephemeralPorts:
                startPort: 6
                endPort: 0
              reverseProxyEndpointPort: 5
              applicationPorts:
                startPort: 6
                endPort: 0
              durabilityLevel: Bronze
              httpGatewayEndpointPort: 5
              isPrimary: true
              name: name
              capacities:
                key: capacities
              placementProperties:
                key: placementProperties
              clientConnectionEndpointPort: 1
              vmInstanceCount: 494379917
            reliabilityLevel: Bronze
            clusterState: WaitingForNodes
            diagnosticsStorageAccountConfig:
              protectedAccountKeyName: protectedAccountKeyName
              queueEndpoint: queueEndpoint
              storageAccountName: storageAccountName
              blobEndpoint: blobEndpoint
              tableEndpoint: tableEndpoint
            clientCertificateThumbprints:
            - certificateThumbprint: certificateThumbprint
              isAdmin: true
            - certificateThumbprint: certificateThumbprint
              isAdmin: true
            clusterCodeVersion: clusterCodeVersion
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          type: string
        value:
          items:
            $ref: '#/components/schemas/Cluster'
          type: array
      type: object
    ClusterProperties:
      description: The cluster resource properties
      example:
        clusterEndpoint: clusterEndpoint
        availableClusterVersions:
        - supportExpiryUtc: supportExpiryUtc
          environment: Windows
          codeVersion: codeVersion
        - supportExpiryUtc: supportExpiryUtc
          environment: Windows
          codeVersion: codeVersion
        certificate:
          x509StoreName: AddressBook
          thumbprint: thumbprint
          thumbprintSecondary: thumbprintSecondary
        clusterId: clusterId
        provisioningState: Updating
        reverseProxyCertificate:
          x509StoreName: AddressBook
          thumbprint: thumbprint
          thumbprintSecondary: thumbprintSecondary
        upgradeDescription:
          healthCheckRetryTimeout: healthCheckRetryTimeout
          upgradeReplicaSetCheckTimeout: upgradeReplicaSetCheckTimeout
          healthCheckWaitDuration: healthCheckWaitDuration
          forceRestart: true
          deltaHealthPolicy:
            maxPercentUpgradeDomainDeltaUnhealthyNodes: 36
            maxPercentDeltaUnhealthyApplications: 70
            maxPercentDeltaUnhealthyNodes: 93
          healthPolicy:
            maxPercentUnhealthyApplications: 20
            maxPercentUnhealthyNodes: 41
          overrideUserUpgradePolicy: true
          healthCheckStableDuration: healthCheckStableDuration
          upgradeDomainTimeout: upgradeDomainTimeout
          upgradeTimeout: upgradeTimeout
        managementEndpoint: managementEndpoint
        vmImage: vmImage
        upgradeMode: Automatic
        azureActiveDirectory:
          clientApplication: clientApplication
          tenantId: tenantId
          clusterApplication: clusterApplication
        clientCertificateCommonNames:
        - isAdmin: true
          certificateIssuerThumbprint: certificateIssuerThumbprint
          certificateCommonName: certificateCommonName
        - isAdmin: true
          certificateIssuerThumbprint: certificateIssuerThumbprint
          certificateCommonName: certificateCommonName
        fabricSettings:
        - name: name
          parameters:
          - name: name
            value: value
          - name: name
            value: value
        - name: name
          parameters:
          - name: name
            value: value
          - name: name
            value: value
        nodeTypes:
        - ephemeralPorts:
            startPort: 6
            endPort: 0
          reverseProxyEndpointPort: 5
          applicationPorts:
            startPort: 6
            endPort: 0
          durabilityLevel: Bronze
          httpGatewayEndpointPort: 5
          isPrimary: true
          name: name
          capacities:
            key: capacities
          placementProperties:
            key: placementProperties
          clientConnectionEndpointPort: 1
          vmInstanceCount: 494379917
        - ephemeralPorts:
            startPort: 6
            endPort: 0
          reverseProxyEndpointPort: 5
          applicationPorts:
            startPort: 6
            endPort: 0
          durabilityLevel: Bronze
          httpGatewayEndpointPort: 5
          isPrimary: true
          name: name
          capacities:
            key: capacities
          placementProperties:
            key: placementProperties
          clientConnectionEndpointPort: 1
          vmInstanceCount: 494379917
        reliabilityLevel: Bronze
        clusterState: WaitingForNodes
        diagnosticsStorageAccountConfig:
          protectedAccountKeyName: protectedAccountKeyName
          queueEndpoint: queueEndpoint
          storageAccountName: storageAccountName
          blobEndpoint: blobEndpoint
          tableEndpoint: tableEndpoint
        clientCertificateThumbprints:
        - certificateThumbprint: certificateThumbprint
          isAdmin: true
        - certificateThumbprint: certificateThumbprint
          isAdmin: true
        clusterCodeVersion: clusterCodeVersion
      properties:
        availableClusterVersions:
          description: "The available cluster code version which the cluster can upgrade\
            \ to, note that you must choose upgradeMode to manual to upgrade to"
          items:
            $ref: '#/components/schemas/ClusterVersionDetails'
          readOnly: true
          type: array
        azureActiveDirectory:
          $ref: '#/components/schemas/AzureActiveDirectory'
        certificate:
          $ref: '#/components/schemas/CertificateDescription'
        clientCertificateCommonNames:
          description: ' List of client certificates to whitelist based on common
            names'
          items:
            $ref: '#/components/schemas/ClientCertificateCommonName'
          type: array
        clientCertificateThumbprints:
          description: "The client thumbprint details ,it is used for client access\
            \ for cluster operation"
          items:
            $ref: '#/components/schemas/ClientCertificateThumbprint'
          type: array
        clusterCodeVersion:
          description: The ServiceFabric code version running in your cluster
          type: string
        clusterEndpoint:
          description: The endpoint for the cluster connecting to servicefabric resource
            provider
          readOnly: true
          type: string
        clusterId:
          description: The unique identifier for the cluster resource
          readOnly: true
          type: string
        clusterState:
          description: The state for the cluster
          enum:
          - WaitingForNodes
          - Deploying
          - BaselineUpgrade
          - UpdatingUserConfiguration
          - UpdatingUserCertificate
          - UpdatingInfrastructure
          - EnforcingClusterVersion
          - UpgradeServiceUnreachable
          - AutoScale
          - Ready
          readOnly: true
          type: string
        diagnosticsStorageAccountConfig:
          $ref: '#/components/schemas/DiagnosticsStorageAccountConfig'
        fabricSettings:
          description: List of custom fabric settings to configure the cluster.
          items:
            $ref: '#/components/schemas/SettingsSectionDescription'
          type: array
        managementEndpoint:
          description: The http management endpoint of the cluster
          type: string
        nodeTypes:
          description: The list of node types that make up the cluster
          items:
            $ref: '#/components/schemas/NodeTypeDescription'
          type: array
        provisioningState:
          description: The provisioning state of the cluster resource
          enum:
          - Updating
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        reliabilityLevel:
          description: Cluster reliability level indicates replica set size of system
            service
          enum:
          - Bronze
          - Silver
          - Gold
          - Platinum
          type: string
        reverseProxyCertificate:
          $ref: '#/components/schemas/CertificateDescription'
        upgradeDescription:
          $ref: '#/components/schemas/ClusterUpgradePolicy'
        upgradeMode:
          description: Cluster upgrade mode indicates if fabric upgrade is initiated
            automatically by the system or not
          enum:
          - Automatic
          - Manual
          type: string
        vmImage:
          description: The name of VM image VMSS has been configured with. Generic
            names such as Windows or Linux can be used.
          type: string
      required:
      - managementEndpoint
      - nodeTypes
      type: object
    ClusterPropertiesUpdateParameters:
      description: The cluster resource properties can be updated
      example:
        upgradeDescription:
          healthCheckRetryTimeout: healthCheckRetryTimeout
          upgradeReplicaSetCheckTimeout: upgradeReplicaSetCheckTimeout
          healthCheckWaitDuration: healthCheckWaitDuration
          forceRestart: true
          deltaHealthPolicy:
            maxPercentUpgradeDomainDeltaUnhealthyNodes: 36
            maxPercentDeltaUnhealthyApplications: 70
            maxPercentDeltaUnhealthyNodes: 93
          healthPolicy:
            maxPercentUnhealthyApplications: 20
            maxPercentUnhealthyNodes: 41
          overrideUserUpgradePolicy: true
          healthCheckStableDuration: healthCheckStableDuration
          upgradeDomainTimeout: upgradeDomainTimeout
          upgradeTimeout: upgradeTimeout
        upgradeMode: Automatic
        clientCertificateCommonNames:
        - isAdmin: true
          certificateIssuerThumbprint: certificateIssuerThumbprint
          certificateCommonName: certificateCommonName
        - isAdmin: true
          certificateIssuerThumbprint: certificateIssuerThumbprint
          certificateCommonName: certificateCommonName
        certificate:
          x509StoreName: AddressBook
          thumbprint: thumbprint
          thumbprintSecondary: thumbprintSecondary
        fabricSettings:
        - name: name
          parameters:
          - name: name
            value: value
          - name: name
            value: value
        - name: name
          parameters:
          - name: name
            value: value
          - name: name
            value: value
        reverseProxyCertificate:
          x509StoreName: AddressBook
          thumbprint: thumbprint
[...]
