openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on who is going to receive
    notifications associated with your Azure API Management deployment.
  title: ApiManagementClient
  version: 2018-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/apimnotifications.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimnotifications
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications
  : get:
      description: Lists a collection of properties defined within a service instance.
      operationId: notification_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationCollection'
          description: A Collection of the Notification for the specified API Management
            service instance.
      tags:
      - Notification
      x-ms-examples:
        ApiManagementListNotification:
          parameters:
            api-version: 2018-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage
                  name: RequestPublisherNotificationMessage
                  properties:
                    description: The following email recipients and users will receive
                      email notifications about subscription requests for API products
                      requiring approval.
                    recipients:
                      emails:
                      - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com
                      - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar!live
                      - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar@live.com
                      users:
                      - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642
                    title: Subscription requests (requiring approval)
                  type: Microsoft.ApiManagement/service/notifications
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/PurchasePublisherNotificationMessage
                  name: PurchasePublisherNotificationMessage
                  properties:
                    description: The following email recipients and users will receive
                      email notifications about new API product subscriptions.
                    recipients:
                      emails:
                      - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com
                      users:
                      - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1
                    title: New subscriptions
                  type: Microsoft.ApiManagement/service/notifications
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/NewApplicationNotificationMessage
                  name: NewApplicationNotificationMessage
                  properties:
                    description: The following email recipients and users will receive
                      email notifications when new applications are submitted to the
                      application gallery.
                    recipients:
                      emails:
                      - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com
                      users: []
                    title: Application gallery requests
                  type: Microsoft.ApiManagement/service/notifications
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/BCC
                  name: BCC
                  properties:
                    description: The following recipients will receive blind carbon
                      copies of all emails sent to developers.
                    recipients:
                      emails: []
                      users: []
                    title: BCC
                  type: Microsoft.ApiManagement/service/notifications
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/NewIssuePublisherNotificationMessage
                  name: NewIssuePublisherNotificationMessage
                  properties:
                    description: The following email recipients and users will receive
                      email notifications when a new issue or comment is submitted
                      on the developer portal.
                    recipients:
                      emails: []
                      users:
                      - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1
                    title: New issue or comment
                  type: Microsoft.ApiManagement/service/notifications
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/AccountClosedPublisher
                  name: AccountClosedPublisher
                  properties:
                    description: The following email recipients and users will receive
                      email notifications when developer closes his account
                    recipients:
                      emails:
                      - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com
                      users: []
                    title: Close account message
                  type: Microsoft.ApiManagement/service/notifications
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/QuotaLimitApproachingPublisherNotificationMessage
                  name: QuotaLimitApproachingPublisherNotificationMessage
                  properties:
                    description: The following email recipients and users will receive
                      email notifications when subscription usage gets close to usage
                      quota.
                    recipients:
                      emails: []
                      users:
                      - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1
                    title: Approaching subscription quota limit
                  type: Microsoft.ApiManagement/service/notifications
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.notification_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}
  : get:
      description: Gets the details of the Notification specified by its identifier.
      operationId: notification_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Notification Name Identifier.
        in: path
        name: notificationName
        required: true
        schema:
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationName
            values:
            - description: The following email recipients and users will receive email
                notifications about subscription requests for API products requiring
                approval.
              value: RequestPublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications about new API product subscriptions.
              value: PurchasePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when new applications are submitted to the application
                gallery.
              value: NewApplicationNotificationMessage
            - description: The following recipients will receive blind carbon copies
                of all emails sent to developers.
              value: BCC
            - description: The following email recipients and users will receive email
                notifications when a new issue or comment is submitted on the developer
                portal.
              value: NewIssuePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when developer closes his account.
              value: AccountClosedPublisher
            - description: The following email recipients and users will receive email
                notifications when subscription usage gets close to usage quota.
              value: QuotaLimitApproachingPublisherNotificationMessage
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: NotificationName
          values:
          - description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
            value: RequestPublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
            value: PurchasePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
            value: NewApplicationNotificationMessage
          - description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
            value: BCC
          - description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
            value: NewIssuePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when developer closes his account.
            value: AccountClosedPublisher
          - description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
            value: QuotaLimitApproachingPublisherNotificationMessage
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationContract'
          description: The response body contains the specified Notification.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Notification
      x-ms-examples:
        ApiManagementGetNotification:
          parameters:
            api-version: 2018-01-01
            notificationName: RequestPublisherNotificationMessage
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage
                name: RequestPublisherNotificationMessage
                properties:
                  description: The following email recipients and users will receive
                    email notifications about subscription requests for API products
                    requiring approval.
                  recipients:
                    emails:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/contoso@live.com
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/foobar!live
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/foobar@live.com
                    users:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642
                  title: Subscription requests (requiring approval)
                type: Microsoft.ApiManagement/service/notifications
      x-openapi-router-controller: openapi_server.controllers.notification_controller
    put:
      description: Updates an Notification.
      operationId: notification_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Notification Name Identifier.
        in: path
        name: notification_name
        required: true
        schema:
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationName
            values:
            - description: The following email recipients and users will receive email
                notifications about subscription requests for API products requiring
                approval.
              value: RequestPublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications about new API product subscriptions.
              value: PurchasePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when new applications are submitted to the application
                gallery.
              value: NewApplicationNotificationMessage
            - description: The following recipients will receive blind carbon copies
                of all emails sent to developers.
              value: BCC
            - description: The following email recipients and users will receive email
                notifications when a new issue or comment is submitted on the developer
                portal.
              value: NewIssuePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when developer closes his account.
              value: AccountClosedPublisher
            - description: The following email recipients and users will receive email
                notifications when subscription usage gets close to usage quota.
              value: QuotaLimitApproachingPublisherNotificationMessage
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: NotificationName
          values:
          - description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
            value: RequestPublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
            value: PurchasePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
            value: NewApplicationNotificationMessage
          - description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
            value: BCC
          - description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
            value: NewIssuePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when developer closes his account.
            value: AccountClosedPublisher
          - description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
            value: QuotaLimitApproachingPublisherNotificationMessage
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationContract'
          description: Notification was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Notification
      x-ms-examples:
        ApiManagementGetNotification:
          parameters:
            api-version: 2018-01-01
            notificationName: RequestPublisherNotificationMessage
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage
                name: RequestPublisherNotificationMessage
                properties:
                  description: The following email recipients and users will receive
                    email notifications about subscription requests for API products
                    requiring approval.
                  recipients:
                    emails:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/contoso@live.com
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/foobar!live
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/foobar@live.com
                    users:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642
                  title: Subscription requests (requiring approval)
                type: Microsoft.ApiManagement/service/notifications
      x-openapi-router-controller: openapi_server.controllers.notification_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}/recipientEmails
  : get:
      description: Gets the list of the Notification Recipient Emails subscribed to
        a notification.
      operationId: notification_recipient_email_list_by_notification
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Notification Name Identifier.
        in: path
        name: notification_name
        required: true
        schema:
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationName
            values:
            - description: The following email recipients and users will receive email
                notifications about subscription requests for API products requiring
                approval.
              value: RequestPublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications about new API product subscriptions.
              value: PurchasePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when new applications are submitted to the application
                gallery.
              value: NewApplicationNotificationMessage
            - description: The following recipients will receive blind carbon copies
                of all emails sent to developers.
              value: BCC
            - description: The following email recipients and users will receive email
                notifications when a new issue or comment is submitted on the developer
                portal.
              value: NewIssuePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when developer closes his account.
              value: AccountClosedPublisher
            - description: The following email recipients and users will receive email
                notifications when subscription usage gets close to usage quota.
              value: QuotaLimitApproachingPublisherNotificationMessage
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: NotificationName
          values:
          - description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
            value: RequestPublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
            value: PurchasePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
            value: NewApplicationNotificationMessage
          - description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
            value: BCC
          - description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
            value: NewIssuePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when developer closes his account.
            value: AccountClosedPublisher
          - description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
            value: QuotaLimitApproachingPublisherNotificationMessage
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientEmailCollection'
          description: The response body contains the Recipient Email collection subscribed
            to the notification.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - NotificationRecipientEmail
      x-ms-examples:
        ApiManagementListNotificationRecipientEmail:
          parameters:
            api-version: 2018-01-01
            notificationName: RequestPublisherNotificationMessage
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com
                  name: contoso@live.com
                  properties:
                    email: contoso@live.com
                  type: Microsoft.ApiManagement/service/notifications/recipientEmails
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar!live
                  name: foobar!live
                  properties:
                    email: foobar!live
                  type: Microsoft.ApiManagement/service/notifications/recipientEmails
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar@live.com
                  name: foobar@live.com
                  properties:
                    email: foobar@live.com
                  type: Microsoft.ApiManagement/service/notifications/recipientEmails
      x-openapi-router-controller: openapi_server.controllers.notification_recipient_email_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}/recipientEmails/{email}
  : delete:
      description: Removes the email from the list of Notification.
      operationId: notification_recipient_email_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Notification Name Identifier.
        in: path
        name: notification_name
        required: true
        schema:
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationName
            values:
            - description: The following email recipients and users will receive email
                notifications about subscription requests for API products requiring
                approval.
              value: RequestPublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications about new API product subscriptions.
              value: PurchasePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when new applications are submitted to the application
                gallery.
              value: NewApplicationNotificationMessage
            - description: The following recipients will receive blind carbon copies
                of all emails sent to developers.
              value: BCC
            - description: The following email recipients and users will receive email
                notifications when a new issue or comment is submitted on the developer
                portal.
              value: NewIssuePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when developer closes his account.
              value: AccountClosedPublisher
            - description: The following email recipients and users will receive email
                notifications when subscription usage gets close to usage quota.
              value: QuotaLimitApproachingPublisherNotificationMessage
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: NotificationName
          values:
          - description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
            value: RequestPublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
            value: PurchasePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
            value: NewApplicationNotificationMessage
          - description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
            value: BCC
          - description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
            value: NewIssuePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when developer closes his account.
            value: AccountClosedPublisher
          - description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
            value: QuotaLimitApproachingPublisherNotificationMessage
        x-ms-parameter-location: method
      - description: Email identifier.
        in: path
        name: email
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Recipient Email was successfully removed to the notification
            list.
        "204":
          content: {}
          description: Recipient Email was successfully removed to the notification
            list.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - NotificationRecipientEmail
      x-ms-examples:
        ApiManagementDeleteNotificationRecipientEmail:
          parameters:
            api-version: 2018-01-01
            email: contoso@live.com
            notificationName: RequestPublisherNotificationMessage
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.notification_recipient_email_controller
    head:
      description: Determine if Notification Recipient Email subscribed to the notification.
      operationId: notification_recipient_email_check_entity_exists
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Notification Name Identifier.
        in: path
        name: notification_name
        required: true
        schema:
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationName
            values:
            - description: The following email recipients and users will receive email
                notifications about subscription requests for API products requiring
                approval.
              value: RequestPublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications about new API product subscriptions.
              value: PurchasePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when new applications are submitted to the application
                gallery.
              value: NewApplicationNotificationMessage
            - description: The following recipients will receive blind carbon copies
                of all emails sent to developers.
              value: BCC
            - description: The following email recipients and users will receive email
                notifications when a new issue or comment is submitted on the developer
                portal.
              value: NewIssuePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when developer closes his account.
              value: AccountClosedPublisher
            - description: The following email recipients and users will receive email
                notifications when subscription usage gets close to usage quota.
              value: QuotaLimitApproachingPublisherNotificationMessage
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: NotificationName
          values:
          - description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
            value: RequestPublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
            value: PurchasePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
            value: NewApplicationNotificationMessage
          - description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
            value: BCC
          - description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
            value: NewIssuePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when developer closes his account.
            value: AccountClosedPublisher
          - description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
            value: QuotaLimitApproachingPublisherNotificationMessage
        x-ms-parameter-location: method
      - description: Email identifier.
        in: path
        name: email
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The Users is subscribed to receive the notification.
        "404":
          content: {}
          description: The Users is not subscribed to receive the notification.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - NotificationRecipientEmail
      x-ms-examples:
        ApiManagementHeadNotificationRecipientEmail:
          parameters:
            api-version: 2018-01-01
            email: contoso@live.com
            notificationName: RequestPublisherNotificationMessage
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.notification_recipient_email_controller
    put:
      description: Adds the Email address to the list of Recipients for the Notification.
      operationId: notification_recipient_email_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Notification Name Identifier.
        in: path
        name: notification_name
        required: true
        schema:
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationName
            values:
            - description: The following email recipients and users will receive email
                notifications about subscription requests for API products requiring
                approval.
              value: RequestPublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications about new API product subscriptions.
              value: PurchasePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when new applications are submitted to the application
                gallery.
              value: NewApplicationNotificationMessage
            - description: The following recipients will receive blind carbon copies
                of all emails sent to developers.
              value: BCC
            - description: The following email recipients and users will receive email
                notifications when a new issue or comment is submitted on the developer
                portal.
              value: NewIssuePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when developer closes his account.
              value: AccountClosedPublisher
            - description: The following email recipients and users will receive email
                notifications when subscription usage gets close to usage quota.
              value: QuotaLimitApproachingPublisherNotificationMessage
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: NotificationName
          values:
          - description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
            value: RequestPublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
            value: PurchasePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
            value: NewApplicationNotificationMessage
          - description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
            value: BCC
          - description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
            value: NewIssuePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when developer closes his account.
            value: AccountClosedPublisher
          - description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
            value: QuotaLimitApproachingPublisherNotificationMessage
        x-ms-parameter-location: method
      - description: Email identifier.
        in: path
        name: email
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientEmailContract'
          description: Recipient Email is already part of the notification list.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientEmailContract'
          description: Recipient Email was successfully added to the notification
            list.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - NotificationRecipientEmail
      x-ms-examples:
        ApiManagementCreateRecipientEmail:
          parameters:
            api-version: 2018-01-01
            email: foobar@live.com
            notificationName: RequestPublisherNotificationMessage
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar@live.com
                name: foobar@live.com
                properties:
                  email: foobar@live.com
                type: Microsoft.ApiManagement/service/notifications/recipientEmails
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar@live.com
                name: foobar@live.com
                properties:
                  email: foobar@live.com
                type: Microsoft.ApiManagement/service/notifications/recipientEmails
      x-openapi-router-controller: openapi_server.controllers.notification_recipient_email_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}/recipientUsers
  : get:
      description: Gets the list of the Notification Recipient User subscribed to
        the notification.
      operationId: notification_recipient_user_list_by_notification
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Notification Name Identifier.
        in: path
        name: notification_name
        required: true
        schema:
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationName
            values:
            - description: The following email recipients and users will receive email
                notifications about subscription requests for API products requiring
                approval.
              value: RequestPublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications about new API product subscriptions.
              value: PurchasePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when new applications are submitted to the application
                gallery.
              value: NewApplicationNotificationMessage
            - description: The following recipients will receive blind carbon copies
                of all emails sent to developers.
              value: BCC
            - description: The following email recipients and users will receive email
                notifications when a new issue or comment is submitted on the developer
                portal.
              value: NewIssuePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when developer closes his account.
              value: AccountClosedPublisher
            - description: The following email recipients and users will receive email
                notifications when subscription usage gets close to usage quota.
              value: QuotaLimitApproachingPublisherNotificationMessage
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: NotificationName
          values:
          - description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
            value: RequestPublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
            value: PurchasePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
            value: NewApplicationNotificationMessage
          - description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
            value: BCC
          - description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
            value: NewIssuePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when developer closes his account.
            value: AccountClosedPublisher
          - description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
            value: QuotaLimitApproachingPublisherNotificationMessage
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientUserCollection'
          description: The response body contains the Recipient User collection for
            the notification.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Notification
      x-ms-examples:
        ApiManagementListNotificationRecipientUser:
          parameters:
            api-version: 2018-01-01
            notificationName: RequestPublisherNotificationMessage
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientUsers/576823d0a40f7e74ec07d642
                  name: 576823d0a40f7e74ec07d642
                  properties:
                    userId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642
                  type: Microsoft.ApiManagement/service/notifications/recipientUsers
      x-openapi-router-controller: openapi_server.controllers.notification_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications/{notificationName}/recipientUsers/{uid}
  : delete:
      description: Removes the API Management user from the list of Notification.
      operationId: notification_recipient_user_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Notification Name Identifier.
        in: path
        name: notification_name
        required: true
        schema:
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationName
            values:
            - description: The following email recipients and users will receive email
                notifications about subscription requests for API products requiring
                approval.
              value: RequestPublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications about new API product subscriptions.
              value: PurchasePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when new applications are submitted to the application
                gallery.
              value: NewApplicationNotificationMessage
            - description: The following recipients will receive blind carbon copies
                of all emails sent to developers.
              value: BCC
            - description: The following email recipients and users will receive email
                notifications when a new issue or comment is submitted on the developer
                portal.
              value: NewIssuePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when developer closes his account.
              value: AccountClosedPublisher
            - description: The following email recipients and users will receive email
                notifications when subscription usage gets close to usage quota.
              value: QuotaLimitApproachingPublisherNotificationMessage
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: NotificationName
          values:
          - description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
            value: RequestPublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
            value: PurchasePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
            value: NewApplicationNotificationMessage
          - description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
            value: BCC
          - description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
            value: NewIssuePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when developer closes his account.
            value: AccountClosedPublisher
          - description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
            value: QuotaLimitApproachingPublisherNotificationMessage
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Recipient User was successfully removed from the notification
            list.
        "204":
          content: {}
          description: Recipient User was successfully removed from the notification
            list.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - NotificationRecipientUser
      x-ms-examples:
        ApiManagementDeleteNotificationRecipientUser:
          parameters:
            api-version: 2018-01-01
            notificationName: RequestPublisherNotificationMessage
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            uid: 576823d0a40f7e74ec07d642
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.notification_recipient_user_controller
    head:
      description: Determine if the Notification Recipient User is subscribed to the
        notification.
      operationId: notification_recipient_user_check_entity_exists
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Notification Name Identifier.
        in: path
        name: notification_name
        required: true
        schema:
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationName
            values:
            - description: The following email recipients and users will receive email
                notifications about subscription requests for API products requiring
                approval.
              value: RequestPublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications about new API product subscriptions.
              value: PurchasePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when new applications are submitted to the application
                gallery.
              value: NewApplicationNotificationMessage
            - description: The following recipients will receive blind carbon copies
                of all emails sent to developers.
              value: BCC
            - description: The following email recipients and users will receive email
                notifications when a new issue or comment is submitted on the developer
                portal.
              value: NewIssuePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when developer closes his account.
              value: AccountClosedPublisher
            - description: The following email recipients and users will receive email
                notifications when subscription usage gets close to usage quota.
              value: QuotaLimitApproachingPublisherNotificationMessage
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: NotificationName
          values:
          - description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
            value: RequestPublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
            value: PurchasePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
            value: NewApplicationNotificationMessage
          - description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
            value: BCC
          - description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
            value: NewIssuePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when developer closes his account.
            value: AccountClosedPublisher
          - description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
            value: QuotaLimitApproachingPublisherNotificationMessage
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The User is subscribed to receive the notification.
        "404":
          content: {}
          description: Entity does not exists.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - NotificationRecipientUser
      x-ms-examples:
        ApiManagementHeadNotificationRecipientUser:
          parameters:
            api-version: 2018-01-01
            notificationName: RequestPublisherNotificationMessage
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            uid: 576823d0a40f7e74ec07d642
          responses:
            "204": {}
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.notification_recipient_user_controller
    put:
      description: Adds the API Management User to the list of Recipients for the
        Notification.
      operationId: notification_recipient_user_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Notification Name Identifier.
        in: path
        name: notification_name
        required: true
        schema:
          enum:
          - RequestPublisherNotificationMessage
          - PurchasePublisherNotificationMessage
          - NewApplicationNotificationMessage
          - BCC
          - NewIssuePublisherNotificationMessage
          - AccountClosedPublisher
          - QuotaLimitApproachingPublisherNotificationMessage
          type: string
          x-ms-enum:
            modelAsString: true
            name: NotificationName
            values:
            - description: The following email recipients and users will receive email
                notifications about subscription requests for API products requiring
                approval.
              value: RequestPublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications about new API product subscriptions.
              value: PurchasePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when new applications are submitted to the application
                gallery.
              value: NewApplicationNotificationMessage
            - description: The following recipients will receive blind carbon copies
                of all emails sent to developers.
              value: BCC
            - description: The following email recipients and users will receive email
                notifications when a new issue or comment is submitted on the developer
                portal.
              value: NewIssuePublisherNotificationMessage
            - description: The following email recipients and users will receive email
                notifications when developer closes his account.
              value: AccountClosedPublisher
            - description: The following email recipients and users will receive email
                notifications when subscription usage gets close to usage quota.
              value: QuotaLimitApproachingPublisherNotificationMessage
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: NotificationName
          values:
          - description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
            value: RequestPublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
            value: PurchasePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
            value: NewApplicationNotificationMessage
          - description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
            value: BCC
          - description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
            value: NewIssuePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when developer closes his account.
            value: AccountClosedPublisher
          - description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
            value: QuotaLimitApproachingPublisherNotificationMessage
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientUserContract'
          description: Recipient User is already part of the notification list.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientUserContract'
          description: Recipient User was successfully added to the notification list.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - NotificationRecipientUser
      x-ms-examples:
        ApiManagementCreateRecipientUser:
          parameters:
            api-version: 2018-01-01
            notificationName: RequestPublisherNotificationMessage
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            uid: 576823d0a40f7e74ec07d642
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientUsers/576823d0a40f7e74ec07d642
                name: 576823d0a40f7e74ec07d642
                properties:
                  userId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642
                type: Microsoft.ApiManagement/service/notifications/recipientUsers
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientUsers/576823d0a40f7e74ec07d642
                name: 576823d0a40f7e74ec07d642
                properties:
                  userId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642
                type: Microsoft.ApiManagement/service/notifications/recipientUsers
      x-openapi-router-controller: openapi_server.controllers.notification_recipient_user_controller
components:
  parameters:
    EmailParameter:
      description: Email identifier.
      in: path
      name: email
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    NotificationNameParameter:
      description: Notification Name Identifier.
      in: path
      name: notificationName
      required: true
      schema:
        enum:
        - RequestPublisherNotificationMessage
        - PurchasePublisherNotificationMessage
        - NewApplicationNotificationMessage
        - BCC
        - NewIssuePublisherNotificationMessage
        - AccountClosedPublisher
        - QuotaLimitApproachingPublisherNotificationMessage
        type: string
        x-ms-enum:
          modelAsString: true
          name: NotificationName
          values:
          - description: The following email recipients and users will receive email
              notifications about subscription requests for API products requiring
              approval.
            value: RequestPublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications about new API product subscriptions.
            value: PurchasePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when new applications are submitted to the application
              gallery.
            value: NewApplicationNotificationMessage
          - description: The following recipients will receive blind carbon copies
              of all emails sent to developers.
            value: BCC
          - description: The following email recipients and users will receive email
              notifications when a new issue or comment is submitted on the developer
              portal.
            value: NewIssuePublisherNotificationMessage
          - description: The following email recipients and users will receive email
              notifications when developer closes his account.
            value: AccountClosedPublisher
          - description: The following email recipients and users will receive email
              notifications when subscription usage gets close to usage quota.
            value: QuotaLimitApproachingPublisherNotificationMessage
        x-ms-parameter-location: method
      x-ms-enum:
        modelAsString: true
        name: NotificationName
        values:
        - description: The following email recipients and users will receive email
            notifications about subscription requests for API products requiring approval.
          value: RequestPublisherNotificationMessage
        - description: The following email recipients and users will receive email
            notifications about new API product subscriptions.
          value: PurchasePublisherNotificationMessage
        - description: The following email recipients and users will receive email
            notifications when new applications are submitted to the application gallery.
          value: NewApplicationNotificationMessage
        - description: The following recipients will receive blind carbon copies of
            all emails sent to developers.
          value: BCC
        - description: The following email recipients and users will receive email
            notifications when a new issue or comment is submitted on the developer
            portal.
          value: NewIssuePublisherNotificationMessage
        - description: The following email recipients and users will receive email
            notifications when developer closes his account.
          value: AccountClosedPublisher
        - description: The following email recipients and users will receive email
            notifications when subscription usage gets close to usage quota.
          value: QuotaLimitApproachingPublisherNotificationMessage
      x-ms-parameter-location: method
  schemas:
    NotificationCollection:
      description: Paged Notification list representation.
      example:
        value:
        - properties:
            recipients:
              emails:
              - emails
              - emails
              users:
              - users
              - users
            description: description
            title: title
        - properties:
            recipients:
              emails:
              - emails
              - emails
              users:
              - users
              - users
            description: description
            title: title
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/NotificationContract'
          title: value
          type: array
      title: NotificationCollection
      type: object
    NotificationContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Notification details.
      example:
        properties:
          recipients:
            emails:
            - emails
            - emails
            users:
            - users
            - users
          description: description
          title: title
      properties:
        properties:
          $ref: '#/components/schemas/NotificationContractProperties'
      title: NotificationContract
    NotificationContractProperties:
      description: Notification Contract properties.
      example:
        recipients:
          emails:
          - emails
          - emails
          users:
          - users
          - users
        description: description
        title: title
      properties:
        description:
          description: Description of the Notification.
          title: description
          type: string
        recipients:
          $ref: '#/components/schemas/RecipientsContractProperties'
        title:
          description: Title of the Notification.
          maxLength: 1000
          minLength: 1
          title: title
          type: string
      required:
      - title
      title: NotificationContractProperties
      type: object
    RecipientEmailCollection:
      description: Paged Recipient User list representation.
      example:
        value:
        - properties:
            email: email
        - properties:
            email: email
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/RecipientEmailContract'
          title: value
          type: array
      title: RecipientEmailCollection
      type: object
    RecipientEmailContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Recipient Email details.
      example:
        properties:
          email: email
      properties:
        properties:
          $ref: '#/components/schemas/RecipientEmailContractProperties'
      title: RecipientEmailContract
    RecipientEmailContractProperties:
      description: Recipient Email Contract Properties.
      example:
        email: email
      properties:
        email:
          description: User Email subscribed to notification.
          title: email
          type: string
      title: RecipientEmailContractProperties
      type: object
    RecipientUserCollection:
      description: Paged Recipient User list representation.
      example:
        value:
        - properties:
            userId: userId
        - properties:
            userId: userId
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/RecipientUserContract'
          title: value
          type: array
      title: RecipientUserCollection
      type: object
    RecipientUserContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Recipient User details.
      example:
        properties:
          userId: userId
      properties:
        properties:
          $ref: '#/components/schemas/RecipientUsersContractProperties'
      title: RecipientUserContract
    RecipientUsersContractProperties:
      description: Recipient User Contract Properties.
      example:
        userId: userId
      properties:
        userId:
          description: API Management UserId subscribed to notification.
          title: userId
          type: string
      title: RecipientUsersContractProperties
      type: object
    RecipientsContractProperties:
      description: Notification Parameter contract.
      example:
        emails:
        - emails
        - emails
        users:
        - users
        - users
      properties:
        emails:
          description: List of Emails subscribed for the notification.
          items:
            type: string
          title: emails
          type: array
        users:
          description: List of Users subscribed for the notification.
          items:
            type: string
          title: users
          type: array
      title: RecipientsContractProperties
      type: object
    Notification_Get_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: Notification_Get_default_response_error_details_inner
      type: object
    Notification_Get_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Notification_Get_default_response_error_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: Notification_Get_default_response_error
      type: object
    Notification_Get_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Notification_Get_default_response_error'
      title: Notification_Get_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
