openapi: 3.0.1
info:
  description: Azure Event Hubs client
  title: EventHubManagementClient
  version: 2015-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2015-08-01/EventHub.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: eventhub-EventHub
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.EventHub/operations:
    get:
      description: Lists all of the available Event Hub REST API operations.
      operationId: operations_list
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
      tags:
      - Operations
      x-ms-examples:
        EHOperations_List:
          parameters:
            api-version: 2016-07-01
          responses:
            "200":
              body:
                value:
                - display:
                    operation: Get namespace availability.
                    provider: Microsoft Azure EventHub
                    resource: Non Resource Operation
                  name: Microsoft.EventHub/checkNameAvailability/action
                - display:
                    operation: Registers the EventHub Resource Provider
                    provider: Microsoft Azure EventHub
                    resource: EventHub Resource Provider
                  name: Microsoft.EventHub/register/action
                - display:
                    operation: 'Create Or Update Namespace '
                    provider: Microsoft Azure EventHub
                    resource: Namespace
                  name: Microsoft.EventHub/namespaces/write
                - display:
                    operation: Get Namespace Resource
                    provider: Microsoft Azure EventHub
                    resource: Namespace
                  name: Microsoft.EventHub/namespaces/read
                - display:
                    operation: Delete Namespace
                    provider: Microsoft Azure EventHub
                    resource: Namespace
                  name: Microsoft.EventHub/namespaces/Delete
                - display:
                    operation: Get Namespace Authorization Rules
                    provider: Microsoft Azure EventHub
                    resource: AuthorizationRules
                  name: Microsoft.EventHub/namespaces/authorizationRules/read
                - display:
                    operation: Create or Update Namespace Authorization Rules
                    provider: Microsoft Azure EventHub
                    resource: AuthorizationRules
                  name: Microsoft.EventHub/namespaces/authorizationRules/write
                - display:
                    operation: Delete Namespace Authorization Rule
                    provider: Microsoft Azure EventHub
                    resource: AuthorizationRules
                  name: Microsoft.EventHub/namespaces/authorizationRules/delete
                - display:
                    operation: Get Namespace Listkeys
                    provider: Microsoft Azure EventHub
                    resource: AuthorizationRules
                  name: Microsoft.EventHub/namespaces/authorizationRules/listkeys/action
                - display:
                    operation: Resource Regeneratekeys
                    provider: Microsoft Azure EventHub
                    resource: AuthorizationRules
                  name: Microsoft.EventHub/namespaces/authorizationRules/regenerateKeys/action
                - display:
                    operation: Create or Update EventHub
                    provider: Microsoft Azure EventHub
                    resource: EventHub
                  name: Microsoft.EventHub/namespaces/eventhubs/write
                - display:
                    operation: Get EventHub
                    provider: Microsoft Azure EventHub
                    resource: EventHub
                  name: Microsoft.EventHub/namespaces/eventhubs/read
                - display:
                    operation: Delete EventHub
                    provider: Microsoft Azure EventHub
                    resource: EventHub
                  name: Microsoft.EventHub/namespaces/eventhubs/Delete
                - display:
                    operation: ' Get EventHub Authorization Rules'
                    provider: Microsoft Azure EventHub
                    resource: EventHub AuthorizationRules
                  name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/read
                - display:
                    operation: Create or Update EventHub Authorization Rule
                    provider: Microsoft Azure EventHub
                    resource: EventHub AuthorizationRules
                  name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/write
                - display:
                    operation: Delete EventHub Authorization Rules
                    provider: Microsoft Azure EventHub
                    resource: EventHub AuthorizationRules
                  name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/delete
                - display:
                    operation: List EventHub keys
                    provider: Microsoft Azure EventHub
                    resource: EventHub AuthorizationRules
                  name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/listkeys/action
                - display:
                    operation: Resource Regeneratekeys
                    provider: Microsoft Azure EventHub
                    resource: EventHub AuthorizationRules
                  name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/regenerateKeys/action
                - display:
                    operation: Create or Update ConsumerGroup
                    provider: Microsoft Azure EventHub
                    resource: ConsumerGroup
                  name: Microsoft.EventHub/namespaces/eventHubs/consumergroups/write
                - display:
                    operation: Get ConsumerGroup
                    provider: Microsoft Azure EventHub
                    resource: ConsumerGroup
                  name: Microsoft.EventHub/namespaces/eventHubs/consumergroups/read
                - display:
                    operation: Delete ConsumerGroup
                    provider: Microsoft Azure EventHub
                    resource: ConsumerGroup
                  name: Microsoft.EventHub/namespaces/eventHubs/consumergroups/Delete
                - display:
                    operation: Get Namespace metrics
                    provider: Microsoft Azure EventHub
                    resource: Namespace metrics
                  name: Microsoft.EventHub/namespaces/metricDefinitions/read
                - display:
                    operation: Get Namespace diagnostic settings
                    provider: Microsoft Azure EventHub
                    resource: Namespace diagnostic settings
                  name: Microsoft.EventHub/namespaces/diagnosticSettings/read
                - display:
                    operation: Create or Update Namespace diagnostic settings
                    provider: Microsoft Azure EventHub
                    resource: Namespace diagnostic settings
                  name: Microsoft.EventHub/namespaces/diagnosticSettings/write
                - display:
                    operation: Get Namespace logs
                    provider: Microsoft Azure EventHub
                    resource: Namespace logs
                  name: Microsoft.EventHub/namespaces/logDefinitions/read
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.EventHub/CheckNameAvailability:
    post:
      description: Check the give Namespace name availability.
      operationId: namespaces_check_name_availability
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameter'
        description: Parameters to check availability of the given Namespace name
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: check availability returned successfully.
      tags:
      - Namespaces
      x-ms-examples:
        NamespacesCheckNameAvailability:
          parameters:
            api-version: 2015-08-01
            parameters:
              name: sdk-Namespace8107
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                message: ' '
                nameAvailable: true
                reason: None
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.EventHub/namespaces:
    get:
      description: "Lists all the available Namespaces within a subscription, irrespective\
        \ of the resource groups."
      operationId: namespaces_list_by_subscription
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
          description: Namespaces returned successfully.
      tags:
      - Namespaces
      x-ms-examples:
        NamespacesListBySubscription:
          parameters:
            api-version: 2015-08-01
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace-5166
                  location: Australia East
                  name: sdk-Namespace-5166
                  properties:
                    createdAt: 2017-02-24T06:45:29.38Z
                    enabled: true
                    metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace-5166
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://sdk-Namespace-5166.servicebus.windows.net:443/
                    status: Active
                    updatedAt: 2017-02-24T06:45:54.807Z
                  sku:
                    capacity: 1
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.EventHub/namespaces
                - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/Eventhub-Namespace-onesdk2423
                  location: West US
                  name: Eventhub-Namespace-onesdk2423
                  properties:
                    createdAt: 2017-02-08T00:45:03.127Z
                    enabled: true
                    metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:eventhub-namespace-onesdk2423
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://Eventhub-Namespace-onesdk2423.servicebus.windows.net:443/
                    status: Active
                    updatedAt: 2017-02-08T00:45:24.713Z
                  sku:
                    capacity: 1
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.EventHub/namespaces
                - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace7810
                  location: South Central US
                  name: sdk-Namespace7810
                  properties:
                    createdAt: 2017-02-23T05:42:25.597Z
                    enabled: true
                    metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace7810
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://sdk-Namespace7810.servicebus.windows.net:443/
                    status: Active
                    updatedAt: 2017-02-23T05:42:47.16Z
                  sku:
                    capacity: 1
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.EventHub/namespaces
                - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace-9769
                  location: Australia East
                  name: sdk-Namespace-9769
                  properties:
                    createdAt: 2017-03-07T23:29:55.917Z
                    enabled: true
                    metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace-9769
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://sdk-Namespace-9769.servicebus.windows.net:443/
                    status: Active
                    updatedAt: 2017-03-07T23:30:21.6Z
                  sku:
                    capacity: 1
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.EventHub/namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces:
    get:
      description: Lists the available Namespaces within a resource group.
      operationId: namespaces_list_by_resource_group
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
          description: Namespaces returned successfully.
      tags:
      - Namespaces
      x-ms-examples:
        NamespaceListByResourceGroup:
          parameters:
            api-version: 2015-08-01
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace-5166
                  location: Australia East
                  name: sdk-Namespace-5166
                  properties:
                    createdAt: 2017-02-24T06:45:29.38Z
                    enabled: true
                    metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace-5166
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://sdk-Namespace-5166.servicebus.windows.net:443/
                    status: Active
                    updatedAt: 2017-02-24T06:45:54.807Z
                  sku:
                    capacity: 1
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.EventHub/namespaces
                - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/Eventhub-Namespace-onesdk2423
                  location: West US
                  name: Eventhub-Namespace-onesdk2423
                  properties:
                    createdAt: 2017-02-08T00:45:03.127Z
                    enabled: true
                    metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:eventhub-namespace-onesdk2423
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://Eventhub-Namespace-onesdk2423.servicebus.windows.net:443/
                    status: Active
                    updatedAt: 2017-02-08T00:45:24.713Z
                  sku:
                    capacity: 1
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.EventHub/namespaces
                - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/Eventhub-Namespace-onesdk6253
                  location: West US
                  name: Eventhub-Namespace-onesdk6253
                  properties:
                    createdAt: 2017-02-08T01:50:05.17Z
                    enabled: true
                    metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:eventhub-namespace-onesdk6253
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://Eventhub-Namespace-onesdk6253.servicebus.windows.net:443/
                    status: Active
                    updatedAt: 2017-02-08T01:50:27.94Z
                  sku:
                    capacity: 1
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.EventHub/namespaces
                - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4772
                  location: Australia East
                  name: sdk-Namespace-4772
                  properties:
                    createdAt: 2017-03-07T23:43:36.89Z
                    enabled: true
                    metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace-4772
                    provisioningState: Succeeded
                    serviceBusEndpoint: https://sdk-Namespace-4772.servicebus.windows.net:443/
                    status: Active
                    updatedAt: 2017-03-07T23:44:05.807Z
                  sku:
                    capacity: 1
                    name: Standard
                    tier: Standard
                  tags: {}
                  type: Microsoft.EventHub/namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}:
    delete:
      description: Deletes an existing namespace. This operation also removes all
        associated resources under the namespace.
      operationId: namespaces_delete
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Namespace successfully deleted.
        "202":
          content: {}
          description: Namespace delete request accepted.
        "204":
          content: {}
          description: No content.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceDelete:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace8107
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    get:
      description: Gets the description of the specified namespace.
      operationId: namespaces_get
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace returned successfully.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace update request accepted.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceGet:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace8107
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace8107
                location: South Central US
                name: sdk-Namespace8107
                properties:
                  createdAt: 2017-03-12T19:15:11.25Z
                  enabled: true
                  metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace8107
                  provisioningState: Succeeded
                  serviceBusEndpoint: https://sdk-Namespace8107.servicebus.windows.net:443/
                  status: Active
                  updatedAt: 2017-03-12T19:15:30.347Z
                sku:
                  capacity: 1
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventHub/namespaces
            "201":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace8107
                location: South Central US
                name: sdk-Namespace8107
                properties:
                  createdAt: 2017-03-12T19:15:11.25Z
                  enabled: true
                  metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace8107
                  provisioningState: Succeeded
                  serviceBusEndpoint: https://sdk-Namespace8107.servicebus.windows.net:443/
                  status: Active
                  updatedAt: 2017-03-12T19:15:30.347Z
                sku:
                  capacity: 1
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventHub/namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    patch:
      description: "Creates or updates a namespace. Once created, this namespace's\
        \ resource manifest is immutable. This operation is idempotent."
      operationId: namespaces_update
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamespaceUpdateParameter'
        description: Parameters for updating a namespace resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace update request accepted.
        "202":
          content: {}
          description: Namespace create or update request accepted.
      tags:
      - Namespaces
      x-ms-examples:
        NamespacesUpdate:
          parameters:
            api-version: 2015-08-01
            location: West US
            namespaceName: sdk-Namespace8107
            parameters:
              tags:
                tag3: value3
                tag4: value4
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                id: ""
                location: ""
                name: ""
                properties:
                  metricId: ""
                  provisioningState: ""
                  serviceBusEndpoint: https://sdk-Namespace4638.servicebus.windows.net:443/
                  updatedAt: 2017-03-12T20:34:10.25Z
                tags:
                  tag3: value3
                  tag4: value4
                type: ""
            "201":
              body:
                id: ""
                location: ""
                name: ""
                properties:
                  metricId: ""
                  provisioningState: ""
                  serviceBusEndpoint: https://sdk-Namespace4638.servicebus.windows.net:443/
                  updatedAt: 2017-03-12T20:34:10.25Z
                tags:
                  tag3: value3
                  tag4: value4
                type: ""
            "202": {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    put:
      description: "Creates or updates a namespace. Once created, this namespace's\
        \ resource manifest is immutable. This operation is idempotent."
      operationId: namespaces_create_or_update
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamespaceCreateOrUpdateParameters'
        description: Parameters for creating a namespace resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace successfully created.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: Namespace create request accepted.
        "202":
          content: {}
          description: Namespace create or update request accepted.
      tags:
      - Namespaces
      x-ms-examples:
        NamespaceCreate:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace8107
            parameters:
              location: South Central US
              sku:
                name: Standard
                tier: Standard
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace8107
                location: South Central US
                name: sdk-Namespace8107
                properties:
                  enabled: false
                  metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace8107
                  provisioningState: Unknown
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventHub/namespaces
            "201":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace8107
                location: South Central US
                name: sdk-Namespace8107
                properties:
                  enabled: false
                  metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace8107
                  provisioningState: Unknown
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventHub/namespaces
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/AuthorizationRules
  : get:
      description: Gets a list of authorization rules for a Namespace.
      operationId: namespaces_list_authorization_rules
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Namespace AuthorizationRule successfully returned.
      tags:
      - Namespaces
      x-ms-examples:
        ListAuthorizationRules:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace743
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                - name: RootManageSharedAccessKey
                  properties:
                    rights:
                    - Listen
                    - Manage
                    - Send
                - name: sdk-Authrules4867
                  properties:
                    rights:
                    - Listen
                    - Send
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes an AuthorizationRule for a Namespace.
      operationId: namespaces_delete_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Namespace AuthorizationRule successfully deleted.
        "204":
          content: {}
          description: No content.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleDelete:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules4867
            namespaceName: sdk-Namespace743
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    get:
      description: Gets an AuthorizationRule for a Namespace by rule name.
      operationId: namespaces_get_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Namespace AuthorizationRule returned successfully.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleGet:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules4867
            namespaceName: sdk-Namespace743
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace743/AuthorizationRules/RootManageSharedAccessKey
                name: RootManageSharedAccessKey
                properties:
                  rights:
                  - Listen
                  - Manage
                  - Send
                type: Microsoft.EventHub/AuthorizationRules
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    put:
      description: Creates or updates an AuthorizationRule for a Namespace.
      operationId: namespaces_create_or_update_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        description: The shared access AuthorizationRule.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Namespace AuthorizationRule created
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleCreate:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-Authrules4867
            namespaceName: sdk-Namespace743
            parameters:
              location: West US
              properties:
                rights:
                - Listen
                - Send
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace743/AuthorizationRules/sdk-Authrules4867
                name: sdk-Authrules4867
                properties:
                  rights:
                  - Listen
                  - Send
                type: Microsoft.EventHub/AuthorizationRules
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys
  : post:
      description: Gets the primary and secondary connection strings for the Namespace.
      operationId: namespaces_list_keys
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
          description: Connection strings returned successfully.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleListKey:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules4867
            namespaceName: sdk-namespace743
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                keyName: sdk-Authrules4867
                primaryConnectionString: Endpoint=sb://sdk-namespace743.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules4867;SharedAccessKey=############################
                primaryKey: '############################'
                secondaryConnectionString: Endpoint=sb://sdk-namespace743.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules4867;SharedAccessKey=############################
                secondaryKey: '############################'
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      description: Regenerates the primary or secondary connection strings for the
        specified Namespace.
      operationId: namespaces_regenerate_keys
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateKeysParameters'
        description: Parameters required to regenerate the connection string.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
          description: Connection strings regenerated successfully.
      tags:
      - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleRegenerateKey:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules5448
            namespaceName: sdk-namespace2364
            parameters:
              policykey: PrimaryKey
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                keyName: sdk-Authrules5448
                primaryConnectionString: Endpoint=sb://sdk-namespace2364.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules5448;SharedAccessKey=############################
                primaryKey: '############################'
                secondaryConnectionString: Endpoint=sb://sdk-namespace2364.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules5448;SharedAccessKey=############################
                secondaryKey: '############################'
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs
  : get:
      description: Gets all the Event Hubs in a Namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639493.aspx
      operationId: event_hubs_list_all
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubListResult'
          description: Successfully retrieved the list of Event Hubs.
      tags:
      - EventHubs
      x-ms-examples:
        EventHubsListAll:
          parameters:
            api-version: 2015-08-01
            eventHubName: sdk-eventhub4839
            namespaceName: sdk-Namespace4919
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace4919/eventhubs/sdk-eventhub4839
                  name: sdk-eventhub4839
                  properties:
                    createdAt: 2017-03-12T07:39:13.31Z
                    messageRetentionInDays: 7
                    partitionCount: 4
                    partitionIds:
                    - "0"
                    - "1"
                    - "2"
                    - "3"
                    status: Active
                    updatedAt: 2017-03-12T07:39:15.41Z
                  type: Microsoft.EventHub/EventHubs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}
  : delete:
      description: Deletes an Event Hub from the specified Namespace and resource
        group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639496.aspx
      operationId: event_hubs_delete
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Event Hub successfully deleted.
        "204":
          content: {}
          description: No content.
      tags:
      - EventHubs
      x-ms-examples:
        EventHubDelete:
          parameters:
            api-version: 2015-08-01
            eventHubName: sdk-EventHub4839
            namespaceName: sdk-sdk-Namespace4919
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
    get:
      description: Gets an Event Hubs description for the specified Event Hub.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639501.aspx
      operationId: event_hubs_get
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: eventHubName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubResource'
          description: Successfully retrieved the Event Hub description.
      tags:
      - EventHubs
      x-ms-examples:
        EventHubGet:
          parameters:
            api-version: 2015-08-01
            eventHubName: sdk-EventHub6448
            namespaceName: sdk-Namespace7834
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace7834/eventhubs/sdk-EventHub6448
                name: sdk-EventHub6448
                properties:
                  createdAt: 2017-03-12T09:19:03.577Z
                  messageRetentionInDays: 7
                  partitionCount: 4
                  partitionIds:
                  - "0"
                  - "1"
                  - "2"
                  - "3"
                  status: Active
                  updatedAt: 2017-03-12T09:19:05.577Z
                type: Microsoft.EventHub/EventHubs
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
    put:
      description: Creates or updates a new Event Hub as a nested resource within
        a Namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639497.aspx
      operationId: event_hubs_create_or_update
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventHubCreateOrUpdateParameters'
        description: Parameters supplied to create an Event Hub resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubResource'
          description: Event Hub successfully created.
      tags:
      - EventHubs
      x-ms-examples:
        EventHubCreate:
          parameters:
            api-version: 2015-08-01
            eventHubName: sdk-EventHub6448
            namespaceName: sdk-Namespace7834
            parameters:
              location: West US
              properties:
                messageRetentionInDays: 7
                partitionCount: 4
                status: Active
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace7834/eventhubs/sdk-EventHub6448
                name: sdk-EventHub6448
                properties:
                  createdAt: 2017-03-12T20:37:09.28Z
                  messageRetentionInDays: 7
                  partitionCount: 4
                  partitionIds:
                  - "0"
                  - "1"
                  - "2"
                  - "3"
                  status: Active
                  updatedAt: 2017-03-12T20:37:18.64Z
                type: Microsoft.EventHub/EventHubs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/authorizationRules
  : get:
      description: Gets the authorization rules for an Event Hub.
      operationId: event_hubs_list_authorization_rules
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: Event Hub AuthorizationRule returned successfully.
      tags:
      - EventHubs
      x-ms-examples:
        EventHubAuthorizationRuleListAll:
          parameters:
            api-version: 2015-08-01
            eventHubName: sdk-EventHub8887
            namespaceName: sdk-Namespace2290
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                - name: sdk-Authrules9261
                  properties:
                    rights:
                    - Listen
                    - Send
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/authorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes an Event Hub AuthorizationRule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706100.aspx
      operationId: event_hubs_delete_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Event Hub AuthorizationRule successfully deleted.
        "204":
          content: {}
          description: No content.
      tags:
      - EventHubs
      x-ms-examples:
        EventHubAuthorizationRuleDelete:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules9261
            eventHubName: sdk-EventHub8887
            namespaceName: sdk-Namespace2290
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
    get:
      description: Gets an AuthorizationRule for an Event Hub by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706097.aspx
      operationId: event_hubs_get_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Event Hub AuthorizationRule successfully returned.
      tags:
      - EventHubs
      x-ms-examples:
        EventHubAuthorizationRuleGet:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules9261
            eventHubName: sdk-EventHub8887
            namespaceName: sdk-Namespace2290
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace2290/eventhubs/sdk-EventHub8887/authorizationRules/sdk-Authrules9261
                name: sdk-Authrules9261
                properties:
                  rights:
                  - Listen
                  - Send
                type: Microsoft.EventHub/AuthorizationRules
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
    post:
      description: Gets an AuthorizationRule for an Event Hub by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706097.aspx
      operationId: event_hubs_post_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Event Hub AuthorizationRule successfully returned.
      tags:
      - EventHubs
      x-ms-examples:
        EventHubAuthorizationRuleGet:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules9261
            eventHubName: sdk-EventHub8887
            namespaceName: sdk-Namespace2290
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace2290/eventhubs/sdk-EventHub8887/authorizationRules/sdk-Authrules9261
                name: sdk-Authrules9261
                properties:
                  rights:
                  - Listen
                  - Send
                type: Microsoft.EventHub/AuthorizationRules
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
    put:
      description: Creates or updates an AuthorizationRule for the specified Event
        Hub.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706096.aspx
      operationId: event_hubs_create_or_update_authorization_rule
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        description: The shared access AuthorizationRule.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: Event Hub AuthorizationRule successfully created.
      tags:
      - EventHubs
      x-ms-examples:
        EventHubAuthorizationRuleCreate:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules9261
            eventHubName: sdk-EventHub8887
            namespaceName: sdk-Namespace2290
            parameters:
              properties:
                rights:
                - Listen
                - Send
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace2290/eventhubs/sdk-EventHub8887/authorizationRules/sdk-Authrules9261
                name: sdk-Authrules9261
                properties:
                  rights:
                  - Listen
                  - Send
                type: Microsoft.EventHub/AuthorizationRules
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/authorizationRules/{authorizationRuleName}/ListKeys
  : post:
      description: Gets the ACS and SAS connection strings for the Event Hub.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706098.aspx
      operationId: event_hubs_list_keys
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
          description: Connection strings successfully returned.
      tags:
      - EventHubs
      x-ms-examples:
        EventHubAuthorizationRuleListKey:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules9261
            eventHubName: sdk-EventHub8887
            namespaceName: sdk-namespace2290.
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                keyName: sdk-Authrules9261
                primaryConnectionString: Endpoint=sb://sdk-namespace2290.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules9261;SharedAccessKey=############################;EntityPath=sdk-EventHub8887
                primaryKey: '############################'
                secondaryConnectionString: Endpoint=sb://sdk-namespace2290.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules9261;SharedAccessKey=############################;EntityPath=sdk-EventHub8887
                secondaryKey: '############################'
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/authorizationRules/{authorizationRuleName}/regenerateKeys
  : post:
      description: Regenerates the ACS and SAS connection strings for the Event Hub.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706099.aspx
      operationId: event_hubs_regenerate_keys
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The authorization rule name.
        in: path
        name: authorization_rule_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateKeysParameters'
        description: Parameters supplied to regenerate the AuthorizationRule Keys
          (PrimaryKey/SecondaryKey).
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
          description: Connection strings successfully regenerated.
      tags:
      - EventHubs
      x-ms-examples:
        EventHubAuthorizationRuleRegenerateKey:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules9261
            eventHubName: sdk-EventHub8887
            namespaceName: sdk-namespace2290.
            parameters:
              policykey: PrimaryKey
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                keyName: sdk-Authrules9261
                primaryConnectionString: Endpoint=sb://sdk-namespace2290.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules9261;SharedAccessKey=############################;EntityPath=sdk-EventHub8887
                primaryKey: '############################'
                secondaryConnectionString: Endpoint=sb://sdk-namespace2290.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules9261;SharedAccessKey=############################;EntityPath=sdk-EventHub8887
                secondaryKey: '############################'
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.event_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/consumergroups
  : get:
      description: Gets all the consumer groups in a Namespace. An empty feed is returned
        if no consumer group exists in the Namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639503.aspx
      operationId: consumer_groups_list_all
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroupListResult'
          description: Successfully retrieved the list of consumer groups.
      tags:
      - ConsumerGroups
      x-ms-examples:
        ConsumerGroupsListAll:
          parameters:
            api-version: 2015-08-01
            eventHubName: sdk-EventHub5290
            namespaceName: sdk-Namespace736
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace736/eventhubs/sdk-EventHub5290/consumergroups/$Default
                  name: $Default
                  properties:
                    createdAt: 2017-03-12T09:19:03.577Z
                    updatedAt: 2017-03-12T09:19:05.577Z
                  type: Microsoft.EventHub/ConsumerGroups
                - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace736/eventhubs/sdk-EventHub5290/consumergroups/sdk-consumergroup115
                  name: sdk-consumergroup115
                  properties:
                    createdAt: 2017-03-12T09:19:07.577Z
                    updatedAt: 2017-03-12T09:19:09.577Z
                  type: Microsoft.EventHub/ConsumerGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.consumer_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/consumergroups/{consumerGroupName}
  : delete:
      description: Deletes a consumer group from the specified Event Hub and resource
        group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639491.aspx
      operationId: consumer_groups_delete
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The consumer group name
        in: path
        name: consumer_group_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Consumer group deleted.
        "204":
          content: {}
          description: No content.
      tags:
      - ConsumerGroups
      x-ms-examples:
        ConsumerGroupDelete:
          parameters:
            api-version: 2015-08-01
            consumerGroupName: sdk-ConsumerGroup115
            eventHubName: sdk-EventHub5290
            namespaceName: sdk-Namespace736
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.consumer_groups_controller
    get:
      description: Gets a description for the specified consumer group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639488.aspx
      operationId: consumer_groups_get
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The consumer group name
        in: path
        name: consumerGroupName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroupResource'
          description: Successfully retrieved the consumer group description.
      tags:
      - ConsumerGroups
      x-ms-examples:
        ConsumerGroupGet:
          parameters:
            api-version: 2015-08-01
            consumerGroupName: sdk-ConsumerGroup115
            eventHubName: sdk-EventHub5290
            namespaceName: sdk-Namespace736
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace736/eventhubs/sdk-EventHub5290/consumergroups/sdk-ConsumerGroup115
                name: sdk-ConsumerGroup115
                properties:
                  createdAt: 2017-03-12T09:19:03.577Z
                  updatedAt: 2017-03-12T09:19:05.577Z
                type: Microsoft.EventHub/ConsumerGroups
      x-openapi-router-controller: openapi_server.controllers.consumer_groups_controller
    put:
      description: Creates or updates an Event Hubs consumer group as a nested resource
        within a Namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639498.aspx
      operationId: consumer_groups_create_or_update
      parameters:
      - description: Name of the resource group within the azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Namespace name
        in: path
        name: namespace_name
        required: true
        schema:
          maxLength: 50
          minLength: 6
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Event Hub name
        in: path
        name: event_hub_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The consumer group name
        in: path
        name: consumer_group_name
        required: true
        schema:
          maxLength: 50
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials that uniquely identify a Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerGroupCreateOrUpdateParameters'
        description: Parameters supplied to create or update a consumer group resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerGroupResource'
          description: Consumer group successfully created.
      tags:
      - ConsumerGroups
      x-ms-examples:
        ConsumerGroupCreate:
          parameters:
            api-version: 2015-08-01
            consumerGroupName: sdk-ConsumerGroup115
            eventHubName: sdk-EventHub5290
            namespaceName: sdk-Namespace736
            parameters:
              location: West US
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace736/eventhubs/sdk-EventHub5290/consumergroups/sdk-ConsumerGroup115
                name: sdk-ConsumerGroup115
                properties:
                  createdAt: 2017-03-12T21:11:46.308019Z
                  updatedAt: 2017-03-12T21:11:46.308019Z
                type: Microsoft.EventHub/ConsumerGroups
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.consumer_groups_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription credentials that uniquely identify a Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    authorizationRuleNameParameter:
      description: The authorization rule name.
      in: path
      name: authorizationRuleName
      required: true
      schema:
        maxLength: 50
        minLength: 1
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    consumerGroupNameParameter:
      description: The consumer group name
      in: path
      name: consumerGroupName
      required: true
      schema:
        maxLength: 50
        minLength: 1
        type: string
[...]
