openapi: 3.0.1
info:
  title: IllumiDesk
  version: "1.0"
  x-apisguru-categories:
  - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://avatars3.githubusercontent.com/u/12212444?v=4&s=200
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/3Blades/openapi/master/tbs_swagger.yml
    version: "2.0"
  x-providerName: illumidesk.com
servers:
- url: https://api.illumidesk.com/
security:
- jwt: []
paths:
  /auth/jwt-token-auth/:
    post:
      operationId: auth_jwt_token_auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JWTData'
        required: false
        x-body-name: jwt_data
      responses:
        "201":
          content:
            application/json:
              example:
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ
              schema:
                $ref: '#/components/schemas/JWT'
            text/html:
              schema:
                $ref: '#/components/schemas/JWT'
          description: JWT created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTError'
            text/html:
              schema:
                $ref: '#/components/schemas/JWTError'
          description: Invalid data supplied
      security: []
      summary: Create JSON Web Token (JWT)
      tags:
      - auth
      x-codegen-request-body-name: jwt_data
      x-openapi-router-controller: openapi_server.controllers.auth_controller
  /auth/jwt-token-refresh/:
    post:
      description: Obtains a new JSON Web Token using existing user credentials.
      operationId: auth_jwt_token_refresh
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshJSONWebTokenData'
        required: false
        x-body-name: refreshjwt_data
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshJSONWebToken'
            text/html:
              schema:
                $ref: '#/components/schemas/RefreshJSONWebToken'
          description: RefreshJSONWebToken created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshJSONWebTokenError'
            text/html:
              schema:
                $ref: '#/components/schemas/RefreshJSONWebTokenError'
          description: Invalid data supplied
      security: []
      summary: Refresh a JSON Web Token (JWT)
      tags:
      - auth
      x-codegen-request-body-name: refreshjwt_data
      x-openapi-router-controller: openapi_server.controllers.auth_controller
  /auth/jwt-token-verify/:
    post:
      description: Checks veraciy of token.
      operationId: auth_jwt_token_verify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyJSONWebTokenData'
        required: false
        x-body-name: verifyjwt_data
      responses:
        "201":
          content:
            application/json:
              example:
                token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ
              schema:
                $ref: '#/components/schemas/VerifyJSONWebToken'
            text/html:
              schema:
                $ref: '#/components/schemas/VerifyJSONWebToken'
          description: VerifyJSONWebToken created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyJSONWebTokenError'
            text/html:
              schema:
                $ref: '#/components/schemas/VerifyJSONWebTokenError'
          description: Invalid data supplied
      security: []
      summary: Validate JSON Web Token (JWT)
      tags:
      - auth
      x-codegen-request-body-name: verifyjwt_data
      x-openapi-router-controller: openapi_server.controllers.auth_controller
  /auth/login/{provider}/:
    get:
      operationId: oauth_login
      parameters:
      - description: OAuth2 provider
        in: path
        name: provider
        required: true
        schema:
          enum:
          - github
          - google
          - slack
          type: string
      responses:
        "302":
          content: {}
          description: Redirect to backend auth page
      tags:
      - auth
      x-openapi-router-controller: openapi_server.controllers.auth_controller
  /auth/register/:
    post:
      description: User registration requires confirming email address to activate
        user.
      operationId: auth_register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserData'
        required: false
        x-body-name: user_data
      responses:
        "201":
          content:
            application/json:
              example:
                email: user@email.com
                first_name: John
                id: 536686d7-0096-4c72-a4c3-5d710a361a0a
                last_name: Doe
                profile:
                  avatar_url: http://example.com/
                  bio: I like tests
                  company: IllumiDesk
                  location: "Atlanta, GA"
                  timezone: America/New_York
                  url: http://about.me/myprofile
                username: johndoe
              schema:
                $ref: '#/components/schemas/User'
            text/html:
              schema:
                $ref: '#/components/schemas/User'
          description: User created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserError'
            text/html:
              schema:
                $ref: '#/components/schemas/UserError'
          description: Invalid data supplied
      security: []
      summary: Register a user
      tags:
      - auth
      x-codegen-request-body-name: user_data
      x-openapi-router-controller: openapi_server.controllers.auth_controller
  /v1/me:
    get:
      operationId: me
      responses:
        "200":
          content:
            application/json:
              example:
                email: johndoe@email.com
                first_name: John
                id: 66949654-1f75-4c6f-a5c5-e3572eae6527
                last_name: Doe
                profile:
                  avatar_url: http://example.com/
                  bio: I like tests
                  company: 3Blades
                  location: "Atlanta, GA"
                  timezone: America/New_York
                  url: http://about.me/myprofile
                username: johndoe
              schema:
                $ref: '#/components/schemas/User'
            text/html:
              schema:
                $ref: '#/components/schemas/User'
          description: User information retrieved.
      summary: A convenience endpoint that is equivalent to GET /v1/users/profiles/<my
        user id>/
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /v1/servers/options/server-size/:
    get:
      operationId: servers_options_sizes_list
      parameters:
      - description: Set limit when retrieving items.
        in: query
        name: limit
        schema:
          type: string
      - description: Offset when retrieving items.
        in: query
        name: offset
        schema:
          type: string
      - description: Set order when retrieving items.
        in: query
        name: ordering
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example: []
              schema:
                items:
                  $ref: '#/components/schemas/ServerSize'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/ServerSize'
                type: array
          description: Server size list.
      summary: Retrieve available server sizes
      tags:
      - servers
      x-openapi-router-controller: openapi_server.controllers.servers_controller
    post:
      description: Only super users with on-premises version have acceess to this
        endpoint.
      operationId: servers_options_server_size_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerSizeData'
        required: false
        x-body-name: serversize_data
      responses:
        "201":
          content:
            application/json:
              example:
                active: true
                cpu: 1
                id: 2f4a5830-169d-4111-b913-e68c7b94fdbe
                memory: 512
                name: myResource
              schema:
                $ref: '#/components/schemas/ServerSize'
            text/html:
              schema:
                $ref: '#/components/schemas/ServerSize'
          description: ServerSize created. This operation is available only to super
            users.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerSizeError'
            text/html:
              schema:
                $ref: '#/components/schemas/ServerSizeError'
          description: Invalid data supplied
      summary: Create a new server size item
      tags:
      - servers
      x-codegen-request-body-name: serversize_data
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  /v1/servers/options/server-size/{size}/:
    delete:
      description: Only super users with on-premises version have acceess to this
        endpoint.
      operationId: servers_options_server_size_delete
      parameters:
      - description: Server size unique identifier expressed as UUID or name.
        in: path
        name: size
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Server size deleted. This operation is available only to super
            users
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: ServerSize not found.
      summary: Delete a server size by id
      tags:
      - servers
      x-openapi-router-controller: openapi_server.controllers.servers_controller
    get:
      operationId: servers_options_resources_read
      parameters:
      - description: Server size unique identifier expressed as UUID or name.
        in: path
        name: size
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                active: true
                cpu: 1
                id: 2f4a5830-169d-4111-b913-e68c7b94fdbe
                memory: 512
                name: myResource
              schema:
                $ref: '#/components/schemas/ServerSize'
            text/html:
              schema:
                $ref: '#/components/schemas/ServerSize'
          description: Environment resource retrieved.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Environment resource not found.
      summary: Get a server size by id
      tags:
      - servers
      x-openapi-router-controller: openapi_server.controllers.servers_controller
    patch:
      description: Only super users with on-premises version have acceess to this
        endpoint.
      operationId: servers_options_server_size_update
      parameters:
      - description: Server size unique identifier expressed as UUID or name.
        in: path
        name: size
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerSizeData'
        required: false
        x-body-name: serversize_data
      responses:
        "200":
          content:
            application/json:
              example:
                active: true
                cpu: 1
                id: b673c7ab-65ad-4d6e-859e-0483eea86ad6
                memory: 512
                name: myServerSizeWithPatch
              schema:
                $ref: '#/components/schemas/ServerSize'
            text/html:
              schema:
                $ref: '#/components/schemas/ServerSize'
          description: Server size updated. This operation is available only to super
            users.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerSizeError'
            text/html:
              schema:
                $ref: '#/components/schemas/ServerSizeError'
          description: Invalid data supplied.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Server size not found.
      summary: Update a server size by id
      tags:
      - servers
      x-codegen-request-body-name: serversize_data
      x-openapi-router-controller: openapi_server.controllers.servers_controller
    put:
      description: Only super users with on-premises version have acceess to this
        endpoint.
      operationId: servers_options_server_size_replace
      parameters:
      - description: Server size unique identifier expressed as UUID or name.
        in: path
        name: size
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerSizeData'
        required: false
        x-body-name: serversize_data
      responses:
        "200":
          content:
            application/json:
              example:
                active: true
                cpu: 1
                id: b673c7ab-65ad-4d6e-859e-0483eea86ad6
                memory: 512
                name: myResourceWithPut
              schema:
                $ref: '#/components/schemas/ServerSize'
            text/html:
              schema:
                $ref: '#/components/schemas/ServerSize'
          description: Server size replaced. This operation is available only to super
            users.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerSizeError'
            text/html:
              schema:
                $ref: '#/components/schemas/ServerSizeError'
          description: Invalid data supplied.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: ServerSize not found
      summary: Replace a server size by id
      tags:
      - servers
      x-codegen-request-body-name: serversize_data
      x-openapi-router-controller: openapi_server.controllers.servers_controller
  /v1/teams/:
    get:
      operationId: teams_list
      parameters:
      - description: Limit when getting data.
        in: query
        name: limit
        schema:
          type: string
      - description: Offset when getting data.
        in: query
        name: offset
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example: []
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: Team list
      summary: Get teams
      tags:
      - teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
    post:
      operationId: teams_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamData'
        required: false
        x-body-name: team_data
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
            text/html:
              schema:
                $ref: '#/components/schemas/Team'
          description: Team created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamError'
            text/html:
              schema:
                $ref: '#/components/schemas/TeamError'
          description: Invalid data supplied
      summary: Create a new team
      tags:
      - teams
      x-codegen-request-body-name: team_data
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /v1/teams/{team}/:
    delete:
      operationId: teams_delete
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Team deleted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Team not found.
      summary: Delete a team
      tags:
      - teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
    get:
      operationId: teams_read
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
            text/html:
              schema:
                $ref: '#/components/schemas/Team'
          description: Team retrieved successfully.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Team not found.
      summary: Get a team
      tags:
      - teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
    patch:
      operationId: teams_update
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamData'
        required: false
        x-body-name: team_data
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
            text/html:
              schema:
                $ref: '#/components/schemas/Team'
          description: Team updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamError'
            text/html:
              schema:
                $ref: '#/components/schemas/TeamError'
          description: Invalid data supplied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Team not found
      summary: Update a team
      tags:
      - teams
      x-codegen-request-body-name: team_data
      x-openapi-router-controller: openapi_server.controllers.teams_controller
    put:
      operationId: teams_replace
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamData'
        required: false
        x-body-name: team_data
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
            text/html:
              schema:
                $ref: '#/components/schemas/Team'
          description: Team updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamError'
            text/html:
              schema:
                $ref: '#/components/schemas/TeamError'
          description: Invalid data supplied.
      summary: Replace a team
      tags:
      - teams
      x-codegen-request-body-name: team_data
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /v1/teams/{team}/billing/invoices/:
    get:
      operationId: teams_billing_invoices_list
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: Limit when getting items.
        in: query
        name: limit
        schema:
          type: string
      - description: Offset when getting items.
        in: query
        name: offset
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example: []
              schema:
                items:
                  $ref: '#/components/schemas/Invoice'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Invoice'
                type: array
          description: Invoice list.
      summary: Get team invoices
      tags:
      - teams
      - billing
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /v1/teams/{team}/billing/invoices/{id}/:
    get:
      operationId: teams_billing_invoices_read
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: Invoice unique identifier expressed as UUID.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
            text/html:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Team invoice retrieved.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Team invoice not found.
      summary: Get an invoice
      tags:
      - teams
      - billing
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /v1/teams/{team}/billing/invoices/{invoice_id}/invoice-items/:
    get:
      operationId: teams_billing_invoice_items_list
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: "Invoice id, expressed as UUID."
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
      - description: Limit when getting items.
        in: query
        name: limit
        schema:
          type: string
      - description: Offset when getting items.
        in: query
        name: offset
        schema:
          type: string
      - description: Ordering when getting items.
        in: query
        name: ordering
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example: []
              schema:
                items:
                  $ref: '#/components/schemas/InvoiceItem'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/InvoiceItem'
                type: array
          description: Team invoiceItem list.
      summary: Get team invoice items for a given invoice.
      tags:
      - teams
      - billing
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /v1/teams/{team}/billing/invoices/{invoice_id}/invoice-items/{id}:
    get:
      operationId: teams_billing_invoice_items_read
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: "Invoice id, expressed as UUID."
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
      - description: "InvoiceItem id, expressed as UUID."
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceItem'
            text/html:
              schema:
                $ref: '#/components/schemas/InvoiceItem'
          description: Team invoiceItem retrieved.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: InvoiceItem not found.
      summary: Get a specific team InvoiceItem.
      tags:
      - teams
      - billing
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /v1/teams/{team}/billing/subscriptions/:
    get:
      operationId: teams_billing_subscriptions_list
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: Limit when getting items.
        in: query
        name: limit
        schema:
          type: string
      - description: Offset when getting items.
        in: query
        name: offset
        schema:
          type: string
      - description: Ordering when getting items.
        in: query
        name: ordering
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - application_fee_percent: 0
                cancel_at_period_end: false
                canceled_at: ""
                created: 2017-07-24T17:25:04Z
                current_period_end: 2017-07-31T17:25:04Z
                current_period_start: 2017-07-24T17:25:04Z
                ended_at: ""
                id: 579208c3-4f5c-4b5d-baa3-309a06db681c
                livemode: false
                plan: efb36cb0-0ef2-4af3-ae5d-10d9ae73845d
                quantity: 1
                start: 2017-07-24T17:25:04Z
                status: trialing
                stripe_id: sub_B5KyO9BZ6lUNPP
                trial_end: 2017-07-31T17:25:04Z
                trial_start: 2017-07-24T17:25:04Z
              schema:
                items:
                  $ref: '#/components/schemas/Subscription'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Subscription'
                type: array
          description: Teams subscription list.
      summary: Get active team subscriptons
      tags:
      - teams
      - billing
      x-openapi-router-controller: openapi_server.controllers.teams_controller
    post:
      operationId: teams_billing_subscriptions_create
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionData'
        required: false
        x-body-name: subscription_data
      responses:
        "201":
          content:
            application/json:
              example:
                application_fee_percent: 0
                cancel_at_period_end: false
                canceled_at: ""
                created: 2017-07-24T17:25:04Z
                current_period_end: 2017-07-31T17:25:04Z
                current_period_start: 2017-07-24T17:25:04Z
                ended_at: ""
                id: 579208c3-4f5c-4b5d-baa3-309a06db681c
                livemode: false
                plan: efb36cb0-0ef2-4af3-ae5d-10d9ae73845d
                quantity: 1
                start: 2017-07-24T17:25:04Z
                status: trialing
                stripe_id: sub_B5KyO9BZ6lUNPP
                trial_end: 2017-07-31T17:25:04Z
                trial_start: 2017-07-24T17:25:04Z
              schema:
                $ref: '#/components/schemas/Subscription'
            text/html:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Team subscription created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionError'
            text/html:
              schema:
                $ref: '#/components/schemas/SubscriptionError'
          description: Invalid data supplied
      summary: Create a new team subscription
      tags:
      - teams
      - billing
      x-codegen-request-body-name: subscription_data
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /v1/teams/{team}/billing/subscriptions/{id}/:
    delete:
      operationId: teams_billing_subscriptions_delete
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: Subscription unique identifier expressed as UUID.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Subscription deleted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Subscription not found.
      summary: Delete a subscription
      tags:
      - teams
      - billing
      x-openapi-router-controller: openapi_server.controllers.teams_controller
    get:
      operationId: teams_billing_subscriptions_read
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: Unique identifier expressed as UUID.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
            text/html:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Team subscription retrieved.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Subscription not found.
      summary: Get team subscriptions
      tags:
      - teams
      - billing
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /v1/teams/{team}/groups/:
    get:
      operationId: teams_groups_list
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: Limit when getting data.
        in: query
        name: limit
        schema:
          type: string
      - description: Offset when getting data.
        in: query
        name: offset
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Group'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Group'
                type: array
          description: Team groups list
      summary: Get team groups
      tags:
      - teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /v1/teams/{team}/groups/{group}/:
    delete:
      operationId: teams_groups_delete
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: Group unique identifier expressed as UUID or name.
        in: path
        name: group
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Group deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Group not found.
      summary: Delete team group
      tags:
      - teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
    get:
      operationId: teams_groups_read
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: Group unique identifier expressed as UUID or name.
        in: path
        name: group
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
            text/html:
              schema:
                $ref: '#/components/schemas/Group'
          description: Group retrieved.
      summary: Get team group
      tags:
      - teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
    patch:
      operationId: teams_groups_update
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: Group unique identifier expressed as UUID or name.
        in: path
        name: group
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupData'
        required: false
        x-body-name: group_data
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
            text/html:
              schema:
                $ref: '#/components/schemas/Group'
          description: Group updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupError'
            text/html:
              schema:
                $ref: '#/components/schemas/GroupError'
          description: Invalid data supplied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Group not found.
      summary: Patch team group
      tags:
      - teams
      x-codegen-request-body-name: group_data
      x-openapi-router-controller: openapi_server.controllers.teams_controller
    put:
      operationId: teams_groups_replace
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: Group unique identifier expressed as UUID or name.
        in: path
        name: group
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupData'
        required: false
        x-body-name: group_data
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
            text/html:
              schema:
                $ref: '#/components/schemas/Group'
          description: Group replaced
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupError'
            text/html:
              schema:
                $ref: '#/components/schemas/GroupError'
          description: Invalid data supplied
      summary: Patch team group
      tags:
      - teams
      x-codegen-request-body-name: group_data
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /v1/teams/{team}/groups/{group}/add/:
    post:
      operationId: teams_groups_add_to_group
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: Group unique identifier expressed as UUID or name.
        in: path
        name: group
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupUser'
            text/html:
              schema:
                $ref: '#/components/schemas/GroupUser'
          description: User added to group.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupUserError'
            text/html:
              schema:
                $ref: '#/components/schemas/GroupUserError'
          description: Invalid data supplied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Group not found
      summary: Add user to group
      tags:
      - teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /v1/teams/{team}/groups/{group}/remove/:
    post:
      operationId: teams_groups_remove_from_group
      parameters:
      - description: Team unique identifier expressed as UUID or name.
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: Group unique identifier expressed as UUID or name.
        in: path
        name: group
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: User removed from group.
        "400":
          content: {}
          description: Invalid data supplied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Group not found
      summary: User removed from group
      tags:
      - teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /v1/users/profiles/:
    get:
      operationId: users_list
      parameters:
      - description: Limit user list.
        in: query
        name: limit
        schema:
          type: string
      - description: Offset when getting users.
        in: query
        name: offset
        schema:
          type: string
      - description: User username.
        in: query
        name: username
        schema:
          type: string
      - description: User email.
        in: query
        name: email
        schema:
          type: string
      - description: Ordering when getting users.
        in: query
        name: ordering
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - email: johndoe@email.com
                first_name: John
                id: 66949654-1f75-4c6f-a5c5-e3572eae6527
                last_name: Doe
                profile:
                  avatar_url: http://example.com/
                  bio: I like tests
                  company: 3Blades
                  location: "Atlanta, GA"
                  timezone: America/New_York
                  url: http://about.me/myprofile
                username: johndoe
              - email: janedoe@email.com
                first_name: John
                id: 66949654-1f75-4c6f-a5c5-e3572eae6527
                last_name: Doe
                profile:
                  avatar_url: http://example.com/
                  bio: I like tests
                  company: 3Blades
                  location: "Atlanta, GA"
                  timezone: America/New_York
                  url: http://about.me/myprofile
                username: janedoe
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: User list
      summary: Get user list
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
    post:
      description: Only admin users can create new users. New users have active status
        by default.
      operationId: users_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserData'
        required: false
        x-body-name: user_data
      responses:
        "201":
          content:
            application/json:
              example:
                email: johndoe@email.com
                first_name: John
                id: 66949654-1f75-4c6f-a5c5-e3572eae6527
                last_name: Doe
                profile:
                  avatar_url: http://example.com/
                  bio: I like tests
                  company: 3Blades
                  location: "Atlanta, GA"
                  timezone: America/New_York
                  url: http://about.me/myprofile
                username: johndoe
              schema:
                $ref: '#/components/schemas/User'
            text/html:
              schema:
                $ref: '#/components/schemas/User'
          description: User created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserError'
            text/html:
              schema:
                $ref: '#/components/schemas/UserError'
          description: Invalid data supplied
      summary: Create new user
      tags:
      - users
      x-codegen-request-body-name: user_data
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /v1/users/profiles/{user}/:
    delete:
      operationId: users_delete
      parameters:
      - description: User identifier expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: User deleted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: User not found
      summary: Delete a user
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
    get:
      operationId: users_read
      parameters:
      - description: Unique identifier expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                email: johndoe@email.com
                first_name: John
                id: 66949654-1f75-4c6f-a5c5-e3572eae6527
                last_name: Doe
                profile:
                  avatar_url: http://example.com/
                  bio: I like tests
                  company: 3Blades
                  location: "Atlanta, GA"
                  timezone: America/New_York
                  url: http://about.me/myprofile
                username: johndoe
              schema:
                $ref: '#/components/schemas/User'
            text/html:
              schema:
                $ref: '#/components/schemas/User'
          description: User retrieved.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: User not found.
      summary: Retrieve a user
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
    patch:
      operationId: users_update
      parameters:
      - description: User unique identifier expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserData'
        required: false
        x-body-name: user_data
      responses:
        "200":
          content:
            application/json:
              example:
                email: runB@email.com
                first_name: John
                id: 66949654-1f75-4c6f-a5c5-e3572eae6527
                last_name: Doe
                profile:
                  avatar_url: http://example.com/
                  bio: Data updated with patch
                  company: 3Blades
                  location: "Atlanta, GA"
                  timezone: America/New_York
                  url: http://about.me/myprofile
                username: johndoe
              schema:
                $ref: '#/components/schemas/User'
            text/html:
              schema:
                $ref: '#/components/schemas/User'
          description: User updated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserError'
            text/html:
              schema:
                $ref: '#/components/schemas/UserError'
          description: Invalid data supplied.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: User not found.
      summary: Update a user
      tags:
      - users
      x-codegen-request-body-name: user_data
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /v1/users/{user}/api-key/:
    get:
      operationId: users_api_key_list
      parameters:
      - description: User unique identifier expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Api Key
      summary: Retrieve account's API key
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /v1/users/{user}/avatar/:
    delete:
      operationId: user_avatar_delete
      parameters:
      - description: User unique identifier expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Avatar deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Avatar not found
      summary: Delete avatar
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
    get:
      operationId: user_avatar_get
      parameters:
      - description: User unique identifier expressed as UUIDor username.
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: User avatar
      summary: Retrieve user's avatar
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
    patch:
      operationId: user_avatar_update
      parameters:
      - description: User unique identifier expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/html:
              schema:
                $ref: '#/components/schemas/User'
          description: Avatar updated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserError'
            text/html:
              schema:
                $ref: '#/components/schemas/UserError'
          description: Invalid data supplied.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Avatar not found.
      summary: Update a project file
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
    post:
      operationId: user_avatar_set
      parameters:
      - description: User unique identifier expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/html:
              schema:
                $ref: '#/components/schemas/User'
          description: Added user avatar
        "400":
          content: {}
          description: Invalid data supplied
      summary: Add user avatar
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /v1/users/{user}/emails/:
    get:
      operationId: users_emails_list
      parameters:
      - description: User unique identifier as expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      - description: Limite when getting email list.
        in: query
        name: limit
        schema:
          type: string
      - description: Offset when getting email list.
        in: query
        name: offset
        schema:
          type: string
      - description: Ordering when getting email list.
        in: query
        name: ordering
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example: []
              schema:
                items:
                  $ref: '#/components/schemas/Email'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Email'
                type: array
          description: Email list
      summary: Retrieve account email addresses
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
    post:
      operationId: users_emails_create
      parameters:
      - description: User unique identifier expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailData'
        required: false
        x-body-name: email_data
      responses:
        "201":
          content:
            application/json:
              example:
                address: post@email.com
                id: 383e0d16-2052-4196-95b8-d9d73ed043a9
                public: true
                unsubscribed: false
              schema:
                $ref: '#/components/schemas/Email'
            text/html:
              schema:
                $ref: '#/components/schemas/Email'
          description: Email created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailError'
            text/html:
              schema:
                $ref: '#/components/schemas/EmailError'
          description: Invalid data supplied
      summary: Create an email address
      tags:
      - users
      x-codegen-request-body-name: email_data
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /v1/users/{user}/emails/{email_id}/:
    delete:
      operationId: users_emails_delete
      parameters:
      - description: Email unique identifier expressed as UUID.
        in: path
        name: email_id
        required: true
        schema:
          type: string
      - description: User unique identifier expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Email deleted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Email not found.
      summary: Delete an email address
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
    get:
      operationId: users_emails_read
      parameters:
      - description: Email unique identifier expressed as UUID.
        in: path
        name: email_id
        required: true
        schema:
          type: string
      - description: User unique identifier expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                address: post@email.com
                id: 383e0d16-2052-4196-95b8-d9d73ed043a9
                public: true
                unsubscribed: false
              schema:
                $ref: '#/components/schemas/Email'
            text/html:
              schema:
                $ref: '#/components/schemas/Email'
          description: Email retrieved
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Email not found
      summary: Retrieve a user's email addresses
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
    patch:
      operationId: users_emails_update
      parameters:
      - description: Email unique identifier expressed as UUID.
        in: path
        name: email_id
        required: true
        schema:
          type: string
      - description: User unique identifier expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailData'
        required: false
        x-body-name: email_data
      responses:
        "200":
          content:
            application/json:
              example:
                address: patch@email.com
                id: 383e0d16-2052-4196-95b8-d9d73ed043a9
                public: false
                unsubscribed: false
              schema:
                $ref: '#/components/schemas/Email'
            text/html:
              schema:
                $ref: '#/components/schemas/Email'
          description: Email updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailError'
            text/html:
              schema:
                $ref: '#/components/schemas/EmailError'
          description: Invalid data supplied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Email not found
      summary: Update an email address
      tags:
      - users
      x-codegen-request-body-name: email_data
      x-openapi-router-controller: openapi_server.controllers.users_controller
    put:
      operationId: users_emails_replace
      parameters:
      - description: Email unique identifier expressed as UUID.
        in: path
        name: email_id
        required: true
        schema:
          type: string
      - description: User unique identifier expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailData'
        required: false
        x-body-name: email_data
      responses:
        "200":
          content:
            application/json:
              example:
                address: put@email.com
                id: 383e0d16-2052-4196-95b8-d9d73ed043a9
                public: false
                unsubscribed: true
              schema:
                $ref: '#/components/schemas/Email'
            text/html:
              schema:
                $ref: '#/components/schemas/Email'
          description: Email updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailError'
            text/html:
              schema:
                $ref: '#/components/schemas/EmailError'
          description: Invalid data supplied
      summary: Replace an email address
      tags:
      - users
      x-codegen-request-body-name: email_data
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /v1/users/{user}/ssh-key/:
    get:
      operationId: users_ssh_key_list
      parameters:
      - description: User unique identifier expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCqadyIPIEOF4M7SDoI+MHnAj6q2CY2j62Eg0sNbBbjnuekxnhSWVVKPte+NVtK4MWIyw3wnCCzTjwe0p2pQpMqxjqnCAkBPGhOjrRWTvV54hHTihBxiAEmXqbaBg5e6SaXcqP1OajWYzDqhts4ISer0uymzi0hW65At5i5k87Xu9HSM/Q0ySVJGm0rMuDCIoaTIeQdTkAI9ww/cmOM7uvIDO0OJv2xai9xLB9APVq8zCtqWdivMaqo2waPDT/I9bwtSZxRsnRMakGmj3CWvciHv13UsGlbB7nTeDKX0eyQl/5SADLO0bU+hY/8BpRjjtdq57Pqn/Xyw22YarDkG74gjLG5GBFZkBxcpENoUtCUyE2bhBT4x9yXlTeycMBTopGtzTfIHrJtIgNCFMhg9LbK4IKP/1pLj8SrVaQ9/k/QkxmDFoqfwdGd3AWOghMCAbAB7KaDKrj/XBf/KgTd8ZozjvkTzu2YRf4o3DebxRJipPQumrH3iXX5Kfe9lBWkR7Smewwp2XZrdgBeXN/54hd+Ic3upi528IGzEzu3/xtLT/e7kLi1QH7CVVN1sskZkIRr7aukw4YiVWgVOAlqKzJEoE/BPZSOA0NlgG0h37ZmyhdY1VqtoD+Vnj7Qh272PlTB14ndEVTqGuZhsCSxIhXev+METZ6XezK5n1VQeHGveQ==
          description: SSH Key.
      summary: Retrieve an SSH key
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /v1/users/{user}/ssh-key/reset/:
    post:
      operationId: users_ssh_key_reset
      parameters:
      - description: User unique identifier expressed as UUID or username.
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              example:
                key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDhMvg2+n2yNu0H2Hg8uiXfQtAid0WGRigNckb5J0T9GFINmqkYalI/AsWZbl4UfNMviD73h9xowUx+d7s2vB3E8bFxB9OWM22eLSp8fnbuhdI5mKBflq0jr6ms1cR/SD3YsbZ9sX6BqycQrjjYYl7WLM9rgec6b+EYyr/6nbDH/wql06TrNl6LUNkqI+YIqjRvqMeNEY9ux3sB+f46FRKO683u/cRCcp1eWAYf1ByYupIGREbQFLxhYv/NcKD8uIo7DRAuutwHKGOgnAl4WGUVsT5dplhaDYKlDTf2iMiJ+QDT25QABdrkHcIsu5D21AIdH3FI5UQnnu4unyEA77IDLp2EwKRr9k1XQc1o3zQ61+9Gm7Rt80WWgRsnhmshvAIDNcBv1+82kmA9jyeUf3M7KoRJLk6nIbZ1NwoVCX0VF3lRIB0Hvm/dL7Rpk8m/hE0SIIWIGaXbOT4ANFj+TxcF1Mfk7C3/T5/AYLHcq9ocYFKe4Q3Jv7tuHm600edpUfORdpCpjytcKStza07dRDa+OU577r6a1zHMrEMh8oEUtVO5pC1+EaRijTVaOR62DoarHdxJ23Ctk44o0JZfzj9VoVaAwVAhL1aT3pAQxQlWiTKpmYaHUYUp9SRJhyeFr/gpeIGTydKdawkh9Mz8KMlnu1GUolDDuOvSnvidzWaEaw==
          description: Reset SSH Key successfully.
        "400":
          content: {}
          description: Invalid data supplied.
      summary: Recreate an SSH key
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /v1/{namespace}/billing/cards/:
    get:
      operationId: billing_cards_list
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Set limit when retrieving credit or debit cards.
        in: query
        name: limit
        schema:
          type: string
      - description: Set offset when retriving cards.
        in: query
        name: offset
        schema:
          type: string
      - description: Order when retrieving cards.
        in: query
        name: ordering
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example: []
              schema:
                items:
                  $ref: '#/components/schemas/Card'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Card'
                type: array
          description: Card list
      summary: Get credit cards
      tags:
      - billing
      x-openapi-router-controller: openapi_server.controllers.billing_controller
    post:
      operationId: billing_cards_create
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDataPost'
        required: false
        x-body-name: card_data
      responses:
        "201":
          content:
            application/json:
              example:
                address_city: Atlanta
                address_country: United States
                address_line1: 3423 Piedmont Rd NE
                address_line1_check: pass
                address_line2: ""
                address_state: Georgia
                address_zip: "30305"
                address_zip_check: pass
                brand: Visa
                created: 2017-07-24T15:16:07.995380Z
                customer: 7e102c7b-55cd-49a0-9b23-58865eba1cc3
                cvc_check: ""
                exp_month: 1
                exp_year: 2019
                fingerprint: WpZ4zQymdmF5LhbH
                funding: credit
                id: 4126086e-525a-4027-b9e7-ae8de47210b2
                last4: "4242"
                name: John Doe
                stripe_id: card_1Aj8HuLUHPUzUsaQlDbaXjzA
              schema:
                $ref: '#/components/schemas/Card'
            text/html:
              schema:
                $ref: '#/components/schemas/Card'
          description: Card created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardError'
            text/html:
              schema:
                $ref: '#/components/schemas/CardError'
          description: Invalid data supplied
      summary: Create new credit card
      tags:
      - billing
      x-codegen-request-body-name: card_data
      x-openapi-router-controller: openapi_server.controllers.billing_controller
  /v1/{namespace}/billing/cards/{id}/:
    delete:
      operationId: billing_cards_delete
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Card unique identifier expressed as UUID.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Card deleted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Card not found.
      summary: Delete a credit card
      tags:
      - billing
      x-openapi-router-controller: openapi_server.controllers.billing_controller
    get:
      operationId: billing_cards_read
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: User unique identifier expressed as UUID.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                address_city: Atlanta
                address_country: United States
                address_line1: 3423 Piedmont Rd NE
                address_line1_check: pass
                address_line2: ""
                address_state: Georgia
                address_zip: "30305"
                address_zip_check: pass
                brand: Visa
                created: 2017-07-24T15:16:07.995380Z
                customer: 7e102c7b-55cd-49a0-9b23-58865eba1cc3
                cvc_check: ""
                exp_month: 1
                exp_year: 2019
                fingerprint: WpZ4zQymdmF5LhbH
                funding: credit
                id: 4126086e-525a-4027-b9e7-ae8de47210b2
                last4: "4242"
                name: John Doe
                stripe_id: card_1Aj8HuLUHPUzUsaQlDbaXjzA
              schema:
                $ref: '#/components/schemas/Card'
            text/html:
              schema:
                $ref: '#/components/schemas/Card'
          description: Card retrieved.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Card not found.
      summary: Get credit card by id
      tags:
      - billing
      x-openapi-router-controller: openapi_server.controllers.billing_controller
    patch:
      operationId: billing_cards_update
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Card unique identifier.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDataPutandPatch'
        required: false
        x-body-name: card_data
      responses:
        "200":
          content:
            application/json:
              example:
                address_city: Atlanta
                address_country: United States
                address_line1: 3423 Piedmont Rd NE
                address_line1_check: pass
                address_line2: ""
                address_state: Georgia
                address_zip: "30305"
                address_zip_check: pass
                brand: Visa
                created: 2017-07-24T15:16:10.806003Z
                customer: 7e102c7b-55cd-49a0-9b23-58865eba1cc3
                cvc_check: ""
                exp_month: 1
                exp_year: 2025
                fingerprint: WpZ4zQymdmF5LhbH
                funding: credit
                id: 4126086e-525a-4027-b9e7-ae8de47210b2
                last4: "4242"
                name: John Doe
                stripe_id: card_1Aj8HuLUHPUzUsaQlDbaXjzA
              schema:
                $ref: '#/components/schemas/Card'
            text/html:
              schema:
                $ref: '#/components/schemas/Card'
          description: Card updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardUpdateError'
            text/html:
              schema:
                $ref: '#/components/schemas/CardUpdateError'
          description: Invalid data supplied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Card not found
      summary: Update a credit card
      tags:
      - billing
      x-codegen-request-body-name: card_data
      x-openapi-router-controller: openapi_server.controllers.billing_controller
    put:
      operationId: billing_cards_replace
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDataPutandPatch'
        required: false
        x-body-name: card_data
      responses:
        "200":
          content:
            application/json:
              example:
                address_city: Atlanta
                address_country: United States
                address_line1: 3423 Piedmont Rd NE
                address_line1_check: pass
                address_line2: ""
                address_state: Georgia
                address_zip: "30305"
                address_zip_check: pass
                brand: Visa
                created: 2017-07-24T15:16:07.995380Z
                customer: 7e102c7b-55cd-49a0-9b23-58865eba1cc3
                cvc_check: ""
                exp_month: 1
                exp_year: 2027
                fingerprint: WpZ4zQymdmF5LhbH
                funding: credit
                id: 4126086e-525a-4027-b9e7-ae8de47210b2
                last4: "4242"
                name: John Doe
                stripe_id: card_1Aj8HuLUHPUzUsaQlDbaXjzA
              schema:
                $ref: '#/components/schemas/Card'
            text/html:
              schema:
                $ref: '#/components/schemas/Card'
          description: Card updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardError'
            text/html:
              schema:
                $ref: '#/components/schemas/CardError'
          description: Invalid data supplied
      summary: Replace a credit card
      tags:
      - billing
      x-codegen-request-body-name: card_data
      x-openapi-router-controller: openapi_server.controllers.billing_controller
  /v1/{namespace}/billing/invoices/:
    get:
      operationId: billing_invoices_list
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Limit when getting items.
        in: query
        name: limit
        schema:
          type: string
      - description: Offset when getting items.
        in: query
        name: offset
        schema:
          type: string
      - description: Ordering when getting items.
        in: query
        name: ordering
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example: []
              schema:
                items:
                  $ref: '#/components/schemas/Invoice'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Invoice'
                type: array
          description: Invoice list.
      summary: Get invoices
      tags:
      - billing
      x-openapi-router-controller: openapi_server.controllers.billing_controller
  /v1/{namespace}/billing/invoices/{id}/:
    get:
      operationId: billing_invoices_read
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Invoice unique identifier expressed as UUID.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
            text/html:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: Invoice retrieved.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Invoice not found.
      summary: Get an invoice
      tags:
      - billing
      x-openapi-router-controller: openapi_server.controllers.billing_controller
  /v1/{namespace}/billing/invoices/{invoice_id}/invoice-items/:
    get:
      operationId: billing_invoice_items_list
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: "Invoice id, expressed as UUID."
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
      - description: Limit when getting items.
        in: query
        name: limit
        schema:
          type: string
      - description: Offset when getting items.
        in: query
        name: offset
        schema:
          type: string
      - description: Ordering when getting items.
        in: query
        name: ordering
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example: []
              schema:
                items:
                  $ref: '#/components/schemas/InvoiceItem'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/InvoiceItem'
                type: array
          description: InvoiceItem list.
      summary: Get invoice items for a given invoice.
      tags:
      - billing
      x-openapi-router-controller: openapi_server.controllers.billing_controller
  /v1/{namespace}/billing/invoices/{invoice_id}/invoice-items/{id}:
    get:
      operationId: billing_invoice_items_read
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: "Invoice id, expressed as UUID."
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
      - description: "InvoiceItem id, expressed as UUID."
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceItem'
            text/html:
              schema:
                $ref: '#/components/schemas/InvoiceItem'
          description: InvoiceItem retrieved.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: InvoiceItem not found.
      summary: Get a specific InvoiceItem.
      tags:
      - billing
      x-openapi-router-controller: openapi_server.controllers.billing_controller
  /v1/{namespace}/billing/plans/:
    get:
      operationId: billing_plans_list
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Limit when getting items.
        in: query
        name: limit
        schema:
          type: string
      - description: Offset when getting items.
        in: query
        name: offset
        schema:
          type: string
      - description: Ordering when getting items.
        in: query
        name: ordering
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - amount: 20
                created: 2017-07-24T15:46:39Z
                currency: usd
                id: d5791ab3-aefb-45af-80fc-2c7a166d78eb
                interval: year
                interval_count: 1
                livemode: false
                metadata: {}
                name: patch_billing_plan
                statement_descriptor: ""
                stripe_id: post_billing_plan
                trial_period_days: 7
              - amount: 20
                created: 2017-07-24T15:46:48Z
                currency: usd
                id: 256fd63a-9d6b-48d2-8ff5-f56eaf54c59b
                interval: week
                interval_count: 52
                livemode: false
                metadata: {}
                name: post_billing_plan_2
                statement_descriptor: ""
                stripe_id: post_billing_plan_2
                trial_period_days: 7
              - amount: 20
                created: 2017-07-24T15:46:52Z
                currency: usd
                id: 5915a2ae-12f5-4927-bb26-3b0609228791
                interval: month
                interval_count: 12
                livemode: false
                metadata: {}
                name: post_billing_plan_3
                statement_descriptor: ""
                stripe_id: post_billing_plan_3
                trial_period_days: 7
              schema:
                items:
                  $ref: '#/components/schemas/Plan'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Plan'
                type: array
          description: Plan list.
      summary: Get billing plans
      tags:
      - billing
      x-openapi-router-controller: openapi_server.controllers.billing_controller
  /v1/{namespace}/billing/plans/{id}/:
    get:
      operationId: billing_plans_read
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Plan unique identifier expressed as UUID.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                amount: 20
                created: 2017-07-24T15:46:39Z
                currency: usd
                id: d5791ab3-aefb-45af-80fc-2c7a166d78eb
                interval: year
                interval_count: 1
                livemode: false
                metadata: {}
                name: post_billing_plan
                statement_descriptor: ""
                stripe_id: post_billing_plan
                trial_period_days: 7
              schema:
                $ref: '#/components/schemas/Plan'
            text/html:
              schema:
                $ref: '#/components/schemas/Plan'
          description: Plan retrieved
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Plan not found
      summary: Get a billing plan
      tags:
      - billing
      x-openapi-router-controller: openapi_server.controllers.billing_controller
  /v1/{namespace}/billing/subscriptions/:
    get:
      operationId: billing_subscriptions_list
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Limit when getting items.
        in: query
        name: limit
        schema:
          type: string
      - description: Offset when getting items.
        in: query
        name: offset
        schema:
          type: string
      - description: Ordering when getting items.
        in: query
        name: ordering
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - application_fee_percent: 0
                cancel_at_period_end: false
                canceled_at: ""
                created: 2017-07-24T17:25:04Z
                current_period_end: 2017-07-31T17:25:04Z
                current_period_start: 2017-07-24T17:25:04Z
                ended_at: ""
                id: 579208c3-4f5c-4b5d-baa3-309a06db681c
                livemode: false
                plan: efb36cb0-0ef2-4af3-ae5d-10d9ae73845d
                quantity: 1
                start: 2017-07-24T17:25:04Z
                status: trialing
                stripe_id: sub_B5KyO9BZ6lUNPP
                trial_end: 2017-07-31T17:25:04Z
                trial_start: 2017-07-24T17:25:04Z
              schema:
                items:
                  $ref: '#/components/schemas/Subscription'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Subscription'
                type: array
          description: Subscription list.
      summary: Get active subscriptons
      tags:
      - billing
      x-openapi-router-controller: openapi_server.controllers.billing_controller
    post:
      operationId: billing_subscriptions_create
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionData'
        required: false
        x-body-name: subscription_data
      responses:
        "201":
          content:
            application/json:
              example:
                application_fee_percent: 0
                cancel_at_period_end: false
                canceled_at: ""
                created: 2017-07-24T17:25:04Z
                current_period_end: 2017-07-31T17:25:04Z
                current_period_start: 2017-07-24T17:25:04Z
                ended_at: ""
                id: 579208c3-4f5c-4b5d-baa3-309a06db681c
                livemode: false
                plan: efb36cb0-0ef2-4af3-ae5d-10d9ae73845d
                quantity: 1
                start: 2017-07-24T17:25:04Z
                status: trialing
                stripe_id: sub_B5KyO9BZ6lUNPP
                trial_end: 2017-07-31T17:25:04Z
                trial_start: 2017-07-24T17:25:04Z
              schema:
                $ref: '#/components/schemas/Subscription'
            text/html:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Subscription created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionError'
            text/html:
              schema:
                $ref: '#/components/schemas/SubscriptionError'
          description: Invalid data supplied
      summary: Create a new subscription
      tags:
      - billing
      x-codegen-request-body-name: subscription_data
      x-openapi-router-controller: openapi_server.controllers.billing_controller
  /v1/{namespace}/billing/subscriptions/{id}/:
    delete:
      operationId: billing_subscriptions_delete
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Subscription unique identifier expressed as UUID.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Subscription deleted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Subscription not found.
      summary: Delete a subscription
      tags:
      - billing
      x-openapi-router-controller: openapi_server.controllers.billing_controller
    get:
      operationId: billing_subscriptions_read
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Unique identifier expressed as UUID.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
            text/html:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: Subscription retrieved.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Subscription not found.
      summary: Get a subscriptions
      tags:
      - billing
      x-openapi-router-controller: openapi_server.controllers.billing_controller
  /v1/{namespace}/notifications/:
    get:
      operationId: notifications_list
      parameters:
      - description: User or team data.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Limit when getting items.
        in: query
        name: limit
        schema:
          type: string
      - description: Offset when getting items.
        in: query
        name: offset
        schema:
          type: string
      - description: Ordering when getting items.
        in: query
        name: ordering
        schema:
          type: string
      - description: "When true, get only read notifications. When false, get only\
          \ unread notifications. Default behavior is to return both read and unread."
        in: query
        name: read
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Notification'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Notification'
                type: array
          description: List of notifications
      summary: Get notifications of all types and entities for the authenticated user.
      tags:
      - notifications
      x-openapi-router-controller: openapi_server.controllers.notifications_controller
    patch:
      operationId: notifications_update_list
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationListUpdateData'
        required: true
        x-body-name: notification_data
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
            text/html:
              schema:
                $ref: '#/components/schemas/Notification'
          description: Notification updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationError'
            text/html:
              schema:
                $ref: '#/components/schemas/NotificationError'
          description: Invalid data supplied
      summary: Mark a list of notifications as either read or unread.
      tags:
      - notifications
      x-codegen-request-body-name: notification_data
      x-openapi-router-controller: openapi_server.controllers.notifications_controller
  /v1/{namespace}/notifications/entity/{entity}:
    get:
      operationId: notifications_list_entity
      parameters:
      - description: User or team data.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Limit when getting items.
        in: query
        name: limit
        schema:
          type: string
      - description: Offset when getting items.
        in: query
        name: offset
        schema:
          type: string
      - description: Ordering when getting items.
        in: query
        name: ordering
        schema:
          type: string
      - description: Entity to filter notifications by.
        in: path
        name: entity
        required: true
        schema:
          enum:
          - billing
          type: string
      - description: "When true, get only read notifications. When false, get only\
          \ unread notifications. Default behavior is to return both read and unread."
        in: query
        name: read
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Notification'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Notification'
                type: array
          description: List of notifications
      summary: Get notifications of all types and entities for the authenticated user.
      tags:
      - notifications
      x-openapi-router-controller: openapi_server.controllers.notifications_controller
    patch:
      operationId: notifications_update_entity_list
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      - description: Entity to filter notifications by.
        in: path
        name: entity
        required: true
        schema:
          enum:
          - billing
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationListUpdateData'
        required: true
        x-body-name: notification_data
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
            text/html:
              schema:
                $ref: '#/components/schemas/Notification'
          description: Notification updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationError'
            text/html:
              schema:
                $ref: '#/components/schemas/NotificationError'
          description: Invalid data supplied
      summary: Mark a list of notifications as either read or unread.
      tags:
      - notifications
      x-codegen-request-body-name: notification_data
      x-openapi-router-controller: openapi_server.controllers.notifications_controller
  /v1/{namespace}/notifications/settings/:
    get:
      operationId: notification_settings_read
      parameters:
      - description: User or team data.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NotificationSettings'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/NotificationSettings'
                type: array
          description: Global notification settings
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Notification not found.
      summary: Retrieve global notification settings for the authenticated user
      tags:
      - notifications
      x-openapi-router-controller: openapi_server.controllers.notifications_controller
    patch:
      operationId: notification_settings_update
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationSettingsData'
        required: false
        x-body-name: notification_settings_data
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'
            text/html:
              schema:
                $ref: '#/components/schemas/NotificationSettings'
          description: Notification Settings updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettingsError'
            text/html:
              schema:
                $ref: '#/components/schemas/NotificationSettingsError'
          description: Invalid data supplied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
            text/html:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Notification Settings not found.
      summary: Modify global notification settings.
      tags:
      - notifications
      x-codegen-request-body-name: notification_settings_data
      x-openapi-router-controller: openapi_server.controllers.notifications_controller
    post:
      operationId: notification_settings_create
      parameters:
      - description: User or team name.
        in: path
        name: namespace
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationSettingsData'
        required: true
        x-body-name: notification_settings_data
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'
            text/html:
              schema:
                $ref: '#/components/schemas/NotificationSettings'
          description: Global Notification Settings created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettingsError'
            text/html:
[...]
