openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Chat
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_chat_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_chat_v1
servers:
- url: https://chat.twilio.com
tags:
- name: ChatV1Channel
- name: ChatV1Credential
- name: ChatV1Invite
- name: ChatV1Member
- name: ChatV1Message
- name: ChatV1Role
- name: ChatV1Service
- name: ChatV1User
- name: ChatV1UserChannel
paths:
  /v1/Credentials:
    description: Credentials for push notifications channels
    get:
      description: ""
      operationId: list_credential
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCredentialResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_credential_controller
    post:
      description: ""
      operationId: create_credential
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCredentialRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.credential'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_credential_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      pathType: list
  /v1/Credentials/{Sid}:
    delete:
      description: ""
      operationId: delete_credential
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Credential
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_credential_controller
    description: Credentials for push notifications channels
    get:
      description: ""
      operationId: fetch_credential
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Credential
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.credential'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_credential_controller
    post:
      description: ""
      operationId: update_credential
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Credential
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CR[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateCredentialRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.credential'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Credential
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_credential_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      pathType: instance
  /v1/Services:
    description: Top level scope for all chat resources
    get:
      description: ""
      operationId: list_service
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_service_controller
    post:
      description: ""
      operationId: create_service
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_service_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        channels:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Channels"
        roles:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Roles"
        users:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Users"
      pathType: list
  /v1/Services/{ServiceSid}/Channels:
    description: Channels represent chat rooms
    get:
      description: ""
      operationId: list_channel
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to read the resources from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The visibility of the Channels to read. Can be: `public` or\
          \ `private` and defaults to `public`."
        explode: true
        in: query
        name: Type
        required: false
        schema:
          items:
            $ref: '#/components/schemas/channel_enum_channel_type'
          type: array
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChannelResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Channel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_channel_controller
    post:
      description: ""
      operationId: create_channel
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to create the resource under."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateChannelRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.channel'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Channel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_channel_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      dependentProperties:
        invites:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Channels/{channel_sid}/Invites"
        members:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Channels/{channel_sid}/Members"
        messages:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Channels/{channel_sid}/Messages"
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Channels/{ChannelSid}/Invites:
    description: Pending invitations to users to become channel members
    get:
      description: ""
      operationId: list_invite
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to read the resources from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The SID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
          \ the resources to read belong to."
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The [User](https://www.twilio.com/docs/api/chat/rest/v1/user)'s\
          \ `identity` value of the resources to read. See [access tokens](https://www.twilio.com/docs/api/chat/guides/create-tokens)\
          \ for more details."
        explode: true
        in: query
        name: Identity
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInviteResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Invite
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_invite_controller
    post:
      description: ""
      operationId: create_invite
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to create the resource under."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The SID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
          \ the new resource belongs to."
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateInviteRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.channel.invite'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Invite
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_invite_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Channels/{ChannelSid}/Invites/{Sid}:
    delete:
      description: ""
      operationId: delete_invite
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to delete the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The SID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
          \ the resource to delete belongs to."
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Invite
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Invite
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_invite_controller
    description: Pending invitations to users to become channel members
    get:
      description: ""
      operationId: fetch_invite
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The SID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
          \ the resource to fetch belongs to."
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Invite
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IN[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.channel.invite'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Invite
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_invite_controller
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Channels/{ChannelSid}/Members:
    description: Users joined to specific channels
    get:
      description: ""
      operationId: list_member
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to read the resources from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
          \ the members to read belong to. Can be the Channel resource's `sid` or\
          \ `unique_name` value."
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: "The [User](https://www.twilio.com/docs/api/chat/rest/v1/user)'s\
          \ `identity` value of the resources to read. See [access tokens](https://www.twilio.com/docs/api/chat/guides/create-tokens)\
          \ for more details."
        explode: true
        in: query
        name: Identity
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemberResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Member
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_member_controller
    post:
      description: ""
      operationId: create_member
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to create the resource under."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
          \ the new member belongs to. Can be the Channel resource's `sid` or `unique_name`."
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateMemberRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.channel.member'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Member
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_member_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Channels/{ChannelSid}/Members/{Sid}:
    delete:
      description: ""
      operationId: delete_member
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to delete the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
          \ the message belongs to.  Can be the Channel's `sid` or `unique_name`."
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Member
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MB[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Member
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_member_controller
    description: Users joined to specific channels
    get:
      description: ""
      operationId: fetch_member
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
          \ the member to fetch belongs to. Can be the Channel resource's `sid` or\
          \ `unique_name` value."
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Member
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MB[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.channel.member'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Member
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_member_controller
    post:
      description: ""
      operationId: update_member
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to update the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
          \ the member to update belongs to. Can be the Channel resource's `sid` or\
          \ `unique_name`."
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Member
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^MB[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateMemberRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.channel.member'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Member
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_member_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Channels/{ChannelSid}/Messages:
    description: Individual chat messages
    get:
      description: ""
      operationId: list_message
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to read the resources from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
          \ the message to read belongs to. Can be the Channel's `sid` or `unique_name`."
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The sort order of the returned messages. Can be: `asc` (ascending)\
          \ or `desc` (descending) with `asc` as the default."
        explode: true
        in: query
        name: Order
        required: false
        schema:
          $ref: '#/components/schemas/message_enum_order_type'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMessageResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_message_controller
    post:
      description: ""
      operationId: create_message
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to create the resource under."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
          \ the new resource belongs to. Can be the Channel resource's `sid` or `unique_name`."
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateMessageRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.channel.message'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_message_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - from
      - to
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Channels/{ChannelSid}/Messages/{Sid}:
    delete:
      description: ""
      operationId: delete_message
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to delete the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
          \ the message to delete belongs to.  Can be the Channel resource's `sid`\
          \ or `unique_name`."
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Message
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_message_controller
    description: Individual chat messages
    get:
      description: ""
      operationId: fetch_message
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
          \ the message to fetch belongs to. Can be the Channel's `sid` or `unique_name`."
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Message
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.channel.message'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_message_controller
    post:
      description: ""
      operationId: update_message
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to update the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
          \ the message belongs to. Can be the Channel's `sid` or `unique_name`."
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Message
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateMessageRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.channel.message'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Message
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_message_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - from
      - to
      - date_created
      parent: "/Services/{ServiceSid}/Channels/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Channels/{Sid}:
    delete:
      description: ""
      operationId: delete_channel
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to delete the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Channel
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Channel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_channel_controller
    description: Channels represent chat rooms
    get:
      description: ""
      operationId: fetch_channel
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Channel
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.channel'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Channel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_channel_controller
    post:
      description: ""
      operationId: update_channel
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to update the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Channel
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateChannelRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.channel'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Channel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_channel_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      dependentProperties:
        invites:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Channels/{channel_sid}/Invites"
        members:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Channels/{channel_sid}/Members"
        messages:
          mapping:
            channel_sid: sid
            service_sid: service_sid
          resource_url: "/v1/Services/{service_sid}/Channels/{channel_sid}/Messages"
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Roles:
    description: Roles determining user or member permissions
    get:
      description: ""
      operationId: list_role
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to read the resources from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoleResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_role_controller
    post:
      description: ""
      operationId: create_role
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to create the resource under."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.role'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_role_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Roles/{Sid}:
    delete:
      description: ""
      operationId: delete_role
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to delete the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Role
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_role_controller
    description: Roles determining user or member permissions
    get:
      description: ""
      operationId: fetch_role
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Role
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.role'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_role_controller
    post:
      description: ""
      operationId: update_role
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to update the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the Role
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^RL[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.role'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Role
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_role_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Users:
    description: Unique chat users within a chat service
    get:
      description: ""
      operationId: list_user
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to read the resources from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1User
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_user_controller
    post:
      description: ""
      operationId: create_user
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to create the resource under."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.user'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1User
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_user_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        user_channels:
          mapping:
            service_sid: service_sid
            user_sid: sid
          resource_url: "/v1/Services/{service_sid}/Users/{user_sid}/Channels"
      parent: "/Services/{Sid}"
      pathType: list
  /v1/Services/{ServiceSid}/Users/{Sid}:
    delete:
      description: ""
      operationId: delete_user
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to delete the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the User
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1User
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_user_controller
    description: Unique chat users within a chat service
    get:
      description: ""
      operationId: fetch_user
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to fetch the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the User
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.user'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1User
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_user_controller
    post:
      description: ""
      operationId: update_user
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to update the resource from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Twilio-provided string that uniquely identifies the User
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service.user'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1User
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_user_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        user_channels:
          mapping:
            service_sid: service_sid
            user_sid: sid
          resource_url: "/v1/Services/{service_sid}/Users/{user_sid}/Channels"
      parent: "/Services/{Sid}"
      pathType: instance
  /v1/Services/{ServiceSid}/Users/{UserSid}/Channels:
    description: "TODO: Resource-level docs"
    get:
      description: List all Channels for a given User.
      operationId: list_user_channel
      parameters:
      - description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
          \ to read the resources from."
        explode: false
        in: path
        name: ServiceSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The SID of the [User](https://www.twilio.com/docs/api/chat/rest/users)\
          \ to read the User Channel resources from."
        explode: false
        in: path
        name: UserSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserChannelResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1UserChannel
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_user_channel_controller
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - channel_sid
      - status
      mountName: user_channels
      parent: "/Services/{ServiceSid}/Users/{Sid}"
      pathType: list
  /v1/Services/{Sid}:
    delete:
      description: ""
      operationId: delete_service
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Service
          resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_service_controller
    description: Top level scope for all chat resources
    get:
      description: ""
      operationId: fetch_service
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Service
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_service_controller
    post:
      description: ""
      operationId: update_service
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Service
          resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat.v1.service'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ChatV1Service
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.chat_v1_service_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://chat.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      dependentProperties:
        channels:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Channels"
        roles:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Roles"
        users:
          mapping:
            service_sid: sid
          resource_url: "/v1/Services/{service_sid}/Users"
      pathType: instance
components:
  schemas:
    channel_enum_channel_type:
      enum:
      - public
      - private
      title: channel_enum_channel_type
      type: string
    chat.v1.credential:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        sandbox: sandbox
        account_sid: account_sid
        type: type
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/api/rest/account)\
            \ that created the Credential resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        sandbox:
          description: "[APN only] Whether to send the credential to sandbox APNs.\
            \ Can be `true` to send to sandbox APNs or `false` to send to production."
          nullable: true
          title: sandbox
          type: string
        sid:
          description: The unique string that we created to identify the Credential
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CR[0-9a-fA-F]{32}$"
          title: sid
          type: string
        type:
          $ref: '#/components/schemas/credential_enum_push_service'
        url:
          description: The absolute URL of the Credential resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: chat.v1.credential
      type: object
    chat.v1.service:
      example:
        friendly_name: friendly_name
        webhook_method: webhook_method
        date_updated: 2000-01-23T04:56:07.000+00:00
        default_channel_role_sid: default_channel_role_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        post_webhook_url: post_webhook_url
        read_status_enabled: true
        url: https://openapi-generator.tech
        pre_webhook_url: pre_webhook_url
        sid: sid
        reachability_enabled: true
        webhooks: ""
        consumption_report_interval: 0
        default_service_role_sid: default_service_role_sid
        account_sid: account_sid
        default_channel_creator_role_sid: default_channel_creator_role_sid
        links: "{}"
        typing_indicator_timeout: 6
        webhook_filters:
        - webhook_filters
        - webhook_filters
        limits: ""
        notifications: ""
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/api/rest/account)\
            \ that created the Service resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        consumption_report_interval:
          description: DEPRECATED. The interval in seconds between consumption reports
            submission batches from client endpoints.
          nullable: true
          title: consumption_report_interval
          type: integer
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        default_channel_creator_role_sid:
          description: "The channel role assigned to a channel creator when they join\
            \ a new channel. See the [Roles endpoint](https://www.twilio.com/docs/chat/api/roles)\
            \ for more details."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          title: default_channel_creator_role_sid
          type: string
        default_channel_role_sid:
          description: "The channel role assigned to users when they are added to\
            \ a channel. See the [Roles endpoint](https://www.twilio.com/docs/chat/api/roles)\
            \ for more details."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          title: default_channel_role_sid
          type: string
        default_service_role_sid:
          description: "The service role assigned to users when they are added to\
            \ the service. See the [Roles endpoint](https://www.twilio.com/docs/chat/api/roles)\
            \ for more details."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          title: default_service_role_sid
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        limits:
          description: "An object that describes the limits of the service instance.\
            \ The `limits` object contains  `channel_members` to describe the members/channel\
            \ limit and `user_channels` to describe the channels/user limit. `channel_members`\
            \ can be 1,000 or less, with a default of 250. `user_channels` can be\
            \ 1,000 or less, with a default value of 100."
          nullable: true
          title: limits
        links:
          description: "The absolute URLs of the Service's [Channels](https://www.twilio.com/docs/chat/api/channels),\
            \ [Roles](https://www.twilio.com/docs/chat/api/roles), and [Users](https://www.twilio.com/docs/chat/api/users)."
          format: uri-map
          nullable: true
          title: links
          type: object
        notifications:
          description: "The notification configuration for the Service instance. See\
            \ [Push Notification Configuration](https://www.twilio.com/docs/chat/push-notification-configuration)\
            \ for more information."
          nullable: true
          title: notifications
        post_webhook_url:
          description: "The URL for post-event webhooks, which are called by using\
            \ the `webhook_method`. See [Webhook Events](https://www.twilio.com/docs/api/chat/webhooks)\
            \ for more details."
          nullable: true
          title: post_webhook_url
          type: string
        pre_webhook_url:
          description: "The URL for pre-event webhooks, which are called by using\
            \ the `webhook_method`. See [Webhook Events](https://www.twilio.com/docs/api/chat/webhooks)\
            \ for more details."
          nullable: true
          title: pre_webhook_url
          type: string
        reachability_enabled:
          description: "Whether the [Reachability Indicator](https://www.twilio.com/docs/chat/reachability-indicator)\
            \ is enabled for this Service instance. The default is `false`."
          nullable: true
          title: reachability_enabled
          type: boolean
        read_status_enabled:
          description: "Whether the [Message Consumption Horizon](https://www.twilio.com/docs/chat/consumption-horizon)\
            \ feature is enabled. The default is `true`."
          nullable: true
          title: read_status_enabled
          type: boolean
        sid:
          description: The unique string that we created to identify the Service resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: sid
          type: string
        typing_indicator_timeout:
          description: "How long in seconds after a `started typing` event until clients\
            \ should assume that user is no longer typing, even if no `ended typing`\
            \ message was received.  The default is 5 seconds."
          nullable: true
          title: typing_indicator_timeout
          type: integer
        url:
          description: The absolute URL of the Service resource.
          format: uri
          nullable: true
          title: url
          type: string
        webhook_filters:
          description: "The list of WebHook events that are enabled for this Service\
            \ instance. See [Webhook Events](https://www.twilio.com/docs/chat/webhook-events)\
            \ for more details."
          items:
            type: string
          nullable: true
          title: webhook_filters
          type: array
        webhook_method:
          description: "The HTTP method to use for calls to the `pre_webhook_url`\
            \ and `post_webhook_url` webhooks.  Can be: `POST` or `GET` and the default\
            \ is `POST`. See [Webhook Events](https://www.twilio.com/docs/chat/webhook-events)\
            \ for more details."
          nullable: true
          title: webhook_method
          type: string
        webhooks:
          description: An object that contains information about the webhooks configured
            for this service.
          nullable: true
          title: webhooks
      title: chat.v1.service
      type: object
    chat.v1.service.channel:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        type: type
        created_by: created_by
        url: https://openapi-generator.tech
        sid: sid
        service_sid: service_sid
        messages_count: 6
        unique_name: unique_name
        account_sid: account_sid
        attributes: attributes
        links: "{}"
        members_count: 0
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/api/rest/account)\
            \ that created the Channel resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        attributes:
          description: "The JSON string that stores application-specific data. **Note**\
            \ If this property has been assigned a value, it's only  displayed in\
            \ a FETCH action that returns a single resource; otherwise, it's null.\
            \ If the attributes have not been set, `{}` is returned."
          nullable: true
          title: attributes
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: sensitive
        created_by:
          description: "The `identity` of the User that created the channel. If the\
            \ Channel was created by using the API, the value is `system`."
          nullable: true
          title: created_by
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        links:
          description: "The absolute URLs of the [Members](https://www.twilio.com/docs/chat/api/members),\
            \ [Messages](https://www.twilio.com/docs/chat/api/messages) , [Invites](https://www.twilio.com/docs/chat/api/invites)\
            \ and, if it exists, the last [Message](https://www.twilio.com/docs/chat/api/messages)\
            \ for the Channel."
          format: uri-map
          nullable: true
          title: links
          type: object
        members_count:
          description: The number of Members in the Channel.
          nullable: true
          title: members_count
          type: integer
        messages_count:
          description: The number of Messages in the Channel.
          nullable: true
          title: messages_count
          type: integer
        service_sid:
          description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
            \ the resource is associated with."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          description: The unique string that we created to identify the Channel resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          title: sid
          type: string
        type:
          $ref: '#/components/schemas/channel_enum_channel_type'
        unique_name:
          description: An application-defined string that uniquely identifies the
            resource. It can be used to address the resource in place of the resource's
            `sid` in the URL.
          nullable: true
          title: unique_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        url:
          description: The absolute URL of the Channel resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: chat.v1.service.channel
      type: object
    chat.v1.service.channel.invite:
      example:
        service_sid: service_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        role_sid: role_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        identity: identity
        account_sid: account_sid
        created_by: created_by
        channel_sid: channel_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/api/rest/account)\
            \ that created the Invite resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        channel_sid:
          description: "The SID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
            \ the resource belongs to."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          title: channel_sid
          type: string
        created_by:
          description: The `identity` of the User that created the invite.
          nullable: true
          title: created_by
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        identity:
          description: "The application-defined string that uniquely identifies the\
            \ resource's [User](https://www.twilio.com/docs/api/chat/rest/users) within\
            \ the [Service](https://www.twilio.com/docs/api/chat/rest/services). See\
            \ [access tokens](https://www.twilio.com/docs/api/chat/guides/create-tokens)\
            \ for more info."
          nullable: true
          title: identity
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        role_sid:
          description: "The SID of the [Role](https://www.twilio.com/docs/api/chat/rest/roles)\
            \ assigned to the resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          title: role_sid
          type: string
        service_sid:
          description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
            \ the resource is associated with."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          description: The unique string that we created to identify the Invite resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IN[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: The absolute URL of the Invite resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: chat.v1.service.channel.invite
      type: object
    chat.v1.service.channel.member:
      example:
        last_consumption_timestamp: 2000-01-23T04:56:07.000+00:00
        service_sid: service_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        role_sid: role_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        identity: identity
        account_sid: account_sid
        last_consumed_message_index: 0
        channel_sid: channel_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/api/rest/account)\
            \ that created the Member resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        channel_sid:
          description: "The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
            \ for the member."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          title: channel_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        identity:
          description: "The application-defined string that uniquely identifies the\
            \ resource's [User](https://www.twilio.com/docs/api/chat/rest/users) within\
            \ the [Service](https://www.twilio.com/docs/api/chat/rest/services). See\
            \ [access tokens](https://www.twilio.com/docs/api/chat/guides/create-tokens)\
            \ for more info."
          nullable: true
          title: identity
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        last_consumed_message_index:
          description: "The index of the last [Message](https://www.twilio.com/docs/api/chat/rest/messages)\
            \ in the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
            \ that the Member has read."
          nullable: true
          title: last_consumed_message_index
          type: integer
        last_consumption_timestamp:
          description: "The ISO 8601 timestamp string that represents the date-time\
            \ of the last [Message](https://www.twilio.com/docs/api/chat/rest/messages)\
            \ read event for the Member within the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)."
          format: date-time
          nullable: true
          title: last_consumption_timestamp
          type: string
        role_sid:
          description: "The SID of the [Role](https://www.twilio.com/docs/api/chat/rest/roles)\
            \ assigned to the member."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          title: role_sid
          type: string
        service_sid:
          description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
            \ the resource is associated with."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          description: The unique string that we created to identify the Member resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^MB[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: The absolute URL of the Member resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: chat.v1.service.channel.member
      type: object
    chat.v1.service.channel.message:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        index: 0
        was_edited: true
        body: body
        channel_sid: channel_sid
        url: https://openapi-generator.tech
        sid: sid
        service_sid: service_sid
        account_sid: account_sid
        attributes: attributes
        from: from
        to: to
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/api/rest/account)\
            \ that created the Message resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        attributes:
          description: "The JSON string that stores application-specific data. **Note**\
            \ If this property has been assigned a value, it's only  displayed in\
            \ a FETCH action that returns a single resource; otherwise, it's null.\
            \ If the attributes have not been set, `{}` is returned."
          nullable: true
          title: attributes
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: sensitive
        body:
          description: The content of the message.
          nullable: true
          title: body
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: sensitive
        channel_sid:
          description: "The unique ID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
            \ the Message resource belongs to."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          title: channel_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        from:
          description: "The [identity](https://www.twilio.com/docs/api/chat/guides/identity)\
            \ of the message's author. The default value is `system`."
          nullable: true
          title: from
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        index:
          description: "The index of the message within the [Channel](https://www.twilio.com/docs/chat/api/channels)."
          nullable: true
          title: index
          type: integer
        service_sid:
          description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
            \ the resource is associated with."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          description: The unique string that we created to identify the Message resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IM[0-9a-fA-F]{32}$"
          title: sid
          type: string
        to:
          description: "The SID of the [Channel](https://www.twilio.com/docs/chat/api/channels)\
            \ that the message was sent to."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          title: to
          type: string
        url:
          description: The absolute URL of the Message resource.
          format: uri
          nullable: true
          title: url
          type: string
        was_edited:
          description: Whether the message has been edited since it was created.
          nullable: true
          title: was_edited
          type: boolean
      title: chat.v1.service.channel.message
      type: object
    chat.v1.service.role:
      example:
        service_sid: service_sid
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        permissions:
        - permissions
        - permissions
        account_sid: account_sid
        type: type
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/api/rest/account)\
            \ that created the Role resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        permissions:
          description: "An array of the permissions the role has been granted, formatted\
            \ as a JSON string."
          items:
            type: string
          nullable: true
          title: permissions
          type: array
        service_sid:
          description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
            \ the resource is associated with."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          description: The unique string that we created to identify the Role resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          title: sid
          type: string
        type:
          $ref: '#/components/schemas/role_enum_role_type'
        url:
          description: The absolute URL of the Role resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: chat.v1.service.role
      type: object
    chat.v1.service.user:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        role_sid: role_sid
        date_created: 2000-01-23T04:56:07.000+00:00
        joined_channels_count: 0
        url: https://openapi-generator.tech
        sid: sid
        service_sid: service_sid
        identity: identity
        is_notifiable: true
        account_sid: account_sid
        attributes: attributes
        links: "{}"
        is_online: true
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/api/rest/account)\
            \ that created the User resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        attributes:
          description: "The JSON string that stores application-specific data. **Note**\
            \ If this property has been assigned a value, it's only  displayed in\
            \ a FETCH action that returns a single resource; otherwise, it's null.\
            \ If the attributes have not been set, `{}` is returned."
          nullable: true
          title: attributes
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: sensitive
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        identity:
          description: "The application-defined string that uniquely identifies the\
            \ resource's User within the [Service](https://www.twilio.com/docs/api/chat/rest/services).\
            \ This value is often a username or an email address. See [access tokens](https://www.twilio.com/docs/api/chat/guides/create-tokens)\
            \ for more info."
          nullable: true
          title: identity
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        is_notifiable:
          description: "Whether the User has a potentially valid Push Notification\
            \ registration (APN or GCM) for the Service instance. If at least one\
            \ registration exists, `true`; otherwise `false`. This value is only returned\
            \ by Fetch actions that return a single resource and `null` is always\
            \ returned by a Read action. This value is `null` if the Service's `reachability_enabled`\
            \ is `false`, and if the User has never had a notification registration,\
            \ even if the Service's `reachability_enabled` is `true`."
          nullable: true
          title: is_notifiable
          type: boolean
        is_online:
          description: "Whether the User is actively connected to the Service instance\
            \ and online. This value is only returned by Fetch actions that return\
            \ a single resource and `null` is always returned by a Read action. This\
            \ value is `null` if the Service's `reachability_enabled` is `false`,\
            \ if the User has never been online for the Service instance, even if\
            \ the Service's `reachability_enabled` is `true`."
          nullable: true
          title: is_online
          type: boolean
        joined_channels_count:
          description: The number of Channels this User is a Member of.
          nullable: true
          title: joined_channels_count
          type: integer
        links:
          description: "The absolute URLs of the [Channel](https://www.twilio.com/docs/chat/api/channels)\
            \ and [Binding](https://www.twilio.com/docs/chat/rest/bindings-resource)\
            \ resources related to the user."
          format: uri-map
          nullable: true
          title: links
          type: object
        role_sid:
          description: "The SID of the [Role](https://www.twilio.com/docs/api/chat/rest/roles)\
            \ assigned to the user."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^RL[0-9a-fA-F]{32}$"
          title: role_sid
          type: string
        service_sid:
          description: "The SID of the [Service](https://www.twilio.com/docs/api/chat/rest/services)\
            \ the resource is associated with."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          title: service_sid
          type: string
        sid:
          description: The unique string that we created to identify the User resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^US[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: The absolute URL of the User resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: chat.v1.service.user
      type: object
    chat.v1.service.user.user_channel:
      example:
        service_sid: service_sid
        account_sid: account_sid
        last_consumed_message_index: 0
        links: "{}"
        member_sid: member_sid
        unread_messages_count: 6
        channel_sid: channel_sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/api/rest/account)\
            \ that created the User Channel resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        channel_sid:
          description: "The SID of the [Channel](https://www.twilio.com/docs/api/chat/rest/channels)\
            \ the resource belongs to."
          maxLength: 34
          minLength: 34
[...]
