openapi: 3.0.1
info:
  contact:
    email: support@blazemeter.com
  description: Live API Documentation
  license:
    name: LGPL-2.1
    url: https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html
  title: Blazemeter API Explorer
  version: "4"
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/BlazeMeter/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.6.0
    format: swagger
    url: https://a.blazemeter.com/api/v4/explorer/resources.json
    version: "1.2"
  x-providerName: blazemeter.com
servers:
- url: https://a.blazemeter.com/api/v4
tags:
- name: user
paths:
  /user/active/sessions:
    get:
      operationId: active_sessions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
          description: No response was specified
      security:
      - apiKey: []
      summary: '&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>'
      tags:
      - user
      x-accepts:
      - application/json
      - text/csv
      - text/html
      - text/javascript
      - text/plain
  /user/active/terminate:
    post:
      operationId: panic_terminate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel5'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel5'
          text/csv:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel5'
          text/plain:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel5'
        description: <section class="body-param"><strong>session_ids</strong> (required)<br/></section>
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
          description: No response was specified
      security:
      - apiKey: []
      summary: '&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>'
      tags:
      - user
      x-codegen-request-body-name: blazemeter\Routing\v4\UserModel5
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/csv
      - text/html
      - text/javascript
      - text/plain
  /user/collections:
    get:
      operationId: retrieveCollections
      parameters:
      - in: query
        name: skip
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
          description: No response was specified
        "500":
          content: {}
          description: RestException
      security:
      - apiKey: []
      summary: List organization multi-tests&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
      - user
      x-accepts:
      - application/json
      - text/csv
      - text/html
      - text/javascript
      - text/plain
  /user/invites:
    get:
      operationId: retrieveInvites
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/html:
              schema:
                items:
                  type: string
                type: array
            text/javascript:
              schema:
                items:
                  type: string
                type: array
            text/csv:
              schema:
                items:
                  type: string
                type: array
            text/plain:
              schema:
                items:
                  type: string
                type: array
          description: No response was specified
      security:
      - apiKey: []
      summary: '&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>'
      tags:
      - user
      x-accepts:
      - application/json
      - text/csv
      - text/html
      - text/javascript
      - text/plain
  /user/locations:
    get:
      operationId: retrieveLocations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
          description: No response was specified
        "500":
          content: {}
          description: RestException
      security:
      - apiKey: []
      summary: Get user available locations&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
      - user
      x-accepts:
      - application/json
      - text/csv
      - text/html
      - text/javascript
      - text/plain
  /user/masters:
    get:
      operationId: retrieveMasters
      parameters:
      - in: query
        name: skip
        schema:
          format: int64
          type: integer
      - in: query
        name: limit
        schema:
          default: 1000
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
          description: No response was specified
      security:
      - apiKey: []
      summary: List user private masters&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
      - user
      x-accepts:
      - application/json
      - text/csv
      - text/html
      - text/javascript
      - text/plain
  /user/password:
    patch:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel1'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel1'
          text/csv:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel1'
          text/plain:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel1'
        description: <section class="body-param"><strong>currentPassword</strong>
          (required)<br/><strong>newPassword</strong> (required)<br/></section>
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
          description: No response was specified
        "500":
          content: {}
          description: RestException
      security:
      - apiKey: []
      summary: Update user name&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
      - user
      x-codegen-request-body-name: blazemeter\Routing\v4\UserModel1
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/csv
      - text/html
      - text/javascript
      - text/plain
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel3'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel3'
          text/csv:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel3'
          text/plain:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel3'
        description: <section class="body-param"><strong>currentPassword</strong>
          (required)<br/><strong>newPassword</strong> (required)<br/></section>
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
          description: No response was specified
        "500":
          content: {}
          description: RestException
      security:
      - apiKey: []
      summary: Update user name&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
      - user
      x-codegen-request-body-name: blazemeter\Routing\v4\UserModel3
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/csv
      - text/html
      - text/javascript
      - text/plain
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel2'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel2'
          text/csv:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel2'
          text/plain:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel2'
        description: <section class="body-param"><strong>currentPassword</strong>
          (required)<br/><strong>newPassword</strong> (required)<br/></section>
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
          description: No response was specified
        "500":
          content: {}
          description: RestException
      security:
      - apiKey: []
      summary: Update user name&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
      - user
      x-codegen-request-body-name: blazemeter\Routing\v4\UserModel2
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/csv
      - text/html
      - text/javascript
      - text/plain
  /user/projects:
    get:
      operationId: retrieveProjects
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
          description: No response was specified
      security:
      - apiKey: []
      summary: Get user projects&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
      - user
      x-accepts:
      - application/json
      - text/csv
      - text/html
      - text/javascript
      - text/plain
  /user/register:
    get:
      operationId: register_retrieve
      parameters:
      - description: Email address
        in: query
        name: email
        required: true
        schema:
          type: string
      - description: Password
        in: query
        name: password
        required: true
        schema:
          type: string
      - description: First name
        in: query
        name: firstName
        schema:
          type: string
      - description: Last name
        in: query
        name: lastName
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
          description: No response was specified
        "500":
          content: {}
          description: RestException
      security:
      - apiKey: []
      summary: Registration&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
      - user
      x-accepts:
      - application/json
      - text/csv
      - text/html
      - text/javascript
      - text/plain
    post:
      operationId: register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel4'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel4'
          text/csv:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel4'
          text/plain:
            schema:
              $ref: '#/components/schemas/blazemeter\Routing\v4\UserModel4'
        description: <section class="body-param"><strong>firstName</strong> (required)<br/><strong>lastName</strong>
          (required)<br/><strong>email</strong> (required)<br/><strong>password</strong>
          (required)<br/></section>
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
          description: No response was specified
        "500":
          content: {}
          description: RestException
      security:
      - apiKey: []
      summary: Registration&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
      - user
      x-codegen-request-body-name: blazemeter\Routing\v4\UserModel4
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/csv
      - text/html
      - text/javascript
      - text/plain
  /user/tests:
    get:
      operationId: retrieveTests
      parameters:
      - in: query
        name: skip
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/javascript:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/blazemeter\Model\ApiResponse'
          description: No response was specified
        "500":
          content: {}
          description: RestException
      security:
      - apiKey: []
      summary: List user private tests&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
      - user
      x-accepts:
      - application/json
      - text/csv
      - text/html
      - text/javascript
      - text/plain
  /user/top:
    get:
      operationId: top
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            text/html:
              schema:
                items:
                  type: string
                type: array
            text/javascript:
              schema:
                items:
                  type: string
                type: array
            text/csv:
              schema:
                items:
                  type: string
                type: array
            text/plain:
              schema:
                items:
                  type: string
                type: array
          description: No response was specified
      security:
      - apiKey: []
      summary: '&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>'
      tags:
      - user
      x-accepts:
      - application/json
      - text/csv
      - text/html
      - text/javascript
      - text/plain
components:
  schemas:
    ApiResponse:
      description: ApiResponse Model
      properties:
        api_version:
          type: string
        error:
          type: string
        result:
          type: string
      required:
      - api_version
      - error
      - result
      type: object
    UserModel1:
      description: UserModel1 Model
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string
      required:
      - currentPassword
      - newPassword
      type: object
    UserModel2:
      description: UserModel2 Model
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string
      required:
      - currentPassword
      - newPassword
      type: object
    UserModel3:
      description: UserModel3 Model
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string
      required:
      - currentPassword
      - newPassword
      type: object
    UserModel4:
      description: UserModel4 Model
      properties:
        email:
          description: Email address
          type: string
        firstName:
          description: First name
          type: string
        lastName:
          description: Last name
          type: string
        password:
          description: Password
          type: string
      required:
      - email
      - firstName
      - lastName
      - password
      type: object
    UserModel5:
      description: UserModel5 Model
      properties:
        session_ids:
          items:
            type: string
          type: array
      type: object
    blazemeter\Model\ApiResponse:
      type: object
    blazemeter\Routing\v4\UserModel1:
      type: object
    blazemeter\Routing\v4\UserModel2:
      type: object
    blazemeter\Routing\v4\UserModel3:
      type: object
    blazemeter\Routing\v4\UserModel4:
      type: object
    blazemeter\Routing\v4\UserModel5:
      type: object
  securitySchemes:
    apiKey:
      in: query
      name: api_key
      type: apiKey
x-original-swagger-version: "2.0"

