openapi: 3.0.1
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: 2015-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/DirectoryTenant.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-DirectoryTenant
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/directoryTenants:
    get:
      description: Lists all the directory tenants under the current subscription
        and given resource group name.
      operationId: DirectoryTenants_List
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryTenantList'
          description: OK
      tags:
      - DirectoryTenants
      x-ms-examples:
        Lists all the directory tenants under the current subscription and given resource group name.:
          parameters:
            api-version: 2015-11-01
            location: local
            resourceGroupName: system.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/System.local/providers/Microsoft.Subscriptions.Admin/directoryTenants/azurestackci07.onmicrosoft.com
                  location: local
                  name: azurestackci07.onmicrosoft.com
                  properties:
                    tenantId: 2b3697e6-a7a2-4cdd-a3d4-f4ef6505cd4f
                  type: Microsoft.Subscriptions.Admin/directoryTenants
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/directoryTenants/{tenant}
  : delete:
      description: Delete a directory tenant under a resource group.
      operationId: DirectoryTenants_Delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Directory tenant name.
        in: path
        name: tenant
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - DirectoryTenants
      x-ms-examples:
        Delete a directory tenant under a resource group.:
          parameters:
            api-version: 2015-11-01
            location: local
            resourceGroupName: system.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            tenant: azurestackci07.onmicrosoft.com
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get a directory tenant by name.
      operationId: DirectoryTenants_Get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Directory tenant name.
        in: path
        name: tenant
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryTenant'
          description: OK
      tags:
      - DirectoryTenants
      x-ms-examples:
        Get a directory tenant by name.:
          parameters:
            api-version: 2015-11-01
            location: local
            resourceGroupName: system.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            tenant: azurestackci07.onmicrosoft.com
          responses:
            "200":
              body:
                id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/System.local/providers/Microsoft.Subscriptions.Admin/directoryTenants/azurestackci07.onmicrosoft.com
                location: local
                name: azurestackci07.onmicrosoft.com
                properties:
                  tenantId: 2b3697e6-a7a2-4cdd-a3d4-f4ef6505cd4f
                type: Microsoft.Subscriptions.Admin/directoryTenants
      x-accepts:
      - application/json
    put:
      description: Create or updates a directory tenant.
      operationId: DirectoryTenants_CreateOrUpdate
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group the resource is located under.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Directory tenant name.
        in: path
        name: tenant
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-11-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectoryTenant'
        description: New directory tenant properties.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryTenant'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryTenant'
          description: Created
      tags:
      - DirectoryTenants
      x-ms-examples:
        Create or updates a directory tenant.:
          parameters:
            api-version: 2015-11-01
            location: local
            newTenant: eb90516e-65d7-4bf6-8537-8322e9172832
            resourceGroupName: system.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            tenant: azurestackci05.onmicrosoft.in
          responses:
            "200":
              body:
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/System.local/providers/Microsoft.Subscriptions.Admin/directoryTenants/azurestackci05.onmicrosoft.in
                location: local
                name: azurestackci05.onmicrosoft.in
                properties:
                  tenantId: eb90516e-65d7-4bf6-8537-8322e9172832
                type: Microsoft.Subscriptions.Admin/directoryTenants
            "201":
              body:
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/System.local/providers/Microsoft.Subscriptions.Admin/directoryTenants/azurestackci05.onmicrosoft.in
                location: local
                name: azurestackci05.onmicrosoft.in
                properties:
                  tenantId: eb90516e-65d7-4bf6-8537-8322e9172832
                type: Microsoft.Subscriptions.Admin/directoryTenants
      x-codegen-request-body-name: newTenant
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    DirectoryTenantParameter:
      description: Directory tenant name.
      in: path
      name: tenant
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    NewDirectoryTenantParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DirectoryTenant'
      description: New directory tenant properties.
      required: true
      x-ms-parameter-location: method
  schemas:
    DirectoryTenant:
      allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            readOnly: true
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Directory tenant.
      example:
        properties:
          tenantId: tenantId
      properties:
        properties:
          $ref: '#/components/schemas/DirectoryTenantProperties'
    DirectoryTenantList:
      description: List of directory tenants.
      example:
        value:
        - properties:
            tenantId: tenantId
        - properties:
            tenantId: tenantId
        nextLink: nextLink
      properties:
        nextLink:
          description: Continuation token
          type: string
        value:
          description: List of directory tenants.
          items:
            $ref: '#/components/schemas/DirectoryTenant'
          type: array
      type: object
    DirectoryTenantProperties:
      description: Directory tenant.
      example:
        tenantId: tenantId
      properties:
        tenantId:
          description: Tenant unique identifier.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

