openapi: 3.0.1
info:
  description: Allows creation and deletion of Azure Shared Dashboards.
  title: portal
  version: 2015-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: PortalClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/portal/resource-manager/Microsoft.Portal/preview/2015-08-01-preview/portal.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: portal
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Portal/operations:
    get:
      description: The Microsoft Portal operations API.
      operationId: operations_list
      parameters:
      - description: The API version to be used with the HTTP request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceProviderOperationList'
          description: Describe the result of a successful operation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-examples:
        List the portal operations:
          parameters:
            api-version: 2015-08-01-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Reads the dashboards for the subscription.
                    operation: Get Dashboard
                    provider: Microsoft Portal
                    resource: Dashboards
                  isDataAction: "false"
                  name: Microsoft.Portal/dashboards/read
                - display:
                    description: Add or modify dashboard to a subscription.
                    operation: Set Dashboard
                    provider: Microsoft Portal
                    resource: Dashboards
                  isDataAction: "false"
                  name: Microsoft.Portal/dashboards/write
                - display:
                    description: Removes the dashboard from the subscription.
                    operation: Delete Dashboard
                    provider: Microsoft Portal
                    resource: Dashboards
                  isDataAction: "false"
                  name: Microsoft.Portal/dashboards/delete
                - display:
                    description: Registers the subscription for the portal resource
                      provider and enables shared dashboards.
                    operation: Registers the Portal Resource Provider
                    provider: Microsoft Portal
                    resource: Portal Resource Provider
                  isDataAction: "false"
                  name: Microsoft.Portal/register/action
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Portal/dashboards:
    get:
      description: Gets all the dashboards within a subscription.
      operationId: dashboards_list_by_subscription
      parameters:
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The API version to be used with the HTTP request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardListResult'
          description: OK - Returns an array of dashboards.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Dashboard
      x-ms-examples:
        List all custom resource providers on the subscription:
          parameters:
            api-version: 2015-08-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard
                  location: eastus
                  name: testDashboard
                  properties:
                    lenses:
                      aLens:
                        order: 1
                        parts:
                          aPart:
                            position:
                              colSpan: 3
                              rowSpan: 4
                              x: 1
                              "y": 2
                          bPart:
                            position:
                              colSpan: 6
                              rowSpan: 6
                              x: 5
                              "y": 5
                      bLens:
                        order: 2
                        parts: {}
                    metadata:
                      metadata:
                        ColSpan: 2
                        RowSpan: 1
                        X: 4
                        "Y": 3
                  tags:
                    aKey: aValue
                    anotherKey: anotherValue
                  type: Microsoft.Portal/dashboards
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard2
                  location: eastus
                  name: testDashboard2
                  properties:
                    lenses:
                      aLens:
                        order: 1
                        parts:
                          aPart:
                            position:
                              colSpan: 3
                              rowSpan: 4
                              x: 1
                              "y": 2
                          bPart:
                            position:
                              colSpan: 6
                              rowSpan: 6
                              x: 5
                              "y": 5
                      bLens:
                        order: 2
                        parts: {}
                    metadata:
                      metadata:
                        ColSpan: 2
                        RowSpan: 1
                        X: 4
                        "Y": 3
                  tags:
                    aKey: aValue
                    anotherKey: anotherValue
                  type: Microsoft.Portal/dashboards
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.dashboard_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards:
    get:
      description: Gets all the Dashboards within a resource group.
      operationId: dashboards_list_by_resource_group
      parameters:
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardListResult'
          description: OK - Returns an array of Dashboards.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Dashboard
      x-ms-examples:
        List all custom resource providers on the resourceGroup:
          parameters:
            api-version: 2015-08-01-preview
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard
                  location: eastus
                  name: testDashboard
                  properties:
                    lenses:
                      aLens:
                        order: 1
                        parts:
                          aPart:
                            position:
                              colSpan: 3
                              rowSpan: 4
                              x: 1
                              "y": 2
                          bPart:
                            position:
                              colSpan: 6
                              rowSpan: 6
                              x: 5
                              "y": 5
                      bLens:
                        order: 2
                        parts: {}
                    metadata:
                      metadata:
                        ColSpan: 2
                        RowSpan: 1
                        X: 4
                        "Y": 3
                  tags:
                    aKey: aValue
                    anotherKey: anotherValue
                  type: Microsoft.Portal/dashboards
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard2
                  location: eastus
                  name: testDashboard2
                  properties:
                    lenses:
                      aLens:
                        order: 1
                        parts:
                          aPart:
                            position:
                              colSpan: 3
                              rowSpan: 4
                              x: 1
                              "y": 2
                          bPart:
                            position:
                              colSpan: 6
                              rowSpan: 6
                              x: 5
                              "y": 5
                      bLens:
                        order: 2
                        parts: {}
                    metadata:
                      metadata:
                        ColSpan: 2
                        RowSpan: 1
                        X: 4
                        "Y": 3
                  tags:
                    aKey: aValue
                    anotherKey: anotherValue
                  type: Microsoft.Portal/dashboards
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.dashboard_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards/{dashboardName}:
    delete:
      description: Deletes the Dashboard.
      operationId: dashboards_delete
      parameters:
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the dashboard.
        in: path
        name: dashboard_name
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK response definition.
        "204":
          content: {}
          description: OK resource was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Dashboard
      x-ms-examples:
        Delete a Dashboard:
          parameters:
            api-version: 2015-08-01-preview
            dashboardName: testDashboard
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.dashboard_controller
    get:
      description: Gets the Dashboard.
      operationId: dashboards_get
      parameters:
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the dashboard.
        in: path
        name: dashboardName
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Dashboard
      x-ms-examples:
        Get a Dashboard:
          parameters:
            api-version: 2015-08-01-preview
            dashboardName: testDashboard
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard
                location: eastus
                name: testDashboard
                properties:
                  lenses:
                    aLens:
                      order: 1
                      parts:
                        aPart:
                          position:
                            colSpan: 3
                            rowSpan: 4
                            x: 1
                            "y": 2
                        bPart:
                          position:
                            colSpan: 6
                            rowSpan: 6
                            x: 5
                            "y": 5
                    bLens:
                      order: 2
                      parts: {}
                  metadata:
                    metadata:
                      ColSpan: 2
                      RowSpan: 1
                      X: 4
                      "Y": 3
                tags:
                  aKey: aValue
                  anotherKey: anotherValue
                type: Microsoft.Portal/dashboards
      x-openapi-router-controller: openapi_server.controllers.dashboard_controller
    patch:
      description: Updates an existing Dashboard.
      operationId: dashboards_update
      parameters:
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the dashboard.
        in: path
        name: dashboard_name
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchableDashboard'
        description: The updatable fields of a Dashboard.
        required: true
        x-body-name: dashboard
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: OK response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Dashboard
      x-ms-examples:
        Update a Dashboard:
          parameters:
            api-version: 2015-08-01-preview
            dashboard:
              tags:
                aKey: bValue
                anotherKey: anotherValue2
            dashboardName: testDashboard
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard
                location: eastus
                name: testDashboard
                properties:
                  lenses:
                    aLens:
                      order: 1
                      parts:
                        aPart:
                          position:
                            colSpan: 3
                            rowSpan: 4
                            x: 1
                            "y": 2
                        bPart:
                          position:
                            colSpan: 6
                            rowSpan: 6
                            x: 5
                            "y": 5
                    bLens:
                      order: 2
                      parts: {}
                  metadata:
                    metadata:
                      ColSpan: 2
                      RowSpan: 1
                      X: 4
                      "Y": 3
                tags:
                  aKey: bValue
                  anotherKey: anotherValue2
                type: Microsoft.Portal/dashboards
      x-codegen-request-body-name: dashboard
      x-openapi-router-controller: openapi_server.controllers.dashboard_controller
    put:
      description: Creates or updates a Dashboard.
      operationId: dashboards_create_or_update
      parameters:
      - description: The Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000)
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the dashboard.
        in: path
        name: dashboard_name
        required: true
        schema:
          maxLength: 64
          minLength: 3
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to be used with the HTTP request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
        description: The parameters required to create or update a dashboard.
        required: true
        x-body-name: dashboard
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: Resource already exists.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: Created response definition. Resource has been created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Dashboard
      x-ms-examples:
        Create or update a Dashboard:
          parameters:
            api-version: 2015-08-01-preview
            dashboard:
              location: eastus
              properties:
                lenses:
                  aLens:
                    order: 1
                    parts:
                      aPart:
                        position:
                          colSpan: 3
                          rowSpan: 4
                          x: 1
                          "y": 2
                      bPart:
                        position:
                          colSpan: 6
                          rowSpan: 6
                          x: 5
                          "y": 5
                  bLens:
                    order: 2
                    parts: {}
                metadata:
                  metadata:
                    ColSpan: 2
                    RowSpan: 1
                    X: 4
                    "Y": 3
              tags:
                aKey: aValue
                anotherKey: anotherValue
            dashboardName: testDashboard
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard
                location: eastus
                name: testDashboard
                properties:
                  lenses:
                    aLens:
                      order: 1
                      parts:
                        aPart:
                          position:
                            colSpan: 3
                            rowSpan: 4
                            x: 1
                            "y": 2
                        bPart:
                          position:
                            colSpan: 6
                            rowSpan: 6
                            x: 5
                            "y": 5
                    bLens:
                      order: 2
                      parts: {}
                  metadata:
                    metadata:
                      ColSpan: 2
                      RowSpan: 1
                      X: 4
                      "Y": 3
                tags:
                  aKey: aValue
                  anotherKey: anotherValue
                type: Microsoft.Portal/dashboards
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard
                location: eastus
                name: testDashboard
                properties:
                  lenses:
                    aLens:
                      order: 1
                      parts:
                        aPart:
                          position:
                            colSpan: 3
                            rowSpan: 4
                            x: 1
                            "y": 2
                        bPart:
                          position:
                            colSpan: 6
                            rowSpan: 6
                            x: 5
                            "y": 5
                    bLens:
                      order: 2
                      parts: {}
                  metadata:
                    metadata:
                      ColSpan: 2
                      RowSpan: 1
                      X: 4
                      "Y": 3
                tags:
                  aKey: aValue
                  anotherKey: anotherValue
                type: Microsoft.Portal/dashboards
      x-codegen-request-body-name: dashboard
      x-openapi-router-controller: openapi_server.controllers.dashboard_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to be used with the HTTP request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    DashboardNameParameter:
      description: The name of the dashboard.
      in: path
      name: dashboardName
      required: true
      schema:
        maxLength: 64
        minLength: 3
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000)
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Dashboard:
      description: The shared dashboard resource definition.
      example:
        name: name
        location: location
        id: id
        type: type
        properties:
          lenses:
            key:
              metadata:
                key: "{}"
              parts:
                key:
                  metadata:
                    key: "{}"
                  position:
                    rowSpan: 1.4658129805029452
                    metadata:
                      key: "{}"
                    colSpan: 6.027456183070403
                    x: 5.962133916683182
                    "y": 5.637376656633329
              order: 0
          metadata:
            key: "{}"
        tags:
          key: tags
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
          x-ms-mutability:
          - read
          - create
        name:
          description: Resource name
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/DashboardProperties'
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Dashboard
      type: object
      x-ms-azure-resource: true
      x-ms-client-flatten: true
    DashboardLens:
      description: A dashboard lens.
      example:
        metadata:
          key: "{}"
        parts:
          key:
            metadata:
              key: "{}"
            position:
              rowSpan: 1.4658129805029452
              metadata:
                key: "{}"
              colSpan: 6.027456183070403
              x: 5.962133916683182
              "y": 5.637376656633329
        order: 0
      properties:
        metadata:
          additionalProperties:
            properties: {}
            type: object
          description: The dashboard len's metadata.
          title: metadata
          type: object
        order:
          description: The lens order.
          title: order
          type: integer
        parts:
          additionalProperties:
            $ref: '#/components/schemas/DashboardParts'
          description: The dashboard parts.
          title: parts
          type: object
      required:
      - order
      - parts
      title: DashboardLens
      type: object
    DashboardListResult:
      description: List of dashboards.
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          properties:
            lenses:
              key:
                metadata:
                  key: "{}"
                parts:
                  key:
                    metadata:
                      key: "{}"
                    position:
                      rowSpan: 1.4658129805029452
                      metadata:
                        key: "{}"
                      colSpan: 6.027456183070403
                      x: 5.962133916683182
                      "y": 5.637376656633329
                order: 0
            metadata:
              key: "{}"
          tags:
            key: tags
        - name: name
          location: location
          id: id
          type: type
          properties:
            lenses:
              key:
                metadata:
                  key: "{}"
                parts:
                  key:
                    metadata:
                      key: "{}"
                    position:
                      rowSpan: 1.4658129805029452
                      metadata:
                        key: "{}"
                      colSpan: 6.027456183070403
                      x: 5.962133916683182
                      "y": 5.637376656633329
                order: 0
            metadata:
              key: "{}"
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          title: nextLink
          type: string
        value:
          description: The array of custom resource provider manifests.
          items:
            $ref: '#/components/schemas/Dashboard'
          title: value
          type: array
      title: DashboardListResult
      type: object
    DashboardParts:
      description: A dashboard part.
      example:
        metadata:
          key: "{}"
        position:
          rowSpan: 1.4658129805029452
          metadata:
            key: "{}"
          colSpan: 6.027456183070403
          x: 5.962133916683182
          "y": 5.637376656633329
      properties:
        metadata:
          additionalProperties:
            properties: {}
            type: object
          description: The dashboard part's metadata.
          title: metadata
          type: object
        position:
          $ref: '#/components/schemas/DashboardParts_position'
      required:
      - position
      title: DashboardParts
      type: object
    DashboardProperties:
      description: The shared dashboard properties.
      example:
        lenses:
          key:
            metadata:
              key: "{}"
            parts:
              key:
                metadata:
                  key: "{}"
                position:
                  rowSpan: 1.4658129805029452
                  metadata:
                    key: "{}"
                  colSpan: 6.027456183070403
                  x: 5.962133916683182
                  "y": 5.637376656633329
            order: 0
        metadata:
          key: "{}"
      properties:
        lenses:
          additionalProperties:
            $ref: '#/components/schemas/DashboardLens'
          description: The dashboard lenses.
          title: lenses
          type: object
        metadata:
          additionalProperties:
            properties: {}
            type: object
          description: The dashboard metadata.
          title: metadata
          type: object
      title: DashboardProperties
      type: object
    ErrorDefinition:
      description: Error definition.
      example:
        code: code
        details:
        - null
        - null
        message: message
      properties:
        code:
          description: Service specific error code which serves as the substatus for
            the HTTP error code.
          readOnly: true
          title: code
          type: string
        details:
          description: Internal error details.
          items:
            $ref: '#/components/schemas/ErrorDefinition'
          readOnly: true
          title: details
          type: array
        message:
          description: Description of the error.
          readOnly: true
          title: message
          type: string
      title: ErrorDefinition
      type: object
    ErrorResponse:
      description: Error response.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ErrorDefinition'
      title: ErrorResponse
      type: object
    PatchableDashboard:
      description: The shared dashboard resource definition.
      example:
        properties:
          lenses:
            key:
              metadata:
                key: "{}"
              parts:
                key:
                  metadata:
                    key: "{}"
                  position:
                    rowSpan: 1.4658129805029452
                    metadata:
                      key: "{}"
                    colSpan: 6.027456183070403
                    x: 5.962133916683182
                    "y": 5.637376656633329
              order: 0
          metadata:
            key: "{}"
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/DashboardProperties'
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          title: tags
          type: object
      title: PatchableDashboard
      type: object
      x-ms-azure-resource: true
      x-ms-client-flatten: true
    ResourceProviderOperation:
      description: Supported operations of this resource provider.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        isDataAction: isDataAction
        name: name
      properties:
        display:
          $ref: '#/components/schemas/ResourceProviderOperation_display'
        isDataAction:
          description: Indicates whether the operation applies to data-plane.
          title: isDataAction
          type: string
        name:
          description: "Operation name, in format of {provider}/{resource}/{operation}"
          title: name
          type: string
      title: ResourceProviderOperation
      type: object
    ResourceProviderOperationList:
      description: Results of the request to list operations.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          isDataAction: isDataAction
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          isDataAction: isDataAction
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          title: nextLink
          type: string
        value:
          description: List of operations supported by this resource provider.
          items:
            $ref: '#/components/schemas/ResourceProviderOperation'
          title: value
          type: array
      title: ResourceProviderOperationList
      type: object
    DashboardParts_position:
      description: The dashboard's part position.
      example:
        rowSpan: 1.4658129805029452
        metadata:
          key: "{}"
        colSpan: 6.027456183070403
        x: 5.962133916683182
        "y": 5.637376656633329
      properties:
        colSpan:
          description: The dashboard's part column span.
          title: colSpan
          type: number
        metadata:
          additionalProperties:
            properties: {}
            type: object
          description: The dashboard part's metadata.
          title: metadata
          type: object
        rowSpan:
          description: The dashboard's part row span.
          title: rowSpan
          type: number
        x:
          description: The dashboard's part x coordinate.
          title: x
          type: number
        "y":
          description: The dashboard's part y coordinate.
          title: "y"
          type: number
      required:
      - colSpan
      - rowSpan
      - x
      - "y"
      title: DashboardParts_position
      type: object
    ResourceProviderOperation_display:
      description: Display metadata associated with the operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: Description of this operation.
          title: description
          type: string
        operation:
          description: "Type of operation: get, read, delete, etc."
          title: operation
          type: string
        provider:
          description: "Resource provider: Microsoft Custom Providers."
          title: provider
          type: string
        resource:
          description: Resource on which the operation is performed.
          title: resource
          type: string
      title: ResourceProviderOperation_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
