openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Wireless
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_wireless_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_wireless_v1
servers:
- url: https://wireless.twilio.com
tags:
- name: WirelessV1Command
- name: WirelessV1DataSession
- name: WirelessV1RatePlan
- name: WirelessV1Sim
- name: WirelessV1UsageRecord
paths:
  /v1/Commands:
    description: Machine-to-machine commands sent to/from devices
    get:
      description: Retrieve a list of Commands from your account.
      operationId: list_command
      parameters:
      - description: "The `sid` or `unique_name` of the [Sim resources](https://www.twilio.com/docs/iot/wireless/api/sim-resource)\
          \ to read."
        explode: true
        in: query
        name: Sim
        required: false
        schema:
          type: string
        style: form
      - description: "The status of the resources to read. Can be: `queued`, `sent`,\
          \ `delivered`, `received`, or `failed`."
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/command_enum_status'
        style: form
      - description: Only return Commands with this direction value.
        explode: true
        in: query
        name: Direction
        required: false
        schema:
          $ref: '#/components/schemas/command_enum_direction'
        style: form
      - description: "Only return Commands with this transport value. Can be: `sms`\
          \ or `ip`."
        explode: true
        in: query
        name: Transport
        required: false
        schema:
          $ref: '#/components/schemas/command_enum_transport'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCommandResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1Command
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_command_controller
    post:
      description: Send a Command to a Sim.
      operationId: create_command
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCommandRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wireless.v1.command'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1Command
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_command_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://wireless.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - command_mode
      - transport
      - status
      - direction
      - date_created
      pathType: list
  /v1/Commands/{Sid}:
    delete:
      description: Delete a Command instance from your account.
      operationId: delete_command
      parameters:
      - description: The SID of the Command resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1Command
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_command_controller
    description: Machine-to-machine commands sent to/from devices
    get:
      description: Fetch a Command instance from your account.
      operationId: fetch_command
      parameters:
      - description: The SID of the Command resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^DC[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wireless.v1.command'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1Command
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_command_controller
    servers:
    - url: https://wireless.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - command_mode
      - transport
      - status
      - direction
      - date_created
      pathType: instance
  /v1/RatePlans:
    description: Capabilities and restrictions for SIMs
    get:
      description: ""
      operationId: list_rate_plan
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRatePlanResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1RatePlan
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_rate_plan_controller
    post:
      description: ""
      operationId: create_rate_plan
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateRatePlanRequest'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wireless.v1.rate_plan'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1RatePlan
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_rate_plan_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://wireless.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      - date_created
      pathType: list
  /v1/RatePlans/{Sid}:
    delete:
      description: ""
      operationId: delete_rate_plan
      parameters:
      - description: The SID of the RatePlan resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1RatePlan
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_rate_plan_controller
    description: Capabilities and restrictions for SIMs
    get:
      description: ""
      operationId: fetch_rate_plan
      parameters:
      - description: The SID of the RatePlan resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wireless.v1.rate_plan'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1RatePlan
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_rate_plan_controller
    post:
      description: ""
      operationId: update_rate_plan
      parameters:
      - description: The SID of the RatePlan resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateRatePlanRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wireless.v1.rate_plan'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1RatePlan
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_rate_plan_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://wireless.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      - date_created
      pathType: instance
  /v1/Sims:
    description: A resource representing a Programmable Wireless SIM
    get:
      description: Retrieve a list of Sim resources on your Account.
      operationId: list_sim
      parameters:
      - description: Only return Sim resources with this status.
        explode: true
        in: query
        name: Status
        required: false
        schema:
          $ref: '#/components/schemas/sim_enum_status'
        style: form
      - description: Only return Sim resources with this ICCID. This will return a
          list with a maximum size of 1.
        explode: true
        in: query
        name: Iccid
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "The SID or unique name of a [RatePlan resource](https://www.twilio.com/docs/iot/wireless/api/rateplan-resource).\
          \ Only return Sim resources assigned to this RatePlan resource."
        explode: true
        in: query
        name: RatePlan
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated.
        explode: true
        in: query
        name: EId
        required: false
        schema:
          type: string
        style: form
      - description: Only return Sim resources with this registration code. This will
          return a list with a maximum size of 1.
        explode: true
        in: query
        name: SimRegistrationCode
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSimResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1Sim
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_sim_controller
    servers:
    - url: https://wireless.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      - status
      dependentProperties:
        data_sessions:
          mapping:
            sim_sid: sid
          resource_url: "/v1/Sims/{sim_sid}/DataSessions"
        usage_records:
          mapping:
            sim_sid: sid
          resource_url: "/v1/Sims/{sim_sid}/UsageRecords"
      pathType: list
  /v1/Sims/{Sid}:
    delete:
      description: Delete a Sim resource on your Account.
      operationId: delete_sim
      parameters:
      - description: The SID or the `unique_name` of the Sim resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1Sim
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_sim_controller
    description: A resource representing a Programmable Wireless SIM
    get:
      description: Fetch a Sim resource on your Account.
      operationId: fetch_sim
      parameters:
      - description: The SID or the `unique_name` of the Sim resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wireless.v1.sim'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1Sim
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_sim_controller
    post:
      description: Updates the given properties of a Sim resource on your Account.
      operationId: update_sim
      parameters:
      - description: The SID or the `unique_name` of the Sim resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSimRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wireless.v1.sim'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1Sim
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_sim_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://wireless.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      - status
      dependentProperties:
        data_sessions:
          mapping:
            sim_sid: sid
          resource_url: "/v1/Sims/{sim_sid}/DataSessions"
        usage_records:
          mapping:
            sim_sid: sid
          resource_url: "/v1/Sims/{sim_sid}/UsageRecords"
      pathType: instance
  /v1/Sims/{SimSid}/DataSessions:
    description: Data session information for SIMs
    get:
      description: ""
      operationId: list_data_session
      parameters:
      - description: "The SID of the [Sim resource](https://www.twilio.com/docs/iot/wireless/api/sim-resource)\
          \ with the Data Sessions to read."
        explode: false
        in: path
        name: SimSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDataSessionResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1DataSession
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_data_session_controller
    servers:
    - url: https://wireless.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - packets_uploaded
      - packets_downloaded
      - start
      - end
      parent: "/Sims/{Sid}"
      pathType: list
  /v1/Sims/{SimSid}/UsageRecords:
    description: Usage information for SIMs
    get:
      description: ""
      operationId: list_usage_record
      parameters:
      - description: "The SID of the [Sim resource](https://www.twilio.com/docs/iot/wireless/api/sim-resource)\
          \  to read the usage from."
        explode: false
        in: path
        name: SimSid
        required: true
        schema:
          type: string
        style: simple
      - description: "Only include usage that occurred on or before this date, specified\
          \ in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html).\
          \ The default is the current time."
        explode: true
        in: query
        name: End
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only include usage that has occurred on or after this date,\
          \ specified in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html).\
          \ The default is one month before the `end` parameter value."
        explode: true
        in: query
        name: Start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "How to summarize the usage by time. Can be: `daily`, `hourly`,\
          \ or `all`. The default is `all`. A value of `all` returns one Usage Record\
          \ that describes the usage for the entire period."
        explode: true
        in: query
        name: Granularity
        required: false
        schema:
          $ref: '#/components/schemas/usage_record_enum_granularity'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsageRecordResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1UsageRecord
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_usage_record_controller
    servers:
    - url: https://wireless.twilio.com
    x-twilio:
      defaultOutputProperties:
      - period
      parent: "/Sims/{Sid}"
      pathType: list
  /v1/UsageRecords:
    description: Aggregated Usage information for all SIMs on an Account
    get:
      description: ""
      operationId: list_account_usage_record
      parameters:
      - description: "Only include usage that has occurred on or before this date.\
          \ Format is [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)."
        explode: true
        in: query
        name: End
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Only include usage that has occurred on or after this date.\
          \ Format is [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)."
        explode: true
        in: query
        name: Start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "How to summarize the usage by time. Can be: `daily`, `hourly`,\
          \ or `all`. A value of `all` returns one Usage Record that describes the\
          \ usage for the entire period."
        explode: true
        in: query
        name: Granularity
        required: false
        schema:
          $ref: '#/components/schemas/account_usage_record_enum_granularity'
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountUsageRecordResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - WirelessV1UsageRecord
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.wireless_v1_usage_record_controller
    servers:
    - url: https://wireless.twilio.com
    x-twilio:
      defaultOutputProperties:
      - period
      pathType: list
components:
  schemas:
    account_usage_record_enum_granularity:
      enum:
      - hourly
      - daily
      - all
      title: account_usage_record_enum_granularity
      type: string
    command_enum_command_mode:
      enum:
      - text
      - binary
      title: command_enum_command_mode
      type: string
    command_enum_direction:
      enum:
      - from_sim
      - to_sim
      title: command_enum_direction
      type: string
    command_enum_status:
      enum:
      - queued
      - sent
      - delivered
      - received
      - failed
      title: command_enum_status
      type: string
    command_enum_transport:
      enum:
      - sms
      - ip
      title: command_enum_transport
      type: string
    rate_plan_enum_data_limit_strategy:
      enum:
      - block
      - throttle
      type: string
    sim_enum_reset_status:
      enum:
      - resetting
      title: sim_enum_reset_status
      type: string
    sim_enum_status:
      enum:
      - new
      - ready
      - active
      - suspended
      - deactivated
      - canceled
      - scheduled
      - updating
      title: sim_enum_status
      type: string
    usage_record_enum_granularity:
      enum:
      - hourly
      - daily
      - all
      title: usage_record_enum_granularity
      type: string
    wireless.v1.account_usage_record:
      example:
        period: ""
        data: ""
        account_sid: account_sid
        commands: ""
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the AccountUsageRecord resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        commands:
          description: "An object that describes the aggregated Commands usage for\
            \ all SIMs during the specified period. See [Commands Usage Object](https://www.twilio.com/docs/iot/wireless/api/account-usagerecord-resource#commands-usage-object)."
          nullable: true
          title: commands
        data:
          description: "An object that describes the aggregated Data usage for all\
            \ SIMs over the period. See [Data Usage Object](https://www.twilio.com/docs/iot/wireless/api/account-usagerecord-resource#data-usage-object)."
          nullable: true
          title: data
        period:
          description: "The time period for which usage is reported. Contains `start`\
            \ and `end` properties that describe the period using GMT date-time values\
            \ specified in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)\
            \ format."
          nullable: true
          title: period
      title: wireless.v1.account_usage_record
      type: object
    wireless.v1.command:
      example:
        sim_sid: sim_sid
        command_mode: command_mode
        delivery_receipt_requested: true
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        transport: transport
        command: command
        url: https://openapi-generator.tech
        direction: direction
        sid: sid
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Command resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        command:
          description: "The message being sent to or from the SIM. For text mode messages,\
            \ this can be up to 160 characters. For binary mode messages, this is\
            \ a series of up to 140 bytes of data encoded using base64."
          nullable: true
          title: command
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        command_mode:
          $ref: '#/components/schemas/command_enum_command_mode'
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)\
            \ format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)\
            \ format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        delivery_receipt_requested:
          description: Whether to request a delivery receipt.
          nullable: true
          title: delivery_receipt_requested
          type: boolean
        direction:
          $ref: '#/components/schemas/command_enum_direction'
        sid:
          description: The unique string that we created to identify the Command resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^DC[0-9a-fA-F]{32}$"
          title: sid
          type: string
        sim_sid:
          description: "The SID of the [Sim resource](https://www.twilio.com/docs/iot/wireless/api/sim-resource)\
            \ that the Command was sent to or from."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^DE[0-9a-fA-F]{32}$"
          title: sim_sid
          type: string
        status:
          $ref: '#/components/schemas/command_enum_status'
        transport:
          $ref: '#/components/schemas/command_enum_transport'
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: wireless.v1.command
      type: object
    wireless.v1.rate_plan:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        data_limit: 0
        international_roaming_data_limit: 6
        national_roaming_enabled: true
        date_created: 2000-01-23T04:56:07.000+00:00
        data_metering: data_metering
        voice_enabled: true
        data_enabled: true
        international_roaming:
        - international_roaming
        - international_roaming
        url: https://openapi-generator.tech
        sid: sid
        unique_name: unique_name
        messaging_enabled: true
        national_roaming_data_limit: 1
        account_sid: account_sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the RatePlan resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        data_enabled:
          description: Whether SIMs can use GPRS/3G/4G/LTE data connectivity.
          nullable: true
          title: data_enabled
          type: boolean
        data_limit:
          description: The total data usage (download and upload combined) in Megabytes
            that the Network allows during one month on the home network (T-Mobile
            USA). The metering period begins the day of activation and ends on the
            same day in the following month. Can be up to 2TB.
          nullable: true
          title: data_limit
          type: integer
        data_metering:
          description: "The model used to meter data usage. Can be: `payg` and `quota-1`,\
            \ `quota-10`, and `quota-50`. Learn more about the available [data metering\
            \ models](https://www.twilio.com/docs/iot/wireless/api/rateplan-resource#payg-vs-quota-data-plans)."
          nullable: true
          title: data_metering
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)\
            \ format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)\
            \ format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          title: friendly_name
          type: string
        international_roaming:
          description: "The list of services that SIMs capable of using GPRS/3G/4G/LTE\
            \ data connectivity can use outside of the United States. Can contain:\
            \ `data` and `messaging`."
          items:
            type: string
          nullable: true
          title: international_roaming
          type: array
        international_roaming_data_limit:
          description: The total data usage (download and upload combined) in Megabytes
            that the Network allows during one month when roaming outside the United
            States. Can be up to 2TB.
          nullable: true
          title: international_roaming_data_limit
          type: integer
        messaging_enabled:
          description: "Whether SIMs can make, send, and receive SMS using [Commands](https://www.twilio.com/docs/iot/wireless/api/command-resource)."
          nullable: true
          title: messaging_enabled
          type: boolean
        national_roaming_data_limit:
          description: The total data usage (download and upload combined) in Megabytes
            that the Network allows during one month on non-home networks in the United
            States. The metering period begins the day of activation and ends on the
            same day in the following month. Can be up to 2TB.
          nullable: true
          title: national_roaming_data_limit
          type: integer
        national_roaming_enabled:
          description: "Whether SIMs can roam on networks other than the home network\
            \ (T-Mobile USA) in the United States. See [national roaming](https://www.twilio.com/docs/iot/wireless/api/rateplan-resource#national-roaming)."
          nullable: true
          title: national_roaming_enabled
          type: boolean
        sid:
          description: The unique string that we created to identify the RatePlan
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^WP[0-9a-fA-F]{32}$"
          title: sid
          type: string
        unique_name:
          description: An application-defined string that uniquely identifies the
            resource. It can be used in place of the resource's `sid` in the URL to
            address the resource.
          nullable: true
          title: unique_name
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
        voice_enabled:
          description: Deprecated. Whether SIMs can make and receive voice calls.
          nullable: true
          title: voice_enabled
          type: boolean
      title: wireless.v1.rate_plan
      type: object
    wireless.v1.sim:
      example:
        voice_method: HEAD
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        voice_url: https://openapi-generator.tech
        date_created: 2000-01-23T04:56:07.000+00:00
        sms_url: https://openapi-generator.tech
        sms_fallback_method: HEAD
        voice_fallback_method: HEAD
        ip_address: ip_address
        commands_callback_method: HEAD
        commands_callback_url: https://openapi-generator.tech
        url: https://openapi-generator.tech
        sid: sid
        iccid: iccid
        unique_name: unique_name
        voice_fallback_url: https://openapi-generator.tech
        sms_fallback_url: https://openapi-generator.tech
        account_sid: account_sid
        rate_plan_sid: rate_plan_sid
        sms_method: HEAD
        e_id: e_id
        links: "{}"
        reset_status: reset_status
        status: status
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ to which the Sim resource belongs."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        commands_callback_method:
          description: "The HTTP method we use to call `commands_callback_url`.  Can\
            \ be: `POST` or `GET`. Default is `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          title: commands_callback_method
          type: string
        commands_callback_url:
          description: "The URL we call using the `commands_callback_method` when\
            \ the SIM originates a machine-to-machine [Command](https://www.twilio.com/docs/iot/wireless/api/command-resource).\
            \ Your server should respond with an HTTP status code in the 200 range;\
            \ any response body will be ignored."
          format: uri
          nullable: true
          title: commands_callback_url
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)\
            \ format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT when the Sim resource was last updated\
            \ specified in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)\
            \ format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        e_id:
          description: Deprecated.
          nullable: true
          title: e_id
          type: string
        friendly_name:
          description: The string that you assigned to describe the Sim resource.
          nullable: true
          title: friendly_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        iccid:
          description: "The [ICCID](https://en.wikipedia.org/wiki/SIM_card#ICCID)\
            \ associated with the SIM."
          nullable: true
          title: iccid
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        ip_address:
          description: Deprecated.
          nullable: true
          title: ip_address
          type: string
        links:
          description: The URLs of related subresources.
          format: uri-map
          nullable: true
          title: links
          type: object
        rate_plan_sid:
          description: "The SID of the [RatePlan resource](https://www.twilio.com/docs/iot/wireless/api/rateplan-resource)\
            \ to which the Sim resource is assigned."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^WP[0-9a-fA-F]{32}$"
          title: rate_plan_sid
          type: string
        reset_status:
          $ref: '#/components/schemas/sim_enum_reset_status'
        sid:
          description: The unique string that we created to identify the Sim resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^DE[0-9a-fA-F]{32}$"
          title: sid
          type: string
        sms_fallback_method:
          description: Deprecated.
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          title: sms_fallback_method
          type: string
        sms_fallback_url:
          description: Deprecated.
          format: uri
          nullable: true
          title: sms_fallback_url
          type: string
        sms_method:
          description: Deprecated.
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          title: sms_method
          type: string
        sms_url:
          description: Deprecated.
          format: uri
          nullable: true
          title: sms_url
          type: string
        status:
          $ref: '#/components/schemas/sim_enum_status'
        unique_name:
          description: An application-defined string that uniquely identifies the
            resource. It can be used in place of the resource's `sid` in the URL to
            address the resource.
          nullable: true
          title: unique_name
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
        voice_fallback_method:
          description: "Deprecated. The HTTP method we use to call `voice_fallback_url`.\
            \ Can be: `GET` or `POST`. Default is `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          title: voice_fallback_method
          type: string
        voice_fallback_url:
          description: Deprecated. The URL we call using the `voice_fallback_method`
            when an error occurs while retrieving or executing the TwiML requested
            from `voice_url`.
          format: uri
          nullable: true
          title: voice_fallback_url
          type: string
        voice_method:
          description: "Deprecated. The HTTP method we use to call `voice_url`. Can\
            \ be: `GET` or `POST`. Default is `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          nullable: true
          title: voice_method
          type: string
        voice_url:
          description: Deprecated. The URL we call using the `voice_method` when the
            SIM-connected device makes a voice call.
          format: uri
          nullable: true
          title: voice_url
          type: string
      title: wireless.v1.sim
      type: object
    wireless.v1.sim.data_session:
      example:
        sim_sid: sim_sid
        last_updated: 2000-01-23T04:56:07.000+00:00
        radio_link: radio_link
        cell_location_estimate: ""
        start: 2000-01-23T04:56:07.000+00:00
        operator_mnc: operator_mnc
        sid: sid
        operator_name: operator_name
        operator_mcc: operator_mcc
        account_sid: account_sid
        imei: imei
        end: 2000-01-23T04:56:07.000+00:00
        operator_country: operator_country
        packets_uploaded: 6
        cell_id: cell_id
        packets_downloaded: 0
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the DataSession resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        cell_id:
          description: The unique ID of the cellular tower that the device was attached
            to at the moment when the Data Session was last updated.
          nullable: true
          title: cell_id
          type: string
        cell_location_estimate:
          description: "An object that describes the estimated location in latitude\
            \ and longitude where the device's Data Session took place. The location\
            \ is derived from the `cell_id` when the Data Session was last updated.\
            \ See [Cell Location Estimate Object](https://www.twilio.com/docs/iot/wireless/api/datasession-resource#cell-location-estimate-object). "
          nullable: true
          title: cell_location_estimate
        end:
          description: "The date that the record ended, given as GMT in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)\
            \ format."
          format: date-time
          nullable: true
          title: end
          type: string
        imei:
          description: "The 'international mobile equipment identity' is the unique\
            \ ID of the device using the SIM to connect. An IMEI is a 15-digit string:\
            \ 14 digits for the device identifier plus a check digit calculated using\
            \ the Luhn formula."
          nullable: true
          title: imei
          type: string
        last_updated:
          description: "The date that the resource was last updated, given as GMT\
            \ in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)\
            \ format."
          format: date-time
          nullable: true
          title: last_updated
          type: string
        operator_country:
          description: The three letter country code representing where the device's
            Data Session took place. This is determined by looking up the `operator_mcc`.
          nullable: true
          title: operator_country
          type: string
        operator_mcc:
          description: "The 'mobile country code' is the unique ID of the home country\
            \ where the Data Session took place. See: [MCC/MNC lookup](http://mcc-mnc.com/)."
          nullable: true
          title: operator_mcc
          type: string
        operator_mnc:
          description: The 'mobile network code' is the unique ID specific to the
            mobile operator network where the Data Session took place.
          nullable: true
          title: operator_mnc
          type: string
        operator_name:
          description: "The friendly name of the mobile operator network that the\
            \ [SIM](https://www.twilio.com/docs/iot/wireless/api/sim-resource)-connected\
            \ device is attached to. This is determined by looking up the `operator_mnc`."
          nullable: true
          title: operator_name
          type: string
        packets_downloaded:
          description: The number of packets downloaded by the device between the
            `start` time and when the Data Session was last updated.
          nullable: true
          title: packets_downloaded
          type: integer
        packets_uploaded:
          description: The number of packets uploaded by the device between the `start`
            time and when the Data Session was last updated.
          nullable: true
          title: packets_uploaded
          type: integer
        radio_link:
          description: The generation of wireless technology that the device was using.
          nullable: true
          title: radio_link
          type: string
        sid:
          description: The unique string that we created to identify the DataSession
            resource.
          nullable: true
          title: sid
          type: string
        sim_sid:
          description: "The SID of the [Sim resource](https://www.twilio.com/docs/iot/wireless/api/sim-resource)\
            \ that the Data Session is for."
          nullable: true
          title: sim_sid
          type: string
        start:
          description: "The date that the Data Session started, given as GMT in [ISO\
            \ 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format."
          format: date-time
          nullable: true
          title: start
          type: string
      title: wireless.v1.sim.data_session
      type: object
    wireless.v1.sim.usage_record:
      example:
        sim_sid: sim_sid
        period: ""
        data: ""
        account_sid: account_sid
        commands: ""
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the UsageRecord resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        commands:
          description: "An object that describes the SIM's usage of Commands during\
            \ the specified period. See [Commands Usage Object](https://www.twilio.com/docs/iot/wireless/api/sim-usagerecord-resource#commands-usage-object)."
          nullable: true
          title: commands
        data:
          description: "An object that describes the SIM's data usage during the specified\
            \ period. See [Data Usage Object](https://www.twilio.com/docs/iot/wireless/api/sim-usagerecord-resource#data-usage-object)."
          nullable: true
          title: data
        period:
          description: "The time period for which the usage is reported. Contains\
            \ `start` and `end` datetime values given as GMT in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)\
            \ format."
          nullable: true
          title: period
        sim_sid:
          description: "The SID of the [Sim resource](https://www.twilio.com/docs/iot/wireless/api/sim-resource)\
            \ that this Usage Record is for."
          nullable: true
          title: sim_sid
          type: string
      title: wireless.v1.sim.usage_record
      type: object
    ListCommandResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 0
        key: key
        url: https://openapi-generator.tech
        page_size: 6
      properties:
        first_page_url:
          format: uri
          title: first_page_url
          type: string
        key:
          title: key
          type: string
        next_page_url:
          format: uri
          nullable: true
          title: next_page_url
          type: string
        page:
          title: page
          type: integer
        page_size:
          title: page_size
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          title: previous_page_url
          type: string
        url:
          format: uri
          title: url
          type: string
      title: ListCommandResponse_meta
      type: object
    ListCommandResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        commands:
        - sim_sid: sim_sid
          command_mode: command_mode
          delivery_receipt_requested: true
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          transport: transport
          command: command
          url: https://openapi-generator.tech
          direction: direction
          sid: sid
          status: status
        - sim_sid: sim_sid
          command_mode: command_mode
          delivery_receipt_requested: true
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          transport: transport
          command: command
          url: https://openapi-generator.tech
          direction: direction
          sid: sid
          status: status
      properties:
        commands:
          items:
            $ref: '#/components/schemas/wireless.v1.command'
          title: commands
          type: array
        meta:
          $ref: '#/components/schemas/ListCommandResponse_meta'
      title: ListCommandResponse
      type: object
    CreateCommandRequest:
      properties:
        CallbackMethod:
          description: "The HTTP method we use to call `callback_url`. Can be: `POST`\
            \ or `GET`, and the default is `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        CallbackUrl:
          description: "The URL we call using the `callback_url` when the Command\
            \ has finished sending, whether the command was delivered or it failed."
          format: uri
          type: string
        Command:
          description: The message body of the Command. Can be plain text in text
            mode or a Base64 encoded byte string in binary mode.
          type: string
        CommandMode:
          $ref: '#/components/schemas/command_enum_command_mode'
        DeliveryReceiptRequested:
          description: "Whether to request delivery receipt from the recipient. For\
            \ Commands that request delivery receipt, the Command state transitions\
            \ to 'delivered' once the server has received a delivery receipt from\
            \ the device. The default value is `true`."
          type: boolean
        IncludeSid:
          description: "Whether to include the SID of the command in the message body.\
            \ Can be: `none`, `start`, or `end`, and the default behavior is `none`.\
            \ When sending a Command to a SIM in text mode, we can automatically include\
            \ the SID of the Command in the message body, which could be used to ensure\
            \ that the device does not process the same Command more than once.  A\
            \ value of `start` will prepend the message with the Command SID, and\
            \ `end` will append it to the end, separating the Command SID from the\
            \ message body with a space. The length of the Command SID is included\
            \ in the 160 character limit so the SMS body must be 128 characters or\
            \ less before the Command SID is included."
          type: string
        Sim:
          description: "The `sid` or `unique_name` of the [SIM](https://www.twilio.com/docs/iot/wireless/api/sim-resource)\
            \ to send the Command to."
          type: string
      required:
      - Command
      title: CreateCommandRequest
      type: object
    ListRatePlanResponse:
      example:
        rate_plans:
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          data_limit: 0
          international_roaming_data_limit: 6
          national_roaming_enabled: true
          date_created: 2000-01-23T04:56:07.000+00:00
          data_metering: data_metering
          voice_enabled: true
          data_enabled: true
          international_roaming:
          - international_roaming
          - international_roaming
          url: https://openapi-generator.tech
          sid: sid
          unique_name: unique_name
          messaging_enabled: true
          national_roaming_data_limit: 1
          account_sid: account_sid
        - friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          data_limit: 0
          international_roaming_data_limit: 6
          national_roaming_enabled: true
          date_created: 2000-01-23T04:56:07.000+00:00
          data_metering: data_metering
          voice_enabled: true
          data_enabled: true
          international_roaming:
          - international_roaming
          - international_roaming
          url: https://openapi-generator.tech
          sid: sid
          unique_name: unique_name
          messaging_enabled: true
          national_roaming_data_limit: 1
          account_sid: account_sid
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        meta:
          $ref: '#/components/schemas/ListCommandResponse_meta'
        rate_plans:
          items:
            $ref: '#/components/schemas/wireless.v1.rate_plan'
          title: rate_plans
          type: array
      title: ListRatePlanResponse
      type: object
    CreateRatePlanRequest:
      properties:
        DataEnabled:
          description: Whether SIMs can use GPRS/3G/4G/LTE data connectivity.
          type: boolean
        DataLimit:
          description: The total data usage (download and upload combined) in Megabytes
            that the Network allows during one month on the home network (T-Mobile
            USA). The metering period begins the day of activation and ends on the
            same day in the following month. Can be up to 2TB and the default value
            is `1000`.
          type: integer
        DataMetering:
          description: "The model used to meter data usage. Can be: `payg` and `quota-1`,\
            \ `quota-10`, and `quota-50`. Learn more about the available [data metering\
            \ models](https://www.twilio.com/docs/iot/wireless/api/rateplan-resource#payg-vs-quota-data-plans)."
          type: string
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It does not have to be unique.
          type: string
        InternationalRoaming:
          description: "The list of services that SIMs capable of using GPRS/3G/4G/LTE\
            \ data connectivity can use outside of the United States. Can contain:\
            \ `data` and `messaging`."
          items:
            type: string
          type: array
        InternationalRoamingDataLimit:
          description: The total data usage (download and upload combined) in Megabytes
            that the Network allows during one month when roaming outside the United
            States. Can be up to 2TB.
          type: integer
        MessagingEnabled:
          description: "Whether SIMs can make, send, and receive SMS using [Commands](https://www.twilio.com/docs/iot/wireless/api/command-resource)."
          type: boolean
        NationalRoamingDataLimit:
          description: "The total data usage (download and upload combined) in Megabytes\
            \ that the Network allows during one month on non-home networks in the\
            \ United States. The metering period begins the day of activation and\
            \ ends on the same day in the following month. Can be up to 2TB. See [national\
            \ roaming](https://www.twilio.com/docs/iot/wireless/api/rateplan-resource#national-roaming)\
            \ for more info."
          type: integer
        NationalRoamingEnabled:
          description: "Whether SIMs can roam on networks other than the home network\
            \ (T-Mobile USA) in the United States. See [national roaming](https://www.twilio.com/docs/iot/wireless/api/rateplan-resource#national-roaming)."
          type: boolean
        UniqueName:
          description: An application-defined string that uniquely identifies the
            resource. It can be used in place of the resource's `sid` in the URL to
            address the resource.
          type: string
        VoiceEnabled:
          description: Deprecated.
          type: boolean
      title: CreateRatePlanRequest
      type: object
    UpdateRatePlanRequest:
      properties:
        FriendlyName:
          description: A descriptive string that you create to describe the resource.
            It does not have to be unique.
          type: string
        UniqueName:
          description: An application-defined string that uniquely identifies the
            resource. It can be used in place of the resource's `sid` in the URL to
            address the resource.
          type: string
      title: UpdateRatePlanRequest
      type: object
    ListSimResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        sims:
        - voice_method: HEAD
          friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          voice_url: https://openapi-generator.tech
          date_created: 2000-01-23T04:56:07.000+00:00
          sms_url: https://openapi-generator.tech
          sms_fallback_method: HEAD
          voice_fallback_method: HEAD
          ip_address: ip_address
          commands_callback_method: HEAD
          commands_callback_url: https://openapi-generator.tech
          url: https://openapi-generator.tech
          sid: sid
          iccid: iccid
          unique_name: unique_name
          voice_fallback_url: https://openapi-generator.tech
          sms_fallback_url: https://openapi-generator.tech
          account_sid: account_sid
          rate_plan_sid: rate_plan_sid
          sms_method: HEAD
          e_id: e_id
          links: "{}"
          reset_status: reset_status
          status: status
        - voice_method: HEAD
          friendly_name: friendly_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          voice_url: https://openapi-generator.tech
          date_created: 2000-01-23T04:56:07.000+00:00
          sms_url: https://openapi-generator.tech
          sms_fallback_method: HEAD
          voice_fallback_method: HEAD
          ip_address: ip_address
          commands_callback_method: HEAD
          commands_callback_url: https://openapi-generator.tech
          url: https://openapi-generator.tech
          sid: sid
          iccid: iccid
          unique_name: unique_name
          voice_fallback_url: https://openapi-generator.tech
          sms_fallback_url: https://openapi-generator.tech
          account_sid: account_sid
          rate_plan_sid: rate_plan_sid
          sms_method: HEAD
          e_id: e_id
          links: "{}"
          reset_status: reset_status
          status: status
      properties:
        meta:
          $ref: '#/components/schemas/ListCommandResponse_meta'
        sims:
          items:
            $ref: '#/components/schemas/wireless.v1.sim'
          title: sims
          type: array
      title: ListSimResponse
      type: object
    UpdateSimRequest:
      properties:
        AccountSid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ to which the Sim resource should belong. The Account SID can only be\
            \ that of the requesting Account or that of a [Subaccount](https://www.twilio.com/docs/iam/api/subaccounts)\
            \ of the requesting Account. Only valid when the Sim resource's status\
            \ is `new`. For more information, see the [Move SIMs between Subaccounts\
            \ documentation](https://www.twilio.com/docs/iot/wireless/api/sim-resource#move-sims-between-subaccounts)."
          type: string
        CallbackMethod:
          description: "The HTTP method we should use to call `callback_url`. Can\
            \ be: `POST` or `GET`. The default is `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        CallbackUrl:
          description: "The URL we should call using the `callback_url` when the SIM\
            \ has finished updating. When the SIM transitions from `new` to `ready`\
            \ or from any status to `deactivated`, we call this URL when the status\
            \ changes to an intermediate status (`ready` or `deactivated`) and again\
            \ when the status changes to its final status (`active` or `canceled`)."
          format: uri
          type: string
        CommandsCallbackMethod:
          description: "The HTTP method we should use to call `commands_callback_url`.\
            \ Can be: `POST` or `GET`. The default is `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        CommandsCallbackUrl:
          description: "The URL we should call using the `commands_callback_method`\
            \ when the SIM sends a [Command](https://www.twilio.com/docs/iot/wireless/api/command-resource).\
            \ Your server should respond with an HTTP status code in the 200 range;\
            \ any response body is ignored."
          format: uri
          type: string
        FriendlyName:
          description: A descriptive string that you create to describe the Sim resource.
            It does not need to be unique.
          type: string
        RatePlan:
          description: "The SID or unique name of the [RatePlan resource](https://www.twilio.com/docs/iot/wireless/api/rateplan-resource)\
            \ to which the Sim resource should be assigned."
          type: string
        ResetStatus:
          $ref: '#/components/schemas/sim_enum_reset_status'
        SmsFallbackMethod:
          description: "The HTTP method we should use to call `sms_fallback_url`.\
            \ Can be: `GET` or `POST`. Default is `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        SmsFallbackUrl:
          description: The URL we should call using the `sms_fallback_method` when
            an error occurs while retrieving or executing the TwiML requested from
            `sms_url`.
          format: uri
          type: string
        SmsMethod:
          description: "The HTTP method we should use to call `sms_url`. Can be: `GET`\
            \ or `POST`. Default is `POST`."
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        SmsUrl:
          description: "The URL we should call using the `sms_method` when the SIM-connected\
            \ device sends an SMS message that is not a [Command](https://www.twilio.com/docs/iot/wireless/api/command-resource)."
          format: uri
          type: string
        Status:
          $ref: '#/components/schemas/sim_enum_status'
        UniqueName:
          description: An application-defined string that uniquely identifies the
            resource. It can be used in place of the `sid` in the URL path to address
            the resource.
          type: string
        VoiceFallbackMethod:
          description: Deprecated.
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        VoiceFallbackUrl:
          description: Deprecated.
          format: uri
          type: string
        VoiceMethod:
          description: Deprecated.
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          format: http-method
          type: string
        VoiceUrl:
          description: Deprecated.
          format: uri
          type: string
      title: UpdateSimRequest
      type: object
    ListDataSessionResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        data_sessions:
        - sim_sid: sim_sid
          last_updated: 2000-01-23T04:56:07.000+00:00
          radio_link: radio_link
          cell_location_estimate: ""
          start: 2000-01-23T04:56:07.000+00:00
          operator_mnc: operator_mnc
          sid: sid
          operator_name: operator_name
          operator_mcc: operator_mcc
          account_sid: account_sid
          imei: imei
          end: 2000-01-23T04:56:07.000+00:00
          operator_country: operator_country
          packets_uploaded: 6
          cell_id: cell_id
          packets_downloaded: 0
        - sim_sid: sim_sid
          last_updated: 2000-01-23T04:56:07.000+00:00
          radio_link: radio_link
          cell_location_estimate: ""
          start: 2000-01-23T04:56:07.000+00:00
          operator_mnc: operator_mnc
          sid: sid
          operator_name: operator_name
          operator_mcc: operator_mcc
          account_sid: account_sid
          imei: imei
          end: 2000-01-23T04:56:07.000+00:00
          operator_country: operator_country
          packets_uploaded: 6
          cell_id: cell_id
          packets_downloaded: 0
      properties:
        data_sessions:
          items:
            $ref: '#/components/schemas/wireless.v1.sim.data_session'
          title: data_sessions
          type: array
        meta:
          $ref: '#/components/schemas/ListCommandResponse_meta'
      title: ListDataSessionResponse
      type: object
    ListUsageRecordResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        usage_records:
        - sim_sid: sim_sid
          period: ""
          data: ""
          account_sid: account_sid
          commands: ""
        - sim_sid: sim_sid
          period: ""
          data: ""
          account_sid: account_sid
          commands: ""
      properties:
        meta:
          $ref: '#/components/schemas/ListCommandResponse_meta'
        usage_records:
          items:
            $ref: '#/components/schemas/wireless.v1.sim.usage_record'
          title: usage_records
          type: array
      title: ListUsageRecordResponse
      type: object
    ListAccountUsageRecordResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        usage_records:
        - period: ""
          data: ""
          account_sid: account_sid
          commands: ""
        - period: ""
          data: ""
          account_sid: account_sid
          commands: ""
      properties:
        meta:
          $ref: '#/components/schemas/ListCommandResponse_meta'
        usage_records:
          items:
            $ref: '#/components/schemas/wireless.v1.account_usage_record'
          title: usage_records
          type: array
      title: ListAccountUsageRecordResponse
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller.info_from_accountSid_authToken
x-maturity:
- description: This product is Generally Available.
  name: GA
