openapi: 3.0.1
info:
  description: "Use these REST APIs for managing OAuth2 servers configuration in your\
    \ Azure API Management deployment. OAuth 2.0 can be used to authorize developer\
    \ accounts for Azure API Management. For more information refer to [How to OAuth2](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-oauth2)."
  title: ApiManagementClient
  version: 2018-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/apimauthorizationservers.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimauthorizationservers
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/authorizationServers
  : get:
      description: Lists a collection of authorization servers defined within a service
        instance.
      operationId: authorization_server_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field | Supported operators    | Supported functions                         |
          |-------|------------------------|---------------------------------------------|
          | id    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationServerCollection'
          description: A Collection of the Authorization Server entities for the specified
            API Management service instance.
      tags:
      - AuthorizationServers
      x-ms-examples:
        ApiManagementListAuthorizationServers:
          parameters:
            api-version: 2018-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/authorizationServers/newauthServer
                  name: newauthServer
                  properties:
                    authorizationEndpoint: https://www.contoso.com/oauth2/auth
                    authorizationMethods:
                    - GET
                    bearerTokenSendingMethods:
                    - authorizationHeader
                    clientId: "1"
                    clientRegistrationEndpoint: https://www.contoso.com/apps
                    clientSecret: "2"
                    defaultScope: read write
                    description: test server
                    displayName: test2
                    grantTypes:
                    - authorizationCode
                    - implicit
                    resourceOwnerPassword: pwd
                    resourceOwnerUsername: un
                    supportState: true
                    tokenEndpoint: https://www.contoso.com/oauth2/token
                  type: Microsoft.ApiManagement/service/authorizationServers
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/authorizationServers/newauthServer2
                  name: newauthServer2
                  properties:
                    authorizationEndpoint: https://www.contoso.com/oauth2/auth
                    authorizationMethods:
                    - GET
                    bearerTokenSendingMethods:
                    - authorizationHeader
                    clientAuthenticationMethod:
                    - Basic
                    clientId: "1"
                    clientRegistrationEndpoint: https://www.contoso.com/apps
                    clientSecret: "2"
                    defaultScope: read write
                    description: test server
                    displayName: test3
                    grantTypes:
                    - authorizationCode
                    - implicit
                    resourceOwnerPassword: pwd
                    resourceOwnerUsername: un
                    supportState: true
                    tokenEndpoint: https://www.contoso.com/oauth2/token
                  type: Microsoft.ApiManagement/service/authorizationServers
      x-ms-odata: '#/definitions/AuthorizationServerContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.authorization_servers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/authorizationServers/{authsid}
  : delete:
      description: Deletes specific authorization server instance.
      operationId: authorization_server_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the authorization server.
        in: path
        name: authsid
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The authorization server settings were successfully deleted.
        "204":
          content: {}
          description: The authorization server settings were successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationServer_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - AuthorizationServers
      x-ms-examples:
        ApiManagementDeleteAuthorizationServer:
          parameters:
            If-Match: '*'
            api-version: 2018-01-01
            authsid: newauthServer2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.authorization_servers_controller
    get:
      description: Gets the details of the authorization server specified by its identifier.
      operationId: authorization_server_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the authorization server.
        in: path
        name: authsid
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationServerContract'
          description: Gets the details of the specified authorization server.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationServer_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - AuthorizationServers
      x-ms-examples:
        ApiManagementGetAuthorizationServer:
          parameters:
            api-version: 2018-01-01
            authsid: newauthServer2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/authorizationServers/newauthServer2
                name: newauthServer2
                properties:
                  authorizationEndpoint: https://www.contoso.com/oauth2/auth
                  authorizationMethods:
                  - GET
                  bearerTokenSendingMethods:
                  - authorizationHeader
                  clientAuthenticationMethod:
                  - Basic
                  clientId: "1"
                  clientRegistrationEndpoint: https://www.contoso.com/apps
                  clientSecret: "2"
                  defaultScope: read write
                  description: test server
                  displayName: test3
                  grantTypes:
                  - authorizationCode
                  - implicit
                  resourceOwnerPassword: pwd
                  resourceOwnerUsername: un
                  supportState: true
                  tokenEndpoint: https://www.contoso.com/oauth2/token
                type: Microsoft.ApiManagement/service/authorizationServers
      x-openapi-router-controller: openapi_server.controllers.authorization_servers_controller
    head:
      description: Gets the entity state (Etag) version of the authorizationServer
        specified by its identifier.
      operationId: authorization_server_get_entity_tag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the authorization server.
        in: path
        name: authsid
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified authorization server entity exists and current entity
            state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationServer_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - AuthorizationServers
      x-ms-examples:
        ApiManagementHeadAuthorizationServer:
          parameters:
            api-version: 2018-01-01
            authsid: newauthServer2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-openapi-router-controller: openapi_server.controllers.authorization_servers_controller
    patch:
      description: Updates the details of the authorization server specified by its
        identifier.
      operationId: authorization_server_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the authorization server.
        in: path
        name: authsid
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationServerUpdateContract'
        description: OAuth2 Server settings Update parameters.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: The authorization server settings were successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationServer_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - AuthorizationServers
      x-ms-examples:
        ApiManagementUpdateAuthorizationServer:
          parameters:
            If-Match: '*'
            api-version: 2018-01-01
            authsid: newauthServer
            parameters:
              properties:
                clientId: update
                clientSecret: updated
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.authorization_servers_controller
    put:
      description: Creates new authorization server or updates an existing authorization
        server.
      operationId: authorization_server_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Identifier of the authorization server.
        in: path
        name: authsid
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationServerContract'
        description: Create or update parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationServerContract'
          description: Authorization server is already registered.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationServerContract'
          description: Authorization server was successfully registered.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationServer_Get_default_response'
          description: Error response describing why the operation failed.
      tags:
      - AuthorizationServers
      x-ms-examples:
        ApiManagementCreateAuthorizationServer:
          parameters:
            api-version: 2018-01-01
            authsid: newauthServer
            parameters:
              properties:
                authorizationEndpoint: https://www.contoso.com/oauth2/auth
                authorizationMethods:
                - GET
                bearerTokenSendingMethods:
                - authorizationHeader
                clientId: "1"
                clientRegistrationEndpoint: https://www.contoso.com/apps
                clientSecret: "2"
                defaultScope: read write
                description: test server
                displayName: test2
                grantTypes:
                - authorizationCode
                - implicit
                resourceOwnerPassword: pwd
                resourceOwnerUsername: un
                supportState: true
                tokenEndpoint: https://www.contoso.com/oauth2/token
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/authorizationServers/newauthServer
                name: newauthServer
                properties:
                  authorizationEndpoint: https://www.contoso.com/oauth2/auth
                  authorizationMethods:
                  - GET
                  bearerTokenSendingMethods:
                  - authorizationHeader
                  clientId: "1"
                  clientRegistrationEndpoint: https://www.contoso.com/apps
                  clientSecret: "2"
                  defaultScope: read write
                  description: test server
                  displayName: test2
                  grantTypes:
                  - authorizationCode
                  - implicit
                  resourceOwnerPassword: pwd
                  resourceOwnerUsername: un
                  supportState: true
                  tokenEndpoint: https://www.contoso.com/oauth2/token
                type: Microsoft.ApiManagement/service/authorizationServers
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/authorizationServers/newauthServer
                name: newauthServer
                properties:
                  authorizationEndpoint: https://www.contoso.com/oauth2/auth
                  authorizationMethods:
                  - GET
                  bearerTokenSendingMethods:
                  - authorizationHeader
                  clientId: "1"
                  clientRegistrationEndpoint: https://www.contoso.com/apps
                  clientSecret: "2"
                  defaultScope: read write
                  description: test server
                  displayName: test2
                  grantTypes:
                  - authorizationCode
                  - implicit
                  resourceOwnerPassword: pwd
                  resourceOwnerUsername: un
                  supportState: true
                  tokenEndpoint: https://www.contoso.com/oauth2/token
                type: Microsoft.ApiManagement/service/authorizationServers
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.authorization_servers_controller
components:
  parameters:
    AuthenticationServerIdParameter:
      description: Identifier of the authorization server.
      in: path
      name: authsid
      required: true
      schema:
        maxLength: 80
        minLength: 1
        pattern: "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    AuthorizationServerCollection:
      description: Paged OAuth2 Authorization Servers list representation.
      example:
        count: 0
        value:
        - properties:
            grantTypes:
            - authorizationCode
            - authorizationCode
            clientId: clientId
            clientRegistrationEndpoint: clientRegistrationEndpoint
            displayName: displayName
            authorizationEndpoint: authorizationEndpoint
        - properties:
            grantTypes:
            - authorizationCode
            - authorizationCode
            clientId: clientId
            clientRegistrationEndpoint: clientRegistrationEndpoint
            displayName: displayName
            authorizationEndpoint: authorizationEndpoint
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          title: count
          type: integer
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/AuthorizationServerContract'
          title: value
          type: array
      title: AuthorizationServerCollection
      type: object
    AuthorizationServerContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: External OAuth authorization server settings.
      example:
        properties:
          grantTypes:
          - authorizationCode
          - authorizationCode
          clientId: clientId
          clientRegistrationEndpoint: clientRegistrationEndpoint
          displayName: displayName
          authorizationEndpoint: authorizationEndpoint
      properties:
        properties:
          $ref: '#/components/schemas/AuthorizationServerContractProperties'
      title: AuthorizationServerContract
    AuthorizationServerContractBaseProperties:
      description: External OAuth authorization server Update settings contract.
      properties:
        authorizationMethods:
          description: HTTP verbs supported by the authorization endpoint. GET must
            be always present. POST is optional.
          items:
            enum:
            - HEAD
            - OPTIONS
            - TRACE
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
            type: string
            x-ms-enum:
              modelAsString: false
              name: AuthorizationMethod
          title: authorizationMethods
          type: array
        bearerTokenSendingMethods:
          description: 'Specifies the mechanism by which access token is passed to
            the API. '
          items:
            enum:
            - authorizationHeader
            - query
            type: string
            x-ms-enum:
              modelAsString: true
              name: BearerTokenSendingMethod
          title: bearerTokenSendingMethods
          type: array
        clientAuthenticationMethod:
          description: "Method of authentication supported by the token endpoint of\
            \ this authorization server. Possible values are Basic and/or Body. When\
            \ Body is specified, client credentials and other parameters are passed\
            \ within the request body in the application/x-www-form-urlencoded format."
          items:
            enum:
            - Basic
            - Body
            type: string
            x-ms-enum:
              modelAsString: true
              name: ClientAuthenticationMethod
              values:
              - description: Basic Client Authentication method.
                value: Basic
              - description: Body based Authentication method.
                value: Body
          title: clientAuthenticationMethod
          type: array
        clientSecret:
          description: Client or app secret registered with this authorization server.
          title: clientSecret
          type: string
        defaultScope:
          description: Access token scope that is going to be requested by default.
            Can be overridden at the API level. Should be provided in the form of
            a string containing space-delimited values.
          title: defaultScope
          type: string
        description:
          description: Description of the authorization server. Can contain HTML formatting
            tags.
          title: description
          type: string
        resourceOwnerPassword:
          description: Can be optionally specified when resource owner password grant
            type is supported by this authorization server. Default resource owner
            password.
          title: resourceOwnerPassword
          type: string
        resourceOwnerUsername:
          description: Can be optionally specified when resource owner password grant
            type is supported by this authorization server. Default resource owner
            username.
          title: resourceOwnerUsername
          type: string
        supportState:
          description: "If true, authorization server will include state parameter\
            \ from the authorization request to its response. Client may use state\
            \ parameter to raise protocol security."
          title: supportState
          type: boolean
        tokenBodyParameters:
          description: "Additional parameters required by the token endpoint of this\
            \ authorization server represented as an array of JSON objects with name\
            \ and value string properties, i.e. {\"name\" : \"name value\", \"value\"\
            : \"a value\"}."
          items:
            $ref: '#/components/schemas/TokenBodyParameterContract'
          title: tokenBodyParameters
          type: array
        tokenEndpoint:
          description: OAuth token endpoint. Contains absolute URI to entity being
            referenced.
          title: tokenEndpoint
          type: string
      title: AuthorizationServerContractBaseProperties
      type: object
    AuthorizationServerContractProperties:
      allOf:
      - $ref: '#/components/schemas/AuthorizationServerContractBaseProperties'
      description: External OAuth authorization server settings Properties.
      example:
        grantTypes:
        - authorizationCode
        - authorizationCode
        clientId: clientId
        clientRegistrationEndpoint: clientRegistrationEndpoint
        displayName: displayName
        authorizationEndpoint: authorizationEndpoint
      properties:
        authorizationEndpoint:
          description: OAuth authorization endpoint. See http://tools.ietf.org/html/rfc6749#section-3.2.
          title: authorizationEndpoint
          type: string
        clientId:
          description: Client or app id registered with this authorization server.
          title: clientId
          type: string
        clientRegistrationEndpoint:
          description: Optional reference to a page where client or app registration
            for this authorization server is performed. Contains absolute URL to entity
            being referenced.
          title: clientRegistrationEndpoint
          type: string
        displayName:
          description: User-friendly authorization server name.
          maxLength: 50
          minLength: 1
          title: displayName
          type: string
        grantTypes:
          description: "Form of an authorization grant, which the client uses to request\
            \ the access token."
          items:
            enum:
            - authorizationCode
            - implicit
            - resourceOwnerPassword
            - clientCredentials
            type: string
            x-ms-enum:
              modelAsString: true
              name: GrantType
              values:
              - description: Authorization Code Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.1.
                value: authorizationCode
              - description: Implicit Code Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.2.
                value: implicit
              - description: Resource Owner Password Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.3.
                value: resourceOwnerPassword
              - description: Client Credentials Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.4.
                value: clientCredentials
          title: grantTypes
          type: array
      required:
      - authorizationEndpoint
      - clientId
      - clientRegistrationEndpoint
      - displayName
      - grantTypes
      title: AuthorizationServerContractProperties
    AuthorizationServerUpdateContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: External OAuth authorization server settings.
      example:
        properties:
          grantTypes:
          - authorizationCode
          - authorizationCode
          clientId: clientId
          clientRegistrationEndpoint: clientRegistrationEndpoint
          displayName: displayName
          authorizationEndpoint: authorizationEndpoint
      properties:
        properties:
          $ref: '#/components/schemas/AuthorizationServerUpdateContractProperties'
      title: AuthorizationServerUpdateContract
    AuthorizationServerUpdateContractProperties:
      allOf:
      - $ref: '#/components/schemas/AuthorizationServerContractBaseProperties'
      description: External OAuth authorization server Update settings contract.
      example:
        grantTypes:
        - authorizationCode
        - authorizationCode
        clientId: clientId
        clientRegistrationEndpoint: clientRegistrationEndpoint
        displayName: displayName
        authorizationEndpoint: authorizationEndpoint
      properties:
        authorizationEndpoint:
          description: OAuth authorization endpoint. See http://tools.ietf.org/html/rfc6749#section-3.2.
          title: authorizationEndpoint
          type: string
        clientId:
          description: Client or app id registered with this authorization server.
          title: clientId
          type: string
        clientRegistrationEndpoint:
          description: Optional reference to a page where client or app registration
            for this authorization server is performed. Contains absolute URL to entity
            being referenced.
          title: clientRegistrationEndpoint
          type: string
        displayName:
          description: User-friendly authorization server name.
          maxLength: 50
          minLength: 1
          title: displayName
          type: string
        grantTypes:
          description: "Form of an authorization grant, which the client uses to request\
            \ the access token."
          items:
            enum:
            - authorizationCode
            - implicit
            - resourceOwnerPassword
            - clientCredentials
            type: string
            x-ms-enum:
              modelAsString: true
              name: GrantType
              values:
              - description: Authorization Code Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.1.
                value: authorizationCode
              - description: Implicit Code Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.2.
                value: implicit
              - description: Resource Owner Password Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.3.
                value: resourceOwnerPassword
              - description: Client Credentials Grant flow as described https://tools.ietf.org/html/rfc6749#section-4.4.
                value: clientCredentials
          title: grantTypes
          type: array
      title: AuthorizationServerUpdateContractProperties
    TokenBodyParameterContract:
      description: OAuth acquire token request body parameter (www-url-form-encoded).
      properties:
        name:
          description: body parameter name.
          title: name
          type: string
        value:
          description: body parameter value.
          title: value
          type: string
      required:
      - name
      - value
      title: TokenBodyParameterContract
      type: object
    AuthorizationServer_Get_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: AuthorizationServer_Get_default_response_error_details_inner
      type: object
    AuthorizationServer_Get_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/AuthorizationServer_Get_default_response_error_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: AuthorizationServer_Get_default_response_error
      type: object
    AuthorizationServer_Get_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/AuthorizationServer_Get_default_response_error'
      title: AuthorizationServer_Get_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
