openapi: 3.0.1
info:
  description: Quota admin operation endpoints and objects.
  title: NetworkAdminManagementClient
  version: 2015-06-15
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/network/Microsoft.Network.Admin/preview/2015-06-15/Quotas.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: azsadmin-Quotas
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/locations/{location}/quotas:
    get:
      description: List all quotas.
      operationId: Quotas_List
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-06-15
          type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaList'
          description: OK
        "404":
          content: {}
          description: Not Found
      tags:
      - Quotas
      x-ms-examples:
        List all quotas:
          parameters:
            api-version: 2015-06-15
            location: local
            subscriptionId: fc8456aa-4843-4079-a152-f3497c63aa73
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/providers/Microsoft.Network.Admin/locations/local/quotas/Default
                    Quota
                  location: local
                  name: Default Quota
                  properties:
                    maxLoadBalancersPerSubscription: 50
                    maxNicsPerSubscription: 100
                    maxPublicIpsPerSubscription: 50
                    maxSecurityGroupsPerSubscription: 50
                    maxVirtualNetworkGatewayConnectionsPerSubscription: 2
                    maxVirtualNetworkGatewaysPerSubscription: 1
                    maxVnetsPerSubscription: 50
                    migrationPhase: None
                    provisioningState: Succeeded
                  type: Microsoft.Network.Admin/quotas
            "404": {}
      x-ms-odata: '#/definitions/Quota'
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/locations/{location}/quotas/{resourceName}:
    delete:
      description: Delete a quota by name.
      operationId: Quotas_Delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-06-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
      tags:
      - Network
      x-ms-examples:
        Delete a quota by name.:
          parameters:
            api-version: 2015-06-15
            location: local
            resourceName: TestQuotaForUpdate
            subscriptionId: fc8456aa-4843-4079-a152-f3497c63aa73
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get a quota by name.
      operationId: Quotas_Get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-06-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quota'
          description: OK
        "404":
          content: {}
          description: Not Found
      tags:
      - Quotas
      x-ms-examples:
        Get a quota by name:
          parameters:
            api-version: 2015-06-15
            location: local
            resourceName: Default Quota
            subscriptionId: fc8456aa-4843-4079-a152-f3497c63aa73
          responses:
            "200":
              body:
                id: /subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/providers/Microsoft.Network.Admin/locations/local/quotas/Default
                  Quota
                location: local
                name: Default Quota
                properties:
                  maxLoadBalancersPerSubscription: 50
                  maxNicsPerSubscription: 100
                  maxPublicIpsPerSubscription: 50
                  maxSecurityGroupsPerSubscription: 50
                  maxVirtualNetworkGatewayConnectionsPerSubscription: 2
                  maxVirtualNetworkGatewaysPerSubscription: 1
                  maxVnetsPerSubscription: 50
                  migrationPhase: None
                  provisioningState: Succeeded
                type: Microsoft.Network.Admin/quotas
            "404": {}
      x-accepts:
      - application/json
    put:
      description: Create or update a quota.
      operationId: Quotas_CreateOrUpdate
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-06-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Quota'
        description: New network quota to create.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quota'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quota'
          description: Created
      tags:
      - Network
      x-ms-examples:
        Create or update a new quota:
          parameters:
            Quota: test
            api-version: 2015-06-15
            location: local
            resourceName: TestQuotaForUpdate
            subscriptionId: fc8456aa-4843-4079-a152-f3497c63aa73
          responses:
            "200":
              body:
                id: /subscriptions/2a6b336c-6c7f-4a19-bab9-b51119d8fec8/providers/Microsoft.Network.Admin/locations/local/quotas/TestQuotaForUpdate
                name: TestQuotaForUpdate
                properties:
                  maxLoadBalancersPerSubscription: 0
                  maxNicsPerSubscription: 8
                  maxPublicIpsPerSubscription: 32
                  maxSecurityGroupsPerSubscription: 0
                  maxVirtualNetworkGatewayConnectionsPerSubscription: 0
                  maxVirtualNetworkGatewaysPerSubscription: 0
                  maxVnetsPerSubscription: 0
                  migrationPhase: None
                  provisioningState: Updating
                type: Microsoft.Network.Admin/quotas
            "201":
              body:
                id: /subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/providers/Microsoft.Network.Admin/locations/local/quotas/TestQuotaForRemoval
                name: TestQuotaForRemoval
                properties:
                  maxLoadBalancersPerSubscription: 32
                  maxNicsPerSubscription: 4
                  maxPublicIpsPerSubscription: 32
                  maxSecurityGroupsPerSubscription: 2
                  maxVirtualNetworkGatewayConnectionsPerSubscription: 32
                  maxVirtualNetworkGatewaysPerSubscription: 32
                  maxVnetsPerSubscription: 32
                  migrationPhase: None
                  provisioningState: Succeeded
                type: Microsoft.Network.Admin/quotas
      x-codegen-request-body-name: Quota
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  requestBodies:
    QuotaParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Quota'
      description: New network quota to create.
      required: true
      x-ms-parameter-location: method
  schemas:
    MigrationPhase:
      description: "State of migration such as None, Prepare, Commit, and Abort."
      enum:
      - None
      - Prepare
      - Commit
      - Abort
      type: string
      x-ms-enum:
        modelAsString: true
        name: MigrationPhaseType
    Quota:
      allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Region location of resource.
            readOnly: true
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Network quota resource.
      example:
        properties:
          maxPublicIpsPerSubscription: 1
          maxVnetsPerSubscription: 7
          maxLoadBalancersPerSubscription: 0
          maxVirtualNetworkGatewaysPerSubscription: 2
          maxVirtualNetworkGatewayConnectionsPerSubscription: 5
          migrationPhase: None
          maxNicsPerSubscription: 6
          maxSecurityGroupsPerSubscription: 5
      properties:
        properties:
          $ref: '#/components/schemas/QuotaProperties'
    QuotaList:
      description: A pageable list of network quotas.
      example:
        value:
        - properties:
            maxPublicIpsPerSubscription: 1
            maxVnetsPerSubscription: 7
            maxLoadBalancersPerSubscription: 0
            maxVirtualNetworkGatewaysPerSubscription: 2
            maxVirtualNetworkGatewayConnectionsPerSubscription: 5
            migrationPhase: None
            maxNicsPerSubscription: 6
            maxSecurityGroupsPerSubscription: 5
        - properties:
            maxPublicIpsPerSubscription: 1
            maxVnetsPerSubscription: 7
            maxLoadBalancersPerSubscription: 0
            maxVirtualNetworkGatewaysPerSubscription: 2
            maxVirtualNetworkGatewayConnectionsPerSubscription: 5
            migrationPhase: None
            maxNicsPerSubscription: 6
            maxSecurityGroupsPerSubscription: 5
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to the next page.
          type: string
        value:
          description: List of quotas on this page.
          items:
            $ref: '#/components/schemas/Quota'
          type: array
      type: object
    QuotaProperties:
      allOf:
      - description: Objects which have a provisioning state.
        properties:
          provisioningState:
            description: The provisioning state.
            readOnly: true
            type: string
        type: object
      description: Properties of a quota.
      example:
        maxPublicIpsPerSubscription: 1
        maxVnetsPerSubscription: 7
        maxLoadBalancersPerSubscription: 0
        maxVirtualNetworkGatewaysPerSubscription: 2
        maxVirtualNetworkGatewayConnectionsPerSubscription: 5
        migrationPhase: None
        maxNicsPerSubscription: 6
        maxSecurityGroupsPerSubscription: 5
      properties:
        maxLoadBalancersPerSubscription:
          description: Maximum number of load balancers a tenant subscription can
            provision.
          format: int64
          type: integer
        maxNicsPerSubscription:
          description: Maximum number of NICs a tenant subscription can provision.
          format: int64
          type: integer
        maxPublicIpsPerSubscription:
          description: Maximum number of public IP addresses a tenant subscription
            can provision.
          format: int64
          type: integer
        maxSecurityGroupsPerSubscription:
          description: Maximum number of security groups a tenant subscription can
            provision.
          format: int64
          type: integer
        maxVirtualNetworkGatewayConnectionsPerSubscription:
          description: Maximum number of virtual network gateway Connections a tenant
            subscription can provision.
          format: int64
          type: integer
        maxVirtualNetworkGatewaysPerSubscription:
          description: Maximum number of virtual network gateways a tenant subscription
            can provision.
          format: int64
          type: integer
        maxVnetsPerSubscription:
          description: Maximum number of virtual networks a tenant subscription can
            provision.
          format: int64
          type: integer
        migrationPhase:
          $ref: '#/components/schemas/MigrationPhase'
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

