openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on User entity in Azure
    API Management deployment. The User entity in API Management represents the developers
    that call the APIs of the products to which they are subscribed.
  title: ApiManagementClient
  version: 2017-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimusers.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimusers
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users
  : get:
      description: Lists a collection of registered users in the specified service
        instance.
      operationId: user_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field            | Supported operators    | Supported functions               |
          |------------------|------------------------|-----------------------------------|
          | id               | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | firstName        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | lastName         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | email            | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | state            | eq                     | N/A                               |
          | registrationDate | ge, le, eq, ne, gt, lt | N/A                               |
          | note             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollection'
          description: Lists a collection of User entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-ms-examples:
        ApiManagementListUsers:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1
                  name: "1"
                  properties:
                    email: admin@live.com
                    firstName: Administrator
                    identities:
                    - id: admin@live.com
                      provider: Azure
                    lastName: ""
                    registrationDate: 2015-09-22T01:57:39.677Z
                    state: active
                  type: Microsoft.ApiManagement/service/users
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/56eaec62baf08b06e46d27fd
                  name: 56eaec62baf08b06e46d27fd
                  properties:
                    email: foo.bar.83@gmail.com
                    firstName: foo
                    identities:
                    - id: foo.bar.83@gmail.com
                      provider: Basic
                    lastName: bar
                    registrationDate: 2016-03-17T17:41:56.327Z
                    state: active
                  type: Microsoft.ApiManagement/service/users
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/5931a75ae4bbd512a88c680b
                  name: 5931a75ae4bbd512a88c680b
                  properties:
                    email: foobar@outlook.com
                    firstName: foo
                    identities:
                    - id: '*************'
                      provider: Microsoft
                    lastName: bar
                    registrationDate: 2017-06-02T17:58:50.357Z
                    state: active
                  type: Microsoft.ApiManagement/service/users
      x-ms-odata: '#/definitions/UserContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.users_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{uid}
  : delete:
      description: Deletes specific user.
      operationId: user_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Whether to delete user's subscription or not.
        in: query
        name: deleteSubscriptions
        schema:
          type: boolean
      - description: The entity state (Etag) version of the user to delete. A value
          of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The user details were successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-ms-examples:
        ApiManagementDeleteUser:
          parameters:
            If-Match: '*'
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            uid: 5931a75ae4bbd512288c680b
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.users_controller
    get:
      description: Gets the details of the user specified by its identifier.
      operationId: user_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserContract'
          description: Gets the specified user entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-ms-examples:
        ApiManagementGetUser:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            uid: 5931a75ae4bbd512a88c680b
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/5931a75ae4bbd512a88c680b
                name: 5931a75ae4bbd512a88c680b
                properties:
                  email: foobar@outlook.com
                  firstName: foo
                  identities:
                  - id: '*************'
                    provider: Microsoft
                  lastName: bar
                  registrationDate: 2017-06-02T17:58:50.357Z
                  state: active
                type: Microsoft.ApiManagement/service/users
      x-openapi-router-controller: openapi_server.controllers.users_controller
    head:
      description: Gets the entity state (Etag) version of the user specified by its
        identifier.
      operationId: user_get_entity_tag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Specified user entity exists and current entity state version
            is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-ms-examples:
        ApiManagementHeadUser:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            uid: 5931a75ae4bbd512a88c680b
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-openapi-router-controller: openapi_server.controllers.users_controller
    patch:
      description: Updates the details of the user specified by its identifier.
      operationId: user_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the user to update. A value
          of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateParameters'
        description: Update parameters.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: The user details were successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: |-
            *** Error Responses: ***

             * 405 Administrator user cannot be modified

             * 4XX Error response giving details why the operation failed.
      tags:
      - Users
      x-ms-examples:
        ApiManagementUpdateUserBasic:
          parameters:
            If-Match: '*'
            api-version: 2017-03-01
            parameters:
              properties:
                email: foobar@outlook.com
                firstName: foo
                lastName: bar
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            uid: 5931a75ae4bbd512288c680b
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.users_controller
    put:
      description: Creates or Updates a user.
      operationId: user_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateParameters'
        description: Create or update parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserContract'
          description: User was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserContract'
          description: User was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-ms-examples:
        ApiManagementCreateUserBasic:
          parameters:
            api-version: 2017-03-01
            parameters:
              properties:
                confirmation: signup
                email: foobar@outlook.com
                firstName: foo
                lastName: bar
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            uid: 5931a75ae4bbd512288c680b
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/5931a75ae4bbd512288c680b
                name: 5931a75ae4bbd512288c680b
                properties:
                  email: foobar@outlook.com
                  firstName: foo
                  groups: []
                  identities:
                  - id: foobar@outlook.com
                    provider: Basic
                  lastName: bar
                  registrationDate: 2018-01-07T21:21:29.16Z
                  state: active
                type: Microsoft.ApiManagement/service/users
            "201":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/5931a75ae4bbd512288c680b
                name: 5931a75ae4bbd512288c680b
                properties:
                  email: foobar@outlook.com
                  firstName: foo
                  groups: []
                  identities:
                  - id: foobar@outlook.com
                    provider: Basic
                  lastName: bar
                  registrationDate: 2018-01-07T21:21:29.16Z
                  state: active
                type: Microsoft.ApiManagement/service/users
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.users_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{uid}/generateSsoUrl
  : post:
      description: Retrieves a redirection URL containing an authentication token
        for signing a given user into the developer portal.
      operationId: user_generate_sso_url
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateSsoUrlResult'
          description: The response body contains the single sign-on URL.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-ms-examples:
        ApiManagementUsersGenerateSsoUrl:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            uid: 57127d485157a511ace86ae7
          responses:
            "200":
              body:
                value: https://apimService1.portal.azure-api.net/signin-sso?token=57127d485157a511ace86ae7%26201706051624%267VY18MlwAom***********2bYr2bDQHg21OzQsNakExQ%3d%3d
      x-openapi-router-controller: openapi_server.controllers.users_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{uid}/groups
  : get:
      description: Lists all user groups.
      operationId: user_group_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field       | Supported operators    | Supported functions                         |
          |-------------|------------------------|---------------------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroup_List_200_response'
          description: Lists a collection of Group entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - UserGroups
      x-ms-examples:
        ApiManagementListUserGroups:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            uid: 57681833a40f7eb6c49f6acf
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/57681833a40f7eb6c49f6acf/groups/5600b57e7e8880006a020002
                  name: 5600b57e7e8880006a020002
                  properties:
                    builtIn: true
                    description: Developers is a built-in group. Its membership is
                      managed by the system. Signed-in users fall into this group.
                    displayName: Developers
                    type: system
                  type: Microsoft.ApiManagement/service/users/groups
      x-ms-odata: ./apimgroups.json#/definitions/GroupContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.user_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{uid}/identities
  : get:
      description: Lists all user identities.
      operationId: user_identities_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentityCollection'
          description: Lists of User Identities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - UserIdentities
      x-ms-examples:
        ApiManagementListUsersIdentities:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            uid: 57f2af53bb17172280f44057
          responses:
            "200":
              body:
                count: 1
                nextLink: ""
                value:
                - id: 086cf9********55ab
                  provider: Microsoft
      x-openapi-router-controller: openapi_server.controllers.user_identities_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{uid}/subscriptions
  : get:
      description: Lists the collection of subscriptions of the specified user.
      operationId: user_subscription_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field        | Supported operators    | Supported functions                         |
          |--------------|------------------------|---------------------------------------------|
          | id           | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | name         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | stateComment | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | userId       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | productId    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | state        | eq                     |                                             |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSubscription_List_200_response'
          description: Lists a collection of Subscription entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - UserSubscriptions
      x-ms-examples:
        ApiManagementListUserSubscriptions:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            uid: 57681833a40f7eb6c49f6acf
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/57681833a40f7eb6c49f6acf/subscriptions/57681850a40f7eb6c49f6ae3
                  name: 57681850a40f7eb6c49f6ae3
                  properties:
                    createdDate: 2016-06-20T16:22:39.547Z
                    displayName: 57681850a40f7eb6c49f6ae5
                    primaryKey: 57681850a40f7eb6c49f6ae4
                    productId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5768181ea40f7eb6c49f6ac7
                    secondaryKey: bbd884a96b3c41b49f34422dac74b345
                    startDate: 2016-06-20T00:00:00Z
                    state: active
                    userId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/57681833a40f7eb6c49f6acf
                  type: Microsoft.ApiManagement/service/users/subscriptions
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/57681833a40f7eb6c49f6acf/subscriptions/57681850a40f7eb6c49f6b2b
                  name: 57681850a40f7eb6c49f6b2b
                  properties:
                    createdDate: 2016-06-20T16:22:41.103Z
                    displayName: 57681850a40f7eb6c49f6b2d
                    primaryKey: 57681850a40f7eb6c49f6b2c
                    productId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5768181ea40f7eb6c49f6ac7
                    secondaryKey: 125f565d276647dc825d7f25ea40ee57
                    startDate: 2016-06-20T00:00:00Z
                    state: active
                    userId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/57681833a40f7eb6c49f6acf
                  type: Microsoft.ApiManagement/service/users/subscriptions
      x-ms-odata: ./apimsubscriptions.json#/definitions/SubscriptionContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.user_subscriptions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{uid}/token
  : post:
      description: Gets the Shared Access Authorization Token for the User.
      operationId: user_get_shared_access_token
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTokenParameters'
        description: Create Authorization Token parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTokenResult'
          description: The response body contains the authorization token for the
            user.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-ms-examples:
        ApiManagementUsersGetToken:
          parameters:
            api-version: 2017-03-01
            parameters:
              expiry: 2017-05-13T10:39:35Z
              keyType: primary
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            uid: 57f2af53bb17172280f44057
          responses:
            "200":
              body:
                value: 57f2af53bb17172280f44057&201705131039&***************************/tJVExvjA==
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.users_controller
components:
  parameters:
    UserIdParameter:
      description: User identifier. Must be unique in the current API Management service
        instance.
      in: path
      name: uid
      required: true
      schema:
        maxLength: 256
        minLength: 1
        pattern: "^[^*#&+:<>?]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    GenerateSsoUrlResult:
      description: Generate SSO Url operations response details.
      example:
        value: value
      properties:
        value:
          description: Redirect Url containing the SSO URL value.
          title: value
          type: string
      title: GenerateSsoUrlResult
      type: object
    UserCollection:
      description: Paged Users list representation.
      example:
        value:
        - properties:
            firstName: firstName
            lastName: lastName
            registrationDate: 2000-01-23T04:56:07.000+00:00
            groups:
            - "{}"
            - "{}"
            email: email
        - properties:
            firstName: firstName
            lastName: lastName
            registrationDate: 2000-01-23T04:56:07.000+00:00
            groups:
            - "{}"
            - "{}"
            email: email
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/UserContract'
          title: value
          type: array
      title: UserCollection
      type: object
    UserContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: User details.
      example:
        properties:
          firstName: firstName
          lastName: lastName
          registrationDate: 2000-01-23T04:56:07.000+00:00
          groups:
          - "{}"
          - "{}"
          email: email
      properties:
        properties:
          $ref: '#/components/schemas/UserContractProperties'
      title: UserContract
    UserContractProperties:
      allOf:
      - $ref: '#/components/schemas/UserEntityBaseParameters'
      description: User profile.
      example:
        firstName: firstName
        lastName: lastName
        registrationDate: 2000-01-23T04:56:07.000+00:00
        groups:
        - "{}"
        - "{}"
        email: email
      properties:
        email:
          description: Email address.
          title: email
          type: string
        firstName:
          description: First name.
          title: firstName
          type: string
        groups:
          description: Collection of groups user is part of.
          items:
            description: Contract details.
            properties:
              properties:
                description: Group contract Properties.
                properties:
                  builtIn:
                    description: "true if the group is one of the three system groups\
                      \ (Administrators, Developers, or Guests); otherwise false."
                    readOnly: true
                    type: boolean
                  description:
                    description: Group description. Can contain HTML formatting tags.
                    maxLength: 1000
                    type: string
                  displayName:
                    description: Group name.
                    maxLength: 300
                    minLength: 1
                    type: string
                  externalId:
                    description: "For external groups, this property contains the\
                      \ id of the group from the external identity provider, e.g.\
                      \ for Azure Active Directory aad://<tenant>.onmicrosoft.com/groups/<group\
                      \ object id>; otherwise the value is null."
                    type: string
                  type:
                    description: Group type.
                    enum:
                    - custom
                    - system
                    - external
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: GroupType
                required:
                - displayName
                type: object
            type: object
          readOnly: true
          title: groups
          type: array
        lastName:
          description: Last name.
          title: lastName
          type: string
        registrationDate:
          description: |
            Date of user registration. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: registrationDate
          type: string
      title: UserContractProperties
    UserCreateParameterProperties:
      allOf:
      - $ref: '#/components/schemas/UserEntityBaseParameters'
      description: Parameters supplied to the Create User operation.
      example:
        firstName: firstName
        lastName: lastName
        password: password
        confirmation: signup
        email: email
      properties:
        confirmation:
          description: Determines the type of confirmation e-mail that will be sent
            to the newly created user.
          enum:
          - signup
          - invite
          title: confirmation
          type: string
          x-ms-enum:
            modelAsString: true
            name: Confirmation
            values:
            - description: Send an e-mail to the user confirming they have successfully
                signed up.
              value: signup
            - description: Send an e-mail inviting the user to sign-up and complete
                registration.
              value: invite
        email:
          description: Email address. Must not be empty and must be unique within
            the service instance.
          maxLength: 254
          minLength: 1
          title: email
          type: string
        firstName:
          description: First name.
          maxLength: 100
          minLength: 1
          title: firstName
          type: string
        lastName:
          description: Last name.
          maxLength: 100
          minLength: 1
          title: lastName
          type: string
        password:
          description: "User Password. If no value is provided, a default password\
            \ is generated."
          title: password
          type: string
      required:
      - email
      - firstName
      - lastName
      title: UserCreateParameterProperties
    UserCreateParameters:
      description: User create details.
      example:
        properties:
          firstName: firstName
          lastName: lastName
          password: password
          confirmation: signup
          email: email
      properties:
        properties:
          $ref: '#/components/schemas/UserCreateParameterProperties'
      title: UserCreateParameters
      type: object
    UserEntityBaseParameters:
      description: User Entity Base Parameters set.
      properties:
        identities:
          description: Collection of user identities.
          items:
            $ref: '#/components/schemas/UserIdentityContract'
          readOnly: true
          title: identities
          type: array
        note:
          description: Optional note about a user set by the administrator.
          title: note
          type: string
        state:
          default: active
          description: Account state. Specifies whether the user is active or not.
            Blocked users are unable to sign into the developer portal or call any
            APIs of subscribed products. Default state is Active.
          enum:
          - active
          - blocked
          - pending
          - deleted
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: UserState
            values:
            - description: User state is active.
              value: active
            - description: User is blocked. Blocked users cannot authenticate at developer
                portal or call API.
              value: blocked
            - description: User account is pending. Requires identity confirmation
                before it can be made active.
              value: pending
            - description: User account is closed. All identities and related entities
                are removed.
              value: deleted
      title: UserEntityBaseParameters
      type: object
    UserIdentityCollection:
      description: List of Users Identity list representation.
      example:
        count: 0
        value:
        - provider: provider
          id: id
        - provider: provider
          id: id
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          title: count
          type: integer
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: User Identity values.
          items:
            $ref: '#/components/schemas/UserIdentityContract'
          title: value
          type: array
      title: UserIdentityCollection
      type: object
    UserIdentityContract:
      description: User identity details.
      example:
        provider: provider
        id: id
      properties:
        id:
          description: Identifier value within provider.
          title: id
          type: string
        provider:
          description: Identity provider name.
          title: provider
          type: string
      title: UserIdentityContract
      type: object
    UserTokenParameters:
      description: Parameters supplied to the Get User Token operation.
      example:
        expiry: 2000-01-23T04:56:07.000+00:00
        keyType: primary
      properties:
        expiry:
          description: |
            The Expiry time of the Token. Maximum token expiry time is set to 30 days. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: expiry
          type: string
        keyType:
          default: primary
          description: The Key to be used to generate token for user.
          enum:
          - primary
          - secondary
          title: keyType
          type: string
          x-ms-enum:
            modelAsString: false
            name: KeyType
      required:
      - expiry
      - keyType
      title: UserTokenParameters
      type: object
    UserTokenResult:
      description: Get User Token response details.
      example:
        value: value
      properties:
        value:
          description: Shared Access Authorization token for the User.
          title: value
          type: string
      title: UserTokenResult
      type: object
    UserUpdateParameters:
      description: User update parameters.
      example:
        properties:
          firstName: firstName
          lastName: lastName
          password: password
          email: email
      properties:
        properties:
          $ref: '#/components/schemas/UserUpdateParametersProperties'
      title: UserUpdateParameters
      type: object
    UserUpdateParametersProperties:
      allOf:
      - $ref: '#/components/schemas/UserEntityBaseParameters'
      description: Parameters supplied to the Update User operation.
      example:
        firstName: firstName
        lastName: lastName
        password: password
        email: email
      properties:
        email:
          description: Email address. Must not be empty and must be unique within
            the service instance.
          maxLength: 254
          minLength: 1
          title: email
          type: string
        firstName:
          description: First name.
          maxLength: 100
          minLength: 1
          title: firstName
          type: string
        lastName:
          description: Last name.
          maxLength: 100
          minLength: 1
          title: lastName
          type: string
        password:
          description: User Password.
          title: password
          type: string
      title: UserUpdateParametersProperties
    User_ListByService_default_response_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: User_ListByService_default_response_details_inner
      type: object
    User_ListByService_default_response:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/User_ListByService_default_response_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: User_ListByService_default_response
      type: object
    UserGroup_List_200_response_value_inner_properties:
      description: Group contract Properties.
      example:
        displayName: displayName
        builtIn: true
        description: description
        externalId: externalId
        type: custom
      properties:
        builtIn:
          description: "true if the group is one of the three system groups (Administrators,\
            \ Developers, or Guests); otherwise false."
          readOnly: true
          title: builtIn
          type: boolean
        description:
          description: Group description. Can contain HTML formatting tags.
          maxLength: 1000
          title: description
          type: string
        displayName:
          description: Group name.
          maxLength: 300
          minLength: 1
          title: displayName
          type: string
        externalId:
          description: "For external groups, this property contains the id of the\
            \ group from the external identity provider, e.g. for Azure Active Directory\
            \ aad://<tenant>.onmicrosoft.com/groups/<group object id>; otherwise the\
            \ value is null."
          title: externalId
          type: string
        type:
          description: Group type.
          enum:
          - custom
          - system
          - external
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: GroupType
      required:
      - displayName
      title: UserGroup_List_200_response_value_inner_properties
      type: object
    UserGroup_List_200_response_value_inner:
      description: Contract details.
      example:
        properties:
          displayName: displayName
          builtIn: true
          description: description
          externalId: externalId
          type: custom
      properties:
        properties:
          $ref: '#/components/schemas/UserGroup_List_200_response_value_inner_properties'
      title: UserGroup_List_200_response_value_inner
      type: object
    UserGroup_List_200_response:
      description: Paged Group list representation.
      example:
        value:
        - properties:
            displayName: displayName
            builtIn: true
            description: description
            externalId: externalId
            type: custom
        - properties:
            displayName: displayName
            builtIn: true
            description: description
            externalId: externalId
            type: custom
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/UserGroup_List_200_response_value_inner'
          title: value
          type: array
      title: UserGroup_List_200_response
      type: object
    UserSubscription_List_200_response_value_inner_properties:
      description: Subscription details.
      example:
        createdDate: 2000-01-23T04:56:07.000+00:00
        productId: productId
        secondaryKey: secondaryKey
        endDate: 2000-01-23T04:56:07.000+00:00
        displayName: displayName
        stateComment: stateComment
        state: suspended
        userId: userId
        startDate: 2000-01-23T04:56:07.000+00:00
        expirationDate: 2000-01-23T04:56:07.000+00:00
        notificationDate: 2000-01-23T04:56:07.000+00:00
        primaryKey: primaryKey
      properties:
        createdDate:
          description: |
            Subscription creation date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          readOnly: true
          title: createdDate
          type: string
        displayName:
          description: "The name of the subscription, or null if the subscription\
            \ has no name."
          maxLength: 100
          minLength: 0
          title: displayName
          type: string
        endDate:
          description: |
            Date when subscription was cancelled or expired. The setting is for audit purposes only and the subscription is not automatically cancelled. The subscription lifecycle can be managed by using the `state` property. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: endDate
          type: string
        expirationDate:
          description: |
            Subscription expiration date. The setting is for audit purposes only and the subscription is not automatically expired. The subscription lifecycle can be managed by using the `state` property. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: expirationDate
          type: string
        notificationDate:
          description: |
            Upcoming subscription expiration notification date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: notificationDate
          type: string
        primaryKey:
          description: Subscription primary key.
          maxLength: 256
          minLength: 1
          title: primaryKey
          type: string
        productId:
          description: "The product resource identifier of the subscribed product.\
            \ The value is a valid relative URL in the format of /products/{productId}\
            \ where {productId} is a product identifier."
          title: productId
          type: string
        secondaryKey:
          description: Subscription secondary key.
          maxLength: 256
          minLength: 1
          title: secondaryKey
          type: string
        startDate:
          description: |
            Subscription activation date. The setting is for audit purposes only and the subscription is not automatically activated. The subscription lifecycle can be managed by using the `state` property. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: startDate
          type: string
        state:
          description: "Subscription state. Possible states are * active – the subscription\
            \ is active, * suspended – the subscription is blocked, and the subscriber\
            \ cannot call any APIs of the product, * submitted – the subscription\
            \ request has been made by the developer, but has not yet been approved\
            \ or rejected, * rejected – the subscription request has been denied by\
            \ an administrator, * cancelled – the subscription has been cancelled\
            \ by the developer or administrator, * expired – the subscription reached\
            \ its expiration date and was deactivated."
          enum:
          - suspended
          - active
          - expired
          - submitted
          - rejected
          - cancelled
          title: state
          type: string
          x-ms-enum:
            modelAsString: false
            name: SubscriptionState
        stateComment:
          description: Optional subscription comment added by an administrator.
          title: stateComment
          type: string
        userId:
          description: "The user resource identifier of the subscription owner. The\
            \ value is a valid relative URL in the format of /users/{uid} where {uid}\
            \ is a user identifier."
          title: userId
          type: string
      required:
      - primaryKey
      - productId
      - secondaryKey
      - state
      - userId
      title: UserSubscription_List_200_response_value_inner_properties
      type: object
    UserSubscription_List_200_response_value_inner:
      description: Subscription details.
      example:
        properties:
          createdDate: 2000-01-23T04:56:07.000+00:00
          productId: productId
          secondaryKey: secondaryKey
          endDate: 2000-01-23T04:56:07.000+00:00
          displayName: displayName
          stateComment: stateComment
          state: suspended
          userId: userId
          startDate: 2000-01-23T04:56:07.000+00:00
          expirationDate: 2000-01-23T04:56:07.000+00:00
          notificationDate: 2000-01-23T04:56:07.000+00:00
          primaryKey: primaryKey
      properties:
        properties:
          $ref: '#/components/schemas/UserSubscription_List_200_response_value_inner_properties'
      title: UserSubscription_List_200_response_value_inner
      type: object
    UserSubscription_List_200_response:
      description: Paged Subscriptions list representation.
      example:
        value:
        - properties:
            createdDate: 2000-01-23T04:56:07.000+00:00
            productId: productId
            secondaryKey: secondaryKey
            endDate: 2000-01-23T04:56:07.000+00:00
            displayName: displayName
            stateComment: stateComment
            state: suspended
            userId: userId
            startDate: 2000-01-23T04:56:07.000+00:00
            expirationDate: 2000-01-23T04:56:07.000+00:00
            notificationDate: 2000-01-23T04:56:07.000+00:00
            primaryKey: primaryKey
        - properties:
            createdDate: 2000-01-23T04:56:07.000+00:00
            productId: productId
            secondaryKey: secondaryKey
            endDate: 2000-01-23T04:56:07.000+00:00
            displayName: displayName
            stateComment: stateComment
            state: suspended
            userId: userId
            startDate: 2000-01-23T04:56:07.000+00:00
            expirationDate: 2000-01-23T04:56:07.000+00:00
            notificationDate: 2000-01-23T04:56:07.000+00:00
            primaryKey: primaryKey
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/UserSubscription_List_200_response_value_inner'
          title: value
          type: array
      title: UserSubscription_List_200_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
