openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on API entity and their
    Operations associated with your Azure API Management deployment.
  title: ApiManagementClient
  version: 2016-10-10
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimapis.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimapis
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis:
    get:
      description: Lists all APIs of the API Management service instance.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/dn781423.aspx
      operationId: apis_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field       | Supported operators    | Supported functions               |
          |-------------|------------------------|-----------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | name        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | description | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | path        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCollection'
          description: Paged Result response of Apis.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Apis
      x-ms-odata: '#/definitions/ApiContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.apis_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}
  : delete:
      description: Deletes the specified API of the API Management service instance.
      operationId: apis_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the API Entity. ETag should match the current entity
          state from the header response of the GET request or it should be * for
          unconditional update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The API was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Apis
      x-openapi-router-controller: openapi_server.controllers.apis_controller
    get:
      description: Gets the details of the API specified by its identifier.
      operationId: apis_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContract'
            application/vnd.sun.wadl+xml:
              schema:
                $ref: '#/components/schemas/ApiContract'
            application/vnd.swagger.doc+json:
              schema:
                $ref: '#/components/schemas/ApiContract'
            application/wsdl+xml:
              schema:
                $ref: '#/components/schemas/ApiContract'
          description: The response body contains the specified API entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
            application/vnd.sun.wadl+xml:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
            application/vnd.swagger.doc+json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
            application/wsdl+xml:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Apis
      x-openapi-router-controller: openapi_server.controllers.apis_controller
    patch:
      description: Updates the specified API of the API Management service instance.
      operationId: apis_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the API entity. ETag should match the current entity
          state in the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiUpdateContract'
        description: API Update Contract parameters.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: The API was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Apis
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.apis_controller
    put:
      description: Creates new or updates existing specified API of the API Management
        service instance.
      operationId: apis_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Api Entity. For Create Api Etag should not be specified.
          For Update Etag should match the existing Entity or it can be * for unconditional
          update.
        in: header
        name: If-Match
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContract'
        description: Create or update parameters.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content: {}
          description: API was successfully created.
        "204":
          content: {}
          description: API was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Apis
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.apis_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations
  : get:
      description: Lists a collection of the operations for the specified API.
      operationId: api_operations_list_by_apis
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field       | Supported operators    | Supported functions               |
          |-------------|------------------------|-----------------------------------|
          | name        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | method      | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | description | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | urlTemplate | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationCollection'
          description: A collection of operation summary entities at the API level.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-odata: '#/definitions/OperationContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}
  : delete:
      description: Deletes the specified operation.
      operationId: api_operations_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Operation identifier within an API. Must be unique in the current
          API Management service instance.
        in: path
        name: operation_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the API Operation Entity. ETag should match the current
          entity state from the header response of the GET request or it should be
          * for unconditional update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The operation was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-openapi-router-controller: openapi_server.controllers.operations_controller
    get:
      description: Gets the details of the API Operation specified by its identifier.
      operationId: api_operations_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Operation identifier within an API. Must be unique in the current
          API Management service instance.
        in: path
        name: operationId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationContract'
          description: The response body contains the specified Operation entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-openapi-router-controller: openapi_server.controllers.operations_controller
    patch:
      description: Updates the details of the operation specified by its identifier.
      operationId: api_operations_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Operation identifier within an API. Must be unique in the current
          API Management service instance.
        in: path
        name: operation_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the API Operation Entity. ETag should match the current
          entity state from the header response of the GET request or it should be
          * for unconditional update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationUpdateContract'
        description: API Operation Update parameters.
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: The operation was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.operations_controller
    put:
      description: Creates a new API operation or updates an existing one.
      operationId: api_operations_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Operation identifier within an API. Must be unique in the current
          API Management service instance.
        in: path
        name: operation_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationContract'
        description: Create parameters.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content: {}
          description: Operation was successfully created.
        "204":
          content: {}
          description: Operation was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}/policy
  : delete:
      description: Deletes the policy configuration at the Api Operation.
      operationId: api_operations_policy_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Operation identifier within an API. Must be unique in the current
          API Management service instance.
        in: path
        name: operation_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the Api operation policy to
          update. A value of "*" can be used for If-Match to unconditionally apply
          the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Successfully deleted the policy configuration at the API Operation
            level.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiOperationsPolicy
      x-openapi-router-controller: openapi_server.controllers.api_operations_policy_controller
    get:
      description: Get the policy configuration at the API Operation level.
      operationId: api_operations_policy_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Operation identifier within an API. Must be unique in the current
          API Management service instance.
        in: path
        name: operation_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.ms-azure-apim.policy+xml:
              schema:
                format: binary
                type: string
          description: Api Operation Policy information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
      tags:
      - ApiOperationsPolicy
      x-openapi-router-controller: openapi_server.controllers.api_operations_policy_controller
    put:
      description: Creates or updates policy configuration for the API Operation level.
      operationId: api_operations_policy_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Operation identifier within an API. Must be unique in the current
          API Management service instance.
        in: path
        name: operation_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the Api Operation policy to
          update. A value of "*" can be used for If-Match to unconditionally apply
          the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.ms-azure-apim.policy+xml:
            schema:
              format: file
              type: object
        description: The policy contents to apply.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content: {}
          description: Api Operation policy configuration was successfully created.
        "204":
          content: {}
          description: Api Operation policy configuration of the tenant was successfully
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiOperationsPolicy
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_operations_policy_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/policy
  : delete:
      description: Deletes the policy configuration at the Api.
      operationId: api_policy_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the Api policy to update.
          A value of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Successfully deleted the policy configuration at the API level.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiPolicy
      x-openapi-router-controller: openapi_server.controllers.api_policy_controller
    get:
      description: Get the policy configuration at the API level.
      operationId: api_policy_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.ms-azure-apim.policy+xml:
              schema:
                format: binary
                type: string
          description: Api Policy information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
      tags:
      - ApiPolicy
      x-openapi-router-controller: openapi_server.controllers.api_policy_controller
    put:
      description: Creates or updates policy configuration for the API.
      operationId: api_policy_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the Api Policy to update.
          A value of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.ms-azure-apim.policy+xml:
            schema:
              format: file
              type: object
        description: The policy contents to apply.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content: {}
          description: Api policy configuration was successfully created.
        "204":
          content: {}
          description: Api policy configuration of the tenant was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiPolicy
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.api_policy_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/products
  : get:
      description: Lists all API associated products.
      operationId: api_products_list_by_apis
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: api_id
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field | Supported operators    | Supported functions                         |
          |-------|------------------------|---------------------------------------------|
          | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiProducts_ListByApis_200_response'
          description: The operation returns a collection of products which have the
            Api entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apis_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiProducts
      x-ms-odata: ./apimproducts.json#/definitions/ProductContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.api_products_controller
components:
  parameters:
    ApiIdParameter:
      description: API identifier. Must be unique in the current API Management service
        instance.
      in: path
      name: apiId
      required: true
      schema:
        maxLength: 256
        minLength: 1
        pattern: "^[^*#&+:<>?]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    OperationIdParameter:
      description: Operation identifier within an API. Must be unique in the current
        API Management service instance.
      in: path
      name: operationId
      required: true
      schema:
        maxLength: 256
        minLength: 1
        pattern: "^[^*#&+:<>?]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ApiCollection:
      description: Paged Api list representation.
      example:
        count: 0
        value:
        - path: path
          name: name
          serviceUrl: serviceUrl
          id: id
          protocols:
          - Http
          - Http
        - path: path
          name: name
          serviceUrl: serviceUrl
          id: id
          protocols:
          - Http
          - Http
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          title: count
          type: integer
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/ApiContract'
          title: value
          type: array
      title: ApiCollection
      type: object
    ApiContract:
      allOf:
      - $ref: '#/components/schemas/ApiEntityBaseContract'
      description: API details.
      example:
        path: path
        name: name
        serviceUrl: serviceUrl
        id: id
        protocols:
        - Http
        - Http
      properties:
        id:
          description: "API identifier path: /apis/{apiId}"
          readOnly: true
          title: id
          type: string
        name:
          description: API name.
          maxLength: 300
          minLength: 1
          title: name
          type: string
        path:
          description: Relative URL uniquely identifying this API and all of its resource
            paths within the API Management service instance. It is appended to the
            API endpoint base URL specified during the service instance creation to
            form a public URL for this API.
          maxLength: 400
          minLength: 0
          title: path
          type: string
        protocols:
          description: Describes on which protocols the operations in this API can
            be invoked.
          items:
            enum:
            - Http
            - Https
            type: string
            x-ms-enum:
              modelAsString: false
              name: ApiProtocolContract
          title: protocols
          type: array
        serviceUrl:
          description: Absolute URL of the backend service implementing this API.
          maxLength: 2000
          minLength: 1
          title: serviceUrl
          type: string
      required:
      - name
      - path
      - protocols
      - serviceUrl
      title: ApiContract
    ApiEntityBaseContract:
      description: API base contract details.
      properties:
        authenticationSettings:
          $ref: '#/components/schemas/AuthenticationSettingsContract'
        description:
          description: Description of the API. May include HTML formatting tags.
          title: description
          type: string
        subscriptionKeyParameterNames:
          $ref: '#/components/schemas/SubscriptionKeyParameterNamesContract'
        type:
          description: Type of API.
          enum:
          - Http
          - Soap
          title: type
          type: string
          x-ms-enum:
            modelAsString: false
            name: ApiTypeContract
      title: ApiEntityBaseContract
      type: object
    ApiExportResult:
      description: The response model for the export API output operation.
      properties:
        content:
          description: Response content bytes.
          format: byte
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          type: string
        requestId:
          type: string
        statusCode:
          enum:
          - Continue
          - OK
          - Created
          - Accepted
          - NotFound
          - Conflict
          type: string
          x-ms-enum:
            modelAsString: false
            name: HttpStatusCode
      type: object
    ApiUpdateContract:
      allOf:
      - $ref: '#/components/schemas/ApiEntityBaseContract'
      description: API Update Contract details.
      example:
        path: path
        name: name
        serviceUrl: serviceUrl
        id: id
        protocols:
        - Http
        - Http
      properties:
        id:
          description: "API identifier path: /apis/{apiId}"
          readOnly: true
          title: id
          type: string
        name:
          description: API name.
          maxLength: 300
          minLength: 1
          title: name
          type: string
        path:
          description: Relative URL uniquely identifying this API and all of its resource
            paths within the API Management service instance. It is appended to the
            API endpoint base URL specified during the service instance creation to
            form a public URL for this API.
          maxLength: 400
          minLength: 0
          title: path
          type: string
        protocols:
          description: Describes on which protocols the operations in this API can
            be invoked.
          items:
            enum:
            - Http
            - Https
            type: string
            x-ms-enum:
              modelAsString: false
              name: ApiProtocolContract
          title: protocols
          type: array
        serviceUrl:
          description: Absolute URL of the backend service implementing this API.
          maxLength: 2000
          minLength: 1
          title: serviceUrl
          type: string
      title: ApiUpdateContract
    AuthenticationSettingsContract:
      description: API Authentication Settings.
      properties:
        oAuth2:
          $ref: '#/components/schemas/OAuth2AuthenticationSettingsContract'
      title: AuthenticationSettingsContract
      type: object
    OAuth2AuthenticationSettingsContract:
      description: API OAuth2 Authentication settings details.
      properties:
        authorizationServerId:
          description: OAuth authorization server identifier.
          title: authorizationServerId
          type: string
        scope:
          description: operations scope.
          title: scope
          type: string
      title: OAuth2AuthenticationSettingsContract
      type: object
    OperationCollection:
      description: Paged Operation list representation.
      example:
        count: 0
        value:
        - method: method
          urlTemplate: urlTemplate
          name: name
          id: id
        - method: method
          urlTemplate: urlTemplate
          name: name
          id: id
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          title: count
          type: integer
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/OperationContract'
          title: value
          type: array
      title: OperationCollection
      type: object
    OperationContract:
      allOf:
      - $ref: '#/components/schemas/OperationEntityBaseContract'
      description: Api Operation details.
      example:
        method: method
        urlTemplate: urlTemplate
        name: name
        id: id
      properties:
        id:
          description: "Uniquely identifies the operation within the current API Management\
            \ service instance. The value is a valid relative URL in the format of\
            \ /apis/{aid}/operations/{id} where {aid} is an API identifier and {id}\
            \ is an operation identifier."
          readOnly: true
          title: id
          type: string
        method:
          description: "A Valid HTTP Operation Method. Typical Http Methods like GET,\
            \ PUT, POST but not limited by only them."
          title: method
          type: string
        name:
          description: Operation Name.
          maxLength: 300
          minLength: 1
          title: name
          type: string
        urlTemplate:
          description: "Relative URL template identifying the target resource for\
            \ this operation. May include parameters. Example: /customers/{cid}/orders/{oid}/?date={date}"
          maxLength: 1000
          minLength: 1
          title: urlTemplate
          type: string
      required:
      - method
      - name
      - urlTemplate
      title: OperationContract
    OperationEntityBaseContract:
      description: Api Operation Entity Base Contract details.
      properties:
        description:
          description: Description of the operation. May include HTML formatting tags.
          maxLength: 1000
          title: description
          type: string
        request:
          $ref: '#/components/schemas/RequestContract'
        responses:
          description: Array of Operation responses.
          items:
            $ref: '#/components/schemas/ResultContract'
          title: responses
          type: array
        templateParameters:
          description: Collection of URL template parameters.
          items:
            $ref: '#/components/schemas/ParameterContract'
          title: templateParameters
          type: array
      title: OperationEntityBaseContract
      type: object
    OperationUpdateContract:
      allOf:
      - $ref: '#/components/schemas/OperationEntityBaseContract'
      description: Api Operation Update Contract details.
      example:
        method: method
        urlTemplate: urlTemplate
        name: name
        id: id
      properties:
        id:
          description: "Uniquely identifies the operation within the current API Management\
            \ service instance. The value is a valid relative URL in the format of\
            \ /apis/{aid}/operations/{id} where {aid} is an API identifier and {id}\
            \ is an operation identifier."
          readOnly: true
          title: id
          type: string
        method:
          description: "A Valid HTTP Operation Method. Typical Http Methods like GET,\
            \ PUT, POST but not limited by only them."
          title: method
          type: string
        name:
          description: Operation Name.
          maxLength: 300
          minLength: 1
          title: name
          type: string
        urlTemplate:
          description: "Relative URL template identifying the target resource for\
            \ this operation. May include parameters. Example: /customers/{cid}/orders/{oid}/?date={date}"
          maxLength: 1000
          minLength: 1
          title: urlTemplate
          type: string
      title: OperationUpdateContract
    ParameterContract:
      description: Operation parameters details.
      properties:
        defaultValue:
          description: Default parameter value.
          title: defaultValue
          type: string
        description:
          description: Parameter description.
          title: description
          type: string
        name:
          description: Parameter name.
          title: name
          type: string
        required:
          description: whether parameter is required or not.
          title: required
          type: boolean
        type:
          description: Parameter type.
          title: type
          type: string
        values:
          description: Parameter values.
          items:
            type: string
          title: values
          type: array
      required:
      - name
      - type
      title: ParameterContract
      type: object
    RepresentationContract:
      description: Operation request/response representation details.
      properties:
        contentType:
          description: "Specifies a registered or custom content type for this representation,\
            \ e.g. application/xml."
          title: contentType
          type: string
        sample:
          description: An example of the representation.
          title: sample
          type: string
      required:
      - contentType
      title: RepresentationContract
      type: object
    RequestContract:
      description: Operation request details.
      properties:
        description:
          description: Operation request description.
          title: description
          type: string
        headers:
          description: Collection of operation request headers.
          items:
            $ref: '#/components/schemas/ParameterContract'
          title: headers
          type: array
        queryParameters:
          description: Collection of operation request query parameters.
          items:
            $ref: '#/components/schemas/ParameterContract'
          title: queryParameters
          type: array
        representations:
          description: Collection of operation request representations.
          items:
            $ref: '#/components/schemas/RepresentationContract'
          title: representations
          type: array
      title: RequestContract
      type: object
    ResultContract:
      description: Operation response details.
      properties:
        description:
          description: Operation response description.
          title: description
          type: string
        representations:
          description: Collection of operation response representations.
          items:
            $ref: '#/components/schemas/RepresentationContract'
          title: representations
          type: array
        statusCode:
          description: Operation response HTTP status code.
          format: int32
          maximum: 599
          minimum: 100
          title: statusCode
          type: integer
      required:
      - statusCode
      title: ResultContract
      type: object
    SubscriptionKeyParameterNamesContract:
      description: Subscription key parameter names details.
      example:
        subscriptionKeyParameterNames:
          header: customHeaderParameterName
          query: customQueryParameterName
      properties:
        header:
          description: Subscription key header name.
          type: string
        query:
          description: Subscription key query string parameter name.
          type: string
      title: SubscriptionKeyParameterNamesContract
      type: object
    Apis_ListByService_default_response_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: Apis_ListByService_default_response_details_inner
      type: object
    Apis_ListByService_default_response:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Apis_ListByService_default_response_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: Apis_ListByService_default_response
      type: object
    ApiProducts_ListByApis_200_response_value_inner:
      description: Product profile.
      example:
        subscriptionsLimit: 6
        subscriptionRequired: true
        terms: terms
        approvalRequired: true
        name: name
        description: description
        id: id
        state: NotPublished
      properties:
        approvalRequired:
          description: "whether subscription approval is required. If\_false, new\
            \ subscriptions will be approved automatically enabling developers to\
            \ call the product’s APIs immediately after subscribing. If\_true, administrators\
            \ must manually approve the subscription before the developer can any\
            \ of the product’s APIs. Can be present only if subscriptionRequired property\
            \ is present and has a value of true."
          title: approvalRequired
          type: boolean
        description:
          description: Product description. May include HTML formatting tags.
          maxLength: 1000
          minLength: 1
          title: description
          type: string
        id:
          description: "Uniquely identifies the product within the current API Management\
            \ service instance. The value is a valid relative URL in the format of\
            \ /products/{productId} where {productId} is a product identifier."
          readOnly: true
          title: id
          type: string
        name:
          description: Product name.
          maxLength: 300
          minLength: 1
          title: name
          type: string
        state:
          default: NotPublished
          description: whether product is published or not. Published products are
            discoverable by users of developer portal. Non published products are
            visible only to administrators. Default state of Product is NotPublished.
          enum:
          - NotPublished
          - Published
          title: state
          type: string
          x-ms-enum:
            modelAsString: false
            name: ProductStateContract
        subscriptionRequired:
          default: true
          description: "Whether a product subscription is required for accessing APIs\
            \ included in this product. If true, the product is referred to as \"\
            protected\" and a valid subscription key is required for a request to\
            \ an API included in the product to succeed. If false, the product is\
            \ referred to as \"open\" and requests to an API included in the product\
            \ can be made without a subscription key. If property is omitted when\
            \ creating a new product it's value is assumed to be true."
          title: subscriptionRequired
          type: boolean
        subscriptionsLimit:
          description: Whether the number of subscriptions a user can have to this
            product at the same time. Set to null or omit to allow unlimited per user
            subscriptions. Can be present only if subscriptionRequired property is
            present and has a value of true.
          format: int32
          title: subscriptionsLimit
          type: integer
        terms:
          description: Product terms of use. Developers trying to subscribe to the
            product will be presented and required to accept these terms before they
            can complete the subscription process.
          title: terms
          type: string
      required:
      - name
      title: ApiProducts_ListByApis_200_response_value_inner
      type: object
    ApiProducts_ListByApis_200_response:
      description: Paged Products list representation.
      example:
        count: 0
        value:
        - subscriptionsLimit: 6
          subscriptionRequired: true
          terms: terms
          approvalRequired: true
          name: name
          description: description
          id: id
          state: NotPublished
        - subscriptionsLimit: 6
          subscriptionRequired: true
          terms: terms
          approvalRequired: true
          name: name
          description: description
          id: id
          state: NotPublished
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          title: count
          type: integer
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/ApiProducts_ListByApis_200_response_value_inner'
          title: value
          type: array
      title: ApiProducts_ListByApis_200_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-ms-paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}?export=true
  : get:
      description: Gets the details of the API specified by its identifier.
      operationId: ApiExport_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/ApiIdParameter'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        "200":
          description: The response contains a stream with a full set of API metadata
            and includes API entity with an embedded array of operation entities.
          schema:
            $ref: '#/definitions/ApiExportResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status
                  for the HTTP error code specified in the response.
                type: string
              details:
                description: "The list of invalid fields send in request, in case\
                  \ of validation error."
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level
                        error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
      - Apis
x-original-swagger-version: "2.0"
