

# ValidationResult

Describes the validation that failed.

## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**code** | **String** | Error code intended for logging and debugging. |  |
|**field** | **String** | Name of the field that has failed to validate. Intended to aid developers in finding and fixing implementation mistakes. |  [optional] |
|**message** | **String** | Error message in English intended to aid developers in finding and solving implementation mistakes. Do not display to your guests as it **might contain sensitive implementation information**. |  |



