openapi: 3.0.0
info:
  contact:
    name: Contact Us
    url: https://developer.tomtom.com/contact-us
    x-twitter: TomTom
  description: |-
    Routing consists of the following service:
    <b>Calculate Route</b>
    Calculates a route between an origin and a destination, passing through waypoints (if specified). Additional routing parameters like traffic, avoidance conditions, departure/arrival time etc. can be taken into account.
    <b>Calculate Reachable Range</b>
    Calculates a set of locations that can be reached from the origin point, subject to the available fuel or energy budget that is specified in the request.
  title: Routing
  version: 1.0.0
  x-apisguru-categories:
  - location
  x-logo:
    url: https://twitter.com/TomTom/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: openapi
    url: https://developer.tomtom.com/system/files/swagger_models/routing_api.yaml
    version: "3.0"
  x-providerName: tomtom.com
  x-serviceName: routing
servers:
- url: https://api.tomtom.com
security:
- api_key: []
paths:
  /routing/{versionNumber}/calculateReachableRange/{origin}/{contentType}:
    get:
      description: Calculates a set of locations that can be reached from the origin
        point.
      operationId: routing_version_number_calculate_reachable_range_origin_content_type_get
      parameters:
      - description: Service version number. The current value is 1.
        explode: false
        in: path
        name: versionNumber
        required: true
        schema:
          enum:
          - 1
          type: integer
        style: simple
      - description: Point from which the range calculation should start.
        example: "52.50931,13.42936"
        explode: false
        in: path
        name: origin
        required: true
        schema:
          type: string
        style: simple
      - description: "The content type of the response structure. If the content type\
          \ is jsonp, a callback method can be specified in the query parameters."
        explode: false
        in: path
        name: contentType
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          - jsonp
          type: string
        style: simple
      - description: Fuel budget in liters. Determines the maximum vehicle range using
          the specified Combustion Consumption Model.
        explode: true
        in: query
        name: fuelBudgetInLiters
        required: false
        schema:
          format: float
          minimum: 0
          type: number
        style: form
      - description: Electric energy budget in kilowatt hours (kWh). Determines the
          maximum vehicle range using the specified Electric Consumption Model.
        example: 43
        explode: true
        in: query
        name: energyBudgetInkWh
        required: false
        schema:
          format: float
          minimum: 0
          type: number
        style: form
      - description: "Time budget in seconds. Determines the maximum vehicle range\
          \ using the specified driving time. The consumption parameters in the request\
          \ will only affect eco-routes, and thereby indirectly the driving time."
        explode: true
        in: query
        name: timeBudgetInSec
        required: false
        schema:
          format: float
          minimum: 0
          type: number
        style: form
      - description: Specifies the jsonp callback method.
        explode: true
        in: query
        name: callback
        required: false
        schema:
          default: callback
          type: string
        style: form
      - description: Specifies which data should be reported for diagnosis purposes.
        explode: true
        in: query
        name: report
        required: false
        schema:
          enum:
          - effectiveSettings
          type: string
        style: form
      - description: The date and time of departure from the origin point. Departure
          times apart from <i>now</i> must be specified as a dateTime.
        explode: true
        in: query
        name: departAt
        required: false
        schema:
          default: now
          type: string
        style: form
      - description: The date and time of arrival at the destination point. It must
          be specified as a dateTime.
        explode: true
        in: query
        name: arriveAt
        required: false
        schema:
          format: dateTime
          type: string
        style: form
      - description: The type of route requested.
        explode: true
        in: query
        name: routeType
        required: false
        schema:
          default: fastest
          enum:
          - fastest
          - shortest
          - eco
          - thrilling
          type: string
        style: form
      - description: Determines whether current traffic is used in route calculations.
          Note that information on historic road speeds is always used.
        explode: true
        in: query
        name: traffic
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |-
          Specifies whether the routing engine should try to avoid specific types of road segment when calculating the route. Can be specified multiple times.
          Possible values:
            - tollRoads
            - motorways
            - ferries
            - unpavedRoads
            - carpools
        example: unpavedRoads
        explode: true
        in: query
        name: avoid
        required: false
        schema:
          type: string
        style: form
      - description: The mode of travel for the requested route.
        explode: true
        in: query
        name: travelMode
        required: false
        schema:
          default: car
          enum:
          - car
          - truck
          - taxi
          - bus
          - van
          - motorcycle
          - bicycle
          - pedestrian
          type: string
        style: form
      - description: Degree of hilliness for calculating a thrilling route.
        explode: true
        in: query
        name: hilliness
        required: false
        schema:
          default: normal
          enum:
          - low
          - normal
          - high
          type: string
        style: form
      - description: Amount that a thrilling route should wind.
        explode: true
        in: query
        name: windingness
        required: false
        schema:
          default: normal
          enum:
          - low
          - normal
          - high
          type: string
        style: form
      - description: Maximum speed of the vehicle in km/hour.
        explode: true
        in: query
        name: vehicleMaxSpeed
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Weight of the vehicle in kilograms.
        explode: true
        in: query
        name: vehicleWeight
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Weight per axle of the vehicle in kg.
        explode: true
        in: query
        name: vehicleAxleWeight
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Length of the vehicle in meters.
        explode: true
        in: query
        name: vehicleLength
        required: false
        schema:
          default: 0
          format: float
          type: number
        style: form
      - description: Width of the vehicle in meters.
        explode: true
        in: query
        name: vehicleWidth
        required: false
        schema:
          default: 0
          format: float
          type: number
        style: form
      - description: Height of the vehicle in meters.
        explode: true
        in: query
        name: vehicleHeight
        required: false
        schema:
          default: 0
          format: float
          type: number
        style: form
      - description: Indicates that the vehicle is used for commercial purposes. This
          means it may not be allowed on certain roads.
        explode: true
        in: query
        name: vehicleCommercial
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |-
          Indicates what kinds of hazardous materials the vehicle is carrying (if any). This means it may not be allowed on certain roads.
          Use these for routing in the US:

            - <i>USHazmatClass1</i> Explosives
            - <i>USHazmatClass2</i> Compressed gas
            - <i>USHazmatClass3</i> Flammable liquids
            - <i>USHazmatClass4</i> Flammable solids
            - <i>USHazmatClass5</i> Oxidizers
            - <i>USHazmatClass6</i> Poisons
            - <i>USHazmatClass7</i> Radioactive
            - <i>USHazmatClass8</i> Corrosives
            - <i>USHazmatClass9</i> Miscellaneous

          Use these for routing in all other countries:

            - <i>otherHazmatExplosive</i> Explosives
            - <i>otherHazmatGeneral</i> Miscellaneous
            - <i>otherHazmatHarmfulToWater</i> Harmful to water

          vehicleLoadType can be specified multiple times. This parameter is currently only considered for <b>travelMode</b>=<i>truck</i>.
        explode: true
        in: query
        name: vehicleLoadType
        required: false
        schema:
          type: string
        style: form
      - description: Specifies the speed-dependent component of consumption. Provided
          as an unordered list of speed/consumption-rate pairs.
        explode: true
        in: query
        name: constantSpeedConsumptionInLitersPerHundredkm
        required: false
        schema:
          pattern: "^((\\d+\\.?\\d*,\\d+\\.?\\d*):?)+$"
          type: string
        style: form
      - description: Specifies the current supply of fuel in liters.
        explode: true
        in: query
        name: currentFuelInLiters
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "Specifies the amount of fuel consumed for sustaining auxiliary\
          \ systems of the vehicle, in liters per hour."
        explode: true
        in: query
        name: auxiliaryPowerInLitersPerHour
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the amount of chemical energy stored in one liter of
          fuel in megajoules (MJ).
        explode: true
        in: query
        name: fuelEnergyDensityInMJoulesPerLiter
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting chemical energy stored
          in fuel to kinetic energy when the vehicle accelerates (i.e. KineticEnergyGained/ChemicalEnergyConsumed).
        explode: true
        in: query
        name: accelerationEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting kinetic energy to saved
          (not consumed) fuel when the vehicle decelerates (i.e. ChemicalEnergySaved/KineticEnergyLost).
        explode: true
        in: query
        name: decelerationEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting chemical energy stored
          in fuel to potential energy when the vehicle gains elevation (i.e. PotentialEnergyGained/ChemicalEnergyConsumed).
        explode: true
        in: query
        name: uphillEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting potential energy to saved
          (not consumed) fuel when the vehicle loses elevation (i.e. ChemicalEnergySaved/PotentialEnergyLost).
        explode: true
        in: query
        name: downhillEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Engine type of the vehicle.
        example: electric
        explode: true
        in: query
        name: vehicleEngineType
        required: false
        schema:
          default: combustion
          enum:
          - combustion
          - electric
          type: string
        style: form
      - description: Specifies the speed-dependent component of consumption. Provided
          as an unordered list of speed/consumption-rate pairs.
        example: "50,8.2:130,21.3"
        explode: true
        in: query
        name: constantSpeedConsumptionInkWhPerHundredkm
        required: false
        schema:
          pattern: "^((\\d+\\.?\\d*,\\d+\\.?\\d*):?)+$"
          type: string
        style: form
      responses:
        "200":
          description: "OK: a range was calculated and the body of the response contains\
            \ the polygon description and further data."
        "400":
          description: "Bad request: one or more parameters were incorrectly specified\
            \ or are mutually exclusive, or the origin point specified in the request\
            \ is not near enough to a road."
        "403":
          description: |-
            Permission, capacity, or authentication issues:
              - Forbidden
              - Not authorized
              - Account inactive
              - Account over queries per second limit
              - Account over rate limit
              - Rate limit exceeded
        "404":
          description: "Not Found: the requested resource could not be found, but\
            \ it may be available again in the future."
        "405":
          description: "Method Not Allowed: the client used a HTTP method other than\
            \ GET or POST."
        "408":
          description: Request timeout.
        "414":
          description: Requested uri is too long.
        "500":
          description: An error occurred while processing the request. Please try
            again later.
        "502":
          description: Internal network connectivity issue.
        "503":
          description: Service currently unavailable.
        "504":
          description: Internal network connectivity issue or a request that has taken
            too long to complete.
        "596":
          description: Service not found.
      summary: Reachable Range
      tags:
      - Routing
      x-openapi-router-controller: openapi_server.controllers.routing_controller
    post:
      description: "Calculates a set of locations that can be reached from the origin\
        \ point. POST method handles additionally parameters: <em>supportingPoints</em>,\
        \ <em>allowVignette</em>, <em>avoidVignette</em>, <em>avoidAreas</em>."
      operationId: routing_version_number_calculate_reachable_range_origin_content_type_post
      parameters:
      - description: Service version number. The current value is 1.
        explode: false
        in: path
        name: versionNumber
        required: true
        schema:
          enum:
          - 1
          type: integer
        style: simple
      - description: Point from which the range calculation should start.
        example: "52.50931,13.42936"
        explode: false
        in: path
        name: origin
        required: true
        schema:
          type: string
        style: simple
      - description: "The content type of the response structure. If the content type\
          \ is jsonp, a callback method can be specified in the query parameters."
        explode: false
        in: path
        name: contentType
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          - jsonp
          type: string
        style: simple
      - description: Fuel budget in liters. Determines the maximum vehicle range using
          the specified Combustion Consumption Model.
        explode: true
        in: query
        name: fuelBudgetInLiters
        required: false
        schema:
          format: float
          minimum: 0
          type: number
        style: form
      - description: Electric energy budget in kilowatt hours (kWh). Determines the
          maximum vehicle range using the specified Electric Consumption Model.
        example: 43
        explode: true
        in: query
        name: energyBudgetInkWh
        required: false
        schema:
          format: float
          minimum: 0
          type: number
        style: form
      - description: "Time budget in seconds. Determines the maximum vehicle range\
          \ using the specified driving time. The consumption parameters in the request\
          \ will only affect eco-routes, and thereby indirectly the driving time."
        explode: true
        in: query
        name: timeBudgetInSec
        required: false
        schema:
          format: float
          minimum: 0
          type: number
        style: form
      - description: Specifies the jsonp callback method.
        explode: true
        in: query
        name: callback
        required: false
        schema:
          default: callback
          type: string
        style: form
      - description: Specifies which data should be reported for diagnosis purposes.
        explode: true
        in: query
        name: report
        required: false
        schema:
          enum:
          - effectiveSettings
          type: string
        style: form
      - description: The date and time of departure from the origin point. Departure
          times apart from <i>now</i> must be specified as a dateTime.
        explode: true
        in: query
        name: departAt
        required: false
        schema:
          default: now
          type: string
        style: form
      - description: The date and time of arrival at the destination point. It must
          be specified as a dateTime.
        explode: true
        in: query
        name: arriveAt
        required: false
        schema:
          format: dateTime
          type: string
        style: form
      - description: The type of route requested.
        explode: true
        in: query
        name: routeType
        required: false
        schema:
          default: fastest
          enum:
          - fastest
          - shortest
          - eco
          - thrilling
          type: string
        style: form
      - description: Determines whether current traffic is used in route calculations.
          Note that information on historic road speeds is always used.
        explode: true
        in: query
        name: traffic
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |-
          Specifies whether the routing engine should try to avoid specific types of road segment when calculating the route. Can be specified multiple times.
          Possible values:
            - tollRoads
            - motorways
            - ferries
            - unpavedRoads
            - carpools
        example: unpavedRoads
        explode: true
        in: query
        name: avoid
        required: false
        schema:
          type: string
        style: form
      - description: The mode of travel for the requested route.
        explode: true
        in: query
        name: travelMode
        required: false
        schema:
          default: car
          enum:
          - car
          - truck
          - taxi
          - bus
          - van
          - motorcycle
          - bicycle
          - pedestrian
          type: string
        style: form
      - description: Degree of hilliness for calculating a thrilling route.
        explode: true
        in: query
        name: hilliness
        required: false
        schema:
          default: normal
          enum:
          - low
          - normal
          - high
          type: string
        style: form
      - description: Amount that a thrilling route should wind.
        explode: true
        in: query
        name: windingness
        required: false
        schema:
          default: normal
          enum:
          - low
          - normal
          - high
          type: string
        style: form
      - description: Maximum speed of the vehicle in km/hour.
        explode: true
        in: query
        name: vehicleMaxSpeed
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Weight of the vehicle in kilograms.
        explode: true
        in: query
        name: vehicleWeight
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Weight per axle of the vehicle in kg.
        explode: true
        in: query
        name: vehicleAxleWeight
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Length of the vehicle in meters.
        explode: true
        in: query
        name: vehicleLength
        required: false
        schema:
          default: 0
          format: float
          type: number
        style: form
      - description: Width of the vehicle in meters.
        explode: true
        in: query
        name: vehicleWidth
        required: false
        schema:
          default: 0
          format: float
          type: number
        style: form
      - description: Height of the vehicle in meters.
        explode: true
        in: query
        name: vehicleHeight
        required: false
        schema:
          default: 0
          format: float
          type: number
        style: form
      - description: Indicates that the vehicle is used for commercial purposes. This
          means it may not be allowed on certain roads.
        explode: true
        in: query
        name: vehicleCommercial
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |-
          Indicates what kinds of hazardous materials the vehicle is carrying (if any). This means it may not be allowed on certain roads.
          Use these for routing in the US:

            - <i>USHazmatClass1</i> Explosives
            - <i>USHazmatClass2</i> Compressed gas
            - <i>USHazmatClass3</i> Flammable liquids
            - <i>USHazmatClass4</i> Flammable solids
            - <i>USHazmatClass5</i> Oxidizers
            - <i>USHazmatClass6</i> Poisons
            - <i>USHazmatClass7</i> Radioactive
            - <i>USHazmatClass8</i> Corrosives
            - <i>USHazmatClass9</i> Miscellaneous

          Use these for routing in all other countries:

            - <i>otherHazmatExplosive</i> Explosives
            - <i>otherHazmatGeneral</i> Miscellaneous
            - <i>otherHazmatHarmfulToWater</i> Harmful to water

          vehicleLoadType can be specified multiple times. This parameter is currently only considered for <b>travelMode</b>=<i>truck</i>.
        explode: true
        in: query
        name: vehicleLoadType
        required: false
        schema:
          type: string
        style: form
      - description: Specifies the speed-dependent component of consumption. Provided
          as an unordered list of speed/consumption-rate pairs.
        explode: true
        in: query
        name: constantSpeedConsumptionInLitersPerHundredkm
        required: false
        schema:
          pattern: "^((\\d+\\.?\\d*,\\d+\\.?\\d*):?)+$"
          type: string
        style: form
      - description: Specifies the current supply of fuel in liters.
        explode: true
        in: query
        name: currentFuelInLiters
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "Specifies the amount of fuel consumed for sustaining auxiliary\
          \ systems of the vehicle, in liters per hour."
        explode: true
        in: query
        name: auxiliaryPowerInLitersPerHour
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the amount of chemical energy stored in one liter of
          fuel in megajoules (MJ).
        explode: true
        in: query
        name: fuelEnergyDensityInMJoulesPerLiter
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting chemical energy stored
          in fuel to kinetic energy when the vehicle accelerates (i.e. KineticEnergyGained/ChemicalEnergyConsumed).
        explode: true
        in: query
        name: accelerationEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting kinetic energy to saved
          (not consumed) fuel when the vehicle decelerates (i.e. ChemicalEnergySaved/KineticEnergyLost).
        explode: true
        in: query
        name: decelerationEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting chemical energy stored
          in fuel to potential energy when the vehicle gains elevation (i.e. PotentialEnergyGained/ChemicalEnergyConsumed).
        explode: true
        in: query
        name: uphillEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting potential energy to saved
          (not consumed) fuel when the vehicle loses elevation (i.e. ChemicalEnergySaved/PotentialEnergyLost).
        explode: true
        in: query
        name: downhillEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Engine type of the vehicle.
        example: electric
        explode: true
        in: query
        name: vehicleEngineType
        required: false
        schema:
          default: combustion
          enum:
          - combustion
          - electric
          type: string
        style: form
      - description: Specifies the speed-dependent component of consumption. Provided
          as an unordered list of speed/consumption-rate pairs.
        example: "50,8.2:130,21.3"
        explode: true
        in: query
        name: constantSpeedConsumptionInkWhPerHundredkm
        required: false
        schema:
          pattern: "^((\\d+\\.?\\d*,\\d+\\.?\\d*):?)+$"
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/calculateReachableRangePostDataParameters'
          application/xml:
            schema:
              $ref: '#/components/schemas/calculateReachableRangePostDataParameters'
        x-body-name: body
      responses:
        "200":
          description: "OK: a range was calculated and the body of the response contains\
            \ the polygon description and further data."
        "400":
          description: "Bad request: one or more parameters were incorrectly specified\
            \ or are mutually exclusive, or the origin point specified in the request\
            \ is not near enough to a road."
        "403":
          description: |-
            Permission, capacity, or authentication issues:
              - Forbidden
              - Not authorized
              - Account inactive
              - Account over queries per second limit
              - Account over rate limit
              - Rate limit exceeded
        "404":
          description: "Not Found: the requested resource could not be found, but\
            \ it may be available again in the future."
        "405":
          description: "Method Not Allowed: the client used a HTTP method other than\
            \ GET or POST."
        "408":
          description: Request timeout.
        "414":
          description: Requested uri is too long.
        "500":
          description: An error occurred while processing the request. Please try
            again later.
        "502":
          description: Internal network connectivity issue.
        "503":
          description: Service currently unavailable.
        "504":
          description: Internal network connectivity issue or a request that has taken
            too long to complete.
        "596":
          description: Service not found.
      summary: Reachable Range
      tags:
      - Routing
      x-openapi-router-controller: openapi_server.controllers.routing_controller
      x-codegen-request-body-name: body
  /routing/{versionNumber}/calculateRoute/{locations}/{contentType}:
    get:
      description: Calculates a route between an origin and a destination.
      operationId: routing_version_number_calculate_route_locations_content_type_get
      parameters:
      - description: Service version number. The current value is 1.
        explode: false
        in: path
        name: versionNumber
        required: true
        schema:
          enum:
          - 1
          type: integer
        style: simple
      - description: Locations through which the calculated route must pass.
        example: "52.50931,13.42936:52.50274,13.43872"
        explode: false
        in: path
        name: locations
        required: true
        schema:
          type: string
        style: simple
      - description: "The content type of the response structure. If the content type\
          \ is jsonp, a callback method can be specified in the query parameters."
        explode: false
        in: path
        name: contentType
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          - jsonp
          type: string
        style: simple
      - description: Number of alternative routes to be calculated.
        explode: true
        in: query
        name: maxAlternatives
        required: false
        schema:
          default: 0
          maximum: 5
          minimum: 0
          type: integer
        style: form
      - description: Determines whether the alternative routes to be calculated should
          be better with respect to the planning criteria provided than the reference
          route.
        explode: true
        in: query
        name: alternativeType
        required: false
        schema:
          default: anyRoute
          enum:
          - anyRoute
          - betterRoute
          type: string
        style: form
      - description: All alternative routes will follow the reference route for the
          specified minimum number of meters starting from the origin point.
        explode: true
        in: query
        name: minDeviationDistance
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: All alternative routes will follow the reference route for the
          specified minimum number of seconds starting from the origin point.
        explode: true
        in: query
        name: minDeviationTime
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: "If specified, guidance instructions will be returned (if available)."
        explode: true
        in: query
        name: instructionsType
        required: false
        schema:
          enum:
          - coded
          - text
          - tagged
          type: string
        style: form
      - description: The language parameter determines the language of the guidance
          messages.
        explode: true
        in: query
        name: language
        required: false
        schema:
          default: en-GB
          type: string
        style: form
      - description: Re-order the route waypoints to reduce the route length.
        explode: true
        in: query
        name: computeBestOrder
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Specifies the representation of the set of routes provided as
          a response.
        explode: true
        in: query
        name: routeRepresentation
        required: false
        schema:
          default: polyline
          enum:
          - polyline
          - none
          type: string
        style: form
      - description: "Specifies whether to return additional travel times using different\
          \ types of traffic information (none, historic, live) as well as the default\
          \ best-estimate travel time."
        explode: true
        in: query
        name: computeTravelTimeFor
        required: false
        schema:
          default: none
          enum:
          - none
          - all
          type: string
        style: form
      - description: "The directional heading of the vehicle in degrees. Entered in\
          \ degrees, measured clockwise from north (so north is 0, east is 90, etc.)."
        explode: true
        in: query
        name: vehicleHeading
        required: false
        schema:
          maximum: 359
          minimum: 0
          type: integer
        style: form
      - description: |-
          Specifies which section types are explicitly reported in the route response. Can be specified multiple times.
            - carTrain, ferry, tunnel or motorway
            - pedestrian
            - tollRoad
            - tollVignette
            - country
            - travelMode
            - traffic
        explode: true
        in: query
        name: sectionType
        required: false
        schema:
          default: travelMode
          type: string
        style: form
      - description: Specifies the jsonp callback method.
        explode: true
        in: query
        name: callback
        required: false
        schema:
          default: callback
          type: string
        style: form
      - description: Specifies which data should be reported for diagnosis purposes.
        explode: true
        in: query
        name: report
        required: false
        schema:
          enum:
          - effectiveSettings
          type: string
        style: form
      - description: The date and time of departure from the origin point. Departure
          times apart from <i>now</i> must be specified as a dateTime.
        explode: true
        in: query
        name: departAt
        required: false
        schema:
          default: now
          type: string
        style: form
      - description: The date and time of arrival at the destination point. It must
          be specified as a dateTime.
        explode: true
        in: query
        name: arriveAt
        required: false
        schema:
          format: dateTime
          type: string
        style: form
      - description: The type of route requested.
        explode: true
        in: query
        name: routeType
        required: false
        schema:
          default: fastest
          enum:
          - fastest
          - shortest
          - eco
          - thrilling
          type: string
        style: form
      - description: Determines whether current traffic is used in route calculations.
          Note that information on historic road speeds is always used.
        explode: true
        in: query
        name: traffic
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |-
          Specifies whether the routing engine should try to avoid specific types of road segment when calculating the route. Can be specified multiple times.
          Possible values:
            - tollRoads
            - motorways
            - ferries
            - unpavedRoads
            - carpools
            - alreadyUsedRoads
        example: unpavedRoads
        explode: true
        in: query
        name: avoid
        required: false
        schema:
          type: string
        style: form
      - description: The mode of travel for the requested route.
        explode: true
        in: query
        name: travelMode
        required: false
        schema:
          default: car
          enum:
          - car
          - truck
          - taxi
          - bus
          - van
          - motorcycle
          - bicycle
          - pedestrian
          type: string
        style: form
      - description: Degree of hilliness for calculating a thrilling route.
        explode: true
        in: query
        name: hilliness
        required: false
        schema:
          default: normal
          enum:
          - low
          - normal
          - high
          type: string
        style: form
      - description: Amount that a thrilling route should wind.
        explode: true
        in: query
        name: windingness
        required: false
        schema:
          default: normal
          enum:
          - low
          - normal
          - high
          type: string
        style: form
      - description: Maximum speed of the vehicle in km/hour.
        explode: true
        in: query
        name: vehicleMaxSpeed
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Weight of the vehicle in kilograms.
        explode: true
        in: query
        name: vehicleWeight
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Weight per axle of the vehicle in kg.
        explode: true
        in: query
        name: vehicleAxleWeight
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Length of the vehicle in meters.
        explode: true
        in: query
        name: vehicleLength
        required: false
        schema:
          default: 0
          format: float
          type: number
        style: form
      - description: Width of the vehicle in meters.
        explode: true
        in: query
        name: vehicleWidth
        required: false
        schema:
          default: 0
          format: float
          type: number
        style: form
      - description: Height of the vehicle in meters.
        explode: true
        in: query
        name: vehicleHeight
        required: false
        schema:
          default: 0
          format: float
          type: number
        style: form
      - description: Indicates that the vehicle is used for commercial purposes. This
          means it may not be allowed on certain roads.
        explode: true
        in: query
        name: vehicleCommercial
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |-
          Indicates what kinds of hazardous materials the vehicle is carrying (if any). This means it may not be allowed on certain roads.
          Use these for routing in the US:

            - <i>USHazmatClass1</i> Explosives
            - <i>USHazmatClass2</i> Compressed gas
            - <i>USHazmatClass3</i> Flammable liquids
            - <i>USHazmatClass4</i> Flammable solids
            - <i>USHazmatClass5</i> Oxidizers
            - <i>USHazmatClass6</i> Poisons
            - <i>USHazmatClass7</i> Radioactive
            - <i>USHazmatClass8</i> Corrosives
            - <i>USHazmatClass9</i> Miscellaneous

          Use these for routing in all other countries:

            - <i>otherHazmatExplosive</i> Explosives
            - <i>otherHazmatGeneral</i> Miscellaneous
            - <i>otherHazmatHarmfulToWater</i> Harmful to water

          vehicleLoadType can be specified multiple times. This parameter is currently only considered for <b>travelMode</b>=<i>truck</i>.
        explode: true
        in: query
        name: vehicleLoadType
        required: false
        schema:
          type: string
        style: form
      - description: Engine type of the vehicle.
        explode: true
        in: query
        name: vehicleEngineType
        required: false
        schema:
          default: combustion
          enum:
          - combustion
          - electric
          type: string
        style: form
      - description: Specifies the speed-dependent component of consumption. Provided
          as an unordered list of speed/consumption-rate pairs.
        explode: true
        in: query
        name: constantSpeedConsumptionInLitersPerHundredkm
        required: false
        schema:
          pattern: "^((\\d+\\.?\\d*,\\d+\\.?\\d*):?)+$"
          type: string
        style: form
      - description: Specifies the current supply of fuel in liters.
        explode: true
        in: query
        name: currentFuelInLiters
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "Specifies the amount of fuel consumed for sustaining auxiliary\
          \ systems of the vehicle, in liters per hour."
        explode: true
        in: query
        name: auxiliaryPowerInLitersPerHour
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the amount of chemical energy stored in one liter of
          fuel in megajoules (MJ).
        explode: true
        in: query
        name: fuelEnergyDensityInMJoulesPerLiter
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting chemical energy stored
          in fuel to kinetic energy when the vehicle accelerates (i.e. KineticEnergyGained/ChemicalEnergyConsumed).
        explode: true
        in: query
        name: accelerationEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting kinetic energy to saved
          (not consumed) fuel when the vehicle decelerates (i.e. ChemicalEnergySaved/KineticEnergyLost).
        explode: true
        in: query
        name: decelerationEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting chemical energy stored
          in fuel to potential energy when the vehicle gains elevation (i.e. PotentialEnergyGained/ChemicalEnergyConsumed).
        explode: true
        in: query
        name: uphillEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting potential energy to saved
          (not consumed) fuel when the vehicle loses elevation (i.e. ChemicalEnergySaved/PotentialEnergyLost).
        explode: true
        in: query
        name: downhillEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the speed-dependent component of consumption. Provided
          as an unordered list of speed/consumption-rate pairs.
        explode: true
        in: query
        name: constantSpeedConsumptionInkWhPerHundredkm
        required: false
        schema:
          pattern: "^((\\d+\\.?\\d*,\\d+\\.?\\d*):?)+$"
          type: string
        style: form
      responses:
        "200":
          description: "OK: a route was calculated and the body of the response contains\
            \ the route description and any other requested data."
        "400":
          description: "Bad request: one or more parameters were incorrectly specified,\
            \ are mutually exclusive, the points in the request are not connected\
            \ by the road network or the points in the request are not near enough\
            \ to a road."
        "403":
          description: |-
            Permission, capacity, or authentication issues:
              - Forbidden
              - Not authorized
              - Account inactive
              - Account over queries per second limit
              - Account over rate limit
              - Rate limit exceeded
        "404":
          description: "Not Found: the requested resource could not be found, but\
            \ it may be available again in the future."
        "405":
          description: "Method Not Allowed: the client used a HTTP method other than\
            \ GET or POST."
        "408":
          description: Request timeout.
        "414":
          description: Requested uri is too long.
        "500":
          description: An error occurred while processing the request. Please try
            again later.
        "502":
          description: Internal network connectivity issue.
        "503":
          description: Service currently unavailable.
        "504":
          description: Internal network connectivity issue or a request that has taken
            too long to complete.
        "596":
          description: Service not found.
      summary: Calculate Route
      tags:
      - Routing
      x-openapi-router-controller: openapi_server.controllers.routing_controller
    post:
      description: "Calculates a route between an origin and a destination. POST method\
        \ handles additionally parameters: <em>supportingPoints</em>, <em>allowVignette</em>,\
        \ <em>avoidVignette</em>, <em>avoidAreas</em>."
      operationId: routing_version_number_calculate_route_locations_content_type_post
      parameters:
      - description: Service version number. The current value is 1.
        explode: false
        in: path
        name: versionNumber
        required: true
        schema:
          enum:
          - 1
          type: integer
        style: simple
      - description: Locations through which the calculated route must pass.
        example: "52.50931,13.42936:52.50274,13.43872"
        explode: false
        in: path
        name: locations
        required: true
        schema:
          type: string
        style: simple
      - description: "The content type of the response structure. If the content type\
          \ is jsonp, a callback method can be specified in the query parameters."
        explode: false
        in: path
        name: contentType
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          - jsonp
          type: string
        style: simple
      - description: Number of alternative routes to be calculated.
        explode: true
        in: query
        name: maxAlternatives
        required: false
        schema:
          default: 0
          maximum: 5
          minimum: 0
          type: integer
        style: form
      - description: Determines whether the alternative routes to be calculated should
          be better with respect to the planning criteria provided than the reference
          route.
        explode: true
        in: query
        name: alternativeType
        required: false
        schema:
          default: anyRoute
          enum:
          - anyRoute
          - betterRoute
          type: string
        style: form
      - description: All alternative routes will follow the reference route for the
          specified minimum number of meters starting from the origin point.
        explode: true
        in: query
        name: minDeviationDistance
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: All alternative routes will follow the reference route for the
          specified minimum number of seconds starting from the origin point.
        explode: true
        in: query
        name: minDeviationTime
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: "If specified, guidance instructions will be returned (if available)."
        explode: true
        in: query
        name: instructionsType
        required: false
        schema:
          enum:
          - coded
          - text
          - tagged
          type: string
        style: form
      - description: The language parameter determines the language of the guidance
          messages.
        explode: true
        in: query
        name: language
        required: false
        schema:
          default: en-GB
          type: string
        style: form
      - description: Re-order the route waypoints to reduce the route length.
        explode: true
        in: query
        name: computeBestOrder
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Specifies the representation of the set of routes provided as
          a response.
        explode: true
        in: query
        name: routeRepresentation
        required: false
        schema:
          default: polyline
          enum:
          - polyline
          - none
          type: string
        style: form
      - description: "Specifies whether to return additional travel times using different\
          \ types of traffic information (none, historic, live) as well as the default\
          \ best-estimate travel time."
        explode: true
        in: query
        name: computeTravelTimeFor
        required: false
        schema:
          default: none
          enum:
          - none
          - all
          type: string
        style: form
      - description: "The directional heading of the vehicle in degrees. Entered in\
          \ degrees, measured clockwise from north (so north is 0, east is 90, etc.)."
        explode: true
        in: query
        name: vehicleHeading
        required: false
        schema:
          maximum: 359
          minimum: 0
          type: integer
        style: form
      - description: |-
          Specifies which section types are explicitly reported in the route response. Can be specified multiple times.
            - carTrain, ferry, tunnel or motorway
            - pedestrian
            - tollRoad
            - tollVignette
            - country
            - travelMode
            - traffic
        explode: true
        in: query
        name: sectionType
        required: false
        schema:
          default: travelMode
          type: string
        style: form
      - description: Specifies the jsonp callback method.
        explode: true
        in: query
        name: callback
        required: false
        schema:
          default: callback
          type: string
        style: form
      - description: Specifies which data should be reported for diagnosis purposes.
        explode: true
        in: query
        name: report
        required: false
        schema:
          enum:
          - effectiveSettings
          type: string
        style: form
      - description: The date and time of departure from the origin point. Departure
          times apart from <i>now</i> must be specified as a dateTime.
        explode: true
        in: query
        name: departAt
        required: false
        schema:
          default: now
          type: string
        style: form
      - description: The date and time of arrival at the destination point. It must
          be specified as a dateTime.
        explode: true
        in: query
        name: arriveAt
        required: false
        schema:
          format: dateTime
          type: string
        style: form
      - description: The type of route requested.
        explode: true
        in: query
        name: routeType
        required: false
        schema:
          default: fastest
          enum:
          - fastest
          - shortest
          - eco
          - thrilling
          type: string
        style: form
      - description: Determines whether current traffic is used in route calculations.
          Note that information on historic road speeds is always used.
        explode: true
        in: query
        name: traffic
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |-
          Specifies whether the routing engine should try to avoid specific types of road segment when calculating the route. Can be specified multiple times.
          Possible values:
            - tollRoads
            - motorways
            - ferries
            - unpavedRoads
            - carpools
            - alreadyUsedRoads
        example: unpavedRoads
        explode: true
        in: query
        name: avoid
        required: false
        schema:
          type: string
        style: form
      - description: The mode of travel for the requested route.
        explode: true
        in: query
        name: travelMode
        required: false
        schema:
          default: car
          enum:
          - car
          - truck
          - taxi
          - bus
          - van
          - motorcycle
          - bicycle
          - pedestrian
          type: string
        style: form
      - description: Degree of hilliness for calculating a thrilling route.
        explode: true
        in: query
        name: hilliness
        required: false
        schema:
          default: normal
          enum:
          - low
          - normal
          - high
          type: string
        style: form
      - description: Amount that a thrilling route should wind.
        explode: true
        in: query
        name: windingness
        required: false
        schema:
          default: normal
          enum:
          - low
          - normal
          - high
          type: string
        style: form
      - description: Maximum speed of the vehicle in km/hour.
        explode: true
        in: query
        name: vehicleMaxSpeed
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Weight of the vehicle in kilograms.
        explode: true
        in: query
        name: vehicleWeight
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Weight per axle of the vehicle in kg.
        explode: true
        in: query
        name: vehicleAxleWeight
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Length of the vehicle in meters.
        explode: true
        in: query
        name: vehicleLength
        required: false
        schema:
          default: 0
          format: float
          type: number
        style: form
      - description: Width of the vehicle in meters.
        explode: true
        in: query
        name: vehicleWidth
        required: false
        schema:
          default: 0
          format: float
          type: number
        style: form
      - description: Height of the vehicle in meters.
        explode: true
        in: query
        name: vehicleHeight
        required: false
        schema:
          default: 0
          format: float
          type: number
        style: form
      - description: Indicates that the vehicle is used for commercial purposes. This
          means it may not be allowed on certain roads.
        explode: true
        in: query
        name: vehicleCommercial
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |-
          Indicates what kinds of hazardous materials the vehicle is carrying (if any). This means it may not be allowed on certain roads.
          Use these for routing in the US:

            - <i>USHazmatClass1</i> Explosives
            - <i>USHazmatClass2</i> Compressed gas
            - <i>USHazmatClass3</i> Flammable liquids
            - <i>USHazmatClass4</i> Flammable solids
            - <i>USHazmatClass5</i> Oxidizers
            - <i>USHazmatClass6</i> Poisons
            - <i>USHazmatClass7</i> Radioactive
            - <i>USHazmatClass8</i> Corrosives
            - <i>USHazmatClass9</i> Miscellaneous

          Use these for routing in all other countries:

            - <i>otherHazmatExplosive</i> Explosives
            - <i>otherHazmatGeneral</i> Miscellaneous
            - <i>otherHazmatHarmfulToWater</i> Harmful to water

          vehicleLoadType can be specified multiple times. This parameter is currently only considered for <b>travelMode</b>=<i>truck</i>.
        explode: true
        in: query
        name: vehicleLoadType
        required: false
        schema:
          type: string
        style: form
      - description: Engine type of the vehicle.
        explode: true
        in: query
        name: vehicleEngineType
        required: false
        schema:
          default: combustion
          enum:
          - combustion
          - electric
          type: string
        style: form
      - description: Specifies the speed-dependent component of consumption. Provided
          as an unordered list of speed/consumption-rate pairs.
        explode: true
        in: query
        name: constantSpeedConsumptionInLitersPerHundredkm
        required: false
        schema:
          pattern: "^((\\d+\\.?\\d*,\\d+\\.?\\d*):?)+$"
          type: string
        style: form
      - description: Specifies the current supply of fuel in liters.
        explode: true
        in: query
        name: currentFuelInLiters
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "Specifies the amount of fuel consumed for sustaining auxiliary\
          \ systems of the vehicle, in liters per hour."
        explode: true
        in: query
        name: auxiliaryPowerInLitersPerHour
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the amount of chemical energy stored in one liter of
          fuel in megajoules (MJ).
        explode: true
        in: query
        name: fuelEnergyDensityInMJoulesPerLiter
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting chemical energy stored
          in fuel to kinetic energy when the vehicle accelerates (i.e. KineticEnergyGained/ChemicalEnergyConsumed).
        explode: true
        in: query
        name: accelerationEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting kinetic energy to saved
          (not consumed) fuel when the vehicle decelerates (i.e. ChemicalEnergySaved/KineticEnergyLost).
        explode: true
        in: query
        name: decelerationEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting chemical energy stored
          in fuel to potential energy when the vehicle gains elevation (i.e. PotentialEnergyGained/ChemicalEnergyConsumed).
        explode: true
        in: query
        name: uphillEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the efficiency of converting potential energy to saved
          (not consumed) fuel when the vehicle loses elevation (i.e. ChemicalEnergySaved/PotentialEnergyLost).
        explode: true
        in: query
        name: downhillEfficiency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Specifies the speed-dependent component of consumption. Provided
          as an unordered list of speed/consumption-rate pairs.
        explode: true
        in: query
        name: constantSpeedConsumptionInkWhPerHundredkm
        required: false
        schema:
          pattern: "^((\\d+\\.?\\d*,\\d+\\.?\\d*):?)+$"
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/calculateRoutePostDataParameters'
          application/xml:
            schema:
              $ref: '#/components/schemas/calculateRoutePostDataParameters'
        x-body-name: body
      responses:
        "200":
          description: "OK: a route was calculated and the body of the response contains\
            \ the route description and any other requested data."
        "400":
          description: "Bad request: one or more parameters were incorrectly specified,\
            \ are mutually exclusive, the points in the request are not connected\
            \ by the road network or the points in the request are not near enough\
            \ to a road."
        "403":
          description: |-
            Permission, capacity, or authentication issues:
              - Forbidden
              - Not authorized
              - Account inactive
              - Account over queries per second limit
              - Account over rate limit
              - Rate limit exceeded
        "404":
          description: "Not Found: the requested resource could not be found, but\
            \ it may be available again in the future."
        "405":
          description: "Method Not Allowed: the client used a HTTP method other than\
            \ GET or POST."
        "408":
          description: Request timeout.
        "414":
          description: Requested uri is too long.
        "500":
          description: An error occurred while processing the request. Please try
            again later.
        "502":
          description: Internal network connectivity issue.
        "503":
          description: Service currently unavailable.
        "504":
          description: Internal network connectivity issue or a request that has taken
            too long to complete.
        "596":
          description: Service not found.
      summary: Calculate Route
      tags:
      - Routing
      x-openapi-router-controller: openapi_server.controllers.routing_controller
      x-codegen-request-body-name: body
components:
  parameters:
    accelerationEfficiency:
      description: Specifies the efficiency of converting chemical energy stored in
        fuel to kinetic energy when the vehicle accelerates (i.e. KineticEnergyGained/ChemicalEnergyConsumed).
      explode: true
      in: query
      name: accelerationEfficiency
      required: false
      schema:
        format: float
        type: number
      style: form
    alternativeType:
      description: Determines whether the alternative routes to be calculated should
        be better with respect to the planning criteria provided than the reference
        route.
      explode: true
      in: query
      name: alternativeType
      required: false
      schema:
        default: anyRoute
        enum:
        - anyRoute
        - betterRoute
        type: string
      style: form
    arriveAt:
      description: The date and time of arrival at the destination point. It must
        be specified as a dateTime.
      explode: true
      in: query
      name: arriveAt
      required: false
      schema:
        format: dateTime
        type: string
      style: form
    auxiliaryPowerInLitersPerHour:
      description: "Specifies the amount of fuel consumed for sustaining auxiliary\
        \ systems of the vehicle, in liters per hour."
      explode: true
      in: query
      name: auxiliaryPowerInLitersPerHour
      required: false
      schema:
        format: float
        type: number
      style: form
    auxiliaryPowerInkW:
      description: "Specifies the amount of power consumed by auxiliary systems, in\
        \ kilowatts (kW)."
      explode: true
      in: query
      name: auxiliaryPowerInkW
      required: false
      schema:
        format: float
        type: number
      style: form
    avoid:
      description: |-
        Specifies whether the routing engine should try to avoid specific types of road segment when calculating the route. Can be specified multiple times.
        Possible values:
          - tollRoads
          - motorways
          - ferries
          - unpavedRoads
          - carpools
          - alreadyUsedRoads
      example: unpavedRoads
      explode: true
      in: query
      name: avoid
      required: false
      schema:
        type: string
      style: form
    avoidInCalculateReachableRange:
      description: |-
        Specifies whether the routing engine should try to avoid specific types of road segment when calculating the route. Can be specified multiple times.
        Possible values:
          - tollRoads
          - motorways
          - ferries
          - unpavedRoads
          - carpools
      example: unpavedRoads
      explode: true
      in: query
      name: avoid
      required: false
      schema:
        type: string
      style: form
    callback:
      description: Specifies the jsonp callback method.
      explode: true
      in: query
      name: callback
      required: false
      schema:
        default: callback
        type: string
      style: form
    computeBestOrder:
      description: Re-order the route waypoints to reduce the route length.
      explode: true
      in: query
      name: computeBestOrder
      required: false
      schema:
        default: false
        type: boolean
      style: form
    computeTravelTimeFor:
      description: "Specifies whether to return additional travel times using different\
        \ types of traffic information (none, historic, live) as well as the default\
        \ best-estimate travel time."
      explode: true
      in: query
      name: computeTravelTimeFor
      required: false
      schema:
        default: none
        enum:
        - none
        - all
        type: string
      style: form
    constantSpeedConsumptionInLitersPerHundredkm:
      description: Specifies the speed-dependent component of consumption. Provided
        as an unordered list of speed/consumption-rate pairs.
      explode: true
      in: query
      name: constantSpeedConsumptionInLitersPerHundredkm
      required: false
      schema:
        pattern: "^((\\d+\\.?\\d*,\\d+\\.?\\d*):?)+$"
        type: string
      style: form
    constantSpeedConsumptionInkWhPerHundredkm:
      description: Specifies the speed-dependent component of consumption. Provided
        as an unordered list of speed/consumption-rate pairs.
      explode: true
      in: query
      name: constantSpeedConsumptionInkWhPerHundredkm
      required: false
      schema:
        pattern: "^((\\d+\\.?\\d*,\\d+\\.?\\d*):?)+$"
        type: string
      style: form
    contentType:
      description: "The content type of the response structure. If the content type\
        \ is jsonp, a callback method can be specified in the query parameters."
      explode: false
      in: path
      name: contentType
      required: true
      schema:
        default: xml
        enum:
        - xml
        - json
        - jsonp
        type: string
      style: simple
    currentChargeInkWh:
      description: Specifies the current electric energy supply in kilowatt hours
        (kWh).
      explode: true
      in: query
      name: currentChargeInkWh
      required: false
      schema:
        format: float
        minimum: 0
        type: number
      style: form
    currentFuelInLiters:
      description: Specifies the current supply of fuel in liters.
      explode: true
      in: query
      name: currentFuelInLiters
      required: false
      schema:
        format: float
        type: number
      style: form
    decelerationEfficiency:
      description: Specifies the efficiency of converting kinetic energy to saved
        (not consumed) fuel when the vehicle decelerates (i.e. ChemicalEnergySaved/KineticEnergyLost).
      explode: true
      in: query
      name: decelerationEfficiency
      required: false
      schema:
        format: float
        type: number
      style: form
    departAt:
      description: The date and time of departure from the origin point. Departure
        times apart from <i>now</i> must be specified as a dateTime.
      explode: true
      in: query
      name: departAt
      required: false
      schema:
        default: now
        type: string
      style: form
    downhillEfficiency:
      description: Specifies the efficiency of converting potential energy to saved
        (not consumed) fuel when the vehicle loses elevation (i.e. ChemicalEnergySaved/PotentialEnergyLost).
      explode: true
      in: query
      name: downhillEfficiency
      required: false
      schema:
        format: float
        type: number
      style: form
    energyBudgetInkWh:
      description: Electric energy budget in kilowatt hours (kWh). Determines the
        maximum vehicle range using the specified Electric Consumption Model.
      example: 43
      explode: true
      in: query
      name: energyBudgetInkWh
      required: false
      schema:
        format: float
        minimum: 0
        type: number
      style: form
    fuelBudgetInLiters:
      description: Fuel budget in liters. Determines the maximum vehicle range using
        the specified Combustion Consumption Model.
      explode: true
      in: query
      name: fuelBudgetInLiters
      required: false
      schema:
        format: float
        minimum: 0
        type: number
      style: form
    fuelEnergyDensityInMJoulesPerLiter:
      description: Specifies the amount of chemical energy stored in one liter of
        fuel in megajoules (MJ).
      explode: true
      in: query
      name: fuelEnergyDensityInMJoulesPerLiter
      required: false
      schema:
        format: float
        type: number
      style: form
    hilliness:
      description: Degree of hilliness for calculating a thrilling route.
      explode: true
      in: query
      name: hilliness
      required: false
      schema:
        default: normal
        enum:
        - low
        - normal
        - high
        type: string
      style: form
    instructionsType:
      description: "If specified, guidance instructions will be returned (if available)."
      explode: true
      in: query
      name: instructionsType
      required: false
      schema:
        enum:
        - coded
        - text
        - tagged
        type: string
      style: form
    language:
      description: The language parameter determines the language of the guidance
        messages.
      explode: true
      in: query
      name: language
      required: false
      schema:
        default: en-GB
        type: string
      style: form
    locations:
      description: Locations through which the calculated route must pass.
      example: "52.50931,13.42936:52.50274,13.43872"
      explode: false
      in: path
      name: locations
      required: true
      schema:
        type: string
      style: simple
    maxAlternatives:
      description: Number of alternative routes to be calculated.
      explode: true
      in: query
      name: maxAlternatives
      required: false
      schema:
        default: 0
        maximum: 5
        minimum: 0
        type: integer
      style: form
    maxChargeInkWh:
      description: Specifies the maximum electric energy supply in kilowatt hours
        (kWh) that may be stored in the vehicle's battery.
      explode: true
      in: query
      name: maxChargeInkWh
      required: false
      schema:
        format: float
        type: number
      style: form
    minDeviationDistance:
      description: All alternative routes will follow the reference route for the
        specified minimum number of meters starting from the origin point.
      explode: true
      in: query
      name: minDeviationDistance
      required: false
      schema:
        default: 0
        type: integer
      style: form
    minDeviationTime:
      description: All alternative routes will follow the reference route for the
        specified minimum number of seconds starting from the origin point.
      explode: true
      in: query
      name: minDeviationTime
      required: false
      schema:
        default: 0
        type: integer
      style: form
    origin:
      description: Point from which the range calculation should start.
      example: "52.50931,13.42936"
      explode: false
      in: path
      name: origin
      required: true
      schema:
        type: string
      style: simple
    report:
      description: Specifies which data should be reported for diagnosis purposes.
      explode: true
      in: query
      name: report
      required: false
      schema:
        enum:
        - effectiveSettings
        type: string
      style: form
    routeRepresentation:
      description: Specifies the representation of the set of routes provided as a
        response.
      explode: true
      in: query
      name: routeRepresentation
      required: false
      schema:
        default: polyline
        enum:
        - polyline
        - none
        type: string
      style: form
    routeType:
      description: The type of route requested.
      explode: true
      in: query
      name: routeType
      required: false
      schema:
        default: fastest
        enum:
        - fastest
        - shortest
        - eco
        - thrilling
        type: string
      style: form
    sectionType:
      description: |-
        Specifies which section types are explicitly reported in the route response. Can be specified multiple times.
          - carTrain, ferry, tunnel or motorway
          - pedestrian
          - tollRoad
          - tollVignette
          - country
          - travelMode
          - traffic
      explode: true
      in: query
      name: sectionType
      required: false
      schema:
        default: travelMode
        type: string
      style: form
    timeBudgetInSec:
      description: "Time budget in seconds. Determines the maximum vehicle range using\
        \ the specified driving time. The consumption parameters in the request will\
        \ only affect eco-routes, and thereby indirectly the driving time."
      explode: true
      in: query
      name: timeBudgetInSec
      required: false
      schema:
        format: float
        minimum: 0
        type: number
      style: form
    traffic:
      description: Determines whether current traffic is used in route calculations.
        Note that information on historic road speeds is always used.
      explode: true
      in: query
      name: traffic
      required: false
      schema:
        default: true
        type: boolean
      style: form
    travelMode:
      description: The mode of travel for the requested route.
      explode: true
      in: query
      name: travelMode
      required: false
      schema:
        default: car
        enum:
        - car
        - truck
        - taxi
        - bus
        - van
        - motorcycle
        - bicycle
        - pedestrian
        type: string
      style: form
    uphillEfficiency:
      description: Specifies the efficiency of converting chemical energy stored in
        fuel to potential energy when the vehicle gains elevation (i.e. PotentialEnergyGained/ChemicalEnergyConsumed).
      explode: true
      in: query
      name: uphillEfficiency
      required: false
      schema:
        format: float
        type: number
      style: form
    vehicleAxleWeight:
      description: Weight per axle of the vehicle in kg.
      explode: true
      in: query
      name: vehicleAxleWeight
      required: false
      schema:
        default: 0
        type: integer
      style: form
    vehicleCommercial:
      description: Indicates that the vehicle is used for commercial purposes. This
        means it may not be allowed on certain roads.
      explode: true
      in: query
      name: vehicleCommercial
      required: false
      schema:
        default: false
        type: boolean
      style: form
    vehicleEngineType:
      description: Engine type of the vehicle.
      explode: true
      in: query
      name: vehicleEngineType
      required: false
      schema:
        default: combustion
        enum:
        - combustion
        - electric
        type: string
      style: form
    vehicleHeading:
      description: "The directional heading of the vehicle in degrees. Entered in\
        \ degrees, measured clockwise from north (so north is 0, east is 90, etc.)."
      explode: true
      in: query
      name: vehicleHeading
      required: false
      schema:
        maximum: 359
        minimum: 0
        type: integer
      style: form
    vehicleHeight:
      description: Height of the vehicle in meters.
      explode: true
      in: query
      name: vehicleHeight
      required: false
      schema:
        default: 0
        format: float
        type: number
      style: form
    vehicleLength:
      description: Length of the vehicle in meters.
      explode: true
      in: query
      name: vehicleLength
      required: false
      schema:
        default: 0
        format: float
        type: number
      style: form
    vehicleLoadType:
      description: |-
        Indicates what kinds of hazardous materials the vehicle is carrying (if any). This means it may not be allowed on certain roads.
        Use these for routing in the US:

          - <i>USHazmatClass1</i> Explosives
          - <i>USHazmatClass2</i> Compressed gas
          - <i>USHazmatClass3</i> Flammable liquids
          - <i>USHazmatClass4</i> Flammable solids
          - <i>USHazmatClass5</i> Oxidizers
          - <i>USHazmatClass6</i> Poisons
          - <i>USHazmatClass7</i> Radioactive
          - <i>USHazmatClass8</i> Corrosives
          - <i>USHazmatClass9</i> Miscellaneous

        Use these for routing in all other countries:

          - <i>otherHazmatExplosive</i> Explosives
          - <i>otherHazmatGeneral</i> Miscellaneous
          - <i>otherHazmatHarmfulToWater</i> Harmful to water

        vehicleLoadType can be specified multiple times. This parameter is currently only considered for <b>travelMode</b>=<i>truck</i>.
      explode: true
      in: query
      name: vehicleLoadType
      required: false
      schema:
        type: string
      style: form
    vehicleMaxSpeed:
      description: Maximum speed of the vehicle in km/hour.
      explode: true
      in: query
      name: vehicleMaxSpeed
      required: false
      schema:
        default: 0
        type: integer
      style: form
    vehicleWeight:
      description: Weight of the vehicle in kilograms.
      explode: true
      in: query
      name: vehicleWeight
      required: false
      schema:
        default: 0
        type: integer
      style: form
    vehicleWidth:
      description: Width of the vehicle in meters.
      explode: true
      in: query
      name: vehicleWidth
      required: false
      schema:
        default: 0
        format: float
        type: number
      style: form
    versionNumber:
      description: Service version number. The current value is 1.
      explode: false
      in: path
      name: versionNumber
      required: true
      schema:
        enum:
        - 1
        type: integer
      style: simple
    windingness:
      description: Amount that a thrilling route should wind.
      explode: true
      in: query
      name: windingness
      required: false
      schema:
        default: normal
        enum:
        - low
        - normal
        - high
        type: string
      style: form
  responses:
    "403":
      description: |-
        Permission, capacity, or authentication issues:
          - Forbidden
          - Not authorized
          - Account inactive
          - Account over queries per second limit
          - Account over rate limit
          - Rate limit exceeded
    "404":
      description: "Not Found: the requested resource could not be found, but it may\
        \ be available again in the future."
    "405":
      description: "Method Not Allowed: the client used a HTTP method other than GET\
        \ or POST."
    "408":
      description: Request timeout.
    "414":
      description: Requested uri is too long.
    "500":
      description: An error occurred while processing the request. Please try again
        later.
    "502":
      description: Internal network connectivity issue.
    "503":
      description: Service currently unavailable.
    "504":
      description: Internal network connectivity issue or a request that has taken
        too long to complete.
    "596":
      description: Service not found.
  schemas:
    calculateReachableRangePostDataParameters:
      example:
        avoidAreas:
          rectangles:
          - northEastCorner:
              latitude: 48.90309
              longitude: 2.41115
            southWestCorner:
              latitude: 48.81851
              longitude: 2.26593
        avoidVignette:
        - AUS
        - CHE
        supportingPoints:
        - latitude: 52.5093
          longitude: 13.42936
        - latitude: 52.50844
          longitude: 13.42859
      properties:
        allowVignette:
          items:
            type: string
          type: array
          xml:
            name: allowVignette
        avoidAreas:
          $ref: '#/components/schemas/calculateReachableRangePostDataParameters_avoidAreas'
        avoidVignette:
          items:
            type: string
          type: array
          xml:
            name: avoidVignette
      title: calculateReachableRangePostDataParameters
      type: object
      xml:
        name: postData
    calculateRoutePostDataParameters:
      example:
        avoidAreas:
          rectangles:
          - northEastCorner:
              latitude: 48.90309
              longitude: 2.41115
            southWestCorner:
              latitude: 48.81851
              longitude: 2.26593
        avoidVignette:
        - AUS
        - CHE
        supportingPoints:
        - latitude: 52.5093
          longitude: 13.42936
        - latitude: 52.50844
          longitude: 13.42859
      properties:
        allowVignette:
          items:
            type: string
          type: array
          xml:
            name: allowVignette
        avoidAreas:
          $ref: '#/components/schemas/calculateReachableRangePostDataParameters_avoidAreas'
        avoidVignette:
          items:
            type: string
          type: array
          xml:
            name: avoidVignette
        supportingPoints:
          items:
            $ref: '#/components/schemas/calculateRoutePostDataParameters_supportingPoints_inner'
          type: array
          xml:
            name: supportingPoints
            wrapped: true
      title: calculateRoutePostDataParameters
      type: object
      xml:
        name: postData
    calculateReachableRangePostDataParameters_avoidAreas_rectangles_inner_northEastCorner:
      properties:
        latitude:
          title: latitude
          type: string
          xml:
            attribute: true
        longitude:
          title: longitude
          type: string
          xml:
            attribute: true
      title: calculateReachableRangePostDataParameters_avoidAreas_rectangles_inner_northEastCorner
      type: object
    calculateReachableRangePostDataParameters_avoidAreas_rectangles_inner:
      properties:
        northEastCorner:
          $ref: '#/components/schemas/calculateReachableRangePostDataParameters_avoidAreas_rectangles_inner_northEastCorner'
        southWestCorner:
          $ref: '#/components/schemas/calculateReachableRangePostDataParameters_avoidAreas_rectangles_inner_northEastCorner'
      title: calculateReachableRangePostDataParameters_avoidAreas_rectangles_inner
      type: object
      xml:
        name: rectangle
    calculateReachableRangePostDataParameters_avoidAreas:
      properties:
        rectangles:
          items:
            $ref: '#/components/schemas/calculateReachableRangePostDataParameters_avoidAreas_rectangles_inner'
          title: rectangles
          type: array
          xml:
            name: rectangles
            wrapped: true
      title: calculateReachableRangePostDataParameters_avoidAreas
      type: object
    calculateRoutePostDataParameters_supportingPoints_inner:
      properties:
        latitude:
          title: latitude
          type: string
          xml:
            attribute: true
        longitude:
          title: longitude
          type: string
          xml:
            attribute: true
      title: calculateRoutePostDataParameters_supportingPoints_inner
      xml:
        name: supportingPoint
  securitySchemes:
    api_key:
      in: query
      name: key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_api_key
