openapi: 3.0.0
info:
  contact:
    email: support@exavault.com
    name: ExaVault Support
  description: "ExaVaults API allows you to incorporate ExaVaults suite of file transfer\
    \ and user management tools into your own application.\\nExaVault supports both\
    \ POST (recommended when requesting large data sets) and GET operations, and requires\
    \ an API key in order to use."
  title: ExaVault
  version: "2.0"
  x-apisguru-categories:
  - storage
  x-logo:
    backgroundColor: '#222222'
    url: https://twitter.com/ExaVaultInc/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 2.6.0
    format: openapi
    url: https://exavault-website.cdn.prismic.io/exavault-website/2d2d871e-394d-433e-9305-f38b6656f279_evapi_2.0_public.yaml
    version: "3.0"
  x-providerName: exavault.com
externalDocs:
  url: https://www.exavault.com/developer/
servers:
- description: Replace accountname with your account name
  url: https://accountname.exavault.com/api/v2
tags:
- description: This section contains information on how to authenticate and logout
    from the API. **All ExaVault API calls (other than the authenticateUser method
    itself) require an access token.**
  name: Authentication
- description: "The file and folder management APIs allow you to work with the core\
    \ of your account. You can upload or download files and create, move and delete\
    \ files & folders, to name a few options."
  name: Resources
- description: "The activity APIs allow you to get logs from your account. We track\
    \ multiple types of under the umbrellas; __Activity Logs__ that show an action\
    \ a user performed or initiated on a file, folder or the account. __Webhooks Logs__\
    \ that show records of all outbound webhook calls made by ExaVault. Both can be\
    \ optionally filtered to only return specific data you’re looking for."
  name: Activity
- description: "The user APIs allow you to create, update and delete users from your\
    \ account. Users can be assigned unique permissions, set to expire after a certain\
    \ time period, and more."
  name: Users
- description: "The sharing APIs allow you create and manage shares. Shares can be\
    \ used to send a single file, share a folder, or set up a receive folder and its\
    \ input form."
  name: Shares
- description: "The notifications APIs allow you to set up and manage notifications\
    \ in your account. When an action is taken on a file folder, you can be notified\
    \ via email or webhook."
  name: Notifications
- description: "The email lists APIs allow you to manage email lists that can be used\
    \ for speeding up actions within the ExaVault File Manager such as adding your\
    \ marketing team, Tom, Jane, and Harry, to a shared folder in a single action\
    \ instead of three."
  name: Email Lists
- description: "The account APIs allow you review and change account settings. Many\
    \ account settings will have immediate effects on all current and future users,\
    \ so consider adding a user facing confirmation step before sending an update\
    \ call."
  name: Account
- description: "THe SSH Keys APIs allow you to manage SSH keys for users in your account.\
    \ You can upload the contents of a public key for a user, get information for\
    \ keys which are already defined, and remove a key from a user."
  name: SSH Keys
- description: The forms APIs allow you to manage the inputs and data submitted through
    receive folder forms.
  name: Form
- description: "The recipients APIs allow to retrieve, delete, or resend invitations\
    \ for recipients of shared folders."
  name: Recipients
- description: The emails APIs allow you to generate welcome emails for account users
    and referral emails.
  name: Email
paths:
  /account:
    get:
      description: "Get settings for your account, such as current space usage, webhooks\
        \ settings, welcome email content and IP address restrictions."
      operationId: getAccount
      parameters:
      - description: API Key required for the request
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          example: exampleaccount-zwSuWUZ8S38h33qPS8v0s
          type: string
        style: simple
      - description: Access Token for the request
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          example: 19853ef63a0bc348024a9e4cfd4a92520d2dfd04e88d8679fb1ed6bc551593d1
          type: string
        style: simple
      - description: Related records to include in the response. Valid option is **masterUser**
        explode: true
        in: query
        name: include
        required: false
        schema:
          example: masterUser
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    accountName: exampleaccount
                    accountOnboarding: true
                    allowedIp: null
                    branding: true
                    clientId: 1
                    complexPasswords: false
                    created: 2019-05-30T20:48:57Z
                    customDomain: false
                    customSignature: null
                    externalDomains: null
                    maxUsers: 5
                    modified: 2019-08-27T01:03:41Z
                    quota:
                      bandwidthLimit: 9223372036854776000
                      bandwidthUsed: 0
                      diskLimit: 107374182400
                      diskUsed: 4770252339
                      noticeEnabled: false
                      noticeThreshold: 90
                      transactionsLimit: 120000
                      transactionsNoticeEnabled: false
                      transactionsNoticeThreshold: 90
                    secureOnly: false
                    showReferralLinks: true
                    status: 1
                    userCount: 4
                    welcomeEmailContent: |
                      "Great news, your new account is ready!\n\nFor your records, we've listed information you'll use to log in below:\n\nFTP Server: [[ftpserver]]\n\nUsername (Web and FTP access): [[username]]\n\n[[setpassword]]"
                    welcomeEmailSubject: ExaVault File Sharing Account
                  id: 7
                  included:
                  - attributes:
                      accessTimestamp: 2019-09-06T11:40:29Z
                      accountId: 2
                      accountName: examplemasteraccount
                      created: 2019-05-29T20:48:57Z
                      email: user@example.com
                      expiration: null
                      firstLogin: false
                      homeDir: /
                      modified: 2019-07-27T01:03:41Z
                      nickname: examplenickname
                      onboarding: true
                      permissions:
                        changePassword: true
                        delete: true
                        deleteFormData: true
                        download: true
                        list: true
                        modify: true
                        notification: true
                        share: true
                        upload: true
                        viewFormData: true
                      role: master
                      status: 1
                      timeZone: UTC
                      username: examplemasteruser
                    id: 1
                    relationships:
                      homeResource:
                        data:
                          id: 2554051
                          type: resource
                      ownerAccount:
                        data:
                          id: 124437
                          type: account
                    type: user
                  relationships:
                    masterUser:
                      data:
                        id: 1
                        type: user
                  type: account
                responseStatus: 200
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: Successful operation
      summary: Get account settings
      tags:
      - Account
      x-accepts:
      - application/json
    patch:
      description: |-
        Update account settings, such as welcome email content, IP address restrictions, webhooks settings and secure password requirements.

        **Notes**

        - You must have [admin-level access](/docs/account/04-users/00-introduction#managing-user-roles-and-permissions) to change account settings.
      operationId: updateAccount
      parameters:
      - description: API Key required to make the API call.
        example: exampleaccount-zwSuWUZ8S38h33qPS8v0s
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 19853ef63a0bc348024a9e4cfd4a92520d2dfd04e88d8679fb1ed6bc551593d1
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              accountOnboarding: true
              allowedIpRanges:
              - ipEnd: 67.208.64.254
                ipStart: 67.208.64.228
              brandingSettings:
                companyName: Example File Transfer
                theme: light
              complexPasswords: true
              customSignature: Please consider the planet before printing this email
              emailContent: "Greetings, ExampleUser!  Your account is ready for you\
                \ to start transferring files right now. Here's your link to set up\
                \ your account [[setpassword]]  Henceforth, you shall be known as\
                \ [[username]]"
              emailSubject: Welcome to the Example Account
              externalDomain: https://example.com/files
              quota:
                noticeEnabled: true
                noticeThreshold: 90
                transactionsNoticeEnabled: true
                transactionsNoticeThreshold: 80
              secureOnly: true
              showReferralLinks: false
            schema:
              $ref: '#/components/schemas/UpdateAccountRequestBody'
        description: Update Account Settings
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    accountName: exampleaccount
                    accountOnboarding: true
                    allowedIp: []
                    branding: true
                    brandingSettings:
                      accountName: exampleaccount
                      companyName: Example Company
                      created: 2021-01-14T11:06:52-08:00
                      customEmail: custom@example.com
                      logo: examplelogo.png
                      logoExt: png
                      modified: 2021-02-08T10:35:15-08:00
                      theme: default
                      verifiedDomain: null
                      verifiedDomainId: null
                      verifiedDomainValid: false
                    clientId: 1
                    complexPasswords: false
                    created: 2019-05-30T20:48:57Z
                    customDomain: false
                    customSignature: null
                    externalDomains: null
                    maxUsers: 5
                    modified: 2019-08-27T01:03:41Z
                    quota:
                      bandwidthLimit: 9223372036854776000
                      bandwidthUsed: 0
                      diskLimit: 107374182400
                      diskUsed: 4770252339
                      noticeEnabled: true
                      noticeThreshold: 90
                      transactionsLimit: 120000
                      transactionsNoticeEnabled: true
                      transactionsNoticeThreshold: 80
                    secureOnly: false
                    showReferralLinks: true
                    status: 1
                    userCount: 4
                    welcomeEmailContent: |
                      "Great news, your new account is ready!\n\nFor your records, we've listed information you'll use to log in below:\n\nFTP Server: [[ftpserver]]\n\nUsername (Web and FTP access): [[username]]\n\n[[setpassword]]"
                    welcomeEmailSubject: ExaVault File Sharing Account
                  id: 6
                  relationships:
                    masterUser:
                      data:
                        id: 1
                        type: user
                  type: account
                included: []
                responseStatus: 200
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: Successful operation
      summary: Update account settings
      tags:
      - Account
      x-content-type: application/json
      x-accepts:
      - application/json
  /activity/session:
    get:
      description: "Returns the detailed activity logs for your account. Optional\
        \ query paramaters will filter the returned results based on a number of options\
        \ including usernames, activity types, or date ranges. \n\n**NOTE:** Total\
        \ Results will always return as 0 to avoid quering data you're not using and\
        \ stay as performant as possible. \n  \n**Operation Types**\nSession activity\
        \ is logged with an operation type that is different from what is visible\
        \ through the [activity log interface in the web file manager](/docs/account/10-activity-logs/00-activity-logs).\
        \ Consult the table below to compare the two:\n\n| File Manager Value | API\
        \ Value | Notes |\n|-----|----|---|\n| Connect | PASS | |\n| Disconnect |\
        \ EXIT | |\n| Upload | STOR | |\n| Download | RETR | |\n| Delete | DELE |\
        \ |\n| Create Folder | MKD | |\n| Rename | RNTO | |\n| Move | MOVE | |\n|\
        \ Copy | COPY | |\n| Compress | COMPR | |\n| Extract | EXTRACT | |\n| Shared\
        \ Folders | SHARE | |\n| Send Files | SEND | |\n| Receive Files | RECV | |\n\
        | _N/A_ | EDIT\\_SEND | Update send. Not shown in file manager |\n| Update\
        \ Share | EDIT\\_SHARE| | \n| Update Receive | EDIT\\_RECV | |\n| Delete Send\
        \ | DELE\\_SEND | |\n| Delete Receive | DELE\\_RECV | |\n| Delete Share |\
        \ DELE\\_SHARE | |\n| Create Notification | NOTIFY | |\n| Update Notification\
        \ | EDIT\\_NTFY| |\n| Delete Notification | DELE\\_NTFY | |\n| Create User\
        \ | USER | |\n| Update User | EDIT\\_USER | |\n| Delete User | DELE\\_USER\
        \ | |\n| _N/A_ | DFA | Create direct link. Not shown in file manager |\n|\
        \ _N/A_ | EDIT\\_DFA | Update direct link options. Not shown in file manager\
        \ |\n| _N/A_ | DELE\\_DFA | Deactivate direct link. Not shown in file manager|\n"
      operationId: getSessionLogs
      parameters:
      - description: API Key
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          example: exampleaccount-zwSuWUZ8S38h33qPS8v0s
          type: string
        style: simple
      - description: Access Token
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          example: 19853ef63a0bc348024a9e4cfd4a92520d2dfd04e88d8679fb1ed6bc551593d1
          type: string
        style: simple
      - description: Start date of the filter data range
        example: 2019-10-18T06:48:40Z
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End date of the filter data range
        example: 2019-10-18T06:48:40Z
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Used to filter session logs by ip address.
        example: 127.0.0.1
        explode: true
        in: query
        name: ipAddress
        required: false
        schema:
          type: string
        style: form
      - description: Username used for filtering a list
        example: jdoe
        explode: true
        in: query
        name: username
        required: false
        schema:
          type: string
        style: form
      - description: Path used to filter records
        example: /folder*
        explode: true
        in: query
        name: path
        required: false
        schema:
          type: string
        style: form
      - description: Filter session logs for operation type (see table above for acceptable
          values)
        example: EDIT_SHARE
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Offset of the records list
        example: 100
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Limit of the records list
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Comma separated list sort params
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    data:
                    - attributes:
                        bytesTransferred: 10815676
                        created: 2019-10-18T06:48:40Z
                        duration: 5
                        fileName: /test2/Cassandra2020The20Definitive20Guide.2030947496.pdf
                        fileSource: ""
                        ipAddress: 185.223.113.224
                        operation: PASS
                        protocol: web
                        sessionId: 5da9b4a8bd961dfa0a56fa0dc15aaffe57069271b389e
                        status: "-"
                        username: exavault
                      id: 12345
                      type: sessionActivity
                    responseStatus: 200
                    returnedResults: 2
                    totalResults: 2
              schema:
                $ref: '#/components/schemas/SessionActivityResponse'
          description: Successful operation
      summary: Get activity logs
      tags:
      - Activity
      x-accepts:
      - application/json
  /activity/webhooks:
    get:
      description: "Returns the webhook logs for your account. Use the available query\
        \ parameters to filter the listing of activity that is returned.\n\n**NOTE:**\
        \ Total Results will always return as 0 to avoid querying data you're not\
        \ using and stay as performant as possible. \n\n**Event Types**\n\nWebhooks\
        \ are triggered by enabled event types for your account, which are configured\
        \ on the [developer settings page](/docs/account/09-settings/06-developer-settings).\
        \ Not all event types may be allowed for your account type. These are the\
        \ valid options for event types:\n\n- resources.upload\n- resources.download\n\
        - resources.delete\n- resources.createFolder\n- resources.rename\n- resources.move\n\
        - resources.copy\n- resources.compress\n- resources.extract\n- shares.formSubmit\n"
      operationId: getWebhookLogs
      parameters:
      - description: API Key
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          example: exampleaccount-zwSuWUZ8S38h33qPS8v0s
          type: string
        style: simple
      - description: Access Token
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          example: 19853ef63a0bc348024a9e4cfd4a92520d2dfd04e88d8679fb1ed6bc551593d1
          type: string
        style: simple
      - description: Earliest date of entries to include in list
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Latest date of entries to include in list
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Webhook listener endpoint
        explode: true
        in: query
        name: endpointUrl
        required: false
        schema:
          format: uri
          type: string
        style: form
      - description: Type of activity that triggered the webhook attempt
        explode: true
        in: query
        name: event
        required: false
        schema:
          example: resources.upload
          type: string
        style: form
      - description: Response code from the webhook endpoint
        example: 200
        explode: true
        in: query
        name: statusCode
        required: false
        schema:
          example: 200
          type: integer
        style: form
      - description: Path of the resource that triggered the webhook attempt
        example: /folder*
        explode: true
        in: query
        name: resourcePath
        required: false
        schema:
          example: /Production
          type: string
        style: form
      - description: Filter by triggering username.
        explode: true
        in: query
        name: username
        required: false
        schema:
          example: exampleuser
          type: string
        style: form
      - description: Records to skip before returning results.
        example: 100
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Limit of the records list
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: Comma separated list sort params
        example: "-date,event"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - attributes:
                    attempt: 1
                    created: 2020-07-30T03:40:35-07:00
                    endpointUrl: https://example.com/api/webhook
                    event: Upload
                    response: ""
                    responseSize: 0
                    status: 200
                  id: 2602725
                  type: webhookActivity
                responseStatus: 200
                returnedResults: 1
                totalResults: 1469
              schema:
                $ref: '#/components/schemas/WebhookActivityResponse'
          description: Successful operation
      summary: Get webhook logs
      tags:
      - Activity
      x-accepts:
      - application/json
  /email-lists:
    get:
      description: List all email groups for authenticated user
      operationId: getEmailLists
      parameters:
      - description: API Key required to make the API call.
        example: exampleaccount-zwSuWUZ8S38h33qPS8v0s
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: Related record types to include in the response. Valid option
          is `ownerUser`
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - attributes:
                    created: 2020-07-30T10:09:05-07:00
                    emails:
                    - exavault@example.com
                    - exavault+1@example.com
                    modified: 2020-07-30T10:09:05-07:00
                    name: ExaVault Test
                  id: 27
                  relationships:
                    ownerUser:
                      data:
                        id: 124437
                        type: user
                  type: emailList
                included:
                - attributes:
                    accessTimestamp: 0000-00-00T00:00:00+00:00
                    accountName: example-acct
                    created: 2020-09-02T18:54:14-07:00
                    email: example@exavault-example.com
                    expiration: 2021-12-31 11:59:59
                    firstLogin: null
                    homeDir: /
                    modified: 2020-09-02T18:54:14-07:00
                    nickname: example-user
                    onboarding: false
                    permissions:
                      changePassword: true
                      delete: true
                      deleteFormData: true
                      download: true
                      list: true
                      modify: true
                      notification: true
                      share: true
                      upload: true
                      viewFormData: true
                    role: admin
                    status: 1
                    timeZone: America/Los_Angeles
                    username: example-user
                  id: 124437
                  type: user
                responseStatus: 200
                returnedResults: 1
                totalResults: 1
              schema:
                $ref: '#/components/schemas/EmailListCollectionResponse'
          description: Successful operation
      summary: Get all email groups
      tags:
      - Email Lists
      x-accepts:
      - application/json
    post:
      description: "Create a new email list. Among other things, email lists can be\
        \ used to send files or share folders with a group of email addresses at once."
      operationId: addEmailList
      parameters:
      - description: API Key required to make the API call.
        example: exampleaccount-zwSuWUZ8S38h33qPS8v0s
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              value:
                emails:
                - exavault@example.com
                - exavault+1@example.com
                name: ExaVault Test
            schema:
              $ref: '#/components/schemas/AddEmailListRequestBody'
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    created: 2020-07-30T10:09:05-07:00
                    emails:
                    - exavault@example.com
                    - exavault+1@example.com
                    modified: 2020-07-30T10:09:05-07:00
                    name: ExaVault Test
                  id: 27
                  relationships:
                    ownerUser:
                      data:
                        id: 124437
                        type: user
                  type: emailList
                included: []
                responseStatus: 201
              schema:
                $ref: '#/components/schemas/EmailListResponse'
          description: Successful operation
      summary: Create new email list
      tags:
      - Email Lists
      x-content-type: application/json
      x-accepts:
      - application/json
  /email-lists/{id}:
    delete:
      description: 'Permanently delete an email group. This action is not reversible.
        We recommend making a user confirm this action before sending the API call. '
      operationId: deleteEmailListById
      parameters:
      - description: API Key required to make the API call.
        example: exampleaccount-zwSuWUZ8S38h33qPS8v0s
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the email list to delete
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data: []
                responseStatus: 200
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: Successful Operation
      summary: Delete an email group with given id
      tags:
      - Email Lists
      x-accepts:
      - application/json
    get:
      description: "Retrieve all the details of a specific email list including it's\
        \ name, when it was created and all the email addresses that belong to the\
        \ group."
      operationId: getEmailListById
      parameters:
      - description: API Key required to make the API call.
        example: exampleaccount-zwSuWUZ8S38h33qPS8v0s
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the email list to return.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Related record types to include in the response. Valid option
          is `ownerUser`
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    created: 2019-09-02T18:58:07-07:00
                    emails:
                    - test1@example.com
                    - test2@example.com
                    name: My Test List
                  id: 29
                  relationships:
                    ownerUser:
                      data:
                        id: 125391
                        type: user
                  type: emailList
                included:
                - attributes:
                    accessTimestamp: 0000-00-00T00:00:00+00:00
                    accountName: example-acct
                    created: 2020-09-02T18:54:14-07:00
                    email: admin@exavault-example.com
                    expiration: null
                    firstLogin: null
                    homeDir: /
                    modified: 2020-09-02T18:54:14-07:00
                    nickname: example-admin
                    onboarding: false
                    permissions:
                      changePassword: true
                      delete: true
                      deleteFormData: true
                      download: true
                      list: true
                      modify: true
                      notification: true
                      share: true
                      upload: true
                      viewFormData: true
                    role: admin
                    status: 1
                    timeZone: America/Los_Angeles
                    username: example-admin
                  id: 125391
                  type: user
                responseStatus: 200
              schema:
                $ref: '#/components/schemas/EmailListResponse'
          description: Successful Operation
      summary: Get individual email group
      tags:
      - Email Lists
      x-accepts:
      - application/json
    patch:
      description: "Add or remove emails from an email list that can be used to send\
        \ and share files with groups. \n\n**Notes**\n\n*This call will **replace**\
        \ your current email list in its entirety.* If you want to keep any existing\
        \ emails on the list, be sure to submit the call with any current emails you\
        \ want to keep on the list.  "
      operationId: updateEmailListById
      parameters:
      - description: API Key required to make the API call.
        example: exampleaccount-zwSuWUZ8S38h33qPS8v0s
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the email list to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            example:
              emails:
              - test@example.com
              - test+1@example.com
              - newaddress@example.com
              name: Renamed Test Email List
            schema:
              $ref: '#/components/schemas/UpdateEmailListRequestBody'
        description: ""
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    created: 2020-09-03T11:10:55-07:00
                    emails:
                    - test@example.com
                    - test+1@example.com
                    - newaddress@example.com
                    modified: 2020-09-03T11:36:05-07:00
                    name: Renamed Test Email List
                  id: 33
                  relationships:
                    ownerUser:
                      data:
                        id: 125391
                        type: user
                  type: emailList
                included: []
                responseStatus: 200
              schema:
                $ref: '#/components/schemas/EmailListResponse'
          description: Successful Operation
      summary: Update an email group
      tags:
      - Email Lists
      x-content-type: application/json
      x-accepts:
      - application/json
  /email/referral:
    post:
      description: "Invite a friend to sign up for a free trial of ExaVault. Send\
        \ a [referral](/lp/referafriend/) email to an email address. If the recipient\
        \ signs up for ExaVault, we'll apply a credit to your account for the referral. "
      operationId: sendReferralEmail
      parameters:
      - description: API Key required to make the API call.
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  emails:
                  - user@example.com
                  message: "I use ExaVault for secure file sending, and so should\
                    \ you. Follow my link to sign up for a trial."
            schema:
              $ref: '#/components/schemas/SendReferralEmailRequestBody'
      responses:
        "201":
          content:
            application/json:
              example:
                data: []
                responseStatus: 201
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: Successful Operation
      summary: Send referral email to a given address
      tags:
      - Email
      x-content-type: application/json
      x-accepts:
      - application/json
  /email/welcome/{username}:
    post:
      description: "Send a welcome email to a user. The contents of the welcome email\
        \ can be set by [PATCH /accounts](#operation/updateAccount)."
      operationId: sendWelcomeEmail
      parameters:
      - description: API Key required to make the API call.
        example: exampleaccount-zwSuWUZ8S38h33qPS8v0s
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: A username to send the welcome email to.
        example: exampleuser
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              example:
                data: []
                responseStatus: 201
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: Successful operation
      summary: Resend welcome email to specific user
      tags:
      - Email
      x-accepts:
      - application/json
  /forms:
    get:
      description: "Get the information for the [file upload form](/docs/account/05-file-sharing/05-form-builder)\
        \ assigned to a [receive folder](/docs/account/05-file-sharing/04-receive-folders)\
        \ by its shareHash. The form details will return all the input field settings\
        \ and the CSS for the form.\n\nUse the `include` parameter (with the value\
        \ **share**) to also get the details of the associated receive folder.\n\n\
        **Note**\n\n- If you prefer to find a form by its ID, you can use the [GET\
        \ /forms/{id}](#operation/getFormById) endpoint instead. \n"
      operationId: getFormByShareHash
      parameters:
      - description: API key required to make the API call.
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access Token required to make the API call.
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: Share hash to retrieve the form for.
        explode: true
        in: query
        name: shareHash
        required: true
        schema:
          type: string
        style: form
      - description: Related record types to include in the response. Valid option
          is **share**
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - share
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    cssStyles: |-
                      #ev-widget-form {
                        /*Change this to change the font. Remove to use your website font*/
                        font-family: Helvetica Neue, sans-serif;
                        /*Makes the form the same width as your website */
                        margin: 0 -2%;
                      }
                      #ev-widget-form label{
                        width: 100%;
                      }
                      #ev-widget-form input,
                      #ev-widget-form textarea {
                        /*Changes color and thickness of borders on form elements */
                        border: 2px solid #ccc;
                        /*Changes spacing inside the form elements (top/bottom and left/right */
                        padding: 5px 5px;
                        /* Changes how far away the inputs are from their label */
                        margin-top: 2px;
                      }

                      #ev-widget-form input:focus,
                      #ev-widget-form textarea:focus {
                        /*Changes the color of the form elements when they are clicked in to */
                        border: 2px solid #b2cf88;
                        /*Removes glow effect from form elements that are clicked in to */
                        outline: none;
                      }

                      #ev-widget-form label {
                        font-size: 14px;
                        font-weight: bold;
                        /*Changes color of labels */
                        color: #232323
                      }

                      #ev-widget-form .ev-form-element-description {
                        /*Changes size of descriptions */
                        font-size: 12px;
                        /*Changes color of descriptions */
                        color: #777;
                        /* Changes how far away the descriptions are from their input */
                        margin-top: 2px;
                      }

                      #ev-widget-form textarea {
                        /* Makes textareas (multiline inputs) a taller. */
                        min-height: 90px;
                      }
                    elements:
                    - id: 2329
                      name: Your Name
                      order: 0
                      settings:
                        description: null
                        isRequired: false
                        senderEmail: false
                        useAsFolderName: false
                        width: 1
                      type: name
                    - id: 2331
                      name: Email Address
                      order: 1
                      settings:
                        description: null
                        isRequired: true
                        senderEmail: false
                        useAsFolderName: true
                        width: 1
                      type: email
                    - id: 2333
                      name: Subject
                      order: 2
                      settings:
                        description: null
                        isRequired: true
                        senderEmail: false
                        useAsFolderName: false
                        width: 1
                      type: text
                    - id: 2335
                      name: Message
                      order: 3
                      settings:
                        description: null
                        isRequired: false
                        senderEmail: false
                        useAsFolderName: false
                        width: 1
                      type: textarea
                    - id: 2337
                      name: Upload Area
                      order: 4
                      settings:
                        description: null
                        isRequired: false
                        senderEmail: false
                        useAsFolderName: false
                        width: 1
                      type: upload_area
                    formDescription: null
                    submitButtonText: Send Files
                    successMessage: Your files were uploaded
                  id: 459
                  relationships:
                    share:
                      data:
                        id: 1581
                        type: share
                  type: form
                included:
                - attributes:
                    accessDescription: Receive folder
                    accessMode:
                      delete: false
                      download: false
                      modify: false
                      upload: true
                    assets:
                    - HomeTest
                    created: 2020-07-30T06:24:33-07:00
                    embed: false
                    expiration: null
                    expired: false
                    fileDropCreateFolders: false
                    formId: 459
                    hasNotification: true
                    hasPassword: false
                    hash: 1a6-eel4wett
                    inherited: null
                    messages: []
                    modified: 2020-07-30T06:27:12-07:00
                    name: HomeTest
                    ownerHash: 1a6-eel4wegt-9t0xc3jb
                    paths:
                    - /HomeTest
                    public: true
                    recipients: []
                    requireEmail: false
                    resent: null
                    status: 1
                    trackingStatus: null
                    type: receive
                  id: 1581
                  type: share
                responseStatus: 200
              schema:
                $ref: '#/components/schemas/FormResponse'
          description: successful operation
      summary: Get receive folder form settings
      tags:
      - Form
      x-accepts:
      - application/json
  /forms/entries/{id}:
    delete:
      description: "Deletes a form submission entry, which represents one time that\
        \ a visitor filled out the form and uploaded files. This deletes only the\
        \ record of the submission (the date, the values entered in the form and the\
        \ names of the files uploaded by the visitor).The share and any associated\
        \ file resources will not be deleted by this. \n\n**Notes**:\n\n- Use the\
        \ [GET /form/entries/{formId}](#operation/getFormMessageById) to list the\
        \ submissions and obtain the ID of the entry you want to delete\n- You must\
        \ have the [DeleteFormData permission](/docs/account/04-users/00-introduction#managing-user-roles-and-permissions)\
        \ in order to use this operation\n- It is not possible to un-delete data that\
        \ is removed in this way\n"
      operationId: deleteFormMessageById
      parameters:
      - description: 'API Key required to make the API call. '
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the entry to be deleted data for
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                data: []
                responseStatus: 200
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: Successful operation
      summary: Delete a receive form submission
      tags:
      - Form
      x-accepts:
      - application/json
    get:
      description: |
        Returns the form data entries for a specific form for a receive. Optional parameters can be included in the call to manage larger data sets.
      operationId: getFormEntries
      parameters:
      - description: 'API Key required to make the API call. '
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the form to retrieve entries for.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Limit of records to be returned (for pagination)
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Current offset of records (for pagination)
        example: 100
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - attributes:
                    created: 2020-09-15T05:36:41-07:00
                    fields:
                    - name: Email Address
                      order: 1
                      value: test451@example.com
                    modified: 2020-09-16T05:36:44-07:00
                    paths:
                    - /example/test451@example.com/1.csv
                    - /example/test451@example.com/2.csv
                    status: completed
                  id: 320721
                  type: formEntry
                - attributes:
                    created: 2020-09-16T05:36:41-07:00
                    fields:
                    - name: Email Address
                      order: 1
                      value: test455@example.com
                    modified: 2020-09-17T05:36:44-07:00
                    paths:
                    - /example/test455@example.com/1.csv
                    - /example/test455@example.com/2.csv
                    status: completed
                  id: 32021
                  type: formEntry
                responseStatus: 200
                returnedResults: 2
                totalResults: 2
              schema:
                $ref: '#/components/schemas/FormEntryResponse'
          description: Successful operation
      summary: Get form data entries for a receive
      tags:
      - Form
      x-accepts:
      - application/json
  /forms/{id}:
    get:
      description: "Returns the [file upload form](/docs/account/05-file-sharing/05-form-builder)\
        \ assigned to a [receive folder](/docs/account/05-file-sharing/04-receive-folders).\
        \ The form details will return all the input fields and their settings. \n\
        \nUse the `include` parameter (with the value **share**) to also retrieve\
        \ the details of the associated receive folder. \n\n**Note**\n\nIf you prefer\
        \ to find a form by its shareHash, you can use the [GET /forms](#operation/getFormByShareHash)\
        \ endpoint instead. \n"
      operationId: getFormById
      parameters:
      - description: Form unique ID number.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: API key required to make the API call.
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access Token required to make the API call.
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: Enter "**share**" to get information about associated receive
          folder.
        explode: true
        in: query
        name: include
        required: false
        schema:
          example: share
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    cssStyles: |-
                      #ev-widget-form {
                        /*Change this to change the font. Remove to use your website font*/
                        font-family: Helvetica Neue, sans-serif;
                        /*Makes the form the same width as your website */
                        margin: 0 -2%;
                      }
                      #ev-widget-form label{
                        width: 100%;
                      }
                      #ev-widget-form input,
                      #ev-widget-form textarea {
                        /*Changes color and thickness of borders on form elements */
                        border: 2px solid #ccc;
                        /*Changes spacing inside the form elements (top/bottom and left/right */
                        padding: 5px 5px;
                        /* Changes how far away the inputs are from their label */
                        margin-top: 2px;
                      }

                      #ev-widget-form input:focus,
                      #ev-widget-form textarea:focus {
                        /*Changes the color of the form elements when they are clicked in to */
                        border: 2px solid #b2cf88;
                        /*Removes glow effect from form elements that are clicked in to */
                        outline: none;
                      }

                      #ev-widget-form label {
                        font-size: 14px;
                        font-weight: bold;
                        /*Changes color of labels */
                        color: #232323
                      }

                      #ev-widget-form .ev-form-element-description {
                        /*Changes size of descriptions */
                        font-size: 12px;
                        /*Changes color of descriptions */
                        color: #777;
                        /* Changes how far away the descriptions are from their input */
                        margin-top: 2px;
                      }

                      #ev-widget-form textarea {
                        /* Makes textareas (multiline inputs) a taller. */
                        min-height: 90px;
                      }
                    elements:
                    - id: 2329
                      name: Your Name
                      order: 0
                      settings:
                        description: null
                        isRequired: false
                        senderEmail: false
                        useAsFolderName: false
                        width: 1
                      type: name
                    - id: 2331
                      name: Email Address
                      order: 1
                      settings:
                        description: null
                        isRequired: true
                        senderEmail: false
                        useAsFolderName: true
                        width: 1
                      type: email
                    - id: 2333
                      name: Subject
                      order: 2
                      settings:
                        description: null
                        isRequired: true
                        senderEmail: false
                        useAsFolderName: false
                        width: 1
                      type: text
                    - id: 2335
                      name: Message
                      order: 3
                      settings:
                        description: null
                        isRequired: false
                        senderEmail: false
                        useAsFolderName: false
                        width: 1
                      type: textarea
                    - id: 2337
                      name: Upload Area
                      order: 4
                      settings:
                        description: null
                        isRequired: false
                        senderEmail: false
                        useAsFolderName: false
                        width: 1
                      type: upload_area
                    formDescription: test test
                    submitButtonText: Send Files
                    successMessage: Your files were uploaded
                  id: 459
                  relationships:
                    share:
                      data:
                        id: 1581
                        type: share
                  type: form
                included:
                - attributes:
                    accessDescription: Receive folder
                    accessMode:
                      delete: false
                      download: false
                      modify: false
                      upload: true
                    assets:
                    - HomeTest
                    created: 2020-07-30T06:24:33-07:00
                    embed: false
                    expiration: null
                    expired: false
                    fileDropCreateFolders: false
                    formId: 459
                    hasNotification: true
                    hasPassword: false
                    hash: 1a6-eel4nxrt
                    inherited: null
                    messages: []
                    modified: 2020-07-30T07:39:42-07:00
                    name: HomeTest
                    ownerHash: 1a6-eel4nxrt-9t0xc3jb
                    paths:
                    - /HomeTest
                    public: true
                    recipients: []
                    requireEmail: false
                    resent: null
                    status: 1
                    trackingStatus: null
                    type: receive
                  id: 1581
                  type: share
                responseStatus: 200
              schema:
                $ref: '#/components/schemas/FormResponse'
          description: successful operation
      summary: Get receive folder form by Id
      tags:
      - Form
      x-accepts:
      - application/json
    patch:
      description: "Add, update, or delete a form's parameters. This will alter how\
        \ your users/customers will see and interact with the form when sending you\
        \ files. \n\n**Notes**\n\n*This call will **replace** your current form in\
        \ its entirety.* If you want to keep any existing elements unchanged, be sure\
        \ to submit the call with an element's current settings to preserve them.\
        \                          "
      operationId: updateFormById
      parameters:
      - description: Form unique ID number.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: API Key required to make the API call.
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              elements:
              - name: Name
                order: 0
                settings:
                  description: this is a description test
                  isRequired: true
                  senderEmail: false
                  useAsFolderName: false
                  width: 1
                type: name
              - id: 2331
                name: Email Address
                order: 1
                settings:
                  description: null
                  isRequired: true
                  senderEmail: false
                  useAsFolderName: false
                  width: 1
                type: email
              - id: 2333
                name: Subject
                order: 2
                settings:
                  description: null
                  isRequired: true
                  senderEmail: false
                  useAsFolderName: false
                  width: 1
                type: text
              - id: 2335
                name: Message
                order: 3
                settings:
                  description: null
                  isRequired: false
                  senderEmail: false
                  useAsFolderName: false
                  width: 1
                type: textarea
              - id: 2337
                name: Upload Area
                order: 4
                settings:
                  description: null
                  isRequired: false
                  senderEmail: false
                  useAsFolderName: false
                  width: 1
                type: upload_area
              formDescription: hello world
              submitButtonText: goodbye world
              successMessage: thank you
            schema:
              $ref: '#/components/schemas/UpdateFormByIdRequestBody'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    cssStyles: null
                    elements:
                    - id: 2351
                      name: rename test
                      order: 0
                      settings:
                        description: this is a description test
                        isRequired: "true"
                        senderEmail: false
                        useAsFolderName: "false"
                        width: "1"
                      type: name
                    - id: 2331
                      name: Email Address
                      order: 1
                      settings:
                        description: null
                        isRequired: true
                        senderEmail: false
                        useAsFolderName: false
                        width: 1
                      type: email
                    - id: 2333
                      name: Subject
                      order: 2
                      settings:
                        description: null
                        isRequired: true
                        senderEmail: false
                        useAsFolderName: false
                        width: 1
                      type: text
                    - id: 2335
                      name: Message
                      order: 3
                      settings:
                        description: null
                        isRequired: false
                        senderEmail: false
                        useAsFolderName: false
                        width: 1
                      type: textarea
                    - id: 2337
                      name: Upload Area
                      order: 4
                      settings:
                        description: null
                        isRequired: false
                        senderEmail: false
                        useAsFolderName: false
                        width: 1
                      type: upload_area
                    formDescription: hello world
                    submitButtonText: goodbye world
                    successMessage: thank you
                  id: 459
                  relationships:
                    share:
                      data:
                        id: 1581
                        type: share
                  type: form
                included: []
                responseStatus: 200
              schema:
                $ref: '#/components/schemas/FormResponse'
          description: Successful Operation
      summary: Updates a form with given parameters
      tags:
      - Form
      x-content-type: application/json
      x-accepts:
      - application/json
  /notifications:
    get:
      description: |-
        Get a list of all the [notifications](/docs/account/06-notifications) you have access to. You can use sorting and filtering to limit the returned list.

        **Notes:**
          - Authenticated user should have [notifications permission](/docs/account/04-users/00-introduction#managing-user-roles-and-permissions)
      operationId: listNotifications
      parameters:
      - description: 'API Key required to make the API call. '
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Type of notification include in the list. Valid options are **file**, **folder**, **send_receipt**, **share_receipt**, **file_drop**

          If this parameter is not used, only **file** and **folder** type notifications are included in the list.
        example: file
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - file
          - folder
          - shared_folder
          - send_receipt
          - share_receipt
          - file_drop
          type: string
        style: form
      - description: Starting notification record in the result set. Can be used for
          pagination.
        example: 50
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: |-
          What order the list of matches should be in. Valid sort fields are **resourcename**, **date**, **action** and **type**. The sort order for each sort field is ascending unless it is prefixed with a minus (“-“), in which case it will be descending.

          You can chose multiple options for the sort by separating them with commmas, such as "type,-date" to sort by type, then most recent.
        example: date
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Number of notification records to return. Can be used for pagination.
        example: 100
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: "Related records to include in the response. Valid options are\
          \ **ownerUser**, **resource**, **share**"
        example: "resource,share,user"
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - resource
          - share
          - user
          type: string
        style: form
      - description: "The kind of action which triggers the notification. Valid choices\
          \ are **connect** (only for delivery receipts), **download**, **upload**,\
          \ **delete**, or **all** \n\n**Note** The **all** action matches notifications\
          \ set to \"all\", not all notifications. For example, notifications set\
          \ to trigger only on delete are not included if you filter for action=all"
        explode: true
        in: query
        name: action
        required: false
        schema:
          enum:
          - connect
          - download
          - upload
          - delete
          - all
          example: all
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - attributes:
                    action: all
                    created: 2020-07-29T09:53:17-07:00
                    message: null
                    modified: 2020-07-29T09:53:17-07:00
                    name: /Test
                    path: /Test
                    readableDescription: "anybody uploads to, downloads from or deletes\
                      \ from '/Test'"
                    readableDescriptionWithoutPath: anybody uploads to or downloads
                      from this folder
                    recipientEmails:
                    - exavault@example.com
                    recipients:
                    - created: 2020-07-29T19:51:21-07:00
                      email: exavault@example.com
                      id: null
                      modified: 2020-07-29T19:51:21-07:00
                      notificationId: null
                    sendEmail: true
                    type: folder
                    usernames:
                    - exavaultuser
                  id: 1117
                  relationships:
                    ownerUser:
                      data:
                        id: 124437
                        type: user
                    resource:
                      data:
                        id: 2554051
                        type: resource
                  type: notification
                included: []
                responseStatus: 200
                returnedResults: 1
                totalResults: 1
              schema:
                $ref: '#/components/schemas/NotificationCollectionResponse'
          description: Successful Operation
      summary: Get a list of notifications
      tags:
      - Notifications
      x-accepts:
      - application/json
    post:
      description: "Create a new notification for a [resource](#section/Identifying-Resources)\
        \ in your account. Notifications can be sent via email or webhook;\n\n- To\
        \ enable email, pass an array of email addresses to the `recipients` parameter\
        \ of this call. \n- To enable webhooks, setup the webhook callback URL in\
        \ your account settings via [PATCH /account](#operation/updateAccount). \n\
        \n**Notes:**\n  - Authenticated user should have [notifications permission](/docs/account/04-users/00-introduction#managing-user-roles-and-permissions)\n"
      operationId: addNotification
      parameters:
      - description: 'API Key required to make API call. '
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  action: upload
                  message: hello world
                  recipients:
                  - myemail@example.com
                  resource: examplefile.txt
                  sendEmail: true
                  type: file
                  usernames:
                  - exavault
                  - exavalut2
            schema:
              $ref: '#/components/schemas/AddNotificationRequestBody'
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                  attributes:
                    action: upload
                    created: 2020-07-29T20:15:09-07:00
                    message: null
                    modified: 2020-07-29T20:15:09-07:00
                    name: /Test
                    path: /Test
                    readableDescription: anybody uploads to '/Test'
                    readableDescriptionWithoutPath: anybody uploads to this folder
                    recipients:
                    - created: 2020-07-29T20:15:09-07:00
                      email: exavault@example.com
                      id: 81
                      modified: 2020-07-29T20:15:09-07:00
                      notificationId: 1143
                    - created: 2020-07-29T20:15:09-07:00
                      email: exavault@example.com
                      id: 83
                      modified: 2020-07-29T20:15:09-07:00
                      notificationId: 1143
                    sendEmail: false
                    type: folder
                    usernames:
                    - exavaultuser
                  id: 1143
                  relationships:
                    ownerUser:
                      data:
                        id: 124437
                        type: user
                    resource:
                      data:
                        id: 2554051
                        type: resource
                  type: notification
                responseStatus: 201
              schema:
                $ref: '#/components/schemas/NotificationResponse'
          description: Successful Operation
      summary: Create a new notification
      tags:
      - Notifications
      x-content-type: application/json
      x-accepts:
      - application/json
  /notifications/{id}:
    delete:
      description: |-
        Deletes a notification. Note that deleting a notification _only_ deletes the notification &ndash; it does not delete any underlying files or folders.

        **Notes:**

        - You need to have the [notifications permission](/docs/account/04-users/00-introduction#managing-user-roles-and-permissions) to update a notification.
        - You can only delete notifications owned by your user account.
      operationId: deleteNotificationById
      parameters:
      - description: API Key required to make the API call.
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "ID of the notification. Use [GET /notifications](#operation/listNotifications)\
          \ if you need to lookup an ID."
        example: 3
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: Successful Operation
      summary: Delete a notification
      tags:
      - Notifications
      x-accepts:
      - application/json
    get:
      description: "Get the details for a notification with a specific ID number.\
        \ You'll be able to review its path, triggers and who's getting the notification.\
        \ \n\n**Notes**\n\n- You need to have the [notifications permission](/docs/account/04-users/00-introduction#managing-user-roles-and-permissions)\
        \ to view the detail for a notification.\n- You can only retrieve notifications\
        \ owned by your user account."
      operationId: getNotificationById
      parameters:
      - description: API Key required to make the API call.
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "ID of the notification. Use [GET /notifications](#operation/listNotifications)\
          \ if you need to lookup an ID."
        example: 3
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Related record types to include in the response. You can include\
          \ multiple types by separating them with commas. Valid options are **ownerUser**,\
          \ **resource**, and **share**."
        example: "resource,share"
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    action: upload
                    created: 2020-07-29T20:15:09-07:00
                    message: null
                    modified: 2020-07-29T20:15:09-07:00
                    name: /Test
                    path: /Test
                    readableDescription: anybody uploads to '/Test'
                    readableDescriptionWithoutPath: anybody uploads to this folder
                    recipients:
                    - created: 2020-07-29T20:15:09-07:00
                      email: exavault@example.com
                      id: 81
                      modified: 2020-07-29T20:15:09-07:00
                      notificationId: 1143
                    - created: 2020-07-29T20:15:09-07:00
                      email: exavault+1@example.com
                      id: 83
                      modified: 2020-07-29T20:15:09-07:00
                      notificationId: 1143
                    sendEmail: false
                    type: folder
                    usernames:
                    - exavaultuser
                  id: 1143
                  relationships:
                    ownerUser:
                      data:
                        id: 124437
                        type: user
                    resource:
                      data:
                        id: 2554051
                        type: resource
                  type: notification
                included: []
                responseStatus: 200
              schema:
                $ref: '#/components/schemas/NotificationResponse'
          description: Successful Operation
      summary: Get notification details
      tags:
      - Notifications
      x-accepts:
      - application/json
    patch:
      description: "Update an existing notification. You can add additional emails\
        \ or change the action or users that cause a notification to trigger. \n\n\
        When updating recipient emails, make sure your `recipients` parameter contains\
        \ the full list of people who should be included on the notification. If you\
        \ resend the list without an existing recipient, they will be deleted from\
        \ the notification emails. \n\n**Notes:**\n\n- You need to have the [notifications\
        \ permission](/docs/account/04-users/00-introduction#managing-user-roles-and-permissions)\
        \ to update a notification.\n- You can only change notifications owned by\
        \ your user account."
      operationId: updateNotificationById
      parameters:
      - description: API Key required to make the API call.
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "ID of the notification. Use [GET /notifications](#operation/listNotifications)\
          \ if you need to lookup an ID."
        example: 3
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Example Body:
                value:
                  action: upload
                  emails:
                  - exavault@example.com
                  - exavault+1@example.com
                  sendEmail: "true"
                  usernames:
                  - notice_user_all_recipients
            schema:
              $ref: '#/components/schemas/UpdateNotificationByIdRequestBody'
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    action: all
                    created: 2020-07-29T20:15:09-07:00
                    message: null
                    modified: 2020-07-29T20:15:09-07:00
                    name: /Test
                    path: /Test
                    readableDescription: "anybody uploads to, downloads from or deletes\
                      \ from '/Test'"
                    readableDescriptionWithoutPath: anybody uploads to or downloads
                      from this folder
                    recipients:
                    - created: 2020-07-30T06:01:09-07:00
                      email: exavault@example.com
                      id: 85
                      modified: 2020-07-30T06:01:09-07:00
                      notificationId: 1143
                    - created: 2020-07-30T06:01:09-07:00
                      email: exavault+1@example.com
                      id: 87
                      modified: 2020-07-30T06:01:09-07:00
                      notificationId: 1143
                    sendEmail: false
                    type: folder
                    usernames:
                    - exavalutuser
                  id: 1143
                  relationships:
                    ownerUser:
                      data:
                        id: 124437
                        type: user
                    resource:
                      data:
                        id: 2554051
                        type: resource
                  type: notification
                included: []
                responseStatus: 200
              schema:
                $ref: '#/components/schemas/NotificationResponse'
          description: Successful Operation
      summary: Update a notification
      tags:
      - Notifications
      x-content-type: application/json
      x-accepts:
      - application/json
  /recipients/shares/invites/{shareId}:
    post:
      description: |-
        Resend invitations to one or all recipients attached to specified share. The most recent message that was sent for the share will be re-used for this email.

        You can use [GET /shares/{id}](#operation/getShareById) to view the recipient list and message history for a share. Use [PATCH /shares/{id}](#operation/updateShareById) to add or remove recipients.
      operationId: resendInvitationsForShare
      parameters:
      - description: API Key required to make the API call.
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the share to resend invites for.
        explode: false
        in: path
        name: shareId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  recipientId: 0
            schema:
              $ref: '#/components/schemas/ResendInvitationsRequestBody'
      responses:
        "201":
          content:
            application/json:
              example:
                data:
                - test+3@example.com
                - test+4@example.com
                - test+5@example.com
                responseStatus: 201
              schema:
                $ref: '#/components/schemas/ShareRecipientsResponse'
          description: Successful operation
      summary: Resend invitations to share recipients
      tags:
      - Recipients
      x-content-type: application/json
      x-accepts:
      - application/json
  /resources:
    delete:
      description: |
        Delete multiple file or folder resourcess. Deleting a folder resource will also delete any resources in that folder.

        **Notes:**
        - Authenticated user should have [delete permission](/docs/account/04-users/00-introduction#managing-user-roles-and-permissions).
        - It is not possible to un-delete a deleted resource.
      operationId: deleteResources
      parameters:
      - description: API Key
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          example: exampleaccount-zwSuWUZ8S38h33qPS8v0s
          type: string
        style: simple
      - description: Access Token
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          example: 19853ef63a0bc348024a9e4cfd4a92520d2dfd04e88d8679fb1ed6bc551593d1
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Example:
                value:
                  resources:
                  - exampleFile1.txt
                  - exampleFile2.txt
            schema:
              $ref: '#/components/schemas/DeleteResourcesRequestBody'
      responses:
        "200":
          content:
            application/json:
              example:
                data: []
                responseStatus: 200
              schema:
                $ref: '#/components/schemas/EmptyResponse'
          description: Successful Operation
        "207":
          content:
            application/json:
              example:
                responses:
                - data:
                    id: 2
                    meta:
                      path: /deletefolder
                    type: resource
                  responseStatus: 200
                - errors:
                  - code: null
                    detail: null
                    meta:
                      path: /deletefolder2
                    title: null
                  responseStatus: 404
              schema:
                $ref: '#/components/schemas/ResourceMultiResponse'
          description: Multi Response
      summary: Delete Resources
      tags:
      - Resources
      x-content-type: application/json
      x-accepts:
      - application/json
    get:
      description: |
        Returns details for specified file/folder id or hash, including upload date, size and type. For the full list of returned properties, see the response syntax, below.

        **Notes:**
        - Authenticated user should have list permission.
      operationId: getResourceInfo
      parameters:
      - description: API Key required to make the API call.
        explode: false
        in: header
        name: ev-api-key
        required: true
        schema:
          type: string
        style: simple
      - description: Access token required to make the API call.
        example: 5dc97cc607985eb8da033220e7447647e7915fbf73808
        explode: false
        in: header
        name: ev-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: Resource identifier of the file or folder to get metadata for.
        explode: true
        in: query
        name: resource
        required: true
        schema:
          type: string
        style: form
      - description: "Comma separated list of relationships to include in response.\
          \ Possible values are **share**, **notifications**, **directFile**, **parentResource**,\
          \ **ownerUser**, **ownerUser**."
        explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  attributes:
                    accessedAt: 2020-07-29T09:53:36-07:00
                    createdAt: 2020-07-28T15:59:23-07:00
                    createdBy: exavaultuser
                    extension: ""
                    fileCount: 2
                    hash: 7a2abd9f90ce196hf3f650c612372c0b
                    name: Test
                    path: /Test
                    previewable: false
                    size: 33415
                    type: dir
                    updatedAt: 2020-07-29T09:52:47-07:00
                    uploadDate: 2020-07-28T15:59:23-07:00
                  id: 2554051
                  relationships:
                    directFile:
                      data:
                        id: 101
                        type: directFile
                    notifications:
                    - data:
                        id: 1117
                        type: notification
                    ownerAccount:
                      data:
                        id: 7
                        type: account
                    ownerUser:
                      data:
                        id: 124437
                        type: user
                    parentResource:
                      data:
                        id: 103
                        type: resource
                    share:
                      data:
                        id: 1499
                        type: share
                  type: resource
                included:
                - attributes:
                    accessDescription: Download only
                    accessMode:
                      delete: false
                      download: true
                      modify: false
                      upload: false
                    assets:
                    - Test
                    created: 2020-07-29T08:51:39-07:00
                    embed: false
                    expiration: null
                    expired: false
                    fileDropCreateFolders: false
                    formId: null
                    hasNotification: false
                    hasPassword: false
                    hash: 17t-eojdhh1j
                    inherited: null
                    messages: []
                    modified: 2020-07-29T09:53:36-07:00
                    name: Test
                    ownerHash: 17t-eojowf1j-sfh242uj
                    paths:
                    - /Test
                    public: true
                    recipients: []
                    requireEmail: false
                    resent: null
                    status: 1
                    trackingStatus: null
                    type: shared_folder
                  id: 1499
                  type: share
                - attributes:
                    accountId: 7
                    blockUntil: -001-11-29T16:07:02-07:52
                    created: 2020-07-29T09:53:12-07:00
                    isEnabled: true
                    isIndexEnabled: true
                    modified: 2020-07-29T09:53:12-07:00
                    path: /Test
                  id: 101
                  type: directFile
                - attributes:
                    action: upload
                    created: 2020-07-29T20:15:09-07:00
                    message: null
                    modified: 2020-07-29T20:15:09-07:00
                    name: /Test
                    path: /Test
                    readableDescription: anybody uploads to '/Test'
                    readableDescriptionWithoutPath: anybody uploads to this folder
                    recipientEmails:
                    - exavault@example.com
                    - exavault+1@example.com
                    recipients:
                    - created: 2020-07-29T20:15:09-07:00
                      email: exavault@example.com
                      id: 81
                      modified: 2020-07-29T20:15:09-07:00
                      notificationId: 1143
                    - created: 2020-07-29T20:15:09-07:00
                      email: exavault+1@example.com
                      id: 83
                      modified: 2020-07-29T20:15:09-07:00
                      notificationId: 1143
                    sendEmail: false
                    type: folder
                    usernames:
                    - exavaultuser
                  id: 1143
                  relationships:
                    ownerUser:
                      data:
                        id: 124437
                        type: user
                    resource:
                      data:
                        id: 2554051
                        type: resource
                  type: notification
                - attributes:
                    accessTimestamp: 2020-07-27 19:32:45
                    accountName: exavault
                    created: 2020-07-24T07:51:12-07:00
                    email: test@example.com
                    expiration: null
                    firstLogin: false
                    homeDir: /
                    modified: 2020-07-24T07:51:13-07:00
                    nickname: exavaultnickname
                    onboarding: true
                    permissions:
                      changePassword: true
                      delete: true
                      deleteFormData: true
                      download: true
                      list: true
                      modify: true
                      notification: true
                      share: true
                      upload: true
                      viewFormData: true
                    role: master
                    status: 1
                    timeZone: America/Los_Angeles
                    username: exavaultuser
                  id: 124419
                  relationships:
                    homeResource:
                      data:
                        id: 2536831
                        type: resource
                    ownerAccount:
                      data:
                        id: 251
                        type: account
                  type: user
                - attributes:
                    accountName: exampleaccount
                    accountOnboarding: true
                    allowedIp: null
                    branding: true
                    clientId: 1
                    complexPasswords: false
                    created: 2019-05-30T20:48:57Z
                    customDomain: false
                    customSignature: null
                    externalDomains: null
                    maxUsers: 5
                    modified: 2019-08-27T01:03:41Z
                    quota:
                      diskLimit: 37580963840
                      diskUsed: 24938382543
                      noticeEnabled: true
                      noticeThreshold: 90
                    secureOnly: false
                    showReferralLinks: true
                    status: 1
                    userCount: 4
                    welcomeEmailContent: |
                      "Great news, your new account is ready!\n\nFor your records, we've listed information you'll use to log in below:\n\nFTP Server: [[ftpserver]]\n\nUsername (Web and FTP access): [[username]]\n\n[[setpassword]]"
                    welcomeEmailSubject: ExaVault File Sharing Account
                  id: 7
                  relationships:
                    masterUser:
                      data:
                        id: 1
                        type: user
                  type: account
                - attributes:
                    accessedAt: 2011-03-21T00:18:56-07:00
                    createdAt: 2011-03-21T00:18:56-07:00
                    createdBy: exampleuser
                    extension: dir
                    fileCount: 3
                    hash: ec4aa9a91be282666a165899a14f29b1
                    name: examplefolder
                    path: /examplefolder
                    previewable: false
                    size: 12321321
                    updatedAt: 2011-03-21T00:18:56-07:00
                    uploadDate: 2011-03-21T00:18:56-07:00
                  id: 2
                  relationships:
                    directFile:
                      data:
                        id: 101
                        type: directFile
                    notifications:
                    - data:
                        id: 1117
                        type: notification
                    ownerAccount:
                      data:
                        id: 7
                        type: account
                    ownerUser:
                      data:
                        id: 124437
                        type: user
                    parentResource:
                      data:
                        id: 103
                        type: resource
                    share:
                      data:
                        id: 1499
                        type: share
                  type: resource
                responseStatus: 200
              schema:
[...]
