openapi: 3.0.1
info:
  description: Volume operation endpoints and objects.
  title: FabricAdminClient
  version: 2018-10-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2018-10-01/Volume.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: azsadmin-Volume
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/volumes
  : get:
      description: Returns a list of all storage volumes at a location.
      operationId: Volumes_List
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the scale units.
        in: path
        name: scaleUnit
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the storage system.
        in: path
        name: storageSubSystem
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-10-01
          type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeList'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - Volumes
      x-ms-examples:
        Returns a list of all storage volumes at a location.:
          parameters:
            api-version: 2018-10-01
            location: local
            resourceGroupName: System.local
            scaleUnit: S-Cluster
            storageSubSystem: S-Cluster.azurestack.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster/storageSubSystems/S-Cluster.azurestack.local/volumes/05c1cbb7
                  location: local
                  name: 05c1cbb7
                  properties:
                    action: ""
                    description: ""
                    healthStatus: Healthy
                    operationalStatus: OK
                    remainingCapacityGB: 30416
                    repairStatus: ""
                    totalCapacityGB: 30797
                    volumeLabel: SU1_Volume
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems/volumes
            "404": {}
      x-ms-odata: '#/definitions/Volume'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/volumes/{volume}
  : get:
      description: Return the requested a storage volume.
      operationId: Volumes_Get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the scale units.
        in: path
        name: scaleUnit
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the storage system.
        in: path
        name: storageSubSystem
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the storage volume.
        in: path
        name: volume
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-10-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - Volumes
      x-ms-examples:
        Return the requested a storage volume.:
          parameters:
            api-version: 2018-10-01
            location: local
            resourceGroupName: System.local
            scaleUnit: S-Cluster
            storageSubSystem: S-Cluster.azurestack.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            volume: 28fbffa4
          responses:
            "200":
              body:
                id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster/storageSubSystems/S-Cluster.azurestack.local/volumes/05c1cbb7
                location: local
                name: 05c1cbb7
                properties:
                  action: ""
                  description: ""
                  healthStatus: Healthy
                  operationalStatus: OK
                  remainingCapacityGB: 30416
                  repairStatus: ""
                  totalCapacityGB: 30797
                  volumeLabel: SU1_Volume
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems/volumes
            "404": {}
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2018-10-01
        type: string
    VolumeParameter:
      description: Name of the storage volume.
      in: path
      name: volume
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Volume:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Representation of a volume resource.
      example:
        properties:
          operationalStatus: operationalStatus
          volumeLabel: volumeLabel
          healthStatus: healthStatus
          repairStatus: repairStatus
          remainingCapacityGB: 0
          action: action
          description: description
          totalCapacityGB: 6
      properties:
        properties:
          $ref: '#/components/schemas/VolumeModel'
    VolumeList:
      description: Pageable list of storage volumes.
      example:
        value:
        - properties:
            operationalStatus: operationalStatus
            volumeLabel: volumeLabel
            healthStatus: healthStatus
            repairStatus: repairStatus
            remainingCapacityGB: 0
            action: action
            description: description
            totalCapacityGB: 6
        - properties:
            operationalStatus: operationalStatus
            volumeLabel: volumeLabel
            healthStatus: healthStatus
            repairStatus: repairStatus
            remainingCapacityGB: 0
            action: action
            description: description
            totalCapacityGB: 6
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of storage volumes.
          items:
            $ref: '#/components/schemas/Volume'
          type: array
      type: object
    VolumeModel:
      description: Properties of a volume.
      example:
        operationalStatus: operationalStatus
        volumeLabel: volumeLabel
        healthStatus: healthStatus
        repairStatus: repairStatus
        remainingCapacityGB: 0
        action: action
        description: description
        totalCapacityGB: 6
      properties:
        action:
          description: Detailed recommended action for HealthStatus/OperationalStatus.
            Empty if HealthStatus/OperationalStatus is Healthy/Ok.
          type: string
        description:
          description: Detailed description for HealthStatus/OperationalStatus. Empty
            if HealthStatus/OperationalStatus is Healthy/Ok.
          type: string
        healthStatus:
          description: Health status of the volume.
          type: string
        operationalStatus:
          description: Operational status of the volume.
          type: string
        remainingCapacityGB:
          description: Remaining capacity in GB of the volume.
          format: int32
          type: integer
        repairStatus:
          description: "Repair status of the volume. Empty if no repair job running,\
            \ something like 'Running, 90%' when repairing."
          type: string
        totalCapacityGB:
          description: Total capacity in GB of the volume.
          format: int32
          type: integer
        volumeLabel:
          description: Volume label.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

