openapi: 3.0.1
info:
  description: This Swagger was generated by the API Framework.
  title: Azure Media Services
  version: 2019-09-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mediaservices/resource-manager/Microsoft.Media/preview/2019-09-01-preview/MediaGraphs.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: mediaservices-MediaGraphs
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/mediaGraphs
  : get:
      description: Lists Media Graphs in the Media Services account
      operationId: MediaGraphs_List
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Specifies a non-negative integer n that limits the number of
          items returned from a collection. The service returns the number of available
          items up to but not greater than the specified value n.
        in: query
        name: $top
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaGraphCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: List Media Graphs
      x-ms-examples:
        List all Media Graphs:
          parameters:
            accountName: contosomedia
            api-version: 2019-09-01-preview
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - name: SampleMediaGraph0
                  properties:
                    created: 2019-09-01T00:00:00Z
                    description: ""
                    lastModified: 2019-09-01T00:00:00Z
                    sinks:
                    - '@odata.type': '#Microsoft.Media.MediaGraphAssetSink'
                      assetName: Sample Asset0
                      inputs:
                      - RTSPSource0
                      name: AssetSink0
                    sources:
                    - '@odata.type': '#Microsoft.Media.MediaGraphRtspSource'
                      name: RTSPSource0
                      rtspUrl: rtsp://contoso.com:554/stream0
                    state: Stopped
                - name: SampleMediaGraph1
                  properties:
                    created: 2019-09-01T00:00:00Z
                    description: ""
                    lastModified: 2019-09-01T00:00:00Z
                    sinks:
                    - '@odata.type': '#Microsoft.Media.MediaGraphAssetSink'
                      assetName: Sample Asset1
                      inputs:
                      - RTSPSource1
                      name: AssetSink1
                    sources:
                    - '@odata.type': '#Microsoft.Media.MediaGraphRtspSource'
                      name: RTSPSource1
                      rtspUrl: rtsp://contoso.com:554/stream1
                    state: Stopped
                - name: SampleMediaGraph2
                  properties:
                    created: 2019-09-01T00:00:00Z
                    description: ""
                    lastModified: 2019-09-01T00:00:00Z
                    sinks:
                    - '@odata.type': '#Microsoft.Media.MediaGraphAssetSink'
                      assetName: Sample Asset2
                      inputs:
                      - RTSPSource2
                      name: AssetSink2
                    sources:
                    - '@odata.type': '#Microsoft.Media.MediaGraphRtspSource'
                      name: RTSPSource2
                      rtspUrl: rtsp://contoso.com:554/stream2
                    state: Stopped
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/mediaGraphs/{mediaGraphName}
  : delete:
      description: Deletes a Media Graph in the Media Services account
      operationId: MediaGraphs_Delete
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Graph name.
        in: path
        name: mediaGraphName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Delete a Media Graph
      x-ms-examples:
        Delete a Media Graph:
          parameters:
            accountName: contosomedia
            api-version: 2019-09-01-preview
            mediaGraphName: SampleMediaGraph
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get the details of a Media Graph in the Media Services account
      operationId: MediaGraphs_Get
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Graph name.
        in: path
        name: mediaGraphName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaGraph'
          description: OK
        "404":
          content: {}
          description: NotFound
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Get a Media Graph
      x-ms-examples:
        Get a Media Graph by name:
          parameters:
            accountName: contosomedia
            api-version: 2019-09-01-preview
            mediaGraphName: SampleMediaGraph1
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                name: SampleMediaGraph1
                properties:
                  created: 2019-09-01T00:00:00Z
                  description: ""
                  lastModified: 2019-09-01T00:00:00Z
                  sinks:
                  - '@odata.type': '#Microsoft.Media.MediaGraphAssetSink'
                    assetName: Sample Asset1
                    inputs:
                    - RTSPSource1
                    name: AssetSink1
                  sources:
                  - '@odata.type': '#Microsoft.Media.MediaGraphRtspSource'
                    name: RTSPSource1
                    rtspUrl: rtsp://contoso.com:554/stream1
                  state: Stopped
            "404": {}
      x-accepts:
      - application/json
    put:
      description: Create or update a Media Graph in the Media Services account
      operationId: MediaGraphs_CreateOrUpdate
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Graph name.
        in: path
        name: mediaGraphName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaGraph'
        description: The request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaGraph'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Create or update a Media Graph
      x-ms-examples:
        Create or update a Media Graph:
          parameters:
            accountName: contosomedia
            api-version: 2019-09-01-preview
            mediaGraphName: SampleMediaGraph
            parameters:
              properties:
                description: updated description
                sinks:
                - '@odata.type': '#Microsoft.Media.MediaGraphAssetSink'
                  assetName: SampleAsset
                  inputs:
                  - rtspSource
                  name: AssetSink
                sources:
                - '@odata.type': '#Microsoft.Media.MediaGraphRtspSource'
                  credentials:
                    password: examplepassword
                    username: exampleusername
                  name: rtspSource
                  rtspUrl: rtsp://contoso.com:554/stream1
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                name: SampleMediaGraph
                properties:
                  created: 2019-09-01T00:00:00Z
                  description: updated description
                  lastModified: 2019-09-01T00:00:00Z
                  sinks:
                  - '@odata.type': '#Microsoft.Media.MediaGraphAssetSink'
                    assetName: SampleAsset
                    inputs:
                    - rtspSource
                    name: AssetSink
                  sources:
                  - '@odata.type': '#Microsoft.Media.MediaGraphRtspSource'
                    name: rtspSource
                    rtspUrl: rtsp://contoso.com:554/stream1
                  state: Stopped
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/mediaGraphs/{mediaGraphName}/operationResults/{operationId}
  : get:
      description: Get the operation result of a Media Graph in the Media Services
        account
      operationId: OperationResults_Get
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Graph name.
        in: path
        name: mediaGraphName
        required: true
        schema:
          type: string
      - description: The operation ID
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaGraphOperationResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Get the operation result
      x-ms-examples:
        Get the operation result:
          parameters:
            accountName: contosomedia
            api-version: 2019-09-01-preview
            mediaGraphName: SampleMediaGraph
            operationId: 7877d0da-ae9b-4c5b-a1fa-c9ece3ef5d11
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/mediaGraphs/{mediaGraphName}/operationsStatus/{operationId}
  : get:
      description: Get the operation status of a Media Graph in the media services
        account
      operationId: OperationsStatus_Get
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Graph name.
        in: path
        name: mediaGraphName
        required: true
        schema:
          type: string
      - description: The operation ID
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaGraphOperationStatus'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Get the operation status
      x-ms-examples:
        Get the operation status:
          parameters:
            accountName: contosomedia
            api-version: 2019-09-01-preview
            mediaGraphName: SampleMediaGraph
            operationId: 7877d0da-ae9b-4c5b-a1fa-c9ece3ef5d11
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                name: 7877d0da-ae9b-4c5b-a1fa-c9ece3ef5d11
                status: Succeeded
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/mediaGraphs/{mediaGraphName}/start
  : post:
      description: Start a Media Graph in the Media Services account
      operationId: MediaGraphs_Start
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Graph name.
        in: path
        name: mediaGraphName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Start a Media Graph
      x-ms-examples:
        Start Media Graph:
          parameters:
            accountName: contosomedia
            api-version: 2019-09-01-preview
            mediaGraphName: SampleMediaGraph
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/mediaGraphs/{mediaGraphName}/stop
  : post:
      description: Stop a Media Graph in the Media Services account
      operationId: MediaGraphs_Stop
      parameters:
      - description: The unique identifier for a Microsoft Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Media Graph name.
        in: path
        name: mediaGraphName
        required: true
        schema:
          type: string
      - description: The Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
          description: Detailed error information.
      summary: Stop a Media Graph
      x-ms-examples:
        Stop Media Graph:
          parameters:
            accountName: contosomedia
            api-version: 2019-09-01-preview
            mediaGraphName: SampleMediaGraph
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersion:
      description: The Version of the API to be used with the client request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    MediaServicesAccountName:
      description: The Media Services account name.
      in: path
      name: accountName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupName:
      description: The name of the resource group within the Azure subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: The unique identifier for a Microsoft Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApiError:
      description: The API error.
      example:
        error:
          code: code
          details:
          - null
          - null
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ODataError'
      type: object
    MediaGraph:
      allOf:
      - allOf:
        - description: The core properties of ARM resources.
          properties:
            id:
              description: Fully qualified resource ID for the resource.
              readOnly: true
              type: string
            name:
              description: The name of the resource.
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource.
      description: The Media Graph.
      example:
        properties:
          sources:
          - '@odata.type': '@odata.type'
            name: name
          - '@odata.type': '@odata.type'
            name: name
          sinks:
          - '@odata.type': '@odata.type'
            inputs:
            - inputs
            - inputs
            name: name
          - '@odata.type': '@odata.type'
            inputs:
            - inputs
            - inputs
            name: name
          created: 2000-01-23T04:56:07.000+00:00
          description: description
          lastModified: 2000-01-23T04:56:07.000+00:00
          state: Running
      properties:
        properties:
          $ref: '#/components/schemas/MediaGraphProperties'
    MediaGraphAssetSink:
      allOf:
      - $ref: '#/components/schemas/MediaGraphSink'
      description: Asset sink
      properties:
        assetName:
          description: Asset name
          type: string
      required:
      - assetName
      x-ms-discriminator-value: '#Microsoft.Media.MediaGraphAssetSink'
    MediaGraphCollection:
      description: A collection of MediaGraph items.
      example:
        '@odata.nextLink': '@odata.nextLink'
        value:
        - properties:
            sources:
            - '@odata.type': '@odata.type'
              name: name
            - '@odata.type': '@odata.type'
              name: name
            sinks:
            - '@odata.type': '@odata.type'
              inputs:
              - inputs
              - inputs
              name: name
            - '@odata.type': '@odata.type'
              inputs:
              - inputs
              - inputs
              name: name
            created: 2000-01-23T04:56:07.000+00:00
            description: description
            lastModified: 2000-01-23T04:56:07.000+00:00
            state: Running
        - properties:
            sources:
            - '@odata.type': '@odata.type'
              name: name
            - '@odata.type': '@odata.type'
              name: name
            sinks:
            - '@odata.type': '@odata.type'
              inputs:
              - inputs
              - inputs
              name: name
            - '@odata.type': '@odata.type'
              inputs:
              - inputs
              - inputs
              name: name
            created: 2000-01-23T04:56:07.000+00:00
            description: description
            lastModified: 2000-01-23T04:56:07.000+00:00
            state: Running
      properties:
        '@odata.nextLink':
          description: A link to the next page of the collection (when the collection
            contains too many results to return in one response).
          type: string
        value:
          description: A collection of MediaGraph items.
          items:
            $ref: '#/components/schemas/MediaGraph'
          type: array
      type: object
    MediaGraphOperationError:
      description: The operation error
      example:
        code: code
        message: message
      properties:
        code:
          description: The operation error code
          type: string
        message:
          description: The operation error message
          type: string
      type: object
    MediaGraphOperationResult:
      description: The result of the Media Graph operation
      type: object
    MediaGraphOperationStatus:
      description: The status of the Media Graph operation
      example:
        name: name
        error:
          code: code
          message: message
        status: status
      properties:
        error:
          $ref: '#/components/schemas/MediaGraphOperationError'
        name:
          description: The name of the Media Graph operation
          type: string
        status:
          description: The status of the Media Graph operation
          type: string
      required:
      - name
      type: object
    MediaGraphProperties:
      description: Class for Media Graph properties
      example:
        sources:
        - '@odata.type': '@odata.type'
          name: name
        - '@odata.type': '@odata.type'
          name: name
        sinks:
        - '@odata.type': '@odata.type'
          inputs:
          - inputs
          - inputs
          name: name
        - '@odata.type': '@odata.type'
          inputs:
          - inputs
          - inputs
          name: name
        created: 2000-01-23T04:56:07.000+00:00
        description: description
        lastModified: 2000-01-23T04:56:07.000+00:00
        state: Running
      properties:
        created:
          description: Date the Media Graph was created
          format: date-time
          nullable: false
          readOnly: true
          type: string
        description:
          description: Media Graph  description
          type: string
        lastModified:
          description: Date the Media Graph was last modified
          format: date-time
          nullable: false
          readOnly: true
          type: string
        sinks:
          description: Media Graph sinks
          items:
            $ref: '#/components/schemas/MediaGraphSink'
          type: array
        sources:
          description: Media Graph sources
          items:
            $ref: '#/components/schemas/MediaGraphSource'
          type: array
        state:
          description: Media Graph state
          enum:
          - Running
          - Starting
          - Stopped
          - Stopping
          nullable: false
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: MediaGraphState
            values:
            - description: Media Graph is Running
              value: Running
            - description: Media Graph is Starting
              value: Starting
            - description: Media Graph has Stopped
              value: Stopped
            - description: Media Graph is Stopping
              value: Stopping
      required:
      - sinks
      - sources
      type: object
    MediaGraphRtspSource:
      allOf:
      - $ref: '#/components/schemas/MediaGraphSource'
      description: RTSP source
      properties:
        credentials:
          $ref: '#/components/schemas/MediaGraphUserCredentials'
        rtspUrl:
          description: RTSP URL
          type: string
      required:
      - rtspUrl
      x-ms-discriminator-value: '#Microsoft.Media.MediaGraphRtspSource'
    MediaGraphSink:
      description: Media Sink
      discriminator:
        propertyName: '@odata.type'
      example:
        '@odata.type': '@odata.type'
        inputs:
        - inputs
        - inputs
        name: name
      properties:
        '@odata.type':
          description: The discriminator for derived types.
          type: string
        inputs:
          description: Sink inputs
          items:
            type: string
          type: array
        name:
          description: Sink name
          type: string
      required:
      - '@odata.type'
      - inputs
      - name
      type: object
    MediaGraphSource:
      description: Media source
      discriminator:
        propertyName: '@odata.type'
      example:
        '@odata.type': '@odata.type'
        name: name
      properties:
        '@odata.type':
          description: The discriminator for derived types.
          type: string
        name:
          description: Source name
          type: string
      required:
      - '@odata.type'
      - name
      type: object
    MediaGraphUserCredentials:
      description: Credentials to authenticate to Media Graph sources
      properties:
        password:
          description: Password credential
          type: string
        username:
          description: User name
          type: string
      required:
      - password
      - username
      type: object
    ODataError:
      description: Information about an error.
      example:
        code: code
        details:
        - null
        - null
        message: message
        target: target
      properties:
        code:
          description: A language-independent error name.
          type: string
        details:
          description: The error details.
          items:
            $ref: '#/components/schemas/ODataError'
          type: array
        message:
          description: The error message.
          type: string
        target:
          description: "The target of the error (for example, the name of the property\
            \ in error)."
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

