openapi: 3.0.1
info:
  title: AppServiceCertificateOrders API Client
  version: 2019-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2019-08-01/AppServiceCertificateOrders.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-AppServiceCertificateOrders
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/certificateOrders:
    get:
      description: Description for List all certificate orders in a subscription.
      operationId: app_service_certificate_orders_list
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrderCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: List all certificate orders in a subscription.
      tags:
      - AppServiceCertificateOrders
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/validateCertificateRegistrationInformation:
    post:
      description: Description for Validate information for a certificate order.
      operationId: app_service_certificate_orders_validate_purchase_information
      parameters:
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificateOrder'
        description: Information for a certificate order.
        required: true
        x-body-name: appServiceCertificateOrder
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Validate information for a certificate order.
      tags:
      - AppServiceCertificateOrders
      x-codegen-request-body-name: appServiceCertificateOrder
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders
  : get:
      description: Description for Get certificate orders in a resource group.
      operationId: app_service_certificate_orders_list_by_resource_group
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrderCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Get certificate orders in a resource group.
      tags:
      - AppServiceCertificateOrders
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}
  : delete:
      description: Description for Delete an existing certificate order.
      operationId: app_service_certificate_orders_delete
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted certificate order.
        "204":
          content: {}
          description: Certificate order does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Delete an existing certificate order.
      tags:
      - AppServiceCertificateOrders
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
    get:
      description: Description for Get a certificate order.
      operationId: app_service_certificate_orders_get
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order..
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Get a certificate order.
      tags:
      - AppServiceCertificateOrders
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
    patch:
      description: Description for Create or update a certificate purchase order.
      operationId: app_service_certificate_orders_update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificateOrderPatchResource'
        description: Distinguished name to use for the certificate order.
        required: true
        x-body-name: certificateDistinguishedName
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: App Service Certificate Order is created.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: App Service Certificate Order creation operation is in progress
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Create or update a certificate purchase order.
      tags:
      - AppServiceCertificateOrders
      x-codegen-request-body-name: certificateDistinguishedName
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
    put:
      description: Description for Create or update a certificate purchase order.
      operationId: app_service_certificate_orders_create_or_update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificateOrder'
        description: Distinguished name to use for the certificate order.
        required: true
        x-body-name: certificateDistinguishedName
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: App Service Certificate Order is created.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrder'
          description: App Service Certificate Order creation operation is in progress
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Create or update a certificate purchase order.
      tags:
      - AppServiceCertificateOrders
      x-ms-long-running-operation: true
      x-codegen-request-body-name: certificateDistinguishedName
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates
  : get:
      description: Description for List all certificates associated with a certificate
        order.
      operationId: app_service_certificate_orders_list_certificates
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateCollection'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: List all certificates associated with a certificate order.
      tags:
      - AppServiceCertificateOrders
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates/{name}
  : delete:
      description: Description for Delete the certificate associated with a certificate
        order.
      operationId: app_service_certificate_orders_delete_certificate
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted certificate.
        "204":
          content: {}
          description: Certificate does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Delete the certificate associated with a certificate order.
      tags:
      - AppServiceCertificateOrders
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
    get:
      description: Description for Get the certificate associated with a certificate
        order.
      operationId: app_service_certificate_orders_get_certificate
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Get the certificate associated with a certificate order.
      tags:
      - AppServiceCertificateOrders
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
    patch:
      description: Description for Creates or updates a certificate and associates
        with key vault secret.
      operationId: app_service_certificate_orders_update_certificate
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificatePatchResource'
        description: Key vault certificate resource Id.
        required: true
        x-body-name: keyVaultCertificate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: App Service Certificate is created.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: App Service Certificate creation operation is in progress
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Creates or updates a certificate and associates with key vault secret.
      tags:
      - AppServiceCertificateOrders
      x-codegen-request-body-name: keyVaultCertificate
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
    put:
      description: Description for Creates or updates a certificate and associates
        with key vault secret.
      operationId: app_service_certificate_orders_create_or_update_certificate
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificateResource'
        description: Key vault certificate resource Id.
        required: true
        x-body-name: keyVaultCertificate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: App Service Certificate is created.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateResource'
          description: App Service Certificate creation operation is in progress
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Creates or updates a certificate and associates with key vault secret.
      tags:
      - AppServiceCertificateOrders
      x-ms-long-running-operation: true
      x-codegen-request-body-name: keyVaultCertificate
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/reissue
  : post:
      description: Description for Reissue an existing certificate order.
      operationId: app_service_certificate_orders_reissue
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
        description: Parameters for the reissue.
        required: true
        x-body-name: reissueCertificateOrderRequest
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Reissue an existing certificate order.
      tags:
      - AppServiceCertificateOrders
      x-codegen-request-body-name: reissueCertificateOrderRequest
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/renew
  : post:
      description: Description for Renew an existing certificate order.
      operationId: app_service_certificate_orders_renew
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
        description: Renew parameters
        required: true
        x-body-name: renewCertificateOrderRequest
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Renew an existing certificate order.
      tags:
      - AppServiceCertificateOrders
      x-codegen-request-body-name: renewCertificateOrderRequest
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/resendEmail
  : post:
      description: Description for Resend certificate email.
      operationId: app_service_certificate_orders_resend_email
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Resend certificate email.
      tags:
      - AppServiceCertificateOrders
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/resendRequestEmails
  : post:
      description: Description for Verify domain ownership for this certificate order.
      operationId: app_service_certificate_orders_resend_request_emails
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServiceCertificateOrders_ResendRequestEmails_request'
        description: Email address
        required: true
        x-body-name: nameIdentifier
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Verify domain ownership for this certificate order.
      tags:
      - AppServiceCertificateOrders
      x-codegen-request-body-name: nameIdentifier
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/retrieveSiteSeal
  : post:
      description: Description for Verify domain ownership for this certificate order.
      operationId: app_service_certificate_orders_retrieve_site_seal
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteSealRequest'
        description: Site seal request.
        required: true
        x-body-name: siteSealRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteSeal'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Verify domain ownership for this certificate order.
      tags:
      - AppServiceCertificateOrders
      x-codegen-request-body-name: siteSealRequest
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/verifyDomainOwnership
  : post:
      description: Description for Verify domain ownership for this certificate order.
      operationId: app_service_certificate_orders_verify_domain_ownership
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Verify domain ownership for this certificate order.
      tags:
      - AppServiceCertificateOrders
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveCertificateActions
  : post:
      description: Description for Retrieve the list of certificate actions.
      operationId: app_service_certificate_orders_retrieve_certificate_actions
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Retrieve the list of certificate actions.
      tags:
      - AppServiceCertificateOrders
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveEmailHistory
  : post:
      description: Description for Retrieve email history.
      operationId: app_service_certificate_orders_retrieve_certificate_email_history
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the certificate order.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateEmail'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response'
          description: App Service error response.
      summary: Retrieve email history.
      tags:
      - AppServiceCertificateOrders
      x-openapi-router-controller: openapi_server.controllers.app_service_certificate_orders_controller
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AppServiceCertificate:
      description: Key Vault container for a certificate that is purchased through
        Azure.
      example:
        keyVaultSecretName: keyVaultSecretName
        provisioningState: Initialized
        keyVaultId: keyVaultId
      properties:
        keyVaultId:
          description: Key Vault resource Id.
          title: keyVaultId
          type: string
        keyVaultSecretName:
          description: Key Vault secret name.
          title: keyVaultSecretName
          type: string
        provisioningState:
          description: Status of the Key Vault secret.
          enum:
          - Initialized
          - WaitingOnCertificateOrder
          - Succeeded
          - CertificateOrderFailed
          - OperationNotPermittedOnKeyVault
          - AzureServiceUnauthorizedToAccessKeyVault
          - KeyVaultDoesNotExist
          - KeyVaultSecretDoesNotExist
          - UnknownError
          - ExternalPrivateKey
          - Unknown
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: false
            name: KeyVaultSecretStatus
      title: AppServiceCertificate
      type: object
    AppServiceCertificateCollection:
      description: Collection of certificate order certificates.
      example:
        value:
        - properties:
            keyVaultSecretName: keyVaultSecretName
            provisioningState: Initialized
            keyVaultId: keyVaultId
        - properties:
            keyVaultSecretName: keyVaultSecretName
            provisioningState: Initialized
            keyVaultId: keyVaultId
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/AppServiceCertificateResource'
          title: value
          type: array
      required:
      - value
      title: AppServiceCertificateCollection
      type: object
    AppServiceCertificateOrder:
      allOf:
      - description: Azure resource. This resource is tracked in Azure Resource Manager
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          location:
            description: Resource Location.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        required:
        - location
        type: object
        x-ms-azure-resource: true
      description: SSL certificate purchase order.
      example:
        properties: "{}"
      properties:
        properties:
          description: AppServiceCertificateOrder resource specific properties
          properties:
            appServiceCertificateNotRenewableReasons:
              description: Reasons why App Service Certificate is not renewable at
                the current moment.
              items:
                enum:
                - RegistrationStatusNotSupportedForRenewal
                - ExpirationNotInRenewalTimeRange
                - SubscriptionNotActive
                type: string
              readOnly: true
              title: appServiceCertificateNotRenewableReasons
              type: array
            autoRenew:
              default: true
              description: "<code>true</code> if the certificate should be automatically\
                \ renewed when it expires; otherwise, <code>false</code>."
              title: autoRenew
              type: boolean
            certificates:
              additionalProperties:
                $ref: '#/components/schemas/AppServiceCertificate'
              description: State of the Key Vault secret.
              title: certificates
              type: object
            csr:
              description: Last CSR that was created for this order.
              title: csr
              type: string
              x-ms-mutability:
              - create
              - read
            distinguishedName:
              description: Certificate distinguished name.
              title: distinguishedName
              type: string
              x-ms-mutability:
              - create
              - read
            domainVerificationToken:
              description: Domain verification token.
              readOnly: true
              title: domainVerificationToken
              type: string
            expirationTime:
              description: Certificate expiration time.
              format: date-time
              readOnly: true
              title: expirationTime
              type: string
            intermediate:
              $ref: '#/components/schemas/CertificateDetails'
            isPrivateKeyExternal:
              description: "<code>true</code> if private key is external; otherwise,\
                \ <code>false</code>."
              readOnly: true
              title: isPrivateKeyExternal
              type: boolean
            keySize:
              default: 2048
              description: Certificate key size.
              format: int32
              title: keySize
              type: integer
              x-ms-mutability:
              - create
              - read
            lastCertificateIssuanceTime:
              description: Certificate last issuance time.
              format: date-time
              readOnly: true
              title: lastCertificateIssuanceTime
              type: string
            nextAutoRenewalTimeStamp:
              description: Time stamp when the certificate would be auto renewed next
              format: date-time
              readOnly: true
              title: nextAutoRenewalTimeStamp
              type: string
            productType:
              description: Certificate product type.
              enum:
              - StandardDomainValidatedSsl
              - StandardDomainValidatedWildCardSsl
              title: productType
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateProductType
              x-ms-mutability:
              - create
              - read
            provisioningState:
              description: Status of certificate order.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
              readOnly: true
              title: provisioningState
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            root:
              $ref: '#/components/schemas/CertificateDetails'
            serialNumber:
              description: Current serial number of the certificate.
              readOnly: true
              title: serialNumber
              type: string
            signedCertificate:
              $ref: '#/components/schemas/CertificateDetails'
            status:
              description: Current order status.
              enum:
              - Pendingissuance
              - Issued
              - Revoked
              - Canceled
              - Denied
              - Pendingrevocation
              - PendingRekey
              - Unused
              - Expired
              - NotSubmitted
              readOnly: true
              title: status
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateOrderStatus
            validityInYears:
              default: 1
              description: Duration in years (must be between 1 and 3).
              format: int32
              maximum: 3
              minimum: 1
              title: validityInYears
              type: integer
              x-ms-mutability:
              - create
              - read
          required:
          - productType
          title: properties
          type: object
          x-ms-client-flatten: true
      title: AppServiceCertificateOrder
    AppServiceCertificateOrderCollection:
      description: Collection of certificate orders.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/AppServiceCertificateOrder'
          title: value
          type: array
      required:
      - value
      title: AppServiceCertificateOrderCollection
      type: object
    AppServiceCertificateOrderPatchResource:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: ARM resource for a certificate order that is purchased through
        Azure.
      example:
        properties: "{}"
      properties:
        properties:
          description: AppServiceCertificateOrderPatchResource resource specific properties
          properties:
            appServiceCertificateNotRenewableReasons:
              description: Reasons why App Service Certificate is not renewable at
                the current moment.
              items:
                enum:
                - RegistrationStatusNotSupportedForRenewal
                - ExpirationNotInRenewalTimeRange
                - SubscriptionNotActive
                type: string
              readOnly: true
              title: appServiceCertificateNotRenewableReasons
              type: array
            autoRenew:
              default: true
              description: "<code>true</code> if the certificate should be automatically\
                \ renewed when it expires; otherwise, <code>false</code>."
              title: autoRenew
              type: boolean
            certificates:
              additionalProperties:
                $ref: '#/components/schemas/AppServiceCertificate'
              description: State of the Key Vault secret.
              title: certificates
              type: object
            csr:
              description: Last CSR that was created for this order.
              title: csr
              type: string
              x-ms-mutability:
              - create
              - read
            distinguishedName:
              description: Certificate distinguished name.
              title: distinguishedName
              type: string
              x-ms-mutability:
              - create
              - read
            domainVerificationToken:
              description: Domain verification token.
              readOnly: true
              title: domainVerificationToken
              type: string
            expirationTime:
              description: Certificate expiration time.
              format: date-time
              readOnly: true
              title: expirationTime
              type: string
            intermediate:
              $ref: '#/components/schemas/CertificateDetails'
            isPrivateKeyExternal:
              description: "<code>true</code> if private key is external; otherwise,\
                \ <code>false</code>."
              readOnly: true
              title: isPrivateKeyExternal
              type: boolean
            keySize:
              default: 2048
              description: Certificate key size.
              format: int32
              title: keySize
              type: integer
              x-ms-mutability:
              - create
              - read
            lastCertificateIssuanceTime:
              description: Certificate last issuance time.
              format: date-time
              readOnly: true
              title: lastCertificateIssuanceTime
              type: string
            nextAutoRenewalTimeStamp:
              description: Time stamp when the certificate would be auto renewed next
              format: date-time
              readOnly: true
              title: nextAutoRenewalTimeStamp
              type: string
            productType:
              description: Certificate product type.
              enum:
              - StandardDomainValidatedSsl
              - StandardDomainValidatedWildCardSsl
              title: productType
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateProductType
              x-ms-mutability:
              - create
              - read
            provisioningState:
              description: Status of certificate order.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
              readOnly: true
              title: provisioningState
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            root:
              $ref: '#/components/schemas/CertificateDetails'
            serialNumber:
              description: Current serial number of the certificate.
              readOnly: true
              title: serialNumber
              type: string
            signedCertificate:
              $ref: '#/components/schemas/CertificateDetails'
            status:
              description: Current order status.
              enum:
              - Pendingissuance
              - Issued
              - Revoked
              - Canceled
              - Denied
              - Pendingrevocation
              - PendingRekey
              - Unused
              - Expired
              - NotSubmitted
              readOnly: true
              title: status
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateOrderStatus
            validityInYears:
              default: 1
              description: Duration in years (must be between 1 and 3).
              format: int32
              maximum: 3
              minimum: 1
              title: validityInYears
              type: integer
              x-ms-mutability:
              - create
              - read
          required:
          - productType
          title: properties
          type: object
          x-ms-client-flatten: true
      title: AppServiceCertificateOrderPatchResource
    AppServiceCertificatePatchResource:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Key Vault container ARM resource for a certificate that is purchased
        through Azure.
      example:
        properties:
          keyVaultSecretName: keyVaultSecretName
          provisioningState: Initialized
          keyVaultId: keyVaultId
      properties:
        properties:
          $ref: '#/components/schemas/AppServiceCertificate'
      title: AppServiceCertificatePatchResource
    AppServiceCertificateResource:
      allOf:
      - description: Azure resource. This resource is tracked in Azure Resource Manager
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          location:
            description: Resource Location.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        required:
        - location
        type: object
        x-ms-azure-resource: true
      description: Key Vault container ARM resource for a certificate that is purchased
        through Azure.
      example:
        properties:
          keyVaultSecretName: keyVaultSecretName
          provisioningState: Initialized
          keyVaultId: keyVaultId
      properties:
        properties:
          $ref: '#/components/schemas/AppServiceCertificate'
      title: AppServiceCertificateResource
    CertificateDetails:
      description: SSL certificate details.
      properties:
        issuer:
          description: Certificate Issuer.
          readOnly: true
          title: issuer
          type: string
        notAfter:
          description: Date Certificate is valid to.
          format: date-time
          readOnly: true
          title: notAfter
          type: string
        notBefore:
          description: Date Certificate is valid from.
          format: date-time
          readOnly: true
          title: notBefore
          type: string
        rawData:
          description: Raw certificate data.
          readOnly: true
          title: rawData
          type: string
        serialNumber:
          description: Certificate Serial Number.
          readOnly: true
          title: serialNumber
          type: string
        signatureAlgorithm:
          description: Certificate Signature algorithm.
          readOnly: true
          title: signatureAlgorithm
          type: string
        subject:
          description: Certificate Subject.
          readOnly: true
          title: subject
          type: string
        thumbprint:
          description: Certificate Thumbprint.
          readOnly: true
          title: thumbprint
          type: string
        version:
          description: Certificate Version.
          format: int32
          readOnly: true
          title: version
          type: integer
      title: CertificateDetails
      type: object
    CertificateEmail:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: SSL certificate email.
      example:
        properties: "{}"
      properties:
        properties:
          description: CertificateEmail resource specific properties
          properties:
            emailId:
              description: Email id.
              title: emailId
              type: string
            timeStamp:
              description: Time stamp.
              format: date-time
              title: timeStamp
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: CertificateEmail
    CertificateOrderAction:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Certificate order action.
      example:
        properties: "{}"
      properties:
        properties:
          description: CertificateOrderAction resource specific properties
          properties:
            actionType:
              description: Action type.
              enum:
              - CertificateIssued
              - CertificateOrderCanceled
              - CertificateOrderCreated
              - CertificateRevoked
              - DomainValidationComplete
              - FraudDetected
              - OrgNameChange
              - OrgValidationComplete
              - SanDrop
              - FraudCleared
              - CertificateExpired
              - CertificateExpirationWarning
              - FraudDocumentationRequired
              - Unknown
              readOnly: true
              title: actionType
              type: string
              x-ms-enum:
                modelAsString: false
                name: CertificateOrderActionType
            createdAt:
              description: Time at which the certificate action was performed.
              format: date-time
              readOnly: true
              title: createdAt
              type: string
          title: properties
          type: object
          x-ms-client-flatten: true
      title: CertificateOrderAction
    ReissueCertificateOrderRequest:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Class representing certificate reissue request.
      example:
        properties: "{}"
      properties:
        properties:
          description: ReissueCertificateOrderRequest resource specific properties
          properties:
            csr:
              description: Csr to be used for re-key operation.
              title: csr
              type: string
            delayExistingRevokeInHours:
              description: Delay in hours to revoke existing certificate after the
                new certificate is issued.
              format: int32
              title: delayExistingRevokeInHours
              type: integer
            isPrivateKeyExternal:
              description: Should we change the ASC type (from managed private key
                to external private key and vice versa).
              title: isPrivateKeyExternal
              type: boolean
            keySize:
              description: Certificate Key Size.
              format: int32
              title: keySize
              type: integer
          title: properties
          type: object
          x-ms-client-flatten: true
      title: ReissueCertificateOrderRequest
    RenewCertificateOrderRequest:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Class representing certificate renew request.
      example:
        properties: "{}"
      properties:
        properties:
          description: RenewCertificateOrderRequest resource specific properties
          properties:
            csr:
              description: Csr to be used for re-key operation.
              title: csr
              type: string
            isPrivateKeyExternal:
              description: Should we change the ASC type (from managed private key
                to external private key and vice versa).
              title: isPrivateKeyExternal
              type: boolean
            keySize:
              description: Certificate Key Size.
              format: int32
              title: keySize
              type: integer
          title: properties
          type: object
          x-ms-client-flatten: true
      title: RenewCertificateOrderRequest
    SiteSeal:
      description: Site seal
      example:
        html: html
      properties:
        html:
          description: HTML snippet
          title: html
          type: string
          x-ms-client-flatten: true
      required:
      - html
      title: SiteSeal
      type: object
    SiteSealRequest:
      description: Site seal request.
      example:
        lightTheme: true
        locale: locale
      properties:
        lightTheme:
          description: "If <code>true</code> use the light color theme for site seal;\
            \ otherwise, use the default color theme."
          title: lightTheme
          type: boolean
        locale:
          description: Locale of site seal.
          title: locale
          type: string
      title: SiteSealRequest
      type: object
    AppServiceCertificateOrders_List_default_response_error_details_inner:
      description: Detailed errors.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          title: code
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          title: message
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          title: target
          type: string
      readOnly: true
      title: AppServiceCertificateOrders_List_default_response_error_details_inner
      type: object
    AppServiceCertificateOrders_List_default_response_error:
      description: Error model.
      example:
        code: code
        innererror: innererror
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: Standardized string to programmatically identify the error.
          readOnly: true
          title: code
          type: string
        details:
          items:
            $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response_error_details_inner'
          title: details
          type: array
        innererror:
          description: More information to debug error.
          readOnly: true
          title: innererror
          type: string
        message:
          description: Detailed error description and debugging information.
          readOnly: true
          title: message
          type: string
        target:
          description: Detailed error description and debugging information.
          readOnly: true
          title: target
          type: string
      readOnly: true
      title: AppServiceCertificateOrders_List_default_response_error
      type: object
    AppServiceCertificateOrders_List_default_response:
      description: App Service error response.
      example:
        error:
          code: code
          innererror: innererror
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/AppServiceCertificateOrders_List_default_response_error'
      title: AppServiceCertificateOrders_List_default_response
      type: object
    AppServiceCertificateOrders_ResendRequestEmails_request:
      description: Identifies an object.
      properties:
        name:
          description: Name of the object.
          title: name
          type: string
      title: AppServiceCertificateOrders_ResendRequestEmails_request
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
