openapi: 3.0.2
info:
  contact:
    name: Directorate General of Foreign Trade (DGFT)
    url: https://www.dgft.gov.in/
  description: "The Importer-Exporter Code (IEC), issued by Directorate General of\
    \ Foreign Trade (DGFT), is a key business identification number which is mandatory\
    \ for Exports or Imports. This API can be used to get details of a importer-exporter\
    \ by importer-exporter code."
  termsOfService: https://ndh.digitallocker.gov.in/terms.php
  title: Importer-Exporter Details API
  version: 3.0.0
  x-apisguru-categories:
  - open_data
  x-origin:
  - format: openapi
    url: https://apisetu.gov.in/api_specification_v8/dgft.yaml
    version: "3.0"
  x-providerName: apisetu.gov.in
  x-serviceName: dgft
servers:
- url: https://apisetu.gov.in/dgft
paths:
  /v1/iec/{iec}:
    get:
      description: Description of Importer-Exporter Code (IEC) Verification API.
      operationId: importer_exporter_code_verification_api
      parameters:
      - description: Importer-Exporter code
        explode: false
        in: path
        name: iec
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Importer_Exporter_Code_Verification_API_200_response'
          description: successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Importer_Exporter_Code_Verification_API_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Importer_Exporter_Code_Verification_API_401_response'
          description: Authentication failed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Importer_Exporter_Code_Verification_API_404_response'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Importer_Exporter_Code_Verification_API_500_response'
          description: Internal Server Error
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Importer_Exporter_Code_Verification_API_502_response'
          description: Bad Gateway
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Importer_Exporter_Code_Verification_API_503_response'
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Importer_Exporter_Code_Verification_API_504_response'
          description: Gateway Timeout
      security:
      - api_key: []
      - clientId: []
      summary: Importer-Exporter Code (IEC) Verification API.
      tags:
      - APIs
      x-openapi-router-controller: openapi_server.controllers.apis_controller
components:
  schemas:
    Importer_Exporter_Code_Verification_API_500_response:
      example:
        errorDescription: Internal server error
        error: internal_server_error
      properties:
        error:
          enum:
          - internal_server_error
          title: error
          type: string
        errorDescription:
          enum:
          - Internal server error
          title: errorDescription
          type: string
      title: Importer_Exporter_Code_Verification_API_500_response
      type: object
    Importer_Exporter_Code_Verification_API_400_response:
      example:
        errorDescription: Bad request
        error: invalid parameter
      properties:
        error:
          enum:
          - invalid parameter
          - missing parameter
          title: error
          type: string
        errorDescription:
          enum:
          - Bad request
          - Please provide all mandatory parameters.
          title: errorDescription
          type: string
      title: Importer_Exporter_Code_Verification_API_400_response
      type: object
    Importer_Exporter_Code_Verification_API_200_response_directors_inner:
      example:
        name: Mukund's IEC
      properties:
        name:
          example: Mukund's IEC
          minLength: 1
          title: name
          type: string
      required:
      - name
      title: Importer_Exporter_Code_Verification_API_200_response_directors_inner
    Importer_Exporter_Code_Verification_API_404_response:
      example:
        errorDescription: No record found
        error: record_not_found
      properties:
        error:
          enum:
          - record_not_found
          - Url not found
          title: error
          type: string
        errorDescription:
          enum:
          - No record found
          - Your API url or path is incorrect.
          title: errorDescription
          type: string
      title: Importer_Exporter_Code_Verification_API_404_response
      type: object
    Importer_Exporter_Code_Verification_API_502_response:
      example:
        errorDescription: Publisher service returned an invalid response.
        error: bad gateway
      properties:
        error:
          enum:
          - bad gateway
          title: error
          type: string
        errorDescription:
          enum:
          - Publisher service returned an invalid response.
          title: errorDescription
          type: string
      title: Importer_Exporter_Code_Verification_API_502_response
      type: object
    Importer_Exporter_Code_Verification_API_504_response:
      example:
        errorDescription: Publisher service did not respond in time
        error: gateway_timeout
      properties:
        error:
          enum:
          - gateway_timeout
          title: error
          type: string
        errorDescription:
          enum:
          - Publisher service did not respond in time
          title: errorDescription
          type: string
      title: Importer_Exporter_Code_Verification_API_504_response
      type: object
    Importer_Exporter_Code_Verification_API_200_response:
      example:
        dataAsOn: 2000-01-23T04:56:07.000+00:00
        exporterType: "1"
        city: Bokaro
        iec: CGRPK3746C
        directors:
        - name: Mukund's IEC
        - name: Mukund's IEC
        iecIssueDate: "8062020"
        iecModificationDate: ""
        branch:
        - badd1: Bokaro
          branchCode: "1"
          badd2: ""
          pin: "827012"
          city: Bokaro
          state: JHARKHAND
        - badd1: Bokaro
          branchCode: "1"
          badd2: ""
          pin: "827012"
          city: Bokaro
          state: JHARKHAND
        natureOfConcern: "1"
        pin: "827012"
        entityName: Mukund's IEC
        addressLine1: Noida
        addressLine2: ""
        iecStatus: "0"
        state: JHARKHAND
        pan: CGRPK3746CFT001
      properties:
        addressLine1:
          example: Noida
          minLength: 1
          title: addressLine1
          type: string
        addressLine2:
          example: ""
          title: addressLine2
          type: string
        branch:
          items:
            $ref: '#/components/schemas/Importer_Exporter_Code_Verification_API_200_response_branch_inner'
          minItems: 1
          title: branch
          type: array
          uniqueItems: true
        city:
          example: Bokaro
          minLength: 1
          title: city
          type: string
        dataAsOn:
          format: date-time
          title: dataAsOn
          type: string
        directors:
          items:
            $ref: '#/components/schemas/Importer_Exporter_Code_Verification_API_200_response_directors_inner'
          minItems: 1
          title: directors
          type: array
          uniqueItems: true
        entityName:
          example: Mukund's IEC
          minLength: 1
          title: entityName
          type: string
        exporterType:
          example: "1"
          minLength: 1
          title: exporterType
          type: string
        iec:
          example: CGRPK3746C
          minLength: 1
          title: iec
          type: string
        iecIssueDate:
          example: "8062020"
          minLength: 1
          title: iecIssueDate
          type: string
        iecModificationDate:
          example: ""
          title: iecModificationDate
          type: string
        iecStatus:
          example: "0"
          minLength: 0
          title: iecStatus
          type: string
        natureOfConcern:
          example: "1"
          minLength: 1
          title: natureOfConcern
          type: string
        pan:
          example: CGRPK3746CFT001
          minLength: 1
          title: pan
          type: string
        pin:
          example: "827012"
          minLength: 1
          title: pin
          type: string
        state:
          example: JHARKHAND
          minLength: 1
          title: state
          type: string
      required:
      - addressLine1
      - addressLine2
      - branch
      - city
      - dataAsOn
      - directors
      - entityName
      - exporterType
      - iec
      - iecIssueDate
      - iecModificationDate
      - iecStatus
      - natureOfConcern
      - pan
      - pin
      - state
      title: Importer_Exporter_Code_Verification_API_200_response
      type: object
    Importer_Exporter_Code_Verification_API_401_response:
      example:
        errorDescription: Authentication failed
        error: invalid_authentication
      properties:
        error:
          enum:
          - invalid_authentication
          - invalid_authorization
          title: error
          type: string
        errorDescription:
          enum:
          - Authentication failed
          - You are not authorized to use this API
          title: errorDescription
          type: string
      title: Importer_Exporter_Code_Verification_API_401_response
      type: object
    Importer_Exporter_Code_Verification_API_200_response_branch_inner:
      example:
        badd1: Bokaro
        branchCode: "1"
        badd2: ""
        pin: "827012"
        city: Bokaro
        state: JHARKHAND
      properties:
        badd1:
          example: Bokaro
          minLength: 1
          title: badd1
          type: string
        badd2:
          example: ""
          title: badd2
          type: string
        branchCode:
          example: "1"
          minLength: 1
          title: branchCode
          type: string
        city:
          example: Bokaro
          minLength: 1
          title: city
          type: string
        pin:
          example: "827012"
          minLength: 1
          title: pin
          type: string
        state:
          example: JHARKHAND
          minLength: 1
          title: state
          type: string
      required:
      - badd1
      - badd2
      - branchCode
      - city
      - pin
      - state
      title: Importer_Exporter_Code_Verification_API_200_response_branch_inner
    Importer_Exporter_Code_Verification_API_503_response:
      example:
        errorDescription: Publisher service is temporarily unavailable
        error: service_unavailable
      properties:
        error:
          enum:
          - service_unavailable
          title: error
          type: string
        errorDescription:
          enum:
          - Publisher service is temporarily unavailable
          title: errorDescription
          type: string
      title: Importer_Exporter_Code_Verification_API_503_response
      type: object
  securitySchemes:
    api_key:
      in: header
      name: X-APISETU-APIKEY
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_api_key
    clientId:
      in: header
      name: X-APISETU-CLIENTID
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_clientId
