openapi: 3.0.1
info:
  description: The Azure management API provides a RESTful set of web services that
    interact with Azure Key Vault.
  title: KeyVaultManagementClient
  version: 2019-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/secrets.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: keyvault-secrets
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/secrets:
    get:
      description: "The List operation gets information about the secrets in a vault.\
        \  NOTE: This API is intended for internal use in ARM deployments. Users should\
        \ use the data-plane REST service for interaction with vault secrets."
      operationId: Secrets_List
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
      - description: Maximum number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretListResult'
          description: Get information about secrets in the specified vault.
      tags:
      - Secrets
      x-ms-examples:
        List secrets in the vault:
          parameters:
            api-version: 2019-09-01
            resourceGroupName: sample-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/secrets/secret-name
                  location: westus
                  name: secret-name
                  properties:
                    attributes:
                      created: 1514941476
                      enabled: true
                      updated: 1514941476
                    secretUri: https://sample-vault.vault.azure.net/secrets/secret-name
                    secretUriWithVersion: https://sample-vault.vault.azure.net/secrets/secret-name/40af42fbc10047f8a756a73211492f56
                  type: Microsoft.KeyVault/vaults/secrets
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/secrets/secret-name2
                  location: westus
                  name: secret-name2
                  properties:
                    attributes:
                      created: 1514941476
                      enabled: true
                      updated: 1514941476
                    secretUri: https://sample-vault.vault.azure.net/secrets/secret-name2
                    secretUriWithVersion: https://sample-vault.vault.azure.net/secrets/secret-name2/cd7264a6f56c44d1b594423c80609aae
                  type: Microsoft.KeyVault/vaults/secrets
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/secrets/{secretName}
  : get:
      description: "Gets the specified secret.  NOTE: This API is intended for internal\
        \ use in ARM deployments. Users should use the data-plane REST service for\
        \ interaction with vault secrets."
      operationId: Secrets_Get
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
      - description: The name of the secret.
        in: path
        name: secretName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Retrieved secret
      tags:
      - Secrets
      x-ms-examples:
        Get a secret:
          parameters:
            api-version: 2019-09-01
            resourceGroupName: sample-group
            secretName: secret-name
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/secrets/secret-name
                location: westus
                name: secret-name
                properties:
                  attributes:
                    created: 1514940950
                    enabled: true
                    updated: 1514940950
                  secretUri: https://sample-vault.vault.azure.net/secrets/secret-name
                  secretUriWithVersion: https://sample-vault.vault.azure.net/secrets/secret-name/77445834f7de41bab81d0723bf996860
                type: Microsoft.KeyVault/vaults/secrets
      x-accepts:
      - application/json
    patch:
      description: "Update a secret in the specified subscription.  NOTE: This API\
        \ is intended for internal use in ARM deployments.  Users should use the data-plane\
        \ REST service for interaction with vault secrets."
      operationId: Secrets_Update
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the vault
        in: path
        name: vaultName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
      - description: Name of the secret
        in: path
        name: secretName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{1,127}$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretPatchParameters'
        description: Parameters to patch the secret
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Patched secret
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Patched secret
      tags:
      - Secrets
      x-ms-examples:
        Update a secret:
          parameters:
            api-version: 2019-09-01
            parameters:
              properties:
                value: secret-value2
            resourceGroupName: sample-group
            secretName: secret-name
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/secrets/secret-name
                location: westus
                name: secret-name
                properties:
                  attributes:
                    created: 1514940684
                    enabled: true
                    updated: 1514940698
                  secretUri: https://sample-vault.vault.azure.net/secrets/secret-name
                  secretUriWithVersion: https://sample-vault.vault.azure.net/secrets/secret-name/b8c802f549764f2d97885d152f92ee9d
                type: Microsoft.KeyVault/vaults/secrets
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/secrets/secret-name
                location: westus
                name: secret-name
                properties:
                  attributes:
                    created: 1514940684
                    enabled: true
                    updated: 1514940698
                  secretUri: https://sample-vault.vault.azure.net/secrets/secret-name
                  secretUriWithVersion: https://sample-vault.vault.azure.net/secrets/secret-name/b8c802f549764f2d97885d152f92ee9d
                type: Microsoft.KeyVault/vaults/secrets
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: "Create or update a secret in a key vault in the specified subscription.\
        \  NOTE: This API is intended for internal use in ARM deployments. Users should\
        \ use the data-plane REST service for interaction with vault secrets."
      operationId: Secrets_CreateOrUpdate
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the vault
        in: path
        name: vaultName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
      - description: Name of the secret
        in: path
        name: secretName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{1,127}$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretCreateOrUpdateParameters'
        description: Parameters to create or update the secret
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Created or updated secret
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Created or updated vault
      tags:
      - Secrets
      x-ms-examples:
        Create a secret:
          parameters:
            api-version: 2019-09-01
            parameters:
              properties:
                value: secret-value
            resourceGroupName: sample-group
            secretName: secret-name
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/secrets/secret-name
                location: westus
                name: secret-name
                properties:
                  attributes:
                    created: 1514938738
                    enabled: true
                    updated: 1514938738
                  secretUri: https://sample-vault.vault.azure.net/secrets/secret-name
                  secretUriWithVersion: https:/sample-vault.vault.azure.net/secrets/secret-name/baf6de32c4774c7c81345f6476cf90a4
                type: Microsoft.KeyVault/vaults/secrets
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/secrets/secret-name
                location: westus
                name: secret-name
                properties:
                  attributes:
                    created: 1514938738
                    enabled: true
                    updated: 1514938738
                  secretUri: https://sample-vault.vault.azure.net/secrets/secret-name
                  secretUriWithVersion: https:/sample-vault.vault.azure.net/secrets/secret-name/baf6de32c4774c7c81345f6476cf90a4
                type: Microsoft.KeyVault/vaults/secrets
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Attributes:
      description: The object attributes managed by the KeyVault service.
      properties:
        created:
          description: Creation time in seconds since 1970-01-01T00:00:00Z.
          format: unixtime
          readOnly: true
          type: integer
        enabled:
          description: Determines whether the object is enabled.
          type: boolean
        exp:
          description: Expiry date in seconds since 1970-01-01T00:00:00Z.
          format: unixtime
          type: integer
          x-ms-client-name: Expires
        nbf:
          description: Not before date in seconds since 1970-01-01T00:00:00Z.
          format: unixtime
          type: integer
          x-ms-client-name: NotBefore
        updated:
          description: Last updated time in seconds since 1970-01-01T00:00:00Z.
          format: unixtime
          readOnly: true
          type: integer
      type: object
    Secret:
      allOf:
      - description: Key Vault resource
        properties:
          id:
            description: Fully qualified identifier of the key vault resource.
            readOnly: true
            type: string
          location:
            description: Azure location of the key vault resource.
            readOnly: true
            type: string
          name:
            description: Name of the key vault resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Tags assigned to the key vault resource.
            readOnly: true
            type: object
          type:
            description: Resource type of the key vault resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Resource information with extended details.
      example:
        properties:
          secretUri: secretUri
          secretUriWithVersion: secretUriWithVersion
          attributes:
            nbf: 1
            created: 0
            exp: 6
            updated: 5
            enabled: true
          contentType: contentType
          value: value
      properties:
        properties:
          $ref: '#/components/schemas/SecretProperties'
      required:
      - properties
    SecretAttributes:
      allOf:
      - $ref: '#/components/schemas/Attributes'
      description: The secret management attributes.
      example:
        nbf: 1
        created: 0
        exp: 6
        updated: 5
        enabled: true
    SecretCreateOrUpdateParameters:
      description: Parameters for creating or updating a secret
      example:
        properties:
          secretUri: secretUri
          secretUriWithVersion: secretUriWithVersion
          attributes:
            nbf: 1
            created: 0
            exp: 6
            updated: 5
            enabled: true
          contentType: contentType
          value: value
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/SecretProperties'
        tags:
          additionalProperties:
            type: string
          description: 'The tags that will be assigned to the secret. '
          type: object
      required:
      - properties
      type: object
      x-ms-azure-resource: true
    SecretListResult:
      description: List of secrets
      example:
        value:
        - properties:
            secretUri: secretUri
            secretUriWithVersion: secretUriWithVersion
            attributes:
              nbf: 1
              created: 0
              exp: 6
              updated: 5
              enabled: true
            contentType: contentType
            value: value
        - properties:
            secretUri: secretUri
            secretUriWithVersion: secretUriWithVersion
            attributes:
              nbf: 1
              created: 0
              exp: 6
              updated: 5
              enabled: true
            contentType: contentType
            value: value
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of secrets.
          type: string
        value:
          description: The list of secrets.
          items:
            $ref: '#/components/schemas/Secret'
          type: array
      type: object
    SecretPatchParameters:
      description: Parameters for patching a secret
      example:
        properties:
          attributes:
            nbf: 1
            created: 0
            exp: 6
            updated: 5
            enabled: true
          contentType: contentType
          value: value
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/SecretPatchProperties'
        tags:
          additionalProperties:
            type: string
          description: 'The tags that will be assigned to the secret. '
          type: object
      type: object
      x-ms-azure-resource: true
    SecretPatchProperties:
      description: Properties of the secret
      example:
        attributes:
          nbf: 1
          created: 0
          exp: 6
          updated: 5
          enabled: true
        contentType: contentType
        value: value
      properties:
        attributes:
          $ref: '#/components/schemas/SecretAttributes'
        contentType:
          description: The content type of the secret.
          type: string
        value:
          description: The value of the secret.
          type: string
      type: object
    SecretProperties:
      description: Properties of the secret
      example:
        secretUri: secretUri
        secretUriWithVersion: secretUriWithVersion
        attributes:
          nbf: 1
          created: 0
          exp: 6
          updated: 5
          enabled: true
        contentType: contentType
        value: value
      properties:
        attributes:
          $ref: '#/components/schemas/SecretAttributes'
        contentType:
          description: The content type of the secret.
          type: string
        secretUri:
          description: The URI to retrieve the current version of the secret.
          readOnly: true
          type: string
        secretUriWithVersion:
          description: The URI to retrieve the specific version of the secret.
          readOnly: true
          type: string
        value:
          description: "The value of the secret. NOTE: 'value' will never be returned\
            \ from the service, as APIs using this model are is intended for internal\
            \ use in ARM deployments. Users should use the data-plane REST service\
            \ for interaction with vault secrets."
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

