openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Pricing
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_pricing_v2.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_pricing_v2
servers:
- url: https://pricing.twilio.com
tags:
- name: PricingV2Country
- name: PricingV2Number
paths:
  /v2/Trunking/Countries:
    description: Trunking pricing by country
    get:
      description: ""
      operationId: list_trunking_country
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTrunkingCountryResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PricingV2Country
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.pricing_v2_country_controller
    servers:
    - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
      - country
      - price_unit
      pathType: list
  /v2/Trunking/Countries/{IsoCountry}:
    description: Trunking pricing by country
    get:
      description: Fetch a specific Country.
      operationId: fetch_trunking_country
      parameters:
      - description: "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ of the origin-based voice pricing information to fetch."
        explode: false
        in: path
        name: IsoCountry
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricing.v2.trunking_country-instance'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PricingV2Country
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.pricing_v2_country_controller
    servers:
    - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
      - country
      - price_unit
      pathType: instance
  /v2/Trunking/Numbers:
    description: Trunking pricing for a specific phone number
    servers:
    - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
      - country
      - inbound_call_price
      - price_unit
      pathType: list
  /v2/Trunking/Numbers/{DestinationNumber}:
    description: Trunking pricing for a specific phone number
    get:
      description: "Fetch pricing information for a specific destination and, optionally,\
        \ origination phone number."
      operationId: fetch_trunking_number
      parameters:
      - description: "The destination phone number, in [E.164](https://www.twilio.com/docs/glossary/what-e164)\
          \ format, for which to fetch the origin-based voice pricing information.\
          \ E.164 format consists of a + followed by the country code and subscriber\
          \ number."
        explode: false
        in: path
        name: DestinationNumber
        required: true
        schema:
          format: phone-number
          type: string
        style: simple
      - description: "The origination phone number, in [E.164](https://www.twilio.com/docs/glossary/what-e164)\
          \ format, for which to fetch the origin-based voice pricing information.\
          \ E.164 format consists of a + followed by the country code and subscriber\
          \ number."
        explode: true
        in: query
        name: OriginationNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricing.v2.trunking_number'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PricingV2Number
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.pricing_v2_number_controller
    servers:
    - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
      - country
      - inbound_call_price
      - price_unit
      pathType: instance
  /v2/Voice:
    description: Voice pricing
    servers:
    - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
      - name
      pathType: instance
  /v2/Voice/Countries:
    description: Voice pricing by country
    get:
      description: ""
      operationId: list_voice_country
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVoiceCountryResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PricingV2Country
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.pricing_v2_country_controller
    servers:
    - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
      - country
      - price_unit
      parent: /Voice
      pathType: list
  /v2/Voice/Countries/{IsoCountry}:
    description: Voice pricing by country
    get:
      description: Fetch a specific Country.
      operationId: fetch_voice_country
      parameters:
      - description: "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)\
          \ of the origin-based voice pricing information to fetch."
        explode: false
        in: path
        name: IsoCountry
        required: true
        schema:
          format: iso-country-code
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricing.v2.voice.voice_country-instance'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PricingV2Country
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.pricing_v2_country_controller
    servers:
    - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
      - country
      - price_unit
      parent: /Voice
      pathType: instance
  /v2/Voice/Numbers:
    description: Voice pricing for a specific phone number
    servers:
    - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
      - country
      - inbound_call_price
      - price_unit
      parent: /Voice
      pathType: list
  /v2/Voice/Numbers/{DestinationNumber}:
    description: Voice pricing for a specific phone number
    get:
      description: "Fetch pricing information for a specific destination and, optionally,\
        \ origination phone number."
      operationId: fetch_voice_number
      parameters:
      - description: "The destination phone number, in [E.164](https://www.twilio.com/docs/glossary/what-e164)\
          \ format, for which to fetch the origin-based voice pricing information.\
          \ E.164 format consists of a + followed by the country code and subscriber\
          \ number."
        explode: false
        in: path
        name: DestinationNumber
        required: true
        schema:
          format: phone-number
          type: string
        style: simple
      - description: "The origination phone number, in [E.164](https://www.twilio.com/docs/glossary/what-e164)\
          \ format, for which to fetch the origin-based voice pricing information.\
          \ E.164 format consists of a + followed by the country code and subscriber\
          \ number."
        explode: true
        in: query
        name: OriginationNumber
        required: false
        schema:
          format: phone-number
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pricing.v2.voice.voice_number'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - PricingV2Number
      x-maturity:
      - GA
      x-openapi-router-controller: openapi_server.controllers.pricing_v2_number_controller
    servers:
    - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
      - country
      - inbound_call_price
      - price_unit
      parent: /Voice
      pathType: instance
components:
  schemas:
    pricing.v2.trunking_country:
      example:
        country: country
        iso_country: iso_country
        url: https://openapi-generator.tech
      properties:
        country:
          description: The name of the country.
          nullable: true
          title: country
          type: string
        iso_country:
          description: "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          format: iso-country-code
          nullable: true
          title: iso_country
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: pricing.v2.trunking_country
      type: object
    pricing.v2.trunking_country-instance:
      example:
        price_unit: price_unit
        country: country
        terminating_prefix_prices:
        - destination_prefixes:
          - destination_prefixes
          - destination_prefixes
          friendly_name: friendly_name
          base_price: 1.4658129805029452
          origination_prefixes:
          - origination_prefixes
          - origination_prefixes
          current_price: 5.962133916683182
        - destination_prefixes:
          - destination_prefixes
          - destination_prefixes
          friendly_name: friendly_name
          base_price: 1.4658129805029452
          origination_prefixes:
          - origination_prefixes
          - origination_prefixes
          current_price: 5.962133916683182
        iso_country: iso_country
        originating_call_prices:
        - base_price: 0.8008281904610115
          current_price: 6.027456183070403
          number_type: number_type
        - base_price: 0.8008281904610115
          current_price: 6.027456183070403
          number_type: number_type
        url: https://openapi-generator.tech
      properties:
        country:
          description: The name of the country.
          nullable: true
          title: country
          type: string
        iso_country:
          description: "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          format: iso-country-code
          nullable: true
          title: iso_country
          type: string
        originating_call_prices:
          description: "The list of [OriginatingCallPrice](https://www.twilio.com/docs/voice/pricing#inbound-call-price)\
            \ records."
          items:
            $ref: '#/components/schemas/pricing_v2_trunking_country_instance_originating_call_prices_inner'
          nullable: true
          title: originating_call_prices
          type: array
        price_unit:
          description: "The currency in which prices are measured, specified in [ISO\
            \ 4127](https://www.iso.org/iso/home/standards/currency_codes.htm) format\
            \ (e.g. `usd`, `eur`, `jpy`)."
          format: currency
          nullable: true
          title: price_unit
          type: string
        terminating_prefix_prices:
          description: "The list of [TerminatingPrefixPrice](https://www.twilio.com/docs/voice/pricing#outbound-prefix-price-with-origin)\
            \ records."
          items:
            $ref: '#/components/schemas/pricing_v2_trunking_country_instance_terminating_prefix_prices_inner'
          nullable: true
          title: terminating_prefix_prices
          type: array
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: pricing.v2.trunking_country-instance
      type: object
    pricing.v2.trunking_number:
      example:
        price_unit: price_unit
        country: country
        terminating_prefix_prices:
        - destination_prefixes:
          - destination_prefixes
          - destination_prefixes
          friendly_name: friendly_name
          base_price: 1.4658129805029452
          origination_prefixes:
          - origination_prefixes
          - origination_prefixes
          current_price: 5.962133916683182
        - destination_prefixes:
          - destination_prefixes
          - destination_prefixes
          friendly_name: friendly_name
          base_price: 1.4658129805029452
          origination_prefixes:
          - origination_prefixes
          - origination_prefixes
          current_price: 5.962133916683182
        iso_country: iso_country
        destination_number: destination_number
        origination_number: origination_number
        originating_call_price:
          base_price: 0.8008281904610115
          current_price: 6.027456183070403
          number_type: number_type
        url: https://openapi-generator.tech
      properties:
        country:
          description: The name of the country.
          nullable: true
          title: country
          type: string
        destination_number:
          description: "The destination phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164)\
            \ format, which consists of a + followed by the country code and subscriber\
            \ number."
          format: phone-number
          nullable: true
          title: destination_number
          type: string
        iso_country:
          description: "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)"
          format: iso-country-code
          nullable: true
          title: iso_country
          type: string
        originating_call_price:
          $ref: '#/components/schemas/pricing_v2_trunking_number_originating_call_price'
        origination_number:
          description: "The origination phone number in [[E.164](https://www.twilio.com/docs/glossary/what-e164)\
            \ format, which consists of a + followed by the country code and subscriber\
            \ number."
          format: phone-number
          nullable: true
          title: origination_number
          type: string
        price_unit:
          description: "The currency in which prices are measured, specified in [ISO\
            \ 4127](https://www.iso.org/iso/home/standards/currency_codes.htm) format\
            \ (e.g. `usd`, `eur`, `jpy`)."
          format: currency
          nullable: true
          title: price_unit
          type: string
        terminating_prefix_prices:
          items:
            $ref: '#/components/schemas/pricing_v2_trunking_country_instance_terminating_prefix_prices_inner'
          nullable: true
          title: terminating_prefix_prices
          type: array
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: pricing.v2.trunking_number
      type: object
    pricing.v2.voice:
      properties:
        links:
          description: The URLs of the related Countries and Numbers resources.
          format: uri-map
          nullable: true
          type: object
        name:
          description: The resource name.
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    pricing.v2.voice.voice_country:
      example:
        country: country
        iso_country: iso_country
        url: https://openapi-generator.tech
      properties:
        country:
          description: The name of the country.
          nullable: true
          title: country
          type: string
        iso_country:
          description: "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          format: iso-country-code
          nullable: true
          title: iso_country
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: pricing.v2.voice.voice_country
      type: object
    pricing.v2.voice.voice_country-instance:
      example:
        price_unit: price_unit
        country: country
        iso_country: iso_country
        inbound_call_prices:
        - base_price: 0.8008281904610115
          current_price: 6.027456183070403
          number_type: number_type
        - base_price: 0.8008281904610115
          current_price: 6.027456183070403
          number_type: number_type
        url: https://openapi-generator.tech
        outbound_prefix_prices:
        - destination_prefixes:
          - destination_prefixes
          - destination_prefixes
          friendly_name: friendly_name
          base_price: 1.4658129805029452
          origination_prefixes:
          - origination_prefixes
          - origination_prefixes
          current_price: 5.962133916683182
        - destination_prefixes:
          - destination_prefixes
          - destination_prefixes
          friendly_name: friendly_name
          base_price: 1.4658129805029452
          origination_prefixes:
          - origination_prefixes
          - origination_prefixes
          current_price: 5.962133916683182
      properties:
        country:
          description: The name of the country.
          nullable: true
          title: country
          type: string
        inbound_call_prices:
          description: "The list of [InboundCallPrice](https://www.twilio.com/docs/voice/pricing#inbound-call-price)\
            \ records."
          items:
            $ref: '#/components/schemas/pricing_v2_trunking_country_instance_originating_call_prices_inner'
          nullable: true
          title: inbound_call_prices
          type: array
        iso_country:
          description: "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
          format: iso-country-code
          nullable: true
          title: iso_country
          type: string
        outbound_prefix_prices:
          description: "The list of [OutboundPrefixPriceWithOrigin](https://www.twilio.com/docs/voice/pricing#outbound-prefix-price-with-origin)\
            \ records."
          items:
            $ref: '#/components/schemas/pricing_v2_trunking_country_instance_terminating_prefix_prices_inner'
          nullable: true
          title: outbound_prefix_prices
          type: array
        price_unit:
          description: "The currency in which prices are measured, specified in [ISO\
            \ 4127](https://www.iso.org/iso/home/standards/currency_codes.htm) format\
            \ (e.g. `usd`, `eur`, `jpy`)."
          format: currency
          nullable: true
          title: price_unit
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: pricing.v2.voice.voice_country-instance
      type: object
    pricing.v2.voice.voice_number:
      example:
        price_unit: price_unit
        country: country
        iso_country: iso_country
        destination_number: destination_number
        inbound_call_price:
          base_price: 0.8008281904610115
          current_price: 6.027456183070403
          number_type: number_type
        origination_number: origination_number
        url: https://openapi-generator.tech
        outbound_call_prices:
        - base_price: 1.4658129805029452
          origination_prefixes:
          - origination_prefixes
          - origination_prefixes
          current_price: 5.962133916683182
        - base_price: 1.4658129805029452
          origination_prefixes:
          - origination_prefixes
          - origination_prefixes
          current_price: 5.962133916683182
      properties:
        country:
          description: The name of the country.
          nullable: true
          title: country
          type: string
        destination_number:
          description: "The destination phone number in [E.164](https://www.twilio.com/docs/glossary/what-e164)\
            \ format, which consists of a + followed by the country code and subscriber\
            \ number."
          format: phone-number
          nullable: true
          title: destination_number
          type: string
        inbound_call_price:
          $ref: '#/components/schemas/pricing_v2_voice_voice_number_inbound_call_price'
        iso_country:
          description: "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)"
          format: iso-country-code
          nullable: true
          title: iso_country
          type: string
        origination_number:
          description: "The origination phone number in [[E.164](https://www.twilio.com/docs/glossary/what-e164)\
            \ format, which consists of a + followed by the country code and subscriber\
            \ number."
          format: phone-number
          nullable: true
          title: origination_number
          type: string
        outbound_call_prices:
          description: "The list of [OutboundCallPriceWithOrigin](https://www.twilio.com/docs/voice/pricing#outbound-call-price-with-origin)\
            \ records."
          items:
            $ref: '#/components/schemas/pricing_v2_voice_voice_number_outbound_call_prices_inner'
          nullable: true
          title: outbound_call_prices
          type: array
        price_unit:
          description: "The currency in which prices are measured, specified in [ISO\
            \ 4127](https://www.iso.org/iso/home/standards/currency_codes.htm) format\
            \ (e.g. `usd`, `eur`, `jpy`)."
          format: currency
          nullable: true
          title: price_unit
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          title: url
          type: string
      title: pricing.v2.voice.voice_number
      type: object
    ListTrunkingCountryResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 0
        key: key
        url: https://openapi-generator.tech
        page_size: 6
      properties:
        first_page_url:
          format: uri
          title: first_page_url
          type: string
        key:
          title: key
          type: string
        next_page_url:
          format: uri
          nullable: true
          title: next_page_url
          type: string
        page:
          title: page
          type: integer
        page_size:
          title: page_size
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          title: previous_page_url
          type: string
        url:
          format: uri
          title: url
          type: string
      title: ListTrunkingCountryResponse_meta
      type: object
    ListTrunkingCountryResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        countries:
        - country: country
          iso_country: iso_country
          url: https://openapi-generator.tech
        - country: country
          iso_country: iso_country
          url: https://openapi-generator.tech
      properties:
        countries:
          items:
            $ref: '#/components/schemas/pricing.v2.trunking_country'
          title: countries
          type: array
        meta:
          $ref: '#/components/schemas/ListTrunkingCountryResponse_meta'
      title: ListTrunkingCountryResponse
      type: object
    ListVoiceCountryResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        countries:
        - country: country
          iso_country: iso_country
          url: https://openapi-generator.tech
        - country: country
          iso_country: iso_country
          url: https://openapi-generator.tech
      properties:
        countries:
          items:
            $ref: '#/components/schemas/pricing.v2.voice.voice_country'
          title: countries
          type: array
        meta:
          $ref: '#/components/schemas/ListTrunkingCountryResponse_meta'
      title: ListVoiceCountryResponse
      type: object
    pricing_v2_trunking_country_instance_originating_call_prices_inner:
      example:
        base_price: 0.8008281904610115
        current_price: 6.027456183070403
        number_type: number_type
      format: inbound-call-price
      properties:
        base_price:
          title: base_price
          type: number
        current_price:
          title: current_price
          type: number
        number_type:
          title: number_type
          type: string
      title: pricing_v2_trunking_country_instance_originating_call_prices_inner
      type: object
    pricing_v2_trunking_country_instance_terminating_prefix_prices_inner:
      example:
        destination_prefixes:
        - destination_prefixes
        - destination_prefixes
        friendly_name: friendly_name
        base_price: 1.4658129805029452
        origination_prefixes:
        - origination_prefixes
        - origination_prefixes
        current_price: 5.962133916683182
      format: outbound-prefix-price-with-origin
      properties:
        base_price:
          title: base_price
          type: number
        current_price:
          title: current_price
          type: number
        destination_prefixes:
          items:
            type: string
          title: destination_prefixes
          type: array
        friendly_name:
          title: friendly_name
          type: string
        origination_prefixes:
          items:
            type: string
          title: origination_prefixes
          type: array
      title: pricing_v2_trunking_country_instance_terminating_prefix_prices_inner
      type: object
    pricing_v2_trunking_number_originating_call_price:
      description: "The [OriginatingCallPrice](https://www.twilio.com/docs/voice/pricing#inbound-call-price)\
        \ record."
      example:
        base_price: 0.8008281904610115
        current_price: 6.027456183070403
        number_type: number_type
      format: inbound-call-price
      nullable: true
      properties:
        base_price:
          title: base_price
          type: number
        current_price:
          title: current_price
          type: number
        number_type:
          title: number_type
          type: string
      title: pricing_v2_trunking_number_originating_call_price
      type: object
    pricing_v2_voice_voice_number_inbound_call_price:
      description: "The [InboundCallPrice](https://www.twilio.com/docs/voice/pricing#inbound-call-price)\
        \ record."
      example:
        base_price: 0.8008281904610115
        current_price: 6.027456183070403
        number_type: number_type
      format: inbound-call-price
      nullable: true
      properties:
        base_price:
          title: base_price
          type: number
        current_price:
          title: current_price
          type: number
        number_type:
          title: number_type
          type: string
      title: pricing_v2_voice_voice_number_inbound_call_price
      type: object
    pricing_v2_voice_voice_number_outbound_call_prices_inner:
      example:
        base_price: 1.4658129805029452
        origination_prefixes:
        - origination_prefixes
        - origination_prefixes
        current_price: 5.962133916683182
      format: outbound-call-price-with-origin
      properties:
        base_price:
          title: base_price
          type: number
        current_price:
          title: current_price
          type: number
        origination_prefixes:
          items:
            type: string
          title: origination_prefixes
          type: array
      title: pricing_v2_voice_voice_number_outbound_call_prices_inner
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller.info_from_accountSid_authToken
x-maturity:
- description: This product is Generally Available.
  name: GA
