openapi: 3.0.0
info:
  description: |-
    API for a tool to craftsmen used to register working hours, material usage and quality assurance.
    # Endpoint
    The endpoint `https://app.apacta.com/api/v1` should be used to communicate with the API. API access is only allowed with SSL encrypted connection (https).
    # Authentication
    URL query authentication with an API key is used, so appending `?api_key={api_key}` to the URL where `{api_key}` is found within Apacta settings is used for authentication
    # Pagination
    If the endpoint returns a `pagination` object it means the endpoint supports pagination - currently it's only possible to change pages with `?page={page_number}` but implementing custom page sizes are on the road map.


    # Search/filter
    Is experimental but implemented in some cases - see the individual endpoints' docs for further explanation.
    # Ordering
    Is currently experimental, but on some endpoints it's implemented on URL querys so eg. to order Invoices by `invoice_number` appending `?sort=Invoices.invoice_number&direction=desc` would sort the list descending by the value of `invoice_number`.
    # Associations
    Is currently implemented on an experimental basis where you can append eg. `?include=Contacts,Projects`  to the `/api/v1/invoices/` endpoint to embed `Contact` and `Project` objects directly.
    # Project Files
    Currently project files can be retrieved from two endpoints. `/projects/{project_id}/files` handles files uploaded from wall posts or forms. `/projects/{project_id}/project_files` allows uploading and showing files, not belonging to specific form or wall post.
    # Errors/Exceptions
    ## 422 (Validation)
    Write something about how the `errors` object contains keys with the properties that failes validation like:
    ```
      {
          "success": false,
          "data": {
              "code": 422,
              "url": "/api/v1/contacts?api_key=5523be3b-30ef-425d-8203-04df7caaa93a",
              "message": "A validation error occurred",
              "errorCount": 1,
              "errors": {
                  "contact_types": [ ## Property name that failed validation
                      "Contacts must have at least one contact type" ## Message with further explanation
                  ]
              }
          }
      }
    ```
    ## Code examples
    Running examples of how to retrieve the 5 most recent forms registered and embed the details of the User that made the form, and eventual products contained in the form
    ### Swift
    ```
    ```
    ### Java
    #### OkHttp
    ```
      OkHttpClient client = new OkHttpClient();

      Request request = new Request.Builder()
        .url("https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5")
        .get()
        .addHeader("x-auth-token", "{INSERT_YOUR_TOKEN}")
        .addHeader("accept", "application/json")
        .build();

      Response response = client.newCall(request).execute();
    ```
    #### Unirest
    ```
      HttpResponse<String> response = Unirest.get("https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5")
        .header("x-auth-token", "{INSERT_YOUR_TOKEN}")
        .header("accept", "application/json")
        .asString();
    ```
    ### Javascript
    #### Native
    ```
      var data = null;

      var xhr = new XMLHttpRequest();

      xhr.addEventListener("readystatechange", function () {
        if (this.readyState === 4) {
          console.log(this.responseText);
        }
      });

      xhr.open("GET", "https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5");
      xhr.setRequestHeader("x-auth-token", "{INSERT_YOUR_TOKEN}");
      xhr.setRequestHeader("accept", "application/json");

      xhr.send(data);
    ```
    #### jQuery
    ```
      var settings = {
        "async": true,
        "crossDomain": true,
        "url": "https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5",
        "method": "GET",
        "headers": {
          "x-auth-token": "{INSERT_YOUR_TOKEN}",
          "accept": "application/json",
        }
      }

      $.ajax(settings).done(function (response) {
        console.log(response);
      });
    ```
    #### NodeJS (Request)
    ```
      var request = require("request");

      var options = { method: 'GET',
        url: 'https://app.apacta.com/api/v1/forms',
        qs:
         { extended: 'true',
           sort: 'Forms.created',
           direction: 'DESC',
           include: 'Products,CreatedBy',
           limit: '5' },
        headers:
         { accept: 'application/json',
           'x-auth-token': '{INSERT_YOUR_TOKEN}' } };

      request(options, function (error, response, body) {
        if (error) throw new Error(error);

        console.log(body);
      });

    ```
    ### Python 3
    ```
      import http.client

      conn = http.client.HTTPSConnection("app.apacta.com")

      payload = ""

      headers = {
          'x-auth-token': "{INSERT_YOUR_TOKEN}",
          'accept': "application/json",
          }

      conn.request("GET", "/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5", payload, headers)

      res = conn.getresponse()
      data = res.read()

      print(data.decode("utf-8"))
    ```
    ### C#
    #### RestSharp
    ```
      var client = new RestClient("https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5");
      var request = new RestRequest(Method.GET);
      request.AddHeader("accept", "application/json");
      request.AddHeader("x-auth-token", "{INSERT_YOUR_TOKEN}");
      IRestResponse response = client.Execute(request);
    ```
    ### Ruby
    ```
      require 'uri'
      require 'net/http'

      url = URI("https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5")

      http = Net::HTTP.new(url.host, url.port)
      http.use_ssl = true
      http.verify_mode = OpenSSL::SSL::VERIFY_NONE

      request = Net::HTTP::Get.new(url)
      request["x-auth-token"] = '{INSERT_YOUR_TOKEN}'
      request["accept"] = 'application/json'

      response = http.request(request)
      puts response.read_body
    ```
    ### PHP (HttpRequest)
    ```
      <?php

      $request = new HttpRequest();
      $request->setUrl('https://app.apacta.com/api/v1/forms');
      $request->setMethod(HTTP_METH_GET);

      $request->setQueryData(array(
        'extended' => 'true',
        'sort' => 'Forms.created',
        'direction' => 'DESC',
        'include' => 'Products,CreatedBy',
        'limit' => '5'
      ));

      $request->setHeaders(array(
        'accept' => 'application/json',
        'x-auth-token' => '{INSERT_YOUR_TOKEN}'
      ));

      try {
        $response = $request->send();

        echo $response->getBody();
      } catch (HttpException $ex) {
        echo $ex;
      }
    ```
    ### Shell (cURL)
    ```

      $ curl --request GET --url 'https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5' --header 'accept: application/json' --header 'x-auth-token: {INSERT_YOUR_TOKEN}'

    ```
  title: Apacta
  version: 0.0.42
  x-apisguru-categories:
  - time_management
  - project_management
  x-logo:
    url: https://twitter.com/apactadk/profile_image?size=original
  x-origin:
  - format: openapi
    url: http://apidoc.apacta.com/swagger.yaml
    version: "3.0"
  x-providerName: apacta.com
servers:
- url: https://app.apacta.com/api/v1
tags:
- name: Activities
- description: Experimental
  name: TimeEntries
- description: Experimental
  name: TimeEntryIntervals
- description: Experimental
  name: TimeEntryTypes
- description: Experimental
  name: TimeEntryUnitTypes
- description: Experimental
  name: TimeEntryValueTypes
- name: Contacts
- name: ContactPersons
- name: Invoices
- name: InvoiceEmails
- name: InvoiceFiles
- name: InvoiceLineTextTemplates
- name: ProjectStatusTypes
paths:
  /activities:
    get:
      operationId: activities_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_activities_get_200_response'
          description: OK
      summary: Get a list of activities
      tags:
      - Activities
      x-openapi-router-controller: openapi_server.controllers.activities_controller
    post:
      operationId: activities_post
      requestBody:
        $ref: '#/components/requestBodies/Activity'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      summary: Create an activity
      tags:
      - Activities
      x-openapi-router-controller: openapi_server.controllers.activities_controller
      x-codegen-request-body-name: body
  /activities/bulkDelete:
    delete:
      operationId: activities_bulk_delete_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkActionRequestBody'
        description: Activities ids
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
      summary: Bulk delete activities
      tags:
      - Activities
      x-openapi-router-controller: openapi_server.controllers.activities_controller
      x-codegen-request-body-name: body
  /activities/{activity_id}:
    delete:
      operationId: activities_activity_id_delete
      parameters:
      - explode: false
        in: path
        name: activity_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Record not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      summary: Delete an activity
      tags:
      - Activities
      x-openapi-router-controller: openapi_server.controllers.activities_controller
    put:
      operationId: activities_activity_id_put
      parameters:
      - explode: false
        in: path
        name: activity_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Activity'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Record not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      summary: Edit an activity
      tags:
      - Activities
      x-openapi-router-controller: openapi_server.controllers.activities_controller
      x-codegen-request-body-name: body
  /cities:
    get:
      operationId: cities_get
      parameters:
      - description: Used to search for a city with specific zip code
        explode: true
        in: query
        name: zip_code
        required: false
        schema:
          type: string
        style: form
      - description: Used to search for a city by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Used to search for a city without filtering by country
        explode: true
        in: query
        name: include_all
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_cities_get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get list of cities supported in Apacta
      tags:
      - Cities
      x-openapi-router-controller: openapi_server.controllers.cities_controller
  /cities/{city_id}:
    get:
      operationId: cities_city_id_get
      parameters:
      - explode: false
        in: path
        name: city_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_cities__city_id__get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get details about one city
      tags:
      - Cities
      x-openapi-router-controller: openapi_server.controllers.cities_controller
  /clocking_records:
    get:
      operationId: clocking_records_get
      parameters:
      - description: Used to search for active clocking records
        explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records_get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a list of clocking records
      tags:
      - ClockingRecords
      x-openapi-router-controller: openapi_server.controllers.clocking_records_controller
    post:
      operationId: clocking_records_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_clocking_records_post_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records_post_201_response'
          description: Successfully added clocking record
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Create clocking record for authenticated user
      tags:
      - ClockingRecords
      x-openapi-router-controller: openapi_server.controllers.clocking_records_controller
      x-codegen-request-body-name: body
  /clocking_records/checkout:
    post:
      operationId: clocking_records_checkout_post
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records_checkout_post_201_response'
          description: Successfully checked out
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Checkout active clocking record for authenticated user
      tags:
      - ClockingRecords
      x-openapi-router-controller: openapi_server.controllers.clocking_records_controller
  /clocking_records/{clocking_record_id}:
    delete:
      operationId: clocking_records_clocking_record_id_delete
      parameters:
      - explode: false
        in: path
        name: clocking_record_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records__clocking_record_id__delete_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Delete a clocking record
      tags:
      - ClockingRecords
      x-openapi-router-controller: openapi_server.controllers.clocking_records_controller
    get:
      operationId: clocking_records_clocking_record_id_get
      parameters:
      - explode: false
        in: path
        name: clocking_record_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records__clocking_record_id__get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Clocking record not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Details of 1 clocking_record
      tags:
      - ClockingRecords
      x-openapi-router-controller: openapi_server.controllers.clocking_records_controller
    put:
      operationId: clocking_records_clocking_record_id_put
      parameters:
      - explode: false
        in: path
        name: clocking_record_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records__clocking_record_id__put_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Edit a clocking record
      tags:
      - ClockingRecords
      x-openapi-router-controller: openapi_server.controllers.clocking_records_controller
  /companies:
    get:
      operationId: companies_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_companies_get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a list of companies
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
  /companies/subscription_self_service:
    get:
      operationId: companies_subscription_self_service_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_companies_subscription_self_service_get_200_response'
          description: Self service url
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Company not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: URL for subscription selfservice
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
  /companies/{company_id}:
    get:
      operationId: companies_company_id_get
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_companies__company_id__get_200_response'
          description: Company object
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Company not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Details of 1 company
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
  /companies/{company_id}/companies_integration_feature_settings:
    get:
      operationId: companies_company_id_companies_integration_feature_settings_get
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_companies__company_id__companies_integration_feature_settings_get_200_response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Company not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: List a company integration feature settings
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    post:
      operationId: companies_company_id_companies_integration_feature_settings_post
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_companies__company_id__companies_integration_feature_settings_post_request'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSuccessResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Company not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Add a company integration feature setting
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
      x-codegen-request-body-name: body
  /companies/{company_id}/companies_integration_feature_settings/{c_integration_feature_setting_id}:
    get:
      operationId: companies_company_id_companies_integration_feature_settings_c_integration_feature_setting_id_get
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: c_integration_feature_setting_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_companies__company_id__companies_integration_feature_settings_get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: IntegrationFeatureSetting not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: View a company integration feature setting
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    put:
      operationId: companies_company_id_companies_integration_feature_settings_c_integration_feature_setting_id_put
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: c_integration_feature_setting_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_companies__company_id__companies_integration_feature_settings_get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: IntegrationFeatureSetting not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Edit a company integration feature setting
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
  /companies/{company_id}/form_templates/:
    get:
      operationId: companies_company_id_form_templates_get
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: form_template_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_companies__company_id__form_templates__get_200_response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Company not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a list of company form templates
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
  /companies/{company_id}/form_templates/{form_template_id}:
    delete:
      operationId: companies_company_id_form_templates_form_template_id_delete
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: Automatically added
        explode: false
        in: path
        name: form_template_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Companies form template not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Delete a form template company
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    get:
      operationId: companies_company_id_form_templates_form_template_id_get
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: id
        required: true
        schema:
          type: string
        style: form
      - description: Automatically added
        explode: false
        in: path
        name: form_template_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_companies__company_id__form_templates__get_200_response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Form template company not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a company form template
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
  /companies/{company_id}/integration_feature_settings:
    get:
      operationId: companies_company_id_integration_feature_settings_get
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_companies__company_id__integration_feature_settings_get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a list of integration feature settings
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
  /companies/{company_id}/integration_feature_settings/{integration_feature_setting_id}:
    get:
      operationId: companies_company_id_integration_feature_settings_integration_feature_setting_id_get
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: integration_feature_setting_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_companies__company_id__integration_feature_settings__integration_feature_setting_id__get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: IntegrationFeatureSetting not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Show details of 1 integration feature setting
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
  /companies/{company_id}/integration_settings:
    get:
      operationId: companies_company_id_integration_settings_get
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: The identifier of an ERP integration
        explode: true
        in: query
        name: identifier
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_companies__company_id__integration_settings_get_200_response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Company not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a list of company integration settings
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    post:
      operationId: companies_company_id_integration_settings_post
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Companiesintegrationsetting'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSuccessResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Company not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Add a company integration setting
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
      x-codegen-request-body-name: body
  /companies/{company_id}/integration_settings/{companies_integration_setting_id}:
    delete:
      operationId: companies_company_id_integration_settings_companies_integration_setting_id_delete
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: companies_integration_setting_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Companies integration setting not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Delete a company integration setting
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    get:
      operationId: companies_company_id_integration_settings_companies_integration_setting_id_get
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: companies_integration_setting_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_companies__company_id__integration_settings__companies_integration_setting_id__get_200_response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Companies integration setting not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a company integration setting
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    put:
      operationId: companies_company_id_integration_settings_companies_integration_setting_id_put
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: companies_integration_setting_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Companies integration setting not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Edit a company integration setting
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
  /companies/{company_id}/price_margins/{price_margins_id}:
    delete:
      operationId: companies_company_id_price_margins_price_margins_id_delete
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: price_margin_id
        required: true
        schema:
          type: string
        style: form
      - description: Automatically added
        explode: false
        in: path
        name: price_margins_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Companies integration setting not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Delete a company price margin
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    get:
      operationId: companies_company_id_price_margins_price_margins_id_get
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: Automatically added
        explode: false
        in: path
        name: price_margins_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_companies__company_id__price_margins__price_margins_id__get_200_response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Company not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a list of company price margins
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
    post:
      operationId: companies_company_id_price_margins_price_margins_id_post
      parameters:
      - explode: false
        in: path
        name: company_id
        required: true
        schema:
          type: string
        style: simple
      - description: Automatically added
        explode: false
        in: path
        name: price_margins_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_companies__company_id__price_margins__price_margins_id__post_request'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSuccessResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Company not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Add a company price margin
      tags:
      - Companies
      x-openapi-router-controller: openapi_server.controllers.companies_controller
      x-codegen-request-body-name: body
  /companies_vendors:
    get:
      operationId: get_compaies_vendors_list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCompaiesVendorsList_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a list of companies vendors
      tags:
      - CompaniesVendors
      x-openapi-router-controller: openapi_server.controllers.companies_vendors_controller
    post:
      operationId: add_companies_vendor
      requestBody:
        $ref: '#/components/requestBodies/addCompaniesVendorCompaniesvendor'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records_post_201_response'
          description: Successfully added companies vendor
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Add a new companies vendor
      tags:
      - CompaniesVendors
      x-openapi-router-controller: openapi_server.controllers.companies_vendors_controller
      x-codegen-request-body-name: body
  /companies_vendors/bulkDelete:
    delete:
      operationId: bulk_companies_vendors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkActionRequestBody'
        description: Companies vendors ids
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Forbidden
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Bulk delete companies vendors
      tags:
      - CompaniesVendors
      x-openapi-router-controller: openapi_server.controllers.companies_vendors_controller
      x-codegen-request-body-name: body
  /companies_vendors/{companies_vendor_id}:
    delete:
      operationId: companies_vendors_companies_vendor_id_delete
      parameters:
      - explode: false
        in: path
        name: companies_vendor_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records__clocking_record_id__delete_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Delete a companies vendor
      tags:
      - CompaniesVendors
      x-openapi-router-controller: openapi_server.controllers.companies_vendors_controller
    get:
      operationId: get_companies_vendor
      parameters:
      - explode: false
        in: path
        name: companies_vendor_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCompaniesVendor_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a companies vendor
      tags:
      - CompaniesVendors
      x-openapi-router-controller: openapi_server.controllers.companies_vendors_controller
    put:
      operationId: edit_companies_vendor
      parameters:
      - explode: false
        in: path
        name: companies_vendor_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/addCompaniesVendorCompaniesvendor'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records__clocking_record_id__put_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Edit a companies vendor
      tags:
      - CompaniesVendors
      x-openapi-router-controller: openapi_server.controllers.companies_vendors_controller
      x-codegen-request-body-name: body
  /companies_vendors/{companies_vendor_id}/expense_statistics:
    get:
      operationId: get_companies_vendors_expense_statistics
      parameters:
      - explode: false
        in: path
        name: companies_vendor_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCompaniesVendorsExpenseStatistics_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get companies vendor expense statistics
      tags:
      - CompaniesVendors
      x-openapi-router-controller: openapi_server.controllers.companies_vendors_controller
  /company_settings:
    get:
      operationId: get_compay_settings_list
      parameters:
      - description: Filter by name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Filter by description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCompaySettingsList_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: IntegrationFeatureSetting not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a list of company settings
      tags:
      - CompanySettings
      x-openapi-router-controller: openapi_server.controllers.company_settings_controller
  /contact_custom_field_attributes:
    get:
      operationId: contact_custom_field_attributes_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_contact_custom_field_attributes_get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a list of contact custom field attributes
      tags:
      - ContactCustomFieldAttributes
      x-openapi-router-controller: openapi_server.controllers.contact_custom_field_attributes_controller
  /contact_custom_field_attributes/{contact_custom_field_attribute_id}:
    get:
      operationId: contact_custom_field_attributes_contact_custom_field_attribute_id_get
      parameters:
      - explode: false
        in: path
        name: contact_custom_field_attribute_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_contact_custom_field_attributes__contact_custom_field_attribute_id__get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: ContactCustomFieldAttribute not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Details of 1 contact custom field attribute
      tags:
      - ContactCustomFieldAttributes
      x-openapi-router-controller: openapi_server.controllers.contact_custom_field_attributes_controller
  /contact_types:
    get:
      operationId: contact_types_get
      parameters:
      - description: Search for specific identifier value
        explode: true
        in: query
        name: identifier
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_contact_types_get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get list of contact types supported in Apacta
      tags:
      - ContactTypes
      x-openapi-router-controller: openapi_server.controllers.contact_types_controller
  /contact_types/{contact_type_id}:
    get:
      operationId: contact_types_contact_type_id_get
      parameters:
      - explode: false
        in: path
        name: contact_type_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_contact_types__contact_type_id__get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get details about one contact type
      tags:
      - ContactTypes
      x-openapi-router-controller: openapi_server.controllers.contact_types_controller
  /contacts:
    get:
      operationId: contacts_get
      parameters:
      - description: Used to search for a contact with a specific name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Search for values in CVR field
        explode: true
        in: query
        name: cvr
        required: false
        schema:
          type: string
        style: form
      - description: Search for values in EAN field
        explode: true
        in: query
        name: ean
        required: false
        schema:
          type: string
        style: form
      - description: Search for values in ERP id field
        explode: true
        in: query
        name: erp_id
        required: false
        schema:
          type: string
        style: form
      - description: Used to show only contacts with with one specific `ContactType`
        explode: true
        in: query
        name: contact_type
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Used to show only contacts with with one specific `City`
        explode: true
        in: query
        name: city
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: modified_gte
        required: false
        schema:
          format: datetime
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_contacts_get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a list of contacts
      tags:
      - Contacts
      x-openapi-router-controller: openapi_server.controllers.contacts_controller
    post:
      operationId: contacts_post
      requestBody:
        $ref: '#/components/requestBodies/Contact'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records_post_201_response'
          description: Successfully added contact
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Add a new contact
      tags:
      - Contacts
      x-openapi-router-controller: openapi_server.controllers.contacts_controller
      x-codegen-request-body-name: body
  /contacts/bulkDelete:
    delete:
      operationId: bulk_delete_contacts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkActionRequestBody'
        description: Contact ids
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Forbidden
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Bulk delete contacts
      tags:
      - Contacts
      x-openapi-router-controller: openapi_server.controllers.contacts_controller
      x-codegen-request-body-name: body
  /contacts/{contact_id}:
    delete:
      operationId: contacts_contact_id_delete
      parameters:
      - explode: false
        in: path
        name: contact_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records__clocking_record_id__delete_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Delete a contact
      tags:
      - Contacts
      x-openapi-router-controller: openapi_server.controllers.contacts_controller
    get:
      operationId: contacts_contact_id_get
      parameters:
      - explode: false
        in: path
        name: contact_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_contacts__contact_id__get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Contact not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Details of 1 contact
      tags:
      - Contacts
      x-openapi-router-controller: openapi_server.controllers.contacts_controller
    put:
      operationId: contacts_contact_id_put
      parameters:
      - explode: false
        in: path
        name: contact_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/Contact'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records__clocking_record_id__put_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Edit a contact
      tags:
      - Contacts
      x-openapi-router-controller: openapi_server.controllers.contacts_controller
      x-codegen-request-body-name: body
  /contacts/{contact_id}/contact_custom_field_values:
    get:
      operationId: contacts_contact_id_contact_custom_field_values_get
      parameters:
      - description: Automatically added
        explode: false
        in: path
        name: contact_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_contacts__contact_id__contact_custom_field_values_get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a list of contact custom field values
      tags:
      - ContactCustomFieldValue
      x-openapi-router-controller: openapi_server.controllers.contact_custom_field_value_controller
  /contacts/{contact_id}/contact_persons:
    get:
      description: Get a list of contact people associated with a contact
      operationId: get_contact_persons_list
      parameters:
      - explode: false
        in: path
        name: contact_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: created_gte
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: created_lte
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getContactPersonsList_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a list of contact people
      tags:
      - ContactPersons
      x-openapi-router-controller: openapi_server.controllers.contact_persons_controller
    post:
      operationId: add_contact_person
      parameters:
      - explode: false
        in: path
        name: contact_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/addContactPersonContactperson'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records_post_201_response'
          description: Successfully added contact person
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Add a new contact person to a contact
      tags:
      - ContactPersons
      x-openapi-router-controller: openapi_server.controllers.contact_persons_controller
      x-codegen-request-body-name: body
  /contacts/{contact_id}/contact_persons/{contact_person_id}:
    delete:
      operationId: contacts_contact_id_contact_persons_contact_person_id_delete
      parameters:
      - explode: false
        in: path
        name: contact_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: contact_person_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records__clocking_record_id__delete_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Delete a contact person
      tags:
      - ContactPersons
      x-openapi-router-controller: openapi_server.controllers.contact_persons_controller
    get:
      operationId: get_contact_person
      parameters:
      - explode: false
        in: path
        name: contact_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: contact_person_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getContactPerson_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get a contact person
      tags:
      - ContactPersons
      x-openapi-router-controller: openapi_server.controllers.contact_persons_controller
    put:
      operationId: edit_contact_person
      parameters:
      - explode: false
        in: path
        name: contact_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: contact_person_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/addContactPersonContactperson'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records__clocking_record_id__put_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Edit a contact person
      tags:
      - ContactPersons
      x-openapi-router-controller: openapi_server.controllers.contact_persons_controller
      x-codegen-request-body-name: body
  /countries:
    get:
      operationId: countries_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_countries_get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get list of countries supported in Apacta
      tags:
      - Countries
      x-openapi-router-controller: openapi_server.controllers.countries_controller
  /countries/{country_id}:
    get:
      operationId: countries_country_id_get
      parameters:
      - explode: false
        in: path
        name: country_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_countries__country_id__get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get details about one country
      tags:
      - Countries
      x-openapi-router-controller: openapi_server.controllers.countries_controller
  /currencies:
    get:
      operationId: currencies_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_currencies_get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get list of currencies supported in Apacta
      tags:
      - Currencies
      x-openapi-router-controller: openapi_server.controllers.currencies_controller
  /currencies/{currency_id}:
    get:
      operationId: currencies_currency_id_get
      parameters:
      - explode: false
        in: path
        name: currency_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_currencies__currency_id__get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Get details about one currency
      tags:
      - Currencies
      x-openapi-router-controller: openapi_server.controllers.currencies_controller
  /driving_types:
    get:
      operationId: get_driving_types
      parameters:
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: direction
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_driving_types_200_response'
          description: OK
      security:
      - api_key: []
      - X-Auth-Token: []
      summary: List the driving types of the company
      tags:
      - DrivingTypes
      x-openapi-router-controller: openapi_server.controllers.driving_types_controller
    post:
      operationId: post_driving_types
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_driving_types_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSuccessResponse'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      summary: Create driving type
      tags:
      - DrivingTypes
      x-openapi-router-controller: openapi_server.controllers.driving_types_controller
      x-codegen-request-body-name: body
  /driving_types/bulkDelete:
    delete:
      operationId: bulk_delete_driving_types
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkActionRequestBody'
        description: Driving types ids
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Bulk delete driving types
      tags:
      - DrivingTypes
      x-openapi-router-controller: openapi_server.controllers.driving_types_controller
      x-codegen-request-body-name: body
  /driving_types/{driving_type_id}:
    delete:
      operationId: delete_driving_types_driving_type_id
      parameters:
      - explode: false
        in: path
        name: driving_type_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      summary: Delete driving type
      tags:
      - DrivingTypes
      x-openapi-router-controller: openapi_server.controllers.driving_types_controller
    get:
      operationId: get_driving_types_driving_type_id
      parameters:
      - explode: false
        in: path
        name: driving_type_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: driving_type_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DrivingType'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: View driving type
      tags:
      - DrivingTypes
      x-openapi-router-controller: openapi_server.controllers.driving_types_controller
    put:
      description: ""
      operationId: put_driving_types_driving_type_id
      parameters:
      - explode: false
        in: path
        name: driving_type_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/DrivingType'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      summary: Edit driving type
      tags:
      - DrivingTypes
      x-openapi-router-controller: openapi_server.controllers.driving_types_controller
  /employee_hours:
    get:
      operationId: employee_hours_get
      parameters:
      - description: Date formatted as Y-m-d (2016-06-28)
        explode: true
        in: query
        name: date_from
        required: true
        schema:
          type: string
        style: form
      - description: Date formatted as Y-m-d (2016-06-28)
        explode: true
        in: query
        name: date_to
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_employee_hours_get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Used to retrieve details about the logged in user's hours
      tags:
      - EmployeeHours
      x-openapi-router-controller: openapi_server.controllers.employee_hours_controller
  /events:
    get:
      operationId: events_get
      parameters:
      - explode: true
        in: query
        name: user_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: project_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: "start[][gt]"
        required: false
        schema:
          format: datetime
          type: string
        style: form
      - explode: true
        in: query
        name: "start[][lt]"
        required: false
        schema:
          format: datetime
          type: string
        style: form
      - explode: true
        in: query
        name: "start[][eq]"
        required: false
        schema:
          format: datetime
          type: string
        style: form
      - explode: true
        in: query
        name: "end[][gt]"
        required: false
        schema:
          format: datetime
          type: string
        style: form
      - explode: true
        in: query
        name: "end[][lt]"
        required: false
        schema:
          format: datetime
          type: string
        style: form
      - explode: true
        in: query
        name: "end[][eq]"
        required: false
        schema:
          format: datetime
          type: string
        style: form
      - description: "List events with given tag ids separated by comma. Example tags=0377d6ce-db5e-4b1e-ac3a-8ca39ea3142e,8cec327e-a559-4b40-9ed6-316b9de46743"
        explode: true
        in: query
        name: tags
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: List events without attached user
        explode: true
        in: query
        name: without_users
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_events_get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Show list of events
      tags:
      - Events
      x-openapi-router-controller: openapi_server.controllers.events_controller
    post:
      operationId: events_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_events_post_request'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records_post_201_response'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Create event
      tags:
      - Events
      x-openapi-router-controller: openapi_server.controllers.events_controller
      x-codegen-request-body-name: body
  /events/is_user_free:
    get:
      operationId: events_is_user_free_get
      parameters:
      - explode: true
        in: query
        name: user_id
        required: true
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: start
        required: true
        schema:
          format: dateTime
          type: string
        style: form
      - explode: true
        in: query
        name: end
        required: true
        schema:
          format: dateTime
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_events_is_user_free_get_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: BadRequestException
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Check if user is available at given datetime range
      tags:
      - Events
      x-openapi-router-controller: openapi_server.controllers.events_controller
  /events/{event_id}:
    delete:
      operationId: events_event_id_delete
      parameters:
      - explode: false
        in: path
        name: event_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_events__event_id__get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Delete event
      tags:
      - Events
      x-openapi-router-controller: openapi_server.controllers.events_controller
    get:
      operationId: events_event_id_get
      parameters:
      - explode: false
        in: path
        name: event_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_events__event_id__get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Show event
      tags:
      - Events
      x-openapi-router-controller: openapi_server.controllers.events_controller
    put:
      operationId: events_event_id_put
      parameters:
      - explode: false
        in: path
        name: event_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_events__event_id__get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Edit event
      tags:
      - Events
      x-openapi-router-controller: openapi_server.controllers.events_controller
  /expense_files:
    get:
      operationId: expense_files_get
      parameters:
      - explode: true
        in: query
        name: created_by_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: expense_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_expense_files_get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Show list of expense files
      tags:
      - ExpenseFiles
      x-openapi-router-controller: openapi_server.controllers.expense_files_controller
    post:
      operationId: expense_files_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_expense_files_post_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records_post_201_response'
          description: Successfully added file
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Add file to expense
      tags:
      - ExpenseFiles
      x-openapi-router-controller: openapi_server.controllers.expense_files_controller
      x-codegen-request-body-name: body
  /expense_files/{expense_file_id}:
    delete:
      operationId: expense_files_expense_file_id_delete
      parameters:
      - explode: false
        in: path
        name: expense_file_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_expense_files__expense_file_id__get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Delete file
      tags:
      - ExpenseFiles
      x-openapi-router-controller: openapi_server.controllers.expense_files_controller
    get:
      operationId: expense_files_expense_file_id_get
      parameters:
      - explode: false
        in: path
        name: expense_file_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_expense_files__expense_file_id__get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Show file
      tags:
      - ExpenseFiles
      x-openapi-router-controller: openapi_server.controllers.expense_files_controller
    put:
      operationId: expense_files_expense_file_id_put
      parameters:
      - explode: false
        in: path
        name: expense_file_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_expense_files__expense_file_id__put_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Edit file
      tags:
      - ExpenseFiles
      x-openapi-router-controller: openapi_server.controllers.expense_files_controller
  /expense_lines:
    get:
      operationId: expense_lines_get
      parameters:
      - explode: true
        in: query
        name: created_by_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: currency_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: expense_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_expense_lines_get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Show list of expense lines
      tags:
      - ExpenseLines
      x-openapi-router-controller: openapi_server.controllers.expense_lines_controller
    post:
      operationId: expense_lines_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_expense_lines_post_request'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records_post_201_response'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Add line to expense
      tags:
      - ExpenseLines
      x-openapi-router-controller: openapi_server.controllers.expense_lines_controller
      x-codegen-request-body-name: body
  /expense_lines/{expense_line_id}:
    delete:
      operationId: expense_lines_expense_line_id_delete
      parameters:
      - explode: false
        in: path
        name: expense_line_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_expense_lines__expense_line_id__get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Delete expense line
      tags:
      - ExpenseLines
      x-openapi-router-controller: openapi_server.controllers.expense_lines_controller
    get:
      operationId: expense_lines_expense_line_id_get
      parameters:
      - explode: false
        in: path
        name: expense_line_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_expense_lines__expense_line_id__get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Show expense line
      tags:
      - ExpenseLines
      x-openapi-router-controller: openapi_server.controllers.expense_lines_controller
    put:
      operationId: expense_lines_expense_line_id_put
      parameters:
      - explode: false
        in: path
        name: expense_line_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_expense_lines__expense_line_id__get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Edit expense line
      tags:
      - ExpenseLines
      x-openapi-router-controller: openapi_server.controllers.expense_lines_controller
  /expenses:
    get:
      operationId: expenses_get
      parameters:
      - explode: true
        in: query
        name: created_by_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: company_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: contact_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: project_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "Filter by [valid=records in future including today], [exceeded=records\
          \ in past] or [null=all records]"
        explode: true
        in: query
        name: due_date
        required: false
        schema:
          enum:
          - valid
          - exceeded
          - null
          format: string
          type: string
        style: form
      - description: Created after date
        explode: true
        in: query
        name: gt_created
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Created before date
        explode: true
        in: query
        name: lt_created
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "Filter by status identifier. [null=all records]"
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - expired_subscription
          - approved
          - null
          format: string
          type: string
        style: form
      - explode: true
        in: query
        name: is_imported
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Expenses `total_selling_price` > `min_amount`
        explode: true
        in: query
        name: min_amount
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Expenses `total_selling_price` < `max_amount`
        explode: true
        in: query
        name: max_amount
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: "You can select `all projects`, `no projects` or select `multiple\
          \ projects`"
        explode: true
        in: query
        name: projects
        required: false
        schema:
          enum:
          - all
          - none
          - "[\"project1\",\"project2\",\"project3\"]"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_expenses_get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Show list of expenses
      tags:
      - Expenses
      x-openapi-router-controller: openapi_server.controllers.expenses_controller
    post:
      operationId: expenses_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_expenses_post_request'
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_clocking_records_post_201_response'
          description: OK
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
          description: Validation error
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Add line to expense
      tags:
      - Expenses
      x-openapi-router-controller: openapi_server.controllers.expenses_controller
      x-codegen-request-body-name: body
  /expenses/bulkDelete:
    delete:
      operationId: bulk_delete_expenses
      requestBody:
        $ref: '#/components/requestBodies/BulkActionRequestBody'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Bulk delete expenses
      tags:
      - Expenses
      x-openapi-router-controller: openapi_server.controllers.expenses_controller
      x-codegen-request-body-name: body
  /expenses/highest_amount:
    get:
      operationId: expenses_highest_amount_get
      parameters:
      - description: Used to filter time range
        explode: true
        in: query
        name: gt_created
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: Used to filter time range
        explode: true
        in: query
        name: lt_created
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_expenses_highest_amount_get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Show highest Expense amount(`total_selling_price`)
      tags:
      - Expenses
      x-openapi-router-controller: openapi_server.controllers.expenses_controller
  /expenses/sendEmails:
    delete:
      operationId: send_emails_expenses
      requestBody:
        $ref: '#/components/requestBodies/BulkActionRequestBody'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Bulk delete expenses
      tags:
      - Expenses
      x-openapi-router-controller: openapi_server.controllers.expenses_controller
      x-codegen-request-body-name: body
  /expenses/{expense_id}:
    delete:
      operationId: expenses_expense_id_delete
      parameters:
      - explode: false
        in: path
        name: expense_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_expenses__expense_id__get_200_response'
          description: OK
      security:
      - X-Auth-Token: []
      - api_key: []
      summary: Delete expense
      tags:
      - Expenses
      x-openapi-router-controller: openapi_server.controllers.expenses_controller
    get:
      operationId: expenses_expense_id_get
      parameters:
      - explode: false
        in: path
        name: expense_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_expenses__expense_id__get_200_response'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
          description: Not found
[...]
