openapi: 3.0.1
info:
  description: Social media management for marketers and agencies
  title: Bufferapp
  version: "1"
  x-apisguru-categories:
  - social
  - marketing
  x-logo:
    url: https://d389zggrogs7qo.cloudfront.net/images/app/buffer-logo@2x.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/bufferapp.com/1/swagger.yaml
    version: "2.0"
  x-providerName: bufferapp.com
  x-unofficialSpec: true
externalDocs:
  url: https://buffer.com/developers/api
servers:
- url: https://api.bufferapp.com/1/
paths:
  /info/configuration{mediaTypeExtension}:
    get:
      description: "Returns an object with the current configuration that Buffer is\
        \ using, including supported services, their icons and the varying limits\
        \ of character and schedules."
      operationId: info_configurationmedia_type_extension_get
      parameters:
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configuration'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: |
            An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /links/shares{mediaTypeExtension}:
    get:
      description: Returns an object with a the numbers of shares a link has had using
        Buffer.
      operationId: links_sharesmedia_type_extension_get
      parameters:
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      - description: URL-encoded URL of the page for which the number of shares is
          requested.
        in: query
        name: url
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shares'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: |
            An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /profiles/{id}/schedules/update{mediaTypeExtension}:
    post:
      description: |
        "Set the posting schedules for the specified social media profile.
      operationId: profiles_id_schedules_updatemedia_type_extension_post
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /profiles/{id}/schedules{mediaTypeExtension}:
    get:
      description: Returns details of the posting schedules associated with a social
        media profile.
      operationId: profiles_id_schedulesmedia_type_extension_get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedules'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: |
            An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /profiles/{id}/updates/pending{mediaTypeExtension}:
    get:
      description: |
        "Returns an array of updates that are currently in the buffer for an individual social media profile.
      operationId: profiles_id_updates_pendingmedia_type_extension_get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      - description: Specifies the page of status updates to receive. If not specified
          the first page of results will be returned.
        in: query
        name: page
        schema:
          type: integer
      - description: "Specifies the number of status updates to receive. If provided,\
          \ must be between 1 and 100."
        in: query
        name: count
        schema:
          type: integer
      - description: Specifies a unix timestamp which only status updates created
          after this time will be retrieved.
        in: query
        name: since
        schema:
          format: date
          type: string
      - description: If utc is set times will be returned relative to UTC rather than
          the users associated timezone.
        in: query
        name: utc
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updates-array'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: |
            An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /profiles/{id}/updates/reorder{mediaTypeExtension}:
    post:
      description: |
        Edit the order at which statuses for the specified social media profile will be sent out of the buffer.
      operationId: profiles_id_updates_reordermedia_type_extension_post
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shuffle'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /profiles/{id}/updates/sent{mediaTypeExtension}:
    get:
      description: |
        Returns an array of updates that have been sent from the buffer for an individual social media profile.
      operationId: profiles_id_updates_sentmedia_type_extension_get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      - description: Specifies the page of status updates to receive. If not specified
          the first page of results will be returned.
        in: query
        name: page
        schema:
          type: integer
      - description: "Specifies the number of status updates to receive. If provided,\
          \ must be between 1 and 100."
        in: query
        name: count
        schema:
          type: integer
      - description: Specifies a unix timestamp which only status updates created
          after this time will be retrieved.
        in: query
        name: since
        schema:
          format: date
          type: string
      - description: If utc is set times will be returned relative to UTC rather than
          the users associated timezone.
        in: query
        name: utc
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updates-array'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: |
            An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /profiles/{id}/updates/shuffle{mediaTypeExtension}:
    post:
      description: |
        Randomize the order at which statuses for the specified social media profile will be sent out of the buffer.
      operationId: profiles_id_updates_shufflemedia_type_extension_post
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shuffle'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /profiles/{id}{mediaTypeExtension}:
    get:
      description: Returns details of the single specified social media profile.
      operationId: profiles_idmedia_type_extension_get
      parameters:
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profile'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: |
            An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /profiles{mediaTypeExtension}:
    get:
      description: Returns an array of social media profiles connected to a users
        account.
      operationId: profilesmedia_type_extension_get
      parameters:
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profiles'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: |
            An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /updates/create{mediaTypeExtension}:
    post:
      description: |
        Create one or more new status updates.
      operationId: updates_createmedia_type_extension_post
      parameters:
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/newUpdate'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /updates/{id}/destroy{mediaTypeExtension}:
    post:
      description: Permanently delete an existing status update.
      operationId: updates_id_destroymedia_type_extension_post
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /updates/{id}/interactions{mediaTypeExtension}:
    get:
      description: |
        Returns the detailed information on individual interactions with the social media update such as favorites, retweets and likes.
      operationId: updates_id_interactionsmedia_type_extension_get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      - description: |
          Specifies a type of event to be retrieved, for example "retweet", "like", "comment", "mention" or "reshare". They can also be plural (e.g., "reshares"). Plurality has no effect other than visual semantics. See /info/configuration for more information on supported interaction events.
        in: query
        name: event
        required: true
        schema:
          type: string
      - description: Specifies the page of status updates to receive. If not specified
          the first page of results will be returned.
        in: query
        name: page
        schema:
          type: integer
      - description: "Specifies the number of status updates to receive. If provided,\
          \ must be between 1 and 100."
        in: query
        name: count
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/interactions'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: |
            An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /updates/{id}/move_to_top{mediaTypeExtension}:
    post:
      description: Move an existing status update to the top of the queue and recalculate
        times for all updates in the queue. Returns the update with its new posting
        time.
      operationId: updates_id_move_to_topmedia_type_extension_post
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /updates/{id}/share{mediaTypeExtension}:
    post:
      description: Immediately shares a single pending update and recalculates times
        for updates remaining in the queue.
      operationId: updates_id_sharemedia_type_extension_post
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /updates/{id}/update{mediaTypeExtension}:
    post:
      description: |
        Edit an existing, individual status update.
      operationId: updates_id_updatemedia_type_extension_post
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/individual-update'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /updates/{id}{mediaTypeExtension}:
    get:
      description: Returns a single social media update.
      operationId: updates_idmedia_type_extension_get
      parameters:
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: |
            An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /user{mediaTypeExtension}:
    get:
      description: Returns a single user.
      operationId: usermedia_type_extension_get
      parameters:
      - in: path
        name: mediaTypeExtension
        required: true
        schema:
          enum:
          - .json
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: OK
        "400":
          content: {}
          description: |
            1003  Parameter not recognized.
            1004  Required parameter missing.
            1006  Parameter value not within bounds.
            1012  Profile did not save successfully.
            1016  Profile buffer could not be emptied.
            1022  Update did not save successfully.
            1025  Update was recently posted, can't post duplicate content.
            1026  Update must be in error status to requeue.
            1027  Update must be in buffer and not custom scheduled in order to move to top.
            1029  Event type not supported.
            1030  Media filetype not supported.
            1031  Media filesize out of acceptable range.
            1032  Unable to post image to LinkedIn group(s).
            1034  Cannot schedule updates in the past.
            1033  Comments can only be posted to Facebook at this time.
            1042  User did not save successfully.
        "403":
          content: {}
          description: |
            403  Permission denied.
            1001  Access token required.
            1002  Not within application scope.
            1011  No authorization to access profile.
            1013  Profile schedule limit reached.
            1014  Profile limit for user has been reached.
            1015  Profile could not be destroyed.
            1021  No authorization to access update.
            1023  Update limit for profile has been reached.
            1024  Update limit for team profile has been reached.
            1028  Update soft limit for profile reached.
            1051  No authorization to access client.
        "404":
          content: {}
          description: |
            404  Endpoint not found.
            1010  Profile could not be found.
            1020  Update could not be found.
            1050  Client could not be found.
        "405":
          content: {}
          description: |
            405  Method not allowed.
        "406":
          content: {}
          description: |
            1005  Unsupported response format.
        "500":
          content: {}
          description: |
            An unknown error occurred.
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    configuration:
      example:
        media:
          picture_filetypes:
          - picture_filetypes
          - picture_filetypes
          picture_size_max: 0.8008281904610115
          picture_size_min: 6.027456183070403
        services:
          twitter:
            types:
              profile:
                link_attachments: true
                supported_interactions:
                - supported_interactions
                - supported_interactions
                character_limit: 5.637376656633329
                name: name
                icons:
                  "16": "16"
                  "64": "64"
                  "32": "32"
                schedule_limit: 2.3021358869347655
            urls:
              cashtag: cashtag
              user: user
              hashtag: hashtag
          appdotnet:
            types:
              profile:
                link_attachments: true
                supported_interactions:
                - "{}"
                - "{}"
                character_limit: 1.4658129805029452
                name: name
                icons:
                  "16": "16"
                  "64": "64"
                  "32": "32"
                schedule_limit: 5.962133916683182
            urls:
              user: user
              hashtag: hashtag
          facebook:
            types:
              profile:
                link_attachments: true
                supported_interactions:
                - supported_interactions
                - supported_interactions
                character_limit: 5.637376656633329
                name: name
                icons:
                  "16": "16"
                  "64": "64"
                  "32": "32"
                schedule_limit: 2.3021358869347655
              page:
                link_attachments: true
                supported_interactions:
                - supported_interactions
                - supported_interactions
                character_limit: 5.637376656633329
                name: name
                icons:
                  "16": "16"
                  "64": "64"
                  "32": "32"
                schedule_limit: 2.3021358869347655
              group:
                link_attachments: true
                supported_interactions:
                - supported_interactions
                - supported_interactions
                character_limit: 5.637376656633329
                name: name
                icons:
                  "16": "16"
                  "64": "64"
                  "32": "32"
                schedule_limit: 2.3021358869347655
            urls:
              user: user
          google:
            types:
              profile:
                link_attachments: true
                supported_interactions:
                - supported_interactions
                - supported_interactions
                character_limit: 5.637376656633329
                name: name
                icons:
                  "16": "16"
                  "64": "64"
                  "32": "32"
                schedule_limit: 2.3021358869347655
              page:
                link_attachments: true
                supported_interactions:
                - supported_interactions
                - supported_interactions
                character_limit: 5.637376656633329
                name: name
                icons:
                  "16": "16"
                  "64": "64"
                  "32": "32"
                schedule_limit: 2.3021358869347655
            urls:
              user: user
          linkedin:
            types:
              profile:
                link_attachments: true
                supported_interactions:
                - supported_interactions
                - supported_interactions
                character_limit: 5.637376656633329
                name: name
                icons:
                  "16": "16"
                  "64": "64"
                  "32": "32"
                schedule_limit: 2.3021358869347655
              page:
                link_attachments: true
                supported_interactions:
                - supported_interactions
                - supported_interactions
                character_limit: 5.637376656633329
                name: name
                icons:
                  "16": "16"
                  "64": "64"
                  "32": "32"
                schedule_limit: 2.3021358869347655
              group:
                link_attachments: true
                supported_interactions:
                - supported_interactions
                - supported_interactions
                character_limit: 5.637376656633329
                name: name
                icons:
                  "16": "16"
                  "64": "64"
                  "32": "32"
                schedule_limit: 2.3021358869347655
            urls:
              user: user
      properties:
        media:
          $ref: '#/components/schemas/configuration_media'
        services:
          $ref: '#/components/schemas/configuration_services'
      title: configuration
      type: object
    individual-update:
      example:
        success: true
        update:
          due_time: due_time
          created_at: 1.4658129805029452
          profile_service: profile_service
          media:
            link: link
            description: description
            title: title
          client_id: client_id
          via: via
          user_id: user_id
          profile_id: profile_id
          text_formatted: text_formatted
          due_at: 5.962133916683182
          id: id
          text: text
          day: day
          status: status
        buffer_percentage: 6.027456183070403
        buffer_count: 0.8008281904610115
      properties:
        buffer_count:
          title: buffer_count
          type: number
        buffer_percentage:
          title: buffer_percentage
          type: number
        success:
          title: success
          type: boolean
        update:
          $ref: '#/components/schemas/individual_update_update'
      title: individual-update
      type: object
    interactions:
      example:
        total: 1.4658129805029452
        interactions:
        - created_at: 0.8008281904610115
          _id: _id
          id: id
          event: event
          interaction_id: interaction_id
          user:
            avatar_https: avatar_https
            followers: 6.027456183070403
            avatar: avatar
            twitter_id: twitter_id
            username: username
        - created_at: 0.8008281904610115
          _id: _id
          id: id
          event: event
          interaction_id: interaction_id
          user:
            avatar_https: avatar_https
            followers: 6.027456183070403
            avatar: avatar
            twitter_id: twitter_id
            username: username
      properties:
        interactions:
          items:
            $ref: '#/components/schemas/interactions_interactions_inner'
          title: interactions
          type: array
        total:
          title: total
          type: number
      title: interactions
      type: object
    newUpdate:
      example:
        success: true
        buffer_percentage: 6.027456183070403
        updates:
        - due_time: due_time
          created_at: 1.4658129805029452
          profile_service: profile_service
          media:
            link: link
            description: description
            title: title
          via: via
          user_id: user_id
          profile_id: profile_id
          text_formatted: text_formatted
          due_at: 5.962133916683182
          id: id
          text: text
          day: day
          status: status
        - due_time: due_time
          created_at: 1.4658129805029452
          profile_service: profile_service
          media:
            link: link
            description: description
            title: title
          via: via
          user_id: user_id
          profile_id: profile_id
          text_formatted: text_formatted
          due_at: 5.962133916683182
          id: id
          text: text
          day: day
          status: status
        buffer_count: 0.8008281904610115
      properties:
        buffer_count:
          title: buffer_count
          type: number
        buffer_percentage:
          title: buffer_percentage
          type: number
        success:
          title: success
          type: boolean
        updates:
          items:
            $ref: '#/components/schemas/newUpdate_updates_inner'
          title: updates
          type: array
      title: newUpdate
      type: object
    profile:
      example:
        timezone: timezone
        created_at: 0.8008281904610115
        avatar: avatar
        formatted_username: formatted_username
        default: true
        user_id: user_id
        service: service
        service_username: service_username
        schedules:
        - times:
          - times
          - times
          days:
          - days
          - days
        - times:
          - times
          - times
          days:
          - days
          - days
        service_id: service_id
        team_members:
        - team_members
        - team_members
        id: id
        statistics:
          followers: 6.027456183070403
      properties:
        avatar:
          title: avatar
          type: string
        created_at:
          title: created_at
          type: number
        default:
          title: default
          type: boolean
        formatted_username:
          title: formatted_username
          type: string
        id:
          title: id
          type: string
        schedules:
          items:
            $ref: '#/components/schemas/profile_schedules_inner'
          title: schedules
          type: array
        service:
          title: service
          type: string
        service_id:
          title: service_id
          type: string
        service_username:
          title: service_username
          type: string
        statistics:
          $ref: '#/components/schemas/profile_statistics'
        team_members:
          items:
            type: string
          title: team_members
          type: array
        timezone:
          title: timezone
          type: string
        user_id:
          title: user_id
          type: string
      title: profile
      type: object
    profiles:
      items:
        $ref: '#/components/schemas/profiles_inner'
      type: array
    reorder:
      properties:
        success:
          type: boolean
        updates:
          items:
            $ref: '#/components/schemas/reorder_updates_inner'
          type: array
      type: object
    schedules:
      example:
        times:
        - times
        - times
        days:
        - days
        - days
      properties:
        days:
          items:
            type: string
          title: days
          type: array
        times:
          items:
            type: string
          title: times
          type: array
      title: schedules
      type: object
    schedules-update:
      properties:
        success:
          type: boolean
      type: object
    share:
      properties:
        success:
          type: boolean
      type: object
    shares:
      example:
        shares: 0.8008281904610115
      properties:
        shares:
          title: shares
          type: number
      title: shares
      type: object
    shuffle:
      example:
        success: true
        updates:
        - due_time: due_time
          user_id: user_id
          profile_id: profile_id
          created_at: 6.027456183070403
          profile_service: profile_service
          text_formatted: text_formatted
          due_at: 1.4658129805029452
          id: id
          text: text
          day: day
          status: status
          via: via
        - due_time: due_time
          user_id: user_id
          profile_id: profile_id
          created_at: 6.027456183070403
          profile_service: profile_service
          text_formatted: text_formatted
          due_at: 1.4658129805029452
          id: id
          text: text
          day: day
          status: status
          via: via
      properties:
        success:
          title: success
          type: boolean
        updates:
          items:
            $ref: '#/components/schemas/reorder_updates_inner'
          title: updates
          type: array
      title: shuffle
      type: object
    success:
      example:
        success: true
      properties:
        success:
          title: success
          type: boolean
      title: success
      type: object
    update:
      example:
        due_time: due_time
        created_at: 0.8008281904610115
        profile_service: profile_service
        service_update_id: service_update_id
        via: via
        sent_at: 1.4658129805029452
        user_id: user_id
        profile_id: profile_id
        text_formatted: text_formatted
        due_at: 6.027456183070403
        id: id
        text: text
        day: day
        statistics:
          favorites: 5.637376656633329
          reach: 7.061401241503109
          mentions: 2.3021358869347655
          clicks: 5.962133916683182
          retweets: 9.301444243932576
        status: status
      properties:
        created_at:
          title: created_at
          type: number
        day:
          title: day
          type: string
        due_at:
          title: due_at
          type: number
        due_time:
          title: due_time
          type: string
        id:
          title: id
          type: string
        profile_id:
          title: profile_id
          type: string
        profile_service:
          title: profile_service
          type: string
        sent_at:
          title: sent_at
          type: number
        service_update_id:
          title: service_update_id
          type: string
        statistics:
          $ref: '#/components/schemas/update_statistics'
        status:
          title: status
          type: string
        text:
          title: text
          type: string
        text_formatted:
          title: text_formatted
          type: string
        user_id:
          title: user_id
          type: string
        via:
          title: via
          type: string
      title: update
      type: object
    updates-array:
      example:
        total: 0.8008281904610115
        updates:
        - due_time: due_time
          user_id: user_id
          profile_id: profile_id
          created_at: 6.027456183070403
          profile_service: profile_service
          text_formatted: text_formatted
          due_at: 1.4658129805029452
          id: id
          text: text
          day: day
          status: status
          via: via
        - due_time: due_time
          user_id: user_id
          profile_id: profile_id
          created_at: 6.027456183070403
          profile_service: profile_service
          text_formatted: text_formatted
          due_at: 1.4658129805029452
          id: id
          text: text
          day: day
          status: status
          via: via
      properties:
        total:
          title: total
          type: number
        updates:
          items:
            $ref: '#/components/schemas/reorder_updates_inner'
          title: updates
          type: array
      title: updates-array
      type: object
    user:
      example:
        activity_at: 0.8008281904610115
        referral_link: referral_link
        timezone: timezone
        created_at: 6.027456183070403
        _id: _id
        id: id
        referral_token: referral_token
        plan: plan
        secret_email: secret_email
      properties:
        _id:
          title: _id
          type: string
        activity_at:
          title: activity_at
          type: number
        created_at:
          title: created_at
          type: number
        id:
          title: id
          type: string
        plan:
          title: plan
          type: string
        referral_link:
          title: referral_link
          type: string
        referral_token:
          title: referral_token
          type: string
        secret_email:
          title: secret_email
          type: string
        timezone:
          title: timezone
          type: string
      title: user
      type: object
    configuration_media:
      example:
        picture_filetypes:
        - picture_filetypes
        - picture_filetypes
        picture_size_max: 0.8008281904610115
        picture_size_min: 6.027456183070403
      properties:
        picture_filetypes:
          items:
            type: string
          title: picture_filetypes
          type: array
        picture_size_max:
          title: picture_size_max
          type: number
        picture_size_min:
          title: picture_size_min
          type: number
      title: configuration_media
      type: object
    configuration_services_appdotnet_types_profile_icons:
      example:
        "16": "16"
        "64": "64"
        "32": "32"
      properties:
        "16":
          title: "16"
          type: string
        "32":
          title: "32"
          type: string
        "64":
          title: "64"
          type: string
      title: configuration_services_appdotnet_types_profile_icons
      type: object
    configuration_services_appdotnet_types_profile:
      example:
        link_attachments: true
        supported_interactions:
        - "{}"
        - "{}"
        character_limit: 1.4658129805029452
        name: name
        icons:
          "16": "16"
          "64": "64"
          "32": "32"
        schedule_limit: 5.962133916683182
      properties:
        character_limit:
          title: character_limit
          type: number
        icons:
          $ref: '#/components/schemas/configuration_services_appdotnet_types_profile_icons'
        link_attachments:
          title: link_attachments
          type: boolean
        name:
          title: name
          type: string
        schedule_limit:
          title: schedule_limit
          type: number
        supported_interactions:
          items:
            type: object
          title: supported_interactions
          type: array
      title: configuration_services_appdotnet_types_profile
      type: object
    configuration_services_appdotnet_types:
      example:
        profile:
          link_attachments: true
          supported_interactions:
          - "{}"
          - "{}"
          character_limit: 1.4658129805029452
          name: name
          icons:
            "16": "16"
            "64": "64"
            "32": "32"
          schedule_limit: 5.962133916683182
      properties:
        profile:
          $ref: '#/components/schemas/configuration_services_appdotnet_types_profile'
      title: configuration_services_appdotnet_types
      type: object
    configuration_services_appdotnet_urls:
      example:
        user: user
        hashtag: hashtag
      properties:
        hashtag:
          title: hashtag
          type: string
        user:
          title: user
          type: string
      title: configuration_services_appdotnet_urls
      type: object
    configuration_services_appdotnet:
      example:
        types:
          profile:
            link_attachments: true
            supported_interactions:
            - "{}"
            - "{}"
            character_limit: 1.4658129805029452
            name: name
            icons:
              "16": "16"
              "64": "64"
              "32": "32"
            schedule_limit: 5.962133916683182
        urls:
          user: user
          hashtag: hashtag
      properties:
        types:
          $ref: '#/components/schemas/configuration_services_appdotnet_types'
        urls:
          $ref: '#/components/schemas/configuration_services_appdotnet_urls'
      title: configuration_services_appdotnet
      type: object
    configuration_services_facebook_types_group:
      example:
        link_attachments: true
        supported_interactions:
        - supported_interactions
        - supported_interactions
        character_limit: 5.637376656633329
        name: name
        icons:
          "16": "16"
          "64": "64"
          "32": "32"
        schedule_limit: 2.3021358869347655
      properties:
        character_limit:
          title: character_limit
          type: number
        icons:
          $ref: '#/components/schemas/configuration_services_appdotnet_types_profile_icons'
        link_attachments:
          title: link_attachments
          type: boolean
        name:
          title: name
          type: string
        schedule_limit:
          title: schedule_limit
          type: number
        supported_interactions:
          items:
            type: string
          title: supported_interactions
          type: array
      title: configuration_services_facebook_types_group
      type: object
    configuration_services_facebook_types:
      example:
        profile:
          link_attachments: true
          supported_interactions:
          - supported_interactions
          - supported_interactions
          character_limit: 5.637376656633329
          name: name
          icons:
            "16": "16"
            "64": "64"
            "32": "32"
          schedule_limit: 2.3021358869347655
        page:
          link_attachments: true
          supported_interactions:
          - supported_interactions
          - supported_interactions
          character_limit: 5.637376656633329
          name: name
          icons:
            "16": "16"
            "64": "64"
            "32": "32"
          schedule_limit: 2.3021358869347655
        group:
          link_attachments: true
          supported_interactions:
          - supported_interactions
          - supported_interactions
          character_limit: 5.637376656633329
          name: name
          icons:
            "16": "16"
            "64": "64"
            "32": "32"
          schedule_limit: 2.3021358869347655
      properties:
        group:
          $ref: '#/components/schemas/configuration_services_facebook_types_group'
        page:
          $ref: '#/components/schemas/configuration_services_facebook_types_group'
        profile:
          $ref: '#/components/schemas/configuration_services_facebook_types_group'
      title: configuration_services_facebook_types
      type: object
    configuration_services_facebook_urls:
      example:
        user: user
      properties:
        user:
          title: user
          type: string
      title: configuration_services_facebook_urls
      type: object
    configuration_services_facebook:
      example:
        types:
          profile:
            link_attachments: true
            supported_interactions:
            - supported_interactions
            - supported_interactions
            character_limit: 5.637376656633329
            name: name
            icons:
              "16": "16"
              "64": "64"
              "32": "32"
            schedule_limit: 2.3021358869347655
          page:
            link_attachments: true
            supported_interactions:
            - supported_interactions
            - supported_interactions
            character_limit: 5.637376656633329
            name: name
            icons:
              "16": "16"
              "64": "64"
              "32": "32"
            schedule_limit: 2.3021358869347655
          group:
            link_attachments: true
            supported_interactions:
            - supported_interactions
            - supported_interactions
            character_limit: 5.637376656633329
            name: name
            icons:
              "16": "16"
              "64": "64"
              "32": "32"
            schedule_limit: 2.3021358869347655
        urls:
          user: user
      properties:
        types:
          $ref: '#/components/schemas/configuration_services_facebook_types'
        urls:
          $ref: '#/components/schemas/configuration_services_facebook_urls'
      title: configuration_services_facebook
      type: object
    configuration_services_google_types:
      example:
        profile:
          link_attachments: true
          supported_interactions:
          - supported_interactions
          - supported_interactions
          character_limit: 5.637376656633329
          name: name
          icons:
            "16": "16"
            "64": "64"
            "32": "32"
          schedule_limit: 2.3021358869347655
        page:
          link_attachments: true
          supported_interactions:
          - supported_interactions
          - supported_interactions
          character_limit: 5.637376656633329
          name: name
          icons:
            "16": "16"
            "64": "64"
            "32": "32"
          schedule_limit: 2.3021358869347655
      properties:
        page:
          $ref: '#/components/schemas/configuration_services_facebook_types_group'
        profile:
          $ref: '#/components/schemas/configuration_services_facebook_types_group'
      title: configuration_services_google_types
      type: object
    configuration_services_google:
      example:
        types:
          profile:
            link_attachments: true
            supported_interactions:
            - supported_interactions
            - supported_interactions
            character_limit: 5.637376656633329
            name: name
            icons:
              "16": "16"
              "64": "64"
              "32": "32"
            schedule_limit: 2.3021358869347655
          page:
            link_attachments: true
            supported_interactions:
            - supported_interactions
            - supported_interactions
            character_limit: 5.637376656633329
            name: name
            icons:
              "16": "16"
              "64": "64"
              "32": "32"
            schedule_limit: 2.3021358869347655
        urls:
          user: user
      properties:
        types:
          $ref: '#/components/schemas/configuration_services_google_types'
        urls:
          $ref: '#/components/schemas/configuration_services_facebook_urls'
      title: configuration_services_google
      type: object
    configuration_services_twitter_types:
      example:
        profile:
          link_attachments: true
          supported_interactions:
          - supported_interactions
          - supported_interactions
          character_limit: 5.637376656633329
          name: name
          icons:
            "16": "16"
            "64": "64"
            "32": "32"
          schedule_limit: 2.3021358869347655
      properties:
        profile:
          $ref: '#/components/schemas/configuration_services_facebook_types_group'
      title: configuration_services_twitter_types
      type: object
    configuration_services_twitter_urls:
      example:
        cashtag: cashtag
        user: user
        hashtag: hashtag
      properties:
        cashtag:
          title: cashtag
          type: string
        hashtag:
          title: hashtag
          type: string
        user:
          title: user
          type: string
      title: configuration_services_twitter_urls
      type: object
    configuration_services_twitter:
      example:
        types:
          profile:
            link_attachments: true
            supported_interactions:
            - supported_interactions
            - supported_interactions
            character_limit: 5.637376656633329
            name: name
            icons:
              "16": "16"
              "64": "64"
              "32": "32"
            schedule_limit: 2.3021358869347655
        urls:
          cashtag: cashtag
          user: user
          hashtag: hashtag
      properties:
        types:
          $ref: '#/components/schemas/configuration_services_twitter_types'
        urls:
          $ref: '#/components/schemas/configuration_services_twitter_urls'
      title: configuration_services_twitter
      type: object
    configuration_services:
      example:
        twitter:
          types:
            profile:
              link_attachments: true
              supported_interactions:
              - supported_interactions
              - supported_interactions
              character_limit: 5.637376656633329
              name: name
              icons:
                "16": "16"
                "64": "64"
                "32": "32"
              schedule_limit: 2.3021358869347655
          urls:
            cashtag: cashtag
            user: user
            hashtag: hashtag
        appdotnet:
          types:
            profile:
              link_attachments: true
              supported_interactions:
              - "{}"
              - "{}"
              character_limit: 1.4658129805029452
              name: name
              icons:
                "16": "16"
                "64": "64"
                "32": "32"
              schedule_limit: 5.962133916683182
          urls:
            user: user
            hashtag: hashtag
        facebook:
          types:
            profile:
              link_attachments: true
              supported_interactions:
              - supported_interactions
              - supported_interactions
              character_limit: 5.637376656633329
              name: name
              icons:
                "16": "16"
                "64": "64"
                "32": "32"
              schedule_limit: 2.3021358869347655
            page:
              link_attachments: true
              supported_interactions:
              - supported_interactions
              - supported_interactions
              character_limit: 5.637376656633329
              name: name
              icons:
                "16": "16"
                "64": "64"
                "32": "32"
              schedule_limit: 2.3021358869347655
            group:
              link_attachments: true
              supported_interactions:
              - supported_interactions
              - supported_interactions
              character_limit: 5.637376656633329
              name: name
              icons:
                "16": "16"
                "64": "64"
                "32": "32"
              schedule_limit: 2.3021358869347655
          urls:
            user: user
        google:
          types:
            profile:
              link_attachments: true
              supported_interactions:
              - supported_interactions
              - supported_interactions
              character_limit: 5.637376656633329
              name: name
              icons:
                "16": "16"
                "64": "64"
                "32": "32"
              schedule_limit: 2.3021358869347655
            page:
              link_attachments: true
              supported_interactions:
              - supported_interactions
              - supported_interactions
              character_limit: 5.637376656633329
              name: name
              icons:
                "16": "16"
                "64": "64"
                "32": "32"
              schedule_limit: 2.3021358869347655
          urls:
            user: user
        linkedin:
          types:
            profile:
              link_attachments: true
              supported_interactions:
              - supported_interactions
              - supported_interactions
              character_limit: 5.637376656633329
              name: name
              icons:
                "16": "16"
                "64": "64"
                "32": "32"
              schedule_limit: 2.3021358869347655
            page:
              link_attachments: true
              supported_interactions:
              - supported_interactions
              - supported_interactions
              character_limit: 5.637376656633329
              name: name
              icons:
                "16": "16"
                "64": "64"
                "32": "32"
              schedule_limit: 2.3021358869347655
            group:
              link_attachments: true
              supported_interactions:
              - supported_interactions
              - supported_interactions
              character_limit: 5.637376656633329
              name: name
              icons:
                "16": "16"
                "64": "64"
                "32": "32"
              schedule_limit: 2.3021358869347655
          urls:
            user: user
      properties:
        appdotnet:
          $ref: '#/components/schemas/configuration_services_appdotnet'
        facebook:
          $ref: '#/components/schemas/configuration_services_facebook'
        google:
          $ref: '#/components/schemas/configuration_services_google'
        linkedin:
          $ref: '#/components/schemas/configuration_services_facebook'
        twitter:
          $ref: '#/components/schemas/configuration_services_twitter'
      title: configuration_services
      type: object
    individual_update_update_media:
      example:
        link: link
        description: description
        title: title
      properties:
        description:
          title: description
          type: string
        link:
          title: link
          type: string
        title:
          title: title
          type: string
      title: individual_update_update_media
      type: object
    individual_update_update:
      example:
        due_time: due_time
        created_at: 1.4658129805029452
        profile_service: profile_service
        media:
          link: link
          description: description
          title: title
        client_id: client_id
        via: via
        user_id: user_id
        profile_id: profile_id
        text_formatted: text_formatted
        due_at: 5.962133916683182
        id: id
        text: text
        day: day
        status: status
      properties:
        client_id:
          title: client_id
          type: string
        created_at:
          title: created_at
          type: number
        day:
          title: day
          type: string
        due_at:
          title: due_at
          type: number
        due_time:
          title: due_time
          type: string
        id:
          title: id
          type: string
        media:
          $ref: '#/components/schemas/individual_update_update_media'
        profile_id:
          title: profile_id
          type: string
        profile_service:
          title: profile_service
          type: string
        status:
          title: status
          type: string
        text:
          title: text
          type: string
        text_formatted:
          title: text_formatted
          type: string
        user_id:
          title: user_id
          type: string
        via:
          title: via
          type: string
      title: individual_update_update
      type: object
    interactions_interactions_inner_user:
      example:
        avatar_https: avatar_https
        followers: 6.027456183070403
        avatar: avatar
        twitter_id: twitter_id
        username: username
      properties:
        avatar:
          title: avatar
          type: string
        avatar_https:
          title: avatar_https
          type: string
        followers:
          title: followers
          type: number
        twitter_id:
          title: twitter_id
          type: string
        username:
          title: username
          type: string
      title: interactions_interactions_inner_user
      type: object
    interactions_interactions_inner:
      example:
        created_at: 0.8008281904610115
        _id: _id
        id: id
        event: event
        interaction_id: interaction_id
        user:
          avatar_https: avatar_https
          followers: 6.027456183070403
          avatar: avatar
          twitter_id: twitter_id
          username: username
      properties:
        _id:
          title: _id
          type: string
        created_at:
          title: created_at
          type: number
        event:
          title: event
          type: string
        id:
          title: id
          type: string
        interaction_id:
          title: interaction_id
          type: string
        user:
          $ref: '#/components/schemas/interactions_interactions_inner_user'
      title: interactions_interactions_inner
      type: object
    newUpdate_updates_inner:
      example:
        due_time: due_time
        created_at: 1.4658129805029452
        profile_service: profile_service
        media:
          link: link
          description: description
          title: title
        via: via
        user_id: user_id
        profile_id: profile_id
        text_formatted: text_formatted
        due_at: 5.962133916683182
        id: id
        text: text
        day: day
        status: status
      properties:
        created_at:
          title: created_at
          type: number
        day:
          title: day
          type: string
        due_at:
          title: due_at
          type: number
        due_time:
          title: due_time
          type: string
        id:
          title: id
          type: string
        media:
          $ref: '#/components/schemas/individual_update_update_media'
        profile_id:
          title: profile_id
          type: string
        profile_service:
          title: profile_service
          type: string
        status:
          title: status
          type: string
        text:
          title: text
          type: string
        text_formatted:
          title: text_formatted
          type: string
        user_id:
          title: user_id
          type: string
        via:
          title: via
          type: string
      title: newUpdate_updates_inner
      type: object
    profile_schedules_inner:
      example:
        times:
        - times
        - times
        days:
        - days
        - days
      properties:
        days:
          items:
            type: string
          title: days
          type: array
        times:
          items:
            type: string
          title: times
          type: array
      title: profile_schedules_inner
      type: object
    profile_statistics:
      example:
        followers: 6.027456183070403
      properties:
        followers:
          title: followers
          type: number
      title: profile_statistics
      type: object
    profiles_inner_counts:
      example:
        daily_suggestions: 0.8008281904610115
        pending: 1.4658129805029452
        drafts: 6.027456183070403
        sent: 5.962133916683182
      properties:
        daily_suggestions:
          title: daily_suggestions
          type: number
        drafts:
          title: drafts
          type: number
        pending:
          title: pending
          type: number
        sent:
          title: sent
          type: number
      title: profiles_inner_counts
      type: object
    profiles_inner_schedules_inner:
      example:
        times:
        - "{}"
        - "{}"
        days:
        - days
        - days
      properties:
        days:
          items:
            type: string
          title: days
          type: array
        times:
          items:
            type: object
          title: times
          type: array
      title: profiles_inner_schedules_inner
      type: object
    profiles_inner_shortener:
      example:
        domain: domain
      properties:
        domain:
          title: domain
          type: string
      title: profiles_inner_shortener
      type: object
    profiles_inner_statistics:
      example:
        connections: 5.637376656633329
      properties:
        connections:
          title: connections
          type: number
      title: profiles_inner_statistics
      type: object
    profiles_inner:
      example:
        cover_photo: cover_photo
        counts:
          daily_suggestions: 0.8008281904610115
          pending: 1.4658129805029452
          drafts: 6.027456183070403
          sent: 5.962133916683182
        timezone: timezone
        verb: verb
        avatar: avatar
        formatted_service: formatted_service
        avatar_https: avatar_https
        formatted_username: formatted_username
        default: true
        disconnected: disconnected
        service_type: service_type
        shortener:
          domain: domain
        user_id: user_id
        service: service
        service_username: service_username
        schedules:
        - times:
          - "{}"
          - "{}"
          days:
          - days
          - days
        - times:
          - "{}"
          - "{}"
          days:
          - days
          - days
        service_id: service_id
        _id: _id
        id: id
        has_used_suggestions: true
        utm_tracking: utm_tracking
        disabled_features:
        - "{}"
        - "{}"
        statistics:
          connections: 5.637376656633329
      properties:
        _id:
          title: _id
          type: string
        avatar:
          title: avatar
          type: string
        avatar_https:
          title: avatar_https
          type: string
        counts:
          $ref: '#/components/schemas/profiles_inner_counts'
        cover_photo:
          title: cover_photo
          type: string
        default:
          title: default
          type: boolean
        disabled_features:
          items:
            type: object
          title: disabled_features
          type: array
        disconnected:
          title: disconnected
          type: string
        formatted_service:
          title: formatted_service
          type: string
        formatted_username:
          title: formatted_username
          type: string
        has_used_suggestions:
          title: has_used_suggestions
          type: boolean
        id:
          title: id
          type: string
        schedules:
          items:
            $ref: '#/components/schemas/profiles_inner_schedules_inner'
          title: schedules
          type: array
        service:
          title: service
          type: string
        service_id:
          title: service_id
          type: string
        service_type:
          title: service_type
          type: string
        service_username:
          title: service_username
          type: string
        shortener:
          $ref: '#/components/schemas/profiles_inner_shortener'
        statistics:
          $ref: '#/components/schemas/profiles_inner_statistics'
        timezone:
          title: timezone
          type: string
        user_id:
          title: user_id
          type: string
        utm_tracking:
          title: utm_tracking
          type: string
        verb:
          title: verb
          type: string
      title: profiles_inner
      type: object
    reorder_updates_inner:
      example:
        due_time: due_time
        user_id: user_id
        profile_id: profile_id
        created_at: 6.027456183070403
        profile_service: profile_service
        text_formatted: text_formatted
        due_at: 1.4658129805029452
        id: id
        text: text
        day: day
        status: status
        via: via
      properties:
        created_at:
          title: created_at
          type: number
        day:
          title: day
          type: string
        due_at:
          title: due_at
          type: number
        due_time:
          title: due_time
          type: string
        id:
          title: id
          type: string
        profile_id:
          title: profile_id
[...]
