openapi: 3.0.1
info:
  title: CMS Domains
  version: v3
  x-hubspot-api-use-case: Retrieve all currently connected domains to see which sites
    are live in a given account.
  x-hubspot-documentation-banner: NONE
  x-hubspot-introduction: "Use the domain management API to return information about\
    \ the domains connected to a HubSpot account. You can return data for all currently\
    \ connected domains, or for a single domain by ID."
  x-hubspot-product-tier-requirements:
    cms: STARTER
    marketing: PROFESSIONAL
  x-hubspot-related-documentation:
  - name: Domains Guide
    url: https://hubspot.dev/guides/api/cms/domains
  x-logo:
    url: https://developers.hubspot.com/hubfs/assets/hubspot.com/buzz/HubSpotOpenGraph.png
  x-origin:
  - format: openapi
    url: https://api.hubspot.com/api-catalog-public/v1/apis/cms/v3/domains
    version: "3.0"
  x-providerName: hubapi.com
  x-serviceName: cms
servers:
- url: https://api.hubapi.com
tags:
- name: Domains
paths:
  /cms/v3/domains/:
    get:
      description: Returns all existing domains that have been created. Results can
        be limited and filtered by creation or updated date.
      operationId: get_cms_v3_domains_get_page
      parameters:
      - description: Only return domains created at this date.
        explode: true
        in: query
        name: createdAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return domains created after this date.
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return domains created before this date.
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return domains updated at this date.
        explode: true
        in: query
        name: updatedAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return domains updated after this date.
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Only return domains updated before this date.
        explode: true
        in: query
        name: updatedBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The paging cursor token of the last successfully read resource
          will be returned as the `paging.next.after` JSON property of a paged response
          containing more results.
        explode: true
        in: query
        name: after
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of results per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Whether to return only results that have been archived.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                results:
                - createdAt: 2017-07-24T17:24:09.141Z
                  domain: 234.hs-sites.com
                  expectedCname: 234.group34.sites.hubspot.net
                  id: "1234"
                  isHttpsEnabled: true
                  isHttpsOnly: false
                  isManuallyMarkedAsResolving: false
                  isPrimaryBlogPost: true
                  isPrimaryEmail: false
                  isPrimaryKnowledge: false
                  isPrimaryLandingPage: false
                  isPrimarySitePage: false
                  isResolving: true
                  isUsedForBlogPost: true
                  isUsedForEmail: false
                  isUsedForKnowledge: false
                  isUsedForLandingPage: false
                  isUsedForSitePage: false
                  redirectTo: ""
                  updatedAt: 2017-07-25T18:20:00.000Z
                - createdAt: 2017-07-11T13:00:52.928Z
                  domain: test.demo.com
                  expectedCname: 234.group34.sites.hubspot.net
                  id: "4321"
                  isHttpsEnabled: true
                  isHttpsOnly: false
                  isManuallyMarkedAsResolving: false
                  isPrimaryBlogPost: true
                  isPrimaryEmail: false
                  isPrimaryKnowledge: false
                  isPrimaryLandingPage: false
                  isPrimarySitePage: false
                  isResolving: true
                  isUsedForBlogPost: true
                  isUsedForEmail: false
                  isUsedForKnowledge: false
                  isUsedForLandingPage: false
                  isUsedForSitePage: false
                  redirectTo: ""
                  updatedAt: 2019-10-08T16:54:57.165Z
                total: 2
              schema:
                $ref: '#/components/schemas/CollectionResponseWithTotalDomainForwardPaging'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps_legacy: []
      - oauth2:
        - cms.domains.read
      - private_apps: []
      - private_apps: []
      - oauth2:
        - cms.domains.write
      - oauth2_legacy:
        - cms.knowledge_base.settings.read
      - private_apps_legacy: []
      - oauth2_legacy:
        - cms.knowledge_base.settings.write
      - oauth2_legacy:
        - content
      - private_apps_legacy: []
      summary: Get current domains
      tags:
      - Domains
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  /cms/v3/domains/{domainId}:
    get:
      description: Returns a single domains with the id specified.
      operationId: get_cms_v3_domains_domain_id_get_by_id
      parameters:
      - description: The unique ID of the domain.
        explode: false
        in: path
        name: domainId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                createdAt: 2017-07-11T13:00:52.928Z
                domain: 99558489.hubspot.com
                expectedCname: 99558489.group39.sites.hubspotqa.net
                id: "3210329704"
                isHttpsEnabled: true
                isHttpsOnly: false
                isManuallyMarkedAsResolving: false
                isPrimaryBlogPost: true
                isPrimaryEmail: false
                isPrimaryKnowledge: false
                isPrimaryLandingPage: false
                isPrimarySitePage: false
                isResolving: true
                isUsedForBlogPost: true
                isUsedForEmail: false
                isUsedForKnowledge: false
                isUsedForLandingPage: false
                isUsedForSitePage: false
                redirectTo: ""
                updatedAt: 2019-10-08T16:54:57.165Z
              schema:
                $ref: '#/components/schemas/Domain'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - private_apps_legacy: []
      - oauth2:
        - cms.domains.read
      - private_apps: []
      - private_apps: []
      - oauth2:
        - cms.domains.write
      - oauth2_legacy:
        - cms.knowledge_base.settings.read
      - private_apps_legacy: []
      - oauth2_legacy:
        - cms.knowledge_base.settings.write
      - oauth2_legacy:
        - content
      - private_apps_legacy: []
      summary: Get a single domain
      tags:
      - Domains
      x-openapi-router-controller: openapi_server.controllers.domains_controller
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    CollectionResponseWithTotalDomainForwardPaging:
      example:
        total: 0
        paging:
          next:
            link: link
            after: after
        results:
        - isUsedForLandingPage: true
          primaryBlogPost: true
          primaryKnowledge: true
          created: 2000-01-23T04:56:07.000+00:00
          secondaryToDomain: secondaryToDomain
          isUsedForKnowledge: true
          manuallyMarkedAsResolving: true
          isUsedForBlogPost: true
          isUsedForSitePage: true
          isResolving: true
          isSslEnabled: true
          isUsedForEmail: true
          domain: domain
          primarySitePage: true
          primaryLandingPage: true
          correctCname: correctCname
          id: id
          isSslOnly: true
          updated: 2000-01-23T04:56:07.000+00:00
          primaryEmail: true
        - isUsedForLandingPage: true
          primaryBlogPost: true
          primaryKnowledge: true
          created: 2000-01-23T04:56:07.000+00:00
          secondaryToDomain: secondaryToDomain
          isUsedForKnowledge: true
          manuallyMarkedAsResolving: true
          isUsedForBlogPost: true
          isUsedForSitePage: true
          isResolving: true
          isSslEnabled: true
          isUsedForEmail: true
          domain: domain
          primarySitePage: true
          primaryLandingPage: true
          correctCname: correctCname
          id: id
          isSslOnly: true
          updated: 2000-01-23T04:56:07.000+00:00
          primaryEmail: true
      properties:
        paging:
          $ref: '#/components/schemas/ForwardPaging'
        results:
          items:
            $ref: '#/components/schemas/Domain'
          title: results
          type: array
        total:
          format: int32
          title: total
          type: integer
      required:
      - results
      - total
      title: CollectionResponseWithTotalDomainForwardPaging
      type: object
    Domain:
      example:
        isUsedForLandingPage: true
        primaryBlogPost: true
        primaryKnowledge: true
        created: 2000-01-23T04:56:07.000+00:00
        secondaryToDomain: secondaryToDomain
        isUsedForKnowledge: true
        manuallyMarkedAsResolving: true
        isUsedForBlogPost: true
        isUsedForSitePage: true
        isResolving: true
        isSslEnabled: true
        isUsedForEmail: true
        domain: domain
        primarySitePage: true
        primaryLandingPage: true
        correctCname: correctCname
        id: id
        isSslOnly: true
        updated: 2000-01-23T04:56:07.000+00:00
        primaryEmail: true
      properties:
        correctCname:
          title: correctCname
          type: string
        created:
          format: date-time
          title: created
          type: string
        domain:
          description: The actual domain or sub-domain. e.g. www.hubspot.com
          title: domain
          type: string
        id:
          description: The unique ID of this domain.
          title: id
          type: string
        isResolving:
          description: Whether the DNS for this domain is optimally configured for
            use with HubSpot.
          title: isResolving
          type: boolean
        isSslEnabled:
          title: isSslEnabled
          type: boolean
        isSslOnly:
          title: isSslOnly
          type: boolean
        isUsedForBlogPost:
          description: Whether the domain is used for CMS blog posts.
          title: isUsedForBlogPost
          type: boolean
        isUsedForEmail:
          description: Whether the domain is used for CMS email web pages.
          title: isUsedForEmail
          type: boolean
        isUsedForKnowledge:
          description: Whether the domain is used for CMS knowledge pages.
          title: isUsedForKnowledge
          type: boolean
        isUsedForLandingPage:
          description: Whether the domain is used for CMS landing pages.
          title: isUsedForLandingPage
          type: boolean
        isUsedForSitePage:
          description: Whether the domain is used for CMS site pages.
          title: isUsedForSitePage
          type: boolean
        manuallyMarkedAsResolving:
          title: manuallyMarkedAsResolving
          type: boolean
        primaryBlogPost:
          title: primaryBlogPost
          type: boolean
        primaryEmail:
          title: primaryEmail
          type: boolean
        primaryKnowledge:
          title: primaryKnowledge
          type: boolean
        primaryLandingPage:
          title: primaryLandingPage
          type: boolean
        primarySitePage:
          title: primarySitePage
          type: boolean
        secondaryToDomain:
          title: secondaryToDomain
          type: string
        updated:
          format: date-time
          title: updated
          type: string
      required:
      - domain
      - id
      - isResolving
      - isUsedForBlogPost
      - isUsedForEmail
      - isUsedForKnowledge
      - isUsedForLandingPage
      - isUsedForSitePage
      title: Domain
      type: object
    Error:
      example:
        category: VALIDATION_ERROR
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
        message: Invalid input (details will vary based on the error)
      properties:
        category:
          description: The error category
          example: VALIDATION_ERROR
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
      required:
      - category
      - correlationId
      - message
      title: Error
      type: object
    ErrorDetail:
      properties:
        code:
          description: The status code associated with the error detail
          title: code
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          title: context
          type: object
        in:
          description: The name of the field or parameter in which the error was found.
          title: in
          type: string
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          title: message
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          title: subCategory
          type: string
      required:
      - message
      title: ErrorDetail
      type: object
    ForwardPaging:
      example:
        next:
          link: link
          after: after
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
      title: ForwardPaging
      type: object
    NextPage:
      example:
        link: link
        after: after
      properties:
        after:
          title: after
          type: string
        link:
          title: link
          type: string
      required:
      - after
      title: NextPage
      type: object
  securitySchemes:
    oauth2:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            cms.domains.read: Read domains.
            cms.domains.write: Create or update domains.
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_oauth2
    oauth2_legacy:
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          scopes:
            cms.knowledge_base.settings.read: View knowledge base settings
            cms.knowledge_base.settings.write: Update knowledge base settings
            content: Read from and write to my Content
          tokenUrl: https://api.hubapi.com/oauth/v1/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_oauth2_legacy
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_oauth2_legacy
    private_apps:
      in: header
      name: private-app
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_private_apps
    private_apps_legacy:
      in: header
      name: private-app-legacy
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_private_apps_legacy
x-hubspot-available-client-libraries:
- PHP
- Node
- Ruby
- Python
x-hubspot-documentation-banner: NONE
x-hubspot-product-tier-requirements:
  cms: STARTER
  marketing: PROFESSIONAL
