openapi: 3.0.1
info:
  title: Azure Activity Log Alerts
  version: 2017-03-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-03-01-preview/activityLogAlerts_API.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: monitor-activityLogAlerts_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/microsoft.insights/activityLogAlerts:
    get:
      deprecated: true
      description: Get a list of all activity log alerts in a subscription.
      operationId: activity_log_alerts_list_by_subscription_id
      parameters:
      - description: The Azure subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogAlertList'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the list of activity log alerts could
            not be retrieved.
      x-ms-examples:
        List activity log alerts:
          parameters:
            api-version: 2017-03-01-preview
            resourceGroupName: Default-ActivityLogAlerts
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert
                  location: Global
                  name: SampleActivityLogAlert
                  properties:
                    actions:
                      actionGroups:
                      - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                        webhookProperties:
                          sampleWebhookProperty: samplePropertyValue
                    condition:
                      allOf:
                      - equals: Administrative
                        field: Category
                      - equals: Error
                        field: Level
                    description: Sample activity log alert description
                    enabled: true
                    scopes:
                    - subscriptions/187f412d-1758-44d9-b052-169e2564721d
                  tags: {}
                  type: Microsoft.Insights/ActivityLogAlerts
                - id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert2
                  location: Global
                  name: SampleActivityLogAlert2
                  properties:
                    actions:
                      actionGroups:
                      - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                        webhookProperties: {}
                    condition:
                      allOf:
                      - equals: Administrative
                        field: Category
                    enabled: true
                    scopes:
                    - subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts
                  tags: {}
                  type: Microsoft.Insights/ActivityLogAlerts
              headers: {}
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/activityLogAlerts:
    get:
      deprecated: true
      description: Get a list of all activity log alerts in a resource group.
      operationId: activity_log_alerts_list_by_resource_group
      parameters:
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogAlertList'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the list of activity log alerts could
            not be retrieved.
      x-ms-examples:
        List activity log alerts:
          parameters:
            api-version: 2017-03-01-preview
            resourceGroupName: Default-ActivityLogAlerts
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert
                  location: Global
                  name: SampleActivityLogAlert
                  properties:
                    actions:
                      actionGroups:
                      - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                        webhookProperties:
                          sampleWebhookProperty: samplePropertyValue
                    condition:
                      allOf:
                      - equals: Administrative
                        field: Category
                      - equals: Error
                        field: Level
                    description: Sample activity log alert description
                    enabled: true
                    scopes:
                    - subscriptions/187f412d-1758-44d9-b052-169e2564721d
                  tags: {}
                  type: Microsoft.Insights/ActivityLogAlerts
                - id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert2
                  location: Global
                  name: SampleActivityLogAlert2
                  properties:
                    actions:
                      actionGroups:
                      - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                        webhookProperties: {}
                    condition:
                      allOf:
                      - equals: Administrative
                        field: Category
                    enabled: true
                    scopes:
                    - subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts
                  tags: {}
                  type: Microsoft.Insights/ActivityLogAlerts
              headers: {}
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/activityLogAlerts/{activityLogAlertName}
  : delete:
      deprecated: true
      description: Delete an activity log alert.
      operationId: activity_log_alerts_delete
      parameters:
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the activity log alert.
        in: path
        name: activity_log_alert_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The activity log alert was successfully deleted.
        "204":
          content: {}
          description: The activity log alert does not exist. It may have already
            been deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the activity log alert could not be deleted.
      x-ms-examples:
        Delete an activity log alert:
          parameters:
            activityLogAlertName: SampleActivityLogAlert
            api-version: 2017-03-01-preview
            resourceGroupName: Default-ActivityLogAlerts
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      deprecated: true
      description: Get an activity log alert.
      operationId: activity_log_alerts_get
      parameters:
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the activity log alert.
        in: path
        name: activityLogAlertName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogAlertResource'
          description: The request succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the activity log alert could not be retrieved.
      x-ms-examples:
        Get an activity log alert:
          parameters:
            activityLogAlertName: SampleActivityLogAlert
            api-version: 2017-03-01-preview
            resourceGroupName: Default-ActivityLogAlerts
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            "200":
              body:
                id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert
                location: Global
                name: SampleActivityLogAlert
                properties:
                  actions:
                    actionGroups:
                    - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                      webhookProperties:
                        sampleWebhookProperty: samplePropertyValue
                  condition:
                    allOf:
                    - equals: Administrative
                      field: Category
                    - equals: Error
                      field: Level
                  description: Sample activity log alert description
                  enabled: true
                  scopes:
                  - subscriptions/187f412d-1758-44d9-b052-169e2564721d
                tags: {}
                type: Microsoft.Insights/ActivityLogAlerts
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      deprecated: true
      description: Updates an existing ActivityLogAlertResource's tags. To update
        other fields use the CreateOrUpdate method.
      operationId: activity_log_alerts_update
      parameters:
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the activity log alert.
        in: path
        name: activity_log_alert_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityLogAlertResourcePatch'
        description: Parameters supplied to the operation.
        required: true
        x-body-name: activityLogAlertPatch
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogAlertResource'
          description: An existing activity log alert was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        Path an activity log alert:
          parameters:
            activityLogAlertName: SampleActivityLogAlert
            activityLogAlertPatch:
              location: Global
              properties:
                enabled: false
              tags:
                key1: value1
                key2: value2
            api-version: 2017-03-01-preview
            resourceGroupName: Default-ActivityLogAlerts
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            "200":
              body:
                id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert
                location: Global
                name: SampleActivityLogAlert
                properties:
                  actions:
                    actionGroups:
                    - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                      webhookProperties:
                        sampleWebhookProperty: samplePropertyValue
                  condition:
                    allOf:
                    - equals: Administrative
                      field: Category
                    - equals: Error
                      field: Level
                  description: Sample activity log alert description
                  enabled: false
                  scopes:
                  - /subscriptions/187f412d-1758-44d9-b052-169e2564721d
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Insights/ActivityLogAlerts
              headers: {}
      x-codegen-request-body-name: activityLogAlertPatch
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      deprecated: true
      description: Create a new activity log alert or update an existing one.
      operationId: activity_log_alerts_create_or_update
      parameters:
      - description: The Azure subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the activity log alert.
        in: path
        name: activity_log_alert_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityLogAlertResource'
        description: The activity log alert to create or use for the update.
        required: true
        x-body-name: activityLogAlert
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogAlertResource'
          description: An existing activity log alert was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogAlertResource'
          description: A new activity log alert was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurred and the activity log alert could not be created
            or updated.
      x-ms-examples:
        Create or update an activity log alert:
          parameters:
            activityLogAlert:
              location: Global
              properties:
                actions:
                  actionGroups:
                  - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                    webhookProperties:
                      sampleWebhookProperty: samplePropertyValue
                condition:
                  allOf:
                  - equals: Administrative
                    field: Category
                  - equals: Error
                    field: Level
                description: Sample activity log alert description
                enabled: true
                scopes:
                - /subscriptions/187f412d-1758-44d9-b052-169e2564721d
              tags: {}
            activityLogAlertName: SampleActivityLogAlert
            api-version: 2017-03-01-preview
            resourceGroupName: Default-ActivityLogAlerts
            subscriptionId: 187f412d-1758-44d9-b052-169e2564721d
          responses:
            "200":
              body:
                id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActivityLogAlerts/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert
                location: Global
                name: SampleActivityLogAlert
                properties:
                  actions:
                    actionGroups:
                    - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                      webhookProperties:
                        sampleWebhookProperty: samplePropertyValue
                  condition:
                    allOf:
                    - equals: Administrative
                      field: Category
                    - equals: Error
                      field: Level
                  description: Sample activity log alert description
                  enabled: true
                  scopes:
                  - /subscriptions/187f412d-1758-44d9-b052-169e2564721d
                tags: {}
                type: Microsoft.Insights/ActivityLogAlerts
              headers: {}
            "201":
              body:
                id: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/activityLogAlerts/SampleActivityLogAlert
                location: Global
                name: SampleActivityLogAlert
                properties:
                  actions:
                    actionGroups:
                    - actionGroupId: /subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-ActionGroups/providers/microsoft.insights/actionGroups/SampleActionGroup
                      webhookProperties:
                        sampleWebhookProperty: samplePropertyValue
                  condition:
                    allOf:
                    - equals: Administrative
                      field: Category
                    - equals: Error
                      field: Level
                  description: Sample activity log alert description
                  enabled: true
                  scopes:
                  - subscriptions/187f412d-1758-44d9-b052-169e2564721d
                tags: {}
                type: Microsoft.Insights/ActivityLogAlerts
              headers: {}
      x-codegen-request-body-name: activityLogAlert
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ActivityLogAlertNameParameter:
      description: The name of the activity log alert.
      in: path
      name: activityLogAlertName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Azure subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ActivityLogAlert:
      description: An Azure activity log alert.
      example:
        condition:
          allOf:
          - field: field
            equals: equals
          - field: field
            equals: equals
        description: description
        scopes:
        - scopes
        - scopes
        actions:
          actionGroups:
          - actionGroupId: actionGroupId
            webhookProperties: "{}"
          - actionGroupId: actionGroupId
            webhookProperties: "{}"
        enabled: true
      properties:
        actions:
          $ref: '#/components/schemas/ActivityLogAlertActionList'
        condition:
          $ref: '#/components/schemas/ActivityLogAlertAllOfCondition'
        description:
          description: A description of this activity log alert.
          title: description
          type: string
        enabled:
          default: true
          description: "Indicates whether this activity log alert is enabled. If an\
            \ activity log alert is not enabled, then none of its actions will be\
            \ activated."
          title: enabled
          type: boolean
        scopes:
          description: A list of resourceIds that will be used as prefixes. The alert
            will only apply to activityLogs with resourceIds that fall under one of
            these prefixes. This list must include at least one item.
          items:
            type: string
          title: scopes
          type: array
      required:
      - actions
      - condition
      - scopes
      title: ActivityLogAlert
      type: object
    ActivityLogAlertActionGroup:
      description: A pointer to an Azure Action Group.
      example:
        actionGroupId: actionGroupId
        webhookProperties: "{}"
      properties:
        actionGroupId:
          description: The resourceId of the action group. This cannot be null or
            empty.
          title: actionGroupId
          type: string
        webhookProperties:
          description: The dictionary of custom properties to include with the post
            operation. These data are appended to the webhook payload.
          title: webhookProperties
          type: object
      required:
      - actionGroupId
      title: ActivityLogAlertActionGroup
      type: object
    ActivityLogAlertActionList:
      description: A list of activity log alert actions.
      example:
        actionGroups:
        - actionGroupId: actionGroupId
          webhookProperties: "{}"
        - actionGroupId: actionGroupId
          webhookProperties: "{}"
      properties:
        actionGroups:
          description: The list of activity log alerts.
          items:
            $ref: '#/components/schemas/ActivityLogAlertActionGroup'
          title: actionGroups
          type: array
      title: ActivityLogAlertActionList
      type: object
    ActivityLogAlertAllOfCondition:
      description: An Activity Log alert condition that is met when all its member
        conditions are met.
      example:
        allOf:
        - field: field
          equals: equals
        - field: field
          equals: equals
      properties:
        allOf:
          description: The list of activity log alert conditions.
          items:
            $ref: '#/components/schemas/ActivityLogAlertLeafCondition'
          title: allOf
          type: array
      required:
      - allOf
      title: ActivityLogAlertAllOfCondition
      type: object
    ActivityLogAlertLeafCondition:
      description: An Activity Log alert condition that is met by comparing an activity
        log field and value.
      example:
        field: field
        equals: equals
      properties:
        equals:
          description: The field value will be compared to this value (case-insensitive)
            to determine if the condition is met.
          title: equals
          type: string
        field:
          description: "The name of the field that this condition will examine. The\
            \ possible values for this field are (case-insensitive): 'resourceId',\
            \ 'category', 'caller', 'level', 'operationName', 'resourceGroup', 'resourceProvider',\
            \ 'status', 'subStatus', 'resourceType', or anything beginning with 'properties.'."
          title: field
          type: string
      required:
      - equals
      - field
      title: ActivityLogAlertLeafCondition
      type: object
    ActivityLogAlertList:
      description: A list of activity log alerts.
      example:
        value:
        - properties:
            condition:
              allOf:
              - field: field
                equals: equals
              - field: field
                equals: equals
            description: description
            scopes:
            - scopes
            - scopes
            actions:
              actionGroups:
              - actionGroupId: actionGroupId
                webhookProperties: "{}"
              - actionGroupId: actionGroupId
                webhookProperties: "{}"
            enabled: true
        - properties:
            condition:
              allOf:
              - field: field
                equals: equals
              - field: field
                equals: equals
            description: description
            scopes:
            - scopes
            - scopes
            actions:
              actionGroups:
              - actionGroupId: actionGroupId
                webhookProperties: "{}"
              - actionGroupId: actionGroupId
                webhookProperties: "{}"
            enabled: true
      properties:
        value:
          description: The list of activity log alerts.
          items:
            $ref: '#/components/schemas/ActivityLogAlertResource'
          title: value
          type: array
      title: ActivityLogAlertList
      type: object
    ActivityLogAlertPatch:
      description: An Azure activity log alert for patch operations.
      example:
        enabled: true
      properties:
        enabled:
          default: true
          description: "Indicates whether this activity log alert is enabled. If an\
            \ activity log alert is not enabled, then none of its actions will be\
            \ activated."
          title: enabled
          type: boolean
      title: ActivityLogAlertPatch
      type: object
    ActivityLogAlertResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An activity log alert resource.
      example:
        properties:
          condition:
            allOf:
            - field: field
              equals: equals
            - field: field
              equals: equals
          description: description
          scopes:
          - scopes
          - scopes
          actions:
            actionGroups:
            - actionGroupId: actionGroupId
              webhookProperties: "{}"
            - actionGroupId: actionGroupId
              webhookProperties: "{}"
          enabled: true
      properties:
        properties:
          $ref: '#/components/schemas/ActivityLogAlert'
      title: ActivityLogAlertResource
    ActivityLogAlertResourcePatch:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An activity log alert resource for patch operations.
      example:
        properties:
          enabled: true
      properties:
        properties:
          $ref: '#/components/schemas/ActivityLogAlertPatch'
      title: ActivityLogAlertResourcePatch
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    Resource:
      description: An azure resource object
      properties:
        id:
          description: Azure resource Id
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location
          title: location
          type: string
          x-ms-mutability:
          - create
          - read
        name:
          description: Azure resource name
          readOnly: true
          title: name
          type: string
        tags:
          description: Resource tags
          title: tags
          type: object
        type:
          description: Azure resource type
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
