openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Content
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_content_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_content_v1
servers:
- url: https://content.twilio.com
tags:
- name: ContentV1ApprovalFetch
- name: ContentV1Content
- name: ContentV1ContentAndApprovals
- name: ContentV1LegacyContent
paths:
  /v1/Content:
    description: A Content resource represents rich messaging content.
    get:
      description: Retrieve a list of Contents belonging to the account used to make
        the request
      operationId: list_content
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ContentV1Content
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.content_v1_content_controller
    servers:
    - url: https://content.twilio.com
    x-twilio:
      defaultOutputProperties:
      - date_created
      - date_updated
      - sid
      - account_sid
      - friendly_name
      - language
      - variables
      - types
      dependentProperties:
        approval_create:
          mapping:
            sid: sid
          resource_url: "/v1/Content/{sid}/ApprovalRequests/whatsapp"
        approval_fetch:
          mapping:
            sid: sid
          resource_url: "/v1/Content/{sid}/ApprovalRequests"
      mountName: contents
      pathType: list
  /v1/Content/{Sid}:
    delete:
      description: Deletes a Content resource
      operationId: delete_content
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Content
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^HX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - ContentV1Content
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.content_v1_content_controller
    description: A Content resource represents rich messaging content.
    get:
      description: Fetch a Content resource by its unique Content Sid
      operationId: fetch_content
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Content
          resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^HX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/content.v1.content'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ContentV1Content
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.content_v1_content_controller
    servers:
    - url: https://content.twilio.com
    x-twilio:
      defaultOutputProperties:
      - date_created
      - date_updated
      - sid
      - account_sid
      - friendly_name
      - language
      - variables
      - types
      dependentProperties:
        approval_create:
          mapping:
            sid: sid
          resource_url: "/v1/Content/{sid}/ApprovalRequests/whatsapp"
        approval_fetch:
          mapping:
            sid: sid
          resource_url: "/v1/Content/{sid}/ApprovalRequests"
      mountName: contents
      pathType: instance
  /v1/Content/{Sid}/ApprovalRequests:
    description: An Approval Fetch resource represents the approval status of a Content
      resource.
    get:
      description: Fetch a Content resource's approval status by its unique Content
        Sid
      operationId: fetch_approval_fetch
      parameters:
      - description: The Twilio-provided string that uniquely identifies the Content
          resource whose approval information to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^HX[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/content.v1.content.approval_fetch'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ContentV1ApprovalFetch
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.content_v1_approval_fetch_controller
    servers:
    - url: https://content.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - account_sid
      - whatsapp
      mountName: approval_fetch
      parent: "/Content/{Sid}"
      pathType: instance
  /v1/ContentAndApprovals:
    description: A Content resource represents rich messaging content and its respective
      approval request status.
    get:
      description: Retrieve a list of Contents with approval statuses belonging to
        the account used to make the request
      operationId: list_content_and_approvals
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContentAndApprovalsResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ContentV1ContentAndApprovals
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.content_v1_content_and_approvals_controller
    servers:
    - url: https://content.twilio.com
    x-twilio:
      className: content_and_approvals
      defaultOutputProperties:
      - date_created
      - date_updated
      - sid
      - account_sid
      - friendly_name
      - language
      - variables
      - types
      - approval_requests
      pathType: list
  /v1/LegacyContent:
    description: A Legacy Content resource represents legacy rich messaging content.
    get:
      description: Retrieve a list of Legacy Contents belonging to the account used
        to make the request
      operationId: list_legacy_content
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLegacyContentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - ContentV1LegacyContent
      x-maturity:
      - Preview
      x-openapi-router-controller: openapi_server.controllers.content_v1_legacy_content_controller
    servers:
    - url: https://content.twilio.com
    x-twilio:
      defaultOutputProperties:
      - date_created
      - date_updated
      - sid
      - account_sid
      - friendly_name
      - language
      - variables
      - types
      - legacy_template_name
      - legacy_body
      mountName: legacy_contents
      pathType: list
components:
  schemas:
    content.v1.content:
      example:
        friendly_name: friendly_name
        types: ""
        variables: ""
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        language: language
        links: "{}"
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/usage/api/account)\
            \ that created Content resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date and time in GMT that the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT that the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: A string name used to describe the Content resource. Not visible
            to the end recipient.
          nullable: true
          title: friendly_name
          type: string
        language:
          description: "Two-letter (ISO 639-1) language code (e.g., en) identifying\
            \ the language the Content resource is in."
          nullable: true
          title: language
          type: string
        links:
          description: "A list of links related to the Content resource, such as approval_fetch\
            \ and approval_create"
          format: uri-map
          nullable: true
          title: links
          type: object
        sid:
          description: The unique string that that we created to identify the Content
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^HX[0-9a-fA-F]{32}$"
          title: sid
          type: string
        types:
          description: "The [Content types](https://www.twilio.com/docs/content/content-types-overview)\
            \ (e.g. twilio/text) for this Content resource."
          nullable: true
          title: types
        url:
          description: "The URL of the resource, relative to `https://content.twilio.com`."
          format: uri
          nullable: true
          title: url
          type: string
        variables:
          description: "Defines the default placeholder values for variables included\
            \ in the Content resource. e.g. {\"1\": \"Customer_Name\"}."
          nullable: true
          title: variables
      title: content.v1.content
      type: object
    content.v1.content.approval_fetch:
      example:
        whatsapp: ""
        account_sid: account_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/usage/api/account)\
            \ that created Content resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        sid:
          description: The unique string that that we created to identify the Content
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^HX[0-9a-fA-F]{32}$"
          title: sid
          type: string
        url:
          description: "The URL of the resource, relative to `https://content.twilio.com`."
          format: uri
          nullable: true
          title: url
          type: string
        whatsapp:
          description: "Contains the whatsapp approval information for the Content\
            \ resource, with fields such as approval status, rejection reason, and\
            \ category, amongst others."
          nullable: true
          title: whatsapp
      title: content.v1.content.approval_fetch
      type: object
    content.v1.content_and_approvals:
      example:
        friendly_name: friendly_name
        types: ""
        variables: ""
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        approval_requests: ""
        language: language
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/usage/api/account)\
            \ that created Content resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        approval_requests:
          description: The submitted information and approval request status of the
            Content resource.
          nullable: true
          title: approval_requests
        date_created:
          description: "The date and time in GMT that the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT that the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: A string name used to describe the Content resource. Not visible
            to the end recipient.
          nullable: true
          title: friendly_name
          type: string
        language:
          description: "Two-letter (ISO 639-1) language code (e.g., en) identifying\
            \ the language the Content resource is in."
          nullable: true
          title: language
          type: string
        sid:
          description: The unique string that that we created to identify the Content
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^HX[0-9a-fA-F]{32}$"
          title: sid
          type: string
        types:
          description: "The [Content types](https://www.twilio.com/docs/content/content-types-overview)\
            \ (e.g. twilio/text) for this Content resource."
          nullable: true
          title: types
        variables:
          description: "Defines the default placeholder values for variables included\
            \ in the Content resource. e.g. {\"1\": \"Customer_Name\"}."
          nullable: true
          title: variables
      title: content.v1.content_and_approvals
      type: object
    content.v1.legacy_content:
      example:
        friendly_name: friendly_name
        types: ""
        variables: ""
        date_updated: 2000-01-23T04:56:07.000+00:00
        legacy_body: legacy_body
        date_created: 2000-01-23T04:56:07.000+00:00
        legacy_template_name: legacy_template_name
        account_sid: account_sid
        language: language
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/usage/api/account)\
            \ that created Content resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          title: account_sid
          type: string
        date_created:
          description: "The date and time in GMT that the resource was created specified\
            \ in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_created
          type: string
        date_updated:
          description: "The date and time in GMT that the resource was last updated\
            \ specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format."
          format: date-time
          nullable: true
          title: date_updated
          type: string
        friendly_name:
          description: A string name used to describe the Content resource. Not visible
            to the end recipient.
          nullable: true
          title: friendly_name
          type: string
        language:
          description: "Two-letter (ISO 639-1) language code (e.g., en) identifying\
            \ the language the Content resource is in."
          nullable: true
          title: language
          type: string
        legacy_body:
          description: The string body field of the legacy content template associated
            with this Content resource
          nullable: true
          title: legacy_body
          type: string
        legacy_template_name:
          description: "The string name of the legacy content template associated\
            \ with this Content resource, unique across all template names for its\
            \ account.  Only lowercase letters, numbers and underscores are allowed"
          nullable: true
          title: legacy_template_name
          type: string
        sid:
          description: The unique string that that we created to identify the Content
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^HX[0-9a-fA-F]{32}$"
          title: sid
          type: string
        types:
          description: "The [Content types](https://www.twilio.com/docs/content/content-types-overview)\
            \ (e.g. twilio/text) for this Content resource."
          nullable: true
          title: types
        url:
          description: "The URL of the resource, relative to `https://content.twilio.com`."
          format: uri
          nullable: true
          title: url
          type: string
        variables:
          description: "Defines the default placeholder values for variables included\
            \ in the Content resource. e.g. {\"1\": \"Customer_Name\"}."
          nullable: true
          title: variables
      title: content.v1.legacy_content
      type: object
    ListContentResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 0
        key: key
        url: https://openapi-generator.tech
        page_size: 6
      properties:
        first_page_url:
          format: uri
          title: first_page_url
          type: string
        key:
          title: key
          type: string
        next_page_url:
          format: uri
          nullable: true
          title: next_page_url
          type: string
        page:
          title: page
          type: integer
        page_size:
          title: page_size
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          title: previous_page_url
          type: string
        url:
          format: uri
          title: url
          type: string
      title: ListContentResponse_meta
      type: object
    ListContentResponse:
      example:
        contents:
        - friendly_name: friendly_name
          types: ""
          variables: ""
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          language: language
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
        - friendly_name: friendly_name
          types: ""
          variables: ""
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          language: language
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        contents:
          items:
            $ref: '#/components/schemas/content.v1.content'
          title: contents
          type: array
        meta:
          $ref: '#/components/schemas/ListContentResponse_meta'
      title: ListContentResponse
      type: object
    ListContentAndApprovalsResponse:
      example:
        contents:
        - friendly_name: friendly_name
          types: ""
          variables: ""
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          approval_requests: ""
          language: language
          sid: sid
        - friendly_name: friendly_name
          types: ""
          variables: ""
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          approval_requests: ""
          language: language
          sid: sid
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        contents:
          items:
            $ref: '#/components/schemas/content.v1.content_and_approvals'
          title: contents
          type: array
        meta:
          $ref: '#/components/schemas/ListContentResponse_meta'
      title: ListContentAndApprovalsResponse
      type: object
    ListLegacyContentResponse:
      example:
        contents:
        - friendly_name: friendly_name
          types: ""
          variables: ""
          date_updated: 2000-01-23T04:56:07.000+00:00
          legacy_body: legacy_body
          date_created: 2000-01-23T04:56:07.000+00:00
          legacy_template_name: legacy_template_name
          account_sid: account_sid
          language: language
          url: https://openapi-generator.tech
          sid: sid
        - friendly_name: friendly_name
          types: ""
          variables: ""
          date_updated: 2000-01-23T04:56:07.000+00:00
          legacy_body: legacy_body
          date_created: 2000-01-23T04:56:07.000+00:00
          legacy_template_name: legacy_template_name
          account_sid: account_sid
          language: language
          url: https://openapi-generator.tech
          sid: sid
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        contents:
          items:
            $ref: '#/components/schemas/content.v1.legacy_content'
          title: contents
          type: array
        meta:
          $ref: '#/components/schemas/ListContentResponse_meta'
      title: ListLegacyContentResponse
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller.info_from_accountSid_authToken
x-maturity:
- description: "PLEASE NOTE that this is a Preview product that is subject to change.\
    \ Use it with caution. If you currently do not have developer preview access,\
    \ please contact https://www.twilio.com/help/contact."
  name: Preview
