openapi: 3.0.1
info:
  contact:
    email: info@kedlin.com
    name: Call Control
    url: https://www.callcontrol.com/documentation
  description: "API for blocking phone calls with Call Control. Data is from crowdsourced\
    \ community blacklist from 12+ million users and government agencies (FTC, FCC,\
    \ IRS) Try with api_key 'demo', hit explore above, and then try phone numbers\
    \ 18008472911,13157244022,17275567300,18008276655,12061231234."
  title: Call Control API
  version: 2015-11-01
  x-apisguru-categories:
  - telecom
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://twitter.com/CallControlLLC/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://www.callcontrol.com/js/swagger/swagger.json
    version: "2.0"
  x-providerName: callcontrol.com
servers:
- url: https://api.callcontrol.com/
paths:
  /api/2015-11-01/Complaints/{phoneNumber}:
    get:
      deprecated: false
      description: "This is the main funciton to get data out of the call control\
        \ reporting system<br />\r\n            Try with api_key 'demo' and phone\
        \ numbers 18008472911, 13157244022, 17275567300, 18008276655, and 12061231234\
        \ (last one not spam)"
      operationId: Complaints_Complaints
      parameters:
      - description: phone number to search
        in: path
        name: phoneNumber
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Complaints'
            text/json:
              schema:
                $ref: '#/components/schemas/Complaints'
          description: OK
      summary: "Complaints: Free service (with registration), providing community\
        \ and government complaint lookup by phone number for up to 2,000 queries\
        \ per month.  Details include number complaint rates from (FTC, FCC, IRS,\
        \ Indiana Attorney  General) and key entity tag extractions from complaints."
      tags:
      - Complaints
      x-accepts:
      - application/json
      - text/json
  /api/2015-11-01/Enterprise/GetUser/{phoneNumber}:
    get:
      deprecated: false
      operationId: EnterpriseApi_GetUser
      parameters:
      - in: path
        name: phoneNumber
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallControlUser'
            text/json:
              schema:
                $ref: '#/components/schemas/CallControlUser'
          description: User Object
        "400":
          content: {}
          description: Bad request (invalid phone number)
      summary: "Enterprise  GET: GetUser\r\nReturns the current information from the\
        \ user;  try 12066194123 as demo"
      tags:
      - EnterpriseApi
      x-accepts:
      - application/json
      - text/json
  /api/2015-11-01/Enterprise/ShouldBlock/{phoneNumber}/{userPhoneNumber}:
    get:
      deprecated: false
      description: "This returns information required to perform basic call blocking\
        \ behaviors\r\n            Try with api_key 'demo' and phone numbers 18008472911,\
        \ 13157244022, 17275567300, 18008276655, and 12061231234 (last one not spam)"
      operationId: EnterpriseApi_ShouldBlock
      parameters:
      - description: phone number to search
        in: path
        name: phoneNumber
        required: true
        schema:
          type: string
      - description: (OPTIONAL) phone number of user to look up block rules
        in: path
        name: userPhoneNumber
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                enum:
                - allow
                - voiceMail
                - block
                type: string
            text/json:
              schema:
                enum:
                - allow
                - voiceMail
                - block
                type: string
          description: true(block) false (no block)
        "400":
          content: {}
          description: Bad request (invalid phone number)
      summary: "Enterprise  GET: ShouldBlock\r\nSimple Enteprise which returns a call\
        \ block proceed decision."
      tags:
      - EnterpriseApi
      x-accepts:
      - application/json
      - text/json
  /api/2015-11-01/Enterprise/UpsertUser:
    post:
      deprecated: false
      operationId: EnterpriseApi_UpsertUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallControlUser'
          text/json:
            schema:
              $ref: '#/components/schemas/CallControlUser'
        description: "[FromBody] User \r\n            <remarks>This returns information\
          \ required to perform basic call blocking behaviors.  The demo key will\
          \ return ok, but will not save the data.<br /></remarks>"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
          description: Ok
        "400":
          content: {}
          description: Bad request (eg. invalid phone nubmer)
      summary: "UpsertUser: insert or update all properties from a user\r\nPhoneNumber\r\
        \nWhiteList (list of phone numbers to whitelist)\r\nBlackList (list of phone\
        \ numbers to blacklist)\r\nQuietHourList (list of quiet hour objects)\r\n\
        UseCommunityBlacklist (enable / disable community blacklist) default true\r\
        \nBreakThroughQhWithMultipleCalls (break through quiet hours with two calls\
        \ in 3 minutes)\r\nWhiteListBreaksQh (break through quiet hours for whitelist)"
      tags:
      - EnterpriseApi
      x-codegen-request-body-name: user
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  /api/2015-11-01/Report:
    post:
      deprecated: false
      description: "This returns information required to perform basic call blocking\
        \ behaviors<br />\r\n            Try with api_key 'demo' and phone numbers\
        \ 18008472911, 13157244022, 17275567300, 18008276655, and 12061231234 (last\
        \ one not spam)"
      operationId: Reputation_Report
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallReport'
          text/json:
            schema:
              $ref: '#/components/schemas/CallReport'
        description: "[FromBody] Call Report\r\n            PhoneNumber, \r\n    \
          \        Caller name(optional), \r\n            Call category(optional),\
          \ \r\n            Comment or tags(free text) (optional), \r\n          \
          \  Unwanted call  - yes/no(optional),"
        required: true
      responses:
        "400":
          content: {}
          description: Bad request (eg. invalid phone nubmer)
      summary: "Report: report spam calls received to better tune our algorithms based\
        \ upon spam calls you receive"
      tags:
      - Reputation
      x-codegen-request-body-name: callReport
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/2015-11-01/Reputation/{phoneNumber}:
    get:
      deprecated: false
      description: "This returns information required to perform basic call blocking\
        \ behaviors<br />\r\n            Try with api_key 'demo' and phone numbers\
        \ 18008472911, 13157244022, 17275567300, 18008276655, and 12061231234 (last\
        \ one not spam)"
      operationId: Reputation_Reputation
      parameters:
      - description: phone number to search
        in: path
        name: phoneNumber
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reputation'
            text/json:
              schema:
                $ref: '#/components/schemas/Reputation'
          description: Reputation information
        "400":
          content: {}
          description: Bad request (invalid phone number)
      summary: "Reputation:\r\nPremium service which returns a reputation informaiton\
        \ of a phone number via API."
      tags:
      - Reputation
      x-accepts:
      - application/json
      - text/json
components:
  schemas:
    CallControlUser:
      example:
        Email: Email
        FirstName: FirstName
        WhiteList:
        - WhiteList
        - WhiteList
        BlackList:
        - BlackList
        - BlackList
        Gender: Gender
        MiddleName: MiddleName
        UseCommunityBlacklist: true
        Salutation: Salutation
        PhoneNumbeRegion: PhoneNumbeRegion
        BlockBehavior: allow
        Suffix: Suffix
        BreakThroughQhWithMultipleCalls: true
        PhoneNumber: PhoneNumber
        LastName: LastName
        Age: 0
        QuietHourList:
        - StartMinLocal: 5
          DayOfWeekList:
          - Sunday
          - Sunday
          DurationMin: 6
          TimeZoneName: TimeZoneName
          StartHourLocal: 1
        - StartMinLocal: 5
          DayOfWeekList:
          - Sunday
          - Sunday
          DurationMin: 6
          TimeZoneName: TimeZoneName
          StartHourLocal: 1
        WhiteListBreaksQh: true
      properties:
        Age:
          format: int32
          type: integer
        BlackList:
          items:
            type: string
          type: array
        BlockBehavior:
          enum:
          - allow
          - voiceMail
          - block
          type: string
        BreakThroughQhWithMultipleCalls:
          type: boolean
        Email:
          type: string
        FirstName:
          type: string
        Gender:
          type: string
        LastName:
          type: string
        MiddleName:
          type: string
        PhoneNumbeRegion:
          type: string
        PhoneNumber:
          type: string
        QuietHourList:
          items:
            $ref: '#/components/schemas/QuietHour'
          type: array
        Salutation:
          type: string
        Suffix:
          type: string
        UseCommunityBlacklist:
          type: boolean
        WhiteList:
          items:
            type: string
          type: array
        WhiteListBreaksQh:
          type: boolean
      type: object
    CallReport:
      description: "Call Report\r\nPhoneNumber, \r\nCaller name(optional), \r\nCall\
        \ category(optional), \r\nComment or tags(free text) (optional), \r\nUnwanted\
        \ call  - yes/no(optional),"
      example:
        Comment: Comment
        ReportedCallerId: ReportedCallerId
        ReportedCallerName: ReportedCallerName
        Reporter: Reporter
        UnwantedCall: true
        PhoneNumber: PhoneNumber
        IpAddress: IpAddress
        Latitude: 0.8008281904610115
        CallTime: 2000-01-23T04:56:07.000+00:00
        CallerType: Unknown
        Longitude: 6.027456183070403
      properties:
        CallTime:
          format: date-time
          type: string
        CallerType:
          enum:
          - Unknown
          - Telemarketing
          - Collection_Agency
          - Political
          - Surveyor
          - Prank_Call
          - Fund_Raiser
          - Other_Commercial
          - Scam
          - VOIP
          - Business
          - Reminder_Notification_Call
          - Junk_Fax
          - Fax_Machine
          - Spam_Text
          - RoboCall
          - NotSpam
          - Callback
          type: string
        Comment:
          type: string
        IpAddress:
          type: string
        Latitude:
          format: double
          type: number
        Longitude:
          format: double
          type: number
        PhoneNumber:
          type: string
        ReportedCallerId:
          type: string
        ReportedCallerName:
          type: string
        Reporter:
          type: string
        UnwantedCall:
          type: boolean
      type: object
    Complaints:
      description: "Free service (with registration) which serves Government Do Not\
        \ Call data via API \r\nSearch via phone number returns available data, reported\
        \ name, total complaints"
      example:
        ReportedCallerName: ReportedCallerName
        ComplaintsByEntity:
          key: 0
        TotalNumberOfComplaints: 6
        LastComplaintDate: 2000-01-23T04:56:07.000+00:00
        Tags:
        - Tags
        - Tags
      properties:
        ComplaintsByEntity:
          additionalProperties:
            format: int32
            type: integer
          type: object
        LastComplaintDate:
          format: date-time
          type: string
        ReportedCallerName:
          description: Reported Caller Name
          maxLength: 255
          minLength: 0
          type: string
        Tags:
          items:
            type: string
          type: array
        TotalNumberOfComplaints:
          format: int32
          type: integer
      type: object
    QuietHour:
      example:
        StartMinLocal: 5
        DayOfWeekList:
        - Sunday
        - Sunday
        DurationMin: 6
        TimeZoneName: TimeZoneName
        StartHourLocal: 1
      properties:
        DayOfWeekList:
          items:
            enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            type: string
          type: array
        DurationMin:
          format: int32
          type: integer
        StartHourLocal:
          format: int32
          type: integer
        StartMinLocal:
          format: int32
          type: integer
        TimeZoneName:
          type: string
      type: object
    Reputation:
      example:
        ReportedCallerName: ReportedCallerName
        Confidence: 0
        CallType: CallType
        IsSpam: true
        LastComplaintDate: 2000-01-23T04:56:07.000+00:00
        Tags:
        - Tags
        - Tags
      properties:
        CallType:
          readOnly: true
          type: string
        Confidence:
          format: int32
          type: integer
        IsSpam:
          type: boolean
        LastComplaintDate:
          format: date-time
          type: string
        ReportedCallerName:
          type: string
        Tags:
          items:
            type: string
          type: array
      type: object
  securitySchemes:
    apiKey:
      description: API Key Authentication
      in: header
      name: apiKey
      type: apiKey
x-original-swagger-version: "2.0"

