openapi: 3.0.1
info:
  title: CertificateRegistrationProvider API Client
  version: 2015-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2015-08-01/CertificateRegistrationProvider.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-CertificateRegistrationProvider
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.CertificateRegistration/operations:
    get:
      description: Implements Csm operations Api to exposes the list of available
        Csm Apis under the resource provider
      operationId: certificate_registration_provider_list_operations
      parameters:
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateRegistrationProvider_ListOperations_200_response'
          description: OK
      summary: Implements Csm operations Api to exposes the list of available Csm
        Apis under the resource provider
      tags:
      - CertificateRegistrationProvider
      x-ms-examples:
        List operations:
          parameters:
            api-version: 2015-08-01
          responses:
            "200":
              body:
                value:
                - display:
                    description: Add a new certificate or update an existing one
                    operation: Add or Update Certificate
                    provider: Microsoft Certificates
                    resource: Certificate
                  name: Microsoft.CertificateRegistration/certificateOrders/certificates/Write
                  origin: "user,system"
                - display:
                    description: Add a new certificateOrder or update an existing
                      one
                    operation: Add or Update AppServiceCertificate
                    provider: Microsoft Certificates
                    resource: AppServiceCertificate
                  name: Microsoft.CertificateRegistration/certificateOrders/Write
                  origin: "user,system"
                - display:
                    description: Delete an existing certificate
                    operation: Delete Certificate
                    provider: Microsoft Certificates
                    resource: Certificate
                  name: Microsoft.CertificateRegistration/certificateOrders/certificates/Delete
                  origin: "user,system"
                - display:
                    description: Delete an existing AppServiceCertificate
                    operation: Delete AppServiceCertificate
                    provider: Microsoft Certificates
                    resource: AppServiceCertificate
                  name: Microsoft.CertificateRegistration/certificateOrders/Delete
                  origin: "user,system"
                - display:
                    description: Get the list of CertificateOrders
                    operation: Get CertificateOrders
                    provider: Microsoft Certificates
                    resource: AppServiceCertificate
                  name: Microsoft.CertificateRegistration/certificateOrders/Read
                  origin: "user,system"
                - display:
                    description: Get the list of certificates
                    operation: Get Certificates
                    provider: Microsoft Certificates
                    resource: Certificate
                  name: Microsoft.CertificateRegistration/certificateOrders/certificates/Read
                  origin: "user,system"
                - display:
                    description: Reissue an existing certificateorder
                    operation: Reissue certificateorder
                    provider: Microsoft Certificates
                    resource: AppServiceCertificate
                  name: Microsoft.CertificateRegistration/certificateOrders/reissue/Action
                  origin: "user,system"
                - display:
                    description: Renew an existing certificateorder
                    operation: Renew certificateorder
                    provider: Microsoft Certificates
                    resource: AppServiceCertificate
                  name: Microsoft.CertificateRegistration/certificateOrders/renew/Action
                  origin: "user,system"
                - display:
                    description: Retrieve the list of certificate actions
                    operation: Certificateorder actions
                    provider: Microsoft Certificates
                    resource: AppServiceCertificate
                  name: Microsoft.CertificateRegistration/certificateOrders/retrieveCertificateActions/Action
                  origin: "user,system"
                - display:
                    description: Retrieve certificate email history
                    operation: Certificateorder email history
                    provider: Microsoft Certificates
                    resource: AppServiceCertificate
                  name: Microsoft.CertificateRegistration/certificateOrders/retrieveEmailHistory/Action
                  origin: "user,system"
                - display:
                    description: Resend certificate email
                    operation: Resend Certificateorder email
                    provider: Microsoft Certificates
                    resource: AppServiceCertificate
                  name: Microsoft.CertificateRegistration/certificateOrders/resendEmail/Action
                  origin: "user,system"
                - display:
                    description: Verify domain ownership
                    operation: Verify domain ownership
                    provider: Microsoft Certificates
                    resource: AppServiceCertificate
                  name: Microsoft.CertificateRegistration/certificateOrders/verifyDomainOwnership/Action
                  origin: "user,system"
                - display:
                    description: Resend request emails to another email address
                    operation: Resend request emails to another email address
                    provider: Microsoft Certificates
                    resource: AppServiceCertificate
                  name: Microsoft.CertificateRegistration/certificateOrders/resendRequestEmails/Action
                  origin: "user,system"
                - display:
                    description: Retrieve site seal for an issued App Service Certificate
                    operation: Retrieve site seal for an issued App Service Certificate
                    provider: Microsoft Certificates
                    resource: AppServiceCertificate
                  name: Microsoft.CertificateRegistration/certificateOrders/resendRequestEmails/Action
                  origin: "user,system"
                - display:
                    description: Provision service principal for service app principal
                    operation: Provision service principal
                    provider: Microsoft Certificates
                    resource: AppServiceCertificate
                  name: Microsoft.CertificateRegistration/provisionGlobalAppServicePrincipalInUserTenant/Action
                  origin: "user,system"
                - display:
                    description: Validate certificate purchase object without submitting
                      it
                    operation: Certificate Purchase Info Validation
                    provider: Microsoft Certificates
                    resource: AppServiceCertificate
                  name: Microsoft.CertificateRegistration/validateCertificateRegistrationInformation/Action
                  origin: "user,system"
                - display:
                    description: Register the Microsoft Certificates resource provider
                      for the subscription
                    operation: Register Microsoft Certificates resource provider
                    provider: Microsoft Certificates
                    resource: Microsoft Certificates resource provider
                  name: Microsoft.CertificateRegistration/register/action
                  origin: "user,system"
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.certificate_registration_provider_controller
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CertificateRegistrationProvider_ListOperations_200_response_value_inner_display:
      description: Meta data about operation used for display in portal.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          title: description
          type: string
        operation:
          title: operation
          type: string
        provider:
          title: provider
          type: string
        resource:
          title: resource
          type: string
      title: CertificateRegistrationProvider_ListOperations_200_response_value_inner_display
      type: object
    CertificateRegistrationProvider_ListOperations_200_response:
      description: Collection of Azure resource manager operation metadata.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
          properties:
            serviceSpecification:
              metricSpecifications:
              - displayDescription: displayDescription
                aggregationType: aggregationType
                sourceMdmNamespace: sourceMdmNamespace
                availabilities:
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                displayName: displayName
                enableRegionalMdmAccount: true
                isInternal: true
                unit: unit
                supportsInstanceLevelAggregation: true
                fillGapWithZero: true
                name: name
                sourceMdmAccount: sourceMdmAccount
                category: category
                metricFilterPattern: metricFilterPattern
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
              - displayDescription: displayDescription
                aggregationType: aggregationType
                sourceMdmNamespace: sourceMdmNamespace
                availabilities:
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                displayName: displayName
                enableRegionalMdmAccount: true
                isInternal: true
                unit: unit
                supportsInstanceLevelAggregation: true
                fillGapWithZero: true
                name: name
                sourceMdmAccount: sourceMdmAccount
                category: category
                metricFilterPattern: metricFilterPattern
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
          properties:
            serviceSpecification:
              metricSpecifications:
              - displayDescription: displayDescription
                aggregationType: aggregationType
                sourceMdmNamespace: sourceMdmNamespace
                availabilities:
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                displayName: displayName
                enableRegionalMdmAccount: true
                isInternal: true
                unit: unit
                supportsInstanceLevelAggregation: true
                fillGapWithZero: true
                name: name
                sourceMdmAccount: sourceMdmAccount
                category: category
                metricFilterPattern: metricFilterPattern
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
              - displayDescription: displayDescription
                aggregationType: aggregationType
                sourceMdmNamespace: sourceMdmNamespace
                availabilities:
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                - timeGrain: timeGrain
                  blobDuration: blobDuration
                displayName: displayName
                enableRegionalMdmAccount: true
                isInternal: true
                unit: unit
                supportsInstanceLevelAggregation: true
                fillGapWithZero: true
                name: name
                sourceMdmAccount: sourceMdmAccount
                category: category
                metricFilterPattern: metricFilterPattern
                dimensions:
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
                - internalName: internalName
                  displayName: displayName
                  name: name
                  toBeExportedForShoebox: true
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/CertificateRegistrationProvider_ListOperations_200_response_value_inner'
          title: value
          type: array
      required:
      - value
      title: CertificateRegistrationProvider_ListOperations_200_response
      type: object
    CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification:
      description: Resource metrics service provided by Microsoft.Insights resource
        provider.
      example:
        metricSpecifications:
        - displayDescription: displayDescription
          aggregationType: aggregationType
          sourceMdmNamespace: sourceMdmNamespace
          availabilities:
          - timeGrain: timeGrain
            blobDuration: blobDuration
          - timeGrain: timeGrain
            blobDuration: blobDuration
          displayName: displayName
          enableRegionalMdmAccount: true
          isInternal: true
          unit: unit
          supportsInstanceLevelAggregation: true
          fillGapWithZero: true
          name: name
          sourceMdmAccount: sourceMdmAccount
          category: category
          metricFilterPattern: metricFilterPattern
          dimensions:
          - internalName: internalName
            displayName: displayName
            name: name
            toBeExportedForShoebox: true
          - internalName: internalName
            displayName: displayName
            name: name
            toBeExportedForShoebox: true
        - displayDescription: displayDescription
          aggregationType: aggregationType
          sourceMdmNamespace: sourceMdmNamespace
          availabilities:
          - timeGrain: timeGrain
            blobDuration: blobDuration
          - timeGrain: timeGrain
            blobDuration: blobDuration
          displayName: displayName
          enableRegionalMdmAccount: true
          isInternal: true
          unit: unit
          supportsInstanceLevelAggregation: true
          fillGapWithZero: true
          name: name
          sourceMdmAccount: sourceMdmAccount
          category: category
          metricFilterPattern: metricFilterPattern
          dimensions:
          - internalName: internalName
            displayName: displayName
            name: name
            toBeExportedForShoebox: true
          - internalName: internalName
            displayName: displayName
            name: name
            toBeExportedForShoebox: true
      properties:
        metricSpecifications:
          items:
            $ref: '#/components/schemas/CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner'
          title: metricSpecifications
          type: array
      title: CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification
      type: object
    ? CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner_availabilities_inner
    : description: Retention policy of a resource metric.
      example:
        timeGrain: timeGrain
        blobDuration: blobDuration
      properties:
        blobDuration:
          title: blobDuration
          type: string
        timeGrain:
          title: timeGrain
          type: string
      title: CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner_availabilities_inner
      type: object
    ? CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner
    : description: Definition of a single resource metric.
      example:
        displayDescription: displayDescription
        aggregationType: aggregationType
        sourceMdmNamespace: sourceMdmNamespace
        availabilities:
        - timeGrain: timeGrain
          blobDuration: blobDuration
        - timeGrain: timeGrain
          blobDuration: blobDuration
        displayName: displayName
        enableRegionalMdmAccount: true
        isInternal: true
        unit: unit
        supportsInstanceLevelAggregation: true
        fillGapWithZero: true
        name: name
        sourceMdmAccount: sourceMdmAccount
        category: category
        metricFilterPattern: metricFilterPattern
        dimensions:
        - internalName: internalName
          displayName: displayName
          name: name
          toBeExportedForShoebox: true
        - internalName: internalName
          displayName: displayName
          name: name
          toBeExportedForShoebox: true
      properties:
        aggregationType:
          title: aggregationType
          type: string
        availabilities:
          items:
            $ref: '#/components/schemas/CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner_availabilities_inner'
          title: availabilities
          type: array
        category:
          title: category
          type: string
        dimensions:
          items:
            $ref: '#/components/schemas/CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner_dimensions_inner'
          title: dimensions
          type: array
        displayDescription:
          title: displayDescription
          type: string
        displayName:
          title: displayName
          type: string
        enableRegionalMdmAccount:
          title: enableRegionalMdmAccount
          type: boolean
        fillGapWithZero:
          title: fillGapWithZero
          type: boolean
        isInternal:
          title: isInternal
          type: boolean
        metricFilterPattern:
          title: metricFilterPattern
          type: string
        name:
          title: name
          type: string
        sourceMdmAccount:
          title: sourceMdmAccount
          type: string
        sourceMdmNamespace:
          title: sourceMdmNamespace
          type: string
        supportsInstanceLevelAggregation:
          title: supportsInstanceLevelAggregation
          type: boolean
        unit:
          title: unit
          type: string
      title: CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner
      type: object
    CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties:
      description: Properties available for a Microsoft.Web resource provider operation.
      example:
        serviceSpecification:
          metricSpecifications:
          - displayDescription: displayDescription
            aggregationType: aggregationType
            sourceMdmNamespace: sourceMdmNamespace
            availabilities:
            - timeGrain: timeGrain
              blobDuration: blobDuration
            - timeGrain: timeGrain
              blobDuration: blobDuration
            displayName: displayName
            enableRegionalMdmAccount: true
            isInternal: true
            unit: unit
            supportsInstanceLevelAggregation: true
            fillGapWithZero: true
            name: name
            sourceMdmAccount: sourceMdmAccount
            category: category
            metricFilterPattern: metricFilterPattern
            dimensions:
            - internalName: internalName
              displayName: displayName
              name: name
              toBeExportedForShoebox: true
            - internalName: internalName
              displayName: displayName
              name: name
              toBeExportedForShoebox: true
          - displayDescription: displayDescription
            aggregationType: aggregationType
            sourceMdmNamespace: sourceMdmNamespace
            availabilities:
            - timeGrain: timeGrain
              blobDuration: blobDuration
            - timeGrain: timeGrain
              blobDuration: blobDuration
            displayName: displayName
            enableRegionalMdmAccount: true
            isInternal: true
            unit: unit
            supportsInstanceLevelAggregation: true
            fillGapWithZero: true
            name: name
            sourceMdmAccount: sourceMdmAccount
            category: category
            metricFilterPattern: metricFilterPattern
            dimensions:
            - internalName: internalName
              displayName: displayName
              name: name
              toBeExportedForShoebox: true
            - internalName: internalName
              displayName: displayName
              name: name
              toBeExportedForShoebox: true
      properties:
        serviceSpecification:
          $ref: '#/components/schemas/CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification'
      title: CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties
      type: object
    CertificateRegistrationProvider_ListOperations_200_response_value_inner:
      description: Description of an operation available for Microsoft.Web resource
        provider.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: origin
        name: name
        properties:
          serviceSpecification:
            metricSpecifications:
            - displayDescription: displayDescription
              aggregationType: aggregationType
              sourceMdmNamespace: sourceMdmNamespace
              availabilities:
              - timeGrain: timeGrain
                blobDuration: blobDuration
              - timeGrain: timeGrain
                blobDuration: blobDuration
              displayName: displayName
              enableRegionalMdmAccount: true
              isInternal: true
              unit: unit
              supportsInstanceLevelAggregation: true
              fillGapWithZero: true
              name: name
              sourceMdmAccount: sourceMdmAccount
              category: category
              metricFilterPattern: metricFilterPattern
              dimensions:
              - internalName: internalName
                displayName: displayName
                name: name
                toBeExportedForShoebox: true
              - internalName: internalName
                displayName: displayName
                name: name
                toBeExportedForShoebox: true
            - displayDescription: displayDescription
              aggregationType: aggregationType
              sourceMdmNamespace: sourceMdmNamespace
              availabilities:
              - timeGrain: timeGrain
                blobDuration: blobDuration
              - timeGrain: timeGrain
                blobDuration: blobDuration
              displayName: displayName
              enableRegionalMdmAccount: true
              isInternal: true
              unit: unit
              supportsInstanceLevelAggregation: true
              fillGapWithZero: true
              name: name
              sourceMdmAccount: sourceMdmAccount
              category: category
              metricFilterPattern: metricFilterPattern
              dimensions:
              - internalName: internalName
                displayName: displayName
                name: name
                toBeExportedForShoebox: true
              - internalName: internalName
                displayName: displayName
                name: name
                toBeExportedForShoebox: true
      properties:
        display:
          $ref: '#/components/schemas/CertificateRegistrationProvider_ListOperations_200_response_value_inner_display'
        name:
          title: name
          type: string
        origin:
          title: origin
          type: string
        properties:
          $ref: '#/components/schemas/CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties'
      title: CertificateRegistrationProvider_ListOperations_200_response_value_inner
      type: object
    ? CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner_dimensions_inner
    : description: "Dimension of a resource metric. For e.g. instance specific HTTP\
        \ requests for a web app, \nwhere instance name is dimension of the metric\
        \ HTTP request"
      example:
        internalName: internalName
        displayName: displayName
        name: name
        toBeExportedForShoebox: true
      properties:
        displayName:
          title: displayName
          type: string
        internalName:
          title: internalName
          type: string
        name:
          title: name
          type: string
        toBeExportedForShoebox:
          title: toBeExportedForShoebox
          type: boolean
      title: CertificateRegistrationProvider_ListOperations_200_response_value_inner_properties_serviceSpecification_metricSpecifications_inner_dimensions_inner
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
