openapi: 3.0.1
info:
  description: "Use these APIs to manage Azure Websites resources through the Azure\
    \ Resource Manager. All task operations conform to the HTTP/1.1 protocol specification\
    \ and each operation returns an x-ms-request-id header that can be used to obtain\
    \ information about the request. You must make sure that requests made to these\
    \ resources are secure. For more information, see https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx."
  title: WebSite Management Client
  version: 2015-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2015-08-01/service.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: web-service
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Web/publishingUsers/web:
    get:
      deprecated: false
      operationId: provider_get_publishing_user
      parameters:
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
            text/xml:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
      summary: Gets publishing user
      tags:
      - Provider
      x-openapi-router-controller: openapi_server.controllers.provider_controller
    put:
      deprecated: false
      operationId: provider_update_publishing_user
      parameters:
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          text/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
        description: Details of publishing user
        required: true
        x-body-name: requestMessage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
            text/xml:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
      summary: Updates publishing user
      tags:
      - Provider
      x-codegen-request-body-name: requestMessage
      x-openapi-router-controller: openapi_server.controllers.provider_controller
  /providers/Microsoft.Web/sourcecontrols:
    get:
      deprecated: false
      operationId: provider_get_source_controls
      parameters:
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControlCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/SourceControlCollection'
          description: OK
      summary: Gets the source controls available for Azure websites
      tags:
      - Provider
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.provider_controller
  /providers/Microsoft.Web/sourcecontrols/{sourceControlType}:
    get:
      deprecated: false
      operationId: provider_get_source_control
      parameters:
      - description: Type of source control
        in: path
        name: sourceControlType
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl'
            text/json:
              schema:
                $ref: '#/components/schemas/SourceControl'
            application/xml:
              schema:
                $ref: '#/components/schemas/SourceControl'
            text/xml:
              schema:
                $ref: '#/components/schemas/SourceControl'
          description: OK
      summary: Gets source control token
      tags:
      - Provider
      x-openapi-router-controller: openapi_server.controllers.provider_controller
    put:
      deprecated: false
      operationId: provider_update_source_control
      parameters:
      - description: Type of source control
        in: path
        name: sourceControlType
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceControl'
          text/json:
            schema:
              $ref: '#/components/schemas/SourceControl'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SourceControl'
        description: Source control token information
        required: true
        x-body-name: requestMessage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl'
            text/json:
              schema:
                $ref: '#/components/schemas/SourceControl'
            application/xml:
              schema:
                $ref: '#/components/schemas/SourceControl'
            text/xml:
              schema:
                $ref: '#/components/schemas/SourceControl'
          description: OK
      summary: Updates source control token
      tags:
      - Provider
      x-codegen-request-body-name: requestMessage
      x-openapi-router-controller: openapi_server.controllers.provider_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/certificateOrders:
    get:
      deprecated: false
      operationId: global_certificate_order_get_all_certificate_orders
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCollection'
          description: OK
      summary: Lists all domains in a subscription
      tags:
      - GlobalCertificateOrder
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.global_certificate_order_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/validateCertificateRegistrationInformation:
    post:
      deprecated: false
      operationId: global_certificate_order_validate_certificate_purchase_information
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          text/json:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          application/xml:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          text/xml:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
        description: Certificate order
        required: true
        x-body-name: certificateOrder
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Validate certificate purchase information
      tags:
      - GlobalCertificateOrder
      x-codegen-request-body-name: certificateOrder
      x-openapi-router-controller: openapi_server.controllers.global_certificate_order_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/checkDomainAvailability:
    post:
      deprecated: false
      operationId: global_domain_registration_check_domain_availability
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
          text/json:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
          application/xml:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
          text/xml:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
        description: Name of the domain
        required: true
        x-body-name: identifier
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailablilityCheckResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainAvailablilityCheckResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailablilityCheckResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailablilityCheckResult'
          description: OK
      summary: Checks if a domain is available for registration
      tags:
      - GlobalDomainRegistration
      x-codegen-request-body-name: identifier
      x-openapi-router-controller: openapi_server.controllers.global_domain_registration_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/domains:
    get:
      deprecated: false
      operationId: global_domain_registration_get_all_domains
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
          description: OK
      summary: Lists all domains in a subscription
      tags:
      - GlobalDomainRegistration
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.global_domain_registration_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/generateSsoRequest:
    post:
      deprecated: false
      operationId: global_domain_registration_get_domain_control_center_sso_request
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
          description: OK
      summary: Generates a single sign on request for domain management portal
      tags:
      - GlobalDomainRegistration
      x-openapi-router-controller: openapi_server.controllers.global_domain_registration_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/listDomainRecommendations:
    post:
      deprecated: false
      operationId: global_domain_registration_list_domain_recommendations
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
        description: Domain recommendation search parameters
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameIdentifierCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/NameIdentifierCollection'
          description: OK
      summary: Lists domain recommendations based on keywords
      tags:
      - GlobalDomainRegistration
      x-ms-pageable:
        nextLinkName: nextLink
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.global_domain_registration_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains:
    get:
      deprecated: false
      operationId: top_level_domains_get_get_top_level_domains
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopLevelDomainCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/TopLevelDomainCollection'
          description: OK
      summary: Lists all top level domains supported for registration
      tags:
      - TopLevelDomains
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.top_level_domains_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}:
    get:
      deprecated: false
      operationId: top_level_domains_get_top_level_domain
      parameters:
      - description: Name of the top level domain
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopLevelDomain'
            text/json:
              schema:
                $ref: '#/components/schemas/TopLevelDomain'
            application/xml:
              schema:
                $ref: '#/components/schemas/TopLevelDomain'
            text/xml:
              schema:
                $ref: '#/components/schemas/TopLevelDomain'
          description: OK
      summary: Gets details of a top level domain
      tags:
      - TopLevelDomains
      x-openapi-router-controller: openapi_server.controllers.top_level_domains_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}/listAgreements:
    post:
      deprecated: false
      operationId: top_level_domains_list_top_level_domain_agreements
      parameters:
      - description: Name of the top level domain
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
          text/json:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
          application/xml:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
          text/xml:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
        description: Domain agreement options
        required: true
        x-body-name: agreementOption
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TldLegalAgreementCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/TldLegalAgreementCollection'
          description: OK
      summary: Lists legal agreements that user needs to accept before purchasing
        domain
      tags:
      - TopLevelDomains
      x-ms-pageable:
        nextLinkName: nextLink
      x-codegen-request-body-name: agreementOption
      x-openapi-router-controller: openapi_server.controllers.top_level_domains_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/validateDomainRegistrationInformation:
    post:
      deprecated: false
      operationId: global_domain_registration_validate_domain_purchase_information
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRegistrationInput'
          text/json:
            schema:
              $ref: '#/components/schemas/DomainRegistrationInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainRegistrationInput'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainRegistrationInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DomainRegistrationInput'
        description: Domain registration information
        required: true
        x-body-name: domainRegistrationInput
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Validates domain registration information
      tags:
      - GlobalDomainRegistration
      x-codegen-request-body-name: domainRegistrationInput
      x-openapi-router-controller: openapi_server.controllers.global_domain_registration_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/certificates:
    get:
      deprecated: false
      operationId: global_get_all_certificates
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
          description: OK
      summary: Get all certificates for a subscription
      tags:
      - Global
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.global_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/checknameavailability:
    post:
      deprecated: false
      operationId: global_check_name_availability
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
        description: Name availability request
        required: true
        x-body-name: request
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNameAvailability'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceNameAvailability'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResourceNameAvailability'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResourceNameAvailability'
          description: OK
      summary: Check if resource name is available
      tags:
      - Global
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.global_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/classicMobileServices:
    get:
      deprecated: false
      operationId: global_get_all_classic_mobile_services
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileServiceCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileServiceCollection'
          description: OK
      summary: Gets all mobile services for a subscription
      tags:
      - Global
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.global_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/geoRegions:
    get:
      deprecated: false
      operationId: global_get_subscription_geo_regions
      parameters:
      - description: Filter only to regions that support this sku
        in: query
        name: sku
        schema:
          type: string
      - description: Filter only to regions that support linux workers
        in: query
        name: linuxWorkersEnabled
        schema:
          type: boolean
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoRegionCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/GeoRegionCollection'
          description: OK
      summary: Gets list of available geo regions
      tags:
      - Global
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.global_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments:
    get:
      deprecated: false
      operationId: global_get_all_hosting_environments
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironmentCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironmentCollection'
          description: OK
      summary: Gets all hostingEnvironments (App Service Environment) for a subscription
      tags:
      - Global
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.global_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/ishostingenvironmentnameavailable:
    get:
      deprecated: false
      operationId: global_is_hosting_environment_name_available
      parameters:
      - description: Hosting environment name
        in: query
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Whether hosting environment name is available
      tags:
      - Global
      x-openapi-router-controller: openapi_server.controllers.global_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/ishostingenvironmentnameavailable/{name}:
    get:
      deprecated: false
      operationId: global_is_hosting_environment_with_legacy_name_available
      parameters:
      - description: Hosting environment name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Whether hosting environment name is available
      tags:
      - Global
      x-openapi-router-controller: openapi_server.controllers.global_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/managedHostingEnvironments:
    get:
      deprecated: false
      operationId: global_get_all_managed_hosting_environments
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedHostingEnvironmentCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/ManagedHostingEnvironmentCollection'
          description: OK
      summary: Gets all managed hosting environments for a subscription
      tags:
      - Global
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.global_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/premieraddonoffers:
    get:
      deprecated: false
      operationId: global_list_premier_add_on_offers
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: List premier add on offers
      tags:
      - Global
      x-openapi-router-controller: openapi_server.controllers.global_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/publishingCredentials:
    get:
      deprecated: false
      operationId: global_get_subscription_publishing_credentials
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
            text/xml:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
      summary: Gets publishing credentials for the subscription owner
      tags:
      - Global
      x-openapi-router-controller: openapi_server.controllers.global_controller
    put:
      deprecated: false
      operationId: global_update_subscription_publishing_credentials
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          text/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
        description: requestMessage with new publishing credentials
        required: true
        x-body-name: requestMessage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
            text/xml:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
      summary: Updates publishing credentials for the subscription owner
      tags:
      - Global
      x-codegen-request-body-name: requestMessage
      x-openapi-router-controller: openapi_server.controllers.global_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations:
    get:
      deprecated: false
      operationId: recommendations_get_recommendation_by_subscription
      parameters:
      - description: "If set, this API returns only the most critical recommendation\
          \ among the others. Otherwise this API returns all recommendations available"
        in: query
        name: featured
        schema:
          type: boolean
      - description: "Return only channels specified in the filter. Filter is specified\
          \ by using OData syntax. Example: $filter=channels eq 'Api' or channel eq\
          \ 'Notification'"
        in: query
        name: $filter
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Recommendation'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Recommendation'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Recommendation'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Recommendation'
                type: array
          description: OK
      summary: Gets a list of recommendations associated with the specified subscription.
      tags:
      - Recommendations
      x-openapi-router-controller: openapi_server.controllers.recommendations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/serverfarms:
    get:
      deprecated: false
      operationId: global_get_all_server_farms
      parameters:
      - description: "False to return a subset of App Service Plan properties, true\
          \ to return all of the properties.\r\n            Retrieval of all properties\
          \ may increase the API latency."
        in: query
        name: detailed
        schema:
          type: boolean
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerFarmCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/ServerFarmCollection'
          description: OK
      summary: Gets all App Service Plans for a subscription
      tags:
      - Global
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.global_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/sites:
    get:
      deprecated: false
      operationId: global_get_all_sites
      parameters:
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/SiteCollection'
          description: OK
      summary: Gets all Web Apps for a subscription
      tags:
      - Global
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.global_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources:
    post:
      deprecated: false
      operationId: global_resource_groups_move_resources
      parameters:
      - in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
          text/json:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
          application/xml:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
          text/xml:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
        required: true
        x-body-name: moveResourceEnvelope
      responses:
        "204":
          content: {}
          description: No Content
      tags:
      - GlobalResourceGroups
      x-codegen-request-body-name: moveResourceEnvelope
      x-openapi-router-controller: openapi_server.controllers.global_resource_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders
  : get:
      deprecated: false
      operationId: certificate_orders_get_certificate_orders
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCollection'
          description: OK
      summary: Get certificate orders in a resource group
      tags:
      - CertificateOrders
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates
  : get:
      deprecated: false
      operationId: certificate_orders_get_certificates
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificateCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificateCollection'
          description: OK
      summary: List all certificates associated with a certificate order (only one
        certificate can be associated with an order at a time)
      tags:
      - CertificateOrders
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates/{name}
  : delete:
      deprecated: false
      operationId: certificate_orders_delete_certificate
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Deletes the certificate associated with the certificate order
      tags:
      - CertificateOrders
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
    get:
      deprecated: false
      operationId: certificate_orders_get_certificate
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
          description: OK
      summary: Get certificate associated with the certificate order
      tags:
      - CertificateOrders
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
    patch:
      deprecated: false
      operationId: certificate_orders_update_certificate
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateOrderCertificate'
          text/json:
            schema:
              $ref: '#/components/schemas/CertificateOrderCertificate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CertificateOrderCertificate'
        description: Key Vault secret csm Id
        required: true
        x-body-name: keyVaultCertificate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
          description: OK
      summary: Associates a Key Vault secret to a certificate store that will be used
        for storing the certificate once it's ready
      tags:
      - CertificateOrders
      x-codegen-request-body-name: keyVaultCertificate
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
    put:
      deprecated: false
      operationId: certificate_orders_create_or_update_certificate
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: certificateOrderName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateOrderCertificate'
          text/json:
            schema:
              $ref: '#/components/schemas/CertificateOrderCertificate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CertificateOrderCertificate'
        description: Key Vault secret csm Id
        required: true
        x-body-name: keyVaultCertificate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
          description: OK
      summary: Associates a Key Vault secret to a certificate store that will be used
        for storing the certificate once it's ready
      tags:
      - CertificateOrders
      x-codegen-request-body-name: keyVaultCertificate
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}
  : delete:
      deprecated: false
      operationId: certificate_orders_delete_certificate_order
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Delete an existing certificate order
      tags:
      - CertificateOrders
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
    get:
      deprecated: false
      operationId: certificate_orders_get_certificate_order
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
          description: OK
      summary: Get a certificate order
      tags:
      - CertificateOrders
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
    patch:
      deprecated: false
      operationId: certificate_orders_update_certificate_order
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          text/json:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
        description: Distinguished name to be used for purchasing certificate
        required: true
        x-body-name: certificateDistinguishedName
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
          description: OK
      summary: Create or update a certificate purchase order
      tags:
      - CertificateOrders
      x-codegen-request-body-name: certificateDistinguishedName
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
    put:
      deprecated: false
      operationId: certificate_orders_create_or_update_certificate_order
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          text/json:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
        description: Distinguished name to be used for purchasing certificate
        required: true
        x-body-name: certificateDistinguishedName
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
          description: OK
      summary: Create or update a certificate purchase order
      tags:
      - CertificateOrders
      x-codegen-request-body-name: certificateDistinguishedName
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/reissue
  : post:
      deprecated: false
      operationId: certificate_orders_reissue_certificate_order
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
        description: Reissue parameters
        required: true
        x-body-name: reissueCertificateOrderRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Reissue an existing certificate order
      tags:
      - CertificateOrders
      x-codegen-request-body-name: reissueCertificateOrderRequest
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/renew
  : post:
      deprecated: false
      operationId: certificate_orders_renew_certificate_order
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
        description: Renew parameters
        required: true
        x-body-name: renewCertificateOrderRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Renew an existing certificate order
      tags:
      - CertificateOrders
      x-codegen-request-body-name: renewCertificateOrderRequest
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/resendEmail
  : post:
      deprecated: false
      operationId: certificate_orders_resend_certificate_email
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate order name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Resend certificate email
      tags:
      - CertificateOrders
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveCertificateActions
  : post:
      deprecated: false
      operationId: certificate_orders_retrieve_certificate_actions
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate order name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
                type: array
          description: OK
      summary: Retrieve the list of certificate actions
      tags:
      - CertificateOrders
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveEmailHistory
  : post:
      deprecated: false
      operationId: certificate_orders_retrieve_certificate_email_history
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate order name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateEmail'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateEmail'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateEmail'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateEmail'
                type: array
          description: OK
      summary: Retrieve email history
      tags:
      - CertificateOrders
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/verifyDomainOwnership
  : post:
      deprecated: false
      operationId: certificate_orders_verify_domain_ownership
      parameters:
      - description: Azure resource group name
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Certificate order name
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Verify domain ownership for this certificate order
      tags:
      - CertificateOrders
      x-openapi-router-controller: openapi_server.controllers.certificate_orders_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains:
    get:
      deprecated: false
      operationId: domains_get_domains
      parameters:
      - description: Name of the resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
          description: OK
      summary: Lists domains under a resource group
      tags:
      - Domains
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}:
    delete:
      deprecated: false
      operationId: domains_delete_domain
      parameters:
      - description: Name of the resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: If true then the domain will be deleted immediately instead of
          after 24 hours
        in: query
        name: forceHardDeleteDomain
        schema:
          type: boolean
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: Domain does not exist in Azure database probably because it
            has already been deleted
      summary: Deletes a domain
      tags:
      - Domains
      x-openapi-router-controller: openapi_server.controllers.domains_controller
    get:
      deprecated: false
      operationId: domains_get_domain
      parameters:
      - description: Name of the resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
          description: OK
      summary: Gets details of a domain
      tags:
      - Domains
      x-openapi-router-controller: openapi_server.controllers.domains_controller
    patch:
      deprecated: false
      operationId: domains_update_domain
      parameters:
      - description: '&gt;Name of the resource group'
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
          text/json:
            schema:
              $ref: '#/components/schemas/Domain'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Domain'
        description: Domain registration information
        required: true
        x-body-name: domain
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain purchase was successful
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain purchase is in progress
      summary: Creates a domain
      tags:
      - Domains
      x-codegen-request-body-name: domain
      x-openapi-router-controller: openapi_server.controllers.domains_controller
    put:
      deprecated: false
      operationId: domains_create_or_update_domain
      parameters:
      - description: '&gt;Name of the resource group'
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
          text/json:
            schema:
              $ref: '#/components/schemas/Domain'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Domain'
        description: Domain registration information
        required: true
        x-body-name: domain
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain purchase was successful
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain purchase is in progress
      summary: Creates a domain
      tags:
      - Domains
      x-codegen-request-body-name: domain
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/operationresults/{operationId}
  : get:
      deprecated: false
      operationId: domains_get_domain_operation
      parameters:
      - description: Name of the resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the domain
        in: path
        name: domainName
        required: true
        schema:
          type: string
      - description: Domain purchase operation Id
        in: path
        name: operationId
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain purchase was successful
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
          description: Domain purchase is in progress
        "500":
          content: {}
          description: Domain purchase request failed
      summary: Retrieves the latest status of a domain purchase operation
      tags:
      - Domains
      x-openapi-router-controller: openapi_server.controllers.domains_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web.Admin/environments/{environmentName}/usage
  : get:
      deprecated: false
      operationId: usage_get_usage
      parameters:
      - description: Name of resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Environment name
        in: path
        name: environmentName
        required: true
        schema:
          type: string
      - description: Last marker that was returned from the batch
        in: query
        name: lastId
        required: true
        schema:
          type: string
      - description: size of the batch to be returned.
        in: query
        name: batchSize
        required: true
        schema:
          format: int32
          type: integer
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Returns usage records for specified subscription and resource groups
      tags:
      - Usage
      x-openapi-router-controller: openapi_server.controllers.usage_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates:
    get:
      deprecated: false
      operationId: certificates_get_certificates
      parameters:
      - description: Name of the resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
          description: OK
      summary: Get certificates for a subscription in the specified resource group.
      tags:
      - Certificates
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates/{name}:
    delete:
      deprecated: false
      operationId: certificates_delete_certificate
      parameters:
      - description: Name of the resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the certificate to be deleted.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Delete a certificate by name in a specified subscription and resourcegroup.
      tags:
      - Certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    get:
      deprecated: false
      operationId: certificates_get_certificate
      parameters:
      - description: Name of the resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
            text/json:
              schema:
                $ref: '#/components/schemas/Certificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/Certificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: OK
      summary: Get a certificate by certificate name for a subscription in the specified
        resource group.
      tags:
      - Certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    patch:
      deprecated: false
      operationId: certificates_update_certificate
      parameters:
      - description: Name of the resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
          text/json:
            schema:
              $ref: '#/components/schemas/Certificate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Certificate'
        description: Details of certificate if it exists already.
        required: true
        x-body-name: certificateEnvelope
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
            text/json:
              schema:
                $ref: '#/components/schemas/Certificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/Certificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: OK
      summary: Creates or modifies an existing certificate.
      tags:
      - Certificates
      x-codegen-request-body-name: certificateEnvelope
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    put:
      deprecated: false
      operationId: certificates_create_or_update_certificate
      parameters:
      - description: Name of the resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
          text/json:
            schema:
              $ref: '#/components/schemas/Certificate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Certificate'
        description: Details of certificate if it exists already.
        required: true
        x-body-name: certificateEnvelope
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
            text/json:
              schema:
                $ref: '#/components/schemas/Certificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/Certificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/Certificate'
          description: OK
      summary: Creates or modifies an existing certificate.
      tags:
      - Certificates
      x-codegen-request-body-name: certificateEnvelope
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/classicMobileServices:
    get:
      deprecated: false
      operationId: classic_mobile_services_get_classic_mobile_services
      parameters:
      - description: Name of resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileServiceCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileServiceCollection'
          description: OK
      summary: Get all mobile services in a resource group.
      tags:
      - ClassicMobileServices
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.classic_mobile_services_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/classicMobileServices/{name}:
    delete:
      deprecated: false
      operationId: classic_mobile_services_delete_classic_mobile_service
      parameters:
      - description: Name of resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of mobile service
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Delete a mobile service.
      tags:
      - ClassicMobileServices
      x-openapi-router-controller: openapi_server.controllers.classic_mobile_services_controller
    get:
      deprecated: false
      operationId: classic_mobile_services_get_classic_mobile_service
      parameters:
      - description: Name of resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of mobile service
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileService'
            text/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileService'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClassicMobileService'
            text/xml:
              schema:
                $ref: '#/components/schemas/ClassicMobileService'
          description: OK
      summary: Get a mobile service.
      tags:
      - ClassicMobileServices
      x-openapi-router-controller: openapi_server.controllers.classic_mobile_services_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/csrs:
    get:
      deprecated: false
      operationId: certificates_get_csrs
      parameters:
      - description: Name of the resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Csr'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Csr'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Csr'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Csr'
                type: array
          description: OK
      summary: Gets the certificate signing requests for a subscription in the specified
        resource group
      tags:
      - Certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/csrs/{name}:
    delete:
      deprecated: false
      operationId: certificates_delete_csr
      parameters:
      - description: Name of the resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the certificate signing request.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
          description: OK
      summary: Delete the certificate signing request.
      tags:
      - Certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    get:
      deprecated: false
      operationId: certificates_get_csr
      parameters:
      - description: Name of the resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the certificate.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Subscription Id
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Csr'
            text/json:
              schema:
                $ref: '#/components/schemas/Csr'
            application/xml:
              schema:
                $ref: '#/components/schemas/Csr'
            text/xml:
              schema:
                $ref: '#/components/schemas/Csr'
          description: OK
      summary: Gets a certificate signing request by certificate name for a subscription
        in the specified resource group
      tags:
[...]
