openapi: 3.0.1
info:
  title: Marketplace RP Service
  version: 2020-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2020-01-01/Marketplace.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: marketplace-Marketplace
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.Marketplace/operations:
    get:
      description: Lists all of the available Microsoft.Marketplace REST API operations.
      operationId: operations_list
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
      - Operations
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /providers/Microsoft.Marketplace/privateStores:
    get:
      description: Gets the list of available private stores
      operationId: private_store_list
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStoreList'
          description: OK. The request has succeeded.
      tags:
      - PrivateStores
      x-ms-examples:
        GetPrivateStores:
          parameters:
            api-version: 2020-01-01
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - availability: enabled
                  name: MyFirstPrivateStore
                - availability: disabled
                  name: MySecondPrivateStore
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.private_stores_controller
  /providers/Microsoft.Marketplace/privateStores/{PrivateStoreId}:
    delete:
      description: Deletes the private store. All that is not saved will be lost.
      operationId: private_store_delete
      parameters:
      - description: The store ID - must use the tenant ID
        in: path
        name: private_store_id
        required: true
        schema:
          type: string
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Private store was deleted successfully .
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
      - PrivateStores
      x-ms-examples:
        DeletePrivateStores:
          parameters:
            PrivateStoreId: MyFirstPrivateStore
            api-version: 2020-01-01
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.private_stores_controller
    get:
      description: Get information about the private store
      operationId: private_store_get
      parameters:
      - description: The store ID - must use the tenant ID
        in: path
        name: PrivateStoreId
        required: true
        schema:
          type: string
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStoreProperties'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
      - PrivateStores
      x-ms-examples:
        GetPrivateStoreByName:
          parameters:
            PrivateStoreId: MyFirstPrivateStore
            api-version: 2020-01-01
          responses:
            "200":
              body:
                availability: enabled
                name: MyFirstPrivateStore
      x-openapi-router-controller: openapi_server.controllers.private_stores_controller
    put:
      description: Changes private store properties
      operationId: private_store_create_or_update
      parameters:
      - description: The store ID - must use the tenant ID
        in: path
        name: private_store_id
        required: true
        schema:
          type: string
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateStoreProperties'
        required: false
        x-body-name: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateStoreProperties'
          description: Change successful
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
      - PrivateStores
      x-ms-examples:
        UpdatePrivateStores:
          parameters:
            PrivateStoreId: MyFirstPrivateStore
            api-version: 2020-01-01
            parameters:
              properties:
                availability: disabled
                name: MyNewFirstPrivateStore
          responses:
            "200":
              body:
                availability: disabled
                name: MyNewFirstPrivateStore
      x-codegen-request-body-name: payload
      x-openapi-router-controller: openapi_server.controllers.private_stores_controller
  /providers/Microsoft.Marketplace/privateStores/{PrivateStoreId}/offers:
    get:
      description: Get a list of all private offers in the given private store
      operationId: private_store_offers_list
      parameters:
      - description: The store ID - must use the tenant ID
        in: path
        name: private_store_id
        required: true
        schema:
          type: string
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferListResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
      - PrivateStores
      x-ms-examples:
        GetPrivateStoreOffers:
          parameters:
            PrivateStoreId: myPrivateStore
            api-version: 2020-01-01
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - description: description-longSummry-md-test-third-party-2
                  displayName: md-test-third-party-2
                  eTag: '"9301f4fd-0000-0100-0000-5e248b350000"'
                  id: marketplacetestthirdparty.md-test-third-party-2
                  longSummary: longSummry-md-test-third-party-2
                  plans:
                  - displayName: Text IQ Deep Concept Analysis
                    planId: "0001"
                  - displayName: new-md-sku-4
                    planId: "0002"
                  publisherDisplayName: Marketplace Test Third Party
                  summary: summary-md-test-third-party-2
                - description: description-longSummry-md-test-third-party-3
                  displayName: md-test-third-party-3
                  eTag: '"9301f4fd-0000-0100-0304-5e248b350043"'
                  id: marketplacetestthirdparty.md-test-third-party-3
                  longSummary: longSummry-md-test-third-party-3
                  plans:
                  - displayName: test-planId
                    planId: "0001"
                  - displayName: new-md-sku-6
                    planId: "0002"
                  publisherDisplayName: Marketplace Test Third Party
                  summary: summary-md-test-third-party-3
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.private_stores_controller
  /providers/Microsoft.Marketplace/privateStores/{PrivateStoreId}/offers/{OfferId}:
    delete:
      description: Deletes an offer from the given private store.
      operationId: private_store_offer_delete
      parameters:
      - description: The offer ID to update or delete
        in: path
        name: offer_id
        required: true
        schema:
          type: string
      - description: The store ID - must use the tenant ID
        in: path
        name: private_store_id
        required: true
        schema:
          type: string
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Offer was deleted successfully
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
      - PrivateStores
      x-ms-examples:
        DeletePrivateStoreOffer:
          parameters:
            OfferId: marketplacetestthirdparty.md-test-third-party-2
            PrivateStoreId: myPrivateStore
            api-version: 2020-01-01
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.private_stores_controller
    get:
      description: Gets information about a specific offer.
      operationId: private_store_offer_get
      parameters:
      - description: The offer ID to update or delete
        in: path
        name: OfferId
        required: true
        schema:
          type: string
      - description: The store ID - must use the tenant ID
        in: path
        name: private_store_id
        required: true
        schema:
          type: string
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
          description: Offer information retrieved
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
      - PrivateStores
      x-ms-examples:
        GetPrivateStoreOffer:
          parameters:
            OfferId: marketplacetestthirdparty.md-test-third-party-2
            PrivateStoreId: myPrivateStore
            api-version: 2020-01-01
          responses:
            "200":
              body:
                description: description-longSummry-md-test-third-party-2
                displayName: md-test-third-party-2
                eTag: '"9301f4fd-0000-0100-0000-5e248b350000"'
                id: marketplacetestthirdparty.md-test-third-party-2
                longSummary: longSummry-md-test-third-party-2
                plans:
                - displayName: Text IQ Deep Concept Analysis
                  planId: "0001"
                - displayName: new-md-sku-4
                  planId: "0002"
                publisherDisplayName: Marketplace Test Third Party
                summary: summary-md-test-third-party-2
      x-openapi-router-controller: openapi_server.controllers.private_stores_controller
    put:
      description: Update or add an offer to the default collection of the private
        store.
      operationId: private_store_offer_create_or_update
      parameters:
      - description: The offer ID to update or delete
        in: path
        name: offer_id
        required: true
        schema:
          type: string
      - description: The store ID - must use the tenant ID
        in: path
        name: private_store_id
        required: true
        schema:
          type: string
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Offer'
        required: false
        x-body-name: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Microsoft.Marketplace error response describing why the operation
            failed.
      tags:
      - PrivateStores
      x-ms-examples:
        UpdatePrivateStoreOffer:
          parameters:
            OfferId: marketplacetestthirdparty.md-test-third-party-2
            PrivateStoreId: myPrivateStore
            api-version: 2020-01-01
            parameters:
              properties:
                eTag: '"9301f4fd-0000-0100-0000-5e248b350666"'
          responses:
            "200":
              body:
                description: description-longSummry-md-test-third-party-2
                displayName: md-test-third-party-2
                eTag: '"9301f4fd-0000-0100-0000-5e248b350666"'
                id: marketplacetestthirdparty.md-test-third-party-2
                longSummary: longSummry-md-test-third-party-2
                plans:
                - displayName: Text IQ Deep Concept Analysis
                  planId: "0001"
                - displayName: new-md-sku-4
                  planId: "0002"
                publisherDisplayName: Marketplace Test Third Party
                summary: summary-md-test-third-party-2
      x-codegen-request-body-name: payload
      x-openapi-router-controller: openapi_server.controllers.private_stores_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    OfferIdPathParameter:
      description: The offer ID to update or delete
      in: path
      name: OfferId
      required: true
      schema:
        type: string
    PrivateStoreIdParameter:
      description: The store ID - must use the tenant ID
      in: path
      name: PrivateStoreId
      required: true
      schema:
        type: string
  requestBodies:
    offerObjectParameter:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/offerSkuObject'
      required: false
  schemas:
    ErrorResponse:
      description: Error response indicates Microsoft.Marketplace service is not able
        to process the incoming request. The reason is provided in the error message.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponse_error'
      title: ErrorResponse
      type: object
    Offer:
      example:
        summary: summary
        publisherDisplayName: publisherDisplayName
        displayName: displayName
        plans:
        - displayName: displayName
          planId: planId
        - displayName: displayName
          planId: planId
        description: description
        longSummary: longSummary
        eTag: eTag
        id: id
      properties:
        description:
          description: Description of offer
          readOnly: true
          title: description
          type: string
        displayName:
          description: It will be displayed prominently in the marketplace
          readOnly: true
          title: displayName
          type: string
        eTag:
          description: Identifier for purposes of race condition
          title: eTag
          type: string
        id:
          description: Offers unique id
          readOnly: true
          title: id
          type: string
        longSummary:
          description: Purpose or function of offer
          readOnly: true
          title: longSummary
          type: string
        plans:
          items:
            $ref: '#/components/schemas/Plan'
          readOnly: true
          title: plans
          type: array
        publisherDisplayName:
          description: Publisher name that will be displayed prominently in the marketplace
          readOnly: true
          title: publisherDisplayName
          type: string
        summary:
          description: Brief purpose or function of offer
          readOnly: true
          title: summary
          type: string
      title: Offer
      type: object
    OfferListResponse:
      example:
        value:
        - summary: summary
          publisherDisplayName: publisherDisplayName
          displayName: displayName
          plans:
          - displayName: displayName
            planId: planId
          - displayName: displayName
            planId: planId
          description: description
          longSummary: longSummary
          eTag: eTag
          id: id
        - summary: summary
          publisherDisplayName: publisherDisplayName
          displayName: displayName
          plans:
          - displayName: displayName
            planId: planId
          - displayName: displayName
            planId: planId
          description: description
          longSummary: longSummary
          eTag: eTag
          id: id
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of offer list results if there are
            any.
          title: nextLink
          type: string
        value:
          items:
            $ref: '#/components/schemas/Offer'
          title: value
          type: array
      title: OfferListResponse
      type: object
    Operation:
      description: Microsoft.Marketplace REST API operation
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: Result of the request to list Marketplace operations. It contains
        a list of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of Microsoft.Marketplace operations supported by the Microsoft.Marketplace
            resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationListResult
      type: object
    Plan:
      example:
        displayName: displayName
        planId: planId
      properties:
        displayName:
          description: Friendly name for the plan for display in the marketplace
          readOnly: true
          title: displayName
          type: string
        planId:
          description: Identifier for this plan
          readOnly: true
          title: planId
          type: string
      title: Plan
      type: object
    PrivateStoreList:
      description: "Describes the json payload for the list of available private stores\
        \ (between zero and one, inclusive)"
      example:
        value:
        - name: name
          availability: enabled
        - name: name
          availability: enabled
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of PrivateStore list results if there
            are any.
          title: nextLink
          type: string
        value:
          items:
            $ref: '#/components/schemas/PrivateStoreProperties'
          title: value
          type: array
      title: PrivateStoreList
      type: object
    PrivateStoreProperties:
      description: Describes the json payload on whether or not the private store
        is enabled for a given tenant
      example:
        name: name
        availability: enabled
      properties:
        availability:
          description: Indicates private store availability
          enum:
          - enabled
          - disabled
          title: availability
          type: string
          x-ms-enum:
            modelAsString: true
            name: Availability
        name:
          description: Private Store name
          title: name
          type: string
      title: PrivateStoreProperties
      type: object
    offerObject:
      properties:
        isAvailable:
          type: boolean
      required:
      - isAvailable
      type: object
    offerSkuObject:
      properties:
        isAvailable:
          type: boolean
      required:
      - isAvailable
      type: object
    ErrorResponse_error:
      description: The details of the error.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          readOnly: true
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          title: message
          type: string
      title: ErrorResponse_error
      type: object
    Operation_display:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        operation: operation
      properties:
        operation:
          description: "Operation type: Get Amendments etc."
          title: operation
          type: string
        provider:
          description: "Service provider: Microsoft.Marketplace"
          title: provider
          type: string
        resource:
          description: "Resource on which the operation is performed: Amendments"
          title: resource
          type: string
      title: Operation_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
