openapi: 3.0.1
info:
  description: Azure NotificationHub client
  title: NotificationHubsManagementClient
  version: 2014-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2014-09-01/notificationhubs.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: notificationhubs
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/checkNamespaceAvailability:
    post:
      description: Checks the availability of the given service namespace across all
        Windows Azure subscriptions. This is useful because the domain name is created
        based on the service namespace name.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx
      operationId: namespaces_check_availability
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityParameters'
        description: The namespace name.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResource'
            text/json:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResource'
          description: ""
      tags:
      - Namespaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/namespaces:
    get:
      description: Lists all the available namespaces within the subscription irrespective
        of the resourceGroups.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx
      operationId: namespaces_list_all
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
          description: ""
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces:
    get:
      description: Lists the available namespaces within a resourceGroup.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx
      operationId: namespaces_list
      parameters:
      - description: The name of the resource group. If resourceGroupName value is
          null the method lists all the namespaces within subscription
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NamespaceListResult'
          description: ""
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}
  : delete:
      description: Deletes an existing namespace. This operation also removes all
        associated notificationHubs under the namespace.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj856296.aspx
      operationId: namespaces_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - Namespaces
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    get:
      description: Returns the description for the specified namespace.
      externalDocs:
        url: http://msdn.microsoft.com/library/azure/dn140232.aspx
      operationId: namespaces_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
            text/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: ""
      tags:
      - Namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    put:
      description: "Creates/Updates a service namespace. Once created, this namespace's\
        \ resource manifest is immutable. This operation is idempotent."
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx
      operationId: namespaces_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamespaceCreateOrUpdateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/NamespaceCreateOrUpdateParameters'
        description: Parameters supplied to create a Namespace Resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
            text/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
            text/json:
              schema:
                $ref: '#/components/schemas/NamespaceResource'
          description: ""
      tags:
      - Namespaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules
  : post:
      description: Gets the authorization rules for a namespace.
      operationId: namespaces_list_authorization_rules
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: ""
      tags:
      - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes a namespace authorization rule
      operationId: namespaces_delete_authorization_rule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Authorization Rule Name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - Namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    post:
      description: Gets an authorization rule for a namespace by name.
      operationId: namespaces_get_authorization_rule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
            text/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: ""
      tags:
      - Namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
    put:
      description: Creates an authorization rule for a namespace
      operationId: namespaces_create_or_update_authorization_rule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Authorization Rule Name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        description: The shared access authorization rule.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
            text/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: ""
      tags:
      - Namespaces
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys
  : post:
      description: 'Gets the Primary and Secondary ConnectionStrings to the namespace '
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
      operationId: namespaces_list_keys
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The connection string of the namespace for the specified authorizationRule.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
          description: ""
      tags:
      - Namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/checkNotificationHubAvailability
  : post:
      description: Checks the availability of the given notificationHub in a namespace.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx
      operationId: notification_hubs_check_availability
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityParameters'
        description: The notificationHub name.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResource'
            text/json:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResource'
          description: ""
      tags:
      - NotificationHubs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs
  : get:
      description: Lists the notification hubs associated with a namespace.
      operationId: notification_hubs_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NotificationHubListResult'
          description: ""
      tags:
      - NotificationHubs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}
  : delete:
      description: Deletes a notification hub associated with a namespace.
      operationId: notification_hubs_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
      tags:
      - NotificationHubs
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
    get:
      description: Lists the notification hubs associated with a namespace.
      operationId: notification_hubs_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
            text/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
          description: ""
      tags:
      - NotificationHubs
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
    put:
      description: Creates/Update a NotificationHub in a namespace.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx
      operationId: notification_hubs_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationHubCreateOrUpdateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/NotificationHubCreateOrUpdateParameters'
        description: Parameters supplied to the create/update a NotificationHub Resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
            text/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
            text/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
          description: ""
      tags:
      - NotificationHubs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules
  : post:
      description: Gets the authorization rules for a NotificationHub.
      operationId: notification_hubs_list_authorization_rules
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleListResult'
          description: ""
      tags:
      - NotificationHubs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}
  : delete:
      description: Deletes a notificationHub authorization rule
      operationId: notification_hubs_delete_authorization_rule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        schema:
          type: string
      - description: Authorization Rule Name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "204":
          content: {}
          description: ""
      tags:
      - NotificationHubs
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
    post:
      description: Gets an authorization rule for a NotificationHub by name.
      operationId: notification_hubs_get_authorization_rule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        schema:
          type: string
      - description: authorization rule name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
            text/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: ""
      tags:
      - NotificationHubs
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
    put:
      description: Creates/Updates an authorization rule for a NotificationHub
      operationId: notification_hubs_create_or_update_authorization_rule
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        schema:
          type: string
      - description: Authorization Rule Name.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/SharedAccessAuthorizationRuleCreateOrUpdateParameters'
        description: The shared access authorization rule.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
            text/json:
              schema:
                $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          description: ""
      tags:
      - NotificationHubs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/listKeys
  : post:
      description: 'Gets the Primary and Secondary ConnectionStrings to the NotificationHub '
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
      operationId: notification_hubs_list_keys
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        schema:
          type: string
      - description: The connection string of the NotificationHub for the specified
          authorizationRule.
        in: path
        name: authorizationRuleName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListKeys'
          description: ""
      tags:
      - NotificationHubs
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/pnsCredentials
  : post:
      description: Lists the PNS Credentials associated with a notification hub .
      operationId: notification_hubs_get_pns_credentials
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The namespace name.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The notification hub name.
        in: path
        name: notificationHubName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
            text/json:
              schema:
                $ref: '#/components/schemas/NotificationHubResource'
          description: ""
      tags:
      - NotificationHubs
      x-openapi-router-controller: openapi_server.controllers.notification_hubs_controller
  /{operationStatusLink}:
    get:
      description: "The Get Operation Status operation returns the status of the specified\
        \ operation. After calling an asynchronous operation, you can call Get Operation\
        \ Status to determine whether the operation has succeeded, failed, or is still\
        \ in progress."
      operationId: namespaces_get_long_running_operation_status
      parameters:
      - description: Location value returned by the Begin operation.
        in: path
        name: operationStatusLink
        required: true
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "404":
          content: {}
          description: ""
      tags:
      - Namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Gets subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AdmCredential:
      description: Description of a NotificationHub AdmCredential.
      example:
        properties:
          clientId: clientId
          authTokenUrl: authTokenUrl
          clientSecret: clientSecret
      properties:
        properties:
          $ref: '#/components/schemas/AdmCredentialProperties'
      title: AdmCredential
      type: object
    AdmCredentialProperties:
      description: Description of a NotificationHub AdmCredential.
      example:
        clientId: clientId
        authTokenUrl: authTokenUrl
        clientSecret: clientSecret
      properties:
        authTokenUrl:
          description: Gets or sets the URL of the authorization token.
          title: authTokenUrl
          type: string
        clientId:
          description: Gets or sets the client identifier.
          title: clientId
          type: string
        clientSecret:
          description: Gets or sets the credential secret access key.
          title: clientSecret
          type: string
      title: AdmCredentialProperties
      type: object
    ApnsCredential:
      description: Description of a NotificationHub ApnsCredential.
      example:
        properties:
          endpoint: endpoint
          thumbprint: thumbprint
          certificateKey: certificateKey
          apnsCertificate: apnsCertificate
      properties:
        properties:
          $ref: '#/components/schemas/ApnsCredentialProperties'
      title: ApnsCredential
      type: object
    ApnsCredentialProperties:
      description: Description of a NotificationHub ApnsCredential.
      example:
        endpoint: endpoint
        thumbprint: thumbprint
        certificateKey: certificateKey
        apnsCertificate: apnsCertificate
      properties:
        apnsCertificate:
          description: Gets or sets the APNS certificate.
          title: apnsCertificate
          type: string
        certificateKey:
          description: Gets or sets the certificate key.
          title: certificateKey
          type: string
        endpoint:
          description: Gets or sets the endpoint of this credential.
          title: endpoint
          type: string
        thumbprint:
          description: Gets or sets the Apns certificate Thumbprint
          title: thumbprint
          type: string
      title: ApnsCredentialProperties
      type: object
    BaiduCredential:
      description: Description of a NotificationHub BaiduCredential.
      example:
        properties:
          baiduApiKey: baiduApiKey
          baiduSecretKey: baiduSecretKey
          baiduEndPoint: baiduEndPoint
      properties:
        properties:
          $ref: '#/components/schemas/BaiduCredentialProperties'
      title: BaiduCredential
      type: object
    BaiduCredentialProperties:
      description: Description of a NotificationHub BaiduCredential.
      example:
        baiduApiKey: baiduApiKey
        baiduSecretKey: baiduSecretKey
        baiduEndPoint: baiduEndPoint
      properties:
        baiduApiKey:
          description: Get or Set Baidu Api Key.
          title: baiduApiKey
          type: string
        baiduEndPoint:
          description: Get or Set Baidu Endpoint.
          title: baiduEndPoint
          type: string
        baiduSecretKey:
          description: Get or Set Baidu Secret Key
          title: baiduSecretKey
          type: string
      title: BaiduCredentialProperties
      type: object
    CheckAvailabilityParameters:
      description: Parameters supplied to the Check Name Availability for Namespace
        and NotificationHubs.
      example:
        isAvailiable: true
        name: name
        location: location
        tags:
          key: tags
      properties:
        isAvailiable:
          description: Gets or sets true if the name is available and can be used
            to create new Namespace/NotificationHub. Otherwise false.
          title: isAvailiable
          type: boolean
        location:
          description: Gets or sets location.
          title: location
          type: string
        name:
          description: Gets or sets name
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Gets or sets tags.
          title: tags
          type: object
      required:
      - name
      title: CheckAvailabilityParameters
      type: object
    CheckAvailabilityResource:
      description: Description of a CheckAvailability resource.
      example:
        isAvailiable: true
        name: name
        location: location
        id: id
        type: type
        tags:
          key: tags
      properties:
        id:
          description: Gets or sets the id
          title: id
          type: string
        isAvailiable:
          description: Gets or sets true if the name is available and can be used
            to create new Namespace/NotificationHub. Otherwise false.
          title: isAvailiable
          type: boolean
        location:
          description: Gets or sets datacenter location
          title: location
          type: string
        name:
          description: Gets or sets name
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Gets or sets tags
          title: tags
          type: object
        type:
          description: Gets or sets resource type
          title: type
          type: string
      title: CheckAvailabilityResource
      type: object
    GcmCredential:
      description: Description of a NotificationHub GcmCredential.
      example:
        properties:
          googleApiKey: googleApiKey
          gcmEndpoint: gcmEndpoint
      properties:
        properties:
          $ref: '#/components/schemas/GcmCredentialProperties'
      title: GcmCredential
      type: object
    GcmCredentialProperties:
      description: Description of a NotificationHub GcmCredential.
      example:
        googleApiKey: googleApiKey
        gcmEndpoint: gcmEndpoint
      properties:
        gcmEndpoint:
          description: Gets or sets the GCM endpoint.
          title: gcmEndpoint
          type: string
        googleApiKey:
          description: Gets or sets the Google API key.
          title: googleApiKey
          type: string
      title: GcmCredentialProperties
      type: object
    MpnsCredential:
      description: Description of a NotificationHub MpnsCredential.
      example:
        properties:
          mpnsCertificate: mpnsCertificate
          thumbprint: thumbprint
          certificateKey: certificateKey
      properties:
        properties:
          $ref: '#/components/schemas/MpnsCredentialProperties'
      title: MpnsCredential
      type: object
    MpnsCredentialProperties:
      description: Description of a NotificationHub MpnsCredential.
      example:
        mpnsCertificate: mpnsCertificate
        thumbprint: thumbprint
        certificateKey: certificateKey
      properties:
        certificateKey:
          description: Gets or sets the certificate key for this credential.
          title: certificateKey
          type: string
        mpnsCertificate:
          description: Gets or sets the MPNS certificate.
          title: mpnsCertificate
          type: string
        thumbprint:
          description: Gets or sets the Mpns certificate Thumbprint
          title: thumbprint
          type: string
      title: MpnsCredentialProperties
      type: object
    NamespaceCreateOrUpdateParameters:
      description: Parameters supplied to the CreateOrUpdate Namespace operation.
      example:
        location: location
        properties:
          createdAt: 2000-01-23T04:56:07.000+00:00
          critical: true
          serviceBusEndpoint: serviceBusEndpoint
          name: name
          provisioningState: provisioningState
          region: region
          subscriptionId: subscriptionId
          enabled: true
          namespaceType: Messaging
          scaleUnit: scaleUnit
          status: status
        tags:
          key: tags
      properties:
        location:
          description: Gets or sets Namespace data center location.
          title: location
          type: string
        properties:
          $ref: '#/components/schemas/NamespaceProperties'
        tags:
          additionalProperties:
            type: string
          description: Gets or sets Namespace tags.
          title: tags
          type: object
      required:
      - location
      - properties
      title: NamespaceCreateOrUpdateParameters
      type: object
    NamespaceListResult:
      description: The response of the List Namespace operation.
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          properties:
            createdAt: 2000-01-23T04:56:07.000+00:00
            critical: true
            serviceBusEndpoint: serviceBusEndpoint
            name: name
            provisioningState: provisioningState
            region: region
            subscriptionId: subscriptionId
            enabled: true
            namespaceType: Messaging
            scaleUnit: scaleUnit
            status: status
          tags:
            key: tags
        - name: name
          location: location
          id: id
          type: type
          properties:
            createdAt: 2000-01-23T04:56:07.000+00:00
            critical: true
            serviceBusEndpoint: serviceBusEndpoint
            name: name
            provisioningState: provisioningState
            region: region
            subscriptionId: subscriptionId
            enabled: true
            namespaceType: Messaging
            scaleUnit: scaleUnit
            status: status
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets link to the next set of results. Not empty if
            Value contains incomplete list of Namespaces
          title: nextLink
          type: string
        value:
          description: Gets or sets result of the List Namespace operation.
          items:
            $ref: '#/components/schemas/NamespaceResource'
          title: value
          type: array
      title: NamespaceListResult
      type: object
    NamespaceProperties:
      description: Namespace properties.
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        critical: true
        serviceBusEndpoint: serviceBusEndpoint
        name: name
        provisioningState: provisioningState
        region: region
        subscriptionId: subscriptionId
        enabled: true
        namespaceType: Messaging
        scaleUnit: scaleUnit
        status: status
      properties:
        createdAt:
          description: The time the namespace was created.
          format: date-time
          title: createdAt
          type: string
        critical:
          description: Whether or not the namespace is set as Critical.
          title: critical
          type: boolean
        enabled:
          description: Whether or not the namespace is currently enabled.
          title: enabled
          type: boolean
        name:
          description: The name of the namespace.
          title: name
          type: string
        namespaceType:
          description: Gets or sets the namespace type.
          enum:
          - Messaging
          - NotificationHub
          title: namespaceType
          type: string
          x-ms-enum:
            modelAsString: false
            name: NamespaceType
        provisioningState:
          description: Gets or sets provisioning state of the Namespace.
          title: provisioningState
          type: string
        region:
          description: "Specifies the targeted region in which the namespace should\
            \ be created. It can be any of the following values: Australia East, Australia\
            \ Southeast, Central US, East US, East US 2, West US, North Central US,\
            \ South Central US, East Asia, Southeast Asia, Brazil South, Japan East,\
            \ Japan West, North Europe, West Europe"
          title: region
          type: string
        scaleUnit:
          description: ScaleUnit where the namespace gets created
          title: scaleUnit
          type: string
        serviceBusEndpoint:
          description: Endpoint you can use to perform NotificationHub operations.
          title: serviceBusEndpoint
          type: string
        status:
          description: Status of the namespace. It can be any of these values:1 =
            Created/Active2 = Creating3 = Suspended4 = Deleting
          title: status
          type: string
        subscriptionId:
          description: The Id of the Azure subscription associated with the namespace.
          title: subscriptionId
          type: string
      title: NamespaceProperties
      type: object
    NamespaceResource:
      description: Description of a Namespace resource.
      example:
        name: name
        location: location
        id: id
        type: type
        properties:
          createdAt: 2000-01-23T04:56:07.000+00:00
          critical: true
          serviceBusEndpoint: serviceBusEndpoint
          name: name
          provisioningState: provisioningState
          region: region
          subscriptionId: subscriptionId
          enabled: true
          namespaceType: Messaging
          scaleUnit: scaleUnit
          status: status
        tags:
          key: tags
      properties:
        id:
          description: Gets or sets the id of the created Namespace.
          title: id
          type: string
        location:
          description: Gets or sets datacenter location of the Namespace.
          title: location
          type: string
        name:
          description: Gets or sets name of the Namespace.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/NamespaceProperties'
        tags:
          additionalProperties:
            type: string
          description: Gets or sets tags of the Namespace.
          title: tags
          type: object
        type:
          description: Gets or sets resource type of the Namespace.
          title: type
          type: string
      title: NamespaceResource
      type: object
    NotificationHubCreateOrUpdateParameters:
      description: Parameters supplied to the CreateOrUpdate NotificationHub operation.
      example:
        location: location
        properties:
          baiduCredential:
            properties:
              baiduApiKey: baiduApiKey
              baiduSecretKey: baiduSecretKey
              baiduEndPoint: baiduEndPoint
          mpnsCredential:
            properties:
              mpnsCertificate: mpnsCertificate
              thumbprint: thumbprint
              certificateKey: certificateKey
          apnsCredential:
            properties:
              endpoint: endpoint
              thumbprint: thumbprint
              certificateKey: certificateKey
              apnsCertificate: apnsCertificate
          authorizationRules:
          - claimType: claimType
            modifiedTime: 2000-01-23T04:56:07.000+00:00
            secondaryKey: secondaryKey
            rights:
            - Manage
            - Manage
            keyName: keyName
            createdTime: 2000-01-23T04:56:07.000+00:00
            claimValue: claimValue
            primaryKey: primaryKey
            revision: 0
          - claimType: claimType
            modifiedTime: 2000-01-23T04:56:07.000+00:00
            secondaryKey: secondaryKey
            rights:
            - Manage
            - Manage
            keyName: keyName
            createdTime: 2000-01-23T04:56:07.000+00:00
            claimValue: claimValue
            primaryKey: primaryKey
            revision: 0
          gcmCredential:
            properties:
              googleApiKey: googleApiKey
              gcmEndpoint: gcmEndpoint
          name: name
          registrationTtl: registrationTtl
          wnsCredential:
            properties:
              secretKey: secretKey
              packageSid: packageSid
              windowsLiveEndpoint: windowsLiveEndpoint
          admCredential:
            properties:
              clientId: clientId
              authTokenUrl: authTokenUrl
              clientSecret: clientSecret
        tags:
          key: tags
      properties:
        location:
          description: Gets or sets NotificationHub data center location.
          title: location
          type: string
        properties:
          $ref: '#/components/schemas/NotificationHubProperties'
        tags:
          additionalProperties:
            type: string
          description: Gets or sets NotificationHub tags.
          title: tags
          type: object
      required:
      - location
      - properties
      title: NotificationHubCreateOrUpdateParameters
      type: object
    NotificationHubListResult:
      description: The response of the List NotificationHub operation.
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          properties:
            baiduCredential:
              properties:
                baiduApiKey: baiduApiKey
                baiduSecretKey: baiduSecretKey
                baiduEndPoint: baiduEndPoint
            mpnsCredential:
              properties:
                mpnsCertificate: mpnsCertificate
                thumbprint: thumbprint
                certificateKey: certificateKey
            apnsCredential:
              properties:
                endpoint: endpoint
                thumbprint: thumbprint
                certificateKey: certificateKey
                apnsCertificate: apnsCertificate
            authorizationRules:
            - claimType: claimType
              modifiedTime: 2000-01-23T04:56:07.000+00:00
              secondaryKey: secondaryKey
              rights:
              - Manage
              - Manage
              keyName: keyName
              createdTime: 2000-01-23T04:56:07.000+00:00
              claimValue: claimValue
              primaryKey: primaryKey
              revision: 0
            - claimType: claimType
              modifiedTime: 2000-01-23T04:56:07.000+00:00
              secondaryKey: secondaryKey
              rights:
              - Manage
              - Manage
              keyName: keyName
              createdTime: 2000-01-23T04:56:07.000+00:00
              claimValue: claimValue
              primaryKey: primaryKey
              revision: 0
            gcmCredential:
              properties:
                googleApiKey: googleApiKey
                gcmEndpoint: gcmEndpoint
            name: name
            registrationTtl: registrationTtl
            wnsCredential:
              properties:
                secretKey: secretKey
                packageSid: packageSid
                windowsLiveEndpoint: windowsLiveEndpoint
            admCredential:
              properties:
                clientId: clientId
                authTokenUrl: authTokenUrl
                clientSecret: clientSecret
          tags:
            key: tags
        - name: name
          location: location
          id: id
          type: type
          properties:
            baiduCredential:
              properties:
                baiduApiKey: baiduApiKey
                baiduSecretKey: baiduSecretKey
                baiduEndPoint: baiduEndPoint
            mpnsCredential:
              properties:
                mpnsCertificate: mpnsCertificate
                thumbprint: thumbprint
                certificateKey: certificateKey
            apnsCredential:
              properties:
                endpoint: endpoint
                thumbprint: thumbprint
                certificateKey: certificateKey
                apnsCertificate: apnsCertificate
            authorizationRules:
            - claimType: claimType
              modifiedTime: 2000-01-23T04:56:07.000+00:00
              secondaryKey: secondaryKey
              rights:
              - Manage
              - Manage
              keyName: keyName
              createdTime: 2000-01-23T04:56:07.000+00:00
              claimValue: claimValue
              primaryKey: primaryKey
              revision: 0
            - claimType: claimType
              modifiedTime: 2000-01-23T04:56:07.000+00:00
              secondaryKey: secondaryKey
              rights:
              - Manage
              - Manage
              keyName: keyName
              createdTime: 2000-01-23T04:56:07.000+00:00
              claimValue: claimValue
              primaryKey: primaryKey
              revision: 0
            gcmCredential:
              properties:
                googleApiKey: googleApiKey
                gcmEndpoint: gcmEndpoint
            name: name
            registrationTtl: registrationTtl
            wnsCredential:
              properties:
                secretKey: secretKey
                packageSid: packageSid
                windowsLiveEndpoint: windowsLiveEndpoint
            admCredential:
              properties:
                clientId: clientId
                authTokenUrl: authTokenUrl
                clientSecret: clientSecret
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets link to the next set of results. Not empty if
            Value contains incomplete list of NotificationHub
          title: nextLink
          type: string
        value:
          description: Gets or sets result of the List NotificationHub operation.
          items:
            $ref: '#/components/schemas/NotificationHubResource'
          title: value
          type: array
      title: NotificationHubListResult
      type: object
    NotificationHubProperties:
      description: NotificationHub properties.
      example:
        baiduCredential:
          properties:
            baiduApiKey: baiduApiKey
            baiduSecretKey: baiduSecretKey
            baiduEndPoint: baiduEndPoint
        mpnsCredential:
          properties:
            mpnsCertificate: mpnsCertificate
            thumbprint: thumbprint
            certificateKey: certificateKey
        apnsCredential:
          properties:
            endpoint: endpoint
            thumbprint: thumbprint
            certificateKey: certificateKey
            apnsCertificate: apnsCertificate
        authorizationRules:
        - claimType: claimType
          modifiedTime: 2000-01-23T04:56:07.000+00:00
          secondaryKey: secondaryKey
          rights:
          - Manage
          - Manage
          keyName: keyName
          createdTime: 2000-01-23T04:56:07.000+00:00
          claimValue: claimValue
          primaryKey: primaryKey
          revision: 0
        - claimType: claimType
          modifiedTime: 2000-01-23T04:56:07.000+00:00
          secondaryKey: secondaryKey
          rights:
          - Manage
          - Manage
          keyName: keyName
          createdTime: 2000-01-23T04:56:07.000+00:00
          claimValue: claimValue
          primaryKey: primaryKey
          revision: 0
        gcmCredential:
          properties:
            googleApiKey: googleApiKey
            gcmEndpoint: gcmEndpoint
        name: name
        registrationTtl: registrationTtl
        wnsCredential:
          properties:
            secretKey: secretKey
            packageSid: packageSid
            windowsLiveEndpoint: windowsLiveEndpoint
        admCredential:
          properties:
            clientId: clientId
            authTokenUrl: authTokenUrl
            clientSecret: clientSecret
      properties:
        admCredential:
          $ref: '#/components/schemas/AdmCredential'
        apnsCredential:
          $ref: '#/components/schemas/ApnsCredential'
        authorizationRules:
          description: The AuthorizationRules of the created NotificationHub
          items:
            $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties'
          title: authorizationRules
          type: array
        baiduCredential:
          $ref: '#/components/schemas/BaiduCredential'
        gcmCredential:
          $ref: '#/components/schemas/GcmCredential'
        mpnsCredential:
          $ref: '#/components/schemas/MpnsCredential'
        name:
          description: The NotificationHub name.
          title: name
          type: string
        registrationTtl:
          description: The RegistrationTtl of the created NotificationHub
          title: registrationTtl
          type: string
        wnsCredential:
          $ref: '#/components/schemas/WnsCredential'
      title: NotificationHubProperties
      type: object
    NotificationHubResource:
      description: Description of a NotificationHub Resource.
      example:
        name: name
        location: location
        id: id
        type: type
        properties:
          baiduCredential:
            properties:
              baiduApiKey: baiduApiKey
              baiduSecretKey: baiduSecretKey
              baiduEndPoint: baiduEndPoint
          mpnsCredential:
            properties:
              mpnsCertificate: mpnsCertificate
              thumbprint: thumbprint
              certificateKey: certificateKey
          apnsCredential:
            properties:
              endpoint: endpoint
              thumbprint: thumbprint
              certificateKey: certificateKey
              apnsCertificate: apnsCertificate
          authorizationRules:
          - claimType: claimType
            modifiedTime: 2000-01-23T04:56:07.000+00:00
            secondaryKey: secondaryKey
            rights:
            - Manage
            - Manage
            keyName: keyName
            createdTime: 2000-01-23T04:56:07.000+00:00
            claimValue: claimValue
            primaryKey: primaryKey
            revision: 0
          - claimType: claimType
            modifiedTime: 2000-01-23T04:56:07.000+00:00
            secondaryKey: secondaryKey
            rights:
            - Manage
            - Manage
            keyName: keyName
            createdTime: 2000-01-23T04:56:07.000+00:00
            claimValue: claimValue
            primaryKey: primaryKey
            revision: 0
          gcmCredential:
            properties:
              googleApiKey: googleApiKey
              gcmEndpoint: gcmEndpoint
          name: name
          registrationTtl: registrationTtl
          wnsCredential:
            properties:
              secretKey: secretKey
              packageSid: packageSid
              windowsLiveEndpoint: windowsLiveEndpoint
          admCredential:
            properties:
              clientId: clientId
              authTokenUrl: authTokenUrl
              clientSecret: clientSecret
        tags:
          key: tags
      properties:
        id:
          description: Gets or sets the id of the created NotificationHub.
          title: id
          type: string
        location:
          description: Gets or sets datacenter location of the NotificationHub.
          title: location
          type: string
        name:
          description: Gets or sets name of the NotificationHub.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/NotificationHubProperties'
        tags:
          additionalProperties:
            type: string
          description: Gets or sets tags of the NotificationHub.
          title: tags
          type: object
        type:
          description: Gets or sets resource type of the NotificationHub.
          title: type
          type: string
      title: NotificationHubResource
      type: object
    Resource:
      properties:
        id:
          description: Resource Id
          readOnly: true
          type: string
        location:
          description: Resource location
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        type:
          description: Resource type
          readOnly: true
          type: string
      required:
      - location
      type: object
      x-ms-azure-resource: true
    ResourceListKeys:
      description: Namespace/NotificationHub Connection String
      example:
        primaryConnectionString: primaryConnectionString
        secondaryConnectionString: secondaryConnectionString
      properties:
        primaryConnectionString:
          description: Gets or sets the primaryConnectionString of the created Namespace
            AuthorizationRule.
          title: primaryConnectionString
          type: string
        secondaryConnectionString:
          description: Gets or sets the secondaryConnectionString of the created Namespace
            AuthorizationRule
          title: secondaryConnectionString
          type: string
      title: ResourceListKeys
      type: object
    SharedAccessAuthorizationRuleCreateOrUpdateParameters:
      description: Parameters supplied to the CreateOrUpdate Namespace AuthorizationRules.
      example:
        name: name
        location: location
        properties:
          claimType: claimType
          modifiedTime: 2000-01-23T04:56:07.000+00:00
          secondaryKey: secondaryKey
          rights:
          - Manage
          - Manage
          keyName: keyName
          createdTime: 2000-01-23T04:56:07.000+00:00
          claimValue: claimValue
          primaryKey: primaryKey
          revision: 0
      properties:
        location:
          description: Gets or sets Namespace data center location.
          title: location
          type: string
        name:
          description: Gets or sets Name of the Namespace AuthorizationRule.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties'
      required:
      - properties
      title: SharedAccessAuthorizationRuleCreateOrUpdateParameters
      type: object
    SharedAccessAuthorizationRuleListResult:
      description: The response of the List Namespace operation.
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          properties:
            claimType: claimType
            modifiedTime: 2000-01-23T04:56:07.000+00:00
            secondaryKey: secondaryKey
            rights:
            - Manage
            - Manage
            keyName: keyName
            createdTime: 2000-01-23T04:56:07.000+00:00
            claimValue: claimValue
            primaryKey: primaryKey
            revision: 0
          tags:
            key: tags
        - name: name
          location: location
          id: id
          type: type
          properties:
            claimType: claimType
            modifiedTime: 2000-01-23T04:56:07.000+00:00
            secondaryKey: secondaryKey
            rights:
            - Manage
            - Manage
            keyName: keyName
            createdTime: 2000-01-23T04:56:07.000+00:00
            claimValue: claimValue
            primaryKey: primaryKey
            revision: 0
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets link to the next set of results. Not empty if
            Value contains incomplete list of AuthorizationRules
          title: nextLink
          type: string
        value:
          description: Gets or sets result of the List AuthorizationRules operation.
          items:
            $ref: '#/components/schemas/SharedAccessAuthorizationRuleResource'
          title: value
          type: array
      title: SharedAccessAuthorizationRuleListResult
      type: object
    SharedAccessAuthorizationRuleProperties:
      description: SharedAccessAuthorizationRule properties.
      example:
        claimType: claimType
        modifiedTime: 2000-01-23T04:56:07.000+00:00
        secondaryKey: secondaryKey
        rights:
        - Manage
        - Manage
        keyName: keyName
        createdTime: 2000-01-23T04:56:07.000+00:00
        claimValue: claimValue
        primaryKey: primaryKey
        revision: 0
      properties:
        claimType:
          description: The type of the claim.
          title: claimType
          type: string
        claimValue:
          description: The value of the claim.
          title: claimValue
          type: string
        createdTime:
          description: The time at which the authorization rule was created.
          format: date-time
          title: createdTime
          type: string
        keyName:
          description: The name of the key that was used.
          title: keyName
          type: string
        modifiedTime:
          description: The most recent time the rule was updated.
          format: date-time
          title: modifiedTime
          type: string
        primaryKey:
          description: The primary key that was used.
          title: primaryKey
          type: string
        revision:
          description: The revision number for the rule.
          format: int32
          title: revision
          type: integer
        rights:
          description: The rights associated with the rule.
          items:
            enum:
            - Manage
            - Send
            - Listen
            type: string
            x-ms-enum:
              modelAsString: false
              name: AccessRights
          title: rights
          type: array
        secondaryKey:
          description: The secondary key that was used.
          title: secondaryKey
          type: string
      title: SharedAccessAuthorizationRuleProperties
      type: object
    SharedAccessAuthorizationRuleResource:
      description: Description of a Namespace AuthorizationRules.
      example:
        name: name
        location: location
        id: id
        type: type
        properties:
          claimType: claimType
          modifiedTime: 2000-01-23T04:56:07.000+00:00
          secondaryKey: secondaryKey
          rights:
          - Manage
          - Manage
          keyName: keyName
          createdTime: 2000-01-23T04:56:07.000+00:00
          claimValue: claimValue
          primaryKey: primaryKey
          revision: 0
        tags:
          key: tags
      properties:
        id:
          description: Gets or sets the id of the created Namespace AuthorizationRules.
          title: id
          type: string
        location:
          description: Gets or sets datacenter location of the Namespace AuthorizationRules.
          title: location
          type: string
        name:
          description: Gets or sets name of the Namespace AuthorizationRules.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/SharedAccessAuthorizationRuleProperties'
        tags:
          additionalProperties:
            type: string
          description: Gets or sets tags of the Namespace AuthorizationRules.
          title: tags
          type: object
        type:
          description: Gets or sets resource type of the Namespace AuthorizationRules.
          title: type
          type: string
      title: SharedAccessAuthorizationRuleResource
      type: object
    SubResource:
      properties:
        id:
          description: Resource Id
          type: string
      type: object
      x-ms-azure-resource: true
    WnsCredential:
      description: Description of a NotificationHub WnsCredential.
      example:
        properties:
          secretKey: secretKey
          packageSid: packageSid
          windowsLiveEndpoint: windowsLiveEndpoint
      properties:
        properties:
          $ref: '#/components/schemas/WnsCredentialProperties'
      title: WnsCredential
      type: object
    WnsCredentialProperties:
      description: Description of a NotificationHub WnsCredential.
      example:
        secretKey: secretKey
        packageSid: packageSid
        windowsLiveEndpoint: windowsLiveEndpoint
      properties:
        packageSid:
          description: Gets or sets the package ID for this credential.
          title: packageSid
          type: string
        secretKey:
          description: Gets or sets the secret key.
          title: secretKey
          type: string
        windowsLiveEndpoint:
          description: Gets or sets the Windows Live endpoint.
          title: windowsLiveEndpoint
          type: string
      title: WnsCredentialProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
