openapi: 3.0.1
info:
  contact: {}
  title: opendatasoft
  version: 2.1.0
  x-apisguru-categories:
  - open_data
  x-logo:
    url: https://twitter.com/opendatasoft/profile_image?size=original
  x-origin:
  - format: swagger
    url: http://public.opendatasoft.com/api/v2/swagger.json
    version: "2.0"
  - format: swagger
    url: http://public.opendatasoft.com/api/v2/swagger.json
    version: "2.0"
  x-providerName: opendatasoft.com
servers:
- url: https://public.opendatasoft.com/api/v2
security:
- api_key: []
- basic: []
tags:
- name: root
- name: metadata
- name: catalog
- name: export catalog
- name: dataset
- name: export dataset
paths:
  /:
    get:
      description: |
        API entry point

        Provides links for:
        * catalog, your domain's list of datasets
        * opendatasoft, all datasets on the Opendatasoft network
      operationId: get_root
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoot_200_response'
          description: Provide a set of links to the most basic entry points in the
            API (sources)
      tags:
      - root
      - ods
      x-openapi-router-controller: openapi_server.controllers.root_controller
  /pages:
    get:
      description: |
        List of all pages from this portal.
      operationId: get_pages
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPages_200_response'
          description: "List of all pages, each with their endpoint."
      tags:
      - page
      - ods
      x-openapi-router-controller: openapi_server.controllers.page_controller
  /pages/{slug}:
    get:
      description: |
        A single page's metadata from this portal
      operationId: get_page
      parameters:
      - description: |
          Page slug.
        in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPages_200_response_pages_inner'
          description: A single page's metadata.
      tags:
      - page
      - ods
      x-openapi-router-controller: openapi_server.controllers.page_controller
  /{source}:
    get:
      description: |
        Source entry points

        Provides links for the source's datasets and metadata.
      operationId: get_source
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoot_200_response'
          description: Provide a set of links to the basic entry points for the given
            source.
      tags:
      - catalog
      - ods
      x-openapi-router-controller: openapi_server.controllers.catalog_controller
  /{source}/aggregates:
    get:
      description: |
        **Deprecated, use `/datasets` instead.**
      operationId: aggregate_datasets
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          A select expression can be used to add, remove or change fields to return.
          An expression can be:
            - a wildcard ('*'): return all fields
            - a field name: return only this field
            - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'
            - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.
        in: query
        name: select
        schema:
          type: string
      - description: |
          An array of filters.

          A filter is a text expression performing a simple full-text search that can also include logical operations
          (NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.

          Read [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.
        explode: true
        in: query
        name: where
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A group by expression defines a grouping function for an aggregation.
          It can be:
           - a field name: group result by each value of this field
           - a range function: group result by range
           - a date function: group result by date
          It is possible to specify a custom name with the 'as name' notation. For instance: group_by='city_field as city'.
        in: query
        name: group_by
        schema:
          type: string
      - description: |
          A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).

          Sorts results according to the specified fields' values in ascending order by default.
          To sort results in descending order, use the `desc` keyword.

          Example: `sum(age) desc, name asc`
        explode: false
        in: query
        name: order_by
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Number of items to return.

          To use in conjonction with offset to implement pagination.

          Limit maximum value is 100. To retrive more data use export entry points.
          The default value is 10.
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: -1
          type: integer
      - description: |
          Index of the first item to return (starting at 0).

          To use in conjonction with limit to implement pagination.
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: |
          A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).

          Facets can be configured in the back-office or with this parameter.

          Read [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.
        explode: true
        in: query
        name: facet
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will only include the selected facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*

          *refine is not available for monitoring sources*
        explode: true
        in: query
        name: refine
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will exclude the defined facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*

          *exclude is not available for monitoring sources*
        explode: true
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aggregateDatasets_200_response'
          description: Aggregation result
      tags:
      - catalog
      - aggregations
      - ods
      x-openapi-router-controller: openapi_server.controllers.catalog_controller
  /{source}/datasets:
    get:
      description: |
        List of available datasets, each with their endpoints, paginated.

        Links provided:
        * previous page
        * next page
        * last page
        * first page
      operationId: get_datasets
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          A select expression can be used to add, remove or change fields to return.
          An expression can be:
            - a wildcard ('*'): return all fields
            - a field name: return only this field
            - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'
            - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.
        in: query
        name: select
        schema:
          type: string
      - description: |
          An array of filters.

          A filter is a text expression performing a simple full-text search that can also include logical operations
          (NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.

          Read [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.
        explode: true
        in: query
        name: where
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A group by expression defines a grouping function for an aggregation.
          It can be:
           - a field name: group result by each value of this field
           - a range function: group result by range
           - a date function: group result by date
          It is possible to specify a custom name with the 'as name' notation. For instance: group_by='city_field as city'.
        in: query
        name: group_by
        schema:
          type: string
      - description: |
          **Deprecated, use `order_by` instead.**

          A list of field names, each possibly prefixed with a minus (-).

          Sorts results according to the specified fields' values. By default, the sort is ascending (from the smallest
          value to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only
          available on numeric fields (int, double, date and datetime) and on text fields which have the sortable
          annotation.
        explode: false
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).

          Sorts results according to the specified fields' values in ascending order by default.
          To sort results in descending order, use the `desc` keyword.

          Example: `sum(age) desc, name asc`
        explode: false
        in: query
        name: order_by
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Number of items to return.

          To use in conjonction with offset to implement pagination.

          Limit maximum value is 100. To retrive more data use export entry points.
          The default value is 10.
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: -1
          type: integer
      - description: |
          Index of the first item to return (starting at 0).

          To use in conjonction with limit to implement pagination.
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: |
          An array of full text search.

          A full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.
        explode: true
        in: query
        name: search
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).

          Facets can be configured in the back-office or with this parameter.

          Read [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.
        explode: true
        in: query
        name: facet
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will only include the selected facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*

          *refine is not available for monitoring sources*
        explode: true
        in: query
        name: refine
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will exclude the defined facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*

          *exclude is not available for monitoring sources*
        explode: true
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Activate pretty print
        in: query
        name: pretty
        schema:
          default: false
          type: boolean
      - description: Set timezone for datetime fields
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      - description: |
          Explicitely request application metas for each datasets.
        in: query
        name: include_app_metas
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDatasets_200_response'
          description: List of available datasets
      tags:
      - catalog
      - ods
      x-openapi-router-controller: openapi_server.controllers.catalog_controller
  /{source}/datasets/{dataset_id}:
    get:
      description: |
        List of available endpoints for the specified dataset, with metadata and endpoints.

        Will provide links for:
        * the attachments endpoint
        * the files endpoint
        * the records endpoint
        * the catalog endpoint
      operationId: get_dataset
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - description: |
          A select expression can be used to add, remove or change fields to return.
          An expression can be:
            - a wildcard ('*'): return all fields
            - a field name: return only this field
            - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'
            - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.
        in: query
        name: select
        schema:
          type: string
      - description: Activate pretty print
        in: query
        name: pretty
        schema:
          default: false
          type: boolean
      - description: Set timezone for datetime fields
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      - description: |
          Explicitely request application metas for each datasets.
        in: query
        name: include_app_metas
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDatasets_200_response_datasets_inner'
          description: The dataset
      tags:
      - dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.dataset_controller
  /{source}/datasets/{dataset_id}/aggregates:
    get:
      description: |
        **Deprecated, use `/records` instead.**
      operationId: aggregate_records
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - description: |
          A select expression can be used to add, remove or change fields to return.
          An expression can be:
            - a wildcard ('*'): return all fields
            - a field name: return only this field
            - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'
            - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.
        in: query
        name: select
        schema:
          type: string
      - description: |
          An array of filters.

          A filter is a text expression performing a simple full-text search that can also include logical operations
          (NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.

          Read [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.
        explode: true
        in: query
        name: where
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A group by expression defines a grouping function for an aggregation.
          It can be:
           - a field name: group result by each value of this field
           - a range function: group result by range
           - a date function: group result by date
          It is possible to specify a custom name with the 'as name' notation. For instance: group_by='city_field as city'.
        in: query
        name: group_by
        schema:
          type: string
      - description: |
          A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).

          Sorts results according to the specified fields' values in ascending order by default.
          To sort results in descending order, use the `desc` keyword.

          Example: `sum(age) desc, name asc`
        explode: false
        in: query
        name: order_by
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Number of items to return.

          To use in conjonction with offset to implement pagination.

          Limit maximum value is 100. To retrive more data use export entry points.
          The default value is 10.
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: -1
          type: integer
      - description: |
          Index of the first item to return (starting at 0).

          To use in conjonction with limit to implement pagination.
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: |
          A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).

          Facets can be configured in the back-office or with this parameter.

          Read [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.
        explode: true
        in: query
        name: facet
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will only include the selected facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*

          *refine is not available for monitoring sources*
        explode: true
        in: query
        name: refine
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will exclude the defined facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*

          *exclude is not available for monitoring sources*
        explode: true
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aggregateDatasets_200_response'
          description: Aggregation result
      tags:
      - dataset
      - aggregations
      - ods
      x-openapi-router-controller: openapi_server.controllers.dataset_controller
  /{source}/datasets/{dataset_id}/attachments:
    get:
      description: |
        Get list of all available attachments
      operationId: get_dataset_attachements
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDatasetAttachements_200_response'
          description: List of all available attachments
      tags:
      - dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.dataset_controller
  /{source}/datasets/{dataset_id}/attachments/{attachment_id}:
    get:
      description: |
        Download attachment
      operationId: download_dataset_attachement
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - in: path
        name: attachment_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The requested attachment
      tags:
      - dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.dataset_controller
  /{source}/datasets/{dataset_id}/exports/csv:
    get:
      description: |
        Export dataset in CSV format
      operationId: export_records_csv
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - description: |
          A select expression can be used to add, remove or change fields to return.
          An expression can be:
            - a wildcard ('*'): return all fields
            - a field name: return only this field
            - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'
            - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.
        in: query
        name: select
        schema:
          type: string
      - description: |
          An array of filters.

          A filter is a text expression performing a simple full-text search that can also include logical operations
          (NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.

          Read [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.
        explode: true
        in: query
        name: where
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          **Deprecated, use `order_by` instead.**

          A list of field names, each possibly prefixed with a minus (-).

          Sorts results according to the specified fields' values. By default, the sort is ascending (from the smallest
          value to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only
          available on numeric fields (int, double, date and datetime) and on text fields which have the sortable
          annotation.
        explode: false
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).

          Sorts results according to the specified fields' values in ascending order by default.
          To sort results in descending order, use the `desc` keyword.

          Example: `sum(age) desc, name asc`
        explode: false
        in: query
        name: order_by
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Number of items to return in export.

          Use -1 (default) to retrieve all records
        in: query
        name: limit
        schema:
          default: -1
          minimum: -1
          type: integer
      - description: |
          Index of the first item to return (starting at 0).

          To use in conjonction with limit to implement pagination.
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: |
          A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).

          Facets can be configured in the back-office or with this parameter.

          Read [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.
        explode: true
        in: query
        name: facet
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will only include the selected facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*

          *refine is not available for monitoring sources*
        explode: true
        in: query
        name: refine
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will exclude the defined facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*

          *exclude is not available for monitoring sources*
        explode: true
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Set timezone for datetime fields
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      - description: "Provide a different delimiter (default ',')."
        in: query
        name: delimiter
        schema:
          default: ;
          enum:
          - ","
          - ;
          - '|'
          type: string
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: Return a CSV file
      tags:
      - export dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.export_dataset_controller
  /{source}/datasets/{dataset_id}/exports/geojson:
    get:
      description: |
        Export dataset in GEOJSON format
      operationId: export_records_geojson
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - description: |
          A select expression can be used to add, remove or change fields to return.
          An expression can be:
            - a wildcard ('*'): return all fields
            - a field name: return only this field
            - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'
            - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.
        in: query
        name: select
        schema:
          type: string
      - description: |
          An array of filters.

          A filter is a text expression performing a simple full-text search that can also include logical operations
          (NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.

          Read [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.
        explode: true
        in: query
        name: where
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          **Deprecated, use `order_by` instead.**

          A list of field names, each possibly prefixed with a minus (-).

          Sorts results according to the specified fields' values. By default, the sort is ascending (from the smallest
          value to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only
          available on numeric fields (int, double, date and datetime) and on text fields which have the sortable
          annotation.
        explode: false
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).

          Sorts results according to the specified fields' values in ascending order by default.
          To sort results in descending order, use the `desc` keyword.

          Example: `sum(age) desc, name asc`
        explode: false
        in: query
        name: order_by
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Number of items to return in export.

          Use -1 (default) to retrieve all records
        in: query
        name: limit
        schema:
          default: -1
          minimum: -1
          type: integer
      - description: |
          Index of the first item to return (starting at 0).

          To use in conjonction with limit to implement pagination.
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: |
          An array of full text search.

          A full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.
        explode: true
        in: query
        name: search
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).

          Facets can be configured in the back-office or with this parameter.

          Read [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.
        explode: true
        in: query
        name: facet
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will only include the selected facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*

          *refine is not available for monitoring sources*
        explode: true
        in: query
        name: refine
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will exclude the defined facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*

          *exclude is not available for monitoring sources*
        explode: true
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Set timezone for datetime fields
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      - description: Activate pretty print
        in: query
        name: pretty
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: Return a GEOJSON file
      tags:
      - export dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.export_dataset_controller
  /{source}/datasets/{dataset_id}/exports/ical:
    get:
      description: |
        Export dataset in ICAL format
      operationId: export_records_ical
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - description: |
          A select expression can be used to add, remove or change fields to return.
          An expression can be:
            - a wildcard ('*'): return all fields
            - a field name: return only this field
            - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'
            - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.
        in: query
        name: select
        schema:
          type: string
      - description: |
          An array of filters.

          A filter is a text expression performing a simple full-text search that can also include logical operations
          (NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.

          Read [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.
        explode: true
        in: query
        name: where
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          **Deprecated, use `order_by` instead.**

          A list of field names, each possibly prefixed with a minus (-).

          Sorts results according to the specified fields' values. By default, the sort is ascending (from the smallest
          value to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only
          available on numeric fields (int, double, date and datetime) and on text fields which have the sortable
          annotation.
        explode: false
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).

          Sorts results according to the specified fields' values in ascending order by default.
          To sort results in descending order, use the `desc` keyword.

          Example: `sum(age) desc, name asc`
        explode: false
        in: query
        name: order_by
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Number of items to return in export.

          Use -1 (default) to retrieve all records
        in: query
        name: limit
        schema:
          default: -1
          minimum: -1
          type: integer
      - description: |
          Index of the first item to return (starting at 0).

          To use in conjonction with limit to implement pagination.
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: |
          An array of full text search.

          A full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.
        explode: true
        in: query
        name: search
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).

          Facets can be configured in the back-office or with this parameter.

          Read [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.
        explode: true
        in: query
        name: facet
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will only include the selected facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*

          *refine is not available for monitoring sources*
        explode: true
        in: query
        name: refine
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will exclude the defined facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*

          *exclude is not available for monitoring sources*
        explode: true
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Set timezone for datetime fields
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: Return an ICAL file
      tags:
      - export dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.export_dataset_controller
  /{source}/datasets/{dataset_id}/exports/json:
    get:
      description: |
        Export dataset in JSON format
      operationId: export_records_json
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - description: |
          A select expression can be used to add, remove or change fields to return.
          An expression can be:
            - a wildcard ('*'): return all fields
            - a field name: return only this field
            - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'
            - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.
        in: query
        name: select
        schema:
          type: string
      - description: |
          An array of filters.

          A filter is a text expression performing a simple full-text search that can also include logical operations
          (NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.

          Read [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.
        explode: true
        in: query
        name: where
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          **Deprecated, use `order_by` instead.**

          A list of field names, each possibly prefixed with a minus (-).

          Sorts results according to the specified fields' values. By default, the sort is ascending (from the smallest
          value to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only
          available on numeric fields (int, double, date and datetime) and on text fields which have the sortable
          annotation.
        explode: false
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).

          Sorts results according to the specified fields' values in ascending order by default.
          To sort results in descending order, use the `desc` keyword.

          Example: `sum(age) desc, name asc`
        explode: false
        in: query
        name: order_by
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Number of items to return in export.

          Use -1 (default) to retrieve all records
        in: query
        name: limit
        schema:
          default: -1
          minimum: -1
          type: integer
      - description: |
          Index of the first item to return (starting at 0).

          To use in conjonction with limit to implement pagination.
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: |
          An array of full text search.

          A full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.
        explode: true
        in: query
        name: search
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).

          Facets can be configured in the back-office or with this parameter.

          Read [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.
        explode: true
        in: query
        name: facet
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will only include the selected facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*

          *refine is not available for monitoring sources*
        explode: true
        in: query
        name: refine
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will exclude the defined facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*

          *exclude is not available for monitoring sources*
        explode: true
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Activate pretty print
        in: query
        name: pretty
        schema:
          default: false
          type: boolean
      - description: Set timezone for datetime fields
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: Return a JSON file
      tags:
      - export dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.export_dataset_controller
  /{source}/datasets/{dataset_id}/exports/ov2:
    get:
      description: |
        Export dataset in OV2 format
      operationId: export_records_ov2
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - description: |
          A select expression can be used to add, remove or change fields to return.
          An expression can be:
            - a wildcard ('*'): return all fields
            - a field name: return only this field
            - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'
            - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.
        in: query
        name: select
        schema:
          type: string
      - description: |
          An array of filters.

          A filter is a text expression performing a simple full-text search that can also include logical operations
          (NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.

          Read [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.
        explode: true
        in: query
        name: where
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          **Deprecated, use `order_by` instead.**

          A list of field names, each possibly prefixed with a minus (-).

          Sorts results according to the specified fields' values. By default, the sort is ascending (from the smallest
          value to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only
          available on numeric fields (int, double, date and datetime) and on text fields which have the sortable
          annotation.
        explode: false
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).

          Sorts results according to the specified fields' values in ascending order by default.
          To sort results in descending order, use the `desc` keyword.

          Example: `sum(age) desc, name asc`
        explode: false
        in: query
        name: order_by
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Number of items to return in export.

          Use -1 (default) to retrieve all records
        in: query
        name: limit
        schema:
          default: -1
          minimum: -1
          type: integer
      - description: |
          Index of the first item to return (starting at 0).

          To use in conjonction with limit to implement pagination.
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: |
          An array of full text search.

          A full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.
        explode: true
        in: query
        name: search
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).

          Facets can be configured in the back-office or with this parameter.

          Read [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.
        explode: true
        in: query
        name: facet
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will only include the selected facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*

          *refine is not available for monitoring sources*
        explode: true
        in: query
        name: refine
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will exclude the defined facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*

          *exclude is not available for monitoring sources*
        explode: true
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Set timezone for datetime fields
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
          description: Return an ov2 file
      tags:
      - export dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.export_dataset_controller
  /{source}/datasets/{dataset_id}/exports/shp:
    get:
      description: |
        Export dataset in Esri shapefile (shp) format
      operationId: export_records_shp
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - description: |
          A select expression can be used to add, remove or change fields to return.
          An expression can be:
            - a wildcard ('*'): return all fields
            - a field name: return only this field
            - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'
            - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.
        in: query
        name: select
        schema:
          type: string
      - description: |
          An array of filters.

          A filter is a text expression performing a simple full-text search that can also include logical operations
          (NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.

          Read [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.
        explode: true
        in: query
        name: where
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          **Deprecated, use `order_by` instead.**

          A list of field names, each possibly prefixed with a minus (-).

          Sorts results according to the specified fields' values. By default, the sort is ascending (from the smallest
          value to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only
          available on numeric fields (int, double, date and datetime) and on text fields which have the sortable
          annotation.
        explode: false
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).

          Sorts results according to the specified fields' values in ascending order by default.
          To sort results in descending order, use the `desc` keyword.

          Example: `sum(age) desc, name asc`
        explode: false
        in: query
        name: order_by
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Number of items to return in export.

          Use -1 (default) to retrieve all records
        in: query
        name: limit
        schema:
          default: -1
          minimum: -1
          type: integer
      - description: |
          Index of the first item to return (starting at 0).

          To use in conjonction with limit to implement pagination.
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: |
          An array of full text search.

          A full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.
        explode: true
        in: query
        name: search
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).

          Facets can be configured in the back-office or with this parameter.

          Read [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.
        explode: true
        in: query
        name: facet
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will only include the selected facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*

          *refine is not available for monitoring sources*
        explode: true
        in: query
        name: refine
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will exclude the defined facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*

          *exclude is not available for monitoring sources*
        explode: true
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Set timezone for datetime fields
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            application/zip:
              schema:
                format: binary
                type: string
          description: Return a Shapefile zip
      tags:
      - export dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.export_dataset_controller
  /{source}/datasets/{dataset_id}/exports/xls:
    get:
      description: |
        Export dataset in XLS (Excel) format
      operationId: export_records_xls
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - description: |
          A select expression can be used to add, remove or change fields to return.
          An expression can be:
            - a wildcard ('*'): return all fields
            - a field name: return only this field
            - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'
            - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.
        in: query
        name: select
        schema:
          type: string
      - description: |
          An array of filters.

          A filter is a text expression performing a simple full-text search that can also include logical operations
          (NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.

          Read [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.
        explode: true
        in: query
        name: where
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          **Deprecated, use `order_by` instead.**

          A list of field names, each possibly prefixed with a minus (-).

          Sorts results according to the specified fields' values. By default, the sort is ascending (from the smallest
          value to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only
          available on numeric fields (int, double, date and datetime) and on text fields which have the sortable
          annotation.
        explode: false
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).

          Sorts results according to the specified fields' values in ascending order by default.
          To sort results in descending order, use the `desc` keyword.

          Example: `sum(age) desc, name asc`
        explode: false
        in: query
        name: order_by
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Number of items to return in export.

          Use -1 (default) to retrieve all records
        in: query
        name: limit
        schema:
          default: -1
          minimum: -1
          type: integer
      - description: |
          Index of the first item to return (starting at 0).

          To use in conjonction with limit to implement pagination.
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: |
          An array of full text search.

          A full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.
        explode: true
        in: query
        name: search
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).

          Facets can be configured in the back-office or with this parameter.

          Read [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.
        explode: true
        in: query
        name: facet
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will only include the selected facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*

          *refine is not available for monitoring sources*
        explode: true
        in: query
        name: refine
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will exclude the defined facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*

          *exclude is not available for monitoring sources*
        explode: true
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Set timezone for datetime fields
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            xls:
              schema:
                format: binary
                type: string
          description: Return an XLS file
      tags:
      - export dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.export_dataset_controller
  /{source}/datasets/{dataset_id}/facets:
    get:
      description: |
        Enumerate facets values for records and return a list of values for each facet.
        Can be used to implement guided navigation in large result sets.

        Read [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#enumerating-facets-values) for more details.
      operationId: get_records_facets
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - description: |
          An array of filters.

          A filter is a text expression performing a simple full-text search that can also include logical operations
          (NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.

          Read [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.
        explode: true
        in: query
        name: where
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).

          Facets can be configured in the back-office or with this parameter.

          Read [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.
        explode: true
        in: query
        name: facet
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will only include the selected facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*

          *refine is not available for monitoring sources*
        explode: true
        in: query
        name: refine
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will exclude the defined facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*

          *exclude is not available for monitoring sources*
        explode: true
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of full text search.

          A full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.
        explode: true
        in: query
        name: search
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Set timezone for datetime fields
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRecordsFacets_200_response'
          description: Facets enumeration
      tags:
      - dataset
      - facet
      - ods
      x-openapi-router-controller: openapi_server.controllers.dataset_controller
  /{source}/datasets/{dataset_id}/feedback:
    put:
      description: |
        Create new feedback entry.
      operationId: send_dataset_feedback
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/sendDatasetFeedback_request'
        description: Feedback entry
        required: true
        x-body-name: feedback
      responses:
        "201":
          content: {}
          description: |
            Success message: {status: 'ok'}
      tags:
      - dataset
      - ods
      x-codegen-request-body-name: feedback
      x-openapi-router-controller: openapi_server.controllers.dataset_controller
  /{source}/datasets/{dataset_id}/files/{file_id}:
    get:
      description: |
        Download file
      operationId: get_dataset_file
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - in: path
        name: file_id
        required: true
        schema:
          type: string
      - description: "Set the size of the thumbnail representing the resource (attachment,\
          \ image or file)"
        in: query
        name: thumbnail_size
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: "The requested file, or its thumbnail (if thumbnail_size is\
            \ specified)"
      tags:
      - dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.dataset_controller
  /{source}/datasets/{dataset_id}/records:
    get:
      description: |
        Search dataset's records.
      operationId: get_records
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - description: |
          A select expression can be used to add, remove or change fields to return.
          An expression can be:
            - a wildcard ('*'): return all fields
            - a field name: return only this field
            - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'
            - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.
        in: query
        name: select
        schema:
          type: string
      - description: |
          An array of filters.

          A filter is a text expression performing a simple full-text search that can also include logical operations
          (NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.

          Read [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.
        explode: true
        in: query
        name: where
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A group by expression defines a grouping function for an aggregation.
          It can be:
           - a field name: group result by each value of this field
           - a range function: group result by range
           - a date function: group result by date
          It is possible to specify a custom name with the 'as name' notation. For instance: group_by='city_field as city'.
        in: query
        name: group_by
        schema:
          type: string
      - description: |
          **Deprecated, use `order_by` instead.**

          A list of field names, each possibly prefixed with a minus (-).

          Sorts results according to the specified fields' values. By default, the sort is ascending (from the smallest
          value to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only
          available on numeric fields (int, double, date and datetime) and on text fields which have the sortable
          annotation.
        explode: false
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).

          Sorts results according to the specified fields' values in ascending order by default.
          To sort results in descending order, use the `desc` keyword.

          Example: `sum(age) desc, name asc`
        explode: false
        in: query
        name: order_by
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Number of items to return.

          To use in conjonction with offset to implement pagination.

          Limit maximum value is 100. To retrive more data use export entry points.
          The default value is 10.
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: -1
          type: integer
      - description: |
          Index of the first item to return (starting at 0).

          To use in conjonction with limit to implement pagination.
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: |
          An array of full text search.

          A full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.
        explode: true
        in: query
        name: search
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).

          Facets can be configured in the back-office or with this parameter.

          Read [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.
        explode: true
        in: query
        name: facet
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will only include the selected facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*

          *refine is not available for monitoring sources*
        explode: true
        in: query
        name: refine
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          An array of facet filters. For example **city:Paris** or **modified:2019/12**.
          The request will exclude the defined facet value.

          Read [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.

          *Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*

          *exclude is not available for monitoring sources*
        explode: true
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Activate pretty print
        in: query
        name: pretty
        schema:
          default: false
          type: boolean
      - description: Set timezone for datetime fields
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRecords_200_response'
          description: Records
      tags:
      - dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.dataset_controller
  /{source}/datasets/{dataset_id}/records/{record_id}:
    get:
      description: |
        Retrieve a single record based on its ID.
      operationId: get_record
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - in: path
        name: record_id
        required: true
        schema:
          type: string
      - description: |
          A select expression can be used to add, remove or change fields to return.
          An expression can be:
            - a wildcard ('*'): return all fields
            - a field name: return only this field
            - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'
            - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.
        in: query
        name: select
        schema:
          type: string
      - description: Activate pretty print
        in: query
        name: pretty
        schema:
          default: false
          type: boolean
      - description: Set timezone for datetime fields
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRecords_200_response_records_inner'
          description: A single record
      tags:
      - dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.dataset_controller
  /{source}/datasets/{dataset_id}/reuses:
    get:
      description: |
        Get list of reuses
      operationId: get_dataset_reuses
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - description: |
          Number of items to return.

          To use in conjonction with offset to implement pagination.

          Limit maximum value is 100. To retrive more data use export entry points.
          The default value is 10.
        in: query
        name: limit
        schema:
          default: 10
          maximum: 100
          minimum: -1
          type: integer
      - description: |
          Index of the first item to return (starting at 0).

          To use in conjonction with limit to implement pagination.
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: Set timezone for datetime fields
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDatasetReuses_200_response'
          description: |
            A paginated list of reuses
      tags:
      - dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.dataset_controller
  /{source}/datasets/{dataset_id}/reuses/{reuse_id}:
    get:
      description: |
        Retrieve a single reuse based on its ID.
      operationId: get_dataset_reuse
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
          enum:
          - catalog
          - opendatasoft
          - monitoring
          type: string
      - description: |
          Dataset identifier.

          Can be found in the "information" tab of the dataset page.
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
      - in: path
        name: reuse_id
        required: true
        schema:
          type: string
      - description: Set timezone for datetime fields
        in: query
        name: timezone
        schema:
          default: UTC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDatasetReuse_200_response'
          description: |
            A paginated list of reuses
      tags:
      - dataset
      - ods
      x-openapi-router-controller: openapi_server.controllers.dataset_controller
  /{source}/datasets/{dataset_id}/snapshots:
    get:
      description: |
        List of all snapshots for this dataset.
      operationId: get_dataset_snapshots
      parameters:
      - description: |
          Each source represents a different catalog of datasets you'll be able to query.

          There are 2 sources available:

          * catalog: the catalog of datasets on your portal
          * opendatasoft: Opendatasoft's repository of public datasets, also available at
            [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)
        in: path
        name: source
        required: true
        schema:
          default: catalog
[...]
