openapi: 3.0.1
info:
  description: "Provides a way for apps to subscribe to certain change events in HubSpot.\
    \ Once configured, apps will receive event payloads containing details about the\
    \ changes at a specified target URL. There can only be one target URL for receiving\
    \ event notifications per app."
  title: Webhooks Webhooks
  version: v3
  x-apisguru-categories:
  - customer_relation
  x-hubspot-api-use-case: You're building a custom integration that syncs contact
    data with HubSpot and you need to programmatically determine when certain fields
    are updated in your HubSpot account.
  x-hubspot-documentation-banner: NONE
  x-hubspot-introduction: "The Webhooks API allows you to subscribe to events happening\
    \ in a HubSpot account with your integration installed. Rather than making an\
    \ API call when an event happens in a connected account, HubSpot can send an HTTP\
    \ request to an endpoint you configure."
  x-hubspot-product-tier-requirements:
    cms: STARTER
    marketing: PROFESSIONAL
    sales: PROFESSIONAL
    service: PROFESSIONAL
  x-hubspot-related-documentation:
  - name: Webhooks Guide
    url: https://hubspot.dev/guides/api/webhooks
  x-logo:
    url: https://developers.hubspot.com/hubfs/assets/hubspot.com/buzz/HubSpotOpenGraph.png
  x-origin:
  - format: openapi
    url: https://api.hubspot.com/api-catalog-public/v1/apis/webhooks/v3
    version: "3.0"
  x-providerName: hubapi.com
  x-serviceName: webhooks
servers:
- url: https://api.hubapi.com
tags:
- name: Settings
- name: Subscriptions
paths:
  /webhooks/v3/{appId}/settings:
    delete:
      operationId: delete_webhooks_v3_app_id_settings_clear
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Settings
      x-openapi-router-controller: openapi_server.controllers.settings_controller
    get:
      operationId: get_webhooks_v3_app_id_settings_get_all
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Settings
      x-openapi-router-controller: openapi_server.controllers.settings_controller
    put:
      operationId: put_webhooks_v3_app_id_settings_configure
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsChangeRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Settings
      x-openapi-router-controller: openapi_server.controllers.settings_controller
      x-codegen-request-body-name: body
  /webhooks/v3/{appId}/subscriptions:
    get:
      operationId: get_webhooks_v3_app_id_subscriptions_get_all
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Subscriptions
      x-openapi-router-controller: openapi_server.controllers.subscriptions_controller
    post:
      operationId: post_webhooks_v3_app_id_subscriptions_create
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreateRequest'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Subscriptions
      x-openapi-router-controller: openapi_server.controllers.subscriptions_controller
      x-codegen-request-body-name: body
  /webhooks/v3/{appId}/subscriptions/batch/update:
    post:
      operationId: post_webhooks_v3_app_id_subscriptions_batch_update_update_batch
      parameters:
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInputSubscriptionBatchUpdateRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSubscriptionResponse'
          description: successful operation
        "207":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResponseSubscriptionResponseWithErrors'
          description: multiple statuses
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Subscriptions
      x-openapi-router-controller: openapi_server.controllers.subscriptions_controller
      x-codegen-request-body-name: body
  /webhooks/v3/{appId}/subscriptions/{subscriptionId}:
    delete:
      operationId: delete_webhooks_v3_app_id_subscriptions_subscription_id_archive
      parameters:
      - explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Subscriptions
      x-openapi-router-controller: openapi_server.controllers.subscriptions_controller
    get:
      operationId: get_webhooks_v3_app_id_subscriptions_subscription_id_get_by_id
      parameters:
      - explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Subscriptions
      x-openapi-router-controller: openapi_server.controllers.subscriptions_controller
    patch:
      operationId: patch_webhooks_v3_app_id_subscriptions_subscription_id_update
      parameters:
      - explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: appId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionPatchRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
          description: successful operation
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      security:
      - developer_hapikey: []
      tags:
      - Subscriptions
      x-openapi-router-controller: openapi_server.controllers.subscriptions_controller
      x-codegen-request-body-name: body
components:
  responses:
    Error:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
      description: An error occurred.
  schemas:
    BatchInputSubscriptionBatchUpdateRequest:
      example:
        inputs:
        - active: true
          id: 0
        - active: true
          id: 0
      properties:
        inputs:
          items:
            $ref: '#/components/schemas/SubscriptionBatchUpdateRequest'
          title: inputs
          type: array
      required:
      - inputs
      title: BatchInputSubscriptionBatchUpdateRequest
      type: object
    BatchResponseSubscriptionResponse:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        links:
          key: links
        results:
        - createdAt: 2000-01-23T04:56:07.000+00:00
          propertyName: propertyName
          active: true
          eventType: contact.propertyChange
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - createdAt: 2000-01-23T04:56:07.000+00:00
          propertyName: propertyName
          active: true
          eventType: contact.propertyChange
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
        status: PENDING
      properties:
        completedAt:
          format: date-time
          title: completedAt
          type: string
        links:
          additionalProperties:
            type: string
          title: links
          type: object
        requestedAt:
          format: date-time
          title: requestedAt
          type: string
        results:
          items:
            $ref: '#/components/schemas/SubscriptionResponse'
          title: results
          type: array
        startedAt:
          format: date-time
          title: startedAt
          type: string
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          title: status
          type: string
      required:
      - completedAt
      - results
      - startedAt
      - status
      title: BatchResponseSubscriptionResponse
      type: object
    BatchResponseSubscriptionResponseWithErrors:
      example:
        completedAt: 2000-01-23T04:56:07.000+00:00
        numErrors: 0
        requestedAt: 2000-01-23T04:56:07.000+00:00
        startedAt: 2000-01-23T04:56:07.000+00:00
        links:
          key: links
        results:
        - createdAt: 2000-01-23T04:56:07.000+00:00
          propertyName: propertyName
          active: true
          eventType: contact.propertyChange
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - createdAt: 2000-01-23T04:56:07.000+00:00
          propertyName: propertyName
          active: true
          eventType: contact.propertyChange
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
        errors:
        - subCategory: "{}"
          context:
            key:
            - context
            - context
          links:
            key: links
          id: id
          category: category
          message: message
          errors:
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          status: status
        - subCategory: "{}"
          context:
            key:
            - context
            - context
          links:
            key: links
          id: id
          category: category
          message: message
          errors:
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          - subCategory: subCategory
            code: code
            in: in
            context:
              missingScopes:
              - scope1
              - scope2
            message: message
          status: status
        status: PENDING
      properties:
        completedAt:
          format: date-time
          title: completedAt
          type: string
        errors:
          items:
            $ref: '#/components/schemas/StandardError'
          title: errors
          type: array
        links:
          additionalProperties:
            type: string
          title: links
          type: object
        numErrors:
          format: int32
          title: numErrors
          type: integer
        requestedAt:
          format: date-time
          title: requestedAt
          type: string
        results:
          items:
            $ref: '#/components/schemas/SubscriptionResponse'
          title: results
          type: array
        startedAt:
          format: date-time
          title: startedAt
          type: string
        status:
          enum:
          - PENDING
          - PROCESSING
          - CANCELED
          - COMPLETE
          title: status
          type: string
      required:
      - completedAt
      - results
      - startedAt
      - status
      title: BatchResponseSubscriptionResponseWithErrors
      type: object
    Error:
      example:
        category: VALIDATION_ERROR
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
        message: Invalid input (details will vary based on the error)
      properties:
        category:
          description: The error category
          example: VALIDATION_ERROR
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            invalidPropertyName:
            - propertyValue
            missingScopes:
            - scope1
            - scope2
          type: object
        correlationId:
          description: A unique identifier for the request. Include this value with
            any error reports or support tickets
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
          format: uuid
          type: string
        errors:
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        links:
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation
            about the error or recommended remediation steps
          example:
            knowledge-base: https://www.hubspot.com/products/service/knowledge-base
          type: object
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          example: Invalid input (details will vary based on the error)
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          type: string
      required:
      - category
      - correlationId
      - message
      title: Error
      type: object
    ErrorDetail:
      example:
        subCategory: subCategory
        code: code
        in: in
        context:
          missingScopes:
          - scope1
          - scope2
        message: message
      properties:
        code:
          description: The status code associated with the error detail
          title: code
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          description: Context about the error condition
          example:
            missingScopes:
            - scope1
            - scope2
          title: context
          type: object
        in:
          description: The name of the field or parameter in which the error was found.
          title: in
          type: string
        message:
          description: A human readable message describing the error along with remediation
            steps where appropriate
          title: message
          type: string
        subCategory:
          description: A specific category that contains more specific detail about
            the error
          title: subCategory
          type: string
      required:
      - message
      title: ErrorDetail
      type: object
    SettingsChangeRequest:
      description: New or updated webhook settings for an app.
      example:
        targetUrl: https://www.example.com/hubspot/target
        throttling:
          maxConcurrentRequests: 10
          period: SECONDLY
      properties:
        targetUrl:
          description: A publicly available URL for HubSpot to call where event payloads
            will be delivered.
          example: https://www.example.com/hubspot/target
          type: string
        throttling:
          $ref: '#/components/schemas/ThrottlingSettings'
      required:
      - targetUrl
      - throttling
      title: SettingsChangeRequest
      type: object
    SettingsResponse:
      description: Webhook settings for an app.
      example:
        createdAt: 2020-01-24T16:27:59Z
        targetUrl: https://www.example.com/hubspot/target
        throttling:
          maxConcurrentRequests: 10
          period: SECONDLY
        updatedAt: 2020-01-24T16:32:43Z
      properties:
        createdAt:
          description: "When this subscription was created. Formatted as milliseconds\
            \ from the [Unix epoch](#)."
          format: date-time
          type: string
        targetUrl:
          description: "A publicly available URL for HubSpot to call where event payloads\
            \ will be delivered. See [link-so-some-doc](#) for details about the format\
            \ of these event payloads."
          example: https://www.example.com/hubspot/target
          type: string
        throttling:
          $ref: '#/components/schemas/ThrottlingSettings'
        updatedAt:
          description: "When this subscription was last updated. Formatted as milliseconds\
            \ from the [Unix epoch](#)."
          format: date-time
          type: string
      required:
      - createdAt
      - targetUrl
      - throttling
      title: SettingsResponse
      type: object
    StandardError:
      example:
        subCategory: "{}"
        context:
          key:
          - context
          - context
        links:
          key: links
        id: id
        category: category
        message: message
        errors:
        - subCategory: subCategory
          code: code
          in: in
          context:
            missingScopes:
            - scope1
            - scope2
          message: message
        - subCategory: subCategory
          code: code
          in: in
          context:
            missingScopes:
            - scope1
            - scope2
          message: message
        status: status
      properties:
        category:
          title: category
          type: string
        context:
          additionalProperties:
            items:
              type: string
            type: array
          title: context
          type: object
        errors:
          items:
            $ref: '#/components/schemas/ErrorDetail'
          title: errors
          type: array
        id:
          title: id
          type: string
        links:
          additionalProperties:
            type: string
          title: links
          type: object
        message:
          title: message
          type: string
        status:
          title: status
          type: string
        subCategory:
          properties: {}
          title: subCategory
          type: object
      required:
      - category
      - context
      - errors
      - links
      - message
      - status
      title: StandardError
      type: object
    SubscriptionBatchUpdateRequest:
      example:
        active: true
        id: 0
      properties:
        active:
          title: active
          type: boolean
        id:
          format: int32
          title: id
          type: integer
      required:
      - active
      - id
      title: SubscriptionBatchUpdateRequest
      type: object
    SubscriptionCreateRequest:
      description: New webhook settings for an app.
      example:
        active: true
        eventType: contact.propertyChange
        propertyName: email
      properties:
        active:
          description: Determines if the subscription is active or paused. Defaults
            to false.
          example: true
          type: boolean
        eventType:
          description: "Type of event to listen for. Can be one of `create`, `delete`,\
            \ `deletedForPrivacy`, or `propertyChange`."
          enum:
          - contact.propertyChange
          - company.propertyChange
          - deal.propertyChange
          - ticket.propertyChange
          - product.propertyChange
          - line_item.propertyChange
          - contact.creation
          - contact.deletion
          - contact.privacyDeletion
          - company.creation
          - company.deletion
          - deal.creation
          - deal.deletion
          - ticket.creation
          - ticket.deletion
          - product.creation
          - product.deletion
          - line_item.creation
          - line_item.deletion
          - conversation.creation
          - conversation.deletion
          - conversation.newMessage
          - conversation.privacyDeletion
          - conversation.propertyChange
          - contact.merge
          - company.merge
          - deal.merge
          - ticket.merge
          - product.merge
          - line_item.merge
          - contact.restore
          - company.restore
          - deal.restore
          - ticket.restore
          - product.restore
          - line_item.restore
          - contact.associationChange
          - company.associationChange
          - deal.associationChange
          - ticket.associationChange
          - line_item.associationChange
          example: contact.propertyChange
          type: string
        propertyName:
          description: The internal name of the property to monitor for changes. Only
            applies when `eventType` is `propertyChange`.
          example: email
          type: string
      required:
      - eventType
      title: SubscriptionCreateRequest
      type: object
    SubscriptionListResponse:
      description: List of event subscriptions for your app
      example:
        results:
        - createdAt: 2000-01-23T04:56:07.000+00:00
          propertyName: propertyName
          active: true
          eventType: contact.propertyChange
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - createdAt: 2000-01-23T04:56:07.000+00:00
          propertyName: propertyName
          active: true
          eventType: contact.propertyChange
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        results:
          description: List of event subscriptions for your app
          items:
            $ref: '#/components/schemas/SubscriptionResponse'
          title: results
          type: array
      required:
      - results
      title: SubscriptionListResponse
      type: object
    SubscriptionPatchRequest:
      description: Updated details for the subscription.
      example:
        active: true
      properties:
        active:
          description: Determines if the subscription is active or paused.
          example: true
          type: boolean
      title: SubscriptionPatchRequest
      type: object
    SubscriptionResponse:
      description: Complete details for an event subscription.
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        propertyName: propertyName
        active: true
        eventType: contact.propertyChange
        id: id
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        active:
          description: Determines if the subscription is active or paused.
          title: active
          type: boolean
        createdAt:
          description: "When this subscription was created. Formatted as milliseconds\
            \ from the [Unix epoch](#)."
          format: date-time
          title: createdAt
          type: string
        eventType:
          description: "Type of event to listen for. Can be one of `create`, `delete`,\
            \ `deletedForPrivacy`, or `propertyChange`."
          enum:
          - contact.propertyChange
          - company.propertyChange
          - deal.propertyChange
          - ticket.propertyChange
          - product.propertyChange
          - line_item.propertyChange
          - contact.creation
          - contact.deletion
          - contact.privacyDeletion
          - company.creation
          - company.deletion
          - deal.creation
          - deal.deletion
          - ticket.creation
          - ticket.deletion
          - product.creation
          - product.deletion
          - line_item.creation
          - line_item.deletion
          - conversation.creation
          - conversation.deletion
          - conversation.newMessage
          - conversation.privacyDeletion
          - conversation.propertyChange
          - contact.merge
          - company.merge
          - deal.merge
          - ticket.merge
          - product.merge
          - line_item.merge
          - contact.restore
          - company.restore
          - deal.restore
          - ticket.restore
          - product.restore
          - line_item.restore
          - contact.associationChange
          - company.associationChange
          - deal.associationChange
          - ticket.associationChange
          - line_item.associationChange
          title: eventType
          type: string
        id:
          description: The unique ID of the subscription.
          title: id
          type: string
        propertyName:
          description: The internal name of the property being monitored for changes.
            Only applies when `eventType` is `propertyChange`.
          title: propertyName
          type: string
        updatedAt:
          description: "When this subscription was last updated. Formatted as milliseconds\
            \ from the [Unix epoch](#)."
          format: date-time
          title: updatedAt
          type: string
      required:
      - active
      - createdAt
      - eventType
      - id
      title: SubscriptionResponse
      type: object
    ThrottlingSettings:
      description: Configuration details for webhook throttling.
      properties:
        maxConcurrentRequests:
          description: The maximum number of concurrent HTTP requests HubSpot will
            attempt to make to your app.
          format: int32
          title: maxConcurrentRequests
          type: integer
        period:
          description: Time scale for this setting. Can be either `SECONDLY` (per
            second) or `ROLLING_MINUTE` (per minute).
          enum:
          - SECONDLY
          - ROLLING_MINUTE
          title: period
          type: string
      required:
      - maxConcurrentRequests
      - period
      title: ThrottlingSettings
      type: object
  securitySchemes:
    developer_hapikey:
      in: query
      name: hapikey
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_developer_hapikey
x-hubspot-available-client-libraries:
- PHP
- Node
- Ruby
- Python
x-hubspot-documentation-banner: NONE
x-hubspot-product-tier-requirements:
  cms: STARTER
  marketing: PROFESSIONAL
  sales: PROFESSIONAL
  service: PROFESSIONAL
