openapi: 3.0.1
info:
  description: Please see usage policies on tokenjay.app
  termsOfService: https://tokenjay.app/apidoc.html
  title: TokenJay API services
  version: 1.0.0
  x-apisguru-categories:
  - financial
  x-origin:
  - format: openapi
    url: https://api.tokenjay.app/api-docs
    version: "3.0"
  x-providerName: tokenjay.app
servers:
- url: https://api.tokenjay.app/
tags:
- description: Ergo Platform Genuine Tokens Verification
  externalDocs:
    description: EIP-21
    url: https://github.com/ergoplatform/eips/blob/master/eip-0021.md
  name: tokenVerification
- description: Detecting nodes to use for submitting transactions
  name: peerDetection
- description: ErgoPay payment portal
  name: paymentPortal
paths:
  /ageusd/info:
    get:
      operationId: get_age_usd_info
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AgeUsdInfo'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: Returns state of AgeUSD at this moment
      tags:
      - ageUsd
      x-openapi-router-controller: openapi_server.controllers.age_usd_controller
  /cancelbabel/{boxId}:
    get:
      operationId: ergo_pay_create_babel_box1
      parameters:
      - explode: false
        in: path
        name: boxId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErgoPayResponse'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      tags:
      - babel-fee-controller
      x-openapi-router-controller: openapi_server.controllers.babel_fee_controller_controller
  /createbabel/{address}:
    get:
      operationId: ergo_pay_create_babel_box
      parameters:
      - explode: false
        in: path
        name: address
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: tokenId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: ergAmount
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: tokenAmount
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErgoPayResponse'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      tags:
      - babel-fee-new-offer-controller
      x-openapi-router-controller: openapi_server.controllers.babel_fee_new_offer_controller_controller
  /mosaik/babelfee/:
    get:
      operationId: get_babel_fee_overview
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MosaikApp'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      tags:
      - babel-fee-controller
      x-openapi-router-controller: openapi_server.controllers.babel_fee_controller_controller
  /mosaik/babelfee/newoffer:
    get:
      operationId: get_babel_fee_new_offer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MosaikApp'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      tags:
      - babel-fee-new-offer-controller
      x-openapi-router-controller: openapi_server.controllers.babel_fee_new_offer_controller_controller
  /mosaik/babelfee/newoffer/doit:
    post:
      operationId: do_create_babel_box
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: object
              type: object
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FetchActionResponse'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      tags:
      - babel-fee-new-offer-controller
      x-openapi-router-controller: openapi_server.controllers.babel_fee_new_offer_controller_controller
      x-codegen-request-body-name: body
  /mosaik/babelfee/newoffer/new-input:
    post:
      operationId: replace_token_amount_input_fields
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: object
              type: object
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FetchActionResponse'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      tags:
      - babel-fee-new-offer-controller
      x-openapi-router-controller: openapi_server.controllers.babel_fee_new_offer_controller_controller
      x-codegen-request-body-name: body
  /mosaik/babelfee/notificationcheck:
    get:
      operationId: check_for_notifications
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NotificationCheckResponse'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      tags:
      - babel-fee-controller
      x-openapi-router-controller: openapi_server.controllers.babel_fee_controller_controller
  /mosaik/boxconsolidation/:
    get:
      operationId: main_app1
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MosaikApp'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      tags:
      - box-consolidation-controller
      x-openapi-router-controller: openapi_server.controllers.box_consolidation_controller_controller
  /mosaik/boxconsolidation/consolidate/{p2pkaddress}:
    get:
      operationId: ep_consolidate
      parameters:
      - explode: false
        in: path
        name: p2pkaddress
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErgoPayResponse'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      tags:
      - box-consolidation-controller
      x-openapi-router-controller: openapi_server.controllers.box_consolidation_controller_controller
  /mosaik/tokenburn:
    get:
      operationId: main_app
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MosaikApp'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      tags:
      - token-burn-controller
      x-openapi-router-controller: openapi_server.controllers.token_burn_controller_controller
  /mosaik/tokenburn/get/{uuid}:
    get:
      operationId: get_burning_transaction
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErgoPayResponse'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      tags:
      - token-burn-controller
      x-openapi-router-controller: openapi_server.controllers.token_burn_controller_controller
  /mosaik/tokenburn/prepare:
    post:
      operationId: prepare_transaction
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: object
              type: object
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FetchActionResponse'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      tags:
      - token-burn-controller
      x-openapi-router-controller: openapi_server.controllers.token_burn_controller_controller
      x-codegen-request-body-name: body
  /payment/addrequest:
    post:
      operationId: add_payment_request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AddRequestResponse'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: Creates a new payment request. Will return request id to check for
        transaction state and ergopay url to show the user as QR code
      tags:
      - paymentPortal
      x-openapi-router-controller: openapi_server.controllers.payment_portal_controller
      x-codegen-request-body-name: body
  /payment/state/{requestId}:
    get:
      operationId: get_payment_state
      parameters:
      - explode: false
        in: path
        name: requestId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaymentRequestStateResponse'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: "Returns the state of a payment request. Please note that payment requests\
        \ are purged after some time, so persist the state at your side when needed"
      tags:
      - paymentPortal
      x-openapi-router-controller: openapi_server.controllers.payment_portal_controller
  /peers/list:
    get:
      operationId: get_peers_list
      parameters:
      - description: Set to true to show unreachable peers in the list
        explode: true
        in: query
        name: unreachable
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Set to true to show peers not open to be connected
        explode: true
        in: query
        name: closedApi
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/NodePeer'
                type: array
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: Lists known peers sorted by block height
      tags:
      - peerDetection
      x-openapi-router-controller: openapi_server.controllers.peer_detection_controller
  /sigrsv/exchange/:
    get:
      operationId: do_sigma_rsv_exchange
      parameters:
      - explode: true
        in: query
        name: amount
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: address
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: checkRate
        required: false
        schema:
          default: 0
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: executionFee
        required: false
        schema:
          default: 0
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErgoPayResponse'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: Builds ErgoPayRequest for SigRSV exchange
      tags:
      - ageUsd
      x-openapi-router-controller: openapi_server.controllers.age_usd_controller
  /sigrsv/exchange/{amount}/info:
    get:
      operationId: calc_sigma_rsv_exchange
      parameters:
      - explode: false
        in: path
        name: amount
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AgeUsdExchangeInfo'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: Calculates SigRSV exchange
      tags:
      - ageUsd
      x-openapi-router-controller: openapi_server.controllers.age_usd_controller
  /sigrsv/price:
    get:
      operationId: get_sigma_rsv_price
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TokenPrice'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: Lists price and available volume for SigmaRSV
      tags:
      - ageUsd
      x-openapi-router-controller: openapi_server.controllers.age_usd_controller
  /sigusd/exchange/:
    get:
      operationId: do_sigma_usd_exchange
      parameters:
      - explode: true
        in: query
        name: amount
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: address
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: checkRate
        required: false
        schema:
          default: 0
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: executionFee
        required: false
        schema:
          default: 0
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErgoPayResponse'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: Builds ErgoPayRequest for SigUSD exchange
      tags:
      - ageUsd
      x-openapi-router-controller: openapi_server.controllers.age_usd_controller
  /sigusd/exchange/{amount}/info:
    get:
      operationId: calc_sigma_usd_exchange
      parameters:
      - explode: false
        in: path
        name: amount
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AgeUsdExchangeInfo'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: Calculates SigUSD exchange
      tags:
      - ageUsd
      x-openapi-router-controller: openapi_server.controllers.age_usd_controller
  /sigusd/price:
    get:
      operationId: get_sigma_usd_price
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TokenPrice'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: Lists price and available volume for SigmaUSD
      tags:
      - ageUsd
      x-openapi-router-controller: openapi_server.controllers.age_usd_controller
  /tokens/check/{tokenId}/{tokenName}:
    get:
      operationId: check_token
      parameters:
      - explode: false
        in: path
        name: tokenId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tokenName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CheckResponse'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: Check a token verification
      tags:
      - tokenVerification
      x-openapi-router-controller: openapi_server.controllers.token_verification_controller
  /tokens/listBlocked:
    get:
      operationId: list_blocked
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: Lists all blocked tokens
      tags:
      - tokenVerification
      x-openapi-router-controller: openapi_server.controllers.token_verification_controller
  /tokens/listGenuine:
    get:
      operationId: list_genuine
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/GenuineToken'
                type: array
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: Lists all genuine tokens known
      tags:
      - tokenVerification
      x-openapi-router-controller: openapi_server.controllers.token_verification_controller
  /tokens/prices/all:
    get:
      operationId: get_token_prices
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/TokenPrice'
                type: array
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: Lists all token prices and available volume
      tags:
      - tokenPrices
      x-openapi-router-controller: openapi_server.controllers.token_prices_controller
  /tokens/prices/{tokenId}:
    get:
      operationId: get_token_price
      parameters:
      - explode: false
        in: path
        name: tokenId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TokenPrice'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            '*/*':
              schema:
                type: string
          description: Unauthorized
        "404":
          content:
            '*/*':
              schema:
                type: string
          description: Not Found
        "409":
          content:
            '*/*':
              schema:
                type: string
          description: Conflict
      summary: Lists price and available volume for a certain token
      tags:
      - tokenPrices
      x-openapi-router-controller: openapi_server.controllers.token_prices_controller
components:
  schemas:
    Action:
      example:
        id: id
      properties:
        id:
          title: id
          type: string
      title: Action
      type: object
    AddRequestResponse:
      example:
        requestId: requestId
        ergoPayUrl: ergoPayUrl
      properties:
        ergoPayUrl:
          title: ergoPayUrl
          type: string
        requestId:
          title: requestId
          type: string
      required:
      - ergoPayUrl
      - requestId
      title: AddRequestResponse
      type: object
    AgeUsdExchangeInfo:
      example:
        totalAmount: 5
        bankFeeAmount: 0
        jayFeeAmount: 5
        ergAmount: 6
        jayFeeDescription: jayFeeDescription
        exchangeRate: 1
        bankFeeDescription: bankFeeDescription
        ergAmountDescription: ergAmountDescription
      properties:
        bankFeeAmount:
          format: int64
          title: bankFeeAmount
          type: integer
        bankFeeDescription:
          title: bankFeeDescription
          type: string
        ergAmount:
          format: int64
          title: ergAmount
          type: integer
        ergAmountDescription:
          title: ergAmountDescription
          type: string
        exchangeRate:
          format: int64
          title: exchangeRate
          type: integer
        jayFeeAmount:
          format: int64
          title: jayFeeAmount
          type: integer
        jayFeeDescription:
          title: jayFeeDescription
          type: string
        totalAmount:
          format: int64
          title: totalAmount
          type: integer
      required:
      - bankFeeAmount
      - bankFeeDescription
      - ergAmount
      - ergAmountDescription
      - exchangeRate
      - jayFeeAmount
      - jayFeeDescription
      - totalAmount
      title: AgeUsdExchangeInfo
      type: object
    AgeUsdInfo:
      example:
        sigUsdPrice: 1
        reserveRatio: 0
        sigRsvPrice: 6
      properties:
        reserveRatio:
          format: int64
          title: reserveRatio
          type: integer
        sigRsvPrice:
          format: int64
          title: sigRsvPrice
          type: integer
        sigUsdPrice:
          format: int64
          title: sigUsdPrice
          type: integer
      required:
      - reserveRatio
      - sigRsvPrice
      - sigUsdPrice
      title: AgeUsdInfo
      type: object
    CheckResponse:
      example:
        genuine: 0
        token:
          uniqueName: true
          tokenId: tokenId
          tokenName: tokenName
          issuer: issuer
      properties:
        genuine:
          description: "Flag with 0 unknown, 1 verified, 2 suspicious, 3 blocked (see\
            \ EIP-21)"
          format: int32
          title: genuine
          type: integer
        token:
          $ref: '#/components/schemas/GenuineToken'
      required:
      - genuine
      title: CheckResponse
      type: object
    CreatePaymentRequest:
      example:
        receiverAddress: receiverAddress
        senderAddress: senderAddress
        nanoErg: 0
        tokenId: tokenId
        message: message
        tokenRawAmount: 6
      properties:
        message:
          title: message
          type: string
        nanoErg:
          format: int64
          title: nanoErg
          type: integer
        receiverAddress:
          title: receiverAddress
          type: string
        senderAddress:
          title: senderAddress
          type: string
        tokenId:
          title: tokenId
          type: string
        tokenRawAmount:
          format: int64
          title: tokenRawAmount
          type: integer
      required:
      - nanoErg
      - receiverAddress
      title: CreatePaymentRequest
      type: object
    ErgoPayResponse:
      example:
        addresses:
        - addresses
        - addresses
        address: address
        messageSeverity: NONE
        reducedTxList:
        - reducedTxList
        - reducedTxList
        replyTo: replyTo
        reducedTx: reducedTx
        message: message
      properties:
        address:
          title: address
          type: string
        addresses:
          items:
            type: string
          title: addresses
          type: array
        message:
          title: message
          type: string
        messageSeverity:
          enum:
          - NONE
          - INFORMATION
          - WARNING
          - ERROR
          title: messageSeverity
          type: string
        reducedTx:
          title: reducedTx
          type: string
        reducedTxList:
          items:
            type: string
          title: reducedTxList
          type: array
        replyTo:
          title: replyTo
          type: string
      title: ErgoPayResponse
      type: object
    FetchActionResponse:
      example:
        appVersion: 0
        action:
          id: id
      properties:
        action:
          $ref: '#/components/schemas/Action'
        appVersion:
          format: int32
          title: appVersion
          type: integer
      title: FetchActionResponse
      type: object
    GenuineToken:
      example:
        uniqueName: true
        tokenId: tokenId
        tokenName: tokenName
        issuer: issuer
      properties:
        issuer:
          title: issuer
          type: string
        tokenId:
          title: tokenId
          type: string
        tokenName:
          title: tokenName
          type: string
        uniqueName:
          title: uniqueName
          type: boolean
      required:
      - tokenId
      - tokenName
      - uniqueName
      title: GenuineToken
      type: object
    MosaikApp:
      example:
        view:
          onLongPressAction: onLongPressAction
          visible: true
          id: id
          onClickAction: onClickAction
        manifest:
          appVersion: 0
          targetCanvasDimension: COMPACT_WIDTH
          appName: appName
          cacheLifetime: 6
          errorReportUrl: errorReportUrl
          appDescription: appDescription
          onAppLoadedAction: onAppLoadedAction
          onResizeAction: onResizeAction
          targetMosaikVersion: 1
          iconUrl: iconUrl
          notificationCheckUrl: notificationCheckUrl
        actions:
        - id: id
        - id: id
      properties:
        actions:
          items:
            $ref: '#/components/schemas/Action'
          title: actions
          type: array
        manifest:
          $ref: '#/components/schemas/MosaikManifest'
        view:
          $ref: '#/components/schemas/ViewElement'
      title: MosaikApp
      type: object
    MosaikManifest:
      example:
        appVersion: 0
        targetCanvasDimension: COMPACT_WIDTH
        appName: appName
        cacheLifetime: 6
        errorReportUrl: errorReportUrl
        appDescription: appDescription
        onAppLoadedAction: onAppLoadedAction
        onResizeAction: onResizeAction
        targetMosaikVersion: 1
        iconUrl: iconUrl
        notificationCheckUrl: notificationCheckUrl
      properties:
        appDescription:
          title: appDescription
          type: string
        appName:
          title: appName
          type: string
        appVersion:
          format: int32
          title: appVersion
          type: integer
        cacheLifetime:
          format: int32
          title: cacheLifetime
          type: integer
        errorReportUrl:
          title: errorReportUrl
          type: string
        iconUrl:
          title: iconUrl
          type: string
        notificationCheckUrl:
          title: notificationCheckUrl
          type: string
        onAppLoadedAction:
          title: onAppLoadedAction
          type: string
        onResizeAction:
          title: onResizeAction
          type: string
        targetCanvasDimension:
          enum:
          - COMPACT_WIDTH
          - MEDIUM_WIDTH
          - FULL_WIDTH
          title: targetCanvasDimension
          type: string
        targetMosaikVersion:
          format: int32
          title: targetMosaikVersion
          type: integer
      title: MosaikManifest
      type: object
    NodePeer:
      example:
        openRestApi: true
        lastSeen: 1
        blockHeight: 0
        blockchainApi: true
        responseTime: 5
        name: name
        headerHeight: 6
        url: url
      properties:
        blockHeight:
          format: int64
          title: blockHeight
          type: integer
        blockchainApi:
          title: blockchainApi
          type: boolean
        headerHeight:
          format: int64
          title: headerHeight
          type: integer
        lastSeen:
          format: int64
          title: lastSeen
          type: integer
        name:
          title: name
          type: string
        openRestApi:
          title: openRestApi
          type: boolean
        responseTime:
          format: int64
          title: responseTime
          type: integer
        url:
          title: url
          type: string
      required:
      - blockHeight
      - blockchainApi
      - headerHeight
      - lastSeen
      - name
      - openRestApi
      - responseTime
      - url
      title: NodePeer
      type: object
    NotificationCheckResponse:
      example:
        nextCheck: 6
        message: message
        messageTs: 0
      properties:
        message:
          title: message
          type: string
        messageTs:
          format: int64
          title: messageTs
          type: integer
        nextCheck:
          format: int32
          title: nextCheck
          type: integer
      title: NotificationCheckResponse
      type: object
    PaymentRequestStateResponse:
      example:
        requestId: requestId
        txId: txId
        paymentRequestState: CREATED
      properties:
        paymentRequestState:
          enum:
          - CREATED
          - WAITING
          - EXECUTED
          - INVALID
          title: paymentRequestState
          type: string
        requestId:
          title: requestId
          type: string
        txId:
          title: txId
          type: string
      required:
      - paymentRequestState
      - requestId
      title: PaymentRequestStateResponse
      type: object
    TokenPrice:
      example:
        lastUpdated: 6
        tokenId: tokenId
        displayName: displayName
        price: 1
        volumeLastDay: 5
        available: 0
      properties:
        available:
          format: int64
          title: available
          type: integer
        displayName:
          title: displayName
          type: string
        lastUpdated:
          format: int64
          title: lastUpdated
          type: integer
        price:
          format: int64
          title: price
          type: integer
        tokenId:
          title: tokenId
          type: string
        volumeLastDay:
          format: int64
          title: volumeLastDay
          type: integer
      required:
      - available
      - displayName
      - lastUpdated
      - price
      - tokenId
      - volumeLastDay
      title: TokenPrice
      type: object
    ViewElement:
      example:
        onLongPressAction: onLongPressAction
        visible: true
        id: id
        onClickAction: onClickAction
      properties:
        id:
          title: id
          type: string
        onClickAction:
          title: onClickAction
          type: string
        onLongPressAction:
          title: onLongPressAction
          type: string
        visible:
          title: visible
          type: boolean
      title: ViewElement
      type: object
