openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/virtualRouter.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-virtualRouter
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualRouters:
    get:
      description: Gets all the Virtual Routers in a subscription.
      operationId: virtual_routers_list
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouterListResult'
          description: Success. The operation returns a list of Virtual Router resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - VirtualRouters
      x-ms-examples:
        List all Virtual Routers for a given subscription:
          parameters:
            api-version: 2019-07-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter
                  location: West US
                  name: virtualRouter
                  properties:
                    hostedGateway:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vnetGateway
                    peerings:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                    provisioningState: Succeeded
                    virtualRouterAsn: 10000
                    virtualRouterIps:
                    - 192.168.1.1
                    - 192.168.1.2
                  tags:
                    key1: value1
                  type: Microsoft.Network/virtualRouters
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_routers_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters:
    get:
      description: Lists all Virtual Routers in a resource group.
      operationId: virtual_routers_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouterListResult'
          description: Success. The operation returns a list of Virtual Router resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - VirtualRouters
      x-ms-examples:
        List all Virtual Router for a given resource group:
          parameters:
            api-version: 2019-07-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter
                  location: West US
                  name: virtualRouter
                  properties:
                    hostedGateway:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vnetGateway
                    peerings:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                    provisioningState: Succeeded
                    virtualRouterAsn: 10000
                    virtualRouterIps:
                    - 192.168.1.1
                    - 192.168.1.2
                  tags:
                    key1: value1
                  type: Microsoft.Network/virtualRouters
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_routers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}
  : delete:
      description: Deletes the specified Virtual Router.
      operationId: virtual_routers_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Virtual Router.
        in: path
        name: virtualRouterName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Request successful. Resource with the specified name does not
            exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - VirtualRouters
      x-ms-examples:
        Delete VirtualRouter:
          parameters:
            api-version: 2019-07-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_routers_controller
    get:
      description: Gets the specified Virtual Router.
      operationId: virtual_routers_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Virtual Router.
        in: path
        name: virtualRouterName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Expands referenced resources.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouter'
          description: Request successful. The operation returns a Virtual Router
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - VirtualRouters
      x-ms-examples:
        Get VirtualRouter:
          parameters:
            api-version: 2019-07-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter
                location: West US
                name: virtualRouter
                properties:
                  hostedGateway:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vnetGateway
                  peerings:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                  provisioningState: Succeeded
                  virtualRouterAsn: 10000
                  virtualRouterIps:
                  - 192.168.1.1
                  - 192.168.1.2
                tags:
                  key1: value1
                type: Microsoft.Network/virtualRouters
      x-openapi-router-controller: openapi_server.controllers.virtual_routers_controller
    patch:
      description: Updates a Virtual Router.
      operationId: virtual_routers_update
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the Virtual Router.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Virtual Router being updated.
        in: path
        name: virtualRouterName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualRouters_Update_request'
        description: Parameters supplied to Update Virtual Router Tags.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouter'
          description: Request successful. Returns the details of the Virtual Router
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - VirtualRouters
      x-ms-examples:
        Update VirtualRouter:
          parameters:
            api-version: 2019-07-01
            parameters:
              tags:
                key1: value1
                key2: value2
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter
                location: West US
                name: virtualRouter
                properties:
                  provisioningState: Succeeded
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/virtualRouters
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_routers_controller
    put:
      description: Creates or updates the specified Virtual Router.
      operationId: virtual_routers_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Virtual Router.
        in: path
        name: virtualRouterName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualRouter'
        description: Parameters supplied to the create or update Virtual Router.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouter'
          description: Request successful. The operation returns the resulting Virtual
            Router resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouter'
          description: Request received successfully. The operation returns the resulting
            Virtual Router resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - VirtualRouters
      x-ms-examples:
        Create VirtualRouter:
          parameters:
            api-version: 2019-07-01
            parameters:
              location: West US
              properties:
                hostedGateway:
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vnetGateway
              tags:
                key1: value1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter
                location: West US
                name: virtualRouter
                properties:
                  hostedGateway:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vnetGateway
                  peerings:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                  provisioningState: Succeeded
                  virtualRouterAsn: 10000
                  virtualRouterIps:
                  - 192.168.1.1
                  - 192.168.1.2
                tags:
                  key1: value1
                type: Microsoft.Network/virtualRouters
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter
                location: West US
                name: virtualRouter
                properties:
                  hostedGateway:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vnetGateway
                  peerings:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                  provisioningState: Succeeded
                  virtualRouterAsn: 10000
                  virtualRouterIps:
                  - 192.168.1.1
                  - 192.168.1.2
                tags:
                  key1: value1
                type: Microsoft.Network/virtualRouters
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_routers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}/peerings
  : get:
      description: Lists all Virtual Router Peerings in a Virtual Router resource.
      operationId: virtual_router_peerings_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Virtual Router.
        in: path
        name: virtualRouterName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouterPeeringListResult'
          description: Success. The operation returns a list of Virtual Router Peering
            resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - VirtualRouterPeerings
      x-ms-examples:
        List all Virtual Router Peerings for a given Virtual Router:
          parameters:
            api-version: 2019-07-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200":
              body:
                value:
                - etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                  name: peering1
                  properties:
                    peerAsn: 20000
                    peerIp: 192.168.1.5
                    provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_router_peerings_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}/peerings/{peeringName}
  : delete:
      description: Deletes the specified peering from a Virtual Router.
      operationId: virtual_router_peerings_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Virtual Router.
        in: path
        name: virtualRouterName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Request successful. Resource with the specified name does not
            exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - VirtualRouterPeerings
      x-ms-examples:
        Delete VirtualRouterPeering:
          parameters:
            api-version: 2019-07-01
            peeringName: peering1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_router_peerings_controller
    get:
      description: Gets the specified Virtual Router Peering.
      operationId: virtual_router_peerings_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Virtual Router.
        in: path
        name: virtualRouterName
        required: true
        schema:
          type: string
      - description: The name of the Virtual Router Peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouterPeering'
          description: Request successful. The operation returns a Virtual Router
            Peering resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - VirtualRouterPeerings
      x-ms-examples:
        Get Virtual Router Peering:
          parameters:
            api-version: 2019-07-01
            peeringName: peering1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200":
              body:
                etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                name: peering1
                properties:
                  peerAsn: 20000
                  peerIp: 192.168.1.5
                  provisioningState: Succeeded
      x-openapi-router-controller: openapi_server.controllers.virtual_router_peerings_controller
    patch:
      description: Updates a Virtual Router Peering.
      operationId: virtual_router_peerings_update
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the Virtual Router Peering.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Virtual Router.
        in: path
        name: virtualRouterName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the Virtual Router Peering being updated.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualRouterPeering'
        description: Parameters supplied to update Virtual Router Peering operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouterPeering'
          description: Request successful. Returns the details of the Virtual Router
            Peering updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - VirtualRouterPeerings
      x-ms-examples:
        Update VirtualRouter Peering:
          parameters:
            api-version: 2019-07-01
            parameters:
              properties:
                peerAsn: 20000
                peerIp: 192.168.1.5
            peeringName: peering1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200":
              body:
                etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                name: peering1
                properties:
                  peerAsn: 20000
                  peerIp: 192.168.1.5
                  provisioningState: Succeeded
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_router_peerings_controller
    put:
      description: Creates or updates the specified Virtual Router Peering.
      operationId: virtual_router_peerings_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Virtual Router.
        in: path
        name: virtualRouterName
        required: true
        schema:
          type: string
      - description: The name of the Virtual Router Peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualRouterPeering'
        description: Parameters supplied to the create or update Virtual Router Peering
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouterPeering'
          description: Request successful. The operation returns the resulting Virtual
            Router Peering resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouterPeering'
          description: Request received successfully. The operation returns the resulting
            Virtual Router Peering resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRouters_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - VirtualRouterPeerings
      x-ms-examples:
        Create Virtual Router Peering:
          parameters:
            api-version: 2019-07-01
            parameters:
              properties:
                peerAsn: 20000
                peerIp: 192.168.1.5
            peeringName: peering1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200":
              body:
                etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                name: peering1
                properties:
                  peerAsn: 20000
                  peerIp: 192.168.1.5
                  provisioningState: Succeeded
            "201":
              body:
                etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                name: peering1
                properties:
                  peerAsn: 20000
                  peerIp: 192.168.1.5
                  provisioningState: Succeeded
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_router_peerings_controller
components:
  schemas:
    VirtualRouter:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: VirtualRouter Resource.
      example:
        etag: etag
        properties:
          hostedGateway:
            id: id
          virtualRouterAsn: 343953089
          virtualRouterIps:
          - virtualRouterIps
          - virtualRouterIps
          peerings:
          - id: id
          - id: id
          provisioningState: Succeeded
          hostedSubnet:
            id: id
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/VirtualRouterPropertiesFormat'
      title: VirtualRouter
    VirtualRouterListResult:
      description: Response for ListVirtualRouters API service call.
      example:
        value:
        - etag: etag
          properties:
            hostedGateway:
              id: id
            virtualRouterAsn: 343953089
            virtualRouterIps:
            - virtualRouterIps
            - virtualRouterIps
            peerings:
            - id: id
            - id: id
            provisioningState: Succeeded
            hostedSubnet:
              id: id
        - etag: etag
          properties:
            hostedGateway:
              id: id
            virtualRouterAsn: 343953089
            virtualRouterIps:
            - virtualRouterIps
            - virtualRouterIps
            peerings:
            - id: id
            - id: id
            provisioningState: Succeeded
            hostedSubnet:
              id: id
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: List of Virtual Routers.
          items:
            $ref: '#/components/schemas/VirtualRouter'
          title: value
          type: array
      title: VirtualRouterListResult
      type: object
    VirtualRouterPeering:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Virtual Router Peering resource
      example:
        name: name
        etag: etag
        type: type
        properties:
          peerIp: peerIp
          provisioningState: Succeeded
          peerAsn: 343953089
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        name:
          description: Gets name of the peering unique to VirtualRouter. This name
            can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/VirtualRouterPeeringProperties'
        type:
          description: Peering type.
          readOnly: true
          title: type
          type: string
      title: VirtualRouterPeering
    VirtualRouterPeeringListResult:
      description: Response for ListVirtualRouterPeerings API service call.
      example:
        value:
        - name: name
          etag: etag
          type: type
          properties:
            peerIp: peerIp
            provisioningState: Succeeded
            peerAsn: 343953089
        - name: name
          etag: etag
          type: type
          properties:
            peerIp: peerIp
            provisioningState: Succeeded
            peerAsn: 343953089
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: List of VirtualRouterPeerings in a VirtualRouter.
          items:
            $ref: '#/components/schemas/VirtualRouterPeering'
          title: value
          type: array
      title: VirtualRouterPeeringListResult
      type: object
    VirtualRouterPeeringProperties:
      description: Properties of the rule group.
      example:
        peerIp: peerIp
        provisioningState: Succeeded
        peerAsn: 343953089
      properties:
        peerAsn:
          description: Peer ASN.
          format: int64
          maximum: 4294967295
          minimum: 1
          title: peerAsn
          type: integer
        peerIp:
          description: Peer IP.
          title: peerIp
          type: string
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
      title: VirtualRouterPeeringProperties
      type: object
    VirtualRouterPropertiesFormat:
      description: Virtual Router definition
      example:
        hostedGateway:
          id: id
        virtualRouterAsn: 343953089
        virtualRouterIps:
        - virtualRouterIps
        - virtualRouterIps
        peerings:
        - id: id
        - id: id
        provisioningState: Succeeded
        hostedSubnet:
          id: id
      properties:
        hostedGateway:
          $ref: '#/components/schemas/VirtualRouterPropertiesFormat_hostedGateway'
        hostedSubnet:
          $ref: '#/components/schemas/VirtualRouterPropertiesFormat_hostedGateway'
        peerings:
          description: List of references to VirtualRouterPeerings
          items:
            $ref: '#/components/schemas/VirtualRouterPropertiesFormat_hostedGateway'
          readOnly: true
          title: peerings
          type: array
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        virtualRouterAsn:
          description: VirtualRouter ASN.
          format: int64
          maximum: 4294967295
          minimum: 1
          title: virtualRouterAsn
          type: integer
        virtualRouterIps:
          description: VirtualRouter IPs
          items:
            type: string
          title: virtualRouterIps
          type: array
      title: VirtualRouterPropertiesFormat
      type: object
    VirtualRouters_List_default_response_details_inner:
      description: Common error details representation.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Error code.
          title: code
          type: string
        message:
          description: Error message.
          title: message
          type: string
        target:
          description: Error target.
          title: target
          type: string
      title: VirtualRouters_List_default_response_details_inner
      type: object
    VirtualRouters_List_default_response:
      description: Common error representation.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        innerError: innerError
        message: message
        target: target
      properties:
        code:
          description: Error code.
          title: code
          type: string
        details:
          description: Error details.
          items:
            $ref: '#/components/schemas/VirtualRouters_List_default_response_details_inner'
          title: details
          type: array
        innerError:
          description: Inner error message.
          title: innerError
          type: string
        message:
          description: Error message.
          title: message
          type: string
        target:
          description: Error target.
          title: target
          type: string
      title: VirtualRouters_List_default_response
      type: object
    VirtualRouters_Update_request:
      description: Tags object for patch operations.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
      title: VirtualRouters_Update_request
      type: object
    VirtualRouterPropertiesFormat_hostedGateway:
      description: Reference to another subresource.
      example:
        id: id
      properties:
        id:
          description: Resource ID.
          title: id
          type: string
      title: VirtualRouterPropertiesFormat_hostedGateway
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
