openapi: 3.0.1
info:
  contact:
    email: devrel@vonage.com
    name: Vonage DevRel
    url: https://developer.nexmo.com/
  description: "The External Accounts API is used to manage accounts for Viber Business\
    \ Messages, Facebook Messenger and Whatsapp for use in the [Messages](https://developer.nexmo.com/messages/overview)\
    \ and [Dispatch](https://developer.nexmo.com/dispatch/overview) APIs."
  title: External Accounts API
  version: 0.1.5
  x-label: Developer Preview
  x-logo:
    url: https://www.vonage.com/content/dam/vonage/us-en/api/illustrations/Mobile_APIs_Services.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/external-accounts.yml
    version: "3.0"
  x-providerName: nexmo.com
  x-serviceName: external-accounts
servers:
- url: https://api.nexmo.com/beta/chatapp-accounts
tags:
- description: Inbound messages to an external account which is linked to an application
    will be delivered to the application's inbound URL.
  name: Application
- description: An external-account used as the `from` field in the Messages API and
    Dispatch API
  name: Account
- description: "Managing your [Facebook Messenger](https://developer.nexmo.com/messages/concepts/facebook)\
    \ account"
  name: Facebook Messenger
- description: "Managing your [Viber Service Message](https://developer.nexmo.com/messages/concepts/viber)\
    \ account"
  name: Viber Service Message
- description: "Managing your [Whatsapp](https://developer.nexmo.com/messages/concepts/whatsapp)\
    \ account"
  name: Whatsapp
paths:
  /:
    get:
      operationId: get_all_accounts
      parameters:
      - description: Filter by provider
        explode: true
        in: query
        name: provider
        required: false
        schema:
          enum:
          - messenger
          - viber_service_msg
          - whatsapp
          type: string
        style: form
      - description: Page number of the results
        explode: true
        in: query
        name: page_number
        required: false
        schema:
          default: 1
          example: 1
          type: integer
        style: form
      - description: Page size of the results
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAllAccounts_200_response'
          description: OK.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
          description: Unauthorized.
      security:
      - bearerAuth: []
      - basicAuth: []
      summary: Retrieve all accounts you own
      tags:
      - Account
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /messenger:
    post:
      operationId: create_messenger_account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessengerAccount_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessengerAccountResponse'
          description: Created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMessengerAccount_400_response'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
          description: Unauthorized.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Response'
          description: Forbidden.
      security:
      - bearerAuth: []
      - basicAuth: []
      summary: Create a Messenger account
      tags:
      - Facebook Messenger
      x-openapi-router-controller: openapi_server.controllers.facebook_messenger_controller
      x-codegen-request-body-name: body
  /messenger/{external_id}:
    delete:
      operationId: delete_messenger_account
      parameters:
      - description: External id of the account you want to delete. In this case it
          is the Facebook Page ID.
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
          description: Unauthorized.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Response'
          description: Forbidden.
        "404":
          description: Not Found.
      security:
      - bearerAuth: []
      - basicAuth: []
      summary: Delete a Messenger account
      tags:
      - Facebook Messenger
      x-openapi-router-controller: openapi_server.controllers.facebook_messenger_controller
    get:
      operationId: get_messenger_account
      parameters:
      - description: External id of the account you want to retrieve. In this case
          it is the Facebook Page ID.
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessengerAccountResponse'
          description: OK.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
          description: Unauthorized.
        "404":
          description: Not Found.
      security:
      - bearerAuth: []
      - basicAuth: []
      summary: Retrieve a Messenger account
      tags:
      - Facebook Messenger
      x-openapi-router-controller: openapi_server.controllers.facebook_messenger_controller
    patch:
      operationId: update_messenger_account
      parameters:
      - description: External id of the account you want to update. In this case it
          is the Facebook Page ID.
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMessengerAccount_request'
        description: Request body can contain any of the following
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMessengerAccount_200_response'
          description: OK.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMessengerAccount_400_response'
          description: Bad Request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
          description: Unauthorized.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Response'
          description: Forbidden.
        "404":
          description: Not Found.
      security:
      - bearerAuth: []
      - basicAuth: []
      summary: Update a Messenger account
      tags:
      - Facebook Messenger
      x-openapi-router-controller: openapi_server.controllers.facebook_messenger_controller
      x-codegen-request-body-name: body
  /viber_service_msg/{external_id}:
    get:
      operationId: get_vsm_account
      parameters:
      - description: External id of the account you want to retrieve. In this case
          it will be your Viber Service Message ID.
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VSMAccountResponse'
          description: OK.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
          description: Unauthorized.
        "404":
          description: Not Found.
      security:
      - bearerAuth: []
      - basicAuth: []
      summary: Retrieve a Viber Service Message account
      tags:
      - Viber Service Message
      x-openapi-router-controller: openapi_server.controllers.viber_service_message_controller
  /whatsapp/{external_id}:
    get:
      operationId: get_wa_account
      parameters:
      - description: External id of the account you want to retrieve. In this case
          it will be the WhatsApp number.
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAAccountResponse'
          description: OK.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
          description: Unauthorized.
        "404":
          description: Not Found.
      security:
      - bearerAuth: []
      - basicAuth: []
      summary: Retrieve a Whatsapp account
      tags:
      - WhatsApp
      x-openapi-router-controller: openapi_server.controllers.whats_app_controller
  /{provider}/{external_id}/applications:
    post:
      operationId: link_application
      parameters:
      - description: Provider of the account you want to assign an application to
        explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - messenger
          - viber_service_msg
          - whatsapp
          type: string
        style: simple
      - description: "External id of the account you want to assign an application\
          \ to. This is channel dependent. For Facebook it will be your Facebook Page\
          \ ID, for Viber your Viber Service Message ID and for WhatsApp your WhatsApp\
          \ number."
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkApplication_request'
        description: "Request body can contain any of the following. Please note,\
          \ the only one application can be linked to the account."
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: OK.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
          description: Unauthorized.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkApplication_403_response'
          description: Forbidden.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkApplication_409_response'
          description: Conflict.
      security:
      - bearerAuth: []
      - basicAuth: []
      summary: Link application to an account
      tags:
      - Application
      x-openapi-router-controller: openapi_server.controllers.application_controller
      x-codegen-request-body-name: body
  /{provider}/{external_id}/applications/{application_id}:
    delete:
      operationId: unli_without_applicationnk_application
      parameters:
      - description: Provider of the account you want to unlink an application from
        explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - messenger
          - viber_service_msg
          - whatsapp
          type: string
        style: simple
      - description: External id of the account you want to unlink an application
          from
        explode: false
        in: path
        name: external_id
        required: true
        schema:
          type: string
        style: simple
      - description: Id of the application you want to unlink
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
          description: Unauthorized.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnliWithoutApplicationnkApplication_403_response'
          description: Forbidden.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnliWithoutApplicationnkApplication_409_response'
          description: Conflict.
      security:
      - bearerAuth: []
      - basicAuth: []
      summary: Unlink application from an account
      tags:
      - Application
      x-openapi-router-controller: openapi_server.controllers.application_controller
components:
  schemas:
    "401Response":
      example:
        detail: Request header 'Authorization' missing / Invalid Token
        title: Unauthorised
      properties:
        detail:
          example: Request header 'Authorization' missing / Invalid Token
          title: detail
          type: string
        title:
          example: Unauthorised
          title: title
          type: string
      title: 401Response
      type: object
    "403Response":
      example:
        title: Wrong authentication - You are not authorised to access this resource
      properties:
        title:
          example: Wrong authentication - You are not authorised to access this resource
          title: title
          type: string
      title: 403Response
      type: object
    AccountResponse:
      example:
        access_token: accessToken
        api_key: abcd1234
        provider: messenger
        name: name
        external_id: "12345678"
        applications:
        - applicationId
      properties:
        access_token:
          description: The provider access token (only for `messenger`)
          example: accessToken
          title: access_token
          type: string
        api_key:
          description: The external api key for this account
          example: abcd1234
          title: api_key
          type: string
        applications:
          description: The array of associated application ids
          example:
          - applicationId
          items:
            type: string
          title: applications
          type: array
        external_id:
          description: The external identifier for this account
          example: "12345678"
          title: external_id
          type: string
        name:
          description: The account name
          example: name
          title: name
          type: string
        provider:
          description: "The provider (will be one of `messenger, viber_service_msg,\
            \ whatsapp`)."
          enum:
          - messenger
          - viber_service_msg
          - whatsapp
          example: messenger
          title: provider
          type: string
      required:
      - api_key
      - external_id
      - provider
      title: AccountResponse
      type: object
    GetAllAccountResponse:
      allOf:
      - $ref: '#/components/schemas/MessengerAccountResponse'
      - $ref: '#/components/schemas/VSMAccountResponse'
      - $ref: '#/components/schemas/WAAccountResponse'
      example:
        access_token: myAccessToken
        api_key: abcd1234
        provider: whatsapp
        name: optionalName
        external_id: "12345678"
        applications:
        - optionalApplicationId
      title: GetAllAccountResponse
    MessengerAccountResponse:
      example:
        access_token: myAccessToken
        api_key: abcd1234
        provider: messenger
        name: optionalName
        external_id: "12345678"
        applications:
        - optionalApplicationId
      properties:
        access_token:
          description: The provider access token
          example: myAccessToken
          title: access_token
          type: string
        api_key:
          description: The external api key for this account
          example: abcd1234
          title: api_key
          type: string
        applications:
          description: The array of associated application ids
          example:
          - optionalApplicationId
          items:
            type: string
          title: applications
          type: array
        external_id:
          description: The external identifier for this account
          example: "12345678"
          title: external_id
          type: string
        name:
          description: The account name
          example: optionalName
          title: name
          type: string
        provider:
          description: The provider (will be `messenger`).
          example: messenger
          title: provider
          type: string
      required:
      - access_token
      - api_key
      - external_id
      - provider
      title: MessengerAccountResponse
      type: object
    VSMAccountResponse:
      example:
        api_key: abcd1234
        provider: viber_service_msg
        name: optionalName
        external_id: "12345678"
        applications:
        - optionalApplicationId
      properties:
        api_key:
          description: The external api key for this account
          example: abcd1234
          title: api_key
          type: string
        applications:
          description: The array of associated application ids
          example:
          - optionalApplicationId
          items:
            type: string
          title: applications
          type: array
        external_id:
          description: The external identifier for this account
          example: "12345678"
          title: external_id
          type: string
        name:
          description: The account name
          example: optionalName
          title: name
          type: string
        provider:
          description: The provider (will be `viber_service_msg`).
          example: viber_service_msg
          title: provider
          type: string
      required:
      - api_key
      - external_id
      - provider
      title: VSMAccountResponse
      type: object
    WAAccountResponse:
      example:
        api_key: abcd1234
        provider: whatsapp
        name: optionalName
        external_id: "12345678"
        applications:
        - optionalApplicationId
      properties:
        api_key:
          description: The external api key for this account
          example: abcd1234
          title: api_key
          type: string
        applications:
          description: The array of associated application ids
          example:
          - optionalApplicationId
          items:
            type: string
          title: applications
          type: array
        external_id:
          description: The external identifier for this account
          example: "12345678"
          title: external_id
          type: string
        name:
          description: The account name
          example: optionalName
          title: name
          type: string
        provider:
          description: The provider (will be `whatsapp`).
          example: whatsapp
          title: provider
          type: string
      required:
      - api_key
      - external_id
      - provider
      title: WAAccountResponse
      type: object
    GetAllAccounts_200_response__links_first:
      example:
        href: https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10
      properties:
        href:
          example: https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10
          title: href
          type: string
      title: GetAllAccounts_200_response__links_first
      type: object
    GetAllAccounts_200_response__links_last:
      example:
        href: https://api.nexmo.com/beta/chatapp-accounts?page_number=4&page_size=10
      properties:
        href:
          example: https://api.nexmo.com/beta/chatapp-accounts?page_number=4&page_size=10
          title: href
          type: string
      title: GetAllAccounts_200_response__links_last
      type: object
    GetAllAccounts_200_response__links_next:
      example:
        href: https://api.nexmo.com/beta/chatapp-accounts?page_number=3&page_size=10
      properties:
        href:
          example: https://api.nexmo.com/beta/chatapp-accounts?page_number=3&page_size=10
          title: href
          type: string
      title: GetAllAccounts_200_response__links_next
      type: object
    GetAllAccounts_200_response__links:
      example:
        next:
          href: https://api.nexmo.com/beta/chatapp-accounts?page_number=3&page_size=10
        last:
          href: https://api.nexmo.com/beta/chatapp-accounts?page_number=4&page_size=10
        prev:
          href: https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10
        self:
          href: https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10
        first:
          href: https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10
      properties:
        first:
          $ref: '#/components/schemas/GetAllAccounts_200_response__links_first'
        last:
          $ref: '#/components/schemas/GetAllAccounts_200_response__links_last'
        next:
          $ref: '#/components/schemas/GetAllAccounts_200_response__links_next'
        prev:
          $ref: '#/components/schemas/GetAllAccounts_200_response__links_first'
        self:
          $ref: '#/components/schemas/GetAllAccounts_200_response__links_first'
      title: GetAllAccounts_200_response__links
      type: object
    GetAllAccounts_200_response:
      example:
        page_number: 1
        _embedded:
        - access_token: myAccessToken
          api_key: abcd1234
          provider: whatsapp
          name: optionalName
          external_id: "12345678"
          applications:
          - optionalApplicationId
        - access_token: myAccessToken
          api_key: abcd1234
          provider: whatsapp
          name: optionalName
          external_id: "12345678"
          applications:
          - optionalApplicationId
        _links:
          next:
            href: https://api.nexmo.com/beta/chatapp-accounts?page_number=3&page_size=10
          last:
            href: https://api.nexmo.com/beta/chatapp-accounts?page_number=4&page_size=10
          prev:
            href: https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10
          self:
            href: https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10
          first:
            href: https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10
        page_size: 10
      properties:
        _embedded:
          items:
            $ref: '#/components/schemas/GetAllAccountResponse'
          title: _embedded
          type: array
        _links:
          $ref: '#/components/schemas/GetAllAccounts_200_response__links'
        page_number:
          example: 1
          title: page_number
          type: integer
        page_size:
          example: 10
          title: page_size
          type: integer
      title: GetAllAccounts_200_response
      type: object
    CreateMessengerAccount_request:
      properties:
        access_token:
          description: |
            This is the Facebook Business Page token. You can obtain the token using one of the following methods:

            * Linking your Facebook Business Page to your account [with our Dashboard tool](https://dashboard.nexmo.com/messages/social-channels/facebook-connect)
            * Requesting a Page Access Token using the steps in the [Facebook token reference](https://developers.facebook.com/docs/pages/access-tokens/)
          example: myAccessToken
          title: access_token
          type: string
        applications:
          description: "Contains a list of application IDs which are linked to the\
            \ account. <ul> <li>There is just one application allowed per an account.</li>\
            \ <li>The application type must be type \"messages\".</li> </ul> For more\
            \ information see [Application API spec](https://developer.nexmo.com/api/application.v2)"
          example:
          - optionalApplicationId
          items:
            type: string
          maxItems: 1
          minItems: 0
          title: applications
          type: array
        external_id:
          description: "This is the unique identifier within the provider's domain.\
            \ In this case it is the Page ID for your Facebook Page. Go to your Facebook\
            \ Page, click \"Settings\", click \"Messenger platform \" scroll down\
            \ to \"Messenger link\" to find your Page ID."
          example: "12345678"
          title: external_id
          type: string
        name:
          description: Custom account name
          example: optionalName
          title: name
          type: string
      required:
      - access_token
      - external_id
      title: CreateMessengerAccount_request
      type: object
    CreateMessengerAccount_400_response_invalid_params_inner:
      example:
        reason: Missing `external_id` field
        name: external_id
      properties:
        name:
          example: external_id
          title: name
          type: string
        reason:
          example: Missing `external_id` field
          title: reason
          type: string
      title: CreateMessengerAccount_400_response_invalid_params_inner
      type: object
    CreateMessengerAccount_400_response:
      example:
        invalid_params:
        - reason: Missing `external_id` field
          name: external_id
        - reason: Missing `external_id` field
          name: external_id
        instance: instance
        detail: Found errors validating 1 of your submitted parameters.
        title: Your request parameters didn't validate.
        type: https://www.nexmo.com/messages/Errors#InvalidParams
      properties:
        detail:
          example: Found errors validating 1 of your submitted parameters.
          title: detail
          type: string
        instance:
          title: instance
          type: string
          example: null
        invalid_params:
          items:
            $ref: '#/components/schemas/CreateMessengerAccount_400_response_invalid_params_inner'
          title: invalid_params
          type: array
        title:
          example: Your request parameters didn't validate.
          title: title
          type: string
        type:
          example: https://www.nexmo.com/messages/Errors#InvalidParams
          title: type
          type: string
      title: CreateMessengerAccount_400_response
      type: object
    UpdateMessengerAccount_request:
      properties:
        access_token:
          example: updatedAccessToken
          title: access_token
          type: string
        applications:
          example:
          - newApplicationId
          items:
            type: string
          title: applications
          type: array
        name:
          description: The new account name
          example: newName
          title: name
          type: string
      title: UpdateMessengerAccount_request
      type: object
    UpdateMessengerAccount_200_response:
      example:
        access_token: updatedAccessToken
        api_key: abcd1234
        provider: messenger
        name: newName
        external_id: "12345678"
        applications:
        - newApplicationId
      properties:
        access_token:
          description: The provider access token
          example: updatedAccessToken
          title: access_token
          type: string
        api_key:
          description: The external api key for this account
          example: abcd1234
          title: api_key
          type: string
        applications:
          description: The array of associated application ids
          example:
          - newApplicationId
          items:
            type: string
          title: applications
          type: array
        external_id:
          description: The external identifier for this account. In this case it is
            the Facebook Page ID.
          example: "12345678"
          title: external_id
          type: string
        name:
          description: The account name
          example: newName
          title: name
          type: string
        provider:
          description: The provider (will be `messenger`).
          example: messenger
          title: provider
          type: string
      required:
      - access_token
      - api_key
      - external_id
      - provider
      title: UpdateMessengerAccount_200_response
      type: object
    UpdateMessengerAccount_400_response_invalid_params_inner:
      example:
        reason: '''external_id'' parameter cannot be changed'
        name: external_id
      properties:
        name:
          example: external_id
          title: name
          type: string
        reason:
          example: '''external_id'' parameter cannot be changed'
          title: reason
          type: string
      title: UpdateMessengerAccount_400_response_invalid_params_inner
      type: object
    UpdateMessengerAccount_400_response:
      example:
        invalid_params:
        - reason: '''external_id'' parameter cannot be changed'
          name: external_id
        - reason: '''external_id'' parameter cannot be changed'
          name: external_id
        instance: instance
        detail: Found errors validating 1 of your submitted parameters.
        title: Your request parameters didn't validate.
        type: https://www.nexmo.com/messages/Errors#InvalidParams
      properties:
        detail:
          example: Found errors validating 1 of your submitted parameters.
          title: detail
          type: string
        instance:
          title: instance
          type: string
          example: null
        invalid_params:
          items:
            $ref: '#/components/schemas/UpdateMessengerAccount_400_response_invalid_params_inner'
          title: invalid_params
          type: array
        title:
          example: Your request parameters didn't validate.
          title: title
          type: string
        type:
          example: https://www.nexmo.com/messages/Errors#InvalidParams
          title: type
          type: string
      title: UpdateMessengerAccount_400_response
      type: object
    LinkApplication_request:
      properties:
        application:
          description: "There is just one application allowed per an account. The\
            \ application type must be type \"messages\". For more information please\
            \ see [Application API Spec](https://developer.nexmo.com/api/application.v2)"
          example: applicationId
          title: application
          type: string
      required:
      - application
      title: LinkApplication_request
      type: object
    LinkApplication_403_response:
      example:
        detail: Cannot link application
        title: Forbidden
        type: https://www.nexmo.com/messages/Errors#Forbidden
      properties:
        detail:
          description: The application does not exist or the application type is not
            "messages"
          example: Cannot link application
          title: detail
          type: string
        title:
          example: Forbidden
          title: title
          type: string
        type:
          example: https://www.nexmo.com/messages/Errors#Forbidden
          title: type
          type: string
      title: LinkApplication_403_response
      type: object
    LinkApplication_409_response:
      example:
        detail: Unable to link application
        title: Application conflict
        type: https://www.nexmo.com/messages/Errors#Conflict
      properties:
        detail:
          description: The account reached limit of maximum number of linked applications.
            (The only one application is allowed per an account)
          example: Unable to link application
          title: detail
          type: string
        title:
          example: Application conflict
          title: title
          type: string
        type:
          example: https://www.nexmo.com/messages/Errors#Conflict
          title: type
          type: string
      title: LinkApplication_409_response
      type: object
    UnliWithoutApplicationnkApplication_403_response:
      example:
        detail: Cannot unlink application
        title: Forbidden
        type: https://www.nexmo.com/messages/Errors#Forbidden
      properties:
        detail:
          example: Cannot unlink application
          title: detail
          type: string
        title:
          example: Forbidden
          title: title
          type: string
        type:
          example: https://www.nexmo.com/messages/Errors#Forbidden
          title: type
          type: string
      title: UnliWithoutApplicationnkApplication_403_response
      type: object
    UnliWithoutApplicationnkApplication_409_response:
      example:
        detail: Unable to unlink application
        title: Application conflict
        type: https://www.nexmo.com/messages/Errors#Conflict
      properties:
        detail:
          description: The application is not linked or doesn't exist.
          example: Unable to unlink application
          title: detail
          type: string
        title:
          example: Application conflict
          title: title
          type: string
        type:
          example: https://www.nexmo.com/messages/Errors#Conflict
          title: type
          type: string
      title: UnliWithoutApplicationnkApplication_409_response
      type: object
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller.info_from_basicAuth
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
      x-bearerInfoFunc: openapi_server.controllers.security_controller.info_from_bearerAuth
