openapi: 3.0.0
info:
  contact:
    x-twitter: AGCOcorp
  title: AGCO API
  version: v1
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://twitter.com/AGCOcorp/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://secure.agco-ats.com:443/swagger/docs/v1
    version: "3.0"
  x-providerName: agco-ats.com
servers:
- url: https://secure.agco-ats.com
paths:
  /api/v2/AftermarketServices/Certificates:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: aftermarket_services_get_certs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: No Documentation Found.
      tags:
      - AftermarketServices
      x-openapi-router-controller: openapi_server.controllers.aftermarket_services_controller
  /api/v2/AftermarketServices/ECUs/{serialNumber}:
    put:
      deprecated: false
      description: No Documentation Found.
      operationId: aftermarket_services_put_ecu
      parameters:
      - description: The serial number of the ECU.
        explode: false
        in: path
        name: serialNumber
        required: true
        schema:
          type: string
        style: simple
      - description: The EDT Instance Id of the kit calling this method.
        explode: true
        in: query
        name: EDTInstanceId
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AGCOPowerServices.Models.ECU'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AGCOPowerServices.Models.ECU'
          application/xml:
            schema:
              $ref: '#/components/schemas/AGCOPowerServices.Models.ECU'
          text/json:
            schema:
              $ref: '#/components/schemas/AGCOPowerServices.Models.ECU'
          text/xml:
            schema:
              $ref: '#/components/schemas/AGCOPowerServices.Models.ECU'
        description: The ecu to modify.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AGCOPowerServices.Models.ECU'
            application/xml:
              schema:
                $ref: '#/components/schemas/AGCOPowerServices.Models.ECU'
            text/json:
              schema:
                $ref: '#/components/schemas/AGCOPowerServices.Models.ECU'
            text/xml:
              schema:
                $ref: '#/components/schemas/AGCOPowerServices.Models.ECU'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: "Activate or Deactivate an ECU, or Report an ECU as Damaged."
      tags:
      - AftermarketServices
      x-openapi-router-controller: openapi_server.controllers.aftermarket_services_controller
      x-codegen-request-body-name: body
  /api/v2/AftermarketServices/Engines/{serialNumber}/IQACodes:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: aftermarket_services_get_engine_iqa_codes
      parameters:
      - description: The serial number of the engine.
        explode: false
        in: path
        name: serialNumber
        required: true
        schema:
          type: string
        style: simple
      - description: The EDT Instance Id of the kit calling this method.
        explode: true
        in: query
        name: EDTInstanceId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get injector codes given engine.
      tags:
      - AftermarketServices
      x-openapi-router-controller: openapi_server.controllers.aftermarket_services_controller
    put:
      deprecated: false
      description: No Documentation Found.
      operationId: aftermarket_services_put_iqa_codes
      parameters:
      - description: The serial number of the Engine
        explode: false
        in: path
        name: serialNumber
        required: true
        schema:
          type: string
        style: simple
      - description: The EDT Instance Id of the kit calling this method.
        explode: true
        in: query
        name: EDTInstanceId
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                type: string
              type: array
          application/xml:
            schema:
              items:
                type: string
              type: array
          text/json:
            schema:
              items:
                type: string
              type: array
          text/xml:
            schema:
              items:
                type: string
              type: array
        description: A string array of IQA codes in physical order
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Report the IQA codes used by an engine
      tags:
      - AftermarketServices
      x-openapi-router-controller: openapi_server.controllers.aftermarket_services_controller
      x-codegen-request-body-name: body
  /api/v2/AftermarketServices/Engines/{serialNumber}/ProductionData:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: aftermarket_services_get_production_data
      parameters:
      - description: The serial number of the engine.
        explode: false
        in: path
        name: serialNumber
        required: true
        schema:
          type: string
        style: simple
      - description: The EDT Instance Id of the kit calling this method.
        explode: true
        in: query
        name: EDTInstanceId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AGCOPowerServices.Models.ProductionData'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/AGCOPowerServices.Models.ProductionData'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/AGCOPowerServices.Models.ProductionData'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/AGCOPowerServices.Models.ProductionData'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get production calibration data for given engine.
      tags:
      - AftermarketServices
      x-openapi-router-controller: openapi_server.controllers.aftermarket_services_controller
  /api/v2/AftermarketServices/Hello:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: aftermarket_services_get_connection_status
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Check whether there is connectivity to AGCO Power Web Services
      tags:
      - AftermarketServices
      x-openapi-router-controller: openapi_server.controllers.aftermarket_services_controller
  /api/v2/AftermarketServices/UserStatuses:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: aftermarket_services_get_user_status
      parameters:
      - explode: true
        in: query
        name: voucherCode
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: dealerCode
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AGCOPowerServices.Models.UserStatus'
            application/xml:
              schema:
                $ref: '#/components/schemas/AGCOPowerServices.Models.UserStatus'
            text/json:
              schema:
                $ref: '#/components/schemas/AGCOPowerServices.Models.UserStatus'
            text/xml:
              schema:
                $ref: '#/components/schemas/AGCOPowerServices.Models.UserStatus'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Retrieve the status of an EDT Kit Registration with AGCO Power Web
        Services
      tags:
      - AftermarketServices
      x-openapi-router-controller: openapi_server.controllers.aftermarket_services_controller
    put:
      deprecated: false
      description: No Documentation Found.
      operationId: aftermarket_services_update_user_status
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AGCOPowerServices.Models.UserStatus'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AGCOPowerServices.Models.UserStatus'
          application/xml:
            schema:
              $ref: '#/components/schemas/AGCOPowerServices.Models.UserStatus'
          text/json:
            schema:
              $ref: '#/components/schemas/AGCOPowerServices.Models.UserStatus'
          text/xml:
            schema:
              $ref: '#/components/schemas/AGCOPowerServices.Models.UserStatus'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            text/xml:
              schema:
                type: boolean
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Update the status of an EDT Kit Registration with AGCO Power Web Services
      tags:
      - AftermarketServices
      x-openapi-router-controller: openapi_server.controllers.aftermarket_services_controller
      x-codegen-request-body-name: body
  /api/v2/AuthenticatedUsers/{UserID}/Tokens:
    put:
      deprecated: false
      description: No Documentation Found.
      operationId: authentication_put_manage_tokens
      parameters:
      - explode: false
        in: path
        name: UserID
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Models.TokenOptions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/API.Models.TokenOptions'
          application/xml:
            schema:
              $ref: '#/components/schemas/API.Models.TokenOptions'
          text/json:
            schema:
              $ref: '#/components/schemas/API.Models.TokenOptions'
          text/xml:
            schema:
              $ref: '#/components/schemas/API.Models.TokenOptions'
        description: The options for token management.
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
      summary: Manage API tokens.
      tags:
      - Authentication
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
      x-codegen-request-body-name: body
  /api/v2/Authentication:
    post:
      deprecated: false
      description: No Documentation Found.
      operationId: authentication_default
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Models.Credentials'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/API.Models.Credentials'
          application/xml:
            schema:
              $ref: '#/components/schemas/API.Models.Credentials'
          text/json:
            schema:
              $ref: '#/components/schemas/API.Models.Credentials'
          text/xml:
            schema:
              $ref: '#/components/schemas/API.Models.Credentials'
        description: Create a user account.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.AuthenticatedUser'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.AuthenticatedUser'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.AuthenticatedUser'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.AuthenticatedUser'
          description: OK
      summary: Authenticate a user.
      tags:
      - Authentication
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
      x-codegen-request-body-name: body
  /api/v2/Authentication/IsAlive:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: authentication_is_alive
      responses:
        "204":
          description: No Content
      summary: Acknowledges the connection to the API
      tags:
      - Authentication
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
  /api/v2/Authentication/RequestPasswordReset:
    post:
      deprecated: false
      description: No Documentation Found.
      operationId: authentication_request_password_reset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Models.PasswordResetRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/API.Models.PasswordResetRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/API.Models.PasswordResetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/API.Models.PasswordResetRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/API.Models.PasswordResetRequest'
        description: The password reset request.
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
      summary: Request a password reset.
      tags:
      - Authentication
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
      x-codegen-request-body-name: body
  /api/v2/Authentication/ResetPasword:
    post:
      deprecated: false
      description: No Documentation Found.
      operationId: authentication_reset_pasword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Models.PasswordReset'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/API.Models.PasswordReset'
          application/xml:
            schema:
              $ref: '#/components/schemas/API.Models.PasswordReset'
          text/json:
            schema:
              $ref: '#/components/schemas/API.Models.PasswordReset'
          text/xml:
            schema:
              $ref: '#/components/schemas/API.Models.PasswordReset'
        description: The password reset detail.
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
      summary: Reset a password
      tags:
      - Authentication
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
      x-codegen-request-body-name: body
  /api/v2/AuthorizationCategories:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_categories_get
      parameters:
      - description: "Optional. The page limit.  If not specified, the default page\
          \ limit is 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Optional. The page offset.  If not specified, the default page\
          \ offset is 0."
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional. Filter by categories visible to the provided user with
          the provided userID.
        explode: true
        in: query
        name: userID
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional. Filter by categories containing a definition with the
          provided ID.
        explode: true
        in: query
        name: definitionID
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.Category_'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.Category_'
            text/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.Category_'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.Category_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get authorization categories.
      tags:
      - AuthorizationCategories
      x-openapi-router-controller: openapi_server.controllers.authorization_categories_controller
    post:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_categories_post
      requestBody:
        $ref: '#/components/requestBodies/AuthorizationCodes.Shared.Models.Category'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/json:
              schema:
                type: string
            text/xml:
              schema:
                type: string
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Add an authorization category.
      tags:
      - AuthorizationCategories
      x-openapi-router-controller: openapi_server.controllers.authorization_categories_controller
      x-codegen-request-body-name: body
  /api/v2/AuthorizationCategories/Users:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_categories_get_users
      parameters:
      - description: Optional. Defaults to 10.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional. Defaults to 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional. Includes only users with IDs on the provided comma-separated
          list.
        explode: true
        in: query
        name: userIDs
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Includes only users with categories with IDs on the
          provided comma-separated list.
        explode: true
        in: query
        name: categoryIDs
        required: false
        schema:
          type: string
        style: form
      - description: "If true, include full Authorization Category detail. Defaults\
          \ to false."
        explode: true
        in: query
        name: includeCategories
        required: false
        schema:
          type: boolean
        style: form
      - description: "If true, include full User detail. Defaults to false."
        explode: true
        in: query
        name: includeUsers
        required: false
        schema:
          type: boolean
        style: form
      - description: "Optional. Includes only users with a Name, Username, or Email\
          \ containing the provided value."
        explode: true
        in: query
        name: userSearch
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.CategoryUserReport_'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.CategoryUserReport_'
            text/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.CategoryUserReport_'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.CategoryUserReport_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Returns a report of access that users have to Authorization Categories.
      tags:
      - AuthorizationCategories
      x-openapi-router-controller: openapi_server.controllers.authorization_categories_controller
  /api/v2/AuthorizationCategories/{id}:
    delete:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_categories_delete
      parameters:
      - description: The ID of the authorization category.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Remove an authorization category.
      tags:
      - AuthorizationCategories
      x-openapi-router-controller: openapi_server.controllers.authorization_categories_controller
    put:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_categories_put
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AuthorizationCodes.Shared.Models.Category'
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Update an authorization category.
      tags:
      - AuthorizationCategories
      x-openapi-router-controller: openapi_server.controllers.authorization_categories_controller
      x-codegen-request-body-name: body
  /api/v2/AuthorizationCategories/{id}/Users/{userID}:
    delete:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_categories_remove_user
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: userID
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Deletes a category a user could see.
      tags:
      - AuthorizationCategories
      x-openapi-router-controller: openapi_server.controllers.authorization_categories_controller
    post:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_categories_add_user
      parameters:
      - description: ""
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: userID
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Add a category that a user can see.
      tags:
      - AuthorizationCategories
      x-openapi-router-controller: openapi_server.controllers.authorization_categories_controller
  /api/v2/AuthorizationCodeDefinitions:
    get:
      deprecated: false
      description: "Additional searches: validationFields[Name]=true and dataFields[Name]=true.\
        \ These can be used to search for authorization code definitions that have\
        \ the specified data or validation fields."
      operationId: authorization_code_definitions_get_authorization_code_definition
      parameters:
      - description: "Optional. The page limit.  If not specified, the default page\
          \ limit is 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Optional. The page offset.  If not specified, the default page\
          \ offset is 0."
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Optional. If specified, filters definitions by name. Starting\
          \ and ending wildcards (*) supported."
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, filters definitions to those created\
          \ by the given User ID."
        explode: true
        in: query
        name: createdByUserID
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Optional. If specified, filters definitions to those deleted\
          \ by the given User ID."
        explode: true
        in: query
        name: deletedByUserID
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional. Whether to include deleted definitions. 'False' by
          default.
        explode: true
        in: query
        name: includeDeleted
        required: false
        schema:
          type: boolean
        style: form
      - description: "Optional. If specified, filters definitions with the designated\
          \ categoryID."
        explode: true
        in: query
        name: categoryID
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition_'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition_'
            text/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition_'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get authorization code definitions.
      tags:
      - AuthorizationCodeDefinitions
      x-openapi-router-controller: openapi_server.controllers.authorization_code_definitions_controller
    post:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_code_definitions_post_authorization_code_definition
      requestBody:
        $ref: '#/components/requestBodies/AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/json:
              schema:
                type: string
            text/xml:
              schema:
                type: string
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Add an authorization code definition.
      tags:
      - AuthorizationCodeDefinitions
      x-openapi-router-controller: openapi_server.controllers.authorization_code_definitions_controller
      x-codegen-request-body-name: body
  /api/v2/AuthorizationCodeDefinitions/{ID}/Categories/{categoryID}:
    delete:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_code_definitions_remove_category_from_definition
      parameters:
      - explode: false
        in: path
        name: ID
        required: true
        schema:
          type: string
        style: simple
      - description: "A category ID, as a GUID."
        explode: false
        in: path
        name: categoryID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Deletes the category from the authorization code definition.
      tags:
      - AuthorizationCodeDefinitions
      x-openapi-router-controller: openapi_server.controllers.authorization_code_definitions_controller
    post:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_code_definitions_add_category_to_definition
      parameters:
      - explode: false
        in: path
        name: ID
        required: true
        schema:
          type: string
        style: simple
      - description: "A category ID, as a GUID."
        explode: false
        in: path
        name: categoryID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Add a category to an authorizationCodeDefintion.
      tags:
      - AuthorizationCodeDefinitions
      x-openapi-router-controller: openapi_server.controllers.authorization_code_definitions_controller
  /api/v2/AuthorizationCodeDefinitions/{id}:
    delete:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_code_definitions_delete_authorization_code_definition
      parameters:
      - description: The ID of the authorization code definition.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Disable an authorization code definition
      tags:
      - AuthorizationCodeDefinitions
      x-openapi-router-controller: openapi_server.controllers.authorization_code_definitions_controller
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: api_v2_authorization_code_definitions_id_get
      parameters:
      - description: The ID of the authorization code definition.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition'
            text/xml:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get an authorization code definition by its ID
      tags:
      - AuthorizationCodeDefinitions
      x-openapi-router-controller: openapi_server.controllers.authorization_code_definitions_controller
    put:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_code_definitions_put_authorization_code_definition
      parameters:
      - description: The ID of the authorization code definition.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition'
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Update an authorization code definition
      tags:
      - AuthorizationCodeDefinitions
      x-openapi-router-controller: openapi_server.controllers.authorization_code_definitions_controller
      x-codegen-request-body-name: body
  /api/v2/AuthorizationCodes:
    get:
      deprecated: false
      description: "Additional searches: validationParameters[Name]=Value and dataParameters[Name]=Value.\
        \ These can be used to search for authorization codes that have been generated\
        \ using specified values for data or validation parameters."
      operationId: authorization_codes_get_authorization_codes
      parameters:
      - description: "Optional. If provided, searches for entities with the provided\
          \ authorization code."
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. The page limit.  If not specified, the default page\
          \ limit is 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Optional. The page offset.  If not specified, the default page\
          \ offset is 0."
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Optional. If specified, filters codes by definition id."
        explode: true
        in: query
        name: definitionID
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. If specified, filters codes to those created by the\
          \ given User ID."
        explode: true
        in: query
        name: createdByUserID
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Optional. If specified, filters codes to those deleted by the\
          \ given User ID."
        explode: true
        in: query
        name: deletedByUserID
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional. Whether to include deleted codes. 'False' by default.
        explode: true
        in: query
        name: includeDeleted
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationCode_'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationCode_'
            text/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationCode_'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationCode_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get authorization codes.
      tags:
      - AuthorizationCodes
      x-openapi-router-controller: openapi_server.controllers.authorization_codes_controller
    post:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_codes_post_authorization_code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCode'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCode'
          application/xml:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCode'
          text/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCode'
          text/xml:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCode'
        description: The model from which to generate an authorization code.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Generates an authorization code using the provided definition and parameters.
      tags:
      - AuthorizationCodes
      x-openapi-router-controller: openapi_server.controllers.authorization_codes_controller
      x-codegen-request-body-name: body
  /api/v2/AuthorizationCodes/{id}:
    delete:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_codes_delete_authorization_code
      parameters:
      - description: The id of the authorization code.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Hide an authorization code.
      tags:
      - AuthorizationCodes
      x-openapi-router-controller: openapi_server.controllers.authorization_codes_controller
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_codes_get_authorization_code
      parameters:
      - description: The id of the authorization code.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCode'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCode'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCode'
            text/xml:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCode'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get an authorization code by its ID.
      tags:
      - AuthorizationCodes
      x-openapi-router-controller: openapi_server.controllers.authorization_codes_controller
    put:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_codes_put_authorization_code
      parameters:
      - description: The id of the authorization code.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCode'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCode'
          application/xml:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCode'
          text/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCode'
          text/xml:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationCode'
        description: The model from which to update an authorization code.
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Update an authorization code.
      tags:
      - AuthorizationCodes
      x-openapi-router-controller: openapi_server.controllers.authorization_codes_controller
      x-codegen-request-body-name: body
  /api/v2/AuthorizationCodes/{id}/ContactInformation:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_codes_get_contact_information
      parameters:
      - description: The id of the authorization code.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
            text/xml:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get contact information for an authorization code.
      tags:
      - AuthorizationCodes
      x-openapi-router-controller: openapi_server.controllers.authorization_codes_controller
  /api/v2/AuthorizationCodes/{id}/Validate:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_codes_validate_authorization_code
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.CodeValidationModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.CodeValidationModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.CodeValidationModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.CodeValidationModel'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: No Documentation Found.
      tags:
      - AuthorizationCodes
      x-openapi-router-controller: openapi_server.controllers.authorization_codes_controller
  /api/v2/AuthorizationContactInformation:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_contact_information_get
      parameters:
      - description: "Optional. The page limit.  If not specified, the default page\
          \ limit is 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Optional. The page offset.  If not specified, the default page\
          \ offset is 0."
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional. Search by authorization code.
        explode: true
        in: query
        name: authorizationCode
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Include only data for authorization codes created after
          a provided date.
        explode: true
        in: query
        name: afterDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optional. Include only data for authorization codes created before
          a provided date.
        explode: true
        in: query
        name: beforeDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optional. Search by dealer code.
        explode: true
        in: query
        name: dealerCode
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationContactInformation_'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationContactInformation_'
            text/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationContactInformation_'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationContactInformation_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get contact information for authorization codes.
      tags:
      - AuthorizationContactInformation
      x-openapi-router-controller: openapi_server.controllers.authorization_contact_information_controller
    post:
      deprecated: false
      description: No Documentation Found.
      operationId: authorization_contact_information_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
          application/xml:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
          text/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
          text/xml:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
        description: A contact information.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Add contact information for authorization code.
      tags:
      - AuthorizationContactInformation
      x-openapi-router-controller: openapi_server.controllers.authorization_contact_information_controller
      x-codegen-request-body-name: body
  /api/v2/Brands:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: brands_brands
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Gets a list of Brands.
      tags:
      - Brands
      x-openapi-router-controller: openapi_server.controllers.brands_controller
  /api/v2/Bundles:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: bundles_get_bundles
      parameters:
      - description: Optional. Filter by UpdateGroup ID.
        explode: true
        in: query
        name: UpdateGroupID
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Filter by active status.
        explode: true
        in: query
        name: Active
        required: false
        schema:
          type: boolean
        style: form
      - description: Optional. The page limit. The default page limit is 10.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional. The page offset. The default page offset is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Optional. If provided, filters by BundleNumber."
        explode: true
        in: query
        name: BundleNumber
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_UpdateSystem.Models.Bundle_'
            text/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_UpdateSystem.Models.Bundle_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get the list of bundles.
      tags:
      - Bundles
      x-openapi-router-controller: openapi_server.controllers.bundles_controller
    post:
      deprecated: false
      description: No Documentation Found.
      operationId: bundles_post_bundle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Bundle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Bundle'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Bundle'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Bundle'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Bundle'
        description: The bundle to add
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/json:
              schema:
                type: string
            text/xml:
              schema:
                type: string
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Add a Bundle to the Update System.
      tags:
      - Bundles
      x-openapi-router-controller: openapi_server.controllers.bundles_controller
      x-codegen-request-body-name: body
  /api/v2/Bundles/{ID}:
    delete:
      deprecated: false
      description: No Documentation Found.
      operationId: bundles_delete_bundle
      parameters:
      - description: The Bundle ID to Delete
        explode: false
        in: path
        name: ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Delete a Bundle.
      tags:
      - Bundles
      x-openapi-router-controller: openapi_server.controllers.bundles_controller
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: bundles_get_bundle
      parameters:
      - description: The Bundle ID
        explode: false
        in: path
        name: ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSystem.Models.Bundle'
            application/xml:
              schema:
                $ref: '#/components/schemas/UpdateSystem.Models.Bundle'
            text/json:
              schema:
                $ref: '#/components/schemas/UpdateSystem.Models.Bundle'
            text/xml:
              schema:
                $ref: '#/components/schemas/UpdateSystem.Models.Bundle'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get a specific Bundle by ID.
      tags:
      - Bundles
      x-openapi-router-controller: openapi_server.controllers.bundles_controller
    put:
      deprecated: false
      description: No Documentation Found.
      operationId: bundles_put_bundle
      parameters:
      - description: The unique ID of the Bundle
        explode: false
        in: path
        name: ID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Bundle'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Bundle'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Bundle'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Bundle'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Bundle'
        description: The bundle to modify
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Modify a Bundle in the Update System.
      tags:
      - Bundles
      x-openapi-router-controller: openapi_server.controllers.bundles_controller
      x-codegen-request-body-name: body
  /api/v2/Clients:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: clients_get
      parameters:
      - description: Optional. Filter clients by Tag. Wildcards are supported (*).
        explode: true
        in: query
        name: Tag
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The page limit. The default page limit is 10.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional. The page offset. The default page offset is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_UpdateSystem.Models.Client_'
            text/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_UpdateSystem.Models.Client_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get a List of Clients in the Update System.
      tags:
      - Clients
      x-openapi-router-controller: openapi_server.controllers.clients_controller
  /api/v2/Clients/{ClientID}/CachedFiles:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: update_system_get_cached_files
      parameters:
      - description: The ClientID of the Client
        explode: false
        in: path
        name: ClientID
        required: true
        schema:
          type: string
        style: simple
      - description: Only Expired Files (true|false)
        explode: true
        in: query
        name: Expired
        required: true
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get a list of Cached Files installed on the client Machine.
      tags:
      - UpdateSystem
      x-openapi-router-controller: openapi_server.controllers.update_system_controller
  /api/v2/Clients/{ClientID}/PackageReports:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: package_reports_default
      parameters:
      - description: The Client ID
        explode: false
        in: path
        name: ClientID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UpdateSystem.Models.PackageReport'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/UpdateSystem.Models.PackageReport'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UpdateSystem.Models.PackageReport'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/UpdateSystem.Models.PackageReport'
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get the package reports for a client.
      tags:
      - PackageReports
      x-openapi-router-controller: openapi_server.controllers.package_reports_controller
    put:
      deprecated: false
      description: No Documentation Found.
      operationId: api_v2_clients_client_id_package_reports_put
      parameters:
      - description: The Client ID
        explode: false
        in: path
        name: ClientID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.PackageReport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.PackageReport'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.PackageReport'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.PackageReport'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.PackageReport'
        description: The Package Report
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Submit a package report
      tags:
      - PackageReports
      x-openapi-router-controller: openapi_server.controllers.package_reports_controller
      x-codegen-request-body-name: body
  /api/v2/Clients/{ClientID}/PackageReports/Batch:
    put:
      deprecated: false
      description: No Documentation Found.
      operationId: package_reports_batch
      parameters:
      - description: The Client ID
        explode: false
        in: path
        name: ClientID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/UpdateSystem.Models.PackageReport'
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/UpdateSystem.Models.PackageReport'
              type: array
          application/xml:
            schema:
              items:
                $ref: '#/components/schemas/UpdateSystem.Models.PackageReport'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/UpdateSystem.Models.PackageReport'
              type: array
          text/xml:
            schema:
              items:
                $ref: '#/components/schemas/UpdateSystem.Models.PackageReport'
              type: array
        description: The Package Reports
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Submit a batch of package reports
      tags:
      - PackageReports
      x-openapi-router-controller: openapi_server.controllers.package_reports_controller
      x-codegen-request-body-name: body
  /api/v2/Clients/{ID}:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: api_v2_clients_idget
      parameters:
      - description: The Client ID
        explode: false
        in: path
        name: ID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSystem.Models.Client'
            application/xml:
              schema:
                $ref: '#/components/schemas/UpdateSystem.Models.Client'
            text/json:
              schema:
                $ref: '#/components/schemas/UpdateSystem.Models.Client'
            text/xml:
              schema:
                $ref: '#/components/schemas/UpdateSystem.Models.Client'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get a Client in the Update System.
      tags:
      - Clients
      x-openapi-router-controller: openapi_server.controllers.clients_controller
    put:
      deprecated: false
      description: No Documentation Found.
      operationId: clients_put
      parameters:
      - description: The Client ID
        explode: false
        in: path
        name: ID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Client'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Client'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Client'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Client'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateSystem.Models.Client'
        description: Updated Client Object.
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Update a Client.
      tags:
      - Clients
      x-openapi-router-controller: openapi_server.controllers.clients_controller
      x-codegen-request-body-name: body
  /api/v2/Clients/{ID}/AvailableUpdateGroupSubscriptions:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: clients_get_available_subscriptions
      parameters:
      - description: The Client ID
        explode: false
        in: path
        name: ID
        required: true
        schema:
          type: string
        style: simple
      - description: Optional. Filter by Update Group.
        explode: true
        in: query
        name: UpdateGroupID
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The page limit. The default page limit is 10.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional. The page offset. The default page offset is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_UpdateSystem.Models.AvailableUpdateGroupSubscription_'
            text/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_UpdateSystem.Models.AvailableUpdateGroupSubscription_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get a Client's Available Update Group Subscriptions
      tags:
      - Clients
      x-openapi-router-controller: openapi_server.controllers.clients_controller
  /api/v2/Clients/{ID}/UpdateGroupSubscriptions:
    get:
      deprecated: false
      description: No Documentation Found.
      operationId: clients_get_subscriptions
      parameters:
      - description: The Client ID
        explode: false
        in: path
        name: ID
        required: true
        schema:
          type: string
        style: simple
      - description: Optional. Filter by Update Group.
        explode: true
        in: query
        name: UpdateGroupID
        required: false
        schema:
          type: string
        style: form
      - description: Optional. The page limit. The default page limit is 10.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional. The page offset. The default page offset is 0.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_UpdateSystem.Models.UpdateGroupSubscription_'
            text/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_UpdateSystem.Models.UpdateGroupSubscription_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get a Client's Current Update Group Subscriptions
      tags:
      - Clients
      x-openapi-router-controller: openapi_server.controllers.clients_controller
  /api/v2/ContentDefinitionAttributes/Batch:
    put:
      deprecated: false
      description: No Documentation Found.
      operationId: content_definitions_put_content_definition_attributes
      requestBody:
        $ref: '#/components/requestBodies/ContentSubmission.Shared.BusinessEntities.ContentDefinitionAttributeArray'
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: No Documentation Found.
      tags:
      - ContentDefinitions
      x-openapi-router-controller: openapi_server.controllers.content_definitions_controller
      x-codegen-request-body-name: body
  /api/v2/ContentDefinitionAttributes/{contentDefinitionAttributeID}:
    delete:
      deprecated: false
      description: No Documentation Found.
      operationId: content_definitions_delete_content_definition_attribute
      parameters:
      - description: The ID of the Attribute to remove.
        explode: false
        in: path
        name: contentDefinitionAttributeID
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Remove an Attribute from a ContentDefinition
      tags:
      - ContentDefinitions
      x-openapi-router-controller: openapi_server.controllers.content_definitions_controller
    put:
      deprecated: false
      description: No Documentation Found.
      operationId: content_definitions_put_content_definition_attribute_async
      parameters:
      - description: The ID of the Attribute to update.
        explode: false
        in: path
        name: contentDefinitionAttributeID
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentSubmission.Shared.BusinessEntities.ContentDefinitionAttribute'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContentSubmission.Shared.BusinessEntities.ContentDefinitionAttribute'
          application/xml:
            schema:
              $ref: '#/components/schemas/ContentSubmission.Shared.BusinessEntities.ContentDefinitionAttribute'
          text/json:
            schema:
              $ref: '#/components/schemas/ContentSubmission.Shared.BusinessEntities.ContentDefinitionAttribute'
          text/xml:
            schema:
              $ref: '#/components/schemas/ContentSubmission.Shared.BusinessEntities.ContentDefinitionAttribute'
        description: The Attribute to update.
        required: true
        x-body-name: body
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Update an Attribute for a ContentDefinition
      tags:
      - ContentDefinitions
      x-openapi-router-controller: openapi_server.controllers.content_definitions_controller
      x-codegen-request-body-name: body
  /api/v2/ContentDefinitions:
    get:
      deprecated: false
      description: "Gets a collection of ContentDefinitions. When successful, the\
        \ response is a PagedResponse of ContentDefinitions.\r\n            If unsuccessful,\
        \ an appropriate ApiError is returned."
      operationId: content_definitions_get_content_definitions
      parameters:
      - description: "Optional. The page limit.  If not specified, the default page\
          \ limit is 10."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Optional. The page offset.  If not specified, the default page\
          \ offset is 0."
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional. Filter by UserID.
        explode: true
        in: query
        name: userID
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Names of Attributes to include when retrieving this definition.\
          \ This should be a comma-separated list. If not provided, Attributes are\
          \ not included. If '*', all Attributes are included."
        explode: true
        in: query
        name: includeAttributes
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Filter by Name. Supports beginning and ending wildcard
          (*).
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Filter by TypeID.
        explode: true
        in: query
        name: typeID
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Optional. Filter by PackageTypeID.
        explode: true
        in: query
        name: packageTypeID
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_ContentSubmission.Shared.BusinessEntities.ContentDefinition_'
            text/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_ContentSubmission.Shared.BusinessEntities.ContentDefinition_'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Get ContentDefinitions
      tags:
      - ContentDefinitions
      x-openapi-router-controller: openapi_server.controllers.content_definitions_controller
    post:
      deprecated: false
      description: "Creates a ContentDefinition.  The body of the POST is the ContentDefinition\
        \ to create.\r\n            The ContentDefinitionID will be assigned on creation\
        \ of the Job.  When successful, the response\r\n            is the JobID.\
        \  If unsuccessful, an appropriate ApiError is returned."
      operationId: content_definitions_post_content_definition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentSubmission.Shared.BusinessEntities.ContentDefinition'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContentSubmission.Shared.BusinessEntities.ContentDefinition'
          application/xml:
            schema:
              $ref: '#/components/schemas/ContentSubmission.Shared.BusinessEntities.ContentDefinition'
          text/json:
            schema:
              $ref: '#/components/schemas/ContentSubmission.Shared.BusinessEntities.ContentDefinition'
          text/xml:
            schema:
              $ref: '#/components/schemas/ContentSubmission.Shared.BusinessEntities.ContentDefinition'
        description: The ContentDefinition to create.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Create a ContentDefinition
      tags:
      - ContentDefinitions
      x-openapi-router-controller: openapi_server.controllers.content_definitions_controller
      x-codegen-request-body-name: body
  /api/v2/ContentDefinitions/{contentDefinitionID}:
    delete:
      deprecated: false
      description: "Deletes an ContentDefinition. When successful, the response is\
        \ empty.  If unsuccessful, an appropriate\r\n            ApiError is returned."
      operationId: content_definitions_delete_content_definition
      parameters:
      - description: The ID of the ContentDefinition to delete
        explode: false
        in: path
        name: contentDefinitionID
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
          description: API Error Response
      summary: Delete a ContentDefinition
      tags:
      - ContentDefinitions
      x-openapi-router-controller: openapi_server.controllers.content_definitions_controller
    get:
      deprecated: false
      description: "Gets a ContentDefinition by ID. When successful, the response\
        \ is the requested ContentDefinition.\r\n            If unsuccessful, an appropriate\
        \ ApiError is returned."
      operationId: content_definitions_get_content_definition
      parameters:
      - description: The ID of the ContentDefinition to get.
        explode: false
        in: path
        name: contentDefinitionID
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: "Names of Attributes to include when retrieving this definition.\
          \ This should be a comma-separated list. If not provided, Attributes are\
          \ not included. If '*', all Attributes are included."
        explode: true
        in: query
[...]
