openapi: 3.0.1
info:
  description: Drive operation endpoints and objects.
  title: FabricAdminClient
  version: 2019-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2019-05-01/Drive.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: azsadmin-Drive
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/drives
  : get:
      description: Returns a list of all storage drives at a location.
      operationId: drives_list
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the scale units.
        in: path
        name: scaleUnit
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the storage system.
        in: path
        name: storageSubSystem
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2019-05-01
          type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveList'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - Drives
      x-ms-examples:
        Returns a list of all storage drives at a location.:
          parameters:
            api-version: 2019-05-01
            location: redmond
            resourceGroupName: System.redmond
            scaleUnit: s-cluster
            storageSubSystem: s-cluster.v.masd.stbtest.microsoft.com
            subscriptionId: 72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/scaleUnits/s-cluster/storageSubSystems/s-cluster.v.masd.stbtest.microsoft.com/drives/{bc489b66-faa7-41f0-bee7-bcba258f10fb}:PD:{0801e862-5bee-a657-7b19-6d1504372ecc}"
                  location: redmond
                  name: "redmond/s-cluster/s-cluster.v.masd.stbtest.microsoft.com/{bc489b66-faa7-41f0-bee7-bcba258f10fb}:PD:{0801e862-5bee-a657-7b19-6d1504372ecc}"
                  properties:
                    action: ""
                    capacityGB: 1024
                    description: ""
                    firmwareVersion: "1.0"
                    healthStatus: Healthy
                    isIndicationEnabled: false
                    manufacturer: Msft
                    mediaType: HDD
                    model: Virtual Disk
                    operationalStatus: OK
                    physicalLocation: "Integrated : Adapter 1 : Port 0 : Target 0\
                      \ : LUN 4"
                    serialNumber: 4GV095AX
                    storageNode: redmond/v-Host4
                    storagePool: SU1_Pool
                    usage: Capacity
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems/drives
            "404": {}
      x-ms-odata: '#/definitions/Drive'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.drives_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/drives/{drive}
  : get:
      description: Return the requested a storage drive.
      operationId: drives_get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the scale units.
        in: path
        name: scaleUnit
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the storage system.
        in: path
        name: storageSubSystem
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the storage drive.
        in: path
        name: drive
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2019-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - Drives
      x-ms-examples:
        Return the requested a storage drive.:
          parameters:
            api-version: 2019-05-01
            drive: "{bc489b66-faa7-41f0-bee7-bcba258f10fb}:PD:{0801e862-5bee-a657-7b19-6d1504372ecc}"
            location: redmond
            resourceGroupName: System.redmond
            scaleUnit: s-cluster
            storageSubSystem: s-cluster.v.masd.stbtest.microsoft.com
            subscriptionId: 72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d
          responses:
            "200":
              body:
                id: "/subscriptions/72526b2b-4b61-4700-8f0c-7bb7ae9b6a2d/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/scaleUnits/s-cluster/storageSubSystems/s-cluster.v.masd.stbtest.microsoft.com/drives/{bc489b66-faa7-41f0-bee7-bcba258f10fb}:PD:{0801e862-5bee-a657-7b19-6d1504372ecc}"
                location: redmond
                name: "redmond/s-cluster/s-cluster.v.masd.stbtest.microsoft.com/{bc489b66-faa7-41f0-bee7-bcba258f10fb}:PD:{0801e862-5bee-a657-7b19-6d1504372ecc}"
                properties:
                  action: ""
                  capacityGB: 1024
                  description: ""
                  firmwareVersion: "1.0"
                  healthStatus: Healthy
                  isIndicationEnabled: false
                  manufacturer: Msft
                  mediaType: HDD
                  model: Virtual Disk
                  operationalStatus: OK
                  physicalLocation: "Integrated : Adapter 1 : Port 0 : Target 0 :\
                    \ LUN 4"
                  serialNumber: 4GV095AX
                  storageNode: redmond/v-Host4
                  storagePool: SU1_Pool
                  usage: Capacity
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems/drives
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.drives_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2019-05-01
        type: string
    DriveParameter:
      description: Name of the storage drive.
      in: path
      name: drive
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Drive:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Representation of a drive resource.
      example:
        properties:
          operationalStatus: operationalStatus
          physicalLocation: physicalLocation
          serialNumber: serialNumber
          usage: usage
          description: description
          mediaType: mediaType
          manufacturer: manufacturer
          storageNode: storageNode
          healthStatus: healthStatus
          capacityGB: 0
          action: action
          model: model
          firmwareVersion: firmwareVersion
          isIndicationEnabled: true
          storagePool: storagePool
      properties:
        properties:
          $ref: '#/components/schemas/DriveModel'
      title: Drive
    DriveList:
      description: Pageable list of storage drives.
      example:
        value:
        - properties:
            operationalStatus: operationalStatus
            physicalLocation: physicalLocation
            serialNumber: serialNumber
            usage: usage
            description: description
            mediaType: mediaType
            manufacturer: manufacturer
            storageNode: storageNode
            healthStatus: healthStatus
            capacityGB: 0
            action: action
            model: model
            firmwareVersion: firmwareVersion
            isIndicationEnabled: true
            storagePool: storagePool
        - properties:
            operationalStatus: operationalStatus
            physicalLocation: physicalLocation
            serialNumber: serialNumber
            usage: usage
            description: description
            mediaType: mediaType
            manufacturer: manufacturer
            storageNode: storageNode
            healthStatus: healthStatus
            capacityGB: 0
            action: action
            model: model
            firmwareVersion: firmwareVersion
            isIndicationEnabled: true
            storagePool: storagePool
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          title: nextLink
          type: string
        value:
          description: List of storage drives.
          items:
            $ref: '#/components/schemas/Drive'
          title: value
          type: array
      title: DriveList
      type: object
    DriveModel:
      description: Properties of a drive.
      example:
        operationalStatus: operationalStatus
        physicalLocation: physicalLocation
        serialNumber: serialNumber
        usage: usage
        description: description
        mediaType: mediaType
        manufacturer: manufacturer
        storageNode: storageNode
        healthStatus: healthStatus
        capacityGB: 0
        action: action
        model: model
        firmwareVersion: firmwareVersion
        isIndicationEnabled: true
        storagePool: storagePool
      properties:
        action:
          description: Detailed recommended action for HealthStatus/OperationalStatus.
            Empty if HealthStatus/OperationalStatus is Healthy/Ok.
          readOnly: true
          title: action
          type: string
        capacityGB:
          description: Total capacity in GB of the drive.
          format: int32
          readOnly: true
          title: capacityGB
          type: integer
        description:
          description: Detailed description for HealthStatus/OperationalStatus. Empty
            if HealthStatus/OperationalStatus is Healthy/Ok.
          readOnly: true
          title: description
          type: string
        firmwareVersion:
          description: The firmware version of the drive.
          readOnly: true
          title: firmwareVersion
          type: string
        healthStatus:
          description: Health status of the drive.
          readOnly: true
          title: healthStatus
          type: string
        isIndicationEnabled:
          description: Indicate whether the drive's identification LEDs are active
            or not.
          readOnly: true
          title: isIndicationEnabled
          type: boolean
        manufacturer:
          description: The name of the drive's manufacturer.
          readOnly: true
          title: manufacturer
          type: string
        mediaType:
          description: Media type of the drive.
          readOnly: true
          title: mediaType
          type: string
        model:
          description: Model of the drive.
          readOnly: true
          title: model
          type: string
        operationalStatus:
          description: Operational status of the drive.
          readOnly: true
          title: operationalStatus
          type: string
        physicalLocation:
          description: Indicate where the hardware is located.
          readOnly: true
          title: physicalLocation
          type: string
        serialNumber:
          description: Serial number of the drive.
          readOnly: true
          title: serialNumber
          type: string
        storageNode:
          description: Node that the drive is physically connected.
          readOnly: true
          title: storageNode
          type: string
        storagePool:
          description: The storage pool where the drive is located.
          readOnly: true
          title: storagePool
          type: string
        usage:
          description: Intended usage of the drive.
          readOnly: true
          title: usage
          type: string
      title: DriveModel
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
