openapi: 3.1.0
info:
  contact:
    email: support@codat.io
    name: Codat
  description: "Codat's Commerce API allows you to access standardised data from over\
    \ 11 commerce and POS systems.\n\nStandardize how you connect to your customers’\
    \ payment, PoS, and eCommerce systems. Retrieve orders, payouts, payments, and\
    \ product data in the same way for all the leading commerce platforms.\n\n[Read\
    \ more...](https://docs.codat.io/commerce-api/overview)\n\n[See our OpenAPI spec](https://github.com/codatio/oas) "
  termsOfService: https://www.codat.io/legals/
  title: Commerce API
  version: 2.1.0
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://static.codat.io/public/branding/codat-icon-blue.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/codatio/oas/main/json/Codat-Commerce.json
    version: "3.1"
  x-providerName: codat.io
  x-serviceName: commerce
servers:
- description: Production
  url: https://api.codat.io
security:
- auth_header: []
tags:
- description: Retrieve standardized data from linked commerce platforms.
  name: Customers
- description: Retrieve standardized data from linked commerce platforms.
  name: Disputes
- description: Retrieve standardized data from linked commerce platforms.
  name: Company info
- description: Retrieve standardized data from linked commerce platforms.
  name: Locations
- description: Retrieve standardized data from linked commerce platforms.
  name: Orders
- description: Retrieve standardized data from linked commerce platforms.
  name: Payments
- description: Retrieve standardized data from linked commerce platforms.
  name: Products
- description: Retrieve standardized data from linked commerce platforms.
  name: Tax components
- description: Retrieve standardized data from linked commerce platforms.
  name: Transactions
paths:
  /companies/{companyId}/connections/{connectionId}/data/commerce-customers:
    get:
      description: List all commerce customers for the given company and data connection
      operationId: list_customers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/orderBy'
      responses:
        "200":
          content:
            application/json:
              examples:
                Customers:
                  value:
                    _links:
                      current:
                        href: ../dictionary
                      next:
                        href: ../dictionary
                      previous:
                        href: ../dictionary
                      self:
                        href: ../dictionary
                    pageNumber: 0
                    pageSize: 0
                    results:
                    - amount: 194.12
                      createdDate: 2019-08-24T14:15:22Z
                      currency: GBP
                      dueDate: 2019-08-24T14:15:22Z
                      id: 13d946f0-c5d5-42bc-b092-97ece17923ab
                      modifiedDate: 2019-08-24T14:15:22Z
                      paymentMethodRef:
                        id: EILBDVJVNUAGVKRQ
                        name: AliPay
                      paymentProvider: Amazon Pay
                      sourceModifiedDate: 2019-08-24T14:15:22Z
                      status: Pending
                    totalResults: 0
              schema:
                $ref: '#/components/schemas/Customers'
          description: OK
      summary: List customers
      tags:
      - Customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
  /companies/{companyId}/connections/{connectionId}/data/commerce-disputes:
    get:
      description: List commerce disputes
      operationId: list_disputes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/orderBy'
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    _links:
                      current:
                        href: ../dictionary
                      next:
                        href: ../dictionary
                      previous:
                        href: ../dictionary
                      self:
                        href: ../dictionary
                    pageNumber: 0
                    pageSize: 0
                    results:
                    - createdDate: 2019-08-24T14:15:22Z
                      currency: GBP
                      disputedTransactions:
                        id: 13d946f0-c5d5-42bc-b092-97ece17923ab
                        type: Fee
                      dueDate: 2021-03-29T14:39:55
                      id: 13d946f0-c5d5-42bc-b092-97ece17923ab
                      modifiedDate: 2019-08-24T14:15:22Z
                      reason: Unhappy with product
                      sourceModifiedDate: 2019-08-24T14:15:22Z
                      status: Won
                      totalAmount: 194.12
                    totalResults: 0
              schema:
                $ref: '#/components/schemas/Disputes'
          description: OK
      summary: List disputes
      tags:
      - Disputes
      x-openapi-router-controller: openapi_server.controllers.disputes_controller
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
  /companies/{companyId}/connections/{connectionId}/data/commerce-info:
    get:
      description: |-
        Retrieve information about the company, as seen in the commerce platform.

        This may include information like addresses, tax registration details and social media or website information.
      operationId: get_company_info
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/connectionId'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyInfo'
          description: OK
      summary: Get company info
      tags:
      - Company info
      x-openapi-router-controller: openapi_server.controllers.company_info_controller
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
  /companies/{companyId}/connections/{connectionId}/data/commerce-locations:
    get:
      description: |-
        Retrieve a list of locations as seen in the commerce platform.

        A `location` is a geographic place at which stocks of products may be held, or from where orders were placed.
      operationId: list_locations
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/connectionId'
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    _links:
                      current:
                        href: ../dictionary
                      next:
                        href: ../dictionary
                      previous:
                        href: ../dictionary
                      self:
                        href: ../dictionary
                    pageNumber: 0
                    pageSize: 0
                    results:
                    - address:
                        city: string
                        country: string
                        line1: string
                        line2: string
                        postalCode: string
                        region: string
                        type: Billing
                      id: 13d946f0-c5d5-42bc-b092-97ece17923ab
                      modifiedDate: 2019-08-24T14:15:22Z
                      name: string
                      sourceModifiedDate: 2019-08-24T14:15:22Z
                    totalResults: 0
              schema:
                $ref: '#/components/schemas/LocationsResponse'
          description: OK
      summary: List locations
      tags:
      - Locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
  /companies/{companyId}/connections/{connectionId}/data/commerce-orders:
    get:
      description: Get a list of orders placed or held on the linked commerce platform
      operationId: list_orders
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/orderBy'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders'
              x-speakeasy-usage-example: true
          description: OK
      summary: List orders
      tags:
      - Orders
      x-openapi-router-controller: openapi_server.controllers.orders_controller
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
  /companies/{companyId}/connections/{connectionId}/data/commerce-paymentMethods:
    get:
      description: "Retrieve a list of payment methods, such as card, cash or other\
        \ online payment methods, as held in the linked commerce platform."
      operationId: list_payment_methods
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/orderBy'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethods'
          description: OK
      summary: List payment methods
      tags:
      - Payments
      x-openapi-router-controller: openapi_server.controllers.payments_controller
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
  /companies/{companyId}/connections/{connectionId}/data/commerce-payments:
    get:
      description: List commerce payments for the given company & data connection.
      operationId: list_payments
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/orderBy'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments'
          description: OK
      summary: List payments
      tags:
      - Payments
      x-openapi-router-controller: openapi_server.controllers.payments_controller
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
  /companies/{companyId}/connections/{connectionId}/data/commerce-productCategories:
    get:
      description: "Product categories are used to classify a group of products together,\
        \ either by type (eg \"Furniture\"), or sometimes by tax profile."
      operationId: list_product_categories
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/orderBy'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCategories'
          description: OK
      summary: List product categories
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
  /companies/{companyId}/connections/{connectionId}/data/commerce-products:
    get:
      description: "The Products data type provides the company's product inventory,\
        \ and includes the price and quantity of all products, and product variants,\
        \ available for sale."
      operationId: list_products
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/orderBy'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products'
          description: OK
      summary: List products
      tags:
      - Products
      x-openapi-router-controller: openapi_server.controllers.products_controller
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
  /companies/{companyId}/connections/{connectionId}/data/commerce-taxComponents:
    get:
      description: "This endpoint returns a lits of tax rates from the commerce platform,\
        \ including tax rate names and values. This supports the mapping of tax rates\
        \ from the commerce platform to the accounting platform."
      operationId: get_tax_components
      parameters:
      - $ref: '#/components/parameters/companyId'
      - $ref: '#/components/parameters/connectionId'
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  value:
                    taxComponents:
                    - id: 85b32439-37a0-4085-b710-054732bbcea2
                      isCompound: false
                      modifiedDate: 2021-08-06T06:00:27
                      name: Sales Tax (10%)
                      rate: 0.1
                      sourceModifiedDate: 2021-08-06T06:00:27
                    - id: 687e67ae-80f2-44e0-b17a-6a3e1f9c00f9
                      isCompound: false
                      modifiedDate: 2021-08-06T06:00:27
                      name: Sales Tax (15%)
                      rate: 0.15
                      sourceModifiedDate: 2022-04-25T02:45:27
              schema:
                $ref: '#/components/schemas/TaxComponents'
          description: OK
      summary: List tax components
      tags:
      - Tax components
      x-openapi-router-controller: openapi_server.controllers.tax_components_controller
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
  /companies/{companyId}/connections/{connectionId}/data/commerce-transactions:
    get:
      description: "Details of all financial transactions recorded in the commerce\
        \ or point of sale system are added to the Transactions data type. For example,\
        \ payments, service charges, and fees."
      operationId: list_transactions
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/orderBy'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
          description: OK
      summary: List transactions
      tags:
      - Transactions
      x-openapi-router-controller: openapi_server.controllers.transactions_controller
    parameters:
    - $ref: '#/components/parameters/companyId'
    - $ref: '#/components/parameters/connectionId'
components:
  parameters:
    companyId:
      explode: false
      in: path
      name: companyId
      required: true
      schema:
        description: Unique identifier for your SMB in Codat.
        example: 8a210b68-6988-11ed-a1eb-0242ac120002
        format: uuid
        type: string
      style: simple
    connectionId:
      explode: false
      in: path
      name: connectionId
      required: true
      schema:
        description: Unique identifier for a company's data connection.
        example: 2e9d2c44-f675-40ba-8049-353bfcb5e171
        format: uuid
        type: string
      style: simple
    orderBy:
      description: "Field to order results by. [Read more](https://docs.codat.io/using-the-api/ordering-results)."
      explode: true
      in: query
      name: order_by
      required: false
      schema:
        example: -modifiedDate
        type: string
      style: form
      x-stoplight:
        id: 4je9lwo02netu
      x-python-connexion-openapi-name: orderBy
    page:
      description: "Page number. [Read more](https://docs.codat.io/using-the-api/paging)."
      explode: true
      in: query
      name: page
      required: true
      schema:
        default: 1
        example: 1
        format: int32
        minimum: 0
        type: integer
      style: form
      x-stoplight:
        id: 1318joqblpp4e
    pageSize:
      description: "Number of records to return in a page. [Read more](https://docs.codat.io/using-the-api/paging)."
      explode: true
      in: query
      name: page_size
      required: false
      schema:
        default: 100
        example: 100
        format: int32
        maximum: 5000
        minimum: 1
        type: integer
      style: form
      x-stoplight:
        id: s2ika6rltk5y6
      x-python-connexion-openapi-name: pageSize
    query:
      description: "Codat query string. [Read more](https://docs.codat.io/using-the-api/querying)."
      explode: true
      in: query
      name: query
      required: false
      schema:
        type: string
      style: form
      x-stoplight:
        id: gupdb9kt30hfq
  schemas:
    Address:
      example:
        country: country
        city: city
        postalCode: postalCode
        region: region
        type: Billing
        line2: line2
        line1: line1
      properties:
        city:
          description: "The third line of the address, or city"
          title: city
          type: string
        country:
          description: The country for the address
          title: country
          type: string
        line1:
          description: The first line of the address
          title: line1
          type: string
        line2:
          description: The second line of the address
          title: line2
          type: string
        postalCode:
          description: The postal (or zip) code for the address
          title: postalCode
          type: string
        region:
          description: "The fourth line of the address, or region"
          title: region
          type: string
        type:
          $ref: '#/components/schemas/Address/definitions/addressType'
      title: Address
      x-internal: true
      definitions:
        addressType:
          description: The type of the address
          enum:
          - Billing
          - Delivery
          - Order
          - Inventory
          - Unknown
          type: string
    CompanyInfo:
      allOf:
      - properties:
          accountBalances:
            description: The available and current cash balances for the company's
              accounts
            items:
              $ref: '#/components/schemas/CompanyInfo/definitions/accountBalance'
            type: array
          addresses:
            description: Addresses associated with the company
            items:
              $ref: '#/components/schemas/Address'
            type: array
          baseCurrency:
            $ref: '#/components/schemas/Transaction/allOf/1/properties/currency'
          commercePlatformRef:
            description: Identifier or reference for the company in the commerce platform
            type: string
          companyLegalName:
            description: The full legal name of the company
            example: Codat Limited
            type: string
          companyName:
            description: The name of the company
            example: Codat
            type: string
          phoneNumbers:
            description: Phone numbers associated with the company
            items:
              $ref: '#/components/schemas/PhoneNumber'
            type: array
          registrationNumber:
            description: The registration number of the company
            type: string
          sourceUrls:
            additionalProperties:
              type: string
            description: "URL addresses for the originating system. For example, potential\
              \ use cases include 'deeplinking' to the originating system"
            example:
              url1: https://connect.sandbox.com/v2/customers
              url2: https://connect.sandbox.com/v2/disputes
          webLinks:
            description: Weblinks associated with the company
            items:
              $ref: '#/components/schemas/Weblink'
            type: array
      - $ref: '#/components/schemas/CreatedDate'
      - $ref: '#/components/schemas/ModifiedDates'
      description: "In the Codat system, company information includes standard commercial\
        \ details about \na linked company, such as their address, phone number, and\
        \ company registration.\n\nExplore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=companyInfo)\
        \ for this data type.\n"
      example:
        addresses:
        - country: country
          city: city
          postalCode: postalCode
          region: region
          type: Billing
          line2: line2
          line1: line1
        - country: country
          city: city
          postalCode: postalCode
          region: region
          type: Billing
          line2: line2
          line1: line1
        companyName: Codat
        baseCurrency: null
        phoneNumbers:
        - number: number
          type: Primary
        - number: number
          type: Primary
        createdDate: 2022-10-23T00:00:00Z
        sourceModifiedDate: 2022-10-23T00:00:00Z
        accountBalances:
        - reserved: 1.4658129805029452
          pending: 6.027456183070403
          available: 0.8008281904610115
          currency: ""
        - reserved: 1.4658129805029452
          pending: 6.027456183070403
          available: 0.8008281904610115
          currency: ""
        commercePlatformRef: commercePlatformRef
        registrationNumber: registrationNumber
        modifiedDate: 2022-10-23T00:00:00Z
        companyLegalName: Codat Limited
        webLinks:
        - "{type=Website, url=https://codat.io}"
        - "{type=Website, url=https://codat.io}"
        sourceUrls:
          url1: https://connect.sandbox.com/v2/customers
          url2: https://connect.sandbox.com/v2/disputes
      title: Company Info
      definitions:
        accountBalance:
          properties:
            available:
              description: The account's current balance
              format: decimal
              type: number
            currency:
              allOf:
              - $ref: '#/components/schemas/Transaction/allOf/1/properties/currency'
              description: The currency of the account
            pending:
              description: Funds that are not yet available in the balance
              format: decimal
              type: number
            reserved:
              description: Funds reserved as holdings
              format: decimal
              type: number
          title: Account Balance
          type: object
          x-internal: true
    CreatedDate:
      properties:
        createdDate:
          $ref: '#/components/schemas/DateTime'
      title: CreatedDate
      x-internal: true
    Customer:
      allOf:
      - $ref: '#/components/schemas/Order/allOf/0'
      - properties:
          addresses:
            description: Addresses of the customer
            items:
              $ref: '#/components/schemas/Address'
            type: array
          customerName:
            description: Name of the customer
            example: Fred Smith
            type: string
          defaultCurrency:
            $ref: '#/components/schemas/Customer_allOf_defaultCurrency'
          emailAddress:
            description: Email address of the customer
            example: fred.smith@myCompany.com
            type: string
          note:
            description: Any additional information about the customer
            type: string
          phone:
            $ref: '#/components/schemas/PhoneNumber/properties/number'
      - $ref: '#/components/schemas/CreatedDate'
      - $ref: '#/components/schemas/ModifiedDates'
      description: |-
        When a customer places an order with the connected commerce store their details are added to the Customers dataset. You can use the data from the Customers endpoints to calculate key metrics, such as customer churn.

        Explore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-customers) for this data type.
      example:
        note: note
        addresses:
        - country: country
          city: city
          postalCode: postalCode
          region: region
          type: Billing
          line2: line2
          line1: line1
        - country: country
          city: city
          postalCode: postalCode
          region: region
          type: Billing
          line2: line2
          line1: line1
        emailAddress: fred.smith@myCompany.com
        createdDate: 2022-10-23T00:00:00Z
        sourceModifiedDate: 2022-10-23T00:00:00Z
        phone: null
        defaultCurrency: {}
        modifiedDate: 2022-10-23T00:00:00Z
        id: id
        customerName: Fred Smith
      title: Customer
      definitions:
        customerRef:
          description: Reference to the customer that placed the order.
          properties:
            id:
              description: The unique identitifer of the customer being referenced
              examples:
              - 13d946f0-c5d5-42bc-b092-97ece17923ab
              - 9wg4lep4ush5cxs79pl8sozmsndbaukll3ind4g7buqbm1h2
              - 7110701885
              - EILBDVJVNUAGVKRQ
              type: string
            name:
              description: Name of the customer being referenced.
              type: string
          required:
          - id
          - name
          type: object
    Customers:
      allOf:
      - properties:
          results:
            items:
              $ref: '#/components/schemas/Customer'
            type: array
      - $ref: '#/components/schemas/PagingInfo'
      example:
        totalResults: 1
        pageNumber: 0
        _links:
          next:
            href: href
          current:
            href: href
          previous:
            href: href
          self:
            href: href
        pageSize: 6
        results:
        - note: note
          addresses:
          - country: country
            city: city
            postalCode: postalCode
            region: region
            type: Billing
            line2: line2
            line1: line1
          - country: country
            city: city
            postalCode: postalCode
            region: region
            type: Billing
            line2: line2
            line1: line1
          emailAddress: fred.smith@myCompany.com
          createdDate: 2022-10-23T00:00:00Z
          sourceModifiedDate: 2022-10-23T00:00:00Z
          phone: null
          defaultCurrency: {}
          modifiedDate: 2022-10-23T00:00:00Z
          id: id
          customerName: Fred Smith
        - note: note
          addresses:
          - country: country
            city: city
            postalCode: postalCode
            region: region
            type: Billing
            line2: line2
            line1: line1
          - country: country
            city: city
            postalCode: postalCode
            region: region
            type: Billing
            line2: line2
            line1: line1
          emailAddress: fred.smith@myCompany.com
          createdDate: 2022-10-23T00:00:00Z
          sourceModifiedDate: 2022-10-23T00:00:00Z
          phone: null
          defaultCurrency: {}
          modifiedDate: 2022-10-23T00:00:00Z
          id: id
          customerName: Fred Smith
      title: Customers
      x-internal: true
    DateTime:
      description: "In Codat's data model, dates and times are represented using the\
        \ <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"\
        _blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings;\
        \ for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\
        \nWhen syncing data that contains `DateTime` fields from Codat, make sure\
        \ you support the following cases when reading time information:\n\n- Coordinated\
        \ Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time:\
        \ `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\
        \n> Time zones\n> \n> Not all dates from Codat will contain information about\
        \ time zones.  \n> Where it is not available from the underlying platform,\
        \ Codat will return these as times local to the business whose data has been\
        \ synced."
      example: 2022-10-23T00:00:00Z
      title: Date time
      type: string
    Dispute:
      allOf:
      - $ref: '#/components/schemas/Order/allOf/0'
      - properties:
          currency:
            $ref: '#/components/schemas/Transaction/allOf/1/properties/currency'
          disputedTransactions:
            $ref: '#/components/schemas/Transaction/definitions/transactionSourceRef'
          dueDate:
            $ref: '#/components/schemas/DateTime'
          reason:
            description: Reason for the dispute
            type: string
          status:
            $ref: '#/components/schemas/Dispute/definitions/disputeStatus'
          totalAmount:
            description: Total transaction amount that is under dispute.
            type: number
        required:
        - currency
      - $ref: '#/components/schemas/CreatedDate'
      - $ref: '#/components/schemas/ModifiedDates'
      description: "A customer may file a payment dispute with their bank or other\
        \ card issuer when they're unsatisfied with their purchase or believe they\
        \ have been charged incorrectly. For example:  \n- They didn't receive an\
        \ order.  \n- The product they received was different to the commerce store's\
        \ description.  \n- They've been the victim of online fraud.  \n\nYou can\
        \ use data from the Disputes endpoints to calculate key metrics, such as the\
        \ number of chargebacks.\n\nExplore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-disputes)\
        \ for this data type."
      example:
        reason: reason
        totalAmount: 0.8008281904610115
        createdDate: 2022-10-23T00:00:00Z
        sourceModifiedDate: 2022-10-23T00:00:00Z
        dueDate: 2022-10-23T00:00:00Z
        modifiedDate: 2022-10-23T00:00:00Z
        currency: null
        id: id
        disputedTransactions:
          id: id
          type: Fee
        status: EvidenceRequired
      title: Dispute
      definitions:
        disputeStatus:
          description: Current status of the dispute
          enum:
          - Won
          - Lost
          - Accepted
          - Processing
          - ChargeRefunded
          - EvidenceRequired
          - InquiryEvidenceRequired
          - InquiryProcessing
          - InquiryClosed
          - WaitingThirdParty
          - Unknown
          example: EvidenceRequired
          type: string
          x-internal: true
    Disputes:
      allOf:
      - properties:
          results:
            items:
              $ref: '#/components/schemas/Dispute'
            type: array
      - $ref: '#/components/schemas/PagingInfo'
      example:
        totalResults: 5
        pageNumber: 6
        _links:
          next:
            href: href
          current:
            href: href
          previous:
            href: href
          self:
            href: href
        pageSize: 1
        results:
        - reason: reason
          totalAmount: 0.8008281904610115
          createdDate: 2022-10-23T00:00:00Z
          sourceModifiedDate: 2022-10-23T00:00:00Z
          dueDate: 2022-10-23T00:00:00Z
          modifiedDate: 2022-10-23T00:00:00Z
          currency: null
          id: id
          disputedTransactions:
            id: id
            type: Fee
          status: EvidenceRequired
        - reason: reason
          totalAmount: 0.8008281904610115
          createdDate: 2022-10-23T00:00:00Z
          sourceModifiedDate: 2022-10-23T00:00:00Z
          dueDate: 2022-10-23T00:00:00Z
          modifiedDate: 2022-10-23T00:00:00Z
          currency: null
          id: id
          disputedTransactions:
            id: id
            type: Fee
          status: EvidenceRequired
      title: Disputes
      x-internal: true
    HRef:
      example:
        href: href
      properties:
        href:
          format: uri-reference
          title: href
          type: string
      title: Hypertext reference
      x-internal: true
    Links:
      example:
        next:
          href: href
        current:
          href: href
        previous:
          href: href
        self:
          href: href
      properties:
        current:
          $ref: '#/components/schemas/HRef'
        next:
          $ref: '#/components/schemas/HRef'
        previous:
          $ref: '#/components/schemas/HRef'
        self:
          $ref: '#/components/schemas/HRef'
      required:
      - current
      - self
      title: Links
      x-internal: true
    Locations:
      allOf:
      - $ref: '#/components/schemas/Order/allOf/0'
      - properties:
          address:
            $ref: '#/components/schemas/Address'
          name:
            description: Name of this location
            type: string
      - $ref: '#/components/schemas/ModifiedDates'
      description: |-
        The Locations datatype holds information on geographic locations at which stocks of products may be held, as referenced in the Products data type.

        Locations also holds information on geographic locations where orders were placed, as referenced in the Orders data type.

        Explore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-locations) for this data type.
      example:
        address:
          country: country
          city: city
          postalCode: postalCode
          region: region
          type: Billing
          line2: line2
          line1: line1
        sourceModifiedDate: 2022-10-23T00:00:00Z
        name: name
        modifiedDate: 2022-10-23T00:00:00Z
        id: id
      title: Locations
      definitions:
        locationRef:
          description: Reference to the geographic location where the order was placed.
          properties:
            id:
              description: The unique identitifer of the location being referenced.
              examples:
              - 13d946f0-c5d5-42bc-b092-97ece17923ab
              - 9wg4lep4ush5cxs79pl8sozmsndbaukll3ind4g7buqbm1h2
              - 7110701885
              - EILBDVJVNUAGVKRQ
              type: string
            name:
              description: Name of the location being referenced.
              type: string
          required:
          - id
          - name
          type: object
    LocationsResponse:
      allOf:
      - properties:
          results:
            items:
              $ref: '#/components/schemas/Locations'
            type: array
      - $ref: '#/components/schemas/PagingInfo'
      example:
        totalResults: 1
        pageNumber: 0
        _links:
          next:
            href: href
          current:
            href: href
          previous:
            href: href
          self:
            href: href
        pageSize: 6
        results:
        - address:
            country: country
            city: city
            postalCode: postalCode
            region: region
            type: Billing
            line2: line2
            line1: line1
          sourceModifiedDate: 2022-10-23T00:00:00Z
          name: name
          modifiedDate: 2022-10-23T00:00:00Z
          id: id
        - address:
            country: country
            city: city
            postalCode: postalCode
            region: region
            type: Billing
            line2: line2
            line1: line1
          sourceModifiedDate: 2022-10-23T00:00:00Z
          name: name
          modifiedDate: 2022-10-23T00:00:00Z
          id: id
      title: LocationsResponse
      x-internal: true
    ModifiedDates:
      allOf:
      - properties:
          modifiedDate:
            $ref: '#/components/schemas/DateTime'
        title: ModifiedDate
        x-internal: true
      - properties:
          sourceModifiedDate:
            $ref: '#/components/schemas/DateTime'
        title: Source Modified Date
        x-internal: true
      title: ModifiedDates
      x-internal: true
    Order:
      allOf:
      - properties:
          id:
            description: "A unique, persistent identifier for this record"
            type: string
            x-codat-validation:
            - validator: UniqueWithinConnection
        required:
        - id
        x-stoplight:
          id: 516bf0ecc4907
      - properties:
          closedDate:
            $ref: '#/components/schemas/DateTime'
          country:
            description: "The Codat country property is returned as it was provided\
              \ in the underlying platform by the company without any formatting on\
              \ our part.\n\nDepending on the platform the value of this property\
              \ will either be an <a href=\"https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes\"\
              \ target=\"_blank\">ISO 3166</a> code (2-alpha or 3-alpha) or free-form\
              \ text returned as a string name in our model. \n\nFor POST operations\
              \ against platforms that demand a specific format for the country code,\
              \ we have documented accepted values in the [options](https://docs.codat.io/codat-api#/operations/get-companies-companyId-connections-connectionId-push)\
              \ endpoint."
            format: ISO3166 Alpha-3
            type: string
          currency:
            $ref: '#/components/schemas/Order_allOf_currency'
          customerRef:
            $ref: '#/components/schemas/Customer/definitions/customerRef'
          locationRef:
            $ref: '#/components/schemas/Locations/definitions/locationRef'
          orderLineItems:
            items:
              $ref: '#/components/schemas/Order/definitions/orderLineItem'
            type: array
          orderNumber:
            description: Friendly reference for the order in the commerce or point
              of sale platform.
            type: string
          payments:
            items:
              $ref: '#/components/schemas/Payment/definitions/paymentRef'
            type: array
          serviceCharges:
            items:
              $ref: '#/components/schemas/Order/definitions/serviceCharge'
            type: array
          totalAmount:
            description: "Total amount of the order, including tax, net of any discounts\
              \ and refunds."
            type: number
          totalDiscount:
            description: Total amount of discount applied to the order.
            type: number
          totalGratuity:
            description: Extra amount added to a bill.
            type: number
          totalRefund:
            description: Total amount refunded issued by a merchant on an order (always
              a negative value).
            type: number
          totalTaxAmount:
            description: Total amount of tax applied to the order.
            type: number
      - $ref: '#/components/schemas/CreatedDate'
      - $ref: '#/components/schemas/ModifiedDates'
      description: |
        Orders contain the transaction details for all products sold by the company, and include details of any payments, service charges, or refunds related to each order. You can use data from the Orders endpoints to calculate key metrics, such as gross sales values and monthly recurring revenue (MRR).

        Explore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-orders) for this data type.
      example:
        country: country
        serviceCharges:
        - totalAmount: 4.145608029883936
          quantity: 9
          taxPercentage: 2.027123023002322
          description: A service charge
          taxes:
          - rate: 1.4658129805029452
            taxComponentRef:
              name: name
              id: id
          - rate: 1.4658129805029452
            taxComponentRef:
              name: name
              id: id
          taxAmount: 3.616076749251911
          type: Overpayment
        - totalAmount: 4.145608029883936
          quantity: 9
          taxPercentage: 2.027123023002322
          description: A service charge
          taxes:
          - rate: 1.4658129805029452
            taxComponentRef:
              name: name
              id: id
          - rate: 1.4658129805029452
            taxComponentRef:
              name: name
              id: id
          taxAmount: 3.616076749251911
          type: Overpayment
        orderNumber: orderNumber
        payments:
        - amount: 7.061401241503109
          createdDate: 2022-10-23T00:00:00Z
          sourceModifiedDate: 2022-10-23T00:00:00Z
          paymentProvider: paymentProvider
          dueDate: 2022-10-23T00:00:00Z
          modifiedDate: 2022-10-23T00:00:00Z
          currency: null
          id: id
          type: Cash
          status: Pending
        - amount: 7.061401241503109
          createdDate: 2022-10-23T00:00:00Z
          sourceModifiedDate: 2022-10-23T00:00:00Z
          paymentProvider: paymentProvider
          dueDate: 2022-10-23T00:00:00Z
          modifiedDate: 2022-10-23T00:00:00Z
          currency: null
          id: id
          type: Cash
          status: Pending
        totalRefund: 1.4894159098541704
        totalGratuity: 1.0246457001441578
        totalAmount: 7.386281948385884
        createdDate: 2022-10-23T00:00:00Z
        sourceModifiedDate: 2022-10-23T00:00:00Z
        closedDate: 2022-10-23T00:00:00Z
        customerRef:
          name: name
          id: id
        locationRef:
          name: name
          id: id
        modifiedDate: 2022-10-23T00:00:00Z
        totalDiscount: 1.2315135367772556
        currency: {}
        id: id
        orderLineItems:
        - unitPrice: 2.3021358869347655
          totalAmount: 5.962133916683182
          quantity: 0.8008281904610115
          productVariantRef:
            name: name
            id: id
          taxPercentage: 6.027456183070403
          productRef:
            name: name
            id: id
          taxes:
          - rate: 1.4658129805029452
            taxComponentRef:
              name: name
              id: id
          - rate: 1.4658129805029452
            taxComponentRef:
              name: name
              id: id
          discountAllocations:
          - totalAmount: 15.25
            name: Promotional Discount
          - totalAmount: 15.25
            name: Promotional Discount
          id: id
          totalTaxAmount: 5.637376656633329
        - unitPrice: 2.3021358869347655
          totalAmount: 5.962133916683182
          quantity: 0.8008281904610115
          productVariantRef:
            name: name
            id: id
          taxPercentage: 6.027456183070403
          productRef:
            name: name
            id: id
          taxes:
          - rate: 1.4658129805029452
            taxComponentRef:
              name: name
              id: id
          - rate: 1.4658129805029452
            taxComponentRef:
              name: name
              id: id
          discountAllocations:
          - totalAmount: 15.25
            name: Promotional Discount
          - totalAmount: 15.25
            name: Promotional Discount
          id: id
          totalTaxAmount: 5.637376656633329
        totalTaxAmount: 6.84685269835264
      title: Order
      definitions:
        orderDiscountAllocation:
          properties:
            name:
              description: Name of the discount in the commerce or point of sale platform.
              example: Promotional Discount
              type: string
            totalAmount:
              description: Total amount of discount applied.
              example: 15.25
              type: number
          type: object
          x-internal: true
        orderLineItem:
          allOf:
          - $ref: '#/components/schemas/Order/allOf/0'
          - properties:
              discountAllocations:
                items:
                  $ref: '#/components/schemas/Order/definitions/orderDiscountAllocation'
                type: array
              productRef:
                $ref: '#/components/schemas/Product/definitions/productRef'
              productVariantRef:
                $ref: '#/components/schemas/Product/definitions/productVariantRef'
              quantity:
                description: |
                  Number of units of the product sold.
                  For refunds, quantity is a negative value.
                type: number
              taxPercentage:
                description: Percentage rate (from 0 to 100) of any sale tax applied
                  to the unit amount.
                examples:
                - 0
                - 12.5
                - "45.00"
                type: number
              taxes:
                description: Taxes breakdown as applied to order lines.
                items:
                  $ref: '#/components/schemas/TaxComponent/definitions/taxComponentAllocation'
                type: array
              totalAmount:
                description: "Total price of the line item, including discounts, tax\
                  \ and minus any refunds."
                type: number
              totalTaxAmount:
                description: Total amount of tax applied to the line item.
                type: number
              unitPrice:
                description: Price per unit of goods or service.
                type: number
            type: object
        serviceCharge:
          properties:
            description:
              description: Service charges for this order.
              example: A service charge
              type: string
            quantity:
              description: The number of times the charge is charged.
              examples:
              - 1
              - 12
              - 45
              type: integer
            taxAmount:
              description: Amount of the service charge that is tax.
              examples:
              - 0
              - 12.5
              - 45
              type: number
            taxPercentage:
              description: Percentage rate (from 0 to 100) of any tax applied to the
                service charge.
              examples:
              - 0
              - 12.5
              - 45
              type: number
            taxes:
              description: Taxes breakdown as applied to service charges.
              items:
                $ref: '#/components/schemas/TaxComponent/definitions/taxComponentAllocation'
              type: array
            totalAmount:
              description: "Total service charge, including taxes."
              examples:
              - 0
              - 12.5
              - 45
              type: number
            type:
              $ref: '#/components/schemas/Order/definitions/serviceChargeType'
          type: object
        serviceChargeType:
          description: The type of the service charge.
          enum:
          - Generic
          - Shipping
          - Overpayment
          - Unknown
          example: Overpayment
          type: string
          x-internal: true
    Orders:
      allOf:
      - properties:
          results:
            items:
              $ref: '#/components/schemas/Order'
            type: array
      - $ref: '#/components/schemas/PagingInfo'
      example:
        totalResults: 4
        pageNumber: 7
        _links:
          next:
            href: href
          current:
            href: href
          previous:
            href: href
          self:
            href: href
        pageSize: 1
        results:
        - country: country
          serviceCharges:
          - totalAmount: 4.145608029883936
            quantity: 9
            taxPercentage: 2.027123023002322
            description: A service charge
            taxes:
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            taxAmount: 3.616076749251911
            type: Overpayment
          - totalAmount: 4.145608029883936
            quantity: 9
            taxPercentage: 2.027123023002322
            description: A service charge
            taxes:
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            taxAmount: 3.616076749251911
            type: Overpayment
          orderNumber: orderNumber
          payments:
          - amount: 7.061401241503109
            createdDate: 2022-10-23T00:00:00Z
            sourceModifiedDate: 2022-10-23T00:00:00Z
            paymentProvider: paymentProvider
            dueDate: 2022-10-23T00:00:00Z
            modifiedDate: 2022-10-23T00:00:00Z
            currency: null
            id: id
            type: Cash
            status: Pending
          - amount: 7.061401241503109
            createdDate: 2022-10-23T00:00:00Z
            sourceModifiedDate: 2022-10-23T00:00:00Z
            paymentProvider: paymentProvider
            dueDate: 2022-10-23T00:00:00Z
            modifiedDate: 2022-10-23T00:00:00Z
            currency: null
            id: id
            type: Cash
            status: Pending
          totalRefund: 1.4894159098541704
          totalGratuity: 1.0246457001441578
          totalAmount: 7.386281948385884
          createdDate: 2022-10-23T00:00:00Z
          sourceModifiedDate: 2022-10-23T00:00:00Z
          closedDate: 2022-10-23T00:00:00Z
          customerRef:
            name: name
            id: id
          locationRef:
            name: name
            id: id
          modifiedDate: 2022-10-23T00:00:00Z
          totalDiscount: 1.2315135367772556
          currency: {}
          id: id
          orderLineItems:
          - unitPrice: 2.3021358869347655
            totalAmount: 5.962133916683182
            quantity: 0.8008281904610115
            productVariantRef:
              name: name
              id: id
            taxPercentage: 6.027456183070403
            productRef:
              name: name
              id: id
            taxes:
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            discountAllocations:
            - totalAmount: 15.25
              name: Promotional Discount
            - totalAmount: 15.25
              name: Promotional Discount
            id: id
            totalTaxAmount: 5.637376656633329
          - unitPrice: 2.3021358869347655
            totalAmount: 5.962133916683182
            quantity: 0.8008281904610115
            productVariantRef:
              name: name
              id: id
            taxPercentage: 6.027456183070403
            productRef:
              name: name
              id: id
            taxes:
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            discountAllocations:
            - totalAmount: 15.25
              name: Promotional Discount
            - totalAmount: 15.25
              name: Promotional Discount
            id: id
            totalTaxAmount: 5.637376656633329
          totalTaxAmount: 6.84685269835264
        - country: country
          serviceCharges:
          - totalAmount: 4.145608029883936
            quantity: 9
            taxPercentage: 2.027123023002322
            description: A service charge
            taxes:
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            taxAmount: 3.616076749251911
            type: Overpayment
          - totalAmount: 4.145608029883936
            quantity: 9
            taxPercentage: 2.027123023002322
            description: A service charge
            taxes:
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            taxAmount: 3.616076749251911
            type: Overpayment
          orderNumber: orderNumber
          payments:
          - amount: 7.061401241503109
            createdDate: 2022-10-23T00:00:00Z
            sourceModifiedDate: 2022-10-23T00:00:00Z
            paymentProvider: paymentProvider
            dueDate: 2022-10-23T00:00:00Z
            modifiedDate: 2022-10-23T00:00:00Z
            currency: null
            id: id
            type: Cash
            status: Pending
          - amount: 7.061401241503109
            createdDate: 2022-10-23T00:00:00Z
            sourceModifiedDate: 2022-10-23T00:00:00Z
            paymentProvider: paymentProvider
            dueDate: 2022-10-23T00:00:00Z
            modifiedDate: 2022-10-23T00:00:00Z
            currency: null
            id: id
            type: Cash
            status: Pending
          totalRefund: 1.4894159098541704
          totalGratuity: 1.0246457001441578
          totalAmount: 7.386281948385884
          createdDate: 2022-10-23T00:00:00Z
          sourceModifiedDate: 2022-10-23T00:00:00Z
          closedDate: 2022-10-23T00:00:00Z
          customerRef:
            name: name
            id: id
          locationRef:
            name: name
            id: id
          modifiedDate: 2022-10-23T00:00:00Z
          totalDiscount: 1.2315135367772556
          currency: {}
          id: id
          orderLineItems:
          - unitPrice: 2.3021358869347655
            totalAmount: 5.962133916683182
            quantity: 0.8008281904610115
            productVariantRef:
              name: name
              id: id
            taxPercentage: 6.027456183070403
            productRef:
              name: name
              id: id
            taxes:
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            discountAllocations:
            - totalAmount: 15.25
              name: Promotional Discount
            - totalAmount: 15.25
              name: Promotional Discount
            id: id
            totalTaxAmount: 5.637376656633329
          - unitPrice: 2.3021358869347655
            totalAmount: 5.962133916683182
            quantity: 0.8008281904610115
            productVariantRef:
              name: name
              id: id
            taxPercentage: 6.027456183070403
            productRef:
              name: name
              id: id
            taxes:
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            - rate: 1.4658129805029452
              taxComponentRef:
                name: name
                id: id
            discountAllocations:
            - totalAmount: 15.25
              name: Promotional Discount
            - totalAmount: 15.25
              name: Promotional Discount
            id: id
            totalTaxAmount: 5.637376656633329
          totalTaxAmount: 6.84685269835264
      title: Orders
      x-internal: true
    PagingInfo:
      properties:
        _links:
          $ref: '#/components/schemas/Links'
        pageNumber:
          title: pageNumber
          type: integer
        pageSize:
          title: pageSize
          type: integer
        totalResults:
          title: totalResults
          type: integer
      required:
      - _links
      - pageNumber
      - pageSize
      - totalResults
      title: PagingInfo
      x-internal: true
    Payment:
      allOf:
      - $ref: '#/components/schemas/Order/allOf/0'
      - properties:
          amount:
            description: Payment Amount (including gratuity)
            type: number
          currency:
            $ref: '#/components/schemas/Transaction/allOf/1/properties/currency'
          dueDate:
            $ref: '#/components/schemas/DateTime'
          paymentMethodRef:
            $ref: '#/components/schemas/PaymentMethod/definitions/paymentMethodRef'
          paymentProvider:
            description: "Service provider of the payment, if applicable."
            type: string
          status:
            $ref: '#/components/schemas/Payment/definitions/paymentStatus'
      - $ref: '#/components/schemas/CreatedDate'
      - $ref: '#/components/schemas/ModifiedDates'
      description: |-
        Payments contain details of all payments made by customers to a company, including: amounts, currency used, payment method, payment provider, and payment status.

        Refunds are recorded as separate, negative payments. Note that a refund can only occur in relation to a payment that has been completed (i.e. has a status of `Paid`). When a customer cancels an order _before_ a payment has been completed, the payment shows as `Cancelled`.

        You can use data from the Payments endpoints to calculate key metrics, such as gross sales and monthly recurring revenue (MRR).

        Explore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-payments) for this data type.
      example:
        amount: 0.8008281904610115
        createdDate: 2022-10-23T00:00:00Z
        sourceModifiedDate: 2022-10-23T00:00:00Z
        paymentProvider: paymentProvider
        dueDate: 2022-10-23T00:00:00Z
        modifiedDate: 2022-10-23T00:00:00Z
        currency: null
        paymentMethodRef:
          id: EILBDVJVNUAGVKRQ
          name: AliPay
        id: id
        status: Pending
      title: Payment
      definitions:
        paymentRef:
          allOf:
          - $ref: '#/components/schemas/Order/allOf/0'
          - properties:
              amount:
                description: Payment Amount (including gratuity).
                examples:
                - 194.12
                - -283.56
                - 0
                nullable: true
                type: number
              currency:
                $ref: '#/components/schemas/Transaction/allOf/1/properties/currency'
                description: Currency in which the payment was made.
              dueDate:
                $ref: '#/components/schemas/DateTime'
                description: Date by which payment must be made
              paymentProvider:
                description: "Service provider of the payment, if applicable."
                examples:
                - Amazon Pay
                - Checkout.com
                - SagePay
                type: string
              status:
                $ref: '#/components/schemas/Payment/definitions/paymentStatus'
              type:
                $ref: '#/components/schemas/Payment/definitions/paymentType'
            type: object
          - $ref: '#/components/schemas/CreatedDate'
          - $ref: '#/components/schemas/ModifiedDates'
          x-internal: true
        paymentStatus:
          description: Status of the payment
          enum:
          - Pending
          - Authorized
          - Paid
          - Failed
          - Cancelled
          - Unknown
          type: string
          x-internal: true
        paymentType:
          description: Status of the payment
          enum:
          - Cash
          - Card
          - Invoice
          - OnlineCard
          - Swish
          - Vipps
          - Mobile
          - StoreCredit
          - Paypal
          - Custom
          - Prepaid
          - Unknown
          example: Cash
          nullable: true
          type: string
          x-internal: true
    PaymentMethod:
      allOf:
      - $ref: '#/components/schemas/Order/allOf/0'
      - properties:
          name:
            description: The name of the PaymentMethod
            example: Alipay
            type: string
          status:
            $ref: '#/components/schemas/PaymentMethod/definitions/paymentMethodStatus'
      - $ref: '#/components/schemas/ModifiedDates'
      description: |-
        A Payment Method represents the payment method(s) used to make payments.

        Explore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-paymentMethods) for this data type.
      example:
        sourceModifiedDate: 2022-10-23T00:00:00Z
        name: Alipay
        modifiedDate: 2022-10-23T00:00:00Z
        id: id
        status: Active
      title: Payment Method
      definitions:
        paymentMethodRef:
          description: The payment method the payment is linked to in the commerce
            platform.
          example:
            id: EILBDVJVNUAGVKRQ
            name: AliPay
          properties:
            id:
              description: The unique identitifer of the location being referenced.
              type: string
            name:
              description: Name of the location being referenced.
              type: string
          required:
          - id
          - name
          type: object
        paymentMethodStatus:
          description: Status of the Payment Method
          enum:
          - Active
          - Archived
          - Unknown
          example: Active
          type: string
    PaymentMethods:
      allOf:
      - properties:
          results:
            items:
              $ref: '#/components/schemas/PaymentMethod'
            type: array
      - $ref: '#/components/schemas/PagingInfo'
      example:
        totalResults: 1
        pageNumber: 0
        _links:
          next:
            href: href
          current:
            href: href
          previous:
            href: href
          self:
            href: href
        pageSize: 6
        results:
        - sourceModifiedDate: 2022-10-23T00:00:00Z
          name: Alipay
          modifiedDate: 2022-10-23T00:00:00Z
          id: id
          status: Active
        - sourceModifiedDate: 2022-10-23T00:00:00Z
          name: Alipay
          modifiedDate: 2022-10-23T00:00:00Z
          id: id
          status: Active
      title: PaymentMethods
      x-internal: true
    Payments:
      allOf:
      - properties:
          results:
            items:
              $ref: '#/components/schemas/Payment'
            type: array
      - $ref: '#/components/schemas/PagingInfo'
      example:
        totalResults: 5
        pageNumber: 6
        _links:
          next:
            href: href
          current:
            href: href
          previous:
            href: href
          self:
            href: href
        pageSize: 1
        results:
        - amount: 0.8008281904610115
          createdDate: 2022-10-23T00:00:00Z
          sourceModifiedDate: 2022-10-23T00:00:00Z
          paymentProvider: paymentProvider
          dueDate: 2022-10-23T00:00:00Z
          modifiedDate: 2022-10-23T00:00:00Z
          currency: null
          paymentMethodRef:
            id: EILBDVJVNUAGVKRQ
            name: AliPay
          id: id
          status: Pending
        - amount: 0.8008281904610115
          createdDate: 2022-10-23T00:00:00Z
          sourceModifiedDate: 2022-10-23T00:00:00Z
          paymentProvider: paymentProvider
          dueDate: 2022-10-23T00:00:00Z
          modifiedDate: 2022-10-23T00:00:00Z
          currency: null
          paymentMethodRef:
            id: EILBDVJVNUAGVKRQ
            name: AliPay
          id: id
          status: Pending
      title: Payments
      x-internal: true
    PhoneNumber:
      example:
        number: number
        type: Primary
      properties:
        number:
          description: A phone number.
          title: number
          type: string
          nullable: true
        type:
          $ref: '#/components/schemas/PhoneNumber/definitions/phoneNumberType'
      required:
      - number
      - type
      title: Phone
      x-internal: true
      definitions:
        phoneNumberType:
          description: The type of phone number
          enum:
          - Primary
          - Landline
          - Mobile
          - Fax
          - Unknown
          type: string
    Product:
      allOf:
      - $ref: '#/components/schemas/Order/allOf/0'
      - properties:
          categorization:
            description: Retail category that the product is assigned to
            type: string
          description:
            description: Description of the product recorded in the commerce or point
              of sale platform.
            type: string
          isGiftCard:
            description: |
              Whether the product represents a gift card or voucher that
              can be redeemed in the commerce or POS platform
            type: boolean
          name:
            description: Name of the product in the commerce or POS system
            type: string
          variants:
            items:
              $ref: '#/components/schemas/Product/definitions/productVariant'
            type: array
      description: |
        A Product is an item in the company's inventory, and includes information about the price and quantity of all products, and variants thereof, available for sale.

        Explore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-products) for this data type.
      example:
        categorization: categorization
        isGiftCard: true
        name: name
        description: description
        id: id
        variants:
        - unitOfMeasure: unitOfMeasure
          inventory:
          - totalQuantity: 6.027456183070403
            locations:
            - quantity: 0.8008281904610115
              locationRef:
                name: name
                id: id
            - quantity: 0.8008281904610115
              locationRef:
                name: name
                id: id
          - totalQuantity: 6.027456183070403
            locations:
            - quantity: 0.8008281904610115
              locationRef:
                name: name
                id: id
            - quantity: 0.8008281904610115
              locationRef:
                name: name
                id: id
          shippingRequired: true
          createdDate: 2022-10-23T00:00:00Z
          sourceModifiedDate: 2022-10-23T00:00:00Z
          isTaxEnabled: true
          vatPercentage: 5.962133916683182
          name: name
          modifiedDate: 2022-10-23T00:00:00Z
          id: id
          prices:
          - unitPrice: 1.4658129805029452
            currency: null
          - unitPrice: 1.4658129805029452
            currency: null
          sku: sku
          barcode: barcode
          status: Unknown
        - unitOfMeasure: unitOfMeasure
          inventory:
          - totalQuantity: 6.027456183070403
            locations:
            - quantity: 0.8008281904610115
              locationRef:
                name: name
                id: id
            - quantity: 0.8008281904610115
              locationRef:
                name: name
                id: id
          - totalQuantity: 6.027456183070403
            locations:
            - quantity: 0.8008281904610115
              locationRef:
                name: name
                id: id
            - quantity: 0.8008281904610115
              locationRef:
                name: name
                id: id
          shippingRequired: true
          createdDate: 2022-10-23T00:00:00Z
          sourceModifiedDate: 2022-10-23T00:00:00Z
          isTaxEnabled: true
          vatPercentage: 5.962133916683182
          name: name
          modifiedDate: 2022-10-23T00:00:00Z
          id: id
          prices:
          - unitPrice: 1.4658129805029452
            currency: null
          - unitPrice: 1.4658129805029452
            currency: null
          sku: sku
          barcode: barcode
          status: Unknown
      title: Product
      definitions:
        productInventory:
          properties:
            locations:
              items:
                $ref: '#/components/schemas/Product/definitions/productInventoryLocation'
              type: array
            totalQuantity:
              nullable: true
              type: number
          title: Product Inventory
          type: object
          x-internal: true
        productInventoryLocation:
          properties:
            locationRef:
              $ref: '#/components/schemas/Locations/definitions/locationRef'
            quantity:
              type: number
          title: Product Inventory Location
          type: object
          x-internal: true
        productPrice:
          properties:
            currency:
              $ref: '#/components/schemas/Transaction/allOf/1/properties/currency'
              nullable: true
            unitPrice:
              type: number
          title: Product Price Variant
          type: object
          x-internal: true
        productRef:
          description: Reference that links the line item to the correct product details.
          properties:
            id:
              description: The unique identitifer of the product being referenced.
              examples:
              - 13d946f0-c5d5-42bc-b092-97ece17923ab
              - 9wg4lep4ush5cxs79pl8sozmsndbaukll3ind4g7buqbm1h2
              - 7110701885
              - EILBDVJVNUAGVKRQ
              type: string
            name:
              description: Name of the product being referenced.
              type: string
          required:
          - id
          - name
          type: object
        productVariant:
          allOf:
          - $ref: '#/components/schemas/Order/allOf/0'
            description: "Identifier of the product variant, unique to the company."
          - properties:
              barcode:
                description: "Unique product number of the variant. This might be\
                  \ a barcode, UPC, ISBN, etc."
                examples:
                - "564158468416486458646886484"
                - CSE370
                type: string
              inventory:
                description: Information about the total inventory as well as the
                  locations inventory is in.
                items:
                  $ref: '#/components/schemas/Product/definitions/productInventory'
                type: array
              isTaxEnabled:
                description: Whether sales taxes are enabled for this product variant.
                type: boolean
              name:
                description: Name of the product recorded in the commerce or point
                  of sale platform.
                examples:
                - Red Coat
                - Black Coat
                - Large Brown Hat
                type: string
              prices:
                description: Prices for the product variants in different currencies.
                items:
                  $ref: '#/components/schemas/Product/definitions/productPrice'
                type: array
              shippingRequired:
                description: Indicates whether or not the product requires physical
                  delivery.
                type: boolean
              sku:
                description: "SKU (stock keeping unit) of the variant, as defined\
                  \ by the merchant."
                examples:
                - Coat-Red-Lrg
                - Coat-Black-Md
                - LargeBrownHat
                - A725BA2
                type: string
              status:
                $ref: '#/components/schemas/Product/definitions/productVariantStatus'
              unitOfMeasure:
                description: "Unit of measure for the variant, such as `kg` or `meters`."
                examples:
                - kg
                - m
                - meters
                type: string
              vatPercentage:
                description: VAT rate for the product variant if sales taxes are enabled.
                examples:
                - 12.5
                - 0
                - 20
                type: number
          - $ref: '#/components/schemas/CreatedDate'
          - $ref: '#/components/schemas/ModifiedDates'
          description: |
            Represents a variation of a product available for sale, for example an item of clothing that may be available for sale in multiple sizes and colors.
          title: Product Variant
          x-internal: true
        productVariantRef:
          description: Reference that links the line item to the specific version
            of product that has been ordered.
          properties:
            id:
              description: The unique identitifer of the product variant being referenced.
              examples:
              - 13d946f0-c5d5-42bc-b092-97ece17923ab
              - 9wg4lep4ush5cxs79pl8sozmsndbaukll3ind4g7buqbm1h2
              - 7110701885
              - EILBDVJVNUAGVKRQ
              type: string
            name:
              description: Name of the product variant being referenced.
              type: string
          required:
          - id
          - name
          title: Product Variant Ref
          type: object
        productVariantStatus:
          enum:
          - Unknown
          - Published
          - Unpublished
          type: string
          x-internal: true
    ProductCategories:
      allOf:
      - properties:
          results:
            items:
              $ref: '#/components/schemas/ProductCategory'
            type: array
      - $ref: '#/components/schemas/PagingInfo'
      example:
        totalResults: 1
        pageNumber: 0
        _links:
          next:
            href: href
          current:
            href: href
          previous:
            href: href
          self:
            href: href
        pageSize: 6
        results:
        - sourceModifiedDate: 2022-10-23T00:00:00Z
          hasChildren: true
          name: Entertainment
          modifiedDate: 2022-10-23T00:00:00Z
          id: '"102"'
          ancestorRefs:
          - id: id
            type: type
          - id: id
            type: type
        - sourceModifiedDate: 2022-10-23T00:00:00Z
          hasChildren: true
          name: Entertainment
          modifiedDate: 2022-10-23T00:00:00Z
          id: '"102"'
          ancestorRefs:
          - id: id
            type: type
          - id: id
            type: type
      title: ProductCategories
      x-internal: true
    ProductCategory:
      allOf:
      - properties:
          ancestorRefs:
            description: A collection of parent product categories implicitly ordered
              with the immediate parent last in the list.
            items:
              $ref: '#/components/schemas/RecordRef'
            type: array
          hasChildren:
            description: A boolean indicating whether there are other product categories
              beneath this one in the hierarchy.
            type: boolean
          id:
            description: The unique identifier of the product category
            example: '"102"'
            type: string
          name:
            description: The name of the product category
            example: Entertainment
            type: string
      - $ref: '#/components/schemas/ModifiedDates'
      description: |-
        Product categories are used to classify a group of products together, either by type (e.g. "Furniture"), or sometimes by tax profile.

        Explore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-productCategories) for this data type.
      example:
        sourceModifiedDate: 2022-10-23T00:00:00Z
        hasChildren: true
        name: Entertainment
        modifiedDate: 2022-10-23T00:00:00Z
        id: '"102"'
        ancestorRefs:
        - id: id
          type: type
        - id: id
          type: type
      title: Product Category
    Products:
      allOf:
      - properties:
          results:
            items:
              $ref: '#/components/schemas/Product'
            type: array
      - $ref: '#/components/schemas/PagingInfo'
      example:
        totalResults: 7
        pageNumber: 5
        _links:
          next:
            href: href
          current:
            href: href
          previous:
            href: href
          self:
            href: href
        pageSize: 2
        results:
        - categorization: categorization
          isGiftCard: true
          name: name
          description: description
          id: id
          variants:
          - unitOfMeasure: unitOfMeasure
            inventory:
            - totalQuantity: 6.027456183070403
              locations:
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
            - totalQuantity: 6.027456183070403
              locations:
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
            shippingRequired: true
            createdDate: 2022-10-23T00:00:00Z
            sourceModifiedDate: 2022-10-23T00:00:00Z
            isTaxEnabled: true
            vatPercentage: 5.962133916683182
            name: name
            modifiedDate: 2022-10-23T00:00:00Z
            id: id
            prices:
            - unitPrice: 1.4658129805029452
              currency: null
            - unitPrice: 1.4658129805029452
              currency: null
            sku: sku
            barcode: barcode
            status: Unknown
          - unitOfMeasure: unitOfMeasure
            inventory:
            - totalQuantity: 6.027456183070403
              locations:
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
            - totalQuantity: 6.027456183070403
              locations:
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
            shippingRequired: true
            createdDate: 2022-10-23T00:00:00Z
            sourceModifiedDate: 2022-10-23T00:00:00Z
            isTaxEnabled: true
            vatPercentage: 5.962133916683182
            name: name
            modifiedDate: 2022-10-23T00:00:00Z
            id: id
            prices:
            - unitPrice: 1.4658129805029452
              currency: null
            - unitPrice: 1.4658129805029452
              currency: null
            sku: sku
            barcode: barcode
            status: Unknown
        - categorization: categorization
          isGiftCard: true
          name: name
          description: description
          id: id
          variants:
          - unitOfMeasure: unitOfMeasure
            inventory:
            - totalQuantity: 6.027456183070403
              locations:
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
            - totalQuantity: 6.027456183070403
              locations:
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
            shippingRequired: true
            createdDate: 2022-10-23T00:00:00Z
            sourceModifiedDate: 2022-10-23T00:00:00Z
            isTaxEnabled: true
            vatPercentage: 5.962133916683182
            name: name
            modifiedDate: 2022-10-23T00:00:00Z
            id: id
            prices:
            - unitPrice: 1.4658129805029452
              currency: null
            - unitPrice: 1.4658129805029452
              currency: null
            sku: sku
            barcode: barcode
            status: Unknown
          - unitOfMeasure: unitOfMeasure
            inventory:
            - totalQuantity: 6.027456183070403
              locations:
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
            - totalQuantity: 6.027456183070403
              locations:
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
              - quantity: 0.8008281904610115
                locationRef:
                  name: name
                  id: id
            shippingRequired: true
            createdDate: 2022-10-23T00:00:00Z
            sourceModifiedDate: 2022-10-23T00:00:00Z
            isTaxEnabled: true
            vatPercentage: 5.962133916683182
            name: name
            modifiedDate: 2022-10-23T00:00:00Z
            id: id
            prices:
            - unitPrice: 1.4658129805029452
              currency: null
            - unitPrice: 1.4658129805029452
              currency: null
            sku: sku
            barcode: barcode
            status: Unknown
      title: Products
      x-internal: true
    RecordRef:
      description: ""
      example:
        id: id
        type: type
      properties:
        id:
          description: The unique identitifer of the record being referenced
          title: id
          type: string
        type:
          description: The type of record being referenced.
          title: type
          type: string
      required:
      - id
      - type
      title: Record Ref
      x-internal: true
    TaxComponent:
      allOf:
      - $ref: '#/components/schemas/Order/allOf/0'
      - properties:
          isCompound:
            description: The Boolean flag to indicate when a Tax Rate Component compounds
              on a sale.
            type: boolean
          name:
            description: Name of the Tax Rate Component in the source commerce platform.
            example: Sales Tax
            type: string
          rate:
            description: Rate of taxation represented as a fraction of the net price
              (typically in the range 0.00 - 1.00).
            format: float
            type: number
      - $ref: '#/components/schemas/ModifiedDates'
      description: |-
        The Tax Components endpoints return tax rates data from the commerce platform, including tax rate names and values. This is to support the mapping of tax rates from the commerce platform to those in the accounting platform.

        Explore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-disputes) for this data type.
      example:
        sourceModifiedDate: 2022-10-23T00:00:00Z
        rate: 0.8008282
        name: Sales Tax
        modifiedDate: 2022-10-23T00:00:00Z
        id: id
        isCompound: true
      title: Tax Component
      definitions:
        taxComponentAllocation:
          properties:
            rate:
              description: Tax amount on order line sale as available from source
                commerce platform.
              nullable: true
              type: number
            taxComponentRef:
              $ref: '#/components/schemas/TaxComponent/definitions/taxComponentRef'
          title: Tax Component Allocation
          type: object
        taxComponentRef:
          description: Taxes rates reference object depending on the rates being available
            on source commerce package.
          properties:
            id:
              description: The unique identitifer of the tax component being referenced.
              examples:
              - 13d946f0-c5d5-42bc-b092-97ece17923ab
              - 9wg4lep4ush5cxs79pl8sozmsndbaukll3ind4g7buqbm1h2
              - 7110701885
              - EILBDVJVNUAGVKRQ
              type: string
            name:
              description: Name of the tax component being referenced.
              type: string
          required:
          - id
          - name
          type: object
    TaxComponents:
      example:
        taxComponents:
        - sourceModifiedDate: 2022-10-23T00:00:00Z
          rate: 0.8008282
          name: Sales Tax
          modifiedDate: 2022-10-23T00:00:00Z
          id: id
          isCompound: true
        - sourceModifiedDate: 2022-10-23T00:00:00Z
          rate: 0.8008282
          name: Sales Tax
          modifiedDate: 2022-10-23T00:00:00Z
          id: id
          isCompound: true
      properties:
        taxComponents:
          items:
            $ref: '#/components/schemas/TaxComponent'
          title: taxComponents
          type: array
      title: TaxComponents
      x-internal: true
    Transaction:
      allOf:
      - $ref: '#/components/schemas/Order/allOf/0'
      - properties:
          currency:
            description: "The currency data type in Codat is the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)\
              \ currency code, e.g. _GBP_.\n\n## Unknown currencies\n\nIn line with\
              \ the ISO 4217 specification, the code _XXX_ is used when the data source\
              \ does not return a currency for a transaction. \n\nThere are only a\
              \ very small number of edge cases where this currency code is returned\
              \ by the Codat system."
            format: ISO4217
            title: Currency
            type: string
            x-internal: true
          subType:
            description: Non-standardised transaction type data from the commerce
              platform
            type: string
          totalAmount:
            description: The total transaction amount
            type: number
          transactionSourceRef:
            allOf:
            - $ref: '#/components/schemas/Transaction/definitions/transactionSourceRef'
            description: Link to the source event which triggered this transaction
          type:
            $ref: '#/components/schemas/Transaction/definitions/transactionType'
      - allOf:
        - allOf:
          - $ref: '#/components/schemas/CreatedDate'
          - properties:
              sourceCreatedDate:
                $ref: '#/components/schemas/DateTime'
            x-stoplight:
              id: gdyjg7bg783br
          x-stoplight:
            id: c590b4405180f
        - $ref: '#/components/schemas/ModifiedDates'
        x-stoplight:
          id: 9e815c1766554
      description: "Details of all financial transactions recorded in the commerce\
        \ or point of sale system are added to the Transactions data type. For example,\
        \ payments, service charges, and fees.\n\nYou can use data from the Transactions\
        \ endpoints to calculate key metrics, such as:  \n- Transaction volumes  \n\
        - Average transaction volume  \n- Average transaction value  \n- Returns \
        \ \n- Payouts\n\nExplore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-transactions)\
        \ for this data type."
      example:
        totalAmount: 0.8008281904610115
        sourceCreatedDate: 2022-10-23T00:00:00Z
        createdDate: 2022-10-23T00:00:00Z
        sourceModifiedDate: 2022-10-23T00:00:00Z
        modifiedDate: 2022-10-23T00:00:00Z
        currency: currency
        subType: subType
        id: id
        transactionSourceRef: ""
        type: Payment
      title: Transaction
      definitions:
        transactionSourceRef:
          allOf:
          - $ref: '#/components/schemas/RecordRef'
          - properties:
              type:
                $ref: '#/components/schemas/Transaction/definitions/transactionSourceType'
            type: object
          title: Transaction Source Reference
          x-internal: true
        transactionSourceType:
          enum:
          - Fee
          - Order
          - Payment
          - ServiceCharge
          - Unknown
          type: string
          x-internal: true
        transactionType:
          description: "The type of the platform transaction:  \n- `Unknown`  \n-\
            \ `FailedPayout` — Failed transfer of funds from the seller's merchant\
            \ account to their bank account.  \n- `Payment` — Credit and debit card\
            \ payments.  \n- `PaymentFee` — Payment provider's fee on each card payment.\
            \  \n- `PaymentFeeRefund` — Payment provider's fee that has been refunded\
            \ to the seller.  \n- `Payout` — Transfer of funds from the seller's merchant\
            \ account to their bank account.  \n- `Refund` — Refunds to a customer's\
            \ credit or debit card.  \n- `Transfer` — Secure transfer of funds to\
            \ the seller's bank account.  "
          enum:
          - Payment
          - Refund
          - Payout
          - FailedPayout
          - Transfer
          - PaymentFee
          - PaymentFeeRefund
          - Unknown
          type: string
          x-iternal: true
    Transactions:
      allOf:
      - properties:
          results:
            items:
              $ref: '#/components/schemas/Transaction'
            type: array
      - $ref: '#/components/schemas/PagingInfo'
      example:
        totalResults: 5
        pageNumber: 6
        _links:
          next:
            href: href
          current:
            href: href
          previous:
            href: href
          self:
            href: href
        pageSize: 1
        results:
        - totalAmount: 0.8008281904610115
          sourceCreatedDate: 2022-10-23T00:00:00Z
          createdDate: 2022-10-23T00:00:00Z
          sourceModifiedDate: 2022-10-23T00:00:00Z
          modifiedDate: 2022-10-23T00:00:00Z
          currency: currency
          subType: subType
          id: id
          transactionSourceRef: ""
          type: Payment
        - totalAmount: 0.8008281904610115
          sourceCreatedDate: 2022-10-23T00:00:00Z
          createdDate: 2022-10-23T00:00:00Z
          sourceModifiedDate: 2022-10-23T00:00:00Z
          modifiedDate: 2022-10-23T00:00:00Z
          currency: currency
          subType: subType
          id: id
          transactionSourceRef: ""
          type: Payment
      title: Transactions
      x-internal: true
    "0":
      properties:
        id:
          description: "A unique, persistent identifier for this record"
          title: id
          type: string
          x-codat-validation:
          - validator: UniqueWithinConnection
      required:
      - id
      title: "0"
      x-stoplight:
        id: 516bf0ecc4907
    addressType:
      description: The type of the address
      enum:
      - Billing
      - Delivery
      - Order
      - Inventory
      - Unknown
      title: addressType
      type: string
    currency:
      description: "The currency data type in Codat is the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)\
        \ currency code, e.g. _GBP_.\n\n## Unknown currencies\n\nIn line with the\
        \ ISO 4217 specification, the code _XXX_ is used when the data source does\
        \ not return a currency for a transaction. \n\nThere are only a very small\
        \ number of edge cases where this currency code is returned by the Codat system."
      format: ISO4217
      title: Currency
      type: string
      x-internal: true
    number:
      description: A phone number.
      type: string
      nullable: true
    transactionSourceType:
      enum:
      - Fee
      - Order
      - Payment
      - ServiceCharge
      - Unknown
      type: string
      x-internal: true
    transactionSourceRef:
      allOf:
      - $ref: '#/components/schemas/RecordRef'
      - properties:
          type:
            $ref: '#/components/schemas/Transaction/definitions/transactionSourceType'
      example:
        id: id
        type: Fee
      title: Transaction Source Reference
      x-internal: true
    disputeStatus:
      description: Current status of the dispute
      enum:
      - Won
      - Lost
      - Accepted
      - Processing
      - ChargeRefunded
      - EvidenceRequired
      - InquiryEvidenceRequired
      - InquiryProcessing
      - InquiryClosed
      - WaitingThirdParty
      - Unknown
      example: EvidenceRequired
      title: disputeStatus
      type: string
      x-internal: true
    accountBalance:
      example:
        reserved: 1.4658129805029452
        pending: 6.027456183070403
        available: 0.8008281904610115
        currency: ""
      properties:
        available:
          description: The account's current balance
          format: decimal
          title: available
          type: number
        currency:
          allOf:
          - $ref: '#/components/schemas/Transaction/allOf/1/properties/currency'
          description: The currency of the account
          title: currency
        pending:
          description: Funds that are not yet available in the balance
          format: decimal
          title: pending
          type: number
        reserved:
          description: Funds reserved as holdings
          format: decimal
          title: reserved
          type: number
      title: Account Balance
      x-internal: true
    phoneNumberType:
      description: The type of phone number
      enum:
      - Primary
      - Landline
      - Mobile
      - Fax
      - Unknown
      title: phoneNumberType
      type: string
    customerRef:
      description: Reference to the customer that placed the order.
      example:
        name: name
        id: id
      properties:
        id:
          description: The unique identitifer of the customer being referenced
          title: id
          type: string
        name:
          description: Name of the customer being referenced.
          title: name
          type: string
      required:
      - id
      - name
      title: customerRef
    locationRef:
      description: Reference to the geographic location where the order was placed.
      example:
        name: name
        id: id
      properties:
        id:
          description: The unique identitifer of the location being referenced.
          title: id
          type: string
        name:
          description: Name of the location being referenced.
          title: name
          type: string
      required:
      - id
      - name
      title: locationRef
    orderDiscountAllocation:
      example:
        totalAmount: 15.25
        name: Promotional Discount
      properties:
        name:
          description: Name of the discount in the commerce or point of sale platform.
          example: Promotional Discount
          title: name
          type: string
        totalAmount:
          description: Total amount of discount applied.
          example: 15.25
          title: totalAmount
          type: number
      title: orderDiscountAllocation
      x-internal: true
    productRef:
      description: Reference that links the line item to the correct product details.
      example:
        name: name
        id: id
      properties:
        id:
          description: The unique identitifer of the product being referenced.
          title: id
          type: string
        name:
          description: Name of the product being referenced.
          title: name
          type: string
      required:
      - id
      - name
      title: productRef
    productVariantRef:
      description: Reference that links the line item to the specific version of product
        that has been ordered.
      example:
        name: name
        id: id
      properties:
        id:
          description: The unique identitifer of the product variant being referenced.
          title: id
          type: string
        name:
          description: Name of the product variant being referenced.
          title: name
          type: string
      required:
      - id
      - name
      title: Product Variant Ref
    taxComponentRef:
      description: Taxes rates reference object depending on the rates being available
        on source commerce package.
      example:
        name: name
        id: id
      properties:
        id:
          description: The unique identitifer of the tax component being referenced.
          title: id
          type: string
        name:
          description: Name of the tax component being referenced.
          title: name
          type: string
      required:
      - id
      - name
      title: taxComponentRef
    taxComponentAllocation:
      example:
        rate: 1.4658129805029452
        taxComponentRef:
          name: name
          id: id
      properties:
        rate:
          description: Tax amount on order line sale as available from source commerce
            platform.
          title: rate
          type: number
          nullable: true
        taxComponentRef:
          $ref: '#/components/schemas/TaxComponent/definitions/taxComponentRef'
      title: Tax Component Allocation
    orderLineItem:
      allOf:
      - $ref: '#/components/schemas/Order/allOf/0'
      - properties:
          discountAllocations:
            items:
              $ref: '#/components/schemas/Order/definitions/orderDiscountAllocation'
            type: array
          productRef:
[...]
