openapi: 3.0.1
info:
  description: The Admin Gallery Management Client.
  title: GalleryManagementClient
  version: 2015-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/gallery/Microsoft.Gallery.Admin/preview/2015-04-01/Gallery.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Gallery
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Gallery.Admin/operations:
    get:
      operationId: operations_list
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
      summary: Gets the available gallery admin operations.
      tags:
      - Operations
      x-ms-examples:
        Gets the available gallery admin operations.:
          parameters:
            api-version: 2016-05-01
          responses:
            "200":
              body:
                value:
                - display:
                    description: Gets the gallery items.
                    operation: Get Gallery Items
                    provider: Microsoft Gallery Administration Service
                    resource: Gallery Item
                  name: Microsoft.Gallery.Admin/galleryItems/read
                - display:
                    description: Uploads a gallery item.
                    operation: Upload Gallery Item
                    provider: Microsoft Gallery Administration Service
                    resource: Gallery Item
                  name: Microsoft.Gallery.Admin/galleryItems/action
                - display:
                    description: Deletes a gallery item.
                    operation: Delete Gallery Item
                    provider: Microsoft Gallery Administration Service
                    resource: Gallery Item
                  name: Microsoft.Gallery.Admin/galleryItems/delete
                - display:
                    description: Lists the supported operations.
                    operation: List Operations
                    provider: Microsoft Gallery Administration Service
                    resource: Operation
                  name: Microsoft.Gallery.Admin/operations/read
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.operations_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2016-05-01
        type: string
    FilterParameter:
      description: OData filter parameter.
      in: query
      name: $filter
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Operation:
      description: Represents a REST operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        origin: origin
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplayDefinition'
        name:
          description: Name of the REST operation.
          title: name
          type: string
        origin:
          description: Origin of the REST operation.
          title: origin
          type: string
      title: Operation
      type: object
    OperationDisplayDefinition:
      description: Information about the REST operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: Description of the REST operation.
          title: description
          type: string
        operation:
          description: Type of REST operation.
          title: operation
          type: string
        provider:
          description: Provider of the REST operation.
          title: provider
          type: string
        resource:
          description: Resource returned by the REST operation.
          title: resource
          type: string
      title: OperationDisplayDefinition
      type: object
    OperationList:
      description: List of operations.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          origin: origin
          name: name
      properties:
        value:
          description: List of operations.
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationList
      type: object
    Resource:
      description: Base Resource Object.
      properties:
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: Location of the resource.
          readOnly: true
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: List of key-value pairs.
          readOnly: true
          type: object
        type:
          description: Type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
