openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/security.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: security
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings:
    get:
      description: Exposes the auto provisioning settings of the subscriptions
      operationId: auto_provisioning_settings_list
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoProvisioningSettingList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AutoProvisioningSettings
      x-ms-examples:
        Get auto provisioning settings for subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
                  name: default
                  properties:
                    autoProvision: "On"
                  type: Microsoft.Security/autoProvisioningSettings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.auto_provisioning_settings_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings/{settingName}:
    get:
      description: Details of a specific setting
      operationId: auto_provisioning_settings_get
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Auto provisioning setting key
        in: path
        name: settingName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoProvisioningSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AutoProvisioningSettings
      x-ms-examples:
        Get an auto provisioning setting for subscription:
          parameters:
            api-version: 2017-08-01-preview
            settingName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
                name: default
                properties:
                  autoProvision: "On"
                type: Microsoft.Security/autoProvisioningSettings
      x-openapi-router-controller: openapi_server.controllers.auto_provisioning_settings_controller
    put:
      description: Details of a specific setting
      operationId: auto_provisioning_settings_create
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Auto provisioning setting key
        in: path
        name: setting_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoProvisioningSetting'
        description: Auto provisioning setting key
        required: true
        x-ms-parameter-location: method
        x-body-name: setting
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoProvisioningSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AutoProvisioningSettings
      x-ms-examples:
        Create auto provisioning settings for subscription:
          parameters:
            api-version: 2017-08-01-preview
            setting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
              name: default
              properties:
                autoProvision: "On"
              type: Microsoft.Security/autoProvisioningSettings
            settingName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
                name: default
                properties:
                  autoProvision: "On"
                type: Microsoft.Security/autoProvisioningSettings
      x-codegen-request-body-name: setting
      x-openapi-router-controller: openapi_server.controllers.auto_provisioning_settings_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings:
    get:
      description: Security pricing configurations in the subscription
      operationId: pricings_list
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Get pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default
                  name: default
                  properties:
                    pricingTier: Standard
                  type: Microsoft.Security/pricings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings/{pricingName}:
    get:
      description: Security pricing configuration in the subscriptionSecurity pricing
        configuration in the subscription
      operationId: pricings_get_subscription_pricing
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: name of the pricing configuration
        in: path
        name: pricingName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Get pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            pricingName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default
                name: default
                properties:
                  pricingTier: Standard
                type: Microsoft.Security/pricings
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
    put:
      description: Security pricing configuration in the subscription
      operationId: pricings_update_subscription_pricing
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: name of the pricing configuration
        in: path
        name: pricing_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricing'
        description: Pricing object
        required: true
        x-ms-parameter-location: method
        x-body-name: pricing
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Update pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            pricing:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default
              name: default
              properties:
                pricingTier: Standard
              type: Microsoft.Security/pricings
            pricingName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default
                name: default
                properties:
                  pricingTier: Standard
                type: Microsoft.Security/pricings
      x-codegen-request-body-name: pricing
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts:
    get:
      description: Security contact configurations for the subscription
      operationId: security_contacts_list
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContactList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Security Contacts
      x-ms-examples:
        Update security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                  name: default1
                  properties:
                    alertNotifications: "On"
                    alertsToAdmins: "On"
                    email: john@contoso.com
                    phone: (214)275-4038
                  type: Microsoft.Security/securityContacts
        Update security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                  name: default2
                  properties:
                    alertNotifications: "On"
                    alertsToAdmins: "On"
                    email: chen@contoso.com
                  type: Microsoft.Security/securityContacts
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.security_contacts_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}:
    delete:
      description: Security contact configurations for the subscription
      operationId: security_contacts_delete
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security contact object
        in: path
        name: security_contact_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Security Contacts
      x-ms-examples:
        Delete security contact data:
          parameters:
            api-version: 2017-08-01-preview
            securityContactName: default1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.security_contacts_controller
    get:
      description: Security contact configurations for the subscription
      operationId: security_contacts_get
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security contact object
        in: path
        name: securityContactName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContact'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Security Contacts
      x-ms-examples:
        Get security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            securityContactName: default1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                name: default1
                properties:
                  alertNotifications: "On"
                  alertsToAdmins: "On"
                  email: john@contoso.com
                  phone: (214)275-4038
                type: Microsoft.Security/securityContacts
        Get security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            securityContactName: default2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                name: default2
                properties:
                  alertNotifications: "On"
                  alertsToAdmins: "On"
                  email: chen@contoso.com
                type: Microsoft.Security/securityContacts
      x-openapi-router-controller: openapi_server.controllers.security_contacts_controller
    patch:
      description: Security contact configurations for the subscription
      operationId: security_contacts_update
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security contact object
        in: path
        name: security_contact_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityContact'
        description: Security contact object
        required: true
        x-ms-parameter-location: method
        x-body-name: securityContact
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContact'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Security Contacts
      x-ms-examples:
        Update security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
              name: default1
              properties:
                alertNotifications: "On"
                phone: (214)275-4038
              type: Microsoft.Security/securityContacts
            securityContactName: john
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                name: default1
                properties:
                  alertNotifications: "On"
                  alertsToAdmins: "Off"
                  email: john@contoso.com
                  phone: (214)275-4038
                type: Microsoft.Security/securityContacts
        Update security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
              name: default2
              properties:
                alertNotifications: "On"
              type: Microsoft.Security/securityContacts
            securityContactName: default2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                name: default2
                properties:
                  alertNotifications: "On"
                  alertsToAdmins: "Off"
                  email: chen@contoso.com
                type: Microsoft.Security/securityContacts
      x-codegen-request-body-name: securityContact
      x-openapi-router-controller: openapi_server.controllers.security_contacts_controller
    put:
      description: Security contact configurations for the subscription
      operationId: security_contacts_create
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security contact object
        in: path
        name: security_contact_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityContact'
        description: Security contact object
        required: true
        x-ms-parameter-location: method
        x-body-name: securityContact
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityContact'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Security Contacts
      x-ms-examples:
        Create security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
              name: default1
              properties:
                alertNotifications: "On"
                alertsToAdmins: "On"
                email: john@contoso.com
                phone: (214)275-4038
              type: Microsoft.Security/securityContacts
            securityContactName: default1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                name: default1
                properties:
                  alertNotifications: "On"
                  alertsToAdmins: "On"
                  email: john@contoso.com
                  phone: (214)275-4038
                type: Microsoft.Security/securityContacts
        Create security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
              name: default2
              properties:
                alertNotifications: "On"
                alertsToAdmins: "On"
                email: chen@contoso.com
              type: Microsoft.Security/securityContacts
            securityContactName: default2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                name: default2
                properties:
                  alertNotifications: "On"
                  alertsToAdmins: "On"
                  email: chen@contoso.com
                type: Microsoft.Security/securityContacts
      x-codegen-request-body-name: securityContact
      x-openapi-router-controller: openapi_server.controllers.security_contacts_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/settings:
    get:
      description: Settings about different configurations in security center
      operationId: settings_list
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Settings
      x-ms-examples:
        Get settings of subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/MCAS
                  kind: DataExportSetting
                  name: MCAS
                  properties:
                    enabled: true
                  type: Microsoft.Security/settings
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/WDATP
                  kind: DataExportSetting
                  name: WDATP
                  properties:
                    enabled: false
                  type: Microsoft.Security/settings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.settings_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/settings/{settingName}:
    get:
      description: Settings of different configurations in security center
      operationId: settings_get
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: "Name of setting: (MCAS/WDATP)"
        in: path
        name: settingName
        required: true
        schema:
          enum:
          - MCAS
          - WDATP
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Settings
      x-ms-examples:
        Get a setting on subscription:
          parameters:
            api-version: 2017-08-01-preview
            settingName: MCAS
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/MCAS
                kind: DataExportSetting
                name: MCAS
                properties:
                  enabled: true
                type: Microsoft.Security/settings
      x-openapi-router-controller: openapi_server.controllers.settings_controller
    put:
      description: updating settings about different configurations in security center
      operationId: settings_update
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: "Name of setting: (MCAS/WDATP)"
        in: path
        name: setting_name
        required: true
        schema:
          enum:
          - MCAS
          - WDATP
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Setting'
        description: Setting object
        required: true
        x-ms-parameter-location: method
        x-body-name: setting
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Setting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Settings
      x-ms-examples:
        Update a setting for subscription:
          parameters:
            api-version: 2017-08-01-preview
            setting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/MCAS
              kind: DataExportSetting
              name: MCAS
              properties:
                enabled: true
              type: Microsoft.Security/settings
            settingName: MCAS
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/MCAS
                kind: DataExportSetting
                name: MCAS
                properties:
                  enabled: true
                type: Microsoft.Security/settings
      x-codegen-request-body-name: setting
      x-openapi-router-controller: openapi_server.controllers.settings_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings:
    get:
      description: "Settings about where we should store your security data and logs.\
        \ If the result is empty, it means that no custom-workspace configuration\
        \ was set"
      operationId: workspace_settings_list
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSettingList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Workspace Settings
      x-ms-examples:
        Get workspace settings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
                  name: default
                  properties:
                    scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                    workspaceId: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace1
                  type: Microsoft.Security/workspaceSettings
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Security/workspaceSettings/myRg
                  name: myRg
                  properties:
                    scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg
                    workspaceId: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myOtherRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace2
                  type: Microsoft.Security/workspaceSettings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.workspace_settings_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings/{workspaceSettingName}:
    delete:
      description: Deletes the custom workspace settings for this subscription. new
        VMs will report to the default workspace
      operationId: workspace_settings_delete
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security setting
        in: path
        name: workspace_setting_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Workspace Settings
      x-ms-examples:
        Delete a workspace setting data for resource group:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            workspaceSettingName: default
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.workspace_settings_controller
    get:
      description: "Settings about where we should store your security data and logs.\
        \ If the result is empty, it means that no custom-workspace configuration\
        \ was set"
      operationId: workspace_settings_get
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security setting
        in: path
        name: workspaceSettingName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Workspace Settings
      x-ms-examples:
        Get a workspace setting on subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            workspaceSettingName: default
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
                name: default
                properties:
                  scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                  workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
                type: Microsoft.Security/workspaceSettings
      x-openapi-router-controller: openapi_server.controllers.workspace_settings_controller
    patch:
      description: Settings about where we should store your security data and logs
      operationId: workspace_settings_update
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security setting
        in: path
        name: workspace_setting_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSetting'
        description: Security data setting object
        required: true
        x-ms-parameter-location: method
        x-body-name: workspaceSetting
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Workspace Settings
      x-ms-examples:
        Update a workspace setting data for subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            workspaceSetting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
              name: default
              properties:
                workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
              type: Microsoft.Security/workspaceSettings
            workspaceSettingName: default
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
                name: default
                properties:
                  scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                  workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
                type: Microsoft.Security/workspaceSettings
      x-codegen-request-body-name: workspaceSetting
      x-openapi-router-controller: openapi_server.controllers.workspace_settings_controller
    put:
      description: creating settings about where we should store your security data
        and logs
      operationId: workspace_settings_create
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Name of the security setting
        in: path
        name: workspace_setting_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceSetting'
        description: Security data setting object
        required: true
        x-ms-parameter-location: method
        x-body-name: workspaceSetting
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Workspace Settings
      x-ms-examples:
        Create a workspace setting data for subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            workspaceSetting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
              name: default
              properties:
                scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
              type: Microsoft.Security/workspaceSettings
            workspaceSettingName: default
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
                name: default
                properties:
                  scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                  workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
                type: Microsoft.Security/workspaceSettings
      x-codegen-request-body-name: workspaceSetting
      x-openapi-router-controller: openapi_server.controllers.workspace_settings_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/pricings:
    get:
      description: Security pricing configurations in the resource group
      operationId: pricings_list_by_resource_group
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Get pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            resourceGroupName: myRg
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/myRg
                  name: myRg
                  properties:
                    pricingTier: Standard
                  type: Microsoft.Security/pricings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/pricings/{pricingName}:
    get:
      description: Security pricing configuration in the resource group
      operationId: pricings_get_resource_group_pricing
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: name of the pricing configuration
        in: path
        name: pricing_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Get pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            pricingName: myRg
            resourceGroupName: myRg
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/myRg
                name: myRg
                properties:
                  pricingTier: Standard
                type: Microsoft.Security/pricings
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
    put:
      description: Security pricing configuration in the resource group
      operationId: pricings_create_or_update_resource_group_pricing
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: Azure subscription ID
        in: path
        name: subscription_id
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: name of the pricing configuration
        in: path
        name: pricing_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pricing'
        description: Pricing object
        required: true
        x-ms-parameter-location: method
        x-body-name: pricing
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Pricings
      x-ms-examples:
        Update pricings on resource group:
          parameters:
            api-version: 2017-08-01-preview
            pricing:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Security/pricings/myRg
              name: myRg
              properties:
                pricingTier: Standard
              type: Microsoft.Security/pricings
            pricingName: myRg
            resourceGroupName: myRg
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/myRg
                name: myRg
                properties:
                  pricingTier: Standard
                type: Microsoft.Security/pricings
      x-codegen-request-body-name: pricing
      x-openapi-router-controller: openapi_server.controllers.pricings_controller
  /{resourceId}/providers/Microsoft.Security/advancedThreatProtectionSettings/{settingName}:
    get:
      description: Gets the Advanced Threat Protection settings for the specified
        resource.
      operationId: advanced_threat_protection_get
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: The identifier of the resource.
        in: path
        name: resourceId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Advanced Threat Protection setting name.
        in: path
        name: settingName
        required: true
        schema:
          enum:
          - current
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedThreatProtectionSetting'
          description: Successful request to get Advanced Threat Protection settings.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AdvancedThreatProtection
      x-ms-examples:
        Gets the Advanced Threat Protection settings for the specified resource.:
          parameters:
            api-version: 2017-08-01-preview
            resourceId: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount
            settingName: current
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current
                name: current
                properties:
                  isEnabled: true
                type: Microsoft.Security/advancedThreatProtectionSettings
      x-openapi-router-controller: openapi_server.controllers.advanced_threat_protection_controller
    put:
      description: Creates or updates the Advanced Threat Protection settings on a
        specified resource.
      operationId: advanced_threat_protection_create
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: The identifier of the resource.
        in: path
        name: resource_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Advanced Threat Protection setting name.
        in: path
        name: setting_name
        required: true
        schema:
          enum:
          - current
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdvancedThreatProtectionSetting'
        description: Advanced Threat Protection Settings
        required: true
        x-ms-parameter-location: method
        x-body-name: advancedThreatProtectionSetting
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvancedThreatProtectionSetting'
          description: Successful request to put Advanced Threat Protection settings.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - AdvancedThreatProtection
      x-ms-examples:
        Creates or updates the Advanced Threat Protection settings on a specified resource.:
          parameters:
            advancedThreatProtectionSetting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current
              name: current
              properties:
                isEnabled: true
              type: Microsoft.Security/advancedThreatProtectionSettings
            api-version: 2017-08-01-preview
            resourceId: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount
            settingName: current
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current
                name: current
                properties:
                  isEnabled: true
                type: Microsoft.Security/advancedThreatProtectionSettings
      x-codegen-request-body-name: advancedThreatProtectionSetting
      x-openapi-router-controller: openapi_server.controllers.advanced_threat_protection_controller
  /{scope}/providers/Microsoft.Security/compliances:
    get:
      description: The Compliance scores of the specific management group.
      operationId: compliances_list
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f)\
          \ or management group (/providers/Microsoft.Management/managementGroups/mgName)."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Compliances
      x-ms-examples:
        Get security compliance data over time:
          parameters:
            api-version: 2017-08-01-preview
            scope: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-01Z
                  name: 2018-01-01Z
                  properties:
                    assessmentResult:
                    - percentage: 77.77777777777779
                      segmentType: Compliant
                    assessmentTimestampUtcDate: 2018-01-01T00:00:00Z
                    resourceCount: 18
                  type: Microsoft.Security/compliances
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-02Z
                  name: 2018-01-02Z
                  properties:
                    assessmentResult:
                    - percentage: 94.44444444444444
                      segmentType: Compliant
                    assessmentTimestampUtcDate: 2018-01-02T00:00:00Z
                    resourceCount: 18
                  type: Microsoft.Security/compliances
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-03Z
                  name: 2018-01-03Z
                  properties:
                    assessmentResult:
                    - percentage: 100
                      segmentType: Compliant
                    assessmentTimestampUtcDate: 2018-01-03T00:00:00Z
                    resourceCount: 18
                  type: Microsoft.Security/compliances
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.compliances_controller
  /{scope}/providers/Microsoft.Security/compliances/{complianceName}:
    get:
      description: Details of a specific Compliance.
      operationId: compliances_get
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f)\
          \ or management group (/providers/Microsoft.Management/managementGroups/mgName)."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: name of the Compliance
        in: path
        name: complianceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Compliance'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - Compliances
      x-ms-examples:
        Get security compliance data for a day:
          parameters:
            api-version: 2017-08-01-preview
            complianceName: 2018-01-01Z
            scope: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-01Z
                name: 2018-01-01Z
                properties:
                  assessmentResult:
                  - percentage: 77.77777777777779
                    segmentType: Compliant
                  assessmentTimestampUtcDate: 2018-01-01T00:00:00Z
                  resourceCount: 18
                type: Microsoft.Security/compliances
      x-openapi-router-controller: openapi_server.controllers.compliances_controller
  /{scope}/providers/Microsoft.Security/informationProtectionPolicies:
    get:
      description: Information protection policies of a specific management group.
      operationId: information_protection_policies_list
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f)\
          \ or management group (/providers/Microsoft.Management/managementGroups/mgName)."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InformationProtectionPolicyList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - InformationProtectionPolicies
      x-ms-examples:
        Get information protection policies:
          parameters:
            api-version: 2017-08-01-preview
            scope: providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/effective
                  name: effective
                  properties:
                    informationTypes:
                      "3bf35491-99b8-41f2-86d5-c1200a7df658":
                        custom: true
                        displayName: Custom
                        enabled: true
                        keywords:
                        - canBeNumeric: false
                          custom: true
                          pattern: '%networking%'
                        order: 1400
                        recommendedLabelId: 7aa516c7-5a53-4857-bc6e-6808c6acd542
                      "5856f35c-8e08-4d08-9bf7-87a146150569":
                        custom: false
                        displayName: Contact Info
                        enabled: true
                        keywords:
                        - canBeNumeric: false
                          custom: false
                          pattern: '%email%'
                        - canBeNumeric: false
                          custom: false
                          pattern: '%e-mail%'
                        - canBeNumeric: false
                          custom: false
                          pattern: '%addr%'
                        - canBeNumeric: true
                          custom: false
                          pattern: '%street%'
                        - canBeNumeric: false
                          custom: false
                          pattern: '%city%'
                        order: 200
                        recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                      "7fb9419d-2473-4ad8-8e11-b25cc8cf6a07":
                        custom: false
                        displayName: Networking
                        enabled: true
                        keywords:
                        - canBeNumeric: false
                          custom: false
                          pattern: '%ip%'
                        - canBeNumeric: false
                          custom: false
                          pattern: ip%address%
                        - canBeNumeric: false
                          custom: false
                          pattern: '%mac%address%'
                        - canBeNumeric: true
                          custom: true
                          pattern: '%networking%'
                        order: 100
                        recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                    labels:
                      "1345da73-bc5a-4a8f-b7dd-3820eb713da8":
                        displayName: Public
                        enabled: true
                        order: 100
                      "575739d2-3d53-4df0-9042-4c7772d5c7b1":
                        displayName: Confidential
                        enabled: true
                        order: 300
                      "7aa516c7-5a53-4857-bc6e-6808c6acd542":
                        displayName: General
                        enabled: true
                        order: 200
                  type: Microsoft.Security/informationProtectionPolicies
                - id: /providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom
                  name: custom
                  properties:
                    informationTypes:
                      "3bf35491-99b8-41f2-86d5-c1200a7df658":
                        custom: true
                        displayName: Custom
                        enabled: true
                        keywords:
                        - canBeNumeric: true
                          custom: true
                          pattern: '%custom%'
                        order: 1400
                        recommendedLabelId: 7aa516c7-5a53-4857-bc6e-6808c6acd542
                      "7fb9419d-2473-4ad8-8e11-b25cc8cf6a07":
                        custom: false
                        displayName: Networking
                        enabled: true
                        keywords:
                        - canBeNumeric: false
                          custom: true
                          pattern: '%networking%'
                        order: 100
                        recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                    labels:
                      "1345da73-bc5a-4a8f-b7dd-3820eb713da8":
                        displayName: Public
                        enabled: true
                        order: 100
                      "575739d2-3d53-4df0-9042-4c7772d5c7b1":
                        displayName: Confidential
                        enabled: true
                        order: 300
                      "7aa516c7-5a53-4857-bc6e-6808c6acd542":
                        displayName: General
                        enabled: true
                        order: 200
                  type: Microsoft.Security/informationProtectionPolicies
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.information_protection_policies_controller
  /{scope}/providers/Microsoft.Security/informationProtectionPolicies/{informationProtectionPolicyName}:
    get:
      description: Details of the information protection policy.
      operationId: information_protection_policies_get
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f)\
          \ or management group (/providers/Microsoft.Management/managementGroups/mgName)."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the information protection policy.
        in: path
        name: informationProtectionPolicyName
        required: true
        schema:
          enum:
          - effective
          - custom
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InformationProtectionPolicy'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - InformationProtectionPolicies
      x-ms-examples:
        Get the customized information protection policy for a management group:
          parameters:
            api-version: 2017-08-01-preview
            informationProtectionPolicyName: custom
            scope: providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom
                name: custom
                properties:
                  informationTypes:
                    "3bf35491-99b8-41f2-86d5-c1200a7df658":
                      custom: true
                      displayName: Custom
                      enabled: true
                      keywords:
                      - canBeNumeric: true
                        custom: true
                        pattern: '%custom%'
                      order: 1400
                      recommendedLabelId: 7aa516c7-5a53-4857-bc6e-6808c6acd542
                    "7fb9419d-2473-4ad8-8e11-b25cc8cf6a07":
                      custom: false
                      displayName: Networking
                      enabled: true
                      keywords:
                      - canBeNumeric: false
                        custom: true
                        pattern: '%networking%'
                      order: 100
                      recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                  labels:
                    "1345da73-bc5a-4a8f-b7dd-3820eb713da8":
                      displayName: Public
                      enabled: true
                      order: 100
                    "575739d2-3d53-4df0-9042-4c7772d5c7b1":
                      displayName: Confidential
                      enabled: true
                      order: 300
                    "7aa516c7-5a53-4857-bc6e-6808c6acd542":
                      displayName: General
                      enabled: true
                      order: 200
                type: Microsoft.Security/informationProtectionPolicies
        Get the effective information protection policy for a management group:
          parameters:
            api-version: 2017-08-01-preview
            informationProtectionPolicyName: effective
            scope: providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/effective
                name: effective
                properties:
                  informationTypes:
                    "3bf35491-99b8-41f2-86d5-c1200a7df658":
                      custom: true
                      displayName: Custom
                      enabled: true
                      keywords:
                      - canBeNumeric: false
                        custom: true
                        pattern: '%networking%'
                      order: 1400
                      recommendedLabelId: 7aa516c7-5a53-4857-bc6e-6808c6acd542
                    "5856f35c-8e08-4d08-9bf7-87a146150569":
                      custom: false
                      displayName: Contact Info
                      enabled: true
                      keywords:
                      - canBeNumeric: false
                        custom: false
                        pattern: '%email%'
                      - canBeNumeric: false
                        custom: false
                        pattern: '%e-mail%'
                      - canBeNumeric: false
                        custom: false
                        pattern: '%addr%'
                      - canBeNumeric: true
                        custom: false
                        pattern: '%street%'
                      - canBeNumeric: false
                        custom: false
                        pattern: '%city%'
                      order: 200
                      recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                    "7fb9419d-2473-4ad8-8e11-b25cc8cf6a07":
                      custom: false
                      displayName: Networking
                      enabled: true
                      keywords:
                      - canBeNumeric: false
                        custom: false
                        pattern: '%ip%'
                      - canBeNumeric: false
                        custom: false
                        pattern: ip%address%
                      - canBeNumeric: false
                        custom: false
                        pattern: '%mac%address%'
                      - canBeNumeric: true
                        custom: true
                        excluded: true
                        pattern: '%networking%'
                      order: 100
                      recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                  labels:
                    "1345da73-bc5a-4a8f-b7dd-3820eb713da8":
                      displayName: Public
                      enabled: true
                      order: 100
                    "575739d2-3d53-4df0-9042-4c7772d5c7b1":
                      displayName: Confidential
                      enabled: true
                      order: 300
                    "7aa516c7-5a53-4857-bc6e-6808c6acd542":
                      displayName: General
                      enabled: true
                      order: 200
                type: Microsoft.Security/informationProtectionPolicies
      x-openapi-router-controller: openapi_server.controllers.information_protection_policies_controller
    put:
      description: Details of the information protection policy.
      operationId: information_protection_policies_create_or_update
      parameters:
      - description: API version for the operation
        in: query
        name: api_version
        required: true
        schema:
          enum:
          - 2017-08-01-preview
          type: string
      - description: "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f)\
          \ or management group (/providers/Microsoft.Management/managementGroups/mgName)."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the information protection policy.
        in: path
        name: information_protection_policy_name
        required: true
        schema:
          enum:
          - effective
          - custom
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InformationProtectionPolicy'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InformationProtectionPolicy'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - InformationProtectionPolicies
      x-ms-examples:
        Create or update an information protection policy for a management group:
          parameters:
            InformationProtectionPolicy:
              id: /providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom
              name: custom
              properties:
                informationTypes:
                  "3bf35491-99b8-41f2-86d5-c1200a7df658":
                    custom: true
                    displayName: Custom
                    enabled: true
                    keywords:
                    - canBeNumeric: true
                      custom: true
                      pattern: '%custom%'
                    order: 1400
                    recommendedLabelId: 7aa516c7-5a53-4857-bc6e-6808c6acd542
                  "7fb9419d-2473-4ad8-8e11-b25cc8cf6a07":
                    custom: false
                    displayName: Networking
                    enabled: true
                    keywords:
                    - canBeNumeric: false
                      custom: true
                      pattern: '%networking%'
                    order: 100
                    recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                labels:
                  "1345da73-bc5a-4a8f-b7dd-3820eb713da8":
                    displayName: Public
                    enabled: true
                    order: 100
                  "575739d2-3d53-4df0-9042-4c7772d5c7b1":
                    displayName: Confidential
                    enabled: true
                    order: 300
                  "7aa516c7-5a53-4857-bc6e-6808c6acd542":
                    displayName: General
                    enabled: true
                    order: 200
              type: Microsoft.Security/informationProtectionPolicies
            api-version: 2017-08-01-preview
            informationProtectionPolicyName: custom
            scope: providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom
                name: custom
                properties:
                  informationTypes:
                    "3bf35491-99b8-41f2-86d5-c1200a7df658":
                      custom: true
                      displayName: Custom
                      enabled: true
                      keywords:
                      - canBeNumeric: true
                        custom: true
                        pattern: '%custom%'
                      order: 1400
                      recommendedLabelId: 7aa516c7-5a53-4857-bc6e-6808c6acd542
                    "7fb9419d-2473-4ad8-8e11-b25cc8cf6a07":
                      custom: false
                      displayName: Networking
                      enabled: true
                      keywords:
                      - canBeNumeric: false
                        custom: true
                        pattern: '%networking%'
                      order: 100
                      recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                  labels:
                    "1345da73-bc5a-4a8f-b7dd-3820eb713da8":
                      displayName: Public
                      enabled: true
                      order: 100
                    "575739d2-3d53-4df0-9042-4c7772d5c7b1":
                      displayName: Confidential
                      enabled: true
                      order: 300
                    "7aa516c7-5a53-4857-bc6e-6808c6acd542":
                      displayName: General
                      enabled: true
                      order: 200
                type: Microsoft.Security/informationProtectionPolicies
            "201":
              body:
                id: /providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom
                name: custom
                properties:
                  informationTypes:
                    "3bf35491-99b8-41f2-86d5-c1200a7df658":
                      custom: true
                      displayName: Custom
                      enabled: true
                      keywords:
                      - canBeNumeric: true
                        custom: true
                        pattern: '%custom%'
                      order: 1400
                      recommendedLabelId: 7aa516c7-5a53-4857-bc6e-6808c6acd542
                    "7fb9419d-2473-4ad8-8e11-b25cc8cf6a07":
                      custom: false
                      displayName: Networking
                      enabled: true
                      keywords:
                      - canBeNumeric: false
                        custom: true
                        pattern: '%networking%'
                      order: 100
                      recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                  labels:
                    "1345da73-bc5a-4a8f-b7dd-3820eb713da8":
                      displayName: Public
                      enabled: true
                      order: 100
                    "575739d2-3d53-4df0-9042-4c7772d5c7b1":
                      displayName: Confidential
                      enabled: true
                      order: 300
                    "7aa516c7-5a53-4857-bc6e-6808c6acd542":
                      displayName: General
                      enabled: true
                      order: 200
                type: Microsoft.Security/informationProtectionPolicies
      x-openapi-router-controller: openapi_server.controllers.information_protection_policies_controller
components:
  parameters:
    AdvancedThreatProtectionSettingName:
      description: Advanced Threat Protection setting name.
      in: path
      name: settingName
      required: true
      schema:
        enum:
        - current
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ApiVersion:
      description: API version for the operation
      in: query
      name: api-version
      required: true
      schema:
        enum:
        - 2017-08-01-preview
        type: string
    AutoProvisioningSettingName:
      description: Auto provisioning setting key
      in: path
      name: settingName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ComplianceName:
      description: name of the Compliance
      in: path
      name: complianceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    InformationProtectionPolicyName:
      description: Name of the information protection policy.
      in: path
      name: informationProtectionPolicyName
      required: true
      schema:
        enum:
        - effective
        - custom
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    PricingName:
      description: name of the pricing configuration
      in: path
      name: pricingName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupName:
      description: The name of the resource group within the user's subscription.
        The name is case insensitive.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceId:
      description: The identifier of the resource.
      in: path
      name: resourceId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    Scope:
      description: "Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f)\
        \ or management group (/providers/Microsoft.Management/managementGroups/mgName)."
      in: path
      name: scope
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SecurityContactName:
      description: Name of the security contact object
      in: path
      name: securityContactName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SettingName:
      description: "Name of setting: (MCAS/WDATP)"
      in: path
      name: settingName
      required: true
      schema:
        enum:
        - MCAS
        - WDATP
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: Azure subscription ID
      in: path
      name: subscriptionId
      required: true
      schema:
        pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
        type: string
    WorkspaceSettingName:
      description: Name of the security setting
      in: path
      name: workspaceSettingName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    AdvancedThreatProtectionSetting:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AdvancedThreatProtectionSetting'
      description: Advanced Threat Protection Settings
      required: true
      x-ms-parameter-location: method
      x-body-name: advancedThreatProtectionSetting
    AutoProvisioningSetting:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AutoProvisioningSetting'
      description: Auto provisioning setting key
      required: true
      x-ms-parameter-location: method
      x-body-name: setting
    Pricing:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Pricing'
      description: Pricing object
      required: true
      x-ms-parameter-location: method
      x-body-name: pricing
    SecurityContact:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecurityContact'
      description: Security contact object
      required: true
      x-ms-parameter-location: method
      x-body-name: securityContact
    Setting:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Setting'
      description: Setting object
      required: true
      x-ms-parameter-location: method
      x-body-name: setting
    WorkspaceSetting:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WorkspaceSetting'
      description: Security data setting object
      required: true
      x-ms-parameter-location: method
      x-body-name: workspaceSetting
  schemas:
    AdvancedThreatProtectionProperties:
      description: The Advanced Threat Protection settings.
      example:
        isEnabled: true
      properties:
        isEnabled:
          description: Indicates whether Advanced Threat Protection is enabled.
          title: isEnabled
          type: boolean
      title: AdvancedThreatProtectionProperties
      type: object
    AdvancedThreatProtectionSetting:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The Advanced Threat Protection resource.
      example:
        properties:
          isEnabled: true
      properties:
        properties:
          $ref: '#/components/schemas/AdvancedThreatProtectionProperties'
      title: AdvancedThreatProtectionSetting
    AutoProvisioningSetting:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Auto provisioning setting
      example:
        properties:
          autoProvision: "On"
      properties:
        properties:
          $ref: '#/components/schemas/AutoProvisioningSettingProperties'
      title: AutoProvisioningSetting
    AutoProvisioningSettingList:
      description: List of all the auto provisioning settings response
      example:
        value:
        - properties:
            autoProvision: "On"
        - properties:
            autoProvision: "On"
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of all the auto provisioning settings
          items:
            $ref: '#/components/schemas/AutoProvisioningSetting'
          title: value
          type: array
      title: AutoProvisioningSettingList
      type: object
    AutoProvisioningSettingProperties:
      description: describes properties of an auto provisioning setting
      example:
        autoProvision: "On"
      properties:
        autoProvision:
          description: Describes what kind of security agent provisioning action to
            take
          enum:
          - "On"
          - "Off"
          title: autoProvision
          type: string
          x-ms-enum:
            modelAsString: true
            name: autoProvision
            values:
            - description: Install missing security agent on VMs automatically
              value: "On"
            - description: Do not install security agent on the VMs automatically
              value: "Off"
      required:
      - autoProvision
      title: AutoProvisioningSettingProperties
      type: object
    CloudError:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      title: CloudError
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          title: code
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          title: message
          type: string
      title: CloudErrorBody
      type: object
      x-ms-external: true
    Compliance:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Compliance of a scope
      example:
        properties:
          assessmentResult:
          - percentage: 0.8008281904610115
            segmentType: segmentType
          - percentage: 0.8008281904610115
            segmentType: segmentType
          assessmentTimestampUtcDate: 2000-01-23T04:56:07.000+00:00
          resourceCount: 6
      properties:
        properties:
          $ref: '#/components/schemas/ComplianceProperties'
      title: Compliance
    ComplianceList:
      description: List of Compliance objects response
      example:
        value:
        - properties:
            assessmentResult:
            - percentage: 0.8008281904610115
              segmentType: segmentType
            - percentage: 0.8008281904610115
              segmentType: segmentType
            assessmentTimestampUtcDate: 2000-01-23T04:56:07.000+00:00
            resourceCount: 6
        - properties:
            assessmentResult:
            - percentage: 0.8008281904610115
              segmentType: segmentType
            - percentage: 0.8008281904610115
              segmentType: segmentType
            assessmentTimestampUtcDate: 2000-01-23T04:56:07.000+00:00
            resourceCount: 6
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of Compliance objects
          items:
            $ref: '#/components/schemas/Compliance'
          title: value
          type: array
      title: ComplianceList
      type: object
    ComplianceProperties:
      description: The Compliance score (percentage) of a Subscription is a sum of
        all Resources' Compliances under the given Subscription. A Resource Compliance
        is defined as the compliant ('healthy') Policy Definitions out of all Policy
        Definitions applicable to a given resource.
      example:
        assessmentResult:
        - percentage: 0.8008281904610115
          segmentType: segmentType
        - percentage: 0.8008281904610115
          segmentType: segmentType
        assessmentTimestampUtcDate: 2000-01-23T04:56:07.000+00:00
        resourceCount: 6
      properties:
        assessmentResult:
          description: "An array of segment, which is the actually the compliance\
            \ assessment."
          items:
            $ref: '#/components/schemas/ComplianceSegment'
          readOnly: true
          title: assessmentResult
          type: array
        assessmentTimestampUtcDate:
          description: The timestamp when the Compliance calculation was conducted.
          format: date-time
          readOnly: true
          title: assessmentTimestampUtcDate
          type: string
        resourceCount:
          description: The resource count of the given subscription for which the
[...]
