openapi: 3.0.1
info:
  description: The Admin KeyVault Management Client.
  title: KeyVaultManagementClient
  version: 2017-02-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/keyvault/Microsoft.KeyVault.Admin/preview/2017-02-01-preview/KeyVault.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-KeyVault
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.KeyVault.Admin/operations:
    get:
      description: Get the list of support rest operations.
      operationId: operations_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2017-02-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
      tags:
      - KeyVault
      x-ms-examples:
        Get the list of support rest operations.:
          parameters:
            api-version: 2017-02-01-preview
          responses:
            "200":
              body:
                nextLink: ""
                value: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.key_vault_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2017-02-01-preview
        type: string
    LocationParameter:
      description: The location of the quota.
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Display:
      description: Contains the localized display information for this particular
        operation / action.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: "The localized friendly description for the operation, as it\
            \ should be shown to the user. It should be thorough, yet concise it will\
            \ be used in tool tips and detailed views."
          title: description
          type: string
        operation:
          description: "The localized friendly name for the operation, as it should\
            \ be shown to the user."
          title: operation
          type: string
        provider:
          description: The localized friendly form of the resource provider name;
            it is expected to also include the publisher/company responsible. It should
            use Title Casing and begin with "Microsoft" for 1st party services. e.g.
            "Microsoft Monitoring Insights" or "Microsoft Compute."
          title: provider
          type: string
        resource:
          description: The localized friendly form of the resource type related to
            this action/operation; it should match the public documentation for the
            resource provider.
          title: resource
          type: string
      title: Display
      type: object
    Operation:
      description: Describes the supported rest operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Display'
        name:
          description: The name of the operation being performed on this particular
            object. It should match the action name that appears in RBAC / the event
            service.
          title: name
          type: string
      title: Operation
      type: object
    OperationList:
      description: List of Operations
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page of operations.
          title: nextLink
          type: string
        value:
          description: Array of operations
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationList
      type: object
    Resource:
      description: Base Resource Object
      properties:
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: Location where resource is location.
          readOnly: true
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: List of key value pairs.
          readOnly: true
          type: object
        type:
          description: Type of resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
