openapi: 3.0.1
info:
  contact: {}
  title: AviationData.Systems Airports API V1
  version: v1
  x-apisguru-categories:
  - transport
  x-logo:
    url: https://twitter.com/aviationdataSYS/profile_image?size=original
  x-origin:
  - format: swagger
    url: http://api.aviationdata.systems//swagger/docs/v1
    version: "2.0"
  x-providerName: aviationdata.systems
servers:
- url: https://api.aviationdata.systems/
paths:
  /v1/airport/autocomplete/{airport_name}:
    get:
      description: "Required parameters: airport_name, airport_service_type. Optional\
        \ parameter: country code (ISO 3166-1)."
      operationId: AutoCompleteAirportName_AirportNameSearch
      parameters:
      - description: "Required: The airports name"
        in: path
        name: airport_name
        required: true
        schema:
          type: string
      - description: "Required: Needs to be: All, Scheduled or NonScheduled"
        in: query
        name: airport_service_type
        required: true
        schema:
          enum:
          - All
          - Scheduled
          - NonScheduled
          type: string
      - description: "Optional: Country code (ISO 3166-1). This can be found via /countries"
        in: query
        name: optional_country_code
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirportsAPI.Controllers.AutoCompleteAirportNameController.Response'
            text/json:
              schema:
                $ref: '#/components/schemas/AirportsAPI.Controllers.AutoCompleteAirportNameController.Response'
          description: OK
      summary: Autocomplete airport names. Returns a maximum of 10 airport names.
      tags:
      - AutoCompleteAirportName
      x-accepts:
      - application/json
      - text/json
  /v1/airport/iata/{airport_iata}:
    get:
      description: "Required parameters: airport_iata"
      operationId: AirportIATA_AirportIATASearch
      parameters:
      - description: "Required: The airports IATA code"
        in: path
        name: airport_iata
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirportsAPI.Controllers.AirportIATAController.Response'
            text/json:
              schema:
                $ref: '#/components/schemas/AirportsAPI.Controllers.AirportIATAController.Response'
          description: OK
      summary: Search for airport by IATA code
      tags:
      - AirportIATA
      x-accepts:
      - application/json
      - text/json
  /v1/airport/name/{airport_name}:
    get:
      description: "Required parameters: airport_name, api_mode"
      operationId: AirportDetails_AirportNameSearch
      parameters:
      - description: "Required: The airports name"
        in: path
        name: airport_name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirportsAPI.Controllers.AirportDetailsController.Response'
            text/json:
              schema:
                $ref: '#/components/schemas/AirportsAPI.Controllers.AirportDetailsController.Response'
          description: OK
      summary: Search for airport by name
      tags:
      - AirportDetails
      x-accepts:
      - application/json
      - text/json
  /v1/airport/nearest/{result_count}/{latitude}/{longitude}:
    get:
      description: "Required parameters: result_count, latitude, longitude, airport_service_type"
      operationId: NearestAirports_NearestAirportList
      parameters:
      - description: "Required: Number of airports to return. Min: 1 Max: 20"
        in: path
        name: result_count
        required: true
        schema:
          format: int32
          type: integer
      - description: "Required: Latitude"
        in: path
        name: latitude
        required: true
        schema:
          format: double
          type: number
      - description: "Required: Longitude"
        in: path
        name: longitude
        required: true
        schema:
          format: double
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirportsAPI.Controllers.NearestAirportsController.Response'
            text/json:
              schema:
                $ref: '#/components/schemas/AirportsAPI.Controllers.NearestAirportsController.Response'
          description: OK
      summary: Search for airports by location
      tags:
      - NearestAirports
      x-accepts:
      - application/json
      - text/json
  /v1/country/code/{country_code}:
    get:
      description: "Required parameters: country code (ISO 3166-1), airport_service_type."
      operationId: CountryAirportList_CountryAirportList
      parameters:
      - description: Country code (ISO 3166-1). This can be found via /countries
        in: path
        name: country_code
        required: true
        schema:
          type: string
      - description: "Required: Needs to be: All, Scheduled or NonScheduled"
        in: query
        name: airport_service_type
        required: true
        schema:
          enum:
          - All
          - Scheduled
          - NonScheduled
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirportsAPI.Controllers.CountryAirportListController.AirportListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AirportsAPI.Controllers.CountryAirportListController.AirportListResponse'
          description: OK
      summary: Country airports. Returns a list of airports for a country code(ISO
        3166-1 alpha-2 code)
      tags:
      - CountryAirportList
      x-accepts:
      - application/json
      - text/json
  /v1/country_list:
    get:
      operationId: CountryList_CountryAirportList
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirportsAPI.Controllers.CountryListController.CountryListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AirportsAPI.Controllers.CountryListController.CountryListResponse'
          description: OK
      summary: Country list. Returns a list of countries where airport data is available
      tags:
      - CountryList
      x-accepts:
      - application/json
      - text/json
components:
  schemas:
    AirportsAPI.Controllers.AirportDetailsController.Response:
      example:
        status_code: status_code
        airport_list:
        - airport_type: airport_type
          iata_code: iata_code
          website: website
          logo_url: logo_url
          elevation_ft: elevation_ft
          latitude: latitude
          local_code: local_code
          airport_name: airport_name
          Runway:
          - he_elevation_ft: he_elevation_ft
            hE_latitude: hE_latitude
            le_displaced_threshold_ft: le_displaced_threshold_ft
            hE_longitude: hE_longitude
            he_displaced_threshold_ft: he_displaced_threshold_ft
            le_heading_deg: le_heading_deg
            le_longitude: le_longitude
            width_ft: width_ft
            le_latitude: le_latitude
            closed: true
            surface_type: surface_type
            he_heading_deg: he_heading_deg
            le_elevation_ft: le_elevation_ft
            length_ft: length_ft
            lighted: true
          - he_elevation_ft: he_elevation_ft
            hE_latitude: hE_latitude
            le_displaced_threshold_ft: le_displaced_threshold_ft
            hE_longitude: hE_longitude
            he_displaced_threshold_ft: he_displaced_threshold_ft
            le_heading_deg: le_heading_deg
            le_longitude: le_longitude
            width_ft: width_ft
            le_latitude: le_latitude
            closed: true
            surface_type: surface_type
            he_heading_deg: he_heading_deg
            le_elevation_ft: le_elevation_ft
            length_ft: length_ft
            lighted: true
          Country:
            country_code: country_code
            name: name
            flag_url: flag_url
          Frequency:
          - frequency_mhz: frequency_mhz
            frequency_type: frequency_type
            desc: desc
          - frequency_mhz: frequency_mhz
            frequency_type: frequency_type
            desc: desc
          Region:
            name: name
            local_code: local_code
            region_code: region_code
          location: location
          gps_code: gps_code
          wikipedia: wikipedia
          scheduled_service: true
          longitude: longitude
        - airport_type: airport_type
          iata_code: iata_code
          website: website
          logo_url: logo_url
          elevation_ft: elevation_ft
          latitude: latitude
          local_code: local_code
          airport_name: airport_name
          Runway:
          - he_elevation_ft: he_elevation_ft
            hE_latitude: hE_latitude
            le_displaced_threshold_ft: le_displaced_threshold_ft
            hE_longitude: hE_longitude
            he_displaced_threshold_ft: he_displaced_threshold_ft
            le_heading_deg: le_heading_deg
            le_longitude: le_longitude
            width_ft: width_ft
            le_latitude: le_latitude
            closed: true
            surface_type: surface_type
            he_heading_deg: he_heading_deg
            le_elevation_ft: le_elevation_ft
            length_ft: length_ft
            lighted: true
          - he_elevation_ft: he_elevation_ft
            hE_latitude: hE_latitude
            le_displaced_threshold_ft: le_displaced_threshold_ft
            hE_longitude: hE_longitude
            he_displaced_threshold_ft: he_displaced_threshold_ft
            le_heading_deg: le_heading_deg
            le_longitude: le_longitude
            width_ft: width_ft
            le_latitude: le_latitude
            closed: true
            surface_type: surface_type
            he_heading_deg: he_heading_deg
            le_elevation_ft: le_elevation_ft
            length_ft: length_ft
            lighted: true
          Country:
            country_code: country_code
            name: name
            flag_url: flag_url
          Frequency:
          - frequency_mhz: frequency_mhz
            frequency_type: frequency_type
            desc: desc
          - frequency_mhz: frequency_mhz
            frequency_type: frequency_type
            desc: desc
          Region:
            name: name
            local_code: local_code
            region_code: region_code
          location: location
          gps_code: gps_code
          wikipedia: wikipedia
          scheduled_service: true
          longitude: longitude
        message: message
        disclaimer: disclaimer
      properties:
        airport_list:
          items:
            $ref: '#/components/schemas/AirportsAPI.Models.Airport'
          type: array
        disclaimer:
          type: string
        message:
          type: string
        status_code:
          type: string
      type: object
    AirportsAPI.Controllers.AirportIATAController.Response:
      example:
        status_code: status_code
        airport_list:
        - airport_type: airport_type
          iata_code: iata_code
          website: website
          logo_url: logo_url
          elevation_ft: elevation_ft
          latitude: latitude
          local_code: local_code
          airport_name: airport_name
          Runway:
          - he_elevation_ft: he_elevation_ft
            hE_latitude: hE_latitude
            le_displaced_threshold_ft: le_displaced_threshold_ft
            hE_longitude: hE_longitude
            he_displaced_threshold_ft: he_displaced_threshold_ft
            le_heading_deg: le_heading_deg
            le_longitude: le_longitude
            width_ft: width_ft
            le_latitude: le_latitude
            closed: true
            surface_type: surface_type
            he_heading_deg: he_heading_deg
            le_elevation_ft: le_elevation_ft
            length_ft: length_ft
            lighted: true
          - he_elevation_ft: he_elevation_ft
            hE_latitude: hE_latitude
            le_displaced_threshold_ft: le_displaced_threshold_ft
            hE_longitude: hE_longitude
            he_displaced_threshold_ft: he_displaced_threshold_ft
            le_heading_deg: le_heading_deg
            le_longitude: le_longitude
            width_ft: width_ft
            le_latitude: le_latitude
            closed: true
            surface_type: surface_type
            he_heading_deg: he_heading_deg
            le_elevation_ft: le_elevation_ft
            length_ft: length_ft
            lighted: true
          Country:
            country_code: country_code
            name: name
            flag_url: flag_url
          Frequency:
          - frequency_mhz: frequency_mhz
            frequency_type: frequency_type
            desc: desc
          - frequency_mhz: frequency_mhz
            frequency_type: frequency_type
            desc: desc
          Region:
            name: name
            local_code: local_code
            region_code: region_code
          location: location
          gps_code: gps_code
          wikipedia: wikipedia
          scheduled_service: true
          longitude: longitude
        - airport_type: airport_type
          iata_code: iata_code
          website: website
          logo_url: logo_url
          elevation_ft: elevation_ft
          latitude: latitude
          local_code: local_code
          airport_name: airport_name
          Runway:
          - he_elevation_ft: he_elevation_ft
            hE_latitude: hE_latitude
            le_displaced_threshold_ft: le_displaced_threshold_ft
            hE_longitude: hE_longitude
            he_displaced_threshold_ft: he_displaced_threshold_ft
            le_heading_deg: le_heading_deg
            le_longitude: le_longitude
            width_ft: width_ft
            le_latitude: le_latitude
            closed: true
            surface_type: surface_type
            he_heading_deg: he_heading_deg
            le_elevation_ft: le_elevation_ft
            length_ft: length_ft
            lighted: true
          - he_elevation_ft: he_elevation_ft
            hE_latitude: hE_latitude
            le_displaced_threshold_ft: le_displaced_threshold_ft
            hE_longitude: hE_longitude
            he_displaced_threshold_ft: he_displaced_threshold_ft
            le_heading_deg: le_heading_deg
            le_longitude: le_longitude
            width_ft: width_ft
            le_latitude: le_latitude
            closed: true
            surface_type: surface_type
            he_heading_deg: he_heading_deg
            le_elevation_ft: le_elevation_ft
            length_ft: length_ft
            lighted: true
          Country:
            country_code: country_code
            name: name
            flag_url: flag_url
          Frequency:
          - frequency_mhz: frequency_mhz
            frequency_type: frequency_type
            desc: desc
          - frequency_mhz: frequency_mhz
            frequency_type: frequency_type
            desc: desc
          Region:
            name: name
            local_code: local_code
            region_code: region_code
          location: location
          gps_code: gps_code
          wikipedia: wikipedia
          scheduled_service: true
          longitude: longitude
        message: message
        disclaimer: disclaimer
      properties:
        airport_list:
          items:
            $ref: '#/components/schemas/AirportsAPI.Models.Airport'
          type: array
        disclaimer:
          type: string
        message:
          type: string
        status_code:
          type: string
      type: object
    AirportsAPI.Controllers.AutoCompleteAirportNameController.Response:
      example:
        status_code: status_code
        airport_list:
        - label: label
          value: value
        - label: label
          value: value
        message: message
        disclaimer: disclaimer
      properties:
        airport_list:
          items:
            $ref: '#/components/schemas/AirportsAPI.Models.AirportListAutocomplete'
          type: array
        disclaimer:
          type: string
        message:
          type: string
        status_code:
          type: string
      type: object
    AirportsAPI.Controllers.CountryAirportListController.AirportListResponse:
      example:
        country:
          continent: continent
          country_code: country_code
          name: name
          flag_url: flag_url
        status_code: status_code
        airport_list:
        - airport_type: airport_type
          iata_code: iata_code
          airport_name: airport_name
          latitude: latitude
          location: location
          longitude: longitude
        - airport_type: airport_type
          iata_code: iata_code
          airport_name: airport_name
          latitude: latitude
          location: location
          longitude: longitude
        message: message
        disclaimer: disclaimer
      properties:
        airport_list:
          items:
            $ref: '#/components/schemas/AirportsAPI.Models.AirportList'
          type: array
        country:
          $ref: '#/components/schemas/AirportsAPI.Models.Country'
        disclaimer:
          type: string
        message:
          type: string
        status_code:
          type: string
      type: object
    AirportsAPI.Controllers.CountryListController.CountryListResponse:
      example:
        country:
        - continent: continent
          country_code: country_code
          name: name
          flag_url: flag_url
        - continent: continent
          country_code: country_code
          name: name
          flag_url: flag_url
        status_code: status_code
        message: message
        disclaimer: disclaimer
      properties:
        country:
          items:
            $ref: '#/components/schemas/AirportsAPI.Models.Country'
          type: array
        disclaimer:
          type: string
        message:
          type: string
        status_code:
          type: string
      type: object
    AirportsAPI.Controllers.NearestAirportsController.Response:
      example:
        status_code: status_code
        airport_list:
        - airport_type: airport_type
          iata_code: iata_code
          website: website
          logo_url: logo_url
          elevation_ft: elevation_ft
          latitude: latitude
          local_code: local_code
          airport_name: airport_name
          Runway:
          - he_elevation_ft: he_elevation_ft
            hE_latitude: hE_latitude
            le_displaced_threshold_ft: le_displaced_threshold_ft
            hE_longitude: hE_longitude
            he_displaced_threshold_ft: he_displaced_threshold_ft
            le_heading_deg: le_heading_deg
            le_longitude: le_longitude
            width_ft: width_ft
            le_latitude: le_latitude
            closed: true
            surface_type: surface_type
            he_heading_deg: he_heading_deg
            le_elevation_ft: le_elevation_ft
            length_ft: length_ft
            lighted: true
          - he_elevation_ft: he_elevation_ft
            hE_latitude: hE_latitude
            le_displaced_threshold_ft: le_displaced_threshold_ft
            hE_longitude: hE_longitude
            he_displaced_threshold_ft: he_displaced_threshold_ft
            le_heading_deg: le_heading_deg
            le_longitude: le_longitude
            width_ft: width_ft
            le_latitude: le_latitude
            closed: true
            surface_type: surface_type
            he_heading_deg: he_heading_deg
            le_elevation_ft: le_elevation_ft
            length_ft: length_ft
            lighted: true
          Country:
            country_code: country_code
            name: name
            flag_url: flag_url
          Frequency:
          - frequency_mhz: frequency_mhz
            frequency_type: frequency_type
            desc: desc
          - frequency_mhz: frequency_mhz
            frequency_type: frequency_type
            desc: desc
          Region:
            name: name
            local_code: local_code
            region_code: region_code
          location: location
          gps_code: gps_code
          wikipedia: wikipedia
          scheduled_service: true
          longitude: longitude
        - airport_type: airport_type
          iata_code: iata_code
          website: website
          logo_url: logo_url
          elevation_ft: elevation_ft
          latitude: latitude
          local_code: local_code
          airport_name: airport_name
          Runway:
          - he_elevation_ft: he_elevation_ft
            hE_latitude: hE_latitude
            le_displaced_threshold_ft: le_displaced_threshold_ft
            hE_longitude: hE_longitude
            he_displaced_threshold_ft: he_displaced_threshold_ft
            le_heading_deg: le_heading_deg
            le_longitude: le_longitude
            width_ft: width_ft
            le_latitude: le_latitude
            closed: true
            surface_type: surface_type
            he_heading_deg: he_heading_deg
            le_elevation_ft: le_elevation_ft
            length_ft: length_ft
            lighted: true
          - he_elevation_ft: he_elevation_ft
            hE_latitude: hE_latitude
            le_displaced_threshold_ft: le_displaced_threshold_ft
            hE_longitude: hE_longitude
            he_displaced_threshold_ft: he_displaced_threshold_ft
            le_heading_deg: le_heading_deg
            le_longitude: le_longitude
            width_ft: width_ft
            le_latitude: le_latitude
            closed: true
            surface_type: surface_type
            he_heading_deg: he_heading_deg
            le_elevation_ft: le_elevation_ft
            length_ft: length_ft
            lighted: true
          Country:
            country_code: country_code
            name: name
            flag_url: flag_url
          Frequency:
          - frequency_mhz: frequency_mhz
            frequency_type: frequency_type
            desc: desc
          - frequency_mhz: frequency_mhz
            frequency_type: frequency_type
            desc: desc
          Region:
            name: name
            local_code: local_code
            region_code: region_code
          location: location
          gps_code: gps_code
          wikipedia: wikipedia
          scheduled_service: true
          longitude: longitude
        message: message
        disclaimer: disclaimer
      properties:
        airport_list:
          items:
            $ref: '#/components/schemas/AirportsAPI.Models.Airport'
          type: array
        disclaimer:
          type: string
        message:
          type: string
        status_code:
          type: string
      type: object
    AirportsAPI.Models.Airport:
      example:
        airport_type: airport_type
        iata_code: iata_code
        website: website
        logo_url: logo_url
        elevation_ft: elevation_ft
        latitude: latitude
        local_code: local_code
        airport_name: airport_name
        Runway:
        - he_elevation_ft: he_elevation_ft
          hE_latitude: hE_latitude
          le_displaced_threshold_ft: le_displaced_threshold_ft
          hE_longitude: hE_longitude
          he_displaced_threshold_ft: he_displaced_threshold_ft
          le_heading_deg: le_heading_deg
          le_longitude: le_longitude
          width_ft: width_ft
          le_latitude: le_latitude
          closed: true
          surface_type: surface_type
          he_heading_deg: he_heading_deg
          le_elevation_ft: le_elevation_ft
          length_ft: length_ft
          lighted: true
        - he_elevation_ft: he_elevation_ft
          hE_latitude: hE_latitude
          le_displaced_threshold_ft: le_displaced_threshold_ft
          hE_longitude: hE_longitude
          he_displaced_threshold_ft: he_displaced_threshold_ft
          le_heading_deg: le_heading_deg
          le_longitude: le_longitude
          width_ft: width_ft
          le_latitude: le_latitude
          closed: true
          surface_type: surface_type
          he_heading_deg: he_heading_deg
          le_elevation_ft: le_elevation_ft
          length_ft: length_ft
          lighted: true
        Country:
          country_code: country_code
          name: name
          flag_url: flag_url
        Frequency:
        - frequency_mhz: frequency_mhz
          frequency_type: frequency_type
          desc: desc
        - frequency_mhz: frequency_mhz
          frequency_type: frequency_type
          desc: desc
        Region:
          name: name
          local_code: local_code
          region_code: region_code
        location: location
        gps_code: gps_code
        wikipedia: wikipedia
        scheduled_service: true
        longitude: longitude
      properties:
        Country:
          $ref: '#/components/schemas/AirportsAPI.Models.Location.Country'
        Frequency:
          items:
            $ref: '#/components/schemas/AirportsAPI.Models.Frequency'
          type: array
        Region:
          $ref: '#/components/schemas/AirportsAPI.Models.Location.Region'
        Runway:
          items:
            $ref: '#/components/schemas/AirportsAPI.Models.Runway'
          type: array
        airport_name:
          type: string
        airport_type:
          type: string
        elevation_ft:
          type: string
        gps_code:
          type: string
        iata_code:
          type: string
        latitude:
          type: string
        local_code:
          type: string
        location:
          type: string
        logo_url:
          type: string
        longitude:
          type: string
        scheduled_service:
          type: boolean
        website:
          type: string
        wikipedia:
          type: string
      type: object
    AirportsAPI.Models.AirportList:
      example:
        airport_type: airport_type
        iata_code: iata_code
        airport_name: airport_name
        latitude: latitude
        location: location
        longitude: longitude
      properties:
        airport_name:
          type: string
        airport_type:
          type: string
        iata_code:
          type: string
        latitude:
          type: string
        location:
          type: string
        longitude:
          type: string
      type: object
    AirportsAPI.Models.AirportListAutocomplete:
      example:
        label: label
        value: value
      properties:
        label:
          type: string
        value:
          type: string
      type: object
    AirportsAPI.Models.Country:
      example:
        continent: continent
        country_code: country_code
        name: name
        flag_url: flag_url
      properties:
        continent:
          type: string
        country_code:
          type: string
        flag_url:
          type: string
        name:
          type: string
      type: object
    AirportsAPI.Models.Frequency:
      example:
        frequency_mhz: frequency_mhz
        frequency_type: frequency_type
        desc: desc
      properties:
        desc:
          type: string
        frequency_mhz:
          type: string
        frequency_type:
          type: string
      type: object
    AirportsAPI.Models.Location.Country:
      example:
        country_code: country_code
        name: name
        flag_url: flag_url
      properties:
        country_code:
          type: string
        flag_url:
          type: string
        name:
          type: string
      type: object
    AirportsAPI.Models.Location.Region:
      example:
        name: name
        local_code: local_code
        region_code: region_code
      properties:
        local_code:
          type: string
        name:
          type: string
        region_code:
          type: string
      type: object
    AirportsAPI.Models.Runway:
      example:
        he_elevation_ft: he_elevation_ft
        hE_latitude: hE_latitude
        le_displaced_threshold_ft: le_displaced_threshold_ft
        hE_longitude: hE_longitude
        he_displaced_threshold_ft: he_displaced_threshold_ft
        le_heading_deg: le_heading_deg
        le_longitude: le_longitude
        width_ft: width_ft
        le_latitude: le_latitude
        closed: true
        surface_type: surface_type
        he_heading_deg: he_heading_deg
        le_elevation_ft: le_elevation_ft
        length_ft: length_ft
        lighted: true
      properties:
        closed:
          type: boolean
        hE_latitude:
          type: string
        hE_longitude:
          type: string
        he_displaced_threshold_ft:
          type: string
        he_elevation_ft:
          type: string
        he_heading_deg:
          type: string
        le_displaced_threshold_ft:
          type: string
        le_elevation_ft:
          type: string
        le_heading_deg:
          type: string
        le_latitude:
          type: string
        le_longitude:
          type: string
        length_ft:
          type: string
        lighted:
          type: boolean
        surface_type:
          type: string
        width_ft:
          type: string
      type: object
  securitySchemes:
    basic:
      description: Basic HTTP Authentication
      scheme: basic
      type: http
x-original-swagger-version: "2.0"

