openapi: 3.0.1
info:
  description: This API provides content for financial instutions participating in
    Mastercard Personalized Offers to use in online and mobile banking applications
    for cardholders.
  title: Personalized Offers
  version: "1.3"
  x-artifactId: personalized-loyalty-offers
  x-origin:
  - format: swagger
    url: https://developer.mastercard.com/devzone/api/portal/swagger/personalized-offers
    version: "2.0"
  x-providerName: mastercard.com
  x-serviceName: PersonalizedLoyaltyOffers
servers:
- url: https://api.mastercard.com/plo/v1
paths:
  /activatestatementcreditoffer:
    post:
      description: |
        This resource is used to make a statement credit offer available for redemption.
      operationId: activatestatementcreditoffer_post
      parameters:
      - description: "Financial Institution Identifier. Code that specifies the platform\
          \ and configuration instance, provided by Mastercard during implementation."
        example: "999999"
        in: query
        name: FId
        required: true
        schema:
          type: string
      - description: Session identifier as returned by the UserToken resource.
        in: query
        name: UserToken
        required: true
        schema:
          type: string
      - description: "System-wide identifier for the campaign, not intended for end-user\
          \ display."
        example: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
        in: query
        name: OfferId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateOfferResponse'
          description: This resource returns information about the activated offer.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Make Statement Credit Offer Available Redeemable
      tags:
      - Activate Statement Credit Offer
      x-testable: false
      x-openapi-router-controller: openapi_server.controllers.activate_statement_credit_offer_controller
  /matchedoffers:
    get:
      description: |
        This resource returns offers that are available to the user and conform to the search criteria (if specified).
      operationId: matchedoffers_get
      parameters:
      - description: "Financial Institution Identifier. Code that specifies the platform\
          \ and configuration instance, provided by Mastercard during implementation."
        example: "999999"
        in: query
        name: FId
        required: true
        schema:
          type: string
      - description: Session identifier as returned by the UserToken resource.
        in: query
        name: UserToken
        required: true
        schema:
          type: string
      - description: "When utilized with a multi-lingual implementation, may be the\
          \ tongue and country of the user in ISO 639-1, underscore, ISO 3166-1 alpha-2\
          \ format."
        example: en_US
        in: query
        name: Lang
        schema:
          type: string
      - description: "Fuzzy term to search retailers with offers for the user. In\
          \ general, searching of Matched Offers is not advised as users generally\
          \ have a modest selection of highly relevant promotions."
        example: Example.com
        in: query
        name: MerchantName
        schema:
          type: string
      - description: Offer Categories.
        example: DEPARTMENTSTORE
        in: query
        name: Category
        schema:
          type: string
      - description: "The kind of deal. POSTPAIDCREDIT- Statement Credit Offer, which\
          \ is a discount that is automatically applied to the card linked to the\
          \ user and utilized to make the purchase."
        example: POSTPAIDCREDIT
        in: query
        name: OfferType
        schema:
          type: string
      - description: Segment of offers to return.
        example: 1
        in: query
        name: PageNumber
        schema:
          type: integer
      - description: Segment size of offer to be returned. Default is 25.
        example: 1
        in: query
        name: ItemsPerPage
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchedOffersResponse'
          description: This resource returns offers that are available to the user
            and conform to the search criteria (if specified).
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Returns Matched Offers
      tags:
      - Matched Offers
      x-testable: false
      x-openapi-router-controller: openapi_server.controllers.matched_offers_controller
  /offerdetails:
    get:
      description: |
        This resource returns extended information for the requested offer, typically used to display a detail view.
      operationId: offerdetails_get
      parameters:
      - description: "Financial Institution Identifier. Code that specifies the platform\
          \ and configuration instance, provided by Mastercard during implementation."
        example: "999999"
        in: query
        name: FId
        required: true
        schema:
          type: string
      - description: Session identifier as returned by the UserToken resource.
        example: mh3WonUm5xmE
        in: query
        name: UserToken
        required: true
        schema:
          type: string
      - description: "System-wide identifier for the campaign, not intended for end-user\
          \ display."
        example: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
        in: query
        name: OfferId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDetailsResponse'
          description: "This resource returns extended information for the requested\
            \ offer, typically used to display a detail view."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Returns Information on an Offer
      tags:
      - Offer Details
      x-testable: false
      x-openapi-router-controller: openapi_server.controllers.offer_details_controller
  /redeemedoffers:
    get:
      description: |
        This resource returns offers that have been fulfilled by the user.
      operationId: redeemedoffers_get
      parameters:
      - description: "Financial Institution Identifier. Code that specifies the platform\
          \ and configuration instance, provided by Mastercard during implementation."
        example: "999999"
        in: query
        name: FId
        required: true
        schema:
          type: string
      - description: Session identifier as returned by the UserToken resource.
        in: query
        name: UserToken
        required: true
        schema:
          type: string
      - description: "When utilized with a multi-lingual implementation, may be the\
          \ tongue and country of the user in ISO 639-1, underscore, ISO 3166-1 alpha-2\
          \ format."
        example: en_US
        in: query
        name: Lang
        schema:
          type: string
      - description: Segment of offers to return.
        example: 1
        in: query
        name: PageNumber
        schema:
          type: integer
      - description: Segment size of offer to be returned. Default is 25.
        example: 1
        in: query
        name: ItemsPerPage
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedeemedOffersResponse'
          description: This resource returns offers that have been fulfilled by the
            user.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Returns Redeemed Offers
      tags:
      - Redeemed Offers
      x-testable: false
      x-openapi-router-controller: openapi_server.controllers.redeemed_offers_controller
  /statementcreditactivationdetail:
    get:
      description: |
        This resource returns extended information about the specified activated postpaid credit offer.
      operationId: statementcreditactivationdetail_get
      parameters:
      - description: "Financial Institution Identifier. Code that specifies the platform\
          \ and configuration instance, provided by Mastercard during implementation."
        example: "999999"
        in: query
        name: FId
        required: true
        schema:
          type: string
      - description: Session identifier as returned by the UserToken resource.
        in: query
        name: UserToken
        required: true
        schema:
          type: string
      - description: "Distinct identifier for the offer being available for redemption\
          \ by the user as returned by Activate Statement Credit Offer or Redeemed\
          \ Offers, not intended for end-user display."
        example: TRU_1000136
        in: query
        name: ActivationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementCreditActivationResponse'
          description: This resource returns extended information about the specified
            activated postpaid credit offer.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Returns Information About Redeemable Postpaid Credit Offer
      tags:
      - Statement Credit Activation Detail
      x-testable: false
      x-openapi-router-controller: openapi_server.controllers.statement_credit_activation_detail_controller
  /userfeedback:
    post:
      description: |
        This resource allows a user to provide a thumbs-up or a thumbs-down rating of the specified offer. Offer matches that are disliked will be supressed from the results of future calls to Matched Offers.
      operationId: userfeedback_post
      parameters:
      - description: "Financial Institution Identifier. Code that specifies the platform\
          \ and configuration instance, provided by Mastercard during implementation."
        example: "999999"
        in: query
        name: FId
        required: true
        schema:
          type: string
      - description: Session identifier as returned by the UserToken resource.
        in: query
        name: UserToken
        required: true
        schema:
          type: string
      - description: "System-wide identifier for the campaign, not intended for end-user\
          \ display."
        example: d82e1e7c-c6b9-3b46-acd0-5498731c2838
        in: query
        name: OfferId
        required: true
        schema:
          type: string
      - description: User response to the offer. 0- Dislike offer. 1- Like offer.
        example: 1
        in: query
        name: Feedback
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserFeedbackResponse'
          description: This resource returns the user rating of the specified offer.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Provide User Feedback on Offer
      tags:
      - User Feedback
      x-testable: false
      x-openapi-router-controller: openapi_server.controllers.user_feedback_controller
  /usersavings:
    get:
      description: |
        This resource returns the accumulated and potential savings for a Personalized Offers user.
      operationId: usersavings_get
      parameters:
      - description: "Financial Institution Identifier. Code that specifies the platform\
          \ and configuration instance, provided by Mastercard during implementation."
        example: "999999"
        in: query
        name: FId
        required: true
        schema:
          type: string
      - description: Session identifier as returned by the UserToken resource.
        in: query
        name: UserToken
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSavingsResponse'
          description: This resource returns the accumulated and potential savings
            for a Personalized Offers user.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Returns Savings for the User
      tags:
      - User Savings
      x-testable: false
      x-openapi-router-controller: openapi_server.controllers.user_savings_controller
  /usertoken:
    get:
      description: |
        This resource creates the user session. It must be called prior to any other API calls for the specified user. The Token value does not expire.
      operationId: usertoken_get
      parameters:
      - description: "Financial Institution Identifier. Code that specifies the platform\
          \ and configuration instance, provided by Mastercard during implementation."
        example: "999999"
        in: query
        name: FId
        required: true
        schema:
          type: string
      - description: Authorization Information. AES 128-bit encrypted concatenation
          of "User ID as specified in enrollment:FI ID as provided by Mastercard:current
          Unix time". Key exchange and establishment of maintenance procedures occur
          during implementation.
        in: query
        name: AuthInfo
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTokenResponse'
          description: "This resource returns the user session token (UserToken),\
            \ which is a required input to all other API resources."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unexpected error
      summary: Returns User Session Token
      tags:
      - User Token
      x-testable: false
      x-openapi-router-controller: openapi_server.controllers.user_token_controller
components:
  schemas:
    ActivateOfferResponse:
      example:
        Response:
          ScActivation:
            Status: ACTIVATED
            DaysRemaining: "13"
            TotalSpend: "0"
            ActivationId: TRU_1000136
            RemainingSpend: "30"
            RedemptionMode: CASH
            PointsEarned: "0"
            ShortDescription: "On your next purchase of $30 or more at Example.com\
              \ inline or at a store, receive $10.00 back posted to the card associated\
              \ with this account."
            OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
            Merchant: Example.com
            MerchantLogo: https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png
            Headline: Shop at Example.com and get $10.00 back on purchase of $30 or
              more
            ActivationDate: 2015-10-15
            CashBack: "0"
            RedemptionEndDate: 2015-10-29
          Status:
            Message: Success
            Code: "600"
      properties:
        Response:
          $ref: '#/components/schemas/ActivateResponse'
      title: ActivateOfferResponse
      type: object
    ActivateResponse:
      example:
        ScActivation:
          Status: ACTIVATED
          DaysRemaining: "13"
          TotalSpend: "0"
          ActivationId: TRU_1000136
          RemainingSpend: "30"
          RedemptionMode: CASH
          PointsEarned: "0"
          ShortDescription: "On your next purchase of $30 or more at Example.com inline\
            \ or at a store, receive $10.00 back posted to the card associated with\
            \ this account."
          OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
          Merchant: Example.com
          MerchantLogo: https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png
          Headline: Shop at Example.com and get $10.00 back on purchase of $30 or
            more
          ActivationDate: 2015-10-15
          CashBack: "0"
          RedemptionEndDate: 2015-10-29
        Status:
          Message: Success
          Code: "600"
      properties:
        ScActivation:
          $ref: '#/components/schemas/ScActivation'
        Status:
          $ref: '#/components/schemas/Status'
      title: ActivateResponse
      type: object
    ActivationResponse:
      example:
        ScActivation:
          Status: ACTIVATED
          DaysRemaining: "13"
          TotalSpend: "0"
          ActivationId: TRU_1000136
          RemainingSpend: "30"
          RedemptionMode: CASH
          PointsEarned: "0"
          ShortDescription: "On your next purchase of $30 or more at Example.com inline\
            \ or at a store, receive $10.00 back posted to the card associated with\
            \ this account."
          OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
          Merchant: Example.com
          MerchantLogo: https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png
          Headline: Shop at Example.com and get $10.00 back on purchase of $30 or
            more
          ActivationDate: 2015-10-15
          CashBack: "0"
          RedemptionEndDate: 2015-10-29
        Status:
          Message: Success
          Code: "600"
      properties:
        ScActivation:
          $ref: '#/components/schemas/ScActivation'
        Status:
          $ref: '#/components/schemas/Status'
      title: ActivationResponse
      type: object
    DetailPostpaidCreditOffer:
      example:
        CurrencyCode: USD
        MinTransactionAmountToRedeem: "30"
        VisitThreshold: "1"
        StatementCreditType: SPEND_CASH
        CashBack: "10"
        MaxCashback: "10"
      properties:
        CashBack:
          description: Value of POSTPAIDCREDIT deal redemption.
          example: "10"
          title: CashBack
          type: string
        CurrencyCode:
          description: ISO 4217 code in which the redeeming transaction must be made
            to qualify for the offer.
          example: USD
          title: CurrencyCode
          type: string
        MaxCashback:
          description: The most cash back which a user can earn for the offer.
          example: "10"
          title: MaxCashback
          type: string
        MinTransactionAmountToRedeem:
          description: The smallest purchase amount that will qualify for redemption.
          example: "30"
          title: MinTransactionAmountToRedeem
          type: string
        StatementCreditType:
          description: Calculation kind of the redemption value. SPEND_CASH/VISIT_CASH-
            fixed value. SPEND_PERCENTAGE/VISIT_PERCENTAGE- share value.
          example: SPEND_CASH
          title: StatementCreditType
          type: string
        VisitThreshold:
          description: The number of purchases required to qualify for redemption.
          example: "1"
          title: VisitThreshold
          type: string
      title: DetailPostpaidCreditOffer
      type: object
    Error:
      example:
        ReasonCode: ReasonCode
        Source: Atms.Atm.Location.Address.Line1
      properties:
        ReasonCode:
          description: This will identify the reason for the error.
          title: ReasonCode
          type: string
        Source:
          description: This is the unique identifier that attempts to define the field
            in error when available.  If a specific field can't be identified System
            will be returned.
          example: Atms.Atm.Location.Address.Line1
          title: Source
          type: string
      title: Error
      type: object
    ErrorResponse:
      example:
        Errors:
          Error:
          - ReasonCode: ReasonCode
            Source: Atms.Atm.Location.Address.Line1
          - ReasonCode: ReasonCode
            Source: Atms.Atm.Location.Address.Line1
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      title: ErrorResponse
      type: object
    Errors:
      example:
        Error:
        - ReasonCode: ReasonCode
          Source: Atms.Atm.Location.Address.Line1
        - ReasonCode: ReasonCode
          Source: Atms.Atm.Location.Address.Line1
      properties:
        Error:
          items:
            $ref: '#/components/schemas/Error'
          title: Error
          type: array
      title: Errors
      type: object
    FeedbackResponse:
      example:
        Status:
          Message: Success
          Code: "600"
        UserFeedback:
          OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
          Feedback: "1"
      properties:
        Status:
          $ref: '#/components/schemas/Status'
        UserFeedback:
          $ref: '#/components/schemas/UserFeedback'
      title: FeedbackResponse
      type: object
    Items:
      example:
        MatchedOffer:
          Discount: "20"
          RedemptionMode: CASH
          OfferType: POSTPAIDCREDIT
          ShortDescription: "On your next purchase of $25 or more at Example.com online\
            \ or at a store, receive 20% back posted to the card associated with this\
            \ account."
          ActiveSc: AVAILABLE
          CurrencyCode: USD
          OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
          Language: English
          Merchant:
            MerchantDistance: "0"
            Category: DEPARTMENTSTORE
            WebsiteUrl: http://www.example.com/
            StoreLocatorUrl: http://www.example.com/locations/
            Name: Example.com
          EventEndDate: 2012-07-10
          Price: "0"
          DiscountType: "20"
          Headline: Shop at Example.com and get 20% back on purchase of $25 or more
          EventStartDate: 2012-05-10
          OfferSource: Truaxis
          MerchantImageURL: https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png
      properties:
        MatchedOffer:
          $ref: '#/components/schemas/MatchedOffer'
      title: Items
      type: object
    MatchedOffer:
      example:
        Discount: "20"
        RedemptionMode: CASH
        OfferType: POSTPAIDCREDIT
        ShortDescription: "On your next purchase of $25 or more at Example.com online\
          \ or at a store, receive 20% back posted to the card associated with this\
          \ account."
        ActiveSc: AVAILABLE
        CurrencyCode: USD
        OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
        Language: English
        Merchant:
          MerchantDistance: "0"
          Category: DEPARTMENTSTORE
          WebsiteUrl: http://www.example.com/
          StoreLocatorUrl: http://www.example.com/locations/
          Name: Example.com
        EventEndDate: 2012-07-10
        Price: "0"
        DiscountType: "20"
        Headline: Shop at Example.com and get 20% back on purchase of $25 or more
        EventStartDate: 2012-05-10
        OfferSource: Truaxis
        MerchantImageURL: https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png
      properties:
        ActiveSc:
          description: ACTIVATED_STATEMENT_CREDIT- ready for redemption by the user.
            AVAILABLE- requires call to Activate Statement Credit Offer to make ready
            for redemption.
          example: AVAILABLE
          title: ActiveSc
          type: string
        CurrencyCode:
          description: ISO 4217 code in which the redeeming transaction must be made
            to qualify for the offer.
          example: USD
          title: CurrencyCode
          type: string
        Discount:
          description: "The markdown represented by the offer, in absolute value or\
            \ percentage."
          example: "20"
          title: Discount
          type: string
        DiscountType:
          description: The kind of markdown represented by the offer. ABSOLUTE- fixed
            amount. PERCENTAGE- share of purchase.
          example: "20"
          title: DiscountType
          type: string
        EventEndDate:
          description: Last day that redemption can be made.
          example: 2012-07-10
          format: date
          title: EventEndDate
          type: string
        EventStartDate:
          description: "First day that redemption can be made by any user, may not\
            \ apply to the specified user."
          example: 2012-05-10
          format: date
          title: EventStartDate
          type: string
        Headline:
          description: Brief details about the deal.
          example: Shop at Example.com and get 20% back on purchase of $25 or more
          title: Headline
          type: string
        Language:
          description: Tongue of offer display text.
          example: English
          title: Language
          type: string
        Merchant:
          $ref: '#/components/schemas/Merchant'
        MerchantImageURL:
          description: Square picture of the retailer logo.
          example: https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png
          title: MerchantImageURL
          type: string
        OfferId:
          description: "System-wide identifier for the campaign, not intended for\
            \ end-user display."
          example: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
          title: OfferId
          type: string
        OfferSource:
          description: "Platform that made the offer available, not intended for end-user\
            \ display."
          example: Truaxis
          title: OfferSource
          type: string
        OfferType:
          description: "The kind of deal. POSTPAIDCREDIT- Statement Credit Offer,\
            \ which is a discount that is automatically applied to the card linked\
            \ to the user and utilized to make the purchase."
          example: POSTPAIDCREDIT
          title: OfferType
          type: string
        Price:
          description: Reserved for future use.
          example: "0"
          title: Price
          type: string
        RedemptionMode:
          description: "Type of credit made upon redemption of the offer- CASH, POINTS,\
            \ or EITHER."
          example: CASH
          title: RedemptionMode
          type: string
        ShortDescription:
          description: "Summary of the deal, typically displayed beneath the headline\
            \ in a list view."
          example: "On your next purchase of $25 or more at Example.com online or\
            \ at a store, receive 20% back posted to the card associated with this\
            \ account."
          title: ShortDescription
          type: string
      title: MatchedOffer
      type: object
    MatchedOffersResponse:
      example:
        Response:
          Status:
            Message: Success
            Code: "600"
          TotalCount: 8
          CurrentPage: 1
          ItemsPerPage: 1
          Items:
            MatchedOffer:
              Discount: "20"
              RedemptionMode: CASH
              OfferType: POSTPAIDCREDIT
              ShortDescription: "On your next purchase of $25 or more at Example.com\
                \ online or at a store, receive 20% back posted to the card associated\
                \ with this account."
              ActiveSc: AVAILABLE
              CurrencyCode: USD
              OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
              Language: English
              Merchant:
                MerchantDistance: "0"
                Category: DEPARTMENTSTORE
                WebsiteUrl: http://www.example.com/
                StoreLocatorUrl: http://www.example.com/locations/
                Name: Example.com
              EventEndDate: 2012-07-10
              Price: "0"
              DiscountType: "20"
              Headline: Shop at Example.com and get 20% back on purchase of $25 or
                more
              EventStartDate: 2012-05-10
              OfferSource: Truaxis
              MerchantImageURL: https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png
          NumberOfPages: 1
      properties:
        Response:
          $ref: '#/components/schemas/MatchedResponse'
      title: MatchedOffersResponse
      type: object
    MatchedResponse:
      example:
        Status:
          Message: Success
          Code: "600"
        TotalCount: 8
        CurrentPage: 1
        ItemsPerPage: 1
        Items:
          MatchedOffer:
            Discount: "20"
            RedemptionMode: CASH
            OfferType: POSTPAIDCREDIT
            ShortDescription: "On your next purchase of $25 or more at Example.com\
              \ online or at a store, receive 20% back posted to the card associated\
              \ with this account."
            ActiveSc: AVAILABLE
            CurrencyCode: USD
            OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
            Language: English
            Merchant:
              MerchantDistance: "0"
              Category: DEPARTMENTSTORE
              WebsiteUrl: http://www.example.com/
              StoreLocatorUrl: http://www.example.com/locations/
              Name: Example.com
            EventEndDate: 2012-07-10
            Price: "0"
            DiscountType: "20"
            Headline: Shop at Example.com and get 20% back on purchase of $25 or more
            EventStartDate: 2012-05-10
            OfferSource: Truaxis
            MerchantImageURL: https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png
        NumberOfPages: 1
      properties:
        CurrentPage:
          description: Count of current offer return segment.
          example: 1
          title: CurrentPage
          type: integer
        Items:
          $ref: '#/components/schemas/Items'
        ItemsPerPage:
          description: Count of offers in the returned segment.
          example: 1
          title: ItemsPerPage
          type: integer
        NumberOfPages:
          description: Count of offer return segments.
          example: 1
          title: NumberOfPages
          type: integer
        Status:
          $ref: '#/components/schemas/Status'
        TotalCount:
          description: Count of all offers available for criteria.
          example: 8
          title: TotalCount
          type: integer
      title: MatchedResponse
      type: object
    Merchant:
      example:
        MerchantDistance: "0"
        Category: DEPARTMENTSTORE
        WebsiteUrl: http://www.example.com/
        StoreLocatorUrl: http://www.example.com/locations/
        Name: Example.com
      properties:
        Category:
          description: The type of retailer to which the offer applies.
          example: DEPARTMENTSTORE
          title: Category
          type: string
        MerchantDistance:
          description: Reserved for future use.
          example: "0"
          title: MerchantDistance
          type: string
        Name:
          description: Display name for the retailer to which the offer applies.
          example: Example.com
          title: Name
          type: string
        StoreLocatorUrl:
          description: Web page where retailer outlets can be found.
          example: http://www.example.com/locations/
          title: StoreLocatorUrl
          type: string
        WebsiteUrl:
          description: The internet address of the retailer.
          example: http://www.example.com/
          title: WebsiteUrl
          type: string
      title: Merchant
      type: object
    OfferDetails:
      example:
        RedemptionType: ONLINE-INSTORE
        RedemptionMode: CASH
        OfferType: POSTPAIDCREDIT
        ShortDescription: "On your next purchase of $25 or more at Example.com online\
          \ or at a store, receive 20% back posted to the card associated with this\
          \ account."
        CurrencyCode: USD
        OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
        OfferDisplay:
          DetailedTerms: Offer is non-transferable and applies to one purchase of
            a min. of $30 online or in store charged to your card by the expiration
            date.
        LinkOut: "{}"
        LongDescription: "On your next purchase of $30 or more at Example.com online\
          \ or at a store, receive $10.00 back posted to the card associated with\
          \ this account."
        Language: English
        Merchant:
          MerchantDistance: "0"
          Category: DEPARTMENTSTORE
          WebsiteUrl: http://www.example.com/
          StoreLocatorUrl: http://www.example.com/locations/
          Name: Example.com
        EventEndDate: 2012-07-10
        Headline: Shop at Example.com and get 20% back on purchase of $25 or more
        EventStartDate: 2012-05-10
        OfferMedia:
          OfferImages:
          - Description: The logo for Example.com
            ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
            AltText: Example.com
          - Description: The logo for Example.com
            ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
            AltText: Example.com
        OfferUrl: "{}"
        OfferSource: Truaxis
        DetailPostpaidCreditOffer:
          CurrencyCode: USD
          MinTransactionAmountToRedeem: "30"
          VisitThreshold: "1"
          StatementCreditType: SPEND_CASH
          CashBack: "10"
          MaxCashback: "10"
      properties:
        CurrencyCode:
          description: ISO 4217 code in which the redeeming transaction must be made
            to qualify for the offer.
          example: USD
          title: CurrencyCode
          type: string
        DetailPostpaidCreditOffer:
          $ref: '#/components/schemas/DetailPostpaidCreditOffer'
        EventEndDate:
          description: Last day that redemption can be made.
          example: 2012-07-10
          format: date
          title: EventEndDate
          type: string
        EventStartDate:
          description: "First day that redemption can be made by any user, may not\
            \ apply to the specified user."
          example: 2012-05-10
          format: date
          title: EventStartDate
          type: string
        Headline:
          description: Brief details about the deal.
          example: Shop at Example.com and get 20% back on purchase of $25 or more
          title: Headline
          type: string
        Language:
          description: Tongue of offer display text.
          example: English
          title: Language
          type: string
        LinkOut:
          description: Deprecated.
          title: LinkOut
          type: object
        LongDescription:
          description: "Explanation of the deal, typically displayed beneath the headline\
            \ in a detail view. Often the same as the ShortDescription."
          example: "On your next purchase of $30 or more at Example.com online or\
            \ at a store, receive $10.00 back posted to the card associated with this\
            \ account."
          title: LongDescription
          type: string
        Merchant:
          $ref: '#/components/schemas/Merchant'
        OfferDisplay:
          $ref: '#/components/schemas/OfferDisplay'
        OfferId:
          description: "System-wide identifier for the campaign, not intended for\
            \ end-user display."
          example: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
          title: OfferId
          type: string
        OfferMedia:
          $ref: '#/components/schemas/OfferMedia'
        OfferSource:
          description: "Platform that made the offer available, not intended for end-user\
            \ display."
          example: Truaxis
          title: OfferSource
          type: string
        OfferType:
          description: "The kind of deal. POSTPAIDCREDIT- Statement Credit Offer,\
            \ which is a discount that is automatically applied to the card linked\
            \ to the user and utilized to make the purchase."
          example: POSTPAIDCREDIT
          title: OfferType
          type: string
        OfferUrl:
          description: Deprecated.
          title: OfferUrl
          type: object
        RedemptionMode:
          description: "Type of credit made upon redemption of the offer- CASH, POINTS,\
            \ or EITHER."
          example: CASH
          title: RedemptionMode
          type: string
        RedemptionType:
          description: "Where a purchase may be made to qualify for the offer- INSTORE,\
            \ ONLINE, or ONLINE-INSTORE (either)."
          example: ONLINE-INSTORE
          title: RedemptionType
          type: string
        ShortDescription:
          description: "Summary of the deal, typically displayed beneath the headline\
            \ in a list view."
          example: "On your next purchase of $25 or more at Example.com online or\
            \ at a store, receive 20% back posted to the card associated with this\
            \ account."
          title: ShortDescription
          type: string
      title: OfferDetails
      type: object
    OfferDetailsResponse:
      example:
        Response:
          Status:
            Message: Success
            Code: "600"
          OfferDetails:
            RedemptionType: ONLINE-INSTORE
            RedemptionMode: CASH
            OfferType: POSTPAIDCREDIT
            ShortDescription: "On your next purchase of $25 or more at Example.com\
              \ online or at a store, receive 20% back posted to the card associated\
              \ with this account."
            CurrencyCode: USD
            OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
            OfferDisplay:
              DetailedTerms: Offer is non-transferable and applies to one purchase
                of a min. of $30 online or in store charged to your card by the expiration
                date.
            LinkOut: "{}"
            LongDescription: "On your next purchase of $30 or more at Example.com\
              \ online or at a store, receive $10.00 back posted to the card associated\
              \ with this account."
            Language: English
            Merchant:
              MerchantDistance: "0"
              Category: DEPARTMENTSTORE
              WebsiteUrl: http://www.example.com/
              StoreLocatorUrl: http://www.example.com/locations/
              Name: Example.com
            EventEndDate: 2012-07-10
            Headline: Shop at Example.com and get 20% back on purchase of $25 or more
            EventStartDate: 2012-05-10
            OfferMedia:
              OfferImages:
              - Description: The logo for Example.com
                ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
                AltText: Example.com
              - Description: The logo for Example.com
                ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
                AltText: Example.com
            OfferUrl: "{}"
            OfferSource: Truaxis
            DetailPostpaidCreditOffer:
              CurrencyCode: USD
              MinTransactionAmountToRedeem: "30"
              VisitThreshold: "1"
              StatementCreditType: SPEND_CASH
              CashBack: "10"
              MaxCashback: "10"
      properties:
        Response:
          $ref: '#/components/schemas/OfferResponse'
      title: OfferDetailsResponse
      type: object
    OfferDisplay:
      example:
        DetailedTerms: Offer is non-transferable and applies to one purchase of a
          min. of $30 online or in store charged to your card by the expiration date.
      properties:
        DetailedTerms:
          description: Conditions required for successful redemption of the offer.
          example: Offer is non-transferable and applies to one purchase of a min.
            of $30 online or in store charged to your card by the expiration date.
          title: DetailedTerms
          type: string
      title: OfferDisplay
      type: object
    OfferImages:
      example:
        Description: The logo for Example.com
        ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
        AltText: Example.com
      properties:
        AltText:
          description: Description of a picture or graphic that may be displayed along
            with the offer information.
          example: Example.com
          title: AltText
          type: string
        Description:
          description: "Verbal details of the image, may be used for accessiblity."
          example: The logo for Example.com
          title: Description
          type: string
        ImageUrl:
          description: A picture or graphic that may be displayed along with the offer
            information.
          example: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
          title: ImageUrl
          type: string
      title: OfferImages
      type: object
    OfferMedia:
      example:
        OfferImages:
        - Description: The logo for Example.com
          ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
          AltText: Example.com
        - Description: The logo for Example.com
          ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
          AltText: Example.com
      properties:
        OfferImages:
          items:
            $ref: '#/components/schemas/OfferImages'
          title: OfferImages
          type: array
      title: OfferMedia
      type: object
    OfferResponse:
      example:
        Status:
          Message: Success
          Code: "600"
        OfferDetails:
          RedemptionType: ONLINE-INSTORE
          RedemptionMode: CASH
          OfferType: POSTPAIDCREDIT
          ShortDescription: "On your next purchase of $25 or more at Example.com online\
            \ or at a store, receive 20% back posted to the card associated with this\
            \ account."
          CurrencyCode: USD
          OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
          OfferDisplay:
            DetailedTerms: Offer is non-transferable and applies to one purchase of
              a min. of $30 online or in store charged to your card by the expiration
              date.
          LinkOut: "{}"
          LongDescription: "On your next purchase of $30 or more at Example.com online\
            \ or at a store, receive $10.00 back posted to the card associated with\
            \ this account."
          Language: English
          Merchant:
            MerchantDistance: "0"
            Category: DEPARTMENTSTORE
            WebsiteUrl: http://www.example.com/
            StoreLocatorUrl: http://www.example.com/locations/
            Name: Example.com
          EventEndDate: 2012-07-10
          Headline: Shop at Example.com and get 20% back on purchase of $25 or more
          EventStartDate: 2012-05-10
          OfferMedia:
            OfferImages:
            - Description: The logo for Example.com
              ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
              AltText: Example.com
            - Description: The logo for Example.com
              ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
              AltText: Example.com
          OfferUrl: "{}"
          OfferSource: Truaxis
          DetailPostpaidCreditOffer:
            CurrencyCode: USD
            MinTransactionAmountToRedeem: "30"
            VisitThreshold: "1"
            StatementCreditType: SPEND_CASH
            CashBack: "10"
            MaxCashback: "10"
      properties:
        OfferDetails:
          $ref: '#/components/schemas/OfferDetails'
        Status:
          $ref: '#/components/schemas/Status'
      title: OfferResponse
      type: object
    PrepaidOfferSavings:
      example:
        AmountSaved: "0"
        NumPurchased: "0"
        PotentialSavings: "0"
        NumAvailable: "0"
      properties:
        AmountSaved:
          description: Deprecated.
          example: "0"
          title: AmountSaved
          type: string
        NumAvailable:
          description: Deprecated.
          example: "0"
          title: NumAvailable
          type: string
        NumPurchased:
          description: Deprecated.
          example: "0"
          title: NumPurchased
          type: string
        PotentialSavings:
          description: Deprecated.
          example: "0"
          title: PotentialSavings
          type: string
      title: PrepaidOfferSavings
      type: object
    RedeemedOffersResponse:
      example:
        Response:
          Status:
            Message: Success
            Code: "600"
          TotalCount: 8
          CurrentPage: 1
          ItemsPerPage: 1
          Items:
            RedemedOffer:
              RedemptionType: ONLINE-INSTORE
              ActivationId: TRU_1000136
              RedemptionMode: CASH
              OfferType: POSTPAIDCREDIT
              ShortDescription: "On your next purchase of $30 or more at Example.com\
                \ inline or at a store, receive $10.00 back posted to the card associated\
                \ with this account."
              CurrencyCode: USD
              LinkoutUrl: LinkoutUrl
              OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
              OfferDisplay:
                DetailedTerms: Offer is non-transferable and applies to one purchase
                  of a min. of $30 online or in store charged to your card by the
                  expiration date.
              Transactions:
                TransactionAmount: "12"
                RedemptionDate: 2015-10-12
                PointsEarned: "0"
                CashBackEarned: "0"
              LongDescription: "On your next purchase of $30 or more at Example.com\
                \ online or at a store, receive $10.00 back posted to the card associated\
                \ with this account."
              Language: English
              Merchant:
                MerchantDistance: 0.0
                Category: DEPARTMENTSTORE
                WebsiteUrl: http://www.example.com/
                StoreLocatorUrl: http://www.example.com/locations/
                Name: Example.com
              EventEndDate: 2012-07-10
              Headline: Shop at Example.com and get 20% back on purchase of $25 or
                more
              MaxUserRedemptions: 1
              EventStartDate: 2012-05-10
              OfferMedia:
                OfferImages:
                - Description: The logo for Example.com
                  ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
                  AltText: Example.com
                - Description: The logo for Example.com
                  ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
                  AltText: Example.com
              OfferUrl: OfferUrl
              ActivationDate: 2015-10-15
              OfferSource: Truaxis
              DetailPostpaidCreditOffer:
                CurrencyCode: USD
                MinTransactionAmountToRedeem: "30"
                VisitThreshold: "1"
                StatementCreditType: SPEND_CASH
                CashBack: "10"
                MaxCashback: "10"
          NumberOfPages: 1
      properties:
        Response:
          $ref: '#/components/schemas/ReedemedResponse'
      title: RedeemedOffersResponse
      type: object
    RedemedItems:
      example:
        RedemedOffer:
          RedemptionType: ONLINE-INSTORE
          ActivationId: TRU_1000136
          RedemptionMode: CASH
          OfferType: POSTPAIDCREDIT
          ShortDescription: "On your next purchase of $30 or more at Example.com inline\
            \ or at a store, receive $10.00 back posted to the card associated with\
            \ this account."
          CurrencyCode: USD
          LinkoutUrl: LinkoutUrl
          OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
          OfferDisplay:
            DetailedTerms: Offer is non-transferable and applies to one purchase of
              a min. of $30 online or in store charged to your card by the expiration
              date.
          Transactions:
            TransactionAmount: "12"
            RedemptionDate: 2015-10-12
            PointsEarned: "0"
            CashBackEarned: "0"
          LongDescription: "On your next purchase of $30 or more at Example.com online\
            \ or at a store, receive $10.00 back posted to the card associated with\
            \ this account."
          Language: English
          Merchant:
            MerchantDistance: 0.0
            Category: DEPARTMENTSTORE
            WebsiteUrl: http://www.example.com/
            StoreLocatorUrl: http://www.example.com/locations/
            Name: Example.com
          EventEndDate: 2012-07-10
          Headline: Shop at Example.com and get 20% back on purchase of $25 or more
          MaxUserRedemptions: 1
          EventStartDate: 2012-05-10
          OfferMedia:
            OfferImages:
            - Description: The logo for Example.com
              ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
              AltText: Example.com
            - Description: The logo for Example.com
              ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
              AltText: Example.com
          OfferUrl: OfferUrl
          ActivationDate: 2015-10-15
          OfferSource: Truaxis
          DetailPostpaidCreditOffer:
            CurrencyCode: USD
            MinTransactionAmountToRedeem: "30"
            VisitThreshold: "1"
            StatementCreditType: SPEND_CASH
            CashBack: "10"
            MaxCashback: "10"
      properties:
        RedemedOffer:
          $ref: '#/components/schemas/RedemedOffer'
      title: RedemedItems
      type: object
    RedemedOffer:
      example:
        RedemptionType: ONLINE-INSTORE
        ActivationId: TRU_1000136
        RedemptionMode: CASH
        OfferType: POSTPAIDCREDIT
        ShortDescription: "On your next purchase of $30 or more at Example.com inline\
          \ or at a store, receive $10.00 back posted to the card associated with\
          \ this account."
        CurrencyCode: USD
        LinkoutUrl: LinkoutUrl
        OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
        OfferDisplay:
          DetailedTerms: Offer is non-transferable and applies to one purchase of
            a min. of $30 online or in store charged to your card by the expiration
            date.
        Transactions:
          TransactionAmount: "12"
          RedemptionDate: 2015-10-12
          PointsEarned: "0"
          CashBackEarned: "0"
        LongDescription: "On your next purchase of $30 or more at Example.com online\
          \ or at a store, receive $10.00 back posted to the card associated with\
          \ this account."
        Language: English
        Merchant:
          MerchantDistance: 0.0
          Category: DEPARTMENTSTORE
          WebsiteUrl: http://www.example.com/
          StoreLocatorUrl: http://www.example.com/locations/
          Name: Example.com
        EventEndDate: 2012-07-10
        Headline: Shop at Example.com and get 20% back on purchase of $25 or more
        MaxUserRedemptions: 1
        EventStartDate: 2012-05-10
        OfferMedia:
          OfferImages:
          - Description: The logo for Example.com
            ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
            AltText: Example.com
          - Description: The logo for Example.com
            ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
            AltText: Example.com
        OfferUrl: OfferUrl
        ActivationDate: 2015-10-15
        OfferSource: Truaxis
        DetailPostpaidCreditOffer:
          CurrencyCode: USD
          MinTransactionAmountToRedeem: "30"
          VisitThreshold: "1"
          StatementCreditType: SPEND_CASH
          CashBack: "10"
          MaxCashback: "10"
      properties:
        ActivationDate:
          description: Day on which the offer became ready for redemption.
          example: 2015-10-15
          format: date
          title: ActivationDate
          type: string
        ActivationId:
          description: "Distinct identifier for the offer being available for redemption\
            \ by the user, not intended for end-user display."
          example: TRU_1000136
          title: ActivationId
          type: string
        CurrencyCode:
          description: ISO 4217 code in which the redeeming transaction must be made
            to qualify for the offer.
          example: USD
          title: CurrencyCode
          type: string
        DetailPostpaidCreditOffer:
          $ref: '#/components/schemas/DetailPostpaidCreditOffer'
        EventEndDate:
          description: Last day that redemption can be made.
          example: 2012-07-10
          format: date
          title: EventEndDate
          type: string
        EventStartDate:
          description: First day that redemption can be made.
          example: 2012-05-10
          format: date
          title: EventStartDate
          type: string
        Headline:
          description: Brief details about the deal.
          example: Shop at Example.com and get 20% back on purchase of $25 or more
          title: Headline
          type: string
        Language:
          description: Tongue of offer display text.
          example: English
          title: Language
          type: string
        LinkoutUrl:
          description: "Deprecated, disregard."
          title: LinkoutUrl
          type: string
        LongDescription:
          description: "Explanation of the deal, typically displayed beneath the headline\
            \ in a detail view. Often the same as the ShortDescription."
          example: "On your next purchase of $30 or more at Example.com online or\
            \ at a store, receive $10.00 back posted to the card associated with this\
            \ account."
          title: LongDescription
          type: string
        MaxUserRedemptions:
          description: The number of times that the cardholder may take advantage
            of this offer.
          example: 1
          title: MaxUserRedemptions
          type: integer
        Merchant:
          $ref: '#/components/schemas/RedemedOfferMerchant'
        OfferDisplay:
          $ref: '#/components/schemas/OfferDisplay'
        OfferId:
          description: "System-wide identifier for the campaign, not intended for\
            \ end-user display."
          example: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
          title: OfferId
          type: string
        OfferMedia:
          $ref: '#/components/schemas/OfferMedia'
        OfferSource:
          description: "Platform that made the offer available, not intended for end-user\
            \ display."
          example: Truaxis
          title: OfferSource
          type: string
        OfferType:
          description: "The kind of deal. POSTPAIDCREDIT- Statement Credit Offer,\
            \ which is a discount that is automatically applied to the card linked\
            \ to the user and utilized to make the purchase."
          example: POSTPAIDCREDIT
          title: OfferType
          type: string
        OfferUrl:
          description: "Deprecated, disregard."
          title: OfferUrl
          type: string
        RedemptionMode:
          description: "Type of credit made upon redemption of the offer- CASH, POINTS,\
            \ or EITHER."
          example: CASH
          title: RedemptionMode
          type: string
        RedemptionType:
          description: "Where a purchase may be made to qualify for the offer- INSTORE,\
            \ ONLINE, or ONLINE-INSTORE (either)."
          example: ONLINE-INSTORE
          title: RedemptionType
          type: string
        ShortDescription:
          description: "Summary of the deal, typically displayed beneath the headline\
            \ in a list view."
          example: "On your next purchase of $30 or more at Example.com inline or\
            \ at a store, receive $10.00 back posted to the card associated with this\
            \ account."
          title: ShortDescription
          type: string
        Transactions:
          $ref: '#/components/schemas/Transaction'
      title: RedemedOffer
      type: object
    RedemedOfferMerchant:
      example:
        MerchantDistance: 0.0
        Category: DEPARTMENTSTORE
        WebsiteUrl: http://www.example.com/
        StoreLocatorUrl: http://www.example.com/locations/
        Name: Example.com
      properties:
        Category:
          description: "The type of retailer to which the offer applies, not intended\
            \ for end-user display."
          example: DEPARTMENTSTORE
          title: Category
          type: string
        MerchantDistance:
          description: Reserved for future use.
          example: 0.0
          title: MerchantDistance
          type: number
        Name:
          description: Display name for the retailer to which the offer applies.
          example: Example.com
          title: Name
          type: string
        StoreLocatorUrl:
          description: Web page where retailer outlets can be found.
          example: http://www.example.com/locations/
          title: StoreLocatorUrl
          type: string
        WebsiteUrl:
          description: The internet address of the retailer.
          example: http://www.example.com/
          title: WebsiteUrl
          type: string
      title: RedemedOfferMerchant
      type: object
    ReedemedResponse:
      example:
        Status:
          Message: Success
          Code: "600"
        TotalCount: 8
        CurrentPage: 1
        ItemsPerPage: 1
        Items:
          RedemedOffer:
            RedemptionType: ONLINE-INSTORE
            ActivationId: TRU_1000136
            RedemptionMode: CASH
            OfferType: POSTPAIDCREDIT
            ShortDescription: "On your next purchase of $30 or more at Example.com\
              \ inline or at a store, receive $10.00 back posted to the card associated\
              \ with this account."
            CurrencyCode: USD
            LinkoutUrl: LinkoutUrl
            OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
            OfferDisplay:
              DetailedTerms: Offer is non-transferable and applies to one purchase
                of a min. of $30 online or in store charged to your card by the expiration
                date.
            Transactions:
              TransactionAmount: "12"
              RedemptionDate: 2015-10-12
              PointsEarned: "0"
              CashBackEarned: "0"
            LongDescription: "On your next purchase of $30 or more at Example.com\
              \ online or at a store, receive $10.00 back posted to the card associated\
              \ with this account."
            Language: English
            Merchant:
              MerchantDistance: 0.0
              Category: DEPARTMENTSTORE
              WebsiteUrl: http://www.example.com/
              StoreLocatorUrl: http://www.example.com/locations/
              Name: Example.com
            EventEndDate: 2012-07-10
            Headline: Shop at Example.com and get 20% back on purchase of $25 or more
            MaxUserRedemptions: 1
            EventStartDate: 2012-05-10
            OfferMedia:
              OfferImages:
              - Description: The logo for Example.com
                ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
                AltText: Example.com
              - Description: The logo for Example.com
                ImageUrl: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
                AltText: Example.com
            OfferUrl: OfferUrl
            ActivationDate: 2015-10-15
            OfferSource: Truaxis
            DetailPostpaidCreditOffer:
              CurrencyCode: USD
              MinTransactionAmountToRedeem: "30"
              VisitThreshold: "1"
              StatementCreditType: SPEND_CASH
              CashBack: "10"
              MaxCashback: "10"
        NumberOfPages: 1
      properties:
        CurrentPage:
          description: Count of current offer return segment.
          example: 1
          title: CurrentPage
          type: integer
        Items:
          $ref: '#/components/schemas/RedemedItems'
        ItemsPerPage:
          description: Count of offers in the returned segment.
          example: 1
          title: ItemsPerPage
          type: integer
        NumberOfPages:
          description: Count of offer return segments.
          example: 1
          title: NumberOfPages
          type: integer
        Status:
          $ref: '#/components/schemas/Status'
        TotalCount:
          description: Count of all offers available for criteria.
          example: 8
          title: TotalCount
          type: integer
      title: ReedemedResponse
      type: object
    SavingsResponse:
      example:
        Status:
          Message: Success
          Code: "600"
        UserSavings:
          PrepaidOfferSavings:
            AmountSaved: "0"
            NumPurchased: "0"
            PotentialSavings: "0"
            NumAvailable: "0"
          StatementCreditOffersSavings:
            EarnedCashback: "21"
            NumRedeemed: "1"
            PotentialSavings: "195"
            NumAvailable: "0"
          TotalAmountSaved: "21"
          TotalOffersUsed: "1"
      properties:
        Status:
          $ref: '#/components/schemas/Status'
        UserSavings:
          $ref: '#/components/schemas/UserSavings'
      title: SavingsResponse
      type: object
    ScActivation:
      example:
        Status: ACTIVATED
        DaysRemaining: "13"
        TotalSpend: "0"
        ActivationId: TRU_1000136
        RemainingSpend: "30"
        RedemptionMode: CASH
        PointsEarned: "0"
        ShortDescription: "On your next purchase of $30 or more at Example.com inline\
          \ or at a store, receive $10.00 back posted to the card associated with\
          \ this account."
        OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
        Merchant: Example.com
        MerchantLogo: https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png
        Headline: Shop at Example.com and get $10.00 back on purchase of $30 or more
        ActivationDate: 2015-10-15
        CashBack: "0"
        RedemptionEndDate: 2015-10-29
      properties:
        ActivationDate:
          description: Day on which the offer became ready for redemption.
          example: 2015-10-15
          format: date
          title: ActivationDate
          type: string
        ActivationId:
          description: "Distinct identifier for the offer being available for redemption\
            \ by the user, not intended for end-user display."
          example: TRU_1000136
          title: ActivationId
          type: string
        CashBack:
          description: "Value earned upon fulfillment of offer conditions, not applicable\
            \ to points activations."
          example: "0"
          title: CashBack
          type: string
        DaysRemaining:
          description: Number of days until the offer expires.
          example: "13"
          title: DaysRemaining
          type: string
        Headline:
          description: Brief details about the deal.
          example: Shop at Example.com and get $10.00 back on purchase of $30 or more
          title: Headline
          type: string
        Merchant:
          description: Display name for the retailer to which the offer applies.
          example: Example.com
          title: Merchant
          type: string
        MerchantLogo:
          description: Square retailer brand image.
          example: https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png
          title: MerchantLogo
          type: string
        OfferId:
          description: "System-wide identifier for the campaign, not intended for\
            \ end-user display."
          example: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
          title: OfferId
          type: string
        PointsEarned:
          description: "Value earned upon fulfillment of offer conditions, not applicable\
            \ to cash activations."
          example: "0"
          title: PointsEarned
          type: string
        RedemptionEndDate:
          description: Last day on which a purchase will qualify for the offer.
          example: 2015-10-29
          format: date
          title: RedemptionEndDate
          type: string
        RedemptionMode:
          description: Type of credit made upon redemption of the offer- CASH or POINTS.
          example: CASH
          title: RedemptionMode
          type: string
        RemainingSpend:
          description: Purchase amount still required to redeem the offer.
          example: "30"
          title: RemainingSpend
          type: string
        ShortDescription:
          description: "Summary of the deal, typically displayed beneath the headline\
            \ in a list view."
          example: "On your next purchase of $30 or more at Example.com inline or\
            \ at a store, receive $10.00 back posted to the card associated with this\
            \ account."
          title: ShortDescription
          type: string
        Status:
          description: "Disposition of offer- ACTIVATED, REDEEMED, CREDIT_DECLINED."
          example: ACTIVATED
          title: Status
          type: string
        TotalSpend:
          description: Count of purchases user made to redeem the offer.
          example: "0"
          title: TotalSpend
          type: string
      title: ScActivation
      type: object
    StatementCreditActivationResponse:
      example:
        Response:
          ScActivation:
            Status: ACTIVATED
            DaysRemaining: "13"
            TotalSpend: "0"
            ActivationId: TRU_1000136
            RemainingSpend: "30"
            RedemptionMode: CASH
            PointsEarned: "0"
            ShortDescription: "On your next purchase of $30 or more at Example.com\
              \ inline or at a store, receive $10.00 back posted to the card associated\
              \ with this account."
            OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
            Merchant: Example.com
            MerchantLogo: https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png
            Headline: Shop at Example.com and get $10.00 back on purchase of $30 or
              more
            ActivationDate: 2015-10-15
            CashBack: "0"
            RedemptionEndDate: 2015-10-29
          Status:
            Message: Success
            Code: "600"
      properties:
        Response:
          $ref: '#/components/schemas/ActivationResponse'
      title: StatementCreditActivationResponse
      type: object
    StatementCreditOffersSavings:
      example:
        EarnedCashback: "21"
        NumRedeemed: "1"
        PotentialSavings: "195"
        NumAvailable: "0"
      properties:
        EarnedCashback:
          description: Value of postpaid credit deal redemptions.
          example: "21"
          title: EarnedCashback
          type: string
        NumAvailable:
          description: Count of postpaid credit deals that are ready for activation
            or redemption.
          example: "0"
          title: NumAvailable
          type: string
        NumRedeemed:
          description: Count of postpaid credit deals redeemed.
          example: "1"
          title: NumRedeemed
          type: string
        PotentialSavings:
          description: Minimum value of unredeemed postpaid credit deals.
          example: "195"
          title: PotentialSavings
          type: string
      title: StatementCreditOffersSavings
      type: object
    Status:
      example:
        Message: Success
        Code: "600"
      properties:
        Code:
          description: Status Code
          example: "600"
          title: Code
          type: string
        Message:
          description: Success or Failure
          example: Success
          title: Message
          type: string
      title: Status
      type: object
    TokenResponse:
      example:
        Status:
          Message: Success
          Code: "600"
        UserToken:
          Token: mh3WonUm5xmE
      properties:
        Status:
          $ref: '#/components/schemas/Status'
        UserToken:
          $ref: '#/components/schemas/UserToken'
      title: TokenResponse
      type: object
    Transaction:
      example:
        TransactionAmount: "12"
        RedemptionDate: 2015-10-12
        PointsEarned: "0"
        CashBackEarned: "0"
      properties:
        CashBackEarned:
          description: "Value earned upon fulfillment of offer conditions, not applicable\
            \ to points activations."
          example: "0"
          title: CashBackEarned
          type: string
        PointsEarned:
          description: "Value earned upon fulfillment of offer conditions, not applicable\
            \ to cash activations."
          example: "0"
          title: PointsEarned
          type: string
        RedemptionDate:
          description: The day on which a purchase fulfilled the offer.
          example: 2015-10-12
          format: date
          title: RedemptionDate
          type: string
        TransactionAmount:
          description: "Value of the purchase that fulfilled the offer, decimal is\
            \ implied."
          example: "12"
          title: TransactionAmount
          type: string
      title: Transaction
      type: object
    UserFeedback:
      example:
        OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
        Feedback: "1"
      properties:
        Feedback:
          description: Response provided by the user.
          example: "1"
          title: Feedback
          type: string
        OfferId:
          description: "System-wide identifier for the campaign, not intended for\
            \ end-user display."
          example: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
          title: OfferId
          type: string
      title: UserFeedback
      type: object
    UserFeedbackResponse:
      example:
        Response:
          Status:
            Message: Success
            Code: "600"
          UserFeedback:
            OfferId: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
            Feedback: "1"
      properties:
        Response:
          $ref: '#/components/schemas/FeedbackResponse'
      title: UserFeedbackResponse
      type: object
    UserSavings:
      example:
        PrepaidOfferSavings:
          AmountSaved: "0"
          NumPurchased: "0"
          PotentialSavings: "0"
          NumAvailable: "0"
        StatementCreditOffersSavings:
          EarnedCashback: "21"
          NumRedeemed: "1"
          PotentialSavings: "195"
          NumAvailable: "0"
        TotalAmountSaved: "21"
        TotalOffersUsed: "1"
      properties:
        PrepaidOfferSavings:
          $ref: '#/components/schemas/PrepaidOfferSavings'
        StatementCreditOffersSavings:
          $ref: '#/components/schemas/StatementCreditOffersSavings'
        TotalAmountSaved:
          description: Combined value of purchased and redeemed deals.
          example: "21"
          title: TotalAmountSaved
          type: string
        TotalOffersUsed:
          description: Combined count of purchased and redeemed deals.
          example: "1"
          title: TotalOffersUsed
          type: string
      title: UserSavings
      type: object
    UserSavingsResponse:
      example:
        Response:
          Status:
            Message: Success
            Code: "600"
          UserSavings:
            PrepaidOfferSavings:
              AmountSaved: "0"
              NumPurchased: "0"
              PotentialSavings: "0"
              NumAvailable: "0"
            StatementCreditOffersSavings:
              EarnedCashback: "21"
              NumRedeemed: "1"
              PotentialSavings: "195"
              NumAvailable: "0"
            TotalAmountSaved: "21"
            TotalOffersUsed: "1"
      properties:
        Response:
          $ref: '#/components/schemas/SavingsResponse'
      title: UserSavingsResponse
      type: object
    UserToken:
      example:
        Token: mh3WonUm5xmE
      properties:
        Token:
          description: Session identifier that is passed for subsequent API calls.
          example: mh3WonUm5xmE
          title: Token
          type: string
      title: UserToken
      type: object
    UserTokenResponse:
      example:
        Response:
          Status:
            Message: Success
            Code: "600"
          UserToken:
            Token: mh3WonUm5xmE
      properties:
        Response:
          $ref: '#/components/schemas/TokenResponse'
      title: UserTokenResponse
      type: object
x-original-swagger-version: "2.0"
