openapi: 3.0.1
info:
  description: Network admin operation endpoints and objects.
  title: NetworkAdminManagementClient
  version: 2015-06-15
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/network/Microsoft.Network.Admin/preview/2015-06-15/Network.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Network
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Network.Admin/locations:
    get:
      description: Returns the list of supported locations
      operationId: on_prem_locations_list
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-06-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsList'
          description: OK
      tags:
      - Network
      x-ms-examples:
        Returns the list of supported locations.:
          parameters:
            api-version: 2015-06-15
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                nextLink: ""
                value: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.network_controller
  /providers/Microsoft.Network.Admin/locations/{location}/operationResults:
    get:
      description: Returns the list of operation results for a location
      operationId: locations_operation_results_list
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-06-15
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultList'
          description: OK
      tags:
      - Network
      x-ms-examples:
        Returns the list of operation results for a location:
          parameters:
            api-version: 2015-06-15
            location: westus
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                nextLink: ""
                value: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.network_controller
  /providers/Microsoft.Network.Admin/locations/{location}/operations:
    get:
      description: Returns the list of support REST operations.
      operationId: locations_operations_list
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-06-15
          type: string
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
      tags:
      - Network
      x-ms-examples:
        Returns the list of support REST operations.:
          parameters:
            api-version: 2015-06-15
            location: westus
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                nextLink: ""
                value: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.network_controller
  /providers/Microsoft.Network.Admin/operations:
    get:
      description: Returns the list of support REST operations.
      operationId: operations_list
      parameters:
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2015-06-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
      tags:
      - Network
      x-ms-examples:
        Returns the list of support REST operations.:
          parameters:
            api-version: 2015-06-15
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                nextLink: ""
                value: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.network_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminOverview:
    get:
      description: Get an overview of the state of the network resource provider.
      operationId: resource_provider_state_get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-06-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminOverview'
          description: OK
      tags:
      - Network
      x-ms-examples:
        Get overview of the state of the network resource provider:
          parameters:
            api-version: 2015-06-15
            subscriptionId: fc8456aa-4843-4079-a152-f3497c63aa73
          responses:
            "200":
              body:
                id: /subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/providers/Microsoft.Network.Admin/adminOverview/
                location: ""
                name: ""
                properties:
                  backendIpUsage:
                    inUseResourceCount: 11
                    totalResourceCount: 411
                  loadBalancerMuxHealth:
                    errorResourceCount: 0
                    healthUnknownCount: 0
                    healthyResourceCount: 1
                    totalResourceCount: 1
                    warningResourceCount: 0
                  macAddressUsage:
                    inUseResourceCount: 2
                    totalResourceCount: 3998720
                  provisioningState: Succeeded
                  publicIpAddressUsage:
                    inUseResourceCount: 31
                    totalResourceCount: 255
                  virtualGatewayHealth:
                    errorResourceCount: 0
                    healthUnknownCount: 0
                    healthyResourceCount: 1
                    totalResourceCount: 1
                    warningResourceCount: 0
                  virtualNetworkHealth:
                    errorResourceCount: 0
                    healthUnknownCount: 0
                    healthyResourceCount: 0
                    totalResourceCount: 0
                    warningResourceCount: 0
                type: Microsoft.Network.Admin/adminOverview
      x-openapi-router-controller: openapi_server.controllers.network_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2015-06-15
        type: string
    FilterParameter:
      description: OData filter parameter.
      in: query
      name: $filter
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    InlineCountParameter:
      description: OData inline count parameter.
      in: query
      name: $inlineCount
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    LocationParameter:
      description: Location of the resource.
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    OrderByParameter:
      description: OData orderBy parameter.
      in: query
      name: $orderBy
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceNameParameter:
      description: Name of the resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SkipParameter:
      description: OData skip parameter.
      in: query
      name: $skip
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    TopParameter:
      description: OData top parameter.
      in: query
      name: $top
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    AdminOverview:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Admin overview resource object.
      example:
        properties:
          backendIpUsage:
            inUseResourceCount: 0
            totalResourceCount: 6
          publicIpAddressUsage:
            inUseResourceCount: 0
            totalResourceCount: 6
          virtualGatewayHealth:
            healthUnknownCount: 5
            totalResourceCount: 2
            healthyResourceCount: 5
            errorResourceCount: 1
            warningResourceCount: 7
          macAddressUsage:
            inUseResourceCount: 0
            totalResourceCount: 6
          virtualNetworkHealth:
            healthUnknownCount: 5
            totalResourceCount: 2
            healthyResourceCount: 5
            errorResourceCount: 1
            warningResourceCount: 7
          provisioningState: provisioningState
          loadBalancerMuxHealth:
            healthUnknownCount: 5
            totalResourceCount: 2
            healthyResourceCount: 5
            errorResourceCount: 1
            warningResourceCount: 7
      properties:
        properties:
          $ref: '#/components/schemas/AdminOverviewProperties'
      title: AdminOverview
    AdminOverviewProperties:
      description: Admin overview properties.
      example:
        backendIpUsage:
          inUseResourceCount: 0
          totalResourceCount: 6
        publicIpAddressUsage:
          inUseResourceCount: 0
          totalResourceCount: 6
        virtualGatewayHealth:
          healthUnknownCount: 5
          totalResourceCount: 2
          healthyResourceCount: 5
          errorResourceCount: 1
          warningResourceCount: 7
        macAddressUsage:
          inUseResourceCount: 0
          totalResourceCount: 6
        virtualNetworkHealth:
          healthUnknownCount: 5
          totalResourceCount: 2
          healthyResourceCount: 5
          errorResourceCount: 1
          warningResourceCount: 7
        provisioningState: provisioningState
        loadBalancerMuxHealth:
          healthUnknownCount: 5
          totalResourceCount: 2
          healthyResourceCount: 5
          errorResourceCount: 1
          warningResourceCount: 7
      properties:
        backendIpUsage:
          $ref: '#/components/schemas/AdminOverviewResourceUsage'
        loadBalancerMuxHealth:
          $ref: '#/components/schemas/AdminOverviewResourceHealth'
        macAddressUsage:
          $ref: '#/components/schemas/AdminOverviewResourceUsage'
        provisioningState:
          description: The provisioning state.
          readOnly: true
          title: provisioningState
          type: string
        publicIpAddressUsage:
          $ref: '#/components/schemas/AdminOverviewResourceUsage'
        virtualGatewayHealth:
          $ref: '#/components/schemas/AdminOverviewResourceHealth'
        virtualNetworkHealth:
          $ref: '#/components/schemas/AdminOverviewResourceHealth'
      title: AdminOverviewProperties
      type: object
    AdminOverviewResourceHealth:
      description: Resource health information.
      example:
        healthUnknownCount: 5
        totalResourceCount: 2
        healthyResourceCount: 5
        errorResourceCount: 1
        warningResourceCount: 7
      properties:
        errorResourceCount:
          description: Number of resources in the error state.
          format: int64
          readOnly: true
          title: errorResourceCount
          type: integer
        healthUnknownCount:
          description: Number of resources in an unknown state.
          format: int64
          readOnly: true
          title: healthUnknownCount
          type: integer
        healthyResourceCount:
          description: Number of resources in the success state.
          format: int64
          readOnly: true
          title: healthyResourceCount
          type: integer
        totalResourceCount:
          description: Total number of resources.
          format: int64
          readOnly: true
          title: totalResourceCount
          type: integer
        warningResourceCount:
          description: Number of resources in the warning state.
          format: int64
          readOnly: true
          title: warningResourceCount
          type: integer
      title: AdminOverviewResourceHealth
      type: object
    AdminOverviewResourceUsage:
      description: Resource usage information.
      example:
        inUseResourceCount: 0
        totalResourceCount: 6
      properties:
        inUseResourceCount:
          description: Number of resources in use.
          format: int64
          readOnly: true
          title: inUseResourceCount
          type: integer
        totalResourceCount:
          description: Total number of resources.
          format: int64
          readOnly: true
          title: totalResourceCount
          type: integer
      title: AdminOverviewResourceUsage
      type: object
    Display:
      description: Contains the localized display information for this particular
        operation / action.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: "The localized, friendly description for the operation. The\
            \ description will be displayed to the user. It should be thorough and\
            \ concise for used in both tooltips and detailed views."
          readOnly: true
          title: description
          type: string
        operation:
          description: "The localized, friendly name for the operation. Use the name\
            \ as it will displayed to the user."
          readOnly: true
          title: operation
          type: string
        provider:
          description: The localized friendly form of the resource provider name –
            it is expected to also include the publisher/company responsible. It should
            use Title Casing and begin with "Microsoft" for 1st party services. e.g.
            "Microsoft Monitoring Insights" or "Microsoft Compute."
          readOnly: true
          title: provider
          type: string
        resource:
          description: "The localized, friendly version of the resource type related\
            \ to this action or operation; the resource type should match the public\
            \ documentation for the resource provider."
          readOnly: true
          title: resource
          type: string
      title: Display
      type: object
    Location:
      description: Describes the supported Location
      example:
        name: name
      properties:
        name:
          description: The name of the location the operation is being held.
          readOnly: true
          title: name
          type: string
      title: Location
      type: object
    LocationsList:
      description: List of Locations
      example:
        value:
        - name: name
        - name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page of locations.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of locations
          items:
            $ref: '#/components/schemas/Location'
          readOnly: true
          title: value
          type: array
      title: LocationsList
      type: object
    Operation:
      description: Describes the supported REST operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Display'
        name:
          description: The name of the operation being performed on this particular
            object. This name should match the name that appears in RBAC or the event
            service.
          readOnly: true
          title: name
          type: string
      title: Operation
      type: object
    OperationList:
      description: List of Operations
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page of operations.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of operations
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          title: value
          type: array
      title: OperationList
      type: object
    OperationResult:
      description: Describes results of a given operation
      example:
        name: name
      properties:
        name:
          description: The name of the operation being performed on this particular
            object.
          readOnly: true
          title: name
          type: string
      title: OperationResult
      type: object
    OperationResultList:
      description: List of Operation Results
      example:
        value:
        - name: name
        - name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page of operations.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of operation results
          items:
            $ref: '#/components/schemas/OperationResult'
          readOnly: true
          title: value
          type: array
      title: OperationResultList
      type: object
    ProvisionedResource:
      description: Objects which have a provisioning state.
      properties:
        provisioningState:
          description: The provisioning state.
          readOnly: true
          type: string
      type: object
    Resource:
      description: Base Resource Object
      properties:
        id:
          description: URI of the resource.
          readOnly: true
          title: id
          type: string
        location:
          description: Region location of resource.
          readOnly: true
          title: location
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: List of key value pairs.
          title: tags
          type: object
        type:
          description: Type of resource.
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    TenantResource:
      description: These resources are utilized by a single tenant.
      properties:
        subscriptionId:
          description: The subscription ID.
          readOnly: true
          type: string
        tenantResourceUri:
          description: The tenant resource URI.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
