openapi: 3.0.1
info:
  description: REST API for Azure VirtualWAN As a Service.
  title: VirtualWANAsAServiceManagementClient
  version: 2019-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/virtualWan.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-virtualWan
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/p2svpnGateways:
    get:
      description: Lists all the P2SVpnGateways in a subscription.
      operationId: p2s_vpn_gateways_list
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListP2SVpnGatewaysResult'
          description: Request successful. Returns the details of all the P2SVpnGateways
            in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        P2SVpnGatewayListBySubscription:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                  location: West US
                  name: p2sVpnGateway1
                  properties:
                    customRoutes:
                      addressPrefixes:
                      - 101.168.0.6/32
                    p2SVpnServerConfiguration:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                    provisioningState: Succeeded
                    virtualHub:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                    vpnClientAddressPool:
                      addressPrefixes:
                      - 101.3.0.0/16
                    vpnClientConnectionHealth:
                      allocatedIpAddresses:
                      - 1.1.1.1
                      - 2.2.2.2
                      totalEgressBytesTransferred: 3000
                      totalIngressBytesTransferred: 2000
                      vpnClientConnectionsCount: 2
                    vpnGatewayScaleUnit: 1
                  type: Microsoft.Network/p2sVpnGateways
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway2
                  location: West US
                  name: p2sVpnGateway2
                  properties:
                    customRoutes:
                      addressPrefixes:
                      - 101.168.0.6/32
                    p2SVpnServerConfiguration:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                    provisioningState: Succeeded
                    virtualHub:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2
                    vpnClientAddressPool:
                      addressPrefixes:
                      - 101.4.0.0/16
                    vpnClientConnectionHealth:
                      allocatedIpAddresses:
                      - 1.1.1.1
                      - 2.2.2.2
                      totalEgressBytesTransferred: 3000
                      totalIngressBytesTransferred: 2000
                      vpnClientConnectionsCount: 2
                    vpnGatewayScaleUnit: 1
                  type: Microsoft.Network/p2sVpnGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualHubs:
    get:
      description: Lists all the VirtualHubs in a subscription.
      operationId: virtual_hubs_list
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVirtualHubsResult'
          description: Request successful. Returns the details of all the VirtualHubs
            in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        VirtualHubList:
          parameters:
            api-version: 2019-04-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                  location: West US
                  name: virtualHub1
                  properties:
                    addressPrefix: 10.10.1.0/24
                    provisioningState: Succeeded
                    virtualNetworkConnections:
                    - etag: w/\00000000-0000-0000-0000-000000000000\
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1/hubVirtualNetworkConnections/connection1
                      name: connection1
                      properties:
                        allowHubToRemoteVnetTransit: true
                        allowRemoteVnetToUseHubVnetGateways: false
                        provisioningState: Succeeded
                        remoteVirtualNetwork:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/SpokeVnet1
                    virtualWan:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                  type: Microsoft.Network/virtualHubs
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/virtualHub2
                  location: East US
                  name: virtualHub2
                  properties:
                    addressPrefix: 210.10.1.0/24
                    provisioningState: Succeeded
                    virtualNetworkConnections:
                    - etag: w/\00000000-0000-0000-0000-000000000000\
                      id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/virtualHub2/hubVirtualNetworkConnections/connection2
                      name: connection2
                      properties:
                        allowHubToRemoteVnetTransit: true
                        allowRemoteVnetToUseHubVnetGateways: false
                        provisioningState: Succeeded
                        remoteVirtualNetwork:
                          id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/SpokeVnet2
                    virtualWan:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                  type: Microsoft.Network/virtualHubs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualWans:
    get:
      description: Lists all the VirtualWANs in a subscription.
      operationId: virtual_wans_list
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVirtualWANsResult'
          description: Request successful. Returns the details of all the VirtualWANs
            in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        VirtualWANList:
          parameters:
            api-version: 2019-04-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                  location: West US
                  name: wan1
                  properties:
                    disableVpnEncryption: false
                    provisioningState: Succeeded
                    virtualHubs:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2
                    vpnSites:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2
                  tags:
                    key1: value1
                  type: Microsoft.Network/virtualWANs
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualWANs/wan2
                  location: East US
                  name: wan2
                  properties:
                    disableVpnEncryption: false
                    provisioningState: Succeeded
                    virtualHubs:
                    - /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/hub1
                    - /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/hub2
                    vpnSites:
                    - /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnSites/vpnSite1
                    - /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnSites/vpnSite2
                  tags:
                    key1: value1
                  type: Microsoft.Network/virtualWANs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnGateways:
    get:
      description: Lists all the VpnGateways in a subscription.
      operationId: vpn_gateways_list
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpnGatewaysResult'
          description: Request successful. Returns the details of all the VpnGateways
            in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        VpnGatewayListBySubscription:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnGateways/gateway1
                  location: West US
                  name: gateway1
                  properties:
                    bgpSettings:
                      asn: 65514
                      bgpPeeringAddress: 10.0.1.30
                      peerWeight: 0
                    connections:
                    - etag: w/\00000000-0000-0000-0000-000000000000\
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnGateways/gateway1/vpnConnections/vpnConnection1
                      name: vpnConnection1
                      properties:
                        connectionBandwidth: 100
                        connectionStatus: Connected
                        egressBytesTransferred: 0
                        enableBgp: false
                        ingressBytesTransferred: 0
                        ipsecPolicies: []
                        provisioningState: Succeeded
                        remoteVpnSite:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                        routingWeight: 0
                        sharedKey: key
                        useLocalAzureIpAddress: false
                    provisioningState: Succeeded
                    virtualHub:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                  type: Microsoft.Network/vpnGateways
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnGateways/gateway2
                  location: West US
                  name: gateway2
                  properties:
                    bgpSettings:
                      asn: 65514
                      bgpPeeringAddress: 10.0.1.30
                      peerWeight: 0
                    connections:
                    - etag: w/\00000000-0000-0000-0000-000000000000\
                      id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnGateways/gateway2/vpnConnections/vpnConnection2
                      name: vpnConnection1
                      properties:
                        connectionBandwidth: 100
                        connectionStatus: Connected
                        egressBytesTransferred: 0
                        enableBgp: false
                        ingressBytesTransferred: 0
                        ipsecPolicies: []
                        provisioningState: Succeeded
                        remoteVpnSite:
                          id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnSites/vpnSite2
                        routingWeight: 0
                        sharedKey: key
                        useLocalAzureIpAddress: false
                    provisioningState: Succeeded
                    virtualHub:
                      id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/virtualHub2
                  type: Microsoft.Network/vpnGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnSites:
    get:
      description: Lists all the VpnSites in a subscription.
      operationId: vpn_sites_list
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVpnSitesResult'
          description: Request successful. Returns the details of all the VpnSites
            in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        VpnSiteList:
          parameters:
            api-version: 2019-04-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                  location: West US
                  name: vpnSite1
                  properties:
                    addressSpace:
                      addressPrefixes:
                      - 10.0.0.0/16
                    bgpProperties:
                      asn: 1234
                      bgpPeeringAddress: 192.168.0.0
                    deviceProperties:
                      deviceModel: model01
                      deviceVendor: vendor1
                      linkSpeedInMbps: 200
                    ipAddress: 10.0.0.0
                    provisioningState: Succeeded
                    virtualWan: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                  tags:
                    key1: value1
                  type: Microsoft.Network/vpnSites
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnSites/vpnSite2
                  location: East US
                  name: vpnSite2
                  properties:
                    addressSpace:
                      addressPrefixes:
                      - 10.0.0.0/16
                    bgpProperties:
                      asn: 1234
                      bgpPeeringAddress: 192.168.0.0
                    deviceProperties:
                      deviceModel: model01
                      deviceVendor: vendor1
                      linkSpeedInMbps: 200
                    ipAddress: 10.1.0.0
                    provisioningState: Succeeded
                    virtualWan: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualWANs/wan1
                  tags:
                    key1: value1
                  type: Microsoft.Network/vpnSites
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways:
    get:
      description: Lists all the P2SVpnGateways in a resource group.
      operationId: p2s_vpn_gateways_list_by_resource_group
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the P2SVpnGateway.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListP2SVpnGatewaysResult'
          description: Request successful. Returns the details of all the P2SVpnGateways
            in the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        P2SVpnGatewayListByResourceGroup:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                  location: West US
                  name: p2sVpnGateway1
                  properties:
                    customRoutes:
                      addressPrefixes:
                      - 101.168.0.6/32
                    p2SVpnServerConfiguration:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                    provisioningState: Succeeded
                    virtualHub:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                    vpnClientAddressPool:
                      addressPrefixes:
                      - 101.3.0.0/16
                    vpnClientConnectionHealth:
                      allocatedIpAddresses:
                      - 1.1.1.1
                      - 2.2.2.2
                      totalEgressBytesTransferred: 3000
                      totalIngressBytesTransferred: 2000
                      vpnClientConnectionsCount: 2
                    vpnGatewayScaleUnit: 1
                  type: Microsoft.Network/p2sVpnGateways
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway2
                  location: West US
                  name: p2sVpnGateway2
                  properties:
                    customRoutes:
                      addressPrefixes:
                      - 101.168.0.6/32
                    p2SVpnServerConfiguration:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                    provisioningState: Succeeded
                    virtualHub:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2
                    vpnClientAddressPool:
                      addressPrefixes:
                      - 101.4.0.0/16
                    vpnClientConnectionHealth:
                      allocatedIpAddresses:
                      - 1.1.1.1
                      - 2.2.2.2
                      totalEgressBytesTransferred: 3000
                      totalIngressBytesTransferred: 2000
                      vpnClientConnectionsCount: 2
                    vpnGatewayScaleUnit: 1
                  type: Microsoft.Network/p2sVpnGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}:
    delete:
      description: Deletes a virtual wan p2s vpn gateway.
      operationId: p2s_vpn_gateways_delete
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the P2SVpnGateway.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the gateway.
        in: path
        name: gatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. P2SVpnGateway deleted.
        "202":
          content: {}
          description: Request received successfully. P2SVpnGateway deletion is in
            progress; follow the Location header to poll for final outcome.
        "204":
          content: {}
          description: No p2s vpn gateways exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        P2SVpnGatewayDelete:
          parameters:
            api-version: 2019-04-01
            gatewayName: p2sVpnGateway1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Retrieves the details of a virtual wan p2s vpn gateway.
      operationId: p2s_vpn_gateways_get
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the P2SVpnGateway.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the gateway.
        in: path
        name: gatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
          description: Request successful. Returns the details of the virtual wan
            p2s vpn gateway retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        P2SVpnGatewayGet:
          parameters:
            api-version: 2019-04-01
            gatewayName: p2sVpnGateway1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                location: West US
                name: p2sVpnGateway1
                properties:
                  customRoutes:
                    addressPrefixes:
                    - 101.168.0.6/32
                  p2SVpnServerConfiguration:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                  provisioningState: Succeeded
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                  vpnClientAddressPool:
                    addressPrefixes:
                    - 101.3.0.0/16
                  vpnClientConnectionHealth:
                    allocatedIpAddresses:
                    - 1.1.1.1
                    - 2.2.2.2
                    totalEgressBytesTransferred: 3000
                    totalIngressBytesTransferred: 2000
                    vpnClientConnectionsCount: 2
                  vpnGatewayScaleUnit: 1
                type: Microsoft.Network/p2sVpnGateways
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Updates virtual wan p2s vpn gateway tags.
      operationId: p2s_vpn_gateways_update_tags
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the P2SVpnGateway.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the gateway.
        in: path
        name: gatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2sVpnGateways_UpdateTags_request'
        description: Parameters supplied to update a virtual wan p2s vpn gateway tags.
        required: true
        x-body-name: p2SVpnGatewayParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
          description: Request successful. Returns the details of the updated gateway.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
          description: Request received successfully. Returns the details of the updated
            gateway.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      tags:
      - P2SVpnGateways
      x-ms-examples:
        P2SVpnGatewayUpdate:
          parameters:
            api-version: 2019-04-01
            gatewayName: p2sVpnGateway1
            p2SVpnGatewayParameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                location: West US
                name: p2sVpnGateway1
                properties:
                  customRoutes:
                    addressPrefixes:
                    - 101.168.0.6/32
                  p2SVpnServerConfiguration:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                  provisioningState: Succeeded
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                  vpnClientAddressPool:
                    addressPrefixes:
                    - 101.3.0.0/16
                  vpnClientConnectionHealth:
                    allocatedIpAddresses:
                    - 1.1.1.1
                    - 2.2.2.2
                    totalEgressBytesTransferred: 3000
                    totalIngressBytesTransferred: 2000
                    vpnClientConnectionsCount: 2
                  vpnGatewayScaleUnit: 1
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/p2sVpnGateways
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                location: West US
                name: p2sVpnGateway1
                properties:
                  customRoutes:
                    addressPrefixes:
                    - 101.168.0.6/32
                  p2SVpnServerConfiguration:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                  provisioningState: Succeeded
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                  vpnClientAddressPool:
                    addressPrefixes:
                    - 101.3.0.0/16
                  vpnClientConnectionHealth:
                    allocatedIpAddresses:
                    - 1.1.1.1
                    - 2.2.2.2
                    totalEgressBytesTransferred: 3000
                    totalIngressBytesTransferred: 2000
                    vpnClientConnectionsCount: 2
                  vpnGatewayScaleUnit: 1
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/p2sVpnGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: p2SVpnGatewayParameters
      x-openapi-router-controller: openapi_server.controllers.p2_s_vpn_gateways_controller
    put:
      description: Creates a virtual wan p2s vpn gateway if it doesn't exist else
        updates the existing gateway.
      operationId: p2s_vpn_gateways_create_or_update
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the P2SVpnGateway.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the gateway.
        in: path
        name: gatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2SVpnGateway'
        description: Parameters supplied to create or Update a virtual wan p2s vpn
          gateway.
        required: true
        x-body-name: p2SVpnGatewayParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
          description: Request successful. Returns the details of the virtual wan
            p2s vpn Gateway created or updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
          description: Request successful. Returns the details of the virtual wan
            p2s vpn gateway retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        P2SVpnGatewayPut:
          parameters:
            api-version: 2019-04-01
            gatewayName: p2sVpnGateway1
            p2SVpnGatewayParameters:
              location: West US
              properties:
                customRoutes:
                  addressPrefixes:
                  - 101.168.0.6/32
                p2SVpnServerConfiguration:
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                virtualHub:
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                vpnClientAddressPool:
                  addressPrefixes:
                  - 101.3.0.0/16
                vpnGatewayScaleUnit: 1
              tags:
                key1: value1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                location: West US
                name: p2sVpnGateway1
                properties:
                  customRoutes:
                    addressPrefixes:
                    - 101.168.0.6/32
                  p2SVpnServerConfiguration:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                  provisioningState: Succeeded
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                  vpnClientAddressPool:
                    addressPrefixes:
                    - 101.3.0.0/16
                  vpnClientConnectionHealth:
                    allocatedIpAddresses: []
                    totalEgressBytesTransferred: 0
                    totalIngressBytesTransferred: 0
                    vpnClientConnectionsCount: 0
                  vpnGatewayScaleUnit: 1
                type: Microsoft.Network/p2sVpnGateways
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                location: West US
                name: p2sVpnGateway1
                properties:
                  customRoutes:
                    addressPrefixes:
                    - 101.168.0.6/32
                  p2SVpnServerConfiguration:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                  provisioningState: Succeeded
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                  vpnClientAddressPool:
                    addressPrefixes:
                    - 101.3.0.0/16
                  vpnClientConnectionHealth:
                    allocatedIpAddresses: []
                    totalEgressBytesTransferred: 0
                    totalIngressBytesTransferred: 0
                    vpnClientConnectionsCount: 0
                  vpnGatewayScaleUnit: 1
                type: Microsoft.Network/p2sVpnGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: p2SVpnGatewayParameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/generatevpnprofile
  : post:
      description: Generates VPN profile for P2S client of the P2SVpnGateway in the
        specified resource group.
      operationId: p2s_vpn_gateways_generate_vpn_profile
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the P2SVpnGateway.
        in: path
        name: gatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2SVpnProfileParameters'
        description: Parameters supplied to the generate P2SVpnGateway VPN client
          package operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpnProfileResponse'
          description: VPN profile package URL.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - P2SVpnGateways
      x-ms-examples:
        GenerateP2SVpnGatewayVPNProfile:
          parameters:
            api-version: 2019-04-01
            gatewayName: p2sVpnGateway1
            parameters:
              authenticationMethod: EAPTLS
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body: ""
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.p2_s_vpn_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/getP2sVpnConnectionHealth
  : post:
      description: Gets the connection health of P2S clients of the virtual wan P2SVpnGateway
        in the specified resource group.
      operationId: p2s_vpn_gateways_get_p2s_vpn_connection_health
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the P2SVpnGateway.
        in: path
        name: gatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2SVpnGateway'
          description: P2S Vpn Gateway with P2S connection health details.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - P2SVpnGateways
      x-ms-examples:
        P2SVpnGatewayGetConnectionHealth:
          parameters:
            api-version: 2019-04-01
            gatewayName: p2sVpnGateway1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                location: West US
                name: p2sVpnGateway1
                properties:
                  customRoutes:
                    addressPrefixes:
                    - 101.168.0.6/32
                  p2SVpnServerConfiguration:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                  provisioningState: Succeeded
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                  vpnClientAddressPool:
                    addressPrefixes:
                    - 101.3.0.0/16
                  vpnClientConnectionHealth:
                    allocatedIpAddresses:
                    - 1.1.1.1
                    - 2.2.2.2
                    totalEgressBytesTransferred: 3000
                    totalIngressBytesTransferred: 2000
                    vpnClientConnectionsCount: 2
                  vpnGatewayScaleUnit: 1
                type: Microsoft.Network/p2sVpnGateways
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.p2_s_vpn_gateways_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs:
    get:
      description: Lists all the VirtualHubs in a resource group.
      operationId: virtual_hubs_list_by_resource_group
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the VirtualHub.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVirtualHubsResult'
          description: Request successful. Returns the details of all the VirtualHubs
            in the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        VirtualHubListByResourceGroup:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                  location: West US
                  name: virtualHub1
                  properties:
                    addressPrefix: 10.10.1.0/24
                    provisioningState: Succeeded
                    virtualNetworkConnections:
                    - etag: w/\00000000-0000-0000-0000-000000000000\
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1/hubVirtualNetworkConnections/connection1
                      name: connection1
                      properties:
                        allowHubToRemoteVnetTransit: true
                        allowRemoteVnetToUseHubVnetGateways: false
                        provisioningState: Succeeded
                        remoteVirtualNetwork:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/SpokeVnet1
                    virtualWan:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                  type: Microsoft.Network/virtualHubs
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2
                  location: East US
                  name: virtualHub2
                  properties:
                    addressPrefix: 210.10.1.0/24
                    provisioningState: Succeeded
                    virtualNetworkConnections:
                    - etag: w/\00000000-0000-0000-0000-000000000000\
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2/hubVirtualNetworkConnections/connection2
                      name: connection2
                      properties:
                        allowHubToRemoteVnetTransit: true
                        allowRemoteVnetToUseHubVnetGateways: false
                        provisioningState: Succeeded
                        remoteVirtualNetwork:
                          id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/SpokeVnet2
                    virtualWan:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                  type: Microsoft.Network/virtualHubs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}:
    delete:
      description: Deletes a VirtualHub.
      operationId: virtual_hubs_delete
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the VirtualHub.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VirtualHub.
        in: path
        name: virtualHubName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. VirtualHub deleted.
        "202":
          content: {}
          description: Request received successfully. VirtualHub deletion is in progress;
            follow the Location header to poll for final outcome.
        "204":
          content: {}
          description: No VirtualHubs exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        VirtualHubDelete:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualHubName: virtualHub1
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Retrieves the details of a VirtualHub.
      operationId: virtual_hubs_get
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the VirtualHub.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VirtualHub.
        in: path
        name: virtualHubName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: Request successful. Returns the details of the VirtualHub retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        VirtualHubGet:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualHubName: virtualHub1
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                location: West US
                name: virtualHub1
                properties:
                  addressPrefix: 10.10.1.0/24
                  provisioningState: Succeeded
                  virtualNetworkConnections: []
                  virtualWan:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                type: Microsoft.Network/virtualHubs
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Updates VirtualHub tags.
      operationId: virtual_hubs_update_tags
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the VirtualHub.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VirtualHub.
        in: path
        name: virtualHubName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2sVpnGateways_UpdateTags_request'
        description: Parameters supplied to update VirtualHub tags.
        required: true
        x-body-name: virtualHubParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: Request successful. Returns the details of the VirtualHub updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: Request received successfully. Returns the details of the VirtualHub
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      tags:
      - VirtualWANs
      x-ms-examples:
        VirtualHubUpdate:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualHubName: virtualHub2
            virtualHubParameters:
              tags:
                key1: value1
                key2: value2
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2
                location: West US
                name: virtualHub2
                properties:
                  addressPrefix: 10.168.0.0/24
                  provisioningState: Succeeded
                  virtualNetworkConnections: []
                  virtualWan:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/virtualHubs
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2
                location: West US
                name: virtualHub2
                properties:
                  addressPrefix: 10.168.0.0/24
                  provisioningState: Succeeded
                  virtualNetworkConnections: []
                  virtualWan:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/virtualHubs
      x-ms-long-running-operation: true
      x-codegen-request-body-name: virtualHubParameters
      x-openapi-router-controller: openapi_server.controllers.virtual_wans_controller
    put:
      description: Creates a VirtualHub resource if it doesn't exist else updates
        the existing VirtualHub.
      operationId: virtual_hubs_create_or_update
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the VirtualHub.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VirtualHub.
        in: path
        name: virtualHubName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualHub'
        description: Parameters supplied to create or update VirtualHub.
        required: true
        x-body-name: virtualHubParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: Request successful. Returns the details of the VirtualHub created
            or updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualHub'
          description: Request received successfully. Returns the details of the VirtualHub
            created or updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        VirtualHubPut:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualHubName: virtualHub2
            virtualHubParameters:
              location: West US
              properties:
                addressPrefix: 10.168.0.0/24
                virtualWan:
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
              tags:
                key1: value1
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2
                location: West US
                name: virtualHub2
                properties:
                  addressPrefix: 10.168.0.0/24
                  provisioningState: Succeeded
                  virtualNetworkConnections: []
                  virtualWan:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                type: Microsoft.Network/virtualHubs
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2
                location: West US
                name: virtualHub2
                properties:
                  addressPrefix: 10.168.0.0/24
                  provisioningState: Succeeded
                  virtualNetworkConnections: []
                  virtualWan:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                type: Microsoft.Network/virtualHubs
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: virtualHubParameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/hubVirtualNetworkConnections
  : get:
      description: Retrieves the details of all HubVirtualNetworkConnections.
      operationId: hub_virtual_network_connections_list
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the VirtualHub.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VirtualHub.
        in: path
        name: virtualHubName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHubVirtualNetworkConnectionsResult'
          description: Request successful. Returns the details of all the HubVirtualNetworkConnections
            for the VirtualHub.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        HubVirtualNetworkConnectionList:
          parameters:
            api-version: 2019-04-01
            connectionName: connection1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualHubName: virtualHub1
          responses:
            "200":
              body:
              - etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1/virtualHubVnetConnections/connection1
                name: connection1
                properties:
                  allowHubToRemoteVnetTransit: true
                  allowRemoteVnetToUseHubVnetGateways: false
                  provisioningState: Succeeded
                  remoteVirtualNetwork:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1
              - etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1/virtualHubVnetConnections/connection2
                name: connection2
                properties:
                  allowHubToRemoteVnetTransit: true
                  allowRemoteVnetToUseHubVnetGateways: false
                  provisioningState: Succeeded
                  remoteVirtualNetwork:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/hubVirtualNetworkConnections/{connectionName}
  : get:
      description: Retrieves the details of a HubVirtualNetworkConnection.
      operationId: hub_virtual_network_connections_get
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the VirtualHub.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VirtualHub.
        in: path
        name: virtualHubName
        required: true
        schema:
          type: string
      - description: The name of the vpn connection.
        in: path
        name: connectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HubVirtualNetworkConnection'
          description: Request successful. Returns the details of the HubVirtualNetworkConnection
            retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        HubVirtualNetworkConnectionGet:
          parameters:
            api-version: 2019-04-01
            connectionName: connection1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualHubName: virtualHub1
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1/virtualHubVnetConnections/connection1
                name: connection1
                properties:
                  allowHubToRemoteVnetTransit: true
                  allowRemoteVnetToUseHubVnetGateways: false
                  provisioningState: Succeeded
                  remoteVirtualNetwork:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans:
    get:
      description: Lists all the VirtualWANs in a resource group.
      operationId: virtual_wans_list_by_resource_group
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the VirtualWan.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVirtualWANsResult'
          description: Request successful. Returns the details of all the VirtualWANs
            in the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        VirtualWANListByResourceGroup:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                  location: West US
                  name: wan1
                  properties:
                    disableVpnEncryption: false
                    provisioningState: Succeeded
                    virtualHubs:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2
                    vpnSites:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2
                  tags:
                    key1: value1
                  type: Microsoft.Network/virtualWANs
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan2
                  location: East US
                  name: wan2
                  properties:
                    disableVpnEncryption: false
                    provisioningState: Succeeded
                    virtualHubs:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub3
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub4
                    vpnSites:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite3
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite4
                  tags:
                    key1: value1
                  type: Microsoft.Network/virtualWANs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{VirtualWANName}:
    delete:
      description: Deletes a VirtualWAN.
      operationId: virtual_wans_delete
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the VirtualWan.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VirtualWAN being deleted.
        in: path
        name: VirtualWANName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. VirtualWAN deleted.
        "202":
          content: {}
          description: Request received successfully. VirtualWAN deletion is in progress;
            follow the Location header to poll for final outcome.
        "204":
          content: {}
          description: No VirtualWANs exist by the name provided.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        VirtualWANDelete:
          parameters:
            VirtualWANName: virtualWan1
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Retrieves the details of a VirtualWAN.
      operationId: virtual_wans_get
      parameters:
      - description: The resource group name of the VirtualWan.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VirtualWAN being retrieved.
        in: path
        name: VirtualWANName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: Request successful. Returns the details of the VirtualWAN retrieved.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        VirtualWANGet:
          parameters:
            VirtualWANName: wan1
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                location: West US
                name: wan1
                properties:
                  disableVpnEncryption: false
                  provisioningState: Succeeded
                  virtualHubs:
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2
                  vpnSites:
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2
                tags:
                  key1: value1
                type: Microsoft.Network/virtualWANs
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Updates a VirtualWAN tags.
      operationId: virtual_wans_update_tags
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the VirtualWan.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VirtualWAN being updated.
        in: path
        name: VirtualWANName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2sVpnGateways_UpdateTags_request'
        description: Parameters supplied to Update VirtualWAN tags.
        required: true
        x-body-name: WANParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: Request successful. Returns the details of the VirtualWAN updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: Request received successfully. Returns the details of the VirtualWAN
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      tags:
      - VirtualWANs
      x-ms-examples:
        VirtualWANUpdate:
          parameters:
            VirtualWANName: wan1
            WANParameters:
              tags:
                key1: value1
                key2: value2
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                location: West US
                name: wan1
                properties:
                  disableVpnEncryption: false
                  provisioningState: Succeeded
                  virtualHubs:
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2
                  vpnSites:
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/virtualWANs
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                location: West US
                name: wan1
                properties:
                  disableVpnEncryption: false
                  provisioningState: Succeeded
                  virtualHubs:
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2
                  vpnSites:
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/virtualWANs
      x-ms-long-running-operation: true
      x-codegen-request-body-name: WANParameters
      x-openapi-router-controller: openapi_server.controllers.virtual_wans_controller
    put:
      description: Creates a VirtualWAN resource if it doesn't exist else updates
        the existing VirtualWAN.
      operationId: virtual_wans_create_or_update
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the VirtualWan.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VirtualWAN being created or updated.
        in: path
        name: VirtualWANName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualWAN'
        description: Parameters supplied to create or update VirtualWAN.
        required: true
        x-body-name: WANParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: Request successful. Returns the details of the VirtualWAN created
            or updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWAN'
          description: Create successful. The operation returns the resulting VirtualWAN
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        VirtualWANCreate:
          parameters:
            VirtualWANName: wan1
            WANParameters:
              location: West US
              properties:
                disableVpnEncryption: false
              tags:
                key1: value1
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                location: West US
                name: wan1
                properties:
                  disableVpnEncryption: false
                  provisioningState: Succeeded
                  virtualHubs:
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2
                  vpnSites:
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2
                tags:
                  key1: value1
                type: Microsoft.Network/virtualWANs
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                location: West US
                name: wan1
                properties:
                  disableVpnEncryption: false
                  provisioningState: Succeeded
                  virtualHubs:
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2
                  vpnSites:
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                  - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2
                tags:
                  key1: value1
                type: Microsoft.Network/virtualWANs
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: WANParameters
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWANName}/supportedSecurityProviders
  : get:
      description: Gives the supported security providers for the virtual wan.
      operationId: supported_security_providers
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VirtualWAN for which supported security providers
          are needed.
        in: path
        name: virtualWANName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualWanSecurityProviders'
          description: Request successful. Returns the object containing supported
            security providers.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        supportedSecurityProviders:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualWANName: wan1
          responses:
            "200":
              body:
                supportedProviders:
                - name: AzureFirewall
                  type: Native
                  url: ""
              description: Request successful.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWANName}/vpnConfiguration
  : post:
      description: Gives the sas-url to download the configurations for vpn-sites
        in a resource group.
      operationId: vpn_sites_configuration_download
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VirtualWAN for which configuration of all vpn-sites
          is needed.
        in: path
        name: virtualWANName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetVpnSitesConfigurationRequest'
        description: Parameters supplied to download vpn-sites configuration.
        required: true
        x-body-name: request
      responses:
        "200":
          content: {}
          description: Request successful. Follow the location header for sas-url
            to output blob.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously. Follow
            the location header for sas-url to output blob.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        VpnSitesConfigurationDownload:
          parameters:
            api-version: 2019-04-01
            request:
              outputBlobSasUrl: https://blobcortextesturl.blob.core.windows.net/folderforconfig/vpnFile?sp=rw&se=2018-01-10T03%3A42%3A04Z&sv=2017-04-17&sig=WvXrT5bDmDFfgHs%2Brz%2BjAu123eRCNE9BO0eQYcPDT7pY%3D&sr=b
              vpnSites:
              - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/abc
            resourceGroupName: rg1
            subscriptionId: subid
            virtualWANName: wan1
          responses:
            "200":
              description: Request successful. Follow the location header for sas-url
                to output blob.
            "202":
              description: Accepted and the operation will complete asynchronously.
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: request
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWanName}/p2sVpnServerConfigurations
  : get:
      description: Retrieves all P2SVpnServerConfigurations for a particular VirtualWan.
      operationId: p2s_vpn_server_configurations_list_by_virtual_wan
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the VirtualWan.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VirtualWan.
        in: path
        name: virtualWanName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListP2SVpnServerConfigurationsResult'
          description: Request successful. Returns all P2SVpnServerConfigurations
            for a VirtualWan.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/P2sVpnGateways_List_default_response'
          description: Error.
      x-ms-examples:
        P2SVpnServerConfigurationList:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualWanName: virtualWan1
          responses:
            "200":
              body:
              - etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                name: p2sVpnServerConfiguration1
                properties:
                  p2SVpnServerConfigRadiusClientRootCertificates:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1/p2sVpnServerConfigRadiusClientRootCertificates/p2sVpnServerConfigRadiusClientRootCert1
                    name: p2sVpnServerConfigRadiusClientRootCert1
                    properties:
                      provisioningState: Succeeded
                      thumbprint: 83FFBFC8848B5A5836C94D0112367E16148A286F
                    type: Microsoft.Network/virtualWans/p2sVpnServerConfigurations/p2sVpnServerConfigRadiusClientRootCertificates
                  p2SVpnServerConfigRadiusServerRootCertificates:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1/p2sVpnServerConfigRadiusServerRootCertificates/p2sVpnServerConfigRadiusServerRootCert
                    name: p2sVpnServerConfigRadiusServerRootCert1
                    properties:
                      provisioningState: Succeeded
                      publicCertData: MIIC5zCCAc+gAwIBAgIQErQ0Hk4aDJxIA+Q5RagB+jANBgkqhkiG9w0BAQsFADAWMRQwEgYDVQQDDAtQMlNSb290Q2VydDAeFw0xNzEyMTQyMTA3MzhaFw0xODEyMTQyMTI3MzhaMBYxFDASBgNVBAMMC1AyU1Jvb3RDZXJ0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArP7/NQXmW7cQ/ZR1mv3Y3I29Lt7HTOqzo/1KUOoVH3NItbQIRAQbwKy3UWrOFz4eGNX2GWtNRMdCyWsKeqy9Ltsdfcm1IbKXkl84DFeU/ZacXu4Dl3xX3gV5du4TLZjEowJELyur11Ea2YcjPRQ/FzAF9/hGuboS1HZQEPLx4FdUs9OxCYOtc0MxBCwLfVTTRqarb0Ne+arNYd4kCzIhAke1nOyKAJBda5ZL+VHy3S5S8qGlD46jm8HXugmAkUygS4oIIXOmj/1O9sNAi3LN60zufSzCmP8Rm/iUGX+DHAGGiXxwZOKQLEDaZXKqoHjMPP0XudmSWwOIbyeQVrLhkwIDAQABozEwLzAOBgNVHQ8BAf8EBAMCAgQwHQYDVR0OBBYEFEfeNU2trYxNLF9ONmuJUsT13pKDMA0GCSqGSIb3DQEBCwUAA4IBAQBmM6RJzsGGipxyMhimHKN2xlkejhVsgBoTAhOU0llW9aUSwINJ9zFUGgI8IzUFy1VG776fchHp0LMRmPSIUYk5btEPxbsrPtumPuMH8EQGrS+Rt4pD+78c8H1fEPkq5CmDl/PKu4JoFGv+aFcE+Od0hlILstIF10Qysf++QXDolKfzJa/56bgMeYKFiju73loiRM57ns8ddXpfLl792UVpRkFU62LNns6Y1LKTwapmUF4IvIuAIzd6LZNOQng64LAKXtKnViJ1JQiXwf4CEzhgvAti3/ejpb3U90hsrUcyZi6wBv9bZLcAJRWpz61JNYliM1d1grSwQDKGXNQE4xuM
                    type: Microsoft.Network/virtualWans/p2sVpnServerConfigurations/p2sVpnServerConfigRadiusServerRootCertificates
                  p2SVpnServerConfigVpnClientRevokedCertificates:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1/p2sVpnServerConfigVpnClientRevokedCertificates/VpnClientRevokedCert2
                    name: p2sVpnServerConfigVpnClientRevokedCert1
                    properties:
                      provisioningState: Succeeded
                      thumbprint: 83FFBFC8848B5A5836C94D0112367E16148A286F
                    type: Microsoft.Network/virtualWans/p2sVpnServerConfigurations/p2sVpnServerConfigVpnClientRevokedCertificates
                  p2SVpnServerConfigVpnClientRootCertificates:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1/p2sVpnServerConfigVpnClientRootCertificates/p2sVpnServerConfigVpnClientRootCert1
                    name: p2sVpnServerConfigVpnClientRootCert1
                    properties:
                      provisioningState: Succeeded
[...]
