openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Flex
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_flex_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_flex_v1
servers:
- url: https://flex-api.twilio.com
tags:
- name: FlexV1Assessments
- name: FlexV1Channel
- name: FlexV1Configuration
- name: FlexV1FlexFlow
- name: FlexV1InsightsAssessmentsComment
- name: FlexV1InsightsConversations
- name: FlexV1InsightsQuestionnaires
- name: FlexV1InsightsQuestionnairesCategory
- name: FlexV1InsightsQuestionnairesQuestion
- name: FlexV1InsightsSegments
- name: FlexV1InsightsSession
- name: FlexV1InsightsSettingsAnswerSets
- name: FlexV1InsightsSettingsComment
- name: FlexV1InsightsUserRoles
- name: FlexV1Interaction
- name: FlexV1InteractionChannel
- name: FlexV1InteractionChannelInvite
- name: FlexV1InteractionChannelParticipant
- name: FlexV1ProvisioningStatus
- name: FlexV1WebChannel
paths:
  /v1/Channels:
    description: Flex chat channels
    get:
      description: ""
      operationId: ListChannel
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChannelResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1Channel
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateChannel
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateChannelRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.channel'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1Channel
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - flex_flow_sid
      - user_sid
      - task_sid
      mountName: channel
      pathType: list
  /v1/Channels/{Sid}:
    delete:
      description: ""
      operationId: DeleteChannel
      parameters:
      - description: The SID of the Flex chat channel resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1Channel
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: Flex chat channels
    get:
      description: ""
      operationId: FetchChannel
      parameters:
      - description: The SID of the Flex chat channel resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.channel'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1Channel
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - flex_flow_sid
      - user_sid
      - task_sid
      mountName: channel
      pathType: instance
  /v1/Configuration:
    description: Configuration for a Flex instance
    get:
      description: ""
      operationId: FetchConfiguration
      parameters:
      - description: The Pinned UI version of the Configuration resource to fetch.
        explode: true
        in: query
        name: UiVersion
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.configuration'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1Configuration
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - status
      - ui_language
      - ui_version
      - service_version
      pathType: instance
  /v1/FlexFlows:
    description: Flex Flow
    get:
      description: ""
      operationId: ListFlexFlow
      parameters:
      - description: The `friendly_name` of the Flex Flow resources to read.
        explode: true
        in: query
        name: FriendlyName
        required: false
        schema:
          type: string
        style: form
        x-twilio:
          pii:
            deleteSla: 30
            handling: standard
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFlexFlowResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1FlexFlow
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateFlexFlow
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateFlexFlowRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.flex_flow'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1FlexFlow
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - channel_type
      - integration_type
      mountName: flex_flow
      pathType: list
  /v1/FlexFlows/{Sid}:
    delete:
      description: ""
      operationId: DeleteFlexFlow
      parameters:
      - description: The SID of the Flex Flow resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FO[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1FlexFlow
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: Flex Flow
    get:
      description: ""
      operationId: FetchFlexFlow
      parameters:
      - description: The SID of the Flex Flow resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FO[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.flex_flow'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1FlexFlow
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateFlexFlow
      parameters:
      - description: The SID of the Flex Flow resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FO[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateFlexFlowRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.flex_flow'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1FlexFlow
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - channel_type
      - integration_type
      mountName: flex_flow
      pathType: instance
  /v1/Insights/Conversations:
    description: "TODO: Resource-level docs"
    get:
      description: To get conversation with segment id
      operationId: ListInsightsConversations
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - description: Unique Id of the segment for which conversation details needs
          to be fetched
        explode: true
        in: query
        name: SegmentId
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInsightsConversationsResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsConversations
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      className: insights_conversations
      defaultOutputProperties:
      - conversation_id
      - account_id
      - segment_count
      - segments
      mountName: insights_conversations
      pathType: list
  /v1/Insights/QualityManagement/Assessments:
    description: "TODO: Resource-level docs"
    get:
      description: Get assessments done for a conversation by logged in user
      operationId: ListInsightsAssessments
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - description: The id of the segment.
        explode: true
        in: query
        name: SegmentId
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInsightsAssessmentsResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1Assessments
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: Add assessments against conversation to dynamo db. Used in assessments
        screen by user. Users can select the questionnaire and pick up answers for
        each and every question.
      operationId: CreateInsightsAssessments
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateInsightsAssessmentsRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.insights_assessments'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1Assessments
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      className: assessments
      defaultOutputProperties:
      - account_sid
      - assessment_sid
      - assessment
      pathType: list
  /v1/Insights/QualityManagement/Assessments/Comments:
    description: "TODO: Resource-level docs"
    get:
      description: To create a comment assessment for a conversation
      operationId: ListInsightsAssessmentsComment
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - description: The id of the segment.
        explode: true
        in: query
        name: SegmentId
        required: false
        schema:
          type: string
        style: form
      - description: The id of the agent.
        explode: true
        in: query
        name: AgentId
        required: false
        schema:
          type: string
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInsightsAssessmentsCommentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsAssessmentsComment
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: To create a comment assessment for a conversation
      operationId: CreateInsightsAssessmentsComment
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateInsightsAssessmentsCommentRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.insights_assessments_comment'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsAssessmentsComment
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - assessment_sid
      - comment
      mountName: insights_assessments_comment
      pathType: list
  /v1/Insights/QualityManagement/Assessments/{AssessmentSid}:
    description: "TODO: Resource-level docs"
    post:
      description: Update a specific Assessment assessed earlier
      operationId: UpdateInsightsAssessments
      parameters:
      - description: The SID of the assessment to be modified
        explode: false
        in: path
        name: AssessmentSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateInsightsAssessmentsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.insights_assessments'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1Assessments
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      className: assessments
      defaultOutputProperties:
      - account_sid
      - assessment_sid
      - assessment
      pathType: instance
  /v1/Insights/QualityManagement/Categories:
    description: "TODO: Resource-level docs"
    get:
      description: To get all the categories
      operationId: ListInsightsQuestionnairesCategory
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInsightsQuestionnairesCategoryResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsQuestionnairesCategory
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: To create a category for Questions
      operationId: CreateInsightsQuestionnairesCategory
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateInsightsQuestionnairesCategoryRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.insights_questionnaires_category'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsQuestionnairesCategory
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - category_sid
      - name
      mountName: insights_questionnaires_category
      pathType: list
  /v1/Insights/QualityManagement/Categories/{CategorySid}:
    delete:
      description: ""
      operationId: DeleteInsightsQuestionnairesCategory
      parameters:
      - description: The SID of the category to be deleted
        explode: false
        in: path
        name: CategorySid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsQuestionnairesCategory
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    post:
      description: To update the category for Questions
      operationId: UpdateInsightsQuestionnairesCategory
      parameters:
      - description: The SID of the category to be updated
        explode: false
        in: path
        name: CategorySid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^FY[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateInsightsQuestionnairesCategoryRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.insights_questionnaires_category'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsQuestionnairesCategory
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - category_sid
      - name
      mountName: insights_questionnaires_category
      pathType: instance
  /v1/Insights/QualityManagement/Questionnaires:
    description: "TODO: Resource-level docs"
    get:
      description: To get all questionnaires with questions
      operationId: ListInsightsQuestionnaires
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - description: Flag indicating whether to include inactive questionnaires or
          not
        explode: true
        in: query
        name: IncludeInactive
        required: false
        schema:
          type: boolean
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInsightsQuestionnairesResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsQuestionnaires
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: To create a Questionnaire
      operationId: CreateInsightsQuestionnaires
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateInsightsQuestionnairesRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.insights_questionnaires'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsQuestionnaires
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      className: insights_questionnaires
      defaultOutputProperties:
      - account_sid
      - questionnaire_sid
      - name
      mountName: insights_questionnaires
      pathType: list
  /v1/Insights/QualityManagement/Questionnaires/{QuestionnaireSid}:
    delete:
      description: To delete the questionnaire
      operationId: DeleteInsightsQuestionnaires
      parameters:
      - description: The SID of the questionnaire
        explode: false
        in: path
        name: QuestionnaireSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^GM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsQuestionnaires
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: To get the Questionnaire Detail
      operationId: FetchInsightsQuestionnaires
      parameters:
      - description: The SID of the questionnaire
        explode: false
        in: path
        name: QuestionnaireSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^GM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.insights_questionnaires'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsQuestionnaires
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: To update the questionnaire
      operationId: UpdateInsightsQuestionnaires
      parameters:
      - description: The SID of the questionnaire
        explode: false
        in: path
        name: QuestionnaireSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^GM[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateInsightsQuestionnairesRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.insights_questionnaires'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsQuestionnaires
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      className: insights_questionnaires
      defaultOutputProperties:
      - account_sid
      - questionnaire_sid
      - name
      mountName: insights_questionnaires
      pathType: instance
  /v1/Insights/QualityManagement/Questions:
    description: "TODO: Resource-level docs"
    get:
      description: To get all the question for the given categories
      operationId: ListInsightsQuestionnairesQuestion
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - description: The list of category SIDs
        explode: true
        in: query
        name: CategorySid
        required: false
        schema:
          items:
            maxLength: 34
            minLength: 34
            pattern: "^FY[0-9a-fA-F]{32}$"
            type: string
          type: array
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInsightsQuestionnairesQuestionResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsQuestionnairesQuestion
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: To create a question for a Category
      operationId: CreateInsightsQuestionnairesQuestion
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateInsightsQuestionnairesQuestionRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.insights_questionnaires_question'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsQuestionnairesQuestion
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - question_sid
      - question
      mountName: insights_questionnaires_question
      pathType: list
  /v1/Insights/QualityManagement/Questions/{QuestionSid}:
    delete:
      description: ""
      operationId: DeleteInsightsQuestionnairesQuestion
      parameters:
      - description: The SID of the question
        explode: false
        in: path
        name: QuestionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^GE[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsQuestionnairesQuestion
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    post:
      description: To update the question
      operationId: UpdateInsightsQuestionnairesQuestion
      parameters:
      - description: The SID of the question
        explode: false
        in: path
        name: QuestionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^GE[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateInsightsQuestionnairesQuestionRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.insights_questionnaires_question'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsQuestionnairesQuestion
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - account_sid
      - question_sid
      - question
      mountName: insights_questionnaires_question
      pathType: instance
  /v1/Insights/QualityManagement/Settings/AnswerSets:
    description: "TODO: Resource-level docs"
    get:
      description: To get the Answer Set Settings for an Account
      operationId: FetchInsightsSettingsAnswersets
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.insights_settings_answersets'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsSettingsAnswerSets
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      className: insights_settings_answer_sets
      defaultOutputProperties:
      - answer_sets
      - answer_set_categories
      - not_applicable
      mountName: insights_settings_answer_sets
      pathType: list
  /v1/Insights/QualityManagement/Settings/CommentTags:
    description: "TODO: Resource-level docs"
    get:
      description: To get the Comment Settings for an Account
      operationId: FetchInsightsSettingsComment
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.insights_settings_comment'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsSettingsComment
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - comments
      mountName: insights_settings_comment
      pathType: list
  /v1/Insights/Segments:
    description: "TODO: Resource-level docs"
    get:
      description: To get segments for given reservation Ids
      operationId: ListInsightsSegments
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - description: To unique id of the segment
        explode: true
        in: query
        name: SegmentId
        required: false
        schema:
          type: string
        style: form
      - description: The list of reservation Ids
        explode: true
        in: query
        name: ReservationId
        required: false
        schema:
          items:
            maxLength: 34
            minLength: 34
            pattern: "^WR[0-9a-fA-F]{32}$"
            type: string
          type: array
        style: form
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInsightsSegmentsResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsSegments
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      className: insights_segments
      defaultOutputProperties:
      - segment_id
      - external_id
      - account_id
      - agent_id
      - queue
      mountName: insights_segments
      pathType: list
  /v1/Insights/Session:
    description: "TODO: Resource-level docs"
    post:
      description: To obtain session details for fetching reports and dashboards
      operationId: CreateInsightsSession
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.insights_session'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsSession
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - workspace_id
      - session_expiry
      - session_id
      - base_url
      mountName: insights_session
      pathType: instance
  /v1/Insights/UserRoles:
    description: "TODO: Resource-level docs"
    get:
      description: This is used by Flex UI and Quality Management to fetch the Flex
        Insights roles for the user
      operationId: FetchInsightsUserRoles
      parameters:
      - description: The Authorization HTTP request header
        explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.insights_user_roles'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InsightsUserRoles
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      className: insights_user_roles
      defaultOutputProperties:
      - roles
      mountName: insights_user_roles
      pathType: instance
  /v1/Interactions:
    description: "TODO: Resource-level docs"
    post:
      description: Create a new Interaction.
      operationId: CreateInteraction
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateInteractionRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.interaction'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1Interaction
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      dependentProperties:
        channels:
          mapping:
            interaction_sid: sid
          resource_url: "/v1/Interactions/{interaction_sid}/Channels"
      mountName: interaction
      pathType: list
  /v1/Interactions/{InteractionSid}/Channels:
    description: "TODO: Resource-level docs"
    get:
      description: List all Channels for an Interaction.
      operationId: ListInteractionChannel
      parameters:
      - description: "The unique string created by Twilio to identify an Interaction\
          \ resource, prefixed with KD."
        explode: false
        in: path
        name: InteractionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^KD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInteractionChannelResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InteractionChannel
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      className: interaction_channel
      defaultOutputProperties:
      - sid
      dependentProperties:
        invites:
          mapping:
            channel_sid: sid
            interaction_sid: interaction_sid
          resource_url: "/v1/Interactions/{interaction_sid}/Channels/{channel_sid}/Invites"
        participants:
          mapping:
            channel_sid: sid
            interaction_sid: interaction_sid
          resource_url: "/v1/Interactions/{interaction_sid}/Channels/{channel_sid}/Participants"
      parent: "/Interactions/{Sid}"
      pathType: list
  /v1/Interactions/{InteractionSid}/Channels/{ChannelSid}/Invites:
    description: "TODO: Resource-level docs"
    get:
      description: List all Invites for a Channel.
      operationId: ListInteractionChannelInvite
      parameters:
      - description: The Interaction SID for this Channel.
        explode: false
        in: path
        name: InteractionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^KD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Channel SID for this Participant.
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^UO[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInteractionChannelInviteResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InteractionChannelInvite
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Invite an Agent or a TaskQueue to a Channel.
      operationId: CreateInteractionChannelInvite
      parameters:
      - description: The Interaction SID for this Channel.
        explode: false
        in: path
        name: InteractionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^KD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Channel SID for this Invite.
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^UO[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateInteractionChannelInviteRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.interaction.interaction_channel.interaction_channel_invite'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InteractionChannelInvite
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      className: interaction_channel_invite
      defaultOutputProperties:
      - sid
      parent: "/Interactions/{InteractionSid}/Channels/{Sid}"
      pathType: list
  /v1/Interactions/{InteractionSid}/Channels/{ChannelSid}/Participants:
    description: "TODO: Resource-level docs"
    get:
      description: List all Participants for a Channel.
      operationId: ListInteractionChannelParticipant
      parameters:
      - description: The Interaction Sid for this channel.
        explode: false
        in: path
        name: InteractionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^KD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Channel Sid for this Participant.
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^UO[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInteractionChannelParticipantResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InteractionChannelParticipant
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Add a Participant to a Channel.
      operationId: CreateInteractionChannelParticipant
      parameters:
      - description: The Interaction Sid for the new Channel Participant.
        explode: false
        in: path
        name: InteractionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^KD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Channel Sid for the new Channel Participant.
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^UO[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateInteractionChannelParticipantRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.interaction.interaction_channel.interaction_channel_participant'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InteractionChannelParticipant
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      className: interaction_channel_participant
      defaultOutputProperties:
      - sid
      parent: "/Interactions/{InteractionSid}/Channels/{Sid}"
      pathType: list
  /v1/Interactions/{InteractionSid}/Channels/{ChannelSid}/Participants/{Sid}:
    description: "TODO: Resource-level docs"
    post:
      description: Update an existing Channel Participant.
      operationId: UpdateInteractionChannelParticipant
      parameters:
      - description: The Interaction Sid for this channel.
        explode: false
        in: path
        name: InteractionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^KD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The Channel Sid for this Participant.
        explode: false
        in: path
        name: ChannelSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^UO[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: The unique string created by Twilio to identify an Interaction
          Channel resource.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^UT[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateInteractionChannelParticipantRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.interaction.interaction_channel.interaction_channel_participant'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InteractionChannelParticipant
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      className: interaction_channel_participant
      defaultOutputProperties:
      - sid
      parent: "/Interactions/{InteractionSid}/Channels/{Sid}"
      pathType: instance
  /v1/Interactions/{InteractionSid}/Channels/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a Channel for an Interaction.
      operationId: FetchInteractionChannel
      parameters:
      - description: "The unique string created by Twilio to identify an Interaction\
          \ resource, prefixed with KD."
        explode: false
        in: path
        name: InteractionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^KD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique string created by Twilio to identify an Interaction\
          \ Channel resource, prefixed with UO."
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^UO[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.interaction.interaction_channel'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InteractionChannel
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: Update an existing Interaction Channel.
      operationId: UpdateInteractionChannel
      parameters:
      - description: "The unique string created by Twilio to identify an Interaction\
          \ resource, prefixed with KD."
        explode: false
        in: path
        name: InteractionSid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^KD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      - description: "The unique string created by Twilio to identify an Interaction\
          \ Channel resource, prefixed with UO."
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^UO[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateInteractionChannelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.interaction.interaction_channel'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1InteractionChannel
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      className: interaction_channel
      defaultOutputProperties:
      - sid
      dependentProperties:
        invites:
          mapping:
            channel_sid: sid
            interaction_sid: interaction_sid
          resource_url: "/v1/Interactions/{interaction_sid}/Channels/{channel_sid}/Invites"
        participants:
          mapping:
            channel_sid: sid
            interaction_sid: interaction_sid
          resource_url: "/v1/Interactions/{interaction_sid}/Channels/{channel_sid}/Participants"
      parent: "/Interactions/{Sid}"
      pathType: instance
  /v1/Interactions/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchInteraction
      parameters:
      - description: The SID of the Interaction resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^KD[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.interaction'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1Interaction
      x-maturity:
      - GA
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      dependentProperties:
        channels:
          mapping:
            interaction_sid: sid
          resource_url: "/v1/Interactions/{interaction_sid}/Channels"
      mountName: interaction
      pathType: instance
  /v1/WebChannels:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListWebChannel
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWebChannelResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1WebChannel
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: CreateWebChannel
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateWebChannelRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.web_channel'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1WebChannel
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - flex_flow_sid
      mountName: web_channel
      pathType: list
  /v1/WebChannels/{Sid}:
    delete:
      description: ""
      operationId: DeleteWebChannel
      parameters:
      - description: The SID of the WebChannel resource to delete.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1WebChannel
      x-maturity:
      - GA
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchWebChannel
      parameters:
      - description: The SID of the WebChannel resource to fetch.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.web_channel'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1WebChannel
      x-maturity:
      - GA
      x-accepts:
      - application/json
    post:
      description: ""
      operationId: UpdateWebChannel
      parameters:
      - description: The SID of the WebChannel resource to update.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          maxLength: 34
          minLength: 34
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateWebChannelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.web_channel'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1WebChannel
      x-maturity:
      - GA
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - flex_flow_sid
      mountName: web_channel
      pathType: instance
  /v1/account/provision/status:
    description: Status for email provisioning
    get:
      description: ""
      operationId: FetchProvisioningStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flex.v1.provisioning_status'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - FlexV1ProvisioningStatus
      x-maturity:
      - Beta
      x-accepts:
      - application/json
    servers:
    - url: https://flex-api.twilio.com
    x-twilio:
      defaultOutputProperties:
      - status
      mountName: provisioning_status
      pathType: instance
components:
  schemas:
    configuration_enum_status:
      enum:
      - ok
      - inprogress
      - notstarted
      type: string
    flex.v1.channel:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        task_sid: task_sid
        user_sid: user_sid
        account_sid: account_sid
        flex_flow_sid: flex_flow_sid
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Channel resource and owns this Workflow."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        date_created:
          description: "The date and time in GMT when the Flex chat channel was created\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT when the Flex chat channel was last\
            \ updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
            \ format."
          format: date-time
          nullable: true
          type: string
        flex_flow_sid:
          description: The SID of the Flex Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FO[0-9a-fA-F]{32}$"
          type: string
        sid:
          description: The unique string that we created to identify the Channel resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^CH[0-9a-fA-F]{32}$"
          type: string
        task_sid:
          description: The SID of the TaskRouter Task. Only valid when integration
            type is `task`. `null` for integration types `studio` & `external`
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^WT[0-9a-fA-F]{32}$"
          type: string
        url:
          description: The absolute URL of the Flex chat channel resource.
          format: uri
          nullable: true
          type: string
        user_sid:
          description: The SID of the chat user.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^US[0-9a-fA-F]{32}$"
          type: string
      type: object
    flex.v1.configuration:
      example:
        flex_service_instance_sid: flex_service_instance_sid
        plugin_service_attributes: ""
        flex_insights_hr: ""
        crm_enabled: true
        plugin_service_enabled: true
        taskrouter_target_taskqueue_sid: taskrouter_target_taskqueue_sid
        ui_version: ui_version
        ui_dependencies: ""
        runtime_domain: https://openapi-generator.tech
        crm_attributes: ""
        account_sid: account_sid
        citrix_voice_vdi: ""
        taskrouter_taskqueues:
        - ""
        - ""
        agent_conv_end_methods: ""
        taskrouter_target_workflow_sid: taskrouter_target_workflow_sid
        debugger_integration: ""
        taskrouter_skills:
        - ""
        - ""
        ui_attributes: ""
        offline_config: ""
        crm_fallback_url: https://openapi-generator.tech
        integrations:
        - ""
        - ""
        notifications: ""
        call_recording_enabled: true
        status: status
        call_recording_webhook_url: https://openapi-generator.tech
        date_updated: 2000-01-23T04:56:07.000+00:00
        flex_instance_sid: flex_instance_sid
        service_version: service_version
        taskrouter_worker_channels: ""
        flex_url: https://openapi-generator.tech
        markdown: ""
        flex_insights_drilldown: true
        taskrouter_offline_activity_sid: taskrouter_offline_activity_sid
        outbound_call_flows: ""
        serverless_service_sids:
        - serverless_service_sids
        - serverless_service_sids
        queue_stats_configuration: ""
        date_created: 2000-01-23T04:56:07.000+00:00
        crm_callback_url: https://openapi-generator.tech
        public_attributes: ""
        url: https://openapi-generator.tech
        taskrouter_worker_attributes: ""
        chat_service_instance_sid: chat_service_instance_sid
        crm_type: crm_type
        messaging_service_instance_sid: messaging_service_instance_sid
        channel_configs:
        - ""
        - ""
        taskrouter_workspace_sid: taskrouter_workspace_sid
        attributes: ""
        flex_ui_status_report: ""
        ui_language: ui_language
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Configuration resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        agent_conv_end_methods:
          description: Agent conversation end methods.
          nullable: true
        attributes:
          description: An object that contains application-specific data.
          nullable: true
        call_recording_enabled:
          description: Whether call recording is enabled.
          nullable: true
          type: boolean
        call_recording_webhook_url:
          description: The call recording webhook URL.
          format: uri
          nullable: true
          type: string
        channel_configs:
          description: Settings for different limits for Flex Conversations channels
            attachments.
          items: {}
          nullable: true
          type: array
        chat_service_instance_sid:
          description: The SID of the chat service this user belongs to.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        citrix_voice_vdi:
          description: Citrix voice vdi configuration and settings.
          nullable: true
        crm_attributes:
          description: An object that contains the CRM attributes.
          nullable: true
        crm_callback_url:
          description: The CRM Callback URL.
          format: uri
          nullable: true
          type: string
        crm_enabled:
          description: Whether CRM is present for Flex.
          nullable: true
          type: boolean
        crm_fallback_url:
          description: The CRM Fallback URL.
          format: uri
          nullable: true
          type: string
        crm_type:
          description: The CRM type.
          nullable: true
          type: string
        date_created:
          description: "The date and time in GMT when the Configuration resource was\
            \ created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
            \ format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT when the Configuration resource was\
            \ last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
            \ format."
          format: date-time
          nullable: true
          type: string
        debugger_integration:
          description: Configurable parameters for Debugger Integration.
          nullable: true
        flex_insights_drilldown:
          description: Setting this to true will redirect Flex UI to the URL set in
            flex_url
          nullable: true
          type: boolean
        flex_insights_hr:
          description: Object with enabled/disabled flag with list of workspaces.
          nullable: true
        flex_instance_sid:
          description: The SID of the Flex instance.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^GO[0-9a-fA-F]{32}$"
          type: string
        flex_service_instance_sid:
          description: The SID of the Flex service instance.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        flex_ui_status_report:
          description: Configurable parameters for Flex UI Status report.
          nullable: true
        flex_url:
          description: URL to redirect to in case drilldown is enabled.
          format: uri
          nullable: true
          type: string
        integrations:
          description: A list of objects that contain the configurations for the Integrations
            supported in this configuration.
          items: {}
          nullable: true
          type: array
        markdown:
          description: Configurable parameters for Markdown.
          nullable: true
        messaging_service_instance_sid:
          description: The SID of the Messaging service instance.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^MG[0-9a-fA-F]{32}$"
          type: string
        notifications:
          description: Configurable parameters for Notifications.
          nullable: true
        offline_config:
          description: Presence and presence ttl configuration
          nullable: true
        outbound_call_flows:
          description: The list of outbound call flows.
          nullable: true
        plugin_service_attributes:
          description: The plugin service attributes.
          nullable: true
        plugin_service_enabled:
          description: Whether the plugin service enabled.
          nullable: true
          type: boolean
        public_attributes:
          description: "The list of public attributes, which are visible to unauthenticated\
            \ clients."
          nullable: true
        queue_stats_configuration:
          description: Configurable parameters for Queues Statistics.
          nullable: true
        runtime_domain:
          description: The URL where the Flex instance is hosted.
          format: uri
          nullable: true
          type: string
        serverless_service_sids:
          description: The list of serverless service SIDs.
          items:
            maxLength: 34
            minLength: 34
            pattern: "^ZS[0-9a-fA-F]{32}$"
            type: string
          nullable: true
          type: array
        service_version:
          description: The Flex Service version.
          nullable: true
          type: string
        status:
          $ref: '#/components/schemas/configuration_enum_status'
        taskrouter_offline_activity_sid:
          description: The TaskRouter SID of the offline activity.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^WA[0-9a-fA-F]{32}$"
          type: string
        taskrouter_skills:
          description: The Skill description for TaskRouter workers.
          items: {}
          nullable: true
          type: array
        taskrouter_target_taskqueue_sid:
          description: The SID of the TaskRouter Target TaskQueue.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^WQ[0-9a-fA-F]{32}$"
          type: string
        taskrouter_target_workflow_sid:
          description: The SID of the TaskRouter target Workflow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^WW[0-9a-fA-F]{32}$"
          type: string
        taskrouter_taskqueues:
          description: The list of TaskRouter TaskQueues.
          items: {}
          nullable: true
          type: array
        taskrouter_worker_attributes:
          description: The TaskRouter Worker attributes.
          nullable: true
        taskrouter_worker_channels:
          description: The TaskRouter default channel capacities and availability
            for workers.
          nullable: true
        taskrouter_workspace_sid:
          description: The SID of the TaskRouter Workspace.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^WS[0-9a-fA-F]{32}$"
          type: string
        ui_attributes:
          description: The object that describes Flex UI characteristics and settings.
          nullable: true
        ui_dependencies:
          description: The object that defines the NPM packages and versions to be
            used in Hosted Flex.
          nullable: true
        ui_language:
          description: The primary language of the Flex UI.
          nullable: true
          type: string
        ui_version:
          description: The Pinned UI version.
          nullable: true
          type: string
        url:
          description: The absolute URL of the Configuration resource.
          format: uri
          nullable: true
          type: string
      type: object
    flex.v1.flex_flow:
      example:
        friendly_name: friendly_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        chat_service_sid: chat_service_sid
        integration_type: integration_type
        enabled: true
        url: https://openapi-generator.tech
        sid: sid
        contact_identity: contact_identity
        integration: ""
        account_sid: account_sid
        janitor_enabled: true
        channel_type: channel_type
        long_lived: true
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Flex Flow resource and owns this Workflow."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        channel_type:
          $ref: '#/components/schemas/flex_flow_enum_channel_type'
        chat_service_sid:
          description: The SID of the chat service.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^IS[0-9a-fA-F]{32}$"
          type: string
        contact_identity:
          description: The channel contact's Identity.
          nullable: true
          type: string
        date_created:
          description: "The date and time in GMT when the resource was created specified\
            \ in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date and time in GMT when the resource was last updated\
            \ specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          type: string
        enabled:
          description: Whether the Flex Flow is enabled.
          nullable: true
          type: boolean
        friendly_name:
          description: The string that you assigned to describe the resource.
          nullable: true
          type: string
          x-twilio:
            pii:
              deleteSla: 30
              handling: standard
        integration:
          description: An object that contains specific parameters for the integration.
          nullable: true
        integration_type:
          $ref: '#/components/schemas/flex_flow_enum_integration_type'
        janitor_enabled:
          description: "When enabled, the Messaging Channel Janitor will remove active\
            \ Proxy sessions if the associated Task is deleted outside of the Flex\
            \ UI. Defaults to `false`."
          nullable: true
          type: boolean
        long_lived:
          description: "When enabled, Flex will keep the chat channel active so that\
            \ it may be used for subsequent interactions with a contact identity.\
            \ Defaults to `false`."
          nullable: true
          type: boolean
        sid:
          description: The unique string that we created to identify the Flex Flow
            resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FO[0-9a-fA-F]{32}$"
          type: string
        url:
          description: The absolute URL of the Flex Flow resource.
          format: uri
          nullable: true
          type: string
      type: object
    flex.v1.insights_assessments:
      example:
        answer_text: answer_text
        user_email: user_email
        agent_id: agent_id
        offset: 0.8008281904610115
        user_name: user_name
        weight: 1.4658129805029452
        answer_id: answer_id
        url: https://openapi-generator.tech
        assessment: ""
        assessment_sid: assessment_sid
        report: true
        account_sid: account_sid
        segment_id: segment_id
        timestamp: 6.027456183070403
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        agent_id:
          description: The id of the Agent
          nullable: true
          type: string
        answer_id:
          description: The id of the answer selected by user
          nullable: true
          type: string
        answer_text:
          description: The answer text selected by user
          nullable: true
          type: string
        assessment:
          description: Assessment Details associated with an assessment
          nullable: true
        assessment_sid:
          description: The SID of the assessment
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FM[0-9a-fA-F]{32}$"
          type: string
        offset:
          description: Offset of the conversation
          nullable: true
          type: number
        report:
          description: 'The flag indicating if this assessment is part of report '
          nullable: true
          type: boolean
        segment_id:
          description: Segment Id of conversation
          nullable: true
          type: string
        timestamp:
          nullable: true
          type: number
        url:
          format: uri
          nullable: true
          type: string
        user_email:
          description: The email id of the user.
          nullable: true
          type: string
        user_name:
          description: The name of the user.
          nullable: true
          type: string
        weight:
          description: The weightage given to this comment
          nullable: true
          type: number
      type: object
    flex.v1.insights_assessments_comment:
      example:
        user_email: user_email
        assessment_sid: assessment_sid
        agent_id: agent_id
        offset: 0.8008281904610115
        user_name: user_name
        report: true
        account_sid: account_sid
        weight: 1.4658129805029452
        comment: ""
        segment_id: segment_id
        url: https://openapi-generator.tech
        timestamp: 6.027456183070403
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Flex Insights resource and owns this resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        agent_id:
          description: The id of the agent.
          nullable: true
          type: string
        assessment_sid:
          description: The SID of the assessment.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FM[0-9a-fA-F]{32}$"
          type: string
        comment:
          description: The comment added for assessment.
          nullable: true
        offset:
          description: The offset
          nullable: true
          type: number
        report:
          description: 'The flag indicating if this assessment is part of report '
          nullable: true
          type: boolean
        segment_id:
          description: The id of the segment.
          nullable: true
          type: string
        timestamp:
          description: The timestamp when the record is inserted
          nullable: true
          type: number
        url:
          format: uri
          nullable: true
          type: string
        user_email:
          description: The email id of the user.
          nullable: true
          type: string
        user_name:
          description: The name of the user.
          nullable: true
          type: string
        weight:
          description: The weightage given to this comment
          nullable: true
          type: number
      type: object
    flex.v1.insights_conversations:
      example:
        segment_count: 0
        account_id: account_id
        conversation_id: conversation_id
        segments:
        - ""
        - ""
      properties:
        account_id:
          description: The id of the account.
          nullable: true
          type: string
        conversation_id:
          description: The unique id of the conversation
          nullable: true
          type: string
        segment_count:
          description: The count of segments for a conversation
          nullable: true
          type: integer
        segments:
          description: The Segments of a conversation
          items: {}
          nullable: true
          type: array
      type: object
    flex.v1.insights_questionnaires:
      example:
        name: name
        questions:
        - ""
        - ""
        account_sid: account_sid
        active: true
        description: description
        questionnaire_sid: questionnaire_sid
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Flex Insights resource and owns this resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        active:
          description: The flag to enable or disable questionnaire
          nullable: true
          type: boolean
        description:
          description: The description of this questionnaire
          nullable: true
          type: string
        name:
          description: The name of this category.
          nullable: true
          type: string
        questionnaire_sid:
          description: The sid of this questionnaire
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^GM[0-9a-fA-F]{32}$"
          type: string
        questions:
          description: The list of questions with category for a questionnaire
          items: {}
          nullable: true
          type: array
        url:
          format: uri
          nullable: true
          type: string
      type: object
    flex.v1.insights_questionnaires_category:
      example:
        category_sid: category_sid
        name: name
        account_sid: account_sid
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Flex Insights resource and owns this resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        category_sid:
          description: The SID of the category
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^FY[0-9a-fA-F]{32}$"
          type: string
        name:
          description: The name of this category.
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    flex.v1.insights_questionnaires_question:
      example:
        answer_set: ""
        question: question
        question_sid: question_sid
        usage: 0
        account_sid: account_sid
        description: description
        allow_na: true
        answer_set_id: answer_set_id
        category: ""
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Flex Insights resource and owns this resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        allow_na:
          description: The flag  to enable for disable NA for answer.
          nullable: true
          type: boolean
        answer_set:
          description: Set of answers for the question
          nullable: true
        answer_set_id:
          description: The answer_set for the question.
          nullable: true
          type: string
        category:
          description: The Category for the question.
          nullable: true
        description:
          description: The description for the question.
          nullable: true
          type: string
        question:
          description: The question.
          nullable: true
          type: string
        question_sid:
          description: The SID of the question
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^GE[0-9a-fA-F]{32}$"
          type: string
        url:
          format: uri
          nullable: true
          type: string
        usage:
          description: Integer value that tells a particular question is used by how
            many questionnaires
          nullable: true
          type: integer
      type: object
    flex.v1.insights_segments:
      example:
        date: date
        external_segment_link: external_segment_link
        agent_id: agent_id
        agent_name: agent_name
        agent_team_name_in_hierarchy: agent_team_name_in_hierarchy
        customer_phone: customer_phone
        external_id: external_id
        agent_phone: agent_phone
        media: ""
        assessment_type: ""
        customer_link: customer_link
        assessment_percentage: ""
        url: https://openapi-generator.tech
        account_id: account_id
        agent_link: agent_link
        segment_recording_offset: segment_recording_offset
        agent_team_name: agent_team_name
        customer_name: customer_name
        segment_id: segment_id
        external_contact: external_contact
        external_segment_link_id: external_segment_link_id
        queue: queue
      properties:
        account_id:
          description: The unique id for the account.
          nullable: true
          type: string
        agent_id:
          description: The unique id for the agent.
          nullable: true
          type: string
        agent_link:
          description: The link to the agent conversation.
          nullable: true
          type: string
        agent_name:
          description: The name of the agent.
          nullable: true
          type: string
        agent_phone:
          description: The phone number of the agent.
          nullable: true
          type: string
        agent_team_name:
          description: The team name to which agent belongs.
          nullable: true
          type: string
        agent_team_name_in_hierarchy:
          description: he team name to which agent belongs.
          nullable: true
          type: string
        assessment_percentage:
          description: The percentage scored on the Assessments.
          nullable: true
        assessment_type:
          description: The type of the assessment.
          nullable: true
        customer_link:
          description: The link to the customer conversation.
          nullable: true
          type: string
        customer_name:
          description: The name of the customer.
          nullable: true
          type: string
        customer_phone:
          description: The phone number of the customer.
          nullable: true
          type: string
        date:
          description: The date of the conversation.
          nullable: true
          type: string
        external_contact:
          nullable: true
          type: string
        external_id:
          description: The unique id for the conversation.
          nullable: true
          type: string
        external_segment_link:
          description: The hyperlink to recording of the task event.
          nullable: true
          type: string
        external_segment_link_id:
          description: The uuid for the external_segment_link.
          nullable: true
          type: string
        media:
          description: The media identifiers of the conversation.
          nullable: true
        queue:
          nullable: true
          type: string
        segment_id:
          description: To unique id of the segment
          nullable: true
          type: string
        segment_recording_offset:
          description: The offset value for the recording.
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    flex.v1.insights_session:
      example:
        workspace_id: workspace_id
        base_url: base_url
        session_id: session_id
        session_expiry: session_expiry
        url: https://openapi-generator.tech
      properties:
        base_url:
          description: The base URL to fetch reports and dashboards
          nullable: true
          type: string
        session_expiry:
          description: "The session expiry date and time, given in ISO 8601 format."
          nullable: true
          type: string
        session_id:
          description: The unique ID for the session
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
        workspace_id:
          description: Unique ID to identify the user's workspace
          nullable: true
          type: string
      type: object
    flex.v1.insights_settings_answersets:
      example:
        account_sid: account_sid
        not_applicable: ""
        answer_set_categories: ""
        answer_sets: ""
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Flex Insights resource and owns this resource."
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        answer_set_categories:
          description: The list of answer set categories
          nullable: true
        answer_sets:
          description: The lis of answer sets
          nullable: true
        not_applicable:
          description: The details for not applicable answer set
          nullable: true
        url:
          format: uri
          nullable: true
          type: string
      type: object
    flex.v1.insights_settings_comment:
      example:
        comments: ""
        account_sid: account_sid
        url: https://openapi-generator.tech
      properties:
        account_sid:
          description: "The SID of the [Account](https://www.twilio.com/docs/iam/api/account)\
            \ that created the Flex Insights resource and owns this resource."
          maxLength: 34
          minLength: 34
          nullable: true
[...]
