openapi: 3.0.1
info:
  description: The Azure management API provides a RESTful set of web services that
    interact with Azure Key Vault.
  title: KeyVaultManagementClient
  version: 2019-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/keyvault.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: keyvault
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/checkNameAvailability:
    post:
      description: Checks that the vault name is valid and is not already in use.
      operationId: Vaults_CheckNameAvailability
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultCheckNameAvailabilityParameters'
        description: The name of the vault.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: OK -- Operation to check the vault name availability was successful.
      tags:
      - Vaults
      x-ms-examples:
        Validate a vault name:
          parameters:
            api-version: 2019-09-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName:
              name: sample-vault
              type: Microsoft.KeyVault/vaults
          responses:
            "200":
              body:
                nameAvailable: true
      x-codegen-request-body-name: vaultName
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/deletedVaults:
    get:
      description: Gets information about the deleted vaults in a subscription.
      operationId: Vaults_ListDeleted
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedVaultListResult'
          description: Retrieved information about all deleted key vaults in a subscription.
      tags:
      - Vaults
      x-ms-examples:
        List deleted vaults in the specified subscription:
          parameters:
            $top: 1
            api-version: 2019-09-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01&%24skiptoken=HY3RaoMwAEX%2fRcbeYhJrnRXKYNWOuqpME0sfNcYui0Yxade19N8ne7hcDlzOvVuKX81eKKmt4G4dooLQwgqsL2NGHUDYV6o68Z4rY1e388RtNvRQn2vNJjEaMSgNvcbneMUcsKg8BFwft8DndQ0w9hu2QOiFLRs4TsNFNHzSMBFsGvTQGvuD%2f5bVuTOw4R03vPkH%2fVqNAlzm5SxfOwh7ACOA8POTlvPjILlaU1ke8jImOc23JCppQVfZnna0DXc4ISc3vSVuRo5zJE6%2bj25C3vwk2v2kEV2mMn7PyOc1DbtNGkonnzuLym1G400uI5QRZj0efw%3d%3d
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/deletedVaults/sample-vault
                  name: vault-agile-drawer-6404
                  properties:
                    deletionDate: 2017-01-01T00:00:59Z
                    location: westus
                    scheduledPurgeDate: 2017-04-01T00:00:59Z
                    tags: {}
                    vaultId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault
                  type: Microsoft.KeyVault/deletedVaults
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/locations/{location}/deletedVaults/{vaultName}:
    get:
      description: Gets the deleted Azure key vault.
      operationId: Vaults_GetDeleted
      parameters:
      - description: The name of the vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
      - description: The location of the deleted vault.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedVault'
          description: Retrieved information about the deleted vault.
      tags:
      - Vaults
      x-ms-examples:
        Retrieve a deleted vault:
          parameters:
            api-version: 2019-09-01
            location: westus
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/deletedVaults/sample-vault
                name: sample-vault
                properties:
                  deletionDate: 2017-01-01T00:00:59Z
                  location: westus
                  scheduledPurgeDate: 2017-04-01T00:00:59Z
                  tags: {}
                  vaultId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault
                type: Microsoft.KeyVault/deletedVaults
              headers: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/locations/{location}/deletedVaults/{vaultName}/purge:
    post:
      description: Permanently deletes the specified vault. aka Purges the deleted
        Azure key vault.
      operationId: Vaults_PurgeDeleted
      parameters:
      - description: The name of the soft-deleted vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
      - description: The location of the soft-deleted vault.
        in: path
        name: location
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The vault is purged.
        "202":
          content: {}
          description: Vault is being purged.
      tags:
      - Vaults
      x-ms-examples:
        Purge a deleted vault:
          parameters:
            api-version: 2019-09-01
            location: westus
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              headers: {}
            "202":
              headers: {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/vaults:
    get:
      description: The List operation gets information about the vaults associated
        with the subscription.
      operationId: Vaults_ListBySubscription
      parameters:
      - description: Maximum number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultListResult'
          description: Get information about all key vaults in the specified subscription.
      tags:
      - Vaults
      x-ms-examples:
        List vaults in the specified subscription:
          parameters:
            $top: 1
            api-version: 2019-09-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=22019-09-01&$skiptoken=dmF1bHQtcGVza3ktanVyeS03MzA3Ng==
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault
                  location: westus
                  name: sample-vault
                  properties:
                    accessPolicies:
                    - objectId: 00000000-0000-0000-0000-000000000000
                      permissions:
                        certificates:
                        - get
                        - list
                        - delete
                        - create
                        - import
                        - update
                        - managecontacts
                        - getissuers
                        - listissuers
                        - setissuers
                        - deleteissuers
                        - manageissuers
                        - recover
                        - purge
                        keys:
                        - encrypt
                        - decrypt
                        - wrapKey
                        - unwrapKey
                        - sign
                        - verify
                        - get
                        - list
                        - create
                        - update
                        - import
                        - delete
                        - backup
                        - restore
                        - recover
                        - purge
                        secrets:
                        - get
                        - list
                        - set
                        - delete
                        - backup
                        - restore
                        - recover
                        - purge
                      tenantId: 00000000-0000-0000-0000-000000000000
                    enableSoftDelete: true
                    enabledForDeployment: true
                    enabledForDiskEncryption: true
                    enabledForTemplateDeployment: true
                    sku:
                      family: A
                      name: premium
                    tenantId: 00000000-0000-0000-0000-000000000000
                    vaultUri: https://sample-vault.vault.azure.net/
                  tags: {}
                  type: Microsoft.KeyVault/vaults
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults:
    get:
      description: The List operation gets information about the vaults associated
        with the subscription and within the specified resource group.
      operationId: Vaults_ListByResourceGroup
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Maximum number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultListResult'
          description: Get information about all key vaults in the specified resource
            group.
      tags:
      - Vaults
      x-ms-examples:
        List vaults in the specified resource group:
          parameters:
            $top: 1
            api-version: 2019-09-01
            resourceGroupName: sample-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults?api-version=2019-09-01&$skiptoken=dmF1bHQtcGVza3ktanVyeS03MzA3Ng==
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault
                  location: westus
                  name: sample-vault
                  properties:
                    accessPolicies:
                    - objectId: 00000000-0000-0000-0000-000000000000
                      permissions:
                        certificates:
                        - get
                        - list
                        - delete
                        - create
                        - import
                        - update
                        - managecontacts
                        - getissuers
                        - listissuers
                        - setissuers
                        - deleteissuers
                        - manageissuers
                        - recover
                        - purge
                        keys:
                        - encrypt
                        - decrypt
                        - wrapKey
                        - unwrapKey
                        - sign
                        - verify
                        - get
                        - list
                        - create
                        - update
                        - import
                        - delete
                        - backup
                        - restore
                        - recover
                        - purge
                        secrets:
                        - get
                        - list
                        - set
                        - delete
                        - backup
                        - restore
                        - recover
                        - purge
                      tenantId: 00000000-0000-0000-0000-000000000000
                    enableSoftDelete: true
                    enabledForDeployment: true
                    enabledForDiskEncryption: true
                    enabledForTemplateDeployment: true
                    sku:
                      family: A
                      name: premium
                    tenantId: 00000000-0000-0000-0000-000000000000
                    vaultUri: https://sample-vault.vault.azure.net/
                  tags: {}
                  type: Microsoft.KeyVault/vaults
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}:
    delete:
      description: Deletes the specified Azure key vault.
      operationId: Vaults_Delete
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the vault to delete
        in: path
        name: vaultName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK Response.
        "204":
          content: {}
          description: No Content.
      tags:
      - Vaults
      x-ms-examples:
        Delete a vault:
          parameters:
            api-version: 2019-09-01
            resourceGroupName: sample-resource-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              headers: {}
            "204":
              headers: {}
      x-accepts:
      - application/json
    get:
      description: Gets the specified Azure key vault.
      operationId: Vaults_Get
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Retrieved vault
      tags:
      - Vaults
      x-ms-examples:
        Retrieve a vault:
          parameters:
            api-version: 2019-09-01
            resourceGroupName: sample-resource-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault
                location: westus
                name: sample-vault
                properties:
                  accessPolicies:
                  - objectId: 00000000-0000-0000-0000-000000000000
                    permissions:
                      certificates:
                      - get
                      - list
                      - delete
                      - create
                      - import
                      - update
                      - managecontacts
                      - getissuers
                      - listissuers
                      - setissuers
                      - deleteissuers
                      - manageissuers
                      - recover
                      - purge
                      keys:
                      - encrypt
                      - decrypt
                      - wrapKey
                      - unwrapKey
                      - sign
                      - verify
                      - get
                      - list
                      - create
                      - update
                      - import
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                      secrets:
                      - get
                      - list
                      - set
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                    tenantId: 00000000-0000-0000-0000-000000000000
                  enabledForDeployment: true
                  enabledForDiskEncryption: true
                  enabledForTemplateDeployment: true
                  sku:
                    family: A
                    name: standard
                  tenantId: 00000000-0000-0000-0000-000000000000
                  vaultUri: https://sample-vault.vault.azure.net
                tags: {}
                type: Microsoft.KeyVault/vaults
      x-accepts:
      - application/json
    patch:
      description: Update a key vault in the specified subscription.
      operationId: Vaults_Update
      parameters:
      - description: The name of the Resource Group to which the server belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the vault
        in: path
        name: vaultName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultPatchParameters'
        description: Parameters to patch the vault
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Patched vault
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Patched vault
      tags:
      - Vaults
      x-ms-examples:
        Update an existing vault:
          parameters:
            api-version: 2019-09-01
            parameters:
              properties:
                accessPolicies:
                - objectId: 00000000-0000-0000-0000-000000000000
                  permissions:
                    certificates:
                    - get
                    - list
                    - delete
                    - create
                    - import
                    - update
                    - managecontacts
                    - getissuers
                    - listissuers
                    - setissuers
                    - deleteissuers
                    - manageissuers
                    - recover
                    - purge
                    keys:
                    - encrypt
                    - decrypt
                    - wrapKey
                    - unwrapKey
                    - sign
                    - verify
                    - get
                    - list
                    - create
                    - update
                    - import
                    - delete
                    - backup
                    - restore
                    - recover
                    - purge
                    secrets:
                    - get
                    - list
                    - set
                    - delete
                    - backup
                    - restore
                    - recover
                    - purge
                  tenantId: 00000000-0000-0000-0000-000000000000
                enabledForDeployment: true
                enabledForDiskEncryption: true
                enabledForTemplateDeployment: true
                sku:
                  family: A
                  name: standard
                tenantId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: sample-resource-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault
                location: westus
                name: sample-vault
                properties:
                  accessPolicies:
                  - objectId: 00000000-0000-0000-0000-000000000000
                    permissions:
                      certificates:
                      - get
                      - list
                      - delete
                      - create
                      - import
                      - update
                      - managecontacts
                      - getissuers
                      - listissuers
                      - setissuers
                      - deleteissuers
                      - manageissuers
                      - recover
                      - purge
                      keys:
                      - encrypt
                      - decrypt
                      - wrapKey
                      - unwrapKey
                      - sign
                      - verify
                      - get
                      - list
                      - create
                      - update
                      - import
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                      secrets:
                      - get
                      - list
                      - set
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                    tenantId: 00000000-0000-0000-0000-000000000000
                  enabledForDeployment: true
                  enabledForDiskEncryption: true
                  enabledForTemplateDeployment: true
                  sku:
                    family: A
                    name: standard
                  tenantId: 00000000-0000-0000-0000-000000000000
                  vaultUri: https://sample-vault.vault.azure.net
                tags: {}
                type: Microsoft.KeyVault/vaults
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault
                location: westus
                name: sample-vault
                properties:
                  accessPolicies:
                  - objectId: 00000000-0000-0000-0000-000000000000
                    permissions:
                      certificates:
                      - get
                      - list
                      - delete
                      - create
                      - import
                      - update
                      - managecontacts
                      - getissuers
                      - listissuers
                      - setissuers
                      - deleteissuers
                      - manageissuers
                      - recover
                      - purge
                      keys:
                      - encrypt
                      - decrypt
                      - wrapKey
                      - unwrapKey
                      - sign
                      - verify
                      - get
                      - list
                      - create
                      - update
                      - import
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                      secrets:
                      - get
                      - list
                      - set
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                    tenantId: 00000000-0000-0000-0000-000000000000
                  enabledForDeployment: true
                  enabledForDiskEncryption: true
                  enabledForTemplateDeployment: true
                  sku:
                    family: A
                    name: standard
                  tenantId: 00000000-0000-0000-0000-000000000000
                  vaultUri: https://sample-vault.vault.azure.net
                tags: {}
                type: Microsoft.KeyVault/vaults
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Create or update a key vault in the specified subscription.
      operationId: Vaults_CreateOrUpdate
      parameters:
      - description: The name of the Resource Group to which the server belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the vault
        in: path
        name: vaultName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultCreateOrUpdateParameters'
        description: Parameters to create or update the vault
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Created or updated vault
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vault'
          description: Created or updated vault
      tags:
      - Vaults
      x-ms-examples:
        Create a new vault or update an existing vault:
          parameters:
            api-version: 2019-09-01
            parameters:
              location: westus
              properties:
                accessPolicies:
                - objectId: 00000000-0000-0000-0000-000000000000
                  permissions:
                    certificates:
                    - get
                    - list
                    - delete
                    - create
                    - import
                    - update
                    - managecontacts
                    - getissuers
                    - listissuers
                    - setissuers
                    - deleteissuers
                    - manageissuers
                    - recover
                    - purge
                    keys:
                    - encrypt
                    - decrypt
                    - wrapKey
                    - unwrapKey
                    - sign
                    - verify
                    - get
                    - list
                    - create
                    - update
                    - import
                    - delete
                    - backup
                    - restore
                    - recover
                    - purge
                    secrets:
                    - get
                    - list
                    - set
                    - delete
                    - backup
                    - restore
                    - recover
                    - purge
                  tenantId: 00000000-0000-0000-0000-000000000000
                enabledForDeployment: true
                enabledForDiskEncryption: true
                enabledForTemplateDeployment: true
                sku:
                  family: A
                  name: standard
                tenantId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: sample-resource-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault
                location: westus
                name: sample-vault
                properties:
                  accessPolicies:
                  - objectId: 00000000-0000-0000-0000-000000000000
                    permissions:
                      certificates:
                      - get
                      - list
                      - delete
                      - create
                      - import
                      - update
                      - managecontacts
                      - getissuers
                      - listissuers
                      - setissuers
                      - deleteissuers
                      - manageissuers
                      - recover
                      - purge
                      keys:
                      - encrypt
                      - decrypt
                      - wrapKey
                      - unwrapKey
                      - sign
                      - verify
                      - get
                      - list
                      - create
                      - update
                      - import
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                      secrets:
                      - get
                      - list
                      - set
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                    tenantId: 00000000-0000-0000-0000-000000000000
                  enabledForDeployment: true
                  enabledForDiskEncryption: true
                  enabledForTemplateDeployment: true
                  sku:
                    family: A
                    name: standard
                  tenantId: 00000000-0000-0000-0000-000000000000
                  vaultUri: https://sample-vault.vault.azure.net
                tags: {}
                type: Microsoft.KeyVault/vaults
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault
                location: westus
                name: sample-vault
                properties:
                  accessPolicies:
                  - objectId: 00000000-0000-0000-0000-000000000000
                    permissions:
                      certificates:
                      - get
                      - list
                      - delete
                      - create
                      - import
                      - update
                      - managecontacts
                      - getissuers
                      - listissuers
                      - setissuers
                      - deleteissuers
                      - manageissuers
                      - recover
                      - purge
                      keys:
                      - encrypt
                      - decrypt
                      - wrapKey
                      - unwrapKey
                      - sign
                      - verify
                      - get
                      - list
                      - create
                      - update
                      - import
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                      secrets:
                      - get
                      - list
                      - set
                      - delete
                      - backup
                      - restore
                      - recover
                      - purge
                    tenantId: 00000000-0000-0000-0000-000000000000
                  enabledForDeployment: true
                  enabledForDiskEncryption: true
                  enabledForTemplateDeployment: true
                  sku:
                    family: A
                    name: standard
                  tenantId: 00000000-0000-0000-0000-000000000000
                  vaultUri: https://sample-vault.vault.azure.net
                tags: {}
                type: Microsoft.KeyVault/vaults
        Create or update a vault with network acls:
          parameters:
            api-version: 2019-09-01
            parameters:
              location: westus
              properties:
                enabledForDeployment: true
                enabledForDiskEncryption: true
                enabledForTemplateDeployment: true
                networkAcls:
                  bypass: AzureServices
                  defaultAction: Deny
                  ipRules:
                  - value: 124.56.78.91
                  - value: '''10.91.4.0/24'''
                  virtualNetworkRules:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1
                sku:
                  family: A
                  name: standard
                tenantId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: sample-resource-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault
                location: westus
                name: sample-vault
                properties:
                  enabledForDeployment: true
                  enabledForDiskEncryption: true
                  enabledForTemplateDeployment: true
                  networkAcls:
                    bypass: AzureServices
                    defaultAction: Deny
                    ipRules:
                    - value: 124.56.78.91/32
                    - value: '''10.91.4.0/24'''
                    virtualNetworkRules:
                    - id: /subscriptions/subid/resourcegroups/rg1/providers/microsoft.network/virtualnetworks/test-vnet/subnets/subnet1
                  sku:
                    family: A
                    name: standard
                  tenantId: 00000000-0000-0000-0000-000000000000
                  vaultUri: https://sample-vault.vault.azure.net
                tags: {}
                type: Microsoft.KeyVault/vaults
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault
                location: westus
                name: sample-vault
                properties:
                  enabledForDeployment: true
                  enabledForDiskEncryption: true
                  enabledForTemplateDeployment: true
                  networkAcls:
                    bypass: AzureServices
                    defaultAction: Deny
                    ipRules:
                    - value: 124.56.78.91/32
                    - value: '''10.91.4.0/24'''
                    virtualNetworkRules:
                    - id: /subscriptions/subid/resourcegroups/rg1/providers/microsoft.network/virtualnetworks/test-vnet/subnets/subnet1
                  sku:
                    family: A
                    name: standard
                  tenantId: 00000000-0000-0000-0000-000000000000
                  vaultUri: https://sample-vault.vault.azure.net
                tags: {}
                type: Microsoft.KeyVault/vaults
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/accessPolicies/{operationKind}
  : put:
      description: Update access policies in a key vault in the specified subscription.
      operationId: Vaults_UpdateAccessPolicy
      parameters:
      - description: The name of the Resource Group to which the vault belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the vault
        in: path
        name: vaultName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
      - description: Name of the operation
        in: path
        name: operationKind
        required: true
        schema:
          enum:
          - add
          - replace
          - remove
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccessPolicyUpdateKind
        x-ms-enum:
          modelAsString: false
          name: AccessPolicyUpdateKind
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VaultAccessPolicyParameters'
        description: Access policy to merge into the vault
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAccessPolicyParameters'
          description: The updated access policies
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultAccessPolicyParameters'
          description: The updated access policies
      tags:
      - Vaults
      x-ms-examples:
        Add an access policy, or update an access policy with new permissions:
          parameters:
            api-version: 2019-09-01
            operationKind: add
            parameters:
              properties:
                accessPolicies:
                - objectId: 00000000-0000-0000-0000-000000000000
                  permissions:
                    certificates:
                    - get
                    keys:
                    - encrypt
                    secrets:
                    - get
                  tenantId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: sample-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/accessPolicies/
                properties:
                  accessPolicies:
                  - objectId: 00000000-0000-0000-0000-000000000000
                    permissions:
                      certificates:
                      - get
                      keys:
                      - encrypt
                      secrets:
                      - get
                    tenantId: 00000000-0000-0000-0000-000000000000
                type: Microsoft.KeyVault/vaults/accessPolicies
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/accessPolicies/
                properties:
                  accessPolicies:
                  - objectId: 00000000-0000-0000-0000-000000000000
                    permissions:
                      certificates:
                      - get
                      keys:
                      - encrypt
                      secrets:
                      - get
                    tenantId: 00000000-0000-0000-0000-000000000000
                type: Microsoft.KeyVault/vaults/accessPolicies
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}
  : delete:
      description: Deletes the specified private endpoint connection associated with
        the key vault.
      operationId: PrivateEndpointConnections_Delete
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group that contains the key vault.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the key vault.
        in: path
        name: vaultName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the private endpoint connection associated with the key
          vault.
        in: path
        name: privateEndpointConnectionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: The private endpoint connection was successfully deleted.
        "202":
          content: {}
          description: The private endpoint connection is being deleted.
          headers:
            Retry-After:
              description: The recommended number of seconds to wait before calling
                the URI specified in the location header.
              schema:
                type: integer
            Location:
              description: The URI to poll for completion status.
              schema:
                type: string
        "204":
          content: {}
          description: The private endpoint connection does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        KeyVaultDeletePrivateEndpointConnection:
          parameters:
            api-version: 2018-02-14
            privateEndpointConnectionName: sample-pec
            resourceGroupName: sample-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/privateEndpointConnections/sample-pec
                name: sample-pec
                properties:
                  provisioningState: Disconnected
                type: Microsoft.KeyVault/vaults/privateEndpointConnections
            "202":
              headers:
                Location: https://some.endpoint.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/privateEndpointConnections/sample-pec?operationid=25334578
                Retry-After: "60"
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the specified private endpoint connection associated with
        the key vault.
      operationId: PrivateEndpointConnections_Get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group that contains the key vault.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the key vault.
        in: path
        name: vaultName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the private endpoint connection associated with the key
          vault.
        in: path
        name: privateEndpointConnectionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: Private endpoint connection successfully returned.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        KeyVaultGetPrivateEndpointConnection:
          parameters:
            api-version: 2018-02-14
            privateEndpointConnectionName: sample-pec
            resourceGroupName: sample-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/privateEndpointConnections/sample-pec
                name: sample-pec
                properties:
                  privateEndpoint:
                    id: /subscriptions/00000000-0000-0000-1234-000000000000/resourceGroups/sample-group/providers/Microsoft.Network/privateEndpoints/sample-pe
                  privateLinkServiceConnectionState:
                    actionRequired: None
                    description: This was automatically approved by user1234@contoso.com
                    status: Approved
                  provisioningState: Succeeded
                type: Microsoft.KeyVault/vaults/privateEndpointConnections
      x-accepts:
      - application/json
    put:
      description: Updates the specified private endpoint connection associated with
        the key vault.
      operationId: PrivateEndpointConnections_Put
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group that contains the key vault.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the key vault.
        in: path
        name: vaultName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the private endpoint connection associated with the key
          vault.
        in: path
        name: privateEndpointConnectionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        description: The intended state of private endpoint connection.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
          description: The state of private endpoint connection was updated successfully.
          headers:
            Retry-After:
              description: (specified only if operation does not finish synchronously)
                The recommended number of seconds to wait before calling the URI specified
                in Azure-AsyncOperation.
              schema:
                type: integer
            Azure-AsyncOperation:
              description: (specified only if operation does not finish synchronously)
                The URI to poll for completion status. The response of this URI may
                be synchronous or asynchronous.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - PrivateEndpointConnections
      x-ms-examples:
        KeyVaultPutPrivateEndpointConnection:
          parameters:
            api-version: 2018-02-14
            privateEndpointConnectionName: sample-pec
            properties:
              properties:
                privateLinkServiceConnectionState:
                  description: My name is Joe and I'm approving this.
                  status: Approved
            resourceGroupName: sample-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault/privateEndpointConnections/sample-pec
                name: sample-pec
                properties:
                  privateEndpoint:
                    id: /subscriptions/00000000-0000-0000-1234-000000000000/resourceGroups/sample-group/providers/Microsoft.Network/privateEndpoints/sample-pe
                  privateLinkServiceConnectionState:
                    actionRequired: None
                    description: My name is Joe and I'm approving this.
                    status: Approved
                  provisioningState: Succeeded
                type: Microsoft.KeyVault/vaults/privateEndpointConnections
      x-codegen-request-body-name: properties
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/privateLinkResources
  : get:
      description: Gets the private link resources supported for the key vault.
      operationId: PrivateLinkResources_ListByVault
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group that contains the key vault.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the key vault.
        in: path
        name: vaultName
        required: true
        schema:
          pattern: "^[a-zA-Z0-9-]{3,24}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult'
          description: Successfully retrieved private link resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: Error response describing why the operation failed.
      tags:
      - PrivateLinkResources
      x-ms-examples:
        KeyVaultListPrivateLinkResources:
          parameters:
            api-version: 2018-02-14
            resourceGroupName: sample-group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: sample-vault
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-resource-group/providers/Microsoft.KeyVault/vaults/sample-vault/privateLinkResources/vault
                  name: vault
                  properties:
                    groupId: vault
                    requiredMembers:
                    - default
                    requiredZoneNames:
                    - privatelink.vaultcore.azure.net
                  type: Microsoft.KeyVault/vaults/privateLinkResources
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resources:
    get:
      description: The List operation gets information about the vaults associated
        with the subscription.
      operationId: Vaults_List
      parameters:
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: true
        schema:
          enum:
          - resourceType eq 'Microsoft.KeyVault/vaults'
          type: string
      - description: Maximum number of results to return.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: Azure Resource Manager Api Version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2015-11-01
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResult'
          description: Get information about all key vaults in the subscription.
      tags:
      - Vaults
      x-ms-examples:
        List vaults in the specified subscription:
          parameters:
            $filter: resourceType eq 'Microsoft.KeyVault/vaults'
            $top: 1
            api-version: 2015-11-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.KeyVault%2fvaults%27&%24top=4&api-version=2015-11-01&%24skiptoken=eyJuZXh0UGFydGl0aW9uS2V5IjoiMSE4IVEwTTJNVGMtIiwibmV4dFJvd0tleSI6IjEhMTMyIU5rUTRSVEU1UXpJelFUWXdORGd4UmpoRlFrSXhNVGhFUXpNd01EZEROVVJmVkVkT1RDMU5TVU5TVDFOUFJsUTZNa1ZMUlZsV1FWVk1WRG95UmxaQlZVeFVVeTFUVTFKSExVcEpUVG95UkZSRlUxUTZNa1JXUVZWTVZDMVhSVk5VVlZNLSJ9
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sample-group/providers/Microsoft.KeyVault/vaults/sample-vault
                  location: westus
                  name: sample-vault
                  tags: {}
                  type: Microsoft.KeyVault/vaults
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    PrivateEndpointConnectionName:
      description: Name of the private endpoint connection associated with the key
        vault.
      in: path
      name: privateEndpointConnectionName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupName:
      description: Name of the resource group that contains the key vault.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VaultName:
      description: The name of the key vault.
      in: path
      name: vaultName
      required: true
      schema:
        pattern: "^[a-zA-Z0-9-]{3,24}$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    AccessPolicyEntry:
      description: An identity that have access to the key vault. All identities in
        the array must use the same tenant ID as the key vault's tenant ID.
      example:
        permissions:
          certificates:
          - get
          - get
          keys:
          - encrypt
          - encrypt
          storage:
          - get
          - get
          secrets:
          - get
          - get
        tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        objectId: objectId
      properties:
        applicationId:
          description: ' Application ID of the client making request on behalf of
            a principal'
          format: uuid
          type: string
        objectId:
          description: "The object ID of a user, service principal or security group\
            \ in the Azure Active Directory tenant for the vault. The object ID must\
            \ be unique for the list of access policies."
          type: string
        permissions:
          $ref: '#/components/schemas/Permissions'
        tenantId:
          description: The Azure Active Directory tenant ID that should be used for
            authenticating requests to the key vault.
          format: uuid
          type: string
      required:
      - objectId
      - permissions
      - tenantId
      type: object
    CheckNameAvailabilityResult:
      description: The CheckNameAvailability operation response.
      example:
        reason: AccountNameInvalid
        nameAvailable: true
        message: message
      properties:
        message:
          description: An error message explaining the Reason value in more detail.
          readOnly: true
          type: string
        nameAvailable:
          description: "A boolean value that indicates whether the name is available\
            \ for you to use. If true, the name is available. If false, the name has\
            \ already been taken or is invalid and cannot be used."
          readOnly: true
          type: boolean
        reason:
          description: The reason that a vault name could not be used. The Reason
            element is only returned if NameAvailable is false.
          enum:
          - AccountNameInvalid
          - AlreadyExists
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: Reason
      type: object
    CloudError:
      description: An error response from Key Vault resource provider
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      type: object
      x-ms-external: true
    CloudErrorBody:
      description: An error response from Key Vault resource provider
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code. This is a mnemonic that can be consumed programmatically.
          type: string
        message:
          description: User friendly error message. The message is typically localized
            and may vary with service version.
          type: string
      type: object
      x-ms-external: true
    DeletedVault:
      description: Deleted vault information with extended details.
      example:
        name: name
        id: id
        type: type
        properties:
          deletionDate: 2000-01-23T04:56:07.000+00:00
          vaultId: vaultId
          location: location
          scheduledPurgeDate: 2000-01-23T04:56:07.000+00:00
          tags:
            key: tags
      properties:
        id:
          description: The resource ID for the deleted key vault.
          readOnly: true
          type: string
        name:
          description: The name of the key vault.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/DeletedVaultProperties'
        type:
          description: The resource type of the key vault.
          readOnly: true
          type: string
      type: object
    DeletedVaultListResult:
      description: List of vaults
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            deletionDate: 2000-01-23T04:56:07.000+00:00
            vaultId: vaultId
            location: location
            scheduledPurgeDate: 2000-01-23T04:56:07.000+00:00
            tags:
              key: tags
        - name: name
          id: id
          type: type
          properties:
            deletionDate: 2000-01-23T04:56:07.000+00:00
            vaultId: vaultId
            location: location
            scheduledPurgeDate: 2000-01-23T04:56:07.000+00:00
            tags:
              key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of deleted vaults.
          type: string
        value:
          description: The list of deleted vaults.
          items:
            $ref: '#/components/schemas/DeletedVault'
          type: array
      type: object
    DeletedVaultProperties:
      description: Properties of the deleted vault.
      example:
        deletionDate: 2000-01-23T04:56:07.000+00:00
        vaultId: vaultId
        location: location
        scheduledPurgeDate: 2000-01-23T04:56:07.000+00:00
        tags:
          key: tags
      properties:
        deletionDate:
          description: The deleted date.
          format: date-time
          readOnly: true
          type: string
        location:
          description: The location of the original vault.
          readOnly: true
          type: string
        scheduledPurgeDate:
          description: The scheduled purged date.
          format: date-time
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Tags of the original vault.
          readOnly: true
          type: object
        vaultId:
          description: The resource id of the original vault.
          readOnly: true
          type: string
      type: object
    IPRule:
      description: A rule governing the accessibility of a vault from a specific ip
        address or ip range.
      example:
        value: value
      properties:
        value:
          description: "An IPv4 address range in CIDR notation, such as '124.56.78.91'\
            \ (simple IP address) or '124.56.78.0/24' (all addresses that start with\
            \ 124.56.78)."
          type: string
      required:
      - value
      type: object
    NetworkRuleSet:
      description: A set of rules governing the network accessibility of a vault.
      example:
        bypass: AzureServices
        defaultAction: Allow
        ipRules:
        - value: value
        - value: value
        virtualNetworkRules:
        - id: id
        - id: id
      properties:
        bypass:
          description: Tells what traffic can bypass network rules. This can be 'AzureServices'
            or 'None'.  If not specified the default is 'AzureServices'.
          enum:
          - AzureServices
          - None
          type: string
          x-ms-enum:
            modelAsString: true
            name: NetworkRuleBypassOptions
        defaultAction:
          description: The default action when no rule from ipRules and from virtualNetworkRules
            match. This is only used after the bypass property has been evaluated.
          enum:
          - Allow
          - Deny
          type: string
          x-ms-enum:
            modelAsString: true
            name: NetworkRuleAction
        ipRules:
          description: The list of IP address rules.
          items:
            $ref: '#/components/schemas/IPRule'
          type: array
        virtualNetworkRules:
          description: The list of virtual network rules.
          items:
            $ref: '#/components/schemas/VirtualNetworkRule'
          type: array
      type: object
    Permissions:
      description: "Permissions the identity has for keys, secrets, certificates and\
        \ storage."
      example:
        certificates:
        - get
        - get
        keys:
        - encrypt
        - encrypt
        storage:
        - get
        - get
        secrets:
        - get
        - get
      properties:
        certificates:
          description: Permissions to certificates
          items:
            enum:
            - get
            - list
            - delete
            - create
            - import
            - update
            - managecontacts
            - getissuers
            - listissuers
            - setissuers
            - deleteissuers
            - manageissuers
            - recover
            - purge
            - backup
            - restore
            type: string
            x-ms-enum:
              modelAsString: true
              name: CertificatePermissions
          type: array
        keys:
          description: Permissions to keys
          items:
            enum:
            - encrypt
            - decrypt
            - wrapKey
            - unwrapKey
            - sign
            - verify
            - get
            - list
            - create
            - update
            - import
            - delete
            - backup
            - restore
            - recover
            - purge
            type: string
            x-ms-enum:
              modelAsString: true
              name: KeyPermissions
          type: array
        secrets:
          description: Permissions to secrets
          items:
            enum:
            - get
            - list
            - set
            - delete
            - backup
            - restore
            - recover
            - purge
            type: string
            x-ms-enum:
              modelAsString: true
              name: SecretPermissions
          type: array
        storage:
          description: Permissions to storage accounts
          items:
            enum:
            - get
            - list
            - delete
            - set
            - update
            - regeneratekey
            - recover
            - purge
            - backup
            - restore
            - setsas
            - listsas
            - getsas
            - deletesas
            type: string
            x-ms-enum:
              modelAsString: true
              name: StoragePermissions
          type: array
      type: object
    PrivateEndpoint:
      description: Private endpoint object properties.
      example:
        id: id
      properties:
        id:
          description: Full identifier of the private endpoint resource.
          readOnly: true
          type: string
      type: object
    PrivateEndpointConnection:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Private endpoint connection resource.
      example:
        properties:
          privateLinkServiceConnectionState:
            actionRequired: actionRequired
            description: description
            status: Pending
          privateEndpoint:
            id: id
          provisioningState: Succeeded
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
      x-ms-azure-resource: true
    PrivateEndpointConnectionItem:
      description: Private endpoint connection item.
      example:
        properties:
          privateLinkServiceConnectionState:
            actionRequired: actionRequired
            description: description
            status: Pending
          privateEndpoint:
            id: id
          provisioningState: Succeeded
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
      type: object
    PrivateEndpointConnectionProperties:
      description: Properties of the private endpoint connection resource.
      example:
        privateLinkServiceConnectionState:
          actionRequired: actionRequired
          description: description
          status: Pending
        privateEndpoint:
          id: id
        provisioningState: Succeeded
      properties:
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
        provisioningState:
          $ref: '#/components/schemas/PrivateEndpointConnectionProvisioningState'
      type: object
    PrivateEndpointConnectionProvisioningState:
      description: The current provisioning state.
      enum:
      - Succeeded
      - Creating
      - Updating
      - Deleting
      - Failed
      - Disconnected
      type: string
      x-ms-enum:
        modelAsString: true
        name: PrivateEndpointConnectionProvisioningState
    PrivateEndpointServiceConnectionStatus:
      description: The private endpoint connection status.
      enum:
      - Pending
      - Approved
      - Rejected
      - Disconnected
      type: string
      x-ms-enum:
        modelAsString: true
        name: PrivateEndpointServiceConnectionStatus
    PrivateLinkResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A private link resource
      example:
        properties:
          requiredMembers:
          - requiredMembers
          - requiredMembers
          requiredZoneNames:
          - requiredZoneNames
          - requiredZoneNames
          groupId: groupId
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
    PrivateLinkResourceListResult:
      description: A list of private link resources
      example:
        value:
        - properties:
            requiredMembers:
            - requiredMembers
            - requiredMembers
            requiredZoneNames:
            - requiredZoneNames
            - requiredZoneNames
            groupId: groupId
        - properties:
            requiredMembers:
            - requiredMembers
            - requiredMembers
            requiredZoneNames:
            - requiredZoneNames
            - requiredZoneNames
            groupId: groupId
      properties:
        value:
          description: Array of private link resources
          items:
            $ref: '#/components/schemas/PrivateLinkResource'
          type: array
      type: object
    PrivateLinkResourceProperties:
      description: Properties of a private link resource.
      example:
        requiredMembers:
        - requiredMembers
        - requiredMembers
        requiredZoneNames:
        - requiredZoneNames
        - requiredZoneNames
        groupId: groupId
      properties:
        groupId:
          description: Group identifier of private link resource.
          readOnly: true
          type: string
        requiredMembers:
          description: Required member names of private link resource.
          items:
            type: string
          readOnly: true
          type: array
        requiredZoneNames:
          description: Required DNS zone names of the the private link resource.
          items:
            type: string
          type: array
      type: object
    PrivateLinkServiceConnectionState:
      description: An object that represents the approval state of the private link
        connection.
      example:
        actionRequired: actionRequired
        description: description
        status: Pending
      properties:
        actionRequired:
          description: A message indicating if changes on the service provider require
            any updates on the consumer.
          type: string
        description:
          description: The reason for approval or rejection.
          type: string
        status:
          $ref: '#/components/schemas/PrivateEndpointServiceConnectionStatus'
      type: object
    Resource:
      description: Key Vault resource
      example:
        name: name
        location: location
        id: id
        type: type
        tags:
          key: tags
      properties:
        id:
          description: Fully qualified identifier of the key vault resource.
          readOnly: true
          type: string
        location:
          description: Azure location of the key vault resource.
          readOnly: true
          type: string
        name:
          description: Name of the key vault resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: Tags assigned to the key vault resource.
          readOnly: true
          type: object
        type:
          description: Resource type of the key vault resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ResourceListResult:
      description: List of vault resources.
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          tags:
            key: tags
        - name: name
          location: location
          id: id
          type: type
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of vault resources.
          type: string
        value:
          description: The list of vault resources.
          items:
            $ref: '#/components/schemas/Resource'
          type: array
      type: object
    Sku:
      description: SKU details
      example:
        name: standard
        family: A
      properties:
        family:
          description: SKU family name
          enum:
          - A
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuFamily
        name:
          description: SKU name to specify whether the key vault is a standard vault
            or a premium vault.
          enum:
          - standard
          - premium
          type: string
          x-ms-enum:
            modelAsString: false
            name: SkuName
      required:
      - family
      - name
      type: object
    Vault:
      description: Resource information with extended details.
      example:
        name: name
        location: location
        id: id
        type: type
        properties:
          enablePurgeProtection: true
          privateEndpointConnections:
          - properties:
              privateLinkServiceConnectionState:
                actionRequired: actionRequired
                description: description
                status: Pending
              privateEndpoint:
                id: id
              provisioningState: Succeeded
          - properties:
              privateLinkServiceConnectionState:
                actionRequired: actionRequired
                description: description
                status: Pending
              privateEndpoint:
                id: id
              provisioningState: Succeeded
          enabledForDeployment: true
          accessPolicies:
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          enabledForDiskEncryption: true
          createMode: recover
          enabledForTemplateDeployment: true
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          enableSoftDelete: true
          networkAcls:
            bypass: AzureServices
            defaultAction: Allow
            ipRules:
            - value: value
            - value: value
            virtualNetworkRules:
            - id: id
            - id: id
          sku:
            name: standard
            family: A
          vaultUri: vaultUri
        tags:
          key: tags
      properties:
        id:
          description: Fully qualified identifier of the key vault resource.
          readOnly: true
          type: string
        location:
          description: Azure location of the key vault resource.
          type: string
        name:
          description: Name of the key vault resource.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/VaultProperties'
        tags:
          additionalProperties:
            type: string
          description: Tags assigned to the key vault resource.
          type: object
        type:
          description: Resource type of the key vault resource.
          readOnly: true
          type: string
      required:
      - properties
      type: object
      x-ms-azure-resource: true
    VaultAccessPolicyParameters:
      description: Parameters for updating the access policy in a vault
      example:
        name: name
        location: location
        id: id
        type: type
        properties:
          accessPolicies:
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
      properties:
        id:
          description: The resource id of the access policy.
          readOnly: true
          type: string
        location:
          description: The resource type of the access policy.
          readOnly: true
          type: string
        name:
          description: The resource name of the access policy.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/VaultAccessPolicyProperties'
        type:
          description: The resource name of the access policy.
          readOnly: true
          type: string
      required:
      - properties
      type: object
      x-ms-azure-resource: true
    VaultAccessPolicyProperties:
      description: Properties of the vault access policy
      example:
        accessPolicies:
        - permissions:
            certificates:
            - get
            - get
            keys:
            - encrypt
            - encrypt
            storage:
            - get
            - get
            secrets:
            - get
            - get
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          objectId: objectId
        - permissions:
            certificates:
            - get
            - get
            keys:
            - encrypt
            - encrypt
            storage:
            - get
            - get
            secrets:
            - get
            - get
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          objectId: objectId
      properties:
        accessPolicies:
          description: An array of 0 to 16 identities that have access to the key
            vault. All identities in the array must use the same tenant ID as the
            key vault's tenant ID.
          items:
            $ref: '#/components/schemas/AccessPolicyEntry'
          type: array
      required:
      - accessPolicies
      type: object
    VaultCheckNameAvailabilityParameters:
      description: The parameters used to check the availability of the vault name.
      example:
        name: name
        type: Microsoft.KeyVault/vaults
      properties:
        name:
          description: The vault name.
          type: string
        type:
          description: "The type of resource, Microsoft.KeyVault/vaults"
          enum:
          - Microsoft.KeyVault/vaults
          type: string
          x-ms-enum:
            modelAsString: false
            name: Type
      required:
      - name
      - type
      type: object
    VaultCreateOrUpdateParameters:
      description: Parameters for creating or updating a vault
      example:
        location: location
        properties:
          enablePurgeProtection: true
          privateEndpointConnections:
          - properties:
              privateLinkServiceConnectionState:
                actionRequired: actionRequired
                description: description
                status: Pending
              privateEndpoint:
                id: id
              provisioningState: Succeeded
          - properties:
              privateLinkServiceConnectionState:
                actionRequired: actionRequired
                description: description
                status: Pending
              privateEndpoint:
                id: id
              provisioningState: Succeeded
          enabledForDeployment: true
          accessPolicies:
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          enabledForDiskEncryption: true
          createMode: recover
          enabledForTemplateDeployment: true
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          enableSoftDelete: true
          networkAcls:
            bypass: AzureServices
            defaultAction: Allow
            ipRules:
            - value: value
            - value: value
            virtualNetworkRules:
            - id: id
            - id: id
          sku:
            name: standard
            family: A
          vaultUri: vaultUri
        tags:
          key: tags
      properties:
        location:
          description: The supported Azure location where the key vault should be
            created.
          type: string
        properties:
          $ref: '#/components/schemas/VaultProperties'
        tags:
          additionalProperties:
            type: string
          description: The tags that will be assigned to the key vault.
          type: object
      required:
      - location
      - properties
      type: object
      x-ms-azure-resource: true
    VaultListResult:
      description: List of vaults
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          properties:
            enablePurgeProtection: true
            privateEndpointConnections:
            - properties:
                privateLinkServiceConnectionState:
                  actionRequired: actionRequired
                  description: description
                  status: Pending
                privateEndpoint:
                  id: id
                provisioningState: Succeeded
            - properties:
                privateLinkServiceConnectionState:
                  actionRequired: actionRequired
                  description: description
                  status: Pending
                privateEndpoint:
                  id: id
                provisioningState: Succeeded
            enabledForDeployment: true
            accessPolicies:
            - permissions:
                certificates:
                - get
                - get
                keys:
                - encrypt
                - encrypt
                storage:
                - get
                - get
                secrets:
                - get
                - get
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            - permissions:
                certificates:
                - get
                - get
                keys:
                - encrypt
                - encrypt
                storage:
                - get
                - get
                secrets:
                - get
                - get
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            enabledForDiskEncryption: true
            createMode: recover
            enabledForTemplateDeployment: true
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            enableSoftDelete: true
            networkAcls:
              bypass: AzureServices
              defaultAction: Allow
              ipRules:
              - value: value
              - value: value
              virtualNetworkRules:
              - id: id
              - id: id
            sku:
              name: standard
              family: A
            vaultUri: vaultUri
          tags:
            key: tags
        - name: name
          location: location
          id: id
          type: type
          properties:
            enablePurgeProtection: true
            privateEndpointConnections:
            - properties:
                privateLinkServiceConnectionState:
                  actionRequired: actionRequired
                  description: description
                  status: Pending
                privateEndpoint:
                  id: id
                provisioningState: Succeeded
            - properties:
                privateLinkServiceConnectionState:
                  actionRequired: actionRequired
                  description: description
                  status: Pending
                privateEndpoint:
                  id: id
                provisioningState: Succeeded
            enabledForDeployment: true
            accessPolicies:
            - permissions:
                certificates:
                - get
                - get
                keys:
                - encrypt
                - encrypt
                storage:
                - get
                - get
                secrets:
                - get
                - get
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            - permissions:
                certificates:
                - get
                - get
                keys:
                - encrypt
                - encrypt
                storage:
                - get
                - get
                secrets:
                - get
                - get
              tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              objectId: objectId
            enabledForDiskEncryption: true
            createMode: recover
            enabledForTemplateDeployment: true
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            enableSoftDelete: true
            networkAcls:
              bypass: AzureServices
              defaultAction: Allow
              ipRules:
              - value: value
              - value: value
              virtualNetworkRules:
              - id: id
              - id: id
            sku:
              name: standard
              family: A
            vaultUri: vaultUri
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of vaults.
          type: string
        value:
          description: The list of vaults.
          items:
            $ref: '#/components/schemas/Vault'
          type: array
      type: object
    VaultPatchParameters:
      description: Parameters for creating or updating a vault
      example:
        properties:
          enablePurgeProtection: true
          enabledForDeployment: true
          accessPolicies:
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          - permissions:
              certificates:
              - get
              - get
              keys:
              - encrypt
              - encrypt
              storage:
              - get
              - get
              secrets:
              - get
              - get
            tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            applicationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            objectId: objectId
          enabledForDiskEncryption: true
          createMode: recover
          enabledForTemplateDeployment: true
          tenantId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          enableSoftDelete: true
          networkAcls:
            bypass: AzureServices
            defaultAction: Allow
            ipRules:
            - value: value
            - value: value
            virtualNetworkRules:
            - id: id
[...]
