openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2017-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2017-11-01/networkWatcher.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-networkWatcher
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/networkWatchers:
    get:
      description: Gets all network watchers by subscription.
      operationId: network_watchers_list_all
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcherListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcherListResult'
          description: Request successful. The operation returns a list of network
            watcher resources.
      tags:
      - NetworkWatchers
      x-ms-examples:
        List all network watchers:
          parameters:
            api-version: 2017-11-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1
                  location: eastus
                  name: nw1
                  properties:
                    provisioningState: Succeeded
                  type: Microsoft.Network/networkWatchers
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw2
                  location: eastus
                  name: nw2
                  properties:
                    provisioningState: Succeeded
                  type: Microsoft.Network/networkWatchers
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers:
    get:
      description: Gets all network watchers by resource group.
      operationId: network_watchers_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcherListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcherListResult'
          description: Request successful. The operation returns a list of network
            watcher resources.
      tags:
      - NetworkWatchers
      x-ms-examples:
        List network watchers:
          parameters:
            api-version: 2017-11-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1
                  location: eastus
                  name: nw1
                  properties:
                    provisioningState: Succeeded
                  type: Microsoft.Network/networkWatchers
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw2
                  location: eastus
                  name: nw2
                  properties:
                    provisioningState: Succeeded
                  type: Microsoft.Network/networkWatchers
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}
  : delete:
      description: Deletes the specified network watcher resource.
      operationId: network_watchers_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Delete network watcher:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
    get:
      description: Gets the specified network watcher by resource group.
      operationId: network_watchers_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcher'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcher'
          description: Request successful. The operation returns a network watcher
            resource.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Get network watcher:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1
                location: eastus
                name: nw1
                properties:
                  provisioningState: Succeeded
                type: Microsoft.Network/networkWatchers
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
    patch:
      description: Updates a network watcher tags.
      operationId: network_watchers_update_tags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkWatchers_UpdateTags_request'
          text/json:
            schema:
              $ref: '#/components/schemas/NetworkWatchers_UpdateTags_request'
        description: Parameters supplied to update network watcher tags.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcher'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcher'
          description: Update successful. The operation returns the resulting network
            watcher resource.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Update network watcher tags:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1
                location: eastus
                name: nw1
                properties:
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/networkWatchers
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
    put:
      description: Creates or updates a network watcher in the specified resource
        group.
      operationId: network_watchers_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkWatcher'
          text/json:
            schema:
              $ref: '#/components/schemas/NetworkWatcher'
        description: Parameters that define the network watcher resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcher'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcher'
          description: Update successful. The operation returns the resulting network
            watcher resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcher'
            text/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcher'
          description: Create successful. The operation returns the resulting network
            watcher resource.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Create network watcher:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            parameters:
              location: eastus
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1
                location: eastus
                name: nw1
                properties:
                  provisioningState: Succeeded
                type: Microsoft.Network/networkWatchers
            "201":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1
                location: eastus
                name: nw1
                properties:
                  provisioningState: Succeeded
                type: Microsoft.Network/networkWatchers
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/availableProvidersList
  : post:
      description: Lists all available internet service providers for a specified
        Azure region.
      operationId: network_watchers_list_available_providers
      parameters:
      - description: The name of the network watcher resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailableProvidersListParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/AvailableProvidersListParameters'
        description: Parameters that scope the list of available providers.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableProvidersList'
            text/json:
              schema:
                $ref: '#/components/schemas/AvailableProvidersList'
          description: Successful request for list of available providers.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableProvidersList'
            text/json:
              schema:
                $ref: '#/components/schemas/AvailableProvidersList'
          description: Accepted and the operation will complete asynchronously.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Get Azure Reachability Report:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            parameters:
              azureLocations:
              - West US
              city: seattle
              country: United States
              state: washington
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                countries:
                - countryName: United States
                  states:
                  - cities:
                    - cityName: seattle
                      providers:
                      - "Comcast Cable Communications, Inc. - ASN 7922"
                      - "Comcast Cable Communications, LLC - ASN 7922"
                      - "Level 3 Communications, Inc. (GBLX) - ASN 3549"
                      - "Qwest Communications Company, LLC - ASN 209"
                    stateName: washington
            "202":
              body:
                countries:
                - countryName: United States
                  states:
                  - cities:
                    - cityName: seattle
                      providers:
                      - "Comcast Cable Communications, Inc. - ASN 7922"
                      - "Comcast Cable Communications, LLC - ASN 7922"
                      - "Level 3 Communications, Inc. (GBLX) - ASN 3549"
                      - "Qwest Communications Company, LLC - ASN 209"
                    stateName: washington
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/azureReachabilityReport
  : post:
      description: Gets the relative latency score for internet service providers
        from a specified location to Azure regions.
      operationId: network_watchers_get_azure_reachability_report
      parameters:
      - description: The name of the network watcher resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureReachabilityReportParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/AzureReachabilityReportParameters'
        description: Parameters that determine Azure reachability report configuration.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureReachabilityReport'
            text/json:
              schema:
                $ref: '#/components/schemas/AzureReachabilityReport'
          description: Successful request for Azure reachability report.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureReachabilityReport'
            text/json:
              schema:
                $ref: '#/components/schemas/AzureReachabilityReport'
          description: Accepted and the operation will complete asynchronously.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Get Azure Reachability Report:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            parameters:
              azureLocations:
              - West US
              endTime: 2017-09-10T00:00:00Z
              providerLocation:
                country: United States
                state: washington
              providers:
              - "Frontier Communications of America, Inc. - ASN 5650"
              startTime: 2017-09-07T00:00:00Z
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                aggregationLevel: State
                providerLocation:
                  country: United States
                  state: washington
                reachabilityReport:
                - azureLocation: West US
                  latencies:
                  - score: 94
                    timeStamp: 2017-09-07T00:00:00Z
                  - score: 94
                    timeStamp: 2017-09-08T00:00:00Z
                  - score: 94
                    timeStamp: 2017-09-09T00:00:00Z
                  provider: "Frontier Communications of America, Inc. - ASN 5650"
            "202":
              body:
                aggregationLevel: State
                providerLocation:
                  country: United States
                  state: washington
                reachabilityReport:
                - azureLocation: West US
                  latencies:
                  - score: 94
                    timeStamp: 2017-09-07T00:00:00Z
                  - score: 94
                    timeStamp: 2017-09-08T00:00:00Z
                  - score: 94
                    timeStamp: 2017-09-09T00:00:00Z
                  provider: "Frontier Communications of America, Inc. - ASN 5650"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/configureFlowLog
  : post:
      description: Configures flow log on a specified resource.
      operationId: network_watchers_set_flow_log_configuration
      parameters:
      - description: The name of the network watcher resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlowLogInformation'
          text/json:
            schema:
              $ref: '#/components/schemas/FlowLogInformation'
        description: Parameters that define the configuration of flow log.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowLogInformation'
            text/json:
              schema:
                $ref: '#/components/schemas/FlowLogInformation'
          description: Successful request for setting flow log configuration.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowLogInformation'
            text/json:
              schema:
                $ref: '#/components/schemas/FlowLogInformation'
          description: Accepted and the operation will complete asynchronously.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Configure flow log:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            parameters:
              properties:
                enabled: true
                storageId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Storage/storageAccounts/st1
              targetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                properties:
                  enabled: true
                  storageId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Storage/storageAccounts/st1
                targetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
            "202":
              body:
                properties:
                  enabled: true
                  storageId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Storage/storageAccounts/st1
                targetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors
  : get:
      description: Lists all connection monitors for the specified Network Watcher.
      operationId: connection_monitors_list
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorListResult'
          description: Successful connection monitor enumeration request.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        List connection monitors:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                  location: centraluseuap
                  name: cm1
                  properties:
                    autoStart: true
                    destination:
                      address: bing.com
                      port: 80
                    monitoringIntervalInSeconds: 60
                    monitoringStatus: Running
                    provisioningState: Succeeded
                    source:
                      port: 0
                      resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                    startTime: 2018-01-08T03:42:33.3387305Z
                  type: Microsoft.Network/networkWatchers/connectionMonitors
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm2
                  location: centraluseuap
                  name: cm2
                  properties:
                    autoStart: true
                    destination:
                      address: google.com
                      port: 80
                    monitoringIntervalInSeconds: 30
                    monitoringStatus: Running
                    provisioningState: Succeeded
                    source:
                      port: 0
                      resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm2
                    startTime: 2018-01-08T05:42:33.3387305Z
                  type: Microsoft.Network/networkWatchers/connectionMonitors
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}
  : delete:
      description: Deletes the specified connection monitor.
      operationId: connection_monitors_delete
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted. The operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Delete connection monitor:
          parameters:
            api-version: 2017-11-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
    get:
      description: Gets a connection monitor by name.
      operationId: connection_monitors_get
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorResult'
          description: Request successful. The operation returns a connection monitor.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Get connection monitor:
          parameters:
            api-version: 2017-11-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                location: centraluseuap
                name: cm1
                properties:
                  autoStart: true
                  destination:
                    address: bing.com
                    port: 80
                  monitoringIntervalInSeconds: 60
                  monitoringStatus: Running
                  provisioningState: Succeeded
                  source:
                    port: 0
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                  startTime: 2018-01-08T03:42:33.3387305Z
                type: Microsoft.Network/networkWatchers/connectionMonitors
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
    put:
      description: Create or update a connection monitor.
      operationId: connection_monitors_create_or_update
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionMonitor'
          text/json:
            schema:
              $ref: '#/components/schemas/ConnectionMonitor'
        description: Parameters that define the operation to create a connection monitor.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorResult'
          description: Update successful. The operation returns the resulting connection
            monitor resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorResult'
          description: Create successful. The operation returns the resulting connection
            monitor resource.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Create connection monitor:
          parameters:
            api-version: 2017-11-01
            connectionMonitorName: cm1
            location: centraluseuap
            networkWatcherName: nw1
            parameters:
              properties:
                destination:
                  address: bing.com
                  port: 80
                monitoringIntervalInSeconds: 60
                source:
                  resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"e7497f26-5f09-4559-900b-fe98f3dedb6f"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                location: centraluseuap
                name: cm1
                properties:
                  autoStart: true
                  destination:
                    address: bing.com
                    port: 80
                  monitoringIntervalInSeconds: 60
                  monitoringStatus: NotStarted
                  provisioningState: Updating
                  source:
                    port: 0
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                type: Microsoft.Network/networkWatchers/connectionMonitors
            "201":
              body:
                etag: W/"e7497f26-5f09-4559-900b-fe98f3dedb6f"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                location: centraluseuap
                name: cm1
                properties:
                  autoStart: true
                  destination:
                    address: bing.com
                    port: 80
                  monitoringIntervalInSeconds: 60
                  monitoringStatus: NotStarted
                  provisioningState: Updating
                  source:
                    port: 0
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                type: Microsoft.Network/networkWatchers/connectionMonitors
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/query
  : post:
      description: Query a snapshot of the most recent connection states.
      operationId: connection_monitors_query
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name given to the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorQueryResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorQueryResult'
          description: Successful query of connection states.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorQueryResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorQueryResult'
          description: Accepted query of connection states.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Query connection monitor:
          parameters:
            api-version: 2017-11-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                states:
                - connectionState: Reachable
                  endTime: 2018-01-08T05:12:41.5265438Z
                  evaluationState: Completed
                  hops:
                  - address: 10.1.1.4
                    id: 7dbbe7aa-60ba-4650-831e-63d775d38e9e
                    issues: []
                    nextHopIds:
                    - 75c8d819-b208-4584-a311-1aa45ce753f9
                    resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic0/ipConfigurations/ipconfig1
                    type: Source
                  - address: 192.168.100.4
                    id: 75c8d819-b208-4584-a311-1aa45ce753f9
                    issues: []
                    nextHopIds: []
                    resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                    type: VirtualNetwork
                  startTime: 2018-01-08T03:42:33.3387305Z
            "202":
              body:
                states:
                - connectionState: Reachable
                  endTime: 2018-01-08T05:12:41.5265438Z
                  evaluationState: Completed
                  hops:
                  - address: 10.1.1.4
                    id: 7dbbe7aa-60ba-4650-831e-63d775d38e9e
                    issues: []
                    nextHopIds:
                    - 75c8d819-b208-4584-a311-1aa45ce753f9
                    resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic0/ipConfigurations/ipconfig1
                    type: Source
                  - address: 192.168.100.4
                    id: 75c8d819-b208-4584-a311-1aa45ce753f9
                    issues: []
                    nextHopIds: []
                    resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                    type: VirtualNetwork
                  startTime: 2018-01-08T03:42:33.3387305Z
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/start
  : post:
      description: Starts the specified connection monitor.
      operationId: connection_monitors_start
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. The operation starts the connection monitor.
        "202":
          content: {}
          description: Accepted. The operation will complete asynchronously.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Start connection monitor:
          parameters:
            api-version: 2017-11-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/stop
  : post:
      description: Stops the specified connection monitor.
      operationId: connection_monitors_stop
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. The operation stops the connection monitor.
        "202":
          content: {}
          description: Accepted. The operation will complete asynchronously.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Stop connection monitor:
          parameters:
            api-version: 2017-11-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.connection_monitors_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectivityCheck
  : post:
      description: Verifies the possibility of establishing a direct TCP connection
        from a virtual machine to a given endpoint including another VM or an arbitrary
        remote server.
      operationId: network_watchers_check_connectivity
      parameters:
      - description: The name of the network watcher resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectivityParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/ConnectivityParameters'
        description: Parameters that determine how the connectivity check will be
          performed.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectivityInformation'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectivityInformation'
          description: Successful request for checking connectivity.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectivityInformation'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectivityInformation'
          description: Accepted and the operation will complete asynchronously.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Check connectivity:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            parameters:
              destination:
                address: 192.168.100.4
                port: 3389
              source:
                resourceId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                avgLatencyInMs: 1
                connectionStatus: Connected
                hops:
                - address: 10.1.1.4
                  id: 7dbbe7aa-60ba-4650-831e-63d775d38e9e
                  issues: []
                  nextHopIds:
                  - 75c8d819-b208-4584-a311-1aa45ce753f9
                  resourceId: subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkInterfaces/nic0/ipConfigurations/ipconfig1
                  type: Source
                - address: 192.168.100.4
                  id: 75c8d819-b208-4584-a311-1aa45ce753f9
                  issues: []
                  nextHopIds: []
                  resourceId: subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                  type: VirtualNetwork
                maxLatencyInMs: 4
                minLatencyInMs: 1
                probesFailed: 0
                probesSent: 100
            "202":
              body:
                avgLatencyInMs: 1
                connectionStatus: Connected
                hops:
                - address: 10.1.1.4
                  id: 7dbbe7aa-60ba-4650-831e-63d775d38e9e
                  issues: []
                  nextHopIds:
                  - 75c8d819-b208-4584-a311-1aa45ce753f9
                  resourceId: subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkInterfaces/nic0/ipConfigurations/ipconfig1
                  type: Source
                - address: 192.168.100.4
                  id: 75c8d819-b208-4584-a311-1aa45ce753f9
                  issues: []
                  nextHopIds: []
                  resourceId: subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                  type: VirtualNetwork
                maxLatencyInMs: 4
                minLatencyInMs: 1
                probesFailed: 0
                probesSent: 100
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/ipFlowVerify
  : post:
      description: Verify IP flow from the specified VM to a location given the currently
        configured NSG rules.
      operationId: network_watchers_verify_ip_flow
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationIPFlowParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/VerificationIPFlowParameters'
        description: Parameters that define the IP flow to be verified.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationIPFlowResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VerificationIPFlowResult'
          description: Request successful. The operation returns the result of IP
            flow verification.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationIPFlowResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VerificationIPFlowResult'
          description: Accepted and the operation will complete asynchronously.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Ip flow verify:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            parameters:
              direction: Outbound
              localIPAddress: 10.2.0.4
              localPort: "80"
              protocol: TCP
              remoteIPAddress: 121.10.1.1
              remotePort: "80"
              targetResourceId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                access: Allow
                ruleName: Rule1
            "202":
              body:
                access: Allow
                ruleName: Rule1
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/nextHop
  : post:
      description: Gets the next hop from the specified VM.
      operationId: network_watchers_get_next_hop
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NextHopParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/NextHopParameters'
        description: Parameters that define the source and destination endpoint.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NextHopResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NextHopResult'
          description: Request successful. The operation returns the next hop from
            the VM.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NextHopResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NextHopResult'
          description: Accepted and the operation will complete asynchronously.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Get next hop:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            parameters:
              destinationIPAddress: 10.0.0.10
              sourceIPAddress: 10.0.0.5
              targetNicResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic1
              targetResourceId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextHopIpAddress: 10.0.0.1
                nextHopType: VnetLocal
                routeTableId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/routeTables/rt1
            "202":
              body:
                nextHopIpAddress: 10.0.0.1
                nextHopType: VnetLocal
                routeTableId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/routeTables/rt1
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures
  : get:
      description: Lists all packet capture sessions within the specified resource
        group.
      operationId: packet_captures_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureListResult'
          description: Successful packet capture enumeration request.
      tags:
      - PacketCaptures
      x-ms-examples:
        List packet captures:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/packetCaptures/pc1
                  name: pc1
                  properties:
                    bytesToCapturePerPacket: 10000
                    filters:
                    - localIPAddress: 10.0.0.4
                      localPort: "80"
                      protocol: TCP
                    provisioningState: Updating
                    storageLocation:
                      filePath: D:\capture\pc1.cap
                      storageId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Storage/storageAccounts/pcstore
                      storagePath: https://mytestaccountname.blob.core.windows.net/capture/pc1.cap
                    target: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
                    timeLimitInSeconds: 100
                    totalBytesPerSession: 100000
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/packetCaptures/pc2
                  name: pc2
                  properties:
                    bytesToCapturePerPacket: 10000
                    filters: []
                    provisioningState: Succeeded
                    storageLocation:
                      filePath: D:\capture\pc2.cap
                      storageId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Storage/storageAccounts/pcstore
                      storagePath: https://mytestaccountname.blob.core.windows.net/capture/pc2.cap
                    target: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
                    timeLimitInSeconds: 100
                    totalBytesPerSession: 100000
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.packet_captures_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}
  : delete:
      description: Deletes the specified packet capture session.
      operationId: packet_captures_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the packet capture session.
        in: path
        name: packetCaptureName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - PacketCaptures
      x-ms-examples:
        Delete packet capture:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            packetCaptureName: pc1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.packet_captures_controller
    get:
      description: Gets a packet capture session by name.
      operationId: packet_captures_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the packet capture session.
        in: path
        name: packetCaptureName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureResult'
          description: Request successful. The operation returns a packet capture
            session.
      tags:
      - PacketCaptures
      x-ms-examples:
        Get packet capture:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            packetCaptureName: pc1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/packetCaptures/pc1
                name: pc1
                properties:
                  bytesToCapturePerPacket: 10000
                  filters:
                  - localIPAddress: 10.0.0.4
                    localPort: "80"
                    protocol: TCP
                  provisioningState: Updating
                  storageLocation:
                    filePath: D:\capture\pc1.cap
                    storageId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Storage/storageAccounts/pcstore
                    storagePath: https://mytestaccountname.blob.core.windows.net/capture/pc1.cap
                  target: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
                  timeLimitInSeconds: 100
                  totalBytesPerSession: 100000
      x-openapi-router-controller: openapi_server.controllers.packet_captures_controller
    put:
      description: Create and start a packet capture on the specified VM.
      operationId: packet_captures_create
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the packet capture session.
        in: path
        name: packetCaptureName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PacketCapture'
          text/json:
            schema:
              $ref: '#/components/schemas/PacketCapture'
        description: Parameters that define the create packet capture operation.
        required: true
        x-body-name: parameters
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureResult'
          description: Request successful. The operation returns the resulting packet
            capture session.
      tags:
      - PacketCaptures
      x-ms-examples:
        Create packet capture:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            packetCaptureName: pc1
            parameters:
              properties:
                bytesToCapturePerPacket: 10000
                filters:
                - localIPAddress: 10.0.0.4
                  localPort: "80"
                  protocol: TCP
                storageLocation:
                  filePath: D:\capture\pc1.cap
                  storageId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Storage/storageAccounts/pcstore
                  storagePath: https://mytestaccountname.blob.core.windows.net/capture/pc1.cap
                target: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
                timeLimitInSeconds: 100
                totalBytesPerSession: 100000
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "201":
              body:
                etag: W/"a3a2b157-1edc-44c2-a759-f881be9f0069"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/packetCaptures/pc1
                name: pc1
                properties:
                  bytesToCapturePerPacket: 10000
                  filters:
                  - localIPAddress: 10.0.0.4
                    localPort: "80"
                    protocol: TCP
                  provisioningState: Updating
                  storageLocation:
                    filePath: D:\capture\pc1.cap
                    storageId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Storage/storageAccounts/pcstore
                    storagePath: https://mytestaccountname.blob.core.windows.net/capture/pc1.cap
                  target: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
                  timeLimitInSeconds: 100
                  totalBytesPerSession: 100000
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.packet_captures_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}/queryStatus
  : post:
      description: Query the status of a running packet capture session.
      operationId: packet_captures_get_status
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name given to the packet capture session.
        in: path
        name: packetCaptureName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureQueryStatusResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureQueryStatusResult'
          description: Successful query of packet capture status.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureQueryStatusResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureQueryStatusResult'
          description: Accepted query status of packet capture.
      tags:
      - PacketCaptures
      x-ms-examples:
        Query packet capture status:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            packetCaptureName: pc1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                captureStartTime: 2016-01-08T03:42:33.3387305Z
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/packetCaptures/pc1
                name: pc1
                packetCaptureError: []
                packetCaptureStatus: Stopped
                stopReason: TimeExceeded
            "202":
              body:
                captureStartTime: 2016-01-08T03:42:33.3387305Z
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/packetCaptures/pc1
                name: pc1
                packetCaptureError: []
                packetCaptureStatus: Stopped
                stopReason: TimeExceeded
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.packet_captures_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}/stop
  : post:
      description: Stops a specified packet capture session.
      operationId: packet_captures_stop
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the packet capture session.
        in: path
        name: packetCaptureName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. The operation stops the packet capture
            session.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - PacketCaptures
      x-ms-examples:
        Stop packet capture:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            packetCaptureName: pc1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.packet_captures_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/queryFlowLogStatus
  : post:
      description: Queries status of flow log on a specified resource.
      operationId: network_watchers_get_flow_log_status
      parameters:
      - description: The name of the network watcher resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlowLogStatusParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/FlowLogStatusParameters'
        description: Parameters that define a resource to query flow log status.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowLogInformation'
            text/json:
              schema:
                $ref: '#/components/schemas/FlowLogInformation'
          description: Successful request for query flow log status.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowLogInformation'
            text/json:
              schema:
                $ref: '#/components/schemas/FlowLogInformation'
          description: Accepted and the operation will complete asynchronously.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Get flow log status:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            parameters:
              targetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                properties:
                  enabled: true
                  storageId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Storage/storageAccounts/st1
                targetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
            "202":
              body:
                properties:
                  enabled: true
                  storageId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Storage/storageAccounts/st1
                targetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/queryTroubleshootResult
  : post:
      description: Get the last completed troubleshooting result on a specified resource
      operationId: network_watchers_get_troubleshooting_result
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryTroubleshootingParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/QueryTroubleshootingParameters'
        description: Parameters that define the resource to query the troubleshooting
          result.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TroubleshootingResult'
            text/json:
              schema:
                $ref: '#/components/schemas/TroubleshootingResult'
          description: Successful get troubleshooting result request
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TroubleshootingResult'
            text/json:
              schema:
                $ref: '#/components/schemas/TroubleshootingResult'
          description: Accepted get troubleshooting result request.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Get troubleshoot result:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            parameters:
              targetResourceId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                code: UnHealthy
                endTime: 2017-01-12T00:20:09.914Z
                results:
                - detail: During this time S2S VPN tunnels to on premises sites or
                    other Azure virtual networks will be disconnected
                  id: "000000"
                  reasonType: VipUnResponsive
                  recommendedActions:
                  - actionText: Verify if there is a network security group (NSG)
                      applied to the GatewaySubnet
                    actionUri: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-create-nsg-arm-pportal
                    actionUriText: Verify
                  - actionText: "If your VPN gateway isn't up and running by the expected\
                      \ resolution time, contact support"
                    actionUri: http://azure.microsoft.com/support
                    actionUriText: contact support
                  summary: "We are sorry, your VPN gateway is unreachable from the\
                    \ Internet"
                startTime: 2017-01-12T00:19:47.0442834Z
            "202":
              body:
                code: UnHealthy
                endTime: 2017-01-12T00:20:09.914Z
                results:
                - detail: During this time S2S VPN tunnels to on premises sites or
                    other Azure virtual networks will be disconnected
                  id: "000000"
                  reasonType: VipUnResponsive
                  recommendedActions:
                  - actionText: Verify if there is a network security group (NSG)
                      applied to the GatewaySubnet
                    actionUri: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-create-nsg-arm-pportal
                    actionUriText: Verify
                  - actionText: "If your VPN gateway isn't up and running by the expected\
                      \ resolution time, contact support"
                    actionUri: http://azure.microsoft.com/support
                    actionUriText: contact support
                  summary: "We are sorry, your VPN gateway is unreachable from the\
                    \ Internet"
                startTime: 2017-01-12T00:19:47.0442834Z
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/securityGroupView
  : post:
      description: Gets the configured and effective security group rules on the specified
        VM.
      operationId: network_watchers_get_vm_security_rules
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityGroupViewParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/SecurityGroupViewParameters'
        description: Parameters that define the VM to check security groups for.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroupViewResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityGroupViewResult'
          description: Request successful. The operation returns security group rules
            on the VM.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroupViewResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityGroupViewResult'
          description: Accepted and the operation will complete asynchronously.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Get security group view:
          parameters:
            api-version: 2017-11-01
            networkWatcherName: nw1
            parameters:
              targetResourceId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                networkInterfaces:
                - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkInterfaces/nic1
                  securityRuleAssociations:
                    defaultSecurityRules:
                    - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/
                      name: AllowVnetInBound
                      properties:
                        access: Allow
                        description: Allow inbound traffic from all VMs in VNET
                        destinationAddressPrefix: VirtualNetwork
                        destinationPortRange: '*'
                        direction: Inbound
                        priority: 65000
                        protocol: '*'
                        provisioningState: Succeeded
                        sourceAddressPrefix: VirtualNetwork
                        sourcePortRange: '*'
                    effectiveSecurityRules:
                    - access: Deny
                      destinationAddressPrefix: '*'
                      destinationPortRange: 0-65535
                      direction: Outbound
                      name: DefaultOutboundDenyAll
                      priority: 65500
                      protocol: All
                      sourceAddressPrefix: '*'
                      sourcePortRange: 0-65535
                    networkInterfaceAssociation:
                      id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkInterfaces/nic1
                      securityRules:
                      - etag: W/"00000000-0000-0000-0000-000000000000"
                        id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/nsg1/securityRules/default-allow-rdp
                        name: default-allow-rdp
                        properties:
                          access: Allow
                          destinationAddressPrefix: '*'
                          destinationAddressPrefixes: []
                          destinationPortRange: "3389"
                          destinationPortRanges: []
                          direction: Inbound
                          priority: 1000
                          protocol: Tcp
                          provisioningState: Succeeded
                          sourceAddressPrefix: '*'
                          sourceAddressPrefixes: []
                          sourcePortRange: '*'
                          sourcePortRanges: []
                    subnetAssociation:
                      id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                      securityRules:
                      - etag: W/"00000000-0000-0000-0000-000000000000"
                        id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/AppNSG/securityRules/fe_rule
                        name: fe_rule
                        properties:
                          access: Allow
                          description: Allow Frontend
                          destinationAddressPrefix: '*'
                          destinationPortRange: '*'
                          direction: Inbound
                          priority: 100
                          protocol: Tcp
                          provisioningState: Succeeded
                          sourceAddressPrefix: 10.1.0.0/24
                          sourcePortRange: '*'
            "202":
              body:
                networkInterfaces:
                - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkInterfaces/nic1
                  securityRuleAssociations:
                    defaultSecurityRules:
                    - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/
                      name: AllowVnetInBound
                      properties:
                        access: Allow
                        description: Allow inbound traffic from all VMs in VNET
                        destinationAddressPrefix: VirtualNetwork
                        destinationPortRange: '*'
                        direction: Inbound
                        priority: 65000
                        protocol: '*'
                        provisioningState: Succeeded
                        sourceAddressPrefix: VirtualNetwork
                        sourcePortRange: '*'
                    effectiveSecurityRules:
                    - access: Deny
                      destinationAddressPrefix: '*'
                      destinationPortRange: 0-65535
                      direction: Outbound
                      name: DefaultOutboundDenyAll
                      priority: 65500
                      protocol: All
                      sourceAddressPrefix: '*'
                      sourcePortRange: 0-65535
                    networkInterfaceAssociation:
                      id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkInterfaces/nic1
                      securityRules:
                      - etag: W/"00000000-0000-0000-0000-000000000000"
                        id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/nsg1/securityRules/default-allow-rdp
                        name: default-allow-rdp
                        properties:
                          access: Allow
                          destinationAddressPrefix: '*'
                          destinationAddressPrefixes: []
                          destinationPortRange: "3389"
                          destinationPortRanges: []
                          direction: Inbound
                          priority: 1000
                          protocol: Tcp
                          provisioningState: Succeeded
                          sourceAddressPrefix: '*'
                          sourceAddressPrefixes: []
                          sourcePortRange: '*'
                          sourcePortRanges: []
                    subnetAssociation:
                      id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                      securityRules:
                      - etag: W/"00000000-0000-0000-0000-000000000000"
                        id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/AppNSG/securityRules/fe_rule
                        name: fe_rule
                        properties:
                          access: Allow
                          description: Allow Frontend
                          destinationAddressPrefix: '*'
                          destinationPortRange: '*'
                          direction: Inbound
                          priority: 100
                          protocol: Tcp
                          provisioningState: Succeeded
                          sourceAddressPrefix: 10.1.0.0/24
                          sourcePortRange: '*'
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.network_watchers_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/topology
  : post:
      description: Gets the current network topology by resource group.
      operationId: network_watchers_get_topology
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopologyParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/TopologyParameters'
        description: Parameters that define the representation of topology.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Topology'
            text/json:
              schema:
                $ref: '#/components/schemas/Topology'
          description: Request successful. The operation returns the topology of resource
            group.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Get Topology:
[...]
