openapi: 3.0.1
info:
  title: RecoveryServicesBackupClient
  version: 2016-12-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-12-01/bms.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: recoveryservicesbackup-bms
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupEngines
  : get:
      description: Backup management servers registered to Recovery Services Vault.
        Returns a pageable list of servers.
      operationId: backup_engines_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupEngineBaseResourceList'
          description: OK
      tags:
      - BackupEngines
      x-ms-examples:
        List Dpm/AzureBackupServer/Lajolla Backup Engines:
          parameters:
            api-version: 2016-12-01
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            "200":
              body:
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.RecoveryServices/vaults/testVault/backupEngines/testServer1
                  name: testServer1
                  properties:
                    azureBackupAgentVersion: 2.0.9532.0
                    backupEngineState: Active
                    backupEngineType: DpmBackupEngine
                    dpmVersion: 5.1.348.0
                    extendedInfo:
                      availableDiskSpace: 50
                      diskCount: 5
                      protectedItemsCount: 35
                      protectedServersCount: 21
                      usedDiskSpace: 20
                    friendlyName: testServer1
                    isAzureBackupAgentUpgradeAvailable: false
                    isDpmUpgradeAvailable: false
                    registrationStatus: Registered
                  type: Microsoft.RecoveryServices/vaults/backupEngines
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.RecoveryServices/vaults/testVault/backupEngines/testServer5
                  name: testServer5
                  properties:
                    azureBackupAgentVersion: 2.0.9530.0
                    backupEngineState: Active
                    backupEngineType: DpmBackupEngine
                    dpmVersion: 5.1.348.0
                    extendedInfo:
                      availableDiskSpace: 50
                      diskCount: 5
                      protectedItemsCount: 35
                      protectedServersCount: 21
                      usedDiskSpace: 20
                    friendlyName: testServer5
                    isAzureBackupAgentUpgradeAvailable: false
                    isDpmUpgradeAvailable: false
                    registrationStatus: Registered
                  type: Microsoft.RecoveryServices/vaults/backupEngines
      x-ms-odata: '#/definitions/BMSBackupEnginesQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.backup_engines_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupEngines/{backupEngineName}
  : get:
      description: Returns backup management server registered to Recovery Services
        Vault.
      operationId: backup_engines_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the backup management server.
        in: path
        name: backupEngineName
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupEngineBaseResource'
          description: OK
      tags:
      - BackupEngines
      x-ms-examples:
        Get Dpm/AzureBackupServer/Lajolla Backup Engine Details:
          parameters:
            api-version: 2016-12-01
            backupEngineName: testServer
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.RecoveryServices/vaults/testVault/backupEngines/testServer
                name: testServer
                properties:
                  azureBackupAgentVersion: 2.0.9532.0
                  backupEngineState: Active
                  backupEngineType: DpmBackupEngine
                  dpmVersion: 5.1.348.0
                  extendedInfo:
                    availableDiskSpace: 50
                    diskCount: 5
                    protectedItemsCount: 35
                    protectedServersCount: 21
                    usedDiskSpace: 20
                  friendlyName: testServer
                  isAzureBackupAgentUpgradeAvailable: false
                  isDpmUpgradeAvailable: false
                  registrationStatus: Registered
                type: Microsoft.RecoveryServices/vaults/backupEngines
      x-ms-odata: '#/definitions/BMSBackupEngineQueryObject'
      x-openapi-router-controller: openapi_server.controllers.backup_engines_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/operationResults/{operationId}
  : get:
      description: Provides the result of the refresh operation triggered by the BeginRefresh
        operation.
      operationId: protection_container_refresh_operation_results_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the container.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Operation ID associated with the operation whose result needs
          to be fetched.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
      tags:
      - ProtectionContainerRefreshOperationResults
      x-ms-examples:
        Azure Vm Discovery Operation Result:
          parameters:
            api-version: 2016-12-01
            fabricName: Azure
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "202":
              headers:
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.protection_container_refresh_operation_results_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectableContainers
  : get:
      description: Lists the containers that can be registered to Recovery Services
        Vault.
      operationId: protectable_containers_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectableContainerResourceList'
          description: OK
      tags:
      - ProtectableContainers
      x-ms-examples:
        List protectable items with backupManagementType filter as AzureStorage:
          parameters:
            $filter: backupManagementType eq 'AzureStorage' and workloadType eq 'AzureFileShare'
            api-version: 2017-07-01
            fabricName: Azure
            resourceGroupName: testRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testvault
          responses:
            "200":
              body:
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectableContainers/StorageContainer;storage;test-rg;teststorage
                  name: StorageContainer;storage;test-rg;testst
                  properties:
                    backupManagementType: AzureStorage
                    containerId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.Storage/storageAccounts/teststorage
                    friendlyName: teststorage
                    healthStatus: Healthy
                    protectableContainerType: StorageContainer
                  type: Microsoft.RecoveryServices/vaults/backupFabrics/protectableContainers
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectableContainers/StorageContainer;ClassicStorage;test-rg;teststorage
                  name: StorageContainer;ClassicStorage;test-rg;teststorage
                  properties:
                    backupManagementType: AzureStorage
                    containerId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.ClassicStorage/storageAccounts/teststorage
                    friendlyName: teststorage
                    healthStatus: Healthy
                    protectableContainerType: StorageContainer
                  type: Microsoft.RecoveryServices/vaults/backupFabrics/protectableContainers
      x-ms-odata: '#/definitions/BMSContainerQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.protectable_containers_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}
  : delete:
      description: "Unregisters the given container from your Recovery Services Vault.\
        \ This is an asynchronous operation. To determine\r\nwhether the backend service\
        \ has finished processing the request, call Get Container Operation Result\
        \ API."
      operationId: protection_containers_unregister
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the fabric where the container belongs.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Name of the container which needs to be unregistered from the
          Recovery Services Vault.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
      tags:
      - ProtectionContainers
      x-ms-examples:
        Unregister Protection Container:
          parameters:
            api-version: 2016-12-01
            containerName: storagecontainer;Storage;test-rg;teststorage
            fabricName: Azure
            resourceGroupName: testRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectionContainers/storagecontainer;Storage;test-rg;teststorage/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectionContainers/storagecontainer;Storage;test-rg;teststorage/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.protection_containers_controller
    get:
      description: Gets details of the specific container registered to your Recovery
        Services Vault.
      operationId: protection_containers_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of the fabric where the container belongs.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Name of the container whose details need to be fetched.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionContainerResource'
          description: OK
      tags:
      - ProtectionContainers
      x-ms-examples:
        Get Protection Container Details:
          parameters:
            $filter: backupManagementType eq 'AzureWorkload'
            api-version: 2016-12-01
            containerName: VMAppContainer;Compute;testRG;testSQL
            fabricName: Azure
            resourceGroupName: testRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;testRG;testSQL
                name: VMAppContainer;Compute;testRG;testSQL
                properties:
                  backupManagementType: AzureWorkload
                  containerType: VMAppContainer
                  extendedInfo:
                    hostServerName: testsql
                    inquiryInfo:
                      errorDetail:
                        code: Success
                        message: Not Available
                        recommendations:
                        - Not Available
                      inquiryDetails:
                      - inquiryValidation:
                          errorDetail:
                            code: Success
                            message: Not Available
                            recommendations:
                            - Not Available
                          status: Success
                        itemCount: 14
                        type: sql
                      status: Success
                    nodesList: []
                  friendlyName: testSQL
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Compute/virtualMachines/testSQL
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers
      x-openapi-router-controller: openapi_server.controllers.protection_containers_controller
    put:
      description: "Registers the container with Recovery Services vault.\r\nThis\
        \ is an asynchronous operation. To track the operation status, use location\
        \ header to call get latest status of\r\nthe operation."
      operationId: protection_containers_register
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the container.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Name of the container to be registered.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtectionContainerResource'
        description: Request body for operation
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionContainerResource'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - ProtectionContainers
      x-ms-examples:
        RegisterAzure Storage ProtectionContainers:
          parameters:
            api-version: 2017-07-01
            containerName: VMAppContainer;Compute;testRG;testSQL
            fabricName: Azure
            parameters:
              properties:
                backupManagementType: AzureWorkload
                containerType: VMAppContainer
                friendlyName: testSQL
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Compute/virtualMachines/testSQL
            resourceGroupName: test-rg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testvault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;testRG;testSQL
                name: VMAppContainer;Compute;testRG;testSQL
                properties:
                  backupManagementType: AzureWorkload
                  containerType: VMAppContainer
                  extendedInfo:
                    hostServerName: testsql
                    inquiryInfo:
                      errorDetail:
                        code: Success
                        message: Not Available
                        recommendations:
                        - Not Available
                      inquiryDetails:
                      - inquiryValidation:
                          errorDetail:
                            code: Success
                            message: Not Available
                            recommendations:
                            - Not Available
                          status: Success
                        itemCount: 14
                        type: sql
                      status: Success
                    nodesList: []
                  friendlyName: testSQL
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Compute/virtualMachines/testSQL
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;testRG;testSQL/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;testRG;testSQL/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.protection_containers_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/inquire
  : post:
      description: This is an async operation and the results should be tracked using
        location header or Azure-async-url.
      operationId: protection_containers_inquire
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric Name associated with the container.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Name of the container in which inquiry needs to be triggered.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
      summary: Inquires all the protectable items under the given container.
      tags:
      - ProtectionContainers
      x-ms-examples:
        Inquire Azure Storage Protection Containers:
          parameters:
            api-version: 2017-07-01
            containerName: storagecontainer;Storage;test-rg;teststorage
            fabricName: Azure
            resourceGroupName: test-rg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testvault
          responses:
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectionContainers/storagecontainer;Storage;test-rg;teststorage/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectionContainers/storagecontainer;Storage;test-rg;teststorage/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
      x-ms-odata: '#/definitions/BMSContainersInquiryQueryObject'
      x-openapi-router-controller: openapi_server.controllers.protection_containers_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/items
  : get:
      description: "Provides a pageable list of workload item of a specific container\
        \ according to the query filter and the pagination\r\nparameters."
      operationId: backup_workload_items_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the container.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Name of the container.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadItemResourceList'
          description: OK
      tags:
      - BackupWorkloadItems
      x-ms-examples:
        List Workload Items in Container:
          parameters:
            $filter: backupManagementType eq 'AzureWorkload'
            api-version: 2016-12-01
            containerName: VMAppContainer;Compute;bvtdtestag;sqlserver-1
            fabricName: Azure
            resourceGroupName: testRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: suchandr-seacan-rsv
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/testRg/providers/Microsoft.RecoveryServices/vaults/suchandr-seacan-rsv/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;bvtdtestag;sqlserver-1/protectableItems/SQLInstance;MSSQLSERVER
                  name: SQLInstance;MSSQLSERVER
                  properties:
                    backupManagementType: AzureWorkload
                    dataDirectoryPaths:
                    - path: F:\DATA\
                      type: Data
                    - path: F:\LOG\
                      type: Log
                    friendlyName: MSSQLSERVER
                    isAutoProtectable: true
                    parentName: MSSQLSERVER
                    protectionState: NotProtected
                    serverName: sqlserver-1.contoso.com
                    subWorkloadItemCount: 3
                    subinquireditemcount: 0
                    workloadItemType: SQLInstance
                    workloadType: SQL
                  type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/items
      x-ms-odata: '#/definitions/BMSWorkloadItemQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.backup_workload_items_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/operationResults/{operationId}
  : get:
      description: Fetches the result of any operation on the container.
      operationId: protection_container_operation_results_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the container.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Container name whose information should be fetched.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: Operation ID which represents the operation whose result needs
          to be fetched.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionContainerResource'
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
      tags:
      - ProtectionContainerOperationResults
      x-ms-examples:
        Get Azure Storage Protection Container Operation Result:
          parameters:
            api-version: 2017-07-01
            containerName: VMAppContainer;Compute;testRG;testSQL
            fabricName: Azure
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: test-rg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testvault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;testRG;testSQL
                name: VMAppContainer;Compute;testRG;testSQL
                properties:
                  backupManagementType: AzureWorkload
                  containerType: VMAppContainer
                  extendedInfo:
                    hostServerName: testsql
                    inquiryInfo:
                      errorDetail:
                        code: Success
                        message: Not Available
                        recommendations:
                        - Not Available
                      inquiryDetails:
                      - inquiryValidation:
                          errorDetail:
                            code: Success
                            message: Not Available
                            recommendations:
                            - Not Available
                          status: Success
                        itemCount: 14
                        type: sql
                      status: Success
                    nodesList: []
                  friendlyName: testSQL
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Compute/virtualMachines/testSQL
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;testRG;testSQL/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test-rg/providers/Microsoft.RecoveryServices/vaults/testvault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;testRG;testSQL/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.protection_container_operation_results_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/backup
  : post:
      description: "Triggers backup for specified backed up item. This is an asynchronous\
        \ operation. To know the status of the\r\noperation, call GetProtectedItemOperationResult\
        \ API."
      operationId: backups_trigger
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the backup item.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Container name associated with the backup item.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: Backup item for which backup needs to be triggered.
        in: path
        name: protectedItemName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequestResource'
        description: resource backup request
        required: true
        x-body-name: parameters
      responses:
        "202":
          content: {}
          description: Accepted
      tags:
      - Backups
      x-ms-examples:
        Trigger Backup:
          parameters:
            api-version: 2016-12-01
            containerName: IaasVMContainer;iaasvmcontainerv2;testrg;v1win2012r
            fabricName: Azure
            parameters:
              properties:
                objectType: IaasVMBackupRequest
            protectedItemName: VM;iaasvmcontainerv2;testrg;v1win2012r
            resourceGroupName: linuxRsVaultRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: linuxRsVault
          responses:
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/linuxRsVaultRG/providers/Microsoft.RecoveryServices/vaults/linuxRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainer;testrg;v1win2012r/protectedItems/VM;iaasvmcontainer;testrg;v1win2012r/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/linuxRsVaultRG/providers/Microsoft.RecoveryServices/vaults/linuxRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainer;testrg;v1win2012r/protectedItems/VM;iaasvmcontainer;testrg;v1win2012r/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.backups_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationsStatus/{operationId}
  : get:
      description: "Fetches the status of an operation such as triggering a backup,\
        \ restore. The status can be in progress, completed\r\nor failed. You can\
        \ refer to the OperationStatus enum for all the possible states of the operation.\
        \ Some operations\r\ncreate jobs. This method returns the list of jobs associated\
        \ with the operation."
      operationId: protected_item_operation_statuses_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the backup item.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Container name associated with the backup item.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: Backup item name whose details are to be fetched.
        in: path
        name: protectedItemName
        required: true
        schema:
          type: string
      - description: OperationID represents the operation whose status needs to be
          fetched.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: OK
      tags:
      - ProtectedItemOperationStatuses
      x-ms-examples:
        Get Operation Status of Protected Vm:
          parameters:
            api-version: 2016-12-01
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            operationId: 00000000-0000-0000-0000-000000000000
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                endTime: 2017-10-29T06:04:18.207325Z
                id: 00000000-0000-0000-0000-000000000000
                name: 00000000-0000-0000-0000-000000000000
                properties:
                  jobId: 00000000-0000-0000-0000-000000000000
                  objectType: OperationStatusJobExtendedInfo
                startTime: 2017-10-29T06:04:18.207325Z
                status: Succeeded
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.protected_item_operation_statuses_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/provisionInstantItemRecovery
  : post:
      description: "Provisions a script which invokes an iSCSI connection to the backup\
        \ data. Executing this script opens a file\r\nexplorer displaying all the\
        \ recoverable files and folders. This is an asynchronous operation. To know\
        \ the status of\r\nprovisioning, call GetProtectedItemOperationResult API."
      operationId: item_level_recovery_connections_provision
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the backed up items.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Container name associated with the backed up items.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: Backed up item name whose files/folders are to be restored.
        in: path
        name: protectedItemName
        required: true
        schema:
          type: string
      - description: "Recovery point ID which represents backed up data. iSCSI connection\
          \ will be provisioned\r\nfor this backed up data."
        in: path
        name: recoveryPointId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ILRRequestResource'
        description: resource ILR request
        required: true
        x-body-name: parameters
      responses:
        "202":
          content: {}
          description: Accepted
      tags:
      - ItemLevelRecoveryConnections
      x-ms-examples:
        Provision Instant Item Level Recovery for Azure Vm:
          parameters:
            api-version: 2016-12-01
            containerName: iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1
            fabricName: Azure
            parameters:
              properties:
                initiatorName: Hello World
                objectType: IaasVMILRRegistrationRequest
                recoveryPointId: "38823086363464"
                renewExistingRegistration: true
                virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pysdktestrg/providers/Microsoft.Compute/virtualMachines/pysdktestv2vm1
            protectedItemName: vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1
            recoveryPointId: "1"
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/protectedItems/vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/protectedItems/vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.item_level_recovery_connections_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/revokeInstantItemRecovery
  : post:
      description: "Revokes an iSCSI connection which can be used to download a script.\
        \ Executing this script opens a file explorer\r\ndisplaying all recoverable\
        \ files and folders. This is an asynchronous operation."
      operationId: item_level_recovery_connections_revoke
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the backed up items.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Container name associated with the backed up items.
        in: path
        name: containerName
        required: true
        schema:
          type: string
      - description: Backed up item name whose files/folders are to be restored.
        in: path
        name: protectedItemName
        required: true
        schema:
          type: string
      - description: "Recovery point ID which represents backed up data. iSCSI connection\
          \ will be revoked for\r\nthis backed up data."
        in: path
        name: recoveryPointId
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
      tags:
      - ItemLevelRecoveryConnections
      x-ms-examples:
        Revoke Instant Item Level Recovery for Azure Vm:
          parameters:
            api-version: 2016-12-01
            containerName: iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1
            fabricName: Azure
            protectedItemName: vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1
            recoveryPointId: "1"
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/protectedItems/vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/protectedItems/vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
      x-openapi-router-controller: openapi_server.controllers.item_level_recovery_connections_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/refreshContainers
  : post:
      description: "Discovers all the containers in the subscription that can be backed\
        \ up to Recovery Services Vault. This is an\r\nasynchronous operation. To\
        \ know the status of the operation, call GetRefreshOperationResult API."
      operationId: protection_containers_refresh
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated the container.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
      tags:
      - ProtectionContainers
      x-ms-examples:
        Trigger Azure Vm Discovery:
          parameters:
            api-version: 2016-12-01
            fabricName: Azure
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "202":
              headers:
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
      x-ms-odata: '#/definitions/BMSRefreshContainersQueryObject'
      x-openapi-router-controller: openapi_server.controllers.protection_containers_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupOperationResults/{operationId}
  : get:
      description: "Provides the status of the delete operations such as deleting\
        \ backed up item. Once the operation has started, the\r\nstatus code in the\
        \ response would be Accepted. It will continue to be in this state till it\
        \ reaches completion. On\r\nsuccessful completion, the status code will be\
        \ OK. This method expects OperationID as an argument. OperationID is\r\npart\
        \ of the Location header of the operation response."
      operationId: backup_operation_results_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: OperationID which represents the operation.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: NoContent
      tags:
      - BackupOperationResults
      x-ms-examples:
        Get Result for Protected Item Delete Operation:
          parameters:
            api-version: 2016-12-01
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            "200": {}
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupOperations/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupOperationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.backup_operation_results_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupOperations/{operationId}
  : get:
      description: "Fetches the status of an operation such as triggering a backup,\
        \ restore. The status can be in progress, completed\r\nor failed. You can\
        \ refer to the OperationStatus enum for all the possible states of an operation.\
        \ Some operations\r\ncreate jobs. This method returns the list of jobs when\
        \ the operation is complete."
      operationId: backup_operation_statuses_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: OperationID which represents the operation.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: OK
      tags:
      - BackupOperationStatuses
      x-ms-examples:
        Get Protected Item Delete Operation Status:
          parameters:
            api-version: 2016-12-01
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            "200":
              body:
                endTime: 0001-01-01T00:00:00.00000Z
                id: 00000000-0000-0000-0000-000000000000
                name: 00000000-0000-0000-0000-000000000000
                startTime: 2017-08-03T06:52:53.886027Z
                status: InProgress
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.backup_operation_statuses_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}
  : delete:
      description: "Deletes specified backup policy from your Recovery Services Vault.\
        \ This is an asynchronous operation. Status of the\r\noperation can be fetched\
        \ using GetPolicyOperationResult API."
      operationId: protection_policies_delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Backup policy to be deleted.
        in: path
        name: policyName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
      tags:
      - ProtectionPolicies
      x-ms-examples:
        Delete Azure Vm Protection Policy:
          parameters:
            api-version: 2016-06-01
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.protection_policies_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operations/{operationId}
  : get:
      description: "Provides the status of the asynchronous operations like backup,\
        \ restore. The status can be in progress, completed\r\nor failed. You can\
        \ refer to the Operation Status enum for all the possible states of an operation.\
        \ Some operations\r\ncreate jobs. This method returns the list of jobs associated\
        \ with operation."
      operationId: protection_policy_operation_statuses_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Backup policy name whose operation's status needs to be fetched.
        in: path
        name: policyName
        required: true
        schema:
          type: string
      - description: Operation ID which represents an operation whose status needs
          to be fetched.
        in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
          description: OK
      tags:
      - ProtectionPolicyOperationStatuses
      x-ms-examples:
        Get Protection Policy Operation Status:
          parameters:
            api-version: 2016-06-01
            operationId: 00000000-0000-0000-0000-000000000000
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                endTime: 2018-01-24T12:57:32.1142968Z
                id: 00000000-0000-0000-0000-000000000000
                name: GetProtectionPolicyOperationStatus
                properties:
                  failedJobsError: {}
                  jobIds:
                  - 00000000-0000-0000-0000-000000000000
                  objectType: OperationStatusJobsExtendedInfo
                startTime: 2018-01-24T12:57:32.1142968Z
                status: Succeeded
      x-openapi-router-controller: openapi_server.controllers.protection_policy_operation_statuses_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectableItems
  : get:
      description: "Provides a pageable list of protectable objects within your subscription\
        \ according to the query filter and the\r\npagination parameters."
      operationId: backup_protectable_items_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadProtectableItemResourceList'
          description: OK
      tags:
      - BackupProtectableItems
      x-ms-examples:
        List protectable items with backupManagementType filter as AzureIaasVm:
          parameters:
            $filter: backupManagementType eq 'AzureIaasVM'
            api-version: 2016-06-01
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                value:
                - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/protectionContainers/IaasVMContainer;iaasvmcontainer;iaasvm-rg;iaasvm-1/protectableItems/VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                  name: VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                  properties:
                    backupManagementType: AzureIaasVM
                    friendlyName: iaasvm-1
                    protectableItemType: Microsoft.ClassicCompute/virtualMachines
                    protectionState: NotProtected
                    virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.ClassicCompute/virtualMachines/iaasvm-1
                    workloadType: VM
                  type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems
      x-ms-odata: '#/definitions/BMSPOQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.backup_protectable_items_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectionContainers
  : get:
      description: Lists the containers registered to Recovery Services Vault.
      operationId: backup_protection_containers_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionContainerResourceList'
          description: OK
      tags:
      - BackupProtectionContainers
      x-ms-examples:
        List Backup Protection Containers:
          parameters:
            $filter: backupManagementType eq 'AzureWorkload'
            api-version: 2016-12-01
            fabricName: Azure
            resourceGroupName: testRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/172424a4-d65f-421e-a8de-197d98aabeba/resourcegroups/testrg/providers/microsoft.recoveryservices/vaults/suchandr-test-vault-wcus/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;testrg;suchandrtestsa125
                  name: StorageContainer;Storage;testrg;suchandrtestsa125
                  properties:
                    backupManagementType: AzureStorage
                    containerType: StorageContainer
                    friendlyName: suchandrtestsa125
                    healthStatus: Healthy
                    protectedItemCount: 2
                    registrationStatus: Registered
                    sourceResourceId: /subscriptions/172424a4-d65f-421e-a8de-197d98aabeba/resourceGroups/testrg/providers/Microsoft.Storage/storageAccounts/suchandrtestsa125
                  type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers
      x-ms-odata: '#/definitions/BMSContainerQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.backup_protection_containers_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupSecurityPIN
  : post:
      description: Get the security PIN.
      operationId: security_pins_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenInformation'
          description: OK
      tags:
      - SecurityPINs
      x-ms-examples:
        Get Vault Security Pin:
          parameters:
            api-version: 2016-12-01
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: SwaggerTest
          responses:
            "200":
              body:
                expiryTimeInUtcTicks: 636495150137443100
                securityPIN: "200432"
                token: "200432"
      x-openapi-router-controller: openapi_server.controllers.security_pins_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig
  : get:
      description: Fetches resource storage config.
      operationId: backup_resource_storage_configs_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResourceConfigResource'
          description: OK
      tags:
      - BackupResourceStorageConfigs
      x-ms-examples:
        Get Vault Storage Configuration:
          parameters:
            api-version: 2016-12-01
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupstorageconfig/vaultstorageconfig
                name: vaultstorageconfig
                properties:
                  storageModelType: GeoRedundant
                  storageType: GeoRedundant
                  storageTypeState: Locked
                type: Microsoft.RecoveryServices/vaults/backupstorageconfig
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.backup_resource_storage_configs_controller
    patch:
      description: Updates vault storage model type.
      operationId: backup_resource_storage_configs_patch
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupResourceConfigResource'
        description: Vault storage config request
        required: true
        x-body-name: parameters
      responses:
        "204":
          content: {}
          description: NoContent
      tags:
      - BackupResourceStorageConfigs
      x-ms-examples:
        Update Vault Storage Configuration:
          parameters:
            api-version: 2016-12-01
            parameters:
              properties:
                storageType: LocallyRedundant
                storageTypeState: Unlocked
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.backup_resource_storage_configs_controller
    put:
      description: Updates vault storage model type.
      operationId: backup_resource_storage_configs_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupResourceConfigResource'
        description: Vault storage config request
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResourceConfigResource'
          description: OK
      tags:
      - BackupResourceStorageConfigs
      x-ms-examples:
        Update Vault Storage Configuration:
          parameters:
            api-version: 2016-12-01
            parameters:
              properties:
                storageType: LocallyRedundant
                storageTypeState: Unlocked
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupstorageconfig/vaultstorageconfig
                name: vaultstorageconfig
                properties:
                  storageModelType: LocallyRedundant
                  storageType: LocallyRedundant
                  storageTypeState: Unlocked
                type: Microsoft.RecoveryServices/vaults/backupstorageconfig
              headers: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.backup_resource_storage_configs_controller
components:
  parameters:
    ApiVersion:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupName:
      description: The name of the resource group where the recovery services vault
        is present.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: The subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VaultName:
      description: The name of the recovery services vault.
      in: path
      name: vaultName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    AzureBackupServerContainer:
      allOf:
      - $ref: '#/components/schemas/DpmContainer'
      description: AzureBackupServer (DPMVenus) workload-specific protection container.
      x-ms-discriminator-value: AzureBackupServerContainer
    AzureBackupServerEngine:
      allOf:
      - $ref: '#/components/schemas/BackupEngineBase'
      description: Backup engine type when Azure Backup Server is used to manage the
        backups.
      x-ms-discriminator-value: AzureBackupServerEngine
    AzureFileShareBackupRequest:
      allOf:
      - $ref: '#/components/schemas/BackupRequest'
      description: AzureFileShare workload-specific backup request.
      properties:
        recoveryPointExpiryTimeInUTC:
          description: Backup copy will expire after the time specified (UTC).
          format: date-time
          type: string
      x-ms-discriminator-value: AzureFileShareBackupRequest
    AzureFileShareProtectableItem:
      allOf:
      - $ref: '#/components/schemas/WorkloadProtectableItem'
      description: Protectable item for Azure Fileshare workloads.
      properties:
        azureFileShareType:
          description: File Share type XSync or XSMB.
          enum:
          - Invalid
          - XSMB
          - XSync
          type: string
          x-ms-enum:
            modelAsString: true
            name: AzureFileShareType
        parentContainerFabricId:
          description: "Full Fabric ID of container to which this protectable item\
            \ belongs. For example, ARM ID."
          type: string
        parentContainerFriendlyName:
          description: Friendly name of container to which this protectable item belongs.
          type: string
      x-ms-discriminator-value: AzureFileShare
    AzureFileShareProvisionILRRequest:
      allOf:
      - $ref: '#/components/schemas/ILRRequest'
      description: Update snapshot Uri with the correct friendly Name of the source
        Azure file share.
      properties:
        recoveryPointId:
          description: Recovery point ID.
          type: string
        sourceResourceId:
          description: Source Storage account ARM Id
          type: string
      x-ms-discriminator-value: AzureFileShareProvisionILRRequest
    AzureIaaSClassicComputeVMContainer:
      allOf:
      - $ref: '#/components/schemas/IaaSVMContainer'
      description: IaaS VM workload-specific backup item representing a classic virtual
        machine.
      x-ms-discriminator-value: Microsoft.ClassicCompute/virtualMachines
    AzureIaaSClassicComputeVMProtectableItem:
      allOf:
      - $ref: '#/components/schemas/IaaSVMProtectableItem'
      description: IaaS VM workload-specific backup item representing the Classic
        Compute VM.
      x-ms-discriminator-value: Microsoft.ClassicCompute/virtualMachines
    AzureIaaSComputeVMContainer:
      allOf:
      - $ref: '#/components/schemas/IaaSVMContainer'
      description: IaaS VM workload-specific backup item representing an Azure Resource
        Manager virtual machine.
      x-ms-discriminator-value: Microsoft.Compute/virtualMachines
    AzureIaaSComputeVMProtectableItem:
      allOf:
      - $ref: '#/components/schemas/IaaSVMProtectableItem'
      description: IaaS VM workload-specific backup item representing the Azure Resource
        Manager VM.
      x-ms-discriminator-value: Microsoft.Compute/virtualMachines
    AzureSQLAGWorkloadContainerProtectionContainer:
      allOf:
      - $ref: '#/components/schemas/AzureWorkloadContainer'
      description: Container for SQL workloads under SQL Availability Group.
      x-ms-discriminator-value: SQLAGWorkLoadContainer
    AzureSqlContainer:
      allOf:
      - $ref: '#/components/schemas/ProtectionContainer'
      description: Azure Sql workload-specific container.
      x-ms-discriminator-value: AzureSqlContainer
    AzureStorageContainer:
      allOf:
      - $ref: '#/components/schemas/ProtectionContainer'
      description: Azure Storage Account workload-specific container.
      properties:
        protectedItemCount:
          description: Number of items backed up in this container.
          format: int64
          type: integer
        resourceGroup:
          description: Resource group name of Recovery Services Vault.
          type: string
        sourceResourceId:
          description: Fully qualified ARM url.
          type: string
        storageAccountVersion:
          description: Storage account version.
          type: string
      x-ms-discriminator-value: StorageContainer
    AzureStorageProtectableContainer:
      allOf:
      - $ref: '#/components/schemas/ProtectableContainer'
      description: Azure Storage-specific protectable containers
      x-ms-discriminator-value: StorageContainer
    AzureVMAppContainerProtectableContainer:
      allOf:
      - $ref: '#/components/schemas/ProtectableContainer'
      description: Azure workload-specific container
      x-ms-discriminator-value: VMAppContainer
    AzureVMAppContainerProtectionContainer:
      allOf:
      - $ref: '#/components/schemas/AzureWorkloadContainer'
      description: Container for SQL workloads under Azure Virtual Machines.
      x-ms-discriminator-value: VMAppContainer
    AzureVmWorkloadItem:
      allOf:
      - $ref: '#/components/schemas/WorkloadItem'
      description: Azure VM workload-specific workload item.
      properties:
        isAutoProtectable:
          description: Indicates if workload item is auto-protectable
          title: isAutoProtectable
          type: boolean
        parentName:
          description: Name for instance or AG
          title: parentName
          type: string
        serverName:
          description: Host/Cluster Name for instance or AG
          title: serverName
          type: string
        subWorkloadItemCount:
          description: "For instance or AG, indicates number of DB's to be protected"
          format: int32
          title: subWorkloadItemCount
          type: integer
        subinquireditemcount:
          description: "For instance or AG, indicates number of DB's present"
          format: int32
          title: subinquireditemcount
          type: integer
      title: AzureVmWorkloadItem
      x-ms-discriminator-value: AzureVmWorkloadItem
    AzureVmWorkloadProtectableItem:
      allOf:
      - $ref: '#/components/schemas/WorkloadProtectableItem'
      description: Azure VM workload-specific protectable item.
      properties:
        isAutoProtectable:
          description: Indicates if protectable item is auto-protectable
          title: isAutoProtectable
          type: boolean
        isAutoProtected:
          description: Indicates if protectable item is auto-protected
          title: isAutoProtected
          type: boolean
        parentName:
          description: Name for instance or AG
          title: parentName
          type: string
        parentUniqueName:
          description: "Parent Unique Name is added to provide the service formatted\
            \ URI Name of the Parent\r\nOnly Applicable for data bases where the parent\
            \ would be either Instance or a SQL AG."
          title: parentUniqueName
          type: string
        prebackupvalidation:
          $ref: '#/components/schemas/PreBackupValidation'
        serverName:
          description: Host/Cluster Name for instance or AG
          title: serverName
          type: string
        subinquireditemcount:
          description: "For instance or AG, indicates number of DB's present"
          format: int32
          title: subinquireditemcount
          type: integer
        subprotectableitemcount:
          description: "For instance or AG, indicates number of DB's to be protected"
          format: int32
          title: subprotectableitemcount
          type: integer
      title: AzureVmWorkloadProtectableItem
      x-ms-discriminator-value: AzureVmWorkloadProtectableItem
    AzureVmWorkloadSAPAseDatabaseWorkloadItem:
      allOf:
      - $ref: '#/components/schemas/AzureVmWorkloadItem'
      description: Azure VM workload-specific workload item representing SAP ASE Database.
      x-ms-discriminator-value: SAPAseDatabase
    AzureVmWorkloadSAPAseSystemProtectableItem:
      allOf:
      - $ref: '#/components/schemas/AzureVmWorkloadProtectableItem'
      description: Azure VM workload-specific protectable item representing SAP ASE
        System.
      x-ms-discriminator-value: SAPAseSystem
    AzureVmWorkloadSAPAseSystemWorkloadItem:
      allOf:
      - $ref: '#/components/schemas/AzureVmWorkloadItem'
      description: Azure VM workload-specific workload item representing SAP ASE System.
      x-ms-discriminator-value: SAPAseSystem
    AzureVmWorkloadSAPHanaDatabaseProtectableItem:
      allOf:
      - $ref: '#/components/schemas/AzureVmWorkloadProtectableItem'
      description: Azure VM workload-specific protectable item representing SAP HANA
        Database.
      x-ms-discriminator-value: SAPHanaDatabase
    AzureVmWorkloadSAPHanaDatabaseWorkloadItem:
      allOf:
      - $ref: '#/components/schemas/AzureVmWorkloadItem'
      description: Azure VM workload-specific workload item representing SAP HANA
        Database.
      x-ms-discriminator-value: SAPHanaDatabase
    AzureVmWorkloadSAPHanaSystemProtectableItem:
      allOf:
      - $ref: '#/components/schemas/AzureVmWorkloadProtectableItem'
      description: Azure VM workload-specific protectable item representing SAP HANA
        System.
      x-ms-discriminator-value: SAPHanaSystem
    AzureVmWorkloadSAPHanaSystemWorkloadItem:
      allOf:
      - $ref: '#/components/schemas/AzureVmWorkloadItem'
      description: Azure VM workload-specific workload item representing SAP HANA
        System.
      x-ms-discriminator-value: SAPHanaSystem
    AzureVmWorkloadSQLAvailabilityGroupProtectableItem:
      allOf:
      - $ref: '#/components/schemas/AzureVmWorkloadProtectableItem'
      description: Azure VM workload-specific protectable item representing SQL Availability
        Group.
      x-ms-discriminator-value: SQLAvailabilityGroupContainer
    AzureVmWorkloadSQLDatabaseProtectableItem:
      allOf:
      - $ref: '#/components/schemas/AzureVmWorkloadProtectableItem'
      description: Azure VM workload-specific protectable item representing SQL Database.
      x-ms-discriminator-value: SQLDataBase
    AzureVmWorkloadSQLDatabaseWorkloadItem:
      allOf:
      - $ref: '#/components/schemas/AzureVmWorkloadItem'
      description: Azure VM workload-specific workload item representing SQL Database.
      x-ms-discriminator-value: SQLDataBase
    AzureVmWorkloadSQLInstanceProtectableItem:
      allOf:
      - $ref: '#/components/schemas/AzureVmWorkloadProtectableItem'
      description: Azure VM workload-specific protectable item representing SQL Instance.
      x-ms-discriminator-value: SQLInstance
    AzureVmWorkloadSQLInstanceWorkloadItem:
      allOf:
      - $ref: '#/components/schemas/AzureVmWorkloadItem'
      description: Azure VM workload-specific workload item representing SQL Instance.
      properties:
        dataDirectoryPaths:
          description: Data Directory Paths for default directories
          items:
            $ref: '#/components/schemas/SQLDataDirectory'
          type: array
      x-ms-discriminator-value: SQLInstance
    AzureWorkloadBackupRequest:
      allOf:
      - $ref: '#/components/schemas/BackupRequest'
      description: AzureWorkload workload-specific backup request.
      properties:
        backupType:
          description: "Type of backup, viz. Full, Differential, Log or CopyOnlyFull"
          enum:
          - Invalid
          - Full
          - Differential
          - Log
          - CopyOnlyFull
          type: string
          x-ms-enum:
            modelAsString: true
            name: backupType
        enableCompression:
          description: Bool for Compression setting
          type: boolean
        recoveryPointExpiryTimeInUTC:
          description: Backup copy will expire after the time specified (UTC).
          format: date-time
          type: string
      x-ms-discriminator-value: AzureWorkloadBackupRequest
    AzureWorkloadContainer:
      allOf:
      - $ref: '#/components/schemas/ProtectionContainer'
      description: Container for the workloads running inside Azure Compute or Classic
        Compute.
      properties:
        extendedInfo:
          $ref: '#/components/schemas/AzureWorkloadContainerExtendedInfo'
        lastUpdatedTime:
          description: Time stamp when this container was updated.
          format: date-time
          title: lastUpdatedTime
          type: string
        operationType:
          description: Re-Do Operation
          enum:
          - Invalid
          - Register
          - Reregister
          title: operationType
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperationType
        sourceResourceId:
          description: ARM ID of the virtual machine represented by this Azure Workload
            Container
          title: sourceResourceId
          type: string
        workloadType:
          description: Workload type for which registration was sent.
          enum:
          - Invalid
          - VM
          - FileFolder
          - AzureSqlDb
          - SQLDB
          - Exchange
          - Sharepoint
          - VMwareVM
          - SystemState
          - Client
          - GenericDataSource
          - SQLDataBase
          - AzureFileShare
          - SAPHanaDatabase
          - SAPAseDatabase
          title: workloadType
          type: string
          x-ms-enum:
            modelAsString: true
            name: WorkloadType
      title: AzureWorkloadContainer
      x-ms-discriminator-value: AzureWorkloadContainer
    AzureWorkloadContainerExtendedInfo:
      description: Extended information of the container.
      properties:
        hostServerName:
          description: Host Os Name in case of Stand Alone and Cluster Name in case
            of distributed container.
          title: hostServerName
          type: string
        inquiryInfo:
          $ref: '#/components/schemas/InquiryInfo'
        nodesList:
[...]
