openapi: 3.0.1
info:
  description: "The Azure SQL Database management API provides a RESTful set of web\
    \ APIs that interact with Azure SQL Database services to manage your databases.\
    \ The API enables users to create, retrieve, update, and delete databases, servers,\
    \ and other entities."
  title: SqlManagementClient
  version: 2015-05-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/syncGroups.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-syncGroups
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/syncDatabaseIds:
    get:
      description: Gets a collection of sync database ids.
      operationId: sync_groups_list_sync_database_ids
      parameters:
      - description: The name of the region where the resource is located.
        in: path
        name: locationName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncDatabaseIdListResult'
          description: Successfully retrieved collection of sync database ids.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
      - SyncGroups
      x-ms-examples:
        Get a sync database ID:
          parameters:
            api-version: 2015-05-01-preview
            locationName: westus
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.sync_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups
  : get:
      description: Lists sync groups under a hub database.
      operationId: sync_groups_list_by_database
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncGroupListResult'
          description: Successfully retrieved the list of sync groups.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncGroupDueToQuotaExceeded - Cannot create sync group due to quota exceeded.
      tags:
      - SyncGroups
      x-ms-examples:
        List sync groups under a given database:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-3187
                  name: syncgroupcrud-3187
                  properties:
                    conflictResolutionPolicy: HubWin
                    hubDatabaseUserName: hubUser
                    interval: -1
                    lastSyncTime: 0001-01-01T08:00:00Z
                    syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328
                    syncState: NotReady
                  type: Microsoft.Sql/servers/databases/syncGroups
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-5374
                  name: syncgroupcrud-5374
                  properties:
                    conflictResolutionPolicy: HubWin
                    hubDatabaseUserName: hubUser
                    interval: -1
                    lastSyncTime: 0001-01-01T08:00:00Z
                    syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328
                    syncState: NotReady
                  type: Microsoft.Sql/servers/databases/syncGroups
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.sync_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}
  : delete:
      description: Deletes a sync group.
      operationId: sync_groups_delete
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully deleted the sync group.
        "202":
          content: {}
          description: Deleting the sync group is in progress.
        "204":
          content: {}
          description: The specified sync group does not exist.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncGroupDueToQuotaExceeded - Cannot create sync group due to quota exceeded.
      tags:
      - SyncGroups
      x-ms-examples:
        Delete a sync group:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.sync_groups_controller
    get:
      description: Gets a sync group.
      operationId: sync_groups_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncGroup'
          description: Successfully retrieved the specified sync group.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncGroupDueToQuotaExceeded - Cannot create sync group due to quota exceeded.
      tags:
      - SyncGroups
      x-ms-examples:
        Get a sync group:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-3187
                name: syncgroupcrud-3187
                properties:
                  conflictResolutionPolicy: HubWin
                  hubDatabaseUserName: hubUser
                  interval: -1
                  lastSyncTime: 0001-01-01T08:00:00Z
                  syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328
                  syncState: NotReady
                type: Microsoft.Sql/servers/databases/syncGroups
      x-openapi-router-controller: openapi_server.controllers.sync_groups_controller
    patch:
      description: Updates a sync group.
      operationId: sync_groups_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncGroup'
        description: The requested sync group resource state.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncGroup'
          description: Successfully updated the sync group.
        "202":
          content: {}
          description: Updating the sync group is in progress.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncGroupDueToQuotaExceeded - Cannot create sync group due to quota exceeded.
      tags:
      - SyncGroups
      x-ms-examples:
        Update a sync group:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            parameters:
              properties:
                conflictResolutionPolicy: HubWin
                hubDatabasePassword: hubPassword
                hubDatabaseUserName: hubUser
                interval: -1
                lastSyncTime: 0001-01-01T08:00:00Z
                syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-3187
                name: syncgroup
                properties:
                  conflictResolutionPolicy: HubWin
                  hubDatabaseUserName: hubUser
                  interval: -1
                  lastSyncTime: 0001-01-01T08:00:00Z
                  syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328
                  syncState: NotReady
                type: Microsoft.Sql/servers/databases/syncGroups
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.sync_groups_controller
    put:
      description: Creates or updates a sync group.
      operationId: sync_groups_create_or_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncGroup'
        description: The requested sync group resource state.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncGroup'
          description: Successfully updated the sync group.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncGroup'
          description: Successfully created the sync group.
        "202":
          content: {}
          description: Creating or updating the sync group is in progress.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncGroupDueToQuotaExceeded - Cannot create sync group due to quota exceeded.
      tags:
      - SyncGroups
      x-ms-examples:
        Create a sync group:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            parameters:
              properties:
                conflictResolutionPolicy: HubWin
                hubDatabaseUserName: hubUser
                interval: -1
                lastSyncTime: 0001-01-01T08:00:00Z
                syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-3187
                name: syncgroupcrud-3187
                properties:
                  conflictResolutionPolicy: HubWin
                  hubDatabaseUserName: hubUser
                  interval: -1
                  lastSyncTime: 0001-01-01T08:00:00Z
                  syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328
                  syncState: NotReady
                type: Microsoft.Sql/servers/databases/syncGroups
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-3187
                name: syncgroupcrud-3187
                properties:
                  conflictResolutionPolicy: HubWin
                  hubDatabaseUserName: hubUser
                  interval: -1
                  lastSyncTime: 0001-01-01T08:00:00Z
                  syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328
                  syncState: NotReady
                type: Microsoft.Sql/servers/databases/syncGroups
            "202": {}
        Update a sync group:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            parameters:
              properties:
                conflictResolutionPolicy: HubWin
                hubDatabaseUserName: hubUser
                interval: -1
                lastSyncTime: 0001-01-01T08:00:00Z
                syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-3187
                name: syncgroupcrud-3187
                properties:
                  conflictResolutionPolicy: HubWin
                  hubDatabaseUserName: hubUser
                  interval: -1
                  lastSyncTime: 0001-01-01T08:00:00Z
                  syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328
                  syncState: NotReady
                type: Microsoft.Sql/servers/databases/syncGroups
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328/syncGroups/syncgroupcrud-3187
                name: syncgroupcrud-3187
                properties:
                  conflictResolutionPolicy: HubWin
                  hubDatabaseUserName: hubUser
                  interval: -1
                  lastSyncTime: 0001-01-01T08:00:00Z
                  syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/syncgroupcrud-3521/providers/Microsoft.Sql/servers/syncgroupcrud-8475/databases/syncgroupcrud-4328
                  syncState: NotReady
                type: Microsoft.Sql/servers/databases/syncGroups
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.sync_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}/cancelSync
  : post:
      description: Cancels a sync group synchronization.
      operationId: sync_groups_cancel_sync
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully cancel a sync group synchronization.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncGroupDueToQuotaExceeded - Cannot create sync group due to quota exceeded.
      tags:
      - SyncGroups
      x-ms-examples:
        Cancel a sync group synchronization:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.sync_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}/hubSchemas
  : get:
      description: Gets a collection of hub database schemas.
      operationId: sync_groups_list_hub_schemas
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncFullSchemaPropertiesListResult'
          description: Successfully get a sync group hub database schema.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncGroupDueToQuotaExceeded - Cannot create sync group due to quota exceeded.
      tags:
      - SyncGroups
      x-ms-examples:
        Get a hub database schema.:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
          responses:
            "200":
              body:
                value:
                - lastUpdateTime: 2017-05-30T07:16:08.21Z
                  tables:
                  - columns:
                    - dataSize: "4"
                      dataType: int
                      hasError: false
                      isPrimaryKey: false
                      name: intField
                      quotedName: "[intField]"
                    - dataSize: "100"
                      dataType: nvarchar
                      hasError: false
                      isPrimaryKey: false
                      name: charField
                      quotedName: "[charField]"
                    errorId: Schema_TableHasNoPrimaryKey
                    hasError: true
                    name: dbo.myTable
                    quotedName: "[dbo].[myTable]"
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.sync_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}/logs
  : get:
      description: Gets a collection of sync group logs.
      operationId: sync_groups_list_logs
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: Get logs generated after this time.
        in: query
        name: startTime
        required: true
        schema:
          type: string
      - description: Get logs generated before this time.
        in: query
        name: endTime
        required: true
        schema:
          type: string
      - description: The types of logs to retrieve.
        in: query
        name: type
        required: true
        schema:
          enum:
          - All
          - Error
          - Warning
          - Success
          type: string
      - description: The continuation token for this operation.
        in: query
        name: continuationToken
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncGroupLogListResult'
          description: Successfully retrieved sync group logs.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncGroupDueToQuotaExceeded - Cannot create sync group due to quota exceeded.
      tags:
      - SyncGroups
      x-ms-examples:
        Get sync group logs:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            endTime: 2017-12-31T00:00:00
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            startTime: 2017-01-01T00:00:00
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
            type: All
          responses:
            "200":
              body:
                value:
                - details: Schema information obtained successfully.
                  operationStatus: SchemaRefreshSuccess
                  source: syncgroupcrud-8475.database.windows.net/hub
                  timestamp: 2017-05-30T07:16:08.25Z
                  tracingId: c0480c8e-6269-424e-9404-b00efce0ebae
                  type: Success
                - details: "Getting schema information for the database failed with\
                    \ the exception \"Failed to connect to server .\nInner exception:\
                    \ SqlException Error Code: -2146232060 - SqlError Number:53, Message:\
                    \ A network-related or instance-specific error occurred while\
                    \ establishing a connection to SQL Server. The server was not\
                    \ found or was not accessible. Verify that the instance name is\
                    \ correct and that SQL Server is configured to allow remote connections.\
                    \ (provider: Named Pipes Provider, error: 40 - Could not open\
                    \ a connection to SQL Server) \nInner exception: The network path\
                    \ was not found\n For more information, provide tracing ID ‘cd3aa28c-0c31-471f-8a77-f1b21c908cbd’\
                    \ to customer support.\""
                  operationStatus: SchemaRefreshFailure
                  source: syncgroupcrud-8475.database.windows.net/member
                  timestamp: 2017-05-30T07:03:37.5733333Z
                  tracingId: cd3aa28c-0c31-471f-8a77-f1b21c908cbd
                  type: Error
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.sync_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}/refreshHubSchema
  : post:
      description: Refreshes a hub database schema.
      operationId: sync_groups_refresh_hub_schema
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully refreshed a sync hub schema.
        "202":
          content: {}
          description: The sync hub schema refresh operation is on going.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncGroupDueToQuotaExceeded - Cannot create sync group due to quota exceeded.
      tags:
      - SyncGroups
      x-ms-examples:
        Refresh a hub database schema.:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.sync_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/syncGroups/{syncGroupName}/triggerSync
  : post:
      description: Triggers a sync group synchronization.
      operationId: sync_groups_trigger_sync
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database on which the sync group is hosted.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the sync group.
        in: path
        name: syncGroupName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully triggered a sync group synchronization.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncGroup - Sync group is invalid.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.

             * 409 CannotCreateSyncGroupDueToQuotaExceeded - Cannot create sync group due to quota exceeded.
      tags:
      - SyncGroups
      x-ms-examples:
        Trigger a sync group synchronization.:
          parameters:
            api-version: 2015-05-01-preview
            databaseName: syncgroupcrud-4328
            resourceGroupName: syncgroupcrud-65440
            serverName: syncgroupcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncGroupName: syncgroupcrud-3187
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.sync_groups_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
  schemas:
    SyncDatabaseIdListResult:
      description: A list of sync database ID properties.
      example:
        value:
        - id: id
        - id: id
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/SyncDatabaseIdProperties'
          readOnly: true
          title: value
          type: array
      title: SyncDatabaseIdListResult
      type: object
    SyncDatabaseIdProperties:
      description: Properties of the sync database id.
      example:
        id: id
      properties:
        id:
          description: ARM resource id of sync database.
          readOnly: true
          title: id
          type: string
      title: SyncDatabaseIdProperties
      type: object
    SyncFullSchemaProperties:
      description: Properties of the database full schema.
      example:
        tables:
        - quotedName: quotedName
          columns:
          - quotedName: quotedName
            dataType: dataType
            name: name
            dataSize: dataSize
            isPrimaryKey: true
            errorId: errorId
            hasError: true
          - quotedName: quotedName
            dataType: dataType
            name: name
            dataSize: dataSize
            isPrimaryKey: true
            errorId: errorId
            hasError: true
          name: name
          errorId: errorId
          hasError: true
        - quotedName: quotedName
          columns:
          - quotedName: quotedName
            dataType: dataType
            name: name
            dataSize: dataSize
            isPrimaryKey: true
            errorId: errorId
            hasError: true
          - quotedName: quotedName
            dataType: dataType
            name: name
            dataSize: dataSize
            isPrimaryKey: true
            errorId: errorId
            hasError: true
          name: name
          errorId: errorId
          hasError: true
        lastUpdateTime: 2000-01-23T04:56:07.000+00:00
      properties:
        lastUpdateTime:
          description: Last update time of the database schema.
          format: date-time
          readOnly: true
          title: lastUpdateTime
          type: string
        tables:
          description: List of tables in the database full schema.
          items:
            $ref: '#/components/schemas/SyncFullSchemaTable'
          readOnly: true
          title: tables
          type: array
      title: SyncFullSchemaProperties
      type: object
    SyncFullSchemaPropertiesListResult:
      description: A list of sync schema properties.
      example:
        value:
        - tables:
          - quotedName: quotedName
            columns:
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            name: name
            errorId: errorId
            hasError: true
          - quotedName: quotedName
            columns:
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            name: name
            errorId: errorId
            hasError: true
          lastUpdateTime: 2000-01-23T04:56:07.000+00:00
        - tables:
          - quotedName: quotedName
            columns:
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            name: name
            errorId: errorId
            hasError: true
          - quotedName: quotedName
            columns:
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            - quotedName: quotedName
              dataType: dataType
              name: name
              dataSize: dataSize
              isPrimaryKey: true
              errorId: errorId
              hasError: true
            name: name
            errorId: errorId
            hasError: true
          lastUpdateTime: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/SyncFullSchemaProperties'
          readOnly: true
          title: value
          type: array
      title: SyncFullSchemaPropertiesListResult
      type: object
    SyncFullSchemaTable:
      description: Properties of the table in the database full schema.
      example:
        quotedName: quotedName
        columns:
        - quotedName: quotedName
          dataType: dataType
          name: name
          dataSize: dataSize
          isPrimaryKey: true
          errorId: errorId
          hasError: true
        - quotedName: quotedName
          dataType: dataType
          name: name
          dataSize: dataSize
          isPrimaryKey: true
          errorId: errorId
          hasError: true
        name: name
        errorId: errorId
        hasError: true
      properties:
        columns:
          description: List of columns in the table of database full schema.
          items:
            $ref: '#/components/schemas/SyncFullSchemaTableColumn'
          readOnly: true
          title: columns
          type: array
        errorId:
          description: Error id of the table.
          readOnly: true
          title: errorId
          type: string
        hasError:
          description: If there is error in the table.
          readOnly: true
          title: hasError
          type: boolean
        name:
          description: Name of the table.
          readOnly: true
          title: name
          type: string
        quotedName:
          description: Quoted name of the table.
          readOnly: true
          title: quotedName
          type: string
      title: SyncFullSchemaTable
      type: object
    SyncFullSchemaTableColumn:
      description: Properties of the column in the table of database full schema.
      example:
        quotedName: quotedName
        dataType: dataType
        name: name
        dataSize: dataSize
        isPrimaryKey: true
        errorId: errorId
        hasError: true
      properties:
        dataSize:
          description: Data size of the column.
          readOnly: true
          title: dataSize
          type: string
        dataType:
          description: Data type of the column.
          readOnly: true
          title: dataType
          type: string
        errorId:
          description: Error id of the column.
          readOnly: true
          title: errorId
          type: string
        hasError:
          description: If there is error in the table.
          readOnly: true
          title: hasError
          type: boolean
        isPrimaryKey:
          description: If it is the primary key of the table.
          readOnly: true
          title: isPrimaryKey
          type: boolean
        name:
          description: Name of the column.
          readOnly: true
          title: name
          type: string
        quotedName:
          description: Quoted name of the column.
          readOnly: true
          title: quotedName
          type: string
      title: SyncFullSchemaTableColumn
      type: object
    SyncGroup:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: An Azure SQL Database sync group.
      example:
        properties:
          schema:
            tables:
            - quotedName: quotedName
              columns:
              - quotedName: quotedName
                dataType: dataType
                dataSize: dataSize
              - quotedName: quotedName
                dataType: dataType
                dataSize: dataSize
            - quotedName: quotedName
              columns:
              - quotedName: quotedName
                dataType: dataType
                dataSize: dataSize
              - quotedName: quotedName
                dataType: dataType
                dataSize: dataSize
            masterSyncMemberName: masterSyncMemberName
          lastSyncTime: 2000-01-23T04:56:07.000+00:00
          syncDatabaseId: syncDatabaseId
          hubDatabasePassword: hubDatabasePassword
          syncState: NotReady
          hubDatabaseUserName: hubDatabaseUserName
          interval: 0
          conflictResolutionPolicy: HubWin
      properties:
        properties:
          $ref: '#/components/schemas/SyncGroupProperties'
      title: SyncGroup
    SyncGroupListResult:
      description: A list of sync groups.
      example:
        value:
        - properties:
            schema:
              tables:
              - quotedName: quotedName
                columns:
                - quotedName: quotedName
                  dataType: dataType
                  dataSize: dataSize
                - quotedName: quotedName
                  dataType: dataType
                  dataSize: dataSize
              - quotedName: quotedName
                columns:
                - quotedName: quotedName
                  dataType: dataType
                  dataSize: dataSize
                - quotedName: quotedName
                  dataType: dataType
                  dataSize: dataSize
              masterSyncMemberName: masterSyncMemberName
            lastSyncTime: 2000-01-23T04:56:07.000+00:00
            syncDatabaseId: syncDatabaseId
            hubDatabasePassword: hubDatabasePassword
            syncState: NotReady
            hubDatabaseUserName: hubDatabaseUserName
            interval: 0
            conflictResolutionPolicy: HubWin
        - properties:
            schema:
              tables:
              - quotedName: quotedName
                columns:
                - quotedName: quotedName
                  dataType: dataType
                  dataSize: dataSize
                - quotedName: quotedName
                  dataType: dataType
                  dataSize: dataSize
              - quotedName: quotedName
                columns:
                - quotedName: quotedName
                  dataType: dataType
                  dataSize: dataSize
                - quotedName: quotedName
                  dataType: dataType
                  dataSize: dataSize
              masterSyncMemberName: masterSyncMemberName
            lastSyncTime: 2000-01-23T04:56:07.000+00:00
            syncDatabaseId: syncDatabaseId
            hubDatabasePassword: hubDatabasePassword
            syncState: NotReady
            hubDatabaseUserName: hubDatabaseUserName
            interval: 0
            conflictResolutionPolicy: HubWin
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/SyncGroup'
          readOnly: true
          title: value
          type: array
      title: SyncGroupListResult
      type: object
    SyncGroupLogListResult:
      description: A list of sync group log properties.
      example:
        value:
        - operationStatus: operationStatus
          tracingId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          details: details
          source: source
          type: All
          timestamp: 2000-01-23T04:56:07.000+00:00
        - operationStatus: operationStatus
          tracingId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          details: details
          source: source
          type: All
          timestamp: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/SyncGroupLogProperties'
          readOnly: true
          title: value
          type: array
      title: SyncGroupLogListResult
      type: object
    SyncGroupLogProperties:
      description: Properties of an Azure SQL Database sync group log.
      example:
        operationStatus: operationStatus
        tracingId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        details: details
        source: source
        type: All
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        details:
          description: Details of the sync group log.
          readOnly: true
          title: details
          type: string
        operationStatus:
          description: OperationStatus of the sync group log.
          readOnly: true
          title: operationStatus
          type: string
        source:
          description: Source of the sync group log.
          readOnly: true
          title: source
          type: string
        timestamp:
          description: Timestamp of the sync group log.
          format: date-time
          readOnly: true
          title: timestamp
          type: string
        tracingId:
          description: TracingId of the sync group log.
          format: uuid
          readOnly: true
          title: tracingId
          type: string
        type:
          description: Type of the sync group log.
          enum:
          - All
          - Error
          - Warning
          - Success
          readOnly: true
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: SyncGroupLogType
      title: SyncGroupLogProperties
      type: object
    SyncGroupProperties:
      description: Properties of a sync group.
      example:
        schema:
          tables:
          - quotedName: quotedName
            columns:
            - quotedName: quotedName
              dataType: dataType
              dataSize: dataSize
            - quotedName: quotedName
              dataType: dataType
              dataSize: dataSize
          - quotedName: quotedName
            columns:
            - quotedName: quotedName
              dataType: dataType
              dataSize: dataSize
            - quotedName: quotedName
              dataType: dataType
              dataSize: dataSize
          masterSyncMemberName: masterSyncMemberName
        lastSyncTime: 2000-01-23T04:56:07.000+00:00
        syncDatabaseId: syncDatabaseId
        hubDatabasePassword: hubDatabasePassword
        syncState: NotReady
        hubDatabaseUserName: hubDatabaseUserName
        interval: 0
        conflictResolutionPolicy: HubWin
      properties:
        conflictResolutionPolicy:
          description: Conflict resolution policy of the sync group.
          enum:
          - HubWin
          - MemberWin
          title: conflictResolutionPolicy
          type: string
          x-ms-enum:
            modelAsString: true
            name: SyncConflictResolutionPolicy
        hubDatabasePassword:
          description: Password for the sync group hub database credential.
          title: hubDatabasePassword
          type: string
          x-ms-mutability:
          - create
          - update
        hubDatabaseUserName:
          description: User name for the sync group hub database credential.
          title: hubDatabaseUserName
          type: string
        interval:
          description: Sync interval of the sync group.
          format: int32
          title: interval
          type: integer
        lastSyncTime:
          description: Last sync time of the sync group.
          format: date-time
          readOnly: true
          title: lastSyncTime
          type: string
        schema:
          $ref: '#/components/schemas/SyncGroupSchema'
        syncDatabaseId:
          description: ARM resource id of the sync database in the sync group.
          title: syncDatabaseId
          type: string
        syncState:
          description: Sync state of the sync group.
          enum:
          - NotReady
          - Error
          - Warning
          - Progressing
          - Good
          readOnly: true
          title: syncState
          type: string
          x-ms-enum:
            modelAsString: true
            name: SyncGroupState
      title: SyncGroupProperties
      type: object
    SyncGroupSchema:
      description: Properties of sync group schema.
      example:
        tables:
        - quotedName: quotedName
          columns:
          - quotedName: quotedName
            dataType: dataType
            dataSize: dataSize
          - quotedName: quotedName
            dataType: dataType
            dataSize: dataSize
        - quotedName: quotedName
          columns:
          - quotedName: quotedName
            dataType: dataType
            dataSize: dataSize
          - quotedName: quotedName
            dataType: dataType
            dataSize: dataSize
        masterSyncMemberName: masterSyncMemberName
      properties:
        masterSyncMemberName:
          description: Name of master sync member where the schema is from.
          title: masterSyncMemberName
          type: string
        tables:
          description: List of tables in sync group schema.
          items:
            $ref: '#/components/schemas/SyncGroupSchemaTable'
          title: tables
          type: array
      title: SyncGroupSchema
      type: object
    SyncGroupSchemaTable:
      description: Properties of table in sync group schema.
      example:
        quotedName: quotedName
        columns:
        - quotedName: quotedName
          dataType: dataType
          dataSize: dataSize
        - quotedName: quotedName
          dataType: dataType
          dataSize: dataSize
      properties:
        columns:
          description: List of columns in sync group schema.
          items:
            $ref: '#/components/schemas/SyncGroupSchemaTableColumn'
          title: columns
          type: array
        quotedName:
          description: Quoted name of sync group schema table.
          title: quotedName
          type: string
      title: SyncGroupSchemaTable
      type: object
    SyncGroupSchemaTableColumn:
      description: Properties of column in sync group table.
      example:
        quotedName: quotedName
        dataType: dataType
        dataSize: dataSize
      properties:
        dataSize:
          description: Data size of the column.
          title: dataSize
          type: string
        dataType:
          description: Data type of the column.
          title: dataType
          type: string
        quotedName:
          description: Quoted name of sync group table column.
          title: quotedName
          type: string
      title: SyncGroupSchemaTableColumn
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
