openapi: 3.0.1
info:
  contact: {}
  description: "Welcome to the autogenerated documentation & test tool for Avaza's\
    \ API. <br/><br/><strong>API Security & Authentication</strong><br/>Authentication\
    \ options include OAuth2 Implicit and Authorization Code flows, and Personal Access\
    \ Token. All connections should be encrypted over SSL/TLS <br/><br/>You can set\
    \ up and manage your api authentication credentials from within your Avaza account.\
    \ (requires Administrator permissions on your Avaza account).<br/><br/> OAuth2\
    \ Authorization endpoint: https://any.avaza.com/oauth2/authorize  <br/>OAuth2\
    \ Token endpoint: https://any.avaza.com/oauth2/token<br/>Base URL for subsequent\
    \ API Requests: https://api.avaza.com/ <br/><br/>Blogpost about authenticating\
    \ with Avaza's API:  https://www.avaza.com/avaza-api-oauth2-authentication/ <br/>Blogpost\
    \ on using Avaza's webhooks: https://www.avaza.com/avaza-api-webhook-notifications/<br/>The\
    \ OAuth flow currently issues Access Tokens that last 1 day, and Refresh tokens\
    \ that last 180 days<br/>The Api respects the security Roles assigned to the authenticating\
    \ Avaza user and filters the data return appropriately. <br/><br><strong>Support</strong><br/>For\
    \ API Support, and to request access please contact Avaza Support Team via our\
    \ support chat. <br/><br/><strong>User Contributed Libraries:</strong><br/>Graciously\
    \ contributed by 3rd party users like you. <br/>Note these are not tested or endorsesd\
    \ by Avaza. We encourage you to review before use, and use at own risk.<br/> <ul><li>\
    \ - <a target='blank' href='https://packagist.org/packages/debiprasad/oauth2-avaza'>PHP\
    \ OAuth Client Package for Azava API (by Debiprasad Sahoo)</a></li></ul>"
  title: Avaza API Documentation
  version: v1
  x-apisguru-categories:
  - collaboration
  x-logo:
    url: https://twitter.com/AvazaHq/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://api.avaza.com/swagger/docs/v1
    version: "2.0"
  x-providerName: avaza.com
servers:
- url: https://api.avaza.com/
paths:
  /ScheduleSeries/AddBooking:
    post:
      operationId: schedule_series_add_booking
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBooking'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateBooking'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateBooking'
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateBooking'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateBooking'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
          description: OK
      security:
      - oauth2:
        - write_schedule
      summary: Create new Schedule Booking
      tags:
      - ScheduleSeries
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.schedule_series_controller
  /ScheduleSeries/AddLeave:
    post:
      operationId: schedule_series_add_leave
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLeave'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateLeave'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateLeave'
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateLeave'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateLeave'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
          description: OK
      security:
      - oauth2:
        - write_schedule
      summary: Create new Leave Booking
      tags:
      - ScheduleSeries
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.schedule_series_controller
  /ScheduleSeries/EditBooking:
    put:
      operationId: schedule_series_edit_booking
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditBooking'
          text/json:
            schema:
              $ref: '#/components/schemas/EditBooking'
          application/xml:
            schema:
              $ref: '#/components/schemas/EditBooking'
          text/xml:
            schema:
              $ref: '#/components/schemas/EditBooking'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EditBooking'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
          description: OK
      security:
      - oauth2:
        - write_schedule
      summary: Edit Booking
      tags:
      - ScheduleSeries
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.schedule_series_controller
  /ScheduleSeries/EditLeave:
    put:
      operationId: schedule_series_edit_leave
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditLeave'
          text/json:
            schema:
              $ref: '#/components/schemas/EditLeave'
          application/xml:
            schema:
              $ref: '#/components/schemas/EditLeave'
          text/xml:
            schema:
              $ref: '#/components/schemas/EditLeave'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EditLeave'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesDetails'
          description: OK
      security:
      - oauth2:
        - write_schedule
      summary: Edit Leave Booking
      tags:
      - ScheduleSeries
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.schedule_series_controller
  /api/Account:
    get:
      operationId: account_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/AccountDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/AccountDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/AccountDetails'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_account
      summary: Account Details
      tags:
      - Account
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /api/Bill:
    get:
      description: "TransactionStatusCode values are: \"Draft\", \"Verified\", \"\
        Late\", \"Paid\", \"Partial\", \"Void\""
      operationId: bill_get
      parameters:
      - in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - in: query
        name: Sort
        schema:
          type: string
      - in: query
        name: CompanyIDFK
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillList'
            text/json:
              schema:
                $ref: '#/components/schemas/BillList'
            application/xml:
              schema:
                $ref: '#/components/schemas/BillList'
            text/xml:
              schema:
                $ref: '#/components/schemas/BillList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_financials
      summary: Gets list of Bills
      tags:
      - Bill
      x-openapi-router-controller: openapi_server.controllers.bill_controller
    post:
      operationId: bill_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewBill'
          text/json:
            schema:
              $ref: '#/components/schemas/NewBill'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewBill'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewBill'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewBill'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
            text/json:
              schema:
                $ref: '#/components/schemas/Bill'
            application/xml:
              schema:
                $ref: '#/components/schemas/Bill'
            text/xml:
              schema:
                $ref: '#/components/schemas/Bill'
          description: OK
      security:
      - oauth2:
        - write_financials
      summary: Create a new draft Bill
      tags:
      - Bill
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.bill_controller
  /api/Bill/{id}:
    get:
      operationId: bill_get_by_id
      parameters:
      - description: Bill Transaction ID number
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      security:
      - oauth2:
        - read_financials
      summary: Gets a Bill by Bill ID
      tags:
      - Bill
      x-openapi-router-controller: openapi_server.controllers.bill_controller
  /api/BillPayment:
    get:
      operationId: bill_payment_get
      parameters:
      - in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillPaymentList'
            text/json:
              schema:
                $ref: '#/components/schemas/BillPaymentList'
            application/xml:
              schema:
                $ref: '#/components/schemas/BillPaymentList'
            text/xml:
              schema:
                $ref: '#/components/schemas/BillPaymentList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_financials
      summary: Gets list of Bill Payments
      tags:
      - BillPayment
      x-openapi-router-controller: openapi_server.controllers.bill_payment_controller
    post:
      operationId: bill_payment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewBillPayment'
          text/json:
            schema:
              $ref: '#/components/schemas/NewBillPayment'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewBillPayment'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewBillPayment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewBillPayment'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillPayment'
            text/json:
              schema:
                $ref: '#/components/schemas/BillPayment'
            application/xml:
              schema:
                $ref: '#/components/schemas/BillPayment'
            text/xml:
              schema:
                $ref: '#/components/schemas/BillPayment'
          description: OK
      security:
      - oauth2:
        - write_financials
      summary: Create new Bill Payment and optionally assign payment allocations to
        Bills
      tags:
      - BillPayment
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.bill_payment_controller
  /api/BillPayment/{id}:
    get:
      operationId: bill_payment_get_by_id
      parameters:
      - description: Invoice Transaction ID Number
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillPayment'
            text/json:
              schema:
                $ref: '#/components/schemas/BillPayment'
            application/xml:
              schema:
                $ref: '#/components/schemas/BillPayment'
            text/xml:
              schema:
                $ref: '#/components/schemas/BillPayment'
          description: Success
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      security:
      - oauth2:
        - read_financials
      summary: Gets a Bill Payment by Payment Transaction ID
      tags:
      - BillPayment
      x-openapi-router-controller: openapi_server.controllers.bill_payment_controller
  /api/Company:
    get:
      operationId: company_get
      parameters:
      - in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - description: Number of results per page
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: 1 based page number to retrieve
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - description: "(optional) Supply one of: \"DateUpdated\", \"DateCreated\",\
          \ \"CompanyName\",\"DateUpdated desc\",\"DateCreated desc\", \"CompanyName\
          \ desc\""
        in: query
        name: Sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyList'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_contacts
      summary: Gets list of Companies
      tags:
      - Company
      x-openapi-router-controller: openapi_server.controllers.company_controller
    post:
      operationId: company_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCompany'
          text/json:
            schema:
              $ref: '#/components/schemas/NewCompany'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewCompany'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewCompany'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewCompany'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
            text/json:
              schema:
                $ref: '#/components/schemas/Company'
            application/xml:
              schema:
                $ref: '#/components/schemas/Company'
            text/xml:
              schema:
                $ref: '#/components/schemas/Company'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - write_contacts
      summary: Create a Company
      tags:
      - Company
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.company_controller
    put:
      description: Requires CompanyID and a list of field names to update. The FieldsToUpdate
        field accepts a string array containing field names that should be updated.
      operationId: company_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateCompany'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
            text/json:
              schema:
                $ref: '#/components/schemas/Company'
            application/xml:
              schema:
                $ref: '#/components/schemas/Company'
            text/xml:
              schema:
                $ref: '#/components/schemas/Company'
          description: OK
      security:
      - oauth2:
        - write_contacts
      summary: Update a Company record.
      tags:
      - Company
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.company_controller
  /api/Company/Lookup:
    get:
      description: Certain roles see a restricted set of companies based on their
        project memberships
      operationId: company_lookup
      parameters:
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - description: Search string to match against Company title
        in: query
        name: search
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDropdownList'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyDropdownList'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyDropdownList'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyDropdownList'
          description: OK
      security:
      - oauth2:
        - read_contacts
      summary: Gets minimal list of Companies.
      tags:
      - Company
      x-openapi-router-controller: openapi_server.controllers.company_controller
  /api/Company/{id}:
    get:
      operationId: company_get_by_id
      parameters:
      - description: Company ID Number
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
            text/json:
              schema:
                $ref: '#/components/schemas/Company'
            application/xml:
              schema:
                $ref: '#/components/schemas/Company'
            text/xml:
              schema:
                $ref: '#/components/schemas/Company'
          description: Success
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      security:
      - oauth2:
        - read_contacts
      summary: Gets Company by Company ID
      tags:
      - Company
      x-openapi-router-controller: openapi_server.controllers.company_controller
  /api/Contact:
    get:
      operationId: contact_get
      parameters:
      - in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - in: query
        name: Sort
        schema:
          type: string
      - in: query
        name: CompanyIDFK
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
            text/json:
              schema:
                $ref: '#/components/schemas/ContactList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ContactList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ContactList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_contacts
      summary: Gets list of Contacts
      tags:
      - Contact
      x-openapi-router-controller: openapi_server.controllers.contact_controller
    post:
      operationId: contact_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCompanyContact'
          text/json:
            schema:
              $ref: '#/components/schemas/NewCompanyContact'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewCompanyContact'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewCompanyContact'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewCompanyContact'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyContact'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyContact'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyContact'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyContact'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - write_contacts
      summary: Create a Contact
      tags:
      - Contact
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.contact_controller
  /api/Contact/{id}:
    get:
      operationId: contact_get_by_id
      parameters:
      - description: Contact ID number
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyContact'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyContact'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyContact'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyContact'
          description: Success
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      security:
      - oauth2:
        - read_contacts
      summary: Gets Contact by Contact ID
      tags:
      - Contact
      x-openapi-router-controller: openapi_server.controllers.contact_controller
  /api/CreditNote:
    get:
      operationId: credit_note_get
      parameters:
      - in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNoteList'
            text/json:
              schema:
                $ref: '#/components/schemas/CreditNoteList'
            application/xml:
              schema:
                $ref: '#/components/schemas/CreditNoteList'
            text/xml:
              schema:
                $ref: '#/components/schemas/CreditNoteList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_financials
      summary: Gets list of CreditNotes
      tags:
      - CreditNote
      x-openapi-router-controller: openapi_server.controllers.credit_note_controller
  /api/CreditNote/{id}:
    get:
      operationId: credit_note_get_by_id
      parameters:
      - description: Credit Note ID Number
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
            text/json:
              schema:
                $ref: '#/components/schemas/CreditNote'
            application/xml:
              schema:
                $ref: '#/components/schemas/CreditNote'
            text/xml:
              schema:
                $ref: '#/components/schemas/CreditNote'
          description: Success
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      security:
      - oauth2:
        - read_financials
      summary: Gets Credit Note by CreditNoteID
      tags:
      - CreditNote
      x-openapi-router-controller: openapi_server.controllers.credit_note_controller
  /api/Currency:
    get:
      operationId: currency_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyList'
            text/json:
              schema:
                $ref: '#/components/schemas/CurrencyList'
            application/xml:
              schema:
                $ref: '#/components/schemas/CurrencyList'
            text/xml:
              schema:
                $ref: '#/components/schemas/CurrencyList'
          description: Success
      summary: Gets list of Currencies
      tags:
      - Currency
      x-openapi-router-controller: openapi_server.controllers.currency_controller
  /api/Estimate:
    get:
      description: "EstimateStatusCode values are: \"Draft\", \"Sent\", \"Accepted\"\
        , \"Converted\", \"Expired\", \"Rejected\""
      operationId: estimate_get
      parameters:
      - in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - in: query
        name: Sort
        schema:
          type: string
      - in: query
        name: CompanyIDFK
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateList'
            text/json:
              schema:
                $ref: '#/components/schemas/EstimateList'
            application/xml:
              schema:
                $ref: '#/components/schemas/EstimateList'
            text/xml:
              schema:
                $ref: '#/components/schemas/EstimateList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_financials
      summary: Gets list of Estimates
      tags:
      - Estimate
      x-openapi-router-controller: openapi_server.controllers.estimate_controller
    post:
      operationId: estimate_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewEstimate'
          text/json:
            schema:
              $ref: '#/components/schemas/NewEstimate'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewEstimate'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewEstimate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewEstimate'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/EstimateDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/EstimateDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/EstimateDetails'
          description: OK
      security:
      - oauth2:
        - write_financials
      summary: Create a new draft Estimate
      tags:
      - Estimate
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.estimate_controller
  /api/Estimate/{id}:
    get:
      operationId: estimate_get_by_id
      parameters:
      - description: Estimate Estimate ID number
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      security:
      - oauth2:
        - read_financials
      summary: Gets Estimate by Estimate ID
      tags:
      - Estimate
      x-openapi-router-controller: openapi_server.controllers.estimate_controller
  /api/Expense:
    delete:
      operationId: expense_delete
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: int64
                type: integer
              type: array
          text/json:
            schema:
              items:
                format: int64
                type: integer
              type: array
          application/xml:
            schema:
              items:
                format: int64
                type: integer
              type: array
          text/xml:
            schema:
              items:
                format: int64
                type: integer
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                format: int64
                type: integer
              type: array
        description: A collection of ExpenseIDs to delete
        required: true
        x-body-name: ExpenseIDs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseDeleteResultSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseDeleteResultSet'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDeleteResultSet'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDeleteResultSet'
          description: OK
      security:
      - oauth2:
        - write_expenses
      summary: Delete a Timesheet Entry
      tags:
      - Expense
      x-codegen-request-body-name: ExpenseIDs
      x-openapi-router-controller: openapi_server.controllers.expense_controller
    get:
      operationId: expense_get
      parameters:
      - in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - in: query
        name: ExpenseDateFrom
        schema:
          format: date-time
          type: string
      - in: query
        name: ExpenseDateTo
        schema:
          format: date-time
          type: string
      - in: query
        name: UserEmail
        schema:
          type: string
      - in: query
        name: UserID
        schema:
          format: int32
          type: integer
      - in: query
        name: CategoryName
        schema:
          type: string
      - in: query
        name: CustomerID
        schema:
          format: int32
          type: integer
      - in: query
        name: ProjectID
        schema:
          format: int32
          type: integer
      - in: query
        name: isChargeable
        schema:
          type: boolean
      - in: query
        name: isInvoiced
        schema:
          type: boolean
      - in: query
        name: ExpenseReimbursementIDFK
        schema:
          format: int64
          type: integer
      - in: query
        name: ExpensePaymentMethodIDFK
        schema:
          format: int32
          type: integer
      - in: query
        name: ExpenseApprovalStatusCode
        schema:
          type: string
      - in: query
        name: Search
        schema:
          type: string
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - in: query
        name: Sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_expenses
      summary: Gets list of Expenses
      tags:
      - Expense
      x-openapi-router-controller: openapi_server.controllers.expense_controller
    post:
      description: Create an Expense
      operationId: expense_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewExpense'
          text/json:
            schema:
              $ref: '#/components/schemas/NewExpense'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewExpense'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewExpense'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewExpense'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
          description: OK
      security:
      - oauth2:
        - write_expenses
      summary: Create an Expense
      tags:
      - Expense
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.expense_controller
    put:
      description: Update an Expense
      operationId: expense_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpense'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateExpense'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateExpense'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateExpense'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateExpense'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
          description: OK
      security:
      - oauth2:
        - write_expenses
      summary: Update an Expense
      tags:
      - Expense
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.expense_controller
  /api/Expense/Attachment:
    post:
      operationId: expense_attachment
      requestBody:
        content:
          application/form-data:
            schema:
              $ref: '#/components/schemas/ExpenseAttachment_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseAttachmentUploadResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseAttachmentUploadResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseAttachmentUploadResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseAttachmentUploadResult'
          description: OK
      security:
      - oauth2:
        - write_expenses
      tags:
      - Expense
      x-openapi-router-controller: openapi_server.controllers.expense_controller
      x-codegen-request-body-name: body
  /api/Expense/{id}:
    get:
      operationId: expense_get_by_id
      parameters:
      - description: Expense ID number
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
          description: Success
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      security:
      - oauth2:
        - read_expenses
      summary: Gets an Expense Entry by Expense ID
      tags:
      - Expense
      x-openapi-router-controller: openapi_server.controllers.expense_controller
  /api/ExpenseApproval/Submit:
    post:
      operationId: expense_approval
      parameters:
      - description: The user to submit the Expenses for. Defaults to current user.
          Only allowed to be different from the current user when the current user
          has rights to Impersonate other users.
        in: query
        name: UserID
        schema:
          format: int32
          type: integer
      - description: Send email alerts to expense approvers. Defaults to true
        in: query
        name: SendNotifications
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: int64
                type: integer
              type: array
          text/json:
            schema:
              items:
                format: int64
                type: integer
              type: array
          application/xml:
            schema:
              items:
                format: int64
                type: integer
              type: array
          text/xml:
            schema:
              items:
                format: int64
                type: integer
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                format: int64
                type: integer
              type: array
        description: "A collection of ExpenseID's that should be submitted for approval.\
          \ If not provided, submits all verified expenses for approval."
        required: true
        x-body-name: ExpenseIDs
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
          description: OK
      security:
      - oauth2:
        - write_expenses
      summary: Submit Expenses for Approval.
      tags:
      - Expense
      x-codegen-request-body-name: ExpenseIDs
      x-openapi-router-controller: openapi_server.controllers.expense_controller
  /api/ExpenseCategory:
    get:
      description: The default sort order is by Name asc
      operationId: expense_category_get
      parameters:
      - description: Optional filter on for enabled/disabled categories. Defaults
          to true.
        in: query
        name: isEnabled
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseCategoryList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_expenses
      summary: Gets list of Expense Categories
      tags:
      - ExpenseCategory
      x-openapi-router-controller: openapi_server.controllers.expense_category_controller
  /api/ExpenseGroup/Lookup:
    get:
      description: Expense Groups are for adhoc grouping of reported expenses. e.g.
        for expenses incurred on a Trip
      operationId: expense_group_lookup
      parameters:
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - description: Search string to match against Expense Group Name
        in: query
        name: search
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseGroupDropdownList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseGroupDropdownList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseGroupDropdownList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseGroupDropdownList'
          description: OK
      security:
      - oauth2:
        - read_expenses
      summary: Gets minimal list of Expense Groups.
      tags:
      - ExpenseGroup
      x-openapi-router-controller: openapi_server.controllers.expense_group_controller
  /api/ExpenseMerchant/Lookup:
    get:
      operationId: expense_merchange_lookup
      parameters:
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - description: Search string to match against Expense Group Name
        in: query
        name: search
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseMerchantDropdownList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseMerchantDropdownList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseMerchantDropdownList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseMerchantDropdownList'
          description: OK
      security:
      - oauth2:
        - read_expenses
      summary: Gets minimal list of Expense Merchants.
      tags:
      - ExpenseMerchant
      x-openapi-router-controller: openapi_server.controllers.expense_merchant_controller
  /api/ExpensePaymentMethod/Lookup:
    get:
      operationId: expense_payment_method_lookup
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpensePaymentMethodDropdownList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpensePaymentMethodDropdownList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpensePaymentMethodDropdownList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpensePaymentMethodDropdownList'
          description: OK
      security:
      - oauth2:
        - read_expenses
      summary: Gets minimal list of Expense Payment Methods.
      tags:
      - ExpensePaymentMethod
      x-openapi-router-controller: openapi_server.controllers.expense_payment_method_controller
  /api/ExpenseSummary:
    get:
      operationId: expense_summary_get
      parameters:
      - description: "(Optional) Combine one, two or three levels of Grouping. Combine\
          \ these possible grouping values: \"Category\", \"ChargeableStatus\", \"\
          Merchant\", \"ApprovalStatus\", \"ReimbursementStatus\", \"Customer\", \"\
          Project\", \"User\", \"Task\", \"Year\", \"Month\", \"Day\", \"Week\"."
        explode: true
        in: query
        name: model.groupBy
        schema:
          items:
            type: string
          type: array
        style: form
      - description: (Required) Filter for expenses with expense dates greater or
          equal to the specified date. e.g. 2019-01-25.
        in: query
        name: model.expenseDateFrom
        schema:
          format: date-time
          type: string
      - description: (Required) Filter for expenses with an expense date smaller or
          equal to the specified  date. e.g. 2019-01-25.
        in: query
        name: model.expenseDateTo
        schema:
          format: date-time
          type: string
      - description: "(Optional) Defaults to the current user. Provide one or more\
          \ UserIDs of Users whose expenses should be retrieved. If the current user\
          \ doesn't have impersonation rights, then they will only see their own data."
        explode: true
        in: query
        name: model.userID
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: (Optional) Filter by Project
        in: query
        name: model.projectID
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseSummaryResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseSummaryResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseSummaryResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseSummaryResult'
          description: OK
      security:
      - oauth2:
        - read_expenses
      summary: Gets Basic Summary of Expense Statistics
      tags:
      - ExpenseSummary
      x-openapi-router-controller: openapi_server.controllers.expense_summary_controller
  /api/FixedAmount:
    get:
      operationId: fixed_amount_get
      parameters:
      - in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - in: query
        name: EntryDateFrom
        schema:
          format: date-time
          type: string
      - in: query
        name: EntryDateTo
        schema:
          format: date-time
          type: string
      - description: (Optional) The ProjectID of a Project to filter Fixed Amounts
          for
        in: query
        name: ProjectID
        schema:
          format: int32
          type: integer
      - description: (Optional) The TaskID of a Task to filter Fixed Amounts for
        in: query
        name: TaskID
        schema:
          format: int32
          type: integer
      - in: query
        name: isInvoiced
        schema:
          type: boolean
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - description: "Optional sorting instruction. Currently possible values: \"\
          DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\"\
          ,\"EntryDate\", \"EntryDate desc\", \"StartTimeLocal\",\"StartTimeLocal\
          \ desc\", \"TimeSheetEntryID\", \"TimeSheetEntryID desc\""
        in: query
        name: Sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixedAmountList'
            text/json:
              schema:
                $ref: '#/components/schemas/FixedAmountList'
            application/xml:
              schema:
                $ref: '#/components/schemas/FixedAmountList'
            text/xml:
              schema:
                $ref: '#/components/schemas/FixedAmountList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_financials
      summary: Gets list of Fixed Amounts
      tags:
      - FixedAmount
      x-openapi-router-controller: openapi_server.controllers.fixed_amount_controller
  /api/Inventory:
    get:
      operationId: inventory_get
      parameters:
      - in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryList'
            text/json:
              schema:
                $ref: '#/components/schemas/InventoryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/InventoryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/InventoryList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_financials
      summary: Gets list of Inventory
      tags:
      - Inventory
      x-openapi-router-controller: openapi_server.controllers.inventory_controller
  /api/Inventory/{id}:
    get:
      operationId: inventory_get_by_id
      parameters:
      - description: InventoryItem ID number
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      security:
      - oauth2:
        - read_financials
      summary: Gets InventoryItem by InventoryItem ID
      tags:
      - Inventory
      x-openapi-router-controller: openapi_server.controllers.inventory_controller
  /api/Invoice:
    get:
      description: "TransactionStatusCode values are: \"Draft\", \"Sent\", \"Late\"\
        , \"Paid\", \"Partial\", \"Void\""
      operationId: invoice_get
      parameters:
      - in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - in: query
        name: Sort
        schema:
          type: string
      - in: query
        name: CompanyIDFK
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceList'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceList'
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceList'
            text/xml:
              schema:
                $ref: '#/components/schemas/InvoiceList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_financials
      summary: Gets list of Invoices
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
    post:
      operationId: invoice_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewInvoice'
          text/json:
            schema:
              $ref: '#/components/schemas/NewInvoice'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewInvoice'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewInvoice'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewInvoice'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
            text/json:
              schema:
                $ref: '#/components/schemas/Invoice'
            application/xml:
              schema:
                $ref: '#/components/schemas/Invoice'
            text/xml:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: OK
      security:
      - oauth2:
        - write_financials
      summary: Create a new draft invoice
      tags:
      - Invoice
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
  /api/Invoice/{id}:
    get:
      operationId: invoice_get_by_id
      parameters:
      - description: Invoice Transaction ID number
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      security:
      - oauth2:
        - read_financials
      summary: Gets Invoice by Invoice ID
      tags:
      - Invoice
      x-openapi-router-controller: openapi_server.controllers.invoice_controller
  /api/Payment:
    get:
      operationId: payment_get
      parameters:
      - description: Filter for Payments that have at least one allocation against
          a given Invoice Transaction ID
        in: query
        name: InvoiceTransactionID
        schema:
          format: int64
          type: integer
      - description: Filter for Payments updated after a given date
        in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentList'
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentList'
            application/xml:
              schema:
                $ref: '#/components/schemas/PaymentList'
            text/xml:
              schema:
                $ref: '#/components/schemas/PaymentList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_financials
      summary: Gets list of Payments
      tags:
      - Payment
      x-openapi-router-controller: openapi_server.controllers.payment_controller
    post:
      operationId: payment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPayment'
          text/json:
            schema:
              $ref: '#/components/schemas/NewPayment'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewPayment'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewPayment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewPayment'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
            text/json:
              schema:
                $ref: '#/components/schemas/Payment'
            application/xml:
              schema:
                $ref: '#/components/schemas/Payment'
            text/xml:
              schema:
                $ref: '#/components/schemas/Payment'
          description: OK
      security:
      - oauth2:
        - write_financials
      summary: Create new Payment and optionally assign payment allocations to Invoices
      tags:
      - Payment
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.payment_controller
  /api/Payment/{id}:
    get:
      operationId: payment_get_by_id
      parameters:
      - description: Invoice Transaction ID Number
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
            text/json:
              schema:
                $ref: '#/components/schemas/Payment'
            application/xml:
              schema:
                $ref: '#/components/schemas/Payment'
            text/xml:
              schema:
                $ref: '#/components/schemas/Payment'
          description: Success
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      security:
      - oauth2:
        - read_financials
      summary: Gets Payment by Payment Transaction ID
      tags:
      - Payment
      x-openapi-router-controller: openapi_server.controllers.payment_controller
  /api/Project:
    get:
      operationId: project_get
      parameters:
      - description: Only show project records updated after a certain date (UTC)
        in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - description: "A column to sort on. Current possible values: \"DateUpdated\"\
          , \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\""
        in: query
        name: Sort
        schema:
          type: string
      - description: Filter to the projects that the supplied UserID can add timesheets
          to
        in: query
        name: TimesheetUserID
        schema:
          format: int32
          type: integer
      - description: Include Archived Projects in the results
        in: query
        name: includeArchived
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectList'
          description: OK
      security:
      - oauth2:
        - read_projects
      summary: Gets list of Projects
      tags:
      - Project
      x-openapi-router-controller: openapi_server.controllers.project_controller
    post:
      operationId: project_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewProjectModel'
          text/json:
            schema:
              $ref: '#/components/schemas/NewProjectModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewProjectModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewProjectModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewProjectModel'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - write_projects
      summary: Create a Project
      tags:
      - Project
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.project_controller
    put:
      description: Update a Project
      operationId: project_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectModel'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectModel'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateProjectModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateProjectModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateProjectModel'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
          description: OK
      security:
      - oauth2:
        - write_projects
      summary: Update an Project
      tags:
      - Project
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.project_controller
  /api/Project/Lookup:
    get:
      operationId: project_lookup
      parameters:
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - description: Optionally Filter to the projects that the supplied UserID can
          add timesheets to
        in: query
        name: TimesheetUserID
        schema:
          format: int32
          type: integer
      - description: Optionally Filter for a specific Company ID
        in: query
        name: CompanyIDFK
        schema:
          format: int32
          type: integer
      - description: Search string to match against Project title and Customer name
        in: query
        name: search
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDropdownList'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectDropdownList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectDropdownList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectDropdownList'
          description: OK
      security:
      - oauth2:
        - read_projects
      summary: Gets minimal list of active Projects for the current user
      tags:
      - Project
      x-openapi-router-controller: openapi_server.controllers.project_controller
  /api/Project/{id}:
    get:
      operationId: project_get_by_id
      parameters:
      - description: Project ID number
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectDetails'
          description: Success
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      security:
      - oauth2:
        - read_projects
      summary: Gets Project by Project ID
      tags:
      - Project
      x-openapi-router-controller: openapi_server.controllers.project_controller
  /api/ProjectMember:
    get:
      description: Include at least one of ProjectID or UserID parameters.
      operationId: project_member_get
      parameters:
      - description: Get Project members filtered by ProjectID
        in: query
        name: ProjectID
        schema:
          format: int32
          type: integer
      - description: Get Project members filtered by UserID
        in: query
        name: UserID
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMemberList'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectMemberList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectMemberList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectMemberList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_projects
      summary: Gets list of Project Members
      tags:
      - ProjectMember
      x-openapi-router-controller: openapi_server.controllers.project_member_controller
    post:
      description: "the Amount columns for Cost, Budget, Rates should be specified\
        \ as a decimal. Financial amounts assume the currency of the Customer company.\
        \ Budget units depend on the Budget method set on the Project."
      operationId: project_member_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewProjectMember'
          text/json:
            schema:
              $ref: '#/components/schemas/NewProjectMember'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewProjectMember'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewProjectMember'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewProjectMember'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
          description: OK
      security:
      - oauth2:
        - write_projects
      summary: Assign a user as a Member of a Project
      tags:
      - ProjectMember
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.project_member_controller
    put:
      description: "Fields are only updated if their field name is in the FieldsToUpdate\
        \ string collection. The Amount columns for Cost, Budget, Rates if specified\
        \ should be a decimal. Financial amounts assume the currency of the parent\
        \ Company. Budget units depend on the Budget method set on the Project."
      operationId: project_member_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectMember'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectMember'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateProjectMember'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateProjectMember'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateProjectMember'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectMemberDetails'
          description: OK
      security:
      - oauth2:
        - write_projects
      summary: Update a Member of a Project
      tags:
      - ProjectMember
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.project_member_controller
  /api/ProjectTimesheetCategory:
    get:
      description: "The default sort order is by isBillable desc, Name asc"
      operationId: project_timesheet_category_get
      parameters:
      - description: Get categories filtered by ProjectID
        in: query
        name: ProjectID
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryList'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_timesheets
      summary: Gets list of Project Timesheet Categories
      tags:
      - ProjectTimesheetCategory
      x-openapi-router-controller: openapi_server.controllers.project_timesheet_category_controller
    post:
      operationId: project_timesheet_category_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignProjectTimesheetCategory'
          text/json:
            schema:
              $ref: '#/components/schemas/AssignProjectTimesheetCategory'
          application/xml:
            schema:
              $ref: '#/components/schemas/AssignProjectTimesheetCategory'
          text/xml:
            schema:
              $ref: '#/components/schemas/AssignProjectTimesheetCategory'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AssignProjectTimesheetCategory'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProjectTimesheetCategoryDetails'
          description: OK
      security:
      - oauth2:
        - write_projects
      summary: Assign a TimeSheetCategory to a Project.
      tags:
      - ProjectTimesheetCategory
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.project_timesheet_category_controller
  /api/ScheduleAssignment:
    get:
      description: "Schedule assignments are per-day, and link to a parent Schedule\
        \ Series."
      operationId: schedule_assignment_get
      parameters:
      - description: Limit results to records updated after the specified date
        in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - description: Filter for schedule assignement  that are  on or after a specific
          date
        in: query
        name: ScheduleDateFrom
        schema:
          format: date-time
          type: string
      - description: Filter for schedules that are on or before a specific date
        in: query
        name: ScheduleDateTo
        schema:
          format: date-time
          type: string
      - description: Filter to records for a particular Schedule Series
        in: query
        name: ScheduleSeriesID
        schema:
          format: int64
          type: integer
      - description: The UserID of a schedule user to filter assignments for. Only
          api users with Admin role can see all schedules across all users. Users
          with ScheduleUser role can access their own ScheduleSeries.
        in: query
        name: UserID
        schema:
          format: int32
          type: integer
      - description: The email of the user who has been scheduled
        in: query
        name: UserEmail
        schema:
          type: string
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - description: "Optional sorting instruction. Currently possible values: \"\
          DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\""
        in: query
        name: Sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleAssignmentList'
            text/json:
              schema:
                $ref: '#/components/schemas/ScheduleAssignmentList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduleAssignmentList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ScheduleAssignmentList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_schedule
      summary: Gets list of Schedule Assignments.
      tags:
      - ScheduleAssignment
      x-openapi-router-controller: openapi_server.controllers.schedule_assignment_controller
  /api/ScheduleSeries:
    get:
      description: "Schedule Series represents a strip of time assigned to a user\
        \ over a date range, for a certain number of hours per day. They can be for\
        \ Leave or for project work Bookings."
      operationId: schedule_series_get
      parameters:
      - description: Limit results to records updated after the specified date
        in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - description: Filter for schedules that start on or after a specific date
        in: query
        name: ScheduleStartDateFrom
        schema:
          format: date-time
          type: string
      - description: Filter for schedules that start on or before a specific date
        in: query
        name: ScheduleStartDateTo
        schema:
          format: date-time
          type: string
      - description: Filter for schedules that end on or after a specific date
        in: query
        name: ScheduleEndDateFrom
        schema:
          format: date-time
          type: string
      - description: Filter for schedules that end on or before a specific date
        in: query
        name: ScheduleEndDateTo
        schema:
          format: date-time
          type: string
      - description: The UserID of a schedule user to filter assignments for. Only
          api users with Admin role can see all schedules across all users. Users
          with ScheduleUser role can access their own ScheduleSeries.
        in: query
        name: UserID
        schema:
          format: int32
          type: integer
      - description: The email of the user who has been scheduled
        in: query
        name: UserEmail
        schema:
          type: string
      - description: Filter for schedule records linked to a specific timesheeet category
        in: query
        name: TimeSheetCategoryID
        schema:
          format: int32
          type: integer
      - description: Filter for schedule records with a specific timesheeet category
          name (exact string match)
        in: query
        name: TimeSheetCategoryName
        schema:
          type: string
      - description: Filter to records of a particular leave type
        in: query
        name: LeaveTypeID
        schema:
          format: int32
          type: integer
      - description: Filter to only include books linked to a specific project
        in: query
        name: ProjectID
        schema:
          format: int32
          type: integer
      - description: "Filter to only include records linked to projects, where that\
          \ project belongs to a specific customer company"
        in: query
        name: CompanyID
        schema:
          format: int32
          type: integer
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - description: "Optional sorting instruction. Currently possible values: \"\
          DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\""
        in: query
        name: Sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesList'
            text/json:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ScheduleSeriesList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_schedule
      summary: Gets list of Schedule Series
      tags:
      - ScheduleSeries
      x-openapi-router-controller: openapi_server.controllers.schedule_series_controller
  /api/Section:
    delete:
      operationId: section_delete
      parameters:
      - in: query
        name: SectionID
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
          description: OK
      security:
      - oauth2:
        - write_projects
      summary: Delete a Section
      tags:
      - Section
      x-openapi-router-controller: openapi_server.controllers.section_controller
    get:
      operationId: section_get
      parameters:
      - description: Get sections for Project with ProjectID
        in: query
        name: ProjectID
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionList'
            text/json:
              schema:
                $ref: '#/components/schemas/SectionList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SectionList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SectionList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_projects
      summary: Gets list of Sections
      tags:
      - Section
      x-openapi-router-controller: openapi_server.controllers.section_controller
    post:
      operationId: section_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSection'
          text/json:
            schema:
              $ref: '#/components/schemas/NewSection'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewSection'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewSection'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewSection'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/SectionDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/SectionDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/SectionDetails'
          description: OK
      security:
      - oauth2:
        - write_projects
      summary: Create a Section
      tags:
      - Section
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.section_controller
  /api/Task:
    delete:
      operationId: task_delete
      parameters:
      - in: query
        name: TaskID
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
          description: OK
      security:
      - oauth2:
        - write_projects
      summary: Delete a Task
      tags:
      - Task
      x-openapi-router-controller: openapi_server.controllers.task_controller
    get:
      operationId: task_get
      parameters:
      - description: Optional filter to records updated after a specific date.
        in: query
        name: UpdatedAfter
        schema:
          format: date-time
          type: string
      - description: Number of items per page. Defaults to 20.
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1. Defaults to 1
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - description: "Optional sorting instruction. Currently possible values: \"\
          DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\"\
          , \"SectionTitle\", \"Title\""
        in: query
        name: Sort
        schema:
          type: string
      - description: "Optional filter to only display tasks linked to a Task Status\
          \ where isComplete=false, or where isComplete=true"
        in: query
        name: isComplete
        schema:
          type: boolean
      - description: Optional filter to only display tasks belonging to a specific
          ProjectID
        in: query
        name: ProjectID
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskList'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskList'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskList'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaskList'
          description: Success
        "401":
          content: {}
          description: Unauthorized
      security:
      - oauth2:
        - read_projects
      summary: Gets list of Tasks
      tags:
      - Task
      x-openapi-router-controller: openapi_server.controllers.task_controller
    post:
      operationId: task_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTask'
          text/json:
            schema:
              $ref: '#/components/schemas/NewTask'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewTask'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewTask'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewTask'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaskDetails'
          description: OK
      security:
      - oauth2:
        - write_projects
      summary: Create a Task
      tags:
      - Task
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.task_controller
    put:
      description: Requires TaskID and a list of field names to update. The FieldsToUpdate
        field accepts a string array containing field names that should be updated.
      operationId: task_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTask'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateTask'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateTask'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateTask'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateTask'
        required: true
        x-body-name: model
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaskDetails'
          description: OK
      security:
      - oauth2:
        - write_projects
      summary: Update a Task.
      tags:
      - Task
      x-codegen-request-body-name: model
      x-openapi-router-controller: openapi_server.controllers.task_controller
  /api/Task/Lookup:
    get:
      description: Groups Tasks by Section. Default sort is by Section Title followed
        by Task Title
      operationId: task_lookup
      parameters:
      - description: (required) The ProjectID to use when filtering Tasks
        in: query
        name: projectID
        required: true
        schema:
          format: int32
          type: integer
      - description: Number of items per page (max 1000)
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Page to display. Starts from 1.
        in: query
        name: pageNumber
        schema:
          format: int32
          type: integer
      - description: (optional) true/false to hide completed tasks. Defaults false
        in: query
        name: hideCompleted
        schema:
          type: boolean
      - description: (optional) Search string to match against Task title. Performs
          begins-with match
        in: query
        name: search
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDropdownList'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskDropdownList'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskDropdownList'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaskDropdownList'
          description: OK
      security:
      - oauth2:
        - read_projects
      summary: Gets minimal list of Tasks for the current user
      tags:
      - Task
      x-openapi-router-controller: openapi_server.controllers.task_controller
  /api/Task/{id}:
    get:
      operationId: task_get_by_id
      parameters:
      - description: Task ID number
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/TaskDetails'
          description: Success
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      security:
      - oauth2:
        - read_projects
      summary: Gets Task by Task ID
      tags:
      - Task
      x-openapi-router-controller: openapi_server.controllers.task_controller
  /api/TaskStatus:
    get:
      operationId: task_status_get
      responses:
        "200":
          content:
[...]
