openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "The Runtime Configurator allows you to dynamically configure and expose\
    \ variables through Google Cloud Platform. In addition, you can also set Watchers\
    \ and Waiters that will watch for changes to your data and return based on certain\
    \ conditions."
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Runtime Configuration API
  version: v1beta1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://runtimeconfig.googleapis.com/$discovery/rest?version=v1beta1
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: runtimeconfig
externalDocs:
  url: https://cloud.google.com/deployment-manager/runtime-configurator/
servers:
- url: https://runtimeconfig.googleapis.com/
tags:
- name: projects
paths:
  /v1beta1/{name}:
    delete:
      description: Deletes the waiter with the specified name.
      operationId: runtimeconfig_projects_configs_waiters_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The Waiter resource to delete, in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]/waiters/[WAITER_NAME]`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Set to `true` to recursively delete multiple variables with the
          same prefix.
        explode: true
        in: query
        name: recursive
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloudruntimeconfig
        Oauth2c:
        - https://www.googleapis.com/auth/cloudruntimeconfig
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: Gets information about a single waiter.
      operationId: runtimeconfig_projects_configs_waiters_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The fully-qualified name of the Waiter resource object to retrieve,\
          \ in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]/waiters/[WAITER_NAME]`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Waiter'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloudruntimeconfig
        Oauth2c:
        - https://www.googleapis.com/auth/cloudruntimeconfig
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    put:
      description: Updates an existing variable with a new value.
      operationId: runtimeconfig_projects_configs_variables_update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The name of the variable to update, in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]/variables/[VARIABLE_NAME]`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Variable'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variable'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloudruntimeconfig
        Oauth2c:
        - https://www.googleapis.com/auth/cloudruntimeconfig
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{name}:watch:
    post:
      description: "Watches a specific variable and waits for a change in the variable's\
        \ value. When there is a change, this method returns the new value or times\
        \ out. If a variable is deleted while being watched, the `variableState` state\
        \ is set to `DELETED` and the method returns the last known variable `value`.\
        \ If you set the deadline for watching to a larger value than internal timeout\
        \ (60 seconds), the current variable value is returned and the `variableState`\
        \ will be `VARIABLE_STATE_UNSPECIFIED`. To learn more about creating a watcher,\
        \ read the [Watching a Variable for Changes](/deployment-manager/runtime-configurator/watching-a-variable)\
        \ documentation."
      operationId: runtimeconfig_projects_configs_variables_watch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The name of the variable to watch, in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchVariableRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variable'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloudruntimeconfig
        Oauth2c:
        - https://www.googleapis.com/auth/cloudruntimeconfig
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{parent}/configs:
    get:
      description: Lists all the RuntimeConfig resources within project.
      operationId: runtimeconfig_projects_configs_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The [project ID](https://support.google.com/cloud/answer/6158840?hl=en&ref_topic=6158848)\
          \ for this request, in the format `projects/[PROJECT_ID]`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Specifies the number of results to return per page. If there\
          \ are fewer elements than the specified number, returns all elements."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Specifies a page token to use. Set `pageToken` to a `nextPageToken`
          returned by a previous list request to get the next page of results.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConfigsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloudruntimeconfig
        Oauth2c:
        - https://www.googleapis.com/auth/cloudruntimeconfig
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: Creates a new RuntimeConfig resource. The configuration name must
        be unique within project.
      operationId: runtimeconfig_projects_configs_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The [project ID](https://support.google.com/cloud/answer/6158840?hl=en&ref_topic=6158848)\
          \ for this request, in the format `projects/[PROJECT_ID]`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "An optional but recommended unique `request_id`. If the server\
          \ receives two `create()` requests with the same `request_id`, then the\
          \ second request will be ignored and the first resource created and stored\
          \ in the backend is returned. Empty `request_id` fields are ignored. It\
          \ is responsibility of the client to ensure uniqueness of the `request_id`\
          \ strings. `request_id` strings are limited to 64 characters."
        explode: true
        in: query
        name: requestId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuntimeConfig'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeConfig'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloudruntimeconfig
        Oauth2c:
        - https://www.googleapis.com/auth/cloudruntimeconfig
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{parent}/variables:
    get:
      description: "Lists variables within given a configuration, matching any provided\
        \ filters. This only lists variable names, not the values, unless `return_values`\
        \ is true, in which case only variables that user has IAM permission to GetVariable\
        \ will be returned."
      operationId: runtimeconfig_projects_configs_variables_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The path to the RuntimeConfig resource for which you want to\
          \ list variables. The configuration must exist beforehand; the path must\
          \ be in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Filters variables by matching the specified filter. For example:\
          \ `projects/example-project/config/[CONFIG_NAME]/variables/example-variable`."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Specifies the number of results to return per page. If there\
          \ are fewer elements than the specified number, returns all elements."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Specifies a page token to use. Set `pageToken` to a `nextPageToken`
          returned by a previous list request to get the next page of results.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "The flag indicates whether the user wants to return values of\
          \ variables. If true, then only those variables that user has IAM GetVariable\
          \ permission will be returned along with their values."
        explode: true
        in: query
        name: returnValues
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVariablesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloudruntimeconfig
        Oauth2c:
        - https://www.googleapis.com/auth/cloudruntimeconfig
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: "Creates a variable within the given configuration. You cannot\
        \ create a variable with a name that is a prefix of an existing variable name,\
        \ or a name that has an existing variable name as a prefix. To learn more\
        \ about creating a variable, read the [Setting and Getting Data](/deployment-manager/runtime-configurator/set-and-get-variables)\
        \ documentation."
      operationId: runtimeconfig_projects_configs_variables_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The path to the RutimeConfig resource that this variable should\
          \ belong to. The configuration must exist beforehand; the path must be in\
          \ the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "An optional but recommended unique `request_id`. If the server\
          \ receives two `create()` requests with the same `request_id`, then the\
          \ second request will be ignored and the first resource created and stored\
          \ in the backend is returned. Empty `request_id` fields are ignored. It\
          \ is responsibility of the client to ensure uniqueness of the `request_id`\
          \ strings. `request_id` strings are limited to 64 characters."
        explode: true
        in: query
        name: requestId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Variable'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variable'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloudruntimeconfig
        Oauth2c:
        - https://www.googleapis.com/auth/cloudruntimeconfig
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{parent}/waiters:
    get:
      description: List waiters within the given configuration.
      operationId: runtimeconfig_projects_configs_waiters_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The path to the configuration for which you want to get a list\
          \ of waiters. The configuration must exist beforehand; the path must be\
          \ in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Specifies the number of results to return per page. If there\
          \ are fewer elements than the specified number, returns all elements."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Specifies a page token to use. Set `pageToken` to a `nextPageToken`
          returned by a previous list request to get the next page of results.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWaitersResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloudruntimeconfig
        Oauth2c:
        - https://www.googleapis.com/auth/cloudruntimeconfig
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: "Creates a Waiter resource. This operation returns a long-running\
        \ Operation resource which can be polled for completion. However, a waiter\
        \ with the given name will exist (and can be retrieved) prior to the operation\
        \ completing. If the operation fails, the failed Waiter resource will still\
        \ exist and must be deleted prior to subsequent creation attempts."
      operationId: runtimeconfig_projects_configs_waiters_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The path to the configuration that will own the waiter. The\
          \ configuration must exist beforehand; the path must be in the format: `projects/[PROJECT_ID]/configs/[CONFIG_NAME]`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "An optional but recommended unique `request_id`. If the server\
          \ receives two `create()` requests with the same `request_id`, then the\
          \ second request will be ignored and the first resource created and stored\
          \ in the backend is returned. Empty `request_id` fields are ignored. It\
          \ is responsibility of the client to ensure uniqueness of the `request_id`\
          \ strings. `request_id` strings are limited to 64 characters."
        explode: true
        in: query
        name: requestId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Waiter'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloudruntimeconfig
        Oauth2c:
        - https://www.googleapis.com/auth/cloudruntimeconfig
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{resource}:getIamPolicy:
    get:
      description: Gets the access control policy for a resource. Returns an empty
        policy if the resource exists and does not have a policy set.
      operationId: runtimeconfig_projects_configs_get_iam_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being requested.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. The maximum policy version that will be used to format\
          \ the policy. Valid values are 0, 1, and 3. Requests specifying an invalid\
          \ value will be rejected. Requests for policies with any conditional role\
          \ bindings must specify version 3. Policies with no conditional role bindings\
          \ may specify any valid value or leave the field unset. The policy in the\
          \ response might use the policy version that you specified, or it might\
          \ use a lower policy version. For example, if you specify version 3, but\
          \ the policy has no conditional role bindings, the response uses version\
          \ 1. To learn which resources support conditions in their IAM policies,\
          \ see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        explode: true
        in: query
        name: options.requestedPolicyVersion
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloudruntimeconfig
        Oauth2c:
        - https://www.googleapis.com/auth/cloudruntimeconfig
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1beta1/{resource}:setIamPolicy:
    post:
      description: "Sets the access control policy on the specified resource. Replaces\
        \ any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED`\
        \ errors."
      operationId: runtimeconfig_projects_configs_set_iam_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being specified.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetIamPolicyRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloudruntimeconfig
        Oauth2c:
        - https://www.googleapis.com/auth/cloudruntimeconfig
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{resource}:testIamPermissions:
    post:
      description: "Returns permissions that a caller has on the specified resource.\
        \ If the resource does not exist, this will return an empty set of permissions,\
        \ not a `NOT_FOUND` error. Note: This operation is designed to be used for\
        \ building permission-aware UIs and command-line tools, not for authorization\
        \ checking. This operation may \"fail open\" without warning."
      operationId: runtimeconfig_projects_configs_waiters_test_iam_permissions
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy detail is being\
          \ requested. See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestIamPermissionsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestIamPermissionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloudruntimeconfig
        Oauth2c:
        - https://www.googleapis.com/auth/cloudruntimeconfig
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Binding:
      description: "Associates `members`, or principals, with a `role`."
      example:
        condition:
          expression: expression
          description: description
          location: location
          title: title
        role: role
        members:
        - members
        - members
      properties:
        condition:
          $ref: '#/components/schemas/Expr'
        members:
          description: "Specifies the principals requesting access for a Google Cloud\
            \ resource. `members` can have the following values: * `allUsers`: A special\
            \ identifier that represents anyone who is on the internet; with or without\
            \ a Google account. * `allAuthenticatedUsers`: A special identifier that\
            \ represents anyone who is authenticated with a Google account or a service\
            \ account. Does not include identities that come from external identity\
            \ providers (IdPs) through identity federation. * `user:{emailid}`: An\
            \ email address that represents a specific Google account. For example,\
            \ `alice@example.com` . * `serviceAccount:{emailid}`: An email address\
            \ that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`.\
            \ * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`:\
            \ An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts).\
            \ For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`.\
            \ * `group:{emailid}`: An email address that represents a Google group.\
            \ For example, `admins@example.com`. * `domain:{domain}`: The G Suite\
            \ domain (primary) that represents all the users of that domain. For example,\
            \ `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`:\
            \ A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`:\
            \ All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`:\
            \ All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`:\
            \ All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`:\
            \ A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`:\
            \ A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`:\
            \ All identities in a workload identity pool with a certain attribute.\
            \ * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`:\
            \ All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`:\
            \ An email address (plus unique identifier) representing a user that has\
            \ been recently deleted. For example, `alice@example.com?uid=123456789012345678901`.\
            \ If the user is recovered, this value reverts to `user:{emailid}` and\
            \ the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`:\
            \ An email address (plus unique identifier) representing a service account\
            \ that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\
            \ If the service account is undeleted, this value reverts to `serviceAccount:{emailid}`\
            \ and the undeleted service account retains the role in the binding. *\
            \ `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\
            \ identifier) representing a Google group that has been recently deleted.\
            \ For example, `admins@example.com?uid=123456789012345678901`. If the\
            \ group is recovered, this value reverts to `group:{emailid}` and the\
            \ recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`:\
            \ Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          items:
            type: string
          title: members
          type: array
        role:
          description: "Role that is assigned to the list of `members`, or principals.\
            \ For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an\
            \ overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview).\
            \ For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          title: role
          type: string
      title: Binding
      type: object
    Cardinality:
      description: "A Cardinality condition for the Waiter resource. A cardinality\
        \ condition is met when the number of variables under a specified path prefix\
        \ reaches a predefined number. For example, if you set a Cardinality condition\
        \ where the `path` is set to `/foo` and the number of paths is set to `2`,\
        \ the following variables would meet the condition in a RuntimeConfig resource:\
        \ + `/foo/variable1 = \"value1\"` + `/foo/variable2 = \"value2\"` + `/bar/variable3\
        \ = \"value3\"` It would not satisfy the same condition with the `number`\
        \ set to `3`, however, because there is only 2 paths that start with `/foo`.\
        \ Cardinality conditions are recursive; all subtrees under the specific path\
        \ prefix are counted."
      example:
        number: 6
        path: path
      properties:
        number:
          description: The number variables under the `path` that must exist to meet
            this condition. Defaults to 1 if not specified.
          format: int32
          title: number
          type: integer
        path:
          description: "The root of the variable subtree to monitor. For example,\
            \ `/foo`."
          title: path
          type: string
      title: Cardinality
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    EndCondition:
      description: The condition that a Waiter resource is waiting for.
      example:
        cardinality:
          number: 6
          path: path
      properties:
        cardinality:
          $ref: '#/components/schemas/Cardinality'
      title: EndCondition
      type: object
    Expr:
      description: "Represents a textual expression in the Common Expression Language\
        \ (CEL) syntax. CEL is a C-like expression language. The syntax and semantics\
        \ of CEL are documented at https://github.com/google/cel-spec. Example (Comparison):\
        \ title: \"Summary size limit\" description: \"Determines if a summary is\
        \ less than 100 chars\" expression: \"document.summary.size() < 100\" Example\
        \ (Equality): title: \"Requestor is owner\" description: \"Determines if requestor\
        \ is the document owner\" expression: \"document.owner == request.auth.claims.email\"\
        \ Example (Logic): title: \"Public documents\" description: \"Determine whether\
        \ the document should be publicly visible\" expression: \"document.type !=\
        \ 'private' && document.type != 'internal'\" Example (Data Manipulation):\
        \ title: \"Notification string\" description: \"Create a notification string\
        \ with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\"\
        \ The exact variables and functions that may be referenced within an expression\
        \ are determined by the service that evaluates it. See the service documentation\
        \ for additional information."
      example:
        expression: expression
        description: description
        location: location
        title: title
      properties:
        description:
          description: "Optional. Description of the expression. This is a longer\
            \ text which describes the expression, e.g. when hovered over it in a\
            \ UI."
          title: description
          type: string
        expression:
          description: Textual representation of an expression in Common Expression
            Language syntax.
          title: expression
          type: string
        location:
          description: "Optional. String indicating the location of the expression\
            \ for error reporting, e.g. a file name and a position in the file."
          title: location
          type: string
        title:
          description: "Optional. Title for the expression, i.e. a short string describing\
            \ its purpose. This can be used e.g. in UIs which allow to enter the expression."
          title: title
          type: string
      title: Expr
      type: object
    ListConfigsResponse:
      description: "`ListConfigs()` returns the following response. The order of returned\
        \ objects is arbitrary; that is, it is not ordered in any particular way."
      example:
        configs:
        - name: name
          description: description
        - name: name
          description: description
        nextPageToken: nextPageToken
      properties:
        configs:
          description: "A list of the configurations in the project. The order of\
            \ returned objects is arbitrary; that is, it is not ordered in any particular\
            \ way."
          items:
            $ref: '#/components/schemas/RuntimeConfig'
          title: configs
          type: array
        nextPageToken:
          description: "This token allows you to get the next page of results for\
            \ list requests. If the number of results is larger than `pageSize`, use\
            \ the `nextPageToken` as a value for the query parameter `pageToken` in\
            \ the next list request. Subsequent list requests will have their own\
            \ `nextPageToken` to continue paging through the results"
          title: nextPageToken
          type: string
      title: ListConfigsResponse
      type: object
    ListVariablesResponse:
      description: Response for the `ListVariables()` method.
      example:
        variables:
        - name: name
          updateTime: updateTime
          state: VARIABLE_STATE_UNSPECIFIED
          text: text
          value: value
        - name: name
          updateTime: updateTime
          state: VARIABLE_STATE_UNSPECIFIED
          text: text
          value: value
        nextPageToken: nextPageToken
      properties:
        nextPageToken:
          description: "This token allows you to get the next page of results for\
            \ list requests. If the number of results is larger than `pageSize`, use\
            \ the `nextPageToken` as a value for the query parameter `pageToken` in\
            \ the next list request. Subsequent list requests will have their own\
            \ `nextPageToken` to continue paging through the results"
          title: nextPageToken
          type: string
        variables:
          description: A list of variables and their values. The order of returned
            variable objects is arbitrary.
          items:
            $ref: '#/components/schemas/Variable'
          title: variables
          type: array
      title: ListVariablesResponse
      type: object
    ListWaitersResponse:
      description: Response for the `ListWaiters()` method. Order of returned waiter
        objects is arbitrary.
      example:
        nextPageToken: nextPageToken
        waiters:
        - createTime: createTime
          failure:
            cardinality:
              number: 6
              path: path
          success:
            cardinality:
              number: 6
              path: path
          name: name
          error:
            code: 0
            details:
            - key: ""
            - key: ""
            message: message
          done: true
          timeout: timeout
        - createTime: createTime
          failure:
            cardinality:
              number: 6
              path: path
          success:
            cardinality:
              number: 6
              path: path
          name: name
          error:
            code: 0
            details:
            - key: ""
            - key: ""
            message: message
          done: true
          timeout: timeout
      properties:
        nextPageToken:
          description: "This token allows you to get the next page of results for\
            \ list requests. If the number of results is larger than `pageSize`, use\
            \ the `nextPageToken` as a value for the query parameter `pageToken` in\
            \ the next list request. Subsequent list requests will have their own\
            \ `nextPageToken` to continue paging through the results"
          title: nextPageToken
          type: string
        waiters:
          description: Found waiters in the project.
          items:
            $ref: '#/components/schemas/Waiter'
          title: waiters
          type: array
      title: ListWaitersResponse
      type: object
    Operation:
      description: This resource represents a long-running operation that is the result
        of a network API call.
      example:
        metadata:
          key: ""
        response:
          key: ""
        name: name
        error:
          code: 0
          details:
          - key: ""
          - key: ""
          message: message
        done: true
      properties:
        done:
          description: "If the value is `false`, it means the operation is still in\
            \ progress. If `true`, the operation is completed, and either `error`\
            \ or `response` is available."
          title: done
          type: boolean
        error:
          $ref: '#/components/schemas/Status'
        metadata:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: "Service-specific metadata associated with the operation. It\
            \ typically contains progress information and common metadata such as\
            \ create time. Some services might not provide such metadata. Any method\
            \ that returns a long-running operation should document the metadata type,\
            \ if any."
          title: metadata
          type: object
        name:
          description: "The server-assigned name, which is only unique within the\
            \ same service that originally returns it. If you use the default HTTP\
            \ mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          title: name
          type: string
        response:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: "The normal, successful response of the operation. If the original\
            \ method returns no data on success, such as `Delete`, the response is\
            \ `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`,\
            \ the response should be the resource. For other methods, the response\
            \ should have the type `XxxResponse`, where `Xxx` is the original method\
            \ name. For example, if the original method name is `TakeSnapshot()`,\
            \ the inferred response type is `TakeSnapshotResponse`."
          title: response
          type: object
      title: Operation
      type: object
    Policy:
      description: "An Identity and Access Management (IAM) policy, which specifies\
        \ access controls for Google Cloud resources. A `Policy` is a collection of\
        \ `bindings`. A `binding` binds one or more `members`, or principals, to a\
        \ single `role`. Principals can be user accounts, service accounts, Google\
        \ groups, and domains (such as G Suite). A `role` is a named list of permissions;\
        \ each `role` can be an IAM predefined role or a user-created custom role.\
        \ For some types of Google Cloud resources, a `binding` can also specify a\
        \ `condition`, which is a logical expression that allows access to a resource\
        \ only if the expression evaluates to `true`. A condition can add constraints\
        \ based on attributes of the request, the resource, or both. To learn which\
        \ resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).\
        \ **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\"\
        , \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\",\
        \ \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\"\
        \ ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\"\
        : [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\"\
        , \"description\": \"Does not grant access after Sep 2020\", \"expression\"\
        : \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\"\
        : \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: -\
        \ members: - user:mike@example.com - group:admins@example.com - domain:google.com\
        \ - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin\
        \ - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer\
        \ condition: title: expirable access description: Does not grant access after\
        \ Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z')\
        \ etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features,\
        \ see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      example:
        bindings:
        - condition:
            expression: expression
            description: description
            location: location
            title: title
          role: role
          members:
          - members
          - members
        - condition:
            expression: expression
            description: description
            location: location
            title: title
          role: role
          members:
          - members
          - members
        etag: etag
        version: 0
      properties:
        bindings:
          description: "Associates a list of `members`, or principals, with a `role`.\
            \ Optionally, may specify a `condition` that determines how and when the\
            \ `bindings` are applied. Each of the `bindings` must contain at least\
            \ one principal. The `bindings` in a `Policy` can refer to up to 1,500\
            \ principals; up to 250 of these principals can be Google groups. Each\
            \ occurrence of a principal counts towards these limits. For example,\
            \ if the `bindings` grant 50 different roles to `user:alice@example.com`,\
            \ and not to any other principal, then you can add another 1,450 principals\
            \ to the `bindings` in the `Policy`."
          items:
            $ref: '#/components/schemas/Binding'
          title: bindings
          type: array
        etag:
          description: "`etag` is used for optimistic concurrency control as a way\
            \ to help prevent simultaneous updates of a policy from overwriting each\
            \ other. It is strongly suggested that systems make use of the `etag`\
            \ in the read-modify-write cycle to perform policy updates in order to\
            \ avoid race conditions: An `etag` is returned in the response to `getIamPolicy`,\
            \ and systems are expected to put that etag in the request to `setIamPolicy`\
            \ to ensure that their change will be applied to the same version of the\
            \ policy. **Important:** If you use IAM Conditions, you must include the\
            \ `etag` field whenever you call `setIamPolicy`. If you omit this field,\
            \ then IAM allows you to overwrite a version `3` policy with a version\
            \ `1` policy, and all of the conditions in the version `3` policy are\
            \ lost."
          format: byte
          title: etag
          type: string
        version:
          description: "Specifies the format of the policy. Valid values are `0`,\
            \ `1`, and `3`. Requests that specify an invalid value are rejected. Any\
            \ operation that affects conditional role bindings must specify version\
            \ `3`. This requirement applies to the following operations: * Getting\
            \ a policy that includes a conditional role binding * Adding a conditional\
            \ role binding to a policy * Changing a conditional role binding in a\
            \ policy * Removing any role binding, with or without a condition, from\
            \ a policy that includes conditions **Important:** If you use IAM Conditions,\
            \ you must include the `etag` field whenever you call `setIamPolicy`.\
            \ If you omit this field, then IAM allows you to overwrite a version `3`\
            \ policy with a version `1` policy, and all of the conditions in the version\
            \ `3` policy are lost. If a policy does not include any conditions, operations\
            \ on that policy may specify any valid version or leave the field unset.\
            \ To learn which resources support conditions in their IAM policies, see\
            \ the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          format: int32
          title: version
          type: integer
      title: Policy
      type: object
    RuntimeConfig:
      description: A RuntimeConfig resource is the primary resource in the Cloud RuntimeConfig
        service. A RuntimeConfig resource consists of metadata and a hierarchy of
        variables.
      example:
        name: name
        description: description
      properties:
        description:
          description: An optional description of the RuntimeConfig object.
          title: description
          type: string
        name:
          description: "The resource name of a runtime config. The name must have\
            \ the format: projects/[PROJECT_ID]/configs/[CONFIG_NAME] The `[PROJECT_ID]`\
            \ must be a valid project ID, and `[CONFIG_NAME]` is an arbitrary name\
            \ that matches the `[0-9A-Za-z](?:[_.A-Za-z0-9-]{0,62}[_.A-Za-z0-9])?`\
            \ regular expression. The length of `[CONFIG_NAME]` must be less than\
            \ 64 characters. You pick the RuntimeConfig resource name, but the server\
            \ will validate that the name adheres to this format. After you create\
            \ the resource, you cannot change the resource's name."
          title: name
          type: string
      title: RuntimeConfig
      type: object
    SetIamPolicyRequest:
      description: Request message for `SetIamPolicy` method.
      example:
        policy:
          bindings:
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            role: role
            members:
            - members
            - members
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            role: role
            members:
            - members
            - members
          etag: etag
          version: 0
      properties:
        policy:
          $ref: '#/components/schemas/Policy'
      title: SetIamPolicyRequest
      type: object
    Status:
      description: "The `Status` type defines a logical error model that is suitable\
        \ for different programming environments, including REST APIs and RPC APIs.\
        \ It is used by [gRPC](https://github.com/grpc). Each `Status` message contains\
        \ three pieces of data: error code, error message, and error details. You\
        \ can find out more about this error model and how to work with it in the\
        \ [API Design Guide](https://cloud.google.com/apis/design/errors)."
      example:
        code: 0
        details:
        - key: ""
        - key: ""
        message: message
      properties:
        code:
          description: "The status code, which should be an enum value of google.rpc.Code."
          format: int32
          title: code
          type: integer
        details:
          description: A list of messages that carry the error details. There is a
            common set of message types for APIs to use.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type
                URL.
            type: object
          title: details
          type: array
        message:
          description: "A developer-facing error message, which should be in English.\
            \ Any user-facing error message should be localized and sent in the google.rpc.Status.details\
            \ field, or localized by the client."
          title: message
          type: string
      title: Status
      type: object
    TestIamPermissionsRequest:
      description: Request message for `TestIamPermissions` method.
      example:
        permissions:
        - permissions
        - permissions
      properties:
        permissions:
          description: "The set of permissions to check for the `resource`. Permissions\
            \ with wildcards (such as `*` or `storage.*`) are not allowed. For more\
            \ information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          items:
            type: string
          title: permissions
          type: array
      title: TestIamPermissionsRequest
      type: object
    TestIamPermissionsResponse:
      description: Response message for `TestIamPermissions` method.
      example:
        permissions:
        - permissions
        - permissions
      properties:
        permissions:
          description: A subset of `TestPermissionsRequest.permissions` that the caller
            is allowed.
          items:
            type: string
          title: permissions
          type: array
      title: TestIamPermissionsResponse
      type: object
    Variable:
      description: "Describes a single variable within a RuntimeConfig resource. The\
        \ name denotes the hierarchical variable name. For example, `ports/serving_port`\
        \ is a valid variable name. The variable value is an opaque string and only\
        \ leaf variables can have values (that is, variables that do not have any\
        \ child variables)."
      example:
        name: name
        updateTime: updateTime
        state: VARIABLE_STATE_UNSPECIFIED
        text: text
        value: value
      properties:
        name:
          description: "The name of the variable resource, in the format: projects/[PROJECT_ID]/configs/[CONFIG_NAME]/variables/[VARIABLE_NAME]\
            \ The `[PROJECT_ID]` must be a valid project ID, `[CONFIG_NAME]` must\
            \ be a valid RuntimeConfig resource and `[VARIABLE_NAME]` follows Unix\
            \ file system file path naming. The `[VARIABLE_NAME]` can contain ASCII\
            \ letters, numbers, slashes and dashes. Slashes are used as path element\
            \ separators and are not part of the `[VARIABLE_NAME]` itself, so `[VARIABLE_NAME]`\
            \ must contain at least one non-slash character. Multiple slashes are\
            \ coalesced into single slash character. Each path segment should match\
            \ [0-9A-Za-z](?:[_.A-Za-z0-9-]{0,62}[_.A-Za-z0-9])? regular expression.\
            \ The length of a `[VARIABLE_NAME]` must be less than 256 characters.\
            \ Once you create a variable, you cannot change the variable name."
          title: name
          type: string
        state:
          description: Output only. The current state of the variable. The variable
            state indicates the outcome of the `variables().watch` call and is visible
            through the `get` and `list` calls.
          enum:
          - VARIABLE_STATE_UNSPECIFIED
          - UPDATED
          - DELETED
          title: state
          type: string
        text:
          description: "The string value of the variable. The length of the value\
            \ must be less than 4096 bytes. Empty values are also accepted. For example,\
            \ `text: \"my text value\"`. The string must be valid UTF-8."
          title: text
          type: string
        updateTime:
          description: Output only. The time of the last variable update. Timestamp
            will be UTC timestamp.
          format: google-datetime
          title: updateTime
          type: string
        value:
          description: "The binary value of the variable. The length of the value\
            \ must be less than 4096 bytes. Empty values are also accepted. The value\
            \ must be base64 encoded, and must comply with IETF RFC4648 (https://www.ietf.org/rfc/rfc4648.txt).\
            \ Only one of `value` or `text` can be set."
          format: byte
          title: value
          type: string
      title: Variable
      type: object
    Waiter:
      description: "A Waiter resource waits for some end condition within a RuntimeConfig\
        \ resource to be met before it returns. For example, assume you have a distributed\
        \ system where each node writes to a Variable resource indicating the node's\
        \ readiness as part of the startup process. You then configure a Waiter resource\
        \ with the success condition set to wait until some number of nodes have checked\
        \ in. Afterwards, your application runs some arbitrary code after the condition\
        \ has been met and the waiter returns successfully. Once created, a Waiter\
        \ resource is immutable. To learn more about using waiters, read the [Creating\
        \ a Waiter](/deployment-manager/runtime-configurator/creating-a-waiter) documentation."
      example:
        createTime: createTime
        failure:
          cardinality:
            number: 6
            path: path
        success:
          cardinality:
            number: 6
            path: path
        name: name
        error:
          code: 0
          details:
          - key: ""
          - key: ""
          message: message
        done: true
        timeout: timeout
      properties:
        createTime:
          description: Output only. The instant at which this Waiter resource was
            created. Adding the value of `timeout` to this instant yields the timeout
            deadline for the waiter.
          format: google-datetime
          title: createTime
          type: string
        done:
          description: "Output only. If the value is `false`, it means the waiter\
            \ is still waiting for one of its conditions to be met. If true, the waiter\
            \ has finished. If the waiter finished due to a timeout or failure, `error`\
            \ will be set."
          title: done
          type: boolean
        error:
          $ref: '#/components/schemas/Status'
        failure:
          $ref: '#/components/schemas/EndCondition'
        name:
          description: "The name of the Waiter resource, in the format: projects/[PROJECT_ID]/configs/[CONFIG_NAME]/waiters/[WAITER_NAME]\
            \ The `[PROJECT_ID]` must be a valid Google Cloud project ID, the `[CONFIG_NAME]`\
            \ must be a valid RuntimeConfig resource, the `[WAITER_NAME]` must match\
            \ RFC 1035 segment specification, and the length of `[WAITER_NAME]` must\
            \ be less than 64 bytes. After you create a Waiter resource, you cannot\
            \ change the resource name."
          title: name
          type: string
        success:
          $ref: '#/components/schemas/EndCondition'
        timeout:
          description: "[Required] Specifies the timeout of the waiter in seconds,\
            \ beginning from the instant that `waiters().create` method is called.\
            \ If this time elapses before the success or failure conditions are met,\
            \ the waiter fails and sets the `error` code to `DEADLINE_EXCEEDED`."
          format: google-duration
          title: timeout
          type: string
      title: Waiter
      type: object
    WatchVariableRequest:
      description: Request for the `WatchVariable()` method.
      example:
        newerThan: newerThan
      properties:
        newerThan:
          description: "If specified, checks the current timestamp of the variable\
            \ and if the current timestamp is newer than `newerThan` timestamp, the\
            \ method returns immediately. If not specified or the variable has an\
            \ older timestamp, the watcher waits for a the value to change before\
            \ returning."
          format: google-datetime
          title: newerThan
          type: string
      title: WatchVariableRequest
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
            https://www.googleapis.com/auth/cloudruntimeconfig: Manage your Google
              Cloud Platform services' runtime configuration
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
            https://www.googleapis.com/auth/cloudruntimeconfig: Manage your Google
              Cloud Platform services' runtime configuration
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2c
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2c
