openapi: 3.0.0
info:
  contact:
    x-twitter: form_api
  description: DocSpring is a service that helps you fill out and sign PDF templates.
  title: API v1
  version: v1
  x-apisguru-categories:
  - text
  x-logo:
    url: https://twitter.com/getdocspring/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://docspring.com/api-docs/v1/swagger.json
    version: "3.0"
  x-providerName: formapi.io
servers:
- url: https://api.docspring.com/api/v1
paths:
  /authentication:
    get:
      operationId: test_authentication
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    status: success
              schema:
                $ref: '#/components/schemas/authentication_success_response'
          description: authentication succeeded
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Test Authentication
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
  /combined_submissions:
    get:
      operationId: list_combined_submissions
      parameters:
      - description: "Default: 1"
        example: 2
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: "Default: 50"
        example: 1
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          maximum: 50
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - actions: []
                    download_url: null
                    error_message: null
                    expired: false
                    expires_at: null
                    expires_in: null
                    id: com_000000000000000001
                    metadata: {}
                    password: null
                    pdf_hash: null
                    processed_at: null
                    source_pdfs: []
                    state: pending
                    submission_ids: []
                  - actions: []
                    download_url: https://example.com/combined_submissions/combined_submission.pdf
                    error_message: null
                    expired: false
                    expires_at: null
                    expires_in: null
                    id: com_000000000000000002
                    metadata: {}
                    password: null
                    pdf_hash: null
                    processed_at: 2023-01-05T14:00:00Z
                    source_pdfs: []
                    state: processed
                    submission_ids: []
                  - actions: []
                    download_url: null
                    error_message: Something went wrong
                    expired: false
                    expires_at: null
                    expires_in: 123
                    id: com_000000000000000003
                    metadata: {}
                    password: null
                    pdf_hash: null
                    processed_at: null
                    source_pdfs: []
                    state: error
                    submission_ids: []
                  - actions: []
                    download_url: null
                    error_message: null
                    expired: true
                    expires_at: 2023-01-05T14:05:00Z
                    expires_in: 345
                    id: com_000000000000000004
                    metadata: {}
                    password: null
                    pdf_hash: null
                    processed_at: 2023-01-05T14:00:00Z
                    source_pdfs: []
                    state: processed
                    submission_ids: []
              schema:
                items:
                  $ref: '#/components/schemas/combined_submission'
                title: combined_submissions
                type: array
          description: enumerate all combined submissions
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Get a list of all combined submissions
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
    post:
      operationId: combine_submissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/combined_submission_data'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    combined_submission:
                      actions: []
                      download_url: null
                      error_message: null
                      expired: false
                      expires_at: null
                      expires_in: 300
                      id: com_000000000000000001
                      metadata:
                        bar: baz
                        foo: 123
                      password: p@ssword
                      pdf_hash: null
                      processed_at: null
                      source_pdfs: []
                      state: pending
                      submission_ids:
                      - sub_000000000000000001
                      - sub_000000000000000002
                    status: success
              schema:
                $ref: '#/components/schemas/create_combined_submission_response'
          description: combined submission created
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: "There was a problem with the JSON you submitted: unexpected\
                      \ character at line 1, column 37 in '{ \"submission_ids\": [\"\
                      123\", \"345\"], metadata: { \"user_id\": \"@#)(*%$)@(#*%@&%\"\
                      \ }}"
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: invalid JSON
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "422":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                    - "source_pdfs: Could not find Submission with ID: MISSING_ID"
                    status: error
              schema:
                $ref: '#/components/schemas/invalid_request'
          description: invalid request
      security:
      - api_token_basic: []
      summary: Merge generated PDFs together
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
      x-codegen-request-body-name: body
  /combined_submissions/{combined_submission_id}:
    delete:
      operationId: expire_combined_submission
      parameters:
      - example: com_000000000000000001
        explode: false
        in: path
        name: combined_submission_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    actions:
                    - action_category: file_upload
                      action_type: aws_s3_upload
                      id: csa_000000000000000001
                      integration_id: aci_000000000000000001
                      result_data:
                        s3_bucket: docspring-custom-s3-test
                        s3_key: acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                        s3_region: us-east-1
                        s3_url: https://docspring-custom-s3-test.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                      state: processed
                    download_url: null
                    error_message: null
                    expired: true
                    expires_at: 2018-10-20T13:00:00Z
                    expires_in: 300
                    id: com_000000000000000001
                    metadata:
                      qux: abc
                      user_id: 42
                    password: p@ssword
                    pdf_hash: 12342342471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                    processed_at: 2020-05-14T02:00:00Z
                    source_pdfs: []
                    state: processed
                    submission_ids:
                    - sub_000000000000000001
                    - sub_000000000000000002
              schema:
                $ref: '#/components/schemas/combined_submission'
          description: submission was expired
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: You must use a live API token to expire a combined submission.
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: test API token used
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Combined submission not found.
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: combined submission not found
      security:
      - api_token_basic: []
      summary: Expire a combined submission
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
    get:
      operationId: get_combined_submission
      parameters:
      - example: com_000000000000000001
        explode: false
        in: path
        name: combined_submission_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    actions:
                    - action_category: file_upload
                      action_type: aws_s3_upload
                      id: csa_000000000000000001
                      integration_id: aci_000000000000000001
                      result_data:
                        s3_bucket: docspring-custom-s3-test
                        s3_key: acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                        s3_region: us-east-1
                        s3_url: https://docspring-custom-s3-test.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                      state: processed
                    download_url: https://example.com/combined_submissions/combined_submission.pdf
                    error_message: null
                    expired: false
                    expires_at: 2018-10-20T13:05:00Z
                    expires_in: 300
                    id: com_000000000000000001
                    metadata:
                      qux: abc
                      user_id: 42
                    password: p@ssword
                    pdf_hash: 12342342471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                    processed_at: 2020-05-14T02:00:00Z
                    source_pdfs: []
                    state: processed
                    submission_ids:
                    - sub_000000000000000001
                    - sub_000000000000000002
              schema:
                $ref: '#/components/schemas/combined_submission'
          description: processed combined submission found
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Combined submission not found.
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: combined submission not found
      security:
      - api_token_basic: []
      summary: Check the status of a combined submission (merged PDFs)
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
  /combined_submissions?v=2:
    post:
      operationId: combine_pdfs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/combine_pdfs_data'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    combined_submission:
                      actions:
                      - action_category: file_upload
                        action_type: aws_s3_upload
                        id: csa_000000000000000002
                        integration_id: aci_000000000000000001
                        result_data:
                          s3_bucket: docspring-custom-s3-test
                          s3_key: acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                          s3_region: us-east-1
                          s3_url: https://docspring-custom-s3-test.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                        state: processed
                      download_url: null
                      error_message: null
                      expired: false
                      expires_at: null
                      expires_in: 300
                      id: com_000000000000000002
                      metadata:
                        bar: baz
                        foo: 123
                      password: null
                      pdf_hash: null
                      processed_at: null
                      source_pdfs:
                      - id: sub_000000000000000001
                        type: submission
                      - id: tpl_000000000000000001
                        type: template
                      - id: sub_000000000000000002
                        type: submission
                      - id: cfi_0000000000000000000000001
                        type: custom_file
                      - id: com_000000000000000001
                        type: combined_submission
                      - type: url
                        url: http://example.com/test-pdf.pdf
                      state: pending
                      submission_ids:
                      - sub_000000000000000001
                      - sub_000000000000000002
                    status: success
              schema:
                $ref: '#/components/schemas/create_combined_submission_response'
          description: combined submission created
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: "There was a problem with the JSON you submitted: unexpected\
                      \ character at line 1, column 34 in '{ \"source_pdfs\": [\"\
                      123\", \"345\"], metadata: { \"user_id\": \"@#*&%)(@*#%&(@#!\"\
                      \ }}"
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: invalid JSON
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "422":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                    - "source_pdfs: Could not find Submission with ID: MISSING_SUBMISSION_ID"
                    - "source_pdfs: Template document is not processed: tpl_000000000000000001\
                      \ (state: pending)"
                    - "source_pdfs: Could not find Template with ID: MISSING_TEMPLATE_ID"
                    - "source_pdfs: Could not find Custom File with ID: MISSING_CUSTOM_FILE_ID"
                    - "source_pdfs: Could not find Combined Submission with ID: MISSING_COMBINED_SUBMISSION_ID"
                    status: error
              schema:
                $ref: '#/components/schemas/invalid_request'
          description: invalid request
      security:
      - api_token_basic: []
      summary: "Merge submission PDFs, template PDFs, or custom files"
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
      x-codegen-request-body-name: body
  /custom_files:
    post:
      operationId: create_custom_file_from_upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_custom_file_data'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    custom_file:
                      id: cfi_000000000000000001
                      url: /uploads/test/store/acc_000000000000000001/custom_files/cfi_000000000000000001.pdf
                    status: success
              schema:
                $ref: '#/components/schemas/create_custom_file_response'
          description: returns the custom file
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Create a new custom file from a cached presign upload
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
      x-codegen-request-body-name: body
  /data_requests/{data_request_id}:
    get:
      operationId: get_data_request
      parameters:
      - example: drq_000000000000000001
        explode: false
        in: path
        name: data_request_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    auth_phone_number_hash: fdcc3985b0698d655137019b1e776171081369f0aad125b8c7f57af2b8225490
                    auth_provider: null
                    auth_second_factor_type: phone_number
                    auth_session_id_hash: null
                    auth_session_started_at: 2018-10-23T13:00:00Z
                    auth_type: password
                    auth_user_id_hash: 8ae0e445664ca53407906db8638d8ba07a2383f656383a4427bed1ab645ca29a
                    auth_username_hash: b7c141423f7030a6a771563ee0731192ea871146653a3d0cf8f8b78ca8f9699b
                    completed_at: null
                    data:
                      last_name: Smithers
                    email: jdoe@example.com
                    fields:
                    - last_name
                    id: drq_000000000000000001
                    ip_address: 1.1.1.1
                    metadata:
                      user_id: 42
                    name: John Doe
                    order: 1
                    sort_order: 0
                    state: pending
                    submission_id: sub_000000000000000001
                    user_agent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36\
                      \ (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36"
                    viewed_at: null
              schema:
                $ref: '#/components/schemas/submission_data_request'
          description: completed submission data request found
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Data request not found.
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: submission data request not found
      security:
      - api_token_basic: []
      summary: Look up a submission data request
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
    put:
      operationId: update_data_request
      parameters:
      - example: drq_000000000000000001
        explode: false
        in: path
        name: data_request_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_submission_data_request_data'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data_request:
                      auth_phone_number_hash: null
                      auth_provider: google
                      auth_second_factor_type: none
                      auth_session_id_hash: 8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92
                      auth_session_started_at: 2018-10-23T13:00:00Z
                      auth_type: oauth
                      auth_user_id_hash: null
                      auth_username_hash: null
                      completed_at: null
                      data:
                        last_name: Smithers
                      email: jdoe@example.com
                      fields:
                      - last_name
                      id: drq_000000000000000001
                      ip_address: 1.1.1.1
                      metadata:
                        user_id: 123
                      name: John Doe
                      order: 1
                      sort_order: 0
                      state: pending
                      submission_id: sub_000000000000000001
                      user_agent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4)\
                        \ AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.122\
                        \ Safari/537.36"
                      viewed_at: null
                    status: success
              schema:
                $ref: '#/components/schemas/update_data_request_response'
          description: submission data request updated
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Data request not found.
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: submission data request not found
        "422":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                    - Data requests cannot be updated after they have been completed.
                    status: error
              schema:
                $ref: '#/components/schemas/invalid_request'
          description: invalid request
      security:
      - api_token_basic: []
      summary: Update a submission data request
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
      x-codegen-request-body-name: body
  /data_requests/{data_request_id}/tokens:
    post:
      operationId: create_data_request_token
      parameters:
      - example: drq_000000000000000001
        explode: false
        in: path
        name: data_request_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    status: success
                    token:
                      data_request_url: http://app.docspring.local/data_requests/drq_000000000000000001?token_id=000000000000000001&token_secret=ABCDEF01234567890
                      expires_at: 2018-10-20T14:00:00Z
                      id: "000000000000000001"
                      secret: ABCDEF01234567890
              schema:
                $ref: '#/components/schemas/create_submission_data_request_token_response'
          description: token created
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Creates a new data request token for form authentication
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
  /folders/:
    get:
      operationId: list_folders
      parameters:
      - description: Filter By Folder Id
        example: fld_000000000000000002
        explode: true
        in: query
        name: parent_folder_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - id: fld_000000000000000003
                    name: nested folder 1
                    parent_folder_id: fld_000000000000000002
                    path: /Folder 2
                  - id: fld_000000000000000002
                    name: Folder 2
                    parent_folder_id: null
                    path: /
                  - id: fld_000000000000000001
                    name: Folder 1
                    parent_folder_id: null
                    path: /
              schema:
                items:
                  $ref: '#/components/schemas/folder'
                title: folders
                type: array
          description: enumerate all folders
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Get a list of all folders
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
    post:
      operationId: create_folder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_folder_data'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    id: fld_0000000000000000n1
                    name: Folder 3
                    parent_folder_id: null
                    path: /
              schema:
                $ref: '#/components/schemas/folder'
          description: folder created inside another folder
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: parent folder doesnt exist
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folder'
          description: name already exist
      security:
      - api_token_basic: []
      summary: Create a folder
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
      x-codegen-request-body-name: body
  /folders/{folder_id}:
    delete:
      operationId: delete_folder
      parameters:
      - example: fld_000000000000000001
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    id: fld_000000000000000001
                    name: Folder 1
                    parent_folder_id: null
                    path: /
              schema:
                $ref: '#/components/schemas/folder'
          description: folder is empty
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: folder doesnt exist
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: folder has contents
      security:
      - api_token_basic: []
      summary: Delete a folder
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
  /folders/{folder_id}/move:
    post:
      operationId: move_folder_to_folder
      parameters:
      - example: fld_000000000000000001
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/move_folder_data'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    id: fld_000000000000000001
                    name: Folder 1
                    parent_folder_id: fld_000000000000000002
                    path: /Folder 2
              schema:
                $ref: '#/components/schemas/folder'
          description: move to root folder
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: parent folder doesnt exist
      security:
      - api_token_basic: []
      summary: Move a folder
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
      x-codegen-request-body-name: body
  /folders/{folder_id}/rename:
    post:
      operationId: rename_folder
      parameters:
      - example: fld_000000000000000001
        explode: false
        in: path
        name: folder_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rename_folder_data'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    id: fld_000000000000000001
                    name: Folder 3
                    parent_folder_id: null
                    path: /
          description: successful rename
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "404":
          description: folder doesnt belong to me
        "422":
          description: name already exist
      security:
      - api_token_basic: []
      summary: Rename a folder
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
      x-codegen-request-body-name: body
  /submissions:
    get:
      operationId: list_submissions
      parameters:
      - example: sub_list_000012
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - example: 3
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - example: 2019-01-01T09:00:00-05:00
        explode: true
        in: query
        name: created_after
        required: false
        schema:
          type: string
        style: form
      - example: 2020-01-01T09:00:00-05:00
        explode: true
        in: query
        name: created_before
        required: false
        schema:
          type: string
        style: form
      - example: test
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - example: true
        explode: true
        in: query
        name: include_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    limit: 3
                    next_cursor: sub_list_000003
                    submissions:
                    - actions: []
                      batch_id: null
                      data:
                        first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                        last_name: Smith
                        phone_number: "+11234567890"
                      data_requests: []
                      download_url: https://example.com/submissions/submission.pdf
                      editable: false
                      expired: false
                      expires_at: 2020-10-27T13:00:00Z
                      id: sub_list_000001
                      json_schema_errors: []
                      metadata:
                        qux: abc
                        user_id: 42
                      password: null
                      pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                      permanent_download_url: http://app.docspring.local/submissions/sub_list_000001/download
                      processed_at: 2020-05-14T02:00:00Z
                      referrer: null
                      source: api
                      state: processed
                      template_id: tpl_000000000000000001
                      test: true
                      truncated_text:
                        first_name:
                        - F. Scott Fitzgerald
                    - actions: []
                      batch_id: null
                      data:
                        first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                        last_name: Smith
                        phone_number: "+11234567890"
                      data_requests: []
                      download_url: https://example.com/submissions/submission.pdf
                      editable: false
                      expired: false
                      expires_at: 2020-10-27T13:00:00Z
                      id: sub_list_000002
                      json_schema_errors: []
                      metadata:
                        qux: abc
                        user_id: 42
                      password: null
                      pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                      permanent_download_url: http://app.docspring.local/submissions/sub_list_000002/download
                      processed_at: 2020-05-14T02:00:00Z
                      referrer: null
                      source: api
                      state: processed
                      template_id: tpl_000000000000000001
                      test: true
                      truncated_text:
                        first_name:
                        - F. Scott Fitzgerald
                    - actions: []
                      batch_id: null
                      data:
                        first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                        last_name: Smith
                        phone_number: "+11234567890"
                      data_requests: []
                      download_url: https://example.com/submissions/submission.pdf
                      editable: false
                      expired: false
                      expires_at: 2020-10-27T13:00:00Z
                      id: sub_list_000003
                      json_schema_errors: []
                      metadata:
                        qux: abc
                        user_id: 42
                      password: null
                      pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                      permanent_download_url: http://app.docspring.local/submissions/sub_list_000003/download
                      processed_at: 2020-05-14T02:00:00Z
                      referrer: null
                      source: api
                      state: processed
                      template_id: tpl_000000000000000001
                      test: true
                      truncated_text:
                        first_name:
                        - F. Scott Fitzgerald
              schema:
                $ref: '#/components/schemas/list_submissions_response'
          description: listing submissions
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: "Invalid submission type: 'foo'"
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: invalid type
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: List all submissions
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
  /submissions/batches:
    post:
      operationId: batch_generate_pdfs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submission_batch_data'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    status: error
                    submission_batch:
                      completion_percentage: 100
                      error_count: 1
                      id: sbb_000000000000000001
                      metadata:
                        job_id: 54321
                      pending_count: 0
                      processed_at: null
                      state: error
                      total_count: 2
                    submissions:
                    - status: valid_but_not_saved
                    - errors:
                      - Your submission data did not contain a required property of
                        'first_name'
                      status: error
                      submission:
                        actions: []
                        batch_id: sbb_000000000000000001
                        data_requests: []
                        download_url: null
                        editable: null
                        expired: false
                        expires_at: null
                        id: sub_000000000000000001
                        json_schema_errors:
                        - Your submission data did not contain a required property
                          of 'first_name'
                        metadata:
                          submission_number: 2
                        password: null
                        pdf_hash: null
                        permanent_download_url: null
                        processed_at: null
                        state: invalid_data
                        template_id: tpl_000000000000000001
                        test: true
                        truncated_text: {}
              schema:
                $ref: '#/components/schemas/create_submission_batch_response'
          description: some PDFs with invalid data
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    status: success
                    submission_batch:
                      completion_percentage: 0
                      error_count: 0
                      id: sbb_000000000000000001
                      metadata:
                        job_id: 54321
                      pending_count: 2
                      processed_at: null
                      state: pending
                      total_count: 2
                    submissions:
                    - status: success
                      submission:
                        actions: []
                        batch_id: sbb_000000000000000001
                        data_requests: []
                        download_url: null
                        editable: null
                        expired: false
                        expires_at: null
                        id: sub_000000000000000001
                        json_schema_errors: []
                        metadata:
                          submission_number: 1
                        password: null
                        pdf_hash: null
                        permanent_download_url: null
                        processed_at: null
                        state: pending
                        template_id: tpl_000000000000000001
                        test: false
                        truncated_text: {}
                    - status: success
                      submission:
                        actions: []
                        batch_id: sbb_000000000000000001
                        data_requests: []
                        download_url: null
                        editable: null
                        expired: false
                        expires_at: null
                        id: sub_000000000000000002
                        json_schema_errors: []
                        metadata:
                          submission_number: 2
                        password: null
                        pdf_hash: null
                        permanent_download_url: null
                        processed_at: null
                        state: pending
                        template_id: tpl_000000000000000001
                        test: true
                        truncated_text: {}
              schema:
                $ref: '#/components/schemas/create_submission_batch_response'
          description: submissions created
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: "There was a problem with the JSON you submitted: unexpected\
                      \ character at line 1, column 25 in '{ \"first_name\": \"John\"\
                      , last_name: \"Smith\" }"
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: invalid JSON
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Generates multiple PDFs
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
      x-codegen-request-body-name: body
  /submissions/batches/{submission_batch_id}:
    get:
      operationId: get_submission_batch
      parameters:
      - example: sbb_000000000000000001
        explode: false
        in: path
        name: submission_batch_id
        required: true
        schema:
          type: string
        style: simple
      - example: true
        explode: true
        in: query
        name: include_submissions
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    completion_percentage: 100
                    error_count: 2
                    id: sbb_000000000000000001
                    metadata:
                      qux: abc
                    pending_count: 0
                    processed_at: null
                    state: error
                    submissions:
                    - actions: []
                      batch_id: sbb_000000000000000001
                      data_requests: []
                      download_url: https://example.com/submissions/submission.pdf
                      editable: false
                      expired: false
                      expires_at: null
                      id: sub_000000000000000001
                      json_schema_errors: []
                      metadata: {}
                      password: null
                      pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                      permanent_download_url: http://app.docspring.local/submissions/sub_000000000000000001/download
                      processed_at: null
                      state: processed
                      template_id: tpl_000000000000000001
                      test: false
                      truncated_text: {}
                    - actions: []
                      batch_id: sbb_000000000000000001
                      data_requests: []
                      download_url: https://example.com/submissions/submission.pdf
                      editable: false
                      expired: false
                      expires_at: null
                      id: sub_000000000000000002
                      json_schema_errors: []
                      metadata: {}
                      password: null
                      pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                      permanent_download_url: http://app.docspring.local/submissions/sub_000000000000000002/download
                      processed_at: null
                      state: processed
                      template_id: tpl_000000000000000001
                      test: false
                      truncated_text: {}
                    total_count: 10
              schema:
                $ref: '#/components/schemas/submission_batch'
          description: processed submission batch found
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Submission batch not found.
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: submission batch not found
      security:
      - api_token_basic: []
      summary: Check the status of a submission batch job
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
  /submissions/{submission_id}:
    delete:
      operationId: expire_submission
      parameters:
      - example: sub_000000000000000001
        explode: false
        in: path
        name: submission_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    actions:
                    - action_category: file_upload
                      action_type: aws_s3_upload
                      id: sba_000000000000000001
                      integration_id: aci_000000000000000001
                      result_data:
                        s3_bucket: docspring-custom-s3-test
                        s3_key: templates/tpl_eGc5CmFbPnCCmerqsx/sub_gzYpKDYFqEHxzca4kK.pdf
                        s3_region: us-east-1
                        s3_url: https://docspring-custom-s3-test.s3.amazonaws.com/templates/tpl_eGc5CmFbPnCCmerqsx/sub_gzYpKDYFqEHxzca4kK.pdf
                      state: processed
                    batch_id: null
                    data_requests: []
                    download_url: null
                    editable: false
                    expired: true
                    expires_at: 2018-10-20T13:00:00Z
                    id: sub_000000000000000001
                    json_schema_errors: []
                    metadata:
                      qux: abc
                      user_id: 42
                    password: null
                    pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                    permanent_download_url: null
                    processed_at: 2020-05-14T02:00:00Z
                    state: processed
                    template_id: tpl_000000000000000001
                    test: true
                    truncated_text:
                      first_name:
                      - F. Scott Fitzgerald
              schema:
                $ref: '#/components/schemas/submission'
          description: submission was expired
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Invalid API token secret
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: You must use a live API token to expire a submission.
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: test API token used
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Submission not found.
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: submission not found
      security:
      - api_token_basic: []
      summary: Expire a PDF submission
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
    get:
      operationId: get_submission
      parameters:
      - example: sub_000000000000000001
        explode: false
        in: path
        name: submission_id
        required: true
        schema:
          type: string
        style: simple
      - example: true
        explode: true
        in: query
        name: include_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    actions:
                    - action_category: file_upload
                      action_type: aws_s3_upload
                      id: sba_000000000000000001
                      integration_id: aci_000000000000000001
                      result_data:
                        s3_bucket: docspring-custom-s3-test
                        s3_key: templates/tpl_eGc5CmFbPnCCmerqsx/sub_gzYpKDYFqEHxzca4kK.pdf
                        s3_region: us-east-1
                        s3_url: https://docspring-custom-s3-test.s3.amazonaws.com/templates/tpl_eGc5CmFbPnCCmerqsx/sub_gzYpKDYFqEHxzca4kK.pdf
                      state: processed
                    batch_id: null
                    data:
                      first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                      last_name: Smith
                      phone_number: "+11234567890"
                    data_requests: []
                    download_url: https://example.com/submissions/submission.pdf
                    editable: false
                    expired: false
                    expires_at: 2018-10-27T13:00:00Z
                    id: sub_000000000000000001
                    json_schema_errors: []
                    metadata:
                      qux: abc
                      user_id: 42
                    password: null
                    pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                    permanent_download_url: http://app.docspring.local/submissions/sub_000000000000000001/download
                    processed_at: 2020-05-14T02:00:00Z
                    referrer: null
                    source: api
                    state: processed
                    template_id: tpl_000000000000000001
                    test: true
                    truncated_text:
                      first_name:
                      - F. Scott Fitzgerald
              schema:
                $ref: '#/components/schemas/submission'
          description: processed submission found
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
                    status: error
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Submission not found.
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: submission not found
      security:
      - api_token_basic: []
      summary: Check the status of a PDF
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
  /templates:
    get:
      operationId: list_templates
      parameters:
      - description: Search By Name
        example: "2"
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: Filter By Folder Id
        example: fld_000000000000000001
        explode: true
        in: query
        name: parent_folder_id
        required: false
        schema:
          type: string
        style: form
      - description: "Default: 1"
        example: 2
        explode: true
        in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: "Default: 50"
        example: 1
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          maximum: 50
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                  - allow_additional_properties: false
                    description: null
                    document_filename: test-document.pdf
                    document_processed: true
                    document_state: pending
                    document_url: /uploads/test/store/templates/test/test-document.pdf
                    editable_submissions: false
                    expiration_interval: days
                    expire_after: 7
                    expire_submissions: true
                    id: tpl_000000000000000011
                    locked: false
                    name: Sub Template 1
                    page_count: 3
                    page_dimensions:
                    - - 612
                      - 792
                    - - 792
                      - 612
                    - - 612
                      - 792
                    parent_folder_id: fld_000000000000000001
                    path: /Folder
                    permanent_document_url: http://app.docspring.local/templates/tpl_000000000000000011/original_pdf?token=123456789abcdef
                    public_submissions: false
                    public_web_form: false
                    redirect_url: null
                    slack_webhook_url: null
                    template_type: pdf
                    webhook_url: null
                  - allow_additional_properties: false
                    description: null
                    document_filename: null
                    document_processed: false
                    document_state: pending
                    document_url: null
                    editable_submissions: false
                    expiration_interval: days
                    expire_after: 7
                    expire_submissions: true
                    id: tpl_000000000000000003
                    locked: false
                    name: Template 3
                    page_count: 1
                    page_dimensions: null
                    parent_folder_id: null
                    path: /
                    permanent_document_url: null
                    public_submissions: false
                    public_web_form: false
                    redirect_url: null
                    slack_webhook_url: null
                    template_type: html
                    webhook_url: null
                  - allow_additional_properties: false
                    description: null
                    document_filename: test-document.pdf
                    document_processed: true
                    document_state: pending
                    document_url: /uploads/test/store/templates/test/test-document.pdf
                    editable_submissions: false
                    expiration_interval: days
                    expire_after: 7
                    expire_submissions: true
                    id: tpl_000000000000000002
                    locked: false
                    name: Template 2
                    page_count: 3
                    page_dimensions:
                    - - 612
                      - 792
                    - - 792
                      - 612
                    - - 612
                      - 792
                    parent_folder_id: null
                    path: /
                    permanent_document_url: http://app.docspring.local/templates/tpl_000000000000000002/original_pdf?token=123456789abcdef
                    public_submissions: false
                    public_web_form: false
                    redirect_url: null
                    slack_webhook_url: null
                    template_type: pdf
                    webhook_url: null
                  - allow_additional_properties: false
                    description: null
                    document_filename: blank_pdf.pdf
                    document_processed: true
                    document_state: processed
                    document_url: /uploads/test/store/acc_000000000000000001/templates/tpl_000000000000000001/document/original-0000000000.pdf
                    editable_submissions: false
                    expiration_interval: days
                    expire_after: 7
                    expire_submissions: true
                    id: tpl_000000000000000001
                    locked: false
                    name: Template 1
                    page_count: 1
                    page_dimensions:
                    - - 612
                      - 792
                    parent_folder_id: null
                    path: /
                    permanent_document_url: http://app.docspring.local/templates/tpl_000000000000000001/original_pdf?token=123456789abcdef
                    public_submissions: false
                    public_web_form: false
                    redirect_url: null
                    slack_webhook_url: null
                    template_type: pdf
                    webhook_url: null
              schema:
                items:
                  $ref: '#/components/schemas/template'
                title: templates
                type: array
          description: enumerate all templates
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: filter templates by invalid folder id
      security:
      - api_token_basic: []
      summary: Get a list of all templates
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
    post:
      operationId: create_pdf_template
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/createPDFTemplate_request'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    allow_additional_properties: false
                    description: null
                    document_filename: fw8ben.pdf
                    document_processed: false
                    document_state: pending
                    document_url: /cache/cached_upload.pdf
                    editable_submissions: false
                    expiration_interval: days
                    expire_after: 7
                    expire_submissions: false
                    id: tpl_000000000000000004
                    locked: false
                    name: Test Template
                    page_count: 0
                    page_dimensions: null
                    parent_folder_id: fld_000000000000000001
                    path: /Folder
                    permanent_document_url: null
                    public_submissions: false
                    public_web_form: false
                    redirect_url: null
                    slack_webhook_url: null
                    template_type: pdf
                    webhook_url: null
              schema:
                $ref: '#/components/schemas/pending_template'
          description: returns a pending template
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
      security:
      - api_token_basic: []
      summary: Create a new PDF template with a form POST file upload
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
      x-codegen-request-body-name: body
  /templates/{template_id}:
    get:
      operationId: get_template
      parameters:
      - example: tpl_000000000000000001
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    allow_additional_properties: false
                    description: null
                    document_filename: blank_pdf.pdf
                    document_processed: true
                    document_state: processed
                    document_url: /uploads/test/store/acc_000000000000000001/templates/tpl_000000000000000001/document/original-0000000000.pdf
                    editable_submissions: false
                    expiration_interval: days
                    expire_after: 7
                    expire_submissions: true
                    id: tpl_000000000000000001
                    locked: false
                    name: Template 1
                    page_count: 1
                    page_dimensions:
                    - - 612
                      - 792
                    parent_folder_id: null
                    path: /
                    permanent_document_url: http://app.docspring.local/templates/tpl_000000000000000001/original_pdf?token=123456789abcdef
                    public_submissions: false
                    public_web_form: false
                    redirect_url: null
                    slack_webhook_url: null
                    template_type: pdf
                    webhook_url: null
              schema:
                $ref: '#/components/schemas/template'
          description: template found
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Template not found.
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: template not found
      security:
      - api_token_basic: []
      summary: Check the status of an uploaded template
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
    put:
      operationId: update_template
      parameters:
      - example: tpl_000000000000000003
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_template_data'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    status: success
              schema:
                $ref: '#/components/schemas/update_template_response'
          description: update template success
      security:
      - api_token_basic: []
      summary: Update a Template
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
      x-codegen-request-body-name: body
  /templates/{template_id}/add_fields:
    put:
      operationId: add_fields_to_template
      parameters:
      - example: tpl_000000000000000002
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/add_fields_data'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    new_field_ids:
                    - 4
                    - 5
                    - 6
                    - 7
                    - 99
                    - 8
                    status: success
              schema:
                $ref: '#/components/schemas/add_fields_template_response'
          description: add fields success
        "422":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                    - The property '#/fields/0' did not contain a required property
                      of 'page'
                    - "The property '#/fields/1/page' did not have a minimum value\
                      \ of 1, inclusively"
                    - "The property '#/fields/5' contains additional properties [\"\
                      unknown_property\"] outside of the schema when none are allowed"
                    - "The property '#/fields/6/displayType' value \"unknown display\
                      \ type\" did not match one of the following values: text, check,\
                      \ qrcode, barcode, image, shape"
                    - "The property '#/fields/6/type' value \"unknown type\" did not\
                      \ match one of the following values: string, number, boolean,\
                      \ date, address, country, email, url, image, signature, barcode,\
                      \ combined"
                    - The property '#/fields/6' did not contain a required property
                      of 'page'
                    - "The property '#/fields/7/width' of type string did not match\
                      \ the following type: number"
                    - "The property '#/fields/8/height' did not have a minimum value\
                      \ of 0, inclusively"
                    - "The property '#/fields/8/width' did not have a minimum value\
                      \ of 0, inclusively"
                    - "The property '#/fields/8/x' did not have a minimum value of\
                      \ 0, inclusively"
                    - "The property '#/fields/8/y' did not have a minimum value of\
                      \ 0, inclusively"
                    - The property '#/fields/2/id' value "1" is already taken by another
                      field
                    - "The property '#/fields/2/page' value \"5\" did not have a maximum\
                      \ value of 3, inclusively (Template has 3 pages)"
                    - "The property '#/fields/3/page' value \"4\" did not have a maximum\
                      \ value of 3, inclusively (Template has 3 pages)"
                    status: error
              schema:
                $ref: '#/components/schemas/add_fields_template_response'
          description: add fields error
      security:
      - api_token_basic: []
      summary: Add new fields to a Template
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
      x-codegen-request-body-name: body
  /templates/{template_id}/copy:
    post:
      operationId: copy_template
      parameters:
      - example: tpl_000000000000000001
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/copy_template_data'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    allow_additional_properties: false
                    description: null
                    document_filename: blank_pdf.pdf
                    document_processed: true
                    document_state: processed
                    document_url: /uploads/test/store/acc_000000000000000001/templates/tpl_00000000000000new1/document/original-0000000000.pdf
                    editable_submissions: false
                    expiration_interval: days
                    expire_after: 7
                    expire_submissions: true
                    id: tpl_00000000000000new1
                    locked: false
                    name: Copied Template Name
                    page_count: 1
                    page_dimensions:
                    - - 612
                      - 792
                    parent_folder_id: fld_000000000000000001
                    path: /Folder
                    permanent_document_url: http://app.docspring.local/templates/tpl_00000000000000new1/original_pdf?token=123456789abcdef
                    public_submissions: false
                    public_web_form: false
                    redirect_url: null
                    slack_webhook_url: null
                    template_type: pdf
                    webhook_url: null
              schema:
                $ref: '#/components/schemas/template'
          description: copy template success
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Could not find parent folder MISSING_ID
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: folder not found
      security:
      - api_token_basic: []
      summary: Copy a Template
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
      x-codegen-request-body-name: body
  /templates/{template_id}/move:
    post:
      operationId: move_template_to_folder
      parameters:
      - example: tpl_000000000000000001
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/move_template_data'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    allow_additional_properties: false
                    description: null
                    document_filename: blank_pdf.pdf
                    document_processed: true
                    document_state: processed
                    document_url: /uploads/test/store/acc_000000000000000001/templates/tpl_000000000000000001/document/original-0000000000.pdf
                    editable_submissions: false
                    expiration_interval: days
                    expire_after: 7
                    expire_submissions: true
                    id: tpl_000000000000000001
                    locked: false
                    name: Template 1
                    page_count: 1
                    page_dimensions:
                    - - 612
                      - 792
                    parent_folder_id: fld_000000000000000001
                    path: /Folder
                    permanent_document_url: http://app.docspring.local/templates/tpl_000000000000000001/original_pdf?token=123456789abcdef
                    public_submissions: false
                    public_web_form: false
                    redirect_url: null
                    slack_webhook_url: null
                    template_type: pdf
                    webhook_url: null
              schema:
                $ref: '#/components/schemas/template'
          description: move template success
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Could not find parent folder MISSING_ID
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: folder not found
      security:
      - api_token_basic: []
      summary: Move Template to folder
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
      x-codegen-request-body-name: body
  /templates/{template_id}/schema:
    get:
      operationId: get_template_schema
      parameters:
      - example: tpl_000000000000000001
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    $schema: http://json-schema.org/draft-04/schema#
                    additionalProperties: false
                    definitions: {}
                    description: JSON Schema generated by DocSpring.com
                    id: https://api.docspring.com/api/v1/templates/tpl_000000000000000001/schema.json
                    properties:
                      first_name:
                        title: First Name
                        type: string
                      last_name:
                        title: Last Name
                        type: string
                      phone_number:
                        title: Phone Number
                        type:
                        - string
                        - "null"
                    required:
                    - first_name
                    - last_name
                    title: Template 1
                    type: object
              schema:
                $ref: '#/components/schemas/template_schema'
          description: template found
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Unauthorized
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Template not found.
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: template not found
      security:
      - api_token_basic: []
      summary: Fetch the JSON schema for a template
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
  /templates/{template_id}/submissions:
    get:
      operationId: templates_template_id_submissions_get
      parameters:
      - example: tpl_000000000000000002
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - explode: true
        in: query
        name: created_after
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: created_before
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - example: true
        explode: true
        in: query
        name: include_data
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    limit: 50
                    next_cursor: sub_list_000014
                    submissions:
                    - actions: []
                      batch_id: null
                      data:
                        first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                        last_name: Smith
                        phone_number: "+11234567890"
                      data_requests: []
                      download_url: https://example.com/submissions/submission.pdf
                      editable: false
                      expired: false
                      expires_at: 2020-10-27T13:00:00Z
                      id: sub_list_000011
                      json_schema_errors: []
                      metadata:
                        qux: abc
                        user_id: 42
                      password: null
                      pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                      permanent_download_url: http://app.docspring.local/submissions/sub_list_000011/download
                      processed_at: 2020-05-14T02:00:00Z
                      referrer: null
                      source: api
                      state: processed
                      template_id: tpl_000000000000000002
                      test: false
                      truncated_text:
                        first_name:
                        - F. Scott Fitzgerald
                    - actions: []
                      batch_id: null
                      data:
                        first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                        last_name: Smith
                        phone_number: "+11234567890"
                      data_requests: []
                      download_url: https://example.com/submissions/submission.pdf
                      editable: false
                      expired: false
                      expires_at: 2020-10-27T13:00:00Z
                      id: sub_list_000012
                      json_schema_errors: []
                      metadata:
                        qux: abc
                        user_id: 42
                      password: null
                      pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                      permanent_download_url: http://app.docspring.local/submissions/sub_list_000012/download
                      processed_at: 2020-05-14T02:00:00Z
                      referrer: null
                      source: api
                      state: processed
                      template_id: tpl_000000000000000002
                      test: false
                      truncated_text:
                        first_name:
                        - F. Scott Fitzgerald
                    - actions: []
                      batch_id: null
                      data:
                        first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                        last_name: Smith
                        phone_number: "+11234567890"
                      data_requests: []
                      download_url: https://example.com/submissions/submission.pdf
                      editable: false
                      expired: false
                      expires_at: 2020-10-27T13:00:00Z
                      id: sub_list_000013
                      json_schema_errors: []
                      metadata:
                        qux: abc
                        user_id: 42
                      password: null
                      pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                      permanent_download_url: http://app.docspring.local/submissions/sub_list_000013/download
                      processed_at: 2020-05-14T02:00:00Z
                      referrer: null
                      source: api
                      state: processed
                      template_id: tpl_000000000000000002
                      test: false
                      truncated_text:
                        first_name:
                        - F. Scott Fitzgerald
                    - actions: []
                      batch_id: null
                      data:
                        first_name: John C. D. Rom Laserdisk F. Scott Fitzgerald
                        last_name: Smith
                        phone_number: "+11234567890"
                      data_requests: []
                      download_url: https://example.com/submissions/submission.pdf
                      editable: false
                      expired: false
                      expires_at: 2020-10-27T13:00:00Z
                      id: sub_list_000014
                      json_schema_errors: []
                      metadata:
                        qux: abc
                        user_id: 42
                      password: null
                      pdf_hash: bbc369dd471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                      permanent_download_url: http://app.docspring.local/submissions/sub_list_000014/download
                      processed_at: 2020-05-14T02:00:00Z
                      referrer: null
                      source: api
                      state: processed
                      template_id: tpl_000000000000000002
                      test: false
                      truncated_text:
                        first_name:
                        - F. Scott Fitzgerald
              schema:
                $ref: '#/components/schemas/list_submissions_response'
          description: listing submissions
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: invalid template id
      security:
      - api_token_basic: []
      summary: List all submissions for a given template
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
    post:
      operationId: generate_pdf
      parameters:
      - example: tpl_000000000000000001
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submission_data'
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    status: success
                    submission:
                      actions: []
                      batch_id: null
                      data_requests: []
                      download_url: null
                      editable: null
                      expired: false
                      expires_at: null
                      id: sub_000000000000000001
                      json_schema_errors: []
                      metadata:
                        bar: baz
                        foo: 123
                      password: null
                      pdf_hash: null
                      permanent_download_url: null
                      processed_at: null
                      state: pending
                      template_id: tpl_000000000000000001
                      test: false
                      truncated_text: {}
              schema:
                $ref: '#/components/schemas/create_submission_response'
          description: submission created
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: "There was a problem with the JSON you submitted: unexpected\
                      \ character at line 1, column 25 in '{ \"first_name\": \"John\"\
                      , last_name: \"Smith\" }"
                    status: error
              schema:
                $ref: '#/components/schemas/error'
          description: invalid JSON
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: Invalid API token secret
                    status: error
              schema:
                $ref: '#/components/schemas/authentication_error'
          description: authentication failed
        "422":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                    - Your submission data did not contain a required property of
                      'last_name'
                    status: error
                    submission:
                      actions: []
                      batch_id: null
                      data_requests: []
                      download_url: null
                      editable: null
                      expired: false
                      expires_at: null
                      id: sub_000000000000000001
                      json_schema_errors:
                      - Your submission data did not contain a required property of
                        'last_name'
                      metadata:
                        bar: baz
                        foo: 123
                      password: null
                      pdf_hash: null
                      permanent_download_url: null
                      processed_at: null
                      state: invalid_data
                      template_id: tpl_000000000000000001
                      test: false
                      truncated_text: {}
              schema:
                $ref: '#/components/schemas/invalid_request'
          description: invalid request
      security:
      - api_token_basic: []
      summary: Generates a new PDF
      tags:
      - PDF
      x-openapi-router-controller: openapi_server.controllers.pdf_controller
      x-codegen-request-body-name: body
  /templates/{template_id}/submissions/batch:
    post:
      operationId: batch_generate_pdf_v1
      parameters:
      - example: tpl_000000000000000001
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
              - data:
                  first_name: Johnny
                  last_name: Smith
                metadata:
                  submission_number: 1
              - data:
                  first_name: Jane
                  last_name: Doe
                metadata:
                  submission_number: 2
              items:
                title: submission_data
                type: object
              properties:
                css:
                  type: string
                data:
                  type: object
                data_requests:
                  items:
                    properties:
                      auth_phone_number_hash:
                        nullable: true
                        type: string
                      auth_provider:
                        nullable: true
                        type: string
                      auth_second_factor_type:
                        enum:
                        - none
                        - phone_number
                        - totp
                        - mobile_push
                        - security_key
                        - fingerprint
                        type: string
                      auth_session_id_hash:
                        nullable: true
                        type: string
                      auth_session_started_at:
                        nullable: true
                        type: string
                      auth_type:
                        enum:
                        - none
                        - password
                        - oauth
                        - email_link
                        - phone_number
                        - ldap
                        - saml
                        type: string
                      auth_user_id_hash:
                        nullable: true
                        type: string
                      auth_username_hash:
                        nullable: true
                        type: string
                      email:
                        nullable: true
                        type: string
                      fields:
                        items:
                          type: string
                        nullable: true
                        type: array
                      metadata:
                        type: object
                      name:
                        nullable: true
                        type: string
                      order:
                        type: integer
                    required:
                    - auth_type
                    - email
                    title: create_submission_data_request_data
                    type: object
                  type: array
                html:
                  type: string
                metadata:
                  type: object
                test:
                  type: boolean
              required:
              - data
              title: create_submission_batch_v1
              type: array
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                  - status: success
                    submission:
                      actions: []
                      batch_id: null
                      data_requests: []
                      download_url: null
                      editable: null
                      expired: false
                      expires_at: null
                      id: sub_000000000000000001
                      json_schema_errors: []
                      metadata:
                        submission_number: 1
                      password: null
                      pdf_hash: null
                      permanent_download_url: null
                      processed_at: null
                      state: pending
                      template_id: tpl_000000000000000001
                      test: false
                      truncated_text: {}
                  - status: success
                    submission:
                      actions: []
                      batch_id: null
                      data_requests: []
                      download_url: null
                      editable: null
                      expired: false
                      expires_at: null
                      id: sub_000000000000000002
                      json_schema_errors: []
                      metadata:
                        submission_number: 2
                      password: null
                      pdf_hash: null
                      permanent_download_url: null
                      processed_at: null
                      state: pending
                      template_id: tpl_000000000000000001
                      test: false
                      truncated_text: {}
              schema:
                items:
                  $ref: '#/components/schemas/create_submission_response_1'
                type: array
          description: submissions created
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    error: "There was a problem with the JSON you submitted: unexpected\
                      \ character at line 1, column 25 in '{ \"first_name\": \"John\"\
                      , last_name: \"Smith\" }"
[...]
