openapi: 3.0.0
info:
  contact:
    email: support@interzoid.com
    name: API Support
    url: https://www.interzoid.com
    x-twitter: interzoid
  description: "This API provides a similarity key used to match with other similar\
    \ company name data, including for purposes of deduplication, fuzzy matching,\
    \ or merging of datasets. A much higher match rate will be achieved by matching\
    \ on the algorithmically generated similarity key rather than the data itself."
  license:
    name: Interzoid license
    url: https://www.interzoid.com/license
  termsOfService: https://www.interzoid.com/terms
  title: Interzoid Get Company Name Match Similarity Key API
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/interzoid/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://oas.interzoid.com/api/getcompanymatch.json
    version: "3.0"
  x-providerName: interzoid.com
  x-serviceName: getcompanymatch
externalDocs:
  description: API home page and documentation
  url: https://www.interzoid.com/services/getcompanymatch
servers:
- url: https://api.interzoid.com
paths:
  /getcompanymatch:
    get:
      description: Gets a similarity key for matching purposes for company name data
      operationId: getcompanymatch
      parameters:
      - description: Your Interzoid license API key. Register at www.interzoid.com/register
        explode: true
        in: query
        name: license
        required: true
        schema:
          type: string
        style: form
      - description: Company name from which to generate similarity key
        explode: true
        in: query
        name: company
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getcompanymatch_200_response'
          description: Generated similarity key for company name data
        "400":
          description: bad request - insufficient parameters
        "402":
          description: credits exhausted
        "403":
          description: invalid license API key
        "405":
          description: method not allowed
        "500":
          description: internal server error
      summary: Gets a similarity key for matching purposes for company name data
      tags:
      - Company Name Similarity Key
      x-accepts:
      - application/json
components:
  schemas:
    getcompanymatch_200_response:
      example:
        Credits: Credits
        Simkey: Simkey
        Code: Code
      properties:
        Code:
          type: string
        Credits:
          type: string
        Simkey:
          type: string
      type: object

