openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on Global Policies in
    Azure API Management deployment.
  title: ApiManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimpolicies.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimpolicies
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policies
  : get:
      description: Lists all the Global Policy definitions of the Api Management service.
      operationId: Policy_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy_ListByService_200_response'
          description: Returns an array of Policy Contracts.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Policy
      x-ms-examples:
        ApiManagementListPolicies:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy
                  name: policy
                  properties:
                    policyContent: "<!--\r\n    IMPORTANT:\r\n    - Policy elements\
                      \ can appear only within the <inbound>, <outbound>, <backend>\
                      \ section elements.\r\n    - Only the <forward-request> policy\
                      \ element can appear within the <backend> section element.\r\
                      \n    - To apply a policy to the incoming request (before it\
                      \ is forwarded to the backend service), place a corresponding\
                      \ policy element within the <inbound> section element.\r\n \
                      \   - To apply a policy to the outgoing response (before it\
                      \ is sent back to the caller), place a corresponding policy\
                      \ element within the <outbound> section element.\r\n    - To\
                      \ add a policy position the cursor at the desired insertion\
                      \ point and click on the round button associated with the policy.\r\
                      \n    - To remove a policy, delete the corresponding policy\
                      \ statement from the policy document.\r\n    - Policies are\
                      \ applied in the order of their appearance, from the top down.\r\
                      \n-->\r\n<policies>\r\n  <inbound />\r\n  <backend>\r\n    <forward-request\
                      \ />\r\n  </backend>\r\n  <outbound />\r\n</policies>"
                  type: Microsoft.ApiManagement/service/policies
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policies/{policyId}
  : delete:
      description: Deletes the global policy configuration of the Api Management Service.
      operationId: Policy_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identifier of the Policy.
        in: path
        name: policyId
        required: true
        schema:
          enum:
          - policy
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Policy was successfully removed
        "204":
          content: {}
          description: Policy successfully removed by previous request or does not
            exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Policy
      x-ms-examples:
        ApiManagementDeletePolicy:
          parameters:
            If-Match: '*'
            api-version: 2018-06-01-preview
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get the Global policy definition of the Api Management service.
      operationId: Policy_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identifier of the Policy.
        in: path
        name: policyId
        required: true
        schema:
          enum:
          - policy
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy_Get_200_response'
          description: Get the Global policy definition of the Api Management service.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Policy
      x-ms-examples:
        ApiManagementGetPolicy:
          parameters:
            api-version: 2018-06-01-preview
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy
                name: policy
                properties:
                  policyContent: "<!--\r\n    IMPORTANT:\r\n    - Policy elements\
                    \ can appear only within the <inbound>, <outbound>, <backend>\
                    \ section elements.\r\n    - Only the <forward-request> policy\
                    \ element can appear within the <backend> section element.\r\n\
                    \    - To apply a policy to the incoming request (before it is\
                    \ forwarded to the backend service), place a corresponding policy\
                    \ element within the <inbound> section element.\r\n    - To apply\
                    \ a policy to the outgoing response (before it is sent back to\
                    \ the caller), place a corresponding policy element within the\
                    \ <outbound> section element.\r\n    - To add a policy position\
                    \ the cursor at the desired insertion point and click on the round\
                    \ button associated with the policy.\r\n    - To remove a policy,\
                    \ delete the corresponding policy statement from the policy document.\r\
                    \n    - Policies are applied in the order of their appearance,\
                    \ from the top down.\r\n-->\r\n<policies>\r\n  <inbound />\r\n\
                    \  <backend>\r\n    <forward-request />\r\n  </backend>\r\n  <outbound\
                    \ />\r\n</policies>"
                type: Microsoft.ApiManagement/service/policies
      x-accepts:
      - application/json
    head:
      description: Gets the entity state (Etag) version of the Global policy definition
        in the Api Management service.
      operationId: Policy_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identifier of the Policy.
        in: path
        name: policyId
        required: true
        schema:
          enum:
          - policy
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The current entity state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Policy
      x-ms-examples:
        ApiManagementHeadPolicy:
          parameters:
            api-version: 2018-06-01-preview
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-accepts:
      - application/json
    put:
      description: Creates or updates the global policy configuration of the Api Management
        service.
      operationId: Policy_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The identifier of the Policy.
        in: path
        name: policyId
        required: true
        schema:
          enum:
          - policy
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        x-ms-enum:
          modelAsString: true
          name: PolicyIdName
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy_Get_200_response'
        description: The policy contents to apply.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy_Get_200_response'
          description: Global policy configuration of the Api Management service was
            successfully updated.
          headers:
            ETag:
              description: Current entity state version
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy_Get_200_response'
          description: Global policy configuration was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Policy
      x-ms-examples:
        ApiManagementCreatePolicy:
          parameters:
            api-version: 2018-06-01-preview
            parameters:
              properties:
                contentFormat: xml
                policyContent: "<policies>\r\n  <inbound />\r\n  <backend>\r\n   \
                  \ <forward-request />\r\n  </backend>\r\n  <outbound />\r\n</policies>"
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r\n  <inbound />\r\n  <backend>\r\n \
                    \   <forward-request />\r\n  </backend>\r\n  <outbound />\r\n\
                    </policies>"
                type: Microsoft.ApiManagement/service/policies
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r\n  <inbound />\r\n  <backend>\r\n \
                    \   <forward-request />\r\n  </backend>\r\n  <outbound />\r\n\
                    </policies>"
                type: Microsoft.ApiManagement/service/policies
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    Policy_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    Policy_ListByService_200_response_value_inner:
      description: Policy Contract details.
      example:
        properties:
          contentFormat: xml
          policyContent: policyContent
      properties:
        properties:
          $ref: '#/components/schemas/Policy_ListByService_200_response_value_inner_properties'
      type: object
    Policy_ListByService_200_response_value_inner_properties:
      description: Policy contract Properties.
      example:
        contentFormat: xml
        policyContent: policyContent
      properties:
        contentFormat:
          default: xml
          description: Format of the policyContent.
          enum:
          - xml
          - xml-link
          - rawxml
          - rawxml-link
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyContentFormat
            values:
            - description: The contents are inline and Content type is an XML document.
              value: xml
            - description: The policy XML document is hosted on a http endpoint accessible
                from the API Management service.
              value: xml-link
            - description: The contents are inline and Content type is a non XML encoded
                policy document.
              value: rawxml
            - description: The policy document is not Xml encoded and is hosted on
                a http endpoint accessible from the API Management service.
              value: rawxml-link
        policyContent:
          description: Json escaped Xml Encoded contents of the Policy.
          type: string
      required:
      - policyContent
      type: object
    Policy_ListByService_200_response:
      description: The response of the list policy operation.
      example:
        value:
        - properties:
            contentFormat: xml
            policyContent: policyContent
        - properties:
            contentFormat: xml
            policyContent: policyContent
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Policy Contract value.
          items:
            $ref: '#/components/schemas/Policy_ListByService_200_response_value_inner'
          type: array
      type: object
    Policy_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Policy_ListByService_default_response_error'
      type: object
    Policy_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Policy_ListByService_default_response_error_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    Policy_Get_200_response:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Policy Contract details.
      example:
        properties:
          contentFormat: xml
          policyContent: policyContent
      properties:
        properties:
          $ref: '#/components/schemas/Policy_ListByService_200_response_value_inner_properties'
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

