openapi: 3.0.1
info:
  description: The Admin Storage Management Client.
  title: StorageManagementClient
  version: 2015-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2015-12-01/shares.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-shares
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares:
    get:
      description: Returns a list of storage shares.
      operationId: shares_list
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareList'
          description: OK -- The list of storage shares has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The farm cannot be found.
      tags:
      - Shares
      x-ms-examples:
        Returns a list of storage shares.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
              - id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af/shares/||SU1FileServer.azurestack.local|SU1_ObjStore
                location: local
                name: 3cf03497-c44a-4e51-a56f-3987d88c70af/||SU1FileServer.azurestack.local|SU1_ObjStore
                properties:
                  freeCapacity: 2327667589120
                  healthStatus: Healthy
                  shareName: '||SU1FileServer.azurestack.local|SU1_ObjStore'
                  totalCapacity: 2728176648192
                  uncPath: \\\\SU1FileServer.azurestack.local\\SU1_ObjStore
                  usedCapacity: 400509059072
                type: Microsoft.Storage.Admin/farms/shares
            "404": {}
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.shares_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}
  : get:
      description: Returns a storage share.
      operationId: shares_get
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Share name.
        in: path
        name: shareName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Share'
          description: OK -- The storage share has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The farm or storage share cannot be found.
      tags:
      - Shares
      x-ms-examples:
        Returns a storage share.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            shareName: '||SU1FileServer.azurestack.local|SU1_ObjStore'
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af/shares/||SU1FileServer.azurestack.local|SU1_ObjStore
                location: local
                name: 3cf03497-c44a-4e51-a56f-3987d88c70af/||SU1FileServer.azurestack.local|SU1_ObjStore
                properties:
                  freeCapacity: 2327667589120
                  healthStatus: Healthy
                  shareName: '||SU1FileServer.azurestack.local|SU1_ObjStore'
                  totalCapacity: 2728176648192
                  uncPath: \\\\SU1FileServer.azurestack.local\\SU1_ObjStore
                  usedCapacity: 400509059072
                type: Microsoft.Storage.Admin/farms/shares
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.shares_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/metricdefinitions
  : get:
      description: Returns a list of metric definitions for a storage share.
      operationId: shares_list_metric_definitions
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Share name.
        in: path
        name: shareName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shares_ListMetricDefinitions_200_response'
          description: OK -- The list of metric definitions has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The farm cannot be found.
      tags:
      - Shares
      x-ms-examples:
        Returns a list of metric definitions for a storage share.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            shareName: '||SU1FileServer.azurestack.local|SU1_ObjStore'
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                - metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Total Capacity
                    value: TotalCapacity
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Used Capacity
                    value: UsedCapacity
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Free Space
                    value: FreeSpace
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Used Capacity Percentage
                    value: 'UsedCapacityPercentage '
                  primaryAggregationType: Average
                  unit: Count
                - metricAvailabilities:
                  - retention: P30D
                    timeGrain: PT1H
                  - retention: P60D
                    timeGrain: P1D
                  name:
                    localizedValue: Free Space Percentage
                    value: 'FreeSpacePercentage '
                  primaryAggregationType: Average
                  unit: Count
            "404": {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.shares_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/shares/{shareName}/metrics
  : get:
      description: Returns a list of metrics for a storage share.
      operationId: shares_list_metrics
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Farm Id.
        in: path
        name: farmId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Share name.
        in: path
        name: shareName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: REST Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shares_ListMetrics_200_response'
          description: OK -- The list of metrics has been returned.
        "404":
          content: {}
          description: NOT FOUND -- The farm or share cannot be found.
      tags:
      - Shares
      x-ms-examples:
        Returns a list of metrics for a storage share.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            shareName: '||SU1FileServer.azurestack.local|SU1_ObjStore'
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                - endTime: 2018-01-30T19:31:25.5502828Z
                  metricUnit: Count
                  metricValues:
                  - average: 2728176648192
                    timeStamp: 2018-01-29T00:00:00Z
                  - average: 2728176648192
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 2728176648192
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 2728176648192
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 2728176648192
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 2728176648192
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 2728176648192
                    timeStamp: 2018-01-23T00:00:00Z
                  name:
                    localizedValue: Total Capacity
                    value: TotalCapacity
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:25.5502828Z
                  metricUnit: Count
                  metricValues:
                  - average: 389873692672
                    timeStamp: 2018-01-29T00:00:00Z
                  - average: 3.796379987626667E11
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 369550244352
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 3.590998038186667E11
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 3.483433869653333E11
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 3.389106781866667E11
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 3.303349623466667E11
                    timeStamp: 2018-01-23T00:00:00Z
                  name:
                    localizedValue: Used Capacity
                    value: UsedCapacity
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:25.5502828Z
                  metricUnit: Count
                  metricValues:
                  - average: 2338302955520
                    timeStamp: 2018-01-29T00:00:00Z
                  - average: 2.3485386494293335E12
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 2358626403840
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 2.3690768443733335E12
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 2.3798332612266665E12
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 2.3892659700053335E12
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 2.3978416858453335E12
                    timeStamp: 2018-01-23T00:00:00Z
                  name:
                    localizedValue: Free Space
                    value: FreeSpace
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:25.5502828Z
                  metricUnit: Count
                  metricValues:
                  - average: 0.1429063227743609
                    timeStamp: 2018-01-29T00:00:00Z
                  - average: 0.139154478510128
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 0.13545686075603133
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 0.13162630215189586
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 0.12768358940253569
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 0.1242260754673886
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 0.12108268816302059
                    timeStamp: 2018-01-23T00:00:00Z
                  name:
                    localizedValue: Used Capacity Percentage
                    value: 'UsedCapacityPercentage '
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
                - endTime: 2018-01-30T19:31:25.5502828Z
                  metricUnit: Count
                  metricValues:
                  - average: 0.857093677225639
                    timeStamp: 2018-01-29T00:00:00Z
                  - average: 0.8608455214898721
                    timeStamp: 2018-01-28T00:00:00Z
                  - average: 0.8645431392439686
                    timeStamp: 2018-01-27T00:00:00Z
                  - average: 0.8683736978481039
                    timeStamp: 2018-01-26T00:00:00Z
                  - average: 0.8723164105974645
                    timeStamp: 2018-01-25T00:00:00Z
                  - average: 0.8757739245326116
                    timeStamp: 2018-01-24T00:00:00Z
                  - average: 0.8789173118369794
                    timeStamp: 2018-01-23T00:00:00Z
                  name:
                    localizedValue: Free Space Percentage
                    value: 'FreeSpacePercentage '
                  startTime: 2018-01-23T00:00:00Z
                  timeGrain: P1D
            "404": {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.shares_controller
components:
  schemas:
    Share:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource Name.
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Storage share.
      example:
        properties:
          healthStatus: Unknown
          totalCapacity: 6
          usedCapacity: 1
          uncPath: uncPath
          shareName: shareName
          freeCapacity: 0
      properties:
        properties:
          $ref: '#/components/schemas/ShareProperties'
      title: Share
    ShareList:
      description: List of storage shares.
      items:
        $ref: '#/components/schemas/Share'
      type: array
    ShareProperties:
      description: Storage share properties.
      example:
        healthStatus: Unknown
        totalCapacity: 6
        usedCapacity: 1
        uncPath: uncPath
        shareName: shareName
        freeCapacity: 0
      properties:
        freeCapacity:
          description: The free space of the storage share in bytes.
          format: int64
          readOnly: true
          title: freeCapacity
          type: integer
        healthStatus:
          description: Current health status.
          enum:
          - Unknown
          - Healthy
          - Warning
          - Critical
          readOnly: true
          title: healthStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: HealthStatus
        shareName:
          description: The name of the storage share.
          readOnly: true
          title: shareName
          type: string
        totalCapacity:
          description: The total capacity of the storage share in bytes.
          format: int64
          readOnly: true
          title: totalCapacity
          type: integer
        uncPath:
          description: The UNC path to the storage share.
          readOnly: true
          title: uncPath
          type: string
        usedCapacity:
          description: The used capacity of the storage share in bytes.
          format: int64
          readOnly: true
          title: usedCapacity
          type: integer
      title: ShareProperties
      type: object
    Shares_ListMetricDefinitions_200_response_value_inner_metricAvailabilities_inner:
      description: Metric availability.
      example:
        timeGrain: timeGrain
        retention: retention
      properties:
        retention:
          description: Retention of metric.
          title: retention
          type: string
        timeGrain:
          description: Time grain.
          title: timeGrain
          type: string
      title: Shares_ListMetricDefinitions_200_response_value_inner_metricAvailabilities_inner
      type: object
    Shares_ListMetricDefinitions_200_response_value_inner_name:
      description: Localizable string.
      example:
        localizedValue: localizedValue
        value: value
      properties:
        localizedValue:
          description: Localized value of the string.
          title: localizedValue
          type: string
        value:
          description: Value of the string.
          title: value
          type: string
      title: Shares_ListMetricDefinitions_200_response_value_inner_name
      type: object
    Shares_ListMetricDefinitions_200_response_value_inner:
      description: Metric definition.
      example:
        primaryAggregationType: None
        unit: Count
        name:
          localizedValue: localizedValue
          value: value
        metricAvailabilities:
        - timeGrain: timeGrain
          retention: retention
        - timeGrain: timeGrain
          retention: retention
      properties:
        metricAvailabilities:
          description: Metric availabilities.
          items:
            $ref: '#/components/schemas/Shares_ListMetricDefinitions_200_response_value_inner_metricAvailabilities_inner'
          readOnly: true
          title: metricAvailabilities
          type: array
        name:
          $ref: '#/components/schemas/Shares_ListMetricDefinitions_200_response_value_inner_name'
        primaryAggregationType:
          description: Aggregate type.
          enum:
          - None
          - Average
          - Total
          - Minimum
          - Maximum
          - Last
          readOnly: true
          title: primaryAggregationType
          type: string
          x-ms-enum:
            modelAsString: true
            name: AggregateType
        unit:
          description: Metric unit.
          enum:
          - Count
          - Bytes
          - Seconds
          - CountPerSecond
          - BytesPerSecond
          title: unit
          type: string
          x-ms-enum:
            modelAsString: true
            name: MetricUnit
      title: Shares_ListMetricDefinitions_200_response_value_inner
      type: object
    Shares_ListMetricDefinitions_200_response:
      description: Pageable list of metric definitions.
      example:
        value:
        - primaryAggregationType: None
          unit: Count
          name:
            localizedValue: localizedValue
            value: value
          metricAvailabilities:
          - timeGrain: timeGrain
            retention: retention
          - timeGrain: timeGrain
            retention: retention
        - primaryAggregationType: None
          unit: Count
          name:
            localizedValue: localizedValue
            value: value
          metricAvailabilities:
          - timeGrain: timeGrain
            retention: retention
          - timeGrain: timeGrain
            retention: retention
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of metric definitions.
          items:
            $ref: '#/components/schemas/Shares_ListMetricDefinitions_200_response_value_inner'
          readOnly: true
          title: value
          type: array
      title: Shares_ListMetricDefinitions_200_response
      type: object
    Shares_ListMetrics_200_response_value_inner_metricValues_inner:
      description: Metric value.
      example:
        timeStamp: 2000-01-23T04:56:07.000+00:00
        average: 0.8008282
        total: 5.637377
        count: 6
        maximum: 1.4658129
        minimum: 5.962134
        properties: properties
      properties:
        average:
          description: Average value of metric.
          format: float
          readOnly: true
          title: average
          type: number
        count:
          description: Count of metric values.
          format: int32
          readOnly: true
          title: count
          type: integer
        maximum:
          description: Maximum value of metric.
          format: float
          readOnly: true
          title: maximum
          type: number
        minimum:
          description: Minimum value of metric.
          format: float
          readOnly: true
          title: minimum
          type: number
        properties:
          description: Metric value properties.
          readOnly: true
          title: properties
          type: string
        timeStamp:
          description: Timestamp of metric value.
          format: date-time
          readOnly: true
          title: timeStamp
          type: string
        total:
          description: Total value of metric.
          format: float
          readOnly: true
          title: total
          type: number
      title: Shares_ListMetrics_200_response_value_inner_metricValues_inner
      type: object
    Shares_ListMetrics_200_response_value_inner:
      description: Metric information.
      example:
        timeGrain: timeGrain
        name:
          localizedValue: localizedValue
          value: value
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        metricUnit: Count
        metricValues:
        - timeStamp: 2000-01-23T04:56:07.000+00:00
          average: 0.8008282
          total: 5.637377
          count: 6
          maximum: 1.4658129
          minimum: 5.962134
          properties: properties
        - timeStamp: 2000-01-23T04:56:07.000+00:00
          average: 0.8008282
          total: 5.637377
          count: 6
          maximum: 1.4658129
          minimum: 5.962134
          properties: properties
      properties:
        endTime:
          description: Metric end time.
          format: date-time
          readOnly: true
          title: endTime
          type: string
        metricUnit:
          description: Metric unit.
          enum:
          - Count
          - Bytes
          - Seconds
          - CountPerSecond
          - BytesPerSecond
          title: metricUnit
          type: string
          x-ms-enum:
            modelAsString: true
            name: MetricUnit
        metricValues:
          description: List of metric values.
          items:
            $ref: '#/components/schemas/Shares_ListMetrics_200_response_value_inner_metricValues_inner'
          readOnly: true
          title: metricValues
          type: array
        name:
          $ref: '#/components/schemas/Shares_ListMetricDefinitions_200_response_value_inner_name'
        startTime:
          description: Metric start time.
          format: date-time
          readOnly: true
          title: startTime
          type: string
        timeGrain:
          description: Metric time grain.
          readOnly: true
          title: timeGrain
          type: string
      title: Shares_ListMetrics_200_response_value_inner
      type: object
    Shares_ListMetrics_200_response:
      description: Pageable list of metrics.
      example:
        value:
        - timeGrain: timeGrain
          name:
            localizedValue: localizedValue
            value: value
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          metricUnit: Count
          metricValues:
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
        - timeGrain: timeGrain
          name:
            localizedValue: localizedValue
            value: value
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          metricUnit: Count
          metricValues:
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
          - timeStamp: 2000-01-23T04:56:07.000+00:00
            average: 0.8008282
            total: 5.637377
            count: 6
            maximum: 1.4658129
            minimum: 5.962134
            properties: properties
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of metrics.
          items:
            $ref: '#/components/schemas/Shares_ListMetrics_200_response_value_inner'
          readOnly: true
          title: value
          type: array
      title: Shares_ListMetrics_200_response
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
