openapi: 3.0.0
info:
  contact:
    x-twitter: GameSparksltd
  description: The API to manage the GameSparks game details
  license:
    name: ' '
  termsOfService: http://www.gamesparks.com/gamesparks-terms-of-use
  title: GameSparks Game Details API
  version: v2
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/GameSparksltd/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://config2.gamesparks.net/restv2/admin/api/schema
    version: "3.0"
  x-providerName: gamesparks.net
  x-serviceName: game-details
servers:
- url: //config2.gamesparks.net
tags:
- description: Scripts Restv 2 Controller
  name: scripts
- description: Experiment Rest Controller
  name: experiments
- description: Billing Details Rest V 2 Controller
  name: billingDetails
- description: Manage Restv 2 Controller
  name: manage
- description: Analytics Restv 2 Controller
  name: analytics
- description: Push Notification Test Controller
  name: pushNotificationTest
- description: Game Credentials Rest V 2 Controller
  name: credentials
- name: snapshots
- description: Games Admin Restv 2 Controller
  name: gamesAdmin
- description: Region Restv 2 Controller
  name: region
- description: Test Harness Restv 2 Controller
  name: testHarness
- description: Segment Query Filter Restv 2 Controller
  name: segmentQueryFilters
- description: Log Summary Restv 2 Controller
  name: notifications
paths:
  /restv2/game/regions:
    get:
      operationId: getRegionOptionsUsingGET
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/GameRegionOptionsDTO'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getRegionOptions
      tags:
      - region
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/analytics:
    get:
      operationId: getAnalyticsDataUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: stage
        explode: true
        in: query
        name: stage
        required: true
        schema:
          enum:
          - LIVE
          - PREVIEW
          type: string
        style: form
      - description: dataType
        explode: true
        in: query
        name: dataType
        required: true
        schema:
          enum:
          - activeDevices
          - activeLocations
          - activeUsers
          - averageBandwidthPerUser
          - averageDauOverMau
          - averageJsExecutionTime
          - averageRequestsPerUser
          - averageResponseTime
          - averageResponseTimePerType
          - scriptLogLevelsCount
          - sessionAnalytic
          - storagePerUser
          - customAnalyticTotal
          - customAnalyticUser
          - timedAnalyticTotal
          - sessionAnalyticTotal
          - connectedUsers
          type: string
        style: form
      - description: precision
        explode: true
        in: query
        name: precision
        required: true
        schema:
          enum:
          - HOURLY
          - DAILY
          - MONTHLY
          type: string
        style: form
      - description: yyyy-MM-dd
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: yyyy-MM-dd
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "the keys to select. For example \"ReturningUsers\", \"NewUsers\"\
          , etc"
        explode: true
        in: query
        name: keys
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/AnalyticsDataSwaggerModel'
                type: array
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: Returns the results of executed query defined by the parameters passed
        in
      tags:
      - analytics
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/analytics/count:
    get:
      operationId: getDataCountUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: stage
        explode: true
        in: query
        name: stage
        required: true
        schema:
          enum:
          - LIVE
          - PREVIEW
          type: string
        style: form
      - description: queryName
        explode: true
        in: query
        name: queryName
        required: true
        schema:
          enum:
          - activeUsersNow
          - dailyActiveUsers
          - averageDailyActiveUsers
          - lastMonthlyActiveUsers
          - monthlyActiveUsers
          - averageSessionDuration
          type: string
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AnalyticsDataCountSwaggerModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: Returns the count of executed query
      tags:
      - analytics
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/analytics/rollingRetention:
    get:
      operationId: getRetentionUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: stage
        explode: true
        in: query
        name: stage
        required: true
        schema:
          enum:
          - LIVE
          - PREVIEW
          type: string
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AnalyticsDataCountSwaggerModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: Returns the percentage of user retention over the last 30 days
      tags:
      - analytics
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/billingDetails:
    get:
      description: Retrieves the Billing Details.
      operationId: getBillingDetails
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/BillingDetailsModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: Retrieves the Billing Details
      tags:
      - billingDetails
      x-accepts:
      - application/json;charset=UTF-8
    put:
      description: Updates the Billing Details.
      operationId: putBillingDetails
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingDetailsModel'
        description: billingDetails
        required: true
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/BillingDetailsModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: Updates the Billing Details
      tags:
      - billingDetails
      x-content-type: application/json
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/notifications/summary:
    get:
      operationId: getGameSummaryUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: stage
        explode: true
        in: query
        name: stage
        required: true
        schema:
          enum:
          - LIVE
          - PREVIEW
          type: string
        style: form
      - description: yyyy-MM-dd
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: yyyy-MM-dd
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/GameSummaryModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getGameSummary
      tags:
      - notifications
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/pushNotifications/test/amazon:
    post:
      operationId: testPushAmazonNotificationsUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PushNotificationTestModel'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PushNotificationTestSummaryListModel'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: testPushAmazonNotifications
      tags:
      - pushNotificationTest
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /restv2/game/{apiKey}/admin/pushNotifications/test/apple/development:
    post:
      operationId: testPushAppleDevNotificationsUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PushNotificationTestModel'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PushNotificationTestSummaryListModel'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: testPushAppleDevNotifications
      tags:
      - pushNotificationTest
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /restv2/game/{apiKey}/admin/pushNotifications/test/apple/production:
    post:
      operationId: testPushAppleProdNotificationsUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PushNotificationTestModel'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PushNotificationTestSummaryListModel'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: testPushAppleProdNotifications
      tags:
      - pushNotificationTest
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /restv2/game/{apiKey}/admin/pushNotifications/test/google:
    post:
      operationId: testPushGoogleNotificationsUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PushNotificationTestModel'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PushNotificationTestSummaryListModel'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: testPushGoogleNotifications
      tags:
      - pushNotificationTest
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /restv2/game/{apiKey}/admin/pushNotifications/test/microsoft/windows8:
    post:
      operationId: testWindows8NotificationsUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PushNotificationTestModel'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PushNotificationTestSummaryListModel'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: testWindows8Notifications
      tags:
      - pushNotificationTest
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /restv2/game/{apiKey}/admin/pushNotifications/test/microsoft/windowsPhone8:
    post:
      operationId: testWindowsPhone8NotificationsUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PushNotificationTestModel'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PushNotificationTestSummaryListModel'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: testWindowsPhone8Notifications
      tags:
      - pushNotificationTest
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /restv2/game/{apiKey}/admin/pushNotifications/test/viber/integration:
    post:
      operationId: testViberIntegrationNotificationsUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PushNotificationTestModel'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PushNotificationTestSummaryListModel'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: testViberIntegrationNotifications
      tags:
      - pushNotificationTest
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /restv2/game/{apiKey}/admin/pushNotifications/test/viber/production:
    post:
      operationId: testViberProductionNotificationsUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PushNotificationTestModel'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PushNotificationTestSummaryListModel'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: testViberProductionNotifications
      tags:
      - pushNotificationTest
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /restv2/game/{apiKey}/admin/scripts/differences/{snapshotId1}/{snapshotId2}:
    get:
      operationId: getScriptDifferencesUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: snapshotId1
        explode: false
        in: path
        name: snapshotId1
        required: true
        schema:
          type: string
        style: simple
      - description: snapshotId2
        explode: false
        in: path
        name: snapshotId2
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScriptsDifferenceListModel'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getScriptDifferences
      tags:
      - scripts
      x-accepts:
      - '*/*'
  /restv2/game/{apiKey}/admin/scripts/export:
    get:
      operationId: exportZipUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: exportZip
      tags:
      - scripts
      x-accepts:
      - '*/*'
  /restv2/game/{apiKey}/admin/scripts/import/accept:
    post:
      operationId: importAcceptUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: body
        explode: true
        in: query
        name: body
        required: true
        schema:
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/importAcceptUsingPOST'
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: importAccept
      tags:
      - scripts
      x-content-type: multipart/form-data
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/scripts/import/preview:
    post:
      operationId: importZipUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/importAcceptUsingPOST'
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ScriptsDifferenceListModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: importZip
      tags:
      - scripts
      x-content-type: multipart/form-data
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/scripts/versions:
    get:
      operationId: getScriptVersionsUsingGET_1
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: pageSize
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotScriptVersionListModel'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getScriptVersions
      tags:
      - scripts
      x-accepts:
      - '*/*'
  /restv2/game/{apiKey}/admin/scripts/versions/{page}:
    get:
      operationId: getScriptVersionsUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: page
        explode: false
        in: path
        name: page
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: pageSize
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SnapshotScriptVersionListModel'
          description: OK
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getScriptVersions
      tags:
      - scripts
      x-accepts:
      - '*/*'
  /restv2/game/{apiKey}/admin/segmentQueryFilters:
    get:
      operationId: getSegmentQueryFiltersUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SegmentQueryFilterListModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getSegmentQueryFilters
      tags:
      - segmentQueryFilters
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/segmentQueryFilters/config:
    get:
      operationId: getSegmentQueryFiltersConfigUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SegmentQueryFilterConfigModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getSegmentQueryFiltersConfig
      tags:
      - segmentQueryFilters
      x-accepts:
      - application/json;charset=UTF-8
    put:
      operationId: updateSegmentQueryFiltersConfigUsingPUT
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentQueryFilterConfigModel'
        description: segmentQueryConfig
        required: true
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SegmentQueryFilterConfigModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: updateSegmentQueryFiltersConfig
      tags:
      - segmentQueryFilters
      x-content-type: application/json
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/segmentQueryFilters/standardFilters:
    get:
      operationId: getSegmentQueryStandardFiltersUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SegmentQueryFilterListModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getSegmentQueryStandardFilters
      tags:
      - segmentQueryFilters
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/snapshots:
    get:
      operationId: getSnapshotsUsingGET_1
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: pageSize
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/SnapshotModel'
                type: array
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getSnapshots
      tags:
      - snapshots
      x-accepts:
      - application/json;charset=UTF-8
    post:
      operationId: createSnapshotsUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnapshotCreationModel'
        description: description
        required: true
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SnapshotModel'
          description: Created
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: createSnapshots
      tags:
      - snapshots
      x-content-type: application/json
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/snapshots/liveSnapshotId:
    get:
      operationId: getLiveSnapshotIdUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getLiveSnapshotId
      tags:
      - snapshots
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/snapshots/page/{page}:
    get:
      operationId: getSnapshotsUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: page
        explode: false
        in: path
        name: page
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: pageSize
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/SnapshotModel'
                type: array
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getSnapshots
      tags:
      - snapshots
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/snapshots/revert/to/{snapshotId}:
    post:
      operationId: revertToSnapshotUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: snapshotId
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: revertToSnapshot
      tags:
      - snapshots
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/snapshots/{snapshotId}:
    delete:
      operationId: deleteSnapshotUsingDELETE_1
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: snapshotId
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: deleteSnapshot
      tags:
      - snapshots
      x-accepts:
      - application/json;charset=UTF-8
    get:
      operationId: getSnapshotUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: snapshotId
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SnapshotModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getSnapshot
      tags:
      - snapshots
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/snapshots/{snapshotId}/copy:
    post:
      operationId: copySnapshotToNewGameUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: snapshotId
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      - description: includeGameConfig
        explode: true
        in: query
        name: includeGameConfig
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: includeMetadata
        explode: true
        in: query
        name: includeMetadata
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: includeBinaries
        explode: true
        in: query
        name: includeBinaries
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: includeCollaborators
        explode: true
        in: query
        name: includeCollaborators
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SnapshotCreationSuccessModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: copySnapshotToNewGame
      tags:
      - snapshots
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/snapshots/{snapshotId}/copy/to/{targetApiKey}:
    post:
      operationId: copySnapshotToExistingGameUsingPOST_1
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: snapshotId
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      - description: targetApiKey
        explode: false
        in: path
        name: targetApiKey
        required: true
        schema:
          type: string
        style: simple
      - description: includeGameConfig
        explode: true
        in: query
        name: includeGameConfig
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: includeMetadata
        explode: true
        in: query
        name: includeMetadata
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: includeBinaries
        explode: true
        in: query
        name: includeBinaries
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: includeCollaborators
        explode: true
        in: query
        name: includeCollaborators
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SnapshotCreationSuccessModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: copySnapshotToExistingGame
      tags:
      - snapshots
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/snapshots/{snapshotId}/publish:
    post:
      operationId: publishSnapshotUsingPOST_1
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: snapshotId
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: publishSnapshot
      tags:
      - snapshots
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/snapshots/{snapshotId}/unpublish:
    post:
      operationId: unpublishSnapshotUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: snapshotId
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: unpublishSnapshot
      tags:
      - snapshots
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/testHarness/scenarios:
    get:
      operationId: getTestHarnessScenariosUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/TestHarnessScenarioModel'
                type: array
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getTestHarnessScenarios
      tags:
      - testHarness
      x-accepts:
      - application/json;charset=UTF-8
    post:
      operationId: createTestHarnessScenarioUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TestHarnessScenarioModel'
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TestHarnessScenarioModel'
          description: Created
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: createTestHarnessScenario
      tags:
      - testHarness
      x-content-type: application/json
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/admin/testHarness/scenarios/{scenarioName}:
    delete:
      operationId: deleteTestHarnessScenarioUsingDELETE
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: scenarioName
        explode: false
        in: path
        name: scenarioName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: deleteTestHarnessScenario
      tags:
      - testHarness
      x-accepts:
      - application/json;charset=UTF-8
    get:
      operationId: getTestHarnessScenarioUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: scenarioName
        explode: false
        in: path
        name: scenarioName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TestHarnessScenarioModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getTestHarnessScenario
      tags:
      - testHarness
      x-accepts:
      - application/json;charset=UTF-8
    put:
      operationId: updateTestHarnessScenarioUsingPUT
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: scenarioName
        explode: false
        in: path
        name: scenarioName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/TestHarnessScenarioModel'
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TestHarnessScenarioModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: updateTestHarnessScenario
      tags:
      - testHarness
      x-content-type: application/json
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/config/~credentials/{credentialName}/resetSecret:
    post:
      operationId: updateCredentialSecretUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: credentialName
        explode: false
        in: path
        name: credentialName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: Resets the secret of a credential
      tags:
      - credentials
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/endpoints:
    get:
      operationId: getGamesEndpointsUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/GameEndpointsModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getGamesEndpoints
      tags:
      - gamesAdmin
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/experiments:
    get:
      operationId: getExperimentsUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/ExperimentModel'
                type: array
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getExperiments
      tags:
      - experiments
      x-accepts:
      - application/json;charset=UTF-8
    post:
      operationId: createExperimentUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ExperimentModel'
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExperimentModel'
          description: Created
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: createExperiment
      tags:
      - experiments
      x-content-type: application/json
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/experiments/{id}:
    delete:
      operationId: deleteExperimentUsingDELETE
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: deleteExperiment
      tags:
      - experiments
      x-accepts:
      - application/json;charset=UTF-8
    get:
      operationId: getExperimentUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExperimentModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getExperiment
      tags:
      - experiments
      x-accepts:
      - application/json;charset=UTF-8
    put:
      operationId: updateExperimentUsingPUT
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ExperimentModel'
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExperimentModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: updateExperiment
      tags:
      - experiments
      x-content-type: application/json
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/experiments/{id}/{action}:
    post:
      operationId: doActionExperimentUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: id
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: action
        explode: false
        in: path
        name: action
        required: true
        schema:
          enum:
          - start
          - stop
          - publish
          - unpublish
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExperimentModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: doActionExperiment
      tags:
      - experiments
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/queries:
    get:
      operationId: listQueriesUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/ManageItemSummary'
                type: array
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: listQueries
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
    post:
      operationId: createQueryUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ManageQuery'
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageQuery'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: createQuery
      tags:
      - manage
      x-content-type: application/json
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/queries/{shortCode}:
    delete:
      operationId: deleteQueryUsingDELETE
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: shortCode
        explode: false
        in: path
        name: shortCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageResult'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: deleteQuery
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
    get:
      operationId: getQueryUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: shortCode
        explode: false
        in: path
        name: shortCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageQuery'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getQuery
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
    put:
      operationId: updateQueryUsingPUT
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: shortCode
        explode: false
        in: path
        name: shortCode
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ManageQuery'
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageQuery'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: updateQuery
      tags:
      - manage
      x-content-type: application/json
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/screens:
    get:
      operationId: listScreensUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/ManageItemSummary'
                type: array
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: listScreens
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
    post:
      operationId: createScreenUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ManageScreen'
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageScreen'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: createScreen
      tags:
      - manage
      x-content-type: application/json
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/screens/executable:
    get:
      operationId: listExecutableScreensUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/ManageItemSummary'
                type: array
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: listExecutableScreens
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/screens/{shortCode}:
    delete:
      operationId: deleteScreenUsingDELETE
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: shortCode
        explode: false
        in: path
        name: shortCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageResult'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: deleteScreen
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
    get:
      operationId: getScreenUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: shortCode
        explode: false
        in: path
        name: shortCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageScreen'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getScreen
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
    put:
      operationId: updateScreenUsingPUT
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: shortCode
        explode: false
        in: path
        name: shortCode
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ManageScreen'
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageScreen'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: updateScreen
      tags:
      - manage
      x-content-type: application/json
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/snapshots:
    get:
      operationId: listSnapshotsUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/ManageSnapshot'
                type: array
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: listSnapshots
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
    post:
      operationId: createSnapshotUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnapshotCreationModel'
        description: model
        required: true
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageSnapshot'
          description: Created
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: createSnapshot
      tags:
      - manage
      x-content-type: application/json
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/snapshots/{snapshotId}:
    delete:
      operationId: deleteSnapshotUsingDELETE
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: snapshotId
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: success
        "201":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageResult'
          description: Created
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: deleteSnapshot
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/snapshots/{snapshotId}/copy/to/{targetApiKey}:
    post:
      operationId: copySnapshotToExistingGameUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: snapshotId
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      - description: targetApiKey
        explode: false
        in: path
        name: targetApiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageResult'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: copySnapshotToExistingGame
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/snapshots/{snapshotId}/publish:
    post:
      operationId: publishSnapshotUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: snapshotId
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageResult'
          description: Created
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: publishSnapshot
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/snapshots/{snapshotId}/revert:
    post:
      operationId: revertSnapshotUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: snapshotId
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageResult'
          description: Created
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: revertSnapshot
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/snippets:
    get:
      operationId: listSnippetsUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/ManageItemSummary'
                type: array
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: listSnippets
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
    post:
      operationId: createSnippetUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ManageSnippet'
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageSnippet'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: createSnippet
      tags:
      - manage
      x-content-type: application/json
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/manage/snippets/{shortCode}:
    delete:
      operationId: deleteSnippetUsingDELETE
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: shortCode
        explode: false
        in: path
        name: shortCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageResult'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: deleteSnippet
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
    get:
      operationId: getSnippetUsingGET
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: shortCode
        explode: false
        in: path
        name: shortCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageSnippet'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getSnippet
      tags:
      - manage
      x-accepts:
      - application/json;charset=UTF-8
    put:
      operationId: updateSnippetUsingPUT
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      - description: shortCode
        explode: false
        in: path
        name: shortCode
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ManageSnippet'
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManageSnippet'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: updateSnippet
      tags:
      - manage
      x-content-type: application/json
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{apiKey}/restore:
    post:
      operationId: restoreDeletedGameUsingPOST
      parameters:
      - description: apiKey
        explode: false
        in: path
        name: apiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: restoreDeletedGame
      tags:
      - gamesAdmin
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{gameApiKey}/region/{regionCode}:
    post:
      operationId: setGameRegionUsingPOST
      parameters:
      - description: gameApiKey
        explode: false
        in: path
        name: gameApiKey
        required: true
        schema:
          type: string
        style: simple
      - description: regionCode
        explode: false
        in: path
        name: regionCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/RegionResult'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: setGameRegion
      tags:
      - region
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/game/{gameApiKey}/regions:
    get:
      operationId: getGameRegionOptionsUsingGET
      parameters:
      - description: gameApiKey
        explode: false
        in: path
        name: gameApiKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/GameRegionOptionsDTO'
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: getGameRegionOptions
      tags:
      - region
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/games:
    get:
      operationId: listUsingGET
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/GameModel'
                type: array
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: list
      tags:
      - gamesAdmin
      x-accepts:
      - application/json;charset=UTF-8
  /restv2/games/deleted:
    get:
      operationId: listDeletedUsingGET
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/DeletedGameModel'
                type: array
          description: OK
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageModel'
          description: json error
        "403":
          description: not allowed
        "404":
          description: not found
      summary: listDeleted
      tags:
      - gamesAdmin
      x-accepts:
      - application/json;charset=UTF-8
components:
  requestBodies:
    ExperimentModel:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExperimentModel'
      description: input
      required: true
    ManageQuery:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ManageQuery'
      description: query
      required: true
    ManageScreen:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ManageScreen'
      description: screen
      required: true
    ManageSnippet:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ManageSnippet'
      description: snippet
      required: true
    PushNotificationTestModel:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PushNotificationTestModel'
      description: messageDetails
      required: true
    TestHarnessScenarioModel:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TestHarnessScenarioModel'
      description: testHarnessScenarioDTO
      required: true
    importAcceptUsingPOST:
      content:
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/importAcceptUsingPOST_request'
      required: true
  schemas:
    AnalyticsDataCountSwaggerModel:
      example:
        result: result
      properties:
        result:
          type: string
      type: object
    AnalyticsDataSwaggerModel:
      example:
        _id: _id
      properties:
        _id:
          type: string
      type: object
    BillingDetailsModel:
      example:
        country: country
        firstName1: firstName1
        city: city
        firstName2: firstName2
        companyName: companyName
        postcode: postcode
        taxNumber: taxNumber
        firstName3: firstName3
        building: building
        email3: email3
        email2: email2
        email1: email1
        street: street
        lastName1: lastName1
        lastName2: lastName2
        lastName3: lastName3
        state: state
      properties:
        building:
          type: string
        city:
          type: string
        companyName:
          type: string
        country:
          type: string
        email1:
          type: string
        email2:
          type: string
        email3:
          type: string
        firstName1:
          type: string
        firstName2:
          type: string
        firstName3:
          type: string
        lastName1:
          type: string
        lastName2:
          type: string
        lastName3:
          type: string
        postcode:
          type: string
        state:
          type: string
        street:
          type: string
        taxNumber:
          type: string
      required:
      - building
      - city
      - companyName
      - country
      - email1
      - firstName1
      - lastName1
      - postcode
      - street
      type: object
    DeletedGameModel:
      example:
        apiKey: apiKey
        name: name
      properties:
        apiKey:
          type: string
        name:
          type: string
      type: object
    ExperimentConfigModel:
      example:
        playerMongoQuery: playerMongoQuery
        playerQuery: playerQuery
        variants: variants
      properties:
        playerMongoQuery:
          type: string
        playerQuery:
          type: string
        variants:
          type: string
      type: object
    ExperimentModel:
      example:
        measurementsEsQuery: measurementsEsQuery
        endDate: 2000-01-23T04:56:07.000+00:00
        publishedStages:
        - publishedStages
        - publishedStages
        percentHash: percentHash
        name: name
        active: true
        id: 0
        complete: true
        config:
          playerMongoQuery: playerMongoQuery
          playerQuery: playerQuery
          variants: variants
        changedFieldsAndInitialValues: "{}"
        startDate: 2000-01-23T04:56:07.000+00:00
        measurements: measurements
      properties:
        active:
          type: boolean
        changedFieldsAndInitialValues:
          type: object
        complete:
          type: boolean
        config:
          $ref: '#/components/schemas/ExperimentConfigModel'
        endDate:
          format: date-time
          type: string
        id:
          format: int64
          type: integer
        measurements:
          type: string
        measurementsEsQuery:
          type: string
        name:
          type: string
        percentHash:
          type: string
        publishedStages:
          items:
            type: string
          type: array
        startDate:
          format: date-time
          type: string
      type: object
    GameEndpointsModel:
      example:
        previewNosql: previewNosql
        liveNosql: liveNosql
        previewElasticSearch: previewElasticSearch
        liveElasticSearch: liveElasticSearch
      properties:
        liveElasticSearch:
          type: string
        liveNosql:
          type: string
        previewElasticSearch:
          type: string
        previewNosql:
          type: string
      type: object
    GameModel:
      example:
        name: name
        '@id': '@id'
      properties:
        '@id':
          type: string
        name:
          type: string
      type: object
    GameRegionOptionDTO:
      example:
        regionCode: regionCode
        regionName: regionName
        selected: true
      properties:
        regionCode:
          type: string
        regionName:
          type: string
        selected:
          type: boolean
      type: object
    GameRegionOptionsDTO:
      example:
        options:
        - regionCode: regionCode
          regionName: regionName
          selected: true
        - regionCode: regionCode
          regionName: regionName
          selected: true
        locked: true
      properties:
        locked:
          type: boolean
        options:
          items:
            $ref: '#/components/schemas/GameRegionOptionDTO'
          type: array
      type: object
    GameSummaryModel:
      example:
        logLevelData:
        - "{}"
        - "{}"
        logLevelSummary:
        - level: level
          count: 0
        - level: level
          count: 0
        message: message
      properties:
        logLevelData:
          items:
            type: object
          type: array
        logLevelSummary:
          items:
            $ref: '#/components/schemas/LogLevelSummaryModel'
          type: array
        message:
          type: string
      type: object
    LogLevelSummaryModel:
      example:
        level: level
        count: 0
      properties:
        count:
          format: int64
          type: integer
        level:
          type: string
      type: object
    ManageItemSummary:
      example:
        name: name
        shortCode: shortCode
      properties:
        name:
          type: string
        shortCode:
          type: string
      type: object
    ManageQuery:
      example:
        qbRules: qbRules
        esRules: esRules
        name: name
        shortCode: shortCode
      properties:
        esRules:
          type: string
        name:
          type: string
        qbRules:
          type: string
        shortCode:
          type: string
      type: object
    ManageResult:
      example:
        message: message
      properties:
        message:
          type: string
      type: object
    ManageScreen:
      example:
        template: template
        name: name
        groups:
        - groups
        - groups
        shortCode: shortCode
      properties:
        groups:
          items:
            type: string
          type: array
        name:
          type: string
        shortCode:
          type: string
        template:
          type: string
      type: object
    ManageSnapshot:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        description: description
        id: id
        published: true
      properties:
        date:
          format: date-time
          type: string
        description:
          type: string
        id:
          type: string
        published:
          type: boolean
      type: object
    ManageSnippet:
      example:
        template: template
        name: name
        groups:
        - groups
        - groups
        script: script
        shortCode: shortCode
        scriptData: scriptData
      properties:
        groups:
          items:
            type: string
          type: array
        name:
          type: string
        script:
          type: string
        scriptData:
          type: string
        shortCode:
          type: string
        template:
          type: string
      type: object
    MessageModel:
      example:
        message: message
      properties:
        message:
          type: string
      type: object
    Number:
      type: object
    PushNotificationTestModel:
      example:
        pushId: pushId
        summary: summary
        subtitle: subtitle
        messageId: messageId
        title: title
        customJson: customJson
      properties:
        customJson:
          type: string
        messageId:
          type: string
        pushId:
          type: string
        subtitle:
          type: string
        summary:
          type: string
        title:
          type: string
      type: object
    PushNotificationTestSummaryListModel:
      example:
        summaries:
        - outgoingMessageParts:
            key: outgoingMessageParts
          resultParts:
            key: resultParts
          error: true
          title: title
        - outgoingMessageParts:
            key: outgoingMessageParts
          resultParts:
            key: resultParts
          error: true
          title: title
      properties:
        summaries:
          items:
            $ref: '#/components/schemas/PushNotificationTestSummaryModel'
          type: array
      type: object
    PushNotificationTestSummaryModel:
      example:
        outgoingMessageParts:
          key: outgoingMessageParts
        resultParts:
          key: resultParts
        error: true
        title: title
      properties:
        error:
          type: boolean
        outgoingMessageParts:
          additionalProperties:
            type: string
          type: object
        resultParts:
          additionalProperties:
            type: string
          type: object
        title:
          type: string
      type: object
    RegionResult:
      example:
        message: message
      properties:
        message:
          type: string
      type: object
    ScriptsDifferenceListModel:
      example:
        differences:
        - fileName: fileName
          script1: script1
          bind: bind
          script2: script2
          changeType: NOCHANGE
          type: type
        - fileName: fileName
          script1: script1
          bind: bind
          script2: script2
          changeType: NOCHANGE
          type: type
      properties:
        differences:
          items:
            $ref: '#/components/schemas/ScriptsDifferenceModel'
          type: array
      type: object
    ScriptsDifferenceModel:
      example:
        fileName: fileName
        script1: script1
        bind: bind
        script2: script2
        changeType: NOCHANGE
        type: type
      properties:
        bind:
          type: string
        changeType:
          enum:
          - NOCHANGE
          - ADDED
          - CHANGED
          - DELETED
          - IGNORED
          - CHANGED_CODE_INVALID
          - CHANGED_NAME_INVALID
          type: string
        fileName:
          type: string
        script1:
          type: string
        script2:
          type: string
        type:
          type: string
      type: object
    SegmentQueryFilterConfigModel:
      example:
        hiddenFilters:
        - hiddenFilters
        - hiddenFilters
        customFilters:
        - name: name
          options:
          - "{}"
          - "{}"
          type: type
          key: key
        - name: name
          options:
          - "{}"
          - "{}"
          type: type
          key: key
      properties:
        customFilters:
          items:
            $ref: '#/components/schemas/SegmentQueryFilterModel'
          type: array
        hiddenFilters:
          items:
            type: string
          type: array
      type: object
    SegmentQueryFilterListModel:
      example:
        filters:
        - name: name
          options:
          - "{}"
          - "{}"
          type: type
          key: key
        - name: name
          options:
          - "{}"
          - "{}"
          type: type
          key: key
      properties:
        filters:
          items:
            $ref: '#/components/schemas/SegmentQueryFilterModel'
          type: array
      type: object
    SegmentQueryFilterModel:
      example:
        name: name
        options:
        - "{}"
        - "{}"
        type: type
        key: key
      properties:
        key:
          type: string
        name:
          type: string
        options:
          items:
            type: object
          type: array
        type:
          type: string
      type: object
    SnapshotCreationModel:
      example:
        description: description
      properties:
        description:
          type: string
      type: object
    SnapshotCreationSuccessModel:
      example:
        targetGameApiKey: targetGameApiKey
      properties:
        targetGameApiKey:
          type: string
      type: object
    SnapshotModel:
      example:
        createdBy: createdBy
        created: 2000-01-23T04:56:07.000+00:00
        description: description
        indexProgress:
          key: 0
        id: id
        published: true
        status: status
      properties:
        created:
          format: date-time
          type: string
        createdBy:
          type: string
        description:
          type: string
        id:
          type: string
        indexProgress:
          additionalProperties:
            format: int64
            type: integer
          type: object
        published:
          type: boolean
        status:
          type: string
      type: object
[...]
