openapi: 3.0.1
info:
  description: |-
    The platform for modern developers
    GitLab unifies issues, code review, CI and CD into a single UI
  title: Gitlab
  version: v3
  x-apisguru-categories:
  - developer_tools
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://cloud.githubusercontent.com/assets/21603/24521837/642e411c-1585-11e7-817f-61082580b6f6.png
  x-origin:
  - format: swagger
    url: https://axil.gitlab.io/swaggerapi/static/swagger.json
    version: "2.0"
  - format: swagger
    url: https://raw.githubusercontent.com/Mermade/openapi-definitions/master/gitlab/swagger.json
    version: "2.0"
  x-providerName: gitlab.com
servers:
- url: https://gitlab.com/api
security:
- private_token_header: []
- private_token_query: []
tags:
- description: Operations about groups
  name: groups
- description: Operations about projects
  name: projects
- description: Operations about internals
  name: internal
- description: Operations about issues
  name: issues
- description: Operations about keys
  name: keys
- description: Operations about cis
  name: ci
- description: Operations about namespaces
  name: namespaces
- description: Operations about notification_settings
  name: notification_settings
- description: Operations about runners
  name: runners
- description: Operations about snippets
  name: snippets
- description: Operations about hooks
  name: hooks
- description: Operations about todos
  name: todos
- description: Operations about users
  name: users
- description: Operations about users
  name: user
- description: Operations about deploy_keys
  name: deploy_keys
- description: Operations about sessions
  name: session
- description: Operations about applications
  name: application
- description: Operations about sidekiqs
  name: sidekiq
- description: Operations about licenses
  name: licenses
- description: Operations about templates
  name: templates
- description: Operations about gitignores
  name: gitignores
- description: Operations about gitlab_ci_ymls
  name: gitlab_ci_ymls
- description: Operations about dockerfiles
  name: dockerfiles
- description: Operations about versions
  name: version
paths:
  /v3/application/settings:
    get:
      description: Get the current application settings
      operationId: getV3ApplicationSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSetting'
          description: Get the current application settings
      summary: Get the current application settings
      tags:
      - application
      x-accepts:
      - application/json
    put:
      description: Modify application settings
      operationId: putV3ApplicationSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV3ApplicationSettings_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationSetting'
          description: Modify application settings
      summary: Modify application settings
      tags:
      - application
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/ci/lint:
    post:
      description: Validation of .gitlab-ci.yml content
      operationId: postV3CiLint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3CiLint_request'
        required: true
      responses:
        "201":
          content: {}
          description: Validation of .gitlab-ci.yml content
      summary: Validation of .gitlab-ci.yml content
      tags:
      - ci
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/deploy_keys:
    get:
      operationId: getV3DeployKeys
      responses:
        "200":
          content: {}
          description: get DeployKey(s)
      tags:
      - deploy_keys
      x-accepts:
      - application/json
  /v3/dockerfiles:
    get:
      description: This feature was introduced in GitLab 8.15. This endpoint is deprecated
        and will be removed in GitLab 9.0.
      operationId: getV3Dockerfiles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesList'
          description: Get the list of the available template
      summary: Get the list of the available template
      tags:
      - dockerfiles
      x-accepts:
      - application/json
  /v3/dockerfiles/{name}:
    get:
      description: This feature was introduced in GitLab 8.15. This endpoint is deprecated
        and will be removed in GitLab 9.0.
      operationId: getV3DockerfilesName
      parameters:
      - description: The name of the template
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
          description: Get the text for a specific template present in local filesystem
      summary: Get the text for a specific template present in local filesystem
      tags:
      - dockerfiles
      x-accepts:
      - application/json
  /v3/gitignores:
    get:
      description: This feature was introduced in GitLab 8.8. This endpoint is deprecated
        and will be removed in GitLab 9.0.
      operationId: getV3Gitignores
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesList'
          description: Get the list of the available template
      summary: Get the list of the available template
      tags:
      - gitignores
      x-accepts:
      - application/json
  /v3/gitignores/{name}:
    get:
      description: This feature was introduced in GitLab 8.8. This endpoint is deprecated
        and will be removed in GitLab 9.0.
      operationId: getV3GitignoresName
      parameters:
      - description: The name of the template
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
          description: Get the text for a specific template present in local filesystem
      summary: Get the text for a specific template present in local filesystem
      tags:
      - gitignores
      x-accepts:
      - application/json
  /v3/gitlab_ci_ymls:
    get:
      description: This feature was introduced in GitLab 8.9. This endpoint is deprecated
        and will be removed in GitLab 9.0.
      operationId: getV3GitlabCiYmls
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesList'
          description: Get the list of the available template
      summary: Get the list of the available template
      tags:
      - gitlab_ci_ymls
      x-accepts:
      - application/json
  /v3/gitlab_ci_ymls/{name}:
    get:
      description: This feature was introduced in GitLab 8.9. This endpoint is deprecated
        and will be removed in GitLab 9.0.
      operationId: getV3GitlabCiYmlsName
      parameters:
      - description: The name of the template
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
          description: Get the text for a specific template present in local filesystem
      summary: Get the text for a specific template present in local filesystem
      tags:
      - gitlab_ci_ymls
      x-accepts:
      - application/json
  /v3/groups:
    get:
      description: Get a groups list
      operationId: getV3Groups
      parameters:
      - description: Include project statistics
        in: query
        name: statistics
        schema:
          type: boolean
      - description: Show all group that you have access to
        in: query
        name: all_available
        schema:
          type: boolean
      - description: Search for a specific group
        in: query
        name: search
        schema:
          type: string
      - description: Order by name or path
        in: query
        name: order_by
        schema:
          default: name
          enum:
          - name
          - path
          type: string
      - description: Sort by asc (ascending) or desc (descending)
        in: query
        name: sort
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/getV3Groups_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Get a groups list
      summary: Get a groups list
      tags:
      - groups
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
    post:
      description: Create a group. Available only for users who can create groups.
      operationId: postV3Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3Groups_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Create a group. Available only for users who can create groups.
      summary: Create a group. Available only for users who can create groups.
      tags:
      - groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/groups/owned:
    get:
      description: Get list of owned groups for authenticated user
      operationId: getV3GroupsOwned
      parameters:
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      - description: Include project statistics
        in: query
        name: statistics
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Get list of owned groups for authenticated user
      summary: Get list of owned groups for authenticated user
      tags:
      - groups
      x-accepts:
      - application/json
  /v3/groups/{id}:
    delete:
      description: Remove a group.
      operationId: deleteV3GroupsId
      parameters:
      - description: The ID of a group
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Remove a group.
      summary: Remove a group.
      tags:
      - groups
      x-accepts:
      - application/json
    get:
      description: "Get a single group, with containing projects."
      operationId: getV3GroupsId
      parameters:
      - description: The ID of a group
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDetail'
          description: "Get a single group, with containing projects."
      summary: "Get a single group, with containing projects."
      tags:
      - groups
      x-accepts:
      - application/json
    put:
      description: Update a group. Available only for users who can administrate groups.
      operationId: putV3GroupsId
      parameters:
      - description: The ID of a group
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV3GroupsId_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: Update a group. Available only for users who can administrate
            groups.
      summary: Update a group. Available only for users who can administrate groups.
      tags:
      - groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/groups/{id}/access_requests:
    get:
      description: This feature was introduced in GitLab 8.11.
      operationId: getV3GroupsIdAccessRequests
      parameters:
      - description: The group ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequester'
          description: Gets a list of access requests for a group.
      summary: Gets a list of access requests for a group.
      tags:
      - groups
      x-accepts:
      - application/json
    post:
      description: This feature was introduced in GitLab 8.11.
      operationId: postV3GroupsIdAccessRequests
      parameters:
      - description: The group ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequester'
          description: Requests access for the authenticated user to a group.
      summary: Requests access for the authenticated user to a group.
      tags:
      - groups
      x-accepts:
      - application/json
  /v3/groups/{id}/access_requests/{user_id}:
    delete:
      description: This feature was introduced in GitLab 8.11.
      operationId: deleteV3GroupsIdAccessRequestsUserId
      parameters:
      - description: The group ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The user ID of the access requester
        in: path
        name: user_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "204":
          content: {}
          description: Denies an access request for the given user.
      summary: Denies an access request for the given user.
      tags:
      - groups
      x-accepts:
      - application/json
  /v3/groups/{id}/access_requests/{user_id}/approve:
    put:
      description: This feature was introduced in GitLab 8.11.
      operationId: putV3GroupsIdAccessRequestsUserIdApprove
      parameters:
      - description: The group ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The user ID of the access requester
        in: path
        name: user_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV3GroupsIdAccessRequestsUserIdApprove_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
          description: Approves an access request for the given user.
      summary: Approves an access request for the given user.
      tags:
      - groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/groups/{id}/issues:
    get:
      description: Get a list of group issues
      operationId: getV3GroupsIdIssues
      parameters:
      - description: The ID of a group
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Return opened, closed, or all issues"
        in: query
        name: state
        schema:
          default: opened
          enum:
          - opened
          - closed
          - all
          type: string
      - description: Comma-separated list of label names
        in: query
        name: labels
        schema:
          type: string
      - description: Return issues for a specific milestone
        in: query
        name: milestone
        schema:
          type: string
      - description: Return issues ordered by `created_at` or `updated_at` fields.
        in: query
        name: order_by
        schema:
          default: created_at
          enum:
          - created_at
          - updated_at
          type: string
      - description: Return issues sorted in `asc` or `desc` order.
        in: query
        name: sort
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
          description: Get a list of group issues
      summary: Get a list of group issues
      tags:
      - groups
      x-accepts:
      - application/json
  /v3/groups/{id}/members:
    get:
      description: Gets a list of group or project members viewable by the authenticated
        user.
      operationId: getV3GroupsIdMembers
      parameters:
      - description: The group ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: A query string to search for members
        in: query
        name: query
        schema:
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
          description: Gets a list of group or project members viewable by the authenticated
            user.
      summary: Gets a list of group or project members viewable by the authenticated
        user.
      tags:
      - groups
      x-accepts:
      - application/json
    post:
      description: Adds a member to a group or project.
      operationId: postV3GroupsIdMembers
      parameters:
      - description: The group ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3GroupsIdMembers_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
          description: Adds a member to a group or project.
      summary: Adds a member to a group or project.
      tags:
      - groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/groups/{id}/members/{user_id}:
    delete:
      description: Removes a user from a group or project.
      operationId: deleteV3GroupsIdMembersUserId
      parameters:
      - description: The group ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The user ID of the member
        in: path
        name: user_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "204":
          content: {}
          description: Removes a user from a group or project.
      summary: Removes a user from a group or project.
      tags:
      - groups
      x-accepts:
      - application/json
    get:
      description: Gets a member of a group or project.
      operationId: getV3GroupsIdMembersUserId
      parameters:
      - description: The group ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The user ID of the member
        in: path
        name: user_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
          description: Gets a member of a group or project.
      summary: Gets a member of a group or project.
      tags:
      - groups
      x-accepts:
      - application/json
    put:
      description: Updates a member of a group or project.
      operationId: putV3GroupsIdMembersUserId
      parameters:
      - description: The group ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The user ID of the new member
        in: path
        name: user_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV3GroupsIdMembersUserId_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
          description: Updates a member of a group or project.
      summary: Updates a member of a group or project.
      tags:
      - groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/groups/{id}/notification_settings:
    get:
      description: This feature was introduced in GitLab 8.12
      operationId: getV3GroupsIdNotificationSettings
      parameters:
      - description: The group ID or project ID or project NAMESPACE/PROJECT_NAME
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSetting'
          description: "Get group level notification level settings, defaults to Global"
      summary: "Get group level notification level settings, defaults to Global"
      tags:
      - groups
      x-accepts:
      - application/json
    put:
      description: This feature was introduced in GitLab 8.12
      operationId: putV3GroupsIdNotificationSettings
      parameters:
      - description: The group ID or project ID or project NAMESPACE/PROJECT_NAME
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV3GroupsIdNotificationSettings_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSetting'
          description: "Update group level notification level settings, defaults to\
            \ Global"
      summary: "Update group level notification level settings, defaults to Global"
      tags:
      - groups
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/groups/{id}/projects:
    get:
      description: Get a list of projects in this group.
      operationId: getV3GroupsIdProjects
      parameters:
      - description: The ID of a group
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Limit by archived status
        in: query
        name: archived
        schema:
          type: boolean
      - description: Limit by visibility
        in: query
        name: visibility
        schema:
          enum:
          - public
          - internal
          - private
          type: string
      - description: Return list of authorized projects matching the search criteria
        in: query
        name: search
        schema:
          type: string
      - description: Return projects ordered by field
        in: query
        name: order_by
        schema:
          default: created_at
          enum:
          - id
          - name
          - path
          - created_at
          - updated_at
          - last_activity_at
          type: string
      - description: Return projects sorted in ascending and descending order
        in: query
        name: sort
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      - description: "Return only the ID, URL, name, and path of each project"
        in: query
        name: simple
        schema:
          type: boolean
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Get a list of projects in this group.
      summary: Get a list of projects in this group.
      tags:
      - groups
      x-accepts:
      - application/json
  /v3/groups/{id}/projects/{project_id}:
    post:
      description: Transfer a project to the group namespace. Available only for admin.
      operationId: postV3GroupsIdProjectsProjectId
      parameters:
      - description: The ID of a group
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID or path of the project
        in: path
        name: project_id
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDetail'
          description: Transfer a project to the group namespace. Available only for
            admin.
      summary: Transfer a project to the group namespace. Available only for admin.
      tags:
      - groups
      x-accepts:
      - application/json
  /v3/hooks:
    get:
      description: Get the list of system hooks
      operationId: getV3Hooks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hook'
          description: Get the list of system hooks
      summary: Get the list of system hooks
      tags:
      - hooks
      x-accepts:
      - application/json
    post:
      description: Create a new system hook
      operationId: postV3Hooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3Hooks_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hook'
          description: Create a new system hook
      summary: Create a new system hook
      tags:
      - hooks
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/hooks/{id}:
    delete:
      description: Delete a hook
      operationId: deleteV3HooksId
      parameters:
      - description: The ID of the system hook
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hook'
          description: Delete a hook
      summary: Delete a hook
      tags:
      - hooks
      x-accepts:
      - application/json
    get:
      description: Test a hook
      operationId: getV3HooksId
      parameters:
      - description: The ID of the system hook
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hook'
          description: Test a hook
      summary: Test a hook
      tags:
      - hooks
      x-accepts:
      - application/json
  /v3/internal/allowed:
    post:
      operationId: postV3InternalAllowed
      responses:
        "201":
          content: {}
          description: created Allowed
      tags:
      - internal
      x-accepts:
      - application/json
  /v3/internal/broadcast_message:
    get:
      operationId: getV3InternalBroadcastMessage
      responses:
        "200":
          content: {}
          description: get BroadcastMessage(s)
      tags:
      - internal
      x-accepts:
      - application/json
  /v3/internal/check:
    get:
      operationId: getV3InternalCheck
      responses:
        "200":
          content: {}
          description: get Check(s)
      tags:
      - internal
      x-accepts:
      - application/json
  /v3/internal/discover:
    get:
      operationId: getV3InternalDiscover
      responses:
        "200":
          content: {}
          description: get Discover(s)
      tags:
      - internal
      x-accepts:
      - application/json
  /v3/internal/lfs_authenticate:
    post:
      operationId: postV3InternalLfsAuthenticate
      responses:
        "201":
          content: {}
          description: created LfsAuthenticate
      tags:
      - internal
      x-accepts:
      - application/json
  /v3/internal/merge_request_urls:
    get:
      operationId: getV3InternalMergeRequestUrls
      responses:
        "200":
          content: {}
          description: get MergeRequestUrl(s)
      tags:
      - internal
      x-accepts:
      - application/json
  /v3/internal/two_factor_recovery_codes:
    post:
      operationId: postV3InternalTwoFactorRecoveryCodes
      responses:
        "201":
          content: {}
          description: created TwoFactorRecoveryCode
      tags:
      - internal
      x-accepts:
      - application/json
  /v3/issues:
    get:
      description: Get currently authenticated user's issues
      operationId: getV3Issues
      parameters:
      - description: "Return opened, closed, or all issues"
        in: query
        name: state
        schema:
          default: all
          enum:
          - opened
          - closed
          - all
          type: string
      - description: Comma-separated list of label names
        in: query
        name: labels
        schema:
          type: string
      - description: Return issues for a specific milestone
        in: query
        name: milestone
        schema:
          type: string
      - description: Return issues ordered by `created_at` or `updated_at` fields.
        in: query
        name: order_by
        schema:
          default: created_at
          enum:
          - created_at
          - updated_at
          type: string
      - description: Return issues sorted in `asc` or `desc` order.
        in: query
        name: sort
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
          description: Get currently authenticated user's issues
      summary: Get currently authenticated user's issues
      tags:
      - issues
      x-accepts:
      - application/json
  /v3/keys/{id}:
    get:
      description: Get single ssh key by id. Only available to admin users
      operationId: getV3KeysId
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKeyWithUser'
          description: Get single ssh key by id. Only available to admin users
      summary: Get single ssh key by id. Only available to admin users
      tags:
      - keys
      x-accepts:
      - application/json
  /v3/licenses:
    get:
      description: This feature was introduced in GitLab 8.7. This endpoint is deprecated
        and will be removed in GitLab 9.0.
      operationId: getV3Licenses
      parameters:
      - description: "If passed, returns only popular licenses"
        in: query
        name: popular
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoLicense'
          description: Get the list of the available license template
      summary: Get the list of the available license template
      tags:
      - licenses
      x-accepts:
      - application/json
  /v3/licenses/{name}:
    get:
      description: This feature was introduced in GitLab 8.7. This endpoint is deprecated
        and will be removed in GitLab 9.0.
      operationId: getV3LicensesName
      parameters:
      - description: The name of the template
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoLicense'
          description: Get the text for a specific license
      summary: Get the text for a specific license
      tags:
      - licenses
      x-accepts:
      - application/json
  /v3/namespaces:
    get:
      description: Get a namespaces list
      operationId: getV3Namespaces
      parameters:
      - description: Search query for namespaces
        in: query
        name: search
        schema:
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Namespace'
          description: Get a namespaces list
      summary: Get a namespaces list
      tags:
      - namespaces
      x-accepts:
      - application/json
  /v3/notification_settings:
    get:
      description: This feature was introduced in GitLab 8.12
      operationId: getV3NotificationSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalNotificationSetting'
          description: "Get global notification level settings and email, defaults\
            \ to Participate"
      summary: "Get global notification level settings and email, defaults to Participate"
      tags:
      - notification_settings
      x-accepts:
      - application/json
    put:
      description: This feature was introduced in GitLab 8.12
      operationId: putV3NotificationSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV3NotificationSettings_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalNotificationSetting'
          description: "Update global notification level settings and email, defaults\
            \ to Participate"
      summary: "Update global notification level settings and email, defaults to Participate"
      tags:
      - notification_settings
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects:
    get:
      description: Get a projects list for authenticated user
      operationId: getV3Projects
      parameters:
      - description: Return projects ordered by field
        in: query
        name: order_by
        schema:
          default: created_at
          enum:
          - id
          - name
          - path
          - created_at
          - updated_at
          - last_activity_at
          type: string
      - description: Return projects sorted in ascending and descending order
        in: query
        name: sort
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      - description: Limit by archived status
        in: query
        name: archived
        schema:
          type: boolean
      - description: Limit by visibility
        in: query
        name: visibility
        schema:
          enum:
          - public
          - internal
          - private
          type: string
      - description: Return list of authorized projects matching the search criteria
        in: query
        name: search
        schema:
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      - description: "Return only the ID, URL, name, and path of each project"
        in: query
        name: simple
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
          description: Get a projects list for authenticated user
      summary: Get a projects list for authenticated user
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: Create new project
      operationId: postV3Projects
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3Projects_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Create new project
      summary: Create new project
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/all:
    get:
      description: Get all projects for admin user
      operationId: getV3ProjectsAll
      parameters:
      - description: Return projects ordered by field
        in: query
        name: order_by
        schema:
          default: created_at
          enum:
          - id
          - name
          - path
          - created_at
          - updated_at
          - last_activity_at
          type: string
      - description: Return projects sorted in ascending and descending order
        in: query
        name: sort
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      - description: Limit by archived status
        in: query
        name: archived
        schema:
          type: boolean
      - description: Limit by visibility
        in: query
        name: visibility
        schema:
          enum:
          - public
          - internal
          - private
          type: string
      - description: Return list of authorized projects matching the search criteria
        in: query
        name: search
        schema:
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      - description: "Return only the ID, URL, name, and path of each project"
        in: query
        name: simple
        schema:
          type: boolean
      - description: Include project statistics
        in: query
        name: statistics
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
          description: Get all projects for admin user
      summary: Get all projects for admin user
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/fork/{id}:
    post:
      description: Fork new project for the current user or provided namespace.
      operationId: postV3ProjectsForkId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3ProjectsForkId_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Fork new project for the current user or provided namespace.
      summary: Fork new project for the current user or provided namespace.
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/owned:
    get:
      description: Get an owned projects list for authenticated user
      operationId: getV3ProjectsOwned
      parameters:
      - description: Return projects ordered by field
        in: query
        name: order_by
        schema:
          default: created_at
          enum:
          - id
          - name
          - path
          - created_at
          - updated_at
          - last_activity_at
          type: string
      - description: Return projects sorted in ascending and descending order
        in: query
        name: sort
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      - description: Limit by archived status
        in: query
        name: archived
        schema:
          type: boolean
      - description: Limit by visibility
        in: query
        name: visibility
        schema:
          enum:
          - public
          - internal
          - private
          type: string
      - description: Return list of authorized projects matching the search criteria
        in: query
        name: search
        schema:
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      - description: "Return only the ID, URL, name, and path of each project"
        in: query
        name: simple
        schema:
          type: boolean
      - description: Include project statistics
        in: query
        name: statistics
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
          description: Get an owned projects list for authenticated user
      summary: Get an owned projects list for authenticated user
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/search/{query}:
    get:
      description: Search for projects the current user has access to
      operationId: getV3ProjectsSearchQuery
      parameters:
      - description: The project name to be searched
        in: path
        name: query
        required: true
        schema:
          type: string
      - description: Return projects ordered by field
        in: query
        name: order_by
        schema:
          default: created_at
          enum:
          - id
          - name
          - path
          - created_at
          - updated_at
          - last_activity_at
          type: string
      - description: Return projects sorted in ascending and descending order
        in: query
        name: sort
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Search for projects the current user has access to
      summary: Search for projects the current user has access to
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/starred:
    get:
      description: Gets starred project for the authenticated user
      operationId: getV3ProjectsStarred
      parameters:
      - description: Return projects ordered by field
        in: query
        name: order_by
        schema:
          default: created_at
          enum:
          - id
          - name
          - path
          - created_at
          - updated_at
          - last_activity_at
          type: string
      - description: Return projects sorted in ascending and descending order
        in: query
        name: sort
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      - description: Limit by archived status
        in: query
        name: archived
        schema:
          type: boolean
      - description: Limit by visibility
        in: query
        name: visibility
        schema:
          enum:
          - public
          - internal
          - private
          type: string
      - description: Return list of authorized projects matching the search criteria
        in: query
        name: search
        schema:
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      - description: "Return only the ID, URL, name, and path of each project"
        in: query
        name: simple
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
          description: Gets starred project for the authenticated user
      summary: Gets starred project for the authenticated user
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/user/{user_id}:
    post:
      description: Create new project for a specified user. Only available to admin
        users.
      operationId: postV3ProjectsUserUserId
      parameters:
      - description: The ID of a user
        in: path
        name: user_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3ProjectsUserUserId_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Create new project for a specified user. Only available to
            admin users.
      summary: Create new project for a specified user. Only available to admin users.
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/visible:
    get:
      description: Get a list of visible projects for authenticated user
      operationId: getV3ProjectsVisible
      parameters:
      - description: Return projects ordered by field
        in: query
        name: order_by
        schema:
          default: created_at
          enum:
          - id
          - name
          - path
          - created_at
          - updated_at
          - last_activity_at
          type: string
      - description: Return projects sorted in ascending and descending order
        in: query
        name: sort
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      - description: Limit by archived status
        in: query
        name: archived
        schema:
          type: boolean
      - description: Limit by visibility
        in: query
        name: visibility
        schema:
          enum:
          - public
          - internal
          - private
          type: string
      - description: Return list of authorized projects matching the search criteria
        in: query
        name: search
        schema:
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      - description: "Return only the ID, URL, name, and path of each project"
        in: query
        name: simple
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicProjectDetails'
          description: Get a list of visible projects for authenticated user
      summary: Get a list of visible projects for authenticated user
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}:
    delete:
      description: Remove a project
      operationId: deleteV3ProjectsId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Remove a project
      summary: Remove a project
      tags:
      - projects
      x-accepts:
      - application/json
    get:
      description: Get a single project
      operationId: getV3ProjectsId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWithAccess'
          description: Get a single project
      summary: Get a single project
      tags:
      - projects
      x-accepts:
      - application/json
    put:
      description: Update an existing project
      operationId: putV3ProjectsId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV3ProjectsId_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Update an existing project
      summary: Update an existing project
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/{id}/(ref/{ref}/)trigger/builds:
    post:
      description: Trigger a GitLab project build
      operationId: postV3ProjectsId(refRef)triggerBuilds
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The commit sha or name of a branch or tag
        in: path
        name: ref
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3ProjectsId_refRef_triggerBuilds_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerRequest'
          description: Trigger a GitLab project build
      summary: Trigger a GitLab project build
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/{id}/access_requests:
    get:
      description: This feature was introduced in GitLab 8.11.
      operationId: getV3ProjectsIdAccessRequests
      parameters:
      - description: The project ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequester'
          description: Gets a list of access requests for a project.
      summary: Gets a list of access requests for a project.
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: This feature was introduced in GitLab 8.11.
      operationId: postV3ProjectsIdAccessRequests
      parameters:
      - description: The project ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequester'
          description: Requests access for the authenticated user to a project.
      summary: Requests access for the authenticated user to a project.
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/access_requests/{user_id}:
    delete:
      description: This feature was introduced in GitLab 8.11.
      operationId: deleteV3ProjectsIdAccessRequestsUserId
      parameters:
      - description: The project ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The user ID of the access requester
        in: path
        name: user_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "204":
          content: {}
          description: Denies an access request for the given user.
      summary: Denies an access request for the given user.
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/access_requests/{user_id}/approve:
    put:
      description: This feature was introduced in GitLab 8.11.
      operationId: putV3ProjectsIdAccessRequestsUserIdApprove
      parameters:
      - description: The project ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The user ID of the access requester
        in: path
        name: user_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV3GroupsIdAccessRequestsUserIdApprove_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
          description: Approves an access request for the given user.
      summary: Approves an access request for the given user.
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/{id}/archive:
    post:
      description: Archive a project
      operationId: postV3ProjectsIdArchive
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Archive a project
      summary: Archive a project
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/boards:
    get:
      description: This feature was introduced in 8.13
      operationId: getV3ProjectsIdBoards
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Board'
          description: Get all project boards
      summary: Get all project boards
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/boards/{board_id}/lists:
    get:
      description: Does not include `backlog` and `done` lists. This feature was introduced
        in 8.13
      operationId: getV3ProjectsIdBoardsBoardIdLists
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a board
        in: path
        name: board_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
          description: Get the lists of a project board
      summary: Get the lists of a project board
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: This feature was introduced in 8.13
      operationId: postV3ProjectsIdBoardsBoardIdLists
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a board
        in: path
        name: board_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3ProjectsIdBoardsBoardIdLists_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
          description: Create a new board list
      summary: Create a new board list
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/{id}/boards/{board_id}/lists/{list_id}:
    delete:
      description: This feature was introduced in 8.13
      operationId: deleteV3ProjectsIdBoardsBoardIdListsListId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a board
        in: path
        name: board_id
        required: true
        schema:
          format: int32
          type: integer
      - description: The ID of a board list
        in: path
        name: list_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
          description: Delete a board list
      summary: Delete a board list
      tags:
      - projects
      x-accepts:
      - application/json
    get:
      description: This feature was introduced in 8.13
      operationId: getV3ProjectsIdBoardsBoardIdListsListId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a board
        in: path
        name: board_id
        required: true
        schema:
          format: int32
          type: integer
      - description: The ID of a list
        in: path
        name: list_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
          description: Get a list of a project board
      summary: Get a list of a project board
      tags:
      - projects
      x-accepts:
      - application/json
    put:
      description: This feature was introduced in 8.13
      operationId: putV3ProjectsIdBoardsBoardIdListsListId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a board
        in: path
        name: board_id
        required: true
        schema:
          format: int32
          type: integer
      - description: The ID of a list
        in: path
        name: list_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV3ProjectsIdBoardsBoardIdListsListId_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
          description: Moves a board list to a new position
      summary: Moves a board list to a new position
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/{id}/builds:
    get:
      description: Get a project builds
      operationId: getV3ProjectsIdBuilds
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The scope of builds to show
        in: query
        name: scope
        schema:
          enum:
          - pending
          - running
          - failed
          - success
          - canceled
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: Get a project builds
      summary: Get a project builds
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/builds/artifacts/{ref_name}/download:
    get:
      description: This feature was introduced in GitLab 8.10
      operationId: getV3ProjectsIdBuildsArtifactsRefNameDownload
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ref from repository
        in: path
        name: ref_name
        required: true
        schema:
          type: string
      - description: The name for the build
        in: query
        name: job
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Download the artifacts file from build
      summary: Download the artifacts file from build
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/builds/{build_id}:
    get:
      description: Get a specific build of a project
      operationId: getV3ProjectsIdBuildsBuildId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a build
        in: path
        name: build_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: Get a specific build of a project
      summary: Get a specific build of a project
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/builds/{build_id}/artifacts:
    get:
      description: This feature was introduced in GitLab 8.5
      operationId: getV3ProjectsIdBuildsBuildIdArtifacts
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a build
        in: path
        name: build_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content: {}
          description: Download the artifacts file from build
      summary: Download the artifacts file from build
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/builds/{build_id}/artifacts/keep:
    post:
      description: Keep the artifacts to prevent them from being deleted
      operationId: postV3ProjectsIdBuildsBuildIdArtifactsKeep
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a build
        in: path
        name: build_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: Keep the artifacts to prevent them from being deleted
      summary: Keep the artifacts to prevent them from being deleted
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/builds/{build_id}/cancel:
    post:
      description: Cancel a specific build of a project
      operationId: postV3ProjectsIdBuildsBuildIdCancel
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a build
        in: path
        name: build_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: Cancel a specific build of a project
      summary: Cancel a specific build of a project
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/builds/{build_id}/erase:
    post:
      description: Erase build (remove artifacts and build trace)
      operationId: postV3ProjectsIdBuildsBuildIdErase
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a build
        in: path
        name: build_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: Erase build (remove artifacts and build trace)
      summary: Erase build (remove artifacts and build trace)
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/builds/{build_id}/play:
    post:
      description: This feature was added in GitLab 8.11
      operationId: postV3ProjectsIdBuildsBuildIdPlay
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a Build
        in: path
        name: build_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: Trigger a manual build
      summary: Trigger a manual build
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/builds/{build_id}/retry:
    post:
      description: Retry a specific build of a project
      operationId: postV3ProjectsIdBuildsBuildIdRetry
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a build
        in: path
        name: build_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: Retry a specific build of a project
      summary: Retry a specific build of a project
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/builds/{build_id}/trace:
    get:
      description: Get a trace of a specific build of a project
      operationId: getV3ProjectsIdBuildsBuildIdTrace
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a build
        in: path
        name: build_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content: {}
          description: Get a trace of a specific build of a project
      summary: Get a trace of a specific build of a project
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/deploy_keys:
    get:
      description: Get a specific project's deploy keys
      operationId: getV3ProjectsIdDeployKeys
      parameters:
      - description: The ID of the project
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKey'
          description: Get a specific project's deploy keys
      summary: Get a specific project's deploy keys
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: Add new deploy key to currently authenticated user
      operationId: postV3ProjectsIdDeployKeys
      parameters:
      - description: The ID of the project
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3ProjectsIdDeployKeys_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKey'
          description: Add new deploy key to currently authenticated user
      summary: Add new deploy key to currently authenticated user
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/{id}/deploy_keys/{key_id}:
    delete:
      description: Delete deploy key for a project
      operationId: deleteV3ProjectsIdDeployKeysKeyId
      parameters:
      - description: The ID of the project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of the deploy key
        in: path
        name: key_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKey'
          description: Delete deploy key for a project
      summary: Delete deploy key for a project
      tags:
      - projects
      x-accepts:
      - application/json
    get:
      description: Get single deploy key
      operationId: getV3ProjectsIdDeployKeysKeyId
      parameters:
      - description: The ID of the project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of the deploy key
        in: path
        name: key_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKey'
          description: Get single deploy key
      summary: Get single deploy key
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/deploy_keys/{key_id}/disable:
    delete:
      description: This feature was added in GitLab 8.11
      operationId: deleteV3ProjectsIdDeployKeysKeyIdDisable
      parameters:
      - description: The ID of the project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of the deploy key
        in: path
        name: key_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKey'
          description: Disable a deploy key for a project
      summary: Disable a deploy key for a project
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/deploy_keys/{key_id}/enable:
    post:
      description: This feature was added in GitLab 8.11
      operationId: postV3ProjectsIdDeployKeysKeyIdEnable
      parameters:
      - description: The ID of the project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of the deploy key
        in: path
        name: key_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKey'
          description: Enable a deploy key for a project
      summary: Enable a deploy key for a project
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/deployments:
    get:
      description: This feature was introduced in GitLab 8.11.
      operationId: getV3ProjectsIdDeployments
      parameters:
      - description: The project ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: Get all deployments of the project
      summary: Get all deployments of the project
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/deployments/{deployment_id}:
    get:
      description: This feature was introduced in GitLab 8.11.
      operationId: getV3ProjectsIdDeploymentsDeploymentId
      parameters:
      - description: The project ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The deployment ID
        in: path
        name: deployment_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: Gets a specific deployment
      summary: Gets a specific deployment
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/environments:
    get:
      description: This feature was introduced in GitLab 8.11.
      operationId: getV3ProjectsIdEnvironments
      parameters:
      - description: The project ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Get all environments of the project
      summary: Get all environments of the project
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: This feature was introduced in GitLab 8.11.
      operationId: postV3ProjectsIdEnvironments
      parameters:
      - description: The project ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3ProjectsIdEnvironments_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Creates a new environment
      summary: Creates a new environment
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/{id}/environments/{environment_id}:
    delete:
      description: This feature was introduced in GitLab 8.11.
      operationId: deleteV3ProjectsIdEnvironmentsEnvironmentId
      parameters:
      - description: The project ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The environment ID
        in: path
        name: environment_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Deletes an existing environment
      summary: Deletes an existing environment
      tags:
      - projects
      x-accepts:
      - application/json
    put:
      description: This feature was introduced in GitLab 8.11.
      operationId: putV3ProjectsIdEnvironmentsEnvironmentId
      parameters:
      - description: The project ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The environment ID
        in: path
        name: environment_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV3ProjectsIdEnvironmentsEnvironmentId_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: Updates an existing environment
      summary: Updates an existing environment
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/{id}/events:
    get:
      description: Get events for a single project
      operationId: getV3ProjectsIdEvents
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
          description: Get events for a single project
      summary: Get events for a single project
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/fork:
    delete:
      description: Remove a forked_from relationship
      operationId: deleteV3ProjectsIdFork
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Remove a forked_from relationship
      summary: Remove a forked_from relationship
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/fork/{forked_from_id}:
    post:
      description: Mark this project as forked from another
      operationId: postV3ProjectsIdForkForkedFromId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of the project it was forked from
        in: path
        name: forked_from_id
        required: true
        schema:
          type: string
      responses:
        "201":
          content: {}
          description: Mark this project as forked from another
      summary: Mark this project as forked from another
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/hooks:
    get:
      description: Get project hooks
      operationId: getV3ProjectsIdHooks
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectHook'
          description: Get project hooks
      summary: Get project hooks
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: Add hook to project
      operationId: postV3ProjectsIdHooks
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3ProjectsIdHooks_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectHook'
          description: Add hook to project
      summary: Add hook to project
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/{id}/hooks/{hook_id}:
    delete:
      description: Deletes project hook
      operationId: deleteV3ProjectsIdHooksHookId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of the hook to delete
        in: path
        name: hook_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectHook'
          description: Deletes project hook
      summary: Deletes project hook
      tags:
      - projects
      x-accepts:
      - application/json
    get:
      description: Get a project hook
      operationId: getV3ProjectsIdHooksHookId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a project hook
        in: path
        name: hook_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectHook'
          description: Get a project hook
      summary: Get a project hook
      tags:
      - projects
      x-accepts:
      - application/json
    put:
      description: Update an existing project hook
      operationId: putV3ProjectsIdHooksHookId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of the hook to update
        in: path
        name: hook_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3ProjectsIdHooks_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectHook'
          description: Update an existing project hook
      summary: Update an existing project hook
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/{id}/issues:
    get:
      description: Get a list of project issues
      operationId: getV3ProjectsIdIssues
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "Return opened, closed, or all issues"
        in: query
        name: state
        schema:
          default: all
          enum:
          - opened
          - closed
          - all
          type: string
      - description: Return the issue having the given `iid`
        in: query
        name: iid
        schema:
          format: int32
          type: integer
      - description: Comma-separated list of label names
        in: query
        name: labels
        schema:
          type: string
      - description: Return issues for a specific milestone
        in: query
        name: milestone
        schema:
          type: string
      - description: Return issues ordered by `created_at` or `updated_at` fields.
        in: query
        name: order_by
        schema:
          default: created_at
          enum:
          - created_at
          - updated_at
          type: string
      - description: Return issues sorted in `asc` or `desc` order.
        in: query
        name: sort
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
          description: Get a list of project issues
      summary: Get a list of project issues
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: Create a new project issue
      operationId: postV3ProjectsIdIssues
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3ProjectsIdIssues_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
          description: Create a new project issue
      summary: Create a new project issue
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/{id}/issues/{issue_id}:
    delete:
      description: Delete a project issue
      operationId: deleteV3ProjectsIdIssuesIssueId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a project issue
        in: path
        name: issue_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "204":
          content: {}
          description: Delete a project issue
      summary: Delete a project issue
      tags:
      - projects
      x-accepts:
      - application/json
    get:
      description: Get a single project issue
      operationId: getV3ProjectsIdIssuesIssueId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a project issue
        in: path
        name: issue_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
          description: Get a single project issue
      summary: Get a single project issue
      tags:
      - projects
      x-accepts:
      - application/json
    put:
      description: Update an existing issue
      operationId: putV3ProjectsIdIssuesIssueId
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a project issue
        in: path
        name: issue_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putV3ProjectsIdIssuesIssueId_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
          description: Update an existing issue
      summary: Update an existing issue
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/{id}/issues/{issue_id}/add_spent_time:
    post:
      description: Add spent time for a project issue
      operationId: postV3ProjectsIdIssuesIssueIdAddSpentTime
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a project issue
        in: path
        name: issue_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3ProjectsIdIssuesIssueIdAddSpentTime_request'
        required: true
      responses:
        "201":
          content: {}
          description: Add spent time for a project issue
      summary: Add spent time for a project issue
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/{id}/issues/{issue_id}/award_emoji:
    get:
      description: This feature was introduced in 8.9
      operationId: getV3ProjectsIdIssuesIssueIdAwardEmoji
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: "The ID of an Issue, Merge Request or Snippet"
        in: path
        name: issue_id
        required: true
        schema:
          format: int32
          type: integer
      - description: Current page number
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of items per page
        in: query
        name: per_page
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwardEmoji'
          description: Get a list of project +awardable+ award emoji
      summary: Get a list of project +awardable+ award emoji
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: This feature was introduced in 8.9
      operationId: postV3ProjectsIdIssuesIssueIdAwardEmoji
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - in: path
        name: issue_id
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postV3ProjectsIdIssuesIssueIdAwardEmoji_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwardEmoji'
          description: Award a new Emoji
      summary: Award a new Emoji
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v3/projects/{id}/issues/{issue_id}/award_emoji/{award_id}:
    delete:
      description: This feature was introduced in 8.9
      operationId: deleteV3ProjectsIdIssuesIssueIdAwardEmojiAwardId
      parameters:
      - description: The ID of an award emoji
        in: path
        name: award_id
        required: true
        schema:
          format: int32
          type: integer
      - in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - in: path
        name: issue_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwardEmoji'
          description: Delete a +awardables+ award emoji
      summary: Delete a +awardables+ award emoji
      tags:
      - projects
      x-accepts:
      - application/json
    get:
      description: This feature was introduced in 8.9
      operationId: getV3ProjectsIdIssuesIssueIdAwardEmojiAwardId
      parameters:
      - description: The ID of the award
        in: path
        name: award_id
        required: true
        schema:
          format: int32
          type: integer
      - in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - in: path
        name: issue_id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwardEmoji'
          description: Get a specific award emoji
      summary: Get a specific award emoji
      tags:
      - projects
      x-accepts:
      - application/json
  /v3/projects/{id}/issues/{issue_id}/move:
    post:
      description: Move an existing issue
      operationId: postV3ProjectsIdIssuesIssueIdMove
      parameters:
      - description: The ID of a project
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: The ID of a project issue
        in: path
        name: issue_id
        required: true
        schema:
          format: int32
[...]
