openapi: 3.0.0
info:
  description: "The API uses OAuth2 client creadentials flow. To get the Bearer token\
    \ for the resources you have to request the token by using route '/token', found\
    \ from Authentication controller.\r\n\r\nYou need to provide a Client_Id, client_secret\
    \ and scope needed. The client_id and client_secret can be obtained from Severa\
    \ UI Rest Api settings section.\r\n\r\nAfter authentication, calls need to use\
    \ the Bearer token as authorization header (Bearer {accessToken}). The calls also\
    \ need to have Client_Id header.\r\n\r\nThe access token can be refreshed from\
    \ '/refreshtoken' route using the refresh token which was obtained from the authentication.\r\
    \n\r\n"
  title: Severa Public Rest API Documentation
  version: "1.0"
  x-apisguru-categories:
  - project_management
  x-logo:
    url: https://assets-global.website-files.com/6305e092bc95bebe63ae6578/639981fb13f505465c007db2_2437_16-9.jpg
  x-origin:
  - format: openapi
    url: https://api.severa.visma.com/psapublicrest/openapidocs/v1.0/doc.json
    version: "3.0"
  x-providerName: visma.com
servers:
- url: https://api.severa.visma.com/rest-api
paths:
  /heartbeat/authorized:
    get:
      description: "This route requires authentication, returns 204 http status when\
        \ successful."
      operationId: HeartBeat_GetAuthorization
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2: []
      summary: Returns http status code 204 for successful authentication.
      tags:
      - NoScope
      x-accepts:
      - application/json
  /heartbeat/database:
    get:
      description: This does not require authentication.
      operationId: HeartBeat_GetDatabaseStatus
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
          description: Returns message "Database is alive."
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      summary: Can be used to check the status of the database.
      tags:
      - NoScope
      x-accepts:
      - application/json
      - text/plain
  /heartbeat/server:
    get:
      description: This does not require authentication.
      operationId: HeartBeat_GetServerStatus
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
          description: Returns message "Server is alive."
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      summary: Can be used to check the status of the REST Api.
      tags:
      - NoScope
      x-accepts:
      - application/json
      - text/plain
  /v1/activities:
    get:
      description: "Start and end date times accept values of DateTimeOffset type,\
        \ based on UTF-8 encoding."
      operationId: Activities_GetActivities
      parameters:
      - description: "Optional: page token to fetch the next page."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
        x-position: 1
      - description: "Optional: How many rows to fetch, Default 20, maximum 100."
        explode: true
        in: query
        name: rowCount
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 2
      - description: "Optional: Which activities to fetch - open/closed, Default all."
        explode: true
        in: query
        name: closed
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 3
      - description: "Optional: activity category for the activities to be fetched.\
          \ Should be one of Personal/Absences/CalendarEntry/SalesEvent/Task. Default\
          \ all."
        explode: true
        in: query
        name: activityCategories
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ActivityCategory'
          nullable: true
          type: array
        style: form
        x-position: 4
      - description: "Optional: ID of customer. Default all."
        explode: true
        in: query
        name: customerGuids
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
        x-position: 5
        x-relation-guid: CustomerModel
      - description: "Optional: Include the activities that don't have customer. Default\
          \ is true."
        explode: true
        in: query
        name: includeTasksWithNoCustomer
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-position: 6
      - description: "Optional: ID of the project for the activities to be fetched.\
          \ If not provided, returns for all projects. Default all."
        explode: true
        in: query
        name: projectGuids
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
        x-position: 7
        x-relation-guid: ProjectOutputModel
      - description: "Optional: Include the activities that don't have project. Default\
          \ is true."
        explode: true
        in: query
        name: includeTasksWithNoProject
        required: false
        schema:
          default: true
          type: boolean
        style: form
        x-position: 8
      - description: "Optional: ID of the business unit of the project based on which\
          \ activities should be filtered. If not provided, returns for all business\
          \ units. Default all."
        explode: true
        in: query
        name: projectBusinessUnitGuids
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
        x-position: 9
        x-relation-guid: BusinessUnitModel
      - description: "Optional: ID of the project manager. If not provided, returns\
          \ for all project managers. Default all."
        explode: true
        in: query
        name: projectOwnerGuids
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
        x-position: 10
        x-relation-guid: UserOutputModel
      - description: "Optional: ID of the user for the activities to be fetched. If\
          \ not provided, returns for all users. Default all."
        explode: true
        in: query
        name: userGuids
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
        x-position: 11
        x-relation-guid: UserOutputModel
      - description: "Optional: Include the activities that the user is a member.\
          \ Effective if userGuid is provided. Default is to not include."
        explode: true
        in: query
        name: includeAsMember
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-position: 12
      - description: "Optional: User keyword Ids of activity owner to search for."
        explode: true
        in: query
        name: userKeywordGuids
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
        x-position: 13
        x-relation-guid: UserKeywordModel
      - description: "Optional: starting date and time from which to get the activities\
          \ in user's timezone. Finds all activities that end after the date time.\
          \ Format \"2017-04-12T13%3A20%3A00%2b02%3A00\". Default all."
        explode: true
        in: query
        name: startDateTime
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 14
      - description: "Optional: ending date and time to which to get the activities\
          \ in user's timezone. Finds all activities that start before or on the date\
          \ time. Format \"2017-04-12T13%3A20%3A00%2b02%3A00\". Default all. If activities\
          \ for one day are fetched, give start date time with time as 00:00 with\
          \ the offset of the timezone and end time as 23:59:59 with the offset."
        explode: true
        in: query
        name: endDateTime
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 15
      - description: "Optional: ID of the project task status. Default all."
        explode: true
        in: query
        name: projectTaskStatusGuids
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
        x-position: 16
        x-relation-guid: ProjectTaskStatusModel
      - description: "Optional: ID of the phase for the activities to be fetched.\
          \ If not provided, returns for all phases. Default all."
        explode: true
        in: query
        name: phaseGuids
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
        x-position: 17
        x-relation-guid: PhaseOutputModel
      - description: "Optional: If one phase guid is given include activities also\
          \ from sub phases. If multiple phase guids are given, returns activities\
          \ only for those regardless of this parameter. Default false."
        explode: true
        in: query
        name: includeSubPhases
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-position: 18
      - description: "Optional: ID of the contact for the activities to be fetched.\
          \ If not provided, returns for all users. Default all."
        explode: true
        in: query
        name: contactGuids
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
        x-position: 19
        x-relation-guid: ContactModel
      - description: "Optional: has duration flag for the activity. Default all."
        explode: true
        in: query
        name: hasDuration
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 20
      - description: "Optional: has any work hour entries associated with the activity.\
          \ Default all."
        explode: true
        in: query
        name: hasHours
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 21
      - description: "Optional: is the activity unassigned. Default all."
        explode: true
        in: query
        name: isUnassigned
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 22
      - description: "Optional: Get activities that have been added or changed after\
          \ this date time (greater or equal)."
        explode: true
        in: query
        name: changedSince
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 23
      - description: "Optional: If given as true returns activities that start after\
          \ start time and end before end time. If given as false returns activities\
          \ that start before end time and end after start time. Limit are included\
          \ in both cases. Default false."
        explode: true
        in: query
        name: useStrictStartAndEndDateTime
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-position: 24
      - description: "Optional: ID of the project activity type. Default all."
        explode: true
        in: query
        name: activityTypeGuids
        required: false
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
        x-position: 25
        x-relation-guid: ActivityTypeModel
      - description: "Optional: Type of the recurrence. Default returns all not recurring\
          \ activities, instances and exceptions. (None = not recurring activity)"
        explode: true
        in: query
        name: recurrenceType
        required: false
        schema:
          $ref: '#/components/schemas/RecurrenceType'
        style: form
        x-position: 26
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ActivityModel'
                type: array
          description: Activities for a project
          headers:
            NextPageToken:
              description: Page token to fetch the next page
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - activities:read
      summary: Get all activities of an organization
      tags:
      - ActivitiesRead
      x-accepts:
      - application/json
    post:
      operationId: Activities_PostActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityModel'
        description: ActivityModel
        x-name: activity
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityModel'
          description: Created activity
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - activities:write
      summary: Insert a activity
      tags:
      - ActivitiesWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/activities/{activityGuid}/activityparticipants:
    get:
      operationId: ActivityParticipants_GetActivityParticipants
      parameters:
      - description: ID of the activity
        explode: false
        in: path
        name: activityGuid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ActivityModel
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ActivityParticipantModel'
                type: array
          description: ActivityParticipants for an activity
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - activities:read
      summary: Get participants for an activity
      tags:
      - ActivitiesRead
      x-accepts:
      - application/json
  /v1/activities/{activityGuid}/activityparticipants/{activityParticipantGuid}:
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if participant\
        \ can't be found."
      operationId: ActivityParticipants_DeleteActivityParticipant
      parameters:
      - description: "ID of the activity from which to delete the participant. If\
          \ an activity occurrence guid is given, this will create an exception to\
          \ the recurring activity and delete the participant from that."
        explode: false
        in: path
        name: activityGuid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ActivityModel
      - description: ID of the participant
        explode: false
        in: path
        name: activityParticipantGuid
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
        x-relation-guid: ActivityParticipantModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - activities:delete
      summary: Delete activity participant.
      tags:
      - ActivitiesDelete
      x-accepts:
      - application/json
  /v1/activities/{guid}:
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if activity\
        \ can't be found."
      operationId: Activities_DeleteActivity
      parameters:
      - description: ID for the activity to delete
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ActivityModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - activities:delete
      summary: Delete an activity
      tags:
      - ActivitiesDelete
      x-accepts:
      - application/json
    get:
      operationId: Activities_GetActivity
      parameters:
      - description: GUID used to get the activity.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ActivityModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityModel'
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - activities:read
      summary: Get activity by ID
      tags:
      - ActivitiesRead
      x-accepts:
      - application/json
    patch:
      operationId: Activities_PatchActivity
      parameters:
      - description: "ID of the activity. Can also be comma separate list of IDs to\
          \ patch multiple activities with one call. When multiple IDs are given,\
          \ returns model which has list of succeeded activities and list of errors."
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ActivityModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              nullable: true
              type: array
        description: JSON Patch document of ActivityModel
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ActivityModel'
                type: array
          description: List of updated activities
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - activities:write
      summary: Update (Patch) a activity or a part of it
      tags:
      - ActivitiesWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/activities/{guid}/exceptions:
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if activity\
        \ can't be found or is not recurring."
      operationId: Activities_DeleteExceptions
      parameters:
      - description: ID of the recurring activity
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ActivityModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - activities:delete
      summary: Resets exceptions from a recurring activity.
      tags:
      - ActivitiesDelete
      x-accepts:
      - application/json
  /v1/activityparticipants:
    post:
      operationId: ActivityParticipants_PostActivityParticipant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityParticipantModel'
        description: ActivityParticipantModel
        x-name: activityParticipantModel
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityParticipantModel'
          description: Added participant
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - activities:write
      summary: Adds an activity participant
      tags:
      - ActivitiesWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/activityparticipants/{guid}:
    get:
      operationId: ActivityParticipants_GetActivityParticipant
      parameters:
      - description: ID of the participant
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ActivityParticipantModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityParticipantModel'
          description: ActivityParticipant
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - activities:read
      summary: Get activity participant
      tags:
      - ActivitiesRead
      x-accepts:
      - application/json
    patch:
      description: Only IsConfirmed property can be updated.
      operationId: ActivityParticipants_PatchActivityParticipants
      parameters:
      - description: ID of the activity participant
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ActivityParticipantModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              nullable: true
              type: array
        description: JSON patch document of ActivityParticipantModel
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ActivityParticipantModel'
                type: array
          description: list of updated activity participants
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - activities:write
      summary: Update (Patch) a activity participant or a part of it
      tags:
      - ActivitiesWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/activitytypes:
    get:
      operationId: ActivityTypes_GetActivityTypes
      parameters:
      - description: "If not given, return all Activity Types, if given as true return\
          \ only active Activity Types, if given as false returns only inactive Activity\
          \ Types"
        explode: true
        in: query
        name: active
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 1
      - description: "Optional: page token to fetch the next page."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          nullable: true
          type: string
        style: form
        x-position: 2
      - description: "Optional: How many rows to fetch, Default 20, maximum 100."
        explode: true
        in: query
        name: rowCount
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 3
      - description: "Optional: Get activity types that have been added or changed\
          \ after this date time (greater or equal)."
        explode: true
        in: query
        name: changedSince
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 4
      - description: "Optional: Category or multiple categories of activity types\
          \ to search for. Default all."
        explode: true
        in: query
        name: category
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ActivityCategory'
          nullable: true
          type: array
        style: form
        x-position: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ActivityTypeModel'
                type: array
          description: ""
          headers:
            NextPageToken:
              description: Page token to fetch the next page
              explode: false
              schema:
                type: string
              style: simple
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:read
      summary: Get the Activity Types
      tags:
      - SettingsRead
      x-accepts:
      - application/json
    post:
      operationId: ActivityTypes_PostActivityType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityTypeModel'
        description: Activity type
        x-name: activityType
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTypeModel'
          description: Inserted ActivityType
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:write
      summary: Insert an Activity type.
      tags:
      - SettingsWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/activitytypes/{guid}:
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if activity\
        \ type can't be found."
      operationId: ActivityTypes_DeleteActivityType
      parameters:
      - description: ID for the activity type to delete
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ActivityTypeModel
      - description: "Optional: ID of the activity type to which to move usages of\
          \ this activity type. Default null. If activity type is in use and usages\
          \ aren't moved the deletion might fail."
        explode: true
        in: query
        name: moveUsagesToGuid
        required: false
        schema:
          nullable: true
          type: string
        style: form
        x-position: 2
        x-relation-guid: ActivityTypeModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:delete
      summary: Delete an activity type.
      tags:
      - SettingsDelete
      x-accepts:
      - application/json
    get:
      operationId: ActivityTypes_GetActivityType
      parameters:
      - description: GUID used to get the Activity Type.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ActivityTypeModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTypeModel'
          description: Activity Type
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:read
      summary: Get Activity Type by ID
      tags:
      - SettingsRead
      x-accepts:
      - application/json
    patch:
      operationId: ActivityTypes_PatchActivityType
      parameters:
      - description: ID of the Activity Type
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ActivityTypeModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              nullable: true
              type: array
        description: JSON patch document of ActivityTypeModel
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ActivityTypeModel'
                type: array
          description: List of updated Activity Types
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:write
      summary: Update (Patch) an Activity Type or a part of it
      tags:
      - SettingsWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/addresses:
    get:
      operationId: Addresses_GetAddresses
      parameters:
      - description: "Optional: first row to fetch. Default 0 = first row."
        explode: true
        in: query
        name: firstRow
        required: false
        schema:
          default: 0
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 1
      - description: "Optional: How many rows to fetch, Default 20, maximum 100."
        explode: true
        in: query
        name: rowCount
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 2
      - description: "Optional: Calculate total number of rows."
        explode: true
        in: query
        name: calculateRowCount
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-position: 3
      - description: "Optional: Get addresses that have been added or changed after\
          \ this date time (greater or equal)."
        explode: true
        in: query
        name: changedSince
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 4
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AddressModel'
                type: array
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:read
      summary: Get the addresses.
      tags:
      - CustomersRead
      x-accepts:
      - application/json
  /v1/addresses/{guid}:
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if address\
        \ can't be found."
      operationId: Addresses_DeleteAddress
      parameters:
      - description: ID for the address to delete.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: AddressModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:delete
      summary: Delete an address.
      tags:
      - CustomersDelete
      x-accepts:
      - application/json
    get:
      operationId: Addresses_GetAddress
      parameters:
      - description: GUID used to get the address.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: AddressModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressModel'
          description: Address.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:read
      summary: Get address by ID.
      tags:
      - CustomersRead
      x-accepts:
      - application/json
    patch:
      operationId: Addresses_PatchAddress
      parameters:
      - description: ID of the address.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: AddressModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              nullable: true
              type: array
        description: JSON patch document of AddressModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AddressModel'
                type: array
          description: List of updated addresses.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:write
      summary: Update (Patch) an address or a part of it.
      tags:
      - CustomersWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/bankaccounts:
    get:
      operationId: BankAccounts_GetBankAccounts
      parameters:
      - description: "Optional: ID of the company."
        explode: true
        in: query
        name: companyGuid
        required: false
        schema:
          nullable: true
          type: string
        style: form
        x-position: 1
        x-relation-guid: CompanyModel
      - description: "Optional: ID of the business unit."
        explode: true
        in: query
        name: businessUnitGuid
        required: false
        schema:
          nullable: true
          type: string
        style: form
        x-position: 2
        x-relation-guid: BusinessUnitModel
      - description: "If not given, returns all bank accounts, if given as true returns\
          \ only active bank accounts, if given as false returns only inactive bank\
          \ accounts."
        explode: true
        in: query
        name: active
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 3
      - description: "Optional: first row to fetch. Default 0 = first row."
        explode: true
        in: query
        name: firstRow
        required: false
        schema:
          default: 0
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 4
      - description: "Optional: How many rows to fetch, Default 20, maximum 100."
        explode: true
        in: query
        name: rowCount
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 5
      - description: "Optional: Text to search from bank account name."
        explode: true
        in: query
        name: textToSearch
        required: false
        schema:
          default: ""
          nullable: true
          type: string
        style: form
        x-position: 6
      - description: "Optional: Calculate total number of rows."
        explode: true
        in: query
        name: calculateRowCount
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-position: 7
      - description: "Optional: A list of Key-Value pairs, containing names of fields\
          \ and directions by which the results should be sorted. Any sortable field\
          \ name (submodel fields not supported) in the model can be used, while value\
          \ can be \"Desc\" or \"Asc\". Example: \"?sortings[0].key=BankName&sortings[0].value=Desc\
          \ &sortings[1].key=BusinessUnitName&sortings[1].value=Asc\"."
        explode: true
        in: query
        name: sortings
        required: false
        schema:
          items:
            $ref: '#/components/schemas/KeyValuePairOfStringAndSortDirection'
          nullable: true
          type: array
        style: form
        x-position: 8
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BankAccountOutputModel'
                type: array
          description: Bank accounts.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:read
      summary: Get all bank accounts for current organization.
      tags:
      - SettingsRead
      x-accepts:
      - application/json
  /v1/bankaccounts/{guid}:
    get:
      operationId: BankAccounts_GetBankAccount
      parameters:
      - description: GUID used to get the bank account.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: BankAccountOutputModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountOutputModel'
          description: Bank account.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:read
      summary: Get bank account by ID.
      tags:
      - SettingsRead
      x-accepts:
      - application/json
  /v1/businessunits:
    get:
      operationId: BusinessUnits_GetBusinessUnits
      parameters:
      - description: "If not given, return all BusinessUnits, if given as true return\
          \ only active BusinessUnits, if given as false returns only inactive BusinessUnits"
        explode: true
        in: query
        name: active
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 1
      - description: "Optional: ID of the company to which the business units belong."
        explode: true
        in: query
        name: companyGuid
        required: false
        schema:
          nullable: true
          type: string
        style: form
        x-position: 2
        x-relation-guid: CompanyModel
      - description: "Optional: ID of the country in which the company of business\
          \ units is located."
        explode: true
        in: query
        name: companyCountryGuid
        required: false
        schema:
          nullable: true
          type: string
        style: form
        x-position: 3
        x-relation-guid: CountryModel
      - description: "Optional: first row to fetch. Default 0 = first row."
        explode: true
        in: query
        name: firstRow
        required: false
        schema:
          default: 0
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 4
      - description: "Optional: How many rows to fetch, Default 20, maximum 100."
        explode: true
        in: query
        name: rowCount
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 5
      - description: "Optional: Text to search from business unit name."
        explode: true
        in: query
        name: textToSearch
        required: false
        schema:
          default: ""
          nullable: true
          type: string
        style: form
        x-position: 6
      - description: "Optional: Get business units that have been added or changed\
          \ after this date time (greater or equal)."
        explode: true
        in: query
        name: changedSince
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 7
      - description: "Optional: Code of the business unit."
        explode: true
        in: query
        name: code
        required: false
        schema:
          default: ""
          nullable: true
          type: string
        style: form
        x-position: 8
      - description: "Optional: Name of the business unit."
        explode: true
        in: query
        name: name
        required: false
        schema:
          default: ""
          nullable: true
          type: string
        style: form
        x-position: 9
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BusinessUnitModel'
                type: array
          description: All the BusinessUnits
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:read
      summary: Get all the BusinessUnits
      tags:
      - SettingsRead
      x-accepts:
      - application/json
  /v1/businessunits/{guid}:
    get:
      operationId: BusinessUnits_GetBusinessUnit
      parameters:
      - description: GUID used to get the businessUnit.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: BusinessUnitModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessUnitModel'
          description: BusinessUnit.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:read
      summary: Get businessUnit by ID.
      tags:
      - SettingsRead
      x-accepts:
      - application/json
    patch:
      operationId: BusinessUnits_PatchBusinessUnit
      parameters:
      - description: ID of the businessUnit.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: BusinessUnitModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              nullable: true
              type: array
        description: JSON patch document of BusinessUnitModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BusinessUnitModel'
                type: array
          description: List of updated business units.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:write
      summary: Update (Patch) an businessUnit or a part of it.
      tags:
      - SettingsWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/communicationtypes:
    get:
      operationId: CommunicationTypes_GetCommunicationTypes
      parameters:
      - description: "Filter the communication types. If true/false, only the active/inactive\
          \ ones are returned. If null, all the communication types are returned."
        explode: true
        in: query
        name: active
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 1
      - description: "Optional: first row to fetch. Default 0 = first row."
        explode: true
        in: query
        name: firstRow
        required: false
        schema:
          default: 0
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 2
      - description: "Optional: How many rows to fetch, Default 20, maximum 100."
        explode: true
        in: query
        name: rowCount
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 3
      - description: "Optional: Text to search from communication type name."
        explode: true
        in: query
        name: textToSearch
        required: false
        schema:
          default: ""
          nullable: true
          type: string
        style: form
        x-position: 4
      - description: "Optional: Calculate total number of rows."
        explode: true
        in: query
        name: calculateRowCount
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-position: 5
      - description: "Optional: A list of Key-Value pairs, containing names of fields\
          \ and directions by which the results should be sorted. Any sortable field\
          \ name (submodel fields not supported) in the model can be used, while value\
          \ can be \"Desc\" or \"Asc\". Example: \"?sortings[0].key=name&sortings[0].value=Asc\"\
          ."
        explode: true
        in: query
        name: sortings
        required: false
        schema:
          items:
            $ref: '#/components/schemas/KeyValuePairOfStringAndSortDirection'
          nullable: true
          type: array
        style: form
        x-position: 6
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CommunicationTypeModel'
                type: array
          description: Projects.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:read
      summary: Get all communication types.
      tags:
      - SettingsRead
      x-accepts:
      - application/json
    post:
      operationId: CommunicationTypes_PostCommunicationType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommunicationTypeModel'
        description: CommunicationTypeModel.
        x-name: communicationTypeModel
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunicationTypeModel'
          description: Created communication type.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:write
      summary: Insert a communication type.
      tags:
      - SettingsWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/communicationtypes/{guid}:
    delete:
      description: "Returns: No Content (204) if succeeded."
      operationId: CommunicationTypes_DeleteCommunicationType
      parameters:
      - description: GUID used to delete the communication type.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: CommunicationTypeModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:delete
      summary: Deletes a communication type.
      tags:
      - SettingsDelete
      x-accepts:
      - application/json
    get:
      operationId: CommunicationTypes_GetCommunicationType
      parameters:
      - description: ID used to get the communication type.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: CommunicationTypeModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunicationTypeModel'
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:read
      summary: Get communication type by ID.
      tags:
      - SettingsRead
      x-accepts:
      - application/json
    patch:
      operationId: CommunicationTypes_PatchCommunicationType
      parameters:
      - description: ID of the communication type.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: CommunicationTypeModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              nullable: true
              type: array
        description: JSON Patch document of CommunicationTypeModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CommunicationTypeModel'
                type: array
          description: Updated communication model.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:write
      summary: Update (Patch) a communication type or a part of it.
      tags:
      - SettingsWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/contactcommunications:
    get:
      operationId: ContactCommunications_GetCommunications
      parameters:
      - description: "If not given, return all contact communications, if given as\
          \ true return only active contact communications, if given as false returns\
          \ only inactive contact communications."
        explode: true
        in: query
        name: active
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 1
      - description: "Optional: first row to fetch. Default 0 = first row."
        explode: true
        in: query
        name: firstRow
        required: false
        schema:
          default: 0
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 2
      - description: "Optional: How many rows to fetch, Default 20, maximum 100."
        explode: true
        in: query
        name: rowCount
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 3
      - description: "Optional: Text to search from contact communication value."
        explode: true
        in: query
        name: textToSearch
        required: false
        schema:
          default: ""
          nullable: true
          type: string
        style: form
        x-position: 4
      - description: "Optional: Get contact communications that have been added or\
          \ changed after this date time (greater or equal)."
        explode: true
        in: query
        name: changedSince
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactCommunicationModel'
                type: array
          description: All the contact communications.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:read
      summary: Get all contact communications.
      tags:
      - CustomersRead
      x-accepts:
      - application/json
    post:
      operationId: ContactCommunications_PostContactCommunication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCommunicationModel'
        description: ContactCommunicationModel.
        x-name: contactCommunication
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCommunicationModel'
          description: Inserted contact communication.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:write
      summary: Insert a communication for a contact.
      tags:
      - CustomersWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/contactcommunications/{guid}:
    delete:
      description: "Returns: No Content (204) if succeeded."
      operationId: ContactCommunications_DeleteContactCommunication
      parameters:
      - description: GUID used to delete the contact's communication.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ContactCommunicationModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:delete
      summary: Deletes contact's communication.
      tags:
      - CustomersDelete
      x-accepts:
      - application/json
    get:
      operationId: ContactCommunications_GetCommunication
      parameters:
      - description: GUID used to get the contact communication.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ContactCommunicationModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCommunicationModel'
          description: Contact communication.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:read
      summary: Get contact communication by ID.
      tags:
      - CustomersRead
      x-accepts:
      - application/json
    patch:
      operationId: ContactCommunications_PatchContactCommunication
      parameters:
      - description: ID of the contact's communication.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ContactCommunicationModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              nullable: true
              type: array
        description: JSON Patch document of ContactCommunicationModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactCommunicationModel'
          description: Updated contact communication model.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:write
      summary: Update (Patch) a contact's communication or a part of it.
      tags:
      - CustomersWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/contactpersons:
    get:
      operationId: Contacts_GetContacts
      parameters:
      - description: "If not given, return all Contact persons, if given as true return\
          \ only active Contact persons, if given as false returns only inactive Contact\
          \ persons."
        explode: true
        in: query
        name: active
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 1
      - description: "Optional: first row to fetch. Default 0 = first row."
        explode: true
        in: query
        name: firstRow
        required: false
        schema:
          default: 0
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 2
      - description: "Optional: How many rows to fetch, Default 20, maximum 100."
        explode: true
        in: query
        name: rowCount
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 3
      - description: "Optional: Text to search from contact person's name or communication\
          \ method (i.e. phone number or email address)."
        explode: true
        in: query
        name: textToSearch
        required: false
        schema:
          default: ""
          nullable: true
          type: string
        style: form
        x-position: 4
      - description: "Optional: Search criterias."
        explode: true
        in: query
        name: searchCriterias
        required: false
        schema:
          items:
            $ref: '#/components/schemas/KeyValuePairOfStringAndObject'
          nullable: true
          type: array
        style: form
        x-position: 5
      - description: "Optional: A list of Key-Value pairs, containing names of fields\
          \ and directions by which the results should be sorted. Any sortable field\
          \ name (submodel fields not supported) in the model can be used, while value\
          \ can be \"Desc\" or \"Asc\". Example: \"?sortings[0].key=FirstName&sortings[0].value=Desc\
          \ &sortings[1].key=LastName&sortings[1].value=Asc\"."
        explode: true
        in: query
        name: sortings
        required: false
        schema:
          items:
            $ref: '#/components/schemas/KeyValuePairOfStringAndSortDirection'
          nullable: true
          type: array
        style: form
        x-position: 6
      - description: "Optional: Get contact persons that have been added or changed\
          \ after this date time (greater or equal)."
        explode: true
        in: query
        name: changedSince
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 7
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactModel'
                type: array
          description: List of contacts for a customer.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:read
      summary: Get all the contact persons.
      tags:
      - CustomersRead
      x-accepts:
      - application/json
    post:
      operationId: Contacts_PostContact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactModel'
        description: ContactModel.
        x-name: contact
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactModel'
          description: Inserted contact.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:write
      summary: Insert a contact.
      tags:
      - CustomersWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/contactpersons/{contactGuid}/addresses:
    get:
      operationId: Addresses_GetContactAddress
      parameters:
      - description: ID for the contact person
        explode: false
        in: path
        name: contactGuid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ContactModel
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AddressModel'
                type: array
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:read
      summary: Get contact person's address
      tags:
      - CustomersRead
      x-accepts:
      - application/json
  /v1/contactpersons/{guid}:
    delete:
      description: "Returns: No Content (204) if succeeded."
      operationId: Contacts_DeleteContact
      parameters:
      - description: GUID used to delete the contact.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ContactModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:delete
      summary: Deletes a contact.
      tags:
      - CustomersDelete
      x-accepts:
      - application/json
    get:
      operationId: Contacts_GetContact
      parameters:
      - description: GUID used to get the contact.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ContactModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactModel'
          description: Contact.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:read
      summary: Get contact by ID.
      tags:
      - CustomersRead
      x-accepts:
      - application/json
    patch:
      operationId: Contacts_PatchContact
      parameters:
      - description: ID of the contact.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ContactModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              nullable: true
              type: array
        description: JSON patch document of ContactModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactModel'
                type: array
          description: List of updated contact persons.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:write
      summary: Update (Patch) an contact or a part of it.
      tags:
      - CustomersWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/contactroles:
    get:
      operationId: ContactRoles_GetContactRoles
      parameters:
      - description: "If not given, return all contact roles, if given as true return\
          \ only active contact roles, if given as false returns only inactive contact\
          \ roles."
        explode: true
        in: query
        name: active
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 1
      - description: "Optional: first row to fetch. Default 0 = first row."
        explode: true
        in: query
        name: firstRow
        required: false
        schema:
          default: 0
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 2
      - description: "Optional: How many rows to fetch, Default 20, maximum 100."
        explode: true
        in: query
        name: rowCount
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 3
      - description: "Optional: Text to search from contact role name."
        explode: true
        in: query
        name: textToSearch
        required: false
        schema:
          default: ""
          nullable: true
          type: string
        style: form
        x-position: 4
      - description: "Optional: Calculate total number of rows."
        explode: true
        in: query
        name: calculateRowCount
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-position: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactRoleModel'
                type: array
          description: All the contact roles.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:read
      summary: Get contact roles.
      tags:
      - SettingsRead
      x-accepts:
      - application/json
    post:
      operationId: ContactRoles_PostContactRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRoleModel'
        description: ContactRoleModel.
        x-name: contactRole
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRoleModel'
          description: Created contact role.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:write
      summary: Insert a contact role.
      tags:
      - SettingsWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/contactroles/{guid}:
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if contact\
        \ role can't be found."
      operationId: ContactRoles_DeleteContactRole
      parameters:
      - description: ID for the contact role to delete.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ContactRoleModel
      - description: "Optional: ID of the contact role to which to move usages of\
          \ this contact role. Default null. If contact role is in use and usages\
          \ aren't moved the deletion might fail."
        explode: true
        in: query
        name: moveUsagesToGuid
        required: false
        schema:
          nullable: true
          type: string
        style: form
        x-position: 2
        x-relation-guid: ContactRoleModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:delete
      summary: Delete a contact role.
      tags:
      - SettingsDelete
      x-accepts:
      - application/json
    get:
      operationId: ContactRoles_GetContactRole
      parameters:
      - description: Id used to get the contact role.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ContactRoleModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRoleModel'
          description: ContactRoleModel.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:read
      summary: Get contact role by ID.
      tags:
      - SettingsRead
      x-accepts:
      - application/json
    patch:
      operationId: ContactRoles_PatchContactRole
      parameters:
      - description: ID of the contact role.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ContactRoleModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              nullable: true
              type: array
        description: JSON patch document of ContactRoleModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactRoleModel'
                type: array
          description: list of updated contact role.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:write
      summary: Update (Patch) a contact role or a part of it.
      tags:
      - SettingsWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/contacts/{contactGuid}/contactcommunications:
    get:
      operationId: ContactCommunications_GetCommunications2
      parameters:
      - description: Whose communications are requested.
        explode: false
        in: path
        name: contactGuid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ContactModel
      - description: "If not given, return all contact communications, if given as\
          \ true return only active contact communications, if given as false returns\
          \ only inactive contact communications."
        explode: true
        in: query
        name: active
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactCommunicationModel'
                type: array
          description: All the contact communications.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:read
      summary: Get all communications for a contact.
      tags:
      - CustomersRead
      x-accepts:
      - application/json
  /v1/contacts/{contactGuid}/keywords:
    get:
      operationId: Keywords_GetContactKeywords
      parameters:
      - description: ID of the user whose keywords are requested.
        explode: false
        in: path
        name: contactGuid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ContactModel
      - description: "If not given, return all Keywords, if given as true return only\
          \ active Keywords, if given as false returns only inactive Keywords."
        explode: true
        in: query
        name: active
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 2
      - description: "Optional: A list of Key-Value pairs, containing names of fields\
          \ and directions by which the results should be sorted. Any sortable field\
          \ name (submodel fields not supported) in the model can be used, while value\
          \ can be \"Desc\" or \"Asc\". Example: \"?sortings[0].key=Keyword&sortings[0].value=Desc\"\
          ."
        explode: true
        in: query
        name: sortings
        required: false
        schema:
          items:
            $ref: '#/components/schemas/KeyValuePairOfStringAndSortDirection'
          nullable: true
          type: array
        style: form
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/KeywordModel'
                type: array
          description: Keywords.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:read
      summary: Get all the keywords for contact.
      tags:
      - CustomersRead
      x-accepts:
      - application/json
  /v1/contacts/{contactGuid}/keywords/{guid}:
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if the\
        \ keyword or the link can't be found."
      operationId: Keywords_DeleteContactKeyword
      parameters:
      - explode: false
        in: path
        name: contactGuid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: ContactModel
      - explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
        x-relation-guid: KeywordModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:delete
      summary: Delete a keyword from the contact
      tags:
      - CustomersDelete
      x-accepts:
      - application/json
    post:
      operationId: Keywords_LinkKeywordToContact
      parameters:
      - explode: false
        in: path
        name: contactGuid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: UserOutputModel
      - explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
        x-relation-guid: KeywordModel
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactKeywordModel'
          description: Created contact keyword link.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - customers:write
      summary: Link existing keyword to contact
      tags:
      - CustomersWrite
      x-accepts:
      - application/json
  /v1/costaccounts:
    get:
      operationId: CostAccounts_GetCostAccounts
      parameters:
      - description: "If not given, return all cost accounts, if given as true return\
          \ only active cost accounts, if given as false returns only inactive cost\
          \ accounts."
        explode: true
        in: query
        name: active
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 1
      - description: "Optional: first row to fetch. Default 0 = first row."
        explode: true
        in: query
        name: firstRow
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 2
      - description: "Optional: How many rows to fetch, Default 20, maximum 100."
        explode: true
        in: query
        name: rowCount
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 3
      - description: "Optional: Text to search from cost account name or identifier."
        explode: true
        in: query
        name: textToSearch
        required: false
        schema:
          default: ""
          nullable: true
          type: string
        style: form
        x-position: 4
      - description: "Optional: Calculate total number of rows."
        explode: true
        in: query
        name: calculateRowCount
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-position: 5
      - description: "Optional: A list of Key-Value pairs, containing names of fields\
          \ and directions by which the results should be sorted. Any sortable field\
          \ name (submodel fields not supported) in the model can be used, while value\
          \ can be \"Desc\" or \"Asc\". Example: \"?sortings[0].key=Name&sortings[0].value=Desc\
          \ &sortings[1].key=Identifier&sortings[1].value=Asc\"."
        explode: true
        in: query
        name: sortings
        required: false
        schema:
          items:
            $ref: '#/components/schemas/KeyValuePairOfStringAndSortDirection'
          nullable: true
          type: array
        style: form
        x-position: 6
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CostAccountModel'
                type: array
          description: All the cost accounts.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:read
      summary: Get cost accounts.
      tags:
      - SettingsRead
      x-accepts:
      - application/json
    post:
      operationId: CostAccounts_PostCostAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostAccountModel'
        description: CostAccountModel.
        x-name: costAccount
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostAccountModel'
          description: Created cost account.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:write
      summary: Insert a cost account.
      tags:
      - SettingsWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/costaccounts/{guid}:
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if cost\
        \ account can't be found."
      operationId: CostAccounts_DeleteCostAccount
      parameters:
      - description: ID for the cost account to delete.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: CostAccountModel
      responses:
        "204":
          description: ""
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:delete
      summary: Delete a cost account.
      tags:
      - SettingsDelete
      x-accepts:
      - application/json
    get:
      operationId: CostAccounts_GetCostAccount
      parameters:
      - description: Cost account's guid.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: CostAccountModel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostAccountModel'
          description: CostAccountModel.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:read
      summary: Get cost account by Guid.
      tags:
      - SettingsRead
      x-accepts:
      - application/json
    patch:
      operationId: CostAccounts_PatchCostAccount
      parameters:
      - description: ID of the cost account.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
        x-relation-guid: CostAccountModel
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/PatchOperation'
              nullable: true
              type: array
        description: JSON patch document of CostAccountModel.
        x-name: patchDocument
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CostAccountModel'
                type: array
          description: list of updated cost account.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:write
      summary: Update (Patch) a cost account or a part of it.
      tags:
      - SettingsWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/costcenters:
    get:
      operationId: CostCenters_GetCostCenters
      parameters:
      - description: "If not given, return all cost centers, if given as true return\
          \ only active cost centers, if given as false returns only inactive cost\
          \ centers."
        explode: true
        in: query
        name: active
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 1
      - description: "Optional: first row to fetch. Default 0 = first row."
        explode: true
        in: query
        name: firstRow
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 2
      - description: "Optional: How many rows to fetch, Default 20, maximum 100."
        explode: true
        in: query
        name: rowCount
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 3
      - description: "Optional: Text to search from cost center name or identifier."
        explode: true
        in: query
        name: textToSearch
        required: false
        schema:
          default: ""
          nullable: true
          type: string
        style: form
        x-position: 4
      - description: "Optional: Get cost centers that have been added or changed after\
          \ this date time (greater or equal)."
        explode: true
        in: query
        name: changedSince
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
        x-position: 5
      - description: "Optional: Calculate total number of rows."
        explode: true
        in: query
        name: calculateRowCount
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-position: 6
      - description: "Optional: A list of Key-Value pairs, containing names of fields\
          \ and directions by which the results should be sorted. Any sortable field\
          \ name (submodel fields not supported) in the model can be used, while value\
          \ can be \"Desc\" or \"Asc\"."
        explode: true
        in: query
        name: sortings
        required: false
        schema:
          items:
            $ref: '#/components/schemas/KeyValuePairOfStringAndSortDirection'
          nullable: true
          type: array
        style: form
        x-position: 7
      - description: "Optional: Identifier of the cost center."
        explode: true
        in: query
        name: identifier
        required: false
        schema:
          default: ""
          nullable: true
          type: string
        style: form
        x-position: 8
      - description: "Optional: Name of the cost center."
        explode: true
        in: query
        name: name
        required: false
        schema:
          default: ""
          nullable: true
          type: string
        style: form
        x-position: 9
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CostCenterModel'
                type: array
          description: All the cost centers.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:read
      summary: Get cost centers.
      tags:
      - SettingsRead
      x-accepts:
      - application/json
    post:
      operationId: CostCenters_PostCostCenter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCenterModel'
        description: CostCenterModel.
        x-name: costCenter
        x-position: 1
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCenterModel'
          description: Created cost center.
        "404":
          description: Resource not found
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionModel'
          description: Default error response
      security:
      - ClientIdAuth: []
        OAuth2:
        - settings:write
      summary: Insert a cost center.
      tags:
      - SettingsWrite
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/costcenters/{guid}:
    delete:
      description: "Returns: No Content (204) if succeeded. Not found (404) if cost\
        \ center can't be found."
      operationId: CostCenters_DeleteCostCenter
      parameters:
      - description: ID for the cost center to delete.
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
[...]
