openapi: 3.0.1
info:
  description: "Use these APIs to manage Visual Studio Team Services resources through\
    \ the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol\
    \ specification and each operation returns an x-ms-request-id header that can\
    \ be used to obtain information about the request. You must make sure that requests\
    \ made to these resources are secure. For more information, see https://docs.microsoft.com/en-us/rest/api/index."
  title: Visual Studio Resource Provider Client
  version: 2014-04-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/visualstudio/resource-manager/Microsoft.VisualStudio/preview/2014-04-01-preview/Csm.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: visualstudio-Csm
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/microsoft.visualstudio/operations:
    get:
      description: Gets the details of all operations possible on the Microsoft.VisualStudio
        resource provider.
      operationId: operations_list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: The operation succeeded. The response contains the possible
            operations on the Microsoft.VisualStudio resource provider.
      summary: Operations_List
      tags:
      - Operations
      x-ms-examples:
        Get a list of operations for this resource provider:
          parameters:
            api-version: 2014-04-01-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Set Account
                    operation: Creates or updates the Account
                    provider: Visual Studio
                    resource: Account
                  name: Microsoft.VisualStudio/Account/Write
                - display:
                    description: Delete Account
                    operation: Deletes the Account
                    provider: Visual Studio
                    resource: Account
                  name: Microsoft.VisualStudio/Account/Delete
                - display:
                    description: Read Account
                    operation: Reads the Account
                    provider: Visual Studio
                    resource: Account
                  name: Microsoft.VisualStudio/Account/Read
                - display:
                    description: Set Project
                    operation: Creates or updates the Project
                    provider: Visual Studio
                    resource: Project
                  name: Microsoft.VisualStudio/Project/Write
                - display:
                    description: Delete Project
                    operation: Deletes the Project
                    provider: Visual Studio
                    resource: Project
                  name: Microsoft.VisualStudio/Project/Delete
                - display:
                    description: Read Project
                    operation: Reads the Project
                    provider: Visual Studio
                    resource: Project
                  name: Microsoft.VisualStudio/Project/Read
                - display:
                    description: Set Extension
                    operation: Creates or updates the Extension
                    provider: Visual Studio
                    resource: Extension
                  name: Microsoft.VisualStudio/Extension/Write
                - display:
                    description: Delete Extension
                    operation: Deletes the Extension
                    provider: Visual Studio
                    resource: Extension
                  name: Microsoft.VisualStudio/Extension/Delete
                - display:
                    description: Read Extension
                    operation: Reads the Extension
                    provider: Visual Studio
                    resource: Extension
                  name: Microsoft.VisualStudio/Extension/Read
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/microsoft.visualstudio/checkNameAvailability:
    post:
      description: Checks if the specified Visual Studio Team Services account name
        is available. Resource name can be either an account name or an account name
        and PUID.
      operationId: accounts_check_name_availability
      parameters:
      - description: The Azure subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameter'
        description: Parameters describing the name to check availability for.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityResult'
          description: The operation succeeded. The response contains the result of
            the name availability check.
      summary: Accounts_CheckNameAvailability
      tags:
      - Accounts
      x-ms-examples:
        Check availability of an account name:
          parameters:
            api-version: 2014-04-01-preview
            body:
              resourceName: ExampleName
              resourceType: Account
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200":
              body:
                nameAvailable: true
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{rootResourceName}/project
  : get:
      deprecated: true
      description: Gets all Visual Studio Team Services project resources created
        in the specified Team Services account.
      operationId: projects_list_by_resource_group
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Name of the Team Services account.
        in: path
        name: rootResourceName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResourceListResult'
          description: The operation succeeded. The response contains the details
            of the Visual Studio Team Services project resources created in the specified
            Team Services account.
      summary: Projects_ListByResourceGroup
      tags:
      - Projects
      x-ms-examples:
        Get a list of project resources in the Team Services account:
          parameters:
            api-version: 2014-04-01-preview
            resourceGroupName: VS-Example-Group
            rootResourceName: ExampleAccount
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/ExampleAccount/project/ExampleProject
                  location: Central US
                  name: ExampleProject
                  properties:
                    AzureResourceName: ExampleProject
                    TfsUniqueIdentifier: vstfs:///Classification/TeamProject/d921d601-0600-4e45-8600-3914ffc8811a
                  tags: {}
                  type: Microsoft.VisualStudio/account/project
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{rootResourceName}/project/{resourceName}
  : get:
      deprecated: true
      description: Gets the details of a Team Services project resource.
      operationId: projects_get
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Name of the Team Services account.
        in: path
        name: rootResourceName
        required: true
        schema:
          type: string
      - description: Name of the Team Services project.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResource'
          description: The operation succeeded. The response contains the details
            of the updated team project resource.
        "404":
          content: {}
          description: The project or Azure subscription was not found.
      summary: Projects_Get
      tags:
      - Projects
      x-ms-examples:
        Get a project resource:
          parameters:
            api-version: 2014-04-01-preview
            resourceGroupName: VS-Example-Group
            resourceName: ExampleProject
            rootResourceName: ExampleAccount
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200":
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/microsoft.visualstudio/account/ExampleAccount/project/ExampleProject
                location: North Central US
                name: ExampleProject
                properties:
                  AzureResourceName: ExampleProject
                  TfsUniqueIdentifier: vstfs:///Classification/TeamProject/7a4e6ba5-35bf-4667-86a4-9b598a88fa25
                tags: {}
                type: microsoft.visualstudio/account/project
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      deprecated: true
      description: Updates the tags of the specified Team Services project.
      operationId: projects_update
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Name of the Team Services account.
        in: path
        name: rootResourceName
        required: true
        schema:
          type: string
      - description: Name of the Team Services project.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectResource'
        description: The request data.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResource'
          description: The operation succeeded. The response contains the details
            of the updated team project resource.
      summary: Projects_Update
      tags:
      - Projects
      x-ms-examples:
        Update a project resource:
          parameters:
            api-version: 2014-04-01-preview
            body:
              id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/microsoft.visualstudio/account/ExampleAccount/project/ExampleProject
              location: Central US
              name: ms.example
              properties: {}
              tags: {}
              type: Microsoft.VisualStudio/account/extension
            resourceGroupName: VS-Example-Group
            resourceName: ExampleProject
            rootResourceName: ExampleAccount
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200":
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/microsoft.visualstudio/account/ExampleAccount/project/ExampleProject
                location: North Central US
                name: ExampleProject
                properties:
                  AzureResourceName: ExampleProject
                  TfsUniqueIdentifier: vstfs:///Classification/TeamProject/7a4e6ba5-35bf-4667-86a4-9b598a88fa25
                tags: {}
                type: microsoft.visualstudio/account/project
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    put:
      deprecated: true
      description: "Creates a Team Services project in the collection with the specified\
        \ name. 'VersionControlOption' and 'ProcessTemplateId' must be specified in\
        \ the resource properties. Valid values for VersionControlOption: Git, Tfvc.\
        \ Valid values for ProcessTemplateId: 6B724908-EF14-45CF-84F8-768B5384DA45,\
        \ ADCC42AB-9882-485E-A3ED-7678F01F66BC, 27450541-8E31-4150-9947-DC59F998FC01\
        \ (these IDs correspond to Scrum, Agile, and CMMI process templates)."
      operationId: projects_create
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Name of the Team Services account.
        in: path
        name: rootResourceName
        required: true
        schema:
          type: string
      - description: Name of the Team Services project.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: This parameter is ignored and should be set to an empty string.
        in: query
        name: validating
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectResource'
        description: The request data.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResource'
          description: The operation succeeded. The response contains the details
            of the created or updated team project resource.
        "202":
          content: {}
          description: The operation succeeded. A job to create the team project resource
            has been queued. The URI to monitor the status of the job is provided
            in the 'location' header.
      summary: Projects_Create
      tags:
      - Projects
      x-ms-examples:
        Create a project resource:
          parameters:
            api-version: 2014-04-01-preview
            body:
              id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/ExampleAccount/project/ExampleProject
              location: Central US
              name: ExampleProject
              properties:
                ProcessTemplateId: 6B724908-EF14-45CF-84F8-768B5384DA45
                VersionControlOption: Git
              tags: {}
              type: Microsoft.VisualStudio/account/project
            resourceGroupName: VS-Example-Group
            resourceName: ExampleProject
            rootResourceName: ExampleAccount
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200":
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/microsoft.visualstudio/account/ExampleAccount/project/ExampleProject
                location: North Central US
                name: ExampleProject
                properties:
                  AzureResourceName: ExampleProject
                  TfsUniqueIdentifier: vstfs:///Classification/TeamProject/7a4e6ba5-35bf-4667-86a4-9b598a88fa25
                tags: {}
                type: microsoft.visualstudio/account/project
            "202":
              headers:
                location: https://management.azure.com/subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/microsoft.visualstudio/account/ExampleAccount/project/ExampleProject/subContainers/ExampleProject/status/?api-version=2014-04-01-preview&jobId=126167d2-d710-4b5d-80a8-a1d58717142d&operation=put
                retry-after: "5"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{rootResourceName}/project/{resourceName}/subContainers/{subContainerName}/status
  : get:
      deprecated: true
      description: Gets the status of the project resource creation job.
      operationId: projects_get_job_status
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Name of the Team Services account.
        in: path
        name: rootResourceName
        required: true
        schema:
          type: string
      - description: Name of the Team Services project.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      - description: This parameter should be set to the resourceName.
        in: path
        name: subContainerName
        required: true
        schema:
          type: string
      - description: The operation type. The only supported value is 'put'.
        in: query
        name: operation
        required: true
        schema:
          type: string
      - description: The job identifier.
        in: query
        name: jobId
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResource'
          description: The operation succeeded. The response contains the details
            of the newly created team project resource.
        "202":
          content: {}
          description: The team project creation job is still running.
      summary: Projects_GetJobStatus
      tags:
      - Projects
      x-ms-examples:
        Get the status of the project creation job:
          parameters:
            api-version: 2014-04-01-preview
            jobId: 126167d2-d710-4b5d-80a8-a1d58717142d
            operation: put
            resourceGroupName: VS-Example-Group
            resourceName: ExampleProject
            rootResourceName: ExampleAccount
            subContainerName: ExampleProject
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200":
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/microsoft.visualstudio/account/ExampleAccount/project/ExampleProject
                location: North Central US
                name: ExampleProject
                properties:
                  AzureResourceName: ExampleProject
                  TfsUniqueIdentifier: vstfs:///Classification/TeamProject/7a4e6ba5-35bf-4667-86a4-9b598a88fa25
                tags: {}
                type: microsoft.visualstudio/account/project
            "202": {}
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account:
    get:
      description: Gets all Visual Studio Team Services account resources under the
        resource group linked to the specified Azure subscription.
      operationId: accounts_list_by_resource_group
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResourceListResult'
          description: The operation succeeded. The response contains the details
            of the Visual Studio Team Services account resources linked to the Azure
            subscription.
      summary: Accounts_ListByResourceGroup
      tags:
      - Accounts
      x-ms-examples:
        Get a list of account resources in the resource group:
          parameters:
            api-version: 2014-04-01-preview
            resourceGroupName: VS-Example-Group
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/Example
                  location: Central US
                  name: VS-Example-Group
                  properties:
                    AccountURL: ""
                  tags: {}
                  type: Microsoft.VisualStudio/account
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{accountResourceName}/extension
  : get:
      description: Gets the details of the extension resources created within the
        resource group.
      operationId: extensions_list_by_account
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the Visual Studio Team Services account resource.
        in: path
        name: accountResourceName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionResourceListResult'
          description: The operation succeeded. The response contains all extension
            resource details for the specified account.
      summary: Extensions_ListByAccount
      tags:
      - Extensions
      x-ms-examples:
        Get a list of extension resources within the resource group:
          parameters:
            accountResourceName: ExampleAccount
            api-version: 2014-04-01-preview
            resourceGroupName: VS-Example-Group
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/ExampleAccount/extension/ms.example
                  location: Central US
                  name: ms.example
                  plan:
                    name: ExamplePlan
                    product: ExampleExtensionName
                    promotionCode: ""
                    publisher: ExampleExtensionPublisher
                    version: "1.0"
                  properties: {}
                  tags: {}
                  type: Microsoft.VisualStudio/account/extension
      x-openapi-router-controller: openapi_server.controllers.extensions_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{accountResourceName}/extension/{extensionResourceName}
  : delete:
      description: Removes an extension resource registration for a Visual Studio
        Team Services account.
      operationId: extensions_delete
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the Visual Studio Team Services account resource.
        in: path
        name: accountResourceName
        required: true
        schema:
          type: string
      - description: The name of the extension.
        in: path
        name: extensionResourceName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The operation succeeded. The extension resource has been deleted
            for the specified account.
      summary: Extensions_Delete
      tags:
      - Extensions
      x-ms-examples:
        Delete an extension resource:
          parameters:
            accountResourceName: Example
            api-version: 2014-04-01-preview
            extensionResourceName: ms.example
            resourceGroupName: VS-Example-Group
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.extensions_controller
    get:
      description: Gets the details of an extension associated with a Visual Studio
        Team Services account resource.
      operationId: extensions_get
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the Visual Studio Team Services account resource.
        in: path
        name: accountResourceName
        required: true
        schema:
          type: string
      - description: The name of the extension.
        in: path
        name: extensionResourceName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionResource'
          description: The operation succeeded. The response contains the extension
            resource details for the specified account.
        "404":
          content: {}
          description: The specified extension has no plans defined.
      summary: Extensions_Get
      tags:
      - Extensions
      x-ms-examples:
        Get an extension resource:
          parameters:
            accountResourceName: ExampleAccount
            api-version: 2014-04-01-preview
            extensionResourceName: ms.example
            resourceGroupName: VS-Example-Group
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200":
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/ExampleAccount/extension/ms.example
                location: Central US
                name: ms.example
                plan:
                  name: ExamplePlan
                  product: ExampleExtensionName
                  promotionCode: ""
                  publisher: ExampleExtensionPublisher
                  version: "1.0"
                properties: {}
                tags: {}
                type: Microsoft.VisualStudio/account/extension
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.extensions_controller
    patch:
      description: Updates an existing extension registration for the Visual Studio
        Team Services account.
      operationId: extensions_update
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the Visual Studio Team Services account resource.
        in: path
        name: accountResourceName
        required: true
        schema:
          type: string
      - description: The name of the extension.
        in: path
        name: extensionResourceName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtensionResourceRequest'
        description: An object containing additional information related to the extension
          request.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionResource'
          description: The operation succeeded. The extension resource was updated
            for the specified account.
      summary: Extensions_Update
      tags:
      - Extensions
      x-ms-examples:
        Update an extension resource:
          parameters:
            accountResourceName: ExampleAccount
            api-version: 2014-04-01-preview
            body:
              location: Central US
              plan:
                name: ExamplePlan
                product: ExampleExtensionName
                promotionCode: ""
                publisher: ExampleExtensionPublisher
                version: "1.0"
              properties: {}
              tags: {}
            extensionResourceName: Example
            resourceGroupName: VS-Example-Group
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200":
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/ExampleAccount/extension/ms.example
                location: Central US
                name: ms.example
                plan:
                  name: ExamplePlan
                  product: ExampleExtensionName
                  promotionCode: ""
                  publisher: ExampleExtensionPublisher
                  version: "1.0"
                properties: {}
                tags: {}
                type: Microsoft.VisualStudio/account/extension
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.extensions_controller
    put:
      description: Registers the extension with a Visual Studio Team Services account.
      operationId: extensions_create
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the Visual Studio Team Services account resource.
        in: path
        name: accountResourceName
        required: true
        schema:
          type: string
      - description: The name of the extension.
        in: path
        name: extensionResourceName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtensionResourceRequest'
        description: An object containing additional information related to the extension
          request.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionResource'
          description: The operation succeeded. The extension resource was created
            for the specified account.
      summary: Extensions_Create
      tags:
      - Extensions
      x-ms-examples:
        Create an extension resource:
          parameters:
            accountResourceName: ExampleAccount
            api-version: 2014-04-01-preview
            body:
              location: Central US
              plan:
                name: ExamplePlan
                product: ExampleExtensionName
                promotionCode: ""
                publisher: ExampleExtensionPublisher
                version: "1.0"
              properties: {}
              tags: {}
            extensionResourceName: ms.example
            resourceGroupName: VS-Example-Group
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200":
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/ExampleAccount/extension/ms.example
                location: Central US
                name: ms.example
                plan:
                  name: ExamplePlan
                  product: ExampleExtensionName
                  promotionCode: ""
                  publisher: ExampleExtensionPublisher
                  version: "1.0"
                properties: {}
                tags: {}
                type: Microsoft.VisualStudio/account/extension
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.extensions_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{resourceName}:
    delete:
      description: Deletes a Visual Studio Team Services account resource.
      operationId: accounts_delete
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Name of the resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The operation succeeded. The Visual Studio Team Services account
            resource was deleted.
      summary: Accounts_Delete
      tags:
      - Accounts
      x-ms-examples:
        Delete an account resource:
          parameters:
            api-version: 2014-04-01-preview
            resourceGroupName: VS-Example-Group
            resourceName: Example
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
    get:
      description: Gets the Visual Studio Team Services account resource details.
      operationId: accounts_get
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Name of the resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResource'
          description: The operation succeeded. The response contains the details
            of the Visual Studio Team Services account resource.
        "404":
          content: {}
          description: The Visual Studio Team Services account does not exist.
      summary: Accounts_Get
      tags:
      - Accounts
      x-ms-examples:
        Get an account resource:
          parameters:
            api-version: 2014-04-01-preview
            resourceGroupName: VS-Example-Group
            resourceName: Example
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200":
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/Example
                location: Central US
                name: VS-Example-Group
                properties:
                  AccountURL: ""
                tags: {}
                type: Microsoft.VisualStudio/account
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
    patch:
      description: Updates tags for Visual Studio Team Services account resource.
      operationId: accounts_update
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Name of the resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountTagRequest'
        description: The request data.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResource'
          description: The operation succeeded. The Visual Studio Team Services account
            resource was updated.
        "404":
          content: {}
          description: The Visual Studio Team Services account does not exist.
      summary: Accounts_Update
      tags:
      - Accounts
      x-ms-examples:
        Create an account resource:
          parameters:
            api-version: 2014-04-01-preview
            body:
              tags:
                tag1: value1
            resourceGroupName: VS-Example-Group
            resourceName: Example
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200":
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/Example
                location: Central US
                name: VS-Example-Group
                properties:
                  AccountURL: ""
                tags: {}
                type: Microsoft.VisualStudio/account
            "404": {}
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
    put:
      description: Creates or updates a Visual Studio Team Services account resource.
      operationId: accounts_create_or_update
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Azure subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Name of the resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountResourceRequest'
        description: The request data.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResource'
          description: The operation succeeded. The Visual Studio Team Services account
            resource was created or updated.
        "404":
          content: {}
          description: The Visual Studio Team Services account does not exist.
      summary: Accounts_CreateOrUpdate
      tags:
      - Accounts
      x-ms-examples:
        Create an account resource:
          parameters:
            api-version: 2014-04-01-preview
            body:
              accountName: Example
              location: Central US
              operationType: create
              properties: {}
              tags: {}
            resourceGroupName: VS-Example-Group
            resourceName: Example
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            "200":
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/Example
                location: Central US
                name: VS-Example-Group
                properties:
                  AccountURL: ""
                tags: {}
                type: Microsoft.VisualStudio/account
            "404": {}
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.accounts_controller
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group within the Azure subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: The Azure subscription identifier.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AccountResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The response to an account resource GET request.
      example:
        properties:
          key: properties
      properties:
        properties:
          additionalProperties:
            type: string
          description: Resource properties.
          title: properties
          type: object
          x-ms-client-flatten: true
      title: AccountResource
    AccountResourceListResult:
      description: The response to an account resource list GET request.
      example:
        value:
        - properties:
            key: properties
        - properties:
            key: properties
      properties:
        value:
          description: Array of resource details.
          items:
            $ref: '#/components/schemas/AccountResource'
          title: value
          type: array
      title: AccountResourceListResult
      type: object
    AccountResourceRequest:
      description: The body of a PUT request to modify a Visual Studio account resource.
      example:
        accountName: accountName
        location: location
        operationType: unknown
        properties:
          key: properties
        tags:
          key: tags
      properties:
        accountName:
          description: The account name.
          title: accountName
          type: string
        location:
          description: The Azure instance location.
          title: location
          type: string
        operationType:
          description: The type of the operation.
          enum:
          - unknown
          - create
          - update
          - link
          title: operationType
          type: string
          x-ms-enum:
            name: AccountResourceRequestOperationType
        properties:
          additionalProperties:
            type: string
          description: The custom properties of the resource.
          title: properties
          type: object
          x-ms-client-flatten: true
        tags:
          additionalProperties:
            type: string
          description: The custom tags of the resource.
          title: tags
          type: object
      title: AccountResourceRequest
      type: object
    AccountTagRequest:
      description: The body of a Patch request to add tags to a Visual Studio account
        resource.
      example:
        tags:
          key: tags
      properties:
        tags:
          additionalProperties:
            type: string
          description: The custom tags of the resource.
          title: tags
          type: object
      title: AccountTagRequest
      type: object
    CheckNameAvailabilityParameter:
      description: The body of a POST request to check name availability.
      example:
        resourceName: resourceName
        resourceType: resourceType
      properties:
        resourceName:
          description: The name of the resource to check availability for.
          title: resourceName
          type: string
        resourceType:
          description: The type of resource to check availability for.
          title: resourceType
          type: string
      title: CheckNameAvailabilityParameter
      type: object
    CheckNameAvailabilityResult:
      description: The response to a name availability request.
      example:
        nameAvailable: true
        message: message
      properties:
        message:
          description: The message describing the detailed reason.
          title: message
          type: string
        nameAvailable:
          description: The value which indicates whether the provided name is available.
          title: nameAvailable
          type: boolean
      title: CheckNameAvailabilityResult
      type: object
    ExtensionResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The response to an extension resource GET request.
      example:
        plan:
          product: product
          name: name
          promotionCode: promotionCode
          publisher: publisher
          version: version
        properties:
          key: properties
      properties:
        plan:
          $ref: '#/components/schemas/ExtensionResourcePlan'
        properties:
          additionalProperties:
            type: string
          description: Resource properties.
          title: properties
          type: object
      title: ExtensionResource
    ExtensionResourceListResult:
      description: The response to an extension resource list GET request.
      example:
        value:
        - plan:
            product: product
            name: name
            promotionCode: promotionCode
            publisher: publisher
            version: version
          properties:
            key: properties
        - plan:
            product: product
            name: name
            promotionCode: promotionCode
            publisher: publisher
            version: version
          properties:
            key: properties
      properties:
        value:
          description: Array of extension resource details.
          items:
            $ref: '#/components/schemas/ExtensionResource'
          title: value
          type: array
      title: ExtensionResourceListResult
      type: object
    ExtensionResourcePlan:
      description: Plan data for an extension resource.
      example:
        product: product
        name: name
        promotionCode: promotionCode
        publisher: publisher
        version: version
      properties:
        name:
          description: Name of the plan.
          title: name
          type: string
        product:
          description: Product name.
          title: product
          type: string
        promotionCode:
          description: "Optional: the promotion code associated with the plan."
          title: promotionCode
          type: string
        publisher:
          description: Name of the extension publisher.
          title: publisher
          type: string
        version:
          description: A string that uniquely identifies the plan version.
          title: version
          type: string
      title: ExtensionResourcePlan
      type: object
    ExtensionResourceRequest:
      description: The body of an extension resource PUT request.
      example:
        location: location
        plan:
          product: product
          name: name
          promotionCode: promotionCode
          publisher: publisher
          version: version
        properties:
          key: properties
        tags:
          key: tags
      properties:
        location:
          description: The Azure region of the Visual Studio account associated with
            this request (i.e 'southcentralus'.)
          title: location
          type: string
        plan:
          $ref: '#/components/schemas/ExtensionResourcePlan'
        properties:
          additionalProperties:
            type: string
          description: A dictionary of extended properties. This property is currently
            unused.
          title: properties
          type: object
          x-ms-client-flatten: true
        tags:
          additionalProperties:
            type: string
          description: A dictionary of user-defined tags to be stored with the extension
            resource.
          title: tags
          type: object
      title: ExtensionResourceRequest
      type: object
    Operation:
      description: Properties of an operation supported by the resource provider.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationProperties'
        name:
          description: The name of the resource operation.
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: Container for a list of operations supported by a resource provider.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
      properties:
        value:
          description: A list of operations supported by a resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationListResult
      type: object
    OperationProperties:
      description: Properties of an operation supported by the resource provider.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description of the resource operation.
          title: description
          type: string
        operation:
          description: The operation name.
          title: operation
          type: string
        provider:
          description: The provider name.
          title: provider
          type: string
        resource:
          description: The resource name.
          title: resource
          type: string
      title: OperationProperties
      type: object
    ProjectResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A Visual Studio Team Services project resource.
      example:
        properties:
          key: properties
      properties:
        properties:
          additionalProperties:
            type: string
          description: Key/value pair of resource properties.
          title: properties
          type: object
          x-ms-client-flatten: true
      title: ProjectResource
    ProjectResourceListResult:
      description: The response to a request to list Team Services project resources
        in a resource group/account.
      example:
        value:
        - properties:
            key: properties
        - properties:
            key: properties
      properties:
        value:
          description: List of project resource details.
          items:
            $ref: '#/components/schemas/ProjectResource'
          title: value
          type: array
      title: ProjectResourceListResult
      type: object
    Resource:
      description: A generic Azure Resource Manager resource.
      properties:
        id:
          description: Unique identifier of the resource.
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location.
          title: location
          type: string
        name:
          description: Resource name.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
