openapi: 3.0.1
info:
  title: RecoveryServicesClient
  version: 2016-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2016-06-01/registeredidentities.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: recoveryservices-registeredidentities
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/certificates/{certificateName}
  : put:
      deprecated: false
      description: Uploads a certificate for a resource.
      operationId: VaultCertificates_Create
      parameters:
      - description: The subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the recovery services vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Certificate friendly name.
        in: path
        name: certificateName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateRequest'
        description: Input parameters for uploading the vault certificate.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultCertificateResponse'
          description: OK
      tags:
      - VaultCertificates
      x-ms-examples:
        Download vault credential file:
          parameters:
            api-version: 2016-06-01
            certificateName: BCDRIbzVault77777777-d41f-4550-9f70-7708a3a2283b-12-18-2017-vaultcredentials
            certificateRequest:
              properties:
                authType: AAD
                certificate: MTTC3TCCAcWgAwIBAgIQEj9h+ZLlXK9KrqZX9UkAnzANBgkqhkiG9w0BAQUFADAeMRwwGgYDVQQDExNXaW5kb3dzIEF6dXJlIFRvb2xzMB4XDTE3MTIxODA5MTc1M1oXDTE3MTIyMzA5Mjc1M1owHjEcMBoGA1UEAxMTV2luZG93cyBBenVyZSBUb29sczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAK773/eZZ69RbZZAT05r9MjUxu9y1L1Pn1EgPk62IPJyHlO3OZA922eSBahhP4bgmFljN4LVReqQ5eT/wqO0Zhc+yFkUy4U4RdbQLeUZt2W7yy9XLXgVvqeYDgsjg/QhHetgHArQBW+tlQq5+zPdU7zchI4rbShSJrWhLrZFWiOyFPsuAE4joUQHNlRifdCTsBGKk8HRCY3j1S3c4bfEn3zxlrvrXXssRuW5mJM95rMk0tskoRxXSCi6i9bnlki2Cs9mpVMmBFeofs41KwzlWU0TgpdD8s1QEdvfGB5NbByfetPX7MfJaTBeHZEGbv/Iq8l72u8sPBoOhcaH7qDE/mECAwEAAaMXMBUwEwYDVR0lBAwwCgYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEBAILfgHluye1Q+WelhgWhpBBdIq2C0btfV8eFsZaTlBUrM0fwpxQSlAWc2oYHVMQI4A5iUjbDOY35O4yc+TnWKDBKf+laqDP+yos4aiUPuadGUZfvDk7kuw7xeECs64JpHAIEKdRHFW9rD3gwG+nIWaDnEL/7rTyhL3kXrRW2MSUAL8g3GX8Z45c+MQY0jmASIqWdhGn1vpAGyA9mKkzsqg7FXjg8GZb24tGl5Ky85+ip4dkBfXinDD8WwaGyjhGGK97ErvNmN36qly/H0H1Qngiovg1FbHDmkcFO5QclnEJsFFmcO2CcHp5Fqh2wXn5O1cQaxCIRTpQ/uXRpDjl2wKs=
            resourceGroupName: BCDRIbzRG
            subscriptionId: 77777777-d41f-4550-9f70-7708a3a2283b
            vaultName: BCDRIbzVault
          responses:
            "200":
              body:
                id: /Subscriptions/77777777-d41f-4550-9f70-7708a3a2283b/resourceGroups/BCDRIbzRG/providers/Microsoft.RecoveryServices/vaults/BCDRIbzVault/certificates/BCDRIbzVault77777777-d41f-4550-9f70-7708a3a2283b-12-18-2017-vaultcredentials
                name: BCDRIbzVault77777777-d41f-4550-9f70-7708a3a2283b-12-18-2017-vaultcredentials
                properties:
                  aadAuthority: https://login.windows.net
                  aadTenantId: 9b0c2069-2eba-489f-95f4-eca15cb602ab
                  authType: AzureActiveDirectory
                  azureManagementEndpointAudience: https://ppe1-id1.wus.wabppe.obs-test.com/restapi/
                  certificate: MTTC3TCCAcWgAwIBAgIQEj9h+ZLlXK9KrqZX9UkAnzANBgkqhkiG9w0BAQUFADAeMRwwGgYDVQQDExNXaW5kb3dzIEF6dXJlIFRvb2xzMB4XDTE3MTIxODA5MTc1M1oXDTE3MTIyMzA5Mjc1M1owHjEcMBoGA1UEAxMTV2luZG93cyBBenVyZSBUb29sczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAK773/eZZ69RbZZAT05r9MjUxu9y1L1Pn1EgPk62IPJyHlO3OZA922eSBahhP4bgmFljN4LVReqQ5eT/wqO0Zhc+yFkUy4U4RdbQLeUZt2W7yy9XLXgVvqeYDgsjg/QhHetgHArQBW+tlQq5+zPdU7zchI4rbShSJrWhLrZFWiOyFPsuAE4joUQHNlRifdCTsBGKk8HRCY3j1S3c4bfEn3zxlrvrXXssRuW5mJM95rMk0tskoRxXSCi6i9bnlki2Cs9mpVMmBFeofs41KwzlWU0TgpdD8s1QEdvfGB5NbByfetPX7Mf                JaTBeHZEGbv/Iq8l72u8sPBoOhcaH7qDE/mECAwEAAaMXMBUwEwYDVR0lBAwwCgYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEBAILfgHluye1Q+WelhgWhpBBdIq2C0btfV8eFsZaTlBUrM0fwpxQSlAWc2oYHVMQI4A5iUjbDOY35O4yc+TnWKDBKf+laqDP+yos4aiUPuadGUZfvDk7kuw7xeECs64JpHAIEKdRHFW9rD3gwG+nIWaDnEL/7rTyhL3kXrRW2MSUAL8g3GX8Z45c+MQY0jmASIqWdhGn1vpAGyA9mKkzsqg7FXjg8GZb24tGl5Ky85+ip4dkBfXinDD8WwaGyjhGGK97ErvNmN36qly/H0H1Qngiovg1FbHDmkcFO5QclnEJsFFmcO2CcHp5Fqh2wXn5O1cQaxCIRTpQ/uXRpDjl2wKs=
                  friendlyName: ""
                  issuer: CN=Windows Azure Tools
                  resourceId: 8726350008099341000
                  servicePrincipalClientId: 4932d0bd-b5f9-4659-94a0-7ab02d918933
                  servicePrincipalObjectId: 2d60221e-cef5-4e13-ba66-b33701a533bb
                  subject: CN=Windows Azure Tools
                  thumbprint: 019FE9BAD18A5A09A5CA53B593AF66331F3054AF
                  validFrom: 2017-12-18T14:47:53+05:30
                  validTo: 2017-12-23T14:57:53+05:30
                type: Microsoft.RecoveryServices/vaults/certificates
      x-codegen-request-body-name: certificateRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/registeredIdentities/{identityName}
  : delete:
      deprecated: false
      description: Unregisters the given container from your Recovery Services vault.
      operationId: RegisteredIdentities_Delete
      parameters:
      - description: The subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the recovery services vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the protection container to unregister.
        in: path
        name: identityName
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: NoContent
      tags:
      - RegisteredIdentities
      x-ms-examples:
        Delete registered Identity:
          parameters:
            api-version: 2016-06-01
            identityName: dpmcontainer01
            resourceGroupName: BCDRIbzRG
            subscriptionId: 77777777-d41f-4550-9f70-7708a3a2283b
            vaultName: BCDRIbzVault
          responses:
            "204": {}
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersion:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupName:
      description: The name of the resource group where the recovery services vault
        is present.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: The subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VaultName:
      description: The name of the recovery services vault.
      in: path
      name: vaultName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    CertificateRequest:
      description: Details of the certificate to be uploaded to the vault.
      example:
        properties:
          certificate: certificate
          authType: Invalid
      properties:
        properties:
          $ref: '#/components/schemas/RawCertificateData'
      type: object
    RawCertificateData:
      description: Raw certificate data.
      example:
        certificate: certificate
        authType: Invalid
      properties:
        authType:
          description: Specifies the authentication type.
          enum:
          - Invalid
          - ACS
          - AAD
          - AccessControlService
          - AzureActiveDirectory
          type: string
          x-ms-enum:
            modelAsString: true
            name: AuthType
        certificate:
          description: The base64 encoded certificate raw data string
          format: byte
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          type: string
      type: object
    ResourceCertificateAndAadDetails:
      allOf:
      - $ref: '#/components/schemas/ResourceCertificateDetails'
      description: Certificate details representing the Vault credentials for AAD.
      properties:
        aadAuthority:
          description: AAD tenant authority.
          type: string
        aadTenantId:
          description: AAD tenant Id.
          type: string
        azureManagementEndpointAudience:
          description: Azure Management Endpoint Audience.
          type: string
        servicePrincipalClientId:
          description: AAD service principal clientId.
          type: string
        servicePrincipalObjectId:
          description: AAD service principal ObjectId.
          type: string
      required:
      - aadAuthority
      - aadTenantId
      - azureManagementEndpointAudience
      - servicePrincipalClientId
      - servicePrincipalObjectId
      x-ms-discriminator-value: AzureActiveDirectory
    ResourceCertificateAndAcsDetails:
      allOf:
      - $ref: '#/components/schemas/ResourceCertificateDetails'
      description: Certificate details representing the Vault credentials for ACS.
      properties:
        globalAcsHostName:
          description: Acs mgmt host name to connect to.
          type: string
        globalAcsNamespace:
          description: ACS namespace name - tenant for our service.
          type: string
        globalAcsRPRealm:
          description: Global ACS namespace RP realm.
          type: string
      required:
      - globalAcsHostName
      - globalAcsNamespace
      - globalAcsRPRealm
      x-ms-discriminator-value: AccessControlService
    ResourceCertificateDetails:
      description: Certificate details representing the Vault credentials.
      discriminator:
        propertyName: authType
      example:
        resourceId: 0
        subject: subject
        certificate: certificate
        thumbprint: thumbprint
        validFrom: 2000-01-23T04:56:07.000+00:00
        authType: authType
        friendlyName: friendlyName
        issuer: issuer
        validTo: 2000-01-23T04:56:07.000+00:00
      properties:
        authType:
          description: This property will be used as the discriminator for deciding
            the specific types in the polymorphic chain of types.
          type: string
        certificate:
          description: The base64 encoded certificate raw data string.
          format: byte
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
          type: string
        friendlyName:
          description: Certificate friendly name.
          type: string
        issuer:
          description: Certificate issuer.
          type: string
        resourceId:
          description: Resource ID of the vault.
          format: int64
          type: integer
        subject:
          description: Certificate Subject Name.
          type: string
        thumbprint:
          description: Certificate thumbprint.
          type: string
        validFrom:
          description: Certificate Validity start Date time.
          format: date-time
          type: string
        validTo:
          description: Certificate Validity End Date time.
          format: date-time
          type: string
      required:
      - authType
      type: object
    VaultCertificateResponse:
      description: Certificate corresponding to a vault that can be used by clients
        to register themselves with the vault.
      example:
        name: name
        id: id
        type: type
        properties:
          resourceId: 0
          subject: subject
          certificate: certificate
          thumbprint: thumbprint
          validFrom: 2000-01-23T04:56:07.000+00:00
          authType: authType
          friendlyName: friendlyName
          issuer: issuer
          validTo: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Resource Id represents the complete path to the resource.
          readOnly: true
          type: string
        name:
          description: Resource name associated with the resource.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/ResourceCertificateDetails'
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account.
      type: oauth2
x-original-swagger-version: "2.0"

