openapi: 3.0.1
info:
  description: "The Azure SQL Database management API provides a RESTful set of web\
    \ APIs that interact with Azure SQL Database services to manage your databases.\
    \ The API enables users to create, retrieve, update, and delete databases, servers,\
    \ and other entities."
  title: SqlManagementClient
  version: 2014-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/advisors.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: sql-advisors
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/advisors:
    get:
      description: Gets a list of server advisors.
      operationId: ServerAdvisors_ListByServer
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvisorListResult'
          description: Successfully retrieved the list of server advisors.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 AdvisorNotFound - The requested advisor was not found.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - ServerAdvisors
      x-ms-examples:
        List of server advisors:
          parameters:
            api-version: 2014-04-01
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/CreateIndex
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteValue: Disabled
                type: Microsoft.Sql/servers/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/DropIndex
                name: DropIndex
                properties:
                  advisorStatus: GA
                  autoExecuteValue: Disabled
                type: Microsoft.Sql/servers/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/DbParameterization
                name: DbParameterization
                properties:
                  advisorStatus: GA
                  autoExecuteValue: Disabled
                type: Microsoft.Sql/servers/advisors
              - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/ForceLastGoodPlan
                name: ForceLastGoodPlan
                properties:
                  advisorStatus: PrivatePreview
                  autoExecuteValue: Disabled
                type: Microsoft.Sql/servers/advisors
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/advisors/{advisorName}
  : get:
      description: Gets a server advisor.
      operationId: ServerAdvisors_Get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Server Advisor.
        in: path
        name: advisorName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advisor'
          description: Successfully retrieved details of specified server advisor.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 AdvisorNotFound - The requested advisor was not found.

             * 405 NotSupported - This functionality is not supported.

             * 409 Conflict - Request could not be processed because of conflict in the request.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - ServerAdvisors
      x-ms-examples:
        Get server advisor:
          parameters:
            advisorName: CreateIndex
            api-version: 2014-04-01
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/CreateIndex
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteValue: Disabled
                type: Microsoft.Sql/servers/advisors
      x-accepts:
      - application/json
    patch:
      description: Updates a server advisor.
      operationId: ServerAdvisors_Update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Server Advisor.
        in: path
        name: advisorName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Advisor'
        description: The requested advisor resource state.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advisor'
          description: Successfully updated the specified server advisor.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 AdvisorNotFound - The requested advisor was not found.

             * 405 NotSupported - This functionality is not supported.

             * 409 Conflict - Request could not be processed because of conflict in the request.

             * 503 ServiceTemporarilyUnavailable - Feature temporarily unavailable.
      tags:
      - ServerAdvisors
      x-ms-examples:
        Update server advisor:
          parameters:
            advisorName: CreateIndex
            api-version: 2014-04-01
            parameters:
              properties:
                autoExecuteValue: Disabled
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/CreateIndex
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteValue: Disabled
                type: Microsoft.Sql/servers/advisors
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates a server advisor.
      operationId: ServerAdvisors_CreateOrUpdate
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Server Advisor.
        in: path
        name: advisorName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Advisor'
        description: The requested advisor resource state.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advisor'
          description: Successfully updated the specified server advisor.
      tags:
      - ServerAdvisors
      x-ms-examples:
        Update server advisor:
          parameters:
            advisorName: CreateIndex
            api-version: 2014-04-01
            parameters:
              properties:
                autoExecuteValue: Disabled
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/advisors/CreateIndex
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteValue: Disabled
                type: Microsoft.Sql/servers/advisors
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors
  : get:
      description: Returns a list of database advisors.
      operationId: DatabaseAdvisors_ListByDatabase
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvisorListResult'
          description: Successfully retrieved the list of database advisors.
      tags:
      - DatabaseAdvisors
      x-ms-examples:
        List of database advisors:
          parameters:
            api-version: 2014-04-01
            databaseName: IndexAdvisor_test_3
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex
                  name: CreateIndex
                  properties:
                    advisorStatus: GA
                    autoExecuteValue: Enabled
                    lastChecked: 2017-07-04T13:17:13Z
                    recommendationsStatus: LowActivity
                  type: Microsoft.Sql/servers/databases/advisors
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/DropIndex
                  name: DropIndex
                  properties:
                    advisorStatus: GA
                    autoExecuteValue: Enabled
                    lastChecked: 2017-07-03T16:26:28Z
                    recommendationsStatus: DbSeemsTuned
                  type: Microsoft.Sql/servers/databases/advisors
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/DbParameterization
                  name: DbParameterization
                  properties:
                    advisorStatus: GA
                    autoExecuteValue: Disabled
                    lastChecked: 2017-07-03T15:31:27Z
                    recommendationsStatus: NoDbParameterizationIssue
                  type: Microsoft.Sql/servers/databases/advisors
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/SchemaIssue
                  name: SchemaIssue
                  properties:
                    advisorStatus: PublicPreview
                    autoExecuteValue: Disabled
                    lastChecked: 2017-07-04T17:45:37Z
                    recommendationsStatus: SchemaIsConsistent
                  type: Microsoft.Sql/servers/databases/advisors
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/ForceLastGoodPlan
                  name: ForceLastGoodPlan
                  properties:
                    advisorStatus: PrivatePreview
                    autoExecuteValue: Disabled
                  type: Microsoft.Sql/servers/databases/advisors
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors/{advisorName}
  : get:
      description: Returns details of a Database Advisor.
      operationId: DatabaseAdvisors_Get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Database Advisor.
        in: path
        name: advisorName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advisor'
          description: Successfully retrieved details of specified database advisor.
      tags:
      - DatabaseAdvisors
      x-ms-examples:
        Get database advisor:
          parameters:
            advisorName: CreateIndex
            api-version: 2014-04-01
            databaseName: IndexAdvisor_test_3
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteValue: Enabled
                  lastChecked: 2017-07-04T13:17:13Z
                  recommendationsStatus: LowActivity
                type: Microsoft.Sql/servers/databases/advisors
      x-accepts:
      - application/json
    put:
      description: Creates or updates a database advisor.
      operationId: DatabaseAdvisors_CreateOrUpdate
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Database Advisor.
        in: path
        name: advisorName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Advisor'
        description: The requested advisor resource state.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advisor'
          description: Successfully updated the specified database advisor.
      tags:
      - DatabaseAdvisors
      x-ms-examples:
        Update database advisor:
          parameters:
            advisorName: CreateIndex
            api-version: 2014-04-01
            databaseName: IndexAdvisor_test_3
            parameters:
              properties:
                autoExecuteValue: Disabled
            resourceGroupName: workloadinsight-demos
            serverName: misosisvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workloadinsight-demos/providers/Microsoft.Sql/servers/misosisvr/databases/IndexAdvisor_test_3/advisors/CreateIndex
                name: CreateIndex
                properties:
                  advisorStatus: GA
                  autoExecuteValue: Disabled
                  lastChecked: 2017-06-20T00:24:39Z
                  recommendationsStatus: Ok
                type: Microsoft.Sql/servers/databases/advisors
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    AdvisorNameParameter:
      description: The name of the Database Advisor.
      in: path
      name: advisorName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Advisor:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Database Advisor.
      example:
        kind: kind
        location: location
        properties:
          autoExecuteValue: Enabled
          lastChecked: 2000-01-23T04:56:07.000+00:00
          advisorStatus: GA
          recommendationsStatus: recommendationsStatus
      properties:
        kind:
          description: Resource kind.
          readOnly: true
          type: string
        location:
          description: Resource location.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/AdvisorProperties'
    AdvisorListResult:
      description: Represents the response to a list advisors request.
      example:
        value:
        - kind: kind
          location: location
          properties:
            autoExecuteValue: Enabled
            lastChecked: 2000-01-23T04:56:07.000+00:00
            advisorStatus: GA
            recommendationsStatus: recommendationsStatus
        - kind: kind
          location: location
          properties:
            autoExecuteValue: Enabled
            lastChecked: 2000-01-23T04:56:07.000+00:00
            advisorStatus: GA
            recommendationsStatus: recommendationsStatus
      properties:
        value:
          description: The list of advisors.
          items:
            $ref: '#/components/schemas/Advisor'
          type: array
      type: object
    AdvisorProperties:
      description: "Properties for a Database, Server or Elastic Pool Advisor."
      example:
        autoExecuteValue: Enabled
        lastChecked: 2000-01-23T04:56:07.000+00:00
        advisorStatus: GA
        recommendationsStatus: recommendationsStatus
      properties:
        advisorStatus:
          description: "Gets the status of availability of this advisor to customers.\
            \ Possible values are 'GA', 'PublicPreview', 'LimitedPublicPreview' and\
            \ 'PrivatePreview'."
          enum:
          - GA
          - PublicPreview
          - LimitedPublicPreview
          - PrivatePreview
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: AdvisorStatus
        autoExecuteValue:
          description: Gets the auto-execute status (whether to let the system execute
            the recommendations) of this advisor. Possible values are 'Enabled' and
            'Disabled'
          enum:
          - Enabled
          - Disabled
          - Default
          type: string
          x-ms-enum:
            modelAsString: false
            name: AutoExecuteStatus
        lastChecked:
          description: Gets the time when the current resource was analyzed for recommendations
            by this advisor.
          format: date-time
          readOnly: true
          type: string
        recommendationsStatus:
          description: "Gets that status of recommendations for this advisor and reason\
            \ for not having any recommendations. Possible values include, but are\
            \ not limited to, 'Ok' (Recommendations available), LowActivity (not enough\
            \ workload to analyze), 'DbSeemsTuned' (Database is doing well), etc."
          readOnly: true
          type: string
      required:
      - autoExecuteValue
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

