openapi: 3.0.0
info:
  description: "Webcomic of romance, sarcasm, math, and language."
  title: XKCD
  version: 1.0.0
  x-apisguru-categories:
  - media
  x-logo:
    url: http://imgs.xkcd.com/static/terrible_small_logo.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/xkcd.com/1.0.0/openapi.yaml
    version: "3.0"
  x-providerName: xkcd.com
  x-tags:
  - humor
  - comics
  x-unofficialSpec: true
externalDocs:
  url: https://xkcd.com/json.html
servers:
- url: http://xkcd.com/
paths:
  /info.0.json:
    get:
      description: |
        Fetch current comic and metadata.
      operationId: info0_json_get
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/comic'
          description: OK
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{comicId}/info.0.json:
    get:
      description: |
        Fetch comics and metadata  by comic id.
      operationId: comic_id_info0_json_get
      parameters:
      - explode: false
        in: path
        name: comicId
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/comic'
          description: OK
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    comic:
      example:
        news: news
        img: img
        transcript: transcript
        month: month
        year: year
        num: 0.8008281904610115
        alt: alt
        link: link
        title: title
        day: day
        safe_title: safe_title
      properties:
        alt:
          title: alt
          type: string
        day:
          title: day
          type: string
        img:
          title: img
          type: string
        link:
          title: link
          type: string
        month:
          title: month
          type: string
        news:
          title: news
          type: string
        num:
          title: num
          type: number
        safe_title:
          title: safe_title
          type: string
        title:
          title: title
          type: string
        transcript:
          title: transcript
          type: string
        year:
          title: year
          type: string
      title: comic
      type: object
