openapi: 3.0.1
info:
  description: "Use these APIs to manage Azure CDN resources through the Azure Resource\
    \ Manager. You must make sure that requests made to these resources are secure.\
    \ For more information, see https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx."
  title: CdnManagementClient
  version: 2015-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cdn/resource-manager/Microsoft.Cdn/stable/2015-06-01/cdn.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: cdn
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Cdn/checkNameAvailability:
    post:
      operationId: NameAvailability_CheckNameAvailability
      parameters:
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityInput'
        description: Input to check.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNameAvailabilityOutput'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: "Check the availability of a resource name without creating the resource.\
        \ This is needed for resources where name is globally unique, such as a CDN\
        \ endpoint."
      tags:
      - CheckNameAvailability
      x-codegen-request-body-name: checkNameAvailabilityInput
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Cdn/operations:
    get:
      operationId: Operations_List
      parameters:
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Lists all of the available CDN REST API operations.
      tags:
      - Operations
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Cdn/profiles:
    get:
      operationId: Profiles_ListBySubscriptionId
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Lists the CDN profiles within an Azure subscription.
      tags:
      - Profiles
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles:
    get:
      operationId: Profiles_ListByResourceGroup
      parameters:
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Lists the CDN profiles within a resource group.
      tags:
      - Profiles
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}:
    delete:
      operationId: Profiles_DeleteIfExists
      parameters:
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: No Content.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: "Deletes an existing CDN profile with the specified parameters. Deleting\
        \ a profile will result in the deletion of all subresources including endpoints,\
        \ origins and custom domains."
      tags:
      - Profiles
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      operationId: Profiles_Get
      parameters:
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Gets a CDN profile with the specified parameters.
      tags:
      - Profiles
      x-accepts:
      - application/json
    patch:
      operationId: Profiles_Update
      parameters:
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdateParameters'
        description: Profile properties needed for update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Updates an existing CDN profile with the specified parameters.
      tags:
      - Profiles
      x-ms-long-running-operation: true
      x-codegen-request-body-name: profileProperties
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      operationId: Profiles_Create
      parameters:
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileCreateParameters'
        description: Profile properties needed for creation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: Accepted and  the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Creates a new CDN profile with the specified parameters.
      tags:
      - Profiles
      x-ms-long-running-operation: true
      x-codegen-request-body-name: profileProperties
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints:
    get:
      operationId: Endpoints_ListByProfile
      parameters:
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Lists existing CDN endpoints within a profile.
      tags:
      - Endpoints
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}
  : delete:
      operationId: Endpoints_DeleteIfExists
      parameters:
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Deletes an existing CDN endpoint with the specified parameters.
      tags:
      - Endpoints
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      operationId: Endpoints_Get
      parameters:
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Gets an existing CDN endpoint with the specified parameters.
      tags:
      - Endpoints
      x-accepts:
      - application/json
    patch:
      operationId: Endpoints_Update
      parameters:
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointUpdateParameters'
        description: Endpoint properties
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: Accepted and  the operation will complete asynchronously
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed
      summary: "Updates an existing CDN endpoint with the specified parameters. Only\
        \ tags and OriginHostHeader can be updated after creating an endpoint. To\
        \ update origins, use the Update Origin operation. To update custom domains,\
        \ use the Update Custom Domain operation."
      tags:
      - Endpoints
      x-ms-long-running-operation: true
      x-codegen-request-body-name: endpointProperties
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      operationId: Endpoints_Create
      parameters:
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndpointCreateParameters'
        description: Endpoint properties
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Creates a new CDN endpoint with the specified parameters.
      tags:
      - Endpoints
      x-ms-long-running-operation: true
      x-codegen-request-body-name: endpointProperties
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains
  : get:
      operationId: CustomDomains_ListByEndpoint
      parameters:
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomainListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Lists the existing CDN custom domains within an endpoint.
      tags:
      - CustomDomains
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}
  : delete:
      operationId: CustomDomains_DeleteIfExists
      parameters:
      - description: Name of the custom domain within an endpoint.
        in: path
        name: customDomainName
        required: true
        schema:
          type: string
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Deletes an existing CDN custom domain within an endpoint.
      tags:
      - CustomDomains
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      operationId: CustomDomains_Get
      parameters:
      - description: Name of the custom domain within an endpoint.
        in: path
        name: customDomainName
        required: true
        schema:
          type: string
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Gets an existing CDN custom domain within an endpoint.
      tags:
      - CustomDomains
      x-accepts:
      - application/json
    patch:
      operationId: CustomDomains_Update
      parameters:
      - description: Name of the custom domain within an endpoint.
        in: path
        name: customDomainName
        required: true
        schema:
          type: string
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDomainParameters'
        description: Custom domain properties to update.
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Updates an existing CDN custom domain within an endpoint.
      tags:
      - CustomDomains
      x-codegen-request-body-name: customDomainProperties
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      operationId: CustomDomains_Create
      parameters:
      - description: Name of the custom domain within an endpoint.
        in: path
        name: customDomainName
        required: true
        schema:
          type: string
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDomainParameters'
        description: Custom domain properties required for creation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomain'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Creates a new CDN custom domain within an endpoint.
      tags:
      - CustomDomains
      x-ms-long-running-operation: true
      x-codegen-request-body-name: customDomainProperties
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/load
  : post:
      operationId: Endpoints_LoadContent
      parameters:
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadParameters'
        description: The path to the content to be loaded. Path should describe a
          file.
        required: true
      responses:
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Forcibly pre-loads CDN endpoint content.
      tags:
      - Endpoints
      x-ms-long-running-operation: true
      x-codegen-request-body-name: contentFilePaths
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins
  : get:
      operationId: Origins_ListByEndpoint
      parameters:
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OriginListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Lists the existing CDN origins within an endpoint.
      tags:
      - Origins
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins/{originName}
  : delete:
      operationId: Origins_DeleteIfExists
      parameters:
      - description: Name of the origin. Must be unique within endpoint.
        in: path
        name: originName
        required: true
        schema:
          type: string
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Deletes an existing CDN origin within an endpoint.
      tags:
      - Origins
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      operationId: Origins_Get
      parameters:
      - description: "Name of the origin, an arbitrary value but it needs to be unique\
          \ under endpoint"
        in: path
        name: originName
        required: true
        schema:
          type: string
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Gets an existing CDN origin within an endpoint.
      tags:
      - Origins
      x-accepts:
      - application/json
    patch:
      operationId: Origins_Update
      parameters:
      - description: Name of the origin. Must be unique within endpoint.
        in: path
        name: originName
        required: true
        schema:
          type: string
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OriginParameters'
        description: Origin properties
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Updates an existing CDN origin within an endpoint.
      tags:
      - Origins
      x-ms-long-running-operation: true
      x-codegen-request-body-name: originProperties
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      operationId: Origins_Create
      parameters:
      - description: "Name of the origin, an arbitrary value but it needs to be unique\
          \ under endpoint"
        in: path
        name: originName
        required: true
        schema:
          type: string
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OriginParameters'
        description: Origin properties
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
          description: Created
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Origin'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Creates a new CDN origin within an endpoint.
      tags:
      - Origins
      x-ms-long-running-operation: true
      x-codegen-request-body-name: originProperties
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/purge
  : post:
      operationId: Endpoints_PurgeContent
      parameters:
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurgeParameters'
        description: The path to the content to be purged. Path can describe a file
          or directory.
        required: true
      responses:
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Forcibly purges CDN endpoint content.
      tags:
      - Endpoints
      x-ms-long-running-operation: true
      x-codegen-request-body-name: contentFilePaths
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/start
  : post:
      operationId: Endpoints_Start
      parameters:
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Starts an existing stopped CDN endpoint.
      tags:
      - Endpoints
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/stop
  : post:
      operationId: Endpoints_Stop
      parameters:
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Endpoint'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Stops an existing running CDN endpoint.
      tags:
      - Endpoints
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/validateCustomDomain
  : post:
      operationId: Endpoints_ValidateCustomDomain
      parameters:
      - description: Name of the endpoint within the CDN profile.
        in: path
        name: endpointName
        required: true
        schema:
          type: string
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateCustomDomainInput'
        description: Custom domain to validate.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCustomDomainOutput'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: Validates a custom domain mapping to ensure it maps to the correct
        CNAME in DNS.
      tags:
      - Endpoints
      x-codegen-request-body-name: customDomainProperties
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/generateSsoUri
  : post:
      operationId: Profiles_GenerateSsoUri
      parameters:
      - description: Name of the CDN profile within the resource group.
        in: path
        name: profileName
        required: true
        schema:
          type: string
      - description: Name of the resource group within the Azure subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoUri'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: CDN error response describing why the operation failed.
      summary: "Generates a dynamic SSO URI used to sign in to the CDN Supplemental\
        \ Portal used for advanced management tasks, such as Country Filtering, Advanced\
        \ HTTP Reports, and Real-time Stats and Alerts. The SSO URI changes approximately\
        \ every 10 minutes."
      tags:
      - Profiles
      x-accepts:
      - application/json
components:
  parameters:
    apiVersionParameter:
      description: Version of the API to be used with the client request. Current
        version is 2015-06-01
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CheckNameAvailabilityInput:
      description: Input of CheckNameAvailability API.
      example:
        name: name
        type: Microsoft.Cdn/Profiles/Endpoints
      properties:
        name:
          description: The resource name to validate.
          type: string
        type:
          $ref: '#/components/schemas/ResourceType'
      required:
      - name
      - type
      type: object
    CheckNameAvailabilityOutput:
      description: Output of check name availability API.
      example:
        Message: Message
        NameAvailable: true
        Reason: Reason
      properties:
        Message:
          description: The detailed error message describing why the name is not available.
          type: string
        NameAvailable:
          description: Indicates whether the name is available.
          type: boolean
        Reason:
          description: The reason why the name is not available.
          type: string
      type: object
    CustomDomain:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: CDN CustomDomain represents a mapping between a user specified
        domain name and a CDN endpoint. This is to use custom domain names to represent
        the URLs for branding purposes.
      example:
        properties:
          hostName: hostName
          resourceState: Creating
          provisioningState: Creating
      properties:
        properties:
          $ref: '#/components/schemas/CustomDomainProperties'
    CustomDomainListResult:
      example:
        value:
        - properties:
            hostName: hostName
            resourceState: Creating
            provisioningState: Creating
        - properties:
            hostName: hostName
            resourceState: Creating
            provisioningState: Creating
      properties:
        value:
          description: List of CDN CustomDomains within an endpoint.
          items:
            $ref: '#/components/schemas/CustomDomain'
          type: array
      type: object
    CustomDomainParameters:
      description: CustomDomain properties required for custom domain creation or
        update.
      example:
        properties:
          hostName: hostName
      properties:
        properties:
          $ref: '#/components/schemas/CustomDomainPropertiesParameters'
      type: object
      x-ms-azure-resource: true
    CustomDomainProperties:
      example:
        hostName: hostName
        resourceState: Creating
        provisioningState: Creating
      properties:
        hostName:
          description: The host name of the custom domain. Must be a domain name.
          type: string
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        resourceState:
          description: Resource status of the custom domain.
          enum:
          - Creating
          - Active
          - Deleting
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: CustomDomainResourceState
      required:
      - hostName
      type: object
    CustomDomainPropertiesParameters:
      example:
        hostName: hostName
      properties:
        hostName:
          description: The host name of the custom domain. Must be a domain name.
          type: string
      required:
      - hostName
      type: object
    DeepCreatedOrigin:
      description: Deep created origins within a CDN endpoint.
      example:
        name: name
        properties:
          hostName: hostName
          httpPort: 0
          httpsPort: 6
      properties:
        name:
          description: Origin name
          type: string
        properties:
          $ref: '#/components/schemas/DeepCreatedOriginProperties'
      required:
      - name
      type: object
      x-ms-azure-resource: true
    DeepCreatedOriginProperties:
      description: Properties of deep created origin on a CDN endpoint.
      example:
        hostName: hostName
        httpPort: 0
        httpsPort: 6
      properties:
        hostName:
          description: "The address of the origin. Domain names, IPv4 addresses, and\
            \ IPv6 addresses are supported."
          type: string
        httpPort:
          description: The value of the HTTP port. Must be between 1 and 65535
          type: integer
        httpsPort:
          description: The value of the HTTPS port. Must be between 1 and 65535
          type: integer
      required:
      - hostName
      type: object
      x-ms-azure-resource: true
    Endpoint:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: "CDN endpoint is the entity within a CDN profile containing configuration\
        \ information regarding caching behaviors and origins. The CDN endpoint is\
        \ exposed using the URL format <endpointname>.azureedge.net by default, but\
        \ custom domains can also be created."
      example:
        properties:
          contentTypesToCompress:
          - contentTypesToCompress
          - contentTypesToCompress
          hostName: hostName
          originPath: originPath
          originHostHeader: originHostHeader
          isHttpAllowed: true
          isHttpsAllowed: true
          origins:
          - name: name
            properties:
              hostName: hostName
              httpPort: 0
              httpsPort: 6
          - name: name
            properties:
              hostName: hostName
              httpPort: 0
              httpsPort: 6
          resourceState: Creating
          isCompressionEnabled: true
          provisioningState: Creating
          queryStringCachingBehavior: IgnoreQueryString
      properties:
        properties:
          $ref: '#/components/schemas/EndpointProperties'
    EndpointCreateParameters:
      description: Endpoint properties required for new endpoint creation.
      example:
        location: location
        properties:
          contentTypesToCompress:
          - contentTypesToCompress
          - contentTypesToCompress
          originPath: originPath
          originHostHeader: originHostHeader
          isHttpAllowed: true
          isHttpsAllowed: true
          origins:
          - name: name
            properties:
              hostName: hostName
              httpPort: 0
              httpsPort: 6
          - name: name
            properties:
              hostName: hostName
              httpPort: 0
              httpsPort: 6
          isCompressionEnabled: true
          queryStringCachingBehavior: IgnoreQueryString
        tags:
          key: tags
      properties:
        location:
          description: Endpoint location
          type: string
        properties:
          $ref: '#/components/schemas/EndpointPropertiesCreateParameters'
        tags:
          additionalProperties:
            type: string
          description: Endpoint tags
          type: object
      required:
      - location
      type: object
      x-ms-azure-resource: true
    EndpointListResult:
      example:
        value:
        - properties:
            contentTypesToCompress:
            - contentTypesToCompress
            - contentTypesToCompress
            hostName: hostName
            originPath: originPath
            originHostHeader: originHostHeader
            isHttpAllowed: true
            isHttpsAllowed: true
            origins:
            - name: name
              properties:
                hostName: hostName
                httpPort: 0
                httpsPort: 6
            - name: name
              properties:
                hostName: hostName
                httpPort: 0
                httpsPort: 6
            resourceState: Creating
            isCompressionEnabled: true
            provisioningState: Creating
            queryStringCachingBehavior: IgnoreQueryString
        - properties:
            contentTypesToCompress:
            - contentTypesToCompress
            - contentTypesToCompress
            hostName: hostName
            originPath: originPath
            originHostHeader: originHostHeader
            isHttpAllowed: true
            isHttpsAllowed: true
            origins:
            - name: name
              properties:
                hostName: hostName
                httpPort: 0
                httpsPort: 6
            - name: name
              properties:
                hostName: hostName
                httpPort: 0
                httpsPort: 6
            resourceState: Creating
            isCompressionEnabled: true
            provisioningState: Creating
            queryStringCachingBehavior: IgnoreQueryString
      properties:
        value:
          description: List of CDN endpoints within a profile
          items:
            $ref: '#/components/schemas/Endpoint'
          type: array
      type: object
    EndpointProperties:
      example:
        contentTypesToCompress:
        - contentTypesToCompress
        - contentTypesToCompress
        hostName: hostName
        originPath: originPath
        originHostHeader: originHostHeader
        isHttpAllowed: true
        isHttpsAllowed: true
        origins:
        - name: name
          properties:
            hostName: hostName
            httpPort: 0
            httpsPort: 6
        - name: name
          properties:
            hostName: hostName
            httpPort: 0
            httpsPort: 6
        resourceState: Creating
        isCompressionEnabled: true
        provisioningState: Creating
        queryStringCachingBehavior: IgnoreQueryString
      properties:
        contentTypesToCompress:
          description: List of content types on which compression will be applied.
            The value for the elements should be a valid MIME type.
          items:
            type: string
          type: array
        hostName:
          description: "The host name of the endpoint {endpointName}.{DNSZone}"
          readOnly: true
          type: string
        isCompressionEnabled:
          description: "Indicates whether the compression is enabled. Default value\
            \ is false. If compression is enabled, the content transferred from cdn\
            \ endpoint to end user will be compressed. The requested content must\
            \ be larger than 1 byte and smaller than 1 MB."
          type: boolean
        isHttpAllowed:
          description: Indicates whether HTTP traffic is allowed on the endpoint.
            Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
          type: boolean
        isHttpsAllowed:
          description: Indicates whether https traffic is allowed on the endpoint.
            Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
          type: boolean
        originHostHeader:
          description: The host header the CDN provider will send along with content
            requests to origins. The default value is the host name of the origin.
          type: string
        originPath:
          description: The path used for origin requests.
          type: string
        origins:
          description: "The set of origins for the CDN endpoint. When multiple origins\
            \ exist, the first origin will be used as primary and rest will be used\
            \ as failover options."
          items:
            $ref: '#/components/schemas/DeepCreatedOrigin'
          type: array
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        queryStringCachingBehavior:
          $ref: '#/components/schemas/QueryStringCachingBehavior'
        resourceState:
          description: Resource status of the endpoint.
          enum:
          - Creating
          - Deleting
          - Running
          - Starting
          - Stopped
          - Stopping
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: EndpointResourceState
      type: object
    EndpointPropertiesCreateParameters:
      example:
        contentTypesToCompress:
        - contentTypesToCompress
        - contentTypesToCompress
        originPath: originPath
        originHostHeader: originHostHeader
        isHttpAllowed: true
        isHttpsAllowed: true
        origins:
        - name: name
          properties:
            hostName: hostName
            httpPort: 0
            httpsPort: 6
        - name: name
          properties:
            hostName: hostName
            httpPort: 0
            httpsPort: 6
        isCompressionEnabled: true
        queryStringCachingBehavior: IgnoreQueryString
      properties:
        contentTypesToCompress:
          description: List of content types on which compression will be applied.
            The value for the elements should be a valid MIME type.
          items:
            type: string
          type: array
        isCompressionEnabled:
          description: "Indicates whether content compression is enabled. Default\
            \ value is false. If compression is enabled, the content transferred from\
            \ the CDN endpoint to the end user will be compressed. The requested content\
            \ must be larger than 1 byte and smaller than 1 MB."
          type: boolean
        isHttpAllowed:
          description: Indicates whether HTTP traffic is allowed on the endpoint.
            Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
          type: boolean
        isHttpsAllowed:
          description: Indicates whether https traffic is allowed on the endpoint.
            Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
          type: boolean
        originHostHeader:
          description: The host header CDN provider will send along with content requests
            to origins. The default value is the host name of the origin.
          type: string
        originPath:
          description: The path used for origin requests.
          type: string
        origins:
          description: "The set of origins for the CDN endpoint. When multiple origins\
            \ exist, the first origin will be used as primary and rest will be used\
            \ as failover options."
          items:
            $ref: '#/components/schemas/DeepCreatedOrigin'
          type: array
        queryStringCachingBehavior:
          $ref: '#/components/schemas/QueryStringCachingBehavior'
      required:
      - origins
      type: object
    EndpointPropertiesUpdateParameters:
      example:
        contentTypesToCompress:
        - contentTypesToCompress
        - contentTypesToCompress
        originPath: originPath
        originHostHeader: originHostHeader
        isHttpAllowed: true
        isHttpsAllowed: true
        isCompressionEnabled: true
        queryStringCachingBehavior: IgnoreQueryString
      properties:
        contentTypesToCompress:
          description: List of content types on which compression will be applied.
            The value for the elements should be a valid MIME type.
          items:
            type: string
          type: array
        isCompressionEnabled:
          description: "Indicates whether content compression is enabled. Default\
            \ value is false. If compression is enabled, the content transferred from\
            \ the CDN endpoint to the end user will be compressed. The requested content\
            \ must be larger than 1 byte and smaller than 1 MB."
          type: boolean
        isHttpAllowed:
          description: Indicates whether HTTP traffic is allowed on the endpoint.
            Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
          type: boolean
        isHttpsAllowed:
          description: Indicates whether HTTPS traffic is allowed on the endpoint.
            Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
          type: boolean
        originHostHeader:
          description: The host header the CDN provider will send along with content
            requests to origins. The default value is the host name of the origin.
          type: string
        originPath:
          description: The path used for origin requests.
          type: string
        queryStringCachingBehavior:
          $ref: '#/components/schemas/QueryStringCachingBehavior'
      type: object
    EndpointUpdateParameters:
      description: Endpoint properties required for new endpoint creation.
      example:
        properties:
          contentTypesToCompress:
          - contentTypesToCompress
          - contentTypesToCompress
          originPath: originPath
          originHostHeader: originHostHeader
          isHttpAllowed: true
          isHttpsAllowed: true
          isCompressionEnabled: true
          queryStringCachingBehavior: IgnoreQueryString
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/EndpointPropertiesUpdateParameters'
        tags:
          additionalProperties:
            type: string
          description: Endpoint tags
          type: object
      type: object
      x-ms-azure-resource: true
    ErrorResponse:
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    LoadParameters:
      description: Parameters required for endpoint load.
      example:
        contentPaths:
        - contentPaths
        - contentPaths
      properties:
        contentPaths:
          description: The path to the content to be loaded. Should describe a file
            path.
          items:
            type: string
          type: array
      required:
      - contentPaths
      type: object
    Operation:
      description: CDN REST API operation
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          type: string
      type: object
    OperationListResult:
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
      properties:
        value:
          description: List of CDN operations supported by the CDN resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    Origin:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: "CDN origin is the source of the content being delivered via CDN.\
        \ When the edge nodes represented by an endpoint do not have the requested\
        \ content cached, they attempt to fetch it from one or more of the configured\
        \ origins."
      example:
        properties:
          hostName: hostName
          httpPort: 0
          resourceState: Creating
          provisioningState: Creating
          httpsPort: 6
      properties:
        properties:
          $ref: '#/components/schemas/OriginProperties'
    OriginListResult:
      example:
        value:
        - properties:
            hostName: hostName
            httpPort: 0
            resourceState: Creating
            provisioningState: Creating
            httpsPort: 6
        - properties:
            hostName: hostName
            httpPort: 0
            resourceState: Creating
            provisioningState: Creating
            httpsPort: 6
      properties:
        value:
          description: List of CDN origins within an endpoint
          items:
            $ref: '#/components/schemas/Origin'
          type: array
      type: object
    OriginParameters:
      description: Origin properties needed for origin creation or update.
      example:
        properties:
          hostName: hostName
          httpPort: 0
          httpsPort: 6
      properties:
        properties:
          $ref: '#/components/schemas/OriginPropertiesParameters'
      type: object
      x-ms-azure-resource: true
    OriginProperties:
      example:
        hostName: hostName
        httpPort: 0
        resourceState: Creating
        provisioningState: Creating
        httpsPort: 6
      properties:
        hostName:
          description: "The address of the origin. Domain names, IPv4 addresses, and\
            \ IPv6 addresses are supported."
          type: string
        httpPort:
          description: The value of the HTTP port. Must be between 1 and 65535.
          type: integer
        httpsPort:
          description: The value of the https port. Must be between 1 and 65535.
          type: integer
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        resourceState:
          description: Resource status of the origin.
          enum:
          - Creating
          - Active
          - Deleting
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: OriginResourceState
      required:
      - hostName
      type: object
    OriginPropertiesParameters:
      example:
        hostName: hostName
        httpPort: 0
        httpsPort: 6
      properties:
        hostName:
          description: "The address of the origin. Domain names, IPv4 addresses, and\
            \ IPv6 addresses are supported."
          type: string
        httpPort:
          description: The value of the HTTP port. Must be between 1 and 65535.
          type: integer
        httpsPort:
          description: The value of the HTTPS port. Must be between 1 and 65535.
          type: integer
      required:
      - hostName
      type: object
    Profile:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: CDN profile represents the top level resource and the entry point
        into the CDN API. This allows users to set up a logical grouping of endpoints
        in addition to creating shared configuration settings and selecting pricing
        tiers and providers.
      example:
        properties:
          resourceState: Creating
          provisioningState: Creating
          sku:
            name: Standard
      properties:
        properties:
          $ref: '#/components/schemas/ProfileProperties'
    ProfileCreateParameters:
      description: Profile properties required for profile creation.
      example:
        location: location
        properties:
          sku:
            name: Standard
        tags:
          key: tags
      properties:
        location:
          description: Profile location
          type: string
        properties:
          $ref: '#/components/schemas/ProfilePropertiesCreateParameters'
        tags:
          additionalProperties:
            type: string
          description: Profile tags
          type: object
      required:
      - location
      type: object
      x-ms-azure-resource: true
    ProfileListResult:
      example:
        value:
        - properties:
            resourceState: Creating
            provisioningState: Creating
            sku:
              name: Standard
        - properties:
            resourceState: Creating
            provisioningState: Creating
            sku:
              name: Standard
      properties:
        value:
          description: List of CDN profiles within a resource group.
          items:
            $ref: '#/components/schemas/Profile'
          type: array
      type: object
    ProfileProperties:
      example:
        resourceState: Creating
        provisioningState: Creating
        sku:
          name: Standard
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
        resourceState:
          description: Resource status of the profile.
          enum:
          - Creating
          - Active
          - Deleting
          - Disabled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: ProfileResourceState
        sku:
          $ref: '#/components/schemas/Sku'
      type: object
    ProfilePropertiesCreateParameters:
      example:
        sku:
          name: Standard
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
      required:
      - sku
      type: object
    ProfileUpdateParameters:
      description: Profile properties required for profile update.
      example:
        tags:
          key: tags
      properties:
        tags:
          additionalProperties:
            type: string
          description: Profile tags
          type: object
      required:
      - tags
      type: object
      x-ms-azure-resource: true
    ProvisioningState:
      description: Provisioning status of the resource.
      enum:
      - Creating
      - Succeeded
      - Failed
      type: string
      x-ms-enum:
        modelAsString: false
        name: ProvisioningState
    PurgeParameters:
      description: Parameters required for endpoint purge.
      example:
        contentPaths:
        - contentPaths
        - contentPaths
      properties:
        contentPaths:
          description: The path to the content to be purged. Can describe a file path
            or a wild card directory.
          items:
            type: string
          type: array
      required:
      - contentPaths
      type: object
    QueryStringCachingBehavior:
      description: Defines the query string caching behavior.
      enum:
      - IgnoreQueryString
      - BypassCaching
      - UseQueryString
      - NotSet
      type: string
      x-ms-enum:
        modelAsString: false
        name: QueryStringCachingBehavior
    Resource:
      properties:
        id:
          description: Resource ID
          readOnly: true
          type: string
        name:
          description: Resource name
          readOnly: true
          type: string
        type:
          description: Resource type
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ResourceType:
      description: Type of CDN resource used in CheckNameAvailability.
      enum:
      - Microsoft.Cdn/Profiles/Endpoints
      type: string
      x-ms-enum:
        modelAsString: false
        name: ResourceType
    Sku:
      description: The SKU (pricing tier) of the CDN profile.
      example:
        name: Standard
      properties:
        name:
          description: Name of the pricing tier
          enum:
          - Standard
          - Premium
          type: string
          x-ms-enum:
            modelAsString: false
            name: SkuName
      type: object
    SsoUri:
      description: SSO URI required to login to third party web portal.
      example:
        ssoUriValue: ssoUriValue
      properties:
        ssoUriValue:
          description: The URI used to login to third party web portal.
          type: string
      type: object
    TrackedResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: ARM tracked resource
      properties:
        location:
          description: Resource location
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
      required:
      - location
      - tags
    ValidateCustomDomainInput:
      description: Input of the custom domain to be validated.
      example:
        hostName: hostName
      properties:
        hostName:
          description: The host name of the custom domain. Must be a domain name.
          type: string
      required:
      - hostName
      type: object
    ValidateCustomDomainOutput:
      description: Output of custom domain validation.
      example:
        customDomainValidated: true
        reason: reason
        message: message
      properties:
        customDomainValidated:
          description: Indicates whether the custom domain is validated or not.
          type: boolean
        message:
          description: The message describing why the custom domain is not valid.
          type: string
        reason:
          description: The reason why the custom domain is not valid.
          type: string
      type: object
    Operation_display:
      example:
        provider: provider
        resource: resource
        operation: operation
      properties:
        operation:
          description: "Operation type: Read, write, delete, etc."
          type: string
        provider:
          description: "Service provider: Microsoft.Cdn"
          type: string
        resource:
          description: "Resource on which the operation is performed: Profile, endpoint,\
            \ etc."
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

