openapi: 3.0.1
info:
  description: Use this API to manage the IoT hubs in your Azure subscription.
  title: iotHubClient
  version: 2017-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/iothub/resource-manager/Microsoft.Devices/stable/2017-07-01/iothub.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: iothub
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Devices/operations:
    get:
      description: Lists all of the available IoT Hub REST API operations.
      operationId: operations_list
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/IotHubs:
    get:
      deprecated: false
      description: Get all the IoT hubs in a subscription.
      operationId: iot_hub_resource_list_by_subscription
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescriptionListResult'
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the IoT hubs in the subscription.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get all the IoT hubs in a subscription.
      tags:
      - GET
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.get_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/checkNameAvailability:
    post:
      deprecated: false
      description: Check if an IoT hub name is available.
      operationId: iot_hub_resource_check_name_availability
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationInputs'
        description: Set the name parameter in the OperationInputs structure to the
          name of the IoT hub to check.
        required: true
        x-body-name: operationInputs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubNameAvailabilityInfo'
          description: "This is a synchronous operation. The body contains a JSON-serialized\
            \ response that specifies whether the IoT hub name is available. If the\
            \ name is not available, the body contains the reason."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Check if an IoT hub name is available.
      tags:
      - POST
      x-codegen-request-body-name: operationInputs
      x-openapi-router-controller: openapi_server.controllers.post_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs:
    get:
      deprecated: false
      description: Get all the IoT hubs in a resource group.
      operationId: iot_hub_resource_list_by_resource_group
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescriptionListResult'
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the IoT hubs in the resource group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get all the IoT hubs in a resource group.
      tags:
      - GET
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.get_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}:
    delete:
      deprecated: false
      description: Delete an IoT hub.
      operationId: iot_hub_resource_delete
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
          description: This is returned as a response to the status polling request
            for the delete operation. The body contains the resource representation
            that indicates a transitional provisioning state.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
          description: "The Iot Hub resource provider always returns a 202 Accepted\
            \ status code with valid Location and Retry-After headers. The resource\
            \ provider also sets the Azure-AsyncOperation header with a URL that points\
            \ to the operation resource for this operation. Subsequent GET attempts\
            \ on the resource after a DELETE operation return a resource representation\
            \ that indicates a transitional provisioning state (such as Terminating).\
            \ To retrieve the status of the operation, a client can either poll the\
            \ URL returned in the Location header after the Retry-After interval,\
            \ get the IoT Hub service status directly, or query the operation resource."
        "204":
          content: {}
          description: "Once the long running delete operation completes successfully,\
            \ a 204 No Content status code is returned when the status polling request\
            \ finds the Iot hub metadata in the service and the status of the delete\
            \ operation is set to a completed state."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: "After the long running delete operation completes successfully,\
            \ a 404 Not Found is returned when the status polling request no longer\
            \ finds the Iot hub metadata in the service."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Delete an IoT hub.
      tags:
      - DELETE
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.delete_controller
    get:
      deprecated: false
      description: Get the non-security related metadata of an IoT hub.
      operationId: iot_hub_resource_get
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
          description: The body contains all the non-security properties of the IoT
            hub. Security-related properties are set to null.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get the non-security related metadata of an IoT hub.
      tags:
      - GET
      x-openapi-router-controller: openapi_server.controllers.get_controller
    put:
      deprecated: false
      description: "Create or update the metadata of an Iot hub. The usual pattern\
        \ to modify a property is to retrieve the IoT hub metadata and security metadata,\
        \ and then combine them with the modified values in a new body to update the\
        \ IoT hub."
      operationId: iot_hub_resource_create_or_update
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the IoT Hub. Do not specify for creating a brand new
          IoT Hub. Required to update an existing IoT Hub.
        in: header
        name: If-Match
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IotHubDescription'
        description: The IoT hub metadata and security metadata.
        required: true
        x-body-name: iotHubDescription
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
          description: This is returned as a response to the status polling request
            for the create or update operation. The body contains the resource representation
            that indicates a transitional provisioning state.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubDescription'
          description: "This is a long running operation. The operation returns a\
            \ 201 if the validation is complete. The response includes an Azure-AsyncOperation\
            \ header that contains a status URL. Clients are expected to poll the\
            \ status URL for the status of the operation. If successful, the operation\
            \ returns HTTP status code of 201 (OK)."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Create or update the metadata of an IoT hub.
      tags:
      - PUT
      x-ms-long-running-operation: true
      x-codegen-request-body-name: iotHubDescription
      x-openapi-router-controller: openapi_server.controllers.put_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubKeys/{keyName}/listkeys
  : post:
      deprecated: false
      description: "Get a shared access policy by name from an IoT hub. For more information,\
        \ see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security."
      operationId: iot_hub_resource_get_keys_for_key_name
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the shared access policy.
        in: path
        name: keyName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRule'
          description: "This is a synchronous operation. The body contains a JSON-serialized\
            \ shared access policy, including keys, that you can use to access one\
            \ or more IoT hub endpoints."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: "Get a shared access policy by name from an IoT hub. For more information,\
        \ see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security."
      tags:
      - POST
      x-openapi-router-controller: openapi_server.controllers.post_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubStats
  : get:
      deprecated: false
      description: Get the statistics from an IoT hub.
      operationId: iot_hub_resource_get_stats
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryStatistics'
          description: This is a synchronous operation. The body contains JSON-serialized
            statistics from the identity registry in the IoT hub.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get the statistics from an IoT hub.
      tags:
      - GET
      x-openapi-router-controller: openapi_server.controllers.get_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates
  : get:
      deprecated: false
      description: Returns the list of certificates.
      operationId: certificates_list_by_iot_hub
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateListDescription'
          description: The body contains all the certificate list.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get the certificate list.
      tags:
      - Certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}
  : delete:
      deprecated: false
      description: Deletes an existing X509 certificate or does nothing if it does
        not exist.
      operationId: certificates_delete
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the certificate
        in: path
        name: certificate_name
        required: true
        schema:
          pattern: "^[A-Za-z0-9-._]{1,64}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Certificate.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Certificate has been deleted.
        "204":
          content: {}
          description: Certificate does not exist.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Delete an X509 certificate.
      tags:
      - Certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    get:
      deprecated: false
      description: Returns the certificate.
      operationId: certificates_get
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the certificate
        in: path
        name: certificateName
        required: true
        schema:
          pattern: "^[A-Za-z0-9-._]{1,64}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateDescription'
          description: The body contains the certificate.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get the certificate.
      tags:
      - Certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
    put:
      deprecated: false
      description: Adds new or replaces existing certificate.
      operationId: certificates_create_or_update
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the certificate
        in: path
        name: certificate_name
        required: true
        schema:
          pattern: "^[A-Za-z0-9-._]{1,64}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Certificate. Do not specify for creating a brand
          new certificate. Required to update an existing certificate.
        in: header
        name: If-Match
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateBodyDescription'
        description: The certificate body.
        required: true
        x-body-name: certificateDescription
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateDescription'
          description: "If certificate already exist and update was successful, the\
            \ operation returns HTTP status code of 201 (OK)."
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateDescription'
          description: "If certificate didn't exist creation was successful, the operation\
            \ returns HTTP status code of 201 (OK)."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Upload the certificate to the IoT hub.
      tags:
      - Certificates
      x-codegen-request-body-name: certificateDescription
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}/generateVerificationCode
  : post:
      deprecated: false
      description: Generates verification code for proof of possession flow. The verification
        code will be used to generate a leaf certificate.
      operationId: certificates_generate_verification_code
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the certificate
        in: path
        name: certificate_name
        required: true
        schema:
          pattern: "^[A-Za-z0-9-._]{1,64}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Certificate.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateWithNonceDescription'
          description: The body contains the certificate.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Generate verification code for proof of possession flow.
      tags:
      - Certificates
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}/verify
  : post:
      deprecated: false
      description: Verifies the certificate's private key possession by providing
        the leaf cert issued by the verifying pre uploaded certificate.
      operationId: certificates_verify
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the certificate
        in: path
        name: certificate_name
        required: true
        schema:
          pattern: "^[A-Za-z0-9-._]{1,64}$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Certificate.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateVerificationDescription'
        description: The name of the certificate
        required: true
        x-body-name: certificateVerificationBody
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateDescription'
          description: The body contains the certificate.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Verify certificate's private key possession.
      tags:
      - Certificates
      x-codegen-request-body-name: certificateVerificationBody
      x-openapi-router-controller: openapi_server.controllers.certificates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups
  : get:
      deprecated: false
      description: Get a list of the consumer groups in the Event Hub-compatible device-to-cloud
        endpoint in an IoT hub.
      operationId: iot_hub_resource_list_event_hub_consumer_groups
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Event Hub-compatible endpoint.
        in: path
        name: eventHubEndpointName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConsumerGroupsListResult'
          description: This is a synchronous operation. The body contains a JSON-serialized
            list of the consumer groups in the Event Hub-compatible endpoint in this
            IoT hub
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get a list of the consumer groups in the Event Hub-compatible device-to-cloud
        endpoint in an IoT hub.
      tags:
      - GET
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.get_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups/{name}
  : delete:
      deprecated: false
      description: Delete a consumer group from an Event Hub-compatible endpoint in
        an IoT hub.
      operationId: iot_hub_resource_delete_event_hub_consumer_group
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Event Hub-compatible endpoint in the IoT hub.
        in: path
        name: eventHubEndpointName
        required: true
        schema:
          type: string
      - description: The name of the consumer group to delete.
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: This is a synchronous operation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Delete a consumer group from an Event Hub-compatible endpoint in an
        IoT hub.
      tags:
      - DELETE
      x-openapi-router-controller: openapi_server.controllers.delete_controller
    get:
      deprecated: false
      description: Get a consumer group from the Event Hub-compatible device-to-cloud
        endpoint for an IoT hub.
      operationId: iot_hub_resource_get_event_hub_consumer_group
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Event Hub-compatible endpoint in the IoT hub.
        in: path
        name: eventHubEndpointName
        required: true
        schema:
          type: string
      - description: The name of the consumer group to retrieve.
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConsumerGroupInfo'
          description: This is a synchronous operation. The body contains a JSON-serialized
            consumer group.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get a consumer group from the Event Hub-compatible device-to-cloud
        endpoint for an IoT hub.
      tags:
      - GET
      x-openapi-router-controller: openapi_server.controllers.get_controller
    put:
      deprecated: false
      description: Add a consumer group to an Event Hub-compatible endpoint in an
        IoT hub.
      operationId: iot_hub_resource_create_event_hub_consumer_group
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Event Hub-compatible endpoint in the IoT hub.
        in: path
        name: eventHubEndpointName
        required: true
        schema:
          type: string
      - description: The name of the consumer group to add.
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventHubConsumerGroupInfo'
          description: This is a synchronous operation.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Add a consumer group to an Event Hub-compatible endpoint in an IoT
        hub.
      tags:
      - PUT
      x-openapi-router-controller: openapi_server.controllers.put_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/exportDevices
  : post:
      deprecated: false
      description: "Exports all the device identities in the IoT hub identity registry\
        \ to an Azure Storage blob container. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities."
      operationId: iot_hub_resource_export_devices
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportDevicesRequest'
        description: The parameters that specify the export devices operation.
        required: true
        x-body-name: exportDevicesParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: "Exports all the device identities in the IoT hub identity registry\
        \ to an Azure Storage blob container. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities."
      tags:
      - POST
      x-codegen-request-body-name: exportDevicesParameters
      x-openapi-router-controller: openapi_server.controllers.post_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/importDevices
  : post:
      deprecated: false
      description: "Import, update, or delete device identities in the IoT hub identity\
        \ registry from a blob. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities."
      operationId: iot_hub_resource_import_devices
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportDevicesRequest'
        description: The parameters that specify the import devices operation.
        required: true
        x-body-name: importDevicesParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: "Import, update, or delete device identities in the IoT hub identity\
        \ registry from a blob. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities."
      tags:
      - POST
      x-codegen-request-body-name: importDevicesParameters
      x-openapi-router-controller: openapi_server.controllers.post_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs:
    get:
      deprecated: false
      description: "Get a list of all the jobs in an IoT hub. For more information,\
        \ see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry."
      operationId: iot_hub_resource_list_jobs
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponseListResult'
          description: This is a synchronous operation. The response contains a JSON-serialized
            array of all the jobs in the IoT hub.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: "Get a list of all the jobs in an IoT hub. For more information, see:\
        \ https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry."
      tags:
      - GET
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.get_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs/{jobId}
  : get:
      deprecated: false
      description: "Get the details of a job from an IoT hub. For more information,\
        \ see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry."
      operationId: iot_hub_resource_get_job
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The job identifier.
        in: path
        name: jobId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          description: This is a synchronous operation. The response contains a JSON-serialized
            description of the job in the IoT hub.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: "Get the details of a job from an IoT hub. For more information, see:\
        \ https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry."
      tags:
      - GET
      x-openapi-router-controller: openapi_server.controllers.get_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/listkeys:
    post:
      deprecated: false
      description: "Get the security metadata for an IoT hub. For more information,\
        \ see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security."
      operationId: iot_hub_resource_list_keys
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRuleListResult'
          description: "This is a synchronous operation. The body contains a JSON-serialized\
            \ array of shared access policies, including keys, that you can use to\
            \ access the IoT hub endpoints."
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: "Get the security metadata for an IoT hub. For more information, see:\
        \ https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security."
      tags:
      - POST
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.post_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/quotaMetrics
  : get:
      deprecated: false
      description: Get the quota metrics for an IoT hub.
      operationId: iot_hub_resource_get_quota_metrics
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubQuotaMetricInfoListResult'
          description: This is a synchronous operation. The response contains a JSON-serialized
            array of the quota metrics for the IoT hub.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get the quota metrics for an IoT hub.
      tags:
      - GET
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.get_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/skus:
    get:
      deprecated: false
      description: Get the list of valid SKUs for an IoT hub.
      operationId: iot_hub_resource_get_valid_skus
      parameters:
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the IoT hub.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the IoT hub.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IotHubSkuDescriptionListResult'
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the valid SKUs for this IoT hub.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Get the list of valid SKUs for an IoT hub.
      tags:
      - GET
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.get_controller
components:
  parameters:
    api-version:
      description: The version of the API.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    certificateName:
      description: The name of the certificate
      in: path
      name: certificateName
      required: true
      schema:
        pattern: "^[A-Za-z0-9-._]{1,64}$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupName:
      description: The name of the resource group that contains the IoT hub.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceName:
      description: The name of the IoT hub.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionId:
      description: The subscription identifier.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    CertificateBodyDescription:
      description: The JSON-serialized X509 Certificate.
      example:
        certificate: certificate
      properties:
        certificate:
          description: base-64 representation of the X509 leaf certificate .cer file
            or just .pem file content.
          title: certificate
          type: string
      title: CertificateBodyDescription
      type: object
    CertificateDescription:
      description: The X509 Certificate.
      example:
        name: name
        etag: etag
        id: id
        type: type
        properties:
          isVerified: true
          created: created
          subject: subject
          thumbprint: thumbprint
          expiry: expiry
          updated: updated
      properties:
        etag:
          description: The entity tag.
          readOnly: true
          title: etag
          type: string
        id:
          description: The resource identifier.
          readOnly: true
          title: id
          type: string
        name:
          description: The name of the certificate.
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/CertificateProperties'
        type:
          description: The resource type.
          readOnly: true
          title: type
          type: string
      title: CertificateDescription
      type: object
      x-ms-azure-resource: true
    CertificateListDescription:
      description: The JSON-serialized array of Certificate objects.
      example:
        value:
        - name: name
          etag: etag
          id: id
          type: type
          properties:
            isVerified: true
            created: created
            subject: subject
            thumbprint: thumbprint
            expiry: expiry
            updated: updated
        - name: name
          etag: etag
          id: id
          type: type
          properties:
            isVerified: true
            created: created
            subject: subject
            thumbprint: thumbprint
            expiry: expiry
            updated: updated
      properties:
        value:
          description: The array of Certificate objects.
          items:
            $ref: '#/components/schemas/CertificateDescription'
          title: value
          type: array
      title: CertificateListDescription
      type: object
    CertificateProperties:
      description: The description of an X509 CA Certificate.
      example:
        isVerified: true
        created: created
        subject: subject
        thumbprint: thumbprint
        expiry: expiry
        updated: updated
      properties:
        created:
          description: The certificate's create date and time.
          format: date-time-rfc1123
          readOnly: true
          title: created
          type: string
        expiry:
          description: The certificate's expiration date and time.
          format: date-time-rfc1123
          readOnly: true
          title: expiry
          type: string
        isVerified:
          description: Determines whether certificate has been verified.
          readOnly: true
          title: isVerified
          type: boolean
        subject:
          description: The certificate's subject name.
          readOnly: true
          title: subject
          type: string
        thumbprint:
          description: The certificate's thumbprint.
          readOnly: true
          title: thumbprint
          type: string
        updated:
          description: The certificate's last update date and time.
          format: date-time-rfc1123
          readOnly: true
          title: updated
          type: string
      title: CertificateProperties
      type: object
    CertificatePropertiesWithNonce:
      description: The description of an X509 CA Certificate including the challenge
        nonce issued for the Proof-Of-Possession flow.
      example:
        isVerified: true
        created: created
        subject: subject
        thumbprint: thumbprint
        expiry: expiry
        updated: updated
        verificationCode: verificationCode
      properties:
        created:
          description: The certificate's create date and time.
          format: date-time-rfc1123
          readOnly: true
          title: created
          type: string
        expiry:
          description: The certificate's expiration date and time.
          format: date-time-rfc1123
          readOnly: true
          title: expiry
          type: string
        isVerified:
          description: Determines whether certificate has been verified.
          readOnly: true
          title: isVerified
          type: boolean
        subject:
          description: The certificate's subject name.
          readOnly: true
          title: subject
          type: string
        thumbprint:
          description: The certificate's thumbprint.
          readOnly: true
          title: thumbprint
          type: string
        updated:
          description: The certificate's last update date and time.
          format: date-time-rfc1123
          readOnly: true
          title: updated
          type: string
        verificationCode:
          description: The certificate's verification code that will be used for proof
            of possession.
          readOnly: true
          title: verificationCode
          type: string
      title: CertificatePropertiesWithNonce
      type: object
    CertificateVerificationDescription:
      description: The JSON-serialized leaf certificate
      example:
        certificate: certificate
      properties:
        certificate:
          description: base-64 representation of X509 certificate .cer file or just
            .pem file content.
          title: certificate
          type: string
      title: CertificateVerificationDescription
      type: object
    CertificateWithNonceDescription:
      description: The X509 Certificate.
      example:
        name: name
        etag: etag
        id: id
        type: type
        properties:
          isVerified: true
          created: created
          subject: subject
          thumbprint: thumbprint
          expiry: expiry
          updated: updated
          verificationCode: verificationCode
      properties:
        etag:
          description: The entity tag.
          readOnly: true
          title: etag
          type: string
        id:
          description: The resource identifier.
          readOnly: true
          title: id
          type: string
        name:
          description: The name of the certificate.
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/CertificatePropertiesWithNonce'
        type:
          description: The resource type.
          readOnly: true
          title: type
          type: string
      title: CertificateWithNonceDescription
      type: object
      x-ms-azure-resource: true
    CloudToDeviceProperties:
      description: The IoT hub cloud-to-device messaging properties.
      example:
        feedback:
          ttlAsIso8601: ttlAsIso8601
          maxDeliveryCount: 8
          lockDurationAsIso8601: lockDurationAsIso8601
        defaultTtlAsIso8601: defaultTtlAsIso8601
        maxDeliveryCount: 60
      properties:
        defaultTtlAsIso8601:
          description: "The default time to live for cloud-to-device messages in the\
            \ device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages."
          format: duration
          title: defaultTtlAsIso8601
          type: string
        feedback:
          $ref: '#/components/schemas/FeedbackProperties'
        maxDeliveryCount:
          description: "The max delivery count for cloud-to-device messages in the\
            \ device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages."
          format: int32
          maximum: 100
          minimum: 1
          title: maxDeliveryCount
          type: integer
      title: CloudToDeviceProperties
      type: object
    ErrorDetails:
      description: Error details.
      example:
        Details: Details
        Message: Message
        HttpStatusCode: HttpStatusCode
        Code: Code
      properties:
        Code:
          description: The error code.
          readOnly: true
          title: Code
          type: string
        Details:
          description: The error details.
          readOnly: true
          title: Details
          type: string
        HttpStatusCode:
          description: The HTTP status code.
          readOnly: true
          title: HttpStatusCode
          type: string
        Message:
          description: The error message.
          readOnly: true
          title: Message
          type: string
      title: ErrorDetails
      type: object
    EventHubConsumerGroupInfo:
      description: The properties of the EventHubConsumerGroupInfo object.
      example:
        name: name
        id: id
        tags:
          key: tags
      properties:
        id:
          description: The Event Hub-compatible consumer group identifier.
          title: id
          type: string
        name:
          description: The Event Hub-compatible consumer group name.
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: The tags.
          title: tags
          type: object
      title: EventHubConsumerGroupInfo
      type: object
    EventHubConsumerGroupsListResult:
      description: The JSON-serialized array of Event Hub-compatible consumer group
        names with a next link.
      example:
        value:
        - value
        - value
        nextLink: nextLink
      properties:
        nextLink:
          description: The next link.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: The array of Event Hub-compatible consumer group names.
          items:
            type: string
          title: value
          type: array
      title: EventHubConsumerGroupsListResult
      type: object
    EventHubProperties:
      description: The properties of the provisioned Event Hub-compatible endpoint
        used by the IoT hub.
      example:
        partitionCount: 1
        path: path
        endpoint: endpoint
        retentionTimeInDays: 5
        partitionIds:
        - partitionIds
        - partitionIds
      properties:
        endpoint:
          description: The Event Hub-compatible endpoint.
          readOnly: true
          title: endpoint
          type: string
        partitionCount:
          description: "The number of partitions for receiving device-to-cloud messages\
            \ in the Event Hub-compatible endpoint. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages."
          format: int32
          title: partitionCount
          type: integer
        partitionIds:
          description: The partition ids in the Event Hub-compatible endpoint.
          items:
            type: string
          readOnly: true
          title: partitionIds
          type: array
        path:
          description: The Event Hub-compatible name.
          readOnly: true
          title: path
          type: string
        retentionTimeInDays:
          description: "The retention time for device-to-cloud messages in days. See:\
            \ https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages"
          format: int64
          title: retentionTimeInDays
          type: integer
      title: EventHubProperties
      type: object
    ExportDevicesRequest:
      description: Use to provide parameters when requesting an export of all devices
        in the IoT hub.
      example:
        ExportBlobContainerUri: ExportBlobContainerUri
        ExcludeKeys: true
      properties:
        ExcludeKeys:
          description: The value indicating whether keys should be excluded during
            export.
          title: ExcludeKeys
          type: boolean
        ExportBlobContainerUri:
          description: The export blob container URI.
          title: ExportBlobContainerUri
          type: string
      required:
      - ExcludeKeys
      - ExportBlobContainerUri
      title: ExportDevicesRequest
      type: object
    FallbackRouteProperties:
      description: The properties of the fallback route. IoT Hub uses these properties
        when it routes messages to the fallback endpoint.
      example:
        condition: condition
        isEnabled: true
        source: DeviceMessages
        endpointNames:
        - endpointNames
      properties:
        condition:
          description: "The condition which is evaluated in order to apply the fallback\
            \ route. If the condition is not provided it will evaluate to true by\
            \ default. For grammar, See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language"
          title: condition
          type: string
        endpointNames:
          description: The list of endpoints to which the messages that satisfy the
            condition are routed to. Currently only 1 endpoint is allowed.
          items:
            type: string
          maxItems: 1
          minItems: 1
          title: endpointNames
          type: array
        isEnabled:
          description: Used to specify whether the fallback route is enabled.
          title: isEnabled
          type: boolean
        source:
          description: "The source to which the routing rule is to be applied to.\
            \ For example, DeviceMessages"
          enum:
          - DeviceMessages
          title: source
          type: string
          x-ms-enum:
            modelAsString: true
            name: RoutingSource
      required:
      - endpointNames
      - isEnabled
      - source
      title: FallbackRouteProperties
      type: object
    FeedbackProperties:
      description: The properties of the feedback queue for cloud-to-device messages.
      example:
        ttlAsIso8601: ttlAsIso8601
        maxDeliveryCount: 8
        lockDurationAsIso8601: lockDurationAsIso8601
      properties:
        lockDurationAsIso8601:
          description: "The lock duration for the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages."
          format: duration
          title: lockDurationAsIso8601
          type: string
        maxDeliveryCount:
          description: "The number of times the IoT hub attempts to deliver a message\
            \ on the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages."
          format: int32
          maximum: 100
          minimum: 1
          title: maxDeliveryCount
          type: integer
        ttlAsIso8601:
          description: "The period of time for which a message is available to consume\
            \ before it is expired by the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages."
          format: duration
          title: ttlAsIso8601
          type: string
      title: FeedbackProperties
      type: object
    ImportDevicesRequest:
      description: Use to provide parameters when requesting an import of all devices
        in the hub.
      example:
        OutputBlobContainerUri: OutputBlobContainerUri
        InputBlobContainerUri: InputBlobContainerUri
      properties:
        InputBlobContainerUri:
          description: The input blob container URI.
          title: InputBlobContainerUri
          type: string
        OutputBlobContainerUri:
          description: The output blob container URI.
          title: OutputBlobContainerUri
          type: string
      required:
      - InputBlobContainerUri
      - OutputBlobContainerUri
      title: ImportDevicesRequest
      type: object
    IotHubCapacity:
      description: IoT Hub capacity information.
      example:
        default: 0
        scaleType: Automatic
        maximum: 6
        minimum: 1
      properties:
        default:
          description: The default number of units.
          format: int64
          readOnly: true
          title: default
          type: integer
        maximum:
          description: The maximum number of units.
          format: int64
          readOnly: true
          title: maximum
          type: integer
        minimum:
          description: The minimum number of units.
          format: int64
          maximum: 1
          minimum: 1
          readOnly: true
          title: minimum
          type: integer
        scaleType:
          description: The type of the scaling enabled.
          enum:
          - Automatic
          - Manual
          - None
          readOnly: true
          title: scaleType
          type: string
          x-ms-enum:
            modelAsString: false
            name: IotHubScaleType
      title: IotHubCapacity
      type: object
    IotHubDescription:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The description of the IoT hub.
      example:
        resourcegroup: resourcegroup
        etag: etag
        sku:
          tier: Free
          name: F1
          capacity: 9
        subscriptionid: subscriptionid
        properties:
          hostName: hostName
          comments: comments
          ipFilterRules:
          - filterName: filterName
            ipMask: ipMask
            action: Accept
          - filterName: filterName
            ipMask: ipMask
            action: Accept
          eventHubEndpoints:
            key:
              partitionCount: 1
              path: path
              endpoint: endpoint
              retentionTimeInDays: 5
              partitionIds:
              - partitionIds
              - partitionIds
          operationsMonitoringProperties:
            events:
              key: None
          provisioningState: provisioningState
          messagingEndpoints:
            key:
              ttlAsIso8601: ttlAsIso8601
              maxDeliveryCount: 56
              lockDurationAsIso8601: lockDurationAsIso8601
          features: None
          routing:
            fallbackRoute:
              condition: condition
              isEnabled: true
              source: DeviceMessages
              endpointNames:
              - endpointNames
            routes:
            - condition: condition
              isEnabled: true
              name: name
              source: DeviceMessages
              endpointNames:
              - endpointNames
            - condition: condition
              isEnabled: true
              name: name
              source: DeviceMessages
              endpointNames:
              - endpointNames
            endpoints:
              eventHubs:
              - connectionString: connectionString
                resourceGroup: resourceGroup
                name: name
                subscriptionId: subscriptionId
              - connectionString: connectionString
                resourceGroup: resourceGroup
                name: name
                subscriptionId: subscriptionId
              serviceBusTopics:
              - connectionString: connectionString
                resourceGroup: resourceGroup
                name: name
                subscriptionId: subscriptionId
              - connectionString: connectionString
                resourceGroup: resourceGroup
                name: name
                subscriptionId: subscriptionId
              serviceBusQueues:
              - connectionString: connectionString
                resourceGroup: resourceGroup
                name: name
                subscriptionId: subscriptionId
              - connectionString: connectionString
                resourceGroup: resourceGroup
                name: name
                subscriptionId: subscriptionId
              storageContainers:
              - connectionString: connectionString
                maxChunkSizeInBytes: 373302137
                resourceGroup: resourceGroup
                batchFrequencyInSeconds: 211
                containerName: containerName
                name: name
                encoding: encoding
                subscriptionId: subscriptionId
                fileNameFormat: fileNameFormat
              - connectionString: connectionString
                maxChunkSizeInBytes: 373302137
                resourceGroup: resourceGroup
                batchFrequencyInSeconds: 211
                containerName: containerName
                name: name
                encoding: encoding
                subscriptionId: subscriptionId
                fileNameFormat: fileNameFormat
          storageEndpoints:
            key:
              connectionString: connectionString
              sasTtlAsIso8601: sasTtlAsIso8601
              containerName: containerName
          enableFileUploadNotifications: true
          authorizationPolicies:
          - secondaryKey: secondaryKey
            rights: RegistryRead
            keyName: keyName
            primaryKey: primaryKey
          - secondaryKey: secondaryKey
            rights: RegistryRead
            keyName: keyName
            primaryKey: primaryKey
          cloudToDevice:
            feedback:
              ttlAsIso8601: ttlAsIso8601
              maxDeliveryCount: 8
              lockDurationAsIso8601: lockDurationAsIso8601
            defaultTtlAsIso8601: defaultTtlAsIso8601
            maxDeliveryCount: 60
      properties:
        etag:
          description: "The Etag field is *not* required. If it is provided in the\
            \ response body, it must also be provided as a header per the normal ETag\
            \ convention."
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/IotHubProperties'
        resourcegroup:
          description: The name of the resource group that contains the IoT hub. A
            resource group name uniquely identifies the resource group within the
            subscription.
          title: resourcegroup
          type: string
        sku:
          $ref: '#/components/schemas/IotHubSkuInfo'
        subscriptionid:
          description: The subscription identifier.
          title: subscriptionid
          type: string
      required:
      - resourcegroup
      - sku
      - subscriptionid
      title: IotHubDescription
    IotHubDescriptionListResult:
      description: The JSON-serialized array of IotHubDescription objects with a next
        link.
      example:
        value:
        - resourcegroup: resourcegroup
          etag: etag
          sku:
            tier: Free
            name: F1
            capacity: 9
          subscriptionid: subscriptionid
          properties:
            hostName: hostName
            comments: comments
            ipFilterRules:
            - filterName: filterName
              ipMask: ipMask
              action: Accept
            - filterName: filterName
              ipMask: ipMask
              action: Accept
            eventHubEndpoints:
              key:
                partitionCount: 1
                path: path
                endpoint: endpoint
                retentionTimeInDays: 5
                partitionIds:
                - partitionIds
                - partitionIds
            operationsMonitoringProperties:
              events:
                key: None
            provisioningState: provisioningState
            messagingEndpoints:
              key:
                ttlAsIso8601: ttlAsIso8601
                maxDeliveryCount: 56
                lockDurationAsIso8601: lockDurationAsIso8601
            features: None
            routing:
              fallbackRoute:
                condition: condition
                isEnabled: true
                source: DeviceMessages
                endpointNames:
                - endpointNames
              routes:
              - condition: condition
                isEnabled: true
                name: name
                source: DeviceMessages
                endpointNames:
                - endpointNames
              - condition: condition
                isEnabled: true
                name: name
                source: DeviceMessages
                endpointNames:
                - endpointNames
              endpoints:
                eventHubs:
                - connectionString: connectionString
                  resourceGroup: resourceGroup
                  name: name
                  subscriptionId: subscriptionId
                - connectionString: connectionString
                  resourceGroup: resourceGroup
                  name: name
                  subscriptionId: subscriptionId
                serviceBusTopics:
                - connectionString: connectionString
                  resourceGroup: resourceGroup
                  name: name
                  subscriptionId: subscriptionId
                - connectionString: connectionString
                  resourceGroup: resourceGroup
                  name: name
                  subscriptionId: subscriptionId
                serviceBusQueues:
                - connectionString: connectionString
                  resourceGroup: resourceGroup
                  name: name
                  subscriptionId: subscriptionId
                - connectionString: connectionString
                  resourceGroup: resourceGroup
                  name: name
                  subscriptionId: subscriptionId
                storageContainers:
                - connectionString: connectionString
                  maxChunkSizeInBytes: 373302137
                  resourceGroup: resourceGroup
                  batchFrequencyInSeconds: 211
                  containerName: containerName
                  name: name
                  encoding: encoding
                  subscriptionId: subscriptionId
                  fileNameFormat: fileNameFormat
                - connectionString: connectionString
                  maxChunkSizeInBytes: 373302137
                  resourceGroup: resourceGroup
                  batchFrequencyInSeconds: 211
                  containerName: containerName
                  name: name
                  encoding: encoding
                  subscriptionId: subscriptionId
                  fileNameFormat: fileNameFormat
            storageEndpoints:
              key:
                connectionString: connectionString
                sasTtlAsIso8601: sasTtlAsIso8601
                containerName: containerName
            enableFileUploadNotifications: true
            authorizationPolicies:
            - secondaryKey: secondaryKey
              rights: RegistryRead
              keyName: keyName
              primaryKey: primaryKey
            - secondaryKey: secondaryKey
              rights: RegistryRead
              keyName: keyName
              primaryKey: primaryKey
            cloudToDevice:
              feedback:
                ttlAsIso8601: ttlAsIso8601
                maxDeliveryCount: 8
                lockDurationAsIso8601: lockDurationAsIso8601
              defaultTtlAsIso8601: defaultTtlAsIso8601
              maxDeliveryCount: 60
        - resourcegroup: resourcegroup
          etag: etag
          sku:
            tier: Free
            name: F1
            capacity: 9
          subscriptionid: subscriptionid
          properties:
            hostName: hostName
            comments: comments
            ipFilterRules:
            - filterName: filterName
              ipMask: ipMask
              action: Accept
            - filterName: filterName
              ipMask: ipMask
              action: Accept
            eventHubEndpoints:
              key:
                partitionCount: 1
                path: path
                endpoint: endpoint
                retentionTimeInDays: 5
                partitionIds:
                - partitionIds
                - partitionIds
            operationsMonitoringProperties:
              events:
                key: None
            provisioningState: provisioningState
            messagingEndpoints:
              key:
                ttlAsIso8601: ttlAsIso8601
                maxDeliveryCount: 56
                lockDurationAsIso8601: lockDurationAsIso8601
            features: None
            routing:
              fallbackRoute:
                condition: condition
                isEnabled: true
                source: DeviceMessages
                endpointNames:
                - endpointNames
              routes:
              - condition: condition
                isEnabled: true
                name: name
                source: DeviceMessages
                endpointNames:
                - endpointNames
              - condition: condition
                isEnabled: true
                name: name
                source: DeviceMessages
                endpointNames:
                - endpointNames
              endpoints:
                eventHubs:
                - connectionString: connectionString
                  resourceGroup: resourceGroup
                  name: name
                  subscriptionId: subscriptionId
                - connectionString: connectionString
                  resourceGroup: resourceGroup
                  name: name
                  subscriptionId: subscriptionId
                serviceBusTopics:
                - connectionString: connectionString
                  resourceGroup: resourceGroup
                  name: name
                  subscriptionId: subscriptionId
                - connectionString: connectionString
                  resourceGroup: resourceGroup
                  name: name
                  subscriptionId: subscriptionId
                serviceBusQueues:
                - connectionString: connectionString
                  resourceGroup: resourceGroup
                  name: name
                  subscriptionId: subscriptionId
                - connectionString: connectionString
                  resourceGroup: resourceGroup
                  name: name
                  subscriptionId: subscriptionId
                storageContainers:
                - connectionString: connectionString
                  maxChunkSizeInBytes: 373302137
                  resourceGroup: resourceGroup
                  batchFrequencyInSeconds: 211
                  containerName: containerName
                  name: name
                  encoding: encoding
                  subscriptionId: subscriptionId
                  fileNameFormat: fileNameFormat
                - connectionString: connectionString
                  maxChunkSizeInBytes: 373302137
                  resourceGroup: resourceGroup
                  batchFrequencyInSeconds: 211
                  containerName: containerName
                  name: name
                  encoding: encoding
                  subscriptionId: subscriptionId
                  fileNameFormat: fileNameFormat
            storageEndpoints:
              key:
                connectionString: connectionString
                sasTtlAsIso8601: sasTtlAsIso8601
                containerName: containerName
            enableFileUploadNotifications: true
            authorizationPolicies:
            - secondaryKey: secondaryKey
              rights: RegistryRead
              keyName: keyName
              primaryKey: primaryKey
            - secondaryKey: secondaryKey
              rights: RegistryRead
              keyName: keyName
              primaryKey: primaryKey
            cloudToDevice:
              feedback:
                ttlAsIso8601: ttlAsIso8601
                maxDeliveryCount: 8
                lockDurationAsIso8601: lockDurationAsIso8601
              defaultTtlAsIso8601: defaultTtlAsIso8601
              maxDeliveryCount: 60
        nextLink: nextLink
      properties:
        nextLink:
          description: The next link.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: The array of IotHubDescription objects.
          items:
            $ref: '#/components/schemas/IotHubDescription'
          title: value
          type: array
      title: IotHubDescriptionListResult
      type: object
    IotHubNameAvailabilityInfo:
      description: The properties indicating whether a given IoT hub name is available.
      example:
        reason: Invalid
        nameAvailable: true
        message: message
      properties:
        message:
          description: The detailed reason message.
          title: message
          type: string
        nameAvailable:
          description: The value which indicates whether the provided name is available.
          readOnly: true
          title: nameAvailable
          type: boolean
        reason:
          description: The reason for unavailability.
          enum:
          - Invalid
          - AlreadyExists
          readOnly: true
          title: reason
          type: string
          x-ms-enum:
            modelAsString: false
            name: IotHubNameUnavailabilityReason
      title: IotHubNameAvailabilityInfo
      type: object
    IotHubProperties:
      description: The properties of an IoT hub.
      example:
        hostName: hostName
        comments: comments
        ipFilterRules:
        - filterName: filterName
          ipMask: ipMask
          action: Accept
        - filterName: filterName
          ipMask: ipMask
          action: Accept
        eventHubEndpoints:
          key:
            partitionCount: 1
            path: path
            endpoint: endpoint
            retentionTimeInDays: 5
            partitionIds:
            - partitionIds
            - partitionIds
        operationsMonitoringProperties:
          events:
            key: None
        provisioningState: provisioningState
        messagingEndpoints:
          key:
            ttlAsIso8601: ttlAsIso8601
            maxDeliveryCount: 56
            lockDurationAsIso8601: lockDurationAsIso8601
        features: None
        routing:
          fallbackRoute:
            condition: condition
            isEnabled: true
            source: DeviceMessages
            endpointNames:
            - endpointNames
          routes:
          - condition: condition
            isEnabled: true
            name: name
            source: DeviceMessages
            endpointNames:
            - endpointNames
          - condition: condition
            isEnabled: true
            name: name
            source: DeviceMessages
            endpointNames:
            - endpointNames
          endpoints:
            eventHubs:
            - connectionString: connectionString
              resourceGroup: resourceGroup
              name: name
              subscriptionId: subscriptionId
            - connectionString: connectionString
              resourceGroup: resourceGroup
              name: name
              subscriptionId: subscriptionId
            serviceBusTopics:
            - connectionString: connectionString
              resourceGroup: resourceGroup
              name: name
              subscriptionId: subscriptionId
            - connectionString: connectionString
              resourceGroup: resourceGroup
              name: name
              subscriptionId: subscriptionId
            serviceBusQueues:
            - connectionString: connectionString
              resourceGroup: resourceGroup
              name: name
              subscriptionId: subscriptionId
            - connectionString: connectionString
              resourceGroup: resourceGroup
              name: name
              subscriptionId: subscriptionId
            storageContainers:
            - connectionString: connectionString
              maxChunkSizeInBytes: 373302137
              resourceGroup: resourceGroup
              batchFrequencyInSeconds: 211
              containerName: containerName
              name: name
              encoding: encoding
              subscriptionId: subscriptionId
              fileNameFormat: fileNameFormat
            - connectionString: connectionString
              maxChunkSizeInBytes: 373302137
              resourceGroup: resourceGroup
              batchFrequencyInSeconds: 211
              containerName: containerName
              name: name
              encoding: encoding
              subscriptionId: subscriptionId
              fileNameFormat: fileNameFormat
        storageEndpoints:
          key:
            connectionString: connectionString
            sasTtlAsIso8601: sasTtlAsIso8601
            containerName: containerName
        enableFileUploadNotifications: true
        authorizationPolicies:
        - secondaryKey: secondaryKey
          rights: RegistryRead
          keyName: keyName
          primaryKey: primaryKey
        - secondaryKey: secondaryKey
          rights: RegistryRead
          keyName: keyName
          primaryKey: primaryKey
        cloudToDevice:
          feedback:
            ttlAsIso8601: ttlAsIso8601
            maxDeliveryCount: 8
            lockDurationAsIso8601: lockDurationAsIso8601
          defaultTtlAsIso8601: defaultTtlAsIso8601
          maxDeliveryCount: 60
      properties:
        authorizationPolicies:
          description: The shared access policies you can use to secure a connection
            to the IoT hub.
          items:
            $ref: '#/components/schemas/SharedAccessSignatureAuthorizationRule'
          title: authorizationPolicies
          type: array
        cloudToDevice:
          $ref: '#/components/schemas/CloudToDeviceProperties'
        comments:
          description: IoT hub comments.
          title: comments
          type: string
        enableFileUploadNotifications:
          description: "If True, file upload notifications are enabled."
          title: enableFileUploadNotifications
          type: boolean
        eventHubEndpoints:
          additionalProperties:
            $ref: '#/components/schemas/EventHubProperties'
          description: The Event Hub-compatible endpoint properties. The possible
            keys to this dictionary are events and operationsMonitoringEvents. Both
            of these keys have to be present in the dictionary while making create
            or update calls for the IoT hub.
          title: eventHubEndpoints
          type: object
        features:
          description: The capabilities and features enabled for the IoT hub.
          enum:
          - None
          - DeviceManagement
          title: features
          type: string
          x-ms-enum:
            modelAsString: true
            name: Capabilities
        hostName:
          description: The name of the host.
          readOnly: true
          title: hostName
          type: string
        ipFilterRules:
          description: The IP filter rules.
          items:
            $ref: '#/components/schemas/IpFilterRule'
          title: ipFilterRules
          type: array
        messagingEndpoints:
          additionalProperties:
            $ref: '#/components/schemas/MessagingEndpointProperties'
          description: The messaging endpoint properties for the file upload notification
            queue.
          title: messagingEndpoints
          type: object
        operationsMonitoringProperties:
          $ref: '#/components/schemas/OperationsMonitoringProperties'
        provisioningState:
          description: The provisioning state.
          readOnly: true
          title: provisioningState
          type: string
        routing:
          $ref: '#/components/schemas/RoutingProperties'
        storageEndpoints:
          additionalProperties:
            $ref: '#/components/schemas/StorageEndpointProperties'
          description: "The list of Azure Storage endpoints where you can upload files.\
            \ Currently you can configure only one Azure Storage account and that\
            \ MUST have its key as $default. Specifying more than one storage account\
            \ causes an error to be thrown. Not specifying a value for this property\
            \ when the enableFileUploadNotifications property is set to True, causes\
            \ an error to be thrown."
          title: storageEndpoints
          type: object
      title: IotHubProperties
      type: object
    IotHubQuotaMetricInfo:
      description: Quota metrics properties.
      example:
        CurrentValue: 0
        MaxValue: 6
        Name: Name
      properties:
        CurrentValue:
          description: The current value for the quota metric.
          format: int64
          readOnly: true
          title: CurrentValue
          type: integer
        MaxValue:
          description: The maximum value of the quota metric.
          format: int64
          readOnly: true
          title: MaxValue
          type: integer
        Name:
          description: The name of the quota metric.
          readOnly: true
          title: Name
          type: string
      title: IotHubQuotaMetricInfo
      type: object
    IotHubQuotaMetricInfoListResult:
      description: The JSON-serialized array of IotHubQuotaMetricInfo objects with
        a next link.
      example:
        value:
        - CurrentValue: 0
          MaxValue: 6
          Name: Name
        - CurrentValue: 0
          MaxValue: 6
          Name: Name
        nextLink: nextLink
      properties:
        nextLink:
          description: The next link.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: The array of quota metrics objects.
          items:
            $ref: '#/components/schemas/IotHubQuotaMetricInfo'
          title: value
          type: array
      title: IotHubQuotaMetricInfoListResult
      type: object
    IotHubSkuDescription:
      description: SKU properties.
      example:
        sku:
          tier: Free
          name: F1
          capacity: 9
        capacity:
          default: 0
          scaleType: Automatic
          maximum: 6
          minimum: 1
        resourceType: resourceType
      properties:
        capacity:
          $ref: '#/components/schemas/IotHubCapacity'
        resourceType:
          description: The type of the resource.
          readOnly: true
          title: resourceType
          type: string
        sku:
          $ref: '#/components/schemas/IotHubSkuInfo'
      required:
      - capacity
      - sku
      title: IotHubSkuDescription
      type: object
    IotHubSkuDescriptionListResult:
      description: The JSON-serialized array of IotHubSkuDescription objects with
        a next link.
      example:
        value:
        - sku:
            tier: Free
            name: F1
            capacity: 9
          capacity:
            default: 0
            scaleType: Automatic
            maximum: 6
            minimum: 1
          resourceType: resourceType
        - sku:
            tier: Free
            name: F1
            capacity: 9
          capacity:
            default: 0
            scaleType: Automatic
            maximum: 6
            minimum: 1
[...]
