openapi: 3.0.0
info:
  contact:
    email: api@xero.com
    name: Xero Platform Team
    url: https://developer.xero.com
    x-twitter: XeroAPI
  description: "The Assets API exposes fixed asset related functions of the Xero Accounting\
    \ application and can be used for a variety of purposes such as creating assets,\
    \ retrieving asset valuations etc."
  license:
    name: MIT
    url: https://github.com/XeroAPI/Xero-OpenAPI/blob/master/LICENSE
  termsOfService: https://developer.xero.com/xero-developer-platform-terms-conditions/
  title: Xero Assets API
  version: 2.9.4
  x-apisguru-categories:
  - financial
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/XeroAPI/Xero-OpenAPI/master/xero_assets.yaml
    version: "3.0"
  x-providerName: xero.com
  x-serviceName: xero_assets
servers:
- description: Xero API servers
  url: https://api.xero.com/assets.xro/1.0
paths:
  /AssetTypes:
    get:
      description: "By passing in the appropriate options, you can search for available\
        \ fixed asset types in the system"
      operationId: get_asset_types
      parameters:
      - description: Xero identifier for Tenant
        example: YOUR_XERO_TENANT_ID
        explode: false
        in: header
        name: xero-tenant-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example: "[ { \"assetTypeId\":\"710255c6-d2ed-4463-b992-06c8685add5e\"\
                , \"assetTypeName\":\"Computer Equipment\", \"fixedAssetAccountId\"\
                :\"37c35de7-8df0-44bf-8e7c-f1f67cf6a278\", \"depreciationExpenseAccountId\"\
                :\"0fbd1820-9dd0-454a-9515-6ec076a84cf7\", \"accumulatedDepreciationAccountId\"\
                :\"512eac06-6894-47cd-b421-673b4ca2693a\", \"bookDepreciationSetting\"\
                :{ \"depreciableObjectId\":\"710255c6-d2ed-4463-b992-06c8685add5e\"\
                , \"depreciableObjectType\":\"AssetType\", \"bookEffectiveDateOfChangeId\"\
                :\"39b9c2e9-62b1-4efc-ab75-fa9152ffaa5f\", \"depreciationMethod\"\
                :\"StraightLine\", \"averagingMethod\":\"FullMonth\", \"depreciationRate\"\
                :25.00, \"depreciationCalculationMethod\":\"None\" }, \"taxDepreciationSettings\"\
                :[ ], \"locks\":0, \"lockPrivateUseAccount\":false }, { \"assetTypeId\"\
                :\"1a398a67-9d9d-4783-8689-14a8efce89d9\", \"assetTypeName\":\"Machinery97704\"\
                , \"fixedAssetAccountId\":\"5c93f577-c48f-44cd-8593-01489e319c2b\"\
                , \"depreciationExpenseAccountId\":\"adc14376-c960-43f0-b7f3-4063e5098039\"\
                , \"accumulatedDepreciationAccountId\":\"9195cadd-8645-41e6-9f67-7bcd421defe8\"\
                , \"bookDepreciationSetting\":{ \"depreciableObjectId\":\"1a398a67-9d9d-4783-8689-14a8efce89d9\"\
                , \"depreciableObjectType\":\"AssetType\", \"bookEffectiveDateOfChangeId\"\
                :\"6d09a96d-7768-4f28-95e8-c9ac870fe36e\", \"depreciationMethod\"\
                :\"DiminishingValue100\", \"averagingMethod\":\"ActualDays\", \"depreciationRate\"\
                :40.00, \"depreciationCalculationMethod\":\"None\" }, \"taxDepreciationSettings\"\
                :[ ], \"locks\":0, \"lockPrivateUseAccount\":false } ]"
              schema:
                items:
                  $ref: '#/components/schemas/AssetType'
                type: array
          description: search results matching criteria
        "400":
          description: bad input parameter
      security:
      - OAuth2:
        - assets.read
      summary: searches fixed asset types
      tags:
      - Asset
      x-openapi-router-controller: openapi_server.controllers.asset_controller
    post:
      description: Adds an fixed asset type to the system
      operationId: create_asset_type
      parameters:
      - description: Xero identifier for Tenant
        example: YOUR_XERO_TENANT_ID
        explode: false
        in: header
        name: xero-tenant-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example: "{ \"assetTypeName\":\"Machinery11004\", \"fixedAssetAccountId\"\
              :\"3d8d063a-c148-4bb8-8b3c-a5e2ad3b1e82\", \"depreciationExpenseAccountId\"\
              :\"d1602f69-f900-4616-8d34-90af393fa368\", \"accumulatedDepreciationAccountId\"\
              :\"9195cadd-8645-41e6-9f67-7bcd421defe8\", \"bookDepreciationSetting\"\
              :{ \"depreciationMethod\":\"DiminishingValue100\", \"averagingMethod\"\
              :\"ActualDays\", \"depreciationRate\":0.05, \"depreciationCalculationMethod\"\
              :\"None\" } }"
            schema:
              $ref: '#/components/schemas/AssetType'
        description: Asset type to add
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              example: "{ \"assetTypeId\":\"85509b5d-308e-420d-9532-b85105058916\"\
                , \"assetTypeName\":\"Machinery11004\", \"fixedAssetAccountId\":\"\
                3d8d063a-c148-4bb8-8b3c-a5e2ad3b1e82\", \"depreciationExpenseAccountId\"\
                :\"d1602f69-f900-4616-8d34-90af393fa368\", \"accumulatedDepreciationAccountId\"\
                :\"9195cadd-8645-41e6-9f67-7bcd421defe8\", \"bookDepreciationSetting\"\
                :{ \"depreciableObjectId\":\"00000000-0000-0000-0000-000000000000\"\
                , \"depreciableObjectType\":\"None\", \"depreciationMethod\":\"DiminishingValue100\"\
                , \"averagingMethod\":\"ActualDays\", \"depreciationRate\":0.05, \"\
                depreciationCalculationMethod\":\"None\" }, \"locks\":0, \"lockPrivateUseAccount\"\
                :false }"
              schema:
                $ref: '#/components/schemas/AssetType'
          description: results single object -  created fixed type
        "400":
          content:
            application/json:
              example: "{ \"resourceValidationErrors\":[ ], \"fieldValidationErrors\"\
                :[ { \"fieldName\":\"FixedAssetAccountId\", \"valueProvided\":\"\"\
                , \"localisedMessage\":\"Fixed Asset Account Id is invalid\", \"type\"\
                :\"http://common.service.xero.com/errors/validation/field\", \"title\"\
                :\"Validation Error\", \"detail\":\"Fixed Asset Account Id is invalid\"\
                \ }, { \"fieldName\":\"DepreciationExpenseAccountId\", \"valueProvided\"\
                :\"\", \"localisedMessage\":\"Depreciation Expense Account Id is invalid\"\
                , \"type\":\"http://common.service.xero.com/errors/validation/field\"\
                , \"title\":\"Validation Error\", \"detail\":\"Depreciation Expense\
                \ Account Id is invalid\" } ], \"type\":\"http://common.service.xero.com/errors/validation\"\
                , \"title\":\"The resource update failed validation.\", \"detail\"\
                :\"Validation Errors\" }"
          description: "invalid input, object invalid"
        "409":
          description: a type already exists
      security:
      - OAuth2:
        - assets
      summary: adds a fixed asset type
      tags:
      - Asset
      x-hasAssetsValidationError: true
      x-openapi-router-controller: openapi_server.controllers.asset_controller
      x-codegen-request-body-name: body
  /Assets:
    get:
      description: "By passing in the appropriate options, you can search for available\
        \ fixed asset in the system"
      operationId: get_assets
      parameters:
      - description: Xero identifier for Tenant
        example: YOUR_XERO_TENANT_ID
        explode: false
        in: header
        name: xero-tenant-id
        required: true
        schema:
          type: string
        style: simple
      - description: Required when retrieving a collection of assets. See Asset Status
          Codes
        explode: true
        in: query
        name: status
        required: true
        schema:
          $ref: '#/components/schemas/AssetStatusQueryParam'
        style: form
      - description: Results are paged. This specifies which page of the results to
          return. The default page is 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: The number of records returned per page. By default the number
          of records returned is 10.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          example: 5
          type: integer
        style: form
      - description: "Requests can be ordered by AssetType, AssetName, AssetNumber,\
          \ PurchaseDate and PurchasePrice. If the asset status is DISPOSED it also\
          \ allows DisposalDate and DisposalPrice."
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          enum:
          - AssetType
          - AssetName
          - AssetNumber
          - PurchaseDate
          - PurchasePrice
          - DisposalDate
          - DisposalPrice
          example: AssetName
          type: string
        style: form
      - description: ASC or DESC
        explode: true
        in: query
        name: sortDirection
        required: false
        schema:
          enum:
          - asc
          - desc
          example: ASC
          type: string
        style: form
      - description: "A string that can be used to filter the list to only return\
          \ assets containing the text. Checks it against the AssetName, AssetNumber,\
          \ Description and AssetTypeName fields."
        explode: true
        in: query
        name: filterBy
        required: false
        schema:
          example: Company Car
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example: |-
                { "pagination":{ "page":1, "pageSize":10, "pageCount":2, "itemCount":11, "links":{ "first":{ "href":"http://asset.favorit.xero.com/v1/assets?status=DRAFT&page=1" }, "next":{ "href":"http://asset.favorit.xero.com/v1/assets?status=DRAFT&page=2" }, "last":{ "href":"http://asset.favorit.xero.com/v1/assets?status=DRAFT&page=2" } } }, "items":[ { "assetId":"68f17094-af97-4f1b-b36b-013b45b6ad3c", "assetName":"Computer47822", "assetNumber":"123478074", "purchaseDate":"2020-01-01T00:00:00", "purchasePrice":100.0000, "disposalPrice":0.0, "assetStatus":"Draft", "trackingItems":[ ], "bookDepreciationSetting":{ "depreciableObjectId":"68f17094-af97-4f1b-b36b-013b45b6ad3c", "depreciableObjectType":"Asset", "bookEffectiveDateOfChangeId":"5da77739-7f22-4109-b0a0-67480fb89af0", "depreciationMethod":"StraightLine", "averagingMethod":"ActualDays", "depreciationRate":0.50, "depreciationCalculationMethod":"None" }, "bookDepreciationDetail":{ "depreciationStartDate":"2020-01-02T00:00:00", "priorAccumDepreciationAmount":0.000000, "currentAccumDepreciationAmount":0.000000, "currentCapitalGain":0.000000, "currentGainLoss":0.000000 }, "taxDepreciationSettings":[ ], "taxDepreciationDetails":[ ], "canRollback":true, "accountingBookValue":100.000000, "taxValues":[ ], "isDeleteEnabledForDate":false }, { "assetId":"52ea3adf-f04a-4577-8fd2-43c52a256bd5", "assetName":"Computer4148", "assetNumber":"123466620", "purchaseDate":"2020-01-01T00:00:00", "purchasePrice":100.0000, "disposalPrice":0.0, "assetStatus":"Draft", "trackingItems":[
                ], "bookDepreciationSetting":{ "depreciableObjectId":"52ea3adf-f04a-4577-8fd2-43c52a256bd5", "depreciableObjectType":"Asset", "bookEffectiveDateOfChangeId":"c0d5280f-28b6-4329-b5b7-36e08c662010", "depreciationMethod":"StraightLine", "averagingMethod":"ActualDays", "depreciationRate":0.50, "depreciationCalculationMethod":"None" }, "bookDepreciationDetail":{ "depreciationStartDate":"2020-01-02T00:00:00", "priorAccumDepreciationAmount":0.000000, "currentAccumDepreciationAmount":0.000000, "currentCapitalGain":0.000000, "currentGainLoss":0.000000 }, "taxDepreciationSettings":[ ], "taxDepreciationDetails":[ ], "canRollback":true, "accountingBookValue":100.000000, "taxValues":[
                ], "isDeleteEnabledForDate":false } ] }
              schema:
                $ref: '#/components/schemas/Assets'
          description: search results matching criteria
        "400":
          description: bad input parameter
      security:
      - OAuth2:
        - assets.read
      summary: searches fixed asset
      tags:
      - Asset
      x-openapi-router-controller: openapi_server.controllers.asset_controller
    post:
      description: Adds an asset to the system
      operationId: create_asset
      parameters:
      - description: Xero identifier for Tenant
        example: YOUR_XERO_TENANT_ID
        explode: false
        in: header
        name: xero-tenant-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example: "{ \"assetName\":\"Computer74863\", \"assetNumber\":\"123477544\"\
              , \"purchaseDate\":\"2020-01-01\", \"purchasePrice\":100.0, \"disposalPrice\"\
              :23.23, \"assetStatus\":\"Draft\", \"bookDepreciationSetting\":{ \"\
              depreciationMethod\":\"StraightLine\", \"averagingMethod\":\"ActualDays\"\
              , \"depreciationRate\":0.5, \"depreciationCalculationMethod\":\"None\"\
              \ }, \"bookDepreciationDetail\":{ \"currentCapitalGain\":5.32, \"currentGainLoss\"\
              :3.88, \"depreciationStartDate\":\"2020-01-02\", \"costLimit\":100.0,\
              \ \"currentAccumDepreciationAmount\":2.25 }, \"AccountingBookValue\"\
              :99.5 }"
            schema:
              $ref: '#/components/schemas/Asset'
        description: Fixed asset you are creating
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              example: "{ \"assetId\":\"2257c64a-77ca-444c-a5ea-fa9a588c7039\", \"\
                assetName\":\"Computer74863\", \"assetNumber\":\"123477544\", \"purchaseDate\"\
                :\"2020-01-01T00:00:00\", \"purchasePrice\":100.0000, \"disposalPrice\"\
                :23.2300, \"assetStatus\":\"Draft\", \"trackingItems\":[], \"bookDepreciationSetting\"\
                :{ \"depreciableObjectId\":\"2257c64a-77ca-444c-a5ea-fa9a588c7039\"\
                , \"depreciableObjectType\":\"Asset\", \"bookEffectiveDateOfChangeId\"\
                :\"b58a2ace-1213-4681-9f11-2e30f57b5b8c\", \"depreciationMethod\"\
                :\"StraightLine\", \"averagingMethod\":\"ActualDays\", \"depreciationRate\"\
                :0.50, \"depreciationCalculationMethod\":\"None\" }, \"bookDepreciationDetail\"\
                :{ \"depreciationStartDate\":\"2020-01-02T00:00:00\", \"priorAccumDepreciationAmount\"\
                :0.000000, \"currentAccumDepreciationAmount\":0.000000, \"currentCapitalGain\"\
                :0.000000, \"currentGainLoss\":0.000000 }, \"taxDepreciationSettings\"\
                :[ ], \"taxDepreciationDetails\":[], \"canRollback\":true, \"accountingBookValue\"\
                :76.770000, \"taxValues\":[], \"isDeleteEnabledForDate\":true }"
              schema:
                $ref: '#/components/schemas/Asset'
          description: return single object - create new asset
        "400":
          content:
            application/json:
              example: "{ \"resourceValidationErrors\":[ ], \"fieldValidationErrors\"\
                :[ { \"fieldName\":\"BookDepreciationSetting.DepreciationRate\", \"\
                valueProvided\":\"\", \"localisedMessage\":\"Can't have both Depreciation\
                \ Rate and Effective Life\", \"type\":\"http://common.service.xero.com/errors/validation/field\"\
                , \"title\":\"Validation Error\", \"detail\":\"Can't have both Depreciation\
                \ Rate and Effective Life\" } ], \"type\":\"http://common.service.xero.com/errors/validation\"\
                , \"title\":\"The resource update failed validation.\", \"detail\"\
                :\"Validation Errors\" }"
          description: "invalid input, object invalid"
      security:
      - OAuth2:
        - assets
      summary: adds a fixed asset
      tags:
      - Asset
      x-hasAssetsValidationError: true
      x-openapi-router-controller: openapi_server.controllers.asset_controller
      x-codegen-request-body-name: body
  /Assets/{id}:
    get:
      description: |
        By passing in the appropriate asset id, you can search for
        a specific fixed asset in the system
      operationId: get_asset_by_id
      parameters:
      - description: Xero identifier for Tenant
        example: YOUR_XERO_TENANT_ID
        explode: false
        in: header
        name: xero-tenant-id
        required: true
        schema:
          type: string
        style: simple
      - description: fixed asset id for single object
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 4f7bcdcb-5ec1-4258-9558-19f662fccdfe
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example: |-
                { "assetId":"68f17094-af97-4f1b-b36b-013b45b6ad3c", "assetName":"Computer47822", "assetNumber":"123478074", "purchaseDate":"2020-01-01T00:00:00", "purchasePrice":100.0000, "disposalPrice":23.0000, "assetStatus":"Draft", "trackingItems":[
                ], "bookDepreciationSetting":{ "depreciableObjectId":"68f17094-af97-4f1b-b36b-013b45b6ad3c", "depreciableObjectType":"Asset", "bookEffectiveDateOfChangeId":"5da77739-7f22-4109-b0a0-67480fb89af0", "depreciationMethod":"StraightLine", "averagingMethod":"ActualDays", "depreciationRate":0.50, "depreciationCalculationMethod":"None" }, "bookDepreciationDetail":{ "depreciationStartDate":"2020-01-02T00:00:00", "priorAccumDepreciationAmount":0.000000, "currentAccumDepreciationAmount":0.000000, "currentCapitalGain":0.000000, "currentGainLoss":0.000000 }, "taxDepreciationSettings":[ ], "taxDepreciationDetails":[ ], "canRollback":true, "metaData":{ "bookDepreciationDetailsCanChange":true, "taxDepreciationDetailsCanChange":true }, "accountingBookValue":77.000000, "taxValues":[ ], "isDeleteEnabledForDate":true }
              schema:
                $ref: '#/components/schemas/Asset'
          description: search results matching criteria
        "400":
          description: bad input parameter
      security:
      - OAuth2:
        - assets.read
      summary: Retrieves fixed asset by id
      tags:
      - Asset
      x-openapi-router-controller: openapi_server.controllers.asset_controller
  /Settings:
    get:
      description: "By passing in the appropriate options, you can search for available\
        \ fixed asset types in the system"
      operationId: get_asset_settings
      parameters:
      - description: Xero identifier for Tenant
        example: YOUR_XERO_TENANT_ID
        explode: false
        in: header
        name: xero-tenant-id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example: "{ \"assetNumberPrefix\":\"FA-\", \"assetNumberSequence\":\"\
                0007\", \"assetStartDate\":\"2016-01-01T00:00:00\", \"optInForTax\"\
                :false }"
              schema:
                $ref: '#/components/schemas/Setting'
          description: search results matching criteria
        "400":
          description: bad input parameter
      security:
      - OAuth2:
        - assets.read
      summary: searches fixed asset settings
      tags:
      - Asset
      x-openapi-router-controller: openapi_server.controllers.asset_controller
components:
  parameters:
    requiredHeader:
      description: Xero identifier for Tenant
      example: YOUR_XERO_TENANT_ID
      explode: false
      in: header
      name: xero-tenant-id
      required: true
      schema:
        type: string
      style: simple
  schemas:
    Asset:
      example:
        purchaseDate: 2000-01-23
        serialNumber: ca4c6b39-4f4f-43e8-98da-5e1f350a6694
        assetTypeId: 3b5b3a38-5649-495f-87a1-14a4e5918634
        purchasePrice: 1000.0000
        isDeleteEnabledForDate: true
        assetNumber: FA-0013
        bookDepreciationSetting:
          depreciableObjectId: 68f17094-af97-4f1b-b36b-013b45b6ad3c
          averagingMethod: ActualDays
          effectiveLifeYears: 5
          depreciationMethod: StraightLine
          depreciableObjectType: Asset
          bookEffectiveDateOfChangeId: 68f17094-af97-4f1b-b36b-013b45b6ad3c
          depreciationCalculationMethod: None
          depreciationRate: 0.05
        warrantyExpiryDate: ca4c6b39-4f4f-43e8-98da-5e1f350a6694
        accountingBookValue: 0
        assetId: 3b5b3a38-5649-495f-87a1-14a4e5918634
        canRollback: true
        disposalDate: 2000-01-23
        assetName: Awesome Truck 3
        disposalPrice: 1.0000
        assetStatus: Draft
        bookDepreciationDetail:
          currentCapitalGain: 5.25
          costLimit: 9000
          depreciationStartDate: 2000-01-23
          priorAccumDepreciationAmount: 0.45
          currentAccumDepreciationAmount: 5
          currentGainLoss: 10.5
          residualValue: 10000
      properties:
        accountingBookValue:
          description: The accounting value of the asset
          example: 0
          format: double
          title: accountingBookValue
          type: number
          x-is-money: true
        assetId:
          description: The Xero-generated Id for the asset
          example: 3b5b3a38-5649-495f-87a1-14a4e5918634
          format: uuid
          title: assetId
          type: string
        assetName:
          description: The name of the asset
          example: Awesome Truck 3
          title: assetName
          type: string
        assetNumber:
          description: Must be unique.
          example: FA-0013
          title: assetNumber
          type: string
        assetStatus:
          $ref: '#/components/schemas/AssetStatus'
        assetTypeId:
          description: The Xero-generated Id for the asset type
          example: 3b5b3a38-5649-495f-87a1-14a4e5918634
          format: uuid
          title: assetTypeId
          type: string
        bookDepreciationDetail:
          $ref: '#/components/schemas/BookDepreciationDetail'
        bookDepreciationSetting:
          $ref: '#/components/schemas/BookDepreciationSetting'
        canRollback:
          description: Boolean to indicate whether depreciation can be rolled back
            for this asset individually. This is true if it doesn't have 'legacy'
            journal entries and if there is no lock period that would prevent this
            asset from rolling back.
          example: true
          title: canRollback
          type: boolean
        disposalDate:
          description: The date the asset was disposed
          format: date
          title: disposalDate
          type: string
        disposalPrice:
          description: The price the asset was disposed at
          example: 1.0000
          format: double
          title: disposalPrice
          type: number
          x-is-money: true
        isDeleteEnabledForDate:
          description: Boolean to indicate whether delete is enabled
          example: true
          title: isDeleteEnabledForDate
          type: boolean
        purchaseDate:
          description: The date the asset was purchased YYYY-MM-DD
          format: date
          title: purchaseDate
          type: string
        purchasePrice:
          description: The purchase price of the asset
          example: 1000.0000
          format: double
          title: purchasePrice
          type: number
          x-is-money: true
        serialNumber:
          description: The asset's serial number
          example: ca4c6b39-4f4f-43e8-98da-5e1f350a6694
          title: serialNumber
          type: string
        warrantyExpiryDate:
          description: The date the asset’s warranty expires (if needed) YYYY-MM-DD
          example: ca4c6b39-4f4f-43e8-98da-5e1f350a6694
          title: warrantyExpiryDate
          type: string
      required:
      - assetName
      title: Asset
      type: object
    AssetStatus:
      description: See Asset Status Codes.
      enum:
      - Draft
      - Registered
      - Disposed
      example: Draft
      title: AssetStatus
      type: string
    AssetStatusQueryParam:
      description: See Asset Status Codes.
      enum:
      - DRAFT
      - REGISTERED
      - DISPOSED
      example: DRAFT
      title: AssetStatusQueryParam
      type: string
    AssetType:
      example:
        assetTypeId: 5da209c5-5e19-4a43-b925-71b776c49ced
        bookDepreciationSetting:
          depreciableObjectId: 68f17094-af97-4f1b-b36b-013b45b6ad3c
          averagingMethod: ActualDays
          effectiveLifeYears: 5
          depreciationMethod: StraightLine
          depreciableObjectType: Asset
          bookEffectiveDateOfChangeId: 68f17094-af97-4f1b-b36b-013b45b6ad3c
          depreciationCalculationMethod: None
          depreciationRate: 0.05
        assetTypeName: Computer Equipment
        depreciationExpenseAccountId: b23fc79b-d66b-44b0-a240-e138e086fcbc
        accumulatedDepreciationAccountId: ca4c6b39-4f4f-43e8-98da-5e1f350a6694
        fixedAssetAccountId: 24e260f1-bfc4-4766-ad7f-8a8ce01de879
        locks: 33
      properties:
        accumulatedDepreciationAccountId:
          description: The account for accumulated depreciation of fixed assets of
            this type
          example: ca4c6b39-4f4f-43e8-98da-5e1f350a6694
          format: uuid
          title: accumulatedDepreciationAccountId
          type: string
        assetTypeId:
          description: Xero generated unique identifier for asset types
          example: 5da209c5-5e19-4a43-b925-71b776c49ced
          format: uuid
          title: assetTypeId
          type: string
        assetTypeName:
          description: The name of the asset type
          example: Computer Equipment
          title: assetTypeName
          type: string
        bookDepreciationSetting:
          $ref: '#/components/schemas/BookDepreciationSetting'
        depreciationExpenseAccountId:
          description: The expense account for the depreciation of fixed assets of
            this type
          example: b23fc79b-d66b-44b0-a240-e138e086fcbc
          format: uuid
          title: depreciationExpenseAccountId
          type: string
        fixedAssetAccountId:
          description: The asset account for fixed assets of this type
          example: 24e260f1-bfc4-4766-ad7f-8a8ce01de879
          format: uuid
          title: fixedAssetAccountId
          type: string
        locks:
          description: All asset types that have accumulated depreciation for any
            assets that use them are deemed ‘locked’ and cannot be removed.
          example: 33
          title: locks
          type: integer
      required:
      - assetTypeName
      - bookDepreciationSetting
      title: AssetType
      type: object
    Assets:
      example:
        pagination:
          pageCount: 1
          pageSize: 10
          page: 1
          itemCount: 2
        items:
        - purchaseDate: 2000-01-23
          serialNumber: ca4c6b39-4f4f-43e8-98da-5e1f350a6694
          assetTypeId: 3b5b3a38-5649-495f-87a1-14a4e5918634
          purchasePrice: 1000.0000
          isDeleteEnabledForDate: true
          assetNumber: FA-0013
          bookDepreciationSetting:
            depreciableObjectId: 68f17094-af97-4f1b-b36b-013b45b6ad3c
            averagingMethod: ActualDays
            effectiveLifeYears: 5
            depreciationMethod: StraightLine
            depreciableObjectType: Asset
            bookEffectiveDateOfChangeId: 68f17094-af97-4f1b-b36b-013b45b6ad3c
            depreciationCalculationMethod: None
            depreciationRate: 0.05
          warrantyExpiryDate: ca4c6b39-4f4f-43e8-98da-5e1f350a6694
          accountingBookValue: 0
          assetId: 3b5b3a38-5649-495f-87a1-14a4e5918634
          canRollback: true
          disposalDate: 2000-01-23
          assetName: Awesome Truck 3
          disposalPrice: 1.0000
          assetStatus: Draft
          bookDepreciationDetail:
            currentCapitalGain: 5.25
            costLimit: 9000
            depreciationStartDate: 2000-01-23
            priorAccumDepreciationAmount: 0.45
            currentAccumDepreciationAmount: 5
            currentGainLoss: 10.5
            residualValue: 10000
        - purchaseDate: 2000-01-23
          serialNumber: ca4c6b39-4f4f-43e8-98da-5e1f350a6694
          assetTypeId: 3b5b3a38-5649-495f-87a1-14a4e5918634
          purchasePrice: 1000.0000
          isDeleteEnabledForDate: true
          assetNumber: FA-0013
          bookDepreciationSetting:
            depreciableObjectId: 68f17094-af97-4f1b-b36b-013b45b6ad3c
            averagingMethod: ActualDays
            effectiveLifeYears: 5
            depreciationMethod: StraightLine
            depreciableObjectType: Asset
            bookEffectiveDateOfChangeId: 68f17094-af97-4f1b-b36b-013b45b6ad3c
            depreciationCalculationMethod: None
            depreciationRate: 0.05
          warrantyExpiryDate: ca4c6b39-4f4f-43e8-98da-5e1f350a6694
          accountingBookValue: 0
          assetId: 3b5b3a38-5649-495f-87a1-14a4e5918634
          canRollback: true
          disposalDate: 2000-01-23
          assetName: Awesome Truck 3
          disposalPrice: 1.0000
          assetStatus: Draft
          bookDepreciationDetail:
            currentCapitalGain: 5.25
            costLimit: 9000
            depreciationStartDate: 2000-01-23
            priorAccumDepreciationAmount: 0.45
            currentAccumDepreciationAmount: 5
            currentGainLoss: 10.5
            residualValue: 10000
      properties:
        items:
          items:
            $ref: '#/components/schemas/Asset'
          title: items
          type: array
        pagination:
          $ref: '#/components/schemas/Pagination'
      title: Assets
      type: object
    BookDepreciationDetail:
      example:
        currentCapitalGain: 5.25
        costLimit: 9000
        depreciationStartDate: 2000-01-23
        priorAccumDepreciationAmount: 0.45
        currentAccumDepreciationAmount: 5
        currentGainLoss: 10.5
        residualValue: 10000
      properties:
        costLimit:
          description: "The value of the asset you want to depreciate, if this is\
            \ less than the cost of the asset."
          example: 9000
          format: double
          title: costLimit
          type: number
          x-is-money: true
        currentAccumDepreciationAmount:
          description: All depreciation occurring in the current financial year.
          example: 5
          format: double
          title: currentAccumDepreciationAmount
          type: number
          x-is-money: true
        currentCapitalGain:
          description: "When an asset is disposed, this will be the sell price minus\
            \ the purchase price if a profit was made."
          example: 5.25
          format: double
          title: currentCapitalGain
          type: number
          x-is-money: true
        currentGainLoss:
          description: "When an asset is disposed, this will be the lowest one of\
            \ sell price or purchase price, minus the current book value."
          example: 10.5
          format: double
          title: currentGainLoss
          type: number
          x-is-money: true
        depreciationStartDate:
          description: YYYY-MM-DD
          format: date
          title: depreciationStartDate
          type: string
        priorAccumDepreciationAmount:
          description: All depreciation prior to the current financial year.
          example: 0.45
          format: double
          title: priorAccumDepreciationAmount
          type: number
          x-is-money: true
        residualValue:
          description: The value of the asset remaining when you've fully depreciated
            it.
          example: 10000
          format: double
          title: residualValue
          type: number
          x-is-money: true
      required:
      - name
      title: BookDepreciationDetail
    BookDepreciationSetting:
      example:
        depreciableObjectId: 68f17094-af97-4f1b-b36b-013b45b6ad3c
        averagingMethod: ActualDays
        effectiveLifeYears: 5
        depreciationMethod: StraightLine
        depreciableObjectType: Asset
        bookEffectiveDateOfChangeId: 68f17094-af97-4f1b-b36b-013b45b6ad3c
        depreciationCalculationMethod: None
        depreciationRate: 0.05
      properties:
        averagingMethod:
          description: The method of averaging applied to this asset. See Averaging
            Methods
          enum:
          - FullMonth
          - ActualDays
          example: ActualDays
          title: averagingMethod
          type: string
        bookEffectiveDateOfChangeId:
          description: Unique Xero identifier for the effective date change
          example: 68f17094-af97-4f1b-b36b-013b45b6ad3c
          format: uuid
          title: bookEffectiveDateOfChangeId
          type: string
        depreciableObjectId:
          description: Unique Xero identifier for the depreciable object
          example: 68f17094-af97-4f1b-b36b-013b45b6ad3c
          format: uuid
          title: depreciableObjectId
          type: string
        depreciableObjectType:
          description: The type of asset object
          example: Asset
          title: depreciableObjectType
          type: string
        depreciationCalculationMethod:
          description: See Depreciation Calculation Methods
          enum:
          - Rate
          - Life
          - None
          example: None
          title: depreciationCalculationMethod
          type: string
        depreciationMethod:
          description: The method of depreciation applied to this asset. See Depreciation
            Methods
          enum:
          - NoDepreciation
          - StraightLine
          - DiminishingValue100
          - DiminishingValue150
          - DiminishingValue200
          - FullDepreciation
          example: StraightLine
          title: depreciationMethod
          type: string
        depreciationRate:
          description: The rate of depreciation (e.g. 0.05)
          example: 0.05
          format: double
          title: depreciationRate
          type: number
          x-is-money: true
        effectiveLifeYears:
          description: Effective life of the asset in years (e.g. 5)
          example: 5
          title: effectiveLifeYears
          type: integer
      required:
      - name
      title: BookDepreciationSetting
    Error:
      externalDocs:
        url: https://developer.xero.com/documentation/api/http-response-codes
      properties:
        detail:
          description: Detail of the error
          type: string
        fieldValidationErrors:
          description: Array of elements of field validation errors
          items:
            $ref: '#/components/schemas/FieldValidationErrorsElement'
          type: array
        resourceValidationErrors:
          description: Array of elements of resource validation errors
          items:
            $ref: '#/components/schemas/ResourceValidationErrorsElement'
          type: array
        title:
          description: Title of the error
          type: string
        type:
          description: "The internal type of error, not accessible externally"
          type: string
      type: object
    FieldValidationErrorsElement:
      externalDocs:
        url: https://developer.xero.com/documentation/api/http-response-codes
      properties:
        detail:
          description: Detail of the field validation error
          title: detail
          type: string
        fieldName:
          description: The field name of the erroneous field
          title: fieldName
          type: string
        localisedMessage:
          description: Explanation of the field validation error
          title: localisedMessage
          type: string
        title:
          description: Title of the field validation error
          title: title
          type: string
        type:
          description: Internal type of the field validation error message
          title: type
          type: string
        valueProvided:
          description: The provided value
          title: valueProvided
          type: string
      title: FieldValidationErrorsElement
      type: object
    Pagination:
      example:
        pageCount: 1
        pageSize: 10
        page: 1
        itemCount: 2
      properties:
        itemCount:
          example: 2
          title: itemCount
          type: integer
        page:
          example: 1
          title: page
          type: integer
        pageCount:
          example: 1
          title: pageCount
          type: integer
        pageSize:
          example: 10
          title: pageSize
          type: integer
      title: Pagination
    ResourceValidationErrorsElement:
      externalDocs:
        url: https://developer.xero.com/documentation/api/http-response-codes
      properties:
        detail:
          description: Detail of the resource validation error
          title: detail
          type: string
        localisedMessage:
          description: Explanation of the resource validation error
          title: localisedMessage
          type: string
        resourceName:
          description: The field name of the erroneous field
          title: resourceName
          type: string
        title:
          description: Title of the resource validation error
          title: title
          type: string
        type:
          description: Internal type of the resource error message
          title: type
          type: string
      title: ResourceValidationErrorsElement
      type: object
    Setting:
      example:
        assetNumberPrefix: FA-
        assetStartDate: 2000-01-23
        assetNumberSequence: "0022"
        defaultGainOnDisposalAccountId: 346ddb97-739a-4274-b43b-66aa3218d17c
        lastDepreciationDate: 2000-01-23
        defaultCapitalGainOnDisposalAccountId: 6d6a0bdb-e118-45d8-a023-2ad617ec1cb7
        defaultLossOnDisposalAccountId: 1b798541-24e2-4855-9309-c023a0b576f3
        optInForTax: false
      properties:
        assetNumberPrefix:
          description: The prefix used for fixed asset numbers (“FA-” by default)
          example: FA-
          title: assetNumberPrefix
          type: string
        assetNumberSequence:
          description: The next available sequence number
          example: "0022"
          title: assetNumberSequence
          type: string
        assetStartDate:
          description: The date depreciation calculations started on registered fixed
            assets in Xero
          format: date
          title: assetStartDate
          type: string
        defaultCapitalGainOnDisposalAccountId:
          description: Default account that capital gains are posted to
          example: 6d6a0bdb-e118-45d8-a023-2ad617ec1cb7
          format: uuid
          title: defaultCapitalGainOnDisposalAccountId
          type: string
        defaultGainOnDisposalAccountId:
          description: Default account that gains are posted to
          example: 346ddb97-739a-4274-b43b-66aa3218d17c
          format: uuid
          title: defaultGainOnDisposalAccountId
          type: string
        defaultLossOnDisposalAccountId:
          description: Default account that losses are posted to
          example: 1b798541-24e2-4855-9309-c023a0b576f3
          format: uuid
          title: defaultLossOnDisposalAccountId
          type: string
        lastDepreciationDate:
          description: The last depreciation date
          format: date
          title: lastDepreciationDate
          type: string
        optInForTax:
          description: opt in for tax calculation
          example: false
          title: optInForTax
          type: boolean
      required:
      - name
      title: Setting
      type: object
  securitySchemes:
    OAuth2:
      description: For more information
      flows:
        authorizationCode:
          authorizationUrl: https://login.xero.com/identity/connect/authorize
          scopes:
            assets: Grant read-write access to fixed assets
            assets.read: Grant read-only access to fixed assets
            email: Grant read-only access to your email
            openid: Grant read-only access to your open id
            profile: your profile information
          tokenUrl: https://identity.xero.com/connect/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_OAuth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_OAuth2
