openapi: 3.0.1
info:
  description: "Azure Blueprints Client provides access to blueprint definitions,\
    \ assignments, and artifacts, and related blueprint operations."
  title: BlueprintClient
  version: 2018-11-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/assignmentOperation.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: blueprint-assignmentOperation
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /{scope}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}/assignmentOperations:
    get:
      description: List operations for given blueprint assignment within a subscription.
      operationId: AssignmentOperations_List
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint assignment.
        in: path
        name: assignmentName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentOperationList'
          description: OK -- all blueprint assignment operations retrieved.
      tags:
      - AssignmentOperations
      x-ms-examples:
        Assignment:
          parameters:
            api-version: 2018-11-01-preview
            assignmentName: assignSimpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.blueprint/blueprintAssignments/assignSimpleBlueprint/assignmentOperations/fb5d4dcb-7ce2-4087-ba7a-459aa74e5e0f
                  name: fb5d4dcb-7ce2-4087-ba7a-459aa74e5e0f
                  properties:
                    assignmentState: succeed
                    blueprintVersion: v20181101
                    deployments:
                    - action: put
                      history:
                      - error:
                          code: dummy
                          message: dummy
                      jobState: succeeded
                      kind: azureResource
                      requestUri: /subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.deployments/deployments/48432786-2f1b-4925-8032-a5d57bcb5b6e
                      result:
                        resources:
                        - id: blabla
                          name: foobar
                          type: foo/bar
                    timeCreated: 2018-11-13T15:19:45-08:00
                    timeFinished: 2018-11-13T15:26:02-08:00
                    timeStarted: 2018-11-13T15:21:49-08:00
                  type: microsoft.blueprint/blueprintAssignments/operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}/assignmentOperations/{assignmentOperationName}:
    get:
      description: Get a blueprint assignment operation.
      operationId: AssignmentOperations_Get
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint assignment.
        in: path
        name: assignmentName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the blueprint assignment operation.
        in: path
        name: assignmentOperationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentOperation'
          description: OK -- blueprint assignment operation retrieved.
      tags:
      - AssignmentOperations
      x-ms-examples:
        Assignment:
          parameters:
            api-version: 2018-11-01-preview
            assignmentName: assignSimpleBlueprint
            assignmentOperationName: fb5d4dcb-7ce2-4087-ba7a-459aa74e5e0f
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.blueprint/blueprintAssignments/assignSimpleBlueprint/assignmentOperations/fb5d4dcb-7ce2-4087-ba7a-459aa74e5e0f
                name: fb5d4dcb-7ce2-4087-ba7a-459aa74e5e0f
                properties:
                  assignmentState: succeed
                  blueprintVersion: v20181101
                  deployments:
                  - action: put
                    history:
                    - error:
                        code: dummy
                        message: dummy
                    jobState: succeeded
                    kind: azureResource
                    requestUri: /subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.deployments/deployments/48432786-2f1b-4925-8032-a5d57bcb5b6e
                    result:
                      resources:
                      - id: blabla
                        name: foobar
                        type: foo/bar
                  timeCreated: 2018-11-13T15:19:45-08:00
                  timeFinished: 2018-11-13T15:26:02-08:00
                  timeStarted: 2018-11-13T15:21:49-08:00
                type: microsoft.blueprint/blueprintAssignments/operations
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    AssignmentNameParameter:
      description: Name of the blueprint assignment.
      in: path
      name: assignmentName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    AssignmentOperationNameParameter:
      description: Name of the blueprint assignment operation.
      in: path
      name: assignmentOperationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ScopeParameter:
      description: "The scope of the resource. Valid scopes are: management group\
        \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
        \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
        \ assignments management group scope is reserved for future use."
      in: path
      name: scope
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
  schemas:
    AssignmentDeploymentJob:
      description: Represents individual job in given blueprint assignment operation.
      example:
        result:
          resources:
          - properties:
              key: properties
          - properties:
              key: properties
          error:
            code: code
            message: message
        jobId: jobId
        kind: kind
        jobState: jobState
        action: action
        history:
        - resources:
          - properties:
              key: properties
          - properties:
              key: properties
          error:
            code: code
            message: message
        - resources:
          - properties:
              key: properties
          - properties:
              key: properties
          error:
            code: code
            message: message
        requestUri: requestUri
      properties:
        action:
          description: Name of the action performed in this job.
          type: string
        history:
          description: Result of this deployment job for each retry.
          items:
            $ref: '#/components/schemas/AssignmentDeploymentJobResult'
          type: array
        jobId:
          description: Id of this job.
          type: string
        jobState:
          description: State of this job.
          type: string
        kind:
          description: Kind of job.
          type: string
        requestUri:
          description: Reference to deployment job resource id.
          type: string
        result:
          $ref: '#/components/schemas/AssignmentDeploymentJobResult'
      type: object
    AssignmentDeploymentJobResult:
      description: Result of each individual deployment in a blueprint assignment.
      example:
        resources:
        - properties:
            key: properties
        - properties:
            key: properties
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/AzureResourceManagerError'
        resources:
          description: Resources created as result of the deployment job.
          items:
            $ref: '#/components/schemas/AssignmentJobCreatedResource'
          type: array
      type: object
    AssignmentJobCreatedResource:
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
      description: Azure resource created from deployment job.
      example:
        properties:
          key: properties
      properties:
        properties:
          additionalProperties:
            description: property value
            type: string
          description: Additional properties in a dictionary.
          type: object
    AssignmentOperation:
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
      description: Represents underlying deployment detail for each update to the
        blueprint assignment.
      example:
        properties:
          deployments:
          - result:
              resources:
              - properties:
                  key: properties
              - properties:
                  key: properties
              error:
                code: code
                message: message
            jobId: jobId
            kind: kind
            jobState: jobState
            action: action
            history:
            - resources:
              - properties:
                  key: properties
              - properties:
                  key: properties
              error:
                code: code
                message: message
            - resources:
              - properties:
                  key: properties
              - properties:
                  key: properties
              error:
                code: code
                message: message
            requestUri: requestUri
          - result:
              resources:
              - properties:
                  key: properties
              - properties:
                  key: properties
              error:
                code: code
                message: message
            jobId: jobId
            kind: kind
            jobState: jobState
            action: action
            history:
            - resources:
              - properties:
                  key: properties
              - properties:
                  key: properties
              error:
                code: code
                message: message
            - resources:
              - properties:
                  key: properties
              - properties:
                  key: properties
              error:
                code: code
                message: message
            requestUri: requestUri
          assignmentState: assignmentState
          blueprintVersion: blueprintVersion
          timeCreated: timeCreated
          timeStarted: timeStarted
          timeFinished: timeFinished
      properties:
        properties:
          $ref: '#/components/schemas/AssignmentOperationProperties'
    AssignmentOperationList:
      description: List of AssignmentOperation.
      example:
        value:
        - properties:
            deployments:
            - result:
                resources:
                - properties:
                    key: properties
                - properties:
                    key: properties
                error:
                  code: code
                  message: message
              jobId: jobId
              kind: kind
              jobState: jobState
              action: action
              history:
              - resources:
                - properties:
                    key: properties
                - properties:
                    key: properties
                error:
                  code: code
                  message: message
              - resources:
                - properties:
                    key: properties
                - properties:
                    key: properties
                error:
                  code: code
                  message: message
              requestUri: requestUri
            - result:
                resources:
                - properties:
                    key: properties
                - properties:
                    key: properties
                error:
                  code: code
                  message: message
              jobId: jobId
              kind: kind
              jobState: jobState
              action: action
              history:
              - resources:
                - properties:
                    key: properties
                - properties:
                    key: properties
                error:
                  code: code
                  message: message
              - resources:
                - properties:
                    key: properties
                - properties:
                    key: properties
                error:
                  code: code
                  message: message
              requestUri: requestUri
            assignmentState: assignmentState
            blueprintVersion: blueprintVersion
            timeCreated: timeCreated
            timeStarted: timeStarted
            timeFinished: timeFinished
        - properties:
            deployments:
            - result:
                resources:
                - properties:
                    key: properties
                - properties:
                    key: properties
                error:
                  code: code
                  message: message
              jobId: jobId
              kind: kind
              jobState: jobState
              action: action
              history:
              - resources:
                - properties:
                    key: properties
                - properties:
                    key: properties
                error:
                  code: code
                  message: message
              - resources:
                - properties:
                    key: properties
                - properties:
                    key: properties
                error:
                  code: code
                  message: message
              requestUri: requestUri
            - result:
                resources:
                - properties:
                    key: properties
                - properties:
                    key: properties
                error:
                  code: code
                  message: message
              jobId: jobId
              kind: kind
              jobState: jobState
              action: action
              history:
              - resources:
                - properties:
                    key: properties
                - properties:
                    key: properties
                error:
                  code: code
                  message: message
              - resources:
                - properties:
                    key: properties
                - properties:
                    key: properties
                error:
                  code: code
                  message: message
              requestUri: requestUri
            assignmentState: assignmentState
            blueprintVersion: blueprintVersion
            timeCreated: timeCreated
            timeStarted: timeStarted
            timeFinished: timeFinished
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to the next page of results.
          readOnly: true
          type: string
        value:
          description: List of AssignmentOperation.
          items:
            $ref: '#/components/schemas/AssignmentOperation'
          type: array
      type: object
    AssignmentOperationProperties:
      description: Properties of AssignmentOperation.
      example:
        deployments:
        - result:
            resources:
            - properties:
                key: properties
            - properties:
                key: properties
            error:
              code: code
              message: message
          jobId: jobId
          kind: kind
          jobState: jobState
          action: action
          history:
          - resources:
            - properties:
                key: properties
            - properties:
                key: properties
            error:
              code: code
              message: message
          - resources:
            - properties:
                key: properties
            - properties:
                key: properties
            error:
              code: code
              message: message
          requestUri: requestUri
        - result:
            resources:
            - properties:
                key: properties
            - properties:
                key: properties
            error:
              code: code
              message: message
          jobId: jobId
          kind: kind
          jobState: jobState
          action: action
          history:
          - resources:
            - properties:
                key: properties
            - properties:
                key: properties
            error:
              code: code
              message: message
          - resources:
            - properties:
                key: properties
            - properties:
                key: properties
            error:
              code: code
              message: message
          requestUri: requestUri
        assignmentState: assignmentState
        blueprintVersion: blueprintVersion
        timeCreated: timeCreated
        timeStarted: timeStarted
        timeFinished: timeFinished
      properties:
        assignmentState:
          description: State of this blueprint assignment operation.
          type: string
        blueprintVersion:
          description: The published version of the blueprint definition used for
            the blueprint assignment operation.
          type: string
        deployments:
          description: List of jobs in this blueprint assignment operation.
          items:
            $ref: '#/components/schemas/AssignmentDeploymentJob'
          type: array
        timeCreated:
          description: Create time of this blueprint assignment operation.
          type: string
        timeFinished:
          description: Finish time of the overall underlying deployments.
          type: string
        timeStarted:
          description: Start time of the underlying deployment.
          type: string
      type: object
    AzureResourceBase:
      description: Common properties for all Azure resources.
      properties:
        id:
          description: String Id used to locate any resource on Azure.
          readOnly: true
          type: string
        name:
          description: Name of this resource.
          readOnly: true
          type: string
        type:
          description: Type of this resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    AzureResourceManagerError:
      description: Error code and message
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          type: string
        message:
          description: Error message.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

