openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: "MLB scores, stats, and news API."
  title: MLB v3 Stats
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/mlb-v3-stats.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: mlb-v3-stats
servers:
- url: http://azure-api.sportsdata.io/v3/mlb/stats
- url: https://azure-api.sportsdata.io/v3/mlb/stats
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/AllTeams:
    get:
      operationId: teams_all
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (All)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: are_games_in_progress
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScore/{gameid}:
    get:
      operationId: box_score
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: The GameID of an MLB game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14620</code> or <code>16905</code>
        explode: false
        in: path
        name: gameid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScore'
          description: ""
      summary: Box Score
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScores/{date}:
    get:
      operationId: box_scores_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Box Scores by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/BoxScoresDelta/{date}/{minutes}:
    get:
      operationId: box_scores_by_date_delta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back. Valid entries are:
          <code>1</code>, <code>2</code> ... <code>all</code>.
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Box Scores by Date Delta
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/CurrentSeason:
    get:
      operationId: current_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
          description: ""
      summary: Current Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/DfsSlatesByDate/{date}:
    get:
      operationId: dfs_slates_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the slates.
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: DFS Slates by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/FreeAgents:
    get:
      operationId: player_details_by_free_agents
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Free Agents
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Games/{season}:
    get:
      operationId: schedules
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Schedules
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/GamesByDate/{date}:
    get:
      operationId: games_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Games by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/HitterVsPitcher/{hitterid}/{pitcherid}:
    get:
      operationId: batter_vs_pitcher_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>10000031</code>.
        explode: false
        in: path
        name: hitterid
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>10000618</code>.
        explode: false
        in: path
        name: pitcherid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Batter vs. Pitcher Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/News:
    get:
      operationId: news
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/NewsByDate/{date}:
    get:
      operationId: news_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the news.
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: news_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>10000507</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Player/{playerid}:
    get:
      operationId: player_details_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>10000507</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
          description: ""
      summary: Player Details by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsByDate/{date}:
    get:
      operationId: player_game_stats_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Stats by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsByPlayer/{date}/{playerid}:
    get:
      operationId: player_game_stats_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>10000507</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerGame'
          description: ""
      summary: Player Game Stats by Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameStatsBySeason/{season}/{playerid}/{numberofgames}:
    get:
      operationId: player_game_logs_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - JSON
          - XML
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>10001365</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Logs By Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonAwayStats/{season}:
    get:
      operationId: player_season_away_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2017</code>, <code>2018</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Away Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonHomeStats/{season}:
    get:
      operationId: player_season_home_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2017</code>, <code>2018</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Home Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonSplitStats/{season}/{split}:
    get:
      operationId: player_season_split_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2017</code>, <code>2018</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "The desired split of stats. Currently, we support vs. Left/Right/Switch\
          \ handed pitchers/hitters. Possible values are: <code>L</code>, <code>R</code>\
          \ and <code>S</code>"
        explode: false
        in: path
        name: split
        required: true
        schema:
          default: L
          enum:
          - L
          - R
          - S
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Split Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonStats/{season}:
    get:
      operationId: player_season_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2017</code>, <code>2018</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonStatsByPlayer/{season}/{playerid}:
    get:
      operationId: player_season_stats_by_player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2017</code>, <code>2018</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>10000507</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerSeason'
          description: ""
      summary: Player Season Stats By Player
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonStatsByTeam/{season}/{team}:
    get:
      operationId: player_season_stats_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |
          Year of the season.
          <br>Examples: <code>2017</code>, <code>2018</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The abbreviation of the requested team.
          <br>Examples: <code>SF</code>, <code>NYY</code>.
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerSeasonStatsSplitByTeam/{season}:
    get:
      operationId: player_season_stats_split_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2017</code>, <code>2018</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats Split By Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players:
    get:
      operationId: player_details_by_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Active
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Players/{team}:
    get:
      operationId: players_by_team
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The abbreviation of the requested team.
          <br>Examples: <code>SF</code>, <code>NYY</code>.
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players by Team
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Stadiums:
    get:
      operationId: stadiums
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Stadium'
                type: array
          description: ""
      summary: Stadiums
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/Standings/{season}:
    get:
      operationId: standings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2017</code>, <code>2018</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Standing'
                type: array
          description: ""
      summary: Standings
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamGameStatsByDate/{date}:
    get:
      operationId: team_game_stats_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Stats by Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      description: Game by game log of total team statistics.
      operationId: team_game_logs_by_season
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - JSON
          - XML
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique ID of team.  Example <code> 12 </code>
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Logs By Season
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamHittersVsPitcher/{gameid}/{team}:
    get:
      operationId: team_hitting_vs_starting_pitcher
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: The GameID of an MLB game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14620</code> or <code>16905</code>
        explode: false
        in: path
        name: gameid
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The abbreviation of the requested team.
          <br>Examples: <code>SF</code>, <code>NYY</code>.
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Team Hitting vs. Starting Pitcher
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: team_season_stats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2017</code>, <code>2018</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Season Stats
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/teams:
    get:
      operationId: teams_active
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (Active)
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    BoxScore:
      example:
        Innings:
        - InningID: 7
          AwayTeamRuns: 3
          InningNumber: 6
          HomeTeamRuns: 0
          GameID: 7
        - InningID: 7
          AwayTeamRuns: 3
          InningNumber: 6
          HomeTeamRuns: 0
          GameID: 7
        Game:
          InningDescription: InningDescription
          Innings:
          - InningID: 7
            AwayTeamRuns: 3
            InningNumber: 6
            HomeTeamRuns: 0
            GameID: 7
          - InningID: 7
            AwayTeamRuns: 3
            InningNumber: 6
            HomeTeamRuns: 0
            GameID: 7
          AwayTeam: AwayTeam
          ForecastDescription: ForecastDescription
          HomeTeamMoneyLine: 6
          AwayTeamRuns: 9
          HomeTeamID: 2
          ForecastTempHigh: 1
          RunnerOnThird: true
          DateTime: DateTime
          CurrentHittingTeamID: 7
          CurrentHitter: CurrentHitter
          CurrentHitterID: 4
          HomeTeamHits: 1
          AwayTeamErrors: 1
          AwayTeamHits: 5
          ForecastWindSpeed: 9
          GameID: 6
          OverPayout: 8
          AwayTeamStartingPitcherID: 3
          Outs: 4
          Status: Status
          ForecastWindDirection: 9
          LosingPitcher: LosingPitcher
          HomeTeam: HomeTeam
          Updated: Updated
          Channel: Channel
          Inning: 3
          DueUpHitterID2: 6
          DueUpHitterID3: 7
          HomeTeamRuns: 5
          RunnerOnFirst: true
          CurrentPitcher: CurrentPitcher
          DueUpHitterID1: 1
          HomeTeamStartingPitcherID: 6
          NeutralVenue: true
          StadiumID: 9
          SeriesInfo:
            GameNumber: 1
            MaxLength: 7
            AwayTeamWins: 4
            HomeTeamWins: 4
          AwayRotationNumber: 6
          PointSpreadAwayTeamMoneyLine: 3
          GlobalAwayTeamID: 8
          DateTimeUTC: DateTimeUTC
          RescheduledFromGameID: 5
          AwayTeamMoneyLine: 2
          HomeTeamErrors: 6
          RescheduledGameID: 3
          AwayTeamProbablePitcherID: 7
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 3
          InningHalf: InningHalf
          HomeTeamProbablePitcherID: 6
          AwayTeamID: 5
          IsClosed: true
          LastPlay: LastPlay
          ForecastWindChill: 5
          UnderPayout: 9
          GlobalHomeTeamID: 6
          WinningPitcher: WinningPitcher
          HomeTeamStartingPitcher: HomeTeamStartingPitcher
          Season: 0
          GlobalGameID: 9
          Attendance: 0
          RunnerOnSecond: true
          SavingPitcherID: 4
          OverUnder: 7.740351818741173
          Strikes: 0
          CurrentPitcherID: 1
          SeasonType: 6
          PointSpread: 3.0205796992916243
          SavingPitcher: SavingPitcher
          LosingPitcherID: 0
          ForecastTempLow: 4
          WinningPitcherID: 0
          AwayTeamStartingPitcher: AwayTeamStartingPitcher
          Balls: 2
          PointSpreadHomeTeamMoneyLine: 7
          CurrentPitchingTeamID: 1
          Day: Day
        PlayerGames:
        - IntentionalWalks: 7.203794749804894
          PitchingQualityStarts: 2.9679475177256287
          PitchingTriples: 6.918231485891953
          PlayerID: 1
          InjuryStartDate: InjuryStartDate
          PitchingHomeRuns: 2.9805393113464476
          HitByPitch: 2.380090174313445
          PitchingBlownSaves: 5.974942028545841
          DateTime: DateTime
          SubstituteBattingOrder: 2
          IsolatedPower: 4.332304821875894
          PitchingCompleteGames: 1.0639121808530916
          PitchingOnBasePlusSlugging: 8.910869026866926
          CaughtStealing: 4.459605034958679
          PopOuts: 6.176386745020588
          PitchingGroundOuts: 1.7045651386993
          Singles: 3.0269458094096646
          PitchingShutOuts: 4.943637496515336
          EarnedRunAverage: 1.7325933120207193
          Wins: 6.642953999458534
          GameID: 7
          Outs: 1.3949519358941398
          GroundOuts: 3.1497903714250555
          Position: Position
          PitchingInningStarted: 9
          PitchingHolds: 8.262795412896967
          FantasyDraftSalary: 8
          OnBasePercentage: 2.535258963197524
          PitchingCatchersInterference: 3.8008573585058016
          PitchingWeightedOnBasePercentage: 0.36062689002149373
          PitchingDoublePlays: 3.2841216543560217
          OpponentID: 4
          Losses: 0.58919091925136
          FantasyPointsDraftKings: 3.502657762086401
          HomeRuns: 8.675064425986758
          PitchingStrikeoutsPerNineInnings: 9.721723570087065
          PitchingSluggingPercentage: 0.4867146239815201
          WeightedOnBasePercentage: 6.370609851066415
          Hits: 3.804112695731078
          Started: 7
          IsGameOver: true
          PitchesThrownStrikes: 5.6644160867523485
          PitchingGroundIntoDoublePlay: 9.402167524121316
          TeamID: 3
          Runs: 4.1661834558007
          FantasyDataSalary: 4
          PitchingPlateAppearances: 6.4280627569296165
          PitchingRuns: 0.7012260588964747
          PlateAppearances: 7.390706075830692
          Strikeouts: 0.4008378390304357
          PitchingHits: 3.209082285545927
          BattingAverageOnBallsInPlay: 6.073898085781152
          Team: Team
          PitchingLineOuts: 8.276461147928103
          Season: 1
          Walks: 7.464202015255506
          PitchingBattingAverageOnBallsInPlay: 5.7911894223693885
          FanDuelSalary: 6
          PitchingGrandSlams: 7.92839742024475
          PitchesSeen: 1.2555055362323109
          TotalOutsPitched: 9.721046668148785
          PitchingFlyOuts: 7.726998920545485
          DoublePlays: 3.901545264248647
          InjuryBodyPart: InjuryBodyPart
          WalksHitsPerInningsPitched: 7.129168897240568
          HomeOrAway: HomeOrAway
          InningsPitchedDecimal: 4.518309517874243
          PitchingDoubles: 9.785002165136461
          PitchingBallsInPlay: 1.5970080735609526
          Day: Day
          PitchingSacrifices: 6.749525837406151
          LeftOnBase: 2.7977867356748476
          FanDuelPosition: FanDuelPosition
          PitchingBattingAverageAgainst: 4.372688051310086
          SacrificeFlies: 3.196820582978078
          GlobalTeamID: 5
          InjuryStatus: InjuryStatus
          DraftKingsSalary: 2
          Name: Name
          PitchingWalks: 0.11859130807119977
          BattingAverage: 4.86315908102884
          Doubles: 0.43431398824148815
          PitchingEarnedRuns: 7.3718573971919445
          OnBasePlusSlugging: 6.173804034172511
          BallsInPlay: 5.507386964179881
          PitchingIntentionalWalks: 4.010300976654761
          PitchesThrown: 3.812761638325517
          AtBats: 7.933506881737151
          SubstituteBattingOrderSequence: 4
          InningsPitchedOuts: 0.35262192099236644
          FantasyPointsBatting: 1.8268702177058116
          OpponentPositionRank: 6
          Updated: Updated
          Triples: 2.922265432447957
          BattingOrderConfirmed: true
          LineOuts: 9.386524999783381
          PitchingReachedOnError: 5.747795090145878
          FantasyPointsFanDuel: 9.183123594773994
          RunsBattedIn: 2.026856458177285
          PitchingOnBasePercentage: 4.141296055235948
          Errors: 8.28965939814297
          PitchingPerfectGames: 2.058822123984536
          Games: 3
          SluggingPercentage: 8.250639315618633
          PitchingSingles: 0.30134145536422907
          StatID: 2
          PitchingStrikeouts: 9.456612101333725
          GrandSlams: 7.835035282970782
          Saves: 3.8156682252305574
          StolenBases: 8.782449469456207
          FantasyPointsYahoo: 5.299143560275359
          FieldingIndependentPitching: 5.312489704336296
          OpponentRank: 9
          PitchingTotalBases: 7.88722683998926
          YahooSalary: 9
          Sacrifices: 5.296102445648278
          InningsPitchedFull: 0.4833312865174044
          DraftKingsPosition: DraftKingsPosition
          FantasyPointsFantasyDraft: 8.761432466225475
          FlyOuts: 8.37823741034869
          GlobalOpponentID: 9
          Opponent: Opponent
          GroundIntoDoublePlay: 0.4768402382624515
          TotalBases: 5.726375546151009
          ReachedOnError: 2.0981949483881577
          GlobalGameID: 3
          YahooPosition: YahooPosition
          FantasyDraftPosition: FantasyDraftPosition
          FantasyPoints: 9.254183946267839
          PitchingNoHitters: 6.458262756685686
          PositionCategory: PositionCategory
          PitchingSacrificeFlies: 7.3842318535314
          PitchingHitByPitch: 4.4935252719377825
          InjuryNotes: InjuryNotes
          BattingOrder: 8
          SeasonType: 5
          PitchingPopOuts: 0.8411762798681321
          PitchingWalksPerNineInnings: 4.637509675190766
          FantasyPointsPitching: 0.4182561061793122
        - IntentionalWalks: 7.203794749804894
          PitchingQualityStarts: 2.9679475177256287
          PitchingTriples: 6.918231485891953
          PlayerID: 1
          InjuryStartDate: InjuryStartDate
          PitchingHomeRuns: 2.9805393113464476
          HitByPitch: 2.380090174313445
          PitchingBlownSaves: 5.974942028545841
          DateTime: DateTime
          SubstituteBattingOrder: 2
          IsolatedPower: 4.332304821875894
          PitchingCompleteGames: 1.0639121808530916
          PitchingOnBasePlusSlugging: 8.910869026866926
          CaughtStealing: 4.459605034958679
          PopOuts: 6.176386745020588
          PitchingGroundOuts: 1.7045651386993
          Singles: 3.0269458094096646
          PitchingShutOuts: 4.943637496515336
          EarnedRunAverage: 1.7325933120207193
          Wins: 6.642953999458534
          GameID: 7
          Outs: 1.3949519358941398
          GroundOuts: 3.1497903714250555
          Position: Position
          PitchingInningStarted: 9
          PitchingHolds: 8.262795412896967
          FantasyDraftSalary: 8
          OnBasePercentage: 2.535258963197524
          PitchingCatchersInterference: 3.8008573585058016
          PitchingWeightedOnBasePercentage: 0.36062689002149373
          PitchingDoublePlays: 3.2841216543560217
          OpponentID: 4
          Losses: 0.58919091925136
          FantasyPointsDraftKings: 3.502657762086401
          HomeRuns: 8.675064425986758
          PitchingStrikeoutsPerNineInnings: 9.721723570087065
          PitchingSluggingPercentage: 0.4867146239815201
          WeightedOnBasePercentage: 6.370609851066415
          Hits: 3.804112695731078
          Started: 7
          IsGameOver: true
          PitchesThrownStrikes: 5.6644160867523485
          PitchingGroundIntoDoublePlay: 9.402167524121316
          TeamID: 3
          Runs: 4.1661834558007
          FantasyDataSalary: 4
          PitchingPlateAppearances: 6.4280627569296165
          PitchingRuns: 0.7012260588964747
          PlateAppearances: 7.390706075830692
          Strikeouts: 0.4008378390304357
          PitchingHits: 3.209082285545927
          BattingAverageOnBallsInPlay: 6.073898085781152
          Team: Team
          PitchingLineOuts: 8.276461147928103
          Season: 1
          Walks: 7.464202015255506
          PitchingBattingAverageOnBallsInPlay: 5.7911894223693885
          FanDuelSalary: 6
          PitchingGrandSlams: 7.92839742024475
          PitchesSeen: 1.2555055362323109
          TotalOutsPitched: 9.721046668148785
          PitchingFlyOuts: 7.726998920545485
          DoublePlays: 3.901545264248647
          InjuryBodyPart: InjuryBodyPart
          WalksHitsPerInningsPitched: 7.129168897240568
          HomeOrAway: HomeOrAway
          InningsPitchedDecimal: 4.518309517874243
          PitchingDoubles: 9.785002165136461
          PitchingBallsInPlay: 1.5970080735609526
          Day: Day
          PitchingSacrifices: 6.749525837406151
          LeftOnBase: 2.7977867356748476
          FanDuelPosition: FanDuelPosition
          PitchingBattingAverageAgainst: 4.372688051310086
          SacrificeFlies: 3.196820582978078
          GlobalTeamID: 5
          InjuryStatus: InjuryStatus
          DraftKingsSalary: 2
          Name: Name
          PitchingWalks: 0.11859130807119977
          BattingAverage: 4.86315908102884
          Doubles: 0.43431398824148815
          PitchingEarnedRuns: 7.3718573971919445
          OnBasePlusSlugging: 6.173804034172511
          BallsInPlay: 5.507386964179881
          PitchingIntentionalWalks: 4.010300976654761
          PitchesThrown: 3.812761638325517
          AtBats: 7.933506881737151
          SubstituteBattingOrderSequence: 4
          InningsPitchedOuts: 0.35262192099236644
          FantasyPointsBatting: 1.8268702177058116
          OpponentPositionRank: 6
          Updated: Updated
          Triples: 2.922265432447957
          BattingOrderConfirmed: true
          LineOuts: 9.386524999783381
          PitchingReachedOnError: 5.747795090145878
          FantasyPointsFanDuel: 9.183123594773994
          RunsBattedIn: 2.026856458177285
          PitchingOnBasePercentage: 4.141296055235948
          Errors: 8.28965939814297
          PitchingPerfectGames: 2.058822123984536
          Games: 3
          SluggingPercentage: 8.250639315618633
          PitchingSingles: 0.30134145536422907
          StatID: 2
          PitchingStrikeouts: 9.456612101333725
          GrandSlams: 7.835035282970782
          Saves: 3.8156682252305574
          StolenBases: 8.782449469456207
          FantasyPointsYahoo: 5.299143560275359
          FieldingIndependentPitching: 5.312489704336296
          OpponentRank: 9
          PitchingTotalBases: 7.88722683998926
          YahooSalary: 9
          Sacrifices: 5.296102445648278
          InningsPitchedFull: 0.4833312865174044
          DraftKingsPosition: DraftKingsPosition
          FantasyPointsFantasyDraft: 8.761432466225475
          FlyOuts: 8.37823741034869
          GlobalOpponentID: 9
          Opponent: Opponent
          GroundIntoDoublePlay: 0.4768402382624515
          TotalBases: 5.726375546151009
          ReachedOnError: 2.0981949483881577
          GlobalGameID: 3
          YahooPosition: YahooPosition
          FantasyDraftPosition: FantasyDraftPosition
          FantasyPoints: 9.254183946267839
          PitchingNoHitters: 6.458262756685686
          PositionCategory: PositionCategory
          PitchingSacrificeFlies: 7.3842318535314
          PitchingHitByPitch: 4.4935252719377825
          InjuryNotes: InjuryNotes
          BattingOrder: 8
          SeasonType: 5
          PitchingPopOuts: 0.8411762798681321
          PitchingWalksPerNineInnings: 4.637509675190766
          FantasyPointsPitching: 0.4182561061793122
        TeamGames:
        - IntentionalWalks: 1.4793631642421967
          PitchingQualityStarts: 9.120398275527268
          PitchingTriples: 6.720288821326667
          PitchingHomeRuns: 6.460213024504889
          HitByPitch: 8.546645780823726
          PitchingBlownSaves: 8.780989965779524
          DateTime: DateTime
          SubstituteBattingOrder: 8
          IsolatedPower: 2.719219329469812
          PitchingCompleteGames: 9.966789814889403
          PitchingOnBasePlusSlugging: 3.5366534267201475
          CaughtStealing: 3.7846852362095262
          PopOuts: 4.4580628783592156
          PitchingGroundOuts: 6.79368409560902
          Singles: 3.0659734456354117
          PitchingShutOuts: 9.908114046741538
          EarnedRunAverage: 4.863793115215697
          Wins: 0.6052866655822231
          GameID: 8
          Outs: 1.1864130338603074
          GroundOuts: 5.412786966532157
          PitchingInningStarted: 6
          PitchingHolds: 8.289598895249666
          OnBasePercentage: 1.0348002257634148
          PitchingCatchersInterference: 5.616380282218067
          PitchingWeightedOnBasePercentage: 0.8164256701298711
          PitchingDoublePlays: 9.748669620880193
          OpponentID: 4
          Losses: 7.135782839148426
          FantasyPointsDraftKings: 2.831445253698411
          HomeRuns: 8.036294790673514
          PitchingStrikeoutsPerNineInnings: 7.766860781935265
          PitchingSluggingPercentage: 7.437703257022269
          WeightedOnBasePercentage: 3.8463127686084055
          Hits: 4.784107115651097
          IsGameOver: true
          PitchesThrownStrikes: 1.9732909296667345
          PitchingGroundIntoDoublePlay: 1.7692392591014339
          TeamID: 7
          Runs: 7.701777079007398
          PitchingPlateAppearances: 8.331741856019029
          PitchingRuns: 0.29551818216563164
          PlateAppearances: 4.13177941962639
          Strikeouts: 9.140242185517025
          PitchingHits: 9.372628622067484
          BattingAverageOnBallsInPlay: 1.0046985756074744
          Team: Team
          PitchingLineOuts: 6.97635352548152
          Season: 4
          Walks: 2.408218941758913
          PitchingBattingAverageOnBallsInPlay: 0.9178980228274691
          PitchingGrandSlams: 9.684087197655908
          PitchesSeen: 3.8601930294054942
          TotalOutsPitched: 7.321091499885957
          PitchingFlyOuts: 0.8972273556195443
          DoublePlays: 9.007961177824221
          WalksHitsPerInningsPitched: 6.936593194494838
          HomeOrAway: HomeOrAway
          InningsPitchedDecimal: 8.310924482277276
          PitchingDoubles: 6.203595661339589
          PitchingBallsInPlay: 4.5403315819302215
          Day: Day
          PitchingSacrifices: 4.318826475758856
          LeftOnBase: 1.8407572303125541
          PitchingBattingAverageAgainst: 8.262575023052213
          SacrificeFlies: 0.05189710095898081
          GlobalTeamID: 9
          Name: Name
          PitchingWalks: 5.304373278797373
          BattingAverage: 6.712603870693706
          Doubles: 1.5743672347582194
          PitchingEarnedRuns: 7.014147440046284
          OnBasePlusSlugging: 4.757484754617172
          BallsInPlay: 2.684056218962324
          PitchingIntentionalWalks: 7.375698277301938
          PitchesThrown: 3.8581948879558317
          AtBats: 8.768153453040833
          SubstituteBattingOrderSequence: 4
          InningsPitchedOuts: 7.886583288201395
          FantasyPointsBatting: 8.238101405568635
          Updated: Updated
          Triples: 7.686670838404092
          BattingOrderConfirmed: true
          LineOuts: 7.200147194425509
          PitchingReachedOnError: 8.223593720381889
          FantasyPointsFanDuel: 6.345503614942988
          RunsBattedIn: 2.1871588311421153
          PitchingOnBasePercentage: 9.290244967928562
          Errors: 2.008994665592807
          PitchingPerfectGames: 5.267310321293582
          Games: 2
          SluggingPercentage: 8.638367073739522
          PitchingSingles: 7.541803065493349
          StatID: 5
          PitchingStrikeouts: 8.875589915795528
          GrandSlams: 2.60416377551006
          Saves: 6.936499209818381
          StolenBases: 9.610516429629122
          FantasyPointsYahoo: 5.829097284708605
          FieldingIndependentPitching: 0.7242789830362995
          PitchingTotalBases: 1.6056289151258096
          Sacrifices: 4.403697036782718
          InningsPitchedFull: 6.607129449620165
          FantasyPointsFantasyDraft: 5.499986845135928
          FlyOuts: 1.2786903972794905
          GlobalOpponentID: 5
          Opponent: Opponent
          GroundIntoDoublePlay: 5.5569822283364845
          TotalBases: 4.180725413706508
          ReachedOnError: 0.313237310471568
          GlobalGameID: 8
          FantasyPoints: 2.924533207692744
          PitchingNoHitters: 0.6895265584691002
          PitchingSacrificeFlies: 0.7370530802760489
          PitchingHitByPitch: 9.0012452339701
          SeasonType: 2
          PitchingPopOuts: 7.6528347060559
          PitchingWalksPerNineInnings: 8.708394192403432
          FantasyPointsPitching: 8.569658089905484
        - IntentionalWalks: 1.4793631642421967
          PitchingQualityStarts: 9.120398275527268
          PitchingTriples: 6.720288821326667
          PitchingHomeRuns: 6.460213024504889
          HitByPitch: 8.546645780823726
          PitchingBlownSaves: 8.780989965779524
          DateTime: DateTime
          SubstituteBattingOrder: 8
          IsolatedPower: 2.719219329469812
          PitchingCompleteGames: 9.966789814889403
          PitchingOnBasePlusSlugging: 3.5366534267201475
          CaughtStealing: 3.7846852362095262
          PopOuts: 4.4580628783592156
          PitchingGroundOuts: 6.79368409560902
          Singles: 3.0659734456354117
          PitchingShutOuts: 9.908114046741538
          EarnedRunAverage: 4.863793115215697
          Wins: 0.6052866655822231
          GameID: 8
          Outs: 1.1864130338603074
          GroundOuts: 5.412786966532157
          PitchingInningStarted: 6
          PitchingHolds: 8.289598895249666
          OnBasePercentage: 1.0348002257634148
          PitchingCatchersInterference: 5.616380282218067
          PitchingWeightedOnBasePercentage: 0.8164256701298711
          PitchingDoublePlays: 9.748669620880193
          OpponentID: 4
          Losses: 7.135782839148426
          FantasyPointsDraftKings: 2.831445253698411
          HomeRuns: 8.036294790673514
          PitchingStrikeoutsPerNineInnings: 7.766860781935265
          PitchingSluggingPercentage: 7.437703257022269
          WeightedOnBasePercentage: 3.8463127686084055
          Hits: 4.784107115651097
          IsGameOver: true
          PitchesThrownStrikes: 1.9732909296667345
          PitchingGroundIntoDoublePlay: 1.7692392591014339
          TeamID: 7
          Runs: 7.701777079007398
          PitchingPlateAppearances: 8.331741856019029
          PitchingRuns: 0.29551818216563164
          PlateAppearances: 4.13177941962639
          Strikeouts: 9.140242185517025
          PitchingHits: 9.372628622067484
          BattingAverageOnBallsInPlay: 1.0046985756074744
          Team: Team
          PitchingLineOuts: 6.97635352548152
          Season: 4
          Walks: 2.408218941758913
          PitchingBattingAverageOnBallsInPlay: 0.9178980228274691
          PitchingGrandSlams: 9.684087197655908
          PitchesSeen: 3.8601930294054942
          TotalOutsPitched: 7.321091499885957
          PitchingFlyOuts: 0.8972273556195443
          DoublePlays: 9.007961177824221
          WalksHitsPerInningsPitched: 6.936593194494838
          HomeOrAway: HomeOrAway
          InningsPitchedDecimal: 8.310924482277276
          PitchingDoubles: 6.203595661339589
          PitchingBallsInPlay: 4.5403315819302215
          Day: Day
          PitchingSacrifices: 4.318826475758856
          LeftOnBase: 1.8407572303125541
          PitchingBattingAverageAgainst: 8.262575023052213
          SacrificeFlies: 0.05189710095898081
          GlobalTeamID: 9
          Name: Name
          PitchingWalks: 5.304373278797373
          BattingAverage: 6.712603870693706
          Doubles: 1.5743672347582194
          PitchingEarnedRuns: 7.014147440046284
          OnBasePlusSlugging: 4.757484754617172
          BallsInPlay: 2.684056218962324
          PitchingIntentionalWalks: 7.375698277301938
          PitchesThrown: 3.8581948879558317
          AtBats: 8.768153453040833
          SubstituteBattingOrderSequence: 4
          InningsPitchedOuts: 7.886583288201395
          FantasyPointsBatting: 8.238101405568635
          Updated: Updated
          Triples: 7.686670838404092
          BattingOrderConfirmed: true
          LineOuts: 7.200147194425509
          PitchingReachedOnError: 8.223593720381889
          FantasyPointsFanDuel: 6.345503614942988
          RunsBattedIn: 2.1871588311421153
          PitchingOnBasePercentage: 9.290244967928562
          Errors: 2.008994665592807
          PitchingPerfectGames: 5.267310321293582
          Games: 2
          SluggingPercentage: 8.638367073739522
          PitchingSingles: 7.541803065493349
          StatID: 5
          PitchingStrikeouts: 8.875589915795528
          GrandSlams: 2.60416377551006
          Saves: 6.936499209818381
          StolenBases: 9.610516429629122
          FantasyPointsYahoo: 5.829097284708605
          FieldingIndependentPitching: 0.7242789830362995
          PitchingTotalBases: 1.6056289151258096
          Sacrifices: 4.403697036782718
          InningsPitchedFull: 6.607129449620165
          FantasyPointsFantasyDraft: 5.499986845135928
          FlyOuts: 1.2786903972794905
          GlobalOpponentID: 5
          Opponent: Opponent
          GroundIntoDoublePlay: 5.5569822283364845
          TotalBases: 4.180725413706508
          ReachedOnError: 0.313237310471568
          GlobalGameID: 8
          FantasyPoints: 2.924533207692744
          PitchingNoHitters: 0.6895265584691002
          PitchingSacrificeFlies: 0.7370530802760489
          PitchingHitByPitch: 9.0012452339701
          SeasonType: 2
          PitchingPopOuts: 7.6528347060559
          PitchingWalksPerNineInnings: 8.708394192403432
          FantasyPointsPitching: 8.569658089905484
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        Innings:
          items:
            $ref: '#/components/schemas/Inning'
          title: Innings
          type: array
        PlayerGames:
          items:
            $ref: '#/components/schemas/PlayerGame'
          title: PlayerGames
          type: array
        TeamGames:
          items:
            $ref: '#/components/schemas/TeamGame'
          title: TeamGames
          type: array
      title: BoxScore
    DfsSlate:
      example:
        Operator: Operator
        OperatorDay: OperatorDay
        OperatorName: OperatorName
        IsMultiDaySlate: true
        SlateID: 1
        DfsSlateGames:
        - RemovedByOperator: true
          Game:
            InningDescription: InningDescription
            Innings:
            - InningID: 7
              AwayTeamRuns: 3
              InningNumber: 6
              HomeTeamRuns: 0
              GameID: 7
            - InningID: 7
              AwayTeamRuns: 3
              InningNumber: 6
              HomeTeamRuns: 0
              GameID: 7
            AwayTeam: AwayTeam
            ForecastDescription: ForecastDescription
            HomeTeamMoneyLine: 6
            AwayTeamRuns: 9
            HomeTeamID: 2
            ForecastTempHigh: 1
            RunnerOnThird: true
            DateTime: DateTime
            CurrentHittingTeamID: 7
            CurrentHitter: CurrentHitter
            CurrentHitterID: 4
            HomeTeamHits: 1
            AwayTeamErrors: 1
            AwayTeamHits: 5
            ForecastWindSpeed: 9
            GameID: 6
            OverPayout: 8
            AwayTeamStartingPitcherID: 3
            Outs: 4
            Status: Status
            ForecastWindDirection: 9
            LosingPitcher: LosingPitcher
            HomeTeam: HomeTeam
            Updated: Updated
            Channel: Channel
            Inning: 3
            DueUpHitterID2: 6
            DueUpHitterID3: 7
            HomeTeamRuns: 5
            RunnerOnFirst: true
            CurrentPitcher: CurrentPitcher
            DueUpHitterID1: 1
            HomeTeamStartingPitcherID: 6
            NeutralVenue: true
            StadiumID: 9
            SeriesInfo:
              GameNumber: 1
              MaxLength: 7
              AwayTeamWins: 4
              HomeTeamWins: 4
            AwayRotationNumber: 6
            PointSpreadAwayTeamMoneyLine: 3
            GlobalAwayTeamID: 8
            DateTimeUTC: DateTimeUTC
            RescheduledFromGameID: 5
            AwayTeamMoneyLine: 2
            HomeTeamErrors: 6
            RescheduledGameID: 3
            AwayTeamProbablePitcherID: 7
            GameEndDateTime: GameEndDateTime
            HomeRotationNumber: 3
            InningHalf: InningHalf
            HomeTeamProbablePitcherID: 6
            AwayTeamID: 5
            IsClosed: true
            LastPlay: LastPlay
            ForecastWindChill: 5
            UnderPayout: 9
            GlobalHomeTeamID: 6
            WinningPitcher: WinningPitcher
            HomeTeamStartingPitcher: HomeTeamStartingPitcher
            Season: 0
            GlobalGameID: 9
            Attendance: 0
            RunnerOnSecond: true
            SavingPitcherID: 4
            OverUnder: 7.740351818741173
            Strikes: 0
            CurrentPitcherID: 1
            SeasonType: 6
            PointSpread: 3.0205796992916243
            SavingPitcher: SavingPitcher
            LosingPitcherID: 0
            ForecastTempLow: 4
            WinningPitcherID: 0
            AwayTeamStartingPitcher: AwayTeamStartingPitcher
            Balls: 2
            PointSpreadHomeTeamMoneyLine: 7
            CurrentPitchingTeamID: 1
            Day: Day
          OperatorGameID: 6
          SlateGameID: 1
          SlateID: 5
          GameID: 0
        - RemovedByOperator: true
          Game:
            InningDescription: InningDescription
            Innings:
            - InningID: 7
              AwayTeamRuns: 3
              InningNumber: 6
              HomeTeamRuns: 0
              GameID: 7
            - InningID: 7
              AwayTeamRuns: 3
              InningNumber: 6
              HomeTeamRuns: 0
              GameID: 7
            AwayTeam: AwayTeam
            ForecastDescription: ForecastDescription
            HomeTeamMoneyLine: 6
            AwayTeamRuns: 9
            HomeTeamID: 2
            ForecastTempHigh: 1
            RunnerOnThird: true
            DateTime: DateTime
            CurrentHittingTeamID: 7
            CurrentHitter: CurrentHitter
            CurrentHitterID: 4
            HomeTeamHits: 1
            AwayTeamErrors: 1
            AwayTeamHits: 5
            ForecastWindSpeed: 9
            GameID: 6
            OverPayout: 8
            AwayTeamStartingPitcherID: 3
            Outs: 4
            Status: Status
            ForecastWindDirection: 9
            LosingPitcher: LosingPitcher
            HomeTeam: HomeTeam
            Updated: Updated
            Channel: Channel
            Inning: 3
            DueUpHitterID2: 6
            DueUpHitterID3: 7
            HomeTeamRuns: 5
            RunnerOnFirst: true
            CurrentPitcher: CurrentPitcher
            DueUpHitterID1: 1
            HomeTeamStartingPitcherID: 6
            NeutralVenue: true
            StadiumID: 9
            SeriesInfo:
              GameNumber: 1
              MaxLength: 7
              AwayTeamWins: 4
              HomeTeamWins: 4
            AwayRotationNumber: 6
            PointSpreadAwayTeamMoneyLine: 3
            GlobalAwayTeamID: 8
            DateTimeUTC: DateTimeUTC
            RescheduledFromGameID: 5
            AwayTeamMoneyLine: 2
            HomeTeamErrors: 6
            RescheduledGameID: 3
            AwayTeamProbablePitcherID: 7
            GameEndDateTime: GameEndDateTime
            HomeRotationNumber: 3
            InningHalf: InningHalf
            HomeTeamProbablePitcherID: 6
            AwayTeamID: 5
            IsClosed: true
            LastPlay: LastPlay
            ForecastWindChill: 5
            UnderPayout: 9
            GlobalHomeTeamID: 6
            WinningPitcher: WinningPitcher
            HomeTeamStartingPitcher: HomeTeamStartingPitcher
            Season: 0
            GlobalGameID: 9
            Attendance: 0
            RunnerOnSecond: true
            SavingPitcherID: 4
            OverUnder: 7.740351818741173
            Strikes: 0
            CurrentPitcherID: 1
            SeasonType: 6
            PointSpread: 3.0205796992916243
            SavingPitcher: SavingPitcher
            LosingPitcherID: 0
            ForecastTempLow: 4
            WinningPitcherID: 0
            AwayTeamStartingPitcher: AwayTeamStartingPitcher
            Balls: 2
            PointSpreadHomeTeamMoneyLine: 7
            CurrentPitchingTeamID: 1
            Day: Day
          OperatorGameID: 6
          SlateGameID: 1
          SlateID: 5
          GameID: 0
        SlateRosterSlots:
        - SlateRosterSlots
        - SlateRosterSlots
        SalaryCap: 1
        OperatorStartTime: OperatorStartTime
        NumberOfGames: 7
        RemovedByOperator: true
        OperatorGameType: OperatorGameType
        DfsSlatePlayers:
        - PlayerID: 7
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 3
          SlatePlayerID: 2
          TeamID: 4
          PlayerGameProjectionStatID: 2
          OperatorSalary: 5
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 9
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        - PlayerID: 7
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 3
          SlatePlayerID: 2
          TeamID: 4
          PlayerGameProjectionStatID: 2
          OperatorSalary: 5
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 9
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        OperatorSlateID: 1
      properties:
        DfsSlateGames:
          items:
            $ref: '#/components/schemas/DfsSlateGame'
          title: DfsSlateGames
          type: array
        DfsSlatePlayers:
          items:
            $ref: '#/components/schemas/DfsSlatePlayer'
          title: DfsSlatePlayers
          type: array
        IsMultiDaySlate:
          nullable: true
          title: IsMultiDaySlate
          type: boolean
        NumberOfGames:
          nullable: true
          title: NumberOfGames
          type: integer
        Operator:
          nullable: true
          title: Operator
          type: string
        OperatorDay:
          nullable: true
          title: OperatorDay
          type: string
        OperatorGameType:
          nullable: true
          title: OperatorGameType
          type: string
        OperatorName:
          nullable: true
          title: OperatorName
          type: string
        OperatorSlateID:
          nullable: true
          title: OperatorSlateID
          type: integer
        OperatorStartTime:
          nullable: true
          title: OperatorStartTime
          type: string
        RemovedByOperator:
          nullable: true
          title: RemovedByOperator
          type: boolean
        SalaryCap:
          nullable: true
          title: SalaryCap
          type: integer
        SlateID:
          nullable: false
          title: SlateID
          type: integer
        SlateRosterSlots:
          items:
            nullable: true
            type: string
          title: SlateRosterSlots
          type: array
      title: DfsSlate
    DfsSlateGame:
      example:
        RemovedByOperator: true
        Game:
          InningDescription: InningDescription
          Innings:
          - InningID: 7
            AwayTeamRuns: 3
            InningNumber: 6
            HomeTeamRuns: 0
            GameID: 7
          - InningID: 7
            AwayTeamRuns: 3
            InningNumber: 6
            HomeTeamRuns: 0
            GameID: 7
          AwayTeam: AwayTeam
          ForecastDescription: ForecastDescription
          HomeTeamMoneyLine: 6
          AwayTeamRuns: 9
          HomeTeamID: 2
          ForecastTempHigh: 1
          RunnerOnThird: true
          DateTime: DateTime
          CurrentHittingTeamID: 7
          CurrentHitter: CurrentHitter
          CurrentHitterID: 4
          HomeTeamHits: 1
          AwayTeamErrors: 1
          AwayTeamHits: 5
          ForecastWindSpeed: 9
          GameID: 6
          OverPayout: 8
          AwayTeamStartingPitcherID: 3
          Outs: 4
          Status: Status
          ForecastWindDirection: 9
          LosingPitcher: LosingPitcher
          HomeTeam: HomeTeam
          Updated: Updated
          Channel: Channel
          Inning: 3
          DueUpHitterID2: 6
          DueUpHitterID3: 7
          HomeTeamRuns: 5
          RunnerOnFirst: true
          CurrentPitcher: CurrentPitcher
          DueUpHitterID1: 1
          HomeTeamStartingPitcherID: 6
          NeutralVenue: true
          StadiumID: 9
          SeriesInfo:
            GameNumber: 1
            MaxLength: 7
            AwayTeamWins: 4
            HomeTeamWins: 4
          AwayRotationNumber: 6
          PointSpreadAwayTeamMoneyLine: 3
          GlobalAwayTeamID: 8
          DateTimeUTC: DateTimeUTC
          RescheduledFromGameID: 5
          AwayTeamMoneyLine: 2
          HomeTeamErrors: 6
          RescheduledGameID: 3
          AwayTeamProbablePitcherID: 7
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 3
          InningHalf: InningHalf
          HomeTeamProbablePitcherID: 6
          AwayTeamID: 5
          IsClosed: true
          LastPlay: LastPlay
          ForecastWindChill: 5
          UnderPayout: 9
          GlobalHomeTeamID: 6
          WinningPitcher: WinningPitcher
          HomeTeamStartingPitcher: HomeTeamStartingPitcher
          Season: 0
          GlobalGameID: 9
          Attendance: 0
          RunnerOnSecond: true
          SavingPitcherID: 4
          OverUnder: 7.740351818741173
          Strikes: 0
          CurrentPitcherID: 1
          SeasonType: 6
          PointSpread: 3.0205796992916243
          SavingPitcher: SavingPitcher
          LosingPitcherID: 0
          ForecastTempLow: 4
          WinningPitcherID: 0
          AwayTeamStartingPitcher: AwayTeamStartingPitcher
          Balls: 2
          PointSpreadHomeTeamMoneyLine: 7
          CurrentPitchingTeamID: 1
          Day: Day
        OperatorGameID: 6
        SlateGameID: 1
        SlateID: 5
        GameID: 0
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        GameID:
          nullable: true
          title: GameID
          type: integer
        OperatorGameID:
          nullable: true
          title: OperatorGameID
          type: integer
        RemovedByOperator:
          nullable: true
          title: RemovedByOperator
          type: boolean
        SlateGameID:
          nullable: false
          title: SlateGameID
          type: integer
        SlateID:
          nullable: false
          title: SlateID
          type: integer
      title: DfsSlateGame
    DfsSlatePlayer:
      example:
        PlayerID: 7
        OperatorPosition: OperatorPosition
        OperatorPlayerName: OperatorPlayerName
        SlateID: 3
        SlatePlayerID: 2
        TeamID: 4
        PlayerGameProjectionStatID: 2
        OperatorSalary: 5
        RemovedByOperator: true
        OperatorRosterSlots:
        - OperatorRosterSlots
        - OperatorRosterSlots
        OperatorSlatePlayerID: OperatorSlatePlayerID
        SlateGameID: 9
        Team: Team
        OperatorPlayerID: OperatorPlayerID
      properties:
        OperatorPlayerID:
          nullable: true
          title: OperatorPlayerID
          type: string
        OperatorPlayerName:
          nullable: true
          title: OperatorPlayerName
          type: string
        OperatorPosition:
          nullable: true
          title: OperatorPosition
          type: string
        OperatorRosterSlots:
          items:
            nullable: true
            type: string
          title: OperatorRosterSlots
          type: array
        OperatorSalary:
          nullable: true
          title: OperatorSalary
          type: integer
        OperatorSlatePlayerID:
          nullable: true
          title: OperatorSlatePlayerID
          type: string
        PlayerGameProjectionStatID:
          nullable: true
          title: PlayerGameProjectionStatID
          type: integer
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        RemovedByOperator:
          nullable: true
          title: RemovedByOperator
          type: boolean
        SlateGameID:
          nullable: true
          title: SlateGameID
          type: integer
        SlateID:
          nullable: false
          title: SlateID
          type: integer
        SlatePlayerID:
          nullable: false
          title: SlatePlayerID
          type: integer
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
      title: DfsSlatePlayer
    Game:
      example:
        InningDescription: InningDescription
        Innings:
        - InningID: 7
          AwayTeamRuns: 3
          InningNumber: 6
          HomeTeamRuns: 0
          GameID: 7
        - InningID: 7
          AwayTeamRuns: 3
          InningNumber: 6
          HomeTeamRuns: 0
          GameID: 7
        AwayTeam: AwayTeam
        ForecastDescription: ForecastDescription
        HomeTeamMoneyLine: 6
        AwayTeamRuns: 9
        HomeTeamID: 2
        ForecastTempHigh: 1
        RunnerOnThird: true
        DateTime: DateTime
        CurrentHittingTeamID: 7
        CurrentHitter: CurrentHitter
        CurrentHitterID: 4
        HomeTeamHits: 1
        AwayTeamErrors: 1
        AwayTeamHits: 5
        ForecastWindSpeed: 9
        GameID: 6
        OverPayout: 8
        AwayTeamStartingPitcherID: 3
        Outs: 4
        Status: Status
        ForecastWindDirection: 9
        LosingPitcher: LosingPitcher
        HomeTeam: HomeTeam
        Updated: Updated
        Channel: Channel
        Inning: 3
        DueUpHitterID2: 6
        DueUpHitterID3: 7
        HomeTeamRuns: 5
        RunnerOnFirst: true
        CurrentPitcher: CurrentPitcher
        DueUpHitterID1: 1
        HomeTeamStartingPitcherID: 6
        NeutralVenue: true
        StadiumID: 9
        SeriesInfo:
          GameNumber: 1
          MaxLength: 7
          AwayTeamWins: 4
          HomeTeamWins: 4
        AwayRotationNumber: 6
        PointSpreadAwayTeamMoneyLine: 3
        GlobalAwayTeamID: 8
        DateTimeUTC: DateTimeUTC
        RescheduledFromGameID: 5
        AwayTeamMoneyLine: 2
        HomeTeamErrors: 6
        RescheduledGameID: 3
        AwayTeamProbablePitcherID: 7
        GameEndDateTime: GameEndDateTime
        HomeRotationNumber: 3
        InningHalf: InningHalf
        HomeTeamProbablePitcherID: 6
        AwayTeamID: 5
        IsClosed: true
        LastPlay: LastPlay
        ForecastWindChill: 5
        UnderPayout: 9
        GlobalHomeTeamID: 6
        WinningPitcher: WinningPitcher
        HomeTeamStartingPitcher: HomeTeamStartingPitcher
        Season: 0
        GlobalGameID: 9
        Attendance: 0
        RunnerOnSecond: true
        SavingPitcherID: 4
        OverUnder: 7.740351818741173
        Strikes: 0
        CurrentPitcherID: 1
        SeasonType: 6
        PointSpread: 3.0205796992916243
        SavingPitcher: SavingPitcher
        LosingPitcherID: 0
        ForecastTempLow: 4
        WinningPitcherID: 0
        AwayTeamStartingPitcher: AwayTeamStartingPitcher
        Balls: 2
        PointSpreadHomeTeamMoneyLine: 7
        CurrentPitchingTeamID: 1
        Day: Day
      properties:
        Attendance:
          nullable: true
          title: Attendance
          type: integer
        AwayRotationNumber:
          nullable: true
          title: AwayRotationNumber
          type: integer
        AwayTeam:
          nullable: true
          title: AwayTeam
          type: string
        AwayTeamErrors:
          nullable: true
          title: AwayTeamErrors
          type: integer
        AwayTeamHits:
          nullable: true
          title: AwayTeamHits
          type: integer
        AwayTeamID:
          nullable: false
          title: AwayTeamID
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          title: AwayTeamMoneyLine
          type: integer
        AwayTeamProbablePitcherID:
          nullable: true
          title: AwayTeamProbablePitcherID
          type: integer
        AwayTeamRuns:
          nullable: true
          title: AwayTeamRuns
          type: integer
        AwayTeamStartingPitcher:
          nullable: true
          title: AwayTeamStartingPitcher
          type: string
        AwayTeamStartingPitcherID:
          nullable: true
          title: AwayTeamStartingPitcherID
          type: integer
        Balls:
          nullable: true
          title: Balls
          type: integer
        Channel:
          nullable: true
          title: Channel
          type: string
        CurrentHitter:
          nullable: true
          title: CurrentHitter
          type: string
        CurrentHitterID:
          nullable: true
          title: CurrentHitterID
          type: integer
        CurrentHittingTeamID:
          nullable: true
          title: CurrentHittingTeamID
          type: integer
        CurrentPitcher:
          nullable: true
          title: CurrentPitcher
          type: string
        CurrentPitcherID:
          nullable: true
          title: CurrentPitcherID
          type: integer
        CurrentPitchingTeamID:
          nullable: true
          title: CurrentPitchingTeamID
          type: integer
        DateTime:
          nullable: true
          title: DateTime
          type: string
        DateTimeUTC:
          nullable: true
          title: DateTimeUTC
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        DueUpHitterID1:
          nullable: true
          title: DueUpHitterID1
          type: integer
        DueUpHitterID2:
          nullable: true
          title: DueUpHitterID2
          type: integer
        DueUpHitterID3:
          nullable: true
          title: DueUpHitterID3
          type: integer
        ForecastDescription:
          nullable: true
          title: ForecastDescription
          type: string
        ForecastTempHigh:
          nullable: true
          title: ForecastTempHigh
          type: integer
        ForecastTempLow:
          nullable: true
          title: ForecastTempLow
          type: integer
        ForecastWindChill:
          nullable: true
          title: ForecastWindChill
          type: integer
        ForecastWindDirection:
          nullable: true
          title: ForecastWindDirection
          type: integer
        ForecastWindSpeed:
          nullable: true
          title: ForecastWindSpeed
          type: integer
        GameEndDateTime:
          nullable: true
          title: GameEndDateTime
          type: string
        GameID:
          nullable: false
          title: GameID
          type: integer
        GlobalAwayTeamID:
          nullable: false
          title: GlobalAwayTeamID
          type: integer
        GlobalGameID:
          nullable: false
          title: GlobalGameID
          type: integer
        GlobalHomeTeamID:
          nullable: false
          title: GlobalHomeTeamID
          type: integer
        HomeRotationNumber:
          nullable: true
          title: HomeRotationNumber
          type: integer
        HomeTeam:
          nullable: true
          title: HomeTeam
          type: string
        HomeTeamErrors:
          nullable: true
          title: HomeTeamErrors
          type: integer
        HomeTeamHits:
          nullable: true
          title: HomeTeamHits
          type: integer
        HomeTeamID:
          nullable: false
          title: HomeTeamID
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          title: HomeTeamMoneyLine
          type: integer
        HomeTeamProbablePitcherID:
          nullable: true
          title: HomeTeamProbablePitcherID
          type: integer
        HomeTeamRuns:
          nullable: true
          title: HomeTeamRuns
          type: integer
        HomeTeamStartingPitcher:
          nullable: true
          title: HomeTeamStartingPitcher
          type: string
        HomeTeamStartingPitcherID:
          nullable: true
          title: HomeTeamStartingPitcherID
          type: integer
        Inning:
          nullable: true
          title: Inning
          type: integer
        InningDescription:
          nullable: true
          title: InningDescription
          type: string
        InningHalf:
          nullable: true
          title: InningHalf
          type: string
        Innings:
          items:
            $ref: '#/components/schemas/Inning'
          title: Innings
          type: array
        IsClosed:
          nullable: false
          title: IsClosed
          type: boolean
        LastPlay:
          nullable: true
          title: LastPlay
          type: string
        LosingPitcher:
          nullable: true
          title: LosingPitcher
          type: string
        LosingPitcherID:
          nullable: true
          title: LosingPitcherID
          type: integer
        NeutralVenue:
          nullable: true
          title: NeutralVenue
          type: boolean
        Outs:
          nullable: true
          title: Outs
          type: integer
        OverPayout:
          nullable: true
          title: OverPayout
          type: integer
        OverUnder:
          nullable: true
          title: OverUnder
          type: number
        PointSpread:
          nullable: true
          title: PointSpread
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          title: PointSpreadAwayTeamMoneyLine
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          title: PointSpreadHomeTeamMoneyLine
          type: integer
        RescheduledFromGameID:
          nullable: true
          title: RescheduledFromGameID
          type: integer
        RescheduledGameID:
          nullable: true
          title: RescheduledGameID
          type: integer
        RunnerOnFirst:
          nullable: true
          title: RunnerOnFirst
          type: boolean
        RunnerOnSecond:
          nullable: true
          title: RunnerOnSecond
          type: boolean
        RunnerOnThird:
          nullable: true
          title: RunnerOnThird
          type: boolean
        SavingPitcher:
          nullable: true
          title: SavingPitcher
          type: string
        SavingPitcherID:
          nullable: true
          title: SavingPitcherID
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        SeriesInfo:
          $ref: '#/components/schemas/Series'
        StadiumID:
          nullable: true
          title: StadiumID
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        Strikes:
          nullable: true
          title: Strikes
          type: integer
        UnderPayout:
          nullable: true
          title: UnderPayout
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
        WinningPitcher:
          nullable: true
          title: WinningPitcher
          type: string
        WinningPitcherID:
          nullable: true
          title: WinningPitcherID
          type: integer
      title: Game
    Inning:
      example:
        InningID: 7
        AwayTeamRuns: 3
        InningNumber: 6
        HomeTeamRuns: 0
        GameID: 7
      properties:
        AwayTeamRuns:
          nullable: true
          title: AwayTeamRuns
          type: integer
        GameID:
          nullable: false
          title: GameID
          type: integer
        HomeTeamRuns:
          nullable: true
          title: HomeTeamRuns
          type: integer
        InningID:
          nullable: false
          title: InningID
          type: integer
        InningNumber:
          nullable: false
          title: InningNumber
          type: integer
      title: Inning
    News:
      example:
        PlayerID: 6
        OriginalSourceUrl: OriginalSourceUrl
        Updated: Updated
        Categories: Categories
        TermsOfUse: TermsOfUse
        Title: Title
        PlayerID2: 1
        TeamID: 5
        Source: Source
        Url: Url
        NewsID: 0
        TeamID2: 5
        Content: Content
        OriginalSource: OriginalSource
        Author: Author
        Team: Team
        Team2: Team2
        TimeAgo: TimeAgo
      properties:
        Author:
          nullable: true
          title: Author
          type: string
        Categories:
          nullable: true
          title: Categories
          type: string
        Content:
          nullable: true
          title: Content
          type: string
        NewsID:
          nullable: false
          title: NewsID
          type: integer
        OriginalSource:
          nullable: true
          title: OriginalSource
          type: string
        OriginalSourceUrl:
          nullable: true
          title: OriginalSourceUrl
          type: string
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        PlayerID2:
          nullable: true
          title: PlayerID2
          type: integer
        Source:
          nullable: true
          title: Source
          type: string
        Team:
          nullable: true
          title: Team
          type: string
        Team2:
          nullable: true
          title: Team2
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        TeamID2:
          nullable: true
          title: TeamID2
          type: integer
        TermsOfUse:
          nullable: true
          title: TermsOfUse
          type: string
        TimeAgo:
          nullable: true
          title: TimeAgo
          type: string
        Title:
          nullable: true
          title: Title
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
        Url:
          nullable: true
          title: Url
          type: string
      title: News
    Player:
      example:
        PlayerID: 3
        InjuryStartDate: InjuryStartDate
        YahooName: YahooName
        GlobalTeamID: 5
        FanDuelName: FanDuelName
        InjuryStatus: InjuryStatus
        UsaTodayHeadshotUpdated: UsaTodayHeadshotUpdated
        SportsDirectPlayerID: 1
        UsaTodayPlayerID: 7
        Jersey: 7
        PhotoUrl: PhotoUrl
        Status: Status
        Position: Position
        FanDuelPlayerID: 6
        UsaTodayHeadshotUrl: UsaTodayHeadshotUrl
        XmlTeamPlayerID: 4
        Weight: 1
        Experience: Experience
        SportRadarPlayerID: SportRadarPlayerID
        College: College
        LastName: LastName
        BirthDate: BirthDate
        Salary: 7
        FantasyDraftPlayerID: 5
        SportsDataID: SportsDataID
        RotoworldPlayerID: 4
        TeamID: 1
        DraftKingsPlayerID: 0
        UpcomingGameID: 6
        UsaTodayHeadshotNoBackgroundUpdated: UsaTodayHeadshotNoBackgroundUpdated
        Height: 2
        Team: Team
        ThrowHand: ThrowHand
        YahooPlayerID: 5
        FantasyDraftName: FantasyDraftName
        StatsPlayerID: 1
        BatHand: BatHand
        FirstName: FirstName
        PositionCategory: PositionCategory
        ProDebut: ProDebut
        UsaTodayHeadshotNoBackgroundUrl: UsaTodayHeadshotNoBackgroundUrl
        BirthState: BirthState
        DraftKingsName: DraftKingsName
        BirthCountry: BirthCountry
        InjuryBodyPart: InjuryBodyPart
        InjuryNotes: InjuryNotes
        RotoWirePlayerID: 2
        FantasyAlarmPlayerID: 1
        HighSchool: HighSchool
        BirthCity: BirthCity
        MLBAMID: 9
      properties:
        BatHand:
          nullable: true
          title: BatHand
          type: string
        BirthCity:
          nullable: true
          title: BirthCity
          type: string
        BirthCountry:
          nullable: true
          title: BirthCountry
          type: string
        BirthDate:
          nullable: true
          title: BirthDate
          type: string
        BirthState:
          nullable: true
          title: BirthState
          type: string
        College:
          nullable: true
          title: College
          type: string
        DraftKingsName:
          nullable: true
          title: DraftKingsName
          type: string
        DraftKingsPlayerID:
          nullable: true
          title: DraftKingsPlayerID
          type: integer
        Experience:
          nullable: true
          title: Experience
          type: string
        FanDuelName:
          nullable: true
          title: FanDuelName
          type: string
        FanDuelPlayerID:
          nullable: true
          title: FanDuelPlayerID
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          title: FantasyAlarmPlayerID
          type: integer
        FantasyDraftName:
          nullable: true
          title: FantasyDraftName
          type: string
        FantasyDraftPlayerID:
          nullable: true
          title: FantasyDraftPlayerID
          type: integer
        FirstName:
          nullable: true
          title: FirstName
          type: string
        GlobalTeamID:
          nullable: true
          title: GlobalTeamID
          type: integer
        Height:
          nullable: true
          title: Height
          type: integer
        HighSchool:
          nullable: true
          title: HighSchool
          type: string
        InjuryBodyPart:
          nullable: true
          title: InjuryBodyPart
          type: string
        InjuryNotes:
          nullable: true
          title: InjuryNotes
          type: string
        InjuryStartDate:
          nullable: true
          title: InjuryStartDate
          type: string
        InjuryStatus:
          nullable: true
          title: InjuryStatus
          type: string
        Jersey:
          nullable: true
          title: Jersey
          type: integer
        LastName:
          nullable: true
          title: LastName
          type: string
        MLBAMID:
          nullable: true
          title: MLBAMID
          type: integer
        PhotoUrl:
          nullable: true
          title: PhotoUrl
          type: string
        PlayerID:
          nullable: false
          title: PlayerID
          type: integer
        Position:
          nullable: true
          title: Position
          type: string
        PositionCategory:
          nullable: true
          title: PositionCategory
          type: string
        ProDebut:
          nullable: true
          title: ProDebut
          type: string
        RotoWirePlayerID:
          nullable: true
          title: RotoWirePlayerID
          type: integer
        RotoworldPlayerID:
          nullable: true
          title: RotoworldPlayerID
          type: integer
        Salary:
          nullable: true
          title: Salary
          type: integer
        SportRadarPlayerID:
          nullable: true
          title: SportRadarPlayerID
          type: string
        SportsDataID:
          nullable: true
          title: SportsDataID
          type: string
        SportsDirectPlayerID:
          nullable: true
          title: SportsDirectPlayerID
          type: integer
        StatsPlayerID:
          nullable: true
          title: StatsPlayerID
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
        ThrowHand:
          nullable: true
          title: ThrowHand
          type: string
        UpcomingGameID:
          nullable: true
          title: UpcomingGameID
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          title: UsaTodayHeadshotNoBackgroundUpdated
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          title: UsaTodayHeadshotNoBackgroundUrl
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          title: UsaTodayHeadshotUpdated
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          title: UsaTodayHeadshotUrl
          type: string
        UsaTodayPlayerID:
          nullable: true
          title: UsaTodayPlayerID
          type: integer
        Weight:
          nullable: true
          title: Weight
          type: integer
        XmlTeamPlayerID:
          nullable: true
          title: XmlTeamPlayerID
          type: integer
        YahooName:
          nullable: true
          title: YahooName
          type: string
        YahooPlayerID:
          nullable: true
          title: YahooPlayerID
          type: integer
      title: Player
    PlayerGame:
      example:
        IntentionalWalks: 7.203794749804894
        PitchingQualityStarts: 2.9679475177256287
        PitchingTriples: 6.918231485891953
        PlayerID: 1
        InjuryStartDate: InjuryStartDate
        PitchingHomeRuns: 2.9805393113464476
        HitByPitch: 2.380090174313445
        PitchingBlownSaves: 5.974942028545841
        DateTime: DateTime
        SubstituteBattingOrder: 2
        IsolatedPower: 4.332304821875894
        PitchingCompleteGames: 1.0639121808530916
        PitchingOnBasePlusSlugging: 8.910869026866926
        CaughtStealing: 4.459605034958679
        PopOuts: 6.176386745020588
        PitchingGroundOuts: 1.7045651386993
        Singles: 3.0269458094096646
        PitchingShutOuts: 4.943637496515336
        EarnedRunAverage: 1.7325933120207193
        Wins: 6.642953999458534
        GameID: 7
        Outs: 1.3949519358941398
        GroundOuts: 3.1497903714250555
        Position: Position
        PitchingInningStarted: 9
        PitchingHolds: 8.262795412896967
        FantasyDraftSalary: 8
        OnBasePercentage: 2.535258963197524
        PitchingCatchersInterference: 3.8008573585058016
        PitchingWeightedOnBasePercentage: 0.36062689002149373
        PitchingDoublePlays: 3.2841216543560217
        OpponentID: 4
        Losses: 0.58919091925136
        FantasyPointsDraftKings: 3.502657762086401
        HomeRuns: 8.675064425986758
        PitchingStrikeoutsPerNineInnings: 9.721723570087065
        PitchingSluggingPercentage: 0.4867146239815201
[...]
