openapi: 3.0.0
info:
  contact:
    x-twitter: theTechComp
  description: KeyServ API
  title: KeyServ
  version: 1.4.5
  x-apisguru-categories:
  - iot
  x-logo:
    url: https://twitter.com/theTechComp/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://keyserv.solutions/v1/spec.json
    version: "3.0"
  x-providerName: keyserv.solutions
servers:
- url: https://keyserv.solutions
paths:
  /v1/KeysApi/Current/{serial}:
    get:
      operationId: keys_api_current
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeysApi_Current_200_response'
          description: ""
      tags:
      - KeysApi
      x-openapi-router-controller: openapi_server.controllers.keys_api_controller
  /v1/KeysApi/Custom/{serial}:
    get:
      operationId: keys_api_custom
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: ""
      tags:
      - KeysApi
      x-openapi-router-controller: openapi_server.controllers.keys_api_controller
  /v1/KeysApi/Expiry/{serial}:
    get:
      operationId: keys_api_expiry
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeysApi_Expiry_200_response'
          description: ""
      tags:
      - KeysApi
      x-openapi-router-controller: openapi_server.controllers.keys_api_controller
  /v1/KeysApi/Find/{serial}:
    get:
      operationId: keys_api_find
      parameters:
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeysApi_Find_200_response'
          description: ""
      tags:
      - KeysApi
      x-openapi-router-controller: openapi_server.controllers.keys_api_controller
  /v1/ProductsApi:
    patch:
      operationId: products_api_patch_product
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsApi_PatchProduct2_request'
        required: true
        x-name: productJson
        x-position: 1
        x-body-name: body
      responses:
        "204":
          description: ""
      tags:
      - ProductsApi
      x-openapi-router-controller: openapi_server.controllers.products_api_controller
      x-codegen-request-body-name: body
    post:
      operationId: products_api_patch_product2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsApi_PatchProduct2_request'
        required: true
        x-name: productJson
        x-position: 1
        x-body-name: body
      responses:
        "204":
          description: ""
      tags:
      - ProductsApi
      x-openapi-router-controller: openapi_server.controllers.products_api_controller
      x-codegen-request-body-name: body
  /v1/ProductsApi/Count:
    post:
      operationId: products_api_count
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsApi_Count_request'
        required: true
        x-name: apiCreds
        x-position: 1
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsApi_Count_200_response'
          description: ""
      tags:
      - ProductsApi
      x-openapi-router-controller: openapi_server.controllers.products_api_controller
      x-codegen-request-body-name: body
  /v1/ProductsApi/Find:
    post:
      operationId: products_api_find
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsApi_Find_request'
        required: true
        x-name: apiCreds
        x-position: 1
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsApi_Find_200_response'
          description: ""
      tags:
      - ProductsApi
      x-openapi-router-controller: openapi_server.controllers.products_api_controller
      x-codegen-request-body-name: body
  /v1/ProductsApi/List:
    post:
      operationId: products_api_list
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsApi_Count_request'
        required: true
        x-name: apiCreds
        x-position: 1
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProductView'
                nullable: true
                type: array
          description: ""
      tags:
      - ProductsApi
      x-openapi-router-controller: openapi_server.controllers.products_api_controller
      x-codegen-request-body-name: body
  /v1/ProductsApi/Save:
    post:
      operationId: products_api_save
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsApi_PatchProduct2_request'
        required: true
        x-name: productJson
        x-position: 1
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsApi_Find_200_response'
          description: ""
      tags:
      - ProductsApi
      x-openapi-router-controller: openapi_server.controllers.products_api_controller
      x-codegen-request-body-name: body
  /v1/ProductsApi/{serial}:
    delete:
      operationId: products_api_delete_product
      parameters:
      - explode: false
        in: header
        name: X-Api-Key
        required: true
        schema:
          format: guid
          type: string
        style: simple
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      responses:
        "204":
          description: ""
      tags:
      - ProductsApi
      x-openapi-router-controller: openapi_server.controllers.products_api_controller
    post:
      operationId: products_api_delete_product2
      parameters:
      - explode: false
        in: header
        name: X-Api-Key
        required: true
        schema:
          format: guid
          type: string
        style: simple
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      responses:
        "204":
          description: ""
      tags:
      - ProductsApi
      x-openapi-router-controller: openapi_server.controllers.products_api_controller
  /v1/SubscriptionsApi:
    post:
      operationId: subscriptions_api_put_subscription2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionsApi_PutSubscription_request'
        required: true
        x-name: subscriptionJson
        x-position: 1
        x-body-name: body
      responses:
        "204":
          description: ""
      tags:
      - SubscriptionsApi
      x-openapi-router-controller: openapi_server.controllers.subscriptions_api_controller
      x-codegen-request-body-name: body
    put:
      operationId: subscriptions_api_put_subscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionsApi_PutSubscription_request'
        required: true
        x-name: subscriptionJson
        x-position: 1
        x-body-name: body
      responses:
        "204":
          description: ""
      tags:
      - SubscriptionsApi
      x-openapi-router-controller: openapi_server.controllers.subscriptions_api_controller
      x-codegen-request-body-name: body
  /v1/SubscriptionsApi/Count:
    post:
      operationId: subscriptions_api_count
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionsApi_Count_request'
        required: true
        x-name: apiCreds
        x-position: 1
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsApi_Count_200_response'
          description: ""
      tags:
      - SubscriptionsApi
      x-openapi-router-controller: openapi_server.controllers.subscriptions_api_controller
      x-codegen-request-body-name: body
  /v1/SubscriptionsApi/Disable:
    patch:
      operationId: subscriptions_api_disable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsApi_Find_request'
        required: true
        x-name: apiCreds
        x-position: 1
        x-body-name: body
      responses:
        "204":
          description: ""
      tags:
      - SubscriptionsApi
      x-openapi-router-controller: openapi_server.controllers.subscriptions_api_controller
      x-codegen-request-body-name: body
    post:
      operationId: subscriptions_api_disable2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsApi_Find_request'
        required: true
        x-name: apiCreds
        x-position: 1
        x-body-name: body
      responses:
        "204":
          description: ""
      tags:
      - SubscriptionsApi
      x-openapi-router-controller: openapi_server.controllers.subscriptions_api_controller
      x-codegen-request-body-name: body
  /v1/SubscriptionsApi/Enable:
    patch:
      operationId: subscriptions_api_enable
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsApi_Find_request'
        required: true
        x-name: apiCreds
        x-position: 1
        x-body-name: body
      responses:
        "204":
          description: ""
      tags:
      - SubscriptionsApi
      x-openapi-router-controller: openapi_server.controllers.subscriptions_api_controller
      x-codegen-request-body-name: body
    post:
      operationId: subscriptions_api_enable2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsApi_Find_request'
        required: true
        x-name: apiCreds
        x-position: 1
        x-body-name: body
      responses:
        "204":
          description: ""
      tags:
      - SubscriptionsApi
      x-openapi-router-controller: openapi_server.controllers.subscriptions_api_controller
      x-codegen-request-body-name: body
  /v1/SubscriptionsApi/Find:
    post:
      operationId: subscriptions_api_find
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsApi_Find_request'
        required: true
        x-name: apiCreds
        x-position: 1
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionsApi_Find_200_response'
          description: ""
      tags:
      - SubscriptionsApi
      x-openapi-router-controller: openapi_server.controllers.subscriptions_api_controller
      x-codegen-request-body-name: body
  /v1/SubscriptionsApi/List:
    post:
      operationId: subscriptions_api_list
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsApi_Find_request'
        required: true
        x-name: apiCreds
        x-position: 1
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SubscriptionView'
                nullable: true
                type: array
          description: ""
      tags:
      - SubscriptionsApi
      x-openapi-router-controller: openapi_server.controllers.subscriptions_api_controller
      x-codegen-request-body-name: body
  /v1/SubscriptionsApi/Save:
    post:
      operationId: subscriptions_api_save
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionsApi_PutSubscription_request'
        required: true
        x-name: subscriptionJson
        x-position: 1
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeysApi_Find_200_response'
          description: ""
      tags:
      - SubscriptionsApi
      x-openapi-router-controller: openapi_server.controllers.subscriptions_api_controller
      x-codegen-request-body-name: body
  /v1/SubscriptionsApi/{serial}:
    delete:
      operationId: subscriptions_api_delete_subscription
      parameters:
      - explode: false
        in: header
        name: X-Api-Key
        required: true
        schema:
          format: guid
          type: string
        style: simple
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - explode: true
        in: query
        name: keep
        required: true
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 2
      responses:
        "204":
          description: ""
      tags:
      - SubscriptionsApi
      x-openapi-router-controller: openapi_server.controllers.subscriptions_api_controller
    post:
      operationId: subscriptions_api_delete_subscription2
      parameters:
      - explode: false
        in: header
        name: X-Api-Key
        required: true
        schema:
          format: guid
          type: string
        style: simple
      - explode: false
        in: path
        name: serial
        required: true
        schema:
          format: guid
          type: string
        style: simple
        x-position: 1
      - explode: true
        in: query
        name: keep
        required: true
        schema:
          nullable: true
          type: boolean
        style: form
        x-position: 2
      responses:
        "204":
          description: ""
      tags:
      - SubscriptionsApi
      x-openapi-router-controller: openapi_server.controllers.subscriptions_api_controller
components:
  schemas:
    ApiCredentials:
      additionalProperties: false
      properties:
        key:
          format: guid
          title: key
          type: string
        serial:
          format: guid
          nullable: true
          title: serial
          type: string
      title: ApiCredentials
      type: object
    ApiKey:
      additionalProperties: false
      properties:
        key:
          format: guid
          title: key
          type: string
      title: ApiKey
      type: object
    CountOf:
      additionalProperties: false
      example:
        count: 0
      properties:
        count:
          format: int32
          title: count
          type: integer
      title: CountOf
      type: object
    CurrentKey:
      additionalProperties: false
      example:
        current: true
      properties:
        current:
          title: current
          type: boolean
      title: CurrentKey
      type: object
    Expiry:
      additionalProperties: false
      example:
        expires: 2000-01-23T04:56:07.000+00:00
        time: time
      properties:
        expires:
          format: date-time
          title: expires
          type: string
        time:
          format: time-span
          title: time
          type: string
      title: Expiry
      type: object
    FindCredentials:
      additionalProperties: false
      properties:
        key:
          format: guid
          title: key
          type: string
        serial:
          format: guid
          title: serial
          type: string
      title: FindCredentials
      type: object
    KeyView:
      additionalProperties: false
      example:
        current: true
        serial: serial
        callbackOnModify: true
        created: 2000-01-23T04:56:07.000+00:00
        custom: ""
        name: name
        action: action
        callbackUrl: https://openapi-generator.tech
        updated: 2000-01-23T04:56:07.000+00:00
        commenced: 2000-01-23T04:56:07.000+00:00
        frequency: frequency
      properties:
        action:
          minLength: 1
          title: action
          type: string
        callbackOnModify:
          title: Callback On Modified
          type: boolean
        callbackUrl:
          format: uri
          maxLength: 800
          minLength: 0
          nullable: true
          title: Callback Url
          type: string
        commenced:
          format: date-time
          minLength: 1
          title: Start From
          type: string
        created:
          format: date-time
          title: created
          type: string
        current:
          title: current
          type: boolean
        custom:
          nullable: true
          title: custom
        frequency:
          minLength: 1
          title: frequency
          type: string
        name:
          maxLength: 80
          minLength: 0
          nullable: true
          title: name
          type: string
        serial:
          format: guid
          title: serial
          type: string
        updated:
          format: date-time
          nullable: true
          title: updated
          type: string
      required:
      - action
      - callbackOnModify
      - commenced
      - frequency
      title: KeyView
      type: object
    ProductCreateModify:
      additionalProperties: false
      properties:
        custom:
          nullable: true
          title: custom
        key:
          format: guid
          title: key
          type: string
        name:
          nullable: true
          title: name
          type: string
        serial:
          format: guid
          nullable: true
          title: serial
          type: string
      title: ProductCreateModify
      type: object
    ProductView:
      additionalProperties: false
      example:
        subscriptions:
        - callbackOnModify: true
          created: 2000-01-23T04:56:07.000+00:00
          keys:
          - current: true
            serial: serial
            callbackOnModify: true
            created: 2000-01-23T04:56:07.000+00:00
            custom: ""
            name: name
            action: action
            callbackUrl: https://openapi-generator.tech
            updated: 2000-01-23T04:56:07.000+00:00
            commenced: 2000-01-23T04:56:07.000+00:00
            frequency: frequency
          - current: true
            serial: serial
            callbackOnModify: true
            created: 2000-01-23T04:56:07.000+00:00
            custom: ""
            name: name
            action: action
            callbackUrl: https://openapi-generator.tech
            updated: 2000-01-23T04:56:07.000+00:00
            commenced: 2000-01-23T04:56:07.000+00:00
            frequency: frequency
          custom: ""
          name: name
          action: action
          callbackUrl: https://openapi-generator.tech
          updated: 2000-01-23T04:56:07.000+00:00
          commenced: 2000-01-23T04:56:07.000+00:00
          frequency: frequency
        - callbackOnModify: true
          created: 2000-01-23T04:56:07.000+00:00
          keys:
          - current: true
            serial: serial
            callbackOnModify: true
            created: 2000-01-23T04:56:07.000+00:00
            custom: ""
            name: name
            action: action
            callbackUrl: https://openapi-generator.tech
            updated: 2000-01-23T04:56:07.000+00:00
            commenced: 2000-01-23T04:56:07.000+00:00
            frequency: frequency
          - current: true
            serial: serial
            callbackOnModify: true
            created: 2000-01-23T04:56:07.000+00:00
            custom: ""
            name: name
            action: action
            callbackUrl: https://openapi-generator.tech
            updated: 2000-01-23T04:56:07.000+00:00
            commenced: 2000-01-23T04:56:07.000+00:00
            frequency: frequency
          custom: ""
          name: name
          action: action
          callbackUrl: https://openapi-generator.tech
          updated: 2000-01-23T04:56:07.000+00:00
          commenced: 2000-01-23T04:56:07.000+00:00
          frequency: frequency
        serial: serial
        created: 2000-01-23T04:56:07.000+00:00
        custom: ""
        name: name
        updated: 2000-01-23T04:56:07.000+00:00
      properties:
        created:
          format: date-time
          title: created
          type: string
        custom:
          nullable: true
          title: custom
        name:
          maxLength: 80
          minLength: 0
          nullable: true
          title: name
          type: string
        serial:
          format: guid
          title: serial
          type: string
        subscriptions:
          items:
            $ref: '#/components/schemas/SubscriptionView'
          nullable: true
          title: subscriptions
          type: array
        updated:
          format: date-time
          nullable: true
          title: updated
          type: string
      title: ProductView
      type: object
    SubscriptionCreateModify:
      additionalProperties: false
      properties:
        action:
          minLength: 1
          title: action
          type: string
        callbackOnModify:
          nullable: true
          title: callbackOnModify
          type: boolean
        callbackUrl:
          format: uri
          maxLength: 800
          minLength: 0
          nullable: true
          title: Callback Url
          type: string
        custom:
          nullable: true
          title: custom
        frequency:
          minLength: 1
          title: frequency
          type: string
        key:
          format: guid
          title: key
          type: string
        name:
          maxLength: 80
          minLength: 0
          nullable: true
          title: name
          type: string
        serial:
          format: guid
          title: serial
          type: string
        startFrom:
          nullable: true
          title: startFrom
          type: string
      required:
      - action
      - frequency
      title: SubscriptionCreateModify
      type: object
    SubscriptionView:
      additionalProperties: false
      example:
        callbackOnModify: true
        created: 2000-01-23T04:56:07.000+00:00
        keys:
        - current: true
          serial: serial
          callbackOnModify: true
          created: 2000-01-23T04:56:07.000+00:00
          custom: ""
          name: name
          action: action
          callbackUrl: https://openapi-generator.tech
          updated: 2000-01-23T04:56:07.000+00:00
          commenced: 2000-01-23T04:56:07.000+00:00
          frequency: frequency
        - current: true
          serial: serial
          callbackOnModify: true
          created: 2000-01-23T04:56:07.000+00:00
          custom: ""
          name: name
          action: action
          callbackUrl: https://openapi-generator.tech
          updated: 2000-01-23T04:56:07.000+00:00
          commenced: 2000-01-23T04:56:07.000+00:00
          frequency: frequency
        custom: ""
        name: name
        action: action
        callbackUrl: https://openapi-generator.tech
        updated: 2000-01-23T04:56:07.000+00:00
        commenced: 2000-01-23T04:56:07.000+00:00
        frequency: frequency
      properties:
        action:
          minLength: 1
          title: action
          type: string
        callbackOnModify:
          title: Callback On Modified
          type: boolean
        callbackUrl:
          format: uri
          maxLength: 800
          minLength: 0
          nullable: true
          title: Callback Url
          type: string
        commenced:
          format: date-time
          minLength: 1
          title: Start From
          type: string
        created:
          format: date-time
          title: created
          type: string
        custom:
          nullable: true
          title: custom
        frequency:
          minLength: 1
          title: frequency
          type: string
        keys:
          items:
            $ref: '#/components/schemas/KeyView'
          nullable: true
          title: keys
          type: array
        name:
          maxLength: 80
          minLength: 0
          nullable: true
          title: name
          type: string
        updated:
          format: date-time
          nullable: true
          title: updated
          type: string
      required:
      - action
      - callbackOnModify
      - commenced
      - frequency
      title: SubscriptionView
      type: object
    KeysApi_Current_200_response:
      nullable: true
      oneOf:
      - $ref: '#/components/schemas/CurrentKey'
      title: KeysApi_Current_200_response
    KeysApi_Expiry_200_response:
      nullable: true
      oneOf:
      - $ref: '#/components/schemas/Expiry'
      title: KeysApi_Expiry_200_response
    KeysApi_Find_200_response:
      nullable: true
      oneOf:
      - $ref: '#/components/schemas/KeyView'
      title: KeysApi_Find_200_response
    ProductsApi_PatchProduct2_request:
      nullable: true
      oneOf:
      - $ref: '#/components/schemas/ProductCreateModify'
      title: ProductsApi_PatchProduct2_request
    ProductsApi_Count_request:
      nullable: true
      oneOf:
      - $ref: '#/components/schemas/ApiKey'
      title: ProductsApi_Count_request
    ProductsApi_Count_200_response:
      nullable: true
      oneOf:
      - $ref: '#/components/schemas/CountOf'
      title: ProductsApi_Count_200_response
    ProductsApi_Find_request:
      nullable: true
      oneOf:
      - $ref: '#/components/schemas/FindCredentials'
      title: ProductsApi_Find_request
    ProductsApi_Find_200_response:
      nullable: true
      oneOf:
      - $ref: '#/components/schemas/ProductView'
      title: ProductsApi_Find_200_response
    SubscriptionsApi_PutSubscription_request:
      nullable: true
      oneOf:
      - $ref: '#/components/schemas/SubscriptionCreateModify'
      title: SubscriptionsApi_PutSubscription_request
    SubscriptionsApi_Count_request:
      nullable: true
      oneOf:
      - $ref: '#/components/schemas/ApiCredentials'
      title: SubscriptionsApi_Count_request
    SubscriptionsApi_Find_200_response:
      nullable: true
      oneOf:
      - $ref: '#/components/schemas/SubscriptionView'
      title: SubscriptionsApi_Find_200_response
x-generator: NSwag v13.0.6.0 (NJsonSchema v10.0.23.0 (Newtonsoft.Json v11.0.0.0))
