openapi: 3.0.1
info:
  description: APIs to manage Peering resources through the Azure Resource Manager.
  title: PeeringManagementClient
  version: 2019-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/peering/resource-manager/Microsoft.Peering/preview/2019-06-01-preview/peering.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: peering
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Peering/operations:
    get:
      description: Lists all of the available API operations for peering resources.
      operationId: operations_list
      parameters:
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - Operations
      x-ms-examples:
        List peering operations:
          parameters:
            api-version: 2019-06-01-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Registers the subscription for the Peering Resource
                      Provider and enables the creation of peerings
                    operation: Registers the Peering Resource Provider
                    provider: Microsoft.Peering
                    resource: Peering Resource Provider
                  isDataAction: false
                  name: Microsoft.Peering/register/action
                - display:
                    description: Write any peerAsns
                    operation: Write PeerAsn
                    provider: Microsoft.Peering
                    resource: peerAsns
                  isDataAction: false
                  name: Microsoft.Peering/peerAsns/write
                - display:
                    description: Read any peerAsns
                    operation: Read PeerAsn
                    provider: Microsoft.Peering
                    resource: peerAsns
                  isDataAction: false
                  name: Microsoft.Peering/peerAsns/read
                - display:
                    description: Delete any peerAsns
                    operation: Delete PeerAsn
                    provider: Microsoft.Peering
                    resource: peerAsns
                  isDataAction: false
                  name: Microsoft.Peering/peerAsns/delete
                - display:
                    description: Read any peeringLocations
                    operation: Read PeeringLocation
                    provider: Microsoft.Peering
                    resource: peeringLocations
                  isDataAction: false
                  name: Microsoft.Peering/peeringLocations/read
                - display:
                    description: Read any legacyPeerings
                    operation: Read LegacyPeering
                    provider: Microsoft.Peering
                    resource: legacyPeerings
                  isDataAction: false
                  name: Microsoft.Peering/legacyPeerings/read
                - display:
                    description: Write any peerings
                    operation: Write Peering
                    provider: Microsoft.Peering
                    resource: peerings
                  isDataAction: false
                  name: Microsoft.Peering/peerings/write
                - display:
                    description: Read any peerings
                    operation: Read Peering
                    provider: Microsoft.Peering
                    resource: peerings
                  isDataAction: false
                  name: Microsoft.Peering/peerings/read
                - display:
                    description: Delete any peerings
                    operation: Delete Peering
                    provider: Microsoft.Peering
                    resource: peerings
                  isDataAction: false
                  name: Microsoft.Peering/peerings/delete
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/legacyPeerings:
    get:
      description: Lists all of the legacy peerings under the given subscription matching
        the specified kind and location.
      operationId: legacy_peerings_list
      parameters:
      - description: The location of the peering.
        in: query
        name: peeringLocation
        required: true
        schema:
          type: string
      - description: The kind of the peering.
        in: query
        name: kind
        required: true
        schema:
          enum:
          - Direct
          - Exchange
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - LegacyPeerings
      x-ms-examples:
        List legacy peerings:
          parameters:
            api-version: 2019-06-01-preview
            kind: Exchange
            peeringLocation: peeringLocation0
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/providers/Microsoft.Peering/peerings/peeringName
                  kind: Exchange
                  location: centralus
                  name: peeringName
                  properties:
                    exchange:
                      connections:
                      - bgpSession:
                          maxPrefixesAdvertisedV4: 1000
                          maxPrefixesAdvertisedV6: 100
                          md5AuthenticationKey: test-md5-auth-key
                          microsoftSessionIPv4Address: 192.168.3.1
                          microsoftSessionIPv6Address: fd00::1:1
                          peerSessionIPv4Address: 192.168.2.1
                          peerSessionIPv6Address: fd00::1
                          sessionStateV4: Established
                          sessionStateV6: Established
                        connectionState: Active
                        peeringDBFacilityId: 99999
                      - bgpSession:
                          maxPrefixesAdvertisedV4: 1000
                          maxPrefixesAdvertisedV6: 100
                          md5AuthenticationKey: test-md5-auth-key
                          microsoftSessionIPv4Address: 192.168.3.2
                          microsoftSessionIPv6Address: fd00::1:2
                          peerSessionIPv4Address: 192.168.2.2
                          peerSessionIPv6Address: fd00::2
                          sessionStateV4: Established
                          sessionStateV6: Established
                        connectionState: Active
                        peeringDBFacilityId: 99999
                      peerAsn:
                        id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                    peeringLocation: peeringLocation0
                    provisioningState: Succeeded
                  sku:
                    family: Exchange
                    name: Basic_Exchange_Free
                    size: Free
                    tier: Basic
                  type: Microsoft.Peering/peerings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.legacy_peerings_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns:
    get:
      description: Lists all of the peer ASNs under the given subscription.
      operationId: peer_asns_list_by_subscription
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAsnListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeerAsns
      x-ms-examples:
        List peer ASNs in a subscription:
          parameters:
            api-version: 2019-06-01-preview
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/peerAsnName
                  name: peerAsnName
                  properties:
                    peerAsn: 65000
                    peerContactInfo:
                      emails:
                      - abc@contoso.com
                      - xyz@contoso.com
                      phone:
                      - +1 (234) 567-8900
                    peerName: Contoso
                    validationState: Approved
                  type: Microsoft.Peering/peerAsns
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.peer_asns_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns/{peerAsnName}:
    delete:
      description: Deletes an existing peer ASN with the specified name under the
        given subscription.
      operationId: peer_asns_delete
      parameters:
      - description: The peer ASN name.
        in: path
        name: peerAsnName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeerAsns
      x-ms-examples:
        Delete a peer ASN:
          parameters:
            api-version: 2019-06-01-preview
            peerAsnName: peerAsnName
            subscriptionId: subId
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.peer_asns_controller
    get:
      description: Gets the peer ASN with the specified name under the given subscription.
      operationId: peer_asns_get
      parameters:
      - description: The peer ASN name.
        in: path
        name: peerAsnName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAsn'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeerAsns
      x-ms-examples:
        Get a peer ASN:
          parameters:
            api-version: 2019-06-01-preview
            peerAsnName: peerAsnName
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/peerAsnName
                name: peerAsnName
                properties:
                  peerAsn: 65000
                  peerContactInfo:
                    emails:
                    - abc@contoso.com
                    - xyz@contoso.com
                    phone:
                    - +1 (234) 567-8900
                  peerName: Contoso
                  validationState: Approved
                type: Microsoft.Peering/peerAsns
      x-openapi-router-controller: openapi_server.controllers.peer_asns_controller
    put:
      description: Creates a new peer ASN or updates an existing peer ASN with the
        specified name under the given subscription.
      operationId: peer_asns_create_or_update
      parameters:
      - description: The peer ASN name.
        in: path
        name: peerAsnName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeerAsn'
        description: The peer ASN.
        required: true
        x-body-name: peerAsn
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAsn'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAsn'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeerAsns
      x-ms-examples:
        Create a peer ASN:
          parameters:
            api-version: 2019-06-01-preview
            peerAsn:
              properties:
                peerAsn: 65000
                peerContactInfo:
                  emails:
                  - abc@contoso.com
                  - xyz@contoso.com
                  phone:
                  - +1 (234) 567-8900
                peerName: Contoso
            peerAsnName: peerAsnName
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/peerAsnName
                name: peerAsnName
                properties:
                  peerAsn: 65000
                  peerContactInfo:
                    emails:
                    - abc@contoso.com
                    - xyz@contoso.com
                    phone:
                    - +1 (234) 567-8900
                  peerName: Contoso
                  validationState: Pending
                type: Microsoft.Peering/peerAsns
            "201":
              body:
                id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/peerAsnName
                name: peerAsnName
                properties:
                  peerAsn: 65000
                  peerContactInfo:
                    emails:
                    - abc@contoso.com
                    - xyz@contoso.com
                    phone:
                    - +1 (234) 567-8900
                  peerName: Contoso
                  validationState: Pending
                type: Microsoft.Peering/peerAsns
      x-codegen-request-body-name: peerAsn
      x-openapi-router-controller: openapi_server.controllers.peer_asns_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringLocations:
    get:
      description: Lists all of the available peering locations for the specified
        kind of peering.
      operationId: peering_locations_list
      parameters:
      - description: The kind of the peering.
        in: query
        name: kind
        required: true
        schema:
          enum:
          - Direct
          - Exchange
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringLocationListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - PeeringLocations
      x-ms-examples:
        List direct peering locations:
          parameters:
            api-version: 2019-06-01-preview
            kind: Direct
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/providers/Microsoft.Peering/peeringLocations/peeringLocation1
                  kind: Direct
                  name: peeringLocation1
                  properties:
                    country: country1
                    direct:
                      bandwidthOffers:
                      - offerName: 10Gbps
                        valueInMbps: 10000
                      - offerName: 100Gbps
                        valueInMbps: 100000
                      peeringFacilities:
                      - address: address1
                        peeringDBFacilityId: 99999
                        peeringDBFacilityLink: https://www.peeringdb.com/fac/99999
                      - address: address3
                        peeringDBFacilityId: 99999
                        peeringDBFacilityLink: https://www.peeringdb.com/fac/99999
                    peeringLocation: peeringLocation1
                  type: Microsoft.Peering/peeringLocations
                - id: /subscriptions/subId/providers/Microsoft.Peering/peeringLocations/peeringLocation2
                  kind: Direct
                  name: peeringLocation2
                  properties:
                    country: country2
                    direct:
                      bandwidthOffers:
                      - offerName: 10Gbps
                        valueInMbps: 10000
                      - offerName: 100Gbps
                        valueInMbps: 100000
                      peeringFacilities:
                      - address: address2
                        peeringDBFacilityId: 99999
                        peeringDBFacilityLink: https://www.peeringdb.com/fac/99999
                    peeringLocation: peeringLocation2
                  type: Microsoft.Peering/peeringLocations
        List exchange peering locations:
          parameters:
            api-version: 2019-06-01-preview
            kind: Exchange
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/providers/Microsoft.Peering/peeringLocations/peeringLocation1
                  kind: Exchange
                  name: peeringLocation1
                  properties:
                    country: country1
                    exchange:
                      peeringFacilities:
                      - bandwidthInMbps: 10000
                        exchangeName: name1
                        facilityIPv4Prefix: 192.168.128.0/17
                        facilityIPv6Prefix: fd00::1000:0/98
                        microsoftIPv4Address: 192.168.131.1
                        microsoftIPv6Address: fd00::1:1
                        peeringDBFacilityId: 99999
                        peeringDBFacilityLink: https://www.peeringdb.com/ix/99999
                      - bandwidthInMbps: 10000
                        exchangeName: name3
                        facilityIPv4Prefix: 192.168.0.0/17
                        facilityIPv6Prefix: fd00::0/98
                        microsoftIPv4Address: 192.168.2.2
                        microsoftIPv6Address: fd00::2
                        peeringDBFacilityId: 99999
                        peeringDBFacilityLink: https://www.peeringdb.com/ix/99999
                    peeringLocation: peeringLocation1
                  type: Microsoft.Peering/peeringLocations
                - id: /subscriptions/subId/providers/Microsoft.Peering/peeringLocations/peeringLocation2
                  kind: Exchange
                  name: peeringLocation2
                  properties:
                    country: country2
                    exchange:
                      peeringFacilities:
                      - bandwidthInMbps: 10000
                        exchangeName: name2
                        facilityIPv4Prefix: 192.168.0.0/16
                        facilityIPv6Prefix: fd00::0/98
                        microsoftIPv4Address: 192.168.2.1
                        microsoftIPv6Address: fd00::2
                        peeringDBFacilityId: 99999
                        peeringDBFacilityLink: https://www.peeringdb.com/ix/99999
                    peeringLocation: peeringLocation2
                  type: Microsoft.Peering/peeringLocations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.peering_locations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerings:
    get:
      description: Lists all of the peerings under the given subscription.
      operationId: peerings_list_by_subscription
      parameters:
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - Peerings
      x-ms-examples:
        List peerings in a subscription:
          parameters:
            api-version: 2019-06-01-preview
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peerings/peeringName
                  kind: Exchange
                  location: eastus
                  name: peeringName
                  properties:
                    exchange:
                      connections:
                      - bgpSession:
                          maxPrefixesAdvertisedV4: 1000
                          maxPrefixesAdvertisedV6: 100
                          md5AuthenticationKey: test-md5-auth-key
                          microsoftSessionIPv4Address: 192.168.3.1
                          microsoftSessionIPv6Address: fd00::1:1
                          peerSessionIPv4Address: 192.168.2.1
                          peerSessionIPv6Address: fd00::1
                          sessionStateV4: Established
                          sessionStateV6: Established
                        connectionIdentifier: 00000000-0000-0000-0000-000000000000
                        connectionState: Active
                        peeringDBFacilityId: 99999
                      - bgpSession:
                          maxPrefixesAdvertisedV4: 1000
                          maxPrefixesAdvertisedV6: 100
                          md5AuthenticationKey: test-md5-auth-key
                          microsoftSessionIPv4Address: 192.168.3.2
                          microsoftSessionIPv6Address: fd00::1:2
                          peerSessionIPv4Address: 192.168.2.2
                          peerSessionIPv6Address: fd00::2
                          sessionStateV4: Established
                          sessionStateV6: Established
                        connectionIdentifier: 00000000-0000-0000-0000-000000000000
                        connectionState: Active
                        peeringDBFacilityId: 99999
                      peerAsn:
                        id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                    peeringLocation: peeringLocation0
                    provisioningState: Succeeded
                  sku:
                    family: Exchange
                    name: Basic_Exchange_Free
                    size: Free
                    tier: Basic
                  type: Microsoft.Peering/peerings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.peerings_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings:
    get:
      description: Lists all of the peerings under the given subscription and resource
        group.
      operationId: peerings_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeeringListResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - Peerings
      x-ms-examples:
        List peerings in a resource group:
          parameters:
            api-version: 2019-06-01-preview
            resourceGroupName: rgName
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peerings/peeringName
                  kind: Exchange
                  location: eastus
                  name: peeringName
                  properties:
                    exchange:
                      connections:
                      - bgpSession:
                          maxPrefixesAdvertisedV4: 1000
                          maxPrefixesAdvertisedV6: 100
                          md5AuthenticationKey: test-md5-auth-key
                          microsoftSessionIPv4Address: 192.168.3.1
                          microsoftSessionIPv6Address: fd00::1:1
                          peerSessionIPv4Address: 192.168.2.1
                          peerSessionIPv6Address: fd00::1
                          sessionStateV4: Established
                          sessionStateV6: Established
                        connectionIdentifier: 00000000-0000-0000-0000-000000000000
                        connectionState: Active
                        peeringDBFacilityId: 99999
                      - bgpSession:
                          maxPrefixesAdvertisedV4: 1000
                          maxPrefixesAdvertisedV6: 100
                          md5AuthenticationKey: test-md5-auth-key
                          microsoftSessionIPv4Address: 192.168.3.2
                          microsoftSessionIPv6Address: fd00::1:2
                          peerSessionIPv4Address: 192.168.2.2
                          peerSessionIPv6Address: fd00::2
                          sessionStateV4: Established
                          sessionStateV6: Established
                        connectionIdentifier: 00000000-0000-0000-0000-000000000000
                        connectionState: Active
                        peeringDBFacilityId: 99999
                      peerAsn:
                        id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                    peeringLocation: peeringLocation0
                    provisioningState: Succeeded
                  sku:
                    family: Exchange
                    name: Basic_Exchange_Free
                    size: Free
                    tier: Basic
                  type: Microsoft.Peering/peerings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.peerings_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}:
    delete:
      description: Deletes an existing peering with the specified name under the given
        subscription and resource group.
      operationId: peerings_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - Peerings
      x-ms-examples:
        Delete a peering:
          parameters:
            api-version: 2019-06-01-preview
            peeringName: peeringName
            resourceGroupName: rgName
            subscriptionId: subId
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.peerings_controller
    get:
      description: Gets an existing peering with the specified name under the given
        subscription and resource group.
      operationId: peerings_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Peering'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - Peerings
      x-ms-examples:
        Get a peering:
          parameters:
            api-version: 2019-06-01-preview
            peeringName: peeringName
            resourceGroupName: rgName
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peerings/peeringName
                kind: Exchange
                location: eastus
                name: peeringName
                properties:
                  exchange:
                    connections:
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.1
                        microsoftSessionIPv6Address: fd00::1:1
                        peerSessionIPv4Address: 192.168.2.1
                        peerSessionIPv6Address: fd00::1
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: 00000000-0000-0000-0000-000000000000
                      connectionState: Active
                      peeringDBFacilityId: 99999
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.2
                        microsoftSessionIPv6Address: fd00::1:2
                        peerSessionIPv4Address: 192.168.2.2
                        peerSessionIPv6Address: fd00::2
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: 00000000-0000-0000-0000-000000000000
                      connectionState: Active
                      peeringDBFacilityId: 99999
                    peerAsn:
                      id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                  peeringLocation: peeringLocation0
                  provisioningState: Succeeded
                sku:
                  family: Exchange
                  name: Basic_Exchange_Free
                  size: Free
                  tier: Basic
                type: Microsoft.Peering/peerings
      x-openapi-router-controller: openapi_server.controllers.peerings_controller
    patch:
      description: Updates tags for a peering with the specified name under the given
        subscription and resource group.
      operationId: peerings_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceTags'
        description: The resource tags.
        required: true
        x-body-name: tags
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Peering'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - Peerings
      x-ms-examples:
        Update peering tags:
          parameters:
            api-version: 2019-06-01-preview
            peeringName: peeringName
            resourceGroupName: rgName
            subscriptionId: subId
            tags:
              tags:
                tag0: value0
                tag1: value1
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peerings/peeringName
                kind: Exchange
                location: eastus
                name: peeringName
                properties:
                  exchange:
                    connections:
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.1
                        microsoftSessionIPv6Address: fd00::1:1
                        peerSessionIPv4Address: 192.168.2.1
                        peerSessionIPv6Address: fd00::1
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: 00000000-0000-0000-0000-000000000000
                      connectionState: Active
                      peeringDBFacilityId: 99999
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.2
                        microsoftSessionIPv6Address: fd00::1:2
                        peerSessionIPv4Address: 192.168.2.2
                        peerSessionIPv6Address: fd00::2
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: 00000000-0000-0000-0000-000000000000
                      connectionState: Active
                      peeringDBFacilityId: 99999
                    peerAsn:
                      id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                  peeringLocation: peeringLocation0
                  provisioningState: Succeeded
                sku:
                  family: Exchange
                  name: Basic_Exchange_Free
                  size: Free
                  tier: Basic
                tags:
                  tag0: value0
                  tag1: value1
                type: Microsoft.Peering/peerings
      x-codegen-request-body-name: tags
      x-openapi-router-controller: openapi_server.controllers.peerings_controller
    put:
      description: Creates a new peering or updates an existing peering with the specified
        name under the given subscription and resource group.
      operationId: peerings_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        schema:
          type: string
      - description: The Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Peering'
        description: The properties needed to create or update a peering.
        required: true
        x-body-name: peering
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Peering'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Peering'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation has failed.
      tags:
      - Peerings
      x-ms-examples:
        Create a direct peering:
          parameters:
            api-version: 2019-06-01-preview
            peering:
              kind: Direct
              location: eastus
              properties:
                direct:
                  connections:
                  - bandwidthInMbps: 10000
                    bgpSession:
                      maxPrefixesAdvertisedV4: 1000
                      maxPrefixesAdvertisedV6: 100
                      md5AuthenticationKey: test-md5-auth-key
                      sessionPrefixV4: 192.168.0.0/31
                      sessionPrefixV6: fd00::0/127
                    connectionIdentifier: 00000000-0000-0000-0000-000000000000
                    peeringDBFacilityId: 99999
                  - bandwidthInMbps: 10000
                    bgpSession:
                      maxPrefixesAdvertisedV4: 1000
                      maxPrefixesAdvertisedV6: 100
                      md5AuthenticationKey: test-md5-auth-key
                      sessionPrefixV4: 192.168.1.0/31
                      sessionPrefixV6: fd00::2/127
                    connectionIdentifier: 00000000-0000-0000-0000-000000000000
                    peeringDBFacilityId: 99999
                  peerAsn:
                    id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                  useForPeeringService: false
                peeringLocation: peeringLocation0
              sku:
                name: Basic_Direct_Free
            peeringName: peeringName
            resourceGroupName: rgName
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peerings/peeringName
                kind: Direct
                location: eastus
                name: peeringName
                properties:
                  direct:
                    connections:
                    - bandwidthInMbps: 10000
                      bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        sessionPrefixV4: 192.168.0.0/31
                        sessionPrefixV6: fd00::0/127
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: 00000000-0000-0000-0000-000000000000
                      connectionState: Active
                      peeringDBFacilityId: 99999
                      provisionedBandwidthInMbps: 10000
                    - bandwidthInMbps: 10000
                      bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        sessionPrefixV4: 192.168.1.0/31
                        sessionPrefixV6: fd00::2/127
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: 00000000-0000-0000-0000-000000000000
                      connectionState: Active
                      peeringDBFacilityId: 99999
                      provisionedBandwidthInMbps: 10000
                    peerAsn:
                      id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                    useForPeeringService: false
                  peeringLocation: peeringLocation0
                  provisioningState: Succeeded
                sku:
                  family: Direct
                  name: Basic_Direct_Free
                  size: Free
                  tier: Basic
                type: Microsoft.Peering/peerings
            "201":
              body:
                id: /subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peerings/peeringName
                kind: Direct
                location: eastus
                name: peeringName
                properties:
                  direct:
                    connections:
                    - bandwidthInMbps: 10000
                      bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        sessionPrefixV4: 192.168.0.0/31
                        sessionPrefixV6: fd00::0/127
                        sessionStateV4: PendingAdd
                        sessionStateV6: PendingAdd
                      connectionIdentifier: 00000000-0000-0000-0000-000000000000
                      connectionState: PendingApproval
                      peeringDBFacilityId: 99999
                      provisionedBandwidthInMbps: 0
                    - bandwidthInMbps: 10000
                      bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        sessionPrefixV4: 192.168.1.0/31
                        sessionPrefixV6: fd00::2/127
                        sessionStateV4: PendingAdd
                        sessionStateV6: PendingAdd
                      connectionIdentifier: 00000000-0000-0000-0000-000000000000
                      connectionState: PendingApproval
                      peeringDBFacilityId: 99999
                      provisionedBandwidthInMbps: 0
                    peerAsn:
                      id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                    useForPeeringService: false
                  peeringLocation: peeringLocation0
                  provisioningState: Succeeded
                sku:
                  family: Direct
                  name: Basic_Direct_Free
                  size: Free
                  tier: Basic
                type: Microsoft.Peering/peerings
        Create an exchange peering:
          parameters:
            api-version: 2019-06-01-preview
            peering:
              kind: Exchange
              location: eastus
              properties:
                exchange:
                  connections:
                  - bgpSession:
                      maxPrefixesAdvertisedV4: 1000
                      maxPrefixesAdvertisedV6: 100
                      md5AuthenticationKey: test-md5-auth-key
                      peerSessionIPv4Address: 192.168.2.1
                      peerSessionIPv6Address: fd00::1
                    connectionIdentifier: 00000000-0000-0000-0000-000000000000
                    peeringDBFacilityId: 99999
                  - bgpSession:
                      maxPrefixesAdvertisedV4: 1000
                      maxPrefixesAdvertisedV6: 100
                      md5AuthenticationKey: test-md5-auth-key
                      peerSessionIPv4Address: 192.168.2.2
                      peerSessionIPv6Address: fd00::2
                    connectionIdentifier: 00000000-0000-0000-0000-000000000000
                    peeringDBFacilityId: 99999
                  peerAsn:
                    id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                peeringLocation: peeringLocation0
              sku:
                name: Basic_Exchange_Free
            peeringName: peeringName
            resourceGroupName: rgName
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peerings/peeringName
                kind: Exchange
                location: eastus
                name: peeringName
                properties:
                  exchange:
                    connections:
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.1
                        microsoftSessionIPv6Address: fd00::1:1
                        peerSessionIPv4Address: 192.168.2.1
                        peerSessionIPv6Address: fd00::1
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: 00000000-0000-0000-0000-000000000000
                      connectionState: Active
                      peeringDBFacilityId: 99999
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.2
                        microsoftSessionIPv6Address: fd00::1:2
                        peerSessionIPv4Address: 192.168.2.2
                        peerSessionIPv6Address: fd00::2
                        sessionStateV4: Established
                        sessionStateV6: Established
                      connectionIdentifier: 00000000-0000-0000-0000-000000000000
                      connectionState: Active
                      peeringDBFacilityId: 99999
                    peerAsn:
                      id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                  peeringLocation: peeringLocation0
                  provisioningState: Succeeded
                sku:
                  family: Exchange
                  name: Basic_Exchange_Free
                  size: Free
                  tier: Basic
                type: Microsoft.Peering/peerings
            "201":
              body:
                id: /subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peerings/peeringName
                kind: Exchange
                location: eastus
                name: peeringName
                properties:
                  exchange:
                    connections:
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.1
                        microsoftSessionIPv6Address: fd00::1:1
                        peerSessionIPv4Address: 192.168.2.1
                        peerSessionIPv6Address: fd00::1
                        sessionStateV4: PendingAdd
                        sessionStateV6: PendingAdd
                      connectionIdentifier: 00000000-0000-0000-0000-000000000000
                      connectionState: PendingApproval
                      peeringDBFacilityId: 99999
                    - bgpSession:
                        maxPrefixesAdvertisedV4: 1000
                        maxPrefixesAdvertisedV6: 100
                        md5AuthenticationKey: test-md5-auth-key
                        microsoftSessionIPv4Address: 192.168.3.2
                        microsoftSessionIPv6Address: fd00::1:2
                        peerSessionIPv4Address: 192.168.2.2
                        peerSessionIPv6Address: fd00::2
                        sessionStateV4: PendingAdd
                        sessionStateV6: PendingAdd
                      connectionIdentifier: 00000000-0000-0000-0000-000000000000
                      connectionState: PendingApproval
                      peeringDBFacilityId: 99999
                    peerAsn:
                      id: /subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1
                  peeringLocation: peeringLocation0
                  provisioningState: Succeeded
                sku:
                  family: Exchange
                  name: Basic_Exchange_Free
                  size: Free
                  tier: Basic
                type: Microsoft.Peering/peerings
      x-codegen-request-body-name: peering
      x-openapi-router-controller: openapi_server.controllers.peerings_controller
components:
  parameters:
    ApiVersionParameter:
      description: The client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    BgpSession:
      description: The properties that define a BGP session.
      example:
        peerSessionIPv4Address: peerSessionIPv4Address
        md5AuthenticationKey: md5AuthenticationKey
        microsoftSessionIPv6Address: microsoftSessionIPv6Address
        sessionPrefixV4: sessionPrefixV4
        microsoftSessionIPv4Address: microsoftSessionIPv4Address
        peerSessionIPv6Address: peerSessionIPv6Address
        maxPrefixesAdvertisedV4: 6
        sessionStateV6: None
        sessionStateV4: None
        maxPrefixesAdvertisedV6: 1
        sessionPrefixV6: sessionPrefixV6
      properties:
        maxPrefixesAdvertisedV4:
          description: The maximum number of prefixes advertised over the IPv4 session.
          format: int32
          title: maxPrefixesAdvertisedV4
          type: integer
        maxPrefixesAdvertisedV6:
          description: The maximum number of prefixes advertised over the IPv6 session.
          format: int32
          title: maxPrefixesAdvertisedV6
          type: integer
        md5AuthenticationKey:
          description: The MD5 authentication key of the session.
          title: md5AuthenticationKey
          type: string
        microsoftSessionIPv4Address:
          description: The IPv4 session address on Microsoft's end.
          readOnly: true
          title: microsoftSessionIPv4Address
          type: string
        microsoftSessionIPv6Address:
          description: The IPv6 session address on Microsoft's end.
          readOnly: true
          title: microsoftSessionIPv6Address
          type: string
        peerSessionIPv4Address:
          description: The IPv4 session address on peer's end.
          title: peerSessionIPv4Address
          type: string
        peerSessionIPv6Address:
          description: The IPv6 session address on peer's end.
          title: peerSessionIPv6Address
          type: string
        sessionPrefixV4:
          description: The IPv4 prefix that contains both ends' IPv4 addresses.
          title: sessionPrefixV4
          type: string
        sessionPrefixV6:
          description: The IPv6 prefix that contains both ends' IPv6 addresses.
          title: sessionPrefixV6
          type: string
        sessionStateV4:
          description: The state of the IPv4 session.
          enum:
          - None
          - Idle
          - Connect
          - Active
          - OpenSent
          - OpenConfirm
          - OpenReceived
          - Established
          - PendingAdd
          - PendingUpdate
          - PendingRemove
          readOnly: true
          title: sessionStateV4
          type: string
          x-ms-enum:
            modelAsString: true
            name: sessionStateV4
        sessionStateV6:
          description: The state of the IPv6 session.
          enum:
          - None
          - Idle
          - Connect
          - Active
          - OpenSent
          - OpenConfirm
          - OpenReceived
          - Established
          - PendingAdd
          - PendingUpdate
          - PendingRemove
          readOnly: true
          title: sessionStateV6
          type: string
          x-ms-enum:
            modelAsString: true
            name: sessionStateV6
      title: BgpSession
      type: object
    ContactInfo:
      description: The contact information of the peer.
      example:
        emails:
        - emails
        - emails
        phone:
        - phone
        - phone
      properties:
        emails:
          description: The list of email addresses.
          items:
            type: string
          title: emails
          type: array
        phone:
          description: The list of contact numbers.
          items:
            type: string
          title: phone
          type: array
      title: ContactInfo
      type: object
    DirectConnection:
      description: The properties that define a direct connection.
      example:
        provisionedBandwidthInMbps: 5
        bandwidthInMbps: 0
        connectionState: None
        peeringDBFacilityId: 5
        bgpSession:
          peerSessionIPv4Address: peerSessionIPv4Address
          md5AuthenticationKey: md5AuthenticationKey
          microsoftSessionIPv6Address: microsoftSessionIPv6Address
          sessionPrefixV4: sessionPrefixV4
          microsoftSessionIPv4Address: microsoftSessionIPv4Address
          peerSessionIPv6Address: peerSessionIPv6Address
          maxPrefixesAdvertisedV4: 6
          sessionStateV6: None
          sessionStateV4: None
          maxPrefixesAdvertisedV6: 1
          sessionPrefixV6: sessionPrefixV6
        connectionIdentifier: connectionIdentifier
      properties:
        bandwidthInMbps:
          description: The bandwidth of the connection.
          format: int32
          title: bandwidthInMbps
          type: integer
        bgpSession:
          $ref: '#/components/schemas/BgpSession'
        connectionIdentifier:
          description: The unique identifier (GUID) for the connection.
          title: connectionIdentifier
          type: string
        connectionState:
          description: The state of the connection.
          enum:
          - None
          - PendingApproval
          - Approved
          - ProvisioningStarted
          - ProvisioningFailed
          - ProvisioningCompleted
          - Validating
          - Active
          readOnly: true
          title: connectionState
          type: string
          x-ms-enum:
            modelAsString: true
            name: connectionState
        peeringDBFacilityId:
          description: The PeeringDB.com ID of the facility at which the connection
            has to be set up.
          format: int32
          title: peeringDBFacilityId
          type: integer
        provisionedBandwidthInMbps:
          description: The bandwidth that is actually provisioned.
          format: int32
          title: provisionedBandwidthInMbps
          type: integer
      title: DirectConnection
      type: object
    DirectPeeringFacility:
      description: The properties that define a direct peering facility.
      example:
        address: address
        peeringDBFacilityId: 6
        peeringDBFacilityLink: peeringDBFacilityLink
      properties:
        address:
          description: The address of the direct peering facility.
          title: address
          type: string
        peeringDBFacilityId:
          description: The PeeringDB.com ID of the facility.
          format: int32
          title: peeringDBFacilityId
          type: integer
        peeringDBFacilityLink:
          description: The PeeringDB.com URL of the facility.
          title: peeringDBFacilityLink
          type: string
      title: DirectPeeringFacility
      type: object
    ErrorResponse:
      description: The error response that indicates why an operation has failed.
      example:
        code: code
        message: message
      properties:
        code:
          description: The error code.
          readOnly: true
          title: code
          type: string
        message:
          description: The error message.
          readOnly: true
          title: message
          type: string
      title: ErrorResponse
      type: object
    ExchangeConnection:
      description: The properties that define an exchange connection.
      example:
        connectionState: None
        peeringDBFacilityId: 2
        bgpSession:
          peerSessionIPv4Address: peerSessionIPv4Address
          md5AuthenticationKey: md5AuthenticationKey
          microsoftSessionIPv6Address: microsoftSessionIPv6Address
          sessionPrefixV4: sessionPrefixV4
          microsoftSessionIPv4Address: microsoftSessionIPv4Address
          peerSessionIPv6Address: peerSessionIPv6Address
          maxPrefixesAdvertisedV4: 6
          sessionStateV6: None
          sessionStateV4: None
          maxPrefixesAdvertisedV6: 1
          sessionPrefixV6: sessionPrefixV6
        connectionIdentifier: connectionIdentifier
      properties:
        bgpSession:
          $ref: '#/components/schemas/BgpSession'
        connectionIdentifier:
          description: The unique identifier (GUID) for the connection.
          title: connectionIdentifier
          type: string
        connectionState:
          description: The state of the connection.
          enum:
          - None
          - PendingApproval
          - Approved
          - ProvisioningStarted
          - ProvisioningFailed
          - ProvisioningCompleted
          - Validating
          - Active
          readOnly: true
          title: connectionState
          type: string
          x-ms-enum:
            modelAsString: true
            name: connectionState
        peeringDBFacilityId:
          description: The PeeringDB.com ID of the facility at which the connection
            has to be set up.
          format: int32
          title: peeringDBFacilityId
          type: integer
      title: ExchangeConnection
      type: object
    ExchangePeeringFacility:
      description: The properties that define an exchange peering facility.
      example:
        microsoftIPv6Address: microsoftIPv6Address
        bandwidthInMbps: 1
        peeringDBFacilityId: 5
        exchangeName: exchangeName
        microsoftIPv4Address: microsoftIPv4Address
        facilityIPv4Prefix: facilityIPv4Prefix
        peeringDBFacilityLink: peeringDBFacilityLink
        facilityIPv6Prefix: facilityIPv6Prefix
      properties:
        bandwidthInMbps:
          description: The bandwidth of the connection between Microsoft and the exchange
            peering facility.
          format: int32
          title: bandwidthInMbps
          type: integer
        exchangeName:
          description: The name of the exchange peering facility.
          title: exchangeName
          type: string
        facilityIPv4Prefix:
          description: The IPv4 prefixes associated with the exchange peering facility.
          title: facilityIPv4Prefix
          type: string
        facilityIPv6Prefix:
          description: The IPv6 prefixes associated with the exchange peering facility.
          title: facilityIPv6Prefix
          type: string
        microsoftIPv4Address:
          description: The IPv4 address of Microsoft at the exchange peering facility.
          title: microsoftIPv4Address
          type: string
        microsoftIPv6Address:
          description: The IPv6 address of Microsoft at the exchange peering facility.
          title: microsoftIPv6Address
          type: string
        peeringDBFacilityId:
          description: The PeeringDB.com ID of the facility.
          format: int32
          title: peeringDBFacilityId
          type: integer
        peeringDBFacilityLink:
          description: The PeeringDB.com URL of the facility.
          title: peeringDBFacilityLink
          type: string
      title: ExchangePeeringFacility
      type: object
    Operation:
      description: The peering API operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        isDataAction: true
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplayInfo'
        isDataAction:
          description: The flag that indicates whether the operation applies to data
            plane.
          readOnly: true
          title: isDataAction
          type: boolean
        name:
          description: The name of the operation.
          readOnly: true
          title: name
          type: string
      title: Operation
      type: object
    OperationDisplayInfo:
      description: The information related to the operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description of the operation.
          readOnly: true
          title: description
          type: string
        operation:
          description: The name of the operation.
          readOnly: true
          title: operation
          type: string
        provider:
          description: The name of the resource provider.
          readOnly: true
          title: provider
          type: string
        resource:
          description: The type of the resource.
          readOnly: true
          title: resource
          type: string
      title: OperationDisplayInfo
      type: object
    OperationListResult:
      description: The paginated list of peering API operations.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          isDataAction: true
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          isDataAction: true
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: The link to fetch the next page of peering API operations.
          title: nextLink
          type: string
        value:
          description: The list of peering API operations.
          items:
            $ref: '#/components/schemas/Operation'
          title: value
          type: array
      title: OperationListResult
      type: object
    PeerAsn:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The essential information related to the peer's ASN.
      example:
        properties:
          peerName: peerName
          peerContactInfo:
            emails:
            - emails
            - emails
            phone:
            - phone
            - phone
          peerAsn: 0
          validationState: None
      properties:
        properties:
          $ref: '#/components/schemas/PeerAsnProperties'
      title: PeerAsn
    PeerAsnListResult:
      description: The paginated list of peer ASNs.
      example:
        value:
        - properties:
            peerName: peerName
            peerContactInfo:
              emails:
              - emails
              - emails
              phone:
              - phone
              - phone
            peerAsn: 0
            validationState: None
        - properties:
            peerName: peerName
            peerContactInfo:
              emails:
              - emails
              - emails
              phone:
              - phone
              - phone
            peerAsn: 0
            validationState: None
        nextLink: nextLink
      properties:
        nextLink:
          description: The link to fetch the next page of peer ASNs.
          title: nextLink
          type: string
        value:
          description: The list of peer ASNs.
          items:
            $ref: '#/components/schemas/PeerAsn'
          title: value
          type: array
      title: PeerAsnListResult
      type: object
    PeerAsnProperties:
      description: The properties that define a peer's ASN.
      example:
        peerName: peerName
        peerContactInfo:
          emails:
          - emails
          - emails
          phone:
          - phone
          - phone
        peerAsn: 0
        validationState: None
      properties:
        peerAsn:
          description: The Autonomous System Number (ASN) of the peer.
          format: int32
          title: peerAsn
          type: integer
        peerContactInfo:
          $ref: '#/components/schemas/ContactInfo'
        peerName:
          description: The name of the peer.
          title: peerName
          type: string
        validationState:
          description: The validation state of the ASN associated with the peer.
          enum:
          - None
          - Pending
          - Approved
          - Failed
          title: validationState
          type: string
          x-ms-enum:
            modelAsString: true
            name: validationState
      title: PeerAsnProperties
      type: object
    Peering:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Peering is a logical representation of a set of connections to
        the Microsoft Cloud Edge at a location.
      example:
        kind: Direct
        location: location
        sku:
          size: Free
          tier: Basic
          name: Basic_Exchange_Free
          family: Direct
        properties:
          direct:
            useForPeeringService: true
            peerAsn:
              id: id
            connections:
            - provisionedBandwidthInMbps: 5
              bandwidthInMbps: 0
              connectionState: None
              peeringDBFacilityId: 5
              bgpSession:
                peerSessionIPv4Address: peerSessionIPv4Address
                md5AuthenticationKey: md5AuthenticationKey
                microsoftSessionIPv6Address: microsoftSessionIPv6Address
                sessionPrefixV4: sessionPrefixV4
                microsoftSessionIPv4Address: microsoftSessionIPv4Address
                peerSessionIPv6Address: peerSessionIPv6Address
                maxPrefixesAdvertisedV4: 6
                sessionStateV6: None
                sessionStateV4: None
                maxPrefixesAdvertisedV6: 1
                sessionPrefixV6: sessionPrefixV6
              connectionIdentifier: connectionIdentifier
            - provisionedBandwidthInMbps: 5
              bandwidthInMbps: 0
              connectionState: None
              peeringDBFacilityId: 5
              bgpSession:
                peerSessionIPv4Address: peerSessionIPv4Address
                md5AuthenticationKey: md5AuthenticationKey
                microsoftSessionIPv6Address: microsoftSessionIPv6Address
                sessionPrefixV4: sessionPrefixV4
                microsoftSessionIPv4Address: microsoftSessionIPv4Address
                peerSessionIPv6Address: peerSessionIPv6Address
                maxPrefixesAdvertisedV4: 6
                sessionStateV6: None
                sessionStateV4: None
                maxPrefixesAdvertisedV6: 1
                sessionPrefixV6: sessionPrefixV6
              connectionIdentifier: connectionIdentifier
          exchange:
            peerAsn:
              id: id
            connections:
            - connectionState: None
              peeringDBFacilityId: 2
              bgpSession:
                peerSessionIPv4Address: peerSessionIPv4Address
                md5AuthenticationKey: md5AuthenticationKey
                microsoftSessionIPv6Address: microsoftSessionIPv6Address
                sessionPrefixV4: sessionPrefixV4
                microsoftSessionIPv4Address: microsoftSessionIPv4Address
                peerSessionIPv6Address: peerSessionIPv6Address
                maxPrefixesAdvertisedV4: 6
                sessionStateV6: None
                sessionStateV4: None
                maxPrefixesAdvertisedV6: 1
                sessionPrefixV6: sessionPrefixV6
              connectionIdentifier: connectionIdentifier
            - connectionState: None
              peeringDBFacilityId: 2
              bgpSession:
                peerSessionIPv4Address: peerSessionIPv4Address
                md5AuthenticationKey: md5AuthenticationKey
                microsoftSessionIPv6Address: microsoftSessionIPv6Address
                sessionPrefixV4: sessionPrefixV4
                microsoftSessionIPv4Address: microsoftSessionIPv4Address
                peerSessionIPv6Address: peerSessionIPv6Address
                maxPrefixesAdvertisedV4: 6
                sessionStateV6: None
                sessionStateV4: None
                maxPrefixesAdvertisedV6: 1
                sessionPrefixV6: sessionPrefixV6
              connectionIdentifier: connectionIdentifier
          provisioningState: Succeeded
          peeringLocation: peeringLocation
        tags:
          key: tags
      properties:
        kind:
          description: The kind of the peering.
          enum:
          - Direct
          - Exchange
          title: kind
          type: string
          x-ms-enum:
            modelAsString: true
            name: kind
        location:
          description: The location of the resource.
          title: location
          type: string
          x-ms-mutability:
          - read
          - create
        properties:
          $ref: '#/components/schemas/PeeringProperties'
        sku:
          $ref: '#/components/schemas/PeeringSku'
        tags:
          additionalProperties:
            type: string
          description: The resource tags.
          title: tags
          type: object
      required:
      - kind
      - location
      - sku
      title: Peering
    PeeringBandwidthOffer:
      description: The properties that define a peering bandwidth offer.
      example:
        offerName: offerName
        valueInMbps: 0
      properties:
        offerName:
          description: The name of the bandwidth offer.
          title: offerName
          type: string
        valueInMbps:
          description: The value of the bandwidth offer in Mbps.
          format: int32
          title: valueInMbps
          type: integer
      title: PeeringBandwidthOffer
      type: object
    PeeringListResult:
      description: The paginated list of peerings.
      example:
        value:
        - kind: Direct
          location: location
          sku:
            size: Free
            tier: Basic
            name: Basic_Exchange_Free
            family: Direct
          properties:
            direct:
              useForPeeringService: true
              peerAsn:
                id: id
              connections:
              - provisionedBandwidthInMbps: 5
                bandwidthInMbps: 0
                connectionState: None
                peeringDBFacilityId: 5
                bgpSession:
                  peerSessionIPv4Address: peerSessionIPv4Address
                  md5AuthenticationKey: md5AuthenticationKey
                  microsoftSessionIPv6Address: microsoftSessionIPv6Address
                  sessionPrefixV4: sessionPrefixV4
                  microsoftSessionIPv4Address: microsoftSessionIPv4Address
                  peerSessionIPv6Address: peerSessionIPv6Address
                  maxPrefixesAdvertisedV4: 6
                  sessionStateV6: None
                  sessionStateV4: None
                  maxPrefixesAdvertisedV6: 1
                  sessionPrefixV6: sessionPrefixV6
                connectionIdentifier: connectionIdentifier
              - provisionedBandwidthInMbps: 5
                bandwidthInMbps: 0
                connectionState: None
                peeringDBFacilityId: 5
                bgpSession:
                  peerSessionIPv4Address: peerSessionIPv4Address
                  md5AuthenticationKey: md5AuthenticationKey
                  microsoftSessionIPv6Address: microsoftSessionIPv6Address
                  sessionPrefixV4: sessionPrefixV4
                  microsoftSessionIPv4Address: microsoftSessionIPv4Address
                  peerSessionIPv6Address: peerSessionIPv6Address
                  maxPrefixesAdvertisedV4: 6
                  sessionStateV6: None
                  sessionStateV4: None
                  maxPrefixesAdvertisedV6: 1
                  sessionPrefixV6: sessionPrefixV6
                connectionIdentifier: connectionIdentifier
            exchange:
              peerAsn:
                id: id
              connections:
              - connectionState: None
                peeringDBFacilityId: 2
                bgpSession:
                  peerSessionIPv4Address: peerSessionIPv4Address
                  md5AuthenticationKey: md5AuthenticationKey
                  microsoftSessionIPv6Address: microsoftSessionIPv6Address
                  sessionPrefixV4: sessionPrefixV4
                  microsoftSessionIPv4Address: microsoftSessionIPv4Address
                  peerSessionIPv6Address: peerSessionIPv6Address
                  maxPrefixesAdvertisedV4: 6
                  sessionStateV6: None
                  sessionStateV4: None
                  maxPrefixesAdvertisedV6: 1
                  sessionPrefixV6: sessionPrefixV6
                connectionIdentifier: connectionIdentifier
              - connectionState: None
                peeringDBFacilityId: 2
                bgpSession:
                  peerSessionIPv4Address: peerSessionIPv4Address
                  md5AuthenticationKey: md5AuthenticationKey
                  microsoftSessionIPv6Address: microsoftSessionIPv6Address
                  sessionPrefixV4: sessionPrefixV4
                  microsoftSessionIPv4Address: microsoftSessionIPv4Address
                  peerSessionIPv6Address: peerSessionIPv6Address
                  maxPrefixesAdvertisedV4: 6
                  sessionStateV6: None
                  sessionStateV4: None
                  maxPrefixesAdvertisedV6: 1
                  sessionPrefixV6: sessionPrefixV6
                connectionIdentifier: connectionIdentifier
            provisioningState: Succeeded
            peeringLocation: peeringLocation
          tags:
            key: tags
        - kind: Direct
          location: location
          sku:
            size: Free
            tier: Basic
            name: Basic_Exchange_Free
            family: Direct
          properties:
            direct:
              useForPeeringService: true
              peerAsn:
                id: id
              connections:
              - provisionedBandwidthInMbps: 5
                bandwidthInMbps: 0
                connectionState: None
                peeringDBFacilityId: 5
                bgpSession:
                  peerSessionIPv4Address: peerSessionIPv4Address
                  md5AuthenticationKey: md5AuthenticationKey
                  microsoftSessionIPv6Address: microsoftSessionIPv6Address
                  sessionPrefixV4: sessionPrefixV4
                  microsoftSessionIPv4Address: microsoftSessionIPv4Address
                  peerSessionIPv6Address: peerSessionIPv6Address
                  maxPrefixesAdvertisedV4: 6
                  sessionStateV6: None
                  sessionStateV4: None
                  maxPrefixesAdvertisedV6: 1
                  sessionPrefixV6: sessionPrefixV6
                connectionIdentifier: connectionIdentifier
              - provisionedBandwidthInMbps: 5
                bandwidthInMbps: 0
                connectionState: None
                peeringDBFacilityId: 5
                bgpSession:
                  peerSessionIPv4Address: peerSessionIPv4Address
                  md5AuthenticationKey: md5AuthenticationKey
                  microsoftSessionIPv6Address: microsoftSessionIPv6Address
                  sessionPrefixV4: sessionPrefixV4
                  microsoftSessionIPv4Address: microsoftSessionIPv4Address
                  peerSessionIPv6Address: peerSessionIPv6Address
                  maxPrefixesAdvertisedV4: 6
                  sessionStateV6: None
                  sessionStateV4: None
                  maxPrefixesAdvertisedV6: 1
                  sessionPrefixV6: sessionPrefixV6
                connectionIdentifier: connectionIdentifier
            exchange:
              peerAsn:
                id: id
              connections:
              - connectionState: None
                peeringDBFacilityId: 2
                bgpSession:
                  peerSessionIPv4Address: peerSessionIPv4Address
                  md5AuthenticationKey: md5AuthenticationKey
                  microsoftSessionIPv6Address: microsoftSessionIPv6Address
                  sessionPrefixV4: sessionPrefixV4
                  microsoftSessionIPv4Address: microsoftSessionIPv4Address
                  peerSessionIPv6Address: peerSessionIPv6Address
                  maxPrefixesAdvertisedV4: 6
                  sessionStateV6: None
                  sessionStateV4: None
                  maxPrefixesAdvertisedV6: 1
                  sessionPrefixV6: sessionPrefixV6
                connectionIdentifier: connectionIdentifier
              - connectionState: None
                peeringDBFacilityId: 2
                bgpSession:
                  peerSessionIPv4Address: peerSessionIPv4Address
                  md5AuthenticationKey: md5AuthenticationKey
                  microsoftSessionIPv6Address: microsoftSessionIPv6Address
                  sessionPrefixV4: sessionPrefixV4
                  microsoftSessionIPv4Address: microsoftSessionIPv4Address
                  peerSessionIPv6Address: peerSessionIPv6Address
                  maxPrefixesAdvertisedV4: 6
                  sessionStateV6: None
                  sessionStateV4: None
                  maxPrefixesAdvertisedV6: 1
                  sessionPrefixV6: sessionPrefixV6
                connectionIdentifier: connectionIdentifier
            provisioningState: Succeeded
            peeringLocation: peeringLocation
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: The link to fetch the next page of peerings.
          title: nextLink
          type: string
        value:
          description: The list of peerings.
          items:
            $ref: '#/components/schemas/Peering'
          title: value
          type: array
      title: PeeringListResult
      type: object
    PeeringLocation:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Peering location is where connectivity could be established to
        the Microsoft Cloud Edge.
      example:
        kind: Direct
        properties:
          country: country
          azureRegion: azureRegion
          direct:
            bandwidthOffers:
            - offerName: offerName
              valueInMbps: 0
            - offerName: offerName
              valueInMbps: 0
            peeringFacilities:
            - address: address
              peeringDBFacilityId: 6
              peeringDBFacilityLink: peeringDBFacilityLink
            - address: address
              peeringDBFacilityId: 6
              peeringDBFacilityLink: peeringDBFacilityLink
          exchange:
            peeringFacilities:
            - microsoftIPv6Address: microsoftIPv6Address
              bandwidthInMbps: 1
              peeringDBFacilityId: 5
              exchangeName: exchangeName
              microsoftIPv4Address: microsoftIPv4Address
              facilityIPv4Prefix: facilityIPv4Prefix
              peeringDBFacilityLink: peeringDBFacilityLink
              facilityIPv6Prefix: facilityIPv6Prefix
            - microsoftIPv6Address: microsoftIPv6Address
              bandwidthInMbps: 1
              peeringDBFacilityId: 5
              exchangeName: exchangeName
              microsoftIPv4Address: microsoftIPv4Address
              facilityIPv4Prefix: facilityIPv4Prefix
              peeringDBFacilityLink: peeringDBFacilityLink
              facilityIPv6Prefix: facilityIPv6Prefix
          peeringLocation: peeringLocation
      properties:
        kind:
          description: The kind of peering that the peering location supports.
          enum:
          - Direct
          - Exchange
          title: kind
          type: string
          x-ms-enum:
            modelAsString: true
            name: kind
        properties:
          $ref: '#/components/schemas/PeeringLocationProperties'
      title: PeeringLocation
    PeeringLocationListResult:
      description: The paginated list of peering locations.
      example:
        value:
        - kind: Direct
          properties:
            country: country
            azureRegion: azureRegion
            direct:
              bandwidthOffers:
              - offerName: offerName
                valueInMbps: 0
              - offerName: offerName
                valueInMbps: 0
              peeringFacilities:
              - address: address
                peeringDBFacilityId: 6
                peeringDBFacilityLink: peeringDBFacilityLink
              - address: address
                peeringDBFacilityId: 6
                peeringDBFacilityLink: peeringDBFacilityLink
            exchange:
              peeringFacilities:
              - microsoftIPv6Address: microsoftIPv6Address
                bandwidthInMbps: 1
                peeringDBFacilityId: 5
                exchangeName: exchangeName
                microsoftIPv4Address: microsoftIPv4Address
                facilityIPv4Prefix: facilityIPv4Prefix
                peeringDBFacilityLink: peeringDBFacilityLink
                facilityIPv6Prefix: facilityIPv6Prefix
              - microsoftIPv6Address: microsoftIPv6Address
                bandwidthInMbps: 1
                peeringDBFacilityId: 5
                exchangeName: exchangeName
                microsoftIPv4Address: microsoftIPv4Address
                facilityIPv4Prefix: facilityIPv4Prefix
                peeringDBFacilityLink: peeringDBFacilityLink
                facilityIPv6Prefix: facilityIPv6Prefix
            peeringLocation: peeringLocation
        - kind: Direct
          properties:
            country: country
            azureRegion: azureRegion
            direct:
              bandwidthOffers:
              - offerName: offerName
                valueInMbps: 0
              - offerName: offerName
                valueInMbps: 0
              peeringFacilities:
              - address: address
                peeringDBFacilityId: 6
                peeringDBFacilityLink: peeringDBFacilityLink
              - address: address
                peeringDBFacilityId: 6
                peeringDBFacilityLink: peeringDBFacilityLink
            exchange:
              peeringFacilities:
              - microsoftIPv6Address: microsoftIPv6Address
                bandwidthInMbps: 1
                peeringDBFacilityId: 5
                exchangeName: exchangeName
                microsoftIPv4Address: microsoftIPv4Address
                facilityIPv4Prefix: facilityIPv4Prefix
                peeringDBFacilityLink: peeringDBFacilityLink
                facilityIPv6Prefix: facilityIPv6Prefix
              - microsoftIPv6Address: microsoftIPv6Address
                bandwidthInMbps: 1
                peeringDBFacilityId: 5
                exchangeName: exchangeName
                microsoftIPv4Address: microsoftIPv4Address
                facilityIPv4Prefix: facilityIPv4Prefix
                peeringDBFacilityLink: peeringDBFacilityLink
                facilityIPv6Prefix: facilityIPv6Prefix
            peeringLocation: peeringLocation
        nextLink: nextLink
      properties:
        nextLink:
          description: The link to fetch the next page of peering locations.
          title: nextLink
          type: string
        value:
          description: The list of peering locations.
          items:
            $ref: '#/components/schemas/PeeringLocation'
          title: value
          type: array
      title: PeeringLocationListResult
      type: object
    PeeringLocationProperties:
      description: The properties that define a peering location.
      example:
        country: country
        azureRegion: azureRegion
        direct:
          bandwidthOffers:
          - offerName: offerName
            valueInMbps: 0
          - offerName: offerName
            valueInMbps: 0
          peeringFacilities:
          - address: address
            peeringDBFacilityId: 6
            peeringDBFacilityLink: peeringDBFacilityLink
          - address: address
            peeringDBFacilityId: 6
            peeringDBFacilityLink: peeringDBFacilityLink
        exchange:
          peeringFacilities:
          - microsoftIPv6Address: microsoftIPv6Address
            bandwidthInMbps: 1
            peeringDBFacilityId: 5
            exchangeName: exchangeName
            microsoftIPv4Address: microsoftIPv4Address
            facilityIPv4Prefix: facilityIPv4Prefix
            peeringDBFacilityLink: peeringDBFacilityLink
            facilityIPv6Prefix: facilityIPv6Prefix
          - microsoftIPv6Address: microsoftIPv6Address
            bandwidthInMbps: 1
            peeringDBFacilityId: 5
            exchangeName: exchangeName
            microsoftIPv4Address: microsoftIPv4Address
            facilityIPv4Prefix: facilityIPv4Prefix
            peeringDBFacilityLink: peeringDBFacilityLink
            facilityIPv6Prefix: facilityIPv6Prefix
        peeringLocation: peeringLocation
      properties:
        azureRegion:
          description: The Azure region associated with the peering location.
          title: azureRegion
          type: string
        country:
          description: The country in which the peering location exists.
          title: country
          type: string
        direct:
          $ref: '#/components/schemas/PeeringLocationPropertiesDirect'
        exchange:
          $ref: '#/components/schemas/PeeringLocationPropertiesExchange'
        peeringLocation:
          description: The name of the peering location.
          title: peeringLocation
          type: string
      title: PeeringLocationProperties
      type: object
    PeeringLocationPropertiesDirect:
      description: The properties that define a direct peering location.
      example:
        bandwidthOffers:
        - offerName: offerName
          valueInMbps: 0
        - offerName: offerName
          valueInMbps: 0
        peeringFacilities:
        - address: address
          peeringDBFacilityId: 6
          peeringDBFacilityLink: peeringDBFacilityLink
        - address: address
          peeringDBFacilityId: 6
          peeringDBFacilityLink: peeringDBFacilityLink
      properties:
        bandwidthOffers:
          description: The list of bandwidth offers available at the peering location.
          items:
            $ref: '#/components/schemas/PeeringBandwidthOffer'
          title: bandwidthOffers
          type: array
        peeringFacilities:
          description: The list of direct peering facilities at the peering location.
          items:
            $ref: '#/components/schemas/DirectPeeringFacility'
          title: peeringFacilities
          type: array
      title: PeeringLocationPropertiesDirect
      type: object
    PeeringLocationPropertiesExchange:
      description: The properties that define an exchange peering location.
      example:
        peeringFacilities:
        - microsoftIPv6Address: microsoftIPv6Address
          bandwidthInMbps: 1
          peeringDBFacilityId: 5
          exchangeName: exchangeName
          microsoftIPv4Address: microsoftIPv4Address
          facilityIPv4Prefix: facilityIPv4Prefix
          peeringDBFacilityLink: peeringDBFacilityLink
          facilityIPv6Prefix: facilityIPv6Prefix
        - microsoftIPv6Address: microsoftIPv6Address
          bandwidthInMbps: 1
          peeringDBFacilityId: 5
          exchangeName: exchangeName
          microsoftIPv4Address: microsoftIPv4Address
          facilityIPv4Prefix: facilityIPv4Prefix
          peeringDBFacilityLink: peeringDBFacilityLink
          facilityIPv6Prefix: facilityIPv6Prefix
      properties:
        peeringFacilities:
          description: The list of exchange peering facilities at the peering location.
          items:
            $ref: '#/components/schemas/ExchangePeeringFacility'
          title: peeringFacilities
          type: array
      title: PeeringLocationPropertiesExchange
      type: object
    PeeringProperties:
      description: The properties that define connectivity to the Microsoft Cloud
        Edge.
      example:
        direct:
          useForPeeringService: true
          peerAsn:
            id: id
          connections:
          - provisionedBandwidthInMbps: 5
            bandwidthInMbps: 0
            connectionState: None
            peeringDBFacilityId: 5
            bgpSession:
              peerSessionIPv4Address: peerSessionIPv4Address
              md5AuthenticationKey: md5AuthenticationKey
              microsoftSessionIPv6Address: microsoftSessionIPv6Address
              sessionPrefixV4: sessionPrefixV4
              microsoftSessionIPv4Address: microsoftSessionIPv4Address
              peerSessionIPv6Address: peerSessionIPv6Address
              maxPrefixesAdvertisedV4: 6
              sessionStateV6: None
              sessionStateV4: None
              maxPrefixesAdvertisedV6: 1
              sessionPrefixV6: sessionPrefixV6
            connectionIdentifier: connectionIdentifier
          - provisionedBandwidthInMbps: 5
            bandwidthInMbps: 0
            connectionState: None
            peeringDBFacilityId: 5
            bgpSession:
              peerSessionIPv4Address: peerSessionIPv4Address
              md5AuthenticationKey: md5AuthenticationKey
              microsoftSessionIPv6Address: microsoftSessionIPv6Address
              sessionPrefixV4: sessionPrefixV4
              microsoftSessionIPv4Address: microsoftSessionIPv4Address
              peerSessionIPv6Address: peerSessionIPv6Address
              maxPrefixesAdvertisedV4: 6
              sessionStateV6: None
              sessionStateV4: None
              maxPrefixesAdvertisedV6: 1
              sessionPrefixV6: sessionPrefixV6
            connectionIdentifier: connectionIdentifier
        exchange:
          peerAsn:
            id: id
          connections:
          - connectionState: None
            peeringDBFacilityId: 2
            bgpSession:
              peerSessionIPv4Address: peerSessionIPv4Address
              md5AuthenticationKey: md5AuthenticationKey
              microsoftSessionIPv6Address: microsoftSessionIPv6Address
              sessionPrefixV4: sessionPrefixV4
              microsoftSessionIPv4Address: microsoftSessionIPv4Address
              peerSessionIPv6Address: peerSessionIPv6Address
              maxPrefixesAdvertisedV4: 6
              sessionStateV6: None
              sessionStateV4: None
              maxPrefixesAdvertisedV6: 1
              sessionPrefixV6: sessionPrefixV6
            connectionIdentifier: connectionIdentifier
          - connectionState: None
            peeringDBFacilityId: 2
            bgpSession:
              peerSessionIPv4Address: peerSessionIPv4Address
              md5AuthenticationKey: md5AuthenticationKey
              microsoftSessionIPv6Address: microsoftSessionIPv6Address
              sessionPrefixV4: sessionPrefixV4
              microsoftSessionIPv4Address: microsoftSessionIPv4Address
              peerSessionIPv6Address: peerSessionIPv6Address
              maxPrefixesAdvertisedV4: 6
              sessionStateV6: None
              sessionStateV4: None
              maxPrefixesAdvertisedV6: 1
              sessionPrefixV6: sessionPrefixV6
            connectionIdentifier: connectionIdentifier
        provisioningState: Succeeded
        peeringLocation: peeringLocation
      properties:
        direct:
          $ref: '#/components/schemas/PeeringPropertiesDirect'
        exchange:
          $ref: '#/components/schemas/PeeringPropertiesExchange'
        peeringLocation:
          description: The location of the peering.
          title: peeringLocation
          type: string
        provisioningState:
          description: The provisioning state of the resource.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: provisioningState
      title: PeeringProperties
      type: object
    PeeringPropertiesDirect:
      description: The properties that define a direct peering.
      example:
        useForPeeringService: true
        peerAsn:
          id: id
        connections:
        - provisionedBandwidthInMbps: 5
          bandwidthInMbps: 0
          connectionState: None
          peeringDBFacilityId: 5
          bgpSession:
            peerSessionIPv4Address: peerSessionIPv4Address
            md5AuthenticationKey: md5AuthenticationKey
            microsoftSessionIPv6Address: microsoftSessionIPv6Address
            sessionPrefixV4: sessionPrefixV4
            microsoftSessionIPv4Address: microsoftSessionIPv4Address
            peerSessionIPv6Address: peerSessionIPv6Address
            maxPrefixesAdvertisedV4: 6
            sessionStateV6: None
            sessionStateV4: None
            maxPrefixesAdvertisedV6: 1
            sessionPrefixV6: sessionPrefixV6
          connectionIdentifier: connectionIdentifier
        - provisionedBandwidthInMbps: 5
          bandwidthInMbps: 0
          connectionState: None
          peeringDBFacilityId: 5
          bgpSession:
            peerSessionIPv4Address: peerSessionIPv4Address
            md5AuthenticationKey: md5AuthenticationKey
            microsoftSessionIPv6Address: microsoftSessionIPv6Address
            sessionPrefixV4: sessionPrefixV4
            microsoftSessionIPv4Address: microsoftSessionIPv4Address
            peerSessionIPv6Address: peerSessionIPv6Address
            maxPrefixesAdvertisedV4: 6
            sessionStateV6: None
            sessionStateV4: None
            maxPrefixesAdvertisedV6: 1
            sessionPrefixV6: sessionPrefixV6
[...]
