openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: 'This API converts video files into formats suitable for consumer distribution. '
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Transcoder API
  version: v1beta1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://transcoder.googleapis.com/$discovery/rest?version=v1beta1
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: transcoder
externalDocs:
  url: https://cloud.google.com/transcoder/docs/
servers:
- url: https://transcoder.googleapis.com/
tags:
- name: projects
paths:
  /v1beta1/{name}:
    delete:
      description: Deletes a job template.
      operationId: transcoder.projects.locations.jobTemplates.delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    get:
      description: Returns the job template data.
      operationId: transcoder.projects.locations.jobTemplates.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the job template to retrieve. Format:\
          \ `projects/{project}/locations/{location}/jobTemplates/{job_template}`"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTemplate'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1beta1/{parent}/jobTemplates:
    get:
      description: Lists job templates in the specified region.
      operationId: transcoder.projects.locations.jobTemplates.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent location from which to retrieve the collection\
          \ of job templates. Format: `projects/{project}/locations/{location}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of items to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "The `next_page_token` value returned from a previous List request,\
          \ if any."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobTemplatesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: Creates a job template in the specified region.
      operationId: transcoder.projects.locations.jobTemplates.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent location to create this job template. Format:\
          \ `projects/{project}/locations/{location}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Required. The ID to use for the job template, which will become\
          \ the final component of the job template's resource name. This value should\
          \ be 4-63 characters, and valid characters must match the regular expression\
          \ `a-zA-Z*`."
        explode: true
        in: query
        name: jobTemplateId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobTemplate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobTemplate'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1beta1/{parent}/jobs:
    get:
      description: Lists jobs in the specified region.
      operationId: transcoder.projects.locations.jobs.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Format: `projects/{project}/locations/{location}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of items to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "The `next_page_token` value returned from a previous List request,\
          \ if any."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: Creates a job in the specified region.
      operationId: transcoder.projects.locations.jobs.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The parent location to create and process this job.\
          \ Format: `projects/{project}/locations/{location}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Job'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AdBreak:
      description: Ad break.
      example:
        startTimeOffset: startTimeOffset
      properties:
        startTimeOffset:
          description: "Start time in seconds for the ad break, relative to the output\
            \ file timeline. The default is `0s`."
          format: google-duration
          type: string
      type: object
    Aes128Encryption:
      description: Configuration for AES-128 encryption.
      example:
        keyUri: keyUri
      properties:
        keyUri:
          description: Required. URI of the key delivery service. This URI is inserted
            into the M3U8 header.
          type: string
      type: object
    Animation:
      description: Animation types.
      example:
        animationStatic:
          xy:
            x: 6.878052220127876
            "y": 5.944895607614016
          startTimeOffset: startTimeOffset
        animationFade:
          xy:
            x: 6.878052220127876
            "y": 5.944895607614016
          endTimeOffset: endTimeOffset
          fadeType: FADE_TYPE_UNSPECIFIED
          startTimeOffset: startTimeOffset
        animationEnd:
          startTimeOffset: startTimeOffset
      properties:
        animationEnd:
          $ref: '#/components/schemas/AnimationEnd'
        animationFade:
          $ref: '#/components/schemas/AnimationFade'
        animationStatic:
          $ref: '#/components/schemas/AnimationStatic'
      type: object
    AnimationEnd:
      description: "End previous overlay animation from the video. Without AnimationEnd,\
        \ the overlay object will keep the state of previous animation until the end\
        \ of the video."
      example:
        startTimeOffset: startTimeOffset
      properties:
        startTimeOffset:
          description: "The time to end overlay object, in seconds. Default: 0"
          format: google-duration
          type: string
      type: object
    AnimationFade:
      description: Display overlay object with fade animation.
      example:
        xy:
          x: 6.878052220127876
          "y": 5.944895607614016
        endTimeOffset: endTimeOffset
        fadeType: FADE_TYPE_UNSPECIFIED
        startTimeOffset: startTimeOffset
      properties:
        endTimeOffset:
          description: "The time to end the fade animation, in seconds. Default: `start_time_offset`\
            \ + 1s"
          format: google-duration
          type: string
        fadeType:
          description: "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`."
          enum:
          - FADE_TYPE_UNSPECIFIED
          - FADE_IN
          - FADE_OUT
          type: string
        startTimeOffset:
          description: "The time to start the fade animation, in seconds. Default:\
            \ 0"
          format: google-duration
          type: string
        xy:
          $ref: '#/components/schemas/NormalizedCoordinate'
      type: object
    AnimationStatic:
      description: Display static overlay object.
      example:
        xy:
          x: 6.878052220127876
          "y": 5.944895607614016
        startTimeOffset: startTimeOffset
      properties:
        startTimeOffset:
          description: "The time to start displaying the overlay object, in seconds.\
            \ Default: 0"
          format: google-duration
          type: string
        xy:
          $ref: '#/components/schemas/NormalizedCoordinate'
      type: object
    Audio:
      description: Audio preprocessing configuration.
      example:
        lufs: 1.1730742509559433
        lowBoost: true
        highBoost: true
      properties:
        highBoost:
          description: Enable boosting high frequency components. The default is `false`.
          type: boolean
        lowBoost:
          description: Enable boosting low frequency components. The default is `false`.
          type: boolean
        lufs:
          description: "Specify audio loudness normalization in loudness units relative\
            \ to full scale (LUFS). Enter a value between -24 and 0 (the default),\
            \ where: * -24 is the Advanced Television Systems Committee (ATSC A/85)\
            \ standard * -23 is the EU R128 broadcast standard * -19 is the prior\
            \ standard for online mono audio * -18 is the ReplayGain standard * -16\
            \ is the prior standard for stereo audio * -14 is the new online audio\
            \ standard recommended by Spotify, as well as Amazon Echo * 0 disables\
            \ normalization"
          format: double
          type: number
      type: object
    AudioAtom:
      description: The mapping for the `Job.edit_list` atoms with audio `EditAtom.inputs`.
      example:
        channels:
        - inputs:
          - gainDb: 5.962133916683182
            channel: 1
            track: 5
            key: key
          - gainDb: 5.962133916683182
            channel: 1
            track: 5
            key: key
        - inputs:
          - gainDb: 5.962133916683182
            channel: 1
            track: 5
            key: key
          - gainDb: 5.962133916683182
            channel: 1
            track: 5
            key: key
        key: key
      properties:
        channels:
          description: List of `Channel`s for this audio stream. for in-depth explanation.
          items:
            $ref: '#/components/schemas/AudioChannel'
          type: array
        key:
          description: Required. The `EditAtom.key` that references the atom with
            audio inputs in the `Job.edit_list`.
          type: string
      type: object
    AudioChannel:
      description: The audio channel.
      example:
        inputs:
        - gainDb: 5.962133916683182
          channel: 1
          track: 5
          key: key
        - gainDb: 5.962133916683182
          channel: 1
          track: 5
          key: key
      properties:
        inputs:
          description: List of `Job.inputs` for this audio channel.
          items:
            $ref: '#/components/schemas/AudioChannelInput'
          type: array
      type: object
    AudioChannelInput:
      description: "Identifies which input file, track, and channel should be used."
      example:
        gainDb: 5.962133916683182
        channel: 1
        track: 5
        key: key
      properties:
        channel:
          description: Required. The zero-based index of the channel in the input
            file.
          format: int32
          type: integer
        gainDb:
          description: "Audio volume control in dB. Negative values decrease volume,\
            \ positive values increase. The default is 0."
          format: double
          type: number
        key:
          description: Required. The `Input.key` that identifies the input file.
          type: string
        track:
          description: Required. The zero-based index of the track in the input file.
          format: int32
          type: integer
      type: object
    AudioStream:
      description: Audio stream resource.
      example:
        sampleRateHertz: 2
        channelCount: 6
        channelLayout:
        - channelLayout
        - channelLayout
        codec: codec
        mapping:
        - channels:
          - inputs:
            - gainDb: 5.962133916683182
              channel: 1
              track: 5
              key: key
            - gainDb: 5.962133916683182
              channel: 1
              track: 5
              key: key
          - inputs:
            - gainDb: 5.962133916683182
              channel: 1
              track: 5
              key: key
            - gainDb: 5.962133916683182
              channel: 1
              track: 5
              key: key
          key: key
        - channels:
          - inputs:
            - gainDb: 5.962133916683182
              channel: 1
              track: 5
              key: key
            - gainDb: 5.962133916683182
              channel: 1
              track: 5
              key: key
          - inputs:
            - gainDb: 5.962133916683182
              channel: 1
              track: 5
              key: key
            - gainDb: 5.962133916683182
              channel: 1
              track: 5
              key: key
          key: key
        bitrateBps: 0
      properties:
        bitrateBps:
          description: "Required. Audio bitrate in bits per second. Must be between\
            \ 1 and 10,000,000."
          format: int32
          type: integer
        channelCount:
          description: Number of audio channels. Must be between 1 and 6. The default
            is 2.
          format: int32
          type: integer
        channelLayout:
          description: "A list of channel names specifying layout of the audio channels.\
            \ This only affects the metadata embedded in the container headers, if\
            \ supported by the specified format. The default is `[\"fl\", \"fr\"]`.\
            \ Supported channel names: - 'fl' - Front left channel - 'fr' - Front\
            \ right channel - 'sl' - Side left channel - 'sr' - Side right channel\
            \ - 'fc' - Front center channel - 'lfe' - Low frequency"
          items:
            type: string
          type: array
        codec:
          description: "The codec for this audio stream. The default is `\"aac\"`.\
            \ Supported audio codecs: - 'aac' - 'aac-he' - 'aac-he-v2' - 'mp3' - 'ac3'\
            \ - 'eac3'"
          type: string
        mapping:
          description: The mapping for the `Job.edit_list` atoms with audio `EditAtom.inputs`.
          items:
            $ref: '#/components/schemas/AudioAtom'
          type: array
        sampleRateHertz:
          description: The audio sample rate in Hertz. The default is 48000 Hertz.
          format: int32
          type: integer
      type: object
    Color:
      description: Color preprocessing configuration.
      example:
        saturation: 9.965781217890562
        brightness: 4.965218492984954
        contrast: 5.025004791520295
      properties:
        brightness:
          description: "Control brightness of the video. Enter a value between -1\
            \ and 1, where -1 is minimum brightness and 1 is maximum brightness. 0\
            \ is no change. The default is 0."
          format: double
          type: number
        contrast:
          description: "Control black and white contrast of the video. Enter a value\
            \ between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast.\
            \ 0 is no change. The default is 0."
          format: double
          type: number
        saturation:
          description: "Control color saturation of the video. Enter a value between\
            \ -1 and 1, where -1 is fully desaturated and 1 is maximum saturation.\
            \ 0 is no change. The default is 0."
          format: double
          type: number
      type: object
    Crop:
      description: Video cropping configuration for the input video. The cropped input
        video is scaled to match the output resolution.
      example:
        topPixels: 9
        bottomPixels: 9
        rightPixels: 8
        leftPixels: 6
      properties:
        bottomPixels:
          description: The number of pixels to crop from the bottom. The default is
            0.
          format: int32
          type: integer
        leftPixels:
          description: The number of pixels to crop from the left. The default is
            0.
          format: int32
          type: integer
        rightPixels:
          description: The number of pixels to crop from the right. The default is
            0.
          format: int32
          type: integer
        topPixels:
          description: The number of pixels to crop from the top. The default is 0.
          format: int32
          type: integer
      type: object
    Deblock:
      description: Deblock preprocessing configuration.
      example:
        strength: 6.438423552598547
        enabled: true
      properties:
        enabled:
          description: Enable deblocker. The default is `false`.
          type: boolean
        strength:
          description: "Set strength of the deblocker. Enter a value between 0 and\
            \ 1. The higher the value, the stronger the block removal. 0 is no deblocking.\
            \ The default is 0."
          format: double
          type: number
      type: object
    Denoise:
      description: Denoise preprocessing configuration.
      example:
        strength: 3.5571952270680973
        tune: tune
      properties:
        strength:
          description: "Set strength of the denoise. Enter a value between 0 and 1.\
            \ The higher the value, the smoother the image. 0 is no denoising. The\
            \ default is 0."
          format: double
          type: number
        tune:
          description: "Set the denoiser mode. The default is `\"standard\"`. Supported\
            \ denoiser modes: - 'standard' - 'grain'"
          type: string
      type: object
    EditAtom:
      description: Edit atom.
      example:
        endTimeOffset: endTimeOffset
        inputs:
        - inputs
        - inputs
        startTimeOffset: startTimeOffset
        key: key
      properties:
        endTimeOffset:
          description: "End time in seconds for the atom, relative to the input file\
            \ timeline. When `end_time_offset` is not specified, the `inputs` are\
            \ used until the end of the atom."
          format: google-duration
          type: string
        inputs:
          description: List of `Input.key`s identifying files that should be used
            in this atom. The listed `inputs` must have the same timeline.
          items:
            type: string
          type: array
        key:
          description: A unique key for this atom. Must be specified when using advanced
            mapping.
          type: string
        startTimeOffset:
          description: "Start time in seconds for the atom, relative to the input\
            \ file timeline. The default is `0s`."
          format: google-duration
          type: string
      type: object
    ElementaryStream:
      description: "Encoding of an input file such as an audio, video, or text track.\
        \ Elementary streams must be packaged before mapping and sharing between different\
        \ output formats."
      example:
        videoStream:
          entropyCoder: entropyCoder
          pixelFormat: pixelFormat
          enableTwoPass: true
          profile: profile
          crfLevel: 4
          heightPixels: 1
          preset: preset
          bitrateBps: 2
          tune: tune
          widthPixels: 7
          codec: codec
          frameRate: 7.386281948385884
          vbvSizeBits: 6
          bFrameCount: 3
          gopDuration: gopDuration
          allowOpenGop: true
          aqStrength: 9.301444243932576
          bPyramid: true
          gopFrameCount: 1
          vbvFullnessBits: 1
          rateControlMode: rateControlMode
        audioStream:
          sampleRateHertz: 2
          channelCount: 6
          channelLayout:
          - channelLayout
          - channelLayout
          codec: codec
          mapping:
          - channels:
            - inputs:
              - gainDb: 5.962133916683182
                channel: 1
                track: 5
                key: key
              - gainDb: 5.962133916683182
                channel: 1
                track: 5
                key: key
            - inputs:
              - gainDb: 5.962133916683182
                channel: 1
                track: 5
                key: key
              - gainDb: 5.962133916683182
                channel: 1
                track: 5
                key: key
            key: key
          - channels:
            - inputs:
              - gainDb: 5.962133916683182
                channel: 1
                track: 5
                key: key
              - gainDb: 5.962133916683182
                channel: 1
                track: 5
                key: key
            - inputs:
              - gainDb: 5.962133916683182
                channel: 1
                track: 5
                key: key
              - gainDb: 5.962133916683182
                channel: 1
                track: 5
                key: key
            key: key
          bitrateBps: 0
        textStream:
          codec: codec
          mapping:
          - inputs:
            - track: 7
              key: key
            - track: 7
              key: key
            key: key
          - inputs:
            - track: 7
              key: key
            - track: 7
              key: key
            key: key
          languageCode: languageCode
        key: key
      properties:
        audioStream:
          $ref: '#/components/schemas/AudioStream'
        key:
          description: A unique key for this elementary stream.
          type: string
        textStream:
          $ref: '#/components/schemas/TextStream'
        videoStream:
          $ref: '#/components/schemas/VideoStream'
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }\
        \ The JSON representation for `Empty` is empty JSON object `{}`."
      properties: {}
      type: object
    Encryption:
      description: Encryption settings.
      example:
        aes128:
          keyUri: keyUri
        mpegCenc:
          scheme: scheme
          keyId: keyId
        sampleAes:
          keyUri: keyUri
        iv: iv
        key: key
      properties:
        aes128:
          $ref: '#/components/schemas/Aes128Encryption'
        iv:
          description: Required. 128 bit Initialization Vector (IV) represented as
            lowercase hexadecimal digits.
          type: string
        key:
          description: Required. 128 bit encryption key represented as lowercase hexadecimal
            digits.
          type: string
        mpegCenc:
          $ref: '#/components/schemas/MpegCommonEncryption'
        sampleAes:
          $ref: '#/components/schemas/SampleAesEncryption'
      type: object
    FailureDetail:
      description: Additional information about the reasons for the failure.
      example:
        description: description
      properties:
        description:
          description: A description of the failure.
          type: string
      type: object
    Image:
      description: Overlaid jpeg image.
      example:
        alpha: 6.704019297950036
        resolution:
          x: 6.878052220127876
          "y": 5.944895607614016
        uri: uri
      properties:
        alpha:
          description: "Target image opacity. Valid values are from `1.0` (solid,\
            \ default) to `0.0` (transparent), exclusive. Set this to a value greater\
            \ than `0.0`."
          format: double
          type: number
        resolution:
          $ref: '#/components/schemas/NormalizedCoordinate'
        uri:
          description: "Required. URI of the JPEG image in Cloud Storage. For example,\
            \ `gs://bucket/inputs/image.jpeg`. JPEG is the only supported image type."
          type: string
      type: object
    Input:
      description: Input asset.
      example:
        preprocessingConfig:
          pad:
            topPixels: 6
            bottomPixels: 6
            rightPixels: 2
            leftPixels: 1
          denoise:
            strength: 3.5571952270680973
            tune: tune
          color:
            saturation: 9.965781217890562
            brightness: 4.965218492984954
            contrast: 5.025004791520295
          audio:
            lufs: 1.1730742509559433
            lowBoost: true
            highBoost: true
          deblock:
            strength: 6.438423552598547
            enabled: true
          crop:
            topPixels: 9
            bottomPixels: 9
            rightPixels: 8
            leftPixels: 6
        uri: uri
        key: key
      properties:
        key:
          description: A unique key for this input. Must be specified when using advanced
            mapping and edit lists.
          type: string
        preprocessingConfig:
          $ref: '#/components/schemas/PreprocessingConfig'
        uri:
          description: "URI of the media. Input files must be at least 5 seconds in\
            \ duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`).\
            \ If empty, the value will be populated from `Job.input_uri`."
          type: string
      type: object
    Job:
      description: Transcoding job resource.
      example:
        ttlAfterCompletionDays: 2
        outputUri: outputUri
        inputUri: inputUri
        priority: 0
        templateId: templateId
        createTime: createTime
        failureDetails:
        - description: description
        - description: description
        failureReason: failureReason
        name: name
        originUri:
          dash: dash
          hls: hls
        progress:
          notified: 5.962133916683182
          analyzed: 6.027456183070403
          uploaded: 5.637376656633329
          encoded: 1.4658129805029452
        startTime: startTime
        endTime: endTime
        state: PROCESSING_STATE_UNSPECIFIED
        config:
          output:
            uri: uri
          adBreaks:
          - startTimeOffset: startTimeOffset
          - startTimeOffset: startTimeOffset
          editList:
          - endTimeOffset: endTimeOffset
            inputs:
            - inputs
            - inputs
            startTimeOffset: startTimeOffset
            key: key
          - endTimeOffset: endTimeOffset
            inputs:
            - inputs
            - inputs
            startTimeOffset: startTimeOffset
            key: key
          spriteSheets:
          - endTimeOffset: endTimeOffset
            spriteWidthPixels: 7
            format: format
            interval: interval
            columnCount: 3
            rowCount: 7
            filePrefix: filePrefix
            startTimeOffset: startTimeOffset
            totalCount: 6
            spriteHeightPixels: 0
            quality: 3
          - endTimeOffset: endTimeOffset
            spriteWidthPixels: 7
            format: format
            interval: interval
            columnCount: 3
            rowCount: 7
            filePrefix: filePrefix
            startTimeOffset: startTimeOffset
            totalCount: 6
            spriteHeightPixels: 0
            quality: 3
          muxStreams:
          - container: container
            fileName: fileName
            segmentSettings:
              segmentDuration: segmentDuration
              individualSegments: true
            encryption:
              aes128:
                keyUri: keyUri
              mpegCenc:
                scheme: scheme
                keyId: keyId
              sampleAes:
                keyUri: keyUri
              iv: iv
              key: key
            elementaryStreams:
            - elementaryStreams
            - elementaryStreams
            key: key
          - container: container
            fileName: fileName
            segmentSettings:
              segmentDuration: segmentDuration
              individualSegments: true
            encryption:
              aes128:
                keyUri: keyUri
              mpegCenc:
                scheme: scheme
                keyId: keyId
              sampleAes:
                keyUri: keyUri
              iv: iv
              key: key
            elementaryStreams:
            - elementaryStreams
            - elementaryStreams
            key: key
          pubsubDestination:
            topic: topic
          inputs:
          - preprocessingConfig:
              pad:
                topPixels: 6
                bottomPixels: 6
                rightPixels: 2
                leftPixels: 1
              denoise:
                strength: 3.5571952270680973
                tune: tune
              color:
                saturation: 9.965781217890562
                brightness: 4.965218492984954
                contrast: 5.025004791520295
              audio:
                lufs: 1.1730742509559433
                lowBoost: true
                highBoost: true
              deblock:
                strength: 6.438423552598547
                enabled: true
              crop:
                topPixels: 9
                bottomPixels: 9
                rightPixels: 8
                leftPixels: 6
            uri: uri
            key: key
          - preprocessingConfig:
              pad:
                topPixels: 6
                bottomPixels: 6
                rightPixels: 2
                leftPixels: 1
              denoise:
                strength: 3.5571952270680973
                tune: tune
              color:
                saturation: 9.965781217890562
                brightness: 4.965218492984954
                contrast: 5.025004791520295
              audio:
                lufs: 1.1730742509559433
                lowBoost: true
                highBoost: true
              deblock:
                strength: 6.438423552598547
                enabled: true
              crop:
                topPixels: 9
                bottomPixels: 9
                rightPixels: 8
                leftPixels: 6
            uri: uri
            key: key
          overlays:
          - image:
              alpha: 6.704019297950036
              resolution:
                x: 6.878052220127876
                "y": 5.944895607614016
              uri: uri
            animations:
            - animationStatic:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                startTimeOffset: startTimeOffset
              animationFade:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                endTimeOffset: endTimeOffset
                fadeType: FADE_TYPE_UNSPECIFIED
                startTimeOffset: startTimeOffset
              animationEnd:
                startTimeOffset: startTimeOffset
            - animationStatic:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                startTimeOffset: startTimeOffset
              animationFade:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                endTimeOffset: endTimeOffset
                fadeType: FADE_TYPE_UNSPECIFIED
                startTimeOffset: startTimeOffset
              animationEnd:
                startTimeOffset: startTimeOffset
          - image:
              alpha: 6.704019297950036
              resolution:
                x: 6.878052220127876
                "y": 5.944895607614016
              uri: uri
            animations:
            - animationStatic:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                startTimeOffset: startTimeOffset
              animationFade:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                endTimeOffset: endTimeOffset
                fadeType: FADE_TYPE_UNSPECIFIED
                startTimeOffset: startTimeOffset
              animationEnd:
                startTimeOffset: startTimeOffset
            - animationStatic:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                startTimeOffset: startTimeOffset
              animationFade:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                endTimeOffset: endTimeOffset
                fadeType: FADE_TYPE_UNSPECIFIED
                startTimeOffset: startTimeOffset
              animationEnd:
                startTimeOffset: startTimeOffset
          manifests:
          - fileName: fileName
            muxStreams:
            - muxStreams
            - muxStreams
            type: MANIFEST_TYPE_UNSPECIFIED
          - fileName: fileName
            muxStreams:
            - muxStreams
            - muxStreams
            type: MANIFEST_TYPE_UNSPECIFIED
          elementaryStreams:
          - videoStream:
              entropyCoder: entropyCoder
              pixelFormat: pixelFormat
              enableTwoPass: true
              profile: profile
              crfLevel: 4
              heightPixels: 1
              preset: preset
              bitrateBps: 2
              tune: tune
              widthPixels: 7
              codec: codec
              frameRate: 7.386281948385884
              vbvSizeBits: 6
              bFrameCount: 3
              gopDuration: gopDuration
              allowOpenGop: true
              aqStrength: 9.301444243932576
              bPyramid: true
              gopFrameCount: 1
              vbvFullnessBits: 1
              rateControlMode: rateControlMode
            audioStream:
              sampleRateHertz: 2
              channelCount: 6
              channelLayout:
              - channelLayout
              - channelLayout
              codec: codec
              mapping:
              - channels:
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                key: key
              - channels:
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                key: key
              bitrateBps: 0
            textStream:
              codec: codec
              mapping:
              - inputs:
                - track: 7
                  key: key
                - track: 7
                  key: key
                key: key
              - inputs:
                - track: 7
                  key: key
                - track: 7
                  key: key
                key: key
              languageCode: languageCode
            key: key
          - videoStream:
              entropyCoder: entropyCoder
              pixelFormat: pixelFormat
              enableTwoPass: true
              profile: profile
              crfLevel: 4
              heightPixels: 1
              preset: preset
              bitrateBps: 2
              tune: tune
              widthPixels: 7
              codec: codec
              frameRate: 7.386281948385884
              vbvSizeBits: 6
              bFrameCount: 3
              gopDuration: gopDuration
              allowOpenGop: true
              aqStrength: 9.301444243932576
              bPyramid: true
              gopFrameCount: 1
              vbvFullnessBits: 1
              rateControlMode: rateControlMode
            audioStream:
              sampleRateHertz: 2
              channelCount: 6
              channelLayout:
              - channelLayout
              - channelLayout
              codec: codec
              mapping:
              - channels:
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                key: key
              - channels:
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                key: key
              bitrateBps: 0
            textStream:
              codec: codec
              mapping:
              - inputs:
                - track: 7
                  key: key
                - track: 7
                  key: key
                key: key
              - inputs:
                - track: 7
                  key: key
                - track: 7
                  key: key
                key: key
              languageCode: languageCode
            key: key
      properties:
        config:
          $ref: '#/components/schemas/JobConfig'
        createTime:
          description: Output only. The time the job was created.
          format: google-datetime
          readOnly: true
          type: string
        endTime:
          description: Output only. The time the transcoding finished.
          format: google-datetime
          readOnly: true
          type: string
        failureDetails:
          description: "Output only. List of failure details. This property may contain\
            \ additional information about the failure when `failure_reason` is present.\
            \ *Note*: This feature is not yet available."
          items:
            $ref: '#/components/schemas/FailureDetail'
          readOnly: true
          type: array
        failureReason:
          description: Output only. A description of the reason for the failure. This
            property is always present when `state` is `FAILED`.
          readOnly: true
          type: string
        inputUri:
          description: "Input only. Specify the `input_uri` to populate empty `uri`\
            \ fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs`\
            \ when using template. URI of the media. Input files must be at least\
            \ 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`)."
          type: string
        name:
          description: "The resource name of the job. Format: `projects/{project}/locations/{location}/jobs/{job}`"
          type: string
        originUri:
          $ref: '#/components/schemas/OriginUri'
        outputUri:
          description: "Input only. Specify the `output_uri` to populate an empty\
            \ `Job.config.output.uri` or `JobTemplate.config.output.uri` when using\
            \ template. URI for the output file(s). For example, `gs://my-bucket/outputs/`."
          type: string
        priority:
          description: "Specify the priority of the job. Enter a value between 0 and\
            \ 100, where 0 is the lowest priority and 100 is the highest priority.\
            \ The default is 0."
          format: int32
          type: integer
        progress:
          $ref: '#/components/schemas/Progress'
        startTime:
          description: Output only. The time the transcoding started.
          format: google-datetime
          readOnly: true
          type: string
        state:
          description: Output only. The current state of the job.
          enum:
          - PROCESSING_STATE_UNSPECIFIED
          - PENDING
          - RUNNING
          - SUCCEEDED
          - FAILED
          readOnly: true
          type: string
        templateId:
          description: "Input only. Specify the `template_id` to use for populating\
            \ `Job.config`. The default is `preset/web-hd`. Preset Transcoder templates:\
            \ - `preset/{preset_id}` - User defined JobTemplate: `{job_template_id}`"
          type: string
        ttlAfterCompletionDays:
          description: "Job time to live value in days, which will be effective after\
            \ job completion. Job should be deleted automatically after the given\
            \ TTL. Enter a value between 1 and 90. The default is 30."
          format: int32
          type: integer
      type: object
    JobConfig:
      description: Job configuration
      example:
        output:
          uri: uri
        adBreaks:
        - startTimeOffset: startTimeOffset
        - startTimeOffset: startTimeOffset
        editList:
        - endTimeOffset: endTimeOffset
          inputs:
          - inputs
          - inputs
          startTimeOffset: startTimeOffset
          key: key
        - endTimeOffset: endTimeOffset
          inputs:
          - inputs
          - inputs
          startTimeOffset: startTimeOffset
          key: key
        spriteSheets:
        - endTimeOffset: endTimeOffset
          spriteWidthPixels: 7
          format: format
          interval: interval
          columnCount: 3
          rowCount: 7
          filePrefix: filePrefix
          startTimeOffset: startTimeOffset
          totalCount: 6
          spriteHeightPixels: 0
          quality: 3
        - endTimeOffset: endTimeOffset
          spriteWidthPixels: 7
          format: format
          interval: interval
          columnCount: 3
          rowCount: 7
          filePrefix: filePrefix
          startTimeOffset: startTimeOffset
          totalCount: 6
          spriteHeightPixels: 0
          quality: 3
        muxStreams:
        - container: container
          fileName: fileName
          segmentSettings:
            segmentDuration: segmentDuration
            individualSegments: true
          encryption:
            aes128:
              keyUri: keyUri
            mpegCenc:
              scheme: scheme
              keyId: keyId
            sampleAes:
              keyUri: keyUri
            iv: iv
            key: key
          elementaryStreams:
          - elementaryStreams
          - elementaryStreams
          key: key
        - container: container
          fileName: fileName
          segmentSettings:
            segmentDuration: segmentDuration
            individualSegments: true
          encryption:
            aes128:
              keyUri: keyUri
            mpegCenc:
              scheme: scheme
              keyId: keyId
            sampleAes:
              keyUri: keyUri
            iv: iv
            key: key
          elementaryStreams:
          - elementaryStreams
          - elementaryStreams
          key: key
        pubsubDestination:
          topic: topic
        inputs:
        - preprocessingConfig:
            pad:
              topPixels: 6
              bottomPixels: 6
              rightPixels: 2
              leftPixels: 1
            denoise:
              strength: 3.5571952270680973
              tune: tune
            color:
              saturation: 9.965781217890562
              brightness: 4.965218492984954
              contrast: 5.025004791520295
            audio:
              lufs: 1.1730742509559433
              lowBoost: true
              highBoost: true
            deblock:
              strength: 6.438423552598547
              enabled: true
            crop:
              topPixels: 9
              bottomPixels: 9
              rightPixels: 8
              leftPixels: 6
          uri: uri
          key: key
        - preprocessingConfig:
            pad:
              topPixels: 6
              bottomPixels: 6
              rightPixels: 2
              leftPixels: 1
            denoise:
              strength: 3.5571952270680973
              tune: tune
            color:
              saturation: 9.965781217890562
              brightness: 4.965218492984954
              contrast: 5.025004791520295
            audio:
              lufs: 1.1730742509559433
              lowBoost: true
              highBoost: true
            deblock:
              strength: 6.438423552598547
              enabled: true
            crop:
              topPixels: 9
              bottomPixels: 9
              rightPixels: 8
              leftPixels: 6
          uri: uri
          key: key
        overlays:
        - image:
            alpha: 6.704019297950036
            resolution:
              x: 6.878052220127876
              "y": 5.944895607614016
            uri: uri
          animations:
          - animationStatic:
              xy:
                x: 6.878052220127876
                "y": 5.944895607614016
              startTimeOffset: startTimeOffset
            animationFade:
              xy:
                x: 6.878052220127876
                "y": 5.944895607614016
              endTimeOffset: endTimeOffset
              fadeType: FADE_TYPE_UNSPECIFIED
              startTimeOffset: startTimeOffset
            animationEnd:
              startTimeOffset: startTimeOffset
          - animationStatic:
              xy:
                x: 6.878052220127876
                "y": 5.944895607614016
              startTimeOffset: startTimeOffset
            animationFade:
              xy:
                x: 6.878052220127876
                "y": 5.944895607614016
              endTimeOffset: endTimeOffset
              fadeType: FADE_TYPE_UNSPECIFIED
              startTimeOffset: startTimeOffset
            animationEnd:
              startTimeOffset: startTimeOffset
        - image:
            alpha: 6.704019297950036
            resolution:
              x: 6.878052220127876
              "y": 5.944895607614016
            uri: uri
          animations:
          - animationStatic:
              xy:
                x: 6.878052220127876
                "y": 5.944895607614016
              startTimeOffset: startTimeOffset
            animationFade:
              xy:
                x: 6.878052220127876
                "y": 5.944895607614016
              endTimeOffset: endTimeOffset
              fadeType: FADE_TYPE_UNSPECIFIED
              startTimeOffset: startTimeOffset
            animationEnd:
              startTimeOffset: startTimeOffset
          - animationStatic:
              xy:
                x: 6.878052220127876
                "y": 5.944895607614016
              startTimeOffset: startTimeOffset
            animationFade:
              xy:
                x: 6.878052220127876
                "y": 5.944895607614016
              endTimeOffset: endTimeOffset
              fadeType: FADE_TYPE_UNSPECIFIED
              startTimeOffset: startTimeOffset
            animationEnd:
              startTimeOffset: startTimeOffset
        manifests:
        - fileName: fileName
          muxStreams:
          - muxStreams
          - muxStreams
          type: MANIFEST_TYPE_UNSPECIFIED
        - fileName: fileName
          muxStreams:
          - muxStreams
          - muxStreams
          type: MANIFEST_TYPE_UNSPECIFIED
        elementaryStreams:
        - videoStream:
            entropyCoder: entropyCoder
            pixelFormat: pixelFormat
            enableTwoPass: true
            profile: profile
            crfLevel: 4
            heightPixels: 1
            preset: preset
            bitrateBps: 2
            tune: tune
            widthPixels: 7
            codec: codec
            frameRate: 7.386281948385884
            vbvSizeBits: 6
            bFrameCount: 3
            gopDuration: gopDuration
            allowOpenGop: true
            aqStrength: 9.301444243932576
            bPyramid: true
            gopFrameCount: 1
            vbvFullnessBits: 1
            rateControlMode: rateControlMode
          audioStream:
            sampleRateHertz: 2
            channelCount: 6
            channelLayout:
            - channelLayout
            - channelLayout
            codec: codec
            mapping:
            - channels:
              - inputs:
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
              - inputs:
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
              key: key
            - channels:
              - inputs:
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
              - inputs:
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
              key: key
            bitrateBps: 0
          textStream:
            codec: codec
            mapping:
            - inputs:
              - track: 7
                key: key
              - track: 7
                key: key
              key: key
            - inputs:
              - track: 7
                key: key
              - track: 7
                key: key
              key: key
            languageCode: languageCode
          key: key
        - videoStream:
            entropyCoder: entropyCoder
            pixelFormat: pixelFormat
            enableTwoPass: true
            profile: profile
            crfLevel: 4
            heightPixels: 1
            preset: preset
            bitrateBps: 2
            tune: tune
            widthPixels: 7
            codec: codec
            frameRate: 7.386281948385884
            vbvSizeBits: 6
            bFrameCount: 3
            gopDuration: gopDuration
            allowOpenGop: true
            aqStrength: 9.301444243932576
            bPyramid: true
            gopFrameCount: 1
            vbvFullnessBits: 1
            rateControlMode: rateControlMode
          audioStream:
            sampleRateHertz: 2
            channelCount: 6
            channelLayout:
            - channelLayout
            - channelLayout
            codec: codec
            mapping:
            - channels:
              - inputs:
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
              - inputs:
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
              key: key
            - channels:
              - inputs:
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
              - inputs:
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
                - gainDb: 5.962133916683182
                  channel: 1
                  track: 5
                  key: key
              key: key
            bitrateBps: 0
          textStream:
            codec: codec
            mapping:
            - inputs:
              - track: 7
                key: key
              - track: 7
                key: key
              key: key
            - inputs:
              - track: 7
                key: key
              - track: 7
                key: key
              key: key
            languageCode: languageCode
          key: key
      properties:
        adBreaks:
          description: List of ad breaks. Specifies where to insert ad break tags
            in the output manifests.
          items:
            $ref: '#/components/schemas/AdBreak'
          type: array
        editList:
          description: List of `Edit atom`s. Defines the ultimate timeline of the
            resulting file or manifest.
          items:
            $ref: '#/components/schemas/EditAtom'
          type: array
        elementaryStreams:
          description: List of elementary streams.
          items:
            $ref: '#/components/schemas/ElementaryStream'
          type: array
        inputs:
          description: List of input assets stored in Cloud Storage.
          items:
            $ref: '#/components/schemas/Input'
          type: array
        manifests:
          description: List of output manifests.
          items:
            $ref: '#/components/schemas/Manifest'
          type: array
        muxStreams:
          description: List of multiplexing settings for output streams.
          items:
            $ref: '#/components/schemas/MuxStream'
          type: array
        output:
          $ref: '#/components/schemas/Output'
        overlays:
          description: "List of overlays on the output video, in descending Z-order."
          items:
            $ref: '#/components/schemas/Overlay'
          type: array
        pubsubDestination:
          $ref: '#/components/schemas/PubsubDestination'
        spriteSheets:
          description: List of output sprite sheets.
          items:
            $ref: '#/components/schemas/SpriteSheet'
          type: array
      type: object
    JobTemplate:
      description: Transcoding job template resource.
      example:
        name: name
        config:
          output:
            uri: uri
          adBreaks:
          - startTimeOffset: startTimeOffset
          - startTimeOffset: startTimeOffset
          editList:
          - endTimeOffset: endTimeOffset
            inputs:
            - inputs
            - inputs
            startTimeOffset: startTimeOffset
            key: key
          - endTimeOffset: endTimeOffset
            inputs:
            - inputs
            - inputs
            startTimeOffset: startTimeOffset
            key: key
          spriteSheets:
          - endTimeOffset: endTimeOffset
            spriteWidthPixels: 7
            format: format
            interval: interval
            columnCount: 3
            rowCount: 7
            filePrefix: filePrefix
            startTimeOffset: startTimeOffset
            totalCount: 6
            spriteHeightPixels: 0
            quality: 3
          - endTimeOffset: endTimeOffset
            spriteWidthPixels: 7
            format: format
            interval: interval
            columnCount: 3
            rowCount: 7
            filePrefix: filePrefix
            startTimeOffset: startTimeOffset
            totalCount: 6
            spriteHeightPixels: 0
            quality: 3
          muxStreams:
          - container: container
            fileName: fileName
            segmentSettings:
              segmentDuration: segmentDuration
              individualSegments: true
            encryption:
              aes128:
                keyUri: keyUri
              mpegCenc:
                scheme: scheme
                keyId: keyId
              sampleAes:
                keyUri: keyUri
              iv: iv
              key: key
            elementaryStreams:
            - elementaryStreams
            - elementaryStreams
            key: key
          - container: container
            fileName: fileName
            segmentSettings:
              segmentDuration: segmentDuration
              individualSegments: true
            encryption:
              aes128:
                keyUri: keyUri
              mpegCenc:
                scheme: scheme
                keyId: keyId
              sampleAes:
                keyUri: keyUri
              iv: iv
              key: key
            elementaryStreams:
            - elementaryStreams
            - elementaryStreams
            key: key
          pubsubDestination:
            topic: topic
          inputs:
          - preprocessingConfig:
              pad:
                topPixels: 6
                bottomPixels: 6
                rightPixels: 2
                leftPixels: 1
              denoise:
                strength: 3.5571952270680973
                tune: tune
              color:
                saturation: 9.965781217890562
                brightness: 4.965218492984954
                contrast: 5.025004791520295
              audio:
                lufs: 1.1730742509559433
                lowBoost: true
                highBoost: true
              deblock:
                strength: 6.438423552598547
                enabled: true
              crop:
                topPixels: 9
                bottomPixels: 9
                rightPixels: 8
                leftPixels: 6
            uri: uri
            key: key
          - preprocessingConfig:
              pad:
                topPixels: 6
                bottomPixels: 6
                rightPixels: 2
                leftPixels: 1
              denoise:
                strength: 3.5571952270680973
                tune: tune
              color:
                saturation: 9.965781217890562
                brightness: 4.965218492984954
                contrast: 5.025004791520295
              audio:
                lufs: 1.1730742509559433
                lowBoost: true
                highBoost: true
              deblock:
                strength: 6.438423552598547
                enabled: true
              crop:
                topPixels: 9
                bottomPixels: 9
                rightPixels: 8
                leftPixels: 6
            uri: uri
            key: key
          overlays:
          - image:
              alpha: 6.704019297950036
              resolution:
                x: 6.878052220127876
                "y": 5.944895607614016
              uri: uri
            animations:
            - animationStatic:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                startTimeOffset: startTimeOffset
              animationFade:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                endTimeOffset: endTimeOffset
                fadeType: FADE_TYPE_UNSPECIFIED
                startTimeOffset: startTimeOffset
              animationEnd:
                startTimeOffset: startTimeOffset
            - animationStatic:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                startTimeOffset: startTimeOffset
              animationFade:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                endTimeOffset: endTimeOffset
                fadeType: FADE_TYPE_UNSPECIFIED
                startTimeOffset: startTimeOffset
              animationEnd:
                startTimeOffset: startTimeOffset
          - image:
              alpha: 6.704019297950036
              resolution:
                x: 6.878052220127876
                "y": 5.944895607614016
              uri: uri
            animations:
            - animationStatic:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                startTimeOffset: startTimeOffset
              animationFade:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                endTimeOffset: endTimeOffset
                fadeType: FADE_TYPE_UNSPECIFIED
                startTimeOffset: startTimeOffset
              animationEnd:
                startTimeOffset: startTimeOffset
            - animationStatic:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                startTimeOffset: startTimeOffset
              animationFade:
                xy:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                endTimeOffset: endTimeOffset
                fadeType: FADE_TYPE_UNSPECIFIED
                startTimeOffset: startTimeOffset
              animationEnd:
                startTimeOffset: startTimeOffset
          manifests:
          - fileName: fileName
            muxStreams:
            - muxStreams
            - muxStreams
            type: MANIFEST_TYPE_UNSPECIFIED
          - fileName: fileName
            muxStreams:
            - muxStreams
            - muxStreams
            type: MANIFEST_TYPE_UNSPECIFIED
          elementaryStreams:
          - videoStream:
              entropyCoder: entropyCoder
              pixelFormat: pixelFormat
              enableTwoPass: true
              profile: profile
              crfLevel: 4
              heightPixels: 1
              preset: preset
              bitrateBps: 2
              tune: tune
              widthPixels: 7
              codec: codec
              frameRate: 7.386281948385884
              vbvSizeBits: 6
              bFrameCount: 3
              gopDuration: gopDuration
              allowOpenGop: true
              aqStrength: 9.301444243932576
              bPyramid: true
              gopFrameCount: 1
              vbvFullnessBits: 1
              rateControlMode: rateControlMode
            audioStream:
              sampleRateHertz: 2
              channelCount: 6
              channelLayout:
              - channelLayout
              - channelLayout
              codec: codec
              mapping:
              - channels:
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                key: key
              - channels:
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                key: key
              bitrateBps: 0
            textStream:
              codec: codec
              mapping:
              - inputs:
                - track: 7
                  key: key
                - track: 7
                  key: key
                key: key
              - inputs:
                - track: 7
                  key: key
                - track: 7
                  key: key
                key: key
              languageCode: languageCode
            key: key
          - videoStream:
              entropyCoder: entropyCoder
              pixelFormat: pixelFormat
              enableTwoPass: true
              profile: profile
              crfLevel: 4
              heightPixels: 1
              preset: preset
              bitrateBps: 2
              tune: tune
              widthPixels: 7
              codec: codec
              frameRate: 7.386281948385884
              vbvSizeBits: 6
              bFrameCount: 3
              gopDuration: gopDuration
              allowOpenGop: true
              aqStrength: 9.301444243932576
              bPyramid: true
              gopFrameCount: 1
              vbvFullnessBits: 1
              rateControlMode: rateControlMode
            audioStream:
              sampleRateHertz: 2
              channelCount: 6
              channelLayout:
              - channelLayout
              - channelLayout
              codec: codec
              mapping:
              - channels:
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                key: key
              - channels:
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                - inputs:
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                  - gainDb: 5.962133916683182
                    channel: 1
                    track: 5
                    key: key
                key: key
              bitrateBps: 0
            textStream:
              codec: codec
              mapping:
              - inputs:
                - track: 7
                  key: key
                - track: 7
                  key: key
                key: key
              - inputs:
                - track: 7
                  key: key
                - track: 7
                  key: key
                key: key
              languageCode: languageCode
            key: key
      properties:
        config:
          $ref: '#/components/schemas/JobConfig'
        name:
          description: "The resource name of the job template. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`"
          type: string
      type: object
    ListJobTemplatesResponse:
      description: Response message for `TranscoderService.ListJobTemplates`.
      example:
        nextPageToken: nextPageToken
        jobTemplates:
        - name: name
          config:
            output:
              uri: uri
            adBreaks:
            - startTimeOffset: startTimeOffset
            - startTimeOffset: startTimeOffset
            editList:
            - endTimeOffset: endTimeOffset
              inputs:
              - inputs
              - inputs
              startTimeOffset: startTimeOffset
              key: key
            - endTimeOffset: endTimeOffset
              inputs:
              - inputs
              - inputs
              startTimeOffset: startTimeOffset
              key: key
            spriteSheets:
            - endTimeOffset: endTimeOffset
              spriteWidthPixels: 7
              format: format
              interval: interval
              columnCount: 3
              rowCount: 7
              filePrefix: filePrefix
              startTimeOffset: startTimeOffset
              totalCount: 6
              spriteHeightPixels: 0
              quality: 3
            - endTimeOffset: endTimeOffset
              spriteWidthPixels: 7
              format: format
              interval: interval
              columnCount: 3
              rowCount: 7
              filePrefix: filePrefix
              startTimeOffset: startTimeOffset
              totalCount: 6
              spriteHeightPixels: 0
              quality: 3
            muxStreams:
            - container: container
              fileName: fileName
              segmentSettings:
                segmentDuration: segmentDuration
                individualSegments: true
              encryption:
                aes128:
                  keyUri: keyUri
                mpegCenc:
                  scheme: scheme
                  keyId: keyId
                sampleAes:
                  keyUri: keyUri
                iv: iv
                key: key
              elementaryStreams:
              - elementaryStreams
              - elementaryStreams
              key: key
            - container: container
              fileName: fileName
              segmentSettings:
                segmentDuration: segmentDuration
                individualSegments: true
              encryption:
                aes128:
                  keyUri: keyUri
                mpegCenc:
                  scheme: scheme
                  keyId: keyId
                sampleAes:
                  keyUri: keyUri
                iv: iv
                key: key
              elementaryStreams:
              - elementaryStreams
              - elementaryStreams
              key: key
            pubsubDestination:
              topic: topic
            inputs:
            - preprocessingConfig:
                pad:
                  topPixels: 6
                  bottomPixels: 6
                  rightPixels: 2
                  leftPixels: 1
                denoise:
                  strength: 3.5571952270680973
                  tune: tune
                color:
                  saturation: 9.965781217890562
                  brightness: 4.965218492984954
                  contrast: 5.025004791520295
                audio:
                  lufs: 1.1730742509559433
                  lowBoost: true
                  highBoost: true
                deblock:
                  strength: 6.438423552598547
                  enabled: true
                crop:
                  topPixels: 9
                  bottomPixels: 9
                  rightPixels: 8
                  leftPixels: 6
              uri: uri
              key: key
            - preprocessingConfig:
                pad:
                  topPixels: 6
                  bottomPixels: 6
                  rightPixels: 2
                  leftPixels: 1
                denoise:
                  strength: 3.5571952270680973
                  tune: tune
                color:
                  saturation: 9.965781217890562
                  brightness: 4.965218492984954
                  contrast: 5.025004791520295
                audio:
                  lufs: 1.1730742509559433
                  lowBoost: true
                  highBoost: true
                deblock:
                  strength: 6.438423552598547
                  enabled: true
                crop:
                  topPixels: 9
                  bottomPixels: 9
                  rightPixels: 8
                  leftPixels: 6
              uri: uri
              key: key
            overlays:
            - image:
                alpha: 6.704019297950036
                resolution:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                uri: uri
              animations:
              - animationStatic:
                  xy:
                    x: 6.878052220127876
                    "y": 5.944895607614016
                  startTimeOffset: startTimeOffset
                animationFade:
                  xy:
                    x: 6.878052220127876
                    "y": 5.944895607614016
                  endTimeOffset: endTimeOffset
                  fadeType: FADE_TYPE_UNSPECIFIED
                  startTimeOffset: startTimeOffset
                animationEnd:
                  startTimeOffset: startTimeOffset
              - animationStatic:
                  xy:
                    x: 6.878052220127876
                    "y": 5.944895607614016
                  startTimeOffset: startTimeOffset
                animationFade:
                  xy:
                    x: 6.878052220127876
                    "y": 5.944895607614016
                  endTimeOffset: endTimeOffset
                  fadeType: FADE_TYPE_UNSPECIFIED
                  startTimeOffset: startTimeOffset
                animationEnd:
                  startTimeOffset: startTimeOffset
            - image:
                alpha: 6.704019297950036
                resolution:
                  x: 6.878052220127876
                  "y": 5.944895607614016
                uri: uri
              animations:
              - animationStatic:
                  xy:
                    x: 6.878052220127876
                    "y": 5.944895607614016
                  startTimeOffset: startTimeOffset
                animationFade:
                  xy:
                    x: 6.878052220127876
                    "y": 5.944895607614016
                  endTimeOffset: endTimeOffset
                  fadeType: FADE_TYPE_UNSPECIFIED
                  startTimeOffset: startTimeOffset
                animationEnd:
                  startTimeOffset: startTimeOffset
              - animationStatic:
                  xy:
                    x: 6.878052220127876
                    "y": 5.944895607614016
                  startTimeOffset: startTimeOffset
                animationFade:
                  xy:
                    x: 6.878052220127876
                    "y": 5.944895607614016
                  endTimeOffset: endTimeOffset
                  fadeType: FADE_TYPE_UNSPECIFIED
                  startTimeOffset: startTimeOffset
                animationEnd:
                  startTimeOffset: startTimeOffset
            manifests:
            - fileName: fileName
              muxStreams:
              - muxStreams
              - muxStreams
              type: MANIFEST_TYPE_UNSPECIFIED
            - fileName: fileName
              muxStreams:
              - muxStreams
              - muxStreams
              type: MANIFEST_TYPE_UNSPECIFIED
            elementaryStreams:
            - videoStream:
                entropyCoder: entropyCoder
                pixelFormat: pixelFormat
                enableTwoPass: true
                profile: profile
                crfLevel: 4
                heightPixels: 1
                preset: preset
                bitrateBps: 2
                tune: tune
                widthPixels: 7
                codec: codec
                frameRate: 7.386281948385884
                vbvSizeBits: 6
                bFrameCount: 3
                gopDuration: gopDuration
                allowOpenGop: true
                aqStrength: 9.301444243932576
                bPyramid: true
                gopFrameCount: 1
                vbvFullnessBits: 1
                rateControlMode: rateControlMode
              audioStream:
                sampleRateHertz: 2
                channelCount: 6
                channelLayout:
                - channelLayout
                - channelLayout
                codec: codec
                mapping:
                - channels:
                  - inputs:
                    - gainDb: 5.962133916683182
                      channel: 1
                      track: 5
                      key: key
                    - gainDb: 5.962133916683182
                      channel: 1
                      track: 5
                      key: key
                  - inputs:
                    - gainDb: 5.962133916683182
                      channel: 1
                      track: 5
                      key: key
                    - gainDb: 5.962133916683182
                      channel: 1
                      track: 5
                      key: key
                  key: key
                - channels:
                  - inputs:
                    - gainDb: 5.962133916683182
                      channel: 1
                      track: 5
                      key: key
                    - gainDb: 5.962133916683182
                      channel: 1
                      track: 5
                      key: key
                  - inputs:
[...]
