openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Manages your Cloud Monitoring data and configurations.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Monitoring API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://monitoring.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: monitoring
externalDocs:
  url: https://cloud.google.com/monitoring/api/
servers:
- url: https://monitoring.googleapis.com/
tags:
- name: locations
- name: operations
- name: projects
paths:
  /v1/locations/global/metricsScopes:listMetricsScopesByMonitoredProject:
    get:
      description: Returns a list of every Metrics Scope that a specific MonitoredProject
        has been added to. The metrics scope representing the specified monitored
        project will always be the first entry in the response.
      operationId: monitoring_locations_global_metrics_scopes_list_metrics_scopes_by_monitored_project
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the Monitored Project being requested.\
          \ Example: projects/{MONITORED_PROJECT_ID_OR_NUMBER}"
        explode: true
        in: query
        name: monitoredResourceContainer
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMetricsScopesByMonitoredProjectResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring.read
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring.read
      tags:
      - locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
  /v1/{name}:
    delete:
      description: "Deletes an existing custom dashboard.This method requires the\
        \ monitoring.dashboards.delete permission on the specified dashboard. For\
        \ more information, see Cloud Identity and Access Management (https://cloud.google.com/iam)."
      operationId: monitoring_projects_dashboards_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the Dashboard. The format is:\
          \ projects/[PROJECT_ID_OR_NUMBER]/dashboards/[DASHBOARD_ID] "
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring.write
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring.write
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: "Fetches a specific dashboard.This method requires the monitoring.dashboards.get\
        \ permission on the specified dashboard. For more information, see Cloud Identity\
        \ and Access Management (https://cloud.google.com/iam)."
      operationId: monitoring_projects_dashboards_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the Dashboard. The format is\
          \ one of: dashboards/[DASHBOARD_ID] (for system dashboards) projects/[PROJECT_ID_OR_NUMBER]/dashboards/[DASHBOARD_ID]\
          \ (for custom dashboards)."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring.read
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring.read
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    patch:
      description: "Replaces an existing custom dashboard with a new definition.This\
        \ method requires the monitoring.dashboards.update permission on the specified\
        \ dashboard. For more information, see Cloud Identity and Access Management\
        \ (https://cloud.google.com/iam)."
      operationId: monitoring_projects_dashboards_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Identifier. The resource name of the dashboard.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "If set, validate the request and preview the review, but do\
          \ not actually save it."
        explode: true
        in: query
        name: validateOnly
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring.write
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring.write
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}/location/{location}/prometheus/api/v1/label/{label}/values:
    get:
      description: Lists possible values for a given label name.
      operationId: monitoring_projects_location_prometheus_api_v1_label_values
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The workspace on which to execute the request. It is not part\
          \ of the open source API but used as a request path prefix to distinguish\
          \ different virtual Prometheus instances of Google Prometheus Engine. The\
          \ format is: projects/PROJECT_ID_OR_NUMBER."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Location of the resource information. Has to be "global" now.
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      - description: The label name for which values are queried.
        explode: false
        in: path
        name: label
        required: true
        schema:
          type: string
        style: simple
      - description: The end time to evaluate the query for. Either floating point
          UNIX seconds or RFC3339 formatted timestamp.
        explode: true
        in: query
        name: end
        required: false
        schema:
          type: string
        style: form
      - description: A list of matchers encoded in the Prometheus label matcher format
          to constrain the values to series that satisfy them.
        explode: true
        in: query
        name: match
        required: false
        schema:
          type: string
        style: form
      - description: The start time to evaluate the query for. Either floating point
          UNIX seconds or RFC3339 formatted timestamp.
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring.read
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring.read
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{name}/location/{location}/prometheus/api/v1/labels:
    post:
      description: Lists labels for metrics.
      operationId: monitoring_projects_location_prometheus_api_v1_labels
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The workspace on which to execute the request. It is not part\
          \ of the open source API but used as a request path prefix to distinguish\
          \ different virtual Prometheus instances of Google Prometheus Engine. The\
          \ format is: projects/PROJECT_ID_OR_NUMBER."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Location of the resource information. Has to be "global" now.
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryLabelsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring.read
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring.read
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}/location/{location}/prometheus/api/v1/metadata:
    get:
      description: Lists metadata for metrics.
      operationId: monitoring_projects_location_prometheus_api_v1_metadata_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The workspace on which to execute the request. It\
          \ is not part of the open source API but used as a request path prefix to\
          \ distinguish different virtual Prometheus instances of Google Prometheus\
          \ Engine. The format is: projects/PROJECT_ID_OR_NUMBER."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Location of the resource information. Has to be "global" for
          now.
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      - description: Maximum number of metrics to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      - description: "The metric name for which to query metadata. If unset, all metric\
          \ metadata is returned."
        explode: true
        in: query
        name: metric
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring.read
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring.read
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1/{name}/location/{location}/prometheus/api/v1/query:
    post:
      description: Evaluate a PromQL query at a single point in time.
      operationId: monitoring_projects_location_prometheus_api_v1_query
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The project on which to execute the request. Data associcated\
          \ with the project's workspace stored under the The format is: projects/PROJECT_ID_OR_NUMBER.\
          \ Open source API but used as a request path prefix to distinguish different\
          \ virtual Prometheus instances of Google Prometheus Engine."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Location of the resource information. Has to be "global" now.
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryInstantRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring.read
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring.read
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}/location/{location}/prometheus/api/v1/query_exemplars:
    post:
      description: "Lists exemplars relevant to a given PromQL query,"
      operationId: monitoring_projects_location_prometheus_api_v1_query_exemplars
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The project on which to execute the request. Data associcated\
          \ with the project's workspace stored under the The format is: projects/PROJECT_ID_OR_NUMBER.\
          \ Open source API but used as a request path prefix to distinguish different\
          \ virtual Prometheus instances of Google Prometheus Engine."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Location of the resource information. Has to be "global" now.
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryExemplarsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring.read
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring.read
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}/location/{location}/prometheus/api/v1/query_range:
    post:
      description: "Evaluate a PromQL query with start, end time range."
      operationId: monitoring_projects_location_prometheus_api_v1_query_range
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The project on which to execute the request. Data associcated\
          \ with the project's workspace stored under the The format is: projects/PROJECT_ID_OR_NUMBER.\
          \ Open source API but used as a request path prefix to distinguish different\
          \ virtual Prometheus instances of Google Prometheus Engine."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Location of the resource information. Has to be "global" now.
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRangeRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring.read
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring.read
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}/location/{location}/prometheus/api/v1/series:
    post:
      description: Lists metadata for metrics.
      operationId: monitoring_projects_location_prometheus_api_v1_series
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The workspace on which to execute the request. It\
          \ is not part of the open source API but used as a request path prefix to\
          \ distinguish different virtual Prometheus instances of Google Prometheus\
          \ Engine. The format is: projects/PROJECT_ID_OR_NUMBER."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: Location of the resource information. Has to be "global" for
          now.
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuerySeriesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring.read
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring.read
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/dashboards:
    get:
      description: "Lists the existing dashboards.This method requires the monitoring.dashboards.list\
        \ permission on the specified project. For more information, see Cloud Identity\
        \ and Access Management (https://cloud.google.com/iam)."
      operationId: monitoring_projects_dashboards_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The scope of the dashboards to list. The format is:\
          \ projects/[PROJECT_ID_OR_NUMBER] "
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "A positive number that is the maximum number of results to return.\
          \ If unspecified, a default of 1000 is used."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Optional. If this field is not empty then it must contain the
          nextPageToken value returned by a previous call to this method. Using this
          field causes the method to return additional results from the previous method
          call.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDashboardsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring.read
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring.read
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: "Creates a new custom dashboard. For examples on how you can use\
        \ this API to create dashboards, see Managing dashboards by API (https://cloud.google.com/monitoring/dashboards/api-dashboard).\
        \ This method requires the monitoring.dashboards.create permission on the\
        \ specified project. For more information about permissions, see Cloud Identity\
        \ and Access Management (https://cloud.google.com/iam)."
      operationId: monitoring_projects_dashboards_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The project on which to execute the request. The format\
          \ is: projects/[PROJECT_ID_OR_NUMBER] The [PROJECT_ID_OR_NUMBER] must match\
          \ the dashboard resource name."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "If set, validate the request and preview the review, but do\
          \ not actually save it."
        explode: true
        in: query
        name: validateOnly
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring.write
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring.write
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{parent}/projects:
    post:
      description: Adds a MonitoredProject with the given project ID to the specified
        Metrics Scope.
      operationId: monitoring_locations_global_metrics_scopes_projects_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the existing Metrics Scope that\
          \ will monitor this project. Example: locations/global/metricsScopes/{SCOPING_PROJECT_ID_OR_NUMBER}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitoredProject'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring.write
        Oauth2c:
        - https://www.googleapis.com/auth/monitoring.write
      tags:
      - locations
      x-openapi-router-controller: openapi_server.controllers.locations_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Aggregation:
      description: "Describes how to combine multiple time series to provide a different\
        \ view of the data. Aggregation of time series is done in two steps. First,\
        \ each time series in the set is aligned to the same time interval boundaries,\
        \ then the set of time series is optionally reduced in number.Alignment consists\
        \ of applying the per_series_aligner operation to each time series after its\
        \ data has been divided into regular alignment_period time intervals. This\
        \ process takes all of the data points in an alignment period, applies a mathematical\
        \ transformation such as averaging, minimum, maximum, delta, etc., and converts\
        \ them into a single data point per period.Reduction is when the aligned and\
        \ transformed time series can optionally be combined, reducing the number\
        \ of time series through similar mathematical transformations. Reduction involves\
        \ applying a cross_series_reducer to all the time series, optionally sorting\
        \ the time series into subsets with group_by_fields, and applying the reducer\
        \ to each subset.The raw time series data can contain a huge amount of information\
        \ from multiple sources. Alignment and reduction transforms this mass of data\
        \ into a more manageable and representative collection of data, for example\
        \ \"the 95% latency across the average of all tasks in a cluster\". This representative\
        \ data can be more easily graphed and comprehended, and the individual time\
        \ series data is still available for later drilldown. For more details, see\
        \ Filtering and aggregation (https://cloud.google.com/monitoring/api/v3/aggregation)."
      example:
        perSeriesAligner: ALIGN_NONE
        alignmentPeriod: alignmentPeriod
        crossSeriesReducer: REDUCE_NONE
        groupByFields:
        - groupByFields
        - groupByFields
      properties:
        alignmentPeriod:
          description: "The alignment_period specifies a time interval, in seconds,\
            \ that is used to divide the data in all the time series into consistent\
            \ blocks of time. This will be done before the per-series aligner can\
            \ be applied to the data.The value must be at least 60 seconds. If a per-series\
            \ aligner other than ALIGN_NONE is specified, this field is required or\
            \ an error is returned. If no per-series aligner is specified, or the\
            \ aligner ALIGN_NONE is specified, then this field is ignored.The maximum\
            \ value of the alignment_period is 2 years, or 104 weeks."
          format: google-duration
          title: alignmentPeriod
          type: string
        crossSeriesReducer:
          description: "The reduction operation to be used to combine time series\
            \ into a single time series, where the value of each data point in the\
            \ resulting series is a function of all the already aligned values in\
            \ the input time series.Not all reducer operations can be applied to all\
            \ time series. The valid choices depend on the metric_kind and the value_type\
            \ of the original time series. Reduction can yield a time series with\
            \ a different metric_kind or value_type than the input time series.Time\
            \ series data must first be aligned (see per_series_aligner) in order\
            \ to perform cross-time series reduction. If cross_series_reducer is specified,\
            \ then per_series_aligner must be specified, and must not be ALIGN_NONE.\
            \ An alignment_period must also be specified; otherwise, an error is returned."
          enum:
          - REDUCE_NONE
          - REDUCE_MEAN
          - REDUCE_MIN
          - REDUCE_MAX
          - REDUCE_SUM
          - REDUCE_STDDEV
          - REDUCE_COUNT
          - REDUCE_COUNT_TRUE
          - REDUCE_COUNT_FALSE
          - REDUCE_FRACTION_TRUE
          - REDUCE_PERCENTILE_99
          - REDUCE_PERCENTILE_95
          - REDUCE_PERCENTILE_50
          - REDUCE_PERCENTILE_05
          title: crossSeriesReducer
          type: string
        groupByFields:
          description: "The set of fields to preserve when cross_series_reducer is\
            \ specified. The group_by_fields determine how the time series are partitioned\
            \ into subsets prior to applying the aggregation operation. Each subset\
            \ contains time series that have the same value for each of the grouping\
            \ fields. Each individual time series is a member of exactly one subset.\
            \ The cross_series_reducer is applied to each subset of time series. It\
            \ is not possible to reduce across different resource types, so this field\
            \ implicitly contains resource.type. Fields not specified in group_by_fields\
            \ are aggregated away. If group_by_fields is not specified and all the\
            \ time series have the same resource type, then the time series are aggregated\
            \ into a single output time series. If cross_series_reducer is not defined,\
            \ this field is ignored."
          items:
            type: string
          title: groupByFields
          type: array
        perSeriesAligner:
          description: "An Aligner describes how to bring the data points in a single\
            \ time series into temporal alignment. Except for ALIGN_NONE, all alignments\
            \ cause all the data points in an alignment_period to be mathematically\
            \ grouped together, resulting in a single data point for each alignment_period\
            \ with end timestamp at the end of the period.Not all alignment operations\
            \ may be applied to all time series. The valid choices depend on the metric_kind\
            \ and value_type of the original time series. Alignment can change the\
            \ metric_kind or the value_type of the time series.Time series data must\
            \ be aligned in order to perform cross-time series reduction. If cross_series_reducer\
            \ is specified, then per_series_aligner must be specified and not equal\
            \ to ALIGN_NONE and alignment_period must be specified; otherwise, an\
            \ error is returned."
          enum:
          - ALIGN_NONE
          - ALIGN_DELTA
          - ALIGN_RATE
          - ALIGN_INTERPOLATE
          - ALIGN_NEXT_OLDER
          - ALIGN_MIN
          - ALIGN_MAX
          - ALIGN_MEAN
          - ALIGN_COUNT
          - ALIGN_SUM
          - ALIGN_STDDEV
          - ALIGN_COUNT_TRUE
          - ALIGN_COUNT_FALSE
          - ALIGN_FRACTION_TRUE
          - ALIGN_PERCENTILE_99
          - ALIGN_PERCENTILE_95
          - ALIGN_PERCENTILE_50
          - ALIGN_PERCENTILE_05
          - ALIGN_PERCENT_CHANGE
          title: perSeriesAligner
          type: string
      title: Aggregation
      type: object
    AggregationFunction:
      description: "Preview: An identifier for an aggregation function. Aggregation\
        \ functions are SQL functions that group or transform data from multiple points\
        \ to a single point. This is a preview feature and may be subject to change\
        \ before final release."
      example:
        type: type
        parameters:
        - intValue: intValue
          doubleValue: 5.962133916683182
        - intValue: intValue
          doubleValue: 5.962133916683182
      properties:
        parameters:
          description: Optional. Parameters applied to the aggregation function. Only
            used for functions that require them.
          items:
            $ref: '#/components/schemas/Parameter'
          title: parameters
          type: array
        type:
          description: "Required. The type of aggregation function, must be one of\
            \ the following: \"none\" - no function. \"percentile\" - APPROX_QUANTILES()\
            \ - 1 parameter numeric value \"average\" - AVG() \"count\" - COUNT()\
            \ \"count-distinct\" - COUNT(DISTINCT) \"count-distinct-approx\" - APPROX_COUNT_DISTINCT()\
            \ \"max\" - MAX() \"min\" - MIN() \"sum\" - SUM()"
          title: type
          type: string
      title: AggregationFunction
      type: object
    AlertChart:
      description: A chart that displays alert policy data.
      example:
        name: name
      properties:
        name:
          description: "Required. The resource name of the alert policy. The format\
            \ is: projects/[PROJECT_ID_OR_NUMBER]/alertPolicies/[ALERT_POLICY_ID] "
          title: name
          type: string
      title: AlertChart
      type: object
    Axis:
      description: A chart axis.
      example:
        scale: SCALE_UNSPECIFIED
        label: label
      properties:
        label:
          description: The label of the axis.
          title: label
          type: string
        scale:
          description: "The axis scale. By default, a linear scale is used."
          enum:
          - SCALE_UNSPECIFIED
          - LINEAR
          - LOG10
          title: scale
          type: string
      title: Axis
      type: object
    Breakdown:
      description: "Preview: A breakdown is an aggregation applied to the measures\
        \ over a specified column. A breakdown can result in multiple series across\
        \ a category for the provided measure. This is a preview feature and may be\
        \ subject to change before final release."
      example:
        sortOrder: SORT_ORDER_UNSPECIFIED
        column: column
        limit: 2
        aggregationFunction:
          type: type
          parameters:
          - intValue: intValue
            doubleValue: 5.962133916683182
          - intValue: intValue
            doubleValue: 5.962133916683182
      properties:
        aggregationFunction:
          $ref: '#/components/schemas/AggregationFunction'
        column:
          description: Required. The name of the column in the dataset containing
            the breakdown values.
          title: column
          type: string
        limit:
          description: Required. A limit to the number of breakdowns. If set to zero
            then all possible breakdowns are applied. The list of breakdowns is dependent
            on the value of the sort_order field.
          format: int32
          title: limit
          type: integer
        sortOrder:
          description: Required. The sort order is applied to the values of the breakdown
            column.
          enum:
          - SORT_ORDER_UNSPECIFIED
          - SORT_ORDER_NONE
          - SORT_ORDER_ASCENDING
          - SORT_ORDER_DESCENDING
          title: sortOrder
          type: string
      title: Breakdown
      type: object
    ChartOptions:
      description: Options to control visual rendering of a chart.
      example:
        mode: MODE_UNSPECIFIED
        displayHorizontal: true
      properties:
        displayHorizontal:
          description: "Preview: Configures whether the charted values are shown on\
            \ the horizontal or vertical axis. By default, values are represented\
            \ the vertical axis. This is a preview feature and may be subject to change\
            \ before final release."
          title: displayHorizontal
          type: boolean
        mode:
          description: The chart mode.
          enum:
          - MODE_UNSPECIFIED
          - COLOR
          - X_RAY
          - STATS
          title: mode
          type: string
      title: ChartOptions
      type: object
    CollapsibleGroup:
      description: A widget that groups the other widgets. All widgets that are within
        the area spanned by the grouping widget are considered member widgets.
      example:
        collapsed: true
      properties:
        collapsed:
          description: The collapsed state of the widget on first page load.
          title: collapsed
          type: boolean
      title: CollapsibleGroup
      type: object
    Column:
      description: Defines the layout properties and content for a column.
      example:
        weight: weight
        widgets:
        - alertChart:
            name: name
          errorReportingPanel:
            versions:
            - versions
            - versions
            projectNames:
            - projectNames
            - projectNames
            services:
            - services
            - services
          logsPanel:
            filter: filter
            resourceNames:
            - resourceNames
            - resourceNames
          blank: "{}"
          collapsibleGroup:
            collapsed: true
          title: title
          scorecard:
            gaugeView:
              upperBound: 9.301444243932576
              lowerBound: 7.061401241503109
            thresholds:
            - color: COLOR_UNSPECIFIED
              targetAxis: TARGET_AXIS_UNSPECIFIED
              label: label
              value: 3.616076749251911
              direction: DIRECTION_UNSPECIFIED
            - color: COLOR_UNSPECIFIED
              targetAxis: TARGET_AXIS_UNSPECIFIED
              label: label
              value: 3.616076749251911
              direction: DIRECTION_UNSPECIFIED
            timeSeriesQuery:
              timeSeriesQueryLanguage: timeSeriesQueryLanguage
              opsAnalyticsQuery:
                sql: sql
              prometheusQuery: prometheusQuery
              unitOverride: unitOverride
              timeSeriesFilterRatio:
                pickTimeSeriesFilter:
                  rankingMethod: METHOD_UNSPECIFIED
                  interval:
                    startTime: startTime
                    endTime: endTime
                  numTimeSeries: 5
                  direction: DIRECTION_UNSPECIFIED
                secondaryAggregation:
                  perSeriesAligner: ALIGN_NONE
                  alignmentPeriod: alignmentPeriod
                  crossSeriesReducer: REDUCE_NONE
                  groupByFields:
                  - groupByFields
                  - groupByFields
                statisticalTimeSeriesFilter:
                  rankingMethod: METHOD_UNSPECIFIED
                  numTimeSeries: 2
                denominator:
                  filter: filter
                  aggregation:
                    perSeriesAligner: ALIGN_NONE
                    alignmentPeriod: alignmentPeriod
                    crossSeriesReducer: REDUCE_NONE
                    groupByFields:
                    - groupByFields
                    - groupByFields
                numerator:
                  filter: filter
                  aggregation:
                    perSeriesAligner: ALIGN_NONE
                    alignmentPeriod: alignmentPeriod
                    crossSeriesReducer: REDUCE_NONE
                    groupByFields:
                    - groupByFields
                    - groupByFields
              outputFullDuration: true
              timeSeriesFilter:
                filter: filter
                pickTimeSeriesFilter:
                  rankingMethod: METHOD_UNSPECIFIED
                  interval:
                    startTime: startTime
                    endTime: endTime
                  numTimeSeries: 5
                  direction: DIRECTION_UNSPECIFIED
                secondaryAggregation:
                  perSeriesAligner: ALIGN_NONE
                  alignmentPeriod: alignmentPeriod
                  crossSeriesReducer: REDUCE_NONE
                  groupByFields:
                  - groupByFields
                  - groupByFields
                aggregation:
                  perSeriesAligner: ALIGN_NONE
                  alignmentPeriod: alignmentPeriod
                  crossSeriesReducer: REDUCE_NONE
                  groupByFields:
                  - groupByFields
                  - groupByFields
                statisticalTimeSeriesFilter:
                  rankingMethod: METHOD_UNSPECIFIED
                  numTimeSeries: 2
            blankView: "{}"
            sparkChartView:
              minAlignmentPeriod: minAlignmentPeriod
              sparkChartType: SPARK_CHART_TYPE_UNSPECIFIED
          incidentList:
            monitoredResources:
            - type: type
              labels:
                key: labels
            - type: type
              labels:
                key: labels
            policyNames:
            - policyNames
            - policyNames
          singleViewGroup: "{}"
          timeSeriesTable:
            metricVisualization: METRIC_VISUALIZATION_UNSPECIFIED
            dataSets:
            - tableTemplate: tableTemplate
              timeSeriesQuery:
                timeSeriesQueryLanguage: timeSeriesQueryLanguage
                opsAnalyticsQuery:
                  sql: sql
                prometheusQuery: prometheusQuery
                unitOverride: unitOverride
                timeSeriesFilterRatio:
                  pickTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    interval:
                      startTime: startTime
                      endTime: endTime
                    numTimeSeries: 5
                    direction: DIRECTION_UNSPECIFIED
                  secondaryAggregation:
                    perSeriesAligner: ALIGN_NONE
                    alignmentPeriod: alignmentPeriod
                    crossSeriesReducer: REDUCE_NONE
                    groupByFields:
                    - groupByFields
                    - groupByFields
                  statisticalTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    numTimeSeries: 2
                  denominator:
                    filter: filter
                    aggregation:
                      perSeriesAligner: ALIGN_NONE
                      alignmentPeriod: alignmentPeriod
                      crossSeriesReducer: REDUCE_NONE
                      groupByFields:
                      - groupByFields
                      - groupByFields
                  numerator:
                    filter: filter
                    aggregation:
                      perSeriesAligner: ALIGN_NONE
                      alignmentPeriod: alignmentPeriod
                      crossSeriesReducer: REDUCE_NONE
                      groupByFields:
                      - groupByFields
                      - groupByFields
                outputFullDuration: true
                timeSeriesFilter:
                  filter: filter
                  pickTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    interval:
                      startTime: startTime
                      endTime: endTime
                    numTimeSeries: 5
                    direction: DIRECTION_UNSPECIFIED
                  secondaryAggregation:
                    perSeriesAligner: ALIGN_NONE
                    alignmentPeriod: alignmentPeriod
                    crossSeriesReducer: REDUCE_NONE
                    groupByFields:
                    - groupByFields
                    - groupByFields
                  aggregation:
                    perSeriesAligner: ALIGN_NONE
                    alignmentPeriod: alignmentPeriod
                    crossSeriesReducer: REDUCE_NONE
                    groupByFields:
                    - groupByFields
                    - groupByFields
                  statisticalTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    numTimeSeries: 2
              minAlignmentPeriod: minAlignmentPeriod
              tableDisplayOptions:
                shownColumns:
                - shownColumns
                - shownColumns
            - tableTemplate: tableTemplate
              timeSeriesQuery:
                timeSeriesQueryLanguage: timeSeriesQueryLanguage
                opsAnalyticsQuery:
                  sql: sql
                prometheusQuery: prometheusQuery
                unitOverride: unitOverride
                timeSeriesFilterRatio:
                  pickTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    interval:
                      startTime: startTime
                      endTime: endTime
                    numTimeSeries: 5
                    direction: DIRECTION_UNSPECIFIED
                  secondaryAggregation:
                    perSeriesAligner: ALIGN_NONE
                    alignmentPeriod: alignmentPeriod
                    crossSeriesReducer: REDUCE_NONE
                    groupByFields:
                    - groupByFields
                    - groupByFields
                  statisticalTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    numTimeSeries: 2
                  denominator:
                    filter: filter
                    aggregation:
                      perSeriesAligner: ALIGN_NONE
                      alignmentPeriod: alignmentPeriod
                      crossSeriesReducer: REDUCE_NONE
                      groupByFields:
                      - groupByFields
                      - groupByFields
                  numerator:
                    filter: filter
                    aggregation:
                      perSeriesAligner: ALIGN_NONE
                      alignmentPeriod: alignmentPeriod
                      crossSeriesReducer: REDUCE_NONE
                      groupByFields:
                      - groupByFields
                      - groupByFields
                outputFullDuration: true
                timeSeriesFilter:
                  filter: filter
                  pickTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    interval:
                      startTime: startTime
                      endTime: endTime
                    numTimeSeries: 5
                    direction: DIRECTION_UNSPECIFIED
                  secondaryAggregation:
                    perSeriesAligner: ALIGN_NONE
                    alignmentPeriod: alignmentPeriod
                    crossSeriesReducer: REDUCE_NONE
                    groupByFields:
                    - groupByFields
                    - groupByFields
                  aggregation:
                    perSeriesAligner: ALIGN_NONE
                    alignmentPeriod: alignmentPeriod
                    crossSeriesReducer: REDUCE_NONE
                    groupByFields:
                    - groupByFields
                    - groupByFields
                  statisticalTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    numTimeSeries: 2
              minAlignmentPeriod: minAlignmentPeriod
              tableDisplayOptions:
                shownColumns:
                - shownColumns
                - shownColumns
            columnSettings:
            - visible: true
              column: column
            - visible: true
              column: column
          sectionHeader:
            subtitle: subtitle
            dividerBelow: true
          xyChart:
            chartOptions:
              mode: MODE_UNSPECIFIED
              displayHorizontal: true
            y2Axis:
              scale: SCALE_UNSPECIFIED
              label: label
            thresholds:
            - color: COLOR_UNSPECIFIED
              targetAxis: TARGET_AXIS_UNSPECIFIED
              label: label
              value: 3.616076749251911
              direction: DIRECTION_UNSPECIFIED
            - color: COLOR_UNSPECIFIED
              targetAxis: TARGET_AXIS_UNSPECIFIED
              label: label
              value: 3.616076749251911
              direction: DIRECTION_UNSPECIFIED
            yAxis:
              scale: SCALE_UNSPECIFIED
              label: label
            xAxis:
              scale: SCALE_UNSPECIFIED
              label: label
            timeshiftDuration: timeshiftDuration
            dataSets:
            - legendTemplate: legendTemplate
              measures:
              - column: column
                aggregationFunction:
                  type: type
                  parameters:
                  - intValue: intValue
                    doubleValue: 5.962133916683182
                  - intValue: intValue
                    doubleValue: 5.962133916683182
              - column: column
                aggregationFunction:
                  type: type
                  parameters:
                  - intValue: intValue
                    doubleValue: 5.962133916683182
                  - intValue: intValue
                    doubleValue: 5.962133916683182
              plotType: PLOT_TYPE_UNSPECIFIED
              timeSeriesQuery:
                timeSeriesQueryLanguage: timeSeriesQueryLanguage
                opsAnalyticsQuery:
                  sql: sql
                prometheusQuery: prometheusQuery
                unitOverride: unitOverride
                timeSeriesFilterRatio:
                  pickTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    interval:
                      startTime: startTime
                      endTime: endTime
                    numTimeSeries: 5
                    direction: DIRECTION_UNSPECIFIED
                  secondaryAggregation:
                    perSeriesAligner: ALIGN_NONE
                    alignmentPeriod: alignmentPeriod
                    crossSeriesReducer: REDUCE_NONE
                    groupByFields:
                    - groupByFields
                    - groupByFields
                  statisticalTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    numTimeSeries: 2
                  denominator:
                    filter: filter
                    aggregation:
                      perSeriesAligner: ALIGN_NONE
                      alignmentPeriod: alignmentPeriod
                      crossSeriesReducer: REDUCE_NONE
                      groupByFields:
                      - groupByFields
                      - groupByFields
                  numerator:
                    filter: filter
                    aggregation:
                      perSeriesAligner: ALIGN_NONE
                      alignmentPeriod: alignmentPeriod
                      crossSeriesReducer: REDUCE_NONE
                      groupByFields:
                      - groupByFields
                      - groupByFields
                outputFullDuration: true
                timeSeriesFilter:
                  filter: filter
                  pickTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    interval:
                      startTime: startTime
                      endTime: endTime
                    numTimeSeries: 5
                    direction: DIRECTION_UNSPECIFIED
                  secondaryAggregation:
                    perSeriesAligner: ALIGN_NONE
                    alignmentPeriod: alignmentPeriod
                    crossSeriesReducer: REDUCE_NONE
                    groupByFields:
                    - groupByFields
                    - groupByFields
                  aggregation:
                    perSeriesAligner: ALIGN_NONE
                    alignmentPeriod: alignmentPeriod
                    crossSeriesReducer: REDUCE_NONE
                    groupByFields:
                    - groupByFields
                    - groupByFields
                  statisticalTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    numTimeSeries: 2
              breakdowns:
              - sortOrder: SORT_ORDER_UNSPECIFIED
                column: column
                limit: 2
                aggregationFunction:
                  type: type
                  parameters:
                  - intValue: intValue
                    doubleValue: 5.962133916683182
                  - intValue: intValue
                    doubleValue: 5.962133916683182
              - sortOrder: SORT_ORDER_UNSPECIFIED
                column: column
                limit: 2
                aggregationFunction:
                  type: type
                  parameters:
                  - intValue: intValue
                    doubleValue: 5.962133916683182
                  - intValue: intValue
                    doubleValue: 5.962133916683182
              minAlignmentPeriod: minAlignmentPeriod
              targetAxis: TARGET_AXIS_UNSPECIFIED
              dimensions:
              - columnType: columnType
                maxBinCount: 6
                sortColumn: sortColumn
                floatBinSize: 0.8008281904610115
                sortOrder: SORT_ORDER_UNSPECIFIED
                column: column
                timeBinSize: timeBinSize
                numericBinSize: 1
              - columnType: columnType
                maxBinCount: 6
                sortColumn: sortColumn
                floatBinSize: 0.8008281904610115
                sortOrder: SORT_ORDER_UNSPECIFIED
                column: column
                timeBinSize: timeBinSize
                numericBinSize: 1
            - legendTemplate: legendTemplate
              measures:
              - column: column
                aggregationFunction:
                  type: type
                  parameters:
                  - intValue: intValue
                    doubleValue: 5.962133916683182
                  - intValue: intValue
                    doubleValue: 5.962133916683182
              - column: column
                aggregationFunction:
                  type: type
                  parameters:
                  - intValue: intValue
                    doubleValue: 5.962133916683182
                  - intValue: intValue
                    doubleValue: 5.962133916683182
              plotType: PLOT_TYPE_UNSPECIFIED
              timeSeriesQuery:
                timeSeriesQueryLanguage: timeSeriesQueryLanguage
                opsAnalyticsQuery:
                  sql: sql
                prometheusQuery: prometheusQuery
                unitOverride: unitOverride
                timeSeriesFilterRatio:
                  pickTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    interval:
                      startTime: startTime
                      endTime: endTime
                    numTimeSeries: 5
                    direction: DIRECTION_UNSPECIFIED
                  secondaryAggregation:
                    perSeriesAligner: ALIGN_NONE
                    alignmentPeriod: alignmentPeriod
                    crossSeriesReducer: REDUCE_NONE
                    groupByFields:
                    - groupByFields
                    - groupByFields
                  statisticalTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    numTimeSeries: 2
                  denominator:
                    filter: filter
                    aggregation:
                      perSeriesAligner: ALIGN_NONE
                      alignmentPeriod: alignmentPeriod
                      crossSeriesReducer: REDUCE_NONE
                      groupByFields:
                      - groupByFields
                      - groupByFields
                  numerator:
                    filter: filter
                    aggregation:
                      perSeriesAligner: ALIGN_NONE
                      alignmentPeriod: alignmentPeriod
                      crossSeriesReducer: REDUCE_NONE
                      groupByFields:
                      - groupByFields
                      - groupByFields
                outputFullDuration: true
                timeSeriesFilter:
                  filter: filter
                  pickTimeSeriesFilter:
                    rankingMethod: METHOD_UNSPECIFIED
                    interval:
                      startTime: startTime
                      endTime: endTime
                    numTimeSeries: 5
                    direction: DIRECTION_UNSPECIFIED
                  secondaryAggregation:
[...]
