openapi: 3.0.1
info:
  description: IP pool operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/IpPool.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-IpPool
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/ipPools
  : get:
      description: Returns a list of all IP pools at a certain location.
      operationId: IpPools_List
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      - description: OData filter parameter.
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpPoolList'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - IpPools
      x-ms-examples:
        Returns a list of all IP pools at a certain location.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/13ff1d24-17e5-4a95-a4b2-f3ec7ceaafb1
                  location: local
                  name: 13ff1d24-17e5-4a95-a4b2-f3ec7ceaafb1
                  properties:
                    endIpAddress: 192.168.200.62
                    numberOfAllocatedIpAddresses: 3
                    numberOfIpAddresses: 62
                    numberOfIpAddressesInTransition: 0
                    startIpAddress: 192.168.200.1
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/ipPools
                - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/7d78b1d4-059d-4956-bd08-a174ef5db6ae
                  location: local
                  name: 7d78b1d4-059d-4956-bd08-a174ef5db6ae
                  properties:
                    endIpAddress: 192.168.105.255
                    numberOfAllocatedIpAddresses: 8
                    numberOfIpAddresses: 255
                    numberOfIpAddressesInTransition: 0
                    startIpAddress: 192.168.105.1
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/ipPools
                - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/acd04be9-69fe-4713-99d3-99046f971f73
                  location: local
                  name: acd04be9-69fe-4713-99d3-99046f971f73
                  properties:
                    endIpAddress: 192.168.200.111
                    numberOfAllocatedIpAddresses: 0
                    numberOfIpAddresses: 47
                    numberOfIpAddressesInTransition: 0
                    startIpAddress: 192.168.200.65
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/ipPools
                - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/cace184f-12a4-43a7-ab22-9796cda85c56
                  location: local
                  name: cace184f-12a4-43a7-ab22-9796cda85c56
                  properties:
                    endIpAddress: 192.168.200.127
                    numberOfAllocatedIpAddresses: 1
                    numberOfIpAddresses: 16
                    numberOfIpAddressesInTransition: 0
                    startIpAddress: 192.168.200.112
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/ipPools
                - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/cf9ccfbf-d902-44ef-914c-3e59c2cc5215
                  location: local
                  name: cf9ccfbf-d902-44ef-914c-3e59c2cc5215
                  properties:
                    endIpAddress: 192.168.200.254
                    numberOfAllocatedIpAddresses: 1
                    numberOfIpAddresses: 31
                    numberOfIpAddressesInTransition: 0
                    startIpAddress: 192.168.200.224
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/ipPools
                - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/e7eb5792-8240-4210-8f25-73cf2d0be74a
                  location: local
                  name: e7eb5792-8240-4210-8f25-73cf2d0be74a
                  properties:
                    endIpAddress: 192.168.102.255
                    numberOfAllocatedIpAddresses: 33
                    numberOfIpAddresses: 255
                    numberOfIpAddressesInTransition: 0
                    startIpAddress: 192.168.102.1
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/ipPools
                - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/TestIpPool199198
                  location: local
                  name: TestIpPool199198
                  properties:
                    endIpAddress: 192.198.9.255
                    numberOfAllocatedIpAddresses: 0
                    numberOfIpAddresses: 255
                    numberOfIpAddressesInTransition: 0
                    startIpAddress: 192.198.9.1
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/ipPools
                - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/TestIpPool1992
                  location: local
                  name: TestIpPool1992
                  properties:
                    endIpAddress: 192.2.9.255
                    numberOfAllocatedIpAddresses: 0
                    numberOfIpAddresses: 255
                    numberOfIpAddressesInTransition: 0
                    startIpAddress: 192.2.9.1
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/ipPools
                - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/TestIpPool1993
                  location: local
                  name: TestIpPool1993
                  properties:
                    endIpAddress: 192.3.9.255
                    numberOfAllocatedIpAddresses: 0
                    numberOfIpAddresses: 255
                    numberOfIpAddressesInTransition: 0
                    startIpAddress: 192.3.9.1
                  tags: {}
                  type: Microsoft.Fabric.Admin/fabricLocations/ipPools
            "404": {}
      x-ms-odata: '#/definitions/IpPool'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/ipPools/{ipPool}
  : get:
      description: Return the requested IP pool.
      operationId: IpPools_Get
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: IP pool name.
        in: path
        name: ipPool
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpPool'
          description: OK
        "404":
          content: {}
          description: NOT FOUND
      tags:
      - IpPools
      x-ms-examples:
        Return the requested IP pool.:
          parameters:
            api-version: 2016-05-01
            ipPool: 981fec89-67d6-453e-bf21-5ff11562564f
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/ipPools/TestIpPool1993
                location: local
                name: TestIpPool1993
                properties:
                  endIpAddress: 192.3.9.255
                  numberOfAllocatedIpAddresses: 0
                  numberOfIpAddresses: 255
                  numberOfIpAddressesInTransition: 0
                  startIpAddress: 192.3.9.1
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/ipPools
            "404": {}
      x-accepts:
      - application/json
    put:
      description: Create an IP pool.  Once created an IP pool cannot be deleted.
      operationId: IpPools_CreateOrUpdate
      parameters:
      - description: Subscription credentials that uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Location of the resource.
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: IP pool name.
        in: path
        name: ipPool
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpPool'
        description: IP pool object to send.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpPool'
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpPool'
          description: Accepted
      tags:
      - IpPools
      x-ms-examples:
        Create an IP pool.  Once created an IP pool cannot be deleted.:
          parameters:
            api-version: 2016-05-01
            ipPool: myPool
            location: local
            pool:
              properties:
                endIpAddress: 192.168.1.254
                startIpAddress: 192.168.1.1
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                properties:
                  provisioningState: Succeeded
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: pool
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    IpPoolNameParameter:
      description: IP pool name.
      in: path
      name: ipPool
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    IpPoolParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IpPool'
      description: IP pool object to send.
      required: true
      x-ms-parameter-location: method
  schemas:
    IpPool:
      allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: This resource defines the range of IP addresses from which addresses
        are  allocated for nodes within a subnet.
      example:
        properties:
          endIpAddress: endIpAddress
          numberOfAllocatedIpAddresses: 0
          addressPrefix: addressPrefix
          numberOfIpAddresses: 6
          numberOfIpAddressesInTransition: 1
          startIpAddress: startIpAddress
      properties:
        properties:
          $ref: '#/components/schemas/IpPoolModel'
    IpPoolList:
      description: Pageable list of IP pools.
      example:
        value:
        - properties:
            endIpAddress: endIpAddress
            numberOfAllocatedIpAddresses: 0
            addressPrefix: addressPrefix
            numberOfIpAddresses: 6
            numberOfIpAddressesInTransition: 1
            startIpAddress: startIpAddress
        - properties:
            endIpAddress: endIpAddress
            numberOfAllocatedIpAddresses: 0
            addressPrefix: addressPrefix
            numberOfIpAddresses: 6
            numberOfIpAddressesInTransition: 1
            startIpAddress: startIpAddress
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of IP pools.
          items:
            $ref: '#/components/schemas/IpPool'
          type: array
      type: object
    IpPoolModel:
      description: Properties of an IpPool.
      example:
        endIpAddress: endIpAddress
        numberOfAllocatedIpAddresses: 0
        addressPrefix: addressPrefix
        numberOfIpAddresses: 6
        numberOfIpAddressesInTransition: 1
        startIpAddress: startIpAddress
      properties:
        addressPrefix:
          description: The address prefix.
          type: string
        endIpAddress:
          description: The ending IP address.
          type: string
        numberOfAllocatedIpAddresses:
          description: The number of currently allocated IP addresses.
          format: int64
          type: integer
        numberOfIpAddresses:
          description: The total number of IP addresses.
          format: int64
          type: integer
        numberOfIpAddressesInTransition:
          description: The current number of IP addresses in transition.
          format: int64
          type: integer
        startIpAddress:
          description: The starting IP address.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

