openapi: 3.0.1
info:
  description: "The Azure SQL Database management API provides a RESTful set of web\
    \ APIs that interact with Azure SQL Database services to manage your databases.\
    \ The API enables users to create, retrieve, update, and delete databases, servers,\
    \ and other entities."
  title: SqlManagementClient
  version: 2017-03-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/jobs.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-jobs
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents:
    get:
      description: Gets a list of job agents in a server.
      operationId: job_agents_list_by_server
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAgentListResult'
          description: Successfully retrieved the list of job agents.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
      - JobAgents
      x-ms-examples:
        List job agents in a server:
          parameters:
            api-version: 2017-03-01-preview
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1
                  location: southeastasia
                  name: agent1
                  properties:
                    databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
                  sku:
                    capacity: 100
                    name: Agent
                  type: Microsoft.Sql/servers/jobAgents
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/jobAgent2
                  location: southeastasia
                  name: jobAgent2
                  properties:
                    databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db12
                  sku:
                    capacity: 100
                    name: Agent
                  type: Microsoft.Sql/servers/jobAgents
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.job_agents_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}
  : delete:
      description: Deletes a job agent.
      operationId: job_agents_delete
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent to be deleted.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully deleted the job agent.
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: The specified job agent does not exist.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.
      tags:
      - JobAgents
      x-ms-examples:
        Delete a job agent:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.job_agents_controller
    get:
      description: Gets a job agent.
      operationId: job_agents_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent to be retrieved.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAgent'
          description: Successfully retrieved the specified job agent.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.
      tags:
      - JobAgents
      x-ms-examples:
        Get a job agent:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1
                location: southeastasia
                name: agent1
                properties:
                  databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
                sku:
                  capacity: 100
                  name: Agent
                type: Microsoft.Sql/servers/jobAgents
      x-openapi-router-controller: openapi_server.controllers.job_agents_controller
    patch:
      description: Updates a job agent.
      operationId: job_agents_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent to be updated.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobAgentUpdate'
        description: The update to the job agent.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAgent'
          description: Successfully updated the job agent.
        "202":
          content: {}
          description: Accepted
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 PropertyChangeUnsupported - Property cannot be modified.
      tags:
      - JobAgents
      x-ms-examples:
        Update a job agent's tags.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            parameters:
              tags:
                mytag1: myvalue1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1
                location: southeastasia
                name: agent1
                properties:
                  databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
                tags:
                  mytag1: myvalue1
                type: Microsoft.Sql/servers/jobAgents
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.job_agents_controller
    put:
      description: Creates or updates a job agent.
      operationId: job_agents_create_or_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent to be created or updated.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobAgent'
        description: The requested job agent resource state.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAgent'
          description: Successfully updated the job agent.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAgent'
          description: Successfully created the job agent.
        "202":
          content: {}
          description: Accepted
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid.

             * 400 MissingSkuName - Sku name is required.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 DatabaseDoesNotExist - The requested database was not found

             * 400 JobAgentExceededQuota - Could not create job agent because it would exceed the quota.

             * 400 JobAgentAlreadyExists - The job agent already exists on the server.

             * 400 JobAgentDatabaseEditionUnsupported - The specified database's service level objective is not supported for use as a job agent database.

             * 400 JobAgentDatabaseSecondary - A job agent cannot be linked to a geo-secondary database.

             * 400 JobAgentDatabaseAlreadyLinked - The specified database is already linked to another job agent.

             * 400 CannotUseReservedDatabaseName - Cannot use reserved database name in this operation.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 SubscriptionNotFound - The requested subscription was not found.

             * 404 PropertyChangeUnsupported - Property cannot be modified.
      tags:
      - JobAgents
      x-ms-examples:
        Create or update a job agent with all properties:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            parameters:
              location: southeastasia
              properties:
                databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
              sku:
                capacity: 100
                name: Agent
              tags:
                octopus: agent
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1
                location: southeastasia
                name: agent1
                properties:
                  databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
                sku:
                  capacity: 100
                  name: Agent
                tags:
                  octopus: agent
                type: Microsoft.Sql/servers/jobAgents
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1
                location: southeastasia
                name: agent1
                properties:
                  databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
                sku:
                  capacity: 100
                  name: Agent
                tags:
                  octopus: agent
                type: Microsoft.Sql/servers/jobAgents
            "202": {}
        Create or update a job agent with minimum properties:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            parameters:
              location: southeastasia
              properties:
                databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1
                location: southeastasia
                name: agent1
                properties:
                  databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
                sku:
                  capacity: 100
                  name: Agent
                type: Microsoft.Sql/servers/jobAgents
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1
                location: southeastasia
                name: agent1
                properties:
                  databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
                sku:
                  capacity: 100
                  name: Agent
                type: Microsoft.Sql/servers/jobAgents
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.job_agents_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/credentials
  : get:
      description: Gets a list of jobs credentials.
      operationId: job_credentials_list_by_agent
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCredentialListResult'
          description: Successfully retrieved the list of job credentials.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
      - JobCredentials
      x-ms-examples:
        List credentials in a job agent:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred1
                  name: cred1
                  properties:
                    username: myuser
                  type: Microsoft.Sql/servers/jobAccounts/credentials
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred2
                  name: cred2
                  properties:
                    username: anotherUser
                  type: Microsoft.Sql/servers/jobAccounts/credentials
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.job_credentials_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/credentials/{credentialName}
  : delete:
      description: Deletes a job credential.
      operationId: job_credentials_delete
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The name of the credential.
        in: path
        name: credentialName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully deleted the credential.
        "204":
          content: {}
          description: A credential with the specified name does not exist.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 403 JobCredentialPermissionError - Azure Resource Manager does not have permission to use or manage the credential.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
      - JobCredentials
      x-ms-examples:
        Delete a credential:
          parameters:
            api-version: 2017-03-01-preview
            credentialName: cred1
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.job_credentials_controller
    get:
      description: Gets a jobs credential.
      operationId: job_credentials_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The name of the credential.
        in: path
        name: credentialName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCredential'
          description: Successfully retrieved the job credential.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
      - JobCredentials
      x-ms-examples:
        Get a credential:
          parameters:
            api-version: 2017-03-01-preview
            credentialName: cred1
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred1
                name: cred1
                properties:
                  username: myuser
                type: Microsoft.Sql/servers/jobAccounts/credentials
      x-openapi-router-controller: openapi_server.controllers.job_credentials_controller
    put:
      description: Creates or updates a job credential.
      operationId: job_credentials_create_or_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The name of the credential.
        in: path
        name: credentialName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCredential'
        description: The requested job credential state.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCredential'
          description: Successfully updated the credential.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCredential'
          description: Successfully created the credential.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid.

             * 400 InvalidJobCredentialUsername - Invalid credential username.

             * 403 JobCredentialPermissionError - Azure Resource Manager does not have permission to use or manage the credential.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
      - JobCredentials
      x-ms-examples:
        Create or update a credential:
          parameters:
            api-version: 2017-03-01-preview
            credentialName: cred1
            jobAgentName: agent1
            parameters:
              properties:
                password: <password>
                username: myuser
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred1
                name: cred1
                properties:
                  username: myuser
                type: Microsoft.Sql/servers/jobAccounts/credentials
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred1
                name: cred1
                properties:
                  username: myuser
                type: Microsoft.Sql/servers/jobAccounts/credentials
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.job_credentials_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/executions
  : get:
      description: Lists all executions in a job agent.
      operationId: job_executions_list_by_agent
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: "If specified, only job executions created at or after the specified\
          \ time are included."
        in: query
        name: createTimeMin
        schema:
          format: date-time
          type: string
      - description: "If specified, only job executions created before the specified\
          \ time are included."
        in: query
        name: createTimeMax
        schema:
          format: date-time
          type: string
      - description: "If specified, only job executions completed at or after the\
          \ specified time are included."
        in: query
        name: endTimeMin
        schema:
          format: date-time
          type: string
      - description: "If specified, only job executions completed before the specified\
          \ time are included."
        in: query
        name: endTimeMax
        schema:
          format: date-time
          type: string
      - description: "If specified, only active or only completed job executions are\
          \ included."
        in: query
        name: isActive
        schema:
          type: boolean
      - description: The number of elements in the collection to skip.
        in: query
        name: $skip
        schema:
          type: integer
      - description: The number of elements to return from the collection.
        in: query
        name: $top
        schema:
          type: integer
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobExecutionListResult'
          description: Successfully retrieved job executions.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
      - JobExecutions
      x-ms-examples:
        List all job executions in a job agent with filtering.:
          parameters:
            api-version: 2017-03-01-preview
            createTimeMax: 2017-03-21T19:05:00.0000000Z
            createTimeMin: 2017-03-21T19:00:00.0000000Z
            endTimeMax: 2017-03-21T19:25:00.0000000Z
            endTimeMin: 2017-03-21T19:20:00.0000000Z
            isActive: false
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1//executions?api-version=2017-03-01-preview&%24skip=2
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999
                  name: 5555-6666-7777-8888-999999999999
                  properties:
                    createTime: 2017-03-21T19:02:00.8707045Z
                    currentAttemptStartTime: 2017-03-21T19:12:00.8707045Z
                    currentAttempts: 0
                    endTime: 2017-03-21T19:22:00.8707045Z
                    jobExecutionId: 5555-6666-7777-8888-999999999999
                    jobVersion: 1
                    lastMessage: Job execution created.
                    lifecycle: Created
                    provisioningState: Created
                    startTime: 2017-03-21T19:12:00.8707045Z
                  type: Microsoft.Sql/servers/jobAgents/jobs/executions
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job2/executions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                  name: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                  properties:
                    createTime: 2017-12-15T19:02:00.8707045Z
                    currentAttempts: 1
                    endTime: 2017-12-15T19:22:00.8707045Z
                    jobExecutionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                    jobVersion: 1
                    lastMessage: Job execution succeeded.
                    lifecycle: Succeeded
                    provisioningState: Succeeded
                    startTime: 2017-12-15T19:12:00.8707045Z
                  type: Microsoft.Sql/servers/jobAgents/jobs/executions
        List all job executions in a job agent.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1//executions?api-version=2017-03-01-preview&%24skip=2
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999
                  name: 5555-6666-7777-8888-999999999999
                  properties:
                    createTime: 2017-03-21T19:02:00.8707045Z
                    currentAttemptStartTime: 2017-03-21T19:12:00.8707045Z
                    currentAttempts: 0
                    endTime: 2017-03-21T19:22:00.8707045Z
                    jobExecutionId: 5555-6666-7777-8888-999999999999
                    jobVersion: 1
                    lastMessage: Job execution created.
                    lifecycle: Created
                    provisioningState: Created
                    startTime: 2017-03-21T19:12:00.8707045Z
                  type: Microsoft.Sql/servers/jobAgents/jobs/executions
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job2/executions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                  name: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                  properties:
                    createTime: 2017-12-15T19:02:00.8707045Z
                    currentAttempts: 1
                    endTime: 2017-12-15T19:22:00.8707045Z
                    jobExecutionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                    jobVersion: 1
                    lastMessage: Job execution succeeded.
                    lifecycle: Succeeded
                    provisioningState: Succeeded
                    startTime: 2017-12-15T19:12:00.8707045Z
                  type: Microsoft.Sql/servers/jobAgents/jobs/executions
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.job_executions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs
  : get:
      description: Gets a list of jobs.
      operationId: jobs_list_by_agent
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListResult'
          description: Successfully retrieved the list of jobs.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
      - Jobs
      x-ms-examples:
        List jobs in a job agent:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1
                  name: job1
                  properties:
                    description: my favourite job
                    schedule:
                      enabled: true
                      endTime: 2015-09-24T23:59:59Z
                      interval: PT5M
                      startTime: 2015-09-24T18:30:01Z
                      type: Recurring
                    version: 0
                  type: Microsoft.Sql/servers/jobAccounts/jobs
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job3
                  name: job3
                  properties:
                    description: this job will be scheduled once
                    schedule:
                      enabled: true
                      endTime: 2017-12-27T06:00:00Z
                      startTime: 2017-07-01T03:45:00Z
                      type: Once
                    version: 1
                  type: Microsoft.Sql/servers/jobAccounts/jobs
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job2
                  name: job2
                  properties:
                    description: this job will never be automatically scheduled
                    schedule:
                      enabled: false
                      endTime: 2017-12-27T06:00:00Z
                      startTime: 2017-07-01T03:45:00Z
                      type: Once
                    version: 1
                  type: Microsoft.Sql/servers/jobAccounts/jobs
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.jobs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}
  : delete:
      description: Deletes a job.
      operationId: jobs_delete
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The name of the job to delete.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully deleted the job.
        "204":
          content: {}
          description: The specified job does not exist.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
      - Jobs
      x-ms-examples:
        Delete a job:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.jobs_controller
    get:
      description: Gets a job.
      operationId: jobs_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The name of the job to get.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: Successfully retrieved the job.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
      - Jobs
      x-ms-examples:
        Get a job:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1
                name: job1
                properties:
                  description: my favourite job
                  schedule:
                    enabled: true
                    endTime: 2015-09-24T23:59:59Z
                    startTime: 2015-09-24T18:30:01Z
                    type: Once
                  version: 0
                type: Microsoft.Sql/servers/jobAccounts/jobs
      x-openapi-router-controller: openapi_server.controllers.jobs_controller
    put:
      description: Creates or updates a job.
      operationId: jobs_create_or_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The name of the job to get.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Job'
        description: The requested job state.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: Successfully updated the job.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: Successfully created the job.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid.

             * 400 InvalidDuration - Invalid duration.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
      - Jobs
      x-ms-examples:
        Create a job with all properties specified:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            parameters:
              properties:
                description: my favourite job
                schedule:
                  enabled: true
                  endTime: 2015-09-24T23:59:59Z
                  interval: PT5M
                  startTime: 2015-09-24T18:30:01Z
                  type: Recurring
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1
                name: job1
                properties:
                  description: my favourite job
                  schedule:
                    enabled: true
                    endTime: 2015-09-24T23:59:59Z
                    interval: PT5M
                    startTime: 2015-09-24T18:30:01Z
                    type: Recurring
                  version: 0
                type: Microsoft.Sql/servers/jobAccounts/jobs
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1
                name: job1
                properties:
                  description: my favourite job
                  schedule:
                    enabled: true
                    endTime: 2015-09-24T23:59:59Z
                    interval: PT5M
                    startTime: 2015-09-24T18:30:01Z
                    type: Recurring
                  version: 0
                type: Microsoft.Sql/servers/jobAccounts/jobs
        Create a job with default properties:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            parameters: {}
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1
                name: job1
                properties:
                  description: ""
                  schedule:
                    enabled: false
                    endTime: 9999-12-31T11:59:59Z
                    startTime: 0001-01-01T00:00:00Z
                    type: Once
                  version: 0
                type: Microsoft.Sql/servers/jobAccounts/jobs
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1
                name: job1
                properties:
                  description: ""
                  schedule:
                    enabled: false
                    endTime: 9999-12-31T11:59:59Z
                    startTime: 0001-01-01T00:00:00Z
                    type: Once
                  version: 0
                type: Microsoft.Sql/servers/jobAccounts/jobs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.jobs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions
  : get:
      description: Lists a job's executions.
      operationId: job_executions_list_by_job
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The name of the job to get.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: "If specified, only job executions created at or after the specified\
          \ time are included."
        in: query
        name: createTimeMin
        schema:
          format: date-time
          type: string
      - description: "If specified, only job executions created before the specified\
          \ time are included."
        in: query
        name: createTimeMax
        schema:
          format: date-time
          type: string
      - description: "If specified, only job executions completed at or after the\
          \ specified time are included."
        in: query
        name: endTimeMin
        schema:
          format: date-time
          type: string
      - description: "If specified, only job executions completed before the specified\
          \ time are included."
        in: query
        name: endTimeMax
        schema:
          format: date-time
          type: string
      - description: "If specified, only active or only completed job executions are\
          \ included."
        in: query
        name: isActive
        schema:
          type: boolean
      - description: The number of elements in the collection to skip.
        in: query
        name: $skip
        schema:
          type: integer
      - description: The number of elements to return from the collection.
        in: query
        name: $top
        schema:
          type: integer
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobExecutionListResult'
          description: Successfully retrieved job executions.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
      - JobExecutions
      x-ms-examples:
        List a job's executions.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions?api-version=2017-03-01-preview&%24skip=2
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999
                  name: 5555-6666-7777-8888-999999999999
                  properties:
                    createTime: 2017-03-21T19:02:00.8707045Z
                    currentAttemptStartTime: 2017-03-21T19:12:00.8707045Z
                    currentAttempts: 0
                    endTime: 2017-03-21T19:22:00.8707045Z
                    jobExecutionId: 5555-6666-7777-8888-999999999999
                    jobVersion: 1
                    lastMessage: Job execution created.
                    lifecycle: Created
                    provisioningState: Created
                    startTime: 2017-03-21T19:12:00.8707045Z
                  type: Microsoft.Sql/servers/jobAgents/jobs/executions
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                  name: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                  properties:
                    createTime: 2017-12-15T19:02:00.8707045Z
                    currentAttempts: 1
                    endTime: 2017-12-15T19:22:00.8707045Z
                    jobExecutionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                    jobVersion: 1
                    lastMessage: Job execution succeeded.
                    lifecycle: Succeeded
                    provisioningState: Succeeded
                    startTime: 2017-12-15T19:12:00.8707045Z
                  type: Microsoft.Sql/servers/jobAgents/jobs/executions
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.job_executions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}
  : get:
      description: Gets a job execution.
      operationId: job_executions_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The name of the job.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The id of the job execution
        in: path
        name: jobExecutionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobExecution'
          description: Successfully retrieved the job.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
      - JobExecutions
      x-ms-examples:
        Get a job execution.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999
                name: 5555-6666-7777-8888-999999999999
                properties:
                  createTime: 2017-12-21T19:02:00.8707045Z
                  currentAttemptStartTime: 2017-11-13T19:12:00.8707045Z
                  currentAttempts: 0
                  endTime: 2017-12-21T19:22:00.8707045Z
                  jobExecutionId: 5555-6666-7777-8888-999999999999
                  jobVersion: 1
                  lastMessage: Job execution created.
                  lifecycle: Created
                  provisioningState: Created
                  startTime: 2017-12-21T19:12:00.8707045Z
                type: Microsoft.Sql/servers/jobAgents/executions
      x-openapi-router-controller: openapi_server.controllers.job_executions_controller
    put:
      description: Creates or updates a job execution.
      operationId: job_executions_create_or_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The name of the job to get.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The job execution id to create the job execution under.
        in: path
        name: jobExecutionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobExecution'
          description: A job execution for the job with the given id already existed.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobExecution'
          description: Successfully started an execution for the job.
        "202":
          content: {}
          description: Accepted
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
      - JobExecutions
      x-ms-examples:
        Create job execution.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999
                name: 5555-6666-7777-8888-999999999999
                properties:
                  createTime: 2017-12-18T19:02:00.8707045Z
                  currentAttempts: 0
                  jobExecutionId: 5555-6666-7777-8888-999999999999
                  jobVersion: 1
                  lastMessage: Job execution created.
                  lifecycle: Created
                  provisioningState: Created
                type: Microsoft.Sql/servers/jobAgents/executions
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999
                name: 5555-6666-7777-8888-999999999999
                properties:
                  createTime: 2017-05-04T19:02:00.8707045Z
                  currentAttempts: 0
                  jobExecutionId: 5555-6666-7777-8888-999999999999
                  jobVersion: 1
                  lastMessage: Job execution created.
                  lifecycle: Created
                  provisioningState: Created
                type: Microsoft.Sql/servers/jobAgents/executions
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.job_executions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/cancel
  : post:
      description: Requests cancellation of a job execution.
      operationId: job_executions_cancel
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The name of the job.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The id of the job execution to cancel.
        in: path
        name: jobExecutionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully requested cancellation of the job execution.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
      - JobExecutions
      x-ms-examples:
        Cancel a job execution.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.job_executions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/steps
  : get:
      description: Lists the step executions of a job execution.
      operationId: job_step_executions_list_by_job_execution
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The name of the job to get.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The id of the job execution
        in: path
        name: jobExecutionId
        required: true
        schema:
          format: uuid
          type: string
      - description: "If specified, only job executions created at or after the specified\
          \ time are included."
        in: query
        name: createTimeMin
        schema:
          format: date-time
          type: string
      - description: "If specified, only job executions created before the specified\
          \ time are included."
        in: query
        name: createTimeMax
        schema:
          format: date-time
          type: string
      - description: "If specified, only job executions completed at or after the\
          \ specified time are included."
        in: query
        name: endTimeMin
        schema:
          format: date-time
          type: string
      - description: "If specified, only job executions completed before the specified\
          \ time are included."
        in: query
        name: endTimeMax
        schema:
          format: date-time
          type: string
      - description: "If specified, only active or only completed job executions are\
          \ included."
        in: query
        name: isActive
        schema:
          type: boolean
      - description: The number of elements in the collection to skip.
        in: query
        name: $skip
        schema:
          type: integer
      - description: The number of elements to return from the collection.
        in: query
        name: $top
        schema:
          type: integer
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobExecutionListResult'
          description: Successfully retrieved the step executions.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
      - JobStepExecutions
      x-ms-examples:
        List job step executions:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999/steps/step1
                  name: step1
                  properties:
                    createTime: 2017-12-03T04:33:15.7189151Z
                    currentAttemptStartTime: 2017-12-03T04:33:17.4840068Z
                    currentAttempts: 1
                    endTime: 2017-12-03T04:33:19.0600862Z
                    jobExecutionId: 5555-6666-7777-8888-999999999999
                    jobVersion: 1
                    lastMessage: Step 1 succeeded.
                    lifecycle: Succeeded
                    provisioningState: Succeeded
                    startTime: 2017-12-03T04:33:16.176937Z
                    stepId: 1
                    stepName: step1
                  type: Microsoft.Sql/servers/jobAgents/jobs/executions/steps
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.job_step_executions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/steps/{stepName}
  : get:
      description: Gets a step execution of a job execution.
      operationId: job_step_executions_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The name of the job to get.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The unique id of the job execution
        in: path
        name: jobExecutionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The name of the step.
        in: path
        name: stepName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobExecution'
          description: Successfully retrieved the step execution.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
      - JobStepExecutions
      x-ms-examples:
        Get a job step execution:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            stepName: step1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999/steps/step1
                name: step1
                properties:
                  createTime: 2017-12-27T04:33:15.7189151Z
                  currentAttemptStartTime: 2017-12-27T04:33:17.4840068Z
                  currentAttempts: 1
                  endTime: 2017-12-27T04:33:19.0600862Z
                  jobExecutionId: 5555-6666-7777-8888-999999999999
                  jobVersion: 1
                  lastMessage: Step 1 succeeded.
                  lifecycle: Succeeded
                  provisioningState: Succeeded
                  startTime: 2017-12-27T04:33:16.176937Z
                  stepId: 1
                  stepName: step1
                type: Microsoft.Sql/servers/jobAgents/jobs/executions/steps
      x-openapi-router-controller: openapi_server.controllers.job_step_executions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/steps/{stepName}/targets
  : get:
      description: Lists the target executions of a job step execution.
      operationId: job_target_executions_list_by_step
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The name of the job to get.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The id of the job execution
        in: path
        name: jobExecutionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The name of the step.
        in: path
        name: stepName
        required: true
        schema:
          type: string
      - description: "If specified, only job executions created at or after the specified\
          \ time are included."
        in: query
        name: createTimeMin
        schema:
          format: date-time
          type: string
      - description: "If specified, only job executions created before the specified\
          \ time are included."
        in: query
        name: createTimeMax
        schema:
          format: date-time
          type: string
      - description: "If specified, only job executions completed at or after the\
          \ specified time are included."
        in: query
        name: endTimeMin
        schema:
          format: date-time
          type: string
      - description: "If specified, only job executions completed before the specified\
          \ time are included."
        in: query
        name: endTimeMax
        schema:
          format: date-time
          type: string
      - description: "If specified, only active or only completed job executions are\
          \ included."
        in: query
        name: isActive
        schema:
          type: boolean
      - description: The number of elements in the collection to skip.
        in: query
        name: $skip
        schema:
          type: integer
      - description: The number of elements to return from the collection.
        in: query
        name: $top
        schema:
          type: integer
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobExecutionListResult'
          description: Successfully retrieved the target executions.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
      - JobTargetExecutions
      x-ms-examples:
        List job step target executions:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            stepName: step1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999/steps/step1/targets/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                  name: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                  properties:
                    createTime: 2017-07-01T04:33:17.5133333Z
                    currentAttemptStartTime: 2017-07-01T04:33:18.2391013Z
                    currentAttempts: 1
                    endTime: 2017-07-01T04:33:18.7031029Z
                    jobExecutionId: 5555-6666-7777-8888-999999999999
                    jobVersion: 1
                    lastMessage: "Step 1 succeeded execution on target (server 'server1',\
                      \ database 'database1')."
                    lifecycle: Succeeded
                    provisioningState: Succeeded
                    startTime: 2017-07-01T04:33:18.1230403Z
                    stepId: 1
                    stepName: step1
                    target:
                      databaseName: database1
                      serverName: server1
                      type: SqlDatabase
                  type: Microsoft.Sql/servers/jobAgents/jobs/executions/steps/targets
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.job_target_executions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/steps/{stepName}/targets/{targetId}
  : get:
      description: Gets a target execution.
      operationId: job_target_executions_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the job agent.
        in: path
        name: jobAgentName
        required: true
        schema:
          type: string
      - description: The name of the job to get.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The unique id of the job execution
        in: path
        name: jobExecutionId
        required: true
        schema:
          format: uuid
          type: string
      - description: The name of the step.
        in: path
        name: stepName
        required: true
        schema:
          type: string
      - description: The target id.
        in: path
        name: targetId
        required: true
        schema:
          format: uuid
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobExecution'
          description: Successfully retrieved the target execution.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
      - JobTargetExecutions
      x-ms-examples:
        Get a job step target execution:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            stepName: step1
            subscriptionId: 00000000-1111-2222-3333-444444444444
            targetId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999/steps/step1/targets/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                name: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                properties:
                  createTime: 2017-11-05T04:33:17.5133333Z
                  currentAttemptStartTime: 2017-11-05T04:33:18.2391013Z
                  currentAttempts: 1
                  endTime: 2017-11-05T04:33:18.7031029Z
                  jobExecutionId: 5555-6666-7777-8888-999999999999
                  jobVersion: 1
                  lastMessage: "Step 1 succeeded execution on target (server 'server1',\
                    \ database 'database1')."
                  lifecycle: Succeeded
                  provisioningState: Succeeded
                  startTime: 2017-11-05T04:33:18.1230403Z
                  stepId: 1
                  stepName: step1
                  target:
                    databaseName: database1
                    serverName: server1
                    type: SqlDatabase
                type: Microsoft.Sql/servers/jobAgents/jobs/executions/steps/targets
      x-openapi-router-controller: openapi_server.controllers.job_target_executions_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/targets
  : get:
      description: Lists target executions for all steps of a job execution.
      operationId: job_target_executions_list_by_job_execution
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
[...]
