openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Microvisor
  version: 1.55.0
  x-apisguru-categories:
  - telecom
  - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_microvisor_v1.json
    version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_microvisor_v1
servers:
- url: https://microvisor.twilio.com
tags:
- name: MicrovisorV1AccountConfig
- name: MicrovisorV1AccountSecret
- name: MicrovisorV1App
- name: MicrovisorV1AppManifest
- name: MicrovisorV1Device
- name: MicrovisorV1DeviceConfig
- name: MicrovisorV1DeviceSecret
paths:
  /v1/Apps:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Apps for an Account.
      operationId: ListApp
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1App
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    servers:
    - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      dependentProperties:
        app_manifests:
          mapping:
            app_sid: sid
          resource_url: "/v1/Apps/{app_sid}/Manifest"
      pathType: list
  /v1/Apps/{AppSid}/Manifest:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve the Manifest for an App.
      operationId: FetchAppManifest
      parameters:
      - description: A 34-character string that uniquely identifies this App.
        explode: false
        in: path
        name: AppSid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.app.app_manifest'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1AppManifest
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    servers:
    - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: app_manifests
      parent: "/Apps/{Sid}"
      pathType: instance
  /v1/Apps/{Sid}:
    delete:
      description: Delete a specific App.
      operationId: DeleteApp
      parameters:
      - description: A 34-character string that uniquely identifies this App.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1App
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific App.
      operationId: FetchApp
      parameters:
      - description: A 34-character string that uniquely identifies this App.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.app'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1App
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    servers:
    - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      dependentProperties:
        app_manifests:
          mapping:
            app_sid: sid
          resource_url: "/v1/Apps/{app_sid}/Manifest"
      pathType: instance
  /v1/Configs:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Configs for an Account.
      operationId: ListAccountConfig
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountConfigResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1AccountConfig
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: Create a config for an Account.
      operationId: CreateAccountConfig
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAccountConfigRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.account_config'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1AccountConfig
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: account_configs
      pathType: list
  /v1/Configs/{Key}:
    delete:
      description: Delete a config for an Account.
      operationId: DeleteAccountConfig
      parameters:
      - description: The config key; up to 100 characters.
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1AccountConfig
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a Config for an Account.
      operationId: FetchAccountConfig
      parameters:
      - description: The config key; up to 100 characters.
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.account_config'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1AccountConfig
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: Update a config for an Account.
      operationId: UpdateAccountConfig
      parameters:
      - description: The config key; up to 100 characters.
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateAccountConfigRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.account_config'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1AccountConfig
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: account_configs
      pathType: instance
  /v1/Devices:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Devices registered with the Account.
      operationId: ListDevice
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeviceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1Device
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    servers:
    - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      dependentProperties:
        device_configs:
          mapping:
            device_sid: sid
          resource_url: "/v1/Devices/{device_sid}/Configs"
        device_secrets:
          mapping:
            device_sid: sid
          resource_url: "/v1/Devices/{device_sid}/Secrets"
      pathType: list
  /v1/Devices/{DeviceSid}/Configs:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Configs for a Device.
      operationId: ListDeviceConfig
      parameters:
      - description: A 34-character string that uniquely identifies the Device.
        explode: false
        in: path
        name: DeviceSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeviceConfigResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1DeviceConfig
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: Create a config for a Microvisor Device.
      operationId: CreateDeviceConfig
      parameters:
      - description: A 34-character string that uniquely identifies the Device.
        explode: false
        in: path
        name: DeviceSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDeviceConfigRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.device.device_config'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1DeviceConfig
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: device_configs
      parent: "/Devices/{Sid}"
      pathType: list
  /v1/Devices/{DeviceSid}/Configs/{Key}:
    delete:
      description: Delete a config for a Microvisor Device.
      operationId: DeleteDeviceConfig
      parameters:
      - description: A 34-character string that uniquely identifies the Device.
        explode: false
        in: path
        name: DeviceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The config key; up to 100 characters.
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1DeviceConfig
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a Config for a Device.
      operationId: FetchDeviceConfig
      parameters:
      - description: A 34-character string that uniquely identifies the Device.
        explode: false
        in: path
        name: DeviceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The config key; up to 100 characters.
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.device.device_config'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1DeviceConfig
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: Update a config for a Microvisor Device.
      operationId: UpdateDeviceConfig
      parameters:
      - description: A 34-character string that uniquely identifies the Device.
        explode: false
        in: path
        name: DeviceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The config key; up to 100 characters.
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDeviceConfigRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.device.device_config'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1DeviceConfig
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: device_configs
      parent: "/Devices/{Sid}"
      pathType: instance
  /v1/Devices/{DeviceSid}/Secrets:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Secrets for a Device.
      operationId: ListDeviceSecret
      parameters:
      - description: A 34-character string that uniquely identifies the Device.
        explode: false
        in: path
        name: DeviceSid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeviceSecretResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1DeviceSecret
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: Create a secret for a Microvisor Device.
      operationId: CreateDeviceSecret
      parameters:
      - description: A 34-character string that uniquely identifies the Device.
        explode: false
        in: path
        name: DeviceSid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDeviceSecretRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.device.device_secret'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1DeviceSecret
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: device_secrets
      parent: "/Devices/{Sid}"
      pathType: list
  /v1/Devices/{DeviceSid}/Secrets/{Key}:
    delete:
      description: Delete a secret for a Microvisor Device.
      operationId: DeleteDeviceSecret
      parameters:
      - description: A 34-character string that uniquely identifies the Device.
        explode: false
        in: path
        name: DeviceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The secret key; up to 100 characters.
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1DeviceSecret
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a Secret for a Device.
      operationId: FetchDeviceSecret
      parameters:
      - description: A 34-character string that uniquely identifies the Device.
        explode: false
        in: path
        name: DeviceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The secret key; up to 100 characters.
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.device.device_secret'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1DeviceSecret
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: Update a secret for a Microvisor Device.
      operationId: UpdateDeviceSecret
      parameters:
      - description: A 34-character string that uniquely identifies the Device.
        explode: false
        in: path
        name: DeviceSid
        required: true
        schema:
          type: string
        style: simple
      - description: The secret key; up to 100 characters.
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDeviceSecretRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.device.device_secret'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1DeviceSecret
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: device_secrets
      parent: "/Devices/{Sid}"
      pathType: instance
  /v1/Devices/{Sid}:
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Device.
      operationId: FetchDevice
      parameters:
      - description: A 34-character string that uniquely identifies this Device.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.device'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1Device
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: Update a specific Device.
      operationId: UpdateDevice
      parameters:
      - description: A 34-character string that uniquely identifies this Device.
        explode: false
        in: path
        name: Sid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDeviceRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.device'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1Device
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      dependentProperties:
        device_configs:
          mapping:
            device_sid: sid
          resource_url: "/v1/Devices/{device_sid}/Configs"
        device_secrets:
          mapping:
            device_sid: sid
          resource_url: "/v1/Devices/{device_sid}/Secrets"
      pathType: instance
  /v1/Secrets:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Secrets for an Account.
      operationId: ListAccountSecret
      parameters:
      - description: "How many resources to return in each list page. The default\
          \ is 50, and the maximum is 1000."
        explode: true
        in: query
        name: PageSize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The page index. This value is simply for client state.
        explode: true
        in: query
        name: Page
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The page token. This is provided by the API.
        explode: true
        in: query
        name: PageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountSecretResponse'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1AccountSecret
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: Create a secret for an Account.
      operationId: CreateAccountSecret
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAccountSecretRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.account_secret'
          description: Created
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1AccountSecret
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: account_secrets
      pathType: list
  /v1/Secrets/{Key}:
    delete:
      description: Delete a secret for an Account.
      operationId: DeleteAccountSecret
      parameters:
      - description: The secret key; up to 100 characters.
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1AccountSecret
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a Secret for an Account.
      operationId: FetchAccountSecret
      parameters:
      - description: The secret key; up to 100 characters.
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.account_secret'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1AccountSecret
      x-maturity:
      - Preview
      x-accepts:
      - application/json
    post:
      description: Update a secret for an Account.
      operationId: UpdateAccountSecret
      parameters:
      - description: The secret key; up to 100 characters.
        explode: false
        in: path
        name: Key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateAccountSecretRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.account_secret'
          description: OK
      security:
      - accountSid_authToken: []
      tags:
      - MicrovisorV1AccountSecret
      x-maturity:
      - Preview
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
    servers:
    - url: https://microvisor.twilio.com
    x-twilio:
      defaultOutputProperties: []
      mountName: account_secrets
      pathType: instance
components:
  schemas:
    microvisor.v1.account_config:
      example:
        date_updated: 2000-01-23T04:56:07.000+00:00
        value: value
        key: key
        url: https://openapi-generator.tech
      properties:
        date_updated:
          format: date-time
          nullable: true
          type: string
        key:
          description: The config key; up to 100 characters.
          nullable: true
          type: string
        url:
          description: The absolute URL of the Config.
          format: uri
          nullable: true
          type: string
        value:
          description: The config value; up to 4096 characters.
          nullable: true
          type: string
      type: object
    microvisor.v1.account_secret:
      example:
        date_rotated: 2000-01-23T04:56:07.000+00:00
        key: key
        url: https://openapi-generator.tech
      properties:
        date_rotated:
          format: date-time
          nullable: true
          type: string
        key:
          description: The secret key; up to 100 characters.
          nullable: true
          type: string
        url:
          description: The absolute URL of the Secret.
          format: uri
          nullable: true
          type: string
      type: object
    microvisor.v1.app:
      example:
        unique_name: unique_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        links: "{}"
        hash: hash
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        date_created:
          description: "The date that this App was created, given in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
            \ format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date that this App was last updated, given in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
            \ format."
          format: date-time
          nullable: true
          type: string
        hash:
          description: App manifest hash represented as `hash_algorithm:hash_value`.
          nullable: true
          type: string
        links:
          format: uri-map
          nullable: true
          type: object
        sid:
          description: A 34-character string that uniquely identifies this App.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^KA[0-9a-fA-F]{32}$"
          type: string
        unique_name:
          description: A developer-defined string that uniquely identifies the App.
            This value must be unique for all Apps on this Account. The `unique_name`
            value may be used as an alternative to the `sid` in the URL path to address
            the resource.
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    microvisor.v1.app.app_manifest:
      example:
        encoded_bytes: encoded_bytes
        app_sid: app_sid
        hash: hash
        url: https://openapi-generator.tech
      properties:
        app_sid:
          description: A 34-character string that uniquely identifies this App.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^KA[0-9a-fA-F]{32}$"
          type: string
        encoded_bytes:
          description: The base-64 encoded manifest
          nullable: true
          type: string
        hash:
          description: App manifest hash represented as `hash_algorithm:hash_value`.
          nullable: true
          type: string
        url:
          description: The absolute URL of this Manifest.
          format: uri
          nullable: true
          type: string
      type: object
    microvisor.v1.device:
      example:
        app: ""
        unique_name: unique_name
        date_updated: 2000-01-23T04:56:07.000+00:00
        date_created: 2000-01-23T04:56:07.000+00:00
        account_sid: account_sid
        logging: ""
        links: "{}"
        url: https://openapi-generator.tech
        sid: sid
      properties:
        account_sid:
          description: The unique SID identifier of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^AC[0-9a-fA-F]{32}$"
          type: string
        app:
          description: "Information about the target App and the App reported by this\
            \ Device. Contains the properties `target_sid`, `date_targeted`, `update_status`\
            \ (one of `up-to-date`, `pending` and `error`), `update_error_code`, `reported_sid`\
            \ and `date_reported`."
          nullable: true
        date_created:
          description: "The date that this Device was created, given in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
            \ format."
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: "The date that this Device was last updated, given in [ISO\
            \ 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          type: string
        links:
          description: The absolute URLs of related resources.
          format: uri-map
          nullable: true
          type: object
        logging:
          description: Object specifying whether application logging is enabled for
            this Device. Contains the properties `enabled` and `date_expires`.
          nullable: true
        sid:
          description: A 34-character string that uniquely identifies this Device.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UV[0-9a-fA-F]{32}$"
          type: string
        unique_name:
          description: A developer-defined string that uniquely identifies the Device.
            This value must be unique for all Devices on this Account. The `unique_name`
            value may be used as an alternative to the `sid` in the URL path to address
            the resource.
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    microvisor.v1.device.device_config:
      example:
        device_sid: device_sid
        date_updated: 2000-01-23T04:56:07.000+00:00
        value: value
        key: key
        url: https://openapi-generator.tech
      properties:
        date_updated:
          format: date-time
          nullable: true
          type: string
        device_sid:
          description: A 34-character string that uniquely identifies the parent Device.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UV[0-9a-fA-F]{32}$"
          type: string
        key:
          description: The config key; up to 100 characters.
          nullable: true
          type: string
        url:
          description: The absolute URL of the Config.
          format: uri
          nullable: true
          type: string
        value:
          description: The config value; up to 4096 characters.
          nullable: true
          type: string
      type: object
    microvisor.v1.device.device_secret:
      example:
        device_sid: device_sid
        date_rotated: 2000-01-23T04:56:07.000+00:00
        key: key
        url: https://openapi-generator.tech
      properties:
        date_rotated:
          format: date-time
          nullable: true
          type: string
        device_sid:
          description: A 34-character string that uniquely identifies the parent Device.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: "^UV[0-9a-fA-F]{32}$"
          type: string
        key:
          description: The secret key; up to 100 characters.
          nullable: true
          type: string
        url:
          description: The absolute URL of the Secret.
          format: uri
          nullable: true
          type: string
      type: object
    ListAppResponse_meta:
      example:
        first_page_url: https://openapi-generator.tech
        next_page_url: https://openapi-generator.tech
        previous_page_url: https://openapi-generator.tech
        page: 0
        key: key
        url: https://openapi-generator.tech
        page_size: 6
      properties:
        first_page_url:
          format: uri
          type: string
        key:
          type: string
        next_page_url:
          format: uri
          nullable: true
          type: string
        page:
          type: integer
        page_size:
          type: integer
        previous_page_url:
          format: uri
          nullable: true
          type: string
        url:
          format: uri
          type: string
      type: object
    ListAppResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        apps:
        - unique_name: unique_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          links: "{}"
          hash: hash
          url: https://openapi-generator.tech
          sid: sid
        - unique_name: unique_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          links: "{}"
          hash: hash
          url: https://openapi-generator.tech
          sid: sid
      properties:
        apps:
          items:
            $ref: '#/components/schemas/microvisor.v1.app'
          type: array
        meta:
          $ref: '#/components/schemas/ListAppResponse_meta'
      title: ListAppResponse
      type: object
    ListAccountConfigResponse:
      example:
        configs:
        - date_updated: 2000-01-23T04:56:07.000+00:00
          value: value
          key: key
          url: https://openapi-generator.tech
        - date_updated: 2000-01-23T04:56:07.000+00:00
          value: value
          key: key
          url: https://openapi-generator.tech
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        configs:
          items:
            $ref: '#/components/schemas/microvisor.v1.account_config'
          type: array
        meta:
          $ref: '#/components/schemas/ListAppResponse_meta'
      title: ListAccountConfigResponse
      type: object
    CreateAccountConfigRequest:
      properties:
        Key:
          description: The config key; up to 100 characters.
          type: string
        Value:
          description: The config value; up to 4096 characters.
          type: string
      required:
      - Key
      - Value
      title: CreateAccountConfigRequest
      type: object
    UpdateAccountConfigRequest:
      properties:
        Value:
          description: The config value; up to 4096 characters.
          type: string
      required:
      - Value
      title: UpdateAccountConfigRequest
      type: object
    ListDeviceResponse:
      example:
        devices:
        - app: ""
          unique_name: unique_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          logging: ""
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
        - app: ""
          unique_name: unique_name
          date_updated: 2000-01-23T04:56:07.000+00:00
          date_created: 2000-01-23T04:56:07.000+00:00
          account_sid: account_sid
          logging: ""
          links: "{}"
          url: https://openapi-generator.tech
          sid: sid
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        devices:
          items:
            $ref: '#/components/schemas/microvisor.v1.device'
          type: array
        meta:
          $ref: '#/components/schemas/ListAppResponse_meta'
      title: ListDeviceResponse
      type: object
    ListDeviceConfigResponse:
      example:
        configs:
        - device_sid: device_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          value: value
          key: key
          url: https://openapi-generator.tech
        - device_sid: device_sid
          date_updated: 2000-01-23T04:56:07.000+00:00
          value: value
          key: key
          url: https://openapi-generator.tech
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
      properties:
        configs:
          items:
            $ref: '#/components/schemas/microvisor.v1.device.device_config'
          type: array
        meta:
          $ref: '#/components/schemas/ListAppResponse_meta'
      title: ListDeviceConfigResponse
      type: object
    CreateDeviceConfigRequest:
      properties:
        Key:
          description: The config key; up to 100 characters.
          type: string
        Value:
          description: The config value; up to 4096 characters.
          type: string
      required:
      - Key
      - Value
      title: CreateDeviceConfigRequest
      type: object
    UpdateDeviceConfigRequest:
      properties:
        Value:
          description: The config value; up to 4096 characters.
          type: string
      required:
      - Value
      title: UpdateDeviceConfigRequest
      type: object
    ListDeviceSecretResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        secrets:
        - device_sid: device_sid
          date_rotated: 2000-01-23T04:56:07.000+00:00
          key: key
          url: https://openapi-generator.tech
        - device_sid: device_sid
          date_rotated: 2000-01-23T04:56:07.000+00:00
          key: key
          url: https://openapi-generator.tech
      properties:
        meta:
          $ref: '#/components/schemas/ListAppResponse_meta'
        secrets:
          items:
            $ref: '#/components/schemas/microvisor.v1.device.device_secret'
          type: array
      title: ListDeviceSecretResponse
      type: object
    CreateDeviceSecretRequest:
      properties:
        Key:
          description: The secret key; up to 100 characters.
          type: string
        Value:
          description: The secret value; up to 4096 characters.
          type: string
      required:
      - Key
      - Value
      title: CreateDeviceSecretRequest
      type: object
    UpdateDeviceSecretRequest:
      properties:
        Value:
          description: The secret value; up to 4096 characters.
          type: string
      required:
      - Value
      title: UpdateDeviceSecretRequest
      type: object
    UpdateDeviceRequest:
      properties:
        LoggingEnabled:
          description: A Boolean flag specifying whether to enable application logging.
            Logs will be enabled or extended for 24 hours.
          type: boolean
        RestartApp:
          description: Set to true to restart the App running on the Device.
          type: boolean
        TargetApp:
          description: The SID or unique name of the App to be targeted to the Device.
          type: string
        UniqueName:
          description: A unique and addressable name to be assigned to this Device
            by the developer. It may be used in place of the Device SID.
          type: string
      title: UpdateDeviceRequest
      type: object
    ListAccountSecretResponse:
      example:
        meta:
          first_page_url: https://openapi-generator.tech
          next_page_url: https://openapi-generator.tech
          previous_page_url: https://openapi-generator.tech
          page: 0
          key: key
          url: https://openapi-generator.tech
          page_size: 6
        secrets:
        - date_rotated: 2000-01-23T04:56:07.000+00:00
          key: key
          url: https://openapi-generator.tech
        - date_rotated: 2000-01-23T04:56:07.000+00:00
          key: key
          url: https://openapi-generator.tech
      properties:
        meta:
          $ref: '#/components/schemas/ListAppResponse_meta'
        secrets:
          items:
            $ref: '#/components/schemas/microvisor.v1.account_secret'
          type: array
      title: ListAccountSecretResponse
      type: object
    CreateAccountSecretRequest:
      properties:
        Key:
          description: The secret key; up to 100 characters.
          type: string
        Value:
          description: The secret value; up to 4096 characters.
          type: string
      required:
      - Key
      - Value
      title: CreateAccountSecretRequest
      type: object
    UpdateAccountSecretRequest:
      properties:
        Value:
          description: The secret value; up to 4096 characters.
          type: string
      required:
      - Value
      title: UpdateAccountSecretRequest
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
- description: "PLEASE NOTE that this is a Preview product that is subject to change.\
    \ Use it with caution. If you currently do not have developer preview access,\
    \ please contact https://www.twilio.com/help/contact."
  name: Preview

