openapi: 3.0.1
info:
  contact:
    email: contact@namsor.com
    name: Namsor SAS
    url: http://www.namsor.com/
    x-twitter: gendreapp
  description: "NamSor API v2 : enpoints to process personal names (gender, cultural\
    \ origin or ethnicity) in all alphabets or languages. By default, enpoints use\
    \ 1 unit per name (ex. Gender), but Ethnicity classification uses 10 to 20 units\
    \ per name depending on taxonomy. Use GET methods for small tests, but prefer\
    \ POST methods for higher throughput (batch processing of up to 100 names at a\
    \ time). Need something you can't find here? We have many more features coming\
    \ soon. Let us know, we'll do our best to add it! "
  license:
    name: NamSorAPI_Lic_v0.0.7
    url: https://v2.namsor.com/NamSorAPIv2/assets/pdf/201803_NamSor_API_Terms_v007.pdf
  title: NamSor API v2
  version: 2.0.24
  x-apisguru-categories:
  - text
  x-logo:
    url: https://twitter.com/gendreapp/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: openapi
    url: https://v2.namsor.com/NamSorAPIv2/api2/openapi.json
    version: "3.0"
  x-providerName: namsor.com
externalDocs:
  description: "NamSor API client SDKs v2 for Java, Python"
  url: https://github.com/namsor
servers:
- description: namsor_v2
  url: https://v2.namsor.com/NamSorAPIv2
security:
- api_key: []
tags:
- description: "Personal names (anthroponyms) : gender, country origin/ethnicity,\
    \ diaspora, US 'race'/ethniciy"
  name: personal
- description: Social media and pseudonyms
  name: social
- description: CHINESE special features
  name: chinese
- description: JAPANESE special features
  name: japanese
- description: INDIAN special features
  name: indian
- description: "Administrative, system management."
  name: admin
paths:
  /api2/json/anonymize/{source}/{anonymized}/{token}:
    get:
      operationId: anonymize
      parameters:
      - explode: false
        in: path
        name: source
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: anonymized
        required: true
        schema:
          type: boolean
        style: simple
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyOut'
          description: Anonymization of a source.
        "401":
          description: Missing or incorrect API Key
      summary: Activate/deactivate anonymization for a source.
      tags:
      - admin
      x-openapi-router-controller: openapi_server.controllers.admin_controller
  /api2/json/apiKeyInfo:
    get:
      operationId: api_key_info
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyOut'
          description: "Read API Key (uncached, i.e. DB read)"
        "401":
          description: Missing or incorrect API Key
      summary: Read API Key info.
      tags:
      - admin
      x-openapi-router-controller: openapi_server.controllers.admin_controller
  /api2/json/apiServices:
    get:
      operationId: available_services
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIServicesOut'
          description: Available services
        "401":
          description: Missing or incorrect token
      summary: List of classification services and usage cost in Units per classification
        (default is 1=ONE Unit). Some API endpoints (ex. Corridor) combine multiple
        classifiers.
      tags:
      - admin
      x-openapi-router-controller: openapi_server.controllers.admin_controller
  /api2/json/apiStatus:
    get:
      operationId: api_status
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIClassifiersStatusOut'
          description: Available classifiers and status
        "401":
          description: Missing or incorrect token
      summary: Prints the current status of the classifiers. A classifier name in
        apiStatus corresponds to a service name in apiServices.
      tags:
      - admin
      x-openapi-router-controller: openapi_server.controllers.admin_controller
  /api2/json/apiUsage:
    get:
      operationId: api_usage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIPeriodUsageOut'
          description: Print current API usage.
        "401":
          description: Missing or incorrect API Key
      security:
      - api_key: []
      summary: Print current API usage.
      tags:
      - admin
      x-openapi-router-controller: openapi_server.controllers.admin_controller
  /api2/json/apiUsageHistory:
    get:
      operationId: api_usage_history
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIUsageHistoryOut'
          description: Print historical API usage (NB. new output format form v2.0.15)
        "401":
          description: Missing or incorrect API Key
      security:
      - api_key: []
      summary: Print historical API usage.
      tags:
      - admin
      x-openapi-router-controller: openapi_server.controllers.admin_controller
  /api2/json/apiUsageHistoryAggregate:
    get:
      operationId: api_usage_history_aggregate
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIUsageAggregatedOut'
          description: Print historical API usage.
        "401":
          description: Missing or incorrect API Key
      security:
      - api_key: []
      summary: "Print historical API usage (in an aggregated view, by service, by\
        \ day/hour/min)."
      tags:
      - admin
      x-openapi-router-controller: openapi_server.controllers.admin_controller
  /api2/json/castegroupIndianFull/{subDivisionIso31662}/{personalNameFull}:
    get:
      operationId: castegroup_indian_full
      parameters:
      - explode: false
        in: path
        name: subDivisionIso31662
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: personalNameFull
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalNameCastegroupOut'
          description: A castegroup-coded name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely Indian name castegroup of\
        \ a personal full name."
      tags:
      - indian
      x-openapi-router-controller: openapi_server.controllers.indian_controller
  /api2/json/castegroupIndianFullBatch:
    post:
      operationId: castegroup_indian_full_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameSubdivisionIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameCastegroupOut'
          description: A list of castegroup-coded names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely Indian name castegroup of\
        \ up to 100 personal full names. "
      tags:
      - indian
      x-openapi-router-controller: openapi_server.controllers.indian_controller
      x-codegen-request-body-name: body
  /api2/json/chineseNameCandidates/{chineseSurnameLatin}/{chineseGivenNameLatin}:
    get:
      operationId: chinese_name_candidates
      parameters:
      - explode: false
        in: path
        name: chineseSurnameLatin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: chineseGivenNameLatin
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameMatchCandidatesOut'
          description: A romanized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Identify Chinese name candidates, based on the romanized name ex.\
        \ Wang Xiaoming"
      tags:
      - chinese
      x-openapi-router-controller: openapi_server.controllers.chinese_controller
  /api2/json/chineseNameCandidatesBatch:
    post:
      operationId: chinese_name_candidates_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameIn'
        description: "A list of personal Chinese names in LATIN, firstName = chineseGivenName;\
          \ lastName=chineseSurname"
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNameMatchCandidatesOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Identify Chinese name candidates, based on the romanized name (firstName\
        \ = chineseGivenName; lastName=chineseSurname), ex. Wang Xiaoming"
      tags:
      - chinese
      x-openapi-router-controller: openapi_server.controllers.chinese_controller
      x-codegen-request-body-name: body
  /api2/json/chineseNameCandidatesGenderBatch:
    post:
      operationId: chinese_name_candidates_gender_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameGenderIn'
        description: "A list of personal Chinese names in LATIN, firstName = chineseGivenName;\
          \ lastName=chineseSurname"
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNameMatchCandidatesOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Identify Chinese name candidates, based on the romanized name (firstName\
        \ = chineseGivenName; lastName=chineseSurname) ex. Wang Xiaoming."
      tags:
      - chinese
      x-openapi-router-controller: openapi_server.controllers.chinese_controller
      x-codegen-request-body-name: body
  /api2/json/chineseNameGenderCandidates/{chineseSurnameLatin}/{chineseGivenNameLatin}/{knownGender}:
    get:
      operationId: chinese_name_gender_candidates
      parameters:
      - explode: false
        in: path
        name: chineseSurnameLatin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: chineseGivenNameLatin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: knownGender
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameMatchCandidatesOut'
          description: A romanized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Identify Chinese name candidates, based on the romanized name ex.\
        \ Wang Xiaoming - having a known gender ('male' or 'female')"
      tags:
      - chinese
      x-openapi-router-controller: openapi_server.controllers.chinese_controller
  /api2/json/chineseNameMatch/{chineseSurnameLatin}/{chineseGivenNameLatin}/{chineseName}:
    get:
      operationId: chinese_name_match
      parameters:
      - explode: false
        in: path
        name: chineseSurnameLatin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: chineseGivenNameLatin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: chineseName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameMatchedOut'
          description: A romanized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: Return a score for matching Chinese name ex. 王晓明 with a romanized name
        ex. Wang Xiaoming
      tags:
      - chinese
      x-openapi-router-controller: openapi_server.controllers.chinese_controller
  /api2/json/chineseNameMatchBatch:
    post:
      operationId: chinese_name_match_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchMatchPersonalFirstLastNameIn'
        description: "A list of personal Chinese names in LATIN, firstName = chineseGivenName;\
          \ lastName=chineseSurname"
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNameMatchedOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Identify Chinese name candidates, based on the romanized name (firstName\
        \ = chineseGivenName; lastName=chineseSurname), ex. Wang Xiaoming"
      tags:
      - chinese
      x-openapi-router-controller: openapi_server.controllers.chinese_controller
      x-codegen-request-body-name: body
  /api2/json/corridor/{countryIso2From}/{firstNameFrom}/{lastNameFrom}/{countryIso2To}/{firstNameTo}/{lastNameTo}:
    get:
      operationId: corridor
      parameters:
      - explode: false
        in: path
        name: countryIso2From
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: firstNameFrom
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: lastNameFrom
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: countryIso2To
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: firstNameTo
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: lastNameTo
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorridorOut'
          description: Two classified names.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 20 UNITS PER NAME COUPLE] Infer several classifications for\
        \ a cross border interaction between names (ex. remit, travel, intl com)"
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/corridorBatch:
    post:
      operationId: corridor_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCorridorIn'
        description: "A list of name pairs, with country code (nameFrom -> nameTo)."
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCorridorOut'
          description: A list of classified name pairs.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 20 UNITS PER NAME PAIR] Infer several classifications for up\
        \ to 100 cross border interaction between names (ex. remit, travel, intl com)"
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
  /api2/json/country/{personalNameFull}:
    get:
      operationId: country
      parameters:
      - explode: false
        in: path
        name: personalNameFull
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalNameGeoOut'
          description: A origined name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely country of residence of\
        \ a personal full name, or one surname. Assumes names as they are in the country\
        \ of residence OR the country of origin."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/countryBatch:
    post:
      operationId: country_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameGeoOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely country of residence of\
        \ up to 100 personal full names, or surnames. Assumes names as they are in\
        \ the country of residence OR the country of origin."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
  /api2/json/diaspora/{countryIso2}/{firstName}/{lastName}:
    get:
      operationId: diaspora
      parameters:
      - explode: false
        in: path
        name: countryIso2
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: firstName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: lastName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNameDiasporaedOut'
          description: A diaspora / ethnicity for given name and geography.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 20 UNITS PER NAME] Infer the likely ethnicity/diaspora of a\
        \ personal name, given a country of residence ISO2 code (ex. US, CA, AU, NZ\
        \ etc.)"
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/diasporaBatch:
    post:
      operationId: diaspora_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameGeoIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFirstLastNameDiasporaedOut'
          description: A list of diaspora / ethnicity given a name and residency.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 20 UNITS PER NAME] Infer the likely ethnicity/diaspora of up\
        \ to 100 personal names, given a country of residence ISO2 code (ex. US, CA,\
        \ AU, NZ etc.)"
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
  /api2/json/gender/{firstName}:
    get:
      operationId: gender1
      parameters:
      - explode: false
        in: path
        name: firstName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNameGenderedOut'
          description: A genderized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely gender of a just a fiven name, assuming default 'US'\
        \ local context. Please use preferably full names and local geographic context\
        \ for better accuracy."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/gender/{firstName}/{lastName}:
    get:
      operationId: gender
      parameters:
      - explode: false
        in: path
        name: firstName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: lastName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNameGenderedOut'
          description: A genderized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: Infer the likely gender of a name.
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/genderBatch:
    post:
      operationId: gender_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFirstLastNameGenderedOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely gender of up to 100 names, detecting automatically\
        \ the cultural context."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
  /api2/json/genderChineseName/{chineseName}:
    get:
      operationId: gender_chinese_name
      parameters:
      - explode: false
        in: path
        name: chineseName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalNameGenderedOut'
          description: A genderized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: Infer the likely gender of a Chinese full name ex. 王晓明
      tags:
      - chinese
      x-openapi-router-controller: openapi_server.controllers.chinese_controller
  /api2/json/genderChineseNameBatch:
    post:
      operationId: gender_chinese_name_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameIn'
        description: "A list of personal names, with a country ISO2 code"
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameGenderedOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: Infer the likely gender of up to 100 full names ex. 王晓明
      tags:
      - chinese
      x-openapi-router-controller: openapi_server.controllers.chinese_controller
      x-codegen-request-body-name: body
  /api2/json/genderChineseNamePinyin/{chineseSurnameLatin}/{chineseGivenNameLatin}:
    get:
      operationId: gender_chinese_name_pinyin
      parameters:
      - explode: false
        in: path
        name: chineseSurnameLatin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: chineseGivenNameLatin
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNameGenderedOut'
          description: A genderized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: Infer the likely gender of a Chinese name in LATIN (Pinyin).
      tags:
      - chinese
      x-openapi-router-controller: openapi_server.controllers.chinese_controller
  /api2/json/genderChineseNamePinyinBatch:
    post:
      operationId: gender_chinese_name_pinyin_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameIn'
        description: "A list of names, with country code."
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFirstLastNameGenderedOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: Infer the likely gender of up to 100 Chinese names in LATIN (Pinyin).
      tags:
      - chinese
      x-openapi-router-controller: openapi_server.controllers.chinese_controller
      x-codegen-request-body-name: body
  /api2/json/genderFull/{fullName}:
    get:
      operationId: gender_full
      parameters:
      - explode: false
        in: path
        name: fullName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalNameGenderedOut'
          description: A genderized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely gender of a full name, ex. John H. Smith"
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/genderFullBatch:
    post:
      operationId: gender_full_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameGenderedOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely gender of up to 100 full names, detecting automatically\
        \ the cultural context."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
  /api2/json/genderFullGeo/{fullName}/{countryIso2}:
    get:
      operationId: gender_full_geo
      parameters:
      - explode: false
        in: path
        name: fullName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: countryIso2
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalNameGenderedOut'
          description: A genderized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely gender of a full name, given a local context (ISO2\
        \ country code)."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/genderFullGeoBatch:
    post:
      operationId: gender_full_geo_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameGeoIn'
        description: "A list of personal names, with a country ISO2 code"
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameGenderedOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely gender of up to 100 full names, with a given cultural\
        \ context (country ISO2 code)."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
  /api2/json/genderGeo/{firstName}/{lastName}/{countryIso2}:
    get:
      operationId: gender_geo
      parameters:
      - explode: false
        in: path
        name: firstName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: lastName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: countryIso2
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNameGenderedOut'
          description: A genderized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely gender of a name, given a local context (ISO2 country\
        \ code)."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/genderGeoBatch:
    post:
      operationId: gender_geo_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameGeoIn'
        description: "A list of names, with country code."
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFirstLastNameGenderedOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely gender of up to 100 names, each given a local context\
        \ (ISO2 country code)."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
  /api2/json/genderJapaneseName/{japaneseSurname}/{japaneseGivenName}:
    get:
      operationId: gender_japanese_name_pinyin
      parameters:
      - explode: false
        in: path
        name: japaneseSurname
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: japaneseGivenName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNameGenderedOut'
          description: A genderized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: Infer the likely gender of a Japanese name in LATIN (Pinyin).
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
  /api2/json/genderJapaneseNameBatch:
    post:
      operationId: gender_japanese_name_pinyin_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameIn'
        description: "A list of names, with country code."
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFirstLastNameGenderedOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: Infer the likely gender of up to 100 Japanese names in LATIN (Pinyin).
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
      x-codegen-request-body-name: body
  /api2/json/genderJapaneseNameFull/{japaneseName}:
    get:
      operationId: gender_japanese_name_full
      parameters:
      - explode: false
        in: path
        name: japaneseName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalNameGenderedOut'
          description: A genderized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: Infer the likely gender of a Japanese full name ex. 王晓明
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
  /api2/json/genderJapaneseNameFullBatch:
    post:
      operationId: gender_japanese_name_full_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameGenderedOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: Infer the likely gender of up to 100 full names
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
      x-codegen-request-body-name: body
  /api2/json/japaneseNameGenderKanjiCandidatesBatch:
    post:
      operationId: japanese_name_gender_kanji_candidates_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameGenderIn'
        description: "A list of personal japanese names in LATIN, firstName = japaneseGivenName;\
          \ lastName=japaneseSurname and known gender"
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNameMatchCandidatesOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Identify japanese name candidates in KANJI, based on the romanized\
        \ name (firstName = japaneseGivenName; lastName=japaneseSurname) with KNOWN\
        \ gender, ex. Yamamoto Sanae"
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
      x-codegen-request-body-name: body
  /api2/json/japaneseNameKanjiCandidates/{japaneseSurnameLatin}/{japaneseGivenNameLatin}:
    get:
      operationId: japanese_name_kanji_candidates1
      parameters:
      - explode: false
        in: path
        name: japaneseSurnameLatin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: japaneseGivenNameLatin
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameMatchCandidatesOut'
          description: A romanized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Identify japanese name candidates in KANJI, based on the romanized\
        \ name ex. Yamamoto Sanae"
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
  /api2/json/japaneseNameKanjiCandidates/{japaneseSurnameLatin}/{japaneseGivenNameLatin}/{knownGender}:
    get:
      operationId: japanese_name_kanji_candidates
      parameters:
      - explode: false
        in: path
        name: japaneseSurnameLatin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: japaneseGivenNameLatin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: knownGender
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameMatchCandidatesOut'
          description: A romanized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Identify japanese name candidates in KANJI, based on the romanized\
        \ name ex. Yamamoto Sanae - and a known gender."
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
  /api2/json/japaneseNameKanjiCandidatesBatch:
    post:
      operationId: japanese_name_kanji_candidates_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameIn'
        description: "A list of personal japanese names in LATIN, firstName = japaneseGivenName;\
          \ lastName=japaneseSurname"
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNameMatchCandidatesOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Identify japanese name candidates in KANJI, based on the romanized\
        \ name (firstName = japaneseGivenName; lastName=japaneseSurname), ex. Yamamoto\
        \ Sanae"
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
      x-codegen-request-body-name: body
  /api2/json/japaneseNameLatinCandidates/{japaneseSurnameKanji}/{japaneseGivenNameKanji}:
    get:
      operationId: japanese_name_latin_candidates
      parameters:
      - explode: false
        in: path
        name: japaneseSurnameKanji
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: japaneseGivenNameKanji
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameMatchCandidatesOut'
          description: A romanized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Romanize japanese name, based on the name in Kanji."
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
  /api2/json/japaneseNameLatinCandidatesBatch:
    post:
      operationId: japanese_name_latin_candidates_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameIn'
        description: "A list of personal japanese names in KANJI, firstName = japaneseGivenName;\
          \ lastName=japaneseSurname"
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNameMatchCandidatesOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Romanize japanese names, based on the name in KANJI"
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
      x-codegen-request-body-name: body
  /api2/json/japaneseNameMatch/{japaneseSurnameLatin}/{japaneseGivenNameLatin}/{japaneseName}:
    get:
      operationId: japanese_name_match
      parameters:
      - explode: false
        in: path
        name: japaneseSurnameLatin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: japaneseGivenNameLatin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: japaneseName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameMatchedOut'
          description: A romanized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: Return a score for matching Japanese name in KANJI ex. 山本 早苗 with a
        romanized name ex. Yamamoto Sanae
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
  /api2/json/japaneseNameMatchBatch:
    post:
      operationId: japanese_name_match_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchMatchPersonalFirstLastNameIn'
        description: "A list of personal Japanese names in LATIN, firstName = japaneseGivenName;\
          \ lastName=japaneseSurname"
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchNameMatchedOut'
          description: A list of matched names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: Return a score for matching a list of Japanese names in KANJI ex. 山本
        早苗 with romanized names ex. Yamamoto Sanae
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
      x-codegen-request-body-name: body
  /api2/json/japaneseNameMatchFeedbackLoop/{japaneseSurnameLatin}/{japaneseGivenNameLatin}/{japaneseName}:
    get:
      operationId: japanese_name_match_feedback_loop
      parameters:
      - explode: false
        in: path
        name: japaneseSurnameLatin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: japaneseGivenNameLatin
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: japaneseName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackLoopOut'
          description: A romanized name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[CREDITS 1 UNIT] Feedback loop to better perform matching Japanese\
        \ name in KANJI ex. 山本 早苗 with a romanized name ex. Yamamoto Sanae"
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
  /api2/json/learnable/{source}/{learnable}/{token}:
    get:
      operationId: learnable
      parameters:
      - description: The API Key to set as learnable/non learnable.
        explode: false
        in: path
        name: source
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: learnable
        required: true
        schema:
          type: boolean
        style: simple
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyOut'
          description: Set learning from source.
        "401":
          description: Missing or incorrect API Key
      summary: Activate/deactivate learning from a source.
      tags:
      - admin
      x-openapi-router-controller: openapi_server.controllers.admin_controller
  /api2/json/nameType/{properNoun}:
    get:
      operationId: name_type
      parameters:
      - explode: false
        in: path
        name: properNoun
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProperNounCategorizedOut'
          description: A typed name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely type of a proper noun (personal name, brand name,\
        \ place name etc.)"
      tags:
      - general
      x-openapi-router-controller: openapi_server.controllers.general_controller
  /api2/json/nameTypeBatch:
    post:
      operationId: name_type_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchNameIn'
        description: A list of proper names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchProperNounCategorizedOut'
          description: A list of commonTypeized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely common type of up to 100 proper nouns (personal name,\
        \ brand name, place name etc.)"
      tags:
      - general
      x-openapi-router-controller: openapi_server.controllers.general_controller
      x-codegen-request-body-name: body
  /api2/json/nameTypeGeo/{properNoun}/{countryIso2}:
    get:
      operationId: name_type_geo
      parameters:
      - explode: false
        in: path
        name: properNoun
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: countryIso2
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProperNounCategorizedOut'
          description: A typed name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely type of a proper noun (personal name, brand name,\
        \ place name etc.)"
      tags:
      - general
      x-openapi-router-controller: openapi_server.controllers.general_controller
  /api2/json/nameTypeGeoBatch:
    post:
      operationId: name_type_geo_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchNameGeoIn'
        description: A list of proper names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchProperNounCategorizedOut'
          description: A list of commonTypeized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely common type of up to 100 proper nouns (personal name,\
        \ brand name, place name etc.)"
      tags:
      - general
      x-openapi-router-controller: openapi_server.controllers.general_controller
      x-codegen-request-body-name: body
  /api2/json/origin/{firstName}/{lastName}:
    get:
      operationId: origin
      parameters:
      - explode: false
        in: path
        name: firstName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: lastName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNameOriginedOut'
          description: A origined name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely country of origin of a personal\
        \ name. Assumes names as they are in the country of origin. For US, CA, AU,\
        \ NZ and other melting-pots : use 'diaspora' instead."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/originBatch:
    post:
      operationId: origin_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFirstLastNameOriginedOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely country of origin of up\
        \ to 100 names, detecting automatically the cultural context."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
  /api2/json/parseChineseName/{chineseName}:
    get:
      operationId: parse_chinese_name
      parameters:
      - explode: false
        in: path
        name: chineseName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalNameParsedOut'
          description: A origined name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely first/last name structure of a name, ex. 王晓明 -> 王\
        (surname) 晓明(given name)"
      tags:
      - chinese
      x-openapi-router-controller: openapi_server.controllers.chinese_controller
  /api2/json/parseChineseNameBatch:
    post:
      operationId: parse_chinese_name_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameParsedOut'
          description: A list of parsed names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely first/last name structure of a name, ex. 王晓明 -> 王\
        (surname) 晓明(given name)."
      tags:
      - chinese
      x-openapi-router-controller: openapi_server.controllers.chinese_controller
      x-codegen-request-body-name: body
  /api2/json/parseJapaneseName/{japaneseName}:
    get:
      operationId: parse_japanese_name
      parameters:
      - explode: false
        in: path
        name: japaneseName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalNameParsedOut'
          description: A origined name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely first/last name structure of a name, ex. 山本 早苗 or\
        \ Yamamoto Sanae"
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
  /api2/json/parseJapaneseNameBatch:
    post:
      operationId: parse_japanese_name_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameParsedOut'
          description: A list of parsed names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely first/last name structure of a name, ex. 山本 早苗 or\
        \ Yamamoto Sanae "
      tags:
      - japanese
      x-openapi-router-controller: openapi_server.controllers.japanese_controller
      x-codegen-request-body-name: body
  /api2/json/parseName/{nameFull}:
    get:
      operationId: parse_name
      parameters:
      - explode: false
        in: path
        name: nameFull
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalNameParsedOut'
          description: A origined name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely first/last name structure of a name, ex. John Smith\
        \ or SMITH, John or SMITH; John. "
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/parseName/{nameFull}/{countryIso2}:
    get:
      operationId: parse_name_geo
      parameters:
      - explode: false
        in: path
        name: nameFull
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: countryIso2
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalNameParsedOut'
          description: A origined name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely first/last name structure of a name, ex. John Smith\
        \ or SMITH, John or SMITH; John. For better accuracy, provide a geographic\
        \ context."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/parseNameBatch:
    post:
      operationId: parse_name_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameParsedOut'
          description: A list of parsed names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely first/last name structure of a name, ex. John Smith\
        \ or SMITH, John or SMITH; John."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
  /api2/json/parseNameGeoBatch:
    post:
      operationId: parse_name_geo_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameGeoIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameParsedOut'
          description: A list of parsed names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Infer the likely first/last name structure of a name, ex. John Smith\
        \ or SMITH, John or SMITH; John. Giving a local context improves precision. "
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
  /api2/json/phoneCode/{firstName}/{lastName}/{phoneNumber}:
    get:
      operationId: phone_code
      parameters:
      - explode: false
        in: path
        name: firstName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: lastName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNamePhoneCodedOut'
          description: A name with country and phone code.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 11 UNITS PER NAME] Infer the likely country and phone prefix,\
        \ given a personal name and formatted / unformatted phone number."
      tags:
      - social
      x-openapi-router-controller: openapi_server.controllers.social_controller
  /api2/json/phoneCodeBatch:
    post:
      operationId: phone_code_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNamePhoneNumberIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFirstLastNamePhoneCodedOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 11 UNITS PER NAME] Infer the likely country and phone prefix,\
        \ of up to 100 personal names, detecting automatically the local context given\
        \ a name and formatted / unformatted phone number."
      tags:
      - social
      x-openapi-router-controller: openapi_server.controllers.social_controller
      x-codegen-request-body-name: body
  /api2/json/phoneCodeGeo/{firstName}/{lastName}/{phoneNumber}/{countryIso2}:
    get:
      operationId: phone_code_geo
      parameters:
      - explode: false
        in: path
        name: firstName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: lastName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: countryIso2
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNamePhoneCodedOut'
          description: A name with country and phone code.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 11 UNITS PER NAME] Infer the likely phone prefix, given a personal\
        \ name and formatted / unformatted phone number, with a local context (ISO2\
        \ country of residence)."
      tags:
      - social
      x-openapi-router-controller: openapi_server.controllers.social_controller
  /api2/json/phoneCodeGeoBatch:
    post:
      operationId: phone_code_geo_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNamePhoneNumberGeoIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFirstLastNamePhoneCodedOut'
          description: A list of genderized names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 11 UNITS PER NAME] Infer the likely country and phone prefix,\
        \ of up to 100 personal names, with a local context (ISO2 country of residence)."
      tags:
      - social
      x-openapi-router-controller: openapi_server.controllers.social_controller
      x-codegen-request-body-name: body
  /api2/json/phoneCodeGeoFeedbackLoop/{firstName}/{lastName}/{phoneNumber}/{phoneNumberE164}/{countryIso2}:
    get:
      operationId: phone_code_geo_feedback_loop
      parameters:
      - explode: false
        in: path
        name: firstName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: lastName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: phoneNumber
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: phoneNumberE164
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: countryIso2
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNamePhoneCodedOut'
          description: A name with country and phone code.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[CREDITS 1 UNIT] Feedback loop to better infer the likely phone prefix,\
        \ given a personal name and formatted / unformatted phone number, with a local\
        \ context (ISO2 country of residence)."
      tags:
      - social
      x-openapi-router-controller: openapi_server.controllers.social_controller
  /api2/json/pinyinChineseName/{chineseName}:
    get:
      operationId: pinyin_chinese_name
      parameters:
      - explode: false
        in: path
        name: chineseName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalNameParsedOut'
          description: A pinyin name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Romanize the Chinese name to Pinyin, ex. 王晓明 -> Wang (surname) Xiaoming\
        \ (given name)"
      tags:
      - chinese
      x-openapi-router-controller: openapi_server.controllers.chinese_controller
  /api2/json/pinyinChineseNameBatch:
    post:
      operationId: pinyin_chinese_name_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameIn'
        description: A list of Chinese names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameParsedOut'
          description: A list of Pinyin names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "Romanize a list of Chinese name to Pinyin, ex. 王晓明 -> Wang (surname)\
        \ Xiaoming (given name)."
      tags:
      - chinese
      x-openapi-router-controller: openapi_server.controllers.chinese_controller
      x-codegen-request-body-name: body
  /api2/json/regions:
    get:
      operationId: regions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionOut'
          description: List of countries and regions.
        "401":
          description: Missing or incorrect API Key
      summary: Print basic source statistics.
      tags:
      - admin
      x-openapi-router-controller: openapi_server.controllers.admin_controller
  /api2/json/religionFull/{countryIso2}/{subDivisionIso31662}/{personalNameFull}:
    get:
      operationId: religion_full
      parameters:
      - explode: false
        in: path
        name: countryIso2
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: subDivisionIso31662
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: personalNameFull
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalNameReligionedOut'
          description: A religion-coded name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely religion of a personal full\
        \ name. NB: only for INDIA (as of current version)."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/religionFullBatch:
    post:
      operationId: religion_full_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameGeoSubdivisionIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameReligionedOut'
          description: A list of religion-coded names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely religion of up to 100 personal\
        \ full names. NB: only for India as of currently."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
  /api2/json/religionIndianFull/{subDivisionIso31662}/{personalNameFull}:
    get:
      operationId: religion
      parameters:
      - explode: false
        in: path
        name: subDivisionIso31662
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: personalNameFull
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalNameReligionedOut'
          description: A religion-coded name.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely religion of a personal Indian\
        \ full name, provided the Indian state or Union territory (NB/ this can be\
        \ inferred using the subclassification endpoint)."
      tags:
      - indian
      x-openapi-router-controller: openapi_server.controllers.indian_controller
  /api2/json/religionIndianFullBatch:
    post:
      operationId: religion_indian_full_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameSubdivisionIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameReligionedOut'
          description: A list of religion-coded names.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely religion of up to 100 personal\
        \ full Indian names, provided the subclassification at State or Union territory\
        \ level (NB/ can be inferred using the subclassification endpoint)."
      tags:
      - indian
      x-openapi-router-controller: openapi_server.controllers.indian_controller
      x-codegen-request-body-name: body
  /api2/json/softwareVersion:
    get:
      operationId: software_version
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareVersionOut'
          description: The current software version
        "401":
          description: Missing or incorrect token
      summary: Get the current software version
      tags:
      - admin
      x-openapi-router-controller: openapi_server.controllers.admin_controller
  /api2/json/subclassification/{countryIso2}/{firstName}/{lastName}:
    get:
      operationId: subclassification
      parameters:
      - explode: false
        in: path
        name: countryIso2
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: firstName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: lastName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNameGeoSubclassificationOut'
          description: A classified name at a sub-country level.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely origin of a name at a country\
        \ subclassification level (state or regeion). Initially, this is only supported\
        \ for India (ISO2 code 'IN')."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/subclassificationBatch:
    post:
      operationId: subclassification_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameGeoIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFirstLastNameGeoSubclassificationOut'
          description: A list of classified names at a sub-country level.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely origin of a list of up to\
        \ 100 names at a country subclassification level (state or regeion). Initially,\
        \ this is only supported for India (ISO2 code 'IN')."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
  /api2/json/subclassificationFull/{countryIso2}/{fullName}:
    get:
      operationId: subclassification_full
      parameters:
      - explode: false
        in: path
        name: countryIso2
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: fullName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNameGeoSubclassificationOut'
          description: A classified name at a sub-country level.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely origin of a name at a country\
        \ subclassification level (state or regeion). Initially, this is only supported\
        \ for India (ISO2 code 'IN')."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/subclassificationFullBatch:
    post:
      operationId: subclassification_full_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameGeoIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameGeoSubclassificationOut'
          description: A list of classified names at a sub-country level.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely origin of a list of up to\
        \ 100 names at a country subclassification level (state or regeion). Initially,\
        \ this is only supported for India (ISO2 code 'IN')."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
  /api2/json/subclassificationIndian/{firstName}/{lastName}:
    get:
      operationId: subclassification_indian
      parameters:
      - explode: false
        in: path
        name: firstName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: lastName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNameGeoSubclassificationOut'
          description: A classified name at a sub-country level.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely Indian state of Union territory\
        \ according to ISO 3166-2:IN based on the name."
      tags:
      - indian
      x-openapi-router-controller: openapi_server.controllers.indian_controller
  /api2/json/subclassificationIndianBatch:
    post:
      operationId: subclassification_indian_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameGeoIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFirstLastNameGeoSubclassificationOut'
          description: A list of classified names at a subcountry level.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely Indian state of Union territory\
        \ according to ISO 3166-2:IN based on a list of up to 100 names."
      tags:
      - indian
      x-openapi-router-controller: openapi_server.controllers.indian_controller
      x-codegen-request-body-name: body
  /api2/json/subclassificationIndianFull/{fullName}:
    get:
      operationId: subclassification_indian_full
      parameters:
      - explode: false
        in: path
        name: fullName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalNameGeoSubclassificationOut'
          description: A classified name at a sub-country level.
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely Indian state of Union territory\
        \ according to ISO 3166-2:IN based on the name."
      tags:
      - indian
      x-openapi-router-controller: openapi_server.controllers.indian_controller
  /api2/json/subclassificationIndianFullBatch:
    post:
      operationId: subclassification_indian_full_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPersonalNameGeoIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPersonalNameGeoSubclassificationOut'
          description: A list of classified names at a subcountry level.
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer the likely Indian state of Union territory\
        \ according to ISO 3166-2:IN based on a list of up to 100 names."
      tags:
      - indian
      x-openapi-router-controller: openapi_server.controllers.indian_controller
      x-codegen-request-body-name: body
  /api2/json/taxonomyClasses/{classifierName}:
    get:
      operationId: taxonomy_classes
      parameters:
      - explode: false
        in: path
        name: classifierName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIClassifierTaxonomyOut'
          description: Available plans
        "401":
          description: Missing or incorrect token
      summary: Print the taxonomy classes valid for the given classifier.
      tags:
      - admin
      x-openapi-router-controller: openapi_server.controllers.admin_controller
  /api2/json/usRaceEthnicity/{firstName}/{lastName}:
    get:
      operationId: us_race_ethnicity
      parameters:
      - explode: false
        in: path
        name: firstName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: lastName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNameUSRaceEthnicityOut'
          description: "a US resident's likely race/ethnicity : W_NL (white, non latino),\
            \ HL (hispano latino),  A (asian, non latino), B_NL (black, non latino),\
            \ AI_AN (American Indian or Alaskan Native*) and PI (Pacific Islander*).\
            \ *optionally"
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer a US resident's likely race/ethnicity\
        \ according to US Census taxonomy W_NL (white, non latino), HL (hispano latino),\
        \  A (asian, non latino), B_NL (black, non latino). Optionally add header\
        \ X-OPTION-USRACEETHNICITY-TAXONOMY: USRACEETHNICITY-6CLASSES for two additional\
        \ classes, AI_AN (American Indian or Alaskan Native) and PI (Pacific Islander)."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/usRaceEthnicityBatch:
    post:
      operationId: us_race_ethnicity_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameGeoIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFirstLastNameUSRaceEthnicityOut'
          description: "A list of US resident's likely race/ethnicity. W_NL (white,\
            \ non latino), HL (hispano latino),  A (asian, non latino), B_NL (black,\
            \ non latino), AI_AN (American Indian or Alaskan Native*) and PI (Pacific\
            \ Islander*). *optionally"
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer up-to 100 US resident's likely race/ethnicity\
        \ according to US Census taxonomy. Output is W_NL (white, non latino), HL\
        \ (hispano latino),  A (asian, non latino), B_NL (black, non latino). Optionally\
        \ add header X-OPTION-USRACEETHNICITY-TAXONOMY: USRACEETHNICITY-6CLASSES for\
        \ two additional classes, AI_AN (American Indian or Alaskan Native) and PI\
        \ (Pacific Islander)."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
  /api2/json/usRaceEthnicityZIP5/{firstName}/{lastName}/{zip5Code}:
    get:
      operationId: us_race_ethnicity_zip5
      parameters:
      - explode: false
        in: path
        name: firstName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: lastName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: zip5Code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstLastNameUSRaceEthnicityOut'
          description: "a US resident's likely race/ethnicity : W_NL (white, non latino),\
            \ HL (hispano latino),  A (asian, non latino), B_NL (black, non latino),\
            \ AI_AN (American Indian or Alaskan Native*) and PI (Pacific Islander*).\
            \ *optionally"
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer a US resident's likely race/ethnicity\
        \ according to US Census taxonomy, using (optional) ZIP5 code info. Output\
        \ is W_NL (white, non latino), HL (hispano latino),  A (asian, non latino),\
        \ B_NL (black, non latino). Optionally add header X-OPTION-USRACEETHNICITY-TAXONOMY:\
        \ USRACEETHNICITY-6CLASSES for two additional classes, AI_AN (American Indian\
        \ or Alaskan Native) and PI (Pacific Islander)."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
  /api2/json/usZipRaceEthnicityBatch:
    post:
      operationId: us_zip_race_ethnicity_batch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchFirstLastNameGeoZippedIn'
        description: A list of personal names
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFirstLastNameUSRaceEthnicityOut'
          description: "A list of US resident's likely race/ethnicity. W_NL (white,\
            \ non latino), HL (hispano latino),  A (asian, non latino), B_NL (black,\
            \ non latino), AI_AN (American Indian or Alaskan Native*) and PI (Pacific\
            \ Islander*). *optionally"
        "400":
          description: Bad request (ex. too many names)
        "401":
          description: Missing or incorrect API Key
        "403":
          description: "Email not Verified, or API Limit Reached, or API Key Disabled"
      security:
      - api_key: []
      summary: "[USES 10 UNITS PER NAME] Infer up-to 100 US resident's likely race/ethnicity\
        \ according to US Census taxonomy, with (optional) ZIP code. Output is W_NL\
        \ (white, non latino), HL (hispano latino),  A (asian, non latino), B_NL (black,\
        \ non latino). Optionally add header X-OPTION-USRACEETHNICITY-TAXONOMY: USRACEETHNICITY-6CLASSES\
        \ for two additional classes, AI_AN (American Indian or Alaskan Native) and\
        \ PI (Pacific Islander)."
      tags:
      - personal
      x-openapi-router-controller: openapi_server.controllers.personal_controller
      x-codegen-request-body-name: body
components:
  schemas:
    APIBillingPeriodUsageOut:
      description: The current billing period.
      example:
        apiKey: apiKey
        periodStarted: 1
        stripeCurrentPeriodEnd: 5
        usage: 9
        hardLimit: 0
        periodEnded: 6
        subscriptionStarted: 7
        billingStatus: billingStatus
        softLimit: 5
        stripeCurrentPeriodStart: 2
      properties:
        apiKey:
          description: User API Key.
          title: apiKey
          type: string
        billingStatus:
[...]
