openapi: 3.0.1
info:
  contact:
    email: info@quicksold.co.uk
    name: Quicksold.co.uk
    url: https://quicksold.co.uk
  license:
    name: License
    url: https://quicksold.co.uk/terms-and-conditions
  termsOfService: https://quicksold.co.uk/terms-and-conditions
  title: Quicksold REST API
  version: "1.0"
  x-apisguru-categories:
  - location
  x-logo:
    url: https://twitter.com/QuicksoldCoUk/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://quicksold.co.uk/v2/api-docs
    version: "2.0"
  x-providerName: quicksold.co.uk
  x-serviceName: location
servers:
- url: //quicksold.co.uk/
tags:
- description: Wgs 84 To Osgb 36 Controller
  name: WGS84 To OSGB36
paths:
  /v1/wgs84ToOsgb36/{latitude}/{longitude}:
    get:
      operationId: wgs84_to_osgb36_using_get
      parameters:
      - description: latitude
        in: path
        name: latitude
        required: true
        schema:
          type: string
      - description: longitude
        in: path
        name: longitude
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: wgs84ToOsgb36
      tags:
      - WGS84 To OSGB36
      x-openapi-router-controller: openapi_server.controllers.wgs84_to_osgb36_controller
components:
  schemas:
    ApiResponse:
      example:
        path: path
        data: "{}"
        error: error
        message: message
        errors: "{}"
        status: 0
        timestamp: 6
      properties:
        data:
          properties: {}
          title: data
          type: object
        error:
          title: error
          type: string
        errors:
          properties: {}
          title: errors
          type: object
        message:
          title: message
          type: string
        path:
          title: path
          type: string
        status:
          format: int32
          title: status
          type: integer
        timestamp:
          format: int64
          title: timestamp
          type: integer
      title: ApiResponse
      type: object
x-original-swagger-version: "2.0"
