openapi: 3.0.1
info:
  contact:
    name: Who Hosts This
    url: https://www.who-hosts-this.com/Contact
  description: Discover the hosting provider for any web site
  title: Who Hosts This API
  version: 0.0.1
  x-apisguru-categories:
  - hosting
  - iot
  - tools
  x-logo:
    backgroundColor: '#2c3e50'
    url: https://www.who-hosts-this.com/data/_uploaded/image/logo-who-hosts-padded.png
  x-origin:
  - format: swagger
    url: https://www.who-hosts-this.com/APISpecification
    version: "2.0"
  x-providerName: who-hosts-this.com
externalDocs:
  url: https://www.who-hosts-this.com/Documentation
servers:
- url: https://www.who-hosts-this.com/APIEndpoint
security:
- QueryKey: []
paths:
  /Detect:
    get:
      operationId: detect_get
      parameters:
      - description: The url of the page to check
        in: query
        name: url
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Status of the detection and list of any found hosting providers
      summary: Discover the hosting provider for a web site
      tags:
      - hosting
      x-openapi-router-controller: openapi_server.controllers.hosting_controller
  /Status:
    get:
      operationId: status_get
      responses:
        "200":
          content: {}
          description: Status of the detection and list of any found hosting providers
      summary: View usage details for the current billing period
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas: {}
  securitySchemes:
    QueryKey:
      description: Simple api key authentication. API Keys available at https://www.who-hosts-this.com/API
      in: query
      name: key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_QueryKey
x-original-swagger-version: "2.0"
