openapi: 3.0.1
info:
  description: "Use these REST APIs for performing operations on Subscription entity\
    \ associated with your Azure API Management deployment. The Subscription entity\
    \ represents the association between a user and a product in API Management. Products\
    \ contain one or more APIs, and once a product is published, developers can subscribe\
    \ to the product and begin to use the product’s APIs."
  title: ApiManagementClient
  version: 2016-10-10
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimsubscriptions.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimsubscriptions
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/subscriptions
  : get:
      description: Lists all subscriptions of the API Management service instance.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/dn776325.aspx
      operationId: Subscriptions_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field        | Supported operators    | Supported functions                         |
          |--------------|------------------------|---------------------------------------------|
          | id           | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | name         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | stateComment | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | userId       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | productId    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | state        | eq                     |                                             |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionCollection'
          description: A collection of the Subscription entities for the specified
            API Management service instance.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriptions_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Subscriptions
      x-ms-odata: '#/definitions/SubscriptionContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/subscriptions/{sid}
  : delete:
      description: Deletes the specified subscription.
      operationId: Subscriptions_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Subscription entity Identifier. The entity represents the association
          between a user and a product in API Management.
        in: path
        name: sid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Subscription Entity. ETag should match the current
          entity state from the header response of the GET request or it should be
          * for unconditional update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The subscription details were successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriptions_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Subscriptions
      x-accepts:
      - application/json
    get:
      description: Gets the specified Subscription entity.
      operationId: Subscriptions_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Subscription entity Identifier. The entity represents the association
          between a user and a product in API Management.
        in: path
        name: sid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionContract'
          description: The response body contains the specified Subscription entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriptions_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Subscriptions
      x-accepts:
      - application/json
    patch:
      description: Updates the details of a subscription specified by its identifier.
      operationId: Subscriptions_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Subscription entity Identifier. The entity represents the association
          between a user and a product in API Management.
        in: path
        name: sid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Subscription Entity. ETag should match the current
          entity state from the header response of the GET request or it should be
          * for unconditional update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionUpdateParameters'
        description: Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: The subscription details were successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriptions_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Subscriptions
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates the subscription of specified user to the specified
        product.
      operationId: Subscriptions_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Subscription entity Identifier. The entity represents the association
          between a user and a product in API Management.
        in: path
        name: sid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreateParameters'
        description: Create parameters.
        required: true
      responses:
        "201":
          content: {}
          description: The user was successfully subscribed to the product.
        "204":
          content: {}
          description: The user already subscribed to the product.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriptions_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Subscriptions
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/subscriptions/{sid}/regeneratePrimaryKey
  : post:
      description: Regenerates primary key of existing subscription of the API Management
        service instance.
      operationId: Subscriptions_RegeneratePrimaryKey
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Subscription entity Identifier. The entity represents the association
          between a user and a product in API Management.
        in: path
        name: sid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The primary key was successfully regenerated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriptions_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Subscriptions
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/subscriptions/{sid}/regenerateSecondaryKey
  : post:
      description: Regenerates secondary key of existing subscription of the API Management
        service instance.
      operationId: Subscriptions_RegenerateSecondaryKey
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Subscription entity Identifier. The entity represents the association
          between a user and a product in API Management.
        in: path
        name: sid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The secondary key was successfully regenerated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriptions_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Subscriptions
      x-accepts:
      - application/json
components:
  parameters:
    SubscriptionEntityIdParameter:
      description: Subscription entity Identifier. The entity represents the association
        between a user and a product in API Management.
      in: path
      name: sid
      required: true
      schema:
        maxLength: 256
        pattern: "^[^*#&+:<>?]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    SubscriptionCollection:
      description: Paged Subscriptions list representation.
      example:
        count: 0
        value:
        - productId: productId
          secondaryKey: secondaryKey
          endDate: 2000-01-23T04:56:07.000+00:00
          userId: userId
          createdDate: 2000-01-23T04:56:07.000+00:00
          stateComment: stateComment
          name: name
          id: id
          state: Suspended
          startDate: 2000-01-23T04:56:07.000+00:00
          expirationDate: 2000-01-23T04:56:07.000+00:00
          notificationDate: 2000-01-23T04:56:07.000+00:00
          primaryKey: primaryKey
        - productId: productId
          secondaryKey: secondaryKey
          endDate: 2000-01-23T04:56:07.000+00:00
          userId: userId
          createdDate: 2000-01-23T04:56:07.000+00:00
          stateComment: stateComment
          name: name
          id: id
          state: Suspended
          startDate: 2000-01-23T04:56:07.000+00:00
          expirationDate: 2000-01-23T04:56:07.000+00:00
          notificationDate: 2000-01-23T04:56:07.000+00:00
          primaryKey: primaryKey
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/SubscriptionContract'
          type: array
      type: object
    SubscriptionContract:
      description: Subscription details.
      example:
        productId: productId
        secondaryKey: secondaryKey
        endDate: 2000-01-23T04:56:07.000+00:00
        userId: userId
        createdDate: 2000-01-23T04:56:07.000+00:00
        stateComment: stateComment
        name: name
        id: id
        state: Suspended
        startDate: 2000-01-23T04:56:07.000+00:00
        expirationDate: 2000-01-23T04:56:07.000+00:00
        notificationDate: 2000-01-23T04:56:07.000+00:00
        primaryKey: primaryKey
      properties:
        createdDate:
          description: |
            Subscription creation date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          readOnly: true
          type: string
        endDate:
          description: |
            Date when subscription was cancelled or expired. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        expirationDate:
          description: |
            Subscription expiration date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        id:
          description: "Uniquely identifies the subscription within the current API\
            \ Management service instance. The value is a valid relative URL in the\
            \ format of /subscriptions/{sid} where {sid} is a subscription identifier."
          readOnly: true
          type: string
        name:
          description: "The name of the subscription, or null if the subscription\
            \ has no name."
          maxLength: 100
          minLength: 0
          type: string
        notificationDate:
          description: |
            Upcoming subscription expiration notification date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        primaryKey:
          description: Subscription primary key.
          maxLength: 256
          minLength: 1
          type: string
        productId:
          description: "The product resource identifier of the subscribed product.\
            \ The value is a valid relative URL in the format of /products/{productId}\
            \ where {productId} is a product identifier."
          type: string
        secondaryKey:
          description: Subscription secondary key.
          maxLength: 256
          minLength: 1
          type: string
        startDate:
          description: |
            Subscription activation date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        state:
          description: "Subscription state. Possible states are * active – the subscription\
            \ is active, * suspended – the subscription is blocked, and the subscriber\
            \ cannot call any APIs of the product, * submitted – the subscription\
            \ request has been made by the developer, but has not yet been approved\
            \ or rejected, * rejected – the subscription request has been denied by\
            \ an administrator, * cancelled – the subscription has been cancelled\
            \ by the developer or administrator, * expired – the subscription reached\
            \ its expiration date and was deactivated."
          enum:
          - Suspended
          - Active
          - Expired
          - Submitted
          - Rejected
          - Cancelled
          type: string
          x-ms-enum:
            modelAsString: false
            name: SubscriptionStateContract
        stateComment:
          description: Optional subscription comment added by an administrator.
          type: string
        userId:
          description: "The user resource identifier of the subscription owner. The\
            \ value is a valid relative URL in the format of /users/{uid} where {uid}\
            \ is a user identifier."
          type: string
      type: object
    SubscriptionCreateParameters:
      description: Parameters supplied to the Create subscription operation.
      example:
        productId: productId
        secondaryKey: secondaryKey
        name: name
        state: Suspended
        userId: userId
        primaryKey: primaryKey
      properties:
        name:
          description: Subscription name.
          maxLength: 100
          minLength: 1
          type: string
        primaryKey:
          description: Primary subscription key. If not specified during request key
            will be generated automatically.
          maxLength: 256
          minLength: 1
          type: string
        productId:
          description: "Product (product id path) for which subscription is being\
            \ created in form /products/{productId}"
          type: string
        secondaryKey:
          description: Secondary subscription key. If not specified during request
            key will be generated automatically.
          maxLength: 256
          minLength: 1
          type: string
        state:
          description: "Initial subscription state. If no value is specified, subscription\
            \ is created with Submitted state. Possible states are * active – the\
            \ subscription is active, * suspended – the subscription is blocked, and\
            \ the subscriber cannot call any APIs of the product, * submitted – the\
            \ subscription request has been made by the developer, but has not yet\
            \ been approved or rejected, * rejected – the subscription request has\
            \ been denied by an administrator, * cancelled – the subscription has\
            \ been cancelled by the developer or administrator, * expired – the subscription\
            \ reached its expiration date and was deactivated."
          enum:
          - Suspended
          - Active
          - Expired
          - Submitted
          - Rejected
          - Cancelled
          type: string
          x-ms-enum:
            modelAsString: false
            name: SubscriptionStateContract
        userId:
          description: "User (user id path) for whom subscription is being created\
            \ in form /users/{uid}"
          type: string
      required:
      - name
      - productId
      - userId
      type: object
    SubscriptionUpdateParameters:
      description: Parameters supplied to the Update subscription operation.
      example:
        productId: productId
        secondaryKey: secondaryKey
        stateComment: stateComment
        name: name
        state: Suspended
        userId: userId
        expirationDate: 2000-01-23T04:56:07.000+00:00
        primaryKey: primaryKey
      properties:
        expirationDate:
          description: New subscription expiration date.
          format: date-time
          type: string
        name:
          description: Subscription name.
          type: string
        primaryKey:
          description: Primary subscription key.
          maxLength: 256
          minLength: 1
          type: string
        productId:
          description: "Product identifier path: /products/{productId}"
          type: string
        secondaryKey:
          description: Secondary subscription key.
          maxLength: 256
          minLength: 1
          type: string
        state:
          description: "Subscription state. Possible states are * active – the subscription\
            \ is active, * suspended – the subscription is blocked, and the subscriber\
            \ cannot call any APIs of the product, * submitted – the subscription\
            \ request has been made by the developer, but has not yet been approved\
            \ or rejected, * rejected – the subscription request has been denied by\
            \ an administrator, * cancelled – the subscription has been cancelled\
            \ by the developer or administrator, * expired – the subscription reached\
            \ its expiration date and was deactivated."
          enum:
          - Suspended
          - Active
          - Expired
          - Submitted
          - Rejected
          - Cancelled
          type: string
          x-ms-enum:
            modelAsString: false
            name: SubscriptionStateContract
        stateComment:
          description: Comments describing subscription state change by the administrator.
          type: string
        userId:
          description: "User identifier path: /users/{uid}"
          type: string
      type: object
    Subscriptions_List_default_response_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    Subscriptions_List_default_response:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Subscriptions_List_default_response_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

