openapi: 3.0.1
info:
  description: "Use these REST APIs for performing operations on Tag entity in your\
    \ Azure API Management deployment. Tags can be assigned to APIs, Operations and\
    \ Products."
  title: ApiManagementClient
  version: 2019-01-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimtags.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimtags
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tags:
    get:
      description: Lists a collection of tags defined within a service instance.
      operationId: Tag_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "|   Field     |     Usage     |     Supported operators    \
          \ |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>|\
          \ name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith,\
          \ endswith | </br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof,\
          \ contains, startswith, endswith | </br>"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Scope like 'apis', 'products' or 'apis/{apiId}"
        in: query
        name: scope
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_ListByService_200_response'
          description: Lists a collection of Tag entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Tag
      x-ms-examples:
        ApiManagementListTags:
          parameters:
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020001
                  name: 5600b59375ff190048020001
                  properties:
                    displayName: tag1
                  type: Microsoft.ApiManagement/service/tags
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020002
                  name: 5600b59375ff190048020002
                  properties:
                    displayName: tag2
                  type: Microsoft.ApiManagement/service/tags
      x-ms-odata: ./definitions.json#/definitions/TagContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tags/{tagId}
  : delete:
      description: Deletes specific tag of the API Management service instance.
      operationId: Tag_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Tag identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: tagId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Tag successfully removed
        "204":
          content: {}
          description: Tag successfully removed by previous request or does not exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Tag
      x-ms-examples:
        ApiManagementDeleteTag:
          parameters:
            If-Match: '*'
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: tagId1
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the details of the tag specified by its identifier.
      operationId: Tag_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Tag identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: tagId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_Get_200_response'
          description: The response body contains the specified Tag entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Tag
      x-ms-examples:
        ApiManagementGetTag:
          parameters:
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59306a29e4bbd510dc24e5f9
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/59306a29e4bbd510dc24e5f9
                name: 59306a29e4bbd510dc24e5f9
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
      x-accepts:
      - application/json
    head:
      description: Gets the entity state version of the tag specified by its identifier.
      operationId: Tag_GetEntityState
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Tag identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: tagId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: "Empty response body, ETag header entity state version."
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Tag
      x-ms-examples:
        ApiManagementHeadTag:
          parameters:
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: 59306a29e4bbd510dc24e5f9
          responses:
            "200":
              headers:
                Etag: AAAAAAAACCI=
      x-accepts:
      - application/json
    patch:
      description: Updates the details of the tag specified by its identifier.
      operationId: Tag_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Tag identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: tagId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag_CreateOrUpdate_request'
        description: Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: The tag details were successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Tag
      x-ms-examples:
        ApiManagementUpdateTag:
          parameters:
            If-Match: '*'
            api-version: 2019-01-01
            parameters:
              properties:
                displayName: temp tag
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: temptag
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a tag.
      operationId: Tag_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Tag identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: tagId
        required: true
        schema:
          maxLength: 80
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "ETag of the Entity. Not required when creating an entity, but\
          \ required when updating an entity."
        in: header
        name: If-Match
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag_CreateOrUpdate_request'
        description: Create parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_Get_200_response'
          description: Tag already exists.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_Get_200_response'
          description: Tag was created successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Tag
      x-ms-examples:
        ApiManagementCreateTag:
          parameters:
            api-version: 2019-01-01
            parameters:
              properties:
                displayName: tag1
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            tagId: tagId1
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1
                name: tagId1
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1
                name: tagId1
                properties:
                  displayName: tag1
                type: Microsoft.ApiManagement/service/tags
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    Tag_Get_200_response:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Tag Contract details.
      example:
        properties:
          displayName: displayName
      properties:
        properties:
          $ref: '#/components/schemas/Tag_ListByService_200_response_value_inner_properties'
    Tag_CreateOrUpdate_request:
      description: Parameters supplied to Create/Update Tag operations.
      properties:
        properties:
          $ref: '#/components/schemas/Tag_ListByService_200_response_value_inner_properties'
      type: object
    Tag_ListByService_200_response:
      description: Paged Tag list representation.
      example:
        value:
        - properties:
            displayName: displayName
        - properties:
            displayName: displayName
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/Tag_ListByService_200_response_value_inner'
          type: array
      type: object
    Tag_ListByService_200_response_value_inner:
      description: Tag Contract details.
      example:
        properties:
          displayName: displayName
      properties:
        properties:
          $ref: '#/components/schemas/Tag_ListByService_200_response_value_inner_properties'
      type: object
    Tag_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/Tag_ListByService_default_response_error'
      type: object
    Tag_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Tag_ListByService_default_response_error_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    Tag_ListByService_200_response_value_inner_properties:
      description: Tag contract Properties.
      example:
        displayName: displayName
      properties:
        displayName:
          description: Tag name.
          maxLength: 160
          minLength: 1
          type: string
      required:
      - displayName
      type: object
    Tag_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

