openapi: 3.0.1
info:
  description: Billing client provides access to billing resources for Azure Web-Direct
    subscriptions. Other subscription types which were not purchased directly through
    the Azure web portal are not supported through this preview API.
  title: BillingClient
  version: 2017-02-27-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/billing/resource-manager/Microsoft.Billing/preview/2017-02-27-preview/billing.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: billing
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Billing/operations:
    get:
      description: Lists all of the available billing REST API operations.
      operationId: operations_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2017-02-27-preview.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices:
    get:
      description: "Lists the available invoices for a subscription in reverse chronological\
        \ order beginning with the most recent invoice. In preview, invoices are available\
        \ via this API only for invoice periods which end December 1, 2016 or later"
      externalDocs:
        url: https://go.microsoft.com/fwlink/?linkid=842057
      operationId: invoices_list
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: "May be used to expand the downloadUrl property within a list\
          \ of invoices. This enables download links to be generated for multiple\
          \ invoices at once. By default, downloadURLs are not included when listing\
          \ invoices."
        in: query
        name: $expand
        schema:
          type: string
      - description: "May be used to filter invoices by invoicePeriodEndDate. The\
          \ filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently\
          \ support 'ne', 'or', or 'not'"
        in: query
        name: $filter
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N invoices.
        in: query
        name: $top
        schema:
          maximum: 100
          minimum: 1
          type: integer
      - description: Version of the API to be used with the client request. The current
          version is 2017-02-27-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Invoices
      x-ms-examples:
        InvoicesExpand:
          parameters:
            $expand: downloadUrl
            $filter: invoicePeriodStartDate le 2017-02-01
            $top: 1
            api-version: 2017-02-27
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/Microsoft.Billing/invoices/invoice-2017-02-05-123456789
                  name: invoice-2017-02-05-123456789
                  properties:
                    downloadUrl:
                      expiryTime: 2017-02-13T20:46:30Z
                      url: https://microsoft.com
                    invoicePeriodEndDate: 2017-02-01
                    invoicePeriodStartDate: 2017-01-01
                  type: Microsoft.Billing/invoices
        InvoicesList:
          parameters:
            api-version: 2017-02-27
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/Microsoft.Billing/invoices/invoice-2017-02-05-123456789
                  name: invoice-2017-02-05-123456789
                  properties:
                    invoicePeriodEndDate: 2017-02-01
                    invoicePeriodStartDate: 2017-01-01
                  type: Microsoft.Billing/invoices
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.invoices_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/latest:
    get:
      description: "Gets the most recent invoice. When getting a single invoice, the\
        \ downloadUrl property is expanded automatically."
      operationId: invoices_get_latest
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2017-02-27-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Invoices
      x-ms-examples:
        InvoicesGetLatest:
          parameters:
            api-version: 2017-02-27
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/Microsoft.Billing/invoices/2017-02-05-123456789
                name: 2017-02-05-123456789
                properties:
                  downloadUrl:
                    expiryTime: 2017-02-13T20:46:30Z
                    url: https://microsoft.com
                  invoicePeriodEndDate: 2017-02-01
                  invoicePeriodStartDate: 2017-01-01
                type: Microsoft.Billing/invoices
      x-openapi-router-controller: openapi_server.controllers.invoices_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/{invoiceName}:
    get:
      description: "Gets a named invoice resource. When getting a single invoice,\
        \ the downloadUrl property is expanded automatically."
      operationId: invoices_get
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of an invoice resource.
        in: path
        name: invoiceName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2017-02-27-preview.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Invoices
      x-ms-examples:
        InvoicesGet:
          parameters:
            api-version: 2017-02-27
            invoiceName: 2017-02-05-123456789
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/Microsoft.Billing/invoices/2017-02-05-123456789
                name: 2017-02-05-123456789
                properties:
                  downloadUrl:
                    expiryTime: 2017-02-13T20:46:30Z
                    url: https://microsoft.com
                  invoicePeriodEndDate: 2017-02-01
                  invoicePeriodStartDate: 2017-01-01
                type: Microsoft.Billing/invoices
            default:
              body:
                error:
                  code: UnsupportedSubscriptionType
                  message: Subscription subid is not supported.
                  target: subscriptionId
      x-openapi-router-controller: openapi_server.controllers.invoices_controller
components:
  parameters:
    apiVersionParameter:
      description: Version of the API to be used with the client request. The current
        version is 2017-02-27-preview.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    DownloadUrl:
      description: A secure URL that can be used to download a PDF invoice until the
        URL expires.
      example:
        expiryTime: 2000-01-23T04:56:07.000+00:00
        url: url
      properties:
        expiryTime:
          description: The time in UTC at which this download URL will expire.
          format: date-time
          readOnly: true
          title: expiryTime
          type: string
        url:
          description: The URL to the PDF file.
          readOnly: true
          title: url
          type: string
      title: DownloadUrl
      type: object
    ErrorDetails:
      description: The details of the error.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Error code.
          readOnly: true
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          title: message
          type: string
        target:
          description: The target of the particular error.
          readOnly: true
          title: target
          type: string
      title: ErrorDetails
      type: object
    ErrorResponse:
      description: Error response indicates that the service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        error:
          code: code
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
      title: ErrorResponse
      type: object
    Invoice:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An invoice resource can be used download a PDF version of an invoice.
      example:
        properties:
          invoicePeriodStartDate: 2000-01-23
          downloadUrl:
            expiryTime: 2000-01-23T04:56:07.000+00:00
            url: url
          invoicePeriodEndDate: 2000-01-23
      properties:
        properties:
          $ref: '#/components/schemas/InvoiceProperties'
      title: Invoice
    InvoiceProperties:
      description: The properties of the invoice.
      example:
        invoicePeriodStartDate: 2000-01-23
        downloadUrl:
          expiryTime: 2000-01-23T04:56:07.000+00:00
          url: url
        invoicePeriodEndDate: 2000-01-23
      properties:
        downloadUrl:
          $ref: '#/components/schemas/DownloadUrl'
        invoicePeriodEndDate:
          description: The end of the date range covered by the invoice.
          format: date
          readOnly: true
          title: invoicePeriodEndDate
          type: string
        invoicePeriodStartDate:
          description: The start of the date range covered by the invoice.
          format: date
          readOnly: true
          title: invoicePeriodStartDate
          type: string
      title: InvoiceProperties
      type: object
    InvoicesListResult:
      description: Result of the request to list invoices. It contains a list of available
        invoices in reverse chronological order.
      example:
        value:
        - properties:
            invoicePeriodStartDate: 2000-01-23
            downloadUrl:
              expiryTime: 2000-01-23T04:56:07.000+00:00
              url: url
            invoicePeriodEndDate: 2000-01-23
        - properties:
            invoicePeriodStartDate: 2000-01-23
            downloadUrl:
              expiryTime: 2000-01-23T04:56:07.000+00:00
              url: url
            invoicePeriodEndDate: 2000-01-23
        nextLink: nextLink
      properties:
        nextLink:
          description: the link (url) to the next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: The list of invoices.
          items:
            $ref: '#/components/schemas/Invoice'
          readOnly: true
          title: value
          type: array
      title: InvoicesListResult
      type: object
    Operation:
      description: A Billing REST API operation
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          readOnly: true
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: Result of the request to list billing operations. It contains a
        list of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of billing operations supported by the Microsoft.Billing
            resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          title: value
          type: array
      title: OperationListResult
      type: object
    Resource:
      description: The Resource model definition.
      properties:
        id:
          description: Resource Id
          readOnly: true
          title: id
          type: string
        name:
          description: Resource name
          readOnly: true
          title: name
          type: string
        type:
          description: Resource type
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    Operation_display:
      description: The object that represents the operation.
      example:
        provider: provider
        resource: resource
        operation: operation
      properties:
        operation:
          description: "Operation type: Read, write, delete, etc."
          readOnly: true
          title: operation
          type: string
        provider:
          description: "Service provider: Microsoft.Billing"
          readOnly: true
          title: provider
          type: string
        resource:
          description: "Resource on which the operation is performed: Invoice, etc."
          readOnly: true
          title: resource
          type: string
      title: Operation_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
