openapi: 3.0.1
info:
  contact:
    email: ADS_Data_Services@mastercard.com
    name: ADS Data Services
    url: http://not.applicable.com
  description: API for Merchant Identifier
  title: Merchant Identifier API V2
  version: 2.0.0
  x-artifactId: merchant-identifier
  x-origin:
  - format: swagger
    url: https://developer.mastercard.com/devzone/api/portal/swagger/merchant-identifier
    version: "2.0"
  x-providerName: mastercard.com
  x-serviceName: MerchantIdentifier
servers:
- url: //api.mastercard.com/merchant-id/v2
paths:
  /merchant-ids:
    get:
      operationId: get_merchant_identifiers
      parameters:
      - description: "Merchant's name as provided by the issuer found on a cardholder\
          \ statement. __Important: Please remove all spaces before submitting a API\
          \ request.__ \r\n"
        example: DOLIUMPTYLTDWELSHPOOLWA
        in: query
        name: merchant_id
        schema:
          type: string
      - description: "Determines how the search is performed.\r\n            ExactMatch\
          \ returns either the one merchant that best fits the description or no results\
          \ at all.\r\n            FuzzyMatch returns 0-20 merchants that are similar\
          \ to the transaction descriptor. \r\n            If Type is not provided,\
          \ defaults to ExactMatch.\r\n            Example: FuzzyMatch"
        example: ExactMatch
        in: query
        name: type
        schema:
          default: ExactMatch
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantIds'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "500":
          content: {}
          description: Server Error
      summary: "Returns merchant descriptor and locator information based on the criteria\
        \ you provide.\r\nInformation returned includes merchant DBA name, merchant\
        \ category code (MCC), street address, city, state, postal code, country,\
        \ and sales channels."
      tags:
      - MerchantIds
      x-samples:
      - name: example_merchant_identifier
        request:
          application/json: |-
            {
              "merchant_id" : "DOLIUMPTYLTDWELSHPOOLWA",
              "type" : "FuzzyMatch"
            }
        response:
          application/json: |-
            {
              "message": "1 merchants found.",
              "returnedMerchants": [
                {
                  "address": {
                    "line1": "UNIT 2 248 WELSHPOOL RD",
                    "city": "WELSHPOOL",
                    "postalCode": "6106",
                    "countrySubdivision": {
                      "code": "WA"
                    },
                    "country": {
                      "name": "AUSTRALIA",
                      "code": "AUS"
                    }
                  },
                  "phoneNumber": "893582575",
                  "merchantCategory": "5533 - AUTOMOTIVE PARTS ACCESSORIES STORES",
                  "merchantDbaName": "DOLIUM PTY LTD",
                  "descriptorText": "DOLIUMPTYLTDWELSHPOOLWA",
                  "comment": "100",
                  "locationId": "288560095",
                  "matchConfidenceScore": 100
                }
              ]
            }
      x-openapi-router-controller: openapi_server.controllers.merchant_ids_controller
components:
  schemas:
    Address:
      example:
        country:
          code: code
          name: name
        city: city
        postalCode: postalCode
        line2: line2
        countrySubdivision:
          code: code
          name: name
        line1: line1
      properties:
        city:
          description: Name of the city or town where the merchant is located.
          title: city
          type: string
        country:
          $ref: '#/components/schemas/Country'
        countrySubdivision:
          $ref: '#/components/schemas/CountrySubdivision'
        line1:
          description: Line 1 of the street address of the merchant. Usually includes
            the street number and name.
          title: line1
          type: string
        line2:
          description: "Line 2 of the street address, usually an apartment number\
            \ or suite number."
          title: line2
          type: string
        postalCode:
          description: The zip code or postal code for an ATM location
          title: postalCode
          type: string
      title: Address
      type: object
    Country:
      example:
        code: code
        name: name
      properties:
        code:
          description: Three digit alpha country code as defined in ISO 3166-1
          title: code
          type: string
        name:
          description: Name of the country
          title: name
          type: string
      title: Country
      type: object
    CountrySubdivision:
      example:
        code: code
        name: name
      properties:
        code:
          description: Abbreviated code for the state or province
          title: code
          type: string
        name:
          description: Name of the state or province.
          title: name
          type: string
      title: CountrySubdivision
      type: object
    Error:
      description: Error
      example:
        description: description
        recoverable: true
        reasonCode: reasonCode
        source: source
      properties:
        description:
          description: Description
          title: description
          type: string
        reasonCode:
          description: Reason for the error
          title: reasonCode
          type: string
        recoverable:
          description: Is the error recoverable
          title: recoverable
          type: boolean
        source:
          description: Error Source
          title: source
          type: string
      title: Error
      type: object
    ErrorResponse:
      description: ErrorResponse array of Error return for Open API
      example:
        errors:
        - description: description
          recoverable: true
          reasonCode: reasonCode
          source: source
        - description: description
          recoverable: true
          reasonCode: reasonCode
          source: source
      properties:
        errors:
          description: array of Error
          items:
            $ref: '#/components/schemas/Error'
          title: errors
          type: array
      title: ErrorResponse
      type: object
    Merchant:
      example:
        brandName: brandName
        matchConfidenceScore: 6
        address:
          country:
            code: code
            name: name
          city: city
          postalCode: postalCode
          line2: line2
          countrySubdivision:
            code: code
            name: name
          line1: line1
        phoneNumber: phoneNumber
        legalCorporateName: legalCorporateName
        merchantDbaName: merchantDbaName
        locationId: 0
        soleProprietorName: soleProprietorName
        comment: comment
        merchantCategory: merchantCategory
        descriptorText: descriptorText
      properties:
        address:
          $ref: '#/components/schemas/Address'
        brandName:
          description: The brand name of the merchant.
          title: brandName
          type: string
        comment:
          description: Notes or comments returned about the merchant.
          title: comment
          type: string
        descriptorText:
          description: Descriptor for the merchant provided by the Merchant Service
            Provider(MSP).
          title: descriptorText
          type: string
        legalCorporateName:
          description: Corporate legal name of the merchant.
          title: legalCorporateName
          type: string
        locationId:
          description: Merchant specific location identifier.
          format: int32
          title: locationId
          type: integer
        matchConfidenceScore:
          description: Confidence score (%) to help clients understand the quality
            of the search results.
          format: int32
          title: matchConfidenceScore
          type: integer
        merchantCategory:
          description: "Merchant category code and description associated with the\
            \ merchant category code for the merchant. \r\n5814 - FAST FOOD RESTAURANTS,\
            \ 5541 - SERVICE STATIONS WITH OR WITHOUT ANCILLARY SERVICE, \r\n5735\
            \ - RECORD SHOPS, 5971 - ART DEALERS AND GALLERIES"
          title: merchantCategory
          type: string
        merchantDbaName:
          description: Name under which the merchant is 'doing business as'.
          title: merchantDbaName
          type: string
        phoneNumber:
          description: The phone number of the merchant.
          title: phoneNumber
          type: string
        soleProprietorName:
          description: ""
          title: soleProprietorName
          type: string
      title: Merchant
      type: object
    MerchantIds:
      example:
        returnedMerchants:
        - brandName: brandName
          matchConfidenceScore: 6
          address:
            country:
              code: code
              name: name
            city: city
            postalCode: postalCode
            line2: line2
            countrySubdivision:
              code: code
              name: name
            line1: line1
          phoneNumber: phoneNumber
          legalCorporateName: legalCorporateName
          merchantDbaName: merchantDbaName
          locationId: 0
          soleProprietorName: soleProprietorName
          comment: comment
          merchantCategory: merchantCategory
          descriptorText: descriptorText
        - brandName: brandName
          matchConfidenceScore: 6
          address:
            country:
              code: code
              name: name
            city: city
            postalCode: postalCode
            line2: line2
            countrySubdivision:
              code: code
              name: name
            line1: line1
          phoneNumber: phoneNumber
          legalCorporateName: legalCorporateName
          merchantDbaName: merchantDbaName
          locationId: 0
          soleProprietorName: soleProprietorName
          comment: comment
          merchantCategory: merchantCategory
          descriptorText: descriptorText
        message: message
      properties:
        message:
          description: Identifies the number of merchants found based on a request.
          title: message
          type: string
        returnedMerchants:
          description: List of matching returned merchants
          items:
            $ref: '#/components/schemas/Merchant'
          title: returnedMerchants
          type: array
      title: MerchantIds
      type: object
x-original-swagger-version: "2.0"
