openapi: 3.0.1
info:
  contact:
    email: admin@spinbot.net
    name: Spinbot Admin
    url: https://spinbot.net
  description: 'Spinbot.net propose a new solution based on high technologies for
    faster article spinner and extractor that you will love to use it. '
  termsOfService: https://spinbot.net/terms-and-conditions
  title: Article Rewriter and Article Extractor API
  version: "1.0"
  x-logo:
    url: https://logo-core.clearbit.com/spinbot.net
  x-origin:
  - format: swagger
    url: http://spinbot.net/spinbot_api_swagger.yaml
    version: "2.0"
  x-providerName: spinbot.net
externalDocs:
  url: https://spinbot.net/api-documentation
servers:
- url: https://api.spinbot.net/
security:
- key: []
tags:
- description: "Article rewriter (spinner): rewrite your origin article by replacing\
    \ every terms/words to their synonyms. Our program will try its best to detect\
    \ as many words that can be replaced as possible. So that you will never care\
    \ about the plagiarism checkers. "
  externalDocs:
    url: https://spinbot.net/api-documentation
  name: article rewriter
- description: "Article extractor: a lot of techniques and mordern algorithms like\
    \ machine learning are used to detect the main article content in your given url.\
    \ It's an automated tool to scrape and collect articles. It will reduce your time\
    \ to collect data and keywords for you websites to improve their ranks."
  externalDocs:
    url: https://spinbot.net/api-documentation
  name: article extractor
paths:
  /api/acc:
    get:
      description: Return the user credit information.
      operationId: get_info
      parameters:
      - description: Your api key
        in: query
        name: key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: success
      summary: Return the user credit information.
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /api/article:
    post:
      description: Extracting the main article of the given URL. The response is in
        JSON format.
      operationId: post_article
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/postArticle_request'
        required: true
        x-body-name: body
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default response
      summary: Extracting the main article of the given URL.
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /api/pretty-spinner:
    post:
      description: Human readable auto rewrite your article. The response is in JSON
        format.
      operationId: post_pretty_spinner
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/postPrettySpinner_request'
        required: true
        x-body-name: body
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default response
      summary: Human readable auto rewrite your article.
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /api/spinner:
    post:
      description: Rewriting (spinning) you input article. The response is in JSON
        format.
      operationId: post_spinner
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/postSpinner_request'
        required: true
        x-body-name: body
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default response
      summary: Rewriting (spinning) your input article.
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /api/spintax:
    post:
      description: "Generate Spintax format for the input article, so you can rewrite\
        \ it yourself. The response is in JSON format."
      operationId: post_spintax
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/postSpintax_request'
        required: true
        x-body-name: body
      responses:
        default:
          content:
            '*/*':
              schema:
                type: object
          description: Default response
      summary: Generate Spintax format for the input article
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
components:
  schemas:
    postSpintax_request:
      properties:
        key:
          description: Your spinbot API key
          type: string
        text:
          description: Input article that need to be rewritten.
          type: string
        full_mode:
          description: Full mode option.
          type: string
      required:
      - key
      - text
      type: object
    postArticle_request:
      properties:
        key:
          description: Your spinbot API key
          type: string
        url:
          description: The url of target article
          type: string
        faster_mode:
          description: you can set this input value to 1 to skip detecting the size
            (width and height in pixel) of all the images inside the extracted article.
            The response time of your request will be shortened if you set this input
            value to 1.
          type: string
      required:
      - key
      - url
      type: object
    postPrettySpinner_request:
      properties:
        key:
          description: Your spinbot API key
          type: string
        text:
          description: Input article that need to be rewrited.
          type: string
        keep:
          description: "Keep words/phrases, separated by newline, those remain unchanged\
            \ during the rewrite process."
          type: string
        accuracy:
          description: "Rewrite accuracy profile, accepted values are very-low, low,\
            \ medium, high, very-high"
          type: string
      required:
      - accuracy
      - keep
      - key
      - text
      type: object
    postSpinner_request:
      properties:
        key:
          description: Your spinbot API key
          type: string
        text:
          description: Input article that need to be rewrited.
          type: string
      required:
      - key
      - text
      type: object
  securitySchemes:
    key:
      in: query
      name: key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_key
x-original-swagger-version: "2.0"
