openapi: 3.0.1
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient
  version: 2018-09-15
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.DevTestLab/operations:
    get:
      description: Result of the request to list REST API operations
      operationId: provider_operations_list
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderOperationResult'
          description: Success
      tags:
      - ProviderOperations
      x-ms-examples:
        ProviderOperations_List:
          parameters:
            api-version: 2018-09-15
          responses:
            "200":
              body:
                value:
                - display:
                    description: Registers the subscription
                    operation: Register Subscription
                    provider: Microsoft DevTest Labs
                    resource: register
                  name: Microsoft.DevTestLab/register/action
                - display:
                    description: Evaluates lab policy.
                    operation: Evaluate policy
                    provider: Microsoft DevTest Labs
                    resource: policy sets
                  name: Microsoft.DevTestLab/labs/policySets/EvaluatePolicies/action
                - display:
                    description: Delete labs.
                    operation: Delete labs.
                    provider: Microsoft DevTest Labs
                    resource: Labs
                  name: Microsoft.DevTestLab/labs/delete
                - display:
                    description: Read labs.
                    operation: Read labs.
                    provider: Microsoft DevTest Labs
                    resource: Labs
                  name: Microsoft.DevTestLab/labs/read
                - display:
                    description: Add or modify labs.
                    operation: Add or modify labs.
                    provider: Microsoft DevTest Labs
                    resource: Labs
                  name: Microsoft.DevTestLab/labs/write
                - display:
                    description: List disk images available for custom image creation.
                    operation: List VHDs
                    provider: Microsoft DevTest Labs
                    resource: Labs
                  name: Microsoft.DevTestLab/labs/ListVhds/action
                - display:
                    description: Generate a URI for uploading custom disk images to
                      a Lab.
                    operation: Generate image upload URI
                    provider: Microsoft DevTest Labs
                    resource: Labs
                  name: Microsoft.DevTestLab/labs/GenerateUploadUri/action
                - display:
                    description: Create virtual machines in a lab.
                    operation: Create a virtual machine
                    provider: Microsoft DevTest Labs
                    resource: Labs
                  name: Microsoft.DevTestLab/labs/CreateEnvironment/action
                - display:
                    description: Claim a random claimable virtual machine in the lab.
                    operation: Claim Any Virtual Machine
                    provider: Microsoft DevTest Labs
                    resource: Labs
                  name: Microsoft.DevTestLab/labs/ClaimAnyVm/action
                - display:
                    description: Exports the lab resource usage into a storage account
                    operation: Exports the lab resource usage into a storage account
                    provider: Microsoft DevTest Labs
                    resource: Labs
                  name: Microsoft.DevTestLab/labs/ExportResourceUsage/action
                - display:
                    description: Import a virtual machine into a different lab.
                    operation: Import a virtual machine
                    provider: Microsoft DevTest Labs
                    resource: Labs
                  name: Microsoft.DevTestLab/labs/ImportVirtualMachine/action
                - display:
                    description: Delete policies.
                    operation: Delete policies.
                    provider: Microsoft DevTest Labs
                    resource: policies
                  name: Microsoft.DevTestLab/labs/policySets/policies/delete
                - display:
                    description: Read policies.
                    operation: Read policies.
                    provider: Microsoft DevTest Labs
                    resource: policies
                  name: Microsoft.DevTestLab/labs/policySets/policies/read
                - display:
                    description: Add or modify policies.
                    operation: Add or modify policies.
                    provider: Microsoft DevTest Labs
                    resource: policies
                  name: Microsoft.DevTestLab/labs/policySets/policies/write
                - display:
                    description: Delete schedules.
                    operation: Delete schedules.
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/labs/schedules/delete
                - display:
                    description: Read schedules.
                    operation: Read schedules.
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/labs/schedules/read
                - display:
                    description: Add or modify schedules.
                    operation: Add or modify schedules.
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/labs/schedules/write
                - display:
                    description: Execute a schedule.
                    operation: Execute schedule
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/labs/schedules/Execute/action
                - display:
                    description: Lists all applicable schedules
                    operation: List all applicable schedules
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/labs/schedules/ListApplicable/action
                - display:
                    description: Delete schedules.
                    operation: Delete schedules.
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/schedules/delete
                - display:
                    description: Read schedules.
                    operation: Read schedules.
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/schedules/read
                - display:
                    description: Add or modify schedules.
                    operation: Add or modify schedules.
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/schedules/write
                - display:
                    description: Execute a schedule.
                    operation: Execute schedule
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/schedules/Execute/action
                - display:
                    description: Updates a schedule's target resource Id.
                    operation: Retarget schedule.
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/schedules/Retarget/action
                - display:
                    description: Delete schedules.
                    operation: Delete schedules.
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/labs/virtualMachines/schedules/delete
                - display:
                    description: Read schedules.
                    operation: Read schedules.
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/labs/virtualMachines/schedules/read
                - display:
                    description: Add or modify schedules.
                    operation: Add or modify schedules.
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/labs/virtualMachines/schedules/write
                - display:
                    description: Execute a schedule.
                    operation: Execute schedule
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/labs/virtualMachines/schedules/Execute/action
                - display:
                    description: Delete schedules.
                    operation: Delete schedules.
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/labs/users/serviceFabrics/schedules/delete
                - display:
                    description: Read schedules.
                    operation: Read schedules.
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/labs/users/serviceFabrics/schedules/read
                - display:
                    description: Add or modify schedules.
                    operation: Add or modify schedules.
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/labs/users/serviceFabrics/schedules/write
                - display:
                    description: Execute a schedule.
                    operation: Execute schedule
                    provider: Microsoft DevTest Labs
                    resource: schedules
                  name: Microsoft.DevTestLab/labs/users/serviceFabrics/schedules/Execute/action
                - display:
                    description: Delete artifact sources.
                    operation: Delete artifact sources.
                    provider: Microsoft DevTest Labs
                    resource: Artifact sources
                  name: Microsoft.DevTestLab/labs/artifactSources/delete
                - display:
                    description: Read artifact sources.
                    operation: Read artifact sources.
                    provider: Microsoft DevTest Labs
                    resource: Artifact sources
                  name: Microsoft.DevTestLab/labs/artifactSources/read
                - display:
                    description: Add or modify artifact sources.
                    operation: Add or modify artifact sources.
                    provider: Microsoft DevTest Labs
                    resource: Artifact sources
                  name: Microsoft.DevTestLab/labs/artifactSources/write
                - display:
                    description: Read artifacts.
                    operation: Read artifacts.
                    provider: Microsoft DevTest Labs
                    resource: Artifacts
                  name: Microsoft.DevTestLab/labs/artifactSources/artifacts/read
                - display:
                    description: "Generates an ARM template for the given artifact,\
                      \ uploads the required files to a storage account, and validates\
                      \ the generated artifact."
                    operation: Generates an ARM template for the given artifact
                    provider: Microsoft DevTest Labs
                    resource: Artifacts
                  name: Microsoft.DevTestLab/labs/artifactSources/artifacts/GenerateArmTemplate/action
                - display:
                    description: Read gallery images.
                    operation: Read gallery images.
                    provider: Microsoft DevTest Labs
                    resource: gallery images
                  name: Microsoft.DevTestLab/labs/galleryImages/read
                - display:
                    description: Delete custom images.
                    operation: Delete custom images.
                    provider: Microsoft DevTest Labs
                    resource: custom images
                  name: Microsoft.DevTestLab/labs/customImages/delete
                - display:
                    description: Read custom images.
                    operation: Read custom images.
                    provider: Microsoft DevTest Labs
                    resource: custom images
                  name: Microsoft.DevTestLab/labs/customImages/read
                - display:
                    description: Add or modify custom images.
                    operation: Add or modify custom images.
                    provider: Microsoft DevTest Labs
                    resource: custom images
                  name: Microsoft.DevTestLab/labs/customImages/write
                - display:
                    description: Delete virtual networks.
                    operation: Delete virtual networks.
                    provider: Microsoft DevTest Labs
                    resource: virtual networks
                  name: Microsoft.DevTestLab/labs/virtualNetworks/delete
                - display:
                    description: Read virtual networks.
                    operation: Read virtual networks.
                    provider: Microsoft DevTest Labs
                    resource: virtual networks
                  name: Microsoft.DevTestLab/labs/virtualNetworks/read
                - display:
                    description: Add or modify virtual networks.
                    operation: Add or modify virtual networks.
                    provider: Microsoft DevTest Labs
                    resource: virtual networks
                  name: Microsoft.DevTestLab/labs/virtualNetworks/write
                - display:
                    description: Delete virtual machines.
                    operation: Delete virtual machines.
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/delete
                - display:
                    description: Read virtual machines.
                    operation: Read virtual machines.
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/read
                - display:
                    description: Add or modify virtual machines.
                    operation: Add or modify virtual machines.
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/write
                - display:
                    description: Start a virtual machine.
                    operation: Start virtual machine
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/Start/action
                - display:
                    description: Stop a virtual machine
                    operation: Stop virtual machine
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/Stop/action
                - display:
                    description: Restart a virtual machine.
                    operation: Restart virtual machine
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/Restart/action
                - display:
                    description: Redeploy a virtual machine
                    operation: Redeploy a virtual machine
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/Redeploy/action
                - display:
                    description: Resize Virtual Machine.
                    operation: Resize Virtual Machine.
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/Resize/action
                - display:
                    description: Apply artifacts to virtual machine.
                    operation: Apply artifacts to virtual machine
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/ApplyArtifacts/action
                - display:
                    description: Attach a new or existing data disk to virtual machine.
                    operation: Add or attach a data disk
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/AddDataDisk/action
                - display:
                    description: Detach the specified disk from the virtual machine.
                    operation: Detach the specified disk from the virtual machine
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/DetachDataDisk/action
                - display:
                    description: Take ownership of an existing virtual machine
                    operation: Claim a virtual machine
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/Claim/action
                - display:
                    description: Release ownership of an existing virtual machine
                    operation: Unclaim a virtual machine
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/UnClaim/action
                - display:
                    description: Transfer ownership of virtual machine data disks
                      to yourself
                    operation: Transfer data disks to yourself
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/TransferDisks/action
                - display:
                    description: Lists all applicable schedules
                    operation: List all applicable schedules
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/ListApplicableSchedules/action
                - display:
                    description: Gets a string that represents the contents of the
                      RDP file for the virtual machine
                    operation: Get RDP file contents
                    provider: Microsoft DevTest Labs
                    resource: Virtual machines
                  name: Microsoft.DevTestLab/labs/virtualMachines/GetRdpFileContents/action
                - display:
                    description: Delete formulas.
                    operation: Delete formulas.
                    provider: Microsoft DevTest Labs
                    resource: Formulas
                  name: Microsoft.DevTestLab/labs/formulas/delete
                - display:
                    description: Read formulas.
                    operation: Read formulas.
                    provider: Microsoft DevTest Labs
                    resource: Formulas
                  name: Microsoft.DevTestLab/labs/formulas/read
                - display:
                    description: Add or modify formulas.
                    operation: Add or modify formulas.
                    provider: Microsoft DevTest Labs
                    resource: Formulas
                  name: Microsoft.DevTestLab/labs/formulas/write
                - display:
                    description: Read costs.
                    operation: Read costs.
                    provider: Microsoft DevTest Labs
                    resource: costs
                  name: Microsoft.DevTestLab/labs/costs/read
                - display:
                    description: Add or modify costs.
                    operation: Add or modify costs.
                    provider: Microsoft DevTest Labs
                    resource: costs
                  name: Microsoft.DevTestLab/labs/costs/write
                - display:
                    description: Delete disks.
                    operation: Delete disks.
                    provider: Microsoft DevTest Labs
                    resource: disks
                  name: Microsoft.DevTestLab/labs/users/disks/delete
                - display:
                    description: Read disks.
                    operation: Read disks.
                    provider: Microsoft DevTest Labs
                    resource: disks
                  name: Microsoft.DevTestLab/labs/users/disks/read
                - display:
                    description: Add or modify disks.
                    operation: Add or modify disks.
                    provider: Microsoft DevTest Labs
                    resource: disks
                  name: Microsoft.DevTestLab/labs/users/disks/write
                - display:
                    description: Attach and create the lease of the disk to the virtual
                      machine.
                    operation: Attach disk
                    provider: Microsoft DevTest Labs
                    resource: disks
                  name: Microsoft.DevTestLab/labs/users/disks/Attach/action
                - display:
                    description: Detach and break the lease of the disk attached to
                      the virtual machine.
                    operation: Detach and break the lease of the disk attached to
                      the virtual machine
                    provider: Microsoft DevTest Labs
                    resource: disks
                  name: Microsoft.DevTestLab/labs/users/disks/Detach/action
                - display:
                    description: Delete user profiles.
                    operation: Delete user profiles.
                    provider: Microsoft DevTest Labs
                    resource: user profiles
                  name: Microsoft.DevTestLab/labs/users/delete
                - display:
                    description: Read user profiles.
                    operation: Read user profiles.
                    provider: Microsoft DevTest Labs
                    resource: user profiles
                  name: Microsoft.DevTestLab/labs/users/read
                - display:
                    description: Add or modify user profiles.
                    operation: Add or modify user profiles.
                    provider: Microsoft DevTest Labs
                    resource: user profiles
                  name: Microsoft.DevTestLab/labs/users/write
                - display:
                    description: Delete notification channels.
                    operation: Delete notification channels.
                    provider: Microsoft DevTest Labs
                    resource: notificationChannels
                  name: Microsoft.DevTestLab/labs/notificationChannels/delete
                - display:
                    description: Read notification channels.
                    operation: Read notification channels.
                    provider: Microsoft DevTest Labs
                    resource: notificationChannels
                  name: Microsoft.DevTestLab/labs/notificationChannels/read
                - display:
                    description: Add or modify notification channels.
                    operation: Add or modify notification channels.
                    provider: Microsoft DevTest Labs
                    resource: notificationChannels
                  name: Microsoft.DevTestLab/labs/notificationChannels/write
                - display:
                    description: Send notification to provided channel.
                    operation: Notify
                    provider: Microsoft DevTest Labs
                    resource: notificationChannels
                  name: Microsoft.DevTestLab/labs/notificationChannels/Notify/action
                - display:
                    description: Delete secrets.
                    operation: Delete secrets.
                    provider: Microsoft DevTest Labs
                    resource: secrets
                  name: Microsoft.DevTestLab/labs/users/secrets/delete
                - display:
                    description: Read secrets.
                    operation: Read secrets.
                    provider: Microsoft DevTest Labs
                    resource: secrets
                  name: Microsoft.DevTestLab/labs/users/secrets/read
                - display:
                    description: Add or modify secrets.
                    operation: Add or modify secrets.
                    provider: Microsoft DevTest Labs
                    resource: secrets
                  name: Microsoft.DevTestLab/labs/users/secrets/write
                - display:
                    description: Read operations.
                    operation: Read operations.
                    provider: Microsoft DevTest Labs
                    resource: operations
                  name: Microsoft.DevTestLab/locations/operations/read
                - display:
                    description: Read azure resource manager templates.
                    operation: Read azure resource manager templates.
                    provider: Microsoft DevTest Labs
                    resource: Azure Resource Manager templates
                  name: Microsoft.DevTestLab/labs/artifactSources/armTemplates/read
                - display:
                    description: Delete environments.
                    operation: Delete environments.
                    provider: Microsoft DevTest Labs
                    resource: environments
                  name: Microsoft.DevTestLab/labs/users/environments/delete
                - display:
                    description: Read environments.
                    operation: Read environments.
                    provider: Microsoft DevTest Labs
                    resource: environments
                  name: Microsoft.DevTestLab/labs/users/environments/read
                - display:
                    description: Add or modify environments.
                    operation: Add or modify environments.
                    provider: Microsoft DevTest Labs
                    resource: environments
                  name: Microsoft.DevTestLab/labs/users/environments/write
                - display:
                    description: Delete service runners.
                    operation: Delete service runners.
                    provider: Microsoft DevTest Labs
                    resource: Service runners
                  name: Microsoft.DevTestLab/labs/serviceRunners/delete
                - display:
                    description: Read service runners.
                    operation: Read service runners.
                    provider: Microsoft DevTest Labs
                    resource: Service runners
                  name: Microsoft.DevTestLab/labs/serviceRunners/read
                - display:
                    description: Add or modify service runners.
                    operation: Add or modify service runners.
                    provider: Microsoft DevTest Labs
                    resource: Service runners
                  name: Microsoft.DevTestLab/labs/serviceRunners/write
                - display:
                    description: Delete service fabrics.
                    operation: Delete service fabrics.
                    provider: Microsoft DevTest Labs
                    resource: Service Fabrics
                  name: Microsoft.DevTestLab/labs/users/serviceFabrics/delete
                - display:
                    description: Read service fabrics.
                    operation: Read service fabrics.
                    provider: Microsoft DevTest Labs
                    resource: Service Fabrics
                  name: Microsoft.DevTestLab/labs/users/serviceFabrics/read
                - display:
                    description: Add or modify service fabrics.
                    operation: Add or modify service fabrics.
                    provider: Microsoft DevTest Labs
                    resource: Service Fabrics
                  name: Microsoft.DevTestLab/labs/users/serviceFabrics/write
                - display:
                    description: Start a service fabric.
                    operation: Start service fabric
                    provider: Microsoft DevTest Labs
                    resource: Service Fabrics
                  name: Microsoft.DevTestLab/labs/users/serviceFabrics/Start/action
                - display:
                    description: Stop a service fabric
                    operation: Stop service fabric
                    provider: Microsoft DevTest Labs
                    resource: Service Fabrics
                  name: Microsoft.DevTestLab/labs/users/serviceFabrics/Stop/action
                - display:
                    description: Lists all applicable schedules
                    operation: List all applicable schedules
                    provider: Microsoft DevTest Labs
                    resource: Service Fabrics
                  name: Microsoft.DevTestLab/labs/users/serviceFabrics/ListApplicableSchedules/action
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.provider_operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/labs:
    get:
      description: List labs in a subscription.
      operationId: labs_list_by_subscription
      parameters:
      - description: The subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=defaultStorageAccount)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
        in: query
        name: $filter
        schema:
          type: string
      - description: "The maximum number of resources to return from the operation.\
          \ Example: '$top=10'"
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation.\
          \ Example: '$orderby=name desc'"
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - Labs
      x-ms-examples:
        Labs_ListBySubscription:
          parameters:
            api-version: 2018-09-15
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/resourcegroups/{resourcegroup-name-1}/providers/microsoft.devtestlab/labs/{lab-name-1}"
                  location: westcentralus
                  name: "{lab-name-1}"
                  properties:
                    announcement:
                      enabled: Disabled
                      expired: false
                      markdown: ""
                      title: ""
                    artifactsStorageAccount: "/subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-1}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-1}"
                    createdDate: 2018-09-30T08:38:13.1973609-07:00
                    defaultPremiumStorageAccount: "/subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-1}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-1}"
                    defaultStorageAccount: "/subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-1}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-1}"
                    environmentPermission: Reader
                    labStorageType: Premium
                    mandatoryArtifactsResourceIdsLinux: []
                    mandatoryArtifactsResourceIdsWindows: []
                    premiumDataDiskStorageAccount: "/subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-1}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-1}"
                    premiumDataDisks: Disabled
                    provisioningState: Succeeded
                    support:
                      enabled: Disabled
                      markdown: ""
                    uniqueIdentifier: "{unique-identifier}"
                    vaultName: "/subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-1}/providers/Microsoft.KeyVault/vaults/{keyvault-name-1}"
                  tags: {}
                  type: Microsoft.DevTestLab/labs
                - id: "/subscriptions/{subscription-id}/resourcegroups/{resourcegroup-name-2}/providers/microsoft.devtestlab/labs/{lab-name-2}"
                  location: japaneast
                  name: "{lab-name-2}"
                  properties:
                    announcement:
                      enabled: Disabled
                      expired: false
                      markdown: ""
                      title: ""
                    artifactsStorageAccount: "/subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-2}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-2}"
                    createdDate: 2018-09-30T09:37:52.9675083-07:00
                    defaultPremiumStorageAccount: "/subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-2}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-2}"
                    defaultStorageAccount: "/subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-2}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-2}"
                    environmentPermission: Reader
                    labStorageType: Premium
                    mandatoryArtifactsResourceIdsLinux: []
                    mandatoryArtifactsResourceIdsWindows: []
                    premiumDataDiskStorageAccount: "/subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-2}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-2}"
                    premiumDataDisks: Disabled
                    provisioningState: Succeeded
                    support:
                      enabled: Disabled
                      markdown: ""
                    uniqueIdentifier: "{unique-identifier}"
                    vaultName: "/subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-2}/providers/Microsoft.KeyVault/vaults/{keyvault-name-2}"
                  tags: {}
                  type: Microsoft.DevTestLab/labs
      x-ms-odata: '#/definitions/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.labs_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/locations/{locationName}/operations/{name}:
    get:
      description: Get operation.
      operationId: operations_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the location.
        in: path
        name: locationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the operation.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - Operations
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/schedules:
    get:
      description: List schedules in a subscription.
      operationId: global_schedules_list_by_subscription
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=status)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
        in: query
        name: $filter
        schema:
          type: string
      - description: "The maximum number of resources to return from the operation.\
          \ Example: '$top=10'"
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation.\
          \ Example: '$orderby=name desc'"
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - GlobalSchedules
      x-ms-odata: '#/definitions/Schedule'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.global_schedules_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs:
    get:
      description: List labs in a resource group.
      operationId: labs_list_by_resource_group
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Specify the $expand query. Example: 'properties($select=defaultStorageAccount)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
        in: query
        name: $filter
        schema:
          type: string
      - description: "The maximum number of resources to return from the operation.\
          \ Example: '$top=10'"
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation.\
          \ Example: '$orderby=name desc'"
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - Labs
      x-ms-examples:
        Labs_ListByResourceGroup:
          parameters:
            api-version: 2018-09-15
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                - id: "/subscriptions/{subscription-id}/resourcegroups/myResourceGroup/providers/microsoft.devtestlab/labs/{devtestlab-name}"
                  location: "{azure-location}"
                  name: "{devtestlab-name}"
                  properties:
                    announcement:
                      enabled: Disabled
                      expired: false
                      markdown: ""
                      title: ""
                    createdDate: 2018-10-02T10:23:20.9573599-07:00
                    environmentPermission: Reader
                    labStorageType: Standard
                    mandatoryArtifactsResourceIdsLinux: []
                    mandatoryArtifactsResourceIdsWindows: []
                    premiumDataDisks: Disabled
                    provisioningState: Succeeded
                    support:
                      enabled: Disabled
                      markdown: ""
                    uniqueIdentifier: "{unique-identifier}"
                    vaultName: "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/{keyvault-name}"
                  tags:
                    MyTag: MyValue
                  type: Microsoft.DevTestLab/labs
      x-ms-odata: '#/definitions/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.labs_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources
  : get:
      description: List artifact sources in a given lab.
      operationId: artifact_sources_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=displayName)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
        in: query
        name: $filter
        schema:
          type: string
      - description: "The maximum number of resources to return from the operation.\
          \ Example: '$top=10'"
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation.\
          \ Example: '$orderby=name desc'"
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSourceList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - ArtifactSources
      x-ms-odata: '#/definitions/ArtifactSource'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.artifact_sources_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates
  : get:
      description: List azure resource manager templates in a given artifact source.
      operationId: arm_templates_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=displayName)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
        in: query
        name: $filter
        schema:
          type: string
      - description: "The maximum number of resources to return from the operation.\
          \ Example: '$top=10'"
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation.\
          \ Example: '$orderby=name desc'"
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmTemplateList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - ArmTemplates
      x-ms-odata: '#/definitions/ArmTemplate'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.arm_templates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates/{name}
  : get:
      description: Get azure resource manager template.
      operationId: arm_templates_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        schema:
          type: string
      - description: The name of the azure resource manager template.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=displayName)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmTemplate'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - ArmTemplates
      x-openapi-router-controller: openapi_server.controllers.arm_templates_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts
  : get:
      description: List artifacts in a given artifact source.
      operationId: artifacts_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=title)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
        in: query
        name: $filter
        schema:
          type: string
      - description: "The maximum number of resources to return from the operation.\
          \ Example: '$top=10'"
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation.\
          \ Example: '$orderby=name desc'"
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - Artifacts
      x-ms-odata: '#/definitions/Artifact'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.artifacts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}
  : get:
      description: Get artifact.
      operationId: artifacts_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        schema:
          type: string
      - description: The name of the artifact.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=title)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - Artifacts
      x-openapi-router-controller: openapi_server.controllers.artifacts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate
  : post:
      description: "Generates an ARM template for the given artifact, uploads the\
        \ required files to a storage account, and validates the generated artifact."
      operationId: artifacts_generate_arm_template
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: artifactSourceName
        required: true
        schema:
          type: string
      - description: The name of the artifact.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateArmTemplateRequest'
        description: Parameters for generating an ARM template for deploying artifacts.
        required: true
        x-body-name: generateArmTemplateRequest
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmTemplateInfo'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - Artifacts
      x-codegen-request-body-name: generateArmTemplateRequest
      x-openapi-router-controller: openapi_server.controllers.artifacts_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{name}
  : delete:
      description: Delete artifact source.
      operationId: artifact_sources_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - ArtifactSources
      x-openapi-router-controller: openapi_server.controllers.artifact_sources_controller
    get:
      description: Get artifact source.
      operationId: artifact_sources_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=displayName)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - ArtifactSources
      x-openapi-router-controller: openapi_server.controllers.artifact_sources_controller
    patch:
      description: Allows modifying tags of artifact sources. All other properties
        will be ignored.
      operationId: artifact_sources_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactSourceFragment'
        description: Properties of an artifact source.
        required: true
        x-body-name: artifactSource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - ArtifactSources
      x-codegen-request-body-name: artifactSource
      x-openapi-router-controller: openapi_server.controllers.artifact_sources_controller
    put:
      description: Create or replace an existing artifact source.
      operationId: artifact_sources_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the artifact source.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactSource'
        description: Properties of an artifact source.
        required: true
        x-body-name: artifactSource
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - ArtifactSources
      x-codegen-request-body-name: artifactSource
      x-openapi-router-controller: openapi_server.controllers.artifact_sources_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}:
    get:
      description: Get cost.
      operationId: costs_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the cost.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($expand=labCostDetails)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabCost'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - Costs
      x-openapi-router-controller: openapi_server.controllers.costs_controller
    put:
      description: Create or replace an existing cost.
      operationId: costs_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the cost.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabCost'
        description: A cost item.
        required: true
        x-body-name: labCost
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabCost'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabCost'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - Costs
      x-codegen-request-body-name: labCost
      x-openapi-router-controller: openapi_server.controllers.costs_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages:
    get:
      description: List custom images in a given lab.
      operationId: custom_images_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=vm)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
        in: query
        name: $filter
        schema:
          type: string
      - description: "The maximum number of resources to return from the operation.\
          \ Example: '$top=10'"
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation.\
          \ Example: '$orderby=name desc'"
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImageList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - CustomImages
      x-ms-odata: '#/definitions/CustomImage'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.custom_images_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages/{name}
  : delete:
      description: Delete custom image. This operation can take a while to complete.
      operationId: custom_images_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "202":
          content: {}
          description: Accepted
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - CustomImages
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.custom_images_controller
    get:
      description: Get custom image.
      operationId: custom_images_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=vm)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - CustomImages
      x-openapi-router-controller: openapi_server.controllers.custom_images_controller
    patch:
      description: Allows modifying tags of custom images. All other properties will
        be ignored.
      operationId: custom_images_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomImageFragment'
        description: A custom image.
        required: true
        x-body-name: customImage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - CustomImages
      x-codegen-request-body-name: customImage
      x-openapi-router-controller: openapi_server.controllers.custom_images_controller
    put:
      description: Create or replace an existing custom image. This operation can
        take a while to complete.
      operationId: custom_images_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the custom image.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomImage'
        description: A custom image.
        required: true
        x-body-name: customImage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - CustomImages
      x-ms-long-running-operation: true
      x-codegen-request-body-name: customImage
      x-openapi-router-controller: openapi_server.controllers.custom_images_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas:
    get:
      description: List formulas in a given lab.
      operationId: formulas_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=description)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
        in: query
        name: $filter
        schema:
          type: string
      - description: "The maximum number of resources to return from the operation.\
          \ Example: '$top=10'"
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation.\
          \ Example: '$orderby=name desc'"
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormulaList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - Formulas
      x-ms-odata: '#/definitions/Formula'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.formulas_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas/{name}
  : delete:
      description: Delete formula.
      operationId: formulas_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the formula.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - Formulas
      x-openapi-router-controller: openapi_server.controllers.formulas_controller
    get:
      description: Get formula.
      operationId: formulas_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the formula.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=description)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - Formulas
      x-openapi-router-controller: openapi_server.controllers.formulas_controller
    patch:
      description: Allows modifying tags of formulas. All other properties will be
        ignored.
      operationId: formulas_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the formula.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormulaFragment'
        description: "A formula for creating a VM, specifying an image base and other\
          \ parameters"
        required: true
        x-body-name: formula
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - Formulas
      x-codegen-request-body-name: formula
      x-openapi-router-controller: openapi_server.controllers.formulas_controller
    put:
      description: Create or replace an existing formula. This operation can take
        a while to complete.
      operationId: formulas_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the formula.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Formula'
        description: "A formula for creating a VM, specifying an image base and other\
          \ parameters"
        required: true
        x-body-name: formula
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - Formulas
      x-ms-long-running-operation: true
      x-codegen-request-body-name: formula
      x-openapi-router-controller: openapi_server.controllers.formulas_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryimages:
    get:
      description: List gallery images in a given lab.
      operationId: gallery_images_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=author)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
        in: query
        name: $filter
        schema:
          type: string
      - description: "The maximum number of resources to return from the operation.\
          \ Example: '$top=10'"
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation.\
          \ Example: '$orderby=name desc'"
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryImageList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - GalleryImages
      x-ms-odata: '#/definitions/GalleryImage'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.gallery_images_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels
  : get:
      description: List notification channels in a given lab.
      operationId: notification_channels_list
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=webHookUrl)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
        in: query
        name: $filter
        schema:
          type: string
      - description: "The maximum number of resources to return from the operation.\
          \ Example: '$top=10'"
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "The ordering expression for the results, using OData notation.\
          \ Example: '$orderby=name desc'"
        in: query
        name: $orderby
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannelList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - NotificationChannels
      x-ms-odata: '#/definitions/NotificationChannel'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.notification_channels_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}
  : delete:
      description: Delete notification channel.
      operationId: notification_channels_delete
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the notification channel.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - NotificationChannels
      x-openapi-router-controller: openapi_server.controllers.notification_channels_controller
    get:
      description: Get notification channel.
      operationId: notification_channels_get
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the notification channel.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify the $expand query. Example: 'properties($select=webHookUrl)'"
        in: query
        name: $expand
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - NotificationChannels
      x-openapi-router-controller: openapi_server.controllers.notification_channels_controller
    patch:
      description: Allows modifying tags of notification channels. All other properties
        will be ignored.
      operationId: notification_channels_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the notification channel.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationChannelFragment'
        description: A notification.
        required: true
        x-body-name: notificationChannel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - NotificationChannels
      x-codegen-request-body-name: notificationChannel
      x-openapi-router-controller: openapi_server.controllers.notification_channels_controller
    put:
      description: Create or replace an existing notification channel.
      operationId: notification_channels_create_or_update
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the lab.
        in: path
        name: labName
        required: true
        schema:
          type: string
      - description: The name of the notification channel.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          default: 2018-09-15
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationChannel'
        description: A notification.
        required: true
        x-body-name: notificationChannel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationChannel'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
          description: BadRequest
      tags:
      - NotificationChannels
      x-codegen-request-body-name: notificationChannel
      x-openapi-router-controller: openapi_server.controllers.notification_channels_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}/notify
  : post:
      description: Send notification to provided channel.
      operationId: notification_channels_notify
      parameters:
      - description: The subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
[...]
