openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on the ApiVersionSet
    entity associated with your Azure API Management deployment. Using this entity
    you create and manage API Version Sets that are used to group APIs for consistent
    versioning.
  title: ApiManagementClient
  version: 2017-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimversionsets.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimversionsets
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/api-version-sets
  : get:
      description: Lists a collection of API Version Sets in the specified service
        instance.
      operationId: ApiVersionSet_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: |-
          | Field            | Supported operators    | Supported functions               |
          |------------------|------------------------|-----------------------------------|
          | id               | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | firstName        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | lastName         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | email            | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | state            | eq                     | N/A                               |
          | registrationDate | ge, le, eq, ne, gt, lt | N/A                               |
          | note             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSetCollection'
          description: Lists a collection of Api Version Set entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiVersionSets
      x-ms-examples:
        ApiManagementListApiVersionSets:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/api-version-sets/vs1
                  name: vs1
                  properties:
                    description: Version configuration
                    displayName: api set 1
                    versioningScheme: Segment
                  type: Microsoft.ApiManagement/service/api-version-sets
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/api-version-sets/vs2
                  name: vs2
                  properties:
                    description: Version configuration 2
                    displayName: api set 2
                    versioningScheme: Query
                  type: Microsoft.ApiManagement/service/api-version-sets
      x-ms-odata: '#/definitions/ApiVersionSetContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/api-version-sets/{versionSetId}
  : delete:
      description: Deletes specific Api Version Set.
      operationId: ApiVersionSet_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        in: path
        name: versionSetId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the Api Version Set to delete.
          A value of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The ApiVersion Set details were successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiVersionSets
      x-ms-examples:
        ApiManagementDeleteApiVersionSet:
          parameters:
            If-Match: '*'
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            versionSetId: a1
          responses:
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the details of the Api Version Set specified by its identifier.
      operationId: ApiVersionSet_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        in: path
        name: versionSetId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSetContract'
          description: Gets the specified Api Version Set entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiVersionSets
      x-ms-examples:
        ApiManagementGetApiVersionSet:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            versionSetId: vs1
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/api-version-sets/vs1
                name: vs1
                properties:
                  description: Version configuration
                  displayName: Version Set 1
                  versioningScheme: Segment
                type: Microsoft.ApiManagement/service/api-version-sets
      x-accepts:
      - application/json
    head:
      description: Gets the entity state (Etag) version of the Api Version Set specified
        by its identifier.
      operationId: ApiVersionSet_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        in: path
        name: versionSetId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Specified Api Version Set entity exists and current entity
            state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiVersionSets
      x-ms-examples:
        ApiManagementHeadApiVersionSet:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            versionSetId: vs1
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-accepts:
      - application/json
    patch:
      description: Updates the details of the Api VersionSet specified by its identifier.
      operationId: ApiVersionSet_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        in: path
        name: versionSetId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the user to update. A value
          of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiVersionSetUpdateParameters'
        description: Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: The Api Version Set details were successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response'
          description: |-
            *** Error Responses: ***

             * 4XX Error response giving details why the operation failed.
      tags:
      - ApiVersionSets
      x-ms-examples:
        ApiManagementUpdateApiVersionSet:
          parameters:
            If-Match: '*'
            api-version: 2017-03-01
            parameters:
              properties:
                description: Version configuration
                displayName: api set 1
                versioningScheme: Segment
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            versionSetId: api1
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or Updates a Api Version Set.
      operationId: ApiVersionSet_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Api Version Set identifier. Must be unique in the current API
          Management service instance.
        in: path
        name: versionSetId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the user to update. A value
          of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiVersionSetContract'
        description: Create or update parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSetContract'
          description: Api Version Set was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSetContract'
          description: Api Version Set was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ApiVersionSets
      x-ms-examples:
        ApiManagementCreateApiVersionSet:
          parameters:
            api-version: 2017-03-01
            parameters:
              properties:
                description: Version configuration
                displayName: api set 1
                versioningScheme: Segment
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            versionSetId: api1
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/api-version-sets/api1
                name: api1
                properties:
                  description: Version configuration
                  displayName: api set 1
                  versioningScheme: Segment
                type: Microsoft.ApiManagement/service/api-version-sets
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/api-version-sets/api1
                name: api1
                properties:
                  description: Version configuration
                  displayName: api set 1
                  versioningScheme: Segment
                type: Microsoft.ApiManagement/service/api-version-sets
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionSetIdParameter:
      description: Api Version Set identifier. Must be unique in the current API Management
        service instance.
      in: path
      name: versionSetId
      required: true
      schema:
        maxLength: 256
        minLength: 1
        pattern: "^[^*#&+:<>?]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ApiVersionSetCollection:
      description: Paged Api Version Set list representation.
      example:
        value:
        - properties:
            versioningScheme: Segment
            displayName: displayName
        - properties:
            versioningScheme: Segment
            displayName: displayName
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/ApiVersionSetContract'
          type: array
      type: object
    ApiVersionSetContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Api Version Set Contract details.
      example:
        properties:
          versioningScheme: Segment
          displayName: displayName
      properties:
        properties:
          $ref: '#/components/schemas/ApiVersionSetContractProperties'
    ApiVersionSetContractProperties:
      allOf:
      - $ref: '#/components/schemas/ApiVersionSetEntityBase'
      description: Properties of an API Version Set.
      example:
        versioningScheme: Segment
        displayName: displayName
      properties:
        displayName:
          description: Name of API Version Set
          maxLength: 100
          minLength: 1
          type: string
        versioningScheme:
          description: An value that determines where the API Version identifer will
            be located in a HTTP request.
          enum:
          - Segment
          - Query
          - Header
          type: string
          x-ms-enum:
            modelAsString: true
            name: versioningScheme
            values:
            - description: The API Version is passed in a path segment.
              value: Segment
            - description: The API Version is passed in a query parameter.
              value: Query
            - description: The API Version is passed in a HTTP header.
              value: Header
      required:
      - displayName
      - versioningScheme
    ApiVersionSetEntityBase:
      properties:
        description:
          description: Description of API Version Set.
          type: string
        versionHeaderName:
          description: Name of HTTP header parameter that indicates the API Version
            if versioningScheme is set to `header`.
          maxLength: 100
          minLength: 1
          type: string
        versionQueryName:
          description: Name of query parameter that indicates the API Version if versioningScheme
            is set to `query`.
          maxLength: 100
          minLength: 1
          type: string
      type: object
    ApiVersionSetUpdateParameters:
      description: Parameters to update or create an Api Version Set Contract.
      example:
        properties:
          versioningScheme: Segment
          displayName: displayName
      properties:
        properties:
          $ref: '#/components/schemas/ApiVersionSetUpdateParametersProperties'
      type: object
    ApiVersionSetUpdateParametersProperties:
      allOf:
      - $ref: '#/components/schemas/ApiVersionSetEntityBase'
      description: Properties used to create or update an API Version Set.
      example:
        versioningScheme: Segment
        displayName: displayName
      properties:
        displayName:
          description: Name of API Version Set
          maxLength: 100
          minLength: 1
          type: string
        versioningScheme:
          description: An value that determines where the API Version identifer will
            be located in a HTTP request.
          enum:
          - Segment
          - Query
          - Header
          type: string
          x-ms-enum:
            modelAsString: true
            name: versioningScheme
            values:
            - description: The API Version is passed in a path segment.
              value: Segment
            - description: The API Version is passed in a query parameter.
              value: Query
            - description: The API Version is passed in a HTTP header.
              value: Header
    ApiVersionSet_ListByService_default_response_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    ApiVersionSet_ListByService_default_response:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/ApiVersionSet_ListByService_default_response_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

