# DatastreamApi.ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**validations** | [**[Validation]**](Validation.md) | A list of validations (includes both executed as well as not executed validations). | [optional] 


