openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "The management interface for Binary Authorization, a service that\
    \ provides policy-based deployment validation and control for images deployed\
    \ to Google Kubernetes Engine (GKE), Anthos Service Mesh, Anthos Clusters, and\
    \ Cloud Run. "
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Binary Authorization API
  version: v1beta1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://binaryauthorization.googleapis.com/$discovery/rest?version=v1beta1
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: binaryauthorization
externalDocs:
  url: https://cloud.google.com/binary-authorization/
servers:
- url: https://binaryauthorization.googleapis.com/
tags:
- name: projects
- name: systempolicy
paths:
  /v1beta1/{attestor}:validateAttestationOccurrence:
    post:
      description: Returns whether the given `Attestation` for the given image URI
        was signed by the given `Attestor`
      operationId: binaryauthorization_projects_attestors_validate_attestation_occurrence
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the Attestor of the occurrence,\
          \ in the format `projects/*/attestors/*`."
        explode: false
        in: path
        name: attestor
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateAttestationOccurrenceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateAttestationOccurrenceResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{name}:
    delete:
      description: Deletes an attestor. Returns NOT_FOUND if the attestor does not
        exist.
      operationId: binaryauthorization_projects_attestors_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The name of the attestors to delete, in the format\
          \ `projects/*/attestors/*`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    get:
      description: Gets the current system policy in the specified location.
      operationId: binaryauthorization_systempolicy_get_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name, in the format `locations/*/policy`.\
          \ Note that the system policy is not associated with a project."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - systempolicy
      x-openapi-router-controller: openapi_server.controllers.systempolicy_controller
    put:
      description: Updates an attestor. Returns NOT_FOUND if the attestor does not
        exist.
      operationId: binaryauthorization_projects_attestors_update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name, in the format: `projects/*/attestors/*`.\
          \ This field may not be updated."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attestor'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attestor'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{parent}/attestors:
    get:
      description: Lists attestors. Returns INVALID_ARGUMENT if the project does not
        exist.
      operationId: binaryauthorization_projects_attestors_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the project associated with the\
          \ attestors, in the format `projects/*`."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Requested page size. The server may return fewer results than\
          \ requested. If unspecified, the server will pick an appropriate default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A token identifying a page of results the server should return.\
          \ Typically, this is the value of ListAttestorsResponse.next_page_token\
          \ returned from the previous call to the `ListAttestors` method."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAttestorsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
    post:
      description: "Creates an attestor, and returns a copy of the new attestor. Returns\
        \ NOT_FOUND if the project does not exist, INVALID_ARGUMENT if the request\
        \ is malformed, ALREADY_EXISTS if the attestor already exists."
      operationId: binaryauthorization_projects_attestors_create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The parent of this attestor.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The attestors ID.
        explode: true
        in: query
        name: attestorId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attestor'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attestor'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{resource}:getIamPolicy:
    get:
      description: Gets the access control policy for a resource. Returns an empty
        policy if the resource exists and does not have a policy set.
      operationId: binaryauthorization_projects_policy_get_iam_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being requested.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. The maximum policy version that will be used to format\
          \ the policy. Valid values are 0, 1, and 3. Requests specifying an invalid\
          \ value will be rejected. Requests for policies with any conditional role\
          \ bindings must specify version 3. Policies with no conditional role bindings\
          \ may specify any valid value or leave the field unset. The policy in the\
          \ response might use the policy version that you specified, or it might\
          \ use a lower policy version. For example, if you specify version 3, but\
          \ the policy has no conditional role bindings, the response uses version\
          \ 1. To learn which resources support conditions in their IAM policies,\
          \ see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        explode: true
        in: query
        name: options.requestedPolicyVersion
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IamPolicy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1beta1/{resource}:setIamPolicy:
    post:
      description: "Sets the access control policy on the specified resource. Replaces\
        \ any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED`\
        \ errors."
      operationId: binaryauthorization_projects_policy_set_iam_policy
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy is being specified.\
          \ See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetIamPolicyRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IamPolicy'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1beta1/{resource}:testIamPermissions:
    post:
      description: "Returns permissions that a caller has on the specified resource.\
        \ If the resource does not exist, this will return an empty set of permissions,\
        \ not a `NOT_FOUND` error. Note: This operation is designed to be used for\
        \ building permission-aware UIs and command-line tools, not for authorization\
        \ checking. This operation may \"fail open\" without warning."
      operationId: binaryauthorization_projects_policy_test_iam_permissions
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "REQUIRED: The resource for which the policy detail is being\
          \ requested. See [Resource names](https://cloud.google.com/apis/design/resource_names)\
          \ for the appropriate value for this field."
        explode: false
        in: path
        name: resource
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestIamPermissionsRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestIamPermissionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AdmissionRule:
      description: "An admission rule specifies either that all container images used\
        \ in a pod creation request must be attested to by one or more attestors,\
        \ that all pod creations will be allowed, or that all pod creations will be\
        \ denied. Images matching an admission allowlist pattern are exempted from\
        \ admission rules and will never block a pod creation."
      example:
        enforcementMode: ENFORCEMENT_MODE_UNSPECIFIED
        requireAttestationsBy:
        - requireAttestationsBy
        - requireAttestationsBy
        evaluationMode: EVALUATION_MODE_UNSPECIFIED
      properties:
        enforcementMode:
          description: Required. The action when a pod creation is denied by the admission
            rule.
          enum:
          - ENFORCEMENT_MODE_UNSPECIFIED
          - ENFORCED_BLOCK_AND_AUDIT_LOG
          - DRYRUN_AUDIT_LOG_ONLY
          title: enforcementMode
          type: string
        evaluationMode:
          description: Required. How this admission rule will be evaluated.
          enum:
          - EVALUATION_MODE_UNSPECIFIED
          - ALWAYS_ALLOW
          - REQUIRE_ATTESTATION
          - ALWAYS_DENY
          title: evaluationMode
          type: string
        requireAttestationsBy:
          description: "Optional. The resource names of the attestors that must attest\
            \ to a container image, in the format `projects/*/attestors/*`. Each attestor\
            \ must exist before a policy can reference it. To add an attestor to a\
            \ policy the principal issuing the policy change request must be able\
            \ to read the attestor resource. Note: this field must be non-empty when\
            \ the evaluation_mode field specifies REQUIRE_ATTESTATION, otherwise it\
            \ must be empty."
          items:
            type: string
          title: requireAttestationsBy
          type: array
      title: AdmissionRule
      type: object
    AdmissionWhitelistPattern:
      description: An admission allowlist pattern exempts images from checks by admission
        rules.
      example:
        namePattern: namePattern
      properties:
        namePattern:
          description: "An image name pattern to allowlist, in the form `registry/path/to/image`.\
            \ This supports a trailing `*` as a wildcard, but this is allowed only\
            \ in text after the `registry/` part. `*` wildcard does not match `/`,\
            \ i.e., `gcr.io/nginx*` matches `gcr.io/nginx@latest`, but it does not\
            \ match `gcr.io/nginx/image`. This also supports a trailing `**` wildcard\
            \ which matches subdirectories, i.e., `gcr.io/nginx**` matches `gcr.io/nginx/image`."
          title: namePattern
          type: string
      title: AdmissionWhitelistPattern
      type: object
    AttestationOccurrence:
      description: "Occurrence that represents a single \"attestation\". The authenticity\
        \ of an attestation can be verified using the attached signature. If the verifier\
        \ trusts the public key of the signer, then verifying the signature is sufficient\
        \ to establish trust. In this circumstance, the authority to which this attestation\
        \ is attached is primarily useful for lookup (how to find this attestation\
        \ if you already know the authority and artifact to be verified) and intent\
        \ (for which authority this attestation was intended to sign."
      example:
        serializedPayload: serializedPayload
        jwts:
        - compactJwt: compactJwt
        - compactJwt: compactJwt
        signatures:
        - signature: signature
          publicKeyId: publicKeyId
        - signature: signature
          publicKeyId: publicKeyId
      properties:
        jwts:
          description: "One or more JWTs encoding a self-contained attestation. Each\
            \ JWT encodes the payload that it verifies within the JWT itself. Verifier\
            \ implementation SHOULD ignore the `serialized_payload` field when verifying\
            \ these JWTs. If only JWTs are present on this AttestationOccurrence,\
            \ then the `serialized_payload` SHOULD be left empty. Each JWT SHOULD\
            \ encode a claim specific to the `resource_uri` of this Occurrence, but\
            \ this is not validated by Grafeas metadata API implementations. The JWT\
            \ itself is opaque to Grafeas."
          items:
            $ref: '#/components/schemas/Jwt'
          title: jwts
          type: array
        serializedPayload:
          description: Required. The serialized payload that is verified by one or
            more `signatures`.
          format: byte
          title: serializedPayload
          type: string
        signatures:
          description: One or more signatures over `serialized_payload`. Verifier
            implementations should consider this attestation message verified if at
            least one `signature` verifies `serialized_payload`. See `Signature` in
            common.proto for more details on signature structure and verification.
          items:
            $ref: '#/components/schemas/Signature'
          title: signatures
          type: array
      title: AttestationOccurrence
      type: object
    Attestor:
      description: An attestor that attests to container image artifacts. An existing
        attestor cannot be modified except where indicated.
      example:
        userOwnedDrydockNote:
          delegationServiceAccountEmail: delegationServiceAccountEmail
          noteReference: noteReference
          publicKeys:
          - pkixPublicKey:
              publicKeyPem: publicKeyPem
              signatureAlgorithm: SIGNATURE_ALGORITHM_UNSPECIFIED
            asciiArmoredPgpPublicKey: asciiArmoredPgpPublicKey
            comment: comment
            id: id
          - pkixPublicKey:
              publicKeyPem: publicKeyPem
              signatureAlgorithm: SIGNATURE_ALGORITHM_UNSPECIFIED
            asciiArmoredPgpPublicKey: asciiArmoredPgpPublicKey
            comment: comment
            id: id
        name: name
        description: description
        etag: etag
        updateTime: updateTime
      properties:
        description:
          description: Optional. A descriptive comment. This field may be updated.
            The field may be displayed in chooser dialogs.
          title: description
          type: string
        etag:
          description: "Optional. A checksum, returned by the server, that can be\
            \ sent on update requests to ensure the attestor has an up-to-date value\
            \ before attempting to update it. See https://google.aip.dev/154."
          title: etag
          type: string
        name:
          description: "Required. The resource name, in the format: `projects/*/attestors/*`.\
            \ This field may not be updated."
          title: name
          type: string
        updateTime:
          description: Output only. Time when the attestor was last updated.
          format: google-datetime
          readOnly: true
          title: updateTime
          type: string
        userOwnedDrydockNote:
          $ref: '#/components/schemas/UserOwnedDrydockNote'
      title: Attestor
      type: object
    AttestorPublicKey:
      description: An attestor public key that will be used to verify attestations
        signed by this attestor.
      example:
        pkixPublicKey:
          publicKeyPem: publicKeyPem
          signatureAlgorithm: SIGNATURE_ALGORITHM_UNSPECIFIED
        asciiArmoredPgpPublicKey: asciiArmoredPgpPublicKey
        comment: comment
        id: id
      properties:
        asciiArmoredPgpPublicKey:
          description: "ASCII-armored representation of a PGP public key, as the entire\
            \ output by the command `gpg --export --armor foo@example.com` (either\
            \ LF or CRLF line endings). When using this field, `id` should be left\
            \ blank. The BinAuthz API handlers will calculate the ID and fill it in\
            \ automatically. BinAuthz computes this ID as the OpenPGP RFC4880 V4 fingerprint,\
            \ represented as upper-case hex. If `id` is provided by the caller, it\
            \ will be overwritten by the API-calculated ID."
          title: asciiArmoredPgpPublicKey
          type: string
        comment:
          description: Optional. A descriptive comment. This field may be updated.
          title: comment
          type: string
        id:
          description: "The ID of this public key. Signatures verified by BinAuthz\
            \ must include the ID of the public key that can be used to verify them,\
            \ and that ID must match the contents of this field exactly. Additional\
            \ restrictions on this field can be imposed based on which public key\
            \ type is encapsulated. See the documentation on `public_key` cases below\
            \ for details."
          title: id
          type: string
        pkixPublicKey:
          $ref: '#/components/schemas/PkixPublicKey'
      title: AttestorPublicKey
      type: object
    Binding:
      description: "Associates `members`, or principals, with a `role`."
      example:
        condition:
          expression: expression
          description: description
          location: location
          title: title
        role: role
        members:
        - members
        - members
      properties:
        condition:
          $ref: '#/components/schemas/Expr'
        members:
          description: "Specifies the principals requesting access for a Google Cloud\
            \ resource. `members` can have the following values: * `allUsers`: A special\
            \ identifier that represents anyone who is on the internet; with or without\
            \ a Google account. * `allAuthenticatedUsers`: A special identifier that\
            \ represents anyone who is authenticated with a Google account or a service\
            \ account. Does not include identities that come from external identity\
            \ providers (IdPs) through identity federation. * `user:{emailid}`: An\
            \ email address that represents a specific Google account. For example,\
            \ `alice@example.com` . * `serviceAccount:{emailid}`: An email address\
            \ that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`.\
            \ * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`:\
            \ An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts).\
            \ For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`.\
            \ * `group:{emailid}`: An email address that represents a Google group.\
            \ For example, `admins@example.com`. * `domain:{domain}`: The G Suite\
            \ domain (primary) that represents all the users of that domain. For example,\
            \ `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`:\
            \ A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`:\
            \ All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`:\
            \ All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`:\
            \ All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`:\
            \ A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`:\
            \ A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`:\
            \ All identities in a workload identity pool with a certain attribute.\
            \ * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`:\
            \ All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`:\
            \ An email address (plus unique identifier) representing a user that has\
            \ been recently deleted. For example, `alice@example.com?uid=123456789012345678901`.\
            \ If the user is recovered, this value reverts to `user:{emailid}` and\
            \ the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`:\
            \ An email address (plus unique identifier) representing a service account\
            \ that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\
            \ If the service account is undeleted, this value reverts to `serviceAccount:{emailid}`\
            \ and the undeleted service account retains the role in the binding. *\
            \ `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\
            \ identifier) representing a Google group that has been recently deleted.\
            \ For example, `admins@example.com?uid=123456789012345678901`. If the\
            \ group is recovered, this value reverts to `group:{emailid}` and the\
            \ recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`:\
            \ Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          items:
            type: string
          title: members
          type: array
        role:
          description: "Role that is assigned to the list of `members`, or principals.\
            \ For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an\
            \ overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview).\
            \ For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          title: role
          type: string
      title: Binding
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    Expr:
      description: "Represents a textual expression in the Common Expression Language\
        \ (CEL) syntax. CEL is a C-like expression language. The syntax and semantics\
        \ of CEL are documented at https://github.com/google/cel-spec. Example (Comparison):\
        \ title: \"Summary size limit\" description: \"Determines if a summary is\
        \ less than 100 chars\" expression: \"document.summary.size() < 100\" Example\
        \ (Equality): title: \"Requestor is owner\" description: \"Determines if requestor\
        \ is the document owner\" expression: \"document.owner == request.auth.claims.email\"\
        \ Example (Logic): title: \"Public documents\" description: \"Determine whether\
        \ the document should be publicly visible\" expression: \"document.type !=\
        \ 'private' && document.type != 'internal'\" Example (Data Manipulation):\
        \ title: \"Notification string\" description: \"Create a notification string\
        \ with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\"\
        \ The exact variables and functions that may be referenced within an expression\
        \ are determined by the service that evaluates it. See the service documentation\
        \ for additional information."
      example:
        expression: expression
        description: description
        location: location
        title: title
      properties:
        description:
          description: "Optional. Description of the expression. This is a longer\
            \ text which describes the expression, e.g. when hovered over it in a\
            \ UI."
          title: description
          type: string
        expression:
          description: Textual representation of an expression in Common Expression
            Language syntax.
          title: expression
          type: string
        location:
          description: "Optional. String indicating the location of the expression\
            \ for error reporting, e.g. a file name and a position in the file."
          title: location
          type: string
        title:
          description: "Optional. Title for the expression, i.e. a short string describing\
            \ its purpose. This can be used e.g. in UIs which allow to enter the expression."
          title: title
          type: string
      title: Expr
      type: object
    IamPolicy:
      description: "An Identity and Access Management (IAM) policy, which specifies\
        \ access controls for Google Cloud resources. A `Policy` is a collection of\
        \ `bindings`. A `binding` binds one or more `members`, or principals, to a\
        \ single `role`. Principals can be user accounts, service accounts, Google\
        \ groups, and domains (such as G Suite). A `role` is a named list of permissions;\
        \ each `role` can be an IAM predefined role or a user-created custom role.\
        \ For some types of Google Cloud resources, a `binding` can also specify a\
        \ `condition`, which is a logical expression that allows access to a resource\
        \ only if the expression evaluates to `true`. A condition can add constraints\
        \ based on attributes of the request, the resource, or both. To learn which\
        \ resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).\
        \ **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\"\
        , \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\",\
        \ \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\"\
        \ ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\"\
        : [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\"\
        , \"description\": \"Does not grant access after Sep 2020\", \"expression\"\
        : \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\"\
        : \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: -\
        \ members: - user:mike@example.com - group:admins@example.com - domain:google.com\
        \ - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin\
        \ - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer\
        \ condition: title: expirable access description: Does not grant access after\
        \ Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z')\
        \ etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features,\
        \ see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      example:
        bindings:
        - condition:
            expression: expression
            description: description
            location: location
            title: title
          role: role
          members:
          - members
          - members
        - condition:
            expression: expression
            description: description
            location: location
            title: title
          role: role
          members:
          - members
          - members
        etag: etag
        version: 0
      properties:
        bindings:
          description: "Associates a list of `members`, or principals, with a `role`.\
            \ Optionally, may specify a `condition` that determines how and when the\
            \ `bindings` are applied. Each of the `bindings` must contain at least\
            \ one principal. The `bindings` in a `Policy` can refer to up to 1,500\
            \ principals; up to 250 of these principals can be Google groups. Each\
            \ occurrence of a principal counts towards these limits. For example,\
            \ if the `bindings` grant 50 different roles to `user:alice@example.com`,\
            \ and not to any other principal, then you can add another 1,450 principals\
            \ to the `bindings` in the `Policy`."
          items:
            $ref: '#/components/schemas/Binding'
          title: bindings
          type: array
        etag:
          description: "`etag` is used for optimistic concurrency control as a way\
            \ to help prevent simultaneous updates of a policy from overwriting each\
            \ other. It is strongly suggested that systems make use of the `etag`\
            \ in the read-modify-write cycle to perform policy updates in order to\
            \ avoid race conditions: An `etag` is returned in the response to `getIamPolicy`,\
            \ and systems are expected to put that etag in the request to `setIamPolicy`\
            \ to ensure that their change will be applied to the same version of the\
            \ policy. **Important:** If you use IAM Conditions, you must include the\
            \ `etag` field whenever you call `setIamPolicy`. If you omit this field,\
            \ then IAM allows you to overwrite a version `3` policy with a version\
            \ `1` policy, and all of the conditions in the version `3` policy are\
            \ lost."
          format: byte
          title: etag
          type: string
        version:
          description: "Specifies the format of the policy. Valid values are `0`,\
            \ `1`, and `3`. Requests that specify an invalid value are rejected. Any\
            \ operation that affects conditional role bindings must specify version\
            \ `3`. This requirement applies to the following operations: * Getting\
            \ a policy that includes a conditional role binding * Adding a conditional\
            \ role binding to a policy * Changing a conditional role binding in a\
            \ policy * Removing any role binding, with or without a condition, from\
            \ a policy that includes conditions **Important:** If you use IAM Conditions,\
            \ you must include the `etag` field whenever you call `setIamPolicy`.\
            \ If you omit this field, then IAM allows you to overwrite a version `3`\
            \ policy with a version `1` policy, and all of the conditions in the version\
            \ `3` policy are lost. If a policy does not include any conditions, operations\
            \ on that policy may specify any valid version or leave the field unset.\
            \ To learn which resources support conditions in their IAM policies, see\
            \ the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          format: int32
          title: version
          type: integer
      title: IamPolicy
      type: object
    Jwt:
      example:
        compactJwt: compactJwt
      properties:
        compactJwt:
          description: "The compact encoding of a JWS, which is always three base64\
            \ encoded strings joined by periods. For details, see: https://tools.ietf.org/html/rfc7515.html#section-3.1"
          title: compactJwt
          type: string
      title: Jwt
      type: object
    ListAttestorsResponse:
      description: Response message for BinauthzManagementService.ListAttestors.
      example:
        attestors:
        - userOwnedDrydockNote:
            delegationServiceAccountEmail: delegationServiceAccountEmail
            noteReference: noteReference
            publicKeys:
            - pkixPublicKey:
                publicKeyPem: publicKeyPem
                signatureAlgorithm: SIGNATURE_ALGORITHM_UNSPECIFIED
              asciiArmoredPgpPublicKey: asciiArmoredPgpPublicKey
              comment: comment
              id: id
            - pkixPublicKey:
                publicKeyPem: publicKeyPem
                signatureAlgorithm: SIGNATURE_ALGORITHM_UNSPECIFIED
              asciiArmoredPgpPublicKey: asciiArmoredPgpPublicKey
              comment: comment
              id: id
          name: name
          description: description
          etag: etag
          updateTime: updateTime
        - userOwnedDrydockNote:
            delegationServiceAccountEmail: delegationServiceAccountEmail
            noteReference: noteReference
            publicKeys:
            - pkixPublicKey:
                publicKeyPem: publicKeyPem
                signatureAlgorithm: SIGNATURE_ALGORITHM_UNSPECIFIED
              asciiArmoredPgpPublicKey: asciiArmoredPgpPublicKey
              comment: comment
              id: id
            - pkixPublicKey:
                publicKeyPem: publicKeyPem
                signatureAlgorithm: SIGNATURE_ALGORITHM_UNSPECIFIED
              asciiArmoredPgpPublicKey: asciiArmoredPgpPublicKey
              comment: comment
              id: id
          name: name
          description: description
          etag: etag
          updateTime: updateTime
        nextPageToken: nextPageToken
      properties:
        attestors:
          description: The list of attestors.
          items:
            $ref: '#/components/schemas/Attestor'
          title: attestors
          type: array
        nextPageToken:
          description: A token to retrieve the next page of results. Pass this value
            in the ListAttestorsRequest.page_token field in the subsequent call to
            the `ListAttestors` method to retrieve the next page of results.
          title: nextPageToken
          type: string
      title: ListAttestorsResponse
      type: object
    PkixPublicKey:
      description: A public key in the PkixPublicKey format (see https://tools.ietf.org/html/rfc5280#section-4.1.2.7
        for details). Public keys of this type are typically textually encoded using
        the PEM format.
      example:
        publicKeyPem: publicKeyPem
        signatureAlgorithm: SIGNATURE_ALGORITHM_UNSPECIFIED
      properties:
        publicKeyPem:
          description: "A PEM-encoded public key, as described in https://tools.ietf.org/html/rfc7468#section-13"
          title: publicKeyPem
          type: string
        signatureAlgorithm:
          description: The signature algorithm used to verify a message against a
            signature using this key. These signature algorithm must match the structure
            and any object identifiers encoded in `public_key_pem` (i.e. this algorithm
            must match that of the public key).
          enum:
          - SIGNATURE_ALGORITHM_UNSPECIFIED
          - RSA_PSS_2048_SHA256
          - RSA_SIGN_PSS_2048_SHA256
          - RSA_PSS_3072_SHA256
          - RSA_SIGN_PSS_3072_SHA256
          - RSA_PSS_4096_SHA256
          - RSA_SIGN_PSS_4096_SHA256
          - RSA_PSS_4096_SHA512
          - RSA_SIGN_PSS_4096_SHA512
          - RSA_SIGN_PKCS1_2048_SHA256
          - RSA_SIGN_PKCS1_3072_SHA256
          - RSA_SIGN_PKCS1_4096_SHA256
          - RSA_SIGN_PKCS1_4096_SHA512
          - ECDSA_P256_SHA256
          - EC_SIGN_P256_SHA256
          - ECDSA_P384_SHA384
          - EC_SIGN_P384_SHA384
          - ECDSA_P521_SHA512
          - EC_SIGN_P521_SHA512
          title: signatureAlgorithm
          type: string
      title: PkixPublicKey
      type: object
    Policy:
      description: A policy for Binary Authorization.
      example:
        clusterAdmissionRules:
          key:
            enforcementMode: ENFORCEMENT_MODE_UNSPECIFIED
            requireAttestationsBy:
            - requireAttestationsBy
            - requireAttestationsBy
            evaluationMode: EVALUATION_MODE_UNSPECIFIED
        kubernetesNamespaceAdmissionRules:
          key:
            enforcementMode: ENFORCEMENT_MODE_UNSPECIFIED
            requireAttestationsBy:
            - requireAttestationsBy
            - requireAttestationsBy
            evaluationMode: EVALUATION_MODE_UNSPECIFIED
        globalPolicyEvaluationMode: GLOBAL_POLICY_EVALUATION_MODE_UNSPECIFIED
        kubernetesServiceAccountAdmissionRules:
          key:
            enforcementMode: ENFORCEMENT_MODE_UNSPECIFIED
            requireAttestationsBy:
            - requireAttestationsBy
            - requireAttestationsBy
            evaluationMode: EVALUATION_MODE_UNSPECIFIED
        defaultAdmissionRule:
          enforcementMode: ENFORCEMENT_MODE_UNSPECIFIED
          requireAttestationsBy:
          - requireAttestationsBy
          - requireAttestationsBy
          evaluationMode: EVALUATION_MODE_UNSPECIFIED
        istioServiceIdentityAdmissionRules:
          key:
            enforcementMode: ENFORCEMENT_MODE_UNSPECIFIED
            requireAttestationsBy:
            - requireAttestationsBy
            - requireAttestationsBy
            evaluationMode: EVALUATION_MODE_UNSPECIFIED
        name: name
        description: description
        etag: etag
        updateTime: updateTime
        admissionWhitelistPatterns:
        - namePattern: namePattern
        - namePattern: namePattern
      properties:
        admissionWhitelistPatterns:
          description: Optional. Admission policy allowlisting. A matching admission
            request will always be permitted. This feature is typically used to exclude
            Google or third-party infrastructure images from Binary Authorization
            policies.
          items:
            $ref: '#/components/schemas/AdmissionWhitelistPattern'
          title: admissionWhitelistPatterns
          type: array
        clusterAdmissionRules:
          additionalProperties:
            $ref: '#/components/schemas/AdmissionRule'
          description: "Optional. Per-cluster admission rules. Cluster spec format:\
            \ `location.clusterId`. There can be at most one admission rule per cluster\
            \ spec. A `location` is either a compute zone (e.g. us-central1-a) or\
            \ a region (e.g. us-central1). For `clusterId` syntax restrictions see\
            \ https://cloud.google.com/container-engine/reference/rest/v1/projects.zones.clusters."
          title: clusterAdmissionRules
          type: object
        defaultAdmissionRule:
          $ref: '#/components/schemas/AdmissionRule'
        description:
          description: Optional. A descriptive comment.
          title: description
          type: string
        etag:
          description: "Optional. A checksum, returned by the server, that can be\
            \ sent on update requests to ensure the policy has an up-to-date value\
            \ before attempting to update it. See https://google.aip.dev/154."
          title: etag
          type: string
        globalPolicyEvaluationMode:
          description: Optional. Controls the evaluation of a Google-maintained global
            admission policy for common system-level images. Images not covered by
            the global policy will be subject to the project admission policy. This
            setting has no effect when specified inside a global admission policy.
          enum:
          - GLOBAL_POLICY_EVALUATION_MODE_UNSPECIFIED
          - ENABLE
          - DISABLE
          title: globalPolicyEvaluationMode
          type: string
        istioServiceIdentityAdmissionRules:
          additionalProperties:
            $ref: '#/components/schemas/AdmissionRule'
          description: "Optional. Per-istio-service-identity admission rules. Istio\
            \ service identity spec format: `spiffe:///ns//sa/` or `/ns//sa/` e.g.\
            \ `spiffe://example.com/ns/test-ns/sa/default`"
          title: istioServiceIdentityAdmissionRules
          type: object
        kubernetesNamespaceAdmissionRules:
          additionalProperties:
            $ref: '#/components/schemas/AdmissionRule'
          description: "Optional. Per-kubernetes-namespace admission rules. K8s namespace\
            \ spec format: `[a-z.-]+`, e.g. `some-namespace`"
          title: kubernetesNamespaceAdmissionRules
          type: object
        kubernetesServiceAccountAdmissionRules:
          additionalProperties:
            $ref: '#/components/schemas/AdmissionRule'
          description: "Optional. Per-kubernetes-service-account admission rules.\
            \ Service account spec format: `namespace:serviceaccount`. e.g. `test-ns:default`"
          title: kubernetesServiceAccountAdmissionRules
          type: object
        name:
          description: "Output only. The resource name, in the format `projects/*/policy`.\
            \ There is at most one policy per project."
          readOnly: true
          title: name
          type: string
        updateTime:
          description: Output only. Time when the policy was last updated.
          format: google-datetime
          readOnly: true
          title: updateTime
          type: string
      title: Policy
      type: object
    SetIamPolicyRequest:
      description: Request message for `SetIamPolicy` method.
      example:
        policy:
          bindings:
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            role: role
            members:
            - members
            - members
          - condition:
              expression: expression
              description: description
              location: location
              title: title
            role: role
            members:
            - members
            - members
          etag: etag
          version: 0
      properties:
        policy:
          $ref: '#/components/schemas/IamPolicy'
      title: SetIamPolicyRequest
      type: object
    Signature:
      description: "Verifiers (e.g. Kritis implementations) MUST verify signatures\
        \ with respect to the trust anchors defined in policy (e.g. a Kritis policy).\
        \ Typically this means that the verifier has been configured with a map from\
        \ `public_key_id` to public key material (and any required parameters, e.g.\
        \ signing algorithm). In particular, verification implementations MUST NOT\
        \ treat the signature `public_key_id` as anything more than a key lookup hint.\
        \ The `public_key_id` DOES NOT validate or authenticate a public key; it only\
        \ provides a mechanism for quickly selecting a public key ALREADY CONFIGURED\
        \ on the verifier through a trusted channel. Verification implementations\
        \ MUST reject signatures in any of the following circumstances: * The `public_key_id`\
        \ is not recognized by the verifier. * The public key that `public_key_id`\
        \ refers to does not verify the signature with respect to the payload. The\
        \ `signature` contents SHOULD NOT be \"attached\" (where the payload is included\
        \ with the serialized `signature` bytes). Verifiers MUST ignore any \"attached\"\
        \ payload and only verify signatures with respect to explicitly provided payload\
        \ (e.g. a `payload` field on the proto message that holds this Signature,\
        \ or the canonical serialization of the proto message that holds this signature)."
      example:
        signature: signature
        publicKeyId: publicKeyId
      properties:
        publicKeyId:
          description: "The identifier for the public key that verifies this signature.\
            \ * The `public_key_id` is required. * The `public_key_id` SHOULD be an\
            \ RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD\
            \ be an immutable reference, such as a cryptographic digest. Examples\
            \ of valid `public_key_id`s: OpenPGP V4 public key fingerprint: * \"openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA\"\
            \ See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for\
            \ more details on this scheme. RFC6920 digest-named SubjectPublicKeyInfo\
            \ (digest of the DER serialization): * \"ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU\"\
            \ * \"nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5\""
          title: publicKeyId
          type: string
        signature:
          description: "The content of the signature, an opaque bytestring. The payload\
            \ that this signature verifies MUST be unambiguously provided with the\
            \ Signature during verification. A wrapper message might provide the payload\
            \ explicitly. Alternatively, a message might have a canonical serialization\
            \ that can always be unambiguously computed to derive the payload."
          format: byte
          title: signature
          type: string
      title: Signature
      type: object
    TestIamPermissionsRequest:
      description: Request message for `TestIamPermissions` method.
      example:
        permissions:
        - permissions
        - permissions
      properties:
        permissions:
          description: "The set of permissions to check for the `resource`. Permissions\
            \ with wildcards (such as `*` or `storage.*`) are not allowed. For more\
            \ information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          items:
            type: string
          title: permissions
          type: array
      title: TestIamPermissionsRequest
      type: object
    TestIamPermissionsResponse:
      description: Response message for `TestIamPermissions` method.
      example:
        permissions:
        - permissions
        - permissions
      properties:
        permissions:
          description: A subset of `TestPermissionsRequest.permissions` that the caller
            is allowed.
          items:
            type: string
          title: permissions
          type: array
      title: TestIamPermissionsResponse
      type: object
    UserOwnedDrydockNote:
      description: An user owned drydock note references a Drydock ATTESTATION_AUTHORITY
        Note created by the user.
      example:
        delegationServiceAccountEmail: delegationServiceAccountEmail
        noteReference: noteReference
        publicKeys:
        - pkixPublicKey:
            publicKeyPem: publicKeyPem
            signatureAlgorithm: SIGNATURE_ALGORITHM_UNSPECIFIED
          asciiArmoredPgpPublicKey: asciiArmoredPgpPublicKey
          comment: comment
          id: id
        - pkixPublicKey:
            publicKeyPem: publicKeyPem
            signatureAlgorithm: SIGNATURE_ALGORITHM_UNSPECIFIED
          asciiArmoredPgpPublicKey: asciiArmoredPgpPublicKey
          comment: comment
          id: id
      properties:
        delegationServiceAccountEmail:
          description: "Output only. This field will contain the service account email\
            \ address that this Attestor will use as the principal when querying Container\
            \ Analysis. Attestor administrators must grant this service account the\
            \ IAM role needed to read attestations from the note_reference in Container\
            \ Analysis (`containeranalysis.notes.occurrences.viewer`). This email\
            \ address is fixed for the lifetime of the Attestor, but callers should\
            \ not make any other assumptions about the service account email; future\
            \ versions may use an email based on a different naming pattern."
          readOnly: true
          title: delegationServiceAccountEmail
          type: string
        noteReference:
          description: "Required. The Drydock resource name of a ATTESTATION_AUTHORITY\
            \ Note, created by the user, in the format: `projects/*/notes/*` (or the\
            \ legacy `providers/*/notes/*`). This field may not be updated. An attestation\
            \ by this attestor is stored as a Drydock ATTESTATION_AUTHORITY Occurrence\
            \ that names a container image and that links to this Note. Drydock is\
            \ an external dependency."
          title: noteReference
          type: string
        publicKeys:
          description: "Optional. Public keys that verify attestations signed by this\
            \ attestor. This field may be updated. If this field is non-empty, one\
            \ of the specified public keys must verify that an attestation was signed\
            \ by this attestor for the image specified in the admission request. If\
            \ this field is empty, this attestor always returns that no valid attestations\
            \ exist."
          items:
            $ref: '#/components/schemas/AttestorPublicKey'
          title: publicKeys
          type: array
      title: UserOwnedDrydockNote
      type: object
    ValidateAttestationOccurrenceRequest:
      description: Request message for ValidationHelperV1.ValidateAttestationOccurrence.
      example:
        attestation:
          serializedPayload: serializedPayload
          jwts:
          - compactJwt: compactJwt
          - compactJwt: compactJwt
          signatures:
          - signature: signature
            publicKeyId: publicKeyId
          - signature: signature
            publicKeyId: publicKeyId
        occurrenceNote: occurrenceNote
        occurrenceResourceUri: occurrenceResourceUri
      properties:
        attestation:
          $ref: '#/components/schemas/AttestationOccurrence'
        occurrenceNote:
          description: Required. The resource name of the Note to which the containing
            Occurrence is associated.
          title: occurrenceNote
          type: string
        occurrenceResourceUri:
          description: Required. The URI of the artifact (e.g. container image) that
            is the subject of the containing Occurrence.
          title: occurrenceResourceUri
          type: string
      title: ValidateAttestationOccurrenceRequest
      type: object
    ValidateAttestationOccurrenceResponse:
      description: Response message for ValidationHelperV1.ValidateAttestationOccurrence.
      example:
        result: RESULT_UNSPECIFIED
        denialReason: denialReason
      properties:
        denialReason:
          description: The reason for denial if the Attestation couldn't be validated.
          title: denialReason
          type: string
        result:
          description: The result of the Attestation validation.
          enum:
          - RESULT_UNSPECIFIED
          - VERIFIED
          - ATTESTATION_NOT_VERIFIABLE
          title: result
          type: string
      title: ValidateAttestationOccurrenceResponse
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2c
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2c
