openapi: 3.0.1
info:
  contact: {}
  description: API documentation for redirection.io
  title: redirection.io
  version: 1.1.0
  x-apisguru-categories:
  - hosting
  x-logo:
    url: https://twitter.com/redirectionio/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://api.redirection.io/docs.json
    version: "2.0"
  x-providerName: redirection.io
servers:
- url: https://api.redirection.io/
security:
- apiKey: []
paths:
  /agent-flush-aggregate-requests:
    post:
      operationId: postAgentFlushAggregateRequestCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/AgentFlushAggregateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AgentFlushAggregateRequest'
          text/html:
            schema:
              $ref: '#/components/schemas/AgentFlushAggregateRequest'
          text/csv:
            schema:
              $ref: '#/components/schemas/AgentFlushAggregateRequest'
        description: The new AgentFlushAggregateRequest resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/AgentFlushAggregateRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/AgentFlushAggregateRequest'
            text/html:
              schema:
                $ref: '#/components/schemas/AgentFlushAggregateRequest'
            text/csv:
              schema:
                $ref: '#/components/schemas/AgentFlushAggregateRequest'
          description: AgentFlushAggregateRequest resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a AgentFlushAggregateRequest resource.
      tags:
      - AgentFlushAggregateRequest
      x-codegen-request-body-name: agentFlushAggregateRequest
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /agent-flush-requests:
    post:
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
          text/html:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
          text/csv:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
        description: The new AgentFlushRequest resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
            text/html:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
            text/csv:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
          description: AgentFlushRequest resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a AgentFlushRequest resource.
      tags:
      - AgentFlushRequest
      x-codegen-request-body-name: agentFlushRequest
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /agent-instance-updates:
    post:
      operationId: postInstanceCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Instance-Write'
        description: The new Instance resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Instance-Read'
          description: Instance resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Instance resource.
      tags:
      - Instance
      x-codegen-request-body-name: instance
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /agent-instance-updates/{id}:
    put:
      operationId: putInstanceItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Instance-Write'
        description: The updated Instance resource
        required: false
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Instance-Read'
          description: Instance resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the Instance resource.
      tags:
      - Instance
      x-codegen-request-body-name: instance
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /agent-rule-complexes:
    get:
      operationId: agent-legacy-complexRuleCollection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
          description: Rule collection response
      summary: Retrieves the collection of Rule resources.
      tags:
      - Rule
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /agent-rule-straights:
    get:
      operationId: agent-legacy-straightRuleCollection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
          description: Rule collection response
      summary: Retrieves the collection of Rule resources.
      tags:
      - Rule
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /agent-rules:
    get:
      operationId: agentRuleCollection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
          description: Rule collection response
      summary: Retrieves the collection of Rule resources.
      tags:
      - Rule
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /aggregate-logs:
    get:
      operationId: getAggregateLogCollection
      parameters:
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      - in: query
        name: projectId
        schema:
          type: string
      - in: query
        name: createdAt
        schema:
          type: string
      - in: query
        name: source
        schema:
          type: string
      - in: query
        name: target
        schema:
          type: string
      - in: query
        name: statusCode
        schema:
          type: string
      - in: query
        name: referrer
        schema:
          type: string
      - in: query
        name: userAgent
        schema:
          type: string
      - in: query
        name: userAgentType
        schema:
          type: string
      - in: query
        name: simplifiedUserAgent
        schema:
          type: string
      - in: query
        name: ruleId
        schema:
          type: string
      - in: query
        name: instanceName
        schema:
          type: string
      - in: query
        name: excludeUrls
        schema:
          type: string
      - in: query
        name: excludeEmptyReferrer
        schema:
          type: string
      - in: query
        name: createdAt_gt
        schema:
          type: string
      - in: query
        name: createdAt_gte
        schema:
          type: string
      - in: query
        name: createdAt_lt
        schema:
          type: string
      - in: query
        name: createdAt_lte
        schema:
          type: string
      - in: query
        name: statusCode_gt
        schema:
          type: string
      - in: query
        name: statusCode_gte
        schema:
          type: string
      - in: query
        name: statusCode_lt
        schema:
          type: string
      - in: query
        name: statusCode_lte
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/AggregateLog-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AggregateLog-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/AggregateLog-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/AggregateLog-Read'
                type: array
          description: AggregateLog collection response
      summary: Retrieves the collection of AggregateLog resources.
      tags:
      - AggregateLog
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /aggregate-logs/{id}:
    get:
      operationId: getAggregateLogItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/AggregateLog-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/AggregateLog-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/AggregateLog-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/AggregateLog-Read'
          description: AggregateLog resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a AggregateLog resource.
      tags:
      - AggregateLog
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /crawl-urls:
    get:
      operationId: getCrawlUrlCollection
      parameters:
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/CrawlUrl-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CrawlUrl-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/CrawlUrl-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/CrawlUrl-Read'
                type: array
          description: CrawlUrl collection response
      summary: Retrieves the collection of CrawlUrl resources.
      tags:
      - CrawlUrl
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /crawl-urls/{id}:
    get:
      operationId: getCrawlUrlItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/CrawlUrl-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlUrl-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/CrawlUrl-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/CrawlUrl-Read'
          description: CrawlUrl resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a CrawlUrl resource.
      tags:
      - CrawlUrl
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /crawls:
    get:
      operationId: getCrawlCollection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      - in: query
        name: firstUrl
        schema:
          type: string
      - in: query
        name: "sort[createdAt]"
        schema:
          type: string
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Crawl-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Crawl-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Crawl-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Crawl-Read'
                type: array
          description: Crawl collection response
      summary: Retrieves the collection of Crawl resources.
      tags:
      - Crawl
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
    post:
      operationId: postCrawlCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Crawl-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Crawl-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Crawl-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Crawl-Write'
        description: The new Crawl resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Crawl'
            application/json:
              schema:
                $ref: '#/components/schemas/Crawl'
            text/html:
              schema:
                $ref: '#/components/schemas/Crawl'
            text/csv:
              schema:
                $ref: '#/components/schemas/Crawl'
          description: Crawl resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Crawl resource.
      tags:
      - Crawl
      x-codegen-request-body-name: crawl
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /crawls/{id}:
    get:
      operationId: getCrawlItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
            text/html:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
            text/csv:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
          description: Crawl resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Crawl resource.
      tags:
      - Crawl
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /crawls/{id}/cancel:
    post:
      operationId: cancelCrawlItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Crawl'
          application/json:
            schema:
              $ref: '#/components/schemas/Crawl'
          text/html:
            schema:
              $ref: '#/components/schemas/Crawl'
          text/csv:
            schema:
              $ref: '#/components/schemas/Crawl'
        description: The new Crawl resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
            text/html:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
            text/csv:
              schema:
                $ref: '#/components/schemas/Crawl-ReadDetails'
          description: Crawl resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Crawl resource.
      tags:
      - Crawl
      x-codegen-request-body-name: crawl
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /explain-urls:
    post:
      operationId: postExplainUrlCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/ExplainUrl-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/ExplainUrl-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/ExplainUrl-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/ExplainUrl-Write'
        description: The new ExplainUrl resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
            application/json:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
            text/html:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
          description: ExplainUrl resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a ExplainUrl resource.
      tags:
      - ExplainUrl
      x-codegen-request-body-name: explainUrl
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /explain-urls/{id}:
    get:
      operationId: getExplainUrlItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
            application/json:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
            text/html:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExplainUrl'
          description: ExplainUrl resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a ExplainUrl resource.
      tags:
      - ExplainUrl
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /export-rules:
    get:
      operationId: exportRuleCollection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      - in: query
        name: "sort[id]"
        schema:
          type: string
      - in: query
        name: "sort[viewCount]"
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
          description: Rule collection response
      summary: Retrieves the collection of Rule resources.
      tags:
      - Rule
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /impact-rule-changes:
    post:
      operationId: postImpactRuleChangeCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/ImpactRuleChange-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/ImpactRuleChange-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/ImpactRuleChange-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/ImpactRuleChange-Write'
        description: The new ImpactRuleChange resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
          description: ImpactRuleChange resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a ImpactRuleChange resource.
      tags:
      - ImpactRuleChange
      x-codegen-request-body-name: impactRuleChange
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /impact-rule-changes/{id}:
    get:
      operationId: getImpactRuleChangeItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/ImpactRuleChange-Read'
          description: ImpactRuleChange resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a ImpactRuleChange resource.
      tags:
      - ImpactRuleChange
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /impact-smart-lists:
    post:
      operationId: postImpactSmartListCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/ImpactSmartList-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/ImpactSmartList-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/ImpactSmartList-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/ImpactSmartList-Write'
        description: The new ImpactSmartList resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
          description: ImpactSmartList resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a ImpactSmartList resource.
      tags:
      - ImpactSmartList
      x-codegen-request-body-name: impactSmartList
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /impact-smart-lists/{id}:
    get:
      operationId: getImpactSmartListItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/ImpactSmartList-Read'
          description: ImpactSmartList resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a ImpactSmartList resource.
      tags:
      - ImpactSmartList
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /imports:
    get:
      operationId: getImportCollection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Import-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Import-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Import-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Import-Read'
                type: array
          description: Import collection response
      summary: Retrieves the collection of Import resources.
      tags:
      - Import
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
    post:
      operationId: postImportCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Import-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Import-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Import-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Import-Write'
        description: The new Import resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Import-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Import-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Import-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Import-Read'
          description: Import resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Import resource.
      tags:
      - Import
      x-codegen-request-body-name: import
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /imports/{id}:
    get:
      operationId: getImportItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Import-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Import-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Import-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Import-Read'
          description: Import resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Import resource.
      tags:
      - Import
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /instances:
    get:
      operationId: getInstanceCollection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Instance-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Instance-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Instance-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Instance-Read'
                type: array
          description: Instance collection response
      summary: Retrieves the collection of Instance resources.
      tags:
      - Instance
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /instances/{id}:
    get:
      operationId: getInstanceItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Instance-Read'
          description: Instance resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Instance resource.
      tags:
      - Instance
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
    put:
      operationId: loggingInstanceItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Instance-Write'
        description: The updated Instance resource
        required: false
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Instance-Read'
          description: Instance resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the Instance resource.
      tags:
      - Instance
      x-codegen-request-body-name: instance
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /instances/{id}/live:
    put:
      operationId: liveInstanceItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Instance-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Instance-Write'
        description: The updated Instance resource
        required: false
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Instance-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Instance-Read'
          description: Instance resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the Instance resource.
      tags:
      - Instance
      x-codegen-request-body-name: instance
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /invitations:
    get:
      operationId: getInvitationCollection
      parameters:
      - in: query
        name: targetId
        required: true
        schema:
          type: string
      - in: query
        name: targetType
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Invitation-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Invitation-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Invitation-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Invitation-Read'
                type: array
          description: Invitation collection response
      summary: Retrieves the collection of Invitation resources.
      tags:
      - Invitation
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
    post:
      operationId: postInvitationCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Invitation-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Invitation-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Invitation-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Invitation-Write'
        description: The new Invitation resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
          description: Invitation resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Invitation resource.
      tags:
      - Invitation
      x-codegen-request-body-name: invitation
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /invitations/accept/{token}:
    post:
      operationId: acceptInvitationItem
      parameters:
      - description: The invitation acceptation token
        in: path
        name: token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Invitation'
          application/json:
            schema:
              $ref: '#/components/schemas/Invitation'
          text/html:
            schema:
              $ref: '#/components/schemas/Invitation'
          text/csv:
            schema:
              $ref: '#/components/schemas/Invitation'
        description: The new Invitation resource
        required: true
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
          description: Invitation resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Invitation resource.
      tags:
      - Invitation
      x-codegen-request-body-name: invitation
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /invitations/{id}:
    delete:
      operationId: deleteInvitationItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Invitation resource deleted
        "404":
          content: {}
          description: Resource not found
      summary: Removes the Invitation resource.
      tags:
      - Invitation
      x-accepts:
      - application/json
    get:
      operationId: getInvitationItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Invitation-Read'
          description: Invitation resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Invitation resource.
      tags:
      - Invitation
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /logs:
    get:
      operationId: getLogCollection
      parameters:
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      - in: query
        name: projectId
        schema:
          type: string
      - in: query
        name: createdAt
        schema:
          type: string
      - in: query
        name: source
        schema:
          type: string
      - in: query
        name: target
        schema:
          type: string
      - in: query
        name: statusCode
        schema:
          type: string
      - in: query
        name: referrer
        schema:
          type: string
      - in: query
        name: userAgent
        schema:
          type: string
      - in: query
        name: userAgentType
        schema:
          type: string
      - in: query
        name: simplifiedUserAgent
        schema:
          type: string
      - in: query
        name: ruleId
        schema:
          type: string
      - in: query
        name: instanceName
        schema:
          type: string
      - in: query
        name: excludeUrls
        schema:
          type: string
      - in: query
        name: excludeEmptyReferrer
        schema:
          type: string
      - in: query
        name: createdAt_gt
        schema:
          type: string
      - in: query
        name: createdAt_gte
        schema:
          type: string
      - in: query
        name: createdAt_lt
        schema:
          type: string
      - in: query
        name: createdAt_lte
        schema:
          type: string
      - in: query
        name: statusCode_gt
        schema:
          type: string
      - in: query
        name: statusCode_gte
        schema:
          type: string
      - in: query
        name: statusCode_lt
        schema:
          type: string
      - in: query
        name: statusCode_lte
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Log-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Log-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Log-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Log-Read'
                type: array
          description: Log collection response
      summary: Retrieves the collection of Log resources.
      tags:
      - Log
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /logs/{id}:
    get:
      operationId: getLogItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Log-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Log-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Log-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Log-Read'
          description: Log resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Log resource.
      tags:
      - Log
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /markers:
    post:
      operationId: postMarkerCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Marker-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Marker-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Marker-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Marker-Write'
        description: The new Marker resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Marker'
            application/json:
              schema:
                $ref: '#/components/schemas/Marker'
            text/html:
              schema:
                $ref: '#/components/schemas/Marker'
            text/csv:
              schema:
                $ref: '#/components/schemas/Marker'
          description: Marker resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Marker resource.
      tags:
      - Marker
      x-codegen-request-body-name: marker
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /markers/{id}:
    delete:
      operationId: deleteMarkerItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Marker resource deleted
        "404":
          content: {}
          description: Resource not found
      summary: Removes the Marker resource.
      tags:
      - Marker
      x-accepts:
      - application/json
    get:
      operationId: getMarkerItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Marker'
            application/json:
              schema:
                $ref: '#/components/schemas/Marker'
            text/html:
              schema:
                $ref: '#/components/schemas/Marker'
            text/csv:
              schema:
                $ref: '#/components/schemas/Marker'
          description: Marker resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Marker resource.
      tags:
      - Marker
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
    put:
      operationId: putMarkerItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Marker'
          application/json:
            schema:
              $ref: '#/components/schemas/Marker'
          text/html:
            schema:
              $ref: '#/components/schemas/Marker'
          text/csv:
            schema:
              $ref: '#/components/schemas/Marker'
        description: The updated Marker resource
        required: false
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Marker'
            application/json:
              schema:
                $ref: '#/components/schemas/Marker'
            text/html:
              schema:
                $ref: '#/components/schemas/Marker'
            text/csv:
              schema:
                $ref: '#/components/schemas/Marker'
          description: Marker resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the Marker resource.
      tags:
      - Marker
      x-codegen-request-body-name: marker
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /matching-urls:
    post:
      operationId: postMatchingUrlCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/MatchingUrl-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/MatchingUrl-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/MatchingUrl-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/MatchingUrl-Write'
        description: The new MatchingUrl resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
          description: MatchingUrl resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a MatchingUrl resource.
      tags:
      - MatchingUrl
      x-codegen-request-body-name: matchingUrl
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /matching-urls/{id}:
    get:
      operationId: getMatchingUrlItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/MatchingUrl-Read'
          description: MatchingUrl resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a MatchingUrl resource.
      tags:
      - MatchingUrl
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /notifications:
    get:
      operationId: getNotificationCollection
      parameters:
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Notification-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Notification-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Notification-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Notification-Read'
                type: array
          description: Notification collection response
      summary: Retrieves the collection of Notification resources.
      tags:
      - Notification
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /notifications/{id}:
    get:
      operationId: getNotificationItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Notification-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Notification-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Notification-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Notification-Read'
          description: Notification resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Notification resource.
      tags:
      - Notification
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /organizations:
    post:
      operationId: postOrganizationCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Organization-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Organization-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Organization-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Organization-Write'
        description: The new Organization resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Organization-Read'
          description: Organization resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Organization resource.
      tags:
      - Organization
      x-codegen-request-body-name: organization
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /organizations/{id}:
    delete:
      operationId: deleteOrganizationItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Organization resource deleted
        "404":
          content: {}
          description: Resource not found
      summary: Removes the Organization resource.
      tags:
      - Organization
      x-accepts:
      - application/json
    get:
      operationId: getOrganizationItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Organization-Read'
          description: Organization resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Organization resource.
      tags:
      - Organization
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
    put:
      operationId: putOrganizationItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Organization-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Organization-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Organization-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Organization-Write'
        description: The updated Organization resource
        required: false
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Organization-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Organization-Read'
          description: Organization resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the Organization resource.
      tags:
      - Organization
      x-codegen-request-body-name: organization
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /post-logs:
    post:
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
          text/html:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
          text/csv:
            schema:
              $ref: '#/components/schemas/AgentFlushRequest'
        description: The new AgentFlushRequest resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
            text/html:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
            text/csv:
              schema:
                $ref: '#/components/schemas/AgentFlushRequest'
          description: AgentFlushRequest resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a AgentFlushRequest resource.
      tags:
      - AgentFlushRequest
      x-codegen-request-body-name: agentFlushRequest
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /projects:
    get:
      operationId: getProjectCollection
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Project-List'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Project-List'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Project-List'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Project-List'
                type: array
          description: Project collection response
      summary: Retrieves the collection of Project resources.
      tags:
      - Project
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
    post:
      operationId: postProjectCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Project-CreationWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/Project-CreationWrite'
          text/html:
            schema:
              $ref: '#/components/schemas/Project-CreationWrite'
          text/csv:
            schema:
              $ref: '#/components/schemas/Project-CreationWrite'
        description: The new Project resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Project-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Project-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Project-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Project-Read'
          description: Project resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a Project resource.
      tags:
      - Project
      x-codegen-request-body-name: project
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /projects/{id}:
    delete:
      operationId: deleteProjectItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Project resource deleted
        "404":
          content: {}
          description: Resource not found
      summary: Removes the Project resource.
      tags:
      - Project
      x-accepts:
      - application/json
    get:
      operationId: getProjectItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Project-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Project-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Project-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Project-Read'
          description: Project resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Project resource.
      tags:
      - Project
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
    put:
      operationId: putProjectItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Project-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/Project-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/Project-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/Project-Write'
        description: The updated Project resource
        required: false
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Project-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Project-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Project-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Project-Read'
          description: Project resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the Project resource.
      tags:
      - Project
      x-codegen-request-body-name: project
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /publish-histories:
    get:
      operationId: getPublishHistoryCollection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      - in: query
        name: "createdAt[before]"
        schema:
          type: string
      - in: query
        name: "createdAt[strictly_before]"
        schema:
          type: string
      - in: query
        name: "createdAt[after]"
        schema:
          type: string
      - in: query
        name: "createdAt[strictly_after]"
        schema:
          type: string
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/PublishHistory-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PublishHistory-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/PublishHistory-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/PublishHistory-Read'
                type: array
          description: PublishHistory collection response
      summary: Retrieves the collection of PublishHistory resources.
      tags:
      - PublishHistory
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /publish-histories/{id}:
    get:
      operationId: getPublishHistoryItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/PublishHistory-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/PublishHistory-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/PublishHistory-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/PublishHistory-Read'
          description: PublishHistory resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a PublishHistory resource.
      tags:
      - PublishHistory
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /rule-changes:
    get:
      operationId: getRuleChangeCollection
      parameters:
      - in: query
        name: versionId
        required: true
        schema:
          type: string
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleChange-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleChange-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/RuleChange-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/RuleChange-Read'
                type: array
          description: RuleChange collection response
      summary: Retrieves the collection of RuleChange resources.
      tags:
      - RuleChange
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
    post:
      operationId: postRuleChangeCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/RuleChange-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/RuleChange-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/RuleChange-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/RuleChange-Write'
        description: The new RuleChange resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
          description: RuleChange resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a RuleChange resource.
      tags:
      - RuleChange
      x-codegen-request-body-name: ruleChange
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /rule-changes/{id}:
    delete:
      operationId: deleteRuleChangeItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: RuleChange resource deleted
        "404":
          content: {}
          description: Resource not found
      summary: Removes the RuleChange resource.
      tags:
      - RuleChange
      x-accepts:
      - application/json
    get:
      operationId: getRuleChangeItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/RuleChange-Read'
          description: RuleChange resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a RuleChange resource.
      tags:
      - RuleChange
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /rule-set-versions:
    get:
      operationId: getRuleSetVersionCollection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      - in: query
        name: "sort[createdAt]"
        schema:
          type: string
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleSetVersion-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleSetVersion-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/RuleSetVersion-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/RuleSetVersion-Read'
                type: array
          description: RuleSetVersion collection response
      summary: Retrieves the collection of RuleSetVersion resources.
      tags:
      - RuleSetVersion
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /rule-set-versions/{id}:
    get:
      operationId: getRuleSetVersionItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
          description: RuleSetVersion resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a RuleSetVersion resource.
      tags:
      - RuleSetVersion
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /rule-set-versions/{id}/clear:
    post:
      operationId: clearRuleSetVersionItem
      parameters:
      - description: The id of the version
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
          application/json:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
          text/html:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
          text/csv:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
        description: The new RuleSetVersion resource
        required: true
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
          description: RuleSetVersion resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Clear a version
      tags:
      - RuleSetVersion
      x-codegen-request-body-name: ruleSetVersion
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /rule-set-versions/{id}/publish:
    post:
      operationId: publishRuleSetVersionItem
      parameters:
      - description: The id of the version
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
          application/json:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
          text/html:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
          text/csv:
            schema:
              $ref: '#/components/schemas/RuleSetVersion'
        description: The new RuleSetVersion resource
        required: true
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/RuleSetVersion-Read'
          description: RuleSetVersion resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Publish a version
      tags:
      - RuleSetVersion
      x-codegen-request-body-name: ruleSetVersion
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /rule-statistics:
    get:
      operationId: getRuleStatisticCollection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleStatistic'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleStatistic'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/RuleStatistic'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/RuleStatistic'
                type: array
          description: RuleStatistic collection response
      summary: Retrieves the collection of RuleStatistic resources.
      tags:
      - RuleStatistic
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /rule-statistics/{id}:
    get:
      operationId: getRuleStatisticItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/RuleStatistic'
            application/json:
              schema:
                $ref: '#/components/schemas/RuleStatistic'
            text/html:
              schema:
                $ref: '#/components/schemas/RuleStatistic'
            text/csv:
              schema:
                $ref: '#/components/schemas/RuleStatistic'
          description: RuleStatistic resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a RuleStatistic resource.
      tags:
      - RuleStatistic
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /rules:
    get:
      operationId: getRuleCollection
      parameters:
      - in: query
        name: projectId
        required: true
        schema:
          type: string
      - in: query
        name: "sort[id]"
        schema:
          type: string
      - in: query
        name: "sort[viewCount]"
        schema:
          type: string
      - description: The collection page number
        in: query
        name: page
        schema:
          type: integer
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/Rule-Read'
                type: array
          description: Rule collection response
      summary: Retrieves the collection of Rule resources.
      tags:
      - Rule
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /rules/{id}:
    get:
      operationId: getRuleItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Rule-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/Rule-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/Rule-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/Rule-Read'
          description: Rule resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a Rule resource.
      tags:
      - Rule
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /smart-lists:
    get:
      operationId: getSmartListCollection
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/SmartList'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SmartList'
                type: array
            text/html:
              schema:
                items:
                  $ref: '#/components/schemas/SmartList'
                type: array
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/SmartList'
                type: array
          description: SmartList collection response
      summary: Retrieves the collection of SmartList resources.
      tags:
      - SmartList
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /smart-lists/{id}:
    get:
      operationId: getSmartListItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/SmartList'
            application/json:
              schema:
                $ref: '#/components/schemas/SmartList'
            text/html:
              schema:
                $ref: '#/components/schemas/SmartList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SmartList'
          description: SmartList resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a SmartList resource.
      tags:
      - SmartList
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /user-organizations:
    post:
      operationId: postUserOrganizationCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/UserOrganization-CreationWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/UserOrganization-CreationWrite'
          text/html:
            schema:
              $ref: '#/components/schemas/UserOrganization-CreationWrite'
          text/csv:
            schema:
              $ref: '#/components/schemas/UserOrganization-CreationWrite'
        description: The new UserOrganization resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
          description: UserOrganization resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a UserOrganization resource.
      tags:
      - UserOrganization
      x-codegen-request-body-name: userOrganization
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /user-organizations/{id}:
    delete:
      operationId: deleteUserOrganizationItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: UserOrganization resource deleted
        "404":
          content: {}
          description: Resource not found
      summary: Removes the UserOrganization resource.
      tags:
      - UserOrganization
      x-accepts:
      - application/json
    get:
      operationId: getUserOrganizationItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
          description: UserOrganization resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a UserOrganization resource.
      tags:
      - UserOrganization
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
    put:
      operationId: putUserOrganizationItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/UserOrganization-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/UserOrganization-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/UserOrganization-Write'
          text/csv:
            schema:
              $ref: '#/components/schemas/UserOrganization-Write'
        description: The updated UserOrganization resource
        required: false
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/UserOrganization-Read'
          description: UserOrganization resource updated
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Replaces the UserOrganization resource.
      tags:
      - UserOrganization
      x-codegen-request-body-name: userOrganization
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /user-project-flatteneds/{id}:
    get:
      operationId: getUserProjectFlattenedItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/UserProjectFlattened-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/UserProjectFlattened-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/UserProjectFlattened-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/UserProjectFlattened-Read'
          description: UserProjectFlattened resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a UserProjectFlattened resource.
      tags:
      - UserProjectFlattened
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /user-projects:
    post:
      operationId: postUserProjectCollection
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/UserProject-CreationWrite'
          application/json:
            schema:
              $ref: '#/components/schemas/UserProject-CreationWrite'
          text/html:
            schema:
              $ref: '#/components/schemas/UserProject-CreationWrite'
          text/csv:
            schema:
              $ref: '#/components/schemas/UserProject-CreationWrite'
        description: The new UserProject resource
        required: false
      responses:
        "201":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
          description: UserProject resource created
        "400":
          content: {}
          description: Invalid input
        "404":
          content: {}
          description: Resource not found
      summary: Creates a UserProject resource.
      tags:
      - UserProject
      x-codegen-request-body-name: userProject
      x-content-type: application/ld+json
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
  /user-projects/{id}:
    delete:
      operationId: deleteUserProjectItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: UserProject resource deleted
        "404":
          content: {}
          description: Resource not found
      summary: Removes the UserProject resource.
      tags:
      - UserProject
      x-accepts:
      - application/json
    get:
      operationId: getUserProjectItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            application/json:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            text/html:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
            text/csv:
              schema:
                $ref: '#/components/schemas/UserProject-Read'
          description: UserProject resource response
        "404":
          content: {}
          description: Resource not found
      summary: Retrieves a UserProject resource.
      tags:
      - UserProject
      x-accepts:
      - application/json
      - application/ld+json
      - text/csv
      - text/html
    put:
      operationId: putUserProjectItem
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/UserProject-Write'
          application/json:
            schema:
              $ref: '#/components/schemas/UserProject-Write'
          text/html:
            schema:
              $ref: '#/components/schemas/UserProject-Write'
          text/csv:
[...]
