openapi: 3.0.1
info:
  description: "The Azure SQL Database management API provides a RESTful set of web\
    \ APIs that interact with Azure SQL Database services to manage your databases.\
    \ The API enables users to create, retrieve, update, and delete databases, servers,\
    \ and other entities."
  title: SqlManagementClient
  version: 2015-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2015-05-01/usages.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: sql-usages
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/usages:
    get:
      description: Gets all subscription usage metrics in a given location.
      operationId: subscription_usages_list_by_location
      parameters:
      - description: The name of the region where the resource is located.
        in: path
        name: locationName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionUsageListResult'
          description: Successfully retrieved the subscription location usages.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 InvalidLocation - An invalid location was specified.
      tags:
      - SubscriptionUsages
      x-ms-examples:
        List subscription usages in the given location.:
          parameters:
            api-version: 2015-05-01
            locationName: WestUS
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/providers/Microsoft.Sql/locations/Onebox/usages/ServerQuota
                  name: ServerQuota
                  properties:
                    currentValue: 1
                    displayName: Regional Server Quota for West US
                    limit: 20
                    unit: Count
                  type: Microsoft.Sql/locations/usages
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/providers/Microsoft.Sql/locations/Onebox/usages/SubscriptionFreeDatabaseCount
                  name: SubscriptionFreeDatabaseCount
                  properties:
                    currentValue: 0
                    displayName: Free Database Count per Subscription for West US
                    limit: 1
                    unit: Count
                  type: Microsoft.Sql/locations/usages
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/providers/Microsoft.Sql/locations/Onebox/usages/SubscriptionFreeDatabaseDaysLeft
                  name: SubscriptionFreeDatabaseDaysLeft
                  properties:
                    currentValue: 365
                    displayName: Free to Basic Database Upgrade count-down in West
                      US
                    limit: 365
                    unit: Count
                  type: Microsoft.Sql/locations/usages
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.subscription_usages_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/usages/{usageName}:
    get:
      description: Gets a subscription usage metric.
      operationId: subscription_usages_get
      parameters:
      - description: The name of the region where the resource is located.
        in: path
        name: locationName
        required: true
        schema:
          type: string
      - description: Name of usage metric to return.
        in: path
        name: usageName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionUsage'
          description: Successfully retrieved particular subscription location usage.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 InvalidLocation - An invalid location was specified.
      tags:
      - SubscriptionUsages
      x-ms-examples:
        Get specific subscription usage in the given location.:
          parameters:
            api-version: 2015-05-01
            locationName: WestUS
            subscriptionId: 00000000-1111-2222-3333-444444444444
            usageName: ServerQuota
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/providers/Microsoft.Sql/locations/Onebox/usages/ServerQuota
                name: ServerQuota
                properties:
                  currentValue: 1
                  displayName: Regional Server Quota for West US
                  limit: 20
                  unit: Count
                type: Microsoft.Sql/locations/usages
      x-openapi-router-controller: openapi_server.controllers.subscription_usages_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    SubscriptionUsage:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Usage Metric of a Subscription in a Location.
      example:
        properties:
          unit: unit
          displayName: displayName
          limit: 6.027456183070403
          currentValue: 0.8008281904610115
      properties:
        properties:
          $ref: '#/components/schemas/SubscriptionUsageProperties'
      title: SubscriptionUsage
    SubscriptionUsageListResult:
      description: A list of subscription usage metrics in a location.
      example:
        value:
        - properties:
            unit: unit
            displayName: displayName
            limit: 6.027456183070403
            currentValue: 0.8008281904610115
        - properties:
            unit: unit
            displayName: displayName
            limit: 6.027456183070403
            currentValue: 0.8008281904610115
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/SubscriptionUsage'
          readOnly: true
          title: value
          type: array
      title: SubscriptionUsageListResult
      type: object
    SubscriptionUsageProperties:
      description: Properties of a subscription usage.
      example:
        unit: unit
        displayName: displayName
        limit: 6.027456183070403
        currentValue: 0.8008281904610115
      properties:
        currentValue:
          description: Current value of the metric.
          format: double
          readOnly: true
          title: currentValue
          type: number
        displayName:
          description: User-readable name of the metric.
          readOnly: true
          title: displayName
          type: string
        limit:
          description: Boundary value of the metric.
          format: double
          readOnly: true
          title: limit
          type: number
        unit:
          description: Unit of the metric.
          readOnly: true
          title: unit
          type: string
      title: SubscriptionUsageProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
