openapi: 3.0.1
info:
  title: ContainerRegistryManagementClient
  version: 2018-02-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/preview/2018-02-01-preview/containerregistry_build.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: containerregistry-containerregistry_build
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/buildTasks
  : get:
      description: Lists all the build tasks for a specified container registry.
      operationId: BuildTasks_List
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The build task filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: "$skipToken is supported on get list of build tasks, which provides\
          \ the next page in the list of tasks."
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildTaskListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content: {}
          description: Error response describing why the operation failed.
      tags:
      - BuildTasks
      x-ms-examples:
        BuildTasks_List:
          parameters:
            $filter: alias%20eq%20'myalias'
            api-version: 2018-02-01-preview
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/buildTasks/myBuildTask
                  location: eastus
                  name: myBuildTask
                  properties:
                    alias: myalias
                    creationDate: 2018-01-25T06:54:23.536Z
                    platform:
                      cpu: 2
                      osType: Linux
                    provisioningState: Succeeded
                    sourceRepository:
                      isCommitTriggerEnabled: true
                      repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                      sourceControlType: Github
                    status: Enabled
                  tags:
                    testkey: value
                  type: Microsoft.ContainerRegistry/registries/buildTasks
      x-ms-odata: '#/definitions/BuildTaskFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/buildTasks/{buildTaskName}
  : delete:
      description: Deletes a specified build task.
      operationId: BuildTasks_Delete
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the container registry build task.
        in: path
        name: buildTaskName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        "202":
          content: {}
          description: The request was successfully accepted; the operation will complete
            asynchronously.
        "204":
          content: {}
          description: No Content - the specified resource was not found.
        default:
          content: {}
          description: Error response describing why the operation failed.
      tags:
      - BuildTasks
      x-ms-examples:
        BuildTasks_Delete:
          parameters:
            api-version: 2018-02-01-preview
            buildTaskName: myBuildTask
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Get the properties of a specified build task.
      operationId: BuildTasks_Get
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the container registry build task.
        in: path
        name: buildTaskName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildTask'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content: {}
          description: "Error response describing why the operation failed. If the\
            \ registry doesn't exist, 404 (Not found) is returned."
      tags:
      - BuildTasks
      x-ms-examples:
        BuildTasks_Get:
          parameters:
            api-version: 2018-02-01-preview
            buildTaskName: myBuildTask
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/buildTasks/myBuildTask
                location: eastus
                name: myBuildTask
                properties:
                  alias: myalias
                  creationDate: 2018-01-25T06:54:23.536Z
                  platform:
                    cpu: 2
                    osType: Linux
                  provisioningState: Succeeded
                  sourceRepository:
                    isCommitTriggerEnabled: true
                    repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                    sourceControlType: Github
                  status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/buildTasks
      x-accepts:
      - application/json
    patch:
      description: Updates a build task with the specified parameters.
      operationId: BuildTasks_Update
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the container registry build task.
        in: path
        name: buildTaskName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildTaskUpdateParameters'
        description: The parameters for updating a build task.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildTask'
          description: The request was successful; the request was well-formed and
            received properly.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildTask'
          description: The request was successfully accepted; the operation will complete
            asynchronously. The provisioning state of the resource should indicate
            the current state of the resource.
        default:
          content: {}
          description: "Error response describing why the operation failed. If the\
            \ registry doesn't exist, 404 (Not found) is returned. If any of the input\
            \ parameters is wrong, 400(Bad Request) is returned."
      tags:
      - BuildTasks
      x-ms-examples:
        BuildTasks_Update:
          parameters:
            api-version: 2018-02-01-preview
            buildTaskName: myBuildTask
            buildTaskUpdateParameters:
              properties:
                alias: myalias
                base_image_trigger: Runtime
                platform:
                  cpu: 2
                  osType: Linux
                sourceRepository:
                  isCommitTriggerEnabled: false
                  sourceControlAuthProperties:
                    scope: repo
                    token: xxxxx
                status: Disabled
              tags:
                key: value
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/buildTasks/myBuildTask
                location: eastus
                name: myBuildTask
                properties:
                  alias: myalias
                  creationDate: 2018-01-25T06:54:23.458Z
                  platform:
                    cpu: 2
                    osType: Linux
                  provisioningState: Succeeded
                  sourceRepository:
                    isCommitTriggerEnabled: false
                    repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                    sourceControlType: Github
                  status: Disabled
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries/buildTasks
            "201":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/buildTasks/myBuildTask
                location: eastus
                name: myBuildTask
                properties:
                  alias: myalias
                  creationDate: 2018-01-25T06:54:23.458Z
                  platform:
                    cpu: 2
                    osType: Linux
                  provisioningState: Updating
                  sourceRepository:
                    isCommitTriggerEnabled: false
                    repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                    sourceControlType: Github
                  status: Disabled
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries/buildTasks
      x-ms-long-running-operation: true
      x-codegen-request-body-name: buildTaskUpdateParameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a build task for a container registry with the specified
        parameters.
      operationId: BuildTasks_Create
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the container registry build task.
        in: path
        name: buildTaskName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildTask'
        description: The parameters for creating a build task.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildTask'
          description: The request was successful; the request was well-formed and
            received properly.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildTask'
          description: The request was successfully accepted; the operation will complete
            asynchronously. The provisioning state of the resource should indicate
            the current state of the resource.
        default:
          content: {}
          description: "Error response describing why the operation failed. If the\
            \ registry doesn't exist, 404 (Not found) is returned. If any of the input\
            \ parameters is wrong, 400(Bad Request) is returned."
      tags:
      - BuildTasks
      x-ms-examples:
        BuildTasks_Create:
          parameters:
            api-version: 2018-02-01-preview
            buildTaskCreateParameters:
              location: eastus
              properties:
                alias: myalias
                platform:
                  cpu: 2
                  osType: Linux
                sourceRepository:
                  isCommitTriggerEnabled: true
                  repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                  sourceControlAuthProperties:
                    scope: repo
                    token: xxxxxx
                    tokenType: OAuth
                  sourceControlType: Github
                status: Enabled
              tags:
                testkey: value
            buildTaskName: myBuildTask
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/buildTasks/myBuildTask
                location: eastus
                name: myBuildTask
                properties:
                  alias: myalias
                  creationDate: 2018-01-25T06:54:23.536Z
                  platform:
                    cpu: 2
                    osType: Linux
                  provisioningState: Succeeded
                  sourceRepository:
                    isCommitTriggerEnabled: true
                    repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                    sourceControlType: Github
                  status: Enabled
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries/buildTasks
            "201":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/buildTasks/myBuildTask
                location: eastus
                name: myBuildTask
                properties:
                  alias: myalias
                  creationDate: 2018-01-25T06:54:23.536Z
                  platform:
                    cpu: 2
                    osType: Linux
                  provisioningState: Creating
                  sourceRepository:
                    isCommitTriggerEnabled: true
                    repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                    sourceControlType: Github
                  status: Enabled
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries/buildTasks
      x-ms-long-running-operation: true
      x-codegen-request-body-name: buildTaskCreateParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/buildTasks/{buildTaskName}/listSourceRepositoryProperties
  : post:
      description: Get the source control properties for a build task.
      operationId: BuildTasks_ListSourceRepositoryProperties
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the container registry build task.
        in: path
        name: buildTaskName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceRepositoryProperties'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content: {}
          description: "Error response describing why the operation failed. If the\
            \ registry doesn't exist, 404 (Not found) is returned."
      tags:
      - BuildTasks
      x-ms-examples:
        BuildTasks_ListSourceRepositoryProperties:
          parameters:
            api-version: 2018-02-01-preview
            buildTaskName: myBuildTask
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                isCommitTriggerEnabled: true
                repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                sourceControlAuthProperties:
                  scope: repo
                  token: xxxxxx
                  tokenType: OAuth
                sourceControlType: Github
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/buildTasks/{buildTaskName}/steps
  : get:
      description: List all the build steps for a given build task.
      operationId: BuildSteps_List
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the container registry build task.
        in: path
        name: buildTaskName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildStepList'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content: {}
          description: Error response describing why the operation failed.
      tags:
      - BuildSteps
      x-ms-examples:
        BuildSteps_List:
          parameters:
            api-version: 2018-02-01-preview
            buildTaskName: myBuildTask
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/buildTasks/myBuildTask/steps/myStep
                  name: myStep
                  properties:
                    baseImageTrigger: Runtime
                    branch: master
                    buildArguments:
                    - isSecret: false
                      name: mytestargument
                      type: DockerBuildArgument
                      value: mytestvalue
                    - isSecret: true
                      name: mysecrettestargument
                      type: DockerBuildArgument
                      value: mysecrettestvalue
                    contextPath: dockerfiles
                    dockerFilePath: subfolder/Dockerfile
                    imageNames:
                    - azurerest:testtag
                    isPushEnabled: true
                    noCache: false
                    provisioningState: Succeeded
                    type: Docker
                  type: Microsoft.ContainerRegistry/registries/buildTasks/steps
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/buildTasks/{buildTaskName}/steps/{stepName}
  : delete:
      description: Deletes a build step from the build task.
      operationId: BuildSteps_Delete
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the container registry build task.
        in: path
        name: buildTaskName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of a build step for a container registry build task.
        in: path
        name: stepName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        "202":
          content: {}
          description: The request was successfully accepted; the operation will complete
            asynchronously.
        default:
          content: {}
          description: Error response describing why the operation failed.
      tags:
      - BuildSteps
      x-ms-examples:
        BuildSteps_Delete:
          parameters:
            api-version: 2018-02-01-preview
            buildTaskName: myBuildTask
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            stepName: myStep
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the build step for a build task.
      operationId: BuildSteps_Get
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the container registry build task.
        in: path
        name: buildTaskName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of a build step for a container registry build task.
        in: path
        name: stepName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildStep'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content: {}
          description: "Error response describing why the operation failed. If the\
            \ registry/step doesn't exist, 404 (Not found) is returned."
      tags:
      - BuildSteps
      x-ms-examples:
        BuildSteps_Get:
          parameters:
            api-version: 2018-02-01-preview
            buildTaskName: myBuildTask
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            stepName: myStep
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/buildTasks/myBuildTask/steps/myStep
                name: myStep
                properties:
                  baseImageTrigger: Runtime
                  branch: master
                  buildArguments:
                  - isSecret: false
                    name: mytestargument
                    type: DockerBuildArgument
                    value: mytestvalue
                  - isSecret: true
                    name: mysecrettestargument
                    type: DockerBuildArgument
                    value: mysecrettestvalue
                  contextPath: dockerfiles
                  dockerFilePath: subfolder/Dockerfile
                  imageNames:
                  - azurerest:testtag
                  isPushEnabled: true
                  noCache: false
                  provisioningState: Succeeded
                  type: Docker
                type: Microsoft.ContainerRegistry/registries/buildTasks/steps
      x-accepts:
      - application/json
    patch:
      description: Updates a build step in a build task.
      operationId: BuildSteps_Update
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the container registry build task.
        in: path
        name: buildTaskName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of a build step for a container registry build task.
        in: path
        name: stepName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildStepUpdateParameters'
        description: The parameters for updating a build step.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildStep'
          description: The request was successful; the request was well-formed and
            received properly.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildStep'
          description: The request was successfully accepted; the operation will complete
            asynchronously. The provisioning state of the resource should indicate
            the current state of the resource.
        default:
          content: {}
          description: "Error response describing why the operation failed. If the\
            \ registry/step doesn't exist, 404 (Not found) is returned.If any of the\
            \ input parameters is wrong, 400(Bad Request) is returned."
      tags:
      - BuildSteps
      x-ms-examples:
        BuildSteps_Update:
          parameters:
            api-version: 2018-02-01-preview
            buildStepUpdateParameters:
              properties:
                baseImageTrigger: None
                buildArguments:
                - isSecret: false
                  name: mytestargument
                  type: DockerBuildArgument
                  value: mytestvalue
                - isSecret: true
                  name: mysecrettestargument
                  type: DockerBuildArgument
                  value: mysecrettestvalue
                contextPath: dockerfiles
                dockerFilePath: subfolder/Dockerfile
                imageNames:
                - azurerest:testtag
                - azurerest1:testtag1
                isPushEnabled: true
                noCache: false
                type: Docker
            buildTaskName: myBuildTask
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            stepName: myStep
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/buildTasks/myBuildTask/steps/myStep
                name: myStep
                properties:
                  baseImageTrigger: Runtime
                  branch: master
                  buildArguments:
                  - isSecret: false
                    name: mytestargument
                    type: DockerBuildArgument
                    value: mytestvalue
                  - isSecret: true
                    name: mysecrettestargument
                    type: DockerBuildArgument
                    value: mysecrettestvalue
                  contextPath: dockerfiles
                  dockerFilePath: subfolder/Dockerfile
                  imageNames:
                  - azurerest:testtag
                  isPushEnabled: true
                  noCache: false
                  provisioningState: Succeeded
                  type: Docker
                type: Microsoft.ContainerRegistry/registries/buildTasks/steps
            "201":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/buildTasks/myBuildTask/steps/myStep
                name: myStep
                properties:
                  baseImageTrigger: Runtime
                  branch: master
                  buildArguments:
                  - isSecret: false
                    name: mytestargument
                    type: DockerBuildArgument
                    value: mytestvalue
                  - isSecret: true
                    name: mysecrettestargument
                    type: DockerBuildArgument
                    value: mysecrettestvalue
                  contextPath: dockerfiles
                  dockerFilePath: subfolder/Dockerfile
                  imageNames:
                  - azurerest:testtag
                  isPushEnabled: true
                  noCache: false
                  provisioningState: Updating
                  type: Docker
                type: Microsoft.ContainerRegistry/registries/buildTasks/steps
      x-ms-long-running-operation: true
      x-codegen-request-body-name: buildStepUpdateParameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a build step for a build task.
      operationId: BuildSteps_Create
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the container registry build task.
        in: path
        name: buildTaskName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of a build step for a container registry build task.
        in: path
        name: stepName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildStep'
        description: The parameters for creating a build step.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildStep'
          description: The request was successful; the request was well-formed and
            received properly.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildStep'
          description: The request was successfully accepted; the operation will complete
            asynchronously. The provisioning state of the resource should indicate
            the current state of the resource.
        default:
          content: {}
          description: "Error response describing why the operation failed. If the\
            \ registry doesn't exist, 404 (Not found) is returned.If any of the input\
            \ parameters is wrong, 400(Bad Request) is returned."
      tags:
      - BuildSteps
      x-ms-examples:
        BuildSteps_Create:
          parameters:
            api-version: 2018-02-01-preview
            buildStepCreateParameters:
              properties:
                buildArguments:
                - isSecret: false
                  name: mytestargument
                  type: DockerBuildArgument
                  value: mytestvalue
                - isSecret: true
                  name: mysecrettestargument
                  type: DockerBuildArgument
                  value: mysecrettestvalue
                contextPath: dockerfiles
                dockerFilePath: subfolder/Dockerfile
                imageNames:
                - azurerest:testtag
                isPushEnabled: true
                noCache: true
                type: Docker
            buildTaskName: myBuildTask
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            stepName: myStep
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/buildTasks/myBuildTask/steps/myStep
                name: myStep
                properties:
                  baseImageTrigger: Runtime
                  branch: master
                  buildArguments:
                  - isSecret: false
                    name: mytestargument
                    type: DockerBuildArgument
                    value: mytestvalue
                  - isSecret: true
                    name: mysecrettestargument
                    type: DockerBuildArgument
                    value: mysecrettestvalue
                  contextPath: dockerfiles
                  dockerFilePath: subfolder/Dockerfile
                  imageNames:
                  - azurerest:testtag
                  isPushEnabled: true
                  noCache: false
                  provisioningState: Succeeded
                  type: Docker
                type: Microsoft.ContainerRegistry/registries/buildTasks/steps
            "201":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/buildTasks/myBuildTask/steps/myStep
                name: myStep
                properties:
                  baseImageTrigger: Runtime
                  branch: master
                  buildArguments:
                  - isSecret: false
                    name: mytestargument
                    type: DockerBuildArgument
                    value: mytestvalue
                  - isSecret: true
                    name: mysecrettestargument
                    type: DockerBuildArgument
                    value: mysecrettestvalue
                  contextPath: dockerfiles
                  dockerFilePath: subfolder/Dockerfile
                  imageNames:
                  - azurerest:testtag
                  isPushEnabled: true
                  noCache: false
                  provisioningState: Updating
                  type: Docker
                type: Microsoft.ContainerRegistry/registries/buildTasks/steps
      x-ms-long-running-operation: true
      x-codegen-request-body-name: buildStepCreateParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/buildTasks/{buildTaskName}/steps/{stepName}/listBuildArguments
  : post:
      description: List the build arguments for a step including the secret arguments.
      operationId: BuildSteps_ListBuildArguments
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The name of the container registry build task.
        in: path
        name: buildTaskName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of a build step for a container registry build task.
        in: path
        name: stepName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildArgumentList'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content: {}
          description: "Error response describing why the operation failed. If the\
            \ registry/step doesn't exist, 404 (Not found) is returned."
      tags:
      - BuildSteps
      x-ms-examples:
        BuildSteps_ListBuildArguments:
          parameters:
            api-version: 2018-02-01-preview
            buildTaskName: myBuildTask
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            stepName: myStep
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                value:
                - isSecret: false
                  name: mytestargument
                  type: DockerBuildArgument
                  value: mytestvalue
                - isSecret: true
                  name: mysecrettestargument
                  type: DockerBuildArgument
                  value: mysecrettestvalue
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/builds
  : get:
      description: Gets all the builds for a registry.
      operationId: Builds_List
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The builds filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: "$top is supported for get list of builds, which limits the maximum\
          \ number of builds to return."
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: "$skipToken is supported on get list of builds, which provides\
          \ the next page in the list of builds."
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content: {}
          description: Error response describing why the operation failed.
      tags:
      - Builds
      x-ms-examples:
        Builds_List:
          parameters:
            $filter: ""
            $top: 10
            api-version: 2018-02-01-preview
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/builds/0accec26-d6de-4757-8e74-d080f38eaaab
                  name: 0accec26-d6de-4757-8e74-d080f38eaaab
                  properties:
                    buildId: 0accec26-d6de-4757-8e74-d080f38eaaab
                    buildTask: myBuildTask
                    buildType: AutoBuild
                    createTime: 2018-01-25T05:13:51.618Z
                    finishTime: 2018-01-25T06:13:51.618Z
                    imageUpdateTrigger:
                      id: c0c43143-da5d-41ef-b9e1-e7d749272e88
                      images:
                      - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                        registry: registry.hub.docker.com
                        repository: mybaseimage
                        tag: latest
                      timestamp: 2018-01-25T05:13:51.618Z
                    isArchiveEnabled: true
                    lastUpdatedTime: 2018-01-25T05:13:51.617Z
                    outputImages:
                    - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                      registry: myregistry.azurecr.io
                      repository: myimage
                      tag: latest
                    platform:
                      cpu: 2
                      osType: Linux
                    provisioningState: Succeeded
                    startTime: 2018-01-25T05:50:51.618Z
                    status: Succeeded
                  type: Microsoft.ContainerRegistry/registries/builds
      x-ms-odata: '#/definitions/BuildFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/builds/{buildId}
  : get:
      description: Gets the detailed information for a given build.
      operationId: Builds_Get
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The build ID.
        in: path
        name: buildId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content: {}
          description: "Error response describing why the operation failed. If the\
            \ registry/build doesn't exist, 404 (Not found) is returned."
      tags:
      - Builds
      x-ms-examples:
        Builds_Get:
          parameters:
            api-version: 2018-02-01-preview
            buildId: 0accec26-d6de-4757-8e74-d080f38eaaab
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/builds/0accec26-d6de-4757-8e74-d080f38eaaab
                name: 0accec26-d6de-4757-8e74-d080f38eaaab
                properties:
                  buildId: 0accec26-d6de-4757-8e74-d080f38eaaab
                  buildTask: myBuildTask
                  buildType: AutoBuild
                  createTime: 2018-01-25T05:13:51.618Z
                  finishTime: 2018-01-25T06:13:51.618Z
                  imageUpdateTrigger:
                    id: c0c43143-da5d-41ef-b9e1-e7d749272e88
                    images:
                    - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                      registry: registry.hub.docker.com
                      repository: mybaseimage
                      tag: latest
                    timestamp: 2018-01-25T05:13:51.618Z
                  isArchiveEnabled: true
                  lastUpdatedTime: 2018-01-25T05:13:51.617Z
                  outputImages:
                  - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                    registry: myregistry.azurecr.io
                    repository: myimage
                    tag: latest
                  platform:
                    cpu: 2
                    osType: Linux
                  provisioningState: Succeeded
                  startTime: 2018-01-25T05:50:51.618Z
                  status: Succeeded
                type: Microsoft.ContainerRegistry/registries/builds
      x-accepts:
      - application/json
    patch:
      description: Patch the build properties.
      operationId: Builds_Update
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The build ID.
        in: path
        name: buildId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildUpdateParameters'
        description: The build update properties.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: The request was successful; the request was well-formed and
            received properly.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: The request was successfully accepted; the operation will complete
            asynchronously. The provisioning state of the resource should indicate
            the current state of the resource.
        default:
          content: {}
          description: "Error response describing why the operation failed. If the\
            \ registry/build doesn't exist, 404 (Not found) is returned. If any of\
            \ the input parameters is wrong, 400(Bad Request) is returned."
      tags:
      - Builds
      x-ms-examples:
        Builds_Update:
          parameters:
            api-version: 2018-02-01-preview
            buildId: 0accec26-d6de-4757-8e74-d080f38eaaab
            buildUpdateParameters:
              isArchiveEnabled: true
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/builds/0accec26-d6de-4757-8e74-d080f38eaaab
                name: 0accec26-d6de-4757-8e74-d080f38eaaab
                properties:
                  buildId: 0accec26-d6de-4757-8e74-d080f38eaaab
                  buildTask: myBuildTask
                  buildType: AutoBuild
                  createTime: 2018-01-25T05:13:51.618Z
                  finishTime: 2018-01-25T06:13:51.618Z
                  imageUpdateTrigger:
                    id: c0c43143-da5d-41ef-b9e1-e7d749272e88
                    images:
                    - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                      registry: registry.hub.docker.com
                      repository: mybaseimage
                      tag: latest
                    timestamp: 2018-01-25T05:13:51.618Z
                  isArchiveEnabled: true
                  lastUpdatedTime: 2018-01-25T05:13:51.617Z
                  outputImages:
                  - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                    registry: myregistry.azurecr.io
                    repository: myimage
                    tag: latest
                  platform:
                    cpu: 2
                    osType: Linux
                  provisioningState: Succeeded
                  startTime: 2018-01-25T05:50:51.618Z
                  status: Succeeded
                type: Microsoft.ContainerRegistry/registries/builds
            "201":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/builds/0accec26-d6de-4757-8e74-d080f38eaaab
                name: 0accec26-d6de-4757-8e74-d080f38eaaab
                properties:
                  buildId: 0accec26-d6de-4757-8e74-d080f38eaaab
                  buildTask: myBuildTask
                  buildType: AutoBuild
                  createTime: 2018-01-25T05:13:51.618Z
                  finishTime: 2018-01-25T06:13:51.618Z
                  imageUpdateTrigger:
                    id: c0c43143-da5d-41ef-b9e1-e7d749272e88
                    images:
                    - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                      registry: registry.hub.docker.com
                      repository: mybaseimage
                      tag: latest
                    timestamp: 2018-01-25T05:13:51.618Z
                  isArchiveEnabled: true
                  lastUpdatedTime: 2018-01-25T05:13:51.617Z
                  outputImages:
                  - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                    registry: myregistry.azurecr.io
                    repository: myimage
                    tag: latest
                  platform:
                    cpu: 2
                    osType: Linux
                  provisioningState: Updating
                  startTime: 2018-01-25T05:50:51.618Z
                  status: Succeeded
                type: Microsoft.ContainerRegistry/registries/builds
      x-ms-long-running-operation: true
      x-codegen-request-body-name: buildUpdateParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/builds/{buildId}/cancel
  : post:
      description: Cancel an existing build.
      operationId: Builds_Cancel
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The build ID.
        in: path
        name: buildId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        "202":
          content: {}
          description: The request was successfully accepted; the operation will complete
            asynchronously.
        default:
          content: {}
          description: "Error response describing why the operation failed. If the\
            \ registry/build doesn't exist, 404 (Not found) is returned."
      tags:
      - Builds
      x-ms-examples:
        Builds_Cancel:
          parameters:
            api-version: 2018-02-01-preview
            buildId: 0accec26-d6de-4757-8e74-d080f38eaaab
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/builds/{buildId}/getLogLink
  : post:
      description: Gets a link to download the build logs.
      operationId: Builds_GetLogLink
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The build ID.
        in: path
        name: buildId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildGetLogResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content: {}
          description: "Error response describing why the operation failed. If the\
            \ registry/build doesn't exist, 404 (Not found) is returned."
      tags:
      - Builds
      x-ms-examples:
        Builds_GetLogLink:
          parameters:
            api-version: 2018-02-01-preview
            buildId: 0accec26-d6de-4757-8e74-d080f38eaaab
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                logLink: https://registrystorageaccount.blob.core.windows.net/sascontainer/logs/0accec26-d6de-4757-8e74-d080f38eaaab/rawtext.log?sv=2015-04-05&st=2015-04-29T22%3A18%3A26Z&se=2015-04-30T02%3A23%3A26Z&sr=b&sp=rw&sip=168.1.5.60-168.1.5.70&spr=https&sig=Z%2FRHIX5Xcg0Mq2rqI3OlWTjEg2tYkboXr1P9ZUXDtkk%3D
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/getBuildSourceUploadUrl
  : post:
      description: Get the upload location for the user to be able to upload the source.
      operationId: Registries_GetBuildSourceUploadUrl
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceUploadDefinition'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content: {}
          description: "Error response describing why the operation failed. If the\
            \ registry/build doesn't exist, 404 (Not found) is returned."
      tags:
      - Registries
      x-ms-examples:
        Registries_GetBuildSourceUploadUrl:
          parameters:
            api-version: 2018-02-01-preview
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                relativePath: source/201802130000/b52f12d8-c3d6-4d75-9107-220f0bfc681d.tar.gz
                uploadUrl: https://registrystorageaccount.blob.core.windows.net/registrycontainer/source/201802130000/b52f12d8-c3d6-4d75-9107-220f0bfc681d.tar.gz?sv=2015-04-05&st=2015-04-29T22%3A18%3A26Z&se=2015-04-30T02%3A23%3A26Z&sr=b&sp=rw&sip=168.1.5.60-168.1.5.70&spr=https&sig=Z%2FRHIX5Xcg0Mq2rqI3OlWTjEg2tYkboXr1P9ZUXDtkk%3D
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/queueBuild
  : post:
      description: Creates a new build based on the request parameters and add it
        to the build queue.
      operationId: Registries_QueueBuild
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the container registry.
        in: path
        name: registryName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueueBuildRequest'
        description: The parameters of a build that needs to queued.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Build'
          description: The request was successful; the request was well-formed and
            received properly.
        "202":
          content: {}
          description: The request was successfully accepted; the operation will complete
            asynchronously.
        default:
          content: {}
          description: "Error response describing why the operation failed. If the\
            \ registry/build doesn't exist, 404 (Not found) is returned. If any of\
            \ the input parameters is wrong, 400(Bad Request) is returned."
      tags:
      - Registries
      x-ms-examples:
        Registries_QueueBuild:
          parameters:
            api-version: 2018-02-01-preview
            buildRequest:
              buildArguments:
              - isSecret: false
                name: mytestargument
                type: DockerBuildArgument
                value: mytestvalue
              - isSecret: true
                name: mysecrettestargument
                type: DockerBuildArgument
                value: mysecrettestvalue
              dockerFilePath: subfolder/Dockerfile
              imageNames:
              - azurerest:testtag
              isPushEnabled: true
              noCache: true
              platform:
                cpu: 2
                osType: Linux
              sourceLocation: https://myaccount.blob.core.windows.net/sascontainer/source.zip?sv=2015-04-05&st=2015-04-29T22%3A18%3A26Z&se=2015-04-30T02%3A23%3A26Z&sr=b&sp=rw&sip=168.1.5.60-168.1.5.70&spr=https&sig=Z%2FRHIX5Xcg0Mq2rqI3OlWTjEg2tYkboXr1P9ZUXDtkk%3D
              type: QuickBuild
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/builds/0accec26-d6de-4757-8e74-d080f38eaaab
                name: 0accec26-d6de-4757-8e74-d080f38eaaab
                properties:
                  buildId: 0accec26-d6de-4757-8e74-d080f38eaaab
                  lastUpdatedTime: 2018-01-25T05:13:51.617Z
                  provisioningState: Succeeded
                  status: Succeeded
                type: Microsoft.ContainerRegistry/registries/builds
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: buildRequest
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    BuildTaskNameParameter:
      description: The name of the container registry build task.
      in: path
      name: buildTaskName
      required: true
      schema:
        maxLength: 50
        minLength: 5
        pattern: "^[a-zA-Z0-9]*$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    RegistryNameParameter:
      description: The name of the container registry.
      in: path
      name: registryName
      required: true
      schema:
        maxLength: 50
        minLength: 5
        pattern: "^[a-zA-Z0-9]*$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group to which the container registry
        belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    StepNameParameter:
      description: The name of a build step for a container registry build task.
      in: path
      name: stepName
      required: true
      schema:
        maxLength: 50
        minLength: 5
        pattern: "^[a-zA-Z0-9]*$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Microsoft Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    BaseImageDependency:
      description: Properties that describe a base image dependency.
      properties:
        digest:
          description: The sha256-based digest of the image manifest.
          type: string
        registry:
          description: The registry login server.
          type: string
        repository:
          description: The repository name.
          type: string
        tag:
          description: The tag name.
          type: string
        type:
          description: The type of the base image dependency.
          enum:
          - BuildTime
          - RunTime
          type: string
          x-ms-enum:
            modelAsString: true
            name: BaseImageDependencyType
      type: object
    Build:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Build resource properties
      example:
        properties:
          finishTime: 2000-01-23T04:56:07.000+00:00
          gitCommitTrigger:
            branchName: branchName
            commitId: commitId
            id: id
            providerType: providerType
            repositoryUrl: repositoryUrl
          buildId: buildId
          imageUpdateTrigger:
            images:
            - registry: registry
              digest: digest
              tag: tag
              repository: repository
            - registry: registry
              digest: digest
              tag: tag
              repository: repository
            id: id
            timestamp: 2000-01-23T04:56:07.000+00:00
          provisioningState: Creating
          buildTask: buildTask
          platform:
            osType: Windows
            cpu: 0
          createTime: 2000-01-23T04:56:07.000+00:00
          buildType: AutoBuild
          outputImages:
          - registry: registry
            digest: digest
            tag: tag
            repository: repository
          - registry: registry
            digest: digest
            tag: tag
            repository: repository
          lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
          startTime: 2000-01-23T04:56:07.000+00:00
          isArchiveEnabled: false
          status: Queued
      properties:
        properties:
          $ref: '#/components/schemas/BuildProperties'
    BuildArgument:
      description: Properties of a build argument.
      example:
        isSecret: false
        name: name
        type: DockerBuildArgument
        value: value
      properties:
        isSecret:
          default: false
          description: Flag to indicate whether the argument represents a secret and
            want to be removed from build logs.
          type: boolean
        name:
          description: The name of the argument.
          type: string
        type:
          description: The type of the argument.
          enum:
          - DockerBuildArgument
          type: string
          x-ms-enum:
            modelAsString: true
            name: BuildArgumentType
        value:
          description: The value of the argument.
          type: string
      required:
      - name
      - type
      - value
      type: object
    BuildArgumentList:
      description: The list of build arguments for a build step.
      example:
        value:
        - isSecret: false
          name: name
          type: DockerBuildArgument
          value: value
        - isSecret: false
          name: name
          type: DockerBuildArgument
          value: value
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next set of paged results.
          type: string
        value:
          description: The collection value.
          items:
            $ref: '#/components/schemas/BuildArgument'
          type: array
      type: object
    BuildFilter:
      description: Properties that are enabled for Odata querying.
      properties:
        buildId:
          description: The unique identifier for the build.
          type: string
        buildTaskName:
          description: The name of the build task that the build corresponds to.
          type: string
        buildType:
          description: The type of build.
          enum:
          - AutoBuild
          - QuickBuild
          type: string
          x-ms-enum:
            modelAsString: true
            name: BuildType
        createTime:
          description: The create time for a build.
          format: date-time
          type: string
        finishTime:
          description: The time the build finished.
          format: date-time
          type: string
        isArchiveEnabled:
          description: The value that indicates whether archiving is enabled or not.
          type: boolean
        outputImageManifests:
          description: The list of comma-separated image manifests that were generated
            from the build.
          type: string
        status:
          description: The current status of the build.
          enum:
          - Queued
          - Started
          - Running
          - Succeeded
          - Failed
          - Canceled
          - Error
          - Timeout
          type: string
          x-ms-enum:
            modelAsString: true
            name: BuildStatus
      type: object
    BuildGetLogResult:
      description: The result of get log link operation.
      example:
        logLink: logLink
      properties:
        logLink:
          description: The link to logs for a azure container registry build.
          type: string
      type: object
    BuildListResult:
      description: Collection of builds.
      example:
        value:
        - properties:
            finishTime: 2000-01-23T04:56:07.000+00:00
            gitCommitTrigger:
              branchName: branchName
              commitId: commitId
              id: id
              providerType: providerType
              repositoryUrl: repositoryUrl
            buildId: buildId
            imageUpdateTrigger:
              images:
              - registry: registry
                digest: digest
                tag: tag
                repository: repository
              - registry: registry
                digest: digest
                tag: tag
                repository: repository
              id: id
              timestamp: 2000-01-23T04:56:07.000+00:00
            provisioningState: Creating
            buildTask: buildTask
            platform:
              osType: Windows
              cpu: 0
            createTime: 2000-01-23T04:56:07.000+00:00
            buildType: AutoBuild
            outputImages:
            - registry: registry
              digest: digest
              tag: tag
              repository: repository
            - registry: registry
              digest: digest
              tag: tag
              repository: repository
            lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
            startTime: 2000-01-23T04:56:07.000+00:00
            isArchiveEnabled: false
            status: Queued
        - properties:
            finishTime: 2000-01-23T04:56:07.000+00:00
            gitCommitTrigger:
              branchName: branchName
              commitId: commitId
              id: id
              providerType: providerType
              repositoryUrl: repositoryUrl
            buildId: buildId
            imageUpdateTrigger:
              images:
              - registry: registry
                digest: digest
                tag: tag
                repository: repository
              - registry: registry
                digest: digest
                tag: tag
                repository: repository
              id: id
              timestamp: 2000-01-23T04:56:07.000+00:00
            provisioningState: Creating
            buildTask: buildTask
            platform:
              osType: Windows
              cpu: 0
            createTime: 2000-01-23T04:56:07.000+00:00
            buildType: AutoBuild
            outputImages:
            - registry: registry
              digest: digest
              tag: tag
              repository: repository
            - registry: registry
              digest: digest
              tag: tag
              repository: repository
            lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
            startTime: 2000-01-23T04:56:07.000+00:00
            isArchiveEnabled: false
            status: Queued
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next set of paged results.
          type: string
        value:
          description: The collection value.
          items:
            $ref: '#/components/schemas/Build'
          type: array
      type: object
    BuildProperties:
      description: The properties for a build.
      example:
        finishTime: 2000-01-23T04:56:07.000+00:00
        gitCommitTrigger:
          branchName: branchName
          commitId: commitId
          id: id
          providerType: providerType
          repositoryUrl: repositoryUrl
        buildId: buildId
        imageUpdateTrigger:
          images:
          - registry: registry
            digest: digest
            tag: tag
            repository: repository
          - registry: registry
            digest: digest
            tag: tag
            repository: repository
          id: id
          timestamp: 2000-01-23T04:56:07.000+00:00
        provisioningState: Creating
        buildTask: buildTask
        platform:
          osType: Windows
          cpu: 0
        createTime: 2000-01-23T04:56:07.000+00:00
        buildType: AutoBuild
        outputImages:
        - registry: registry
          digest: digest
          tag: tag
          repository: repository
        - registry: registry
          digest: digest
          tag: tag
          repository: repository
        lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
        startTime: 2000-01-23T04:56:07.000+00:00
        isArchiveEnabled: false
        status: Queued
      properties:
        buildId:
          description: The unique identifier for the build.
          type: string
        buildTask:
          description: The build task with which the build was started.
          type: string
        buildType:
          description: The type of build.
          enum:
          - AutoBuild
          - QuickBuild
          type: string
          x-ms-enum:
            modelAsString: true
            name: BuildType
        createTime:
          description: The time the build was created.
          format: date-time
          type: string
        finishTime:
          description: The time the build finished.
          format: date-time
          type: string
        gitCommitTrigger:
          $ref: '#/components/schemas/GitCommitTrigger'
        imageUpdateTrigger:
          $ref: '#/components/schemas/ImageUpdateTrigger'
        isArchiveEnabled:
          default: false
          description: The value that indicates whether archiving is enabled or not.
          type: boolean
        lastUpdatedTime:
          description: The last updated time for the build.
          format: date-time
          type: string
        outputImages:
          description: The list of all images that were generated from the build.
          items:
            $ref: '#/components/schemas/ImageDescriptor'
          type: array
        platform:
          $ref: '#/components/schemas/PlatformProperties'
        provisioningState:
          description: The provisioning state of a build.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        startTime:
          description: The time the build started.
          format: date-time
          type: string
        status:
          description: The current status of the build.
          enum:
          - Queued
          - Started
          - Running
          - Succeeded
          - Failed
          - Canceled
          - Error
          - Timeout
          type: string
          x-ms-enum:
            modelAsString: true
            name: BuildStatus
      type: object
    BuildStep:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: Build step resource properties
      example:
        properties:
          provisioningState: Creating
          type: Docker
      properties:
        properties:
          $ref: '#/components/schemas/BuildStepProperties'
    BuildStepList:
      description: The collection of build items.
      example:
        value:
        - properties:
            provisioningState: Creating
            type: Docker
        - properties:
            provisioningState: Creating
            type: Docker
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next set of paged results.
          type: string
        value:
          description: The collection value.
          items:
            $ref: '#/components/schemas/BuildStep'
          type: array
      type: object
    BuildStepProperties:
      description: Base properties for any build step.
      discriminator:
        propertyName: type
      example:
        provisioningState: Creating
        type: Docker
      properties:
        provisioningState:
          description: The provisioning state of the build step.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        type:
          description: The type of the step.
          enum:
          - Docker
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: BuildStepType
      type: object
    BuildStepPropertiesUpdateParameters:
      description: The properties for updating a build step.
      discriminator:
        propertyName: type
      example:
        type: Docker
      properties:
        type:
          description: The type of the step.
          enum:
          - Docker
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: BuildStepType
      type: object
    BuildStepUpdateParameters:
      description: The parameters for updating a build step.
      example:
        properties:
          type: Docker
        tags:
          key: tags
      properties:
        properties:
          $ref: '#/components/schemas/BuildStepPropertiesUpdateParameters'
        tags:
          additionalProperties:
            type: string
          description: The ARM resource tags.
          type: object
      type: object
    BuildTask:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The build task that has the resource properties and all build items.
        The build task will have all information to schedule a build against it.
      example:
        properties:
          sourceRepository:
            sourceControlAuthProperties:
              expiresIn: 6
              scope: scope
              tokenType: PAT
              refreshToken: refreshToken
              token: token
            sourceControlType: Github
            isCommitTriggerEnabled: false
            repositoryUrl: repositoryUrl
          alias: alias
          provisioningState: Creating
          creationDate: 2000-01-23T04:56:07.000+00:00
          platform:
            osType: Windows
            cpu: 0
          timeout: 4477
          status: Disabled
      properties:
        properties:
          $ref: '#/components/schemas/BuildTaskProperties'
    BuildTaskBuildRequest:
      allOf:
      - $ref: '#/components/schemas/QueueBuildRequest'
      description: The queue build parameters based on a build task.
      properties:
        buildTaskName:
          description: The name of build task against which build has to be queued.
          type: string
      required:
      - buildTaskName
      x-ms-discriminator-value: BuildTask
    BuildTaskFilter:
      description: The filter that can be used for listing build tasks.
      properties:
        alias:
          description: The alternative name for build task.
          type: string
      type: object
    BuildTaskListResult:
      description: The collection of build tasks.
      example:
        value:
        - properties:
            sourceRepository:
              sourceControlAuthProperties:
                expiresIn: 6
                scope: scope
                tokenType: PAT
                refreshToken: refreshToken
                token: token
              sourceControlType: Github
              isCommitTriggerEnabled: false
              repositoryUrl: repositoryUrl
            alias: alias
            provisioningState: Creating
            creationDate: 2000-01-23T04:56:07.000+00:00
            platform:
              osType: Windows
              cpu: 0
            timeout: 4477
            status: Disabled
        - properties:
            sourceRepository:
              sourceControlAuthProperties:
                expiresIn: 6
                scope: scope
                tokenType: PAT
                refreshToken: refreshToken
                token: token
              sourceControlType: Github
              isCommitTriggerEnabled: false
              repositoryUrl: repositoryUrl
            alias: alias
            provisioningState: Creating
            creationDate: 2000-01-23T04:56:07.000+00:00
            platform:
              osType: Windows
              cpu: 0
            timeout: 4477
            status: Disabled
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next set of paged results.
          type: string
        value:
          description: The collection value.
          items:
            $ref: '#/components/schemas/BuildTask'
          type: array
      type: object
    BuildTaskProperties:
      description: The properties of a build task.
      example:
        sourceRepository:
          sourceControlAuthProperties:
            expiresIn: 6
            scope: scope
            tokenType: PAT
            refreshToken: refreshToken
            token: token
          sourceControlType: Github
          isCommitTriggerEnabled: false
          repositoryUrl: repositoryUrl
        alias: alias
        provisioningState: Creating
        creationDate: 2000-01-23T04:56:07.000+00:00
        platform:
          osType: Windows
          cpu: 0
        timeout: 4477
        status: Disabled
      properties:
        alias:
          description: The alternative updatable name for a build task.
          type: string
        creationDate:
          description: The creation date of build task.
          format: date-time
          readOnly: true
          type: string
        platform:
          $ref: '#/components/schemas/PlatformProperties'
        provisioningState:
          description: The provisioning state of the build task.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        sourceRepository:
          $ref: '#/components/schemas/SourceRepositoryProperties'
        status:
          description: The current status of build task.
          enum:
          - Disabled
          - Enabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: BuildTaskStatus
        timeout:
          default: 3600
          description: Build timeout in seconds.
          format: int32
          maximum: 28800
          minimum: 300
          type: integer
      required:
      - alias
      - platform
      - sourceRepository
      type: object
    BuildTaskPropertiesUpdateParameters:
      description: The properties for updating a build task.
      example:
        sourceRepository:
          sourceControlAuthProperties:
            expiresIn: 6
            scope: scope
            tokenType: PAT
            refreshToken: refreshToken
            token: token
          isCommitTriggerEnabled: true
        alias: alias
        platform:
          osType: Windows
          cpu: 0
        timeout: 2582
        status: Disabled
      properties:
        alias:
          description: The alternative updatable name for a build task.
          type: string
        platform:
          $ref: '#/components/schemas/PlatformProperties'
        sourceRepository:
          $ref: '#/components/schemas/SourceRepositoryUpdateParameters'
        status:
          description: The current status of build task.
          enum:
          - Disabled
          - Enabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: BuildTaskStatus
        timeout:
          description: Build timeout in seconds.
          format: int32
          maximum: 28800
          minimum: 300
          type: integer
      type: object
    BuildTaskUpdateParameters:
      description: The parameters for updating a build task.
      example:
        properties:
[...]
