openapi: 3.0.1
info:
  title: MonitorManagementClient
  version: 2018-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/calculateBaseline_API.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: monitor-calculateBaseline_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /{resourceUri}/providers/microsoft.insights/calculatebaseline:
    post:
      description: '**Lists the baseline values for a resource**.'
      operationId: MetricBaseline_CalculateBaseline
      parameters:
      - description: "The identifier of the resource. It has the following structure:\
          \ subscriptions/{subscriptionName}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceName}.\
          \ For example: subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/vms/providers/Microsoft.Compute/virtualMachines/vm1"
        in: path
        name: resourceUri
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeSeriesInformation'
        description: Information that need to be specified to calculate a baseline
          on a time series.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateBaselineResponse'
          description: Successful request to get the list of metric values.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Baseline
      x-ms-examples:
        Calculate baseline:
          parameters:
            TimeSeriesInformation:
              sensitivities:
              - Low
              - Medium
              values:
              - 61
              - 62
            api-version: 2018-09-01
            resourceUri: subscriptions/b324c52b-4073-4807-93af-e07d289c093e/resourceGroups/test/providers/Microsoft.Storage/storageAccounts/larryshoebox/blobServices/default
          responses:
            "200":
              body:
                baseline:
                - highThresholds:
                  - 90.3453
                  - 91.3453
                  lowThresholds:
                  - 30
                  - 31.1
                  sensitivity: Low
                - highThresholds:
                  - 70.3453
                  - 71.3453
                  lowThresholds:
                  - 50
                  - 51.1
                  sensitivity: Medium
                type: Microsoft.Insights/calculatebaseline
      x-codegen-request-body-name: TimeSeriesInformation
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ExtendedResourceUriParameter:
      description: "The identifier of the resource. It has the following structure:\
        \ subscriptions/{subscriptionName}/resourceGroups/{resourceGroupName}/providers/{providerName}/{resourceName}.\
        \ For example: subscriptions/b368ca2f-e298-46b7-b0ab-012281956afa/resourceGroups/vms/providers/Microsoft.Compute/virtualMachines/vm1"
      in: path
      name: resourceUri
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
  schemas:
    Baseline:
      description: The baseline values for a single sensitivity value.
      example:
        lowThresholds:
        - 6.027456183070403
        - 6.027456183070403
        sensitivity: Low
        highThresholds:
        - 0.8008281904610115
        - 0.8008281904610115
      properties:
        highThresholds:
          description: The high thresholds of the baseline.
          items:
            description: A single high threshold value.
            format: double
            type: number
          type: array
        lowThresholds:
          description: The low thresholds of the baseline.
          items:
            description: A single low threshold value.
            format: double
            type: number
          type: array
        sensitivity:
          description: The sensitivity of the baseline.
          enum:
          - Low
          - Medium
          - High
          type: string
          x-ms-enum:
            modelAsString: false
            name: Sensitivity
      required:
      - highThresholds
      - lowThresholds
      - sensitivity
      type: object
    CalculateBaselineResponse:
      description: The response to a calculate baseline call.
      example:
        timestamps:
        - 2000-01-23T04:56:07.000+00:00
        - 2000-01-23T04:56:07.000+00:00
        baseline:
        - lowThresholds:
          - 6.027456183070403
          - 6.027456183070403
          sensitivity: Low
          highThresholds:
          - 0.8008281904610115
          - 0.8008281904610115
        - lowThresholds:
          - 6.027456183070403
          - 6.027456183070403
          sensitivity: Low
          highThresholds:
          - 0.8008281904610115
          - 0.8008281904610115
        type: type
      properties:
        baseline:
          description: The baseline values for each sensitivity.
          items:
            $ref: '#/components/schemas/Baseline'
          type: array
        timestamps:
          description: The array of timestamps of the baselines.
          items:
            description: The timestamp for the baseline value in ISO 8601 format.
            format: date-time
            type: string
          type: array
        type:
          description: The resource type of the baseline resource.
          type: string
      required:
      - baseline
      - type
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    TimeSeriesInformation:
      description: The time series info needed for calculating the baseline.
      example:
        timestamps:
        - 2000-01-23T04:56:07.000+00:00
        - 2000-01-23T04:56:07.000+00:00
        values:
        - 0.8008281904610115
        - 0.8008281904610115
        sensitivities:
        - sensitivities
        - sensitivities
      properties:
        sensitivities:
          description: The list of sensitivities for calculating the baseline.
          items:
            description: The requested sensitivity for calculating the baseline.
            type: string
          type: array
        timestamps:
          description: The array of timestamps of the baselines.
          items:
            description: The timestamp for the baseline value in ISO 8601 format.
            format: date-time
            type: string
          type: array
        values:
          description: The metric values to calculate the baseline.
          items:
            description: A single metric value.
            format: double
            type: number
          type: array
      required:
      - sensitivities
      - values
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

