openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: MLB scores API.
  title: MLB v3 Scores
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/mlb-v3-scores.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: mlb-v3-scores
servers:
- url: http://azure-api.sportsdata.io/v3/mlb/scores
- url: https://azure-api.sportsdata.io/v3/mlb/scores
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/AllTeams:
    get:
      operationId: TeamsAll
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (All)
      x-accepts:
      - application/json
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: AreGamesInProgress
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
      x-accepts:
      - application/json
  /{format}/CurrentSeason:
    get:
      operationId: CurrentSeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
          description: ""
      summary: Current Season
      x-accepts:
      - application/json
  /{format}/FreeAgents:
    get:
      operationId: PlayerDetailsByFreeAgents
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Free Agents
      x-accepts:
      - application/json
  /{format}/Games/{season}:
    get:
      operationId: Schedules
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Schedules
      x-accepts:
      - application/json
  /{format}/GamesByDate/{date}:
    get:
      operationId: GamesByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Games by Date
      x-accepts:
      - application/json
  /{format}/News:
    get:
      operationId: News
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News
      x-accepts:
      - application/json
  /{format}/NewsByDate/{date}:
    get:
      operationId: NewsByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the news.
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Date
      x-accepts:
      - application/json
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: NewsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>10000507</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Player
      x-accepts:
      - application/json
  /{format}/Player/{playerid}:
    get:
      operationId: PlayerDetailsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>10000507</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
          description: ""
      summary: Player Details by Player
      x-accepts:
      - application/json
  /{format}/Players:
    get:
      operationId: PlayerDetailsByActive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Active
      x-accepts:
      - application/json
  /{format}/Players/{team}:
    get:
      operationId: PlayersByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The abbreviation of the requested team.
          <br>Examples: <code>SF</code>, <code>NYY</code>.
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players by Team
      x-accepts:
      - application/json
  /{format}/PlayersBasic/{team}:
    get:
      operationId: PlayersByTeamBasic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The abbreviation of the requested team.
          <br>Examples: <code>SF</code>, <code>NYY</code>.
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerBasic'
                type: array
          description: ""
      summary: Players by Team (Basic)
      x-accepts:
      - application/json
  /{format}/SchedulesBasic/{season}:
    get:
      operationId: SchedulesBasic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScheduleBasic'
                type: array
          description: ""
      summary: Schedules (Basic)
      x-accepts:
      - application/json
  /{format}/ScoresBasic/{date}:
    get:
      operationId: GamesByDateBasic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScoreBasic'
                type: array
          description: ""
      summary: Games by Date (Basic)
      x-accepts:
      - application/json
  /{format}/Stadiums:
    get:
      operationId: Stadiums
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Stadium'
                type: array
          description: ""
      summary: Stadiums
      x-accepts:
      - application/json
  /{format}/Standings/{season}:
    get:
      operationId: Standings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2017</code>, <code>2018</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Standing'
                type: array
          description: ""
      summary: Standings
      x-accepts:
      - application/json
  /{format}/TeamGameStatsByDate/{date}:
    get:
      operationId: TeamGameStatsByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Stats by Date
      x-accepts:
      - application/json
  /{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      description: Game by game log of total team statistics.
      operationId: TeamGameLogsBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique ID of team.  Example <code> 12 </code>
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Logs By Season
      x-accepts:
      - application/json
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: TeamSeasonStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Year of the season.
          <br>Examples: <code>2017</code>, <code>2018</code>.
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Season Stats
      x-accepts:
      - application/json
  /{format}/teams:
    get:
      operationId: TeamsActive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (Active)
      x-accepts:
      - application/json
components:
  schemas:
    Game:
      example:
        InningDescription: InningDescription
        Innings:
        - InningID: 7
          AwayTeamRuns: 3
          InningNumber: 6
          HomeTeamRuns: 0
          GameID: 7
        - InningID: 7
          AwayTeamRuns: 3
          InningNumber: 6
          HomeTeamRuns: 0
          GameID: 7
        AwayTeam: AwayTeam
        ForecastDescription: ForecastDescription
        HomeTeamMoneyLine: 6
        AwayTeamRuns: 9
        HomeTeamID: 2
        ForecastTempHigh: 1
        RunnerOnThird: true
        DateTime: DateTime
        CurrentHittingTeamID: 7
        CurrentHitter: CurrentHitter
        CurrentHitterID: 4
        HomeTeamHits: 1
        AwayTeamErrors: 1
        AwayTeamHits: 5
        ForecastWindSpeed: 9
        GameID: 6
        OverPayout: 8
        AwayTeamStartingPitcherID: 3
        Outs: 4
        Status: Status
        ForecastWindDirection: 9
        LosingPitcher: LosingPitcher
        HomeTeam: HomeTeam
        Updated: Updated
        Channel: Channel
        Inning: 3
        DueUpHitterID2: 6
        DueUpHitterID3: 7
        HomeTeamRuns: 5
        RunnerOnFirst: true
        CurrentPitcher: CurrentPitcher
        DueUpHitterID1: 1
        HomeTeamStartingPitcherID: 6
        NeutralVenue: true
        StadiumID: 9
        SeriesInfo:
          GameNumber: 1
          MaxLength: 7
          AwayTeamWins: 4
          HomeTeamWins: 4
        AwayRotationNumber: 6
        PointSpreadAwayTeamMoneyLine: 3
        GlobalAwayTeamID: 8
        DateTimeUTC: DateTimeUTC
        RescheduledFromGameID: 5
        AwayTeamMoneyLine: 2
        HomeTeamErrors: 6
        RescheduledGameID: 3
        AwayTeamProbablePitcherID: 7
        GameEndDateTime: GameEndDateTime
        HomeRotationNumber: 3
        InningHalf: InningHalf
        HomeTeamProbablePitcherID: 6
        AwayTeamID: 5
        IsClosed: true
        LastPlay: LastPlay
        ForecastWindChill: 5
        UnderPayout: 9
        GlobalHomeTeamID: 6
        WinningPitcher: WinningPitcher
        HomeTeamStartingPitcher: HomeTeamStartingPitcher
        Season: 0
        GlobalGameID: 9
        Attendance: 0
        RunnerOnSecond: true
        SavingPitcherID: 4
        OverUnder: 7.740351818741173
        Strikes: 0
        CurrentPitcherID: 1
        SeasonType: 6
        PointSpread: 3.0205796992916243
        SavingPitcher: SavingPitcher
        LosingPitcherID: 0
        ForecastTempLow: 4
        WinningPitcherID: 0
        AwayTeamStartingPitcher: AwayTeamStartingPitcher
        Balls: 2
        PointSpreadHomeTeamMoneyLine: 7
        CurrentPitchingTeamID: 1
        Day: Day
      properties:
        Attendance:
          nullable: true
          type: integer
        AwayRotationNumber:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayTeamErrors:
          nullable: true
          type: integer
        AwayTeamHits:
          nullable: true
          type: integer
        AwayTeamID:
          nullable: false
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          type: integer
        AwayTeamProbablePitcherID:
          nullable: true
          type: integer
        AwayTeamRuns:
          nullable: true
          type: integer
        AwayTeamStartingPitcher:
          nullable: true
          type: string
        AwayTeamStartingPitcherID:
          nullable: true
          type: integer
        Balls:
          nullable: true
          type: integer
        Channel:
          nullable: true
          type: string
        CurrentHitter:
          nullable: true
          type: string
        CurrentHitterID:
          nullable: true
          type: integer
        CurrentHittingTeamID:
          nullable: true
          type: integer
        CurrentPitcher:
          nullable: true
          type: string
        CurrentPitcherID:
          nullable: true
          type: integer
        CurrentPitchingTeamID:
          nullable: true
          type: integer
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DueUpHitterID1:
          nullable: true
          type: integer
        DueUpHitterID2:
          nullable: true
          type: integer
        DueUpHitterID3:
          nullable: true
          type: integer
        ForecastDescription:
          nullable: true
          type: string
        ForecastTempHigh:
          nullable: true
          type: integer
        ForecastTempLow:
          nullable: true
          type: integer
        ForecastWindChill:
          nullable: true
          type: integer
        ForecastWindDirection:
          nullable: true
          type: integer
        ForecastWindSpeed:
          nullable: true
          type: integer
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        GlobalAwayTeamID:
          nullable: false
          type: integer
        GlobalGameID:
          nullable: false
          type: integer
        GlobalHomeTeamID:
          nullable: false
          type: integer
        HomeRotationNumber:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamErrors:
          nullable: true
          type: integer
        HomeTeamHits:
          nullable: true
          type: integer
        HomeTeamID:
          nullable: false
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          type: integer
        HomeTeamProbablePitcherID:
          nullable: true
          type: integer
        HomeTeamRuns:
          nullable: true
          type: integer
        HomeTeamStartingPitcher:
          nullable: true
          type: string
        HomeTeamStartingPitcherID:
          nullable: true
          type: integer
        Inning:
          nullable: true
          type: integer
        InningDescription:
          nullable: true
          type: string
        InningHalf:
          nullable: true
          type: string
        Innings:
          items:
            $ref: '#/components/schemas/Inning'
          type: array
        IsClosed:
          nullable: false
          type: boolean
        LastPlay:
          nullable: true
          type: string
        LosingPitcher:
          nullable: true
          type: string
        LosingPitcherID:
          nullable: true
          type: integer
        NeutralVenue:
          nullable: true
          type: boolean
        Outs:
          nullable: true
          type: integer
        OverPayout:
          nullable: true
          type: integer
        OverUnder:
          nullable: true
          type: number
        PointSpread:
          nullable: true
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          type: integer
        RescheduledFromGameID:
          nullable: true
          type: integer
        RescheduledGameID:
          nullable: true
          type: integer
        RunnerOnFirst:
          nullable: true
          type: boolean
        RunnerOnSecond:
          nullable: true
          type: boolean
        RunnerOnThird:
          nullable: true
          type: boolean
        SavingPitcher:
          nullable: true
          type: string
        SavingPitcherID:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        SeriesInfo:
          $ref: '#/components/schemas/Series'
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Strikes:
          nullable: true
          type: integer
        UnderPayout:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        WinningPitcher:
          nullable: true
          type: string
        WinningPitcherID:
          nullable: true
          type: integer
    Inning:
      example:
        InningID: 7
        AwayTeamRuns: 3
        InningNumber: 6
        HomeTeamRuns: 0
        GameID: 7
      properties:
        AwayTeamRuns:
          nullable: true
          type: integer
        GameID:
          nullable: false
          type: integer
        HomeTeamRuns:
          nullable: true
          type: integer
        InningID:
          nullable: false
          type: integer
        InningNumber:
          nullable: false
          type: integer
    News:
      example:
        PlayerID: 6
        OriginalSourceUrl: OriginalSourceUrl
        Updated: Updated
        Categories: Categories
        TermsOfUse: TermsOfUse
        Title: Title
        PlayerID2: 1
        TeamID: 5
        Source: Source
        Url: Url
        NewsID: 0
        TeamID2: 5
        Content: Content
        OriginalSource: OriginalSource
        Author: Author
        Team: Team
        Team2: Team2
        TimeAgo: TimeAgo
      properties:
        Author:
          nullable: true
          type: string
        Categories:
          nullable: true
          type: string
        Content:
          nullable: true
          type: string
        NewsID:
          nullable: false
          type: integer
        OriginalSource:
          nullable: true
          type: string
        OriginalSourceUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: true
          type: integer
        PlayerID2:
          nullable: true
          type: integer
        Source:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        Team2:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        TeamID2:
          nullable: true
          type: integer
        TermsOfUse:
          nullable: true
          type: string
        TimeAgo:
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
        Url:
          nullable: true
          type: string
    Player:
      example:
        PlayerID: 3
        InjuryStartDate: InjuryStartDate
        YahooName: YahooName
        GlobalTeamID: 5
        FanDuelName: FanDuelName
        InjuryStatus: InjuryStatus
        UsaTodayHeadshotUpdated: UsaTodayHeadshotUpdated
        SportsDirectPlayerID: 1
        UsaTodayPlayerID: 7
        Jersey: 7
        PhotoUrl: PhotoUrl
        Status: Status
        Position: Position
        FanDuelPlayerID: 6
        UsaTodayHeadshotUrl: UsaTodayHeadshotUrl
        XmlTeamPlayerID: 4
        Weight: 1
        Experience: Experience
        SportRadarPlayerID: SportRadarPlayerID
        College: College
        LastName: LastName
        BirthDate: BirthDate
        Salary: 7
        FantasyDraftPlayerID: 5
        SportsDataID: SportsDataID
        RotoworldPlayerID: 4
        TeamID: 1
        DraftKingsPlayerID: 0
        UpcomingGameID: 6
        UsaTodayHeadshotNoBackgroundUpdated: UsaTodayHeadshotNoBackgroundUpdated
        Height: 2
        Team: Team
        ThrowHand: ThrowHand
        YahooPlayerID: 5
        FantasyDraftName: FantasyDraftName
        StatsPlayerID: 1
        BatHand: BatHand
        FirstName: FirstName
        PositionCategory: PositionCategory
        ProDebut: ProDebut
        UsaTodayHeadshotNoBackgroundUrl: UsaTodayHeadshotNoBackgroundUrl
        BirthState: BirthState
        DraftKingsName: DraftKingsName
        BirthCountry: BirthCountry
        InjuryBodyPart: InjuryBodyPart
        InjuryNotes: InjuryNotes
        RotoWirePlayerID: 2
        FantasyAlarmPlayerID: 1
        HighSchool: HighSchool
        BirthCity: BirthCity
        MLBAMID: 9
      properties:
        BatHand:
          nullable: true
          type: string
        BirthCity:
          nullable: true
          type: string
        BirthCountry:
          nullable: true
          type: string
        BirthDate:
          nullable: true
          type: string
        BirthState:
          nullable: true
          type: string
        College:
          nullable: true
          type: string
        DraftKingsName:
          nullable: true
          type: string
        DraftKingsPlayerID:
          nullable: true
          type: integer
        Experience:
          nullable: true
          type: string
        FanDuelName:
          nullable: true
          type: string
        FanDuelPlayerID:
          nullable: true
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          type: integer
        FantasyDraftName:
          nullable: true
          type: string
        FantasyDraftPlayerID:
          nullable: true
          type: integer
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: integer
        HighSchool:
          nullable: true
          type: string
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        Jersey:
          nullable: true
          type: integer
        LastName:
          nullable: true
          type: string
        MLBAMID:
          nullable: true
          type: integer
        PhotoUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        ProDebut:
          nullable: true
          type: string
        RotoWirePlayerID:
          nullable: true
          type: integer
        RotoworldPlayerID:
          nullable: true
          type: integer
        Salary:
          nullable: true
          type: integer
        SportRadarPlayerID:
          nullable: true
          type: string
        SportsDataID:
          nullable: true
          type: string
        SportsDirectPlayerID:
          nullable: true
          type: integer
        StatsPlayerID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        ThrowHand:
          nullable: true
          type: string
        UpcomingGameID:
          nullable: true
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          type: string
        UsaTodayPlayerID:
          nullable: true
          type: integer
        Weight:
          nullable: true
          type: integer
        XmlTeamPlayerID:
          nullable: true
          type: integer
        YahooName:
          nullable: true
          type: string
        YahooPlayerID:
          nullable: true
          type: integer
    PlayerBasic:
      example:
        Status: Status
        PlayerID: 5
        BatHand: BatHand
        Position: Position
        FirstName: FirstName
        PositionCategory: PositionCategory
        SportsDataID: SportsDataID
        GlobalTeamID: 0
        BirthState: BirthState
        TeamID: 5
        BirthCountry: BirthCountry
        Weight: 2
        BirthCity: BirthCity
        Height: 6
        Team: Team
        Jersey: 1
        LastName: LastName
        ThrowHand: ThrowHand
        BirthDate: BirthDate
      properties:
        BatHand:
          nullable: true
          type: string
        BirthCity:
          nullable: true
          type: string
        BirthCountry:
          nullable: true
          type: string
        BirthDate:
          nullable: true
          type: string
        BirthState:
          nullable: true
          type: string
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: integer
        Jersey:
          nullable: true
          type: integer
        LastName:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        SportsDataID:
          nullable: true
          type: string
        Status:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        ThrowHand:
          nullable: true
          type: string
        Weight:
          nullable: true
          type: integer
    ScheduleBasic:
      example:
        Status: Status
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        HomeTeam: HomeTeam
        Updated: Updated
        HomeTeamID: 1
        AwayTeamID: 0
        IsClosed: true
        DateTime: DateTime
        StadiumID: 9
        SeriesInfo:
          GameNumber: 1
          MaxLength: 7
          AwayTeamWins: 4
          HomeTeamWins: 4
        SeasonType: 7
        DateTimeUTC: DateTimeUTC
        RescheduledFromGameID: 5
        Season: 2
        Day: Day
        RescheduledGameID: 5
        GameID: 6
      properties:
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: true
          type: integer
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: true
          type: integer
        IsClosed:
          nullable: false
          type: boolean
        RescheduledFromGameID:
          nullable: true
          type: integer
        RescheduledGameID:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        SeriesInfo:
          $ref: '#/components/schemas/Series'
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
    ScoreBasic:
      example:
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        InningHalf: InningHalf
        AwayTeamRuns: 5
        HomeTeamID: 7
        AwayTeamID: 5
        IsClosed: true
        DateTime: DateTime
        HomeTeamHits: 4
        AwayTeamErrors: 6
        GlobalHomeTeamID: 3
        Season: 7
        AwayTeamHits: 1
        GameID: 2
        GlobalGameID: 9
        Attendance: 0
        Status: Status
        HomeTeam: HomeTeam
        Updated: Updated
        Inning: 1
        HomeTeamRuns: 1
        NeutralVenue: true
        StadiumID: 4
        SeriesInfo:
          GameNumber: 1
          MaxLength: 7
          AwayTeamWins: 4
          HomeTeamWins: 4
        SeasonType: 1
        GlobalAwayTeamID: 7
        DateTimeUTC: DateTimeUTC
        RescheduledFromGameID: 1
        Day: Day
        HomeTeamErrors: 2
        RescheduledGameID: 6
      properties:
        Attendance:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayTeamErrors:
          nullable: true
          type: integer
        AwayTeamHits:
          nullable: true
          type: integer
        AwayTeamID:
          nullable: true
          type: integer
        AwayTeamRuns:
          nullable: true
          type: integer
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: true
          type: integer
        GlobalAwayTeamID:
          nullable: false
          type: integer
        GlobalGameID:
          nullable: false
          type: integer
        GlobalHomeTeamID:
          nullable: false
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamErrors:
          nullable: true
          type: integer
        HomeTeamHits:
          nullable: true
          type: integer
        HomeTeamID:
          nullable: true
          type: integer
        HomeTeamRuns:
          nullable: true
          type: integer
        Inning:
          nullable: true
          type: integer
        InningHalf:
          nullable: true
          type: string
        IsClosed:
          nullable: false
          type: boolean
        NeutralVenue:
          nullable: true
          type: boolean
        RescheduledFromGameID:
          nullable: true
          type: integer
        RescheduledGameID:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        SeriesInfo:
          $ref: '#/components/schemas/Series'
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
    Season:
      example:
        SeasonType: SeasonType
        RegularSeasonStartDate: RegularSeasonStartDate
        PostSeasonStartDate: PostSeasonStartDate
        ApiSeason: ApiSeason
        Season: 0
      properties:
        ApiSeason:
          nullable: true
          type: string
        PostSeasonStartDate:
          nullable: true
          type: string
        RegularSeasonStartDate:
          nullable: true
          type: string
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: true
          type: string
    Series:
      example:
        GameNumber: 1
        MaxLength: 7
        AwayTeamWins: 4
        HomeTeamWins: 4
      properties:
        AwayTeamWins:
          nullable: false
          type: integer
        GameNumber:
          nullable: false
          type: integer
        HomeTeamWins:
          nullable: false
          type: integer
        MaxLength:
          nullable: false
          type: integer
    Stadium:
      example:
        GeoLat: 5.962133916683182
        HomePlateDirection: 2
        MidLeftField: 2
        CenterField: 1
        RightField: 1
        City: City
        Name: Name
        StadiumID: 1
        Surface: Surface
        Active: true
        LeftField: 9
        RightCenterField: 1
        Type: Type
        MidRightField: 7
        Capacity: 6
        State: State
        Country: Country
        GeoLong: 5.637376656633329
        MidRightCenterField: 4
        LeftCenterField: 7
        MidLeftCenterField: 3
        Altitude: 0
      properties:
        Active:
          nullable: false
          type: boolean
        Altitude:
          nullable: true
          type: integer
        Capacity:
          nullable: true
          type: integer
        CenterField:
          nullable: true
          type: integer
        City:
          nullable: true
          type: string
        Country:
          nullable: true
          type: string
        GeoLat:
          nullable: true
          type: number
        GeoLong:
          nullable: true
          type: number
        HomePlateDirection:
          nullable: true
          type: integer
        LeftCenterField:
          nullable: true
          type: integer
        LeftField:
          nullable: true
          type: integer
        MidLeftCenterField:
          nullable: true
          type: integer
        MidLeftField:
          nullable: true
          type: integer
        MidRightCenterField:
          nullable: true
          type: integer
        MidRightField:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        RightCenterField:
          nullable: true
          type: integer
        RightField:
          nullable: true
          type: integer
        StadiumID:
          nullable: false
          type: integer
        State:
          nullable: true
          type: string
        Surface:
          nullable: true
          type: string
        Type:
          nullable: true
          type: string
    Standing:
      example:
        LastTenGamesWins: 1
        DivisionRank: 2
        LeagueRank: 1
        DivisionLosses: 5
        GlobalTeamID: 3
        TeamID: 6
        AwayWins: 6
        Name: Name
        NightLosses: 6
        HomeWins: 4
        RunsAgainst: 4
        WildCardRank: 9
        Division: Division
        DivisionWins: 7
        Season: 9
        RunsScored: 5
        Wins: 6
        League: League
        AwayLosses: 0
        Streak: Streak
        Percentage: 1.1730742509559433
        City: City
        DayWins: 5
        GamesBehind: 9.301444243932576
        Losses: 1
        SeasonType: 9
        NightWins: 7
        DayLosses: 1
        HomeLosses: 2
        WildCardGamesBehind: 8.762042012749001
        LastTenGamesLosses: 7
        Key: Key
      properties:
        AwayLosses:
          nullable: true
          type: integer
        AwayWins:
          nullable: true
          type: integer
        City:
          nullable: true
          type: string
        DayLosses:
          nullable: true
          type: integer
        DayWins:
          nullable: true
          type: integer
        Division:
          nullable: true
          type: string
        DivisionLosses:
          nullable: true
          type: integer
        DivisionRank:
          nullable: true
          type: integer
        DivisionWins:
          nullable: true
          type: integer
        GamesBehind:
          nullable: true
          type: number
        GlobalTeamID:
          nullable: true
          type: integer
        HomeLosses:
          nullable: true
          type: integer
        HomeWins:
          nullable: true
          type: integer
        Key:
          nullable: true
          type: string
        LastTenGamesLosses:
          nullable: true
          type: integer
        LastTenGamesWins:
          nullable: true
          type: integer
        League:
          nullable: true
          type: string
        LeagueRank:
          nullable: true
          type: integer
        Losses:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        NightLosses:
          nullable: true
          type: integer
        NightWins:
          nullable: true
          type: integer
        Percentage:
          nullable: true
          type: number
        RunsAgainst:
          nullable: true
          type: integer
        RunsScored:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Streak:
          nullable: true
          type: string
        TeamID:
          nullable: false
          type: integer
        WildCardGamesBehind:
          nullable: true
          type: number
        WildCardRank:
          nullable: true
          type: integer
        Wins:
          nullable: true
          type: integer
    Team:
      example:
        League: League
        WikipediaLogoUrl: WikipediaLogoUrl
        GlobalTeamID: 0
        TertiaryColor: TertiaryColor
        City: City
        TeamID: 1
        Name: Name
        StadiumID: 6
        Active: true
        PrimaryColor: PrimaryColor
        WikipediaWordMarkUrl: WikipediaWordMarkUrl
        SecondaryColor: SecondaryColor
        Division: Division
        Key: Key
        QuaternaryColor: QuaternaryColor
      properties:
        Active:
          nullable: false
          type: boolean
        City:
          nullable: true
          type: string
        Division:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: false
          type: integer
        Key:
          nullable: true
          type: string
        League:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        PrimaryColor:
          nullable: true
          type: string
        QuaternaryColor:
          nullable: true
          type: string
        SecondaryColor:
          nullable: true
          type: string
        StadiumID:
          nullable: true
          type: integer
        TeamID:
          nullable: false
          type: integer
        TertiaryColor:
          nullable: true
          type: string
        WikipediaLogoUrl:
          nullable: true
          type: string
        WikipediaWordMarkUrl:
          nullable: true
          type: string
    TeamGame:
      example:
        IntentionalWalks: 5.944895607614016
        PitchingQualityStarts: 8.28965939814297
        PitchingTriples: 5.312489704336296
        PitchingHomeRuns: 7.933506881737151
        HitByPitch: 3.5571952270680973
        PitchingBlownSaves: 5.533258397034986
        DateTime: DateTime
        SubstituteBattingOrder: 9
        IsolatedPower: 6.704019297950036
        PitchingCompleteGames: 4.078845849666752
        PitchingOnBasePlusSlugging: 3.901545264248647
        CaughtStealing: 5.637376656633329
        PopOuts: 9.897492629215506
        PitchingGroundOuts: 9.132027271330688
        Singles: 0.4833312865174044
        PitchingShutOuts: 1.8268702177058116
        EarnedRunAverage: 9.301444243932576
        Wins: 3.812761638325517
        GameID: 4
        Outs: 0.10263654006109402
        GroundOuts: 6.438423552598547
        PitchingInningStarted: 5
        PitchingHolds: 0.5199002018724985
        OnBasePercentage: 0.8851374739011653
        PitchingCatchersInterference: 3.2588565619047607
        PitchingWeightedOnBasePercentage: 3.7814124730767915
        PitchingDoublePlays: 0.2025324113236393
        OpponentID: 6
        Losses: 7.143538047012306
        FantasyPointsDraftKings: 7.386281948385884
        HomeRuns: 1.284659006116532
        PitchingStrikeoutsPerNineInnings: 0.4182561061793122
        PitchingSluggingPercentage: 9.183123594773994
        WeightedOnBasePercentage: 1.2555055362323109
        Hits: 6.965117697638846
        IsGameOver: true
        PitchesThrownStrikes: 7.740351818741173
        PitchingGroundIntoDoublePlay: 7.260521264802104
        TeamID: 2
        Runs: 7.835035282970782
        PitchingPlateAppearances: 2.9409642974827896
        PitchingRuns: 4.573936264232251
        PlateAppearances: 3.111202833403195
        Strikeouts: 2.7977867356748476
        PitchingHits: 9.702963800023566
        BattingAverageOnBallsInPlay: 5.962133916683182
        Team: Team
        PitchingLineOuts: 6.073898085781152
        Season: 8
        Walks: 9.806951670467935
        PitchingBattingAverageOnBallsInPlay: 7.04836565559697
        PitchingGrandSlams: 4.678947989005849
        PitchesSeen: 4.652396432933246
        TotalOutsPitched: 4.8789878742268815
        PitchingFlyOuts: 1.041444916118296
        DoublePlays: 2.3021358869347655
        WalksHitsPerInningsPitched: 1.3949519358941398
        HomeOrAway: HomeOrAway
        InningsPitchedDecimal: 2.8841621266687802
        PitchingDoubles: 6.628464275087742
        PitchingBallsInPlay: 3.0205796992916243
        Day: Day
        PitchingSacrifices: 9.254183946267839
        LeftOnBase: 3.353193347011243
        PitchingBattingAverageAgainst: 3.0576100241049344
        SacrificeFlies: 3.1497903714250555
        GlobalTeamID: 6
        Name: Name
        PitchingWalks: 8.37823741034869
        BattingAverage: 1.4658129805029452
        Doubles: 7.061401241503109
        PitchingEarnedRuns: 4.258773108174356
        OnBasePlusSlugging: 7.058770351582356
        BallsInPlay: 6.027456183070403
        PitchingIntentionalWalks: 4.86315908102884
        PitchesThrown: 8.969578798196912
        AtBats: 0.8008281904610115
        SubstituteBattingOrderSequence: 0
        InningsPitchedOuts: 6.878052220127876
        FantasyPointsBatting: 4.145608029883936
        Updated: Updated
        Triples: 6.966044574347761
        BattingOrderConfirmed: true
        LineOuts: 3.0937452626664474
        PitchingReachedOnError: 6.623518433804886
        FantasyPointsFanDuel: 1.2315135367772556
        RunsBattedIn: 0.4768402382624515
        PitchingOnBasePercentage: 4.459605034958679
        Errors: 3.616076749251911
        PitchingPerfectGames: 0.43431398824148815
        Games: 5
        SluggingPercentage: 0.35262192099236644
        PitchingSingles: 3.502657762086401
        StatID: 7
        PitchingStrikeouts: 8.761432466225475
        GrandSlams: 8.762042012749001
        Saves: 3.804112695731078
        StolenBases: 4.332304821875894
        FantasyPointsYahoo: 6.84685269835264
        FieldingIndependentPitching: 7.457744773683766
        PitchingTotalBases: 5.299143560275359
        Sacrifices: 2.380090174313445
        InningsPitchedFull: 6.778324963048013
        FantasyPointsFantasyDraft: 1.0246457001441578
        FlyOuts: 1.1730742509559433
        GlobalOpponentID: 9
        Opponent: Opponent
        GroundIntoDoublePlay: 9.018348186070783
        TotalBases: 6.173804034172511
        ReachedOnError: 5.877124706116695
        GlobalGameID: 9
        FantasyPoints: 2.027123023002322
        PitchingNoHitters: 8.251625748923757
        PitchingSacrificeFlies: 8.863729185622827
        PitchingHitByPitch: 0.8774076871421566
        SeasonType: 4
        PitchingPopOuts: 1.7325933120207193
        PitchingWalksPerNineInnings: 7.606863723092579
        FantasyPointsPitching: 1.4894159098541704
      properties:
        AtBats:
          nullable: true
          type: number
        BallsInPlay:
          nullable: true
          type: number
        BattingAverage:
          nullable: true
          type: number
        BattingAverageOnBallsInPlay:
          nullable: true
          type: number
        BattingOrderConfirmed:
          nullable: true
          type: boolean
        CaughtStealing:
          nullable: true
          type: number
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DoublePlays:
          nullable: true
          type: number
        Doubles:
          nullable: true
          type: number
        EarnedRunAverage:
          nullable: true
          type: number
        Errors:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsBatting:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsPitching:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FieldingIndependentPitching:
          nullable: true
          type: number
        FlyOuts:
          nullable: true
          type: number
        GameID:
          nullable: true
          type: integer
        Games:
          nullable: true
          type: integer
        GlobalGameID:
          nullable: true
          type: integer
        GlobalOpponentID:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        GrandSlams:
          nullable: true
          type: number
        GroundIntoDoublePlay:
          nullable: true
          type: number
        GroundOuts:
          nullable: true
          type: number
        HitByPitch:
          nullable: true
          type: number
        Hits:
          nullable: true
          type: number
        HomeOrAway:
          nullable: true
          type: string
        HomeRuns:
          nullable: true
          type: number
        InningsPitchedDecimal:
          nullable: true
          type: number
        InningsPitchedFull:
          nullable: true
          type: number
        InningsPitchedOuts:
          nullable: true
          type: number
        IntentionalWalks:
          nullable: true
          type: number
        IsGameOver:
          nullable: false
          type: boolean
        IsolatedPower:
          nullable: true
          type: number
        LeftOnBase:
          nullable: true
          type: number
        LineOuts:
          nullable: true
          type: number
        Losses:
          nullable: true
          type: number
        Name:
          nullable: true
          type: string
        OnBasePercentage:
          nullable: true
          type: number
        OnBasePlusSlugging:
          nullable: true
          type: number
        Opponent:
          nullable: true
          type: string
        OpponentID:
          nullable: true
          type: integer
        Outs:
          nullable: true
          type: number
        PitchesSeen:
          nullable: true
          type: number
        PitchesThrown:
          nullable: true
          type: number
        PitchesThrownStrikes:
          nullable: true
          type: number
        PitchingBallsInPlay:
          nullable: true
          type: number
        PitchingBattingAverageAgainst:
          nullable: true
          type: number
        PitchingBattingAverageOnBallsInPlay:
          nullable: true
          type: number
        PitchingBlownSaves:
          nullable: true
          type: number
        PitchingCatchersInterference:
          nullable: true
          type: number
        PitchingCompleteGames:
          nullable: true
          type: number
        PitchingDoublePlays:
          nullable: true
          type: number
        PitchingDoubles:
          nullable: true
          type: number
        PitchingEarnedRuns:
          nullable: true
          type: number
        PitchingFlyOuts:
          nullable: true
          type: number
        PitchingGrandSlams:
          nullable: true
          type: number
        PitchingGroundIntoDoublePlay:
          nullable: true
          type: number
        PitchingGroundOuts:
          nullable: true
          type: number
        PitchingHitByPitch:
          nullable: true
          type: number
        PitchingHits:
          nullable: true
          type: number
        PitchingHolds:
          nullable: true
          type: number
        PitchingHomeRuns:
          nullable: true
          type: number
        PitchingInningStarted:
          nullable: true
          type: integer
        PitchingIntentionalWalks:
          nullable: true
          type: number
        PitchingLineOuts:
          nullable: true
          type: number
        PitchingNoHitters:
          nullable: true
          type: number
        PitchingOnBasePercentage:
          nullable: true
          type: number
        PitchingOnBasePlusSlugging:
          nullable: true
          type: number
        PitchingPerfectGames:
          nullable: true
          type: number
        PitchingPlateAppearances:
          nullable: true
          type: number
        PitchingPopOuts:
          nullable: true
          type: number
        PitchingQualityStarts:
          nullable: true
          type: number
        PitchingReachedOnError:
          nullable: true
          type: number
        PitchingRuns:
          nullable: true
          type: number
        PitchingSacrificeFlies:
          nullable: true
          type: number
        PitchingSacrifices:
          nullable: true
          type: number
        PitchingShutOuts:
          nullable: true
          type: number
        PitchingSingles:
          nullable: true
          type: number
        PitchingSluggingPercentage:
          nullable: true
          type: number
        PitchingStrikeouts:
          nullable: true
          type: number
        PitchingStrikeoutsPerNineInnings:
          nullable: true
          type: number
        PitchingTotalBases:
          nullable: true
          type: number
        PitchingTriples:
          nullable: true
          type: number
        PitchingWalks:
          nullable: true
          type: number
        PitchingWalksPerNineInnings:
          nullable: true
          type: number
        PitchingWeightedOnBasePercentage:
          nullable: true
          type: number
        PlateAppearances:
          nullable: true
          type: number
        PopOuts:
          nullable: true
          type: number
        ReachedOnError:
          nullable: true
          type: number
        Runs:
          nullable: true
          type: number
        RunsBattedIn:
          nullable: true
          type: number
        SacrificeFlies:
          nullable: true
          type: number
        Sacrifices:
          nullable: true
          type: number
        Saves:
          nullable: true
          type: number
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        Singles:
          nullable: true
          type: number
        SluggingPercentage:
          nullable: true
          type: number
        StatID:
          nullable: false
          type: integer
        StolenBases:
          nullable: true
          type: number
        Strikeouts:
          nullable: true
          type: number
        SubstituteBattingOrder:
          nullable: true
          type: integer
        SubstituteBattingOrderSequence:
          nullable: true
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        TotalBases:
          nullable: true
          type: number
        TotalOutsPitched:
          nullable: true
          type: number
        Triples:
          nullable: true
          type: number
        Updated:
          nullable: true
          type: string
        Walks:
          nullable: true
          type: number
        WalksHitsPerInningsPitched:
          nullable: true
          type: number
        WeightedOnBasePercentage:
          nullable: true
          type: number
        Wins:
          nullable: true
          type: number
    TeamSeason:
      example:
        IntentionalWalks: 2.8841621266687802
        PitchingQualityStarts: 3.901545264248647
        PitchingTriples: 9.183123594773994
        PitchingHomeRuns: 9.132027271330688
        HitByPitch: 8.762042012749001
        PitchingBlownSaves: 7.740351818741173
        SubstituteBattingOrder: 0
        IsolatedPower: 6.778324963048013
        PitchingCompleteGames: 3.0576100241049344
        PitchingOnBasePlusSlugging: 4.86315908102884
        CaughtStealing: 5.637376656633329
        PopOuts: 8.37823741034869
        PitchingGroundOuts: 4.258773108174356
        Singles: 2.380090174313445
        PitchingShutOuts: 6.623518433804886
        EarnedRunAverage: 9.301444243932576
        Wins: 6.966044574347761
        Outs: 7.143538047012306
        GroundOuts: 6.683562403749608
        PitchingInningStarted: 0
        PitchingHolds: 7.260521264802104
        OnBasePercentage: 3.353193347011243
        PitchingCatchersInterference: 3.0205796992916243
        PitchingWeightedOnBasePercentage: 5.299143560275359
        PitchingDoublePlays: 7.04836565559697
        Losses: 6.704019297950036
        FantasyPointsDraftKings: 7.386281948385884
        HomeRuns: 6.438423552598547
        PitchingStrikeoutsPerNineInnings: 1.8268702177058116
        PitchingSluggingPercentage: 8.863729185622827
        WeightedOnBasePercentage: 4.8789878742268815
        Hits: 9.018348186070783
        PitchesThrownStrikes: 6.519180951018382
        PitchingGroundIntoDoublePlay: 6.628464275087742
        TeamID: 4
        Runs: 3.7814124730767915
        PitchingPlateAppearances: 8.251625748923757
        PitchingRuns: 2.9409642974827896
        PlateAppearances: 5.312489704336296
        Strikeouts: 0.4833312865174044
        PitchingHits: 4.678947989005849
        BattingAverageOnBallsInPlay: 5.962133916683182
        Team: Team
        PitchingLineOuts: 0.5199002018724985
        Season: 0
        Walks: 2.535258963197524
        PitchingBattingAverageOnBallsInPlay: 8.969578798196912
        PitchingGrandSlams: 0.2025324113236393
        PitchesSeen: 0.8851374739011653
        TotalOutsPitched: 9.386524999783381
        PitchingFlyOuts: 4.078845849666752
        DoublePlays: 2.3021358869347655
        WalksHitsPerInningsPitched: 6.173804034172511
        InningsPitchedDecimal: 3.5571952270680973
        PitchingDoubles: 5.533258397034986
        PitchingBallsInPlay: 0.10263654006109402
        PitchingSacrifices: 8.28965939814297
        LeftOnBase: 6.878052220127876
        PitchingBattingAverageAgainst: 4.652396432933246
        SacrificeFlies: 9.897492629215506
        GlobalTeamID: 5
        Name: Name
        PitchingWalks: 8.761432466225475
        BattingAverage: 1.4658129805029452
        Doubles: 7.061401241503109
        PitchingEarnedRuns: 3.2588565619047607
        OnBasePlusSlugging: 3.0937452626664474
        BallsInPlay: 6.027456183070403
        PitchingIntentionalWalks: 9.702963800023566
        PitchesThrown: 7.058770351582356
        AtBats: 0.8008281904610115
        SubstituteBattingOrderSequence: 7
        InningsPitchedOuts: 1.284659006116532
        FantasyPointsBatting: 4.145608029883936
        Updated: Updated
        Triples: 0.58919091925136
        BattingOrderConfirmed: true
        LineOuts: 5.944895607614016
        PitchingReachedOnError: 0.43431398824148815
        FantasyPointsFanDuel: 1.2315135367772556
        RunsBattedIn: 3.111202833403195
        PitchingOnBasePercentage: 5.507386964179881
        Errors: 3.616076749251911
        PitchingPerfectGames: 6.073898085781152
        Games: 4
        SluggingPercentage: 3.804112695731078
        PitchingSingles: 4.573936264232251
        StatID: 8
        PitchingStrikeouts: 9.254183946267839
        GrandSlams: 9.965781217890562
        Saves: 7.835035282970782
        StolenBases: 4.518309517874243
        FantasyPointsYahoo: 6.84685269835264
        FieldingIndependentPitching: 7.457744773683766
        PitchingTotalBases: 3.502657762086401
        Sacrifices: 5.877124706116695
        InningsPitchedFull: 6.965117697638846
        FantasyPointsFantasyDraft: 1.0246457001441578
        FlyOuts: 1.1730742509559433
        GroundIntoDoublePlay: 9.369310271410669
        TotalBases: 2.7977867356748476
        ReachedOnError: 7.606863723092579
        FantasyPoints: 2.027123023002322
        PitchingNoHitters: 7.933506881737151
        PitchingSacrificeFlies: 1.7325933120207193
        PitchingHitByPitch: 1.041444916118296
        SeasonType: 3
        PitchingPopOuts: 4.459605034958679
        PitchingWalksPerNineInnings: 0.4182561061793122
        FantasyPointsPitching: 1.4894159098541704
      properties:
        AtBats:
          nullable: true
          type: number
        BallsInPlay:
          nullable: true
          type: number
        BattingAverage:
          nullable: true
          type: number
        BattingAverageOnBallsInPlay:
          nullable: true
          type: number
        BattingOrderConfirmed:
          nullable: true
          type: boolean
        CaughtStealing:
          nullable: true
          type: number
        DoublePlays:
          nullable: true
          type: number
        Doubles:
          nullable: true
          type: number
        EarnedRunAverage:
          nullable: true
          type: number
        Errors:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsBatting:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsPitching:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FieldingIndependentPitching:
          nullable: true
          type: number
        FlyOuts:
          nullable: true
          type: number
        Games:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        GrandSlams:
          nullable: true
          type: number
        GroundIntoDoublePlay:
          nullable: true
          type: number
        GroundOuts:
          nullable: true
          type: number
        HitByPitch:
          nullable: true
          type: number
        Hits:
          nullable: true
          type: number
        HomeRuns:
          nullable: true
          type: number
        InningsPitchedDecimal:
          nullable: true
          type: number
        InningsPitchedFull:
          nullable: true
          type: number
        InningsPitchedOuts:
          nullable: true
          type: number
        IntentionalWalks:
          nullable: true
          type: number
        IsolatedPower:
          nullable: true
          type: number
        LeftOnBase:
          nullable: true
          type: number
        LineOuts:
          nullable: true
          type: number
        Losses:
          nullable: true
          type: number
        Name:
          nullable: true
          type: string
        OnBasePercentage:
          nullable: true
          type: number
        OnBasePlusSlugging:
          nullable: true
          type: number
        Outs:
          nullable: true
          type: number
        PitchesSeen:
          nullable: true
          type: number
        PitchesThrown:
          nullable: true
          type: number
        PitchesThrownStrikes:
          nullable: true
          type: number
        PitchingBallsInPlay:
          nullable: true
          type: number
        PitchingBattingAverageAgainst:
          nullable: true
          type: number
        PitchingBattingAverageOnBallsInPlay:
          nullable: true
          type: number
        PitchingBlownSaves:
          nullable: true
          type: number
        PitchingCatchersInterference:
          nullable: true
          type: number
        PitchingCompleteGames:
          nullable: true
          type: number
        PitchingDoublePlays:
          nullable: true
          type: number
        PitchingDoubles:
          nullable: true
          type: number
        PitchingEarnedRuns:
          nullable: true
          type: number
        PitchingFlyOuts:
          nullable: true
          type: number
        PitchingGrandSlams:
          nullable: true
          type: number
        PitchingGroundIntoDoublePlay:
          nullable: true
          type: number
        PitchingGroundOuts:
          nullable: true
          type: number
        PitchingHitByPitch:
          nullable: true
          type: number
        PitchingHits:
          nullable: true
          type: number
        PitchingHolds:
          nullable: true
          type: number
        PitchingHomeRuns:
          nullable: true
          type: number
        PitchingInningStarted:
          nullable: true
          type: integer
        PitchingIntentionalWalks:
          nullable: true
          type: number
        PitchingLineOuts:
          nullable: true
          type: number
        PitchingNoHitters:
          nullable: true
          type: number
        PitchingOnBasePercentage:
          nullable: true
          type: number
        PitchingOnBasePlusSlugging:
          nullable: true
          type: number
        PitchingPerfectGames:
          nullable: true
          type: number
        PitchingPlateAppearances:
          nullable: true
          type: number
        PitchingPopOuts:
          nullable: true
          type: number
        PitchingQualityStarts:
          nullable: true
          type: number
        PitchingReachedOnError:
          nullable: true
          type: number
        PitchingRuns:
          nullable: true
          type: number
        PitchingSacrificeFlies:
          nullable: true
          type: number
        PitchingSacrifices:
          nullable: true
          type: number
        PitchingShutOuts:
          nullable: true
          type: number
        PitchingSingles:
          nullable: true
          type: number
        PitchingSluggingPercentage:
          nullable: true
          type: number
        PitchingStrikeouts:
          nullable: true
          type: number
        PitchingStrikeoutsPerNineInnings:
          nullable: true
          type: number
        PitchingTotalBases:
          nullable: true
          type: number
        PitchingTriples:
          nullable: true
          type: number
        PitchingWalks:
          nullable: true
          type: number
        PitchingWalksPerNineInnings:
          nullable: true
          type: number
        PitchingWeightedOnBasePercentage:
          nullable: true
          type: number
        PlateAppearances:
          nullable: true
          type: number
        PopOuts:
          nullable: true
          type: number
        ReachedOnError:
          nullable: true
          type: number
        Runs:
          nullable: true
          type: number
        RunsBattedIn:
          nullable: true
          type: number
        SacrificeFlies:
          nullable: true
          type: number
        Sacrifices:
          nullable: true
          type: number
        Saves:
          nullable: true
          type: number
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        Singles:
          nullable: true
          type: number
        SluggingPercentage:
          nullable: true
          type: number
        StatID:
          nullable: false
          type: integer
        StolenBases:
          nullable: true
          type: number
        Strikeouts:
          nullable: true
          type: number
        SubstituteBattingOrder:
          nullable: true
          type: integer
        SubstituteBattingOrderSequence:
          nullable: true
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        TotalBases:
          nullable: true
          type: number
        TotalOutsPitched:
          nullable: true
          type: number
        Triples:
          nullable: true
          type: number
        Updated:
          nullable: true
          type: string
        Walks:
          nullable: true
          type: number
        WalksHitsPerInningsPitched:
          nullable: true
          type: number
        WeightedOnBasePercentage:
          nullable: true
          type: number
        Wins:
          nullable: true
          type: number
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey

