openapi: 3.0.1
info:
  description: Use these REST APIs for performing retrieving a collection of policy
    snippets available in Azure API Management deployment.
  title: ApiManagementClient
  version: 2019-12-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimpolicydescriptions.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: apimanagement-apimpolicydescriptions
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policyDescriptions
  : get:
      description: Lists all policy descriptions.
      operationId: policy_description_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Policy scope.
        in: query
        name: scope
        schema:
          enum:
          - Tenant
          - Product
          - Api
          - Operation
          - All
          type: string
          x-ms-enum:
            modelAsString: false
            name: PolicyScopeContract
        x-ms-enum:
          modelAsString: false
          name: PolicyScopeContract
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDescription_ListByService_200_response'
          description: Returns an array of policy descriptions.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyDescription_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - PolicyDescription
      x-ms-examples:
        ApiManagementListPolicyDescriptions:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            scope: Api
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                count: 2
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policyDescriptions/authentication-basic
                  name: authentication-basic
                  properties:
                    description: Authenticate with the backend service using Basic
                      authentication. Use in the inbound section at API scope.
                    scope: 268435471
                  type: Microsoft.ApiManagement/service/policyDescriptions
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policyDescriptions/authentication-certificate
                  name: authentication-certificate
                  properties:
                    description: Authenticate with the backend service using a client
                      certificate. Use in the inbound section at API scope.
                    scope: 268435471
                  type: Microsoft.ApiManagement/service/policyDescriptions
      x-openapi-router-controller: openapi_server.controllers.policy_description_controller
components:
  schemas:
    PolicyDescription_ListByService_200_response:
      description: Descriptions of APIM policies.
      example:
        count: 0
        value:
        - properties:
            scope: 6
            description: description
        - properties:
            scope: 6
            description: description
      properties:
        count:
          description: Total record count number.
          format: int64
          title: count
          type: integer
        value:
          description: Descriptions of APIM policies.
          items:
            $ref: '#/components/schemas/PolicyDescription_ListByService_200_response_value_inner'
          title: value
          type: array
      title: PolicyDescription_ListByService_200_response
      type: object
    PolicyDescription_ListByService_default_response_error_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          title: code
          type: string
        message:
          description: Human-readable representation of property-level error.
          title: message
          type: string
        target:
          description: Property name.
          title: target
          type: string
      title: PolicyDescription_ListByService_default_response_error_details_inner
      type: object
    PolicyDescription_ListByService_200_response_value_inner:
      description: Policy description details.
      example:
        properties:
          scope: 6
          description: description
      properties:
        properties:
          $ref: '#/components/schemas/PolicyDescription_ListByService_200_response_value_inner_properties'
      title: PolicyDescription_ListByService_200_response_value_inner
      type: object
    PolicyDescription_ListByService_200_response_value_inner_properties:
      description: Policy description properties.
      example:
        scope: 6
        description: description
      properties:
        description:
          description: Policy description.
          readOnly: true
          title: description
          type: string
        scope:
          description: Binary OR value of the Snippet scope.
          readOnly: true
          title: scope
          type: integer
      title: PolicyDescription_ListByService_200_response_value_inner_properties
      type: object
    PolicyDescription_ListByService_default_response:
      description: Error Response.
      example:
        error:
          code: code
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
      properties:
        error:
          $ref: '#/components/schemas/PolicyDescription_ListByService_default_response_error'
      title: PolicyDescription_ListByService_default_response
      type: object
    PolicyDescription_ListByService_default_response_error:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          title: code
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/PolicyDescription_ListByService_default_response_error_details_inner'
          title: details
          type: array
        message:
          description: Human-readable representation of the error.
          title: message
          type: string
      title: PolicyDescription_ListByService_default_response_error
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
