openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on Diagnostic entity
    associated with your Azure API Management deployment. Diagnostics are used to
    log requests/responses in the APIM proxy.
  title: ApiManagementClient
  version: 2017-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimdiagnostics.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimdiagnostics
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics
  : get:
      description: Lists all diagnostics of the API Management service instance.
      operationId: Diagnostic_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: |-
          | Field       | Supported operators    | Supported functions               |
          |-------------|------------------------|-----------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticCollection'
          description: Paged Result response of diagnostics.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostics
      x-ms-examples:
        ApiManagementListDiagnostics:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default
                  name: default
                  properties:
                    enabled: false
                  type: Microsoft.ApiManagement/service/diagnostics
      x-ms-odata: '#/definitions/DiagnosticContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics/{diagnosticId}
  : delete:
      description: Deletes the specified Diagnostic.
      operationId: Diagnostic_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Diagnostic Entity. ETag should match the current
          entity state from the header response of the GET request or it should be
          * for unconditional update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The Diagnostic was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostics
      x-ms-examples:
        ApiManagementDeleteDiagnostic:
          parameters:
            If-Match: '*'
            api-version: 2017-03-01
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets the details of the Diagnostic specified by its identifier.
      operationId: Diagnostic_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticContract'
          description: The response body contains the specified Diagnostic entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostics
      x-ms-examples:
        ApiManagementGetDiagnostic:
          parameters:
            api-version: 2017-03-01
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default
                name: default
                properties:
                  enabled: false
                type: Microsoft.ApiManagement/service/diagnostics
      x-accepts:
      - application/json
    head:
      description: Gets the entity state (Etag) version of the Diagnostic specified
        by its identifier.
      operationId: Diagnostic_Head
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Operation completed successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostics
      x-ms-examples:
        ApiManagementHeadDiagnostic:
          parameters:
            api-version: 2017-03-01
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
      x-accepts:
      - application/json
    patch:
      description: Updates the details of the Diagnostic specified by its identifier.
      operationId: Diagnostic_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Diagnostic Entity. ETag should match the current
          entity state from the header response of the GET request or it should be
          * for unconditional update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagnosticContract'
        description: Diagnostic Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: The Diagnostic was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostics
      x-ms-examples:
        ApiManagementUpdateDiagnostic:
          parameters:
            If-Match: '*'
            api-version: 2017-03-01
            diagnosticId: default
            parameters:
              properties:
                enabled: false
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a new Diagnostic or updates an existing one.
      operationId: Diagnostic_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Diagnostic Entity. ETag should match the current
          entity state from the header response of the GET request or it should be
          * for unconditional update.
        in: header
        name: If-Match
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagnosticContract'
        description: Create parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticContract'
          description: Diagnostic was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticContract'
          description: Diagnostic was successfully created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Diagnostics
      x-ms-examples:
        ApiManagementCreateDiagnostic:
          parameters:
            api-version: 2017-03-01
            diagnosticId: default
            parameters:
              properties:
                enabled: true
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default
                name: default
                properties:
                  enabled: true
                type: Microsoft.ApiManagement/service/diagnostics
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default
                name: default
                properties:
                  enabled: true
                type: Microsoft.ApiManagement/service/diagnostics
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics/{diagnosticId}/loggers
  : get:
      description: Lists all loggers associated with the specified Diagnostic of the
        API Management service instance.
      operationId: DiagnosticLogger_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field       | Supported operators    | Supported functions               |
          |-------------|------------------------|-----------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          | type        | eq                     |                                   |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticLogger_ListByService_200_response'
          description: Paged Result response of loggers assigned to the specified
            Diagnostic.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - DiagnosticLoggers
      x-ms-examples:
        ApiManagementListDiagnosticLoggers:
          parameters:
            api-version: 2017-03-01
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default/loggers/applicationinsights
                  name: applicationinsights
                  properties:
                    credentials:
                      instrumentationKey: "{{5a.......2a}}"
                    isBuffered: false
                    loggerType: applicationInsights
                  type: Microsoft.ApiManagement/service/diagnostics/loggers
      x-ms-odata: ./apimloggers.json#/definitions/LoggerContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics/{diagnosticId}/loggers/{loggerid}
  : delete:
      description: Deletes the specified Logger from Diagnostic.
      operationId: DiagnosticLogger_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Logger identifier. Must be unique in the API Management service
          instance.
        in: path
        name: loggerid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The Logger was successfully detached from Diagnostic.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - DiagnosticLoggers
      x-ms-examples:
        ApiManagementDeleteDiagnosticLogger:
          parameters:
            api-version: 2017-03-01
            diagnosticId: default
            loggerid: applicationinsights
            parameters: {}
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-accepts:
      - application/json
    head:
      description: Checks that logger entity specified by identifier is associated
        with the diagnostics entity.
      operationId: DiagnosticLogger_CheckEntityExists
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Logger identifier. Must be unique in the API Management service
          instance.
        in: path
        name: loggerid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Entity exists
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - DiagnosticLoggers
      x-ms-examples:
        ApiManagementHeadDiagnosticLogger:
          parameters:
            api-version: 2017-03-01
            diagnosticId: default
            loggerid: templateLogger
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
      x-accepts:
      - application/json
    put:
      description: Attaches a logger to a diagnostic.
      operationId: DiagnosticLogger_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Diagnostic identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: diagnosticId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Logger identifier. Must be unique in the API Management service
          instance.
        in: path
        name: loggerid
        required: true
        schema:
          maxLength: 256
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticLogger_CreateOrUpdate_200_response'
          description: Logger to Diagnostic link was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticLogger_CreateOrUpdate_200_response'
          description: Logger was successfully attached to Diagnostic.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Diagnostic_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - DiagnosticLoggers
      x-ms-examples:
        ApiManagementCreateDiagnosticLogger:
          parameters:
            api-version: 2017-03-01
            diagnosticId: default
            loggerid: applicationinsights
            parameters: {}
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default/loggers/applicationinsights
                name: applicationinsights
                properties:
                  credentials:
                    instrumentationKey: "{{5a.......2a}}"
                  isBuffered: false
                  loggerType: applicationInsights
                type: Microsoft.ApiManagement/service/diagnostics/loggers
            "201":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default/loggers/applicationinsights
                name: applicationinsights
                properties:
                  credentials:
                    instrumentationKey: "{{5a.......2a}}"
                  isBuffered: false
                  loggerType: applicationInsights
                type: Microsoft.ApiManagement/service/diagnostics/loggers
      x-accepts:
      - application/json
components:
  parameters:
    DiagnosticIdParameter:
      description: Diagnostic identifier. Must be unique in the current API Management
        service instance.
      in: path
      name: diagnosticId
      required: true
      schema:
        maxLength: 256
        minLength: 1
        pattern: "^[^*#&+:<>?]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    DiagnosticCollection:
      description: Paged Diagnostic list representation.
      example:
        value:
        - properties:
            enabled: true
        - properties:
            enabled: true
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/DiagnosticContract'
          type: array
      type: object
    DiagnosticContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Diagnostic details.
      example:
        properties:
          enabled: true
      properties:
        properties:
          $ref: '#/components/schemas/DiagnosticContractProperties'
    DiagnosticContractProperties:
      description: Diagnostic Entity Properties
      example:
        enabled: true
      properties:
        enabled:
          description: Indicates whether a diagnostic should receive data or not.
          type: boolean
      required:
      - enabled
      type: object
    Diagnostic_ListByService_default_response_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    Diagnostic_ListByService_default_response:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Diagnostic_ListByService_default_response_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    DiagnosticLogger_ListByService_200_response_value_inner_properties_sampling_properties:
      description: Sampling settings for an ApplicationInsights logger.
      example:
        initialPercentage: 6.027456183070403
        samplingType: fixed
        maxPercentage: 1.4658129805029452
        percentageDecreaseTimeout: percentageDecreaseTimeout
        movingAverageRatio: 2.3021358869347655
        minPercentage: 5.637376656633329
        percentage: 7.061401241503109
        evaluationInterval: evaluationInterval
        percentageIncreaseTimeout: percentageIncreaseTimeout
        maxTelemetryItemsPerSecond: 5
      properties:
        evaluationInterval:
          description: Rate re-evaluation interval in ISO8601 format.
          format: duration
          maxLength: 2000
          minLength: 1
          type: string
        initialPercentage:
          description: Initial sampling rate.
          format: double
          type: number
        maxPercentage:
          description: Maximum allowed rate of sampling.
          format: double
          type: number
        maxTelemetryItemsPerSecond:
          description: Target rate of telemetry items per second.
          format: int32
          type: integer
        minPercentage:
          description: Minimum allowed rate of sampling.
          format: double
          type: number
        movingAverageRatio:
          description: Moving average ration assigned to most recent value.
          format: double
          type: number
        percentage:
          description: Rate of sampling for fixed-rate sampling.
          format: double
          type: number
        percentageDecreaseTimeout:
          description: Duration in ISO8601 format after which it's allowed to lower
            the sampling rate.
          format: duration
          maxLength: 2000
          minLength: 1
          type: string
        percentageIncreaseTimeout:
          description: Duration in ISO8601 format after which it's allowed to increase
            the sampling rate.
          format: duration
          maxLength: 2000
          minLength: 1
          type: string
        samplingType:
          description: Sampling type.
          enum:
          - fixed
          - adaptive
          type: string
          x-ms-enum:
            modelAsString: true
            name: SamplingType
            values:
            - description: Fixed-rate sampling.
              value: fixed
            - description: Sampling with a dynamically adjustable rate.
              value: adaptive
      type: object
    DiagnosticLogger_ListByService_200_response_value_inner_properties_sampling:
      description: Sampling settings contract.
      example:
        properties:
          initialPercentage: 6.027456183070403
          samplingType: fixed
          maxPercentage: 1.4658129805029452
          percentageDecreaseTimeout: percentageDecreaseTimeout
          movingAverageRatio: 2.3021358869347655
          minPercentage: 5.637376656633329
          percentage: 7.061401241503109
          evaluationInterval: evaluationInterval
          percentageIncreaseTimeout: percentageIncreaseTimeout
          maxTelemetryItemsPerSecond: 5
      properties:
        properties:
          $ref: '#/components/schemas/DiagnosticLogger_ListByService_200_response_value_inner_properties_sampling_properties'
      type: object
    DiagnosticLogger_ListByService_200_response_value_inner_properties:
      description: The Logger entity in API Management represents an event sink that
        you can use to log API Management events. Currently the Logger entity supports
        logging API Management events to Azure Event Hubs.
      example:
        loggerType: azureEventHub
        credentials:
          connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
          name: apim
        isBuffered: true
        sampling:
          properties:
            initialPercentage: 6.027456183070403
            samplingType: fixed
            maxPercentage: 1.4658129805029452
            percentageDecreaseTimeout: percentageDecreaseTimeout
            movingAverageRatio: 2.3021358869347655
            minPercentage: 5.637376656633329
            percentage: 7.061401241503109
            evaluationInterval: evaluationInterval
            percentageIncreaseTimeout: percentageIncreaseTimeout
            maxTelemetryItemsPerSecond: 5
        description: description
      properties:
        credentials:
          additionalProperties:
            type: string
          description: |-
            The name and SendRule connection string of the event hub for azureEventHub logger.
            Instrumentation key for applicationInsights logger.
          example:
            connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
            name: apim
          type: object
        description:
          description: Logger description.
          maxLength: 256
          type: string
        isBuffered:
          description: Whether records are buffered in the logger before publishing.
            Default is assumed to be true.
          type: boolean
        loggerType:
          description: Logger type.
          enum:
          - azureEventHub
          - applicationInsights
          type: string
          x-ms-enum:
            modelAsString: true
            name: LoggerType
            values:
            - description: Azure Event Hub as log destination.
              value: azureEventHub
            - description: Azure Application Insights as log destination.
              value: applicationInsights
        sampling:
          $ref: '#/components/schemas/DiagnosticLogger_ListByService_200_response_value_inner_properties_sampling'
      required:
      - credentials
      - loggerType
      type: object
    DiagnosticLogger_ListByService_200_response_value_inner:
      description: Logger details.
      example:
        properties:
          loggerType: azureEventHub
          credentials:
            connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
            name: apim
          isBuffered: true
          sampling:
            properties:
              initialPercentage: 6.027456183070403
              samplingType: fixed
              maxPercentage: 1.4658129805029452
              percentageDecreaseTimeout: percentageDecreaseTimeout
              movingAverageRatio: 2.3021358869347655
              minPercentage: 5.637376656633329
              percentage: 7.061401241503109
              evaluationInterval: evaluationInterval
              percentageIncreaseTimeout: percentageIncreaseTimeout
              maxTelemetryItemsPerSecond: 5
          description: description
      properties:
        properties:
          $ref: '#/components/schemas/DiagnosticLogger_ListByService_200_response_value_inner_properties'
      type: object
    DiagnosticLogger_ListByService_200_response:
      description: Paged Logger list representation.
      example:
        count: 0
        value:
        - properties:
            loggerType: azureEventHub
            credentials:
              connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
              name: apim
            isBuffered: true
            sampling:
              properties:
                initialPercentage: 6.027456183070403
                samplingType: fixed
                maxPercentage: 1.4658129805029452
                percentageDecreaseTimeout: percentageDecreaseTimeout
                movingAverageRatio: 2.3021358869347655
                minPercentage: 5.637376656633329
                percentage: 7.061401241503109
                evaluationInterval: evaluationInterval
                percentageIncreaseTimeout: percentageIncreaseTimeout
                maxTelemetryItemsPerSecond: 5
            description: description
        - properties:
            loggerType: azureEventHub
            credentials:
              connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
              name: apim
            isBuffered: true
            sampling:
              properties:
                initialPercentage: 6.027456183070403
                samplingType: fixed
                maxPercentage: 1.4658129805029452
                percentageDecreaseTimeout: percentageDecreaseTimeout
                movingAverageRatio: 2.3021358869347655
                minPercentage: 5.637376656633329
                percentage: 7.061401241503109
                evaluationInterval: evaluationInterval
                percentageIncreaseTimeout: percentageIncreaseTimeout
                maxTelemetryItemsPerSecond: 5
            description: description
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Logger values.
          items:
            $ref: '#/components/schemas/DiagnosticLogger_ListByService_200_response_value_inner'
          type: array
      type: object
    DiagnosticLogger_CreateOrUpdate_200_response:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Logger details.
      example:
        properties:
          loggerType: azureEventHub
          credentials:
            connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
            name: apim
          isBuffered: true
          sampling:
            properties:
              initialPercentage: 6.027456183070403
              samplingType: fixed
              maxPercentage: 1.4658129805029452
              percentageDecreaseTimeout: percentageDecreaseTimeout
              movingAverageRatio: 2.3021358869347655
              minPercentage: 5.637376656633329
              percentage: 7.061401241503109
              evaluationInterval: evaluationInterval
              percentageIncreaseTimeout: percentageIncreaseTimeout
              maxTelemetryItemsPerSecond: 5
          description: description
      properties:
        properties:
          $ref: '#/components/schemas/DiagnosticLogger_ListByService_200_response_value_inner_properties'
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

