openapi: 3.0.1
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/autoProvisioningSettings.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-autoProvisioningSettings
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings:
    get:
      description: Exposes the auto provisioning settings of the subscriptions
      operationId: auto_provisioning_settings_list
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoProvisioningSettingList'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoProvisioningSettings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - AutoProvisioningSettings
      x-ms-examples:
        Get auto provisioning settings for subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
                  name: default
                  properties:
                    autoProvision: "On"
                  type: Microsoft.Security/autoProvisioningSettings
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.auto_provisioning_settings_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings/{settingName}:
    get:
      description: Details of a specific setting
      operationId: auto_provisioning_settings_get
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Auto provisioning setting key
        in: path
        name: settingName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoProvisioningSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoProvisioningSettings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - AutoProvisioningSettings
      x-ms-examples:
        Get an auto provisioning setting for subscription:
          parameters:
            api-version: 2017-08-01-preview
            settingName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
                name: default
                properties:
                  autoProvision: "On"
                type: Microsoft.Security/autoProvisioningSettings
      x-openapi-router-controller: openapi_server.controllers.auto_provisioning_settings_controller
    put:
      description: Details of a specific setting
      operationId: auto_provisioning_settings_create
      parameters:
      - description: API version for the operation
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure subscription ID
        in: path
        name: subscriptionId
        required: true
        schema:
          pattern: "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$"
          type: string
      - description: Auto provisioning setting key
        in: path
        name: setting_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoProvisioningSetting'
        description: Auto provisioning setting key
        required: true
        x-ms-parameter-location: method
        x-body-name: setting
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoProvisioningSetting'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoProvisioningSettings_List_default_response'
          description: Error response describing why the operation failed.
      tags:
      - AutoProvisioningSettings
      x-ms-examples:
        Create auto provisioning settings for subscription:
          parameters:
            api-version: 2017-08-01-preview
            setting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
              name: default
              properties:
                autoProvision: "On"
              type: Microsoft.Security/autoProvisioningSettings
            settingName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
                name: default
                properties:
                  autoProvision: "On"
                type: Microsoft.Security/autoProvisioningSettings
      x-codegen-request-body-name: setting
      x-openapi-router-controller: openapi_server.controllers.auto_provisioning_settings_controller
components:
  parameters:
    AutoProvisioningSettingName:
      description: Auto provisioning setting key
      in: path
      name: settingName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    AutoProvisioningSetting:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AutoProvisioningSetting'
      description: Auto provisioning setting key
      required: true
      x-ms-parameter-location: method
      x-body-name: setting
  schemas:
    AutoProvisioningSetting:
      allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Auto provisioning setting
      example:
        properties:
          autoProvision: "On"
      properties:
        properties:
          $ref: '#/components/schemas/AutoProvisioningSettingProperties'
      title: AutoProvisioningSetting
    AutoProvisioningSettingList:
      description: List of all the auto provisioning settings response
      example:
        value:
        - properties:
            autoProvision: "On"
        - properties:
            autoProvision: "On"
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI to fetch the next page.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of all the auto provisioning settings
          items:
            $ref: '#/components/schemas/AutoProvisioningSetting'
          title: value
          type: array
      title: AutoProvisioningSettingList
      type: object
    AutoProvisioningSettingProperties:
      description: describes properties of an auto provisioning setting
      example:
        autoProvision: "On"
      properties:
        autoProvision:
          description: Describes what kind of security agent provisioning action to
            take
          enum:
          - "On"
          - "Off"
          title: autoProvision
          type: string
          x-ms-enum:
            modelAsString: true
            name: autoProvision
            values:
            - description: Install missing security agent on VMs automatically
              value: "On"
            - description: Do not install security agent on the VMs automatically
              value: "Off"
      required:
      - autoProvision
      title: AutoProvisioningSettingProperties
      type: object
    AutoProvisioningSettings_List_default_response_error:
      description: Error details.
      example:
        code: code
        message: message
      properties:
        code:
          description: An identifier for the error. Codes are invariant and are intended
            to be consumed programmatically.
          readOnly: true
          title: code
          type: string
        message:
          description: "A message describing the error, intended to be suitable for\
            \ display in a user interface."
          readOnly: true
          title: message
          type: string
      title: AutoProvisioningSettings_List_default_response_error
      type: object
      x-ms-external: true
    AutoProvisioningSettings_List_default_response:
      description: Error response structure.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/AutoProvisioningSettings_List_default_response_error'
      title: AutoProvisioningSettings_List_default_response
      type: object
      x-ms-external: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
