openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Creates short-lived credentials for impersonating IAM service accounts.\
    \ To enable this API, you must enable the IAM API (iam.googleapis.com). "
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: IAM Service Account Credentials API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://iamcredentials.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: iamcredentials
externalDocs:
  url: https://cloud.google.com/iam/docs/creating-short-lived-service-account-credentials
servers:
- url: https://iamcredentials.googleapis.com/
tags:
- name: projects
paths:
  /v1/{name}:generateAccessToken:
    post:
      description: Generates an OAuth 2.0 access token for a service account.
      operationId: iamcredentials_projects_service_accounts_generate_access_token
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the service account for which\
          \ the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`.\
          \ The `-` wildcard character is required; replacing it with a project ID\
          \ is invalid."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateAccessTokenRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateAccessTokenResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}:generateIdToken:
    post:
      description: Generates an OpenID Connect ID token for a service account.
      operationId: iamcredentials_projects_service_accounts_generate_id_token
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the service account for which\
          \ the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`.\
          \ The `-` wildcard character is required; replacing it with a project ID\
          \ is invalid."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateIdTokenRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateIdTokenResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}:signBlob:
    post:
      description: Signs a blob using a service account's system-managed private key.
      operationId: iamcredentials_projects_service_accounts_sign_blob
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the service account for which\
          \ the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`.\
          \ The `-` wildcard character is required; replacing it with a project ID\
          \ is invalid."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignBlobRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignBlobResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
  /v1/{name}:signJwt:
    post:
      description: Signs a JWT using a service account's system-managed private key.
      operationId: iamcredentials_projects_service_accounts_sign_jwt
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the service account for which\
          \ the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`.\
          \ The `-` wildcard character is required; replacing it with a project ID\
          \ is invalid."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignJwtRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignJwtResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GenerateAccessTokenRequest:
      example:
        scope:
        - scope
        - scope
        lifetime: lifetime
        delegates:
        - delegates
        - delegates
      properties:
        delegates:
          description: "The sequence of service accounts in a delegation chain. This\
            \ field is required for [delegated requests](https://cloud.google.com/iam/help/credentials/delegated-request).\
            \ For [direct requests](https://cloud.google.com/iam/help/credentials/direct-request),\
            \ which are more common, do not specify this field. Each service account\
            \ must be granted the `roles/iam.serviceAccountTokenCreator` role on its\
            \ next service account in the chain. The last service account in the chain\
            \ must be granted the `roles/iam.serviceAccountTokenCreator` role on the\
            \ service account that is specified in the `name` field of the request.\
            \ The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`.\
            \ The `-` wildcard character is required; replacing it with a project\
            \ ID is invalid."
          items:
            type: string
          title: delegates
          type: array
        lifetime:
          description: "The desired lifetime duration of the access token in seconds.\
            \ By default, the maximum allowed value is 1 hour. To set a lifetime of\
            \ up to 12 hours, you can add the service account as an allowed value\
            \ in an Organization Policy that enforces the `constraints/iam.allowServiceAccountCredentialLifetimeExtension`\
            \ constraint. See detailed instructions at https://cloud.google.com/iam/help/credentials/lifetime\
            \ If a value is not specified, the token's lifetime will be set to a default\
            \ value of 1 hour."
          format: google-duration
          title: lifetime
          type: string
        scope:
          description: Required. Code to identify the scopes to be included in the
            OAuth 2.0 access token. See https://developers.google.com/identity/protocols/googlescopes
            for more information. At least one value required.
          items:
            type: string
          title: scope
          type: array
      title: GenerateAccessTokenRequest
      type: object
    GenerateAccessTokenResponse:
      example:
        expireTime: expireTime
        accessToken: accessToken
      properties:
        accessToken:
          description: The OAuth 2.0 access token.
          title: accessToken
          type: string
        expireTime:
          description: Token expiration time. The expiration time is always set.
          format: google-datetime
          title: expireTime
          type: string
      title: GenerateAccessTokenResponse
      type: object
    GenerateIdTokenRequest:
      example:
        audience: audience
        delegates:
        - delegates
        - delegates
        includeEmail: true
      properties:
        audience:
          description: "Required. The audience for the token, such as the API or account\
            \ that this token grants access to."
          title: audience
          type: string
        delegates:
          description: "The sequence of service accounts in a delegation chain. Each\
            \ service account must be granted the `roles/iam.serviceAccountTokenCreator`\
            \ role on its next service account in the chain. The last service account\
            \ in the chain must be granted the `roles/iam.serviceAccountTokenCreator`\
            \ role on the service account that is specified in the `name` field of\
            \ the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`.\
            \ The `-` wildcard character is required; replacing it with a project\
            \ ID is invalid."
          items:
            type: string
          title: delegates
          type: array
        includeEmail:
          description: "Include the service account email in the token. If set to\
            \ `true`, the token will contain `email` and `email_verified` claims."
          title: includeEmail
          type: boolean
      title: GenerateIdTokenRequest
      type: object
    GenerateIdTokenResponse:
      example:
        token: token
      properties:
        token:
          description: The OpenId Connect ID token.
          title: token
          type: string
      title: GenerateIdTokenResponse
      type: object
    SignBlobRequest:
      example:
        payload: payload
        delegates:
        - delegates
        - delegates
      properties:
        delegates:
          description: "The sequence of service accounts in a delegation chain. Each\
            \ service account must be granted the `roles/iam.serviceAccountTokenCreator`\
            \ role on its next service account in the chain. The last service account\
            \ in the chain must be granted the `roles/iam.serviceAccountTokenCreator`\
            \ role on the service account that is specified in the `name` field of\
            \ the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`.\
            \ The `-` wildcard character is required; replacing it with a project\
            \ ID is invalid."
          items:
            type: string
          title: delegates
          type: array
        payload:
          description: Required. The bytes to sign.
          format: byte
          title: payload
          type: string
      title: SignBlobRequest
      type: object
    SignBlobResponse:
      example:
        keyId: keyId
        signedBlob: signedBlob
      properties:
        keyId:
          description: "The ID of the key used to sign the blob. The key used for\
            \ signing will remain valid for at least 12 hours after the blob is signed.\
            \ To verify the signature, you can retrieve the public key in several\
            \ formats from the following endpoints: - RSA public key wrapped in an\
            \ X.509 v3 certificate: `https://www.googleapis.com/service_accounts/v1/metadata/x509/{ACCOUNT_EMAIL}`\
            \ - Raw key in JSON format: `https://www.googleapis.com/service_accounts/v1/metadata/raw/{ACCOUNT_EMAIL}`\
            \ - JSON Web Key (JWK): `https://www.googleapis.com/service_accounts/v1/metadata/jwk/{ACCOUNT_EMAIL}`"
          title: keyId
          type: string
        signedBlob:
          description: "The signature for the blob. Does not include the original\
            \ blob. After the key pair referenced by the `key_id` response field expires,\
            \ Google no longer exposes the public key that can be used to verify the\
            \ blob. As a result, the receiver can no longer verify the signature."
          format: byte
          title: signedBlob
          type: string
      title: SignBlobResponse
      type: object
    SignJwtRequest:
      example:
        payload: payload
        delegates:
        - delegates
        - delegates
      properties:
        delegates:
          description: "The sequence of service accounts in a delegation chain. Each\
            \ service account must be granted the `roles/iam.serviceAccountTokenCreator`\
            \ role on its next service account in the chain. The last service account\
            \ in the chain must be granted the `roles/iam.serviceAccountTokenCreator`\
            \ role on the service account that is specified in the `name` field of\
            \ the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`.\
            \ The `-` wildcard character is required; replacing it with a project\
            \ ID is invalid."
          items:
            type: string
          title: delegates
          type: array
        payload:
          description: "Required. The JWT payload to sign. Must be a serialized JSON\
            \ object that contains a JWT Claims Set. For example: `{\"sub\": \"user@example.com\"\
            , \"iat\": 313435}` If the JWT Claims Set contains an expiration time\
            \ (`exp`) claim, it must be an integer timestamp that is not in the past\
            \ and no more than 12 hours in the future."
          title: payload
          type: string
      title: SignJwtRequest
      type: object
    SignJwtResponse:
      example:
        signedJwt: signedJwt
        keyId: keyId
      properties:
        keyId:
          description: "The ID of the key used to sign the JWT. The key used for signing\
            \ will remain valid for at least 12 hours after the JWT is signed. To\
            \ verify the signature, you can retrieve the public key in several formats\
            \ from the following endpoints: - RSA public key wrapped in an X.509 v3\
            \ certificate: `https://www.googleapis.com/service_accounts/v1/metadata/x509/{ACCOUNT_EMAIL}`\
            \ - Raw key in JSON format: `https://www.googleapis.com/service_accounts/v1/metadata/raw/{ACCOUNT_EMAIL}`\
            \ - JSON Web Key (JWK): `https://www.googleapis.com/service_accounts/v1/metadata/jwk/{ACCOUNT_EMAIL}`"
          title: keyId
          type: string
        signedJwt:
          description: "The signed JWT. Contains the automatically generated header;\
            \ the client-supplied payload; and the signature, which is generated using\
            \ the key referenced by the `kid` field in the header. After the key pair\
            \ referenced by the `key_id` response field expires, Google no longer\
            \ exposes the public key that can be used to verify the JWT. As a result,\
            \ the receiver can no longer verify the signature."
          title: signedJwt
          type: string
      title: SignJwtResponse
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2c
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2c
