openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Workload Manager is a service that provides tooling for enterprise
    workloads to automate the deployment and validation of your workloads against
    best practices and recommendations.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Workload Manager API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://workloadmanager.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: workloadmanager
externalDocs:
  url: https://cloud.google.com/workload-manager/docs
servers:
- url: https://workloadmanager.googleapis.com/
tags:
- name: projects
paths:
  /v1/{location}/insights:writeInsight:
    post:
      description: Write the data insights to workload manager data warehouse.
      operationId: workloadmanager.projects.locations.insights.writeInsight
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The GCP location. The format is: projects/{project}/locations/{location}."
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteInsightRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WriteInsightResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}:
    delete:
      description: "Deletes a long-running operation. This method indicates that the\
        \ client is no longer interested in the operation result. It does not cancel\
        \ the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      operationId: workloadmanager.projects.locations.operations.delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be deleted.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. An optional request ID to identify requests. Specify\
          \ a unique request ID so that if you must retry your request, the server\
          \ will know to ignore the request if it has already been completed. The\
          \ server will guarantee that for at least 60 minutes after the first request.\
          \ For example, consider a situation where you make an initial request and\
          \ the request times out. If you make the request again with the same request\
          \ ID, the server can check if original operation with the same request ID\
          \ was received, and if so, will ignore the second request. This prevents\
          \ clients from accidentally creating duplicate commitments. The request\
          \ ID must be a valid UUID with the exception that zero UUID is not supported\
          \ (00000000-0000-0000-0000-000000000000)."
        explode: true
        in: query
        name: requestId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    get:
      description: Gets details of a single workload.
      operationId: workloadmanager.projects.locations.workloadProfiles.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Name of the resource
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadProfile'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1/{name}/executions:run:
    post:
      description: Creates a new Execution in a given project and location.
      operationId: workloadmanager.projects.locations.evaluations.executions.run
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource name of the Execution using the form:\
          \ 'projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}'"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunEvaluationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{name}/locations:
    get:
      description: Lists information about the supported locations for this service.
      operationId: workloadmanager.projects.locations.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "The resource that owns the locations collection, if applicable."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "A filter to narrow down results to a preferred subset. The filtering\
          \ language accepts strings like `\"displayName=tokyo\"`, and is documented\
          \ in more detail in [AIP-160](https://google.aip.dev/160)."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of results to return. If not set, the service\
          \ selects a default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A page token received from the `next_page_token` field in the
          response. Send that page token to receive the subsequent page.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1/{name}/operations:
    get:
      description: "Lists operations that match the specified filter in the request.\
        \ If the server doesn't support this method, it returns `UNIMPLEMENTED`."
      operationId: workloadmanager.projects.locations.operations.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation's parent resource.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: The standard list filter.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The standard list page size.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The standard list page token.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1/{name}:cancel:
    post:
      description: "Starts asynchronous cancellation on a long-running operation.\
        \ The server makes a best effort to cancel the operation, but success is not\
        \ guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.\
        \ Clients can use Operations.GetOperation or other methods to check whether\
        \ the cancellation succeeded or whether the operation completed despite cancellation.\
        \ On successful cancellation, the operation is not deleted; instead, it becomes\
        \ an operation with an Operation.error value with a google.rpc.Status.code\
        \ of 1, corresponding to `Code.CANCELLED`."
      operationId: workloadmanager.projects.locations.operations.cancel
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The name of the operation resource to be cancelled.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOperationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{parent}/evaluations:
    get:
      description: Lists Evaluations in a given project and location.
      operationId: workloadmanager.projects.locations.evaluations.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Parent value for ListEvaluationsRequest
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Filtering results
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Hint for how to order the results
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: "Requested page size. Server may return fewer items than requested.\
          \ If unspecified, server will pick an appropriate default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A token identifying a page of results the server should return.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEvaluationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
    post:
      description: Creates a new Evaluation in a given project and location.
      operationId: workloadmanager.projects.locations.evaluations.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource prefix of the evaluation location using\
          \ the form: `projects/{project_id}/locations/{location_id}`"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Required. Id of the requesting object
        explode: true
        in: query
        name: evaluationId
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. An optional request ID to identify requests. Specify\
          \ a unique request ID so that if you must retry your request, the server\
          \ will know to ignore the request if it has already been completed. The\
          \ server will guarantee that for at least 60 minutes since the first request.\
          \ For example, consider a situation where you make an initial request and\
          \ the request times out. If you make the request again with the same request\
          \ ID, the server can check if original operation with the same request ID\
          \ was received, and if so, will ignore the second request. This prevents\
          \ clients from accidentally creating duplicate commitments. The request\
          \ ID must be a valid UUID with the exception that zero UUID is not supported\
          \ (00000000-0000-0000-0000-000000000000)."
        explode: true
        in: query
        name: requestId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Evaluation'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/{parent}/executions:
    get:
      description: Lists Executions in a given project and location.
      operationId: workloadmanager.projects.locations.evaluations.executions.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The resource prefix of the Execution using the form:\
          \ 'projects/{project}/locations/{location}/evaluations/{evaluation}'"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Filtering results
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Field to sort by. See https://google.aip.dev/132#ordering for
          more details.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: "Requested page size. Server may return fewer items than requested.\
          \ If unspecified, server will pick an appropriate default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A token identifying a page of results the server should return.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExecutionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1/{parent}/results:
    get:
      description: List the running result of a single Execution.
      operationId: workloadmanager.projects.locations.evaluations.executions.results.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The execution results. Format: {parent}/evaluations/*/executions/*/results"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Filtering results
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Requested page size. Server may return fewer items than requested.\
          \ If unspecified, server will pick an appropriate default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A token identifying a page of results the server should return.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExecutionResultsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1/{parent}/rules:
    get:
      description: Lists rules in a given project.
      operationId: workloadmanager.projects.locations.rules.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The [project] on which to execute the request. The\
          \ format is: projects/{project_id}/locations/{location} Currently, the pre-defined\
          \ rules are global available to all projects and all regions"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The Cloud Storage bucket name for custom rules.
        explode: true
        in: query
        name: customRulesBucket
        required: false
        schema:
          type: string
        style: form
      - description: "Filter based on primary_category, secondary_category"
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Requested page size. Server may return fewer items than requested.\
          \ If unspecified, server will pick an appropriate default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A token identifying a page of results the server should return.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRulesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1/{parent}/scannedResources:
    get:
      description: List all scanned resources for a single Execution.
      operationId: workloadmanager.projects.locations.evaluations.executions.scannedResources.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. parent for ListScannedResourcesRequest
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Filtering results
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: Field to sort by. See https://google.aip.dev/132#ordering for
          more details.
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: "Requested page size. Server may return fewer items than requested.\
          \ If unspecified, server will pick an appropriate default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: A token identifying a page of results the server should return.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: rule name
        explode: true
        in: query
        name: rule
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScannedResourcesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
  /v1/{parent}/workloadProfiles:
    get:
      description: List workloads
      operationId: workloadmanager.projects.locations.workloadProfiles.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. Parent value for ListWorkloadRequest
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Optional. Filtering results
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "Optional. Requested page size. Server may return fewer items\
          \ than requested. If unspecified, server will pick an appropriate default."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Optional. A token identifying a page of results the server should
          return.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkloadProfilesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    APILayerServer:
      description: The API layer server
      example:
        osVersion: osVersion
        name: name
        resources:
        - kind: RESOURCE_KIND_UNSPECIFIED
          name: name
        - kind: RESOURCE_KIND_UNSPECIFIED
          name: name
      properties:
        name:
          description: Output only. The api layer name
          readOnly: true
          type: string
        osVersion:
          description: Output only. OS information
          readOnly: true
          type: string
        resources:
          description: Output only. resources in the component
          items:
            $ref: '#/components/schemas/CloudResource'
          readOnly: true
          type: array
      type: object
    AvailabilityGroup:
      description: The availability groups for sqlserver
      example:
        databases:
        - databases
        - databases
        secondaryServers:
        - secondaryServers
        - secondaryServers
        name: name
        primaryServer: primaryServer
      properties:
        databases:
          description: Output only. The databases
          items:
            type: string
          readOnly: true
          type: array
        name:
          description: Output only. The availability group name
          readOnly: true
          type: string
        primaryServer:
          description: Output only. The primary server
          readOnly: true
          type: string
        secondaryServers:
          description: Output only. The secondary servers
          items:
            type: string
          readOnly: true
          type: array
      type: object
    BackendServer:
      description: The backend server
      example:
        backupSchedule: backupSchedule
        backupFile: backupFile
        osVersion: osVersion
        name: name
        resources:
        - kind: RESOURCE_KIND_UNSPECIFIED
          name: name
        - kind: RESOURCE_KIND_UNSPECIFIED
          name: name
      properties:
        backupFile:
          description: Output only. The backup file
          readOnly: true
          type: string
        backupSchedule:
          description: Output only. The backup schedule
          readOnly: true
          type: string
        name:
          description: Output only. The backend name
          readOnly: true
          type: string
        osVersion:
          description: Output only. OS information
          readOnly: true
          type: string
        resources:
          description: Output only. resources in the component
          items:
            $ref: '#/components/schemas/CloudResource'
          readOnly: true
          type: array
      type: object
    BigQueryDestination:
      description: Message describing big query destination
      example:
        destinationDataset: destinationDataset
        createNewResultsTable: true
      properties:
        createNewResultsTable:
          description: Optional. determine if results will be saved in a new table
          type: boolean
        destinationDataset:
          description: Optional. destination dataset to save evaluation results
          type: string
      type: object
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    CloudResource:
      description: The resource on GCP
      example:
        kind: RESOURCE_KIND_UNSPECIFIED
        name: name
      properties:
        kind:
          description: "Output only. ComputeInstance, ComputeDisk, VPC, Bare Metal\
            \ server, etc."
          enum:
          - RESOURCE_KIND_UNSPECIFIED
          - RESOURCE_KIND_INSTANCE
          - RESOURCE_KIND_DISK
          - RESOURCE_KIND_ADDRESS
          - RESOURCE_KIND_FILESTORE
          - RESOURCE_KIND_HEALTH_CHECK
          - RESOURCE_KIND_FORWARDING_RULE
          - RESOURCE_KIND_BACKEND_SERVICE
          - RESOURCE_KIND_SUBNETWORK
          - RESOURCE_KIND_NETWORK
          - RESOURCE_KIND_PUBLIC_ADDRESS
          - RESOURCE_KIND_INSTANCE_GROUP
          readOnly: true
          type: string
        name:
          description: Output only. resource name
          readOnly: true
          type: string
      type: object
    Cluster:
      description: The cluster for sqlserver
      example:
        nodes:
        - nodes
        - nodes
        witnessServer: witnessServer
      properties:
        nodes:
          description: Output only. The nodes
          items:
            type: string
          readOnly: true
          type: array
        witnessServer:
          description: Output only. The witness server
          readOnly: true
          type: string
      type: object
    Database:
      description: The database for sqlserver
      example:
        backupSchedule: backupSchedule
        backupFile: backupFile
        hostVm: hostVm
        name: name
      properties:
        backupFile:
          description: Output only. The backup file
          readOnly: true
          type: string
        backupSchedule:
          description: Output only. The backup schedule
          readOnly: true
          type: string
        hostVm:
          description: Output only. The host VM
          readOnly: true
          type: string
        name:
          description: Output only. The database name
          readOnly: true
          type: string
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining\
        \ duplicated empty messages in your APIs. A typical example is to use it as\
        \ the request or the response type of an API method. For instance: service\
        \ Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    Evaluation:
      description: LINT.IfChange Message describing Evaluation object
      example:
        bigQueryDestination:
          destinationDataset: destinationDataset
          createNewResultsTable: true
        customRulesBucket: customRulesBucket
        schedule: schedule
        resourceStatus:
          rulesNewerVersions:
          - rulesNewerVersions
          - rulesNewerVersions
          state: STATE_UNSPECIFIED
        ruleVersions:
        - ruleVersions
        - ruleVersions
        createTime: createTime
        name: name
        description: description
        ruleNames:
        - ruleNames
        - ruleNames
        updateTime: updateTime
        resourceFilter:
          gceInstanceFilter:
            serviceAccounts:
            - serviceAccounts
            - serviceAccounts
          resourceIdPatterns:
          - resourceIdPatterns
          - resourceIdPatterns
          inclusionLabels:
            key: inclusionLabels
          scopes:
          - scopes
          - scopes
        labels:
          key: labels
      properties:
        bigQueryDestination:
          $ref: '#/components/schemas/BigQueryDestination'
        createTime:
          description: "Output only. [Output only] Create time stamp"
          format: google-datetime
          readOnly: true
          type: string
        customRulesBucket:
          description: The Cloud Storage bucket name for custom rules.
          type: string
        description:
          description: Description of the Evaluation
          type: string
        labels:
          additionalProperties:
            type: string
          description: Labels as key value pairs
          type: object
        name:
          description: "name of resource names have the form 'projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}'"
          type: string
        resourceFilter:
          $ref: '#/components/schemas/ResourceFilter'
        resourceStatus:
          $ref: '#/components/schemas/ResourceStatus'
        ruleNames:
          description: the name of the rule
          items:
            type: string
          type: array
        ruleVersions:
          description: "Output only. [Output only] The updated rule ids if exist."
          items:
            type: string
          readOnly: true
          type: array
        schedule:
          description: "crontab format schedule for scheduled evaluation, currently\
            \ only support the following schedule: \"0 */1 * * *\", \"0 */6 * * *\"\
            , \"0 */12 * * *\", \"0 0 */1 * *\", \"0 0 */7 * *\","
          type: string
        updateTime:
          description: "Output only. [Output only] Update time stamp"
          format: google-datetime
          readOnly: true
          type: string
      type: object
    Execution:
      description: Message describing Execution object
      example:
        evaluationId: evaluationId
        runType: TYPE_UNSPECIFIED
        name: name
        inventoryTime: inventoryTime
        startTime: startTime
        endTime: endTime
        state: STATE_UNSPECIFIED
        labels:
          key: labels
      properties:
        endTime:
          description: "Output only. [Output only] End time stamp"
          format: google-datetime
          readOnly: true
          type: string
        evaluationId:
          description: "Output only. [Output only] Evaluation ID"
          readOnly: true
          type: string
        inventoryTime:
          description: "Output only. [Output only] Inventory time stamp"
          format: google-datetime
          readOnly: true
          type: string
        labels:
          additionalProperties:
            type: string
          description: Labels as key value pairs
          type: object
        name:
          description: "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}"
          type: string
        runType:
          description: type represent whether the execution executed directly by user
            or scheduled according evaluation.schedule field.
          enum:
          - TYPE_UNSPECIFIED
          - ONE_TIME
          - SCHEDULED
          type: string
        startTime:
          description: "Output only. [Output only] Start time stamp"
          format: google-datetime
          readOnly: true
          type: string
        state:
          description: "Output only. [Output only] State"
          enum:
          - STATE_UNSPECIFIED
          - RUNNING
          - SUCCEEDED
          - FAILED
          readOnly: true
          type: string
      type: object
    ExecutionResult:
      description: Message describing the result of an execution
      example:
        severity: severity
        documentationUrl: documentationUrl
        resource:
          name: name
          serviceAccount: serviceAccount
          type: type
        violationDetails:
          serviceAccount: serviceAccount
          asset: asset
          observed:
            key: observed
        rule: rule
        violationMessage: violationMessage
      properties:
        documentationUrl:
          description: the document url of the rule
          type: string
        resource:
          $ref: '#/components/schemas/Resource'
        rule:
          description: the rule which violate in execution
          type: string
        severity:
          description: severity of violation
          type: string
        violationDetails:
          $ref: '#/components/schemas/ViolationDetails'
        violationMessage:
          description: the violation message of an execution
          type: string
      type: object
    FrontEndServer:
      description: The front end server
      example:
        osVersion: osVersion
        name: name
        resources:
        - kind: RESOURCE_KIND_UNSPECIFIED
          name: name
        - kind: RESOURCE_KIND_UNSPECIFIED
          name: name
      properties:
        name:
          description: Output only. The frontend name
          readOnly: true
          type: string
        osVersion:
          description: Output only. OS information
          readOnly: true
          type: string
        resources:
          description: Output only. resources in the component
          items:
            $ref: '#/components/schemas/CloudResource'
          readOnly: true
          type: array
      type: object
    GceInstanceFilter:
      description: Message describing compute engine instance filter
      example:
        serviceAccounts:
        - serviceAccounts
        - serviceAccounts
      properties:
        serviceAccounts:
          description: Service account of compute engine
          items:
            type: string
          type: array
      type: object
    Insight:
      description: A presentation of host resource usage where the workload runs.
      example:
        sapDiscovery:
          metadata:
            environmentType: environmentType
            customerRegion: customerRegion
            sapProduct: sapProduct
            definedSystem: definedSystem
          systemId: systemId
          applicationLayer:
            topologyType: TOPOLOGY_TYPE_UNSPECIFIED
            databaseProperties:
              databaseType: DATABASE_TYPE_UNSPECIFIED
              sharedNfsUri: sharedNfsUri
              primaryInstanceUri: primaryInstanceUri
              databaseVersion: databaseVersion
            resources:
            - resourceKind: RESOURCE_KIND_UNSPECIFIED
              instanceProperties:
                virtualHostname: virtualHostname
                clusterInstances:
                - clusterInstances
                - clusterInstances
              updateTime: updateTime
              resourceUri: resourceUri
              relatedResources:
              - relatedResources
              - relatedResources
              resourceType: RESOURCE_TYPE_UNSPECIFIED
            - resourceKind: RESOURCE_KIND_UNSPECIFIED
              instanceProperties:
                virtualHostname: virtualHostname
                clusterInstances:
                - clusterInstances
                - clusterInstances
              updateTime: updateTime
              resourceUri: resourceUri
              relatedResources:
              - relatedResources
              - relatedResources
              resourceType: RESOURCE_TYPE_UNSPECIFIED
            applicationProperties:
              applicationType: APPLICATION_TYPE_UNSPECIFIED
              kernelVersion: kernelVersion
              ascsUri: ascsUri
              nfsUri: nfsUri
              abap: true
            haHosts:
            - haHosts
            - haHosts
            hostProject: hostProject
            sid: sid
          projectNumber: projectNumber
          updateTime: updateTime
          databaseLayer:
            topologyType: TOPOLOGY_TYPE_UNSPECIFIED
            databaseProperties:
              databaseType: DATABASE_TYPE_UNSPECIFIED
              sharedNfsUri: sharedNfsUri
              primaryInstanceUri: primaryInstanceUri
              databaseVersion: databaseVersion
            resources:
            - resourceKind: RESOURCE_KIND_UNSPECIFIED
              instanceProperties:
                virtualHostname: virtualHostname
                clusterInstances:
                - clusterInstances
                - clusterInstances
              updateTime: updateTime
              resourceUri: resourceUri
              relatedResources:
              - relatedResources
              - relatedResources
              resourceType: RESOURCE_TYPE_UNSPECIFIED
            - resourceKind: RESOURCE_KIND_UNSPECIFIED
              instanceProperties:
                virtualHostname: virtualHostname
                clusterInstances:
                - clusterInstances
                - clusterInstances
              updateTime: updateTime
              resourceUri: resourceUri
              relatedResources:
              - relatedResources
              - relatedResources
              resourceType: RESOURCE_TYPE_UNSPECIFIED
            applicationProperties:
              applicationType: APPLICATION_TYPE_UNSPECIFIED
              kernelVersion: kernelVersion
              ascsUri: ascsUri
              nfsUri: nfsUri
              abap: true
            haHosts:
            - haHosts
            - haHosts
            hostProject: hostProject
            sid: sid
          workloadProperties:
            productVersions:
            - name: name
              version: version
            - name: name
              version: version
            softwareComponentVersions:
            - extVersion: extVersion
              name: name
              type: type
              version: version
            - extVersion: extVersion
              name: name
              type: type
              version: version
        instanceId: instanceId
        sqlserverValidation:
          instance: instance
          agentVersion: agentVersion
          projectId: projectId
          validationDetails:
          - details:
            - fields:
                key: fields
            - fields:
                key: fields
            type: SQLSERVER_VALIDATION_TYPE_UNSPECIFIED
          - details:
            - fields:
                key: fields
            - fields:
                key: fields
            type: SQLSERVER_VALIDATION_TYPE_UNSPECIFIED
        sapValidation:
          zone: zone
          projectId: projectId
          validationDetails:
          - sapValidationType: SAP_VALIDATION_TYPE_UNSPECIFIED
            isPresent: true
            details:
              key: details
          - sapValidationType: SAP_VALIDATION_TYPE_UNSPECIFIED
            isPresent: true
            details:
              key: details
        sentTime: sentTime
      properties:
        instanceId:
          description: Required. The instance id where the insight is generated from
          type: string
        sapDiscovery:
          $ref: '#/components/schemas/SapDiscovery'
        sapValidation:
          $ref: '#/components/schemas/SapValidation'
        sentTime:
          description: "Output only. [Output only] Create time stamp"
          format: google-datetime
          readOnly: true
          type: string
        sqlserverValidation:
          $ref: '#/components/schemas/SqlserverValidation'
      type: object
    Instance:
      description: a vm instance
      example:
        name: name
        region: region
        status: INSTANCESTATE_UNSPECIFIED
      properties:
        name:
          description: Output only. name of the VM
          readOnly: true
          type: string
        region:
          description: Output only. The location of the VM
          readOnly: true
          type: string
        status:
          description: Output only. The state of the VM
          enum:
          - INSTANCESTATE_UNSPECIFIED
          - PROVISIONING
          - STAGING
          - RUNNING
          - STOPPING
          - STOPPED
          - TERMINATED
          - SUSPENDING
          - SUSPENDED
          - REPAIRING
          - DEPROVISIONING
          readOnly: true
          type: string
      type: object
    Layer:
      description: The database layer
      example:
        databaseType: databaseType
        applicationType: applicationType
        instances:
        - name: name
          region: region
          status: INSTANCESTATE_UNSPECIFIED
        - name: name
          region: region
          status: INSTANCESTATE_UNSPECIFIED
        sid: sid
      properties:
        applicationType:
          description: the application layer
          type: string
        databaseType:
          description: Optional. the database layer
          type: string
        instances:
          description: Optional. instances in a layer
          items:
            $ref: '#/components/schemas/Instance'
          type: array
        sid:
          description: Output only. system identification of a layer
          readOnly: true
          type: string
      type: object
    ListEvaluationsResponse:
      description: Message for response to listing Evaluations
      example:
        evaluations:
        - bigQueryDestination:
            destinationDataset: destinationDataset
            createNewResultsTable: true
          customRulesBucket: customRulesBucket
          schedule: schedule
          resourceStatus:
            rulesNewerVersions:
            - rulesNewerVersions
            - rulesNewerVersions
            state: STATE_UNSPECIFIED
          ruleVersions:
          - ruleVersions
          - ruleVersions
          createTime: createTime
          name: name
          description: description
          ruleNames:
          - ruleNames
          - ruleNames
          updateTime: updateTime
          resourceFilter:
            gceInstanceFilter:
              serviceAccounts:
              - serviceAccounts
              - serviceAccounts
            resourceIdPatterns:
            - resourceIdPatterns
            - resourceIdPatterns
            inclusionLabels:
              key: inclusionLabels
            scopes:
            - scopes
            - scopes
          labels:
            key: labels
        - bigQueryDestination:
            destinationDataset: destinationDataset
            createNewResultsTable: true
          customRulesBucket: customRulesBucket
          schedule: schedule
          resourceStatus:
            rulesNewerVersions:
            - rulesNewerVersions
            - rulesNewerVersions
            state: STATE_UNSPECIFIED
          ruleVersions:
          - ruleVersions
          - ruleVersions
          createTime: createTime
          name: name
          description: description
          ruleNames:
          - ruleNames
          - ruleNames
          updateTime: updateTime
          resourceFilter:
            gceInstanceFilter:
              serviceAccounts:
              - serviceAccounts
              - serviceAccounts
            resourceIdPatterns:
            - resourceIdPatterns
            - resourceIdPatterns
            inclusionLabels:
              key: inclusionLabels
            scopes:
            - scopes
            - scopes
          labels:
            key: labels
        unreachable:
        - unreachable
        - unreachable
        nextPageToken: nextPageToken
      properties:
        evaluations:
          description: The list of Evaluation
          items:
            $ref: '#/components/schemas/Evaluation'
          type: array
        nextPageToken:
          description: A token identifying a page of results the server should return.
          type: string
        unreachable:
          description: Locations that could not be reached.
          items:
            type: string
          type: array
      type: object
    ListExecutionResultsResponse:
      description: Message for response of list execution results
      example:
        nextPageToken: nextPageToken
        executionResults:
        - severity: severity
          documentationUrl: documentationUrl
          resource:
            name: name
            serviceAccount: serviceAccount
            type: type
          violationDetails:
            serviceAccount: serviceAccount
            asset: asset
            observed:
              key: observed
          rule: rule
          violationMessage: violationMessage
        - severity: severity
          documentationUrl: documentationUrl
          resource:
            name: name
            serviceAccount: serviceAccount
            type: type
          violationDetails:
            serviceAccount: serviceAccount
            asset: asset
            observed:
              key: observed
          rule: rule
          violationMessage: violationMessage
      properties:
        executionResults:
          description: The versions from the specified publisher.
          items:
            $ref: '#/components/schemas/ExecutionResult'
          type: array
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is omitted, there are no subsequent pages."
          type: string
      type: object
    ListExecutionsResponse:
      description: Message for response to listing Executions
      example:
        executions:
        - evaluationId: evaluationId
          runType: TYPE_UNSPECIFIED
          name: name
          inventoryTime: inventoryTime
          startTime: startTime
          endTime: endTime
          state: STATE_UNSPECIFIED
          labels:
            key: labels
        - evaluationId: evaluationId
          runType: TYPE_UNSPECIFIED
          name: name
          inventoryTime: inventoryTime
          startTime: startTime
          endTime: endTime
          state: STATE_UNSPECIFIED
          labels:
            key: labels
        unreachable:
        - unreachable
        - unreachable
        nextPageToken: nextPageToken
      properties:
        executions:
          description: The list of Execution
          items:
            $ref: '#/components/schemas/Execution'
          type: array
        nextPageToken:
          description: A token identifying a page of results the server should return.
          type: string
        unreachable:
          description: Locations that could not be reached.
          items:
            type: string
          type: array
      type: object
    ListLocationsResponse:
      description: The response message for Locations.ListLocations.
      example:
        nextPageToken: nextPageToken
        locations:
        - metadata:
            key: ""
          displayName: displayName
          locationId: locationId
          name: name
          labels:
            key: labels
        - metadata:
            key: ""
          displayName: displayName
          locationId: locationId
          name: name
          labels:
            key: labels
      properties:
        locations:
          description: A list of locations that matches the specified filter in the
            request.
          items:
            $ref: '#/components/schemas/Location'
          type: array
        nextPageToken:
          description: The standard List next-page token.
          type: string
      type: object
    ListOperationsResponse:
      description: The response message for Operations.ListOperations.
      example:
        operations:
        - metadata:
            key: ""
          response:
            key: ""
          name: name
          error:
            code: 0
            details:
            - key: ""
            - key: ""
            message: message
          done: true
        - metadata:
            key: ""
          response:
            key: ""
          name: name
          error:
            code: 0
            details:
            - key: ""
            - key: ""
            message: message
          done: true
        nextPageToken: nextPageToken
      properties:
        nextPageToken:
          description: The standard List next-page token.
          type: string
        operations:
          description: A list of operations that matches the specified filter in the
            request.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    ListRulesResponse:
      description: Mesesage of response of list rules
      example:
        nextPageToken: nextPageToken
        rules:
        - revisionId: revisionId
          secondaryCategory: secondaryCategory
          severity: severity
          remediation: remediation
          primaryCategory: primaryCategory
          displayName: displayName
          errorMessage: errorMessage
          name: name
          description: description
          uri: uri
          tags:
          - tags
          - tags
        - revisionId: revisionId
          secondaryCategory: secondaryCategory
          severity: severity
          remediation: remediation
          primaryCategory: primaryCategory
          displayName: displayName
          errorMessage: errorMessage
          name: name
          description: description
          uri: uri
          tags:
          - tags
          - tags
      properties:
        nextPageToken:
          description: A token identifying a page of results the server should return.
          type: string
        rules:
          description: all rules in response
          items:
            $ref: '#/components/schemas/Rule'
          type: array
      type: object
    ListScannedResourcesResponse:
      description: Message for response to list scanned resources
      example:
        scannedResources:
        - resource: resource
          type: type
        - resource: resource
          type: type
        nextPageToken: nextPageToken
      properties:
        nextPageToken:
          description: "A token, which can be sent as `page_token` to retrieve the\
            \ next page. If this field is omitted, there are no subsequent pages."
          type: string
        scannedResources:
          description: All scanned resources in response
          items:
            $ref: '#/components/schemas/ScannedResource'
          type: array
      type: object
    ListWorkloadProfilesResponse:
      description: List workloadResponse returns a response with the list of workload
        overview
      example:
        unreachable:
        - unreachable
        - unreachable
        nextPageToken: nextPageToken
        workloadOverviews:
        - threeTierWorkloadOverview:
            threeTierSystemId: threeTierSystemId
          sqlserverWorkloadOverview:
            availabilityGroup:
            - availabilityGroup
            - availabilityGroup
            sqlserverSystemId: sqlserverSystemId
          sapWorkloadOverview:
            appSid: appSid
            dbSid: dbSid
            sapSystemId: sapSystemId
        - threeTierWorkloadOverview:
            threeTierSystemId: threeTierSystemId
          sqlserverWorkloadOverview:
            availabilityGroup:
            - availabilityGroup
            - availabilityGroup
            sqlserverSystemId: sqlserverSystemId
          sapWorkloadOverview:
            appSid: appSid
            dbSid: dbSid
            sapSystemId: sapSystemId
      properties:
        nextPageToken:
          description: Output only. A token identifying a page of results the server
            should return
          readOnly: true
          type: string
        unreachable:
          description: Locations that could not be reached.
          items:
            type: string
          type: array
        workloadOverviews:
          description: Output only. The list of Workload Overview
          items:
            $ref: '#/components/schemas/WorkloadProfileOverview'
          readOnly: true
          type: array
      type: object
    LoadBalancerServer:
      description: The load balancer for sqlserver
      example:
        ip: ip
        vm: vm
      properties:
        ip:
          description: Output only. The IP address
          readOnly: true
          type: string
        vm:
          description: Output only. The VM name
          readOnly: true
          type: string
      type: object
    Location:
      description: A resource that represents a Google Cloud location.
      example:
        metadata:
          key: ""
        displayName: displayName
        locationId: locationId
        name: name
        labels:
          key: labels
      properties:
        displayName:
          description: "The friendly name for this location, typically a nearby city\
            \ name. For example, \"Tokyo\"."
          type: string
        labels:
          additionalProperties:
            type: string
          description: "Cross-service attributes for the location. For example {\"\
            cloud.googleapis.com/region\": \"us-east1\"}"
          type: object
        locationId:
          description: "The canonical id for this location. For example: `\"us-east1\"\
            `."
          type: string
        metadata:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: Service-specific metadata. For example the available capacity
            at the given location.
          type: object
        name:
          description: "Resource name for the location, which may vary between implementations.\
            \ For example: `\"projects/example-project/locations/us-east1\"`"
          type: string
      type: object
    Operation:
      description: This resource represents a long-running operation that is the result
        of a network API call.
      example:
        metadata:
          key: ""
        response:
          key: ""
        name: name
        error:
          code: 0
          details:
          - key: ""
          - key: ""
          message: message
        done: true
      properties:
        done:
          description: "If the value is `false`, it means the operation is still in\
            \ progress. If `true`, the operation is completed, and either `error`\
            \ or `response` is available."
          type: boolean
        error:
          $ref: '#/components/schemas/Status'
        metadata:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: "Service-specific metadata associated with the operation. It\
            \ typically contains progress information and common metadata such as\
            \ create time. Some services might not provide such metadata. Any method\
            \ that returns a long-running operation should document the metadata type,\
            \ if any."
          type: object
        name:
          description: "The server-assigned name, which is only unique within the\
            \ same service that originally returns it. If you use the default HTTP\
            \ mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          type: string
        response:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: "The normal, successful response of the operation. If the original\
            \ method returns no data on success, such as `Delete`, the response is\
            \ `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`,\
            \ the response should be the resource. For other methods, the response\
            \ should have the type `XxxResponse`, where `Xxx` is the original method\
            \ name. For example, if the original method name is `TakeSnapshot()`,\
            \ the inferred response type is `TakeSnapshotResponse`."
          type: object
      type: object
    OperationMetadata:
      description: Represents the metadata of the long-running operation.
      properties:
        apiVersion:
          description: Output only. API version used to start the operation.
          readOnly: true
          type: string
        createTime:
[...]
