openapi: 3.0.1
info:
  description: "Use these REST APIs for performing operations on Product entity associated\
    \ with your Azure API Management deployment. The Product entity represents a product\
    \ in API Management. Products include one or more APIs and their associated terms\
    \ of use. Once a product is published, developers can subscribe to the product\
    \ and begin to use the product’s APIs."
  title: ApiManagementClient
  version: 2016-10-10
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimproducts.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimproducts
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products
  : get:
      description: Lists a collection of products in the specified service instance.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/dn776336.aspx
      operationId: Products_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field       | Supported operators    | Supported functions                         |
          |-------------|------------------------|---------------------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | terms       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | state       | eq                     |                                             |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "When set to true, the response contains an array of groups that\
          \ have visibility to the product. The default is false."
        in: query
        name: expandGroups
        schema:
          type: boolean
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCollection'
          description: A Collection of the Product entities for the specified API
            Management service instance.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Products
      x-ms-odata: '#/definitions/ProductContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}
  : delete:
      description: Delete product.
      operationId: Products_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Delete existing subscriptions to the product or not.
        in: query
        name: deleteSubscriptions
        schema:
          type: boolean
      - description: ETag of the Product Entity. ETag should match the current entity
          state from the header response of the GET request or it should be * for
          unconditional update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The product was successfully deleted.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Products
      x-accepts:
      - application/json
    get:
      description: Gets the details of the product specified by its identifier.
      operationId: Products_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductContract'
          description: The response body contains the specified Product entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Products
      x-accepts:
      - application/json
    patch:
      description: Update product.
      operationId: Products_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Product Entity. ETag should match the current entity
          state from the header response of the GET request or it should be * for
          unconditional update.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateParameters'
        description: Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: No Content in case of Update Successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Products
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or Updates a product.
      operationId: Products_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductContract'
        description: Create or update parameters.
        required: true
      responses:
        "201":
          content: {}
          description: Product was successfully created.
        "204":
          content: {}
          description: Product was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Products
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/apis
  : get:
      description: Lists a collection of the APIs associated with a product.
      operationId: ProductApis_ListByProducts
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |
          | Field       | Supported operators    | Supported functions                         |
          |-------------|------------------------|---------------------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | path        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductApis_ListByProducts_200_response'
          description: The response body contains a collection of Api entities in
            the product.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductApis
      x-ms-odata: ./apimapis.json#/definitions/ApiContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/apis/{apiId}
  : delete:
      description: Deletes the specified API from the specified product.
      operationId: ProductApis_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The API was successfully removed from the product.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductApis
      x-accepts:
      - application/json
    put:
      description: Adds an API to the specified product.
      operationId: ProductApis_Create
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: apiId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "201":
          content: {}
          description: The API was successfully added to the product.
        "204":
          content: {}
          description: The specified API is already added to the product.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductApis
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/groups
  : get:
      description: Lists the collection of developer groups associated with the specified
        product.
      operationId: ProductGroups_ListByProducts
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field       | Supported operators    | Supported functions                         |
          |-------------|------------------------|---------------------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | type        | eq, ne                 | N/A                                         |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductGroups_ListByProducts_200_response'
          description: Lists a collection of Group entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductGroups
      x-ms-odata: ./apimgroups.json#/definitions/GroupContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/groups/{groupId}
  : delete:
      description: Deletes the association between the specified group and product.
      operationId: ProductGroups_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Group identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The group was successfully disassociated with the product.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Request validation failed.This is typically caused by an invalid
            product or group id.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductGroups
      x-accepts:
      - application/json
    put:
      description: Adds the association between the specified developer group with
        the specified product.
      operationId: ProductGroups_Create
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Group identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: groupId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "201":
          content: {}
          description: The group was successfully associated with the product..
        "204":
          content: {}
          description: The specified group is already associated with the product.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductGroups
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/policy
  : delete:
      description: Deletes the policy configuration at the Product.
      operationId: ProductPolicy_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the product policy to update.
          A value of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Successfully deleted the policy configuration at the Product
            level.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductPolicy
      x-accepts:
      - application/json
    get:
      description: Get the policy configuration at the Product level.
      operationId: ProductPolicy_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/vnd.ms-azure-apim.policy+xml:
              schema:
                format: binary
                type: string
          description: Product Policy information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
      tags:
      - ProductPolicy
      x-accepts:
      - application/vnd.ms-azure-apim.policy+xml
    put:
      description: Creates or updates policy configuration for the Product.
      operationId: ProductPolicy_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the product policy to update.
          A value of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.ms-azure-apim.policy+xml:
            schema:
              format: file
              type: object
        description: The policy contents to apply.
        required: true
      responses:
        "201":
          content: {}
          description: Product policy configuration was successfully created.
        "204":
          content: {}
          description: Product policy configuration of the tenant was successfully
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductPolicy
      x-codegen-request-body-name: parameters
      x-content-type: application/vnd.ms-azure-apim.policy+xml
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/subscriptions
  : get:
      description: Lists the collection of subscriptions to the specified product.
      operationId: ProductSubscriptions_ListByProducts
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Product identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: productId
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field        | Supported operators    | Supported functions                         |
          |--------------|------------------------|---------------------------------------------|
          | id           | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | name         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | stateComment | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | userId       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | productId    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | state        | eq                     |                                             |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSubscriptions_ListByProducts_200_response'
          description: Lists a collection of subscription entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - ProductSubscriptions
      x-ms-odata: ./apimsubscriptions.json#/definitions/SubscriptionContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
components:
  parameters:
    ProductIdParameter:
      description: Product identifier. Must be unique in the current API Management
        service instance.
      in: path
      name: productId
      required: true
      schema:
        maxLength: 256
        minLength: 1
        pattern: "^[^*#&+:<>?]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ProductCollection:
      description: Paged Products list representation.
      example:
        count: 0
        value:
        - subscriptionsLimit: 6
          subscriptionRequired: true
          terms: terms
          approvalRequired: true
          name: name
          description: description
          id: id
          state: NotPublished
        - subscriptionsLimit: 6
          subscriptionRequired: true
          terms: terms
          approvalRequired: true
          name: name
          description: description
          id: id
          state: NotPublished
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/ProductContract'
          type: array
      type: object
    ProductContract:
      description: Product profile.
      example:
        subscriptionsLimit: 6
        subscriptionRequired: true
        terms: terms
        approvalRequired: true
        name: name
        description: description
        id: id
        state: NotPublished
      properties:
        approvalRequired:
          description: "whether subscription approval is required. If\_false, new\
            \ subscriptions will be approved automatically enabling developers to\
            \ call the product’s APIs immediately after subscribing. If\_true, administrators\
            \ must manually approve the subscription before the developer can any\
            \ of the product’s APIs. Can be present only if subscriptionRequired property\
            \ is present and has a value of true."
          type: boolean
        description:
          description: Product description. May include HTML formatting tags.
          maxLength: 1000
          minLength: 1
          type: string
        id:
          description: "Uniquely identifies the product within the current API Management\
            \ service instance. The value is a valid relative URL in the format of\
            \ /products/{productId} where {productId} is a product identifier."
          readOnly: true
          type: string
        name:
          description: Product name.
          maxLength: 300
          minLength: 1
          type: string
        state:
          default: NotPublished
          description: whether product is published or not. Published products are
            discoverable by users of developer portal. Non published products are
            visible only to administrators. Default state of Product is NotPublished.
          enum:
          - NotPublished
          - Published
          type: string
          x-ms-enum:
            modelAsString: false
            name: ProductStateContract
        subscriptionRequired:
          default: true
          description: "Whether a product subscription is required for accessing APIs\
            \ included in this product. If true, the product is referred to as \"\
            protected\" and a valid subscription key is required for a request to\
            \ an API included in the product to succeed. If false, the product is\
            \ referred to as \"open\" and requests to an API included in the product\
            \ can be made without a subscription key. If property is omitted when\
            \ creating a new product it's value is assumed to be true."
          type: boolean
        subscriptionsLimit:
          description: Whether the number of subscriptions a user can have to this
            product at the same time. Set to null or omit to allow unlimited per user
            subscriptions. Can be present only if subscriptionRequired property is
            present and has a value of true.
          format: int32
          type: integer
        terms:
          description: Product terms of use. Developers trying to subscribe to the
            product will be presented and required to accept these terms before they
            can complete the subscription process.
          type: string
      required:
      - name
      type: object
    ProductUpdateParameters:
      description: Parameters supplied to the CreateOrUpdate Product operation.
      example:
        subscriptionsLimit: 0
        subscriptionRequired: true
        terms: terms
        approvalRequired: true
        name: name
        description: description
        state: NotPublished
      properties:
        approvalRequired:
          description: "whether subscription approval is required. If\_false, new\
            \ subscriptions will be approved automatically enabling developers to\
            \ call the product’s APIs immediately after subscribing. If\_true, administrators\
            \ must manually approve the subscription before the developer can any\
            \ of the product’s APIs. Can be present only if subscriptionRequired property\
            \ is present and has a value of true."
          type: boolean
        description:
          description: Product description.
          maxLength: 500
          minLength: 1
          type: string
        name:
          description: Product name.
          maxLength: 300
          minLength: 1
          type: string
        state:
          description: whether product is published or not. Published products are
            discoverable by users of developer portal. Non published products are
            visible only to administrators.
          enum:
          - NotPublished
          - Published
          type: string
          x-ms-enum:
            modelAsString: false
            name: ProductStateContract
        subscriptionRequired:
          description: "whether a product subscription is required for accessing APIs\
            \ included in this product. If true, the product is referred to as \"\
            protected\" and a valid subscription key is required for a request to\
            \ an API included in the product to succeed. If false, the product is\
            \ referred to as \"open\" and requests to an API included in the product\
            \ can be made without a subscription key. If property is omitted when\
            \ creating a new product it's value is assumed to be true."
          type: boolean
        subscriptionsLimit:
          description: whether the number of subscriptions a user can have to this
            product at the same time. Set to null or omit to allow unlimited per user
            subscriptions. Can be present only if subscriptionRequired property is
            present and has a value of true.
          format: int32
          type: integer
        terms:
          description: Product terms and conditions. Developer will have to accept
            these terms before he's allowed to call product API.
          type: string
      type: object
    Products_ListByService_default_response_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    Products_ListByService_default_response:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Products_ListByService_default_response_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    ProductApis_ListByProducts_200_response_value_inner:
      description: API details.
      example:
        path: path
        name: name
        serviceUrl: serviceUrl
        id: id
        protocols:
        - Http
        - Http
      properties:
        id:
          description: "API identifier path: /apis/{apiId}"
          readOnly: true
          type: string
        name:
          description: API name.
          maxLength: 300
          minLength: 1
          type: string
        path:
          description: Relative URL uniquely identifying this API and all of its resource
            paths within the API Management service instance. It is appended to the
            API endpoint base URL specified during the service instance creation to
            form a public URL for this API.
          maxLength: 400
          minLength: 0
          type: string
        protocols:
          description: Describes on which protocols the operations in this API can
            be invoked.
          items:
            enum:
            - Http
            - Https
            type: string
            x-ms-enum:
              modelAsString: false
              name: ApiProtocolContract
          type: array
        serviceUrl:
          description: Absolute URL of the backend service implementing this API.
          maxLength: 2000
          minLength: 1
          type: string
      required:
      - name
      - path
      - protocols
      - serviceUrl
      type: object
    ProductApis_ListByProducts_200_response:
      description: Paged Api list representation.
      example:
        count: 0
        value:
        - path: path
          name: name
          serviceUrl: serviceUrl
          id: id
          protocols:
          - Http
          - Http
        - path: path
          name: name
          serviceUrl: serviceUrl
          id: id
          protocols:
          - Http
          - Http
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/ProductApis_ListByProducts_200_response_value_inner'
          type: array
      type: object
    ProductGroups_ListByProducts_200_response_value_inner:
      description: Developer group.
      example:
        builtIn: true
        name: name
        description: description
        externalId: externalId
        id: id
        type: Custom
      properties:
        builtIn:
          description: "true if the group is one of the three system groups (Administrators,\
            \ Developers, or Guests); otherwise false."
          readOnly: true
          type: boolean
        description:
          description: Group description. Can contain HTML formatting tags.
          maxLength: 1000
          type: string
        externalId:
          description: "For external groups, this property contains the id of the\
            \ group from the external identity provider, e.g. for Azure Active Directory\
            \ aad://<tenant>.onmicrosoft.com/groups/<group object id>; otherwise the\
            \ value is null."
          readOnly: true
          type: string
        id:
          description: "Uniquely identifies the group within the current API Management\
            \ service instance. The value is a valid relative URL in the format of\
            \ /groups/{groupId} where {groupId} is a group identifier."
          readOnly: true
          type: string
        name:
          description: Group name.
          maxLength: 300
          minLength: 1
          type: string
        type:
          description: Group type.
          enum:
          - Custom
          - System
          - External
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: GroupTypeContract
      required:
      - name
      type: object
    ProductGroups_ListByProducts_200_response:
      description: Paged Group list representation.
      example:
        count: 0
        value:
        - builtIn: true
          name: name
          description: description
          externalId: externalId
          id: id
          type: Custom
        - builtIn: true
          name: name
          description: description
          externalId: externalId
          id: id
          type: Custom
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/ProductGroups_ListByProducts_200_response_value_inner'
          type: array
      type: object
    ProductSubscriptions_ListByProducts_200_response_value_inner:
      description: Subscription details.
      example:
        productId: productId
        secondaryKey: secondaryKey
        endDate: 2000-01-23T04:56:07.000+00:00
        userId: userId
        createdDate: 2000-01-23T04:56:07.000+00:00
        stateComment: stateComment
        name: name
        id: id
        state: Suspended
        startDate: 2000-01-23T04:56:07.000+00:00
        expirationDate: 2000-01-23T04:56:07.000+00:00
        notificationDate: 2000-01-23T04:56:07.000+00:00
        primaryKey: primaryKey
      properties:
        createdDate:
          description: |
            Subscription creation date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          readOnly: true
          type: string
        endDate:
          description: |
            Date when subscription was cancelled or expired. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        expirationDate:
          description: |
            Subscription expiration date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        id:
          description: "Uniquely identifies the subscription within the current API\
            \ Management service instance. The value is a valid relative URL in the\
            \ format of /subscriptions/{sid} where {sid} is a subscription identifier."
          readOnly: true
          type: string
        name:
          description: "The name of the subscription, or null if the subscription\
            \ has no name."
          maxLength: 100
          minLength: 0
          type: string
        notificationDate:
          description: |
            Upcoming subscription expiration notification date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        primaryKey:
          description: Subscription primary key.
          maxLength: 256
          minLength: 1
          type: string
        productId:
          description: "The product resource identifier of the subscribed product.\
            \ The value is a valid relative URL in the format of /products/{productId}\
            \ where {productId} is a product identifier."
          type: string
        secondaryKey:
          description: Subscription secondary key.
          maxLength: 256
          minLength: 1
          type: string
        startDate:
          description: |
            Subscription activation date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        state:
          description: "Subscription state. Possible states are * active – the subscription\
            \ is active, * suspended – the subscription is blocked, and the subscriber\
            \ cannot call any APIs of the product, * submitted – the subscription\
            \ request has been made by the developer, but has not yet been approved\
            \ or rejected, * rejected – the subscription request has been denied by\
            \ an administrator, * cancelled – the subscription has been cancelled\
            \ by the developer or administrator, * expired – the subscription reached\
            \ its expiration date and was deactivated."
          enum:
          - Suspended
          - Active
          - Expired
          - Submitted
          - Rejected
          - Cancelled
          type: string
          x-ms-enum:
            modelAsString: false
            name: SubscriptionStateContract
        stateComment:
          description: Optional subscription comment added by an administrator.
          type: string
        userId:
          description: "The user resource identifier of the subscription owner. The\
            \ value is a valid relative URL in the format of /users/{uid} where {uid}\
            \ is a user identifier."
          type: string
      type: object
    ProductSubscriptions_ListByProducts_200_response:
      description: Paged Subscriptions list representation.
      example:
        count: 0
        value:
        - productId: productId
          secondaryKey: secondaryKey
          endDate: 2000-01-23T04:56:07.000+00:00
          userId: userId
          createdDate: 2000-01-23T04:56:07.000+00:00
          stateComment: stateComment
          name: name
          id: id
          state: Suspended
          startDate: 2000-01-23T04:56:07.000+00:00
          expirationDate: 2000-01-23T04:56:07.000+00:00
          notificationDate: 2000-01-23T04:56:07.000+00:00
          primaryKey: primaryKey
        - productId: productId
          secondaryKey: secondaryKey
          endDate: 2000-01-23T04:56:07.000+00:00
          userId: userId
          createdDate: 2000-01-23T04:56:07.000+00:00
          stateComment: stateComment
          name: name
          id: id
          state: Suspended
          startDate: 2000-01-23T04:56:07.000+00:00
          expirationDate: 2000-01-23T04:56:07.000+00:00
          notificationDate: 2000-01-23T04:56:07.000+00:00
          primaryKey: primaryKey
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/ProductSubscriptions_ListByProducts_200_response_value_inner'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

