openapi: 3.0.1
info:
  description: The Admin Commerce Management Client.
  title: CommerceManagementClient
  version: 2015-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/commerce/Microsoft.Commerce.Admin/preview/2015-06-01-preview/Commerce.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Commerce
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Commerce.Admin/operations:
    get:
      description: Returns the list of supported REST operations.
      operationId: Operations_List
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-06-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
      tags:
      - Commerce
      x-ms-examples:
        Returns the list of supported REST operations.:
          parameters:
            api-version: 2015-06-01-preview
          responses:
            "200":
              body:
                value:
                - display:
                    description: Updates the encryption used to protect data in storage
                      using the updated encryption configuration.
                    operation: Update Encryption
                    provider: Microsoft Commerce Service
                    resource: UpdateEncryption
                  name: Microsoft.Commerce.Admin/updateEncryption/action
                - display:
                    description: Lists the supported operations.
                    operation: List Operations
                    provider: Microsoft Commerce Service
                    resource: Operation
                  name: Microsoft.Commerce.Admin/operations/read
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Commerce.Admin/subscriberUsageAggregates:
    get:
      description: "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates\
        \ from users."
      operationId: SubscriberUsageAggregates_List
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-06-01-preview
          type: string
      - description: The reported start time (inclusive).
        in: query
        name: reportedStartTime
        required: true
        schema:
          format: date-time
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The reported end time (exclusive).
        in: query
        name: reportedEndTime
        required: true
        schema:
          format: date-time
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The aggregation granularity.
        in: query
        name: aggregationGranularity
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The tenant subscription identifier.
        in: query
        name: subscriberId
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The continuation token.
        in: query
        name: continuationToken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageAggregatePage'
          description: OK
      tags:
      - Commerce
      x-ms-examples:
        Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.:
          parameters:
            aggregationGranularity: ""
            api-version: 2015-06-01-preview
            continuationToken: ""
            location: local
            reportedEndTime: 2017-08-02T00:00:00.00Z
            reportedStartTime: 2017-08-01T00:00:00.00Z
            subscriberId: ""
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Commerce.Admin/updateEncryption:
    post:
      description: Update the encryption.
      operationId: UpdateEncryption
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription.The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2015-06-01-preview
          type: string
      responses:
        "200":
          content: {}
          description: OK
      tags:
      - Commerce
      x-ms-examples:
        Update the encryption.:
          parameters:
            api-version: 2015-06-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
      x-accepts:
      - application/json
components:
  parameters:
    AggregationGranularityParameter:
      description: The aggregation granularity.
      in: query
      name: aggregationGranularity
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2015-06-01-preview
        type: string
    ContinuationTokenParameter:
      description: The continuation token.
      in: query
      name: continuationToken
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ReportedEndTimeParameter:
      description: The reported end time (exclusive).
      in: query
      name: reportedEndTime
      required: true
      schema:
        format: date-time
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ReportedStartTimeParameter:
      description: The reported start time (inclusive).
      in: query
      name: reportedStartTime
      required: true
      schema:
        format: date-time
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription.The subscription ID forms part of the URI for every service call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    TenantSubscriptionIdParameter:
      description: The tenant subscription identifier.
      in: query
      name: subscriberId
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Display:
      description: Contains the localized display information for this particular
        operation / action.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: "The localized, friendly description for the operation. The\
            \ description will be displayed to the user. It should be thorough and\
            \ concise for used in both tooltips and detailed views."
          type: string
        operation:
          description: "The localized, friendly name for the operation. Use the name\
            \ as it will be displayed to the user."
          type: string
        provider:
          description: "The localized, friendly version of the resource provider name.\
            \ The provider name is expected to include the name of the publisher or\
            \ company responsible. The provider name format should use title case\
            \ and begin with \"Microsoft\" for first-party services. For example,\
            \ the provider name may be\"Microsoft Monitoring Insights\" or \"Microsoft\
            \ Compute\"."
          type: string
        resource:
          description: "The localized, friendly version of the resource type related\
            \ to this action or operation; the resource type should match the public\
            \ documentation for the resource provider."
          type: string
      type: object
    Operation:
      description: Describes the supported REST operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Display'
        name:
          description: The name of the operation performed on the object. The name
            should match the action name that appears in RBAC or the event service.
          type: string
      type: object
    OperationList:
      description: List of Operations
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page of operations.
          type: string
        value:
          description: Array of operations
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    Resource:
      description: Base Resource Object
      properties:
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: Location where resource is location.
          readOnly: true
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: List of key-value pairs.
          readOnly: true
          type: object
        type:
          description: Type of resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    UsageAggregate:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Aggregate usage values for resource.
      example:
        properties:
          quantity: quantity
          usageStartTime: 2000-01-23T04:56:07.000+00:00
          meterId: meterId
          usageEndTime: 2000-01-23T04:56:07.000+00:00
          subscriptionId: subscriptionId
          instanceData: instanceData
      properties:
        properties:
          $ref: '#/components/schemas/UsageAggregateModel'
    UsageAggregateModel:
      description: Properties for aggregate usage.
      example:
        quantity: quantity
        usageStartTime: 2000-01-23T04:56:07.000+00:00
        meterId: meterId
        usageEndTime: 2000-01-23T04:56:07.000+00:00
        subscriptionId: subscriptionId
        instanceData: instanceData
      properties:
        instanceData:
          description: Key-value pairs of instance details represented as a string.
          type: string
        meterId:
          description: "Unique ID for the resource that was consumed, for example,\
            \ the Resource ID."
          type: string
        quantity:
          description: The amount of the resource consumption that occurred in this
            time frame.
          type: string
        subscriptionId:
          description: Subscription ID of tenant using plan.
          type: string
        usageEndTime:
          description: UTC end time for the usage category to which this usage aggregate
            belongs.
          format: date-time
          type: string
        usageStartTime:
          description: UTC start time for the usage category to which this usage aggregate
            belongs.
          format: date-time
          type: string
      type: object
    UsageAggregatePage:
      description: Pageable list of usage aggregates
      example:
        value:
        - properties:
            quantity: quantity
            usageStartTime: 2000-01-23T04:56:07.000+00:00
            meterId: meterId
            usageEndTime: 2000-01-23T04:56:07.000+00:00
            subscriptionId: subscriptionId
            instanceData: instanceData
        - properties:
            quantity: quantity
            usageStartTime: 2000-01-23T04:56:07.000+00:00
            meterId: meterId
            usageEndTime: 2000-01-23T04:56:07.000+00:00
            subscriptionId: subscriptionId
            instanceData: instanceData
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page.
          type: string
        value:
          description: List of usage aggregates.
          items:
            $ref: '#/components/schemas/UsageAggregate'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

