openapi: 3.0.1
info:
  description: Use this API to manage the Windows IoT device services in your Azure
    subscription.
  title: DeviceServices
  version: 2019-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/windowsiot/resource-manager/Microsoft.WindowsIoT/stable/2019-06-01/WindowsIotServices.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: windowsiot-WindowsIotServices
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.WindowsIoT/operations:
    get:
      description: Lists all of the available Windows IoT Services REST API operations.
      operationId: Operations_List
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - Operations
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2019-06-01
          responses:
            "200":
              body:
                value:
                - display:
                    description: Creates a Windows IoT Subscription with the specified
                      parameters or update the properties or tags or adds custom domain
                      for the specified Windows IoT Subscription.
                    operation: Create/Update Windows IoT Subscription
                    provider: Windows IoT
                    resource: Windows IoT Services
                  name: Microsoft.WindowsIoT/Services/write
                - display:
                    description: Deletes an existing Windows IoT Subscription.
                    operation: Delete Windows IoT Subscription
                    provider: Windows IoT
                    resource: Windows IoT Services
                  name: Microsoft.WindowsIoT/Services/delete
                - display:
                    description: Checks that account name is valid and is not in use.
                    operation: Check Name Availability
                    provider: Windows IoT
                    resource: Name Availability
                  name: Microsoft.WindowsIoT/checkNameAvailability/read
                - display:
                    description: Returns the list of Windows IoT Services or gets
                      the properties for the specified Windows IoT Subscription.
                    operation: List/Get Windows IoT Subscription(s)
                    provider: Windows IoT
                    resource: Windows IoT Services
                  name: Microsoft.WindowsIoT/Services/read
                - display:
                    description: Polls the status of an asynchronous operation.
                    operation: Poll Asynchronous Operation
                    provider: Windows IoT
                    resource: Operations
                  name: Microsoft.WindowsIoT/operations/read
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.WindowsIoT/checkDeviceServiceNameAvailability:
    post:
      deprecated: false
      description: Check if a Windows IoT Device Service name is available.
      operationId: Services_CheckDeviceServiceNameAvailability
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceServiceCheckNameAvailabilityParameters'
        description: Set the name parameter in the DeviceServiceCheckNameAvailabilityParameters
          structure to the name of the Windows IoT Device Service to check.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceServiceNameAvailabilityInfo'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - CheckDeviceServiceNameAvailability
      x-ms-examples:
        Service_CheckNameAvailability:
          parameters:
            api-version: 2019-06-01
            deviceServiceCheckNameAvailabilityParameters:
              name: service3363
            subscriptionId: 27de630f-e1ee-42de-8849-90def4986454
          responses:
            "200":
              body:
                nameAvailable: true
      x-codegen-request-body-name: deviceServiceCheckNameAvailabilityParameters
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.WindowsIoT/deviceServices:
    get:
      deprecated: false
      description: Get all the IoT hubs in a subscription.
      operationId: Services_List
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceServiceDescriptionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - DeviceServices
      x-ms-examples:
        Service_List:
          parameters:
            api-version: 2019-06-01
            subscriptionId: 27de630f-e1ee-42de-8849-90def4986454
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/27de630f-e1ee-42de-8849-90def4986454/resourceGroups/res2627/providers/Microsoft.WindowsIoT/Services/service1125
                  name: service1125
                  properties:
                    adminDomainName: d.e.f
                    billingDomainName: a.b.c
                    notes: blah
                    quantity: 1000000
                    startDate: 2018-01-01T12:00:00000Z
                  type: Microsoft.WindowsIoT/Services
                - id: /subscriptions/27de630f-e1ee-42de-8849-90def4986454/resourceGroups/testcmk3/providers/Microsoft.WindowsIoT/Services/service3699
                  name: service3699
                  properties:
                    adminDomainName: d.e.f
                    billingDomainName: a.b.c
                    notes: blah
                    quantity: 1000000
                    startDate: 2018-01-01T12:00:00000Z
                  type: Microsoft.WindowsIoT/Services
                - id: /subscriptions/27de630f-e1ee-42de-8849-90def4986454/resourceGroups/testcmk3/providers/Microsoft.WindowsIoT/Services/service6637
                  name: service6637
                  properties:
                    adminDomainName: d.e.f
                    billingDomainName: a.b.c
                    notes: blah
                    quantity: 1000000
                    startDate: 2018-01-01T12:00:00000Z
                  type: Microsoft.WindowsIoT/Services
                - id: /subscriptions/27de630f-e1ee-42de-8849-90def4986454/resourceGroups/res8186/providers/Microsoft.WindowsIoT/Services/service834
                  name: service834
                  properties:
                    adminDomainName: d.e.f
                    billingDomainName: a.b.c
                    notes: blah
                    quantity: 1000000
                    startDate: 2018-01-01T12:00:00000Z
                  type: Microsoft.WindowsIoT/Services
                - id: /subscriptions/27de630f-e1ee-42de-8849-90def4986454/resourceGroups/testcmk3/providers/Microsoft.WindowsIoT/Services/service9174
                  name: service9174
                  properties:
                    adminDomainName: d.e.f
                    billingDomainName: a.b.c
                    notes: blah
                    quantity: 1000000
                    startDate: 2018-01-01T12:00:00000Z
                  type: Microsoft.WindowsIoT/Services
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WindowsIoT/deviceServices:
    get:
      deprecated: false
      description: Get all the IoT hubs in a resource group.
      operationId: Services_ListByResourceGroup
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the Windows IoT
          Device Service.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceServiceDescriptionListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - DeviceServices
      x-ms-examples:
        Service_ListByResourceGroup:
          parameters:
            api-version: 2019-06-01
            resourceGroupName: res6117
            subscriptionId: 27de630f-e1ee-42de-8849-90def4986454
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/27de630f-e1ee-42de-8849-90def4986454/resourceGroups/res6117/providers/Microsoft.WindowsIoT/Services/service4036
                  name: service4036
                  properties:
                    adminDomainName: d.e.f
                    billingDomainName: a.b.c
                    notes: blah
                    quantity: 1000000
                    startDate: 2018-01-01T12:00:00000Z
                  type: Microsoft.WindowsIoT/Services
                - id: /subscriptions/27de630f-e1ee-42de-8849-90def4986454/resourceGroups/res6117/providers/Microsoft.WindowsIoT/Services/service4452
                  name: service4452
                  properties:
                    adminDomainName: d.e.f
                    billingDomainName: a.b.c
                    notes: blah
                    quantity: 1000000
                    startDate: 2018-01-01T12:00:00000Z
                  type: Microsoft.WindowsIoT/Services
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WindowsIoT/deviceServices/{deviceName}:
    delete:
      deprecated: false
      description: Delete a Windows IoT Device Service.
      operationId: Services_Delete
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the Windows IoT
          Device Service.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Windows IoT Device Service.
        in: path
        name: deviceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceService'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - DeviceServices
      x-ms-examples:
        Service_Delete:
          parameters:
            api-version: 2019-06-01
            deviceName: service2434
            resourceGroupName: res4228
            subscriptionId: 27de630f-e1ee-42de-8849-90def4986454
          responses:
            "200":
              body:
                properties:
                  adminDomainName: d.e.f
                  billingDomainName: a.b.c
                  notes: blah
                  quantity: 1000000
                  startDate: 2018-01-01T12:00:00000Z
                type: Microsoft.WindowsIoT/Services
      x-accepts:
      - application/json
    get:
      deprecated: false
      description: Get the non-security related metadata of a Windows IoT Device Service.
      operationId: Services_Get
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the Windows IoT
          Device Service.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Windows IoT Device Service.
        in: path
        name: deviceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceService'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      tags:
      - DeviceServices
      x-ms-examples:
        Services_GetProperties:
          parameters:
            api-version: 2019-06-01
            deviceName: service8596
            resourceGroupName: res9407
            subscriptionId: 45b60d85-fd72-427a-a708-f994d26e593e
          responses:
            "200":
              body:
                id: /subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/res9407/providers/Microsoft.WindowsIoT/Services/service8596
                location: westus
                name: service8596
                properties:
                  adminDomainName: d.e.f
                  billingDomainName: a.b.c
                  notes: blah
                  quantity: 1000000
                  startDate: 2018-01-01T12:00:00000Z
                type: Microsoft.WindowsIoT/Services
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: "Updates the metadata of a Windows IoT Device Service. The usual\
        \ pattern to modify a property is to retrieve the Windows IoT Device Service\
        \ metadata and security metadata, and then combine them with the modified\
        \ values in a new body to update the Windows IoT Device Service."
      operationId: Services_Update
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the Windows IoT
          Device Service.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Windows IoT Device Service.
        in: path
        name: deviceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Windows IoT Device Service. Do not specify for creating
          a brand new Windows IoT Device Service. Required to update an existing Windows
          IoT Device Service.
        in: header
        name: If-Match
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceServiceProperties'
        description: The Windows IoT Device Service metadata and security metadata.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceService'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Updates the metadata of a Windows IoT Device Service.
      tags:
      - DeviceServices
      x-ms-examples:
        Service_Update:
          parameters:
            api-version: 2019-06-01
            deviceName: service8596
            deviceService:
              adminDomainName: d.e.f
              billingDomainName: a.b.c
              notes: blah
              quantity: 1000000
            monitor: "true"
            resourceGroupName: res9407
            subscriptionId: 45b60d85-fd72-427a-a708-f994d26e593e
          responses:
            "200":
              body:
                location: westus
                properties:
                  adminDomainName: d.e.f
                  billingDomainName: a.b.c
                  notes: blah
                  quantity: 1000000
                  startDate: 2018-01-01T12:00:00000Z
                type: Microsoft.WindowsIoT/Services
      x-codegen-request-body-name: deviceService
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      deprecated: false
      description: "Create or update the metadata of a Windows IoT Device Service.\
        \ The usual pattern to modify a property is to retrieve the Windows IoT Device\
        \ Service metadata and security metadata, and then combine them with the modified\
        \ values in a new body to update the Windows IoT Device Service."
      operationId: Services_CreateOrUpdate
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription identifier.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group that contains the Windows IoT
          Device Service.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Windows IoT Device Service.
        in: path
        name: deviceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: ETag of the Windows IoT Device Service. Do not specify for creating
          a new Windows IoT Device Service. Required to update an existing Windows
          IoT Device Service.
        in: header
        name: If-Match
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceServiceProperties'
        description: The Windows IoT Device Service metadata and security metadata.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceService'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetails'
          description: DefaultErrorResponse
      summary: Create or update the metadata of a Windows IoT Device Service.
      tags:
      - DeviceServices
      x-ms-examples:
        Service_Create:
          parameters:
            api-version: 2019-06-01
            deviceName: service4445
            deviceService:
              adminDomainName: d.e.f
              billingDomainName: a.b.c
              notes: blah
              quantity: 1000000
            resourceGroupName: res9101
            subscriptionId: 27de630f-e1ee-42de-8849-90def4986454
          responses:
            "200":
              body:
                properties:
                  adminDomainName: d.e.f
                  billingDomainName: a.b.c
                  notes: blah
                  quantity: 1000000
                  startDate: 2018-01-01T12:00:00000Z
                type: Microsoft.WindowsIoT/Services
      x-codegen-request-body-name: deviceService
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The version of the API.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    DeviceNameParameter:
      description: The name of the Windows IoT Device Service.
      in: path
      name: deviceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group that contains the Windows IoT Device
        Service.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription identifier.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    DeviceService:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: The description of the Windows IoT Device Service.
      example:
        etag: etag
        properties:
          adminDomainName: adminDomainName
          notes: notes
          quantity: 0
          billingDomainName: billingDomainName
          startDate: 2000-01-23T04:56:07.000+00:00
      properties:
        etag:
          description: "The Etag field is *not* required. If it is provided in the\
            \ response body, it must also be provided as a header per the normal ETag\
            \ convention."
          type: string
        properties:
          $ref: '#/components/schemas/DeviceServiceProperties'
    DeviceServiceCheckNameAvailabilityParameters:
      description: Input values.
      example:
        name: name
      properties:
        name:
          description: The name of the Windows IoT Device Service to check.
          type: string
      required:
      - name
      type: object
    DeviceServiceDescriptionListResult:
      description: The JSON-serialized array of DeviceService objects with a next
        link.
      example:
        value:
        - etag: etag
          properties:
            adminDomainName: adminDomainName
            notes: notes
            quantity: 0
            billingDomainName: billingDomainName
            startDate: 2000-01-23T04:56:07.000+00:00
        - etag: etag
          properties:
            adminDomainName: adminDomainName
            notes: notes
            quantity: 0
            billingDomainName: billingDomainName
            startDate: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: The next link.
          readOnly: true
          type: string
        value:
          description: The array of DeviceService objects.
          items:
            $ref: '#/components/schemas/DeviceService'
          type: array
      type: object
    DeviceServiceNameAvailabilityInfo:
      description: The properties indicating whether a given Windows IoT Device Service
        name is available.
      example:
        reason: Invalid
        nameAvailable: true
        message: message
      properties:
        message:
          description: The detailed reason message.
          type: string
        nameAvailable:
          description: The value which indicates whether the provided name is available.
          readOnly: true
          type: boolean
        reason:
          description: The reason for unavailability.
          enum:
          - Invalid
          - AlreadyExists
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: serviceNameUnavailabilityReason
      type: object
    DeviceServiceProperties:
      description: The properties of a Windows IoT Device Service.
      example:
        adminDomainName: adminDomainName
        notes: notes
        quantity: 0
        billingDomainName: billingDomainName
        startDate: 2000-01-23T04:56:07.000+00:00
      properties:
        adminDomainName:
          description: Windows IoT Device Service OEM AAD domain
          type: string
        billingDomainName:
          description: Windows IoT Device Service ODM AAD domain
          type: string
        notes:
          description: Windows IoT Device Service notes.
          type: string
        quantity:
          description: "Windows IoT Device Service device allocation,"
          format: int64
          type: integer
        startDate:
          description: "Windows IoT Device Service start date,"
          format: date-time
          readOnly: true
          type: string
      type: object
    ErrorDetails:
      description: The details of the error.
      example:
        code: code
        details: details
        message: message
        target: target
      properties:
        code:
          description: One of a server-defined set of error codes.
          type: string
        details:
          description: A human-readable representation of the error's details.
          type: string
        message:
          description: A human-readable representation of the error.
          type: string
        target:
          description: The target of the particular error.
          type: string
      type: object
    OperationDisplayInfo:
      description: The operation supported by Azure Data Catalog Service.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description of the operation.
          type: string
        operation:
          description: "The action that users can perform, based on their permission\
            \ level."
          type: string
        provider:
          description: "Service provider: Azure Data Catalog Service."
          type: string
        resource:
          description: Resource on which the operation is performed.
          type: string
      type: object
    OperationEntity:
      description: The operation supported by Azure Data Catalog Service.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplayInfo'
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          type: string
      type: object
    OperationListResult:
      description: Result of the request to list Windows IoT Device Service operations.
        It contains a list of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          readOnly: true
          type: string
        value:
          description: List of Windows IoT Device Service operations supported by
            the Microsoft.WindowsIoT resource provider.
          items:
            $ref: '#/components/schemas/OperationEntity'
          readOnly: true
          type: array
      type: object
    ProxyResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a ARM proxy resource. It will
        have everything other than required location and tags
    Resource:
      description: The core properties of ARM resources
      properties:
        id:
          description: Fully qualified resource Id for the resource
          readOnly: true
          type: string
        name:
          description: The name of the resource
          readOnly: true
          type: string
        type:
          description: The type of the resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    TrackedResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The resource model definition for a ARM tracked top level resource
      properties:
        location:
          description: The Azure Region where the resource lives
          type: string
          x-ms-mutability:
          - read
          - create
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
          x-ms-mutability:
          - read
          - create
          - update
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

