openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2015-06-15
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2015-06-15/virtualNetworkGateway.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-virtualNetworkGateway
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections:
    get:
      description: The List VirtualNetworkGatewayConnections operation retrieves all
        the virtual network gateways connections created.
      operationId: virtual_network_gateway_connections_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnectionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnectionListResult'
          description: Request successful. The operation resets the virtual network
            gateway connection shared key.
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}
  : delete:
      description: Deletes the specified virtual network Gateway connection.
      operationId: virtual_network_gateway_connections_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
    get:
      description: Gets the specified virtual network gateway connection by resource
        group.
      operationId: virtual_network_gateway_connections_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: Request successful. The operation returns the resulting VirtualNetworkPeering
            resource.
      tags:
      - VirtualNetworkGatewayConnections
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
    put:
      description: Creates or updates a virtual network gateway connection in the
        specified resource group.
      operationId: virtual_network_gateway_connections_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
        description: Parameters supplied to the create or update virtual network gateway
          connection operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: Update successful. The operation returns the resulting VirtualNetworkGatewayConnection
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: Create successful. The operation returns the resulting VirtualNetworkGatewayConnection
            resource.
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey
  : get:
      description: The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves
        information about the specified virtual network gateway connection shared
        key through Network resource provider.
      operationId: virtual_network_gateway_connections_get_shared_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection shared key name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKeyResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKeyResult'
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
    put:
      description: The Put VirtualNetworkGatewayConnectionSharedKey operation sets
        the virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network resource
        provider.
      operationId: virtual_network_gateway_connections_set_shared_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionSharedKey'
          text/json:
            schema:
              $ref: '#/components/schemas/ConnectionSharedKey'
        description: Parameters supplied to the Begin Set Virtual Network Gateway
          connection Shared key operation throughNetwork resource provider.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset
  : post:
      description: The VirtualNetworkGatewayConnectionResetSharedKey operation resets
        the virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network resource
        provider.
      operationId: virtual_network_gateway_connections_reset_shared_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection reset shared key Name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionResetSharedKey'
          text/json:
            schema:
              $ref: '#/components/schemas/ConnectionResetSharedKey'
        description: Parameters supplied to the begin reset virtual network gateway
          connection shared key operation through network resource provider.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResetSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionResetSharedKey'
          description: Request successful. The operation sets the virtual network
            gateway connection shared key.
        "202":
          content: {}
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways:
    get:
      description: Gets all the local network gateways in a resource group.
      operationId: local_network_gateways_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGatewayListResult'
          description: Request successful. The operation returns a list of LocalNetworkGateway
            resources.
      tags:
      - LocalNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}
  : delete:
      description: Deletes the specified local network gateway.
      operationId: local_network_gateways_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the local network gateway.
        in: path
        name: localNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - LocalNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
    get:
      description: Gets the specified local network gateway in a resource group.
      operationId: local_network_gateways_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the local network gateway.
        in: path
        name: localNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: Request successful. The operation returns the resulting LocalNetworkGateway
            resource.
      tags:
      - LocalNetworkGateways
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
    put:
      description: Creates or updates a local network gateway in the specified resource
        group.
      operationId: local_network_gateways_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the local network gateway.
        in: path
        name: localNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalNetworkGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/LocalNetworkGateway'
        description: Parameters supplied to the create or update local network gateway
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: Update successful. The operation returns the resulting LocalNetworkGateway
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: Create successful. The operation returns the resulting LocalNetworkGateway
            resource.
      tags:
      - LocalNetworkGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways:
    get:
      description: Gets all virtual network gateways by resource group.
      operationId: virtual_network_gateways_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayListResult'
          description: Request successful. The operation returns a list of VirtualNetworkGateway
            resources.
      tags:
      - VirtualNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}
  : delete:
      description: Deletes the specified virtual network gateway.
      operationId: virtual_network_gateways_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - VirtualNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
    get:
      description: Gets the specified virtual network gateway by resource group.
      operationId: virtual_network_gateways_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: Request successful. The operation returns a VirtualNetworkGateway
            resource.
      tags:
      - VirtualNetworkGateways
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
    put:
      description: Creates or updates a virtual network gateway in the specified resource
        group.
      operationId: virtual_network_gateways_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGateway'
        description: Parameters supplied to create or update virtual network gateway
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: Update successful. The operation returns the resulting VirtualNetworkGateway
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: Create successful. The operation returns the resulting VirtualNetworkGateway
            resource.
      tags:
      - VirtualNetworkGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnclientpackage
  : post:
      description: Generates VPN client package for P2S client of the virtual network
        gateway in the specified resource group.
      operationId: virtual_network_gateways_generatevpnclientpackage
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnClientParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/VpnClientParameters'
        description: Parameters supplied to the generate virtual network gateway VPN
          client package operation.
        required: true
        x-body-name: parameters
      responses:
        "202":
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: VPN client package URL.
      tags:
      - VirtualNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/reset
  : post:
      description: Resets the primary of the virtual network gateway in the specified
        resource group.
      operationId: virtual_network_gateways_reset
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGateway'
        description: Virtual network gateway vip address supplied to the begin reset
          of the active-active feature enabled gateway.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: Request successful. The operation reset the primary of the
            virtual network gateway.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - VirtualNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    BgpSettings:
      example:
        bgpPeeringAddress: bgpPeeringAddress
        asn: 1
        peerWeight: 5
      properties:
        asn:
          description: Gets or sets this BGP speaker's ASN
          format: int64
          title: asn
          type: integer
        bgpPeeringAddress:
          description: Gets or sets the BGP peering address and BGP identifier of
            this BGP speaker
          title: bgpPeeringAddress
          type: string
        peerWeight:
          description: Gets or sets the weight added to routes learned from this BGP
            speaker
          format: int32
          title: peerWeight
          type: integer
      title: BgpSettings
      type: object
    ConnectionResetSharedKey:
      example:
        keyLength: 0
      properties:
        keyLength:
          description: The virtual network connection reset shared key length
          format: int64
          title: keyLength
          type: integer
      title: ConnectionResetSharedKey
      type: object
    ConnectionSharedKey:
      description: Response for GetConnectionSharedKey API service call
      example:
        value: value
      properties:
        value:
          description: The virtual network connection shared key value
          title: value
          type: string
      title: ConnectionSharedKey
      type: object
    ConnectionSharedKeyResult:
      description: Response for CheckConnectionSharedKey API service call
      example:
        value: value
      properties:
        value:
          description: The virtual network connection shared key value
          title: value
          type: string
      title: ConnectionSharedKeyResult
      type: object
    LocalNetworkGateway:
      allOf:
      - description: Azure resource manager resource properties.
        properties:
          id:
            description: Resource Identifier.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: A common class for general resource information
      example:
        etag: etag
        properties:
          localNetworkAddressSpace:
            addressPrefixes:
            - addressPrefixes
            - addressPrefixes
          resourceGuid: resourceGuid
          gatewayIpAddress: gatewayIpAddress
          bgpSettings:
            bgpPeeringAddress: bgpPeeringAddress
            asn: 1
            peerWeight: 5
          provisioningState: provisioningState
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/LocalNetworkGatewayPropertiesFormat'
      title: LocalNetworkGateway
    LocalNetworkGatewayListResult:
      description: Response for ListLocalNetworkGateways API service call.
      example:
        value:
        - etag: etag
          properties:
            localNetworkAddressSpace:
              addressPrefixes:
              - addressPrefixes
              - addressPrefixes
            resourceGuid: resourceGuid
            gatewayIpAddress: gatewayIpAddress
            bgpSettings:
              bgpPeeringAddress: bgpPeeringAddress
              asn: 1
              peerWeight: 5
            provisioningState: provisioningState
        - etag: etag
          properties:
            localNetworkAddressSpace:
              addressPrefixes:
              - addressPrefixes
              - addressPrefixes
            resourceGuid: resourceGuid
            gatewayIpAddress: gatewayIpAddress
            bgpSettings:
              bgpPeeringAddress: bgpPeeringAddress
              asn: 1
              peerWeight: 5
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: A list of local network gateways that exists in a resource
            group.
          items:
            $ref: '#/components/schemas/LocalNetworkGateway'
          title: value
          type: array
      title: LocalNetworkGatewayListResult
      type: object
    LocalNetworkGatewayPropertiesFormat:
      description: LocalNetworkGateway properties
      example:
        localNetworkAddressSpace:
          addressPrefixes:
          - addressPrefixes
          - addressPrefixes
        resourceGuid: resourceGuid
        gatewayIpAddress: gatewayIpAddress
        bgpSettings:
          bgpPeeringAddress: bgpPeeringAddress
          asn: 1
          peerWeight: 5
        provisioningState: provisioningState
      properties:
        bgpSettings:
          $ref: '#/components/schemas/BgpSettings'
        gatewayIpAddress:
          description: IP address of local network gateway.
          title: gatewayIpAddress
          type: string
        localNetworkAddressSpace:
          $ref: '#/components/schemas/LocalNetworkGatewayPropertiesFormat_localNetworkAddressSpace'
        provisioningState:
          description: Gets or sets Provisioning state of the LocalNetworkGateway
            resource Updating/Deleting/Failed
          title: provisioningState
          type: string
        resourceGuid:
          description: The resource GUID property of the LocalNetworkGateway resource.
          title: resourceGuid
          type: string
      title: LocalNetworkGatewayPropertiesFormat
      type: object
    VirtualNetworkGateway:
      allOf:
      - description: Azure resource manager resource properties.
        properties:
          id:
            description: Resource Identifier.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: A common class for general resource information
      example:
        etag: etag
        properties:
          ipConfigurations:
          - name: name
            etag: etag
            properties:
              subnet:
                id: id
              privateIPAllocationMethod: Static
              privateIPAddress: privateIPAddress
              provisioningState: provisioningState
              publicIPAddress:
                id: id
          - name: name
            etag: etag
            properties:
              subnet:
                id: id
              privateIPAllocationMethod: Static
              privateIPAddress: privateIPAddress
              provisioningState: provisioningState
              publicIPAddress:
                id: id
          enableBgp: true
          gatewayType: Vpn
          resourceGuid: resourceGuid
          bgpSettings:
            bgpPeeringAddress: bgpPeeringAddress
            asn: 1
            peerWeight: 5
          vpnClientConfiguration:
            vpnClientRevokedCertificates:
            - name: name
              etag: etag
              properties:
                thumbprint: thumbprint
                provisioningState: provisioningState
            - name: name
              etag: etag
              properties:
                thumbprint: thumbprint
                provisioningState: provisioningState
            vpnClientRootCertificates:
            - name: name
              etag: etag
              properties:
                provisioningState: provisioningState
                publicCertData: publicCertData
            - name: name
              etag: etag
              properties:
                provisioningState: provisioningState
                publicCertData: publicCertData
            vpnClientAddressPool:
              addressPrefixes:
              - addressPrefixes
              - addressPrefixes
          vpnType: PolicyBased
          provisioningState: provisioningState
          sku:
            tier: Basic
            name: Basic
            capacity: 2
          gatewayDefaultSite:
            id: id
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/VirtualNetworkGatewayPropertiesFormat'
      title: VirtualNetworkGateway
    VirtualNetworkGatewayConnection:
      allOf:
      - description: Azure resource manager resource properties.
        properties:
          id:
            description: Resource Identifier.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: A common class for general resource information
      example:
        etag: etag
        properties:
          sharedKey: sharedKey
          authorizationKey: authorizationKey
          ingressBytesTransferred: 6
          resourceGuid: resourceGuid
          routingWeight: 5
          provisioningState: provisioningState
          connectionType: IPsec
          enableBgp: true
          peer:
            id: id
          localNetworkGateway2:
            etag: etag
            properties:
              localNetworkAddressSpace:
                addressPrefixes:
                - addressPrefixes
                - addressPrefixes
              resourceGuid: resourceGuid
              gatewayIpAddress: gatewayIpAddress
              bgpSettings:
                bgpPeeringAddress: bgpPeeringAddress
                asn: 1
                peerWeight: 5
              provisioningState: provisioningState
          connectionStatus: Unknown
          virtualNetworkGateway1:
            etag: etag
            properties:
              ipConfigurations:
              - name: name
                etag: etag
                properties:
                  subnet:
                    id: id
                  privateIPAllocationMethod: Static
                  privateIPAddress: privateIPAddress
                  provisioningState: provisioningState
                  publicIPAddress:
                    id: id
              - name: name
                etag: etag
                properties:
                  subnet:
                    id: id
                  privateIPAllocationMethod: Static
                  privateIPAddress: privateIPAddress
                  provisioningState: provisioningState
                  publicIPAddress:
                    id: id
              enableBgp: true
              gatewayType: Vpn
              resourceGuid: resourceGuid
              bgpSettings:
                bgpPeeringAddress: bgpPeeringAddress
                asn: 1
                peerWeight: 5
              vpnClientConfiguration:
                vpnClientRevokedCertificates:
                - name: name
                  etag: etag
                  properties:
                    thumbprint: thumbprint
                    provisioningState: provisioningState
                - name: name
                  etag: etag
                  properties:
                    thumbprint: thumbprint
                    provisioningState: provisioningState
                vpnClientRootCertificates:
                - name: name
                  etag: etag
                  properties:
                    provisioningState: provisioningState
                    publicCertData: publicCertData
                - name: name
                  etag: etag
                  properties:
                    provisioningState: provisioningState
                    publicCertData: publicCertData
                vpnClientAddressPool:
                  addressPrefixes:
                  - addressPrefixes
                  - addressPrefixes
              vpnType: PolicyBased
              provisioningState: provisioningState
              sku:
                tier: Basic
                name: Basic
                capacity: 2
              gatewayDefaultSite:
                id: id
          virtualNetworkGateway2:
            etag: etag
            properties:
              ipConfigurations:
              - name: name
                etag: etag
                properties:
                  subnet:
                    id: id
                  privateIPAllocationMethod: Static
                  privateIPAddress: privateIPAddress
                  provisioningState: provisioningState
                  publicIPAddress:
                    id: id
              - name: name
                etag: etag
                properties:
                  subnet:
                    id: id
                  privateIPAllocationMethod: Static
                  privateIPAddress: privateIPAddress
                  provisioningState: provisioningState
                  publicIPAddress:
                    id: id
              enableBgp: true
              gatewayType: Vpn
              resourceGuid: resourceGuid
              bgpSettings:
                bgpPeeringAddress: bgpPeeringAddress
                asn: 1
                peerWeight: 5
              vpnClientConfiguration:
                vpnClientRevokedCertificates:
                - name: name
                  etag: etag
                  properties:
                    thumbprint: thumbprint
                    provisioningState: provisioningState
                - name: name
                  etag: etag
                  properties:
                    thumbprint: thumbprint
                    provisioningState: provisioningState
                vpnClientRootCertificates:
                - name: name
                  etag: etag
                  properties:
                    provisioningState: provisioningState
                    publicCertData: publicCertData
                - name: name
                  etag: etag
                  properties:
                    provisioningState: provisioningState
                    publicCertData: publicCertData
                vpnClientAddressPool:
                  addressPrefixes:
                  - addressPrefixes
                  - addressPrefixes
              vpnType: PolicyBased
              provisioningState: provisioningState
              sku:
                tier: Basic
                name: Basic
                capacity: 2
              gatewayDefaultSite:
                id: id
          egressBytesTransferred: 0
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/VirtualNetworkGatewayConnectionPropertiesFormat'
      title: VirtualNetworkGatewayConnection
    VirtualNetworkGatewayConnectionListResult:
      description: Response for the ListVirtualNetworkGatewayConnections API service
        call
      example:
        value:
        - etag: etag
          properties:
            sharedKey: sharedKey
            authorizationKey: authorizationKey
            ingressBytesTransferred: 6
            resourceGuid: resourceGuid
            routingWeight: 5
            provisioningState: provisioningState
            connectionType: IPsec
            enableBgp: true
            peer:
              id: id
            localNetworkGateway2:
              etag: etag
              properties:
                localNetworkAddressSpace:
                  addressPrefixes:
                  - addressPrefixes
                  - addressPrefixes
                resourceGuid: resourceGuid
                gatewayIpAddress: gatewayIpAddress
                bgpSettings:
                  bgpPeeringAddress: bgpPeeringAddress
                  asn: 1
                  peerWeight: 5
                provisioningState: provisioningState
            connectionStatus: Unknown
            virtualNetworkGateway1:
              etag: etag
              properties:
                ipConfigurations:
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    privateIPAddress: privateIPAddress
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    privateIPAddress: privateIPAddress
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                enableBgp: true
                gatewayType: Vpn
                resourceGuid: resourceGuid
                bgpSettings:
                  bgpPeeringAddress: bgpPeeringAddress
                  asn: 1
                  peerWeight: 5
                vpnClientConfiguration:
                  vpnClientRevokedCertificates:
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  vpnClientRootCertificates:
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  vpnClientAddressPool:
                    addressPrefixes:
                    - addressPrefixes
                    - addressPrefixes
                vpnType: PolicyBased
                provisioningState: provisioningState
                sku:
                  tier: Basic
                  name: Basic
                  capacity: 2
                gatewayDefaultSite:
                  id: id
            virtualNetworkGateway2:
              etag: etag
              properties:
                ipConfigurations:
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    privateIPAddress: privateIPAddress
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    privateIPAddress: privateIPAddress
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                enableBgp: true
                gatewayType: Vpn
                resourceGuid: resourceGuid
                bgpSettings:
                  bgpPeeringAddress: bgpPeeringAddress
                  asn: 1
                  peerWeight: 5
                vpnClientConfiguration:
                  vpnClientRevokedCertificates:
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  vpnClientRootCertificates:
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  vpnClientAddressPool:
                    addressPrefixes:
                    - addressPrefixes
                    - addressPrefixes
                vpnType: PolicyBased
                provisioningState: provisioningState
                sku:
                  tier: Basic
                  name: Basic
                  capacity: 2
                gatewayDefaultSite:
                  id: id
            egressBytesTransferred: 0
        - etag: etag
          properties:
            sharedKey: sharedKey
            authorizationKey: authorizationKey
            ingressBytesTransferred: 6
            resourceGuid: resourceGuid
            routingWeight: 5
            provisioningState: provisioningState
            connectionType: IPsec
            enableBgp: true
            peer:
              id: id
            localNetworkGateway2:
              etag: etag
              properties:
                localNetworkAddressSpace:
                  addressPrefixes:
                  - addressPrefixes
                  - addressPrefixes
                resourceGuid: resourceGuid
                gatewayIpAddress: gatewayIpAddress
                bgpSettings:
                  bgpPeeringAddress: bgpPeeringAddress
                  asn: 1
                  peerWeight: 5
                provisioningState: provisioningState
            connectionStatus: Unknown
            virtualNetworkGateway1:
              etag: etag
              properties:
                ipConfigurations:
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    privateIPAddress: privateIPAddress
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    privateIPAddress: privateIPAddress
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                enableBgp: true
                gatewayType: Vpn
                resourceGuid: resourceGuid
                bgpSettings:
                  bgpPeeringAddress: bgpPeeringAddress
                  asn: 1
                  peerWeight: 5
                vpnClientConfiguration:
                  vpnClientRevokedCertificates:
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  vpnClientRootCertificates:
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  vpnClientAddressPool:
                    addressPrefixes:
                    - addressPrefixes
                    - addressPrefixes
                vpnType: PolicyBased
                provisioningState: provisioningState
                sku:
                  tier: Basic
                  name: Basic
                  capacity: 2
                gatewayDefaultSite:
                  id: id
            virtualNetworkGateway2:
              etag: etag
              properties:
                ipConfigurations:
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    privateIPAddress: privateIPAddress
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    privateIPAddress: privateIPAddress
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                enableBgp: true
                gatewayType: Vpn
                resourceGuid: resourceGuid
                bgpSettings:
                  bgpPeeringAddress: bgpPeeringAddress
                  asn: 1
                  peerWeight: 5
                vpnClientConfiguration:
                  vpnClientRevokedCertificates:
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  vpnClientRootCertificates:
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  vpnClientAddressPool:
                    addressPrefixes:
                    - addressPrefixes
                    - addressPrefixes
                vpnType: PolicyBased
                provisioningState: provisioningState
                sku:
                  tier: Basic
                  name: Basic
                  capacity: 2
                gatewayDefaultSite:
                  id: id
            egressBytesTransferred: 0
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: Gets a list of VirtualNetworkGatewayConnection resources that
            exists in a resource group.
          items:
            $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          title: value
          type: array
      title: VirtualNetworkGatewayConnectionListResult
      type: object
    VirtualNetworkGatewayConnectionPropertiesFormat:
      description: VirtualNetworkGatewayConnection properties
      example:
        sharedKey: sharedKey
        authorizationKey: authorizationKey
        ingressBytesTransferred: 6
        resourceGuid: resourceGuid
        routingWeight: 5
        provisioningState: provisioningState
        connectionType: IPsec
        enableBgp: true
        peer:
          id: id
        localNetworkGateway2:
          etag: etag
          properties:
            localNetworkAddressSpace:
              addressPrefixes:
              - addressPrefixes
              - addressPrefixes
            resourceGuid: resourceGuid
            gatewayIpAddress: gatewayIpAddress
            bgpSettings:
              bgpPeeringAddress: bgpPeeringAddress
              asn: 1
              peerWeight: 5
            provisioningState: provisioningState
        connectionStatus: Unknown
        virtualNetworkGateway1:
          etag: etag
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                privateIPAddress: privateIPAddress
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                privateIPAddress: privateIPAddress
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            enableBgp: true
            gatewayType: Vpn
            resourceGuid: resourceGuid
            bgpSettings:
              bgpPeeringAddress: bgpPeeringAddress
              asn: 1
              peerWeight: 5
            vpnClientConfiguration:
              vpnClientRevokedCertificates:
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              vpnClientRootCertificates:
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              vpnClientAddressPool:
                addressPrefixes:
                - addressPrefixes
                - addressPrefixes
            vpnType: PolicyBased
            provisioningState: provisioningState
            sku:
              tier: Basic
              name: Basic
              capacity: 2
            gatewayDefaultSite:
              id: id
        virtualNetworkGateway2:
          etag: etag
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                privateIPAddress: privateIPAddress
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                privateIPAddress: privateIPAddress
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            enableBgp: true
            gatewayType: Vpn
            resourceGuid: resourceGuid
            bgpSettings:
              bgpPeeringAddress: bgpPeeringAddress
              asn: 1
              peerWeight: 5
            vpnClientConfiguration:
              vpnClientRevokedCertificates:
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              vpnClientRootCertificates:
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              vpnClientAddressPool:
                addressPrefixes:
                - addressPrefixes
                - addressPrefixes
            vpnType: PolicyBased
            provisioningState: provisioningState
            sku:
              tier: Basic
              name: Basic
              capacity: 2
            gatewayDefaultSite:
              id: id
        egressBytesTransferred: 0
      properties:
        authorizationKey:
          description: The authorizationKey.
          title: authorizationKey
          type: string
        connectionStatus:
          description: "Virtual network Gateway connection status. Possible values\
            \ are 'Unknown', 'Connecting', 'Connected' and 'NotConnected'."
          enum:
          - Unknown
          - Connecting
          - Connected
          - NotConnected
          title: connectionStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayConnectionStatus
        connectionType:
          description: "Gateway connection type. Possible values are: 'IPsec','Vnet2Vnet','ExpressRoute',\
            \ and 'VPNClient."
          enum:
          - IPsec
          - Vnet2Vnet
          - ExpressRoute
          - VPNClient
          title: connectionType
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayConnectionType
        egressBytesTransferred:
          description: The egress bytes transferred in this connection.
          format: int64
          title: egressBytesTransferred
          type: integer
        enableBgp:
          description: EnableBgp flag
          title: enableBgp
          type: boolean
        ingressBytesTransferred:
          description: The ingress bytes transferred in this connection.
          format: int64
          title: ingressBytesTransferred
          type: integer
        localNetworkGateway2:
          $ref: '#/components/schemas/LocalNetworkGateway'
        peer:
          $ref: '#/components/schemas/VirtualNetworkGatewayConnectionPropertiesFormat_peer'
        provisioningState:
          description: "The provisioning state of the VirtualNetworkGatewayConnection\
            \ resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
          title: provisioningState
          type: string
        resourceGuid:
          description: The resource GUID property of the VirtualNetworkGatewayConnection
            resource.
          title: resourceGuid
          type: string
        routingWeight:
          description: The routing weight.
          format: int32
          title: routingWeight
          type: integer
        sharedKey:
          description: The IPSec shared key.
          title: sharedKey
          type: string
        virtualNetworkGateway1:
          $ref: '#/components/schemas/VirtualNetworkGateway'
        virtualNetworkGateway2:
          $ref: '#/components/schemas/VirtualNetworkGateway'
      title: VirtualNetworkGatewayConnectionPropertiesFormat
      type: object
    VirtualNetworkGatewayIPConfiguration:
      allOf:
      - description: Azure resource manager sub resource properties.
        properties:
          id:
            description: Resource Identifier.
            type: string
        type: object
        x-ms-azure-resource: true
      description: IP configuration for virtual network gateway
      example:
        name: name
        etag: etag
        properties:
          subnet:
            id: id
          privateIPAllocationMethod: Static
          privateIPAddress: privateIPAddress
          provisioningState: provisioningState
          publicIPAddress:
            id: id
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        name:
          description: The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/VirtualNetworkGatewayIPConfigurationPropertiesFormat'
      title: VirtualNetworkGatewayIPConfiguration
    VirtualNetworkGatewayIPConfigurationPropertiesFormat:
      description: Properties of VirtualNetworkGatewayIPConfiguration
      example:
        subnet:
          id: id
        privateIPAllocationMethod: Static
        privateIPAddress: privateIPAddress
        provisioningState: provisioningState
        publicIPAddress:
          id: id
      properties:
        privateIPAddress:
          description: Gets or sets the privateIPAddress of the IP Configuration
          title: privateIPAddress
          type: string
        privateIPAllocationMethod:
          description: "The private IP allocation method. Possible values are: 'Static'\
            \ and 'Dynamic'."
          enum:
          - Static
          - Dynamic
          title: privateIPAllocationMethod
          type: string
          x-ms-enum:
            modelAsString: true
            name: IPAllocationMethod
        provisioningState:
          description: "The provisioning state of the public IP resource. Possible\
            \ values are: 'Updating', 'Deleting', and 'Failed'."
          title: provisioningState
          type: string
        publicIPAddress:
          $ref: '#/components/schemas/VirtualNetworkGatewayConnectionPropertiesFormat_peer'
        subnet:
          $ref: '#/components/schemas/VirtualNetworkGatewayConnectionPropertiesFormat_peer'
      title: VirtualNetworkGatewayIPConfigurationPropertiesFormat
      type: object
    VirtualNetworkGatewayListResult:
      description: Response for the ListVirtualNetworkGateways API service call.
      example:
        value:
        - etag: etag
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                privateIPAddress: privateIPAddress
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                privateIPAddress: privateIPAddress
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            enableBgp: true
            gatewayType: Vpn
            resourceGuid: resourceGuid
            bgpSettings:
              bgpPeeringAddress: bgpPeeringAddress
              asn: 1
              peerWeight: 5
            vpnClientConfiguration:
              vpnClientRevokedCertificates:
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              vpnClientRootCertificates:
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              vpnClientAddressPool:
                addressPrefixes:
                - addressPrefixes
                - addressPrefixes
            vpnType: PolicyBased
            provisioningState: provisioningState
            sku:
              tier: Basic
              name: Basic
              capacity: 2
            gatewayDefaultSite:
              id: id
        - etag: etag
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                privateIPAddress: privateIPAddress
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                privateIPAddress: privateIPAddress
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            enableBgp: true
            gatewayType: Vpn
            resourceGuid: resourceGuid
            bgpSettings:
              bgpPeeringAddress: bgpPeeringAddress
              asn: 1
              peerWeight: 5
            vpnClientConfiguration:
              vpnClientRevokedCertificates:
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              vpnClientRootCertificates:
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              vpnClientAddressPool:
                addressPrefixes:
                - addressPrefixes
                - addressPrefixes
            vpnType: PolicyBased
            provisioningState: provisioningState
            sku:
              tier: Basic
              name: Basic
              capacity: 2
            gatewayDefaultSite:
              id: id
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: Gets a list of VirtualNetworkGateway resources that exists
            in a resource group.
          items:
            $ref: '#/components/schemas/VirtualNetworkGateway'
          title: value
          type: array
      title: VirtualNetworkGatewayListResult
      type: object
    VirtualNetworkGatewayPropertiesFormat:
      description: VirtualNetworkGateway properties
      example:
        ipConfigurations:
        - name: name
          etag: etag
          properties:
            subnet:
              id: id
            privateIPAllocationMethod: Static
            privateIPAddress: privateIPAddress
            provisioningState: provisioningState
            publicIPAddress:
              id: id
        - name: name
          etag: etag
          properties:
            subnet:
              id: id
            privateIPAllocationMethod: Static
            privateIPAddress: privateIPAddress
            provisioningState: provisioningState
            publicIPAddress:
              id: id
        enableBgp: true
        gatewayType: Vpn
        resourceGuid: resourceGuid
        bgpSettings:
          bgpPeeringAddress: bgpPeeringAddress
          asn: 1
          peerWeight: 5
        vpnClientConfiguration:
          vpnClientRevokedCertificates:
          - name: name
            etag: etag
            properties:
              thumbprint: thumbprint
              provisioningState: provisioningState
          - name: name
            etag: etag
            properties:
              thumbprint: thumbprint
              provisioningState: provisioningState
          vpnClientRootCertificates:
          - name: name
            etag: etag
            properties:
              provisioningState: provisioningState
              publicCertData: publicCertData
          - name: name
            etag: etag
            properties:
              provisioningState: provisioningState
              publicCertData: publicCertData
          vpnClientAddressPool:
            addressPrefixes:
            - addressPrefixes
            - addressPrefixes
        vpnType: PolicyBased
        provisioningState: provisioningState
        sku:
          tier: Basic
          name: Basic
          capacity: 2
        gatewayDefaultSite:
          id: id
      properties:
        bgpSettings:
          $ref: '#/components/schemas/BgpSettings'
        enableBgp:
          description: Whether BGP is enabled for this virtual network gateway or
            not.
          title: enableBgp
          type: boolean
        gatewayDefaultSite:
          $ref: '#/components/schemas/VirtualNetworkGatewayConnectionPropertiesFormat_peer'
        gatewayType:
          description: "The type of this virtual network gateway. Possible values\
            \ are: 'Vpn' and 'ExpressRoute'."
          enum:
          - Vpn
          - ExpressRoute
          title: gatewayType
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayType
        ipConfigurations:
          description: IP configurations for virtual network gateway.
          items:
            $ref: '#/components/schemas/VirtualNetworkGatewayIPConfiguration'
          title: ipConfigurations
          type: array
        provisioningState:
          description: "The provisioning state of the VirtualNetworkGateway resource.\
            \ Possible values are: 'Updating', 'Deleting', and 'Failed'."
          title: provisioningState
          type: string
        resourceGuid:
          description: The resource GUID property of the VirtualNetworkGateway resource.
          title: resourceGuid
          type: string
        sku:
          $ref: '#/components/schemas/VirtualNetworkGatewaySku'
        vpnClientConfiguration:
          $ref: '#/components/schemas/VpnClientConfiguration'
        vpnType:
          description: "The type of this virtual network gateway. Possible values\
            \ are: 'PolicyBased' and 'RouteBased'."
          enum:
          - PolicyBased
          - RouteBased
          title: vpnType
          type: string
          x-ms-enum:
            modelAsString: true
            name: VpnType
      title: VirtualNetworkGatewayPropertiesFormat
      type: object
    VirtualNetworkGatewaySku:
      description: VirtualNetworkGatewaySku details
      example:
        tier: Basic
        name: Basic
        capacity: 2
      properties:
        capacity:
          description: The capacity
          format: int32
          title: capacity
          type: integer
        name:
          description: Gateway sku name -Basic/HighPerformance/Standard
          enum:
          - Basic
          - HighPerformance
          - Standard
          title: name
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewaySkuName
        tier:
          description: Gateway sku tier -Basic/HighPerformance/Standard
          enum:
          - Basic
          - HighPerformance
          - Standard
          title: tier
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewaySkuTier
      title: VirtualNetworkGatewaySku
      type: object
    VpnClientConfiguration:
      description: VpnClientConfiguration for P2S client
      example:
        vpnClientRevokedCertificates:
        - name: name
          etag: etag
          properties:
            thumbprint: thumbprint
            provisioningState: provisioningState
        - name: name
          etag: etag
          properties:
            thumbprint: thumbprint
            provisioningState: provisioningState
        vpnClientRootCertificates:
        - name: name
          etag: etag
          properties:
            provisioningState: provisioningState
            publicCertData: publicCertData
        - name: name
          etag: etag
          properties:
            provisioningState: provisioningState
            publicCertData: publicCertData
        vpnClientAddressPool:
          addressPrefixes:
          - addressPrefixes
          - addressPrefixes
      properties:
        vpnClientAddressPool:
          $ref: '#/components/schemas/LocalNetworkGatewayPropertiesFormat_localNetworkAddressSpace'
        vpnClientRevokedCertificates:
          description: VpnClientRevokedCertificate for Virtual network gateway.
          items:
            $ref: '#/components/schemas/VpnClientRevokedCertificate'
          title: vpnClientRevokedCertificates
          type: array
        vpnClientRootCertificates:
          description: VpnClientRootCertificate for Virtual network gateway.
          items:
            $ref: '#/components/schemas/VpnClientRootCertificate'
          title: vpnClientRootCertificates
          type: array
      title: VpnClientConfiguration
      type: object
    VpnClientParameters:
      description: VpnClientParameters
      example:
        ProcessorArchitecture: Amd64
      properties:
        ProcessorArchitecture:
          description: "VPN client Processor Architecture. Possible values are: 'AMD64'\
            \ and 'X86'."
          enum:
          - Amd64
          - X86
          title: ProcessorArchitecture
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProcessorArchitecture
      title: VpnClientParameters
      type: object
    VpnClientRevokedCertificate:
      allOf:
      - description: Azure resource manager sub resource properties.
        properties:
          id:
            description: Resource Identifier.
            type: string
        type: object
        x-ms-azure-resource: true
      description: VPN client revoked certificate of virtual network gateway.
      example:
        name: name
        etag: etag
        properties:
          thumbprint: thumbprint
          provisioningState: provisioningState
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        name:
          description: The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/VpnClientRevokedCertificatePropertiesFormat'
      title: VpnClientRevokedCertificate
    VpnClientRevokedCertificatePropertiesFormat:
      description: Properties of the revoked VPN client certificate of virtual network
        gateway.
      example:
        thumbprint: thumbprint
        provisioningState: provisioningState
      properties:
        provisioningState:
          description: "The provisioning state of the VPN client revoked certificate\
            \ resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
          title: provisioningState
          type: string
        thumbprint:
          description: The revoked VPN client certificate thumbprint.
          title: thumbprint
          type: string
      title: VpnClientRevokedCertificatePropertiesFormat
      type: object
    VpnClientRootCertificate:
      allOf:
      - description: Azure resource manager sub resource properties.
        properties:
          id:
            description: Resource Identifier.
            type: string
        type: object
        x-ms-azure-resource: true
      description: VPN client root certificate of virtual network gateway
      example:
        name: name
        etag: etag
        properties:
          provisioningState: provisioningState
          publicCertData: publicCertData
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        name:
          description: The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/VpnClientRootCertificatePropertiesFormat'
      title: VpnClientRootCertificate
    VpnClientRootCertificatePropertiesFormat:
      description: Properties of SSL certificates of application gateway
      example:
        provisioningState: provisioningState
        publicCertData: publicCertData
      properties:
        provisioningState:
          description: "The provisioning state of the VPN client root certificate\
            \ resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
          title: provisioningState
          type: string
        publicCertData:
          description: Gets or sets the certificate public data
          title: publicCertData
          type: string
      title: VpnClientRootCertificatePropertiesFormat
      type: object
    LocalNetworkGatewayPropertiesFormat_localNetworkAddressSpace:
      description: AddressSpace contains an array of IP address ranges that can be
        used by subnets of the virtual network.
      example:
        addressPrefixes:
        - addressPrefixes
        - addressPrefixes
      properties:
        addressPrefixes:
          description: A list of address blocks reserved for this virtual network
            in CIDR notation.
          items:
            type: string
          title: addressPrefixes
          type: array
      title: LocalNetworkGatewayPropertiesFormat_localNetworkAddressSpace
      type: object
    VirtualNetworkGatewayConnectionPropertiesFormat_peer:
      description: Azure resource manager sub resource properties.
      example:
        id: id
      properties:
        id:
          description: Resource Identifier.
          title: id
          type: string
      title: VirtualNetworkGatewayConnectionPropertiesFormat_peer
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
