openapi: 3.0.1
info:
  description: "The Azure SQL Database management API provides a RESTful set of web\
    \ APIs that interact with Azure SQL Database services to manage your databases.\
    \ The API enables users to create, retrieve, update, and delete databases, servers,\
    \ and other entities."
  title: SqlManagementClient
  version: 2017-03-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/databaseVulnerabilityAssessmentBaselines.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-databaseVulnerabilityAssessmentBaselines
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/vulnerabilityAssessments/{vulnerabilityAssessmentName}/rules/{ruleId}/baselines/{baselineName}
  : delete:
      description: Removes the database's vulnerability assessment rule baseline.
      operationId: database_vulnerability_assessment_rule_baselines_delete
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database for which the vulnerability assessment
          rule baseline is defined.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the vulnerability assessment.
        in: path
        name: vulnerabilityAssessmentName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: VulnerabilityAssessmentName
        x-ms-enum:
          modelAsString: true
          name: VulnerabilityAssessmentName
      - description: The vulnerability assessment rule ID.
        in: path
        name: ruleId
        required: true
        schema:
          type: string
      - description: The name of the vulnerability assessment rule baseline (default
          implies a baseline on a database level rule and master for server level
          rule).
        in: path
        name: baselineName
        required: true
        schema:
          enum:
          - master
          - default
          type: string
          x-ms-enum:
            modelAsString: false
            name: VulnerabilityAssessmentPolicyBaselineName
        x-ms-enum:
          modelAsString: false
          name: VulnerabilityAssessmentPolicyBaselineName
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully removed the database vulnerability assessment
            rule baseline.
        default:
          content: {}
          description: "*** Error Responses: ***\n\n * 400 VulnerabilityAssessmentStorageAuthenticationFailed\
            \ - Could not authenticate to storage account '{0}' .\n\n * 400 VulnerabilityAssessmentInvalidPolicy\
            \ - Vulnerability Assessment settings don't exist or invalid storage specified\
            \ in settings. \n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Vulnerability Assessment operation because the database\
            \ is paused. Please resume it.\n\n * 400 InvalidVulnerabilityAssessmentOperationRequest\
            \ - The vulnerability assessment operation request does not exist or has\
            \ no properties object.\n\n * 400 DataSecurityInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 404 VulnerabilityAssessmentInvalidStorageAccount\
            \ - The storage account '{0}' that was defined in the policy is invalid.\n\
            \n * 404 SubscriptionDoesNotHaveServer - The requested server was not\
            \ found\n\n * 404 SourceDatabaseNotFound - The source database does not\
            \ exist.\n\n * 404 DatabaseDoesNotExist - User has specified a database\
            \ name that does not exist on this server instance.\n\n * 404 VulnerabilityAssessmentRuleDoesNotExists\
            \ - Rule '{0}' does not exist.\n\n * 404 VulnerabilityAssessmentBaselineDoesNotExists\
            \ - Baseline does not exist for rule '{0}'\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
      tags:
      - DatabaseVulnerabilityAssesmentRuleBaselines
      x-ms-examples:
        Removes a database's vulnerability assessment rule baseline.:
          parameters:
            api-version: 2017-03-01-preview
            baselineName: default
            databaseName: testdb
            resourceGroupName: vulnerabilityaseessmenttest-4799
            ruleId: VA1001
            serverName: vulnerabilityaseessmenttest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
            vulnerabilityAssessmentName: default
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.database_vulnerability_assesment_rule_baselines_controller
    get:
      description: Gets a database's vulnerability assessment rule baseline.
      operationId: database_vulnerability_assessment_rule_baselines_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database for which the vulnerability assessment
          rule baseline is defined.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the vulnerability assessment.
        in: path
        name: vulnerabilityAssessmentName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: VulnerabilityAssessmentName
        x-ms-enum:
          modelAsString: true
          name: VulnerabilityAssessmentName
      - description: The vulnerability assessment rule ID.
        in: path
        name: ruleId
        required: true
        schema:
          type: string
      - description: The name of the vulnerability assessment rule baseline (default
          implies a baseline on a database level rule and master for server level
          rule).
        in: path
        name: baselineName
        required: true
        schema:
          enum:
          - master
          - default
          type: string
          x-ms-enum:
            modelAsString: false
            name: VulnerabilityAssessmentPolicyBaselineName
        x-ms-enum:
          modelAsString: false
          name: VulnerabilityAssessmentPolicyBaselineName
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseVulnerabilityAssessmentRuleBaseline'
          description: Successfully got the vulnerability assessment rule baseline.
        default:
          content: {}
          description: "*** Error Responses: ***\n\n * 400 VulnerabilityAssessmentStorageAuthenticationFailed\
            \ - Could not authenticate to storage account '{0}' .\n\n * 400 VulnerabilityAssessmentInvalidPolicy\
            \ - Vulnerability Assessment settings don't exist or invalid storage specified\
            \ in settings. \n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Vulnerability Assessment operation because the database\
            \ is paused. Please resume it.\n\n * 400 InvalidVulnerabilityAssessmentOperationRequest\
            \ - The vulnerability assessment operation request does not exist or has\
            \ no properties object.\n\n * 400 DataSecurityInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 404 VulnerabilityAssessmentInvalidStorageAccount\
            \ - The storage account '{0}' that was defined in the policy is invalid.\n\
            \n * 404 SubscriptionDoesNotHaveServer - The requested server was not\
            \ found\n\n * 404 SourceDatabaseNotFound - The source database does not\
            \ exist.\n\n * 404 DatabaseDoesNotExist - User has specified a database\
            \ name that does not exist on this server instance.\n\n * 404 VulnerabilityAssessmentRuleDoesNotExists\
            \ - Rule '{0}' does not exist.\n\n * 404 VulnerabilityAssessmentBaselineDoesNotExists\
            \ - Baseline does not exist for rule '{0}'\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
      tags:
      - DatabaseVulnerabilityAssesmentRuleBaselines
      x-ms-examples:
        Gets a database's vulnerability assessment rule baseline.:
          parameters:
            api-version: 2017-03-01-preview
            baselineName: master
            databaseName: testdb
            resourceGroupName: vulnerabilityaseessmenttest-4711
            ruleId: VA1001
            serverName: vulnerabilityaseessmenttest-6411
            subscriptionId: 00000000-1111-2222-3333-444444444444
            vulnerabilityAssessmentName: default
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/vulnerabilityaseessmenttest-4799/providers/Microsoft.Sql/servers/vulnerabilityaseessmenttest-6440/databases/testdb/vulnerabilityAssessments/default/rules/VA1001/baselines/default
                name: default
                properties:
                  baselineResults:
                  - result:
                    - userA
                    - SELECT
                  - result:
                    - userB
                    - SELECT
                  - result:
                    - userC
                    - SELECT
                    - tableId_4
                type: Microsoft.Sql/servers/databases/vulnerabilityAssessments/rules/baselines
      x-openapi-router-controller: openapi_server.controllers.database_vulnerability_assesment_rule_baselines_controller
    put:
      description: Creates or updates a database's vulnerability assessment rule baseline.
      operationId: database_vulnerability_assessment_rule_baselines_create_or_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database for which the vulnerability assessment
          rule baseline is defined.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The name of the vulnerability assessment.
        in: path
        name: vulnerabilityAssessmentName
        required: true
        schema:
          enum:
          - default
          type: string
          x-ms-enum:
            modelAsString: true
            name: VulnerabilityAssessmentName
        x-ms-enum:
          modelAsString: true
          name: VulnerabilityAssessmentName
      - description: The vulnerability assessment rule ID.
        in: path
        name: ruleId
        required: true
        schema:
          type: string
      - description: The name of the vulnerability assessment rule baseline (default
          implies a baseline on a database level rule and master for server level
          rule).
        in: path
        name: baselineName
        required: true
        schema:
          enum:
          - master
          - default
          type: string
          x-ms-enum:
            modelAsString: false
            name: VulnerabilityAssessmentPolicyBaselineName
        x-ms-enum:
          modelAsString: false
          name: VulnerabilityAssessmentPolicyBaselineName
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseVulnerabilityAssessmentRuleBaseline'
        description: The requested rule baseline resource.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseVulnerabilityAssessmentRuleBaseline'
          description: Successfully set the vulnerability assessment rule baseline.
        default:
          content: {}
          description: "*** Error Responses: ***\n\n * 400 VulnerabilityAssessmentStorageAuthenticationFailed\
            \ - Could not authenticate to storage account '{0}' .\n\n * 400 VulnerabilityAssessmentInvalidPolicy\
            \ - Vulnerability Assessment settings don't exist or invalid storage specified\
            \ in settings. \n\n * 400 VulnerabilityAssessmentDatawarehouseDatabaseIsDeactivated\
            \ - Could not execute Vulnerability Assessment operation because the database\
            \ is paused. Please resume it.\n\n * 400 InvalidVulnerabilityAssessmentOperationRequest\
            \ - The vulnerability assessment operation request does not exist or has\
            \ no properties object.\n\n * 400 DataSecurityInvalidUserSuppliedParameter\
            \ - An invalid parameter value was provided by the client.\n\n * 404 VulnerabilityAssessmentInvalidStorageAccount\
            \ - The storage account '{0}' that was defined in the policy is invalid.\n\
            \n * 404 SubscriptionDoesNotHaveServer - The requested server was not\
            \ found\n\n * 404 SourceDatabaseNotFound - The source database does not\
            \ exist.\n\n * 404 DatabaseDoesNotExist - User has specified a database\
            \ name that does not exist on this server instance.\n\n * 404 VulnerabilityAssessmentRuleDoesNotExists\
            \ - Rule '{0}' does not exist.\n\n * 404 VulnerabilityAssessmentBaselineDoesNotExists\
            \ - Baseline does not exist for rule '{0}'\n\n * 500 DatabaseIsUnavailable\
            \ - Loading failed. Please try again later."
      tags:
      - DatabaseVulnerabilityAssesmentRuleBaselines
      x-ms-examples:
        Creates or updates a database's vulnerability assessment rule baseline.:
          parameters:
            api-version: 2017-03-01-preview
            baselineName: default
            databaseName: testdb
            parameters:
              properties:
                baselineResults:
                - result:
                  - userA
                  - SELECT
                - result:
                  - userB
                  - SELECT
                - result:
                  - userC
                  - SELECT
                  - tableId_4
            resourceGroupName: vulnerabilityaseessmenttest-4799
            ruleId: VA1001
            serverName: vulnerabilityaseessmenttest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
            vulnerabilityAssessmentName: default
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/vulnerabilityaseessmenttest-4799/providers/Microsoft.Sql/servers/vulnerabilityaseessmenttest-6440/databases/testdb/vulnerabilityAssessments/default/rules/VA1001/baselines/default
                name: default
                properties:
                  baselineResults:
                  - result:
                    - userA
                    - SELECT
                  - result:
                    - userB
                    - SELECT
                  - result:
                    - userC
                    - SELECT
                    - tableId_4
                type: Microsoft.Sql/servers/databases/vulnerabilityAssessments/rules/baselines
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.database_vulnerability_assesment_rule_baselines_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    BlobAuditingPolicyNameParameter:
      description: The name of the blob auditing policy.
      in: path
      name: blobAuditingPolicyName
      required: true
      schema:
        enum:
        - default
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    DatabaseVulnerabilityAssessmentRuleBaseline:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: A database vulnerability assessment rule baseline.
      example:
        properties:
          baselineResults:
          - result:
            - result
            - result
          - result:
            - result
            - result
      properties:
        properties:
          $ref: '#/components/schemas/DatabaseVulnerabilityAssessmentRuleBaselineProperties'
      title: DatabaseVulnerabilityAssessmentRuleBaseline
    DatabaseVulnerabilityAssessmentRuleBaselineItem:
      description: Properties for an Azure SQL Database Vulnerability Assessment rule
        baseline's result.
      example:
        result:
        - result
        - result
      properties:
        result:
          description: The rule baseline result
          items:
            type: string
          title: result
          type: array
      required:
      - result
      title: DatabaseVulnerabilityAssessmentRuleBaselineItem
      type: object
    DatabaseVulnerabilityAssessmentRuleBaselineProperties:
      description: Properties of a database Vulnerability Assessment rule baseline.
      example:
        baselineResults:
        - result:
          - result
          - result
        - result:
          - result
          - result
      properties:
        baselineResults:
          description: The rule baseline result
          items:
            $ref: '#/components/schemas/DatabaseVulnerabilityAssessmentRuleBaselineItem'
          title: baselineResults
          type: array
      required:
      - baselineResults
      title: DatabaseVulnerabilityAssessmentRuleBaselineProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
