openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2017-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2017-03-01/virtualNetworkGateway.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-virtualNetworkGateway
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections:
    get:
      description: The List VirtualNetworkGatewayConnections operation retrieves all
        the virtual network gateways connections created.
      operationId: virtual_network_gateway_connections_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnectionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnectionListResult'
          description: Request successful. The operation resets the virtual network
            gateway connection shared key.
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}
  : delete:
      description: Deletes the specified virtual network Gateway connection.
      operationId: virtual_network_gateway_connections_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
    get:
      description: Gets the specified virtual network gateway connection by resource
        group.
      operationId: virtual_network_gateway_connections_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: Request successful. The operation returns the resulting VirtualNetworkPeering
            resource.
      tags:
      - VirtualNetworkGatewayConnections
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
    put:
      description: Creates or updates a virtual network gateway connection in the
        specified resource group.
      operationId: virtual_network_gateway_connections_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway connection.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
        description: Parameters supplied to the create or update virtual network gateway
          connection operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: Update successful. The operation returns the resulting VirtualNetworkGatewayConnection
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          description: Create successful. The operation returns the resulting VirtualNetworkGatewayConnection
            resource.
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey
  : get:
      description: The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves
        information about the specified virtual network gateway connection shared
        key through Network resource provider.
      operationId: virtual_network_gateway_connections_get_shared_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection shared key name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: Request successful. The operation returns a list of VirtualNetworkGatewayConnection
            resources.
      tags:
      - VirtualNetworkGatewayConnections
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
    put:
      description: The Put VirtualNetworkGatewayConnectionSharedKey operation sets
        the virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network resource
        provider.
      operationId: virtual_network_gateway_connections_set_shared_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionSharedKey'
          text/json:
            schema:
              $ref: '#/components/schemas/ConnectionSharedKey'
        description: Parameters supplied to the Begin Set Virtual Network Gateway
          connection Shared key operation throughNetwork resource provider.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: Request successful. The operation returns the resulting ConnectionSharedKey
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSharedKey'
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset
  : post:
      description: The VirtualNetworkGatewayConnectionResetSharedKey operation resets
        the virtual network gateway connection shared key for passed virtual network
        gateway connection in the specified resource group through Network resource
        provider.
      operationId: virtual_network_gateway_connections_reset_shared_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The virtual network gateway connection reset shared key Name.
        in: path
        name: virtualNetworkGatewayConnectionName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionResetSharedKey'
          text/json:
            schema:
              $ref: '#/components/schemas/ConnectionResetSharedKey'
        description: Parameters supplied to the begin reset virtual network gateway
          connection shared key operation through network resource provider.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResetSharedKey'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionResetSharedKey'
          description: Request successful. The operation sets the virtual network
            gateway connection shared key.
        "202":
          content: {}
          description: ""
      tags:
      - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateway_connections_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways:
    get:
      description: Gets all the local network gateways in a resource group.
      operationId: local_network_gateways_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGatewayListResult'
          description: Request successful. The operation returns a list of LocalNetworkGateway
            resources.
      tags:
      - LocalNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}
  : delete:
      description: Deletes the specified local network gateway.
      operationId: local_network_gateways_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the local network gateway.
        in: path
        name: localNetworkGatewayName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - LocalNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
    get:
      description: Gets the specified local network gateway in a resource group.
      operationId: local_network_gateways_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the local network gateway.
        in: path
        name: localNetworkGatewayName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: Request successful. The operation returns the resulting LocalNetworkGateway
            resource.
      tags:
      - LocalNetworkGateways
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
    put:
      description: Creates or updates a local network gateway in the specified resource
        group.
      operationId: local_network_gateways_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the local network gateway.
        in: path
        name: localNetworkGatewayName
        required: true
        schema:
          minLength: 1
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocalNetworkGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/LocalNetworkGateway'
        description: Parameters supplied to the create or update local network gateway
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: Update successful. The operation returns the resulting LocalNetworkGateway
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/LocalNetworkGateway'
          description: Create successful. The operation returns the resulting LocalNetworkGateway
            resource.
      tags:
      - LocalNetworkGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.local_network_gateways_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways:
    get:
      description: Gets all virtual network gateways by resource group.
      operationId: virtual_network_gateways_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGatewayListResult'
          description: Request successful. The operation returns a list of VirtualNetworkGateway
            resources.
      tags:
      - VirtualNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}
  : delete:
      description: Deletes the specified virtual network gateway.
      operationId: virtual_network_gateways_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
      tags:
      - VirtualNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
    get:
      description: Gets the specified virtual network gateway by resource group.
      operationId: virtual_network_gateways_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: Request successful. The operation returns a VirtualNetworkGateway
            resource.
      tags:
      - VirtualNetworkGateways
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
    put:
      description: Creates or updates a virtual network gateway in the specified resource
        group.
      operationId: virtual_network_gateways_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/VirtualNetworkGateway'
        description: Parameters supplied to create or update virtual network gateway
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: Update successful. The operation returns the resulting VirtualNetworkGateway
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: Create successful. The operation returns the resulting VirtualNetworkGateway
            resource.
      tags:
      - VirtualNetworkGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnclientpackage
  : post:
      description: Generates VPN client package for P2S client of the virtual network
        gateway in the specified resource group.
      operationId: virtual_network_gateways_generatevpnclientpackage
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpnClientParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/VpnClientParameters'
        description: Parameters supplied to the generate virtual network gateway VPN
          client package operation.
        required: true
        x-body-name: parameters
      responses:
        "202":
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
          description: VPN client package URL.
      tags:
      - VirtualNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getAdvertisedRoutes
  : post:
      description: This operation retrieves a list of routes the virtual network gateway
        is advertising to the specified peer.
      operationId: virtual_network_gateways_get_advertised_routes
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: The IP address of the peer
        in: query
        name: peer
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRouteListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/GatewayRouteListResult'
          description: List of learned BGP routes
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - VirtualNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getBgpPeerStatus
  : post:
      description: The GetBgpPeerStatus operation retrieves the status of all BGP
        peers.
      operationId: virtual_network_gateways_get_bgp_peer_status
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: The IP address of the peer to retrieve the status of.
        in: query
        name: peer
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpPeerStatusListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/BgpPeerStatusListResult'
          description: List of BGP peer statuses
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - VirtualNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getLearnedRoutes
  : post:
      description: "This operation retrieves a list of routes the virtual network\
        \ gateway has learned, including routes learned from BGP peers."
      operationId: virtual_network_gateways_get_learned_routes
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayRouteListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/GatewayRouteListResult'
          description: List of advertised BGP routes
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - VirtualNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/reset
  : post:
      description: Resets the primary of the virtual network gateway in the specified
        resource group.
      operationId: virtual_network_gateways_reset
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual network gateway.
        in: path
        name: virtualNetworkGatewayName
        required: true
        schema:
          type: string
      - description: Virtual network gateway vip address supplied to the begin reset
          of the active-active feature enabled gateway.
        in: query
        name: gatewayVip
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkGateway'
          description: Request successful. The operation reset the primary of the
            virtual network gateway.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - VirtualNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.virtual_network_gateways_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    BgpPeerStatus:
      description: BGP peer status details
      example:
        connectedDuration: connectedDuration
        localAddress: localAddress
        messagesReceived: 6
        messagesSent: 1
        routesReceived: 5
        state: Unknown
        asn: 0
        neighbor: neighbor
      properties:
        asn:
          description: The autonomous system number of the remote BGP peer
          format: int32
          readOnly: true
          title: asn
          type: integer
        connectedDuration:
          description: For how long the peering has been up
          readOnly: true
          title: connectedDuration
          type: string
        localAddress:
          description: The virtual network gateway's local address
          readOnly: true
          title: localAddress
          type: string
        messagesReceived:
          description: The number of BGP messages received
          format: int64
          readOnly: true
          title: messagesReceived
          type: integer
        messagesSent:
          description: The number of BGP messages sent
          format: int64
          readOnly: true
          title: messagesSent
          type: integer
        neighbor:
          description: The remote BGP peer
          readOnly: true
          title: neighbor
          type: string
        routesReceived:
          description: The number of routes learned from this peer
          format: int64
          readOnly: true
          title: routesReceived
          type: integer
        state:
          description: The BGP peer state
          enum:
          - Unknown
          - Stopped
          - Idle
          - Connecting
          - Connected
          readOnly: true
          title: state
          type: string
          x-ms-enum:
            modelAsString: true
            name: BgpPeerState
      title: BgpPeerStatus
      type: object
    BgpPeerStatusListResult:
      description: Response for list BGP peer status API service call
      example:
        value:
        - connectedDuration: connectedDuration
          localAddress: localAddress
          messagesReceived: 6
          messagesSent: 1
          routesReceived: 5
          state: Unknown
          asn: 0
          neighbor: neighbor
        - connectedDuration: connectedDuration
          localAddress: localAddress
          messagesReceived: 6
          messagesSent: 1
          routesReceived: 5
          state: Unknown
          asn: 0
          neighbor: neighbor
      properties:
        value:
          description: List of BGP peers
          items:
            $ref: '#/components/schemas/BgpPeerStatus'
          title: value
          type: array
      title: BgpPeerStatusListResult
      type: object
    BgpSettings:
      description: BGP settings details
      example:
        bgpPeeringAddress: bgpPeeringAddress
        asn: 5
        peerWeight: 2
      properties:
        asn:
          description: The BGP speaker's ASN.
          format: int64
          title: asn
          type: integer
        bgpPeeringAddress:
          description: The BGP peering address and BGP identifier of this BGP speaker.
          title: bgpPeeringAddress
          type: string
        peerWeight:
          description: The weight added to routes learned from this BGP speaker.
          format: int32
          title: peerWeight
          type: integer
      title: BgpSettings
      type: object
    ConnectionResetSharedKey:
      description: The virtual network connection reset shared key
      example:
        keyLength: 11
      properties:
        keyLength:
          description: "The virtual network connection reset shared key length, should\
            \ between 1 and 128."
          format: int32
          maximum: 128
          minimum: 1
          title: keyLength
          type: integer
      required:
      - keyLength
      title: ConnectionResetSharedKey
      type: object
    ConnectionSharedKey:
      description: Response for GetConnectionSharedKey API service call
      example:
        value: value
      properties:
        value:
          description: The virtual network connection shared key value.
          title: value
          type: string
      required:
      - value
      title: ConnectionSharedKey
      type: object
    GatewayRoute:
      description: Gateway routing details
      example:
        nextHop: nextHop
        sourcePeer: sourcePeer
        localAddress: localAddress
        asPath: asPath
        origin: origin
        weight: 0
        network: network
      properties:
        asPath:
          description: The route's AS path sequence
          readOnly: true
          title: asPath
          type: string
        localAddress:
          description: The gateway's local address
          readOnly: true
          title: localAddress
          type: string
        network:
          description: The route's network prefix
          readOnly: true
          title: network
          type: string
        nextHop:
          description: The route's next hop
          readOnly: true
          title: nextHop
          type: string
        origin:
          description: The source this route was learned from
          readOnly: true
          title: origin
          type: string
        sourcePeer:
          description: The peer this route was learned from
          readOnly: true
          title: sourcePeer
          type: string
        weight:
          description: The route's weight
          format: int32
          readOnly: true
          title: weight
          type: integer
      title: GatewayRoute
      type: object
    GatewayRouteListResult:
      description: List of virtual network gateway routes
      example:
        value:
        - nextHop: nextHop
          sourcePeer: sourcePeer
          localAddress: localAddress
          asPath: asPath
          origin: origin
          weight: 0
          network: network
        - nextHop: nextHop
          sourcePeer: sourcePeer
          localAddress: localAddress
          asPath: asPath
          origin: origin
          weight: 0
          network: network
      properties:
        value:
          description: List of gateway routes
          items:
            $ref: '#/components/schemas/GatewayRoute'
          title: value
          type: array
      title: GatewayRouteListResult
      type: object
    IpsecPolicy:
      description: An IPSec Policy configuration for a virtual network gateway connection
      example:
        ikeIntegrity: MD5
        ikeEncryption: DES
        ipsecIntegrity: MD5
        pfsGroup: None
        saDataSizeKilobytes: 1
        saLifeTimeSeconds: 5
        dhGroup: None
        ipsecEncryption: None
      properties:
        dhGroup:
          description: The DH Groups used in IKE Phase 1 for initial SA.
          enum:
          - None
          - DHGroup1
          - DHGroup2
          - DHGroup14
          - DHGroup2048
          - ECP256
          - ECP384
          - DHGroup24
          title: dhGroup
          type: string
          x-ms-enum:
            modelAsString: true
            name: DhGroup
        ikeEncryption:
          description: The IKE encryption algorithm (IKE phase 2).
          enum:
          - DES
          - DES3
          - AES128
          - AES192
          - AES256
          title: ikeEncryption
          type: string
          x-ms-enum:
            modelAsString: true
            name: IkeEncryption
        ikeIntegrity:
          description: The IKE integrity algorithm (IKE phase 2).
          enum:
          - MD5
          - SHA1
          - SHA256
          - SHA384
          title: ikeIntegrity
          type: string
          x-ms-enum:
            modelAsString: true
            name: IkeIntegrity
        ipsecEncryption:
          description: The IPSec encryption algorithm (IKE phase 1).
          enum:
          - None
          - DES
          - DES3
          - AES128
          - AES192
          - AES256
          - GCMAES128
          - GCMAES192
          - GCMAES256
          title: ipsecEncryption
          type: string
          x-ms-enum:
            modelAsString: true
            name: IpsecEncryption
        ipsecIntegrity:
          description: The IPSec integrity algorithm (IKE phase 1).
          enum:
          - MD5
          - SHA1
          - SHA256
          - GCMAES128
          - GCMAES192
          - GCMAES256
          title: ipsecIntegrity
          type: string
          x-ms-enum:
            modelAsString: true
            name: IpsecIntegrity
        pfsGroup:
          description: The DH Groups used in IKE Phase 2 for new child SA.
          enum:
          - None
          - PFS1
          - PFS2
          - PFS2048
          - ECP256
          - ECP384
          - PFS24
          title: pfsGroup
          type: string
          x-ms-enum:
            modelAsString: true
            name: PfsGroup
        saDataSizeKilobytes:
          description: The IPSec Security Association (also called Quick Mode or Phase
            2 SA) payload size in KB for a site to site VPN tunnel.
          format: int32
          title: saDataSizeKilobytes
          type: integer
        saLifeTimeSeconds:
          description: The IPSec Security Association (also called Quick Mode or Phase
            2 SA) lifetime in seconds for a site to site VPN tunnel.
          format: int32
          title: saLifeTimeSeconds
          type: integer
      required:
      - dhGroup
      - ikeEncryption
      - ikeIntegrity
      - ipsecEncryption
      - ipsecIntegrity
      - pfsGroup
      - saDataSizeKilobytes
      - saLifeTimeSeconds
      title: IpsecPolicy
      type: object
    LocalNetworkGateway:
      allOf:
      - properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: A common class for general resource information
      example:
        etag: etag
        properties:
          localNetworkAddressSpace:
            addressPrefixes:
            - addressPrefixes
            - addressPrefixes
          resourceGuid: resourceGuid
          gatewayIpAddress: gatewayIpAddress
          bgpSettings:
            bgpPeeringAddress: bgpPeeringAddress
            asn: 5
            peerWeight: 2
          provisioningState: provisioningState
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/LocalNetworkGatewayPropertiesFormat'
      required:
      - properties
      title: LocalNetworkGateway
    LocalNetworkGatewayListResult:
      description: Response for ListLocalNetworkGateways API service call.
      example:
        value:
        - etag: etag
          properties:
            localNetworkAddressSpace:
              addressPrefixes:
              - addressPrefixes
              - addressPrefixes
            resourceGuid: resourceGuid
            gatewayIpAddress: gatewayIpAddress
            bgpSettings:
              bgpPeeringAddress: bgpPeeringAddress
              asn: 5
              peerWeight: 2
            provisioningState: provisioningState
        - etag: etag
          properties:
            localNetworkAddressSpace:
              addressPrefixes:
              - addressPrefixes
              - addressPrefixes
            resourceGuid: resourceGuid
            gatewayIpAddress: gatewayIpAddress
            bgpSettings:
              bgpPeeringAddress: bgpPeeringAddress
              asn: 5
              peerWeight: 2
            provisioningState: provisioningState
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: A list of local network gateways that exists in a resource
            group.
          items:
            $ref: '#/components/schemas/LocalNetworkGateway'
          title: value
          type: array
      title: LocalNetworkGatewayListResult
      type: object
    LocalNetworkGatewayPropertiesFormat:
      description: LocalNetworkGateway properties
      example:
        localNetworkAddressSpace:
          addressPrefixes:
          - addressPrefixes
          - addressPrefixes
        resourceGuid: resourceGuid
        gatewayIpAddress: gatewayIpAddress
        bgpSettings:
          bgpPeeringAddress: bgpPeeringAddress
          asn: 5
          peerWeight: 2
        provisioningState: provisioningState
      properties:
        bgpSettings:
          $ref: '#/components/schemas/BgpSettings'
        gatewayIpAddress:
          description: IP address of local network gateway.
          title: gatewayIpAddress
          type: string
        localNetworkAddressSpace:
          $ref: '#/components/schemas/LocalNetworkGatewayPropertiesFormat_localNetworkAddressSpace'
        provisioningState:
          description: "The provisioning state of the LocalNetworkGateway resource.\
            \ Possible values are: 'Updating', 'Deleting', and 'Failed'."
          readOnly: true
          title: provisioningState
          type: string
        resourceGuid:
          description: The resource GUID property of the LocalNetworkGateway resource.
          title: resourceGuid
          type: string
      title: LocalNetworkGatewayPropertiesFormat
      type: object
    TunnelConnectionHealth:
      description: VirtualNetworkGatewayConnection properties
      example:
        ingressBytesTransferred: 3
        connectionStatus: Unknown
        egressBytesTransferred: 9
        lastConnectionEstablishedUtcTime: lastConnectionEstablishedUtcTime
        tunnel: tunnel
      properties:
        connectionStatus:
          description: Virtual network Gateway connection status
          enum:
          - Unknown
          - Connecting
          - Connected
          - NotConnected
          readOnly: true
          title: connectionStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayConnectionStatus
        egressBytesTransferred:
          description: The Egress Bytes Transferred in this connection
          format: int64
          readOnly: true
          title: egressBytesTransferred
          type: integer
        ingressBytesTransferred:
          description: The Ingress Bytes Transferred in this connection
          format: int64
          readOnly: true
          title: ingressBytesTransferred
          type: integer
        lastConnectionEstablishedUtcTime:
          description: The time at which connection was established in Utc format.
          readOnly: true
          title: lastConnectionEstablishedUtcTime
          type: string
        tunnel:
          description: Tunnel name.
          readOnly: true
          title: tunnel
          type: string
      title: TunnelConnectionHealth
      type: object
    VirtualNetworkGateway:
      allOf:
      - properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: A common class for general resource information
      example:
        etag: etag
        properties:
          ipConfigurations:
          - name: name
            etag: etag
            properties:
              subnet:
                id: id
              privateIPAllocationMethod: Static
              provisioningState: provisioningState
              publicIPAddress:
                id: id
          - name: name
            etag: etag
            properties:
              subnet:
                id: id
              privateIPAllocationMethod: Static
              provisioningState: provisioningState
              publicIPAddress:
                id: id
          enableBgp: true
          activeActive: true
          gatewayType: Vpn
          resourceGuid: resourceGuid
          bgpSettings:
            bgpPeeringAddress: bgpPeeringAddress
            asn: 5
            peerWeight: 2
          vpnClientConfiguration:
            vpnClientRevokedCertificates:
            - name: name
              etag: etag
              properties:
                thumbprint: thumbprint
                provisioningState: provisioningState
            - name: name
              etag: etag
              properties:
                thumbprint: thumbprint
                provisioningState: provisioningState
            vpnClientRootCertificates:
            - name: name
              etag: etag
              properties:
                provisioningState: provisioningState
                publicCertData: publicCertData
            - name: name
              etag: etag
              properties:
                provisioningState: provisioningState
                publicCertData: publicCertData
            vpnClientAddressPool:
              addressPrefixes:
              - addressPrefixes
              - addressPrefixes
          vpnType: PolicyBased
          provisioningState: provisioningState
          sku:
            tier: Basic
            name: Basic
            capacity: 2
          gatewayDefaultSite:
            id: id
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/VirtualNetworkGatewayPropertiesFormat'
      required:
      - properties
      title: VirtualNetworkGateway
    VirtualNetworkGatewayConnection:
      allOf:
      - properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: A common class for general resource information
      example:
        etag: etag
        properties:
          sharedKey: sharedKey
          authorizationKey: authorizationKey
          ingressBytesTransferred: 6
          resourceGuid: resourceGuid
          routingWeight: 7
          provisioningState: provisioningState
          ipsecPolicies:
          - ikeIntegrity: MD5
            ikeEncryption: DES
            ipsecIntegrity: MD5
            pfsGroup: None
            saDataSizeKilobytes: 1
            saLifeTimeSeconds: 5
            dhGroup: None
            ipsecEncryption: None
          - ikeIntegrity: MD5
            ikeEncryption: DES
            ipsecIntegrity: MD5
            pfsGroup: None
            saDataSizeKilobytes: 1
            saLifeTimeSeconds: 5
            dhGroup: None
            ipsecEncryption: None
          connectionType: IPsec
          enableBgp: true
          peer:
            id: id
          localNetworkGateway2:
            etag: etag
            properties:
              localNetworkAddressSpace:
                addressPrefixes:
                - addressPrefixes
                - addressPrefixes
              resourceGuid: resourceGuid
              gatewayIpAddress: gatewayIpAddress
              bgpSettings:
                bgpPeeringAddress: bgpPeeringAddress
                asn: 5
                peerWeight: 2
              provisioningState: provisioningState
          connectionStatus: Unknown
          virtualNetworkGateway1:
            etag: etag
            properties:
              ipConfigurations:
              - name: name
                etag: etag
                properties:
                  subnet:
                    id: id
                  privateIPAllocationMethod: Static
                  provisioningState: provisioningState
                  publicIPAddress:
                    id: id
              - name: name
                etag: etag
                properties:
                  subnet:
                    id: id
                  privateIPAllocationMethod: Static
                  provisioningState: provisioningState
                  publicIPAddress:
                    id: id
              enableBgp: true
              activeActive: true
              gatewayType: Vpn
              resourceGuid: resourceGuid
              bgpSettings:
                bgpPeeringAddress: bgpPeeringAddress
                asn: 5
                peerWeight: 2
              vpnClientConfiguration:
                vpnClientRevokedCertificates:
                - name: name
                  etag: etag
                  properties:
                    thumbprint: thumbprint
                    provisioningState: provisioningState
                - name: name
                  etag: etag
                  properties:
                    thumbprint: thumbprint
                    provisioningState: provisioningState
                vpnClientRootCertificates:
                - name: name
                  etag: etag
                  properties:
                    provisioningState: provisioningState
                    publicCertData: publicCertData
                - name: name
                  etag: etag
                  properties:
                    provisioningState: provisioningState
                    publicCertData: publicCertData
                vpnClientAddressPool:
                  addressPrefixes:
                  - addressPrefixes
                  - addressPrefixes
              vpnType: PolicyBased
              provisioningState: provisioningState
              sku:
                tier: Basic
                name: Basic
                capacity: 2
              gatewayDefaultSite:
                id: id
          usePolicyBasedTrafficSelectors: true
          virtualNetworkGateway2:
            etag: etag
            properties:
              ipConfigurations:
              - name: name
                etag: etag
                properties:
                  subnet:
                    id: id
                  privateIPAllocationMethod: Static
                  provisioningState: provisioningState
                  publicIPAddress:
                    id: id
              - name: name
                etag: etag
                properties:
                  subnet:
                    id: id
                  privateIPAllocationMethod: Static
                  provisioningState: provisioningState
                  publicIPAddress:
                    id: id
              enableBgp: true
              activeActive: true
              gatewayType: Vpn
              resourceGuid: resourceGuid
              bgpSettings:
                bgpPeeringAddress: bgpPeeringAddress
                asn: 5
                peerWeight: 2
              vpnClientConfiguration:
                vpnClientRevokedCertificates:
                - name: name
                  etag: etag
                  properties:
                    thumbprint: thumbprint
                    provisioningState: provisioningState
                - name: name
                  etag: etag
                  properties:
                    thumbprint: thumbprint
                    provisioningState: provisioningState
                vpnClientRootCertificates:
                - name: name
                  etag: etag
                  properties:
                    provisioningState: provisioningState
                    publicCertData: publicCertData
                - name: name
                  etag: etag
                  properties:
                    provisioningState: provisioningState
                    publicCertData: publicCertData
                vpnClientAddressPool:
                  addressPrefixes:
                  - addressPrefixes
                  - addressPrefixes
              vpnType: PolicyBased
              provisioningState: provisioningState
              sku:
                tier: Basic
                name: Basic
                capacity: 2
              gatewayDefaultSite:
                id: id
          egressBytesTransferred: 0
          tunnelConnectionStatus:
          - ingressBytesTransferred: 3
            connectionStatus: Unknown
            egressBytesTransferred: 9
            lastConnectionEstablishedUtcTime: lastConnectionEstablishedUtcTime
            tunnel: tunnel
          - ingressBytesTransferred: 3
            connectionStatus: Unknown
            egressBytesTransferred: 9
            lastConnectionEstablishedUtcTime: lastConnectionEstablishedUtcTime
            tunnel: tunnel
      properties:
        etag:
          description: Gets a unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/VirtualNetworkGatewayConnectionPropertiesFormat'
      required:
      - properties
      title: VirtualNetworkGatewayConnection
    VirtualNetworkGatewayConnectionListResult:
      description: Response for the ListVirtualNetworkGatewayConnections API service
        call
      example:
        value:
        - etag: etag
          properties:
            sharedKey: sharedKey
            authorizationKey: authorizationKey
            ingressBytesTransferred: 6
            resourceGuid: resourceGuid
            routingWeight: 7
            provisioningState: provisioningState
            ipsecPolicies:
            - ikeIntegrity: MD5
              ikeEncryption: DES
              ipsecIntegrity: MD5
              pfsGroup: None
              saDataSizeKilobytes: 1
              saLifeTimeSeconds: 5
              dhGroup: None
              ipsecEncryption: None
            - ikeIntegrity: MD5
              ikeEncryption: DES
              ipsecIntegrity: MD5
              pfsGroup: None
              saDataSizeKilobytes: 1
              saLifeTimeSeconds: 5
              dhGroup: None
              ipsecEncryption: None
            connectionType: IPsec
            enableBgp: true
            peer:
              id: id
            localNetworkGateway2:
              etag: etag
              properties:
                localNetworkAddressSpace:
                  addressPrefixes:
                  - addressPrefixes
                  - addressPrefixes
                resourceGuid: resourceGuid
                gatewayIpAddress: gatewayIpAddress
                bgpSettings:
                  bgpPeeringAddress: bgpPeeringAddress
                  asn: 5
                  peerWeight: 2
                provisioningState: provisioningState
            connectionStatus: Unknown
            virtualNetworkGateway1:
              etag: etag
              properties:
                ipConfigurations:
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                enableBgp: true
                activeActive: true
                gatewayType: Vpn
                resourceGuid: resourceGuid
                bgpSettings:
                  bgpPeeringAddress: bgpPeeringAddress
                  asn: 5
                  peerWeight: 2
                vpnClientConfiguration:
                  vpnClientRevokedCertificates:
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  vpnClientRootCertificates:
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  vpnClientAddressPool:
                    addressPrefixes:
                    - addressPrefixes
                    - addressPrefixes
                vpnType: PolicyBased
                provisioningState: provisioningState
                sku:
                  tier: Basic
                  name: Basic
                  capacity: 2
                gatewayDefaultSite:
                  id: id
            usePolicyBasedTrafficSelectors: true
            virtualNetworkGateway2:
              etag: etag
              properties:
                ipConfigurations:
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                enableBgp: true
                activeActive: true
                gatewayType: Vpn
                resourceGuid: resourceGuid
                bgpSettings:
                  bgpPeeringAddress: bgpPeeringAddress
                  asn: 5
                  peerWeight: 2
                vpnClientConfiguration:
                  vpnClientRevokedCertificates:
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  vpnClientRootCertificates:
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  vpnClientAddressPool:
                    addressPrefixes:
                    - addressPrefixes
                    - addressPrefixes
                vpnType: PolicyBased
                provisioningState: provisioningState
                sku:
                  tier: Basic
                  name: Basic
                  capacity: 2
                gatewayDefaultSite:
                  id: id
            egressBytesTransferred: 0
            tunnelConnectionStatus:
            - ingressBytesTransferred: 3
              connectionStatus: Unknown
              egressBytesTransferred: 9
              lastConnectionEstablishedUtcTime: lastConnectionEstablishedUtcTime
              tunnel: tunnel
            - ingressBytesTransferred: 3
              connectionStatus: Unknown
              egressBytesTransferred: 9
              lastConnectionEstablishedUtcTime: lastConnectionEstablishedUtcTime
              tunnel: tunnel
        - etag: etag
          properties:
            sharedKey: sharedKey
            authorizationKey: authorizationKey
            ingressBytesTransferred: 6
            resourceGuid: resourceGuid
            routingWeight: 7
            provisioningState: provisioningState
            ipsecPolicies:
            - ikeIntegrity: MD5
              ikeEncryption: DES
              ipsecIntegrity: MD5
              pfsGroup: None
              saDataSizeKilobytes: 1
              saLifeTimeSeconds: 5
              dhGroup: None
              ipsecEncryption: None
            - ikeIntegrity: MD5
              ikeEncryption: DES
              ipsecIntegrity: MD5
              pfsGroup: None
              saDataSizeKilobytes: 1
              saLifeTimeSeconds: 5
              dhGroup: None
              ipsecEncryption: None
            connectionType: IPsec
            enableBgp: true
            peer:
              id: id
            localNetworkGateway2:
              etag: etag
              properties:
                localNetworkAddressSpace:
                  addressPrefixes:
                  - addressPrefixes
                  - addressPrefixes
                resourceGuid: resourceGuid
                gatewayIpAddress: gatewayIpAddress
                bgpSettings:
                  bgpPeeringAddress: bgpPeeringAddress
                  asn: 5
                  peerWeight: 2
                provisioningState: provisioningState
            connectionStatus: Unknown
            virtualNetworkGateway1:
              etag: etag
              properties:
                ipConfigurations:
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                enableBgp: true
                activeActive: true
                gatewayType: Vpn
                resourceGuid: resourceGuid
                bgpSettings:
                  bgpPeeringAddress: bgpPeeringAddress
                  asn: 5
                  peerWeight: 2
                vpnClientConfiguration:
                  vpnClientRevokedCertificates:
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  vpnClientRootCertificates:
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  vpnClientAddressPool:
                    addressPrefixes:
                    - addressPrefixes
                    - addressPrefixes
                vpnType: PolicyBased
                provisioningState: provisioningState
                sku:
                  tier: Basic
                  name: Basic
                  capacity: 2
                gatewayDefaultSite:
                  id: id
            usePolicyBasedTrafficSelectors: true
            virtualNetworkGateway2:
              etag: etag
              properties:
                ipConfigurations:
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                - name: name
                  etag: etag
                  properties:
                    subnet:
                      id: id
                    privateIPAllocationMethod: Static
                    provisioningState: provisioningState
                    publicIPAddress:
                      id: id
                enableBgp: true
                activeActive: true
                gatewayType: Vpn
                resourceGuid: resourceGuid
                bgpSettings:
                  bgpPeeringAddress: bgpPeeringAddress
                  asn: 5
                  peerWeight: 2
                vpnClientConfiguration:
                  vpnClientRevokedCertificates:
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      thumbprint: thumbprint
                      provisioningState: provisioningState
                  vpnClientRootCertificates:
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  - name: name
                    etag: etag
                    properties:
                      provisioningState: provisioningState
                      publicCertData: publicCertData
                  vpnClientAddressPool:
                    addressPrefixes:
                    - addressPrefixes
                    - addressPrefixes
                vpnType: PolicyBased
                provisioningState: provisioningState
                sku:
                  tier: Basic
                  name: Basic
                  capacity: 2
                gatewayDefaultSite:
                  id: id
            egressBytesTransferred: 0
            tunnelConnectionStatus:
            - ingressBytesTransferred: 3
              connectionStatus: Unknown
              egressBytesTransferred: 9
              lastConnectionEstablishedUtcTime: lastConnectionEstablishedUtcTime
              tunnel: tunnel
            - ingressBytesTransferred: 3
              connectionStatus: Unknown
              egressBytesTransferred: 9
              lastConnectionEstablishedUtcTime: lastConnectionEstablishedUtcTime
              tunnel: tunnel
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: Gets a list of VirtualNetworkGatewayConnection resources that
            exists in a resource group.
          items:
            $ref: '#/components/schemas/VirtualNetworkGatewayConnection'
          title: value
          type: array
      title: VirtualNetworkGatewayConnectionListResult
      type: object
    VirtualNetworkGatewayConnectionPropertiesFormat:
      description: VirtualNetworkGatewayConnection properties
      example:
        sharedKey: sharedKey
        authorizationKey: authorizationKey
        ingressBytesTransferred: 6
        resourceGuid: resourceGuid
        routingWeight: 7
        provisioningState: provisioningState
        ipsecPolicies:
        - ikeIntegrity: MD5
          ikeEncryption: DES
          ipsecIntegrity: MD5
          pfsGroup: None
          saDataSizeKilobytes: 1
          saLifeTimeSeconds: 5
          dhGroup: None
          ipsecEncryption: None
        - ikeIntegrity: MD5
          ikeEncryption: DES
          ipsecIntegrity: MD5
          pfsGroup: None
          saDataSizeKilobytes: 1
          saLifeTimeSeconds: 5
          dhGroup: None
          ipsecEncryption: None
        connectionType: IPsec
        enableBgp: true
        peer:
          id: id
        localNetworkGateway2:
          etag: etag
          properties:
            localNetworkAddressSpace:
              addressPrefixes:
              - addressPrefixes
              - addressPrefixes
            resourceGuid: resourceGuid
            gatewayIpAddress: gatewayIpAddress
            bgpSettings:
              bgpPeeringAddress: bgpPeeringAddress
              asn: 5
              peerWeight: 2
            provisioningState: provisioningState
        connectionStatus: Unknown
        virtualNetworkGateway1:
          etag: etag
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            enableBgp: true
            activeActive: true
            gatewayType: Vpn
            resourceGuid: resourceGuid
            bgpSettings:
              bgpPeeringAddress: bgpPeeringAddress
              asn: 5
              peerWeight: 2
            vpnClientConfiguration:
              vpnClientRevokedCertificates:
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              vpnClientRootCertificates:
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              vpnClientAddressPool:
                addressPrefixes:
                - addressPrefixes
                - addressPrefixes
            vpnType: PolicyBased
            provisioningState: provisioningState
            sku:
              tier: Basic
              name: Basic
              capacity: 2
            gatewayDefaultSite:
              id: id
        usePolicyBasedTrafficSelectors: true
        virtualNetworkGateway2:
          etag: etag
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            enableBgp: true
            activeActive: true
            gatewayType: Vpn
            resourceGuid: resourceGuid
            bgpSettings:
              bgpPeeringAddress: bgpPeeringAddress
              asn: 5
              peerWeight: 2
            vpnClientConfiguration:
              vpnClientRevokedCertificates:
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              vpnClientRootCertificates:
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              vpnClientAddressPool:
                addressPrefixes:
                - addressPrefixes
                - addressPrefixes
            vpnType: PolicyBased
            provisioningState: provisioningState
            sku:
              tier: Basic
              name: Basic
              capacity: 2
            gatewayDefaultSite:
              id: id
        egressBytesTransferred: 0
        tunnelConnectionStatus:
        - ingressBytesTransferred: 3
          connectionStatus: Unknown
          egressBytesTransferred: 9
          lastConnectionEstablishedUtcTime: lastConnectionEstablishedUtcTime
          tunnel: tunnel
        - ingressBytesTransferred: 3
          connectionStatus: Unknown
          egressBytesTransferred: 9
          lastConnectionEstablishedUtcTime: lastConnectionEstablishedUtcTime
          tunnel: tunnel
      properties:
        authorizationKey:
          description: The authorizationKey.
          title: authorizationKey
          type: string
        connectionStatus:
          description: "Virtual network Gateway connection status. Possible values\
            \ are 'Unknown', 'Connecting', 'Connected' and 'NotConnected'."
          enum:
          - Unknown
          - Connecting
          - Connected
          - NotConnected
          readOnly: true
          title: connectionStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayConnectionStatus
        connectionType:
          description: "Gateway connection type. Possible values are: 'IPsec','Vnet2Vnet','ExpressRoute',\
            \ and 'VPNClient."
          enum:
          - IPsec
          - Vnet2Vnet
          - ExpressRoute
          - VPNClient
          title: connectionType
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkGatewayConnectionType
        egressBytesTransferred:
          description: The egress bytes transferred in this connection.
          format: int64
          readOnly: true
          title: egressBytesTransferred
          type: integer
        enableBgp:
          description: EnableBgp flag
          title: enableBgp
          type: boolean
        ingressBytesTransferred:
          description: The ingress bytes transferred in this connection.
          format: int64
          readOnly: true
          title: ingressBytesTransferred
          type: integer
        ipsecPolicies:
          description: The IPSec Policies to be considered by this connection.
          items:
            $ref: '#/components/schemas/IpsecPolicy'
          title: ipsecPolicies
          type: array
        localNetworkGateway2:
          $ref: '#/components/schemas/LocalNetworkGateway'
        peer:
          $ref: '#/components/schemas/VirtualNetworkGatewayConnectionPropertiesFormat_peer'
        provisioningState:
          description: "The provisioning state of the VirtualNetworkGatewayConnection\
            \ resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
          readOnly: true
          title: provisioningState
          type: string
        resourceGuid:
          description: The resource GUID property of the VirtualNetworkGatewayConnection
            resource.
          title: resourceGuid
          type: string
        routingWeight:
          description: The routing weight.
          format: int32
          title: routingWeight
          type: integer
        sharedKey:
          description: The IPSec shared key.
          title: sharedKey
          type: string
        tunnelConnectionStatus:
          description: Collection of all tunnels' connection health status.
          items:
            $ref: '#/components/schemas/TunnelConnectionHealth'
          readOnly: true
          title: tunnelConnectionStatus
          type: array
        usePolicyBasedTrafficSelectors:
          description: Enable policy-based traffic selectors.
          title: usePolicyBasedTrafficSelectors
          type: boolean
        virtualNetworkGateway1:
          $ref: '#/components/schemas/VirtualNetworkGateway'
        virtualNetworkGateway2:
          $ref: '#/components/schemas/VirtualNetworkGateway'
      required:
      - connectionType
      - virtualNetworkGateway1
      title: VirtualNetworkGatewayConnectionPropertiesFormat
      type: object
    VirtualNetworkGatewayIPConfiguration:
      allOf:
      - properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: IP configuration for virtual network gateway
      example:
        name: name
        etag: etag
        properties:
          subnet:
            id: id
          privateIPAllocationMethod: Static
          provisioningState: provisioningState
          publicIPAddress:
            id: id
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        name:
          description: The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/VirtualNetworkGatewayIPConfigurationPropertiesFormat'
      title: VirtualNetworkGatewayIPConfiguration
    VirtualNetworkGatewayIPConfigurationPropertiesFormat:
      description: Properties of VirtualNetworkGatewayIPConfiguration
      example:
        subnet:
          id: id
        privateIPAllocationMethod: Static
        provisioningState: provisioningState
        publicIPAddress:
          id: id
      properties:
        privateIPAllocationMethod:
          description: "The private IP allocation method. Possible values are: 'Static'\
            \ and 'Dynamic'."
          enum:
          - Static
          - Dynamic
          title: privateIPAllocationMethod
          type: string
          x-ms-enum:
            modelAsString: true
            name: IPAllocationMethod
        provisioningState:
          description: "The provisioning state of the public IP resource. Possible\
            \ values are: 'Updating', 'Deleting', and 'Failed'."
          readOnly: true
          title: provisioningState
          type: string
        publicIPAddress:
          $ref: '#/components/schemas/VirtualNetworkGatewayConnectionPropertiesFormat_peer'
        subnet:
          $ref: '#/components/schemas/VirtualNetworkGatewayConnectionPropertiesFormat_peer'
      title: VirtualNetworkGatewayIPConfigurationPropertiesFormat
      type: object
    VirtualNetworkGatewayListResult:
      description: Response for the ListVirtualNetworkGateways API service call.
      example:
        value:
        - etag: etag
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            enableBgp: true
            activeActive: true
            gatewayType: Vpn
            resourceGuid: resourceGuid
            bgpSettings:
              bgpPeeringAddress: bgpPeeringAddress
              asn: 5
              peerWeight: 2
            vpnClientConfiguration:
              vpnClientRevokedCertificates:
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              vpnClientRootCertificates:
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              vpnClientAddressPool:
                addressPrefixes:
                - addressPrefixes
                - addressPrefixes
            vpnType: PolicyBased
            provisioningState: provisioningState
            sku:
              tier: Basic
              name: Basic
              capacity: 2
            gatewayDefaultSite:
              id: id
        - etag: etag
          properties:
            ipConfigurations:
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            - name: name
              etag: etag
              properties:
                subnet:
                  id: id
                privateIPAllocationMethod: Static
                provisioningState: provisioningState
                publicIPAddress:
                  id: id
            enableBgp: true
            activeActive: true
            gatewayType: Vpn
            resourceGuid: resourceGuid
            bgpSettings:
              bgpPeeringAddress: bgpPeeringAddress
              asn: 5
              peerWeight: 2
            vpnClientConfiguration:
              vpnClientRevokedCertificates:
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              - name: name
                etag: etag
                properties:
                  thumbprint: thumbprint
                  provisioningState: provisioningState
              vpnClientRootCertificates:
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              - name: name
                etag: etag
                properties:
                  provisioningState: provisioningState
                  publicCertData: publicCertData
              vpnClientAddressPool:
                addressPrefixes:
                - addressPrefixes
                - addressPrefixes
            vpnType: PolicyBased
            provisioningState: provisioningState
            sku:
              tier: Basic
              name: Basic
              capacity: 2
            gatewayDefaultSite:
              id: id
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: Gets a list of VirtualNetworkGateway resources that exists
            in a resource group.
          items:
            $ref: '#/components/schemas/VirtualNetworkGateway'
          title: value
          type: array
      title: VirtualNetworkGatewayListResult
      type: object
    VirtualNetworkGatewayPropertiesFormat:
      description: VirtualNetworkGateway properties
      example:
        ipConfigurations:
        - name: name
          etag: etag
          properties:
            subnet:
              id: id
            privateIPAllocationMethod: Static
            provisioningState: provisioningState
            publicIPAddress:
              id: id
        - name: name
          etag: etag
          properties:
            subnet:
              id: id
            privateIPAllocationMethod: Static
            provisioningState: provisioningState
            publicIPAddress:
              id: id
        enableBgp: true
        activeActive: true
        gatewayType: Vpn
        resourceGuid: resourceGuid
        bgpSettings:
          bgpPeeringAddress: bgpPeeringAddress
          asn: 5
          peerWeight: 2
        vpnClientConfiguration:
          vpnClientRevokedCertificates:
          - name: name
            etag: etag
            properties:
              thumbprint: thumbprint
              provisioningState: provisioningState
          - name: name
            etag: etag
            properties:
              thumbprint: thumbprint
              provisioningState: provisioningState
          vpnClientRootCertificates:
          - name: name
            etag: etag
            properties:
              provisioningState: provisioningState
              publicCertData: publicCertData
          - name: name
            etag: etag
            properties:
              provisioningState: provisioningState
              publicCertData: publicCertData
          vpnClientAddressPool:
            addressPrefixes:
            - addressPrefixes
            - addressPrefixes
        vpnType: PolicyBased
[...]
