openapi: 3.0.1
info:
  title: LogicAppsManagementClient
  version: 2016-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-06-01/logicAppsManagementClient.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: web-logicAppsManagementClient
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/connectionGateways:
    get:
      description: Gets a list of gateways under a subscription
      operationId: ConnectionGateways_List
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionGatewayDefinitionCollection'
          description: The gateway definitions
      summary: Lists all of the connection gateways
      tags:
      - Connection Gateways
      x-ms-examples:
        List all connection gateways:
          parameters:
            api-version: 2016-06-01
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/connectionGateways/test123
                  location: westus
                  name: test123
                  properties:
                    backendUri: https://WABI-WEST-US-redirect.analysis.windows.net
                    connectionGatewayInstallation:
                      id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/locations/westus/connectionGatewayInstallations/865dccd1-5d5c-45fe-b5a0-249d4de4134c
                      location: westus
                      name: 865dccd1-5d5c-45fe-b5a0-249d4de4134c
                      type: Microsoft.Web/locations/connectionGatewayInstallations
                    contactInformation:
                    - test123@microsoft.com
                    displayName: test123
                    machineName: TEST123
                    status: Installed
                  type: Microsoft.Web/connectionGateways
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/customApis:
    get:
      description: Gets a list of all custom APIs for a subscription id
      operationId: CustomApis_List
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of items to be included in the result
        in: query
        name: $top
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Skip Token
        in: query
        name: skiptoken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomApiDefinitionCollection'
          description: A list of custom APIs
      summary: List of custom APIs
      tags:
      - Custom APIs
      x-ms-examples:
        List all custom APIs:
          parameters:
            api-version: 2016-06-01
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/customApis/testCustomApi
                  location: northcentralus
                  name: testCustomApi
                  properties:
                    apiDefinitions:
                      modifiedSwaggerUrl: https://tempuri.org/modified.json
                      originalSwaggerUrl: https://tempuri.org/swagger.json
                    apiType: Rest
                    capabilities: []
                    description: ""
                    displayName: testCustomApi
                    iconUri: /testIcon.svg
                    runtimeUrls:
                    - https://tempuri.org
                    - http://tempuri.org
                    wsdlDefinition: {}
                  type: Microsoft.Web/customApis
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/connectionGatewayInstallations:
    get:
      description: "Gets a list of installed gateways that the user is an admin of,\
        \ in a specific subscription and at a certain location"
      operationId: ConnectionGatewayInstallations_List
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The location
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionGatewayInstallationDefinitionCollection'
          description: The gateway installations
      summary: Gets a list of installed gateways that the user is an admin of
      tags:
      - Connection Gateways
      x-ms-examples:
        List all installations in a region:
          parameters:
            api-version: 2016-06-01
            location: westus
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/connectionGatewayInstallations/test123
                  location: westus
                  name: test123
                  properties:
                    backendUri: https://WABI-WEST-US-redirect.analysis.windows.net
                    connectionGateway:
                      id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/locations/westus/connectionGateways/865dccd1-5d5c-45fe-b5a0-249d4de4134c
                      location: westus
                      name: 865dccd1-5d5c-45fe-b5a0-249d4de4134c
                      type: Microsoft.Web/connectionGateways
                    contactInformation:
                    - test123@microsoft.com
                    displayName: test123
                    machineName: TEST123
                    status: Installed
                  type: Microsoft.Web/locations/connectionGatewayInstallations
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/connectionGatewayInstallations/{gatewayId}:
    get:
      description: "Get a specific installed gateway that the user is an admin of,\
        \ in a specific subscription and at a certain location"
      operationId: ConnectionGatewayInstallations_Get
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The location
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Gateway ID
        in: path
        name: gatewayId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionGatewayInstallationDefinition'
          description: The gateway installation
      summary: Gets an installed gateway that the user is an admin of
      tags:
      - Connection Gateways
      x-ms-examples:
        Get a specific gateway installation:
          parameters:
            api-version: 2016-06-01
            gatewayId: 5de68756-ccff-49a4-8bd6-9f6059ece8ea
            location: westus
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/connectionGatewayInstallations/test123
                location: westus
                name: test123
                properties:
                  backendUri: https://WABI-WEST-US-redirect.analysis.windows.net
                  connectionGateway:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/locations/westus/connectionGateways/865dccd1-5d5c-45fe-b5a0-249d4de4134c
                    location: westus
                    name: 865dccd1-5d5c-45fe-b5a0-249d4de4134c
                    type: Microsoft.Web/connectionGateways
                  contactInformation:
                  - test123@microsoft.com
                  displayName: test123
                  machineName: TEST123
                  status: Installed
                type: Microsoft.Web/locations/connectionGatewayInstallations
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/extractApiDefinitionFromWsdl:
    post:
      description: Parses the specified WSDL and extracts the API definition
      operationId: CustomApis_ExtractApiDefinitionFromWsdl
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The location
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WsdlDefinition'
        description: WSDL definition
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Swagger of the API extracted from the WSDL
      summary: Returns API definition from WSDL
      tags:
      - Custom APIs
      x-ms-examples:
        Extract definition from WSDL:
          parameters:
            api-version: 2016-06-01
            location: westus
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            wsdlDefinition:
              url: https://tempuri.org/testWsdlDefinition
          responses:
            "200":
              body:
                info:
                  title: basic
                  version: "1.0"
                paths:
                  /sampleEndpoint:
                    get:
                      operationId: http://tempuri.org/ITestService/sampleEndpoint
                      parameters: []
                      produces:
                      - application/json
                      responses:
                        "200":
                          description: OK
                swagger: "2.0"
      x-codegen-request-body-name: wsdlDefinition
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/listWsdlInterfaces:
    post:
      description: This returns the list of interfaces in the WSDL
      operationId: CustomApis_ListWsdlInterfaces
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The location
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WsdlDefinition'
        description: WSDL definition
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WsdlServiceCollection'
          description: A list of interfaces
      summary: Lists WSDL interfaces
      tags:
      - Custom APIs
      x-ms-examples:
        List the WSDL interfaces:
          parameters:
            api-version: 2016-06-01
            location: westus
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            wsdlDefinition:
              url: https://tempuri.org/testWsdlDefinition
          responses:
            "200":
              body:
                value:
                - endpointQualifiedNames:
                  - http://tempuri.org/ws
                  - http://tempuri.org/basic
                  qualifiedName: testWsdl
      x-codegen-request-body-name: wsdlDefinition
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis:
    get:
      description: Gets a list of managed APIs
      operationId: ManagedApis_List
      parameters:
      - description: The location
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedApiDefinitionCollection'
          description: A list of managed APIs
      summary: Lists managed APIs
      tags:
      - Managed APIs
      x-ms-examples:
        List all managed APIs:
          parameters:
            api-version: 2016-06-01
            location: northcentralus
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/providers/Microsoft.Web/locations/northcentralus/managedApis/testManagedApi
                  location: northcentralus
                  name: testManagedApi
                  properties:
                    capabilities:
                    - actions
                    connectionParameters:
                      token:
                        oAuthSettings:
                          clientId: testClientID
                          customParameters:
                            authorizationUrl:
                              value: https://tempuri.org/authorize/
                            refreshUrl:
                              value: https://tempuri.org/refresh/
                            tokenUrl:
                              value: https://tempuri.org/token/
                          identityProvider: oauth2
                          properties:
                            IsFirstParty: "False"
                          redirectUrl: https://logic-apis-northcentralus.consent.azure-apim.net/redirect
                          scopes:
                          - read
                          - write
                        type: oauthSetting
                    generalInformation:
                      description: ""
                      displayName: testManagedApi
                      iconUrl: testIcon.png
                      releaseTag: Preview
                    metadata:
                      brandColor: '#C9C9C9'
                      source: marketplace
                    name: testManagedApi
                    runtimeUrls:
                    - https://tempuri.org/testManagedApi
                  type: Microsoft.Web/locations/managedApis
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis/{apiName}:
    get:
      description: Gets a managed API
      operationId: ManagedApis_Get
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The location
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API name
        in: path
        name: apiName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedApiDefinition'
          description: A managed API definition
      summary: Gets managed API
      tags:
      - Managed APIs
      x-ms-examples:
        Get a managed API:
          parameters:
            api-version: 2016-06-01
            apiName: testManagedApi
            location: northcentralus
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/providers/Microsoft.Web/locations/northcentralus/managedApis/testManagedApi
                location: northcentralus
                name: testManagedApi
                properties:
                  capabilities:
                  - actions
                  connectionParameters:
                    token:
                      oAuthSettings:
                        clientId: testClientID
                        customParameters:
                          authorizationUrl:
                            value: https://tempuri.org/authorize/
                          refreshUrl:
                            value: https://tempuri.org/refresh/
                          tokenUrl:
                            value: https://tempuri.org/token/
                        identityProvider: oauth2
                        properties:
                          IsFirstParty: "False"
                        redirectUrl: https://logic-apis-northcentralus.consent.azure-apim.net/redirect
                        scopes:
                        - read
                        - write
                      type: oauthSetting
                  generalInformation:
                    description: ""
                    displayName: testManagedApi
                    iconUrl: testIcon.png
                    releaseTag: Preview
                  metadata:
                    brandColor: '#C9C9C9'
                    source: marketplace
                  name: testManagedApi
                  runtimeUrls:
                  - https://tempuri.org/testManagedApi
                type: Microsoft.Web/locations/managedApis
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connectionGateways:
    get:
      description: Gets a list of gateways under a subscription and in a specific
        resource group
      operationId: ConnectionGateways_ListByResourceGroup
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionGatewayDefinitionCollection'
          description: The gateway definitions
      summary: Lists all of the connection gateways
      tags:
      - Connection Gateways
      x-ms-examples:
        List all connection gateways:
          parameters:
            api-version: 2016-06-01
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/connectionGateways/test123
                  location: westus
                  name: test123
                  properties:
                    backendUri: https://WABI-WEST-US-redirect.analysis.windows.net
                    connectionGatewayInstallation:
                      id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/locations/westus/connectionGatewayInstallations/865dccd1-5d5c-45fe-b5a0-249d4de4134c
                      location: westus
                      name: 865dccd1-5d5c-45fe-b5a0-249d4de4134c
                      type: Microsoft.Web/locations/connectionGatewayInstallations
                    contactInformation:
                    - test123@microsoft.com
                    displayName: test123
                    machineName: TEST123
                    status: Installed
                  type: Microsoft.Web/connectionGateways
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connectionGateways/{connectionGatewayName}
  : delete:
      description: Deletes a specific gateway for under a subscription and in a specific
        resource group
      operationId: ConnectionGateways_Delete
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The connection gateway name
        in: path
        name: connectionGatewayName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Successfully deleted the connection gateway
        "204":
          content: {}
          description: No connection gateway to delete
      summary: Deletes a specific gateway
      tags:
      - Connection Gateways
      x-ms-examples:
        Delete a connection gateway definition:
          parameters:
            api-version: 2016-06-01
            connectionGatewayName: test123
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets a specific gateway under a subscription and in a specific
        resource group
      operationId: ConnectionGateways_Get
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The connection gateway name
        in: path
        name: connectionGatewayName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionGatewayDefinition'
          description: The gateway definition
      summary: Gets a specific gateway
      tags:
      - Connection Gateways
      x-ms-examples:
        Get the connection gateway definition:
          parameters:
            api-version: 2016-06-01
            connectionGatewayName: test123
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/connectionGateways/test123
                location: westus
                name: test123
                properties:
                  backendUri: https://WABI-WEST-US-redirect.analysis.windows.net
                  connectionGatewayInstallation:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/locations/westus/connectionGatewayInstallations/865dccd1-5d5c-45fe-b5a0-249d4de4134c
                    location: westus
                    name: 865dccd1-5d5c-45fe-b5a0-249d4de4134c
                    type: Microsoft.Web/locations/connectionGatewayInstallations
                  contactInformation:
                  - test123@microsoft.com
                  displayName: test123
                  machineName: TEST123
                  status: Installed
                type: Microsoft.Web/connectionGateways
      x-accepts:
      - application/json
    patch:
      description: Updates a connection gateway's tags
      operationId: ConnectionGateways_Update
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The connection gateway name
        in: path
        name: connectionGatewayName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionGatewayDefinition'
        description: The connection gateway
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionGatewayDefinition'
          description: The gateway definition
      summary: Updates a specific gateway
      tags:
      - Connection Gateways
      x-ms-examples:
        Update a connection gateway's tags:
          parameters:
            api-version: 2016-06-01
            connectionGateway:
              tags:
                sampleTagKey: sampleTagValue
            connectionGatewayName: test123
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/connectionGateways/test123
                location: westus
                name: test123
                properties:
                  backendUri: https://WABI-WEST-US-redirect.analysis.windows.net
                  connectionGatewayInstallation:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/locations/westus/connectionGatewayInstallations/865dccd1-5d5c-45fe-b5a0-249d4de4134c
                    location: westus
                    name: 865dccd1-5d5c-45fe-b5a0-249d4de4134c
                    type: Microsoft.Web/locations/connectionGatewayInstallations
                  contactInformation:
                  - test123@microsoft.com
                  displayName: test123
                  machineName: TEST123
                  status: Installed
                tags:
                  sampleTagKey: sampleTagValue
                type: Microsoft.Web/connectionGateways
      x-codegen-request-body-name: connectionGateway
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates a specific gateway for under a subscription
        and in a specific resource group
      operationId: ConnectionGateways_CreateOrUpdate
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The connection gateway name
        in: path
        name: connectionGatewayName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionGatewayDefinition'
        description: The connection gateway
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionGatewayDefinition'
          description: The updated gateway definition
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionGatewayDefinition'
          description: The newly created gateway definition
      summary: Replaces a specific gateway
      tags:
      - Connection Gateways
      x-ms-examples:
        Replace a connection gateway definition:
          parameters:
            api-version: 2016-06-01
            connectionGateway:
              id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/connectionGateways/test123
              properties:
                backendUri: https://WABI-WEST-US-redirect.analysis.windows.net
                connectionGatewayInstallation:
                  id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/locations/westus/connectionGatewayInstallations/865dccd1-5d5c-45fe-b5a0-249d4de4134c
                contactInformation:
                - test123@microsoft.com
                displayName: test123
                machineName: TEST123
                status: Installed
            connectionGatewayName: test123
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/connectionGateways/test123
                location: westus
                name: test123
                properties:
                  backendUri: https://WABI-WEST-US-redirect.analysis.windows.net
                  connectionGatewayInstallation:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/locations/westus/connectionGatewayInstallations/865dccd1-5d5c-45fe-b5a0-249d4de4134c
                    location: westus
                    name: 865dccd1-5d5c-45fe-b5a0-249d4de4134c
                    type: Microsoft.Web/locations/connectionGatewayInstallations
                  contactInformation:
                  - test123@microsoft.com
                  displayName: test123
                  machineName: TEST123
                  status: Installed
                type: Microsoft.Web/connectionGateways
            "201":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/connectionGateways/test123
                location: westus
                name: test123
                properties:
                  backendUri: https://WABI-WEST-US-redirect.analysis.windows.net
                  connectionGatewayInstallation:
                    id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/locations/westus/connectionGatewayInstallations/865dccd1-5d5c-45fe-b5a0-249d4de4134c
                    location: westus
                    name: 865dccd1-5d5c-45fe-b5a0-249d4de4134c
                    type: Microsoft.Web/locations/connectionGatewayInstallations
                  contactInformation:
                  - test123@microsoft.com
                  displayName: test123
                  machineName: TEST123
                  status: Installed
                tags:
                  sampleTagKey: sampleTagValue
                type: Microsoft.Web/connectionGateways
      x-codegen-request-body-name: connectionGateway
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections:
    get:
      description: Gets a list of connections
      operationId: Connections_List
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of items to be included in the result
        in: query
        name: $top
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The filter to apply on the operation
        in: query
        name: $filter
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiConnectionDefinitionCollection'
          description: A list of API connection
      summary: Get all connections
      tags:
      - Connections
      x-ms-examples:
        List all connections:
          parameters:
            api-version: 2016-06-01
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourceGroups/testResourceGroup/providers/Microsoft.Web/connections/testManagedApi-1
                  location: centralus
                  name: testManagedApi-1
                  properties:
                    api:
                      brandColor: '#FFFFFF'
                      description: ""
                      displayName: testManagedApi
                      iconUri: https://tempuri.org/icons.png
                      id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/providers/Microsoft.Web/locations/centralus/managedApis/testManagedApi
                      name: testManagedApi
                      type: Microsoft.Web/locations/managedApis
                    changedTime: 2017-06-22T01:32:27.50212Z
                    createdTime: 2017-06-22T01:32:27.50212Z
                    customParameterValues: {}
                    displayName: testManagedApi
                    nonSecretParameterValues:
                      integrationAccountId: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                    statuses:
                    - status: Connected
                    testLinks:
                    - method: get
                      requestUri: https://tempuri.org/testconnection
                  type: Microsoft.Web/connections
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}:
    delete:
      description: Deletes a connection
      operationId: Connections_Delete
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Connection name
        in: path
        name: connectionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Successfully deleted the connection
        "204":
          content: {}
          description: No connection to delete
      summary: Delete an existing connection
      tags:
      - Connections
      x-ms-examples:
        Delete a connection:
          parameters:
            api-version: 2016-06-01
            connectionName: testManagedApi
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get a specific connection
      operationId: Connections_Get
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Connection name
        in: path
        name: connectionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiConnectionDefinition'
          description: An API connection
      summary: Get a connection
      tags:
      - Connections
      x-ms-examples:
        Get a connection:
          parameters:
            api-version: 2016-06-01
            connectionName: testManagedApi
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourceGroups/testResourceGroup/providers/Microsoft.Web/connections/testManagedApi-1
                location: centralus
                name: testManagedApi-1
                properties:
                  api:
                    brandColor: '#FFFFFF'
                    description: ""
                    displayName: testManagedApi
                    iconUri: https://tempuri.org/icons.png
                    id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/providers/Microsoft.Web/locations/centralus/managedApis/testManagedApi
                    name: testManagedApi
                    type: Microsoft.Web/locations/managedApis
                  changedTime: 2017-06-22T01:32:27.50212Z
                  createdTime: 2017-06-22T01:32:27.50212Z
                  customParameterValues: {}
                  displayName: testManagedApi
                  nonSecretParameterValues:
                    integrationAccountId: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                  statuses:
                  - status: Connected
                  testLinks:
                  - method: get
                    requestUri: https://tempuri.org/testconnection
                type: Microsoft.Web/connections
      x-accepts:
      - application/json
    patch:
      description: Updates a connection's tags
      operationId: Connections_Update
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Connection name
        in: path
        name: connectionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiConnectionDefinition'
        description: The connection
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiConnectionDefinition'
          description: API connection updated
      summary: Update an existing connection
      tags:
      - Connections
      x-ms-examples:
        Update a connection's tags:
          parameters:
            api-version: 2016-06-01
            connection:
              tags:
                sampleTag: SampleValue
            connectionName: testManagedApi
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourceGroups/testResourceGroup/providers/Microsoft.Web/connections/testManagedApi-1
                location: centralus
                name: testManagedApi-1
                properties:
                  api:
                    brandColor: '#FFFFFF'
                    description: ""
                    displayName: testManagedApi
                    iconUri: https://tempuri.org/icons.png
                    id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/providers/Microsoft.Web/locations/centralus/managedApis/testManagedApi
                    name: testManagedApi
                    type: Microsoft.Web/locations/managedApis
                  changedTime: 2017-06-22T01:32:27.50212Z
                  createdTime: 2017-06-22T01:32:27.50212Z
                  customParameterValues: {}
                  displayName: testManagedApi
                  nonSecretParameterValues:
                    integrationAccountId: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                  statuses:
                  - status: Connected
                  testLinks:
                  - method: get
                    requestUri: https://tempuri.org/testconnection
                tags:
                  sampleTag: SampleValue
                type: Microsoft.Web/connections
      x-codegen-request-body-name: connection
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates a connection
      operationId: Connections_CreateOrUpdate
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Connection name
        in: path
        name: connectionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiConnectionDefinition'
        description: The connection
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiConnectionDefinition'
          description: New API connection created
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiConnectionDefinition'
          description: Already existing API connection updated
      summary: Replace an existing connection
      tags:
      - Connections
      x-ms-examples:
        Replace a connection:
          parameters:
            api-version: 2016-06-01
            connection:
              id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourceGroups/testResourceGroup/providers/Microsoft.Web/connections/testManagedApi-1
              properties:
                api:
                  id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/providers/Microsoft.Web/locations/centralus/managedApis/testManagedApi
                customParameterValues: {}
                displayName: testManagedApi
                parameterValues: {}
            connectionName: testManagedApi
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourceGroups/testResourceGroup/providers/Microsoft.Web/connections/testManagedApi-1
                location: centralus
                name: testManagedApi-1
                properties:
                  api:
                    brandColor: '#FFFFFF'
                    description: ""
                    displayName: testManagedApi
                    iconUri: https://tempuri.org/icons.png
                    id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/providers/Microsoft.Web/locations/centralus/managedApis/testManagedApi
                    name: testManagedApi
                    type: Microsoft.Web/locations/managedApis
                  changedTime: 2017-06-22T01:32:27.50212Z
                  createdTime: 2017-06-22T01:32:27.50212Z
                  customParameterValues: {}
                  displayName: testManagedApi
                  nonSecretParameterValues:
                    integrationAccountId: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                  statuses:
                  - status: Connected
                  testLinks:
                  - method: get
                    requestUri: https://tempuri.org/testconnection
                type: Microsoft.Web/connections
            "201":
              body:
                id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourceGroups/testResourceGroup/providers/Microsoft.Web/connections/testManagedApi-1
                location: centralus
                name: testManagedApi-1
                properties:
                  api:
                    brandColor: '#FFFFFF'
                    description: ""
                    displayName: testManagedApi
                    iconUri: https://tempuri.org/icons.png
                    id: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/providers/Microsoft.Web/locations/centralus/managedApis/testManagedApi
                    name: testManagedApi
                    type: Microsoft.Web/locations/managedApis
                  changedTime: 2017-06-22T01:32:27.50212Z
                  createdTime: 2017-06-22T01:32:27.50212Z
                  customParameterValues: {}
                  displayName: testManagedApi
                  nonSecretParameterValues:
                    integrationAccountId: /subscriptions/f34b22a3-2202-4fb1-b040-1332bd928c84/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                  statuses:
                  - status: Connected
                  testLinks:
                  - method: get
                    requestUri: https://tempuri.org/testconnection
                type: Microsoft.Web/connections
      x-codegen-request-body-name: connection
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/confirmConsentCode
  : post:
      description: Confirms consent code of a connection
      operationId: Connections_ConfirmConsentCode
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Connection name
        in: path
        name: connectionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmConsentCodeDefinition'
        description: The consent code confirmation
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmConsentCodeDefinition'
          description: Confirmation of the consent code
      summary: Confirms the consent code for a connection
      tags:
      - Connections
      x-ms-examples:
        Confirm consent code:
          parameters:
            api-version: 2016-06-01
            confirmConsentCode:
              code: testCode
              objectId: objectId
              tenantId: tenantId
            connectionName: testManagedApi
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                code: testCode
                objectId: objectId
                tenantId: tenantId
      x-codegen-request-body-name: confirmConsentCode
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/listConsentLinks
  : post:
      description: Lists the consent links of a connection
      operationId: Connections_ListConsentLinks
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Connection name
        in: path
        name: connectionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListConsentLinksDefinition'
        description: The consent links
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentLinkCollection'
          description: A list of the consent links
      summary: Lists consent links for a connection
      tags:
      - Connections
      x-ms-examples:
        List consent links:
          parameters:
            api-version: 2016-06-01
            connectionName: testManagedApi
            listConsentLink:
              parameters:
                objectId: objectId
                parameterName: token
                redirectUrl: https://my.redirect.url/login
                tenantId: tenantId
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - link: tempuri.org/testConsentLink
      x-codegen-request-body-name: listConsentLink
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/customApis:
    get:
      description: Gets a list of all custom APIs in a subscription for a specific
        resource group
      operationId: CustomApis_ListByResourceGroup
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of items to be included in the result
        in: query
        name: $top
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Skip Token
        in: query
        name: skiptoken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomApiDefinitionCollection'
          description: A list of custom APIs
      summary: List of custom APIs
      tags:
      - Custom APIs
      x-ms-examples:
        List all custom APIs:
          parameters:
            api-version: 2016-06-01
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/customApis/testRestCustomApi
                  location: northcentralus
                  name: testCustomApi
                  properties:
                    apiDefinitions:
                      modifiedSwaggerUrl: https://tempuri.org/modified.json
                      originalSwaggerUrl: https://tempuri.org/swagger.json
                    apiType: Rest
                    capabilities: []
                    description: ""
                    displayName: testCustomApi
                    iconUri: /testIcon.svg
                    runtimeUrls:
                    - https://tempuri.org
                    - http://tempuri.org
                  type: Microsoft.Web/customApis
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/customApis/testSoapCustomApi
                  location: northcentralus
                  name: testCustomApi
                  properties:
                    apiDefinitions:
                      modifiedSwaggerUrl: https://tempuri.org/modified.json
                      originalSwaggerUrl: https://tempuri.org/swagger.json
                    apiType: Soap
                    capabilities: []
                    description: ""
                    displayName: testCustomApi
                    iconUri: /testIcon.svg
                    runtimeUrls:
                    - https://tempuri.org
                    - http://tempuri.org
                    wsdlDefinition:
                      importMethod: SoapToRest
                      service:
                        endpointQualifiedNames:
                        - http://tempuri.org/basic
                        - http://tempuri.org/ws
                        qualifiedName: http://tempuri.org/testSoapCustomApi
                  type: Microsoft.Web/customApis
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/customApis/{apiName}:
    delete:
      description: Deletes a custom API from the resource group
      operationId: CustomApis_Delete
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API name
        in: path
        name: apiName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: Successfully deleted the custom API
        "204":
          content: {}
          description: No custom API to delete
      summary: Delete a custom API
      tags:
      - Custom APIs
      x-ms-examples:
        Delete a custom API:
          parameters:
            api-version: 2016-06-01
            apiName: testCustomApi
            customApi:
              tags:
                sampleTagKey: sampleTagValue
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Gets a custom API by name for a specific subscription and resource
        group
      operationId: CustomApis_Get
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API name
        in: path
        name: apiName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomApiDefinition'
          description: A custom API
      summary: Get a custom API
      tags:
      - Custom APIs
      x-ms-examples:
        Get a custom API:
          parameters:
            api-version: 2016-06-01
            apiName: testCustomApi
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/customApis/testCustomApi
                location: northcentralus
                name: testCustomApi
                properties:
                  apiDefinitions:
                    modifiedSwaggerUrl: https://tempuri.org/modified.json
                    originalSwaggerUrl: https://tempuri.org/swagger.json
                  apiType: Rest
                  capabilities:
                  - testCapability
                  description: ""
                  displayName: testCustomApi
                  iconUri: /testIcon.svg
                  runtimeUrls:
                  - https://tempuri.org
                  - http://tempuri.org
                  wsdlDefinition: {}
                type: Microsoft.Web/customApis
      x-accepts:
      - application/json
    patch:
      description: Updates an existing custom API's tags
      operationId: CustomApis_Update
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API name
        in: path
        name: apiName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomApiDefinition'
        description: The custom API
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomApiDefinition'
          description: The updated custom API
      summary: Update an existing custom API
      tags:
      - Custom APIs
      x-ms-examples:
        Update a custom API's tags:
          parameters:
            api-version: 2016-06-01
            apiName: testCustomApi
            customApi:
              tags:
                sampleTagKey: sampleTagValue
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/customApis/testCustomApi
                location: northcentralus
                name: testCustomApi
                properties:
                  apiDefinitions:
                    modifiedSwaggerUrl: https://tempuri.org/modified.json
                    originalSwaggerUrl: https://tempuri.org/swagger.json
                  apiType: Rest
                  capabilities: []
                  description: ""
                  displayName: testCustomApi
                  iconUri: /testIcon.svg
                  runtimeUrls:
                  - https://tempuri.org
                  - http://tempuri.org
                  wsdlDefinition: {}
                tags:
                  sampleTagKey: sampleTagValue
                type: Microsoft.Web/customApis
      x-codegen-request-body-name: customApi
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates an existing custom API
      operationId: CustomApis_CreateOrUpdate
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API name
        in: path
        name: apiName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomApiDefinition'
        description: The custom API
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomApiDefinition'
          description: The replacing custom API
      summary: Replaces an existing custom API
      tags:
      - Custom APIs
      x-ms-examples:
        Replace a custom API:
          parameters:
            api-version: 2016-06-01
            apiName: testCustomApi
            customApi:
              id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/customApis/testCustomApi
              properties:
                apiDefinitions:
                  originalSwaggerUrl: https://tempuri.org/swagger.json
                  swagger: {}
                apiType: Rest
                capabilities: []
                description: ""
                displayName: testCustomApi
                iconUri: /testIcon.svg
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Web/customApis/testCustomApi
                location: northcentralus
                name: testCustomApi
                properties:
                  apiDefinitions:
                    modifiedSwaggerUrl: https://tempuri.org/modified.json
                    originalSwaggerUrl: https://tempuri.org/swagger.json
                  apiType: Rest
                  capabilities: []
                  description: ""
                  displayName: testCustomApi
                  iconUri: /testIcon.svg
                  runtimeUrls:
                  - https://tempuri.org
                  - http://tempuri.org
                  wsdlDefinition: {}
                type: Microsoft.Web/customApis
      x-codegen-request-body-name: customApi
      x-content-type: application/json
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/customApis/{apiName}/move:
    post:
      description: Moves a specific custom API
      operationId: CustomApis_Move
      parameters:
      - description: Subscription Id
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The resource group
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API name
        in: path
        name: apiName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomApiReference'
        description: The custom API reference
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: custom API successfully moved
      summary: Moves the custom API
      tags:
      - Custom APIs
      x-ms-examples:
        Move a custom API:
          parameters:
            api-version: 2016-06-01
            apiName: testCustomApi
            customApiReference:
              id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testResourceGroup/providers/Microsoft.Web/customApis/testCustomApi
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
      x-codegen-request-body-name: customApiReference
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    apiNameParameter:
      description: API name
      in: path
      name: apiName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    connectionGatewayNameParameter:
      description: The connection gateway name
      in: path
      name: connectionGatewayName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    connectionNameParameter:
      description: Connection name
      in: path
      name: connectionName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    filterParameter:
      description: The filter to apply on the operation
      in: query
      name: $filter
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    gatewayIdParameter:
      description: Gateway ID
      in: path
      name: gatewayId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    locationParameter:
      description: The location
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    pageSizeParameter:
      description: The number of items to be included in the result
      in: query
      name: $top
      schema:
        format: int32
        type: integer
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: The resource group
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    skipTokenParameter:
      description: Skip Token
      in: query
      name: skiptoken
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Subscription Id
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    apiConnectionParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiConnectionDefinition'
      description: The connection
      required: true
      x-ms-parameter-location: method
    confirmConsentCodeParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConfirmConsentCodeDefinition'
      description: The consent code confirmation
      required: true
      x-ms-parameter-location: method
    connectionGatewayBodyParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConnectionGatewayDefinition'
      description: The connection gateway
      required: true
      x-ms-parameter-location: method
    customApiParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomApiDefinition'
      description: The custom API
      required: true
      x-ms-parameter-location: method
    customApiReferenceParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomApiReference'
      description: The custom API reference
      required: true
      x-ms-parameter-location: method
    listConnectionKeysParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListConnectionKeysDefinition'
      description: The connection keys to list
      required: true
      x-ms-parameter-location: method
    listConsentLinkParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListConsentLinksDefinition'
      description: The consent links
      required: true
      x-ms-parameter-location: method
    wsdlDefinitionParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WsdlDefinition'
      description: WSDL definition
      required: true
      x-ms-parameter-location: method
  schemas:
    ApiConnectionDefinition:
      allOf:
      - $ref: '#/components/schemas/ResourceDefinition'
      description: API connection
      example:
        properties: "{}"
      properties:
        properties:
          properties:
            api:
              $ref: '#/components/schemas/ApiReference'
            changedTime:
              description: Timestamp of last connection change
              format: date-time
              type: string
            createdTime:
              description: Timestamp of the connection creation
              format: date-time
              type: string
            customParameterValues:
              additionalProperties:
                type: string
              description: Dictionary of custom parameter values
              type: object
            displayName:
              description: Display name
              type: string
            nonSecretParameterValues:
              additionalProperties:
                type: string
              description: Dictionary of nonsecret parameter values
              type: object
            parameterValues:
              additionalProperties:
                type: string
              description: Dictionary of parameter values
              type: object
            statuses:
              description: Status of the connection
              items:
                $ref: '#/components/schemas/ConnectionStatusDefinition'
              type: array
            testLinks:
              description: Links to test the API connection
              items:
                $ref: '#/components/schemas/ApiConnectionTestLink'
              type: array
          type: object
    ApiConnectionDefinitionCollection:
      description: A list of API connection definitions
      example:
        value:
        - properties: "{}"
        - properties: "{}"
      properties:
        value:
          description: Collection of API connections
          items:
            $ref: '#/components/schemas/ApiConnectionDefinition'
          type: array
      type: object
    ApiConnectionTestLink:
      additionalProperties: false
      description: API connection properties
      properties:
        method:
          description: HTTP Method
          type: string
        requestUri:
          description: Test link request URI
          type: string
      type: object
    ApiOAuthSettings:
      description: OAuth settings for the connection provider
      example:
        clientId: clientId
        redirectUrl: redirectUrl
        clientSecret: clientSecret
        customParameters:
          key:
            options: "{}"
            value: value
            uiDefinition: "{}"
        scopes:
        - scopes
        - scopes
        identityProvider: identityProvider
        properties: "{}"
      properties:
        clientId:
          description: Resource provider client id
          type: string
        clientSecret:
          description: Client Secret needed for OAuth
          type: string
        customParameters:
          additionalProperties:
            $ref: '#/components/schemas/ApiOAuthSettingsParameter'
          description: OAuth parameters key is the name of parameter
          type: object
        identityProvider:
          description: Identity provider
          type: string
        properties:
          description: Read only properties for this oauth setting.
          properties: {}
          type: object
        redirectUrl:
          description: Url
          type: string
        scopes:
          description: OAuth scopes
          items:
            type: string
          type: array
      type: object
    ApiOAuthSettingsParameter:
      description: OAuth settings for the API
      example:
        options: "{}"
        value: value
        uiDefinition: "{}"
      properties:
        options:
          description: Options available to this parameter
          properties: {}
          type: object
        uiDefinition:
          description: UI definitions per culture as caller can specify the culture
          properties: {}
          type: object
        value:
          description: Value of the setting
          type: string
      type: object
    ApiReference:
      allOf:
      - $ref: '#/components/schemas/ResourceReference'
      properties:
        brandColor:
          description: Brand color
          type: string
        description:
          description: The custom API description
          type: string
        displayName:
          description: The display name
          type: string
        iconUri:
          description: The icon URI
          type: string
        name:
          description: The name of the API
          type: string
        swagger:
          description: The JSON representation of the swagger
          properties: {}
          type: object
      x-abstract: true
    ApiResourceBackendService:
      additionalProperties: false
      description: The API backend service
      example:
        serviceUrl: serviceUrl
      properties:
        serviceUrl:
          description: The service URL
          type: string
      type: object
    ApiResourceDefinitions:
      additionalProperties: false
      description: API Definitions
      example:
        originalSwaggerUrl: originalSwaggerUrl
        modifiedSwaggerUrl: modifiedSwaggerUrl
      properties:
        modifiedSwaggerUrl:
          description: The modified swagger URL
          type: string
        originalSwaggerUrl:
          description: The original swagger URL
          type: string
      type: object
    ApiResourceGeneralInformation:
      additionalProperties: false
      description: General information about the API
      example:
        releaseTag: releaseTag
        termsOfUseUrl: termsOfUseUrl
        displayName: displayName
        description: description
        iconUrl: iconUrl
      properties:
        description:
          description: The API description
          type: string
        displayName:
          description: Display name
          type: string
        iconUrl:
          description: The icon URL
          type: string
        releaseTag:
          description: Release tag
          type: string
        termsOfUseUrl:
          description: URL to the Terms of Use
          type: string
      type: object
    ApiResourceMetadata:
      additionalProperties: false
      example:
        wsdlService:
          endpointQualifiedNames:
          - endpointQualifiedNames
          - endpointQualifiedNames
          qualifiedName: qualifiedName
        brandColor: brandColor
        hideKey: hideKey
        source: source
        wsdlImportMethod: NotSpecified
        connectionType: connectionType
        apiType: NotSpecified
        tags:
          SampleTagName: SampleTagValue
      properties:
        apiType:
          $ref: '#/components/schemas/ApiType'
        brandColor:
          description: Brand color
          type: string
        connectionType:
          description: The connection type
          type: string
        hideKey:
          description: Hide key
          type: string
        source:
          description: The source
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          example:
            SampleTagName: SampleTagValue
          type: object
        wsdlImportMethod:
          $ref: '#/components/schemas/WsdlImportMethod'
        wsdlService:
          $ref: '#/components/schemas/WsdlService'
      type: object
    ApiResourcePolicies:
      additionalProperties: false
      description: Describes the API policies either as embedded content or as a link
        to uploaded content
      example:
        contentLink: contentLink
        content: content
      properties:
        content:
          description: API level policies as XML
          type: string
        contentLink:
          description: Link to the JSON of the policies
          type: string
      type: object
    ApiResourceProperties:
      additionalProperties: false
      description: API resource properties
      example:
        apiDefinitionUrl: apiDefinitionUrl
        metadata:
          wsdlService:
            endpointQualifiedNames:
            - endpointQualifiedNames
            - endpointQualifiedNames
            qualifiedName: qualifiedName
          brandColor: brandColor
          hideKey: hideKey
          source: source
          wsdlImportMethod: NotSpecified
          connectionType: connectionType
          apiType: NotSpecified
          tags:
            SampleTagName: SampleTagValue
        runtimeUrls:
        - runtimeUrls
        - runtimeUrls
        capabilities:
        - capabilities
        - capabilities
        connectionParameters:
          key:
            oAuthSettings:
              clientId: clientId
              redirectUrl: redirectUrl
              clientSecret: clientSecret
              customParameters:
                key:
                  options: "{}"
                  value: value
                  uiDefinition: "{}"
              scopes:
              - scopes
              - scopes
              identityProvider: identityProvider
              properties: "{}"
            type: string
        apiDefinitions:
          originalSwaggerUrl: originalSwaggerUrl
          modifiedSwaggerUrl: modifiedSwaggerUrl
        backendService:
          serviceUrl: serviceUrl
        name: name
        policies:
          contentLink: contentLink
          content: content
        generalInformation:
          releaseTag: releaseTag
          termsOfUseUrl: termsOfUseUrl
          displayName: displayName
          description: description
          iconUrl: iconUrl
        swagger: "{}"
      properties:
        apiDefinitionUrl:
          description: URL where the swagger can be downloaded from
          type: string
        apiDefinitions:
          $ref: '#/components/schemas/ApiResourceDefinitions'
        backendService:
          $ref: '#/components/schemas/ApiResourceBackendService'
        capabilities:
          description: The managed API capabilities
          items:
            type: string
          type: array
        connectionParameters:
          additionalProperties:
            $ref: '#/components/schemas/ConnectionParameter'
          description: Connection parameters
          type: object
        generalInformation:
          $ref: '#/components/schemas/ApiResourceGeneralInformation'
        metadata:
          $ref: '#/components/schemas/ApiResourceMetadata'
        name:
          type: string
        policies:
          $ref: '#/components/schemas/ApiResourcePolicies'
        runtimeUrls:
          description: Runtime URLs
          items:
            type: string
          type: array
        swagger:
          description: The JSON representation of the swagger
          properties: {}
          type: object
      type: object
    ApiType:
      description: The API type
      enum:
      - NotSpecified
      - Rest
      - Soap
      type: string
      x-ms-enum:
        modelAsString: true
        name: ApiType
    ConfirmConsentCodeDefinition:
      description: Confirm consent code request
      example:
        code: code
        tenantId: tenantId
        objectId: objectId
      properties:
        code:
          description: Code that was returned during consent flow
          type: string
        objectId:
          description: AAD object ID. This is userId
          type: string
        tenantId:
          description: Tenant Id
          type: string
      type: object
    ConnectionError:
      allOf:
      - $ref: '#/components/schemas/ResourceDefinition'
      description: Connection error
      properties:
        properties:
          properties:
            code:
              description: Code of the status
              type: string
            message:
              description: Description of the status
              type: string
          type: object
          x-ms-client-flatten: true
    ConnectionGatewayDefinition:
      allOf:
      - $ref: '#/components/schemas/ResourceDefinition'
      description: The gateway definition
      example:
        properties: "{}"
      properties:
        properties:
          properties:
            backendUri:
              description: The URI of the backend
              type: string
            connectionGatewayInstallation:
              $ref: '#/components/schemas/ConnectionGatewayReference'
            contactInformation:
              description: The gateway admin
              items:
                type: string
              type: array
            description:
              description: The gateway description
              type: string
            displayName:
              description: The gateway display name
              type: string
            machineName:
              description: The machine name of the gateway
              type: string
            status:
              description: The gateway status
              properties: {}
              type: object
          type: object
    ConnectionGatewayDefinitionCollection:
      description: A list of connection gateway definitions
      example:
        value:
        - properties: "{}"
        - properties: "{}"
      properties:
        value:
          description: Collection of connection gateways
          items:
            $ref: '#/components/schemas/ConnectionGatewayDefinition'
          type: array
      type: object
    ConnectionGatewayInstallationDefinition:
      allOf:
      - $ref: '#/components/schemas/ResourceDefinition'
      description: The gateway installation
      example:
        properties: "{}"
      properties:
        properties:
          properties:
            backendUri:
              description: The URI of the backend
              type: string
            connectionGateway:
              $ref: '#/components/schemas/ConnectionGatewayReference'
            contactInformation:
              description: The gateway admin
              items:
                type: string
              type: array
            description:
              description: The gateway description
              type: string
            displayName:
              description: The gateway display name
              type: string
            machineName:
              description: The machine name of the gateway
              type: string
            status:
              description: The gateway status
              properties: {}
              type: object
          type: object
    ConnectionGatewayInstallationDefinitionCollection:
      description: A list of connection gateway installation definitions
      example:
        value:
        - properties: "{}"
        - properties: "{}"
      properties:
        value:
          description: Collection of connection gateway installations
          items:
            $ref: '#/components/schemas/ConnectionGatewayInstallationDefinition'
          type: array
      type: object
    ConnectionGatewayReference:
      allOf:
      - $ref: '#/components/schemas/ResourceReference'
      description: The gateway installation reference
      properties:
        location:
          description: Resource reference location
          type: string
        name:
          description: Resource reference name
          type: string
    ConnectionParameter:
      description: Connection provider parameters
      example:
        oAuthSettings:
          clientId: clientId
          redirectUrl: redirectUrl
          clientSecret: clientSecret
          customParameters:
            key:
              options: "{}"
              value: value
              uiDefinition: "{}"
          scopes:
          - scopes
          - scopes
          identityProvider: identityProvider
          properties: "{}"
        type: string
      properties:
        oAuthSettings:
          $ref: '#/components/schemas/ApiOAuthSettings'
        type:
          description: Type of the parameter
          enum:
          - string
          - securestring
          - secureobject
          - int
          - bool
          - object
          - array
          - oauthSetting
          - connection
          type: string
          x-ms-enum:
            modelAsString: false
            name: ConnectionParameterType
      type: object
    ConnectionStatusDefinition:
      description: Connection status
      properties:
        error:
          $ref: '#/components/schemas/ConnectionError'
        status:
          description: The gateway status
          type: string
        target:
          description: Target of the error
          type: string
      type: object
    ConsentLinkCollection:
      description: Collection of consent links
      example:
        value:
        - displayName: displayName
          link: link
          firstPartyLoginUri: firstPartyLoginUri
          status: Unauthenticated
        - displayName: displayName
          link: link
          firstPartyLoginUri: firstPartyLoginUri
          status: Unauthenticated
      properties:
        value:
          description: Collection of resources
          items:
            $ref: '#/components/schemas/ConsentLinkDefinition'
          type: array
      type: object
    ConsentLinkDefinition:
      description: A consent link
      example:
        displayName: displayName
        link: link
        firstPartyLoginUri: firstPartyLoginUri
        status: Unauthenticated
      properties:
        displayName:
[...]
