openapi: 3.0.0
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: https://github.com/mermade/swagger2openapi/issues
  description: Converter and validator for Swagger 2.0 to OpenAPI 3.0.x definitions
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://opensource.org/licenses/MIT
  title: Swagger2OpenAPI Converter
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://avatars1.githubusercontent.com/u/15950345?v=3&s=200
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/Mermade/openapi-webconverter/master/contract/openapi.json
    version: "3.0"
  x-providerName: mermade.org.uk
  x-serviceName: openapi-converter
  x-tags:
  - OpenAPI
  - Swagger
  - REST
  - API
externalDocs:
  url: https://github.com/mermade/openapi-webconverter
servers:
- url: https://mermade.org.uk/api/v1
- url: http://mermade.org.uk/api/v1
tags:
- description: Metadata functions
  name: metadata
- description: Conversion functions
  name: conversion
- description: Validation functions
  name: validation
paths:
  /badge:
    get:
      description: ""
      operationId: get_badge
      parameters:
      - description: The URL to retrieve the OpenAPI 3.0.x definition from
        example: https://raw.githubusercontent.com/Mermade/openapi-webconverter/master/contract/openapi.json
        explode: true
        in: query
        name: url
        required: true
        schema:
          format: uri
          type: string
        style: form
      responses:
        "301":
          description: Moved
      summary: Return a redirect to a badge svg file depending on a source definition's
        validity
      tags:
      - validation
      x-openapi-router-controller: openapi_server.controllers.validation_controller
  /convert:
    get:
      description: ""
      operationId: convert_url
      parameters:
      - description: The URL to retrieve the OpenAPI 2.0 definition from
        example: https://raw.githubusercontent.com/Mermade/openapi-webconverter/master/contract/swagger.json
        explode: true
        in: query
        name: url
        required: true
        schema:
          format: uri
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema: {}
            application/x-yaml:
              schema: {}
          description: default
      summary: Convert a Swagger 2.0 definition to OpenAPI 3.0.x from a URL
      tags:
      - conversion
      x-openapi-router-controller: openapi_server.controllers.conversion_controller
    post:
      description: ""
      operationId: convert
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/convert_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema: {}
            application/x-yaml:
              schema: {}
          description: default
        "400":
          content:
            application/json:
              schema: {}
            application/x-yaml:
              schema: {}
          description: Invalid request
      summary: 'Convert a Swagger 2.0 definition passed in the body to OpenAPI 3.0.x '
      tags:
      - conversion
      x-openapi-router-controller: openapi_server.controllers.conversion_controller
      x-codegen-request-body-name: body
  /status:
    get:
      description: ""
      operationId: get_status
      responses:
        "200":
          content:
            application/json:
              schema: {}
            application/x-yaml:
              schema: {}
          description: default
      summary: Get the status of the API
      tags:
      - metadata
      x-openapi-router-controller: openapi_server.controllers.metadata_controller
  /validate:
    get:
      description: ""
      operationId: validate_url
      parameters:
      - description: The URL to retrieve the OpenAPI 3.0.x definition from
        example: https://raw.githubusercontent.com/Mermade/openapi-webconverter/master/contract/openapi.json
        explode: true
        in: query
        name: url
        required: true
        schema:
          format: uri
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationResult'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/validationResult'
          description: default
      summary: Validate an OpenAPI 3.0.x definition
      tags:
      - validation
      x-openapi-router-controller: openapi_server.controllers.validation_controller
    post:
      description: ""
      operationId: validate
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/validate_request'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationResult'
            application/x-yaml:
              schema:
                $ref: '#/components/schemas/validationResult'
          description: default
        "400":
          content:
            application/json:
              schema: {}
            application/x-yaml:
              schema: {}
          description: Invalid request
      summary: Validate an OpenAPI 3.0.x definition supplied in the body of the request
      tags:
      - validation
      x-openapi-router-controller: openapi_server.controllers.validation_controller
      x-codegen-request-body-name: body
components:
  schemas:
    validationResult:
      example:
        openapi: openapi
      properties:
        openapi:
          title: openapi
          type: string
      required:
      - openapi
      title: validationResult
      type: object
    convert_request:
      properties:
        filename:
          description: The file to upload and convert
          type: string
        source:
          description: The text of a Swagger 2.0 definition to convert
          type: string
        validate:
          enum:
          - "true"
          type: string
      type: object
    validate_request:
      properties:
        filename:
          description: The file to upload and validate
          type: string
        source:
          description: The text of an OpenAPI 3.0.x definition to validate
          type: string
      type: object
