openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Chrome Policy API is a suite of services that allows Chrome administrators
    to control the policies applied to their managed Chrome OS devices and Chrome
    browsers.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Chrome Policy API
  version: v1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://chromepolicy.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: chromepolicy
externalDocs:
  url: http://developers.google.com/chrome/policy
servers:
- url: https://chromepolicy.googleapis.com/
tags:
- name: customers
- name: media
paths:
  /v1/{customer}/policies/files:uploadPolicyFile:
    post:
      description: Creates an enterprise file from the content provided by user. Returns
        a public download url for end user.
      operationId: chromepolicy_media_upload
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The customer for which the file upload will apply.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/GoogleChromePolicyVersionsV1UploadPolicyFileRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromePolicyVersionsV1UploadPolicyFileResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy
      tags:
      - media
      x-openapi-router-controller: openapi_server.controllers.media_controller
      x-codegen-request-body-name: body
  /v1/{customer}/policies/groups:batchDelete:
    post:
      description: "Delete multiple policy values that are applied to a specific group.\
        \ All targets must have the same target format. That is to say that they must\
        \ point to the same target resource and must have the same keys specified\
        \ in `additionalTargetKeyNames`, though the values for those keys may be different.\
        \ On failure the request will return the error details as part of the google.rpc.Status."
      operationId: chromepolicy_customers_policies_groups_batch_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: ID of the Google Workspace account or literal "my_customer" for
          the customer associated to the request.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v1/{customer}/policies/groups:batchModify:
    post:
      description: "Modify multiple policy values that are applied to a specific group.\
        \ All targets must have the same target format. That is to say that they must\
        \ point to the same target resource and must have the same keys specified\
        \ in `additionalTargetKeyNames`, though the values for those keys may be different.\
        \ On failure the request will return the error details as part of the google.rpc.Status."
      operationId: chromepolicy_customers_policies_groups_batch_modify
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: ID of the Google Workspace account or literal "my_customer" for
          the customer associated to the request.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v1/{customer}/policies/groups:listGroupPriorityOrdering:
    post:
      description: Retrieve a group priority ordering for an app. The target app must
        be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure
        the request will return the error details as part of the google.rpc.Status.
      operationId: chromepolicy_customers_policies_groups_list_group_priority_ordering
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. ID of the Google Workspace account or literal "my_customer"
          for the customer associated to the request.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy.readonly
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v1/{customer}/policies/groups:updateGroupPriorityOrdering:
    post:
      description: Update a group priority ordering for an app. The target app must
        be supplied in `additionalTargetKeyNames` in the PolicyTargetKey. On failure
        the request will return the error details as part of the google.rpc.Status.
      operationId: chromepolicy_customers_policies_groups_update_group_priority_ordering
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. ID of the Google Workspace account or literal "my_customer"
          for the customer associated to the request.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleChromePolicyVersionsV1UpdateGroupPriorityOrderingRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v1/{customer}/policies/networks:defineCertificate:
    post:
      description: Creates a certificate at a specified OU for a customer.
      operationId: chromepolicy_customers_policies_networks_define_certificate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The customer for which the certificate will apply.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleChromePolicyVersionsV1DefineCertificateRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromePolicyVersionsV1DefineCertificateResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v1/{customer}/policies/networks:defineNetwork:
    post:
      description: Define a new network.
      operationId: chromepolicy_customers_policies_networks_define_network
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The customer who will own this new network.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleChromePolicyVersionsV1DefineNetworkRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromePolicyVersionsV1DefineNetworkResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v1/{customer}/policies/networks:removeCertificate:
    post:
      description: Remove an existing certificate by guid.
      operationId: chromepolicy_customers_policies_networks_remove_certificate
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The customer whose certificate will be removed.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleChromePolicyVersionsV1RemoveCertificateRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromePolicyVersionsV1RemoveCertificateResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v1/{customer}/policies/networks:removeNetwork:
    post:
      description: Remove an existing network by guid.
      operationId: chromepolicy_customers_policies_networks_remove_network
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The customer whose network will be removed.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleChromePolicyVersionsV1RemoveNetworkRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromePolicyVersionsV1RemoveNetworkResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v1/{customer}/policies/orgunits:batchInherit:
    post:
      description: "Modify multiple policy values that are applied to a specific org\
        \ unit so that they now inherit the value from a parent (if applicable). All\
        \ targets must have the same target format. That is to say that they must\
        \ point to the same target resource and must have the same keys specified\
        \ in `additionalTargetKeyNames`, though the values for those keys may be different.\
        \ On failure the request will return the error details as part of the google.rpc.Status."
      operationId: chromepolicy_customers_policies_orgunits_batch_inherit
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: ID of the G Suite account or literal "my_customer" for the customer
          associated to the request.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v1/{customer}/policies/orgunits:batchModify:
    post:
      description: "Modify multiple policy values that are applied to a specific org\
        \ unit. All targets must have the same target format. That is to say that\
        \ they must point to the same target resource and must have the same keys\
        \ specified in `additionalTargetKeyNames`, though the values for those keys\
        \ may be different. On failure the request will return the error details as\
        \ part of the google.rpc.Status."
      operationId: chromepolicy_customers_policies_orgunits_batch_modify
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: ID of the G Suite account or literal "my_customer" for the customer
          associated to the request.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v1/{customer}/policies:resolve:
    post:
      description: Gets the resolved policy values for a list of policies that match
        a search query.
      operationId: chromepolicy_customers_policies_resolve
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: ID of the G Suite account or literal "my_customer" for the customer
          associated to the request.
        explode: false
        in: path
        name: customer
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleChromePolicyVersionsV1ResolveRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromePolicyVersionsV1ResolveResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy.readonly
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
      x-codegen-request-body-name: body
  /v1/{name}:
    get:
      description: Get a specific policy schema for a customer by its resource name.
      operationId: chromepolicy_customers_policy_schemas_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The policy schema resource name to query.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromePolicyVersionsV1PolicySchema'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy.readonly
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
  /v1/{parent}/policySchemas:
    get:
      description: Gets a list of policy schemas that match a specified filter value
        for a given customer.
      operationId: chromepolicy_customers_policy_schemas_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The customer for which the listing request will apply.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "The schema filter used to find a particular schema based on\
          \ fields like its resource name, description and `additionalTargetKeyNames`."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: "The maximum number of policy schemas to return, defaults to\
          \ 100 and has a maximum of 1000."
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The page token used to retrieve a specific page of the listing
          request.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleChromePolicyVersionsV1ListPolicySchemasResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy
      - Oauth2:
        - https://www.googleapis.com/auth/chrome.management.policy.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/chrome.management.policy.readonly
      tags:
      - customers
      x-openapi-router-controller: openapi_server.controllers.customers_controller
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    GoogleChromePolicyVersionsV1AdditionalTargetKeyName:
      description: Additional key names that will be used to identify the target of
        the policy value.
      example:
        keyDescription: keyDescription
        key: key
      properties:
        key:
          description: Key name.
          title: key
          type: string
        keyDescription:
          description: Key description.
          title: keyDescription
          type: string
      title: GoogleChromePolicyVersionsV1AdditionalTargetKeyName
      type: object
    GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest:
      description: Request message for specifying that multiple policy values will
        be deleted.
      example:
        requests:
        - policyTargetKey:
            targetResource: targetResource
            additionalTargetKeys:
              key: additionalTargetKeys
          policySchema: policySchema
        - policyTargetKey:
            targetResource: targetResource
            additionalTargetKeys:
              key: additionalTargetKeys
          policySchema: policySchema
      properties:
        requests:
          description: "List of policies that will be deleted as defined by the `requests`.\
            \ All requests in the list must follow these restrictions: 1. All schemas\
            \ in the list must have the same root namespace. 2. All `policyTargetKey.targetResource`\
            \ values must point to a group resource. 3. All `policyTargetKey` values\
            \ must have the same `app_id` key name in the `additionalTargetKeys`.\
            \ 4. No two modification requests can reference the same `policySchema`\
            \ + ` policyTargetKey` pair. "
          items:
            $ref: '#/components/schemas/GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest'
          title: requests
          type: array
      title: GoogleChromePolicyVersionsV1BatchDeleteGroupPoliciesRequest
      type: object
    GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest:
      description: Request message for specifying that multiple policy values inherit
        their value from their parents.
      example:
        requests:
        - policyTargetKey:
            targetResource: targetResource
            additionalTargetKeys:
              key: additionalTargetKeys
          policySchema: policySchema
        - policyTargetKey:
            targetResource: targetResource
            additionalTargetKeys:
              key: additionalTargetKeys
          policySchema: policySchema
      properties:
        requests:
          description: "List of policies that have to inherit their values as defined\
            \ by the `requests`. All requests in the list must follow these restrictions:\
            \ 1. All schemas in the list must have the same root namespace. 2. All\
            \ `policyTargetKey.targetResource` values must point to an org unit resource.\
            \ 3. All `policyTargetKey` values must have the same key names in the\
            \ ` additionalTargetKeys`. This also means if one of the targets has an\
            \ empty `additionalTargetKeys` map, all of the targets must have an empty\
            \ `additionalTargetKeys` map. 4. No two modification requests can reference\
            \ the same `policySchema` + ` policyTargetKey` pair. "
          items:
            $ref: '#/components/schemas/GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest'
          title: requests
          type: array
      title: GoogleChromePolicyVersionsV1BatchInheritOrgUnitPoliciesRequest
      type: object
    GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest:
      description: Request message for modifying multiple policy values for a specific
        group-based target.
      example:
        requests:
        - policyValue:
            policySchema: policySchema
            value:
              key: ""
          policyTargetKey:
            targetResource: targetResource
            additionalTargetKeys:
              key: additionalTargetKeys
          updateMask: updateMask
        - policyValue:
            policySchema: policySchema
            value:
              key: ""
          policyTargetKey:
            targetResource: targetResource
            additionalTargetKeys:
              key: additionalTargetKeys
          updateMask: updateMask
      properties:
        requests:
          description: "List of policies to modify as defined by the `requests`. All\
            \ requests in the list must follow these restrictions: 1. All schemas\
            \ in the list must have the same root namespace. 2. All `policyTargetKey.targetResource`\
            \ values must point to a group resource. 3. All `policyTargetKey` values\
            \ must have the same `app_id` key name in the `additionalTargetKeys`.\
            \ 4. No two modification requests can reference the same `policySchema`\
            \ + ` policyTargetKey` pair. "
          items:
            $ref: '#/components/schemas/GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest'
          title: requests
          type: array
      title: GoogleChromePolicyVersionsV1BatchModifyGroupPoliciesRequest
      type: object
    GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest:
      description: Request message for modifying multiple policy values for a specific
        target.
      example:
        requests:
        - policyValue:
            policySchema: policySchema
            value:
              key: ""
          policyTargetKey:
            targetResource: targetResource
            additionalTargetKeys:
              key: additionalTargetKeys
          updateMask: updateMask
        - policyValue:
            policySchema: policySchema
            value:
              key: ""
          policyTargetKey:
            targetResource: targetResource
            additionalTargetKeys:
              key: additionalTargetKeys
          updateMask: updateMask
      properties:
        requests:
          description: "List of policies to modify as defined by the `requests`. All\
            \ requests in the list must follow these restrictions: 1. All schemas\
            \ in the list must have the same root namespace. 2. All `policyTargetKey.targetResource`\
            \ values must point to an org unit resource. 3. All `policyTargetKey`\
            \ values must have the same key names in the ` additionalTargetKeys`.\
            \ This also means if one of the targets has an empty `additionalTargetKeys`\
            \ map, all of the targets must have an empty `additionalTargetKeys` map.\
            \ 4. No two modification requests can reference the same `policySchema`\
            \ + ` policyTargetKey` pair. "
          items:
            $ref: '#/components/schemas/GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest'
          title: requests
          type: array
      title: GoogleChromePolicyVersionsV1BatchModifyOrgUnitPoliciesRequest
      type: object
    GoogleChromePolicyVersionsV1CertificateReference:
      description: Error information for removing of a specific certificate on a specific
        target. A reference to a certificate.
      properties:
        network:
          description: Output only. The name of the referencing network.
          readOnly: true
          title: network
          type: string
        orgUnitId:
          description: Output only. The obfuscated id of the org unit the referencing
            network is in.
          readOnly: true
          title: orgUnitId
          type: string
      title: GoogleChromePolicyVersionsV1CertificateReference
      type: object
    GoogleChromePolicyVersionsV1DefineCertificateRequest:
      description: Request object for creating a certificate.
      example:
        settings:
        - policySchema: policySchema
          value:
            key: ""
        - policySchema: policySchema
          value:
            key: ""
        ceritificateName: ceritificateName
        certificate: certificate
        targetResource: targetResource
      properties:
        ceritificateName:
          description: "Optional. The optional name of the certificate. If not specified,\
            \ the certificate issuer will be used as the name."
          title: ceritificateName
          type: string
        certificate:
          description: "Required. The raw contents of the .PEM, .CRT, or .CER file."
          title: certificate
          type: string
        settings:
          description: Optional. Certificate settings within the chrome.networks.certificates
            namespace.
          items:
            $ref: '#/components/schemas/GoogleChromePolicyVersionsV1NetworkSetting'
          title: settings
          type: array
        targetResource:
          description: "Required. The target resource on which this certificate is\
            \ applied. The following resources are supported: * Organizational Unit\
            \ (\"orgunits/{orgunit_id}\")"
          title: targetResource
          type: string
      title: GoogleChromePolicyVersionsV1DefineCertificateRequest
      type: object
    GoogleChromePolicyVersionsV1DefineCertificateResponse:
      description: Response object for creating a certificate.
      example:
        settings:
        - policySchema: policySchema
          value:
            key: ""
        - policySchema: policySchema
          value:
            key: ""
        targetResource: targetResource
        networkId: networkId
      properties:
        networkId:
          description: The guid of the certificate created by the action.
          title: networkId
          type: string
        settings:
          description: the affiliated settings of the certificate (NOT IMPLEMENTED)
          items:
            $ref: '#/components/schemas/GoogleChromePolicyVersionsV1NetworkSetting'
          title: settings
          type: array
        targetResource:
          description: the resource at which the certificate is defined.
          title: targetResource
          type: string
      title: GoogleChromePolicyVersionsV1DefineCertificateResponse
      type: object
    GoogleChromePolicyVersionsV1DefineNetworkRequest:
      description: Request object for creating a new network.
      example:
        settings:
        - policySchema: policySchema
          value:
            key: ""
        - policySchema: policySchema
          value:
            key: ""
        name: name
        targetResource: targetResource
      properties:
        name:
          description: Required. Name of the new created network.
          title: name
          type: string
        settings:
          description: Required. Detailed network settings.
          items:
            $ref: '#/components/schemas/GoogleChromePolicyVersionsV1NetworkSetting'
          title: settings
          type: array
        targetResource:
          description: "Required. The target resource on which this new network will\
            \ be defined. The following resources are supported: * Organizational\
            \ Unit (\"orgunits/{orgunit_id}\")"
          title: targetResource
          type: string
      title: GoogleChromePolicyVersionsV1DefineNetworkRequest
      type: object
    GoogleChromePolicyVersionsV1DefineNetworkResponse:
      description: Response object for creating a network.
      example:
        settings:
        - policySchema: policySchema
          value:
            key: ""
        - policySchema: policySchema
          value:
            key: ""
        targetResource: targetResource
        networkId: networkId
      properties:
        networkId:
          description: Network ID of the new created network.
          title: networkId
          type: string
        settings:
          description: Detailed network settings of the new created network
          items:
            $ref: '#/components/schemas/GoogleChromePolicyVersionsV1NetworkSetting'
          title: settings
          type: array
        targetResource:
          description: "The target resource on which this new network will be defined.\
            \ The following resources are supported: * Organizational Unit (\"orgunits/{orgunit_id}\"\
            )"
          title: targetResource
          type: string
      title: GoogleChromePolicyVersionsV1DefineNetworkResponse
      type: object
    GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest:
      description: Request parameters for deleting the policy value of a specific
        group target.
      example:
        policyTargetKey:
          targetResource: targetResource
          additionalTargetKeys:
            key: additionalTargetKeys
        policySchema: policySchema
      properties:
        policySchema:
          description: The fully qualified name of the policy schema that is being
            inherited.
          title: policySchema
          type: string
        policyTargetKey:
          $ref: '#/components/schemas/GoogleChromePolicyVersionsV1PolicyTargetKey'
      title: GoogleChromePolicyVersionsV1DeleteGroupPolicyRequest
      type: object
    GoogleChromePolicyVersionsV1FieldConstraints:
      description: Information about any range constraints.
      example:
        uploadedFileConstraints:
          supportedContentTypes:
          - CONTENT_TYPE_UNSPECIFIED
          - CONTENT_TYPE_UNSPECIFIED
          sizeLimitBytes: sizeLimitBytes
        numericRangeConstraint:
          maximum: maximum
          minimum: minimum
      properties:
        numericRangeConstraint:
          $ref: '#/components/schemas/GoogleChromePolicyVersionsV1NumericRangeConstraint'
        uploadedFileConstraints:
          $ref: '#/components/schemas/GoogleChromePolicyVersionsV1UploadedFileConstraints'
      title: GoogleChromePolicyVersionsV1FieldConstraints
      type: object
    GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest:
      description: Request parameters for inheriting policy value of a specific org
        unit target from the policy value of its parent org unit.
      example:
        policyTargetKey:
          targetResource: targetResource
          additionalTargetKeys:
            key: additionalTargetKeys
        policySchema: policySchema
      properties:
        policySchema:
          description: The fully qualified name of the policy schema that is being
            inherited.
          title: policySchema
          type: string
        policyTargetKey:
          $ref: '#/components/schemas/GoogleChromePolicyVersionsV1PolicyTargetKey'
      title: GoogleChromePolicyVersionsV1InheritOrgUnitPolicyRequest
      type: object
    GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest:
      description: Request message for listing the group priority ordering of an app.
      example:
        policyNamespace: policyNamespace
        policyTargetKey:
          targetResource: targetResource
          additionalTargetKeys:
            key: additionalTargetKeys
        policySchema: policySchema
      properties:
        policyNamespace:
          description: The namespace of the policy type for the request.
          title: policyNamespace
          type: string
        policySchema:
          description: The schema name of the policy for the request.
          title: policySchema
          type: string
        policyTargetKey:
          $ref: '#/components/schemas/GoogleChromePolicyVersionsV1PolicyTargetKey'
      title: GoogleChromePolicyVersionsV1ListGroupPriorityOrderingRequest
      type: object
    GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse:
      description: Response message for listing the group priority ordering of an
        app.
      example:
        policyNamespace: policyNamespace
        policyTargetKey:
          targetResource: targetResource
          additionalTargetKeys:
            key: additionalTargetKeys
        groupIds:
        - groupIds
        - groupIds
        policySchema: policySchema
      properties:
        groupIds:
          description: "Output only. The group IDs, in priority ordering."
          items:
            type: string
          readOnly: true
          title: groupIds
          type: array
        policyNamespace:
          description: Output only. The namespace of the policy type of the group
            IDs.
          readOnly: true
          title: policyNamespace
          type: string
        policySchema:
          description: Output only. The schema name of the policy for the group IDs.
          readOnly: true
          title: policySchema
          type: string
        policyTargetKey:
          $ref: '#/components/schemas/GoogleChromePolicyVersionsV1PolicyTargetKey'
      title: GoogleChromePolicyVersionsV1ListGroupPriorityOrderingResponse
      type: object
    GoogleChromePolicyVersionsV1ListPolicySchemasResponse:
      description: Response message for listing policy schemas that match a filter.
      example:
        nextPageToken: nextPageToken
        policySchemas:
        - accessRestrictions:
          - accessRestrictions
          - accessRestrictions
          additionalTargetKeyNames:
          - keyDescription: keyDescription
            key: key
          - keyDescription: keyDescription
            key: key
          categoryTitle: categoryTitle
          fieldDescriptions:
          - fieldConstraints:
              uploadedFileConstraints:
                supportedContentTypes:
                - CONTENT_TYPE_UNSPECIFIED
                - CONTENT_TYPE_UNSPECIFIED
                sizeLimitBytes: sizeLimitBytes
              numericRangeConstraint:
                maximum: maximum
                minimum: minimum
            field: field
            defaultValue: ""
            fieldDependencies:
            - sourceField: sourceField
              sourceFieldValue: sourceFieldValue
            - sourceField: sourceField
              sourceFieldValue: sourceFieldValue
            name: name
            description: description
            fieldDescription: fieldDescription
            nestedFieldDescriptions:
            - null
            - null
            knownValueDescriptions:
            - fieldDependencies:
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              description: description
              value: value
            - fieldDependencies:
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              description: description
              value: value
            requiredItems:
            - fieldConditions:
              - fieldConditions
              - fieldConditions
              requiredFields:
              - requiredFields
              - requiredFields
            - fieldConditions:
              - fieldConditions
              - fieldConditions
              requiredFields:
              - requiredFields
              - requiredFields
            inputConstraint: inputConstraint
          - fieldConstraints:
              uploadedFileConstraints:
                supportedContentTypes:
                - CONTENT_TYPE_UNSPECIFIED
                - CONTENT_TYPE_UNSPECIFIED
                sizeLimitBytes: sizeLimitBytes
              numericRangeConstraint:
                maximum: maximum
                minimum: minimum
            field: field
            defaultValue: ""
            fieldDependencies:
            - sourceField: sourceField
              sourceFieldValue: sourceFieldValue
            - sourceField: sourceField
              sourceFieldValue: sourceFieldValue
            name: name
            description: description
            fieldDescription: fieldDescription
            nestedFieldDescriptions:
            - null
            - null
            knownValueDescriptions:
            - fieldDependencies:
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              description: description
              value: value
            - fieldDependencies:
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              description: description
              value: value
            requiredItems:
            - fieldConditions:
              - fieldConditions
              - fieldConditions
              requiredFields:
              - requiredFields
              - requiredFields
            - fieldConditions:
              - fieldConditions
              - fieldConditions
              requiredFields:
              - requiredFields
              - requiredFields
            inputConstraint: inputConstraint
          policyApiLifecycle:
            policyApiLifecycleStage: API_UNSPECIFIED
            deprecatedInFavorOf:
            - deprecatedInFavorOf
            - deprecatedInFavorOf
            endSupport:
              month: 5
              year: 2
              day: 5
            description: description
            scheduledToDeprecatePolicies:
            - scheduledToDeprecatePolicies
            - scheduledToDeprecatePolicies
          schemaName: schemaName
          validTargetResources:
          - TARGET_RESOURCE_UNSPECIFIED
          - TARGET_RESOURCE_UNSPECIFIED
          notices:
          - field: field
            acknowledgementRequired: true
            noticeMessage: noticeMessage
            noticeValue: noticeValue
          - field: field
            acknowledgementRequired: true
            noticeMessage: noticeMessage
            noticeValue: noticeValue
          policyDescription: policyDescription
          supportUri: supportUri
          name: name
          definition:
            package: package
            messageType:
            - field:
              - number: 6
                jsonName: jsonName
                oneofIndex: 1
                defaultValue: defaultValue
                name: name
                typeName: typeName
                label: LABEL_OPTIONAL
                proto3Optional: true
                type: TYPE_DOUBLE
              - number: 6
                jsonName: jsonName
                oneofIndex: 1
                defaultValue: defaultValue
                name: name
                typeName: typeName
                label: LABEL_OPTIONAL
                proto3Optional: true
                type: TYPE_DOUBLE
              enumType:
              - name: name
                value:
                - number: 0
                  name: name
                - number: 0
                  name: name
              - name: name
                value:
                - number: 0
                  name: name
                - number: 0
                  name: name
              name: name
              nestedType:
              - null
              - null
              oneofDecl:
              - name: name
              - name: name
            - field:
              - number: 6
                jsonName: jsonName
                oneofIndex: 1
                defaultValue: defaultValue
                name: name
                typeName: typeName
                label: LABEL_OPTIONAL
                proto3Optional: true
                type: TYPE_DOUBLE
              - number: 6
                jsonName: jsonName
                oneofIndex: 1
                defaultValue: defaultValue
                name: name
                typeName: typeName
                label: LABEL_OPTIONAL
                proto3Optional: true
                type: TYPE_DOUBLE
              enumType:
              - name: name
                value:
                - number: 0
                  name: name
                - number: 0
                  name: name
              - name: name
                value:
                - number: 0
                  name: name
                - number: 0
                  name: name
              name: name
              nestedType:
              - null
              - null
              oneofDecl:
              - name: name
              - name: name
            enumType:
            - name: name
              value:
              - number: 0
                name: name
              - number: 0
                name: name
            - name: name
              value:
              - number: 0
                name: name
              - number: 0
                name: name
            name: name
            syntax: syntax
            editionDeprecated: editionDeprecated
          supportedPlatforms:
          - PLATFORM_UNSPECIFIED
          - PLATFORM_UNSPECIFIED
        - accessRestrictions:
          - accessRestrictions
          - accessRestrictions
          additionalTargetKeyNames:
          - keyDescription: keyDescription
            key: key
          - keyDescription: keyDescription
            key: key
          categoryTitle: categoryTitle
          fieldDescriptions:
          - fieldConstraints:
              uploadedFileConstraints:
                supportedContentTypes:
                - CONTENT_TYPE_UNSPECIFIED
                - CONTENT_TYPE_UNSPECIFIED
                sizeLimitBytes: sizeLimitBytes
              numericRangeConstraint:
                maximum: maximum
                minimum: minimum
            field: field
            defaultValue: ""
            fieldDependencies:
            - sourceField: sourceField
              sourceFieldValue: sourceFieldValue
            - sourceField: sourceField
              sourceFieldValue: sourceFieldValue
            name: name
            description: description
            fieldDescription: fieldDescription
            nestedFieldDescriptions:
            - null
            - null
            knownValueDescriptions:
            - fieldDependencies:
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              description: description
              value: value
            - fieldDependencies:
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              description: description
              value: value
            requiredItems:
            - fieldConditions:
              - fieldConditions
              - fieldConditions
              requiredFields:
              - requiredFields
              - requiredFields
            - fieldConditions:
              - fieldConditions
              - fieldConditions
              requiredFields:
              - requiredFields
              - requiredFields
            inputConstraint: inputConstraint
          - fieldConstraints:
              uploadedFileConstraints:
                supportedContentTypes:
                - CONTENT_TYPE_UNSPECIFIED
                - CONTENT_TYPE_UNSPECIFIED
                sizeLimitBytes: sizeLimitBytes
              numericRangeConstraint:
                maximum: maximum
                minimum: minimum
            field: field
            defaultValue: ""
            fieldDependencies:
            - sourceField: sourceField
              sourceFieldValue: sourceFieldValue
            - sourceField: sourceField
              sourceFieldValue: sourceFieldValue
            name: name
            description: description
            fieldDescription: fieldDescription
            nestedFieldDescriptions:
            - null
            - null
            knownValueDescriptions:
            - fieldDependencies:
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              description: description
              value: value
            - fieldDependencies:
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              - sourceField: sourceField
                sourceFieldValue: sourceFieldValue
              description: description
              value: value
            requiredItems:
            - fieldConditions:
              - fieldConditions
              - fieldConditions
              requiredFields:
              - requiredFields
              - requiredFields
            - fieldConditions:
              - fieldConditions
              - fieldConditions
              requiredFields:
              - requiredFields
              - requiredFields
            inputConstraint: inputConstraint
          policyApiLifecycle:
            policyApiLifecycleStage: API_UNSPECIFIED
            deprecatedInFavorOf:
            - deprecatedInFavorOf
            - deprecatedInFavorOf
            endSupport:
              month: 5
              year: 2
              day: 5
            description: description
            scheduledToDeprecatePolicies:
            - scheduledToDeprecatePolicies
            - scheduledToDeprecatePolicies
          schemaName: schemaName
          validTargetResources:
          - TARGET_RESOURCE_UNSPECIFIED
          - TARGET_RESOURCE_UNSPECIFIED
          notices:
          - field: field
            acknowledgementRequired: true
            noticeMessage: noticeMessage
            noticeValue: noticeValue
          - field: field
            acknowledgementRequired: true
            noticeMessage: noticeMessage
            noticeValue: noticeValue
          policyDescription: policyDescription
          supportUri: supportUri
          name: name
          definition:
            package: package
            messageType:
            - field:
              - number: 6
                jsonName: jsonName
                oneofIndex: 1
                defaultValue: defaultValue
                name: name
                typeName: typeName
                label: LABEL_OPTIONAL
                proto3Optional: true
                type: TYPE_DOUBLE
              - number: 6
                jsonName: jsonName
                oneofIndex: 1
                defaultValue: defaultValue
                name: name
                typeName: typeName
                label: LABEL_OPTIONAL
                proto3Optional: true
                type: TYPE_DOUBLE
              enumType:
              - name: name
                value:
                - number: 0
                  name: name
                - number: 0
                  name: name
              - name: name
                value:
                - number: 0
                  name: name
                - number: 0
                  name: name
              name: name
              nestedType:
              - null
              - null
              oneofDecl:
              - name: name
              - name: name
            - field:
              - number: 6
                jsonName: jsonName
                oneofIndex: 1
                defaultValue: defaultValue
                name: name
                typeName: typeName
                label: LABEL_OPTIONAL
                proto3Optional: true
                type: TYPE_DOUBLE
              - number: 6
                jsonName: jsonName
                oneofIndex: 1
                defaultValue: defaultValue
                name: name
                typeName: typeName
                label: LABEL_OPTIONAL
                proto3Optional: true
                type: TYPE_DOUBLE
              enumType:
              - name: name
                value:
                - number: 0
                  name: name
                - number: 0
                  name: name
              - name: name
                value:
                - number: 0
                  name: name
                - number: 0
                  name: name
              name: name
              nestedType:
              - null
              - null
              oneofDecl:
              - name: name
              - name: name
            enumType:
            - name: name
              value:
              - number: 0
                name: name
              - number: 0
                name: name
            - name: name
              value:
              - number: 0
                name: name
              - number: 0
                name: name
            name: name
            syntax: syntax
            editionDeprecated: editionDeprecated
          supportedPlatforms:
          - PLATFORM_UNSPECIFIED
          - PLATFORM_UNSPECIFIED
      properties:
        nextPageToken:
          description: The page token used to get the next page of policy schemas.
          title: nextPageToken
          type: string
        policySchemas:
          description: The list of policy schemas that match the query.
          items:
            $ref: '#/components/schemas/GoogleChromePolicyVersionsV1PolicySchema'
          title: policySchemas
          type: array
      title: GoogleChromePolicyVersionsV1ListPolicySchemasResponse
      type: object
    GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest:
      description: Request parameters for modifying a policy value for a specific
        group target.
      example:
        policyValue:
          policySchema: policySchema
          value:
            key: ""
        policyTargetKey:
          targetResource: targetResource
          additionalTargetKeys:
            key: additionalTargetKeys
        updateMask: updateMask
      properties:
        policyTargetKey:
          $ref: '#/components/schemas/GoogleChromePolicyVersionsV1PolicyTargetKey'
        policyValue:
          $ref: '#/components/schemas/GoogleChromePolicyVersionsV1PolicyValue'
        updateMask:
          description: Required. Policy fields to update. Only fields in this mask
            will be updated; other fields in `policy_value` will be ignored (even
            if they have values). If a field is in this list it must have a value
            in 'policy_value'.
          format: google-fieldmask
          title: updateMask
          type: string
      title: GoogleChromePolicyVersionsV1ModifyGroupPolicyRequest
      type: object
    GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest:
      description: Request parameters for modifying a policy value for a specific
        org unit target.
      example:
        policyValue:
          policySchema: policySchema
          value:
            key: ""
        policyTargetKey:
          targetResource: targetResource
          additionalTargetKeys:
            key: additionalTargetKeys
        updateMask: updateMask
      properties:
        policyTargetKey:
          $ref: '#/components/schemas/GoogleChromePolicyVersionsV1PolicyTargetKey'
        policyValue:
          $ref: '#/components/schemas/GoogleChromePolicyVersionsV1PolicyValue'
        updateMask:
          description: Required. Policy fields to update. Only fields in this mask
            will be updated; other fields in `policy_value` will be ignored (even
            if they have values). If a field is in this list it must have a value
            in 'policy_value'.
          format: google-fieldmask
          title: updateMask
          type: string
      title: GoogleChromePolicyVersionsV1ModifyOrgUnitPolicyRequest
      type: object
    GoogleChromePolicyVersionsV1NetworkSetting:
      description: A network setting contains network configurations.
      example:
        policySchema: policySchema
        value:
          key: ""
      properties:
        policySchema:
          description: The fully qualified name of the network setting.
          title: policySchema
          type: string
        value:
          additionalProperties:
            description: Properties of the object.
          description: The value of the network setting.
          title: value
          type: object
      title: GoogleChromePolicyVersionsV1NetworkSetting
      type: object
    GoogleChromePolicyVersionsV1NumericRangeConstraint:
      description: "A constraint on upper and/or lower bounds, with at least one being\
        \ set."
      example:
        maximum: maximum
        minimum: minimum
      properties:
        maximum:
          description: Maximum value.
          format: int64
          title: maximum
          type: string
        minimum:
          description: Minimum value.
          format: int64
          title: minimum
          type: string
      title: GoogleChromePolicyVersionsV1NumericRangeConstraint
      type: object
    GoogleChromePolicyVersionsV1PolicyApiLifecycle:
      description: Lifecycle information.
      example:
        policyApiLifecycleStage: API_UNSPECIFIED
        deprecatedInFavorOf:
        - deprecatedInFavorOf
        - deprecatedInFavorOf
        endSupport:
          month: 5
          year: 2
          day: 5
        description: description
        scheduledToDeprecatePolicies:
        - scheduledToDeprecatePolicies
        - scheduledToDeprecatePolicies
      properties:
        deprecatedInFavorOf:
          description: "In the event that this policy was deprecated in favor of another\
            \ policy, the fully qualified namespace(s) of the new policies as they\
            \ will show in PolicyAPI. Could only be set if policy_api_lifecycle_stage\
            \ is API_DEPRECATED."
          items:
            type: string
          title: deprecatedInFavorOf
          type: array
        description:
          description: Description about current life cycle.
          title: description
          type: string
        endSupport:
          $ref: '#/components/schemas/GoogleTypeDate'
        policyApiLifecycleStage:
          description: Indicates current life cycle stage of the policy API.
          enum:
          - API_UNSPECIFIED
[...]
