openapi: 3.0.1
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/applications.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: hdinsight-applications
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/applications
  : get:
      description: Lists all of the applications for the HDInsight cluster.
      operationId: Applications_ListByCluster
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Applications_ListByCluster_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-examples:
        Get All Applications for an HDInsight cluster:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: CF938302-6B4D-44A0-A6D2-C0D67E847AEC
                  id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1/applications/app
                  name: app
                  properties:
                    applicationState: Running
                    applicationType: CustomApplication
                    computeProfile:
                      roles:
                      - hardwareProfile:
                          vmSize: Standard_D12_v2
                        name: edgenode
                        targetInstanceCount: 1
                    createdDate: 2017-03-22T21:34:39.293
                    httpsEndpoints:
                    - accessModes:
                      - WebPage
                      destinationPort: 20000
                      location: https://cluster1-app.apps.azurehdinsight.net:443
                      publicPort: 443
                    installScriptActions:
                    - name: app-install-app
                      roles:
                      - edgenode
                      uri: http://testurl.com/public/hdi-app/20170301/hdinsight-app-install.sh
                    marketplaceIdentifier: app-on-hdiapp-on-hdi.1.0.3
                    provisioningState: Succeeded
                    sshEndpoints:
                    - destinationPort: 22
                      location: app.cluster1-ssh.azurehdinsight.net:22
                      publicPort: 22
                    uninstallScriptActions: []
                  tags:
                    key1: val1
                  type: Microsoft.HDInsight/clusters/applications
                - etag: 2C128F8E-BB26-4637-99E4-18EBC39FD51F
                  id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1/applications/app2
                  name: app2
                  properties:
                    applicationState: AzureVMConfiguration
                    applicationType: CustomApplication
                    computeProfile:
                      roles:
                      - hardwareProfile:
                          vmSize: Standard_D3
                        name: edgenode
                        targetInstanceCount: 1
                    createdDate: 2017-03-28T02:01:25.107
                    httpsEndpoints:
                    - accessModes:
                      - WebPage
                      destinationPort: 18630
                      location: location
                      publicPort: 443
                    installScriptActions:
                    - name: app2-Install
                      roles:
                      - edgenode
                      uri: https://app2url.com/azure/2.4.0.0/app2_install.sh
                    marketplaceIdentifier: app2-hdinsightsmall.1.0.8
                    provisioningState: InProgress
                    sshEndpoints: []
                    uninstallScriptActions: []
                  tags:
                    key1: val1
                  type: Microsoft.HDInsight/clusters/applications
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/applications/{applicationName}
  : delete:
      description: Deletes the specified application on the HDInsight cluster.
      operationId: Applications_Delete
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The constant value for the application name.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        "202":
          content: {}
          description: Accepted response definition.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Applications_ListByCluster_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-examples:
        Delete Application from HDInsight cluster:
          parameters:
            api-version: 2018-06-01-preview
            applicationName: hue
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets properties of the specified application.
      operationId: Applications_Get
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The constant value for the application name.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Applications_ListByCluster_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-examples:
        Get application on HDInsight cluster creation in progress:
          parameters:
            api-version: 2018-06-01-preview
            applicationName: app
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: 2C128F8E-BB26-4637-99E4-18EBC39FD51F
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1/applications/app
                name: app
                properties:
                  applicationState: AzureVMConfiguration
                  applicationType: CustomApplication
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: Standard_D3
                      name: edgenode
                      targetInstanceCount: 1
                  createdDate: 2017-03-28T02:01:25.107
                  httpsEndpoints:
                  - accessModes:
                    - WebPage
                    destinationPort: 18630
                    location: location
                    publicPort: 443
                  installScriptActions:
                  - name: app-Install
                    roles:
                    - edgenode
                    uri: https://app.com/azure/app_install.sh
                  marketplaceIdentifier: id
                  provisioningState: InProgress
                  sshEndpoints: []
                  uninstallScriptActions: []
                tags:
                  key1: val1
                type: Microsoft.HDInsight/clusters/applications
        Get application on HDInsight cluster successfully created.:
          parameters:
            api-version: 2018-06-01-preview
            applicationName: app
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: CF938302-6B4D-44A0-A6D2-C0D67E847AEC
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1/applications/app
                name: app
                properties:
                  applicationState: Running
                  applicationType: CustomApplication
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: Standard_D12_v2
                      name: edgenode
                      targetInstanceCount: 1
                  createdDate: 2017-03-22T21:34:39.293
                  httpsEndpoints:
                  - accessModes:
                    - WebPage
                    destinationPort: 20000
                    location: https://cluster1.apps.azurehdinsight.net:443
                    publicPort: 443
                  installScriptActions:
                  - name: app-install
                    roles:
                    - edgenode
                    uri: http://app.com/public/hdi-app/20170301/app-install.sh
                  marketplaceIdentifier: appMarketId
                  provisioningState: Succeeded
                  sshEndpoints:
                  - destinationPort: 22
                    location: cluster1-ssh.azurehdinsight.net:22
                    publicPort: 22
                  uninstallScriptActions: []
                tags:
                  key1: val1
                type: Microsoft.HDInsight/clusters/applications
      x-accepts:
      - application/json
    put:
      description: Creates applications for the HDInsight cluster.
      operationId: Applications_Create
      parameters:
      - description: The subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The constant value for the application name.
        in: path
        name: applicationName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The HDInsight client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        description: The application create request.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Applications_ListByCluster_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Applications
      x-ms-examples:
        Create Application:
          parameters:
            api-version: 2018-06-01-preview
            applicationName: hue
            clusterName: cluster1
            parameters:
              properties:
                applicationType: CustomApplication
                computeProfile:
                  roles:
                  - hardwareProfile:
                      vmSize: Standard_D12_v2
                    name: edgenode
                    targetInstanceCount: 1
                errors: []
                httpsEndpoints:
                - accessModes:
                  - WebPage
                  destinationPort: 20000
                  subDomainSuffix: dss
                installScriptActions:
                - name: app-install-app1
                  parameters: -version latest -port 20000
                  roles:
                  - edgenode
                  uri: https://.../install.sh
                uninstallScriptActions: []
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: etag
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1/applications/hue
                name: hue
                properties:
                  applicationState: ApplicationConfiguration
                  applicationType: CustomApplication
                  computeProfile:
                    roles:
                    - hardwareProfile:
                        vmSize: Standard_D12_v2
                      name: edgenode
                      targetInstanceCount: 1
                  createdDate: 2017-02-28
                  errors: []
                  httpsEndpoints:
                  - accessModes:
                    - WebPage
                    destinationPort: 20000
                    subDomainSuffix: dss
                  installScriptActions:
                  - name: app-install-app1
                    parameters: -version latest -port 20000
                    roles:
                    - edgenode
                    uri: https://.../install.sh
                  provisioningState: InProgress
                  sshEndpoints: []
                  uninstallScriptActions: []
                tags: {}
                type: Microsoft.HDInsight/clusters/applications
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: The HDInsight client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ApplicationNameParameter:
      description: The constant value for the application name.
      in: path
      name: applicationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ClusterNameParameter:
      description: The name of the cluster.
      in: path
      name: clusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription credentials which uniquely identify Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Application:
      allOf:
      - allOf:
        - description: The core properties of ARM resources
          properties:
            id:
              description: Fully qualified resource Id for the resource.
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource. It will
          have everything other than required location and tags
      description: The HDInsight cluster application
      example:
        etag: etag
        properties:
          httpsEndpoints:
          - destinationPort: 3
            disableGatewayAuth: true
            publicPort: 2
            location: location
            accessModes:
            - accessModes
            - accessModes
            subDomainSuffix: subDomainSuffix
          - destinationPort: 3
            disableGatewayAuth: true
            publicPort: 2
            location: location
            accessModes:
            - accessModes
            - accessModes
            subDomainSuffix: subDomainSuffix
          marketplaceIdentifier: marketplaceIdentifier
          applicationType: applicationType
          installScriptActions:
          - roles:
            - roles
            - roles
            name: name
            parameters: parameters
            uri: uri
            applicationName: applicationName
          - roles:
            - roles
            - roles
            name: name
            parameters: parameters
            uri: uri
            applicationName: applicationName
          applicationState: applicationState
          createdDate: createdDate
          computeProfile:
            roles:
            - targetInstanceCount: 9
              hardwareProfile:
                vmSize: vmSize
              scriptActions:
              - name: name
                parameters: parameters
                uri: uri
              - name: name
                parameters: parameters
                uri: uri
              dataDisksGroups:
              - disksPerNode: 2
                storageAccountType: storageAccountType
                diskSizeGB: 5
              - disksPerNode: 2
                storageAccountType: storageAccountType
                diskSizeGB: 5
              name: name
              minInstanceCount: 7
              virtualNetworkProfile:
                subnet: subnet
                id: id
              autoscale:
                recurrence:
                  schedule:
                  - days:
                    - Monday
                    - Monday
                    timeAndCapacity:
                      maxInstanceCount: 1
                      minInstanceCount: 5
                      time: time
                  - days:
                    - Monday
                    - Monday
                    timeAndCapacity:
                      maxInstanceCount: 1
                      minInstanceCount: 5
                      time: time
                  timeZone: timeZone
                capacity:
                  maxInstanceCount: 0
                  minInstanceCount: 6
              osProfile:
                linuxOperatingSystemProfile:
                  password: password
                  sshProfile:
                    publicKeys:
                    - certificateData: certificateData
                    - certificateData: certificateData
                  username: username
            - targetInstanceCount: 9
              hardwareProfile:
                vmSize: vmSize
              scriptActions:
              - name: name
                parameters: parameters
                uri: uri
              - name: name
                parameters: parameters
                uri: uri
              dataDisksGroups:
              - disksPerNode: 2
                storageAccountType: storageAccountType
                diskSizeGB: 5
              - disksPerNode: 2
                storageAccountType: storageAccountType
                diskSizeGB: 5
              name: name
              minInstanceCount: 7
              virtualNetworkProfile:
                subnet: subnet
                id: id
              autoscale:
                recurrence:
                  schedule:
                  - days:
                    - Monday
                    - Monday
                    timeAndCapacity:
                      maxInstanceCount: 1
                      minInstanceCount: 5
                      time: time
                  - days:
                    - Monday
                    - Monday
                    timeAndCapacity:
                      maxInstanceCount: 1
                      minInstanceCount: 5
                      time: time
                  timeZone: timeZone
                capacity:
                  maxInstanceCount: 0
                  minInstanceCount: 6
              osProfile:
                linuxOperatingSystemProfile:
                  password: password
                  sshProfile:
                    publicKeys:
                    - certificateData: certificateData
                    - certificateData: certificateData
                  username: username
          sshEndpoints:
          - destinationPort: 4
            publicPort: 7
            location: location
          - destinationPort: 4
            publicPort: 7
            location: location
          provisioningState: provisioningState
          uninstallScriptActions:
          - roles:
            - roles
            - roles
            name: name
            parameters: parameters
            uri: uri
            applicationName: applicationName
          - roles:
            - roles
            - roles
            name: name
            parameters: parameters
            uri: uri
            applicationName: applicationName
          errors:
          - code: code
            message: message
          - code: code
            message: message
        tags:
          key: tags
      properties:
        etag:
          description: The ETag for the application
          type: string
        properties:
          $ref: '#/components/schemas/ApplicationProperties'
        tags:
          additionalProperties:
            type: string
          description: The tags for the application.
          type: object
    ApplicationGetEndpoint:
      description: Gets the application SSH endpoint
      example:
        destinationPort: 4
        publicPort: 7
        location: location
      properties:
        destinationPort:
          description: The destination port to connect to.
          format: int32
          type: integer
        location:
          description: The location of the endpoint.
          type: string
        publicPort:
          description: The public port to connect to.
          format: int32
          type: integer
      type: object
    ApplicationGetHttpsEndpoint:
      description: Gets the application HTTP endpoints.
      example:
        destinationPort: 3
        disableGatewayAuth: true
        publicPort: 2
        location: location
        accessModes:
        - accessModes
        - accessModes
        subDomainSuffix: subDomainSuffix
      properties:
        accessModes:
          description: The list of access modes for the application.
          items:
            type: string
          type: array
        destinationPort:
          description: The destination port to connect to.
          format: int32
          type: integer
        disableGatewayAuth:
          description: The value indicates whether to disable GatewayAuth.
          type: boolean
        location:
          description: The location of the endpoint.
          type: string
        publicPort:
          description: The public port to connect to.
          format: int32
          type: integer
        subDomainSuffix:
          description: The subdomain suffix of the application.
          type: string
      type: object
    ApplicationListResult:
      description: Result of the request to list cluster Applications. It contains
        a list of operations and a URL link to get the next set of results.
      example:
        value:
        - etag: etag
          properties:
            httpsEndpoints:
            - destinationPort: 3
              disableGatewayAuth: true
              publicPort: 2
              location: location
              accessModes:
              - accessModes
              - accessModes
              subDomainSuffix: subDomainSuffix
            - destinationPort: 3
              disableGatewayAuth: true
              publicPort: 2
              location: location
              accessModes:
              - accessModes
              - accessModes
              subDomainSuffix: subDomainSuffix
            marketplaceIdentifier: marketplaceIdentifier
            applicationType: applicationType
            installScriptActions:
            - roles:
              - roles
              - roles
              name: name
              parameters: parameters
              uri: uri
              applicationName: applicationName
            - roles:
              - roles
              - roles
              name: name
              parameters: parameters
              uri: uri
              applicationName: applicationName
            applicationState: applicationState
            createdDate: createdDate
            computeProfile:
              roles:
              - targetInstanceCount: 9
                hardwareProfile:
                  vmSize: vmSize
                scriptActions:
                - name: name
                  parameters: parameters
                  uri: uri
                - name: name
                  parameters: parameters
                  uri: uri
                dataDisksGroups:
                - disksPerNode: 2
                  storageAccountType: storageAccountType
                  diskSizeGB: 5
                - disksPerNode: 2
                  storageAccountType: storageAccountType
                  diskSizeGB: 5
                name: name
                minInstanceCount: 7
                virtualNetworkProfile:
                  subnet: subnet
                  id: id
                autoscale:
                  recurrence:
                    schedule:
                    - days:
                      - Monday
                      - Monday
                      timeAndCapacity:
                        maxInstanceCount: 1
                        minInstanceCount: 5
                        time: time
                    - days:
                      - Monday
                      - Monday
                      timeAndCapacity:
                        maxInstanceCount: 1
                        minInstanceCount: 5
                        time: time
                    timeZone: timeZone
                  capacity:
                    maxInstanceCount: 0
                    minInstanceCount: 6
                osProfile:
                  linuxOperatingSystemProfile:
                    password: password
                    sshProfile:
                      publicKeys:
                      - certificateData: certificateData
                      - certificateData: certificateData
                    username: username
              - targetInstanceCount: 9
                hardwareProfile:
                  vmSize: vmSize
                scriptActions:
                - name: name
                  parameters: parameters
                  uri: uri
                - name: name
                  parameters: parameters
                  uri: uri
                dataDisksGroups:
                - disksPerNode: 2
                  storageAccountType: storageAccountType
                  diskSizeGB: 5
                - disksPerNode: 2
                  storageAccountType: storageAccountType
                  diskSizeGB: 5
                name: name
                minInstanceCount: 7
                virtualNetworkProfile:
                  subnet: subnet
                  id: id
                autoscale:
                  recurrence:
                    schedule:
                    - days:
                      - Monday
                      - Monday
                      timeAndCapacity:
                        maxInstanceCount: 1
                        minInstanceCount: 5
                        time: time
                    - days:
                      - Monday
                      - Monday
                      timeAndCapacity:
                        maxInstanceCount: 1
                        minInstanceCount: 5
                        time: time
                    timeZone: timeZone
                  capacity:
                    maxInstanceCount: 0
                    minInstanceCount: 6
                osProfile:
                  linuxOperatingSystemProfile:
                    password: password
                    sshProfile:
                      publicKeys:
                      - certificateData: certificateData
                      - certificateData: certificateData
                    username: username
            sshEndpoints:
            - destinationPort: 4
              publicPort: 7
              location: location
            - destinationPort: 4
              publicPort: 7
              location: location
            provisioningState: provisioningState
            uninstallScriptActions:
            - roles:
              - roles
              - roles
              name: name
              parameters: parameters
              uri: uri
              applicationName: applicationName
            - roles:
              - roles
              - roles
              name: name
              parameters: parameters
              uri: uri
              applicationName: applicationName
            errors:
            - code: code
              message: message
            - code: code
              message: message
          tags:
            key: tags
        - etag: etag
          properties:
            httpsEndpoints:
            - destinationPort: 3
              disableGatewayAuth: true
              publicPort: 2
              location: location
              accessModes:
              - accessModes
              - accessModes
              subDomainSuffix: subDomainSuffix
            - destinationPort: 3
              disableGatewayAuth: true
              publicPort: 2
              location: location
              accessModes:
              - accessModes
              - accessModes
              subDomainSuffix: subDomainSuffix
            marketplaceIdentifier: marketplaceIdentifier
            applicationType: applicationType
            installScriptActions:
            - roles:
              - roles
              - roles
              name: name
              parameters: parameters
              uri: uri
              applicationName: applicationName
            - roles:
              - roles
              - roles
              name: name
              parameters: parameters
              uri: uri
              applicationName: applicationName
            applicationState: applicationState
            createdDate: createdDate
            computeProfile:
              roles:
              - targetInstanceCount: 9
                hardwareProfile:
                  vmSize: vmSize
                scriptActions:
                - name: name
                  parameters: parameters
                  uri: uri
                - name: name
                  parameters: parameters
                  uri: uri
                dataDisksGroups:
                - disksPerNode: 2
                  storageAccountType: storageAccountType
                  diskSizeGB: 5
                - disksPerNode: 2
                  storageAccountType: storageAccountType
                  diskSizeGB: 5
                name: name
                minInstanceCount: 7
                virtualNetworkProfile:
                  subnet: subnet
                  id: id
                autoscale:
                  recurrence:
                    schedule:
                    - days:
                      - Monday
                      - Monday
                      timeAndCapacity:
                        maxInstanceCount: 1
                        minInstanceCount: 5
                        time: time
                    - days:
                      - Monday
                      - Monday
                      timeAndCapacity:
                        maxInstanceCount: 1
                        minInstanceCount: 5
                        time: time
                    timeZone: timeZone
                  capacity:
                    maxInstanceCount: 0
                    minInstanceCount: 6
                osProfile:
                  linuxOperatingSystemProfile:
                    password: password
                    sshProfile:
                      publicKeys:
                      - certificateData: certificateData
                      - certificateData: certificateData
                    username: username
              - targetInstanceCount: 9
                hardwareProfile:
                  vmSize: vmSize
                scriptActions:
                - name: name
                  parameters: parameters
                  uri: uri
                - name: name
                  parameters: parameters
                  uri: uri
                dataDisksGroups:
                - disksPerNode: 2
                  storageAccountType: storageAccountType
                  diskSizeGB: 5
                - disksPerNode: 2
                  storageAccountType: storageAccountType
                  diskSizeGB: 5
                name: name
                minInstanceCount: 7
                virtualNetworkProfile:
                  subnet: subnet
                  id: id
                autoscale:
                  recurrence:
                    schedule:
                    - days:
                      - Monday
                      - Monday
                      timeAndCapacity:
                        maxInstanceCount: 1
                        minInstanceCount: 5
                        time: time
                    - days:
                      - Monday
                      - Monday
                      timeAndCapacity:
                        maxInstanceCount: 1
                        minInstanceCount: 5
                        time: time
                    timeZone: timeZone
                  capacity:
                    maxInstanceCount: 0
                    minInstanceCount: 6
                osProfile:
                  linuxOperatingSystemProfile:
                    password: password
                    sshProfile:
                      publicKeys:
                      - certificateData: certificateData
                      - certificateData: certificateData
                    username: username
            sshEndpoints:
            - destinationPort: 4
              publicPort: 7
              location: location
            - destinationPort: 4
              publicPort: 7
              location: location
            provisioningState: provisioningState
            uninstallScriptActions:
            - roles:
              - roles
              - roles
              name: name
              parameters: parameters
              uri: uri
              applicationName: applicationName
            - roles:
              - roles
              - roles
              name: name
              parameters: parameters
              uri: uri
              applicationName: applicationName
            errors:
            - code: code
              message: message
            - code: code
              message: message
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of operation list results if there
            are any.
          readOnly: true
          type: string
        value:
          description: The list of HDInsight applications installed on HDInsight cluster.
          items:
            $ref: '#/components/schemas/Application'
          type: array
      type: object
    ApplicationProperties:
      description: The HDInsight cluster application GET response.
      example:
        httpsEndpoints:
        - destinationPort: 3
          disableGatewayAuth: true
          publicPort: 2
          location: location
          accessModes:
          - accessModes
          - accessModes
          subDomainSuffix: subDomainSuffix
        - destinationPort: 3
          disableGatewayAuth: true
          publicPort: 2
          location: location
          accessModes:
          - accessModes
          - accessModes
          subDomainSuffix: subDomainSuffix
        marketplaceIdentifier: marketplaceIdentifier
        applicationType: applicationType
        installScriptActions:
        - roles:
          - roles
          - roles
          name: name
          parameters: parameters
          uri: uri
          applicationName: applicationName
        - roles:
          - roles
          - roles
          name: name
          parameters: parameters
          uri: uri
          applicationName: applicationName
        applicationState: applicationState
        createdDate: createdDate
        computeProfile:
          roles:
          - targetInstanceCount: 9
            hardwareProfile:
              vmSize: vmSize
            scriptActions:
            - name: name
              parameters: parameters
              uri: uri
            - name: name
              parameters: parameters
              uri: uri
            dataDisksGroups:
            - disksPerNode: 2
              storageAccountType: storageAccountType
              diskSizeGB: 5
            - disksPerNode: 2
              storageAccountType: storageAccountType
              diskSizeGB: 5
            name: name
            minInstanceCount: 7
            virtualNetworkProfile:
              subnet: subnet
              id: id
            autoscale:
              recurrence:
                schedule:
                - days:
                  - Monday
                  - Monday
                  timeAndCapacity:
                    maxInstanceCount: 1
                    minInstanceCount: 5
                    time: time
                - days:
                  - Monday
                  - Monday
                  timeAndCapacity:
                    maxInstanceCount: 1
                    minInstanceCount: 5
                    time: time
                timeZone: timeZone
              capacity:
                maxInstanceCount: 0
                minInstanceCount: 6
            osProfile:
              linuxOperatingSystemProfile:
                password: password
                sshProfile:
                  publicKeys:
                  - certificateData: certificateData
                  - certificateData: certificateData
                username: username
          - targetInstanceCount: 9
            hardwareProfile:
              vmSize: vmSize
            scriptActions:
            - name: name
              parameters: parameters
              uri: uri
            - name: name
              parameters: parameters
              uri: uri
            dataDisksGroups:
            - disksPerNode: 2
              storageAccountType: storageAccountType
              diskSizeGB: 5
            - disksPerNode: 2
              storageAccountType: storageAccountType
              diskSizeGB: 5
            name: name
            minInstanceCount: 7
            virtualNetworkProfile:
              subnet: subnet
              id: id
            autoscale:
              recurrence:
                schedule:
                - days:
                  - Monday
                  - Monday
                  timeAndCapacity:
                    maxInstanceCount: 1
                    minInstanceCount: 5
                    time: time
                - days:
                  - Monday
                  - Monday
                  timeAndCapacity:
                    maxInstanceCount: 1
                    minInstanceCount: 5
                    time: time
                timeZone: timeZone
              capacity:
                maxInstanceCount: 0
                minInstanceCount: 6
            osProfile:
              linuxOperatingSystemProfile:
                password: password
                sshProfile:
                  publicKeys:
                  - certificateData: certificateData
                  - certificateData: certificateData
                username: username
        sshEndpoints:
        - destinationPort: 4
          publicPort: 7
          location: location
        - destinationPort: 4
          publicPort: 7
          location: location
        provisioningState: provisioningState
        uninstallScriptActions:
        - roles:
          - roles
          - roles
          name: name
          parameters: parameters
          uri: uri
          applicationName: applicationName
        - roles:
          - roles
          - roles
          name: name
          parameters: parameters
          uri: uri
          applicationName: applicationName
        errors:
        - code: code
          message: message
        - code: code
          message: message
      properties:
        applicationState:
          description: The application state.
          readOnly: true
          type: string
        applicationType:
          description: The application type.
          type: string
        computeProfile:
          $ref: '#/components/schemas/ApplicationProperties_computeProfile'
        createdDate:
          description: The application create date time.
          readOnly: true
          type: string
        errors:
          description: The list of errors.
          items:
            $ref: '#/components/schemas/ApplicationProperties_errors_inner'
          type: array
        httpsEndpoints:
          description: The list of application HTTPS endpoints.
          items:
            $ref: '#/components/schemas/ApplicationGetHttpsEndpoint'
          type: array
        installScriptActions:
          description: The list of install script actions.
          items:
            $ref: '#/components/schemas/ApplicationProperties_installScriptActions_inner'
          type: array
        marketplaceIdentifier:
          description: The marketplace identifier.
          readOnly: true
          type: string
        provisioningState:
          description: The provisioning state of the application.
          readOnly: true
          type: string
        sshEndpoints:
          description: The list of application SSH endpoints.
          items:
            $ref: '#/components/schemas/ApplicationGetEndpoint'
          type: array
        uninstallScriptActions:
          description: The list of uninstall script actions.
          items:
            $ref: '#/components/schemas/ApplicationProperties_installScriptActions_inner'
          type: array
      type: object
    Applications_ListByCluster_default_response:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    ApplicationProperties_computeProfile_roles_inner_autoscale_capacity:
      description: The load-based autoscale request parameters
      example:
        maxInstanceCount: 0
        minInstanceCount: 6
      properties:
        maxInstanceCount:
          description: The maximum instance count of the cluster
          format: int32
          type: integer
        minInstanceCount:
          description: The minimum instance count of the cluster
          format: int32
          type: integer
      type: object
    ApplicationProperties_computeProfile_roles_inner_autoscale_recurrence_schedule_inner_timeAndCapacity:
      description: Time and capacity request parameters
      example:
        maxInstanceCount: 1
        minInstanceCount: 5
        time: time
      properties:
        maxInstanceCount:
          description: The maximum instance count of the cluster
          format: int32
          type: integer
        minInstanceCount:
          description: The minimum instance count of the cluster
          format: int32
          type: integer
        time:
          description: 24-hour time in the form xx:xx
          type: string
      type: object
    ApplicationProperties_computeProfile_roles_inner_autoscale_recurrence_schedule_inner:
      description: "Parameters for a schedule-based autoscale rule, consisting of\
        \ an array of days + a time and capacity"
      example:
        days:
        - Monday
        - Monday
        timeAndCapacity:
          maxInstanceCount: 1
          minInstanceCount: 5
          time: time
      properties:
        days:
          description: Days of the week for a schedule-based autoscale rule
          items:
            enum:
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            - Sunday
            type: string
            x-ms-enum:
              modelAsString: false
              name: DaysOfWeek
          type: array
        timeAndCapacity:
          $ref: '#/components/schemas/ApplicationProperties_computeProfile_roles_inner_autoscale_recurrence_schedule_inner_timeAndCapacity'
      type: object
    ApplicationProperties_computeProfile_roles_inner_autoscale_recurrence:
      description: Schedule-based autoscale request parameters
      example:
        schedule:
        - days:
          - Monday
          - Monday
          timeAndCapacity:
            maxInstanceCount: 1
            minInstanceCount: 5
            time: time
        - days:
          - Monday
          - Monday
          timeAndCapacity:
            maxInstanceCount: 1
            minInstanceCount: 5
            time: time
        timeZone: timeZone
      properties:
        schedule:
          description: Array of schedule-based autoscale rules
          items:
            $ref: '#/components/schemas/ApplicationProperties_computeProfile_roles_inner_autoscale_recurrence_schedule_inner'
          type: array
        timeZone:
          description: The time zone for the autoscale schedule times
          type: string
      type: object
    ApplicationProperties_computeProfile_roles_inner_autoscale:
      description: The autoscale request parameters
      example:
        recurrence:
          schedule:
          - days:
            - Monday
            - Monday
            timeAndCapacity:
              maxInstanceCount: 1
              minInstanceCount: 5
              time: time
          - days:
            - Monday
            - Monday
            timeAndCapacity:
              maxInstanceCount: 1
              minInstanceCount: 5
              time: time
          timeZone: timeZone
        capacity:
          maxInstanceCount: 0
          minInstanceCount: 6
      properties:
        capacity:
          $ref: '#/components/schemas/ApplicationProperties_computeProfile_roles_inner_autoscale_capacity'
        recurrence:
          $ref: '#/components/schemas/ApplicationProperties_computeProfile_roles_inner_autoscale_recurrence'
      type: object
    ApplicationProperties_computeProfile_roles_inner_dataDisksGroups_inner:
      description: The data disks groups for the role.
      example:
        disksPerNode: 2
        storageAccountType: storageAccountType
        diskSizeGB: 5
      properties:
        diskSizeGB:
          description: ReadOnly. The DiskSize in GB. Do not set this value.
          readOnly: true
          type: integer
        disksPerNode:
          description: The number of disks per node.
          format: int32
          type: integer
        storageAccountType:
          description: ReadOnly. The storage account type. Do not set this value.
          readOnly: true
          type: string
      type: object
    ApplicationProperties_computeProfile_roles_inner_hardwareProfile:
      description: The hardware profile.
      example:
        vmSize: vmSize
      properties:
        vmSize:
          description: The size of the VM
          type: string
      type: object
    ApplicationProperties_computeProfile_roles_inner_osProfile_linuxOperatingSystemProfile_sshProfile_publicKeys_inner:
      description: The SSH public key for the cluster nodes.
      example:
        certificateData: certificateData
      properties:
        certificateData:
          description: The certificate for SSH.
          type: string
      type: object
    ApplicationProperties_computeProfile_roles_inner_osProfile_linuxOperatingSystemProfile_sshProfile:
      description: The list of SSH public keys.
      example:
        publicKeys:
        - certificateData: certificateData
        - certificateData: certificateData
      properties:
        publicKeys:
          description: The list of SSH public keys.
          items:
            $ref: '#/components/schemas/ApplicationProperties_computeProfile_roles_inner_osProfile_linuxOperatingSystemProfile_sshProfile_publicKeys_inner'
          type: array
      type: object
    ApplicationProperties_computeProfile_roles_inner_osProfile_linuxOperatingSystemProfile:
      description: "The ssh username, password, and ssh public key."
      example:
        password: password
        sshProfile:
          publicKeys:
          - certificateData: certificateData
          - certificateData: certificateData
        username: username
      properties:
        password:
          description: The password.
          type: string
        sshProfile:
          $ref: '#/components/schemas/ApplicationProperties_computeProfile_roles_inner_osProfile_linuxOperatingSystemProfile_sshProfile'
        username:
          description: The username.
          type: string
      type: object
    ApplicationProperties_computeProfile_roles_inner_osProfile:
      description: The Linux operation systems profile.
      example:
        linuxOperatingSystemProfile:
          password: password
          sshProfile:
            publicKeys:
            - certificateData: certificateData
            - certificateData: certificateData
          username: username
      properties:
        linuxOperatingSystemProfile:
          $ref: '#/components/schemas/ApplicationProperties_computeProfile_roles_inner_osProfile_linuxOperatingSystemProfile'
      type: object
    ApplicationProperties_computeProfile_roles_inner_scriptActions_inner:
      description: Describes a script action on role on the cluster.
      example:
        name: name
        parameters: parameters
        uri: uri
      properties:
        name:
          description: The name of the script action.
          type: string
        parameters:
          description: The parameters for the script provided.
          type: string
        uri:
          description: The URI to the script.
          type: string
      required:
      - name
      - parameters
      - uri
      type: object
    ApplicationProperties_computeProfile_roles_inner_virtualNetworkProfile:
      description: The virtual network properties.
      example:
        subnet: subnet
        id: id
      properties:
        id:
          description: The ID of the virtual network.
          type: string
        subnet:
          description: The name of the subnet.
          type: string
      type: object
    ApplicationProperties_computeProfile_roles_inner:
      description: Describes a role on the cluster.
      example:
        targetInstanceCount: 9
        hardwareProfile:
          vmSize: vmSize
        scriptActions:
        - name: name
          parameters: parameters
          uri: uri
        - name: name
          parameters: parameters
          uri: uri
        dataDisksGroups:
        - disksPerNode: 2
          storageAccountType: storageAccountType
          diskSizeGB: 5
        - disksPerNode: 2
          storageAccountType: storageAccountType
          diskSizeGB: 5
        name: name
        minInstanceCount: 7
        virtualNetworkProfile:
          subnet: subnet
          id: id
        autoscale:
          recurrence:
            schedule:
            - days:
              - Monday
              - Monday
              timeAndCapacity:
                maxInstanceCount: 1
                minInstanceCount: 5
                time: time
            - days:
              - Monday
              - Monday
              timeAndCapacity:
                maxInstanceCount: 1
                minInstanceCount: 5
                time: time
            timeZone: timeZone
          capacity:
            maxInstanceCount: 0
            minInstanceCount: 6
        osProfile:
          linuxOperatingSystemProfile:
            password: password
            sshProfile:
              publicKeys:
              - certificateData: certificateData
              - certificateData: certificateData
            username: username
      properties:
        autoscale:
          $ref: '#/components/schemas/ApplicationProperties_computeProfile_roles_inner_autoscale'
        dataDisksGroups:
          description: The data disks groups for the role.
          items:
            $ref: '#/components/schemas/ApplicationProperties_computeProfile_roles_inner_dataDisksGroups_inner'
          type: array
        hardwareProfile:
          $ref: '#/components/schemas/ApplicationProperties_computeProfile_roles_inner_hardwareProfile'
        minInstanceCount:
          description: The minimum instance count of the cluster.
          format: int32
          type: integer
        name:
          description: The name of the role.
          type: string
        osProfile:
          $ref: '#/components/schemas/ApplicationProperties_computeProfile_roles_inner_osProfile'
        scriptActions:
          description: The list of script actions on the role.
          items:
            $ref: '#/components/schemas/ApplicationProperties_computeProfile_roles_inner_scriptActions_inner'
          type: array
        targetInstanceCount:
          description: The instance count of the cluster.
          format: int32
          type: integer
        virtualNetworkProfile:
          $ref: '#/components/schemas/ApplicationProperties_computeProfile_roles_inner_virtualNetworkProfile'
      type: object
    ApplicationProperties_computeProfile:
      description: Describes the compute profile.
      example:
        roles:
        - targetInstanceCount: 9
          hardwareProfile:
            vmSize: vmSize
          scriptActions:
          - name: name
            parameters: parameters
            uri: uri
          - name: name
            parameters: parameters
            uri: uri
          dataDisksGroups:
          - disksPerNode: 2
            storageAccountType: storageAccountType
            diskSizeGB: 5
          - disksPerNode: 2
            storageAccountType: storageAccountType
            diskSizeGB: 5
          name: name
          minInstanceCount: 7
          virtualNetworkProfile:
            subnet: subnet
            id: id
          autoscale:
            recurrence:
              schedule:
              - days:
                - Monday
                - Monday
                timeAndCapacity:
                  maxInstanceCount: 1
                  minInstanceCount: 5
                  time: time
              - days:
                - Monday
                - Monday
                timeAndCapacity:
                  maxInstanceCount: 1
                  minInstanceCount: 5
                  time: time
              timeZone: timeZone
            capacity:
              maxInstanceCount: 0
              minInstanceCount: 6
          osProfile:
            linuxOperatingSystemProfile:
              password: password
              sshProfile:
                publicKeys:
                - certificateData: certificateData
                - certificateData: certificateData
              username: username
        - targetInstanceCount: 9
          hardwareProfile:
            vmSize: vmSize
          scriptActions:
          - name: name
            parameters: parameters
            uri: uri
          - name: name
            parameters: parameters
            uri: uri
          dataDisksGroups:
          - disksPerNode: 2
            storageAccountType: storageAccountType
            diskSizeGB: 5
          - disksPerNode: 2
            storageAccountType: storageAccountType
            diskSizeGB: 5
          name: name
          minInstanceCount: 7
          virtualNetworkProfile:
            subnet: subnet
            id: id
          autoscale:
            recurrence:
              schedule:
              - days:
                - Monday
                - Monday
                timeAndCapacity:
                  maxInstanceCount: 1
                  minInstanceCount: 5
                  time: time
              - days:
                - Monday
                - Monday
                timeAndCapacity:
                  maxInstanceCount: 1
                  minInstanceCount: 5
                  time: time
              timeZone: timeZone
            capacity:
              maxInstanceCount: 0
              minInstanceCount: 6
          osProfile:
            linuxOperatingSystemProfile:
              password: password
              sshProfile:
                publicKeys:
                - certificateData: certificateData
                - certificateData: certificateData
              username: username
      properties:
        roles:
          description: The list of roles in the cluster.
          items:
            $ref: '#/components/schemas/ApplicationProperties_computeProfile_roles_inner'
          type: array
      type: object
    ApplicationProperties_errors_inner:
      description: The error message associated with the cluster creation.
      example:
        code: code
        message: message
      properties:
        code:
          description: The error code.
          type: string
        message:
          description: The error message.
          type: string
      type: object
    ApplicationProperties_installScriptActions_inner:
      description: Describes a script action on a running cluster.
      example:
        roles:
        - roles
        - roles
        name: name
        parameters: parameters
        uri: uri
        applicationName: applicationName
      properties:
        applicationName:
          description: "The application name of the script action, if any."
          readOnly: true
          type: string
        name:
          description: The name of the script action.
          type: string
        parameters:
          description: The parameters for the script
          type: string
        roles:
          description: The list of roles where script will be executed.
          items:
            type: string
          type: array
        uri:
          description: The URI to the script.
          type: string
      required:
      - name
      - roles
      - uri
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

