openapi: 3.0.1
info:
  description: REST API for Azure Redis Cache Service.
  title: RedisManagementClient
  version: 2015-08-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/redis/resource-manager/Microsoft.Cache/stable/2015-08-01/redis.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: redis
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Cache/Redis/:
    get:
      description: Gets all Redis caches in the specified subscription.
      operationId: redis_list
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisListResult'
          description: ""
      tags:
      - Redis
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.redis_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/:
    get:
      description: Gets all Redis caches in a resource group.
      operationId: redis_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisListResult'
          description: ""
      tags:
      - Redis
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.redis_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}:
    delete:
      description: Deletes a Redis cache.
      operationId: redis_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Redis cache.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "404":
          content: {}
          description: ""
      tags:
      - Redis
      x-openapi-router-controller: openapi_server.controllers.redis_controller
    get:
      description: Gets a Redis cache (resource description).
      operationId: redis_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Redis cache.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisResource'
          description: ""
      tags:
      - Redis
      x-openapi-router-controller: openapi_server.controllers.redis_controller
    put:
      description: "Create a Redis cache, or replace (overwrite/recreate, with potential\
        \ downtime) an existing cache."
      operationId: redis_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Redis cache.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisCreateOrUpdateParameters'
        description: Parameters supplied to the CreateOrUpdate Redis operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisResourceWithAccessKey'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisResourceWithAccessKey'
          description: ""
      tags:
      - Redis
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.redis_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/forceReboot:
    post:
      description: Reboot specified Redis node(s). This operation requires write permission
        to the cache resource. There can be potential data loss.
      operationId: redis_force_reboot
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Redis cache.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisRebootParameters'
        description: Specifies which Redis node(s) to reboot.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content: {}
          description: ""
        "202":
          content: {}
          description: ""
        "404":
          content: {}
          description: ""
      tags:
      - Redis
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.redis_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/listKeys:
    post:
      description: Retrieve a Redis cache's access keys. This operation requires write
        permission to the cache resource.
      operationId: redis_list_keys
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Redis cache.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisListKeysResult'
          description: Lists the keys for a Redis Cache.
      tags:
      - Redis
      x-openapi-router-controller: openapi_server.controllers.redis_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/regenerateKey:
    post:
      description: Regenerate the access keys for a Redis cache. This operation requires
        write permission to the cache resource.
      operationId: redis_regenerate_key
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Redis cache.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Client API Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisRegenerateKeyParameters'
        description: Specifies which key to reset.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisListKeysResult'
          description: Lists the regenerated keys for a Redis Cache.
      tags:
      - Redis
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.redis_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Gets subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    RedisAccessKeys:
      description: Redis cache access keys.
      example:
        secondaryKey: secondaryKey
        primaryKey: primaryKey
      properties:
        primaryKey:
          description: The current primary key that clients can use to authenticate
            with Redis cache.
          title: primaryKey
          type: string
        secondaryKey:
          description: The current secondary key that clients can use to authenticate
            with Redis cache.
          title: secondaryKey
          type: string
      title: RedisAccessKeys
      type: object
    RedisCreateOrUpdateParameters:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Parameters supplied to the CreateOrUpdate Redis operation.
      example:
        properties:
          redisVersion: redisVersion
          subnet: subnet
          redisConfiguration:
            key: redisConfiguration
          staticIP: staticIP
          tenantSettings:
            key: tenantSettings
          enableNonSslPort: true
          sku:
            name: Basic
            family: C
            capacity: 6
          shardCount: 0
          virtualNetwork: virtualNetwork
      properties:
        properties:
          $ref: '#/components/schemas/RedisProperties'
      required:
      - properties
      title: RedisCreateOrUpdateParameters
    RedisListKeysResult:
      description: The response of Redis list keys operation.
      example:
        secondaryKey: secondaryKey
        primaryKey: primaryKey
      properties:
        primaryKey:
          description: The current primary key that clients can use to authenticate
            with Redis cache.
          title: primaryKey
          type: string
        secondaryKey:
          description: The current secondary key that clients can use to authenticate
            with Redis cache.
          title: secondaryKey
          type: string
      title: RedisListKeysResult
      type: object
    RedisListResult:
      description: The response of list Redis operation.
      example:
        value:
        - properties:
            hostName: hostName
            port: 0
            provisioningState: provisioningState
            sslPort: 6
        - properties:
            hostName: hostName
            port: 0
            provisioningState: provisioningState
            sslPort: 6
        nextLink: nextLink
      properties:
        nextLink:
          description: Link for next set of locations.
          title: nextLink
          type: string
        value:
          description: Results of the list operation.
          items:
            $ref: '#/components/schemas/RedisResource'
          title: value
          type: array
      title: RedisListResult
      type: object
    RedisProperties:
      description: Parameters supplied to CreateOrUpdate Redis operation.
      example:
        redisVersion: redisVersion
        subnet: subnet
        redisConfiguration:
          key: redisConfiguration
        staticIP: staticIP
        tenantSettings:
          key: tenantSettings
        enableNonSslPort: true
        sku:
          name: Basic
          family: C
          capacity: 6
        shardCount: 0
        virtualNetwork: virtualNetwork
      properties:
        enableNonSslPort:
          description: "If the value is true, then the non-SLL Redis server port (6379)\
            \ will be enabled."
          title: enableNonSslPort
          type: boolean
        redisConfiguration:
          additionalProperties:
            type: string
          description: "All Redis Settings. Few possible keys: rdb-backup-enabled,rdb-storage-connection-string,rdb-backup-frequency,maxmemory-delta,maxmemory-policy,notify-keyspace-events,maxmemory-samples,slowlog-log-slower-than,slowlog-max-len,list-max-ziplist-entries,list-max-ziplist-value,hash-max-ziplist-entries,hash-max-ziplist-value,set-max-intset-entries,zset-max-ziplist-entries,zset-max-ziplist-value\
            \ etc."
          title: redisConfiguration
          type: object
        redisVersion:
          description: "RedisVersion parameter has been deprecated. As such, it is\
            \ no longer necessary to provide this parameter and any value specified\
            \ is ignored."
          title: redisVersion
          type: string
        shardCount:
          description: The number of shards to be created on a Premium Cluster Cache.
          format: int32
          title: shardCount
          type: integer
        sku:
          $ref: '#/components/schemas/Sku'
        staticIP:
          description: Required when deploying a Redis cache inside an existing Azure
            Virtual Network.
          title: staticIP
          type: string
        subnet:
          description: Required when deploying a Redis cache inside an existing Azure
            Virtual Network.
          title: subnet
          type: string
        tenantSettings:
          additionalProperties:
            type: string
          description: tenantSettings
          title: tenantSettings
          type: object
        virtualNetwork:
          description: "The exact ARM resource ID of the virtual network to deploy\
            \ the Redis cache in. Example format: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/Microsoft.ClassicNetwork/VirtualNetworks/vnet1"
          title: virtualNetwork
          type: string
      required:
      - sku
      title: RedisProperties
      type: object
    RedisReadableProperties:
      allOf:
      - $ref: '#/components/schemas/RedisProperties'
      description: Parameters describing a Redis instance
      example:
        hostName: hostName
        port: 0
        provisioningState: provisioningState
        sslPort: 6
      properties:
        hostName:
          description: Redis host name.
          title: hostName
          type: string
        port:
          description: Redis non-SSL port.
          format: int32
          title: port
          type: integer
        provisioningState:
          description: Redis instance provisioning status.
          title: provisioningState
          type: string
        sslPort:
          description: Redis SSL port.
          format: int32
          title: sslPort
          type: integer
      title: RedisReadableProperties
    RedisReadablePropertiesWithAccessKey:
      allOf:
      - $ref: '#/components/schemas/RedisReadableProperties'
      description: Properties generated only in response to CreateOrUpdate Redis operation.
      example:
        accessKeys:
          secondaryKey: secondaryKey
          primaryKey: primaryKey
      properties:
        accessKeys:
          $ref: '#/components/schemas/RedisAccessKeys'
      title: RedisReadablePropertiesWithAccessKey
    RedisRebootParameters:
      description: Specifies which Redis node(s) to reboot.
      example:
        rebootType: PrimaryNode
        shardId: 0
      properties:
        rebootType:
          description: Which Redis node(s) to reboot. Depending on this value data
            loss is possible.
          enum:
          - PrimaryNode
          - SecondaryNode
          - AllNodes
          title: rebootType
          type: string
          x-ms-enum:
            modelAsString: false
            name: RebootType
        shardId:
          description: "If clustering is enabled, the ID of the shared be rebooted."
          format: int32
          title: shardId
          type: integer
      required:
      - rebootType
      title: RedisRebootParameters
      type: object
    RedisRegenerateKeyParameters:
      description: Specifies which Redis access keys to reset.
      example:
        keyType: Primary
      properties:
        keyType:
          description: Which Redis access key to reset.
          enum:
          - Primary
          - Secondary
          title: keyType
          type: string
          x-ms-enum:
            modelAsString: false
            name: RedisKeyType
      required:
      - keyType
      title: RedisRegenerateKeyParameters
      type: object
    RedisResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A single Redis item in List or Get Operation.
      example:
        properties:
          hostName: hostName
          port: 0
          provisioningState: provisioningState
          sslPort: 6
      properties:
        properties:
          $ref: '#/components/schemas/RedisReadableProperties'
      title: RedisResource
    RedisResourceWithAccessKey:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A Redis item in CreateOrUpdate Operation response.
      example:
        properties:
          accessKeys:
            secondaryKey: secondaryKey
            primaryKey: primaryKey
      properties:
        properties:
          $ref: '#/components/schemas/RedisReadablePropertiesWithAccessKey'
      title: RedisResourceWithAccessKey
    Resource:
      properties:
        id:
          description: Resource ID.
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location.
          title: location
          type: string
        name:
          description: Resource name.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
        type:
          description: Resource type.
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    Sku:
      description: SKU parameters supplied to the create Redis operation.
      example:
        name: Basic
        family: C
        capacity: 6
      properties:
        capacity:
          description: "What size of Redis cache to deploy. Valid values: for C family\
            \ (0, 1, 2, 3, 4, 5, 6), for P family (1, 2, 3, 4)."
          format: int32
          title: capacity
          type: integer
        family:
          description: "Which family to use. Valid values: (C, P)."
          enum:
          - C
          - P
          title: family
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuFamily
        name:
          description: "What type of Redis cache to deploy. Valid values: (Basic,\
            \ Standard, Premium)."
          enum:
          - Basic
          - Standard
          - Premium
          title: name
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuName
      required:
      - capacity
      - family
      - name
      title: Sku
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
