openapi: 3.0.0
info:
  contact:
    x-twitter: wso2
  description: "This API provides XML to JSON, JSON to XML transformations."
  title: Transform
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/wso2/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://developers.wso2apistore.com/api-docs/manjular-AT-wso2.com-AT-developer/Transform/1.0.0
    version: "3.0"
  x-providerName: wso2apistore.com
  x-serviceName: transform
servers:
- url: https://gateway.wso2apistore.com/transform/1.0.0
- url: http://gateway.wso2apistore.com/transform/1.0.0
paths:
  /jsontoxml:
    post:
      operationId: jsontoxml_post
      requestBody:
        content:
          application/json:
            schema:
              default: "{\"foo\":\"bar\"}"
              type: string
        description: JSON payload
        required: true
        x-body-name: body
      responses:
        "200":
          description: ""
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
  /xmltojson:
    post:
      operationId: xmltojson_post
      requestBody:
        content:
          text/xml:
            schema:
              default: <foo>bar</foo>
              type: string
        description: XML payload
        required: true
        x-body-name: body
      responses:
        "200":
          description: ""
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
components:
  schemas: {}
  securitySchemes:
    default:
      flows:
        implicit:
          authorizationUrl: https://gateway.api.cloud.wso2.com/authorize
          scopes: {}
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_default
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_default
