openapi: 3.0.0
info:
  contact:
    email: contact-api@netatmo.com
    name: Netatmo
  description: |
    <h3>Welcome to the Netatmo swagger on-line documentation !</h3>
    This site is a complement to the official <a href="https://dev.netatmo.com/">Netatmo developper documentation</a> using swagger to bring interactivity and easy testing of requests with the "try it" button (authenticate with the authorization code OAuth2 flow by clicking the authenticate button in the methods). You can find the source code for this site can be found in the project <a href="https://github.com/cbornet/netatmo-swagger-ui">netatmo-swagger-ui</a>. You can also use the online <a href="./swagger.json">swagger declaration</a> file to generate code or static documentation (see <a href="https://github.com/cbornet/netatmo-swagger-api">netatmo-swagger-api</a>).
  license:
    name: "Netatmo : Terms of Service"
    url: https://dev.netatmo.com/dev/resources/legal/introduction
  termsOfService: https://dev.netatmo.com/dev/resources/legal/introduction
  title: Netatmo
  version: 1.1.5
  x-apiClientRegistration:
    url: https://dev.netatmo.com/dev/createanapp
  x-apisguru-categories:
  - iot
  x-logo:
    url: https://twitter.com/netatmo/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/cbornet/netatmo-swagger-decl/master/spec/swagger.yaml
    version: "3.0"
  x-providerName: netatmo.net
  x-unofficialSpec: true
externalDocs:
  description: Netatmo reference API documentation
  url: https://dev.netatmo.com/dev/resources/technical/reference
servers:
- url: https://api.netatmo.net/api
tags:
- description: Weather station specific methods
  name: station
- description: Healthy Home Coach specific methods
  name: healthyhomecoach
- description: Thermostat specific methods
  name: thermostat
- description: Welcome specific methods
  name: welcome
- description: Public stations specific methods
  name: public
- description: Partner API specific methods
  name: partner
- description: These methods are no longer maintained nor supported
  name: deprecated
paths:
  /addwebhook:
    get:
      description: |
        Links a callback url to a user.
      operationId: addwebhook
      parameters:
      - description: Your webhook callback url
        explode: true
        in: query
        name: url
        required: true
        schema:
          type: string
        style: form
      - description: "Webhooks are only available for Welcome, enter app_camera."
        explode: true
        in: query
        name: app_type
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomeWebhookResponse'
          description: Successful response
      security:
      - code_oauth: []
      - password_oauth: []
      tags:
      - welcome
      x-accepts:
      - application/json
  /createnewschedule:
    post:
      description: The method createnewschedule creates a new schedule stored in the
        backup list.
      operationId: createnewschedule
      parameters:
      - description: The relay id
        explode: true
        in: query
        name: device_id
        required: true
        schema:
          type: string
        style: form
      - description: The thermostat id
        explode: true
        in: query
        name: module_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/NAThermProgram'
        description: The thermostat program (zones and timetable)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NANewScheduleResponse'
          description: Successful response
      security:
      - code_oauth:
        - write_thermostat
      - password_oauth:
        - write_thermostat
      tags:
      - thermostat
      x-content-type: text/plain
      x-accepts:
      - application/json
  /devicelist:
    get:
      deprecated: true
      description: |
        The method devicelist returns the list of devices owned by the user, and their modules.
        A device is identified by its _id (which is its mac address) and each device may have one, several or no modules, also identified by an _id.
      operationId: devicelist
      parameters:
      - description: Defines which device type will be returned by devicelist. It
          could be app_thermostat or app_station (by default if not provided)
        explode: true
        in: query
        name: app_type
        required: false
        schema:
          enum:
          - app_thermostat
          - app_station
          type: string
        style: form
      - description: Specify a device_id if you want to retrieve only this device
          informations.
        explode: true
        in: query
        name: device_id
        required: false
        schema:
          type: string
        style: form
      - description: "When set to \"true\", the favorite devices of the user are returned.\
          \ This flag is available only if the devices requested are Weather Stations."
        explode: true
        in: query
        name: get_favorites
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NADeviceListResponse'
          description: Successful response
      security:
      - code_oauth:
        - read_thermostat
        - read_station
      - password_oauth:
        - read_thermostat
        - read_station
      tags:
      - deprecated
      x-accepts:
      - application/json
  /dropwebhook:
    get:
      description: |
        Dissociates a webhook from a user.
      operationId: dropwebhook
      parameters:
      - description: "For Welcome, use app_camera"
        explode: true
        in: query
        name: app_type
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomeWebhookResponse'
          description: Successful response
      security:
      - code_oauth: []
      - password_oauth: []
      tags:
      - welcome
      x-accepts:
      - application/json
  /getcamerapicture:
    get:
      description: |
        Returns the snapshot associated to an event.
      operationId: getcamerapicture
      parameters:
      - description: "id of the image (can be retrieved as 'id' in 'face' in Gethomedata,\
          \ or as 'id' in 'snapshot' in Getnextevents, Getlasteventof and Geteventsuntil)"
        explode: true
        in: query
        name: image_id
        required: true
        schema:
          type: string
        style: form
      - description: Security key to access snapshots.
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                format: byte
                type: string
          description: Successful response
      security:
      - code_oauth: []
      - password_oauth: []
      tags:
      - welcome
      x-accepts:
      - application/json
  /geteventsuntil:
    get:
      description: |
        Returns the snapshot associated to an event.
      operationId: geteventsuntil
      parameters:
      - description: ID of the Home you're interested in
        explode: true
        in: query
        name: home_id
        required: true
        schema:
          type: string
        style: form
      - description: Your request will retrieve all the events until this one
        explode: true
        in: query
        name: event_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomeEventResponse'
          description: Successful response
      security:
      - code_oauth:
        - access_camera
        - read_camera
      - password_oauth:
        - access_camera
        - read_camera
      tags:
      - welcome
      x-accepts:
      - application/json
  /gethomecoachsdata:
    get:
      description: The method gethomecoachsdata Returns data from a user Healthy Home
        Coach Station (measures and device specific data).
      operationId: gethomecoachsdata
      parameters:
      - description: Id of the device you want to retrieve information of
        explode: true
        in: query
        name: device_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAHealthyHomeCoachDataResponse'
          description: Successful response
      security:
      - code_oauth:
        - read_homecoach
      - password_oauth:
        - read_homecoach
      tags:
      - healthyhomecoach
      x-accepts:
      - application/json
  /gethomedata:
    get:
      description: |
        Returns information about users homes and cameras.
      operationId: gethomedata
      parameters:
      - description: Specify if you're looking for the events of a specific Home.
        explode: true
        in: query
        name: home_id
        required: false
        schema:
          type: string
        style: form
      - description: Number of events to retrieve. Default is `30`.
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomeHomeDataResponse'
          description: Successful response
      security:
      - code_oauth:
        - access_camera
        - read_camera
      - password_oauth:
        - access_camera
        - read_camera
      tags:
      - welcome
      x-accepts:
      - application/json
  /getlasteventof:
    get:
      description: |
        Returns most recent events.
      operationId: getlasteventof
      parameters:
      - description: ID of the Home you're interested in
        explode: true
        in: query
        name: home_id
        required: true
        schema:
          type: string
        style: form
      - description: Your request will retrieve all events of the given home until
          the most recent event of the given person
        explode: true
        in: query
        name: person_id
        required: true
        schema:
          type: string
        style: form
      - description: Number of events to retrieve. Default is 30.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomeEventResponse'
          description: Successful response
      security:
      - code_oauth:
        - access_camera
        - read_camera
      - password_oauth:
        - access_camera
        - read_camera
      tags:
      - welcome
      x-accepts:
      - application/json
  /getmeasure:
    get:
      description: |
        The method getmeasure returns the measurements of a device or a module.
      operationId: getmeasure
      parameters:
      - description: Id of the device whose module's measurements you want to retrieve.
          This _id can be found in the user's devices field.
        explode: true
        in: query
        name: device_id
        required: true
        schema:
          type: string
        style: form
      - description: If you don't specify any module_id you will retrieve the device's
          measurements. If you specify a module_id you will retrieve the module's
          measurements.
        explode: true
        in: query
        name: module_id
        required: false
        schema:
          type: string
        style: form
      - description: |
          Defines the time interval between two measurements.
          Possible values :
          max -> every value stored will be returned
          30min -> 1 value every 30 minutes
          1hour -> 1 value every hour
          3hours -> 1 value every 3 hours
          1day -> 1 value per day
          1week -> 1 value per week
          1month -> 1 value per month
        explode: true
        in: query
        name: scale
        required: true
        schema:
          enum:
          - max
          - 30min
          - 1hour
          - 3hours
          - 1day
          - 1week
          - 1month
          type: string
        style: form
      - description: |
          Measures you are interested in. Data you can request depends on the scale.
          **For Weather Station:**
            * max -> Temperature (°C), CO2 (ppm), Humidity (%), Pressure (mbar), Noise (db), Rain (mm), WindStrength (km/h), WindAngle (angles), Guststrength (km/h), GustAngle (angles)
            * 30min, 1hour, 3hours -> Same as above + min_temp, max_temp, min_hum, max_hum, min_pressure, max_pressure, min_noise, max_noise, sum_rain, date_max_gust
            * 1day, 1week, 1month -> Same as above + date_min_temp, date_max_temp, date_min_hum, date_max_hum, date_min_pressure, date_max_pressure, date_min_noise, date_max_noise, date_min_co2, date_max_co2

          **For Thermostat:**
            * max -> temperature (°C), sp_temperature (°C), boileron (sec), boileroff (sec)
            * 30min, 1hour, 3hours -> temperature, sp_temperature, min_temp,
          max_temp, sum_boiler_on, sum_boiler_off
            * 1day, 1week, 1month -> temperature, min_temp, date_min_temp,
          max_temp, sum_boiler_on, sum_boiler_off
        explode: false
        in: query
        name: type
        required: true
        schema:
          items:
            enum:
            - Temperature
            - CO2
            - Humidity
            - Pressure
            - Noise
            - Rain
            - WindStrength
            - WindAngle
            - Guststrength
            - GustAngle
            - Sp_Temperature
            - BoilerOn
            - BoilerOff
            - min_temp
            - date_min_temp
            - max_temp
            - date_max_temp
            - min_hum
            - date_min_hum
            - max_hum
            - date_max_hum
            - min_pressure
            - date_min_pressure
            - max_pressure
            - date_max_pressure
            - min_noise
            - date_min_noise
            - max_noise
            - date_max_noise
            - date_min_co2
            - date_max_co2
            - date_max_gust
            - sum_rain
            - sum_boiler_on
            - sum_boiler_off
            type: string
          type: array
        style: form
      - description: |
          Starting timestamp (utc) of the requested measurements.
          Please note measurement retrieving is limited to 1024 measurements.
        explode: true
        in: query
        name: date_begin
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |
          Ending timestamp (utc) of the request measurements.
          If you want only the last measurement, do not provide date_begin, and set date_end to `last`.
        explode: true
        in: query
        name: date_end
        required: false
        schema:
          type: string
        style: form
      - description: Limits the number of measurements returned (default & max is
          1024)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maximum: 1024
          type: integer
        style: form
      - description: "Allows you to choose the format of the answer.\nIf you build\
          \ a mobile app and bandwith usage is an issue, use `optimize = true`.\n\
          Use `optimize = false`, for an easier parse. In this case, values are indexed\
          \ by sorted timestamp.\nExample of un-optimized response :\n```json\n{\"\
          status\": \"ok\", \n  \"body\": {\n    \"1347575400\": [18.3,39],\n    \"\
          1347586200\": [20.6,48]\n  },\n\"time_exec\": 0.012136936187744}\n```\n\
          If optimize is set true, measurements are returned as an array of series\
          \ of regularly spaced measurements. Each series is defined by a beginning\
          \ time beg_time and a step between measurements, step_time:\n```json\n{\"\
          status\": \"ok\",\n  \"body\": [\n    {\"beg_time\": 1347575400,\n     \"\
          step_time\": 10800,\n     \"value\": \n        [[18.3,39],\n        [ 20.6,48]]\n\
          \    }],\n\"time_exec\": 0.014238119125366}\n```\nDefault value is `true`.\n"
        explode: true
        in: query
        name: optimize
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          In scales higher than max, since the data is aggregated, the timestamps returned are by default offset by +(scale/2).
          For instance, if you ask for measurements at a daily scale, you will receive data timestamped at 12:00 if real_time is set to `false` (default case), and timestamped at 00:00 if real_time is set to `true`.
          NB : The servers always store data with real_time set to `true` and data are offset by this parameter AFTER having being time-filtered, thus you could have data after date_end if real_time is set to `false`.
        explode: true
        in: query
        name: real_time
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAMeasureResponse'
          description: Successful response
      security:
      - code_oauth:
        - read_thermostat
        - read_station
      - password_oauth:
        - read_thermostat
        - read_station
      tags:
      - station
      - thermostat
      - partner
      - public
      x-accepts:
      - application/json
  /getnextevents:
    get:
      description: |
        Returns previous events.
      operationId: getnextevents
      parameters:
      - description: ID of the Home you're interested in
        explode: true
        in: query
        name: home_id
        required: true
        schema:
          type: string
        style: form
      - description: Your request will retrieve events occured before this one
        explode: true
        in: query
        name: event_id
        required: true
        schema:
          type: string
        style: form
      - description: Number of events to retrieve. Default is 30.
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomeEventResponse'
          description: Successful response
      security:
      - code_oauth:
        - access_camera
        - read_camera
      - password_oauth:
        - access_camera
        - read_camera
      tags:
      - welcome
      x-accepts:
      - application/json
  /getpublicdata:
    get:
      description: Retrieves publicly shared weather data from Outdoor Modules within
        a predefined area.
      operationId: getpublicdata
      parameters:
      - description: Latitude of the north east corner of the requested area. -85
          <= lat_ne <= 85 and lat_ne>lat_sw
        explode: true
        in: query
        name: lat_ne
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Longitude of the north east corner of the requested area. -180
          <= lon_ne <= 180 and lon_ne>lon_sw
        explode: true
        in: query
        name: lon_ne
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Latitude of the south west corner of the requested area. -85
          <= lat_sw <= 85
        explode: true
        in: query
        name: lat_sw
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Longitude of the south west corner of the requested area. -180
          <= lon_sw <= 180
        explode: true
        in: query
        name: lon_sw
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: To filter stations based on relevant measurements you want (e.g.
          rain will only return stations with rain gauges). Default is no filter.
          You can find all measurements available on the Thermostat page.
        explode: false
        in: query
        name: required_data
        required: false
        schema:
          items:
            enum:
            - temperature
            - humidity
            - pressure
            - wind
            - rain
            type: string
          type: array
        style: form
      - description: True to exclude stations with abnormal temperature measures.
          Default is false.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAPublicDataResponse'
          description: Successful response
      security:
      - code_oauth: []
      - password_oauth: []
      tags:
      - public
      x-accepts:
      - application/json
  /getstationsdata:
    get:
      description: The method getstationsdata Returns data from a user's Weather Stations
        (measures and device specific data).
      operationId: getstationsdata
      parameters:
      - description: Id of the device you want to retrieve information of
        explode: true
        in: query
        name: device_id
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include the user's favorite Weather Stations in addition
          to the user's own Weather Stations
        explode: true
        in: query
        name: get_favorites
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAStationDataResponse'
          description: Successful response
      security:
      - code_oauth:
        - read_station
      - password_oauth:
        - read_station
      tags:
      - station
      x-accepts:
      - application/json
  /getthermostatsdata:
    get:
      description: The method getthermostatsdata returns information about user's
        thermostats such as their last measurements.
      operationId: getthermostatsdata
      parameters:
      - description: Id of the device you want to retrieve information of
        explode: true
        in: query
        name: device_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAThermostatDataResponse'
          description: Successful response
      security:
      - code_oauth:
        - read_thermostat
      - password_oauth:
        - read_thermostat
      tags:
      - thermostat
      x-accepts:
      - application/json
  /getthermstate:
    get:
      deprecated: true
      description: "The method getthermstate returns the last Thermostat measurements,\
        \ its current weekly schedule, and, if present, its current manual temperature\
        \ setpoint."
      operationId: getthermstate
      parameters:
      - description: The relay id
        explode: true
        in: query
        name: device_id
        required: true
        schema:
          type: string
        style: form
      - description: The thermostat id
        explode: true
        in: query
        name: module_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAThermStateResponse'
          description: Successful response
      security:
      - code_oauth:
        - read_thermostat
      - password_oauth:
        - read_thermostat
      tags:
      - deprecated
      x-accepts:
      - application/json
  /getuser:
    get:
      deprecated: true
      description: |
        The method getuser returns information about a user such as prefered language, prefered units, and list of devices.
      operationId: getuser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAUserResponse'
          description: Successful response
      security:
      - code_oauth: []
      - password_oauth: []
      tags:
      - deprecated
      x-accepts:
      - application/json
  /partnerdevices:
    get:
      description: The method partnerdevices returns the list of device_id to which
        your partner application has access to.
      operationId: partnerdevices
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAPartnerDevicesResponse'
          description: Successful response
      security:
      - code_oauth: []
      - password_oauth: []
      tags:
      - partner
      x-accepts:
      - application/json
  /setpersonsaway:
    post:
      description: |
        Sets a person as 'Away' or the Home as 'Empty'. The event will be added to the user’s timeline.
      operationId: setpersonsaway
      parameters:
      - description: ID of the Home you're interested in
        explode: true
        in: query
        name: home_id
        required: true
        schema:
          type: string
        style: form
      - description: "If a person_id is specified, that person will be set as 'Away'.\
          \ If no person_id is specified, the Home will be set as 'Empty'."
        explode: true
        in: query
        name: person_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomePersonsAwayResponse'
          description: Successful response
      security:
      - code_oauth:
        - write_camera
      - password_oauth:
        - write_camera
      tags:
      - welcome
      x-accepts:
      - application/json
  /setpersonshome:
    post:
      description: |
        Sets a person as 'At home'.
      operationId: setpersonshome
      parameters:
      - description: ID of the Home you're interested in
        explode: true
        in: query
        name: home_id
        required: true
        schema:
          type: string
        style: form
      - description: List of persons IDs
        explode: true
        in: query
        name: person_ids
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomePersonsHomeResponse'
          description: Successful response
      security:
      - code_oauth:
        - write_camera
      - password_oauth:
        - write_camera
      tags:
      - welcome
      x-accepts:
      - application/json
  /setthermpoint:
    post:
      description: The method setthermpoint changes the Thermostat manual temperature
        setpoint.
      operationId: setthermpoint
      parameters:
      - description: The relay id
        explode: true
        in: query
        name: device_id
        required: true
        schema:
          type: string
        style: form
      - description: The thermostat id
        explode: true
        in: query
        name: module_id
        required: true
        schema:
          type: string
        style: form
      - description: Chosen setpoint_mode
        explode: true
        in: query
        name: setpoint_mode
        required: true
        schema:
          enum:
          - program
          - away
          - hg
          - manual
          - "false"
          - max
          type: string
        style: form
      - description: "When using the manual or max setpoint_mode, this parameter defines\
          \ when the setpoint expires."
        explode: true
        in: query
        name: setpoint_endtime
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "When using the manual setpoint_mode, this parameter defines\
          \ the temperature setpoint (in Celcius) to use."
        explode: true
        in: query
        name: setpoint_temp
        required: false
        schema:
          format: float
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAOkResponse'
          description: Successful response
      security:
      - code_oauth:
        - write_thermostat
      - password_oauth:
        - write_thermostat
      tags:
      - thermostat
      x-accepts:
      - application/json
  /switchschedule:
    post:
      description: The method switchschedule switches the Thermostat's schedule to
        another existing schedule.
      operationId: switchschedule
      parameters:
      - description: The relay id
        explode: true
        in: query
        name: device_id
        required: true
        schema:
          type: string
        style: form
      - description: The thermostat id
        explode: true
        in: query
        name: module_id
        required: true
        schema:
          type: string
        style: form
      - description: |
          The schedule id. It can be found in the getthermstate response, under the keys `therm_program_backup` and `therm_program`.
        explode: true
        in: query
        name: schedule_id
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAOkResponse'
          description: Successful response
      security:
      - code_oauth:
        - write_thermostat
      - password_oauth:
        - write_thermostat
      tags:
      - thermostat
      x-accepts:
      - application/json
  /syncschedule:
    post:
      description: The method syncschedule changes the Thermostat weekly schedule.
      operationId: syncschedule
      parameters:
      - description: The relay id
        explode: true
        in: query
        name: device_id
        required: true
        schema:
          type: string
        style: form
      - description: The thermostat id
        explode: true
        in: query
        name: module_id
        required: true
        schema:
          type: string
        style: form
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/NAThermProgram'
        description: "The thermostat program (zones, timetable and name)"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAOkResponse'
          description: Successful response
      security:
      - code_oauth:
        - write_thermostat
      - password_oauth:
        - write_thermostat
      tags:
      - thermostat
      x-content-type: text/plain
      x-accepts:
      - application/json
components:
  schemas:
    NADashboardData:
      example:
        time_utc: 9
        Temperature: 7.386282
        Noise: 3.6160767
        CO2: 5.637377
        date_max_temp: 1
        Rain: 4.145608
        BoilerOn: 5
        min_temp: 9.36931
        Humidity: 9.301444
        max_temp: 5.025005
        sum_rain_24: 8.762042
        WindStrength: 1
        sum_rain_1: 6.6835623
        date_max_wind_str: 6
        date_min_temp: 7
        device_id: 1.1730742
        pressure_trend: pressure_trend
        temp_trend: temp_trend
        Pressure: 2.027123
        GustAngle: 2
        max_wind_str: 9
        BoilerOff: 1
        GustStrength: 7
        health_idx: 4
        AbsolutePressure: 6.0274563
        WindAngle: 1
      properties:
        AbsolutePressure:
          description: Real measured pressure @ time_utc (in mb)
          format: float
          type: number
        BoilerOff:
          format: int32
          type: integer
        BoilerOn:
          format: int32
          type: integer
        CO2:
          description: Last Co2 measured @ time_utc (in ppm)
          format: float
          type: number
        GustAngle:
          description: Direction of the last 5 min highest gust wind
          format: int32
          type: integer
        GustStrength:
          description: Speed of the last 5 min highest gust wind
          format: int32
          type: integer
        Humidity:
          description: Last humidity measured @ time_utc (in %)
          format: float
          type: number
        Noise:
          description: Last noise measured @ time_utc (in db)
          format: float
          type: number
        Pressure:
          description: Last Sea level pressure measured @ time_utc (in mb)
          format: float
          type: number
        Rain:
          description: Last rain measured (in mm)
          format: float
          type: number
        Temperature:
          description: Last temperature measure @ time_utc (in °C)
          format: float
          type: number
        WindAngle:
          description: Current 5 min average wind direction measured @ time_utc (in
            °)
          format: int32
          type: integer
        WindStrength:
          description: Current 5 min average wind speed measured @ time_utc (in km/h)
          format: int32
          type: integer
        date_max_temp:
          description: Timestamp when max temperature was measured
          format: int32
          type: integer
        date_max_wind_str:
          description: Timestamp when max wind strength was measured
          format: int32
          type: integer
        date_min_temp:
          description: Timestamp when min temperature was measured
          format: int32
          type: integer
        device_id:
          format: float
          type: number
        health_idx:
          description: "Current health index: 0 = Healthy, 1 = Fine, 2 = Fair, 3 =\
            \ Poor, 4 = Unhealthy"
          format: int32
          type: integer
        max_temp:
          description: Min temperature of the day (measured @ date_min_temp)
          format: float
          type: number
        max_wind_str:
          format: int32
          type: integer
        min_temp:
          description: Max temperature of the day (measured @ date_max_temp)
          format: float
          type: number
        pressure_trend:
          description: Pressure evolution trend
          type: string
        sum_rain_1:
          description: Amount of rain in last hour
          format: float
          type: number
        sum_rain_24:
          description: Amount of rain today
          format: float
          type: number
        temp_trend:
          description: Temperature evolution trend
          type: string
        time_utc:
          format: int32
          type: integer
    NADate:
      example:
        sec: 6
        usec: 3
      properties:
        sec:
          format: int32
          type: integer
        usec:
          format: int32
          type: integer
    NADevice:
      example:
        hw_version: 3
        cipher_id: cipher_id
        setpoint_default_duration: 4
        last_fw_update: 7
        therm_program:
          key:
            program_id: program_id
            name: name
            zones:
            - temp: 9.132028
              name: name
              id: 7
              type: 0
            - temp: 9.132028
              name: name
              id: 7
              type: 0
            selected: true
            timetable:
            - m_offset: 4
              id: 1
            - m_offset: 4
              id: 1
        udp_conn: true
        type: type
        therm_program_order:
          key:
          - $id: $id
          - $id: $id
        last_upgrade: 4
        wifi_status: 9
        dashboard_data:
          time_utc: 9
          Temperature: 7.386282
          Noise: 3.6160767
          CO2: 5.637377
          date_max_temp: 1
          Rain: 4.145608
          BoilerOn: 5
          min_temp: 9.36931
          Humidity: 9.301444
          max_temp: 5.025005
          sum_rain_24: 8.762042
          WindStrength: 1
          sum_rain_1: 6.6835623
          date_max_wind_str: 6
          date_min_temp: 7
          device_id: 1.1730742
          pressure_trend: pressure_trend
          temp_trend: temp_trend
          Pressure: 2.027123
          GustAngle: 2
          max_wind_str: 9
          BoilerOff: 1
          GustStrength: 7
          health_idx: 4
          AbsolutePressure: 6.0274563
          WindAngle: 1
        new_feature_avail: true
        place:
          altitude: 0.20253241
          country: country
          city: city
          timezone: timezone
          improveLocProposed: true
          location:
          - 6.628464275087742
          - 6.628464275087742
          trust_location: true
          from_ip: true
        behavior: 0
        firmware: 6
        house_model:
          station_firsttime_anticipate: true
          simple_algo:
            high_deadband: 8
          in_use: in_use
          algo_type: algo_type
          first_anticipate_avail: true
          link_station:
            ext: ext
            Temperature: 0.8851375
            mac: mac
          time_algo_changed: 7
          time_pid_computed: 3
          ext_temps:
            key: 6
          prefered_algo_type: prefered_algo_type
          pid_algo:
            td: 0
            period: 6
            ti: 4
            gain: 7
          station:
            lag_down: 6
            off_overshoot: 6.704019
            tau: 7
            lag_up: 5
            pk: 3
            on_overshoot: 3.3531933
          gefs:
            lag_down: 6
            off_overshoot: 6.704019
            tau: 7
            lag_up: 5
            pk: 3
            on_overshoot: 3.3531933
          last_compute_try:
            sec: 6
            usec: 3
          time:
            sec: 6
            usec: 3
          first_pid_avail: true
          ca:
            te: 1.284659006116532
            ti: 2
            so: so
        station_name: station_name
        last_radio_store: 5
        setpoint: "{}"
        user_owner:
        - user_owner
        - user_owner
        ip: ip
        modules:
        - modules
        - modules
        date_setup:
          sec: 6
          usec: 3
        public_ext_data: true
        heating_system:
          heating_energy: heating_energy
          heating_system_window_seen: true
        setpoint_order:
          key:
          - $id: $id
          - $id: $id
        therm_program_backup:
          key:
          - program_id: program_id
            name: name
            zones:
            - temp: 9.132028
              name: name
              id: 7
              type: 0
            - temp: 9.132028
              name: name
              id: 7
              type: 0
            selected: true
            timetable:
            - m_offset: 4
              id: 1
            - m_offset: 4
              id: 1
          - program_id: program_id
            name: name
            zones:
            - temp: 9.132028
              name: name
              id: 7
              type: 0
            - temp: 9.132028
              name: name
              id: 7
              type: 0
            selected: true
            timetable:
            - m_offset: 4
              id: 1
            - m_offset: 4
              id: 1
        data_type:
        - data_type
        - data_type
        _id: _id
        module_name: module_name
        first_pid_avail: true
        last_status_store: 3
      properties:
        _id:
          type: string
        behavior:
          format: int32
          type: integer
        cipher_id:
          type: string
        dashboard_data:
          $ref: '#/components/schemas/NADashboardData'
        data_type:
          items:
            type: string
          type: array
        date_setup:
          $ref: '#/components/schemas/NADate'
        firmware:
          format: int32
          type: integer
        first_pid_avail:
          type: boolean
        heating_system:
          $ref: '#/components/schemas/NAHeatingSystem'
        house_model:
          $ref: '#/components/schemas/NAHouseModel'
        hw_version:
          format: int32
          type: integer
        ip:
          type: string
        last_fw_update:
          format: int32
          type: integer
        last_radio_store:
          format: int32
          type: integer
        last_status_store:
          format: int32
          type: integer
        last_upgrade:
          format: int32
          type: integer
        module_name:
          type: string
        modules:
          description: It lists which modules are linked with this device
          items:
            type: string
          type: array
        new_feature_avail:
          type: boolean
        place:
          $ref: '#/components/schemas/NAPlace'
        public_ext_data:
          type: boolean
        setpoint:
          type: object
        setpoint_default_duration:
          format: int32
          type: integer
        setpoint_order:
          additionalProperties:
            items:
              $ref: '#/components/schemas/NAObject'
            type: array
          type: object
        station_name:
          type: string
        therm_program:
          additionalProperties:
            $ref: '#/components/schemas/NAThermProgram'
          type: object
        therm_program_backup:
          additionalProperties:
            items:
              $ref: '#/components/schemas/NAThermProgram'
            type: array
          type: object
        therm_program_order:
          additionalProperties:
            items:
              $ref: '#/components/schemas/NAObject'
            type: array
          type: object
        type:
          description: |
            Included in every device or module. It defines the type of the device/module. Its values are among :
            NAMain : for the base station
            NAModule1 : for the outdoor module
            NAModule4 : for the additionnal indoor module
            NAModule3 : for the rain gauge module
            NAPlug : for the thermostat relay/plug
            NATherm1 : for the thermostat module
          type: string
        udp_conn:
          type: boolean
        user_owner:
          items:
            type: string
          type: array
        wifi_status:
          description: |
            It contains the current wifi status. The different thresholds to take into account are
            RSSI_THRESHOLD_0 = 86 bad signal
            RSSI_THRESHOLD_1 = 71 middle quality signal
            RSSI_THRESHOLD_2 = 56 good signal
          format: int32
          type: integer
    NADeviceListBody:
      example:
        devices:
        - hw_version: 3
          cipher_id: cipher_id
          setpoint_default_duration: 4
          last_fw_update: 7
          therm_program:
            key:
              program_id: program_id
              name: name
              zones:
              - temp: 9.132028
                name: name
                id: 7
                type: 0
              - temp: 9.132028
                name: name
                id: 7
                type: 0
              selected: true
              timetable:
              - m_offset: 4
                id: 1
              - m_offset: 4
                id: 1
          udp_conn: true
          type: type
          therm_program_order:
            key:
            - $id: $id
            - $id: $id
          last_upgrade: 4
          wifi_status: 9
          dashboard_data:
            time_utc: 9
            Temperature: 7.386282
            Noise: 3.6160767
            CO2: 5.637377
            date_max_temp: 1
            Rain: 4.145608
            BoilerOn: 5
            min_temp: 9.36931
            Humidity: 9.301444
            max_temp: 5.025005
            sum_rain_24: 8.762042
            WindStrength: 1
            sum_rain_1: 6.6835623
            date_max_wind_str: 6
            date_min_temp: 7
            device_id: 1.1730742
            pressure_trend: pressure_trend
            temp_trend: temp_trend
            Pressure: 2.027123
            GustAngle: 2
            max_wind_str: 9
            BoilerOff: 1
            GustStrength: 7
            health_idx: 4
            AbsolutePressure: 6.0274563
            WindAngle: 1
          new_feature_avail: true
          place:
            altitude: 0.20253241
            country: country
            city: city
            timezone: timezone
            improveLocProposed: true
            location:
            - 6.628464275087742
            - 6.628464275087742
            trust_location: true
            from_ip: true
          behavior: 0
          firmware: 6
          house_model:
            station_firsttime_anticipate: true
            simple_algo:
              high_deadband: 8
            in_use: in_use
            algo_type: algo_type
            first_anticipate_avail: true
            link_station:
              ext: ext
              Temperature: 0.8851375
              mac: mac
            time_algo_changed: 7
            time_pid_computed: 3
            ext_temps:
              key: 6
            prefered_algo_type: prefered_algo_type
            pid_algo:
              td: 0
              period: 6
              ti: 4
              gain: 7
            station:
              lag_down: 6
              off_overshoot: 6.704019
              tau: 7
              lag_up: 5
              pk: 3
              on_overshoot: 3.3531933
            gefs:
              lag_down: 6
              off_overshoot: 6.704019
              tau: 7
              lag_up: 5
              pk: 3
              on_overshoot: 3.3531933
            last_compute_try:
              sec: 6
              usec: 3
            time:
              sec: 6
              usec: 3
            first_pid_avail: true
            ca:
              te: 1.284659006116532
              ti: 2
              so: so
          station_name: station_name
          last_radio_store: 5
          setpoint: "{}"
          user_owner:
          - user_owner
          - user_owner
          ip: ip
          modules:
          - modules
          - modules
          date_setup:
            sec: 6
            usec: 3
          public_ext_data: true
          heating_system:
            heating_energy: heating_energy
            heating_system_window_seen: true
          setpoint_order:
            key:
            - $id: $id
            - $id: $id
          therm_program_backup:
            key:
            - program_id: program_id
              name: name
              zones:
              - temp: 9.132028
                name: name
                id: 7
                type: 0
              - temp: 9.132028
                name: name
                id: 7
                type: 0
              selected: true
              timetable:
              - m_offset: 4
                id: 1
              - m_offset: 4
                id: 1
            - program_id: program_id
              name: name
              zones:
              - temp: 9.132028
                name: name
                id: 7
                type: 0
              - temp: 9.132028
                name: name
                id: 7
                type: 0
              selected: true
              timetable:
              - m_offset: 4
                id: 1
              - m_offset: 4
                id: 1
          data_type:
          - data_type
          - data_type
          _id: _id
          module_name: module_name
          first_pid_avail: true
          last_status_store: 3
        - hw_version: 3
          cipher_id: cipher_id
          setpoint_default_duration: 4
          last_fw_update: 7
          therm_program:
            key:
              program_id: program_id
              name: name
              zones:
              - temp: 9.132028
                name: name
                id: 7
                type: 0
              - temp: 9.132028
                name: name
                id: 7
                type: 0
              selected: true
              timetable:
              - m_offset: 4
                id: 1
              - m_offset: 4
                id: 1
          udp_conn: true
          type: type
          therm_program_order:
            key:
            - $id: $id
            - $id: $id
          last_upgrade: 4
          wifi_status: 9
          dashboard_data:
            time_utc: 9
            Temperature: 7.386282
            Noise: 3.6160767
            CO2: 5.637377
            date_max_temp: 1
            Rain: 4.145608
            BoilerOn: 5
            min_temp: 9.36931
            Humidity: 9.301444
            max_temp: 5.025005
            sum_rain_24: 8.762042
            WindStrength: 1
            sum_rain_1: 6.6835623
            date_max_wind_str: 6
            date_min_temp: 7
            device_id: 1.1730742
            pressure_trend: pressure_trend
            temp_trend: temp_trend
            Pressure: 2.027123
            GustAngle: 2
            max_wind_str: 9
            BoilerOff: 1
            GustStrength: 7
            health_idx: 4
            AbsolutePressure: 6.0274563
            WindAngle: 1
          new_feature_avail: true
          place:
            altitude: 0.20253241
            country: country
            city: city
            timezone: timezone
            improveLocProposed: true
            location:
            - 6.628464275087742
            - 6.628464275087742
            trust_location: true
            from_ip: true
          behavior: 0
          firmware: 6
          house_model:
            station_firsttime_anticipate: true
            simple_algo:
              high_deadband: 8
            in_use: in_use
            algo_type: algo_type
            first_anticipate_avail: true
            link_station:
              ext: ext
              Temperature: 0.8851375
              mac: mac
            time_algo_changed: 7
            time_pid_computed: 3
            ext_temps:
              key: 6
            prefered_algo_type: prefered_algo_type
            pid_algo:
              td: 0
              period: 6
              ti: 4
              gain: 7
            station:
              lag_down: 6
              off_overshoot: 6.704019
              tau: 7
              lag_up: 5
              pk: 3
              on_overshoot: 3.3531933
            gefs:
              lag_down: 6
              off_overshoot: 6.704019
              tau: 7
              lag_up: 5
              pk: 3
              on_overshoot: 3.3531933
            last_compute_try:
              sec: 6
              usec: 3
            time:
              sec: 6
              usec: 3
            first_pid_avail: true
            ca:
              te: 1.284659006116532
              ti: 2
              so: so
          station_name: station_name
          last_radio_store: 5
          setpoint: "{}"
          user_owner:
          - user_owner
          - user_owner
          ip: ip
          modules:
          - modules
          - modules
          date_setup:
            sec: 6
            usec: 3
          public_ext_data: true
          heating_system:
            heating_energy: heating_energy
            heating_system_window_seen: true
          setpoint_order:
            key:
            - $id: $id
            - $id: $id
          therm_program_backup:
            key:
            - program_id: program_id
              name: name
              zones:
              - temp: 9.132028
                name: name
                id: 7
                type: 0
              - temp: 9.132028
                name: name
                id: 7
                type: 0
              selected: true
              timetable:
              - m_offset: 4
                id: 1
              - m_offset: 4
                id: 1
            - program_id: program_id
              name: name
              zones:
              - temp: 9.132028
                name: name
                id: 7
                type: 0
              - temp: 9.132028
                name: name
                id: 7
                type: 0
              selected: true
              timetable:
              - m_offset: 4
                id: 1
              - m_offset: 4
                id: 1
          data_type:
          - data_type
          - data_type
          _id: _id
          module_name: module_name
          first_pid_avail: true
          last_status_store: 3
        modules:
        - last_seen: 6
          therm_orientation: 4
          last_message: 4
          type: type
          date_setup:
            sec: 6
            usec: 3
          battery_vp: 7
          rf_status: 8
          public_ext_data: true
          battery_percent: 0
          data_type:
          - data_type
          - data_type
          therm_relay_cmd: 3
          _id: _id
          dashboard_data:
            time_utc: 9
            Temperature: 7.386282
            Noise: 3.6160767
            CO2: 5.637377
            date_max_temp: 1
            Rain: 4.145608
            BoilerOn: 5
            min_temp: 9.36931
            Humidity: 9.301444
            max_temp: 5.025005
            sum_rain_24: 8.762042
            WindStrength: 1
            sum_rain_1: 6.6835623
            date_max_wind_str: 6
            date_min_temp: 7
            device_id: 1.1730742
            pressure_trend: pressure_trend
            temp_trend: temp_trend
            Pressure: 2.027123
            GustAngle: 2
            max_wind_str: 9
            BoilerOff: 1
            GustStrength: 7
            health_idx: 4
            AbsolutePressure: 6.0274563
            WindAngle: 1
          module_name: module_name
          firmware: 5
          main_device: main_device
        - last_seen: 6
          therm_orientation: 4
          last_message: 4
          type: type
          date_setup:
            sec: 6
            usec: 3
          battery_vp: 7
          rf_status: 8
          public_ext_data: true
          battery_percent: 0
          data_type:
          - data_type
          - data_type
          therm_relay_cmd: 3
          _id: _id
          dashboard_data:
            time_utc: 9
            Temperature: 7.386282
            Noise: 3.6160767
            CO2: 5.637377
            date_max_temp: 1
            Rain: 4.145608
            BoilerOn: 5
            min_temp: 9.36931
            Humidity: 9.301444
            max_temp: 5.025005
            sum_rain_24: 8.762042
            WindStrength: 1
            sum_rain_1: 6.6835623
            date_max_wind_str: 6
            date_min_temp: 7
            device_id: 1.1730742
            pressure_trend: pressure_trend
            temp_trend: temp_trend
            Pressure: 2.027123
            GustAngle: 2
            max_wind_str: 9
            BoilerOff: 1
            GustStrength: 7
            health_idx: 4
            AbsolutePressure: 6.0274563
            WindAngle: 1
          module_name: module_name
          firmware: 5
          main_device: main_device
      properties:
        devices:
          items:
            $ref: '#/components/schemas/NADevice'
          type: array
        modules:
          items:
            $ref: '#/components/schemas/NAModule'
          type: array
    NADeviceListResponse:
      example:
        time_server: 2
        time_exec: 0.43431398824148815
        body:
          devices:
          - hw_version: 3
            cipher_id: cipher_id
            setpoint_default_duration: 4
            last_fw_update: 7
            therm_program:
              key:
                program_id: program_id
                name: name
                zones:
                - temp: 9.132028
                  name: name
                  id: 7
                  type: 0
                - temp: 9.132028
                  name: name
                  id: 7
                  type: 0
                selected: true
                timetable:
                - m_offset: 4
                  id: 1
                - m_offset: 4
                  id: 1
            udp_conn: true
            type: type
            therm_program_order:
              key:
              - $id: $id
              - $id: $id
            last_upgrade: 4
            wifi_status: 9
            dashboard_data:
              time_utc: 9
              Temperature: 7.386282
              Noise: 3.6160767
              CO2: 5.637377
              date_max_temp: 1
              Rain: 4.145608
              BoilerOn: 5
              min_temp: 9.36931
              Humidity: 9.301444
              max_temp: 5.025005
              sum_rain_24: 8.762042
              WindStrength: 1
              sum_rain_1: 6.6835623
              date_max_wind_str: 6
              date_min_temp: 7
              device_id: 1.1730742
              pressure_trend: pressure_trend
              temp_trend: temp_trend
              Pressure: 2.027123
              GustAngle: 2
              max_wind_str: 9
              BoilerOff: 1
              GustStrength: 7
              health_idx: 4
              AbsolutePressure: 6.0274563
              WindAngle: 1
            new_feature_avail: true
            place:
              altitude: 0.20253241
              country: country
              city: city
              timezone: timezone
              improveLocProposed: true
              location:
              - 6.628464275087742
              - 6.628464275087742
              trust_location: true
              from_ip: true
            behavior: 0
            firmware: 6
            house_model:
              station_firsttime_anticipate: true
              simple_algo:
                high_deadband: 8
              in_use: in_use
              algo_type: algo_type
              first_anticipate_avail: true
              link_station:
                ext: ext
                Temperature: 0.8851375
                mac: mac
              time_algo_changed: 7
              time_pid_computed: 3
              ext_temps:
                key: 6
              prefered_algo_type: prefered_algo_type
              pid_algo:
                td: 0
                period: 6
                ti: 4
                gain: 7
              station:
                lag_down: 6
                off_overshoot: 6.704019
                tau: 7
                lag_up: 5
                pk: 3
                on_overshoot: 3.3531933
              gefs:
                lag_down: 6
                off_overshoot: 6.704019
                tau: 7
                lag_up: 5
                pk: 3
                on_overshoot: 3.3531933
              last_compute_try:
                sec: 6
                usec: 3
              time:
                sec: 6
                usec: 3
              first_pid_avail: true
              ca:
                te: 1.284659006116532
                ti: 2
                so: so
            station_name: station_name
            last_radio_store: 5
            setpoint: "{}"
            user_owner:
            - user_owner
            - user_owner
            ip: ip
            modules:
            - modules
            - modules
            date_setup:
              sec: 6
              usec: 3
            public_ext_data: true
            heating_system:
              heating_energy: heating_energy
              heating_system_window_seen: true
            setpoint_order:
              key:
              - $id: $id
              - $id: $id
            therm_program_backup:
              key:
              - program_id: program_id
                name: name
                zones:
                - temp: 9.132028
                  name: name
                  id: 7
                  type: 0
                - temp: 9.132028
                  name: name
                  id: 7
                  type: 0
                selected: true
                timetable:
                - m_offset: 4
                  id: 1
                - m_offset: 4
                  id: 1
              - program_id: program_id
                name: name
                zones:
                - temp: 9.132028
                  name: name
                  id: 7
                  type: 0
                - temp: 9.132028
                  name: name
                  id: 7
                  type: 0
                selected: true
                timetable:
                - m_offset: 4
                  id: 1
                - m_offset: 4
                  id: 1
            data_type:
            - data_type
            - data_type
            _id: _id
            module_name: module_name
            first_pid_avail: true
            last_status_store: 3
          - hw_version: 3
            cipher_id: cipher_id
            setpoint_default_duration: 4
            last_fw_update: 7
            therm_program:
              key:
                program_id: program_id
                name: name
                zones:
                - temp: 9.132028
                  name: name
                  id: 7
                  type: 0
                - temp: 9.132028
                  name: name
                  id: 7
                  type: 0
                selected: true
                timetable:
                - m_offset: 4
                  id: 1
                - m_offset: 4
                  id: 1
            udp_conn: true
            type: type
            therm_program_order:
              key:
              - $id: $id
              - $id: $id
            last_upgrade: 4
            wifi_status: 9
            dashboard_data:
              time_utc: 9
              Temperature: 7.386282
              Noise: 3.6160767
              CO2: 5.637377
              date_max_temp: 1
              Rain: 4.145608
              BoilerOn: 5
              min_temp: 9.36931
              Humidity: 9.301444
              max_temp: 5.025005
              sum_rain_24: 8.762042
              WindStrength: 1
              sum_rain_1: 6.6835623
              date_max_wind_str: 6
              date_min_temp: 7
              device_id: 1.1730742
              pressure_trend: pressure_trend
              temp_trend: temp_trend
              Pressure: 2.027123
              GustAngle: 2
              max_wind_str: 9
              BoilerOff: 1
              GustStrength: 7
              health_idx: 4
              AbsolutePressure: 6.0274563
              WindAngle: 1
            new_feature_avail: true
            place:
              altitude: 0.20253241
              country: country
              city: city
              timezone: timezone
              improveLocProposed: true
              location:
              - 6.628464275087742
              - 6.628464275087742
              trust_location: true
              from_ip: true
            behavior: 0
            firmware: 6
            house_model:
              station_firsttime_anticipate: true
              simple_algo:
                high_deadband: 8
              in_use: in_use
              algo_type: algo_type
              first_anticipate_avail: true
              link_station:
                ext: ext
                Temperature: 0.8851375
                mac: mac
              time_algo_changed: 7
              time_pid_computed: 3
              ext_temps:
                key: 6
              prefered_algo_type: prefered_algo_type
              pid_algo:
                td: 0
                period: 6
                ti: 4
                gain: 7
              station:
                lag_down: 6
                off_overshoot: 6.704019
                tau: 7
                lag_up: 5
                pk: 3
                on_overshoot: 3.3531933
              gefs:
                lag_down: 6
                off_overshoot: 6.704019
                tau: 7
                lag_up: 5
                pk: 3
                on_overshoot: 3.3531933
              last_compute_try:
                sec: 6
                usec: 3
              time:
                sec: 6
                usec: 3
              first_pid_avail: true
              ca:
                te: 1.284659006116532
                ti: 2
                so: so
            station_name: station_name
            last_radio_store: 5
            setpoint: "{}"
            user_owner:
            - user_owner
            - user_owner
            ip: ip
            modules:
            - modules
            - modules
            date_setup:
              sec: 6
              usec: 3
            public_ext_data: true
            heating_system:
              heating_energy: heating_energy
              heating_system_window_seen: true
            setpoint_order:
              key:
              - $id: $id
              - $id: $id
            therm_program_backup:
              key:
              - program_id: program_id
                name: name
                zones:
                - temp: 9.132028
                  name: name
                  id: 7
                  type: 0
                - temp: 9.132028
                  name: name
                  id: 7
                  type: 0
                selected: true
                timetable:
                - m_offset: 4
                  id: 1
                - m_offset: 4
                  id: 1
              - program_id: program_id
                name: name
                zones:
                - temp: 9.132028
                  name: name
                  id: 7
                  type: 0
                - temp: 9.132028
                  name: name
                  id: 7
                  type: 0
                selected: true
                timetable:
                - m_offset: 4
                  id: 1
                - m_offset: 4
                  id: 1
            data_type:
            - data_type
            - data_type
            _id: _id
            module_name: module_name
            first_pid_avail: true
            last_status_store: 3
          modules:
          - last_seen: 6
            therm_orientation: 4
            last_message: 4
            type: type
            date_setup:
              sec: 6
              usec: 3
            battery_vp: 7
            rf_status: 8
            public_ext_data: true
            battery_percent: 0
            data_type:
            - data_type
            - data_type
            therm_relay_cmd: 3
            _id: _id
            dashboard_data:
              time_utc: 9
              Temperature: 7.386282
              Noise: 3.6160767
              CO2: 5.637377
              date_max_temp: 1
              Rain: 4.145608
              BoilerOn: 5
              min_temp: 9.36931
              Humidity: 9.301444
              max_temp: 5.025005
              sum_rain_24: 8.762042
              WindStrength: 1
              sum_rain_1: 6.6835623
              date_max_wind_str: 6
              date_min_temp: 7
              device_id: 1.1730742
              pressure_trend: pressure_trend
              temp_trend: temp_trend
              Pressure: 2.027123
              GustAngle: 2
              max_wind_str: 9
              BoilerOff: 1
              GustStrength: 7
              health_idx: 4
              AbsolutePressure: 6.0274563
              WindAngle: 1
            module_name: module_name
            firmware: 5
            main_device: main_device
          - last_seen: 6
            therm_orientation: 4
            last_message: 4
            type: type
            date_setup:
              sec: 6
              usec: 3
            battery_vp: 7
            rf_status: 8
            public_ext_data: true
            battery_percent: 0
            data_type:
            - data_type
            - data_type
            therm_relay_cmd: 3
            _id: _id
            dashboard_data:
              time_utc: 9
              Temperature: 7.386282
              Noise: 3.6160767
              CO2: 5.637377
              date_max_temp: 1
              Rain: 4.145608
              BoilerOn: 5
              min_temp: 9.36931
              Humidity: 9.301444
              max_temp: 5.025005
              sum_rain_24: 8.762042
              WindStrength: 1
              sum_rain_1: 6.6835623
              date_max_wind_str: 6
              date_min_temp: 7
              device_id: 1.1730742
              pressure_trend: pressure_trend
              temp_trend: temp_trend
              Pressure: 2.027123
              GustAngle: 2
              max_wind_str: 9
              BoilerOff: 1
              GustStrength: 7
              health_idx: 4
              AbsolutePressure: 6.0274563
              WindAngle: 1
            module_name: module_name
            firmware: 5
            main_device: main_device
        status: ok
      properties:
        body:
          $ref: '#/components/schemas/NADeviceListBody'
        status:
          example: ok
          type: string
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
    NAHealthyHomeCoach:
      example:
        cipher_id: cipher_id
        type: type
        date_setup: 0
        last_setup: 1
        last_upgrade: 5
        co2_calibrating: true
        wifi_status: 2
        data_type:
        - data_type
        - data_type
        name: name
        _id: _id
        dashboard_data:
          time_utc: 9
          Temperature: 7.386282
          Noise: 3.6160767
          CO2: 5.637377
          date_max_temp: 1
          Rain: 4.145608
          BoilerOn: 5
          min_temp: 9.36931
          Humidity: 9.301444
          max_temp: 5.025005
          sum_rain_24: 8.762042
          WindStrength: 1
          sum_rain_1: 6.6835623
          date_max_wind_str: 6
          date_min_temp: 7
          device_id: 1.1730742
          pressure_trend: pressure_trend
          temp_trend: temp_trend
          Pressure: 2.027123
          GustAngle: 2
          max_wind_str: 9
          BoilerOff: 1
          GustStrength: 7
          health_idx: 4
          AbsolutePressure: 6.0274563
          WindAngle: 1
        place:
          altitude: 0.20253241
          country: country
          city: city
          timezone: timezone
          improveLocProposed: true
          location:
          - 6.628464275087742
          - 6.628464275087742
          trust_location: true
          from_ip: true
        firmware: 6
        last_status_store: 5
      properties:
        _id:
          type: string
        cipher_id:
          type: string
        co2_calibrating:
          type: boolean
        dashboard_data:
          $ref: '#/components/schemas/NADashboardData'
        data_type:
          items:
            type: string
          type: array
        date_setup:
          format: int32
          type: integer
        firmware:
          format: int32
          type: integer
        last_setup:
          format: int32
          type: integer
        last_status_store:
          format: int32
          type: integer
        last_upgrade:
          format: int32
          type: integer
        name:
          type: string
        place:
          $ref: '#/components/schemas/NAPlace'
        type:
          description: |
            Included in every device or module. It defines the type of the device/module. Its values are among :
            NHC: Healthy Home Coach
          type: string
        wifi_status:
          description: |
            It contains the current wifi status. The different thresholds to take into account are
            RSSI_THRESHOLD_0 = 86 bad signal
            RSSI_THRESHOLD_1 = 71 middle quality signal
            RSSI_THRESHOLD_2 = 56 good signal
          format: int32
          type: integer
    NAHealthyHomeCoachDataBody:
      example:
        devices:
        - cipher_id: cipher_id
          type: type
          date_setup: 0
          last_setup: 1
          last_upgrade: 5
          co2_calibrating: true
          wifi_status: 2
          data_type:
          - data_type
          - data_type
          name: name
          _id: _id
          dashboard_data:
            time_utc: 9
            Temperature: 7.386282
            Noise: 3.6160767
            CO2: 5.637377
            date_max_temp: 1
            Rain: 4.145608
            BoilerOn: 5
            min_temp: 9.36931
            Humidity: 9.301444
            max_temp: 5.025005
            sum_rain_24: 8.762042
            WindStrength: 1
            sum_rain_1: 6.6835623
            date_max_wind_str: 6
            date_min_temp: 7
            device_id: 1.1730742
            pressure_trend: pressure_trend
            temp_trend: temp_trend
            Pressure: 2.027123
            GustAngle: 2
            max_wind_str: 9
            BoilerOff: 1
            GustStrength: 7
            health_idx: 4
            AbsolutePressure: 6.0274563
            WindAngle: 1
          place:
            altitude: 0.20253241
            country: country
            city: city
            timezone: timezone
            improveLocProposed: true
            location:
            - 6.628464275087742
            - 6.628464275087742
            trust_location: true
            from_ip: true
          firmware: 6
          last_status_store: 5
        - cipher_id: cipher_id
          type: type
          date_setup: 0
          last_setup: 1
          last_upgrade: 5
          co2_calibrating: true
          wifi_status: 2
          data_type:
          - data_type
          - data_type
          name: name
          _id: _id
          dashboard_data:
            time_utc: 9
            Temperature: 7.386282
            Noise: 3.6160767
            CO2: 5.637377
            date_max_temp: 1
            Rain: 4.145608
            BoilerOn: 5
            min_temp: 9.36931
            Humidity: 9.301444
            max_temp: 5.025005
            sum_rain_24: 8.762042
            WindStrength: 1
            sum_rain_1: 6.6835623
            date_max_wind_str: 6
            date_min_temp: 7
            device_id: 1.1730742
            pressure_trend: pressure_trend
            temp_trend: temp_trend
            Pressure: 2.027123
            GustAngle: 2
            max_wind_str: 9
            BoilerOff: 1
            GustStrength: 7
            health_idx: 4
            AbsolutePressure: 6.0274563
            WindAngle: 1
          place:
            altitude: 0.20253241
            country: country
            city: city
            timezone: timezone
            improveLocProposed: true
            location:
            - 6.628464275087742
            - 6.628464275087742
            trust_location: true
            from_ip: true
          firmware: 6
          last_status_store: 5
        user:
          mail: mail
          devices:
          - devices
          - devices
          administrative:
            country: country
            unit: unit
            reg_locale: reg_locale
            feel_like_algo: feel_like_algo
            windunit: windunit
            lang: lang
            pressureunit: pressureunit
          timeline_not_read: 7
          timeline_size: 9
          _id: _id
          friend_devices:
          - friend_devices
          - friend_devices
          date_creation:
            sec: 6
            usec: 3
      properties:
        devices:
          items:
            $ref: '#/components/schemas/NAHealthyHomeCoach'
          type: array
        user:
          $ref: '#/components/schemas/NAUser'
    NAHealthyHomeCoachDataResponse:
      example:
        time_server: 2
        time_exec: 3.616076749251911
        body:
          devices:
          - cipher_id: cipher_id
            type: type
            date_setup: 0
            last_setup: 1
            last_upgrade: 5
            co2_calibrating: true
            wifi_status: 2
            data_type:
            - data_type
            - data_type
            name: name
            _id: _id
            dashboard_data:
              time_utc: 9
              Temperature: 7.386282
              Noise: 3.6160767
              CO2: 5.637377
              date_max_temp: 1
              Rain: 4.145608
              BoilerOn: 5
              min_temp: 9.36931
              Humidity: 9.301444
              max_temp: 5.025005
              sum_rain_24: 8.762042
              WindStrength: 1
              sum_rain_1: 6.6835623
              date_max_wind_str: 6
              date_min_temp: 7
              device_id: 1.1730742
              pressure_trend: pressure_trend
              temp_trend: temp_trend
              Pressure: 2.027123
              GustAngle: 2
              max_wind_str: 9
              BoilerOff: 1
              GustStrength: 7
              health_idx: 4
              AbsolutePressure: 6.0274563
              WindAngle: 1
            place:
              altitude: 0.20253241
              country: country
              city: city
              timezone: timezone
              improveLocProposed: true
              location:
              - 6.628464275087742
              - 6.628464275087742
              trust_location: true
              from_ip: true
            firmware: 6
            last_status_store: 5
          - cipher_id: cipher_id
            type: type
            date_setup: 0
            last_setup: 1
            last_upgrade: 5
            co2_calibrating: true
            wifi_status: 2
            data_type:
            - data_type
            - data_type
            name: name
            _id: _id
            dashboard_data:
              time_utc: 9
              Temperature: 7.386282
              Noise: 3.6160767
              CO2: 5.637377
              date_max_temp: 1
              Rain: 4.145608
              BoilerOn: 5
              min_temp: 9.36931
              Humidity: 9.301444
              max_temp: 5.025005
              sum_rain_24: 8.762042
              WindStrength: 1
              sum_rain_1: 6.6835623
              date_max_wind_str: 6
              date_min_temp: 7
              device_id: 1.1730742
              pressure_trend: pressure_trend
              temp_trend: temp_trend
              Pressure: 2.027123
              GustAngle: 2
              max_wind_str: 9
              BoilerOff: 1
              GustStrength: 7
              health_idx: 4
              AbsolutePressure: 6.0274563
              WindAngle: 1
            place:
              altitude: 0.20253241
              country: country
              city: city
              timezone: timezone
              improveLocProposed: true
              location:
              - 6.628464275087742
              - 6.628464275087742
              trust_location: true
              from_ip: true
            firmware: 6
            last_status_store: 5
          user:
            mail: mail
            devices:
            - devices
            - devices
            administrative:
              country: country
              unit: unit
              reg_locale: reg_locale
              feel_like_algo: feel_like_algo
              windunit: windunit
              lang: lang
              pressureunit: pressureunit
            timeline_not_read: 7
            timeline_size: 9
            _id: _id
            friend_devices:
            - friend_devices
            - friend_devices
            date_creation:
              sec: 6
              usec: 3
        status: ok
      properties:
        body:
          $ref: '#/components/schemas/NAHealthyHomeCoachDataBody'
        status:
          example: ok
          type: string
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
    NAHeatingSystem:
      example:
        heating_energy: heating_energy
        heating_system_window_seen: true
      properties:
        heating_energy:
          type: string
        heating_system_window_seen:
          type: boolean
    NAHouseModel:
      example:
        station_firsttime_anticipate: true
        simple_algo:
          high_deadband: 8
        in_use: in_use
        algo_type: algo_type
        first_anticipate_avail: true
        link_station:
          ext: ext
          Temperature: 0.8851375
          mac: mac
        time_algo_changed: 7
        time_pid_computed: 3
        ext_temps:
          key: 6
        prefered_algo_type: prefered_algo_type
        pid_algo:
          td: 0
          period: 6
          ti: 4
          gain: 7
        station:
          lag_down: 6
          off_overshoot: 6.704019
          tau: 7
          lag_up: 5
          pk: 3
          on_overshoot: 3.3531933
        gefs:
          lag_down: 6
          off_overshoot: 6.704019
          tau: 7
          lag_up: 5
          pk: 3
          on_overshoot: 3.3531933
        last_compute_try:
          sec: 6
          usec: 3
        time:
          sec: 6
          usec: 3
        first_pid_avail: true
        ca:
          te: 1.284659006116532
          ti: 2
          so: so
      properties:
        algo_type:
          type: string
        ca:
          $ref: '#/components/schemas/NAHouseModelCa'
        ext_temps:
          additionalProperties:
            format: int32
            type: integer
          type: object
        first_anticipate_avail:
          type: boolean
        first_pid_avail:
          type: boolean
        gefs:
          $ref: '#/components/schemas/NAStation'
        in_use:
          type: string
        last_compute_try:
          $ref: '#/components/schemas/NADate'
        link_station:
          $ref: '#/components/schemas/NALinkStation'
        pid_algo:
          $ref: '#/components/schemas/NAPidAlgo'
        prefered_algo_type:
          type: string
        simple_algo:
          $ref: '#/components/schemas/NASimpleAlgo'
        station:
          $ref: '#/components/schemas/NAStation'
        station_firsttime_anticipate:
          type: boolean
        time:
          $ref: '#/components/schemas/NADate'
        time_algo_changed:
          format: int32
          type: integer
        time_pid_computed:
          format: int32
          type: integer
    NAHouseModelCa:
      example:
        te: 1.284659006116532
        ti: 2
        so: so
      properties:
        so:
          type: string
        te:
          format: double
          type: number
        ti:
          format: int32
          type: integer
    NALinkStation:
      example:
        ext: ext
        Temperature: 0.8851375
        mac: mac
      properties:
        Temperature:
          format: float
          type: number
        ext:
          type: string
        mac:
          type: string
    NAMain:
      example:
        station_name: station_name
        cipher_id: cipher_id
        type: type
        modules:
        - last_seen: 2
          last_message: 3
          type: type
          reachable: true
          last_setup: 4
          battery_vp: 7
          rf_status: 7
          battery_percent: 2
          data_type:
          - data_type
          - data_type
          _id: _id
          dashboard_data:
            time_utc: 9
            Temperature: 7.386282
            Noise: 3.6160767
            CO2: 5.637377
            date_max_temp: 1
            Rain: 4.145608
            BoilerOn: 5
            min_temp: 9.36931
            Humidity: 9.301444
            max_temp: 5.025005
            sum_rain_24: 8.762042
            WindStrength: 1
            sum_rain_1: 6.6835623
            date_max_wind_str: 6
            date_min_temp: 7
            device_id: 1.1730742
            pressure_trend: pressure_trend
            temp_trend: temp_trend
            Pressure: 2.027123
            GustAngle: 2
            max_wind_str: 9
            BoilerOff: 1
            GustStrength: 7
            health_idx: 4
            AbsolutePressure: 6.0274563
            WindAngle: 1
          module_name: module_name
          firmware: 9
        - last_seen: 2
          last_message: 3
          type: type
          reachable: true
          last_setup: 4
          battery_vp: 7
          rf_status: 7
          battery_percent: 2
          data_type:
          - data_type
          - data_type
          _id: _id
          dashboard_data:
            time_utc: 9
            Temperature: 7.386282
            Noise: 3.6160767
            CO2: 5.637377
            date_max_temp: 1
            Rain: 4.145608
            BoilerOn: 5
            min_temp: 9.36931
            Humidity: 9.301444
            max_temp: 5.025005
            sum_rain_24: 8.762042
            WindStrength: 1
            sum_rain_1: 6.6835623
            date_max_wind_str: 6
            date_min_temp: 7
            device_id: 1.1730742
            pressure_trend: pressure_trend
            temp_trend: temp_trend
            Pressure: 2.027123
            GustAngle: 2
            max_wind_str: 9
            BoilerOff: 1
            GustStrength: 7
            health_idx: 4
            AbsolutePressure: 6.0274563
            WindAngle: 1
          module_name: module_name
          firmware: 9
        reachable: true
        date_setup: 0
        last_setup: 1
        last_upgrade: 5
        co2_calibrating: true
        read_only: true
        wifi_status: 1
        data_type:
        - data_type
        - data_type
        _id: _id
        dashboard_data:
          time_utc: 9
          Temperature: 7.386282
          Noise: 3.6160767
          CO2: 5.637377
          date_max_temp: 1
          Rain: 4.145608
          BoilerOn: 5
          min_temp: 9.36931
          Humidity: 9.301444
          max_temp: 5.025005
          sum_rain_24: 8.762042
          WindStrength: 1
          sum_rain_1: 6.6835623
          date_max_wind_str: 6
          date_min_temp: 7
          device_id: 1.1730742
          pressure_trend: pressure_trend
          temp_trend: temp_trend
          Pressure: 2.027123
          GustAngle: 2
          max_wind_str: 9
          BoilerOff: 1
          GustStrength: 7
          health_idx: 4
          AbsolutePressure: 6.0274563
          WindAngle: 1
        module_name: module_name
        place:
          altitude: 0.20253241
          country: country
          city: city
          timezone: timezone
          improveLocProposed: true
          location:
          - 6.628464275087742
          - 6.628464275087742
          trust_location: true
          from_ip: true
        favorite: true
        firmware: 6
        last_status_store: 5
      properties:
        _id:
          type: string
        cipher_id:
          type: string
        co2_calibrating:
          type: boolean
        dashboard_data:
          $ref: '#/components/schemas/NADashboardData'
        data_type:
          items:
            type: string
          type: array
        date_setup:
          format: int32
          type: integer
        favorite:
          description: true when the device is a user favorite and not owned by them
          type: boolean
        firmware:
          format: int32
          type: integer
        last_setup:
          format: int32
          type: integer
        last_status_store:
          format: int32
          type: integer
        last_upgrade:
          format: int32
          type: integer
        module_name:
          type: string
        modules:
          items:
            $ref: '#/components/schemas/NAStationModule'
          type: array
        place:
          $ref: '#/components/schemas/NAPlace'
        reachable:
          description: true when the station was seen by the Netatmo cloud within
            the last 4 hours
          type: boolean
        read_only:
          description: "true when the user was invited to (or has favorited) a station,\
            \ false when the user owns it"
          type: boolean
        station_name:
          type: string
        type:
          description: |
            Included in every device or module. It defines the type of the device/module. Its values are among :
            NAMain : for the base station
            NAModule1 : for the outdoor module
            NAModule4 : for the additionnal indoor module
            NAModule3 : for the rain gauge module
            NAPlug : for the thermostat relay/plug
            NATherm1 : for the thermostat module
          type: string
        wifi_status:
          description: |
            It contains the current wifi status. The different thresholds to take into account are
            RSSI_THRESHOLD_0 = 86 bad signal
            RSSI_THRESHOLD_1 = 71 middle quality signal
            RSSI_THRESHOLD_2 = 56 good signal
          format: int32
          type: integer
    NAMeasure:
      example:
        wind_angle: 3.616076749251911
        res:
          key:
          - 9.301444243932576
          - 9.301444243932576
        rain_24h: 5.962133916683182
        rain_utc: 7
        rain_60min: 5.637376656633329
        gust_angle: 6.027456183070403
        gust_strength: 1.4658129805029452
        rain_live: 2.3021358869347655
        type:
        - type
        - type
        wind_strength: 2.027123023002322
        wind_timeutc": 4
      properties:
        gust_angle:
          type: number
        gust_strength:
          type: number
        rain_24h:
          type: number
        rain_60min:
          type: number
        rain_live:
          type: number
        rain_utc:
          format: int64
          type: integer
        res:
          additionalProperties:
            items:
              format: double
              type: number
            type: array
          type: object
        type:
          items:
            type: string
          type: array
        wind_angle:
          type: number
        wind_strength:
          type: number
        wind_timeutc":
          format: int64
          type: integer
    NAMeasureBodyElem:
      example:
        beg_time: 0
        step_time: 6
        value:
        - - 1.4658129
          - 1.4658129
        - - 1.4658129
          - 1.4658129
      properties:
        beg_time:
          format: int32
          type: integer
        step_time:
          format: int32
          type: integer
        value:
          items:
            items:
              format: float
              type: number
            type: array
          type: array
    NAMeasureResponse:
      example:
        time_server: 5
        time_exec: 5.962133916683182
        body:
        - beg_time: 0
          step_time: 6
          value:
          - - 1.4658129
            - 1.4658129
          - - 1.4658129
            - 1.4658129
        - beg_time: 0
          step_time: 6
          value:
          - - 1.4658129
            - 1.4658129
          - - 1.4658129
            - 1.4658129
        status: ok
      properties:
        body:
          items:
            $ref: '#/components/schemas/NAMeasureBodyElem'
          type: array
        status:
          example: ok
          type: string
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
    NAModule:
      example:
        last_seen: 6
        therm_orientation: 4
        last_message: 4
        type: type
        date_setup:
          sec: 6
          usec: 3
        battery_vp: 7
        rf_status: 8
        public_ext_data: true
        battery_percent: 0
        data_type:
        - data_type
        - data_type
        therm_relay_cmd: 3
        _id: _id
        dashboard_data:
          time_utc: 9
          Temperature: 7.386282
          Noise: 3.6160767
          CO2: 5.637377
          date_max_temp: 1
          Rain: 4.145608
          BoilerOn: 5
          min_temp: 9.36931
          Humidity: 9.301444
          max_temp: 5.025005
          sum_rain_24: 8.762042
          WindStrength: 1
          sum_rain_1: 6.6835623
          date_max_wind_str: 6
          date_min_temp: 7
          device_id: 1.1730742
          pressure_trend: pressure_trend
          temp_trend: temp_trend
          Pressure: 2.027123
          GustAngle: 2
          max_wind_str: 9
          BoilerOff: 1
          GustStrength: 7
          health_idx: 4
          AbsolutePressure: 6.0274563
          WindAngle: 1
        module_name: module_name
        firmware: 5
        main_device: main_device
      properties:
        _id:
          type: string
        battery_percent:
          description: It contains the current battery level in percentage.
          format: int32
          type: integer
        battery_vp:
          description: "It contains the current battery status. The threshold depends\
            \ on the kind of module, below is the list of the different threshold\
            \ to take into account according the module type.\n\"Indoor module Battery\
            \ range: 6000 ... 4200\" |\nINDOOR_BATTERY_LEVEL_FULL = 5640\nINDOOR_BATTERY_LEVEL_HIGH\
            \ = 5280\nINDOOR_BATTERY_LEVEL_MEDIUM = 4920\nINDOOR_BATTERY_LEVEL_LOW\
            \ = 4560\n\"Below 4560: very low\" |\n    \n\"Raingauge and outdoor module\
            \ Battery range: 6000 ... 3600\" |\nBATTERY_LEVEL_FULL = 5500\nBATTERY_LEVEL_HIGH\
            \ = 5000\nBATTERY_LEVEL_MEDIUM = 4500\nBATTERY_LEVEL_LOW = 4000\n\"Below\
            \ 4000: very low\" |\n    \n\"Thermostat Battery range: 4500 ... 3000\"\
            \ |\nTHERMOSTAT_BATTERY_LEVEL_FULL = 4100\nTHERMOSTAT_BATTERY_LEVEL_HIGH\
            \ = 3600\nTHERMOSTAT_BATTERY_LEVEL_MEDIUM = 3300\nTHERMOSTAT_BATTERY_LEVEL_LOW\
            \ = 3000\n\"Below 3000: very low\"\n"
          format: int32
          type: integer
        dashboard_data:
          $ref: '#/components/schemas/NADashboardData'
        data_type:
          items:
            type: string
          type: array
        date_setup:
          $ref: '#/components/schemas/NADate'
        firmware:
          format: int32
          type: integer
        last_message:
          format: int32
          type: integer
        last_seen:
          format: int32
          type: integer
        main_device:
          type: string
        module_name:
          type: string
        public_ext_data:
          type: boolean
        rf_status:
          description: "\"It contains the current radio status. The different thresholds\
            \ to take into account are :\" |\nRADIO_THRESHOLD_SIGNAL_LOW = 90 \nRADIO_THRESHOLD_SIGNAL_MEDIUM\
            \ = 80\nRADIO_THRESHOLD_SIGNAL_HIGH = 70\nRADIO_THRESHOLD_SIGNAL_FULL\
            \ = 60\n"
          format: int32
          type: integer
        therm_orientation:
          format: int32
          type: integer
        therm_relay_cmd:
          format: int32
          type: integer
        type:
          description: |
            Included in every device or module. It defines the type of the device/module. Its values are among :
            NAMain : for the base station
            NAModule1 : for the outdoor module
            NAModule4 : for the additionnal indoor module
            NAModule3 : for the rain gauge module
            NAPlug : for the thermostat relay/plug
            NATherm1 : for the thermostat module
          type: string
    NANewScheduleBody:
      example:
        schedule_id: schedule_id
      properties:
        schedule_id:
          description: "Id of the schedule. It can be use with the method \"switchschedule\"\
            \ \n"
          type: string
    NANewScheduleResponse:
      example:
        time_server: 6
        time_exec: 0.8008281904610115
        body:
          schedule_id: schedule_id
        status: ok
      properties:
        body:
          $ref: '#/components/schemas/NANewScheduleBody'
        status:
          example: ok
          type: string
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
    NAObject:
      example:
        $id: $id
      properties:
        $id:
          type: string
    NAOkResponse:
      example:
        time_server: 6
        time_exec: 0.8008281904610115
        body: body
        status: ok
      properties:
        body:
          type: string
        status:
          example: ok
          type: string
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
    NAPartnerDevicesResponse:
      example:
        time_server: 6
        time_exec: 0.8008281904610115
        body:
        - body
        - body
        status: ok
      properties:
        body:
          items:
            type: string
          type: array
        status:
          example: ok
          type: string
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
    NAPidAlgo:
      example:
        td: 0
        period: 6
        ti: 4
        gain: 7
      properties:
        gain:
          format: int32
          type: integer
        period:
          format: int32
          type: integer
        td:
          format: int32
          type: integer
        ti:
          format: int32
          type: integer
    NAPlace:
      example:
        altitude: 0.20253241
        country: country
        city: city
        timezone: timezone
        improveLocProposed: true
        location:
        - 6.628464275087742
        - 6.628464275087742
        trust_location: true
        from_ip: true
      properties:
        altitude:
          format: float
          type: number
        city:
          type: string
        country:
          type: string
        from_ip:
          type: boolean
[...]
