openapi: 3.0.1
info:
  description: Mixed Reality Resource Provider Remote Rendering Resource API
  title: Mixed Reality
  version: 2019-12-02-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/remote-rendering.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: mixedreality-remote-rendering
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/remoteRenderingAccounts:
    get:
      description: List Remote Rendering Accounts by Subscription
      operationId: RemoteRenderingAccounts_ListBySubscription
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccountPage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      - Proxy
      x-ms-examples:
        List remote rendering accounts by subscription:
          parameters:
            api-version: 2019-02-28-preview
            resourceType: RemoteRenderingAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                nextLink: https://aka.ms/&^FDKKAR
                value:
                - id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/RemoteRenderingAccounts/MyAccount
                  location: eastus2euap
                  name: MyAccount
                  properties:
                    accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                  tags: {}
                  type: Microsoft.MixedReality/RemoteRenderingAccounts
                - id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/RemoteRenderingAccounts/omega
                  location: eastus2euap
                  name: omega
                  properties:
                    accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                  tags: {}
                  type: Microsoft.MixedReality/RemoteRenderingAccounts
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts:
    get:
      description: List Resources by Resource Group
      operationId: RemoteRenderingAccounts_ListByResourceGroup
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccountPage'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        List remote rendering accounts by resource group:
          parameters:
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: RemoteRenderingAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                nextLink: https://aka.ms/&^FDKKAR
                value:
                - id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/RemoteRenderingAccounts/MyAccount
                  location: eastus2euap
                  name: MyAccount
                  properties:
                    accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                  tags: {}
                  type: Microsoft.MixedReality/RemoteRenderingAccounts
                - id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/RemoteRenderingAccounts/omega
                  location: eastus2euap
                  name: omega
                  properties:
                    accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                  tags: {}
                  type: Microsoft.MixedReality/RemoteRenderingAccounts
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts/{accountName}
  : delete:
      description: Delete a Remote Rendering Account.
      operationId: RemoteRenderingAccounts_Delete
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        Delete remote rendering account:
          parameters:
            accountName: MyAccount
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: RemoteRenderingAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200": {}
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Retrieve a Remote Rendering Account.
      operationId: RemoteRenderingAccounts_Get
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        Get remote rendering account:
          parameters:
            accountName: MyAccount
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: RemoteRenderingAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/RemoteRenderingAccounts/MyAccount
                location: eastus2euap
                name: MyAccount
                properties:
                  accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                tags: {}
                type: Microsoft.MixedReality/RemoteRenderingAccounts
      x-accepts:
      - application/json
    patch:
      description: Updating a Remote Rendering Account
      operationId: RemoteRenderingAccounts_Update
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteRenderingAccount'
        description: Remote Rendering Account parameter.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccount'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        Update remote rendering account:
          parameters:
            accountName: MyAccount
            api-version: 2019-02-28-preview
            remoteRenderingAccount:
              Tags:
                hero: romeo
                heroine: juliet
            resourceGroupName: MyResourceGroup
            resourceType: RemoteRenderingAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/RemoteRenderingAccounts/MyAccount
                location: eastus2euap
                name: MyAccount
                properties:
                  accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                tags:
                  hero: romeo
                  heroine: juliet
                type: Microsoft.MixedReality/RemoteRenderingAccounts
      x-codegen-request-body-name: remoteRenderingAccount
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creating or Updating a Remote Rendering Account.
      operationId: RemoteRenderingAccounts_Create
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteRenderingAccount'
        description: Remote Rendering Account parameter.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccount'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccount'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Resource
      x-ms-examples:
        Create remote rendering account:
          parameters:
            accountName: MyAccount
            api-version: 2019-02-28-preview
            remoteRenderingAccount:
              location: eastus2euap
            resourceGroupName: MyResourceGroup
            resourceType: RemoteRenderingAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/RemoteRenderingAccounts/MyAccount
                location: MyAccount
                name: MyAccount
                properties:
                  accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                tags: {}
                type: Microsoft.MixedReality/RemoteRenderingAccounts
            "201":
              body:
                id: /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/MyResourceGroup/providers/Microsoft.MixedReality/RemoteRenderingAccounts/MyAccount
                location: eastus2euap
                name: MyAccount
                properties:
                  accountId: 5007a881-6fb4-4c93-be52-942e355944a5
                tags: {}
                type: Microsoft.MixedReality/RemoteRenderingAccounts
      x-codegen-request-body-name: remoteRenderingAccount
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/remoteRenderingAccounts/{accountName}/keys
  : get:
      description: Get Both of the 2 Keys of a Remote Rendering Account
      operationId: RemoteRenderingAccounts_GetKeys
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccounts_GetKeys_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Key
      x-ms-examples:
        Get remote rendering account key:
          parameters:
            accountName: MyAccount
            api-version: 2019-02-28-preview
            resourceGroupName: MyResourceGroup
            resourceType: RemoteRenderingAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                primaryKey: vMAlcI/j25TwDs8hjTorto3JQkoiqZAXKsFq0rYnSNc=
                secondaryKey: N4umIGhJt8LgnMMMBpwFOxVOS9zpxHxSHy1TJhN3hU4=
      x-accepts:
      - application/json
    post:
      description: Regenerate specified Key of a Remote Rendering Account
      operationId: RemoteRenderingAccounts_RegenerateKeys
      parameters:
      - description: Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of an Mixed Reality Account.
        in: path
        name: accountName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteRenderingAccounts_RegenerateKeys_request'
        description: Required information for key regeneration.
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccounts_GetKeys_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteRenderingAccounts_ListBySubscription_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Key
      x-ms-examples:
        Regenerate remote rendering account keys:
          parameters:
            accountName: MyAccount
            api-version: 2019-02-28-preview
            regenerate:
              serial: 1
            resourceGroupName: MyResourceGroup
            resourceType: RemoteRenderingAccount
            subscriptionId: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
          responses:
            "200":
              body:
                primaryKey: vMAlcI/j25TwDs8hjTorto3JQkoiqZAXKsFq0rYnSNc=
                secondaryKey: N4umIGhJt8LgnMMMBpwFOxVOS9zpxHxSHy1TJhN3hU4=
      x-codegen-request-body-name: regenerate
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  requestBodies:
    remoteRenderingAccountParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RemoteRenderingAccount'
      description: Remote Rendering Account parameter.
      required: true
      x-ms-parameter-location: method
  schemas:
    RemoteRenderingAccount:
      allOf:
      - allOf:
        - properties:
            id:
              description: "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
              readOnly: true
              type: string
            name:
              description: The name of the resource
              readOnly: true
              type: string
            type:
              description: The type of the resource. Ex- Microsoft.Compute/virtualMachines
                or Microsoft.Storage/storageAccounts.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The geo-location where the resource lives
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
            - read
            - create
            - update
        required:
        - location
      description: RemoteRenderingAccount Response.
      example:
        properties: "{}"
      properties:
        properties:
          description: Common Properties shared by Mixed Reality Accounts
          properties:
            accountDomain:
              description: Correspond domain name of certain Spatial Anchors Account
              readOnly: true
              type: string
            accountId:
              description: unique id of certain account.
              readOnly: true
              type: string
          type: object
    RemoteRenderingAccountPage:
      description: Result of the request to get resource collection. It contains a
        list of resources and a URL link to get the next set of results.
      example:
        value:
        - properties: "{}"
        - properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of resource list results if there are
            any.
          type: string
        value:
          description: List of resources supported by the Resource Provider.
          items:
            $ref: '#/components/schemas/RemoteRenderingAccount'
          type: array
      type: object
    RemoteRenderingAccounts_ListBySubscription_default_response:
      description: Response on Error
      example:
        code: code
        details: details
        message: message
        target: target
      properties:
        code:
          description: String that can be used to programmatically identify the error.
          type: string
        details:
          description: "An array of JSON objects that MUST contain name/value pairs\
            \ for code and message, and MAY contain a name/value pair for target,\
            \ as described above.The contents of this section are service-defined\
            \ but must adhere to the aforementioned schema."
          type: string
        message:
          description: Describes the error in detail and provides debugging information
          type: string
        target:
          description: The target of the particular error
          type: string
      required:
      - code
      - message
      type: object
    RemoteRenderingAccounts_GetKeys_200_response:
      description: Developer Keys of account
      example:
        secondaryKey: secondaryKey
        primaryKey: primaryKey
      properties:
        primaryKey:
          description: value of primary key.
          readOnly: true
          type: string
        secondaryKey:
          description: value of secondary key.
          readOnly: true
          type: string
      type: object
    RemoteRenderingAccounts_RegenerateKeys_request:
      description: Request for account key regeneration
      properties:
        serial:
          description: serial of key to be regenerated
          type: integer
          x-ms-enum:
            name: Serial
            values:
            - description: The Primary Key
              name: Primary
              value: 1
            - description: The Secondary Key
              name: Secondary
              value: 2
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

