openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "The Poly API provides read access to assets hosted on poly.google.com\
    \ to all, and upload access to poly.google.com for whitelisted accounts. "
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Poly API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.4
    format: google
    url: https://poly.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: poly
externalDocs:
  url: https://developers.google.com/poly/
servers:
- url: https://poly.googleapis.com/
tags:
- name: assets
- name: users
paths:
  /v1/assets:
    get:
      description: "Lists all public, remixable assets. These are assets with an access\
        \ level of PUBLIC and published under the CC-By license."
      operationId: poly_assets_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Filter assets based on the specified category. Supported values\
          \ are: `animals`, `architecture`, `art`, `food`, `nature`, `objects`, `people`,\
          \ `scenes`, `technology`, and `transport`."
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: Return only assets that have been curated by the Poly team.
        explode: true
        in: query
        name: curated
        required: false
        schema:
          type: boolean
        style: form
      - description: "Return only assets with the matching format. Acceptable values\
          \ are: `BLOCKS`, `FBX`, `GLTF`, `GLTF2`, `OBJ`, `TILT`."
        explode: true
        in: query
        name: format
        required: false
        schema:
          type: string
        style: form
      - description: "One or more search terms to be matched against all text that\
          \ Poly has indexed for assets, which includes display_name, description,\
          \ and tags. Multiple keywords should be separated by spaces."
        explode: true
        in: query
        name: keywords
        required: false
        schema:
          type: string
        style: form
      - description: "Returns assets that are of the specified complexity or less.\
          \ Defaults to COMPLEX. For example, a request for MEDIUM assets also includes\
          \ SIMPLE assets."
        explode: true
        in: query
        name: maxComplexity
        required: false
        schema:
          enum:
          - COMPLEXITY_UNSPECIFIED
          - COMPLEX
          - MEDIUM
          - SIMPLE
          type: string
        style: form
      - description: "Specifies an ordering for assets. Acceptable values are: `BEST`,\
          \ `NEWEST`, `OLDEST`. Defaults to `BEST`, which ranks assets based on a\
          \ combination of popularity and other features."
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of assets to be returned. This value must
          be between `1` and `100`. Defaults to `20`.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Specifies a continuation token from a previous search whose\
          \ results were split into multiple pages. To get the next page, submit the\
          \ same request specifying the value from next_page_token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssetsResponse'
          description: Successful response
      tags:
      - assets
      x-openapi-router-controller: openapi_server.controllers.assets_controller
  /v1/{name}:
    get:
      description: Returns detailed information about an asset given its name. PRIVATE
        assets are returned only if the currently authenticated user (via OAuth token)
        is the author of the asset.
      operationId: poly_assets_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. An asset's name in the form `assets/{ASSET_ID}`."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: Successful response
      tags:
      - assets
      x-openapi-router-controller: openapi_server.controllers.assets_controller
  /v1/{name}/assets:
    get:
      description: "Lists assets authored by the given user. Only the value 'me',\
        \ representing the currently-authenticated user, is supported. May include\
        \ assets with an access level of PRIVATE or UNLISTED and assets which are\
        \ All Rights Reserved for the currently-authenticated user."
      operationId: poly_users_assets_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "A valid user id. Currently, only the special value 'me', representing\
          \ the currently-authenticated user is supported. To use 'me', you must pass\
          \ an OAuth token with the request."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "Return only assets with the matching format. Acceptable values\
          \ are: `BLOCKS`, `FBX`, `GLTF`, `GLTF2`, `OBJ`, and `TILT`."
        explode: true
        in: query
        name: format
        required: false
        schema:
          type: string
        style: form
      - description: "Specifies an ordering for assets. Acceptable values are: `BEST`,\
          \ `NEWEST`, `OLDEST`. Defaults to `BEST`, which ranks assets based on a\
          \ combination of popularity and other features."
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of assets to be returned. This value must
          be between `1` and `100`. Defaults to `20`.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Specifies a continuation token from a previous search whose\
          \ results were split into multiple pages. To get the next page, submit the\
          \ same request specifying the value from next_page_token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: The visibility of the assets to be returned. Defaults to VISIBILITY_UNSPECIFIED
          which returns all assets.
        explode: true
        in: query
        name: visibility
        required: false
        schema:
          enum:
          - VISIBILITY_UNSPECIFIED
          - PUBLISHED
          - PRIVATE
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserAssetsResponse'
          description: Successful response
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /v1/{name}/likedassets:
    get:
      description: "Lists assets that the user has liked. Only the value 'me', representing\
        \ the currently-authenticated user, is supported. May include assets with\
        \ an access level of UNLISTED."
      operationId: poly_users_likedassets_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "A valid user id. Currently, only the special value 'me', representing\
          \ the currently-authenticated user is supported. To use 'me', you must pass\
          \ an OAuth token with the request."
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "Return only assets with the matching format. Acceptable values\
          \ are: `BLOCKS`, `FBX`, `GLTF`, `GLTF2`, `OBJ`, `TILT`."
        explode: true
        in: query
        name: format
        required: false
        schema:
          type: string
        style: form
      - description: "Specifies an ordering for assets. Acceptable values are: `BEST`,\
          \ `NEWEST`, `OLDEST`, 'LIKED_TIME'. Defaults to `LIKED_TIME`, which ranks\
          \ assets based on how recently they were liked."
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of assets to be returned. This value must
          be between `1` and `100`. Defaults to `20`.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Specifies a continuation token from a previous search whose\
          \ results were split into multiple pages. To get the next page, submit the\
          \ same request specifying the value from next_page_token."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLikedAssetsResponse'
          description: Successful response
      tags:
      - users
      x-openapi-router-controller: openapi_server.controllers.users_controller
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Asset:
      description: "Represents and describes an asset in the Poly library. An asset\
        \ is a 3D model or scene created using [Tilt Brush](//www.tiltbrush.com),\
        \ [Blocks](//vr.google.com/blocks/), or any 3D program that produces a file\
        \ that can be upload to Poly."
      example:
        presentationParams:
          colorSpace: UNKNOWN
          backgroundColor: backgroundColor
          orientingRotation:
            w: 6.027456183070403
            x: 1.4658129805029452
            "y": 5.962133916683182
            z: 5.637376656633329
        metadata: metadata
        thumbnail:
          relativePath: relativePath
          contentType: contentType
          url: url
        formats:
        - formatComplexity:
            lodHint: 0
            triangleCount: triangleCount
          root:
            relativePath: relativePath
            contentType: contentType
            url: url
          resources:
          - relativePath: relativePath
            contentType: contentType
            url: url
          - relativePath: relativePath
            contentType: contentType
            url: url
          formatType: formatType
        - formatComplexity:
            lodHint: 0
            triangleCount: triangleCount
          root:
            relativePath: relativePath
            contentType: contentType
            url: url
          resources:
          - relativePath: relativePath
            contentType: contentType
            url: url
          - relativePath: relativePath
            contentType: contentType
            url: url
          formatType: formatType
        visibility: VISIBILITY_UNSPECIFIED
        displayName: displayName
        description: description
        updateTime: updateTime
        license: UNKNOWN
        createTime: createTime
        remixInfo:
          sourceAsset:
          - sourceAsset
          - sourceAsset
        authorName: authorName
        name: name
        isCurated: true
      properties:
        authorName:
          description: "The author's publicly visible name. Use this name when giving\
            \ credit to the author. For more information, see [Licensing](/poly/discover/licensing)."
          title: authorName
          type: string
        createTime:
          description: "For published assets, the time when the asset was published.\
            \ For unpublished assets, the time when the asset was created."
          format: google-datetime
          title: createTime
          type: string
        description:
          description: "The human-readable description, set by the asset's author."
          title: description
          type: string
        displayName:
          description: "The human-readable name, set by the asset's author."
          title: displayName
          type: string
        formats:
          description: A list of Formats where each format describes one representation
            of the asset.
          items:
            $ref: '#/components/schemas/Format'
          title: formats
          type: array
        isCurated:
          description: Whether this asset has been curated by the Poly team.
          title: isCurated
          type: boolean
        license:
          description: "The license under which the author has made the asset available\
            \ for use, if any."
          enum:
          - UNKNOWN
          - CREATIVE_COMMONS_BY
          - ALL_RIGHTS_RESERVED
          title: license
          type: string
        metadata:
          description: "Application-defined opaque metadata for this asset. This field\
            \ is only returned when querying for the signed-in user's own assets,\
            \ not for public assets. This string is limited to 1K chars. It is up\
            \ to the creator of the asset to define the format for this string (for\
            \ example, JSON)."
          title: metadata
          type: string
        name:
          description: "The unique identifier for the asset in the form: `assets/{ASSET_ID}`."
          title: name
          type: string
        presentationParams:
          $ref: '#/components/schemas/PresentationParams'
        remixInfo:
          $ref: '#/components/schemas/RemixInfo'
        thumbnail:
          $ref: '#/components/schemas/File'
        updateTime:
          description: "The time when the asset was last modified. For published assets,\
            \ whose contents are immutable, the update time changes only when metadata\
            \ properties, such as visibility, are updated."
          format: google-datetime
          title: updateTime
          type: string
        visibility:
          description: The visibility of the asset and who can access it.
          enum:
          - VISIBILITY_UNSPECIFIED
          - PRIVATE
          - UNLISTED
          - PUBLIC
          title: visibility
          type: string
      title: Asset
      type: object
    AssetImportMessage:
      description: A message generated by the asset import process.
      properties:
        code:
          description: The code associated with this message.
          enum:
          - CODE_UNSPECIFIED
          - NO_IMPORTABLE_FILE
          - EMPTY_MODEL
          - OBJ_PARSE_ERROR
          - EXPIRED
          - IMAGE_ERROR
          - EXTRA_FILES_WITH_ARCHIVE
          - DEFAULT_MATERIALS
          - FATAL_ERROR
          - INVALID_ELEMENT_TYPE
          title: code
          type: string
        filePath:
          description: An optional file path. Only present for those error codes that
            specify it.
          title: filePath
          type: string
        imageError:
          $ref: '#/components/schemas/ImageError'
        objParseError:
          $ref: '#/components/schemas/ObjParseError'
      title: AssetImportMessage
      type: object
    File:
      description: "Represents a file in Poly, which can be a root, resource, or thumbnail\
        \ file."
      example:
        relativePath: relativePath
        contentType: contentType
        url: url
      properties:
        contentType:
          description: "The MIME content-type, such as `image/png`. For more information,\
            \ see [MIME types](//developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types)."
          title: contentType
          type: string
        relativePath:
          description: "The path of the resource file relative to the root file. For\
            \ root or thumbnail files, this is just the filename."
          title: relativePath
          type: string
        url:
          description: The URL where the file data can be retrieved.
          title: url
          type: string
      title: File
      type: object
    Format:
      description: "The same asset can be represented in different formats, for example,\
        \ a [WaveFront .obj](//en.wikipedia.org/wiki/Wavefront_.obj_file) file with\
        \ its corresponding .mtl file or a [Khronos glTF](//www.khronos.org/gltf)\
        \ file with its corresponding .glb binary data. A format refers to a specific\
        \ representation of an asset and contains all information needed to retrieve\
        \ and describe this representation."
      example:
        formatComplexity:
          lodHint: 0
          triangleCount: triangleCount
        root:
          relativePath: relativePath
          contentType: contentType
          url: url
        resources:
        - relativePath: relativePath
          contentType: contentType
          url: url
        - relativePath: relativePath
          contentType: contentType
          url: url
        formatType: formatType
      properties:
        formatComplexity:
          $ref: '#/components/schemas/FormatComplexity'
        formatType:
          description: "A short string that identifies the format type of this representation.\
            \ Possible values are: `FBX`, `GLTF`, `GLTF2`, `OBJ`, and `TILT`."
          title: formatType
          type: string
        resources:
          description: "A list of dependencies of the root element. May include, but\
            \ is not limited to, materials, textures, and shader programs."
          items:
            $ref: '#/components/schemas/File'
          title: resources
          type: array
        root:
          $ref: '#/components/schemas/File'
      title: Format
      type: object
    FormatComplexity:
      description: Information on the complexity of this Format.
      example:
        lodHint: 0
        triangleCount: triangleCount
      properties:
        lodHint:
          description: A non-negative integer that represents the level of detail
            (LOD) of this format relative to other formats of the same asset with
            the same format_type. This hint allows you to sort formats from the most-detailed
            (0) to least-detailed (integers greater than 0).
          format: int32
          title: lodHint
          type: integer
        triangleCount:
          description: The estimated number of triangles.
          format: int64
          title: triangleCount
          type: string
      title: FormatComplexity
      type: object
    ImageError:
      description: A message resulting from reading an image file.
      properties:
        code:
          description: The type of image error encountered. Optional for older image
            errors.
          enum:
          - CODE_UNSPECIFIED
          - INVALID_IMAGE
          - IMAGE_TOO_BIG
          - WRONG_IMAGE_TYPE
          title: code
          type: string
        filePath:
          description: The file path in the import of the image that was rejected.
          title: filePath
          type: string
      title: ImageError
      type: object
    ListAssetsResponse:
      description: A response message from a request to list.
      example:
        assets:
        - presentationParams:
            colorSpace: UNKNOWN
            backgroundColor: backgroundColor
            orientingRotation:
              w: 6.027456183070403
              x: 1.4658129805029452
              "y": 5.962133916683182
              z: 5.637376656633329
          metadata: metadata
          thumbnail:
            relativePath: relativePath
            contentType: contentType
            url: url
          formats:
          - formatComplexity:
              lodHint: 0
              triangleCount: triangleCount
            root:
              relativePath: relativePath
              contentType: contentType
              url: url
            resources:
            - relativePath: relativePath
              contentType: contentType
              url: url
            - relativePath: relativePath
              contentType: contentType
              url: url
            formatType: formatType
          - formatComplexity:
              lodHint: 0
              triangleCount: triangleCount
            root:
              relativePath: relativePath
              contentType: contentType
              url: url
            resources:
            - relativePath: relativePath
              contentType: contentType
              url: url
            - relativePath: relativePath
              contentType: contentType
              url: url
            formatType: formatType
          visibility: VISIBILITY_UNSPECIFIED
          displayName: displayName
          description: description
          updateTime: updateTime
          license: UNKNOWN
          createTime: createTime
          remixInfo:
            sourceAsset:
            - sourceAsset
            - sourceAsset
          authorName: authorName
          name: name
          isCurated: true
        - presentationParams:
            colorSpace: UNKNOWN
            backgroundColor: backgroundColor
            orientingRotation:
              w: 6.027456183070403
              x: 1.4658129805029452
              "y": 5.962133916683182
              z: 5.637376656633329
          metadata: metadata
          thumbnail:
            relativePath: relativePath
            contentType: contentType
            url: url
          formats:
          - formatComplexity:
              lodHint: 0
              triangleCount: triangleCount
            root:
              relativePath: relativePath
              contentType: contentType
              url: url
            resources:
            - relativePath: relativePath
              contentType: contentType
              url: url
            - relativePath: relativePath
              contentType: contentType
              url: url
            formatType: formatType
          - formatComplexity:
              lodHint: 0
              triangleCount: triangleCount
            root:
              relativePath: relativePath
              contentType: contentType
              url: url
            resources:
            - relativePath: relativePath
              contentType: contentType
              url: url
            - relativePath: relativePath
              contentType: contentType
              url: url
            formatType: formatType
          visibility: VISIBILITY_UNSPECIFIED
          displayName: displayName
          description: description
          updateTime: updateTime
          license: UNKNOWN
          createTime: createTime
          remixInfo:
            sourceAsset:
            - sourceAsset
            - sourceAsset
          authorName: authorName
          name: name
          isCurated: true
        totalSize: 2
        nextPageToken: nextPageToken
      properties:
        assets:
          description: A list of assets that match the criteria specified in the request.
          items:
            $ref: '#/components/schemas/Asset'
          title: assets
          type: array
        nextPageToken:
          description: "The continuation token for retrieving the next page. If empty,\
            \ indicates that there are no more pages. To get the next page, submit\
            \ the same request specifying this value as the page_token."
          title: nextPageToken
          type: string
        totalSize:
          description: "The total number of assets in the list, without pagination."
          format: int32
          title: totalSize
          type: integer
      title: ListAssetsResponse
      type: object
    ListLikedAssetsResponse:
      description: A response message from a request to list.
      example:
        assets:
        - presentationParams:
            colorSpace: UNKNOWN
            backgroundColor: backgroundColor
            orientingRotation:
              w: 6.027456183070403
              x: 1.4658129805029452
              "y": 5.962133916683182
              z: 5.637376656633329
          metadata: metadata
          thumbnail:
            relativePath: relativePath
            contentType: contentType
            url: url
          formats:
          - formatComplexity:
              lodHint: 0
              triangleCount: triangleCount
            root:
              relativePath: relativePath
              contentType: contentType
              url: url
            resources:
            - relativePath: relativePath
              contentType: contentType
              url: url
            - relativePath: relativePath
              contentType: contentType
              url: url
            formatType: formatType
          - formatComplexity:
              lodHint: 0
              triangleCount: triangleCount
            root:
              relativePath: relativePath
              contentType: contentType
              url: url
            resources:
            - relativePath: relativePath
              contentType: contentType
              url: url
            - relativePath: relativePath
              contentType: contentType
              url: url
            formatType: formatType
          visibility: VISIBILITY_UNSPECIFIED
          displayName: displayName
          description: description
          updateTime: updateTime
          license: UNKNOWN
          createTime: createTime
          remixInfo:
            sourceAsset:
            - sourceAsset
            - sourceAsset
          authorName: authorName
          name: name
          isCurated: true
        - presentationParams:
            colorSpace: UNKNOWN
            backgroundColor: backgroundColor
            orientingRotation:
              w: 6.027456183070403
              x: 1.4658129805029452
              "y": 5.962133916683182
              z: 5.637376656633329
          metadata: metadata
          thumbnail:
            relativePath: relativePath
            contentType: contentType
            url: url
          formats:
          - formatComplexity:
              lodHint: 0
              triangleCount: triangleCount
            root:
              relativePath: relativePath
              contentType: contentType
              url: url
            resources:
            - relativePath: relativePath
              contentType: contentType
              url: url
            - relativePath: relativePath
              contentType: contentType
              url: url
            formatType: formatType
          - formatComplexity:
              lodHint: 0
              triangleCount: triangleCount
            root:
              relativePath: relativePath
              contentType: contentType
              url: url
            resources:
            - relativePath: relativePath
              contentType: contentType
              url: url
            - relativePath: relativePath
              contentType: contentType
              url: url
            formatType: formatType
          visibility: VISIBILITY_UNSPECIFIED
          displayName: displayName
          description: description
          updateTime: updateTime
          license: UNKNOWN
          createTime: createTime
          remixInfo:
            sourceAsset:
            - sourceAsset
            - sourceAsset
          authorName: authorName
          name: name
          isCurated: true
        totalSize: 0
        nextPageToken: nextPageToken
      properties:
        assets:
          description: A list of assets that match the criteria specified in the request.
          items:
            $ref: '#/components/schemas/Asset'
          title: assets
          type: array
        nextPageToken:
          description: "The continuation token for retrieving the next page. If empty,\
            \ indicates that there are no more pages. To get the next page, submit\
            \ the same request specifying this value as the page_token."
          title: nextPageToken
          type: string
        totalSize:
          description: "The total number of assets in the list, without pagination."
          format: int32
          title: totalSize
          type: integer
      title: ListLikedAssetsResponse
      type: object
    ListUserAssetsResponse:
      description: A response message from a request to list.
      example:
        totalSize: 0
        nextPageToken: nextPageToken
        userAssets:
        - asset:
            presentationParams:
              colorSpace: UNKNOWN
              backgroundColor: backgroundColor
              orientingRotation:
                w: 6.027456183070403
                x: 1.4658129805029452
                "y": 5.962133916683182
                z: 5.637376656633329
            metadata: metadata
            thumbnail:
              relativePath: relativePath
              contentType: contentType
              url: url
            formats:
            - formatComplexity:
                lodHint: 0
                triangleCount: triangleCount
              root:
                relativePath: relativePath
                contentType: contentType
                url: url
              resources:
              - relativePath: relativePath
                contentType: contentType
                url: url
              - relativePath: relativePath
                contentType: contentType
                url: url
              formatType: formatType
            - formatComplexity:
                lodHint: 0
                triangleCount: triangleCount
              root:
                relativePath: relativePath
                contentType: contentType
                url: url
              resources:
              - relativePath: relativePath
                contentType: contentType
                url: url
              - relativePath: relativePath
                contentType: contentType
                url: url
              formatType: formatType
            visibility: VISIBILITY_UNSPECIFIED
            displayName: displayName
            description: description
            updateTime: updateTime
            license: UNKNOWN
            createTime: createTime
            remixInfo:
              sourceAsset:
              - sourceAsset
              - sourceAsset
            authorName: authorName
            name: name
            isCurated: true
        - asset:
            presentationParams:
              colorSpace: UNKNOWN
              backgroundColor: backgroundColor
              orientingRotation:
                w: 6.027456183070403
                x: 1.4658129805029452
                "y": 5.962133916683182
                z: 5.637376656633329
            metadata: metadata
            thumbnail:
              relativePath: relativePath
              contentType: contentType
              url: url
            formats:
            - formatComplexity:
                lodHint: 0
                triangleCount: triangleCount
              root:
                relativePath: relativePath
                contentType: contentType
                url: url
              resources:
              - relativePath: relativePath
                contentType: contentType
                url: url
              - relativePath: relativePath
                contentType: contentType
                url: url
              formatType: formatType
            - formatComplexity:
                lodHint: 0
                triangleCount: triangleCount
              root:
                relativePath: relativePath
                contentType: contentType
                url: url
              resources:
              - relativePath: relativePath
                contentType: contentType
                url: url
              - relativePath: relativePath
                contentType: contentType
                url: url
              formatType: formatType
            visibility: VISIBILITY_UNSPECIFIED
            displayName: displayName
            description: description
            updateTime: updateTime
            license: UNKNOWN
            createTime: createTime
            remixInfo:
              sourceAsset:
              - sourceAsset
              - sourceAsset
            authorName: authorName
            name: name
            isCurated: true
      properties:
        nextPageToken:
          description: "The continuation token for retrieving the next page. If empty,\
            \ indicates that there are no more pages. To get the next page, submit\
            \ the same request specifying this value as the page_token."
          title: nextPageToken
          type: string
        totalSize:
          description: "The total number of assets in the list, without pagination."
          format: int32
          title: totalSize
          type: integer
        userAssets:
          description: A list of UserAssets matching the request.
          items:
            $ref: '#/components/schemas/UserAsset'
          title: userAssets
          type: array
      title: ListUserAssetsResponse
      type: object
    ObjParseError:
      description: Details of an error resulting from parsing an OBJ file
      properties:
        code:
          description: The type of problem found (required).
          enum:
          - CODE_UNSPECIFIED
          - INCONSISTENT_VERTEX_REFS
          - INVALID_COMMAND
          - INVALID_NUMBER
          - INVALID_VERTEX_REF
          - MISSING_GEOMETRIC_VERTEX
          - MISSING_TOKEN
          - TOO_FEW_DIMENSIONS
          - TOO_FEW_VERTICES
          - TOO_MANY_DIMENSIONS
          - UNSUPPORTED_COMMAND
          - UNUSED_TOKENS
          - VERTEX_NOT_FOUND
          - NUMBER_OUT_OF_RANGE
          - INVALID_VALUE
          - INVALID_TEXTURE_OPTION
          - TOO_MANY_PROBLEMS
          - MISSING_FILE_NAME
          - FILE_NOT_FOUND
          - UNKNOWN_MATERIAL
          - NO_MATERIAL_DEFINED
          - INVALID_SMOOTHING_GROUP
          - MISSING_VERTEX_COLORS
          - FILE_SUBSTITUTION
          - LINE_TOO_LONG
          - INVALID_FILE_PATH
          title: code
          type: string
        endIndex:
          description: The ending character index at which the problem was found.
          format: int32
          title: endIndex
          type: integer
        filePath:
          description: The file path in which the problem was found.
          title: filePath
          type: string
        line:
          description: The text of the line. Note that this may be truncated if the
            line was very long. This may not include the error if it occurs after
            line truncation.
          title: line
          type: string
        lineNumber:
          description: Line number at which the problem was found.
          format: int32
          title: lineNumber
          type: integer
        startIndex:
          description: The starting character index at which the problem was found.
          format: int32
          title: startIndex
          type: integer
      title: ObjParseError
      type: object
    PresentationParams:
      description: "Hints for displaying the asset, based on information available\
        \ when the asset was uploaded."
      example:
        colorSpace: UNKNOWN
        backgroundColor: backgroundColor
        orientingRotation:
          w: 6.027456183070403
          x: 1.4658129805029452
          "y": 5.962133916683182
          z: 5.637376656633329
      properties:
        backgroundColor:
          description: "A background color which could be used for displaying the\
            \ 3D asset in a 'thumbnail' or 'palette' style view. Authors have the\
            \ option to set this background color when publishing or editing their\
            \ asset. This is represented as a six-digit hexademical triplet specifying\
            \ the RGB components of the background color, e.g. #FF0000 for Red."
          title: backgroundColor
          type: string
        colorSpace:
          description: The materials' diffuse/albedo color. This does not apply to
            vertex colors or texture maps.
          enum:
          - UNKNOWN
          - LINEAR
          - GAMMA
          title: colorSpace
          type: string
        orientingRotation:
          $ref: '#/components/schemas/Quaternion'
      title: PresentationParams
      type: object
    Quaternion:
      description: "A [Quaternion](//en.wikipedia.org/wiki/Quaternion). Please note:\
        \ if in the response you see \"w: 1\" and nothing else this is the default\
        \ value of [0, 0, 0, 1] where x,y, and z are 0."
      example:
        w: 6.027456183070403
        x: 1.4658129805029452
        "y": 5.962133916683182
        z: 5.637376656633329
      properties:
        w:
          description: The scalar component.
          format: double
          title: w
          type: number
        x:
          description: The x component.
          format: double
          title: x
          type: number
        "y":
          description: The y component.
          format: double
          title: "y"
          type: number
        z:
          description: The z component.
          format: double
          title: z
          type: number
      title: Quaternion
      type: object
    RemixInfo:
      description: Info about the sources of this asset (i.e. assets that were remixed
        to create this asset).
      example:
        sourceAsset:
        - sourceAsset
        - sourceAsset
      properties:
        sourceAsset:
          description: "Resource ids for the sources of this remix, of the form: `assets/{ASSET_ID}`"
          items:
            type: string
          title: sourceAsset
          type: array
      title: RemixInfo
      type: object
    StartAssetImportResponse:
      description: A response message from a request to startImport. This is returned
        in the response field of the Operation.
      properties:
        assetId:
          description: The id of newly created asset. If this is empty when the operation
            is complete it means the import failed. Please refer to the assetImportMessages
            field to understand what went wrong.
          type: string
        assetImportId:
          description: The id of the asset import.
          type: string
        assetImportMessages:
          description: The message from the asset import. This will contain any warnings
            (or - in the case of failure - errors) that occurred during import.
          items:
            $ref: '#/components/schemas/AssetImportMessage'
          type: array
        publishUrl:
          description: The publish URL for the asset.
          type: string
      type: object
    UserAsset:
      description: Data about the user's asset.
      example:
        asset:
          presentationParams:
            colorSpace: UNKNOWN
            backgroundColor: backgroundColor
            orientingRotation:
              w: 6.027456183070403
              x: 1.4658129805029452
              "y": 5.962133916683182
              z: 5.637376656633329
          metadata: metadata
          thumbnail:
            relativePath: relativePath
            contentType: contentType
            url: url
          formats:
          - formatComplexity:
              lodHint: 0
              triangleCount: triangleCount
            root:
              relativePath: relativePath
              contentType: contentType
              url: url
            resources:
            - relativePath: relativePath
              contentType: contentType
              url: url
            - relativePath: relativePath
              contentType: contentType
              url: url
            formatType: formatType
          - formatComplexity:
              lodHint: 0
              triangleCount: triangleCount
            root:
              relativePath: relativePath
              contentType: contentType
              url: url
            resources:
            - relativePath: relativePath
              contentType: contentType
              url: url
            - relativePath: relativePath
              contentType: contentType
              url: url
            formatType: formatType
          visibility: VISIBILITY_UNSPECIFIED
          displayName: displayName
          description: description
          updateTime: updateTime
          license: UNKNOWN
          createTime: createTime
          remixInfo:
            sourceAsset:
            - sourceAsset
            - sourceAsset
          authorName: authorName
          name: name
          isCurated: true
      properties:
        asset:
          $ref: '#/components/schemas/Asset'
      title: UserAsset
      type: object
