openapi: 3.0.1
info:
  description: "The Azure SQL Database management API provides a RESTful set of web\
    \ APIs that interact with Azure SQL Database services to manage your databases.\
    \ The API enables users to create, retrieve, update, and delete databases, servers,\
    \ and other entities."
  title: SqlManagementClient
  version: 2017-03-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/databases.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: sql-databases
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases:
    get:
      description: Gets a list of databases.
      operationId: databases_list_by_server
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseListResult'
          description: Successfully retrieved the list of databases.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
      - Databases
      x-ms-examples:
        Gets a list of databases.:
          parameters:
            api-version: 2017-03-01-preview
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                  kind: "v12.0,user"
                  location: southeastasia
                  name: testdb
                  properties:
                    catalogCollation: SQL_Latin1_General_CP1_CI_AS
                    collation: SQL_Latin1_General_CP1_CI_AS
                    creationDate: 2017-06-07T04:41:33.937Z
                    currentServiceObjectiveName: S0
                    databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                    defaultSecondaryLocation: North Europe
                    maxSizeBytes: 268435456000
                    status: Online
                  sku:
                    name: S0
                    tier: Standard
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/master
                  kind: "v12.0,system"
                  location: southeastasia
                  name: master
                  properties:
                    catalogCollation: SQL_Latin1_General_CP1_CI_AS
                    collation: SQL_Latin1_General_CP1_CI_AS
                    creationDate: 2017-06-07T04:23:42.537Z
                    currentServiceObjectiveName: System0
                    databaseId: e6be351f-2cc9-4604-9e52-b0b28b2710b0
                    defaultSecondaryLocation: North Europe
                    maxSizeBytes: 32212254720
                    status: Online
                  sku:
                    name: System0
                    tier: System
                  type: Microsoft.Sql/servers/databases
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}
  : delete:
      description: Deletes the database.
      operationId: databases_delete
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: Successfully deleted the database.
        "202":
          content: {}
          description: Deleting the database is in progress.
        "204":
          content: {}
          description: The specified database does not exist.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 CannotMoveOrDropSyncMetadataDatabase - Cannot drop database used as sync metadata database.

             * 400 CannotMoveOrDropJobAccountDatabase - Cannot drop database associated with job account.

             * 400 CannotUseReservedDatabaseName - Cannot use reserved database name in this operation.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 ServerNotInSubscription - Specified server does not exist on the specified subscription.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 429 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.
      tags:
      - Databases
      x-ms-examples:
        Deletes a database.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.databases_controller
    get:
      description: Gets a database.
      operationId: databases_get
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully retrieved the specified database.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
      - Databases
      x-ms-examples:
        Gets a database.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: "v12.0,user"
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
      x-openapi-router-controller: openapi_server.controllers.databases_controller
    patch:
      description: Updates an existing database.
      operationId: databases_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseUpdate'
        description: The requested database resource state.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully updated the database.
        "202":
          content: {}
          description: Updating the database is in progress.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidDatabaseCreateOrUpdateRequest - The request body for the create or update database operation is invalid.

             * 400 InvalidResourceId - Invalid resource identifier.

             * 400 InvalidSourceDatabaseId - Invalid source database identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 MissingCollation - Collation is required.

             * 400 MissingMaxSizeBytes - MaxSizeBytes is required.

             * 400 MissingSkuName - Sku name is required.

             * 400 MissingSourceDatabaseId - Missing source database identifier.

             * 400 DatabaseNameDoesNotMatchSourceDatabaseId - The database name specified doesn’t match the database name in sourceDatabaseId.

             * 400 ElasticPoolNotSupportedForExternalBackupRestore - Elastic pool is not supported for external backup restore

             * 400 InvalidRecoverableDatabaseId - Invalid recoverable database identifier.

             * 400 InvalidRecoveryServicesRecoveryPointId - Invalid recovery services recovery point identifier.

             * 400 InvalidRestorableDroppedDatabaseDeletionDate - The restorable dropped database deletion date given is invalid

             * 400 InvalidRestorableDroppedDatabaseId - Invalid restorable dropped database identifier

             * 400 MissingRecoverableDatabaseId - Missing recoverable database identifier.

             * 400 MissingRecoveryServicesRecoveryPointId - Missing recovery services recovery point Id.

             * 400 MissingRestorableDroppedDatabaseId - Missing restorableDroppedDatabaseId

             * 400 MissingRestorePointInTime - Missing restore point in time

             * 400 MissingSourceDatabaseDeletionDate - Missing source database deletion date

             * 400 MissingStorageContainerSasToken - Missing storage container SAS token

             * 400 MissingStorageContainerUri - Missing storage container URI

             * 400 RestorableDroppedDatabaseIdGivenForRestoreWithSourceDatabaseId - Cannot specify restorableDroppedDatabaseId when sourceDatabaseId is already given in restore create mode

             * 400 TierChangeUnsupportedDueToMemoryOptimizedObject - The database cannot update its sku because it has memory-optimized objects.

             * 400 CannotMoveOrDropJobAccountDatabase - Cannot drop database associated with job account.

             * 400 ServerNotFound - The requested server was not found.

             * 400 CannotMoveOrDropSyncMetadataDatabase - Cannot drop database used as sync metadata database.

             * 400 InvalidSku - The user specified an invalid sku.

             * 400 InvalidTierSkuCombination - The specified tier does not support the specified sku.

             * 400 FeatureDisabledOnSelectedEdition - User attempted to use a feature which is disabled on current database edition.

             * 400 OfferDisabledOnSubscription - Subscription offer type is restricted from provisioning the requested resource.

             * 400 InvalidTargetSubregion - The target server of a non-readable secondary is not in a DR paired Azure region.

             * 400 CurrentDatabaseSizeExceedsMaxSize - User attempted to reduce the max size for a database to a size smaller than the current usage.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 PartnerServerNotCompatible - The user is attempting to copy a database from a SAWA V1 server to a Sterling server or vice versa.

             * 400 IncorrectReplicationLinkState - The operation expects the database to be in an expected state on the replication link.

             * 400 ResourcePoolNotFound - Specified elastic pool does not exist in the specified logical server.

             * 400 ElasticPoolSkuCombinationInvalid - Elastic pool and sku can be specified together only if sku is specified as 'ElasticPool'.

             * 400 ElasticPoolTierCombinationInvalid - The database tier is different than the elastic pool service tier.

             * 400 TokenTooLong - The provided token is too long.

             * 400 ElasticPoolDatabaseCountOverLimit - Attempting to create or add database to elastic pool when the database count limit of the elastic pool has been reached.

             * 400 CannotChangeToOrFromDataWarehouseTier - User attempted to change the sku of a database from DataWarehouse tier to non DataWarehouse tiers or vice versa.

             * 400 InvalidMaxSizeTierCombination - The specified tier does not support the specified database max size.

             * 400 CannotUseTrailingWhitespacesInDatabaseName - The database name validation failed.

             * 400 ElasticPoolDecreaseStorageLimitBelowUsage - Attempting to decrease the storage limit of the elastic pool below its storage usage.

             * 400 UpdateNotAllowedOnPausedDatabase - User attempted to perform an update on a paused database.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 CannotUseReservedDatabaseName - Cannot use reserved database name in this operation.

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 RegionDoesNotSupportVersion - A user attempted to create a server of a specified version in a location where that server version isn't supported.

             * 400 InvalidServerName - Invalid server name specified.

             * 400 UnableToResolveRemoteServer - The remote partner server name could not be resolved due to an invalid server name or DNS connectivity issues.

             * 400 InvalidCollation - Collation is not recognized by the server.

             * 400 RemoteDatabaseCopyPermission - User does not have sufficient permission to create a database copy on the specified server.

             * 400 SourceDatabaseNotFound - The source database does not exist.

             * 400 ChangeUnsupportedOnEntity - User attempted an unsupported create/update/delete operation on a given entity.

             * 400 UpdateNotAllowedIfGeoDrOperationInProgress - The operation is disallowed because copy or failover operation for database '{0}' on server '{1}' is currently in progress.

             * 400 UpdateNotAllowedInCurrentReplicationState - The operation is disallowed on the database in its current replication state.

             * 400 GeoReplicaLimitReached - The per-replica replication limit was reached.

             * 400 ReplicationSourceAndTargetMustHaveSameName - The replication source and target databases must have the same name.

             * 400 ReplicationSourceAndTargetMustBeInDifferentServers - The replication source and target databases must be in different logical servers.

             * 400 SourceServerNotFound - The server part of a source database id provided in a CreateDatabaseAsCopy API call doesn't map to an existing server.

             * 400 InvalidAddSecondaryPermission - User does not have sufficient permission to add secondary on the specified server.

             * 400 UnsupportedServiceName - The specified name is an invalid name because it contains one or more unsupported unicode characters.

             * 400 CannotUpdateToFreeDatabase - Updating a database to the free sku is not supported.

             * 400 CurrentDatabaseLogSizeExceedsMaxSize - User attempted to change the database to a sku with lower max log size than the current usage.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 ServerNotInSubscription - Specified server does not exist on the specified subscription.

             * 404 CannotFindObject - Cannot find the object because it does not exist or you do not have permissions

             * 405 UnsupportedReplicationOperation - An unsupported replication operation was initiated on the database.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 409 SkuAssignmentInProgress - The current assignment request cannot be processed because a previous request has not completed.

             * 409 CurrentMemoryUsageExceedsSkuQuota - User attempted an sku update operation that cannot be completed due to the higher resource consumption.

             * 409 UpdateSloInProgress - User tried to initiate an incompatible operation while a SLO update was in progress.

             * 409 ServerDtuQuotaExceeded - Could not perform the operation because server would exceed the allowed Database Throughput Unit quota.

             * 409 UnableToAlterDatabaseInReplication - User altered edition on a database in a replication relationship.

             * 409 ConflictingDatabaseOperation - There is already some operation on the database and the current operation should wait till it is done.

             * 409 SimultaneousSkuChangeNotAllowed - Service objective change operations cannot run on both databases of a replication relationship at the same time.

             * 409 RemoteDatabaseExists - The destination database name already exists on the destination server.

             * 409 InvalidOperationForDatabaseNotInReplicationRelationship - A replication seeding operation was performed on a database that is already in a replication relationship.

             * 409 InvalidOperationForDatabaseInReplicationRelationship - A replication seeding operation was performed on a database that is already in a replication relationship.

             * 409 DuplicateGeoDrRelation - The databases are already in a replication relation. This is a duplicate request.

             * 409 SubscriptionDisabled - Subscription is disabled.

             * 409 ConflictingSystemOperationInProgress - A system maintenance operation is in progress on the database and further operations need to wait until it is completed.

             * 429 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 500 ActivateOrDeactivateWorkflowThrottling - Activation or deactivation workflow failed because there are too many concurrent workflows

             * 504 RequestTimeout - Service request exceeded the allowed timeout.
      tags:
      - Databases
      x-ms-examples:
        Updates a database.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            parameters:
              properties:
                collation: SQL_Latin1_General_CP1_CI_AS
                maxSizeBytes: 1073741824
              sku:
                name: S1
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: "v12.0,user"
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S1
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 1073741824
                  status: Online
                sku:
                  name: S1
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.databases_controller
    put:
      description: Creates a new database or updates an existing database.
      operationId: databases_create_or_update
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Database'
        description: The requested database resource state.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully updated the database.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully created the database.
        "202":
          content: {}
          description: Creating or updating the database is in progress.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 InvalidDatabaseCreateOrUpdateRequest - The request body for the create or update database operation is invalid.

             * 400 InvalidResourceId - Invalid resource identifier.

             * 400 InvalidSourceDatabaseId - Invalid source database identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 MissingCollation - Collation is required.

             * 400 MissingMaxSizeBytes - MaxSizeBytes is required.

             * 400 MissingSkuName - Sku name is required.

             * 400 MissingSourceDatabaseId - Missing source database identifier.

             * 400 DatabaseNameDoesNotMatchSourceDatabaseId - The database name specified doesn’t match the database name in sourceDatabaseId.

             * 400 ElasticPoolNotSupportedForExternalBackupRestore - Elastic pool is not supported for external backup restore

             * 400 InvalidRecoverableDatabaseId - Invalid recoverable database identifier.

             * 400 InvalidRecoveryServicesRecoveryPointId - Invalid recovery services recovery point identifier.

             * 400 InvalidRestorableDroppedDatabaseDeletionDate - The restorable dropped database deletion date given is invalid

             * 400 InvalidRestorableDroppedDatabaseId - Invalid restorable dropped database identifier

             * 400 MissingRecoverableDatabaseId - Missing recoverable database identifier.

             * 400 MissingRecoveryServicesRecoveryPointId - Missing recovery services recovery point Id.

             * 400 MissingRestorableDroppedDatabaseId - Missing restorableDroppedDatabaseId

             * 400 MissingRestorePointInTime - Missing restore point in time

             * 400 MissingSourceDatabaseDeletionDate - Missing source database deletion date

             * 400 MissingStorageContainerSasToken - Missing storage container SAS token

             * 400 MissingStorageContainerUri - Missing storage container URI

             * 400 RestorableDroppedDatabaseIdGivenForRestoreWithSourceDatabaseId - Cannot specify restorableDroppedDatabaseId when sourceDatabaseId is already given in restore create mode

             * 400 TierChangeUnsupportedDueToMemoryOptimizedObject - The database cannot update its sku because it has memory-optimized objects.

             * 400 CannotMoveOrDropJobAccountDatabase - Cannot drop database associated with job account.

             * 400 ServerNotFound - The requested server was not found.

             * 400 CannotMoveOrDropSyncMetadataDatabase - Cannot drop database used as sync metadata database.

             * 400 InvalidSku - The user specified an invalid sku.

             * 400 InvalidTierSkuCombination - The specified tier does not support the specified sku.

             * 400 FeatureDisabledOnSelectedEdition - User attempted to use a feature which is disabled on current database edition.

             * 400 OfferDisabledOnSubscription - Subscription offer type is restricted from provisioning the requested resource.

             * 400 InvalidTargetSubregion - The target server of a non-readable secondary is not in a DR paired Azure region.

             * 400 CurrentDatabaseSizeExceedsMaxSize - User attempted to reduce the max size for a database to a size smaller than the current usage.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 PartnerServerNotCompatible - The user is attempting to copy a database from a SAWA V1 server to a Sterling server or vice versa.

             * 400 IncorrectReplicationLinkState - The operation expects the database to be in an expected state on the replication link.

             * 400 ResourcePoolNotFound - Specified elastic pool does not exist in the specified logical server.

             * 400 ElasticPoolSkuCombinationInvalid - Elastic pool and sku can be specified together only if sku is specified as 'ElasticPool'.

             * 400 ElasticPoolTierCombinationInvalid - The database tier is different than the elastic pool service tier.

             * 400 TokenTooLong - The provided token is too long.

             * 400 ElasticPoolDatabaseCountOverLimit - Attempting to create or add database to elastic pool when the database count limit of the elastic pool has been reached.

             * 400 CannotChangeToOrFromDataWarehouseTier - User attempted to change the sku of a database from DataWarehouse tier to non DataWarehouse tiers or vice versa.

             * 400 InvalidMaxSizeTierCombination - The specified tier does not support the specified database max size.

             * 400 CannotUseTrailingWhitespacesInDatabaseName - The database name validation failed.

             * 400 ElasticPoolDecreaseStorageLimitBelowUsage - Attempting to decrease the storage limit of the elastic pool below its storage usage.

             * 400 UpdateNotAllowedOnPausedDatabase - User attempted to perform an update on a paused database.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 CannotUseReservedDatabaseName - Cannot use reserved database name in this operation.

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 RegionDoesNotSupportVersion - A user attempted to create a server of a specified version in a location where that server version isn't supported.

             * 400 InvalidServerName - Invalid server name specified.

             * 400 UnableToResolveRemoteServer - The remote partner server name could not be resolved due to an invalid server name or DNS connectivity issues.

             * 400 InvalidCollation - Collation is not recognized by the server.

             * 400 RemoteDatabaseCopyPermission - User does not have sufficient permission to create a database copy on the specified server.

             * 400 SourceDatabaseNotFound - The source database does not exist.

             * 400 ChangeUnsupportedOnEntity - User attempted an unsupported create/update/delete operation on a given entity.

             * 400 UpdateNotAllowedIfGeoDrOperationInProgress - The operation is disallowed because copy or failover operation for database '{0}' on server '{1}' is currently in progress.

             * 400 UpdateNotAllowedInCurrentReplicationState - The operation is disallowed on the database in its current replication state.

             * 400 GeoReplicaLimitReached - The per-replica replication limit was reached.

             * 400 ReplicationSourceAndTargetMustHaveSameName - The replication source and target databases must have the same name.

             * 400 ReplicationSourceAndTargetMustBeInDifferentServers - The replication source and target databases must be in different logical servers.

             * 400 SourceServerNotFound - The server part of a source database id provided in a CreateDatabaseAsCopy API call doesn't map to an existing server.

             * 400 InvalidAddSecondaryPermission - User does not have sufficient permission to add secondary on the specified server.

             * 400 UnsupportedServiceName - The specified name is an invalid name because it contains one or more unsupported unicode characters.

             * 400 CannotUpdateToFreeDatabase - Updating a database to the free sku is not supported.

             * 400 CurrentDatabaseLogSizeExceedsMaxSize - User attempted to change the database to a sku with lower max log size than the current usage.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 ServerNotInSubscription - Specified server does not exist on the specified subscription.

             * 404 CannotFindObject - Cannot find the object because it does not exist or you do not have permissions

             * 405 UnsupportedReplicationOperation - An unsupported replication operation was initiated on the database.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 409 SkuAssignmentInProgress - The current assignment request cannot be processed because a previous request has not completed.

             * 409 CurrentMemoryUsageExceedsSkuQuota - User attempted an sku update operation that cannot be completed due to the higher resource consumption.

             * 409 UpdateSloInProgress - User tried to initiate an incompatible operation while a SLO update was in progress.

             * 409 ServerDtuQuotaExceeded - Could not perform the operation because server would exceed the allowed Database Throughput Unit quota.

             * 409 UnableToAlterDatabaseInReplication - User altered edition on a database in a replication relationship.

             * 409 ConflictingDatabaseOperation - There is already some operation on the database and the current operation should wait till it is done.

             * 409 SimultaneousSkuChangeNotAllowed - Service objective change operations cannot run on both databases of a replication relationship at the same time.

             * 409 RemoteDatabaseExists - The destination database name already exists on the destination server.

             * 409 InvalidOperationForDatabaseNotInReplicationRelationship - A replication seeding operation was performed on a database that is already in a replication relationship.

             * 409 InvalidOperationForDatabaseInReplicationRelationship - A replication seeding operation was performed on a database that is already in a replication relationship.

             * 409 DuplicateGeoDrRelation - The databases are already in a replication relation. This is a duplicate request.

             * 409 SubscriptionDisabled - Subscription is disabled.

             * 409 ConflictingSystemOperationInProgress - A system maintenance operation is in progress on the database and further operations need to wait until it is completed.

             * 429 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 500 ActivateOrDeactivateWorkflowThrottling - Activation or deactivation workflow failed because there are too many concurrent workflows

             * 504 RequestTimeout - Service request exceeded the allowed timeout.
      tags:
      - Databases
      x-ms-examples:
        Creates a database as a copy.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: dbcopy
            parameters:
              location: southeastasia
              properties:
                createMode: Copy
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
              sku:
                name: S0
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbcopy
                kind: "v12.0,user"
                location: southeastasia
                name: dbcopy
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbcopy
                kind: "v12.0,user"
                location: southeastasia
                name: dbcopy
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "202": {}
        Creates a database as an on-line secondary.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            parameters:
              location: southeastasia
              properties:
                createMode: Secondary
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-NorthEurope/providers/Microsoft.Sql/servers/testsvr1/databases/testdb
              sku:
                name: S0
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: "v12.0,user"
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: "v12.0,user"
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "202": {}
        Creates a database from PointInTimeRestore.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: dbpitr
            parameters:
              location: southeastasia
              properties:
                createMode: PointInTimeRestore
                restorePointInTime: 2017-07-14T05:35:31.503Z
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
              sku:
                name: S0
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbpitr
                kind: "v12.0,user"
                location: southeastasia
                name: dbpitr
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbpitr
                kind: "v12.0,user"
                location: southeastasia
                name: dbpitr
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "202": {}
        Creates a database from recoverable DatabaseId.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: dbrestore
            parameters:
              location: southeastasia
              properties:
                createMode: Restore
                restorableDroppedDatabaseId: "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/restorableDroppedDatabases/testdb2,131444841315030000"
              sku:
                name: S0
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbrestore
                kind: "v12.0,user"
                location: southeastasia
                name: dbrestore
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbrestore
                kind: "v12.0,user"
                location: southeastasia
                name: dbrestore
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "202": {}
        Creates a database from restore with database deletion time.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: dbrestore
            parameters:
              location: southeastasia
              properties:
                createMode: Restore
                sourceDatabaseDeletionDate: 2017-07-14T06:41:06.613Z
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
              sku:
                name: S0
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbrestore
                kind: "v12.0,user"
                location: southeastasia
                name: dbrestore
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbrestore
                kind: "v12.0,user"
                location: southeastasia
                name: dbrestore
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "202": {}
        Creates a database from restore with restorableDroppedDatabaseId.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: dbcopy
            parameters:
              location: southeastasia
              properties:
                createMode: Copy
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
              sku:
                name: S0
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbcopy
                kind: "v12.0,user"
                location: southeastasia
                name: dbcopy
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/dbcopy
                kind: "v12.0,user"
                location: southeastasia
                name: dbcopy
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "202": {}
        Creates a database with default mode.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            parameters:
              location: southeastasia
              properties:
                collation: SQL_Latin1_General_CP1_CI_AS
                createMode: Default
                maxSizeBytes: 1073741824
              sku:
                name: S0
                tier: Standard
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: "v12.0,user"
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 1073741824
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: "v12.0,user"
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 1073741824
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "202": {}
        Creates a database with minimum number of parameters.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            parameters:
              location: southeastasia
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: "v12.0,user"
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb
                kind: "v12.0,user"
                location: southeastasia
                name: testdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-06-07T04:41:33.937Z
                  currentServiceObjectiveName: S0
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 268435456000
                  status: Online
                sku:
                  name: S0
                  tier: Standard
                type: Microsoft.Sql/servers/databases
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/export
  : post:
      description: Exports a database.
      operationId: databases_export
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: database_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportExportDatabaseDefinition'
        description: The database export request parameters.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportExportOperationResult'
          description: Successfully exported the database.
        "202":
          content: {}
          description: Exporting the database is in progress.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 MissingImportExportInputParameters - Missing ImportExport input parameters.

             * 400 PolybaseImportAuthenticationTypeNotSupported - Authentication type parameter is not support for PolybaseImport operation.

             * 400 InvalidOperationType - Provide a valid operation type.

             * 404 ImportExportOperationIdNotFound - The operation Id for import or export cannot be found.

             * 404 ResourceNotFound - Invalid request specifying a non-existent resource.

             * 409 ImportExportOperationInProgress - There is an import or export operation in progress on the database.
      tags:
      - Databases
      x-ms-examples:
        Exports a database.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            parameters:
              administratorLogin: login
              administratorLoginPassword: password
              authenticationType: Sql
              storageKey: +Ce9Tn6QktcX1kFGHUg5sdh54654678bpsE3OM95q5sdfsdfsdyIUu7sdYtR456hgcsRSbFBoH64qB7MA==
              storageKeyType: StorageAccessKey
              storageUri: https://test.blob.core.windows.net/test.bacpac
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdb/importExportOperationResults/9d9a794a-5cec-4f23-af70-d29511b522a4
                name: 9d9a794a-5cec-4f23-af70-d29511b522a4
                properties:
                  blobUri: https://test.blob.core.windows.net/test.bacpac
                  databaseName: testdb
                  lastModifiedTime: 7/13/2017 8:34:47 PM
                  queuedTime: 7/13/2017 8:33:27 PM
                  requestId: 9d9a794a-5cec-4f23-af70-d29511b522a4
                  requestType: Export
                  serverName: testsvr.database.windows.net
                  status: Completed
                type: Microsoft.Sql/servers/databases/importExportOperationResults
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/pause
  : post:
      description: Pauses a database.
      operationId: databases_pause
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database to be paused.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully paused the database.
        "202":
          content: {}
          description: Pausing the database is in progress.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 CannotDeactivateWhenDeactivatingInProgress - Deactivation workflow failed because there is a deactivate workflow already running.

             * 400 FeatureDisabledOnSelectedEdition - User attempted to use a feature which is disabled on current database edition.

             * 404 SourceDatabaseNotFound - The source database does not exist.

             * 500 ActivateOrDeactivateWorkflowThrottling - Activation or deactivation workflow failed because there are too many concurrent workflows
      tags:
      - Databases
      x-ms-examples:
        Pauses a database.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdwdb
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdwdb
                kind: "v12.0,user,datawarehouse"
                location: southeastasia
                name: testdwdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-07-13T02:04:26.187Z
                  currentServiceObjectiveName: D1
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 10995116277760
                  status: Paused
                sku: {}
                type: Microsoft.Sql/servers/databases
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/resume
  : post:
      description: Resumes a database.
      operationId: databases_resume
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database to be resumed.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: Successfully resumed the database.
        "202":
          content: {}
          description: Resuming the database is in progress.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 FeatureDisabledOnSelectedEdition - User attempted to use a feature which is disabled on current database edition.

             * 404 ServerNotInSubscription - Specified server does not exist on the specified subscription.

             * 404 SourceDatabaseNotFound - The source database does not exist.

             * 500 ActivateOrDeactivateWorkflowThrottling - Activation or deactivation workflow failed because there are too many concurrent workflows
      tags:
      - Databases
      x-ms-examples:
        Resumes a database.:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdwdb
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/testdwdb
                kind: "v12.0,user,datawarehouse"
                location: southeastasia
                name: testdwdb
                properties:
                  catalogCollation: SQL_Latin1_General_CP1_CI_AS
                  collation: SQL_Latin1_General_CP1_CI_AS
                  creationDate: 2017-07-13T02:04:26.187Z
                  currentServiceObjectiveName: D1
                  databaseId: 6c764297-577b-470f-9af4-96d3d41e2ba3
                  defaultSecondaryLocation: North Europe
                  maxSizeBytes: 10995116277760
                  status: Online
                sku: {}
                type: Microsoft.Sql/servers/databases
            "202": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases
  : get:
      description: Gets a list of databases in an elastic pool.
      operationId: databases_list_by_elastic_pool
      parameters:
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the elastic pool.
        in: path
        name: elasticPoolName
        required: true
        schema:
          type: string
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The API version to use for the request.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseListResult'
          description: Successfully retrieved a list of databases in an elastic pool.
        default:
          content: {}
          description: |-
            *** Error Responses: ***

             * 400 TierChangeUnsupportedDueToMemoryOptimizedObject - The database cannot update its sku because it has memory-optimized objects.

             * 400 CannotMoveOrDropJobAccountDatabase - Cannot drop database associated with job account.

             * 400 ServerNotFound - The requested server was not found.

             * 400 CannotMoveOrDropSyncMetadataDatabase - Cannot drop database used as sync metadata database.

             * 400 InvalidSku - The user specified an invalid sku.

             * 400 InvalidTierSkuCombination - The specified tier does not support the specified sku.

             * 400 FeatureDisabledOnSelectedEdition - User attempted to use a feature which is disabled on current database edition.

             * 400 OfferDisabledOnSubscription - Subscription offer type is restricted from provisioning the requested resource.

             * 400 InvalidTargetSubregion - The target server of a non-readable secondary is not in a DR paired Azure region.

             * 400 CurrentDatabaseSizeExceedsMaxSize - User attempted to reduce the max size for a database to a size smaller than the current usage.

             * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database when the storage limit of the elastic pool has been reached.

             * 400 PartnerServerNotCompatible - The user is attempting to copy a database from a SAWA V1 server to a Sterling server or vice versa.

             * 400 IncorrectReplicationLinkState - The operation expects the database to be in an expected state on the replication link.

             * 400 ResourcePoolNotFound - Specified elastic pool does not exist in the specified logical server.

             * 400 ElasticPoolSkuCombinationInvalid - Elastic pool and sku can be specified together only if sku is specified as 'ElasticPool'.

             * 400 ElasticPoolTierCombinationInvalid - The database tier is different than the elastic pool service tier.

             * 400 TokenTooLong - The provided token is too long.

             * 400 ElasticPoolDatabaseCountOverLimit - Attempting to create or add database to elastic pool when the database count limit of the elastic pool has been reached.

             * 400 CannotChangeToOrFromDataWarehouseTier - User attempted to change the sku of a database from DataWarehouse tier to non DataWarehouse tiers or vice versa.

             * 400 InvalidMaxSizeTierCombination - The specified tier does not support the specified database max size.

             * 400 CannotUseTrailingWhitespacesInDatabaseName - The database name validation failed.

             * 400 ElasticPoolDecreaseStorageLimitBelowUsage - Attempting to decrease the storage limit of the elastic pool below its storage usage.

             * 400 UpdateNotAllowedOnPausedDatabase - User attempted to perform an update on a paused database.

             * 400 InvalidTier - The user specified an invalid tier.

             * 400 CannotUseReservedDatabaseName - Cannot use reserved database name in this operation.

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 RegionDoesNotSupportVersion - A user attempted to create a server of a specified version in a location where that server version isn't supported.

             * 400 InvalidServerName - Invalid server name specified.

             * 400 UnableToResolveRemoteServer - The remote partner server name could not be resolved due to an invalid server name or DNS connectivity issues.

             * 400 InvalidCollation - Collation is not recognized by the server.

             * 400 RemoteDatabaseCopyPermission - User does not have sufficient permission to create a database copy on the specified server.

             * 400 SourceDatabaseNotFound - The source database does not exist.

             * 400 ChangeUnsupportedOnEntity - User attempted an unsupported create/update/delete operation on a given entity.

             * 400 UpdateNotAllowedIfGeoDrOperationInProgress - The operation is disallowed because copy or failover operation for database '{0}' on server '{1}' is currently in progress.

             * 400 UpdateNotAllowedInCurrentReplicationState - The operation is disallowed on the database in its current replication state.

             * 400 GeoReplicaLimitReached - The per-replica replication limit was reached.

             * 400 ReplicationSourceAndTargetMustHaveSameName - The replication source and target databases must have the same name.

             * 400 ReplicationSourceAndTargetMustBeInDifferentServers - The replication source and target databases must be in different logical servers.

             * 400 SourceServerNotFound - The server part of a source database id provided in a CreateDatabaseAsCopy API call doesn't map to an existing server.

             * 400 InvalidAddSecondaryPermission - User does not have sufficient permission to add secondary on the specified server.

             * 400 UnsupportedServiceName - The specified name is an invalid name because it contains one or more unsupported unicode characters.

             * 400 CannotUpdateToFreeDatabase - Updating a database to the free sku is not supported.

             * 400 CurrentDatabaseLogSizeExceedsMaxSize - User attempted to change the database to a sku with lower max log size than the current usage.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 ServerNotInSubscription - Specified server does not exist on the specified subscription.

             * 404 CannotFindObject - Cannot find the object because it does not exist or you do not have permissions

             * 405 UnsupportedReplicationOperation - An unsupported replication operation was initiated on the database.

             * 409 SkuAssignmentInProgress - The current assignment request cannot be processed because a previous request has not completed.

             * 409 CurrentMemoryUsageExceedsSkuQuota - User attempted an sku update operation that cannot be completed due to the higher resource consumption.

             * 409 UpdateSloInProgress - User tried to initiate an incompatible operation while a SLO update was in progress.

             * 409 ServerDtuQuotaExceeded - Could not perform the operation because server would exceed the allowed Database Throughput Unit quota.

             * 409 UnableToAlterDatabaseInReplication - User altered edition on a database in a replication relationship.

             * 409 ConflictingDatabaseOperation - There is already some operation on the database and the current operation should wait till it is done.

             * 409 SimultaneousSkuChangeNotAllowed - Service objective change operations cannot run on both databases of a replication relationship at the same time.

             * 409 RemoteDatabaseExists - The destination database name already exists on the destination server.

             * 409 InvalidOperationForDatabaseNotInReplicationRelationship - A replication seeding operation was performed on a database that is already in a replication relationship.

             * 409 InvalidOperationForDatabaseInReplicationRelationship - A replication seeding operation was performed on a database that is already in a replication relationship.

             * 409 DuplicateGeoDrRelation - The databases are already in a replication relation. This is a duplicate request.

             * 409 SubscriptionDisabled - Subscription is disabled.

             * 409 ConflictingSystemOperationInProgress - A system maintenance operation is in progress on the database and further operations need to wait until it is completed.

             * 429 TooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 500 ActivateOrDeactivateWorkflowThrottling - Activation or deactivation workflow failed because there are too many concurrent workflows

             * 504 RequestTimeout - Service request exceeded the allowed timeout.
      tags:
      - Databases
      x-ms-examples:
        Gets a list of databases in an elastic pool.:
          parameters:
            api-version: 2017-03-01-preview
            elasticPoolName: pool1
            resourceGroupName: Default-SQL-SouthEastAsia
            serverName: testsvr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/DB001
                  kind: "v12.0,user"
                  location: southeastasia
                  name: DB001
                  properties:
                    catalogCollation: SQL_Latin1_General_CP1_CI_AS
                    collation: SQL_Latin1_General_CP1_CI_AS
                    creationDate: 2017-07-12T22:08:39.163Z
                    currentServiceObjectiveName: ElasticPool
                    databaseId: bfe0735f-bc87-447f-b2c2-481f4b100614
                    defaultSecondaryLocation: North Europe
                    elasticPoolId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/elasticPools/Pool1
                    maxSizeBytes: 268435456000
                    status: Online
                  sku:
                    name: ElasticPool
                    tier: Standard
                  type: Microsoft.Sql/servers/databases
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/databases/DB002
                  kind: "v12.0,user"
                  location: southeastasia
                  name: DB002
                  properties:
                    catalogCollation: SQL_Latin1_General_CP1_CI_AS
                    collation: SQL_Latin1_General_CP1_CI_AS
                    creationDate: 2017-07-12T22:10:10.773Z
                    currentServiceObjectiveName: ElasticPool
                    databaseId: 82246152-3177-4357-b81c-a16d87ce3593
                    defaultSecondaryLocation: North Europe
                    elasticPoolId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-SouthEastAsia/providers/Microsoft.Sql/servers/testsvr/elasticPools/Pool1
                    maxSizeBytes: 268435456000
                    status: Online
                  sku:
                    name: ElasticPool
                    tier: Standard
                  type: Microsoft.Sql/servers/databases
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.databases_controller
components:
  parameters:
    ApiVersionParameter:
      description: The API version to use for the request.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    DatabaseNameParameter:
      description: The name of the database.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ManagedInstanceNameParameter:
      description: The name of the managed instance.
      in: path
      name: managedInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupParameter:
      description: The name of the resource group that contains the resource. You
        can obtain this value from the Azure Resource Manager API or the portal.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineContainerNameParameter:
      description: The name of the SqlVirtualMachineContainer.
      in: path
      name: sqlVirtualMachineContainerName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SqlVirtualMachineInstanceNameParameter:
      description: The name of the SqlVirtualMachineInstance.
      in: path
      name: sqlVirtualMachineInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The subscription ID that identifies an Azure subscription.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    VirtualClusterNameParameter:
      description: The name of the virtual cluster.
      in: path
      name: virtualClusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Database:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM tracked top level resource.
        properties:
          location:
            description: Resource location.
            type: string
            x-ms-mutability:
            - read
            - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
        required:
        - location
      description: A database resource.
      example:
        kind: kind
        sku: "{}"
        properties:
          longTermRetentionBackupResourceId: longTermRetentionBackupResourceId
          restorableDroppedDatabaseId: restorableDroppedDatabaseId
          createMode: Default
          sourceDatabaseDeletionDate: 2000-01-23T04:56:07.000+00:00
          zoneRedundant: true
          creationDate: 2000-01-23T04:56:07.000+00:00
          failoverGroupId: failoverGroupId
          catalogCollation: DATABASE_DEFAULT
          recoveryServicesRecoveryPointId: recoveryServicesRecoveryPointId
          elasticPoolId: elasticPoolId
          recoverableDatabaseId: recoverableDatabaseId
          restorePointInTime: 2000-01-23T04:56:07.000+00:00
          sampleName: AdventureWorksLT
          maxSizeBytes: 0
          sourceDatabaseId: sourceDatabaseId
          defaultSecondaryLocation: defaultSecondaryLocation
          collation: collation
          currentServiceObjectiveName: currentServiceObjectiveName
          databaseId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Online
      properties:
        kind:
          description: Kind of database. This is metadata used for the Azure portal
            experience.
          readOnly: true
          title: kind
          type: string
        properties:
          $ref: '#/components/schemas/DatabaseProperties'
        sku:
          description: An ARM Resource SKU.
          properties:
            capacity:
              description: Capacity of the particular SKU.
              format: int32
              title: capacity
              type: integer
            family:
              description: "If the service has different generations of hardware,\
                \ for the same SKU, then that can be captured here."
              title: family
              type: string
            name:
              description: "The name of the SKU, typically, a letter + Number code,\
                \ e.g. P3."
              title: name
              type: string
            size:
              description: Size of the particular SKU
              title: size
              type: string
            tier:
              description: "The tier or edition of the particular SKU, e.g. Basic,\
                \ Premium."
              title: tier
              type: string
          required:
          - name
          title: sku
          type: object
      title: Database
    DatabaseListResult:
      description: A list of databases.
      example:
        value:
        - kind: kind
          sku: "{}"
          properties:
            longTermRetentionBackupResourceId: longTermRetentionBackupResourceId
            restorableDroppedDatabaseId: restorableDroppedDatabaseId
            createMode: Default
            sourceDatabaseDeletionDate: 2000-01-23T04:56:07.000+00:00
            zoneRedundant: true
            creationDate: 2000-01-23T04:56:07.000+00:00
            failoverGroupId: failoverGroupId
            catalogCollation: DATABASE_DEFAULT
            recoveryServicesRecoveryPointId: recoveryServicesRecoveryPointId
            elasticPoolId: elasticPoolId
            recoverableDatabaseId: recoverableDatabaseId
            restorePointInTime: 2000-01-23T04:56:07.000+00:00
            sampleName: AdventureWorksLT
            maxSizeBytes: 0
            sourceDatabaseId: sourceDatabaseId
            defaultSecondaryLocation: defaultSecondaryLocation
            collation: collation
            currentServiceObjectiveName: currentServiceObjectiveName
            databaseId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            status: Online
        - kind: kind
          sku: "{}"
          properties:
            longTermRetentionBackupResourceId: longTermRetentionBackupResourceId
            restorableDroppedDatabaseId: restorableDroppedDatabaseId
            createMode: Default
            sourceDatabaseDeletionDate: 2000-01-23T04:56:07.000+00:00
            zoneRedundant: true
            creationDate: 2000-01-23T04:56:07.000+00:00
            failoverGroupId: failoverGroupId
            catalogCollation: DATABASE_DEFAULT
            recoveryServicesRecoveryPointId: recoveryServicesRecoveryPointId
            elasticPoolId: elasticPoolId
            recoverableDatabaseId: recoverableDatabaseId
            restorePointInTime: 2000-01-23T04:56:07.000+00:00
            sampleName: AdventureWorksLT
            maxSizeBytes: 0
            sourceDatabaseId: sourceDatabaseId
            defaultSecondaryLocation: defaultSecondaryLocation
            collation: collation
            currentServiceObjectiveName: currentServiceObjectiveName
            databaseId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            status: Online
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to retrieve next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of results.
          items:
            $ref: '#/components/schemas/Database'
          readOnly: true
          title: value
          type: array
      title: DatabaseListResult
      type: object
    DatabaseProperties:
      description: The database's properties.
      example:
        longTermRetentionBackupResourceId: longTermRetentionBackupResourceId
        restorableDroppedDatabaseId: restorableDroppedDatabaseId
        createMode: Default
        sourceDatabaseDeletionDate: 2000-01-23T04:56:07.000+00:00
        zoneRedundant: true
        creationDate: 2000-01-23T04:56:07.000+00:00
        failoverGroupId: failoverGroupId
        catalogCollation: DATABASE_DEFAULT
        recoveryServicesRecoveryPointId: recoveryServicesRecoveryPointId
        elasticPoolId: elasticPoolId
        recoverableDatabaseId: recoverableDatabaseId
        restorePointInTime: 2000-01-23T04:56:07.000+00:00
        sampleName: AdventureWorksLT
        maxSizeBytes: 0
        sourceDatabaseId: sourceDatabaseId
        defaultSecondaryLocation: defaultSecondaryLocation
        collation: collation
        currentServiceObjectiveName: currentServiceObjectiveName
        databaseId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: Online
      properties:
        catalogCollation:
          description: Collation of the metadata catalog.
          enum:
          - DATABASE_DEFAULT
          - SQL_Latin1_General_CP1_CI_AS
          title: catalogCollation
          type: string
          x-ms-enum:
            modelAsString: true
            name: CatalogCollationType
          x-ms-mutability:
          - read
          - create
        collation:
          description: The collation of the database.
          title: collation
          type: string
          x-ms-mutability:
          - read
          - create
        createMode:
          description: "Specifies the mode of database creation.\r\n\r\nDefault: regular\
            \ database creation.\r\n\r\nCopy: creates a database as a copy of an existing\
            \ database. sourceDatabaseId must be specified as the resource ID of the\
            \ source database.\r\n\r\nSecondary: creates a database as a secondary\
            \ replica of an existing database. sourceDatabaseId must be specified\
            \ as the resource ID of the existing primary database.\r\n\r\nPointInTimeRestore:\
            \ Creates a database by restoring a point in time backup of an existing\
            \ database. sourceDatabaseId must be specified as the resource ID of the\
            \ existing database, and restorePointInTime must be specified.\r\n\r\n\
            Recovery: Creates a database by restoring a geo-replicated backup. sourceDatabaseId\
            \ must be specified as the recoverable database resource ID to restore.\r\
            \n\r\nRestore: Creates a database by restoring a backup of a deleted database.\
            \ sourceDatabaseId must be specified. If sourceDatabaseId is the database's\
            \ original resource ID, then sourceDatabaseDeletionDate must be specified.\
            \ Otherwise sourceDatabaseId must be the restorable dropped database resource\
            \ ID and sourceDatabaseDeletionDate is ignored. restorePointInTime may\
            \ also be specified to restore from an earlier point in time.\r\n\r\n\
            RestoreLongTermRetentionBackup: Creates a database by restoring from a\
            \ long term retention vault. recoveryServicesRecoveryPointResourceId must\
            \ be specified as the recovery point resource ID.\r\n\r\nCopy, Secondary,\
            \ and RestoreLongTermRetentionBackup are not supported for DataWarehouse\
            \ edition."
          enum:
          - Default
          - Copy
          - Secondary
          - OnlineSecondary
          - PointInTimeRestore
          - Restore
          - Recovery
          - RestoreExternalBackup
          - RestoreExternalBackupSecondary
          - RestoreLongTermRetentionBackup
          title: createMode
          type: string
          x-ms-enum:
            modelAsString: true
            name: CreateMode
          x-ms-mutability:
          - create
        creationDate:
          description: The creation date of the database (ISO8601 format).
          format: date-time
          readOnly: true
          title: creationDate
          type: string
        currentServiceObjectiveName:
          description: The current service level objective name of the database.
          readOnly: true
          title: currentServiceObjectiveName
          type: string
        databaseId:
          description: The ID of the database.
[...]
