openapi: 3.0.2
info:
  title: doqs.dev | PDF filling API
  version: "1.0"
  x-origin:
  - format: openapi
    url: https://api.doqs.dev/v1/openapi.json
    version: "3.0"
  x-providerName: doqs.dev
servers:
- url: https://api.doqs.dev/v1
security:
- apiKeyAuth: []
paths:
  /designer/templates:
    get:
      operationId: list_templates_designer_templates_get
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 1000
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOk_List_fillr.entities.designer_template.DesignerTemplate__'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Server Error
      summary: List Templates
      x-accepts:
      - application/json
    post:
      operationId: create_template_designer_templates_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateTemplateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOk_DesignerTemplate_'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Server Error
      summary: Create Template
      x-content-type: application/json
      x-accepts:
      - application/json
  /designer/templates/preview:
    post:
      operationId: preview_designer_templates_preview_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOk_PreviewResponse_'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Server Error
      summary: Preview
      x-content-type: application/json
      x-accepts:
      - application/json
  /designer/templates/{id}:
    delete:
      operationId: delete_designer_templates__id__delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOk_NoneType_'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Server Error
      summary: Delete
      x-accepts:
      - application/json
    get:
      operationId: list_templates_designer_templates__id__get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOk_DesignerTemplate_'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Server Error
      summary: List Templates
      x-accepts:
      - application/json
    put:
      operationId: update_template_designer_templates__id__put
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateTemplateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOk_DesignerTemplate_'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Server Error
      summary: Update Template
      x-content-type: application/json
      x-accepts:
      - application/json
  /designer/templates/{id}/generate:
    post:
      operationId: generate_pdf_designer_templates__id__generate_post
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneratePDFPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Server Error
      summary: Generate Pdf
      x-content-type: application/json
      x-accepts:
      - application/json
  /templates:
    get:
      operationId: list
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 1000
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          title: Offset
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOk_List_apps.api.routes_templates.Template__'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Server Error
      summary: 'List '
      tags:
      - Templates
      x-accepts:
      - application/json
    post:
      operationId: create
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_create'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOk_Template_'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Server Error
      summary: Create
      tags:
      - Templates
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /templates/{id}:
    delete:
      operationId: delete__templates__id__delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOk_NoneType_'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Server Error
      summary: 'Delete '
      tags:
      - Templates
      x-accepts:
      - application/json
    get:
      operationId: get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOk_Template_'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Server Error
      summary: Get Template
      tags:
      - Templates
      x-accepts:
      - application/json
    put:
      operationId: update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOk_Template_'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Server Error
      summary: Update
      tags:
      - Templates
      x-content-type: application/json
      x-accepts:
      - application/json
  /templates/{id}/file:
    get:
      operationId: get_file_templates__id__file_get
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOk_HttpUrl_'
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Server Error
      summary: Get File
      tags:
      - Templates
      x-accepts:
      - application/json
  /templates/{id}/fill:
    post:
      operationId: fill
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          title: Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FillTemplateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Client Error
        "5XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
          description: Server Error
      summary: Fill
      tags:
      - Templates
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    Body_create:
      properties:
        file:
          format: binary
          title: File
          type: string
      required:
      - file
      title: Body_create
      type: object
    BoundingBox:
      example:
        width: 1.6027456183070403
        x: 0.14658129805029452
        "y": 0.5962133916683182
        height: 1.0800828190461012
      properties:
        height:
          minimum: 1
          title: Height
          type: number
        width:
          minimum: 1
          title: Width
          type: number
        x:
          minimum: 0
          title: X
          type: number
        "y":
          minimum: 0
          title: "Y"
          type: number
      required:
      - height
      - width
      - x
      - "y"
      title: BoundingBox
      type: object
    CheckBoxField:
      properties:
        bbox:
          $ref: '#/components/schemas/BoundingBox'
        eval:
          $ref: '#/components/schemas/Eval'
        name:
          minLength: 1
          title: Name
          type: string
        page:
          minimum: 0
          title: Page
          type: integer
        required:
          default: true
          title: Required
          type: boolean
        type:
          enum:
          - check
          title: Type
          type: string
      required:
      - bbox
      - name
      - page
      - type
      title: CheckBoxField
      type: object
    CreateOrUpdateTemplateRequest:
      example:
        components:
        - "{}"
        - "{}"
        css: css
        header_html: header_html
        margin: ""
        orientation: landscape
        format: a0
        name: name
        footer_html: footer_html
        preview_payload: "{}"
        template_html: template_html
      properties:
        components:
          items:
            type: object
          title: Components
          type: array
        css:
          title: Css
          type: string
        footer_html:
          title: Footer Html
          type: string
        format:
          $ref: '#/components/schemas/Format'
        header_html:
          title: Header Html
          type: string
        margin:
          allOf:
          - $ref: '#/components/schemas/Margin'
          default:
            bottom: 0
            left: 0
            right: 0
            top: 0
          title: Margin
        name:
          title: Name
          type: string
        orientation:
          $ref: '#/components/schemas/Orientation'
        preview_payload:
          title: Preview Payload
          type: object
        template_html:
          title: Template Html
          type: string
      required:
      - components
      - css
      - format
      - name
      - orientation
      - preview_payload
      - template_html
      title: CreateOrUpdateTemplateRequest
      type: object
    DateField:
      example:
        h_align: ""
        color: black
        bbox:
          width: 1.6027456183070403
          x: 0.14658129805029452
          "y": 0.5962133916683182
          height: 1.0800828190461012
        font_size: 0
        format: format
        locale: en_US
        type: date
        required: true
        cells: false
        cell_count: 0
        name: name
        v_align: ""
        page: 0
        cell_offset: 0
        font: ""
      properties:
        bbox:
          $ref: '#/components/schemas/BoundingBox'
        cell_count:
          default: 0
          minimum: 0
          title: Cell Count
          type: integer
        cell_offset:
          default: 0
          minimum: 0
          title: Cell Offset
          type: integer
        cells:
          default: false
          title: Cells
          type: boolean
        color:
          default: black
          format: color
          title: Color
          type: string
        font:
          allOf:
          - $ref: '#/components/schemas/Font'
          default: helvetica
        font_size:
          default: 10
          exclusiveMinimum: true
          minimum: 0
          title: Font Size
          type: integer
        format:
          title: Format
          type: string
        h_align:
          allOf:
          - $ref: '#/components/schemas/HorizontalAlign'
          default: L
        locale:
          default: en_US
          maxLength: 5
          minLength: 5
          title: Locale
          type: string
        name:
          minLength: 1
          title: Name
          type: string
        page:
          minimum: 0
          title: Page
          type: integer
        required:
          default: true
          title: Required
          type: boolean
        type:
          enum:
          - date
          title: Type
          type: string
        v_align:
          allOf:
          - $ref: '#/components/schemas/VerticalAlign'
          default: B
      required:
      - bbox
      - format
      - name
      - page
      - type
      title: DateField
      type: object
    DesignerTemplate:
      example:
        components:
        - "{}"
        - "{}"
        css: css
        header_html: header_html
        margin:
          top: 0
          left: 0
          bottom: 0
          right: 0
        orientation: landscape
        format: a0
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        footer_html: footer_html
        id: id
        preview_payload: "{}"
        template_html: template_html
      properties:
        components:
          items:
            type: object
          title: Components
          type: array
        created_at:
          format: date-time
          title: Created At
          type: string
        css:
          title: Css
          type: string
        footer_html:
          title: Footer Html
          type: string
        format:
          $ref: '#/components/schemas/Format'
        header_html:
          title: Header Html
          type: string
        id:
          title: Id
          type: string
        margin:
          $ref: '#/components/schemas/Margin'
        name:
          title: Name
          type: string
        orientation:
          $ref: '#/components/schemas/Orientation'
        preview_payload:
          title: Preview Payload
          type: object
        template_html:
          title: Template Html
          type: string
      required:
      - components
      - css
      - format
      - margin
      - name
      - orientation
      - preview_payload
      - template_html
      title: DesignerTemplate
      type: object
    FillTemplateRequest:
      example:
        data: "{}"
      properties:
        data:
          default: {}
          title: Data
          type: object
      title: FillTemplateRequest
      type: object
    Font:
      description: An enumeration.
      enum:
      - courier
      - helvetica
      - times_roman
      title: Font
      type: string
    Format:
      description: An enumeration.
      enum:
      - a0
      - a1
      - a2
      - a3
      - a4
      - a5
      - a6
      title: Format
      type: string
    GeneratePDFPayload:
      example:
        data: "{}"
      properties:
        data:
          title: Data
          type: object
      required:
      - data
      title: GeneratePDFPayload
      type: object
    HorizontalAlign:
      description: An enumeration.
      enum:
      - L
      - C
      - R
      title: HorizontalAlign
      type: string
    ImageAnchor:
      description: An enumeration.
      enum:
      - nw
      - "n"
      - ne
      - w
      - c
      - e
      - sw
      - s
      title: ImageAnchor
      type: string
    ImageField:
      properties:
        anchor:
          allOf:
          - $ref: '#/components/schemas/ImageAnchor'
          default: c
        bbox:
          $ref: '#/components/schemas/BoundingBox'
        name:
          minLength: 1
          title: Name
          type: string
        page:
          minimum: 0
          title: Page
          type: integer
        required:
          default: true
          title: Required
          type: boolean
        type:
          default: image
          enum:
          - image
          title: Type
          type: string
      required:
      - bbox
      - name
      - page
      title: ImageField
      type: object
    Margin:
      example:
        top: 0
        left: 0
        bottom: 0
        right: 0
      properties:
        bottom:
          default: 0
          minimum: 0
          title: Bottom
          type: integer
        left:
          default: 0
          minimum: 0
          title: Left
          type: integer
        right:
          default: 0
          minimum: 0
          title: Right
          type: integer
        top:
          default: 0
          minimum: 0
          title: Top
          type: integer
      title: Margin
      type: object
    Orientation:
      description: An enumeration.
      enum:
      - landscape
      - portrait
      title: Orientation
      type: string
    PreviewModel:
      example:
        css: css
        header_html: header_html
        data: "{}"
        footer_html: footer_html
        template_html: template_html
      properties:
        css:
          title: Css
          type: string
        data:
          title: Data
          type: object
        footer_html:
          title: Footer Html
          type: string
        header_html:
          title: Header Html
          type: string
        template_html:
          title: Template Html
          type: string
      required:
      - css
      - data
      - template_html
      title: PreviewModel
      type: object
    PreviewResponse:
      example:
        html: html
      properties:
        html:
          title: Html
          type: string
      required:
      - html
      title: PreviewResponse
      type: object
    ResponseError:
      example:
        message: message
      properties:
        message:
          title: Message
          type: string
      required:
      - message
      title: ResponseError
      type: object
    ResponseOk_DesignerTemplate_:
      example:
        results:
          components:
          - "{}"
          - "{}"
          css: css
          header_html: header_html
          margin:
            top: 0
            left: 0
            bottom: 0
            right: 0
          orientation: landscape
          format: a0
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          footer_html: footer_html
          id: id
          preview_payload: "{}"
          template_html: template_html
      properties:
        results:
          $ref: '#/components/schemas/DesignerTemplate'
      required:
      - results
      title: "ResponseOk[DesignerTemplate]"
      type: object
    ResponseOk_HttpUrl_:
      example:
        results: https://openapi-generator.tech
      properties:
        results:
          format: uri
          maxLength: 2083
          minLength: 1
          title: Results
          type: string
      required:
      - results
      title: "ResponseOk[HttpUrl]"
      type: object
    ResponseOk_List_apps.api.routes_templates.Template__:
      example:
        results:
        - pages: 0
          size_bytes: 2
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: id
          fields:
          - h_align: ""
            color: black
            bbox:
              width: 1.6027456183070403
              x: 0.14658129805029452
              "y": 0.5962133916683182
              height: 1.0800828190461012
            font_size: 0
            format: format
            locale: en_US
            type: date
            required: true
            cells: false
            cell_count: 0
            name: name
            v_align: ""
            page: 0
            cell_offset: 0
            font: ""
          - h_align: ""
            color: black
            bbox:
              width: 1.6027456183070403
              x: 0.14658129805029452
              "y": 0.5962133916683182
              height: 1.0800828190461012
            font_size: 0
            format: format
            locale: en_US
            type: date
            required: true
            cells: false
            cell_count: 0
            name: name
            v_align: ""
            page: 0
            cell_offset: 0
            font: ""
        - pages: 0
          size_bytes: 2
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: id
          fields:
          - h_align: ""
            color: black
            bbox:
              width: 1.6027456183070403
              x: 0.14658129805029452
              "y": 0.5962133916683182
              height: 1.0800828190461012
            font_size: 0
            format: format
            locale: en_US
            type: date
            required: true
            cells: false
            cell_count: 0
            name: name
            v_align: ""
            page: 0
            cell_offset: 0
            font: ""
          - h_align: ""
            color: black
            bbox:
              width: 1.6027456183070403
              x: 0.14658129805029452
              "y": 0.5962133916683182
              height: 1.0800828190461012
            font_size: 0
            format: format
            locale: en_US
            type: date
            required: true
            cells: false
            cell_count: 0
            name: name
            v_align: ""
            page: 0
            cell_offset: 0
            font: ""
      properties:
        results:
          items:
            $ref: '#/components/schemas/Template'
          title: Results
          type: array
      required:
      - results
      title: "ResponseOk[List[apps.api.routes_templates.Template]]"
      type: object
    ResponseOk_List_fillr.entities.designer_template.DesignerTemplate__:
      example:
        results:
        - components:
          - "{}"
          - "{}"
          css: css
          header_html: header_html
          margin:
            top: 0
            left: 0
            bottom: 0
            right: 0
          orientation: landscape
          format: a0
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          footer_html: footer_html
          id: id
          preview_payload: "{}"
          template_html: template_html
        - components:
          - "{}"
          - "{}"
          css: css
          header_html: header_html
          margin:
            top: 0
            left: 0
            bottom: 0
            right: 0
          orientation: landscape
          format: a0
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          footer_html: footer_html
          id: id
          preview_payload: "{}"
          template_html: template_html
      properties:
        results:
          items:
            $ref: '#/components/schemas/DesignerTemplate'
          title: Results
          type: array
      required:
      - results
      title: "ResponseOk[List[fillr.entities.designer_template.DesignerTemplate]]"
      type: object
    ResponseOk_NoneType_:
      example:
        results: ""
      properties:
        results:
          nullable: true
          title: Results
      required:
      - results
      title: "ResponseOk[NoneType]"
      type: object
    ResponseOk_PreviewResponse_:
      example:
        results:
          html: html
      properties:
        results:
          $ref: '#/components/schemas/PreviewResponse'
      required:
      - results
      title: "ResponseOk[PreviewResponse]"
      type: object
    ResponseOk_Template_:
      example:
        results:
          pages: 0
          size_bytes: 2
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: id
          fields:
          - h_align: ""
            color: black
            bbox:
              width: 1.6027456183070403
              x: 0.14658129805029452
              "y": 0.5962133916683182
              height: 1.0800828190461012
            font_size: 0
            format: format
            locale: en_US
            type: date
            required: true
            cells: false
            cell_count: 0
            name: name
            v_align: ""
            page: 0
            cell_offset: 0
            font: ""
          - h_align: ""
            color: black
            bbox:
              width: 1.6027456183070403
              x: 0.14658129805029452
              "y": 0.5962133916683182
              height: 1.0800828190461012
            font_size: 0
            format: format
            locale: en_US
            type: date
            required: true
            cells: false
            cell_count: 0
            name: name
            v_align: ""
            page: 0
            cell_offset: 0
            font: ""
      properties:
        results:
          $ref: '#/components/schemas/Template'
      required:
      - results
      title: "ResponseOk[Template]"
      type: object
    Template:
      example:
        pages: 0
        size_bytes: 2
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        id: id
        fields:
        - h_align: ""
          color: black
          bbox:
            width: 1.6027456183070403
            x: 0.14658129805029452
            "y": 0.5962133916683182
            height: 1.0800828190461012
          font_size: 0
          format: format
          locale: en_US
          type: date
          required: true
          cells: false
          cell_count: 0
          name: name
          v_align: ""
          page: 0
          cell_offset: 0
          font: ""
        - h_align: ""
          color: black
          bbox:
            width: 1.6027456183070403
            x: 0.14658129805029452
            "y": 0.5962133916683182
            height: 1.0800828190461012
          font_size: 0
          format: format
          locale: en_US
          type: date
          required: true
          cells: false
          cell_count: 0
          name: name
          v_align: ""
          page: 0
          cell_offset: 0
          font: ""
      properties:
        created_at:
          format: date-time
          title: Created At
          type: string
        fields:
          default: []
          items:
            $ref: '#/components/schemas/Fields_inner'
          title: Fields
          type: array
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
        pages:
          exclusiveMinimum: true
          minimum: 0
          title: Pages
          type: integer
        size_bytes:
          title: Size Bytes
          type: integer
      required:
      - pages
      title: Template
      type: object
    TextField:
      properties:
        bbox:
          $ref: '#/components/schemas/BoundingBox'
        cell_count:
          default: 0
          minimum: 0
          title: Cell Count
          type: integer
        cell_offset:
          default: 0
          minimum: 0
          title: Cell Offset
          type: integer
        cells:
          default: false
          title: Cells
          type: boolean
        color:
          default: black
          format: color
          title: Color
          type: string
        font:
          allOf:
          - $ref: '#/components/schemas/Font'
          default: helvetica
        font_size:
          default: 10
          exclusiveMinimum: true
          minimum: 0
          title: Font Size
          type: integer
        h_align:
          allOf:
          - $ref: '#/components/schemas/HorizontalAlign'
          default: L
        name:
          minLength: 1
          title: Name
          type: string
        page:
          minimum: 0
          title: Page
          type: integer
        required:
          default: true
          title: Required
          type: boolean
        type:
          enum:
          - text
          title: Type
          type: string
        v_align:
          allOf:
          - $ref: '#/components/schemas/VerticalAlign'
          default: B
      required:
      - bbox
      - name
      - page
      - type
      title: TextField
      type: object
    UpdateTemplateRequest:
      example:
        name: name
        fields:
        - h_align: ""
          color: black
          bbox:
            width: 1.6027456183070403
            x: 0.14658129805029452
            "y": 0.5962133916683182
            height: 1.0800828190461012
          font_size: 0
          format: format
          locale: en_US
          type: date
          required: true
          cells: false
          cell_count: 0
          name: name
          v_align: ""
          page: 0
          cell_offset: 0
          font: ""
        - h_align: ""
          color: black
          bbox:
            width: 1.6027456183070403
            x: 0.14658129805029452
            "y": 0.5962133916683182
            height: 1.0800828190461012
          font_size: 0
          format: format
          locale: en_US
          type: date
          required: true
          cells: false
          cell_count: 0
          name: name
          v_align: ""
          page: 0
          cell_offset: 0
          font: ""
      properties:
        fields:
          items:
            $ref: '#/components/schemas/Fields_inner'
          title: Fields
          type: array
        name:
          title: Name
          type: string
      required:
      - fields
      title: UpdateTemplateRequest
      type: object
    VerticalAlign:
      description: An enumeration.
      enum:
      - T
      - C
      - B
      title: VerticalAlign
      type: string
    Eval:
      anyOf:
      - type: boolean
      - minLength: 1
        type: string
      default: true
      title: Eval
    Fields_inner:
      discriminator:
        mapping:
          check: '#/components/schemas/CheckBoxField'
          date: '#/components/schemas/DateField'
          image: '#/components/schemas/ImageField'
          text: '#/components/schemas/TextField'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/DateField'
      - $ref: '#/components/schemas/TextField'
      - $ref: '#/components/schemas/ImageField'
      - $ref: '#/components/schemas/CheckBoxField'
  securitySchemes:
    apiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey

