openapi: 3.0.0
info:
  contact:
    x-twitter: microsoft
  title: Custom Vision Prediction Client
  version: "2.0"
  x-apisguru-categories:
  - developer_tools
  - cloud
  x-logo:
    url: https://twitter.com/microsoft/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Prediction/stable/v2.0/Prediction.json
    version: "3.0"
  x-preferred: false
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-Prediction
  x-tags:
  - Microsoft
servers:
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v2.0/Prediction
- url: "{Endpoint}/customvision/v2.0/Prediction"
  variables:
    Endpoint:
      default: none
      description: Supported Cognitive Services endpoints
      x-ms-parameter-location: client
      x-ms-skip-url-encoding: true
paths:
  /{projectId}/image:
    post:
      operationId: predict_image
      parameters:
      - description: The project id
        examples:
          Successful PredictImage request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: "Optional. Specifies the id of a particular iteration to evaluate\
          \ against.\r\n            The default iteration for the project will be\
          \ used when not specified"
        examples:
          Successful PredictImage request:
            value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
        explode: true
        in: query
        name: iterationId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - description: Optional. Specifies the name of application using the endpoint
        explode: true
        in: query
        name: application
        required: false
        schema:
          type: string
        style: form
        x-nullable: true
      - examples:
          Successful PredictImage request:
            value: "{API Key}"
          Successful PredictImageUrl request:
            value: "{API Key}"
          Successful PredictImageUrlWithNoStore request:
            value: "{API Key}"
          Successful PredictImageWithNoStore request:
            value: "{API Key}"
        explode: false
        in: header
        name: Prediction-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        $ref: '#/components/requestBodies/PredictImage'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful PredictImage request:
                  $ref: '#/components/examples/Successful_PredictImage_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            application/xml:
              examples:
                Successful PredictImage request:
                  $ref: '#/components/examples/Successful_PredictImage_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/json:
              examples:
                Successful PredictImage request:
                  $ref: '#/components/examples/Successful_PredictImage_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/xml:
              examples:
                Successful PredictImage request:
                  $ref: '#/components/examples/Successful_PredictImage_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
          description: OK
      summary: Predict an image and saves the result
      tags:
      - ImagePredictionApi
      x-openapi-router-controller: openapi_server.controllers.image_prediction_api_controller
      x-codegen-request-body-name: body
  /{projectId}/image/nostore:
    post:
      operationId: predict_image_with_no_store
      parameters:
      - description: The project id
        examples:
          Successful PredictImageWithNoStore request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: "Optional. Specifies the id of a particular iteration to evaluate\
          \ against.\r\n            The default iteration for the project will be\
          \ used when not specified"
        examples:
          Successful PredictImageWithNoStore request:
            value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
        explode: true
        in: query
        name: iterationId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - description: Optional. Specifies the name of application using the endpoint
        explode: true
        in: query
        name: application
        required: false
        schema:
          type: string
        style: form
        x-nullable: true
      - examples:
          Successful PredictImage request:
            value: "{API Key}"
          Successful PredictImageUrl request:
            value: "{API Key}"
          Successful PredictImageUrlWithNoStore request:
            value: "{API Key}"
          Successful PredictImageWithNoStore request:
            value: "{API Key}"
        explode: false
        in: header
        name: Prediction-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        $ref: '#/components/requestBodies/PredictImage'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful PredictImageWithNoStore request:
                  $ref: '#/components/examples/Successful_PredictImageWithNoStore_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            application/xml:
              examples:
                Successful PredictImageWithNoStore request:
                  $ref: '#/components/examples/Successful_PredictImageWithNoStore_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/json:
              examples:
                Successful PredictImageWithNoStore request:
                  $ref: '#/components/examples/Successful_PredictImageWithNoStore_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/xml:
              examples:
                Successful PredictImageWithNoStore request:
                  $ref: '#/components/examples/Successful_PredictImageWithNoStore_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
          description: OK
      summary: Predict an image without saving the result
      tags:
      - ImagePredictionApi
      x-openapi-router-controller: openapi_server.controllers.image_prediction_api_controller
      x-codegen-request-body-name: body
  /{projectId}/url:
    post:
      operationId: predict_image_url
      parameters:
      - description: The project id
        examples:
          Successful PredictImageUrl request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: "Optional. Specifies the id of a particular iteration to evaluate\
          \ against.\r\n            The default iteration for the project will be\
          \ used when not specified"
        examples:
          Successful PredictImageUrl request:
            value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
        explode: true
        in: query
        name: iterationId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - description: Optional. Specifies the name of application using the endpoint
        explode: true
        in: query
        name: application
        required: false
        schema:
          type: string
        style: form
        x-nullable: true
      - examples:
          Successful PredictImage request:
            value: "{API Key}"
          Successful PredictImageUrl request:
            value: "{API Key}"
          Successful PredictImageUrlWithNoStore request:
            value: "{API Key}"
          Successful PredictImageWithNoStore request:
            value: "{API Key}"
        explode: false
        in: header
        name: Prediction-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        $ref: '#/components/requestBodies/ImageUrl'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful PredictImageUrl request:
                  $ref: '#/components/examples/Successful_PredictImageUrl_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            application/xml:
              examples:
                Successful PredictImageUrl request:
                  $ref: '#/components/examples/Successful_PredictImageUrl_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/json:
              examples:
                Successful PredictImageUrl request:
                  $ref: '#/components/examples/Successful_PredictImageUrl_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/xml:
              examples:
                Successful PredictImageUrl request:
                  $ref: '#/components/examples/Successful_PredictImageUrl_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
          description: OK
      summary: Predict an image url and saves the result
      tags:
      - ImagePredictionApi
      x-openapi-router-controller: openapi_server.controllers.image_prediction_api_controller
      x-codegen-request-body-name: body
  /{projectId}/url/nostore:
    post:
      operationId: predict_image_url_with_no_store
      parameters:
      - description: The project id
        examples:
          Successful PredictImageUrlWithNoStore request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: "Optional. Specifies the id of a particular iteration to evaluate\
          \ against.\r\n            The default iteration for the project will be\
          \ used when not specified"
        examples:
          Successful PredictImageUrlWithNoStore request:
            value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
        explode: true
        in: query
        name: iterationId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - description: Optional. Specifies the name of application using the endpoint
        explode: true
        in: query
        name: application
        required: false
        schema:
          type: string
        style: form
        x-nullable: true
      - examples:
          Successful PredictImage request:
            value: "{API Key}"
          Successful PredictImageUrl request:
            value: "{API Key}"
          Successful PredictImageUrlWithNoStore request:
            value: "{API Key}"
          Successful PredictImageWithNoStore request:
            value: "{API Key}"
        explode: false
        in: header
        name: Prediction-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        $ref: '#/components/requestBodies/ImageUrl'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful PredictImageUrlWithNoStore request:
                  $ref: '#/components/examples/Successful_PredictImageUrlWithNoStore_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            application/xml:
              examples:
                Successful PredictImageUrlWithNoStore request:
                  $ref: '#/components/examples/Successful_PredictImageUrlWithNoStore_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/json:
              examples:
                Successful PredictImageUrlWithNoStore request:
                  $ref: '#/components/examples/Successful_PredictImageUrlWithNoStore_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
            text/xml:
              examples:
                Successful PredictImageUrlWithNoStore request:
                  $ref: '#/components/examples/Successful_PredictImageUrlWithNoStore_request'
              schema:
                $ref: '#/components/schemas/ImagePrediction'
          description: OK
      summary: Predict an image url without saving the result
      tags:
      - ImagePredictionApi
      x-openapi-router-controller: openapi_server.controllers.image_prediction_api_controller
      x-codegen-request-body-name: body
components:
  examples:
    Successful_PredictImageUrlWithNoStore_request:
      value:
        created: 2017-12-19T14:21:41.6789561Z
        id: 951098b2-9b69-427b-bddb-d5cb618874e3
        iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
        predictions:
        - probability: 0.05149666
          tagId: e31ff107-5505-4753-be42-b369b21b026c
          tagName: Hemlock
        - probability: 1.93528482E-4
          tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
          tagName: Japanese Cherry
        project: 64b822c5-8082-4b36-a426-27225f4aa18c
    Successful_PredictImageUrl_request:
      value:
        created: 2017-12-19T14:21:41.6789561Z
        id: 951098b2-9b69-427b-bddb-d5cb618874e3
        iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
        predictions:
        - probability: 0.05149666
          tagId: e31ff107-5505-4753-be42-b369b21b026c
          tagName: Hemlock
        - probability: 1.93528482E-4
          tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
          tagName: Japanese Cherry
        project: 64b822c5-8082-4b36-a426-27225f4aa18c
    Successful_PredictImageWithNoStore_request:
      value:
        created: 2017-12-19T14:21:41.6789561Z
        id: 951098b2-9b69-427b-bddb-d5cb618874e3
        iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
        predictions:
        - probability: 0.05149666
          tagId: e31ff107-5505-4753-be42-b369b21b026c
          tagName: Hemlock
        - probability: 1.93528482E-4
          tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
          tagName: Japanese Cherry
        project: 64b822c5-8082-4b36-a426-27225f4aa18c
    Successful_PredictImage_request:
      value:
        created: 2017-12-19T14:21:41.6789561Z
        id: 951098b2-9b69-427b-bddb-d5cb618874e3
        iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
        predictions:
        - probability: 0.05149666
          tagId: e31ff107-5505-4753-be42-b369b21b026c
          tagName: Hemlock
        - probability: 1.93528482E-4
          tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
          tagName: Japanese Cherry
        project: 64b822c5-8082-4b36-a426-27225f4aa18c
  parameters:
    ApiKey:
      examples:
        Successful PredictImage request:
          value: "{API Key}"
        Successful PredictImageUrl request:
          value: "{API Key}"
        Successful PredictImageUrlWithNoStore request:
          value: "{API Key}"
        Successful PredictImageWithNoStore request:
          value: "{API Key}"
      explode: false
      in: header
      name: Prediction-Key
      required: true
      schema:
        type: string
      style: simple
      x-ms-client-name: ApiKey
      x-ms-parameter-location: client
    Endpoint:
      description: Supported Cognitive Services endpoints
      explode: false
      in: path
      name: Endpoint
      required: true
      schema:
        type: string
      style: simple
      x-ms-parameter-location: client
      x-ms-skip-url-encoding: true
  requestBodies:
    ImageUrl:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ImageUrl'
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/ImageUrl'
        application/xml:
          schema:
            $ref: '#/components/schemas/ImageUrl'
        text/json:
          schema:
            $ref: '#/components/schemas/ImageUrl'
        text/xml:
          schema:
            $ref: '#/components/schemas/ImageUrl'
      description: "An {Iris.Web.Api.Models.ImageUrl} that contains the url of the\
        \ image to be evaluated"
      required: true
    PredictImage:
      content:
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/PredictImage_request'
      required: true
  schemas:
    BoundingBox:
      example:
        top: 1.4658129
        left: 6.0274563
        width: 5.962134
        height: 0.8008282
      nullable: true
      properties:
        height:
          format: float
          nullable: false
          title: height
          type: number
        left:
          format: float
          nullable: false
          title: left
          type: number
        top:
          format: float
          nullable: false
          title: top
          type: number
        width:
          format: float
          nullable: false
          title: width
          type: number
      title: BoundingBox
      type: object
    ImagePrediction:
      example:
        created: 2000-01-23T04:56:07.000+00:00
        iteration: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        project: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        predictions:
        - boundingBox:
            top: 1.4658129
            left: 6.0274563
            width: 5.962134
            height: 0.8008282
          tagId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          probability: 5.637377
          tagName: tagName
        - boundingBox:
            top: 1.4658129
            left: 6.0274563
            width: 5.962134
            height: 0.8008282
          tagId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          probability: 5.637377
          tagName: tagName
      nullable: true
      properties:
        created:
          format: date-time
          nullable: false
          readOnly: true
          title: created
          type: string
        id:
          format: uuid
          nullable: false
          readOnly: true
          title: id
          type: string
        iteration:
          format: uuid
          nullable: false
          readOnly: true
          title: iteration
          type: string
        predictions:
          items:
            $ref: '#/components/schemas/Prediction'
          nullable: true
          readOnly: true
          title: predictions
          type: array
        project:
          format: uuid
          nullable: false
          readOnly: true
          title: project
          type: string
      title: ImagePrediction
      type: object
    ImageUrl:
      example:
        url: url
      nullable: true
      properties:
        url:
          nullable: true
          title: url
          type: string
      title: ImageUrl
      type: object
    Prediction:
      example:
        boundingBox:
          top: 1.4658129
          left: 6.0274563
          width: 5.962134
          height: 0.8008282
        tagId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        probability: 5.637377
        tagName: tagName
      nullable: true
      properties:
        boundingBox:
          $ref: '#/components/schemas/BoundingBox'
        probability:
          format: float
          nullable: false
          readOnly: true
          title: probability
          type: number
        tagId:
          format: uuid
          nullable: false
          readOnly: true
          title: tagId
          type: string
        tagName:
          nullable: true
          readOnly: true
          title: tagName
          type: string
      title: Prediction
      type: object
    PredictImage_request:
      properties:
        imageData:
          format: binary
          type: string
      required:
      - imageData
      type: object
