openapi: 3.0.0
info:
  contact:
    email: devrel@nexmo.com
    name: Nexmo DevRel
    url: https://developer.nexmo.com/
  description: |-
    The API to retrieve pricing information.
    Please note the Pricing API is rate limited to one request per second.
  title: Pricing API
  version: 0.0.3
  x-logo:
    url: https://www.vonage.com/content/dam/vonage/us-en/api/illustrations/Mobile_APIs_Services.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/pricing.yml
    version: "3.0"
  x-providerName: nexmo.com
  x-serviceName: pricing
servers:
- url: https://rest.nexmo.com/account
paths:
  /get-full-pricing/outbound/{type}:
    get:
      description: |
        Retrieves the pricing information for all countries.
      operationId: retrieve_pricing_all_countries
      parameters:
      - description: "The type of service you wish to retrieve data about: either\
          \ `sms`, `sms-transit` or `voice`."
        example: sms
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      - description: Your Nexmo API key.
        explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - description: Your Nexmo API secret.
        explode: true
        in: query
        name: api_secret
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingCountriesResponse'
          description: Pricing response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retrievePricingAllCountries_400_response'
          description: Bad request. You probably provided an invalid parameter.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retrievePricingAllCountries_401_response'
          description: You did not provide valid credentials
        "404":
          description: The page you requested was not found
        "429":
          description: You made too many requests. The API is rate limited to one
            request per second.
      summary: Retrieve outbound pricing for all countries.
      tags:
      - Pricing
      x-openapi-router-controller: openapi_server.controllers.pricing_controller
  /get-prefix-pricing/outbound/{type}:
    get:
      description: |
        Retrieves the pricing information based on the dialing prefix.
      operationId: retrieve_prefix_pricing
      parameters:
      - description: "The type of service you wish to retrieve data about: either\
          \ `sms`, `sms-transit` or `voice`."
        example: sms
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      - description: Your Nexmo API key.
        explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - description: Your Nexmo API secret.
        explode: true
        in: query
        name: api_secret
        required: true
        schema:
          type: string
        style: form
      - description: "The numerical dialing prefix to look up pricing for. Examples\
          \ include 44, 1 and so on."
        explode: true
        in: query
        name: prefix
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingCountriesResponse'
          description: Pricing countries response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retrievePricingAllCountries_400_response'
          description: Bad request. You probably provided an invalid parameter.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retrievePricingAllCountries_401_response'
          description: You did not provide valid credentials
        "404":
          description: The page you requested was not found
        "429":
          description: You made too many requests. The API is rate limited to one
            request per second.
      summary: Retrieve outbound pricing for a specific dialing prefix.
      tags:
      - Pricing
      x-openapi-router-controller: openapi_server.controllers.pricing_controller
  /get-pricing/outbound/{type}:
    get:
      description: |
        Retrieves the pricing information based on the specified country.
      operationId: retrieve_pricing_country
      parameters:
      - description: "The type of service you wish to retrieve data about: either\
          \ `sms`, `sms-transit` or `voice`."
        example: sms
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      - description: Your Nexmo API key.
        explode: true
        in: query
        name: api_key
        required: true
        schema:
          type: string
        style: form
      - description: Your Nexmo API secret.
        explode: true
        in: query
        name: api_secret
        required: true
        schema:
          type: string
        style: form
      - description: "A two letter [country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\
          \ For example, `CA`."
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingCountryResponse'
          description: Pricing information for a specific country.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retrievePricingAllCountries_400_response'
          description: Bad request. You probably provided an invalid parameter.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retrievePricingAllCountries_401_response'
          description: You did not provide valid credentials
        "404":
          description: The page you requested was not found
        "429":
          description: You made too many requests. The API is rate limited to one
            request per second.
      summary: Retrieve outbound pricing for a specific country.
      tags:
      - Pricing
      x-openapi-router-controller: openapi_server.controllers.pricing_controller
components:
  parameters:
    api_key:
      description: Your Nexmo API key.
      explode: true
      in: query
      name: api_key
      required: true
      schema:
        type: string
      style: form
    api_secret:
      description: Your Nexmo API secret.
      explode: true
      in: query
      name: api_secret
      required: true
      schema:
        type: string
      style: form
    type:
      description: "The type of service you wish to retrieve data about: either `sms`,\
        \ `sms-transit` or `voice`."
      example: sms
      explode: false
      in: path
      name: type
      required: true
      schema:
        type: string
      style: simple
  responses:
    BadRequestError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/retrievePricingAllCountries_400_response'
      description: Bad request. You probably provided an invalid parameter.
    NotFoundError:
      description: The page you requested was not found
    TooManyRequestsError:
      description: You made too many requests. The API is rate limited to one request
        per second.
    UnauthorizedError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/retrievePricingAllCountries_401_response'
      description: You did not provide valid credentials
  schemas:
    CountryObject:
      example:
        defaultPrice: "0.00620000"
        dialingPrefix: "1"
        currency: EUR
        countryName: Canada
        networks:
        - mnc: "530"
          price: "0.00590000"
          networkCode: "302530"
          networkName: Keewaytinook Okimakanak
          currency: EUR
          mcc: "302"
          type: mobile
        - mnc: "530"
          price: "0.00590000"
          networkCode: "302530"
          networkName: Keewaytinook Okimakanak
          currency: EUR
          mcc: "302"
          type: mobile
        countryDisplayName: Canada
      properties:
        countryDisplayName:
          description: Readable country name.
          example: Canada
          title: countryDisplayName
          type: string
        countryName:
          description: Readable country name.
          example: Canada
          title: countryName
          type: string
        currency:
          description: The currency that your account is being billed in (by default
            `Euros—EUR`). Can change in the Dashboard to US Dollars—USD.
          example: EUR
          title: currency
          type: string
        defaultPrice:
          description: The default price.
          example: "0.00620000"
          title: defaultPrice
          type: string
        dialingPrefix:
          description: The dialling prefix.
          example: "1"
          title: dialingPrefix
          type: string
        networks:
          description: An array of network objects
          items:
            $ref: '#/components/schemas/NetworkObject'
          title: networks
          type: array
      title: CountryObject
      type: object
    NetworkObject:
      example:
        mnc: "530"
        price: "0.00590000"
        networkCode: "302530"
        networkName: Keewaytinook Okimakanak
        currency: EUR
        mcc: "302"
        type: mobile
      properties:
        currency:
          description: The currency used for prices for this network.
          example: EUR
          title: currency
          type: string
        mcc:
          description: "The [Mobile Country Code](https://en.wikipedia.org/wiki/Mobile_country_code)\
            \ of the operator."
          example: "302"
          title: mcc
          type: string
        mnc:
          description: The Mobile Network Code of the operator.
          example: "530"
          title: mnc
          type: string
        networkCode:
          description: The Mobile Country Code and Mobile Network Code combined to
            give a unique reference for the operator.
          example: "302530"
          title: networkCode
          type: string
        networkName:
          description: The company/organisational name of the operator.
          example: Keewaytinook Okimakanak
          title: networkName
          type: string
        price:
          description: The cost to send a message or make a call to this network
          example: "0.00590000"
          title: price
          type: string
        type:
          description: "The type of network: mobile or landline."
          example: mobile
          title: type
          type: string
      title: NetworkObject
      type: object
    PricingCountriesResponse:
      example:
        count: "243"
        countries:
        - defaultPrice: "0.00620000"
          dialingPrefix: "1"
          currency: EUR
          countryName: Canada
          networks:
          - mnc: "530"
            price: "0.00590000"
            networkCode: "302530"
            networkName: Keewaytinook Okimakanak
            currency: EUR
            mcc: "302"
            type: mobile
          - mnc: "530"
            price: "0.00590000"
            networkCode: "302530"
            networkName: Keewaytinook Okimakanak
            currency: EUR
            mcc: "302"
            type: mobile
          countryDisplayName: Canada
        - defaultPrice: "0.00620000"
          dialingPrefix: "1"
          currency: EUR
          countryName: Canada
          networks:
          - mnc: "530"
            price: "0.00590000"
            networkCode: "302530"
            networkName: Keewaytinook Okimakanak
            currency: EUR
            mcc: "302"
            type: mobile
          - mnc: "530"
            price: "0.00590000"
            networkCode: "302530"
            networkName: Keewaytinook Okimakanak
            currency: EUR
            mcc: "302"
            type: mobile
          countryDisplayName: Canada
      properties:
        count:
          description: The number of countries retrieved.
          example: "243"
          title: count
          type: string
        countries:
          description: A list of countries.
          items:
            $ref: '#/components/schemas/CountryObject'
          title: countries
          type: array
      title: PricingCountriesResponse
    PricingCountryResponse:
      example:
        defaultPrice: "0.00620000"
        countryCode: CA
        dialingPrefix: "1"
        currency: EUR
        countryName: Canada
        networks:
        - mnc: "530"
          price: "0.00590000"
          networkCode: "302530"
          networkName: Keewaytinook Okimakanak
          currency: EUR
          mcc: "302"
          type: mobile
        - mnc: "530"
          price: "0.00590000"
          networkCode: "302530"
          networkName: Keewaytinook Okimakanak
          currency: EUR
          mcc: "302"
          type: mobile
        countryDisplayName: Canada
      properties:
        countryCode:
          description: Two letter country code.
          example: CA
          title: countryCode
          type: string
        countryDisplayName:
          description: Readable country name.
          example: Canada
          title: countryDisplayName
          type: string
        countryName:
          description: Readable country name.
          example: Canada
          title: countryName
          type: string
        currency:
          description: The currency that your account is being billed in (by default
            `Euros—EUR`). Can change in the Dashboard to US Dollars—USD.
          example: EUR
          title: currency
          type: string
        defaultPrice:
          description: The default price.
          example: "0.00620000"
          title: defaultPrice
          type: string
        dialingPrefix:
          description: The dialling prefix.
          example: "1"
          title: dialingPrefix
          type: string
        networks:
          description: An array of network objects
          items:
            $ref: '#/components/schemas/NetworkObject'
          title: networks
          type: array
      title: PricingCountryResponse
    retrievePricingAllCountries_400_response_invalid_parameters:
      example:
        parameter: country
        message: Is required
      properties:
        message:
          example: Is required
          title: message
          type: string
        parameter:
          example: country
          title: parameter
          type: string
      title: retrievePricingAllCountries_400_response_invalid_parameters
      type: object
    retrievePricingAllCountries_400_response:
      example:
        error_title: Bad Request
        type: BAD_REQUEST
        invalid_parameters:
          parameter: country
          message: Is required
      properties:
        error_title:
          example: Bad Request
          title: error_title
          type: string
        invalid_parameters:
          $ref: '#/components/schemas/retrievePricingAllCountries_400_response_invalid_parameters'
        type:
          example: BAD_REQUEST
          title: type
          type: string
      required:
      - error_title
      - invalid_parameters
      - type
      title: retrievePricingAllCountries_400_response
      type: object
    retrievePricingAllCountries_401_response:
      example:
        error-code-label: authentication failed
        code: "401"
        currency: EUR
      properties:
        code:
          example: "401"
          title: code
          type: string
        currency:
          example: EUR
          title: currency
          type: string
        error-code-label:
          example: authentication failed
          title: error-code-label
          type: string
      required:
      - code
      - currency
      - error-code-label
      title: retrievePricingAllCountries_401_response
      type: object
