openapi: 3.0.1
info:
  description: "Provides create, read, update, and delete functionality for Azure\
    \ SQL Database server firewall rules."
  title: Azure SQL Database server firewall rules
  version: 2014-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/firewallRules.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: sql-firewallRules
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/firewallRules:
    get:
      description: Returns a list of firewall rules.
      operationId: firewall_rules_list_by_server
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRuleListResult'
          description: OK
      tags:
      - FirewallRules
      x-ms-examples:
        List Firewall Rules:
          parameters:
            api-version: 2014-04-01
            resourceGroupName: firewallrulecrudtest-12
            serverName: firewallrulecrudtest-6285
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/firewallrulecrudtest-12/providers/Microsoft.Sql/servers/firewallrulecrudtest-6285/firewallRules/firewallrulecrudtest-2304
                  kind: v12.0
                  location: Japan East
                  name: firewallrulecrudtest-2304
                  properties:
                    endIpAddress: 0.0.0.0
                    startIpAddress: 0.0.0.0
                  type: Microsoft.Sql/servers/firewallRules
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/firewallrulecrudtest-12/providers/Microsoft.Sql/servers/firewallrulecrudtest-6285/firewallRules/firewallrulecrudtest-3927
                  kind: v12.0
                  location: Japan East
                  name: firewallrulecrudtest-3927
                  properties:
                    endIpAddress: 0.0.0.1
                    startIpAddress: 0.0.0.1
                  type: Microsoft.Sql/servers/firewallRules
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/firewallrulecrudtest-12/providers/Microsoft.Sql/servers/firewallrulecrudtest-6285/firewallRules/firewallrulecrudtest-5370
                  kind: v12.0
                  location: Japan East
                  name: firewallrulecrudtest-5370
                  properties:
                    endIpAddress: 0.0.0.3
                    startIpAddress: 0.0.0.3
                  type: Microsoft.Sql/servers/firewallRules
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/firewallrulecrudtest-12/providers/Microsoft.Sql/servers/firewallrulecrudtest-6285/firewallRules/firewallrulecrudtest-5767
                  kind: v12.0
                  location: Japan East
                  name: firewallrulecrudtest-5767
                  properties:
                    endIpAddress: 0.0.0.2
                    startIpAddress: 0.0.0.2
                  type: Microsoft.Sql/servers/firewallRules
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.firewall_rules_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/firewallRules/{firewallRuleName}
  : delete:
      description: Deletes a firewall rule.
      operationId: firewall_rules_delete
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the firewall rule.
        in: path
        name: firewallRuleName
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: NoContent
      tags:
      - FirewallRules
      x-ms-examples:
        Delete a firewall rule:
          parameters:
            api-version: 2014-04-01
            firewallRuleName: firewallrulecrudtest-7011
            resourceGroupName: firewallrulecrudtest-9886
            serverName: firewallrulecrudtest-2368
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.firewall_rules_controller
    get:
      description: Gets a firewall rule.
      operationId: firewall_rules_get
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the firewall rule.
        in: path
        name: firewallRuleName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: OK
      tags:
      - FirewallRules
      x-ms-examples:
        Get Firewall Rule:
          parameters:
            api-version: 2014-04-01
            firewallRuleName: firewallrulecrudtest-2304
            resourceGroupName: firewallrulecrudtest-12
            serverName: firewallrulecrudtest-6285
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/firewallrulecrudtest-12/providers/Microsoft.Sql/servers/firewallrulecrudtest-6285/firewallRules/firewallrulecrudtest-2304
                kind: v12.0
                location: Japan East
                name: firewallrulecrudtest-2304
                properties:
                  endIpAddress: 0.0.0.0
                  startIpAddress: 0.0.0.0
                type: Microsoft.Sql/servers/firewallRules
      x-openapi-router-controller: openapi_server.controllers.firewall_rules_controller
    put:
      description: Creates or updates a firewall rule.
      operationId: firewall_rules_create_or_update
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the firewall rule.
        in: path
        name: firewallRuleName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRule'
        description: The required parameters for creating or updating a firewall rule.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: Created
      tags:
      - FirewallRules
      x-ms-examples:
        Create a firewall rule max/min:
          parameters:
            api-version: 2014-04-01
            firewallRuleName: firewallrulecrudtest-5370
            parameters:
              properties:
                endIpAddress: 0.0.0.3
                startIpAddress: 0.0.0.3
            resourceGroupName: firewallrulecrudtest-12
            serverName: firewallrulecrudtest-6285
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/firewallrulecrudtest-12/providers/Microsoft.Sql/servers/firewallrulecrudtest-6285/firewallRules/firewallrulecrudtest-5370
                kind: v12.0
                location: Japan East
                name: firewallrulecrudtest-5370
                properties:
                  endIpAddress: 0.0.0.3
                  startIpAddress: 0.0.0.3
                type: Microsoft.Sql/servers/firewallRules
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/firewallrulecrudtest-12/providers/Microsoft.Sql/servers/firewallrulecrudtest-6285/firewallRules/firewallrulecrudtest-5370
                kind: v12.0
                location: Japan East
                name: firewallrulecrudtest-5370
                properties:
                  endIpAddress: 0.0.0.3
                  startIpAddress: 0.0.0.3
                type: Microsoft.Sql/servers/firewallRules
        Update a firewall rule max/min:
          parameters:
            api-version: 2014-04-01
            firewallRuleName: firewallrulecrudtest-3927
            parameters:
              properties:
                endIpAddress: 0.0.0.1
                startIpAddress: 0.0.0.1
            resourceGroupName: firewallrulecrudtest-12
            serverName: firewallrulecrudtest-6285
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/firewallrulecrudtest-12/providers/Microsoft.Sql/servers/firewallrulecrudtest-6285/firewallRules/firewallrulecrudtest-3927
                kind: v12.0
                location: Japan East
                name: firewallrulecrudtest-3927
                properties:
                  endIpAddress: 0.0.0.1
                  startIpAddress: 0.0.0.1
                type: Microsoft.Sql/servers/firewallRules
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/firewallrulecrudtest-12/providers/Microsoft.Sql/servers/firewallrulecrudtest-6285/firewallRules/firewallrulecrudtest-3927
                kind: v12.0
                location: Japan East
                name: firewallrulecrudtest-3927
                properties:
                  endIpAddress: 0.0.0.1
                  startIpAddress: 0.0.0.1
                type: Microsoft.Sql/servers/firewallRules
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.firewall_rules_controller
components:
  parameters:
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    FirewallRule:
      allOf:
      - allOf:
        - description: ARM resource.
          properties:
            id:
              description: Resource ID.
              readOnly: true
              type: string
            name:
              description: Resource name.
              readOnly: true
              type: string
            type:
              description: Resource type.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
        description: ARM proxy resource.
      description: Represents a server firewall rule.
      example:
        kind: kind
        location: location
        type: type
        properties:
          endIpAddress: endIpAddress
          startIpAddress: startIpAddress
      properties:
        kind:
          description: Kind of server that contains this firewall rule.
          readOnly: true
          title: kind
          type: string
        location:
          description: Location of the server that contains this firewall rule.
          readOnly: true
          title: location
          type: string
        properties:
          $ref: '#/components/schemas/FirewallRuleProperties'
        type:
          description: Type of resource this is.
          readOnly: true
          title: type
          type: string
      title: FirewallRule
    FirewallRuleListResult:
      description: Represents the response to a List Firewall Rules request.
      example:
        value:
        - kind: kind
          location: location
          type: type
          properties:
            endIpAddress: endIpAddress
            startIpAddress: startIpAddress
        - kind: kind
          location: location
          type: type
          properties:
            endIpAddress: endIpAddress
            startIpAddress: startIpAddress
      properties:
        value:
          description: The list of server firewall rules.
          items:
            $ref: '#/components/schemas/FirewallRule'
          title: value
          type: array
      title: FirewallRuleListResult
      type: object
    FirewallRuleProperties:
      description: Represents the properties of a server firewall rule.
      example:
        endIpAddress: endIpAddress
        startIpAddress: startIpAddress
      properties:
        endIpAddress:
          description: The end IP address of the firewall rule. Must be IPv4 format.
            Must be greater than or equal to startIpAddress. Use value '0.0.0.0' to
            represent all Azure-internal IP addresses.
          title: endIpAddress
          type: string
        startIpAddress:
          description: The start IP address of the firewall rule. Must be IPv4 format.
            Use value '0.0.0.0' to represent all Azure-internal IP addresses.
          title: startIpAddress
          type: string
      required:
      - endIpAddress
      - startIpAddress
      title: FirewallRuleProperties
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
