openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Google Tasks API lets you manage your tasks and task lists.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Tasks API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://tasks.googleapis.com/$discovery/rest?version=v1
    version: v1
  x-providerName: googleapis.com
  x-serviceName: tasks
externalDocs:
  url: https://developers.google.com/tasks/
servers:
- url: https://tasks.googleapis.com/
tags:
- name: tasklists
- name: tasks
paths:
  /tasks/v1/lists/{tasklist}/clear:
    post:
      description: Clears all completed tasks from the specified task list. The affected
        tasks will be marked as 'hidden' and no longer be returned by default when
        retrieving all tasks for a task list.
      operationId: tasks_tasks_clear
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Task list identifier.
        explode: false
        in: path
        name: tasklist
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tasks
        Oauth2c:
        - https://www.googleapis.com/auth/tasks
      tags:
      - tasks
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
  /tasks/v1/lists/{tasklist}/tasks:
    get:
      description: Returns all tasks in the specified task list.
      operationId: tasks_tasks_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Task list identifier.
        explode: false
        in: path
        name: tasklist
        required: true
        schema:
          type: string
        style: simple
      - description: Upper bound for a task's completion date (as a RFC 3339 timestamp)
          to filter by. Optional. The default is not to filter by completion date.
        explode: true
        in: query
        name: completedMax
        required: false
        schema:
          type: string
        style: form
      - description: Lower bound for a task's completion date (as a RFC 3339 timestamp)
          to filter by. Optional. The default is not to filter by completion date.
        explode: true
        in: query
        name: completedMin
        required: false
        schema:
          type: string
        style: form
      - description: Upper bound for a task's due date (as a RFC 3339 timestamp) to
          filter by. Optional. The default is not to filter by due date.
        explode: true
        in: query
        name: dueMax
        required: false
        schema:
          type: string
        style: form
      - description: Lower bound for a task's due date (as a RFC 3339 timestamp) to
          filter by. Optional. The default is not to filter by due date.
        explode: true
        in: query
        name: dueMin
        required: false
        schema:
          type: string
        style: form
      - description: "Maximum number of tasks returned on one page. Optional. The\
          \ default is 20 (max allowed: 100)."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: integer
        style: form
      - description: Token specifying the result page to return. Optional.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "Flag indicating whether completed tasks are returned in the\
          \ result. Optional. The default is True. Note that showHidden must also\
          \ be True to show tasks completed in first party clients, such as the web\
          \ UI and Google's mobile apps."
        explode: true
        in: query
        name: showCompleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Flag indicating whether deleted tasks are returned in the result.
          Optional. The default is False.
        explode: true
        in: query
        name: showDeleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Flag indicating whether hidden tasks are returned in the result.
          Optional. The default is False.
        explode: true
        in: query
        name: showHidden
        required: false
        schema:
          type: boolean
        style: form
      - description: Lower bound for a task's last modification time (as a RFC 3339
          timestamp) to filter by. Optional. The default is not to filter by last
          modification time.
        explode: true
        in: query
        name: updatedMin
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tasks
        Oauth2c:
        - https://www.googleapis.com/auth/tasks
      - Oauth2:
        - https://www.googleapis.com/auth/tasks.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/tasks.readonly
      tags:
      - tasks
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
    post:
      description: Creates a new task on the specified task list.
      operationId: tasks_tasks_insert
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Task list identifier.
        explode: false
        in: path
        name: tasklist
        required: true
        schema:
          type: string
        style: simple
      - description: "Parent task identifier. If the task is created at the top level,\
          \ this parameter is omitted. Optional."
        explode: true
        in: query
        name: parent
        required: false
        schema:
          type: string
        style: form
      - description: "Previous sibling task identifier. If the task is created at\
          \ the first position among its siblings, this parameter is omitted. Optional."
        explode: true
        in: query
        name: previous
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tasks
        Oauth2c:
        - https://www.googleapis.com/auth/tasks
      tags:
      - tasks
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
      x-codegen-request-body-name: body
  /tasks/v1/lists/{tasklist}/tasks/{task}:
    delete:
      description: Deletes the specified task from the task list.
      operationId: tasks_tasks_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Task list identifier.
        explode: false
        in: path
        name: tasklist
        required: true
        schema:
          type: string
        style: simple
      - description: Task identifier.
        explode: false
        in: path
        name: task
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tasks
        Oauth2c:
        - https://www.googleapis.com/auth/tasks
      tags:
      - tasks
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
    get:
      description: Returns the specified task.
      operationId: tasks_tasks_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Task list identifier.
        explode: false
        in: path
        name: tasklist
        required: true
        schema:
          type: string
        style: simple
      - description: Task identifier.
        explode: false
        in: path
        name: task
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tasks
        Oauth2c:
        - https://www.googleapis.com/auth/tasks
      - Oauth2:
        - https://www.googleapis.com/auth/tasks.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/tasks.readonly
      tags:
      - tasks
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
    patch:
      description: Updates the specified task. This method supports patch semantics.
      operationId: tasks_tasks_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Task list identifier.
        explode: false
        in: path
        name: tasklist
        required: true
        schema:
          type: string
        style: simple
      - description: Task identifier.
        explode: false
        in: path
        name: task
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tasks
        Oauth2c:
        - https://www.googleapis.com/auth/tasks
      tags:
      - tasks
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
      x-codegen-request-body-name: body
    put:
      description: Updates the specified task.
      operationId: tasks_tasks_update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Task list identifier.
        explode: false
        in: path
        name: tasklist
        required: true
        schema:
          type: string
        style: simple
      - description: Task identifier.
        explode: false
        in: path
        name: task
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tasks
        Oauth2c:
        - https://www.googleapis.com/auth/tasks
      tags:
      - tasks
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
      x-codegen-request-body-name: body
  /tasks/v1/lists/{tasklist}/tasks/{task}/move:
    post:
      description: Moves the specified task to another position in the task list.
        This can include putting it as a child task under a new parent and/or move
        it to a different position among its sibling tasks.
      operationId: tasks_tasks_move
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Task list identifier.
        explode: false
        in: path
        name: tasklist
        required: true
        schema:
          type: string
        style: simple
      - description: Task identifier.
        explode: false
        in: path
        name: task
        required: true
        schema:
          type: string
        style: simple
      - description: "New parent task identifier. If the task is moved to the top\
          \ level, this parameter is omitted. Optional."
        explode: true
        in: query
        name: parent
        required: false
        schema:
          type: string
        style: form
      - description: "New previous sibling task identifier. If the task is moved to\
          \ the first position among its siblings, this parameter is omitted. Optional."
        explode: true
        in: query
        name: previous
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tasks
        Oauth2c:
        - https://www.googleapis.com/auth/tasks
      tags:
      - tasks
      x-openapi-router-controller: openapi_server.controllers.tasks_controller
  /tasks/v1/users/@me/lists:
    get:
      description: Returns all the authenticated user's task lists.
      operationId: tasks_tasklists_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Maximum number of task lists returned on one page. Optional.\
          \ The default is 20 (max allowed: 100)."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: integer
        style: form
      - description: Token specifying the result page to return. Optional.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskLists'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tasks
        Oauth2c:
        - https://www.googleapis.com/auth/tasks
      - Oauth2:
        - https://www.googleapis.com/auth/tasks.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/tasks.readonly
      tags:
      - tasklists
      x-openapi-router-controller: openapi_server.controllers.tasklists_controller
    post:
      description: Creates a new task list and adds it to the authenticated user's
        task lists.
      operationId: tasks_tasklists_insert
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskList'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tasks
        Oauth2c:
        - https://www.googleapis.com/auth/tasks
      tags:
      - tasklists
      x-openapi-router-controller: openapi_server.controllers.tasklists_controller
      x-codegen-request-body-name: body
  /tasks/v1/users/@me/lists/{tasklist}:
    delete:
      description: Deletes the authenticated user's specified task list.
      operationId: tasks_tasklists_delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Task list identifier.
        explode: false
        in: path
        name: tasklist
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tasks
        Oauth2c:
        - https://www.googleapis.com/auth/tasks
      tags:
      - tasklists
      x-openapi-router-controller: openapi_server.controllers.tasklists_controller
    get:
      description: Returns the authenticated user's specified task list.
      operationId: tasks_tasklists_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Task list identifier.
        explode: false
        in: path
        name: tasklist
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tasks
        Oauth2c:
        - https://www.googleapis.com/auth/tasks
      - Oauth2:
        - https://www.googleapis.com/auth/tasks.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/tasks.readonly
      tags:
      - tasklists
      x-openapi-router-controller: openapi_server.controllers.tasklists_controller
    patch:
      description: Updates the authenticated user's specified task list. This method
        supports patch semantics.
      operationId: tasks_tasklists_patch
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Task list identifier.
        explode: false
        in: path
        name: tasklist
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskList'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tasks
        Oauth2c:
        - https://www.googleapis.com/auth/tasks
      tags:
      - tasklists
      x-openapi-router-controller: openapi_server.controllers.tasklists_controller
      x-codegen-request-body-name: body
    put:
      description: Updates the authenticated user's specified task list.
      operationId: tasks_tasklists_update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Task list identifier.
        explode: false
        in: path
        name: tasklist
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskList'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskList'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tasks
        Oauth2c:
        - https://www.googleapis.com/auth/tasks
      tags:
      - tasklists
      x-openapi-router-controller: openapi_server.controllers.tasklists_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Task:
      example:
        parent: parent
        notes: notes
        hidden: true
        kind: kind
        completed: completed
        title: title
        selfLink: selfLink
        deleted: true
        due: due
        etag: etag
        links:
        - link: link
          description: description
          type: type
        - link: link
          description: description
          type: type
        id: id
        position: position
        updated: updated
        status: status
      properties:
        completed:
          description: Completion date of the task (as a RFC 3339 timestamp). This
            field is omitted if the task has not been completed.
          title: completed
          type: string
        deleted:
          description: Flag indicating whether the task has been deleted. The default
            is False.
          title: deleted
          type: boolean
        due:
          description: Due date of the task (as a RFC 3339 timestamp). Optional. The
            due date only records date information; the time portion of the timestamp
            is discarded when setting the due date. It isn't possible to read or write
            the time that a task is due via the API.
          title: due
          type: string
        etag:
          description: ETag of the resource.
          title: etag
          type: string
        hidden:
          description: Flag indicating whether the task is hidden. This is the case
            if the task had been marked completed when the task list was last cleared.
            The default is False. This field is read-only.
          title: hidden
          type: boolean
        id:
          description: Task identifier.
          title: id
          type: string
        kind:
          description: Type of the resource. This is always "tasks#task".
          title: kind
          type: string
        links:
          description: Collection of links. This collection is read-only.
          items:
            $ref: '#/components/schemas/Task_links_inner'
          title: links
          type: array
        notes:
          description: Notes describing the task. Optional.
          title: notes
          type: string
        parent:
          description: Parent task identifier. This field is omitted if it is a top-level
            task. This field is read-only. Use the "move" method to move the task
            under a different parent or to the top level.
          title: parent
          type: string
        position:
          description: "String indicating the position of the task among its sibling\
            \ tasks under the same parent task or at the top level. If this string\
            \ is greater than another task's corresponding position string according\
            \ to lexicographical ordering, the task is positioned after the other\
            \ task under the same parent task (or at the top level). This field is\
            \ read-only. Use the \"move\" method to move the task to another position."
          title: position
          type: string
        selfLink:
          description: "URL pointing to this task. Used to retrieve, update, or delete\
            \ this task."
          title: selfLink
          type: string
        status:
          description: Status of the task. This is either "needsAction" or "completed".
          title: status
          type: string
        title:
          description: Title of the task.
          title: title
          type: string
        updated:
          description: Last modification time of the task (as a RFC 3339 timestamp).
          title: updated
          type: string
      title: Task
      type: object
    TaskList:
      example:
        kind: kind
        etag: etag
        id: id
        title: title
        updated: updated
        selfLink: selfLink
      properties:
        etag:
          description: ETag of the resource.
          title: etag
          type: string
        id:
          description: Task list identifier.
          title: id
          type: string
        kind:
          description: Type of the resource. This is always "tasks#taskList".
          title: kind
          type: string
        selfLink:
          description: "URL pointing to this task list. Used to retrieve, update,\
            \ or delete this task list."
          title: selfLink
          type: string
        title:
          description: Title of the task list.
          title: title
          type: string
        updated:
          description: Last modification time of the task list (as a RFC 3339 timestamp).
          title: updated
          type: string
      title: TaskList
      type: object
    TaskLists:
      example:
        kind: kind
        nextPageToken: nextPageToken
        etag: etag
        items:
        - kind: kind
          etag: etag
          id: id
          title: title
          updated: updated
          selfLink: selfLink
        - kind: kind
          etag: etag
          id: id
          title: title
          updated: updated
          selfLink: selfLink
      properties:
        etag:
          description: ETag of the resource.
          title: etag
          type: string
        items:
          description: Collection of task lists.
          items:
            $ref: '#/components/schemas/TaskList'
          title: items
          type: array
        kind:
          description: Type of the resource. This is always "tasks#taskLists".
          title: kind
          type: string
        nextPageToken:
          description: Token that can be used to request the next page of this result.
          title: nextPageToken
          type: string
      title: TaskLists
      type: object
    Tasks:
      example:
        kind: kind
        nextPageToken: nextPageToken
        etag: etag
        items:
        - parent: parent
          notes: notes
          hidden: true
          kind: kind
          completed: completed
          title: title
          selfLink: selfLink
          deleted: true
          due: due
          etag: etag
          links:
          - link: link
            description: description
            type: type
          - link: link
            description: description
            type: type
          id: id
          position: position
          updated: updated
          status: status
        - parent: parent
          notes: notes
          hidden: true
          kind: kind
          completed: completed
          title: title
          selfLink: selfLink
          deleted: true
          due: due
          etag: etag
          links:
          - link: link
            description: description
            type: type
          - link: link
            description: description
            type: type
          id: id
          position: position
          updated: updated
          status: status
      properties:
        etag:
          description: ETag of the resource.
          title: etag
          type: string
        items:
          description: Collection of tasks.
          items:
            $ref: '#/components/schemas/Task'
          title: items
          type: array
        kind:
          description: Type of the resource. This is always "tasks#tasks".
          title: kind
          type: string
        nextPageToken:
          description: Token used to access the next page of this result.
          title: nextPageToken
          type: string
      title: Tasks
      type: object
    Task_links_inner:
      example:
        link: link
        description: description
        type: type
      properties:
        description:
          description: "The description. In HTML speak: Everything between <a> and\
            \ </a>."
          title: description
          type: string
        link:
          description: The URL.
          title: link
          type: string
        type:
          description: "Type of the link, e.g. \"email\"."
          title: type
          type: string
      title: Task_links_inner
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/tasks: "Create, edit, organize, and delete\
              \ all your tasks"
            https://www.googleapis.com/auth/tasks.readonly: View your tasks
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/tasks: "Create, edit, organize, and delete\
              \ all your tasks"
            https://www.googleapis.com/auth/tasks.readonly: View your tasks
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2c
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2c
