openapi: 3.0.0
info:
  description: One API serving data spanned across multiple verticals
  title: Marketcheck APIs
  version: "2.01"
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://twitter.com/MarketcheckAPIs/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://new-verticals-dot-marketcheck-gcp.uc.r.appspot.com/api-docs
    version: "3.0"
  x-providerName: apigee.net
  x-serviceName: marketcheck-cars
servers:
- url: https://marketcheck-prod.apigee.net/v2
security:
- authorizeEndpoint: []
paths:
  /car/dealer/inventory/active:
    get:
      description: Get dealers active inventory
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: Flag on whether to include api_key in response API urls (if any)
        explode: true
        in: query
        name: append_api_key
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Latitude component of location
        explode: true
        in: query
        name: latitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Longitude component of location
        explode: true
        in: query
        name: longitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Radius around the search location (Unit - Miles)
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: int32
          maximum: 7000
          minimum: 0
          type: integer
        style: form
      - description: To filter listing on ZIP around which they are listed
        explode: true
        in: query
        name: zip
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: zip
          transformConstraints:
          - regex: \s
            replace: ""
            transformer: regexReplace
          - transformer: caseTransformer
            type: string
      - description: Boolean param to search for listings that include leasing options
          in them
        explode: true
        in: query
        name: include_lease
        required: false
        schema:
          type: boolean
        style: form
      - description: Boolean param to search for listings that include finance options
          in them
        explode: true
        in: query
        name: include_finance
        required: false
        schema:
          type: boolean
        style: form
      - description: "Search listings with exact lease term, or inside a range with\
          \ min and max seperated by a dash like lease_term=30-60"
        explode: true
        in: query
        name: lease_term
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          separator: "-"
          targetAlias: lease_term_is
          transformConstraints:
          - defaultMax: 48
            defaultMin: 12
            transformer: parseInt
            type: integer
      - description: "Search listings with exact down payment in lease offers, or\
          \ inside a range with min and max seperated by a dash like lease_down_payment=30-60"
        explode: true
        in: query
        name: lease_down_payment
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          separator: "-"
          targetAlias: l_down_pay_fs
          transformConstraints:
          - defaultMax: 5000
            defaultMin: 100
            transformer: parseInt
            type: integer
      - description: "Search listings with lease offers exactly matching Estimated\
          \ Monthly Payment(EMI), or inside a range with min and max seperated by\
          \ a dash like lease_emp=30-60"
        explode: true
        in: query
        name: lease_emp
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          separator: "-"
          targetAlias: l_emi_fs
          transformConstraints:
          - defaultMax: 1000
            defaultMin: 100
            transformer: parseInt
            type: integer
      - description: "Search listings with exact finance loan term, or inside a range\
          \ with min and max seperated by a dash like finance_loan_term=30-60"
        explode: true
        in: query
        name: finance_loan_term
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          separator: "-"
          targetAlias: loan_term_is
          transformConstraints:
          - defaultMax: 48
            defaultMin: 12
            transformer: parseInt
            type: integer
      - description: "Search listings with finance offers exactly matching loans Annual\
          \ Percentage Rate, or inside a range with min and max seperated by a dash\
          \ like finance_loan_apr=30-60"
        explode: true
        in: query
        name: finance_loan_apr
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          separator: "-"
          targetAlias: loan_apr_fs
          transformConstraints:
          - defaultMax: 12
            defaultMin: 1
            transformer: parseInt
            type: integer
      - description: "Search listings with finance offers exactly matching Estimated\
          \ Monthly Payment(EMI), or inside a range with min and max seperated by\
          \ a dash like finance_emp=30-60"
        explode: true
        in: query
        name: finance_emp
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          separator: "-"
          targetAlias: f_emi_fs
          transformConstraints:
          - defaultMax: 3000
            defaultMin: 10
            transformer: parseInt
            type: integer
      - description: "Search listings with exact down payment in finance offers, or\
          \ inside a range with min and max seperated by a dash like finance_down_payment=30-60"
        explode: true
        in: query
        name: finance_down_payment
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          separator: "-"
          targetAlias: f_down_pay_fs
          transformConstraints:
          - defaultMax: 10000
            defaultMin: 1000
            transformer: parseInt
            type: integer
      - description: "Search listings with exact down payment percentage in finance\
          \ offers, or inside a range with min and max seperated by a dash like finance_down_payment_per=30-60"
        explode: true
        in: query
        name: finance_down_payment_per
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          separator: "-"
          targetAlias: f_down_pay_per_fs
          transformConstraints:
          - defaultMax: 20
            defaultMin: 1
            transformer: parseInt
            type: integer
      - description: Car type. Allowed values are - new / used / certified
        explode: true
        in: query
        name: car_type
        required: false
        schema:
          enum:
          - new
          - used
          - certified
          type: string
        style: form
      - description: Indicates whether car has had only one owner or not
        explode: true
        in: query
        name: carfax_1_owner
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Indicates whether car has clean ownership records
        explode: true
        in: query
        name: carfax_clean_title
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Year range to filter listings with the year in the range given.
          Range to be given in the format - min-max e.g. 2019-2021
        explode: true
        in: query
        name: year_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: year
          transformConstraints:
          - defaultMax: 2100
            defaultMin: 1900
            transformer: parseInt
            type: integer
      - description: To filter listing on their year
        explode: true
        in: query
        name: year
        required: false
        schema:
          minLength: 4
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: year
          transformConstraints:
          - max: 2121
            min: 1800
            transformer: parseInt
            type: integer
      - description: To filter listings on their make
        explode: true
        in: query
        name: make
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: make
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listings on their model
        explode: true
        in: query
        name: model
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: model
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listing on their trim
        explode: true
        in: query
        name: trim
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: trim
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Dealer id to filter the listings.
        explode: true
        in: query
        name: dealer_id
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: seed_id
          transformConstraints:
          - transformer: parseInt
            type: integer
      - description: To filter listing on their VIN
        explode: true
        in: query
        name: vin
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: vin
          transformConstraints:
          - maxLength: 17
            transformer: caseTransformer
            type: string
      - description: To filter listing on their source
        explode: true
        in: query
        name: source
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: source
          transformConstraints:
          - transformer: urlTransformer
            type: string
      - description: To filter listing on their body type
        explode: true
        in: query
        name: body_type
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: body_type
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Body subtype to filter the listings on. Valid filter values are
          those that our Search facets API returns for unique body subtypes. You can
          pass in multiple body subtype values comma separated
        explode: true
        in: query
        name: body_subtype
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: body_subtype
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listing on their vehicle type
        explode: true
        in: query
        name: vehicle_type
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: vehicle_type
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: "Comma separated list of 17 digit vins to search the matching\
          \ cars for. Only 10 VINs allowed per request. If the request contains more\
          \ than 10 VINs the first 10 VINs will be considered. Could be used as a\
          \ More Like This or Similar Vehicles search for the given VINs. Ths vins\
          \ parameter is an alternative to taxonomy_vins or ymmt parameters available\
          \ with the search API. vins and taxonomy_vins parameters could be used to\
          \ filter our cars with the exact build represented by the vins or taxonomy_vins\
          \ whereas ymmt is a top level filter that does not filter cars by the build\
          \ attributes like doors, drivetrain, cylinders, body type, body subtype,\
          \ vehicle type etc"
        explode: true
        in: query
        name: vins
        required: false
        schema:
          type: string
        style: form
      - description: Comma separated list of 10 letters excert from the 17 letter
          VIN. The 10 letters to be picked up from the 17 letter VIN are - first 8
          letters and the 10th and 11th letter. E.g. For a VIN - 1FTFW1EF3EKE57182
          the taxonomy vin would be - 1FTFW1EFEK  A taxonomy VIN identified a build
          of a car and could be used to filter our cars of a particular build. This
          is an alternative to the vin or ymmt parameters to the search API.
        explode: true
        in: query
        name: taxonomy_vins
        required: false
        schema:
          type: string
        style: form
      - description: "Make-Model concatenated string. To help passing the results\
          \ of auto-complete API on mm field, use this parameter and pass in the selected\
          \ value as is"
        explode: true
        in: query
        name: mm
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: equals
          targetAlias: mm
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: "Year-Make-Model concatenated string. To help passing the results\
          \ of auto-complete API on ymm field, use this parameter and pass in the\
          \ selected value as is"
        explode: true
        in: query
        name: ymm
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: equals
          targetAlias: ymm
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: "Comma separated list of Year, Make, Model, Trim combinations.\
          \ Each combination needs to have the year,make,model, trim values separated\
          \ by a pipe '|' character in the form year|make|model|trim. e.g. 2010|Audi|A5,2014|Nissan|Sentra|S\
          \ 6MT,|Honda|City|   You could just provide strings of the form - 'year|make||'\
          \ or 'year|make|model' or '|make|model|' combinations. Individual year /\
          \ make / model filters provied with the API calls will take precedence over\
          \ the Year, Make, Model, Trim combinations. The Make, Model, Trim values\
          \ must be valid values as per the Marketcheck Vin Decoder. If you are using\
          \ a separate vin decoder then look at using the 'vins' or 'taxonomy_vins'\
          \ parameter to the search api instead the year|make|model|trim combinations."
        explode: true
        in: query
        name: ymmt
        required: false
        schema:
          type: string
        style: form
      - description: "Comma separated list of Year, Make, Model, Trim fields. For\
          \ example - year,make,model,trim fields for which user wants to do an exact\
          \ match"
        explode: true
        in: query
        name: match
        required: false
        schema:
          type: string
        style: form
      - description: To filter listing on their cylinders
        explode: true
        in: query
        name: cylinders
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: cylinders
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listing on their transmission
        explode: true
        in: query
        name: transmission
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: transmission
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Doors to filter the cars on. Valid filter values are those that
          our Search facets API returns for unique doors. You can pass in multiple
          doors values comma separated
        explode: true
        in: query
        name: doors
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: doors_is
          transformConstraints:
          - min: 1
            transformer: parseInt
            type: integer
      - description: To filter listing on their drivetrain
        explode: true
        in: query
        name: drivetrain
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: drivetrain
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Exterior color to match. Valid filter values are those that our
          Search facets API returns for unique exterior colors. You can pass in multiple
          exterior color values comma separated
        explode: true
        in: query
        name: exterior_color
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: exterior_color
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Interior color to match. Valid filter values are those that our
          Search facets API returns for unique interior colors. You can pass in multiple
          interior color values comma separated
        explode: true
        in: query
        name: interior_color
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: interior_color
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Base exterior color to match. Valid filter values are those that
          our Search facets API returns for unique base exterior colors. You can pass
          in multiple base interior color values comma separated
        explode: true
        in: query
        name: base_exterior_color
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: base_exterior_color
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Base interior color to match. Valid filter values are those that
          our Search facets API returns for unique base interior colors. You can pass
          in multiple base interior color values comma separated
        explode: true
        in: query
        name: base_interior_color
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: base_interior_color
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listing on their engine
        explode: true
        in: query
        name: engine
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: engine
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Engine Size to match. Valid filter values are those that our
          Search facets API returns for unique engine size. You can pass in multiple
          engine size values comma separated
        explode: true
        in: query
        name: engine_size
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: engine_size
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Engine Aspiration to match. Valid filter values are those that
          our Search facets API returns for unique Engine Aspirations. You can pass
          in multiple Engine aspirations values comma separated
        explode: true
        in: query
        name: engine_aspiration
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: engine_aspiration
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Engine Block to match. Valid filter values are those that our
          Search facets API returns for unique Engine Block. You can pass in multiple
          Engine Block values comma separated
        explode: true
        in: query
        name: engine_block
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: engine_block_ss
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Highway mileage range to filter listings with the mileage in
          the range given. Range to be given in the format - min-max e.g. 1000-5000
        explode: true
        in: query
        name: highway_mpg_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: highway_mpg
          transformConstraints:
          - defaultMax: 1000
            defaultMin: 0
            transformer: parseInt
            type: integer
      - description: City mileage range to filter listings with the mileage in the
          range given. Range to be given in the format - min-max e.g. 1000-5000
        explode: true
        in: query
        name: city_mpg_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: city_mpg
          transformConstraints:
          - defaultMax: 1000
            defaultMin: 0
            transformer: parseInt
            type: integer
      - description: Miles range to filter listings with miles in the given range.
          Range to be given in the format - min-max e.g. 1000-5000
        explode: true
        in: query
        name: miles_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: miles
          transformConstraints:
          - defaultMax: 100000
            defaultMin: 1000
            transformer: parseInt
            type: integer
      - description: Price range to filter listings with the price in the range given.
          Range to be given in the format - min-max e.g. 1000-5000
        explode: true
        in: query
        name: price_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: price
          transformConstraints:
          - defaultMax: 100000
            defaultMin: 1000
            transformer: parseInt
            type: integer
      - description: MSRP range to filter listings with the msrp in the range given.
          Range to be given in the format - min-max e.g. 1000-5000
        explode: true
        in: query
        name: msrp_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: msrp
          transformConstraints:
          - defaultMax: 100000
            defaultMin: 1000
            transformer: parseInt
            type: integer
      - description: Days on Market range to filter cars with the DOM within the given
          range. Range to be given in the format - min-max e.g. 10-50
        explode: true
        in: query
        name: dom_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: dom_is
          transformConstraints:
          - defaultMax: 30
            defaultMin: 0
            transformer: parseInt
            type: integer
      - description: Sort by field. Default sort field is distance from the given
          point
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: Sort order - asc or desc. Default sort order is asc
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          enum:
          - asc
          - desc
          - ASC
          - DESC
          format: string
          type: string
        style: form
      - description: Number of results to return. Default is 10. Max is 50
        explode: true
        in: query
        name: rows
        required: false
        schema:
          default: 10
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Page number to fetch the results for the given criteria. Default
          is 0. Pagination is allowed only till first 10000 results for the search
          and sort criteria. The page value can be only between 1 to 10000/rows
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: To include non vin listings. Default is false
        explode: true
        in: query
        name: include_non_vin_listings
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: To filter listing on msa code in which they are listed
        explode: true
        in: query
        name: msa_code
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: msa_code
      - description: The comma separated list of fields for which facets are requested.
          Facets could be requested in addition to the listings for the search. Please
          note - The API calls with lots of facet fields may take longer to respond.
        explode: true
        in: query
        name: facets
        required: false
        schema:
          type: string
        style: form
      - description: The comma separated list of numeric fields for which range facets
          are requested. Range facets could be requested in addition to the listings
          for the search. Please note - The API calls with lots of range facet fields
          may take longer to respond.
        explode: true
        in: query
        name: range_facets
        required: false
        schema:
          type: string
        style: form
      - description: "Control sort order of facets with this parameter with default\
          \ sort being on count, Other available sort is alphabetical sort, which\
          \ can be obtained by using index as value for this param"
        explode: true
        in: query
        name: facet_sort
        required: false
        schema:
          default: count
          enum:
          - count
          - index
          type: string
        style: form
      - description: "The list of fields for which stats need to be generated based\
          \ on the matching listings for the search criteria. The stats consists of\
          \ mean, max, average and count of listings based on which the stats are\
          \ calculated for the field. Stats could be requested in addition to the\
          \ listings for the search. Please note - The API calls with the stats fields\
          \ may take longer to respond."
        explode: true
        in: query
        name: stats
        required: false
        schema:
          type: string
        style: form
      - description: To filter listing on Country in which they are listed
        explode: true
        in: query
        name: country
        required: false
        schema:
          default: US
          enum:
          - US
          - CA
          - us
          - ca
          - all
          - ALL
          type: string
        style: form
      - description: If plot has value true results in around 25k coordinates with
          limited fields to plot respective graph
        explode: true
        in: query
        name: plot
        required: false
        schema:
          type: boolean
        style: form
      - description: If nodedup is set to true then API will give results without
          is_searchable i.e multiple listings for single vin
        explode: true
        in: query
        name: nodedup
        required: false
        schema:
          type: boolean
        style: form
      - description: If dedup is set to true then will give results with is_searchable
          irrespecive of dealer_id or source
        explode: true
        in: query
        name: dedup
        required: false
        schema:
          type: boolean
        style: form
      - description: "Used in combination with dealer_id or source, when true returns\
          \ the listings actually owned by dealer himself"
        explode: true
        in: query
        name: owned
        required: false
        schema:
          type: boolean
        style: form
      - description: To filter listing on State in which they are listed
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: state
          transformConstraints:
          - maxLength: 2
            transformer: caseTransformer
            type: string
      - description: To filter listing on City in which they are listed
        explode: true
        in: query
        name: city
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: city
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Filter listings on dealer_name
        explode: true
        in: query
        name: dealer_name
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: seller_name
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Name of the dealership group to search for
        explode: true
        in: query
        name: dealership_group_name
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: dealership_group_name_ss
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Filter listings on web scraped trim
        explode: true
        in: query
        name: trim_o
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: trim_orig
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Filter trim on custom possible matches
        explode: true
        in: query
        name: trim_r
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: trim_r_ss
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Active Days on Market range to filter cars with the DOM within
          the given range. Range to be given in the format - min-max e.g. 10-50
        explode: true
        in: query
        name: dom_active_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: dom_active_is
          transformConstraints:
          - defaultMax: 30
            defaultMin: 0
            transformer: parseInt
            type: integer
      - description: Last 180 Days on Market range to filter cars with the DOM within
          the given range. Range to be given in the format - min-max e.g. 10-50
        explode: true
        in: query
        name: dom_180_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: dom_180_is
          transformConstraints:
          - defaultMax: 30
            defaultMin: 0
            transformer: parseInt
            type: integer
      - description: Boolean param to exclude certified cars from search results
        explode: true
        in: query
        name: exclude_certified
        required: false
        schema:
          type: boolean
        style: form
      - description: To filter listing on their fuel type
        explode: true
        in: query
        name: fuel_type
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: fuel_type
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Filter based on dealer type independant or franchise
        explode: true
        in: query
        name: dealer_type
        required: false
        schema:
          enum:
          - franchise
          - independent
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: in
          separator: ","
          targetAlias: dealer_type
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: "A boolean indicating whether to include only those listings\
          \ that have photo_links in search results, And discard those that don't\
          \ have them"
        explode: true
        in: query
        name: photo_links
        required: false
        schema:
          type: boolean
        style: form
      - description: "A boolean indicating whether to include only those listings\
          \ that have photo_links_cached in search results, And discard those that\
          \ don't have them"
        explode: true
        in: query
        name: photo_links_cached
        required: false
        schema:
          type: boolean
        style: form
      - description: To filter listing on their stock number on lot
        explode: true
        in: query
        name: stock_no
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: stock_no
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: "Last seen date range to filter listings with the last seen in\
          \ the range given. Range to be given in the format [YYYYMMDD] - min-max\
          \ e.g. 20190523-20190623"
        explode: true
        in: query
        name: last_seen_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: status_date
          transformConstraints:
          - transformer: parseDate
            type: date
      - description: "First seen date range to filter listings with the first seen\
          \ in the range given. Range to be given in the format [YYYYMMDD] - min-max\
          \ e.g. 20190523-20190623"
        explode: true
        in: query
        name: first_seen_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: scraped_at
          transformConstraints:
          - transformer: parseDate
            type: date
      - description: "First seen at source date range to filter listings with the\
          \ first seen at source in the range given. Range to be given in the format\
          \ [YYYYMMDD] - min-max e.g. 20190523-20190623"
        explode: true
        in: query
        name: first_seen_at_source_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: relisted_at_date_dts
          transformConstraints:
          - transformer: parseDate
            type: date
      - description: "First seen at MC date range to filter listings with the first\
          \ seen at MC in the range given. Range to be given in the format [YYYYMMDD]\
          \ - min-max e.g. 20190523-20190623"
        explode: true
        in: query
        name: first_seen_at_mc_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: first_scraped_at_dts
          transformConstraints:
          - transformer: parseDate
            type: date
      - description: Last seen days range to filter listings with the last seen in
          the range given. Range to be given in the format - min-max e.g. 25-12
        explode: true
        in: query
        name: last_seen_days
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: status_date
          transformConstraints:
          - nowBound: true
            transformer: parseDate
            type: date
      - description: First seen days range to filter listings with the first seen
          in the range given. Range to be given in the format - min-max e.g. 25-12
        explode: true
        in: query
        name: first_seen_days
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: scraped_at
          transformConstraints:
          - nowBound: true
            transformer: parseDate
            type: date
      - description: First seen at source days range to filter listings with the first
          seen at source in the range given. Range to be given in the format - min-max
          e.g. 25-12
        explode: true
        in: query
        name: first_seen_at_source_days
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: relisted_at_date_dts
          transformConstraints:
          - nowBound: true
            transformer: parseDate
            type: date
      - description: First seen at MC days range to filter listings with the first
          seen at MC in the range given. Range to be given in the format - min-max
          e.g. 25-12
        explode: true
        in: query
        name: first_seen_at_mc_days
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: first_scraped_at_dts
          transformConstraints:
          - nowBound: true
            transformer: parseDate
            type: date
      - description: To include_relevant_links. Default is true
        explode: true
        in: query
        name: include_relevant_links
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Inventory count range to filter listings with count of total
          listings in dealers inventory. Range to be given in the format - min-max
          e.g. 10-50
        explode: true
        in: query
        name: inventory_count_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: inventory_count_is
          transformConstraints:
          - defaultMax: 100000
            defaultMin: 0
            transformer: parseInt
            type: integer
      - description: A boolean to filter in transit vehicles
        explode: true
        in: query
        name: in_transit
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
        x-field-config:
          isConfigurable: false
          isMultiValued: false
          operator: equals
          targetAlias: in_transit_ss
          transformConstraints:
          - transformer: boolToFlag
            type: string
      - description: To filter on vehicle seating capacity
        explode: true
        in: query
        name: seating_capacity
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: std_seating_capacity_ss
          transformConstraints:
          - transformer: parseInt
            type: integer
      - description: Engine size range to filter listings with engine size in the
          given range. Range to be given in the format - min-max e.g. 1.0-2
        explode: true
        in: query
        name: engine_size_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: engine_size_ss
          transformConstraints:
          - defaultMax: 100
            defaultMin: 0
            transformer: parseFloat
            type: integer
      - description: To filter on powertrain_type
        explode: true
        in: query
        name: powertrain_type
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: powertrain_type_ss
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Filter listings based by number of photo links within given range
        explode: true
        in: query
        name: min_photo_links
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: photo_links_count_is
          transformConstraints:
          - defaultMax: 1000
            defaultMin: 0
            transformer: parseFloat
            type: integer
      - description: Filter listings based by number of cached photo links within
          given range
        explode: true
        in: query
        name: min_photo_links_cached
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: cached_photo_links_count_is
          transformConstraints:
          - defaultMax: 1000
            defaultMin: 0
            transformer: parseFloat
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
          description: List of all cars listings matching the search & filter criteria
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get dealers active inventory
      tags:
      - Car Search
      x-accepts:
      - application/json
    x-swagger-router-controller: search
  /car/recall/{vin}:
    get:
      description: Get a particular recall information for a vin
      operationId: getRecallHistory
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: The VIN to identify the car. Must be a valid 17 char VIN
        explode: false
        in: path
        name: vin
        required: true
        schema:
          format: string
          minLength: 10
          type: string
        style: simple
      - description: Page number to fetch the results for the given criteria. Default
          is 1.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: number
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
          description: Reacll info for the given vin
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Recall info by vin
      tags:
      - Recall Search
      x-accepts:
      - application/json
    x-swagger-router-controller: history
  /client/configure/get:
    get:
      description: get client filters
      operationId: get
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: To filter listing on Country in which they are listed
        explode: true
        in: query
        name: country
        required: true
        schema:
          enum:
          - US
          - CA
          - UK
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              examples:
                response:
                  value: |-
                    rule_type,field,value,factor
                    exclude,source,arnoldclark.com,
          description: Successfully get client filters
      summary: get client filters
      tags:
      - client filters
      x-accepts:
      - text/csv
    x-swagger-router-controller: client_filters
  /client/configure/set:
    post:
      description: set client filters
      operationId: set
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: To filter listing on Country in which they are listed
        explode: true
        in: query
        name: country
        required: true
        schema:
          enum:
          - US
          - CA
          - UK
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/set_request'
        required: true
      responses:
        "200":
          description: Successfully set client filters
      summary: set client filters
      tags:
      - client filters
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
    x-swagger-router-controller: client_filters
  /crm_check/car/{vin}:
    get:
      description: Check whether particular vin has had a listing after stipulated
        date or not
      operationId: crmCheck
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: The VIN to identify the car. Must be a valid 17 char VIN
        explode: false
        in: path
        name: vin
        required: true
        schema:
          format: string
          minLength: 10
          type: string
        style: simple
      - description: "sale date to check whether after this listing has appeared or\
          \ not. Must be 8 character long, with YYYYMMDD format"
        explode: true
        in: query
        name: sale_date
        required: true
        schema:
          format: string
          minLength: 8
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRMResponse'
          description: CRM check for given vin
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: CRM check of a particular vin
      tags:
      - CRM Cleanse API
      x-swagger-router-controller: history
      x-accepts:
      - application/json
  /dealer/car/uk/{id}:
    get:
      description: Get a particular dealer's information by its id
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: Dealer id to get all the dealer info attributes
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: boolean param to include site providers name in response
        explode: true
        in: query
        name: provider
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dealer'
          description: Dealer for the given id
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Dealer by id
      tags:
      - Dealer API
      x-swagger-router-controller: search
      x-accepts:
      - application/json
  /dealer/car/{id}:
    get:
      description: Get a particular dealer's information by its id
      operationId: getDealer
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: Dealer id to get all the dealer info attributes
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: boolean param to include site providers name in response
        explode: true
        in: query
        name: provider
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dealer'
          description: Dealer for the given id
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Dealer by id
      tags:
      - Dealer API
      x-swagger-router-controller: search
      x-accepts:
      - application/json
  /dealer/heavy-equipment/{id}:
    get:
      description: Get a particular dealer's information by its id
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: Dealer id to get all the dealer info attributes
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: boolean param to include site providers name in response
        explode: true
        in: query
        name: provider
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dealer'
          description: Dealer for the given id
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Dealer by id
      tags:
      - Dealer API
      x-swagger-router-controller: search
      x-accepts:
      - application/json
  /dealer/motorcycle/{id}:
    get:
      description: Get a particular dealer's information by its id
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: Dealer id to get all the dealer info attributes
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: boolean param to include site providers name in response
        explode: true
        in: query
        name: provider
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dealer'
          description: Dealer for the given id
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Dealer by id
      tags:
      - Dealer API
      x-swagger-router-controller: search
      x-accepts:
      - application/json
  /dealer/rv/{id}:
    get:
      description: Get a particular dealer's information by its id
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: Dealer id to get all the dealer info attributes
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: boolean param to include site providers name in response
        explode: true
        in: query
        name: provider
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dealer'
          description: Dealer for the given id
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Dealer by id
      tags:
      - Dealer API
      x-swagger-router-controller: search
      x-accepts:
      - application/json
  /dealers/car:
    get:
      description: The dealers API returns a list of dealers around a given point
        and radius.
      operationId: dealerSearch
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: Latitude component of location
        explode: true
        in: query
        name: latitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Longitude component of location
        explode: true
        in: query
        name: longitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Radius around the search location (Unit - Miles)
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: int32
          maximum: 7000
          minimum: 0
          type: integer
        style: form
      - description: Number of results to return. Default is 10. Max is 50
        explode: true
        in: query
        name: rows
        required: false
        schema:
          default: 10
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Page number to fetch the results for the given criteria. Default
          is 0. Pagination is allowed only till first 10000 results for the search
          and sort criteria. The page value can be only between 1 to 10000/rows
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: To filter listing on Country in which they are listed
        explode: true
        in: query
        name: country
        required: false
        schema:
          enum:
          - US
          - CA
          - us
          - ca
          - uk
          - england
          - scotland
          - northan ireland
          - wales
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: country
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Filter based on dealer type independant or franchise
        explode: true
        in: query
        name: dealer_type
        required: false
        schema:
          enum:
          - franchise
          - independent
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: in
          separator: ","
          targetAlias: dealer_type
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listing on City in which they are listed
        explode: true
        in: query
        name: city
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: city
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listing on State in which they are listed
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: state
          transformConstraints:
          - maxLength: 2
            transformer: caseTransformer
            type: string
      - description: To filter dealers based on their inventory size. Range can be
          given in the format - min-max e.g. 50-100
        explode: true
        in: query
        name: listing_count_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: listing_count
          transformConstraints:
          - defaultMax: 500
            defaultMin: 10
            transformer: parseInt
            type: integer
      - description: inventory_url of dealer to be searched
        explode: true
        in: query
        name: inventory_url
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: website
          transformConstraints:
          - transformer: urlTransformer
            type: string
      - description: To filter listing on ZIP around which they are listed
        explode: true
        in: query
        name: zip
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: zip
          transformConstraints:
          - regex: \s
            replace: ""
            transformer: regexReplace
          - transformer: caseTransformer
            type: string
      - description: Sort by field. Default sort field is distance from the given
          point
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: Sort order - asc or desc. Default sort order is asc
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          enum:
          - asc
          - desc
          - ASC
          - DESC
          format: string
          type: string
        style: form
      - description: boolean param to include site providers name in response
        explode: true
        in: query
        name: provider
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The comma separated list of fields for which facets are requested.
          Facets could be requested in addition to the listings for the search. Please
          note - The API calls with lots of facet fields may take longer to respond.
        explode: true
        in: query
        name: facets
        required: false
        schema:
          type: string
        style: form
      - description: The comma separated list of numeric fields for which range facets
          are requested. Range facets could be requested in addition to the listings
          for the search. Please note - The API calls with lots of range facet fields
          may take longer to respond.
        explode: true
        in: query
        name: range_facets
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealersResponse'
          description: List of dealers for the search
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Find car dealers around
      tags:
      - Dealer API
      x-accepts:
      - application/json
    x-swagger-router-controller: search
  /dealers/car/uk:
    get:
      description: The dealers API returns a list of dealers around a given point
        and radius.
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: Latitude component of location
        explode: true
        in: query
        name: latitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Longitude component of location
        explode: true
        in: query
        name: longitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Radius around the search location (Unit - Miles)
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: int32
          maximum: 7000
          minimum: 0
          type: integer
        style: form
      - description: Number of results to return. Default is 10. Max is 50
        explode: true
        in: query
        name: rows
        required: false
        schema:
          default: 10
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Page number to fetch the results for the given criteria. Default
          is 0. Pagination is allowed only till first 10000 results for the search
          and sort criteria. The page value can be only between 1 to 10000/rows
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: To filter listing on Country in which they are listed
        explode: true
        in: query
        name: country
        required: false
        schema:
          enum:
          - US
          - CA
          - us
          - ca
          - uk
          - england
          - scotland
          - northan ireland
          - wales
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: country
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Filter based on dealer type independant or franchise
        explode: true
        in: query
        name: dealer_type
        required: false
        schema:
          enum:
          - franchise
          - independent
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: in
          separator: ","
          targetAlias: dealer_type
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listing on City in which they are listed
        explode: true
        in: query
        name: city
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: city
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listing on county in which they are listed
        explode: true
        in: query
        name: county
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: state
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter dealers based on their inventory size. Range can be
          given in the format - min-max e.g. 50-100
        explode: true
        in: query
        name: listing_count_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: listing_count
          transformConstraints:
          - defaultMax: 500
            defaultMin: 10
            transformer: parseInt
            type: integer
      - description: inventory_url of dealer to be searched
        explode: true
        in: query
        name: inventory_url
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: website
          transformConstraints:
          - transformer: urlTransformer
            type: string
      - description: To filter listing on postal code around which they are listed
        explode: true
        in: query
        name: postal_code
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: zip
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Sort by field. Default sort field is distance from the given
          point
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: Sort order - asc or desc. Default sort order is asc
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          enum:
          - asc
          - desc
          - ASC
          - DESC
          format: string
          type: string
        style: form
      - description: boolean param to include site providers name in response
        explode: true
        in: query
        name: provider
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The comma separated list of fields for which facets are requested.
          Facets could be requested in addition to the listings for the search. Please
          note - The API calls with lots of facet fields may take longer to respond.
        explode: true
        in: query
        name: facets
        required: false
        schema:
          type: string
        style: form
      - description: The comma separated list of numeric fields for which range facets
          are requested. Range facets could be requested in addition to the listings
          for the search. Please note - The API calls with lots of range facet fields
          may take longer to respond.
        explode: true
        in: query
        name: range_facets
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealersResponse'
          description: List of dealers for the search
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Find car dealers around
      tags:
      - Dealer API
      x-accepts:
      - application/json
    x-swagger-router-controller: search
  /dealers/heavy-equipment:
    get:
      description: The dealers API returns a list of dealers around a given point
        and radius.
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: Latitude component of location
        explode: true
        in: query
        name: latitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Longitude component of location
        explode: true
        in: query
        name: longitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Radius around the search location (Unit - Miles)
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: int32
          maximum: 7000
          minimum: 0
          type: integer
        style: form
      - description: Number of results to return. Default is 10. Max is 50
        explode: true
        in: query
        name: rows
        required: false
        schema:
          default: 10
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Page number to fetch the results for the given criteria. Default
          is 0. Pagination is allowed only till first 10000 results for the search
          and sort criteria. The page value can be only between 1 to 10000/rows
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: To filter listing on Country in which they are listed
        explode: true
        in: query
        name: country
        required: false
        schema:
          enum:
          - US
          - CA
          - us
          - ca
          - uk
          - england
          - scotland
          - northan ireland
          - wales
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: country
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Filter based on dealer type independant or franchise
        explode: true
        in: query
        name: dealer_type
        required: false
        schema:
          enum:
          - franchise
          - independent
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: in
          separator: ","
          targetAlias: dealer_type
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listing on City in which they are listed
        explode: true
        in: query
        name: city
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: city
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listing on State in which they are listed
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: state
          transformConstraints:
          - maxLength: 2
            transformer: caseTransformer
            type: string
      - description: To filter dealers based on their inventory size. Range can be
          given in the format - min-max e.g. 50-100
        explode: true
        in: query
        name: listing_count_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: listing_count
          transformConstraints:
          - defaultMax: 500
            defaultMin: 10
            transformer: parseInt
            type: integer
      - description: inventory_url of dealer to be searched
        explode: true
        in: query
        name: inventory_url
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: website
          transformConstraints:
          - transformer: urlTransformer
            type: string
      - description: To filter listing on ZIP around which they are listed
        explode: true
        in: query
        name: zip
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: zip
          transformConstraints:
          - regex: \s
            replace: ""
            transformer: regexReplace
          - transformer: caseTransformer
            type: string
      - description: Sort by field. Default sort field is distance from the given
          point
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: Sort order - asc or desc. Default sort order is asc
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          enum:
          - asc
          - desc
          - ASC
          - DESC
          format: string
          type: string
        style: form
      - description: boolean param to include site providers name in response
        explode: true
        in: query
        name: provider
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The comma separated list of fields for which facets are requested.
          Facets could be requested in addition to the listings for the search. Please
          note - The API calls with lots of facet fields may take longer to respond.
        explode: true
        in: query
        name: facets
        required: false
        schema:
          type: string
        style: form
      - description: The comma separated list of numeric fields for which range facets
          are requested. Range facets could be requested in addition to the listings
          for the search. Please note - The API calls with lots of range facet fields
          may take longer to respond.
        explode: true
        in: query
        name: range_facets
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealersResponse'
          description: List of dealers for the search
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Find car dealers around
      tags:
      - Dealer API
      x-accepts:
      - application/json
    x-swagger-router-controller: search
  /dealers/motorcycle:
    get:
      description: The dealers API returns a list of dealers around a given point
        and radius.
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: Latitude component of location
        explode: true
        in: query
        name: latitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Longitude component of location
        explode: true
        in: query
        name: longitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Radius around the search location (Unit - Miles)
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: int32
          maximum: 7000
          minimum: 0
          type: integer
        style: form
      - description: Number of results to return. Default is 10. Max is 50
        explode: true
        in: query
        name: rows
        required: false
        schema:
          default: 10
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Page number to fetch the results for the given criteria. Default
          is 0. Pagination is allowed only till first 10000 results for the search
          and sort criteria. The page value can be only between 1 to 10000/rows
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: To filter listing on Country in which they are listed
        explode: true
        in: query
        name: country
        required: false
        schema:
          enum:
          - US
          - CA
          - us
          - ca
          - uk
          - england
          - scotland
          - northan ireland
          - wales
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: country
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Filter based on dealer type independant or franchise
        explode: true
        in: query
        name: dealer_type
        required: false
        schema:
          enum:
          - franchise
          - independent
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: in
          separator: ","
          targetAlias: dealer_type
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listing on City in which they are listed
        explode: true
        in: query
        name: city
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: city
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listing on State in which they are listed
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: state
          transformConstraints:
          - maxLength: 2
            transformer: caseTransformer
            type: string
      - description: To filter dealers based on their inventory size. Range can be
          given in the format - min-max e.g. 50-100
        explode: true
        in: query
        name: listing_count_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: listing_count
          transformConstraints:
          - defaultMax: 500
            defaultMin: 10
            transformer: parseInt
            type: integer
      - description: inventory_url of dealer to be searched
        explode: true
        in: query
        name: inventory_url
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: website
          transformConstraints:
          - transformer: urlTransformer
            type: string
      - description: To filter listing on ZIP around which they are listed
        explode: true
        in: query
        name: zip
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: zip
          transformConstraints:
          - regex: \s
            replace: ""
            transformer: regexReplace
          - transformer: caseTransformer
            type: string
      - description: Sort by field. Default sort field is distance from the given
          point
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: Sort order - asc or desc. Default sort order is asc
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          enum:
          - asc
          - desc
          - ASC
          - DESC
          format: string
          type: string
        style: form
      - description: boolean param to include site providers name in response
        explode: true
        in: query
        name: provider
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The comma separated list of fields for which facets are requested.
          Facets could be requested in addition to the listings for the search. Please
          note - The API calls with lots of facet fields may take longer to respond.
        explode: true
        in: query
        name: facets
        required: false
        schema:
          type: string
        style: form
      - description: The comma separated list of numeric fields for which range facets
          are requested. Range facets could be requested in addition to the listings
          for the search. Please note - The API calls with lots of range facet fields
          may take longer to respond.
        explode: true
        in: query
        name: range_facets
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealersResponse'
          description: List of dealers for the search
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Find car dealers around
      tags:
      - Dealer API
      x-accepts:
      - application/json
    x-swagger-router-controller: search
  /dealers/rv:
    get:
      description: The dealers API returns a list of dealers around a given point
        and radius.
      parameters:
      - description: The API Authentication Key. Mandatory with all API calls.
        explode: true
        in: query
        name: api_key
        required: false
        schema:
          type: string
        style: form
      - description: Latitude component of location
        explode: true
        in: query
        name: latitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Longitude component of location
        explode: true
        in: query
        name: longitude
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Radius around the search location (Unit - Miles)
        explode: true
        in: query
        name: radius
        required: false
        schema:
          format: int32
          maximum: 7000
          minimum: 0
          type: integer
        style: form
      - description: Number of results to return. Default is 10. Max is 50
        explode: true
        in: query
        name: rows
        required: false
        schema:
          default: 10
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Page number to fetch the results for the given criteria. Default
          is 0. Pagination is allowed only till first 10000 results for the search
          and sort criteria. The page value can be only between 1 to 10000/rows
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: To filter listing on Country in which they are listed
        explode: true
        in: query
        name: country
        required: false
        schema:
          enum:
          - US
          - CA
          - us
          - ca
          - uk
          - england
          - scotland
          - northan ireland
          - wales
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: country
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: Filter based on dealer type independant or franchise
        explode: true
        in: query
        name: dealer_type
        required: false
        schema:
          enum:
          - franchise
          - independent
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: in
          separator: ","
          targetAlias: dealer_type
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listing on City in which they are listed
        explode: true
        in: query
        name: city
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: city
          transformConstraints:
          - transformer: caseTransformer
            type: string
      - description: To filter listing on State in which they are listed
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: true
          operator: in
          separator: ","
          targetAlias: state
          transformConstraints:
          - maxLength: 2
            transformer: caseTransformer
            type: string
      - description: To filter dealers based on their inventory size. Range can be
          given in the format - min-max e.g. 50-100
        explode: true
        in: query
        name: listing_count_range
        required: false
        schema:
          format: string
          type: string
        style: form
        x-field-config:
          isConfigurable: true
          isMultiValued: false
          operator: between
          separator: "-"
          targetAlias: listing_count
[...]
