openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Traffic Director API
  version: v3
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: google
    url: https://trafficdirector.googleapis.com/$discovery/rest?version=v3
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: trafficdirector
externalDocs:
  url: https://cloud.google.com/traffic-director
servers:
- url: https://trafficdirector.googleapis.com/
tags:
- name: discovery
paths:
  /v3/discovery:client_status:
    post:
      description: ""
      operationId: trafficdirector_discovery_client_status
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientStatusRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientStatusResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - discovery
      x-openapi-router-controller: openapi_server.controllers.discovery_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    Address:
      description: "Addresses specify either a logical or physical address and port,\
        \ which are used to tell Envoy where to bind/listen, connect to upstream and\
        \ find management servers."
      example:
        pipe:
          mode: 5
          path: path
        envoyInternalAddress:
          serverListenerName: serverListenerName
          endpointId: endpointId
        socketAddress:
          protocol: TCP
          resolverName: resolverName
          address: address
          ipv4Compat: true
          portValue: 5
          namedPort: namedPort
      properties:
        envoyInternalAddress:
          $ref: '#/components/schemas/EnvoyInternalAddress'
        pipe:
          $ref: '#/components/schemas/Pipe'
        socketAddress:
          $ref: '#/components/schemas/SocketAddress'
      title: Address
      type: object
    BuildVersion:
      description: "BuildVersion combines SemVer version of extension with free-form\
        \ build information (i.e. 'alpha', 'private-build') as a set of strings."
      example:
        metadata:
          key: ""
        version:
          patch: 1
          majorNumber: 0
          minorNumber: 6
      properties:
        metadata:
          additionalProperties:
            description: Properties of the object.
          description: Free-form build information. Envoy defines several well known
            keys in the source/common/version/version.h file
          title: metadata
          type: object
        version:
          $ref: '#/components/schemas/SemanticVersion'
      title: BuildVersion
      type: object
    ClientConfig:
      description: All xds configs for a particular client.
      example:
        node:
          cluster: cluster
          extensions:
          - name: name
            disabled: true
            category: category
            version:
              metadata:
                key: ""
              version:
                patch: 1
                majorNumber: 0
                minorNumber: 6
            typeUrls:
            - typeUrls
            - typeUrls
            typeDescriptor: typeDescriptor
          - name: name
            disabled: true
            category: category
            version:
              metadata:
                key: ""
              version:
                patch: 1
                majorNumber: 0
                minorNumber: 6
            typeUrls:
            - typeUrls
            - typeUrls
            typeDescriptor: typeDescriptor
          metadata:
            key: ""
          clientFeatures:
          - clientFeatures
          - clientFeatures
          userAgentVersion: userAgentVersion
          dynamicParameters:
            key:
              params:
                key: params
          locality:
            zone: zone
            region: region
            subZone: subZone
          userAgentBuildVersion:
            metadata:
              key: ""
            version:
              patch: 1
              majorNumber: 0
              minorNumber: 6
          id: id
          userAgentName: userAgentName
          listeningAddresses:
          - pipe:
              mode: 5
              path: path
            envoyInternalAddress:
              serverListenerName: serverListenerName
              endpointId: endpointId
            socketAddress:
              protocol: TCP
              resolverName: resolverName
              address: address
              ipv4Compat: true
              portValue: 5
              namedPort: namedPort
          - pipe:
              mode: 5
              path: path
            envoyInternalAddress:
              serverListenerName: serverListenerName
              endpointId: endpointId
            socketAddress:
              protocol: TCP
              resolverName: resolverName
              address: address
              ipv4Compat: true
              portValue: 5
              namedPort: namedPort
        xdsConfig:
        - scopedRouteConfig:
            inlineScopedRouteConfigs:
            - lastUpdated: lastUpdated
              scopedRouteConfigs:
              - key: ""
              - key: ""
              name: name
            - lastUpdated: lastUpdated
              scopedRouteConfigs:
              - key: ""
              - key: ""
              name: name
            dynamicScopedRouteConfigs:
            - lastUpdated: lastUpdated
              scopedRouteConfigs:
              - key: ""
              - key: ""
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              name: name
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            - lastUpdated: lastUpdated
              scopedRouteConfigs:
              - key: ""
              - key: ""
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              name: name
              clientStatus: UNKNOWN
              versionInfo: versionInfo
          routeConfig:
            dynamicRouteConfigs:
            - lastUpdated: lastUpdated
              routeConfig:
                key: ""
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            - lastUpdated: lastUpdated
              routeConfig:
                key: ""
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            staticRouteConfigs:
            - lastUpdated: lastUpdated
              routeConfig:
                key: ""
            - lastUpdated: lastUpdated
              routeConfig:
                key: ""
          endpointConfig:
            dynamicEndpointConfigs:
            - lastUpdated: lastUpdated
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              endpointConfig:
                key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            - lastUpdated: lastUpdated
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              endpointConfig:
                key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            staticEndpointConfigs:
            - lastUpdated: lastUpdated
              endpointConfig:
                key: ""
            - lastUpdated: lastUpdated
              endpointConfig:
                key: ""
          clusterConfig:
            dynamicActiveClusters:
            - cluster:
                key: ""
              lastUpdated: lastUpdated
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            - cluster:
                key: ""
              lastUpdated: lastUpdated
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            dynamicWarmingClusters:
            - cluster:
                key: ""
              lastUpdated: lastUpdated
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            - cluster:
                key: ""
              lastUpdated: lastUpdated
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            versionInfo: versionInfo
            staticClusters:
            - cluster:
                key: ""
              lastUpdated: lastUpdated
            - cluster:
                key: ""
              lastUpdated: lastUpdated
          clientStatus: CLIENT_UNKNOWN
          listenerConfig:
            dynamicListeners:
            - warmingState:
                lastUpdated: lastUpdated
                listener:
                  key: ""
                versionInfo: versionInfo
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              activeState:
                lastUpdated: lastUpdated
                listener:
                  key: ""
                versionInfo: versionInfo
              name: name
              clientStatus: UNKNOWN
              drainingState:
                lastUpdated: lastUpdated
                listener:
                  key: ""
                versionInfo: versionInfo
            - warmingState:
                lastUpdated: lastUpdated
                listener:
                  key: ""
                versionInfo: versionInfo
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              activeState:
                lastUpdated: lastUpdated
                listener:
                  key: ""
                versionInfo: versionInfo
              name: name
              clientStatus: UNKNOWN
              drainingState:
                lastUpdated: lastUpdated
                listener:
                  key: ""
                versionInfo: versionInfo
            staticListeners:
            - lastUpdated: lastUpdated
              listener:
                key: ""
            - lastUpdated: lastUpdated
              listener:
                key: ""
            versionInfo: versionInfo
          status: UNKNOWN
        - scopedRouteConfig:
            inlineScopedRouteConfigs:
            - lastUpdated: lastUpdated
              scopedRouteConfigs:
              - key: ""
              - key: ""
              name: name
            - lastUpdated: lastUpdated
              scopedRouteConfigs:
              - key: ""
              - key: ""
              name: name
            dynamicScopedRouteConfigs:
            - lastUpdated: lastUpdated
              scopedRouteConfigs:
              - key: ""
              - key: ""
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              name: name
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            - lastUpdated: lastUpdated
              scopedRouteConfigs:
              - key: ""
              - key: ""
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              name: name
              clientStatus: UNKNOWN
              versionInfo: versionInfo
          routeConfig:
            dynamicRouteConfigs:
            - lastUpdated: lastUpdated
              routeConfig:
                key: ""
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            - lastUpdated: lastUpdated
              routeConfig:
                key: ""
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            staticRouteConfigs:
            - lastUpdated: lastUpdated
              routeConfig:
                key: ""
            - lastUpdated: lastUpdated
              routeConfig:
                key: ""
          endpointConfig:
            dynamicEndpointConfigs:
            - lastUpdated: lastUpdated
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              endpointConfig:
                key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            - lastUpdated: lastUpdated
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              endpointConfig:
                key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            staticEndpointConfigs:
            - lastUpdated: lastUpdated
              endpointConfig:
                key: ""
            - lastUpdated: lastUpdated
              endpointConfig:
                key: ""
          clusterConfig:
            dynamicActiveClusters:
            - cluster:
                key: ""
              lastUpdated: lastUpdated
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            - cluster:
                key: ""
              lastUpdated: lastUpdated
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            dynamicWarmingClusters:
            - cluster:
                key: ""
              lastUpdated: lastUpdated
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            - cluster:
                key: ""
              lastUpdated: lastUpdated
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              clientStatus: UNKNOWN
              versionInfo: versionInfo
            versionInfo: versionInfo
            staticClusters:
            - cluster:
                key: ""
              lastUpdated: lastUpdated
            - cluster:
                key: ""
              lastUpdated: lastUpdated
          clientStatus: CLIENT_UNKNOWN
          listenerConfig:
            dynamicListeners:
            - warmingState:
                lastUpdated: lastUpdated
                listener:
                  key: ""
                versionInfo: versionInfo
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              activeState:
                lastUpdated: lastUpdated
                listener:
                  key: ""
                versionInfo: versionInfo
              name: name
              clientStatus: UNKNOWN
              drainingState:
                lastUpdated: lastUpdated
                listener:
                  key: ""
                versionInfo: versionInfo
            - warmingState:
                lastUpdated: lastUpdated
                listener:
                  key: ""
                versionInfo: versionInfo
              errorState:
                details: details
                lastUpdateAttempt: lastUpdateAttempt
                versionInfo: versionInfo
                failedConfiguration:
                  key: ""
              activeState:
                lastUpdated: lastUpdated
                listener:
                  key: ""
                versionInfo: versionInfo
              name: name
              clientStatus: UNKNOWN
              drainingState:
                lastUpdated: lastUpdated
                listener:
                  key: ""
                versionInfo: versionInfo
            staticListeners:
            - lastUpdated: lastUpdated
              listener:
                key: ""
            - lastUpdated: lastUpdated
              listener:
                key: ""
            versionInfo: versionInfo
          status: UNKNOWN
        clientScope: clientScope
        genericXdsConfigs:
        - lastUpdated: lastUpdated
          typeUrl: typeUrl
          xdsConfig:
            key: ""
          errorState:
            details: details
            lastUpdateAttempt: lastUpdateAttempt
            versionInfo: versionInfo
            failedConfiguration:
              key: ""
          name: name
          clientStatus: UNKNOWN
          configStatus: UNKNOWN
          versionInfo: versionInfo
          isStaticResource: true
        - lastUpdated: lastUpdated
          typeUrl: typeUrl
          xdsConfig:
            key: ""
          errorState:
            details: details
            lastUpdateAttempt: lastUpdateAttempt
            versionInfo: versionInfo
            failedConfiguration:
              key: ""
          name: name
          clientStatus: UNKNOWN
          configStatus: UNKNOWN
          versionInfo: versionInfo
          isStaticResource: true
      properties:
        clientScope:
          description: "For xDS clients, the scope in which the data is used. For\
            \ example, gRPC indicates the data plane target or that the data is associated\
            \ with gRPC server(s)."
          title: clientScope
          type: string
        genericXdsConfigs:
          description: Represents generic xDS config and the exact config structure
            depends on the type URL (like Cluster if it is CDS)
          items:
            $ref: '#/components/schemas/GenericXdsConfig'
          title: genericXdsConfigs
          type: array
        node:
          $ref: '#/components/schemas/Node'
        xdsConfig:
          deprecated: true
          description: This field is deprecated in favor of generic_xds_configs which
            is much simpler and uniform in structure.
          items:
            $ref: '#/components/schemas/PerXdsConfig'
          title: xdsConfig
          type: array
      title: ClientConfig
      type: object
    ClientStatusRequest:
      description: Request for client status of clients identified by a list of NodeMatchers.
      example:
        node:
          cluster: cluster
          extensions:
          - name: name
            disabled: true
            category: category
            version:
              metadata:
                key: ""
              version:
                patch: 1
                majorNumber: 0
                minorNumber: 6
            typeUrls:
            - typeUrls
            - typeUrls
            typeDescriptor: typeDescriptor
          - name: name
            disabled: true
            category: category
            version:
              metadata:
                key: ""
              version:
                patch: 1
                majorNumber: 0
                minorNumber: 6
            typeUrls:
            - typeUrls
            - typeUrls
            typeDescriptor: typeDescriptor
          metadata:
            key: ""
          clientFeatures:
          - clientFeatures
          - clientFeatures
          userAgentVersion: userAgentVersion
          dynamicParameters:
            key:
              params:
                key: params
          locality:
            zone: zone
            region: region
            subZone: subZone
          userAgentBuildVersion:
            metadata:
              key: ""
            version:
              patch: 1
              majorNumber: 0
              minorNumber: 6
          id: id
          userAgentName: userAgentName
          listeningAddresses:
          - pipe:
              mode: 5
              path: path
            envoyInternalAddress:
              serverListenerName: serverListenerName
              endpointId: endpointId
            socketAddress:
              protocol: TCP
              resolverName: resolverName
              address: address
              ipv4Compat: true
              portValue: 5
              namedPort: namedPort
          - pipe:
              mode: 5
              path: path
            envoyInternalAddress:
              serverListenerName: serverListenerName
              endpointId: endpointId
            socketAddress:
              protocol: TCP
              resolverName: resolverName
              address: address
              ipv4Compat: true
              portValue: 5
              namedPort: namedPort
        excludeResourceContents: true
        nodeMatchers:
        - nodeMetadatas:
          - path:
            - key: key
            - key: key
            value:
              presentMatch: true
              listMatch:
                oneOf: null
              boolMatch: true
              orMatch:
                valueMatchers:
                - null
                - null
              nullMatch: "{}"
              stringMatch:
                contains: contains
                ignoreCase: true
                prefix: prefix
                exact: exact
                suffix: suffix
                safeRegex:
                  regex: regex
                  googleRe2:
                    maxProgramSize: 0
              doubleMatch:
                exact: 6.027456183070403
                range:
                  start: 5.962133916683182
                  end: 1.4658129805029452
          - path:
            - key: key
            - key: key
            value:
              presentMatch: true
              listMatch:
                oneOf: null
              boolMatch: true
              orMatch:
                valueMatchers:
                - null
                - null
              nullMatch: "{}"
              stringMatch:
                contains: contains
                ignoreCase: true
                prefix: prefix
                exact: exact
                suffix: suffix
                safeRegex:
                  regex: regex
                  googleRe2:
                    maxProgramSize: 0
              doubleMatch:
                exact: 6.027456183070403
                range:
                  start: 5.962133916683182
                  end: 1.4658129805029452
          nodeId:
            contains: contains
            ignoreCase: true
            prefix: prefix
            exact: exact
            suffix: suffix
            safeRegex:
              regex: regex
              googleRe2:
                maxProgramSize: 0
        - nodeMetadatas:
          - path:
            - key: key
            - key: key
            value:
              presentMatch: true
              listMatch:
                oneOf: null
              boolMatch: true
              orMatch:
                valueMatchers:
                - null
                - null
              nullMatch: "{}"
              stringMatch:
                contains: contains
                ignoreCase: true
                prefix: prefix
                exact: exact
                suffix: suffix
                safeRegex:
                  regex: regex
                  googleRe2:
                    maxProgramSize: 0
              doubleMatch:
                exact: 6.027456183070403
                range:
                  start: 5.962133916683182
                  end: 1.4658129805029452
          - path:
            - key: key
            - key: key
            value:
              presentMatch: true
              listMatch:
                oneOf: null
              boolMatch: true
              orMatch:
                valueMatchers:
                - null
                - null
              nullMatch: "{}"
              stringMatch:
                contains: contains
                ignoreCase: true
                prefix: prefix
                exact: exact
                suffix: suffix
                safeRegex:
                  regex: regex
                  googleRe2:
                    maxProgramSize: 0
              doubleMatch:
                exact: 6.027456183070403
                range:
                  start: 5.962133916683182
                  end: 1.4658129805029452
          nodeId:
            contains: contains
            ignoreCase: true
            prefix: prefix
            exact: exact
            suffix: suffix
            safeRegex:
              regex: regex
              googleRe2:
                maxProgramSize: 0
      properties:
        excludeResourceContents:
          description: "If true, the server will not include the resource contents\
            \ in the response (i.e., the generic_xds_configs.xds_config field will\
            \ not be populated). [#not-implemented-hide:]"
          title: excludeResourceContents
          type: boolean
        node:
          $ref: '#/components/schemas/Node'
        nodeMatchers:
          description: Management server can use these match criteria to identify
            clients. The match follows OR semantics.
          items:
            $ref: '#/components/schemas/NodeMatcher'
          title: nodeMatchers
          type: array
      title: ClientStatusRequest
      type: object
    ClientStatusResponse:
      example:
        config:
        - node:
            cluster: cluster
            extensions:
            - name: name
              disabled: true
              category: category
              version:
                metadata:
                  key: ""
                version:
                  patch: 1
                  majorNumber: 0
                  minorNumber: 6
              typeUrls:
              - typeUrls
              - typeUrls
              typeDescriptor: typeDescriptor
            - name: name
              disabled: true
              category: category
              version:
                metadata:
                  key: ""
                version:
                  patch: 1
                  majorNumber: 0
                  minorNumber: 6
              typeUrls:
              - typeUrls
              - typeUrls
              typeDescriptor: typeDescriptor
            metadata:
              key: ""
            clientFeatures:
            - clientFeatures
            - clientFeatures
            userAgentVersion: userAgentVersion
            dynamicParameters:
              key:
                params:
                  key: params
            locality:
              zone: zone
              region: region
              subZone: subZone
            userAgentBuildVersion:
              metadata:
                key: ""
              version:
                patch: 1
                majorNumber: 0
                minorNumber: 6
            id: id
            userAgentName: userAgentName
            listeningAddresses:
            - pipe:
                mode: 5
                path: path
              envoyInternalAddress:
                serverListenerName: serverListenerName
                endpointId: endpointId
              socketAddress:
                protocol: TCP
                resolverName: resolverName
                address: address
                ipv4Compat: true
                portValue: 5
                namedPort: namedPort
            - pipe:
                mode: 5
                path: path
              envoyInternalAddress:
                serverListenerName: serverListenerName
                endpointId: endpointId
              socketAddress:
                protocol: TCP
                resolverName: resolverName
                address: address
                ipv4Compat: true
                portValue: 5
                namedPort: namedPort
          xdsConfig:
          - scopedRouteConfig:
              inlineScopedRouteConfigs:
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                name: name
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                name: name
              dynamicScopedRouteConfigs:
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                name: name
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                name: name
                clientStatus: UNKNOWN
                versionInfo: versionInfo
            routeConfig:
              dynamicRouteConfigs:
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              staticRouteConfigs:
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
            endpointConfig:
              dynamicEndpointConfigs:
              - lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                endpointConfig:
                  key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                endpointConfig:
                  key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              staticEndpointConfigs:
              - lastUpdated: lastUpdated
                endpointConfig:
                  key: ""
              - lastUpdated: lastUpdated
                endpointConfig:
                  key: ""
            clusterConfig:
              dynamicActiveClusters:
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              dynamicWarmingClusters:
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              versionInfo: versionInfo
              staticClusters:
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
            clientStatus: CLIENT_UNKNOWN
            listenerConfig:
              dynamicListeners:
              - warmingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                activeState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                name: name
                clientStatus: UNKNOWN
                drainingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
              - warmingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                activeState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                name: name
                clientStatus: UNKNOWN
                drainingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
              staticListeners:
              - lastUpdated: lastUpdated
                listener:
                  key: ""
              - lastUpdated: lastUpdated
                listener:
                  key: ""
              versionInfo: versionInfo
            status: UNKNOWN
          - scopedRouteConfig:
              inlineScopedRouteConfigs:
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                name: name
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                name: name
              dynamicScopedRouteConfigs:
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                name: name
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                name: name
                clientStatus: UNKNOWN
                versionInfo: versionInfo
            routeConfig:
              dynamicRouteConfigs:
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              staticRouteConfigs:
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
            endpointConfig:
              dynamicEndpointConfigs:
              - lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                endpointConfig:
                  key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                endpointConfig:
                  key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              staticEndpointConfigs:
              - lastUpdated: lastUpdated
                endpointConfig:
                  key: ""
              - lastUpdated: lastUpdated
                endpointConfig:
                  key: ""
            clusterConfig:
              dynamicActiveClusters:
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              dynamicWarmingClusters:
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              versionInfo: versionInfo
              staticClusters:
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
            clientStatus: CLIENT_UNKNOWN
            listenerConfig:
              dynamicListeners:
              - warmingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                activeState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                name: name
                clientStatus: UNKNOWN
                drainingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
              - warmingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                activeState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                name: name
                clientStatus: UNKNOWN
                drainingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
              staticListeners:
              - lastUpdated: lastUpdated
                listener:
                  key: ""
              - lastUpdated: lastUpdated
                listener:
                  key: ""
              versionInfo: versionInfo
            status: UNKNOWN
          clientScope: clientScope
          genericXdsConfigs:
          - lastUpdated: lastUpdated
            typeUrl: typeUrl
            xdsConfig:
              key: ""
            errorState:
              details: details
              lastUpdateAttempt: lastUpdateAttempt
              versionInfo: versionInfo
              failedConfiguration:
                key: ""
            name: name
            clientStatus: UNKNOWN
            configStatus: UNKNOWN
            versionInfo: versionInfo
            isStaticResource: true
          - lastUpdated: lastUpdated
            typeUrl: typeUrl
            xdsConfig:
              key: ""
            errorState:
              details: details
              lastUpdateAttempt: lastUpdateAttempt
              versionInfo: versionInfo
              failedConfiguration:
                key: ""
            name: name
            clientStatus: UNKNOWN
            configStatus: UNKNOWN
            versionInfo: versionInfo
            isStaticResource: true
        - node:
            cluster: cluster
            extensions:
            - name: name
              disabled: true
              category: category
              version:
                metadata:
                  key: ""
                version:
                  patch: 1
                  majorNumber: 0
                  minorNumber: 6
              typeUrls:
              - typeUrls
              - typeUrls
              typeDescriptor: typeDescriptor
            - name: name
              disabled: true
              category: category
              version:
                metadata:
                  key: ""
                version:
                  patch: 1
                  majorNumber: 0
                  minorNumber: 6
              typeUrls:
              - typeUrls
              - typeUrls
              typeDescriptor: typeDescriptor
            metadata:
              key: ""
            clientFeatures:
            - clientFeatures
            - clientFeatures
            userAgentVersion: userAgentVersion
            dynamicParameters:
              key:
                params:
                  key: params
            locality:
              zone: zone
              region: region
              subZone: subZone
            userAgentBuildVersion:
              metadata:
                key: ""
              version:
                patch: 1
                majorNumber: 0
                minorNumber: 6
            id: id
            userAgentName: userAgentName
            listeningAddresses:
            - pipe:
                mode: 5
                path: path
              envoyInternalAddress:
                serverListenerName: serverListenerName
                endpointId: endpointId
              socketAddress:
                protocol: TCP
                resolverName: resolverName
                address: address
                ipv4Compat: true
                portValue: 5
                namedPort: namedPort
            - pipe:
                mode: 5
                path: path
              envoyInternalAddress:
                serverListenerName: serverListenerName
                endpointId: endpointId
              socketAddress:
                protocol: TCP
                resolverName: resolverName
                address: address
                ipv4Compat: true
                portValue: 5
                namedPort: namedPort
          xdsConfig:
          - scopedRouteConfig:
              inlineScopedRouteConfigs:
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                name: name
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                name: name
              dynamicScopedRouteConfigs:
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                name: name
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                name: name
                clientStatus: UNKNOWN
                versionInfo: versionInfo
            routeConfig:
              dynamicRouteConfigs:
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              staticRouteConfigs:
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
            endpointConfig:
              dynamicEndpointConfigs:
              - lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                endpointConfig:
                  key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                endpointConfig:
                  key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              staticEndpointConfigs:
              - lastUpdated: lastUpdated
                endpointConfig:
                  key: ""
              - lastUpdated: lastUpdated
                endpointConfig:
                  key: ""
            clusterConfig:
              dynamicActiveClusters:
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              dynamicWarmingClusters:
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              versionInfo: versionInfo
              staticClusters:
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
            clientStatus: CLIENT_UNKNOWN
            listenerConfig:
              dynamicListeners:
              - warmingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                activeState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                name: name
                clientStatus: UNKNOWN
                drainingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
              - warmingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                activeState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                name: name
                clientStatus: UNKNOWN
                drainingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
              staticListeners:
              - lastUpdated: lastUpdated
                listener:
                  key: ""
              - lastUpdated: lastUpdated
                listener:
                  key: ""
              versionInfo: versionInfo
            status: UNKNOWN
          - scopedRouteConfig:
              inlineScopedRouteConfigs:
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                name: name
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                name: name
              dynamicScopedRouteConfigs:
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                name: name
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - lastUpdated: lastUpdated
                scopedRouteConfigs:
                - key: ""
                - key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                name: name
                clientStatus: UNKNOWN
                versionInfo: versionInfo
            routeConfig:
              dynamicRouteConfigs:
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              staticRouteConfigs:
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
              - lastUpdated: lastUpdated
                routeConfig:
                  key: ""
            endpointConfig:
              dynamicEndpointConfigs:
              - lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                endpointConfig:
                  key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                endpointConfig:
                  key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              staticEndpointConfigs:
              - lastUpdated: lastUpdated
                endpointConfig:
                  key: ""
              - lastUpdated: lastUpdated
                endpointConfig:
                  key: ""
            clusterConfig:
              dynamicActiveClusters:
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              dynamicWarmingClusters:
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                clientStatus: UNKNOWN
                versionInfo: versionInfo
              versionInfo: versionInfo
              staticClusters:
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
              - cluster:
                  key: ""
                lastUpdated: lastUpdated
            clientStatus: CLIENT_UNKNOWN
            listenerConfig:
              dynamicListeners:
              - warmingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                activeState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                name: name
                clientStatus: UNKNOWN
                drainingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
              - warmingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                errorState:
                  details: details
                  lastUpdateAttempt: lastUpdateAttempt
                  versionInfo: versionInfo
                  failedConfiguration:
                    key: ""
                activeState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
                name: name
                clientStatus: UNKNOWN
                drainingState:
                  lastUpdated: lastUpdated
                  listener:
                    key: ""
                  versionInfo: versionInfo
              staticListeners:
              - lastUpdated: lastUpdated
                listener:
                  key: ""
              - lastUpdated: lastUpdated
                listener:
                  key: ""
              versionInfo: versionInfo
            status: UNKNOWN
          clientScope: clientScope
          genericXdsConfigs:
          - lastUpdated: lastUpdated
            typeUrl: typeUrl
            xdsConfig:
              key: ""
            errorState:
              details: details
              lastUpdateAttempt: lastUpdateAttempt
              versionInfo: versionInfo
              failedConfiguration:
                key: ""
            name: name
            clientStatus: UNKNOWN
            configStatus: UNKNOWN
            versionInfo: versionInfo
            isStaticResource: true
          - lastUpdated: lastUpdated
            typeUrl: typeUrl
            xdsConfig:
              key: ""
            errorState:
              details: details
              lastUpdateAttempt: lastUpdateAttempt
              versionInfo: versionInfo
              failedConfiguration:
                key: ""
            name: name
            clientStatus: UNKNOWN
            configStatus: UNKNOWN
            versionInfo: versionInfo
            isStaticResource: true
      properties:
        config:
          description: Client configs for the clients specified in the ClientStatusRequest.
          items:
            $ref: '#/components/schemas/ClientConfig'
          title: config
          type: array
      title: ClientStatusResponse
      type: object
    ClustersConfigDump:
      description: Envoy's cluster manager fills this message with all currently known
        clusters. Cluster configuration information can be used to recreate an Envoy
        configuration by populating all clusters as static clusters or by returning
        them in a CDS response.
      example:
        dynamicActiveClusters:
        - cluster:
            key: ""
          lastUpdated: lastUpdated
          errorState:
            details: details
            lastUpdateAttempt: lastUpdateAttempt
            versionInfo: versionInfo
            failedConfiguration:
              key: ""
          clientStatus: UNKNOWN
          versionInfo: versionInfo
        - cluster:
            key: ""
          lastUpdated: lastUpdated
          errorState:
            details: details
            lastUpdateAttempt: lastUpdateAttempt
            versionInfo: versionInfo
            failedConfiguration:
              key: ""
          clientStatus: UNKNOWN
          versionInfo: versionInfo
        dynamicWarmingClusters:
        - cluster:
            key: ""
          lastUpdated: lastUpdated
          errorState:
            details: details
            lastUpdateAttempt: lastUpdateAttempt
            versionInfo: versionInfo
            failedConfiguration:
              key: ""
          clientStatus: UNKNOWN
          versionInfo: versionInfo
        - cluster:
            key: ""
          lastUpdated: lastUpdated
          errorState:
            details: details
            lastUpdateAttempt: lastUpdateAttempt
            versionInfo: versionInfo
            failedConfiguration:
              key: ""
          clientStatus: UNKNOWN
          versionInfo: versionInfo
        versionInfo: versionInfo
        staticClusters:
        - cluster:
            key: ""
          lastUpdated: lastUpdated
        - cluster:
            key: ""
          lastUpdated: lastUpdated
      properties:
        dynamicActiveClusters:
          description: The dynamically loaded active clusters. These are clusters
            that are available to service data plane traffic.
          items:
            $ref: '#/components/schemas/DynamicCluster'
          title: dynamicActiveClusters
          type: array
        dynamicWarmingClusters:
          description: "The dynamically loaded warming clusters. These are clusters\
            \ that are currently undergoing warming in preparation to service data\
            \ plane traffic. Note that if attempting to recreate an Envoy configuration\
            \ from a configuration dump, the warming clusters should generally be\
            \ discarded."
          items:
            $ref: '#/components/schemas/DynamicCluster'
          title: dynamicWarmingClusters
          type: array
        staticClusters:
          description: The statically loaded cluster configs.
          items:
            $ref: '#/components/schemas/StaticCluster'
          title: staticClusters
          type: array
        versionInfo:
          description: "This is the :ref:`version_info ` in the last processed CDS\
            \ discovery response. If there are only static bootstrap clusters, this\
            \ field will be \"\"."
          title: versionInfo
          type: string
      title: ClustersConfigDump
      type: object
    ContextParams:
      description: "Additional parameters that can be used to select resource variants.\
        \ These include any global context parameters, per-resource type client feature\
        \ capabilities and per-resource type functional attributes. All per-resource\
        \ type attributes will be `xds.resource.` prefixed and some of these are documented\
        \ below: `xds.resource.listening_address`: The value is \"IP:port\" (e.g.\
        \ \"10.1.1.3:8080\") which is the listening address of a Listener. Used in\
        \ a Listener resource query."
      example:
        params:
          key: params
      properties:
        params:
          additionalProperties:
            type: string
          title: params
          type: object
      title: ContextParams
      type: object
    DoubleMatcher:
      description: Specifies the way to match a double value.
      example:
        exact: 6.027456183070403
        range:
          start: 5.962133916683182
          end: 1.4658129805029452
      properties:
        exact:
          description: "If specified, the input double value must be equal to the\
            \ value specified here."
          format: double
          title: exact
          type: number
        range:
          $ref: '#/components/schemas/DoubleRange'
      title: DoubleMatcher
      type: object
    DoubleRange:
      description: "Specifies the double start and end of the range using half-open\
        \ interval semantics [start, end)."
      example:
        start: 5.962133916683182
        end: 1.4658129805029452
      properties:
        end:
          description: end of the range (exclusive)
          format: double
          title: end
          type: number
        start:
          description: start of the range (inclusive)
          format: double
          title: start
          type: number
      title: DoubleRange
      type: object
    DynamicCluster:
      description: "Describes a dynamically loaded cluster via the CDS API. [#next-free-field:\
        \ 6]"
      example:
        cluster:
          key: ""
        lastUpdated: lastUpdated
        errorState:
          details: details
          lastUpdateAttempt: lastUpdateAttempt
          versionInfo: versionInfo
          failedConfiguration:
            key: ""
        clientStatus: UNKNOWN
        versionInfo: versionInfo
      properties:
        clientStatus:
          description: "The client status of this resource. [#not-implemented-hide:]"
          enum:
          - UNKNOWN
          - REQUESTED
          - DOES_NOT_EXIST
          - ACKED
          - NACKED
          title: clientStatus
          type: string
        cluster:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: The cluster config.
          title: cluster
          type: object
        errorState:
          $ref: '#/components/schemas/UpdateFailureState'
        lastUpdated:
          description: The timestamp when the Cluster was last updated.
          format: google-datetime
          title: lastUpdated
          type: string
        versionInfo:
          description: "This is the per-resource version information. This version\
            \ is currently taken from the :ref:`version_info ` field at the time that\
            \ the cluster was loaded. In the future, discrete per-cluster versions\
            \ may be supported by the API."
          title: versionInfo
          type: string
      title: DynamicCluster
      type: object
    DynamicEndpointConfig:
      description: "[#next-free-field: 6]"
      example:
        lastUpdated: lastUpdated
        errorState:
          details: details
          lastUpdateAttempt: lastUpdateAttempt
          versionInfo: versionInfo
          failedConfiguration:
            key: ""
        endpointConfig:
          key: ""
        clientStatus: UNKNOWN
        versionInfo: versionInfo
      properties:
        clientStatus:
          description: "The client status of this resource. [#not-implemented-hide:]"
          enum:
          - UNKNOWN
          - REQUESTED
          - DOES_NOT_EXIST
          - ACKED
          - NACKED
          title: clientStatus
          type: string
        endpointConfig:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: The endpoint config.
          title: endpointConfig
          type: object
        errorState:
          $ref: '#/components/schemas/UpdateFailureState'
        lastUpdated:
          description: "[#not-implemented-hide:] The timestamp when the Endpoint was\
            \ last updated."
          format: google-datetime
          title: lastUpdated
          type: string
        versionInfo:
          description: "[#not-implemented-hide:] This is the per-resource version\
            \ information. This version is currently taken from the :ref:`version_info\
            \ ` field at the time that the endpoint configuration was loaded."
          title: versionInfo
          type: string
      title: DynamicEndpointConfig
      type: object
    DynamicListener:
      description: "Describes a dynamically loaded listener via the LDS API. [#next-free-field:\
        \ 7]"
      example:
        warmingState:
          lastUpdated: lastUpdated
          listener:
            key: ""
          versionInfo: versionInfo
        errorState:
          details: details
          lastUpdateAttempt: lastUpdateAttempt
          versionInfo: versionInfo
          failedConfiguration:
            key: ""
        activeState:
          lastUpdated: lastUpdated
          listener:
            key: ""
          versionInfo: versionInfo
        name: name
        clientStatus: UNKNOWN
        drainingState:
          lastUpdated: lastUpdated
          listener:
            key: ""
          versionInfo: versionInfo
      properties:
        activeState:
          $ref: '#/components/schemas/DynamicListenerState'
        clientStatus:
          description: "The client status of this resource. [#not-implemented-hide:]"
          enum:
          - UNKNOWN
          - REQUESTED
          - DOES_NOT_EXIST
          - ACKED
          - NACKED
          title: clientStatus
          type: string
        drainingState:
          $ref: '#/components/schemas/DynamicListenerState'
        errorState:
          $ref: '#/components/schemas/UpdateFailureState'
        name:
          description: "The name or unique id of this listener, pulled from the DynamicListenerState\
            \ config."
          title: name
          type: string
        warmingState:
          $ref: '#/components/schemas/DynamicListenerState'
      title: DynamicListener
      type: object
    DynamicListenerState:
      example:
        lastUpdated: lastUpdated
        listener:
          key: ""
        versionInfo: versionInfo
      properties:
        lastUpdated:
          description: The timestamp when the Listener was last successfully updated.
          format: google-datetime
          title: lastUpdated
          type: string
        listener:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: The listener config.
          title: listener
          type: object
        versionInfo:
          description: "This is the per-resource version information. This version\
            \ is currently taken from the :ref:`version_info ` field at the time that\
            \ the listener was loaded. In the future, discrete per-listener versions\
            \ may be supported by the API."
          title: versionInfo
          type: string
      title: DynamicListenerState
      type: object
    DynamicRouteConfig:
      description: "[#next-free-field: 6]"
      example:
        lastUpdated: lastUpdated
        routeConfig:
          key: ""
        errorState:
          details: details
          lastUpdateAttempt: lastUpdateAttempt
          versionInfo: versionInfo
          failedConfiguration:
            key: ""
        clientStatus: UNKNOWN
        versionInfo: versionInfo
      properties:
        clientStatus:
          description: "The client status of this resource. [#not-implemented-hide:]"
          enum:
          - UNKNOWN
          - REQUESTED
          - DOES_NOT_EXIST
          - ACKED
          - NACKED
          title: clientStatus
          type: string
        errorState:
          $ref: '#/components/schemas/UpdateFailureState'
        lastUpdated:
          description: The timestamp when the Route was last updated.
          format: google-datetime
          title: lastUpdated
          type: string
        routeConfig:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: The route config.
          title: routeConfig
          type: object
        versionInfo:
          description: This is the per-resource version information. This version
            is currently taken from the :ref:`version_info ` field at the time that
            the route configuration was loaded.
          title: versionInfo
          type: string
      title: DynamicRouteConfig
      type: object
    DynamicScopedRouteConfigs:
      description: "[#next-free-field: 7]"
      example:
        lastUpdated: lastUpdated
        scopedRouteConfigs:
        - key: ""
        - key: ""
        errorState:
          details: details
          lastUpdateAttempt: lastUpdateAttempt
          versionInfo: versionInfo
          failedConfiguration:
            key: ""
        name: name
        clientStatus: UNKNOWN
        versionInfo: versionInfo
      properties:
        clientStatus:
          description: "The client status of this resource. [#not-implemented-hide:]"
          enum:
          - UNKNOWN
          - REQUESTED
          - DOES_NOT_EXIST
          - ACKED
          - NACKED
          title: clientStatus
          type: string
        errorState:
          $ref: '#/components/schemas/UpdateFailureState'
        lastUpdated:
          description: The timestamp when the scoped route config set was last updated.
          format: google-datetime
          title: lastUpdated
          type: string
        name:
          description: The name assigned to the scoped route configurations.
          title: name
          type: string
        scopedRouteConfigs:
          description: The scoped route configurations.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type
                URL.
            type: object
          title: scopedRouteConfigs
          type: array
        versionInfo:
          description: This is the per-resource version information. This version
            is currently taken from the :ref:`version_info ` field at the time that
            the scoped routes configuration was loaded.
          title: versionInfo
          type: string
      title: DynamicScopedRouteConfigs
      type: object
    EndpointsConfigDump:
      description: Envoy's admin fill this message with all currently known endpoints.
        Endpoint configuration information can be used to recreate an Envoy configuration
        by populating all endpoints as static endpoints or by returning them in an
        EDS response.
      example:
        dynamicEndpointConfigs:
        - lastUpdated: lastUpdated
          errorState:
            details: details
            lastUpdateAttempt: lastUpdateAttempt
            versionInfo: versionInfo
            failedConfiguration:
              key: ""
          endpointConfig:
            key: ""
          clientStatus: UNKNOWN
          versionInfo: versionInfo
        - lastUpdated: lastUpdated
          errorState:
            details: details
            lastUpdateAttempt: lastUpdateAttempt
            versionInfo: versionInfo
            failedConfiguration:
              key: ""
          endpointConfig:
            key: ""
          clientStatus: UNKNOWN
          versionInfo: versionInfo
        staticEndpointConfigs:
        - lastUpdated: lastUpdated
          endpointConfig:
            key: ""
        - lastUpdated: lastUpdated
          endpointConfig:
            key: ""
      properties:
        dynamicEndpointConfigs:
          description: The dynamically loaded endpoint configs.
          items:
            $ref: '#/components/schemas/DynamicEndpointConfig'
          title: dynamicEndpointConfigs
          type: array
        staticEndpointConfigs:
          description: The statically loaded endpoint configs.
          items:
            $ref: '#/components/schemas/StaticEndpointConfig'
          title: staticEndpointConfigs
          type: array
      title: EndpointsConfigDump
      type: object
    EnvoyInternalAddress:
      description: "The address represents an envoy internal listener. [#comment: "
      example:
        serverListenerName: serverListenerName
        endpointId: endpointId
      properties:
        endpointId:
          description: "Specifies an endpoint identifier to distinguish between multiple\
            \ endpoints for the same internal listener in a single upstream pool.\
            \ Only used in the upstream addresses for tracking changes to individual\
            \ endpoints. This, for example, may be set to the final destination IP\
            \ for the target internal listener."
          title: endpointId
          type: string
        serverListenerName:
          description: Specifies the :ref:`name ` of the internal listener.
          title: serverListenerName
          type: string
      title: EnvoyInternalAddress
      type: object
    Extension:
      description: "Version and identification for an Envoy extension. [#next-free-field:\
        \ 7]"
      example:
        name: name
        disabled: true
        category: category
        version:
          metadata:
            key: ""
          version:
            patch: 1
            majorNumber: 0
            minorNumber: 6
        typeUrls:
        - typeUrls
        - typeUrls
        typeDescriptor: typeDescriptor
      properties:
        category:
          description: "Category of the extension. Extension category names use reverse\
            \ DNS notation. For instance \"envoy.filters.listener\" for Envoy's built-in\
            \ listener filters or \"com.acme.filters.http\" for HTTP filters from\
            \ acme.com vendor. [#comment:"
          title: category
          type: string
        disabled:
          description: Indicates that the extension is present but was disabled via
            dynamic configuration.
          title: disabled
          type: boolean
        name:
          description: "This is the name of the Envoy filter as specified in the Envoy\
            \ configuration, e.g. envoy.filters.http.router, com.acme.widget."
          title: name
          type: string
        typeDescriptor:
          deprecated: true
          description: "[#not-implemented-hide:] Type descriptor of extension configuration\
            \ proto. [#comment:"
          title: typeDescriptor
          type: string
        typeUrls:
          description: Type URLs of extension configuration protos.
          items:
            type: string
          title: typeUrls
          type: array
        version:
          $ref: '#/components/schemas/BuildVersion'
      title: Extension
      type: object
    GenericXdsConfig:
      description: "GenericXdsConfig is used to specify the config status and the\
        \ dump of any xDS resource identified by their type URL. It is the generalized\
        \ version of the now deprecated ListenersConfigDump, ClustersConfigDump etc\
        \ [#next-free-field: 10]"
      example:
        lastUpdated: lastUpdated
        typeUrl: typeUrl
        xdsConfig:
          key: ""
        errorState:
          details: details
          lastUpdateAttempt: lastUpdateAttempt
          versionInfo: versionInfo
          failedConfiguration:
            key: ""
        name: name
        clientStatus: UNKNOWN
        configStatus: UNKNOWN
        versionInfo: versionInfo
        isStaticResource: true
      properties:
        clientStatus:
          description: Per xDS resource status from the view of a xDS client
          enum:
          - UNKNOWN
          - REQUESTED
          - DOES_NOT_EXIST
          - ACKED
          - NACKED
          title: clientStatus
          type: string
        configStatus:
          description: Per xDS resource config status. It is generated by management
            servers. It will not be present if the CSDS server is an xDS client.
          enum:
          - UNKNOWN
          - SYNCED
          - NOT_SENT
          - STALE
          - ERROR
          title: configStatus
          type: string
        errorState:
          $ref: '#/components/schemas/UpdateFailureState'
        isStaticResource:
          description: Is static resource is true if it is specified in the config
            supplied through the file at the startup.
          title: isStaticResource
          type: boolean
        lastUpdated:
          description: Timestamp when the xDS resource was last updated
          format: google-datetime
          title: lastUpdated
          type: string
        name:
          description: Name of the xDS resource
          title: name
          type: string
        typeUrl:
          description: "Type_url represents the fully qualified name of xDS resource\
            \ type like envoy.v3.Cluster, envoy.v3.ClusterLoadAssignment etc."
          title: typeUrl
          type: string
        versionInfo:
          description: "This is the :ref:`version_info ` in the last processed xDS\
            \ discovery response. If there are only static bootstrap listeners, this\
            \ field will be \"\""
          title: versionInfo
          type: string
        xdsConfig:
          additionalProperties:
            description: Properties of the object. Contains field @type with type
              URL.
          description: The xDS resource config. Actual content depends on the type
          title: xdsConfig
          type: object
      title: GenericXdsConfig
      type: object
    GoogleRE2:
      description: "Google's `RE2 `_ regex engine. The regex string must adhere to\
        \ the documented `syntax `_. The engine is designed to complete execution\
        \ in linear time as well as limit the amount of memory used. Envoy supports\
        \ program size checking via runtime. The runtime keys ``re2.max_program_size.error_level``\
        \ and ``re2.max_program_size.warn_level`` can be set to integers as the maximum\
        \ program size or complexity that a compiled regex can have before an exception\
        \ is thrown or a warning is logged, respectively. ``re2.max_program_size.error_level``\
        \ defaults to 100, and ``re2.max_program_size.warn_level`` has no default\
        \ if unset (will not check/log a warning). Envoy emits two stats for tracking\
        \ the program size of regexes: the histogram ``re2.program_size``, which records\
        \ the program size, and the counter ``re2.exceeded_warn_level``, which is\
        \ incremented each time the program size exceeds the warn level threshold."
      example:
        maxProgramSize: 0
      properties:
        maxProgramSize:
          deprecated: true
          description: "This field controls the RE2 \"program size\" which is a rough\
            \ estimate of how complex a compiled regex is to evaluate. A regex that\
            \ has a program size greater than the configured value will fail to compile.\
            \ In this case, the configured max program size can be increased or the\
            \ regex can be simplified. If not specified, the default is 100. This\
            \ field is deprecated; regexp validation should be performed on the management\
            \ server instead of being done by each individual client. .. note:: Although\
            \ this field is deprecated, the program size will still be checked against\
            \ the global ``re2.max_program_size.error_level`` runtime value."
          format: uint32
          title: maxProgramSize
          type: integer
      title: GoogleRE2
      type: object
    InlineScopedRouteConfigs:
      example:
        lastUpdated: lastUpdated
        scopedRouteConfigs:
        - key: ""
        - key: ""
        name: name
      properties:
        lastUpdated:
          description: The timestamp when the scoped route config set was last updated.
          format: google-datetime
          title: lastUpdated
          type: string
        name:
          description: The name assigned to the scoped route configurations.
          title: name
          type: string
        scopedRouteConfigs:
          description: The scoped route configurations.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type
                URL.
            type: object
          title: scopedRouteConfigs
          type: array
      title: InlineScopedRouteConfigs
      type: object
    ListMatcher:
      description: Specifies the way to match a list value.
      example:
        oneOf: null
      properties:
        oneOf:
          $ref: '#/components/schemas/ValueMatcher'
      title: ListMatcher
      type: object
    ListenersConfigDump:
      description: Envoy's listener manager fills this message with all currently
        known listeners. Listener configuration information can be used to recreate
        an Envoy configuration by populating all listeners as static listeners or
        by returning them in a LDS response.
      example:
        dynamicListeners:
        - warmingState:
            lastUpdated: lastUpdated
            listener:
              key: ""
            versionInfo: versionInfo
          errorState:
            details: details
            lastUpdateAttempt: lastUpdateAttempt
            versionInfo: versionInfo
            failedConfiguration:
              key: ""
          activeState:
            lastUpdated: lastUpdated
            listener:
              key: ""
            versionInfo: versionInfo
          name: name
          clientStatus: UNKNOWN
          drainingState:
            lastUpdated: lastUpdated
            listener:
              key: ""
            versionInfo: versionInfo
        - warmingState:
            lastUpdated: lastUpdated
            listener:
              key: ""
            versionInfo: versionInfo
          errorState:
            details: details
            lastUpdateAttempt: lastUpdateAttempt
            versionInfo: versionInfo
            failedConfiguration:
              key: ""
          activeState:
            lastUpdated: lastUpdated
            listener:
              key: ""
            versionInfo: versionInfo
          name: name
          clientStatus: UNKNOWN
          drainingState:
            lastUpdated: lastUpdated
            listener:
              key: ""
            versionInfo: versionInfo
        staticListeners:
        - lastUpdated: lastUpdated
          listener:
            key: ""
        - lastUpdated: lastUpdated
          listener:
            key: ""
        versionInfo: versionInfo
      properties:
        dynamicListeners:
          description: "State for any warming, active, or draining listeners."
          items:
            $ref: '#/components/schemas/DynamicListener'
          title: dynamicListeners
          type: array
        staticListeners:
          description: The statically loaded listener configs.
          items:
            $ref: '#/components/schemas/StaticListener'
          title: staticListeners
          type: array
        versionInfo:
          description: "This is the :ref:`version_info ` in the last processed LDS\
            \ discovery response. If there are only static bootstrap listeners, this\
            \ field will be \"\"."
          title: versionInfo
          type: string
      title: ListenersConfigDump
      type: object
    Locality:
      description: Identifies location of where either Envoy runs or where upstream
        hosts run.
      example:
        zone: zone
        region: region
        subZone: subZone
      properties:
        region:
          description: Region this :ref:`zone ` belongs to.
          title: region
          type: string
        subZone:
          description: "When used for locality of upstream hosts, this field further\
            \ splits zone into smaller chunks of sub-zones so they can be load balanced\
            \ independently."
          title: subZone
          type: string
        zone:
          description: "Defines the local service zone where Envoy is running. Though\
[...]
