openapi: 3.0.0
info:
  contact:
    email: support@interzoid.com
    name: API Support
    url: https://www.interzoid.com
    x-twitter: interzoid
  description: This API retrieves the current time for a city or geographic location
    around the globe.
  license:
    name: Interzoid license
    url: https://www.interzoid.com/license
  termsOfService: https://www.interzoid.com/terms
  title: Interzoid Get Global Time API
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/interzoid/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://oas.interzoid.com/api/getglobaltime.json
    version: "3.0"
  x-providerName: interzoid.com
  x-serviceName: getglobaltime
externalDocs:
  description: API home page and documentation
  url: https://www.interzoid.com/services/getglobaltime
servers:
- url: https://api.interzoid.com
paths:
  /getglobaltime:
    get:
      description: "Gets the current time for a global locale (city, state, region,\
        \ or country such as Chicago, London, Paris, Seoul, Spain, Buenos Aires, Hawaii,\
        \ Moscow, Tokyo, Hanoi, etc.)"
      operationId: getglobaltime
      parameters:
      - description: Your Interzoid license API key. Register at www.interzoid.com/register
        explode: true
        in: query
        name: license
        required: true
        schema:
          type: string
        style: form
      - description: Geographic locale to get the current time for
        explode: true
        in: query
        name: locale
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getglobaltime_200_response'
          description: Current global time in many forms and related information
        "400":
          description: bad request - insufficient parameters
        "402":
          description: credits exhausted
        "403":
          description: invalid license API key
        "404":
          description: locale not found
        "405":
          description: method not allowed
        "500":
          description: internal server error
      summary: Gets the current time for a global locale
      tags:
      - Current Global Time
      x-openapi-router-controller: openapi_server.controllers.current_global_time_controller
components:
  schemas:
    getglobaltime_200_response:
      example:
        Locale: Locale
        Hour: Hour
        Zone: Zone
        ClockTime: ClockTime
        Code: Code
        TimeStamp: TimeStamp
        Month: Month
        Weekday: Weekday
        Credits: Credits
        Minute: Minute
        Second: Second
        Year: Year
        CurrentTime: CurrentTime
        Day: Day
        MonthNumber: MonthNumber
        CurrentDate: CurrentDate
      properties:
        ClockTime:
          title: ClockTime
          type: string
        Code:
          title: Code
          type: string
        Credits:
          title: Credits
          type: string
        CurrentDate:
          title: CurrentDate
          type: string
        CurrentTime:
          title: CurrentTime
          type: string
        Day:
          title: Day
          type: string
        Hour:
          title: Hour
          type: string
        Locale:
          title: Locale
          type: string
        Minute:
          title: Minute
          type: string
        Month:
          title: Month
          type: string
        MonthNumber:
          title: MonthNumber
          type: string
        Second:
          title: Second
          type: string
        TimeStamp:
          title: TimeStamp
          type: string
        Weekday:
          title: Weekday
          type: string
        Year:
          title: Year
          type: string
        Zone:
          title: Zone
          type: string
      title: getglobaltime_200_response
      type: object
