openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: CBB v3 Scores
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/cbb-v3-scores.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: cbb-v3-scores
servers:
- url: http://azure-api.sportsdata.io/v3/cbb/scores
- url: https://azure-api.sportsdata.io/v3/cbb/scores
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: AreGamesInProgress
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
      x-accepts:
      - application/json
  /{format}/CurrentSeason:
    get:
      operationId: CurrentSeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
          description: ""
      summary: Current Season
      x-accepts:
      - application/json
  /{format}/Games/{season}:
    get:
      operationId: Schedules
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Schedules
      x-accepts:
      - application/json
  /{format}/GamesByDate/{date}:
    get:
      operationId: GamesByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Games by Date
      x-accepts:
      - application/json
  /{format}/InjuredPlayers:
    get:
      description: "This endpoint provides all currently injured college basketball\
        \ players, along with injury details."
      operationId: InjuredPlayers
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Injured Players
      x-accepts:
      - application/json
  /{format}/LeagueHierarchy:
    get:
      operationId: LeagueHierarchy
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Conference'
                type: array
          description: ""
      summary: League Hierarchy
      x-accepts:
      - application/json
  /{format}/Player/{playerid}:
    get:
      operationId: PlayerDetailsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>60003802</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
          description: ""
      summary: Player Details by Player
      x-accepts:
      - application/json
  /{format}/Players:
    get:
      operationId: PlayerDetailsByActive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Active
      x-accepts:
      - application/json
  /{format}/Players/{team}:
    get:
      operationId: PlayerDetailsByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The abbreviation of the requested team.
          <br>Examples: <code>SF</code>, <code>NYY</code>.
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Team
      x-accepts:
      - application/json
  /{format}/PlayersBasic/{team}:
    get:
      operationId: PlayersByTeamBasic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The abbreviation of the requested team.
          <br>Examples: <code>SF</code>, <code>NYY</code>.
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerBasic'
                type: array
          description: ""
      summary: Players by Team (Basic)
      x-accepts:
      - application/json
  /{format}/SchedulesBasic/{season}:
    get:
      operationId: SchedulesBasic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScheduleBasic'
                type: array
          description: ""
      summary: Schedules (Basic)
      x-accepts:
      - application/json
  /{format}/ScoresBasic/{date}:
    get:
      operationId: GamesByDateBasic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScoreBasic'
                type: array
          description: ""
      summary: Games by Date (Basic)
      x-accepts:
      - application/json
  /{format}/Stadiums:
    get:
      operationId: Stadiums
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Stadium'
                type: array
          description: ""
      summary: Stadiums
      x-accepts:
      - application/json
  /{format}/TeamGameStatsByDate/{date}:
    get:
      operationId: TeamGameStatsByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Stats by Date
      x-accepts:
      - application/json
  /{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      description: Game by game log of total team statistics.
      operationId: TeamGameLogsBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique ID of team.  Example <code> 1 </code>
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Logs By Season
      x-accepts:
      - application/json
  /{format}/TeamSchedule/{season}/{team}:
    get:
      operationId: TeamSchedule
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The abbreviation of the requested team.
          Examples: <code>SF</code>, <code>NYY</code>.
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Team Schedule
      x-accepts:
      - application/json
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: TeamSeasonStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018POST</code>, <code>2019</code>."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Season Stats
      x-accepts:
      - application/json
  /{format}/TeamsBasic:
    get:
      operationId: TeamsBasic
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamBasic'
                type: array
          description: ""
      summary: Teams (Basic)
      x-accepts:
      - application/json
  /{format}/Tournament/{season}:
    get:
      operationId: TournamentHierarchy
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018POST</code>, <code>2019</code>."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tournament'
          description: ""
      summary: Tournament Hierarchy
      x-accepts:
      - application/json
  /{format}/teams:
    get:
      operationId: Teams
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams
      x-accepts:
      - application/json
components:
  schemas:
    Conference:
      example:
        Teams:
        - Stadium:
            Zip: Zip
            Active: true
            Address: Address
            GeoLat: 3.353193347011243
            Capacity: 6
            State: State
            Country: Country
            GeoLong: 3.0937452626664474
            City: City
            Name: Name
            StadiumID: 7
          ConferenceLosses: 5
          ApRank: 6
          GlobalTeamID: 2
          TeamID: 9
          Conference: Conference
          Name: Name
          Active: true
          School: School
          TeamLogoUrl: TeamLogoUrl
          Losses: 7
          ShortDisplayName: ShortDisplayName
          ConferenceID: 1
          ConferenceWins: 5
          Key: Key
          Wins: 3
        - Stadium:
            Zip: Zip
            Active: true
            Address: Address
            GeoLat: 3.353193347011243
            Capacity: 6
            State: State
            Country: Country
            GeoLong: 3.0937452626664474
            City: City
            Name: Name
            StadiumID: 7
          ConferenceLosses: 5
          ApRank: 6
          GlobalTeamID: 2
          TeamID: 9
          Conference: Conference
          Name: Name
          Active: true
          School: School
          TeamLogoUrl: TeamLogoUrl
          Losses: 7
          ShortDisplayName: ShortDisplayName
          ConferenceID: 1
          ConferenceWins: 5
          Key: Key
          Wins: 3
        ConferenceID: 0
        Name: Name
      properties:
        ConferenceID:
          nullable: false
          type: integer
        Name:
          nullable: true
          type: string
        Teams:
          items:
            $ref: '#/components/schemas/Team'
          type: array
    Game:
      example:
        AwayTeam: AwayTeam
        HomeTeamMoneyLine: 1
        HomeTeamID: 7
        DateTime: DateTime
        HomePointSpreadPayout: 1
        HomeTeamPreviousGlobalGameID: 5
        GameID: 4
        OverPayout: 6
        HomeTeamPreviousGameID: 4
        Status: Status
        TopTeamPreviousGameId: 6
        HomeTeam: HomeTeam
        Updated: Updated
        Channel: Channel
        Period: Period
        TournamentDisplayOrderForHomeTeam: TournamentDisplayOrderForHomeTeam
        NeutralVenue: true
        AwayTeamPreviousGameID: 2
        AwayRotationNumber: 1
        AwayTeamScore: 9
        GlobalAwayTeamID: 7
        DateTimeUTC: DateTimeUTC
        AwayTeamMoneyLine: 5
        Stadium:
          Zip: Zip
          Active: true
          Address: Address
          GeoLat: 3.353193347011243
          Capacity: 6
          State: State
          Country: Country
          GeoLong: 3.0937452626664474
          City: City
          Name: Name
          StadiumID: 7
        GameEndDateTime: GameEndDateTime
        HomeRotationNumber: 6
        HomeTeamSeed: 9
        AwayTeamID: 5
        IsClosed: true
        TournamentDisplayOrder: 0
        TimeRemainingSeconds: 7
        UnderPayout: 8
        Round: 6
        GlobalHomeTeamID: 1
        TournamentID: 4
        Season: 6
        GlobalGameID: 1
        Attendance: 0
        Bracket: Bracket
        TimeRemainingMinutes: 0
        AwayTeamSeed: 3
        OverUnder: 8.762042012749001
        AwayTeamPreviousGlobalGameID: 7
        Periods:
        - HomeScore: 3
          Type: Type
          Number: 6
          AwayScore: 9
          PeriodID: 1
          GameID: 6
          Name: Name
        - HomeScore: 3
          Type: Type
          Number: 6
          AwayScore: 9
          PeriodID: 1
          GameID: 6
          Name: Name
        SeasonType: 5
        HomeTeamScore: 9
        PointSpread: 2.8841621266687802
        AwayPointSpreadPayout: 6
        BottomTeamPreviousGameId: 2
        Day: Day
      properties:
        Attendance:
          nullable: true
          type: integer
        AwayPointSpreadPayout:
          nullable: true
          type: integer
        AwayRotationNumber:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: true
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          type: integer
        AwayTeamPreviousGameID:
          nullable: true
          type: integer
        AwayTeamPreviousGlobalGameID:
          nullable: true
          type: integer
        AwayTeamScore:
          nullable: true
          type: integer
        AwayTeamSeed:
          nullable: true
          type: integer
        BottomTeamPreviousGameId:
          nullable: true
          type: integer
        Bracket:
          nullable: true
          type: string
        Channel:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        GlobalAwayTeamID:
          nullable: true
          type: integer
        GlobalGameID:
          nullable: false
          type: integer
        GlobalHomeTeamID:
          nullable: true
          type: integer
        HomePointSpreadPayout:
          nullable: true
          type: integer
        HomeRotationNumber:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: true
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          type: integer
        HomeTeamPreviousGameID:
          nullable: true
          type: integer
        HomeTeamPreviousGlobalGameID:
          nullable: true
          type: integer
        HomeTeamScore:
          nullable: true
          type: integer
        HomeTeamSeed:
          nullable: true
          type: integer
        IsClosed:
          nullable: false
          type: boolean
        NeutralVenue:
          nullable: true
          type: boolean
        OverPayout:
          nullable: true
          type: integer
        OverUnder:
          nullable: true
          type: number
        Period:
          nullable: true
          type: string
        Periods:
          items:
            $ref: '#/components/schemas/Period'
          type: array
        PointSpread:
          nullable: true
          type: number
        Round:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Stadium:
          $ref: '#/components/schemas/Stadium'
        Status:
          nullable: true
          type: string
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
        TopTeamPreviousGameId:
          nullable: true
          type: integer
        TournamentDisplayOrder:
          nullable: true
          type: integer
        TournamentDisplayOrderForHomeTeam:
          nullable: true
          type: string
        TournamentID:
          nullable: true
          type: integer
        UnderPayout:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
    Period:
      example:
        HomeScore: 3
        Type: Type
        Number: 6
        AwayScore: 9
        PeriodID: 1
        GameID: 6
        Name: Name
      properties:
        AwayScore:
          nullable: true
          type: integer
        GameID:
          nullable: false
          type: integer
        HomeScore:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        Number:
          nullable: false
          type: integer
        PeriodID:
          nullable: false
          type: integer
        Type:
          nullable: true
          type: string
    Player:
      example:
        PlayerID: 5
        InjuryStartDate: InjuryStartDate
        Position: Position
        FirstName: FirstName
        GlobalTeamID: 6
        BirthState: BirthState
        RotoworldPlayerID: 7
        TeamID: 9
        InjuryBodyPart: InjuryBodyPart
        InjuryStatus: InjuryStatus
        Weight: 3
        InjuryNotes: InjuryNotes
        RotoWirePlayerID: 2
        FantasyAlarmPlayerID: 0
        SportRadarPlayerID: SportRadarPlayerID
        HighSchool: HighSchool
        BirthCity: BirthCity
        Class: Class
        Height: 1
        Team: Team
        Jersey: 5
        LastName: LastName
      properties:
        BirthCity:
          nullable: true
          type: string
        BirthState:
          nullable: true
          type: string
        Class:
          nullable: true
          type: string
        FantasyAlarmPlayerID:
          nullable: true
          type: integer
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: integer
        HighSchool:
          nullable: true
          type: string
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        Jersey:
          nullable: true
          type: integer
        LastName:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        RotoWirePlayerID:
          nullable: true
          type: integer
        RotoworldPlayerID:
          nullable: true
          type: integer
        SportRadarPlayerID:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Weight:
          nullable: true
          type: integer
    PlayerBasic:
      example:
        PlayerID: 5
        Position: Position
        FirstName: FirstName
        GlobalTeamID: 0
        BirthState: BirthState
        TeamID: 5
        Weight: 2
        BirthCity: BirthCity
        Class: Class
        Height: 6
        Team: Team
        Jersey: 1
        LastName: LastName
      properties:
        BirthCity:
          nullable: true
          type: string
        BirthState:
          nullable: true
          type: string
        Class:
          nullable: true
          type: string
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: integer
        Jersey:
          nullable: true
          type: integer
        LastName:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Weight:
          nullable: true
          type: integer
    ScheduleBasic:
      example:
        Status: Status
        Bracket: Bracket
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        HomeTeam: HomeTeam
        Updated: Updated
        AwayTeamSeed: 1
        HomeTeamSeed: 9
        HomeTeamID: 2
        AwayTeamID: 0
        IsClosed: true
        DateTime: DateTime
        NeutralVenue: true
        SeasonType: 4
        HomeTeamScore: 7
        AwayTeamScore: 6
        Round: 3
        DateTimeUTC: DateTimeUTC
        TournamentID: 7
        Season: 2
        Day: Day
        GameID: 5
        GlobalGameID: 5
      properties:
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: true
          type: integer
        AwayTeamScore:
          nullable: true
          type: integer
        AwayTeamSeed:
          nullable: true
          type: integer
        Bracket:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        GlobalGameID:
          nullable: false
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: true
          type: integer
        HomeTeamScore:
          nullable: true
          type: integer
        HomeTeamSeed:
          nullable: true
          type: integer
        IsClosed:
          nullable: false
          type: boolean
        NeutralVenue:
          nullable: true
          type: boolean
        Round:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Status:
          nullable: true
          type: string
        TournamentID:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
    ScoreBasic:
      example:
        Status: Status
        Bracket: Bracket
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        HomeTeam: HomeTeam
        Updated: Updated
        AwayTeamSeed: 1
        HomeTeamSeed: 7
        HomeTeamID: 5
        AwayTeamID: 0
        IsClosed: true
        DateTime: DateTime
        NeutralVenue: true
        SeasonType: 2
        HomeTeamScore: 2
        AwayTeamScore: 6
        Round: 9
        DateTimeUTC: DateTimeUTC
        TournamentID: 4
        Season: 3
        Day: Day
        GameID: 5
      properties:
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: true
          type: integer
        AwayTeamScore:
          nullable: true
          type: integer
        AwayTeamSeed:
          nullable: true
          type: integer
        Bracket:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: true
          type: integer
        HomeTeamScore:
          nullable: true
          type: integer
        HomeTeamSeed:
          nullable: true
          type: integer
        IsClosed:
          nullable: false
          type: boolean
        NeutralVenue:
          nullable: true
          type: boolean
        Round:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Status:
          nullable: true
          type: string
        TournamentID:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
    Season:
      example:
        Description: Description
        EndYear: 0
        RegularSeasonStartDate: RegularSeasonStartDate
        StartYear: 1
        PostSeasonStartDate: PostSeasonStartDate
        ApiSeason: ApiSeason
        Season: 6
      properties:
        ApiSeason:
          nullable: true
          type: string
        Description:
          nullable: true
          type: string
        EndYear:
          nullable: false
          type: integer
        PostSeasonStartDate:
          nullable: true
          type: string
        RegularSeasonStartDate:
          nullable: true
          type: string
        Season:
          nullable: false
          type: integer
        StartYear:
          nullable: false
          type: integer
    Stadium:
      example:
        Zip: Zip
        Active: true
        Address: Address
        GeoLat: 3.353193347011243
        Capacity: 6
        State: State
        Country: Country
        GeoLong: 3.0937452626664474
        City: City
        Name: Name
        StadiumID: 7
      properties:
        Active:
          nullable: false
          type: boolean
        Address:
          nullable: true
          type: string
        Capacity:
          nullable: true
          type: integer
        City:
          nullable: true
          type: string
        Country:
          nullable: true
          type: string
        GeoLat:
          nullable: true
          type: number
        GeoLong:
          nullable: true
          type: number
        Name:
          nullable: true
          type: string
        StadiumID:
          nullable: false
          type: integer
        State:
          nullable: true
          type: string
        Zip:
          nullable: true
          type: string
    Team:
      example:
        Stadium:
          Zip: Zip
          Active: true
          Address: Address
          GeoLat: 3.353193347011243
          Capacity: 6
          State: State
          Country: Country
          GeoLong: 3.0937452626664474
          City: City
          Name: Name
          StadiumID: 7
        ConferenceLosses: 5
        ApRank: 6
        GlobalTeamID: 2
        TeamID: 9
        Conference: Conference
        Name: Name
        Active: true
        School: School
        TeamLogoUrl: TeamLogoUrl
        Losses: 7
        ShortDisplayName: ShortDisplayName
        ConferenceID: 1
        ConferenceWins: 5
        Key: Key
        Wins: 3
      properties:
        Active:
          nullable: false
          type: boolean
        ApRank:
          nullable: true
          type: integer
        Conference:
          nullable: true
          type: string
        ConferenceID:
          nullable: true
          type: integer
        ConferenceLosses:
          nullable: true
          type: integer
        ConferenceWins:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: false
          type: integer
        Key:
          nullable: true
          type: string
        Losses:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        School:
          nullable: true
          type: string
        ShortDisplayName:
          nullable: true
          type: string
        Stadium:
          $ref: '#/components/schemas/Stadium'
        TeamID:
          nullable: false
          type: integer
        TeamLogoUrl:
          nullable: true
          type: string
        Wins:
          nullable: true
          type: integer
    TeamBasic:
      example:
        Stadium:
          Zip: Zip
          Active: true
          Address: Address
          GeoLat: 3.353193347011243
          Capacity: 6
          State: State
          Country: Country
          GeoLong: 3.0937452626664474
          City: City
          Name: Name
          StadiumID: 7
        Active: true
        School: School
        TeamLogoUrl: TeamLogoUrl
        ShortDisplayName: ShortDisplayName
        ConferenceID: 0
        GlobalTeamID: 6
        TeamID: 1
        Conference: Conference
        Key: Key
        Name: Name
      properties:
        Active:
          nullable: false
          type: boolean
        Conference:
          nullable: true
          type: string
        ConferenceID:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: false
          type: integer
        Key:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        School:
          nullable: true
          type: string
        ShortDisplayName:
          nullable: true
          type: string
        Stadium:
          $ref: '#/components/schemas/Stadium'
        TeamID:
          nullable: false
          type: integer
        TeamLogoUrl:
          nullable: true
          type: string
    TeamGame:
      example:
        FreeThrowsPercentage: 4.965218492984954
        ThreePointersAttempted: 0
        GlobalTeamID: 8
        DateTime: DateTime
        Minutes: 6
        TotalReboundsPercentage: 7.740351818741173
        Name: Name
        Steals: 0
        Possessions: 5.944895607614016
        FreeThrowsAttempted: 7
        Wins: 4
        GameID: 5
        Updated: Updated
        ThreePointersPercentage: 8.969578798196912
        FantasyPointsFanDuel: 7.386281948385884
        TwoPointersMade: 4
        OpponentID: 1
        Assists: 0
        PersonalFouls: 2
        Losses: 9
        OffensiveReboundsPercentage: 6.965117697638846
        StealsPercentage: 7.058770351582356
        FantasyPointsDraftKings: 4.145608029883936
        Games: 9
        BlockedShots: 1
        StatID: 7
        TrueShootingAttempts: 3.0205796992916243
        BlocksPercentage: 5.962133916683182
        OffensiveRebounds: 3
        IsGameOver: true
        DefensiveRebounds: 7
        FantasyPointsYahoo: 1.2315135367772556
        Rebounds: 6
        TeamID: 6
        FieldGoalsPercentage: 6.84685269835264
        Turnovers: 5
        ThreePointersMade: 4
        TwoPointersPercentage: 0.2025324113236393
        Points: 6
        FieldGoalsAttempted: 1
        GlobalOpponentID: 6
        Opponent: Opponent
        Team: Team
        ConferenceWins: 2
        Season: 3
        GlobalGameID: 9
        ConferenceLosses: 5
        FantasyPoints: 2.027123023002322
        AssistsPercentage: 6.027456183070403
        DefensiveReboundsPercentage: 9.301444243932576
        EffectiveFieldGoalsPercentage: 3.616076749251911
        TwoPointersAttempted: 3
        HomeOrAway: HomeOrAway
        SeasonType: 3
        FreeThrowsMade: 1
        FieldGoalsMade: 1
        UsageRatePercentage: 6.628464275087742
        PlayerEfficiencyRating: 6.778324963048013
        TurnOversPercentage: 7.04836565559697
        Day: Day
        TrueShootingPercentage: 3.0576100241049344
      properties:
        Assists:
          nullable: true
          type: integer
        AssistsPercentage:
          nullable: true
          type: number
        BlockedShots:
          nullable: true
          type: integer
        BlocksPercentage:
          nullable: true
          type: number
        ConferenceLosses:
          nullable: true
          type: integer
        ConferenceWins:
          nullable: true
          type: integer
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DefensiveRebounds:
          nullable: true
          type: integer
        DefensiveReboundsPercentage:
          nullable: true
          type: number
        EffectiveFieldGoalsPercentage:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FieldGoalsAttempted:
          nullable: true
          type: integer
        FieldGoalsMade:
          nullable: true
          type: integer
        FieldGoalsPercentage:
          nullable: true
          type: number
        FreeThrowsAttempted:
          nullable: true
          type: integer
        FreeThrowsMade:
          nullable: true
          type: integer
        FreeThrowsPercentage:
          nullable: true
          type: number
        GameID:
          nullable: true
          type: integer
        Games:
          nullable: true
          type: integer
        GlobalGameID:
          nullable: true
          type: integer
        GlobalOpponentID:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        HomeOrAway:
          nullable: true
          type: string
        IsGameOver:
          nullable: false
          type: boolean
        Losses:
          nullable: true
          type: integer
        Minutes:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        OffensiveRebounds:
          nullable: true
          type: integer
        OffensiveReboundsPercentage:
          nullable: true
          type: number
        Opponent:
          nullable: true
          type: string
        OpponentID:
          nullable: true
          type: integer
        PersonalFouls:
          nullable: true
          type: integer
        PlayerEfficiencyRating:
          nullable: true
          type: number
        Points:
          nullable: true
          type: integer
        Possessions:
          nullable: true
          type: number
        Rebounds:
          nullable: true
          type: integer
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        StatID:
          nullable: false
          type: integer
        Steals:
          nullable: true
          type: integer
        StealsPercentage:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        ThreePointersAttempted:
          nullable: true
          type: integer
        ThreePointersMade:
          nullable: true
          type: integer
        ThreePointersPercentage:
          nullable: true
          type: number
        TotalReboundsPercentage:
          nullable: true
          type: number
        TrueShootingAttempts:
          nullable: true
          type: number
        TrueShootingPercentage:
          nullable: true
          type: number
        TurnOversPercentage:
          nullable: true
          type: number
        Turnovers:
          nullable: true
          type: integer
        TwoPointersAttempted:
          nullable: true
          type: integer
        TwoPointersMade:
          nullable: true
          type: integer
        TwoPointersPercentage:
          nullable: true
          type: number
        Updated:
          nullable: true
          type: string
        UsageRatePercentage:
          nullable: true
          type: number
        Wins:
          nullable: true
          type: integer
    TeamSeason:
      example:
        FreeThrowsPercentage: 4.965218492984954
        ThreePointersAttempted: 7
        GlobalTeamID: 9
        Minutes: 6
        TotalReboundsPercentage: 6.519180951018382
        Name: Name
        Steals: 6
        Possessions: 1.284659006116532
        FreeThrowsAttempted: 7
        Wins: 3
        Updated: Updated
        ThreePointersPercentage: 7.058770351582356
        FantasyPointsFanDuel: 7.386281948385884
        TwoPointersMade: 3
        Assists: 0
        PersonalFouls: 6
        Losses: 9
        OffensiveReboundsPercentage: 9.018348186070783
        StealsPercentage: 3.353193347011243
        FantasyPointsDraftKings: 4.145608029883936
        Games: 5
        BlockedShots: 1
        StatID: 5
        TrueShootingAttempts: 0.10263654006109402
        BlocksPercentage: 5.962133916683182
        OffensiveRebounds: 8
        DefensiveRebounds: 7
        FantasyPointsYahoo: 1.2315135367772556
        Rebounds: 2
        TeamID: 3
        FieldGoalsPercentage: 6.84685269835264
        Turnovers: 7
        ThreePointersMade: 0
        TwoPointersPercentage: 7.04836565559697
        Points: 6
        FieldGoalsAttempted: 1
        Team: Team
        ConferenceWins: 2
        Season: 6
        ConferenceLosses: 5
        FantasyPoints: 2.027123023002322
        AssistsPercentage: 6.027456183070403
        DefensiveReboundsPercentage: 9.301444243932576
        EffectiveFieldGoalsPercentage: 3.616076749251911
        TwoPointersAttempted: 3
        SeasonType: 6
        FreeThrowsMade: 1
        FieldGoalsMade: 1
        UsageRatePercentage: 5.533258397034986
        PlayerEfficiencyRating: 3.5571952270680973
        TurnOversPercentage: 8.969578798196912
        TrueShootingPercentage: 4.652396432933246
      properties:
        Assists:
          nullable: true
          type: integer
        AssistsPercentage:
          nullable: true
          type: number
        BlockedShots:
          nullable: true
          type: integer
        BlocksPercentage:
          nullable: true
          type: number
        ConferenceLosses:
          nullable: true
          type: integer
        ConferenceWins:
          nullable: true
          type: integer
        DefensiveRebounds:
          nullable: true
          type: integer
        DefensiveReboundsPercentage:
          nullable: true
          type: number
        EffectiveFieldGoalsPercentage:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FieldGoalsAttempted:
          nullable: true
          type: integer
        FieldGoalsMade:
          nullable: true
          type: integer
        FieldGoalsPercentage:
          nullable: true
          type: number
        FreeThrowsAttempted:
          nullable: true
          type: integer
        FreeThrowsMade:
          nullable: true
          type: integer
        FreeThrowsPercentage:
          nullable: true
          type: number
        Games:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        Losses:
          nullable: true
          type: integer
        Minutes:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        OffensiveRebounds:
          nullable: true
          type: integer
        OffensiveReboundsPercentage:
          nullable: true
          type: number
        PersonalFouls:
          nullable: true
          type: integer
        PlayerEfficiencyRating:
          nullable: true
          type: number
        Points:
          nullable: true
          type: integer
        Possessions:
          nullable: true
          type: number
        Rebounds:
          nullable: true
          type: integer
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        StatID:
          nullable: false
          type: integer
        Steals:
          nullable: true
          type: integer
        StealsPercentage:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        ThreePointersAttempted:
          nullable: true
          type: integer
        ThreePointersMade:
          nullable: true
          type: integer
        ThreePointersPercentage:
          nullable: true
          type: number
        TotalReboundsPercentage:
          nullable: true
          type: number
        TrueShootingAttempts:
          nullable: true
          type: number
        TrueShootingPercentage:
          nullable: true
          type: number
        TurnOversPercentage:
          nullable: true
          type: number
        Turnovers:
          nullable: true
          type: integer
        TwoPointersAttempted:
          nullable: true
          type: integer
        TwoPointersMade:
          nullable: true
          type: integer
        TwoPointersPercentage:
          nullable: true
          type: number
        Updated:
          nullable: true
          type: string
        UsageRatePercentage:
          nullable: true
          type: number
        Wins:
          nullable: true
          type: integer
    Tournament:
      example:
        Games:
        - AwayTeam: AwayTeam
          HomeTeamMoneyLine: 1
          HomeTeamID: 7
          DateTime: DateTime
          HomePointSpreadPayout: 1
          HomeTeamPreviousGlobalGameID: 5
          GameID: 4
          OverPayout: 6
          HomeTeamPreviousGameID: 4
          Status: Status
          TopTeamPreviousGameId: 6
          HomeTeam: HomeTeam
          Updated: Updated
          Channel: Channel
          Period: Period
          TournamentDisplayOrderForHomeTeam: TournamentDisplayOrderForHomeTeam
          NeutralVenue: true
          AwayTeamPreviousGameID: 2
          AwayRotationNumber: 1
          AwayTeamScore: 9
          GlobalAwayTeamID: 7
          DateTimeUTC: DateTimeUTC
          AwayTeamMoneyLine: 5
          Stadium:
            Zip: Zip
            Active: true
            Address: Address
            GeoLat: 3.353193347011243
            Capacity: 6
            State: State
            Country: Country
            GeoLong: 3.0937452626664474
            City: City
            Name: Name
            StadiumID: 7
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 6
          HomeTeamSeed: 9
          AwayTeamID: 5
          IsClosed: true
          TournamentDisplayOrder: 0
          TimeRemainingSeconds: 7
          UnderPayout: 8
          Round: 6
          GlobalHomeTeamID: 1
          TournamentID: 4
          Season: 6
          GlobalGameID: 1
          Attendance: 0
          Bracket: Bracket
          TimeRemainingMinutes: 0
          AwayTeamSeed: 3
          OverUnder: 8.762042012749001
          AwayTeamPreviousGlobalGameID: 7
          Periods:
          - HomeScore: 3
            Type: Type
            Number: 6
            AwayScore: 9
            PeriodID: 1
            GameID: 6
            Name: Name
          - HomeScore: 3
            Type: Type
            Number: 6
            AwayScore: 9
            PeriodID: 1
            GameID: 6
            Name: Name
          SeasonType: 5
          HomeTeamScore: 9
          PointSpread: 2.8841621266687802
          AwayPointSpreadPayout: 6
          BottomTeamPreviousGameId: 2
          Day: Day
        - AwayTeam: AwayTeam
          HomeTeamMoneyLine: 1
          HomeTeamID: 7
          DateTime: DateTime
          HomePointSpreadPayout: 1
          HomeTeamPreviousGlobalGameID: 5
          GameID: 4
          OverPayout: 6
          HomeTeamPreviousGameID: 4
          Status: Status
          TopTeamPreviousGameId: 6
          HomeTeam: HomeTeam
          Updated: Updated
          Channel: Channel
          Period: Period
          TournamentDisplayOrderForHomeTeam: TournamentDisplayOrderForHomeTeam
          NeutralVenue: true
          AwayTeamPreviousGameID: 2
          AwayRotationNumber: 1
          AwayTeamScore: 9
          GlobalAwayTeamID: 7
          DateTimeUTC: DateTimeUTC
          AwayTeamMoneyLine: 5
          Stadium:
            Zip: Zip
            Active: true
            Address: Address
            GeoLat: 3.353193347011243
            Capacity: 6
            State: State
            Country: Country
            GeoLong: 3.0937452626664474
            City: City
            Name: Name
            StadiumID: 7
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 6
          HomeTeamSeed: 9
          AwayTeamID: 5
          IsClosed: true
          TournamentDisplayOrder: 0
          TimeRemainingSeconds: 7
          UnderPayout: 8
          Round: 6
          GlobalHomeTeamID: 1
          TournamentID: 4
          Season: 6
          GlobalGameID: 1
          Attendance: 0
          Bracket: Bracket
          TimeRemainingMinutes: 0
          AwayTeamSeed: 3
          OverUnder: 8.762042012749001
          AwayTeamPreviousGlobalGameID: 7
          Periods:
          - HomeScore: 3
            Type: Type
            Number: 6
            AwayScore: 9
            PeriodID: 1
            GameID: 6
            Name: Name
          - HomeScore: 3
            Type: Type
            Number: 6
            AwayScore: 9
            PeriodID: 1
            GameID: 6
            Name: Name
          SeasonType: 5
          HomeTeamScore: 9
          PointSpread: 2.8841621266687802
          AwayPointSpreadPayout: 6
          BottomTeamPreviousGameId: 2
          Day: Day
        LeftTopBracketConference: LeftTopBracketConference
        RightBottomBracketConference: RightBottomBracketConference
        TournamentID: 6
        LeftBottomBracketConference: LeftBottomBracketConference
        Season: 0
        RightTopBracketConference: RightTopBracketConference
        Location: Location
        Name: Name
      properties:
        Games:
          items:
            $ref: '#/components/schemas/Game'
          type: array
        LeftBottomBracketConference:
          nullable: true
          type: string
        LeftTopBracketConference:
          nullable: true
          type: string
        Location:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        RightBottomBracketConference:
          nullable: true
          type: string
        RightTopBracketConference:
          nullable: true
          type: string
        Season:
          nullable: false
          type: integer
        TournamentID:
          nullable: false
          type: integer
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey

