openapi: 3.0.1
info:
  description: Azure Application Insights client for web test locations.
  title: ApplicationInsightsManagementClient
  version: 2015-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/webTestLocations_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: applicationinsights-webTestLocations_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/syntheticmonitorlocations
  : get:
      description: Gets a list of web test locations available to this Application
        Insights component.
      operationId: web_test_locations_list
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsWebTestLocationsListResult'
          description: A list containing 0 or more web test location names available
            to the Application Insights component.
      x-ms-examples:
        WebTestLocationsList:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
              - DisplayName: "US : IL-Chicago"
                Tag: us-il-ch1-azr
              - DisplayName: "NL : Amsterdam"
                Tag: emea-nl-ams-azr
              - DisplayName: "SG : Singapore"
                Tag: apac-sg-sin-azr
              - DisplayName: "US : CA-San Jose"
                Tag: us-ca-sjc-azr
              - DisplayName: "US : TX-San Antonio"
                Tag: us-tx-sn1-azr
              - DisplayName: "US : VA-Ashburn"
                Tag: us-va-ash-azr
              - DisplayName: "HK : Hong Kong"
                Tag: apac-hk-hkn-azr
              - DisplayName: "IE : Dublin"
                Tag: emea-gb-db3-azr
              - DisplayName: "JP : Kawaguchi"
                Tag: apac-jp-kaw-edge
              - DisplayName: "AU : Sydney"
                Tag: emea-au-syd-edge
              - DisplayName: "CH : Zurich"
                Tag: emea-ch-zrh-edge
              - DisplayName: "FR : Paris"
                Tag: emea-fr-pra-edge
              - DisplayName: "RU : Moscow"
                Tag: emea-ru-msa-edge
              - DisplayName: "SE : Stockholm"
                Tag: emea-se-sto-edge
              - DisplayName: "BR : Sao Paulo"
                Tag: latam-br-gru-edge
              - DisplayName: "US : FL-Miami"
                Tag: us-fl-mia-edge
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ApplicationInsightsComponentWebTestLocation:
      description: Properties that define a web test location available to an Application
        Insights Component.
      example:
        DisplayName: DisplayName
        Tag: Tag
      properties:
        DisplayName:
          description: The display name of the web test location.
          readOnly: true
          title: DisplayName
          type: string
        Tag:
          description: Internally defined geographic location tag.
          readOnly: true
          title: Tag
          type: string
      title: ApplicationInsightsComponentWebTestLocation
      type: object
    ApplicationInsightsWebTestLocationsListResult:
      description: Describes the list of web test locations available to an Application
        Insights Component.
      example:
        value:
        - DisplayName: DisplayName
          Tag: Tag
        - DisplayName: DisplayName
          Tag: Tag
      properties:
        value:
          description: List of web test locations.
          items:
            $ref: '#/components/schemas/ApplicationInsightsComponentWebTestLocation'
          title: value
          type: array
      required:
      - value
      title: ApplicationInsightsWebTestLocationsListResult
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
