openapi: 3.0.1
info:
  title: AppServicePlans API Client
  version: 2016-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-09-01/AppServicePlans.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-AppServicePlans
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/serverfarms:
    get:
      description: Get all App Service plans for a subscription.
      operationId: app_service_plans_list
      parameters:
      - description: |-
          Specify <code>true</code> to return all App Service plan properties. The default is <code>false</code>, which returns a subset of the properties.
           Retrieval of all properties may increase the API latency.
        in: query
        name: detailed
        schema:
          type: boolean
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_200_response'
          description: OK
      summary: Get all App Service plans for a subscription.
      tags:
      - AppServicePlans
      x-ms-examples:
        List App Service plans:
          parameters:
            api-version: 2016-09-01
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                  kind: app
                  location: East US
                  name: testsf6141
                  properties:
                    currentNumberOfWorkers: 1
                    currentWorkerSize: Default
                    geoRegion: East US
                    isSpot: false
                    kind: app
                    maximumNumberOfWorkers: 20
                    mdmId: waws-prod-blu-033_4740
                    name: testsf6141
                    numberOfSites: 4
                    numberOfWorkers: 1
                    provisioningState: Succeeded
                    reserved: false
                    status: Ready
                    targetWorkerCount: 0
                    targetWorkerSizeId: 0
                    workerSize: Default
                  sku:
                    capacity: 1
                    family: P
                    name: P1
                    size: P1
                    tier: Premium
                  type: Microsoft.Web/serverfarms
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf7252
                  kind: app
                  location: East US
                  name: testsf7252
                  properties:
                    currentNumberOfWorkers: 1
                    currentWorkerSize: Default
                    geoRegion: East US
                    isSpot: false
                    kind: app
                    maximumNumberOfWorkers: 20
                    mdmId: waws-prod-blu-033_5680
                    name: testsf7252
                    numberOfSites: 4
                    numberOfWorkers: 1
                    provisioningState: Succeeded
                    reserved: false
                    status: Ready
                    targetWorkerCount: 0
                    targetWorkerSizeId: 0
                    workerSize: Default
                  sku:
                    capacity: 1
                    family: P
                    name: P1
                    size: P1
                    tier: Premium
                  type: Microsoft.Web/serverfarms
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms:
    get:
      description: Get all App Service plans in a resource group.
      operationId: app_service_plans_list_by_resource_group
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_List_200_response'
          description: OK
      summary: Get all App Service plans in a resource group.
      tags:
      - AppServicePlans
      x-ms-examples:
        List App Service plans by resource group:
          parameters:
            api-version: 2016-09-01
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                  kind: app
                  location: East US
                  name: testsf6141
                  properties:
                    currentNumberOfWorkers: 1
                    currentWorkerSize: Default
                    geoRegion: East US
                    isSpot: false
                    kind: app
                    maximumNumberOfWorkers: 20
                    mdmId: waws-prod-blu-033_4740
                    name: testsf6141
                    numberOfSites: 4
                    numberOfWorkers: 1
                    provisioningState: Succeeded
                    reserved: false
                    status: Ready
                    targetWorkerCount: 0
                    targetWorkerSizeId: 0
                    workerSize: Default
                  sku:
                    capacity: 1
                    family: P
                    name: P1
                    size: P1
                    tier: Premium
                  type: Microsoft.Web/serverfarms
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf7252
                  kind: app
                  location: East US
                  name: testsf7252
                  properties:
                    currentNumberOfWorkers: 1
                    currentWorkerSize: Default
                    geoRegion: East US
                    isSpot: false
                    kind: app
                    maximumNumberOfWorkers: 20
                    mdmId: waws-prod-blu-033_5680
                    name: testsf7252
                    numberOfSites: 4
                    numberOfWorkers: 1
                    provisioningState: Succeeded
                    reserved: false
                    status: Ready
                    targetWorkerCount: 0
                    targetWorkerSizeId: 0
                    workerSize: Default
                  sku:
                    capacity: 1
                    family: P
                    name: P1
                    size: P1
                    tier: Premium
                  type: Microsoft.Web/serverfarms
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}:
    delete:
      description: Delete an App Service plan.
      operationId: app_service_plans_delete
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK.
        "204":
          content: {}
          description: OK.
      summary: Delete an App Service plan.
      tags:
      - AppServicePlans
      x-ms-examples:
        Delete App Service plan:
          parameters:
            api-version: 2016-09-01
            name: testsf6141
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
    get:
      description: Get an App Service plan.
      operationId: app_service_plans_get
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_Get_200_response'
          description: OK.
        "404":
          content: {}
          description: Not found.
      summary: Get an App Service plan.
      tags:
      - AppServicePlans
      x-ms-examples:
        Get App Service plan:
          parameters:
            api-version: 2016-09-01
            name: testsf6141
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  isSpot: false
                  kind: app
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers: {}
            "404": {}
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
    patch:
      description: Creates or updates an App Service Plan.
      operationId: app_service_plans_update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServicePlanPatchResource'
        description: Details of the App Service plan.
        required: true
        x-body-name: appServicePlan
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_Get_200_response'
          description: OK.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_Get_200_response'
          description: Operation is in progress.
      summary: Creates or updates an App Service Plan.
      tags:
      - AppServicePlans
      x-ms-examples:
        Patch Service plan:
          parameters:
            api-version: 2016-09-01
            appServicePlan:
              id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
              kind: app
              name: testsf6141
              properties:
                name: testsf6141
              type: Microsoft.Web/serverfarms
            name: testsf6141
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers: {}
            "202":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  isSpot: false
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0
                location: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0
      x-codegen-request-body-name: appServicePlan
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
    put:
      description: Creates or updates an App Service Plan.
      operationId: app_service_plans_create_or_update
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServicePlans_Get_200_response'
        description: Details of the App Service plan.
        required: true
        x-body-name: appServicePlan
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_Get_200_response'
          description: OK.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_Get_200_response'
          description: Created.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_Get_200_response'
          description: Operation is in progress.
      summary: Creates or updates an App Service Plan.
      tags:
      - AppServicePlans
      x-ms-examples:
        Create or Update App Service plan:
          parameters:
            api-version: 2016-09-01
            appServicePlan:
              id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
              kind: app
              location: East US
              name: testsf6141
              properties:
                name: testsf6141
              sku:
                capacity: 1
                family: P
                name: P1
                size: P1
                tier: Premium
              type: Microsoft.Web/serverfarms
            name: testsf6141
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers: {}
            "201":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers: {}
            "202":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141
                kind: app
                location: East US
                name: testsf6141
                properties:
                  currentNumberOfWorkers: 1
                  currentWorkerSize: Default
                  geoRegion: East US
                  isSpot: false
                  maximumNumberOfWorkers: 20
                  mdmId: waws-prod-blu-033_4740
                  name: testsf6141
                  numberOfSites: 4
                  numberOfWorkers: 1
                  provisioningState: Succeeded
                  reserved: false
                  status: Ready
                  targetWorkerCount: 0
                  targetWorkerSizeId: 0
                  workerSize: Default
                sku:
                  capacity: 1
                  family: P
                  name: P1
                  size: P1
                  tier: Premium
                type: Microsoft.Web/serverfarms
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0
                location: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0
      x-ms-long-running-operation: true
      x-codegen-request-body-name: appServicePlan
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/capabilities:
    get:
      description: List all capabilities of an App Service plan.
      operationId: app_service_plans_list_capabilities
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_sku_capabilities_inner'
                type: array
          description: OK
      summary: List all capabilities of an App Service plan.
      tags:
      - AppServicePlans
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}
  : delete:
      description: Delete a Hybrid Connection in use in an App Service plan.
      operationId: app_service_plans_delete_hybrid_connection
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Service Bus namespace.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Name of the Service Bus relay.
        in: path
        name: relayName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted hybrid connection
        "204":
          content: {}
          description: Hybrid connection does not exist
      summary: Delete a Hybrid Connection in use in an App Service plan.
      tags:
      - AppServicePlans
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
    get:
      description: Retrieve a Hybrid Connection in use in an App Service plan.
      operationId: app_service_plans_get_hybrid_connection
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Service Bus namespace.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Name of the Service Bus relay.
        in: path
        name: relayName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_GetHybridConnection_200_response'
          description: OK
      summary: Retrieve a Hybrid Connection in use in an App Service plan.
      tags:
      - AppServicePlans
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}/listKeys
  : post:
      description: Get the send key name and value of a Hybrid Connection.
      operationId: app_service_plans_list_hybrid_connection_keys
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The name of the Service Bus namespace.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: The name of the Service Bus relay.
        in: path
        name: relayName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_ListHybridConnectionKeys_200_response'
          description: OK
      summary: Get the send key name and value of a Hybrid Connection.
      tags:
      - AppServicePlans
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}/sites
  : get:
      description: Get all apps that use a Hybrid Connection in an App Service Plan.
      operationId: app_service_plans_list_web_apps_by_hybrid_connection
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Hybrid Connection namespace.
        in: path
        name: namespaceName
        required: true
        schema:
          type: string
      - description: Name of the Hybrid Connection relay.
        in: path
        name: relayName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceCollection'
          description: OK
      summary: Get all apps that use a Hybrid Connection in an App Service Plan.
      tags:
      - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionPlanLimits/limit
  : get:
      description: Get the maximum number of Hybrid Connections allowed in an App
        Service plan.
      operationId: app_service_plans_get_hybrid_connection_plan_limit
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridConnectionLimits'
          description: OK
      summary: Get the maximum number of Hybrid Connections allowed in an App Service
        plan.
      tags:
      - AppServicePlans
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/hybridConnectionRelays
  : get:
      description: Retrieve all Hybrid Connections in use in an App Service plan.
      operationId: app_service_plans_list_hybrid_connections
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HybridConnectionCollection'
          description: OK
      summary: Retrieve all Hybrid Connections in use in an App Service plan.
      tags:
      - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/metricdefinitions:
    get:
      description: "Get metrics that can be queried for an App Service plan, and their\
        \ definitions."
      operationId: app_service_plans_list_metric_defintions
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_ListMetricDefintions_200_response'
          description: OK
      summary: "Get metrics that can be queried for an App Service plan, and their\
        \ definitions."
      tags:
      - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/metrics:
    get:
      description: Get metrics for an App Service plan.
      operationId: app_service_plans_list_metrics
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Specify <code>true</code> to include instance details. The default
          is <code>false</code>.
        in: query
        name: details
        schema:
          type: boolean
      - description: "Return only usages/metrics specified in the filter. Filter conforms\
          \ to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value\
          \ eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z'\
          \ and timeGrain eq duration'[Hour|Minute|Day]'."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_ListMetrics_200_response'
          description: OK
      summary: Get metrics for an App Service plan.
      tags:
      - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/restartSites:
    post:
      description: Restart all apps in an App Service plan.
      operationId: app_service_plans_restart_web_apps
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Specify <code>true</code> to perform a soft restart, applies\
          \ the configuration settings and restarts the apps if necessary. The default\
          \ is <code>false</code>, which always restarts and reprovisions the apps"
        in: query
        name: softRestart
        schema:
          type: boolean
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
      summary: Restart all apps in an App Service plan.
      tags:
      - AppServicePlans
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/sites:
    get:
      description: Get all apps associated with an App Service plan.
      operationId: app_service_plans_list_web_apps
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Skip to a web app in the list of webapps associated with app\
          \ service plan. If specified, the resulting list will contain web apps starting\
          \ from (including) the skipToken. Otherwise, the resulting list contains\
          \ web apps from the start of the list"
        in: query
        name: $skipToken
        schema:
          type: string
      - description: "Supported filter: $filter=state eq running. Returns only web\
          \ apps that are currently running"
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: "List page size. If specified, results are paged."
        in: query
        name: $top
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_ListWebApps_200_response'
          description: OK
      summary: Get all apps associated with an App Service plan.
      tags:
      - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/skus:
    get:
      description: Gets all selectable SKUs for a given App Service Plan
      operationId: app_service_plans_get_server_farm_skus
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of App Service Plan
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      summary: Gets all selectable SKUs for a given App Service Plan
      tags:
      - AppServicePlans
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/usages:
    get:
      description: Gets server farm usage information
      operationId: app_service_plans_list_usages
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of App Service Plan
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Return only usages/metrics specified in the filter. Filter conforms\
          \ to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value\
          \ eq 'Metric2')."
        in: query
        name: $filter
        schema:
          type: string
          x-ms-skip-url-encoding: true
        x-ms-skip-url-encoding: true
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_ListUsages_200_response'
          description: OK
      summary: Gets server farm usage information
      tags:
      - AppServicePlans
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections
  : get:
      description: Get all Virtual Networks associated with an App Service plan.
      operationId: app_service_plans_list_vnets
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AppServicePlans_ListVnets_200_response_inner'
                type: array
          description: OK
      summary: Get all Virtual Networks associated with an App Service plan.
      tags:
      - AppServicePlans
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}
  : get:
      description: Get a Virtual Network associated with an App Service plan.
      operationId: app_service_plans_get_vnet_from_server_farm
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_GetVnetFromServerFarm_200_response'
          description: OK.
        "404":
          content: {}
          description: Virtual network could not be found.
      summary: Get a Virtual Network associated with an App Service plan.
      tags:
      - AppServicePlans
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/gateways/{gatewayName}
  : get:
      description: Get a Virtual Network gateway.
      operationId: app_service_plans_get_vnet_gateway
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Name of the gateway. Only the 'primary' gateway is supported.
        in: path
        name: gatewayName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_GetVnetGateway_200_response'
          description: OK
      summary: Get a Virtual Network gateway.
      tags:
      - AppServicePlans
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
    put:
      description: Update a Virtual Network gateway.
      operationId: app_service_plans_update_vnet_gateway
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Name of the gateway. Only the 'primary' gateway is supported.
        in: path
        name: gatewayName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServicePlans_GetVnetGateway_200_response'
        description: Definition of the gateway.
        required: true
        x-body-name: connectionEnvelope
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_GetVnetGateway_200_response'
          description: OK
      summary: Update a Virtual Network gateway.
      tags:
      - AppServicePlans
      x-codegen-request-body-name: connectionEnvelope
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/routes
  : get:
      description: Get all routes that are associated with a Virtual Network in an
        App Service plan.
      operationId: app_service_plans_list_routes_for_vnet
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AppServicePlans_ListVnets_200_response_inner_properties_routes_inner'
                type: array
          description: OK
      summary: Get all routes that are associated with a Virtual Network in an App
        Service plan.
      tags:
      - AppServicePlans
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/virtualNetworkConnections/{vnetName}/routes/{routeName}
  : delete:
      description: Delete a Virtual Network route in an App Service plan.
      operationId: app_service_plans_delete_vnet_route
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network route.
        in: path
        name: routeName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Successfully deleted Virtual Network route.
        "404":
          content: {}
          description: Specified Virtual Network route does not exist.
      summary: Delete a Virtual Network route in an App Service plan.
      tags:
      - AppServicePlans
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
    get:
      description: Get a Virtual Network route in an App Service plan.
      operationId: app_service_plans_get_route_for_vnet
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network route.
        in: path
        name: routeName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AppServicePlans_ListVnets_200_response_inner_properties_routes_inner'
                type: array
          description: OK.
        "404":
          content: {}
          description: Specified route does not exist.
      summary: Get a Virtual Network route in an App Service plan.
      tags:
      - AppServicePlans
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
    patch:
      description: Create or update a Virtual Network route in an App Service plan.
      operationId: app_service_plans_update_vnet_route
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network route.
        in: path
        name: routeName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServicePlans_CreateOrUpdateVnetRoute_request'
        description: Definition of the Virtual Network route.
        required: true
        x-body-name: route
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_CreateOrUpdateVnetRoute_request'
          description: OK.
        "400":
          content: {}
          description: "Invalid request. Ensure that required parameters are given,\
            \ and that addresses and address spaces are valid."
        "404":
          content: {}
          description: Route not found.
      summary: Create or update a Virtual Network route in an App Service plan.
      tags:
      - AppServicePlans
      x-codegen-request-body-name: route
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
    put:
      description: Create or update a Virtual Network route in an App Service plan.
      operationId: app_service_plans_create_or_update_vnet_route
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network.
        in: path
        name: vnetName
        required: true
        schema:
          type: string
      - description: Name of the Virtual Network route.
        in: path
        name: routeName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppServicePlans_CreateOrUpdateVnetRoute_request'
        description: Definition of the Virtual Network route.
        required: true
        x-body-name: route
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppServicePlans_CreateOrUpdateVnetRoute_request'
          description: OK.
        "400":
          content: {}
          description: "Invalid request. Ensure that required parameters are given,\
            \ and that addresses and address spaces are valid."
        "404":
          content: {}
          description: Route not found.
      summary: Create or update a Virtual Network route in an App Service plan.
      tags:
      - AppServicePlans
      x-codegen-request-body-name: route
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/workers/{workerName}/reboot
  : post:
      description: Reboot a worker machine in an App Service plan.
      operationId: app_service_plans_reboot_worker
      parameters:
      - description: Name of the resource group to which the resource belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the App Service plan.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Name of worker machine, which typically starts with RD."
        in: path
        name: workerName
        required: true
        schema:
          type: string
      - description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
          00000000-0000-0000-0000-000000000000).
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: API Version
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
      summary: Reboot a worker machine in an App Service plan.
      tags:
      - AppServicePlans
      x-openapi-router-controller: openapi_server.controllers.app_service_plans_controller
components:
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: "^[-\\w\\._\\(\\)]+[^\\.]$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g.
        00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    AppServicePlanPatchResource:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: ARM resource for a app service plan.
      example:
        properties: "{}"
      properties:
        properties:
          description: AppServicePlanPatchResource resource specific properties
          properties:
            adminSiteName:
              description: App Service plan administration site.
              title: adminSiteName
              type: string
            geoRegion:
              description: Geographical location for the App Service plan.
              readOnly: true
              title: geoRegion
              type: string
            hostingEnvironmentProfile:
              description: Specification for an App Service Environment to use for
                this resource.
              properties:
                id:
                  description: Resource ID of the App Service Environment.
                  title: id
                  type: string
                name:
                  description: Name of the App Service Environment.
                  readOnly: true
                  title: name
                  type: string
                type:
                  description: Resource type of the App Service Environment.
                  readOnly: true
                  title: type
                  type: string
              title: hostingEnvironmentProfile
              type: object
            isSpot:
              description: "If <code>true</code>, this App Service Plan owns spot\
                \ instances."
              title: isSpot
              type: boolean
            maximumNumberOfWorkers:
              description: Maximum number of instances that can be assigned to this
                App Service plan.
              format: int32
              readOnly: true
              title: maximumNumberOfWorkers
              type: integer
            name:
              description: Name for the App Service plan.
              title: name
              type: string
            numberOfSites:
              description: Number of apps assigned to this App Service plan.
              format: int32
              readOnly: true
              title: numberOfSites
              type: integer
            perSiteScaling:
              default: false
              description: |-
                If <code>true</code>, apps assigned to this App Service plan can be scaled independently.
                If <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.
              title: perSiteScaling
              type: boolean
            provisioningState:
              description: Provisioning state of the App Service Environment.
              enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
              readOnly: true
              title: provisioningState
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            reserved:
              default: false
              description: "If Linux app service plan <code>true</code>, <code>false</code>\
                \ otherwise."
              title: reserved
              type: boolean
              x-ms-mutability:
              - create
              - read
            resourceGroup:
              description: Resource group of the App Service plan.
              readOnly: true
              title: resourceGroup
              type: string
            spotExpirationTime:
              description: The time when the server farm expires. Valid only if it
                is a spot server farm.
              format: date-time
              title: spotExpirationTime
              type: string
            status:
              description: App Service plan status.
              enum:
              - Ready
              - Pending
              - Creating
              readOnly: true
              title: status
              type: string
              x-ms-enum:
                modelAsString: false
                name: StatusOptions
            subscription:
              description: App Service plan subscription.
              readOnly: true
              title: subscription
              type: string
            targetWorkerCount:
              description: Scaling worker count.
              format: int32
              title: targetWorkerCount
              type: integer
            targetWorkerSizeId:
              description: Scaling worker size ID.
              format: int32
              title: targetWorkerSizeId
              type: integer
            workerTierName:
              description: Target worker tier assigned to the App Service plan.
              title: workerTierName
              type: string
          required:
          - name
          title: properties
          type: object
          x-ms-client-flatten: true
      title: AppServicePlanPatchResource
    HybridConnectionCollection:
      description: Collection of hostname bindings.
      example:
        value:
        - properties:
            hostname: hostname
            serviceBusNamespace: serviceBusNamespace
            port: 0
            relayArmUri: relayArmUri
            relayName: relayName
            sendKeyValue: sendKeyValue
            serviceBusSuffix: serviceBusSuffix
            sendKeyName: sendKeyName
        - properties:
            hostname: hostname
            serviceBusNamespace: serviceBusNamespace
            port: 0
            relayArmUri: relayArmUri
            relayName: relayName
            sendKeyValue: sendKeyValue
            serviceBusSuffix: serviceBusSuffix
            sendKeyName: sendKeyName
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/HybridConnectionCollection_value_inner'
          title: value
          type: array
      required:
      - value
      title: HybridConnectionCollection
      type: object
    HybridConnectionLimits:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Hybrid Connection limits contract. This is used to return the plan
        limits of Hybrid Connections.
      example:
        properties: "{}"
      properties:
        properties:
          description: HybridConnectionLimits resource specific properties
          properties:
            current:
              description: The current number of Hybrid Connections.
              format: int32
              readOnly: true
              title: current
              type: integer
            maximum:
              description: The maximum number of Hybrid Connections allowed.
              format: int32
              readOnly: true
              title: maximum
              type: integer
          title: properties
          type: object
          x-ms-client-flatten: true
      title: HybridConnectionLimits
    ResourceCollection:
      description: Collection of resources.
      example:
        value:
        - value
        - value
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            type: string
          title: value
          type: array
      required:
      - value
      title: ResourceCollection
      type: object
    AppServicePlans_List_200_response_value_inner_properties_hostingEnvironmentProfile:
      description: Specification for an App Service Environment to use for this resource.
      example:
        name: name
        id: id
        type: type
      properties:
        id:
          description: Resource ID of the App Service Environment.
          title: id
          type: string
        name:
          description: Name of the App Service Environment.
          readOnly: true
          title: name
          type: string
        type:
          description: Resource type of the App Service Environment.
          readOnly: true
          title: type
          type: string
      title: AppServicePlans_List_200_response_value_inner_properties_hostingEnvironmentProfile
      type: object
    AppServicePlans_List_200_response_value_inner_properties:
      description: AppServicePlan resource specific properties
      example:
        targetWorkerSizeId: 5
        resourceGroup: resourceGroup
        isSpot: true
        geoRegion: geoRegion
        adminSiteName: adminSiteName
        workerTierName: workerTierName
        targetWorkerCount: 1
        provisioningState: Succeeded
        spotExpirationTime: 2000-01-23T04:56:07.000+00:00
        subscription: subscription
        perSiteScaling: false
        maximumNumberOfWorkers: 0
        numberOfSites: 6
        hostingEnvironmentProfile:
          name: name
          id: id
          type: type
        reserved: false
        name: name
        status: Ready
      properties:
        adminSiteName:
          description: App Service plan administration site.
          title: adminSiteName
          type: string
        geoRegion:
          description: Geographical location for the App Service plan.
          readOnly: true
          title: geoRegion
          type: string
        hostingEnvironmentProfile:
          $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_properties_hostingEnvironmentProfile'
        isSpot:
          description: "If <code>true</code>, this App Service Plan owns spot instances."
          title: isSpot
          type: boolean
        maximumNumberOfWorkers:
          description: Maximum number of instances that can be assigned to this App
            Service plan.
          format: int32
          readOnly: true
          title: maximumNumberOfWorkers
          type: integer
        name:
          description: Name for the App Service plan.
          title: name
          type: string
        numberOfSites:
          description: Number of apps assigned to this App Service plan.
          format: int32
          readOnly: true
          title: numberOfSites
          type: integer
        perSiteScaling:
          default: false
          description: |-
            If <code>true</code>, apps assigned to this App Service plan can be scaled independently.
            If <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.
          title: perSiteScaling
          type: boolean
        provisioningState:
          description: Provisioning state of the App Service Environment.
          enum:
          - Succeeded
          - Failed
          - Canceled
          - InProgress
          - Deleting
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: false
            name: ProvisioningState
        reserved:
          default: false
          description: "If Linux app service plan <code>true</code>, <code>false</code>\
            \ otherwise."
          title: reserved
          type: boolean
          x-ms-mutability:
          - create
          - read
        resourceGroup:
          description: Resource group of the App Service plan.
          readOnly: true
          title: resourceGroup
          type: string
        spotExpirationTime:
          description: The time when the server farm expires. Valid only if it is
            a spot server farm.
          format: date-time
          title: spotExpirationTime
          type: string
        status:
          description: App Service plan status.
          enum:
          - Ready
          - Pending
          - Creating
          readOnly: true
          title: status
          type: string
          x-ms-enum:
            modelAsString: false
            name: StatusOptions
        subscription:
          description: App Service plan subscription.
          readOnly: true
          title: subscription
          type: string
        targetWorkerCount:
          description: Scaling worker count.
          format: int32
          title: targetWorkerCount
          type: integer
        targetWorkerSizeId:
          description: Scaling worker size ID.
          format: int32
          title: targetWorkerSizeId
          type: integer
        workerTierName:
          description: Target worker tier assigned to the App Service plan.
          title: workerTierName
          type: string
      required:
      - name
      title: AppServicePlans_List_200_response_value_inner_properties
      type: object
      x-ms-client-flatten: true
    AppServicePlans_List_200_response_value_inner_sku_capabilities_inner:
      description: Describes the capabilities/features allowed for a specific SKU.
      example:
        reason: reason
        name: name
        value: value
      properties:
        name:
          description: Name of the SKU capability.
          title: name
          type: string
        reason:
          description: Reason of the SKU capability.
          title: reason
          type: string
        value:
          description: Value of the SKU capability.
          title: value
          type: string
      title: AppServicePlans_List_200_response_value_inner_sku_capabilities_inner
      type: object
    AppServicePlans_List_200_response_value_inner_sku_skuCapacity:
      description: Description of the App Service plan scale options.
      example:
        default: 2
        scaleType: scaleType
        maximum: 7
        minimum: 9
      properties:
        default:
          description: Default number of workers for this App Service plan SKU.
          format: int32
          title: default
          type: integer
        maximum:
          description: Maximum number of workers for this App Service plan SKU.
          format: int32
          title: maximum
          type: integer
        minimum:
          description: Minimum number of workers for this App Service plan SKU.
          format: int32
          title: minimum
          type: integer
        scaleType:
          description: Available scale configurations for an App Service plan.
          title: scaleType
          type: string
      title: AppServicePlans_List_200_response_value_inner_sku_skuCapacity
      type: object
    AppServicePlans_List_200_response_value_inner_sku:
      description: Description of a SKU for a scalable resource.
      example:
        capabilities:
        - reason: reason
          name: name
          value: value
        - reason: reason
          name: name
          value: value
        skuCapacity:
          default: 2
          scaleType: scaleType
          maximum: 7
          minimum: 9
        size: size
        tier: tier
        name: name
        locations:
        - locations
        - locations
        family: family
        capacity: 5
      properties:
        capabilities:
          description: "Capabilities of the SKU, e.g., is traffic manager enabled?"
          items:
            $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_sku_capabilities_inner'
          title: capabilities
          type: array
        capacity:
          description: Current number of instances assigned to the resource.
          format: int32
          title: capacity
          type: integer
        family:
          description: Family code of the resource SKU.
          title: family
          type: string
        locations:
          description: Locations of the SKU.
          items:
            type: string
          title: locations
          type: array
        name:
          description: Name of the resource SKU.
          title: name
          type: string
        size:
          description: Size specifier of the resource SKU.
          title: size
          type: string
        skuCapacity:
          $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_sku_skuCapacity'
        tier:
          description: Service tier of the resource SKU.
          title: tier
          type: string
      title: AppServicePlans_List_200_response_value_inner_sku
      type: object
    AppServicePlans_List_200_response_value_inner:
      description: App Service plan.
      example:
        sku:
          capabilities:
          - reason: reason
            name: name
            value: value
          - reason: reason
            name: name
            value: value
          skuCapacity:
            default: 2
            scaleType: scaleType
            maximum: 7
            minimum: 9
          size: size
          tier: tier
          name: name
          locations:
          - locations
          - locations
          family: family
          capacity: 5
        properties:
          targetWorkerSizeId: 5
          resourceGroup: resourceGroup
          isSpot: true
          geoRegion: geoRegion
          adminSiteName: adminSiteName
          workerTierName: workerTierName
          targetWorkerCount: 1
          provisioningState: Succeeded
          spotExpirationTime: 2000-01-23T04:56:07.000+00:00
          subscription: subscription
          perSiteScaling: false
          maximumNumberOfWorkers: 0
          numberOfSites: 6
          hostingEnvironmentProfile:
            name: name
            id: id
            type: type
          reserved: false
          name: name
          status: Ready
      properties:
        properties:
          $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_properties'
        sku:
          $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_sku'
      title: AppServicePlans_List_200_response_value_inner
      type: object
    AppServicePlans_List_200_response:
      description: Collection of App Service plans.
      example:
        value:
        - sku:
            capabilities:
            - reason: reason
              name: name
              value: value
            - reason: reason
              name: name
              value: value
            skuCapacity:
              default: 2
              scaleType: scaleType
              maximum: 7
              minimum: 9
            size: size
            tier: tier
            name: name
            locations:
            - locations
            - locations
            family: family
            capacity: 5
          properties:
            targetWorkerSizeId: 5
            resourceGroup: resourceGroup
            isSpot: true
            geoRegion: geoRegion
            adminSiteName: adminSiteName
            workerTierName: workerTierName
            targetWorkerCount: 1
            provisioningState: Succeeded
            spotExpirationTime: 2000-01-23T04:56:07.000+00:00
            subscription: subscription
            perSiteScaling: false
            maximumNumberOfWorkers: 0
            numberOfSites: 6
            hostingEnvironmentProfile:
              name: name
              id: id
              type: type
            reserved: false
            name: name
            status: Ready
        - sku:
            capabilities:
            - reason: reason
              name: name
              value: value
            - reason: reason
              name: name
              value: value
            skuCapacity:
              default: 2
              scaleType: scaleType
              maximum: 7
              minimum: 9
            size: size
            tier: tier
            name: name
            locations:
            - locations
            - locations
            family: family
            capacity: 5
          properties:
            targetWorkerSizeId: 5
            resourceGroup: resourceGroup
            isSpot: true
            geoRegion: geoRegion
            adminSiteName: adminSiteName
            workerTierName: workerTierName
            targetWorkerCount: 1
            provisioningState: Succeeded
            spotExpirationTime: 2000-01-23T04:56:07.000+00:00
            subscription: subscription
            perSiteScaling: false
            maximumNumberOfWorkers: 0
            numberOfSites: 6
            hostingEnvironmentProfile:
              name: name
              id: id
              type: type
            reserved: false
            name: name
            status: Ready
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to next page of resources.
          title: nextLink
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner'
          title: value
          type: array
      required:
      - value
      title: AppServicePlans_List_200_response
      type: object
    AppServicePlans_Get_200_response:
      allOf:
      - description: Azure resource. This resource is tracked in Azure Resource Manager
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          location:
            description: Resource Location.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        required:
        - location
        type: object
        x-ms-azure-resource: true
      description: App Service plan.
      example:
        sku:
          capabilities:
          - reason: reason
            name: name
            value: value
          - reason: reason
            name: name
            value: value
          skuCapacity:
            default: 2
            scaleType: scaleType
            maximum: 7
            minimum: 9
          size: size
          tier: tier
          name: name
          locations:
          - locations
          - locations
          family: family
          capacity: 5
        properties:
          targetWorkerSizeId: 5
          resourceGroup: resourceGroup
          isSpot: true
          geoRegion: geoRegion
          adminSiteName: adminSiteName
          workerTierName: workerTierName
          targetWorkerCount: 1
          provisioningState: Succeeded
          spotExpirationTime: 2000-01-23T04:56:07.000+00:00
          subscription: subscription
          perSiteScaling: false
          maximumNumberOfWorkers: 0
          numberOfSites: 6
          hostingEnvironmentProfile:
            name: name
            id: id
            type: type
          reserved: false
          name: name
          status: Ready
      properties:
        properties:
          $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_properties'
        sku:
          $ref: '#/components/schemas/AppServicePlans_List_200_response_value_inner_sku'
      title: AppServicePlans_Get_200_response
    AppServicePlans_GetHybridConnection_200_response_properties:
      description: HybridConnection resource specific properties
      example:
        hostname: hostname
        serviceBusNamespace: serviceBusNamespace
        port: 0
        relayArmUri: relayArmUri
        relayName: relayName
        sendKeyValue: sendKeyValue
        serviceBusSuffix: serviceBusSuffix
        sendKeyName: sendKeyName
      properties:
        hostname:
          description: The hostname of the endpoint.
          title: hostname
          type: string
        port:
          description: The port of the endpoint.
          format: int32
          title: port
          type: integer
        relayArmUri:
          description: The ARM URI to the Service Bus relay.
          title: relayArmUri
          type: string
        relayName:
          description: The name of the Service Bus relay.
          title: relayName
          type: string
          x-ms-mutability:
          - create
          - read
        sendKeyName:
          description: The name of the Service Bus key which has Send permissions.
            This is used to authenticate to Service Bus.
          title: sendKeyName
          type: string
        sendKeyValue:
          description: |-
            The value of the Service Bus key. This is used to authenticate to Service Bus. In ARM this key will not be returned
            normally, use the POST /listKeys API instead.
          title: sendKeyValue
          type: string
        serviceBusNamespace:
          description: The name of the Service Bus namespace.
          title: serviceBusNamespace
          type: string
          x-ms-mutability:
          - create
          - read
        serviceBusSuffix:
          description: The suffix for the service bus endpoint. By default this is
            .servicebus.windows.net
          title: serviceBusSuffix
          type: string
      title: AppServicePlans_GetHybridConnection_200_response_properties
      type: object
      x-ms-client-flatten: true
    AppServicePlans_GetHybridConnection_200_response:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Hybrid Connection contract. This is used to configure a Hybrid
        Connection.
      example:
        properties:
          hostname: hostname
          serviceBusNamespace: serviceBusNamespace
          port: 0
          relayArmUri: relayArmUri
          relayName: relayName
          sendKeyValue: sendKeyValue
          serviceBusSuffix: serviceBusSuffix
          sendKeyName: sendKeyName
      properties:
        properties:
          $ref: '#/components/schemas/AppServicePlans_GetHybridConnection_200_response_properties'
      title: AppServicePlans_GetHybridConnection_200_response
    AppServicePlans_ListHybridConnectionKeys_200_response_properties:
      description: HybridConnectionKey resource specific properties
      example:
        sendKeyValue: sendKeyValue
        sendKeyName: sendKeyName
      properties:
        sendKeyName:
          description: The name of the send key.
          readOnly: true
          title: sendKeyName
          type: string
        sendKeyValue:
          description: The value of the send key.
          readOnly: true
          title: sendKeyValue
          type: string
      title: AppServicePlans_ListHybridConnectionKeys_200_response_properties
      type: object
      x-ms-client-flatten: true
    AppServicePlans_ListHybridConnectionKeys_200_response:
      allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure
          Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
[...]
