openapi: 3.0.0
info:
  contact:
    email: devrel@vonage.com
    name: Vonage DevRel
    url: https://developer.nexmo.com/
  description: |
    The [Reports API](/reports/overview) enables you to request a report of activity for your Vonage account.

    Depending on your query pattern, you can choose from one of the two versions of the Reports API: asynchronous and synchronous. The asynchronous version is optimized for infrequent and large data queries (from several records to tens of millions). The synchronous version is optimized for frequent and periodic retrievals of small batches of data records (from one record to tens of thousand per query).

    Only synchronous version supports retrival of data records by message/record ID.

    Vonage recommends that you limit asynchronous queries to a maximum of 20 million records, by setting the start and end dates accordingly. On average, the asynchronous Reports API takes 5 - 10 minutes to generate 1 million records.
  license:
    name: The MIT License (MIT)
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.nexmo.com/terms-of-use
  title: Reports API
  version: 2.2.2
  x-label: Beta
  x-logo:
    url: https://www.vonage.com/content/dam/vonage/us-en/api/illustrations/Mobile_APIs_Services.svg
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nexmo/api-specification/master/definitions/reports.yml
    version: "3.0"
  x-providerName: nexmo.com
  x-serviceName: reports
servers:
- url: https://api.nexmo.com
paths:
  /v2/reports:
    get:
      description: List reports created by the specified account based on filtered
        provided.
      operationId: list-reports
      parameters:
      - description: The account for which the list of reports will be queried.
        example: abcd1234
        explode: true
        in: query
        name: account_id
        required: true
        schema:
          maxLength: 8
          minLength: 8
          type: string
        style: form
      - description: "A comma-separated list of report status values. Reports with\
          \ any of the statuses specified are returned. The values in the comma-seperated\
          \ list specified for `status` can be any of `PENDING`, `PROCESSING`, `SUCCESS`,\
          \ `ABORTED`, `FAILED`, `TRUNCATED`."
        example: "SUCCESS, FAILED"
        explode: true
        in: query
        name: status
        required: true
        schema:
          type: string
        style: form
      - description: "ISO-8601 extended time zone offset or ISO-8601 UTC zone offset\
          \ formatted date from which the list of reports will be queried. Format\
          \ `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`."
        example: 2019-06-28T00:00:00-00:00
        explode: true
        in: query
        name: date_from
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "ISO-8601 extended time zone offset or ISO-8601 UTC zone offset\
          \ formatted date until which the list of reports will be queried. Format\
          \ `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`."
        example: 2019-06-28T23:59:59-00:00
        explode: true
        in: query
        name: date_to
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_reports_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_reports_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_reports_401_response'
          description: Unauthorized
      security:
      - basicAuth: []
      summary: List reports
      x-accepts:
      - application/json
    post:
      description: Request a report on your account activity
      operationId: create-async-report
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_async_report_request'
        description: |
          The parameters of the JSON body will be used to create and filter the report.<br> The value of the `product` field will define which product the report will be created for and which parameters are accepted.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_async_report_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_async_report_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_reports_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_async_report_403_response'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_async_report_422_response'
          description: Unprocessable entity
      security:
      - basicAuth: []
      summary: Create an asynchronous report
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/reports/records:
    get:
      description: Fetch usage data synchronously
      operationId: get-records
      parameters:
      - description: The account for which the list of reports will be queried.
        example: abcd1234
        explode: true
        in: query
        name: account_id
        required: true
        schema:
          maxLength: 8
          minLength: 8
          type: string
        style: form
      - description: The product to return records for
        example: SMS
        explode: true
        in: query
        name: product
        required: true
        schema:
          enum:
          - SMS
          - VOICE-CALL
          - VOICE-FAILED
          - IN-APP-VOICE
          - WEBSOCKET-CALL
          - VERIFY-API
          - NUMBER-INSIGHT
          - MESSAGES
          - ASR
          - CONVERSATIONS
          - REPORTS-USAGE
          type: string
        style: form
      - description: "Direction of the communication, either `inbound` (received by\
          \ our services), or `outbound` (originated from our services). Required\
          \ for products `SMS` and `MESSAGES`. Optional for `VOICE-CALL`. Invalid\
          \ for `IN-APP-VOICE`, `CONVERSATIONS`, `NUMBER-INSIGHT`, `VERIFY-API`."
        example: inbound
        explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - inbound
          - outbound
          type: string
        style: form
      - description: |
          The UUID of the message or call to be searched for. You can specify a comma-separated list of UUIDs. If UUIDs are not found they are listed in the response in the `ids_not_found` field.

          If you specify `id`, you must not specify `status`, `date_start` or `date_end`.
        example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: "ISO-8601 extended time zone offset or ISO-8601 UTC zone offset\
          \ formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`)\
          \ for when reports should begin. \n\nIt filters on the time the API call\
          \ was received by Vonage and corresponds to the field `date_received` (`date_start`\
          \ for Voice) in the report file. It is inclusive, i.e. the provided value\
          \ is less than or equal to the value in the field `date_received` (`date_start`\
          \ for Voice) in the CDR.\n\nIf you provide this, you must provide `date_end`\
          \ and must not provide `id`.\n"
        example: 2017-12-01T00:00:00+0000
        explode: true
        in: query
        name: date_start
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          **Must be no more than 24 hours later than `date_start`**

          ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when report should end.

          It is exclusive, i.e. the provided value is strictly greater than the value in the field `date_received` in the CDR.

          If you provide this, you must provide `date_start` and must not provide `id`.
        example: 2018-01-01T00:00:00+0000
        explode: true
        in: query
        name: date_end
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "Include the message contents in the records. Only applicable\
          \ for use with products `SMS` and `MESSAGES`, where it is optional."
        example: true
        explode: true
        in: query
        name: include_message
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Indicates whether the SMS was split up into multiple parts (due
          to its length).
        example: false
        explode: true
        in: query
        name: show_concatenated
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The SMS status to search for. Optional where product is `SMS`.
        example: delivered
        explode: true
        in: query
        name: status
        required: false
        schema:
          default: none
          enum:
          - delivered
          - expired
          - failed
          - rejected
          - accepted
          - buffered
          - unknown
          - deleted
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_records_200_response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_records_403_response'
          description: Unprocessable entity
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_records_422_response'
          description: Unprocessable entity
      security:
      - basicAuth: []
      summary: Load records synchronously
      x-accepts:
      - application/json
  /v2/reports/{report_id}:
    delete:
      description: Cancel the execution of a pending or processing report.
      operationId: cancel-report
      parameters:
      - description: UUID of the report
        explode: false
        in: path
        name: report_id
        required: true
        schema:
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_report_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_reports_401_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_report_404_response'
          description: Not found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancel_report_409_response'
          description: Invalid Abort Operation
      security:
      - basicAuth: []
      summary: Cancel the execution of a report
      x-accepts:
      - application/json
    get:
      description: Retrieve status and metadata about a requested report.
      operationId: get-report
      parameters:
      - description: UUID of the report request (`request_id` in response).
        explode: false
        in: path
        name: report_id
        required: true
        schema:
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_report_200_response'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_reports_401_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_report_404_response'
          description: Not found
      security:
      - basicAuth: []
      summary: Get status of report
      x-accepts:
      - application/json
  /v3/media/{file_id}:
    get:
      description: |
        Download a zipped archive of the rendered report. The file is available for download for 72 hours.<br> The zip file will be named `<PRODUCT>_<REPORT_ID>.zip`<br> The csv file in the zip archive will be named as `report_<PRODUCT>_<ACCOUNT_ID>_<DATE>.csv` the date will be formatted as `yyyyMMdd`.
      operationId: download-report
      parameters:
      - description: UUID of the file.
        explode: false
        in: path
        name: file_id
        required: true
        schema:
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/download_report_200_response'
          description: Zip file containing CSV files
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_reports_401_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_report_404_response'
          description: Not found
      security:
      - basicAuth: []
      summary: Get report data
      x-accepts:
      - application/json
      - application/octet-stream
components:
  parameters:
    account_id:
      description: The account for which the list of reports will be queried.
      example: abcd1234
      explode: true
      in: query
      name: account_id
      required: true
      schema:
        maxLength: 8
        minLength: 8
        type: string
      style: form
  responses:
    "401":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/list_reports_401_response'
      description: Unauthorized
    "403":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/create_async_report_403_response'
      description: Forbidden
    "404":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/get_report_404_response'
      description: Not found
    "409":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/cancel_report_409_response'
      description: Invalid Abort Operation
    "422":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/create_async_report_422_response'
      description: Unprocessable entity
    "400_json":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/create_async_report_400_response'
      description: Bad Request
    "400_params":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/list_reports_400_response'
      description: Bad Request
    csv_report_response:
      content:
        application/octet-stream:
          schema:
            $ref: '#/components/schemas/download_report_200_response'
      description: Zip file containing CSV files
    json_record_response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/get_records_200_response'
      description: OK
    list_report_response:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/list_reports_200_response'
      description: OK
    report_responses:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/get_report_200_response'
      description: OK
    report_responses_create_report:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/create_async_report_200_response'
      description: OK
  schemas:
    ASR:
      allOf:
      - $ref: '#/components/schemas/report_request'
      - $ref: '#/components/schemas/asr_fields'
      description: ASR
      x-tab-id: asr
    CONVERSATIONS:
      allOf:
      - $ref: '#/components/schemas/report_request'
      - $ref: '#/components/schemas/conversations_fields'
      description: Conversations
      x-tab-id: conversations
    IN-APP-VOICE:
      allOf:
      - $ref: '#/components/schemas/report_request'
      - $ref: '#/components/schemas/in_app_voice_fields'
      description: In App Voice
      x-tab-id: in-app-voice
    MESSAGES:
      allOf:
      - $ref: '#/components/schemas/report_request'
      - $ref: '#/components/schemas/messages_fields'
      description: Messages
      x-tab-id: messages
    NUMBER-INSIGHT:
      allOf:
      - $ref: '#/components/schemas/report_request'
      - $ref: '#/components/schemas/number_insight_fields'
      description: Number Insight
      x-tab-id: number-insight
    SMS:
      allOf:
      - $ref: '#/components/schemas/report_request'
      - $ref: '#/components/schemas/sms_fields'
      description: SMS
      x-tab-id: SMS
    VERIFY-API:
      allOf:
      - $ref: '#/components/schemas/report_request'
      - $ref: '#/components/schemas/verify_api_fields'
      description: Verify
      x-tab-id: verify
    VOICE-CALL:
      allOf:
      - $ref: '#/components/schemas/report_request'
      - $ref: '#/components/schemas/voice_call_fields'
      description: Voice Call
      x-tab-id: voice-call
    WEBSOCKET-CALL:
      allOf:
      - $ref: '#/components/schemas/report_request'
      - $ref: '#/components/schemas/websocket_call_fields'
      description: WebSocket Call
      x-tab-id: websocket-call
    _links:
      example:
        self:
          href: https://api.nexmo.com/v2/reports/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        download_report:
          href: https://api.nexmo.com/v3/media/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
      properties:
        download_report:
          $ref: '#/components/schemas/_links_download_report'
        self:
          $ref: '#/components/schemas/_links_self'
      type: object
    _links_create_report:
      example:
        self:
          href: https://api.nexmo.com/v2/reports/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
      properties:
        self:
          $ref: '#/components/schemas/_links_self'
      type: object
    account_id:
      description: "The account ID (API key) you wish to search for. This can differ\
        \ from the API key in the authorization header because some accounts can request\
        \ reports for other accounts, e.g. a primary account owner wants to create\
        \ a report for one of its subaccounts."
      example: abcdef01
      type: string
    account_ref:
      description: Search for messages with this `account_ref`.
      maxLength: 40
      minLength: 40
      type: string
    application_id:
      description: Search only for requests attached to a particular Application ID.
      type: string
    asr_fields:
      description: ASR
      properties:
        direction:
          $ref: '#/components/schemas/direction'
        from:
          description: Request from this number.
          example: "441234567890"
          type: string
        product:
          $ref: '#/components/schemas/product_asr'
        status:
          $ref: '#/components/schemas/asr_status'
        to:
          description: Request to this number.
          example: "441234567890"
          type: string
      type: object
      x-tab-id: asr
    asr_response_create_report:
      allOf:
      - $ref: '#/components/schemas/report_response_create_report'
      - $ref: '#/components/schemas/asr_fields'
      description: ASR
      x-tab-id: asr
    asr_response_get_report:
      allOf:
      - $ref: '#/components/schemas/report_response'
      - $ref: '#/components/schemas/asr_fields'
      description: ASR
      x-tab-id: asr
    asr_status:
      description: Search only for ASR with corresponding status.
      enum:
      - ok
      - error
      example: ok
      type: string
    asr_status_description:
      description: ASR error message.
      example: ""
      type: string
    call_conversation_id:
      description: Search only for In App Voive calls attached to this particular
        Conversation. This should include the "CON-" prefix.
      example: CON-abc123
      type: string
    call_end_date:
      description: Date of the end of the call.
      format: date
      type: string
    call_start_date:
      description: Date of the start of the call.
      format: date
      type: string
    callback_url:
      description: "URL to send a callback upon completion of the report. This POST\
        \ callback contains the same information as the response to [Get status of\
        \ report](/api/reports#get-report)."
      example: https://requestb.in/12345
      format: uri
      type: string
    cdr_id:
      description: Id of the related CDR.
      example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
      type: string
    client_ref:
      description: Search for messages with this `client_ref`.
      maxLength: 40
      minLength: 40
      type: string
    concatenated:
      default: false
      description: Whether the SMS was split up into multiple parts (due to its length).
      example: true
      type: boolean
    conversation_id:
      description: Search only for events sent to this particular Conversation. This
        should include the "CON-" prefix.
      example: CON-abc123
      type: string
    conversation_user_id:
      description: User id in the conversation.
      example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
      type: string
    conversations_fields:
      description: Conversations
      properties:
        conversation_id:
          description: Search only for events sent to this particular Conversation.
            This should include the "CON-" prefix.
          example: CON-abc123
          type: string
        product:
          $ref: '#/components/schemas/product_conversations'
        status:
          description: Search only for conversation events with the specified event
            status.
          example: "0"
          type: string
      type: object
      x-tab-id: conversations
    conversations_response_create_report:
      allOf:
      - $ref: '#/components/schemas/report_response_create_report'
      - $ref: '#/components/schemas/conversations_fields'
      description: Conversations
      x-tab-id: conversations
    conversations_response_get_report:
      allOf:
      - $ref: '#/components/schemas/report_response'
      - $ref: '#/components/schemas/conversations_fields'
      description: Conversations
      x-tab-id: conversations
    country:
      description: Country where the request was sent.
      example: FR
      type: string
    country_name:
      description: Country name where the request was sent.
      example: France
      type: string
    creation_date:
      description: Date the event was created.
      format: date
      type: string
    csv_asr:
      description: ASR
      properties:
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        call_date_start:
          description: Date of the start of the call.
          format: date
          type: string
        call_id:
          description: UUID of the request.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        currency:
          description: Currency of the price of the request.
          example: EUR
          type: string
        date_end:
          description: Date of the end of the call.
          format: date
          type: string
        date_start:
          description: Date of the start of the call.
          format: date
          type: string
        direction:
          $ref: '#/components/schemas/direction'
        duration:
          description: Duration of the call in seconds.
          example: 42
          type: integer
        from:
          description: Request from this number.
          example: "441234567890"
          type: string
        price:
          description: Price of the request.
          example: 0.042
          type: number
        status:
          $ref: '#/components/schemas/asr_status'
        status_description:
          description: ASR error message.
          example: ""
          type: string
        to:
          description: Request to this number.
          example: "441234567890"
          type: string
        total_price:
          description: Total price of the request.
          example: 0.042
          type: number
      type: object
      x-tab-id: asr
    csv_conversations:
      description: Conversations
      properties:
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        application_id:
          description: Search only for requests attached to a particular Application
            ID.
          type: string
        client_ref:
          description: Search for messages with this `client_ref`.
          maxLength: 40
          minLength: 40
          type: string
        conversation_id:
          description: Search only for events sent to this particular Conversation.
            This should include the "CON-" prefix.
          example: CON-abc123
          type: string
        creation_date:
          description: Date the event was created.
          format: date
          type: string
        currency:
          description: Currency of the price of the request.
          example: EUR
          type: string
        id:
          description: Id of the related CDR.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        price:
          description: Price of the request.
          example: 0.042
          type: number
        request_id:
          description: UUID of the request.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        total_price:
          description: Total price of the request.
          example: 0.042
          type: number
        user_id:
          description: User id in the conversation.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
      type: object
      x-tab-id: conversastions
    csv_in_app_voice:
      description: In App Voice
      properties:
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        application_id:
          description: Search only for requests attached to a particular Application
            ID.
          type: string
        client_ref:
          description: Search for messages with this `client_ref`.
          maxLength: 40
          minLength: 40
          type: string
        conversation_id:
          description: Search only for events sent to this particular Conversation.
            This should include the "CON-" prefix.
          example: CON-abc123
          type: string
        currency:
          description: Currency of the price of the request.
          example: EUR
          type: string
        date_end:
          description: Date of the end of the call.
          format: date
          type: string
        date_start:
          description: Date of the start of the call.
          format: date
          type: string
        duration:
          description: Duration of the call in seconds.
          example: 42
          type: integer
        id:
          description: Id of the related CDR.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        leg_id:
          description: Id of the call leg.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        price:
          description: Price of the request.
          example: 0.042
          type: number
        request_id:
          description: UUID of the request.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        status:
          description: Status of the termination of the In-App call.
          example: "200"
          type: string
        total_price:
          description: Total price of the request.
          example: 0.042
          type: number
        user_id:
          description: User id in the conversation.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
      type: object
      x-tab-id: in-app-voice
    csv_messages_inbound:
      description: Inbound Messages
      properties:
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        currency:
          description: Currency of the price of the request.
          example: EUR
          type: string
        date_received:
          description: Date of the request.
          format: date
          type: string
        direction:
          $ref: '#/components/schemas/direction'
        from:
          description: Request from this number.
          example: "441234567890"
          type: string
        message_body:
          description: Body of the message sent. Only present if include_message parameter
            is set to true.
          example: This is a text message
          type: string
        message_id:
          description: Id of the request.
          example: 0000000A
          type: string
        provider:
          description: Provider of the message.
          example: whatsapp
          type: string
        to:
          description: Request to this number.
          example: "441234567890"
          type: string
        total_price:
          description: Total price of the request.
          example: 0.042
          type: number
      type: object
      x-tab-id: inbound-messages
    csv_messages_outbound:
      description: Outbound Messages
      properties:
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        client_ref:
          description: Search for messages with this `client_ref`.
          maxLength: 40
          minLength: 40
          type: string
        country:
          description: Country where the request was sent.
          example: FR
          type: string
        country_name:
          description: Country name where the request was sent.
          example: France
          type: string
        currency:
          description: Currency of the price of the request.
          example: EUR
          type: string
        date_finalized:
          description: Date when the request was finalized.
          format: date
          type: string
        date_received:
          description: Date of the request.
          format: date
          type: string
        direction:
          $ref: '#/components/schemas/direction'
        error_code:
          description: Error code of the message.
          example: "1300"
          type: string
        from:
          description: Request from this number.
          example: "441234567890"
          type: string
        latency:
          description: Latency of the request in ms.
          example: 42
          type: integer
        message_body:
          description: Body of the message sent. Only present if include_message parameter
            is set to true.
          example: This is a text message
          type: string
        message_id:
          description: Id of the request.
          example: 0000000A
          type: string
        provider:
          description: Provider of the message.
          example: whatsapp
          type: string
        status:
          description: Status of the message.
          example: submitted
          type: string
        to:
          description: Request to this number.
          example: "441234567890"
          type: string
        total_price:
          description: Total price of the request.
          example: 0.042
          type: number
      type: object
      x-tab-id: outbound-messages
    csv_ni:
      description: Number Insight
      properties:
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        country:
          description: Country of the looked up number.
          example: mobile
          type: string
        country_name:
          description: Country name of the looked up number.
          example: mobile
          type: string
        currency:
          description: Currency of the price of the request.
          example: EUR
          type: string
        date_received:
          description: Date of the request.
          format: date
          type: string
        first_name:
          description: First name of the owner of the looked up number.
          example: valid
          type: string
        last_name:
          description: Last name of the owner of the looked up number.
          example: valid
          type: string
        network:
          description: Network of the looked up number.
          example: "23415"
          type: string
        network_name:
          description: Network name of the looked up number.
          example: Vodafone Limited
          type: string
        network_type:
          description: Network type of the looked up number.
          example: mobile
          type: string
        number:
          description: Number looked up for this request.
          example: HLR-LOOKUP
          type: string
        ported:
          description: Is the looked up number ported.
          example: ported
          type: string
        product_type:
          description: Type of Number Insight request.
          example: HLR-LOOKUP
          type: string
        reachable:
          description: Is the looked up number reachable.
          example: reachable
          type: string
        request_id:
          description: UUID of the request.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        response_code:
          description: Response code of the Number Insight request.
          example: "0"
          type: string
        status:
          description: Status of the Number Insight request.
          example: Success
          type: string
        total_price:
          description: Total price of the request.
          example: 0.042
          type: number
        valid:
          description: Is the looked up number valid.
          example: valid
          type: string
      type: object
      x-tab-id: number-insight
    csv_sms_inbound:
      description: Inbound SMS
      properties:
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        country:
          description: Country where the request was sent.
          example: FR
          type: string
        country_name:
          description: Country name where the request was sent.
          example: France
          type: string
        currency:
          description: Currency of the price of the request.
          example: EUR
          type: string
        date_received:
          description: Date of the request.
          format: date
          type: string
        direction:
          $ref: '#/components/schemas/direction'
        from:
          description: Request from this number.
          example: "441234567890"
          type: string
        message_body:
          description: Body of the message sent. Only present if include_message parameter
            is set to true.
          example: This is a text message
          type: string
        message_id:
          description: Id of the request.
          example: 0000000A
          type: string
        network:
          description: Network used to send the request.
          example: "23415"
          type: string
        network_name:
          description: Name of the network used to send the request.
          example: Vodafone Limited
          type: string
        to:
          description: Request to this number.
          example: "441234567890"
          type: string
        total_price:
          description: Price of the request.
          example: 0.042
          type: number
      type: object
      x-tab-id: inbound-sms
    csv_sms_outbound:
      description: Outbound SMS
      properties:
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        client_ref:
          description: Search for messages with this `client_ref`.
          maxLength: 40
          minLength: 40
          type: string
        country:
          description: Country where the request was sent.
          example: FR
          type: string
        country_name:
          description: Country name where the request was sent.
          example: France
          type: string
        currency:
          description: Currency of the price of the request.
          example: EUR
          type: string
        date_finalized:
          description: Date when the request was finalized.
          format: date
          type: string
        date_received:
          description: Date of the request.
          format: date
          type: string
        direction:
          $ref: '#/components/schemas/direction'
        error_code:
          description: Error code of the request.
          example: "0"
          type: string
        error_code_description:
          description: Description of the error code of the request.
          example: Delivered
          type: string
        from:
          description: Request from this number.
          example: "441234567890"
          type: string
        latency:
          description: Latency of the request in ms.
          example: 42
          type: integer
        message_body:
          description: Body of the message sent. Only present if include_message parameter
            is set to true.
          example: This is a text message
          type: string
        message_id:
          description: Id of the request.
          example: 0000000A
          type: string
        network:
          description: Network used to send the request.
          example: "23415"
          type: string
        network_name:
          description: Name of the network used to send the request.
          example: Vodafone Limited
          type: string
        status:
          $ref: '#/components/schemas/sms_status'
        to:
          description: Request to this number.
          example: "441234567890"
          type: string
        total_price:
          description: Price of the request.
          example: 0.042
          type: number
      type: object
      x-tab-id: outbound-sms
    csv_verify:
      description: Verify
      properties:
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        country:
          description: Country where the request was sent.
          example: FR
          type: string
        country_name:
          description: Country name where the request was sent.
          example: France
          type: string
        currency:
          description: Currency of the price of the request.
          example: EUR
          type: string
        date_finalized:
          description: Date when the request was finalized.
          format: date
          type: string
        date_received:
          description: Date of the request.
          format: date
          type: string
        estimated_price:
          description: Estimated price of the verify request.
          example: "0.042"
          type: string
        first_event_date:
          description: Date of the first verify event.
          format: date
          type: string
        from:
          description: Request from this number.
          example: "441234567890"
          type: string
        last_event_date:
          description: Date of the last verify event.
          format: date
          type: string
        locale:
          description: Locale used for the TTS.
          example: en-gb
          type: string
        network:
          description: Network used to send the request.
          example: "23415"
          type: string
        network_name:
          description: Name of the network used to send the request.
          example: Vodafone Limited
          type: string
        number_type:
          description: Type of phone number to which requests are sent.
          example: MOBILE
          type: string
        price:
          description: Price of the request.
          example: 0.042
          type: number
        pricing_model:
          description: Pricing model used for this request.
          example: "0"
          type: string
        request_id:
          description: UUID of the request.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        sms_event_count:
          description: Number of sms sent for this verify request.
          example: 1
          type: integer
        to:
          description: Request to this number.
          example: "441234567890"
          type: string
        tts_event_count:
          description: Number of tts sent for this verify request.
          example: 1
          type: integer
        verify_status:
          description: Status of the verify request.
          example: SUCCESS
          type: string
      type: object
      x-tab-id: verify
    csv_voice:
      description: Voice Call
      properties:
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        call_id:
          description: UUID of the request.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        country:
          description: Country where the request was sent.
          example: FR
          type: string
        country_name:
          description: Country name where the request was sent.
          example: France
          type: string
        currency:
          description: Currency of the price of the request.
          example: EUR
          type: string
        date_end:
          description: Date of the end of the call.
          format: date
          type: string
        date_start:
          description: Date of the start of the call.
          format: date
          type: string
        direction:
          $ref: '#/components/schemas/direction'
        duration:
          description: Duration of the call in seconds.
          example: 42
          type: integer
        from:
          description: Request from this number.
          example: "441234567890"
          type: string
        network:
          description: Network used to send the request.
          example: "23415"
          type: string
        network_name:
          description: Name of the network used to send the request.
          example: Vodafone Limited
          type: string
        price:
          description: Price of the request.
          example: 0.042
          type: number
        status:
          $ref: '#/components/schemas/voice_status'
        status_description:
          description: Description of the status of the call.
          example: The call was successful.
          type: string
        to:
          description: Request to this number.
          example: "441234567890"
          type: string
        total_price:
          description: Total price of the request.
          example: 0.042
          type: number
      type: object
      x-tab-id: voice-call
    csv_websockets:
      description: WebSocket Call
      properties:
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        call_id:
          description: UUID of the request.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        currency:
          description: Currency of the price of the request.
          example: EUR
          type: string
        date_end:
          description: Date of the end of the call.
          format: date
          type: string
        date_start:
          description: Date of the start of the call.
          format: date
          type: string
        duration:
          description: Duration of the call in seconds.
          example: 42
          type: integer
        price:
          description: Price of the request.
          example: 0.042
          type: number
        status:
          description: Search only for WebSocket call with corresponding status.
          example: "200"
          type: string
        total_price:
          description: Total price of the request.
          example: 0.042
          type: number
      type: object
      x-tab-id: websocket-call
    currency:
      description: Currency of the price of the request.
      example: EUR
      type: string
    date:
      description: Date of the request.
      format: date
      type: string
    date_end:
      description: |
        ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when report should end.  It is exclusive, i.e. the provided value is strictly greater than the value in the field `date_received` in the CDR. <br>If unspecified, defaults to the current time.
      format: date
      type: string
    date_finalized:
      description: Date when the request was finalized.
      format: date
      type: string
    date_start:
      description: |
        ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when reports  should begin. It filters on the time the API call was received by Vonage and corresponds to the field `date_received` (`date_start` for Voice) in the report file. It is inclusive, i.e. the provided value is less than or equal to the value in the field `date_received` (`date_start` for Voice) in the CDR.<br>If unspecified, defaults  to seven days ago.
      format: date
      type: string
    direction:
      description: "Direction of the communication, either `inbound` (received by\
        \ our services), or `outbound` (originated from our services). Required for\
        \ products `SMS` and `MESSAGES`. Optional for `VOICE-CALL`. Invalid for `IN-APP-VOICE`,\
        \ `CONVERSATIONS`, `NUMBER-INSIGHT`, `VERIFY-API`."
      enum:
      - inbound
      - outbound
      example: outbound
      type: string
    duration:
      description: Duration of the call in seconds.
      example: 42
      type: integer
    error_code:
      description: Error code of the request.
      example: "0"
      type: string
    error_code_description:
      description: Description of the error code of the request.
      example: Delivered
      type: string
    estimated_price:
      description: Estimated price of the verify request.
      example: "0.042"
      type: string
    file_id:
      description: Id of the generated report file.
      example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
      type: string
    first_event_date:
      description: Date of the first verify event.
      format: date
      type: string
    from:
      description: Request from this number.
      example: "441234567890"
      type: string
    id:
      description: Search only messages with the specified uuid.
      example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
      type: string
    ids_not_found:
      description: "If you request multiple records using a comma-separated list of\
        \ UUIDs, then the UUIDs of any records not found are listed in this field."
      example: "7b10a0c2-1a05-11eb-bad9-38f9d331649,7b1091b8-1a05-11eb-bad9-38f9d331493"
      type: string
    in_app_voice_fields:
      description: In App Voice
      properties:
        conversation_id:
          description: Search only for In App Voive calls attached to this particular
            Conversation. This should include the "CON-" prefix.
          example: CON-abc123
          type: string
        product:
          $ref: '#/components/schemas/product_in_app_voice'
      type: object
      x-tab-id: in-app-voice
    in_app_voice_response_create_report:
      allOf:
      - $ref: '#/components/schemas/report_response_create_report'
      - $ref: '#/components/schemas/in_app_voice_fields'
      description: In App Voice
      x-tab-id: in-app-voice
    in_app_voice_response_get_report:
      allOf:
      - $ref: '#/components/schemas/report_response'
      - $ref: '#/components/schemas/in_app_voice_fields'
      description: In App Voice
      x-tab-id: in-app-voice
    include_message:
      default: false
      description: Include the text of messages in the report.
      example: true
      type: boolean
    include_subaccounts:
      default: false
      description: Whether to include subaccounts or not.
      example: false
      type: boolean
    instance:
      example: f94b4e56604e07e5e5ad5a7228618f81
      type: string
    ip_voice_leg_id:
      description: Id of the call leg.
      example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
      type: string
    ip_voice_status:
      description: Status of the termination of the In-App call.
      example: "200"
      type: string
    items_count:
      description: The number of rows in the resulting file (when report has been
        completed).
      type: integer
    json_sms_inbound:
      description: Inbound SMS
      properties:
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        country:
          description: Country where the request was sent.
          example: FR
          type: string
        country_name:
          description: Country name where the request was sent.
          example: France
          type: string
        currency:
          description: Currency of the price of the request.
          example: EUR
          type: string
        date_received:
          description: Date of the request.
          format: date
          type: string
        direction:
          allOf:
          - $ref: '#/components/schemas/direction'
          - example: inbound
        from:
          description: Request from this number.
          example: "441234567890"
          type: string
        message_id:
          description: Id of the request.
          example: 0000000A
          type: string
        network:
          description: Network used to send the request.
          example: "23415"
          type: string
        network_name:
          description: Name of the network used to send the request.
          example: Vodafone Limited
          type: string
        to:
          description: Request to this number.
          example: "441234567890"
          type: string
        total_price:
          description: Price of the request.
          example: 0.042
          type: number
      type: object
      x-tab-id: inbound-sms
    json_sms_inbound_with_body:
      allOf:
      - $ref: '#/components/schemas/json_sms_inbound'
      - properties:
          message_body:
            $ref: '#/components/schemas/message_body'
    json_sms_outbound:
      description: Outbound SMS
      properties:
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        client_ref:
          description: Search for messages with this `client_ref`.
          maxLength: 40
          minLength: 40
          type: string
        concatenated:
          default: false
          description: Whether the SMS was split up into multiple parts (due to its
            length).
          example: true
          type: boolean
        country:
          description: Country where the request was sent.
          example: FR
          type: string
        country_name:
          description: Country name where the request was sent.
          example: France
          type: string
        currency:
          description: Currency of the price of the request.
          example: EUR
          type: string
        date_finalized:
          description: Date when the request was finalized.
          format: date
          type: string
        date_received:
          description: Date of the request.
          format: date
          type: string
        direction:
          $ref: '#/components/schemas/direction'
        error_code:
          description: Error code of the request.
          example: "0"
          type: string
        error_code_description:
          description: Description of the error code of the request.
          example: Delivered
          type: string
        from:
          description: Request from this number.
          example: "441234567890"
          type: string
        latency:
          description: Latency of the request in ms.
          example: 42
          type: integer
        message_id:
          description: Id of the request.
          example: 0000000A
          type: string
        network:
          description: Network used to send the request.
          example: "23415"
          type: string
        network_name:
          description: Name of the network used to send the request.
          example: Vodafone Limited
          type: string
        status:
          $ref: '#/components/schemas/sms_status'
        to:
          description: Request to this number.
          example: "441234567890"
          type: string
        total_price:
          description: Price of the request.
          example: 0.042
          type: number
      type: object
      x-tab-id: outbound-sms
    json_sms_outbound_with_body:
      allOf:
      - $ref: '#/components/schemas/json_sms_outbound'
      - properties:
          message_body:
            $ref: '#/components/schemas/message_body'
      example:
        country: FR
        total_price: 0.042
        client_ref: client_ref
        latency: 42
        network_name: Vodafone Limited
        message_id: 0000000A
        date_finalized: 2000-01-23
        network: "23415"
        error_code_description: Delivered
        account_id: abcdef01
        concatenated: true
        message_body: This is a text message
        country_name: France
        currency: EUR
        error_code: "0"
        from: "441234567890"
        date_received: 2000-01-23
        to: "441234567890"
        direction: outbound
        status: delivered
    last_event_date:
      description: Date of the last verify event.
      format: date
      type: string
    latency:
      description: Latency of the request in ms.
      example: 42
      type: integer
    locale:
      description: Locale used for the TTS.
      example: en-gb
      type: string
    message_body:
      description: Body of the message sent. Only present if include_message parameter
        is set to true.
      example: This is a text message
      type: string
    message_id:
      description: Id of the request.
      example: 0000000A
      type: string
    messages_error_code:
      description: Error code of the message.
      example: "1300"
      type: string
    messages_fields:
      description: Messages
      properties:
        direction:
          $ref: '#/components/schemas/direction'
        from:
          description: Request from this number.
          example: "441234567890"
          type: string
        id:
          description: Search only messages with the specified uuid.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        include_message:
          default: false
          description: Include the text of messages in the report.
          example: true
          type: boolean
        product:
          $ref: '#/components/schemas/product_messages'
        to:
          description: Request to this number.
          example: "441234567890"
          type: string
      required:
      - account_id
      - direction
      - product
      type: object
      x-tab-id: messages
    messages_provider:
      description: Provider of the message.
      example: whatsapp
      type: string
    messages_response_create_report:
      allOf:
      - $ref: '#/components/schemas/report_response_create_report'
      - $ref: '#/components/schemas/messages_fields'
      description: Messages
      x-tab-id: messages
    messages_response_get_report:
      allOf:
      - $ref: '#/components/schemas/report_response'
      - $ref: '#/components/schemas/messages_fields'
      description: Messages
      x-tab-id: messages
    messages_status:
      description: Status of the message.
      example: submitted
      type: string
    network:
      description: Network used to send the request.
      example: "23415"
      type: string
    network_name:
      description: Name of the network used to send the request.
      example: Vodafone Limited
      type: string
    ni_country:
      description: Country of the looked up number.
      example: mobile
      type: string
    ni_country_name:
      description: Country name of the looked up number.
      example: mobile
      type: string
    ni_first_name:
      description: First name of the owner of the looked up number.
      example: valid
      type: string
    ni_last_name:
      description: Last name of the owner of the looked up number.
      example: valid
      type: string
    ni_network:
      description: Network of the looked up number.
      example: "23415"
      type: string
    ni_network_name:
      description: Network name of the looked up number.
      example: Vodafone Limited
      type: string
    ni_network_type:
      description: Network type of the looked up number.
      example: mobile
      type: string
    ni_number:
      description: Number looked up for this request.
      example: HLR-LOOKUP
      type: string
    ni_ported:
      description: Is the looked up number ported.
      example: ported
      type: string
    ni_product_type:
      description: Type of Number Insight request.
      example: HLR-LOOKUP
      type: string
    ni_reachable:
      description: Is the looked up number reachable.
      example: reachable
      type: string
    ni_response_code:
      description: Response code of the Number Insight request.
      example: "0"
      type: string
    ni_status:
      description: Status of the Number Insight request.
      example: Success
      type: string
    ni_valid:
      description: Is the looked up number valid.
      example: valid
      type: string
    number:
      description: Search only request for the target number.
      example: "441234567890"
      type: string
    number_insight_fields:
      description: Number Insight
      properties:
        network:
          description: Network used to send the request.
          example: "23415"
          type: string
        number:
          description: Search only request for the target number.
          example: "441234567890"
          type: string
        product:
          $ref: '#/components/schemas/product_ni'
      type: object
      x-tab-id: number-insight
    number_insight_response_create_report:
      allOf:
      - $ref: '#/components/schemas/report_response_create_report'
      - $ref: '#/components/schemas/number_insight_fields'
      description: Number Insight
      x-tab-id: number-insight
    number_insight_response_get_report:
      allOf:
      - $ref: '#/components/schemas/report_response'
      - $ref: '#/components/schemas/number_insight_fields'
      description: Number Insight
      x-tab-id: number-insight
    number_type:
      description: Type of phone number to which requests are sent.
      example: MOBILE
      type: string
    price:
      description: Price of the request.
      example: 0.042
      type: number
    pricing_model:
      description: Pricing model used for this request.
      example: "0"
      type: string
    product:
      description: Which product you wish to generate a report for.
      enum:
      - SMS
      - VOICE-CALL
      - IN-APP-VOICE
      - WEBSOCKET-CALL
      - VERIFY-API
      - NUMBER-INSIGHT
      - MESSAGES
      - CONVERSATIONS
      - ASR
      example: SMS
      type: string
    product_asr:
      description: Which product you wish to generate a report for.
      enum:
      - SMS
      - VOICE-CALL
      - IN-APP-VOICE
      - WEBSOCKET-CALL
      - VERIFY-API
      - NUMBER-INSIGHT
      - MESSAGES
      - CONVERSATIONS
      - ASR
      example: ASR
      type: string
    product_conversations:
      description: Which product you wish to generate a report for.
      enum:
      - SMS
      - VOICE-CALL
      - IN-APP-VOICE
      - WEBSOCKET-CALL
      - VERIFY-API
      - NUMBER-INSIGHT
      - MESSAGES
      - CONVERSATIONS
      - ASR
      example: CONVERSATIONS
      type: string
    product_in_app_voice:
      description: Which product you wish to generate a report for.
      enum:
      - SMS
      - VOICE-CALL
      - IN-APP-VOICE
      - WEBSOCKET-CALL
      - VERIFY-API
      - NUMBER-INSIGHT
      - MESSAGES
      - CONVERSATIONS
      - ASR
      example: IN-APP-VOICE
      type: string
    product_messages:
      description: Which product you wish to generate a report for.
      enum:
      - SMS
      - VOICE-CALL
      - IN-APP-VOICE
      - VERIFY-API
      - NUMBER-INSIGHT
      - MESSAGES
      - CONVERSATIONS
      - ASR
      example: MESSAGES
      type: string
    product_ni:
      description: Which product you wish to generate a report for.
      enum:
      - SMS
      - VOICE-CALL
      - IN-APP-VOICE
      - WEBSOCKET-CALL
      - VERIFY-API
      - NUMBER-INSIGHT
      - MESSAGES
      - CONVERSATIONS
      - ASR
      example: NUMBER-INSIGHT
      type: string
    product_sms:
      description: Which product you wish to generate a report for.
      enum:
      - SMS
      - VOICE-CALL
      - IN-APP-VOICE
      - WEBSOCKET-CALL
      - VERIFY-API
      - NUMBER-INSIGHT
      - MESSAGES
      - CONVERSATIONS
      - ASR
      example: SMS
      type: string
    product_verify:
      description: Which product you wish to generate a report for.
      enum:
      - SMS
      - VOICE-CALL
      - IN-APP-VOICE
      - WEBSOCKET-CALL
      - VERIFY-API
      - NUMBER-INSIGHT
      - MESSAGES
      - CONVERSATIONS
      - ASR
      example: VERIFY-API
      type: string
    product_voice:
      description: Which product you wish to generate a report for.
      enum:
      - SMS
      - VOICE-CALL
      - IN-APP-VOICE
      - WEBSOCKET-CALL
      - VERIFY-API
      - NUMBER-INSIGHT
      - MESSAGES
      - CONVERSATIONS
      - ASR
      example: VOICE-CALL
      type: string
    product_websocket:
      description: Which product you wish to generate a report for.
      enum:
      - SMS
      - VOICE-CALL
      - IN-APP-VOICE
      - WEBSOCKET-CALL
      - VERIFY-API
      - NUMBER-INSIGHT
      - MESSAGES
      - CONVERSATIONS
      - ASR
      example: WEBSOCKET-CALL
      type: string
    receive_time:
      description: Time at which the report request was received by the service.
      format: date
      type: string
    report_request:
      discriminator:
        propertyName: product
      properties:
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        callback_url:
          description: "URL to send a callback upon completion of the report. This\
            \ POST callback contains the same information as the response to [Get\
            \ status of report](/api/reports#get-report)."
          example: https://requestb.in/12345
          format: uri
          type: string
        date_end:
          description: |
            ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when report should end.  It is exclusive, i.e. the provided value is strictly greater than the value in the field `date_received` in the CDR. <br>If unspecified, defaults to the current time.
          format: date
          type: string
        date_start:
          description: |
            ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when reports  should begin. It filters on the time the API call was received by Vonage and corresponds to the field `date_received` (`date_start` for Voice) in the report file. It is inclusive, i.e. the provided value is less than or equal to the value in the field `date_received` (`date_start` for Voice) in the CDR.<br>If unspecified, defaults  to seven days ago.
          format: date
          type: string
        include_subaccounts:
          default: false
          description: Whether to include subaccounts or not.
          example: false
          type: boolean
        product:
          $ref: '#/components/schemas/product'
      required:
      - account_id
      - product
      type: object
    report_response:
      properties:
        _links:
          $ref: '#/components/schemas/_links'
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        callback_url:
          description: "URL to send a callback upon completion of the report. This\
            \ POST callback contains the same information as the response to [Get\
            \ status of report](/api/reports#get-report)."
          example: https://requestb.in/12345
          format: uri
          type: string
        date_end:
          description: |
            ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when report should end.  It is exclusive, i.e. the provided value is strictly greater than the value in the field `date_received` in the CDR. <br>If unspecified, defaults to the current time.
          format: date
          type: string
        date_start:
          description: |
            ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when reports  should begin. It filters on the time the API call was received by Vonage and corresponds to the field `date_received` (`date_start` for Voice) in the report file. It is inclusive, i.e. the provided value is less than or equal to the value in the field `date_received` (`date_start` for Voice) in the CDR.<br>If unspecified, defaults  to seven days ago.
          format: date
          type: string
        include_subaccounts:
          default: false
          description: Whether to include subaccounts or not.
          example: false
          type: boolean
        items_count:
          description: The number of rows in the resulting file (when report has been
            completed).
          type: integer
        product:
          $ref: '#/components/schemas/product'
        receive_time:
          description: Time at which the report request was received by the service.
          format: date
          type: string
        request_id:
          description: UUID of the request.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        request_status:
          $ref: '#/components/schemas/request_status'
        start_time:
          description: Time at which the report processing of the report has started.
          format: date
          type: string
      type: object
    report_response_create_report:
      properties:
        _links:
          $ref: '#/components/schemas/_links_create_report'
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        callback_url:
          description: "URL to send a callback upon completion of the report. This\
            \ POST callback contains the same information as the response to [Get\
            \ status of report](/api/reports#get-report)."
          example: https://requestb.in/12345
          format: uri
          type: string
        date_end:
          description: |
            ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when report should end.  It is exclusive, i.e. the provided value is strictly greater than the value in the field `date_received` in the CDR. <br>If unspecified, defaults to the current time.
          format: date
          type: string
        date_start:
          description: |
            ISO-8601 extended time zone offset or ISO-8601 UTC zone offset formatted date (format `yyyy-mm-ddThh:mm:ss[.sss]±hh:mm` or `yyyy-mm-ddThh:mm:ss[.sss]Z`) for when reports  should begin. It filters on the time the API call was received by Vonage and corresponds to the field `date_received` (`date_start` for Voice) in the report file. It is inclusive, i.e. the provided value is less than or equal to the value in the field `date_received` (`date_start` for Voice) in the CDR.<br>If unspecified, defaults  to seven days ago.
          format: date
          type: string
        include_subaccounts:
          default: false
          description: Whether to include subaccounts or not.
          example: false
          type: boolean
        product:
          $ref: '#/components/schemas/product'
        receive_time:
          description: Time at which the report request was received by the service.
          format: date
          type: string
        request_id:
          description: UUID of the request.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        request_status:
          $ref: '#/components/schemas/request_status_create_report'
        start_time:
          description: Time at which the report processing of the report has started.
          format: date
          type: string
      type: object
    report_response_top_level:
      properties:
        _links:
          $ref: '#/components/schemas/report_response_top_level__links'
        account_id:
          description: "The account ID (API key) you wish to search for. This can\
            \ differ from the API key in the authorization header because some accounts\
            \ can request reports for other accounts, e.g. a primary account owner\
            \ wants to create a report for one of its subaccounts."
          example: abcdef01
          type: string
        currency:
          description: Currency of the price of the request.
          example: EUR
          type: string
        ids_not_found:
          description: "If you request multiple records using a comma-separated list\
            \ of UUIDs, then the UUIDs of any records not found are listed in this\
            \ field."
          example: "7b10a0c2-1a05-11eb-bad9-38f9d331649,7b1091b8-1a05-11eb-bad9-38f9d331493"
          type: string
        price:
          description: Price of the request.
          example: 0.042
          type: number
        received_at:
          description: Time at which the report request was received by the service.
          format: date
          type: string
        request_id:
          description: UUID of the request.
          example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          type: string
        request_status:
          $ref: '#/components/schemas/request_status'
      type: object
    request_id:
      description: UUID of the request.
      example: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
      type: string
    request_status:
      description: Status of the request.
      enum:
      - PENDING
      - PROCESSING
      - SUCCESS
      - ABORTED
      - FAILED
      - TRUNCATED
      example: SUCCESS
      type: string
    request_status_create_report:
      description: Status of the request.
      enum:
      - PENDING
      - PROCESSING
      - SUCCESS
      - ABORTED
      - FAILED
      - TRUNCATED
      example: PENDING
      type: string
    show_concatenated:
      default: false
      description: Indicates whether the SMS was split up into multiple parts (due
        to its length).
      example: false
      type: boolean
    sms_event_count:
      description: Number of sms sent for this verify request.
      example: 1
      type: integer
    sms_fields:
      description: SMS
      properties:
        account_ref:
          description: Search for messages with this `account_ref`.
          maxLength: 40
          minLength: 40
          type: string
        client_ref:
          description: Search for messages with this `client_ref`.
          maxLength: 40
          minLength: 40
          type: string
        direction:
          $ref: '#/components/schemas/direction'
        from:
          description: Request from this number.
          example: "441234567890"
          type: string
        include_message:
          default: false
          description: Include the text of messages in the report.
          example: true
          type: boolean
        network:
          description: Network used to send the request.
          example: "23415"
          type: string
        product:
          $ref: '#/components/schemas/product_sms'
        show_concatenated:
          default: false
          description: Indicates whether the SMS was split up into multiple parts
            (due to its length).
          example: false
          type: boolean
        status:
          $ref: '#/components/schemas/sms_status'
        to:
          description: Request to this number.
          example: "441234567890"
          type: string
      required:
      - account_id
      - direction
      - product
      type: object
      x-tab-id: SMS
    sms_response_create_report:
      allOf:
      - $ref: '#/components/schemas/report_response_create_report'
      - $ref: '#/components/schemas/sms_fields'
      description: SMS
      example:
        request_status: PENDING
        product: SMS
        account_ref: account_ref
        _links:
          self:
            href: https://api.nexmo.com/v2/reports/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        client_ref: client_ref
        receive_time: 2000-01-23
        include_message: true
        date_end: 2000-01-23
        network: "23415"
        callback_url: https://requestb.in/12345
        start_time: 2000-01-23
        date_start: 2000-01-23
        account_id: abcdef01
        show_concatenated: false
        from: "441234567890"
        to: "441234567890"
        request_id: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        include_subaccounts: false
        direction: outbound
        status: delivered
      x-tab-id: SMS
    sms_response_get_report:
      allOf:
      - $ref: '#/components/schemas/report_response'
      - $ref: '#/components/schemas/sms_fields'
      description: SMS
      example:
        request_status: SUCCESS
        product: SMS
        account_ref: account_ref
        _links:
          self:
            href: https://api.nexmo.com/v2/reports/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          download_report:
            href: https://api.nexmo.com/v3/media/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        client_ref: client_ref
        receive_time: 2000-01-23
        include_message: true
        date_end: 2000-01-23
        network: "23415"
        callback_url: https://requestb.in/12345
        start_time: 2000-01-23
        date_start: 2000-01-23
        account_id: abcdef01
        items_count: 6
        show_concatenated: false
        from: "441234567890"
        to: "441234567890"
        request_id: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        include_subaccounts: false
        direction: outbound
        status: delivered
      x-tab-id: SMS
    sms_status:
      description: Search only for sms with the corresponding status.
      enum:
      - delivered
      - expired
      - failed
      - rejected
      - accepted
      - buffered
      - unknown
      example: delivered
      type: string
    start_time:
      description: Time at which the report processing of the report has started.
      format: date
      type: string
    status:
      description: Search only for conversation events with the specified event status.
      example: "0"
      type: string
    to:
      description: Request to this number.
      example: "441234567890"
      type: string
    total_price:
      description: Total price of the request.
      example: 0.042
      type: number
    tts_event_count:
      description: Number of tts sent for this verify request.
      example: 1
      type: integer
    verify_api_fields:
      description: Verify
      properties:
        network:
          description: Network used to send the request.
          example: "23415"
          type: string
        product:
          $ref: '#/components/schemas/product_verify'
        to:
          description: Request to this number.
          example: "441234567890"
          type: string
      type: object
      x-tab-id: verify
    verify_api_response_create_report:
      allOf:
      - $ref: '#/components/schemas/report_response_create_report'
      - $ref: '#/components/schemas/verify_api_fields'
      description: Verify
      x-tab-id: verify
    verify_api_response_get_report:
      allOf:
      - $ref: '#/components/schemas/report_response'
      - $ref: '#/components/schemas/verify_api_fields'
      description: Verify
      x-tab-id: verify
    verify_status:
      description: Status of the verify request.
      example: SUCCESS
      type: string
    voice_call_fields:
      description: Voice Call
      properties:
        direction:
          $ref: '#/components/schemas/direction'
        from:
          description: Request from this number.
          example: "441234567890"
          type: string
        network:
          description: Network used to send the request.
          example: "23415"
          type: string
        product:
          $ref: '#/components/schemas/product_voice'
        status:
          $ref: '#/components/schemas/voice_status'
        to:
          description: Request to this number.
          example: "441234567890"
          type: string
      type: object
      x-tab-id: voice-call
    voice_call_response_create_report:
      allOf:
      - $ref: '#/components/schemas/report_response_create_report'
      - $ref: '#/components/schemas/voice_call_fields'
      description: Voice Call
      x-tab-id: voice-call
    voice_call_response_get_report:
      allOf:
      - $ref: '#/components/schemas/report_response'
      - $ref: '#/components/schemas/voice_call_fields'
      description: Voice Call
      x-tab-id: voice-call
    voice_status:
      description: Search only for voice call with the corresponding status.
      enum:
      - answered
      - machine
      - error
      - failed
      example: started
      type: string
    voice_status_description:
      description: Description of the status of the call.
      example: The call was successful.
      type: string
    websocket_call_fields:
      description: WebSocket Call
      properties:
        product:
          $ref: '#/components/schemas/product_websocket'
        status:
          description: Search only for WebSocket call with corresponding status.
          example: "200"
          type: string
      type: object
      x-tab-id: websocket-call
    websocket_call_response_create_report:
      allOf:
      - $ref: '#/components/schemas/report_response_create_report'
      - $ref: '#/components/schemas/websocket_call_fields'
      description: WebSocket Call
      x-tab-id: websocket-call
    websocket_call_response_get_report:
      allOf:
      - $ref: '#/components/schemas/report_response'
      - $ref: '#/components/schemas/websocket_call_fields'
      description: WebSocket Call
      x-tab-id: websocket-call
    websocket_status:
      description: Search only for WebSocket call with corresponding status.
      example: "200"
      type: string
    list_reports_200_response_reports_inner:
      anyOf:
      - $ref: '#/components/schemas/sms_response_get_report'
      - $ref: '#/components/schemas/voice_call_response_get_report'
      - $ref: '#/components/schemas/in_app_voice_response_get_report'
      - $ref: '#/components/schemas/websocket_call_response_get_report'
      - $ref: '#/components/schemas/verify_api_response_get_report'
      - $ref: '#/components/schemas/number_insight_response_get_report'
      - $ref: '#/components/schemas/messages_response_get_report'
      - $ref: '#/components/schemas/conversations_response_get_report'
      - $ref: '#/components/schemas/asr_response_get_report'
      type: object
    list_reports_200_response:
      example:
        reports:
        - request_status: SUCCESS
          product: SMS
          account_ref: account_ref
          _links:
            self:
              href: https://api.nexmo.com/v2/reports/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
            download_report:
              href: https://api.nexmo.com/v3/media/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          client_ref: client_ref
          receive_time: 2000-01-23
          include_message: true
          date_end: 2000-01-23
          network: "23415"
          callback_url: https://requestb.in/12345
          start_time: 2000-01-23
          date_start: 2000-01-23
          account_id: abcdef01
          items_count: 6
          show_concatenated: false
          from: "441234567890"
          to: "441234567890"
          request_id: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          include_subaccounts: false
          direction: outbound
          status: delivered
        - request_status: SUCCESS
          product: SMS
          account_ref: account_ref
          _links:
            self:
              href: https://api.nexmo.com/v2/reports/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
            download_report:
              href: https://api.nexmo.com/v3/media/aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          client_ref: client_ref
          receive_time: 2000-01-23
          include_message: true
          date_end: 2000-01-23
          network: "23415"
          callback_url: https://requestb.in/12345
          start_time: 2000-01-23
          date_start: 2000-01-23
          account_id: abcdef01
          items_count: 6
          show_concatenated: false
          from: "441234567890"
          to: "441234567890"
          request_id: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
          include_subaccounts: false
          direction: outbound
          status: delivered
        items_count: 0
        self_link: https://api.nexmo.com/v2/reports/
      properties:
        items_count:
          description: The number of reports in the list.
          type: integer
        reports:
          description: The list of reports.
          items:
            $ref: '#/components/schemas/list_reports_200_response_reports_inner'
          type: array
        self_link:
          description: URI of this search.
          example: https://api.nexmo.com/v2/reports/
          format: uri
          type: string
      type: object
    list_reports_400_response:
      example:
        instance: f94b4e56604e07e5e5ad5a7228618f81
        detail: Invalid request parameter.
        title: Invalid request parameter
        type: https://developer.nexmo.com/api-errors/reports#invalid-request-parameters
      properties:
        detail:
          example: Invalid request parameter.
          type: string
        instance:
          example: f94b4e56604e07e5e5ad5a7228618f81
          type: string
        title:
          example: Invalid request parameter
          type: string
        type:
          example: https://developer.nexmo.com/api-errors/reports#invalid-request-parameters
          type: string
    list_reports_401_response:
      example:
        instance: f94b4e56604e07e5e5ad5a7228618f81
        detail: You did not provide correct credentials.
        title: Unauthorized
        type: https://developer.nexmo.com/api-errors#unauthorized
      properties:
        detail:
          example: You did not provide correct credentials.
          type: string
        instance:
          example: f94b4e56604e07e5e5ad5a7228618f81
          type: string
        title:
          example: Unauthorized
          type: string
        type:
          example: https://developer.nexmo.com/api-errors#unauthorized
          type: string
    create_async_report_request:
      discriminator:
        propertyName: product
      oneOf:
      - $ref: '#/components/schemas/SMS'
      - $ref: '#/components/schemas/VOICE-CALL'
      - $ref: '#/components/schemas/IN-APP-VOICE'
      - $ref: '#/components/schemas/WEBSOCKET-CALL'
      - $ref: '#/components/schemas/VERIFY-API'
      - $ref: '#/components/schemas/NUMBER-INSIGHT'
      - $ref: '#/components/schemas/MESSAGES'
      - $ref: '#/components/schemas/CONVERSATIONS'
      - $ref: '#/components/schemas/ASR'
    create_async_report_200_response:
      oneOf:
      - $ref: '#/components/schemas/sms_response_create_report'
      - $ref: '#/components/schemas/voice_call_response_create_report'
      - $ref: '#/components/schemas/in_app_voice_response_create_report'
      - $ref: '#/components/schemas/websocket_call_response_create_report'
      - $ref: '#/components/schemas/verify_api_response_create_report'
      - $ref: '#/components/schemas/number_insight_response_create_report'
      - $ref: '#/components/schemas/messages_response_create_report'
      - $ref: '#/components/schemas/conversations_response_create_report'
      - $ref: '#/components/schemas/asr_response_create_report'
    create_async_report_400_response:
      example:
        instance: f94b4e56604e07e5e5ad5a7228618f81
        detail: Malformed JSON payload.
        title: Malformed JSON
        type: https://developer.nexmo.com/api-errors#invalid-json
      properties:
        detail:
          example: Malformed JSON payload.
          type: string
        instance:
          example: f94b4e56604e07e5e5ad5a7228618f81
          type: string
        title:
          example: Malformed JSON
          type: string
        type:
          example: https://developer.nexmo.com/api-errors#invalid-json
          type: string
    create_async_report_403_response:
      example:
        instance: f94b4e56604e07e5e5ad5a7228618f81
        detail: User not authorized to query the requested data.
        title: Forbidden
        type: https://developer.nexmo.com/api-errors#forbidden
      properties:
        detail:
          example: User not authorized to query the requested data.
          type: string
        instance:
          example: f94b4e56604e07e5e5ad5a7228618f81
          type: string
        title:
          example: Forbidden
          type: string
        type:
          example: https://developer.nexmo.com/api-errors#forbidden
          type: string
    create_async_report_422_response:
      example:
        instance: f94b4e56604e07e5e5ad5a7228618f81
        detail: Unprocessable entity.
        title: Unprocessable entity
        type: https://developer.nexmo.com/api-errors#not-found
      properties:
        detail:
          example: Unprocessable entity.
          type: string
        instance:
          example: f94b4e56604e07e5e5ad5a7228618f81
          type: string
        title:
          example: Unprocessable entity
          type: string
        type:
          example: https://developer.nexmo.com/api-errors#not-found
          type: string
    get_records_200_response_oneOf:
      allOf:
      - $ref: '#/components/schemas/report_response_top_level'
      - description: SMS (Outbound)
        properties:
          direction:
            description: "Direction of the communication, either `inbound` (received\
              \ by our services), or `outbound` (originated from our services). Required\
              \ for products `SMS` and `MESSAGES`. Optional for `VOICE-CALL`. Invalid\
              \ for `IN-APP-VOICE`, `CONVERSATIONS`, `NUMBER-INSIGHT`, `VERIFY-API`."
            enum:
            - inbound
            - outbound
            example: outbound
            type: string
          include_message:
            description: Include the text of messages in the report.
            example: true
            type: boolean
          items_count:
            description: The number of returned records
            example: 1
            type: integer
          product:
            $ref: '#/components/schemas/product_sms'
          records:
            description: Records in JSON format
            items:
              $ref: '#/components/schemas/json_sms_outbound_with_body'
            type: array
          show_concatenated:
            description: Indicates whether the SMS was split up into multiple parts
              (due to its length).
            example: false
            type: boolean
        type: object
        x-tab-id: sms-outbound
      example:
        request_status: SUCCESS
        product: SMS
        _links:
          self:
            href: https://api.nexmo.com/v2/reports/records?product=SMS&direction=outbound&date_start=2020-03-05T13%3A00%3A00Z&date_end=2020-03-05T14%0A00%3A00Z&account_id=abcdef01
        ids_not_found: "7b10a0c2-1a05-11eb-bad9-38f9d331649,7b1091b8-1a05-11eb-bad9-38f9d331493"
        records:
        - country: FR
          total_price: 0.042
          client_ref: client_ref
          latency: 42
          network_name: Vodafone Limited
          message_id: 0000000A
          date_finalized: 2000-01-23
          network: "23415"
          error_code_description: Delivered
          account_id: abcdef01
          concatenated: true
          message_body: This is a text message
          country_name: France
          currency: EUR
          error_code: "0"
          from: "441234567890"
          date_received: 2000-01-23
          to: "441234567890"
          direction: outbound
          status: delivered
        - country: FR
          total_price: 0.042
          client_ref: client_ref
          latency: 42
          network_name: Vodafone Limited
          message_id: 0000000A
          date_finalized: 2000-01-23
          network: "23415"
          error_code_description: Delivered
          account_id: abcdef01
          concatenated: true
          message_body: This is a text message
          country_name: France
          currency: EUR
          error_code: "0"
          from: "441234567890"
          date_received: 2000-01-23
          to: "441234567890"
          direction: outbound
          status: delivered
        include_message: true
        account_id: abcdef01
        items_count: 1
        price: 0.042
        received_at: 2000-01-23
        show_concatenated: false
        currency: EUR
        request_id: aaaaaaaa-bbbb-cccc-dddd-0123456789ab
        direction: outbound
    get_records_200_response_oneOf_1:
      allOf:
      - $ref: '#/components/schemas/report_response_top_level'
      - description: SMS (Inbound)
        properties:
          direction:
            description: "Direction of the communication, either `inbound` (received\
              \ by our services), or `outbound` (originated from our services). Required\
              \ for products `SMS` and `MESSAGES`. Optional for `VOICE-CALL`. Invalid\
              \ for `CONVERSATIONS`, `NUMBER-INSIGHT`, `VERIFY-API`."
            enum:
            - inbound
            - outbound
            example: inbound
            type: string
          include_message:
            description: Include the text of messages in the report.
            example: true
            type: boolean
          items_count:
            description: The number of returned records
            example: 1
            type: integer
          product:
            $ref: '#/components/schemas/product_sms'
          records:
            description: Records in JSON format
            items:
              $ref: '#/components/schemas/json_sms_inbound_with_body'
            type: array
          show_concatenated:
            description: Indicates whether the SMS was split up into multiple parts
              (due to its length).
            example: false
            type: boolean
        type: object
        x-tab-id: sms-inbound
    get_records_200_response_oneOf_2:
      allOf:
      - $ref: '#/components/schemas/report_response_top_level'
      - description: Voice Call
        properties:
          direction:
            $ref: '#/components/schemas/direction'
          items_count:
            description: The number of returned records
            example: 1
            type: integer
          product:
            $ref: '#/components/schemas/product_voice'
          records:
            description: Records in JSON format
            items:
              $ref: '#/components/schemas/csv_voice'
            type: array
        type: object
        x-tab-id: voice-call
    get_records_200_response_oneOf_3:
      allOf:
      - $ref: '#/components/schemas/report_response_top_level'
      - description: In App Voice
        properties:
          items_count:
            description: The number of returned records
            example: 1
            type: integer
          product:
            $ref: '#/components/schemas/product_in_app_voice'
          records:
            description: Records in JSON format
            items:
[...]
