openapi: 3.0.1
info:
  description: The Admin Backup Management Client.
  title: BackupManagementClient
  version: 2016-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/stable/2016-05-01/Backup.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: azsadmin-Backup
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://adminmanagement.local.azurestack.external/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Backup.Admin/operations:
    get:
      description: Returns the list of support REST operations.
      operationId: operations_list
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          default: 2016-05-01
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationList'
          description: OK
      tags:
      - Backup
      x-ms-examples:
        Returns the list of support REST operations.:
          parameters:
            api-version: 2016-05-01
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value: []
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.backup_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        default: 2016-05-01
        type: string
    ResourceGroupParameter:
      description: Name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: Subscription credentials that uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Display:
      description: Contains the localized display information for this particular
        operation / action.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: "The localized, friendly description for the operation. The\
            \ description will be displayed to the user. It should be thorough and\
            \ concise for used in both tooltips and detailed views."
          readOnly: true
          title: description
          type: string
        operation:
          description: "The localized, friendly name for the operation. Use the name\
            \ as it will displayed to the user."
          readOnly: true
          title: operation
          type: string
        provider:
          description: The localized friendly form of the resource provider name –
            it is expected to also include the publisher/company responsible. It should
            use Title Casing and begin with "Microsoft" for 1st party services. e.g.
            "Microsoft Monitoring Insights" or "Microsoft Compute."
          readOnly: true
          title: provider
          type: string
        resource:
          description: "The localized, friendly version of the resource type related\
            \ to this action or operation; the resource type should match the public\
            \ documentation for the resource provider."
          readOnly: true
          title: resource
          type: string
      title: Display
      type: object
    LongRunningOperationStatus:
      description: Status of a long running operation.
      properties:
        code:
          description: Operation result code.
          readOnly: true
          type: string
        message:
          description: Description of the operation status.
          readOnly: true
          type: string
      type: object
    Operation:
      description: Describes the supported REST operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Display'
        name:
          description: The name of the operation being performed on this particular
            object. This name should match the name that appears in RBAC or the event
            service.
          readOnly: true
          title: name
          type: string
      title: Operation
      type: object
    OperationList:
      description: List of Operations
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URI to the next page of operations.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: Array of operations
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          title: value
          type: array
      title: OperationList
      type: object
    Resource:
      description: Base Resource Object
      properties:
        id:
          description: URI of the resource.
          readOnly: true
          type: string
        location:
          description: Location of the resource.
          type: string
        name:
          description: Name of the resource.
          readOnly: true
          type: string
        tags:
          additionalProperties:
            type: string
          description: List of key value pairs.
          type: object
        type:
          description: Type of resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Authorization uses an Azure Active Directory OAuth2 flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
