openapi: 3.0.1
info:
  title: RecoveryServicesBackupClient
  version: 2017-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/bms.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: recoveryservicesbackup-bms
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /Subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupPreValidateProtection:
    post:
      operationId: protection_intent_validate
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Azure region to hit Api
        in: path
        name: azureRegion
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreValidateEnableBackupRequest'
        description: Enable backup validation request on Virtual Machine
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreValidateEnableBackupResponse'
          description: OK
      summary: "It will validate followings\r\n1. Vault capacity\r\n2. VM is already\
        \ protected\r\n3. Any VM related configuration passed in properties."
      tags:
      - ProtectionIntent
      x-ms-examples:
        Validate Enable Protection on Azure Vm:
          parameters:
            api-version: 2017-07-01
            azureRegion: southeastasia
            parameters:
              properties: ""
              resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/arunaupgrade/providers/Microsoft.Compute/VirtualMachines/upgrade1
              resourceType: VM
              vaultId: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/Vaults/myVault
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                containerName: iaasvmcontainer;iaasvmcontainerv2;arunaupgrade;upgrade1
                errorCode: VirtualMachineAlreadyProtected
                errorMessage: Virtual machine with same name and same resource group
                  is already protected. Please select `Disable' choice above for backup
                  and go to backup item corresponding to this VM in the vault
                protectedItemName: vm;iaasvmcontainerv2;arunaupgrade;upgrade1
                recommendation: Please do not enable protection again.
                status: Failed
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.protection_intent_controller
  /Subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupStatus:
    post:
      operationId: backup_status_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure region to hit Api
        in: path
        name: azure_region
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupStatusRequest'
        description: Container Backup Status Request
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupStatusResponse'
          description: OK
      summary: Get the container backup status
      tags:
      - BackupStatus
      x-ms-examples:
        Get Azure Virtual Machine Backup Status:
          parameters:
            api-version: 2017-07-01
            azureRegion: southeastasia
            parameters:
              resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.Compute/VirtualMachines/testVm
              resourceType: VM
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                containerName: iaasvmcontainer;iaasvmcontainerv2;testRg;testVm
                errorCode: Success
                errorMessage: ErrorMessage
                fabricName: Azure
                policyName: myPolicy
                protectedItemName: vm;iaasvmcontainerv2;testRg;testVm
                protectionStatus: Protected
                vaultId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.RecoveryServices/Vaults/testVault
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.backup_status_controller
  /Subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupValidateFeatures:
    post:
      operationId: feature_support_validate
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure region to hit Api
        in: path
        name: azure_region
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureSupportRequest'
        description: Feature support request object
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureVMResourceFeatureSupportResponse'
          description: OK
      summary: It will validate if given feature with resource properties is supported
        in service
      tags:
      - FeatureSupport
      x-ms-examples:
        Check Azure Vm Backup Feature Support:
          parameters:
            api-version: 2017-07-01
            azureRegion: southeastasia
            parameters:
              featureType: AzureVMResourceBackup
              vmSize: Basic_A0
              vmSku: Premium
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                supportStatus: DefaultOFF
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.feature_support_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/backupProtectionIntent/{intentObjectName}
  : delete:
      description: Used to remove intent from an item
      operationId: protection_intent_delete
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the intent.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Intent to be deleted.
        in: path
        name: intentObjectName
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: NoContent
      tags:
      - ProtectionIntent
      x-ms-examples:
        Delete Protection intent from item:
          parameters:
            api-version: 2017-07-01
            fabricName: Azure
            intentObjectName: 249D9B07-D2EF-4202-AA64-65F35418564E
            parameters: {}
            resourceGroupName: myRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: myVault
          responses:
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.protection_intent_controller
    get:
      description: "Provides the details of the protection intent up item. This is\
        \ an asynchronous operation. To know the status of the operation,\r\ncall\
        \ the GetItemOperationResult API."
      operationId: protection_intent_get
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the backed up item.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Backed up item name whose details are to be fetched.
        in: path
        name: intentObjectName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionIntentResource'
          description: OK
      tags:
      - ProtectionIntent
      x-ms-examples:
        Get ProtectionIntent for an item:
          parameters:
            api-version: 2017-07-01
            fabricName: Azure
            intentObjectName: 249D9B07-D2EF-4202-AA64-65F35418564E
            parameters: {}
            resourceGroupName: myRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: myVault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupFabrics/Azure/backupProtectionIntent/249D9B07-D2EF-4202-AA64-65F35418564E
                name: 249D9B07-D2EF-4202-AA64-65F35418564E
                properties:
                  backupManagementType: AzureWorkload
                  itemId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupProtectionContainer/VMAppContainer;Compute;testVmName/backupProtectableItems/SQLInstance;MSSQLSERVER
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupPolicies/myPolicy
                type: Microsoft.RecoveryServices/vaults/backupProtectionIntent
      x-openapi-router-controller: openapi_server.controllers.protection_intent_controller
    put:
      description: Create Intent for Enabling backup of an item. This is a synchronous
        operation.
      operationId: protection_intent_create_or_update
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Fabric name associated with the backup item.
        in: path
        name: fabricName
        required: true
        schema:
          type: string
      - description: Intent object name.
        in: path
        name: intentObjectName
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProtectionIntentResource'
        description: resource backed up item
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionIntentResource'
          description: OK
      tags:
      - ProtectionIntent
      x-ms-examples:
        Create or Update Azure Vm Protection Intent:
          parameters:
            api-version: 2017-07-01
            fabricName: Azure
            intentObjectName: vm;iaasvmcontainerv2;chamsrgtest;chamscandel
            parameters:
              properties:
                policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupPolicies/myPolicy
                protectionIntentItemType: AzureResourceItem
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/chamsrgtest/providers/Microsoft.Compute/virtualMachines/chamscandel
            resourceGroupName: myRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: myVault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupFabrics/Azure/backupProtectionIntent/vm;iaasvmcontainerv2;chamsrgtest;chamscandel
                name: vm;iaasvmcontainerv2;chamsrgtest;chamscandel
                properties:
                  backupManagementType: AzureIaasVM
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupPolicies/myPolicy
                  protectionState: Protected
                type: Microsoft.RecoveryServices/vaults/backupProtectionIntent
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.protection_intent_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectionIntents
  : get:
      description: Provides a pageable list of all intents that are present within
        a vault.
      operationId: backup_protection_intent_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtectionIntentResourceList'
          description: OK
      tags:
      - BackupProtectionIntent
      x-ms-examples:
        List protection intent with backupManagementType filter:
          parameters:
            api-version: 2017-07-01
            parameters: {}
            resourceGroupName: myRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: myVault
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupFabrics/Azure/backupProtectionIntent/249D9B07-D2EF-4202-AA64-65F35418564E
                  name: 249D9B07-D2EF-4202-AA64-65F35418564E
                  properties:
                    backupManagementType: AzureWorkload
                    itemId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupProtectionContainer/VMAppContainer;Compute;testVmName/backupProtectableItems/SQLInstance;MSSQLSERVER
                    policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.RecoveryServices/vaults/myVault/backupPolicies/myPolicy
                  type: Microsoft.RecoveryServices/vaults/backupProtectionIntent
      x-ms-odata: '#/definitions/ProtectionIntentQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.backup_protection_intent_controller
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupUsageSummaries
  : get:
      description: Fetches the backup management usage summaries of the vault.
      operationId: backup_usage_summaries_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The name of the recovery services vault.
        in: path
        name: vault_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the resource group where the recovery services vault
          is present.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: OData filter options.
        in: query
        name: $filter
        schema:
          type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupManagementUsageList'
          description: OK
      tags:
      - BackupUsageSummaries
      x-ms-examples:
        Get Protected Containers Usages Summary:
          parameters:
            $filter: type eq 'BackupProtectionContainerCountSummary'
            api-version: 2017-07-01
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            "200":
              body:
                value:
                - currentValue: 2
                  limit: -1
                  name:
                    localizedValue: Azure Backup Server
                    value: AzureBackupServer
                  unit: Count
                - currentValue: 3
                  limit: -1
                  name:
                    localizedValue: Azure Backup Agent
                    value: MAB
                  unit: Count
                - currentValue: 1
                  limit: -1
                  name:
                    localizedValue: SQL in Azure VM
                    value: AzureWorkload
                  unit: Count
        Get Protected Items Usages Summary:
          parameters:
            $filter: type eq 'BackupProtectedItemCountSummary'
            api-version: 2017-07-01
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            "200":
              body:
                value:
                - currentValue: 7
                  limit: -1
                  name:
                    localizedValue: Azure Virtual Machine
                    value: AzureIaasVM
                  unit: Count
                - currentValue: 3
                  limit: -1
                  name:
                    localizedValue: Azure Backup Agent
                    value: MAB
                  unit: Count
                - currentValue: 1
                  limit: -1
                  name:
                    localizedValue: Azure Backup Server
                    value: AzureBackupServer
                  unit: Count
                - currentValue: 2
                  limit: -1
                  name:
                    localizedValue: Azure Storage (Azure Files)
                    value: AzureStorage
                  unit: Count
                - currentValue: 2
                  limit: -1
                  name:
                    localizedValue: SQL in Azure VM
                    value: AzureWorkload
                  unit: Count
      x-ms-odata: '#/definitions/BMSBackupSummariesQueryObject'
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.backup_usage_summaries_controller
components:
  parameters:
    ApiVersion:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    AzureRegion:
      description: Azure region to hit Api
      in: path
      name: azureRegion
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupName:
      description: The name of the resource group where the recovery services vault
        is present.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: The subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VaultName:
      description: The name of the recovery services vault.
      in: path
      name: vaultName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    AzureBackupGoalFeatureSupportRequest:
      allOf:
      - $ref: '#/components/schemas/FeatureSupportRequest'
      description: Azure backup goal feature specific request.
      x-ms-discriminator-value: AzureBackupGoals
    AzureIaaSVMErrorInfo:
      description: Azure IaaS VM workload-specific error information.
      properties:
        errorCode:
          description: Error code.
          format: int32
          readOnly: true
          title: errorCode
          type: integer
        errorString:
          description: Localized error string.
          readOnly: true
          title: errorString
          type: string
        errorTitle:
          description: "Title: Typically, the entity that the error pertains to."
          readOnly: true
          title: errorTitle
          type: string
        recommendations:
          description: List of localized recommendations for above error code.
          items:
            type: string
          readOnly: true
          title: recommendations
          type: array
      title: AzureIaaSVMErrorInfo
      type: object
    AzureIaaSVMJob:
      allOf:
      - $ref: '#/components/schemas/Job'
      description: Azure IaaS VM workload-specific job object.
      properties:
        actionsInfo:
          description: Gets or sets the state/actions applicable on this job like
            cancel/retry.
          items:
            enum:
            - Invalid
            - Cancellable
            - Retriable
            type: string
            x-ms-enum:
              modelAsString: false
              name: JobSupportedAction
          type: array
        duration:
          description: Time elapsed during the execution of this job.
          format: duration
          type: string
        errorDetails:
          description: Error details on execution of this job.
          items:
            $ref: '#/components/schemas/AzureIaaSVMErrorInfo'
          type: array
        extendedInfo:
          $ref: '#/components/schemas/AzureIaaSVMJobExtendedInfo'
        virtualMachineVersion:
          description: Specifies whether the backup item is a Classic or an Azure
            Resource Manager VM.
          type: string
      x-ms-discriminator-value: AzureIaaSVMJob
    AzureIaaSVMJobExtendedInfo:
      description: Azure IaaS VM workload-specific additional information for job.
      properties:
        dynamicErrorMessage:
          description: Non localized error message on job execution.
          title: dynamicErrorMessage
          type: string
        estimatedRemainingDuration:
          description: Time remaining for execution of this job.
          title: estimatedRemainingDuration
          type: string
        internalPropertyBag:
          additionalProperties:
            type: string
          description: Job internal properties.
          title: internalPropertyBag
          type: object
        progressPercentage:
          description: Indicates progress of the job. Null if it has not started or
            completed.
          format: double
          title: progressPercentage
          type: number
        propertyBag:
          additionalProperties:
            type: string
          description: Job properties.
          title: propertyBag
          type: object
        tasksList:
          description: List of tasks associated with this job.
          items:
            $ref: '#/components/schemas/AzureIaaSVMJobTaskDetails'
          title: tasksList
          type: array
      title: AzureIaaSVMJobExtendedInfo
      type: object
    AzureIaaSVMJobTaskDetails:
      description: Azure IaaS VM workload-specific job task details.
      properties:
        duration:
          description: Time elapsed for task.
          format: duration
          title: duration
          type: string
        endTime:
          description: The end time.
          format: date-time
          title: endTime
          type: string
        instanceId:
          description: The instanceId.
          title: instanceId
          type: string
        progressPercentage:
          description: Progress of the task.
          format: double
          title: progressPercentage
          type: number
        startTime:
          description: The start time.
          format: date-time
          title: startTime
          type: string
        status:
          description: The status.
          title: status
          type: string
        taskExecutionDetails:
          description: "Details about execution of the task.\r\neg: number of bytes\
            \ transferred etc"
          title: taskExecutionDetails
          type: string
        taskId:
          description: The task display name.
          title: taskId
          type: string
      title: AzureIaaSVMJobTaskDetails
      type: object
    AzureRecoveryServiceVaultProtectionIntent:
      allOf:
      - $ref: '#/components/schemas/ProtectionIntent'
      description: Azure Recovery Services Vault specific protection intent item.
      title: AzureRecoveryServiceVaultProtectionIntent
      x-ms-discriminator-value: RecoveryServiceVaultItem
    AzureResourceProtectionIntent:
      allOf:
      - $ref: '#/components/schemas/ProtectionIntent'
      description: IaaS VM specific backup protection intent item.
      properties:
        friendlyName:
          description: Friendly name of the VM represented by this backup item.
          type: string
      x-ms-discriminator-value: AzureResourceItem
    AzureStorageErrorInfo:
      description: Azure storage specific error information
      properties:
        errorCode:
          description: Error code.
          format: int32
          title: errorCode
          type: integer
        errorString:
          description: Localized error string.
          title: errorString
          type: string
        recommendations:
          description: List of localized recommendations for above error code.
          items:
            type: string
          title: recommendations
          type: array
      title: AzureStorageErrorInfo
      type: object
    AzureStorageJob:
      allOf:
      - $ref: '#/components/schemas/Job'
      description: Azure storage specific job.
      properties:
        actionsInfo:
          description: Gets or sets the state/actions applicable on this job like
            cancel/retry.
          items:
            enum:
            - Invalid
            - Cancellable
            - Retriable
            type: string
            x-ms-enum:
              modelAsString: false
              name: JobSupportedAction
          type: array
        duration:
          description: Time elapsed during the execution of this job.
          format: duration
          type: string
        errorDetails:
          description: Error details on execution of this job.
          items:
            $ref: '#/components/schemas/AzureStorageErrorInfo'
          type: array
        extendedInfo:
          $ref: '#/components/schemas/AzureStorageJobExtendedInfo'
        storageAccountName:
          description: Specifies friendly name of the storage account.
          type: string
        storageAccountVersion:
          description: Specifies whether the Storage account is a Classic or an Azure
            Resource Manager Storage account.
          type: string
      x-ms-discriminator-value: AzureStorageJob
    AzureStorageJobExtendedInfo:
      description: Azure Storage workload-specific additional information for job.
      properties:
        dynamicErrorMessage:
          description: Non localized error message on job execution.
          title: dynamicErrorMessage
          type: string
        propertyBag:
          additionalProperties:
            type: string
          description: Job properties.
          title: propertyBag
          type: object
        tasksList:
          description: List of tasks for this job
          items:
            $ref: '#/components/schemas/AzureStorageJobTaskDetails'
          title: tasksList
          type: array
      title: AzureStorageJobExtendedInfo
      type: object
    AzureStorageJobTaskDetails:
      description: Azure storage workload specific job task details.
      properties:
        status:
          description: The status.
          title: status
          type: string
        taskId:
          description: The task display name.
          title: taskId
          type: string
      title: AzureStorageJobTaskDetails
      type: object
    AzureVMResourceFeatureSupportRequest:
      allOf:
      - $ref: '#/components/schemas/FeatureSupportRequest'
      description: AzureResource(IaaS VM) Specific feature support request
      properties:
        vmSize:
          description: "Size of the resource: VM size(A/D series etc) in case of IaasVM"
          type: string
        vmSku:
          description: SKUs (Premium/Managed etc) in case of IaasVM
          type: string
      x-ms-discriminator-value: AzureVMResourceBackup
    AzureVMResourceFeatureSupportResponse:
      description: Response for feature support requests for Azure IaasVm
      example:
        supportStatus: Invalid
      properties:
        supportStatus:
          description: Support status of feature
          enum:
          - Invalid
          - Supported
          - DefaultOFF
          - DefaultON
          - NotSupported
          title: supportStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: SupportStatus
      title: AzureVMResourceFeatureSupportResponse
      type: object
    AzureWorkloadAutoProtectionIntent:
      allOf:
      - $ref: '#/components/schemas/AzureRecoveryServiceVaultProtectionIntent'
      description: Azure Recovery Services Vault specific protection intent item.
      title: AzureWorkloadAutoProtectionIntent
      x-ms-discriminator-value: AzureWorkloadAutoProtectionIntent
    AzureWorkloadErrorInfo:
      description: Azure storage specific error information
      properties:
        additionalDetails:
          description: Additional details for above error code.
          title: additionalDetails
          type: string
        errorCode:
          description: Error code.
          format: int32
          title: errorCode
          type: integer
        errorString:
          description: Localized error string.
          title: errorString
          type: string
        errorTitle:
          description: "Title: Typically, the entity that the error pertains to."
          title: errorTitle
          type: string
        recommendations:
          description: List of localized recommendations for above error code.
          items:
            type: string
          title: recommendations
          type: array
      title: AzureWorkloadErrorInfo
      type: object
    AzureWorkloadJob:
      allOf:
      - $ref: '#/components/schemas/Job'
      description: Azure storage specific job.
      properties:
        actionsInfo:
          description: Gets or sets the state/actions applicable on this job like
            cancel/retry.
          items:
            enum:
            - Invalid
            - Cancellable
            - Retriable
            type: string
            x-ms-enum:
              modelAsString: false
              name: JobSupportedAction
          type: array
        duration:
          description: Time elapsed during the execution of this job.
          format: duration
          type: string
        errorDetails:
          description: Error details on execution of this job.
          items:
            $ref: '#/components/schemas/AzureWorkloadErrorInfo'
          type: array
        extendedInfo:
          $ref: '#/components/schemas/AzureWorkloadJobExtendedInfo'
        workloadType:
          description: Workload type of the job
          type: string
      x-ms-discriminator-value: AzureWorkloadJob
    AzureWorkloadJobExtendedInfo:
      description: Azure VM workload-specific additional information for job.
      properties:
        dynamicErrorMessage:
          description: Non localized error message on job execution.
          title: dynamicErrorMessage
          type: string
        propertyBag:
          additionalProperties:
            type: string
          description: Job properties.
          title: propertyBag
          type: object
        tasksList:
          description: List of tasks for this job
          items:
            $ref: '#/components/schemas/AzureWorkloadJobTaskDetails'
          title: tasksList
          type: array
      title: AzureWorkloadJobExtendedInfo
      type: object
    AzureWorkloadJobTaskDetails:
      description: Azure VM workload specific job task details.
      properties:
        status:
          description: The status.
          title: status
          type: string
        taskId:
          description: The task display name.
          title: taskId
          type: string
      title: AzureWorkloadJobTaskDetails
      type: object
    AzureWorkloadSQLAutoProtectionIntent:
      allOf:
      - $ref: '#/components/schemas/AzureWorkloadAutoProtectionIntent'
      description: Azure Workload SQL Auto Protection intent item.
      properties:
        workloadItemType:
          description: Workload item type of the item for which intent is to be set
          enum:
          - Invalid
          - SQLInstance
          - SQLDataBase
          - SAPHanaSystem
          - SAPHanaDatabase
          - SAPAseSystem
          - SAPAseDatabase
          type: string
          x-ms-enum:
            modelAsString: true
            name: WorkloadItemType
      x-ms-discriminator-value: AzureWorkloadSQLAutoProtectionIntent
    BMSBackupSummariesQueryObject:
      description: Query parameters to fetch backup summaries.
      properties:
        type:
          description: Backup management type for this container.
          enum:
          - Invalid
          - BackupProtectedItemCountSummary
          - BackupProtectionContainerCountSummary
          type: string
          x-ms-enum:
            modelAsString: true
            name: Type
      type: object
    BackupManagementUsage:
      description: Backup management usages of a vault.
      example:
        unit: Count
        quotaPeriod: quotaPeriod
        limit: 6
        name:
          localizedValue: localizedValue
          value: value
        nextResetTime: 2000-01-23T04:56:07.000+00:00
        currentValue: 0
      properties:
        currentValue:
          description: Current value of usage.
          format: int64
          title: currentValue
          type: integer
        limit:
          description: Limit of usage.
          format: int64
          title: limit
          type: integer
        name:
          $ref: '#/components/schemas/NameInfo'
        nextResetTime:
          description: Next reset time of usage.
          format: date-time
          title: nextResetTime
          type: string
        quotaPeriod:
          description: Quota period of usage.
          title: quotaPeriod
          type: string
        unit:
          description: Unit of the usage.
          enum:
          - Count
          - Bytes
          - Seconds
          - Percent
          - CountPerSecond
          - BytesPerSecond
          title: unit
          type: string
          x-ms-enum:
            modelAsString: true
            name: UsagesUnit
      title: BackupManagementUsage
      type: object
    BackupManagementUsageList:
      description: Backup management usage for vault.
      example:
        value:
        - unit: Count
          quotaPeriod: quotaPeriod
          limit: 6
          name:
            localizedValue: localizedValue
            value: value
          nextResetTime: 2000-01-23T04:56:07.000+00:00
          currentValue: 0
        - unit: Count
          quotaPeriod: quotaPeriod
          limit: 6
          name:
            localizedValue: localizedValue
            value: value
          nextResetTime: 2000-01-23T04:56:07.000+00:00
          currentValue: 0
      properties:
        value:
          description: The list of backup management usages for the given vault.
          items:
            $ref: '#/components/schemas/BackupManagementUsage'
          title: value
          type: array
      title: BackupManagementUsageList
      type: object
    BackupStatusRequest:
      description: BackupStatus request.
      example:
        resourceId: resourceId
        poLogicalName: poLogicalName
        resourceType: Invalid
      properties:
        poLogicalName:
          description: Protectable Item Logical Name
          title: poLogicalName
          type: string
        resourceId:
          description: Entire ARM resource id of the resource
          title: resourceId
          type: string
        resourceType:
          description: "Container Type - VM, SQLPaaS, DPM, AzureFileShare..."
          enum:
          - Invalid
          - VM
          - FileFolder
          - AzureSqlDb
          - SQLDB
          - Exchange
          - Sharepoint
          - VMwareVM
          - SystemState
          - Client
          - GenericDataSource
          - SQLDataBase
          - AzureFileShare
          - SAPHanaDatabase
          - SAPAseDatabase
          title: resourceType
          type: string
          x-ms-enum:
            modelAsString: true
            name: DataSourceType
      title: BackupStatusRequest
      type: object
    BackupStatusResponse:
      description: BackupStatus response.
      example:
        registrationStatus: registrationStatus
        policyName: policyName
        protectedItemName: protectedItemName
        vaultId: vaultId
        containerName: containerName
        errorMessage: errorMessage
        errorCode: errorCode
        protectionStatus: Invalid
        fabricName: Invalid
      properties:
        containerName:
          description: Specifies the product specific container name. E.g. iaasvmcontainer;iaasvmcontainer;csname;vmname.
          title: containerName
          type: string
        errorCode:
          description: ErrorCode in case of intent failed
          title: errorCode
          type: string
        errorMessage:
          description: ErrorMessage in case of intent failed.
          title: errorMessage
          type: string
        fabricName:
          description: Specifies the fabric name - Azure or AD
          enum:
          - Invalid
          - Azure
          title: fabricName
          type: string
          x-ms-enum:
            modelAsString: true
            name: FabricName
        policyName:
          description: Specifies the policy name which is used for protection
          title: policyName
          type: string
        protectedItemName:
          description: Specifies the product specific ds name. E.g. vm;iaasvmcontainer;csname;vmname.
          title: protectedItemName
          type: string
        protectionStatus:
          description: Specifies whether the container is registered or not
          enum:
          - Invalid
          - NotProtected
          - Protecting
          - Protected
          - ProtectionFailed
          title: protectionStatus
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProtectionStatus
        registrationStatus:
          description: Container registration status
          title: registrationStatus
          type: string
        vaultId:
          description: Specifies the arm resource id of the vault
          title: vaultId
          type: string
      title: BackupStatusResponse
      type: object
    DpmErrorInfo:
      description: DPM workload-specific error information.
      properties:
        errorString:
          description: Localized error string.
          title: errorString
          type: string
        recommendations:
          description: List of localized recommendations for above error code.
          items:
            type: string
          title: recommendations
          type: array
      title: DpmErrorInfo
      type: object
    DpmJob:
      allOf:
      - $ref: '#/components/schemas/Job'
      description: DPM workload-specific job object.
      properties:
        actionsInfo:
          description: The state/actions applicable on this job like cancel/retry.
          items:
            enum:
            - Invalid
            - Cancellable
            - Retriable
            type: string
            x-ms-enum:
              modelAsString: false
              name: JobSupportedAction
          type: array
        containerName:
          description: "Name of cluster/server protecting current backup item, if\
            \ any."
          type: string
        containerType:
          description: Type of container.
          type: string
        dpmServerName:
          description: DPM server name managing the backup item or backup job.
          type: string
        duration:
          description: Time elapsed for job.
          format: duration
          type: string
        errorDetails:
          description: The errors.
          items:
            $ref: '#/components/schemas/DpmErrorInfo'
          type: array
        extendedInfo:
          $ref: '#/components/schemas/DpmJobExtendedInfo'
        workloadType:
          description: Type of backup item.
          type: string
      x-ms-discriminator-value: DpmJob
    DpmJobExtendedInfo:
      description: Additional information on the DPM workload-specific job.
      properties:
        dynamicErrorMessage:
          description: Non localized error message on job execution.
          title: dynamicErrorMessage
          type: string
        propertyBag:
          additionalProperties:
            type: string
          description: The job properties.
          title: propertyBag
          type: object
        tasksList:
          description: List of tasks associated with this job.
          items:
            $ref: '#/components/schemas/DpmJobTaskDetails'
          title: tasksList
          type: array
      title: DpmJobExtendedInfo
      type: object
    DpmJobTaskDetails:
      description: DPM workload-specific job task details.
      properties:
        duration:
          description: Time elapsed for task.
          format: duration
          title: duration
          type: string
        endTime:
          description: The end time.
          format: date-time
          title: endTime
          type: string
        startTime:
          description: The start time.
          format: date-time
          title: startTime
          type: string
        status:
          description: The status.
          title: status
          type: string
        taskId:
          description: The task display name.
          title: taskId
          type: string
      title: DpmJobTaskDetails
      type: object
    FeatureSupportRequest:
      description: Base class for feature request
      discriminator:
        propertyName: featureType
      example:
        featureType: featureType
      properties:
        featureType:
          description: backup support feature type.
          type: string
      title: FeatureSupportRequest
      type: object
    InstantRPAdditionalDetails:
      properties:
        azureBackupRGNamePrefix:
          type: string
        azureBackupRGNameSuffix:
          type: string
      type: object
    Job:
      description: Defines workload agnostic properties for a job.
      discriminator:
        propertyName: jobType
      properties:
        activityId:
          description: ActivityId of job.
          title: activityId
          type: string
        backupManagementType:
          description: Backup management type to execute the current job.
          enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
          - AzureStorage
          - AzureWorkload
          - DefaultBackup
          title: backupManagementType
          type: string
          x-ms-enum:
            modelAsString: true
            name: BackupManagementType
        endTime:
          description: The end time.
          format: date-time
          title: endTime
          type: string
        entityFriendlyName:
          description: Friendly name of the entity on which the current job is executing.
          title: entityFriendlyName
          type: string
        jobType:
          description: This property will be used as the discriminator for deciding
            the specific types in the polymorphic chain of types.
          title: jobType
          type: string
        operation:
          description: The operation name.
          title: operation
          type: string
        startTime:
          description: The start time.
          format: date-time
          title: startTime
          type: string
        status:
          description: Job status.
          title: status
          type: string
      required:
      - jobType
      title: Job
      type: object
    JobResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Defines workload agnostic properties for a job.
      properties:
        properties:
          $ref: '#/components/schemas/Job'
    MabErrorInfo:
      description: MAB workload-specific error information.
      properties:
        errorString:
          description: Localized error string.
          readOnly: true
          title: errorString
          type: string
        recommendations:
          description: List of localized recommendations.
          items:
            type: string
          readOnly: true
          title: recommendations
          type: array
      title: MabErrorInfo
      type: object
    MabJob:
      allOf:
      - $ref: '#/components/schemas/Job'
      description: MAB workload-specific job.
      properties:
        actionsInfo:
          description: The state/actions applicable on jobs like cancel/retry.
          items:
            enum:
            - Invalid
            - Cancellable
            - Retriable
            type: string
            x-ms-enum:
              modelAsString: false
              name: JobSupportedAction
          type: array
        duration:
          description: Time taken by job to run.
          format: duration
          type: string
        errorDetails:
          description: The errors.
          items:
            $ref: '#/components/schemas/MabErrorInfo'
          type: array
        extendedInfo:
          $ref: '#/components/schemas/MabJobExtendedInfo'
        mabServerName:
          description: Name of server protecting the DS.
          type: string
        mabServerType:
          description: Server type of MAB container.
          enum:
          - Invalid
          - Unknown
          - IaasVMContainer
          - IaasVMServiceContainer
          - DPMContainer
          - AzureBackupServerContainer
          - MABContainer
          - Cluster
          - AzureSqlContainer
          - Windows
          - VCenter
          - VMAppContainer
          - SQLAGWorkLoadContainer
          - StorageContainer
          - GenericContainer
          type: string
          x-ms-enum:
            modelAsString: true
            name: MabServerType
        workloadType:
          description: Workload type of backup item.
          enum:
          - Invalid
          - VM
          - FileFolder
          - AzureSqlDb
          - SQLDB
          - Exchange
          - Sharepoint
          - VMwareVM
          - SystemState
          - Client
          - GenericDataSource
          - SQLDataBase
          - AzureFileShare
          - SAPHanaDatabase
          - SAPAseDatabase
          type: string
          x-ms-enum:
            modelAsString: true
            name: WorkloadType
      x-ms-discriminator-value: MabJob
    MabJobExtendedInfo:
      description: Additional information for the MAB workload-specific job.
      properties:
        dynamicErrorMessage:
          description: Non localized error message specific to this job.
          title: dynamicErrorMessage
          type: string
        propertyBag:
          additionalProperties:
            type: string
          description: The job properties.
          title: propertyBag
          type: object
        tasksList:
          description: List of tasks for this job.
          items:
            $ref: '#/components/schemas/MabJobTaskDetails'
          title: tasksList
          type: array
      title: MabJobExtendedInfo
      type: object
    MabJobTaskDetails:
      description: MAB workload-specific job task details.
      properties:
        duration:
          description: Time elapsed for task.
          format: duration
          title: duration
          type: string
        endTime:
          description: The end time.
          format: date-time
          title: endTime
          type: string
        startTime:
          description: The start time.
          format: date-time
          title: startTime
          type: string
        status:
          description: The status.
          title: status
          type: string
        taskId:
          description: The task display name.
          title: taskId
          type: string
      title: MabJobTaskDetails
      type: object
    NameInfo:
      description: The name of usage.
      example:
        localizedValue: localizedValue
        value: value
      properties:
        localizedValue:
          description: Localized value of usage.
          title: localizedValue
          type: string
        value:
          description: Value of usage.
          title: value
          type: string
      title: NameInfo
      type: object
    PreValidateEnableBackupRequest:
      description: "Contract to validate if backup can be enabled on the given resource\
        \ in a given vault and given configuration.\r\nIt will validate followings\r\
        \n1. Vault capacity\r\n2. VM is already protected\r\n3. Any VM related configuration\
        \ passed in properties."
      example:
        resourceId: resourceId
        vaultId: vaultId
        properties: properties
        resourceType: Invalid
      properties:
        properties:
          description: Configuration of VM if any needs to be validated like OS type
            etc
          title: properties
          type: string
        resourceId:
          description: ARM Virtual Machine Id
          title: resourceId
          type: string
        resourceType:
          description: "ProtectedItem Type- VM, SqlDataBase, AzureFileShare etc"
          enum:
          - Invalid
          - VM
          - FileFolder
          - AzureSqlDb
          - SQLDB
          - Exchange
          - Sharepoint
          - VMwareVM
          - SystemState
          - Client
          - GenericDataSource
          - SQLDataBase
          - AzureFileShare
          - SAPHanaDatabase
          - SAPAseDatabase
          title: resourceType
          type: string
          x-ms-enum:
            modelAsString: true
            name: DataSourceType
        vaultId:
          description: ARM id of the Recovery Services Vault
          title: vaultId
          type: string
      title: PreValidateEnableBackupRequest
      type: object
    PreValidateEnableBackupResponse:
      description: Response contract for enable backup validation request
      example:
        protectedItemName: protectedItemName
        containerName: containerName
        errorMessage: errorMessage
        errorCode: errorCode
        recommendation: recommendation
        status: Invalid
      properties:
        containerName:
          description: "Specifies the product specific container name. E.g. iaasvmcontainer;iaasvmcontainer;rgname;vmname.\
            \ This is required\r\nfor portal"
          title: containerName
          type: string
        errorCode:
          description: Response error code
          title: errorCode
          type: string
        errorMessage:
          description: Response error message
          title: errorMessage
          type: string
        protectedItemName:
          description: Specifies the product specific ds name. E.g. vm;iaasvmcontainer;rgname;vmname.
            This is required for portal
          title: protectedItemName
          type: string
        recommendation:
          description: Recommended action for user
          title: recommendation
          type: string
        status:
          description: Validation Status
          enum:
          - Invalid
          - Succeeded
          - Failed
          title: status
          type: string
          x-ms-enum:
            modelAsString: true
            name: ValidationStatus
      title: PreValidateEnableBackupResponse
      type: object
    ProtectionIntent:
      description: Base class for backup ProtectionIntent.
      discriminator:
        propertyName: protectionIntentItemType
      example:
        backupManagementType: Invalid
        itemId: itemId
        policyId: policyId
        protectionIntentItemType: protectionIntentItemType
        protectionState: Invalid
        sourceResourceId: sourceResourceId
      properties:
        backupManagementType:
          description: Type of backup management for the backed up item.
          enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
          - AzureStorage
          - AzureWorkload
          - DefaultBackup
          title: backupManagementType
          type: string
          x-ms-enum:
            modelAsString: true
            name: BackupManagementType
        itemId:
          description: "ID of the item which is getting protected, In case of Azure\
            \ Vm , it is ProtectedItemId"
          title: itemId
          type: string
        policyId:
          description: ID of the backup policy with which this item is backed up.
          title: policyId
          type: string
        protectionIntentItemType:
          description: backup protectionIntent type.
          type: string
        protectionState:
          description: Backup state of this backup item.
          enum:
          - Invalid
          - NotProtected
          - Protecting
          - Protected
          - ProtectionFailed
          title: protectionState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProtectionStatus
        sourceResourceId:
          description: ARM ID of the resource to be backed up.
          title: sourceResourceId
          type: string
      title: ProtectionIntent
      type: object
    ProtectionIntentQueryObject:
      description: Filters to list protection intent.
      properties:
        backupManagementType:
          description: Backup management type for the backed up item
          enum:
          - Invalid
          - AzureIaasVM
          - MAB
          - DPM
          - AzureBackupServer
          - AzureSql
          - AzureStorage
          - AzureWorkload
          - DefaultBackup
          type: string
          x-ms-enum:
            modelAsString: true
            name: BackupManagementType
        itemName:
          description: Item name of the intent
          type: string
        itemType:
          description: Type of workload this item represents
          enum:
          - Invalid
          - SQLInstance
          - SQLAvailabilityGroupContainer
          type: string
          x-ms-enum:
            modelAsString: true
            name: IntentItemType
        parentName:
          description: Parent name of the intent
          type: string
      type: object
    ProtectionIntentResource:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: Base class for backup ProtectionIntent.
      example:
        properties:
          backupManagementType: Invalid
          itemId: itemId
          policyId: policyId
          protectionIntentItemType: protectionIntentItemType
          protectionState: Invalid
          sourceResourceId: sourceResourceId
      properties:
        properties:
          $ref: '#/components/schemas/ProtectionIntent'
      title: ProtectionIntentResource
    ProtectionIntentResourceList:
      allOf:
      - $ref: '#/components/schemas/ResourceList'
      description: List of ProtectionIntent resources
      example:
        value:
        - properties:
            backupManagementType: Invalid
            itemId: itemId
            policyId: policyId
            protectionIntentItemType: protectionIntentItemType
            protectionState: Invalid
            sourceResourceId: sourceResourceId
        - properties:
            backupManagementType: Invalid
            itemId: itemId
            policyId: policyId
            protectionIntentItemType: protectionIntentItemType
            protectionState: Invalid
            sourceResourceId: sourceResourceId
      properties:
        value:
          description: List of resources.
          items:
            $ref: '#/components/schemas/ProtectionIntentResource'
          title: value
          type: array
      title: ProtectionIntentResourceList
    Resource:
      description: ARM Resource.
      properties:
        eTag:
          description: Optional ETag.
          title: eTag
          type: string
        id:
          description: Resource Id represents the complete path to the resource.
          readOnly: true
          title: id
          type: string
        location:
          description: Resource location.
          title: location
          type: string
        name:
          description: Resource name associated with the resource.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
        type:
          description: Resource type represents the complete path of the form Namespace/ResourceType/ResourceType/...
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceList:
      description: Base for all lists of resources.
      properties:
        nextLink:
          description: The uri to fetch the next page of resources. Call ListNext()
            fetches next page of resources.
          title: nextLink
          type: string
      title: ResourceList
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account.
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
