openapi: 3.0.1
info:
  title: AppConfigurationManagementClient
  version: 2019-10-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/appconfiguration/resource-manager/Microsoft.AppConfiguration/stable/2019-10-01/appconfiguration.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: appconfiguration
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.AppConfiguration/operations:
    get:
      description: Lists the operations available from this provider.
      operationId: operations_list
      parameters:
      - description: The client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: "A skip token is used to continue retrieving items after an operation\
          \ returns a partial result. If a previous response contains a nextLink element,\
          \ the value of the nextLink element will include a skipToken parameter that\
          \ specifies a starting point to use for subsequent calls."
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationDefinitionListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - Operations
      x-ms-examples: {}
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/checkNameAvailability:
    post:
      description: Checks whether the configuration store name is available for use.
      operationId: operations_check_name_availability
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters'
        description: The object containing information for the availability request.
        required: true
        x-body-name: checkNameAvailabilityParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailabilityStatus'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - Operations
      x-ms-examples:
        ConfigurationStores_CheckNameAvailable:
          parameters:
            api-version: 2019-10-01
            checkNameAvailabilityParameters:
              name: contoso
              type: Microsoft.AppConfiguration/configurationStores
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                message: The specified name is available.
                nameAvailable: true
        ConfigurationStores_CheckNameNotAvailable:
          parameters:
            api-version: 2019-10-01
            checkNameAvailabilityParameters:
              name: contoso
              type: Microsoft.AppConfiguration/configurationStores
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                message: The specified name is already in use.
                nameAvailable: false
                reason: AlreadyExists
      x-codegen-request-body-name: checkNameAvailabilityParameters
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/configurationStores:
    get:
      description: Lists the configuration stores for a given subscription.
      operationId: configuration_stores_list
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "A skip token is used to continue retrieving items after an operation\
          \ returns a partial result. If a previous response contains a nextLink element,\
          \ the value of the nextLink element will include a skipToken parameter that\
          \ specifies a starting point to use for subsequent calls."
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationStoreListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_List:
          parameters:
            api-version: 2019-10-01
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                  identity:
                    principalId: AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
                    tenantId: BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
                    type: SystemAssigned
                  location: westus
                  name: contoso
                  properties:
                    creationDate: 2018-04-24T16:30:55+00:00
                    endpoint: https://contoso.azconfig.io
                    provisioningState: Succeeded
                  sku:
                    name: Free
                  tags: {}
                  type: Microsoft.AppConfiguration/configurationStores
                - id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso2
                  identity:
                    principalId: CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC
                    tenantId: BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
                    type: SystemAssigned
                  location: westus
                  name: contoso2
                  properties:
                    creationDate: 2018-04-24T23:06:59+00:00
                    endpoint: https://contoso2.azconfig.io
                    provisioningState: Succeeded
                  sku:
                    name: Free
                  tags: {}
                  type: Microsoft.AppConfiguration/configurationStores
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.configuration_stores_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores:
    get:
      description: Lists the configuration stores for a given resource group.
      operationId: configuration_stores_list_by_resource_group
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "A skip token is used to continue retrieving items after an operation\
          \ returns a partial result. If a previous response contains a nextLink element,\
          \ the value of the nextLink element will include a skipToken parameter that\
          \ specifies a starting point to use for subsequent calls."
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationStoreListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_ListByResourceGroup:
          parameters:
            api-version: 2019-10-01
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                  location: westus
                  name: contoso
                  properties:
                    creationDate: 2018-04-24T16:30:55+00:00
                    endpoint: https://contoso.azconfig.io
                    provisioningState: Succeeded
                  sku:
                    name: Free
                  tags: {}
                  type: Microsoft.AppConfiguration/configurationStores
                - id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso2
                  location: westus
                  name: contoso2
                  properties:
                    creationDate: 2018-04-24T23:06:59+00:00
                    endpoint: https://contoso2.azconfig.io
                    provisioningState: Succeeded
                  sku:
                    name: Free
                  tags: {}
                  type: Microsoft.AppConfiguration/configurationStores
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.configuration_stores_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}
  : delete:
      description: Deletes a configuration store.
      operationId: configuration_stores_delete
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: config_store_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: The request was successful; the request was well-formed and
            received properly.
        "202":
          content: {}
          description: The request was successful; the operation will complete asynchronously.
        "204":
          content: {}
          description: No Content - the specified resource was not found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_Delete:
          parameters:
            api-version: 2019-10-01
            configStoreName: contoso
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.configuration_stores_controller
    get:
      description: Gets the properties of the specified configuration store.
      operationId: configuration_stores_get
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: configStoreName
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationStore'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_Get:
          parameters:
            api-version: 2019-10-01
            configStoreName: contoso
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                identity:
                  principalId: AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
                  tenantId: BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
                  type: SystemAssigned
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Succeeded
                sku:
                  name: Free
                tags: {}
                type: Microsoft.AppConfiguration/configurationStores
      x-openapi-router-controller: openapi_server.controllers.configuration_stores_controller
    patch:
      description: Updates a configuration store with the specified parameters.
      operationId: configuration_stores_update
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: config_store_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationStoreUpdateParameters'
        description: The parameters for updating a configuration store.
        required: true
        x-body-name: configStoreUpdateParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationStore'
          description: The request was successful; the request was well-formed and
            received properly.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationStore'
          description: The request was successfully accepted; the operation will complete
            asynchronously. The provisioning state of the resource should indicate
            the current state of the resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_Update:
          parameters:
            api-version: 2019-10-01
            configStoreName: contoso
            configStoreUpdateParameters:
              sku:
                name: Standard
              tags:
                Category: Marketing
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Succeeded
                sku:
                  name: Standard
                tags:
                  Category: Marketing
                type: Microsoft.AppConfiguration/configurationStores
            "201":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Updating
                sku:
                  name: Standard
                tags:
                  Category: Marketing
                type: Microsoft.AppConfiguration/configurationStores
        ConfigurationStores_Update_WithIdentity:
          parameters:
            api-version: 2019-10-01
            configStoreName: contoso
            configStoreUpdateParameters:
              identity:
                type: "SystemAssigned, UserAssigned"
                userAssignedIdentities:
                  ? /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2
                  : {}
              sku:
                name: Standard
              tags:
                Category: Marketing
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                identity:
                  principalId: AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
                  tenantId: BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
                  type: "SystemAssigned, UserAssigned"
                  userAssignedIdentities:
                    ? /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2
                    : clientId: CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC
                      principalId: DDDDDDDD-DDDD-DDDD-DDDD-DDDDDDDDDDDD
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Succeeded
                sku:
                  name: Standard
                tags:
                  Category: Marketing
                type: Microsoft.AppConfiguration/configurationStores
            "201":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                identity:
                  principalId: AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
                  tenantId: BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
                  type: "SystemAssigned, UserAssigned"
                  userAssignedIdentities:
                    ? /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2
                    : clientId: CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC
                      principalId: DDDDDDDD-DDDD-DDDD-DDDD-DDDDDDDDDDDD
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Updating
                sku:
                  name: Standard
                tags:
                  Category: Marketing
                type: Microsoft.AppConfiguration/configurationStores
      x-ms-long-running-operation: true
      x-codegen-request-body-name: configStoreUpdateParameters
      x-openapi-router-controller: openapi_server.controllers.configuration_stores_controller
    put:
      description: Creates a configuration store with the specified parameters.
      operationId: configuration_stores_create
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: config_store_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationStore'
        description: The parameters for creating a configuration store.
        required: true
        x-body-name: configStoreCreationParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationStore'
          description: The request was successful; the request was well-formed and
            received properly.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationStore'
          description: The request was successfully accepted; the operation will complete
            asynchronously. The provisioning state of the resource should indicate
            the current state of the resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_Create:
          parameters:
            api-version: 2019-10-01
            configStoreCreationParameters:
              location: westus
              sku:
                name: Free
              tags:
                myTag: myTagValue
            configStoreName: contoso
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Succeeded
                sku:
                  name: Free
                tags:
                  myTag: myTagValue
                type: Microsoft.AppConfiguration/configurationStores
            "201":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Creating
                sku:
                  name: Free
                tags:
                  myTag: myTagValue
                type: Microsoft.AppConfiguration/configurationStores
        ConfigurationStores_Create_WithIdentity:
          parameters:
            api-version: 2019-10-01
            configStoreCreationParameters:
              identity:
                type: "SystemAssigned, UserAssigned"
                userAssignedIdentities:
                  ? /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2
                  : {}
              location: westus
              sku:
                name: Free
              tags:
                myTag: myTagValue
            configStoreName: contoso
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                identity:
                  principalId: AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
                  tenantId: BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
                  type: "SystemAssigned, UserAssigned"
                  userAssignedIdentities:
                    ? /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2
                    : clientId: CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC
                      principalId: DDDDDDDD-DDDD-DDDD-DDDD-DDDDDDDDDDDD
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Succeeded
                sku:
                  name: Free
                tags:
                  myTag: myTagValue
                type: Microsoft.AppConfiguration/configurationStores
            "201":
              body:
                id: /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourceGroups/myResourceGroup/providers/Microsoft.AppConfiguration/configurationStores/contoso
                identity:
                  principalId: AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
                  tenantId: BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB
                  type: "SystemAssigned, UserAssigned"
                  userAssignedIdentities:
                    ? /subscriptions/c80fb759-c965-4c6a-9110-9b2b2d038882/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2
                    : clientId: CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC
                      principalId: DDDDDDDD-DDDD-DDDD-DDDD-DDDDDDDDDDDD
                location: westus
                name: contoso
                properties:
                  creationDate: 2018-04-24T16:30:55+00:00
                  endpoint: https://contoso.azconfig.io
                  provisioningState: Creating
                sku:
                  name: Free
                tags:
                  myTag: myTagValue
                type: Microsoft.AppConfiguration/configurationStores
      x-ms-long-running-operation: true
      x-codegen-request-body-name: configStoreCreationParameters
      x-openapi-router-controller: openapi_server.controllers.configuration_stores_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/ListKeys
  : post:
      description: Lists the access key for the specified configuration store.
      operationId: configuration_stores_list_keys
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: config_store_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: "A skip token is used to continue retrieving items after an operation\
          \ returns a partial result. If a previous response contains a nextLink element,\
          \ the value of the nextLink element will include a skipToken parameter that\
          \ specifies a starting point to use for subsequent calls."
        in: query
        name: $skipToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResult'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_ListKeys:
          parameters:
            api-version: 2019-10-01
            configStoreName: contoso
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                value:
                - connectionString: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  id: 439AD01B4BE67DB1
                  lastModified: 2018-04-24T16:30:54+00:00
                  name: Primary
                  readOnly: false
                  value: "000000000000000000000000000000000000000000000000000000"
                - connectionString: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  id: CB45E100456857B9
                  lastModified: 2018-04-24T16:30:54+00:00
                  name: Secondary
                  readOnly: false
                  value: "000000000000000000000000000000000000000000000000000000"
                - connectionString: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  id: B3AC55B7E71431A9
                  lastModified: 2018-04-24T16:30:54+00:00
                  name: Primary Read Only
                  readOnly: true
                  value: "000000000000000000000000000000000000000000000000000000"
                - connectionString: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  id: E2AF6A9A89DCC177
                  lastModified: 2018-04-24T16:30:54+00:00
                  name: Secondary Read Only
                  readOnly: true
                  value: "000000000000000000000000000000000000000000000000000000"
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.configuration_stores_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/RegenerateKey
  : post:
      description: Regenerates an access key for the specified configuration store.
      operationId: configuration_stores_regenerate_key
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: config_store_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateKeyParameters'
        description: The parameters for regenerating an access key.
        required: true
        x-body-name: regenerateKeyParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_RegenerateKey:
          parameters:
            api-version: 2019-10-01
            configStoreName: contoso
            regenerateKeyParameters:
              id: 439AD01B4BE67DB1
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                connectionString: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                id: 439AD01B4BE67DB1
                lastModified: 2018-04-26T22:59:24.2370906+00:00
                name: Primary
                readOnly: false
                value: "000000000000000000000000000000000000000000000000000000"
      x-codegen-request-body-name: regenerateKeyParameters
      x-openapi-router-controller: openapi_server.controllers.configuration_stores_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/listKeyValue
  : post:
      description: Lists a configuration store key-value.
      operationId: configuration_stores_list_key_value
      parameters:
      - description: The Microsoft Azure subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: The name of the resource group to which the container registry
          belongs.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the configuration store.
        in: path
        name: config_store_name
        required: true
        schema:
          maxLength: 50
          minLength: 5
          pattern: "^[a-zA-Z0-9_-]*$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListKeyValueParameters'
        description: The parameters for retrieving a key-value.
        required: true
        x-body-name: listKeyValueParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyValue'
          description: The request was successful; the request was well-formed and
            received properly.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response describing why the operation failed
      tags:
      - ConfigurationStores
      x-ms-examples:
        ConfigurationStores_ListKeyValue:
          parameters:
            api-version: 2019-02-01-preview
            configStoreName: fayeh
            listKeyValueParameters:
              key: MaxRequests
              label: dev
            resourceGroupName: myResourceGroup
            subscriptionId: c80fb759-c965-4c6a-9110-9b2b2d038882
          responses:
            "200":
              body:
                contentType: ""
                eTag: 4f6dd610dd5e4deebc7fbaef685fb903
                key: MaxRequests
                label: dev
                lastModified: 2017-12-05T02:41:26+00:00
                locked: false
                tags:
                  t1: value1
                  t2: value2
                value: "100"
      x-codegen-request-body-name: listKeyValueParameters
      x-openapi-router-controller: openapi_server.controllers.configuration_stores_controller
components:
  parameters:
    ApiVersionParameter:
      description: The client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ConfigStoreNameParameter:
      description: The name of the configuration store.
      in: path
      name: configStoreName
      required: true
      schema:
        maxLength: 50
        minLength: 5
        pattern: "^[a-zA-Z0-9_-]*$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceGroupNameParameter:
      description: The name of the resource group to which the container registry
        belongs.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      description: The Microsoft Azure subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApiKey:
      description: An API key used for authenticating with a configuration store endpoint.
      example:
        connectionString: connectionString
        name: name
        readOnly: true
        id: id
        lastModified: 2000-01-23T04:56:07.000+00:00
        value: value
      properties:
        connectionString:
          description: A connection string that can be used by supporting clients
            for authentication.
          readOnly: true
          title: connectionString
          type: string
        id:
          description: The key ID.
          readOnly: true
          title: id
          type: string
        lastModified:
          description: The last time any of the key's properties were modified.
          format: date-time
          readOnly: true
          title: lastModified
          type: string
        name:
          description: A name for the key describing its usage.
          readOnly: true
          title: name
          type: string
        readOnly:
          description: Whether this key can only be used for read operations.
          readOnly: true
          title: readOnly
          type: boolean
        value:
          description: The value of the key that is used for authentication purposes.
          readOnly: true
          title: value
          type: string
      title: ApiKey
      type: object
    ApiKeyListResult:
      description: The result of a request to list API keys.
      example:
        value:
        - connectionString: connectionString
          name: name
          readOnly: true
          id: id
          lastModified: 2000-01-23T04:56:07.000+00:00
          value: value
        - connectionString: connectionString
          name: name
          readOnly: true
          id: id
          lastModified: 2000-01-23T04:56:07.000+00:00
          value: value
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next set of paged results.
          title: nextLink
          type: string
        value:
          description: The collection value.
          items:
            $ref: '#/components/schemas/ApiKey'
          title: value
          type: array
      title: ApiKeyListResult
      type: object
    CheckNameAvailabilityParameters:
      description: Parameters used for checking whether a resource name is available.
      example:
        name: name
        type: Microsoft.AppConfiguration/configurationStores
      properties:
        name:
          description: The name to check for availability.
          title: name
          type: string
        type:
          description: The resource type to check for name availability.
          enum:
          - Microsoft.AppConfiguration/configurationStores
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: ConfigurationResourceType
      required:
      - name
      - type
      title: CheckNameAvailabilityParameters
      type: object
    ConfigurationStore:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: The configuration store along with all resource properties. The
        Configuration Store will have all information to begin utilizing it.
      example:
        identity:
          userAssignedIdentities:
            key:
              clientId: clientId
              principalId: principalId
          tenantId: tenantId
          principalId: principalId
          type: None
        sku:
          name: name
        properties:
          endpoint: endpoint
          provisioningState: Creating
          creationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        identity:
          $ref: '#/components/schemas/ResourceIdentity'
        properties:
          $ref: '#/components/schemas/ConfigurationStoreProperties'
        sku:
          $ref: '#/components/schemas/Sku'
      required:
      - sku
      title: ConfigurationStore
    ConfigurationStoreListResult:
      description: The result of a request to list configuration stores.
      example:
        value:
        - identity:
            userAssignedIdentities:
              key:
                clientId: clientId
                principalId: principalId
            tenantId: tenantId
            principalId: principalId
            type: None
          sku:
            name: name
          properties:
            endpoint: endpoint
            provisioningState: Creating
            creationDate: 2000-01-23T04:56:07.000+00:00
        - identity:
            userAssignedIdentities:
              key:
                clientId: clientId
                principalId: principalId
            tenantId: tenantId
            principalId: principalId
            type: None
          sku:
            name: name
          properties:
            endpoint: endpoint
            provisioningState: Creating
            creationDate: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next set of paged results.
          title: nextLink
          type: string
        value:
          description: The collection value.
          items:
            $ref: '#/components/schemas/ConfigurationStore'
          title: value
          type: array
      title: ConfigurationStoreListResult
      type: object
    ConfigurationStoreProperties:
      description: The properties of a configuration store.
      example:
        endpoint: endpoint
        provisioningState: Creating
        creationDate: 2000-01-23T04:56:07.000+00:00
      properties:
        creationDate:
          description: The creation date of configuration store.
          format: date-time
          readOnly: true
          title: creationDate
          type: string
        endpoint:
          description: The DNS endpoint where the configuration store API will be
            available.
          readOnly: true
          title: endpoint
          type: string
        provisioningState:
          description: The provisioning state of the configuration store.
          enum:
          - Creating
          - Updating
          - Deleting
          - Succeeded
          - Failed
          - Canceled
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
      title: ConfigurationStoreProperties
      type: object
    ConfigurationStorePropertiesUpdateParameters:
      description: The properties for updating a configuration store.
      title: properties
      type: object
    ConfigurationStoreUpdateParameters:
      description: The parameters for updating a configuration store.
      example:
        identity:
          userAssignedIdentities:
            key:
              clientId: clientId
              principalId: principalId
          tenantId: tenantId
          principalId: principalId
          type: None
        sku:
          name: name
        properties: "{}"
        tags:
          key: tags
      properties:
        identity:
          $ref: '#/components/schemas/ResourceIdentity'
        properties:
          description: The properties for updating a configuration store.
          title: properties
          type: object
        sku:
          $ref: '#/components/schemas/Sku'
        tags:
          additionalProperties:
            type: string
          description: The ARM resource tags.
          title: tags
          type: object
      title: ConfigurationStoreUpdateParameters
      type: object
    Error:
      description: AppConfiguration error object.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          title: code
          type: string
        message:
          description: Error message.
          title: message
          type: string
      title: Error
      type: object
    KeyValue:
      description: The result of a request to retrieve a key-value from the specified
        configuration store.
      example:
        eTag: eTag
        label: label
        lastModified: 2000-01-23T04:56:07.000+00:00
        locked: true
        contentType: contentType
        value: value
        key: key
        tags:
          key: tags
      properties:
        contentType:
          description: "The content type of the key-value's value.\r\nProviding a\
            \ proper content-type can enable transformations of values when they are\
            \ retrieved by applications."
          readOnly: true
          title: contentType
          type: string
        eTag:
          description: An ETag indicating the state of a key-value within a configuration
            store.
          readOnly: true
          title: eTag
          type: string
        key:
          description: "The primary identifier of a key-value.\r\nThe key is used\
            \ in unison with the label to uniquely identify a key-value."
          readOnly: true
          title: key
          type: string
        label:
          description: "A value used to group key-values.\r\nThe label is used in\
            \ unison with the key to uniquely identify a key-value."
          readOnly: true
          title: label
          type: string
        lastModified:
          description: The last time a modifying operation was performed on the given
            key-value.
          format: date-time
          readOnly: true
          title: lastModified
          type: string
        locked:
          description: "A value indicating whether the key-value is locked.\r\nA locked\
            \ key-value may not be modified until it is unlocked."
          readOnly: true
          title: locked
          type: boolean
        tags:
          additionalProperties:
            type: string
          description: A dictionary of tags that can help identify what a key-value
            may be applicable for.
          readOnly: true
          title: tags
          type: object
        value:
          description: The value of the key-value.
          readOnly: true
          title: value
          type: string
      title: KeyValue
      type: object
    ListKeyValueParameters:
      description: The parameters used to list a configuration store key-value
      example:
        label: label
        key: key
      properties:
        key:
          description: The key to retrieve.
          title: key
          type: string
        label:
          description: The label of the key.
          title: label
          type: string
      required:
      - key
      title: ListKeyValueParameters
      type: object
    NameAvailabilityStatus:
      description: The result of a request to check the availability of a resource
        name.
      example:
        reason: reason
        nameAvailable: true
        message: message
      properties:
        message:
          description: "If any, the error message that provides more detail for the\
            \ reason that the name is not available."
          readOnly: true
          title: message
          type: string
        nameAvailable:
          description: The value indicating whether the resource name is available.
          readOnly: true
          title: nameAvailable
          type: boolean
        reason:
          description: "If any, the reason that the name is not available."
          readOnly: true
          title: reason
          type: string
      title: NameAvailabilityStatus
      type: object
    OperationDefinition:
      description: The definition of a configuration store operation.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/OperationDefinitionDisplay'
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          title: name
          type: string
      title: OperationDefinition
      type: object
    OperationDefinitionDisplay:
      description: The display information for a configuration store operation.
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: The description for the operation.
          title: description
          type: string
        operation:
          description: The operation that users can perform.
          title: operation
          type: string
        provider:
          description: "The resource provider name: Microsoft App Configuration.\""
          readOnly: true
          title: provider
          type: string
        resource:
          description: The resource on which the operation is performed.
          title: resource
          type: string
      title: OperationDefinitionDisplay
      type: object
    OperationDefinitionListResult:
      description: The result of a request to list configuration store operations.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: The URI that can be used to request the next set of paged results.
          title: nextLink
          type: string
        value:
          description: The collection value.
          items:
            $ref: '#/components/schemas/OperationDefinition'
          title: value
          type: array
      title: OperationDefinitionListResult
      type: object
    RegenerateKeyParameters:
      description: The parameters used to regenerate an API key.
      example:
        id: id
      properties:
        id:
          description: The id of the key to regenerate.
          title: id
          type: string
      title: RegenerateKeyParameters
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: The resource ID.
          readOnly: true
          title: id
          type: string
        location:
          description: The location of the resource. This cannot be changed after
            the resource is created.
          title: location
          type: string
          x-ms-mutability:
          - read
          - create
        name:
          description: The name of the resource.
          readOnly: true
          title: name
          type: string
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          title: tags
          type: object
        type:
          description: The type of the resource.
          readOnly: true
          title: type
          type: string
      required:
      - location
      title: Resource
      type: object
      x-ms-azure-resource: true
    ResourceIdentity:
      example:
        userAssignedIdentities:
          key:
            clientId: clientId
            principalId: principalId
        tenantId: tenantId
        principalId: principalId
        type: None
      properties:
        principalId:
          description: The principal id of the identity. This property will only be
            provided for a system-assigned identity.
          readOnly: true
          title: principalId
          type: string
        tenantId:
          description: The tenant id associated with the resource's identity. This
            property will only be provided for a system-assigned identity.
          readOnly: true
          title: tenantId
          type: string
        type:
          description: "The type of managed identity used. The type 'SystemAssigned,\
            \ UserAssigned' includes both an implicitly created identity and a set\
            \ of user-assigned identities. The type 'None' will remove any identities."
          enum:
          - None
          - SystemAssigned
          - UserAssigned
          - "SystemAssigned, UserAssigned"
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: IdentityType
        userAssignedIdentities:
          additionalProperties:
            $ref: '#/components/schemas/UserIdentity'
          description: "The list of user-assigned identities associated with the resource.\
            \ The user-assigned identity dictionary keys will be ARM resource ids\
            \ in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
          title: userAssignedIdentities
          type: object
      title: ResourceIdentity
      type: object
    Sku:
      description: Describes a configuration store SKU.
      example:
        name: name
      properties:
        name:
          description: The SKU name of the configuration store.
          title: name
          type: string
      required:
      - name
      title: Sku
      type: object
    UserIdentity:
      example:
        clientId: clientId
        principalId: principalId
      properties:
        clientId:
          description: The client ID of the user-assigned identity.
          readOnly: true
          title: clientId
          type: string
        principalId:
          description: The principal ID of the user-assigned identity.
          readOnly: true
          title: principalId
          type: string
      title: UserIdentity
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
