openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Provides ways to manage Bare Metal Solution hardware installed in a
    regional extension located near a Google Cloud data center.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Bare Metal Solution API
  version: v1alpha1
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
  - format: openapi
    url: https://baremetalsolution.googleapis.com/$discovery/rest?version=v1alpha1
    version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: baremetalsolution
externalDocs:
  url: https://cloud.google.com/bare-metal
servers:
- url: https://baremetalsolution.googleapis.com/
tags:
- name: projects
paths:
  /v1alpha1/{parent}/provisioningQuotas:
    get:
      description: List the budget details to provision resources on a given project.
      operationId: baremetalsolution_projects_provisioning_quotas_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The parent project containing the provisioning quotas.
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of items to return.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "The next_page_token value returned from a previous List request,\
          \ if any."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProvisioningQuotasResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
  /v1alpha1/{project}/{location}:submitProvisioningConfig:
    post:
      description: Submit a provisiong configuration for a given project.
      operationId: baremetalsolution_projects_locations_submit_provisioning_config
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. The target project of the provisioning request.
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Required. The target location of the provisioning request.
        explode: false
        in: path
        name: location
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitProvisioningConfigRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvisioningConfig'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
      x-openapi-router-controller: openapi_server.controllers.projects_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    InstanceConfig:
      description: Configuration parameters for a new instance.
      example:
        privateNetwork:
          address: address
          existingNetworkId: existingNetworkId
          networkId: networkId
        userNote: userNote
        instanceType: instanceType
        location: location
        id: id
        clientNetwork:
          address: address
          existingNetworkId: existingNetworkId
          networkId: networkId
        hyperthreading: true
        osImage: osImage
      properties:
        clientNetwork:
          $ref: '#/components/schemas/NetworkAddress'
        hyperthreading:
          description: Whether the instance should be provisioned with Hyperthreading
            enabled.
          title: hyperthreading
          type: boolean
        id:
          description: A transient unique identifier to idenfity an instance within
            an ProvisioningConfig request.
          title: id
          type: string
        instanceType:
          description: Instance type.
          title: instanceType
          type: string
        location:
          description: Location where to deploy the instance.
          title: location
          type: string
        osImage:
          description: OS image to initialize the instance.
          title: osImage
          type: string
        privateNetwork:
          $ref: '#/components/schemas/NetworkAddress'
        userNote:
          description: "User note field, it can be used by customers to add additional\
            \ information for the BMS Ops team (b/194021617)."
          title: userNote
          type: string
      title: InstanceConfig
      type: object
    InstanceQuota:
      description: A resource budget.
      example:
        availableMachineCount: 0
        instanceType: instanceType
        location: location
      properties:
        availableMachineCount:
          description: Number of machines than can be created for the given location
            and instance_type.
          format: int32
          title: availableMachineCount
          type: integer
        instanceType:
          description: Instance type.
          title: instanceType
          type: string
        location:
          description: Location where the quota applies.
          title: location
          type: string
      title: InstanceQuota
      type: object
    ListProvisioningQuotasResponse:
      description: Response for ListProvisioningQuotas.
      example:
        nextPageToken: nextPageToken
        provisioningQuotas:
        - instanceQuota:
            availableMachineCount: 0
            instanceType: instanceType
            location: location
        - instanceQuota:
            availableMachineCount: 0
            instanceType: instanceType
            location: location
      properties:
        nextPageToken:
          description: "Token to retrieve the next page of results, or empty if there\
            \ are no more results in the list."
          title: nextPageToken
          type: string
        provisioningQuotas:
          description: The provisioning quotas registered in this project.
          items:
            $ref: '#/components/schemas/ProvisioningQuota'
          title: provisioningQuotas
          type: array
      title: ListProvisioningQuotasResponse
      type: object
    LunRange:
      description: A LUN range.
      example:
        sizeGb: 6
        quantity: 0
      properties:
        quantity:
          description: Number of LUNs to create.
          format: int32
          title: quantity
          type: integer
        sizeGb:
          description: "The requested size of each LUN, in GB."
          format: int32
          title: sizeGb
          type: integer
      title: LunRange
      type: object
    NetworkAddress:
      description: A network.
      example:
        address: address
        existingNetworkId: existingNetworkId
        networkId: networkId
      properties:
        address:
          description: IP address to be assigned to the server.
          title: address
          type: string
        existingNetworkId:
          description: "Name of the existing network to use. Will be of the format\
            \ at--vlan for pre-intake UI networks like for eg, at-123456-vlan001 or\
            \ any user-defined name like for eg, my-network-name for networks provisioned\
            \ using intake UI. The field is exclusively filled only in case of an\
            \ already existing network. Mutually exclusive with network_id."
          title: existingNetworkId
          type: string
        networkId:
          description: "Name of the network to use, within the same ProvisioningConfig\
            \ request. This represents a new network being provisioned in the same\
            \ request. Can have any user-defined name like for eg, my-network-name.\
            \ Mutually exclusive with existing_network_id."
          title: networkId
          type: string
      title: NetworkAddress
      type: object
    NetworkConfig:
      description: Configuration parameters for a new network.
      example:
        vlanAttachments:
        - id: id
          pairingKey: pairingKey
        - id: id
          pairingKey: pairingKey
        bandwidth: BANDWIDTH_UNSPECIFIED
        userNote: userNote
        cidr: cidr
        location: location
        id: id
        type: TYPE_UNSPECIFIED
        serviceCidr: SERVICE_CIDR_UNSPECIFIED
      properties:
        bandwidth:
          description: Interconnect bandwidth. Set only when type is CLIENT.
          enum:
          - BANDWIDTH_UNSPECIFIED
          - BW_1_GBPS
          - BW_2_GBPS
          - BW_5_GBPS
          - BW_10_GBPS
          title: bandwidth
          type: string
        cidr:
          description: CIDR range of the network.
          title: cidr
          type: string
        id:
          description: A transient unique identifier to identify a volume within an
            ProvisioningConfig request.
          title: id
          type: string
        location:
          description: Location where to deploy the network.
          title: location
          type: string
        serviceCidr:
          description: "Service CIDR, if any."
          enum:
          - SERVICE_CIDR_UNSPECIFIED
          - DISABLED
          - HIGH_26
          - HIGH_27
          - HIGH_28
          title: serviceCidr
          type: string
        type:
          description: The type of this network.
          enum:
          - TYPE_UNSPECIFIED
          - CLIENT
          - PRIVATE
          title: type
          type: string
        userNote:
          description: "User note field, it can be used by customers to add additional\
            \ information for the BMS Ops team (b/194021617)."
          title: userNote
          type: string
        vlanAttachments:
          description: "List of VLAN attachments. As of now there are always 2 attachments,\
            \ but it is going to change in the future (multi vlan)."
          items:
            $ref: '#/components/schemas/VlanAttachment'
          title: vlanAttachments
          type: array
      title: NetworkConfig
      type: object
    NfsExport:
      description: A NFS export entry.
      example:
        machineId: machineId
        noRootSquash: true
        permissions: PERMISSIONS_UNSPECIFIED
        allowSuid: true
        cidr: cidr
        networkId: networkId
        allowDev: true
      properties:
        allowDev:
          description: Allow dev.
          title: allowDev
          type: boolean
        allowSuid:
          description: Allow the setuid flag.
          title: allowSuid
          type: boolean
        cidr:
          description: A CIDR range.
          title: cidr
          type: string
        machineId:
          description: "Either a single machine, identified by an ID, or a comma-separated\
            \ list of machine IDs."
          title: machineId
          type: string
        networkId:
          description: Network to use to publish the export.
          title: networkId
          type: string
        noRootSquash:
          description: Disable root squashing.
          title: noRootSquash
          type: boolean
        permissions:
          description: Export permissions.
          enum:
          - PERMISSIONS_UNSPECIFIED
          - READ_ONLY
          - READ_WRITE
          title: permissions
          type: string
      title: NfsExport
      type: object
    ProvisioningConfig:
      description: An provisioning configuration.
      example:
        instances:
        - privateNetwork:
            address: address
            existingNetworkId: existingNetworkId
            networkId: networkId
          userNote: userNote
          instanceType: instanceType
          location: location
          id: id
          clientNetwork:
            address: address
            existingNetworkId: existingNetworkId
            networkId: networkId
          hyperthreading: true
          osImage: osImage
        - privateNetwork:
            address: address
            existingNetworkId: existingNetworkId
            networkId: networkId
          userNote: userNote
          instanceType: instanceType
          location: location
          id: id
          clientNetwork:
            address: address
            existingNetworkId: existingNetworkId
            networkId: networkId
          hyperthreading: true
          osImage: osImage
        volumes:
        - sizeGb: 1
          protocol: PROTOCOL_UNSPECIFIED
          lunRanges:
          - sizeGb: 6
            quantity: 0
          - sizeGb: 6
            quantity: 0
          userNote: userNote
          machineIds:
          - machineIds
          - machineIds
          snapshotsEnabled: true
          location: location
          id: id
          type: TYPE_UNSPECIFIED
          nfsExports:
          - machineId: machineId
            noRootSquash: true
            permissions: PERMISSIONS_UNSPECIFIED
            allowSuid: true
            cidr: cidr
            networkId: networkId
            allowDev: true
          - machineId: machineId
            noRootSquash: true
            permissions: PERMISSIONS_UNSPECIFIED
            allowSuid: true
            cidr: cidr
            networkId: networkId
            allowDev: true
        - sizeGb: 1
          protocol: PROTOCOL_UNSPECIFIED
          lunRanges:
          - sizeGb: 6
            quantity: 0
          - sizeGb: 6
            quantity: 0
          userNote: userNote
          machineIds:
          - machineIds
          - machineIds
          snapshotsEnabled: true
          location: location
          id: id
          type: TYPE_UNSPECIFIED
          nfsExports:
          - machineId: machineId
            noRootSquash: true
            permissions: PERMISSIONS_UNSPECIFIED
            allowSuid: true
            cidr: cidr
            networkId: networkId
            allowDev: true
          - machineId: machineId
            noRootSquash: true
            permissions: PERMISSIONS_UNSPECIFIED
            allowSuid: true
            cidr: cidr
            networkId: networkId
            allowDev: true
        networks:
        - vlanAttachments:
          - id: id
            pairingKey: pairingKey
          - id: id
            pairingKey: pairingKey
          bandwidth: BANDWIDTH_UNSPECIFIED
          userNote: userNote
          cidr: cidr
          location: location
          id: id
          type: TYPE_UNSPECIFIED
          serviceCidr: SERVICE_CIDR_UNSPECIFIED
        - vlanAttachments:
          - id: id
            pairingKey: pairingKey
          - id: id
            pairingKey: pairingKey
          bandwidth: BANDWIDTH_UNSPECIFIED
          userNote: userNote
          cidr: cidr
          location: location
          id: id
          type: TYPE_UNSPECIFIED
          serviceCidr: SERVICE_CIDR_UNSPECIFIED
        ticketId: ticketId
      properties:
        instances:
          description: Instances to be created.
          items:
            $ref: '#/components/schemas/InstanceConfig'
          title: instances
          type: array
        networks:
          description: Networks to be created.
          items:
            $ref: '#/components/schemas/NetworkConfig'
          title: networks
          type: array
        ticketId:
          description: A reference to track the request.
          title: ticketId
          type: string
        volumes:
          description: Volumes to be created.
          items:
            $ref: '#/components/schemas/VolumeConfig'
          title: volumes
          type: array
      title: ProvisioningConfig
      type: object
    ProvisioningQuota:
      description: A provisioning quota for a given project.
      example:
        instanceQuota:
          availableMachineCount: 0
          instanceType: instanceType
          location: location
      properties:
        instanceQuota:
          $ref: '#/components/schemas/InstanceQuota'
      title: ProvisioningQuota
      type: object
    SubmitProvisioningConfigRequest:
      description: Request for SubmitProvisioningConfig.
      example:
        provisioningConfig:
          instances:
          - privateNetwork:
              address: address
              existingNetworkId: existingNetworkId
              networkId: networkId
            userNote: userNote
            instanceType: instanceType
            location: location
            id: id
            clientNetwork:
              address: address
              existingNetworkId: existingNetworkId
              networkId: networkId
            hyperthreading: true
            osImage: osImage
          - privateNetwork:
              address: address
              existingNetworkId: existingNetworkId
              networkId: networkId
            userNote: userNote
            instanceType: instanceType
            location: location
            id: id
            clientNetwork:
              address: address
              existingNetworkId: existingNetworkId
              networkId: networkId
            hyperthreading: true
            osImage: osImage
          volumes:
          - sizeGb: 1
            protocol: PROTOCOL_UNSPECIFIED
            lunRanges:
            - sizeGb: 6
              quantity: 0
            - sizeGb: 6
              quantity: 0
            userNote: userNote
            machineIds:
            - machineIds
            - machineIds
            snapshotsEnabled: true
            location: location
            id: id
            type: TYPE_UNSPECIFIED
            nfsExports:
            - machineId: machineId
              noRootSquash: true
              permissions: PERMISSIONS_UNSPECIFIED
              allowSuid: true
              cidr: cidr
              networkId: networkId
              allowDev: true
            - machineId: machineId
              noRootSquash: true
              permissions: PERMISSIONS_UNSPECIFIED
              allowSuid: true
              cidr: cidr
              networkId: networkId
              allowDev: true
          - sizeGb: 1
            protocol: PROTOCOL_UNSPECIFIED
            lunRanges:
            - sizeGb: 6
              quantity: 0
            - sizeGb: 6
              quantity: 0
            userNote: userNote
            machineIds:
            - machineIds
            - machineIds
            snapshotsEnabled: true
            location: location
            id: id
            type: TYPE_UNSPECIFIED
            nfsExports:
            - machineId: machineId
              noRootSquash: true
              permissions: PERMISSIONS_UNSPECIFIED
              allowSuid: true
              cidr: cidr
              networkId: networkId
              allowDev: true
            - machineId: machineId
              noRootSquash: true
              permissions: PERMISSIONS_UNSPECIFIED
              allowSuid: true
              cidr: cidr
              networkId: networkId
              allowDev: true
          networks:
          - vlanAttachments:
            - id: id
              pairingKey: pairingKey
            - id: id
              pairingKey: pairingKey
            bandwidth: BANDWIDTH_UNSPECIFIED
            userNote: userNote
            cidr: cidr
            location: location
            id: id
            type: TYPE_UNSPECIFIED
            serviceCidr: SERVICE_CIDR_UNSPECIFIED
          - vlanAttachments:
            - id: id
              pairingKey: pairingKey
            - id: id
              pairingKey: pairingKey
            bandwidth: BANDWIDTH_UNSPECIFIED
            userNote: userNote
            cidr: cidr
            location: location
            id: id
            type: TYPE_UNSPECIFIED
            serviceCidr: SERVICE_CIDR_UNSPECIFIED
          ticketId: ticketId
        email: email
      properties:
        email:
          description: Optional. Email provided to send a confirmation with provisioning
            config to.
          title: email
          type: string
        provisioningConfig:
          $ref: '#/components/schemas/ProvisioningConfig'
      title: SubmitProvisioningConfigRequest
      type: object
    VlanAttachment:
      description: A GCP vlan attachment.
      example:
        id: id
        pairingKey: pairingKey
      properties:
        id:
          description: Identifier of the VLAN attachment.
          title: id
          type: string
        pairingKey:
          description: Attachment pairing key.
          title: pairingKey
          type: string
      title: VlanAttachment
      type: object
    VolumeConfig:
      description: Configuration parameters for a new volume.
      example:
        sizeGb: 1
        protocol: PROTOCOL_UNSPECIFIED
        lunRanges:
        - sizeGb: 6
          quantity: 0
        - sizeGb: 6
          quantity: 0
        userNote: userNote
        machineIds:
        - machineIds
        - machineIds
        snapshotsEnabled: true
        location: location
        id: id
        type: TYPE_UNSPECIFIED
        nfsExports:
        - machineId: machineId
          noRootSquash: true
          permissions: PERMISSIONS_UNSPECIFIED
          allowSuid: true
          cidr: cidr
          networkId: networkId
          allowDev: true
        - machineId: machineId
          noRootSquash: true
          permissions: PERMISSIONS_UNSPECIFIED
          allowSuid: true
          cidr: cidr
          networkId: networkId
          allowDev: true
      properties:
        id:
          description: A transient unique identifier to identify a volume within an
            ProvisioningConfig request.
          title: id
          type: string
        location:
          description: Location where to deploy the volume.
          title: location
          type: string
        lunRanges:
          description: LUN ranges to be configured. Set only when protocol is PROTOCOL_FC.
          items:
            $ref: '#/components/schemas/LunRange'
          title: lunRanges
          type: array
        machineIds:
          description: Machine ids connected to this volume. Set only when protocol
            is PROTOCOL_FC.
          items:
            type: string
          title: machineIds
          type: array
        nfsExports:
          description: NFS exports. Set only when protocol is PROTOCOL_NFS.
          items:
            $ref: '#/components/schemas/NfsExport'
          title: nfsExports
          type: array
        protocol:
          description: Volume protocol.
          enum:
          - PROTOCOL_UNSPECIFIED
          - PROTOCOL_FC
          - PROTOCOL_NFS
          title: protocol
          type: string
        sizeGb:
          description: "The requested size of this volume, in GB. This will be updated\
            \ in a later iteration with a generic size field."
          format: int32
          title: sizeGb
          type: integer
        snapshotsEnabled:
          description: Whether snapshots should be enabled.
          title: snapshotsEnabled
          type: boolean
        type:
          description: The type of this Volume.
          enum:
          - TYPE_UNSPECIFIED
          - FLASH
          - DISK
          title: type
          type: string
        userNote:
          description: "User note field, it can be used by customers to add additional\
            \ information for the BMS Ops team (b/194021617)."
          title: userNote
          type: string
      title: VolumeConfig
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: "See, edit, configure,\
              \ and delete your Google Cloud data and see the email address for your\
              \ Google Account."
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_Oauth2c
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_Oauth2c
