openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2016-09-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2016-09-01/applicationGateway.json
    version: "2.0"
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2016-09-01/applicationGateway.json
    version: "2.0"
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2016-09-01/applicationGateway.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-applicationGateway
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways:
    get:
      description: Gets all the application gateways in a subscription.
      operationId: ApplicationGateways_ListAll
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
          description: Success. The operation returns a list of ApplicationGateway
            resources.
      tags:
      - ApplicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways:
    get:
      description: Lists all application gateways in a resource group.
      operationId: ApplicationGateways_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
          description: Success. The operation returns a list of ApplicationGateway
            resources.
      tags:
      - ApplicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}
  : delete:
      description: Deletes the specified application gateway.
      operationId: ApplicationGateways_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Request successful. Resource with the specified name does not
            exist
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the specified application gateway.
      operationId: ApplicationGateways_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: Request successful. The operation returns an ApplicationGateway
            resource.
      tags:
      - ApplicationGateways
      x-accepts:
      - application/json
      - text/json
    put:
      description: Creates or updates the specified application gateway.
      operationId: ApplicationGateways_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGateway'
          text/json:
            schema:
              $ref: '#/components/schemas/ApplicationGateway'
        description: Parameters supplied to the create or update application gateway
          operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: Update successful. The operation returns the resulting ApplicationGateway
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: Create successful. The operation returns the resulting ApplicationGateway
            resource.
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/backendhealth
  : post:
      description: Gets the backend health of the specified application gateway in
        a resource group.
      operationId: ApplicationGateways_BackendHealth
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Expands BackendAddressPool and BackendHttpSettings referenced
          in backend health.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayBackendHealth'
            text/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayBackendHealth'
          description: Request successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/start
  : post:
      description: Starts the specified application gateway.
      operationId: ApplicationGateways_Start
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. The operation starts the ApplicationGateway
            resource.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/stop
  : post:
      description: Stops the specified application gateway in a resource group.
      operationId: ApplicationGateways_Stop
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. The operation stops the ApplicationGateway
            resource.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApplicationGateway:
      allOf:
      - properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Application gateway resource
      example:
        etag: etag
        properties:
          sslCertificates:
          - name: name
            etag: etag
            properties:
              password: password
              data: data
              provisioningState: provisioningState
              publicCertData: publicCertData
          - name: name
            etag: etag
            properties:
              password: password
              data: data
              provisioningState: provisioningState
              publicCertData: publicCertData
          resourceGuid: resourceGuid
          sslPolicy:
            disabledSslProtocols:
            - TLSv1_0
            - TLSv1_0
          backendHttpSettingsCollection:
          - name: name
            etag: etag
            properties:
              authenticationCertificates:
              - "{}"
              - "{}"
              protocol: Http
              port: 2
              cookieBasedAffinity: Enabled
              provisioningState: provisioningState
              requestTimeout: 7
              probe: "{}"
          - name: name
            etag: etag
            properties:
              authenticationCertificates:
              - "{}"
              - "{}"
              protocol: Http
              port: 2
              cookieBasedAffinity: Enabled
              provisioningState: provisioningState
              requestTimeout: 7
              probe: "{}"
          urlPathMaps:
          - name: name
            etag: etag
            properties:
              defaultBackendHttpSettings: "{}"
              pathRules:
              - name: name
                etag: etag
                properties:
                  paths:
                  - paths
                  - paths
                  backendAddressPool: "{}"
                  provisioningState: provisioningState
                  backendHttpSettings: "{}"
              - name: name
                etag: etag
                properties:
                  paths:
                  - paths
                  - paths
                  backendAddressPool: "{}"
                  provisioningState: provisioningState
                  backendHttpSettings: "{}"
              defaultBackendAddressPool: "{}"
              provisioningState: provisioningState
          - name: name
            etag: etag
            properties:
              defaultBackendHttpSettings: "{}"
              pathRules:
              - name: name
                etag: etag
                properties:
                  paths:
                  - paths
                  - paths
                  backendAddressPool: "{}"
                  provisioningState: provisioningState
                  backendHttpSettings: "{}"
              - name: name
                etag: etag
                properties:
                  paths:
                  - paths
                  - paths
                  backendAddressPool: "{}"
                  provisioningState: provisioningState
                  backendHttpSettings: "{}"
              defaultBackendAddressPool: "{}"
              provisioningState: provisioningState
          provisioningState: provisioningState
          frontendPorts:
          - name: name
            etag: etag
            properties:
              port: 9
              provisioningState: provisioningState
          - name: name
            etag: etag
            properties:
              port: 9
              provisioningState: provisioningState
          requestRoutingRules:
          - name: name
            etag: etag
            properties:
              httpListener: "{}"
              ruleType: Basic
              backendAddressPool: "{}"
              provisioningState: provisioningState
              urlPathMap: "{}"
              backendHttpSettings: "{}"
          - name: name
            etag: etag
            properties:
              httpListener: "{}"
              ruleType: Basic
              backendAddressPool: "{}"
              provisioningState: provisioningState
              urlPathMap: "{}"
              backendHttpSettings: "{}"
          webApplicationFirewallConfiguration:
            firewallMode: Detection
            enabled: true
          authenticationCertificates:
          - name: name
            etag: etag
            properties:
              data: data
              provisioningState: provisioningState
          - name: name
            etag: etag
            properties:
              data: data
              provisioningState: provisioningState
          gatewayIPConfigurations:
          - name: name
            etag: etag
            properties:
              subnet: "{}"
              provisioningState: provisioningState
          - name: name
            etag: etag
            properties:
              subnet: "{}"
              provisioningState: provisioningState
          probes:
          - name: name
            etag: etag
            properties:
              path: path
              protocol: Http
              host: host
              unhealthyThreshold: 4
              interval: 3
              provisioningState: provisioningState
              timeout: 2
          - name: name
            etag: etag
            properties:
              path: path
              protocol: Http
              host: host
              unhealthyThreshold: 4
              interval: 3
              provisioningState: provisioningState
              timeout: 2
          frontendIPConfigurations:
          - name: name
            etag: etag
            properties:
              subnet: "{}"
              privateIPAllocationMethod: Static
              privateIPAddress: privateIPAddress
              provisioningState: provisioningState
              publicIPAddress: "{}"
          - name: name
            etag: etag
            properties:
              subnet: "{}"
              privateIPAllocationMethod: Static
              privateIPAddress: privateIPAddress
              provisioningState: provisioningState
              publicIPAddress: "{}"
          operationalState: Stopped
          backendAddressPools:
          - name: name
            etag: etag
            properties:
              backendIPConfigurations:
              - name: name
                etag: etag
                properties:
                  applicationGatewayBackendAddressPools:
                  - name: name
                    etag: etag
                    properties:
                      backendIPConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      provisioningState: provisioningState
                      backendAddresses:
                      - fqdn: fqdn
                        ipAddress: ipAddress
                      - fqdn: fqdn
                        ipAddress: ipAddress
                  - name: name
                    etag: etag
                    properties:
                      backendIPConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      provisioningState: provisioningState
                      backendAddresses:
                      - fqdn: fqdn
                        ipAddress: ipAddress
                      - fqdn: fqdn
                        ipAddress: ipAddress
                  subnet:
                    name: name
                    etag: etag
                    properties:
                      ipConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          subnet: "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          provisioningState: provisioningState
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          subnet: "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          provisioningState: provisioningState
                          publicIPAddress: "{}"
                      resourceNavigationLinks:
                      - name: name
                        etag: etag
                        properties:
                          link: link
                          linkedResourceType: linkedResourceType
                          provisioningState: provisioningState
                      - name: name
                        etag: etag
                        properties:
                          link: link
                          linkedResourceType: linkedResourceType
                          provisioningState: provisioningState
                      routeTable:
                        etag: etag
                        properties:
                          routes:
                          - name: name
                            etag: etag
                            properties:
                              addressPrefix: addressPrefix
                              nextHopType: VirtualNetworkGateway
                              nextHopIpAddress: nextHopIpAddress
                              provisioningState: provisioningState
                          - name: name
                            etag: etag
                            properties:
                              addressPrefix: addressPrefix
                              nextHopType: VirtualNetworkGateway
                              nextHopIpAddress: nextHopIpAddress
                              provisioningState: provisioningState
                          subnets:
                          - "{}"
                          - "{}"
                          provisioningState: provisioningState
                      addressPrefix: addressPrefix
                      provisioningState: provisioningState
                      networkSecurityGroup:
                        etag: etag
                        properties:
                          defaultSecurityRules:
                          - "{}"
                          - "{}"
                          networkInterfaces:
                          - etag: etag
                            properties:
                              ipConfigurations:
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              virtualMachine: "{}"
                              macAddress: macAddress
                              dnsSettings:
                                appliedDnsServers:
                                - appliedDnsServers
                                - appliedDnsServers
                                internalDnsNameLabel: internalDnsNameLabel
                                internalDomainNameSuffix: internalDomainNameSuffix
                                internalFqdn: internalFqdn
                                dnsServers:
                                - dnsServers
                                - dnsServers
                              resourceGuid: resourceGuid
                              enableAcceleratedNetworking: true
                              provisioningState: provisioningState
                              enableIPForwarding: true
                              networkSecurityGroup: "{}"
                              primary: true
                          - etag: etag
                            properties:
                              ipConfigurations:
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              virtualMachine: "{}"
                              macAddress: macAddress
                              dnsSettings:
                                appliedDnsServers:
                                - appliedDnsServers
                                - appliedDnsServers
                                internalDnsNameLabel: internalDnsNameLabel
                                internalDomainNameSuffix: internalDomainNameSuffix
                                internalFqdn: internalFqdn
                                dnsServers:
                                - dnsServers
                                - dnsServers
                              resourceGuid: resourceGuid
                              enableAcceleratedNetworking: true
                              provisioningState: provisioningState
                              enableIPForwarding: true
                              networkSecurityGroup: "{}"
                              primary: true
                          resourceGuid: resourceGuid
                          securityRules:
                          - name: name
                            etag: etag
                            properties:
                              destinationAddressPrefix: destinationAddressPrefix
                              protocol: Tcp
                              access: Allow
                              sourcePortRange: sourcePortRange
                              sourceAddressPrefix: sourceAddressPrefix
                              destinationPortRange: destinationPortRange
                              description: description
                              provisioningState: provisioningState
                              priority: 5
                              direction: Inbound
                          - name: name
                            etag: etag
                            properties:
                              destinationAddressPrefix: destinationAddressPrefix
                              protocol: Tcp
                              access: Allow
                              sourcePortRange: sourcePortRange
                              sourceAddressPrefix: sourceAddressPrefix
                              destinationPortRange: destinationPortRange
                              description: description
                              provisioningState: provisioningState
                              priority: 5
                              direction: Inbound
                          subnets:
                          - "{}"
                          - "{}"
                          provisioningState: provisioningState
                  loadBalancerInboundNatRules:
                  - name: name
                    etag: etag
                    properties:
                      enableFloatingIP: true
                      protocol: Udp
                      backendPort: 0
                      backendIPConfiguration: "{}"
                      frontendIPConfiguration: "{}"
                      idleTimeoutInMinutes: 1
                      frontendPort: 6
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      enableFloatingIP: true
                      protocol: Udp
                      backendPort: 0
                      backendIPConfiguration: "{}"
                      frontendIPConfiguration: "{}"
                      idleTimeoutInMinutes: 1
                      frontendPort: 6
                      provisioningState: provisioningState
                  privateIPAllocationMethod: Static
                  privateIPAddress: privateIPAddress
                  privateIPAddressVersion: IPv4
                  provisioningState: provisioningState
                  loadBalancerBackendAddressPools:
                  - name: name
                    etag: etag
                    properties:
                      outboundNatRule: "{}"
                      loadBalancingRules:
                      - "{}"
                      - "{}"
                      backendIPConfigurations:
                      - "{}"
                      - "{}"
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      outboundNatRule: "{}"
                      loadBalancingRules:
                      - "{}"
                      - "{}"
                      backendIPConfigurations:
                      - "{}"
                      - "{}"
                      provisioningState: provisioningState
                  primary: true
                  publicIPAddress:
                    etag: etag
                    properties:
                      publicIPAddressVersion: IPv4
                      dnsSettings:
                        reverseFqdn: reverseFqdn
                        fqdn: fqdn
                        domainNameLabel: domainNameLabel
                      ipConfiguration: "{}"
                      resourceGuid: resourceGuid
                      idleTimeoutInMinutes: 5
                      ipAddress: ipAddress
                      provisioningState: provisioningState
                      publicIPAllocationMethod: Static
              - name: name
                etag: etag
                properties:
                  applicationGatewayBackendAddressPools:
                  - name: name
                    etag: etag
                    properties:
                      backendIPConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      provisioningState: provisioningState
                      backendAddresses:
                      - fqdn: fqdn
                        ipAddress: ipAddress
                      - fqdn: fqdn
                        ipAddress: ipAddress
                  - name: name
                    etag: etag
                    properties:
                      backendIPConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      provisioningState: provisioningState
                      backendAddresses:
                      - fqdn: fqdn
                        ipAddress: ipAddress
                      - fqdn: fqdn
                        ipAddress: ipAddress
                  subnet:
                    name: name
                    etag: etag
                    properties:
                      ipConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          subnet: "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          provisioningState: provisioningState
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          subnet: "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          provisioningState: provisioningState
                          publicIPAddress: "{}"
                      resourceNavigationLinks:
                      - name: name
                        etag: etag
                        properties:
                          link: link
                          linkedResourceType: linkedResourceType
                          provisioningState: provisioningState
                      - name: name
                        etag: etag
                        properties:
                          link: link
                          linkedResourceType: linkedResourceType
                          provisioningState: provisioningState
                      routeTable:
                        etag: etag
                        properties:
                          routes:
                          - name: name
                            etag: etag
                            properties:
                              addressPrefix: addressPrefix
                              nextHopType: VirtualNetworkGateway
                              nextHopIpAddress: nextHopIpAddress
                              provisioningState: provisioningState
                          - name: name
                            etag: etag
                            properties:
                              addressPrefix: addressPrefix
                              nextHopType: VirtualNetworkGateway
                              nextHopIpAddress: nextHopIpAddress
                              provisioningState: provisioningState
                          subnets:
                          - "{}"
                          - "{}"
                          provisioningState: provisioningState
                      addressPrefix: addressPrefix
                      provisioningState: provisioningState
                      networkSecurityGroup:
                        etag: etag
                        properties:
                          defaultSecurityRules:
                          - "{}"
                          - "{}"
                          networkInterfaces:
                          - etag: etag
                            properties:
                              ipConfigurations:
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              virtualMachine: "{}"
                              macAddress: macAddress
                              dnsSettings:
                                appliedDnsServers:
                                - appliedDnsServers
                                - appliedDnsServers
                                internalDnsNameLabel: internalDnsNameLabel
                                internalDomainNameSuffix: internalDomainNameSuffix
                                internalFqdn: internalFqdn
                                dnsServers:
                                - dnsServers
                                - dnsServers
                              resourceGuid: resourceGuid
                              enableAcceleratedNetworking: true
                              provisioningState: provisioningState
                              enableIPForwarding: true
                              networkSecurityGroup: "{}"
                              primary: true
                          - etag: etag
                            properties:
                              ipConfigurations:
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              virtualMachine: "{}"
                              macAddress: macAddress
                              dnsSettings:
                                appliedDnsServers:
                                - appliedDnsServers
                                - appliedDnsServers
                                internalDnsNameLabel: internalDnsNameLabel
                                internalDomainNameSuffix: internalDomainNameSuffix
                                internalFqdn: internalFqdn
                                dnsServers:
                                - dnsServers
                                - dnsServers
                              resourceGuid: resourceGuid
                              enableAcceleratedNetworking: true
                              provisioningState: provisioningState
                              enableIPForwarding: true
                              networkSecurityGroup: "{}"
                              primary: true
                          resourceGuid: resourceGuid
                          securityRules:
                          - name: name
                            etag: etag
                            properties:
                              destinationAddressPrefix: destinationAddressPrefix
                              protocol: Tcp
                              access: Allow
                              sourcePortRange: sourcePortRange
                              sourceAddressPrefix: sourceAddressPrefix
                              destinationPortRange: destinationPortRange
                              description: description
                              provisioningState: provisioningState
                              priority: 5
                              direction: Inbound
                          - name: name
                            etag: etag
                            properties:
                              destinationAddressPrefix: destinationAddressPrefix
                              protocol: Tcp
                              access: Allow
                              sourcePortRange: sourcePortRange
                              sourceAddressPrefix: sourceAddressPrefix
                              destinationPortRange: destinationPortRange
                              description: description
                              provisioningState: provisioningState
                              priority: 5
                              direction: Inbound
                          subnets:
                          - "{}"
                          - "{}"
                          provisioningState: provisioningState
                  loadBalancerInboundNatRules:
                  - name: name
                    etag: etag
                    properties:
                      enableFloatingIP: true
                      protocol: Udp
                      backendPort: 0
                      backendIPConfiguration: "{}"
                      frontendIPConfiguration: "{}"
                      idleTimeoutInMinutes: 1
                      frontendPort: 6
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      enableFloatingIP: true
                      protocol: Udp
                      backendPort: 0
                      backendIPConfiguration: "{}"
                      frontendIPConfiguration: "{}"
                      idleTimeoutInMinutes: 1
                      frontendPort: 6
                      provisioningState: provisioningState
                  privateIPAllocationMethod: Static
                  privateIPAddress: privateIPAddress
                  privateIPAddressVersion: IPv4
                  provisioningState: provisioningState
                  loadBalancerBackendAddressPools:
                  - name: name
                    etag: etag
                    properties:
                      outboundNatRule: "{}"
                      loadBalancingRules:
                      - "{}"
                      - "{}"
                      backendIPConfigurations:
                      - "{}"
                      - "{}"
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      outboundNatRule: "{}"
                      loadBalancingRules:
                      - "{}"
                      - "{}"
                      backendIPConfigurations:
                      - "{}"
                      - "{}"
                      provisioningState: provisioningState
                  primary: true
                  publicIPAddress:
                    etag: etag
                    properties:
                      publicIPAddressVersion: IPv4
                      dnsSettings:
                        reverseFqdn: reverseFqdn
                        fqdn: fqdn
                        domainNameLabel: domainNameLabel
                      ipConfiguration: "{}"
                      resourceGuid: resourceGuid
                      idleTimeoutInMinutes: 5
                      ipAddress: ipAddress
                      provisioningState: provisioningState
                      publicIPAllocationMethod: Static
              provisioningState: provisioningState
              backendAddresses:
              - fqdn: fqdn
                ipAddress: ipAddress
              - fqdn: fqdn
                ipAddress: ipAddress
          - name: name
            etag: etag
            properties:
              backendIPConfigurations:
              - name: name
                etag: etag
                properties:
                  applicationGatewayBackendAddressPools:
                  - name: name
                    etag: etag
                    properties:
                      backendIPConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      provisioningState: provisioningState
                      backendAddresses:
                      - fqdn: fqdn
                        ipAddress: ipAddress
                      - fqdn: fqdn
                        ipAddress: ipAddress
                  - name: name
                    etag: etag
                    properties:
                      backendIPConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      provisioningState: provisioningState
                      backendAddresses:
                      - fqdn: fqdn
                        ipAddress: ipAddress
                      - fqdn: fqdn
                        ipAddress: ipAddress
                  subnet:
                    name: name
                    etag: etag
                    properties:
                      ipConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          subnet: "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          provisioningState: provisioningState
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          subnet: "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          provisioningState: provisioningState
                          publicIPAddress: "{}"
                      resourceNavigationLinks:
                      - name: name
                        etag: etag
                        properties:
                          link: link
                          linkedResourceType: linkedResourceType
                          provisioningState: provisioningState
                      - name: name
                        etag: etag
                        properties:
                          link: link
                          linkedResourceType: linkedResourceType
                          provisioningState: provisioningState
                      routeTable:
                        etag: etag
                        properties:
                          routes:
                          - name: name
                            etag: etag
                            properties:
                              addressPrefix: addressPrefix
                              nextHopType: VirtualNetworkGateway
                              nextHopIpAddress: nextHopIpAddress
                              provisioningState: provisioningState
                          - name: name
                            etag: etag
                            properties:
                              addressPrefix: addressPrefix
                              nextHopType: VirtualNetworkGateway
                              nextHopIpAddress: nextHopIpAddress
                              provisioningState: provisioningState
                          subnets:
                          - "{}"
                          - "{}"
                          provisioningState: provisioningState
                      addressPrefix: addressPrefix
                      provisioningState: provisioningState
                      networkSecurityGroup:
                        etag: etag
                        properties:
                          defaultSecurityRules:
                          - "{}"
                          - "{}"
                          networkInterfaces:
                          - etag: etag
                            properties:
                              ipConfigurations:
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              virtualMachine: "{}"
                              macAddress: macAddress
                              dnsSettings:
                                appliedDnsServers:
                                - appliedDnsServers
                                - appliedDnsServers
                                internalDnsNameLabel: internalDnsNameLabel
                                internalDomainNameSuffix: internalDomainNameSuffix
                                internalFqdn: internalFqdn
                                dnsServers:
                                - dnsServers
                                - dnsServers
                              resourceGuid: resourceGuid
                              enableAcceleratedNetworking: true
                              provisioningState: provisioningState
                              enableIPForwarding: true
                              networkSecurityGroup: "{}"
                              primary: true
                          - etag: etag
                            properties:
                              ipConfigurations:
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              virtualMachine: "{}"
                              macAddress: macAddress
                              dnsSettings:
                                appliedDnsServers:
                                - appliedDnsServers
                                - appliedDnsServers
                                internalDnsNameLabel: internalDnsNameLabel
                                internalDomainNameSuffix: internalDomainNameSuffix
                                internalFqdn: internalFqdn
                                dnsServers:
                                - dnsServers
                                - dnsServers
                              resourceGuid: resourceGuid
                              enableAcceleratedNetworking: true
                              provisioningState: provisioningState
                              enableIPForwarding: true
                              networkSecurityGroup: "{}"
                              primary: true
                          resourceGuid: resourceGuid
                          securityRules:
                          - name: name
                            etag: etag
                            properties:
                              destinationAddressPrefix: destinationAddressPrefix
                              protocol: Tcp
                              access: Allow
                              sourcePortRange: sourcePortRange
                              sourceAddressPrefix: sourceAddressPrefix
                              destinationPortRange: destinationPortRange
                              description: description
                              provisioningState: provisioningState
                              priority: 5
                              direction: Inbound
                          - name: name
                            etag: etag
                            properties:
                              destinationAddressPrefix: destinationAddressPrefix
                              protocol: Tcp
                              access: Allow
                              sourcePortRange: sourcePortRange
                              sourceAddressPrefix: sourceAddressPrefix
                              destinationPortRange: destinationPortRange
                              description: description
                              provisioningState: provisioningState
                              priority: 5
                              direction: Inbound
                          subnets:
                          - "{}"
                          - "{}"
                          provisioningState: provisioningState
                  loadBalancerInboundNatRules:
                  - name: name
                    etag: etag
                    properties:
                      enableFloatingIP: true
                      protocol: Udp
                      backendPort: 0
                      backendIPConfiguration: "{}"
                      frontendIPConfiguration: "{}"
                      idleTimeoutInMinutes: 1
                      frontendPort: 6
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      enableFloatingIP: true
                      protocol: Udp
                      backendPort: 0
                      backendIPConfiguration: "{}"
                      frontendIPConfiguration: "{}"
                      idleTimeoutInMinutes: 1
                      frontendPort: 6
                      provisioningState: provisioningState
                  privateIPAllocationMethod: Static
                  privateIPAddress: privateIPAddress
                  privateIPAddressVersion: IPv4
                  provisioningState: provisioningState
                  loadBalancerBackendAddressPools:
                  - name: name
                    etag: etag
                    properties:
                      outboundNatRule: "{}"
                      loadBalancingRules:
                      - "{}"
                      - "{}"
                      backendIPConfigurations:
                      - "{}"
                      - "{}"
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      outboundNatRule: "{}"
                      loadBalancingRules:
                      - "{}"
                      - "{}"
                      backendIPConfigurations:
                      - "{}"
                      - "{}"
                      provisioningState: provisioningState
                  primary: true
                  publicIPAddress:
                    etag: etag
                    properties:
                      publicIPAddressVersion: IPv4
                      dnsSettings:
                        reverseFqdn: reverseFqdn
                        fqdn: fqdn
                        domainNameLabel: domainNameLabel
                      ipConfiguration: "{}"
                      resourceGuid: resourceGuid
                      idleTimeoutInMinutes: 5
                      ipAddress: ipAddress
                      provisioningState: provisioningState
                      publicIPAllocationMethod: Static
              - name: name
                etag: etag
                properties:
                  applicationGatewayBackendAddressPools:
                  - name: name
                    etag: etag
                    properties:
                      backendIPConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      provisioningState: provisioningState
                      backendAddresses:
                      - fqdn: fqdn
                        ipAddress: ipAddress
                      - fqdn: fqdn
                        ipAddress: ipAddress
                  - name: name
                    etag: etag
                    properties:
                      backendIPConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      provisioningState: provisioningState
                      backendAddresses:
                      - fqdn: fqdn
                        ipAddress: ipAddress
                      - fqdn: fqdn
                        ipAddress: ipAddress
                  subnet:
                    name: name
                    etag: etag
                    properties:
                      ipConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          subnet: "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          provisioningState: provisioningState
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          subnet: "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          provisioningState: provisioningState
                          publicIPAddress: "{}"
                      resourceNavigationLinks:
                      - name: name
                        etag: etag
                        properties:
                          link: link
                          linkedResourceType: linkedResourceType
                          provisioningState: provisioningState
                      - name: name
                        etag: etag
                        properties:
                          link: link
                          linkedResourceType: linkedResourceType
                          provisioningState: provisioningState
                      routeTable:
                        etag: etag
                        properties:
                          routes:
                          - name: name
                            etag: etag
                            properties:
                              addressPrefix: addressPrefix
                              nextHopType: VirtualNetworkGateway
                              nextHopIpAddress: nextHopIpAddress
                              provisioningState: provisioningState
                          - name: name
                            etag: etag
                            properties:
                              addressPrefix: addressPrefix
                              nextHopType: VirtualNetworkGateway
                              nextHopIpAddress: nextHopIpAddress
                              provisioningState: provisioningState
                          subnets:
                          - "{}"
                          - "{}"
                          provisioningState: provisioningState
                      addressPrefix: addressPrefix
                      provisioningState: provisioningState
                      networkSecurityGroup:
                        etag: etag
                        properties:
                          defaultSecurityRules:
                          - "{}"
                          - "{}"
                          networkInterfaces:
                          - etag: etag
                            properties:
                              ipConfigurations:
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              virtualMachine: "{}"
                              macAddress: macAddress
                              dnsSettings:
                                appliedDnsServers:
                                - appliedDnsServers
                                - appliedDnsServers
                                internalDnsNameLabel: internalDnsNameLabel
                                internalDomainNameSuffix: internalDomainNameSuffix
                                internalFqdn: internalFqdn
                                dnsServers:
                                - dnsServers
                                - dnsServers
                              resourceGuid: resourceGuid
                              enableAcceleratedNetworking: true
                              provisioningState: provisioningState
                              enableIPForwarding: true
                              networkSecurityGroup: "{}"
                              primary: true
                          - etag: etag
                            properties:
                              ipConfigurations:
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              virtualMachine: "{}"
                              macAddress: macAddress
                              dnsSettings:
                                appliedDnsServers:
                                - appliedDnsServers
                                - appliedDnsServers
                                internalDnsNameLabel: internalDnsNameLabel
                                internalDomainNameSuffix: internalDomainNameSuffix
                                internalFqdn: internalFqdn
                                dnsServers:
                                - dnsServers
                                - dnsServers
                              resourceGuid: resourceGuid
                              enableAcceleratedNetworking: true
                              provisioningState: provisioningState
                              enableIPForwarding: true
                              networkSecurityGroup: "{}"
                              primary: true
                          resourceGuid: resourceGuid
                          securityRules:
                          - name: name
                            etag: etag
                            properties:
                              destinationAddressPrefix: destinationAddressPrefix
                              protocol: Tcp
                              access: Allow
                              sourcePortRange: sourcePortRange
                              sourceAddressPrefix: sourceAddressPrefix
                              destinationPortRange: destinationPortRange
                              description: description
                              provisioningState: provisioningState
                              priority: 5
                              direction: Inbound
                          - name: name
                            etag: etag
                            properties:
                              destinationAddressPrefix: destinationAddressPrefix
                              protocol: Tcp
                              access: Allow
                              sourcePortRange: sourcePortRange
                              sourceAddressPrefix: sourceAddressPrefix
                              destinationPortRange: destinationPortRange
                              description: description
                              provisioningState: provisioningState
                              priority: 5
                              direction: Inbound
                          subnets:
                          - "{}"
                          - "{}"
                          provisioningState: provisioningState
                  loadBalancerInboundNatRules:
                  - name: name
                    etag: etag
                    properties:
                      enableFloatingIP: true
                      protocol: Udp
                      backendPort: 0
                      backendIPConfiguration: "{}"
                      frontendIPConfiguration: "{}"
                      idleTimeoutInMinutes: 1
                      frontendPort: 6
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      enableFloatingIP: true
                      protocol: Udp
                      backendPort: 0
                      backendIPConfiguration: "{}"
                      frontendIPConfiguration: "{}"
                      idleTimeoutInMinutes: 1
                      frontendPort: 6
                      provisioningState: provisioningState
                  privateIPAllocationMethod: Static
                  privateIPAddress: privateIPAddress
                  privateIPAddressVersion: IPv4
                  provisioningState: provisioningState
                  loadBalancerBackendAddressPools:
                  - name: name
                    etag: etag
                    properties:
                      outboundNatRule: "{}"
                      loadBalancingRules:
                      - "{}"
                      - "{}"
                      backendIPConfigurations:
                      - "{}"
                      - "{}"
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      outboundNatRule: "{}"
                      loadBalancingRules:
                      - "{}"
                      - "{}"
                      backendIPConfigurations:
                      - "{}"
                      - "{}"
                      provisioningState: provisioningState
                  primary: true
                  publicIPAddress:
                    etag: etag
                    properties:
                      publicIPAddressVersion: IPv4
                      dnsSettings:
                        reverseFqdn: reverseFqdn
                        fqdn: fqdn
                        domainNameLabel: domainNameLabel
                      ipConfiguration: "{}"
                      resourceGuid: resourceGuid
                      idleTimeoutInMinutes: 5
                      ipAddress: ipAddress
                      provisioningState: provisioningState
                      publicIPAllocationMethod: Static
              provisioningState: provisioningState
              backendAddresses:
              - fqdn: fqdn
                ipAddress: ipAddress
              - fqdn: fqdn
                ipAddress: ipAddress
          sku:
            tier: Standard
            name: Standard_Small
            capacity: 7
          httpListeners:
          - name: name
            etag: etag
            properties:
              hostName: hostName
              protocol: Http
              sslCertificate: "{}"
              frontendIPConfiguration: "{}"
              frontendPort:
                id: id
              provisioningState: provisioningState
              requireServerNameIndication: true
          - name: name
            etag: etag
            properties:
              hostName: hostName
              protocol: Http
              sslCertificate: "{}"
              frontendIPConfiguration: "{}"
              frontendPort:
                id: id
              provisioningState: provisioningState
              requireServerNameIndication: true
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          type: string
        properties:
          $ref: '#/components/schemas/ApplicationGatewayPropertiesFormat'
    ApplicationGatewayAuthenticationCertificate:
      allOf:
      - $ref: '#/components/schemas/ApplicationGatewayHttpListenerPropertiesFormat/properties/frontendPort'
      description: Authentication certificates of an application gateway.
      example:
        name: name
        etag: etag
        properties:
          data: data
          provisioningState: provisioningState
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          type: string
        name:
          description: Name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/ApplicationGatewayAuthenticationCertificatePropertiesFormat'
    ApplicationGatewayAuthenticationCertificatePropertiesFormat:
      description: Authentication certificates properties of an application gateway.
      example:
        data: data
        provisioningState: provisioningState
      properties:
        data:
          description: Certificate public data.
          type: string
        provisioningState:
          description: "Provisioning state of the authentication certificate resource.\
            \ Possible values are: 'Updating', 'Deleting', and 'Failed'."
          type: string
      type: object
    ApplicationGatewayBackendAddress:
      description: Backend address of an application gateway.
      example:
        fqdn: fqdn
        ipAddress: ipAddress
      properties:
        fqdn:
          description: Fully qualified domain name (FQDN).
          type: string
        ipAddress:
          description: IP address
          type: string
      type: object
    ApplicationGatewayBackendAddressPool:
      allOf:
      - $ref: '#/components/schemas/ApplicationGatewayHttpListenerPropertiesFormat/properties/frontendPort'
      description: Backend Address Pool of an application gateway.
      example:
        name: name
        etag: etag
        properties:
          backendIPConfigurations:
          - name: name
            etag: etag
            properties:
              applicationGatewayBackendAddressPools:
              - name: name
                etag: etag
                properties:
                  backendIPConfigurations:
                  - name: name
                    etag: etag
                    properties:
                      applicationGatewayBackendAddressPools:
                      - "{}"
                      - "{}"
                      subnet: "{}"
                      loadBalancerInboundNatRules:
                      - "{}"
                      - "{}"
                      privateIPAllocationMethod: Static
                      privateIPAddress: privateIPAddress
                      privateIPAddressVersion: IPv4
                      provisioningState: provisioningState
                      loadBalancerBackendAddressPools:
                      - "{}"
                      - "{}"
                      primary: true
                      publicIPAddress: "{}"
                  - name: name
                    etag: etag
                    properties:
                      applicationGatewayBackendAddressPools:
                      - "{}"
                      - "{}"
                      subnet: "{}"
                      loadBalancerInboundNatRules:
                      - "{}"
                      - "{}"
                      privateIPAllocationMethod: Static
                      privateIPAddress: privateIPAddress
                      privateIPAddressVersion: IPv4
                      provisioningState: provisioningState
                      loadBalancerBackendAddressPools:
                      - "{}"
                      - "{}"
                      primary: true
                      publicIPAddress: "{}"
                  provisioningState: provisioningState
                  backendAddresses:
                  - fqdn: fqdn
                    ipAddress: ipAddress
                  - fqdn: fqdn
                    ipAddress: ipAddress
              - name: name
                etag: etag
                properties:
                  backendIPConfigurations:
                  - name: name
                    etag: etag
                    properties:
                      applicationGatewayBackendAddressPools:
                      - "{}"
                      - "{}"
                      subnet: "{}"
                      loadBalancerInboundNatRules:
                      - "{}"
                      - "{}"
                      privateIPAllocationMethod: Static
                      privateIPAddress: privateIPAddress
                      privateIPAddressVersion: IPv4
                      provisioningState: provisioningState
                      loadBalancerBackendAddressPools:
                      - "{}"
                      - "{}"
                      primary: true
                      publicIPAddress: "{}"
                  - name: name
                    etag: etag
                    properties:
[...]
