openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2018-10-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/vmssPublicIpAddress.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: network-vmssPublicIpAddress
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/publicipaddresses
  : get:
      description: Gets information about all public IP addresses on a virtual machine
        scale set level.
      operationId: public_ip_addresses_list_virtual_machine_scale_set_public_ip_addresses
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine scale set.
        in: path
        name: virtualMachineScaleSetName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2017-03-30
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        x-ms-enum:
          modelAsString: true
          name: ApiVersion
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses_200_response'
          description: Request successful. The operation returns a list of PublicIPInterface
            resources.
      x-ms-examples:
        ListVMSSPublicIP:
          parameters:
            api-version: 2018-10-01
            resourceGroupName: vmss-tester
            subscriptionId: subid
            virtualMachineScaleSetName: vmss1
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1
                  name: pub1
                  properties:
                    dnsSettings:
                      domainNameLabel: vm1.testvmssacc
                      fqdn: vm1.testvmssacc.southeastasia.cloudapp.azure.com
                    idleTimeoutInMinutes: 10
                    ipAddress: 13.67.119.72
                    ipConfiguration:
                      id: /subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1
                    provisioningState: Succeeded
                    publicIPAddressVersion: IPv4
                    publicIPAllocationMethod: Dynamic
                - id: /subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/3/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1
                  name: pub1
                  properties:
                    dnsSettings:
                      domainNameLabel: vm3.testvmssacc
                      fqdn: vm3.testvmssacc.southeastasia.cloudapp.azure.com
                    idleTimeoutInMinutes: 10
                    ipAddress: 13.67.118.216
                    ipConfiguration:
                      id: /subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/3/networkInterfaces/nic1/ipConfigurations/ip1
                    provisioningState: Succeeded
                    publicIPAddressVersion: IPv4
                    publicIPAllocationMethod: Dynamic
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses
  : get:
      description: Gets information about all public IP addresses in a virtual machine
        IP configuration in a virtual machine scale set.
      operationId: public_ip_addresses_list_virtual_machine_scale_set_vm_public_ip_addresses
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine scale set.
        in: path
        name: virtualMachineScaleSetName
        required: true
        schema:
          type: string
      - description: The virtual machine index.
        in: path
        name: virtualmachineIndex
        required: true
        schema:
          type: string
      - description: The network interface name.
        in: path
        name: networkInterfaceName
        required: true
        schema:
          type: string
      - description: The IP configuration name.
        in: path
        name: ipConfigurationName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2017-03-30
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        x-ms-enum:
          modelAsString: true
          name: ApiVersion
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses_200_response'
          description: Request successful. The operation returns a list of PublicIPAddress
            resources.
      x-ms-examples:
        ListVMSSVMPublicIP:
          parameters:
            api-version: 2018-10-01
            ipConfigurationName: ip1
            networkInterfaceName: nic1
            resourceGroupName: vmss-tester
            subscriptionId: subid
            virtualMachineScaleSetName: vmss1
            virtualmachineIndex: 1
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1
                  name: pub1
                  properties:
                    dnsSettings:
                      domainNameLabel: vm1.testvmssacc
                      fqdn: vm1.testvmssacc.southeastasia.cloudapp.azure.com
                    idleTimeoutInMinutes: 10
                    ipAddress: 13.67.119.72
                    ipConfiguration:
                      id: /subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1
                    provisioningState: Succeeded
                    publicIPAddressVersion: IPv4
                    publicIPAllocationMethod: Dynamic
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses/{publicIpAddressName}
  : get:
      description: Get the specified public IP address in a virtual machine scale
        set.
      operationId: public_ip_addresses_get_virtual_machine_scale_set_public_ip_address
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine scale set.
        in: path
        name: virtualMachineScaleSetName
        required: true
        schema:
          type: string
      - description: The virtual machine index.
        in: path
        name: virtualmachineIndex
        required: true
        schema:
          type: string
      - description: The name of the network interface.
        in: path
        name: networkInterfaceName
        required: true
        schema:
          type: string
      - description: The name of the IP configuration.
        in: path
        name: ipConfigurationName
        required: true
        schema:
          type: string
      - description: The name of the public IP Address.
        in: path
        name: publicIpAddressName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2017-03-30
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        x-ms-enum:
          modelAsString: true
          name: ApiVersion
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Expands referenced resources.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIPAddresses_GetVirtualMachineScaleSetPublicIPAddress_200_response'
          description: Request successful. The operation returns the resulting PublicIPAddress
            resource.
      x-ms-examples:
        GetVMSSPublicIP:
          parameters:
            api-version: 2018-10-01
            ipConfigurationName: ip1
            networkInterfaceName: nic1
            publicIpAddressName: pub1
            resourceGroupName: vmss-tester
            subscriptionId: subid
            virtualMachineScaleSetName: vmss1
            virtualmachineIndex: 1
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1
                name: pub1
                properties:
                  dnsSettings:
                    domainNameLabel: vm1.testvmssacc
                    fqdn: vm1.testvmssacc.southeastasia.cloudapp.azure.com
                  idleTimeoutInMinutes: 10
                  ipAddress: 13.67.119.72
                  ipConfiguration:
                    id: /subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1
                  provisioningState: Succeeded
                  publicIPAddressVersion: IPv4
                  publicIPAllocationMethod: Dynamic
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    PublicIPAddressPropertiesFormat:
      title: properties
      type: object
    PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses_200_response_value_inner_sku:
      description: SKU of a public IP address.
      example:
        name: Basic
      properties:
        name:
          description: Name of a public IP address SKU.
          enum:
          - Basic
          - Standard
          title: name
          type: string
          x-ms-enum:
            modelAsString: true
            name: PublicIPAddressSkuName
      title: PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses_200_response_value_inner_sku
      type: object
    PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses_200_response_value_inner:
      description: Public IP address resource.
      example:
        etag: etag
        sku:
          name: Basic
        zones:
        - zones
        - zones
        properties: "{}"
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        properties:
          title: properties
          type: object
        sku:
          $ref: '#/components/schemas/PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses_200_response_value_inner_sku'
        zones:
          description: A list of availability zones denoting the IP allocated for
            the resource needs to come from.
          items:
            type: string
          title: zones
          type: array
      title: PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses_200_response_value_inner
      type: object
    PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses_200_response:
      description: Response for ListPublicIpAddresses API service call.
      example:
        value:
        - etag: etag
          sku:
            name: Basic
          zones:
          - zones
          - zones
          properties: "{}"
        - etag: etag
          sku:
            name: Basic
          zones:
          - zones
          - zones
          properties: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: A list of public IP addresses that exists in a resource group.
          items:
            $ref: '#/components/schemas/PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses_200_response_value_inner'
          title: value
          type: array
      title: PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses_200_response
      type: object
    PublicIPAddresses_GetVirtualMachineScaleSetPublicIPAddress_200_response:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Public IP address resource.
      example:
        etag: etag
        sku:
          name: Basic
        zones:
        - zones
        - zones
        properties: "{}"
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        properties:
          title: properties
          type: object
        sku:
          $ref: '#/components/schemas/PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses_200_response_value_inner_sku'
        zones:
          description: A list of availability zones denoting the IP allocated for
            the resource needs to come from.
          items:
            type: string
          title: zones
          type: array
      title: PublicIPAddresses_GetVirtualMachineScaleSetPublicIPAddress_200_response
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
