openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2017-10-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2017-10-01/applicationGateway.json
    version: "2.0"
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2017-10-01/applicationGateway.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-applicationGateway
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default:
    get:
      description: Lists available Ssl options for configuring Ssl policy.
      operationId: application_gateways_list_available_ssl_options
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayAvailableSslOptions'
          description: Success. The operation returns all available Ssl options for
            configuring Ssl policy.
      tags:
      - ApplicationGateways
      x-ms-examples:
        ApplicationGatewayAvailableSslOptionsGet:
          parameters:
            api-version: 2017-10-01
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default
                name: default
                properties:
                  availableCipherSuites:
                  - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                  - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                  - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
                  - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
                  availableProtocols:
                  - TLSv1_0
                  - TLSv1_1
                  - TLSv1_2
                  defaultPolicy: AppGwSslPolicy20150501
                  predefinedPolicies:
                  - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20150501
                type: Microsoft.Network/ApplicationGatewayAvailableSslOptions
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default/predefinedPolicies:
    get:
      description: Lists all SSL predefined policies for configuring Ssl policy.
      operationId: application_gateways_list_available_ssl_predefined_policies
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayAvailableSslPredefinedPolicies'
          description: Success. The operation returns a lists of all Ssl predefined
            policies for configuring Ssl policy.
      tags:
      - ApplicationGateways
      x-ms-examples:
        ApplicationGatewayAvailableSslOptionsPredefinedPoliciesGet:
          parameters:
            api-version: 2017-10-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20150501
                  name: AppGwSslPolicy20150501
                  properties:
                    cipherSuites:
                    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
                    minProtocolVersion: TLSv1_0
                - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20170401
                  name: AppGwSslPolicy20170401
                  properties:
                    cipherSuites:
                    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
                    - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
                    minProtocolVersion: TLSv1_1
                - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20170401S
                  name: AppGwSslPolicy20170401S
                  properties:
                    cipherSuites:
                    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
                    - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
                    minProtocolVersion: TLSv1_2
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default/predefinedPolicies/{predefinedPolicyName}
  : get:
      description: Gets Ssl predefined policy with the specified policy name.
      operationId: application_gateways_get_ssl_predefined_policy
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Name of Ssl predefined policy.
        in: path
        name: predefinedPolicyName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewaySslPredefinedPolicy'
          description: Success. The operation returns a Ssl predefined policy with
            the specified policy name.
      tags:
      - ApplicationGateways
      x-ms-examples:
        ApplicationGatewayAvailableSslOptionsPredefinedPolicyGet:
          parameters:
            api-version: 2017-10-01
            predefinedPolicyName: AppGwSslPolicy20150501
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20150501
                name: AppGwSslPolicy20150501
                properties:
                  cipherSuites:
                  - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                  - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                  - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
                  - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
                  minProtocolVersion: TLSv1_0
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableWafRuleSets:
    get:
      description: Lists all available web application firewall rule sets.
      operationId: application_gateways_list_available_waf_rule_sets
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayAvailableWafRuleSetsResult'
          description: Success. The operation returns a list of all available web
            application firewall rule sets.
      tags:
      - ApplicationGateways
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways:
    get:
      description: Gets all the application gateways in a subscription.
      operationId: application_gateways_list_all
      parameters:
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
          description: Success. The operation returns a list of ApplicationGateway
            resources.
      tags:
      - ApplicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways:
    get:
      description: Lists all application gateways in a resource group.
      operationId: application_gateways_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayListResult'
          description: Success. The operation returns a list of ApplicationGateway
            resources.
      tags:
      - ApplicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}
  : delete:
      description: Deletes the specified application gateway.
      operationId: application_gateways_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Request successful. Resource with the specified name does not
            exist
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
    get:
      description: Gets the specified application gateway.
      operationId: application_gateways_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: Request successful. The operation returns an ApplicationGateway
            resource.
      tags:
      - ApplicationGateways
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
    patch:
      description: Updates the specified application gateway tags.
      operationId: application_gateways_update_tags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGateways_UpdateTags_request'
        description: Parameters supplied to update application gateway tags.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: Update successful. The operation returns the resulting ApplicationGateway
            resource.
      tags:
      - ApplicationGateways
      x-ms-examples:
        Update Application Gateway tags:
          parameters:
            api-version: 2017-10-01
            applicationGatewayName: AppGw
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw
                location: westus
                name: AppGw
                properties:
                  authenticationCertificates: []
                  backendAddressPools:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendAddressPools/Pool01
                    name: Pool01
                    properties:
                      backendAddresses:
                      - ipAddress: 10.10.10.1
                      - ipAddress: 10.10.10.2
                      - ipAddress: 10.10.10.3
                      provisioningState: Succeeded
                  backendHttpSettingsCollection:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendHttpSettingsCollection/PoolSetting01
                    name: PoolSetting01
                    properties:
                      cookieBasedAffinity: Disabled
                      pickHostNameFromBackendAddress: false
                      port: 80
                      protocol: Http
                      provisioningState: Succeeded
                      requestTimeout: 30
                  frontendIPConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendIPConfigurations/FrontEndConfig01
                    name: FrontEndConfig01
                    properties:
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/publicIp1
                  frontendPorts:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendPorts/FrontEndPort01
                    name: FrontEndPort01
                    properties:
                      port: 80
                      provisioningState: Succeeded
                  gatewayIPConfigurations:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/gatewayIPConfigurations/GatewayIp01
                    name: GatewayIp01
                    properties:
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1
                  httpListeners:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/httpListeners/listener1
                    name: listener1
                    properties:
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendIPConfigurations/FrontEndConfig01
                      frontendPort:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendPorts/FrontEndPort01
                      protocol: Http
                      provisioningState: Succeeded
                      requireServerNameIndication: false
                  operationalState: Running
                  probes: []
                  provisioningState: Succeeded
                  redirectConfigurations: []
                  requestRoutingRules:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/requestRoutingRules/Rule01
                    name: Rule01
                    properties:
                      backendAddressPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendAddressPools/Pool01
                      backendHttpSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendHttpSettingsCollection/PoolSetting01
                      httpListener:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/httpListeners/listener1
                      provisioningState: Succeeded
                      ruleType: Basic
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  sku:
                    capacity: 2
                    name: Standard_Small
                    tier: Standard
                  sslCertificates: []
                  urlPathMaps: []
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/applicationGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
    put:
      description: Creates or updates the specified application gateway.
      operationId: application_gateways_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationGateway'
        description: Parameters supplied to the create or update application gateway
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: Update successful. The operation returns the resulting ApplicationGateway
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGateway'
          description: Create successful. The operation returns the resulting ApplicationGateway
            resource.
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/backendhealth
  : post:
      description: Gets the backend health of the specified application gateway in
        a resource group.
      operationId: application_gateways_backend_health
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Expands BackendAddressPool and BackendHttpSettings referenced
          in backend health.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationGatewayBackendHealth'
          description: Request successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/start
  : post:
      description: Starts the specified application gateway.
      operationId: application_gateways_start
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. The operation starts the ApplicationGateway
            resource.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/stop
  : post:
      description: Stops the specified application gateway in a resource group.
      operationId: application_gateways_stop
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the application gateway.
        in: path
        name: applicationGatewayName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. The operation stops the ApplicationGateway
            resource.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ApplicationGateways
      x-ms-long-running-operation: true
      x-openapi-router-controller: openapi_server.controllers.application_gateways_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: The subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApplicationGateway:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Application gateway resource
      example:
        etag: etag
        properties:
          sslCertificates:
          - name: name
            etag: etag
            type: type
            properties:
              password: password
              data: data
              provisioningState: provisioningState
              publicCertData: publicCertData
          - name: name
            etag: etag
            type: type
            properties:
              password: password
              data: data
              provisioningState: provisioningState
              publicCertData: publicCertData
          resourceGuid: resourceGuid
          sslPolicy:
            policyName: AppGwSslPolicy20150501
            cipherSuites:
            - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
            - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
            policyType: Predefined
            disabledSslProtocols:
            - TLSv1_0
            - TLSv1_0
            minProtocolVersion: null
          backendHttpSettingsCollection:
          - name: name
            etag: etag
            type: type
            properties:
              affinityCookieName: affinityCookieName
              hostName: hostName
              probeEnabled: true
              cookieBasedAffinity: Enabled
              provisioningState: provisioningState
              pickHostNameFromBackendAddress: true
              probe: "{}"
              authenticationCertificates:
              - "{}"
              - "{}"
              path: path
              protocol: Http
              port: 6
              connectionDraining:
                drainTimeoutInSec: 289
                enabled: true
              requestTimeout: 1
          - name: name
            etag: etag
            type: type
            properties:
              affinityCookieName: affinityCookieName
              hostName: hostName
              probeEnabled: true
              cookieBasedAffinity: Enabled
              provisioningState: provisioningState
              pickHostNameFromBackendAddress: true
              probe: "{}"
              authenticationCertificates:
              - "{}"
              - "{}"
              path: path
              protocol: Http
              port: 6
              connectionDraining:
                drainTimeoutInSec: 289
                enabled: true
              requestTimeout: 1
          redirectConfigurations:
          - name: name
            etag: etag
            type: type
            properties:
              targetListener: "{}"
              pathRules:
              - "{}"
              - "{}"
              urlPathMaps:
              - "{}"
              - "{}"
              includePath: true
              redirectType: Permanent
              targetUrl: targetUrl
              requestRoutingRules:
              - "{}"
              - "{}"
              includeQueryString: true
          - name: name
            etag: etag
            type: type
            properties:
              targetListener: "{}"
              pathRules:
              - "{}"
              - "{}"
              urlPathMaps:
              - "{}"
              - "{}"
              includePath: true
              redirectType: Permanent
              targetUrl: targetUrl
              requestRoutingRules:
              - "{}"
              - "{}"
              includeQueryString: true
          urlPathMaps:
          - name: name
            etag: etag
            type: type
            properties:
              defaultBackendHttpSettings: "{}"
              defaultRedirectConfiguration: "{}"
              pathRules:
              - name: name
                etag: etag
                type: type
                properties:
                  redirectConfiguration: "{}"
                  paths:
                  - paths
                  - paths
                  backendAddressPool: "{}"
                  provisioningState: provisioningState
                  backendHttpSettings: "{}"
              - name: name
                etag: etag
                type: type
                properties:
                  redirectConfiguration: "{}"
                  paths:
                  - paths
                  - paths
                  backendAddressPool: "{}"
                  provisioningState: provisioningState
                  backendHttpSettings: "{}"
              defaultBackendAddressPool: "{}"
              provisioningState: provisioningState
          - name: name
            etag: etag
            type: type
            properties:
              defaultBackendHttpSettings: "{}"
              defaultRedirectConfiguration: "{}"
              pathRules:
              - name: name
                etag: etag
                type: type
                properties:
                  redirectConfiguration: "{}"
                  paths:
                  - paths
                  - paths
                  backendAddressPool: "{}"
                  provisioningState: provisioningState
                  backendHttpSettings: "{}"
              - name: name
                etag: etag
                type: type
                properties:
                  redirectConfiguration: "{}"
                  paths:
                  - paths
                  - paths
                  backendAddressPool: "{}"
                  provisioningState: provisioningState
                  backendHttpSettings: "{}"
              defaultBackendAddressPool: "{}"
              provisioningState: provisioningState
          provisioningState: provisioningState
          frontendPorts:
          - name: name
            etag: etag
            type: type
            properties:
              port: 5
              provisioningState: provisioningState
          - name: name
            etag: etag
            type: type
            properties:
              port: 5
              provisioningState: provisioningState
          requestRoutingRules:
          - name: name
            etag: etag
            type: type
            properties:
              redirectConfiguration: "{}"
              httpListener: "{}"
              ruleType: Basic
              backendAddressPool: "{}"
              provisioningState: provisioningState
              urlPathMap: "{}"
              backendHttpSettings: "{}"
          - name: name
            etag: etag
            type: type
            properties:
              redirectConfiguration: "{}"
              httpListener: "{}"
              ruleType: Basic
              backendAddressPool: "{}"
              provisioningState: provisioningState
              urlPathMap: "{}"
              backendHttpSettings: "{}"
          webApplicationFirewallConfiguration:
            firewallMode: Detection
            ruleSetVersion: ruleSetVersion
            ruleSetType: ruleSetType
            disabledRuleGroups:
            - ruleGroupName: ruleGroupName
              rules:
              - 2
              - 2
            - ruleGroupName: ruleGroupName
              rules:
              - 2
              - 2
            enabled: true
          authenticationCertificates:
          - name: name
            etag: etag
            type: type
            properties:
              data: data
              provisioningState: provisioningState
          - name: name
            etag: etag
            type: type
            properties:
              data: data
              provisioningState: provisioningState
          gatewayIPConfigurations:
          - name: name
            etag: etag
            type: type
            properties:
              subnet: "{}"
              provisioningState: provisioningState
          - name: name
            etag: etag
            type: type
            properties:
              subnet: "{}"
              provisioningState: provisioningState
          enableHttp2: true
          probes:
          - name: name
            etag: etag
            type: type
            properties:
              path: path
              protocol: Http
              host: host
              match:
                statusCodes:
                - statusCodes
                - statusCodes
                body: body
              unhealthyThreshold: 9
              interval: 5
              minServers: 2
              pickHostNameFromBackendHttpSettings: true
              provisioningState: provisioningState
              timeout: 7
          - name: name
            etag: etag
            type: type
            properties:
              path: path
              protocol: Http
              host: host
              match:
                statusCodes:
                - statusCodes
                - statusCodes
                body: body
              unhealthyThreshold: 9
              interval: 5
              minServers: 2
              pickHostNameFromBackendHttpSettings: true
              provisioningState: provisioningState
              timeout: 7
          frontendIPConfigurations:
          - name: name
            etag: etag
            type: type
            properties:
              subnet: "{}"
              privateIPAllocationMethod: Static
              privateIPAddress: privateIPAddress
              provisioningState: provisioningState
              publicIPAddress: "{}"
          - name: name
            etag: etag
            type: type
            properties:
              subnet: "{}"
              privateIPAllocationMethod: Static
              privateIPAddress: privateIPAddress
              provisioningState: provisioningState
              publicIPAddress: "{}"
          operationalState: Stopped
          backendAddressPools:
          - name: name
            etag: etag
            type: type
            properties:
              backendIPConfigurations:
              - "{}"
              - "{}"
              provisioningState: provisioningState
              backendAddresses:
              - fqdn: fqdn
                ipAddress: ipAddress
              - fqdn: fqdn
                ipAddress: ipAddress
          - name: name
            etag: etag
            type: type
            properties:
              backendIPConfigurations:
              - "{}"
              - "{}"
              provisioningState: provisioningState
              backendAddresses:
              - fqdn: fqdn
                ipAddress: ipAddress
              - fqdn: fqdn
                ipAddress: ipAddress
          sku:
            tier: Standard
            name: Standard_Small
            capacity: 3
          httpListeners:
          - name: name
            etag: etag
            type: type
            properties:
              hostName: hostName
              protocol: Http
              sslCertificate: "{}"
              frontendIPConfiguration: "{}"
              frontendPort: "{}"
              provisioningState: provisioningState
              requireServerNameIndication: true
          - name: name
            etag: etag
            type: type
            properties:
              hostName: hostName
              protocol: Http
              sslCertificate: "{}"
              frontendIPConfiguration: "{}"
              frontendPort: "{}"
              provisioningState: provisioningState
              requireServerNameIndication: true
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/ApplicationGatewayPropertiesFormat'
      title: ApplicationGateway
    ApplicationGatewayAuthenticationCertificate:
      allOf:
      - $ref: '#/components/schemas/ApplicationGatewayPathRule/allOf/0'
      description: Authentication certificates of an application gateway.
      example:
        name: name
        etag: etag
        type: type
        properties:
          data: data
          provisioningState: provisioningState
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        name:
          description: Name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ApplicationGatewayAuthenticationCertificatePropertiesFormat'
        type:
          description: Type of the resource.
          title: type
          type: string
      title: ApplicationGatewayAuthenticationCertificate
    ApplicationGatewayAuthenticationCertificatePropertiesFormat:
      description: Authentication certificates properties of an application gateway.
      example:
        data: data
        provisioningState: provisioningState
      properties:
        data:
          description: Certificate public data.
          title: data
          type: string
        provisioningState:
          description: "Provisioning state of the authentication certificate resource.\
            \ Possible values are: 'Updating', 'Deleting', and 'Failed'."
          title: provisioningState
          type: string
      title: ApplicationGatewayAuthenticationCertificatePropertiesFormat
      type: object
    ApplicationGatewayAvailableSslOptions:
      allOf:
      - $ref: '#/components/schemas/ApplicationGateway/allOf/0'
      description: Response for ApplicationGatewayAvailableSslOptions API service
        call.
      example:
        properties:
          availableCipherSuites:
          - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
          - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
          defaultPolicy: AppGwSslPolicy20150501
          availableProtocols:
          - TLSv1_0
          - TLSv1_0
          predefinedPolicies:
          - "{}"
          - "{}"
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationGatewayAvailableSslOptionsPropertiesFormat'
      title: ApplicationGatewayAvailableSslOptions
    ApplicationGatewayAvailableSslOptionsPropertiesFormat:
      description: Properties of ApplicationGatewayAvailableSslOptions
      example:
        availableCipherSuites:
        - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
        defaultPolicy: AppGwSslPolicy20150501
        availableProtocols:
        - TLSv1_0
        - TLSv1_0
        predefinedPolicies:
        - "{}"
        - "{}"
      properties:
        availableCipherSuites:
          description: List of available Ssl cipher suites.
          items:
            $ref: '#/components/schemas/CipherSuitesEnum'
          title: availableCipherSuites
          type: array
        availableProtocols:
          description: List of available Ssl protocols.
          items:
            $ref: '#/components/schemas/ProtocolsEnum'
          title: availableProtocols
          type: array
        defaultPolicy:
          $ref: '#/components/schemas/PolicyNameEnum'
        predefinedPolicies:
          description: List of available Ssl predefined policy.
          items:
            $ref: '#/components/schemas/ApplicationGatewayPathRule/allOf/0'
          title: predefinedPolicies
          type: array
      title: ApplicationGatewayAvailableSslOptionsPropertiesFormat
      type: object
    ApplicationGatewayAvailableSslPredefinedPolicies:
      description: Response for ApplicationGatewayAvailableSslOptions API service
        call.
      example:
        value:
        - name: name
          properties:
            cipherSuites:
            - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
            - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
            minProtocolVersion: TLSv1_0
        - name: name
          properties:
            cipherSuites:
            - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
            - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
            minProtocolVersion: TLSv1_0
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: List of available Ssl predefined policy.
          items:
            $ref: '#/components/schemas/ApplicationGatewaySslPredefinedPolicy'
          title: value
          type: array
      title: ApplicationGatewayAvailableSslPredefinedPolicies
      type: object
    ApplicationGatewayAvailableWafRuleSetsResult:
      description: Response for ApplicationGatewayAvailableWafRuleSets API service
        call.
      example:
        value:
        - properties:
            ruleGroups:
            - ruleGroupName: ruleGroupName
              description: description
              rules:
              - description: description
                ruleId: 0
              - description: description
                ruleId: 0
            - ruleGroupName: ruleGroupName
              description: description
              rules:
              - description: description
                ruleId: 0
              - description: description
                ruleId: 0
            ruleSetVersion: ruleSetVersion
            ruleSetType: ruleSetType
            provisioningState: provisioningState
        - properties:
            ruleGroups:
            - ruleGroupName: ruleGroupName
              description: description
              rules:
              - description: description
                ruleId: 0
              - description: description
                ruleId: 0
            - ruleGroupName: ruleGroupName
              description: description
              rules:
              - description: description
                ruleId: 0
              - description: description
                ruleId: 0
            ruleSetVersion: ruleSetVersion
            ruleSetType: ruleSetType
            provisioningState: provisioningState
      properties:
        value:
          description: The list of application gateway rule sets.
          items:
            $ref: '#/components/schemas/ApplicationGatewayFirewallRuleSet'
          title: value
          type: array
      title: ApplicationGatewayAvailableWafRuleSetsResult
      type: object
    ApplicationGatewayBackendAddress:
      description: Backend address of an application gateway.
      example:
        fqdn: fqdn
        ipAddress: ipAddress
      properties:
        fqdn:
          description: Fully qualified domain name (FQDN).
          title: fqdn
          type: string
        ipAddress:
          description: IP address
          title: ipAddress
          type: string
      title: ApplicationGatewayBackendAddress
      type: object
    ApplicationGatewayBackendAddressPool:
      allOf:
      - $ref: '#/components/schemas/ApplicationGatewayPathRule/allOf/0'
      description: Backend Address Pool of an application gateway.
      example:
        name: name
        etag: etag
        type: type
        properties:
          backendIPConfigurations:
          - "{}"
          - "{}"
          provisioningState: provisioningState
          backendAddresses:
          - fqdn: fqdn
            ipAddress: ipAddress
          - fqdn: fqdn
            ipAddress: ipAddress
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          title: etag
          type: string
        name:
          description: Resource that is unique within a resource group. This name
            can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ApplicationGatewayBackendAddressPoolPropertiesFormat'
        type:
          description: Type of the resource.
          title: type
          type: string
      title: ApplicationGatewayBackendAddressPool
    ApplicationGatewayBackendAddressPoolPropertiesFormat:
      description: Properties of Backend Address Pool of an application gateway.
      example:
        backendIPConfigurations:
        - "{}"
        - "{}"
        provisioningState: provisioningState
        backendAddresses:
        - fqdn: fqdn
          ipAddress: ipAddress
        - fqdn: fqdn
          ipAddress: ipAddress
      properties:
        backendAddresses:
          description: Backend addresses
          items:
            $ref: '#/components/schemas/ApplicationGatewayBackendAddress'
          title: backendAddresses
          type: array
        backendIPConfigurations:
          description: Collection of references to IPs defined in network interfaces.
          items:
            $ref: '#/components/schemas/ApplicationGatewayBackendHealthServer/properties/ipConfiguration'
          title: backendIPConfigurations
          type: array
        provisioningState:
          description: "Provisioning state of the backend address pool resource. Possible\
            \ values are: 'Updating', 'Deleting', and 'Failed'."
          title: provisioningState
          type: string
      title: ApplicationGatewayBackendAddressPoolPropertiesFormat
      type: object
    ApplicationGatewayBackendHealth:
      description: List of ApplicationGatewayBackendHealthPool resources.
      example:
        backendAddressPools:
        - backendHttpSettingsCollection:
          - servers:
            - address: address
              ipConfiguration:
                name: name
                etag: etag
                properties:
                  applicationGatewayBackendAddressPools:
                  - name: name
                    etag: etag
                    type: type
                    properties:
                      backendIPConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          applicationSecurityGroups:
                          - "{}"
                          - "{}"
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          applicationSecurityGroups:
                          - "{}"
                          - "{}"
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      provisioningState: provisioningState
                      backendAddresses:
                      - fqdn: fqdn
                        ipAddress: ipAddress
                      - fqdn: fqdn
                        ipAddress: ipAddress
                  - name: name
                    etag: etag
                    type: type
                    properties:
                      backendIPConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          applicationSecurityGroups:
                          - "{}"
                          - "{}"
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          applicationSecurityGroups:
                          - "{}"
                          - "{}"
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      provisioningState: provisioningState
                      backendAddresses:
                      - fqdn: fqdn
                        ipAddress: ipAddress
                      - fqdn: fqdn
                        ipAddress: ipAddress
                  subnet:
                    name: name
                    etag: etag
                    properties:
                      ipConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          subnet: "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          provisioningState: provisioningState
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          subnet: "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          provisioningState: provisioningState
                          publicIPAddress: "{}"
                      resourceNavigationLinks:
                      - name: name
                        etag: etag
                        properties:
                          link: link
                          linkedResourceType: linkedResourceType
                          provisioningState: provisioningState
                      - name: name
                        etag: etag
                        properties:
                          link: link
                          linkedResourceType: linkedResourceType
                          provisioningState: provisioningState
                      routeTable:
                        etag: etag
                        properties:
                          routes:
                          - name: name
                            etag: etag
                            properties:
                              addressPrefix: addressPrefix
                              nextHopType: VirtualNetworkGateway
                              nextHopIpAddress: nextHopIpAddress
                              provisioningState: provisioningState
                          - name: name
                            etag: etag
                            properties:
                              addressPrefix: addressPrefix
                              nextHopType: VirtualNetworkGateway
                              nextHopIpAddress: nextHopIpAddress
                              provisioningState: provisioningState
                          disableBgpRoutePropagation: true
                          subnets:
                          - "{}"
                          - "{}"
                          provisioningState: provisioningState
                      addressPrefix: addressPrefix
                      provisioningState: provisioningState
                      networkSecurityGroup:
                        etag: etag
                        properties:
                          defaultSecurityRules:
                          - "{}"
                          - "{}"
                          networkInterfaces:
                          - etag: etag
                            properties:
                              ipConfigurations:
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  applicationSecurityGroups:
                                  - "{}"
                                  - "{}"
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  applicationSecurityGroups:
                                  - "{}"
                                  - "{}"
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              virtualMachine: "{}"
                              macAddress: macAddress
                              dnsSettings:
                                appliedDnsServers:
                                - appliedDnsServers
                                - appliedDnsServers
                                internalDnsNameLabel: internalDnsNameLabel
                                internalDomainNameSuffix: internalDomainNameSuffix
                                internalFqdn: internalFqdn
                                dnsServers:
                                - dnsServers
                                - dnsServers
                              resourceGuid: resourceGuid
                              enableAcceleratedNetworking: true
                              provisioningState: provisioningState
                              enableIPForwarding: true
                              networkSecurityGroup: "{}"
                              primary: true
                          - etag: etag
                            properties:
                              ipConfigurations:
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  applicationSecurityGroups:
                                  - "{}"
                                  - "{}"
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  applicationSecurityGroups:
                                  - "{}"
                                  - "{}"
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              virtualMachine: "{}"
                              macAddress: macAddress
                              dnsSettings:
                                appliedDnsServers:
                                - appliedDnsServers
                                - appliedDnsServers
                                internalDnsNameLabel: internalDnsNameLabel
                                internalDomainNameSuffix: internalDomainNameSuffix
                                internalFqdn: internalFqdn
                                dnsServers:
                                - dnsServers
                                - dnsServers
                              resourceGuid: resourceGuid
                              enableAcceleratedNetworking: true
                              provisioningState: provisioningState
                              enableIPForwarding: true
                              networkSecurityGroup: "{}"
                              primary: true
                          resourceGuid: resourceGuid
                          securityRules:
                          - name: name
                            etag: etag
                            properties:
                              access: Allow
                              sourceAddressPrefixes:
                              - sourceAddressPrefixes
                              - sourceAddressPrefixes
                              description: description
                              provisioningState: provisioningState
                              priority: 5
                              destinationAddressPrefixes:
                              - destinationAddressPrefixes
                              - destinationAddressPrefixes
                              sourcePortRanges:
                              - sourcePortRanges
                              - sourcePortRanges
                              destinationAddressPrefix: destinationAddressPrefix
                              protocol: Tcp
                              destinationApplicationSecurityGroups:
                              - "{}"
                              - "{}"
                              sourcePortRange: sourcePortRange
                              destinationPortRanges:
                              - destinationPortRanges
                              - destinationPortRanges
                              sourceAddressPrefix: sourceAddressPrefix
                              destinationPortRange: destinationPortRange
                              sourceApplicationSecurityGroups:
                              - "{}"
                              - "{}"
                              direction: Inbound
                          - name: name
                            etag: etag
                            properties:
                              access: Allow
                              sourceAddressPrefixes:
                              - sourceAddressPrefixes
                              - sourceAddressPrefixes
                              description: description
                              provisioningState: provisioningState
                              priority: 5
                              destinationAddressPrefixes:
                              - destinationAddressPrefixes
                              - destinationAddressPrefixes
                              sourcePortRanges:
                              - sourcePortRanges
                              - sourcePortRanges
                              destinationAddressPrefix: destinationAddressPrefix
                              protocol: Tcp
                              destinationApplicationSecurityGroups:
                              - "{}"
                              - "{}"
                              sourcePortRange: sourcePortRange
                              destinationPortRanges:
                              - destinationPortRanges
                              - destinationPortRanges
                              sourceAddressPrefix: sourceAddressPrefix
                              destinationPortRange: destinationPortRange
                              sourceApplicationSecurityGroups:
                              - "{}"
                              - "{}"
                              direction: Inbound
                          subnets:
                          - "{}"
                          - "{}"
                          provisioningState: provisioningState
                      serviceEndpoints:
                      - service: service
                        locations:
                        - locations
                        - locations
                        provisioningState: provisioningState
                      - service: service
                        locations:
                        - locations
                        - locations
                        provisioningState: provisioningState
                  loadBalancerInboundNatRules:
                  - name: name
                    etag: etag
                    properties:
                      enableFloatingIP: true
                      protocol: Udp
                      backendPort: 0
                      backendIPConfiguration: "{}"
                      frontendIPConfiguration: "{}"
                      idleTimeoutInMinutes: 1
                      frontendPort: 6
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      enableFloatingIP: true
                      protocol: Udp
                      backendPort: 0
                      backendIPConfiguration: "{}"
                      frontendIPConfiguration: "{}"
                      idleTimeoutInMinutes: 1
                      frontendPort: 6
                      provisioningState: provisioningState
                  privateIPAllocationMethod: Static
                  privateIPAddress: privateIPAddress
                  applicationSecurityGroups:
                  - etag: etag
                    properties:
                      resourceGuid: resourceGuid
                      provisioningState: provisioningState
                  - etag: etag
                    properties:
                      resourceGuid: resourceGuid
                      provisioningState: provisioningState
                  privateIPAddressVersion: IPv4
                  provisioningState: provisioningState
                  loadBalancerBackendAddressPools:
                  - name: name
                    etag: etag
                    properties:
                      outboundNatRule: "{}"
                      loadBalancingRules:
                      - "{}"
                      - "{}"
                      backendIPConfigurations:
                      - "{}"
                      - "{}"
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      outboundNatRule: "{}"
                      loadBalancingRules:
                      - "{}"
                      - "{}"
                      backendIPConfigurations:
                      - "{}"
                      - "{}"
                      provisioningState: provisioningState
                  primary: true
                  publicIPAddress:
                    etag: etag
                    sku:
                      name: Basic
                    zones:
                    - zones
                    - zones
                    properties:
                      publicIPAddressVersion: IPv4
                      dnsSettings:
                        reverseFqdn: reverseFqdn
                        fqdn: fqdn
                        domainNameLabel: domainNameLabel
                      ipConfiguration: "{}"
                      resourceGuid: resourceGuid
                      idleTimeoutInMinutes: 5
                      ipAddress: ipAddress
                      provisioningState: provisioningState
                      publicIPAllocationMethod: Static
              health: Unknown
            - address: address
              ipConfiguration:
                name: name
                etag: etag
                properties:
                  applicationGatewayBackendAddressPools:
                  - name: name
                    etag: etag
                    type: type
                    properties:
                      backendIPConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          applicationSecurityGroups:
                          - "{}"
                          - "{}"
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          applicationSecurityGroups:
                          - "{}"
                          - "{}"
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      provisioningState: provisioningState
                      backendAddresses:
                      - fqdn: fqdn
                        ipAddress: ipAddress
                      - fqdn: fqdn
                        ipAddress: ipAddress
                  - name: name
                    etag: etag
                    type: type
                    properties:
                      backendIPConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          applicationSecurityGroups:
                          - "{}"
                          - "{}"
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          applicationSecurityGroups:
                          - "{}"
                          - "{}"
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      provisioningState: provisioningState
                      backendAddresses:
                      - fqdn: fqdn
                        ipAddress: ipAddress
                      - fqdn: fqdn
                        ipAddress: ipAddress
                  subnet:
                    name: name
                    etag: etag
                    properties:
                      ipConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          subnet: "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          provisioningState: provisioningState
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          subnet: "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          provisioningState: provisioningState
                          publicIPAddress: "{}"
                      resourceNavigationLinks:
                      - name: name
                        etag: etag
                        properties:
                          link: link
                          linkedResourceType: linkedResourceType
                          provisioningState: provisioningState
                      - name: name
                        etag: etag
                        properties:
                          link: link
                          linkedResourceType: linkedResourceType
                          provisioningState: provisioningState
                      routeTable:
                        etag: etag
                        properties:
                          routes:
                          - name: name
                            etag: etag
                            properties:
                              addressPrefix: addressPrefix
                              nextHopType: VirtualNetworkGateway
                              nextHopIpAddress: nextHopIpAddress
                              provisioningState: provisioningState
                          - name: name
                            etag: etag
                            properties:
                              addressPrefix: addressPrefix
                              nextHopType: VirtualNetworkGateway
                              nextHopIpAddress: nextHopIpAddress
                              provisioningState: provisioningState
                          disableBgpRoutePropagation: true
                          subnets:
                          - "{}"
                          - "{}"
                          provisioningState: provisioningState
                      addressPrefix: addressPrefix
                      provisioningState: provisioningState
                      networkSecurityGroup:
                        etag: etag
                        properties:
                          defaultSecurityRules:
                          - "{}"
                          - "{}"
                          networkInterfaces:
                          - etag: etag
                            properties:
                              ipConfigurations:
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  applicationSecurityGroups:
                                  - "{}"
                                  - "{}"
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  applicationSecurityGroups:
                                  - "{}"
                                  - "{}"
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              virtualMachine: "{}"
                              macAddress: macAddress
                              dnsSettings:
                                appliedDnsServers:
                                - appliedDnsServers
                                - appliedDnsServers
                                internalDnsNameLabel: internalDnsNameLabel
                                internalDomainNameSuffix: internalDomainNameSuffix
                                internalFqdn: internalFqdn
                                dnsServers:
                                - dnsServers
                                - dnsServers
                              resourceGuid: resourceGuid
                              enableAcceleratedNetworking: true
                              provisioningState: provisioningState
                              enableIPForwarding: true
                              networkSecurityGroup: "{}"
                              primary: true
                          - etag: etag
                            properties:
                              ipConfigurations:
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  applicationSecurityGroups:
                                  - "{}"
                                  - "{}"
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              - name: name
                                etag: etag
                                properties:
                                  applicationGatewayBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  subnet: "{}"
                                  loadBalancerInboundNatRules:
                                  - "{}"
                                  - "{}"
                                  privateIPAllocationMethod: Static
                                  privateIPAddress: privateIPAddress
                                  applicationSecurityGroups:
                                  - "{}"
                                  - "{}"
                                  privateIPAddressVersion: IPv4
                                  provisioningState: provisioningState
                                  loadBalancerBackendAddressPools:
                                  - "{}"
                                  - "{}"
                                  primary: true
                                  publicIPAddress: "{}"
                              virtualMachine: "{}"
                              macAddress: macAddress
                              dnsSettings:
                                appliedDnsServers:
                                - appliedDnsServers
                                - appliedDnsServers
                                internalDnsNameLabel: internalDnsNameLabel
                                internalDomainNameSuffix: internalDomainNameSuffix
                                internalFqdn: internalFqdn
                                dnsServers:
                                - dnsServers
                                - dnsServers
                              resourceGuid: resourceGuid
                              enableAcceleratedNetworking: true
                              provisioningState: provisioningState
                              enableIPForwarding: true
                              networkSecurityGroup: "{}"
                              primary: true
                          resourceGuid: resourceGuid
                          securityRules:
                          - name: name
                            etag: etag
                            properties:
                              access: Allow
                              sourceAddressPrefixes:
                              - sourceAddressPrefixes
                              - sourceAddressPrefixes
                              description: description
                              provisioningState: provisioningState
                              priority: 5
                              destinationAddressPrefixes:
                              - destinationAddressPrefixes
                              - destinationAddressPrefixes
                              sourcePortRanges:
                              - sourcePortRanges
                              - sourcePortRanges
                              destinationAddressPrefix: destinationAddressPrefix
                              protocol: Tcp
                              destinationApplicationSecurityGroups:
                              - "{}"
                              - "{}"
                              sourcePortRange: sourcePortRange
                              destinationPortRanges:
                              - destinationPortRanges
                              - destinationPortRanges
                              sourceAddressPrefix: sourceAddressPrefix
                              destinationPortRange: destinationPortRange
                              sourceApplicationSecurityGroups:
                              - "{}"
                              - "{}"
                              direction: Inbound
                          - name: name
                            etag: etag
                            properties:
                              access: Allow
                              sourceAddressPrefixes:
                              - sourceAddressPrefixes
                              - sourceAddressPrefixes
                              description: description
                              provisioningState: provisioningState
                              priority: 5
                              destinationAddressPrefixes:
                              - destinationAddressPrefixes
                              - destinationAddressPrefixes
                              sourcePortRanges:
                              - sourcePortRanges
                              - sourcePortRanges
                              destinationAddressPrefix: destinationAddressPrefix
                              protocol: Tcp
                              destinationApplicationSecurityGroups:
                              - "{}"
                              - "{}"
                              sourcePortRange: sourcePortRange
                              destinationPortRanges:
                              - destinationPortRanges
                              - destinationPortRanges
                              sourceAddressPrefix: sourceAddressPrefix
                              destinationPortRange: destinationPortRange
                              sourceApplicationSecurityGroups:
                              - "{}"
                              - "{}"
                              direction: Inbound
                          subnets:
                          - "{}"
                          - "{}"
                          provisioningState: provisioningState
                      serviceEndpoints:
                      - service: service
                        locations:
                        - locations
                        - locations
                        provisioningState: provisioningState
                      - service: service
                        locations:
                        - locations
                        - locations
                        provisioningState: provisioningState
                  loadBalancerInboundNatRules:
                  - name: name
                    etag: etag
                    properties:
                      enableFloatingIP: true
                      protocol: Udp
                      backendPort: 0
                      backendIPConfiguration: "{}"
                      frontendIPConfiguration: "{}"
                      idleTimeoutInMinutes: 1
                      frontendPort: 6
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      enableFloatingIP: true
                      protocol: Udp
                      backendPort: 0
                      backendIPConfiguration: "{}"
                      frontendIPConfiguration: "{}"
                      idleTimeoutInMinutes: 1
                      frontendPort: 6
                      provisioningState: provisioningState
                  privateIPAllocationMethod: Static
                  privateIPAddress: privateIPAddress
                  applicationSecurityGroups:
                  - etag: etag
                    properties:
                      resourceGuid: resourceGuid
                      provisioningState: provisioningState
                  - etag: etag
                    properties:
                      resourceGuid: resourceGuid
                      provisioningState: provisioningState
                  privateIPAddressVersion: IPv4
                  provisioningState: provisioningState
                  loadBalancerBackendAddressPools:
                  - name: name
                    etag: etag
                    properties:
                      outboundNatRule: "{}"
                      loadBalancingRules:
                      - "{}"
                      - "{}"
                      backendIPConfigurations:
                      - "{}"
                      - "{}"
                      provisioningState: provisioningState
                  - name: name
                    etag: etag
                    properties:
                      outboundNatRule: "{}"
                      loadBalancingRules:
                      - "{}"
                      - "{}"
                      backendIPConfigurations:
                      - "{}"
                      - "{}"
                      provisioningState: provisioningState
                  primary: true
                  publicIPAddress:
                    etag: etag
                    sku:
                      name: Basic
                    zones:
                    - zones
                    - zones
                    properties:
                      publicIPAddressVersion: IPv4
                      dnsSettings:
                        reverseFqdn: reverseFqdn
                        fqdn: fqdn
                        domainNameLabel: domainNameLabel
                      ipConfiguration: "{}"
                      resourceGuid: resourceGuid
                      idleTimeoutInMinutes: 5
                      ipAddress: ipAddress
                      provisioningState: provisioningState
                      publicIPAllocationMethod: Static
              health: Unknown
            backendHttpSettings:
              name: name
              etag: etag
              type: type
              properties:
                affinityCookieName: affinityCookieName
                hostName: hostName
                probeEnabled: true
                cookieBasedAffinity: Enabled
                provisioningState: provisioningState
                pickHostNameFromBackendAddress: true
                probe: "{}"
                authenticationCertificates:
                - "{}"
                - "{}"
                path: path
                protocol: Http
                port: 6
                connectionDraining:
                  drainTimeoutInSec: 289
                  enabled: true
                requestTimeout: 1
          - servers:
            - address: address
              ipConfiguration:
                name: name
                etag: etag
                properties:
                  applicationGatewayBackendAddressPools:
                  - name: name
                    etag: etag
                    type: type
                    properties:
                      backendIPConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          applicationSecurityGroups:
                          - "{}"
                          - "{}"
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
                          - "{}"
                          - "{}"
                          subnet: "{}"
                          loadBalancerInboundNatRules:
                          - "{}"
                          - "{}"
                          privateIPAllocationMethod: Static
                          privateIPAddress: privateIPAddress
                          applicationSecurityGroups:
                          - "{}"
                          - "{}"
                          privateIPAddressVersion: IPv4
                          provisioningState: provisioningState
                          loadBalancerBackendAddressPools:
                          - "{}"
                          - "{}"
                          primary: true
                          publicIPAddress: "{}"
                      provisioningState: provisioningState
                      backendAddresses:
                      - fqdn: fqdn
                        ipAddress: ipAddress
                      - fqdn: fqdn
                        ipAddress: ipAddress
                  - name: name
                    etag: etag
                    type: type
                    properties:
                      backendIPConfigurations:
                      - name: name
                        etag: etag
                        properties:
                          applicationGatewayBackendAddressPools:
[...]
