openapi: 3.0.1
info:
  description: Azure Service Fabric Resource Provider API Client
  title: ServiceFabricManagementClient
  version: 2017-07-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/servicefabric/resource-manager/Microsoft.ServiceFabric/preview/2017-07-01-preview/servicefabric.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: servicefabric
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ServiceFabric/operations:
    get:
      operationId: operations_list
      parameters:
      - description: The version of the ServiceFabric resource provider api
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error response describing why the operation failed.
      summary: Lists all of the available ServiceFabric Resource Manager REST API
        operations.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/clusters:
    get:
      description: |
        List cluster resource
      operationId: clusters_list
      parameters:
      - description: The version of the API.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The customer subscription identifier
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK - Get cluster  successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: List cluster resource
      tags:
      - Cluster
      x-ms-examples:
        List clusters:
          parameters:
            api-version: 2017-07-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: ""
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                  location: eastus
                  name: myCluster
                  properties:
                    addOnFeatures:
                    - RepairManager
                    - DnsService
                    availableClusterVersions:
                    - codeVersion: 6.0.219.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    azureActiveDirectory:
                      clientApplication: d151ad89-4bce-4ae8-b3d1-1dc79679fa75
                      clusterApplication: 5886372e-7bf4-4878-a497-8098aba608ae
                      tenantId: 6abcc6a0-8666-43f1-87b8-172cf86a9f9c
                    certificate:
                      thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      thumbprintSecondary: 361A93445450CC8F2FF747F74500E8044942DAFD
                      x509StoreName: My
                    clientCertificateCommonNames:
                    - certificateCommonName: abc.com
                      certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      isAdmin: true
                    clientCertificateThumbprints:
                    - certificateThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      isAdmin: false
                    clusterCodeVersion: 6.0.219.9494
                    clusterEndpoint: https://eastus.servicefabric.azure.com
                    clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                    clusterState: WaitingForNodes
                    diagnosticsStorageAccountConfig:
                      blobEndpoint: https://diag.blob.core.windows.net/
                      protectedAccountKeyName: StorageAccountKey1
                      queueEndpoint: https://diag.queue.core.windows.net/
                      storageAccountName: diag
                      tableEndpoint: https://diag.table.core.windows.net/
                    fabricSettings:
                    - name: UpgradeService
                      parameters:
                      - name: AppPollIntervalInSeconds
                        value: "60"
                    managementEndpoint: https://myCluster.eastus.cloudapp.azure.com:19080
                    nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 64000
                        startPort: 49000
                      httpGatewayEndpointPort: 19007
                      isPrimary: true
                      name: nt1vm
                      vmInstanceCount: 5
                    provisioningState: Succeeded
                    reliabilityLevel: Silver
                    reverseProxyCertificate:
                      thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      thumbprintSecondary: 361A93445450CC8F2FF747F74500E8044942DAFD
                      x509StoreName: My
                    upgradeDescription:
                      forceRestart: true
                      healthCheckRetryTimeout: 00:05:00
                      healthCheckStableDuration: 00:00:30
                      healthCheckWaitDuration: 00:00:30
                      healthPolicy:
                        maxPercentUnhealthyApplications: 100
                        maxPercentUnhealthyNodes: 100
                      upgradeDomainTimeout: 00:15:00
                      upgradeReplicaSetCheckTimeout: 00:10:00
                      upgradeTimeout: 00:15:00
                    upgradeMode: Manual
                    vmImage: Windows
                  type: Microsoft.ServiceFabric/clusters
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster2
                  location: eastus
                  name: myCluster2
                  properties:
                    addOnFeatures:
                    - RepairManager
                    availableClusterVersions:
                    - codeVersion: 6.0.127.1
                      environment: Linux
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    clientCertificateCommonNames: []
                    clientCertificateThumbprints: []
                    clusterCodeVersion: 6.0.127.1
                    clusterEndpoint: https://eastus.servicefabric.azure.com
                    clusterId: 2747e469-b24e-4039-8a0a-46151419523f
                    clusterState: WaitingForNodes
                    diagnosticsStorageAccountConfig:
                      blobEndpoint: https://diag.blob.core.windows.net/
                      protectedAccountKeyName: StorageAccountKey1
                      queueEndpoint: https://diag.queue.core.windows.net/
                      storageAccountName: diag
                      tableEndpoint: https://diag.table.core.windows.net/
                    fabricSettings:
                    - name: UpgradeService
                      parameters:
                      - name: AppPollIntervalInSeconds
                        value: "60"
                    managementEndpoint: http://myCluster2.eastus.cloudapp.azure.com:19080
                    nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 64000
                        startPort: 49000
                      httpGatewayEndpointPort: 19007
                      isPrimary: true
                      name: nt1vm
                      vmInstanceCount: 5
                    provisioningState: Succeeded
                    reliabilityLevel: Silver
                    upgradeDescription:
                      deltaHealthPolicy:
                        maxPercentDeltaUnhealthyApplications: 0
                        maxPercentDeltaUnhealthyNodes: 0
                        maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                      forceRestart: false
                      healthCheckRetryTimeout: 00:45:00
                      healthCheckStableDuration: 00:05:00
                      healthCheckWaitDuration: 00:05:00
                      healthPolicy:
                        maxPercentUnhealthyApplications: 100
                        maxPercentUnhealthyNodes: 100
                      upgradeDomainTimeout: 02:00:00
                      upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                      upgradeTimeout: 12:00:00
                    upgradeMode: Manual
                    vmImage: linux
                  type: Microsoft.ServiceFabric/clusters
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.cluster_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions:
    get:
      description: |
        List cluster code versions by location
      operationId: cluster_versions_list
      parameters:
      - description: "The location for the cluster code versions, this is different\
          \ from cluster location"
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The customer subscription identifier
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsListResult'
          description: OK - List cluster code versions successfully
      summary: List cluster code versions by location
      tags:
      - ClusterVersion
      x-ms-examples:
        List cluster versions:
          parameters:
            api-version: 2017-07-01-preview
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/environments/Windows/clusterVersions/6.0.219.9494
                  name: 6.0.219.9494
                  properties:
                    codeVersion: 6.0.219.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/environments/Linux/clusterVersions/6.0.127.1
                  name: 6.0.127.1
                  properties:
                    codeVersion: 6.0.127.1
                    environment: Linux
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.cluster_version_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions/{clusterVersion}:
    get:
      description: |
        Get cluster code versions by location
      operationId: cluster_versions_get
      parameters:
      - description: "The location for the cluster code versions, this is different\
          \ from cluster location"
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The customer subscription identifier
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The cluster code version
        in: path
        name: clusterVersion
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsListResult'
          description: OK - Get cluster code versions successfully
      summary: Get cluster code versions
      tags:
      - ClusterVersion
      x-ms-examples:
        Get cluster version:
          parameters:
            api-version: 2017-07-01-preview
            clusterVersion: 6.0.219.9494
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/environments/Windows/clusterVersions/6.0.219.9494
                  name: 6.0.219.9494
                  properties:
                    codeVersion: 6.0.219.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.cluster_version_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions
  : get:
      description: |
        List cluster code versions by environment
      operationId: cluster_versions_list_by_environment
      parameters:
      - description: "The location for the cluster code versions, this is different\
          \ from cluster location"
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Cluster operating system, the default means all"
        in: path
        name: environment
        required: true
        schema:
          enum:
          - Windows
          - Linux
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The customer subscription identifier
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsListResult'
          description: OK - List cluster code versions successfully
      summary: List cluster code versions by environment
      tags:
      - ClusterVersion
      x-ms-examples:
        List cluster versions by environment:
          parameters:
            api-version: 2017-07-01-preview
            environment: Windows
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/environments/Windows/clusterVersions/6.0.219.9494
                  name: 6.0.219.9494
                  properties:
                    codeVersion: 6.0.219.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.cluster_version_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions/{clusterVersion}
  : get:
      description: |
        Get cluster code versions by environment
      operationId: cluster_versions_get_by_environment
      parameters:
      - description: "The location for the cluster code versions, this is different\
          \ from cluster location"
        in: path
        name: location
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "Cluster operating system, the default means all"
        in: path
        name: environment
        required: true
        schema:
          enum:
          - Windows
          - Linux
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The customer subscription identifier
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The cluster code version
        in: path
        name: cluster_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterCodeVersionsListResult'
          description: OK - Get cluster code versions successfully
      summary: Get cluster code versions by environment
      tags:
      - ClusterVersion
      x-ms-examples:
        Get cluster version by environment:
          parameters:
            api-version: 2017-07-01-preview
            clusterVersion: 6.0.219.9494
            environment: Windows
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/environments/Windows/clusterVersions/6.0.219.9494
                  name: 6.0.219.9494
                  properties:
                    codeVersion: 6.0.219.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.cluster_version_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}:
    delete:
      description: |
        Delete cluster resource
      operationId: clusters_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The customer subscription identifier
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK - cluster deleted successfully
        "204":
          content: {}
          description: NoContent - cluster does not exist
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Delete cluster resource
      tags:
      - Cluster
      x-ms-examples:
        Delete a cluster:
          parameters:
            api-version: 2017-07-01-preview
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              headers: {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.cluster_controller
    get:
      description: |
        Get cluster resource
      operationId: clusters_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource
        in: path
        name: clusterName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The customer subscription identifier
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: OK - Get cluster successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Get cluster resource
      tags:
      - Cluster
      x-ms-examples:
        Get a cluster:
          parameters:
            api-version: 2017-07-01-preview
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: eastus
                name: myCluster
                properties:
                  addOnFeatures:
                  - RepairManager
                  - DnsService
                  availableClusterVersions:
                  - codeVersion: 6.0.219.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  azureActiveDirectory:
                    clientApplication: d151ad89-4bce-4ae8-b3d1-1dc79679fa75
                    clusterApplication: 5886372e-7bf4-4878-a497-8098aba608ae
                    tenantId: 6abcc6a0-8666-43f1-87b8-172cf86a9f9c
                  certificate:
                    thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    thumbprintSecondary: 361A93445450CC8F2FF747F74500E8044942DAFD
                    x509StoreName: My
                  clientCertificateCommonNames:
                  - certificateCommonName: abc.com
                    certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    isAdmin: true
                  clientCertificateThumbprints:
                  - certificateThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    isAdmin: false
                  clusterCodeVersion: 6.0.219.9494
                  clusterEndpoint: https://eastus.servicefabric.azure.com
                  clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                  clusterState: WaitingForNodes
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://diag.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://diag.queue.core.windows.net/
                    storageAccountName: diag
                    tableEndpoint: https://diag.table.core.windows.net/
                  fabricSettings:
                  - name: UpgradeService
                    parameters:
                    - name: AppPollIntervalInSeconds
                      value: "60"
                  managementEndpoint: https://myCluster.eastus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 64000
                      startPort: 49000
                    httpGatewayEndpointPort: 19007
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  provisioningState: Succeeded
                  reliabilityLevel: Silver
                  reverseProxyCertificate:
                    thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    thumbprintSecondary: 361A93445450CC8F2FF747F74500E8044942DAFD
                    x509StoreName: My
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:05:00
                    healthCheckStableDuration: 00:00:30
                    healthCheckWaitDuration: 00:00:30
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    upgradeDomainTimeout: 00:15:00
                    upgradeReplicaSetCheckTimeout: 00:10:00
                    upgradeTimeout: 00:15:00
                  upgradeMode: Manual
                  vmImage: Windows
                type: Microsoft.ServiceFabric/clusters
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.cluster_controller
    patch:
      description: |
        Update cluster configuration
      operationId: clusters_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The customer subscription identifier
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterUpdateParameters'
        description: The parameters which contains the property value and property
          name which used to update the cluster configuration.
        required: true
        x-ms-parameter-location: method
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: OK - Cluster updated successfully
        "202":
          content: {}
          description: Accepted - Update request accepted; the operation will complete
            asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Update cluster configuration
      tags:
      - Cluster
      x-ms-examples:
        Patch a cluster:
          parameters:
            api-version: 2017-07-01-preview
            clusterName: myCluster
            parameters:
              properties:
                addOnFeatures: []
                nodeTypes:
                - applicationPorts:
                    endPort: 30000
                    startPort: 20000
                  clientConnectionEndpointPort: 19000
                  durabilityLevel: Bronze
                  ephemeralPorts:
                    endPort: 64000
                    startPort: 49000
                  httpGatewayEndpointPort: 19007
                  isPrimary: true
                  name: nt1vm
                  vmInstanceCount: 5
                - applicationPorts:
                    endPort: 2000
                    startPort: 1000
                  clientConnectionEndpointPort: 0
                  durabilityLevel: Bronze
                  ephemeralPorts:
                    endPort: 4000
                    startPort: 3000
                  httpGatewayEndpointPort: 0
                  isPrimary: false
                  name: testnt1
                  vmInstanceCount: 3
                reliabilityLevel: Bronze
                upgradeMode: Automatic
              tags:
                a: b
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: eastus
                name: myCluster
                properties:
                  addOnFeatures: []
                  availableClusterVersions:
                  - codeVersion: 6.0.219.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 6.0.219.9494
                  clusterEndpoint: https://eastus.servicefabric.azure.com
                  clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                  clusterState: WaitingForNodes
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://diag.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://diag.queue.core.windows.net/
                    storageAccountName: diag
                    tableEndpoint: https://diag.table.core.windows.net/
                  fabricSettings:
                  - name: UpgradeService
                    parameters:
                    - name: AppPollIntervalInSeconds
                      value: "60"
                  managementEndpoint: http://myCluster.eastus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 64000
                      startPort: 49000
                    httpGatewayEndpointPort: 19007
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  - applicationPorts:
                      endPort: 2000
                      startPort: 1000
                    clientConnectionEndpointPort: 0
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 4000
                      startPort: 3000
                    httpGatewayEndpointPort: 0
                    isPrimary: false
                    name: testnt1
                    vmInstanceCount: 3
                  provisioningState: Succeeded
                  reliabilityLevel: Bronze
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: false
                    healthCheckRetryTimeout: 00:45:00
                    healthCheckStableDuration: 00:05:00
                    healthCheckWaitDuration: 00:05:00
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: 12:00:00
                  upgradeMode: Automatic
                tags:
                  a: b
                type: Microsoft.ServiceFabric/clusters
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/1ca6e48d-70ca-4e43-b652-3b0522f64d67?api-version=2017-07-01-privatepreview
                Retry-After: "10"
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.cluster_controller
    put:
      description: |
        Create cluster resource
      operationId: clusters_create
      parameters:
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the cluster resource
        in: path
        name: cluster_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The customer subscription identifier
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
        description: The cluster resource.
        required: true
        x-ms-parameter-location: method
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
          description: OK - Put cluster successfully
        "202":
          content: {}
          description: Accepted - Put request accepted; the operation will complete
            asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: Create a ServiceFabric cluster
      tags:
      - Cluster
      x-ms-examples:
        Put a cluster with max parameter:
          parameters:
            api-version: 2017-07-01-preview
            clusterName: myCluster
            parameters:
              id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
              location: eastus
              name: myCluster
              properties:
                addOnFeatures:
                - RepairManager
                - DnsService
                azureActiveDirectory:
                  clientApplication: d151ad89-4bce-4ae8-b3d1-1dc79679fa75
                  clusterApplication: 5886372e-7bf4-4878-a497-8098aba608ae
                  tenantId: 6abcc6a0-8666-43f1-87b8-172cf86a9f9c
                certificate:
                  thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                  thumbprintSecondary: 361A93445450CC8F2FF747F74500E8044942DAFD
                  x509StoreName: My
                clientCertificateCommonNames:
                - certificateCommonName: abc.com
                  certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                  isAdmin: true
                clientCertificateThumbprints:
                - certificateThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                  isAdmin: false
                clusterCodeVersion: 6.0.219.9494
                diagnosticsStorageAccountConfig:
                  blobEndpoint: https://diag.blob.core.windows.net/
                  protectedAccountKeyName: StorageAccountKey1
                  queueEndpoint: https://diag.queue.core.windows.net/
                  storageAccountName: diag
                  tableEndpoint: https://diag.table.core.windows.net/
                fabricSettings:
                - name: UpgradeService
                  parameters:
                  - name: AppPollIntervalInSeconds
                    value: "60"
                managementEndpoint: https://myCluster.eastus.cloudapp.azure.com:19080
                nodeTypes:
                - applicationPorts:
                    endPort: 30000
                    startPort: 20000
                  clientConnectionEndpointPort: 19000
                  durabilityLevel: Bronze
                  ephemeralPorts:
                    endPort: 64000
                    startPort: 49000
                  httpGatewayEndpointPort: 19007
                  isPrimary: true
                  name: nt1vm
                  vmInstanceCount: 5
                reliabilityLevel: Silver
                reverseProxyCertificate:
                  thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                  thumbprintSecondary: 361A93445450CC8F2FF747F74500E8044942DAFD
                  x509StoreName: My
                upgradeDescription:
                  deltaHealthPolicy:
                    maxPercentDeltaUnhealthyApplications: 0
                    maxPercentDeltaUnhealthyNodes: 0
                    maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                  forceRestart: true
                  healthCheckRetryTimeout: 00:05:00
                  healthCheckStableDuration: 00:00:30
                  healthCheckWaitDuration: 00:00:30
                  healthPolicy:
                    maxPercentUnhealthyApplications: 100
                    maxPercentUnhealthyNodes: 100
                  upgradeDomainTimeout: 00:15:00
                  upgradeReplicaSetCheckTimeout: 00:10:00
                  upgradeTimeout: 00:15:00
                upgradeMode: Manual
                vmImage: Windows
              type: Microsoft.ServiceFabric/clusters
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: eastus
                name: myCluster
                properties:
                  addOnFeatures:
                  - RepairManager
                  - DnsService
                  availableClusterVersions:
                  - codeVersion: 6.0.219.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  azureActiveDirectory:
                    clientApplication: d151ad89-4bce-4ae8-b3d1-1dc79679fa75
                    clusterApplication: 5886372e-7bf4-4878-a497-8098aba608ae
                    tenantId: 6abcc6a0-8666-43f1-87b8-172cf86a9f9c
                  certificate:
                    thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    thumbprintSecondary: 361A93445450CC8F2FF747F74500E8044942DAFD
                    x509StoreName: My
                  clientCertificateCommonNames:
                  - certificateCommonName: abc.com
                    certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    isAdmin: true
                  clientCertificateThumbprints:
                  - certificateThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    isAdmin: false
                  clusterCodeVersion: 6.0.219.9494
                  clusterEndpoint: https://eastus.servicefabric.azure.com
                  clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                  clusterState: WaitingForNodes
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://diag.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://diag.queue.core.windows.net/
                    storageAccountName: diag
                    tableEndpoint: https://diag.table.core.windows.net/
                  fabricSettings:
                  - name: UpgradeService
                    parameters:
                    - name: AppPollIntervalInSeconds
                      value: "60"
                  managementEndpoint: https://myCluster.eastus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 64000
                      startPort: 49000
                    httpGatewayEndpointPort: 19007
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  provisioningState: Succeeded
                  reliabilityLevel: Silver
                  reverseProxyCertificate:
                    thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    thumbprintSecondary: 361A93445450CC8F2FF747F74500E8044942DAFD
                    x509StoreName: My
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:05:00
                    healthCheckStableDuration: 00:00:30
                    healthCheckWaitDuration: 00:00:30
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    upgradeDomainTimeout: 00:15:00
                    upgradeReplicaSetCheckTimeout: 00:10:00
                    upgradeTimeout: 00:15:00
                  upgradeMode: Manual
                  vmImage: Windows
                type: Microsoft.ServiceFabric/clusters
              headers:
                Location: http://10.91.140.224/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/eastus/operationResults/4b5f6709-bc12-4365-8df3-894984b2a221?api-version=2017-07-01-privatepreview
                Retry-After: "10"
            "202": {}
        Put a cluster with min parameter:
          parameters:
            api-version: 2017-07-01-preview
            clusterName: myCluster
            parameters:
              id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
              location: eastus
              name: myCluster
              properties:
                diagnosticsStorageAccountConfig:
                  blobEndpoint: https://diag.blob.core.windows.net/
                  protectedAccountKeyName: StorageAccountKey1
                  queueEndpoint: https://diag.queue.core.windows.net/
                  storageAccountName: diag
                  tableEndpoint: https://diag.table.core.windows.net/
                fabricSettings:
                - name: UpgradeService
                  parameters:
                  - name: AppPollIntervalInSeconds
                    value: "60"
                managementEndpoint: http://myCluster.eastus.cloudapp.azure.com:19080
                nodeTypes:
                - applicationPorts:
                    endPort: 30000
                    startPort: 20000
                  clientConnectionEndpointPort: 19000
                  durabilityLevel: Bronze
                  ephemeralPorts:
                    endPort: 64000
                    startPort: 49000
                  httpGatewayEndpointPort: 19007
                  isPrimary: true
                  name: nt1vm
                  vmInstanceCount: 5
                reliabilityLevel: Silver
                upgradeMode: Automatic
              type: Microsoft.ServiceFabric/clusters
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: eastus
                name: myCluster
                properties:
                  availableClusterVersions:
                  - codeVersion: 6.0.219.9494
                    environment: Windows
                    supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 6.0.219.9494
                  clusterEndpoint: https://eastus.servicefabric.azure.com
                  clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                  clusterState: WaitingForNodes
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://diag.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://diag.queue.core.windows.net/
                    storageAccountName: diag
                    tableEndpoint: https://diag.table.core.windows.net/
                  fabricSettings:
                  - name: UpgradeService
                    parameters:
                    - name: AppPollIntervalInSeconds
                      value: "60"
                  managementEndpoint: http://myCluster.eastus.cloudapp.azure.com:19080
                  nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 64000
                      startPort: 49000
                    httpGatewayEndpointPort: 19007
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                  provisioningState: Succeeded
                  reliabilityLevel: Silver
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: false
                    healthCheckRetryTimeout: 00:45:00
                    healthCheckStableDuration: 00:05:00
                    healthCheckWaitDuration: 00:05:00
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: 12:00:00
                  upgradeMode: Automatic
                type: Microsoft.ServiceFabric/clusters
              headers: {}
            "202": {}
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.cluster_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters:
    get:
      description: |
        List cluster resource by resource group
      operationId: clusters_list_by_resource_group
      parameters:
      - description: The name of the resource group.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The version of the API.
        in: query
        name: api_version
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The customer subscription identifier
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterListResult'
          description: OK - Get cluster  successfully
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      summary: List cluster resource by resource group
      tags:
      - Cluster
      x-ms-examples:
        List cluster by resource group:
          parameters:
            api-version: 2017-07-01-preview
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                  location: eastus
                  name: myCluster
                  properties:
                    addOnFeatures:
                    - RepairManager
                    - DnsService
                    availableClusterVersions:
                    - codeVersion: 6.0.219.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    azureActiveDirectory:
                      clientApplication: d151ad89-4bce-4ae8-b3d1-1dc79679fa75
                      clusterApplication: 5886372e-7bf4-4878-a497-8098aba608ae
                      tenantId: 6abcc6a0-8666-43f1-87b8-172cf86a9f9c
                    certificate:
                      thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      thumbprintSecondary: 361A93445450CC8F2FF747F74500E8044942DAFD
                      x509StoreName: My
                    clientCertificateCommonNames:
                    - certificateCommonName: abc.com
                      certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      isAdmin: true
                    clientCertificateThumbprints:
                    - certificateThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      isAdmin: false
                    clusterCodeVersion: 6.0.219.9494
                    clusterEndpoint: https://eastus.servicefabric.azure.com
                    clusterId: 92584666-9889-4ae8-8d02-91902923d37f
                    clusterState: WaitingForNodes
                    diagnosticsStorageAccountConfig:
                      blobEndpoint: https://diag.blob.core.windows.net/
                      protectedAccountKeyName: StorageAccountKey1
                      queueEndpoint: https://diag.queue.core.windows.net/
                      storageAccountName: diag
                      tableEndpoint: https://diag.table.core.windows.net/
                    fabricSettings:
                    - name: UpgradeService
                      parameters:
                      - name: AppPollIntervalInSeconds
                        value: "60"
                    managementEndpoint: https://myCluster.eastus.cloudapp.azure.com:19080
                    nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 64000
                        startPort: 49000
                      httpGatewayEndpointPort: 19007
                      isPrimary: true
                      name: nt1vm
                      vmInstanceCount: 5
                    provisioningState: Succeeded
                    reliabilityLevel: Silver
                    reverseProxyCertificate:
                      thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      thumbprintSecondary: 361A93445450CC8F2FF747F74500E8044942DAFD
                      x509StoreName: My
                    upgradeDescription:
                      forceRestart: true
                      healthCheckRetryTimeout: 00:05:00
                      healthCheckStableDuration: 00:00:30
                      healthCheckWaitDuration: 00:00:30
                      healthPolicy:
                        maxPercentUnhealthyApplications: 100
                        maxPercentUnhealthyNodes: 100
                      upgradeDomainTimeout: 00:15:00
                      upgradeReplicaSetCheckTimeout: 00:10:00
                      upgradeTimeout: 00:15:00
                    upgradeMode: Manual
                    vmImage: Windows
                  type: Microsoft.ServiceFabric/clusters
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster2
                  location: eastus
                  name: myCluster2
                  properties:
                    addOnFeatures:
                    - RepairManager
                    availableClusterVersions:
                    - codeVersion: 6.0.127.1
                      environment: Linux
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    clientCertificateCommonNames: []
                    clientCertificateThumbprints: []
                    clusterCodeVersion: 6.0.127.1
                    clusterEndpoint: https://eastus.servicefabric.azure.com
                    clusterId: 2747e469-b24e-4039-8a0a-46151419523f
                    clusterState: WaitingForNodes
                    diagnosticsStorageAccountConfig:
                      blobEndpoint: https://diag.blob.core.windows.net/
                      protectedAccountKeyName: StorageAccountKey1
                      queueEndpoint: https://diag.queue.core.windows.net/
                      storageAccountName: diag
                      tableEndpoint: https://diag.table.core.windows.net/
                    fabricSettings:
                    - name: UpgradeService
                      parameters:
                      - name: AppPollIntervalInSeconds
                        value: "60"
                    managementEndpoint: http://myCluster2.eastus.cloudapp.azure.com:19080
                    nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 64000
                        startPort: 49000
                      httpGatewayEndpointPort: 19007
                      isPrimary: true
                      name: nt1vm
                      vmInstanceCount: 5
                    provisioningState: Succeeded
                    reliabilityLevel: Silver
                    upgradeDescription:
                      deltaHealthPolicy:
                        maxPercentDeltaUnhealthyApplications: 0
                        maxPercentDeltaUnhealthyNodes: 0
                        maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                      forceRestart: false
                      healthCheckRetryTimeout: 00:45:00
                      healthCheckStableDuration: 00:05:00
                      healthCheckWaitDuration: 00:05:00
                      healthPolicy:
                        maxPercentUnhealthyApplications: 100
                        maxPercentUnhealthyNodes: 100
                      upgradeDomainTimeout: 02:00:00
                      upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                      upgradeTimeout: 12:00:00
                    upgradeMode: Manual
                    vmImage: linux
                  type: Microsoft.ServiceFabric/clusters
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.cluster_controller
components:
  parameters:
    api-version:
      description: The version of the API.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    applicationName:
      description: The name of the application resource.
      in: path
      name: applicationName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    applicationTypeName:
      description: The name of the application type name resource
      in: path
      name: applicationTypeName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    clusterNameParameter:
      description: The name of the cluster resource
      in: path
      name: clusterName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    clusterVersion:
      description: The cluster code version
      in: path
      name: clusterVersion
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    environment:
      description: "Cluster operating system, the default means all"
      in: path
      name: environment
      required: true
      schema:
        enum:
        - Windows
        - Linux
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    locationForClusterCodeVersions:
      description: "The location for the cluster code versions, this is different\
        \ from cluster location"
      in: path
      name: location
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: The name of the resource group.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    serviceName:
      description: "The name of the service resource in the format of {applicationName}~{serviceName}."
      in: path
      name: serviceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionId:
      description: The customer subscription identifier
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    version:
      description: The application type version.
      in: path
      name: version
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    AddOnFeatures:
      description: Available cluster add-on features
      enum:
      - RepairManager
      - DnsService
      - BackupRestoreService
      title: AddOnFeatures
      type: string
    ApplicationHealthPolicy:
      description: |
        Defines a health policy used to evaluate the health of an application or one of its children entities.
      properties:
        ConsiderWarningAsError:
          default: false
          description: Indicates whether warnings are treated with the same severity
            as errors.
          title: ConsiderWarningAsError
          type: boolean
        DefaultServiceTypeHealthPolicy:
          $ref: '#/components/schemas/ServiceTypeHealthPolicy'
        MaxPercentUnhealthyDeployedApplications:
          description: |
            The maximum allowed percentage of unhealthy deployed applications. Allowed values are Byte values from zero to 100.
            The percentage represents the maximum tolerated percentage of deployed applications that can be unhealthy before the application is considered in error.
            This is calculated by dividing the number of unhealthy deployed applications over the number of nodes where the application is currently deployed on in the cluster.
            The computation rounds up to tolerate one failure on small numbers of nodes. Default percentage is zero.
          title: MaxPercentUnhealthyDeployedApplications
          type: integer
        ServiceTypeHealthPolicyMap:
          description: |
            Defines a ServiceTypeHealthPolicy per service type name.

            The entries in the map replace the default service type health policy for each specified service type. For example, in an application that contains both a stateless gateway service type and a stateful engine service type, the health policies for the stateless and stateful services can be configured differently. With policy per service type, there's more granular control of the health of the service.

            If no policy is specified for a service type name, the DefaultServiceTypeHealthPolicy is used for evaluation.
          items:
            $ref: '#/components/schemas/ServiceTypeHealthPolicyMapItem'
          title: ServiceTypeHealthPolicyMap
          type: array
      title: ApplicationHealthPolicy
      type: object
    ApplicationMetricDescription:
      description: |
        Describes capacity information for a custom resource balancing metric. This can be used to limit the total consumption of this metric by the services of this application.
      properties:
        MaximumCapacity:
          description: |
            The maximum node capacity for Service Fabric application.
            This is the maximum Load for an instance of this application on a single node. Even if the capacity of node is greater than this value, Service Fabric will limit the total load of services within the application on each node to this value.
            If set to zero, capacity for this metric is unlimited on each node.
            When creating a new application with application capacity defined, the product of MaximumNodes and this value must always be smaller than or equal to TotalApplicationCapacity.
            When updating existing application with application capacity, the product of MaximumNodes and this value must always be smaller than or equal to TotalApplicationCapacity.
          format: int64
          title: MaximumCapacity
          type: integer
        Name:
          description: The name of the metric.
          title: Name
          type: string
        ReservationCapacity:
          description: |
            The node reservation capacity for Service Fabric application.
            This is the amount of load which is reserved on nodes which have instances of this application.
            If MinimumNodes is specified, then the product of these values will be the capacity reserved in the cluster for the application.
            If set to zero, no capacity is reserved for this metric.
            When setting application capacity or when updating application capacity; this value must be smaller than or equal to MaximumCapacity for each metric.
          format: int64
          title: ReservationCapacity
          type: integer
        TotalApplicationCapacity:
          description: |
            The total metric capacity for Service Fabric application.
            This is the total metric capacity for this application in the cluster. Service Fabric will try to limit the sum of loads of services within the application to this value.
            When creating a new application with application capacity defined, the product of MaximumNodes and MaximumCapacity must always be smaller than or equal to this value.
          format: int64
          title: TotalApplicationCapacity
          type: integer
      title: ApplicationMetricDescription
      type: object
    ApplicationMetricDescriptionList:
      description: List of application capacity metric description.
      items:
        $ref: '#/components/schemas/ApplicationMetricDescription'
      title: ApplicationMetricDescriptionList
      type: array
    ApplicationParameter:
      description: Describes an application parameter override to be applied when
        creating or upgrading an application.
      properties:
        Key:
          description: The name of the parameter.
          title: Key
          type: string
        Value:
          description: The value of the parameter.
          title: Value
          type: string
      required:
      - Key
      - Value
      title: ApplicationParameter
      type: object
    ApplicationParameterList:
      description: List of application parameters with overridden values from their
        default values specified in the application manifest.
      items:
        $ref: '#/components/schemas/ApplicationParameter'
      title: ApplicationParameterList
      type: array
    ApplicationProperties:
      allOf:
      - $ref: '#/components/schemas/ApplicationUpdateProperties'
      description: The application resource properties.
      properties:
        provisioningState:
          description: "The current deployment or provisioning state, which only appears\
            \ in the response"
          readOnly: true
          title: provisioningState
          type: string
        typeName:
          description: The application type name as defined in the application manifest.
          title: typeName
          type: string
      title: ApplicationProperties
    ApplicationResource:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: The application resource.
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationProperties'
      title: ApplicationResource
    ApplicationResourceList:
      description: The list of application resources.
      properties:
        value:
          items:
            $ref: '#/components/schemas/ApplicationResource'
          type: array
      type: object
    ApplicationResourceUpdate:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: The application resource for patch operations.
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationUpdateProperties'
    ApplicationTypeName:
      description: The application type name as defined in the application manifest.
      title: typeName
      type: string
    ApplicationTypeParameterList:
      description: List of application type parameters that can be overridden when
        creating or updating the application.
      items:
        $ref: '#/components/schemas/ApplicationParameter'
      title: defaultParameterList
      type: array
    ApplicationTypeProperties:
      description: The application type name properties
      properties:
        provisioningState:
          description: "The current deployment or provisioning state, which only appears\
            \ in the response."
          readOnly: true
          title: provisioningState
          type: string
      title: ApplicationTypeProperties
      type: object
    ApplicationTypeResource:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: The application type name resource
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationTypeProperties'
      title: ApplicationTypeResource
    ApplicationTypeResourceList:
      description: The list of application type names.
      properties:
        value:
          items:
            $ref: '#/components/schemas/ApplicationTypeResource'
          type: array
      type: object
    ApplicationTypeVersion:
      description: The version of the application type as defined in the application
        manifest.
      title: ApplicationTypeVersion
      type: string
    ApplicationUpdateProperties:
      description: The application resource properties for patch operations.
      properties:
        maximumNodes:
          default: 0
          description: "The maximum number of nodes where Service Fabric will reserve\
            \ capacity for this application. Note that this does not mean that the\
            \ services of this application will be placed on all of those nodes. By\
            \ default, the value of this property is zero and it means that the services\
            \ can be placed on any node."
          format: int64
          minimum: 0
          title: maximumNodes
          type: integer
        metrics:
          description: List of application capacity metric description.
          items:
            $ref: '#/components/schemas/ApplicationMetricDescription'
          title: ApplicationMetricDescriptionList
          type: array
        minimumNodes:
          description: "The minimum number of nodes where Service Fabric will reserve\
            \ capacity for this application. Note that this does not mean that the\
            \ services of this application will be placed on all of those nodes. If\
            \ this property is set to zero, no capacity will be reserved. The value\
            \ of this property cannot be more than the value of the MaximumNodes property."
          format: int64
          minimum: 0
          title: minimumNodes
          type: integer
        parameters:
          description: List of application parameters with overridden values from
            their default values specified in the application manifest.
          items:
            $ref: '#/components/schemas/ApplicationParameter'
          title: ApplicationParameterList
          type: array
        removeApplicationCapacity:
          description: The version of the application type
          title: removeApplicationCapacity
          type: boolean
        typeVersion:
          description: The version of the application type as defined in the application
            manifest.
          title: ApplicationTypeVersion
          type: string
        upgradePolicy:
          $ref: '#/components/schemas/ApplicationUpgradePolicy'
      title: ApplicationUpdateProperties
      type: object
    ApplicationUpgradePolicy:
      description: Describes the policy for a monitored application upgrade.
      properties:
        applicationHealthPolicy:
          $ref: '#/components/schemas/ApplicationHealthPolicy'
        forceRestart:
          default: false
          description: "If true, then processes are forcefully restarted during upgrade\
            \ even when the code version has not changed (the upgrade only changes\
            \ configuration or data)."
          title: ForceRestart
          type: boolean
        rollingUpgradeMonitoringPolicy:
          $ref: '#/components/schemas/RollingUpgradeMonitoringPolicy'
        upgradeReplicaSetCheckTimeout:
          description: "The maximum amount of time to block processing of an upgrade\
            \ domain and prevent loss of availability when there are unexpected issues.\
            \ When this timeout expires, processing of the upgrade domain will proceed\
            \ regardless of availability loss issues. The timeout is reset at the\
            \ start of each upgrade domain. Valid values are between 0 and 42949672925\
            \ inclusive. (unsigned 32-bit integer)."
          format: int64
          title: UpgradeReplicaSetCheckTimeout
          type: integer
      title: ApplicationUpgradePolicy
      type: object
    AvailableOperationDisplay:
      description: Operation supported by Service Fabric resource provider
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: Operation description
          title: description
          type: string
        operation:
          description: The operation that can be performed.
          title: operation
          type: string
        provider:
          description: The name of the provider.
          title: provider
          type: string
        resource:
          description: The resource on which the operation is performed
          title: resource
          type: string
      title: AvailableOperationDisplay
      type: object
    AzureActiveDirectory:
      description: The settings to enable AAD authentication on the cluster.
      example:
        clientApplication: clientApplication
        tenantId: tenantId
        clusterApplication: clusterApplication
      properties:
        clientApplication:
          description: Azure active directory client application id.
          title: clientApplication
          type: string
        clusterApplication:
          description: Azure active directory cluster application id.
          title: clusterApplication
          type: string
        tenantId:
          description: Azure active directory tenant id.
          title: tenantId
          type: string
      title: AzureActiveDirectory
      type: object
    CertificateDescription:
      description: Describes the certificate details.
      example:
        x509StoreName: AddressBook
        thumbprint: thumbprint
        thumbprintSecondary: thumbprintSecondary
      properties:
        thumbprint:
          description: Thumbprint of the primary certificate.
          title: thumbprint
          type: string
        thumbprintSecondary:
          description: Thumbprint of the secondary certificate.
          title: thumbprintSecondary
          type: string
        x509StoreName:
          description: The local certificate store location.
          enum:
          - AddressBook
          - AuthRoot
          - CertificateAuthority
          - Disallowed
          - My
          - Root
          - TrustedPeople
          - TrustedPublisher
          title: x509StoreName
          type: string
      required:
      - thumbprint
      title: CertificateDescription
      type: object
    ClientCertificateCommonName:
      description: Describes the client certificate details using common name.
      example:
        isAdmin: true
        certificateIssuerThumbprint: certificateIssuerThumbprint
        certificateCommonName: certificateCommonName
      properties:
        certificateCommonName:
          description: The common name of the client certificate.
          title: certificateCommonName
          type: string
        certificateIssuerThumbprint:
          description: The issuer thumbprint of the client certificate.
          title: certificateIssuerThumbprint
          type: string
        isAdmin:
          description: Indicates if the client certificate has admin access to the
            cluster. Non admin clients can perform only read only operations on the
            cluster.
          title: isAdmin
          type: boolean
      required:
      - certificateCommonName
      - certificateIssuerThumbprint
      - isAdmin
      title: ClientCertificateCommonName
      type: object
    ClientCertificateThumbprint:
      description: Describes the client certificate details using thumbprint.
      example:
        certificateThumbprint: certificateThumbprint
        isAdmin: true
      properties:
        certificateThumbprint:
          description: The thumbprint of the client certificate.
          title: certificateThumbprint
          type: string
        isAdmin:
          description: Indicates if the client certificate has admin access to the
            cluster. Non admin clients can perform only read only operations on the
            cluster.
          title: isAdmin
          type: boolean
      required:
      - certificateThumbprint
      - isAdmin
      title: ClientCertificateThumbprint
      type: object
    Cluster:
      allOf:
      - description: The cluster resource properties
        type: object
      - $ref: '#/components/schemas/Resource'
      - properties:
          properties:
            $ref: '#/components/schemas/ClusterProperties'
        type: object
      description: |
        The cluster resource
      example:
        name: name
        location: location
        id: id
        type: type
        properties:
          clusterEndpoint: clusterEndpoint
          addOnFeatures:
          - RepairManager
          - RepairManager
          availableClusterVersions:
          - supportExpiryUtc: supportExpiryUtc
            environment: Windows
            codeVersion: codeVersion
          - supportExpiryUtc: supportExpiryUtc
            environment: Windows
            codeVersion: codeVersion
          certificate:
            x509StoreName: AddressBook
            thumbprint: thumbprint
            thumbprintSecondary: thumbprintSecondary
          clusterId: clusterId
          provisioningState: Updating
          reverseProxyCertificate:
            x509StoreName: AddressBook
            thumbprint: thumbprint
            thumbprintSecondary: thumbprintSecondary
          upgradeDescription:
            healthCheckRetryTimeout: healthCheckRetryTimeout
            upgradeReplicaSetCheckTimeout: upgradeReplicaSetCheckTimeout
            healthCheckWaitDuration: healthCheckWaitDuration
            forceRestart: true
            deltaHealthPolicy:
              maxPercentUpgradeDomainDeltaUnhealthyNodes: 36
              maxPercentDeltaUnhealthyApplications: 70
              maxPercentDeltaUnhealthyNodes: 93
            healthPolicy:
              maxPercentUnhealthyApplications: 20
              maxPercentUnhealthyNodes: 41
            healthCheckStableDuration: healthCheckStableDuration
            upgradeDomainTimeout: upgradeDomainTimeout
            upgradeTimeout: upgradeTimeout
          managementEndpoint: managementEndpoint
          vmImage: vmImage
          upgradeMode: Automatic
          azureActiveDirectory:
            clientApplication: clientApplication
            tenantId: tenantId
            clusterApplication: clusterApplication
          clientCertificateCommonNames:
          - isAdmin: true
            certificateIssuerThumbprint: certificateIssuerThumbprint
            certificateCommonName: certificateCommonName
          - isAdmin: true
            certificateIssuerThumbprint: certificateIssuerThumbprint
            certificateCommonName: certificateCommonName
          fabricSettings:
          - name: name
            parameters:
            - name: name
              value: value
            - name: name
              value: value
          - name: name
            parameters:
            - name: name
              value: value
            - name: name
              value: value
          nodeTypes:
          - ephemeralPorts:
              startPort: 6
              endPort: 0
            reverseProxyEndpointPort: 5
            applicationPorts:
              startPort: 6
              endPort: 0
            durabilityLevel: Bronze
            httpGatewayEndpointPort: 5
            isPrimary: true
            name: name
            capacities:
              key: capacities
            placementProperties:
              key: placementProperties
            clientConnectionEndpointPort: 1
            vmInstanceCount: 494379917
          - ephemeralPorts:
              startPort: 6
              endPort: 0
            reverseProxyEndpointPort: 5
            applicationPorts:
              startPort: 6
              endPort: 0
            durabilityLevel: Bronze
            httpGatewayEndpointPort: 5
            isPrimary: true
            name: name
            capacities:
              key: capacities
            placementProperties:
              key: placementProperties
            clientConnectionEndpointPort: 1
            vmInstanceCount: 494379917
          reliabilityLevel: None
          clusterState: WaitingForNodes
          diagnosticsStorageAccountConfig:
            protectedAccountKeyName: protectedAccountKeyName
            queueEndpoint: queueEndpoint
            storageAccountName: storageAccountName
            blobEndpoint: blobEndpoint
            tableEndpoint: tableEndpoint
          clientCertificateThumbprints:
          - certificateThumbprint: certificateThumbprint
            isAdmin: true
          - certificateThumbprint: certificateThumbprint
            isAdmin: true
          clusterCodeVersion: clusterCodeVersion
        tags:
          key: tags
      title: Cluster
    ClusterCodeVersionsListResult:
      description: The list results of the ServiceFabric runtime versions.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            supportExpiryUtc: supportExpiryUtc
            environment: Windows
            codeVersion: codeVersion
        - name: name
          id: id
          type: type
          properties:
            supportExpiryUtc: supportExpiryUtc
            environment: Windows
            codeVersion: codeVersion
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          title: nextLink
          type: string
        value:
          items:
            $ref: '#/components/schemas/ClusterCodeVersionsResult'
          title: value
          type: array
      title: ClusterCodeVersionsListResult
      type: object
    ClusterCodeVersionsResult:
      description: The result of the ServiceFabric runtime versions
      example:
        name: name
        id: id
        type: type
        properties:
          supportExpiryUtc: supportExpiryUtc
          environment: Windows
          codeVersion: codeVersion
      properties:
        id:
          description: The identification of the result
          title: id
          type: string
        name:
          description: The name of the result
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/ClusterVersionDetails'
        type:
          description: The result resource type
          title: type
          type: string
      title: ClusterCodeVersionsResult
      type: object
    ClusterEnvironment:
      description: "Cluster operating system, the default will be Windows"
      enum:
      - Windows
      - Linux
      title: ClusterEnvironment
      type: string
    ClusterHealthPolicy:
      description: Defines a health policy used to evaluate the health of the cluster
        or of a cluster node.
      example:
        maxPercentUnhealthyApplications: 20
        maxPercentUnhealthyNodes: 41
      properties:
        maxPercentUnhealthyApplications:
          description: "The maximum allowed percentage of unhealthy applications before\
            \ reporting an error. For example, to allow 10% of applications to be\
            \ unhealthy, this value would be 10. "
          maximum: 100
          minimum: 0
          title: maxPercentUnhealthyApplications
          type: integer
        maxPercentUnhealthyNodes:
          description: "The maximum allowed percentage of unhealthy nodes before reporting\
            \ an error. For example, to allow 10% of nodes to be unhealthy, this value\
            \ would be 10. "
          maximum: 100
          minimum: 0
          title: maxPercentUnhealthyNodes
          type: integer
      title: ClusterHealthPolicy
      type: object
    ClusterListResult:
      description: Cluster list results
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          properties:
            clusterEndpoint: clusterEndpoint
            addOnFeatures:
            - RepairManager
            - RepairManager
            availableClusterVersions:
            - supportExpiryUtc: supportExpiryUtc
              environment: Windows
              codeVersion: codeVersion
            - supportExpiryUtc: supportExpiryUtc
              environment: Windows
              codeVersion: codeVersion
            certificate:
              x509StoreName: AddressBook
              thumbprint: thumbprint
              thumbprintSecondary: thumbprintSecondary
            clusterId: clusterId
            provisioningState: Updating
            reverseProxyCertificate:
              x509StoreName: AddressBook
              thumbprint: thumbprint
              thumbprintSecondary: thumbprintSecondary
            upgradeDescription:
              healthCheckRetryTimeout: healthCheckRetryTimeout
              upgradeReplicaSetCheckTimeout: upgradeReplicaSetCheckTimeout
              healthCheckWaitDuration: healthCheckWaitDuration
              forceRestart: true
              deltaHealthPolicy:
                maxPercentUpgradeDomainDeltaUnhealthyNodes: 36
                maxPercentDeltaUnhealthyApplications: 70
                maxPercentDeltaUnhealthyNodes: 93
              healthPolicy:
                maxPercentUnhealthyApplications: 20
                maxPercentUnhealthyNodes: 41
              healthCheckStableDuration: healthCheckStableDuration
              upgradeDomainTimeout: upgradeDomainTimeout
              upgradeTimeout: upgradeTimeout
            managementEndpoint: managementEndpoint
            vmImage: vmImage
            upgradeMode: Automatic
            azureActiveDirectory:
              clientApplication: clientApplication
              tenantId: tenantId
              clusterApplication: clusterApplication
            clientCertificateCommonNames:
            - isAdmin: true
              certificateIssuerThumbprint: certificateIssuerThumbprint
              certificateCommonName: certificateCommonName
            - isAdmin: true
              certificateIssuerThumbprint: certificateIssuerThumbprint
              certificateCommonName: certificateCommonName
            fabricSettings:
            - name: name
              parameters:
              - name: name
                value: value
              - name: name
                value: value
            - name: name
              parameters:
              - name: name
                value: value
              - name: name
                value: value
            nodeTypes:
            - ephemeralPorts:
                startPort: 6
                endPort: 0
              reverseProxyEndpointPort: 5
              applicationPorts:
                startPort: 6
                endPort: 0
              durabilityLevel: Bronze
              httpGatewayEndpointPort: 5
              isPrimary: true
              name: name
              capacities:
                key: capacities
              placementProperties:
                key: placementProperties
              clientConnectionEndpointPort: 1
              vmInstanceCount: 494379917
            - ephemeralPorts:
                startPort: 6
                endPort: 0
              reverseProxyEndpointPort: 5
              applicationPorts:
                startPort: 6
                endPort: 0
              durabilityLevel: Bronze
              httpGatewayEndpointPort: 5
              isPrimary: true
              name: name
              capacities:
                key: capacities
              placementProperties:
                key: placementProperties
              clientConnectionEndpointPort: 1
              vmInstanceCount: 494379917
            reliabilityLevel: None
            clusterState: WaitingForNodes
            diagnosticsStorageAccountConfig:
              protectedAccountKeyName: protectedAccountKeyName
              queueEndpoint: queueEndpoint
              storageAccountName: storageAccountName
              blobEndpoint: blobEndpoint
              tableEndpoint: tableEndpoint
            clientCertificateThumbprints:
            - certificateThumbprint: certificateThumbprint
              isAdmin: true
            - certificateThumbprint: certificateThumbprint
              isAdmin: true
            clusterCodeVersion: clusterCodeVersion
          tags:
            key: tags
        - name: name
          location: location
          id: id
          type: type
          properties:
            clusterEndpoint: clusterEndpoint
            addOnFeatures:
            - RepairManager
            - RepairManager
            availableClusterVersions:
            - supportExpiryUtc: supportExpiryUtc
              environment: Windows
              codeVersion: codeVersion
            - supportExpiryUtc: supportExpiryUtc
              environment: Windows
              codeVersion: codeVersion
            certificate:
              x509StoreName: AddressBook
              thumbprint: thumbprint
              thumbprintSecondary: thumbprintSecondary
            clusterId: clusterId
            provisioningState: Updating
            reverseProxyCertificate:
              x509StoreName: AddressBook
              thumbprint: thumbprint
              thumbprintSecondary: thumbprintSecondary
            upgradeDescription:
              healthCheckRetryTimeout: healthCheckRetryTimeout
              upgradeReplicaSetCheckTimeout: upgradeReplicaSetCheckTimeout
              healthCheckWaitDuration: healthCheckWaitDuration
              forceRestart: true
              deltaHealthPolicy:
                maxPercentUpgradeDomainDeltaUnhealthyNodes: 36
                maxPercentDeltaUnhealthyApplications: 70
                maxPercentDeltaUnhealthyNodes: 93
              healthPolicy:
                maxPercentUnhealthyApplications: 20
                maxPercentUnhealthyNodes: 41
              healthCheckStableDuration: healthCheckStableDuration
              upgradeDomainTimeout: upgradeDomainTimeout
              upgradeTimeout: upgradeTimeout
            managementEndpoint: managementEndpoint
            vmImage: vmImage
            upgradeMode: Automatic
            azureActiveDirectory:
              clientApplication: clientApplication
              tenantId: tenantId
              clusterApplication: clusterApplication
            clientCertificateCommonNames:
            - isAdmin: true
              certificateIssuerThumbprint: certificateIssuerThumbprint
              certificateCommonName: certificateCommonName
            - isAdmin: true
              certificateIssuerThumbprint: certificateIssuerThumbprint
              certificateCommonName: certificateCommonName
            fabricSettings:
            - name: name
              parameters:
              - name: name
                value: value
              - name: name
                value: value
            - name: name
              parameters:
              - name: name
                value: value
              - name: name
                value: value
            nodeTypes:
            - ephemeralPorts:
                startPort: 6
                endPort: 0
              reverseProxyEndpointPort: 5
              applicationPorts:
                startPort: 6
                endPort: 0
              durabilityLevel: Bronze
              httpGatewayEndpointPort: 5
              isPrimary: true
              name: name
              capacities:
                key: capacities
              placementProperties:
                key: placementProperties
              clientConnectionEndpointPort: 1
              vmInstanceCount: 494379917
            - ephemeralPorts:
                startPort: 6
                endPort: 0
              reverseProxyEndpointPort: 5
              applicationPorts:
                startPort: 6
                endPort: 0
              durabilityLevel: Bronze
              httpGatewayEndpointPort: 5
              isPrimary: true
              name: name
              capacities:
                key: capacities
              placementProperties:
                key: placementProperties
              clientConnectionEndpointPort: 1
              vmInstanceCount: 494379917
            reliabilityLevel: None
            clusterState: WaitingForNodes
            diagnosticsStorageAccountConfig:
              protectedAccountKeyName: protectedAccountKeyName
              queueEndpoint: queueEndpoint
              storageAccountName: storageAccountName
              blobEndpoint: blobEndpoint
              tableEndpoint: tableEndpoint
            clientCertificateThumbprints:
            - certificateThumbprint: certificateThumbprint
              isAdmin: true
            - certificateThumbprint: certificateThumbprint
              isAdmin: true
            clusterCodeVersion: clusterCodeVersion
          tags:
            key: tags
        nextLink: nextLink
      properties:
        nextLink:
          description: The URL to use for getting the next set of results.
          title: nextLink
          type: string
        value:
          items:
            $ref: '#/components/schemas/Cluster'
          title: value
          type: array
      title: ClusterListResult
      type: object
    ClusterProperties:
      description: Describes the cluster resource properties.
      example:
        clusterEndpoint: clusterEndpoint
        addOnFeatures:
        - RepairManager
        - RepairManager
        availableClusterVersions:
        - supportExpiryUtc: supportExpiryUtc
          environment: Windows
          codeVersion: codeVersion
        - supportExpiryUtc: supportExpiryUtc
          environment: Windows
          codeVersion: codeVersion
        certificate:
          x509StoreName: AddressBook
          thumbprint: thumbprint
          thumbprintSecondary: thumbprintSecondary
        clusterId: clusterId
        provisioningState: Updating
        reverseProxyCertificate:
          x509StoreName: AddressBook
          thumbprint: thumbprint
          thumbprintSecondary: thumbprintSecondary
        upgradeDescription:
          healthCheckRetryTimeout: healthCheckRetryTimeout
          upgradeReplicaSetCheckTimeout: upgradeReplicaSetCheckTimeout
          healthCheckWaitDuration: healthCheckWaitDuration
          forceRestart: true
          deltaHealthPolicy:
            maxPercentUpgradeDomainDeltaUnhealthyNodes: 36
            maxPercentDeltaUnhealthyApplications: 70
            maxPercentDeltaUnhealthyNodes: 93
          healthPolicy:
            maxPercentUnhealthyApplications: 20
            maxPercentUnhealthyNodes: 41
          healthCheckStableDuration: healthCheckStableDuration
          upgradeDomainTimeout: upgradeDomainTimeout
          upgradeTimeout: upgradeTimeout
        managementEndpoint: managementEndpoint
        vmImage: vmImage
        upgradeMode: Automatic
        azureActiveDirectory:
          clientApplication: clientApplication
          tenantId: tenantId
          clusterApplication: clusterApplication
        clientCertificateCommonNames:
        - isAdmin: true
          certificateIssuerThumbprint: certificateIssuerThumbprint
          certificateCommonName: certificateCommonName
        - isAdmin: true
          certificateIssuerThumbprint: certificateIssuerThumbprint
          certificateCommonName: certificateCommonName
        fabricSettings:
        - name: name
          parameters:
          - name: name
            value: value
          - name: name
            value: value
        - name: name
          parameters:
[...]
