openapi: 3.0.0
info:
  contact:
    email: samy@ibanapi.com
  description: IBANAPI OpenApi documentation
  title: IBANAPI OpenApi Documentation
  version: 1.0.0
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://ibanapi.com/assets/favicon/apple-touch-icon.png
  x-origin:
  - format: openapi
    url: https://api.ibanapi.com/docs/api-docs.json
    version: "3.0"
  x-providerName: ibanapi.com
servers:
- description: IBANAPI Server
  url: https://api.ibanapi.com/v1
tags:
- description: API Endpoints of IBANAPI
  name: IBANAPI
paths:
  /balance:
    get:
      description: Returns the account balance and expiry
      operationId: get_balance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
          description: SUCCESS
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
          description: Your balance is exhausted or bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
          description: Package expired or account was blocked
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
          description: Invalid API Key
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
          description: API key is missing
      security:
      - api_key_security: []
      summary: Get Account Balance
      tags:
      - IBANAPI
      x-openapi-router-controller: openapi_server.controllers.ibanapi_controller
  /validate:
    get:
      description: Returns the validation results
      operationId: validate_iban
      parameters:
      - description: The IBAN
        explode: true
        in: query
        name: iban
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IBANResult'
          description: Valid IBAN response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
          description: Your balance is exhausted or bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
          description: Package expired or account was blocked
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
          description: Invalid API Key
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
          description: API key is missing
      security:
      - api_key_security: []
      summary: Validate IBAN
      tags:
      - IBANAPI
      x-openapi-router-controller: openapi_server.controllers.ibanapi_controller
  /validate-basic:
    get:
      description: Returns the basic validation results
      operationId: validate_iban_basic
      parameters:
      - description: The IBAN
        explode: true
        in: query
        name: iban
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IBANResultBasic'
          description: Valid IBAN response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
          description: Your balance is exhausted or bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
          description: Package expired or account was blocked
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403'
          description: Invalid API Key
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
          description: API key is missing
      security:
      - api_key_security: []
      summary: Validate IBAN Basic
      tags:
      - IBANAPI
      x-openapi-router-controller: openapi_server.controllers.ibanapi_controller
components:
  parameters:
    iban:
      description: The IBAN
      explode: true
      in: query
      name: iban
      required: true
      schema:
        type: string
      style: form
  schemas:
    "400":
      example:
        result: 400
        data: "{}"
        message: Your balance is exhausted
      properties:
        data:
          example: "{}"
          title: data
          type: object
        message:
          example: Your balance is exhausted
          title: message
          type: string
        result:
          example: 400
          title: result
          type: integer
      title: "400"
      type: object
    "401":
      example:
        result: 401
        data: "{}"
        message: Your package has expired
      properties:
        data:
          example: "{}"
          title: data
          type: object
        message:
          example: Your package has expired
          title: message
          type: string
        result:
          example: 401
          title: result
          type: integer
      title: "401"
      type: object
    "403":
      example:
        result: 403
        data: "{}"
        message: Invalid API Key
      properties:
        data:
          example: "{}"
          title: data
          type: object
        message:
          example: Invalid API Key
          title: message
          type: string
        result:
          example: 403
          title: result
          type: integer
      title: "403"
      type: object
    "422":
      example:
        result: 422
        data: "{}"
        message: API key is missing
      properties:
        data:
          example: "{}"
          title: data
          type: object
        message:
          example: API key is missing
          title: message
          type: string
        result:
          example: 422
          title: result
          type: integer
      title: "422"
      type: object
    BalanceResponse:
      example:
        result: 200
        data:
          bank_balance: 100
          basic_balance: 2000
          expiry_date: 2021-05-16
        message: SUCCESS
      properties:
        data:
          example:
            bank_balance: 100
            basic_balance: 2000
            expiry_date: 2021-05-16
          title: data
          type: object
        message:
          example: SUCCESS
          title: message
          type: string
        result:
          example: 200
          title: result
          type: integer
      title: BalanceResponse
      type: object
    IBANResult:
      example:
        result: 200
        data:
          bank:
            address: TORNIMAE 2 FLOOR 10
            bank_name: AS SEB PANK
            bic: EEUHEE2X
            city: TALLINN
            phone: ""
            state: ""
            zip: "15010"
          bank_account: "00102014568"
          bban: "1000001020145685"
          country_code: EE
          country_name: Estonia
          currency_code: EUR
          iso_alpha3: EST
          sepa:
            sepa_b2b: false
            sepa_card_clearing: false
            sepa_credit_transfer: true
            sepa_direct_debit: false
            sepa_sdd_core: false
          sepa_member: true
        validations:
        - message: Valid IBAN length
          result: 200
        - message: Valid IBAN Checksum
          result: 200
        message: Valid IBAN Number
        expremental: 0
      properties:
        data:
          example:
            bank:
              address: TORNIMAE 2 FLOOR 10
              bank_name: AS SEB PANK
              bic: EEUHEE2X
              city: TALLINN
              phone: ""
              state: ""
              zip: "15010"
            bank_account: "00102014568"
            bban: "1000001020145685"
            country_code: EE
            country_name: Estonia
            currency_code: EUR
            iso_alpha3: EST
            sepa:
              sepa_b2b: false
              sepa_card_clearing: false
              sepa_credit_transfer: true
              sepa_direct_debit: false
              sepa_sdd_core: false
            sepa_member: true
          title: data
          type: object
        expremental:
          example: 0
          title: expremental
          type: integer
        message:
          example: Valid IBAN Number
          title: message
          type: string
        result:
          example: 200
          title: result
          type: integer
        validations:
          example:
          - message: Valid IBAN length
            result: 200
          - message: Valid IBAN Checksum
            result: 200
          items: {}
          title: validations
          type: array
      title: IBANResult
      type: object
    IBANResultBasic:
      example:
        result: 200
        data:
          bban: "1000001020145685"
          country_code: EE
          country_name: Estonia
          currency_code: EUR
          iso_alpha3: EST
          sepa: []
          sepa_member: true
        validations:
        - message: Valid IBAN length
          result: 200
        - message: Valid IBAN Checksum
          result: 200
        message: Valid IBAN Number
        expremental: 0
      properties:
        data:
          example:
            bban: "1000001020145685"
            country_code: EE
            country_name: Estonia
            currency_code: EUR
            iso_alpha3: EST
            sepa: []
            sepa_member: true
          title: data
          type: object
        expremental:
          example: 0
          title: expremental
          type: integer
        message:
          example: Valid IBAN Number
          title: message
          type: string
        result:
          example: 200
          title: result
          type: integer
        validations:
          example:
          - message: Valid IBAN length
            result: 200
          - message: Valid IBAN Checksum
            result: 200
          items: {}
          title: validations
          type: array
      title: IBANResultBasic
      type: object
  securitySchemes:
    api_key_security:
      description: "Your API Key, you can get it from https://ibanapi.com"
      in: query
      name: api_key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_api_key_security
