openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Allows developers to manage billing for their Google Cloud Platform
    projects programmatically.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Billing API
  version: v1beta
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://cloudbilling.googleapis.com/$discovery/rest?version=v1beta
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: cloudbilling
externalDocs:
  url: https://cloud.google.com/billing/docs/apis
servers:
- url: https://cloudbilling.googleapis.com/
tags:
- name: billingAccounts
- name: skuGroups
- name: skus
- name: v1beta
paths:
  /v1beta/skuGroups:
    get:
      description: Lists all publicly listed SKU groups.
      operationId: cloudbilling_sku_groups_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of SKU groups to return. Results may return fewer
          than this value. Default value is 50 and maximum value is 5000.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Page token received from a previous ListSkuGroups call to retrieve\
          \ the next page of results. If this field is empty, the first page is returned."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudBillingSkugroupsV1betaListSkuGroupsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - skuGroups
      x-openapi-router-controller: openapi_server.controllers.sku_groups_controller
  /v1beta/{billingAccount}:estimateCostScenario:
    post:
      description: "Use custom pricing in the estimate, using a `CostScenario` with\
        \ a defined `billingAccount`."
      operationId: cloudbilling_billing_accounts_estimate_cost_scenario
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Resource name of the billing account for the cost estimate.\
          \ The resource name has the form `billingAccounts/{billing_account_id}`.\
          \ For example, `billingAccounts/012345-567890-ABCDEF` is the resource name\
          \ for billing account `012345-567890-ABCDEF`. Must be specified."
        explode: false
        in: path
        name: billingAccount
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateCostScenarioForBillingAccountRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateCostScenarioForBillingAccountResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - billingAccounts
      x-openapi-router-controller: openapi_server.controllers.billing_accounts_controller
      x-codegen-request-body-name: body
  /v1beta/{name}:
    get:
      description: Gets the latest price for the given SKU.
      operationId: cloudbilling_skus_price_get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. Name of the latest price to retrieve. Format: skus/{sku}/price"
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. ISO-4217 currency code for the price. If not specified,\
          \ USD will be used."
        explode: true
        in: query
        name: currencyCode
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudBillingPricesV1betaPrice'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - skus
      x-openapi-router-controller: openapi_server.controllers.skus_controller
  /v1beta/{parent}/prices:
    get:
      description: Lists the latest prices for all SKUs.
      operationId: cloudbilling_skus_prices_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. To list the prices for all SKUs, use `-` as the SKU\
          \ ID. Format: `skus/-` Specifying a specific SKU ID returns a collection\
          \ with one Price object for the SKU."
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional. ISO-4217 currency code for the price. If not specified,\
          \ USD will be used."
        explode: true
        in: query
        name: currencyCode
        required: false
        schema:
          type: string
        style: form
      - description: Optional. Maximum number of prices to return. Results may return
          fewer than this value. Default value is 50 and maximum value is 5000.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional. Page token received from a previous ListPrices call\
          \ to retrieve the next page of results. If this field is empty, the first\
          \ page is returned."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudBillingPricesV1betaListPricesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - skus
      x-openapi-router-controller: openapi_server.controllers.skus_controller
  /v1beta/{parent}/services:
    get:
      description: Lists services visible to a billing account.
      operationId: cloudbilling_billing_accounts_services_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The billing account to list billing account service\
          \ from. Format: billingAccounts/{billing_account}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Maximum number of billing account service to return. Results
          may return fewer than this value. Default value is 50 and maximum value
          is 5000.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Page token received from a previous ListBillingAccountServices\
          \ call to retrieve the next page of results. If this field is empty, the\
          \ first page is returned."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudBillingBillingaccountservicesV1betaListBillingAccountServicesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - billingAccounts
      x-openapi-router-controller: openapi_server.controllers.billing_accounts_controller
  /v1beta/{parent}/skuGroups:
    get:
      description: Lists SKU groups visible to a billing account.
      operationId: cloudbilling_billing_accounts_sku_groups_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The billing account to list billing account SKU groups\
          \ from. Format: billingAccounts/{billing_account}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Maximum number of billing account SKU groups to return. Results
          may return fewer than this value. Default value is 50 and maximum value
          is 5000.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Page token received from a previous ListBillingAccountSkuGroups\
          \ call to retrieve the next page of results. If this field is empty, the\
          \ first page is returned."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudBillingBillingaccountskugroupsV1betaListBillingAccountSkuGroupsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - billingAccounts
      x-openapi-router-controller: openapi_server.controllers.billing_accounts_controller
  /v1beta/{parent}/skus:
    get:
      description: Lists all publicly listed SKUs contained by a publicly listed SKU
        group.
      operationId: cloudbilling_sku_groups_skus_list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Required. The SkuGroup to list SkuGroupSku from. Format: skuGroups/{sku_group}"
        explode: false
        in: path
        name: parent
        required: true
        schema:
          type: string
        style: simple
      - description: Maximum number of SKU group SKUs to return. Results may return
          fewer than this value. Default value is 50 and maximum value is 5000.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "Page token received from a previous ListSkuGroupSkus call to\
          \ retrieve the next page of results. If this field is empty, the first page\
          \ is returned."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudBillingSkugroupskusV1betaListSkuGroupSkusResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - skuGroups
      x-openapi-router-controller: openapi_server.controllers.sku_groups_controller
  /v1beta:estimateCostScenario:
    post:
      description: Estimate list prices using a `CostScenario` without a defined `billingAccount`.
      operationId: cloudbilling_estimate_cost_scenario
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateCostScenarioWithListPriceRequest'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateCostScenarioWithListPriceResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-billing.readonly
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-billing.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - v1beta
      x-openapi-router-controller: openapi_server.controllers.v1beta_controller
      x-codegen-request-body-name: body
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    CacheFillRegions:
      description: Specifies the regions for Cache Fill.
      example:
        destinationRegion: CACHE_FILL_DESTINATION_REGION_UNSPECIFIED
        sourceRegion: CACHE_FILL_SOURCE_REGION_UNSPECIFIED
      properties:
        destinationRegion:
          description: The destination region for cache fill.
          enum:
          - CACHE_FILL_DESTINATION_REGION_UNSPECIFIED
          - CACHE_FILL_DESTINATION_REGION_ASIA_PACIFIC
          - CACHE_FILL_DESTINATION_REGION_EUROPE
          - CACHE_FILL_DESTINATION_REGION_NORTH_AMERICA
          - CACHE_FILL_DESTINATION_REGION_OCEANIA
          - CACHE_FILL_DESTINATION_REGION_SOUTH_AMERICA
          - CACHE_FILL_DESTINATION_REGION_CHINA
          - CACHE_FILL_DESTINATION_REGION_OTHERS
          title: destinationRegion
          type: string
        sourceRegion:
          description: The source region for cache fill.
          enum:
          - CACHE_FILL_SOURCE_REGION_UNSPECIFIED
          - CACHE_FILL_REGION_ASIA_PACIFIC
          - CACHE_FILL_SOURCE_REGION_EUROPE
          - CACHE_FILL_SOURCE_REGION_NORTH_AMERICA
          - CACHE_FILL_SOURCE_REGION_OCEANIA
          - CACHE_FILL_SOURCE_REGION_SOUTH_AMERICA
          title: sourceRegion
          type: string
      title: CacheFillRegions
      type: object
    CloudCdnEgressWorkload:
      description: Specifies usage for Cloud CDN Data Transfer.
      example:
        cacheEgressDestination: CACHE_EGRESS_DESTINATION_UNSPECIFIED
        cacheEgressRate:
          usageRateTimeline:
            unit: unit
            usageRateTimelineEntries:
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
      properties:
        cacheEgressDestination:
          description: The destination for the cache data transfer.
          enum:
          - CACHE_EGRESS_DESTINATION_UNSPECIFIED
          - CACHE_EGRESS_DESTINATION_ASIA_PACIFIC
          - CACHE_EGRESS_DESTINATION_CHINA
          - CACHE_EGRESS_DESTINATION_EUROPE
          - CACHE_EGRESS_DESTINATION_NORTH_AMERICA
          - CACHE_EGRESS_DESTINATION_OCEANIA
          - CACHE_EGRESS_DESTINATION_LATIN_AMERICA
          - CACHE_EGRESS_DESTINATION_OTHER_DESTINATIONS
          title: cacheEgressDestination
          type: string
        cacheEgressRate:
          $ref: '#/components/schemas/Usage'
      title: CloudCdnEgressWorkload
      type: object
    CloudCdnWorkload:
      description: Specifies usage for Cloud CDN resources.
      example:
        cacheFillRate:
          usageRateTimeline:
            unit: unit
            usageRateTimelineEntries:
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
        cacheLookUpRate:
          usageRateTimeline:
            unit: unit
            usageRateTimelineEntries:
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
        cacheFillRegions:
          destinationRegion: CACHE_FILL_DESTINATION_REGION_UNSPECIFIED
          sourceRegion: CACHE_FILL_SOURCE_REGION_UNSPECIFIED
        cacheFillOriginService: CACHE_FILL_ORIGIN_SERVICE_UNSPECIFIED
      properties:
        cacheFillOriginService:
          description: The source service for the cache fill.
          enum:
          - CACHE_FILL_ORIGIN_SERVICE_UNSPECIFIED
          - CACHE_FILL_ORIGIN_SERVICE_GOOGLE_CLOUD_STORAGE_BUCKET
          - CACHE_FILL_ORIGIN_SERVICE_BACKEND_SERVICE
          title: cacheFillOriginService
          type: string
        cacheFillRate:
          $ref: '#/components/schemas/Usage'
        cacheFillRegions:
          $ref: '#/components/schemas/CacheFillRegions'
        cacheLookUpRate:
          $ref: '#/components/schemas/Usage'
      title: CloudCdnWorkload
      type: object
    CloudInterconnectEgressWorkload:
      description: "Includes the estimate for Interconnect Data Transfer only. To\
        \ specify usage for data transfer between VMs and internet end-points, use\
        \ the Standard Tier Internet Data Transfer interface."
      example:
        interconnectConnectionLocation: INTERCONNECT_CONNECTION_LOCATION_UNSPECIFIED
        egressRate:
          usageRateTimeline:
            unit: unit
            usageRateTimelineEntries:
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
      properties:
        egressRate:
          $ref: '#/components/schemas/Usage'
        interconnectConnectionLocation:
          description: "Locations in the [Interconnect connection location table](https://cloud.google.com/vpc/network-pricing#interconnect-pricing).\
            \ These are the Interconnect Data Transfer charges."
          enum:
          - INTERCONNECT_CONNECTION_LOCATION_UNSPECIFIED
          - INTERCONNECT_CONNECTION_LOCATION_ASIA
          - INTERCONNECT_CONNECTION_LOCATION_EUROPE
          - INTERCONNECT_CONNECTION_LOCATION_NORTH_AMERICA
          - INTERCONNECT_CONNECTION_LOCATION_SOUTH_AMERICA
          - INTERCONNECT_CONNECTION_LOCATION_AUSTRALIA
          title: interconnectConnectionLocation
          type: string
      title: CloudInterconnectEgressWorkload
      type: object
    CloudInterconnectWorkload:
      description: Specifies usage for Cloud Interconnect resources.
      example:
        interconnectType: INTERCONNECT_TYPE_UNSPECIFIED
        interconnectAttachments:
        - bandwidth: BANDWIDTH_UNSPECIFIED
          vlanCount:
            usageRateTimeline:
              unit: unit
              usageRateTimelineEntries:
              - usageRate: 6.027456183070403
                effectiveTime:
                  estimationTimeFrameOffset: estimationTimeFrameOffset
              - usageRate: 6.027456183070403
                effectiveTime:
                  estimationTimeFrameOffset: estimationTimeFrameOffset
        - bandwidth: BANDWIDTH_UNSPECIFIED
          vlanCount:
            usageRateTimeline:
              unit: unit
              usageRateTimelineEntries:
              - usageRate: 6.027456183070403
                effectiveTime:
                  estimationTimeFrameOffset: estimationTimeFrameOffset
              - usageRate: 6.027456183070403
                effectiveTime:
                  estimationTimeFrameOffset: estimationTimeFrameOffset
        linkType: LINK_TYPE_UNSPECIFIED
        provisionedLinkCount:
          usageRateTimeline:
            unit: unit
            usageRateTimelineEntries:
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
      properties:
        interconnectAttachments:
          description: VLAN attachment used for interconnect.
          items:
            $ref: '#/components/schemas/VlanAttachment'
          title: interconnectAttachments
          type: array
        interconnectType:
          description: VLAN attachment type
          enum:
          - INTERCONNECT_TYPE_UNSPECIFIED
          - INTERCONNECT_TYPE_DEDICATED
          - INTERCONNECT_TYPE_PARTNER
          title: interconnectType
          type: string
        linkType:
          description: Interconnect circuit link type.
          enum:
          - LINK_TYPE_UNSPECIFIED
          - LINK_TYPE_ETHERNET_10G_LR
          - LINK_TYPE_ETHERNET_100G_LR
          title: linkType
          type: string
        provisionedLinkCount:
          $ref: '#/components/schemas/Usage'
      title: CloudInterconnectWorkload
      type: object
    CloudStorageEgressWorkload:
      description: Specification of a network type. Network data transfer within Google
        Cloud applies when you move or copy data from one Cloud Storage bucket to
        another or when another Google Cloud service accesses data in your Cloud Storage
        bucket.This includes the network data transfer within Google Cloud and the
        general network usage.
      example:
        sourceContinent: SOURCE_CONTINENT_UNSPECIFIED
        egressRate:
          usageRateTimeline:
            unit: unit
            usageRateTimelineEntries:
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
        destinationContinent: DESTINATION_CONTINENT_UNSPECIFIED
      properties:
        destinationContinent:
          description: Where the data is sent to.
          enum:
          - DESTINATION_CONTINENT_UNSPECIFIED
          - DESTINATION_CONTINENT_ASIA_PACIFIC
          - DESTINATION_CONTINENT_AUTRALIA
          - DESTINATION_CONTINENT_EUROPE
          - DESTINATION_CONTINENT_NORTH_AMERICA
          - DESTINATION_CONTINENT_SOUTH_AMERICA
          title: destinationContinent
          type: string
        egressRate:
          $ref: '#/components/schemas/Usage'
        sourceContinent:
          description: Where the data comes from.
          enum:
          - SOURCE_CONTINENT_UNSPECIFIED
          - SOURCE_CONTINENT_ASIA_PACIFIC
          - SOURCE_CONTINENT_AUSTRALIA
          - SOURCE_CONTINENT_EUROPE
          - SOURCE_CONTINENT_NORTH_AMERICA
          - SOURCE_CONTINENT_SOUTH_AMERICA
          title: sourceContinent
          type: string
      title: CloudStorageEgressWorkload
      type: object
    CloudStorageWorkload:
      description: Specifies usage of Cloud Storage resources.
      example:
        dataStored:
          usageRateTimeline:
            unit: unit
            usageRateTimelineEntries:
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
        storageClass: storageClass
        operationB:
          usageRateTimeline:
            unit: unit
            usageRateTimelineEntries:
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
        operationA:
          usageRateTimeline:
            unit: unit
            usageRateTimelineEntries:
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
        dualRegion:
          name: name
        region:
          name: name
        dataRetrieval:
          usageRateTimeline:
            unit: unit
            usageRateTimelineEntries:
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
        multiRegion:
          name: name
      properties:
        dataRetrieval:
          $ref: '#/components/schemas/Usage'
        dataStored:
          $ref: '#/components/schemas/Usage'
        dualRegion:
          $ref: '#/components/schemas/DualRegional'
        multiRegion:
          $ref: '#/components/schemas/MultiRegional'
        operationA:
          $ref: '#/components/schemas/Usage'
        operationB:
          $ref: '#/components/schemas/Usage'
        region:
          $ref: '#/components/schemas/Regional'
        storageClass:
          description: "The [storage class](https://cloud.google.com/storage/docs/storage-classes#classes)\
            \ of the data and operation. For example: \"standard\" and \"nearline\"\
            ."
          title: storageClass
          type: string
      title: CloudStorageWorkload
      type: object
    Commitment:
      description: "Commitments give you the ability to pay a recurring fee in exchange\
        \ for a benefit, such as a discount for your use. For example, this object\
        \ might contain details of a [spend-based committed use discount (CUD)](https://cloud.google.com/docs/cuds#spend_based_commitments).\
        \ Within a CostScenario, adding a commitment includes the cost of the commitment\
        \ and any discounts."
      example:
        vmResourceBasedCud:
          machineSeries: machineSeries
          guestAccelerator:
            acceleratorType: acceleratorType
            acceleratorCount: acceleratorCount
          memorySizeGb: 0.8008281904610115
          region: region
          virtualCpuCount: virtualCpuCount
          plan: COMMITMENT_PLAN_UNSPECIFIED
        name: name
      properties:
        name:
          description: Required. A name for this commitment. All commitments in a
            CostScenario must have unique names. Each name may be at most 128 characters
            long.
          title: name
          type: string
        vmResourceBasedCud:
          $ref: '#/components/schemas/VmResourceBasedCud'
      title: Commitment
      type: object
    CommitmentCostEstimate:
      description: Estimated cost for a commitment.
      example:
        commitmentTotalCostEstimate:
          preCreditCostEstimate:
            nanos: 0
            units: units
            currencyCode: currencyCode
          netCostEstimate:
            nanos: 0
            units: units
            currencyCode: currencyCode
          creditEstimates:
          - creditDescription: creditDescription
            creditAmount:
              nanos: 0
              units: units
              currencyCode: currencyCode
            creditType: creditType
          - creditDescription: creditDescription
            creditAmount:
              nanos: 0
              units: units
              currencyCode: currencyCode
            creditType: creditType
        skuCostEstimates:
        - usageUnit: usageUnit
          costEstimate:
            preCreditCostEstimate:
              nanos: 0
              units: units
              currencyCode: currencyCode
            netCostEstimate:
              nanos: 0
              units: units
              currencyCode: currencyCode
            creditEstimates:
            - creditDescription: creditDescription
              creditAmount:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditType: creditType
            - creditDescription: creditDescription
              creditAmount:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditType: creditType
          usageAmount: 6.027456183070403
          sku: sku
        - usageUnit: usageUnit
          costEstimate:
            preCreditCostEstimate:
              nanos: 0
              units: units
              currencyCode: currencyCode
            netCostEstimate:
              nanos: 0
              units: units
              currencyCode: currencyCode
            creditEstimates:
            - creditDescription: creditDescription
              creditAmount:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditType: creditType
            - creditDescription: creditDescription
              creditAmount:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditType: creditType
          usageAmount: 6.027456183070403
          sku: sku
        name: name
      properties:
        commitmentTotalCostEstimate:
          $ref: '#/components/schemas/CostEstimate'
        name:
          description: "The name of the commitment, as specified in the `CostScenario`."
          title: name
          type: string
        skuCostEstimates:
          description: Estimated costs for each SKU in the commitment.
          items:
            $ref: '#/components/schemas/SkuCostEstimate'
          title: skuCostEstimates
          type: array
      title: CommitmentCostEstimate
      type: object
    ComputeVmWorkload:
      description: Specificies usage of a set of identical compute VM instances.
      example:
        licenses:
        - licenses
        - licenses
        preemptible: true
        guestAccelerator:
          acceleratorType: acceleratorType
          acceleratorCount: acceleratorCount
        instancesRunning:
          usageRateTimeline:
            unit: unit
            usageRateTimelineEntries:
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
            - usageRate: 6.027456183070403
              effectiveTime:
                estimationTimeFrameOffset: estimationTimeFrameOffset
        persistentDisks:
        - diskSize:
            usageRateTimeline:
              unit: unit
              usageRateTimelineEntries:
              - usageRate: 6.027456183070403
                effectiveTime:
                  estimationTimeFrameOffset: estimationTimeFrameOffset
              - usageRate: 6.027456183070403
                effectiveTime:
                  estimationTimeFrameOffset: estimationTimeFrameOffset
          provisionedIops:
            usageRateTimeline:
              unit: unit
              usageRateTimelineEntries:
              - usageRate: 6.027456183070403
                effectiveTime:
                  estimationTimeFrameOffset: estimationTimeFrameOffset
              - usageRate: 6.027456183070403
                effectiveTime:
                  estimationTimeFrameOffset: estimationTimeFrameOffset
          scope: SCOPE_UNSPECIFIED
          diskType: diskType
        - diskSize:
            usageRateTimeline:
              unit: unit
              usageRateTimelineEntries:
              - usageRate: 6.027456183070403
                effectiveTime:
                  estimationTimeFrameOffset: estimationTimeFrameOffset
              - usageRate: 6.027456183070403
                effectiveTime:
                  estimationTimeFrameOffset: estimationTimeFrameOffset
          provisionedIops:
            usageRateTimeline:
              unit: unit
              usageRateTimelineEntries:
              - usageRate: 6.027456183070403
                effectiveTime:
                  estimationTimeFrameOffset: estimationTimeFrameOffset
              - usageRate: 6.027456183070403
                effectiveTime:
                  estimationTimeFrameOffset: estimationTimeFrameOffset
          scope: SCOPE_UNSPECIFIED
          diskType: diskType
        region: region
        enableConfidentialCompute: true
        machineType:
          predefinedMachineType:
            machineType: machineType
          customMachineType:
            machineSeries: machineSeries
            memorySizeGb: 1.4658129805029452
            virtualCpuCount: virtualCpuCount
      properties:
        enableConfidentialCompute:
          description: Defines whether each instance has confidential compute enabled.
          title: enableConfidentialCompute
          type: boolean
        guestAccelerator:
          $ref: '#/components/schemas/GuestAccelerator'
        instancesRunning:
          $ref: '#/components/schemas/Usage'
        licenses:
          description: Premium image licenses used by each instance.
          items:
            type: string
          title: licenses
          type: array
        machineType:
          $ref: '#/components/schemas/MachineType'
        persistentDisks:
          description: Persistent disks attached to each instance. Must include a
            boot disk.
          items:
            $ref: '#/components/schemas/PersistentDisk'
          title: persistentDisks
          type: array
        preemptible:
          description: Defines whether each instance is preemptible.
          title: preemptible
          type: boolean
        region:
          description: "The [region](https://cloud.google.com/compute/docs/regions-zones)\
            \ where the VMs run. For example: \"us-central1\"."
          title: region
          type: string
      title: ComputeVmWorkload
      type: object
    CostEstimate:
      description: An estimated cost.
      example:
        preCreditCostEstimate:
          nanos: 0
          units: units
          currencyCode: currencyCode
        netCostEstimate:
          nanos: 0
          units: units
          currencyCode: currencyCode
        creditEstimates:
        - creditDescription: creditDescription
          creditAmount:
            nanos: 0
            units: units
            currencyCode: currencyCode
          creditType: creditType
        - creditDescription: creditDescription
          creditAmount:
            nanos: 0
            units: units
            currencyCode: currencyCode
          creditType: creditType
      properties:
        creditEstimates:
          description: The estimated credits applied.
          items:
            $ref: '#/components/schemas/CreditEstimate'
          title: creditEstimates
          type: array
        netCostEstimate:
          $ref: '#/components/schemas/Money'
        preCreditCostEstimate:
          $ref: '#/components/schemas/Money'
      title: CostEstimate
      type: object
    CostEstimationResult:
      description: The result of a estimating the costs of a `CostScenario`.
      example:
        skus:
        - displayName: displayName
          prices:
          - rate:
              tiers:
              - startAmount: 1.4658129805029452
                price:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
              - startAmount: 1.4658129805029452
                price:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
              unit: unit
              unitCount: 5.962133916683182
            effectiveTime:
              estimationTimeFrameOffset: estimationTimeFrameOffset
            priceType: priceType
          - rate:
              tiers:
              - startAmount: 1.4658129805029452
                price:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
              - startAmount: 1.4658129805029452
                price:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
              unit: unit
              unitCount: 5.962133916683182
            effectiveTime:
              estimationTimeFrameOffset: estimationTimeFrameOffset
            priceType: priceType
          sku: sku
        - displayName: displayName
          prices:
          - rate:
              tiers:
              - startAmount: 1.4658129805029452
                price:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
              - startAmount: 1.4658129805029452
                price:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
              unit: unit
              unitCount: 5.962133916683182
            effectiveTime:
              estimationTimeFrameOffset: estimationTimeFrameOffset
            priceType: priceType
          - rate:
              tiers:
              - startAmount: 1.4658129805029452
                price:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
              - startAmount: 1.4658129805029452
                price:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
              unit: unit
              unitCount: 5.962133916683182
            effectiveTime:
              estimationTimeFrameOffset: estimationTimeFrameOffset
            priceType: priceType
          sku: sku
        segmentCostEstimates:
        - commitmentCostEstimates:
          - commitmentTotalCostEstimate:
              preCreditCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              netCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditEstimates:
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
            skuCostEstimates:
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            name: name
          - commitmentTotalCostEstimate:
              preCreditCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              netCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditEstimates:
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
            skuCostEstimates:
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            name: name
          segmentStartTime:
            estimationTimeFrameOffset: estimationTimeFrameOffset
          segmentTotalCostEstimate:
            preCreditCostEstimate:
              nanos: 0
              units: units
              currencyCode: currencyCode
            netCostEstimate:
              nanos: 0
              units: units
              currencyCode: currencyCode
            creditEstimates:
            - creditDescription: creditDescription
              creditAmount:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditType: creditType
            - creditDescription: creditDescription
              creditAmount:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditType: creditType
          workloadCostEstimates:
          - skuCostEstimates:
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            workloadTotalCostEstimate:
              preCreditCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              netCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditEstimates:
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
            name: name
          - skuCostEstimates:
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            workloadTotalCostEstimate:
              preCreditCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              netCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditEstimates:
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
            name: name
        - commitmentCostEstimates:
          - commitmentTotalCostEstimate:
              preCreditCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              netCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditEstimates:
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
            skuCostEstimates:
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            name: name
          - commitmentTotalCostEstimate:
              preCreditCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              netCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditEstimates:
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
            skuCostEstimates:
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            name: name
          segmentStartTime:
            estimationTimeFrameOffset: estimationTimeFrameOffset
          segmentTotalCostEstimate:
            preCreditCostEstimate:
              nanos: 0
              units: units
              currencyCode: currencyCode
            netCostEstimate:
              nanos: 0
              units: units
              currencyCode: currencyCode
            creditEstimates:
            - creditDescription: creditDescription
              creditAmount:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditType: creditType
            - creditDescription: creditDescription
              creditAmount:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditType: creditType
          workloadCostEstimates:
          - skuCostEstimates:
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            workloadTotalCostEstimate:
              preCreditCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              netCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditEstimates:
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
            name: name
          - skuCostEstimates:
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            - usageUnit: usageUnit
              costEstimate:
                preCreditCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                netCostEstimate:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditEstimates:
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
                - creditDescription: creditDescription
                  creditAmount:
                    nanos: 0
                    units: units
                    currencyCode: currencyCode
                  creditType: creditType
              usageAmount: 6.027456183070403
              sku: sku
            workloadTotalCostEstimate:
              preCreditCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              netCostEstimate:
                nanos: 0
                units: units
                currencyCode: currencyCode
              creditEstimates:
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
              - creditDescription: creditDescription
                creditAmount:
                  nanos: 0
                  units: units
                  currencyCode: currencyCode
                creditType: creditType
            name: name
        currencyCode: currencyCode
      properties:
        currencyCode:
          description: Required. The ISO 4217 currency code for the cost estimate.
          title: currencyCode
          type: string
        segmentCostEstimates:
          description: Required. Estimated costs for each idealized month of a `CostScenario`.
          items:
            $ref: '#/components/schemas/SegmentCostEstimate'
          title: segmentCostEstimates
          type: array
        skus:
          description: Required. Information about SKUs used in the estimate.
          items:
            $ref: '#/components/schemas/Sku'
          title: skus
          type: array
      title: CostEstimationResult
      type: object
    CostScenario:
      description: "Encapsulates all the information needed to perform a cost estimate.\
        \ It includes a specification of the Google Cloud usage whose costs are estimated,\
        \ and configuration options."
      example:
        commitments:
        - vmResourceBasedCud:
            machineSeries: machineSeries
            guestAccelerator:
              acceleratorType: acceleratorType
              acceleratorCount: acceleratorCount
            memorySizeGb: 0.8008281904610115
            region: region
            virtualCpuCount: virtualCpuCount
            plan: COMMITMENT_PLAN_UNSPECIFIED
          name: name
        - vmResourceBasedCud:
            machineSeries: machineSeries
            guestAccelerator:
              acceleratorType: acceleratorType
              acceleratorCount: acceleratorCount
            memorySizeGb: 0.8008281904610115
            region: region
            virtualCpuCount: virtualCpuCount
            plan: COMMITMENT_PLAN_UNSPECIFIED
          name: name
        workloads:
        - cloudCdnEgressWorkload:
            cacheEgressDestination: CACHE_EGRESS_DESTINATION_UNSPECIFIED
            cacheEgressRate:
              usageRateTimeline:
                unit: unit
                usageRateTimelineEntries:
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
          cloudInterconnectEgressWorkload:
            interconnectConnectionLocation: INTERCONNECT_CONNECTION_LOCATION_UNSPECIFIED
            egressRate:
              usageRateTimeline:
                unit: unit
                usageRateTimelineEntries:
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
          cloudInterconnectWorkload:
            interconnectType: INTERCONNECT_TYPE_UNSPECIFIED
            interconnectAttachments:
            - bandwidth: BANDWIDTH_UNSPECIFIED
              vlanCount:
                usageRateTimeline:
                  unit: unit
                  usageRateTimelineEntries:
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
            - bandwidth: BANDWIDTH_UNSPECIFIED
              vlanCount:
                usageRateTimeline:
                  unit: unit
                  usageRateTimelineEntries:
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
            linkType: LINK_TYPE_UNSPECIFIED
            provisionedLinkCount:
              usageRateTimeline:
                unit: unit
                usageRateTimelineEntries:
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
          vmToVmEgressWorkload:
            interRegionEgress:
              egressRate:
                usageRateTimeline:
                  unit: unit
                  usageRateTimelineEntries:
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
              destinationRegion: destinationRegion
              sourceRegion: sourceRegion
            intraRegionEgress:
              egressRate:
                usageRateTimeline:
                  unit: unit
                  usageRateTimelineEntries:
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
          name: name
          cloudCdnWorkload:
            cacheFillRate:
              usageRateTimeline:
                unit: unit
                usageRateTimelineEntries:
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
            cacheLookUpRate:
              usageRateTimeline:
                unit: unit
                usageRateTimelineEntries:
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
            cacheFillRegions:
              destinationRegion: CACHE_FILL_DESTINATION_REGION_UNSPECIFIED
              sourceRegion: CACHE_FILL_SOURCE_REGION_UNSPECIFIED
            cacheFillOriginService: CACHE_FILL_ORIGIN_SERVICE_UNSPECIFIED
          standardTierEgressWorkload:
            egressRate:
              usageRateTimeline:
                unit: unit
                usageRateTimelineEntries:
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
            sourceRegion: sourceRegion
          cloudStorageWorkload:
            dataStored:
              usageRateTimeline:
                unit: unit
                usageRateTimelineEntries:
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
            storageClass: storageClass
            operationB:
              usageRateTimeline:
                unit: unit
                usageRateTimelineEntries:
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
            operationA:
              usageRateTimeline:
                unit: unit
                usageRateTimelineEntries:
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
            dualRegion:
              name: name
            region:
              name: name
            dataRetrieval:
              usageRateTimeline:
                unit: unit
                usageRateTimelineEntries:
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
            multiRegion:
              name: name
          computeVmWorkload:
            licenses:
            - licenses
            - licenses
            preemptible: true
            guestAccelerator:
              acceleratorType: acceleratorType
              acceleratorCount: acceleratorCount
            instancesRunning:
              usageRateTimeline:
                unit: unit
                usageRateTimelineEntries:
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
                - usageRate: 6.027456183070403
                  effectiveTime:
                    estimationTimeFrameOffset: estimationTimeFrameOffset
            persistentDisks:
            - diskSize:
                usageRateTimeline:
                  unit: unit
                  usageRateTimelineEntries:
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
              provisionedIops:
                usageRateTimeline:
                  unit: unit
                  usageRateTimelineEntries:
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
              scope: SCOPE_UNSPECIFIED
              diskType: diskType
            - diskSize:
                usageRateTimeline:
                  unit: unit
                  usageRateTimelineEntries:
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
              provisionedIops:
                usageRateTimeline:
                  unit: unit
                  usageRateTimelineEntries:
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
                  - usageRate: 6.027456183070403
                    effectiveTime:
                      estimationTimeFrameOffset: estimationTimeFrameOffset
              scope: SCOPE_UNSPECIFIED
              diskType: diskType
            region: region
            enableConfidentialCompute: true
            machineType:
              predefinedMachineType:
                machineType: machineType
              customMachineType:
                machineSeries: machineSeries
                memorySizeGb: 1.4658129805029452
[...]
