openapi: 3.0.1
info:
  description: Use these REST APIs for querying APIs. Operations and Products by tags
    in your Azure API Management deployment.
  title: ApiManagementClient
  version: 2017-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimtagresources.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimtagresources
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tagResources
  : get:
      description: Lists a collection of resources associated with tags.
      operationId: TagResource_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field       | Supported operators    | Supported functions                         |
          |-------------|------------------------|---------------------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | aid         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | apiName     | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | apiRevision | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | path        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | method      | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | urlTemplate | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | terms       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | state       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | isCurrent   | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResourceCollection'
          description: Lists a collection of TagResource entities.
      tags:
      - TagResources
      x-ms-examples:
        ApiManagementListTagResources:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - properties:
                    operation:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apiId1/operations/opid1
                      name: opid1
                      properties:
                        apiName: api1
                        apiRevision: "1"
                        description: some operation
                        displayName: apiop1
                        method: GET
                        urlTemplate: /op1
                      type: Microsoft.ApiManagement/service/apis/operations
                    tag:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020001
                      name: 5600b59375ff190048020001
                      properties:
                        displayName: tag1
                      type: Microsoft.ApiManagement/service/tags
                - properties:
                    operation:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apiId1/operations/opid2
                      name: opid2
                      properties:
                        apiName: api1
                        apiRevision: "1"
                        description: some operation
                        displayName: apiop2
                        method: GET
                        urlTemplate: /op2
                      type: Microsoft.ApiManagement/service/apis/operations
                    tag:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020001
                      name: 5600b59375ff190048020001
                      properties:
                        displayName: tag1
                      type: Microsoft.ApiManagement/service/tags
                - properties:
                    api:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api
                      name: echo-api
                      properties:
                        apiRevision: "1"
                        displayName: Echo API
                        isCurrent: true
                        isOnline: true
                        path: echo
                        protocols:
                        - https
                        serviceUrl: http://echoapi.cloudapp.net/api
                      type: Microsoft.ApiManagement/service/apis
                    tag:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020002
                      name: 5600b59375ff190048020002
                      properties:
                        displayName: tag2
                      type: Microsoft.ApiManagement/service/tags
                - properties:
                    product:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/starter
                      name: starter
                      properties:
                        approvalRequired: false
                        description: Subscribers will be able to run 5 calls/minute
                          up to a maximum of 100 calls/week.
                        displayName: Starter
                        state: published
                        subscriptionRequired: true
                        subscriptionsLimit: 1
                        terms: ""
                      type: Microsoft.ApiManagement/service/products
                    tag:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020002
                      name: 5600b59375ff190048020002
                      properties:
                        displayName: tag2
                      type: Microsoft.ApiManagement/service/tags
              nextLink: ""
      x-ms-odata: '#/definitions/TagResourceContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
components:
  schemas:
    OperationEntityContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Operation Entity Contract Properties.
      example:
        properties:
          apiName: apiName
          apiVersion: apiVersion
          method: method
          displayName: displayName
          urlTemplate: urlTemplate
          description: description
          apiRevision: apiRevision
      properties:
        properties:
          $ref: '#/components/schemas/OperationEntityContractProperties'
    OperationEntityContractProperties:
      description: Operation Entity contract Properties.
      example:
        apiName: apiName
        apiVersion: apiVersion
        method: method
        displayName: displayName
        urlTemplate: urlTemplate
        description: description
        apiRevision: apiRevision
      properties:
        apiName:
          description: Api Name.
          readOnly: true
          type: string
        apiRevision:
          description: Api Revision.
          readOnly: true
          type: string
        apiVersion:
          description: Api Version.
          readOnly: true
          type: string
        description:
          description: Operation Description.
          readOnly: true
          type: string
        displayName:
          description: Operation name.
          readOnly: true
          type: string
        method:
          description: "A Valid HTTP Operation Method. Typical Http Methods like GET,\
            \ PUT, POST but not limited by only them."
          readOnly: true
          type: string
        urlTemplate:
          description: "Relative URL template identifying the target resource for\
            \ this operation. May include parameters. Example: /customers/{cid}/orders/{oid}/?date={date}"
          readOnly: true
          type: string
      type: object
    TagResourceCollection:
      description: Paged Tag list representation.
      example:
        value:
        - properties:
            product:
              properties:
                displayName: displayName
            api:
              properties:
                apiVersionSet:
                  properties:
                    versioningScheme: Segment
                    displayName: displayName
                path: path
                displayName: displayName
                serviceUrl: serviceUrl
                protocols:
                - http
                - http
            tag:
              properties:
                displayName: displayName
            operation:
              properties:
                apiName: apiName
                apiVersion: apiVersion
                method: method
                displayName: displayName
                urlTemplate: urlTemplate
                description: description
                apiRevision: apiRevision
        - properties:
            product:
              properties:
                displayName: displayName
            api:
              properties:
                apiVersionSet:
                  properties:
                    versioningScheme: Segment
                    displayName: displayName
                path: path
                displayName: displayName
                serviceUrl: serviceUrl
                protocols:
                - http
                - http
            tag:
              properties:
                displayName: displayName
            operation:
              properties:
                apiName: apiName
                apiVersion: apiVersion
                method: method
                displayName: displayName
                urlTemplate: urlTemplate
                description: description
                apiRevision: apiRevision
        nextLink: nextLink
      properties:
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/TagResourceContract'
          type: array
      type: object
    TagResourceContract:
      allOf:
      - description: The Resource definition.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          type:
            description: Resource type for API Management resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: Contract details.
      example:
        properties:
          product:
            properties:
              displayName: displayName
          api:
            properties:
              apiVersionSet:
                properties:
                  versioningScheme: Segment
                  displayName: displayName
              path: path
              displayName: displayName
              serviceUrl: serviceUrl
              protocols:
              - http
              - http
          tag:
            properties:
              displayName: displayName
          operation:
            properties:
              apiName: apiName
              apiVersion: apiVersion
              method: method
              displayName: displayName
              urlTemplate: urlTemplate
              description: description
              apiRevision: apiRevision
      properties:
        properties:
          $ref: '#/components/schemas/TagResourceContractProperties'
    TagResourceContractProperties:
      description: TagResource contract properties.
      example:
        product:
          properties:
            displayName: displayName
        api:
          properties:
            apiVersionSet:
              properties:
                versioningScheme: Segment
                displayName: displayName
            path: path
            displayName: displayName
            serviceUrl: serviceUrl
            protocols:
            - http
            - http
        tag:
          properties:
            displayName: displayName
        operation:
          properties:
            apiName: apiName
            apiVersion: apiVersion
            method: method
            displayName: displayName
            urlTemplate: urlTemplate
            description: description
            apiRevision: apiRevision
      properties:
        api:
          $ref: '#/components/schemas/TagResourceContractProperties_api'
        operation:
          $ref: '#/components/schemas/OperationEntityContract'
        product:
          $ref: '#/components/schemas/TagResourceContractProperties_product'
        tag:
          $ref: '#/components/schemas/TagResourceContractProperties_tag'
      type: object
    TagResourceContractProperties_api_properties_apiVersionSet_properties:
      description: Properties of an API Version Set.
      example:
        versioningScheme: Segment
        displayName: displayName
      properties:
        displayName:
          description: Name of API Version Set
          maxLength: 100
          minLength: 1
          type: string
        versioningScheme:
          description: An value that determines where the API Version identifer will
            be located in a HTTP request.
          enum:
          - Segment
          - Query
          - Header
          type: string
          x-ms-enum:
            modelAsString: true
            name: versioningScheme
            values:
            - description: The API Version is passed in a path segment.
              value: Segment
            - description: The API Version is passed in a query parameter.
              value: Query
            - description: The API Version is passed in a HTTP header.
              value: Header
      required:
      - displayName
      - versioningScheme
      type: object
    TagResourceContractProperties_api_properties_apiVersionSet:
      description: Api Version Set Contract details.
      example:
        properties:
          versioningScheme: Segment
          displayName: displayName
      properties:
        properties:
          $ref: '#/components/schemas/TagResourceContractProperties_api_properties_apiVersionSet_properties'
      type: object
    TagResourceContractProperties_api_properties:
      description: Api Entity Properties
      example:
        apiVersionSet:
          properties:
            versioningScheme: Segment
            displayName: displayName
        path: path
        displayName: displayName
        serviceUrl: serviceUrl
        protocols:
        - http
        - http
      properties:
        apiVersionSet:
          $ref: '#/components/schemas/TagResourceContractProperties_api_properties_apiVersionSet'
        displayName:
          description: API name.
          maxLength: 300
          minLength: 1
          type: string
        path:
          description: Relative URL uniquely identifying this API and all of its resource
            paths within the API Management service instance. It is appended to the
            API endpoint base URL specified during the service instance creation to
            form a public URL for this API.
          maxLength: 400
          minLength: 0
          type: string
        protocols:
          description: Describes on which protocols the operations in this API can
            be invoked.
          items:
            enum:
            - http
            - https
            type: string
            x-ms-enum:
              modelAsString: false
              name: Protocol
          type: array
        serviceUrl:
          description: Absolute URL of the backend service implementing this API.
          maxLength: 2000
          minLength: 1
          type: string
      required:
      - path
      type: object
    TagResourceContractProperties_api:
      description: API details.
      example:
        properties:
          apiVersionSet:
            properties:
              versioningScheme: Segment
              displayName: displayName
          path: path
          displayName: displayName
          serviceUrl: serviceUrl
          protocols:
          - http
          - http
      properties:
        properties:
          $ref: '#/components/schemas/TagResourceContractProperties_api_properties'
      type: object
    TagResourceContractProperties_product_properties:
      description: Product profile.
      example:
        displayName: displayName
      properties:
        displayName:
          description: Product name.
          maxLength: 300
          minLength: 1
          type: string
      required:
      - displayName
      type: object
    TagResourceContractProperties_product:
      description: Product details.
      example:
        properties:
          displayName: displayName
      properties:
        properties:
          $ref: '#/components/schemas/TagResourceContractProperties_product_properties'
      type: object
    TagResourceContractProperties_tag_properties:
      description: Tag contract Properties.
      example:
        displayName: displayName
      properties:
        displayName:
          description: Tag name.
          maxLength: 160
          minLength: 1
          type: string
      required:
      - displayName
      type: object
    TagResourceContractProperties_tag:
      description: Tag Contract details.
      example:
        properties:
          displayName: displayName
      properties:
        properties:
          $ref: '#/components/schemas/TagResourceContractProperties_tag_properties'
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

