openapi: 3.0.0
info:
  description: ""
  license:
    name: LH
    url: https://developer.lufthansa.com
  title: LH Partner API
  version: "1.0"
  x-apisguru-categories:
  - transport
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://avatars2.githubusercontent.com/u/22329684?v=4&s=200
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/LufthansaOpenAPI/Swagger4Partners/master/LH-OpenAPI-Partners-Swagger2.json
    version: "3.0"
  x-providerName: lufthansa.com
  x-serviceName: partner
servers:
- url: https://api.lufthansa.com/v1
paths:
  /baggage/baggagetripandcontact/{searchID}:
    get:
      description: "Retrieve passenger trip, contact and baggage details. This service\
        \ is only accessible for LH privileged partners"
      operationId: Baggage Trip and Contact
      parameters:
      - description: "Bag tag number, PNR, boarding card or FQTV ID"
        explode: false
        in: path
        name: searchID
        required: true
        schema:
          type: string
        style: simple
      - description: "http header: application/json or application/xml (Acceptable\
          \ values are: \"application/json\", \"application/xml\")"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: Baggage Trip and Contact
      tags:
      - Baggage
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /offers/fares/allfares:
    get:
      description: "Retrieves all available fares for a specific Origin & Destination\
        \ pair on a given date. Available fares are: One-way and Return for 4U. Return\
        \ only for OS"
      operationId: All Fares
      parameters:
      - description: Specifies in which catalogue the fares need to be searched (e.g.'4U;OS').
        explode: true
        in: query
        name: catalogues
        required: true
        schema:
          type: string
        style: form
      - description: Enter journey origin (e.g 'FRA').
        explode: true
        in: query
        name: origin
        required: true
        schema:
          type: string
        style: form
      - description: Enter journey destination (e.g 'MAD').
        explode: true
        in: query
        name: destination
        required: true
        schema:
          type: string
        style: form
      - description: Enter journey travel-date (e.g 2016-10-20)
        explode: true
        in: query
        name: travel-date
        required: true
        schema:
          type: string
        style: form
      - description: Enter journey return-date (e.g 2016-10-31)'.
        explode: true
        in: query
        name: return-date
        required: false
        schema:
          type: string
        style: form
      - description: "Enter the required cabin class (e.g econonmy, business etc.).\
          \ (Acceptable values are: \"\", \"economy\", \"premium economy\", \"business\"\
          , \"first\")"
        explode: true
        in: query
        name: cabin-class
        required: false
        schema:
          default: economy
          type: string
        style: form
      - description: Specifies the type and number of travelers (e.g. '(adult=2;child=2;infant=1)')
          For LH only (adult=1) possible.
        explode: true
        in: query
        name: travelers
        required: false
        schema:
          type: string
        style: form
      - description: "Mandatory for 4U. Specifies, which fares to be returned, such\
          \ as basic, smart, best, smartflex, bestflex . (Acceptable values are: \"\
          \", \"basic\", \"smart\", \"best\", \"smartflex\", \"bestflex\")"
        explode: true
        in: query
        name: fare-family
        required: false
        schema:
          default: smart
          type: string
        style: form
      - description: Austrian Airlines only - specify the web tracking id to be used
          in OS Deep link.
        explode: true
        in: query
        name: trackingid
        required: false
        schema:
          type: string
        style: form
      - description: "Mandatory http header:  application/xml or application/json"
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          default: application/json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: All Fares
      tags:
      - Offers
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /offers/fares/bestfares:
    get:
      description: Retrieve best fares for the requested journey across multiple days
        or multiple months.
      operationId: Best Fares
      parameters:
      - description: Search fares from these carriers' catalogues (e.g. '4U;OS;LH')
        explode: true
        in: query
        name: catalogues
        required: true
        schema:
          type: string
        style: form
      - description: Journey origin. 3-letter IATA airport code (e.g. 'FRA')
        explode: true
        in: query
        name: origin
        required: true
        schema:
          type: string
        style: form
      - description: Journey destination. 3-letter IATA airport code (e.g. 'MAD')
        explode: true
        in: query
        name: destination
        required: true
        schema:
          type: string
        style: form
      - description: Journey travel-date (YYYY-MM-DD)
        explode: true
        in: query
        name: travel-date
        required: true
        schema:
          type: string
        style: form
      - description: Trip duration in days (e.g. '7')
        explode: true
        in: query
        name: trip-duration
        required: true
        schema:
          type: string
        style: form
      - description: "Fare range: 'byday' or 'bymonth' (Acceptable values are: \"\
          byday\", \"bymonth\")"
        explode: true
        in: query
        name: range
        required: true
        schema:
          type: string
        style: form
      - description: "http header: application/json or application/xml (Acceptable\
          \ values are: \"application/json\", \"application/xml\")"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: "Cabin class: 'economy', 'premium_economy', 'business', 'first'\
          \ (Acceptable values are: \"\", \"economy\", \"premium_economy\", \"business\"\
          , \"first\")"
        explode: true
        in: query
        name: cabin-class
        required: false
        schema:
          type: string
        style: form
      - description: Country code of requestor. 2-letter ISO 3166-1 country code (e.g.
          'de')
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: Austrian Airlines only - specify the web tracking id to be used
          in OS Deep link.
        explode: true
        in: query
        name: trackingid
        required: false
        schema:
          type: string
        style: form
      - description: "Fare family: basic, smart, best, smartflex, bestflex - Germanwings\
          \ only (Acceptable values are: \"\", \"basic\", \"smart\", \"best\", \"\
          smartflex\", \"bestflex\")"
        explode: true
        in: query
        name: fare-family
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: Best Fares
      tags:
      - Offers
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /offers/fares/deeplink:
    get:
      description: Returns valid deep links for the provided input parameters
      operationId: Deep Links
      parameters:
      - description: Carrier for which the deep link will be created (e.g. 'LH')
        explode: true
        in: query
        name: catalogues
        required: true
        schema:
          type: string
        style: form
      - description: Deep link tracking ID
        explode: true
        in: query
        name: trackingid
        required: true
        schema:
          type: string
        style: form
      - description: 2-letter ISO 3166-1 country code
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      - description: 2-letter ISO 3166-1 language code
        explode: true
        in: query
        name: lang
        required: true
        schema:
          type: string
        style: form
      - description: "http header: application/json or application/xml (Acceptable\
          \ values are: \"application/json\", \"application/xml\")"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Journey origin. 3-letter IATA airport or city code (e.g. 'FRA')
        explode: true
        in: query
        name: origin
        required: false
        schema:
          type: string
        style: form
      - description: Journey origin airport or city name (e.g. 'frankfurt')
        explode: true
        in: query
        name: origin-name
        required: false
        schema:
          type: string
        style: form
      - description: Journey destination. 3-letter IATA airport or city code (e.g.
          'MAD')
        explode: true
        in: query
        name: destination
        required: false
        schema:
          type: string
        style: form
      - description: Journey destination airport or city name (e.g. 'madrid')
        explode: true
        in: query
        name: destination-name
        required: false
        schema:
          type: string
        style: form
      - description: Journey travel-date (YYYY-MM-DD)
        explode: true
        in: query
        name: travel-date
        required: false
        schema:
          type: string
        style: form
      - description: Journey return-date (YYYY-MM-DD)
        explode: true
        in: query
        name: return-date
        required: false
        schema:
          type: string
        style: form
      - description: "Cabin class: 'economy', 'premium_economy', 'business', 'first'\
          \ (Acceptable values are: \"\", \"economy\", \"premium_economy\", \"business\"\
          , \"first\")"
        explode: true
        in: query
        name: cabin-class
        required: false
        schema:
          type: string
        style: form
      - description: Outbound flight segments in the sequence of travel (e.g. 'LH096;LH480')
        explode: true
        in: query
        name: outbound-segments
        required: false
        schema:
          type: string
        style: form
      - description: Flight segments in the sequence of travel (e.g. 'LH7465;LH431')
        explode: true
        in: query
        name: return-segments
        required: false
        schema:
          type: string
        style: form
      - description: Type and number of travelers (e.g. '(adult=2;child=2;infant=1)')
        explode: true
        in: query
        name: travelers
        required: false
        schema:
          type: string
        style: form
      - description: Travel fare (e.g. '1341.45')
        explode: true
        in: query
        name: fare
        required: false
        schema:
          type: string
        style: form
      - description: Travel net fare. Total fare less taxes and charges (e.g. '1140')
        explode: true
        in: query
        name: net-fare
        required: false
        schema:
          type: string
        style: form
      - description: Fare currency (e.g. 'EUR')
        explode: true
        in: query
        name: fare-currency
        required: false
        schema:
          type: string
        style: form
      - description: Deep link partner id (e.g. '1247')
        explode: true
        in: query
        name: partnerid
        required: false
        schema:
          type: string
        style: form
      - description: Deep link encryption-key
        explode: true
        in: query
        name: encryption-key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: Deep Links
      tags:
      - Offers
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /offers/fares/deeplink/ffp:
    get:
      description: Returns valid LH deep links (FFP - links to flight selection screen
        on LH.COM)
      operationId: LH Deep Links - FFP
      parameters:
      - description: Carrier for which the deep link will be created (e.g. 'LH')
        explode: true
        in: query
        name: catalogues
        required: true
        schema:
          type: string
        style: form
      - description: Journey origin. 3-letter IATA airport or city code (e.g. 'FRA')
        explode: true
        in: query
        name: origin
        required: true
        schema:
          type: string
        style: form
      - description: Journey destination. 3-letter IATA airport or city code (e.g.
          'MAD')
        explode: true
        in: query
        name: destination
        required: true
        schema:
          type: string
        style: form
      - description: Journey travel-date (YYYY-MM-DD)
        explode: true
        in: query
        name: travel-date
        required: true
        schema:
          type: string
        style: form
      - description: Deep link tracking ID
        explode: true
        in: query
        name: trackingid
        required: true
        schema:
          type: string
        style: form
      - description: 2-letter ISO 3166-1 country code
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      - description: 2-letter ISO 3166-1 language code
        explode: true
        in: query
        name: lang
        required: true
        schema:
          type: string
        style: form
      - description: "http header: application/json or application/xml (Acceptable\
          \ values are: \"application/json\", \"application/xml\")"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Journey return-date (YYYY-MM-DD)
        explode: true
        in: query
        name: return-date
        required: false
        schema:
          type: string
        style: form
      - description: "Cabin class: 'economy', 'premium_economy', 'business', 'first'\
          \ (Acceptable values are: \"\", \"economy\", \"premium_economy\", \"business\"\
          , \"first\")"
        explode: true
        in: query
        name: cabin-class
        required: false
        schema:
          type: string
        style: form
      - description: Type and number of travelers (e.g. '(adult=2;child=2;infant=1)')
        explode: true
        in: query
        name: travelers
        required: false
        schema:
          type: string
        style: form
      - description: Deep link partner id (e.g. '1247')
        explode: true
        in: query
        name: partnerid
        required: false
        schema:
          type: string
        style: form
      - description: Deep link encryption-key
        explode: true
        in: query
        name: encryption-key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: LH Deep Links - FFP
      tags:
      - Offers
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /offers/fares/deeplink/itco:
    get:
      description: Returns valid LH deep links (ITCO - links to shopping cart on LH.COM)
      operationId: LH Deep Links - ITCO
      parameters:
      - description: Carrier for which the deep link will be created (e.g. 'LH')
        explode: true
        in: query
        name: catalogues
        required: true
        schema:
          type: string
        style: form
      - description: Journey origin. 3-letter IATA airport or city code (e.g. 'FRA')
        explode: true
        in: query
        name: origin
        required: true
        schema:
          type: string
        style: form
      - description: Journey destination. 3-letter IATA airport or city code (e.g.
          'MAD')
        explode: true
        in: query
        name: destination
        required: true
        schema:
          type: string
        style: form
      - description: Journey travel-date (YYYY-MM-DD)
        explode: true
        in: query
        name: travel-date
        required: true
        schema:
          type: string
        style: form
      - description: Outbound flight segments in the sequence of travel (e.g. 'LH096;LH480')
        explode: true
        in: query
        name: outbound-segments
        required: true
        schema:
          type: string
        style: form
      - description: Travel fare (e.g. '1341.45')
        explode: true
        in: query
        name: fare
        required: true
        schema:
          type: string
        style: form
      - description: Fare currency (e.g. 'EUR')
        explode: true
        in: query
        name: fare-currency
        required: true
        schema:
          type: string
        style: form
      - description: Deep link tracking ID
        explode: true
        in: query
        name: trackingid
        required: true
        schema:
          type: string
        style: form
      - description: 2-letter ISO 3166-1 country code
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      - description: 2-letter ISO 3166-1 language code
        explode: true
        in: query
        name: lang
        required: true
        schema:
          type: string
        style: form
      - description: "http header: application/json or application/xml (Acceptable\
          \ values are: \"application/json\", \"application/xml\")"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Journey return-date (YYYY-MM-DD)
        explode: true
        in: query
        name: return-date
        required: false
        schema:
          type: string
        style: form
      - description: "Cabin class: 'economy', 'premium_economy', 'business', 'first'\
          \ (Acceptable values are: \"\", \"economy\", \"premium_economy\", \"business\"\
          , \"first\")"
        explode: true
        in: query
        name: cabin-class
        required: false
        schema:
          type: string
        style: form
      - description: Flight segments in the sequence of travel (e.g. 'LH7465;LH431')
        explode: true
        in: query
        name: return-segments
        required: false
        schema:
          type: string
        style: form
      - description: Type and number of travelers (e.g. '(adult=2;child=2;infant=1)')
        explode: true
        in: query
        name: travelers
        required: false
        schema:
          type: string
        style: form
      - description: Travel net fare. Total fare less taxes and charges (e.g. '1140')
        explode: true
        in: query
        name: net-fare
        required: false
        schema:
          type: string
        style: form
      - description: Deep link partner id (e.g. '1247')
        explode: true
        in: query
        name: partnerid
        required: false
        schema:
          type: string
        style: form
      - description: Deep link encryption-key
        explode: true
        in: query
        name: encryption-key
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: LH Deep Links - ITCO
      tags:
      - Offers
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /offers/fares/fares:
    get:
      description: Retrieve all available fares per fare family for a specific Origin
        & Destination on a given date
      operationId: Fares
      parameters:
      - description: Search fares from these carriers' catalogues - currently active
          for Germanwings only  (4U)
        explode: true
        in: query
        name: catalogues
        required: true
        schema:
          type: string
        style: form
      - description: Journey details  e.g. (origin=TXL;destination=CGN;travel-date=2016-12-15;return-date=2016-12-20;cabin=Economy)
        explode: true
        in: query
        name: segments
        required: true
        schema:
          type: string
        style: form
      - description: Include fares for these carriers e.g. ('4U;LH')
        explode: true
        in: query
        name: carriers
        required: true
        schema:
          type: string
        style: form
      - description: "http header: application/json or application/xml (Acceptable\
          \ values are: \"application/json\", \"application/xml\")"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Type and number of travelers e.g. (adult=1;child=1;infant=1)
        explode: true
        in: query
        name: travelers
        required: false
        schema:
          type: string
        style: form
      - description: "Fares family: basic,smart, best, smartflex, bestflex - Germanwings\
          \ only (Acceptable values are: \"\", \"basic\", \"smart\", \"best\", \"\
          smartflex\", \"bestflex\")"
        explode: true
        in: query
        name: fare-types
        required: false
        schema:
          default: basic
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: Fares
      tags:
      - Offers
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /offers/fares/lowestfares:
    get:
      description: "Retrieve lowest fare for a specific Origin & Destination pair\
        \ on a given date. Available fares are: One-way and Return for 4U. Return\
        \ only for OS & LH"
      operationId: Lowest Fares
      parameters:
      - description: Search fares from these carriers' catalogues e.g. '4U;OS;LH'
        explode: true
        in: query
        name: catalogues
        required: true
        schema:
          type: string
        style: form
      - description: Journey origin. 3-letter IATA aiport code e.g. 'FRA'
        explode: true
        in: query
        name: origin
        required: true
        schema:
          type: string
        style: form
      - description: Journey destination. 3-letter IATA airport code e.g. 'MAD'
        explode: true
        in: query
        name: destination
        required: true
        schema:
          type: string
        style: form
      - description: Journey travel-date YYYY-MM-DD
        explode: true
        in: query
        name: travel-date
        required: true
        schema:
          type: string
        style: form
      - description: "http header: application/json or application/xml (Acceptable\
          \ values are: \"application/json\", \"application/xml\")"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Journey return-date - mandatory for OS and LH searches YYYY-MM-DD
        explode: true
        in: query
        name: return-date
        required: false
        schema:
          type: string
        style: form
      - description: "Cabin class: 'economy', 'premium_economy', 'business', 'first'\
          \ (Acceptable values are: \"\", \"economy\", \"premium_economy\", \"business\"\
          , \"first\")"
        explode: true
        in: query
        name: cabin-class
        required: false
        schema:
          type: string
        style: form
      - description: Type and number of travelers e.g. '(adult=2;child=2;infant=1)'.
          For LH only (adult=1) possible
        explode: true
        in: query
        name: travelers
        required: false
        schema:
          type: string
        style: form
      - description: "Fare family: basic, smart, best, smartflex, bestflex - Germanwings\
          \ only (Acceptable values are: \"\", \"basic\", \"smart\", \"best\", \"\
          smartflex\", \"bestflex\")"
        explode: true
        in: query
        name: fare-family
        required: false
        schema:
          default: basic
          type: string
        style: form
      - description: Country code of requestor. 2-letter ISO 3166-1 country code (e.g.
          'de')
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: Lowest Fares
      tags:
      - Offers
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /offers/fares/subscriptions:
    get:
      description: Create a subscription for best price O&D. Receive regular updates
        on lowest fares
      operationId: Fares Subscriptions
      parameters:
      - description: Journey origin. 3-leter IATA airport code (e.g. 'FRA')
        explode: true
        in: query
        name: origin
        required: true
        schema:
          type: string
        style: form
      - description: Journey destination. 3-letter IATA airport code (e.g. 'MAD')
        explode: true
        in: query
        name: destination
        required: true
        schema:
          type: string
        style: form
      - description: "Cabin class: 'economy', 'premium_economy', 'business', 'first'\
          \ (Acceptable values are: \"\", \"economy\", \"premium_economy\", \"business\"\
          , \"first\")"
        explode: true
        in: query
        name: cabin-class
        required: true
        schema:
          type: string
        style: form
      - description: Trip duration in days (e.g. '7')
        explode: true
        in: query
        name: trip-duration
        required: true
        schema:
          type: string
        style: form
      - description: Email Address')
        explode: true
        in: query
        name: email
        required: true
        schema:
          type: string
        style: form
      - description: 2-letter ISO 3166-1 language code
        explode: true
        in: query
        name: lang
        required: true
        schema:
          type: string
        style: form
      - description: "http header: application/json or application/xml (Acceptable\
          \ values are: \"application/json\", \"application/xml\")"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: 2-letter ISO 3166-1 country code
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: Tracking parameter
        explode: true
        in: query
        name: trackingid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: Fares Subscriptions
      tags:
      - Offers
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /offers/ond/route/{origin}/{destination}:
    get:
      description: Returns LH route origin & destination information
      operationId: OND Route
      parameters:
      - description: Enter either the orgin city or orgin country code (e.g 'FRA'
          or 'DE'). Enter '*' for all
        explode: false
        in: path
        name: origin
        required: true
        schema:
          type: string
        style: simple
      - description: Enter either the destination city or country code (e.g 'MAD'
          or 'ES'). Enter '*' for all
        explode: false
        in: path
        name: destination
        required: true
        schema:
          type: string
        style: simple
      - description: "Mandatory http header:  application/xml or application/json"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Carrier for which the OND will be retrieved (e.g. 'LH')
        explode: true
        in: query
        name: catalogues
        required: false
        schema:
          default: LH
          type: string
        style: form
      - description: "Number of records returned per request. Defaults to 20, maximum\
          \ is 100 (if a value bigger than 100 is given, 100 will be taken)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      - description: Number of records skipped. Defaults to 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: OND Route
      tags:
      - Offers
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /offers/ond/status:
    get:
      description: Returns LH network route status information. Search for recently
        added or retired routes
      operationId: OND Status
      parameters:
      - description: "Mandatory http header:  application/xml or application/json"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Carrier for which the OND will be retrieved (e.g. 'LH')
        explode: true
        in: query
        name: catalogues
        required: false
        schema:
          default: LH
          type: string
        style: form
      - description: "Enter if newly added routes should be returned in the response.\
          \ (Acceptable values are: \"\", \"true\", \"false\")"
        explode: true
        in: query
        name: new-routes
        required: false
        schema:
          type: string
        style: form
      - description: "Enter if old (deleted) routes should be returned in the response.\
          \ (Acceptable values are: \"\", \"true\", \"false\")"
        explode: true
        in: query
        name: old-routes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: OND Status
      tags:
      - Offers
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /offers/ond/top:
    get:
      description: Returns LH Top routes per country or across all countries
      operationId: Top OND
      parameters:
      - description: "Mandatory http header:  application/xml or application/json"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Carrier for which the OND will be retrieved (e.g. 'LH')
        explode: true
        in: query
        name: catalogues
        required: false
        schema:
          default: LH
          type: string
        style: form
      - description: Enter the origin country code (e.g. 'DE'). Leave empty to search
          Top OND across all countries
        explode: true
        in: query
        name: origin
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: Top OND
      tags:
      - Offers
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /orders/orders/{orderID}/{name}:
    get:
      description: Retrieve order by ID and optionally name. This service is only
        accessible for LH privileged partners
      operationId: Orders
      parameters:
      - description: Unique order identifier
        explode: false
        in: path
        name: orderID
        required: true
        schema:
          type: string
        style: simple
      - description: "http header: application/json or application/xml (Acceptable\
          \ values are: \"application/json\", \"application/xml\")"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: Surname of traveller
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: Orders
      tags:
      - Orders
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /preflight/autocheckin/{ticketnumber}:
    put:
      description: Trigger an automatic check-in given a ticket number. This service
        is only accessible for LH privileged partners
      operationId: Auto Check-In
      parameters:
      - description: Ticket number
        explode: false
        in: path
        name: ticketnumber
        required: true
        schema:
          type: string
        style: simple
      - description: Email address
        explode: true
        in: query
        name: emailAddress
        required: true
        schema:
          type: string
        style: form
      - description: "http header: application/json or application/xml (Acceptable\
          \ values are: \"application/json\", \"application/xml\")"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: Auto Check-In
      tags:
      - Preflight
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /promotions/priceoffers/flights/ond/{origin}/{destination}:
    get:
      description: Retrieve a best price offer given an origin and destination.
      operationId: Price Offers
      parameters:
      - description: Departure city. 3-letter IATA city code
        explode: false
        in: path
        name: origin
        required: true
        schema:
          type: string
        style: simple
      - description: Destination city. 3-letter IATA city code
        explode: false
        in: path
        name: destination
        required: true
        schema:
          type: string
        style: simple
      - description: Departure date in local time (YYYY-MM-DD)
        explode: true
        in: query
        name: departureDate
        required: true
        schema:
          type: string
        style: form
      - description: Return date in local time (YYYY-MM-DD)
        explode: true
        in: query
        name: returnDate
        required: true
        schema:
          type: string
        style: form
      - description: Optional parameter.
        explode: true
        in: query
        name: service
        required: false
        schema:
          default: amadeusBestPrice
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: Price Offers
      tags:
      - Promotions
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
  /references/seatdetails/{aircraftCode}/{cabinCode}:
    get:
      description: A description of all available seat details by aircraft type. You
        can retrieve the full set or details for a particular aircraft type.
      operationId: Seat Details
      parameters:
      - description: Aircraft type. 3-character IATA equipment code
        explode: false
        in: path
        name: aircraftCode
        required: true
        schema:
          type: string
        style: simple
      - description: "http header: application/json or application/xml (Acceptable\
          \ values are: \"application/json\", \"application/xml\")"
        explode: false
        in: header
        name: Accept
        required: true
        schema:
          type: string
        style: simple
      - description: "Cabin class: M, E, C, F (Acceptable values are: \"\", \"M\"\
          , \"E\", \"C\", \"F\")"
        explode: false
        in: path
        name: cabinCode
        required: true
        schema:
          default: C
          type: string
        style: simple
      - description: 2-letter ISO 3166-1 language code
        explode: true
        in: query
        name: lang
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: ""
      security:
      - auth: []
      summary: Seat Details
      tags:
      - Reference Data
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      x-accepts:
      - application/json
components:
  schemas: {}
  securitySchemes:
    auth:
      flows:
        clientCredentials:
          scopes:
            read:LH Open API: read access
          tokenUrl: https://api.lufthansa.com/v1/partners/oauth/token
      type: oauth2

