openapi: 3.0.1
info:
  description: defaultDescription
  title: defaultTitle
  version: "0.1"
  x-apisguru-categories:
  - machine_learning
  x-logo:
    url: https://skymel.com/images/skymel.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/privacy-ai/unsafe-or-fake-image-classifier/main/privacy-ai-SkymelNSFWImageClassifier-0.1-resolved.json
    version: "3.0"
  x-providerName: modelpubsub.com
servers:
- url: https://modelpubsub.com
paths:
  /api-v1.0/SafeUnsafeImageWithTags:
    post:
      description: Auto generated using Swagger Inspector
      operationId: api_v10_safe_unsafe_image_with_tags_post
      requestBody:
        content:
          application/json:
            examples: {}
            schema:
              $ref: '#/components/schemas/apiv1_0_SafeUnsafeImageWithTags_body'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                "0":
                  value: "{\"error_code\":0,\"predictions\":{\"1girl\":0.92,\"abs\"\
                    :0.83,\"artificial-images\":0.99,\"bikini\":0.79,\"black bikini\"\
                    :0.63,\"black hair\":0.83,\"breasts\":0.83,\"choker\":0.63,\"\
                    composition_one_female\":0.59,\"dark skin\":0.64,\"dark-skinned\
                    \ female\":0.68,\"english commentary\":0.63,\"forehead\":0.77,\"\
                    jewelry\":0.69,\"large breasts\":0.74,\"lips\":0.66,\"long hair\"\
                    :0.78,\"looking at viewer\":0.72,\"muscular\":0.72,\"muscular\
                    \ female\":0.74,\"navel\":0.69,\"original\":0.67,\"patreon username\"\
                    :0.67,\"solo\":0.86,\"swimsuit\":0.82,\"thighs\":0.65,\"toned\"\
                    :0.61,\"unsafe\":1.0}}"
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://modelpubsub.com
      x-openapi-router-controller: openapi_server.controllers.default_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://modelpubsub.com
components:
  schemas:
    apiv1_0_SafeUnsafeImageWithTags_body:
      properties:
        api_key:
          title: api_key
          type: string
        base64_image:
          title: base64_image
          type: string
      title: apiv1_0_SafeUnsafeImageWithTags_body
      type: object
    inline_response_200:
      example:
        error_code: 0
        predictions:
          black bikini: 2.3021358869347655
          muscular: 5.025004791520295
          thighs: 3.5571952270680973
          black hair: 7.061401241503109
          dark skin: 4.145608029883936
          forehead: 1.0246457001441578
          muscular female: 9.965781217890562
          unsafe: 1.284659006116532
          bikini: 5.637376656633329
          dark-skinned female: 7.386281948385884
          swimsuit: 6.438423552598547
          english commentary: 1.2315135367772556
          jewelry: 1.4894159098541704
          long hair: 1.1730742509559433
          original: 6.683562403749608
          composition_one_female: 2.027123023002322
          toned: 6.965117697638846
          large breasts: 6.84685269835264
          solo: 9.018348186070783
          breasts: 9.301444243932576
          "1girl": 6.027456183070403
          navel: 9.369310271410669
          lips: 7.457744773683766
          abs: 1.4658129805029452
          choker: 3.616076749251911
          patreon username: 8.762042012749001
          looking at viewer: 4.965218492984954
          artificial-images: 5.962133916683182
      properties:
        error_code:
          title: error_code
          type: integer
        predictions:
          $ref: '#/components/schemas/inline_response_200_predictions'
      title: inline_response_200
      type: object
    inline_response_200_predictions:
      example:
        black bikini: 2.3021358869347655
        muscular: 5.025004791520295
        thighs: 3.5571952270680973
        black hair: 7.061401241503109
        dark skin: 4.145608029883936
        forehead: 1.0246457001441578
        muscular female: 9.965781217890562
        unsafe: 1.284659006116532
        bikini: 5.637376656633329
        dark-skinned female: 7.386281948385884
        swimsuit: 6.438423552598547
        english commentary: 1.2315135367772556
        jewelry: 1.4894159098541704
        long hair: 1.1730742509559433
        original: 6.683562403749608
        composition_one_female: 2.027123023002322
        toned: 6.965117697638846
        large breasts: 6.84685269835264
        solo: 9.018348186070783
        breasts: 9.301444243932576
        "1girl": 6.027456183070403
        navel: 9.369310271410669
        lips: 7.457744773683766
        abs: 1.4658129805029452
        choker: 3.616076749251911
        patreon username: 8.762042012749001
        looking at viewer: 4.965218492984954
        artificial-images: 5.962133916683182
      properties:
        "1girl":
          title: 1girl
          type: number
        abs:
          title: abs
          type: number
        artificial-images:
          title: artificial-images
          type: number
        bikini:
          title: bikini
          type: number
        black bikini:
          title: black bikini
          type: number
        black hair:
          title: black hair
          type: number
        breasts:
          title: breasts
          type: number
        choker:
          title: choker
          type: number
        composition_one_female:
          title: composition_one_female
          type: number
        dark skin:
          title: dark skin
          type: number
        dark-skinned female:
          title: dark-skinned female
          type: number
        english commentary:
          title: english commentary
          type: number
        forehead:
          title: forehead
          type: number
        jewelry:
          title: jewelry
          type: number
        large breasts:
          title: large breasts
          type: number
        lips:
          title: lips
          type: number
        long hair:
          title: long hair
          type: number
        looking at viewer:
          title: looking at viewer
          type: number
        muscular:
          title: muscular
          type: number
        muscular female:
          title: muscular female
          type: number
        navel:
          title: navel
          type: number
        original:
          title: original
          type: number
        patreon username:
          title: patreon username
          type: number
        solo:
          title: solo
          type: number
        swimsuit:
          title: swimsuit
          type: number
        thighs:
          title: thighs
          type: number
        toned:
          title: toned
          type: number
        unsafe:
          title: unsafe
          type: number
      title: inline_response_200_predictions
      type: object
