openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: Soccer v3 Projections
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/soccer-v3-projections.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: soccer-v3-projections
servers:
- url: http://azure-api.sportsdata.io/v3/soccer/projections
- url: https://azure-api.sportsdata.io/v3/soccer/projections
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/DfsSlatesByDate/{date}:
    get:
      operationId: dfs_slates_by_date
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - json
          - xml
          type: string
        style: simple
      - description: |
          The date of the game(s).
          <br>Examples: <code>2020-02-18</code>
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: Dfs Slates By Date
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/InjuredPlayers/{competition}:
    get:
      description: "This endpoint provides all currently injured soccer players by\
        \ competition, along with injury details."
      operationId: injured_players_by_competition
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "An indication of a soccer competition/league. This value can\
          \ be the CompetitionId or the Competition Key. Possible values include:\
          \ <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc."
        explode: false
        in: path
        name: competition
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Injured Players By Competition
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameProjectionStatsByCompetition/{competition}/{date}:
    get:
      operationId: projected_player_game_stats_by_competition_w_dfs_salaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "An indication of a soccer competition/league. This value can\
          \ be the CompetitionId or the Competition Key. Possible values include:\
          \ <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc."
        explode: false
        in: path
        name: competition
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
                type: array
          description: ""
      summary: Projected Player Game Stats by Competition (w/ DFS Salaries)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameProjectionStatsByDate/{date}:
    get:
      operationId: projected_player_game_stats_by_date_w_dfs_salaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
                type: array
          description: ""
      summary: Projected Player Game Stats by Date (w/ DFS Salaries)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}:
    get:
      operationId: projected_player_game_stats_by_player_w_dfs_salaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>90026231</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
                type: array
          description: ""
      summary: Projected Player Game Stats by Player (w/ DFS Salaries)
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /{format}/UpcomingDfsSlatesByCompetition/{competitionId}:
    get:
      operationId: upcoming_dfs_slates_by_competition
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - json
          - xml
          type: string
        style: simple
      - description: |-
          The Competition Id.
          <br>Examples: <code>3</code>
        explode: false
        in: path
        name: competitionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: Upcoming Dfs Slates By Competition
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    DfsSlate:
      example:
        Operator: Operator
        OperatorDay: OperatorDay
        OperatorName: OperatorName
        IsMultiDaySlate: true
        SlateID: 1
        CompetitionId: 0
        DfsSlateGames:
        - RemovedByOperator: true
          Game:
            HomeTeamPointSpreadPayout: 5
            HomeTeamScorePeriod2: 9
            HomeTeamMoneyLine: 4
            HomeTeamScorePeriod1: 8
            Clock: 4
            DateTime: DateTime
            AwayTeamCountryCode: AwayTeamCountryCode
            AwayTeamScorePenalty: 9
            ClockExtra: 7
            OverPayout: 6
            Status: Status
            Updated: Updated
            Period: Period
            HomeTeamId: 1
            AwayTeamId: 1
            AwayTeamKey: AwayTeamKey
            Winner: Winner
            ClockDisplay: ClockDisplay
            AwayTeamFormation: AwayTeamFormation
            HomeTeamScorePenalty: 6
            HomeTeamCountryCode: HomeTeamCountryCode
            VenueType: VenueType
            AwayTeamScoreExtraTime: 7
            AwayTeamScore: 2
            UpdatedUtc: UpdatedUtc
            VenueId: 0
            AwayTeamMoneyLine: 5
            Week: 7
            AwayTeamPointSpreadPayout: 5
            GlobalGameId: 6
            Group: Group
            IsClosed: true
            AwayTeamName: AwayTeamName
            HomeTeamScoreExtraTime: 9
            DrawMoneyLine: 1
            HomeTeamKey: HomeTeamKey
            UnderPayout: 7
            AwayTeamScorePeriod2: 2
            GlobalAwayTeamId: 1
            AwayTeamScorePeriod1: 3
            Season: 3
            Attendance: 6
            RoundId: 6
            OverUnder: 3.5571952270680973
            HomeTeamName: HomeTeamName
            PlayoffAggregateScore:
              TeamA_AggregateScore: 6
              TeamB_AggregateScore: 2
              Updated: Updated
              TeamB_Id: 6
              WinningTeamId: 6
              TeamA_Id: 1
              Created: Created
            SeasonType: 3
            HomeTeamScore: 9
            PointSpread: 5.944895607614016
            HomeTeamFormation: HomeTeamFormation
            GlobalHomeTeamId: 7
            Day: Day
            GameId: 1
          OperatorGameID: 0
          SlateGameID: 4
          SlateID: 8
          GameID: 6
        - RemovedByOperator: true
          Game:
            HomeTeamPointSpreadPayout: 5
            HomeTeamScorePeriod2: 9
            HomeTeamMoneyLine: 4
            HomeTeamScorePeriod1: 8
            Clock: 4
            DateTime: DateTime
            AwayTeamCountryCode: AwayTeamCountryCode
            AwayTeamScorePenalty: 9
            ClockExtra: 7
            OverPayout: 6
            Status: Status
            Updated: Updated
            Period: Period
            HomeTeamId: 1
            AwayTeamId: 1
            AwayTeamKey: AwayTeamKey
            Winner: Winner
            ClockDisplay: ClockDisplay
            AwayTeamFormation: AwayTeamFormation
            HomeTeamScorePenalty: 6
            HomeTeamCountryCode: HomeTeamCountryCode
            VenueType: VenueType
            AwayTeamScoreExtraTime: 7
            AwayTeamScore: 2
            UpdatedUtc: UpdatedUtc
            VenueId: 0
            AwayTeamMoneyLine: 5
            Week: 7
            AwayTeamPointSpreadPayout: 5
            GlobalGameId: 6
            Group: Group
            IsClosed: true
            AwayTeamName: AwayTeamName
            HomeTeamScoreExtraTime: 9
            DrawMoneyLine: 1
            HomeTeamKey: HomeTeamKey
            UnderPayout: 7
            AwayTeamScorePeriod2: 2
            GlobalAwayTeamId: 1
            AwayTeamScorePeriod1: 3
            Season: 3
            Attendance: 6
            RoundId: 6
            OverUnder: 3.5571952270680973
            HomeTeamName: HomeTeamName
            PlayoffAggregateScore:
              TeamA_AggregateScore: 6
              TeamB_AggregateScore: 2
              Updated: Updated
              TeamB_Id: 6
              WinningTeamId: 6
              TeamA_Id: 1
              Created: Created
            SeasonType: 3
            HomeTeamScore: 9
            PointSpread: 5.944895607614016
            HomeTeamFormation: HomeTeamFormation
            GlobalHomeTeamId: 7
            Day: Day
            GameId: 1
          OperatorGameID: 0
          SlateGameID: 4
          SlateID: 8
          GameID: 6
        SlateRosterSlots:
        - SlateRosterSlots
        - SlateRosterSlots
        SalaryCap: 4
        OperatorStartTime: OperatorStartTime
        NumberOfGames: 0
        RemovedByOperator: true
        OperatorGameType: OperatorGameType
        DfsSlatePlayers:
        - PlayerID: 3
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 5
          SlatePlayerID: 3
          TeamID: 4
          PlayerGameProjectionStatID: 3
          OperatorSalary: 7
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 7
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        - PlayerID: 3
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 5
          SlatePlayerID: 3
          TeamID: 4
          PlayerGameProjectionStatID: 3
          OperatorSalary: 7
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 7
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        OperatorSlateID: 6
      properties:
        CompetitionId:
          nullable: true
          title: CompetitionId
          type: integer
        DfsSlateGames:
          items:
            $ref: '#/components/schemas/DfsSlateGame'
          title: DfsSlateGames
          type: array
        DfsSlatePlayers:
          items:
            $ref: '#/components/schemas/DfsSlatePlayer'
          title: DfsSlatePlayers
          type: array
        IsMultiDaySlate:
          nullable: true
          title: IsMultiDaySlate
          type: boolean
        NumberOfGames:
          nullable: true
          title: NumberOfGames
          type: integer
        Operator:
          nullable: true
          title: Operator
          type: string
        OperatorDay:
          nullable: true
          title: OperatorDay
          type: string
        OperatorGameType:
          nullable: true
          title: OperatorGameType
          type: string
        OperatorName:
          nullable: true
          title: OperatorName
          type: string
        OperatorSlateID:
          nullable: true
          title: OperatorSlateID
          type: integer
        OperatorStartTime:
          nullable: true
          title: OperatorStartTime
          type: string
        RemovedByOperator:
          nullable: true
          title: RemovedByOperator
          type: boolean
        SalaryCap:
          nullable: true
          title: SalaryCap
          type: integer
        SlateID:
          nullable: false
          title: SlateID
          type: integer
        SlateRosterSlots:
          items:
            nullable: true
            type: string
          title: SlateRosterSlots
          type: array
      title: DfsSlate
    DfsSlateGame:
      example:
        RemovedByOperator: true
        Game:
          HomeTeamPointSpreadPayout: 5
          HomeTeamScorePeriod2: 9
          HomeTeamMoneyLine: 4
          HomeTeamScorePeriod1: 8
          Clock: 4
          DateTime: DateTime
          AwayTeamCountryCode: AwayTeamCountryCode
          AwayTeamScorePenalty: 9
          ClockExtra: 7
          OverPayout: 6
          Status: Status
          Updated: Updated
          Period: Period
          HomeTeamId: 1
          AwayTeamId: 1
          AwayTeamKey: AwayTeamKey
          Winner: Winner
          ClockDisplay: ClockDisplay
          AwayTeamFormation: AwayTeamFormation
          HomeTeamScorePenalty: 6
          HomeTeamCountryCode: HomeTeamCountryCode
          VenueType: VenueType
          AwayTeamScoreExtraTime: 7
          AwayTeamScore: 2
          UpdatedUtc: UpdatedUtc
          VenueId: 0
          AwayTeamMoneyLine: 5
          Week: 7
          AwayTeamPointSpreadPayout: 5
          GlobalGameId: 6
          Group: Group
          IsClosed: true
          AwayTeamName: AwayTeamName
          HomeTeamScoreExtraTime: 9
          DrawMoneyLine: 1
          HomeTeamKey: HomeTeamKey
          UnderPayout: 7
          AwayTeamScorePeriod2: 2
          GlobalAwayTeamId: 1
          AwayTeamScorePeriod1: 3
          Season: 3
          Attendance: 6
          RoundId: 6
          OverUnder: 3.5571952270680973
          HomeTeamName: HomeTeamName
          PlayoffAggregateScore:
            TeamA_AggregateScore: 6
            TeamB_AggregateScore: 2
            Updated: Updated
            TeamB_Id: 6
            WinningTeamId: 6
            TeamA_Id: 1
            Created: Created
          SeasonType: 3
          HomeTeamScore: 9
          PointSpread: 5.944895607614016
          HomeTeamFormation: HomeTeamFormation
          GlobalHomeTeamId: 7
          Day: Day
          GameId: 1
        OperatorGameID: 0
        SlateGameID: 4
        SlateID: 8
        GameID: 6
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        GameID:
          nullable: true
          title: GameID
          type: integer
        OperatorGameID:
          nullable: true
          title: OperatorGameID
          type: integer
        RemovedByOperator:
          nullable: true
          title: RemovedByOperator
          type: boolean
        SlateGameID:
          nullable: false
          title: SlateGameID
          type: integer
        SlateID:
          nullable: false
          title: SlateID
          type: integer
      title: DfsSlateGame
    DfsSlatePlayer:
      example:
        PlayerID: 3
        OperatorPosition: OperatorPosition
        OperatorPlayerName: OperatorPlayerName
        SlateID: 5
        SlatePlayerID: 3
        TeamID: 4
        PlayerGameProjectionStatID: 3
        OperatorSalary: 7
        RemovedByOperator: true
        OperatorRosterSlots:
        - OperatorRosterSlots
        - OperatorRosterSlots
        OperatorSlatePlayerID: OperatorSlatePlayerID
        SlateGameID: 7
        Team: Team
        OperatorPlayerID: OperatorPlayerID
      properties:
        OperatorPlayerID:
          nullable: true
          title: OperatorPlayerID
          type: string
        OperatorPlayerName:
          nullable: true
          title: OperatorPlayerName
          type: string
        OperatorPosition:
          nullable: true
          title: OperatorPosition
          type: string
        OperatorRosterSlots:
          items:
            nullable: true
            type: string
          title: OperatorRosterSlots
          type: array
        OperatorSalary:
          nullable: true
          title: OperatorSalary
          type: integer
        OperatorSlatePlayerID:
          nullable: true
          title: OperatorSlatePlayerID
          type: string
        PlayerGameProjectionStatID:
          nullable: true
          title: PlayerGameProjectionStatID
          type: integer
        PlayerID:
          nullable: true
          title: PlayerID
          type: integer
        RemovedByOperator:
          nullable: true
          title: RemovedByOperator
          type: boolean
        SlateGameID:
          nullable: true
          title: SlateGameID
          type: integer
        SlateID:
          nullable: false
          title: SlateID
          type: integer
        SlatePlayerID:
          nullable: false
          title: SlatePlayerID
          type: integer
        Team:
          nullable: true
          title: Team
          type: string
        TeamID:
          nullable: true
          title: TeamID
          type: integer
      title: DfsSlatePlayer
    Game:
      example:
        HomeTeamPointSpreadPayout: 5
        HomeTeamScorePeriod2: 9
        HomeTeamMoneyLine: 4
        HomeTeamScorePeriod1: 8
        Clock: 4
        DateTime: DateTime
        AwayTeamCountryCode: AwayTeamCountryCode
        AwayTeamScorePenalty: 9
        ClockExtra: 7
        OverPayout: 6
        Status: Status
        Updated: Updated
        Period: Period
        HomeTeamId: 1
        AwayTeamId: 1
        AwayTeamKey: AwayTeamKey
        Winner: Winner
        ClockDisplay: ClockDisplay
        AwayTeamFormation: AwayTeamFormation
        HomeTeamScorePenalty: 6
        HomeTeamCountryCode: HomeTeamCountryCode
        VenueType: VenueType
        AwayTeamScoreExtraTime: 7
        AwayTeamScore: 2
        UpdatedUtc: UpdatedUtc
        VenueId: 0
        AwayTeamMoneyLine: 5
        Week: 7
        AwayTeamPointSpreadPayout: 5
        GlobalGameId: 6
        Group: Group
        IsClosed: true
        AwayTeamName: AwayTeamName
        HomeTeamScoreExtraTime: 9
        DrawMoneyLine: 1
        HomeTeamKey: HomeTeamKey
        UnderPayout: 7
        AwayTeamScorePeriod2: 2
        GlobalAwayTeamId: 1
        AwayTeamScorePeriod1: 3
        Season: 3
        Attendance: 6
        RoundId: 6
        OverUnder: 3.5571952270680973
        HomeTeamName: HomeTeamName
        PlayoffAggregateScore:
          TeamA_AggregateScore: 6
          TeamB_AggregateScore: 2
          Updated: Updated
          TeamB_Id: 6
          WinningTeamId: 6
          TeamA_Id: 1
          Created: Created
        SeasonType: 3
        HomeTeamScore: 9
        PointSpread: 5.944895607614016
        HomeTeamFormation: HomeTeamFormation
        GlobalHomeTeamId: 7
        Day: Day
        GameId: 1
      properties:
        Attendance:
          nullable: true
          title: Attendance
          type: integer
        AwayTeamCountryCode:
          nullable: true
          title: AwayTeamCountryCode
          type: string
        AwayTeamFormation:
          nullable: true
          title: AwayTeamFormation
          type: string
        AwayTeamId:
          nullable: true
          title: AwayTeamId
          type: integer
        AwayTeamKey:
          nullable: true
          title: AwayTeamKey
          type: string
        AwayTeamMoneyLine:
          nullable: true
          title: AwayTeamMoneyLine
          type: integer
        AwayTeamName:
          nullable: true
          title: AwayTeamName
          type: string
        AwayTeamPointSpreadPayout:
          nullable: true
          title: AwayTeamPointSpreadPayout
          type: integer
        AwayTeamScore:
          nullable: true
          title: AwayTeamScore
          type: integer
        AwayTeamScoreExtraTime:
          nullable: true
          title: AwayTeamScoreExtraTime
          type: integer
        AwayTeamScorePenalty:
          nullable: true
          title: AwayTeamScorePenalty
          type: integer
        AwayTeamScorePeriod1:
          nullable: true
          title: AwayTeamScorePeriod1
          type: integer
        AwayTeamScorePeriod2:
          nullable: true
          title: AwayTeamScorePeriod2
          type: integer
        Clock:
          nullable: true
          title: Clock
          type: integer
        ClockDisplay:
          nullable: true
          title: ClockDisplay
          type: string
        ClockExtra:
          nullable: true
          title: ClockExtra
          type: integer
        DateTime:
          nullable: true
          title: DateTime
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        DrawMoneyLine:
          nullable: true
          title: DrawMoneyLine
          type: integer
        GameId:
          nullable: false
          title: GameId
          type: integer
        GlobalAwayTeamId:
          nullable: true
          title: GlobalAwayTeamId
          type: integer
        GlobalGameId:
          nullable: false
          title: GlobalGameId
          type: integer
        GlobalHomeTeamId:
          nullable: true
          title: GlobalHomeTeamId
          type: integer
        Group:
          nullable: true
          title: Group
          type: string
        HomeTeamCountryCode:
          nullable: true
          title: HomeTeamCountryCode
          type: string
        HomeTeamFormation:
          nullable: true
          title: HomeTeamFormation
          type: string
        HomeTeamId:
          nullable: true
          title: HomeTeamId
          type: integer
        HomeTeamKey:
          nullable: true
          title: HomeTeamKey
          type: string
        HomeTeamMoneyLine:
          nullable: true
          title: HomeTeamMoneyLine
          type: integer
        HomeTeamName:
          nullable: true
          title: HomeTeamName
          type: string
        HomeTeamPointSpreadPayout:
          nullable: true
          title: HomeTeamPointSpreadPayout
          type: integer
        HomeTeamScore:
          nullable: true
          title: HomeTeamScore
          type: integer
        HomeTeamScoreExtraTime:
          nullable: true
          title: HomeTeamScoreExtraTime
          type: integer
        HomeTeamScorePenalty:
          nullable: true
          title: HomeTeamScorePenalty
          type: integer
        HomeTeamScorePeriod1:
          nullable: true
          title: HomeTeamScorePeriod1
          type: integer
        HomeTeamScorePeriod2:
          nullable: true
          title: HomeTeamScorePeriod2
          type: integer
        IsClosed:
          nullable: true
          title: IsClosed
          type: boolean
        OverPayout:
          nullable: true
          title: OverPayout
          type: integer
        OverUnder:
          nullable: true
          title: OverUnder
          type: number
        Period:
          nullable: true
          title: Period
          type: string
        PlayoffAggregateScore:
          $ref: '#/components/schemas/PlayoffAggregateScore'
        PointSpread:
          nullable: true
          title: PointSpread
          type: number
        RoundId:
          nullable: false
          title: RoundId
          type: integer
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        Status:
          nullable: true
          title: Status
          type: string
        UnderPayout:
          nullable: true
          title: UnderPayout
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
        UpdatedUtc:
          nullable: true
          title: UpdatedUtc
          type: string
        VenueId:
          nullable: true
          title: VenueId
          type: integer
        VenueType:
          nullable: true
          title: VenueType
          type: string
        Week:
          nullable: true
          title: Week
          type: integer
        Winner:
          nullable: true
          title: Winner
          type: string
      title: Game
    Player:
      example:
        InjuryStartDate: InjuryStartDate
        ShortName: ShortName
        Gender: Gender
        InjuryStatus: InjuryStatus
        UsaTodayHeadshotUpdated: UsaTodayHeadshotUpdated
        DraftKingsPosition: DraftKingsPosition
        UsaTodayPlayerID: 5
        UsaTodayHeadshotNoBackgroundUpdated: UsaTodayHeadshotNoBackgroundUpdated
        Height: 0
        Jersey: 6
        PhotoUrl: PhotoUrl
        CommonName: CommonName
        PlayerId: 1
        Updated: Updated
        Position: Position
        FirstName: FirstName
        PositionCategory: PositionCategory
        UsaTodayHeadshotNoBackgroundUrl: UsaTodayHeadshotNoBackgroundUrl
        UsaTodayHeadshotUrl: UsaTodayHeadshotUrl
        BirthCountry: BirthCountry
        InjuryBodyPart: InjuryBodyPart
        Nationality: Nationality
        Weight: 2
        Foot: Foot
        InjuryNotes: InjuryNotes
        RotoWirePlayerID: 5
        BirthCity: BirthCity
        LastName: LastName
        BirthDate: BirthDate
      properties:
        BirthCity:
          nullable: true
          title: BirthCity
          type: string
        BirthCountry:
          nullable: true
          title: BirthCountry
          type: string
        BirthDate:
          nullable: true
          title: BirthDate
          type: string
        CommonName:
          nullable: true
          title: CommonName
          type: string
        DraftKingsPosition:
          nullable: true
          title: DraftKingsPosition
          type: string
        FirstName:
          nullable: true
          title: FirstName
          type: string
        Foot:
          nullable: true
          title: Foot
          type: string
        Gender:
          nullable: true
          title: Gender
          type: string
        Height:
          nullable: true
          title: Height
          type: integer
        InjuryBodyPart:
          nullable: true
          title: InjuryBodyPart
          type: string
        InjuryNotes:
          nullable: true
          title: InjuryNotes
          type: string
        InjuryStartDate:
          nullable: true
          title: InjuryStartDate
          type: string
        InjuryStatus:
          nullable: true
          title: InjuryStatus
          type: string
        Jersey:
          nullable: true
          title: Jersey
          type: integer
        LastName:
          nullable: true
          title: LastName
          type: string
        Nationality:
          nullable: true
          title: Nationality
          type: string
        PhotoUrl:
          nullable: true
          title: PhotoUrl
          type: string
        PlayerId:
          nullable: false
          title: PlayerId
          type: integer
        Position:
          nullable: true
          title: Position
          type: string
        PositionCategory:
          nullable: true
          title: PositionCategory
          type: string
        RotoWirePlayerID:
          nullable: true
          title: RotoWirePlayerID
          type: integer
        ShortName:
          nullable: true
          title: ShortName
          type: string
        Updated:
          nullable: true
          title: Updated
          type: string
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          title: UsaTodayHeadshotNoBackgroundUpdated
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          title: UsaTodayHeadshotNoBackgroundUrl
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          title: UsaTodayHeadshotUpdated
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          title: UsaTodayHeadshotUrl
          type: string
        UsaTodayPlayerID:
          nullable: true
          title: UsaTodayPlayerID
          type: integer
        Weight:
          nullable: true
          title: Weight
          type: integer
      title: Player
    PlayerGameProjection:
      example:
        MondogoalPosition: MondogoalPosition
        FanDuelPosition: FanDuelPosition
        InjuryStartDate: InjuryStartDate
        RedCards: 8.969578798196912
        ShortName: ShortName
        SuspensionReason: SuspensionReason
        DateTime: DateTime
        InjuryStatus: InjuryStatus
        Minutes: 1.284659006116532
        DraftKingsSalary: 2
        Name: Name
        Passes: 3.353193347011243
        ShotsOnGoal: 3.2588565619047607
        OpponentId: 6
        Fouled: 1.2315135367772556
        Touches: 4.678947989005849
        Jersey: 3
        StatId: 0
        PlayerId: 4
        PassesCompleted: 3.0937452626664474
        Updated: Updated
        Position: Position
        OwnGoals: 6.704019297950036
        FantasyPointsFanDuel: 2.027123023002322
        GlobalTeamId: 4
        Captain: true
        MondogoalSalary: 2
        PenaltyKickSaves: 0.10263654006109402
        PenaltiesWon: 0.8851374739011653
        Assists: 0.8008281904610115
        Score: 3.0205796992916243
        PenaltyKickGoals: 7.058770351582356
        YellowCards: 9.132027271330688
        FantasyPointsDraftKings: 3.616076749251911
        GoalkeeperWins: 8.762042012749001
        Games: 6
        BlockedShots: 6.027456183070403
        Goals: 9.018348186070783
        UpdatedUtc: UpdatedUtc
        Fouls: 1.0246457001441578
        GoalkeeperCleanSheets: 5.025004791520295
        GlobalGameId: 7
        Offsides: 6.778324963048013
        PenaltyKickMisses: 6.519180951018382
        Started: 4
        IsGameOver: true
        FantasyPointsYahoo: 7.386281948385884
        YahooSalary: 7
        PenaltiesConceded: 7.143538047012306
        Crosses: 5.962133916683182
        DraftKingsPosition: DraftKingsPosition
        LastManTackle: 6.965117697638846
        Opponent: Opponent
        Team: Team
        GoalkeeperSingleGoalAgainst: 6.683562403749608
        Shots: 5.533258397034986
        Season: 3
        YahooPosition: YahooPosition
        YellowRedCards: 0.8774076871421566
        FanDuelSalary: 7
        FantasyPoints: 9.301444243932576
        GoalkeeperGoalsAgainst: 9.965781217890562
        RoundId: 7
        PositionCategory: PositionCategory
        Suspension: true
        TeamId: 1
        InjuryBodyPart: InjuryBodyPart
        FantasyPointsMondogoal: 4.145608029883936
        HomeOrAway: HomeOrAway
        InjuryNotes: InjuryNotes
        Interceptions: 6.438423552598547
        SeasonType: 7
        Tackles: 6.628464275087742
        CornersWon: 1.4658129805029452
        GlobalOpponentId: 1
        TacklesWon: 4.258773108174356
        DefenderCleanSheets: 5.637376656633329
        GoalkeeperSaves: 9.369310271410669
        Day: Day
        OpponentScore: 5.944895607614016
        GameId: 1
      properties:
        Assists:
          nullable: true
          title: Assists
          type: number
        BlockedShots:
          nullable: true
          title: BlockedShots
          type: number
        Captain:
          nullable: true
          title: Captain
          type: boolean
        CornersWon:
          nullable: true
          title: CornersWon
          type: number
        Crosses:
          nullable: true
          title: Crosses
          type: number
        DateTime:
          nullable: true
          title: DateTime
          type: string
        Day:
          nullable: true
          title: Day
          type: string
        DefenderCleanSheets:
          nullable: true
          title: DefenderCleanSheets
          type: number
        DraftKingsPosition:
          nullable: true
          title: DraftKingsPosition
          type: string
        DraftKingsSalary:
          nullable: true
          title: DraftKingsSalary
          type: integer
        FanDuelPosition:
          nullable: true
          title: FanDuelPosition
          type: string
        FanDuelSalary:
          nullable: true
          title: FanDuelSalary
          type: integer
        FantasyPoints:
          nullable: true
          title: FantasyPoints
          type: number
        FantasyPointsDraftKings:
          nullable: true
          title: FantasyPointsDraftKings
          type: number
        FantasyPointsFanDuel:
          nullable: true
          title: FantasyPointsFanDuel
          type: number
        FantasyPointsMondogoal:
          nullable: true
          title: FantasyPointsMondogoal
          type: number
        FantasyPointsYahoo:
          nullable: true
          title: FantasyPointsYahoo
          type: number
        Fouled:
          nullable: true
          title: Fouled
          type: number
        Fouls:
          nullable: true
          title: Fouls
          type: number
        GameId:
          nullable: true
          title: GameId
          type: integer
        Games:
          nullable: true
          title: Games
          type: integer
        GlobalGameId:
          nullable: true
          title: GlobalGameId
          type: integer
        GlobalOpponentId:
          nullable: true
          title: GlobalOpponentId
          type: integer
        GlobalTeamId:
          nullable: true
          title: GlobalTeamId
          type: integer
        GoalkeeperCleanSheets:
          nullable: true
          title: GoalkeeperCleanSheets
          type: number
        GoalkeeperGoalsAgainst:
          nullable: true
          title: GoalkeeperGoalsAgainst
          type: number
        GoalkeeperSaves:
          nullable: true
          title: GoalkeeperSaves
          type: number
        GoalkeeperSingleGoalAgainst:
          nullable: true
          title: GoalkeeperSingleGoalAgainst
          type: number
        GoalkeeperWins:
          nullable: true
          title: GoalkeeperWins
          type: number
        Goals:
          nullable: true
          title: Goals
          type: number
        HomeOrAway:
          nullable: true
          title: HomeOrAway
          type: string
        InjuryBodyPart:
          nullable: true
          title: InjuryBodyPart
          type: string
        InjuryNotes:
          nullable: true
          title: InjuryNotes
          type: string
        InjuryStartDate:
          nullable: true
          title: InjuryStartDate
          type: string
        InjuryStatus:
          nullable: true
          title: InjuryStatus
          type: string
        Interceptions:
          nullable: true
          title: Interceptions
          type: number
        IsGameOver:
          nullable: false
          title: IsGameOver
          type: boolean
        Jersey:
          nullable: true
          title: Jersey
          type: integer
        LastManTackle:
          nullable: true
          title: LastManTackle
          type: number
        Minutes:
          nullable: true
          title: Minutes
          type: number
        MondogoalPosition:
          nullable: true
          title: MondogoalPosition
          type: string
        MondogoalSalary:
          nullable: true
          title: MondogoalSalary
          type: integer
        Name:
          nullable: true
          title: Name
          type: string
        Offsides:
          nullable: true
          title: Offsides
          type: number
        Opponent:
          nullable: true
          title: Opponent
          type: string
        OpponentId:
          nullable: true
          title: OpponentId
          type: integer
        OpponentScore:
          nullable: true
          title: OpponentScore
          type: number
        OwnGoals:
          nullable: true
          title: OwnGoals
          type: number
        Passes:
          nullable: true
          title: Passes
          type: number
        PassesCompleted:
          nullable: true
          title: PassesCompleted
          type: number
        PenaltiesConceded:
          nullable: true
          title: PenaltiesConceded
          type: number
        PenaltiesWon:
          nullable: true
          title: PenaltiesWon
          type: number
        PenaltyKickGoals:
          nullable: true
          title: PenaltyKickGoals
          type: number
        PenaltyKickMisses:
          nullable: true
          title: PenaltyKickMisses
          type: number
        PenaltyKickSaves:
          nullable: true
          title: PenaltyKickSaves
          type: number
        PlayerId:
          nullable: true
          title: PlayerId
          type: integer
        Position:
          nullable: true
          title: Position
          type: string
        PositionCategory:
          nullable: true
          title: PositionCategory
          type: string
        RedCards:
          nullable: true
          title: RedCards
          type: number
        RoundId:
          nullable: true
          title: RoundId
          type: integer
        Score:
          nullable: true
          title: Score
          type: number
        Season:
          nullable: false
          title: Season
          type: integer
        SeasonType:
          nullable: false
          title: SeasonType
          type: integer
        ShortName:
          nullable: true
          title: ShortName
          type: string
        Shots:
          nullable: true
          title: Shots
          type: number
        ShotsOnGoal:
          nullable: true
          title: ShotsOnGoal
          type: number
        Started:
          nullable: true
          title: Started
          type: integer
        StatId:
          nullable: false
          title: StatId
          type: integer
        Suspension:
          nullable: true
          title: Suspension
          type: boolean
        SuspensionReason:
          nullable: true
          title: SuspensionReason
          type: string
        Tackles:
          nullable: true
          title: Tackles
          type: number
        TacklesWon:
          nullable: true
          title: TacklesWon
          type: number
        Team:
          nullable: true
          title: Team
          type: string
        TeamId:
          nullable: true
          title: TeamId
          type: integer
        Touches:
          nullable: true
          title: Touches
          type: number
        Updated:
          nullable: true
          title: Updated
          type: string
        UpdatedUtc:
          nullable: true
          title: UpdatedUtc
          type: string
        YahooPosition:
          nullable: true
          title: YahooPosition
          type: string
        YahooSalary:
          nullable: true
          title: YahooSalary
          type: integer
        YellowCards:
          nullable: true
          title: YellowCards
          type: number
        YellowRedCards:
          nullable: true
          title: YellowRedCards
          type: number
      title: PlayerGameProjection
    PlayoffAggregateScore:
      example:
        TeamA_AggregateScore: 6
        TeamB_AggregateScore: 2
        Updated: Updated
        TeamB_Id: 6
        WinningTeamId: 6
        TeamA_Id: 1
        Created: Created
      properties:
        Created:
          nullable: true
          title: Created
          type: string
        TeamA_AggregateScore:
          nullable: false
          title: TeamA_AggregateScore
          type: integer
        TeamA_Id:
          nullable: false
          title: TeamA_Id
          type: integer
        TeamB_AggregateScore:
          nullable: false
          title: TeamB_AggregateScore
          type: integer
        TeamB_Id:
          nullable: false
          title: TeamB_Id
          type: integer
        Updated:
          nullable: true
          title: Updated
          type: string
        WinningTeamId:
          nullable: false
          title: WinningTeamId
          type: integer
      title: PlayoffAggregateScore
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyHeader
    apiKeyQuery:
      in: query
      name: key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apiKeyQuery
