openapi: 3.0.1
info:
  title: import.io
  version: "1.0"
  x-apisguru-categories:
  - tools
  x-logo:
    backgroundColor: '#F6248E'
    url: http://api.docs.import.io/images/import-io-logo.svg
  x-origin:
  - format: swagger
    url: http://api.docs.import.io/schedule/swagger.json
    version: "2.0"
  x-providerName: import.io
  x-serviceName: schedule
externalDocs:
  url: http://api.docs.import.io/
servers:
- url: https://schedule.import.io/
tags:
- description: APIs that exist on the run.import.io endpoint
  name: run
- description: APIs that exist on the data.import.io endpoint
  name: data
- description: APIs that exist on the extraction.import.io endpoint
  name: extraction
- description: APIs that exist on the rss.import.io endpoint
  name: rss
- description: APIs that exist on the store.import.io endpoint
  name: store
- description: APIs that exist on the schedule.import.io endpoint
  name: schedule
- description: APIs that exist on the api.import.io endpoint
  name: api
- name: run.import.io
- name: data.import.io
- name: extraction.import.io
- name: rss.import.io
- name: store.import.io
- name: schedule.import.io
- name: api.import.io
paths:
  /extractor:
    get:
      operationId: extractor_get
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: array of crawl run schedules
        "401":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
          description: User doesn't have a valid session.
        "404":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unable to find supplied extractor ID.
      security:
      - api_key: []
      summary: Get the list of schedules for all your extractors
      tags:
      - schedule.import.io
      x-openapi-router-controller: openapi_server.controllers.schedule_import_io_controller
    post:
      operationId: extractor_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleRequest'
        description: Request body with the schema defined on the left. Interval is
          a cron string.
        required: true
        x-body-name: Schedule Request Body
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: crawl run schedule
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Validation errors on the request input.
        "401":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
          description: "User doesn't own this extractor, or doesn't have a valid session."
        "403":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
          description: User is not allowed to create schedule for this extractor.
        "404":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unable to find supplied extractor ID.
      security:
      - api_key: []
      summary: Schedule and extractor to run at a specific time
      tags:
      - schedule.import.io
      x-codegen-request-body-name: Schedule Request Body
      x-openapi-router-controller: openapi_server.controllers.schedule_import_io_controller
  /extractor/{extractorId}/:
    delete:
      operationId: extractor_extractor_id_delete
      parameters:
      - description: the id of the extractor with a schedule
        in: path
        name: extractorId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Empty object
        "401":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
          description: User doesn't have a valid session.
        "403":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
          description: User is not allowed to delete this schedule.
        "404":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Unable to find supplied extractor ID.
      security:
      - api_key: []
      summary: Delete an existing schedule
      tags:
      - schedule.import.io
      x-openapi-router-controller: openapi_server.controllers.schedule_import_io_controller
    get:
      operationId: extractor_extractor_id_get
      parameters:
      - description: the id of the extractor with a schedule
        in: path
        name: extractorId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/Schedule'
          description: crawl run schedule
      security:
      - api_key: []
      summary: Get the schedule of a particular extractor
      tags:
      - schedule.import.io
      x-openapi-router-controller: openapi_server.controllers.schedule_import_io_controller
components:
  schemas:
    APIError:
      example:
        code: 1
        error: error
        message: message
      properties:
        code:
          description: Internal error code
          format: int
          title: code
          type: integer
        error:
          description: (deprecated) A message containing a brief description of the
            error
          title: error
          type: string
        message:
          description: A message containing a brief description of the error
          title: message
          type: string
      title: APIError
      type: object
    CrawlRun:
      properties:
        extractorId:
          title: extractorId
          type: string
        failedUrlCount:
          format: int32
          title: failedUrlCount
          type: integer
        guid:
          title: guid
          type: string
        rowCount:
          format: int32
          title: rowCount
          type: integer
        runtimeConfigId:
          title: runtimeConfigId
          type: string
        startedAt:
          format: int64
          title: startedAt
          type: integer
        state:
          title: state
          type: string
        stoppedAt:
          format: int64
          title: stoppedAt
          type: integer
        successUrlCount:
          format: int32
          title: successUrlCount
          type: integer
        totalUrlCount:
          format: int32
          title: totalUrlCount
          type: integer
        urlListId:
          title: urlListId
          type: string
      title: CrawlRun
      type: object
    Inputs:
      properties:
        Example Input:
          type: string
        _url:
          type: string
      required:
      - _url
      type: object
    ObjectStoreSearchResult:
      properties:
        hits:
          $ref: '#/components/schemas/ObjectStoreSearchResult_hits'
        timed_out:
          type: boolean
        took:
          type: integer
      type: object
    QueryResponse:
      properties:
        error:
          type: string
        exceptionType:
          type: string
        extractorData:
          properties: {}
          type: object
        pageData:
          properties: {}
          type: object
        runtimeConfigId:
          type: string
        sequenceNumber:
          format: int32
          type: integer
        timestamp:
          format: int64
          type: integer
        url:
          type: string
      type: object
    Report:
      properties:
        configId:
          type: string
        guid:
          type: string
        name:
          type: string
        published:
          type: boolean
        reportId:
          type: string
        status:
          type: string
        summary:
          properties: {}
          type: object
        type:
          type: string
      type: object
    ReportRun:
      properties:
        autoPublish:
          type: boolean
        guid:
          type: string
        latestConfigId:
          type: string
        name:
          type: string
        type:
          type: string
      type: object
    Schedule:
      example:
        intervalData:
          minutes: minutes
          time: time
          type: type
        interval: interval
        ownerId: ownerId
        extractorId: extractorId
        nextRunAt: 0
        startTimestamp: 6
      properties:
        extractorId:
          title: extractorId
          type: string
        interval:
          title: interval
          type: string
        intervalData:
          $ref: '#/components/schemas/Schedule_intervalData'
        nextRunAt:
          format: int64
          title: nextRunAt
          type: integer
        ownerId:
          title: ownerId
          type: string
        startTimestamp:
          format: int64
          title: startTimestamp
          type: integer
      title: Schedule
      type: object
    ScheduleRequest:
      example:
        interval: 15 * * * *
        extractorId: 00000000-0000-0000-0000-000000000000
        startTimestamp: 1485448509727
      properties:
        extractorId:
          example: 00000000-0000-0000-0000-000000000000
          title: extractorId
          type: string
        interval:
          example: 15 * * * *
          title: interval
          type: string
        startTimestamp:
          example: 1485448509727
          format: int64
          title: startTimestamp
          type: integer
      required:
      - extractorId
      - interval
      title: ScheduleRequest
      type: object
    ObjectStoreSearchResult_hits_hits_inner:
      properties:
        _id:
          title: _id
          type: string
        _score:
          title: _score
          type: integer
        _type:
          title: _type
          type: string
        fields:
          $ref: '#/components/schemas/CrawlRun'
      title: ObjectStoreSearchResult_hits_hits_inner
      type: object
    ObjectStoreSearchResult_hits:
      properties:
        hits:
          items:
            $ref: '#/components/schemas/ObjectStoreSearchResult_hits_hits_inner'
          title: hits
          type: array
        total:
          title: total
          type: integer
      title: ObjectStoreSearchResult_hits
      type: object
    Schedule_intervalData:
      example:
        minutes: minutes
        time: time
        type: type
      properties:
        minutes:
          title: minutes
          type: string
        time:
          title: time
          type: string
        type:
          title: type
          type: string
      title: Schedule_intervalData
      type: object
  securitySchemes:
    api_key:
      in: query
      name: _apikey
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_api_key
x-original-swagger-version: "2.0"
