openapi: 3.0.1
info:
  title: CostManagementClient
  version: 2018-05-31
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2018-05-31/costmanagement.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: cost-management-costmanagement
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Query:
    post:
      description: Lists the usage data for billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: query_billing_account
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billingAccountId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Query
      x-ms-examples:
        BillingAccountQuery:
          parameters:
            api-version: 2018-05-31
            billingAccountId: "70664866"
            parameters:
              dataset:
                configuration:
                  columns:
                  - PreTaxCost
                  - ResourceGroup
                  - UsageDate
                filter:
                  and:
                  - or:
                    - dimension:
                        name: ResourceLocation
                        operator: In
                        values:
                        - East US
                        - West Europe
                    - tag:
                        name: Environment
                        operator: In
                        values:
                        - UAT
                        - Prod
                  - dimension:
                      name: ResourceGroup
                      operator: In
                      values:
                      - API
                granularity: Daily
              timeframe: MonthToDate
              type: Usage
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                  properties:
                    columns:
                    - name: PreTaxCost
                      type: Number
                    - name: ResourceGroup
                      type: String
                    - name: UsageDate
                      type: Number
                    nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query?api-version=2018-05-31&$skiptoken=AQAAAA%3D%3D
                    rows:
                    - - 19.545363672276512
                      - JapanUnifia-Trial
                      - 20180331
                    - - 173.41979241290323
                      - RVIIOT-TRIAL
                      - 20180331
                    - - 20.35941656262545
                      - VSTSHOL-1595322048000
                      - 20180331
                    - - 0.16677720329728665
                      - gs-stms-dev
                      - 20180331
                  type: microsoft.costmanagement/Query
      x-ms-pageable: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.query_controller
  /providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/dimensions:
    get:
      description: Lists the dimensions by billingAccount Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: billing_account_dimensions_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: BillingAccount ID
        in: path
        name: billing_account_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to filter dimensions by properties/category, properties/usageStart,\
          \ properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "May be used to expand the properties/data within a dimension\
          \ category. By default, data is not included when listing dimensions."
        in: query
        name: $expand
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N dimension data.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Dimensions
      x-ms-examples:
        BillingAccountDimensionsList:
          parameters:
            api-version: 2018-05-31
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceGroup_2018-05-01_2018-05-31
                  name: dimensions_ResourceGroup_2018-05-01_2018-05-31
                  properties:
                    category: ResourceGroup
                    data: []
                    total: 377
                    usageEnd: 2018-05-31T00:00:00-07:00
                    usageStart: 2018-05-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceType_2018-05-01_2018-05-31
                  name: dimensions_ResourceType_2018-05-01_2018-05-31
                  properties:
                    category: ResourceType
                    data: []
                    total: 37
                    usageEnd: 2018-05-31T00:00:00-07:00
                    usageStart: 2018-05-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
        BillingAccountDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2018-05-31
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                  name: dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                  properties:
                    category: ResourceGroup
                    data:
                    - thoroetrg01
                    - default-notificationhubs-westus
                    - jedikeyvaultrg
                    - contosocodeflow8d4a
                    - noobaa
                    total: 377
                    usageEnd: 2018-05-31T00:00:00-07:00
                    usageStart: 2018-05-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceType_2018-05-01_2018-05-31_5
                  name: dimensions_ResourceType_2018-05-01_2018-05-31_5
                  properties:
                    category: ResourceType
                    data:
                    - microsoft.automation/automationaccounts
                    - microsoft.databricks/workspaces
                    - microsoft.dbformysql/servers
                    - microsoft.containerregistry/registries
                    - microsoft.search/searchservices
                    total: 37
                    usageEnd: 2018-05-31T00:00:00-07:00
                    usageStart: 2018-05-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
        BillingAccountDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'instanceId'
            $top: 5
            api-version: 2018-05-31
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_InstanceId_2018-05-01_2018-05-31_5
                  name: dimensions_InstanceId_2018-05-01_2018-05-31_5
                  properties:
                    category: InstanceId
                    data:
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                    - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                    - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                    nextLink: http://management.azure.com/ccmapi/providers/Microsoft.Billing/billingAccounts/100/providers/Microsoft.Consumption/Dimensions?$filter=properties/category
                      eq 'instanceId'&$top=5&api-version=2018-05-31&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                    total: 1409
                    usageEnd: 2018-05-31T00:00:00-07:00
                    usageStart: 2018-05-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
      x-ms-odata: '#/definitions/Dimension'
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.dimensions_controller
  /providers/Microsoft.CostManagement/operations:
    get:
      description: Lists all of the available consumption REST API operations.
      operationId: operations_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/Query:
    post:
      description: Lists the usage data for subscriptionId.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: query_subscription
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Query
      x-ms-examples:
        SubscriptionQuery:
          parameters:
            api-version: 2018-05-31
            parameters:
              dataset:
                configuration:
                  columns:
                  - PreTaxCost
                  - ResourceGroup
                  - UsageDate
                filter:
                  and:
                  - or:
                    - dimension:
                        name: ResourceLocation
                        operator: In
                        values:
                        - East US
                        - West Europe
                    - tag:
                        name: Environment
                        operator: In
                        values:
                        - UAT
                        - Prod
                  - dimension:
                      name: ResourceGroup
                      operator: In
                      values:
                      - API
                granularity: Daily
              timeframe: MonthToDate
              type: Usage
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/Query/00000000-0000-0000-0000-000000000000
                  name: 55312978-ba1b-415c-9304-cfd9c43c0481
                  properties:
                    columns:
                    - name: PreTaxCost
                      type: Number
                    - name: ResourceGroup
                      type: String
                    - name: UsageDate
                      type: Number
                    rows:
                    - - 2.10333307059661
                      - ScreenSharingTest-peer
                      - 20180417
                    - - 218.68795741935486
                      - Ict_StratAndPlan_GoldSprova_Prod
                      - 20180331
                    - - 0.14384913581657052
                      - ssbciotelement01
                      - 20180331
                    - - 0.009865586851323632
                      - ict_stratandplan_goldsprova_prod
                      - 20180331
                  type: microsoft.costmanagement/Query
      x-ms-pageable: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.query_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/dimensions:
    get:
      description: Lists the dimensions by subscription Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: subscription_dimensions_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "May be used to filter dimensions by properties/category, properties/usageStart,\
          \ properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "May be used to expand the properties/data within a dimension\
          \ category. By default, data is not included when listing dimensions."
        in: query
        name: $expand
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N dimension data.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Dimensions
      x-ms-examples:
        SubscriptionDimensionsList:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2018-05-31
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                  name: dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                  properties:
                    category: ResourceGroup
                    data:
                    - dcrg
                    - rg
                    - offlinegalleryrg
                    - system.orlando.adminkeyvault
                    - system.orlando.keyvault
                    total: 68
                    usageEnd: 2018-05-31T00:00:00-07:00
                    usageStart: 2018-05-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/dimensions_ResourceType_2018-05-01_2018-05-31_5
                  name: dimensions_ResourceType_2018-05-01_2018-05-31_5
                  properties:
                    category: ResourceType
                    data:
                    - microsoft.storage/storageaccounts
                    - microsoft.web.admin/role
                    - microsoft.sql/servers
                    - microsoft.compute/virtualmachines
                    total: 4
                    usageEnd: 2018-05-31T00:00:00-07:00
                    usageStart: 2018-05-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
      x-ms-odata: '#/definitions/Dimension'
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.dimensions_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/reportconfigs:
    get:
      description: Lists all report configs for a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: report_config_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportConfigListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        ReportConfigList:
          parameters:
            api-version: 2018-05-31
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig1"
                  name: TestReportConfig1
                  properties:
                    definition:
                      dataset:
                        aggregation:
                          costSum:
                            function: Sum
                            name: PreTaxCost
                        configuration:
                          columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - PreTaxCost
                        filter:
                          and:
                          - or:
                            - dimension:
                                name: ResourceLocation
                                operator: In
                                values:
                                - East US
                                - West Europe
                            - tag:
                                name: Environment
                                operator: In
                                values:
                                - UAT
                                - Prod
                          - dimension:
                              name: ResourceGroup
                              operator: In
                              values:
                              - API
                        granularity: Daily
                        grouping:
                        - columnType: Dimension
                          name: SubscriptionName
                      timePeriod:
                        from: 2018-06-01T00:00:00Z
                        to: 2018-10-31T00:00:00Z
                      timeframe: Custom
                      type: Usage
                    deliveryInfo:
                      destination:
                        container: reports
                        resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                        rootFolderPath: ad-hoc
                    format: Csv
                  type: Microsoft.Consumption/reportconfigs
                - id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig2"
                  name: TestReportConfig2
                  properties:
                    definition:
                      dataset:
                        aggregation:
                          usageSum:
                            function: Sum
                            name: UsageQuantity
                        configuration:
                          columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - UsageQuantity
                        filter:
                          and:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                              - East US
                              - West Europe
                          - tag:
                              name: Environment
                              operator: In
                              values:
                              - UAT
                              - Prod
                        granularity: Daily
                        grouping:
                        - columnType: Tag
                          name: Environment
                      timeframe: WeekToDate
                      type: Usage
                    deliveryInfo:
                      destination:
                        container: reports
                        resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                        rootFolderPath: ad-hoc
                    format: Csv
                    schedule:
                      recurrence: Weekly
                      recurrencePeriod:
                        from: 2018-06-01T00:00:00Z
                        to: 2018-10-31T00:00:00Z
                      status: Active
                  type: Microsoft.Consumption/reportconfigs
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/reportconfigs/{reportConfigName}:
    delete:
      description: The operation to delete a report.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: report_config_delete
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Report Config Name.
        in: path
        name: report_config_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        DeleteReport:
          parameters:
            api-version: 2018-05-31
            reportConfigName: TestReport
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.reports_controller
    get:
      description: Gets the report config for a subscription by report config name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: report_config_get
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Report Config Name.
        in: path
        name: reportConfigName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportConfig'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        Report:
          parameters:
            api-version: 2018-05-31
            reportConfigName: TestReportConfig
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig"
                name: TestReportConfig
                properties:
                  definition:
                    dataset:
                      aggregation:
                        usageSum:
                          function: Sum
                          name: UsageQuantity
                      configuration:
                        columns:
                        - UsageDate
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - UsageQuantity
                      filter:
                        and:
                        - dimension:
                            name: ResourceLocation
                            operator: In
                            values:
                            - East US
                            - West Europe
                        - tag:
                            name: Environment
                            operator: Contains
                            values:
                            - UAT
                            - Prod
                      granularity: Daily
                      grouping:
                      - columnType: Dimension
                        name: SubscriptionName
                      - columnType: Tag
                        name: Environment
                    timePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    timeframe: Custom
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                type: Microsoft.Consumption/reportconfigs
      x-openapi-router-controller: openapi_server.controllers.reports_controller
    put:
      description: The operation to create or update a report config. Update operation
        requires latest eTag to be set in the request mandatorily. You may obtain
        the latest eTag by performing a get operation. Create operation does not require
        eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: report_config_create_or_update
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Report Config Name.
        in: path
        name: report_config_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfig'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportConfig'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportConfig'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        CreateOrUpdateReport:
          parameters:
            api-version: 2018-05-31
            parameters:
              properties:
                definition:
                  dataset:
                    aggregation:
                      costSum:
                        function: Sum
                        name: PreTaxCost
                    configuration:
                      columns:
                      - Date
                      - MeterId
                      - InstanceId
                      - ResourceLocation
                      - PreTaxCost
                    filter:
                      and:
                      - or:
                        - dimension:
                            name: ResourceLocation
                            operator: In
                            values:
                            - East US
                            - West Europe
                        - tag:
                            name: Environment
                            operator: In
                            values:
                            - UAT
                            - Prod
                      - dimension:
                          name: ResourceGroup
                          operator: In
                          values:
                          - API
                    granularity: Daily
                    grouping:
                    - columnType: Dimension
                      name: SubscriptionName
                    - columnType: Tag
                      name: Environment
                  timeframe: MonthToDate
                  type: Usage
                deliveryInfo:
                  destination:
                    container: reports
                    resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                    rootFolderPath: ad-hoc
                format: Csv
                schedule:
                  recurrence: Weekly
                  recurrencePeriod:
                    from: 2018-06-01T00:00:00Z
                    to: 2018-10-31T00:00:00Z
                  status: Active
            reportConfigName: TestReportConfig
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig"
                name: TestReportConfig
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                        - Date
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - PreTaxCost
                      filter:
                        and:
                        - or:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                              - East US
                              - West Europe
                          - tag:
                              name: Environment
                              operator: In
                              values:
                              - UAT
                              - Prod
                        - dimension:
                            name: ResourceGroup
                            operator: In
                            values:
                            - API
                      granularity: Daily
                      grouping:
                      - columnType: Dimension
                        name: SubscriptionName
                      - columnType: Tag
                        name: Environment
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
                    recurrencePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    status: Active
                type: Microsoft.Consumption/reportconfigs
            "201":
              body:
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig"
                name: TestReportConfig
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                        - Date
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - PreTaxCost
                      filter:
                        and:
                        - or:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                              - East US
                              - West Europe
                          - tag:
                              name: Environment
                              operator: In
                              values:
                              - UAT
                              - Prod
                        - dimension:
                            name: ResourceGroup
                            operator: In
                            values:
                            - API
                      granularity: Daily
                      grouping:
                      - columnType: Dimension
                        name: SubscriptionName
                      - columnType: Tag
                        name: Environment
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
                    recurrencePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    status: Active
                type: Microsoft.Consumption/reportconfigs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/dimensions:
    get:
      description: Lists the dimensions by resource group Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: resource_group_dimensions_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Azure Resource Group Name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to filter dimensions by properties/category, properties/usageStart,\
          \ properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "May be used to expand the properties/data within a dimension\
          \ category. By default, data is not included when listing dimensions."
        in: query
        name: $expand
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N dimension data.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Dimensions
      x-ms-examples:
        ResourceGroupDimensionsList:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2018-05-31
            resourceGroupName: system.orlando
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/system.orlando/providers/microsoft.consumption/dimensions_ResourceType_2018-05-01_2018-05-31_5
                  name: dimensions_ResourceType_2018-05-01_2018-05-31_5
                  properties:
                    category: ResourceType
                    data:
                    - microsoft.storage/storageaccounts
                    total: 1
                    usageEnd: 2018-05-31T00:00:00-07:00
                    usageStart: 2018-05-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
                - id: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/system.orlando/providers/microsoft.consumption/dimensions_InstanceId_2018-05-01_2018-05-31_5
                  name: dimensions_InstanceId_2018-05-01_2018-05-31_5
                  properties:
                    category: InstanceId
                    data:
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/authprod
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/systemevents
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/armadminprod
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                    - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/publicsystemportal
                    total: 27
                    usageEnd: 2018-05-31T00:00:00-07:00
                    usageStart: 2018-05-01T00:00:00-07:00
                  type: microsoft.consumption/dimensions
      x-ms-odata: '#/definitions/Dimension'
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.dimensions_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/reportconfigs:
    get:
      description: Lists all report configs for a resource group under a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: report_config_list_by_resource_group_name
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Azure Resource Group Name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportConfigListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        ReportConfigList:
          parameters:
            api-version: 2018-05-31
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig1"
                  name: TestReportConfig1
                  properties:
                    definition:
                      dataset:
                        aggregation:
                          costSum:
                            function: Sum
                            name: PreTaxCost
                        configuration:
                          columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - PreTaxCost
                        filter:
                          and:
                          - or:
                            - dimension:
                                name: ResourceLocation
                                operator: In
                                values:
                                - East US
                                - West Europe
                            - tag:
                                name: Environment
                                operator: In
                                values:
                                - UAT
                                - Prod
                          - dimension:
                              name: ResourceGroup
                              operator: In
                              values:
                              - API
                        granularity: Daily
                        grouping:
                        - columnType: Dimension
                          name: SubscriptionName
                      timePeriod:
                        from: 2018-06-01T00:00:00Z
                        to: 2018-10-31T00:00:00Z
                      timeframe: Custom
                      type: Usage
                    deliveryInfo:
                      destination:
                        container: reports
                        resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                        rootFolderPath: ad-hoc
                    format: Csv
                  type: Microsoft.Consumption/reportconfigs
                - id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig2"
                  name: TestReportConfig2
                  properties:
                    definition:
                      dataset:
                        aggregation:
                          usageSum:
                            function: Sum
                            name: UsageQuantity
                        configuration:
                          columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - UsageQuantity
                        filter:
                          and:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                              - East US
                              - West Europe
                          - tag:
                              name: Environment
                              operator: In
                              values:
                              - UAT
                              - Prod
                        granularity: Daily
                        grouping:
                        - columnType: Tag
                          name: Environment
                      timeframe: WeekToDate
                      type: Usage
                    deliveryInfo:
                      destination:
                        container: reports
                        resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                        rootFolderPath: ad-hoc
                    format: Csv
                    schedule:
                      recurrence: Weekly
                      recurrencePeriod:
                        from: 2018-06-01T00:00:00Z
                        to: 2018-10-31T00:00:00Z
                      status: Active
                  type: Microsoft.Consumption/reportconfigs
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/reportconfigs/{reportConfigName}
  : delete:
      description: The operation to delete a report config.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: report_config_delete_by_resource_group_name
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Azure Resource Group Name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Report Config Name.
        in: path
        name: report_config_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        DeleteReport:
          parameters:
            api-version: 2018-05-31
            reportConfigName: TestReport
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.reports_controller
    get:
      description: Gets the report config for a resource group under a subscription
        by report config name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: report_config_get_by_resource_group_name
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Azure Resource Group Name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Report Config Name.
        in: path
        name: report_config_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportConfig'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        ReportConfig:
          parameters:
            api-version: 2018-05-31
            reportConfigName: TestReportConfig
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig"
                name: TestReportConfig
                properties:
                  definition:
                    dataset:
                      aggregation:
                        usageSum:
                          function: Sum
                          name: UsageQuantity
                      configuration:
                        columns:
                        - UsageDate
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - UsageQuantity
                      filter:
                        and:
                        - dimension:
                            name: ResourceLocation
                            operator: In
                            values:
                            - East US
                            - West Europe
                        - tag:
                            name: Environment
                            operator: Contains
                            values:
                            - UAT
                            - Prod
                      granularity: Daily
                      grouping:
                      - columnType: Dimension
                        name: SubscriptionName
                      - columnType: Tag
                        name: Environment
                    timePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    timeframe: Custom
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                type: Microsoft.Consumption/reportconfigs
      x-openapi-router-controller: openapi_server.controllers.reports_controller
    put:
      description: The operation to create or update a report config. Update operation
        requires latest eTag to be set in the request mandatorily. You may obtain
        the latest eTag by performing a get operation. Create operation does not require
        eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: report_config_create_or_update_by_resource_group_name
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Azure Resource Group Name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Report Config Name.
        in: path
        name: report_config_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfig'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportConfig'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportConfig'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Reports
      x-ms-examples:
        CreateOrUpdateReport:
          parameters:
            api-version: 2018-05-31
            parameters:
              properties:
                definition:
                  dataset:
                    aggregation:
                      costSum:
                        function: Sum
                        name: PreTaxCost
                    configuration:
                      columns:
                      - Date
                      - MeterId
                      - InstanceId
                      - ResourceLocation
                      - PreTaxCost
                    filter:
                      and:
                      - or:
                        - dimension:
                            name: ResourceLocation
                            operator: In
                            values:
                            - East US
                            - West Europe
                        - tag:
                            name: Environment
                            operator: In
                            values:
                            - UAT
                            - Prod
                      - dimension:
                          name: ResourceGroup
                          operator: In
                          values:
                          - API
                    granularity: Daily
                    grouping:
                    - columnType: Dimension
                      name: SubscriptionName
                    - columnType: Tag
                      name: Environment
                  timeframe: MonthToDate
                  type: Usage
                deliveryInfo:
                  destination:
                    container: reports
                    resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                    rootFolderPath: ad-hoc
                format: Csv
                schedule:
                  recurrence: Weekly
                  recurrencePeriod:
                    from: 2018-06-01T00:00:00Z
                    to: 2018-10-31T00:00:00Z
                  status: Active
            reportConfigName: TestReportConfig
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig"
                name: TestReportConfig
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                        - Date
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - PreTaxCost
                      filter:
                        and:
                        - or:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                              - East US
                              - West Europe
                          - tag:
                              name: Environment
                              operator: In
                              values:
                              - UAT
                              - Prod
                        - dimension:
                            name: ResourceGroup
                            operator: In
                            values:
                            - API
                      granularity: Daily
                      grouping:
                      - columnType: Dimension
                        name: SubscriptionName
                      - columnType: Tag
                        name: Environment
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
                    recurrencePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    status: Active
                type: Microsoft.Consumption/reportconfigs
            "201":
              body:
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig"
                name: TestReportConfig
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                        - Date
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - PreTaxCost
                      filter:
                        and:
                        - or:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                              - East US
                              - West Europe
                          - tag:
                              name: Environment
                              operator: In
                              values:
                              - UAT
                              - Prod
                        - dimension:
                            name: ResourceGroup
                            operator: In
                            values:
                            - API
                      granularity: Daily
                      grouping:
                      - columnType: Dimension
                        name: SubscriptionName
                      - columnType: Tag
                        name: Environment
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
                    recurrencePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    status: Active
                type: Microsoft.Consumption/reportconfigs
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.reports_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.CostManagement/Query:
    post:
      description: Lists the usage data for subscriptionId and resource group.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: query_resource_group
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-05-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Azure Resource Group Name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportConfigDefinition'
        description: Parameters supplied to the CreateOrUpdate Report Config operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Query
      x-ms-examples:
        ResourceGroupQuery:
          parameters:
            api-version: 2018-05-31
            parameters:
              dataset:
                configuration:
                  columns:
                  - PreTaxCost
                  - ResourceGroup
                  - UsageDate
                filter:
                  and:
                  - or:
                    - dimension:
                        name: ResourceLocation
                        operator: In
                        values:
                        - East US
                        - West Europe
                    - tag:
                        name: Environment
                        operator: In
                        values:
                        - UAT
                        - Prod
                  - dimension:
                      name: ResourceGroup
                      operator: In
                      values:
                      - API
                granularity: Daily
              timeframe: MonthToDate
              type: Usage
            resourceGroupName: ScreenSharingTest-peer
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ScreenSharingTest-peer/providers/Microsoft.CostManagement/Query/9af9459d-441d-4055-9ed0-83d4c4a363fb
                  name: 9af9459d-441d-4055-9ed0-83d4c4a363fb
                  properties:
                    columns:
                    - name: PreTaxCost
                      type: Number
                    - name: ResourceGroup
                      type: String
                    - name: UsageDate
                      type: Number
                    rows:
                    - - 2.10333307059661
                      - ScreenSharingTest-peer
                      - 20180417
                    - - 20.10333307059661
                      - ScreenSharingTest-peer
                      - 20180418
                  type: microsoft.costmanagement/Query
      x-ms-pageable: {}
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.query_controller
components:
  parameters:
    apiVersionParameter:
      description: Version of the API to be used with the client request. The current
        version is 2018-05-31.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    billingAccountIdParameter:
      description: BillingAccount ID
      in: path
      name: billingAccountId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    reportConfigNameParameter:
      description: Report Config Name.
      in: path
      name: reportConfigName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: Azure Resource Group Name.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Dimension:
      allOf:
      - $ref: '#/components/schemas/Resource'
      example:
        properties:
          total: 0
          usageStart: 2000-01-23T04:56:07.000+00:00
          data:
          - data
          - data
          category: category
          usageEnd: 2000-01-23T04:56:07.000+00:00
          nextLink: nextLink
      properties:
        properties:
          $ref: '#/components/schemas/DimensionProperties'
      title: Dimension
    DimensionProperties:
      example:
        total: 0
        usageStart: 2000-01-23T04:56:07.000+00:00
        data:
        - data
        - data
        category: category
        usageEnd: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        category:
          title: category
          type: string
        data:
          items:
            type: string
          title: data
          type: array
        nextLink:
          title: nextLink
          type: string
        total:
          format: int32
          title: total
          type: integer
        usageEnd:
          format: date-time
          title: usageEnd
          type: string
        usageStart:
          format: date-time
          title: usageStart
          type: string
      title: DimensionProperties
      type: object
    DimensionsListResult:
      description: Result of listing dimensions. It contains a list of available dimensions.
      example:
        value:
        - properties:
            total: 0
            usageStart: 2000-01-23T04:56:07.000+00:00
            data:
            - data
            - data
            category: category
            usageEnd: 2000-01-23T04:56:07.000+00:00
            nextLink: nextLink
        - properties:
            total: 0
            usageStart: 2000-01-23T04:56:07.000+00:00
            data:
            - data
            - data
            category: category
            usageEnd: 2000-01-23T04:56:07.000+00:00
            nextLink: nextLink
      properties:
        value:
          description: The list of dimensions.
          items:
            $ref: '#/components/schemas/Dimension'
          readOnly: true
          title: value
          type: array
      title: DimensionsListResult
      type: object
    ErrorDetails:
      description: The details of the error.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          readOnly: true
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          title: message
          type: string
      title: ErrorDetails
      type: object
    ErrorResponse:
      description: Error response indicates that the service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
      title: ErrorResponse
      type: object
    Operation:
      description: A Cost management REST API operation.
      example:
        display:
          provider: provider
          resource: resource
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}."
          readOnly: true
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: Result of listing cost management operations. It contains a list
        of operations and a URL link to get the next set of results.
      example:
        value:
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            operation: operation
          name: name
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: List of cost management operations supported by the Microsoft.CostManagement
            resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          readOnly: true
          title: value
          type: array
      title: OperationListResult
      type: object
    Query:
      allOf:
      - $ref: '#/components/schemas/Resource'
      example:
        properties:
          columns:
          - name: name
            type: type
          - name: name
            type: type
          rows:
          - - "{}"
            - "{}"
          - - "{}"
            - "{}"
          nextLink: nextLink
      properties:
        properties:
          $ref: '#/components/schemas/QueryProperties'
      title: Query
    QueryColumn:
      example:
        name: name
        type: type
      properties:
        name:
          title: name
          type: string
        type:
          title: type
          type: string
      title: QueryColumn
      type: object
    QueryProperties:
      example:
        columns:
        - name: name
          type: type
        - name: name
          type: type
        rows:
        - - "{}"
          - "{}"
        - - "{}"
          - "{}"
        nextLink: nextLink
      properties:
        columns:
          description: Array of columns
          items:
            $ref: '#/components/schemas/QueryColumn'
          title: columns
          type: array
        nextLink:
          title: nextLink
          type: string
        rows:
          items:
            items:
              type: object
            type: array
          title: rows
          type: array
      title: QueryProperties
      type: object
    QueryResult:
      description: Result of query. It contains all columns listed under groupings
        and aggregation.
      example:
        value:
        - properties:
            columns:
            - name: name
              type: type
            - name: name
              type: type
            rows:
            - - "{}"
              - "{}"
            - - "{}"
              - "{}"
            nextLink: nextLink
        - properties:
            columns:
            - name: name
              type: type
            - name: name
              type: type
            rows:
            - - "{}"
              - "{}"
            - - "{}"
              - "{}"
            nextLink: nextLink
      properties:
        value:
          description: The list of usage data.
          items:
            $ref: '#/components/schemas/Query'
          readOnly: true
          title: value
          type: array
      title: QueryResult
      type: object
    ReportConfig:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: A report config resource.
      example:
        properties:
          schedule:
            recurrence: Daily
            recurrencePeriod:
              from: 2000-01-23T04:56:07.000+00:00
              to: 2000-01-23T04:56:07.000+00:00
            status: Active
          deliveryInfo:
            destination:
              container: container
              resourceId: resourceId
              rootFolderPath: rootFolderPath
          format: Csv
          definition:
            timeframe: WeekToDate
            timePeriod:
              from: 2000-01-23T04:56:07.000+00:00
              to: 2000-01-23T04:56:07.000+00:00
            type: Usage
            dataset:
              filter:
                not: null
                or:
                - null
                - null
                and:
                - null
                - null
                tag:
                  values:
                  - values
                  - values
                  name: name
                  operator: In
                dimension:
                  values:
                  - values
                  - values
                  name: name
                  operator: In
              configuration:
                columns:
                - columns
                - columns
              granularity: Daily
              aggregation:
                key:
                  function: Sum
                  name: name
              grouping:
              - columnType: Tag
                name: name
              - columnType: Tag
                name: name
      properties:
        properties:
          $ref: '#/components/schemas/ReportConfigProperties'
      title: ReportConfig
    ReportConfigAggregation:
      description: The aggregation expression to be used in the report.
      example:
        function: Sum
        name: name
      properties:
        function:
          description: The name of the aggregation function to use.
          enum:
          - Sum
          title: function
          type: string
          x-ms-enum:
            modelAsString: true
            name: FunctionType
        name:
          description: The name of the column to aggregate.
          title: name
          type: string
      required:
      - function
      - name
      title: ReportConfigAggregation
      type: object
    ReportConfigColumnType:
      description: The type of the column in the report.
      enum:
      - Tag
      - Dimension
      title: ReportConfigColumnType
      type: string
      x-ms-enum:
        modelAsString: true
        name: ReportConfigColumnType
    ReportConfigComparisonExpression:
      description: The comparison expression to be used in the report.
      example:
        values:
        - values
        - values
        name: name
        operator: In
      properties:
        name:
          description: The name of the column to use in comparison.
          title: name
          type: string
        operator:
          description: The operator to use for comparison.
          enum:
          - In
          title: operator
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperatorType
        values:
          description: Array of values to use for comparison
          items:
            type: string
          minItems: 1
          title: values
          type: array
      required:
      - name
      - operator
      - values
      title: ReportConfigComparisonExpression
      type: object
    ReportConfigDataset:
      description: The definition of data present in the report.
      example:
        filter:
          not: null
          or:
          - null
          - null
          and:
          - null
          - null
          tag:
            values:
            - values
            - values
            name: name
            operator: In
          dimension:
            values:
            - values
            - values
            name: name
            operator: In
        configuration:
          columns:
          - columns
          - columns
        granularity: Daily
        aggregation:
          key:
            function: Sum
            name: name
        grouping:
        - columnType: Tag
          name: name
        - columnType: Tag
          name: name
      properties:
        aggregation:
          additionalProperties:
            $ref: '#/components/schemas/ReportConfigAggregation'
          description: Dictionary of aggregation expression to use in the report.
            The key of each item in the dictionary is the alias for the aggregated
            column. Report can have up to 2 aggregation clauses.
          title: aggregation
          type: object
        configuration:
          $ref: '#/components/schemas/ReportConfigDatasetConfiguration'
        filter:
          $ref: '#/components/schemas/ReportConfigFilter'
        granularity:
          description: The granularity of rows in the report.
          enum:
          - Daily
          title: granularity
          type: string
          x-ms-enum:
            modelAsString: true
            name: GranularityType
        grouping:
          description: Array of group by expression to use in the report. Report can
            have up to 2 group by clauses.
          items:
            $ref: '#/components/schemas/ReportConfigGrouping'
          maxItems: 2
          title: grouping
          type: array
      title: ReportConfigDataset
      type: object
    ReportConfigDatasetConfiguration:
      description: The configuration of dataset in the report.
      example:
        columns:
        - columns
        - columns
      properties:
        columns:
          description: "Array of column names to be included in the report. Any valid\
            \ report column name is allowed. If not provided, then report includes\
            \ all columns."
          items:
            type: string
          title: columns
          type: array
      title: ReportConfigDatasetConfiguration
      type: object
    ReportConfigDefinition:
      description: The definition of a report config.
      example:
        timeframe: WeekToDate
        timePeriod:
          from: 2000-01-23T04:56:07.000+00:00
          to: 2000-01-23T04:56:07.000+00:00
        type: Usage
        dataset:
          filter:
            not: null
            or:
            - null
            - null
            and:
            - null
            - null
            tag:
              values:
              - values
              - values
              name: name
              operator: In
            dimension:
              values:
              - values
              - values
              name: name
              operator: In
          configuration:
            columns:
            - columns
            - columns
          granularity: Daily
          aggregation:
            key:
              function: Sum
              name: name
          grouping:
          - columnType: Tag
            name: name
          - columnType: Tag
            name: name
      properties:
        dataset:
          $ref: '#/components/schemas/ReportConfigDataset'
        timePeriod:
          $ref: '#/components/schemas/ReportConfigTimePeriod'
        timeframe:
          description: "The time frame for pulling data for the report. If custom,\
            \ then a specific time period must be provided."
          enum:
          - WeekToDate
          - MonthToDate
          - YearToDate
          - Custom
          title: timeframe
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeframeType
        type:
          description: The type of the report.
          enum:
          - Usage
          title: type
          type: string
          x-ms-enum:
            modelAsString: true
            name: ReportType
      required:
      - timeframe
      - type
      title: ReportConfigDefinition
      type: object
    ReportConfigDeliveryDestination:
      description: The destination information for the delivery of the report.
      example:
        container: container
        resourceId: resourceId
        rootFolderPath: rootFolderPath
      properties:
        container:
          description: The name of the container where reports will be uploaded.
          title: container
          type: string
        resourceId:
          description: The resource id of the storage account where reports will be
            delivered.
          title: resourceId
          type: string
        rootFolderPath:
          description: The name of the directory where reports will be uploaded.
          title: rootFolderPath
          type: string
      required:
      - container
      - resourceId
      title: ReportConfigDeliveryDestination
      type: object
    ReportConfigDeliveryInfo:
      description: The delivery information associated with a report config.
      example:
        destination:
          container: container
          resourceId: resourceId
          rootFolderPath: rootFolderPath
      properties:
        destination:
          $ref: '#/components/schemas/ReportConfigDeliveryDestination'
      required:
      - destination
      title: ReportConfigDeliveryInfo
      type: object
    ReportConfigFilter:
      description: The filter expression to be used in the report.
      example:
        not: null
        or:
        - null
        - null
        and:
        - null
        - null
        tag:
          values:
          - values
          - values
          name: name
          operator: In
        dimension:
          values:
          - values
          - values
          name: name
          operator: In
      properties:
        and:
          description: The logical "AND" expression. Must have at least 2 items.
          items:
            $ref: '#/components/schemas/ReportConfigFilter'
          minItems: 2
          title: and
          type: array
        dimension:
          $ref: '#/components/schemas/ReportConfigComparisonExpression'
        not:
          $ref: '#/components/schemas/ReportConfigFilter'
        or:
          description: The logical "OR" expression. Must have at least 2 items.
          items:
            $ref: '#/components/schemas/ReportConfigFilter'
          minItems: 2
          title: or
          type: array
        tag:
          $ref: '#/components/schemas/ReportConfigComparisonExpression'
      title: ReportConfigFilter
      type: object
    ReportConfigGrouping:
      description: The group by expression to be used in the report.
      example:
        columnType: Tag
        name: name
      properties:
        columnType:
          $ref: '#/components/schemas/ReportConfigColumnType'
        name:
          description: The name of the column to group.
          title: name
          type: string
      required:
      - columnType
      - name
      title: ReportConfigGrouping
      type: object
    ReportConfigListResult:
      description: Result of listing report configs. It contains a list of available
        report configurations in the scope provided.
      example:
        value:
        - properties:
            schedule:
              recurrence: Daily
              recurrencePeriod:
                from: 2000-01-23T04:56:07.000+00:00
                to: 2000-01-23T04:56:07.000+00:00
              status: Active
            deliveryInfo:
              destination:
                container: container
                resourceId: resourceId
                rootFolderPath: rootFolderPath
            format: Csv
            definition:
              timeframe: WeekToDate
              timePeriod:
                from: 2000-01-23T04:56:07.000+00:00
                to: 2000-01-23T04:56:07.000+00:00
              type: Usage
              dataset:
                filter:
                  not: null
                  or:
                  - null
                  - null
                  and:
                  - null
                  - null
                  tag:
                    values:
                    - values
                    - values
                    name: name
                    operator: In
                  dimension:
                    values:
                    - values
                    - values
                    name: name
                    operator: In
                configuration:
                  columns:
                  - columns
                  - columns
                granularity: Daily
                aggregation:
                  key:
                    function: Sum
                    name: name
                grouping:
                - columnType: Tag
                  name: name
                - columnType: Tag
                  name: name
        - properties:
            schedule:
              recurrence: Daily
              recurrencePeriod:
                from: 2000-01-23T04:56:07.000+00:00
                to: 2000-01-23T04:56:07.000+00:00
              status: Active
            deliveryInfo:
              destination:
                container: container
                resourceId: resourceId
                rootFolderPath: rootFolderPath
            format: Csv
            definition:
              timeframe: WeekToDate
              timePeriod:
                from: 2000-01-23T04:56:07.000+00:00
                to: 2000-01-23T04:56:07.000+00:00
              type: Usage
              dataset:
                filter:
                  not: null
                  or:
                  - null
                  - null
                  and:
                  - null
                  - null
                  tag:
                    values:
                    - values
                    - values
                    name: name
                    operator: In
                  dimension:
                    values:
                    - values
                    - values
                    name: name
                    operator: In
                configuration:
                  columns:
                  - columns
                  - columns
                granularity: Daily
                aggregation:
                  key:
                    function: Sum
                    name: name
                grouping:
                - columnType: Tag
                  name: name
                - columnType: Tag
                  name: name
      properties:
        value:
          description: The list of report configs.
          items:
            $ref: '#/components/schemas/ReportConfig'
          readOnly: true
          title: value
          type: array
      title: ReportConfigListResult
      type: object
    ReportConfigProperties:
      description: The properties of the report config.
      example:
        schedule:
          recurrence: Daily
          recurrencePeriod:
            from: 2000-01-23T04:56:07.000+00:00
            to: 2000-01-23T04:56:07.000+00:00
          status: Active
        deliveryInfo:
          destination:
            container: container
            resourceId: resourceId
            rootFolderPath: rootFolderPath
        format: Csv
        definition:
          timeframe: WeekToDate
          timePeriod:
            from: 2000-01-23T04:56:07.000+00:00
            to: 2000-01-23T04:56:07.000+00:00
          type: Usage
          dataset:
            filter:
              not: null
              or:
              - null
              - null
              and:
              - null
              - null
              tag:
                values:
                - values
                - values
                name: name
                operator: In
              dimension:
                values:
                - values
                - values
                name: name
                operator: In
            configuration:
              columns:
              - columns
              - columns
            granularity: Daily
            aggregation:
              key:
                function: Sum
                name: name
            grouping:
            - columnType: Tag
              name: name
            - columnType: Tag
              name: name
      properties:
        definition:
          $ref: '#/components/schemas/ReportConfigDefinition'
        deliveryInfo:
          $ref: '#/components/schemas/ReportConfigDeliveryInfo'
        format:
          description: The format of the report being delivered.
          enum:
          - Csv
          title: format
          type: string
          x-ms-enum:
            modelAsString: true
            name: FormatType
        schedule:
          $ref: '#/components/schemas/ReportConfigSchedule'
      required:
      - definition
      - deliveryInfo
      title: ReportConfigProperties
      type: object
    ReportConfigRecurrencePeriod:
      description: The start and end date for recurrence schedule.
      example:
        from: 2000-01-23T04:56:07.000+00:00
        to: 2000-01-23T04:56:07.000+00:00
      properties:
        from:
          description: The start date of recurrence.
          format: date-time
          title: from
          type: string
        to:
          description: "The end date of recurrence. If not provided, we default this\
            \ to 10 years from the start date."
          format: date-time
          title: to
          type: string
      required:
      - from
      title: ReportConfigRecurrencePeriod
      type: object
    ReportConfigSchedule:
      description: The schedule associated with a report config.
      example:
        recurrence: Daily
        recurrencePeriod:
          from: 2000-01-23T04:56:07.000+00:00
          to: 2000-01-23T04:56:07.000+00:00
        status: Active
      properties:
        recurrence:
          description: The schedule recurrence.
          enum:
          - Daily
          - Weekly
          - Monthly
          - Annually
          title: recurrence
          type: string
          x-ms-enum:
            modelAsString: true
            name: RecurrenceType
[...]
