openapi: 3.0.1
info:
  description: Use these REST APIs to get the analytics reports associated with your
    Azure API Management deployment.
  title: ApiManagementClient
  version: 2016-10-10
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimreports.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimreports
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/{aggregation}
  : get:
      description: Lists report records.
      operationId: reports_list_by_service
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Report aggregation.
        in: path
        name: aggregation
        required: true
        schema:
          enum:
          - byApi
          - byGeo
          - byOperation
          - byProduct
          - bySubscription
          - byTime
          - byUser
          type: string
          x-ms-enum:
            modelAsString: false
            name: ReportsAggregation
        x-ms-enum:
          modelAsString: false
          name: ReportsAggregation
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "By time interval. This value is only applicable to ByTime aggregation.\
          \ Interval must be multiple of 15 minutes and may not be zero. The value\
          \ should be in ISO  8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations).This\
          \ code can be used to convert TimSpan to a valid interval string: XmlConvert.ToString(new\
          \ TimeSpan(hours, minutes, seconds))"
        in: query
        name: interval
        schema:
          format: duration
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportCollection'
          description: Lists a collection of Report record.
      tags:
      - Reports
      x-ms-odata: '#/definitions/ReportRecordContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.reports_controller
components:
  schemas:
    ReportCollection:
      description: Paged Report records list representation.
      example:
        count: 0
        value:
        - country: country
          cacheHitCount: 2
          callCountSuccess: 4
          callCountFailed: 3
          apiTimeAvg: 6.027456183070403
          apiTimeMin: 5.962133916683182
          serviceTimeMax: 1.4894159098541704
          operationId: operationId
          apiTimeMax: 1.4658129805029452
          apiId: apiId
          timestamp: 2000-01-23T04:56:07.000+00:00
          zip: zip
          apiRegion: apiRegion
          productId: productId
          bandwidth: 5
          callCountBlocked: 9
          callCountOther: 2
          callCountTotal: 7
          userId: userId
          cacheMissCount: 7
          name: name
          interval: 1
          region: region
          subscriptionId: subscriptionId
          serviceTimeAvg: 1.0246457001441578
          serviceTimeMin: 6.84685269835264
        - country: country
          cacheHitCount: 2
          callCountSuccess: 4
          callCountFailed: 3
          apiTimeAvg: 6.027456183070403
          apiTimeMin: 5.962133916683182
          serviceTimeMax: 1.4894159098541704
          operationId: operationId
          apiTimeMax: 1.4658129805029452
          apiId: apiId
          timestamp: 2000-01-23T04:56:07.000+00:00
          zip: zip
          apiRegion: apiRegion
          productId: productId
          bandwidth: 5
          callCountBlocked: 9
          callCountOther: 2
          callCountTotal: 7
          userId: userId
          cacheMissCount: 7
          name: name
          interval: 1
          region: region
          subscriptionId: subscriptionId
          serviceTimeAvg: 1.0246457001441578
          serviceTimeMin: 6.84685269835264
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          title: count
          type: integer
        nextLink:
          description: Next page link if any.
          title: nextLink
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/ReportRecordContract'
          title: value
          type: array
      title: ReportCollection
      type: object
    ReportRecordContract:
      description: Report data.
      example:
        country: country
        cacheHitCount: 2
        callCountSuccess: 4
        callCountFailed: 3
        apiTimeAvg: 6.027456183070403
        apiTimeMin: 5.962133916683182
        serviceTimeMax: 1.4894159098541704
        operationId: operationId
        apiTimeMax: 1.4658129805029452
        apiId: apiId
        timestamp: 2000-01-23T04:56:07.000+00:00
        zip: zip
        apiRegion: apiRegion
        productId: productId
        bandwidth: 5
        callCountBlocked: 9
        callCountOther: 2
        callCountTotal: 7
        userId: userId
        cacheMissCount: 7
        name: name
        interval: 1
        region: region
        subscriptionId: subscriptionId
        serviceTimeAvg: 1.0246457001441578
        serviceTimeMin: 6.84685269835264
      properties:
        apiId:
          description: "API identifier path. /apis/{apiId}"
          title: apiId
          type: string
        apiRegion:
          description: API region identifier.
          title: apiRegion
          type: string
        apiTimeAvg:
          description: Average time it took to process request.
          format: double
          title: apiTimeAvg
          type: number
        apiTimeMax:
          description: Maximum time it took to process request.
          format: double
          title: apiTimeMax
          type: number
        apiTimeMin:
          description: Minimum time it took to process request.
          format: double
          title: apiTimeMin
          type: number
        bandwidth:
          description: Bandwidth consumed.
          format: int64
          title: bandwidth
          type: integer
        cacheHitCount:
          description: Number of times when content was served from cache policy.
          format: int32
          title: cacheHitCount
          type: integer
        cacheMissCount:
          description: Number of times content was fetched from backend.
          format: int32
          title: cacheMissCount
          type: integer
        callCountBlocked:
          description: Number of calls blocked due to invalid credentials. This includes
            calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden
            and HttpStatusCode.TooManyRequests
          format: int32
          title: callCountBlocked
          type: integer
        callCountFailed:
          description: Number of calls failed due to proxy or backend errors. This
            includes calls returning HttpStatusCode.BadRequest(400) and any Code between
            HttpStatusCode.InternalServerError (500) and 600
          format: int32
          title: callCountFailed
          type: integer
        callCountOther:
          description: Number of other calls.
          format: int32
          title: callCountOther
          type: integer
        callCountSuccess:
          description: Number of successful calls. This includes calls returning HttpStatusCode
            <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect
          format: int32
          title: callCountSuccess
          type: integer
        callCountTotal:
          description: Total number of calls.
          format: int32
          title: callCountTotal
          type: integer
        country:
          description: Country to which this record data is related.
          title: country
          type: string
        interval:
          description: Length of aggregation period.
          format: int64
          title: interval
          type: integer
        name:
          description: "Name depending on report endpoint specifies product, API,\
            \ operation or developer name."
          title: name
          type: string
        operationId:
          description: "Operation identifier path. /apis/{apiId}/operations/{operationId}"
          title: operationId
          type: string
        productId:
          description: "Product identifier path. /products/{productId}"
          readOnly: true
          title: productId
          type: string
        region:
          description: Country region to which this record data is related.
          title: region
          type: string
        serviceTimeAvg:
          description: Average time it took to process request on backend.
          format: double
          title: serviceTimeAvg
          type: number
        serviceTimeMax:
          description: Maximum time it took to process request on backend.
          format: double
          title: serviceTimeMax
          type: number
        serviceTimeMin:
          description: Minimum time it took to process request on backend.
          format: double
          title: serviceTimeMin
          type: number
        subscriptionId:
          description: "Subscription identifier path. /subscriptions/{subscriptionId}"
          title: subscriptionId
          type: string
        timestamp:
          description: |
            Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          title: timestamp
          type: string
        userId:
          description: "User identifier path. /users/{userId}"
          readOnly: true
          title: userId
          type: string
        zip:
          description: Zip code to which this record data is related.
          title: zip
          type: string
      title: ReportRecordContract
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
