openapi: 3.0.0
info:
  contact:
    email: mail@spoonacular.com
    name: David Urbansky
    url: https://spoonacular.com/contact
  description: |-
    The spoonacular Nutrition, Recipe, and Food API allows you to access over thousands of recipes, thousands of ingredients, 800,000 food products, over 100,000 menu items, and restaurants. Our food ontology and semantic recipe search engine makes it possible to search for recipes using natural language queries, such as "gluten free brownies without sugar" or "low fat vegan cupcakes." You can automatically calculate the nutritional information for any recipe, analyze recipe costs, visualize ingredient lists, find recipes for what's in your fridge, find recipes based on special diets, nutritional requirements, or favorite ingredients, classify recipes into types and cuisines, convert ingredient amounts, or even compute an entire meal plan. With our powerful API, you can create many kinds of food and especially nutrition apps.

    Special diets/dietary requirements currently available include: vegan, vegetarian, pescetarian, gluten free, grain free, dairy free, high protein, whole 30, low sodium, low carb, Paleo, ketogenic, FODMAP, and Primal.
  license:
    name: spoonacular API Terms
    url: https://spoonacular.com/food-api/terms
  termsOfService: https://spoonacular.com/food-api/terms
  title: spoonacular API
  version: "1.1"
  x-apisguru-categories:
  - social
  x-codegen-settings:
    AllowSkippingSSLCertVerification: false
    AndroidUseAppManifest: true
    AppendContentHeaders: true
    ApplyCustomizations: []
    ArraySerialization: Indexed
    BodySerialization: 0
    CollectParameters: false
    DisableDocs: false
    DisableLinting: false
    DoNotSplitWords: []
    EnableAdditionalModelProperties: false
    EnableGlobalUserAgent: true
    EnableHttpCache: false
    EnableLogging: false
    EnablePHPComposerVersionString: false
    ForceKeywordArgsInRuby: false
    GenerateAdvancedDocs: false
    GenerateAppveyorConfig: false
    GenerateAsyncCode: true
    GenerateCircleConfig: false
    GenerateExceptions: true
    GenerateInterfaces: false
    GenerateJenkinsConfig: false
    GenerateModels: true
    GenerateTravisConfig: false
    IgnoreIfNullJson: false
    JavaHttpClient: JAVA_OK
    JavaUsePropertiesConfig: false
    LiftParameterDescriptionFromCustomType: false
    ModelSerializationScheme: Json
    NodeHttpClient: NODE_REQUEST
    Nullify404: false
    ParameterArrayFormat: ParamArrayWithIndex
    PreserveParameterOrder: false
    ResponseMapping:
      Type: Simple
    Retries: 0
    RetryInterval: 1
    ReturnCompleteHttpResponse: false
    RunscopeEnabled: false
    SecurityProtocols:
    - Ssl3
    - Tls
    SortResources: false
    StoreTimezoneInformation: false
    SymbolizeHashKeysInRuby: false
    ThrowForHttpErrorStatusCodes: true
    Timeout: 0
    UnderscoreNumbers: true
    UseCommonSDKLibrary: false
    UseConstructorsForConfig: true
    UseControllerPrefix: true
    UseEnumPostfix: true
    UseExceptionPrefix: true
    UseMethodPrefix: true
    UseModelPostfix: false
    UseSingletonPattern: true
    ValidateRequiredParameters: false
    iOSGenerateCoreData: false
    iOSUseAppInfoPlist: true
  x-origin:
  - format: openapi
    url: https://spoonacular.com/application/frontend/downloads/spoonacular-openapi-3.json
    version: "3.0"
  x-providerName: spoonacular.com
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
    - name: production
      servers:
      - name: default
        url: https://api.spoonacular.com
    parameters: []
externalDocs:
  description: The official documentation.
  url: https://spoonacular.com/food-api/docs
servers:
- url: https://api.spoonacular.com
security:
- apiKeyScheme: []
tags:
- name: ingredients
- name: meal planning
- name: menu items
- name: misc
- name: products
- name: recipes
- name: wine
paths:
  /food/converse:
    get:
      deprecated: false
      description: This endpoint can be used to have a conversation about food with
        the spoonacular chatbot. Use the "Get Conversation Suggests" endpoint to show
        your user what he or she can say.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Talk-to-Chatbot
      operationId: talk_to_chatbot
      parameters:
      - description: The request / question / answer from the user to the chatbot.
        explode: false
        in: query
        name: text
        required: true
        schema:
          example: donut recipes
          type: string
        style: form
      - description: An arbitrary globally unique id for your conversation. The conversation
          can contain states so you should pass your context id if you want the bot
          to be able to remember the conversation.
        explode: false
        in: query
        name: contextId
        required: false
        schema:
          example: "342938"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    answerText: "Baby, if you were a fruit you'd be a fineapple."
                    media: []
              schema:
                $ref: '#/components/schemas/talkToChatbot_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Talk to Chatbot
      tags:
      - misc
      x-openapi-router-controller: openapi_server.controllers.misc_controller
  /food/converse/suggest:
    get:
      deprecated: false
      description: This endpoint returns suggestions for things the user can say or
        ask the chatbot.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Conversation-Suggests
      operationId: get_conversation_suggests
      parameters:
      - description: A (partial) query from the user. The endpoint will return if
          it matches topics it can talk about.
        explode: false
        in: query
        name: query
        required: true
        schema:
          example: tell
          type: string
        style: form
      - description: The number of suggestions to return (between 1 and 25).
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 5
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    suggests:
                      _:
                      - name: Tell me something funny
                      - name: Tell me a food fact
                      - name: Tell me a joke
                      - name: Tell me food trivia
                      - name: Tell me a fact about food
                    words: []
              schema:
                $ref: '#/components/schemas/getConversationSuggests_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Conversation Suggests
      tags:
      - misc
      x-openapi-router-controller: openapi_server.controllers.misc_controller
  /food/customFoods/search:
    get:
      deprecated: false
      description: Search custom foods in a user's account.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Search-Custom-Foods
      operationId: search_custom_foods
      parameters:
      - description: The (natural language) search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          example: burger
          type: string
        style: form
      - description: The username.
        explode: false
        in: query
        name: username
        required: true
        schema:
          example: dsky
          type: string
        style: form
      - description: The private hash for the username.
        explode: false
        in: query
        name: hash
        required: true
        schema:
          example: 4b5v4398573406
          type: string
        style: form
      - description: The number of results to skip (between 0 and 900).
        explode: true
        in: query
        name: offset
        required: false
        schema:
          maximum: 900
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of items to return (between 1 and 100). Defaults
          to 10.
        explode: true
        in: query
        name: number
        required: false
        schema:
          default: 10
          example: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    customFoods:
                    - id: 15
                      imageUrl: https://spoonacular.com/cdn/ingredients_100x100/bratwurst.jpg
                      price: 6.9
                      servings: 1
                      title: Max Cafe Curry Bratwurst
                    number: 10
                    offset: 0
                    type: customFood
              schema:
                $ref: '#/components/schemas/searchCustomFoods_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Search Custom Foods
      tags:
      - misc
      x-openapi-router-controller: openapi_server.controllers.misc_controller
  /food/detect:
    post:
      deprecated: false
      description: "Take any text and find all mentions of food contained within it.\
        \ This task is also called Named Entity Recognition (NER). In this case, the\
        \ entities are foods. Either dishes, such as pizza or cheeseburger, or ingredients,\
        \ such as cucumber or almonds."
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Detect-Food-in-Text
      operationId: detect_food_in_text
      parameters:
      - description: The content type.
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          enum:
          - application/x-www-form-urlencoded
          - application/json
          - multipart/form-data
          example: application/json
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            examples:
              example-1:
                value: "text=I like to eat delicious tacos. The only thing better\
                  \ is a cheeseburger with cheddar. But then again, pizza with pepperoni,\
                  \ mushrooms, and tomatoes is so good too!"
            schema:
              type: string
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    annotations:
                    - annotation: cheeseburger
                      image: https://spoonacular.com/menuItemImages/cheeseburger.jpg
                      tag: dish
                    - annotation: mushrooms
                      image: https://spoonacular.com/cdn/ingredients_100x100/mushrooms.png
                      tag: ingredient
                    - annotation: pepperoni
                      image: https://spoonacular.com/cdn/ingredients_100x100/pepperoni.png
                      tag: ingredient
                    - annotation: tomatoes
                      image: https://spoonacular.com/cdn/ingredients_100x100/tomato.png
                      tag: ingredient
                    - annotation: cheddar
                      image: https://spoonacular.com/cdn/ingredients_100x100/cheddar-cheese.png
                      tag: ingredient
                    - annotation: tacos
                      image: https://spoonacular.com/menuItemImages/taco-isolated.jpg
                      tag: dish
                    - annotation: pizza
                      image: https://spoonacular.com/menuItemImages/cheese-pizza.png
                      tag: dish
              schema:
                $ref: '#/components/schemas/detectFoodInText_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Detect Food in Text
      tags:
      - misc
      x-openapi-router-controller: openapi_server.controllers.misc_controller
      x-codegen-request-body-name: body
  /food/images/analyze:
    get:
      deprecated: false
      description: "Analyze a food image. The API tries to classify the image, guess\
        \ the nutrition, and find a matching recipes."
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Image-Analysis-by-URL
      operationId: image_analysis_by_url
      parameters:
      - description: The URL of the image to be analyzed.
        explode: false
        in: query
        name: imageUrl
        required: true
        schema:
          example: https://spoonacular.com/recipeImages/635350-240x150.jpg
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    category:
                      name: burger
                      probability: 0.9998999999999999
                    nutrition:
                      calories:
                        confidenceRange95Percent:
                          max: 571.98
                          min: 428.97
                        standardDeviation: 182.4
                        unit: calories
                        value: 508
                      carbs:
                        confidenceRange95Percent:
                          max: 44.96
                          min: 29.74
                        standardDeviation: 19.42
                        unit: g
                        value: 40
                      fat:
                        confidenceRange95Percent:
                          max: 32.95
                          min: 21.29
                        standardDeviation: 14.88
                        unit: g
                        value: 21
                      protein:
                        confidenceRange95Percent:
                          max: 33.7
                          min: 22.58
                        standardDeviation: 14.19
                        unit: g
                        value: 29
                      recipesUsed: 25
                    recipes:
                    - id: 477749
                      imageType: jpg
                      title: "Burger Club: Award-Winning Logan County Burger Patty\
                        \ Melt"
                      url: http://www.barbarabakes.com/2010/05/burger-club-award-winning-logan-county/
                    - id: 493632
                      imageType: jpg
                      title: "New York Burger Week: Pretzel Burger with Beer Cheese"
                      url: http://www.foodrepublic.com/2013/09/23/new-york-burger-week-pretzel-burger-beer-cheese
                    - id: 23359
                      imageType: jpg
                      title: Beef Burger Recipe (elvis Burger With Salad & Gherkin)
                      url: http://www.jamieoliver.com/recipes/beef-recipes/elvis-burger-with-pickled-gherkin
                    - id: 149115
                      imageType: jpg
                      title: Surf N' Turf Burger (Grilled Burger with Lobster and
                        Bacon)
                      url: http://www.seriouseats.com/recipes/2013/06/lobster-bacon-burger-recipe.html
                    - id: 861442
                      imageType: jpg
                      title: Istanbul-Style Wet Burger (Islak Burger)
                      url: http://www.epicurious.com/recipes/food/views/istanbul-style-wet-burger-islak-burger?mbid=nl_02272017_Daily_CTN_PM+(1)
                    - id: 600423
                      imageType: jpg
                      title: Rajma Burger (Red Kidney Beans Burger)
                      url: http://www.spiceupthecurry.com/rajma-burger-red-kidney-beans-burger/
                    - id: 493634
                      imageType: jpg
                      title: "Chicago Burger Week: The Chicago Deep Dish Pizza Burger"
                      url: http://www.foodrepublic.com/2013/09/30/chicago-burger-week-chicago-deep-dish-pizza-burger
                    - id: 487346
                      imageType: jpg
                      title: "aloo tikki burger , north indian style aloo tikki burger"
                      url: http://www.vegrecipesofindia.com/aloo-tikki-burger/
                    - id: 607330
                      imageType: jpg
                      title: Aloo Tikki Burger | How to make aloo tikki burger at
                        home
                      url: http://www.spiceupthecurry.com/aloo-tikki-burger-recipe/
              schema:
                $ref: '#/components/schemas/imageAnalysisByURL_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Image Analysis by URL
      tags:
      - misc
      x-openapi-router-controller: openapi_server.controllers.misc_controller
  /food/images/classify:
    get:
      deprecated: false
      description: Classify a food image.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Image-Classification-by-URL
      operationId: image_classification_by_url
      parameters:
      - description: The URL of the image to be classified.
        explode: false
        in: query
        name: imageUrl
        required: true
        schema:
          example: https://spoonacular.com/recipeImages/635350-240x150.jpg
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    category: burger
                    probability: 0.91354
              schema:
                $ref: '#/components/schemas/imageClassificationByURL_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Image Classification by URL
      tags:
      - misc
      x-openapi-router-controller: openapi_server.controllers.misc_controller
  /food/ingredients/autocomplete:
    get:
      deprecated: false
      description: Autocomplete the entry of an ingredient.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Autocomplete-Ingredient-Search
      operationId: autocomplete_ingredient_search
      parameters:
      - description: The (natural language) search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          example: burger
          type: string
        style: form
      - description: The maximum number of items to return (between 1 and 100). Defaults
          to 10.
        explode: true
        in: query
        name: number
        required: false
        schema:
          default: 10
          example: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Whether to return more meta information about the ingredients.
        explode: false
        in: query
        name: metaInformation
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: A comma-separated list of intolerances. All recipes returned
          must not contain ingredients that are not suitable for people with the intolerances
          entered. See a full list of supported intolerances.
        explode: false
        in: query
        name: intolerances
        required: false
        schema:
          example: egg
          type: string
        style: form
      - description: The language of the input. Either 'en' or 'de'.
        explode: true
        in: query
        name: language
        required: false
        schema:
          enum:
          - en
          - de
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - aisle: Produce
                    id: 9003
                    image: apple.jpg
                    name: apple
                    possibleUnits:
                    - small
                    - large
                    - piece
                    - slice
                    - g
                    - extra small
                    - medium
                    - oz
                    - cup slice
                    - cup
                    - serving
                  - aisle: Canned and Jarred
                    id: 9019
                    image: applesauce.png
                    name: applesauce
                    possibleUnits:
                    - g
                    - oz
                    - cup
                    - serving
                    - tablespoon
                  - aisle: Beverages
                    id: 9016
                    image: apple-juice.jpg
                    name: apple juice
                    possibleUnits:
                    - g
                    - drink box
                    - fl oz
                    - oz
                    - teaspoon
                    - cup
                    - serving
                    - tablespoon
                  - aisle: Beverages
                    id: 1009016
                    image: apple-cider.jpg
                    name: apple cider
                    possibleUnits:
                    - g
                    - drink box
                    - fl oz
                    - oz
                    - teaspoon
                    - bottle NFS
                    - cup
                    - serving
                    - tablespoon
                  - aisle: "Nut butters, Jams, and Honey"
                    id: 10019297
                    image: apple-jelly.jpg
                    name: apple jelly
                    possibleUnits:
                    - g
                    - oz
                    - packet
                    - teaspoon
                    - cup
                    - serving
                    - tablespoon
              schema:
                description: ""
                items:
                  $ref: '#/components/schemas/autocompleteIngredientSearch_200_response_inner'
                minItems: 0
                type: array
                uniqueItems: true
                x-examples:
                  example-1:
                  - aisle: Produce
                    id: 9003
                    image: apple.jpg
                    name: apple
                    possibleUnits:
                    - small
                    - large
                    - piece
                    - slice
                    - g
                    - extra small
                    - medium
                    - oz
                    - cup slice
                    - cup
                    - serving
                  - aisle: Canned and Jarred
                    id: 9019
                    image: applesauce.png
                    name: applesauce
                    possibleUnits:
                    - g
                    - oz
                    - cup
                    - serving
                    - tablespoon
                  - aisle: Beverages
                    id: 9016
                    image: apple-juice.jpg
                    name: apple juice
                    possibleUnits:
                    - g
                    - drink box
                    - fl oz
                    - oz
                    - teaspoon
                    - cup
                    - serving
                    - tablespoon
                  - aisle: Beverages
                    id: 1009016
                    image: apple-cider.jpg
                    name: apple cider
                    possibleUnits:
                    - g
                    - drink box
                    - fl oz
                    - oz
                    - teaspoon
                    - bottle NFS
                    - cup
                    - serving
                    - tablespoon
                  - aisle: "Nut butters, Jams, and Honey"
                    id: 10019297
                    image: apple-jelly.jpg
                    name: apple jelly
                    possibleUnits:
                    - g
                    - oz
                    - packet
                    - teaspoon
                    - cup
                    - serving
                    - tablespoon
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Autocomplete Ingredient Search
      tags:
      - ingredients
      x-openapi-router-controller: openapi_server.controllers.ingredients_controller
  /food/ingredients/glycemicLoad:
    post:
      deprecated: false
      description: Retrieve the glycemic index for a list of ingredients and compute
        the individual and total glycemic load.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Compute-Glycemic-Load
      operationId: compute_glycemic_load
      parameters:
      - description: The language of the input. Either 'en' or 'de'.
        explode: true
        in: query
        name: language
        required: false
        schema:
          enum:
          - en
          - de
          example: en
          type: string
        style: form
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  ingredients:
                  - 1 kiwi
                  - 2 cups rice
                  - 2 glasses of water
            schema:
              $ref: '#/components/schemas/computeGlycemicLoad_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    ingredients:
                    - glycemicIndex: 52.67
                      glycemicLoad: 5.59
                      id: 9148
                      original: 1 kiwi
                    - glycemicIndex: 61.19
                      glycemicLoad: 178.05
                      id: 20444
                      original: 2 cups rice
                    - glycemicIndex: 0
                      glycemicLoad: 0
                      id: 14412
                      original: 2 glasses of water
                    totalGlycemicLoad: 183.64
              schema:
                $ref: '#/components/schemas/computeGlycemicLoad_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Compute Glycemic Load
      tags:
      - recipes
      x-openapi-router-controller: openapi_server.controllers.recipes_controller
      x-codegen-request-body-name: body
  /food/ingredients/map:
    post:
      deprecated: false
      description: Map a set of ingredients to products you can buy in the grocery
        store.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Map-Ingredients-to-Grocery-Products
      operationId: map_ingredients_to_grocery_products
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  ingredients:
                  - eggs
                  - bacon
                  servings: 2
            schema:
              $ref: '#/components/schemas/mapIngredientsToGroceryProducts_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - ingredientImage: egg.png
                    meta:
                    - egg
                    original: eggs
                    originalName: eggs
                    products:
                    - id: 209945
                      title: Crystal Farms Eggs - Fresh Accents Peeled Hard Cooked
                        2 ct Packs
                      upc: "075925889498"
                    - id: 214723
                      title: Organic Valley Eggs - Organic Medium Brown
                      upc: "093966811100"
                    - id: 183228
                      title: Eggland's Best Grade A Eggs Jumbo - 12 CT
                      upc: "715141328615"
                  - ingredientImage: raw-bacon.png
                    meta:
                    - bacon
                    original: bacon
                    originalName: bacon
                    products:
                    - id: 159164
                      title: Wright Bacon - Naturally Hickory Smoked
                      upc: "079621461552"
                    - id: 87924
                      title: Sugardale Bacon
                      upc: "073890006025"
                    - id: 213315
                      title: John Morrell Bacon - Applewood Smoked
                      upc: "070100060877"
                    - id: 94585
                      title: Hormel Black Label Bacon Thick Cut
                      upc: "037600153041"
              schema:
                description: ""
                items:
                  $ref: '#/components/schemas/mapIngredientsToGroceryProducts_200_response_inner'
                minItems: 0
                type: array
                uniqueItems: true
                x-examples:
                  example-1:
                  - ingredientImage: egg.png
                    meta:
                    - egg
                    original: eggs
                    originalName: eggs
                    products:
                    - id: 209945
                      title: Crystal Farms Eggs - Fresh Accents Peeled Hard Cooked
                        2 ct Packs
                      upc: "075925889498"
                    - id: 214723
                      title: Organic Valley Eggs - Organic Medium Brown
                      upc: "093966811100"
                    - id: 183228
                      title: Eggland's Best Grade A Eggs Jumbo - 12 CT
                      upc: "715141328615"
                  - ingredientImage: raw-bacon.png
                    meta:
                    - bacon
                    original: bacon
                    originalName: bacon
                    products:
                    - id: 159164
                      title: Wright Bacon - Naturally Hickory Smoked
                      upc: "079621461552"
                    - id: 87924
                      title: Sugardale Bacon
                      upc: "073890006025"
                    - id: 213315
                      title: John Morrell Bacon - Applewood Smoked
                      upc: "070100060877"
                    - id: 94585
                      title: Hormel Black Label Bacon Thick Cut
                      upc: "037600153041"
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Map Ingredients to Grocery Products
      tags:
      - ingredients
      x-openapi-router-controller: openapi_server.controllers.ingredients_controller
      x-codegen-request-body-name: body
  /food/ingredients/search:
    get:
      deprecated: false
      description: "Search for simple whole foods (e.g. fruits, vegetables, nuts,\
        \ grains, meat, fish, dairy etc.)."
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Ingredient-Search
      operationId: ingredient_search
      parameters:
      - description: The (natural language) search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          example: burger
          type: string
        style: form
      - description: Whether to add children of found foods.
        explode: false
        in: query
        name: addChildren
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: The minimum percentage of protein the food must have (between
          0 and 100).
        explode: false
        in: query
        name: minProteinPercent
        required: false
        schema:
          example: 10
          type: number
        style: form
      - description: The maximum percentage of protein the food can have (between
          0 and 100).
        explode: false
        in: query
        name: maxProteinPercent
        required: false
        schema:
          example: 90
          type: number
        style: form
      - description: The minimum percentage of fat the food must have (between 0 and
          100).
        explode: false
        in: query
        name: minFatPercent
        required: false
        schema:
          example: 10
          type: number
        style: form
      - description: The maximum percentage of fat the food can have (between 0 and
          100).
        explode: false
        in: query
        name: maxFatPercent
        required: false
        schema:
          example: 90
          type: number
        style: form
      - description: The minimum percentage of carbs the food must have (between 0
          and 100).
        explode: false
        in: query
        name: minCarbsPercent
        required: false
        schema:
          example: 10
          type: number
        style: form
      - description: The maximum percentage of carbs the food can have (between 0
          and 100).
        explode: false
        in: query
        name: maxCarbsPercent
        required: false
        schema:
          example: 90
          type: number
        style: form
      - description: Whether to return more meta information about the ingredients.
        explode: false
        in: query
        name: metaInformation
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: A comma-separated list of intolerances. All recipes returned
          must not contain ingredients that are not suitable for people with the intolerances
          entered. See a full list of supported intolerances.
        explode: false
        in: query
        name: intolerances
        required: false
        schema:
          example: egg
          type: string
        style: form
      - description: The strategy to sort recipes by. See a full list of supported
          sorting options.
        explode: false
        in: query
        name: sort
        required: false
        schema:
          example: calories
          type: string
        style: form
      - description: The direction in which to sort. Must be either 'asc' (ascending)
          or 'desc' (descending).
        explode: false
        in: query
        name: sortDirection
        required: false
        schema:
          example: asc
          type: string
        style: form
      - description: The number of results to skip (between 0 and 900).
        explode: true
        in: query
        name: offset
        required: false
        schema:
          maximum: 900
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of items to return (between 1 and 100). Defaults
          to 10.
        explode: true
        in: query
        name: number
        required: false
        schema:
          default: 10
          example: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The language of the input. Either 'en' or 'de'.
        explode: true
        in: query
        name: language
        required: false
        schema:
          enum:
          - en
          - de
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    number: 2
                    offset: 0
                    results:
                    - id: 19400
                      image: banana-chips.jpg
                      name: banana chips
                    - id: 93779
                      image: limoncello.jpg
                      name: banana liqueur
                    totalResults: 13
              schema:
                $ref: '#/components/schemas/ingredientSearch_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Ingredient Search
      tags:
      - ingredients
      x-openapi-router-controller: openapi_server.controllers.ingredients_controller
  /food/ingredients/substitutes:
    get:
      deprecated: false
      description: Search for substitutes for a given ingredient.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Get-Ingredient-Substitutes
      operationId: get_ingredient_substitutes
      parameters:
      - description: The name of the ingredient you want to replace.
        explode: false
        in: query
        name: ingredientName
        required: true
        schema:
          example: butter
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    ingredient: butter
                    message: Found 4 substitutes for the ingredient.
                    substitutes:
                    - 1 cup = 7/8 cup shortening and 1/2 tsp salt
                    - 1 cup = 7/8 cup vegetable oil + 1/2 tsp salt
                    - 1/2 cup = 1/4 cup buttermilk + 1/4 cup unsweetened applesauce
                    - 1 cup = 1 cup margarine
              schema:
                $ref: '#/components/schemas/getIngredientSubstitutes_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Ingredient Substitutes
      tags:
      - ingredients
      x-openapi-router-controller: openapi_server.controllers.ingredients_controller
  /food/ingredients/{id}/amount:
    get:
      deprecated: false
      description: "Compute the amount you need of a certain ingredient for a certain\
        \ nutritional goal. For example, how much pineapple do you have to eat to\
        \ get 10 grams of protein?"
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Compute-Ingredient-Amount
      operationId: compute_ingredient_amount
      parameters:
      - description: The id of the ingredient you want the amount for.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 9266
          type: number
        style: simple
      - description: The target nutrient. See a list of supported nutrients.
        explode: false
        in: query
        name: nutrient
        required: true
        schema:
          example: protein
          type: string
        style: form
      - description: The target number of the given nutrient.
        explode: false
        in: query
        name: target
        required: true
        schema:
          example: 2
          type: number
        style: form
      - description: The target unit.
        explode: false
        in: query
        name: unit
        required: false
        schema:
          example: oz
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    amount: 65.32
                    unit: oz
              schema:
                $ref: '#/components/schemas/computeIngredientAmount_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Compute Ingredient Amount
      tags:
      - ingredients
      x-openapi-router-controller: openapi_server.controllers.ingredients_controller
  /food/ingredients/{id}/information:
    get:
      deprecated: false
      description: "Use an ingredient id to get all available information about an\
        \ ingredient, such as its image and supermarket aisle."
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Get-Ingredient-Information
      operationId: get_ingredient_information
      parameters:
      - description: The item's id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: The amount of this ingredient.
        explode: false
        in: query
        name: amount
        required: false
        schema:
          example: 150
          type: number
        style: form
      - description: The unit for the given amount.
        explode: false
        in: query
        name: unit
        required: false
        schema:
          example: grams
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    aisle: Produce
                    amount: 1
                    categoryPath:
                    - tropical fruit
                    - fruit
                    consistency: solid
                    estimatedCost:
                      unit: US Cents
                      value: 299
                    id: 9266
                    image: pineapple.jpg
                    meta: []
                    name: pineapples
                    nameClean: pineapple
                    nutrition:
                      caloricBreakdown:
                        percentCarbs: 94.18
                        percentFat: 1.94
                        percentProtein: 3.88
                      nutrients:
                      - amount: 452.5
                        name: Calories
                        percentOfDailyNeeds: 22.63
                        unit: cal
                      - amount: 1.09
                        name: Fat
                        percentOfDailyNeeds: 1.67
                        unit: g
                      - amount: 0.08
                        name: Saturated Fat
                        percentOfDailyNeeds: 0.51
                        unit: g
                      - amount: 118.74
                        name: Carbohydrates
                        percentOfDailyNeeds: 39.58
                        unit: g
                      - amount: 106.07
                        name: Net Carbohydrates
                        percentOfDailyNeeds: 38.57
                        unit: g
                      - amount: 89.14
                        name: Sugar
                        percentOfDailyNeeds: 99.05
                        unit: g
                      - amount: 0
                        name: Cholesterol
                        percentOfDailyNeeds: 0
                        unit: mg
                      - amount: 9.05
                        name: Sodium
                        percentOfDailyNeeds: 0.39
                        unit: mg
                      - amount: 4.89
                        name: Protein
                        percentOfDailyNeeds: 9.77
                        unit: g
                      - amount: 432.59
                        name: Vitamin C
                        percentOfDailyNeeds: 524.35
                        unit: mg
                      - amount: 8.39
                        name: Manganese
                        percentOfDailyNeeds: 419.47
                        unit: mg
                      - amount: 12.67
                        name: Fiber
                        percentOfDailyNeeds: 50.68
                        unit: g
                      - amount: 1.01
                        name: Vitamin B6
                        percentOfDailyNeeds: 50.68
                        unit: mg
                      - amount: 1
                        name: Copper
                        percentOfDailyNeeds: 49.78
                        unit: mg
                      - amount: 0.72
                        name: Vitamin B1
                        percentOfDailyNeeds: 47.66
                        unit: mg
                      - amount: 162.9
                        name: Folate
                        percentOfDailyNeeds: 40.73
                        unit: µg
                      - amount: 986.45
                        name: Potassium
                        percentOfDailyNeeds: 28.18
                        unit: mg
                      - amount: 108.6
                        name: Magnesium
                        percentOfDailyNeeds: 27.15
                        unit: mg
                      - amount: 4.53
                        name: Vitamin B3
                        percentOfDailyNeeds: 22.63
                        unit: mg
                      - amount: 1.93
                        name: Vitamin B5
                        percentOfDailyNeeds: 19.28
                        unit: mg
                      - amount: 0.29
                        name: Vitamin B2
                        percentOfDailyNeeds: 17.04
                        unit: mg
                      - amount: 2.62
                        name: Iron
                        percentOfDailyNeeds: 14.58
                        unit: mg
                      - amount: 117.65
                        name: Calcium
                        percentOfDailyNeeds: 11.77
                        unit: mg
                      - amount: 524.9
                        name: Vitamin A
                        percentOfDailyNeeds: 10.5
                        unit: IU
                      - amount: 1.09
                        name: Zinc
                        percentOfDailyNeeds: 7.24
                        unit: mg
                      - amount: 72.4
                        name: Phosphorus
                        percentOfDailyNeeds: 7.24
                        unit: mg
                      - amount: 6.34
                        name: Vitamin K
                        percentOfDailyNeeds: 6.03
                        unit: µg
                      - amount: 0.91
                        name: Selenium
                        percentOfDailyNeeds: 1.29
                        unit: µg
                      - amount: 0.18
                        name: Vitamin E
                        percentOfDailyNeeds: 1.21
                        unit: mg
                      properties:
                      - amount: 58.67
                        name: Glycemic Index
                        unit: ""
                      - amount: 62.23
                        name: Glycemic Load
                        unit: ""
                      weightPerServing:
                        amount: 905
                        unit: g
                    original: pineapples
                    originalName: pineapples
                    possibleUnits:
                    - piece
                    - slice
                    - fruit
                    - g
                    - oz
                    - cup
                    - serving
                    shoppingListUnits:
                    - pieces
                    unit: ""
                    unitLong: ""
                    unitShort: ""
              schema:
                $ref: '#/components/schemas/getIngredientInformation_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Ingredient Information
      tags:
      - ingredients
      x-openapi-router-controller: openapi_server.controllers.ingredients_controller
  /food/ingredients/{id}/substitutes:
    get:
      deprecated: false
      description: Search for substitutes for a given ingredient.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Get-Ingredient-Substitutes-by-ID
      operationId: get_ingredient_substitutes_by_id
      parameters:
      - description: The item's id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    ingredient: butter
                    message: Found 4 substitutes for the ingredient.
                    substitutes:
                    - 1 cup = 7/8 cup shortening and 1/2 tsp salt
                    - 1 cup = 7/8 cup vegetable oil + 1/2 tsp salt
                    - 1/2 cup = 1/4 cup buttermilk + 1/4 cup unsweetened applesauce
                    - 1 cup = 1 cup margarine
              schema:
                $ref: '#/components/schemas/getIngredientSubstitutes_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Ingredient Substitutes by ID
      tags:
      - ingredients
      x-openapi-router-controller: openapi_server.controllers.ingredients_controller
  /food/jokes/random:
    get:
      deprecated: false
      description: "Get a random joke that is related to food. Caution: this is an\
        \ endpoint for adults!"
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Random-Food-Joke
      operationId: get_a_random_food_joke
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    text: Any salad can be a Caesar salad if you stab it enough.
              schema:
                $ref: '#/components/schemas/getARandomFoodJoke_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Random Food Joke
      tags:
      - misc
      x-openapi-router-controller: openapi_server.controllers.misc_controller
  /food/menuItems/search:
    get:
      deprecated: false
      description: "Search over 115,000 menu items from over 800 fast food and chain\
        \ restaurants. For example, McDonald's Big Mac or Starbucks Mocha."
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Search-Menu-Items
      operationId: search_menu_items
      parameters:
      - description: The (natural language) search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          example: burger
          type: string
        style: form
      - description: The minimum amount of calories the menu item must have.
        explode: false
        in: query
        name: minCalories
        required: false
        schema:
          example: 50
          type: number
        style: form
      - description: The maximum amount of calories the menu item can have.
        explode: false
        in: query
        name: maxCalories
        required: false
        schema:
          example: 800
          type: number
        style: form
      - description: The minimum amount of carbohydrates in grams the menu item must
          have.
        explode: false
        in: query
        name: minCarbs
        required: false
        schema:
          example: 10
          type: number
        style: form
      - description: The maximum amount of carbohydrates in grams the menu item can
          have.
        explode: false
        in: query
        name: maxCarbs
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of protein in grams the menu item must have.
        explode: false
        in: query
        name: minProtein
        required: false
        schema:
          example: 10
          type: number
        style: form
      - description: The maximum amount of protein in grams the menu item can have.
        explode: false
        in: query
        name: maxProtein
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of fat in grams the menu item must have.
        explode: false
        in: query
        name: minFat
        required: false
        schema:
          example: 1
          type: number
        style: form
      - description: The maximum amount of fat in grams the menu item can have.
        explode: false
        in: query
        name: maxFat
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: "If set to true, you get more information about the menu items\
          \ returned."
        explode: true
        in: query
        name: addMenuItemInformation
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: The number of results to skip (between 0 and 900).
        explode: true
        in: query
        name: offset
        required: false
        schema:
          maximum: 900
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of items to return (between 1 and 100). Defaults
          to 10.
        explode: true
        in: query
        name: number
        required: false
        schema:
          default: 10
          example: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    menuItems:
                    - id: 419357
                      image: https://images.spoonacular.com/file/wximages/419357-312x231.png
                      imageType: png
                      restaurantChain: Hooters
                      servings:
                        number: 1
                        size: 2
                        unit: oz
                      title: Burger Sliders
                    - id: 424571
                      image: https://images.spoonacular.com/file/wximages/424571-312x231.png
                      imageType: png
                      restaurantChain: Burger King
                      servings:
                        number: 1
                        size: 2
                        unit: oz
                      title: Bacon King Burger
                    number: 2
                    offset: 0
                    totalMenuItems: 6749
                    type: menuItem
              schema:
                $ref: '#/components/schemas/searchMenuItems_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Search Menu Items
      tags:
      - menu items
      x-openapi-router-controller: openapi_server.controllers.menu_items_controller
  /food/menuItems/suggest:
    get:
      deprecated: false
      description: Generate suggestions for menu items based on a (partial) query.
        The matches will be found by looking in the title only.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Autocomplete-Menu-Item-Search
      operationId: autocomplete_menu_item_search
      parameters:
      - description: The (partial) search query.
        explode: false
        in: query
        name: query
        required: true
        schema:
          example: chicke
          type: string
        style: form
      - description: The number of results to return (between 1 and 25).
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 10
          maximum: 25
          minimum: 1
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    results:
                    - id: 253419
                      title: pei wei asian diner thai chicken lettuce wraps
                    - id: 380722
                      title: camille's chicken caesar salad includes 2 oz. caesar
                        dressing
              schema:
                $ref: '#/components/schemas/autocompleteMenuItemSearch_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Autocomplete Menu Item Search
      tags:
      - menu items
      x-openapi-router-controller: openapi_server.controllers.menu_items_controller
  /food/menuItems/{id}:
    get:
      deprecated: false
      description: "Use a menu item id to get all available information about a menu\
        \ item, such as nutrition."
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Get-Menu-Item-Information
      operationId: get_menu_item_information
      parameters:
      - description: The item's id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    badges: []
                    breadcrumbs:
                    - burger
                    - main course
                    - food product category
                    generatedText: ""
                    id: 424571
                    imageType: png
                    likes: 0
                    nutrition:
                      caloricBreakdown:
                        percentCarbs: 35
                        percentFat: 30
                        percentProtein: 35
                      nutrients:
                      - amount: 69
                        name: Fat
                        percentOfDailyNeeds: 30
                        unit: g
                      - amount: 57
                        name: Protein
                        percentOfDailyNeeds: 35
                        unit: g
                      - amount: 1040
                        name: Calories
                        percentOfDailyNeeds: 50
                        unit: cal
                      - amount: 48
                        name: Carbohydrates
                        percentOfDailyNeeds: 35
                        unit: g
                    price: 2.35
                    restaurantChain: Burger King
                    servings:
                      number: 1
                      size: 2
                      unit: oz
                    spoonacularScore: 12.5
                    title: Bacon King Burger
              schema:
                $ref: '#/components/schemas/getMenuItemInformation_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Menu Item Information
      tags:
      - menu items
      x-openapi-router-controller: openapi_server.controllers.menu_items_controller
  /food/menuItems/{id}/nutritionLabel:
    get:
      deprecated: false
      description: Visualize a menu item's nutritional label information as HTML including
        CSS.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Menu-Item-Nutrition-Label-Widget
      operationId: menu_item_nutrition_label_widget
      parameters:
      - description: The menu item id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 342313
          type: number
        style: simple
      - description: Whether the default CSS should be added to the response.
        explode: true
        in: query
        name: defaultCss
        required: false
        schema:
          default: true
          example: false
          type: boolean
        style: form
      - description: Whether to show optional nutrients.
        explode: false
        in: query
        name: showOptionalNutrients
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Whether to show zero values.
        explode: false
        in: query
        name: showZeroValues
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Whether to show a list of ingredients.
        explode: false
        in: query
        name: showIngredients
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Menu Item Nutrition Label Widget
      tags:
      - menu items
      x-openapi-router-controller: openapi_server.controllers.menu_items_controller
  /food/menuItems/{id}/nutritionLabel.png:
    get:
      deprecated: false
      description: Visualize a menu item's nutritional label information as an image.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Menu-Item-Nutrition-Label-Image
      operationId: menu_item_nutrition_label_image
      parameters:
      - description: The menu item id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 342313
          type: number
        style: simple
      - description: Whether to show optional nutrients.
        explode: false
        in: query
        name: showOptionalNutrients
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Whether to show zero values.
        explode: false
        in: query
        name: showZeroValues
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Whether to show a list of ingredients.
        explode: false
        in: query
        name: showIngredients
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            image/png:
              schema:
                type: object
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Menu Item Nutrition Label Image
      tags:
      - menu items
      x-openapi-router-controller: openapi_server.controllers.menu_items_controller
  /food/menuItems/{id}/nutritionWidget:
    get:
      deprecated: false
      description: Visualize a menu item's nutritional information as HTML including
        CSS.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Menu-Item-Nutrition-by-ID-Widget
      operationId: visualize_menu_item_nutrition_by_id
      parameters:
      - description: The item's id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: Whether the default CSS should be added to the response.
        explode: true
        in: query
        name: defaultCss
        required: false
        schema:
          default: true
          example: false
          type: boolean
        style: form
      - description: Accept header.
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          enum:
          - application/json
          - text/html
          - media/*
          example: application/json
          type: string
        style: simple
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Menu Item Nutrition by ID Widget
      tags:
      - menu items
      x-openapi-router-controller: openapi_server.controllers.menu_items_controller
  /food/menuItems/{id}/nutritionWidget.png:
    get:
      deprecated: false
      description: Visualize a menu item's nutritional information as HTML including
        CSS.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Menu-Item-Nutrition-by-ID-Image
      operationId: menu_item_nutrition_by_id_image
      parameters:
      - description: The menu item id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 424571
          type: number
        style: simple
      responses:
        "200":
          content:
            image/png:
              schema:
                type: object
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Menu Item Nutrition by ID Image
      tags:
      - menu items
      x-openapi-router-controller: openapi_server.controllers.menu_items_controller
  /food/products/classify:
    post:
      deprecated: false
      description: "This endpoint allows you to match a packaged food to a basic category,\
        \ e.g. a specific brand of milk to the category milk."
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Classify-Grocery-Product
      operationId: classify_grocery_product
      parameters:
      - description: "The display name of the returned category, supported is en_US\
          \ (for American English) and en_GB (for British English)."
        explode: false
        in: query
        name: locale
        required: false
        schema:
          enum:
          - en_US
          - en_GB
          example: en_US
          type: string
        style: form
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  plu_code: ""
                  title: Kroger Vitamin A & D Reduced Fat 2% Milk
                  upc: ""
            schema:
              $ref: '#/components/schemas/classifyGroceryProduct_request'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    breadcrumbs:
                    - 2 percent milk
                    - milk
                    - drink
                    - ingredient
                    category: 2 percent milk
                    cleanTitle: Kroger Vitamin A & D Reduced Fat 2% Milk
                    image: https://spoonacular.com/cdn/ingredients_100x100/milk.png
                    usdaCode: 1174
              schema:
                $ref: '#/components/schemas/classifyGroceryProduct_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Classify Grocery Product
      tags:
      - products
      x-openapi-router-controller: openapi_server.controllers.products_controller
      x-codegen-request-body-name: body
  /food/products/classifyBatch:
    post:
      deprecated: false
      description: "Provide a set of product jsons, get back classified products."
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Classify-Grocery-Product-Bulk
      operationId: classify_grocery_product_bulk
      parameters:
      - description: "The display name of the returned category, supported is en_US\
          \ (for American English) and en_GB (for British English)."
        explode: false
        in: query
        name: locale
        required: false
        schema:
          example: en_US
          type: string
        style: form
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                - plu_code: ""
                  title: Kroger Vitamin A & D Reduced Fat 2% Milk
                  upc: ""
            schema:
              description: ""
              items:
                $ref: '#/components/schemas/classifyGroceryProductBulk_request_inner'
              minItems: 0
              type: array
              uniqueItems: true
              x-examples:
                example-1:
                - plu_code: ""
                  title: Kroger Vitamin A & D Reduced Fat 2% Milk
                  upc: ""
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                  - breadcrumbs:
                    - 2 percent milk
                    - milk
                    - drink
                    - ingredient
                    category: 2 percent milk
                    cleanTitle: Kroger Vitamin A & D Reduced Fat 2% Milk
                    image: https://spoonacular.com/cdn/ingredients_100x100/milk.png
                    usdaCode: 1174
              schema:
                description: ""
                items:
                  $ref: '#/components/schemas/classifyGroceryProductBulk_200_response_inner'
                minItems: 0
                type: array
                uniqueItems: true
                x-examples:
                  example-1:
                  - breadcrumbs:
                    - 2 percent milk
                    - milk
                    - drink
                    - ingredient
                    category: 2 percent milk
                    cleanTitle: Kroger Vitamin A & D Reduced Fat 2% Milk
                    image: https://spoonacular.com/cdn/ingredients_100x100/milk.png
                    usdaCode: 1174
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Classify Grocery Product Bulk
      tags:
      - products
      x-openapi-router-controller: openapi_server.controllers.products_controller
      x-codegen-request-body-name: body
  /food/products/search:
    get:
      deprecated: false
      description: "Search packaged food products, such as frozen pizza or Greek yogurt."
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Search-Grocery-Products
      operationId: search_grocery_products
      parameters:
      - description: The (natural language) search query.
        explode: true
        in: query
        name: query
        required: false
        schema:
          example: burger
          type: string
        style: form
      - description: The minimum amount of calories the product must have.
        explode: false
        in: query
        name: minCalories
        required: false
        schema:
          example: 50
          type: number
        style: form
      - description: The maximum amount of calories the product can have.
        explode: false
        in: query
        name: maxCalories
        required: false
        schema:
          example: 800
          type: number
        style: form
      - description: The minimum amount of carbohydrates in grams the product must
          have.
        explode: false
        in: query
        name: minCarbs
        required: false
        schema:
          example: 10
          type: number
        style: form
      - description: The maximum amount of carbohydrates in grams the product can
          have.
        explode: false
        in: query
        name: maxCarbs
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of protein in grams the product must have.
        explode: false
        in: query
        name: minProtein
        required: false
        schema:
          example: 10
          type: number
        style: form
      - description: The maximum amount of protein in grams the product can have.
        explode: false
        in: query
        name: maxProtein
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: The minimum amount of fat in grams the product must have.
        explode: false
        in: query
        name: minFat
        required: false
        schema:
          example: 1
          type: number
        style: form
      - description: The maximum amount of fat in grams the product can have.
        explode: false
        in: query
        name: maxFat
        required: false
        schema:
          example: 100
          type: number
        style: form
      - description: "If set to true, you get more information about the products\
          \ returned."
        explode: true
        in: query
        name: addProductInformation
        required: false
        schema:
          example: true
          type: boolean
        style: form
      - description: The number of results to skip (between 0 and 900).
        explode: true
        in: query
        name: offset
        required: false
        schema:
          maximum: 900
          minimum: 0
          type: integer
        style: form
      - description: The maximum number of items to return (between 1 and 100). Defaults
          to 10.
        explode: true
        in: query
        name: number
        required: false
        schema:
          default: 10
          example: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    number: 2
                    offset: 0
                    products:
                    - id: 192386
                      imageType: jpg
                      title: "Pizza Buddy: Frozen Pizza Dough, 16 Oz"
                    - id: 27693
                      imageType: jpg
                      title: Uno Pizza
                    totalProducts: 1258
                    type: product
              schema:
                $ref: '#/components/schemas/searchGroceryProducts_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Search Grocery Products
      tags:
      - products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /food/products/suggest:
    get:
      deprecated: false
      description: Generate suggestions for grocery products based on a (partial)
        query. The matches will be found by looking in the title only.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Autocomplete-Product-Search
      operationId: autocomplete_product_search
      parameters:
      - description: The (partial) search query.
        explode: false
        in: query
        name: query
        required: true
        schema:
          example: chicke
          type: string
        style: form
      - description: The number of results to return (between 1 and 25).
        explode: false
        in: query
        name: number
        required: false
        schema:
          example: 10
          maximum: 25
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    results:
                    - id: 208698
                      title: buddig premium deli chicken breast - rotisserie flavored
                    - id: 41291
                      title: tyson all natural chicken breasts tenderloins
              schema:
                $ref: '#/components/schemas/autocompleteProductSearch_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Autocomplete Product Search
      tags:
      - products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /food/products/upc/{upc}:
    get:
      deprecated: false
      description: Get information about a packaged food using its UPC.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Search-Grocery-Products-by-UPC
      operationId: search_grocery_products_by_upc
      parameters:
      - description: The product's UPC.
        explode: false
        in: path
        name: upc
        required: true
        schema:
          example: 41631000564
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    badges:
                    - egg_free
                    - wheat_free
                    - grain_free
                    - peanut_free
                    - primal
                    - vegetarian
                    - nut_free
                    - vegan
                    - pescetarian
                    - dairy_free
                    - paleo
                    - gluten_free
                    breadcrumbs:
                    - flour
                    generatedText: "Swan Flour: This product is an awesome fit if\
                      \ you are searching for a healthy flour. This product has 1\
                      \ ingredient (in our experience: the fewer ingredients, the\
                      \ better!) This product contains no ingredients that some research\
                      \ suggests you should avoid. One serving of this product provides\
                      \ 30 calories, 0g grams of fat, 0g grams of protein, and 8g\
                      \ grams of carbs."
                    id: 30004
                    imageType: jpg
                    importantBadges:
                    - gluten_free
                    - paleo
                    - primal
                    - wheat_free
                    - grain_free
                    ingredientCount: 1
                    ingredientList: Potato Starch
                    ingredients:
                    - description: null
                      name: ""
                      safety_level: null
                    - description: null
                      name: starch
                      safety_level: null
                    - description: null
                      name: potato starch
                      safety_level: null
                    likes: 0
                    nutrition:
                      caloricBreakdown:
                        percentCarbs: 57.78
                        percentFat: 20
                        percentProtein: 22.22
                      nutrients:
                      - amount: 0
                        name: Fat
                        percentOfDailyNeeds: 0
                        unit: g
                      - amount: 0
                        name: Protein
                        percentOfDailyNeeds: 0
                        unit: g
                      - amount: 30
                        name: Calories
                        percentOfDailyNeeds: 10
                        unit: cal
                      - amount: 8
                        name: Carbohydrates
                        percentOfDailyNeeds: 9.45
                        unit: g
                    price: 0
                    servings:
                      number: 34
                      size: 1
                      unit: tbsp
                    spoonacularScore: 99
                    title: Swan Flour
              schema:
                $ref: '#/components/schemas/searchGroceryProductsByUPC_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Search Grocery Products by UPC
      tags:
      - products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /food/products/upc/{upc}/comparable:
    get:
      deprecated: false
      description: Find comparable products to the given one.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Get-Comparable-Products
      operationId: get_comparable_products
      parameters:
      - description: The UPC of the product for which you want to find comparable
          products.
        explode: false
        in: path
        name: upc
        required: true
        schema:
          example: 33698816271
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    comparableProducts:
                      calories: []
                      likes: []
                      price: []
                      protein:
                      - difference: 3
                        id: 11797
                        image: https://webknox.com/productImages/11797.jpg
                        title: Casa Visco Capers
                      - difference: 1
                        id: 90962
                        image: https://webknox.com/productImages/90962.jpg
                        title: Colavita Capers
                      - difference: 1
                        id: 88139
                        image: https://webknox.com/productImages/88139.jpg
                        title: Mezzetta Capers
                      - difference: 1
                        id: 152832
                        image: https://webknox.com/productImages/152832.jpg
                        title: Victoria Imported Capers
                      spoonacularScore:
                      - difference: 7
                        id: 125354
                        image: https://webknox.com/productImages/125354.jpg
                        title: DeLallo Capers
                      - difference: 7
                        id: 118361
                        image: https://webknox.com/productImages/118361.jpg
                        title: Haddon House Non Pareil Capers
                      - difference: 7
                        id: 113686
                        image: https://webknox.com/productImages/113686.jpg
                        title: Dell Alpe Capers
                      - difference: 7
                        id: 112078
                        image: https://webknox.com/productImages/112078.jpg
                        title: Paesana Imported Capers
                      sugar: []
              schema:
                $ref: '#/components/schemas/getComparableProducts_200_response'
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Comparable Products
      tags:
      - products
      x-openapi-router-controller: openapi_server.controllers.products_controller
  /food/products/{id}:
    get:
      deprecated: false
      description: "Use a product id to get full information about a product, such\
        \ as ingredients, nutrition, etc. The nutritional information is per serving."
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Get-Product-Information
      operationId: get_product_information
      parameters:
      - description: The item's id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    aisle: Sweet Snacks
                    badges:
                    - msg_free
                    - no_artificial_colors
                    - no_artificial_flavors
                    - no_artificial_ingredients
                    - gluten_free
                    breadcrumbs:
                    - bars
                    generatedText: null
                    id: 22347
                    imageType: jpg
                    importantBadges:
                    - no_artificial_flavors
                    - no_artificial_colors
                    - no_artificial_ingredients
                    - gluten_free
                    - msg_free
                    ingredientCount: 32
                    ingredientList: "Snickers Brand Almond Bar: Milk Chocolate (Sugar,\
                      \ Cocoa Butter, Chocolate, Skim Milk, Lactose, Milkfat, Soy\
                      \ Lecithin, Artificial Flavor), Corn Syrup, Almonds, Sugar,\
                      \ Milkfat, Skim Milk, Less than 2% - Lactose, Salt, Hydrogenated\
                      \ Palm Kernel Oil and/or Palm Oil, Egg Whites, Chocolate, Artificial\
                      \ Flavor. Snickers Brand: Milk Chocolate (Sugar, Cocoa Butter,\
                      \ Chocolate, Skim Milk, Lactose, Milkfat, Soy Lecithin, Artificial\
                      \ Flavor), Peanuts, Corn Syrup, Sugar, Milkfat, Skim Milk, Partially\
                      \ Hydrogenated Soybean Oil, Lactose, Salt, Egg Whites, Chocolate,\
                      \ Artificial Flavor. Snickers Brand Peanut Butter Squared Bars:\
                      \ Milk Chocolate (Sugar, Cocoa Butter, Chocolate, Skim Milk,\
                      \ Lactose, Milkfat, Soy Lecithin, Artificial Flavor), Peanut\
                      \ Butter (Peanuts, Partially Hydrogenated Soybean Oil), Peanuts,\
                      \ Sugar, Corn Syrup, Vegetable Oil (Hydrogenated Palm Kernel\
                      \ Oil, Palm Oil, Rapeseed Oil and Cottonseed Oil and/or Partially\
                      \ Hydrogenated Palm Kernel Oil), Lactose, Corn Syrup Solids,\
                      \ Invert Sugar, Less than 2% - Glycerin, Dextrose, Skim Milk,\
                      \ Salt, Calcium Carbonate, Partially Hydrogenated Soybean Oil,\
                      \ Egg Whites, Artificial Flavor, TBHQ to Maintain Freshness"
                    ingredients:
                    - description: null
                      name: emulsifier
                      safety_level: null
                    - description: null
                      name: added sugar
                      safety_level: null
                    - description: null
                      name: sweetener
                      safety_level: null
                    - description: null
                      name: cooking fat
                      safety_level: null
                    - description: null
                      name: cooking oil
                      safety_level: null
                    - description: null
                      name: lecithin
                      safety_level: null
                    - description: null
                      name: yeast
                      safety_level: null
                    - description: null
                      name: menu item type
                      safety_level: null
                    - description: null
                      name: nuts
                      safety_level: null
                    - description: null
                      name: partially hydrogenated vegetable oil
                      safety_level: low
                    - description: "Unlike partially hydrogenated oils, fully hydrogenated\
                        \ oils do not contain trans fat and thus are currently considered\
                        \ safer."
                      name: hydrogenated vegetable oil
                      safety_level: high
                    - description: null
                      name: calcium
                      safety_level: null
                    - description: null
                      name: nut butter
                      safety_level: null
                    - description: null
                      name: legumes
                      safety_level: null
                    - description: null
                      name: refined sweetener
                      safety_level: null
                    - description: null
                      name: non food item
                      safety_level: null
                    - description: null
                      name: tree nuts
                      safety_level: null
                    - description: null
                      name: chocolate
                      safety_level: null
                    - description: null
                      name: sugar
                      safety_level: null
                    - description: null
                      name: snack
                      safety_level: null
                    - description: null
                      name: corn syrup
                      safety_level: null
                    - description: null
                      name: drink
                      safety_level: null
                    - description: null
                      name: milk
                      safety_level: null
                    - description: null
                      name: spread
                      safety_level: null
                    - description: null
                      name: vegetable oil
                      safety_level: null
                    - description: null
                      name: yeast nutrient
                      safety_level: null
                    - description: null
                      name: palm kernel oil
                      safety_level: null
                    - description: null
                      name: artificial ingredient
                      safety_level: null
                    - description: null
                      name: stabilizer
                      safety_level: null
                    - description: null
                      name: additive
                      safety_level: null
                    - description: null
                      name: nutrient
                      safety_level: null
                    - description: null
                      name: soybean oil
                      safety_level: null
                    - description: null
                      name: supplement
                      safety_level: null
                    - description: null
                      name: mineral
                      safety_level: null
                    - description: null
                      name: artificial flavor
                      safety_level: medium
                    - description: null
                      name: skim milk
                      safety_level: null
                    - description: null
                      name: peanuts
                      safety_level: null
                    - description: null
                      name: corn syrup solids
                      safety_level: medium
                    - description: "Unlike partially hydrogenated oils, fully hydrogenated\
                        \ oils do not contain trans fat and thus are currently considered\
                        \ safer."
                      name: hydrogenated palm kernel oil
                      safety_level: high
                    - description: null
                      name: cottonseed oil
                      safety_level: null
                    - description: null
                      name: milkfat
                      safety_level: high
                    - description: null
                      name: lactose
                      safety_level: null
                    - description: null
                      name: corn syrup
                      safety_level: null
                    - description: null
                      name: cocoa butter
                      safety_level: high
                    - description: null
                      name: tbhq to maintain freshness
                      safety_level: null
                    - description: null
                      name: peanut butter
                      safety_level: null
                    - description: null
                      name: egg whites
                      safety_level: null
                    - description: null
                      name: sugar
                      safety_level: null
                    - description: null
                      name: milk chocolate
                      safety_level: null
                    - description: null
                      name: palm oil
                      safety_level: null
                    - description: null
                      name: artificial flavor
                      safety_level: null
                    - description: null
                      name: salt
                      safety_level: null
                    - description: null
                      name: almonds
                      safety_level: null
                    - description: null
                      name: skim milk less than 2% - lactose
                      safety_level: null
                    - description: null
                      name: vegetable oil
                      safety_level: null
                    - description: null
                      name: less than 2% - glycerin
                      safety_level: null
                    - description: null
                      name: dextrose
                      safety_level: high
                    - description: Soy lecithin is not a concern for most people allergic
                        to soy.
                      name: soy lecithin
                      safety_level: high
                    - description: null
                      name: invert sugar
                      safety_level: high
                    - description: null
                      name: chocolate
                      safety_level: null
                    - description: null
                      name: rapeseed oil
                      safety_level: null
                    - description: null
                      name: partially hydrogenated soybean oil
                      safety_level: low
                    - description: null
                      name: calcium carbonate
                      safety_level: high
                    - description: null
                      name: partially hydrogenated palm kernel oil
                      safety_level: low
                    - description: null
                      name: artificial flavor.snickers brand
                      safety_level: null
                    - description: null
                      name: snickers brand almond bar
                      safety_level: null
                    likes: 0
                    nutrition:
                      caloricBreakdown:
                        percentCarbs: 57.78
                        percentFat: 20
                        percentProtein: 22.22
                      nutrients:
                      - amount: 4
                        name: Fat
                        percentOfDailyNeeds: 6.15
                        unit: g
                      - amount: 10
                        name: Protein
                        percentOfDailyNeeds: 20
                        unit: g
                      - amount: 200
                        name: Calories
                        percentOfDailyNeeds: 10
                        unit: cal
                      - amount: 26
                        name: Carbohydrates
                        percentOfDailyNeeds: 9.45
                        unit: g
                    price: 324
                    servings:
                      number: 8
                      size: 4
                      unit: pieces
[...]
