openapi: 3.0.1
info:
  description: "Azure Blueprints Client provides access to blueprint definitions,\
    \ assignments, and artifacts, and related blueprint operations."
  title: BlueprintClient
  version: 2018-11-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/blueprint/resource-manager/Microsoft.Blueprint/preview/2018-11-01-preview/blueprintAssignment.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: blueprint-blueprintAssignment
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /{scope}/providers/Microsoft.Blueprint/blueprintAssignments:
    get:
      description: List blueprint assignments within a subscription.
      operationId: Assignments_List
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentList'
          description: OK -- all blueprint assignments retrieved.
      tags:
      - Assignment
      x-ms-examples:
        Assignment:
          parameters:
            api-version: 2017-11-11-preview
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/assignSimpleBlueprint
                  identity:
                    principalId: 00000000-0000-0000-0000-000000000000
                    tenantId: 00000000-0000-0000-0000-000000000000
                    type: SystemAssigned
                  location: eastus
                  name: assignSimpleBlueprint
                  properties:
                    blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                    description: enforce pre-defined simpleBlueprint to this XXXXXXXX
                      subscription.
                    parameters:
                      costCenter:
                        value: Contoso/Online/Shopping/Production
                      owners:
                        value:
                        - johnDoe@contoso.com
                        - johnsteam@contoso.com
                      storageAccountType:
                        value: Standard_LRS
                    provisioningState: failed
                    resourceGroups:
                      storageRG:
                        location: eastus
                        name: defaultRG
                  type: Microsoft.Blueprint/Assignment
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}:
    delete:
      description: Delete a blueprint assignment.
      operationId: Assignments_Delete
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint assignment.
        in: path
        name: assignmentName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: OK -- blueprint assignment deleted.
        "204":
          content: {}
          description: No Content
      tags:
      - Assignment
      x-ms-examples:
        Assignment_Delete:
          parameters:
            api-version: 2017-11-11-preview
            assignmentName: assignSimpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "202":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/assignSimpleBlueprint
                identity:
                  principalId: 00000000-0000-0000-0000-000000000000
                  tenantId: 00000000-0000-0000-0000-000000000000
                  type: SystemAssigned
                location: eastus
                name: assignSimpleBlueprint
                properties:
                  blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                  description: enforce pre-defined simpleBlueprint to this XXXXXXXX
                    subscription.
                  parameters:
                    costCenter:
                      value: Contoso/Online/Shopping/Production
                    owners:
                      value:
                      - johnDoe@contoso.com
                      - johnsteam@contoso.com
                    storageAccountType:
                      value: Standard_LRS
                  provisioningState: deleting
                  resourceGroups:
                    storageRG:
                      location: eastus
                      name: defaultRG
                type: Microsoft.Blueprint/Assignment
            "204": {}
      x-accepts:
      - application/json
    get:
      description: Get a blueprint assignment.
      operationId: Assignments_Get
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint assignment.
        in: path
        name: assignmentName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: OK -- blueprint assignment retrieved.
      tags:
      - Assignment
      x-ms-examples:
        Assignment:
          parameters:
            api-version: 2017-11-11-preview
            assignmentName: assignSimpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/assignSimpleBlueprint
                identity:
                  principalId: 00000000-0000-0000-0000-000000000000
                  tenantId: 00000000-0000-0000-0000-000000000000
                  type: SystemAssigned
                location: eastus
                name: assignSimpleBlueprint
                properties:
                  blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                  description: enforce pre-defined simpleBlueprint to this XXXXXXXX
                    subscription.
                  parameters:
                    costCenter:
                      value: Contoso/Online/Shopping/Production
                    owners:
                      value:
                      - johnDoe@contoso.com
                      - johnsteam@contoso.com
                    storageAccountType:
                      value: Standard_LRS
                  provisioningState: succeed
                  resourceGroups:
                    storageRG:
                      location: eastus
                      name: defaultRG
                type: Microsoft.Blueprint/Assignment
      x-accepts:
      - application/json
    put:
      description: Create or update a blueprint assignment.
      operationId: Assignments_CreateOrUpdate
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint assignment.
        in: path
        name: assignmentName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Assignment'
        description: Blueprint assignment object to save.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: Created -- blueprint assignment saved.
      tags:
      - Assignment
      x-ms-examples:
        Assignment with system-assigned managed identity:
          parameters:
            api-version: 2017-11-11-preview
            assignment:
              identity:
                type: SystemAssigned
              location: eastus
              properties:
                blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                description: enforce pre-defined simpleBlueprint to this XXXXXXXX
                  subscription.
                parameters:
                  costCenter:
                    value: Contoso/Online/Shopping/Production
                  owners:
                    value:
                    - johnDoe@contoso.com
                    - johnsteam@contoso.com
                  storageAccountType:
                    value: Standard_LRS
                resourceGroups:
                  storageRG:
                    location: eastus
                    name: defaultRG
            assignmentName: assignSimpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/assignSimpleBlueprint
                identity:
                  principalId: 00000000-0000-0000-0000-000000000000
                  tenantId: 00000000-0000-0000-0000-000000000000
                  type: SystemAssigned
                location: eastus
                name: assignSimpleBlueprint
                properties:
                  blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                  description: enforce pre-defined simpleBlueprint to this XXXXXXXX
                    subscription.
                  parameters:
                    costCenter:
                      value: Contoso/Online/Shopping/Production
                    owners:
                      value:
                      - johnDoe@contoso.com
                      - johnsteam@contoso.com
                    storageAccountType:
                      value: Standard_LRS
                  provisioningState: creating
                  resourceGroups:
                    storageRG:
                      location: eastus
                      name: defaultRG
                type: Microsoft.Blueprint/Assignment
        Assignment with user-assigned managed identity:
          parameters:
            api-version: 2017-11-11-preview
            assignment:
              identity:
                type: UserAssigned
                userAssignedIdentities:
                  ? /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso-resource-group/providers/Microsoft.ManagedIdentity/userAssignedIdentities/contoso-identity
                  : {}
              location: eastus
              properties:
                blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                description: enforce pre-defined simpleBlueprint to this XXXXXXXX
                  subscription.
                parameters:
                  costCenter:
                    value: Contoso/Online/Shopping/Production
                  owners:
                    value:
                    - johnDoe@contoso.com
                    - johnsteam@contoso.com
                  storageAccountType:
                    value: Standard_LRS
                resourceGroups:
                  storageRG:
                    location: eastus
                    name: defaultRG
            assignmentName: assignSimpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Blueprint/blueprintAssignments/assignSimpleBlueprint
                identity:
                  tenantId: 00000000-0000-0000-0000-000000000000
                  type: UserAssigned
                  userAssignedIdentities:
                    ? /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso-resource-group/providers/Microsoft.ManagedIdentity/userAssignedIdentities/contoso-identity
                    : clientId: 00000000-0000-0000-0000-000000000000
                      principalId: 00000000-0000-0000-0000-000000000000
                location: eastus
                name: assignSimpleBlueprint
                properties:
                  blueprintId: /providers/Microsoft.Management/managementGroups/ContosoOnlineGroup/providers/Microsoft.Blueprint/blueprints/simpleBlueprint
                  description: enforce pre-defined simpleBlueprint to this XXXXXXXX
                    subscription.
                  parameters:
                    costCenter:
                      value: Contoso/Online/Shopping/Production
                    owners:
                      value:
                      - johnDoe@contoso.com
                      - johnsteam@contoso.com
                    storageAccountType:
                      value: Standard_LRS
                  provisioningState: creating
                  resourceGroups:
                    storageRG:
                      location: eastus
                      name: defaultRG
                type: Microsoft.Blueprint/Assignment
      x-codegen-request-body-name: assignment
      x-content-type: application/json
      x-accepts:
      - application/json
  /{scope}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}/WhoIsBlueprint:
    post:
      description: Get Blueprints service SPN objectId
      operationId: Assignments_WhoIsBlueprint
      parameters:
      - description: Client API Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: "The scope of the resource. Valid scopes are: management group\
          \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
          \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
          \ assignments management group scope is reserved for future use."
        in: path
        name: scope
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
          x-ms-skip-url-encoding: true
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      - description: Name of the blueprint assignment.
        in: path
        name: assignmentName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoIsBlueprintContract'
          description: Blueprints service SPN objectId
      x-ms-examples:
        WhoIsBlueprint_Action:
          parameters:
            api-version: 2018-11-01-preview
            assignmentName: assignSimpleBlueprint
            scope: subscriptions/00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                objectId: 00000000-1111-0000-1111-000000000000
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersionParameter:
      description: Client API Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    AssignmentNameParameter:
      description: Name of the blueprint assignment.
      in: path
      name: assignmentName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ScopeParameter:
      description: "The scope of the resource. Valid scopes are: management group\
        \ (format: '/providers/Microsoft.Management/managementGroups/{managementGroup}'),\
        \ subscription (format: '/subscriptions/{subscriptionId}'). For blueprint\
        \ assignments management group scope is reserved for future use."
      in: path
      name: scope
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
        x-ms-skip-url-encoding: true
      x-ms-parameter-location: method
      x-ms-skip-url-encoding: true
  schemas:
    Assignment:
      allOf:
      - $ref: '#/components/schemas/TrackedResource'
      description: Represents a blueprint assignment.
      example:
        identity:
          userAssignedIdentities:
            key:
              clientId: clientId
              principalId: principalId
          tenantId: tenantId
          principalId: principalId
          type: None
        properties:
          resourceGroups:
            key:
              name: name
              location: location
          provisioningState: creating
          blueprintId: blueprintId
          locks:
            mode: None
            excludedPrincipals:
            - excludedPrincipals
            - excludedPrincipals
          parameters:
            key:
              reference:
                secretName: secretName
                keyVault:
                  id: id
                secretVersion: secretVersion
              value: "{}"
          status:
            managedResources:
            - managedResources
            - managedResources
      properties:
        identity:
          $ref: '#/components/schemas/ManagedServiceIdentity'
        properties:
          $ref: '#/components/schemas/AssignmentProperties'
      required:
      - identity
      - properties
    AssignmentList:
      description: List of blueprint assignments
      example:
        value:
        - identity:
            userAssignedIdentities:
              key:
                clientId: clientId
                principalId: principalId
            tenantId: tenantId
            principalId: principalId
            type: None
          properties:
            resourceGroups:
              key:
                name: name
                location: location
            provisioningState: creating
            blueprintId: blueprintId
            locks:
              mode: None
              excludedPrincipals:
              - excludedPrincipals
              - excludedPrincipals
            parameters:
              key:
                reference:
                  secretName: secretName
                  keyVault:
                    id: id
                  secretVersion: secretVersion
                value: "{}"
            status:
              managedResources:
              - managedResources
              - managedResources
        - identity:
            userAssignedIdentities:
              key:
                clientId: clientId
                principalId: principalId
            tenantId: tenantId
            principalId: principalId
            type: None
          properties:
            resourceGroups:
              key:
                name: name
                location: location
            provisioningState: creating
            blueprintId: blueprintId
            locks:
              mode: None
              excludedPrincipals:
              - excludedPrincipals
              - excludedPrincipals
            parameters:
              key:
                reference:
                  secretName: secretName
                  keyVault:
                    id: id
                  secretVersion: secretVersion
                value: "{}"
            status:
              managedResources:
              - managedResources
              - managedResources
        nextLink: nextLink
      properties:
        nextLink:
          description: Link to the next page of results.
          readOnly: true
          type: string
        value:
          description: List of blueprint assignments.
          items:
            $ref: '#/components/schemas/Assignment'
          type: array
      type: object
    AssignmentLockSettings:
      description: Defines how resources deployed by a blueprint assignment are locked.
      example:
        mode: None
        excludedPrincipals:
        - excludedPrincipals
        - excludedPrincipals
      properties:
        excludedPrincipals:
          description: List of AAD principals excluded from blueprint locks. Up to
            5 principals are permitted.
          items:
            type: string
          type: array
        mode:
          description: Lock mode.
          enum:
          - None
          - AllResourcesReadOnly
          - AllResourcesDoNotDelete
          type: string
          x-ms-enum:
            modelAsString: true
            name: AssignmentLockMode
      type: object
    AssignmentProperties:
      allOf:
      - $ref: '#/components/schemas/BlueprintResourcePropertiesBase'
      description: Detailed properties for a blueprint assignment.
      example:
        resourceGroups:
          key:
            name: name
            location: location
        provisioningState: creating
        blueprintId: blueprintId
        locks:
          mode: None
          excludedPrincipals:
          - excludedPrincipals
          - excludedPrincipals
        parameters:
          key:
            reference:
              secretName: secretName
              keyVault:
                id: id
              secretVersion: secretVersion
            value: "{}"
        status:
          managedResources:
          - managedResources
          - managedResources
      properties:
        blueprintId:
          description: ID of the published version of a blueprint definition.
          type: string
        locks:
          $ref: '#/components/schemas/AssignmentLockSettings'
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/ParameterValue'
          description: A dictionary for parameters and their corresponding values.
          type: object
        provisioningState:
          description: State of the blueprint assignment.
          enum:
          - creating
          - validating
          - waiting
          - deploying
          - cancelling
          - locking
          - succeeded
          - failed
          - canceled
          - deleting
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AssignmentProvisioningState
        resourceGroups:
          additionalProperties:
            $ref: '#/components/schemas/ResourceGroupValue'
          description: A dictionary which maps resource group placeholders to the
            resource groups which will be created.
          type: object
        status:
          $ref: '#/components/schemas/AssignmentStatus'
      required:
      - parameters
      - resourceGroups
    AssignmentStatus:
      allOf:
      - $ref: '#/components/schemas/BlueprintResourceStatusBase'
      description: The status of a blueprint assignment. This field is readonly.
      example:
        managedResources:
        - managedResources
        - managedResources
      properties:
        managedResources:
          description: List of resources that were created by the blueprint assignment.
          items:
            type: string
          readOnly: true
          type: array
    AzureResourceBase:
      description: Common properties for all Azure resources.
      properties:
        id:
          description: String Id used to locate any resource on Azure.
          readOnly: true
          type: string
        name:
          description: Name of this resource.
          readOnly: true
          type: string
        type:
          description: Type of this resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    BlueprintResourcePropertiesBase:
      description: Shared properties between all blueprint resources.
      properties:
        description:
          description: Multi-line explain this resource.
          maxLength: 500
          type: string
        displayName:
          description: One-liner string explain this resource.
          maxLength: 256
          type: string
      type: object
      x-ms-external: true
    BlueprintResourceStatusBase:
      description: Shared status properties between all blueprint resources.
      properties:
        lastModified:
          description: Last modified time of this blueprint definition.
          format: date-time
          readOnly: true
          type: string
        timeCreated:
          description: Creation time of this blueprint definition.
          format: date-time
          readOnly: true
          type: string
      type: object
    ManagedServiceIdentity:
      description: Managed identity generic object.
      example:
        userAssignedIdentities:
          key:
            clientId: clientId
            principalId: principalId
        tenantId: tenantId
        principalId: principalId
        type: None
      properties:
        principalId:
          description: Azure Active Directory principal ID associated with this Identity.
          type: string
        tenantId:
          description: ID of the Azure Active Directory.
          type: string
        type:
          description: Type of the managed identity.
          enum:
          - None
          - SystemAssigned
          - UserAssigned
          type: string
          x-ms-enum:
            modelAsString: true
            name: ManagedServiceIdentityType
        userAssignedIdentities:
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentity'
          description: The list of user-assigned managed identities associated with
            the resource. Key is the Azure resource Id of the managed identity.
          type: object
      required:
      - type
      type: object
    ParameterValue:
      description: Value for the specified parameter. Can be either 'value' or 'reference'
        but not both.
      example:
        reference:
          secretName: secretName
          keyVault:
            id: id
          secretVersion: secretVersion
        value: "{}"
      properties:
        reference:
          $ref: '#/components/schemas/SecretValueReference'
        value:
          description: Parameter value as value type.
          type: object
      type: object
    ParameterValueCollection:
      additionalProperties:
        $ref: '#/components/schemas/ParameterValue'
      description: A dictionary for parameters and their corresponding values.
      type: object
    ResourceGroupValue:
      description: Represents an Azure resource group.
      example:
        name: name
        location: location
      properties:
        location:
          description: Location of the resource group.
          type: string
        name:
          description: Name of the resource group.
          maxLength: 90
          minLength: 1
          type: string
      type: object
    ResourceGroupValueCollection:
      additionalProperties:
        $ref: '#/components/schemas/ResourceGroupValue'
      description: A dictionary which maps resource group placeholders to the resource
        groups which will be created.
      type: object
    SecretValueReference:
      description: Reference to a Key Vault secret.
      example:
        secretName: secretName
        keyVault:
          id: id
        secretVersion: secretVersion
      properties:
        keyVault:
          $ref: '#/components/schemas/keyVaultReference'
        secretName:
          description: Name of the secret.
          type: string
        secretVersion:
          description: "The version of the secret to use. If left blank, the latest\
            \ version of the secret is used."
          type: string
      required:
      - keyVault
      - secretName
      type: object
    TrackedResource:
      allOf:
      - $ref: '#/components/schemas/AzureResourceBase'
      description: Common properties for all Azure tracked resources.
      properties:
        location:
          description: The location of this blueprint assignment.
          type: string
          x-ms-mutability:
          - read
          - create
      required:
      - location
    UserAssignedIdentity:
      description: User-assigned managed identity.
      example:
        clientId: clientId
        principalId: principalId
      properties:
        clientId:
          description: Client App Id associated with this identity.
          type: string
        principalId:
          description: Azure Active Directory principal ID associated with this Identity.
          type: string
      type: object
    WhoIsBlueprintContract:
      description: Response schema for querying the Azure Blueprints service principal
        in the tenant.
      example:
        objectId: objectId
      properties:
        objectId:
          description: AAD object Id of the Azure Blueprints service principal in
            the tenant.
          type: string
      type: object
    keyVaultReference:
      description: Specifies the link to a Key Vault.
      example:
        id: id
      properties:
        id:
          description: Azure resource ID of the Key Vault.
          type: string
      required:
      - id
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

