openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-07-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/firewallPolicy.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: network-firewallPolicy
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/firewallPolicies:
    get:
      description: Gets all the Firewall Policies in a subscription.
      operationId: firewall_policies_list_all
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicyListResult'
          description: Success. The operation returns a list of FirewallPolicy resources.
      tags:
      - FirewallPolicies
      x-ms-examples:
        List all Firewall Policies for a given subscription:
          parameters:
            api-version: 2019-07-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy
                  location: West US
                  name: firewallPolicy
                  properties:
                    firewalls: []
                    provisioningState: Succeeded
                    ruleGroups:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy/ruleGroups/ruleGroup1
                    threatIntelMode: Alert
                  tags:
                    key1: value1
                  type: Microsoft.Network/firewallPolicies
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.firewall_policies_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies:
    get:
      description: Lists all Firewall Policies in a resource group.
      operationId: firewall_policies_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicyListResult'
          description: Success. The operation returns a list of FirewallPolicy resources.
      tags:
      - FirewallPolicies
      x-ms-examples:
        List all Firewall Policies for a given resource group:
          parameters:
            api-version: 2019-07-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy
                  location: West US
                  name: firewallPolicy
                  properties:
                    firewalls: []
                    provisioningState: Succeeded
                    ruleGroups:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy/ruleGroups/ruleGroup1
                    threatIntelMode: Alert
                  tags:
                    key1: value1
                  type: Microsoft.Network/firewallPolicies
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.firewall_policies_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}
  : delete:
      description: Deletes the specified Firewall Policy.
      operationId: firewall_policies_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Firewall Policy.
        in: path
        name: firewallPolicyName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Request successful. Resource with the specified name does not
            exist.
      tags:
      - FirewallPolicies
      x-ms-examples:
        Delete Firewall Policy:
          parameters:
            api-version: 2019-07-01
            firewallPolicyName: firewallPolicy
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.firewall_policies_controller
    get:
      description: Gets the specified Firewall Policy.
      operationId: firewall_policies_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Firewall Policy.
        in: path
        name: firewallPolicyName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Expands referenced resources.
        in: query
        name: $expand
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicy'
          description: Request successful. The operation returns a Firewall Policy
            resource.
      tags:
      - FirewallPolicies
      x-ms-examples:
        Get FirewallPolicy:
          parameters:
            api-version: 2019-07-01
            firewallPolicyName: firewallPolicy
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy
                location: West US
                name: firewallPolicy
                properties:
                  firewalls: []
                  provisioningState: Succeeded
                  ruleGroups:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy/ruleGroups/ruleGroup1
                  threatIntelMode: Alert
                tags:
                  key1: value1
                type: Microsoft.Network/firewallPolicies
      x-openapi-router-controller: openapi_server.controllers.firewall_policies_controller
    patch:
      description: Updates a Firewall Policy Tags.
      operationId: firewall_policies_update_tags
      parameters:
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name of the Firewall Policy.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Firewall Policy being updated.
        in: path
        name: firewallPolicyName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallPolicies_UpdateTags_request'
        description: Parameters supplied to Update Firewall Policy tags.
        required: true
        x-body-name: firewallPolicyParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicy'
          description: Request successful. Returns the details of the Firewall Policy
            updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicies_UpdateTags_default_response'
          description: Error.
      tags:
      - FirewallPolicies
      x-ms-examples:
        Update FirewallPolicy:
          parameters:
            api-version: 2019-07-01
            firewallPolicyName: firewallPolicy
            firewallPolicyParameters:
              tags:
                key1: value1
                key2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy
                location: West US
                name: firewallPolicy
                properties:
                  provisioningState: Succeeded
                  threatIntelMode: Deny
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/firewallPolicies
      x-codegen-request-body-name: firewallPolicyParameters
      x-openapi-router-controller: openapi_server.controllers.firewall_policies_controller
    put:
      description: Creates or updates the specified Firewall Policy.
      operationId: firewall_policies_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Firewall Policy.
        in: path
        name: firewallPolicyName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallPolicy'
        description: Parameters supplied to the create or update Firewall Policy operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicy'
          description: Request successful. The operation returns the resulting FirewallPolicy
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicy'
          description: Request received successfully. The operation returns the resulting
            FirewallPolicy resource.
      tags:
      - FirewallPolicies
      x-ms-examples:
        Create FirewallPolicy:
          parameters:
            api-version: 2019-07-01
            firewallPolicyName: firewallPolicy
            parameters:
              location: West US
              properties:
                threatIntelMode: Alert
              tags:
                key1: value1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy
                location: West US
                name: firewallPolicy
                properties:
                  firewalls: []
                  provisioningState: Succeeded
                  ruleGroups:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy/ruleGroups/rulegroup1
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy/ruleGroups/rulegroup2
                  threatIntelMode: Alert
                tags:
                  key1: value1
                type: Microsoft.Network/firewallPolicies
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy
                location: West US
                name: firewallPolicy
                properties:
                  firewalls: []
                  provisioningState: Succeeded
                  ruleGroups:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy/ruleGroups/ruleGroup1
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy/ruleGroups/rulegroup2
                  threatIntelMode: Alert
                tags:
                  key1: value1
                type: Microsoft.Network/firewallPolicies
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.firewall_policies_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/ruleGroups
  : get:
      description: Lists all FirewallPolicyRuleGroups in a FirewallPolicy resource.
      operationId: firewall_policy_rule_groups_list
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Firewall Policy.
        in: path
        name: firewallPolicyName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicyRuleGroupListResult'
          description: Success. The operation returns a list of FirewallPolicyRuleGroup
            resources.
      tags:
      - FirewallPolicyRuleGroups
      x-ms-examples:
        List all FirewallPolicyRuleGroups for a given FirewallPolicy:
          parameters:
            api-version: 2019-07-01
            firewallPolicyName: firewallPolicy
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy/ruleGroups/ruleGroup1
                  name: ruleGroup1
                  properties:
                    priority: 110
                    provisioningState: Succeeded
                    rules:
                    - action:
                        type: Deny
                      name: Example-Filter-Rule
                      priority: 120
                      ruleConditions:
                      - description: Network rule condition
                        destinationAddresses:
                        - '*'
                        destinationPorts:
                        - '*'
                        ipProtocols:
                        - TCP
                        name: network-condition-1
                        ruleConditionType: NetworkRuleCondition
                        sourceAddresses:
                        - 10.1.25.0/24
                      ruleType: FirewallPolicyFilterRule
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.firewall_policy_rule_groups_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/ruleGroups/{ruleGroupName}
  : delete:
      description: Deletes the specified FirewallPolicyRuleGroup.
      operationId: firewall_policy_rule_groups_delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Firewall Policy.
        in: path
        name: firewallPolicyName
        required: true
        schema:
          type: string
      - description: The name of the FirewallPolicyRuleGroup.
        in: path
        name: ruleGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Delete successful.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Request successful. Resource with the specified name does not
            exist.
      tags:
      - FirewallPolicyRuleGroups
      x-ms-examples:
        Delete FirewallPolicyRuleGroup:
          parameters:
            api-version: 2019-07-01
            firewallPolicyName: firewallPolicy
            resourceGroupName: rg1
            ruleGroupName: ruleGroup1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-openapi-router-controller: openapi_server.controllers.firewall_policy_rule_groups_controller
    get:
      description: Gets the specified FirewallPolicyRuleGroup.
      operationId: firewall_policy_rule_groups_get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Firewall Policy.
        in: path
        name: firewallPolicyName
        required: true
        schema:
          type: string
      - description: The name of the FirewallPolicyRuleGroup.
        in: path
        name: ruleGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicyRuleGroup'
          description: Request successful. The operation returns a FirewallPolicyRuleGroup
            resource.
      tags:
      - FirewallPolicyRuleGroups
      x-ms-examples:
        Get FirewallPolicyRuleGroup:
          parameters:
            api-version: 2019-07-01
            firewallPolicyName: firewallPolicy
            resourceGroupName: rg1
            ruleGroupName: ruleGroup1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy/ruleGroups/ruleGroup1
                name: ruleGroup1
                properties:
                  priority: 110
                  provisioningState: Succeeded
                  rules:
                  - action:
                      type: Deny
                    name: Example-Filter-Rule
                    priority: 200
                    ruleConditions:
                    - destinationAddresses:
                      - '*'
                      destinationPorts:
                      - '*'
                      ipProtocols:
                      - TCP
                      name: network-condition1
                      ruleConditionType: NetworkRuleCondition
                      sourceAddresses:
                      - 10.1.25.0/24
                    ruleType: FirewallPolicyFilterRule
      x-openapi-router-controller: openapi_server.controllers.firewall_policy_rule_groups_controller
    put:
      description: Creates or updates the specified FirewallPolicyRuleGroup.
      operationId: firewall_policy_rule_groups_create_or_update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Firewall Policy.
        in: path
        name: firewallPolicyName
        required: true
        schema:
          type: string
      - description: The name of the FirewallPolicyRuleGroup.
        in: path
        name: ruleGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallPolicyRuleGroup'
        description: Parameters supplied to the create or update FirewallPolicyRuleGroup
          operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicyRuleGroup'
          description: Request successful. The operation returns the resulting FirewallPolicyRuleGroup
            resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallPolicyRuleGroup'
          description: Request received successfully. The operation returns the resulting
            FirewallPolicyRuleGroup resource.
      tags:
      - FirewallPolicyRuleGroups
      x-ms-examples:
        Create FirewallPolicyRuleGroup:
          parameters:
            api-version: 2019-07-01
            firewallPolicyName: firewallPolicy
            parameters:
              properties:
                priority: 110
                rules:
                - action:
                    type: Deny
                  name: Example-Filter-Rule
                  ruleConditions:
                  - destinationAddresses:
                    - '*'
                    destinationPorts:
                    - '*'
                    ipProtocols:
                    - TCP
                    name: network-condition1
                    ruleConditionType: NetworkRuleCondition
                    sourceAddresses:
                    - 10.1.25.0/24
                  ruleType: FirewallPolicyFilterRule
            resourceGroupName: rg1
            ruleGroupName: ruleGroup1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy/ruleGroups/ruleGroup1
                name: ruleGroup1
                properties:
                  priority: 110
                  provisioningState: Succeeded
                  rules:
                  - action:
                      type: Deny
                    name: Example-Filter-Rule
                    ruleConditions:
                    - destinationAddresses:
                      - '*'
                      destinationPorts:
                      - '*'
                      ipProtocols:
                      - TCP
                      name: network-condition1
                      ruleConditionType: NetworkRuleCondition
                      sourceAddresses:
                      - 10.1.25.0/24
                    ruleType: FirewallPolicyFilterRule
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/firewallPolicies/firewallPolicy
                name: firewallPolicy
                properties:
                  priority: 110
                  provisioningState: Succeeded
                  rules:
                  - action:
                      type: Deny
                    name: Example-Filter-Rule
                    ruleConditions:
                    - destinationAddresses:
                      - '*'
                      destinationPorts:
                      - '*'
                      ipProtocols:
                      - TCP
                      name: network-condition1
                      ruleConditionType: NetworkRuleCondition
                      sourceAddresses:
                      - 10.1.25.0/24
                    ruleType: FirewallPolicyFilterRule
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.firewall_policy_rule_groups_controller
components:
  schemas:
    ApplicationRuleCondition:
      allOf:
      - $ref: '#/components/schemas/FirewallPolicyRuleCondition'
      description: Rule condition of type application.
      properties:
        destinationAddresses:
          description: List of destination IP addresses or Service Tags.
          items:
            type: string
          type: array
        fqdnTags:
          description: List of FQDN Tags for this rule condition.
          items:
            type: string
          type: array
        protocols:
          description: Array of Application Protocols.
          items:
            $ref: '#/components/schemas/FirewallPolicyRuleConditionApplicationProtocol'
          type: array
        sourceAddresses:
          description: List of source IP addresses for this rule.
          items:
            type: string
          type: array
        targetFqdns:
          description: List of FQDNs for this rule condition.
          items:
            type: string
          type: array
      x-ms-discriminator-value: ApplicationRuleCondition
    FirewallPolicy:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      description: FirewallPolicy Resource.
      example:
        etag: etag
        properties:
          childPolicies:
          - id: id
          - id: id
          ruleGroups:
          - id: id
          - id: id
          threatIntelMode: Alert
          basePolicy:
            id: id
          firewalls:
          - id: id
          - id: id
          provisioningState: Succeeded
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        properties:
          $ref: '#/components/schemas/FirewallPolicyPropertiesFormat'
      title: FirewallPolicy
    FirewallPolicyFilterRule:
      allOf:
      - $ref: '#/components/schemas/FirewallPolicyRule'
      description: Firewall Policy Filter Rule.
      properties:
        action:
          $ref: '#/components/schemas/FirewallPolicyFilterRuleAction'
        ruleConditions:
          description: Collection of rule conditions used by a rule.
          items:
            $ref: '#/components/schemas/FirewallPolicyRuleCondition'
          type: array
      x-ms-discriminator-value: FirewallPolicyFilterRule
    FirewallPolicyFilterRuleAction:
      description: Properties of the FirewallPolicyFilterRuleAction.
      properties:
        type:
          $ref: '#/components/schemas/FirewallPolicyFilterRuleActionType'
      title: FirewallPolicyFilterRuleAction
      type: object
    FirewallPolicyFilterRuleActionType:
      description: The action type of a rule.
      enum:
      - Allow
      - Deny
      - 'Alert '
      title: FirewallPolicyFilterRuleActionType
      type: string
      x-ms-enum:
        modelAsString: true
        name: FirewallPolicyFilterRuleActionType
    FirewallPolicyListResult:
      description: Response for ListFirewallPolicies API service call.
      example:
        value:
        - etag: etag
          properties:
            childPolicies:
            - id: id
            - id: id
            ruleGroups:
            - id: id
            - id: id
            threatIntelMode: Alert
            basePolicy:
              id: id
            firewalls:
            - id: id
            - id: id
            provisioningState: Succeeded
        - etag: etag
          properties:
            childPolicies:
            - id: id
            - id: id
            ruleGroups:
            - id: id
            - id: id
            threatIntelMode: Alert
            basePolicy:
              id: id
            firewalls:
            - id: id
            - id: id
            provisioningState: Succeeded
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: List of Firewall Policies in a resource group.
          items:
            $ref: '#/components/schemas/FirewallPolicy'
          title: value
          type: array
      title: FirewallPolicyListResult
      type: object
    FirewallPolicyNatRule:
      allOf:
      - $ref: '#/components/schemas/FirewallPolicyRule'
      description: Firewall Policy NAT Rule.
      properties:
        action:
          $ref: '#/components/schemas/FirewallPolicyNatRuleAction'
        ruleCondition:
          $ref: '#/components/schemas/FirewallPolicyRuleCondition'
        translatedAddress:
          description: The translated address for this NAT rule.
          type: string
        translatedPort:
          description: The translated port for this NAT rule.
          type: string
      x-ms-discriminator-value: FirewallPolicyNatRule
    FirewallPolicyNatRuleAction:
      description: Properties of the FirewallPolicyNatRuleAction.
      properties:
        type:
          $ref: '#/components/schemas/FirewallPolicyNatRuleActionType'
      title: FirewallPolicyNatRuleAction
      type: object
    FirewallPolicyNatRuleActionType:
      description: The action type of a rule.
      enum:
      - DNAT
      - SNAT
      title: FirewallPolicyNatRuleActionType
      type: string
      x-ms-enum:
        modelAsString: true
        name: FirewallPolicyNatRuleActionType
    FirewallPolicyPropertiesFormat:
      description: Firewall Policy definition.
      example:
        childPolicies:
        - id: id
        - id: id
        ruleGroups:
        - id: id
        - id: id
        threatIntelMode: Alert
        basePolicy:
          id: id
        firewalls:
        - id: id
        - id: id
        provisioningState: Succeeded
      properties:
        basePolicy:
          $ref: '#/components/schemas/FirewallPolicyPropertiesFormat_basePolicy'
        childPolicies:
          description: List of references to Child Firewall Policies.
          items:
            $ref: '#/components/schemas/FirewallPolicyPropertiesFormat_basePolicy'
          readOnly: true
          title: childPolicies
          type: array
        firewalls:
          description: List of references to Azure Firewalls that this Firewall Policy
            is associated with.
          items:
            $ref: '#/components/schemas/FirewallPolicyPropertiesFormat_basePolicy'
          readOnly: true
          title: firewalls
          type: array
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        ruleGroups:
          description: List of references to FirewallPolicyRuleGroups.
          items:
            $ref: '#/components/schemas/FirewallPolicyPropertiesFormat_basePolicy'
          readOnly: true
          title: ruleGroups
          type: array
        threatIntelMode:
          description: The operation mode for Threat Intel.
          enum:
          - Alert
          - Deny
          - "Off"
          title: threatIntelMode
          type: string
          x-ms-enum:
            modelAsString: true
            name: AzureFirewallThreatIntelMode
      title: FirewallPolicyPropertiesFormat
      type: object
    FirewallPolicyRule:
      description: Properties of the rule.
      discriminator:
        propertyName: ruleType
      example:
        ruleType: FirewallPolicyNatRule
        name: name
        priority: 39218
      properties:
        name:
          description: The name of the rule.
          title: name
          type: string
        priority:
          description: Priority of the Firewall Policy Rule resource.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 65000
          minimum: 100
          title: priority
          type: integer
        ruleType:
          description: The type of the rule.
          enum:
          - FirewallPolicyNatRule
          - FirewallPolicyFilterRule
          title: ruleType
          type: string
          x-ms-enum:
            modelAsString: true
            name: FirewallPolicyRuleType
      required:
      - ruleType
      title: FirewallPolicyRule
      type: object
    FirewallPolicyRuleCondition:
      description: Properties of a rule.
      discriminator:
        propertyName: ruleConditionType
      properties:
        description:
          description: Description of the rule condition.
          title: description
          type: string
        name:
          description: Name of the rule condition.
          title: name
          type: string
        ruleConditionType:
          description: Rule Condition Type.
          enum:
          - ApplicationRuleCondition
          - NetworkRuleCondition
          title: ruleConditionType
          type: string
          x-ms-enum:
            modelAsString: true
            name: FirewallPolicyRuleConditionType
      required:
      - ruleConditionType
      title: FirewallPolicyRuleCondition
      type: object
    FirewallPolicyRuleConditionApplicationProtocol:
      description: Properties of the application rule protocol.
      properties:
        port:
          description: "Port number for the protocol, cannot be greater than 64000."
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 64000
          minimum: 0
          title: port
          type: integer
        protocolType:
          $ref: '#/components/schemas/FirewallPolicyRuleConditionApplicationProtocolType'
      title: FirewallPolicyRuleConditionApplicationProtocol
      type: object
    FirewallPolicyRuleConditionApplicationProtocolType:
      description: The application protocol type of a Rule condition.
      enum:
      - Http
      - Https
      title: FirewallPolicyRuleConditionApplicationProtocolType
      type: string
      x-ms-enum:
        modelAsString: true
        name: FirewallPolicyRuleConditionApplicationProtocolType
    FirewallPolicyRuleConditionNetworkProtocol:
      description: The Network protocol of a Rule condition.
      enum:
      - TCP
      - UDP
      - Any
      - ICMP
      title: FirewallPolicyRuleConditionNetworkProtocol
      type: string
      x-ms-enum:
        modelAsString: true
        name: FirewallPolicyRuleConditionNetworkProtocol
    FirewallPolicyRuleGroup:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        type: object
        x-ms-azure-resource: true
      description: Rule Group resource.
      example:
        name: name
        etag: etag
        type: type
        properties:
          rules:
          - ruleType: FirewallPolicyNatRule
            name: name
            priority: 39218
          - ruleType: FirewallPolicyNatRule
            name: name
            priority: 39218
          provisioningState: Succeeded
          priority: 5297
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource
            is updated.
          readOnly: true
          title: etag
          type: string
        name:
          description: The name of the resource that is unique within a resource group.
            This name can be used to access the resource.
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/FirewallPolicyRuleGroupProperties'
        type:
          description: Rule Group type.
          readOnly: true
          title: type
          type: string
      title: FirewallPolicyRuleGroup
    FirewallPolicyRuleGroupListResult:
      description: Response for ListFirewallPolicyRuleGroups API service call.
      example:
        value:
        - name: name
          etag: etag
          type: type
          properties:
            rules:
            - ruleType: FirewallPolicyNatRule
              name: name
              priority: 39218
            - ruleType: FirewallPolicyNatRule
              name: name
              priority: 39218
            provisioningState: Succeeded
            priority: 5297
        - name: name
          etag: etag
          type: type
          properties:
            rules:
            - ruleType: FirewallPolicyNatRule
              name: name
              priority: 39218
            - ruleType: FirewallPolicyNatRule
              name: name
              priority: 39218
            provisioningState: Succeeded
            priority: 5297
        nextLink: nextLink
      properties:
        nextLink:
          description: URL to get the next set of results.
          title: nextLink
          type: string
        value:
          description: List of FirewallPolicyRuleGroups in a FirewallPolicy.
          items:
            $ref: '#/components/schemas/FirewallPolicyRuleGroup'
          title: value
          type: array
      title: FirewallPolicyRuleGroupListResult
      type: object
    FirewallPolicyRuleGroupProperties:
      description: Properties of the rule group.
      example:
        rules:
        - ruleType: FirewallPolicyNatRule
          name: name
          priority: 39218
        - ruleType: FirewallPolicyNatRule
          name: name
          priority: 39218
        provisioningState: Succeeded
        priority: 5297
      properties:
        priority:
          description: Priority of the Firewall Policy Rule Group resource.
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 65000
          minimum: 100
          title: priority
          type: integer
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          title: provisioningState
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        rules:
          description: Group of Firewall Policy rules.
          items:
            $ref: '#/components/schemas/FirewallPolicyRule'
          title: rules
          type: array
      title: FirewallPolicyRuleGroupProperties
      type: object
    NetworkRuleCondition:
      allOf:
      - $ref: '#/components/schemas/FirewallPolicyRuleCondition'
      description: Rule condition of type network.
      properties:
        destinationAddresses:
          description: List of destination IP addresses or Service Tags.
          items:
            type: string
          type: array
        destinationPorts:
          description: List of destination ports.
          items:
            type: string
          type: array
        ipProtocols:
          description: Array of FirewallPolicyRuleConditionNetworkProtocols.
          items:
            $ref: '#/components/schemas/FirewallPolicyRuleConditionNetworkProtocol'
          type: array
        sourceAddresses:
          description: List of source IP addresses for this rule.
          items:
            type: string
          type: array
      x-ms-discriminator-value: NetworkRuleCondition
    FirewallPolicies_UpdateTags_request:
      description: Tags object for patch operations.
      properties:
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          title: tags
          type: object
      title: FirewallPolicies_UpdateTags_request
      type: object
    FirewallPolicies_UpdateTags_default_response_details_inner:
      description: Common error details representation.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Error code.
          title: code
          type: string
        message:
          description: Error message.
          title: message
          type: string
        target:
          description: Error target.
          title: target
          type: string
      title: FirewallPolicies_UpdateTags_default_response_details_inner
      type: object
    FirewallPolicies_UpdateTags_default_response:
      description: Common error representation.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        innerError: innerError
        message: message
        target: target
      properties:
        code:
          description: Error code.
          title: code
          type: string
        details:
          description: Error details.
          items:
            $ref: '#/components/schemas/FirewallPolicies_UpdateTags_default_response_details_inner'
          title: details
          type: array
        innerError:
          description: Inner error message.
          title: innerError
          type: string
        message:
          description: Error message.
          title: message
          type: string
        target:
          description: Error target.
          title: target
          type: string
      title: FirewallPolicies_UpdateTags_default_response
      type: object
    FirewallPolicyPropertiesFormat_basePolicy:
      description: Reference to another subresource.
      example:
        id: id
      properties:
        id:
          description: Resource ID.
          title: id
          type: string
      title: FirewallPolicyPropertiesFormat_basePolicy
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
