openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: NHL v3 Stats
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nhl-v3-stats.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nhl-v3-stats
servers:
- url: http://azure-api.sportsdata.io/v3/nhl/stats
- url: https://azure-api.sportsdata.io/v3/nhl/stats
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/AllTeams:
    get:
      operationId: TeamsAll
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (All)
      x-accepts:
      - application/json
  /{format}/AreAnyGamesInProgress:
    get:
      description: Returns <code>true</code> if there is at least one game being played
        at the time of the request or <code>false</code> if there are none.
      operationId: AreGamesInProgress
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
      x-accepts:
      - application/json
  /{format}/BoxScore/{gameid}:
    get:
      operationId: BoxScore
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: The GameID of an NHL game.  GameIDs can be found in the Games
          API.  Valid entries are <code>14620</code> or <code>16905</code>
        explode: false
        in: path
        name: gameid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoxScore'
          description: ""
      summary: Box Score
      x-accepts:
      - application/json
  /{format}/BoxScores/{date}:
    get:
      operationId: BoxScoresByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the game(s).\n <br>Examples: <code>2017-OCT-31</code>,\
          \ <code>2018-FEB-15</code>.\n "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Box Scores by Date
      x-accepts:
      - application/json
  /{format}/BoxScoresDelta/{date}/{minutes}:
    get:
      operationId: BoxScoresByDateDelta
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the game(s).\n <br>Examples: <code>2017-OCT-31</code>,\
          \ <code>2018-FEB-15</code>.\n "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: "Only returns player statistics that have changed in the last\
          \ X minutes.  You specify how many minutes in time to go back.  Valid entries\
          \ are:\n <code>1</code> or <code>2</code>.\n "
        explode: false
        in: path
        name: minutes
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Box Scores by Date Delta
      x-accepts:
      - application/json
  /{format}/CurrentSeason:
    get:
      operationId: CurrentSeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'
          description: ""
      summary: Current Season
      x-accepts:
      - application/json
  /{format}/DfsSlatesByDate/{date}:
    get:
      operationId: DfsSlatesByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-DEC-01</code>, <code>2018-FEB-15</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: DFS Slates by Date
      x-accepts:
      - application/json
  /{format}/FreeAgents:
    get:
      operationId: PlayerDetailsByFreeAgent
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Free Agent
      x-accepts:
      - application/json
  /{format}/Games/{season}:
    get:
      operationId: Schedules
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>,\
          \ <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Schedules
      x-accepts:
      - application/json
  /{format}/GamesByDate/{date}:
    get:
      operationId: GamesByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the game(s).\n <br>Examples: <code>2017-OCT-31</code>,\
          \ <code>2018-FEB-15</code>.\n "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Games by Date
      x-accepts:
      - application/json
  /{format}/LinesBySeason/{season}:
    get:
      operationId: LineCombinationsBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n\
          \ "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamLine'
                type: array
          description: ""
      summary: Line Combinations by Season
      x-accepts:
      - application/json
  /{format}/News:
    get:
      operationId: News
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News
      x-accepts:
      - application/json
  /{format}/NewsByDate/{date}:
    get:
      operationId: NewsByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the news.\n <br>Examples: <code>2017-OCT-31</code>,\
          \ <code>2018-FEB-15</code>.\n "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Date
      x-accepts:
      - application/json
  /{format}/NewsByPlayerID/{playerid}:
    get:
      operationId: NewsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Unique FantasyData Player ID.\n Example:<code>10000507</code>.\n\
          \ "
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/News'
                type: array
          description: ""
      summary: News by Player
      x-accepts:
      - application/json
  /{format}/Player/{playerid}:
    get:
      operationId: PlayerDetailsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>30000007</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
          description: ""
      summary: Player Details by Player
      x-accepts:
      - application/json
  /{format}/PlayerGameStatsByDate/{date}:
    get:
      operationId: PlayerGameStatsByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the game(s).\n <br>Examples: <code>2017-OCT-31</code>,\
          \ <code>2018-FEB-15</code>.\n "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Stats by Date
      x-accepts:
      - application/json
  /{format}/PlayerGameStatsByPlayer/{date}/{playerid}:
    get:
      operationId: PlayerGameStatsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the game(s).\n\n<br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>30000378</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerGame'
          description: ""
      summary: Player Game Stats by Player
      x-accepts:
      - application/json
  /{format}/PlayerGameStatsBySeason/{season}/{playerid}/{numberofgames}:
    get:
      operationId: PlayerGameLogsBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>30000651</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGame'
                type: array
          description: ""
      summary: Player Game Logs By Season
      x-accepts:
      - application/json
  /{format}/PlayerSeasonStats/{season}:
    get:
      operationId: PlayerSeasonStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n\
          \ "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats
      x-accepts:
      - application/json
  /{format}/PlayerSeasonStatsByPlayer/{season}/{playerid}:
    get:
      operationId: PlayerSeasonStatsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n\
          \ "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>30000378</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerSeason'
          description: ""
      summary: Player Season Stats By Player
      x-accepts:
      - application/json
  /{format}/PlayerSeasonStatsByTeam/{season}/{team}:
    get:
      operationId: PlayerSeasonStatsByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n\
          \ "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: "The abbreviation of the requested team.\n <br>Examples: <code>SF</code>,\
          \ <code>NYY</code>.\n "
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeason'
                type: array
          description: ""
      summary: Player Season Stats by Team
      x-accepts:
      - application/json
  /{format}/Players:
    get:
      operationId: PlayerDetailsByActive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Player Details by Active
      x-accepts:
      - application/json
  /{format}/Players/{team}:
    get:
      operationId: PlayersByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The abbreviation of the requested team.\n <br>Examples: <code>SF</code>,\
          \ <code>NYY</code>.\n "
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players by Team
      x-accepts:
      - application/json
  /{format}/Stadiums:
    get:
      operationId: Stadiums
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Stadium'
                type: array
          description: ""
      summary: Stadiums
      x-accepts:
      - application/json
  /{format}/Standings/{season}:
    get:
      operationId: Standings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n\
          \ "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Standing'
                type: array
          description: ""
      summary: Standings
      x-accepts:
      - application/json
  /{format}/TeamGameStatsByDate/{date}:
    get:
      operationId: TeamGameStatsByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>,\
          \ <code>2017-OCT-01</code>.\n "
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Stats by Date
      x-accepts:
      - application/json
  /{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}:
    get:
      description: Game by game log of total team statistics.
      operationId: TeamGameLogsBySeason
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Season to get games from. Example <code>2019POST</code>, <code>2020</code>"
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique ID of team.  Example <code> 8 </code>
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      - description: "How many games to return. Example <code>all</code>, <code>10</code>,\
          \ <code>25</code>"
        explode: false
        in: path
        name: numberofgames
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamGame'
                type: array
          description: ""
      summary: Team Game Logs By Season
      x-accepts:
      - application/json
  /{format}/TeamSeasonStats/{season}:
    get:
      operationId: TeamSeasonStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n\
          \ "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Season Stats
      x-accepts:
      - application/json
  /{format}/TeamStatsAllowedByPosition/{season}:
    get:
      operationId: TeamStatsAllowedByPosition
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season.\n <br>Examples: <code>2016</code>, <code>2017</code>.\n\
          \ "
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamSeason'
                type: array
          description: ""
      summary: Team Stats Allowed by Position
      x-accepts:
      - application/json
  /{format}/teams:
    get:
      operationId: TeamsActive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams (Active)
      x-accepts:
      - application/json
components:
  schemas:
    BoxScore:
      example:
        Periods:
        - HomeScore: 1
          ScoringPlays:
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          Penalties:
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          AwayScore: 6
          PeriodID: 2
          GameID: 7
          Name: Name
        - HomeScore: 1
          ScoringPlays:
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          Penalties:
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          AwayScore: 6
          PeriodID: 2
          GameID: 7
          Name: Name
        ShootoutPlays:
        - PlayerID: 7
          OpposingPlayerID: 1
          Category: Category
          Description: Description
          Updated: Updated
          PowerPlayTeam: PowerPlayTeam
          ClockMinutes: 1
          PowerPlayTeamID: 7
          SecondAssistedByPlayerID: 7
          PeriodID: 3
          Sequence: 9
          PlayID: 9
          TeamID: 1
          Created: Created
          OpponentID: 3
          Type: Type
          HomeTeamScore: 5
          FirstAssistedByPlayerID: 5
          Opponent: Opponent
          AwayTeamScore: 5
          Team: Team
          PeriodName: PeriodName
          ClockSeconds: 4
        - PlayerID: 7
          OpposingPlayerID: 1
          Category: Category
          Description: Description
          Updated: Updated
          PowerPlayTeam: PowerPlayTeam
          ClockMinutes: 1
          PowerPlayTeamID: 7
          SecondAssistedByPlayerID: 7
          PeriodID: 3
          Sequence: 9
          PlayID: 9
          TeamID: 1
          Created: Created
          OpponentID: 3
          Type: Type
          HomeTeamScore: 5
          FirstAssistedByPlayerID: 5
          Opponent: Opponent
          AwayTeamScore: 5
          Team: Team
          PeriodName: PeriodName
          ClockSeconds: 4
        Game:
          AwayTeam: AwayTeam
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 2
          HomeTeamMoneyLine: 7
          HomeTeamID: 4
          AwayTeamID: 1
          IsClosed: true
          DateTime: DateTime
          LastPlay: LastPlay
          TimeRemainingSeconds: 1
          UnderPayout: 4
          GlobalHomeTeamID: 3
          Season: 3
          GameID: 2
          GlobalGameID: 9
          OverPayout: 1
          Attendance: 0
          Status: Status
          HomeTeam: HomeTeam
          Updated: Updated
          TimeRemainingMinutes: 4
          Channel: Channel
          Period: Period
          OverUnder: 1.4894159098541704
          NeutralVenue: true
          StadiumID: 6
          Periods:
          - HomeScore: 1
            ScoringPlays:
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            Penalties:
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            AwayScore: 6
            PeriodID: 2
            GameID: 7
            Name: Name
          - HomeScore: 1
            ScoringPlays:
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            Penalties:
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            AwayScore: 6
            PeriodID: 2
            GameID: 7
            Name: Name
          SeriesInfo:
            GameNumber: 3
            MaxLength: 0
            AwayTeamWins: 5
            HomeTeamWins: 4
          SeasonType: 7
          HomeTeamScore: 1
          PointSpread: 8.969578798196912
          AwayRotationNumber: 6
          PointSpreadAwayTeamMoneyLine: 7
          AwayTeamScore: 5
          GlobalAwayTeamID: 7
          DateTimeUTC: DateTimeUTC
          PointSpreadHomeTeamMoneyLine: 3
          AwayTeamMoneyLine: 5
          Day: Day
        PlayerGames:
        - PlayerID: 8
          FanDuelPosition: FanDuelPosition
          InjuryStartDate: InjuryStartDate
          ShootoutGoals: 0.58919091925136
          GoaltendingShotsAgainst: 7.606863723092579
          GlobalTeamID: 1
          DateTime: DateTime
          InjuryStatus: InjuryStatus
          Minutes: 7
          ShortHandedAssists: 2.535258963197524
          DraftKingsSalary: 9
          Name: Name
          PlusMinus: 4.518309517874243
          ShotsOnGoal: 4.8789878742268815
          GoaltendingMinutes: 0
          PowerPlayAssists: 0.4833312865174044
          Takeaways: 1.3949519358941398
          ShortHandedGoals: 6.173804034172511
          GameID: 8
          FaceoffsLost: 7.933506881737151
          GoaltendingOvertimeLosses: 5.299143560275359
          OpponentPositionRank: 3
          Updated: Updated
          Position: Position
          FaceoffsWon: 5.507386964179881
          FantasyDraftSalary: 8
          FantasyPointsFanDuel: 0.43431398824148815
          PenaltyMinutes: 3.804112695731078
          OpponentID: 0
          Assists: 7.260521264802104
          GoaltendingWins: 3.111202833403195
          FantasyPointsDraftKings: 3.901545264248647
          GoaltendingGoalsAgainst: 9.183123594773994
          Games: 6
          Goals: 3.502657762086401
          StatID: 9
          Hits: 5.877124706116695
          Started: 6
          GoaltendingSeconds: 8
          IsGameOver: true
          GoaltendingLosses: 8.761432466225475
          FantasyPointsYahoo: 1.7325933120207193
          OpponentRank: 2
          TeamID: 1
          YahooSalary: 3
          FantasyDataSalary: 6
          EmptyNetGoals: 0.5199002018724985
          PowerPlayGoals: 0.35262192099236644
          DraftKingsPosition: DraftKingsPosition
          FantasyPointsFantasyDraft: 2.9409642974827896
          GlobalOpponentID: 9
          GoaltendingSaves: 5.312489704336296
          Opponent: Opponent
          Team: Team
          Season: 7
          Shifts: 9.386524999783381
          GlobalGameID: 8
          YahooPosition: YahooPosition
          FantasyDraftPosition: FantasyDraftPosition
          FanDuelSalary: 4
          FantasyPoints: 4.459605034958679
          Blocks: 0.8774076871421566
          BenchPenaltyMinutes: 9.132027271330688
          Giveaways: 4.573936264232251
          HatTricks: 9.897492629215506
          InjuryBodyPart: InjuryBodyPart
          HomeOrAway: HomeOrAway
          InjuryNotes: InjuryNotes
          GoaltendingShutouts: 3.7814124730767915
          SeasonType: 4
          Seconds: 2
          Day: Day
        - PlayerID: 8
          FanDuelPosition: FanDuelPosition
          InjuryStartDate: InjuryStartDate
          ShootoutGoals: 0.58919091925136
          GoaltendingShotsAgainst: 7.606863723092579
          GlobalTeamID: 1
          DateTime: DateTime
          InjuryStatus: InjuryStatus
          Minutes: 7
          ShortHandedAssists: 2.535258963197524
          DraftKingsSalary: 9
          Name: Name
          PlusMinus: 4.518309517874243
          ShotsOnGoal: 4.8789878742268815
          GoaltendingMinutes: 0
          PowerPlayAssists: 0.4833312865174044
          Takeaways: 1.3949519358941398
          ShortHandedGoals: 6.173804034172511
          GameID: 8
          FaceoffsLost: 7.933506881737151
          GoaltendingOvertimeLosses: 5.299143560275359
          OpponentPositionRank: 3
          Updated: Updated
          Position: Position
          FaceoffsWon: 5.507386964179881
          FantasyDraftSalary: 8
          FantasyPointsFanDuel: 0.43431398824148815
          PenaltyMinutes: 3.804112695731078
          OpponentID: 0
          Assists: 7.260521264802104
          GoaltendingWins: 3.111202833403195
          FantasyPointsDraftKings: 3.901545264248647
          GoaltendingGoalsAgainst: 9.183123594773994
          Games: 6
          Goals: 3.502657762086401
          StatID: 9
          Hits: 5.877124706116695
          Started: 6
          GoaltendingSeconds: 8
          IsGameOver: true
          GoaltendingLosses: 8.761432466225475
          FantasyPointsYahoo: 1.7325933120207193
          OpponentRank: 2
          TeamID: 1
          YahooSalary: 3
          FantasyDataSalary: 6
          EmptyNetGoals: 0.5199002018724985
          PowerPlayGoals: 0.35262192099236644
          DraftKingsPosition: DraftKingsPosition
          FantasyPointsFantasyDraft: 2.9409642974827896
          GlobalOpponentID: 9
          GoaltendingSaves: 5.312489704336296
          Opponent: Opponent
          Team: Team
          Season: 7
          Shifts: 9.386524999783381
          GlobalGameID: 8
          YahooPosition: YahooPosition
          FantasyDraftPosition: FantasyDraftPosition
          FanDuelSalary: 4
          FantasyPoints: 4.459605034958679
          Blocks: 0.8774076871421566
          BenchPenaltyMinutes: 9.132027271330688
          Giveaways: 4.573936264232251
          HatTricks: 9.897492629215506
          InjuryBodyPart: InjuryBodyPart
          HomeOrAway: HomeOrAway
          InjuryNotes: InjuryNotes
          GoaltendingShutouts: 3.7814124730767915
          SeasonType: 4
          Seconds: 2
          Day: Day
        TeamGames:
        - ShootoutGoals: 7.273019311111276
          GoaltendingShotsAgainst: 6.918231485891953
          GlobalTeamID: 7
          DateTime: DateTime
          Minutes: 6
          ShortHandedAssists: 2.4669941706755685
          Name: Name
          PlusMinus: 3.196820582978078
          ShotsOnGoal: 0.4008378390304357
          GoaltendingMinutes: 0
          PowerPlayAssists: 5.296102445648278
          Takeaways: 3.5117904067536143
          ShortHandedGoals: 8.782449469456207
          Wins: 9
          GameID: 6
          FaceoffsLost: 9.146339979307802
          GoaltendingOvertimeLosses: 9.456612101333725
          Updated: Updated
          FaceoffsWon: 4.010300976654761
          FantasyPointsFanDuel: 4.141296055235948
          PenaltyMinutes: 2.026856458177285
          OpponentID: 2
          Assists: 4.4935252719377825
          Losses: 1
          GoaltendingWins: 4.637509675190766
          FantasyPointsDraftKings: 6.458262756685686
          GoaltendingGoalsAgainst: 4.943637496515336
          Games: 0
          Goals: 6.749525837406151
          StatID: 4
          Hits: 7.390706075830692
          Started: 2
          GoaltendingSeconds: 7
          IsGameOver: true
          GoaltendingLosses: 0.30134145536422907
          FantasyPointsYahoo: 2.058822123984536
          TeamID: 5
          EmptyNetGoals: 2.9805393113464476
          PowerPlayGoals: 3.8156682252305574
          FantasyPointsFantasyDraft: 8.910869026866926
          GlobalOpponentID: 0
          GoaltendingSaves: 9.721723570087065
          Opponent: Opponent
          Team: Team
          Season: 1
          Shifts: 8.250639315618633
          GlobalGameID: 5
          FantasyPoints: 8.276461147928103
          Blocks: 8.262795412896967
          BenchPenaltyMinutes: 3.209082285545927
          OvertimeLosses: 4
          Giveaways: 2.9679475177256287
          HatTricks: 0.36062689002149373
          HomeOrAway: HomeOrAway
          GoaltendingShutouts: 0.11859130807119977
          SeasonType: 5
          Seconds: 3
          Day: Day
        - ShootoutGoals: 7.273019311111276
          GoaltendingShotsAgainst: 6.918231485891953
          GlobalTeamID: 7
          DateTime: DateTime
          Minutes: 6
          ShortHandedAssists: 2.4669941706755685
          Name: Name
          PlusMinus: 3.196820582978078
          ShotsOnGoal: 0.4008378390304357
          GoaltendingMinutes: 0
          PowerPlayAssists: 5.296102445648278
          Takeaways: 3.5117904067536143
          ShortHandedGoals: 8.782449469456207
          Wins: 9
          GameID: 6
          FaceoffsLost: 9.146339979307802
          GoaltendingOvertimeLosses: 9.456612101333725
          Updated: Updated
          FaceoffsWon: 4.010300976654761
          FantasyPointsFanDuel: 4.141296055235948
          PenaltyMinutes: 2.026856458177285
          OpponentID: 2
          Assists: 4.4935252719377825
          Losses: 1
          GoaltendingWins: 4.637509675190766
          FantasyPointsDraftKings: 6.458262756685686
          GoaltendingGoalsAgainst: 4.943637496515336
          Games: 0
          Goals: 6.749525837406151
          StatID: 4
          Hits: 7.390706075830692
          Started: 2
          GoaltendingSeconds: 7
          IsGameOver: true
          GoaltendingLosses: 0.30134145536422907
          FantasyPointsYahoo: 2.058822123984536
          TeamID: 5
          EmptyNetGoals: 2.9805393113464476
          PowerPlayGoals: 3.8156682252305574
          FantasyPointsFantasyDraft: 8.910869026866926
          GlobalOpponentID: 0
          GoaltendingSaves: 9.721723570087065
          Opponent: Opponent
          Team: Team
          Season: 1
          Shifts: 8.250639315618633
          GlobalGameID: 5
          FantasyPoints: 8.276461147928103
          Blocks: 8.262795412896967
          BenchPenaltyMinutes: 3.209082285545927
          OvertimeLosses: 4
          Giveaways: 2.9679475177256287
          HatTricks: 0.36062689002149373
          HomeOrAway: HomeOrAway
          GoaltendingShutouts: 0.11859130807119977
          SeasonType: 5
          Seconds: 3
          Day: Day
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        Periods:
          items:
            $ref: '#/components/schemas/Period'
          type: array
        PlayerGames:
          items:
            $ref: '#/components/schemas/PlayerGame'
          type: array
        ShootoutPlays:
          items:
            $ref: '#/components/schemas/Play'
          type: array
        TeamGames:
          items:
            $ref: '#/components/schemas/TeamGame'
          type: array
    DfsSlate:
      example:
        Operator: Operator
        OperatorDay: OperatorDay
        OperatorName: OperatorName
        IsMultiDaySlate: true
        SlateID: 1
        DfsSlateGames:
        - RemovedByOperator: true
          Game:
            AwayTeam: AwayTeam
            GameEndDateTime: GameEndDateTime
            HomeRotationNumber: 2
            HomeTeamMoneyLine: 7
            HomeTeamID: 4
            AwayTeamID: 1
            IsClosed: true
            DateTime: DateTime
            LastPlay: LastPlay
            TimeRemainingSeconds: 1
            UnderPayout: 4
            GlobalHomeTeamID: 3
            Season: 3
            GameID: 2
            GlobalGameID: 9
            OverPayout: 1
            Attendance: 0
            Status: Status
            HomeTeam: HomeTeam
            Updated: Updated
            TimeRemainingMinutes: 4
            Channel: Channel
            Period: Period
            OverUnder: 1.4894159098541704
            NeutralVenue: true
            StadiumID: 6
            Periods:
            - HomeScore: 1
              ScoringPlays:
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              Penalties:
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              AwayScore: 6
              PeriodID: 2
              GameID: 7
              Name: Name
            - HomeScore: 1
              ScoringPlays:
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              Penalties:
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              AwayScore: 6
              PeriodID: 2
              GameID: 7
              Name: Name
            SeriesInfo:
              GameNumber: 3
              MaxLength: 0
              AwayTeamWins: 5
              HomeTeamWins: 4
            SeasonType: 7
            HomeTeamScore: 1
            PointSpread: 8.969578798196912
            AwayRotationNumber: 6
            PointSpreadAwayTeamMoneyLine: 7
            AwayTeamScore: 5
            GlobalAwayTeamID: 7
            DateTimeUTC: DateTimeUTC
            PointSpreadHomeTeamMoneyLine: 3
            AwayTeamMoneyLine: 5
            Day: Day
          OperatorGameID: 6
          SlateGameID: 1
          SlateID: 5
          GameID: 0
        - RemovedByOperator: true
          Game:
            AwayTeam: AwayTeam
            GameEndDateTime: GameEndDateTime
            HomeRotationNumber: 2
            HomeTeamMoneyLine: 7
            HomeTeamID: 4
            AwayTeamID: 1
            IsClosed: true
            DateTime: DateTime
            LastPlay: LastPlay
            TimeRemainingSeconds: 1
            UnderPayout: 4
            GlobalHomeTeamID: 3
            Season: 3
            GameID: 2
            GlobalGameID: 9
            OverPayout: 1
            Attendance: 0
            Status: Status
            HomeTeam: HomeTeam
            Updated: Updated
            TimeRemainingMinutes: 4
            Channel: Channel
            Period: Period
            OverUnder: 1.4894159098541704
            NeutralVenue: true
            StadiumID: 6
            Periods:
            - HomeScore: 1
              ScoringPlays:
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              Penalties:
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              AwayScore: 6
              PeriodID: 2
              GameID: 7
              Name: Name
            - HomeScore: 1
              ScoringPlays:
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              - EmptyNet: true
                ShortHanded: true
                TimeRemainingMinutes: 0
                PowerPlay: true
                AssistedByPlayerID2: 5
                AssistedByPlayerID1: 6
                PeriodID: 3
                Sequence: 6
                TimeRemainingSeconds: 4
                HomeTeamScore: 3
                AwayTeamScore: 6
                ScoringPlayID: 7
                AllowedByTeamID: 6
                ScoredByTeamID: 0
                ScoredByPlayerID: 7
              Penalties:
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              - Description: Description
                TimeRemainingMinutes: 6
                DrawnByTeamID: 9
                IsBenchPenalty: true
                PeriodID: 6
                Sequence: 3
                PenaltyMinutes: 9
                PenaltyID: 8
                DrawnByPlayerID: 5
                TimeRemainingSeconds: 1
                PenalizedTeamID: 6
                PenalizedPlayerID: 9
                BenchPenaltyServedByPlayerID: 4
              AwayScore: 6
              PeriodID: 2
              GameID: 7
              Name: Name
            SeriesInfo:
              GameNumber: 3
              MaxLength: 0
              AwayTeamWins: 5
              HomeTeamWins: 4
            SeasonType: 7
            HomeTeamScore: 1
            PointSpread: 8.969578798196912
            AwayRotationNumber: 6
            PointSpreadAwayTeamMoneyLine: 7
            AwayTeamScore: 5
            GlobalAwayTeamID: 7
            DateTimeUTC: DateTimeUTC
            PointSpreadHomeTeamMoneyLine: 3
            AwayTeamMoneyLine: 5
            Day: Day
          OperatorGameID: 6
          SlateGameID: 1
          SlateID: 5
          GameID: 0
        SlateRosterSlots:
        - SlateRosterSlots
        - SlateRosterSlots
        SalaryCap: 1
        OperatorStartTime: OperatorStartTime
        NumberOfGames: 7
        RemovedByOperator: true
        OperatorGameType: OperatorGameType
        DfsSlatePlayers:
        - PlayerID: 7
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 3
          SlatePlayerID: 2
          TeamID: 4
          PlayerGameProjectionStatID: 2
          OperatorSalary: 5
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 9
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        - PlayerID: 7
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 3
          SlatePlayerID: 2
          TeamID: 4
          PlayerGameProjectionStatID: 2
          OperatorSalary: 5
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 9
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        OperatorSlateID: 1
      properties:
        DfsSlateGames:
          items:
            $ref: '#/components/schemas/DfsSlateGame'
          type: array
        DfsSlatePlayers:
          items:
            $ref: '#/components/schemas/DfsSlatePlayer'
          type: array
        IsMultiDaySlate:
          nullable: true
          type: boolean
        NumberOfGames:
          nullable: true
          type: integer
        Operator:
          nullable: true
          type: string
        OperatorDay:
          nullable: true
          type: string
        OperatorGameType:
          nullable: true
          type: string
        OperatorName:
          nullable: true
          type: string
        OperatorSlateID:
          nullable: true
          type: integer
        OperatorStartTime:
          nullable: true
          type: string
        RemovedByOperator:
          nullable: true
          type: boolean
        SalaryCap:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlateRosterSlots:
          items:
            nullable: true
            type: string
          type: array
    DfsSlateGame:
      example:
        RemovedByOperator: true
        Game:
          AwayTeam: AwayTeam
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 2
          HomeTeamMoneyLine: 7
          HomeTeamID: 4
          AwayTeamID: 1
          IsClosed: true
          DateTime: DateTime
          LastPlay: LastPlay
          TimeRemainingSeconds: 1
          UnderPayout: 4
          GlobalHomeTeamID: 3
          Season: 3
          GameID: 2
          GlobalGameID: 9
          OverPayout: 1
          Attendance: 0
          Status: Status
          HomeTeam: HomeTeam
          Updated: Updated
          TimeRemainingMinutes: 4
          Channel: Channel
          Period: Period
          OverUnder: 1.4894159098541704
          NeutralVenue: true
          StadiumID: 6
          Periods:
          - HomeScore: 1
            ScoringPlays:
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            Penalties:
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            AwayScore: 6
            PeriodID: 2
            GameID: 7
            Name: Name
          - HomeScore: 1
            ScoringPlays:
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            - EmptyNet: true
              ShortHanded: true
              TimeRemainingMinutes: 0
              PowerPlay: true
              AssistedByPlayerID2: 5
              AssistedByPlayerID1: 6
              PeriodID: 3
              Sequence: 6
              TimeRemainingSeconds: 4
              HomeTeamScore: 3
              AwayTeamScore: 6
              ScoringPlayID: 7
              AllowedByTeamID: 6
              ScoredByTeamID: 0
              ScoredByPlayerID: 7
            Penalties:
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            - Description: Description
              TimeRemainingMinutes: 6
              DrawnByTeamID: 9
              IsBenchPenalty: true
              PeriodID: 6
              Sequence: 3
              PenaltyMinutes: 9
              PenaltyID: 8
              DrawnByPlayerID: 5
              TimeRemainingSeconds: 1
              PenalizedTeamID: 6
              PenalizedPlayerID: 9
              BenchPenaltyServedByPlayerID: 4
            AwayScore: 6
            PeriodID: 2
            GameID: 7
            Name: Name
          SeriesInfo:
            GameNumber: 3
            MaxLength: 0
            AwayTeamWins: 5
            HomeTeamWins: 4
          SeasonType: 7
          HomeTeamScore: 1
          PointSpread: 8.969578798196912
          AwayRotationNumber: 6
          PointSpreadAwayTeamMoneyLine: 7
          AwayTeamScore: 5
          GlobalAwayTeamID: 7
          DateTimeUTC: DateTimeUTC
          PointSpreadHomeTeamMoneyLine: 3
          AwayTeamMoneyLine: 5
          Day: Day
        OperatorGameID: 6
        SlateGameID: 1
        SlateID: 5
        GameID: 0
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        GameID:
          nullable: true
          type: integer
        OperatorGameID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateGameID:
          nullable: false
          type: integer
        SlateID:
          nullable: false
          type: integer
    DfsSlatePlayer:
      example:
        PlayerID: 7
        OperatorPosition: OperatorPosition
        OperatorPlayerName: OperatorPlayerName
        SlateID: 3
        SlatePlayerID: 2
        TeamID: 4
        PlayerGameProjectionStatID: 2
        OperatorSalary: 5
        RemovedByOperator: true
        OperatorRosterSlots:
        - OperatorRosterSlots
        - OperatorRosterSlots
        OperatorSlatePlayerID: OperatorSlatePlayerID
        SlateGameID: 9
        Team: Team
        OperatorPlayerID: OperatorPlayerID
      properties:
        OperatorPlayerID:
          nullable: true
          type: string
        OperatorPlayerName:
          nullable: true
          type: string
        OperatorPosition:
          nullable: true
          type: string
        OperatorRosterSlots:
          items:
            nullable: true
            type: string
          type: array
        OperatorSalary:
          nullable: true
          type: integer
        OperatorSlatePlayerID:
          nullable: true
          type: string
        PlayerGameProjectionStatID:
          nullable: true
          type: integer
        PlayerID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateGameID:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlatePlayerID:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
    Game:
      example:
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        HomeRotationNumber: 2
        HomeTeamMoneyLine: 7
        HomeTeamID: 4
        AwayTeamID: 1
        IsClosed: true
        DateTime: DateTime
        LastPlay: LastPlay
        TimeRemainingSeconds: 1
        UnderPayout: 4
        GlobalHomeTeamID: 3
        Season: 3
        GameID: 2
        GlobalGameID: 9
        OverPayout: 1
        Attendance: 0
        Status: Status
        HomeTeam: HomeTeam
        Updated: Updated
        TimeRemainingMinutes: 4
        Channel: Channel
        Period: Period
        OverUnder: 1.4894159098541704
        NeutralVenue: true
        StadiumID: 6
        Periods:
        - HomeScore: 1
          ScoringPlays:
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          Penalties:
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          AwayScore: 6
          PeriodID: 2
          GameID: 7
          Name: Name
        - HomeScore: 1
          ScoringPlays:
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          - EmptyNet: true
            ShortHanded: true
            TimeRemainingMinutes: 0
            PowerPlay: true
            AssistedByPlayerID2: 5
            AssistedByPlayerID1: 6
            PeriodID: 3
            Sequence: 6
            TimeRemainingSeconds: 4
            HomeTeamScore: 3
            AwayTeamScore: 6
            ScoringPlayID: 7
            AllowedByTeamID: 6
            ScoredByTeamID: 0
            ScoredByPlayerID: 7
          Penalties:
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          - Description: Description
            TimeRemainingMinutes: 6
            DrawnByTeamID: 9
            IsBenchPenalty: true
            PeriodID: 6
            Sequence: 3
            PenaltyMinutes: 9
            PenaltyID: 8
            DrawnByPlayerID: 5
            TimeRemainingSeconds: 1
            PenalizedTeamID: 6
            PenalizedPlayerID: 9
            BenchPenaltyServedByPlayerID: 4
          AwayScore: 6
          PeriodID: 2
          GameID: 7
          Name: Name
        SeriesInfo:
          GameNumber: 3
          MaxLength: 0
          AwayTeamWins: 5
          HomeTeamWins: 4
        SeasonType: 7
        HomeTeamScore: 1
        PointSpread: 8.969578798196912
        AwayRotationNumber: 6
        PointSpreadAwayTeamMoneyLine: 7
        AwayTeamScore: 5
        GlobalAwayTeamID: 7
        DateTimeUTC: DateTimeUTC
        PointSpreadHomeTeamMoneyLine: 3
        AwayTeamMoneyLine: 5
        Day: Day
      properties:
        Attendance:
          nullable: true
          type: integer
        AwayRotationNumber:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: false
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          type: integer
        AwayTeamScore:
          nullable: true
          type: integer
        Channel:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        GlobalAwayTeamID:
          nullable: false
          type: integer
        GlobalGameID:
          nullable: false
          type: integer
        GlobalHomeTeamID:
          nullable: false
          type: integer
        HomeRotationNumber:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: false
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          type: integer
        HomeTeamScore:
          nullable: true
          type: integer
        IsClosed:
          nullable: true
          type: boolean
        LastPlay:
          nullable: true
          type: string
        NeutralVenue:
          nullable: true
          type: boolean
        OverPayout:
          nullable: true
          type: integer
        OverUnder:
          nullable: true
          type: number
        Period:
          nullable: true
          type: string
        Periods:
          items:
            $ref: '#/components/schemas/Period'
          type: array
        PointSpread:
          nullable: true
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        SeriesInfo:
          $ref: '#/components/schemas/Series'
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
        UnderPayout:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
    News:
      example:
        PlayerID: 6
        Updated: Updated
        TermsOfUse: TermsOfUse
        Content: Content
        Title: Title
        Team: Team
        TeamID: 1
        Source: Source
        Url: Url
        NewsID: 0
      properties:
        Content:
          nullable: true
          type: string
        NewsID:
          nullable: false
          type: integer
        PlayerID:
          nullable: true
          type: integer
        Source:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        TermsOfUse:
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
        Url:
          nullable: true
          type: string
    OpponentSeason:
      example:
        ShootoutGoals: 4.459605034958679
        GoaltendingShotsAgainst: 4.078845849666752
        GlobalTeamID: 4
        Minutes: 7
        ShortHandedAssists: 3.901545264248647
        Name: Name
        PlusMinus: 9.702963800023566
        ShotsOnGoal: 2.9409642974827896
        GoaltendingMinutes: 3
        PowerPlayAssists: 0.5199002018724985
        Takeaways: 6.623518433804886
        ShortHandedGoals: 0.43431398824148815
        Wins: 8
        OpponentPosition: OpponentPosition
        FaceoffsLost: 5.944895607614016
        GoaltendingOvertimeLosses: 7.04836565559697
        Updated: Updated
        FaceoffsWon: 6.704019297950036
        FantasyPointsFanDuel: 7.143538047012306
        PenaltyMinutes: 0.8774076871421566
        Assists: 1.284659006116532
        Losses: 4
        GoaltendingWins: 6.628464275087742
        FantasyPointsDraftKings: 3.0937452626664474
        GoaltendingGoalsAgainst: 7.740351818741173
        Games: 6
        Goals: 8.969578798196912
        StatID: 8
        Hits: 1.041444916118296
        Started: 1
        GoaltendingSeconds: 3
        GoaltendingLosses: 3.0205796992916243
        FantasyPointsYahoo: 7.058770351582356
        TeamID: 4
        EmptyNetGoals: 6.878052220127876
        PowerPlayGoals: 7.933506881737151
        FantasyPointsFantasyDraft: 0.8851374739011653
        GoaltendingSaves: 5.533258397034986
        Team: Team
        Season: 5
        Shifts: 8.251625748923757
        FantasyPoints: 3.353193347011243
        Blocks: 6.778324963048013
        BenchPenaltyMinutes: 2.8841621266687802
        OvertimeLosses: 9
        Giveaways: 0.10263654006109402
        HatTricks: 4.258773108174356
        GoaltendingShutouts: 0.2025324113236393
        SeasonType: 4
        Seconds: 6
      properties:
        Assists:
          nullable: true
          type: number
        BenchPenaltyMinutes:
          nullable: true
          type: number
        Blocks:
          nullable: true
          type: number
        EmptyNetGoals:
          nullable: true
          type: number
        FaceoffsLost:
          nullable: true
          type: number
        FaceoffsWon:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        Games:
          nullable: true
          type: integer
        Giveaways:
          nullable: true
          type: number
        GlobalTeamID:
          nullable: true
          type: integer
        Goals:
          nullable: true
          type: number
        GoaltendingGoalsAgainst:
          nullable: true
          type: number
        GoaltendingLosses:
          nullable: true
          type: number
        GoaltendingMinutes:
          nullable: true
          type: integer
        GoaltendingOvertimeLosses:
          nullable: true
          type: number
        GoaltendingSaves:
          nullable: true
          type: number
        GoaltendingSeconds:
          nullable: true
          type: integer
        GoaltendingShotsAgainst:
          nullable: true
          type: number
        GoaltendingShutouts:
          nullable: true
          type: number
        GoaltendingWins:
          nullable: true
          type: number
        HatTricks:
          nullable: true
          type: number
        Hits:
          nullable: true
          type: number
        Losses:
          nullable: true
          type: integer
        Minutes:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        OpponentPosition:
          nullable: true
          type: string
        OvertimeLosses:
          nullable: true
          type: integer
        PenaltyMinutes:
          nullable: true
          type: number
        PlusMinus:
          nullable: true
          type: number
        PowerPlayAssists:
          nullable: true
          type: number
        PowerPlayGoals:
          nullable: true
          type: number
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        Seconds:
          nullable: true
          type: integer
        Shifts:
          nullable: true
          type: number
        ShootoutGoals:
          nullable: true
          type: number
        ShortHandedAssists:
          nullable: true
          type: number
        ShortHandedGoals:
          nullable: true
          type: number
        ShotsOnGoal:
          nullable: true
          type: number
        Started:
          nullable: true
          type: integer
        StatID:
          nullable: false
          type: integer
        Takeaways:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        Wins:
          nullable: true
          type: integer
    Penalty:
      example:
        Description: Description
        TimeRemainingMinutes: 6
        DrawnByTeamID: 9
        IsBenchPenalty: true
        PeriodID: 6
        Sequence: 3
        PenaltyMinutes: 9
        PenaltyID: 8
        DrawnByPlayerID: 5
        TimeRemainingSeconds: 1
        PenalizedTeamID: 6
        PenalizedPlayerID: 9
        BenchPenaltyServedByPlayerID: 4
      properties:
        BenchPenaltyServedByPlayerID:
          nullable: true
          type: integer
        Description:
          nullable: true
          type: string
        DrawnByPlayerID:
          nullable: true
          type: integer
        DrawnByTeamID:
          nullable: true
          type: integer
        IsBenchPenalty:
          nullable: true
          type: boolean
        PenalizedPlayerID:
          nullable: true
          type: integer
        PenalizedTeamID:
          nullable: true
          type: integer
        PenaltyID:
          nullable: false
          type: integer
        PenaltyMinutes:
          nullable: true
          type: integer
        PeriodID:
          nullable: false
          type: integer
        Sequence:
          nullable: true
          type: integer
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
    Period:
      example:
        HomeScore: 1
        ScoringPlays:
        - EmptyNet: true
          ShortHanded: true
          TimeRemainingMinutes: 0
          PowerPlay: true
          AssistedByPlayerID2: 5
          AssistedByPlayerID1: 6
          PeriodID: 3
          Sequence: 6
          TimeRemainingSeconds: 4
          HomeTeamScore: 3
          AwayTeamScore: 6
          ScoringPlayID: 7
          AllowedByTeamID: 6
          ScoredByTeamID: 0
          ScoredByPlayerID: 7
        - EmptyNet: true
          ShortHanded: true
          TimeRemainingMinutes: 0
          PowerPlay: true
          AssistedByPlayerID2: 5
          AssistedByPlayerID1: 6
          PeriodID: 3
          Sequence: 6
          TimeRemainingSeconds: 4
          HomeTeamScore: 3
          AwayTeamScore: 6
          ScoringPlayID: 7
          AllowedByTeamID: 6
          ScoredByTeamID: 0
          ScoredByPlayerID: 7
        Penalties:
        - Description: Description
          TimeRemainingMinutes: 6
          DrawnByTeamID: 9
          IsBenchPenalty: true
          PeriodID: 6
          Sequence: 3
          PenaltyMinutes: 9
          PenaltyID: 8
          DrawnByPlayerID: 5
          TimeRemainingSeconds: 1
          PenalizedTeamID: 6
          PenalizedPlayerID: 9
          BenchPenaltyServedByPlayerID: 4
        - Description: Description
          TimeRemainingMinutes: 6
          DrawnByTeamID: 9
          IsBenchPenalty: true
          PeriodID: 6
          Sequence: 3
          PenaltyMinutes: 9
          PenaltyID: 8
          DrawnByPlayerID: 5
          TimeRemainingSeconds: 1
          PenalizedTeamID: 6
          PenalizedPlayerID: 9
          BenchPenaltyServedByPlayerID: 4
        AwayScore: 6
        PeriodID: 2
        GameID: 7
        Name: Name
      properties:
        AwayScore:
          nullable: true
          type: integer
        GameID:
          nullable: false
          type: integer
        HomeScore:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        Penalties:
          items:
            $ref: '#/components/schemas/Penalty'
          type: array
        PeriodID:
          nullable: false
          type: integer
        ScoringPlays:
          items:
            $ref: '#/components/schemas/ScoringPlay'
          type: array
    Play:
      example:
        PlayerID: 7
        OpposingPlayerID: 1
        Category: Category
        Description: Description
        Updated: Updated
        PowerPlayTeam: PowerPlayTeam
        ClockMinutes: 1
        PowerPlayTeamID: 7
        SecondAssistedByPlayerID: 7
        PeriodID: 3
        Sequence: 9
        PlayID: 9
        TeamID: 1
        Created: Created
        OpponentID: 3
        Type: Type
        HomeTeamScore: 5
        FirstAssistedByPlayerID: 5
        Opponent: Opponent
        AwayTeamScore: 5
        Team: Team
        PeriodName: PeriodName
        ClockSeconds: 4
      properties:
        AwayTeamScore:
          nullable: true
          type: integer
        Category:
          nullable: true
          type: string
        ClockMinutes:
          nullable: true
          type: integer
        ClockSeconds:
          nullable: true
          type: integer
        Created:
          nullable: true
          type: string
        Description:
          nullable: true
          type: string
        FirstAssistedByPlayerID:
          nullable: true
          type: integer
        HomeTeamScore:
          nullable: true
          type: integer
        Opponent:
          nullable: true
          type: string
        OpponentID:
          nullable: true
          type: integer
        OpposingPlayerID:
          nullable: true
          type: integer
        PeriodID:
          nullable: false
          type: integer
        PeriodName:
          nullable: true
          type: string
        PlayID:
          nullable: false
          type: integer
        PlayerID:
          nullable: true
          type: integer
        PowerPlayTeam:
          nullable: true
          type: string
        PowerPlayTeamID:
          nullable: true
          type: integer
        SecondAssistedByPlayerID:
          nullable: true
          type: integer
        Sequence:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Type:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
    Player:
      example:
        PlayerID: 3
        FantasyDraftPlayerID: 5
        InjuryStartDate: InjuryStartDate
        YahooName: YahooName
        GlobalTeamID: 2
        FanDuelName: FanDuelName
        RotoworldPlayerID: 4
        TeamID: 1
        InjuryStatus: InjuryStatus
        UsaTodayHeadshotUpdated: UsaTodayHeadshotUpdated
        Catches: Catches
        SportsDirectPlayerID: 7
        DraftKingsPlayerID: 6
        UsaTodayPlayerID: 1
        DepthChartPosition: DepthChartPosition
        UsaTodayHeadshotNoBackgroundUpdated: UsaTodayHeadshotNoBackgroundUpdated
        Height: 7
        Team: Team
        Jersey: 9
        PhotoUrl: PhotoUrl
        Shoots: Shoots
        YahooPlayerID: 1
        FantasyDraftName: FantasyDraftName
        StatsPlayerID: 1
        Status: Status
        Position: Position
        FanDuelPlayerID: 1
        FirstName: FirstName
        UsaTodayHeadshotNoBackgroundUrl: UsaTodayHeadshotNoBackgroundUrl
        UsaTodayHeadshotUrl: UsaTodayHeadshotUrl
        BirthState: BirthState
        XmlTeamPlayerID: 7
        DraftKingsName: DraftKingsName
        InjuryBodyPart: InjuryBodyPart
        Weight: 6
        InjuryNotes: InjuryNotes
        RotoWirePlayerID: 2
        DepthChartOrder: 0
        FantasyAlarmPlayerID: 5
        SportRadarPlayerID: SportRadarPlayerID
        BirthCity: BirthCity
        LastName: LastName
        BirthDate: BirthDate
      properties:
        BirthCity:
          nullable: true
          type: string
        BirthDate:
          nullable: true
          type: string
        BirthState:
          nullable: true
          type: string
        Catches:
          nullable: true
          type: string
        DepthChartOrder:
          nullable: true
          type: integer
        DepthChartPosition:
          nullable: true
          type: string
        DraftKingsName:
          nullable: true
          type: string
        DraftKingsPlayerID:
          nullable: true
          type: integer
        FanDuelName:
          nullable: true
          type: string
        FanDuelPlayerID:
          nullable: true
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          type: integer
        FantasyDraftName:
          nullable: true
          type: string
        FantasyDraftPlayerID:
          nullable: true
          type: integer
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: integer
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        Jersey:
          nullable: true
          type: integer
        LastName:
          nullable: true
          type: string
        PhotoUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        RotoWirePlayerID:
          nullable: true
          type: integer
        RotoworldPlayerID:
          nullable: true
          type: integer
        Shoots:
          nullable: true
          type: string
        SportRadarPlayerID:
          nullable: true
          type: string
        SportsDirectPlayerID:
          nullable: true
          type: integer
        StatsPlayerID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          type: string
        UsaTodayPlayerID:
          nullable: true
          type: integer
        Weight:
          nullable: true
          type: integer
        XmlTeamPlayerID:
          nullable: true
          type: integer
        YahooName:
          nullable: true
          type: string
        YahooPlayerID:
          nullable: true
          type: integer
    PlayerGame:
      example:
        PlayerID: 8
        FanDuelPosition: FanDuelPosition
        InjuryStartDate: InjuryStartDate
        ShootoutGoals: 0.58919091925136
        GoaltendingShotsAgainst: 7.606863723092579
        GlobalTeamID: 1
        DateTime: DateTime
        InjuryStatus: InjuryStatus
        Minutes: 7
        ShortHandedAssists: 2.535258963197524
        DraftKingsSalary: 9
        Name: Name
        PlusMinus: 4.518309517874243
        ShotsOnGoal: 4.8789878742268815
        GoaltendingMinutes: 0
        PowerPlayAssists: 0.4833312865174044
        Takeaways: 1.3949519358941398
        ShortHandedGoals: 6.173804034172511
        GameID: 8
        FaceoffsLost: 7.933506881737151
        GoaltendingOvertimeLosses: 5.299143560275359
        OpponentPositionRank: 3
        Updated: Updated
        Position: Position
        FaceoffsWon: 5.507386964179881
        FantasyDraftSalary: 8
        FantasyPointsFanDuel: 0.43431398824148815
        PenaltyMinutes: 3.804112695731078
        OpponentID: 0
        Assists: 7.260521264802104
        GoaltendingWins: 3.111202833403195
        FantasyPointsDraftKings: 3.901545264248647
        GoaltendingGoalsAgainst: 9.183123594773994
        Games: 6
        Goals: 3.502657762086401
        StatID: 9
        Hits: 5.877124706116695
        Started: 6
        GoaltendingSeconds: 8
        IsGameOver: true
        GoaltendingLosses: 8.761432466225475
        FantasyPointsYahoo: 1.7325933120207193
        OpponentRank: 2
        TeamID: 1
        YahooSalary: 3
        FantasyDataSalary: 6
        EmptyNetGoals: 0.5199002018724985
        PowerPlayGoals: 0.35262192099236644
        DraftKingsPosition: DraftKingsPosition
        FantasyPointsFantasyDraft: 2.9409642974827896
        GlobalOpponentID: 9
        GoaltendingSaves: 5.312489704336296
        Opponent: Opponent
        Team: Team
        Season: 7
        Shifts: 9.386524999783381
        GlobalGameID: 8
        YahooPosition: YahooPosition
        FantasyDraftPosition: FantasyDraftPosition
        FanDuelSalary: 4
        FantasyPoints: 4.459605034958679
        Blocks: 0.8774076871421566
        BenchPenaltyMinutes: 9.132027271330688
        Giveaways: 4.573936264232251
        HatTricks: 9.897492629215506
        InjuryBodyPart: InjuryBodyPart
        HomeOrAway: HomeOrAway
        InjuryNotes: InjuryNotes
        GoaltendingShutouts: 3.7814124730767915
        SeasonType: 4
        Seconds: 2
        Day: Day
      properties:
        Assists:
          nullable: true
          type: number
        BenchPenaltyMinutes:
          nullable: true
          type: number
        Blocks:
          nullable: true
          type: number
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
[...]
