openapi: 3.0.1
info:
  contact:
    name: Mohamed Enein
  description: APIs for managing software update configurations.
  title: Update Management
  version: 2017-05-15-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/softwareUpdateConfigurationRun.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-softwareUpdateConfigurationRun
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationRuns
  : get:
      description: Return list of software update configuration runs
      externalDocs:
        url: http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations
      operationId: software_update_configuration_runs_list
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Identifies this specific client request.
        in: header
        name: clientRequestId
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The filter to apply on the operation. You can use the following\
          \ filters: 'properties/osType', 'properties/status', 'properties/startTime',\
          \ and 'properties/softwareUpdateConfiguration/name'"
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of entries you skip before returning results
        in: query
        name: $skip
        schema:
          type: string
      - description: Maximum number of entries returned in the results collection
        in: query
        name: $top
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/softwareUpdateConfigurationRunListResult'
          description: Return list of software update configurations runs.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareUpdateConfigurationRuns_List_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Software Update Configuration Run
      x-ms-examples:
        List software update configuration machine run with status equal to 'Failed':
          parameters:
            $filter: properties/status%20eq%20'Failed'
            api-version: 2017-05-15-preview
            automationAccountName: myaccount
            resourceGroupName: mygroup
            softwareUpdateConfigurationRunId: a2c7c4b8-55d6-4505-bea7-756e93b18a35
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/stas-wcus/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&_=1508725900015&$skip=100
                value:
                - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/2bd77cfa-2e9c-41b4-a45b-684a77cfeca9
                  name: 2bd77cfa-2e9c-41b4-a45b-684a77cfeca9
                  properties:
                    computerCount: 1
                    configuredDuration: PT2H
                    creationTime: 2017-10-23T02:30:36.2401233+00:00
                    endTime: 2017-10-23T02:30:42.8466667+00:00
                    failedCount: 0
                    lastModifiedBy: ""
                    lastModifiedTime: 2017-10-23T02:31:39.3966667+00:00
                    osType: Windows
                    softwareUpdateConfiguration:
                      name: mypatch
                    startTime: 2017-10-23T02:30:36.2401233+00:00
                    status: Failed
                    tasks:
                      preTask:
                        jobId: be430e9e-2290-462e-8f86-686407c35fab
                        source: preRunbook
                        status: Completed
                - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/5dabff55-9812-4a58-af16-b0cb1d9384e8
                  name: 5dabff55-9812-4a58-af16-b0cb1d9384e8
                  properties:
                    computerCount: 1
                    configuredDuration: PT2H
                    creationTime: 2017-10-23T01:33:01.8818952+00:00
                    endTime: 2017-10-23T01:33:08.1133333+00:00
                    failedCount: 0
                    lastModifiedBy: ""
                    lastModifiedTime: 2017-10-23T01:34:03.94+00:00
                    osType: Windows
                    softwareUpdateConfiguration:
                      name: mypatch
                    startTime: 2017-10-23T01:33:01.8818952+00:00
                    status: Failed
                    tasks:
                      preTask:
                        jobId: be430e9e-2290-462e-8f86-686407c35fab
                        source: preRunbook
                        status: Completed
              headers: {}
        List software update configuration machine runs:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myaccount
            resourceGroupName: mygroup
            softwareUpdateConfigurationRunId: a2c7c4b8-55d6-4505-bea7-756e93b18a35
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/stas-wcus/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&_=1508725900015&$skip=100
                value:
                - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/2bd77cfa-2e9c-41b4-a45b-684a77cfeca9
                  name: 2bd77cfa-2e9c-41b4-a45b-684a77cfeca9
                  properties:
                    computerCount: 1
                    configuredDuration: PT2H
                    creationTime: 2017-10-23T02:30:36.2401233+00:00
                    endTime: 2017-10-23T02:30:42.8466667+00:00
                    failedCount: 0
                    lastModifiedBy: ""
                    lastModifiedTime: 2017-10-23T02:31:39.3966667+00:00
                    osType: Windows
                    softwareUpdateConfiguration:
                      name: mypatch
                    startTime: 2017-10-23T02:30:36.2401233+00:00
                    status: Succeeded
                    tasks:
                      preTask:
                        jobId: be430e9e-2290-462e-8f86-686407c35fab
                        source: preRunbook
                        status: Completed
                - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/5dabff55-9812-4a58-af16-b0cb1d9384e8
                  name: 5dabff55-9812-4a58-af16-b0cb1d9384e8
                  properties:
                    computerCount: 1
                    configuredDuration: PT2H
                    creationTime: 2017-10-23T01:33:01.8818952+00:00
                    endTime: 2017-10-23T01:33:08.1133333+00:00
                    failedCount: 0
                    lastModifiedBy: ""
                    lastModifiedTime: 2017-10-23T01:34:03.94+00:00
                    osType: Windows
                    softwareUpdateConfiguration:
                      name: mypatch
                    startTime: 2017-10-23T01:33:01.8818952+00:00
                    status: Succeeded
                    tasks:
                      preTask:
                        jobId: be430e9e-2290-462e-8f86-686407c35fab
                        source: preRunbook
                        status: Completed
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.software_update_configuration_run_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationRuns/{softwareUpdateConfigurationRunId}
  : get:
      description: Get a single software update configuration Run by Id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/softwareupdateconfigurationrunoperations
      operationId: software_update_configuration_runs_get_by_id
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Id of the software update configuration run.
        in: path
        name: softwareUpdateConfigurationRunId
        required: true
        schema:
          format: uuid
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Identifies this specific client request.
        in: header
        name: clientRequestId
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/softwareUpdateConfigurationRun'
          description: A single software update configuration Run.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareUpdateConfigurationRuns_List_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Software Update Configuration Run
      x-ms-examples:
        Get software update configuration runs by Id:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myaccount
            resourceGroupName: mygroup
            softwareUpdateConfigurationRunId: 2bd77cfa-2e9c-41b4-a45b-684a77cfeca9
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/2bd77cfa-2e9c-41b4-a45b-684a77cfeca9
                name: 2bd77cfa-2e9c-41b4-a45b-684a77cfeca9
                properties:
                  computerCount: 1
                  configuredDuration: PT2H
                  creationTime: 2017-10-23T02:30:36.2401233+00:00
                  endTime: 2017-10-23T02:30:42.8466667+00:00
                  failedCount: 0
                  lastModifiedBy: ""
                  lastModifiedTime: 2017-10-23T02:31:39.3966667+00:00
                  osType: Windows
                  softwareUpdateConfiguration:
                    name: mypatch
                  startTime: 2017-10-23T02:30:36.2401233+00:00
                  status: Succeeded
                  tasks:
                    preTask:
                      jobId: be430e9e-2290-462e-8f86-686407c35fab
                      source: preRunbook
                      status: Completed
              headers: {}
      x-openapi-router-controller: openapi_server.controllers.software_update_configuration_run_controller
components:
  schemas:
    softareUpdateConfigurationRunTaskProperties:
      description: Task properties of the software update configuration.
      example:
        jobId: jobId
        source: source
        status: status
      properties:
        jobId:
          description: The job id of the task.
          title: jobId
          type: string
        source:
          description: The name of the source of the task.
          title: source
          type: string
        status:
          description: The status of the task.
          title: status
          type: string
      title: softareUpdateConfigurationRunTaskProperties
      type: object
    softareUpdateConfigurationRunTasks:
      description: Software update configuration run tasks model.
      example:
        preTask:
          jobId: jobId
          source: source
          status: status
        postTask:
          jobId: jobId
          source: source
          status: status
      properties:
        postTask:
          $ref: '#/components/schemas/softareUpdateConfigurationRunTaskProperties'
        preTask:
          $ref: '#/components/schemas/softareUpdateConfigurationRunTaskProperties'
      title: softareUpdateConfigurationRunTasks
      type: object
    softwareUpdateConfigurationRun:
      description: Software update configuration Run properties.
      example:
        name: name
        id: id
        properties:
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          configuredDuration: configuredDuration
          creationTime: 2000-01-23T04:56:07.000+00:00
          lastModifiedBy: lastModifiedBy
          softwareUpdateConfiguration:
            name: name
          computerCount: 0
          failedCount: 6
          createdBy: createdBy
          osType: osType
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          tasks:
            preTask:
              jobId: jobId
              source: source
              status: status
            postTask:
              jobId: jobId
              source: source
              status: status
          status: status
      properties:
        id:
          description: Resource Id of the software update configuration run
          readOnly: true
          title: id
          type: string
        name:
          description: Name of the software update configuration run.
          readOnly: true
          title: name
          type: string
        properties:
          $ref: '#/components/schemas/softwareUpdateConfigurationRunProperties'
      title: softwareUpdateConfigurationRun
      type: object
      x-ms-azure-resource: false
    softwareUpdateConfigurationRunListResult:
      description: result of listing all software update configuration runs
      example:
        value:
        - name: name
          id: id
          properties:
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            configuredDuration: configuredDuration
            creationTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedBy: lastModifiedBy
            softwareUpdateConfiguration:
              name: name
            computerCount: 0
            failedCount: 6
            createdBy: createdBy
            osType: osType
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            tasks:
              preTask:
                jobId: jobId
                source: source
                status: status
              postTask:
                jobId: jobId
                source: source
                status: status
            status: status
        - name: name
          id: id
          properties:
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            configuredDuration: configuredDuration
            creationTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedBy: lastModifiedBy
            softwareUpdateConfiguration:
              name: name
            computerCount: 0
            failedCount: 6
            createdBy: createdBy
            osType: osType
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            tasks:
              preTask:
                jobId: jobId
                source: source
                status: status
              postTask:
                jobId: jobId
                source: source
                status: status
            status: status
        nextLink: nextLink
      properties:
        nextLink:
          description: link to next page of results.
          title: nextLink
          type: string
        value:
          description: outer object returned when listing all software update configuration
            runs
          items:
            $ref: '#/components/schemas/softwareUpdateConfigurationRun'
          title: value
          type: array
      title: softwareUpdateConfigurationRunListResult
      type: object
    softwareUpdateConfigurationRunProperties:
      description: Software update configuration properties.
      example:
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        configuredDuration: configuredDuration
        creationTime: 2000-01-23T04:56:07.000+00:00
        lastModifiedBy: lastModifiedBy
        softwareUpdateConfiguration:
          name: name
        computerCount: 0
        failedCount: 6
        createdBy: createdBy
        osType: osType
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        tasks:
          preTask:
            jobId: jobId
            source: source
            status: status
          postTask:
            jobId: jobId
            source: source
            status: status
        status: status
      properties:
        computerCount:
          description: Number of computers in the software update configuration run.
          readOnly: true
          title: computerCount
          type: integer
        configuredDuration:
          description: Configured duration for the software update configuration run.
          readOnly: true
          title: configuredDuration
          type: string
        createdBy:
          description: "CreatedBy property, which only appears in the response."
          readOnly: true
          title: createdBy
          type: string
        creationTime:
          description: "Creation time of the resource, which only appears in the response."
          format: date-time
          nullable: false
          readOnly: true
          title: creationTime
          type: string
        endTime:
          description: End time of the software update configuration run.
          format: date-time
          nullable: true
          readOnly: true
          title: endTime
          type: string
        failedCount:
          description: Number of computers with failed status.
          readOnly: true
          title: failedCount
          type: integer
        lastModifiedBy:
          description: "LastModifiedBy property, which only appears in the response."
          readOnly: true
          title: lastModifiedBy
          type: string
        lastModifiedTime:
          description: "Last time resource was modified, which only appears in the\
            \ response."
          format: date-time
          nullable: false
          readOnly: true
          title: lastModifiedTime
          type: string
        osType:
          description: Operating system target of the software update configuration
            triggered this run
          readOnly: true
          title: osType
          type: string
        softwareUpdateConfiguration:
          $ref: '#/components/schemas/updateConfigurationNavigation'
        startTime:
          description: Start time of the software update configuration run.
          format: date-time
          nullable: false
          readOnly: true
          title: startTime
          type: string
        status:
          description: Status of the software update configuration run.
          readOnly: true
          title: status
          type: string
        tasks:
          $ref: '#/components/schemas/softareUpdateConfigurationRunTasks'
      title: softwareUpdateConfigurationRunProperties
      type: object
    updateConfigurationNavigation:
      description: Software update configuration Run Navigation model.
      example:
        name: name
      properties:
        name:
          description: Name of the software update configuration triggered the software
            update configuration run
          readOnly: true
          title: name
          type: string
      title: updateConfigurationNavigation
      type: object
    SoftwareUpdateConfigurationRuns_List_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: SoftwareUpdateConfigurationRuns_List_default_response
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
