openapi: 3.0.1
info:
  contact:
    email: azuremigratehub@microsoft.com
    name: Microsoft
  description: Migrate your workloads to Azure.
  title: Azure Migrate Hub
  version: 2018-09-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/migrateprojects/resource-manager/Microsoft.Migrate/preview/2018-09-01-preview/migrate.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: migrateprojects-migrate
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Migrate/operations:
    get:
      description: Get a list of REST API supported by Microsoft.Migrate provider.
      operationId: Operations_List
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultList'
          description: OK. Returns list of operations.
      summary: Get list of operations supported in the API.
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2018-09-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                - display:
                    description: Reads a migrate project
                    operation: Read
                    provider: Microsoft.Migrate
                    resource: Microsoft.Migrate/MigrateProjects
                  name: Microsoft.Migrate/MigrateProjects/read
                  origin: "user,system"
                - display:
                    description: Creates or updates a migrate project
                    operation: Write
                    provider: Microsoft.Migrate
                    resource: Microsoft.Migrate/MigrateProjects
                  name: Microsoft.Migrate/MigrateProjects/Write
                  origin: "user,system"
                - display:
                    description: Deletes a migrate project
                    operation: Delete
                    provider: Microsoft.Migrate
                    resource: Microsoft.Migrate/MigrateProjects
                  name: Microsoft.Migrate/MigrateProjects/Delete
                  origin: "user,system"
                - display:
                    description: Registers a tool with the migrate project
                    operation: Register tool with migrate project
                    provider: Microsoft.Migrate
                    resource: Microsoft.Migrate/MigrateProjects
                  name: Microsoft.Migrate/MigrateProjects/registerTool/action
                  origin: "user,system"
                - display:
                    description: Reads a solution
                    operation: Read
                    provider: Microsoft.Migrate
                    resource: Microsoft.Migrate/MigrateProjects/Solutions
                  name: Microsoft.Migrate/MigrateProjects/Solutions/read
                  origin: "user,system"
                - display:
                    description: Creates or updates a solution
                    operation: Write
                    provider: Microsoft.Migrate
                    resource: Microsoft.Migrate/MigrateProjects/Solutions
                  name: Microsoft.Migrate/MigrateProjects/Solutions/write
                  origin: "user,system"
                - display:
                    description: Deletes a solution
                    operation: Delete
                    provider: Microsoft.Migrate
                    resource: Microsoft.Migrate/MigrateProjects/Solutions
                  name: Microsoft.Migrate/MigrateProjects/Solutions/delete
                  origin: "user,system"
                - display:
                    description: Cleans up data for a solution
                    operation: Cleans up solution data
                    provider: Microsoft.Migrate
                    resource: Microsoft.Migrate/MigrateProjects/Solutions
                  name: Microsoft.Migrate/MigrateProjects/Solutions/cleanupData/action
                  origin: "user,system"
                - display:
                    description: Gets configuration of a solution
                    operation: Gets solution config
                    provider: Microsoft.Migrate
                    resource: Microsoft.Migrate/MigrateProjects/Solutions
                  name: Microsoft.Migrate/MigrateProjects/Solutions/getConfig/action
                  origin: "user,system"
                - display:
                    description: Reads a machine
                    operation: Read
                    provider: Microsoft.Migrate
                    resource: Microsoft.Migrate/MigrateProjects/Machines
                  name: Microsoft.Migrate/MigrateProjects/Machines/read
                  origin: "user,system"
                - display:
                    description: Reads a migrate event
                    operation: Read
                    provider: Microsoft.Migrate
                    resource: Microsoft.Migrate/MigrateProjects/MigrateEvents
                  name: Microsoft.Migrate/MigrateProjects/MigrateEvents/read
                  origin: "user,system"
                - display:
                    description: Deletes a migrate event
                    operation: Delete
                    provider: Microsoft.Migrate
                    resource: Microsoft.Migrate/MigrateProjects/MigrateEvents
                  name: Microsoft.Migrate/MigrateProjects/MigrateEvents/delete
                  origin: "user,system"
                - display:
                    description: Reads a database
                    operation: Read
                    provider: Microsoft.Migrate
                    resource: Microsoft.Migrate/MigrateProjects/Databases
                  name: Microsoft.Migrate/MigrateProjects/Databases/read
                  origin: "user,system"
                - display:
                    description: Reads a database instance
                    operation: Read
                    provider: Microsoft.Migrate
                    resource: Microsoft.Migrate/MigrateProjects/DatabaseInstances
                  name: Microsoft.Migrate/MigrateProjects/DatabaseInstances/read
                  origin: "user,system"
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}
  : delete:
      deprecated: false
      description: Delete the migrate project. Deleting non-existent project is a
        no-operation.
      operationId: MigrateProjects_DeleteMigrateProject
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      - description: Standard request header. Used by service to respond to client
          in appropriate language.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: OK
      summary: Delete the migrate project
      tags:
      - MigrateProjects
      x-ms-examples:
        MigrateProjects_Delete:
          parameters:
            api-version: 2018-09-01-preview
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200": {}
      x-accepts:
      - application/json
    get:
      deprecated: false
      operationId: MigrateProjects_GetMigrateProject
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateProject'
          description: OK
      summary: Method to get a migrate project.
      tags:
      - MigrateProjects
      x-ms-examples:
        MigrateProjects_Get:
          parameters:
            api-version: 2018-09-01-preview
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"1c0018c7-0000-0000-0000-5c936e530000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01
                location: ""
                name: project01
                properties:
                  lastSummaryRefreshedTime: 2019-05-27T12:01:18.6070869Z
                  refreshSummaryState: Completed
                  registeredTools:
                  - ServerMigration
                  summary:
                    databases:
                      extendedSummary: {}
                      instanceType: Databases
                      lastSummaryRefreshedTime: 2019-05-27T12:01:18.6070869Z
                      refreshSummaryState: Completed
                    servers:
                      assessedCount: 0
                      discoveredCount: 0
                      extendedSummary:
                        microsoftDiscoveredCount: "0"
                      instanceType: Servers
                      lastSummaryRefreshedTime: 2019-05-27T12:01:18.6070869Z
                      migratedCount: 0
                      refreshSummaryState: Completed
                      replicatingCount: 0
                      testMigratedCount: 0
                type: Microsoft.Migrate/MigrateProjects
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: "Update a migrate project with specified name. Supports partial\
        \ updates, for example only tags can be provided."
      operationId: MigrateProjects_PatchMigrateProject
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      - description: Standard request header. Used by service to respond to client
          in appropriate language.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrateProject'
        description: Body with migrate project details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateProject'
          description: OK
      summary: Update migrate project.
      tags:
      - MigrateProjects
      x-ms-examples:
        MigrateProjects_Patch:
          parameters:
            api-version: 2018-09-01-preview
            body:
              eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
              location: Southeast Asia
              properties:
                registeredTools:
                - ServerMigration
              tags: {}
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01
                location: Southeast Asia
                name: project01
                properties:
                  lastSummaryRefreshedTime: 2018-11-12T13:11:10.8808917Z
                  registeredTools:
                  - ServerMigration
                  summary: {}
                tags: {}
                type: Microsoft.Migrate/MigrateProjects
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      deprecated: false
      operationId: MigrateProjects_PutMigrateProject
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      - description: Standard request header. Used by service to respond to client
          in appropriate language.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrateProject'
        description: Body with migrate project details.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateProject'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateProject'
          description: Created
      summary: Method to create or update a migrate project.
      tags:
      - MigrateProjects
      x-ms-examples:
        MigrateProjects_Put:
          parameters:
            api-version: 2018-09-01-preview
            body:
              eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
              location: Southeast Asia
              properties: {}
              tags: {}
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01
                location: Southeast Asia
                name: project01
                properties:
                  lastSummaryRefreshedTime: 2018-11-12T13:11:10.8808917Z
                  registeredTools: []
                  summary: {}
                tags: {}
                type: Microsoft.Migrate/MigrateProjects
            "201":
              body:
                eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01
                location: Southeast Asia
                name: project01
                properties:
                  lastSummaryRefreshedTime: 2018-11-12T13:11:10.8808917Z
                  registeredTools: []
                  summary: {}
                tags: {}
                type: Microsoft.Migrate/MigrateProjects
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databaseInstances
  : get:
      deprecated: false
      operationId: DatabaseInstances_EnumerateDatabaseInstances
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      - description: The continuation token.
        in: query
        name: continuationToken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of items to be returned in a single page. This value
          is honored only if it is less than the 100.
        in: query
        name: pageSize
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to respond to client
          in appropriate language.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseInstanceCollection'
          description: OK
      summary: Gets a list of database instances in the migrate project.
      tags:
      - DatabaseInstances
      x-ms-examples:
        DatabaseInstances_List:
          parameters:
            api-version: 2018-09-01-preview
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/DatabaseInstances/71710b61-8637-4beb-9ede-4449296eb80b
                  name: 71710b61-8637-4beb-9ede-4449296eb80b
                  properties:
                    discoveryData:
                    - enqueueTime: 5/4/2019 6:45:51 AM
                      instanceId: abc
                      instanceName: sql2002
                      instanceType: SQL
                      instanceVersion: 2.0.0.0
                      portNumber: 0
                      solutionName: serversolution
                    lastUpdatedTime: 2019-05-04T06:45:53.2530098Z
                    summary:
                      dbsolution:
                        databasesAssessedCount: 0
                        migrationReadyCount: 0
                  type: Microsoft.Migrate/MigrateProjects/DatabaseInstances
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databaseInstances/{databaseInstanceName}
  : get:
      deprecated: false
      operationId: DatabaseInstances_GetDatabaseInstance
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Unique name of a database instance in Azure migration hub.
        in: path
        name: databaseInstanceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      - description: Standard request header. Used by service to respond to client
          in appropriate language.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseInstance'
          description: OK
      summary: Gets a database instance in the migrate project.
      tags:
      - DatabaseInstances
      x-ms-examples:
        DatabaseInstances_Get:
          parameters:
            api-version: 2018-09-01-preview
            databaseInstanceName: myinstance
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/DatabaseInstances/myinstance
                name: myinstance
                properties:
                  discoveryData:
                  - enqueueTime: 5/4/2019 6:45:51 AM
                    instanceId: abc
                    instanceName: sql2002
                    instanceType: SQL
                    instanceVersion: 2.0.0.0
                    portNumber: 0
                    solutionName: serversolution
                  lastUpdatedTime: 2019-05-04T06:45:53.2530098Z
                  summary:
                    dbsolution:
                      databasesAssessedCount: 0
                      migrationReadyCount: 0
                type: Microsoft.Migrate/MigrateProjects/DatabaseInstances
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databases
  : get:
      deprecated: false
      operationId: Databases_EnumerateDatabases
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      - description: The continuation token.
        in: query
        name: continuationToken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of items to be returned in a single page. This value
          is honored only if it is less than the 100.
        in: query
        name: pageSize
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to respond to client
          in appropriate language.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseCollection'
          description: OK
      summary: Gets a list of databases in the migrate project.
      tags:
      - Databases
      x-ms-examples:
        Databases_List:
          parameters:
            api-version: 2018-09-01-preview
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/Databases/8e7aae48-f7cf-4f7b-942f-243921aa20e2
                  name: 8e7aae48-f7cf-4f7b-942f-243921aa20e2
                  properties:
                    assessmentData:
                    - assessmentId: myassessment
                      assessmentTargetType: SQL
                      breakingChangesCount: 0
                      databaseName: mydb
                      enqueueTime: 5/4/2019 6:46:37 AM
                      instanceId: abc
                      isReadyForMigration: true
                      lastAssessedTime: 2019-05-04T06:46:40.4340421Z
                      migrationBlockersCount: 0
                      solutionName: serversolution
                    lastUpdatedTime: 2019-05-04T06:46:40.4340421Z
                  type: Microsoft.Migrate/MigrateProjects/Databases
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databases/{databaseName}
  : get:
      deprecated: false
      operationId: Databases_GetDatabase
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Unique name of a database in Azure migration hub.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      - description: Standard request header. Used by service to respond to client
          in appropriate language.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
          description: OK
      summary: Gets a database in the migrate project.
      tags:
      - Databases
      x-ms-examples:
        Databases_Get:
          parameters:
            api-version: 2018-09-01-preview
            databaseName: mydb
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/Databases/mydb
                name: mydb
                properties:
                  assessmentData:
                  - assessmentId: myassessment
                    assessmentTargetType: SQL
                    breakingChangesCount: 0
                    databaseName: mydb
                    enqueueTime: 5/4/2019 6:46:37 AM
                    instanceId: abc
                    isReadyForMigration: true
                    lastAssessedTime: 2019-05-04T06:46:40.4340421Z
                    migrationBlockersCount: 0
                    solutionName: serversolution
                  lastUpdatedTime: 2019-05-04T06:46:40.4340421Z
                type: Microsoft.Migrate/MigrateProjects/Databases
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/machines
  : get:
      deprecated: false
      operationId: Machines_EnumerateMachines
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      - description: The continuation token.
        in: query
        name: continuationToken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of items to be returned in a single page. This value
          is honored only if it is less than the 100.
        in: query
        name: pageSize
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineCollection'
          description: OK
      summary: Gets a list of machines in the migrate project.
      tags:
      - Machines
      x-ms-examples:
        Machines_List:
          parameters:
            api-version: 2018-09-01-preview
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/machines/vm1
                  name: vm1
                  properties:
                    assessmentData:
                    - assessmentId: myid1
                      enqueueTime: 2017-09-12T13:11:20.8808917Z
                      extendedInfo:
                        custom2: mycustomvalue
                      machineId: abcd
                      machineManagerId: efgh
                      machineName: vm1
                      solutionName: mysolution
                      targetStorageType:
                        disk1: Standard
                      targetVMLocation: eastus
                      targetVMSize: Standard_D4_v2
                    discoveryData:
                    - enqueueTime: 2017-09-12T13:11:10.8808917Z
                      extendedInfo:
                        custom1: mycustomvalue
                      machineId: abcd
                      machineManagerId: efgh
                      machineName: vm1
                      osName: windows server 2012 R2
                      osType: windows
                      osVersion: 10.0.01
                      solutionName: mysolution
                    migrationData:
                    - enqueueTime: 2017-09-12T13:11:30.8808917Z
                      extendedInfo:
                        custom3: mycustomvalue
                      machineId: abcd
                      machineManagerId: efgh
                      machineName: vm1
                      migrationPhase: Migrated
                      migrationTested: true
                      replicationProgressPercentage: 100
                      solutionName: mysolution
                      targetVMArmId: /subscriptions/abc/resourcegroups/rg/providers/microsoft.compute/virtualmachines/vm1
                  type: Microsoft.Migrate/MigrateProjects/machines
                - id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/machines/vm2
                  name: vm2
                  properties:
                    assessmentData:
                    - assessmentId: myid1
                      enqueueTime: 2017-09-12T13:11:20.8808917Z
                      extendedInfo:
                        custom2: mycustomvalue
                      machineId: xyz
                      machineManagerId: efgh
                      machineName: vm2
                      solutionName: mysolution
                      targetStorageType:
                        disk1: Standard
                      targetVMLocation: eastus
                      targetVMSize: Standard_D4_v2
                    discoveryData:
                    - enqueueTime: 2017-09-12T13:11:10.8808917Z
                      extendedInfo:
                        custom1: mycustomvalue
                      machineId: xyz
                      machineManagerId: efgh
                      machineName: vm2
                      osName: windows server 2012 R2
                      osType: windows
                      osVersion: 10.0.01
                      solutionName: mysolution
                    migrationData:
                    - enqueueTime: 2017-09-12T13:11:30.8808917Z
                      extendedInfo:
                        custom3: mycustomvalue
                      machineId: xyz
                      machineManagerId: efgh
                      machineName: vm2
                      migrationPhase: Migrated
                      migrationTested: true
                      replicationProgressPercentage: 100
                      solutionName: mysolution
                      targetVMArmId: /subscriptions/abc/resourcegroups/rg/providers/microsoft.compute/virtualmachines/vm2
                  type: Microsoft.Migrate/MigrateProjects/machines
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/machines/{machineName}
  : get:
      deprecated: false
      operationId: Machines_GetMachine
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      - description: Unique name of a machine in Azure migration hub.
        in: path
        name: machineName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
          description: OK
      summary: Gets a machine in the migrate project.
      tags:
      - Machines
      x-ms-examples:
        Machines_Get:
          parameters:
            api-version: 2018-09-01-preview
            machineName: vm1
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/machines/vm1
                name: vm1
                properties:
                  assessmentData:
                  - assessmentId: myid1
                    enqueueTime: 2017-09-12T13:11:20.8808917Z
                    extendedInfo:
                      custom2: mycustomvalue
                    machineId: abcd
                    machineManagerId: efgh
                    machineName: vm1
                    solutionName: mysolution
                    targetStorageType:
                      disk1: Standard
                    targetVMLocation: eastus
                    targetVMSize: Standard_D4_v2
                  discoveryData:
                  - enqueueTime: 2017-09-12T13:11:10.8808917Z
                    extendedInfo:
                      custom1: mycustomvalue
                    machineId: abcd
                    machineManagerId: efgh
                    machineName: vm1
                    osName: windows server 2012 R2
                    osType: windows
                    osVersion: 10.0.01
                    solutionName: mysolution
                  migrationData:
                  - enqueueTime: 2017-09-12T13:11:30.8808917Z
                    extendedInfo:
                      custom3: mycustomvalue
                    machineId: abcd
                    machineManagerId: efgh
                    machineName: vm1
                    migrationPhase: Migrated
                    migrationTested: true
                    replicationProgressPercentage: 100
                    solutionName: mysolution
                    targetVMArmId: /subscriptions/abc/resourcegroups/rg/providers/microsoft.compute/virtualmachines/vm1
                type: Microsoft.Migrate/MigrateProjects/machines
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/migrateEvents
  : get:
      deprecated: false
      operationId: Events_EnumerateEvents
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      - description: The continuation token.
        in: query
        name: continuationToken
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of items to be returned in a single page. This value
          is honored only if it is less than the 100.
        in: query
        name: pageSize
        schema:
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to respond to client
          in appropriate language.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCollection'
          description: OK
      summary: Gets a list of events in the migrate project.
      tags:
      - Events
      x-ms-examples:
        MigrateEvents_List:
          parameters:
            api-version: 2018-09-01-preview
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/MigrateEvents/b80e3c0f-70c0-4057-81e7-14cfa9ebb205
                  name: b80e3c0f-70c0-4057-81e7-14cfa9ebb205
                  properties:
                    clientRequestId: a5dd7e42-4fd1-4512-af04-83ad9864335c
                    errorCode: "600"
                    errorMessage: The message does not contain the required parameters
                      to identify the machine.
                    instanceType: Servers
                    machine: server1
                    possibleCauses: The mandatory fields are not provided.
                    recommendation: Resolve the error and try again.
                    solution: serversolution
                  type: Microsoft.Migrate/MigrateProjects/MigrateEvents
                - id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/MigrateEvents/041dc61e-8568-40f7-b9b3-c66233ace714
                  name: 041dc61e-8568-40f7-b9b3-c66233ace714
                  properties:
                    clientRequestId: cf861fa5-9a2e-4a9f-b51c-8054efa8e75f
                    database: db1
                    databaseInstanceId: cD
                    errorCode: "608"
                    errorMessage: The message does not contain the required parameters
                      to identify the database.
                    instanceType: Databases
                    possibleCauses: The mandatory fields are not provided.
                    recommendation: Resolve the error and try again.
                    solution: dbsolution
                  type: Microsoft.Migrate/MigrateProjects/MigrateEvents
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/migrateEvents/{eventName}
  : delete:
      deprecated: false
      description: Delete the migrate event. Deleting non-existent migrate event is
        a no-operation.
      operationId: Events_DeleteEvent
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      - description: Unique name of an event within a migrate project.
        in: path
        name: eventName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK
      summary: Delete the migrate event
      tags:
      - Events
      x-ms-examples:
        MigrateEvents_Delete:
          parameters:
            api-version: 2018-09-01-preview
            eventName: MigrateEvent01
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200": {}
      x-accepts:
      - application/json
    get:
      deprecated: false
      operationId: Events_GetEvent
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      - description: Unique name of an event within a migrate project.
        in: path
        name: eventName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateEvent'
          description: OK
      summary: Gets an event in the migrate project.
      tags:
      - Events
      x-ms-examples:
        MigrateEvents_Get:
          parameters:
            api-version: 2018-09-01-preview
            eventName: MigrateEvent01
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/MigrateEvents/MigrateEvent01
                name: MigrateEvent01
                properties:
                  clientRequestId: a5dd7e42-4fd1-4512-af04-83ad9864335c
                  errorCode: "600"
                  errorMessage: The message does not contain the required parameters
                    to identify the machine.
                  instanceType: Servers
                  machine: myvm
                  possibleCauses: The mandatory fields are not provided.
                  recommendation: Resolve the error and try again.
                  solution: serversolution
                type: Microsoft.Migrate/MigrateProjects/MigrateEvents
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/refreshSummary
  : post:
      deprecated: false
      operationId: MigrateProjects_RefreshMigrateProjectSummary
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshSummaryInput'
        description: The goal input which needs to be refreshed.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshSummaryResult'
          description: OK
      summary: Refresh the summary of the migrate project.
      tags:
      - MigrateProjects
      x-ms-examples:
        MigrateProjects_RefreshSummary:
          parameters:
            api-version: 2018-09-01-preview
            input:
              goal: Servers
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                isRefreshed: true
      x-codegen-request-body-name: input
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/registerTool
  : post:
      deprecated: false
      operationId: MigrateProjects_RegisterTool
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      - description: Standard request header. Used by service to respond to client
          in appropriate language.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterToolInput'
        description: Input containing the name of the tool to be registered.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationResult'
          description: OK
      summary: Registers a tool with the migrate project.
      tags:
      - MigrateProjects
      x-ms-examples:
        MigrateProjects_RegisterTool:
          parameters:
            api-version: 2018-09-01-preview
            input:
              tool: ServerMigration
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                isRegistered: true
      x-codegen-request-body-name: input
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions
  : get:
      deprecated: false
      operationId: Solutions_EnumerateSolutions
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionsCollection'
          description: OK
      summary: Gets the list of solutions in the migrate project.
      tags:
      - Solutions
      x-ms-examples:
        Solutions_List:
          parameters:
            api-version: 2018-09-01-preview
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                - etag: '"1c0018c7-0000-0000-0000-5c936e530000"'
                  id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/Solutions/dbsolution
                  name: dbsolution
                  properties:
                    cleanupState: None
                    details:
                      assessmentCount: 0
                      extendedDetails:
                        mykey: myvalue
                      groupCount: 0
                    goal: Databases
                    purpose: Assessment
                    status: Inactive
                    summary:
                      databaseInstancesAssessedCount: 0
                      databasesAssessedCount: 0
                      instanceType: Databases
                      migrationReadyCount: 0
                    tool: DataMigrationAssistant
                  type: Microsoft.Migrate/MigrateProjects/Solutions
                - etag: '"1c001dc7-0000-0000-0000-5c936e6f0000"'
                  id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/Solutions/serversolution
                  name: serversolution
                  properties:
                    cleanupState: None
                    details:
                      assessmentCount: 0
                      extendedDetails:
                        mykey: myvalue
                      groupCount: 0
                    goal: Servers
                    purpose: Discovery
                    status: Inactive
                    summary:
                      assessedCount: 0
                      discoveredCount: 0
                      instanceType: Servers
                      migratedCount: 0
                      replicatingCount: 0
                      testMigratedCount: 0
                    tool: ServerDiscovery
                  type: Microsoft.Migrate/MigrateProjects/Solutions
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions/{solutionName}
  : delete:
      deprecated: false
      description: Delete the solution. Deleting non-existent project is a no-operation.
      operationId: Solutions_DeleteSolution
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Unique name of a migration solution within a migrate project.
        in: path
        name: solutionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      - description: Standard request header. Used by service to respond to client
          in appropriate language.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: OK
      summary: Delete the solution
      tags:
      - Solutions
      x-ms-examples:
        Solutions_Delete:
          parameters:
            api-version: 2018-09-01-preview
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            solutionName: smssolution
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200": {}
      x-accepts:
      - application/json
    get:
      deprecated: false
      operationId: Solutions_GetSolution
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Unique name of a migration solution within a migrate project.
        in: path
        name: solutionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
          description: OK
      summary: Gets a solution in the migrate project.
      tags:
      - Solutions
      x-ms-examples:
        Solutions_Get:
          parameters:
            api-version: 2018-09-01-preview
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            solutionName: dbsolution
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                etag: '"1c0018c7-0000-0000-0000-5c936e530000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/Solutions/dbsolution
                name: dbsolution
                properties:
                  cleanupState: None
                  details:
                    assessmentCount: 0
                    extendedDetails:
                      mykey: myvalue
                    groupCount: 0
                  goal: Databases
                  purpose: Assessment
                  status: Active
                  summary:
                    databaseInstancesAssessedCount: 0
                    databasesAssessedCount: 0
                    instanceType: Databases
                    migrationReadyCount: 0
                  tool: DataMigrationAssistant
                type: Microsoft.Migrate/MigrateProjects/Solutions
      x-accepts:
      - application/json
    patch:
      deprecated: false
      description: "Update a solution with specified name. Supports partial updates,\
        \ for example only tags can be provided."
      operationId: Solutions_PatchSolution
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Unique name of a migration solution within a migrate project.
        in: path
        name: solutionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Solution'
        description: The input for the solution.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
          description: OK
      summary: Update solution.
      tags:
      - Solutions
      x-ms-examples:
        Solutions_Patch:
          parameters:
            api-version: 2018-09-01-preview
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            solutionInput:
              properties:
                status: Active
            solutionName: dbsolution
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                etag: '"1c0018c7-0000-0000-0000-5c936e530000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/Solutions/dbsolution
                name: dbsolution
                properties:
                  cleanupState: None
                  details:
                    assessmentCount: 0
                    extendedDetails:
                      mykey: myvalue
                    groupCount: 0
                  goal: Databases
                  purpose: Assessment
                  status: Active
                  summary:
                    databaseInstancesAssessedCount: 0
                    databasesAssessedCount: 0
                    instanceType: Databases
                    migrationReadyCount: 0
                  tool: DataMigrationAssistant
                type: Microsoft.Migrate/MigrateProjects/Solutions
      x-codegen-request-body-name: solutionInput
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      deprecated: false
      operationId: Solutions_PutSolution
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Unique name of a migration solution within a migrate project.
        in: path
        name: solutionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Solution'
        description: The input for the solution.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
          description: Created
      summary: Creates a solution in the migrate project.
      tags:
      - Solutions
      x-ms-examples:
        Solutions_Put:
          parameters:
            api-version: 2018-09-01-preview
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            solutionInput:
              properties:
                goal: Databases
                purpose: Assessment
                tool: DataMigrationAssistant
            solutionName: dbsolution
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                etag: '"1c0018c7-0000-0000-0000-5c936e530000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/Solutions/dbsolution
                name: dbsolution
                properties:
                  cleanupState: None
                  details:
                    assessmentCount: 0
                    extendedDetails:
                      mykey: myvalue
                    groupCount: 0
                  goal: Databases
                  purpose: Assessment
                  status: Active
                  summary:
                    databaseInstancesAssessedCount: 0
                    databasesAssessedCount: 0
                    instanceType: Databases
                    migrationReadyCount: 0
                  tool: DataMigrationAssistant
                type: Microsoft.Migrate/MigrateProjects/Solutions
            "201":
              body:
                etag: '"1c0018c7-0000-0000-0000-5c936e530000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/MigrateProjects/project01/Solutions/dbsolution
                name: dbsolution
                properties:
                  cleanupState: None
                  details:
                    assessmentCount: 0
                    extendedDetails:
                      mykey: myvalue
                    groupCount: 0
                  goal: Databases
                  purpose: Assessment
                  status: Active
                  summary:
                    databaseInstancesAssessedCount: 0
                    databasesAssessedCount: 0
                    instanceType: Databases
                    migrationReadyCount: 0
                  tool: DataMigrationAssistant
                type: Microsoft.Migrate/MigrateProjects/Solutions
      x-codegen-request-body-name: solutionInput
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions/{solutionName}/cleanupData
  : post:
      deprecated: false
      operationId: Solutions_CleanupSolutionData
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Unique name of a migration solution within a migrate project.
        in: path
        name: solutionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Cleanup the solution data in the migrate project.
      tags:
      - Solutions
      x-ms-examples:
        Solutions_CleanupData:
          parameters:
            api-version: 2018-09-01-preview
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            solutionName: smssolution
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200": {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions/{solutionName}/getConfig
  : post:
      deprecated: false
      operationId: Solutions_GetConfig
      parameters:
      - description: Azure Subscription Id in which migrate project was created.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of the Azure Resource Group that migrate project is part
          of.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Name of the Azure Migrate project.
        in: path
        name: migrateProjectName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Unique name of a migration solution within a migrate project.
        in: path
        name: solutionName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Standard request header. Used by service to identify API version
          used by client.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2018-09-01-preview
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolutionConfig'
          description: OK
      summary: Gets the config for the solution in the migrate project.
      tags:
      - Solutions
      x-ms-examples:
        Solutions_GetConfig:
          parameters:
            api-version: 2018-09-01-preview
            migrateProjectName: project01
            resourceGroupName: myResourceGroup
            solutionName: smssolution
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                publisherSasUri: Endpoint=sb://xxx.servicebus.windows.net/;SharedAccessSignature=SharedAccessSignature
                  sr=sb%3a%2f%2fxxx.servicebus.windows.net%2fIsvMigrationPayloadEventHub%2fPublishers%2ffad35230-08cd-4d96-bb75-6e41508adb3b-pub-smssolution&sig=Wpf0ORIJI9AFESLDLlJH1ejrUj2W7hy%2fMac%2f7ewZ6j8%3d&se=1541501430&skn=SendPolicy;EntityPath=xyz;Publisher=fad35230-08cd-4d96-bb75-6e41508adb3b-pub-smssolution
      x-accepts:
      - application/json
components:
  parameters:
    acceptLanguage:
      description: Standard request header. Used by service to respond to client in
        appropriate language.
      in: header
      name: Accept-Language
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    api-version:
      description: Standard request header. Used by service to identify API version
        used by client.
      in: query
      name: api-version
      required: true
      schema:
        enum:
        - 2018-09-01-preview
        type: string
    continuationToken:
      description: The continuation token.
      in: query
      name: continuationToken
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    databaseInstanceName:
      description: Unique name of a database instance in Azure migration hub.
      in: path
      name: databaseInstanceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    databaseName:
      description: Unique name of a database in Azure migration hub.
      in: path
      name: databaseName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    eventName:
      description: Unique name of an event within a migrate project.
      in: path
      name: eventName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    machineName:
      description: Unique name of a machine in Azure migration hub.
      in: path
      name: machineName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    migrateProjectName:
      description: Name of the Azure Migrate project.
      in: path
      name: migrateProjectName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    pageSize:
      description: The number of items to be returned in a single page. This value
        is honored only if it is less than the 100.
      in: query
      name: pageSize
      schema:
        type: integer
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupName:
      description: Name of the Azure Resource Group that migrate project is part of.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    solutionName:
      description: Unique name of a migration solution within a migrate project.
      in: path
      name: solutionName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionId:
      description: Azure Subscription Id in which migrate project was created.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ApplyClause:
      properties:
        transformations:
          items:
            $ref: '#/components/schemas/TransformationNode'
          readOnly: true
          type: array
      type: object
    AssessmentDetails:
      description: Assessment properties that can be shared by various publishers.
      example:
        targetVMLocation: targetVMLocation
        fqdn: fqdn
        solutionName: solutionName
        fabricType: fabricType
        enqueueTime: enqueueTime
        machineManagerId: machineManagerId
        machineName: machineName
        biosId: biosId
        targetStorageType:
          key: targetStorageType
        machineId: machineId
        macAddresses:
        - macAddresses
        - macAddresses
        extendedInfo:
          key: extendedInfo
        ipAddresses:
        - ipAddresses
        - ipAddresses
        lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
        targetVMSize: targetVMSize
        assessmentId: assessmentId
      properties:
        assessmentId:
          description: Gets or sets the id of the assessment done on the machine.
          type: string
        biosId:
          description: Gets or sets the BIOS ID of the machine.
          type: string
        enqueueTime:
          description: Gets or sets the time the message was enqueued.
          type: string
        extendedInfo:
          additionalProperties:
            type: string
          description: Gets or sets the ISV specific extended information.
          type: object
        fabricType:
          description: Gets or sets the fabric type.
          type: string
        fqdn:
          description: Gets or sets the FQDN of the machine.
          type: string
        ipAddresses:
          description: Gets or sets the list of IP addresses of the machine. IP addresses
            could be IP V4 or IP V6.
          items:
            type: string
          type: array
        lastUpdatedTime:
          description: Gets or sets the time of the last modification of the machine
            details.
          format: date-time
          type: string
        macAddresses:
          description: Gets or sets the list of MAC addresses of the machine.
          items:
            type: string
          type: array
        machineId:
          description: Gets or sets the unique identifier of the machine.
          type: string
        machineManagerId:
          description: Gets or sets the unique identifier of the virtual machine manager(vCenter/VMM).
          type: string
        machineName:
          description: Gets or sets the name of the machine.
          type: string
        solutionName:
          description: Gets or sets the name of the solution that sent the data.
          type: string
        targetStorageType:
          additionalProperties:
            type: string
          description: Gets or sets the target storage type.
          type: object
        targetVMLocation:
          description: Gets or sets the target VM location.
          type: string
        targetVMSize:
          description: Gets or sets the target VM size.
          type: string
      type: object
    Database:
      description: Database REST resource.
      example:
        name: name
        id: id
        type: type
        properties:
          assessmentData:
          - breakingChangesCount: 0
            databaseName: databaseName
            assessmentTargetType: assessmentTargetType
            migrationBlockersCount: 6
            solutionName: solutionName
            databaseSizeInMB: databaseSizeInMB
            enqueueTime: enqueueTime
            instanceId: instanceId
            isReadyForMigration: true
            compatibilityLevel: compatibilityLevel
            extendedInfo:
              key: extendedInfo
            lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
            assessmentId: assessmentId
            lastAssessedTime: 2000-01-23T04:56:07.000+00:00
          - breakingChangesCount: 0
            databaseName: databaseName
            assessmentTargetType: assessmentTargetType
            migrationBlockersCount: 6
            solutionName: solutionName
            databaseSizeInMB: databaseSizeInMB
            enqueueTime: enqueueTime
            instanceId: instanceId
            isReadyForMigration: true
            compatibilityLevel: compatibilityLevel
            extendedInfo:
              key: extendedInfo
            lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
            assessmentId: assessmentId
            lastAssessedTime: 2000-01-23T04:56:07.000+00:00
          lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Gets or sets the relative URL to get to this REST resource.
          type: string
        name:
          description: Gets or sets the name of this REST resource.
          type: string
        properties:
          $ref: '#/components/schemas/DatabaseProperties'
        type:
          description: Gets the type of this REST resource.
          readOnly: true
          type: string
      type: object
    DatabaseAssessmentDetails:
      description: Assessment properties that can be shared by various publishers.
      example:
        breakingChangesCount: 0
        databaseName: databaseName
        assessmentTargetType: assessmentTargetType
        migrationBlockersCount: 6
        solutionName: solutionName
        databaseSizeInMB: databaseSizeInMB
        enqueueTime: enqueueTime
        instanceId: instanceId
        isReadyForMigration: true
        compatibilityLevel: compatibilityLevel
        extendedInfo:
          key: extendedInfo
        lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
        assessmentId: assessmentId
        lastAssessedTime: 2000-01-23T04:56:07.000+00:00
      properties:
        assessmentId:
          description: Gets or sets the database assessment scope/Id.
          type: string
        assessmentTargetType:
          description: Gets or sets the assessed target database type.
          type: string
        breakingChangesCount:
          description: Gets or sets the number of breaking changes found.
          format: int32
          type: integer
        compatibilityLevel:
          description: Gets or sets the compatibility level of the database.
          type: string
        databaseName:
          description: Gets or sets the database name.
          type: string
        databaseSizeInMB:
          description: Gets or sets the database size.
          type: string
        enqueueTime:
          description: Gets or sets the time the message was enqueued.
          type: string
        extendedInfo:
          additionalProperties:
            type: string
          description: Gets or sets the extended properties of the database.
          type: object
        instanceId:
          description: Gets or sets the database server instance Id.
          type: string
        isReadyForMigration:
          description: Gets or sets a value indicating whether the database is ready
            for migration.
          type: boolean
        lastAssessedTime:
          description: Gets or sets the time when the database was last assessed.
          format: date-time
          type: string
        lastUpdatedTime:
          description: Gets or sets the time of the last modification of the database
            details.
          format: date-time
          type: string
        migrationBlockersCount:
          description: Gets or sets the number of blocking changes found.
          format: int32
          type: integer
        solutionName:
          description: Gets or sets the name of the solution that sent the data.
          type: string
      type: object
    DatabaseCollection:
      description: Collection of databases.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            assessmentData:
            - breakingChangesCount: 0
              databaseName: databaseName
              assessmentTargetType: assessmentTargetType
              migrationBlockersCount: 6
              solutionName: solutionName
              databaseSizeInMB: databaseSizeInMB
              enqueueTime: enqueueTime
              instanceId: instanceId
              isReadyForMigration: true
              compatibilityLevel: compatibilityLevel
              extendedInfo:
                key: extendedInfo
              lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
              assessmentId: assessmentId
              lastAssessedTime: 2000-01-23T04:56:07.000+00:00
            - breakingChangesCount: 0
              databaseName: databaseName
              assessmentTargetType: assessmentTargetType
              migrationBlockersCount: 6
              solutionName: solutionName
              databaseSizeInMB: databaseSizeInMB
              enqueueTime: enqueueTime
              instanceId: instanceId
              isReadyForMigration: true
              compatibilityLevel: compatibilityLevel
              extendedInfo:
                key: extendedInfo
              lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
              assessmentId: assessmentId
              lastAssessedTime: 2000-01-23T04:56:07.000+00:00
            lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
        - name: name
          id: id
          type: type
          properties:
            assessmentData:
            - breakingChangesCount: 0
              databaseName: databaseName
              assessmentTargetType: assessmentTargetType
              migrationBlockersCount: 6
              solutionName: solutionName
              databaseSizeInMB: databaseSizeInMB
              enqueueTime: enqueueTime
              instanceId: instanceId
              isReadyForMigration: true
              compatibilityLevel: compatibilityLevel
              extendedInfo:
                key: extendedInfo
              lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
              assessmentId: assessmentId
              lastAssessedTime: 2000-01-23T04:56:07.000+00:00
            - breakingChangesCount: 0
              databaseName: databaseName
              assessmentTargetType: assessmentTargetType
              migrationBlockersCount: 6
              solutionName: solutionName
              databaseSizeInMB: databaseSizeInMB
              enqueueTime: enqueueTime
              instanceId: instanceId
              isReadyForMigration: true
              compatibilityLevel: compatibilityLevel
              extendedInfo:
                key: extendedInfo
              lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
              assessmentId: assessmentId
              lastAssessedTime: 2000-01-23T04:56:07.000+00:00
            lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the value of nextLink.
          type: string
        value:
          description: Gets or sets the databases.
          items:
            $ref: '#/components/schemas/Database'
          type: array
      type: object
    DatabaseInstance:
      description: DatabaseInstance REST resource.
      example:
        name: name
        id: id
        type: type
        properties:
          summary:
            key:
              databasesAssessedCount: 6
              migrationReadyCount: 1
          discoveryData:
          - hostName: hostName
            instanceId: instanceId
            instanceVersion: instanceVersion
            instanceName: instanceName
            instanceType: instanceType
            extendedInfo:
              key: extendedInfo
            ipAddress: ipAddress
            solutionName: solutionName
            lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
            enqueueTime: enqueueTime
            portNumber: 0
          - hostName: hostName
            instanceId: instanceId
            instanceVersion: instanceVersion
            instanceName: instanceName
            instanceType: instanceType
            extendedInfo:
              key: extendedInfo
            ipAddress: ipAddress
            solutionName: solutionName
            lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
            enqueueTime: enqueueTime
            portNumber: 0
          lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Gets or sets the relative URL to get to this REST resource.
          type: string
        name:
          description: Gets or sets the name of this REST resource.
          type: string
        properties:
          $ref: '#/components/schemas/DatabaseInstanceProperties'
        type:
          description: Gets the type of this REST resource.
          readOnly: true
          type: string
      type: object
    DatabaseInstanceCollection:
      description: Collection of database instances.
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            summary:
              key:
                databasesAssessedCount: 6
                migrationReadyCount: 1
            discoveryData:
            - hostName: hostName
              instanceId: instanceId
              instanceVersion: instanceVersion
              instanceName: instanceName
              instanceType: instanceType
              extendedInfo:
                key: extendedInfo
              ipAddress: ipAddress
              solutionName: solutionName
              lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
              enqueueTime: enqueueTime
              portNumber: 0
            - hostName: hostName
              instanceId: instanceId
              instanceVersion: instanceVersion
              instanceName: instanceName
              instanceType: instanceType
              extendedInfo:
                key: extendedInfo
              ipAddress: ipAddress
              solutionName: solutionName
              lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
              enqueueTime: enqueueTime
              portNumber: 0
            lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
        - name: name
          id: id
          type: type
          properties:
            summary:
              key:
                databasesAssessedCount: 6
                migrationReadyCount: 1
            discoveryData:
            - hostName: hostName
              instanceId: instanceId
              instanceVersion: instanceVersion
              instanceName: instanceName
              instanceType: instanceType
              extendedInfo:
                key: extendedInfo
              ipAddress: ipAddress
              solutionName: solutionName
              lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
              enqueueTime: enqueueTime
              portNumber: 0
            - hostName: hostName
              instanceId: instanceId
              instanceVersion: instanceVersion
              instanceName: instanceName
              instanceType: instanceType
              extendedInfo:
                key: extendedInfo
              ipAddress: ipAddress
              solutionName: solutionName
              lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
              enqueueTime: enqueueTime
              portNumber: 0
            lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the value of nextLink.
          type: string
        value:
          description: Gets or sets the database instances.
          items:
            $ref: '#/components/schemas/DatabaseInstance'
          type: array
      type: object
    DatabaseInstanceDiscoveryDetails:
      description: Discovery properties that can be shared by various publishers.
      example:
        hostName: hostName
        instanceId: instanceId
        instanceVersion: instanceVersion
        instanceName: instanceName
        instanceType: instanceType
        extendedInfo:
          key: extendedInfo
        ipAddress: ipAddress
        solutionName: solutionName
        lastUpdatedTime: 2000-01-23T04:56:07.000+00:00
        enqueueTime: enqueueTime
        portNumber: 0
      properties:
        enqueueTime:
          description: Gets or sets the time the message was enqueued.
          type: string
        extendedInfo:
          additionalProperties:
            type: string
[...]
