openapi: 3.0.1
info:
  contact:
    email: support@koomalooma.com
  description: "This is the koomalooma Partner API. koomalooma is the first Loyalty\
    \ BPaaS (Business Process as a Service) for mobile and web companies. With koomalooma\
    \ merchants issue points for actions their customers / users make on your mobile\
    \ or web store, for example a purchase or a referral. koomalooma takes care of\
    \ all the rest, from signing up users, keeping track of points and delivering\
    \ rewards in over 80 countries. koomalooma offers an easy to integrate API and\
    \ web backend to configure loyalty campaigns and track performance. You can find\
    \ more at http://support.koomalooma.com"
  termsOfService: https://partner.koomalooma.com/terms
  title: koomalooma Partner API
  version: "1.0"
  x-apisguru-categories:
  - ecommerce
  x-logo:
    url: https://twitter.com/koomalooma/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://api.koomalooma.com/oas
    version: "2.0"
  x-providerName: koomalooma.com
externalDocs:
  url: http://support.koomalooma.com
servers:
- url: https://api.koomalooma.com/api
security:
- api_key: []
paths:
  /users:
    post:
      operationId: users_post
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Created
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      security:
      - api_key: []
      summary: Create a User
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /users/{user_id}/commitments:
    post:
      operationId: users_user_id_commitments_post
      parameters:
      - description: user_id of the user to assign points to
        in: path
        name: user_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CommitmentRequest'
        required: true
        x-body-name: commitmentRequest
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commitment'
          description: Created
        "400":
          content: {}
          description: Bad Request
        "403":
          content: {}
          description: Forbidden
      summary: Assign points to a User
      x-codegen-request-body-name: commitmentRequest
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    Commitment:
      example:
        free_loyalty_units: 0
        promotion_goal_description: promotion_goal_description
        goal:
          type: type
          value: value
        loyalty_units: 6
        redeemed: true
        created_at: 2000-01-23T04:56:07.000+00:00
        redeemed_loyalty_units: 5
        redeemable_loyalty_units: 1
        loyalty_accumulation_value: loyalty_accumulation_value
        promotion_goal_category: promotion_goal_category
        partner_id: partner_id
        confirmation_status: pending
        updated_at: 2000-01-23T04:56:07.000+00:00
        user_id: user_id
        id: id
      properties:
        confirmation_status:
          enum:
          - pending
          - confirmed
          title: confirmation_status
          type: string
        created_at:
          format: date-time
          title: created_at
          type: string
        free_loyalty_units:
          format: int32
          title: free_loyalty_units
          type: integer
        goal:
          $ref: '#/components/schemas/Goal'
        id:
          title: id
          type: string
        loyalty_accumulation_value:
          title: loyalty_accumulation_value
          type: string
        loyalty_units:
          format: int32
          title: loyalty_units
          type: integer
        partner_id:
          title: partner_id
          type: string
        promotion_goal_category:
          title: promotion_goal_category
          type: string
        promotion_goal_description:
          title: promotion_goal_description
          type: string
        redeemable_loyalty_units:
          format: int32
          title: redeemable_loyalty_units
          type: integer
        redeemed:
          title: redeemed
          type: boolean
        redeemed_loyalty_units:
          format: int32
          title: redeemed_loyalty_units
          type: integer
        updated_at:
          format: date-time
          title: updated_at
          type: string
        user_id:
          title: user_id
          type: string
      required:
      - confirmation_status
      - created_at
      - free_loyalty_units
      - goal
      - id
      - loyalty_accumulation_value
      - loyalty_units
      - partner_id
      - promotion_goal_category
      - promotion_goal_description
      - redeemable_loyalty_units
      - redeemed
      - redeemed_loyalty_units
      - updated_at
      - user_id
      title: Commitment
      type: object
    CommitmentRequest:
      example:
        promotion_goal_description: promotion_goal_description
        transaction_value: transaction_value
        campaign_id: campaign_id
        promotion_goal_category: promotion_goal_category
      properties:
        campaign_id:
          title: campaign_id
          type: string
        promotion_goal_category:
          title: promotion_goal_category
          type: string
        promotion_goal_description:
          title: promotion_goal_description
          type: string
        transaction_value:
          title: transaction_value
          type: string
      required:
      - campaign_id
      - promotion_goal_category
      - promotion_goal_description
      - transaction_value
      title: CommitmentRequest
      type: object
    Goal:
      example:
        type: type
        value: value
      properties:
        type:
          title: type
          type: string
        value:
          title: value
          type: string
      required:
      - type
      - value
      title: Goal
      type: object
    User:
      example:
        partner_id: partner_id
        partner_user_id: partner_user_id
        user_session_id: user_session_id
      properties:
        partner_id:
          description: Your partner_id. You can use the value of data-partner-id parameter
          title: partner_id
          type: string
        partner_user_id:
          description: A unique string that identify your customer. !!IMPORTANT!!
            You should use always the same partner_user_id for the same customer
          title: partner_user_id
          type: string
        user_session_id:
          description: A unique string that identify the current user session. !!IMPORTANT!!
            This value should be the same set in %%sessionId%% of koomalooma javascript
          title: user_session_id
          type: string
      required:
      - partner_id
      - partner_user_id
      - user_session_id
      title: User
      type: object
  securitySchemes:
    api_key:
      description: Authenticate using the JWT token assigned to you by your koomalooma
        technical support specialist
      in: header
      name: X-KoomaLooma-JWT
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_api_key
x-original-swagger-version: "2.0"
