openapi: 3.0.1
info:
  description: Azure Application Insights client for selecting pricing plans and options.
  title: ApplicationInsightsManagementClient
  version: 2017-10-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2017-10-01/componentFeaturesAndPricing_API.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: applicationinsights-componentFeaturesAndPricing_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/pricingPlans/current
  : get:
      description: Returns the current pricing plan setting for an Application Insights
        component.
      operationId: component_current_pricing_plan_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentPricingPlan'
          description: An Application Insights component pricing plan definition.
      x-ms-examples:
        ComponentCurrentPricingPlanGet:
          parameters:
            api-version: 2017-10-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-component/pricingPlans/current
                name: current
                properties:
                  cap: 500
                  maxHistoryCap: 500
                  planType: Basic
                  resetHour: 16
                  stopSendNotificationWhenHitCap: false
                  stopSendNotificationWhenHitThreshold: false
                  warningThreshold: 90
                type: microsoft.insights/components/pricingPlans
      x-openapi-router-controller: openapi_server.controllers.default_controller
    patch:
      description: Update current pricing plan for an Application Insights component.
      operationId: component_current_pricing_plan_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInsightsComponentPricingPlan'
        description: Properties that need to be specified to update current pricing
          plan for an Application Insights component.
        required: true
        x-body-name: PricingPlanProperties
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentPricingPlan'
          description: Successful request when updating billing features for an Application
            Insights component. The updated current billing features are returned.
      x-ms-examples:
        ComponentCurrentPricingPlanUpdate:
          parameters:
            PricingPlanProperties:
              id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-component/pricingPlans/current
              name: current
              properties:
                cap: 500
                planType: Basic
                stopSendNotificationWhenHitCap: false
                stopSendNotificationWhenHitThreshold: false
                warningThreshold: 90
              type: microsoft.insights/components/pricingPlans
            api-version: 2017-10-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-component/pricingPlans/current
                name: current
                properties:
                  cap: 500
                  maxHistoryCap: 500
                  planType: Basic
                  resetHour: 16
                  stopSendNotificationWhenHitCap: false
                  stopSendNotificationWhenHitThreshold: false
                  warningThreshold: 90
                type: microsoft.insights/components/pricingPlans
      x-codegen-request-body-name: PricingPlanProperties
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Replace current pricing plan for an Application Insights component.
      operationId: component_current_pricing_plan_create_and_update
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInsightsComponentPricingPlan'
        description: Properties that need to be specified to update current pricing
          plan for an Application Insights component.
        required: true
        x-body-name: PricingPlanProperties
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationInsightsComponentPricingPlan'
          description: Successful request when updating billing features for an Application
            Insights component. The updated current billing features are returned.
      x-ms-examples:
        ComponentCurrentPricingPlanUpdate:
          parameters:
            PricingPlanProperties:
              id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-component/pricingPlans/current
              name: current
              properties:
                cap: 500
                maxHistoryCap: 500
                planType: Basic
                resetHour: 16
                stopSendNotificationWhenHitCap: false
                stopSendNotificationWhenHitThreshold: false
                warningThreshold: 90
              type: microsoft.insights/components/pricingPlans
            api-version: 2017-10-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/components/my-component/pricingPlans/current
                name: current
                properties:
                  cap: 500
                  maxHistoryCap: 500
                  planType: Basic
                  resetHour: 16
                  stopSendNotificationWhenHitCap: false
                  stopSendNotificationWhenHitThreshold: false
                  warningThreshold: 90
                type: microsoft.insights/components/pricingPlans
      x-codegen-request-body-name: PricingPlanProperties
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    ApplicationInsightsComponentPricingPlan:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An Application Insights component pricing plan
      example:
        properties:
          cap: 0.8008281904610115
          planType: planType
          stopSendNotificationWhenHitThreshold: true
          stopSendNotificationWhenHitCap: true
          resetHour: 1
          maxHistoryCap: 6.027456183070403
          warningThreshold: 5
      properties:
        properties:
          $ref: '#/components/schemas/PricingPlanProperties'
      title: ApplicationInsightsComponentPricingPlan
    PricingPlanProperties:
      description: An Application Insights component daily data volume cap
      example:
        cap: 0.8008281904610115
        planType: planType
        stopSendNotificationWhenHitThreshold: true
        stopSendNotificationWhenHitCap: true
        resetHour: 1
        maxHistoryCap: 6.027456183070403
        warningThreshold: 5
      properties:
        cap:
          description: Daily data volume cap in GB.
          title: cap
          type: number
        maxHistoryCap:
          description: Maximum daily data volume cap that the user can set for this
            component.
          readOnly: true
          title: maxHistoryCap
          type: number
        planType:
          description: Pricing Plan Type Name.
          title: planType
          type: string
        resetHour:
          description: Daily data volume cap UTC reset hour.
          readOnly: true
          title: resetHour
          type: integer
        stopSendNotificationWhenHitCap:
          description: Do not send a notification email when the daily data volume
            cap is met.
          title: stopSendNotificationWhenHitCap
          type: boolean
        stopSendNotificationWhenHitThreshold:
          description: "Reserved, not used for now."
          title: stopSendNotificationWhenHitThreshold
          type: boolean
        warningThreshold:
          description: "Reserved, not used for now."
          title: warningThreshold
          type: integer
      title: PricingPlanProperties
      type: object
    Resource:
      description: An Azure resource.
      properties:
        id:
          description: Azure resource Id.
          readOnly: true
          title: id
          type: string
        name:
          description: Azure resource name.
          readOnly: true
          title: name
          type: string
        type:
          description: Azure resource type.
          readOnly: true
          title: type
          type: string
      title: Resource
      type: object
      x-ms-azure-resource: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
