openapi: 3.0.1
info:
  description: The Run Commands Client.
  title: RunCommandsClient
  version: 2019-03-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/runCommands.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: compute-runCommands
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/runCommands:
    get:
      description: Lists all available run commands for a subscription in a location.
      operationId: virtual_machine_run_commands_list
      parameters:
      - description: The location upon which run commands is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunCommandListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RunCommandListResult'
          description: OK
      tags:
      - VirtualMachineRunCommands
      x-ms-examples:
        VirtualMachineRunCommandList:
          parameters:
            api-version: 2019-03-01
            location: SoutheastAsia
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                  description: Configure the machine to enable remote PowerShell.
                  id: EnableRemotePS
                  label: Enable remote PowerShell
                  osType: Windows
                - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                  description: "Shows detailed information for the IP address, subnet\
                    \ mask and default gateway for each adapter bound to TCP/IP."
                  id: IPConfig
                  label: List IP configuration
                  osType: Windows
                - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                  description: Custom multiline PowerShell script should be defined
                    in script property. Optional parameters can be set in parameters
                    property.
                  id: RunPowerShellScript
                  label: Executes a PowerShell script
                  osType: Windows
                - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                  description: Custom multiline shell script should be defined in
                    script property. Optional parameters can be set in parameters
                    property.
                  id: RunShellScript
                  label: Executes a Linux shell script
                  osType: Linux
                - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                  description: Get the configuration of all network interfaces.
                  id: ifconfig
                  label: List network configuration
                  osType: Linux
                - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                  description: "Checks if the local Administrator account is disabled,\
                    \ and if so enables it."
                  id: EnableAdminAccount
                  label: Enable administrator account
                  osType: Windows
                - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                  description: Reset built-in Administrator account password.
                  id: ResetAccountPassword
                  label: Reset built-in Administrator account password
                  osType: Windows
                - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                  description: Checks registry settings and domain policy settings.
                    Suggests policy actions if machine is part of a domain or modifies
                    the settings to default values.
                  id: RDPSettings
                  label: Verify RDP Listener Settings
                  osType: Windows
                - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                  description: Sets the default or user specified port number for
                    Remote Desktop connections. Enables firewall rule for inbound
                    access to the port.
                  id: SetRDPPort
                  label: Set Remote Desktop port
                  osType: Windows
                - $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                  description: Removes the SSL certificate tied to the RDP listener
                    and restores the RDP listerner security to default. Use this script
                    if you see any issues with the certificate.
                  id: ResetRDPCert
                  label: Restore RDP Authentication mode to defaults
                  osType: Windows
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_run_commands_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/runCommands/{commandId}:
    get:
      description: Gets specific run command for a subscription in a location.
      operationId: virtual_machine_run_commands_get
      parameters:
      - description: The location upon which run commands is queried.
        in: path
        name: location
        required: true
        schema:
          pattern: "^[-\\w\\._]+$"
          type: string
      - description: The command id.
        in: path
        name: commandId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunCommandDocument'
            text/json:
              schema:
                $ref: '#/components/schemas/RunCommandDocument'
          description: OK
      tags:
      - VirtualMachineRunCommands
      x-ms-examples:
        VirtualMachineRunCommandGet:
          parameters:
            api-version: 2019-03-01
            commandId: RunPowerShellScript
            location: SoutheastAsia
            subscriptionId: 24fb23e3-6ba3-41f0-9b6e-e41131d5d61e
          responses:
            "200":
              body:
                $schema: http://schema.management.azure.com/schemas/2016-11-17/runcommands.json
                description: Custom multiline PowerShell script should be defined
                  in script property. Optional parameters can be set in parameters
                  property.
                id: RunPowerShellScript
                label: Executes a PowerShell script
                osType: Windows
                parameters:
                - defaultValue: value1
                  name: arg1
                  type: string
                - defaultValue: value2
                  name: arg2
                  type: string
                script:
                - param(
                - "    [string]$arg1,"
                - "    [string]$arg2"
                - )
                - Write-Host This is a sample script with parameters $arg1 $arg2
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_run_commands_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/runCommand
  : post:
      description: Run command on a virtual machine in a VM scale set.
      operationId: virtual_machine_scale_set_vms_run_command
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the VM scale set.
        in: path
        name: vmScaleSetName
        required: true
        schema:
          type: string
      - description: The instance ID of the virtual machine.
        in: path
        name: instanceId
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunCommandInput'
          text/json:
            schema:
              $ref: '#/components/schemas/RunCommandInput'
        description: Parameters supplied to the Run command operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunCommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RunCommandResult'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachineScaleSetVMs
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_machine_scale_set_vms_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommand
  : post:
      description: Run command on the VM.
      operationId: virtual_machines_run_command
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the virtual machine.
        in: path
        name: vmName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunCommandInput'
          text/json:
            schema:
              $ref: '#/components/schemas/RunCommandInput'
        description: Parameters supplied to the Run command operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunCommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/RunCommandResult'
          description: OK
        "202":
          content: {}
          description: Accepted
      tags:
      - VirtualMachines
      x-ms-examples:
        VirtualMachineRunCommand:
          parameters:
            $top: 1
            api-version: 2019-03-01
            monitor: "true"
            parameters:
              commandId: RunPowerShellScript
            resourceGroupName: crptestar98131
            subscriptionId: 24fb23e3-6ba3-41f0-9b6e-e41131d5d61e
            vmName: vm3036
          responses:
            "200":
              body:
                value:
                - code: ComponentStatus/StdOut/succeeded
                  displayStatus: Provisioning succeeded
                  level: Info
                  message: This is a sample script with parameters value1 value2
                - code: ComponentStatus/StdErr/succeeded
                  displayStatus: Provisioning succeeded
                  level: Info
                  message: ""
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.virtual_machines_controller
components:
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    SubscriptionIdParameter:
      description: Subscription credentials which uniquely identify Microsoft Azure
        subscription. The subscription ID forms part of the URI for every service
        call.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    InstanceViewStatus:
      description: Instance view status.
      example:
        code: code
        level: Info
        displayStatus: displayStatus
        time: 2000-01-23T04:56:07.000+00:00
        message: message
      properties:
        code:
          description: The status code.
          title: code
          type: string
        displayStatus:
          description: The short localizable label for the status.
          title: displayStatus
          type: string
        level:
          description: The level code.
          enum:
          - Info
          - Warning
          - Error
          title: level
          type: string
          x-ms-enum:
            modelAsString: false
            name: StatusLevelTypes
        message:
          description: "The detailed status message, including for alerts and error\
            \ messages."
          title: message
          type: string
        time:
          description: The time of the status.
          format: date-time
          title: time
          type: string
      title: InstanceViewStatus
      type: object
    RunCommandDocument:
      allOf:
      - $ref: '#/components/schemas/RunCommandDocumentBase'
      description: Describes the properties of a Run Command.
      example:
        parameters:
        - defaultValue: defaultValue
          name: name
          type: type
          required: false
        - defaultValue: defaultValue
          name: name
          type: type
          required: false
        script:
        - script
        - script
      properties:
        parameters:
          description: The parameters used by the script.
          items:
            $ref: '#/components/schemas/RunCommandParameterDefinition'
          title: parameters
          type: array
        script:
          description: The script to be executed.
          items:
            type: string
          title: script
          type: array
      required:
      - script
      title: RunCommandDocument
    RunCommandDocumentBase:
      description: Describes the properties of a Run Command metadata.
      example:
        $schema: $schema
        osType: Windows
        description: description
        id: id
        label: label
      properties:
        $schema:
          description: The VM run command schema.
          title: $schema
          type: string
        description:
          description: The VM run command description.
          title: description
          type: string
        id:
          description: The VM run command id.
          title: id
          type: string
        label:
          description: The VM run command label.
          title: label
          type: string
        osType:
          description: The Operating System type.
          enum:
          - Windows
          - Linux
          title: osType
          type: string
          x-ms-enum:
            modelAsString: false
            name: OperatingSystemTypes
      required:
      - $schema
      - description
      - id
      - label
      - osType
      title: RunCommandDocumentBase
      type: object
    RunCommandInput:
      description: Capture Virtual Machine parameters.
      example:
        commandId: commandId
        parameters:
        - name: name
          value: value
        - name: name
          value: value
        script:
        - script
        - script
      properties:
        commandId:
          description: The run command id.
          title: commandId
          type: string
        parameters:
          description: The run command parameters.
          items:
            $ref: '#/components/schemas/RunCommandInputParameter'
          title: parameters
          type: array
        script:
          description: "Optional. The script to be executed.  When this value is given,\
            \ the given script will override the default script of the command."
          items:
            type: string
          title: script
          type: array
      required:
      - commandId
      title: RunCommandInput
      type: object
    RunCommandInputParameter:
      description: Describes the properties of a run command parameter.
      example:
        name: name
        value: value
      properties:
        name:
          description: The run command parameter name.
          title: name
          type: string
        value:
          description: The run command parameter value.
          title: value
          type: string
      required:
      - name
      - value
      title: RunCommandInputParameter
      type: object
    RunCommandListResult:
      description: The List Virtual Machine operation response.
      example:
        value:
        - $schema: $schema
          osType: Windows
          description: description
          id: id
          label: label
        - $schema: $schema
          osType: Windows
          description: description
          id: id
          label: label
        nextLink: nextLink
      properties:
        nextLink:
          description: The uri to fetch the next page of run commands. Call ListNext()
            with this to fetch the next page of run commands.
          title: nextLink
          type: string
        value:
          description: The list of virtual machine run commands.
          items:
            $ref: '#/components/schemas/RunCommandDocumentBase'
          title: value
          type: array
      required:
      - value
      title: RunCommandListResult
      type: object
    RunCommandParameterDefinition:
      description: Describes the properties of a run command parameter.
      example:
        defaultValue: defaultValue
        name: name
        type: type
        required: false
      properties:
        defaultValue:
          description: The run command parameter default value.
          title: defaultValue
          type: string
        name:
          description: The run command parameter name.
          title: name
          type: string
        required:
          default: false
          description: The run command parameter required.
          title: required
          type: boolean
        type:
          description: The run command parameter type.
          title: type
          type: string
      required:
      - name
      - type
      title: RunCommandParameterDefinition
      type: object
    RunCommandResult:
      example:
        value:
        - code: code
          level: Info
          displayStatus: displayStatus
          time: 2000-01-23T04:56:07.000+00:00
          message: message
        - code: code
          level: Info
          displayStatus: displayStatus
          time: 2000-01-23T04:56:07.000+00:00
          message: message
      properties:
        value:
          description: Run command operation response.
          items:
            $ref: '#/components/schemas/InstanceViewStatus'
          title: value
          type: array
      title: RunCommandResult
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
