openapi: 3.0.1
info:
  description: Azure Application Insights client for Annotations for a component.
  title: ApplicationInsightsManagementClient
  version: 2015-05-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentAnnotations_API.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: applicationinsights-componentAnnotations_API
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/Annotations
  : get:
      description: Gets the list of annotations for a component for given time range
      operationId: annotations_list
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resourceName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The start time to query from for annotations, cannot be older\
          \ than 90 days from current date."
        in: query
        name: start
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The end time to query for annotations.
        in: query
        name: end
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationsListResult'
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        AnnotationsList:
          parameters:
            api-version: 2015-05-01
            end: 2018-02-06T00%253A33A00.000Z
            resourceGroupName: my-resource-group
            resourceName: my-component
            start: 2018-02-05T00%253A30%253A00.000Z
            subscriptionId: subid
          responses:
            "200":
              body:
              - AnnotationName: InsightsPortal-20180126-1
                Category: Deployment
                EventTime: 2018-01-29T20:30:31+00:00
                Id: 4de4524f-fca5-44a8-b7e6-a67d5107796e
                Properties: "{\"ReleaseDefinitionName\":\"InsightsPortal-PPEProd-KeyVault\"\
                  ,\"ReleaseRequestedFor\":\"6a970e9b-6220-47f3-a78c-b8be97506698\"\
                  ,\"TeamFoundationCollectionUri\":\"https://mseng.visualstudio.com/\"\
                  ,\"BuildNumber\":\"20180126.1\",\"ReleaseDescription\":\"Triggered\
                  \ by InsightsPortal_master_PROD1_vNext 20180126.1.\",\"ReleaseId\"\
                  :\"31075\",\"ReleaseWebUrl\":\"https://mseng.visualstudio.com/96a62c4a-58c2-4dbb-94b6-5979ebc7f2af/_release?releaseId=31075\\\
                  u0026_a=release-summary\",\"SourceBranch\":\"refs/heads/master\"\
                  ,\"BuildRepositoryProvider\":\"TfsGit\",\"ReleaseEnvironmentName\"\
                  :\"AIMON VIP SWAP\",\"BuildRepositoryName\":\"InsightsPortal\",\"\
                  ReleaseName\":\"InsightsPortal-20180126-1\"}"
              - AnnotationName: InsightsPortal-20180125-1
                Category: Deployment
                EventTime: 2018-01-29T20:38:35+00:00
                Id: 9a82214f-8f98-4699-b5bc-cad6101ed223
                Properties: "{\"ReleaseDefinitionName\":\"InsightsPortal-PPEProd-KeyVault\"\
                  ,\"ReleaseRequestedFor\":\"6a970e9b-6220-47f3-a78c-b8be97506698\"\
                  ,\"TeamFoundationCollectionUri\":\"https://mseng.visualstudio.com/\"\
                  ,\"BuildNumber\":\"20180125.1\",\"ReleaseDescription\":\"Triggered\
                  \ by InsightsPortal_master_PROD1_vNext 20180125.1.\",\"ReleaseId\"\
                  :\"31035\",\"ReleaseWebUrl\":\"https://mseng.visualstudio.com/96a62c4a-58c2-4dbb-94b6-5979ebc7f2af/_release?releaseId=31035\\\
                  u0026_a=release-summary\",\"SourceBranch\":\"refs/heads/master\"\
                  ,\"BuildRepositoryProvider\":\"TfsGit\",\"ReleaseEnvironmentName\"\
                  :\"Prod VIP Swap \",\"BuildRepositoryName\":\"InsightsPortal\",\"\
                  ReleaseName\":\"InsightsPortal-20180125-1\"}"
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    put:
      description: Create an Annotation of an Application Insights component.
      operationId: annotations_create
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Annotation'
        description: Properties that need to be specified to create an annotation
          of a Application Insights component.
        required: true
        x-body-name: AnnotationProperties
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: An object containing the annotation definition created by this
            PUT call.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        AnnotationsCreate:
          parameters:
            AnnotationProperties:
              AnnotationName: TestAnnotation
              Category: Text
              EventTime: 2018-01-31T13:41:38.657Z
              Id: 444e2c08-274a-4bbb-a89e-d77bb720f44a
              Properties: "{\"Comments\":\"Testing\",\"Label\":\"Success\"}"
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
              - AnnotationName: TestAnnotation
                Category: Text
                EventTime: 2018-01-31T13:41:38.657+00:00
                Id: 444e2c08-274a-4bbb-a89e-d77bb720f44a
                Properties: "{\"Comments\":\"Testing\",\"Label\":\"Success\"}"
      x-codegen-request-body-name: AnnotationProperties
      x-openapi-router-controller: openapi_server.controllers.default_controller
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/Annotations/{annotationId}
  : delete:
      description: Delete an Annotation of an Application Insights component.
      operationId: annotations_delete
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The unique annotation ID. This is unique within a Application
          Insights component.
        in: path
        name: annotation_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: The annotation that was successfully deleted.
      x-ms-examples:
        AnnotationsDelete:
          parameters:
            annotationId: bb820f1b-3110-4a8b-ba2c-8c1129d7eb6a
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.default_controller
    get:
      description: Get the annotation for given id.
      operationId: annotations_get
      parameters:
      - description: The name of the resource group. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The API version to use for this operation.
        in: query
        name: api-version
        required: true
        schema:
          minLength: 1
          type: string
      - description: The ID of the target subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          minLength: 1
          type: string
      - description: The name of the Application Insights component resource.
        in: path
        name: resource_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The unique annotation ID. This is unique within a Application
          Insights component.
        in: path
        name: annotationId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Annotation'
                type: array
          description: The Annotation object for this id.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnnotationError'
          description: Error response describing why the operation failed.
      x-ms-examples:
        AnnotationsGet:
          parameters:
            annotationId: 444e2c08-274a-4bbb-a89e-d77bb720f44a
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
              - AnnotationName: TestAnnotation
                Category: Text
                EventTime: 2018-01-31T13:41:38.657+00:00
                Id: 444e2c08-274a-4bbb-a89e-d77bb720f44a
                Properties: "{\"Comments\":\"Testing\",\"Label\":\"Success\"}"
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    AnnotationIdParameter:
      description: The unique annotation ID. This is unique within a Application Insights
        component.
      in: path
      name: annotationId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    EndParameter:
      description: The end time to query for annotations.
      in: query
      name: end
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    ResourceNameParameter:
      description: The name of the Application Insights component resource.
      in: path
      name: resourceName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    StartParameter:
      description: "The start time to query from for annotations, cannot be older\
        \ than 90 days from current date."
      in: query
      name: start
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    Annotation:
      description: Annotation associated with an application insights resource.
      example:
        Category: Category
        EventTime: 2000-01-23T04:56:07.000+00:00
        RelatedAnnotation: "null"
        Id: Id
        Properties: Properties
        AnnotationName: AnnotationName
      properties:
        AnnotationName:
          description: Name of annotation
          title: AnnotationName
          type: string
        Category:
          description: "Category of annotation, free form"
          title: Category
          type: string
        EventTime:
          description: Time when event occurred
          format: date-time
          title: EventTime
          type: string
        Id:
          description: Unique Id for annotation
          title: Id
          type: string
        Properties:
          description: Serialized JSON object for detailed properties
          title: Properties
          type: string
        RelatedAnnotation:
          default: "null"
          description: Related parent annotation if any
          title: RelatedAnnotation
          type: string
      title: Annotation
      type: object
    AnnotationError:
      description: Error associated with trying to create annotation with Id that
        already exist
      example:
        code: code
        innererror:
          diagnosticcontext: diagnosticcontext
          time: 2000-01-23T04:56:07.000+00:00
        message: message
      properties:
        code:
          description: Error detail code and explanation
          title: code
          type: string
        innererror:
          $ref: '#/components/schemas/InnerError'
        message:
          description: Error message
          title: message
          type: string
      title: AnnotationError
      type: object
    AnnotationsListResult:
      description: Annotations list result.
      example:
        value:
        - Category: Category
          EventTime: 2000-01-23T04:56:07.000+00:00
          RelatedAnnotation: "null"
          Id: Id
          Properties: Properties
          AnnotationName: AnnotationName
        - Category: Category
          EventTime: 2000-01-23T04:56:07.000+00:00
          RelatedAnnotation: "null"
          Id: Id
          Properties: Properties
          AnnotationName: AnnotationName
      properties:
        value:
          description: An array of annotations.
          items:
            $ref: '#/components/schemas/Annotation'
          readOnly: true
          title: value
          type: array
      title: AnnotationsListResult
      type: object
    InnerError:
      description: Inner error
      example:
        diagnosticcontext: diagnosticcontext
        time: 2000-01-23T04:56:07.000+00:00
      properties:
        diagnosticcontext:
          description: Provides correlation for request
          title: diagnosticcontext
          type: string
        time:
          description: Request time
          format: date-time
          title: time
          type: string
      title: InnerError
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
