openapi: 3.0.1
info:
  description: The Microsoft Azure Network management API provides a RESTful set of
    web services that interact with Microsoft Azure Networks service to manage your
    network resources. The API has entities that capture the relationship between
    an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2018-10-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-10-01/networkWatcher.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-networkWatcher
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/networkWatchers:
    get:
      description: Gets all network watchers by subscription.
      operationId: NetworkWatchers_ListAll
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcherListResult'
          description: Request successful. The operation returns a list of network
            watcher resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      x-ms-examples:
        List all network watchers:
          parameters:
            api-version: 2018-10-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1
                  location: eastus
                  name: nw1
                  properties:
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.Network/networkWatchers
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw2
                  location: westus
                  name: nw2
                  properties:
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.Network/networkWatchers
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers:
    get:
      description: Gets all network watchers by resource group.
      operationId: NetworkWatchers_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcherListResult'
          description: Request successful. The operation returns a list of network
            watcher resources.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      x-ms-examples:
        List network watchers:
          parameters:
            api-version: 2018-10-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1
                  location: eastus
                  name: nw1
                  properties:
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.Network/networkWatchers
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw2
                  location: eastus
                  name: nw2
                  properties:
                    provisioningState: Succeeded
                  tags: {}
                  type: Microsoft.Network/networkWatchers
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}
  : delete:
      description: Deletes the specified network watcher resource.
      operationId: NetworkWatchers_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Delete network watcher:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets the specified network watcher by resource group.
      operationId: NetworkWatchers_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcher'
          description: Request successful. The operation returns a network watcher
            resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Get network watcher:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1
                location: eastus
                name: nw1
                properties:
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.Network/networkWatchers
      x-accepts:
      - application/json
    patch:
      description: Updates a network watcher tags.
      operationId: NetworkWatchers_UpdateTags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkWatchers_UpdateTags_request'
        description: Parameters supplied to update network watcher tags.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcher'
          description: Update successful. The operation returns the resulting network
            watcher resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Update network watcher tags:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1
                location: eastus
                name: nw1
                properties:
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/networkWatchers
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or updates a network watcher in the specified resource
        group.
      operationId: NetworkWatchers_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkWatcher'
        description: Parameters that define the network watcher resource.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcher'
          description: Update successful. The operation returns the resulting network
            watcher resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkWatcher'
          description: Create successful. The operation returns the resulting network
            watcher resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Create network watcher:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            parameters:
              location: eastus
              properties: {}
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1
                location: eastus
                name: nw1
                properties:
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.Network/networkWatchers
            "201":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1
                location: eastus
                name: nw1
                properties:
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.Network/networkWatchers
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/availableProvidersList
  : post:
      description: Lists all available internet service providers for a specified
        Azure region.
      operationId: NetworkWatchers_ListAvailableProviders
      parameters:
      - description: The name of the network watcher resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailableProvidersListParameters'
        description: Parameters that scope the list of available providers.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableProvidersList'
          description: Successful request for list of available providers.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableProvidersList'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Get Available Providers List:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            parameters:
              azureLocations:
              - West US
              city: seattle
              country: United States
              state: washington
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                countries:
                - countryName: United States
                  states:
                  - cities:
                    - cityName: seattle
                      providers:
                      - "Comcast Cable Communications, Inc. - ASN 7922"
                      - "Comcast Cable Communications, LLC - ASN 7922"
                      - "Level 3 Communications, Inc. (GBLX) - ASN 3549"
                      - "Qwest Communications Company, LLC - ASN 209"
                    stateName: washington
            "202":
              body:
                countries:
                - countryName: United States
                  states:
                  - cities:
                    - cityName: seattle
                      providers:
                      - "Comcast Cable Communications, Inc. - ASN 7922"
                      - "Comcast Cable Communications, LLC - ASN 7922"
                      - "Level 3 Communications, Inc. (GBLX) - ASN 3549"
                      - "Qwest Communications Company, LLC - ASN 209"
                    stateName: washington
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/azureReachabilityReport
  : post:
      description: Gets the relative latency score for internet service providers
        from a specified location to Azure regions.
      operationId: NetworkWatchers_GetAzureReachabilityReport
      parameters:
      - description: The name of the network watcher resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AzureReachabilityReportParameters'
        description: Parameters that determine Azure reachability report configuration.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureReachabilityReport'
          description: Successful request for Azure reachability report.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AzureReachabilityReport'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Get Azure Reachability Report:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            parameters:
              azureLocations:
              - West US
              endTime: 2017-09-10T00:00:00Z
              providerLocation:
                country: United States
                state: washington
              providers:
              - "Frontier Communications of America, Inc. - ASN 5650"
              startTime: 2017-09-07T00:00:00Z
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                aggregationLevel: State
                providerLocation:
                  country: United States
                  state: washington
                reachabilityReport:
                - azureLocation: West US
                  latencies:
                  - score: 94
                    timeStamp: 2017-09-07T00:00:00Z
                  - score: 94
                    timeStamp: 2017-09-08T00:00:00Z
                  - score: 94
                    timeStamp: 2017-09-09T00:00:00Z
                  provider: "Frontier Communications of America, Inc. - ASN 5650"
            "202":
              body:
                aggregationLevel: State
                providerLocation:
                  country: United States
                  state: washington
                reachabilityReport:
                - azureLocation: West US
                  latencies:
                  - score: 94
                    timeStamp: 2017-09-07T00:00:00Z
                  - score: 94
                    timeStamp: 2017-09-08T00:00:00Z
                  - score: 94
                    timeStamp: 2017-09-09T00:00:00Z
                  provider: "Frontier Communications of America, Inc. - ASN 5650"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/configureFlowLog
  : post:
      description: Configures flow log  and traffic analytics (optional) on a specified
        resource.
      operationId: NetworkWatchers_SetFlowLogConfiguration
      parameters:
      - description: The name of the network watcher resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlowLogInformation'
        description: Parameters that define the configuration of flow log.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowLogInformation'
          description: Successful request for setting flow log  and traffic analytics
            (optional) configuration.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowLogInformation'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      - TrafficAnalytics
      x-ms-examples:
        Configure flow log:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            parameters:
              properties:
                enabled: true
                storageId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Storage/storageAccounts/st1
              targetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                properties:
                  enabled: true
                  storageId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Storage/storageAccounts/st1
                targetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
            "202":
              body:
                properties:
                  enabled: true
                  storageId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Storage/storageAccounts/st1
                targetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors
  : get:
      description: Lists all connection monitors for the specified Network Watcher.
      operationId: ConnectionMonitors_List
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorListResult'
          description: Successful connection monitor enumeration request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        List connection monitors:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                  location: centraluseuap
                  name: cm1
                  properties:
                    autoStart: true
                    destination:
                      address: bing.com
                      port: 80
                    monitoringIntervalInSeconds: 60
                    monitoringStatus: Running
                    provisioningState: Succeeded
                    source:
                      port: 0
                      resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                    startTime: 2018-01-08T03:42:33.3387305Z
                  type: Microsoft.Network/networkWatchers/connectionMonitors
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm2
                  location: centraluseuap
                  name: cm2
                  properties:
                    autoStart: true
                    destination:
                      address: google.com
                      port: 80
                    monitoringIntervalInSeconds: 30
                    monitoringStatus: Running
                    provisioningState: Succeeded
                    source:
                      port: 0
                      resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm2
                    startTime: 2018-01-08T05:42:33.3387305Z
                  type: Microsoft.Network/networkWatchers/connectionMonitors
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}
  : delete:
      description: Deletes the specified connection monitor.
      operationId: ConnectionMonitors_Delete
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted. The operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Delete connection monitor:
          parameters:
            api-version: 2018-10-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets a connection monitor by name.
      operationId: ConnectionMonitors_Get
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorResult'
          description: Request successful. The operation returns a connection monitor.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Get connection monitor:
          parameters:
            api-version: 2018-10-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                location: centraluseuap
                name: cm1
                properties:
                  autoStart: true
                  destination:
                    address: bing.com
                    port: 80
                  monitoringIntervalInSeconds: 60
                  monitoringStatus: Running
                  provisioningState: Succeeded
                  source:
                    port: 0
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                  startTime: 2018-01-08T03:42:33.3387305Z
                type: Microsoft.Network/networkWatchers/connectionMonitors
      x-accepts:
      - application/json
    put:
      description: Create or update a connection monitor.
      operationId: ConnectionMonitors_CreateOrUpdate
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionMonitor'
        description: Parameters that define the operation to create a connection monitor.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorResult'
          description: Update successful. The operation returns the resulting network
            watcher resource.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorResult'
          description: Create successful. The operation returns the resulting network
            watcher resource.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Create connection monitor:
          parameters:
            api-version: 2018-10-01
            connectionMonitorName: cm1
            location: centraluseuap
            networkWatcherName: nw1
            parameters:
              properties:
                destination:
                  address: bing.com
                  port: 80
                monitoringIntervalInSeconds: 60
                source:
                  resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"e7497f26-5f09-4559-900b-fe98f3dedb6f"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                location: centraluseuap
                name: cm1
                properties:
                  autoStart: true
                  destination:
                    address: bing.com
                    port: 80
                  monitoringIntervalInSeconds: 60
                  monitoringStatus: NotStarted
                  provisioningState: Updating
                  source:
                    port: 0
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                type: Microsoft.Network/networkWatchers/connectionMonitors
            "201":
              body:
                etag: W/"e7497f26-5f09-4559-900b-fe98f3dedb6f"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                location: centraluseuap
                name: cm1
                properties:
                  autoStart: true
                  destination:
                    address: bing.com
                    port: 80
                  monitoringIntervalInSeconds: 60
                  monitoringStatus: NotStarted
                  provisioningState: Updating
                  source:
                    port: 0
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                type: Microsoft.Network/networkWatchers/connectionMonitors
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/query
  : post:
      description: Query a snapshot of the most recent connection states.
      operationId: ConnectionMonitors_Query
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name given to the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorQueryResult'
          description: Successful query of connection states.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionMonitorQueryResult'
          description: Accepted query of connection states.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Query connection monitor:
          parameters:
            api-version: 2018-10-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                sourceStatus: Active
                states:
                - connectionState: Reachable
                  endTime: 2018-01-08T05:12:41.5265438Z
                  evaluationState: Completed
                  hops:
                  - address: 10.1.1.4
                    id: 7dbbe7aa-60ba-4650-831e-63d775d38e9e
                    issues: []
                    nextHopIds:
                    - 75c8d819-b208-4584-a311-1aa45ce753f9
                    resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic0/ipConfigurations/ipconfig1
                    type: Source
                  - address: 192.168.100.4
                    id: 75c8d819-b208-4584-a311-1aa45ce753f9
                    issues: []
                    nextHopIds: []
                    resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                    type: VirtualNetwork
                  startTime: 2018-01-08T03:42:33.3387305Z
            "202":
              body:
                sourceStatus: Active
                states:
                - connectionState: Reachable
                  endTime: 2018-01-08T05:12:41.5265438Z
                  evaluationState: Completed
                  hops:
                  - address: 10.1.1.4
                    id: 7dbbe7aa-60ba-4650-831e-63d775d38e9e
                    issues: []
                    nextHopIds:
                    - 75c8d819-b208-4584-a311-1aa45ce753f9
                    resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic0/ipConfigurations/ipconfig1
                    type: Source
                  - address: 192.168.100.4
                    id: 75c8d819-b208-4584-a311-1aa45ce753f9
                    issues: []
                    nextHopIds: []
                    resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                    type: VirtualNetwork
                  startTime: 2018-01-08T03:42:33.3387305Z
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/start
  : post:
      description: Starts the specified connection monitor.
      operationId: ConnectionMonitors_Start
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. The operation starts the connection monitor.
        "202":
          content: {}
          description: Accepted. The operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Start connection monitor:
          parameters:
            api-version: 2018-10-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/stop
  : post:
      description: Stops the specified connection monitor.
      operationId: ConnectionMonitors_Stop
      parameters:
      - description: The name of the resource group containing Network Watcher.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the connection monitor.
        in: path
        name: connectionMonitorName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. The operation stops the connection monitor.
        "202":
          content: {}
          description: Accepted. The operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ConnectionMonitors
      x-ms-examples:
        Stop connection monitor:
          parameters:
            api-version: 2018-10-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectivityCheck
  : post:
      description: Verifies the possibility of establishing a direct TCP connection
        from a virtual machine to a given endpoint including another VM or an arbitrary
        remote server.
      operationId: NetworkWatchers_CheckConnectivity
      parameters:
      - description: The name of the network watcher resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectivityParameters'
        description: Parameters that determine how the connectivity check will be
          performed.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectivityInformation'
          description: Successful request for checking connectivity.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectivityInformation'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Check connectivity:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            parameters:
              destination:
                address: 192.168.100.4
                port: 3389
              source:
                resourceId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                avgLatencyInMs: 1
                connectionStatus: Connected
                hops:
                - address: 10.1.1.4
                  id: 7dbbe7aa-60ba-4650-831e-63d775d38e9e
                  issues: []
                  nextHopIds:
                  - 75c8d819-b208-4584-a311-1aa45ce753f9
                  resourceId: subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkInterfaces/nic0/ipConfigurations/ipconfig1
                  type: Source
                - address: 192.168.100.4
                  id: 75c8d819-b208-4584-a311-1aa45ce753f9
                  issues: []
                  nextHopIds: []
                  resourceId: subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                  type: VirtualNetwork
                maxLatencyInMs: 4
                minLatencyInMs: 1
                probesFailed: 0
                probesSent: 100
            "202":
              body:
                avgLatencyInMs: 1
                connectionStatus: Connected
                hops:
                - address: 10.1.1.4
                  id: 7dbbe7aa-60ba-4650-831e-63d775d38e9e
                  issues: []
                  nextHopIds:
                  - 75c8d819-b208-4584-a311-1aa45ce753f9
                  resourceId: subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkInterfaces/nic0/ipConfigurations/ipconfig1
                  type: Source
                - address: 192.168.100.4
                  id: 75c8d819-b208-4584-a311-1aa45ce753f9
                  issues: []
                  nextHopIds: []
                  resourceId: subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                  type: VirtualNetwork
                maxLatencyInMs: 4
                minLatencyInMs: 1
                probesFailed: 0
                probesSent: 100
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/ipFlowVerify
  : post:
      description: Verify IP flow from the specified VM to a location given the currently
        configured NSG rules.
      operationId: NetworkWatchers_VerifyIPFlow
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationIPFlowParameters'
        description: Parameters that define the IP flow to be verified.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationIPFlowResult'
          description: Request successful. The operation returns the result of IP
            flow verification.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationIPFlowResult'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Ip flow verify:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            parameters:
              direction: Outbound
              localIPAddress: 10.2.0.4
              localPort: "80"
              protocol: TCP
              remoteIPAddress: 121.10.1.1
              remotePort: "80"
              targetResourceId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                access: Allow
                ruleName: Rule1
            "202":
              body:
                access: Allow
                ruleName: Rule1
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/networkConfigurationDiagnostic
  : post:
      description: Get network configuration diagnostic.
      operationId: NetworkWatchers_GetNetworkConfigurationDiagnostic
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkConfigurationDiagnosticParameters'
        description: Parameters to get network configuration diagnostic.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkConfigurationDiagnosticResponse'
          description: Request successful. The operation returns the result of network
            configuration diagnostic.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkConfigurationDiagnosticResponse'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Network configuration diagnostic:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            parameters:
              profiles:
              - destination: 12.11.12.14
                destinationPort: "12100"
                direction: Inbound
                protocol: TCP
                source: 10.1.0.4
              targetResourceId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                results:
                - networkSecurityGroupResult:
                    evaluatedNetworkSecurityGroups:
                    - appliedTo: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/vnet/subnets/AppSubnet
                      matchedRule:
                        action: Allow
                        ruleName: UserRule_fe_rule
                      networkSecurityGroupId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/nsg1
                      rulesEvaluationResult:
                      - destinationMatched: true
                        destinationPortMatched: false
                        name: UserRule_Cleanuptool-Allow-100
                        protocolMatched: true
                        sourceMatched: false
                        sourcePortMatched: true
                      - destinationMatched: true
                        destinationPortMatched: false
                        name: UserRule_Cleanuptool-Allow-101
                        protocolMatched: true
                        sourceMatched: true
                        sourcePortMatched: true
                      - destinationMatched: true
                        destinationPortMatched: false
                        name: UserRule_Cleanuptool-Allow-102
                        protocolMatched: true
                        sourceMatched: false
                        sourcePortMatched: true
                      - destinationMatched: true
                        destinationPortMatched: false
                        name: UserRule_Cleanuptool-Deny-103
                        protocolMatched: true
                        sourceMatched: true
                        sourcePortMatched: true
                      - destinationMatched: true
                        destinationPortMatched: true
                        name: UserRule_fe_rule
                        protocolMatched: true
                        sourceMatched: true
                        sourcePortMatched: true
                    - appliedTo: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/vnet/networkInterfaces/nic
                      matchedRule:
                        action: Allow
                        ruleName: UserRule_fe_rule
                      networkSecurityGroupId: /subscriptions/61cc8a98-a8be-4bfe-a04e-0b461f93fe35/resourceGroups/NwRgCentralUSEUAP_copy/providers/Microsoft.Network/networkSecurityGroups/AppNSG
                      rulesEvaluationResult:
                      - destinationMatched: true
                        destinationPortMatched: true
                        name: UserRule_fe_rule
                        protocolMatched: true
                        sourceMatched: true
                        sourcePortMatched: true
                    securityRuleAccessResult: Allow
                  profile:
                    destination: 12.11.12.14
                    destinationPort: "12100"
                    direction: Inbound
                    protocol: TCP
                    source: 10.1.0.4
            "202":
              body:
                results:
                - networkSecurityGroupResult:
                    evaluatedNetworkSecurityGroups:
                    - appliedTo: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/vnet/subnets/AppSubnet
                      matchedRule:
                        action: Allow
                        ruleName: UserRule_fe_rule
                      networkSecurityGroupId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/nsg1
                      rulesEvaluationResult:
                      - destinationMatched: true
                        destinationPortMatched: false
                        name: UserRule_Cleanuptool-Allow-100
                        protocolMatched: true
                        sourceMatched: false
                        sourcePortMatched: true
                      - destinationMatched: true
                        destinationPortMatched: false
                        name: UserRule_Cleanuptool-Allow-101
                        protocolMatched: true
                        sourceMatched: true
                        sourcePortMatched: true
                      - destinationMatched: true
                        destinationPortMatched: false
                        name: UserRule_Cleanuptool-Allow-102
                        protocolMatched: true
                        sourceMatched: false
                        sourcePortMatched: true
                      - destinationMatched: true
                        destinationPortMatched: false
                        name: UserRule_Cleanuptool-Deny-103
                        protocolMatched: true
                        sourceMatched: true
                        sourcePortMatched: true
                      - destinationMatched: true
                        destinationPortMatched: true
                        name: UserRule_fe_rule
                        protocolMatched: true
                        sourceMatched: true
                        sourcePortMatched: true
                    - appliedTo: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/vnet/networkInterfaces/nic
                      matchedRule:
                        action: Allow
                        ruleName: UserRule_fe_rule
                      networkSecurityGroupId: /subscriptions/61cc8a98-a8be-4bfe-a04e-0b461f93fe35/resourceGroups/NwRgCentralUSEUAP_copy/providers/Microsoft.Network/networkSecurityGroups/AppNSG
                      rulesEvaluationResult:
                      - destinationMatched: true
                        destinationPortMatched: true
                        name: UserRule_fe_rule
                        protocolMatched: true
                        sourceMatched: true
                        sourcePortMatched: true
                    securityRuleAccessResult: Allow
                  profile:
                    destination: 12.11.12.14
                    destinationPort: "12100"
                    direction: Inbound
                    protocol: TCP
                    source: 10.1.0.4
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/nextHop
  : post:
      description: Gets the next hop from the specified VM.
      operationId: NetworkWatchers_GetNextHop
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NextHopParameters'
        description: Parameters that define the source and destination endpoint.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NextHopResult'
          description: Request successful. The operation returns the next hop from
            the VM.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NextHopResult'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Get next hop:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            parameters:
              destinationIPAddress: 10.0.0.10
              sourceIPAddress: 10.0.0.5
              targetNicResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic1
              targetResourceId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextHopIpAddress: 10.0.0.1
                nextHopType: VnetLocal
                routeTableId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/routeTables/rt1
            "202":
              body:
                nextHopIpAddress: 10.0.0.1
                nextHopType: VnetLocal
                routeTableId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/routeTables/rt1
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures
  : get:
      description: Lists all packet capture sessions within the specified resource
        group.
      operationId: PacketCaptures_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureListResult'
          description: Successful packet capture enumeration request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PacketCaptures
      x-ms-examples:
        List packet captures:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/packetCaptures/pc1
                  name: pc1
                  properties:
                    bytesToCapturePerPacket: 10000
                    filters:
                    - localIPAddress: 10.0.0.4
                      localPort: "80"
                      protocol: TCP
                    provisioningState: Updating
                    storageLocation:
                      filePath: D:\capture\pc1.cap
                      storageId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Storage/storageAccounts/pcstore
                      storagePath: https://mytestaccountname.blob.core.windows.net/capture/pc1.cap
                    target: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
                    timeLimitInSeconds: 100
                    totalBytesPerSession: 100000
                - etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/packetCaptures/pc2
                  name: pc2
                  properties:
                    bytesToCapturePerPacket: 10000
                    filters: []
                    provisioningState: Succeeded
                    storageLocation:
                      filePath: D:\capture\pc2.cap
                      storageId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Storage/storageAccounts/pcstore
                      storagePath: https://mytestaccountname.blob.core.windows.net/capture/pc2.cap
                    target: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
                    timeLimitInSeconds: 100
                    totalBytesPerSession: 100000
      x-ms-pageable: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}
  : delete:
      description: Deletes the specified packet capture session.
      operationId: PacketCaptures_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the packet capture session.
        in: path
        name: packetCaptureName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        "204":
          content: {}
          description: Delete successful.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PacketCaptures
      x-ms-examples:
        Delete packet capture:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            packetCaptureName: pc1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
    get:
      description: Gets a packet capture session by name.
      operationId: PacketCaptures_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the packet capture session.
        in: path
        name: packetCaptureName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureResult'
          description: Request successful. The operation returns a packet capture
            session.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PacketCaptures
      x-ms-examples:
        Get packet capture:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            packetCaptureName: pc1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/packetCaptures/pc1
                name: pc1
                properties:
                  bytesToCapturePerPacket: 10000
                  filters:
                  - localIPAddress: 10.0.0.4
                    localPort: "80"
                    protocol: TCP
                  provisioningState: Updating
                  storageLocation:
                    filePath: D:\capture\pc1.cap
                    storageId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Storage/storageAccounts/pcstore
                    storagePath: https://mytestaccountname.blob.core.windows.net/capture/pc1.cap
                  target: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
                  timeLimitInSeconds: 100
                  totalBytesPerSession: 100000
      x-accepts:
      - application/json
    put:
      description: Create and start a packet capture on the specified VM.
      operationId: PacketCaptures_Create
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the packet capture session.
        in: path
        name: packetCaptureName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PacketCapture'
        description: Parameters that define the create packet capture operation.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureResult'
          description: Request successful. The operation returns the resulting packet
            capture session.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PacketCaptures
      x-ms-examples:
        Create packet capture:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            packetCaptureName: pc1
            parameters:
              properties:
                bytesToCapturePerPacket: 10000
                filters:
                - localIPAddress: 10.0.0.4
                  localPort: "80"
                  protocol: TCP
                storageLocation:
                  filePath: D:\capture\pc1.cap
                  storageId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Storage/storageAccounts/pcstore
                  storagePath: https://mytestaccountname.blob.core.windows.net/capture/pc1.cap
                target: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
                timeLimitInSeconds: 100
                totalBytesPerSession: 100000
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/packetCaptures/pc1
                name: pc1
                properties:
                  bytesToCapturePerPacket: 10000
                  filters:
                  - localIPAddress: 10.0.0.4
                    localPort: "80"
                    protocol: TCP
                  provisioningState: Updating
                  storageLocation:
                    filePath: D:\capture\pc1.cap
                    storageId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Storage/storageAccounts/pcstore
                    storagePath: https://mytestaccountname.blob.core.windows.net/capture/pc1.cap
                  target: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
                  timeLimitInSeconds: 100
                  totalBytesPerSession: 100000
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}/queryStatus
  : post:
      description: Query the status of a running packet capture session.
      operationId: PacketCaptures_GetStatus
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the Network Watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name given to the packet capture session.
        in: path
        name: packetCaptureName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureQueryStatusResult'
          description: Successful query of packet capture status.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PacketCaptureQueryStatusResult'
          description: Accepted query status of packet capture.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PacketCaptures
      x-ms-examples:
        Query packet capture status:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            packetCaptureName: pc1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                captureStartTime: 2016-09-07T12:35:24Z
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/packetCaptures/pc1
                name: pc1
                packetCaptureError: []
                packetCaptureStatus: Stopped
                stopReason: TimeExceeded
            "202":
              body:
                captureStartTime: 2016-09-07T12:35:24Z
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/packetCaptures/pc1
                name: pc1
                packetCaptureError: []
                packetCaptureStatus: Stopped
                stopReason: TimeExceeded
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/packetCaptures/{packetCaptureName}/stop
  : post:
      description: Stops a specified packet capture session.
      operationId: PacketCaptures_Stop
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: The name of the packet capture session.
        in: path
        name: packetCaptureName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Request successful. The operation stops the packet capture
            session.
        "202":
          content: {}
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PacketCaptures
      x-ms-examples:
        Stop packet capture:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            packetCaptureName: pc1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/queryFlowLogStatus
  : post:
      description: Queries status of flow log and traffic analytics (optional) on
        a specified resource.
      operationId: NetworkWatchers_GetFlowLogStatus
      parameters:
      - description: The name of the network watcher resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlowLogStatusParameters'
        description: Parameters that define a resource to query flow log and traffic
          analytics (optional)  status.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowLogInformation'
          description: Successful request for query flow log and traffic analytics
            (optional) status.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowLogInformation'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      - TrafficAnalytics
      x-ms-examples:
        Get flow log status:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            parameters:
              targetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                properties:
                  enabled: true
                  storageId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Storage/storageAccounts/st1
                targetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
            "202":
              body:
                properties:
                  enabled: true
                  storageId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Storage/storageAccounts/st1
                targetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/queryTroubleshootResult
  : post:
      description: Get the last completed troubleshooting result on a specified resource
      operationId: NetworkWatchers_GetTroubleshootingResult
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher resource.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryTroubleshootingParameters'
        description: Parameters that define the resource to query the troubleshooting
          result.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TroubleshootingResult'
          description: Successful get troubleshooting result request
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TroubleshootingResult'
          description: Accepted get troubleshooting result request.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Get troubleshoot result:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            parameters:
              targetResourceId: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Compute/virtualMachines/vm1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                code: UnHealthy
                endTime: 2017-01-12T00:20:09.914Z
                results:
                - detail: During this time S2S VPN tunnels to on premises sites or
                    other Azure virtual networks will be disconnected
                  id: "000000"
                  reasonType: VipUnResponsive
                  recommendedActions:
                  - actionText: Verify if there is a network security group (NSG)
                      applied to the GatewaySubnet
                    actionUri: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-create-nsg-arm-pportal
                    actionUriText: Verify
                  - actionText: "If your VPN gateway isn't up and running by the expected\
                      \ resolution time, contact support"
                    actionUri: http://azure.microsoft.com/support
                    actionUriText: contact support
                  summary: "We are sorry, your VPN gateway is unreachable from the\
                    \ Internet"
                startTime: 2017-01-12T00:19:47.0442834Z
            "202":
              body:
                code: UnHealthy
                endTime: 2017-01-12T00:20:09.914Z
                results:
                - detail: During this time S2S VPN tunnels to on premises sites or
                    other Azure virtual networks will be disconnected
                  id: "000000"
                  reasonType: VipUnResponsive
                  recommendedActions:
                  - actionText: Verify if there is a network security group (NSG)
                      applied to the GatewaySubnet
                    actionUri: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-create-nsg-arm-pportal
                    actionUriText: Verify
                  - actionText: "If your VPN gateway isn't up and running by the expected\
                      \ resolution time, contact support"
                    actionUri: http://azure.microsoft.com/support
                    actionUriText: contact support
                  summary: "We are sorry, your VPN gateway is unreachable from the\
                    \ Internet"
                startTime: 2017-01-12T00:19:47.0442834Z
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/securityGroupView
  : post:
      description: Gets the configured and effective security group rules on the specified
        VM.
      operationId: NetworkWatchers_GetVMSecurityRules
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the network watcher.
        in: path
        name: networkWatcherName
        required: true
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityGroupViewParameters'
        description: Parameters that define the VM to check security groups for.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroupViewResult'
          description: Request successful. The operation returns security group rules
            on the VM.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroupViewResult'
          description: Accepted and the operation will complete asynchronously.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - NetworkWatchers
      x-ms-examples:
        Get security group view:
          parameters:
            api-version: 2018-10-01
            networkWatcherName: nw1
            parameters:
[...]
