openapi: 3.0.1
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient
  version: 2015-02-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/preview/2015-02-01-preview/logic.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Logic/workflows:
    get:
      description: Gets a list of workflows by subscription.
      operationId: Workflows_ListBySubscription
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
          description: OK
      tags:
      - Workflows
      x-ms-odata: '#/definitions/WorkflowFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows:
    get:
      description: Gets a list of workflows by resource group.
      operationId: Workflows_ListByResourceGroup
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowListResult'
          description: OK
      tags:
      - Workflows
      x-ms-odata: '#/definitions/WorkflowFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}:
    delete:
      description: Deletes a workflow.
      operationId: Workflows_Delete
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - Workflows
      x-accepts:
      - application/json
    get:
      description: Gets a workflow.
      operationId: Workflows_Get
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
            text/json:
              schema:
                $ref: '#/components/schemas/Workflow'
          description: OK
      tags:
      - Workflows
      x-accepts:
      - application/json
      - text/json
    patch:
      description: Updates a workflow.
      operationId: Workflows_Update
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
          text/json:
            schema:
              $ref: '#/components/schemas/Workflow'
        description: The workflow.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
            text/json:
              schema:
                $ref: '#/components/schemas/Workflow'
          description: OK
      tags:
      - Workflows
      x-codegen-request-body-name: workflow
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
    put:
      description: Creates or updates a workflow.
      operationId: Workflows_CreateOrUpdate
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
          text/json:
            schema:
              $ref: '#/components/schemas/Workflow'
        description: The workflow.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
            text/json:
              schema:
                $ref: '#/components/schemas/Workflow'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
            text/json:
              schema:
                $ref: '#/components/schemas/Workflow'
          description: Created
      tags:
      - Workflows
      x-codegen-request-body-name: workflow
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/accessKeys
  : get:
      description: Gets a list of workflow access keys.
      operationId: WorkflowAccessKeys_List
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowAccessKeyListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowAccessKeyListResult'
          description: OK
      tags:
      - WorkflowAccessKeys
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/accessKeys/{accessKeyName}
  : delete:
      description: Deletes a workflow access key.
      operationId: WorkflowAccessKeys_Delete
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The workflow access key name.
        in: path
        name: accessKeyName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "204":
          content: {}
          description: No Content
      tags:
      - WorkflowAccessKeys
      x-accepts:
      - application/json
    get:
      description: Gets a workflow access key.
      operationId: WorkflowAccessKeys_Get
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The workflow access key name.
        in: path
        name: accessKeyName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowAccessKey'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowAccessKey'
          description: OK
      tags:
      - WorkflowAccessKeys
      x-accepts:
      - application/json
      - text/json
    put:
      description: Creates or updates a workflow access key.
      operationId: WorkflowAccessKeys_CreateOrUpdate
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The workflow access key name.
        in: path
        name: accessKeyName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowAccessKey'
          text/json:
            schema:
              $ref: '#/components/schemas/WorkflowAccessKey'
        description: The workflow access key.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowAccessKey'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowAccessKey'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowAccessKey'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowAccessKey'
          description: Created
      tags:
      - WorkflowAccessKeys
      x-codegen-request-body-name: workflowAccesskey
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/accessKeys/{accessKeyName}/list
  : post:
      description: Lists secret keys.
      operationId: WorkflowAccessKeys_ListSecretKeys
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The workflow access key name.
        in: path
        name: accessKeyName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowSecretKeys'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowSecretKeys'
          description: OK
      tags:
      - WorkflowAccessKeys
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/accessKeys/{accessKeyName}/regenerate
  : post:
      description: Regenerates secret key.
      operationId: WorkflowAccessKeys_RegenerateSecretKey
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The workflow access key name.
        in: path
        name: accessKeyName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegenerateSecretKeyParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/RegenerateSecretKeyParameters'
        description: The parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowSecretKeys'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowSecretKeys'
          description: OK
      tags:
      - WorkflowAccessKeys
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/disable:
    post:
      description: Disables a workflow.
      operationId: Workflows_Disable
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      tags:
      - Workflows
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/enable:
    post:
      description: Enables a workflow.
      operationId: Workflows_Enable
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      tags:
      - Workflows
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/run:
    post:
      description: Runs a workflow.
      operationId: Workflows_Run
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunWorkflowParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/RunWorkflowParameters'
        description: The parameters.
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
          description: Accepted
      tags:
      - Workflows
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs:
    get:
      description: Gets a list of workflow runs.
      operationId: WorkflowRuns_List
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunListResult'
          description: OK
      tags:
      - WorkflowRuns
      x-ms-odata: '#/definitions/WorkflowRunFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}
  : get:
      description: Gets a workflow run.
      operationId: WorkflowRuns_Get
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The workflow run name.
        in: path
        name: runName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
          description: OK
      tags:
      - WorkflowRuns
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions
  : get:
      description: Gets a list of workflow run actions.
      operationId: WorkflowRunActions_List
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The workflow run name.
        in: path
        name: runName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunActionListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunActionListResult'
          description: OK
      tags:
      - WorkflowRunActions
      x-ms-odata: '#/definitions/WorkflowRunActionFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}
  : get:
      description: Gets a workflow run action.
      operationId: WorkflowRunActions_Get
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The workflow run name.
        in: path
        name: runName
        required: true
        schema:
          type: string
      - description: The workflow action name.
        in: path
        name: actionName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunAction'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowRunAction'
          description: OK
      tags:
      - WorkflowRunActions
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/cancel
  : post:
      description: Cancels a workflow run.
      operationId: WorkflowRuns_Cancel
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The workflow run name.
        in: path
        name: runName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      tags:
      - WorkflowRuns
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/:
    get:
      description: Gets a list of workflow triggers.
      operationId: WorkflowTriggers_List
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerListResult'
          description: OK
      tags:
      - WorkflowTriggers
      x-ms-odata: '#/definitions/WorkflowTriggerFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}
  : get:
      description: Gets a workflow trigger.
      operationId: WorkflowTriggers_Get
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The workflow trigger name.
        in: path
        name: triggerName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTrigger'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowTrigger'
          description: OK
      tags:
      - WorkflowTriggers
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/histories
  : get:
      description: Gets a list of workflow trigger histories.
      operationId: WorkflowTriggerHistories_List
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The workflow trigger name.
        in: path
        name: triggerName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: The number of items to be included in the result.
        in: query
        name: $top
        schema:
          format: int32
          type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerHistoryListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerHistoryListResult'
          description: OK
      tags:
      - WorkflowTriggerHistories
      x-ms-odata: '#/definitions/WorkflowTriggerHistoryFilter'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/histories/{historyName}
  : get:
      description: Gets a workflow trigger history.
      operationId: WorkflowTriggerHistories_Get
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The workflow trigger name.
        in: path
        name: triggerName
        required: true
        schema:
          type: string
      - description: The workflow trigger history name.
        in: path
        name: historyName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerHistory'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowTriggerHistory'
          description: OK
      tags:
      - WorkflowTriggerHistories
      x-accepts:
      - application/json
      - text/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/run
  : post:
      description: Runs a workflow trigger.
      operationId: WorkflowTriggers_Run
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The workflow trigger name.
        in: path
        name: triggerName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      tags:
      - WorkflowTriggers
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/validate:
    post:
      description: Validates a workflow.
      operationId: Workflows_Validate
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workflow'
          text/json:
            schema:
              $ref: '#/components/schemas/Workflow'
        description: The workflow.
        required: true
      responses:
        "200":
          content: {}
          description: OK
      tags:
      - Workflows
      x-codegen-request-body-name: workflow
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions/{versionId}
  : get:
      description: Gets a workflow version.
      operationId: WorkflowVersions_Get
      parameters:
      - description: The subscription id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The workflow name.
        in: path
        name: workflowName
        required: true
        schema:
          type: string
      - description: The workflow versionId.
        in: path
        name: versionId
        required: true
        schema:
          type: string
      - description: The API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersion'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersion'
          description: OK
      tags:
      - WorkflowVersions
      x-accepts:
      - application/json
      - text/json
components:
  parameters:
    api-version:
      description: The API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionId:
      description: The subscription id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    ContentHash:
      example:
        value: value
        algorithm: algorithm
      properties:
        algorithm:
          description: Gets or sets the algorithm.
          type: string
        value:
          description: Gets or sets the value.
          type: string
      type: object
    ContentLink:
      example:
        metadata: "{}"
        contentSize: 0
        contentVersion: contentVersion
        uri: uri
        contentHash:
          value: value
          algorithm: algorithm
      properties:
        contentHash:
          $ref: '#/components/schemas/ContentHash'
        contentSize:
          description: Gets or sets the content size.
          format: int64
          type: integer
        contentVersion:
          description: Gets or sets the content version.
          type: string
        metadata:
          type: object
        uri:
          description: Gets or sets the content link URI.
          type: string
      type: object
    KeyType:
      enum:
      - NotSpecified
      - Primary
      - Secondary
      type: string
      x-ms-enum:
        modelAsString: false
        name: KeyType
    Object:
      type: object
    ParameterType:
      enum:
      - NotSpecified
      - String
      - SecureString
      - Int
      - Float
      - Bool
      - Array
      - Object
      - SecureObject
      type: string
      x-ms-enum:
        modelAsString: false
        name: ParameterType
    RecurrenceFrequency:
      enum:
      - Second
      - Minute
      - Hour
      - Day
      - Week
      - Month
      - Year
      type: string
      x-ms-enum:
        modelAsString: false
        name: RecurrenceFrequency
    RegenerateSecretKeyParameters:
      example:
        keyType: NotSpecified
      properties:
        keyType:
          $ref: '#/components/schemas/KeyType'
      type: object
    Resource:
      properties:
        id:
          description: Gets or sets the resource id.
          type: string
        location:
          description: Gets or sets the resource location.
          type: string
        name:
          description: Gets the resource name.
          type: string
        tags:
          additionalProperties:
            type: string
          description: Gets or sets the resource tags.
          type: object
        type:
          description: Gets the resource type.
          type: string
      type: object
      x-ms-azure-resource: true
    ResourceReference:
      example:
        name: name
        id: id
        type: type
      properties:
        id:
          description: Gets or sets the resource id.
          type: string
        name:
          description: Gets the resource name.
          readOnly: true
          type: string
        type:
          description: Gets the resource type.
          readOnly: true
          type: string
      type: object
    RunWorkflowParameters:
      example:
        outputs: "{}"
        name: name
      properties:
        name:
          description: Gets or sets the name of workflow run trigger.
          type: string
        outputs:
          description: Gets or sets the outputs of workflow run trigger.
          properties: {}
          type: object
      type: object
    Sku:
      example:
        name: NotSpecified
        plan:
          name: name
          id: id
          type: type
      properties:
        name:
          $ref: '#/components/schemas/SkuName'
        plan:
          $ref: '#/components/schemas/ResourceReference'
      type: object
    SkuName:
      enum:
      - NotSpecified
      - Free
      - Shared
      - Basic
      - Standard
      - Premium
      type: string
      x-ms-enum:
        modelAsString: false
        name: SkuName
    SubResource:
      properties:
        id:
          description: Gets or sets the resource id.
          type: string
      type: object
      x-ms-azure-resource: true
    Workflow:
      allOf:
      - $ref: '#/components/schemas/Resource'
      example:
        properties:
          parametersLink:
            metadata: "{}"
            contentSize: 0
            contentVersion: contentVersion
            uri: uri
            contentHash:
              value: value
              algorithm: algorithm
          definitionLink:
            metadata: "{}"
            contentSize: 0
            contentVersion: contentVersion
            uri: uri
            contentHash:
              value: value
              algorithm: algorithm
          accessEndpoint: accessEndpoint
          createdTime: 2000-01-23T04:56:07.000+00:00
          definition: "{}"
          changedTime: 2000-01-23T04:56:07.000+00:00
          provisioningState: NotSpecified
          state: NotSpecified
          sku:
            name: NotSpecified
            plan:
              name: name
              id: id
              type: type
          parameters:
            key:
              metadata: "{}"
              type: NotSpecified
              value: "{}"
          version: version
      properties:
        properties:
          $ref: '#/components/schemas/WorkflowProperties'
    WorkflowAccessKey:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      example:
        name: name
        type: type
        properties:
          notAfter: 2000-01-23T04:56:07.000+00:00
          notBefore: 2000-01-23T04:56:07.000+00:00
      properties:
        name:
          description: Gets the workflow access key name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/WorkflowAccessKeyProperties'
        type:
          description: Gets the workflow access key type.
          readOnly: true
          type: string
    WorkflowAccessKeyListResult:
      example:
        value:
        - name: name
          type: type
          properties:
            notAfter: 2000-01-23T04:56:07.000+00:00
            notBefore: 2000-01-23T04:56:07.000+00:00
        - name: name
          type: type
          properties:
            notAfter: 2000-01-23T04:56:07.000+00:00
            notBefore: 2000-01-23T04:56:07.000+00:00
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of results.
          type: string
        value:
          description: Gets or sets a list of workflow access keys.
          items:
            $ref: '#/components/schemas/WorkflowAccessKey'
          type: array
      type: object
    WorkflowAccessKeyProperties:
      example:
        notAfter: 2000-01-23T04:56:07.000+00:00
        notBefore: 2000-01-23T04:56:07.000+00:00
      properties:
        notAfter:
          description: Gets or sets the not-after time.
          format: date-time
          type: string
        notBefore:
          description: Gets or sets the not-before time.
          format: date-time
          type: string
      type: object
    WorkflowFilter:
      properties:
        state:
          $ref: '#/components/schemas/WorkflowState'
      type: object
    WorkflowListResult:
      example:
        value:
        - properties:
            parametersLink:
              metadata: "{}"
              contentSize: 0
              contentVersion: contentVersion
              uri: uri
              contentHash:
                value: value
                algorithm: algorithm
            definitionLink:
              metadata: "{}"
              contentSize: 0
              contentVersion: contentVersion
              uri: uri
              contentHash:
                value: value
                algorithm: algorithm
            accessEndpoint: accessEndpoint
            createdTime: 2000-01-23T04:56:07.000+00:00
            definition: "{}"
            changedTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: NotSpecified
            state: NotSpecified
            sku:
              name: NotSpecified
              plan:
                name: name
                id: id
                type: type
            parameters:
              key:
                metadata: "{}"
                type: NotSpecified
                value: "{}"
            version: version
        - properties:
            parametersLink:
              metadata: "{}"
              contentSize: 0
              contentVersion: contentVersion
              uri: uri
              contentHash:
                value: value
                algorithm: algorithm
            definitionLink:
              metadata: "{}"
              contentSize: 0
              contentVersion: contentVersion
              uri: uri
              contentHash:
                value: value
                algorithm: algorithm
            accessEndpoint: accessEndpoint
            createdTime: 2000-01-23T04:56:07.000+00:00
            definition: "{}"
            changedTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: NotSpecified
            state: NotSpecified
            sku:
              name: NotSpecified
              plan:
                name: name
                id: id
                type: type
            parameters:
              key:
                metadata: "{}"
                type: NotSpecified
                value: "{}"
            version: version
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of results.
          type: string
        value:
          description: Gets or sets the list of workflows.
          items:
            $ref: '#/components/schemas/Workflow'
          type: array
      type: object
    WorkflowOutputParameter:
      allOf:
      - $ref: '#/components/schemas/WorkflowParameter'
      example:
        error: "{}"
      properties:
        error:
          type: object
    WorkflowParameter:
      example:
        metadata: "{}"
        type: NotSpecified
        value: "{}"
      properties:
        metadata:
          type: object
        type:
          $ref: '#/components/schemas/ParameterType'
        value:
          type: object
      type: object
    WorkflowProperties:
      example:
        parametersLink:
          metadata: "{}"
          contentSize: 0
          contentVersion: contentVersion
          uri: uri
          contentHash:
            value: value
            algorithm: algorithm
        definitionLink:
          metadata: "{}"
          contentSize: 0
          contentVersion: contentVersion
          uri: uri
          contentHash:
            value: value
            algorithm: algorithm
        accessEndpoint: accessEndpoint
        createdTime: 2000-01-23T04:56:07.000+00:00
        definition: "{}"
        changedTime: 2000-01-23T04:56:07.000+00:00
        provisioningState: NotSpecified
        state: NotSpecified
        sku:
          name: NotSpecified
          plan:
            name: name
            id: id
            type: type
        parameters:
          key:
            metadata: "{}"
            type: NotSpecified
            value: "{}"
        version: version
      properties:
        accessEndpoint:
          description: Gets the access endpoint.
          readOnly: true
          type: string
        changedTime:
          description: Gets the changed time.
          format: date-time
          readOnly: true
          type: string
        createdTime:
          description: Gets the created time.
          format: date-time
          readOnly: true
          type: string
        definition:
          type: object
        definitionLink:
          $ref: '#/components/schemas/ContentLink'
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/WorkflowParameter'
          description: Gets or sets the parameters.
          type: object
        parametersLink:
          $ref: '#/components/schemas/ContentLink'
        provisioningState:
          $ref: '#/components/schemas/WorkflowProvisioningState'
        sku:
          $ref: '#/components/schemas/Sku'
        state:
          $ref: '#/components/schemas/WorkflowState'
        version:
          description: Gets the version.
          readOnly: true
          type: string
      type: object
    WorkflowProvisioningState:
      enum:
      - NotSpecified
      - Moving
      - Succeeded
      type: string
      x-ms-enum:
        modelAsString: false
        name: WorkflowProvisioningState
    WorkflowRun:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      example:
        name: name
        type: type
        properties:
          outputs:
            key:
              error: "{}"
          code: code
          workflow:
            name: name
            id: id
            type: type
          correlationId: correlationId
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          trigger:
            outputs: "{}"
            code: code
            inputs: "{}"
            name: name
            outputsLink:
              metadata: "{}"
              contentSize: 0
              contentVersion: contentVersion
              uri: uri
              contentHash:
                value: value
                algorithm: algorithm
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            error: "{}"
            inputsLink:
              metadata: "{}"
              contentSize: 0
              contentVersion: contentVersion
              uri: uri
              contentHash:
                value: value
                algorithm: algorithm
            status: null
            trackingId: trackingId
          error: "{}"
          status: NotSpecified
      properties:
        name:
          description: Gets the workflow run name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/WorkflowRunProperties'
        type:
          description: Gets the workflow run type.
          readOnly: true
          type: string
    WorkflowRunAction:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      example:
        name: name
        type: type
        properties:
          code: code
          outputsLink:
            metadata: "{}"
            contentSize: 0
            contentVersion: contentVersion
            uri: uri
            contentHash:
              value: value
              algorithm: algorithm
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          error: "{}"
          inputsLink:
            metadata: "{}"
            contentSize: 0
            contentVersion: contentVersion
            uri: uri
            contentHash:
              value: value
              algorithm: algorithm
          status: NotSpecified
          trackingId: trackingId
      properties:
        name:
          description: Gets the workflow run action name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/WorkflowRunActionProperties'
        type:
          description: Gets the workflow run action type.
          readOnly: true
          type: string
    WorkflowRunActionFilter:
      properties:
        status:
          $ref: '#/components/schemas/WorkflowStatus'
      type: object
    WorkflowRunActionListResult:
      example:
        value:
        - name: name
          type: type
          properties:
            code: code
            outputsLink:
              metadata: "{}"
              contentSize: 0
              contentVersion: contentVersion
              uri: uri
              contentHash:
                value: value
                algorithm: algorithm
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            error: "{}"
            inputsLink:
              metadata: "{}"
              contentSize: 0
              contentVersion: contentVersion
              uri: uri
              contentHash:
                value: value
                algorithm: algorithm
            status: NotSpecified
            trackingId: trackingId
        - name: name
          type: type
          properties:
            code: code
            outputsLink:
              metadata: "{}"
              contentSize: 0
              contentVersion: contentVersion
              uri: uri
              contentHash:
                value: value
                algorithm: algorithm
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            error: "{}"
            inputsLink:
              metadata: "{}"
              contentSize: 0
              contentVersion: contentVersion
              uri: uri
              contentHash:
                value: value
                algorithm: algorithm
            status: NotSpecified
            trackingId: trackingId
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of results.
          type: string
        value:
          description: Gets or sets a list of workflow run actions.
          items:
            $ref: '#/components/schemas/WorkflowRunAction'
          type: array
      type: object
    WorkflowRunActionProperties:
      example:
        code: code
        outputsLink:
          metadata: "{}"
          contentSize: 0
          contentVersion: contentVersion
          uri: uri
          contentHash:
            value: value
            algorithm: algorithm
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        error: "{}"
        inputsLink:
          metadata: "{}"
          contentSize: 0
          contentVersion: contentVersion
          uri: uri
          contentHash:
            value: value
            algorithm: algorithm
        status: NotSpecified
        trackingId: trackingId
      properties:
        code:
          description: Gets the code.
          readOnly: true
          type: string
        endTime:
          description: Gets the end time.
          format: date-time
          readOnly: true
          type: string
        error:
          type: object
        inputsLink:
          $ref: '#/components/schemas/ContentLink'
        outputsLink:
          $ref: '#/components/schemas/ContentLink'
        startTime:
          description: Gets the start time.
          format: date-time
          readOnly: true
          type: string
        status:
          $ref: '#/components/schemas/WorkflowStatus'
        trackingId:
          description: Gets the trackingId.
          readOnly: true
          type: string
      type: object
    WorkflowRunFilter:
      properties:
        status:
          $ref: '#/components/schemas/WorkflowStatus'
      type: object
    WorkflowRunListResult:
      example:
        value:
        - name: name
          type: type
          properties:
            outputs:
              key:
                error: "{}"
            code: code
            workflow:
              name: name
              id: id
              type: type
            correlationId: correlationId
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            trigger:
              outputs: "{}"
              code: code
              inputs: "{}"
              name: name
              outputsLink:
                metadata: "{}"
                contentSize: 0
                contentVersion: contentVersion
                uri: uri
                contentHash:
                  value: value
                  algorithm: algorithm
              startTime: 2000-01-23T04:56:07.000+00:00
              endTime: 2000-01-23T04:56:07.000+00:00
              error: "{}"
              inputsLink:
                metadata: "{}"
                contentSize: 0
                contentVersion: contentVersion
                uri: uri
                contentHash:
                  value: value
                  algorithm: algorithm
              status: null
              trackingId: trackingId
            error: "{}"
            status: NotSpecified
        - name: name
          type: type
          properties:
            outputs:
              key:
                error: "{}"
            code: code
            workflow:
              name: name
              id: id
              type: type
            correlationId: correlationId
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            trigger:
              outputs: "{}"
              code: code
              inputs: "{}"
              name: name
              outputsLink:
                metadata: "{}"
                contentSize: 0
                contentVersion: contentVersion
                uri: uri
                contentHash:
                  value: value
                  algorithm: algorithm
              startTime: 2000-01-23T04:56:07.000+00:00
              endTime: 2000-01-23T04:56:07.000+00:00
              error: "{}"
              inputsLink:
                metadata: "{}"
                contentSize: 0
                contentVersion: contentVersion
                uri: uri
                contentHash:
                  value: value
                  algorithm: algorithm
              status: null
              trackingId: trackingId
            error: "{}"
            status: NotSpecified
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of results.
          type: string
        value:
          description: Gets or sets a list of workflow runs.
          items:
            $ref: '#/components/schemas/WorkflowRun'
          type: array
      type: object
    WorkflowRunProperties:
      example:
        outputs:
          key:
            error: "{}"
        code: code
        workflow:
          name: name
          id: id
          type: type
        correlationId: correlationId
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        trigger:
          outputs: "{}"
          code: code
          inputs: "{}"
          name: name
          outputsLink:
            metadata: "{}"
            contentSize: 0
            contentVersion: contentVersion
            uri: uri
            contentHash:
              value: value
              algorithm: algorithm
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          error: "{}"
          inputsLink:
            metadata: "{}"
            contentSize: 0
            contentVersion: contentVersion
            uri: uri
            contentHash:
              value: value
              algorithm: algorithm
          status: null
          trackingId: trackingId
        error: "{}"
        status: NotSpecified
      properties:
        code:
          description: Gets the code.
          readOnly: true
          type: string
        correlationId:
          description: Gets the correlation id.
          readOnly: true
          type: string
        endTime:
          description: Gets the end time.
          format: date-time
          readOnly: true
          type: string
        error:
          type: object
        outputs:
          additionalProperties:
            $ref: '#/components/schemas/WorkflowOutputParameter'
          description: Gets the outputs.
          readOnly: true
          type: object
        startTime:
          description: Gets the start time.
          format: date-time
          readOnly: true
          type: string
        status:
          $ref: '#/components/schemas/WorkflowStatus'
        trigger:
          $ref: '#/components/schemas/WorkflowRunTrigger'
        workflow:
          $ref: '#/components/schemas/ResourceReference'
      type: object
    WorkflowRunTrigger:
      example:
        outputs: "{}"
        code: code
        inputs: "{}"
        name: name
        outputsLink:
          metadata: "{}"
          contentSize: 0
          contentVersion: contentVersion
          uri: uri
          contentHash:
            value: value
            algorithm: algorithm
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        error: "{}"
        inputsLink:
          metadata: "{}"
          contentSize: 0
          contentVersion: contentVersion
          uri: uri
          contentHash:
            value: value
            algorithm: algorithm
        status: null
        trackingId: trackingId
      properties:
        code:
          description: Gets the code.
          readOnly: true
          type: string
        endTime:
          description: Gets the end time.
          format: date-time
          readOnly: true
          type: string
        error:
          type: object
        inputs:
          type: object
        inputsLink:
          $ref: '#/components/schemas/ContentLink'
        name:
          description: Gets the name.
          readOnly: true
          type: string
        outputs:
          type: object
        outputsLink:
          $ref: '#/components/schemas/ContentLink'
        startTime:
          description: Gets the start time.
          format: date-time
          readOnly: true
          type: string
        status:
          $ref: '#/components/schemas/WorkflowStatus'
        trackingId:
          description: Gets the trackingId.
          readOnly: true
          type: string
      type: object
    WorkflowSecretKeys:
      example:
        secondarySecretKey: secondarySecretKey
        primarySecretKey: primarySecretKey
      properties:
        primarySecretKey:
          description: Gets the primary secret key.
          readOnly: true
          type: string
        secondarySecretKey:
          description: Gets the secondary secret key.
          readOnly: true
          type: string
      type: object
    WorkflowState:
      enum:
      - NotSpecified
      - Enabled
      - Disabled
      - Deleted
      - Suspended
      type: string
      x-ms-enum:
        modelAsString: false
        name: WorkflowState
    WorkflowStatus:
      enum:
      - NotSpecified
      - Paused
      - Running
      - Waiting
      - Succeeded
      - Skipped
      - Suspended
      - Cancelled
      - Failed
      - Faulted
      - TimedOut
      - Aborted
      type: string
      x-ms-enum:
        modelAsString: false
        name: WorkflowStatus
    WorkflowTrigger:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      example:
        name: name
        type: type
        properties:
          recurrence:
            timeZone: timeZone
            interval: 0
            startTime: 2000-01-23T04:56:07.000+00:00
            frequency: Second
          workflow:
            name: name
            id: id
            type: type
          nextExecutionTime: 2000-01-23T04:56:07.000+00:00
          createdTime: 2000-01-23T04:56:07.000+00:00
          changedTime: 2000-01-23T04:56:07.000+00:00
          provisioningState: NotSpecified
          state: NotSpecified
          lastExecutionTime: 2000-01-23T04:56:07.000+00:00
          status: NotSpecified
      properties:
        name:
          description: Gets the workflow trigger name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/WorkflowTriggerProperties'
        type:
          description: Gets the workflow trigger type.
          readOnly: true
          type: string
    WorkflowTriggerFilter:
      properties:
        state:
          $ref: '#/components/schemas/WorkflowState'
      type: object
    WorkflowTriggerHistory:
      allOf:
      - $ref: '#/components/schemas/SubResource'
      example:
        name: name
        type: type
        properties:
          fired: true
          code: code
          outputsLink:
            metadata: "{}"
            contentSize: 0
            contentVersion: contentVersion
            uri: uri
            contentHash:
              value: value
              algorithm: algorithm
          run:
            name: name
            id: id
            type: type
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          error: "{}"
          inputsLink:
            metadata: "{}"
            contentSize: 0
            contentVersion: contentVersion
            uri: uri
            contentHash:
              value: value
              algorithm: algorithm
          status: NotSpecified
          trackingId: trackingId
      properties:
        name:
          description: Gets the workflow trigger history name.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/WorkflowTriggerHistoryProperties'
        type:
          description: Gets the workflow trigger history type.
          readOnly: true
          type: string
    WorkflowTriggerHistoryFilter:
      properties:
        status:
          $ref: '#/components/schemas/WorkflowStatus'
      type: object
    WorkflowTriggerHistoryListResult:
      example:
        value:
        - name: name
          type: type
          properties:
            fired: true
            code: code
            outputsLink:
              metadata: "{}"
              contentSize: 0
              contentVersion: contentVersion
              uri: uri
              contentHash:
                value: value
                algorithm: algorithm
            run:
              name: name
              id: id
              type: type
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            error: "{}"
            inputsLink:
              metadata: "{}"
              contentSize: 0
              contentVersion: contentVersion
              uri: uri
              contentHash:
                value: value
                algorithm: algorithm
            status: NotSpecified
            trackingId: trackingId
        - name: name
          type: type
          properties:
            fired: true
            code: code
            outputsLink:
              metadata: "{}"
              contentSize: 0
              contentVersion: contentVersion
              uri: uri
              contentHash:
                value: value
                algorithm: algorithm
            run:
              name: name
              id: id
              type: type
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            error: "{}"
            inputsLink:
              metadata: "{}"
              contentSize: 0
              contentVersion: contentVersion
              uri: uri
              contentHash:
                value: value
                algorithm: algorithm
            status: NotSpecified
            trackingId: trackingId
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of results.
          type: string
        value:
          description: Gets or sets a list of workflow trigger histories.
          items:
            $ref: '#/components/schemas/WorkflowTriggerHistory'
          type: array
      type: object
    WorkflowTriggerHistoryProperties:
      example:
        fired: true
        code: code
        outputsLink:
          metadata: "{}"
          contentSize: 0
          contentVersion: contentVersion
          uri: uri
          contentHash:
            value: value
            algorithm: algorithm
        run:
          name: name
          id: id
          type: type
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        error: "{}"
        inputsLink:
          metadata: "{}"
          contentSize: 0
          contentVersion: contentVersion
          uri: uri
          contentHash:
            value: value
            algorithm: algorithm
        status: NotSpecified
        trackingId: trackingId
      properties:
        code:
          description: Gets the code.
          readOnly: true
          type: string
        endTime:
          description: Gets the end time.
          format: date-time
          readOnly: true
          type: string
        error:
          type: object
        fired:
          description: Gets a value indicating whether trigger was fired.
          readOnly: true
          type: boolean
        inputsLink:
          $ref: '#/components/schemas/ContentLink'
        outputsLink:
          $ref: '#/components/schemas/ContentLink'
        run:
          $ref: '#/components/schemas/ResourceReference'
        startTime:
          description: Gets the start time.
          format: date-time
          readOnly: true
          type: string
        status:
          $ref: '#/components/schemas/WorkflowStatus'
        trackingId:
          description: Gets the tracking id.
          readOnly: true
          type: string
      type: object
    WorkflowTriggerListResult:
      example:
        value:
        - name: name
          type: type
          properties:
            recurrence:
              timeZone: timeZone
              interval: 0
              startTime: 2000-01-23T04:56:07.000+00:00
              frequency: Second
            workflow:
              name: name
              id: id
              type: type
            nextExecutionTime: 2000-01-23T04:56:07.000+00:00
            createdTime: 2000-01-23T04:56:07.000+00:00
            changedTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: NotSpecified
            state: NotSpecified
            lastExecutionTime: 2000-01-23T04:56:07.000+00:00
            status: NotSpecified
        - name: name
          type: type
          properties:
            recurrence:
              timeZone: timeZone
              interval: 0
              startTime: 2000-01-23T04:56:07.000+00:00
              frequency: Second
            workflow:
              name: name
              id: id
              type: type
            nextExecutionTime: 2000-01-23T04:56:07.000+00:00
            createdTime: 2000-01-23T04:56:07.000+00:00
            changedTime: 2000-01-23T04:56:07.000+00:00
            provisioningState: NotSpecified
            state: NotSpecified
            lastExecutionTime: 2000-01-23T04:56:07.000+00:00
            status: NotSpecified
        nextLink: nextLink
      properties:
        nextLink:
          description: Gets or sets the URL to get the next set of results.
          type: string
        value:
          description: Gets or sets a list of workflow triggers.
          items:
            $ref: '#/components/schemas/WorkflowTrigger'
          type: array
      type: object
    WorkflowTriggerProperties:
      example:
        recurrence:
          timeZone: timeZone
          interval: 0
          startTime: 2000-01-23T04:56:07.000+00:00
          frequency: Second
        workflow:
          name: name
          id: id
          type: type
        nextExecutionTime: 2000-01-23T04:56:07.000+00:00
        createdTime: 2000-01-23T04:56:07.000+00:00
        changedTime: 2000-01-23T04:56:07.000+00:00
        provisioningState: NotSpecified
        state: NotSpecified
        lastExecutionTime: 2000-01-23T04:56:07.000+00:00
        status: NotSpecified
      properties:
        changedTime:
          description: Gets the changed time.
          format: date-time
          readOnly: true
          type: string
        createdTime:
          description: Gets the created time.
          format: date-time
          readOnly: true
          type: string
        lastExecutionTime:
          description: Gets the last execution time.
          format: date-time
          readOnly: true
          type: string
        nextExecutionTime:
          description: Gets the next execution time.
          format: date-time
          readOnly: true
          type: string
        provisioningState:
          $ref: '#/components/schemas/WorkflowTriggerProvisioningState'
        recurrence:
          $ref: '#/components/schemas/WorkflowTriggerRecurrence'
        state:
          $ref: '#/components/schemas/WorkflowState'
        status:
          $ref: '#/components/schemas/WorkflowStatus'
        workflow:
          $ref: '#/components/schemas/ResourceReference'
      type: object
    WorkflowTriggerProvisioningState:
      enum:
      - NotSpecified
      - Creating
      - Succeeded
      - Updating
      type: string
      x-ms-enum:
        modelAsString: false
        name: WorkflowTriggerProvisioningState
    WorkflowTriggerRecurrence:
      example:
        timeZone: timeZone
        interval: 0
        startTime: 2000-01-23T04:56:07.000+00:00
        frequency: Second
      properties:
        frequency:
          $ref: '#/components/schemas/RecurrenceFrequency'
        interval:
          description: Gets or sets the interval.
          format: int32
          type: integer
        startTime:
          description: Gets or sets the start time.
          format: date-time
          type: string
        timeZone:
          description: Gets or sets the time zone.
          type: string
      type: object
    WorkflowVersion:
      allOf:
      - $ref: '#/components/schemas/Resource'
      example:
        properties:
          parametersLink:
            metadata: "{}"
            contentSize: 0
            contentVersion: contentVersion
            uri: uri
            contentHash:
              value: value
              algorithm: algorithm
          definitionLink:
            metadata: "{}"
            contentSize: 0
            contentVersion: contentVersion
            uri: uri
            contentHash:
              value: value
              algorithm: algorithm
          accessEndpoint: accessEndpoint
          createdTime: 2000-01-23T04:56:07.000+00:00
          definition: "{}"
          changedTime: 2000-01-23T04:56:07.000+00:00
          state: NotSpecified
          sku:
            name: NotSpecified
            plan:
              name: name
              id: id
              type: type
          parameters:
            key:
              metadata: "{}"
              type: NotSpecified
              value: "{}"
          version: version
      properties:
        properties:
          $ref: '#/components/schemas/WorkflowVersionProperties'
    WorkflowVersionProperties:
      example:
        parametersLink:
          metadata: "{}"
          contentSize: 0
          contentVersion: contentVersion
          uri: uri
          contentHash:
            value: value
            algorithm: algorithm
        definitionLink:
          metadata: "{}"
          contentSize: 0
          contentVersion: contentVersion
          uri: uri
          contentHash:
            value: value
            algorithm: algorithm
        accessEndpoint: accessEndpoint
        createdTime: 2000-01-23T04:56:07.000+00:00
        definition: "{}"
        changedTime: 2000-01-23T04:56:07.000+00:00
        state: NotSpecified
        sku:
          name: NotSpecified
          plan:
            name: name
            id: id
            type: type
        parameters:
          key:
            metadata: "{}"
            type: NotSpecified
            value: "{}"
        version: version
      properties:
        accessEndpoint:
          description: Gets the access endpoint.
          readOnly: true
          type: string
        changedTime:
          description: Gets the changed time.
          format: date-time
          readOnly: true
          type: string
        createdTime:
          description: Gets the created time.
          format: date-time
          readOnly: true
          type: string
        definition:
          type: object
        definitionLink:
          $ref: '#/components/schemas/ContentLink'
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/WorkflowParameter'
          description: Gets or sets the parameters.
          type: object
        parametersLink:
          $ref: '#/components/schemas/ContentLink'
        sku:
          $ref: '#/components/schemas/Sku'
        state:
          $ref: '#/components/schemas/WorkflowState'
        version:
          description: Gets the version.
          readOnly: true
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

