openapi: 3.0.1
info:
  description: Consumption management client provides access to consumption resources
    for Azure Enterprise Subscriptions.
  title: ConsumptionManagementClient
  version: 2018-01-31
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-01-31/consumption.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: consumption
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationDetails:
    get:
      description: Lists the reservations details for provided date range.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: reservations_details_list_by_reservation_order
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservationOrderId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: 'Filter reservation details by date range. The properties/UsageDate
          for start date and end date. The filter supports ''le'' and  ''ge'' '
        in: query
        name: $filter
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ReservedInstances
      x-ms-examples:
        ReservationDetails:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate
              le '2017-12-05'
            api-version: 2018-01-31
            reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ba4a5693-71ef-4ec2-a5ea-c4897ee7e740/providers/Microsoft.Consumption/reservationDetails/20171129
                  name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ba4a5693-71ef-4ec2-a5ea-c4897ee7e740_20171129
                  properties:
                    instanceId: /subscriptions/ace02136-302a-429c-a2c8-dac173f60bea/resourcegroups/wvn-sql/providers/microsoft.compute/virtualmachines/wvn-sql2014sp33
                    reservationId: ba4a5693-71ef-4ec2-a5ea-c4897ee7e740
                    reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                    reservedHours: 24
                    skuName: Standard_D2_v2
                    totalReservedQuantity: 1
                    usageDate: 2017-11-29T00:00:00Z
                    usedHours: 24
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/reservationDetails
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.reserved_instances_controller
  /providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationSummaries:
    get:
      description: Lists the reservations summaries for daily or monthly grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: reservations_summaries_list_by_reservation_order
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Can be daily or monthly
        in: query
        name: grain
        required: true
        schema:
          enum:
          - daily
          - monthly
          type: string
          x-ms-enum:
            modelAsString: true
            name: datagrain
            values:
            - description: Daily grain of data
              name: DailyGrain
              value: daily
            - description: Monthly grain of data
              name: MonthlyGrain
              value: monthly
        x-ms-enum:
          modelAsString: true
          name: datagrain
          values:
          - description: Daily grain of data
            name: DailyGrain
            value: daily
          - description: Monthly grain of data
            name: MonthlyGrain
            value: monthly
      - description: Required only for daily grain. The properties/UsageDate for start
          date and end date. The filter supports 'le' and  'ge'
        in: query
        name: $filter
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationSummariesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ReservedInstances
      x-ms-examples:
        ReservationSummariesDaily:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate
              le '2017-11-20'
            api-version: 2018-01-31
            grain: daily
            reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ed0bcc5a-8027-451e-8435-e96c4021abc3/providers/Microsoft.Consumption/reservationSummaries/20171001
                  name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ed0bcc5a-8027-451e-8435-e96c4021abc3_20171001
                  properties:
                    avgUtilizationPercentage: 0
                    maxUtilizationPercentage: 0
                    minUtilizationPercentage: 0
                    reservationId: ed0bcc5a-8027-451e-8435-e96c4021abc3
                    reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                    reservedHours: 0
                    skuName: Standard_D8s_v3
                    usageDate: 2017-10-01T00:00:00Z
                    usedHours: 0
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/reservationsummaries
        ReservationSummariesMonthly:
          parameters:
            api-version: 2018-01-31
            grain: monthly
            reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ed0bcc5a-8027-451e-8435-e96c4021abc3/providers/Microsoft.Consumption/reservationSummaries/20171001
                  name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ed0bcc5a-8027-451e-8435-e96c4021abc3_20171001
                  properties:
                    avgUtilizationPercentage: 0
                    maxUtilizationPercentage: 0
                    minUtilizationPercentage: 0
                    reservationId: ed0bcc5a-8027-451e-8435-e96c4021abc3
                    reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                    reservedHours: 0
                    skuName: Standard_D8s_v3
                    usageDate: 2017-10-01T00:00:00Z
                    usedHours: 0
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/reservationsummaries
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.reserved_instances_controller
  ? /providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationDetails
  : get:
      description: Lists the reservations details for provided date range.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: reservations_details_list_by_reservation_order_and_reservation
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Id of the reservation
        in: path
        name: reservationId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: 'Filter reservation details by date range. The properties/UsageDate
          for start date and end date. The filter supports ''le'' and  ''ge'' '
        in: query
        name: $filter
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ReservedInstances
      x-ms-examples:
        ReservationDetailsWithReservationId:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate
              le '2017-12-05'
            api-version: 2018-01-31
            reservationId: ba4a5693-71ef-4ec2-a5ea-c4897ee7e740
            reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ba4a5693-71ef-4ec2-a5ea-c4897ee7e740/providers/Microsoft.Consumption/reservationDetails/20171129
                  name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ba4a5693-71ef-4ec2-a5ea-c4897ee7e740_20171129
                  properties:
                    instanceId: /subscriptions/ace02136-302a-429c-a2c8-dac173f60bea/resourcegroups/wvn-sql/providers/microsoft.compute/virtualmachines/wvn-sql2014sp33
                    reservationId: ba4a5693-71ef-4ec2-a5ea-c4897ee7e740
                    reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                    reservedHours: 24
                    skuName: Standard_D2_v2
                    totalReservedQuantity: 1
                    usageDate: 2017-11-29T00:00:00Z
                    usedHours: 24
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/reservationDetails
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.reserved_instances_controller
  ? /providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationSummaries
  : get:
      description: Lists the reservations summaries for daily or monthly grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: reservations_summaries_list_by_reservation_order_and_reservation
      parameters:
      - description: Order Id of the reservation
        in: path
        name: reservation_order_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Id of the reservation
        in: path
        name: reservation_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Can be daily or monthly
        in: query
        name: grain
        required: true
        schema:
          enum:
          - daily
          - monthly
          type: string
          x-ms-enum:
            modelAsString: true
            name: datagrain
            values:
            - description: Daily grain of data
              name: DailyGrain
              value: daily
            - description: Monthly grain of data
              name: MonthlyGrain
              value: monthly
        x-ms-enum:
          modelAsString: true
          name: datagrain
          values:
          - description: Daily grain of data
            name: DailyGrain
            value: daily
          - description: Monthly grain of data
            name: MonthlyGrain
            value: monthly
      - description: Required only for daily grain. The properties/UsageDate for start
          date and end date. The filter supports 'le' and  'ge'
        in: query
        name: $filter
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationSummariesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - ReservedInstances
      x-ms-examples:
        ReservationSummariesDailyWithReservationId:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate
              le '2017-11-20'
            api-version: 2018-01-31
            grain: daily
            reservationId: ba4a5693-71ef-4ec2-a5ea-c4897ee7e740
            reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ed0bcc5a-8027-451e-8435-e96c4021abc3/providers/Microsoft.Consumption/reservationSummaries/20171001
                  name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ed0bcc5a-8027-451e-8435-e96c4021abc3_20171001
                  properties:
                    avgUtilizationPercentage: 0
                    maxUtilizationPercentage: 0
                    minUtilizationPercentage: 0
                    reservationId: ed0bcc5a-8027-451e-8435-e96c4021abc3
                    reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                    reservedHours: 0
                    skuName: Standard_D8s_v3
                    usageDate: 2017-10-01T00:00:00Z
                    usedHours: 0
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/reservationsummaries
        ReservationSummariesMonthlyWithReservationId:
          parameters:
            api-version: 2018-01-31
            grain: monthly
            reservationId: ba4a5693-71ef-4ec2-a5ea-c4897ee7e740
            reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ed0bcc5a-8027-451e-8435-e96c4021abc3/providers/Microsoft.Consumption/reservationSummaries/20171001
                  name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ed0bcc5a-8027-451e-8435-e96c4021abc3_20171001
                  properties:
                    avgUtilizationPercentage: 0
                    maxUtilizationPercentage: 0
                    minUtilizationPercentage: 0
                    reservationId: ed0bcc5a-8027-451e-8435-e96c4021abc3
                    reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                    reservedHours: 0
                    skuName: Standard_D8s_v3
                    usageDate: 2017-10-01T00:00:00Z
                    usedHours: 0
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/reservationsummaries
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.reserved_instances_controller
  /providers/Microsoft.Consumption/operations:
    get:
      description: Lists all of the available consumption REST API operations.
      operationId: operations_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/marketplaces
  : get:
      description: "Lists the marketplaces for a scope by billing period and subscriptionId.\
        \ Marketplaces are available via this API only for May 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: marketplaces_list_by_billing_period
      parameters:
      - description: "May be used to filter marketplaces by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName\
          \ or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'."
        in: query
        name: $filter
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Billing Period Name.
        in: path
        name: billingPeriodName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Marketplaces
      x-ms-examples:
        MarketplacesListForBillingPeriod:
          parameters:
            api-version: 2018-01-31
            billingPeriodName: "201801"
            subscriptionId: 00000000-0000-4a5f-88ca-5fce9a69faa0
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/marketPlaces/marketplacesId1
                  name: marketplacesId1
                  properties:
                    billingPeriodId: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
                    consumedQuantity: 0.00328
                    currency: USD
                    instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceName: shared1
                    isEstimated: false
                    meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                    offerName: offer1
                    orderNumber: 4ca79679-0000-0000-bfe5-b8ca1ff80e2b
                    planName: plan2
                    pretaxCost: 0.67
                    publisherName: xyz
                    resourceGroup: TEST
                    resourceRate: 0.24
                    subscriptionGuid: 00000000-0000-4a5f-88ca-5fce9a69faa0
                    subscriptionName: azure subscription
                    usageEnd: 2017-02-13T23:59:59Z
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/marketPlaces
      x-ms-odata: '#/definitions/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.marketplaces_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/pricesheets/default
  : get:
      description: "Get the price sheet for a scope by subscriptionId and billing\
        \ period. Price sheet is available via this API only for May 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: price_sheet_get_by_billing_period
      parameters:
      - description: "May be used to expand the properties/meterDetails within a price\
          \ sheet. By default, these fields are not included when returning price\
          \ sheet."
        in: query
        name: $expand
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the top N results.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Billing Period Name.
        in: path
        name: billing_period_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceSheetResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PriceSheet
      x-ms-examples:
        PriceSheetExpand:
          parameters:
            $expand: meterDetails
            api-version: 2018-01-31
            billingPeriodName: "201801"
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/pricesheets/default
                name: default
                properties:
                  nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.consumption/pricesheets/default?api-version=2018-01-31&$skiptoken=AQAAAA%3D%3D&$expand=properties/pricesheets/meterDetails
                  pricesheets:
                  - billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                    currencyCode: EUR
                    includedQuantity: 100
                    meterDetails:
                      meterCategory: Networking
                      meterLocation: Zone 2
                      meterName: Data Transfer Out (GB)
                      pretaxStandardRate: 0.138
                      totalIncludedQuantity: 0
                      unit: GB
                    meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                    partNumber: AB-11110
                    unitOfMeasure: 100 Hours
                    unitPrice: 0.00328
                type: Microsoft.Consumption/pricesheets
        PriceSheetForBillingPeriod:
          parameters:
            api-version: 2018-01-31
            billingPeriodName: "201801"
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/pricesheets/default
                name: default
                properties:
                  nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/microsoft.consumption/pricesheets/default?api-version=2018-01-31
                  pricesheets:
                  - billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                    currencyCode: EUR
                    includedQuantity: 100
                    meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                    partNumber: AB-11110
                    unitOfMeasure: 100 Hours
                    unitPrice: 0.00328
                type: Microsoft.Consumption/pricesheets
      x-openapi-router-controller: openapi_server.controllers.price_sheet_controller
  ? /subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails
  : get:
      description: "Lists the usage details for a scope by billing period. Usage details\
        \ are available via this API only for May 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: usage_details_list_by_billing_period
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Billing Period Name.
        in: path
        name: billing_period_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "May be used to expand the properties/additionalProperties or\
          \ properties/meterDetails within a list of usage details. By default, these\
          \ fields are not included when listing usage details."
        in: query
        name: $expand
        schema:
          type: string
      - description: "May be used to filter usageDetails by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName\
          \ or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - UsageDetails
      x-ms-examples:
        UsageDetailsExpand:
          parameters:
            $expand: "meterDetails,additionalProperties"
            $filter: properties/usageEnd ge '2018-01-14' AND properties/usageEnd le
              '2018-02-14'
            $top: 1
            api-version: 2018-01-31
            billingPeriodName: "201702"
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                  name: usageDetailsId1
                  properties:
                    accountName: My account name
                    additionalProperties: "{\"MyType\":\"\",\"ServiceType\":\"\",\"\
                      VMName\":\"\",\"UsageType\":\"MyUsage\"}"
                    billableQuantity: 0.00328
                    billingPeriodId: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
                    consumedService: My consumed service
                    costCenter: Cost center 1
                    currency: USD
                    departmentName: My department name
                    instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceLocation: eastasia
                    instanceName: shared1
                    invoiceId: /subscriptions/subid/providers/Microsoft.Billing/invoices/201703-123456789
                    isEstimated: false
                    meterDetails:
                      meterCategory: Networking
                      meterLocation: Zone 2
                      meterName: Data Transfer Out (GB)
                      pretaxStandardRate: 0.138
                      totalIncludedQuantity: 0
                      unit: GB
                    meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                    pretaxCost: 0.67
                    product: My product name
                    subscriptionGuid: fe167397-a38d-43c3-9bb3-8e2907e56a41
                    subscriptionName: Dummy subscription
                    usageEnd: 2017-02-13T23:59:59Z
                    usageQuantity: 0.00328
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/usageDetails
        UsageDetailsListForBillingPeriod:
          parameters:
            api-version: 2018-01-31
            billingPeriodName: "201702"
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                  name: usageDetailsId1
                  properties:
                    billableQuantity: 0.00328
                    billingPeriodId: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
                    currency: USD
                    instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceLocation: eastasia
                    instanceName: shared1
                    invoiceId: /subscriptions/subid/providers/Microsoft.Billing/invoices/201703-123456789
                    isEstimated: false
                    meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                    pretaxCost: 0.67
                    usageEnd: 2017-02-13T23:59:59Z
                    usageQuantity: 0.00328
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.usage_details_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/budgets:
    get:
      description: Lists all budgets for a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: budgets_list
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets
      x-ms-examples:
        BudgetsList:
          parameters:
            api-version: 2018-01-31
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - eTag: '"1d34d012214157f"'
                  id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                  name: TestBudget
                  properties:
                    amount: 100.65
                    category: Cost
                    currentSpend:
                      amount: 80.89
                      unit: USD
                    filters:
                      meters:
                      - fe167397-a38d-43c3-9bb3-8e2907e56a41
                      resourceGroups:
                      - MPDEVTESTRG
                      resources:
                      - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2"
                      - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                    notifications:
                      Actual_GreaterThanOrEqualTo_90_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactGroups:
                        - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThanOrEqualTo
                        threshold: 90
                      Actual_GreaterThan_80_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThan
                        threshold: 80
                    timeGrain: Monthly
                    timePeriod:
                      endDate: 2018-10-31T00:00:00Z
                      startDate: 2017-10-01T00:00:00Z
                  type: Microsoft.Consumption/budgets
                - eTag: '"1d34d012214157f"'
                  id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                  name: TestBudget
                  properties:
                    amount: 600.65
                    category: Cost
                    currentSpend:
                      amount: 120.89
                      unit: USD
                    filters:
                      meters:
                      - fe167397-a38d-43c3-9bb3-8e2907e56a41
                      resourceGroups:
                      - MPDEVTESTRG
                      resources:
                      - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2"
                      - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                    notifications:
                      Actual_GreaterThanOrEqualTo_60_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactGroups:
                        - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThanOrEqualTo
                        threshold: 60
                      Actual_GreaterThan_40_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThan
                        threshold: 40
                    timeGrain: Monthly
                    timePeriod:
                      endDate: 2018-10-31T00:00:00Z
                      startDate: 2017-10-01T00:00:00Z
                  type: Microsoft.Consumption/budgets
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.budgets_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/budgets/{budgetName}:
    delete:
      description: The operation to delete a budget.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: budgets_delete
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Budget Name.
        in: path
        name: budget_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets
      x-ms-examples:
        DeleteBudget:
          parameters:
            api-version: 2018-01-31
            budgetName: TestBudget
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.budgets_controller
    get:
      description: Gets the budget for a subscription by budget name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: budgets_get
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Budget Name.
        in: path
        name: budgetName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets
      x-ms-examples:
        Budget:
          parameters:
            api-version: 2018-01-31
            budgetName: TestBudget
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                    - fe167397-a38d-43c3-9bb3-8e2907e56a41
                    resourceGroups:
                    - MPDEVTESTRG
                    resources:
                    - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2"
                    - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                      contactGroups:
                      - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                      contactRoles:
                      - Contributor
                      - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
      x-openapi-router-controller: openapi_server.controllers.budgets_controller
    put:
      description: The operation to create or update a budget. Update operation requires
        latest eTag to be set in the request mandatorily. You may obtain the latest
        eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: budgets_create_or_update
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Budget Name.
        in: path
        name: budget_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'
        description: Parameters supplied to the Create Budget operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets
      x-ms-examples:
        CreateOrUpdateBudget:
          parameters:
            api-version: 2018-01-31
            budgetName: TestBudget
            parameters:
              eTag: '"1d34d016a593709"'
              properties:
                amount: 100.65
                category: Cost
                filters:
                  meters:
                  - fe167397-a38d-43c3-9bb3-8e2907e56a41
                  resourceGroups:
                  - MPDEVTESTRG
                  resources:
                  - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2"
                  - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                notifications:
                  Actual_GreaterThan_80_Percent:
                    contactEmails:
                    - johndoe@contoso.com
                    - janesmith@contoso.com
                    contactGroups:
                    - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                    contactRoles:
                    - Contributor
                    - Reader
                    enabled: true
                    operator: GreaterThan
                    threshold: 80
                timeGrain: Monthly
                timePeriod:
                  endDate: 2018-10-31T00:00:00Z
                  startDate: 2017-10-01T00:00:00Z
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                    - fe167397-a38d-43c3-9bb3-8e2907e56a41
                    resourceGroups:
                    - MPDEVTESTRG
                    resources:
                    - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2"
                    - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                      contactGroups:
                      - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                      contactRoles:
                      - Contributor
                      - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
            "201":
              body:
                eTag: '"1d34d012214157f"'
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                    - fe167397-a38d-43c3-9bb3-8e2907e56a41
                    resourceGroups:
                    - MPDEVTESTRG
                    resources:
                    - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2"
                    - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                      contactGroups:
                      - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                      contactRoles:
                      - Contributor
                      - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.budgets_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/marketplaces:
    get:
      description: "Lists the marketplaces for a scope by subscriptionId. Marketplaces\
        \ are available via this API only for May 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: marketplaces_list
      parameters:
      - description: "May be used to filter marketplaces by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName\
          \ or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'."
        in: query
        name: $filter
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N marketplaces.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplacesListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Marketplaces
      x-ms-examples:
        MarketplacesList:
          parameters:
            api-version: 2018-01-31
            subscriptionId: 00000000-0000-4a5f-88ca-5fce9a69faa0
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/providers/Microsoft.Consumption/marketPlaces/marketplaceId1
                  name: marketplaceId1
                  properties:
                    billingPeriodId: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
                    consumedQuantity: 0.00328
                    currency: USD
                    instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceName: shared1
                    isEstimated: false
                    offerName: offer1
                    orderNumber: 4ca79679-0000-0000-bfe5-b8ca1ff80e00
                    planName: plan1
                    pretaxCost: 0.67
                    publisherName: xyz
                    resourceGroup: TEST
                    resourceRate: 0.24
                    subscriptionGuid: 00000000-0000-4a5f-88ca-5fce9a69faa0
                    subscriptionName: azure subscription
                    usageEnd: 2017-02-13T23:59:59Z
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/marketPlaces
      x-ms-odata: '#/definitions/Marketplace'
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.marketplaces_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/pricesheets/default:
    get:
      description: "Gets the price sheet for a scope by subscriptionId. Price sheet\
        \ is available via this API only for May 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: price_sheet_get
      parameters:
      - description: "May be used to expand the properties/meterDetails within a price\
          \ sheet. By default, these fields are not included when returning price\
          \ sheet."
        in: query
        name: $expand
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the top N results.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceSheetResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - PriceSheet
      x-ms-examples:
        PriceSheet:
          parameters:
            api-version: 2018-01-31
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/pricesheets/default
                name: default
                properties:
                  nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.consumption/pricesheets/default?api-version=2018-01-31&$skiptoken=AQAAAA%3D%3D
                  pricesheets:
                  - billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                    currencyCode: EUR
                    includedQuantity: 100
                    meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                    partNumber: AB-11110
                    unitOfMeasure: 100 Hours
                    unitPrice: 0.00328
                type: Microsoft.Consumption/pricesheets
      x-openapi-router-controller: openapi_server.controllers.price_sheet_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Consumption/usageDetails:
    get:
      description: "Lists the usage details for a scope by billing period. Usage details\
        \ are available via this API only for May 1, 2014 or later."
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: usage_details_list
      parameters:
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: "May be used to expand the properties/additionalProperties or\
          \ properties/meterDetails within a list of usage details. By default, these\
          \ fields are not included when listing usage details."
        in: query
        name: $expand
        schema:
          type: string
      - description: "May be used to filter usageDetails by properties/usageEnd (Utc\
          \ time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName\
          \ or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le',\
          \ 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'."
        in: query
        name: $filter
        schema:
          type: string
      - description: "Skiptoken is only used if a previous operation returned a partial\
          \ result. If a previous response contains a nextLink element, the value\
          \ of the nextLink element will include a skiptoken parameter that specifies\
          \ a starting point to use for subsequent calls."
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: May be used to limit the number of results to the most recent
          N usageDetails.
        in: query
        name: $top
        schema:
          maximum: 1000
          minimum: 1
          type: integer
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDetailsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - UsageDetails
      x-ms-examples:
        UsageDetailsList:
          parameters:
            api-version: 2018-01-31
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/subid/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                  name: usageDetailsId1
                  properties:
                    billableQuantity: 0.00328
                    billingPeriodId: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
                    currency: USD
                    instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                    instanceLocation: eastasia
                    instanceName: shared1
                    invoiceId: /subscriptions/subid/providers/Microsoft.Billing/invoices/201703-123456789
                    isEstimated: false
                    meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                    pretaxCost: 0.67
                    usageEnd: 2017-02-13T23:59:59Z
                    usageQuantity: 0.00328
                    usageStart: 2017-02-13T00:00:00Z
                  tags:
                    dev: tools
                    env: newcrp
                  type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.usage_details_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Consumption/budgets:
    get:
      description: Lists all budgets for a resource group under a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: budgets_list_by_resource_group_name
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Azure Resource Group Name.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetsListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets
      x-ms-examples:
        BudgetsList:
          parameters:
            api-version: 2018-01-31
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                - eTag: '"1d34d012214157f"'
                  id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                  name: TestBudget
                  properties:
                    amount: 100.65
                    category: Cost
                    currentSpend:
                      amount: 80.89
                      unit: USD
                    filters:
                      meters:
                      - fe167397-a38d-43c3-9bb3-8e2907e56a41
                      resourceGroups:
                      - MPDEVTESTRG
                      resources:
                      - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2"
                      - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                    notifications:
                      Actual_GreaterThanOrEqualTo_90_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactGroups:
                        - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThanOrEqualTo
                        threshold: 90
                      Actual_GreaterThan_80_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThan
                        threshold: 80
                    timeGrain: Monthly
                    timePeriod:
                      endDate: 2018-10-31T00:00:00Z
                      startDate: 2017-10-01T00:00:00Z
                  type: Microsoft.Consumption/budgets
                - eTag: '"1d34d012214157f"'
                  id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                  name: TestBudget
                  properties:
                    amount: 600.65
                    category: Cost
                    currentSpend:
                      amount: 120.89
                      unit: USD
                    filters:
                      meters:
                      - fe167397-a38d-43c3-9bb3-8e2907e56a41
                      resourceGroups:
                      - MPDEVTESTRG
                      resources:
                      - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2"
                      - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                    notifications:
                      Actual_GreaterThanOrEqualTo_60_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactGroups:
                        - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThanOrEqualTo
                        threshold: 60
                      Actual_GreaterThan_40_Percent:
                        contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                        contactRoles:
                        - Contributor
                        - Reader
                        enabled: true
                        operator: GreaterThan
                        threshold: 40
                    timeGrain: Monthly
                    timePeriod:
                      endDate: 2018-10-31T00:00:00Z
                      startDate: 2017-10-01T00:00:00Z
                  type: Microsoft.Consumption/budgets
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.budgets_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Consumption/budgets/{budgetName}:
    delete:
      description: The operation to delete a budget.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: budgets_delete_by_resource_group_name
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Azure Resource Group Name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Budget Name.
        in: path
        name: budget_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content: {}
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets
      x-ms-examples:
        DeleteBudget:
          parameters:
            api-version: 2018-01-31
            budgetName: TestBudget
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
      x-openapi-router-controller: openapi_server.controllers.budgets_controller
    get:
      description: Gets the budget for a resource group under a subscription by budget
        name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: budgets_get_by_resource_group_name
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Azure Resource Group Name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Budget Name.
        in: path
        name: budget_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets
      x-ms-examples:
        Budget:
          parameters:
            api-version: 2018-01-31
            budgetName: TestBudget
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                    - fe167397-a38d-43c3-9bb3-8e2907e56a41
                    resourceGroups:
                    - MPDEVTESTRG
                    resources:
                    - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2"
                    - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                      contactGroups:
                      - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                      contactRoles:
                      - Contributor
                      - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
      x-openapi-router-controller: openapi_server.controllers.budgets_controller
    put:
      description: The operation to create or update a budget. Update operation requires
        latest eTag to be set in the request mandatorily. You may obtain the latest
        eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: budgets_create_or_update_by_resource_group_name
      parameters:
      - description: Version of the API to be used with the client request. The current
          version is 2018-01-31.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Azure Subscription ID.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      - description: Azure Resource Group Name.
        in: path
        name: resource_group_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Budget Name.
        in: path
        name: budget_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'
        description: Parameters supplied to the Create Budget operation.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: OK. The request has succeeded.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
          description: Created.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      tags:
      - Budgets
      x-ms-examples:
        CreateOrUpdateBudget:
          parameters:
            api-version: 2018-01-31
            budgetName: TestBudget
            parameters:
              eTag: '"1d34d016a593709"'
              properties:
                amount: 100.65
                category: Cost
                filters:
                  meters:
                  - fe167397-a38d-43c3-9bb3-8e2907e56a41
                  resourceGroups:
                  - MPDEVTESTRG
                  resources:
                  - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2"
                  - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                notifications:
                  Actual_GreaterThan_80_Percent:
                    contactEmails:
                    - johndoe@contoso.com
                    - janesmith@contoso.com
                    contactGroups:
                    - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                    contactRoles:
                    - Contributor
                    - Reader
                    enabled: true
                    operator: GreaterThan
                    threshold: 80
                timeGrain: Monthly
                timePeriod:
                  endDate: 2018-10-31T00:00:00Z
                  startDate: 2017-10-01T00:00:00Z
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                    - fe167397-a38d-43c3-9bb3-8e2907e56a41
                    resourceGroups:
                    - MPDEVTESTRG
                    resources:
                    - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2"
                    - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                      contactGroups:
                      - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                      contactRoles:
                      - Contributor
                      - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
            "201":
              body:
                eTag: '"1d34d012214157f"'
                id: "subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget"
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                    - fe167397-a38d-43c3-9bb3-8e2907e56a41
                    resourceGroups:
                    - MPDEVTESTRG
                    resources:
                    - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2"
                    - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1"
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                      contactGroups:
                      - "/subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup"
                      contactRoles:
                      - Contributor
                      - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.budgets_controller
components:
  parameters:
    apiVersionParameter:
      description: Version of the API to be used with the client request. The current
        version is 2018-01-31.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    billingPeriodNameParameter:
      description: Billing Period Name.
      in: path
      name: billingPeriodName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    budgetNameParameter:
      description: Budget Name.
      in: path
      name: budgetName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    reservationIdParameter:
      description: Id of the reservation
      in: path
      name: reservationId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    reservationOrderIdParameter:
      description: Order Id of the reservation
      in: path
      name: reservationOrderId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    resourceGroupNameParameter:
      description: Azure Resource Group Name.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionIdParameter:
      description: Azure Subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  schemas:
    Budget:
      allOf:
      - $ref: '#/components/schemas/ProxyResource'
      description: A budget resource.
      example:
        properties:
          amount: 0.8008281904610115
          timeGrain: Monthly
          currentSpend:
            amount: 6.027456183070403
            unit: unit
          timePeriod:
            endDate: 2000-01-23T04:56:07.000+00:00
            startDate: 2000-01-23T04:56:07.000+00:00
          filters:
            resourceGroups:
            - resourceGroups
            - resourceGroups
            - resourceGroups
            - resourceGroups
            - resourceGroups
            resources:
            - resources
            - resources
            - resources
            - resources
            - resources
            meters:
            - meters
            - meters
            - meters
            - meters
            - meters
          category: Cost
          notifications:
            key:
              contactGroups:
              - contactGroups
              - contactGroups
              - contactGroups
              - contactGroups
              - contactGroups
              contactEmails:
              - contactEmails
              - contactEmails
              - contactEmails
              - contactEmails
              - contactEmails
              threshold: 1.4658129805029452
              enabled: true
              operator: EqualTo
              contactRoles:
              - contactRoles
              - contactRoles
      properties:
        properties:
          $ref: '#/components/schemas/BudgetProperties'
      title: Budget
    BudgetProperties:
      description: The properties of the budget.
      example:
        amount: 0.8008281904610115
        timeGrain: Monthly
        currentSpend:
          amount: 6.027456183070403
          unit: unit
        timePeriod:
          endDate: 2000-01-23T04:56:07.000+00:00
          startDate: 2000-01-23T04:56:07.000+00:00
        filters:
          resourceGroups:
          - resourceGroups
          - resourceGroups
          - resourceGroups
          - resourceGroups
          - resourceGroups
          resources:
          - resources
          - resources
          - resources
          - resources
          - resources
          meters:
          - meters
          - meters
          - meters
          - meters
          - meters
        category: Cost
        notifications:
          key:
            contactGroups:
            - contactGroups
            - contactGroups
            - contactGroups
            - contactGroups
            - contactGroups
            contactEmails:
            - contactEmails
            - contactEmails
            - contactEmails
            - contactEmails
            - contactEmails
            threshold: 1.4658129805029452
            enabled: true
            operator: EqualTo
            contactRoles:
            - contactRoles
            - contactRoles
      properties:
        amount:
          description: The total amount of cost to track with the budget
          format: decimal
          title: amount
          type: number
        category:
          description: "The category of the budget, whether the budget tracks cost\
            \ or usage."
          enum:
          - Cost
          - Usage
          title: category
          type: string
          x-ms-enum:
            modelAsString: true
            name: CategoryType
        currentSpend:
          $ref: '#/components/schemas/CurrentSpend'
        filters:
          $ref: '#/components/schemas/Filters'
        notifications:
          additionalProperties:
            $ref: '#/components/schemas/Notification'
          description: Dictionary of notifications associated with the budget. Budget
            can have up to five notifications.
          title: notifications
          type: object
        timeGrain:
          description: The time covered by a budget. Tracking of the amount will be
            reset based on the time grain.
          enum:
          - Monthly
          - Quarterly
          - Annually
          title: timeGrain
          type: string
          x-ms-enum:
            modelAsString: true
            name: TimeGrainType
        timePeriod:
          $ref: '#/components/schemas/BudgetTimePeriod'
      required:
      - amount
      - category
      - timeGrain
      - timePeriod
      title: BudgetProperties
      type: object
    BudgetTimePeriod:
      description: The start and end date for a budget.
      example:
        endDate: 2000-01-23T04:56:07.000+00:00
        startDate: 2000-01-23T04:56:07.000+00:00
      properties:
        endDate:
          description: "The end date for the budget. If not provided, we default this\
            \ to 10 years from the start date."
          format: date-time
          title: endDate
          type: string
        startDate:
          description: The start date for the budget.
          format: date-time
          title: startDate
          type: string
      required:
      - startDate
      title: BudgetTimePeriod
      type: object
    BudgetsListResult:
      description: Result of listing budgets. It contains a list of available budgets
        in the scope provided.
      example:
        value:
        - properties:
            amount: 0.8008281904610115
            timeGrain: Monthly
            currentSpend:
              amount: 6.027456183070403
              unit: unit
            timePeriod:
              endDate: 2000-01-23T04:56:07.000+00:00
              startDate: 2000-01-23T04:56:07.000+00:00
            filters:
              resourceGroups:
              - resourceGroups
              - resourceGroups
              - resourceGroups
              - resourceGroups
              - resourceGroups
              resources:
              - resources
              - resources
              - resources
              - resources
              - resources
              meters:
              - meters
              - meters
              - meters
              - meters
              - meters
            category: Cost
            notifications:
              key:
                contactGroups:
                - contactGroups
                - contactGroups
                - contactGroups
                - contactGroups
                - contactGroups
                contactEmails:
                - contactEmails
                - contactEmails
                - contactEmails
                - contactEmails
                - contactEmails
                threshold: 1.4658129805029452
                enabled: true
                operator: EqualTo
                contactRoles:
                - contactRoles
                - contactRoles
        - properties:
            amount: 0.8008281904610115
            timeGrain: Monthly
            currentSpend:
              amount: 6.027456183070403
              unit: unit
            timePeriod:
              endDate: 2000-01-23T04:56:07.000+00:00
              startDate: 2000-01-23T04:56:07.000+00:00
            filters:
              resourceGroups:
              - resourceGroups
              - resourceGroups
              - resourceGroups
              - resourceGroups
              - resourceGroups
              resources:
              - resources
              - resources
              - resources
              - resources
              - resources
              meters:
              - meters
              - meters
              - meters
              - meters
              - meters
            category: Cost
            notifications:
              key:
                contactGroups:
                - contactGroups
                - contactGroups
                - contactGroups
                - contactGroups
                - contactGroups
                contactEmails:
                - contactEmails
                - contactEmails
                - contactEmails
                - contactEmails
                - contactEmails
                threshold: 1.4658129805029452
                enabled: true
                operator: EqualTo
                contactRoles:
                - contactRoles
                - contactRoles
        nextLink: nextLink
      properties:
        nextLink:
          description: The link (url) to the next page of results.
          readOnly: true
          title: nextLink
          type: string
        value:
          description: The list of budgets.
          items:
            $ref: '#/components/schemas/Budget'
          readOnly: true
          title: value
          type: array
      title: BudgetsListResult
      type: object
    CurrentSpend:
      description: The current amount of cost which is being tracked for a budget.
      example:
        amount: 6.027456183070403
        unit: unit
      properties:
        amount:
          description: The total amount of cost which is being tracked by the budget.
          format: decimal
          readOnly: true
          title: amount
          type: number
        unit:
          description: The unit of measure for the budget amount.
          readOnly: true
          title: unit
          type: string
      title: CurrentSpend
      type: object
    ErrorDetails:
      description: The details of the error.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code.
          readOnly: true
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          readOnly: true
          title: message
          type: string
      title: ErrorDetails
      type: object
    ErrorResponse:
      description: Error response indicates that the service is not able to process
        the incoming request. The reason is provided in the error message.
      example:
        error:
          code: code
          message: message
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
      title: ErrorResponse
      type: object
    Filters:
      description: "May be used to filter budgets by resource group, resource, or\
        \ meter."
      example:
        resourceGroups:
        - resourceGroups
        - resourceGroups
        - resourceGroups
        - resourceGroups
        - resourceGroups
        resources:
        - resources
        - resources
        - resources
        - resources
        - resources
        meters:
        - meters
        - meters
        - meters
        - meters
        - meters
      properties:
        meters:
          description: "The list of filters on meters, mandatory for budgets of usage\
            \ category. "
          items:
            type: string
          maxItems: 10
          minItems: 0
          title: meters
          type: array
        resourceGroups:
          description: "The list of filters on resource groups, allowed at subscription\
            \ level only."
          items:
            type: string
          maxItems: 10
          minItems: 0
          title: resourceGroups
          type: array
        resources:
          description: The list of filters on resources.
          items:
            type: string
          maxItems: 10
          minItems: 0
          title: resources
          type: array
      title: Filters
      type: object
    Marketplace:
      allOf:
      - $ref: '#/components/schemas/Resource'
      description: An marketplace resource.
      example:
        properties:
          departmentName: departmentName
          resourceGroup: resourceGroup
          usageStart: 2000-01-23T04:56:07.000+00:00
          isEstimated: true
          offerName: offerName
          orderNumber: orderNumber
          unitOfMeasure: unitOfMeasure
          accountName: accountName
          instanceName: instanceName
          costCenter: costCenter
          planName: planName
          usageEnd: 2000-01-23T04:56:07.000+00:00
          consumedQuantity: 0.8008281904610115
          pretaxCost: 6.027456183070403
          instanceId: instanceId
          consumedService: consumedService
          meterId: meterId
          publisherName: publisherName
          subscriptionName: subscriptionName
          currency: currency
          subscriptionGuid: subscriptionGuid
          additionalProperties: additionalProperties
          resourceRate: 1.4658129805029452
          billingPeriodId: billingPeriodId
      properties:
        properties:
          $ref: '#/components/schemas/MarketplaceProperties'
      title: Marketplace
    MarketplaceProperties:
      description: The properties of the marketplace usage detail.
      example:
        departmentName: departmentName
        resourceGroup: resourceGroup
        usageStart: 2000-01-23T04:56:07.000+00:00
        isEstimated: true
        offerName: offerName
        orderNumber: orderNumber
        unitOfMeasure: unitOfMeasure
        accountName: accountName
        instanceName: instanceName
        costCenter: costCenter
        planName: planName
        usageEnd: 2000-01-23T04:56:07.000+00:00
[...]
