openapi: 3.0.1
info:
  description: Azure Log Analytics API reference
  title: Azure Log Analytics
  version: 2015-11-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/OperationalInsights.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: operationalinsights-OperationalInsights
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.OperationalInsights/operations:
    get:
      description: Lists all of the available OperationalInsights Rest API operations.
      operationId: operations_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
          description: OK response definition.
      tags:
      - Operations
      x-ms-pageable:
        nextLinkName: nextLink
      x-openapi-router-controller: openapi_server.controllers.operations_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.OperationalInsights/workspaces:
    get:
      description: Gets the workspaces in a subscription.
      operationId: workspaces_list
      parameters:
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: OK response definition.
      tags:
      - Workspaces
      x-ms-examples:
        WorkspacesSubscriptionList:
          parameters:
            api-version: 2015-11-01-preview
            subscriptionId: 00000000-0000-0000-0000-00000000000
          responses:
            "200":
              body:
              - id: /subscriptions/00000000-0000-0000-0000-000000000005/resourcegroups/oiautorest6685/providers/microsoft.operationalinsights/workspaces/aztest2170
                location: australiasoutheast
                name: AzTest2170
                properties:
                  customerId: bc089d7b-485c-4aff-a71e-c00f362d8d2f
                  portalUrl: https://seau.mms.microsoft.com/Account?tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&resource=%2fsubscriptions%2f00000000-0000-0000-0000-000000000005%2fresourcegroups%2foiautorest6685%2fproviders%2fmicrosoft.operationalinsights%2fworkspaces%2faztest2170
                  provisioningState: Succeeded
                  retentionInDays: 30
                  sku:
                    name: pernode
                  source: Azure
                tags:
                  tag1: val1
                type: Microsoft.OperationalInsights/workspaces
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces:
    get:
      description: Gets workspaces in a resource group.
      operationId: workspaces_list_by_resource_group
      parameters:
      - description: The name of the resource group to get. The name is case insensitive.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceListResult'
          description: OK response definition.
      tags:
      - Workspaces
      x-ms-examples:
        WorkspacesGet:
          parameters:
            api-version: 2015-11-01-preview
            resourceGroupName: oiautorest6685
            subscriptionId: 00000000-0000-0000-0000-00000000000
          responses:
            "200":
              body:
              - id: /subscriptions/00000000-0000-0000-0000-000000000005/resourcegroups/oiautorest6685/providers/microsoft.operationalinsights/workspaces/aztest2170
                location: australiasoutheast
                name: AzTest2170
                properties:
                  customerId: bc089d7b-485c-4aff-a71e-c00f362d8d2f
                  portalUrl: https://seau.mms.microsoft.com/Account?tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&resource=%2fsubscriptions%2f00000000-0000-0000-0000-000000000005%2fresourcegroups%2foiautorest6685%2fproviders%2fmicrosoft.operationalinsights%2fworkspaces%2faztest2170
                  provisioningState: Succeeded
                  retentionInDays: 30
                  sku:
                    name: pernode
                  source: Azure
                tags:
                  tag1: val1
                type: Microsoft.OperationalInsights/workspaces
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}
  : delete:
      description: Deletes a workspace instance.
      operationId: workspaces_delete
      parameters:
      - description: The resource group name of the workspace.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the Log Analytics Workspace.
        in: path
        name: workspaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK response definition.
        "204":
          content: {}
          description: NoContent response definition.
      tags:
      - Workspaces
      x-ms-examples:
        WorkspacesDelete:
          parameters:
            api-version: 2015-11-01-preview
            resourceGroupName: oiautorest6685
            subscriptionId: 00000000-0000-0000-0000-00000000000
            workspaceName: oiautorest6685
          responses:
            "200": {}
            "204": {}
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    get:
      description: Gets a workspace instance.
      operationId: workspaces_get
      parameters:
      - description: The resource group name of the workspace.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: Name of the Log Analytics Workspace.
        in: path
        name: workspaceName
        required: true
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: OK response definition.
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceGet:
          parameters:
            api-version: 2015-11-01-preview
            resourceGroupName: oiautorest6685
            subscriptionId: 00000000-0000-0000-0000-00000000000
            workspaceName: oiautorest6685
          responses:
            "200":
              body:
              - id: /subscriptions/594038b5-1093-476e-a366-482775671c11/resourcegroups/calbot-rg/providers/microsoft.operationalinsights/workspaces/testresourcelock
                location: eastus
                name: TestResourceLock
                properties:
                  customerId: 5b02755b-5bf4-430c-9487-45502a2a7e62
                  portalUrl: https://eus.mms.microsoft.com/Account?tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&resource=%2fsubscriptions%2f594038b5-1093-476e-a366-482775671c11%2fresourcegroups%2fcalbot-rg%2fproviders%2fmicrosoft.operationalinsights%2fworkspaces%2ftestresourcelock
                  provisioningState: Succeeded
                  retentionInDays: 7
                  sku:
                    name: free
                  source: Azure
                type: Microsoft.OperationalInsights/workspaces
              - id: /subscriptions/594038b5-1093-476e-a366-482775671c11/resourcegroups/mms-eus/providers/microsoft.operationalinsights/workspaces/southukws
                location: East US
                name: SouthUKWS
                properties:
                  customerId: 4884a2fd-b08f-4aa6-bf16-5757df1093fe
                  portalUrl: https://eus.mms.microsoft.com/Account?tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&resource=%2fsubscriptions%2f594038b5-1093-476e-a366-482775671c11%2fresourcegroups%2fmms-eus%2fproviders%2fmicrosoft.operationalinsights%2fworkspaces%2fsouthukws
                  provisioningState: Succeeded
                  retentionInDays: 7
                  sku:
                    name: free
                  source: External
                type: Microsoft.OperationalInsights/workspaces
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    patch:
      description: Updates a workspace.
      operationId: workspaces_update
      parameters:
      - description: The resource group name of the workspace.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        schema:
          maxLength: 63
          minLength: 4
          pattern: "^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        description: The parameters required to patch a workspace.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: The existing workspace was successfully updated. Check provisioningStatus
            to see detailed status.
      tags:
      - Workspaces
      x-ms-examples:
        WorkspacesPatch:
          parameters:
            api-version: 2015-11-01-preview
            parameters:
              location: australiasoutheast
              properties:
                retentionInDays: 30
                sku:
                  name: PerNode
            resourceGroupName: oiautorest6685
            subscriptionId: 00000000-0000-0000-0000-00000000000
            workspaceName: oiautorest6685
          responses:
            "200":
              body:
                location: australiasoutheast
                properties:
                  retentionInDays: 30
                  sku:
                    name: PerNode
                tags:
                  tag1: val1
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
    put:
      description: Create or update a workspace.
      operationId: workspaces_create_or_update
      parameters:
      - description: The resource group name of the workspace.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
      - description: The name of the workspace.
        in: path
        name: workspaceName
        required: true
        schema:
          maxLength: 63
          minLength: 4
          pattern: "^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$"
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Workspace'
        description: The parameters required to create or update a workspace.
        required: true
        x-body-name: parameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: OK response definition.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
          description: Created response definition.
      tags:
      - Workspaces
      x-ms-examples:
        WorkspacesCreate:
          parameters:
            api-version: 2015-11-01-preview
            parameters:
              location: australiasoutheast
              properties:
                retentionInDays: 30
                sku:
                  name: PerNode
              tags:
                tag1: val1
            resourceGroupName: oiautorest6685
            subscriptionId: 00000000-0000-0000-0000-00000000000
            workspaceName: oiautorest6685
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000005/resourcegroups/oiautorest6685/providers/microsoft.operationalinsights/workspaces/aztest2170
                location: australiasoutheast
                name: AzTest2170
                properties:
                  customerId: bc089d7b-485c-4aff-a71e-c00f362d8d2f
                  portalUrl: https://seau.mms.microsoft.com/Account?tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&resource=%2fsubscriptions%2f00000000-0000-0000-0000-000000000005%2fresourcegroups%2foiautorest6685%2fproviders%2fmicrosoft.operationalinsights%2fworkspaces%2faztest2170
                  provisioningState: Creating
                  retentionInDays: 30
                  sku:
                    name: PerNode
                  source: Azure
                tags:
                  tag1: val1
                type: Microsoft.OperationalInsights/workspaces
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000005/resourcegroups/oiautorest6685/providers/microsoft.operationalinsights/workspaces/aztest2170
                location: australiasoutheast
                name: AzTest2170
                properties:
                  customerId: bc089d7b-485c-4aff-a71e-c00f362d8d2f
                  portalUrl: https://seau.mms.microsoft.com/Account?tenant=72f988bf-86f1-41af-91ab-2d7cd011db47&resource=%2fsubscriptions%2f00000000-0000-0000-0000-000000000005%2fresourcegroups%2foiautorest6685%2fproviders%2fmicrosoft.operationalinsights%2fworkspaces%2faztest2170
                  provisioningState: Creating
                  retentionInDays: 30
                  sku:
                    name: PerNode
                  source: Azure
                tags:
                  tag1: val1
                type: Microsoft.OperationalInsights/workspaces
      x-ms-long-running-operation: true
      x-codegen-request-body-name: parameters
      x-openapi-router-controller: openapi_server.controllers.workspaces_controller
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/dataSources
  : get:
      description: Gets the first page of data source instances in a workspace with
        the link to the next page.
      operationId: data_sources_list_by_workspace
      parameters:
      - description: The name of the resource group to get. The name is case insensitive.
        in: path
        name: resource_group_name
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._\\(\\)]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The workspace that contains the data sources.
        in: path
        name: workspaceName
        required: true
        schema:
          type: string
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: true
        schema:
          type: string
      - description: Starting point of the collection of data source instances.
        in: query
        name: $skiptoken
        schema:
          type: string
      - description: Client Api Version.
        in: query
        name: api_version
        required: true
        schema:
          type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceListResult'
          description: OK response definition.
      tags:
      - DataSources
      x-ms-examples:
        DataSourcesListByWorkspace:
          parameters:
            $filter: kind='WindowsEvent'
            api-version: 2015-11-01-preview
            dataSourceName: AzTestDS774
            resourceGroupName: OIAutoRest5123
            subscriptionId: 00000000-0000-0000-0000-00000000000
            workspaceName: AzTest9724
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000005/resourcegroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/dataSources?$filter=kind+eq+'WindowsEvent'&api-version=2015-11-01-preview&$skiptoken=AzTestDSWE7191
                value:
                - eTag: W/"datetime'2017-10-02T23%3A20%3A08.5629323Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1011
                  kind: WindowsEvent
                  name: AzTestDSWE1011
                  properties:
                    eventLogName: windowsEvent14
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A22.2533211Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1013
                  kind: WindowsEvent
                  name: AzTestDSWE1013
                  properties:
                    eventLogName: windowsEvent64
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A04.4645698Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1020
                  kind: WindowsEvent
                  name: AzTestDSWE1020
                  properties:
                    eventLogName: windowsEvent202
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A12.5871672Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1074
                  kind: WindowsEvent
                  name: AzTestDSWE1074
                  properties:
                    eventLogName: windowsEvent231
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A28.9325389Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1117
                  kind: WindowsEvent
                  name: AzTestDSWE1117
                  properties:
                    eventLogName: windowsEvent86
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A13.2185735Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1128
                  kind: WindowsEvent
                  name: AzTestDSWE1128
                  properties:
                    eventLogName: windowsEvent30
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A22.7779289Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1176
                  kind: WindowsEvent
                  name: AzTestDSWE1176
                  properties:
                    eventLogName: windowsEvent66
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A03.5114136Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1293
                  kind: WindowsEvent
                  name: AzTestDSWE1293
                  properties:
                    eventLogName: windowsEvent199
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A33.6788897Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE134
                  kind: WindowsEvent
                  name: AzTestDSWE134
                  properties:
                    eventLogName: windowsEvent102
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A36.2312139Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1352
                  kind: WindowsEvent
                  name: AzTestDSWE1352
                  properties:
                    eventLogName: windowsEvent111
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A13.4685716Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1360
                  kind: WindowsEvent
                  name: AzTestDSWE1360
                  properties:
                    eventLogName: windowsEvent31
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A19.2840543Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1382
                  kind: WindowsEvent
                  name: AzTestDSWE1382
                  properties:
                    eventLogName: windowsEvent53
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A42.7070374Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1410
                  kind: WindowsEvent
                  name: AzTestDSWE1410
                  properties:
                    eventLogName: windowsEvent132
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A06.8922838Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1417
                  kind: WindowsEvent
                  name: AzTestDSWE1417
                  properties:
                    eventLogName: windowsEvent211
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A26.6932412Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1560
                  kind: WindowsEvent
                  name: AzTestDSWE1560
                  properties:
                    eventLogName: windowsEvent274
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A07.1422661Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1618
                  kind: WindowsEvent
                  name: AzTestDSWE1618
                  properties:
                    eventLogName: windowsEvent212
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A09.5980265Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1662
                  kind: WindowsEvent
                  name: AzTestDSWE1662
                  properties:
                    eventLogName: windowsEvent221
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A39.6167744Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1675
                  kind: WindowsEvent
                  name: AzTestDSWE1675
                  properties:
                    eventLogName: windowsEvent121
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A50.1064668Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE169
                  kind: WindowsEvent
                  name: AzTestDSWE169
                  properties:
                    eventLogName: windowsEvent157
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A02.4954752Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1735
                  kind: WindowsEvent
                  name: AzTestDSWE1735
                  properties:
                    eventLogName: windowsEvent196
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A08.0452997Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1742
                  kind: WindowsEvent
                  name: AzTestDSWE1742
                  properties:
                    eventLogName: windowsEvent12
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A46.5966089Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1815
                  kind: WindowsEvent
                  name: AzTestDSWE1815
                  properties:
                    eventLogName: windowsEvent145
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A23.6529754Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1828
                  kind: WindowsEvent
                  name: AzTestDSWE1828
                  properties:
                    eventLogName: windowsEvent69
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A20.7216320Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE188
                  kind: WindowsEvent
                  name: AzTestDSWE188
                  properties:
                    eventLogName: windowsEvent58
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A17.9341560Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1962
                  kind: WindowsEvent
                  name: AzTestDSWE1962
                  properties:
                    eventLogName: windowsEvent48
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A17.3081821Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE1997
                  kind: WindowsEvent
                  name: AzTestDSWE1997
                  properties:
                    eventLogName: windowsEvent246
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A49.2918213Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2046
                  kind: WindowsEvent
                  name: AzTestDSWE2046
                  properties:
                    eventLogName: windowsEvent154
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A52.4111189Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2056
                  kind: WindowsEvent
                  name: AzTestDSWE2056
                  properties:
                    eventLogName: windowsEvent165
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A54.7598026Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2116
                  kind: WindowsEvent
                  name: AzTestDSWE2116
                  properties:
                    eventLogName: windowsEvent172
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A07.2711237Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2142
                  kind: WindowsEvent
                  name: AzTestDSWE2142
                  properties:
                    eventLogName: windowsEvent9
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A48.2064500Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE22
                  kind: WindowsEvent
                  name: AzTestDSWE22
                  properties:
                    eventLogName: windowsEvent150
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A08.7849248Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2208
                  kind: WindowsEvent
                  name: AzTestDSWE2208
                  properties:
                    eventLogName: windowsEvent218
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A51.3306230Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2221
                  kind: WindowsEvent
                  name: AzTestDSWE2221
                  properties:
                    eventLogName: windowsEvent161
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A25.5991266Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2226
                  kind: WindowsEvent
                  name: AzTestDSWE2226
                  properties:
                    eventLogName: windowsEvent75
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A15.3592513Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2231
                  kind: WindowsEvent
                  name: AzTestDSWE2231
                  properties:
                    eventLogName: windowsEvent38
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A06.0641077Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2242
                  kind: WindowsEvent
                  name: AzTestDSWE2242
                  properties:
                    eventLogName: windowsEvent208
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A11.7829226Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2263
                  kind: WindowsEvent
                  name: AzTestDSWE2263
                  properties:
                    eventLogName: windowsEvent228
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A21.5874093Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2369
                  kind: WindowsEvent
                  name: AzTestDSWE2369
                  properties:
                    eventLogName: windowsEvent259
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A06.6266574Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE240
                  kind: WindowsEvent
                  name: AzTestDSWE240
                  properties:
                    eventLogName: windowsEvent210
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A23.4752361Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2423
                  kind: WindowsEvent
                  name: AzTestDSWE2423
                  properties:
                    eventLogName: windowsEvent265
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A36.5611370Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2463
                  kind: WindowsEvent
                  name: AzTestDSWE2463
                  properties:
                    eventLogName: windowsEvent112
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A13.7187131Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2499
                  kind: WindowsEvent
                  name: AzTestDSWE2499
                  properties:
                    eventLogName: windowsEvent32
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A09.3324224Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2509
                  kind: WindowsEvent
                  name: AzTestDSWE2509
                  properties:
                    eventLogName: windowsEvent220
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A29.2312540Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2541
                  kind: WindowsEvent
                  name: AzTestDSWE2541
                  properties:
                    eventLogName: windowsEvent87
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A05.3117461Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2578
                  kind: WindowsEvent
                  name: AzTestDSWE2578
                  properties:
                    eventLogName: windowsEvent2
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A38.5379572Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2619
                  kind: WindowsEvent
                  name: AzTestDSWE2619
                  properties:
                    eventLogName: windowsEvent119
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A05.0735592Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE274
                  kind: WindowsEvent
                  name: AzTestDSWE274
                  properties:
                    eventLogName: windowsEvent1
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A30.6297451Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2754
                  kind: WindowsEvent
                  name: AzTestDSWE2754
                  properties:
                    eventLogName: windowsEvent92
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A05.2972963Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE281
                  kind: WindowsEvent
                  name: AzTestDSWE281
                  properties:
                    eventLogName: windowsEvent205
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A33.3820072Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2818
                  kind: WindowsEvent
                  name: AzTestDSWE2818
                  properties:
                    eventLogName: windowsEvent101
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A14.0876077Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2860
                  kind: WindowsEvent
                  name: AzTestDSWE2860
                  properties:
                    eventLogName: windowsEvent236
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A30.9266089Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2867
                  kind: WindowsEvent
                  name: AzTestDSWE2867
                  properties:
                    eventLogName: windowsEvent93
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A27.9342580Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2923
                  kind: WindowsEvent
                  name: AzTestDSWE2923
                  properties:
                    eventLogName: windowsEvent278
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A44.4311007Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE2979
                  kind: WindowsEvent
                  name: AzTestDSWE2979
                  properties:
                    eventLogName: windowsEvent138
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A08.5349323Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3009
                  kind: WindowsEvent
                  name: AzTestDSWE3009
                  properties:
                    eventLogName: windowsEvent217
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A24.9696296Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3033
                  kind: WindowsEvent
                  name: AzTestDSWE3033
                  properties:
                    eventLogName: windowsEvent269
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A18.2006423Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3095
                  kind: WindowsEvent
                  name: AzTestDSWE3095
                  properties:
                    eventLogName: windowsEvent49
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A38.2879169Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3114
                  kind: WindowsEvent
                  name: AzTestDSWE3114
                  properties:
                    eventLogName: windowsEvent118
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A37.6889867Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3132
                  kind: WindowsEvent
                  name: AzTestDSWE3132
                  properties:
                    eventLogName: windowsEvent116
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A58.9331954Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3147
                  kind: WindowsEvent
                  name: AzTestDSWE3147
                  properties:
                    eventLogName: windowsEvent185
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A35.6843083Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3159
                  kind: WindowsEvent
                  name: AzTestDSWE3159
                  properties:
                    eventLogName: windowsEvent109
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A17.4118415Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE317
                  kind: WindowsEvent
                  name: AzTestDSWE317
                  properties:
                    eventLogName: windowsEvent46
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A35.0592573Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3175
                  kind: WindowsEvent
                  name: AzTestDSWE3175
                  properties:
                    eventLogName: windowsEvent107
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A12.6247906Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3183
                  kind: WindowsEvent
                  name: AzTestDSWE3183
                  properties:
                    eventLogName: windowsEvent28
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A14.4938899Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3217
                  kind: WindowsEvent
                  name: AzTestDSWE3217
                  properties:
                    eventLogName: windowsEvent237
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A21.7373059Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3220
                  kind: WindowsEvent
                  name: AzTestDSWE3220
                  properties:
                    eventLogName: windowsEvent62
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A18.7785353Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3228
                  kind: WindowsEvent
                  name: AzTestDSWE3228
                  properties:
                    eventLogName: windowsEvent51
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A54.4936956Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3395
                  kind: WindowsEvent
                  name: AzTestDSWE3395
                  properties:
                    eventLogName: windowsEvent171
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A22.0032694Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3416
                  kind: WindowsEvent
                  name: AzTestDSWE3416
                  properties:
                    eventLogName: windowsEvent63
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A28.8251658Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3506
                  kind: WindowsEvent
                  name: AzTestDSWE3506
                  properties:
                    eventLogName: windowsEvent280
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A11.2153209Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3517
                  kind: WindowsEvent
                  name: AzTestDSWE3517
                  properties:
                    eventLogName: windowsEvent23
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A12.0402565Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3528
                  kind: WindowsEvent
                  name: AzTestDSWE3528
                  properties:
                    eventLogName: windowsEvent229
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A43.8027590Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3530
                  kind: WindowsEvent
                  name: AzTestDSWE3530
                  properties:
                    eventLogName: windowsEvent136
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A01.9173304Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3594
                  kind: WindowsEvent
                  name: AzTestDSWE3594
                  properties:
                    eventLogName: windowsEvent194
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A00.8990889Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3615
                  kind: WindowsEvent
                  name: AzTestDSWE3615
                  properties:
                    eventLogName: windowsEvent191
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A16.0877829Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3645
                  kind: WindowsEvent
                  name: AzTestDSWE3645
                  properties:
                    eventLogName: windowsEvent242
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A07.8068460Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3676
                  kind: WindowsEvent
                  name: AzTestDSWE3676
                  properties:
                    eventLogName: windowsEvent11
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A49.5439700Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3700
                  kind: WindowsEvent
                  name: AzTestDSWE3700
                  properties:
                    eventLogName: windowsEvent155
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A38.0363694Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3738
                  kind: WindowsEvent
                  name: AzTestDSWE3738
                  properties:
                    eventLogName: windowsEvent117
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A50.6390339Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3740
                  kind: WindowsEvent
                  name: AzTestDSWE3740
                  properties:
                    eventLogName: windowsEvent159
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A31.5203823Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3754
                  kind: WindowsEvent
                  name: AzTestDSWE3754
                  properties:
                    eventLogName: windowsEvent95
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A31.7860159Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3761
                  kind: WindowsEvent
                  name: AzTestDSWE3761
                  properties:
                    eventLogName: windowsEvent96
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A20.0966078Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3787
                  kind: WindowsEvent
                  name: AzTestDSWE3787
                  properties:
                    eventLogName: windowsEvent56
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A57.8394298Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3880
                  kind: WindowsEvent
                  name: AzTestDSWE3880
                  properties:
                    eventLogName: windowsEvent181
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A51.0806178Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3887
                  kind: WindowsEvent
                  name: AzTestDSWE3887
                  properties:
                    eventLogName: windowsEvent160
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A16.6987634Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3899
                  kind: WindowsEvent
                  name: AzTestDSWE3899
                  properties:
                    eventLogName: windowsEvent244
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A41.4223363Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE3928
                  kind: WindowsEvent
                  name: AzTestDSWE3928
                  properties:
                    eventLogName: windowsEvent127
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A59.1831854Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4005
                  kind: WindowsEvent
                  name: AzTestDSWE4005
                  properties:
                    eventLogName: windowsEvent186
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A31.5314824Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4021
                  kind: WindowsEvent
                  name: AzTestDSWE4021
                  properties:
                    eventLogName: windowsEvent288
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A01.6667691Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4054
                  kind: WindowsEvent
                  name: AzTestDSWE4054
                  properties:
                    eventLogName: windowsEvent193
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A42.9581303Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE406
                  kind: WindowsEvent
                  name: AzTestDSWE406
                  properties:
                    eventLogName: windowsEvent133
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A29.4890798Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4128
                  kind: WindowsEvent
                  name: AzTestDSWE4128
                  properties:
                    eventLogName: windowsEvent88
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A00.2051432Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4140
                  kind: WindowsEvent
                  name: AzTestDSWE4140
                  properties:
                    eventLogName: windowsEvent189
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A58.3706603Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4209
                  kind: WindowsEvent
                  name: AzTestDSWE4209
                  properties:
                    eventLogName: windowsEvent183
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A23.1240354Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4216
                  kind: WindowsEvent
                  name: AzTestDSWE4216
                  properties:
                    eventLogName: windowsEvent67
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A33.5368097Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4240
                  kind: WindowsEvent
                  name: AzTestDSWE4240
                  properties:
                    eventLogName: windowsEvent294
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A30.3641074Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4279
                  kind: WindowsEvent
                  name: AzTestDSWE4279
                  properties:
                    eventLogName: windowsEvent91
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A26.3963554Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4289
                  kind: WindowsEvent
                  name: AzTestDSWE4289
                  properties:
                    eventLogName: windowsEvent273
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A47.6751803Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4317
                  kind: WindowsEvent
                  name: AzTestDSWE4317
                  properties:
                    eventLogName: windowsEvent148
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A05.8120517Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4324
                  kind: WindowsEvent
                  name: AzTestDSWE4324
                  properties:
                    eventLogName: windowsEvent4
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A04.1208323Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4362
                  kind: WindowsEvent
                  name: AzTestDSWE4362
                  properties:
                    eventLogName: windowsEvent201
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A08.3109506Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4416
                  kind: WindowsEvent
                  name: AzTestDSWE4416
                  properties:
                    eventLogName: windowsEvent13
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A48.9744951Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4424
                  kind: WindowsEvent
                  name: AzTestDSWE4424
                  properties:
                    eventLogName: windowsEvent153
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A19.0457713Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4466
                  kind: WindowsEvent
                  name: AzTestDSWE4466
                  properties:
                    eventLogName: windowsEvent52
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A15.0936374Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4467
                  kind: WindowsEvent
                  name: AzTestDSWE4467
                  properties:
                    eventLogName: windowsEvent37
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A41.9399246Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4503
                  kind: WindowsEvent
                  name: AzTestDSWE4503
                  properties:
                    eventLogName: windowsEvent129
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A27.2714771Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4521
                  kind: WindowsEvent
                  name: AzTestDSWE4521
                  properties:
                    eventLogName: windowsEvent276
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A26.7419933Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4530
                  kind: WindowsEvent
                  name: AzTestDSWE4530
                  properties:
                    eventLogName: windowsEvent79
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A37.4227966Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4600
                  kind: WindowsEvent
                  name: AzTestDSWE4600
                  properties:
                    eventLogName: windowsEvent115
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A43.5519204Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4644
                  kind: WindowsEvent
                  name: AzTestDSWE4644
                  properties:
                    eventLogName: windowsEvent135
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A51.6431386Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4694
                  kind: WindowsEvent
                  name: AzTestDSWE4694
                  properties:
                    eventLogName: windowsEvent162
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A06.0530002Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4715
                  kind: WindowsEvent
                  name: AzTestDSWE4715
                  properties:
                    eventLogName: windowsEvent5
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A24.3989962Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE472
                  kind: WindowsEvent
                  name: AzTestDSWE472
                  properties:
                    eventLogName: windowsEvent267
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A16.3706498Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4721
                  kind: WindowsEvent
                  name: AzTestDSWE4721
                  properties:
                    eventLogName: windowsEvent243
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A33.8337155Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4734
                  kind: WindowsEvent
                  name: AzTestDSWE4734
                  properties:
                    eventLogName: windowsEvent295
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A25.2712759Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4755
                  kind: WindowsEvent
                  name: AzTestDSWE4755
                  properties:
                    eventLogName: windowsEvent270
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A27.5076680Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4779
                  kind: WindowsEvent
                  name: AzTestDSWE4779
                  properties:
                    eventLogName: windowsEvent81
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A04.6828938Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4791
                  kind: WindowsEvent
                  name: AzTestDSWE4791
                  properties:
                    eventLogName: windowsEvent0
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A54.0073520Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4798
                  kind: WindowsEvent
                  name: AzTestDSWE4798
                  properties:
                    eventLogName: windowsEvent170
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A22.9077505Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE480
                  kind: WindowsEvent
                  name: AzTestDSWE480
                  properties:
                    eventLogName: windowsEvent263
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A11.7028912Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4847
                  kind: WindowsEvent
                  name: AzTestDSWE4847
                  properties:
                    eventLogName: windowsEvent25
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A04.9847854Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4876
                  kind: WindowsEvent
                  name: AzTestDSWE4876
                  properties:
                    eventLogName: windowsEvent204
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A23.4029367Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4900
                  kind: WindowsEvent
                  name: AzTestDSWE4900
                  properties:
                    eventLogName: windowsEvent68
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A34.5280091Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4918
                  kind: WindowsEvent
                  name: AzTestDSWE4918
                  properties:
                    eventLogName: windowsEvent105
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A34.2882196Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4928
                  kind: WindowsEvent
                  name: AzTestDSWE4928
                  properties:
                    eventLogName: windowsEvent296
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A33.2381803Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4930
                  kind: WindowsEvent
                  name: AzTestDSWE4930
                  properties:
                    eventLogName: windowsEvent293
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A36.8423994Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4945
                  kind: WindowsEvent
                  name: AzTestDSWE4945
                  properties:
                    eventLogName: windowsEvent113
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A08.9379456Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4967
                  kind: WindowsEvent
                  name: AzTestDSWE4967
                  properties:
                    eventLogName: windowsEvent15
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A57.5893926Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4969
                  kind: WindowsEvent
                  name: AzTestDSWE4969
                  properties:
                    eventLogName: windowsEvent180
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A19.5497139Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE4983
                  kind: WindowsEvent
                  name: AzTestDSWE4983
                  properties:
                    eventLogName: windowsEvent54
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A48.4588661Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE5011
                  kind: WindowsEvent
                  name: AzTestDSWE5011
                  properties:
                    eventLogName: windowsEvent151
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A32.2694295Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE5082
                  kind: WindowsEvent
                  name: AzTestDSWE5082
                  properties:
                    eventLogName: windowsEvent290
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A17.8863220Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE5136
                  kind: WindowsEvent
                  name: AzTestDSWE5136
                  properties:
                    eventLogName: windowsEvent248
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A05.5484906Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE5141
                  kind: WindowsEvent
                  name: AzTestDSWE5141
                  properties:
                    eventLogName: windowsEvent206
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A23.9283342Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE5166
                  kind: WindowsEvent
                  name: AzTestDSWE5166
                  properties:
                    eventLogName: windowsEvent266
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A29.4970655Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE5207
                  kind: WindowsEvent
                  name: AzTestDSWE5207
                  properties:
                    eventLogName: windowsEvent282
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A04.7146038Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE5223
                  kind: WindowsEvent
                  name: AzTestDSWE5223
                  properties:
                    eventLogName: windowsEvent203
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A10.3237629Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE5233
                  kind: WindowsEvent
                  name: AzTestDSWE5233
                  properties:
                    eventLogName: windowsEvent20
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A18.1831872Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE5253
                  kind: WindowsEvent
                  name: AzTestDSWE5253
                  properties:
                    eventLogName: windowsEvent249
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A21%3A30.9049829Z'"
                  id: /subscriptions/00000000-0000-0000-0000-000000000005/resourceGroups/OIAutoRest7887/providers/Microsoft.OperationalInsights/workspaces/AzTest218/datasources/AzTestDSWE5255
                  kind: WindowsEvent
                  name: AzTestDSWE5255
                  properties:
                    eventLogName: windowsEvent286
                    eventTypes:
                    - eventType: Error
                  type: Microsoft.OperationalInsights/workspaces/datasources
                - eTag: W/"datetime'2017-10-02T23%3A20%3A12.8904269Z'"
[...]
