openapi: 3.0.1
info:
  title: RecoveryServicesBackupClient
  version: 2016-06-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-06-01/registeredIdentities.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: recoveryservicesbackup-registeredIdentities
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/registeredIdentities/{identityName}
  : delete:
      deprecated: false
      description: Unregisters the given container from your Recovery Services vault.
      operationId: ProtectionContainers_Unregister
      parameters:
      - description: The subscription ID.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The name of the resource group associated with the Recovery Services
          vault.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the Recovery Services vault.
        in: path
        name: vaultName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client API version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Name of the protection container to unregister.
        in: path
        name: identityName
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: NoContent
      tags:
      - ProtectionContainers
      x-accepts:
      - application/json
components:
  parameters:
    ApiVersion:
      description: Client API version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    ResourceGroupName:
      description: The name of the resource group associated with the Recovery Services
        vault.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionId:
      description: The subscription ID.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    VaultName:
      description: The name of the Recovery Services vault.
      in: path
      name: vaultName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas: {}
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account.
      type: oauth2
x-original-swagger-version: "2.0"

