openapi: 3.0.0
info:
  contact:
    email: support@interzoid.com
    name: API Support
    url: https://www.interzoid.com
    x-twitter: interzoid
  description: "This API provides a similarity key used to match with other similar\
    \ country name data, including for purposes of deduplication, fuzzy matching,\
    \ or merging of datasets. A much higher match rate will be achieved by matching\
    \ on the algorithmically generated similarity key rather than the data itself."
  license:
    name: Interzoid license
    url: https://www.interzoid.com/license
  termsOfService: https://www.interzoid.com/terms
  title: Interzoid Get Country Match Similarity Key API
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/interzoid/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://oas.interzoid.com/api/getcountrymatch.json
    version: "3.0"
  x-providerName: interzoid.com
  x-serviceName: getcountrymatch
externalDocs:
  description: API home page and documentation
  url: https://www.interzoid.com/services/getcountrymatch
servers:
- url: https://api.interzoid.com
paths:
  /getcountrymatch:
    get:
      description: Gets a similarity key to use for matching purposes for country
        name data
      operationId: getcountrymatch
      parameters:
      - description: Your Interzoid license API key. Register at www.interzoid.com/register
        explode: true
        in: query
        name: license
        required: true
        schema:
          type: string
        style: form
      - description: Country name from which to generate similarity key
        explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getcountrymatch_200_response'
          description: Generated similarity key for country name data
        "400":
          description: bad request - insufficient parameters
        "402":
          description: credits exhausted
        "403":
          description: invalid license API key
        "405":
          description: method not allowed
        "500":
          description: internal server error
      summary: Gets a similarity key for matching purposes for country name data
      tags:
      - Country Match Similarity Key
      x-openapi-router-controller: openapi_server.controllers.country_match_similarity_key_controller
components:
  schemas:
    getcountrymatch_200_response:
      example:
        Credits: Credits
        Simkey: Simkey
        Code: Code
      properties:
        Code:
          title: Code
          type: string
        Credits:
          title: Credits
          type: string
        Simkey:
          title: Simkey
          type: string
      title: getcountrymatch_200_response
      type: object
