openapi: 3.0.1
info:
  description: |
    This is a Native Ads Publisher API it provides same functionality as Native Ads Publisher Account GUI.
  title: Native Ads Publisher API
  version: 1.0.0
  x-apisguru-categories:
  - marketing
  x-logo:
    url: https://api.nativeads.com/docs/publisher/images/nativeads-logo.png
  x-origin:
  - format: swagger
    url: https://api.nativeads.com/docs/publisher/swagger.json
    version: "2.0"
  x-providerName: nativeads.com
servers:
- url: https://api.nativeads.com/
paths:
  /auth/default/login:
    post:
      description: Returns Native Ads Publisher API token
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_auth_default_login_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authResponse'
          description: authentication response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/modelError'
          description: error message
      tags:
      - auth
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /publisher/reports/daily:
    get:
      description: Returns publisher statistics split by date
      parameters:
      - description: Native Ads Publisher API authentication token
        in: query
        name: token
        required: true
        schema:
          type: string
      - description: start date in format YYYY-MM-DD
        in: query
        name: startDate
        required: true
        schema:
          format: date
          type: string
      - description: end date in format YYYY-MM-DD
        in: query
        name: endDate
        required: true
        schema:
          format: date
          type: string
      - description: maximum number of results per page
        in: query
        name: limit
        required: true
        schema:
          default: 100
          format: int32
          type: integer
      - description: page number
        in: query
        name: page
        required: true
        schema:
          default: 1
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reportsDailyResponse'
          description: report response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/modelError'
          description: error message
      tags:
      - reports
      x-accepts:
      - application/json
  /publisher/reports/website:
    get:
      description: Returns publisher statistics split by website
      parameters:
      - description: Native Ads Publisher API authentication token
        in: query
        name: token
        required: true
        schema:
          type: string
      - description: start date in format YYYY-MM-DD
        in: query
        name: startDate
        required: true
        schema:
          format: date
          type: string
      - description: end date in format YYYY-MM-DD
        in: query
        name: endDate
        required: true
        schema:
          format: date
          type: string
      - description: maximum number of results per page
        in: query
        name: limit
        required: true
        schema:
          default: 100
          format: int32
          type: integer
      - description: page number
        in: query
        name: page
        required: true
        schema:
          default: 1
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reportsWebsiteResponse'
          description: report response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/modelError'
          description: authentication error
      tags:
      - reports
      x-accepts:
      - application/json
  /publisher/reports/widget:
    get:
      description: Returns publisher statistics split by widget
      parameters:
      - description: Native Ads Publisher API authentication token
        in: query
        name: token
        required: true
        schema:
          type: string
      - description: start date in format YYYY-MM-DD
        in: query
        name: startDate
        required: true
        schema:
          format: date
          type: string
      - description: end date in format YYYY-MM-DD
        in: query
        name: endDate
        required: true
        schema:
          format: date
          type: string
      - description: maximum number of results per page
        in: query
        name: limit
        required: true
        schema:
          default: 100
          format: int32
          type: integer
      - description: page number
        in: query
        name: page
        required: true
        schema:
          default: 1
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reportsWidgetResponse'
          description: report response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/modelError'
          description: authentication error
      tags:
      - reports
      x-accepts:
      - application/json
components:
  schemas:
    authResponse:
      example:
        success: true
        token: token
      properties:
        success:
          type: boolean
        token:
          type: string
      type: object
    modelError:
      example:
        success: true
        errors:
        - errors
        - errors
      properties:
        errors:
          items:
            type: string
          type: array
        success:
          type: boolean
      type: object
    reportsDailyItem:
      example:
        ctr: ctr
        date: date
        earnings: earnings
        cpc: cpc
        clicks: clicks
        impressions: impressions
        rpm: rpm
        net_ecpm: net_ecpm
      properties:
        clicks:
          type: string
        cpc:
          type: string
        ctr:
          type: string
        date:
          type: string
        earnings:
          type: string
        impressions:
          type: string
        net_ecpm:
          type: string
        rpm:
          type: string
      type: object
    reportsDailyResponse:
      example:
        success: true
        total_count: 0
        totals:
          total_net_ecpm: total_net_ecpm
          total_earnings: total_earnings
          total_cpc: total_cpc
          total_rpm: total_rpm
          total_clicks: total_clicks
          total_ctr: total_ctr
          total_impressions: total_impressions
        items:
        - ctr: ctr
          date: date
          earnings: earnings
          cpc: cpc
          clicks: clicks
          impressions: impressions
          rpm: rpm
          net_ecpm: net_ecpm
        - ctr: ctr
          date: date
          earnings: earnings
          cpc: cpc
          clicks: clicks
          impressions: impressions
          rpm: rpm
          net_ecpm: net_ecpm
      properties:
        items:
          items:
            $ref: '#/components/schemas/reportsDailyItem'
          type: array
        success:
          type: boolean
        total_count:
          type: integer
        totals:
          $ref: '#/components/schemas/totals'
      type: object
    reportsWebsiteItem:
      example:
        ctr: ctr
        date: date
        earnings: earnings
        cpc: cpc
        clicks: clicks
        impressions: impressions
        rpm: rpm
        net_ecpm: net_ecpm
      properties:
        clicks:
          type: string
        cpc:
          type: string
        ctr:
          type: string
        date:
          type: string
        earnings:
          type: string
        impressions:
          type: string
        net_ecpm:
          type: string
        rpm:
          type: string
      type: object
    reportsWebsiteResponse:
      example:
        success: true
        total_count: 0
        totals:
          total_net_ecpm: total_net_ecpm
          total_earnings: total_earnings
          total_cpc: total_cpc
          total_rpm: total_rpm
          total_clicks: total_clicks
          total_ctr: total_ctr
          total_impressions: total_impressions
        items:
        - ctr: ctr
          date: date
          earnings: earnings
          cpc: cpc
          clicks: clicks
          impressions: impressions
          rpm: rpm
          net_ecpm: net_ecpm
        - ctr: ctr
          date: date
          earnings: earnings
          cpc: cpc
          clicks: clicks
          impressions: impressions
          rpm: rpm
          net_ecpm: net_ecpm
      properties:
        items:
          items:
            $ref: '#/components/schemas/reportsWebsiteItem'
          type: array
        success:
          type: boolean
        total_count:
          type: integer
        totals:
          $ref: '#/components/schemas/totals'
      type: object
    reportsWidgetItem:
      example:
        ctr: ctr
        earnings: earnings
        cpc: cpc
        campaign: campaign
        clicks: clicks
        impressions: impressions
        campaign_id: campaign_id
        rpm: rpm
        net_ecpm: net_ecpm
      properties:
        campaign:
          description: widget name
          type: string
        campaign_id:
          description: widget id
          type: string
        clicks:
          type: string
        cpc:
          type: string
        ctr:
          type: string
        earnings:
          type: string
        impressions:
          type: string
        net_ecpm:
          type: string
        rpm:
          type: string
      type: object
    reportsWidgetResponse:
      example:
        success: true
        total_count: 0
        totals:
          total_net_ecpm: total_net_ecpm
          total_earnings: total_earnings
          total_cpc: total_cpc
          total_rpm: total_rpm
          total_clicks: total_clicks
          total_ctr: total_ctr
          total_impressions: total_impressions
        items:
        - ctr: ctr
          earnings: earnings
          cpc: cpc
          campaign: campaign
          clicks: clicks
          impressions: impressions
          campaign_id: campaign_id
          rpm: rpm
          net_ecpm: net_ecpm
        - ctr: ctr
          earnings: earnings
          cpc: cpc
          campaign: campaign
          clicks: clicks
          impressions: impressions
          campaign_id: campaign_id
          rpm: rpm
          net_ecpm: net_ecpm
      properties:
        items:
          items:
            $ref: '#/components/schemas/reportsWidgetItem'
          type: array
        success:
          type: boolean
        total_count:
          type: integer
        totals:
          $ref: '#/components/schemas/totals'
      type: object
    totals:
      example:
        total_net_ecpm: total_net_ecpm
        total_earnings: total_earnings
        total_cpc: total_cpc
        total_rpm: total_rpm
        total_clicks: total_clicks
        total_ctr: total_ctr
        total_impressions: total_impressions
      properties:
        total_clicks:
          type: string
        total_cpc:
          type: string
        total_ctr:
          type: string
        total_earnings:
          type: string
        total_impressions:
          type: string
        total_net_ecpm:
          type: string
        total_rpm:
          type: string
      type: object
    _auth_default_login_post_request:
      properties:
        username:
          description: Native Ads Publisher username
          type: string
        password:
          description: Native Ads Publisher password
          type: string
      required:
      - password
      - username
      type: object
x-original-swagger-version: "2.0"

