openapi: 3.0.0
info:
  contact:
    x-twitter: microsoft
  title: TrainingApi
  version: "1.2"
  x-apisguru-categories:
  - developer_tools
  - cloud
  x-logo:
    url: https://twitter.com/microsoft/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Training/stable/v1.2/Training.json
    version: "3.0"
  x-preferred: false
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-Training
  x-tags:
  - Microsoft
servers:
- url: https://southcentralus.api.cognitive.microsoft.com/customvision/v1.2/Training
paths:
  /account:
    get:
      operationId: get_account_info
      parameters:
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetAccountInfo request:
                  $ref: '#/components/examples/Successful_GetAccountInfo_request'
              schema:
                $ref: '#/components/schemas/Account'
            application/xml:
              examples:
                Successful GetAccountInfo request:
                  $ref: '#/components/examples/Successful_GetAccountInfo_request'
              schema:
                $ref: '#/components/schemas/Account'
            text/json:
              examples:
                Successful GetAccountInfo request:
                  $ref: '#/components/examples/Successful_GetAccountInfo_request'
              schema:
                $ref: '#/components/schemas/Account'
            text/xml:
              examples:
                Successful GetAccountInfo request:
                  $ref: '#/components/examples/Successful_GetAccountInfo_request'
              schema:
                $ref: '#/components/schemas/Account'
          description: OK
      summary: Get basic information about your account
      tags:
      - AccountApi
      x-openapi-router-controller: openapi_server.controllers.account_api_controller
  /domains:
    get:
      operationId: get_domains
      parameters:
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetDomains request:
                  $ref: '#/components/examples/Successful_GetDomains_request'
              schema:
                items:
                  $ref: '#/components/schemas/Domain'
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetDomains request:
                  $ref: '#/components/examples/Successful_GetDomains_request'
              schema:
                items:
                  $ref: '#/components/schemas/Domain'
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetDomains request:
                  $ref: '#/components/examples/Successful_GetDomains_request'
              schema:
                items:
                  $ref: '#/components/schemas/Domain'
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetDomains request:
                  $ref: '#/components/examples/Successful_GetDomains_request'
              schema:
                items:
                  $ref: '#/components/schemas/Domain'
                nullable: true
                type: array
          description: OK
      summary: Get a list of the available domains
      tags:
      - DomainsApi
      x-openapi-router-controller: openapi_server.controllers.domains_api_controller
  /domains/{domainId}:
    get:
      operationId: get_domain
      parameters:
      - description: The id of the domain to get information about
        examples:
          Successful GetDomain request:
            value: b30a91ae-e3c1-4f73-a81e-c270bff27c39
        explode: false
        in: path
        name: domainId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetDomain request:
                  $ref: '#/components/examples/Successful_GetDomain_request'
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              examples:
                Successful GetDomain request:
                  $ref: '#/components/examples/Successful_GetDomain_request'
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              examples:
                Successful GetDomain request:
                  $ref: '#/components/examples/Successful_GetDomain_request'
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              examples:
                Successful GetDomain request:
                  $ref: '#/components/examples/Successful_GetDomain_request'
              schema:
                $ref: '#/components/schemas/Domain'
          description: OK
      summary: Get information about a specific domain
      tags:
      - DomainsApi
      x-openapi-router-controller: openapi_server.controllers.domains_api_controller
  /projects:
    get:
      operationId: get_projects
      parameters:
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetProjects request:
                  $ref: '#/components/examples/Successful_GetProjects_request'
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetProjects request:
                  $ref: '#/components/examples/Successful_GetProjects_request'
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetProjects request:
                  $ref: '#/components/examples/Successful_GetProjects_request'
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetProjects request:
                  $ref: '#/components/examples/Successful_GetProjects_request'
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                nullable: true
                type: array
          description: OK
      summary: Get your projects
      tags:
      - ProjectApi
      x-openapi-router-controller: openapi_server.controllers.project_api_controller
    post:
      operationId: create_project
      parameters:
      - description: Name of the project
        examples:
          Successful CreateProject request:
            value: My New Project
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
        x-nullable: true
      - description: The description of the project
        examples:
          Successful CreateProject request:
            value: A test project
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
        x-nullable: true
      - description: The id of the domain to use for this project. Defaults to General
        examples:
          Successful CreateProject request:
            value: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
        explode: true
        in: query
        name: domainId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateProject request:
                  $ref: '#/components/examples/Successful_CreateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            application/xml:
              examples:
                Successful CreateProject request:
                  $ref: '#/components/examples/Successful_CreateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            text/json:
              examples:
                Successful CreateProject request:
                  $ref: '#/components/examples/Successful_CreateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            text/xml:
              examples:
                Successful CreateProject request:
                  $ref: '#/components/examples/Successful_CreateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
          description: OK
      summary: Create a project
      tags:
      - ProjectApi
      x-openapi-router-controller: openapi_server.controllers.project_api_controller
  /projects/{projectId}:
    delete:
      operationId: delete_project
      parameters:
      - description: The project id
        examples:
          Successful DeleteProject request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content
      summary: Delete a specific project
      tags:
      - ProjectApi
      x-openapi-router-controller: openapi_server.controllers.project_api_controller
    get:
      operationId: get_project
      parameters:
      - description: The id of the project to get
        examples:
          Successful GetProject request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetProject request:
                  $ref: '#/components/examples/Successful_GetProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            application/xml:
              examples:
                Successful GetProject request:
                  $ref: '#/components/examples/Successful_GetProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            text/json:
              examples:
                Successful GetProject request:
                  $ref: '#/components/examples/Successful_GetProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            text/xml:
              examples:
                Successful GetProject request:
                  $ref: '#/components/examples/Successful_GetProject_request'
              schema:
                $ref: '#/components/schemas/Project'
          description: OK
      summary: Get a specific project
      tags:
      - ProjectApi
      x-openapi-router-controller: openapi_server.controllers.project_api_controller
    patch:
      operationId: update_project
      parameters:
      - description: The id of the project to update
        examples:
          Successful UpdateProject request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Project'
          application/xml:
            schema:
              $ref: '#/components/schemas/Project'
          text/json:
            schema:
              $ref: '#/components/schemas/Project'
          text/xml:
            schema:
              $ref: '#/components/schemas/Project'
        description: The updated project model
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful UpdateProject request:
                  $ref: '#/components/examples/Successful_UpdateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            application/xml:
              examples:
                Successful UpdateProject request:
                  $ref: '#/components/examples/Successful_UpdateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            text/json:
              examples:
                Successful UpdateProject request:
                  $ref: '#/components/examples/Successful_UpdateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
            text/xml:
              examples:
                Successful UpdateProject request:
                  $ref: '#/components/examples/Successful_UpdateProject_request'
              schema:
                $ref: '#/components/schemas/Project'
          description: OK
      summary: Update a specific project
      tags:
      - ProjectApi
      x-openapi-router-controller: openapi_server.controllers.project_api_controller
      x-codegen-request-body-name: body
  /projects/{projectId}/images:
    delete:
      operationId: delete_images
      parameters:
      - description: The project id
        examples:
          Successful DeleteImages request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: Ids of the images to be deleted. Limited to 256 images per batch
        examples:
          Successful DeleteImages request:
            value:
            - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
        explode: false
        in: query
        name: imageIds
        required: true
        schema:
          items:
            nullable: false
            type: string
          type: array
        style: form
        x-nullable: true
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content
      summary: Delete images from the set of training images
      tags:
      - ImageApi
      x-openapi-router-controller: openapi_server.controllers.image_api_controller
    post:
      description: "This API accepts body content as multipart/form-data and application/octet-stream.\
        \ When using multipart\r\nmultiple image files can be sent at once, with a\
        \ maximum of 64 files"
      operationId: create_images_from_data
      parameters:
      - description: The project id
        examples:
          Successful CreateImagesFromData request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: The tags ids with which to tag each image. Limited to 20
        examples:
          Successful CreateImagesFromData request:
            value:
            - b607964f-7bd6-4a3b-a869-6791fb6aab87
        explode: false
        in: query
        name: tagIds
        required: false
        schema:
          items:
            nullable: false
            type: string
          type: array
        style: form
        x-nullable: true
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        $ref: '#/components/requestBodies/CreateImagesFromData'
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromData request:
                  $ref: '#/components/examples/Successful_CreateImagesFromData_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            application/xml:
              examples:
                Successful CreateImagesFromData request:
                  $ref: '#/components/examples/Successful_CreateImagesFromData_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            text/json:
              examples:
                Successful CreateImagesFromData request:
                  $ref: '#/components/examples/Successful_CreateImagesFromData_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            text/xml:
              examples:
                Successful CreateImagesFromData request:
                  $ref: '#/components/examples/Successful_CreateImagesFromData_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
          description: OK
      summary: Add the provided images to the set of training images
      tags:
      - ImageApi
      x-openapi-router-controller: openapi_server.controllers.image_api_controller
      x-codegen-request-body-name: body
  /projects/{projectId}/images/files:
    post:
      operationId: create_images_from_files
      parameters:
      - description: The project id
        examples:
          Successful CreateImagesFromFiles request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageFileCreateBatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageFileCreateBatch'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageFileCreateBatch'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageFileCreateBatch'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageFileCreateBatch'
        description: The batch of image files to add. Limited to 64 images and 20
          tags per batch
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: '#/components/examples/Successful_CreateImagesFromFiles_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            application/xml:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: '#/components/examples/Successful_CreateImagesFromFiles_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            text/json:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: '#/components/examples/Successful_CreateImagesFromFiles_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            text/xml:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: '#/components/examples/Successful_CreateImagesFromFiles_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
          description: OK
      summary: Add the provided batch of images to the set of training images
      tags:
      - ImageApi
      x-openapi-router-controller: openapi_server.controllers.image_api_controller
      x-codegen-request-body-name: body
  /projects/{projectId}/images/predictions:
    post:
      operationId: create_images_from_predictions
      parameters:
      - description: The project id
        examples:
          Successful CreateImagesFromPredictions request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageIdCreateBatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageIdCreateBatch'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageIdCreateBatch'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageIdCreateBatch'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageIdCreateBatch'
        description: Image and tag ids. Limited to 64 images and 20 tags per batch
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: '#/components/examples/Successful_CreateImagesFromPredictions_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            application/xml:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: '#/components/examples/Successful_CreateImagesFromPredictions_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            text/json:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: '#/components/examples/Successful_CreateImagesFromPredictions_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            text/xml:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: '#/components/examples/Successful_CreateImagesFromPredictions_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
          description: OK
      summary: Add the specified predicted images to the set of training images
      tags:
      - ImageApi
      x-openapi-router-controller: openapi_server.controllers.image_api_controller
      x-codegen-request-body-name: body
  /projects/{projectId}/images/tagged:
    get:
      description: "This API supports batching and range selection. By default it\
        \ will only return first 50 images matching images.\r\nUse the {take} and\
        \ {skip} parameters to control how many images to return in a given batch.\r\
        \nThe filtering is on an and/or relationship. For example, if the provided\
        \ tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged\
        \ with Dog and/or Cat will be returned"
      operationId: get_tagged_images
      parameters:
      - description: The project id
        examples:
          Successful GetTaggedImages request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: The iteration id. Defaults to workspace
        examples:
          Successful GetTaggedImages request:
            value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
        explode: true
        in: query
        name: iterationId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - description: An list of tags ids to filter the images. Defaults to all tagged
          images when null. Limited to 20
        explode: false
        in: query
        name: tagIds
        required: false
        schema:
          items:
            nullable: false
            type: string
          type: array
        style: form
        x-nullable: true
      - description: The ordering. Defaults to newest
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          enum:
          - Newest
          - Oldest
          type: string
        style: form
        x-nullable: false
      - description: "Maximum number of images to return. Defaults to 50, limited\
          \ to 256"
        explode: true
        in: query
        name: take
        required: false
        schema:
          default: 50
          format: int32
          type: integer
        style: form
      - description: Number of images to skip before beginning the image batch. Defaults
          to 0
        explode: true
        in: query
        name: skip
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetTaggedImages request:
                  $ref: '#/components/examples/Successful_GetTaggedImages_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetTaggedImages request:
                  $ref: '#/components/examples/Successful_GetTaggedImages_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetTaggedImages request:
                  $ref: '#/components/examples/Successful_GetTaggedImages_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetTaggedImages request:
                  $ref: '#/components/examples/Successful_GetTaggedImages_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
          description: OK
      summary: Get tagged images for a given project iteration
      tags:
      - ImageApi
      x-openapi-router-controller: openapi_server.controllers.image_api_controller
  /projects/{projectId}/images/tags:
    delete:
      operationId: delete_image_tags
      parameters:
      - description: The project id
        examples:
          Successful DeleteImageTags request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: Image ids. Limited to 64 images
        examples:
          Successful DeleteImageTags request:
            value:
            - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
        explode: false
        in: query
        name: imageIds
        required: true
        schema:
          items:
            nullable: false
            type: string
          type: array
        style: form
        x-nullable: true
      - description: Tags to be deleted from the specified images. Limited to 20 tags
        examples:
          Successful DeleteImageTags request:
            value:
            - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
        explode: false
        in: query
        name: tagIds
        required: true
        schema:
          items:
            nullable: false
            type: string
          type: array
        style: form
        x-nullable: true
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content
      summary: Remove a set of tags from a set of images
      tags:
      - ImageApi
      x-openapi-router-controller: openapi_server.controllers.image_api_controller
    post:
      operationId: post_image_tags
      parameters:
      - description: The project id
        examples:
          Successful PostImageTags request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageTagCreateBatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageTagCreateBatch'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageTagCreateBatch'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageTagCreateBatch'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageTagCreateBatch'
        description: Batch of image tags. Limited to 128 tags per batch
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful PostImageTags request:
                  $ref: '#/components/examples/Successful_PostImageTags_request'
              schema:
                $ref: '#/components/schemas/ImageTagCreateSummary'
            application/xml:
              examples:
                Successful PostImageTags request:
                  $ref: '#/components/examples/Successful_PostImageTags_request'
              schema:
                $ref: '#/components/schemas/ImageTagCreateSummary'
            text/json:
              examples:
                Successful PostImageTags request:
                  $ref: '#/components/examples/Successful_PostImageTags_request'
              schema:
                $ref: '#/components/schemas/ImageTagCreateSummary'
            text/xml:
              examples:
                Successful PostImageTags request:
                  $ref: '#/components/examples/Successful_PostImageTags_request'
              schema:
                $ref: '#/components/schemas/ImageTagCreateSummary'
          description: OK
      summary: Associate a set of images with a set of tags
      tags:
      - ImageApi
      x-openapi-router-controller: openapi_server.controllers.image_api_controller
      x-codegen-request-body-name: body
  /projects/{projectId}/images/untagged:
    get:
      description: "This API supports batching and range selection. By default it\
        \ will only return first 50 images matching images.\r\nUse the {take} and\
        \ {skip} parameters to control how many images to return in a given batch."
      operationId: get_untagged_images
      parameters:
      - description: The project id
        examples:
          Successful GetUntaggedImages request:
            value: bc3f7dad-5544-468c-8573-3ef04d55463e
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: The iteration id. Defaults to workspace
        examples:
          Successful GetUntaggedImages request:
            value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
        explode: true
        in: query
        name: iterationId
        required: false
        schema:
          format: uuid
          type: string
        style: form
        x-nullable: true
      - description: The ordering. Defaults to newest
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          enum:
          - Newest
          - Oldest
          type: string
        style: form
        x-nullable: false
      - description: "Maximum number of images to return. Defaults to 50, limited\
          \ to 256"
        explode: true
        in: query
        name: take
        required: false
        schema:
          default: 50
          format: int32
          type: integer
        style: form
      - description: Number of images to skip before beginning the image batch. Defaults
          to 0
        explode: true
        in: query
        name: skip
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetUntaggedImages request:
                  $ref: '#/components/examples/Successful_GetUntaggedImages_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetUntaggedImages request:
                  $ref: '#/components/examples/Successful_GetUntaggedImages_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetUntaggedImages request:
                  $ref: '#/components/examples/Successful_GetUntaggedImages_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetUntaggedImages request:
                  $ref: '#/components/examples/Successful_GetUntaggedImages_request'
              schema:
                items:
                  $ref: '#/components/schemas/Image'
                nullable: true
                type: array
          description: OK
      summary: Get untagged images for a given project iteration
      tags:
      - ImageApi
      x-openapi-router-controller: openapi_server.controllers.image_api_controller
  /projects/{projectId}/images/urls:
    post:
      operationId: create_images_from_urls
      parameters:
      - description: The project id
        examples:
          Successful CreateImagesFromUrls request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageUrlCreateBatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImageUrlCreateBatch'
          application/xml:
            schema:
              $ref: '#/components/schemas/ImageUrlCreateBatch'
          text/json:
            schema:
              $ref: '#/components/schemas/ImageUrlCreateBatch'
          text/xml:
            schema:
              $ref: '#/components/schemas/ImageUrlCreateBatch'
        description: Image urls and tag ids. Limited to 64 images and 20 tags per
          batch
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: '#/components/examples/Successful_CreateImagesFromUrls_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            application/xml:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: '#/components/examples/Successful_CreateImagesFromUrls_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            text/json:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: '#/components/examples/Successful_CreateImagesFromUrls_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
            text/xml:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: '#/components/examples/Successful_CreateImagesFromUrls_request'
              schema:
                $ref: '#/components/schemas/ImageCreateSummary'
          description: OK
      summary: Add the provided images urls to the set of training images
      tags:
      - ImageApi
      x-openapi-router-controller: openapi_server.controllers.image_api_controller
      x-codegen-request-body-name: body
  /projects/{projectId}/iterations:
    get:
      operationId: get_iterations
      parameters:
      - description: The project id
        examples:
          Successful GetIterations request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetIterations request:
                  $ref: '#/components/examples/Successful_GetIterations_request'
              schema:
                items:
                  $ref: '#/components/schemas/Iteration'
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetIterations request:
                  $ref: '#/components/examples/Successful_GetIterations_request'
              schema:
                items:
                  $ref: '#/components/schemas/Iteration'
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetIterations request:
                  $ref: '#/components/examples/Successful_GetIterations_request'
              schema:
                items:
                  $ref: '#/components/schemas/Iteration'
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetIterations request:
                  $ref: '#/components/examples/Successful_GetIterations_request'
              schema:
                items:
                  $ref: '#/components/schemas/Iteration'
                nullable: true
                type: array
          description: OK
      summary: Get iterations for the project
      tags:
      - ProjectApi
      x-openapi-router-controller: openapi_server.controllers.project_api_controller
  /projects/{projectId}/iterations/{iterationId}:
    delete:
      operationId: delete_iteration
      parameters:
      - description: The project id
        examples:
          Successful DeleteIteration request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: The iteration id
        examples:
          Successful DeleteIteration request:
            value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
        explode: false
        in: path
        name: iterationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "204":
          description: No Content
      summary: Delete a specific iteration of a project
      tags:
      - ProjectApi
      x-openapi-router-controller: openapi_server.controllers.project_api_controller
    get:
      operationId: get_iteration
      parameters:
      - description: The id of the project the iteration belongs to
        examples:
          Successful GetIteration request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: The id of the iteration to get
        examples:
          Successful GetIteration request:
            value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
        explode: false
        in: path
        name: iterationId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - examples:
          Successful CreateImagesFromData request:
            value: "{API Key}"
          Successful CreateImagesFromFiles request:
            value: "{API Key}"
          Successful CreateImagesFromPredictions request:
            value: "{API Key}"
          Successful CreateImagesFromUrls request:
            value: "{API Key}"
          Successful CreateProject request:
            value: "{API Key}"
          Successful CreateTag request:
            value: "{API Key}"
          Successful DeleteImageTags request:
            value: "{API Key}"
          Successful DeleteImages request:
            value: "{API Key}"
          Successful DeleteIteration request:
            value: "{API Key}"
          Successful DeletePrediction request:
            value: "{API Key}"
          Successful DeleteProject request:
            value: "{API Key}"
          Successful DeleteTag request:
            value: "{API Key}"
          Successful ExportIteration request:
            value: "{API Key}"
          Successful GetAccountInfo request:
            value: "{API Key}"
          Successful GetDomain request:
            value: "{API Key}"
          Successful GetDomains request:
            value: "{API Key}"
          Successful GetExports request:
            value: "{API Key}"
          Successful GetIteration request:
            value: "{API Key}"
          Successful GetIterationPerformance request:
            value: "{API Key}"
          Successful GetIterations request:
            value: "{API Key}"
          Successful GetProject request:
            value: "{API Key}"
          Successful GetProjects request:
            value: "{API Key}"
          Successful GetTag request:
            value: "{API Key}"
          Successful GetTaggedImages request:
            value: "{API Key}"
          Successful GetTags request:
            value: "{API Key}"
          Successful GetUntaggedImages request:
            value: "{API Key}"
          Successful PostImageTags request:
            value: "{API Key}"
          Successful QueryPredictionResults request:
            value: "{API Key}"
          Successful QuickTestImage request:
            value: "{API Key}"
          Successful QuickTestImageUrl request:
            value: "{API Key}"
          Successful TrainProject request:
            value: "{API Key}"
          Successful UpdateIteration request:
            value: "{API Key}"
          Successful UpdateProject request:
            value: "{API Key}"
          Successful UpdateTag request:
            value: "{API Key}"
        explode: false
        in: header
        name: Training-Key
        required: true
        schema:
          type: string
        style: simple
        x-ms-client-name: ApiKey
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetIteration request:
                  $ref: '#/components/examples/Successful_GetIteration_request'
              schema:
                $ref: '#/components/schemas/Iteration'
            application/xml:
              examples:
                Successful GetIteration request:
                  $ref: '#/components/examples/Successful_GetIteration_request'
              schema:
                $ref: '#/components/schemas/Iteration'
            text/json:
              examples:
                Successful GetIteration request:
                  $ref: '#/components/examples/Successful_GetIteration_request'
              schema:
                $ref: '#/components/schemas/Iteration'
            text/xml:
              examples:
                Successful GetIteration request:
                  $ref: '#/components/examples/Successful_GetIteration_request'
              schema:
                $ref: '#/components/schemas/Iteration'
          description: OK
      summary: Get a specific iteration
      tags:
      - ProjectApi
      x-openapi-router-controller: openapi_server.controllers.project_api_controller
    patch:
      operationId: update_iteration
      parameters:
      - description: Project id
        examples:
          Successful UpdateIteration request:
            value: 64b822c5-8082-4b36-a426-27225f4aa18c
        explode: false
        in: path
        name: projectId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
        x-nullable: false
      - description: Iteration id
        examples:
[...]
