openapi: 3.0.1
info:
  description: Use these REST APIs for performing operations on User entity in Azure
    API Management deployment. The User entity in API Management represents the developers
    that call the APIs of the products to which they are subscribed.
  title: ApiManagementClient
  version: 2016-10-10
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimusers.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimusers
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users
  : get:
      description: Lists a collection of registered users in the specified service
        instance.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/dn776330.aspx
      operationId: Users_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field            | Supported operators    | Supported functions               |
          |------------------|------------------------|-----------------------------------|
          | id               | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | firstName        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | lastName         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | email            | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | state            | eq                     | N/A                               |
          | registrationDate | ge, le, eq, ne, gt, lt | N/A                               |
          | note             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollection'
          description: Lists a collection of User entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-ms-odata: '#/definitions/UserContract'
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{uid}
  : delete:
      description: Deletes specific user.
      operationId: Users_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Whether to delete user's subscription or not.
        in: query
        name: deleteSubscriptions
        schema:
          type: boolean
      - description: The entity state (Etag) version of the user to delete. A value
          of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The user details were successfully deleted.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users_ListByService_default_response'
          description: Administrator user cannot be modified.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-accepts:
      - application/json
    get:
      description: Gets the details of the user specified by its identifier.
      operationId: Users_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserContract'
          description: Gets the specified user entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-accepts:
      - application/json
    patch:
      description: Updates the details of the user specified by its identifier.
      operationId: Users_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The entity state (Etag) version of the user to update. A value
          of "*" can be used for If-Match to unconditionally apply the operation.
        in: header
        name: If-Match
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateParameters'
        description: Update parameters.
        required: true
      responses:
        "204":
          content: {}
          description: The user details were successfully updated.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users_ListByService_default_response'
          description: Administrator user cannot be modified.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates or Updates a user.
      operationId: Users_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateParameters'
        description: Create or update parameters.
        required: true
      responses:
        "201":
          content: {}
          description: User was successfully created.
        "204":
          content: {}
          description: User was successfully updated.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{uid}/generateSsoUrl
  : post:
      description: Retrieves a redirection URL containing an authentication token
        for signing a given user into the developer portal.
      operationId: Users_GenerateSsoUrl
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateSsoUrlResult'
          description: The response body contains the single sign-on URL.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{uid}/groups
  : get:
      description: Lists all user groups.
      operationId: UserGroups_ListByUsers
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field       | Supported operators    | Supported functions                         |
          |-------------|------------------------|---------------------------------------------|
          | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroups_ListByUsers_200_response'
          description: Lists a collection of Group entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - UserGroups
      x-ms-odata: ./apimgroups.json#/definitions/GroupContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{uid}/identities
  : get:
      description: Lists all user identities.
      operationId: UserIdentities_ListByUsers
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserIdentityCollection'
          description: Lists of User Identities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - UserIdentities
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{uid}/subscriptions
  : get:
      description: Lists the collection of subscriptions of the specified user.
      operationId: UserSubscriptions_ListByUsers
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: |-
          | Field        | Supported operators    | Supported functions                         |
          |--------------|------------------------|---------------------------------------------|
          | id           | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | name         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | stateComment | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | userId       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | productId    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          | state        | eq                     |                                             |
        in: query
        name: $filter
        schema:
          type: string
      - description: Number of records to return.
        in: query
        name: $top
        schema:
          format: int32
          minimum: 1
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Number of records to skip.
        in: query
        name: $skip
        schema:
          format: int32
          minimum: 0
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSubscriptions_ListByUsers_200_response'
          description: Lists a collection of Subscription entities.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - UserSubscriptions
      x-ms-odata: ./apimsubscriptions.json#/definitions/SubscriptionContract
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/users/{uid}/token
  : post:
      description: Gets the Shared Access Authorization Token for the User.
      operationId: Users_GetSharedAccessToken
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        name: serviceName
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: User identifier. Must be unique in the current API Management
          service instance.
        in: path
        name: uid
        required: true
        schema:
          maxLength: 256
          minLength: 1
          pattern: "^[^*#&+:<>?]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTokenParameters'
        description: Create Authorization Token parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTokenResult'
          description: The response body contains the authorization token for the
            user.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users_ListByService_default_response'
          description: Error response describing why the operation failed.
      tags:
      - Users
      x-ms-examples:
        ApiManagementUsersGetToken:
          parameters:
            api-version: 2016-10-10
            parameters:
              expiry: 2017-05-13T10:39:35Z
              keyType: primary
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
            uid: 57f2af53bb17172280f44057
          responses:
            "200":
              body:
                value: 57f2af53bb17172280f44057&201705131039&***************************/tJVExvjA==
      x-codegen-request-body-name: parameters
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    UserIdParameter:
      description: User identifier. Must be unique in the current API Management service
        instance.
      in: path
      name: uid
      required: true
      schema:
        maxLength: 256
        minLength: 1
        pattern: "^[^*#&+:<>?]+$"
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    GenerateSsoUrlResult:
      description: Generate SSO Url operations response details.
      example:
        value: value
      properties:
        value:
          description: Redirect Url containing the SSO URL value.
          type: string
      type: object
    UserCollection:
      description: Paged Users list representation.
      example:
        count: 0
        value:
        - firstName: firstName
          lastName: lastName
          note: note
          identities:
          - provider: provider
            id: id
          - provider: provider
            id: id
          registrationDate: 2000-01-23T04:56:07.000+00:00
          id: id
          state: Active
          email: email
        - firstName: firstName
          lastName: lastName
          note: note
          identities:
          - provider: provider
            id: id
          - provider: provider
            id: id
          registrationDate: 2000-01-23T04:56:07.000+00:00
          id: id
          state: Active
          email: email
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/UserContract'
          type: array
      type: object
    UserContract:
      description: User profile.
      example:
        firstName: firstName
        lastName: lastName
        note: note
        identities:
        - provider: provider
          id: id
        - provider: provider
          id: id
        registrationDate: 2000-01-23T04:56:07.000+00:00
        id: id
        state: Active
        email: email
      properties:
        email:
          description: Email address.
          type: string
        firstName:
          description: First name.
          type: string
        id:
          description: User identifier path.
          type: string
        identities:
          description: Collection of user identities.
          items:
            $ref: '#/components/schemas/UserIdentityContract'
          readOnly: true
          type: array
        lastName:
          description: Last name.
          type: string
        note:
          description: Administrator's note about given user.
          type: string
        registrationDate:
          description: |
            Date of user registration. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        state:
          description: User state.
          enum:
          - Active
          - Blocked
          type: string
          x-ms-enum:
            modelAsString: false
            name: UserStateContract
      type: object
    UserCreateParameters:
      description: Parameters supplied to the Create User operation.
      example:
        firstName: firstName
        lastName: lastName
        note: note
        password: password
        state: Active
        email: email
      properties:
        email:
          description: Email address. Must not be empty and must be unique within
            the service instance.
          maxLength: 254
          minLength: 1
          type: string
        firstName:
          description: First name.
          maxLength: 100
          minLength: 1
          type: string
        lastName:
          description: Last name.
          maxLength: 100
          minLength: 1
          type: string
        note:
          description: Optional note about a user set by the administrator.
          type: string
        password:
          description: User Password.
          type: string
        state:
          default: Active
          description: Account state. Specifies whether the user is active or not.
            Blocked users are unable to sign into the developer portal or call any
            APIs of subscribed products. Default state is Active.
          enum:
          - Active
          - Blocked
          type: string
          x-ms-enum:
            modelAsString: false
            name: UserStateContract
      required:
      - email
      - firstName
      - lastName
      - password
      type: object
    UserIdentityCollection:
      description: List of Users Identity list representation.
      example:
        value:
        - provider: provider
          id: id
        - provider: provider
          id: id
      properties:
        value:
          description: User Identity values.
          items:
            $ref: '#/components/schemas/UserIdentityContract'
          type: array
      type: object
    UserIdentityContract:
      description: User identity details.
      example:
        provider: provider
        id: id
      properties:
        id:
          description: Identifier value within provider.
          type: string
        provider:
          description: Identity provider name.
          type: string
      type: object
    UserTokenParameters:
      description: Parameters supplied to the Get User Token operation.
      example:
        expiry: 2000-01-23T04:56:07.000+00:00
        keyType: primary
      properties:
        expiry:
          description: |
            The Expiry time of the Token. Maximum token expiry time is set to 30 days. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        keyType:
          default: primary
          description: The Key to be used to generate token for user.
          enum:
          - primary
          - secondary
          type: string
          x-ms-enum:
            modelAsString: false
            name: KeyTypeContract
      required:
      - expiry
      - keyType
      type: object
    UserTokenResult:
      description: Get User Token response details.
      example:
        value: value
      properties:
        value:
          description: Shared Access Authorization token for the User.
          type: string
      type: object
    UserUpdateParameters:
      description: Parameters supplied to the Update User operation.
      example:
        firstName: firstName
        lastName: lastName
        note: note
        password: password
        state: Active
        email: email
      properties:
        email:
          description: Email address.
          type: string
        firstName:
          description: First name.
          maxLength: 100
          minLength: 1
          type: string
        lastName:
          description: Last name.
          maxLength: 100
          minLength: 1
          type: string
        note:
          description: Note about user.
          type: string
        password:
          description: Password.
          type: string
        state:
          description: Account state.
          enum:
          - Active
          - Blocked
          type: string
          x-ms-enum:
            modelAsString: false
            name: UserStateContract
      type: object
    Users_ListByService_default_response_details_inner:
      description: Error Field contract.
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Property level error code.
          type: string
        message:
          description: Human-readable representation of property-level error.
          type: string
        target:
          description: Property name.
          type: string
      type: object
    Users_ListByService_default_response:
      description: Error Body contract.
      example:
        code: code
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
      properties:
        code:
          description: Service-defined error code. This code serves as a sub-status
            for the HTTP error code specified in the response.
          type: string
        details:
          description: "The list of invalid fields send in request, in case of validation\
            \ error."
          items:
            $ref: '#/components/schemas/Users_ListByService_default_response_details_inner'
          type: array
        message:
          description: Human-readable representation of the error.
          type: string
      type: object
    UserGroups_ListByUsers_200_response_value_inner:
      description: Developer group.
      example:
        builtIn: true
        name: name
        description: description
        externalId: externalId
        id: id
        type: Custom
      properties:
        builtIn:
          description: "true if the group is one of the three system groups (Administrators,\
            \ Developers, or Guests); otherwise false."
          readOnly: true
          type: boolean
        description:
          description: Group description. Can contain HTML formatting tags.
          maxLength: 1000
          type: string
        externalId:
          description: "For external groups, this property contains the id of the\
            \ group from the external identity provider, e.g. for Azure Active Directory\
            \ aad://<tenant>.onmicrosoft.com/groups/<group object id>; otherwise the\
            \ value is null."
          readOnly: true
          type: string
        id:
          description: "Uniquely identifies the group within the current API Management\
            \ service instance. The value is a valid relative URL in the format of\
            \ /groups/{groupId} where {groupId} is a group identifier."
          readOnly: true
          type: string
        name:
          description: Group name.
          maxLength: 300
          minLength: 1
          type: string
        type:
          description: Group type.
          enum:
          - Custom
          - System
          - External
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: GroupTypeContract
      required:
      - name
      type: object
    UserGroups_ListByUsers_200_response:
      description: Paged Group list representation.
      example:
        count: 0
        value:
        - builtIn: true
          name: name
          description: description
          externalId: externalId
          id: id
          type: Custom
        - builtIn: true
          name: name
          description: description
          externalId: externalId
          id: id
          type: Custom
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/UserGroups_ListByUsers_200_response_value_inner'
          type: array
      type: object
    UserSubscriptions_ListByUsers_200_response_value_inner:
      description: Subscription details.
      example:
        productId: productId
        secondaryKey: secondaryKey
        endDate: 2000-01-23T04:56:07.000+00:00
        userId: userId
        createdDate: 2000-01-23T04:56:07.000+00:00
        stateComment: stateComment
        name: name
        id: id
        state: Suspended
        startDate: 2000-01-23T04:56:07.000+00:00
        expirationDate: 2000-01-23T04:56:07.000+00:00
        notificationDate: 2000-01-23T04:56:07.000+00:00
        primaryKey: primaryKey
      properties:
        createdDate:
          description: |
            Subscription creation date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          readOnly: true
          type: string
        endDate:
          description: |
            Date when subscription was cancelled or expired. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        expirationDate:
          description: |
            Subscription expiration date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        id:
          description: "Uniquely identifies the subscription within the current API\
            \ Management service instance. The value is a valid relative URL in the\
            \ format of /subscriptions/{sid} where {sid} is a subscription identifier."
          readOnly: true
          type: string
        name:
          description: "The name of the subscription, or null if the subscription\
            \ has no name."
          maxLength: 100
          minLength: 0
          type: string
        notificationDate:
          description: |
            Upcoming subscription expiration notification date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        primaryKey:
          description: Subscription primary key.
          maxLength: 256
          minLength: 1
          type: string
        productId:
          description: "The product resource identifier of the subscribed product.\
            \ The value is a valid relative URL in the format of /products/{productId}\
            \ where {productId} is a product identifier."
          type: string
        secondaryKey:
          description: Subscription secondary key.
          maxLength: 256
          minLength: 1
          type: string
        startDate:
          description: |
            Subscription activation date. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
          format: date-time
          type: string
        state:
          description: "Subscription state. Possible states are * active – the subscription\
            \ is active, * suspended – the subscription is blocked, and the subscriber\
            \ cannot call any APIs of the product, * submitted – the subscription\
            \ request has been made by the developer, but has not yet been approved\
            \ or rejected, * rejected – the subscription request has been denied by\
            \ an administrator, * cancelled – the subscription has been cancelled\
            \ by the developer or administrator, * expired – the subscription reached\
            \ its expiration date and was deactivated."
          enum:
          - Suspended
          - Active
          - Expired
          - Submitted
          - Rejected
          - Cancelled
          type: string
          x-ms-enum:
            modelAsString: false
            name: SubscriptionStateContract
        stateComment:
          description: Optional subscription comment added by an administrator.
          type: string
        userId:
          description: "The user resource identifier of the subscription owner. The\
            \ value is a valid relative URL in the format of /users/{uid} where {uid}\
            \ is a user identifier."
          type: string
      type: object
    UserSubscriptions_ListByUsers_200_response:
      description: Paged Subscriptions list representation.
      example:
        count: 0
        value:
        - productId: productId
          secondaryKey: secondaryKey
          endDate: 2000-01-23T04:56:07.000+00:00
          userId: userId
          createdDate: 2000-01-23T04:56:07.000+00:00
          stateComment: stateComment
          name: name
          id: id
          state: Suspended
          startDate: 2000-01-23T04:56:07.000+00:00
          expirationDate: 2000-01-23T04:56:07.000+00:00
          notificationDate: 2000-01-23T04:56:07.000+00:00
          primaryKey: primaryKey
        - productId: productId
          secondaryKey: secondaryKey
          endDate: 2000-01-23T04:56:07.000+00:00
          userId: userId
          createdDate: 2000-01-23T04:56:07.000+00:00
          stateComment: stateComment
          name: name
          id: id
          state: Suspended
          startDate: 2000-01-23T04:56:07.000+00:00
          expirationDate: 2000-01-23T04:56:07.000+00:00
          notificationDate: 2000-01-23T04:56:07.000+00:00
          primaryKey: primaryKey
        nextLink: nextLink
      properties:
        count:
          description: Total record count number across all pages.
          format: int64
          type: integer
        nextLink:
          description: Next page link if any.
          type: string
        value:
          description: Page values.
          items:
            $ref: '#/components/schemas/UserSubscriptions_ListByUsers_200_response_value_inner'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow.
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

