openapi: 3.0.1
info:
  description: Subscription client provides an interface to create and manage Azure
    subscriptions programmatically.
  title: SubscriptionClient
  version: 2018-03-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-03-01-preview/subscriptions.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: subscription-subscriptions
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountName}/providers/Microsoft.Subscription/createSubscription:
    post:
      description: Creates an Azure subscription
      operationId: SubscriptionFactory_CreateSubscriptionInEnrollmentAccount
      parameters:
      - description: The name of the enrollment account to which the subscription
          will be billed.
        in: path
        name: enrollmentAccountName
        required: true
        schema:
          type: string
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreationParameters'
        description: The subscription creation parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionCreationResult'
          description: Normal response for a successful query. The response body will
            contain the data that matches the filters specified in the query parameters.
        "202":
          content: {}
          description: Accepted. Subscription creation is in progress.
          headers:
            Retry-After:
              description: The amount of delay to use while the status of the operation
                is checked. The value is expressed in seconds.
              schema:
                type: string
            Location:
              description: GET this URL to retrieve the status of the asynchronous
                operation.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        createSubscription:
          parameters:
            api-version: 2018-03-01-preview
            body:
              additionalParameters:
                customData:
                  key1: value1
                  key2: true
              displayName: Test Ea Azure Sub
              offerType: MS-AZR-0017P
              owners:
              - objectId: 973034ff-acb7-409c-b731-e789672c7b31
              - objectId: 67439a9e-8519-4016-a630-f5f805eba567
            enrollmentAccountName: 73f8ab6e-cfa0-42be-b886-be6e77c2980c
          responses:
            "200":
              body:
                subscriptionLink: /subscriptions/c03acf6e-5295-44c2-92d3-cb1daa4c701c
            "202":
              headers:
                Location: /providers/Microsoft.Subscription/subscriptionOperations/aeb76128-ebde-4f5a-a9ed-e7bbf2dbc994?api-version=2018-03-01-preview
                Retry-After: "60"
      x-ms-long-running-operation: true
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /providers/Microsoft.Subscription/subscriptionOperations:
    get:
      description: Lists all of the available pending Microsoft.Subscription API operations.
      operationId: SubscriptionOperations_List
      parameters:
      - description: Version of the API to be used with the client request. Current
          version is 2015-06-01
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionOperationListResult'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response describing why the operation failed.
      x-ms-examples:
        getPendingSubscriptionOperations:
          parameters:
            api-version: 2018-03-01-preview
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.Subscription/subscriptionOperations/c03acf6e-5295-44c2-92d3-cb1daa4c701c
                  status: Pending
                  statusDetail: Subscription Creation in Progress
                - id: /providers/Microsoft.Subscription/subscriptionOperations/d46dcd37-f8b3-43a4-aed6-41de9131412d
                  status: Pending
                  statusDetail: Subscription Creation in Progress
                - id: /providers/Microsoft.Subscription/subscriptionOperations/54e3cde0-2420-451c-969d-f538d5349834
                  status: Completed
                  statusDetail: Subscription Created Successfully
      x-accepts:
      - application/json
components:
  parameters:
    apiVersionParameter:
      description: Version of the API to be used with the client request. Current
        version is 2015-06-01
      in: query
      name: api-version
      required: true
      schema:
        type: string
  schemas:
    AdPrincipal:
      description: Active Directory Principal who’ll get owner access on the new subscription.
      example:
        objectId: objectId
      properties:
        objectId:
          description: Object id of the Principal
          type: string
      required:
      - objectId
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
    SubscriptionCreationParameters:
      description: Subscription Creation Parameters required to create a new Azure
        subscription.
      example:
        offerType: MS-AZR-0017P
        displayName: displayName
        additionalParameters:
          key: "{}"
        owners:
        - objectId: objectId
        - objectId: objectId
      properties:
        additionalParameters:
          additionalProperties:
            properties: {}
            type: object
          description: "Additional, untyped parameters to support custom subscription\
            \ creation scenarios."
          type: object
        displayName:
          description: The display name of the subscription.
          type: string
        offerType:
          description: "The offer type of the subscription. For example, MS-AZR-0017P\
            \ (EnterpriseAgreement) and MS-AZR-0148P (EnterpriseAgreement devTest)\
            \ are available. Only valid when creating a subscription in a enrollment\
            \ account scope."
          enum:
          - MS-AZR-0017P
          - MS-AZR-0148P
          type: string
          x-ms-enum:
            modelAsString: true
            name: offerType
        owners:
          description: "The list of principals that should be granted Owner access\
            \ on the subscription. Principals should be of type User, Service Principal\
            \ or Security Group."
          items:
            $ref: '#/components/schemas/AdPrincipal'
          type: array
      type: object
    SubscriptionCreationResult:
      description: The created subscription object.
      example:
        subscriptionLink: subscriptionLink
      properties:
        subscriptionLink:
          description: The link to the new subscription. Use this link to check the
            status of subscription creation operation.
          type: string
      type: object
    SubscriptionOperation:
      description: status of the subscription POST operation.
      example:
        statusDetail: statusDetail
        id: id
        status: status
      properties:
        id:
          description: The operation Id.
          readOnly: true
          type: string
        status:
          description: Status of the pending subscription
          type: string
        statusDetail:
          description: Status Detail of the pending subscription
          type: string
      type: object
    SubscriptionOperationListResult:
      description: A list of pending subscription operations.
      example:
        value:
        - statusDetail: statusDetail
          id: id
          status: status
        - statusDetail: statusDetail
          id: id
          status: status
      properties:
        value:
          description: A list of pending SubscriptionOperations
          items:
            $ref: '#/components/schemas/SubscriptionOperation'
          type: array
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

