openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  description: LoL v3 Stats
  title: LoL v3 Stats
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/lol-v3-stats.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: lol-v3-stats
servers:
- url: http://azure-api.sportsdata.io/v3/lol/stats
- url: https://azure-api.sportsdata.io/v3/lol/stats
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/ActiveMemberships:
    get:
      description: Memberships (Active)
      operationId: MembershipsActive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships (Active)
      x-accepts:
      - application/json
  /{format}/Areas:
    get:
      description: Areas (Countries)
      operationId: AreasCountries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Area'
                type: array
          description: ""
      summary: Areas (Countries)
      x-accepts:
      - application/json
  /{format}/BoxScore/{gameid}:
    get:
      description: Games by Date
      operationId: BoxScore
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Game ID. \nExample:<code>100002649</code>."
        explode: false
        in: path
        name: gameid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Box Score
      x-accepts:
      - application/json
  /{format}/BoxScores/{date}:
    get:
      description: Games by Date
      operationId: BoxScoresByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2019-01-20</code>
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BoxScore'
                type: array
          description: ""
      summary: Box Scores by Date
      x-accepts:
      - application/json
  /{format}/Champions:
    get:
      description: Areas (Countries)
      operationId: Champions
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Champion'
                type: array
          description: ""
      summary: Champions
      x-accepts:
      - application/json
  /{format}/CompetitionDetails/{competitionid}:
    get:
      description: Competition Fixtures (League Details)
      operationId: CompetitionFixturesLeagueDetails
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "A LoL competition/league unique CompetitionId. Possible values\
          \ include: <code>100000019</code>, etc."
        explode: false
        in: path
        name: competitionid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionDetail'
          description: ""
      summary: Competition Fixtures (League Details)
      x-accepts:
      - application/json
  /{format}/Competitions:
    get:
      description: Competitions (Leagues)
      operationId: CompetitionsLeagues
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Competition'
                type: array
          description: ""
      summary: Competitions (Leagues)
      x-accepts:
      - application/json
  /{format}/GamesByDate/{date}:
    get:
      description: Games by Date
      operationId: GamesByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2019-01-20</code>
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Games by Date
      x-accepts:
      - application/json
  /{format}/HistoricalMemberships:
    get:
      description: Memberships (Historical)
      operationId: MembershipsHistorical
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships (Historical)
      x-accepts:
      - application/json
  /{format}/HistoricalMembershipsByTeam/{teamid}:
    get:
      description: Memberships by Team (Historical)
      operationId: MembershipsByTeamHistorical
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Team ID. \nExample:<code>100000165</code>."
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships by Team (Historical)
      x-accepts:
      - application/json
  /{format}/Items:
    get:
      description: Competitions (Leagues)
      operationId: Items
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Item'
                type: array
          description: ""
      summary: Items
      x-accepts:
      - application/json
  /{format}/MembershipsByTeam/{teamid}:
    get:
      description: Memberships by Team (Active)
      operationId: MembershipsByTeamActive
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Team ID. \nExample:<code>100000165</code>."
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Membership'
                type: array
          description: ""
      summary: Memberships by Team (Active)
      x-accepts:
      - application/json
  /{format}/Player/{playerid}:
    get:
      description: Player
      operationId: Player
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: |-
          Unique FantasyData Player ID.
          Example:<code>100001500</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Player'
          description: ""
      summary: Player
      x-accepts:
      - application/json
  /{format}/Players:
    get:
      description: Players
      operationId: Players
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players
      x-accepts:
      - application/json
  /{format}/PlayersByTeam/{teamid}:
    get:
      description: Players by Team
      operationId: PlayersByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Team ID. \nExample:<code>100000165</code>."
        explode: false
        in: path
        name: teamid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Players by Team
      x-accepts:
      - application/json
  /{format}/Schedule/{roundid}:
    get:
      description: Schedule
      operationId: Schedule
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Round ID. RoundIDs can be found in the Competitions\
          \ and Competition Details endpoints. \nExample: <code>100000278</code>,\
          \ etc"
        explode: false
        in: path
        name: roundid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Game'
                type: array
          description: ""
      summary: Schedule
      x-accepts:
      - application/json
  /{format}/SeasonTeams/{seasonid}:
    get:
      description: Season Teams
      operationId: SeasonTeams
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Season ID. SeasonIDs can be found in the\
          \ Competitions and Competition Details endpoints. \nExamples: <code>100000057</code>,\
          \ etc"
        explode: false
        in: path
        name: seasonid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SeasonTeam'
                type: array
          description: ""
      summary: Season Teams
      x-accepts:
      - application/json
  /{format}/Spells:
    get:
      description: Areas (Countries)
      operationId: Spells
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Spell'
                type: array
          description: ""
      summary: Spells
      x-accepts:
      - application/json
  /{format}/Standings/{roundid}:
    get:
      description: Standings
      operationId: Standings
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      - description: "Unique FantasyData Round ID. RoundIDs can be found in the Competitions\
          \ and Competition Details endpoints. \nExample: <code>100000278</code>,\
          \ etc"
        explode: false
        in: path
        name: roundid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Standing'
                type: array
          description: ""
      summary: Standings
      x-accepts:
      - application/json
  /{format}/Teams:
    get:
      description: Teams
      operationId: Teams
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Team'
                type: array
          description: ""
      summary: Teams
      x-accepts:
      - application/json
  /{format}/Venues:
    get:
      description: Venues
      operationId: Venues
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: xml
          enum:
          - xml
          - json
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Venue'
                type: array
          description: ""
      summary: Venues
      x-accepts:
      - application/json
components:
  schemas:
    Area:
      example:
        AreaId: 0
        CountryCode: CountryCode
        Name: Name
      properties:
        AreaId:
          nullable: false
          type: integer
        CountryCode:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
    BoxScore:
      example:
        Game:
          Group: Group
          TeamAKey: TeamAKey
          TeamAMoneyLine: 9
          IsClosed: true
          TeamBMoneyLine: 7
          DateTime: DateTime
          TeamBId: 4
          TeamAName: TeamAName
          DrawMoneyLine: 0
          TeamAScore: 2
          Season: 5
          BestOf: BestOf
          TeamBName: TeamBName
          Status: Status
          RoundId: 5
          Updated: Updated
          TeamBPointSpreadPayout: 1
          TeamBKey: TeamBKey
          Winner: Winner
          TeamAId: 7
          SeasonType: 2
          PointSpread: 1.4658129805029452
          TeamAPointSpreadPayout: 3
          VenueType: VenueType
          UpdatedUtc: UpdatedUtc
          VenueId: 1
          Day: Day
          Week: 6
          GameId: 6
          TeamBScore: 1
        PlayerGames:
        - TrueDamageTaken: 3.7846852362095262
          VisionWardsBoughtInGame: 4.863793115215697
          DateTime: DateTime
          Name: Name
          PentaKills: 8.250639315618633
          OpponentId: 3
          LongestTimeSpentLiving: 6.176386745020588
          NeutralMinionsKilledEnemyJungle: 1.9626702727164813
          ObjectivePlayerScore: 5.573385265048522
          UnrealKills: 1.5743672347582194
          TotalMinionsKilled: 6.370609851066415
          TrueDamageDealtToChampions: 1.0046985756074744
          TotalDamageDealt: 9.721046668148785
          NeutralMinionsKIlled: 5.296102445648278
          TenKillsOrAssists: 5.726375546151009
          NeutralMinionsKIlledTeamJungle: 3.8156682252305574
          PlayerId: 0
          Updated: Updated
          Position: Position
          TotalUnitsHealed: 8.768153453040833
          MagicDamageDealt: 2.0981949483881577
          TotalHeal: 7.129168897240568
          QuadraKills: 2.5524281586707875
          Assists: 0.7012260588964747
          TotalDamageTaken: 7.464202015255506
          PhysicalDamageDealtToChampions: 2.4669941706755685
          Games: 9
          DoubleKills: 4.943637496515336
          Matches: 3
          SightWardsBoughtInGame: 4.432841187680573
          LargestKillingSpree: 7.390706075830692
          MagicDamageTaken: 2.026856458177285
          IsClosed: true
          TotalTimeCrowdControlDealt: 9.505836306729838
          TurretKills: 9.007961177824221
          GoldEarned: 9.721723570087065
          KillingSpree: 0.11859130807119977
          TripleKills: 2.684056218962324
          LargestMultiKill: 1.0502890910539986
          MatchName: MatchName
          Opponent: Opponent
          Deaths: 6.749525837406151
          Team: Team
          PhysicalDamageTaken: 8.782449469456207
          FantasyPoints: 0.30134145536422907
          InhibitorKills: 6.918231485891953
          MagicDamageDealtToChampions: 4.1661834558007
          GoldSpent: 7.88722683998926
          CombatPlayerScore: 7.3842318535314
          Kills: 4.637509675190766
          LargestCriticalStrike: 0.36062689002149373
          TrueDamageDealt: 6.712603870693706
          TotalPlayerScore: 6.642953999458534
          WardsKilled: 2.008994665592807
          TeamId: 3
          TotalDamageDealtToChampions: 2.922265432447957
          Day: Day
          PhysicalDamageDealt: 7.273019311111276
          GameId: 0
          WardsPlaced: 2.924533207692744
        - TrueDamageTaken: 3.7846852362095262
          VisionWardsBoughtInGame: 4.863793115215697
          DateTime: DateTime
          Name: Name
          PentaKills: 8.250639315618633
          OpponentId: 3
          LongestTimeSpentLiving: 6.176386745020588
          NeutralMinionsKilledEnemyJungle: 1.9626702727164813
          ObjectivePlayerScore: 5.573385265048522
          UnrealKills: 1.5743672347582194
          TotalMinionsKilled: 6.370609851066415
          TrueDamageDealtToChampions: 1.0046985756074744
          TotalDamageDealt: 9.721046668148785
          NeutralMinionsKIlled: 5.296102445648278
          TenKillsOrAssists: 5.726375546151009
          NeutralMinionsKIlledTeamJungle: 3.8156682252305574
          PlayerId: 0
          Updated: Updated
          Position: Position
          TotalUnitsHealed: 8.768153453040833
          MagicDamageDealt: 2.0981949483881577
          TotalHeal: 7.129168897240568
          QuadraKills: 2.5524281586707875
          Assists: 0.7012260588964747
          TotalDamageTaken: 7.464202015255506
          PhysicalDamageDealtToChampions: 2.4669941706755685
          Games: 9
          DoubleKills: 4.943637496515336
          Matches: 3
          SightWardsBoughtInGame: 4.432841187680573
          LargestKillingSpree: 7.390706075830692
          MagicDamageTaken: 2.026856458177285
          IsClosed: true
          TotalTimeCrowdControlDealt: 9.505836306729838
          TurretKills: 9.007961177824221
          GoldEarned: 9.721723570087065
          KillingSpree: 0.11859130807119977
          TripleKills: 2.684056218962324
          LargestMultiKill: 1.0502890910539986
          MatchName: MatchName
          Opponent: Opponent
          Deaths: 6.749525837406151
          Team: Team
          PhysicalDamageTaken: 8.782449469456207
          FantasyPoints: 0.30134145536422907
          InhibitorKills: 6.918231485891953
          MagicDamageDealtToChampions: 4.1661834558007
          GoldSpent: 7.88722683998926
          CombatPlayerScore: 7.3842318535314
          Kills: 4.637509675190766
          LargestCriticalStrike: 0.36062689002149373
          TrueDamageDealt: 6.712603870693706
          TotalPlayerScore: 6.642953999458534
          WardsKilled: 2.008994665592807
          TeamId: 3
          TotalDamageDealtToChampions: 2.922265432447957
          Day: Day
          PhysicalDamageDealt: 7.273019311111276
          GameId: 0
          WardsPlaced: 2.924533207692744
        Matches:
        - MapName: MapName
          Number: 9
          WinningTeamId: 5
          MatchBans:
          - MatchId: 5
            Champion:
              Title: Title
              ChampionId: 1
              Name: Name
            TeamId: 9
            ChampionId: 4
          - MatchId: 5
            Champion:
              Title: Title
              ChampionId: 1
              Name: Name
            TeamId: 9
            ChampionId: 4
          PlayerMatches:
          - TrueDamageTaken: 1.8268702177058116
            VisionWardsBoughtInGame: 8.761432466225475
            DateTime: DateTime
            Name: Name
            PentaKills: 4.678947989005849
            OpponentId: 1
            LongestTimeSpentLiving: 7.740351818741173
            NeutralMinionsKilledEnemyJungle: 6.628464275087742
            ObjectivePlayerScore: 4.258773108174356
            UnrealKills: 9.183123594773994
            Spells:
            - SpellId: 5
              Name: Name
            - SpellId: 5
              Name: Name
            Items:
            - GoldBase: 3
              GoldTotal: 7
              GoldSell: 3
              ItemId: 0
              Name: Name
            - GoldBase: 3
              GoldTotal: 7
              GoldSell: 3
              ItemId: 0
              Name: Name
            TotalMinionsKilled: 2.9409642974827896
            TrueDamageDealtToChampions: 9.254183946267839
            TotalDamageDealt: 8.251625748923757
            NeutralMinionsKIlled: 4.078845849666752
            TenKillsOrAssists: 6.073898085781152
            NeutralMinionsKIlledTeamJungle: 0.2025324113236393
            PlayerId: 9
            Updated: Updated
            Position: Position
            TotalUnitsHealed: 6.623518433804886
            Lane: Lane
            MagicDamageDealt: 3.0205796992916243
            TotalHeal: 0.43431398824148815
            QuadraKills: 0.5199002018724985
            Role: Role
            Assists: 6.683562403749608
            TotalDamageTaken: 3.901545264248647
            PhysicalDamageDealtToChampions: 9.132027271330688
            Games: 6
            Champion:
              Title: Title
              ChampionId: 1
              Name: Name
            DoubleKills: 6.965117697638846
            Matches: 3
            SightWardsBoughtInGame: 7.933506881737151
            LargestKillingSpree: 4.652396432933246
            MagicDamageTaken: 7.04836565559697
            IsClosed: true
            TotalTimeCrowdControlDealt: 8.28965939814297
            TurretKills: 3.502657762086401
            GoldEarned: 6.878052220127876
            KillingSpree: 7.058770351582356
            TripleKills: 4.573936264232251
            LargestMultiKill: 8.969578798196912
            MatchName: MatchName
            Opponent: Opponent
            Deaths: 3.5571952270680973
            Team: Team
            PhysicalDamageTaken: 0.8774076871421566
            FantasyPoints: 1.284659006116532
            InhibitorKills: 6.704019297950036
            MagicDamageDealtToChampions: 3.0576100241049344
            GoldSpent: 5.944895607614016
            CombatPlayerScore: 6.438423552598547
            Kills: 6.519180951018382
            LargestCriticalStrike: 0.10263654006109402
            TrueDamageDealt: 8.863729185622827
            TotalPlayerScore: 1.7325933120207193
            WardsKilled: 0.4182561061793122
            TeamId: 4
            ChampionLevel: 9
            MatchId: 5
            TotalDamageDealtToChampions: 4.459605034958679
            ChampionId: 8
            Day: Day
            PhysicalDamageDealt: 7.260521264802104
            GameId: 2
            WardsPlaced: 5.299143560275359
          - TrueDamageTaken: 1.8268702177058116
            VisionWardsBoughtInGame: 8.761432466225475
            DateTime: DateTime
            Name: Name
            PentaKills: 4.678947989005849
            OpponentId: 1
            LongestTimeSpentLiving: 7.740351818741173
            NeutralMinionsKilledEnemyJungle: 6.628464275087742
            ObjectivePlayerScore: 4.258773108174356
            UnrealKills: 9.183123594773994
            Spells:
            - SpellId: 5
              Name: Name
            - SpellId: 5
              Name: Name
            Items:
            - GoldBase: 3
              GoldTotal: 7
              GoldSell: 3
              ItemId: 0
              Name: Name
            - GoldBase: 3
              GoldTotal: 7
              GoldSell: 3
              ItemId: 0
              Name: Name
            TotalMinionsKilled: 2.9409642974827896
            TrueDamageDealtToChampions: 9.254183946267839
            TotalDamageDealt: 8.251625748923757
            NeutralMinionsKIlled: 4.078845849666752
            TenKillsOrAssists: 6.073898085781152
            NeutralMinionsKIlledTeamJungle: 0.2025324113236393
            PlayerId: 9
            Updated: Updated
            Position: Position
            TotalUnitsHealed: 6.623518433804886
            Lane: Lane
            MagicDamageDealt: 3.0205796992916243
            TotalHeal: 0.43431398824148815
            QuadraKills: 0.5199002018724985
            Role: Role
            Assists: 6.683562403749608
            TotalDamageTaken: 3.901545264248647
            PhysicalDamageDealtToChampions: 9.132027271330688
            Games: 6
            Champion:
              Title: Title
              ChampionId: 1
              Name: Name
            DoubleKills: 6.965117697638846
            Matches: 3
            SightWardsBoughtInGame: 7.933506881737151
            LargestKillingSpree: 4.652396432933246
            MagicDamageTaken: 7.04836565559697
            IsClosed: true
            TotalTimeCrowdControlDealt: 8.28965939814297
            TurretKills: 3.502657762086401
            GoldEarned: 6.878052220127876
            KillingSpree: 7.058770351582356
            TripleKills: 4.573936264232251
            LargestMultiKill: 8.969578798196912
            MatchName: MatchName
            Opponent: Opponent
            Deaths: 3.5571952270680973
            Team: Team
            PhysicalDamageTaken: 0.8774076871421566
            FantasyPoints: 1.284659006116532
            InhibitorKills: 6.704019297950036
            MagicDamageDealtToChampions: 3.0576100241049344
            GoldSpent: 5.944895607614016
            CombatPlayerScore: 6.438423552598547
            Kills: 6.519180951018382
            LargestCriticalStrike: 0.10263654006109402
            TrueDamageDealt: 8.863729185622827
            TotalPlayerScore: 1.7325933120207193
            WardsKilled: 0.4182561061793122
            TeamId: 4
            ChampionLevel: 9
            MatchId: 5
            TotalDamageDealtToChampions: 4.459605034958679
            ChampionId: 8
            Day: Day
            PhysicalDamageDealt: 7.260521264802104
            GameId: 2
            WardsPlaced: 5.299143560275359
          GameId: 7
          GameVersion: GameVersion
          TeamMatches:
          - TrueDamageTaken: 4.141296055235948
            VisionWardsBoughtInGame: 6.4280627569296165
            DateTime: DateTime
            Name: Name
            PentaKills: 4.372688051310086
            OpponentId: 1
            LongestTimeSpentLiving: 2.535258963197524
            NeutralMinionsKilledEnemyJungle: 3.812761638325517
            ObjectivePlayerScore: 5.6644160867523485
            UnrealKills: 2.058822123984536
            FirstBaron: 9.897492629215506
            TotalMinionsKilled: 3.209082285545927
            TrueDamageDealtToChampions: 6.458262756685686
            TotalDamageDealt: 7.92839742024475
            NeutralMinionsKIlled: 1.3949519358941398
            TenKillsOrAssists: 7.726998920545485
            NeutralMinionsKIlledTeamJungle: 1.2555055362323109
            PlayerId: 1
            Updated: Updated
            Position: Position
            TotalUnitsHealed: 9.146339979307802
            MagicDamageDealt: 6.173804034172511
            TotalHeal: 4.4935252719377825
            QuadraKills: 3.2841216543560217
            Assists: 5.312489704336296
            TotalDamageTaken: 1.7045651386993
            PhysicalDamageDealtToChampions: 5.974942028545841
            Games: 8
            FirstRiftHerald: 3.1497903714250555
            DoubleKills: 3.7814124730767915
            Matches: 9
            SightWardsBoughtInGame: 9.785002165136461
            FirstTower: 2.380090174313445
            FirstInhibitor: 0.4768402382624515
            LargestKillingSpree: 9.386524999783381
            MagicDamageTaken: 6.966044574347761
            IsClosed: true
            TotalTimeCrowdControlDealt: 2.9805393113464476
            TurretKills: 8.910869026866926
            GoldEarned: 4.518309517874243
            KillingSpree: 7.203794749804894
            TripleKills: 4.010300976654761
            LargestMultiKill: 0.58919091925136
            MatchName: MatchName
            Opponent: Opponent
            Deaths: 7.606863723092579
            FirstDragon: 7.835035282970782
            Team: Team
            PhysicalDamageTaken: 3.8008573585058016
            FantasyPoints: 3.111202833403195
            InhibitorKills: 0.35262192099236644
            MagicDamageDealtToChampions: 4.8789878742268815
            GoldSpent: 0.4833312865174044
            CombatPlayerScore: 8.37823741034869
            Kills: 4.332304821875894
            LargestCriticalStrike: 2.7977867356748476
            TrueDamageDealt: 8.276461147928103
            TotalPlayerScore: 8.262795412896967
            FirstBlood: 5.877124706116695
            WardsKilled: 0.8411762798681321
            TeamId: 7
            TotalDamageDealtToChampions: 9.402167524121316
            Day: Day
            PhysicalDamageDealt: 5.7911894223693885
            GameId: 3
            WardsPlaced: 2.9679475177256287
          - TrueDamageTaken: 4.141296055235948
            VisionWardsBoughtInGame: 6.4280627569296165
            DateTime: DateTime
            Name: Name
            PentaKills: 4.372688051310086
            OpponentId: 1
            LongestTimeSpentLiving: 2.535258963197524
            NeutralMinionsKilledEnemyJungle: 3.812761638325517
            ObjectivePlayerScore: 5.6644160867523485
            UnrealKills: 2.058822123984536
            FirstBaron: 9.897492629215506
            TotalMinionsKilled: 3.209082285545927
            TrueDamageDealtToChampions: 6.458262756685686
            TotalDamageDealt: 7.92839742024475
            NeutralMinionsKIlled: 1.3949519358941398
            TenKillsOrAssists: 7.726998920545485
            NeutralMinionsKIlledTeamJungle: 1.2555055362323109
            PlayerId: 1
            Updated: Updated
            Position: Position
            TotalUnitsHealed: 9.146339979307802
            MagicDamageDealt: 6.173804034172511
            TotalHeal: 4.4935252719377825
            QuadraKills: 3.2841216543560217
            Assists: 5.312489704336296
            TotalDamageTaken: 1.7045651386993
            PhysicalDamageDealtToChampions: 5.974942028545841
            Games: 8
            FirstRiftHerald: 3.1497903714250555
            DoubleKills: 3.7814124730767915
            Matches: 9
            SightWardsBoughtInGame: 9.785002165136461
            FirstTower: 2.380090174313445
            FirstInhibitor: 0.4768402382624515
            LargestKillingSpree: 9.386524999783381
            MagicDamageTaken: 6.966044574347761
            IsClosed: true
            TotalTimeCrowdControlDealt: 2.9805393113464476
            TurretKills: 8.910869026866926
            GoldEarned: 4.518309517874243
            KillingSpree: 7.203794749804894
            TripleKills: 4.010300976654761
            LargestMultiKill: 0.58919091925136
            MatchName: MatchName
            Opponent: Opponent
            Deaths: 7.606863723092579
            FirstDragon: 7.835035282970782
            Team: Team
            PhysicalDamageTaken: 3.8008573585058016
            FantasyPoints: 3.111202833403195
            InhibitorKills: 0.35262192099236644
            MagicDamageDealtToChampions: 4.8789878742268815
            GoldSpent: 0.4833312865174044
            CombatPlayerScore: 8.37823741034869
            Kills: 4.332304821875894
            LargestCriticalStrike: 2.7977867356748476
            TrueDamageDealt: 8.276461147928103
            TotalPlayerScore: 8.262795412896967
            FirstBlood: 5.877124706116695
            WardsKilled: 0.8411762798681321
            TeamId: 7
            TotalDamageDealtToChampions: 9.402167524121316
            Day: Day
            PhysicalDamageDealt: 5.7911894223693885
            GameId: 3
            WardsPlaced: 2.9679475177256287
        - MapName: MapName
          Number: 9
          WinningTeamId: 5
          MatchBans:
          - MatchId: 5
            Champion:
              Title: Title
              ChampionId: 1
              Name: Name
            TeamId: 9
            ChampionId: 4
          - MatchId: 5
            Champion:
              Title: Title
              ChampionId: 1
              Name: Name
            TeamId: 9
            ChampionId: 4
          PlayerMatches:
          - TrueDamageTaken: 1.8268702177058116
            VisionWardsBoughtInGame: 8.761432466225475
            DateTime: DateTime
            Name: Name
            PentaKills: 4.678947989005849
            OpponentId: 1
            LongestTimeSpentLiving: 7.740351818741173
            NeutralMinionsKilledEnemyJungle: 6.628464275087742
            ObjectivePlayerScore: 4.258773108174356
            UnrealKills: 9.183123594773994
            Spells:
            - SpellId: 5
              Name: Name
            - SpellId: 5
              Name: Name
            Items:
            - GoldBase: 3
              GoldTotal: 7
              GoldSell: 3
              ItemId: 0
              Name: Name
            - GoldBase: 3
              GoldTotal: 7
              GoldSell: 3
              ItemId: 0
              Name: Name
            TotalMinionsKilled: 2.9409642974827896
            TrueDamageDealtToChampions: 9.254183946267839
            TotalDamageDealt: 8.251625748923757
            NeutralMinionsKIlled: 4.078845849666752
            TenKillsOrAssists: 6.073898085781152
            NeutralMinionsKIlledTeamJungle: 0.2025324113236393
            PlayerId: 9
            Updated: Updated
            Position: Position
            TotalUnitsHealed: 6.623518433804886
            Lane: Lane
            MagicDamageDealt: 3.0205796992916243
            TotalHeal: 0.43431398824148815
            QuadraKills: 0.5199002018724985
            Role: Role
            Assists: 6.683562403749608
            TotalDamageTaken: 3.901545264248647
            PhysicalDamageDealtToChampions: 9.132027271330688
            Games: 6
            Champion:
              Title: Title
              ChampionId: 1
              Name: Name
            DoubleKills: 6.965117697638846
            Matches: 3
            SightWardsBoughtInGame: 7.933506881737151
            LargestKillingSpree: 4.652396432933246
            MagicDamageTaken: 7.04836565559697
            IsClosed: true
            TotalTimeCrowdControlDealt: 8.28965939814297
            TurretKills: 3.502657762086401
            GoldEarned: 6.878052220127876
            KillingSpree: 7.058770351582356
            TripleKills: 4.573936264232251
            LargestMultiKill: 8.969578798196912
            MatchName: MatchName
            Opponent: Opponent
            Deaths: 3.5571952270680973
            Team: Team
            PhysicalDamageTaken: 0.8774076871421566
            FantasyPoints: 1.284659006116532
            InhibitorKills: 6.704019297950036
            MagicDamageDealtToChampions: 3.0576100241049344
            GoldSpent: 5.944895607614016
            CombatPlayerScore: 6.438423552598547
            Kills: 6.519180951018382
            LargestCriticalStrike: 0.10263654006109402
            TrueDamageDealt: 8.863729185622827
            TotalPlayerScore: 1.7325933120207193
            WardsKilled: 0.4182561061793122
            TeamId: 4
            ChampionLevel: 9
            MatchId: 5
            TotalDamageDealtToChampions: 4.459605034958679
            ChampionId: 8
            Day: Day
            PhysicalDamageDealt: 7.260521264802104
            GameId: 2
            WardsPlaced: 5.299143560275359
          - TrueDamageTaken: 1.8268702177058116
            VisionWardsBoughtInGame: 8.761432466225475
            DateTime: DateTime
            Name: Name
            PentaKills: 4.678947989005849
            OpponentId: 1
            LongestTimeSpentLiving: 7.740351818741173
            NeutralMinionsKilledEnemyJungle: 6.628464275087742
            ObjectivePlayerScore: 4.258773108174356
            UnrealKills: 9.183123594773994
            Spells:
            - SpellId: 5
              Name: Name
            - SpellId: 5
              Name: Name
            Items:
            - GoldBase: 3
              GoldTotal: 7
              GoldSell: 3
              ItemId: 0
              Name: Name
            - GoldBase: 3
              GoldTotal: 7
              GoldSell: 3
              ItemId: 0
              Name: Name
            TotalMinionsKilled: 2.9409642974827896
            TrueDamageDealtToChampions: 9.254183946267839
            TotalDamageDealt: 8.251625748923757
            NeutralMinionsKIlled: 4.078845849666752
            TenKillsOrAssists: 6.073898085781152
            NeutralMinionsKIlledTeamJungle: 0.2025324113236393
            PlayerId: 9
            Updated: Updated
            Position: Position
            TotalUnitsHealed: 6.623518433804886
            Lane: Lane
            MagicDamageDealt: 3.0205796992916243
            TotalHeal: 0.43431398824148815
            QuadraKills: 0.5199002018724985
            Role: Role
            Assists: 6.683562403749608
            TotalDamageTaken: 3.901545264248647
            PhysicalDamageDealtToChampions: 9.132027271330688
            Games: 6
            Champion:
              Title: Title
              ChampionId: 1
              Name: Name
            DoubleKills: 6.965117697638846
            Matches: 3
            SightWardsBoughtInGame: 7.933506881737151
            LargestKillingSpree: 4.652396432933246
            MagicDamageTaken: 7.04836565559697
            IsClosed: true
            TotalTimeCrowdControlDealt: 8.28965939814297
            TurretKills: 3.502657762086401
            GoldEarned: 6.878052220127876
            KillingSpree: 7.058770351582356
            TripleKills: 4.573936264232251
            LargestMultiKill: 8.969578798196912
            MatchName: MatchName
            Opponent: Opponent
            Deaths: 3.5571952270680973
            Team: Team
            PhysicalDamageTaken: 0.8774076871421566
            FantasyPoints: 1.284659006116532
            InhibitorKills: 6.704019297950036
            MagicDamageDealtToChampions: 3.0576100241049344
            GoldSpent: 5.944895607614016
            CombatPlayerScore: 6.438423552598547
            Kills: 6.519180951018382
            LargestCriticalStrike: 0.10263654006109402
            TrueDamageDealt: 8.863729185622827
            TotalPlayerScore: 1.7325933120207193
            WardsKilled: 0.4182561061793122
            TeamId: 4
            ChampionLevel: 9
            MatchId: 5
            TotalDamageDealtToChampions: 4.459605034958679
            ChampionId: 8
            Day: Day
            PhysicalDamageDealt: 7.260521264802104
            GameId: 2
            WardsPlaced: 5.299143560275359
          GameId: 7
          GameVersion: GameVersion
          TeamMatches:
          - TrueDamageTaken: 4.141296055235948
            VisionWardsBoughtInGame: 6.4280627569296165
            DateTime: DateTime
            Name: Name
            PentaKills: 4.372688051310086
            OpponentId: 1
            LongestTimeSpentLiving: 2.535258963197524
            NeutralMinionsKilledEnemyJungle: 3.812761638325517
            ObjectivePlayerScore: 5.6644160867523485
            UnrealKills: 2.058822123984536
            FirstBaron: 9.897492629215506
            TotalMinionsKilled: 3.209082285545927
            TrueDamageDealtToChampions: 6.458262756685686
            TotalDamageDealt: 7.92839742024475
            NeutralMinionsKIlled: 1.3949519358941398
            TenKillsOrAssists: 7.726998920545485
            NeutralMinionsKIlledTeamJungle: 1.2555055362323109
            PlayerId: 1
            Updated: Updated
            Position: Position
            TotalUnitsHealed: 9.146339979307802
            MagicDamageDealt: 6.173804034172511
            TotalHeal: 4.4935252719377825
            QuadraKills: 3.2841216543560217
            Assists: 5.312489704336296
            TotalDamageTaken: 1.7045651386993
            PhysicalDamageDealtToChampions: 5.974942028545841
            Games: 8
            FirstRiftHerald: 3.1497903714250555
            DoubleKills: 3.7814124730767915
            Matches: 9
            SightWardsBoughtInGame: 9.785002165136461
            FirstTower: 2.380090174313445
            FirstInhibitor: 0.4768402382624515
            LargestKillingSpree: 9.386524999783381
            MagicDamageTaken: 6.966044574347761
            IsClosed: true
            TotalTimeCrowdControlDealt: 2.9805393113464476
            TurretKills: 8.910869026866926
            GoldEarned: 4.518309517874243
            KillingSpree: 7.203794749804894
            TripleKills: 4.010300976654761
            LargestMultiKill: 0.58919091925136
            MatchName: MatchName
            Opponent: Opponent
            Deaths: 7.606863723092579
            FirstDragon: 7.835035282970782
            Team: Team
            PhysicalDamageTaken: 3.8008573585058016
            FantasyPoints: 3.111202833403195
            InhibitorKills: 0.35262192099236644
            MagicDamageDealtToChampions: 4.8789878742268815
            GoldSpent: 0.4833312865174044
            CombatPlayerScore: 8.37823741034869
            Kills: 4.332304821875894
            LargestCriticalStrike: 2.7977867356748476
            TrueDamageDealt: 8.276461147928103
            TotalPlayerScore: 8.262795412896967
            FirstBlood: 5.877124706116695
            WardsKilled: 0.8411762798681321
            TeamId: 7
            TotalDamageDealtToChampions: 9.402167524121316
            Day: Day
            PhysicalDamageDealt: 5.7911894223693885
            GameId: 3
            WardsPlaced: 2.9679475177256287
          - TrueDamageTaken: 4.141296055235948
            VisionWardsBoughtInGame: 6.4280627569296165
            DateTime: DateTime
            Name: Name
            PentaKills: 4.372688051310086
            OpponentId: 1
            LongestTimeSpentLiving: 2.535258963197524
            NeutralMinionsKilledEnemyJungle: 3.812761638325517
            ObjectivePlayerScore: 5.6644160867523485
            UnrealKills: 2.058822123984536
            FirstBaron: 9.897492629215506
            TotalMinionsKilled: 3.209082285545927
            TrueDamageDealtToChampions: 6.458262756685686
            TotalDamageDealt: 7.92839742024475
            NeutralMinionsKIlled: 1.3949519358941398
            TenKillsOrAssists: 7.726998920545485
            NeutralMinionsKIlledTeamJungle: 1.2555055362323109
            PlayerId: 1
            Updated: Updated
            Position: Position
            TotalUnitsHealed: 9.146339979307802
            MagicDamageDealt: 6.173804034172511
            TotalHeal: 4.4935252719377825
            QuadraKills: 3.2841216543560217
            Assists: 5.312489704336296
            TotalDamageTaken: 1.7045651386993
            PhysicalDamageDealtToChampions: 5.974942028545841
            Games: 8
            FirstRiftHerald: 3.1497903714250555
            DoubleKills: 3.7814124730767915
            Matches: 9
            SightWardsBoughtInGame: 9.785002165136461
            FirstTower: 2.380090174313445
            FirstInhibitor: 0.4768402382624515
            LargestKillingSpree: 9.386524999783381
            MagicDamageTaken: 6.966044574347761
            IsClosed: true
            TotalTimeCrowdControlDealt: 2.9805393113464476
            TurretKills: 8.910869026866926
            GoldEarned: 4.518309517874243
            KillingSpree: 7.203794749804894
            TripleKills: 4.010300976654761
            LargestMultiKill: 0.58919091925136
            MatchName: MatchName
            Opponent: Opponent
            Deaths: 7.606863723092579
            FirstDragon: 7.835035282970782
            Team: Team
            PhysicalDamageTaken: 3.8008573585058016
            FantasyPoints: 3.111202833403195
            InhibitorKills: 0.35262192099236644
            MagicDamageDealtToChampions: 4.8789878742268815
            GoldSpent: 0.4833312865174044
            CombatPlayerScore: 8.37823741034869
            Kills: 4.332304821875894
            LargestCriticalStrike: 2.7977867356748476
            TrueDamageDealt: 8.276461147928103
            TotalPlayerScore: 8.262795412896967
            FirstBlood: 5.877124706116695
            WardsKilled: 0.8411762798681321
            TeamId: 7
            TotalDamageDealtToChampions: 9.402167524121316
            Day: Day
            PhysicalDamageDealt: 5.7911894223693885
            GameId: 3
            WardsPlaced: 2.9679475177256287
        TeamGames:
        - TrueDamageTaken: 6.8668894011844035
          VisionWardsBoughtInGame: 0.6895265584691002
          DateTime: DateTime
          Name: Name
          PentaKills: 3.8601930294054942
          OpponentId: 1
          LongestTimeSpentLiving: 7.886583288201395
          NeutralMinionsKilledEnemyJungle: 4.757484754617172
          ObjectivePlayerScore: 4.754071900895484
          UnrealKills: 6.97635352548152
          FirstBaron: 5.829097284708605
          TotalMinionsKilled: 9.684087197655908
          TrueDamageDealtToChampions: 6.460213024504889
          TotalDamageDealt: 9.748669620880193
          NeutralMinionsKIlled: 7.135782839148426
          TenKillsOrAssists: 9.966789814889403
          NeutralMinionsKIlledTeamJungle: 1.0348002257634148
          PlayerId: 8
          Updated: Updated
          Position: Position
          TotalUnitsHealed: 9.0012452339701
          MagicDamageDealt: 1.4793631642421967
          TotalHeal: 0.8972273556195443
          QuadraKills: 0.9178980228274691
          Assists: 8.238101405568635
          TotalDamageTaken: 7.014147440046284
          PhysicalDamageDealtToChampions: 1.9732909296667345
          Games: 9
          FirstRiftHerald: 2.7107020326702136
          DoubleKills: 5.499986845135928
          Matches: 7
          SightWardsBoughtInGame: 8.780989965779524
          FirstTower: 8.257837395465918
          FirstInhibitor: 8.071139232091417
          LargestKillingSpree: 8.310924482277276
          MagicDamageTaken: 1.8407572303125541
          IsClosed: true
          TotalTimeCrowdControlDealt: 6.79368409560902
          TurretKills: 7.375698277301938
          GoldEarned: 2.60416377551006
          KillingSpree: 8.546645780823726
          TripleKills: 9.372628622067484
          LargestMultiKill: 6.607129449620165
          MatchName: MatchName
          Opponent: Opponent
          Deaths: 6.345503614942988
          FirstDragon: 1.2786903972794905
          Team: Team
          PhysicalDamageTaken: 4.5403315819302215
          FantasyPoints: 8.569658089905484
          InhibitorKills: 5.412786966532157
          MagicDamageDealtToChampions: 2.719219329469812
          GoldSpent: 5.5569822283364845
          CombatPlayerScore: 2.831445253698411
          Kills: 4.784107115651097
          LargestCriticalStrike: 8.036294790673514
          TrueDamageDealt: 8.289598895249666
          TotalPlayerScore: 1.7692392591014339
          FirstBlood: 0.7242789830362995
          WardsKilled: 9.290244967928562
          TeamId: 5
          TotalDamageDealtToChampions: 6.203595661339589
          Day: Day
          PhysicalDamageDealt: 3.8581948879558317
          GameId: 5
          WardsPlaced: 3.5366534267201475
        - TrueDamageTaken: 6.8668894011844035
          VisionWardsBoughtInGame: 0.6895265584691002
          DateTime: DateTime
          Name: Name
          PentaKills: 3.8601930294054942
          OpponentId: 1
          LongestTimeSpentLiving: 7.886583288201395
          NeutralMinionsKilledEnemyJungle: 4.757484754617172
          ObjectivePlayerScore: 4.754071900895484
          UnrealKills: 6.97635352548152
          FirstBaron: 5.829097284708605
          TotalMinionsKilled: 9.684087197655908
          TrueDamageDealtToChampions: 6.460213024504889
          TotalDamageDealt: 9.748669620880193
          NeutralMinionsKIlled: 7.135782839148426
          TenKillsOrAssists: 9.966789814889403
          NeutralMinionsKIlledTeamJungle: 1.0348002257634148
          PlayerId: 8
          Updated: Updated
          Position: Position
          TotalUnitsHealed: 9.0012452339701
          MagicDamageDealt: 1.4793631642421967
          TotalHeal: 0.8972273556195443
          QuadraKills: 0.9178980228274691
          Assists: 8.238101405568635
          TotalDamageTaken: 7.014147440046284
          PhysicalDamageDealtToChampions: 1.9732909296667345
          Games: 9
          FirstRiftHerald: 2.7107020326702136
          DoubleKills: 5.499986845135928
          Matches: 7
          SightWardsBoughtInGame: 8.780989965779524
          FirstTower: 8.257837395465918
          FirstInhibitor: 8.071139232091417
          LargestKillingSpree: 8.310924482277276
          MagicDamageTaken: 1.8407572303125541
          IsClosed: true
          TotalTimeCrowdControlDealt: 6.79368409560902
          TurretKills: 7.375698277301938
          GoldEarned: 2.60416377551006
          KillingSpree: 8.546645780823726
          TripleKills: 9.372628622067484
          LargestMultiKill: 6.607129449620165
          MatchName: MatchName
          Opponent: Opponent
          Deaths: 6.345503614942988
          FirstDragon: 1.2786903972794905
          Team: Team
          PhysicalDamageTaken: 4.5403315819302215
          FantasyPoints: 8.569658089905484
          InhibitorKills: 5.412786966532157
          MagicDamageDealtToChampions: 2.719219329469812
          GoldSpent: 5.5569822283364845
          CombatPlayerScore: 2.831445253698411
          Kills: 4.784107115651097
          LargestCriticalStrike: 8.036294790673514
          TrueDamageDealt: 8.289598895249666
          TotalPlayerScore: 1.7692392591014339
          FirstBlood: 0.7242789830362995
          WardsKilled: 9.290244967928562
          TeamId: 5
          TotalDamageDealtToChampions: 6.203595661339589
          Day: Day
          PhysicalDamageDealt: 3.8581948879558317
          GameId: 5
          WardsPlaced: 3.5366534267201475
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        Matches:
          items:
            $ref: '#/components/schemas/Match'
          type: array
        PlayerGames:
          items:
            $ref: '#/components/schemas/PlayerGame'
          type: array
        TeamGames:
          items:
            $ref: '#/components/schemas/TeamGame'
          type: array
    Champion:
      example:
        MoveSpeed: 6.84685269835264
        Mp: 7.457744773683766
        AttackDamage: 5.962133916683182
        Difficulty: 2.027123023002322
        SpellBlockPerLevel: 9.369310271410669
        HpRegen: 7.386281948385884
        Magic: 1.4894159098541704
        AttackRange: 2.3021358869347655
        Hp: 4.145608029883936
        Title: Title
        ArmorPerLevel: 6.027456183070403
        Attack: 1.4658129805029452
        MpRegen: 1.1730742509559433
        Defense: 3.616076749251911
        MpUpPerLevel: 5.025004791520295
        Name: Name
        HpRegenPerLevel: 1.2315135367772556
        MpRegenPerLevel: 4.965218492984954
        Armor: 0.8008281904610115
        AttackSpeedOffset: 7.061401241503109
        HpUpPerLevel: 1.0246457001441578
        AttackDamagePerLevel: 5.637376656633329
        ChampionId: 9
        SpellBlock: 9.965781217890562
      properties:
        Armor:
          nullable: false
          type: number
        ArmorPerLevel:
          nullable: false
          type: number
        Attack:
          nullable: false
          type: number
        AttackDamage:
          nullable: false
          type: number
        AttackDamagePerLevel:
          nullable: false
          type: number
        AttackRange:
          nullable: false
          type: number
        AttackSpeedOffset:
          nullable: false
          type: number
        ChampionId:
          nullable: false
          type: integer
        Defense:
          nullable: false
          type: number
        Difficulty:
          nullable: false
          type: number
        Hp:
          nullable: false
          type: number
        HpRegen:
          nullable: false
          type: number
        HpRegenPerLevel:
          nullable: false
          type: number
        HpUpPerLevel:
          nullable: false
          type: number
        Magic:
          nullable: false
          type: number
        MoveSpeed:
          nullable: false
          type: number
        Mp:
          nullable: false
          type: number
        MpRegen:
          nullable: false
          type: number
        MpRegenPerLevel:
          nullable: false
          type: number
        MpUpPerLevel:
          nullable: false
          type: number
        Name:
          nullable: true
          type: string
        SpellBlock:
          nullable: false
          type: number
        SpellBlockPerLevel:
          nullable: false
          type: number
        Title:
          nullable: true
          type: string
    ChampionInfo:
      example:
        Title: Title
        ChampionId: 1
        Name: Name
      properties:
        ChampionId:
          nullable: false
          type: integer
        Name:
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
    Competition:
      example:
        AreaName: AreaName
        PlayerStatsCoverage: true
        Type: Type
        Format: Format
        AreaId: 0
        Gender: Gender
        Seasons:
        - StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        - StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        CompetitionId: 6
        Name: Name
      properties:
        AreaId:
          nullable: false
          type: integer
        AreaName:
          nullable: true
          type: string
        CompetitionId:
          nullable: false
          type: integer
        Format:
          nullable: true
          type: string
        Gender:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        PlayerStatsCoverage:
          nullable: true
          type: boolean
        Seasons:
          items:
            $ref: '#/components/schemas/Season'
          type: array
        Type:
          nullable: true
          type: string
    CompetitionDetail:
      example:
        AreaName: AreaName
        PlayerStatsCoverage: true
        Type: Type
        Format: Format
        CurrentSeason:
          StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        Games:
        - Group: Group
          TeamAKey: TeamAKey
          TeamAMoneyLine: 9
          IsClosed: true
          TeamBMoneyLine: 7
          DateTime: DateTime
          TeamBId: 4
          TeamAName: TeamAName
          DrawMoneyLine: 0
          TeamAScore: 2
          Season: 5
          BestOf: BestOf
          TeamBName: TeamBName
          Status: Status
          RoundId: 5
          Updated: Updated
          TeamBPointSpreadPayout: 1
          TeamBKey: TeamBKey
          Winner: Winner
          TeamAId: 7
          SeasonType: 2
          PointSpread: 1.4658129805029452
          TeamAPointSpreadPayout: 3
          VenueType: VenueType
          UpdatedUtc: UpdatedUtc
          VenueId: 1
          Day: Day
          Week: 6
          GameId: 6
          TeamBScore: 1
        - Group: Group
          TeamAKey: TeamAKey
          TeamAMoneyLine: 9
          IsClosed: true
          TeamBMoneyLine: 7
          DateTime: DateTime
          TeamBId: 4
          TeamAName: TeamAName
          DrawMoneyLine: 0
          TeamAScore: 2
          Season: 5
          BestOf: BestOf
          TeamBName: TeamBName
          Status: Status
          RoundId: 5
          Updated: Updated
          TeamBPointSpreadPayout: 1
          TeamBKey: TeamBKey
          Winner: Winner
          TeamAId: 7
          SeasonType: 2
          PointSpread: 1.4658129805029452
          TeamAPointSpreadPayout: 3
          VenueType: VenueType
          UpdatedUtc: UpdatedUtc
          VenueId: 1
          Day: Day
          Week: 6
          GameId: 6
          TeamBScore: 1
        AreaId: 0
        Teams:
        - Email: Email
          Founded: 7
          AreaId: 4
          Twitter: Twitter
          Website: Website
          ShortName: ShortName
          TertiaryColor: TertiaryColor
          Gender: Gender
          TeamId: 1
          YouTube: YouTube
          Name: Name
          AreaName: AreaName
          Active: true
          Type: Type
          PrimaryColor: PrimaryColor
          SecondaryColor: SecondaryColor
          Instagram: Instagram
          Facebook: Facebook
          Key: Key
          QuaternaryColor: QuaternaryColor
          Players:
          - PlayerId: 1
            Updated: Updated
            Position: Position
            FirstName: FirstName
            BirthCity: BirthCity
            MatchName: MatchName
            Gender: Gender
            LastName: LastName
            BirthCountry: BirthCountry
            Nationality: Nationality
            BirthDate: BirthDate
            CommonName: CommonName
          - PlayerId: 1
            Updated: Updated
            Position: Position
            FirstName: FirstName
            BirthCity: BirthCity
            MatchName: MatchName
            Gender: Gender
            LastName: LastName
            BirthCountry: BirthCountry
            Nationality: Nationality
            BirthDate: BirthDate
            CommonName: CommonName
        - Email: Email
          Founded: 7
          AreaId: 4
          Twitter: Twitter
          Website: Website
          ShortName: ShortName
          TertiaryColor: TertiaryColor
          Gender: Gender
          TeamId: 1
          YouTube: YouTube
          Name: Name
          AreaName: AreaName
          Active: true
          Type: Type
          PrimaryColor: PrimaryColor
          SecondaryColor: SecondaryColor
          Instagram: Instagram
          Facebook: Facebook
          Key: Key
          QuaternaryColor: QuaternaryColor
          Players:
          - PlayerId: 1
            Updated: Updated
            Position: Position
            FirstName: FirstName
            BirthCity: BirthCity
            MatchName: MatchName
            Gender: Gender
            LastName: LastName
            BirthCountry: BirthCountry
            Nationality: Nationality
            BirthDate: BirthDate
            CommonName: CommonName
          - PlayerId: 1
            Updated: Updated
            Position: Position
            FirstName: FirstName
            BirthCity: BirthCity
            MatchName: MatchName
            Gender: Gender
            LastName: LastName
            BirthCountry: BirthCountry
            Nationality: Nationality
            BirthDate: BirthDate
            CommonName: CommonName
        Gender: Gender
        Seasons:
        - StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        - StartDate: StartDate
          Rounds:
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          - StartDate: StartDate
            Type: Type
            SeasonType: 9
            RoundId: 5
            CurrentRound: true
            SeasonId: 7
            CurrentWeek: 5
            Season: 2
            EndDate: EndDate
            Name: Name
          CurrentSeason: true
          CompetitionName: CompetitionName
          SeasonId: 2
          Season: 3
          CompetitionId: 1
          EndDate: EndDate
          Name: Name
        CompetitionId: 6
        Name: Name
      properties:
        AreaId:
          nullable: false
          type: integer
        AreaName:
          nullable: true
          type: string
        CompetitionId:
          nullable: false
          type: integer
        CurrentSeason:
          $ref: '#/components/schemas/Season'
        Format:
          nullable: true
          type: string
        Games:
          items:
            $ref: '#/components/schemas/Game'
          type: array
        Gender:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        PlayerStatsCoverage:
          nullable: true
          type: boolean
        Seasons:
          items:
            $ref: '#/components/schemas/Season'
          type: array
        Teams:
          items:
            $ref: '#/components/schemas/TeamDetail'
          type: array
        Type:
          nullable: true
          type: string
    Game:
      example:
        Group: Group
        TeamAKey: TeamAKey
        TeamAMoneyLine: 9
        IsClosed: true
        TeamBMoneyLine: 7
        DateTime: DateTime
        TeamBId: 4
        TeamAName: TeamAName
        DrawMoneyLine: 0
        TeamAScore: 2
        Season: 5
        BestOf: BestOf
        TeamBName: TeamBName
        Status: Status
        RoundId: 5
        Updated: Updated
        TeamBPointSpreadPayout: 1
        TeamBKey: TeamBKey
        Winner: Winner
        TeamAId: 7
        SeasonType: 2
        PointSpread: 1.4658129805029452
        TeamAPointSpreadPayout: 3
        VenueType: VenueType
        UpdatedUtc: UpdatedUtc
        VenueId: 1
        Day: Day
        Week: 6
        GameId: 6
        TeamBScore: 1
      properties:
        BestOf:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DrawMoneyLine:
          nullable: true
          type: integer
        GameId:
          nullable: false
          type: integer
        Group:
          nullable: true
          type: string
        IsClosed:
          nullable: true
          type: boolean
        PointSpread:
          nullable: true
          type: number
        RoundId:
          nullable: false
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Status:
          nullable: true
          type: string
        TeamAId:
          nullable: true
          type: integer
        TeamAKey:
          nullable: true
          type: string
        TeamAMoneyLine:
          nullable: true
          type: integer
        TeamAName:
          nullable: true
          type: string
        TeamAPointSpreadPayout:
          nullable: true
          type: integer
        TeamAScore:
          nullable: true
          type: integer
        TeamBId:
          nullable: true
          type: integer
        TeamBKey:
          nullable: true
          type: string
        TeamBMoneyLine:
          nullable: true
          type: integer
        TeamBName:
          nullable: true
          type: string
        TeamBPointSpreadPayout:
          nullable: true
          type: integer
        TeamBScore:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        UpdatedUtc:
          nullable: true
          type: string
        VenueId:
          nullable: true
          type: integer
        VenueType:
          nullable: true
          type: string
        Week:
          nullable: true
          type: integer
        Winner:
          nullable: true
          type: string
    Item:
      example:
        GoldBase: 3
        GoldTotal: 7
        GoldSell: 3
        ItemId: 0
        Name: Name
      properties:
        GoldBase:
          nullable: false
          type: integer
        GoldSell:
          nullable: false
          type: integer
        GoldTotal:
          nullable: false
          type: integer
        ItemId:
          nullable: false
          type: integer
        Name:
          nullable: true
          type: string
    Match:
      example:
        MapName: MapName
        Number: 9
        WinningTeamId: 5
        MatchBans:
        - MatchId: 5
          Champion:
            Title: Title
            ChampionId: 1
            Name: Name
          TeamId: 9
          ChampionId: 4
        - MatchId: 5
          Champion:
            Title: Title
            ChampionId: 1
            Name: Name
          TeamId: 9
          ChampionId: 4
        PlayerMatches:
        - TrueDamageTaken: 1.8268702177058116
          VisionWardsBoughtInGame: 8.761432466225475
          DateTime: DateTime
          Name: Name
          PentaKills: 4.678947989005849
          OpponentId: 1
          LongestTimeSpentLiving: 7.740351818741173
          NeutralMinionsKilledEnemyJungle: 6.628464275087742
          ObjectivePlayerScore: 4.258773108174356
          UnrealKills: 9.183123594773994
          Spells:
          - SpellId: 5
            Name: Name
          - SpellId: 5
            Name: Name
          Items:
          - GoldBase: 3
            GoldTotal: 7
            GoldSell: 3
            ItemId: 0
            Name: Name
          - GoldBase: 3
            GoldTotal: 7
            GoldSell: 3
            ItemId: 0
            Name: Name
          TotalMinionsKilled: 2.9409642974827896
          TrueDamageDealtToChampions: 9.254183946267839
          TotalDamageDealt: 8.251625748923757
          NeutralMinionsKIlled: 4.078845849666752
          TenKillsOrAssists: 6.073898085781152
          NeutralMinionsKIlledTeamJungle: 0.2025324113236393
          PlayerId: 9
          Updated: Updated
          Position: Position
          TotalUnitsHealed: 6.623518433804886
          Lane: Lane
          MagicDamageDealt: 3.0205796992916243
          TotalHeal: 0.43431398824148815
          QuadraKills: 0.5199002018724985
          Role: Role
          Assists: 6.683562403749608
          TotalDamageTaken: 3.901545264248647
          PhysicalDamageDealtToChampions: 9.132027271330688
          Games: 6
          Champion:
            Title: Title
            ChampionId: 1
            Name: Name
          DoubleKills: 6.965117697638846
          Matches: 3
          SightWardsBoughtInGame: 7.933506881737151
          LargestKillingSpree: 4.652396432933246
          MagicDamageTaken: 7.04836565559697
          IsClosed: true
          TotalTimeCrowdControlDealt: 8.28965939814297
          TurretKills: 3.502657762086401
          GoldEarned: 6.878052220127876
          KillingSpree: 7.058770351582356
          TripleKills: 4.573936264232251
          LargestMultiKill: 8.969578798196912
          MatchName: MatchName
          Opponent: Opponent
          Deaths: 3.5571952270680973
          Team: Team
          PhysicalDamageTaken: 0.8774076871421566
          FantasyPoints: 1.284659006116532
          InhibitorKills: 6.704019297950036
          MagicDamageDealtToChampions: 3.0576100241049344
          GoldSpent: 5.944895607614016
          CombatPlayerScore: 6.438423552598547
          Kills: 6.519180951018382
          LargestCriticalStrike: 0.10263654006109402
          TrueDamageDealt: 8.863729185622827
          TotalPlayerScore: 1.7325933120207193
          WardsKilled: 0.4182561061793122
          TeamId: 4
          ChampionLevel: 9
          MatchId: 5
          TotalDamageDealtToChampions: 4.459605034958679
          ChampionId: 8
          Day: Day
          PhysicalDamageDealt: 7.260521264802104
          GameId: 2
          WardsPlaced: 5.299143560275359
        - TrueDamageTaken: 1.8268702177058116
          VisionWardsBoughtInGame: 8.761432466225475
          DateTime: DateTime
          Name: Name
          PentaKills: 4.678947989005849
          OpponentId: 1
          LongestTimeSpentLiving: 7.740351818741173
          NeutralMinionsKilledEnemyJungle: 6.628464275087742
          ObjectivePlayerScore: 4.258773108174356
          UnrealKills: 9.183123594773994
          Spells:
          - SpellId: 5
            Name: Name
          - SpellId: 5
            Name: Name
          Items:
          - GoldBase: 3
            GoldTotal: 7
            GoldSell: 3
            ItemId: 0
            Name: Name
          - GoldBase: 3
            GoldTotal: 7
            GoldSell: 3
            ItemId: 0
            Name: Name
          TotalMinionsKilled: 2.9409642974827896
          TrueDamageDealtToChampions: 9.254183946267839
          TotalDamageDealt: 8.251625748923757
          NeutralMinionsKIlled: 4.078845849666752
          TenKillsOrAssists: 6.073898085781152
          NeutralMinionsKIlledTeamJungle: 0.2025324113236393
          PlayerId: 9
          Updated: Updated
          Position: Position
          TotalUnitsHealed: 6.623518433804886
          Lane: Lane
          MagicDamageDealt: 3.0205796992916243
          TotalHeal: 0.43431398824148815
          QuadraKills: 0.5199002018724985
          Role: Role
          Assists: 6.683562403749608
          TotalDamageTaken: 3.901545264248647
          PhysicalDamageDealtToChampions: 9.132027271330688
          Games: 6
          Champion:
            Title: Title
            ChampionId: 1
            Name: Name
          DoubleKills: 6.965117697638846
          Matches: 3
          SightWardsBoughtInGame: 7.933506881737151
          LargestKillingSpree: 4.652396432933246
          MagicDamageTaken: 7.04836565559697
          IsClosed: true
          TotalTimeCrowdControlDealt: 8.28965939814297
          TurretKills: 3.502657762086401
          GoldEarned: 6.878052220127876
          KillingSpree: 7.058770351582356
          TripleKills: 4.573936264232251
          LargestMultiKill: 8.969578798196912
          MatchName: MatchName
          Opponent: Opponent
          Deaths: 3.5571952270680973
          Team: Team
          PhysicalDamageTaken: 0.8774076871421566
          FantasyPoints: 1.284659006116532
          InhibitorKills: 6.704019297950036
          MagicDamageDealtToChampions: 3.0576100241049344
          GoldSpent: 5.944895607614016
          CombatPlayerScore: 6.438423552598547
          Kills: 6.519180951018382
          LargestCriticalStrike: 0.10263654006109402
          TrueDamageDealt: 8.863729185622827
          TotalPlayerScore: 1.7325933120207193
          WardsKilled: 0.4182561061793122
          TeamId: 4
          ChampionLevel: 9
          MatchId: 5
          TotalDamageDealtToChampions: 4.459605034958679
          ChampionId: 8
          Day: Day
          PhysicalDamageDealt: 7.260521264802104
          GameId: 2
          WardsPlaced: 5.299143560275359
        GameId: 7
        GameVersion: GameVersion
        TeamMatches:
        - TrueDamageTaken: 4.141296055235948
          VisionWardsBoughtInGame: 6.4280627569296165
          DateTime: DateTime
          Name: Name
          PentaKills: 4.372688051310086
          OpponentId: 1
          LongestTimeSpentLiving: 2.535258963197524
          NeutralMinionsKilledEnemyJungle: 3.812761638325517
          ObjectivePlayerScore: 5.6644160867523485
          UnrealKills: 2.058822123984536
          FirstBaron: 9.897492629215506
          TotalMinionsKilled: 3.209082285545927
          TrueDamageDealtToChampions: 6.458262756685686
          TotalDamageDealt: 7.92839742024475
          NeutralMinionsKIlled: 1.3949519358941398
          TenKillsOrAssists: 7.726998920545485
          NeutralMinionsKIlledTeamJungle: 1.2555055362323109
          PlayerId: 1
          Updated: Updated
          Position: Position
          TotalUnitsHealed: 9.146339979307802
          MagicDamageDealt: 6.173804034172511
          TotalHeal: 4.4935252719377825
          QuadraKills: 3.2841216543560217
          Assists: 5.312489704336296
          TotalDamageTaken: 1.7045651386993
          PhysicalDamageDealtToChampions: 5.974942028545841
          Games: 8
          FirstRiftHerald: 3.1497903714250555
          DoubleKills: 3.7814124730767915
          Matches: 9
          SightWardsBoughtInGame: 9.785002165136461
          FirstTower: 2.380090174313445
          FirstInhibitor: 0.4768402382624515
          LargestKillingSpree: 9.386524999783381
          MagicDamageTaken: 6.966044574347761
          IsClosed: true
          TotalTimeCrowdControlDealt: 2.9805393113464476
          TurretKills: 8.910869026866926
          GoldEarned: 4.518309517874243
          KillingSpree: 7.203794749804894
          TripleKills: 4.010300976654761
          LargestMultiKill: 0.58919091925136
          MatchName: MatchName
          Opponent: Opponent
          Deaths: 7.606863723092579
          FirstDragon: 7.835035282970782
          Team: Team
          PhysicalDamageTaken: 3.8008573585058016
          FantasyPoints: 3.111202833403195
          InhibitorKills: 0.35262192099236644
          MagicDamageDealtToChampions: 4.8789878742268815
          GoldSpent: 0.4833312865174044
          CombatPlayerScore: 8.37823741034869
          Kills: 4.332304821875894
          LargestCriticalStrike: 2.7977867356748476
          TrueDamageDealt: 8.276461147928103
          TotalPlayerScore: 8.262795412896967
          FirstBlood: 5.877124706116695
          WardsKilled: 0.8411762798681321
          TeamId: 7
          TotalDamageDealtToChampions: 9.402167524121316
          Day: Day
          PhysicalDamageDealt: 5.7911894223693885
          GameId: 3
          WardsPlaced: 2.9679475177256287
        - TrueDamageTaken: 4.141296055235948
          VisionWardsBoughtInGame: 6.4280627569296165
          DateTime: DateTime
          Name: Name
          PentaKills: 4.372688051310086
          OpponentId: 1
          LongestTimeSpentLiving: 2.535258963197524
          NeutralMinionsKilledEnemyJungle: 3.812761638325517
          ObjectivePlayerScore: 5.6644160867523485
          UnrealKills: 2.058822123984536
          FirstBaron: 9.897492629215506
          TotalMinionsKilled: 3.209082285545927
          TrueDamageDealtToChampions: 6.458262756685686
          TotalDamageDealt: 7.92839742024475
          NeutralMinionsKIlled: 1.3949519358941398
          TenKillsOrAssists: 7.726998920545485
          NeutralMinionsKIlledTeamJungle: 1.2555055362323109
          PlayerId: 1
          Updated: Updated
          Position: Position
          TotalUnitsHealed: 9.146339979307802
          MagicDamageDealt: 6.173804034172511
          TotalHeal: 4.4935252719377825
          QuadraKills: 3.2841216543560217
          Assists: 5.312489704336296
          TotalDamageTaken: 1.7045651386993
          PhysicalDamageDealtToChampions: 5.974942028545841
          Games: 8
          FirstRiftHerald: 3.1497903714250555
          DoubleKills: 3.7814124730767915
          Matches: 9
          SightWardsBoughtInGame: 9.785002165136461
          FirstTower: 2.380090174313445
          FirstInhibitor: 0.4768402382624515
          LargestKillingSpree: 9.386524999783381
          MagicDamageTaken: 6.966044574347761
          IsClosed: true
          TotalTimeCrowdControlDealt: 2.9805393113464476
          TurretKills: 8.910869026866926
          GoldEarned: 4.518309517874243
          KillingSpree: 7.203794749804894
          TripleKills: 4.010300976654761
          LargestMultiKill: 0.58919091925136
          MatchName: MatchName
          Opponent: Opponent
          Deaths: 7.606863723092579
          FirstDragon: 7.835035282970782
          Team: Team
          PhysicalDamageTaken: 3.8008573585058016
          FantasyPoints: 3.111202833403195
          InhibitorKills: 0.35262192099236644
          MagicDamageDealtToChampions: 4.8789878742268815
          GoldSpent: 0.4833312865174044
          CombatPlayerScore: 8.37823741034869
          Kills: 4.332304821875894
          LargestCriticalStrike: 2.7977867356748476
          TrueDamageDealt: 8.276461147928103
          TotalPlayerScore: 8.262795412896967
          FirstBlood: 5.877124706116695
          WardsKilled: 0.8411762798681321
          TeamId: 7
          TotalDamageDealtToChampions: 9.402167524121316
          Day: Day
          PhysicalDamageDealt: 5.7911894223693885
          GameId: 3
          WardsPlaced: 2.9679475177256287
      properties:
        GameId:
          nullable: false
          type: integer
        GameVersion:
          nullable: true
          type: string
        MapName:
          nullable: true
          type: string
        MatchBans:
          items:
            $ref: '#/components/schemas/MatchBan'
          type: array
        Number:
          nullable: false
          type: integer
        PlayerMatches:
          items:
            $ref: '#/components/schemas/PlayerMatch'
          type: array
        TeamMatches:
          items:
            $ref: '#/components/schemas/TeamMatch'
          type: array
        WinningTeamId:
          nullable: true
          type: integer
    MatchBan:
      example:
        MatchId: 5
        Champion:
          Title: Title
          ChampionId: 1
          Name: Name
        TeamId: 9
        ChampionId: 4
      properties:
        Champion:
          $ref: '#/components/schemas/ChampionInfo'
        ChampionId:
          nullable: true
          type: integer
        MatchId:
          nullable: false
          type: integer
        TeamId:
          nullable: false
          type: integer
    Membership:
      example:
        StartDate: StartDate
        PlayerId: 6
        Active: true
        Updated: Updated
        MembershipId: 0
        PlayerName: PlayerName
        TeamArea: TeamArea
        TeamName: TeamName
        TeamId: 1
        EndDate: EndDate
      properties:
        Active:
          nullable: false
          type: boolean
        EndDate:
          nullable: true
          type: string
        MembershipId:
          nullable: false
          type: integer
        PlayerId:
          nullable: false
          type: integer
        PlayerName:
          nullable: true
          type: string
        StartDate:
          nullable: true
          type: string
        TeamArea:
          nullable: true
          type: string
        TeamId:
          nullable: false
          type: integer
        TeamName:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
    Player:
      example:
        PlayerId: 1
        Updated: Updated
        Position: Position
        FirstName: FirstName
        BirthCity: BirthCity
        MatchName: MatchName
        Gender: Gender
        LastName: LastName
        BirthCountry: BirthCountry
        Nationality: Nationality
        BirthDate: BirthDate
        CommonName: CommonName
      properties:
        BirthCity:
          nullable: true
          type: string
        BirthCountry:
          nullable: true
          type: string
        BirthDate:
          nullable: true
          type: string
        CommonName:
          nullable: true
          type: string
        FirstName:
          nullable: true
          type: string
        Gender:
          nullable: true
          type: string
        LastName:
          nullable: true
          type: string
        MatchName:
          nullable: true
          type: string
        Nationality:
          nullable: true
          type: string
        PlayerId:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
    PlayerGame:
      example:
        TrueDamageTaken: 3.7846852362095262
        VisionWardsBoughtInGame: 4.863793115215697
        DateTime: DateTime
        Name: Name
        PentaKills: 8.250639315618633
        OpponentId: 3
        LongestTimeSpentLiving: 6.176386745020588
        NeutralMinionsKilledEnemyJungle: 1.9626702727164813
        ObjectivePlayerScore: 5.573385265048522
        UnrealKills: 1.5743672347582194
        TotalMinionsKilled: 6.370609851066415
        TrueDamageDealtToChampions: 1.0046985756074744
        TotalDamageDealt: 9.721046668148785
        NeutralMinionsKIlled: 5.296102445648278
        TenKillsOrAssists: 5.726375546151009
        NeutralMinionsKIlledTeamJungle: 3.8156682252305574
        PlayerId: 0
        Updated: Updated
        Position: Position
        TotalUnitsHealed: 8.768153453040833
        MagicDamageDealt: 2.0981949483881577
        TotalHeal: 7.129168897240568
        QuadraKills: 2.5524281586707875
        Assists: 0.7012260588964747
        TotalDamageTaken: 7.464202015255506
        PhysicalDamageDealtToChampions: 2.4669941706755685
        Games: 9
        DoubleKills: 4.943637496515336
        Matches: 3
        SightWardsBoughtInGame: 4.432841187680573
        LargestKillingSpree: 7.390706075830692
        MagicDamageTaken: 2.026856458177285
        IsClosed: true
        TotalTimeCrowdControlDealt: 9.505836306729838
        TurretKills: 9.007961177824221
        GoldEarned: 9.721723570087065
        KillingSpree: 0.11859130807119977
        TripleKills: 2.684056218962324
        LargestMultiKill: 1.0502890910539986
        MatchName: MatchName
        Opponent: Opponent
        Deaths: 6.749525837406151
        Team: Team
        PhysicalDamageTaken: 8.782449469456207
        FantasyPoints: 0.30134145536422907
        InhibitorKills: 6.918231485891953
        MagicDamageDealtToChampions: 4.1661834558007
        GoldSpent: 7.88722683998926
        CombatPlayerScore: 7.3842318535314
        Kills: 4.637509675190766
        LargestCriticalStrike: 0.36062689002149373
        TrueDamageDealt: 6.712603870693706
        TotalPlayerScore: 6.642953999458534
        WardsKilled: 2.008994665592807
        TeamId: 3
        TotalDamageDealtToChampions: 2.922265432447957
        Day: Day
        PhysicalDamageDealt: 7.273019311111276
        GameId: 0
        WardsPlaced: 2.924533207692744
      properties:
        Assists:
          nullable: true
          type: number
        CombatPlayerScore:
          nullable: true
          type: number
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        Deaths:
          nullable: true
          type: number
        DoubleKills:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        GameId:
          nullable: false
          type: integer
        Games:
          nullable: false
          type: integer
        GoldEarned:
          nullable: true
          type: number
        GoldSpent:
          nullable: true
          type: number
        InhibitorKills:
          nullable: true
          type: number
        IsClosed:
          nullable: false
          type: boolean
        KillingSpree:
          nullable: true
          type: number
        Kills:
          nullable: true
          type: number
        LargestCriticalStrike:
          nullable: true
          type: number
        LargestKillingSpree:
          nullable: true
          type: number
        LargestMultiKill:
          nullable: true
          type: number
        LongestTimeSpentLiving:
          nullable: true
          type: number
        MagicDamageDealt:
          nullable: true
          type: number
        MagicDamageDealtToChampions:
          nullable: true
          type: number
        MagicDamageTaken:
          nullable: true
          type: number
        MatchName:
          nullable: true
          type: string
        Matches:
          nullable: false
          type: integer
        Name:
          nullable: true
          type: string
        NeutralMinionsKIlled:
          nullable: true
          type: number
        NeutralMinionsKIlledTeamJungle:
          nullable: true
          type: number
        NeutralMinionsKilledEnemyJungle:
          nullable: true
          type: number
        ObjectivePlayerScore:
          nullable: true
          type: number
        Opponent:
          nullable: true
          type: string
        OpponentId:
          nullable: false
          type: integer
        PentaKills:
          nullable: true
          type: number
        PhysicalDamageDealt:
          nullable: true
          type: number
        PhysicalDamageDealtToChampions:
          nullable: true
          type: number
        PhysicalDamageTaken:
          nullable: true
          type: number
        PlayerId:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        QuadraKills:
          nullable: true
          type: number
        SightWardsBoughtInGame:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamId:
          nullable: true
          type: integer
        TenKillsOrAssists:
          nullable: true
          type: number
        TotalDamageDealt:
          nullable: true
          type: number
        TotalDamageDealtToChampions:
          nullable: true
          type: number
        TotalDamageTaken:
          nullable: true
          type: number
        TotalHeal:
          nullable: true
          type: number
        TotalMinionsKilled:
          nullable: true
          type: number
        TotalPlayerScore:
          nullable: true
          type: number
        TotalTimeCrowdControlDealt:
          nullable: true
          type: number
        TotalUnitsHealed:
          nullable: true
          type: number
        TripleKills:
          nullable: true
          type: number
        TrueDamageDealt:
          nullable: true
          type: number
        TrueDamageDealtToChampions:
          nullable: true
          type: number
        TrueDamageTaken:
          nullable: true
          type: number
        TurretKills:
          nullable: true
          type: number
        UnrealKills:
          nullable: true
          type: number
        Updated:
          nullable: true
          type: string
        VisionWardsBoughtInGame:
          nullable: true
          type: number
        WardsKilled:
          nullable: true
          type: number
        WardsPlaced:
          nullable: true
          type: number
    PlayerMatch:
      example:
        TrueDamageTaken: 1.8268702177058116
        VisionWardsBoughtInGame: 8.761432466225475
        DateTime: DateTime
        Name: Name
        PentaKills: 4.678947989005849
        OpponentId: 1
        LongestTimeSpentLiving: 7.740351818741173
        NeutralMinionsKilledEnemyJungle: 6.628464275087742
        ObjectivePlayerScore: 4.258773108174356
        UnrealKills: 9.183123594773994
        Spells:
        - SpellId: 5
          Name: Name
        - SpellId: 5
          Name: Name
        Items:
        - GoldBase: 3
          GoldTotal: 7
          GoldSell: 3
          ItemId: 0
          Name: Name
        - GoldBase: 3
          GoldTotal: 7
          GoldSell: 3
          ItemId: 0
          Name: Name
        TotalMinionsKilled: 2.9409642974827896
        TrueDamageDealtToChampions: 9.254183946267839
        TotalDamageDealt: 8.251625748923757
        NeutralMinionsKIlled: 4.078845849666752
        TenKillsOrAssists: 6.073898085781152
        NeutralMinionsKIlledTeamJungle: 0.2025324113236393
        PlayerId: 9
        Updated: Updated
        Position: Position
        TotalUnitsHealed: 6.623518433804886
        Lane: Lane
        MagicDamageDealt: 3.0205796992916243
        TotalHeal: 0.43431398824148815
        QuadraKills: 0.5199002018724985
        Role: Role
        Assists: 6.683562403749608
        TotalDamageTaken: 3.901545264248647
        PhysicalDamageDealtToChampions: 9.132027271330688
        Games: 6
        Champion:
          Title: Title
          ChampionId: 1
          Name: Name
        DoubleKills: 6.965117697638846
        Matches: 3
        SightWardsBoughtInGame: 7.933506881737151
        LargestKillingSpree: 4.652396432933246
        MagicDamageTaken: 7.04836565559697
        IsClosed: true
        TotalTimeCrowdControlDealt: 8.28965939814297
        TurretKills: 3.502657762086401
        GoldEarned: 6.878052220127876
        KillingSpree: 7.058770351582356
        TripleKills: 4.573936264232251
        LargestMultiKill: 8.969578798196912
        MatchName: MatchName
        Opponent: Opponent
        Deaths: 3.5571952270680973
        Team: Team
        PhysicalDamageTaken: 0.8774076871421566
        FantasyPoints: 1.284659006116532
        InhibitorKills: 6.704019297950036
        MagicDamageDealtToChampions: 3.0576100241049344
        GoldSpent: 5.944895607614016
        CombatPlayerScore: 6.438423552598547
        Kills: 6.519180951018382
        LargestCriticalStrike: 0.10263654006109402
        TrueDamageDealt: 8.863729185622827
        TotalPlayerScore: 1.7325933120207193
        WardsKilled: 0.4182561061793122
        TeamId: 4
        ChampionLevel: 9
        MatchId: 5
        TotalDamageDealtToChampions: 4.459605034958679
        ChampionId: 8
        Day: Day
        PhysicalDamageDealt: 7.260521264802104
        GameId: 2
        WardsPlaced: 5.299143560275359
      properties:
        Assists:
          nullable: true
          type: number
        Champion:
          $ref: '#/components/schemas/ChampionInfo'
        ChampionId:
          nullable: true
          type: integer
        ChampionLevel:
          nullable: true
          type: integer
        CombatPlayerScore:
          nullable: true
          type: number
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        Deaths:
          nullable: true
          type: number
        DoubleKills:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        GameId:
          nullable: false
          type: integer
        Games:
          nullable: false
          type: integer
        GoldEarned:
          nullable: true
          type: number
        GoldSpent:
          nullable: true
          type: number
        InhibitorKills:
          nullable: true
          type: number
        IsClosed:
          nullable: false
          type: boolean
        Items:
          items:
            $ref: '#/components/schemas/Item'
          type: array
        KillingSpree:
          nullable: true
          type: number
        Kills:
          nullable: true
          type: number
        Lane:
          nullable: true
          type: string
        LargestCriticalStrike:
          nullable: true
          type: number
        LargestKillingSpree:
          nullable: true
          type: number
        LargestMultiKill:
          nullable: true
          type: number
        LongestTimeSpentLiving:
          nullable: true
          type: number
        MagicDamageDealt:
          nullable: true
          type: number
        MagicDamageDealtToChampions:
[...]
