openapi: 3.0.1
info:
  contact: {}
  description: "The SMS Works provides a low-cost, reliable SMS API for developers.\
    \ Pay only for delivered texts, all failed messages are refunded."
  title: The SMS Works API
  version: 1.8.0
  x-apisguru-categories:
  - messaging
  x-logo:
    url: https://twitter.com/thesmsworks/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://api.thesmsworks.co.uk/api/swagger/swagger.yaml
    version: "2.0"
  x-providerName: thesmsworks.co.uk
servers:
- url: https://api.thesmsworks.co.uk/v1
paths:
  /batch/any:
    post:
      description: Sends a collection of unique SMS messages. Batches may contain
        up to 5000 messages at a time.
      operationId: batch_any_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageArray'
        description: An array of messages
        required: true
        x-body-name: messages
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/BatchMessageResponse'
          description: Success
        "402":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - batch messages
      x-codegen-request-body-name: messages
      x-openapi-router-controller: openapi_server.controllers.batch_messages_controller
  /batch/schedule:
    post:
      description: Schedules a batch of SMS messages to be sent at the date time you
        specify
      operationId: batch_schedule_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchMessage'
        description: Message properties
        required: true
        x-body-name: smsMessage
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ScheduledBatchResponse'
          description: Success
        "402":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - batch messages
      x-codegen-request-body-name: smsMessage
      x-openapi-router-controller: openapi_server.controllers.batch_messages_controller
  /batch/send:
    post:
      description: Send a single SMS message to multiple recipients.  Batches may
        contain up to 5000 messages at a time.
      operationId: batch_send_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchMessage'
        description: Message properties
        required: true
        x-body-name: smsMessage
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/BatchMessageResponse'
          description: Success
        "402":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - batch messages
      x-codegen-request-body-name: smsMessage
      x-openapi-router-controller: openapi_server.controllers.batch_messages_controller
  /batch/{batchid}:
    get:
      description: Retrieve all messages in a batch with the given batch ID
      operationId: batch_batchid_get
      parameters:
      - description: The ID of the batch you would like returned
        in: path
        name: batchid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/MessageResponse'
                type: array
          description: Success
        "404":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - batch messages
      x-openapi-router-controller: openapi_server.controllers.batch_messages_controller
  /batches/schedule/{batchid}:
    delete:
      description: Cancels a scheduled SMS message
      operationId: batches_schedule_batchid_delete
      parameters:
      - description: The ID of the batch you would like returned
        in: path
        name: batchid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CancelledMessageResponse'
          description: Success
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - batch messages
      x-openapi-router-controller: openapi_server.controllers.batch_messages_controller
  /credits/balance:
    get:
      description: Returns the number of credits currently available on the account
      operationId: credits_balance_get
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
          description: Success
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - credits
      x-openapi-router-controller: openapi_server.controllers.credits_controller
  /message/flash:
    post:
      description: "Sends an SMS flash message, which appears on the recipients lock\
        \ screen"
      operationId: send_flash_message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
        description: Message properties
        required: true
        x-body-name: smsMessage
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
          description: Success
        "402":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - messages
      x-codegen-request-body-name: smsMessage
      x-openapi-router-controller: openapi_server.controllers.messages_controller
    x-swagger-router-controller: flash
  /message/schedule:
    post:
      description: Schedules an SMS message to be sent at the date-time you specify
      operationId: message_schedule_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
        description: Message properties
        required: true
        x-body-name: smsMessage
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/ScheduledMessageResponse'
                type: array
          description: Success
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - messages
      x-codegen-request-body-name: smsMessage
      x-openapi-router-controller: openapi_server.controllers.messages_controller
    x-swagger-router-controller: smpp-client
  /message/send:
    post:
      description: Send an SMS Message
      operationId: message_send_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
        description: Message properties
        required: true
        x-body-name: smsMessage
      responses:
        "201":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
          description: Success
        "402":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - messages
      x-codegen-request-body-name: smsMessage
      x-openapi-router-controller: openapi_server.controllers.messages_controller
  /messages:
    post:
      description: Retrieve up to 1000 messages matching your search criteria
      operationId: messages_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
        required: true
        x-body-name: query
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/MessageResponse'
                type: array
          description: Success
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - messages
      x-codegen-request-body-name: query
      x-openapi-router-controller: openapi_server.controllers.messages_controller
  /messages/failed:
    post:
      description: Get failed messages matching your search criteria
      operationId: messages_failed_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
        required: true
        x-body-name: query
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/MessageResponse'
                type: array
          description: Success
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - messages
      x-codegen-request-body-name: query
      x-openapi-router-controller: openapi_server.controllers.messages_controller
  /messages/inbox:
    post:
      description: Get unread uncoming messages matching your search criteria
      operationId: messages_inbox_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
        required: true
        x-body-name: query
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/MessageResponse'
                type: array
          description: Success
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - messages
      x-codegen-request-body-name: query
      x-openapi-router-controller: openapi_server.controllers.messages_controller
  /messages/schedule:
    get:
      description: "Returns a list of messages scheduled from your account, comprising\
        \ any messages scheduled in the last 3 months and any scheduled to send in\
        \ the future"
      operationId: messages_schedule_get
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ScheduledMessagesResponse'
          description: Success
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - messages
      x-openapi-router-controller: openapi_server.controllers.messages_controller
  /messages/schedule/{messageid}:
    delete:
      description: Cancels a scheduled SMS message
      operationId: messages_schedule_messageid_delete
      parameters:
      - description: The ID of the message you would like returned
        in: path
        name: messageid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CancelledMessageResponse'
          description: Success
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - messages
      x-openapi-router-controller: openapi_server.controllers.messages_controller
  /messages/{messageid}:
    delete:
      description: Delete the message with the mathcing messageid
      operationId: messages_messageid_delete
      parameters:
      - description: The ID of the message you would like returned
        in: path
        name: messageid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/DeletedMessageResponse'
          description: Success
        "400":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - messages
      x-openapi-router-controller: openapi_server.controllers.messages_controller
    get:
      description: Retrieve a logged message by the message ID
      operationId: messages_messageid_get
      parameters:
      - description: The ID of the message you would like returned
        in: path
        name: messageid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: Success
        "404":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - messages
      x-openapi-router-controller: openapi_server.controllers.messages_controller
  /swagger:
    x-swagger-pipe: swagger_raw
  /utils/errors/{errorcode}:
    get:
      description: Returns a sample error object for the given error code. Useful
        for designing code to react to errors when they occur for real.
      operationId: utils_errors_errorcode_get
      parameters:
      - description: The code of the error you would like returned
        in: path
        name: errorcode
        required: true
        schema:
          type: string
      responses:
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ExtendedErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - utils
      x-openapi-router-controller: openapi_server.controllers.utils_controller
  /utils/test:
    get:
      description: Returns the customer ID to the caller
      operationId: utils_test_get
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TestResponse'
          description: Success
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - JWT: []
      tags:
      - utils
      x-openapi-router-controller: openapi_server.controllers.utils_controller
components:
  schemas:
    BatchMessage:
      description: SMS Message Batch
      example:
        schedule: Wed Jul 19 2017 20:26:28 GMT+0100 (BST)
        sender: YourCompany
        destinations:
        - "447777777777"
        - "447777777778"
        - "447777777779"
        tag: SummerSpecial
        validity: 1440.0
        deliveryreporturl: http://your.domain.com/delivery/report/path
        ttl: 10.0
        content: My super awesome batch message
      properties:
        content:
          description: Message to send to the recipient
          example: My super awesome batch message
          title: content
          type: string
        deliveryreporturl:
          description: "The url to which we should POST delivery reports to for this\
            \ message. If none is specified, we'll use the global delivery report\
            \ URL that you've configured on your account page."
          example: http://your.domain.com/delivery/report/path
          title: deliveryreporturl
          type: string
        destinations:
          description: Telephone numbers of each of the recipients
          example:
          - "447777777777"
          - "447777777778"
          - "447777777779"
          items:
            type: string
          title: destinations
          type: array
        schedule:
          description: Date-time at which to send the batch. This is only used by
            the batch/schedule service.
          example: Wed Jul 19 2017 20:26:28 GMT+0100 (BST)
          title: schedule
          type: string
        sender:
          description: The sender of the message. Should be no longer than 11 characters
            for alphanumeric or 15 characters for numeric sender ID's. No spaces or
            special characters.
          example: YourCompany
          title: sender
          type: string
        tag:
          description: "An identifying label for the message, which you can use to\
            \ filter and report on messages you've sent later. Ideal for campaigns.\
            \ A maximum of 280 characters."
          example: SummerSpecial
          title: tag
          type: string
        ttl:
          description: The number of minutes before the delivery report is deleted.
            Optional. Omit to prevent delivery report deletion. Integer.
          example: 10.0
          title: ttl
          type: number
        validity:
          description: The optional number of minutes to attempt delivery before the
            message is marked as EXPIRED. Optional. The default is 2880 minutes. Integer.
          example: 1440.0
          maximum: 2880
          minimum: 1
          title: validity
          type: number
      required:
      - content
      - destinations
      - sender
      title: BatchMessage
      type: object
    BatchMessageResponse:
      example:
        batchid: "2586749"
        status: SCHEDULED
      properties:
        batchid:
          example: "2586749"
          title: batchid
          type: string
        status:
          example: SCHEDULED
          title: status
          type: string
      required:
      - batchid
      - status
      title: BatchMessageResponse
      type: object
    CancelledMessageResponse:
      example:
        messageid: "5620320"
        status: CANCELLED
      properties:
        messageid:
          example: "5620320"
          title: messageid
          type: string
        status:
          example: CANCELLED
          title: status
          type: string
      required:
      - messageid
      - status
      title: CancelledMessageResponse
      type: object
    CreditsResponse:
      example:
        credits: 180.0
      properties:
        credits:
          description: The number of remaining credits on your SMS Works account.
            Floating point number.
          example: 180.0
          title: credits
          type: number
      required:
      - credits
      title: CreditsResponse
      type: object
    DeletedMessageResponse:
      example:
        messageid: "5620320"
        status: DELETED
      properties:
        messageid:
          example: "5620320"
          title: messageid
          type: string
        status:
          example: DELETED
          title: status
          type: string
      required:
      - messageid
      - status
      title: DeletedMessageResponse
      type: object
    ErrorModel:
      example:
        message: message
      properties:
        message:
          title: message
          type: string
      required:
      - message
      title: ErrorModel
      type: object
    ExtendedErrorModel:
      allOf:
      - $ref: '#/components/schemas/ErrorModel'
      - properties:
          errorCode:
            description: Numeric code used to identify the error. Integer.
            type: number
          permanent:
            type: boolean
          status:
            type: string
        required:
        - errorCode
        - status
        type: object
      example:
        permanent: true
        errorCode: 0.8008281904610115
        message: message
        status: status
      title: ExtendedErrorModel
    Message:
      description: SMS message object
      example:
        schedule: Sun Sep 03 2020 15:34:23 GMT+0100 (BST)
        metadata:
        - key: myKey1
          value: myValue1
        - key: myKey2
          value: myValue2
        sender: YourCompany
        destination: "447777777777"
        responseemail:
        - my.email@mycompany.co.uk
        - my.other.email@mycompany.co.uk
        tag: SummerSpecial
        validity: 1440.0
        deliveryreporturl: http://your.domain.com/delivery/report/path
        ttl: 10.0
        content: Your super awesome message
      properties:
        content:
          description: "Message to send to the recipient. Content can be up to 1280\
            \ characters in length. Messages of 160 characters or fewer are charged\
            \ 1 credit. If your message is longer than 160 characters then it will\
            \ be broken down in to chunks of 153 characters before being sent to the\
            \ recipient's handset, and you will be charged 1 credit for each 153 characters.\
            \ Messages sent to numbers registered outside the UK will be typically\
            \ charged double credits, but for certain countries may be charged fractions\
            \ of credits (e.g. 2.5). Please contact us for rates for each country."
          example: Your super awesome message
          title: content
          type: string
        deliveryreporturl:
          description: "The url to which we should POST delivery reports to for this\
            \ message. If none is specified, we'll use the global delivery report\
            \ URL that you've configured on your account page."
          example: http://your.domain.com/delivery/report/path
          title: deliveryreporturl
          type: string
        destination:
          description: Telephone number of the recipient
          example: "447777777777"
          title: destination
          type: string
        metadata:
          $ref: '#/components/schemas/Message_metadata'
        responseemail:
          description: An optional list of email addresses to forward responses to
            this specific message to. An SMS Works Reply Number is required to use
            this feature.
          example:
          - my.email@mycompany.co.uk
          - my.other.email@mycompany.co.uk
          items:
            type: string
          title: responseemail
          type: array
        schedule:
          description: Date at which to send the message. This is only used by the
            message/schedule service and can be left empty for other services.
          example: Sun Sep 03 2020 15:34:23 GMT+0100 (BST)
          title: schedule
          type: string
        sender:
          description: The sender of the message. Should be no longer than 11 characters
            for alphanumeric or 15 characters for numeric sender ID's. No spaces or
            special characters.
          example: YourCompany
          title: sender
          type: string
        tag:
          description: "An identifying label for the message, which you can use to\
            \ filter and report on messages you've sent later. Ideal for campaigns.\
            \ A maximum of 280 characters."
          example: SummerSpecial
          title: tag
          type: string
        ttl:
          description: The optional number of minutes before the delivery report is
            deleted. Optional. Omit to prevent delivery report deletion. Integer.
          example: 10.0
          title: ttl
          type: number
        validity:
          description: The optional number of minutes to attempt delivery before the
            message is marked as EXPIRED. Optional. The default is 2880 minutes. Integer.
          example: 1440.0
          maximum: 2880
          minimum: 1
          title: validity
          type: number
      required:
      - content
      - destination
      - sender
      title: Message
      type: object
    MessageArray:
      description: An array of Messages
      items:
        $ref: '#/components/schemas/Message'
      type: array
    MessageResponse:
      example:
        identifier: "7777777777"
        created: Wed Jul 19 2017 20:53:46 GMT+0100 (BST)
        destination: 447777777777
        messageid: "123456789"
        batchid: "2586749"
        deliveryreporturl: https://your.domain.com/delivery/report/path
        content: My super awesome message
        schedule: Wed Jul 19 2017 20:53:45 GMT+0100 (BST)
        sender: YourCompany
        customerid: 0fca8c3c-6cbc-11e7-8154-a6006ad3dba0
        modified: Wed Jul 19 2017 20:53:49 GMT+0100 (BST)
        failurereason:
          code: 34.0
          permanent: false
          details: Handset error
        id: "123456789"
        tag: campaign2
        keyword: CALRISSIAN
        status: DELIVERED
      properties:
        batchid:
          example: "2586749"
          title: batchid
          type: string
        content:
          example: My super awesome message
          title: content
          type: string
        created:
          example: Wed Jul 19 2017 20:53:46 GMT+0100 (BST)
          title: created
          type: string
        customerid:
          example: 0fca8c3c-6cbc-11e7-8154-a6006ad3dba0
          title: customerid
          type: string
        deliveryreporturl:
          example: https://your.domain.com/delivery/report/path
          title: deliveryreporturl
          type: string
        destination:
          example: 447777777777
          title: destination
          type: number
        failurereason:
          $ref: '#/components/schemas/MessageResponse_failurereason'
        id:
          example: "123456789"
          title: id
          type: string
        identifier:
          example: "7777777777"
          title: identifier
          type: string
        keyword:
          example: CALRISSIAN
          title: keyword
          type: string
        messageid:
          example: "123456789"
          title: messageid
          type: string
        modified:
          example: Wed Jul 19 2017 20:53:49 GMT+0100 (BST)
          title: modified
          type: string
        schedule:
          example: Wed Jul 19 2017 20:53:45 GMT+0100 (BST)
          title: schedule
          type: string
        sender:
          example: YourCompany
          title: sender
          type: string
        status:
          example: DELIVERED
          title: status
          type: string
        tag:
          example: campaign2
          title: tag
          type: string
      required:
      - content
      - created
      - customerid
      - destination
      - messageid
      - modified
      - schedule
      - sender
      - status
      - tag
      title: MessageResponse
      type: object
    MetaData:
      description: Key/value pair that will be returned to you in the API call response.
      properties:
        key:
          description: key of the key/value pair
          example: myKey
          title: key
          type: string
        value:
          description: value of the key/value pair
          example: myValue
          title: value
          type: string
      title: MetaData
      type: object
    Query:
      description: search parameters for querying the message database
      example:
        metadata:
        - key: myKey1
          value: myValue1
        - key: myKey2
          value: myValue2
        credits: 2.0
        sender: YourCompany
        unread: true
        destination: "447777777777"
        limit: 1000.0
        from: Wed Jul 12 2017 20:26:28 GMT+0100 (BST)
        skip: 2000.0
        to: Wed Jul 19 2017 20:26:28 GMT+0100 (BST)
        keyword: SKYWALKER
        status: SENT
      properties:
        credits:
          description: The number of credits used on the message. Floating point number.
          example: 2.0
          title: credits
          type: number
        destination:
          description: The phone number of the recipient. Start UK numbers with 44
            and drop the leading 0.
          example: "447777777777"
          title: destination
          type: string
        from:
          description: The date-time from which you would like matching messages
          example: Wed Jul 12 2017 20:26:28 GMT+0100 (BST)
          title: from
          type: string
        keyword:
          description: The keyword used in the inbound message
          example: SKYWALKER
          title: keyword
          type: string
        limit:
          description: The maximum number of messages that you would like returned
            in this call. The default is 1000.
          example: 1000.0
          title: limit
          type: number
        metadata:
          $ref: '#/components/schemas/Query_metadata'
        sender:
          description: The sender of the message (this can be the configured sender
            name for an outbound message or the senders phone number for an inbound
            message).
          example: YourCompany
          title: sender
          type: string
        skip:
          description: "The number of results you would like to ignore before returning\
            \ messages. In combination with the 'limit' parameter his can be used\
            \ to page results, so that you can deal with a limited number in your\
            \ logic at each time."
          example: 2000.0
          title: skip
          type: number
        status:
          description: "The status of the messages you would like returned (either\
            \ 'SENT', 'DELIVERED', 'EXPIRED', 'UNDELIVERABLE', 'REJECTED' or 'INCOMING')"
          example: SENT
          title: status
          type: string
        to:
          description: The date-time to which you would like matching messages
          example: Wed Jul 19 2017 20:26:28 GMT+0100 (BST)
          title: to
          type: string
        unread:
          description: "In queries for incoming messages ('status' is 'INCOMING'),\
            \ specify whether you explicitly want unread messages (true) or read messages\
            \ (false). Omit this parameter in other circumstances."
          title: unread
          type: boolean
      title: Query
      type: object
    ScheduledBatchResponse:
      example:
        batchid: "3200562"
        status: SCHEDULED
      properties:
        batchid:
          example: "3200562"
          title: batchid
          type: string
        status:
          example: SCHEDULED
          title: status
          type: string
      required:
      - batchid
      - status
      title: ScheduledBatchResponse
      type: object
    ScheduledMessage:
      description: the scheduled message content
      properties:
        content:
          description: Message to be sent to the recipient
          example: My super awesome scheduled message
          title: content
          type: string
        destination:
          description: "For single scheduled messages, the mobile number of the recipient"
          example: "447777777777"
          title: destination
          type: string
        destinations:
          description: "For batch messages, the mobile numbers of each of the recipients"
          example:
          - "447777777777"
          - "447777777778"
          - "447777777779"
          items:
            type: string
          title: destinations
          type: array
        schedule:
          description: Date-time at which to send the batch. This is only used by
            the batch/schedule service.
          example: Wed Jul 19 2017 20:26:28 GMT+0100 (BST)
          title: schedule
          type: string
        sender:
          description: The sender of the message. Should be no longer than 11 characters
            for alphanumeric or 15 characters for numeric sender ID's. No spaces or
            special characters.
          example: YourCompany
          title: sender
          type: string
      title: ScheduledMessage
      type: object
    ScheduledMessageResponse:
      example:
        messageid: "123456789"
        status: SCHEDULED
      properties:
        messageid:
          example: "123456789"
          title: messageid
          type: string
        status:
          example: SCHEDULED
          title: status
          type: string
      required:
      - messageid
      - status
      title: ScheduledMessageResponse
      type: object
    ScheduledMessagesResponse:
      description: details of a message scheduled to be sent at a specified date and
        time
      example:
        batch: true
        id: "1910600"
        message:
          content: Greetings on schedule!
          destination: "07777777777"
          schedule: 2021-10-28T14:10:00+01:00
          sender: MyCompany
        status: PROCESSED
      properties:
        batch:
          description: "Describes whether the a batch of messages has been scheduled,\
            \ or just a single message"
          title: batch
          type: boolean
        id:
          description: The scheduled message ID
          example: "1910600"
          title: id
          type: string
        message:
          $ref: '#/components/schemas/ScheduledMessagesResponse_message'
        status:
          description: "The status of the scheduled message (either 'SCHEDULED', 'PROCESSED'\
            \ or 'CANCELLED')"
          example: PROCESSED
          title: status
          type: string
      title: ScheduledMessagesResponse
      type: object
    SendMessageResponse:
      example:
        credits: 180.0
        messageid: "123456789"
        creditsUsed: 2.0
        status: SENT
      properties:
        credits:
          description: The number of remaining credits on your SMS Works account.
            Floating point number.
          example: 180.0
          title: credits
          type: number
        creditsUsed:
          description: The number of credits used to send the message. Floating point
            number.
          example: 2.0
          title: creditsUsed
          type: number
        messageid:
          example: "123456789"
          title: messageid
          type: string
        status:
          example: SENT
          title: status
          type: string
      required:
      - credits
      - creditsUsed
      - messageid
      - status
      title: SendMessageResponse
      type: object
    TestResponse:
      example:
        message: message
      properties:
        message:
          title: message
          type: string
      required:
      - message
      title: TestResponse
      type: object
    Message_metadata:
      example:
      - key: myKey1
        value: myValue1
      - key: myKey2
        value: myValue2
      properties:
        schema:
          $ref: '#/components/schemas/MetaData'
      title: Message_metadata
      type: object
    MessageResponse_failurereason:
      example:
        code: 34.0
        permanent: false
        details: Handset error
      properties:
        code:
          description: Numeric code that defines the error. Integer.
          example: 34.0
          title: code
          type: number
        details:
          example: Handset error
          title: details
          type: string
        permanent:
          example: false
          title: permanent
          type: boolean
      title: MessageResponse_failurereason
      type: object
    Query_metadata:
      description: An array of objects containing metadata key/value pairs that have
        been saved on messages.
      example:
      - key: myKey1
        value: myValue1
      - key: myKey2
        value: myValue2
      properties:
        schema:
          $ref: '#/components/schemas/MetaData'
      title: Query_metadata
      type: object
    ScheduledMessagesResponse_message:
      example:
        content: Greetings on schedule!
        destination: "07777777777"
        schedule: 2021-10-28T14:10:00+01:00
        sender: MyCompany
      properties:
        schema:
          $ref: '#/components/schemas/ScheduledMessage'
      title: ScheduledMessagesResponse_message
      type: object
  securitySchemes:
    JWT:
      in: header
      name: Authorization
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_JWT
x-original-swagger-version: "2.0"
