

# Verification


## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**payload** | **String** |  |  |
|**reason** | **String** |  |  |
|**signature** | **String** |  |  |
|**verified** | **Boolean** |  |  |



