openapi: 3.0.1
info:
  contact:
    email: techsupport@osisoft.com
    name: "OSIsoft, LLC."
    url: https://techsupport.osisoft.com/
  description: Swagger Spec file that describes PI Web API
  license:
    name: Apache 2.0 License
    url: http://tempuri.org/license
  termsOfService: https://pisquare.osisoft.com/docs/DOC-1105
  title: PI Web API 2018 SP1 Swagger Spec
  version: 1.11.1.5383
  x-apisguru-categories:
  - enterprise
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://twitter.com/OSIsoft/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://devdata.osisoft.com/piwebapi/help/specification
    version: "2.0"
  x-providerName: osisoft.com
servers:
- url: https://devdata.osisoft.com/piwebapi
paths:
  /:
    get:
      deprecated: false
      operationId: Home_Get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Landing'
            text/json:
              schema:
                $ref: '#/components/schemas/Landing'
            text/html:
              schema:
                $ref: '#/components/schemas/Landing'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Landing'
          description: Links to top level collections and system information.
      summary: Get top level links for this PI System Web API instance.
      tags:
      - Home
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /analyses:
    get:
      deprecated: false
      description: "This method returns an Analysis based on the hierarchical path\
        \ associated with it, and should be used when a path has been received from\
        \ a separate part of the PI System for use in the PI Web API. Users should\
        \ primarily search with the WebID when available."
      operationId: Analysis_GetByPath
      parameters:
      - description: The path to the Analysis.
        in: query
        name: path
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analysis'
            text/json:
              schema:
                $ref: '#/components/schemas/Analysis'
            text/html:
              schema:
                $ref: '#/components/schemas/Analysis'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Analysis'
          description: The specified Analysis.
      summary: Retrieve an Analysis by path.
      tags:
      - Analysis
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /analyses/search:
    get:
      deprecated: false
      operationId: Analysis_GetAnalysesQuery
      parameters:
      - description: The ID of the asset database to use as the root of the query.
        in: query
        name: databaseWebId
        schema:
          type: string
      - description: The maximum number of objects to be returned per call (page size).
          The default is 1000.
        in: query
        name: maxCount
        schema:
          type: integer
      - description: "The query string is a list of filters used to perform an AFSearch\
          \ for the analyses in the asset database. An example would be: \"query=\
          \ Name:=MyAnalysis1* Template:=AnalysisTemplate\"."
        in: query
        name: query
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: The starting index (zero based) of the items to be returned.
          The default is 0.
        in: query
        name: startIndex
        schema:
          type: integer
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[Analysis]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[Analysis]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[Analysis]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[Analysis]"
          description: A list of analyses matching the specified conditions.
      summary: "Retrieve analyses based on the specified conditions. By default, returns\
        \ all analyses."
      tags:
      - Analysis
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /analyses/{webId}:
    delete:
      deprecated: false
      operationId: Analysis_Delete
      parameters:
      - description: The ID of the Analysis to delete.
        in: path
        name: webId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The Analysis was deleted.
      summary: Delete an Analysis.
      tags:
      - Analysis
      x-accepts:
      - application/json
    get:
      deprecated: false
      operationId: Analysis_Get
      parameters:
      - description: The ID of the Analysis.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analysis'
            text/json:
              schema:
                $ref: '#/components/schemas/Analysis'
            text/html:
              schema:
                $ref: '#/components/schemas/Analysis'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Analysis'
          description: The specified Analysis.
      summary: Retrieve an Analysis.
      tags:
      - Analysis
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    patch:
      deprecated: false
      operationId: Analysis_Update
      parameters:
      - description: The ID of the Analysis to update.
        in: path
        name: webId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Analysis'
          text/json:
            schema:
              $ref: '#/components/schemas/Analysis'
        description: A partial Analysis containing the desired changes.
        required: true
      responses:
        "204":
          content: {}
          description: The Analysis was updated.
      summary: Update an Analysis.
      tags:
      - Analysis
      x-codegen-request-body-name: analysis
      x-content-type: application/json
      x-accepts:
      - application/json
  /analyses/{webId}/categories:
    get:
      deprecated: false
      operationId: Analysis_GetCategories
      parameters:
      - description: The ID of the Analysis.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[AnalysisCategory]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[AnalysisCategory]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[AnalysisCategory]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[AnalysisCategory]"
          description: A list of categories.
      summary: Get an Analysis' categories.
      tags:
      - Analysis
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /analyses/{webId}/security:
    get:
      deprecated: false
      operationId: Analysis_GetSecurity
      parameters:
      - description: The ID of the Analysis for the security to be checked.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "The user identity for the security information to be checked.\
          \ Multiple security identities may be specified with multiple instances\
          \ of the parameter. If the parameter is not specified, only the current\
          \ user's security rights will be returned."
        explode: true
        in: query
        name: userIdentity
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Indicates if the security cache should be refreshed before getting
          security information. The default is 'false'.
        in: query
        name: forceRefresh
        schema:
          type: boolean
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[SecurityRights]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[SecurityRights]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[SecurityRights]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[SecurityRights]"
          description: Security rights.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: An invalid or local account is specified as the user identity.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Access denied for the specified user identity.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unsupported when using Anonymous authentication method.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Failed to retrieve the specified user identity.
      summary: Get the security information of the specified security item associated
        with the Analysis for a specified user.
      tags:
      - Analysis
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /analyses/{webId}/securityentries:
    get:
      deprecated: false
      operationId: Analysis_GetSecurityEntries
      parameters:
      - description: The ID of the analysis.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: The name query string used for filtering security entries. The
          default is no filter.
        in: query
        name: nameFilter
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[SecurityEntry]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[SecurityEntry]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[SecurityEntry]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[SecurityEntry]"
          description: A list of security entries matching the specified condition.
      summary: "Retrieve the security entries associated with the analysis based on\
        \ the specified criteria. By default, all security entries for this analysis\
        \ are returned."
      tags:
      - Analysis
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    post:
      deprecated: false
      operationId: Analysis_CreateSecurityEntry
      parameters:
      - description: "The ID of the analysis, where the security entry will be created."
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "If false, the new access permissions are only applied to the\
          \ associated object. If true, the access permissions of children with any\
          \ parent-child reference types will change when the permissions on the primary\
          \ parent change."
        in: query
        name: applyToChildren
        schema:
          type: boolean
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityEntry'
          text/json:
            schema:
              $ref: '#/components/schemas/SecurityEntry'
        description: The new security entry definition. The full list of allow and
          deny rights must be supplied.
        required: true
      responses:
        "201":
          content: {}
          description: The security entry was created. The response's Location header
            is a link to the security entry.
      summary: Create a security entry owned by the analysis.
      tags:
      - Analysis
      x-codegen-request-body-name: securityEntry
      x-content-type: application/json
      x-accepts:
      - application/json
  /analyses/{webId}/securityentries/{name}:
    delete:
      deprecated: false
      operationId: Analysis_DeleteSecurityEntry
      parameters:
      - description: "The name of the security entry. For every backslash character\
          \ (\\) in the security entry name, replace with asterisk (*). As an example,\
          \ use domain*username instead of domain\\username."
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "The ID of the analysis, where the security entry will be deleted."
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "If false, the new access permissions are only applied to the\
          \ associated object. If true, the access permissions of children with any\
          \ parent-child reference types will change when the permissions on the primary\
          \ parent change."
        in: query
        name: applyToChildren
        schema:
          type: boolean
      responses:
        "204":
          content: {}
          description: The security entry was deleted.
      summary: Delete a security entry owned by the analysis.
      tags:
      - Analysis
      x-accepts:
      - application/json
    get:
      deprecated: false
      operationId: Analysis_GetSecurityEntryByName
      parameters:
      - description: "The name of the security entry. For every backslash character\
          \ (\\) in the security entry name, replace with asterisk (*). As an example,\
          \ use domain*username instead of domain\\username."
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The ID of the analysis.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityEntry'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityEntry'
            text/html:
              schema:
                $ref: '#/components/schemas/SecurityEntry'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/SecurityEntry'
          description: The security entry matching the specified condition.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: The security entry with the specified name is not found.
      summary: Retrieve the security entry associated with the analysis with the specified
        name.
      tags:
      - Analysis
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    put:
      deprecated: false
      operationId: Analysis_UpdateSecurityEntry
      parameters:
      - description: The name of the security entry.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "The ID of the analysis, where the security entry will be updated."
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "If false, the new access permissions are only applied to the\
          \ associated object. If true, the access permissions of children with any\
          \ parent-child reference types will change when the permissions on the primary\
          \ parent change."
        in: query
        name: applyToChildren
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityEntry'
          text/json:
            schema:
              $ref: '#/components/schemas/SecurityEntry'
        description: The new security entry definition. The full list of allow and
          deny rights must be supplied or they will be removed.
        required: true
      responses:
        "204":
          content: {}
          description: The security entry was updated.
      summary: Update a security entry owned by the analysis.
      tags:
      - Analysis
      x-codegen-request-body-name: securityEntry
      x-content-type: application/json
      x-accepts:
      - application/json
  /analysiscategories:
    get:
      deprecated: false
      operationId: AnalysisCategory_GetByPath
      parameters:
      - description: The path to the target analysis category.
        in: query
        name: path
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisCategory'
            text/json:
              schema:
                $ref: '#/components/schemas/AnalysisCategory'
            text/html:
              schema:
                $ref: '#/components/schemas/AnalysisCategory'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/AnalysisCategory'
          description: The specified analysis category.
      summary: Retrieve an analysis category by path.
      tags:
      - AnalysisCategory
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /analysiscategories/{webId}:
    delete:
      deprecated: false
      operationId: AnalysisCategory_Delete
      parameters:
      - description: The ID of the analysis category to delete.
        in: path
        name: webId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The analysis category was deleted.
      summary: Delete an analysis category.
      tags:
      - AnalysisCategory
      x-accepts:
      - application/json
    get:
      deprecated: false
      operationId: AnalysisCategory_Get
      parameters:
      - description: The ID of the analysis category.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisCategory'
            text/json:
              schema:
                $ref: '#/components/schemas/AnalysisCategory'
            text/html:
              schema:
                $ref: '#/components/schemas/AnalysisCategory'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/AnalysisCategory'
          description: The specified analysis category.
      summary: Retrieve an analysis category.
      tags:
      - AnalysisCategory
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    patch:
      deprecated: false
      operationId: AnalysisCategory_Update
      parameters:
      - description: The ID of the analysis category to update.
        in: path
        name: webId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisCategory'
          text/json:
            schema:
              $ref: '#/components/schemas/AnalysisCategory'
        description: A partial analysis category containing the desired changes.
        required: true
      responses:
        "204":
          content: {}
          description: The analysis category was updated.
      summary: Update an analysis category by replacing items in its definition.
      tags:
      - AnalysisCategory
      x-codegen-request-body-name: category
      x-content-type: application/json
      x-accepts:
      - application/json
  /analysiscategories/{webId}/security:
    get:
      deprecated: false
      operationId: AnalysisCategory_GetSecurity
      parameters:
      - description: The ID of the analysis category for the security to be checked.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "The user identity for the security information to be checked.\
          \ Multiple security identities may be specified with multiple instances\
          \ of the parameter. If the parameter is not specified, only the current\
          \ user's security rights will be returned."
        explode: true
        in: query
        name: userIdentity
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Indicates if the security cache should be refreshed before getting
          security information. The default is 'false'.
        in: query
        name: forceRefresh
        schema:
          type: boolean
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[SecurityRights]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[SecurityRights]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[SecurityRights]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[SecurityRights]"
          description: Security rights.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: An invalid or local account is specified as the user identity.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Access denied for the specified user identity.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unsupported when using Anonymous authentication method.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Failed to retrieve the specified user identity.
      summary: Get the security information of the specified security item associated
        with the analysis category for a specified user.
      tags:
      - AnalysisCategory
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /analysiscategories/{webId}/securityentries:
    get:
      deprecated: false
      operationId: AnalysisCategory_GetSecurityEntries
      parameters:
      - description: The ID of the analysis category.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: The name query string used for filtering security entries. The
          default is no filter.
        in: query
        name: nameFilter
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[SecurityEntry]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[SecurityEntry]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[SecurityEntry]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[SecurityEntry]"
          description: A list of security entries matching the specified condition.
      summary: "Retrieve the security entries associated with the analysis category\
        \ based on the specified criteria. By default, all security entries for this\
        \ analysis category are returned."
      tags:
      - AnalysisCategory
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    post:
      deprecated: false
      operationId: AnalysisCategory_CreateSecurityEntry
      parameters:
      - description: "The ID of the analysis category, where the security entry will\
          \ be created."
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "If false, the new access permissions are only applied to the\
          \ associated object. If true, the access permissions of children with any\
          \ parent-child reference types will change when the permissions on the primary\
          \ parent change."
        in: query
        name: applyToChildren
        schema:
          type: boolean
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityEntry'
          text/json:
            schema:
              $ref: '#/components/schemas/SecurityEntry'
        description: The new security entry definition. The full list of allow and
          deny rights must be supplied.
        required: true
      responses:
        "201":
          content: {}
          description: The security entry was created. The response's Location header
            is a link to the security entry.
      summary: Create a security entry owned by the analysis category.
      tags:
      - AnalysisCategory
      x-codegen-request-body-name: securityEntry
      x-content-type: application/json
      x-accepts:
      - application/json
  /analysiscategories/{webId}/securityentries/{name}:
    delete:
      deprecated: false
      operationId: AnalysisCategory_DeleteSecurityEntry
      parameters:
      - description: "The name of the security entry. For every backslash character\
          \ (\\) in the security entry name, replace with asterisk (*). As an example,\
          \ use domain*username instead of domain\\username."
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "The ID of the analysis category, where the security entry will\
          \ be deleted."
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "If false, the new access permissions are only applied to the\
          \ associated object. If true, the access permissions of children with any\
          \ parent-child reference types will change when the permissions on the primary\
          \ parent change."
        in: query
        name: applyToChildren
        schema:
          type: boolean
      responses:
        "204":
          content: {}
          description: The security entry was deleted.
      summary: Delete a security entry owned by the analysis category.
      tags:
      - AnalysisCategory
      x-accepts:
      - application/json
    get:
      deprecated: false
      operationId: AnalysisCategory_GetSecurityEntryByName
      parameters:
      - description: "The name of the security entry. For every backslash character\
          \ (\\) in the security entry name, replace with asterisk (*). As an example,\
          \ use domain*username instead of domain\\username."
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The ID of the analysis category.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityEntry'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityEntry'
            text/html:
              schema:
                $ref: '#/components/schemas/SecurityEntry'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/SecurityEntry'
          description: The security entry matching the specified condition.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: The security entry with the specified name is not found.
      summary: Retrieve the security entry associated with the analysis category with
        the specified name.
      tags:
      - AnalysisCategory
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    put:
      deprecated: false
      operationId: AnalysisCategory_UpdateSecurityEntry
      parameters:
      - description: The name of the security entry.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "The ID of the analysis category, where the security entry will\
          \ be updated."
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "If false, the new access permissions are only applied to the\
          \ associated object. If true, the access permissions of children with any\
          \ parent-child reference types will change when the permissions on the primary\
          \ parent change."
        in: query
        name: applyToChildren
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityEntry'
          text/json:
            schema:
              $ref: '#/components/schemas/SecurityEntry'
        description: The new security entry definition. The full list of allow and
          deny rights must be supplied or they will be removed.
        required: true
      responses:
        "204":
          content: {}
          description: The security entry was updated.
      summary: Update a security entry owned by the analysis category.
      tags:
      - AnalysisCategory
      x-codegen-request-body-name: securityEntry
      x-content-type: application/json
      x-accepts:
      - application/json
  /analysisruleplugins:
    get:
      deprecated: false
      description: "This method returns an Analysis Rule Plug-in based on the hierarchical\
        \ path associated with it, and should be used when a path has been received\
        \ from a separate part of the PI System for use in the PI Web API. Users should\
        \ primarily search with the WebID when available."
      operationId: AnalysisRulePlugIn_GetByPath
      parameters:
      - description: The path to the Analysis Rule Plug-in.
        in: query
        name: path
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisRulePlugIn'
            text/json:
              schema:
                $ref: '#/components/schemas/AnalysisRulePlugIn'
            text/html:
              schema:
                $ref: '#/components/schemas/AnalysisRulePlugIn'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/AnalysisRulePlugIn'
          description: The specified Analysis Rule Plug-in.
      summary: Retrieve an Analysis Rule Plug-in by path.
      tags:
      - AnalysisRulePlugIn
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /analysisruleplugins/{webId}:
    get:
      deprecated: false
      operationId: AnalysisRulePlugIn_Get
      parameters:
      - description: The ID of the Analysis Rule Plug-in.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisRulePlugIn'
            text/json:
              schema:
                $ref: '#/components/schemas/AnalysisRulePlugIn'
            text/html:
              schema:
                $ref: '#/components/schemas/AnalysisRulePlugIn'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/AnalysisRulePlugIn'
          description: The specified Analysis Rule Plug-in.
      summary: Retrieve an Analysis Rule Plug-in.
      tags:
      - AnalysisRulePlugIn
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /analysisrules:
    get:
      deprecated: false
      description: "This method returns an Analysis Rule based on the hierarchical\
        \ path associated with it, and should be used when a path has been received\
        \ from a separate part of the PI System for use in the PI Web API. Users should\
        \ primarily search with the WebID when available."
      operationId: AnalysisRule_GetByPath
      parameters:
      - description: The path to the Analysis Rule.
        in: query
        name: path
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisRule'
            text/json:
              schema:
                $ref: '#/components/schemas/AnalysisRule'
            text/html:
              schema:
                $ref: '#/components/schemas/AnalysisRule'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/AnalysisRule'
          description: The requested Analysis Rule.
      summary: Retrieve an Analysis Rule by path.
      tags:
      - AnalysisRule
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /analysisrules/{webId}:
    delete:
      deprecated: false
      operationId: AnalysisRule_Delete
      parameters:
      - description: The ID of the Analysis Rule.
        in: path
        name: webId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The Analysis Rule was deleted.
      summary: Delete an Analysis Rule.
      tags:
      - AnalysisRule
      x-accepts:
      - application/json
    get:
      deprecated: false
      operationId: AnalysisRule_Get
      parameters:
      - description: The ID of the Analysis Rule.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisRule'
            text/json:
              schema:
                $ref: '#/components/schemas/AnalysisRule'
            text/html:
              schema:
                $ref: '#/components/schemas/AnalysisRule'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/AnalysisRule'
          description: The requested Analysis Rule.
      summary: Retrieve an Analysis Rule.
      tags:
      - AnalysisRule
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    patch:
      deprecated: false
      operationId: AnalysisRule_Update
      parameters:
      - description: The ID of the Analysis Rule.
        in: path
        name: webId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisRule'
          text/json:
            schema:
              $ref: '#/components/schemas/AnalysisRule'
        description: A partial Analysis Rule containing the desired changes.
        required: true
      responses:
        "204":
          content: {}
          description: The Analysis Rule was updated.
      summary: Update an Analysis Rule by replacing items in its definition.
      tags:
      - AnalysisRule
      x-codegen-request-body-name: analysisRule
      x-content-type: application/json
      x-accepts:
      - application/json
  /analysisrules/{webId}/analysisrules:
    get:
      deprecated: false
      operationId: AnalysisRule_GetAnalysisRules
      parameters:
      - description: The ID of the parent Analysis Rule.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: The maximum number of objects to be returned per call (page size).
          The default is 1000.
        in: query
        name: maxCount
        schema:
          type: integer
      - description: The name query string used for finding Analysis Rules. The default
          is no filter.
        in: query
        name: nameFilter
        schema:
          type: string
      - description: Specifies if the search should include Analysis Rules nested
          further than the immediate children of the searchRoot. The default is 'false'.
        in: query
        name: searchFullHierarchy
        schema:
          type: boolean
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: The field or property of the object used to sort the returned
          collection. The default is 'Name'.
        in: query
        name: sortField
        schema:
          type: string
      - description: The order that the returned collection is sorted. The default
          is 'Ascending'.
        in: query
        name: sortOrder
        schema:
          type: string
      - description: The starting index (zero based) of the items to be returned.
          The default is 0.
        in: query
        name: startIndex
        schema:
          type: integer
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[AnalysisRule]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[AnalysisRule]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[AnalysisRule]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[AnalysisRule]"
          description: A list of child Analysis Rules.
      summary: Get the child Analysis Rules of the Analysis Rule.
      tags:
      - AnalysisRule
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    post:
      deprecated: false
      operationId: AnalysisRule_CreateAnalysisRule
      parameters:
      - description: "The ID of the parent Analysis Rule, on which to create the child\
          \ Analysis Rule."
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisRule'
          text/json:
            schema:
              $ref: '#/components/schemas/AnalysisRule'
        description: The definition of the new Analysis Rule.
        required: true
      responses:
        "201":
          content: {}
          description: The Analysis Rule was created. The response's Location header
            is a link to the created Analysis Rule.
      summary: Create a new Analysis Rule as a child of an existing Analysis Rule.
      tags:
      - AnalysisRule
      x-codegen-request-body-name: analysisRule
      x-content-type: application/json
      x-accepts:
      - application/json
  /analysistemplates:
    get:
      deprecated: false
      description: "This method returns an analysis template based on the hierarchical\
        \ path associated with it, and should be used when a path has been received\
        \ from a separate part of the PI System for use in the PI Web API. Users should\
        \ primarily search with the WebID when available."
      operationId: AnalysisTemplate_GetByPath
      parameters:
      - description: The path to the analysis template.
        in: query
        name: path
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisTemplate'
            text/json:
              schema:
                $ref: '#/components/schemas/AnalysisTemplate'
            text/html:
              schema:
                $ref: '#/components/schemas/AnalysisTemplate'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/AnalysisTemplate'
          description: The specified analysis template.
      summary: Retrieve an analysis template by path.
      tags:
      - AnalysisTemplate
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    post:
      deprecated: false
      operationId: AnalysisTemplate_CreateFromAnalysis
      parameters:
      - description: "The ID of the Analysis, on which the template is created."
        in: query
        name: analysisWebId
        required: true
        schema:
          type: string
      - description: "The name for the created template, which must be unique within\
          \ the database's AnalysisTemplate collection. If the name ends with an asterisk\
          \ (*), then a unique name will be generated based on the supplied name.\
          \ The default is the specified Analysis' name suffixed with an asterisk\
          \ (*)."
        in: query
        name: name
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "201":
          content: {}
          description: The Analysis Template was created. The response's Location
            header is a link to the created Analysis Template.
      summary: Create an Analysis template based upon a specified Analysis.
      tags:
      - AnalysisTemplate
      x-accepts:
      - application/json
  /analysistemplates/search:
    get:
      deprecated: false
      operationId: AnalysisTemplate_GetAnalysisTemplatesQuery
      parameters:
      - description: The ID of the asset database to use as the root of the query.
        in: query
        name: databaseWebId
        schema:
          type: string
      - description: The maximum number of objects to be returned per call (page size).
          The default is 1000.
        in: query
        name: maxCount
        schema:
          type: integer
      - description: "The query string is a list of filters used to perform an AFSearch\
          \ for the analyses in the asset database. An example would be: \"query=\
          \ Name:=MyAnalysisTemplate1*\"."
        in: query
        name: query
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: The starting index (zero based) of the items to be returned.
          The default is 0.
        in: query
        name: startIndex
        schema:
          type: integer
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[AnalysisTemplate]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[AnalysisTemplate]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[AnalysisTemplate]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[AnalysisTemplate]"
          description: A list of analysis templates matching the specified conditions.
      summary: "Retrieve analysis templates based on the specified conditions. By\
        \ default, returns all analysis templates."
      tags:
      - AnalysisTemplate
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /analysistemplates/{webId}:
    delete:
      deprecated: false
      description: "Deleting an analysis template will delete any analysis which was\
        \ created from it, unless the analysis is tied to a notification."
      operationId: AnalysisTemplate_Delete
      parameters:
      - description: The ID of the analysis template to update.
        in: path
        name: webId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The analysis template was deleted.
      summary: Delete an analysis template.
      tags:
      - AnalysisTemplate
      x-accepts:
      - application/json
    get:
      deprecated: false
      operationId: AnalysisTemplate_Get
      parameters:
      - description: The ID of the analysis template.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisTemplate'
            text/json:
              schema:
                $ref: '#/components/schemas/AnalysisTemplate'
            text/html:
              schema:
                $ref: '#/components/schemas/AnalysisTemplate'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/AnalysisTemplate'
          description: The specified analysis template.
      summary: Retrieve an analysis template.
      tags:
      - AnalysisTemplate
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    patch:
      deprecated: false
      operationId: AnalysisTemplate_Update
      parameters:
      - description: The ID of the analysis template to update.
        in: path
        name: webId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisTemplate'
          text/json:
            schema:
              $ref: '#/components/schemas/AnalysisTemplate'
        description: A partial analysis template containing the desired changes.
        required: true
      responses:
        "204":
          content: {}
          description: The analysis template was updated.
      summary: Update an analysis template by replacing items in its definition.
      tags:
      - AnalysisTemplate
      x-codegen-request-body-name: template
      x-content-type: application/json
      x-accepts:
      - application/json
  /analysistemplates/{webId}/categories:
    get:
      deprecated: false
      operationId: AnalysisTemplate_GetCategories
      parameters:
      - description: The ID of the analysis template.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[AnalysisCategory]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[AnalysisCategory]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[AnalysisCategory]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[AnalysisCategory]"
          description: A list of categories.
      summary: Get an analysis template's categories.
      tags:
      - AnalysisTemplate
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /analysistemplates/{webId}/security:
    get:
      deprecated: false
      operationId: AnalysisTemplate_GetSecurity
      parameters:
      - description: The ID of the analysis template for the security to be checked.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "The user identity for the security information to be checked.\
          \ Multiple security identities may be specified with multiple instances\
          \ of the parameter. If the parameter is not specified, only the current\
          \ user's security rights will be returned."
        explode: true
        in: query
        name: userIdentity
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Indicates if the security cache should be refreshed before getting
          security information. The default is 'false'.
        in: query
        name: forceRefresh
        schema:
          type: boolean
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[SecurityRights]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[SecurityRights]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[SecurityRights]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[SecurityRights]"
          description: Security rights.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: An invalid or local account is specified as the user identity.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Access denied for the specified user identity.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Unsupported when using Anonymous authentication method.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Failed to retrieve the specified user identity.
      summary: Get the security information of the specified security item associated
        with the analysis template for a specified user.
      tags:
      - AnalysisTemplate
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /analysistemplates/{webId}/securityentries:
    get:
      deprecated: false
      operationId: AnalysisTemplate_GetSecurityEntries
      parameters:
      - description: The ID of the analysis template.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: The name query string used for filtering security entries. The
          default is no filter.
        in: query
        name: nameFilter
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[SecurityEntry]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[SecurityEntry]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[SecurityEntry]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[SecurityEntry]"
          description: A list of security entries matching the specified condition.
      summary: "Retrieve the security entries associated with the analysis template\
        \ based on the specified criteria. By default, all security entries for this\
        \ analysis template are returned."
      tags:
      - AnalysisTemplate
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    post:
      deprecated: false
      operationId: AnalysisTemplate_CreateSecurityEntry
      parameters:
      - description: "The ID of the analysis template, where the security entry will\
          \ be created."
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "If false, the new access permissions are only applied to the\
          \ associated object. If true, the access permissions of children with any\
          \ parent-child reference types will change when the permissions on the primary\
          \ parent change."
        in: query
        name: applyToChildren
        schema:
          type: boolean
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityEntry'
          text/json:
            schema:
              $ref: '#/components/schemas/SecurityEntry'
        description: The new security entry definition. The full list of allow and
          deny rights must be supplied.
        required: true
      responses:
        "201":
          content: {}
          description: The security entry was created. The response's Location header
            is a link to the security entry.
      summary: Create a security entry owned by the analysis template.
      tags:
      - AnalysisTemplate
      x-codegen-request-body-name: securityEntry
      x-content-type: application/json
      x-accepts:
      - application/json
  /analysistemplates/{webId}/securityentries/{name}:
    delete:
      deprecated: false
      operationId: AnalysisTemplate_DeleteSecurityEntry
      parameters:
      - description: "The name of the security entry. For every backslash character\
          \ (\\) in the security entry name, replace with asterisk (*). As an example,\
          \ use domain*username instead of domain\\username."
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "The ID of the analysis template, where the security entry will\
          \ be deleted."
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "If false, the new access permissions are only applied to the\
          \ associated object. If true, the access permissions of children with any\
          \ parent-child reference types will change when the permissions on the primary\
          \ parent change."
        in: query
        name: applyToChildren
        schema:
          type: boolean
      responses:
        "204":
          content: {}
          description: The security entry was deleted.
      summary: Delete a security entry owned by the analysis template.
      tags:
      - AnalysisTemplate
      x-accepts:
      - application/json
    get:
      deprecated: false
      operationId: AnalysisTemplate_GetSecurityEntryByName
      parameters:
      - description: "The name of the security entry. For every backslash character\
          \ (\\) in the security entry name, replace with asterisk (*). As an example,\
          \ use domain*username instead of domain\\username."
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The ID of the analysis template.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityEntry'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityEntry'
            text/html:
              schema:
                $ref: '#/components/schemas/SecurityEntry'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/SecurityEntry'
          description: The security entry matching the specified condition.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/json:
              schema:
                $ref: '#/components/schemas/Errors'
            text/html:
              schema:
                $ref: '#/components/schemas/Errors'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/Errors'
          description: The security entry with the specified name is not found.
      summary: Retrieve the security entry associated with the analysis template with
        the specified name.
      tags:
      - AnalysisTemplate
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    put:
      deprecated: false
      operationId: AnalysisTemplate_UpdateSecurityEntry
      parameters:
      - description: The name of the security entry.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "The ID of the analysis template, where the security entry will\
          \ be updated."
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "If false, the new access permissions are only applied to the\
          \ associated object. If true, the access permissions of children with any\
          \ parent-child reference types will change when the permissions on the primary\
          \ parent change."
        in: query
        name: applyToChildren
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityEntry'
          text/json:
            schema:
              $ref: '#/components/schemas/SecurityEntry'
        description: The new security entry definition. The full list of allow and
          deny rights must be supplied or they will be removed.
        required: true
      responses:
        "204":
          content: {}
          description: The security entry was updated.
      summary: Update a security entry owned by the analysis template.
      tags:
      - AnalysisTemplate
      x-codegen-request-body-name: securityEntry
      x-content-type: application/json
      x-accepts:
      - application/json
  /assetdatabases:
    get:
      deprecated: false
      description: "This method returns an asset database based on the hierarchical\
        \ path associated with it, and should be used when a path has been received\
        \ from a separate part of the PI System for use in the PI Web API. Users should\
        \ primarily search with the WebID when available."
      operationId: AssetDatabase_GetByPath
      parameters:
      - description: The path to the database.
        in: query
        name: path
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetDatabase'
            text/json:
              schema:
                $ref: '#/components/schemas/AssetDatabase'
            text/html:
              schema:
                $ref: '#/components/schemas/AssetDatabase'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/AssetDatabase'
          description: The specified database.
      summary: Retrieve an Asset Database by path.
      tags:
      - AssetDatabase
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /assetdatabases/{webId}:
    delete:
      deprecated: false
      operationId: AssetDatabase_Delete
      parameters:
      - description: The ID of the database.
        in: path
        name: webId
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The database was deleted.
      summary: Delete an asset database.
      tags:
      - AssetDatabase
      x-accepts:
      - application/json
    get:
      deprecated: false
      operationId: AssetDatabase_Get
      parameters:
      - description: The ID of the database.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetDatabase'
            text/json:
              schema:
                $ref: '#/components/schemas/AssetDatabase'
            text/html:
              schema:
                $ref: '#/components/schemas/AssetDatabase'
            application/x-ms-application:
              schema:
                $ref: '#/components/schemas/AssetDatabase'
          description: The specified database.
      summary: Retrieve an Asset Database.
      tags:
      - AssetDatabase
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    patch:
      deprecated: false
      operationId: AssetDatabase_Update
      parameters:
      - description: The ID of the database.
        in: path
        name: webId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetDatabase'
          text/json:
            schema:
              $ref: '#/components/schemas/AssetDatabase'
        description: A partial database containing the desired changes.
        required: true
      responses:
        "204":
          content: {}
          description: The database was updated.
      summary: Update an asset database by replacing items in its definition.
      tags:
      - AssetDatabase
      x-codegen-request-body-name: database
      x-content-type: application/json
      x-accepts:
      - application/json
  /assetdatabases/{webId}/analyses:
    get:
      deprecated: false
      description: "Users can search for the analyses based on specific search parameters.\
        \ If no parameters are specified in the search, the default values for each\
        \ parameter will be used and will return the analyses that match the default\
        \ search."
      operationId: AssetDatabase_FindAnalyses
      parameters:
      - description: The ID of the database to search for the analyses.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: Specifies which of the object's properties are searched. Multiple
          search fields may be specified with multiple instances of the parameter.
          The default is 'Name'.
        explode: true
        in: query
        name: field
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The maximum number of objects to be returned per call (page size).
          The default is 1000.
        in: query
        name: maxCount
        schema:
          type: integer
      - description: The query string used for finding analyses. The default is null.
        in: query
        name: query
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: The field or property of the object used to sort the returned
          collection. The default is 'Name'.
        in: query
        name: sortField
        schema:
          type: string
      - description: The order that the returned collection is sorted. The default
          is 'Ascending'.
        in: query
        name: sortOrder
        schema:
          type: string
      - description: The starting index (zero based) of the items to be returned.
          The default is 0.
        in: query
        name: startIndex
        schema:
          type: integer
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[Analysis]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[Analysis]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[Analysis]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[Analysis]"
          description: A list of analyses matching the specified conditions.
      summary: Retrieve analyses based on the specified conditions.
      tags:
      - AssetDatabase
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
  /assetdatabases/{webId}/analysiscategories:
    get:
      deprecated: false
      operationId: AssetDatabase_GetAnalysisCategories
      parameters:
      - description: The ID of the database.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[AnalysisCategory]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[AnalysisCategory]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[AnalysisCategory]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[AnalysisCategory]"
          description: The analysis categories that exist in the database.
      summary: Retrieve analysis categories for a given Asset Database.
      tags:
      - AssetDatabase
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    post:
      deprecated: false
      operationId: AssetDatabase_CreateAnalysisCategory
      parameters:
      - description: The ID of the database in which to create the analysis category.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisCategory'
          text/json:
            schema:
              $ref: '#/components/schemas/AnalysisCategory'
        description: The new analysis category definition.
        required: true
      responses:
        "201":
          content: {}
          description: The analysis category was created. The response's Location
            header is a link to the analysis category.
      summary: Create an analysis category at the Asset Database root.
      tags:
      - AssetDatabase
      x-codegen-request-body-name: analysisCategory
      x-content-type: application/json
      x-accepts:
      - application/json
  /assetdatabases/{webId}/analysistemplates:
    get:
      deprecated: false
      description: "Users can search for the analysis templates based on specific\
        \ search parameters. If no parameters are specified in the search, the default\
        \ values for each parameter will be used and will return the templates that\
        \ match the default search."
      operationId: AssetDatabase_GetAnalysisTemplates
      parameters:
      - description: The ID of the database to search.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: Specifies which of the object's properties are searched. Multiple
          search fields may be specified with multiple instances of the parameter.
          The default is 'Name'.
        explode: true
        in: query
        name: field
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: The maximum number of objects to be returned per call (page size).
          The default is 1000.
        in: query
        name: maxCount
        schema:
          type: integer
      - description: The query string used for finding objects. The default is no
          query string.
        in: query
        name: query
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: The field or property of the object used to sort the returned
          collection. The default is 'Name'.
        in: query
        name: sortField
        schema:
          type: string
      - description: The order that the returned collection is sorted. The default
          is 'Ascending'.
        in: query
        name: sortOrder
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[AnalysisTemplate]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[AnalysisTemplate]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[AnalysisTemplate]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[AnalysisTemplate]"
          description: A list of analysis templates matching the specified condition.
      summary: "Retrieve analysis templates based on the specified criteria. By default,\
        \ all analysis templates in the specified Asset Database are returned."
      tags:
      - AssetDatabase
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    post:
      deprecated: false
      description: Analyses that are based on an analysis template will inherit characteristics
        defined in the template.
      operationId: AssetDatabase_CreateAnalysisTemplate
      parameters:
      - description: The ID of the database in which to create the analysis template.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisTemplate'
          text/json:
            schema:
              $ref: '#/components/schemas/AnalysisTemplate'
        description: The new analysis template definition.
        required: true
      responses:
        "201":
          content: {}
          description: The analysis template was created. The response's Location
            header is a link to the created template.
      summary: Create an analysis template at the Asset Database root.
      tags:
      - AssetDatabase
      x-codegen-request-body-name: template
      x-content-type: application/json
      x-accepts:
      - application/json
  /assetdatabases/{webId}/attributecategories:
    get:
      deprecated: false
      operationId: AssetDatabase_GetAttributeCategories
      parameters:
      - description: The ID of the database.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "List of fields to be returned in the response, separated by\
          \ semicolons (;). If this parameter is not specified, all available fields\
          \ will be returned."
        in: query
        name: selectedFields
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items[AttributeCategory]"
            text/json:
              schema:
                $ref: "#/components/schemas/Items[AttributeCategory]"
            text/html:
              schema:
                $ref: "#/components/schemas/Items[AttributeCategory]"
            application/x-ms-application:
              schema:
                $ref: "#/components/schemas/Items[AttributeCategory]"
          description: The attribute categories that exist in the database.
      summary: Retrieve attribute categories for a given Asset Database.
      tags:
      - AssetDatabase
      x-accepts:
      - application/json
      - application/x-ms-application
      - text/html
      - text/json
    post:
      deprecated: false
      operationId: AssetDatabase_CreateAttributeCategory
      parameters:
      - description: The ID of the database in which to create the attribute category.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: Optional parameter. Used to specify the type of WebID. Useful
          for URL brevity and other special cases. Default is the value of the configuration
          item "WebIDType".
        in: query
        name: webIdType
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributeCategory'
          text/json:
            schema:
              $ref: '#/components/schemas/AttributeCategory'
        description: The new attribute category definition.
        required: true
      responses:
        "201":
          content: {}
          description: The attribute category was created. The response's Location
            header is a link to the attribute category.
      summary: Create an attribute category at the Asset Database root.
      tags:
      - AssetDatabase
      x-codegen-request-body-name: attributeCategory
      x-content-type: application/json
      x-accepts:
      - application/json
  /assetdatabases/{webId}/elementattributes:
    get:
      deprecated: false
      operationId: AssetDatabase_FindElementAttributes
      parameters:
      - description: The ID of the asset database to use as the root of the search.
        in: path
        name: webId
        required: true
        schema:
          type: string
      - description: "Associated values to return in the response, separated by semicolons\
          \ (;). This call supports DataReference to return attributes with data references.\
          \ If this parameter is not specified, DataReference values are not returned."
        in: query
        name: associations
        schema:
          type: string
      - description: Specify that returned attributes must have this category. The
          default is no filter.
        in: query
        name: attributeCategory
        schema:
          type: string
      - description: "The attribute description filter string used for finding objects.\
          \ Only the first 440 characters of the description will be searched. For\
          \ Asset Servers older than 2.7, a 400 status code (Bad Request) will be\
          \ returned if this parameter is specified. The default is no filter."
        in: query
        name: attributeDescriptionFilter
        schema:
          type: string
      - description: The attribute name filter string used for finding objects. The
          default is no filter.
[...]
