openapi: 3.0.0
info:
  description: "The Docker DVP Data API allows [Docker Verified Publishers](https://docs.docker.com/docker-hub/publish/)\
    \ to view image pull analytics data for their namespaces. Analytics data can be\
    \ retrieved as raw data, or in a summary format.\n  \n#### Summary data\n\nIn\
    \ your summary data CSV, you will have access to the data points listed below.\
    \ You can request summary data for a complete week (Monday through Sunday) or\
    \ for a complete month (available on the first day of the following month). \n\
    \nThere are two levels of summary data:\n\n- Repository-level, a summary of every\
    \ namespace and repository\n- Tag- or digest-level, a summary of every namespace,\
    \ repository, and reference\n  (tag or digest)\n\n The summary data formats contain\
    \ the following data points:\n\n- Unique IP address count\n- Pulls by tag count\n\
    - Pulls by digest count\n- Version check count\n\n#### Raw data\n\nIn your raw\
    \ data CSV you will have access to the data points listed below. You can request\
    \ raw data for a complete week (Monday through Sunday) or for a complete month\
    \ (available on the first day of the following month). **Note:** each action is\
    \ represented as a single row.\n\n- Type (industry)\n- Host (cloud provider)\n\
    - Country (geolocation)\n- Timestamp\n- Namespace\n- Repository\n- Reference (digest\
    \ is always included, tag is provided when available)\n- HTTP request method\n\
    - Action, one of the following:\n  - Pull by tag\n  - Pull by digest\n  - Version\
    \ check\n- User-Agent\n"
  title: DVP Data API
  version: 1.0.0
  x-apisguru-categories:
  - developer_tools
  x-logo:
    href: /reference
    url: https://docs.docker.com/assets/images/logo-docker-main.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/docker/docs/main/docker-hub/api/dvp.yaml
    version: "3.0"
  x-providerName: docker.com
  x-serviceName: dvp
servers:
- url: https://hub.docker.com/api/publisher/analytics/v1
- url: "https://docker.com/{version}"
  variables:
    version:
      default: "1.33"
security:
- HubAuth: []
tags:
- name: authentication
  x-displayName: Authentication Endpoints
- name: namespaces
  x-displayName: Namespace data
- name: discovery
  x-displayName: Discovery
- description: |
    <SchemaDefinition schemaRef="#/components/schemas/ResponseDataFile" />
  name: responseDataFile
  x-displayName: ResponseDataFile
- description: |
    <SchemaDefinition schemaRef="#/components/schemas/YearModel" />
  name: yearModel
  x-displayName: Year Data Model
- description: |
    <SchemaDefinition schemaRef="#/components/schemas/MonthModel" />
  name: monthModel
  x-displayName: Month Data Model
- description: |
    <SchemaDefinition schemaRef="#/components/schemas/WeekModel" />
  name: weekModel
  x-displayName: Week Data Model
paths:
  /:
    get:
      description: Gets a list of your namespaces and repos which have data available
      operationId: get_namespaces
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceData'
          description: Success
      summary: Get namespaces and repos
      tags:
      - discovery
      x-openapi-router-controller: openapi_server.controllers.discovery_controller
  /namespaces/{namespace}:
    get:
      description: "Gets metadata associated with specified namespace, including extra\
        \ repos associated with the namespace"
      operationId: get_namespace
      parameters:
      - description: Namespace to fetch data for
        explode: false
        in: path
        name: namespace
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamespaceMetadata'
          description: Success
      summary: Get namespace
      tags:
      - discovery
      x-openapi-router-controller: openapi_server.controllers.discovery_controller
  /namespaces/{namespace}/pulls/exports/years:
    get:
      description: Gets a list of years that have data for the given namespace
      operationId: get_namespace_years
      parameters:
      - description: Namespace to fetch data for
        explode: false
        in: path
        name: namespace
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YearData'
          description: Success
      summary: Get years with data
      tags:
      - namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /namespaces/{namespace}/pulls/exports/years/{year}/{timespantype}:
    get:
      description: Gets a list of timespans of the given type that have data for the
        given namespace and year
      operationId: get_namespace_timespans
      parameters:
      - description: Namespace to fetch data for
        explode: false
        in: path
        name: namespace
        required: true
        schema:
          type: string
        style: simple
      - description: Year to fetch data for
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: integer
        style: simple
      - description: Type of timespan to fetch data for
        explode: false
        in: path
        name: timespantype
        required: true
        schema:
          $ref: '#/components/schemas/TimespanType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimespanData'
          description: Success
      summary: Get timespans with data
      tags:
      - namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /namespaces/{namespace}/pulls/exports/years/{year}/{timespantype}/{timespan}:
    get:
      description: Gets info about data for the given namespace and timespan
      operationId: get_namespace_timespan_metadata
      parameters:
      - description: Namespace to fetch data for
        explode: false
        in: path
        name: namespace
        required: true
        schema:
          type: string
        style: simple
      - description: Year to fetch data for
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: integer
        style: simple
      - description: Type of timespan to fetch data for
        explode: false
        in: path
        name: timespantype
        required: true
        schema:
          $ref: '#/components/schemas/TimespanType'
        style: simple
      - description: Timespan to fetch data for
        explode: false
        in: path
        name: timespan
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimespanModel'
          description: Success
        "404":
          description: Not Found
      summary: Get namespace metadata for timespan
      tags:
      - namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /namespaces/{namespace}/pulls/exports/years/{year}/{timespantype}/{timespan}/{dataview}:
    get:
      description: Gets a list of URLs that can be used to download the pull data
        for the given namespace and timespan
      operationId: get_namespace_data_by_timespan
      parameters:
      - description: Namespace to fetch data for
        explode: false
        in: path
        name: namespace
        required: true
        schema:
          type: string
        style: simple
      - description: Year to fetch data for
        explode: false
        in: path
        name: year
        required: true
        schema:
          type: integer
        style: simple
      - description: Type of timespan to fetch data for
        explode: false
        in: path
        name: timespantype
        required: true
        schema:
          $ref: '#/components/schemas/TimespanType'
        style: simple
      - description: Timespan to fetch data for
        explode: false
        in: path
        name: timespan
        required: true
        schema:
          type: integer
        style: simple
      - description: Type of data to fetch
        explode: false
        in: path
        name: dataview
        required: true
        schema:
          $ref: '#/components/schemas/DataviewType'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseData'
          description: Success
      summary: Get namespace data for timespan
      tags:
      - namespaces
      x-openapi-router-controller: openapi_server.controllers.namespaces_controller
  /v2/users/2fa-login:
    post:
      description: |
        When a user has 2FA enabled, this is the second call to perform after
        `/v2/users/login` call.

        Creates and returns a bearer token in JWT format that you can use to authenticate with Docker Hub APIs.

        The returned token is used in the HTTP Authorization header like `Authorization: Bearer {TOKEN}`.

        Most Docker Hub APIs require this token either to consume or to get detailed information. For example, to list images in a private repository.
      operationId: post_users2_fa_login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Users2FALoginRequest'
        description: Login details.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostUsersLoginSuccessResponse'
          description: Authentication successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostUsers2FALoginErrorResponse'
          description: Authentication failed or second factor required
      security: []
      summary: Second factor authentication.
      tags:
      - authentication
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://hub.docker.com
  /v2/users/login:
    post:
      description: |
        Creates and returns a bearer token in JWT format that you can use to
        authenticate with Docker Hub APIs.

        The returned token is used in the HTTP Authorization header like `Authorization: Bearer {TOKEN}`.

        Most Docker Hub APIs require this token either to consume or to get detailed information. For example, to list images in a private repository.
      operationId: post_users_login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersLoginRequest'
        description: Login details.
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostUsersLoginSuccessResponse'
          description: Authentication successful
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostUsersLoginErrorResponse'
          description: Authentication failed or second factor required
      security: []
      summary: Create an authentication token
      tags:
      - authentication
      x-openapi-router-controller: openapi_server.controllers.authentication_controller
      x-codegen-request-body-name: body
    servers:
    - url: https://hub.docker.com
components:
  schemas:
    DatasetModel:
      example:
        name: pulls
        timespans:
        - months
        - months
        views:
        - raw
        - raw
      properties:
        name:
          $ref: '#/components/schemas/DatasetType'
        timespans:
          items:
            $ref: '#/components/schemas/TimespanType'
          title: timespans
          type: array
        views:
          items:
            $ref: '#/components/schemas/DataviewType'
          title: views
          type: array
      title: DatasetModel
    DatasetType:
      enum:
      - pulls
      title: DatasetType
      type: string
    DataviewType:
      enum:
      - raw
      - summary
      - repo-summary
      title: DataviewType
      type: string
    MonthData:
      example:
        months:
        - month: 0
        - month: 0
      properties:
        months:
          items:
            $ref: '#/components/schemas/MonthModel'
          title: months
          type: array
      title: MonthData
    MonthModel:
      example:
        month: 0
      properties:
        month:
          title: month
          type: integer
      title: MonthModel
    NamespaceData:
      example:
        namespaces:
        - namespaces
        - namespaces
      properties:
        namespaces:
          items:
            type: string
          title: namespaces
          type: array
      title: NamespaceData
    NamespaceMetadata:
      example:
        extraRepos:
        - extraRepos
        - extraRepos
        namespace: namespace
        datasets:
        - name: pulls
          timespans:
          - months
          - months
          views:
          - raw
          - raw
        - name: pulls
          timespans:
          - months
          - months
          views:
          - raw
          - raw
      properties:
        datasets:
          items:
            $ref: '#/components/schemas/DatasetModel'
          title: datasets
          type: array
        extraRepos:
          items:
            type: string
          title: extraRepos
          type: array
        namespace:
          title: namespace
          type: string
      title: NamespaceMetadata
    PostUsers2FALoginErrorResponse:
      description: failed second factor login response.
      example:
        detail: Incorrect authentication credentials
      properties:
        detail:
          description: Description of the error.
          example: Incorrect authentication credentials
          nullable: false
          title: detail
          type: string
      title: PostUsers2FALoginErrorResponse
      type: object
    PostUsersLoginErrorResponse:
      description: failed user login response or second factor required
      example:
        detail: Incorrect authentication credentials
        login_2fa_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
      properties:
        detail:
          description: Description of the error.
          example: Incorrect authentication credentials
          nullable: false
          title: detail
          type: string
        login_2fa_token:
          description: Short time lived token to be used on `/v2/users/2fa-login`
            to complete the authentication. This field is present only if 2FA is enabled.
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
          nullable: true
          title: login_2fa_token
          type: string
      required:
      - detail
      title: PostUsersLoginErrorResponse
      type: object
    PostUsersLoginSuccessResponse:
      description: successful user login response
      example:
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
      properties:
        token:
          description: |
            Created authentication token.

            This token can be used in the HTTP Authorization header as a JWT to authenticate with the Docker Hub APIs.
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
          nullable: false
          title: token
          type: string
      title: PostUsersLoginSuccessResponse
      type: object
    ResponseData:
      example:
        data:
        - size: 0
          url: url
        - size: 0
          url: url
      properties:
        data:
          items:
            $ref: '#/components/schemas/ResponseDataFile'
          title: data
          type: array
      title: ResponseData
    ResponseDataFile:
      example:
        size: 0
        url: url
      properties:
        size:
          format: int64
          title: size
          type: integer
        url:
          title: url
          type: string
      title: ResponseDataFile
    TimespanData:
      oneOf:
      - $ref: '#/components/schemas/MonthData'
      - $ref: '#/components/schemas/WeekData'
      title: TimespanData
    TimespanModel:
      oneOf:
      - $ref: '#/components/schemas/MonthModel'
      - $ref: '#/components/schemas/WeekModel'
      title: TimespanModel
    TimespanType:
      enum:
      - months
      - weeks
      title: TimespanType
      type: string
    Users2FALoginRequest:
      description: Second factor user login details
      example:
        code: "123456"
        login_2fa_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
      properties:
        code:
          description: The Time-based One-Time Password of the Docker Hub account
            to authenticate with.
          example: "123456"
          title: code
          type: string
        login_2fa_token:
          description: The intermediate 2FA token returned from `/v2/users/login`
            API.
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
          title: login_2fa_token
          type: string
      required:
      - code
      - login_2fa_token
      title: Users2FALoginRequest
      type: object
    UsersLoginRequest:
      description: User login details
      example:
        password: hunter2
        username: myusername
      properties:
        password:
          description: The password or personal access token (PAT) of the Docker Hub
            account to authenticate with.
          example: hunter2
          title: password
          type: string
        username:
          description: The username of the Docker Hub account to authenticate with.
          example: myusername
          title: username
          type: string
      required:
      - password
      - username
      title: UsersLoginRequest
      type: object
    WeekData:
      properties:
        weeks:
          items:
            $ref: '#/components/schemas/WeekModel'
          title: weeks
          type: array
      title: WeekData
    WeekModel:
      properties:
        week:
          title: week
          type: integer
      title: WeekModel
    YearData:
      example:
        years:
        - year: 0
        - year: 0
      properties:
        years:
          items:
            $ref: '#/components/schemas/YearModel'
          title: years
          type: array
      title: YearData
    YearModel:
      example:
        year: 0
      properties:
        year:
          title: year
          type: integer
      title: YearModel
  securitySchemes:
    HubAuth:
      bearerFormat: JWT
      description: "JWT Bearer Authentication is required to access the Docker DVP\
        \ Data API.  \n  \nNote - PATs are not supported on this API  \n  \nThis authentication\
        \ documentation is duplicated from the [Hub API Authentication docs](https://docs.docker.com/docker-hub/api/latest/#tag/authentication)\n"
      scheme: bearer
      type: http
      x-displayName: Docker Hub Authentication
      x-bearerInfoFunc: openapi_server.controllers.security_controller.info_from_HubAuth
x-features.openapi:
  schemaDefinitionsTagName: Schemas
x-tagGroups:
- name: API
  tags:
  - authentication
  - discovery
  - namespaces
- name: Models
  tags:
  - responseDataFile
  - yearModel
  - monthModel
  - weekModel
