openapi: 3.0.1
info:
  description: "Provides create, read, update and delete functionality for Azure SQL\
    \ Database resources including servers, databases, elastic pools, recommendations,\
    \ operations, and usage metrics."
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/usages.json
    version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: sql-usages
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/usages
  : get:
      description: Returns database usages.
      operationId: database_usages_list_by_database
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: serverName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the database.
        in: path
        name: databaseName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseUsageListResult'
          description: OK
      tags:
      - Databases
      x-ms-examples:
        List database usage metrics:
          parameters:
            api-version: 2014-04-01
            databaseName: "3481"
            resourceGroupName: sqlcrudtest-6730
            serverName: sqlcrudtest-9007
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - currentValue: 4194304
                  displayName: Database Size
                  limit: 268435456000
                  name: database_size
                  resourceName: "3481"
                  unit: Bytes
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.databases_controller
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/usages:
    get:
      description: Returns server usages.
      operationId: server_usages_list_by_server
      parameters:
      - description: The API version to use for the request.
        in: query
        name: api-version
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The subscription ID that identifies an Azure subscription.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The name of the resource group that contains the resource. You
          can obtain this value from the Azure Resource Manager API or the portal.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the server.
        in: path
        name: server_name
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerUsageListResult'
          description: OK
      tags:
      - Servers
      x-ms-examples:
        List servers usages:
          parameters:
            api-version: 2014-04-01
            resourceGroupName: sqlcrudtest-6730
            serverName: sqlcrudtest-9007
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                - currentValue: 0
                  displayName: Database Throughput Unit Quota
                  limit: 45000
                  name: server_dtu_quota
                  resourceName: sqlcrudtest-9007
                  unit: DTUs
                - currentValue: 0
                  displayName: Database Throughput Unit Quota
                  limit: 45000
                  name: server_dtu_quota_current
                  resourceName: sqlcrudtest-9007
                  unit: DTUs
      x-ms-pageable: {}
      x-openapi-router-controller: openapi_server.controllers.servers_controller
components:
  parameters:
    ServerNameParameter:
      description: The name of the server.
      in: path
      name: serverName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  schemas:
    DatabaseUsage:
      description: The database usages.
      example:
        unit: unit
        displayName: displayName
        limit: 6.027456183070403
        name: name
        nextResetTime: 2000-01-23T04:56:07.000+00:00
        resourceName: resourceName
        currentValue: 0.8008281904610115
      properties:
        currentValue:
          description: The current value of the usage metric.
          format: double
          readOnly: true
          title: currentValue
          type: number
        displayName:
          description: The usage metric display name.
          readOnly: true
          title: displayName
          type: string
        limit:
          description: The current limit of the usage metric.
          format: double
          readOnly: true
          title: limit
          type: number
        name:
          description: The name of the usage metric.
          readOnly: true
          title: name
          type: string
        nextResetTime:
          description: The next reset time for the usage metric (ISO8601 format).
          format: date-time
          readOnly: true
          title: nextResetTime
          type: string
        resourceName:
          description: The name of the resource.
          readOnly: true
          title: resourceName
          type: string
        unit:
          description: The units of the usage metric.
          readOnly: true
          title: unit
          type: string
      title: DatabaseUsage
      type: object
    DatabaseUsageListResult:
      description: The response to a list database metrics request.
      example:
        value:
        - unit: unit
          displayName: displayName
          limit: 6.027456183070403
          name: name
          nextResetTime: 2000-01-23T04:56:07.000+00:00
          resourceName: resourceName
          currentValue: 0.8008281904610115
        - unit: unit
          displayName: displayName
          limit: 6.027456183070403
          name: name
          nextResetTime: 2000-01-23T04:56:07.000+00:00
          resourceName: resourceName
          currentValue: 0.8008281904610115
      properties:
        value:
          description: The list of database usages for the database.
          items:
            $ref: '#/components/schemas/DatabaseUsage'
          title: value
          type: array
      required:
      - value
      title: DatabaseUsageListResult
      type: object
    ServerUsage:
      description: Represents server metrics.
      example:
        unit: unit
        displayName: displayName
        limit: 6.027456183070403
        name: name
        nextResetTime: 2000-01-23T04:56:07.000+00:00
        resourceName: resourceName
        currentValue: 0.8008281904610115
      properties:
        currentValue:
          description: The current value of the metric.
          format: double
          readOnly: true
          title: currentValue
          type: number
        displayName:
          description: The metric display name.
          readOnly: true
          title: displayName
          type: string
        limit:
          description: The current limit of the metric.
          format: double
          readOnly: true
          title: limit
          type: number
        name:
          description: Name of the server usage metric.
          readOnly: true
          title: name
          type: string
        nextResetTime:
          description: The next reset time for the metric (ISO8601 format).
          format: date-time
          readOnly: true
          title: nextResetTime
          type: string
        resourceName:
          description: The name of the resource.
          readOnly: true
          title: resourceName
          type: string
        unit:
          description: The units of the metric.
          readOnly: true
          title: unit
          type: string
      title: ServerUsage
      type: object
    ServerUsageListResult:
      description: Represents the response to a list server metrics request.
      example:
        value:
        - unit: unit
          displayName: displayName
          limit: 6.027456183070403
          name: name
          nextResetTime: 2000-01-23T04:56:07.000+00:00
          resourceName: resourceName
          currentValue: 0.8008281904610115
        - unit: unit
          displayName: displayName
          limit: 6.027456183070403
          name: name
          nextResetTime: 2000-01-23T04:56:07.000+00:00
          resourceName: resourceName
          currentValue: 0.8008281904610115
      properties:
        value:
          description: The list of server metrics for the server.
          items:
            $ref: '#/components/schemas/ServerUsage'
          title: value
          type: array
      required:
      - value
      title: ServerUsageListResult
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
