openapi: 3.0.1
info:
  description: Subscription client provides an interface to create and manage Azure
    subscriptions programmatically.
  title: SubscriptionClient
  version: 2019-03-01-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/subscription/resource-manager/Microsoft.Subscription/preview/2019-03-01-preview/subscriptions.json
    version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: subscription-subscriptions
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscription/cancel:
    post:
      description: The operation to cancel a subscription
      operationId: subscriptions_cancel
      parameters:
      - description: Subscription Id.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. Current
          version is 2019-03-01-preview
        in: query
        name: api-version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanceledSubscriptionId'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Describes the error if the operation is not successful.
      x-ms-examples:
        cancelSubscription:
          parameters:
            api-version: 2019-03-01-preview
            subscriptionId: 83aa47df-e3e9-49ff-877b-94304bf3d3ad
          responses:
            "200":
              body:
                value: 83aa47df-e3e9-49ff-877b-94304bf3d3ad
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscription/enable:
    post:
      description: The operation to enable a subscription
      operationId: subscriptions_enable
      parameters:
      - description: Subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. Current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnabledSubscriptionId'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Describes the error if the operation is not successful.
      x-ms-examples:
        enableSubscription:
          parameters:
            api-version: 2019-03-01-preview
            subscriptionId: 7948bcee-488c-47ce-941c-38e20ede803d
          responses:
            "200":
              body:
                value: 7948bcee-488c-47ce-941c-38e20ede803d
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /subscriptions/{subscriptionId}/providers/Microsoft.Subscription/rename:
    post:
      description: The operation to rename a subscription
      operationId: subscriptions_rename
      parameters:
      - description: Subscription Id.
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request. Current
          version is 2019-03-01-preview
        in: query
        name: api_version
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionName'
        description: Subscription Name
        required: true
        x-ms-parameter-location: method
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenamedSubscriptionId'
          description: OK. The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Describes the error if the operation is not successful.
      x-ms-examples:
        renameSubscription:
          parameters:
            api-version: 2019-03-01-preview
            body:
              SubscriptionName: Test Sub
            subscriptionId: 83aa47df-e3e9-49ff-877b-94304bf3d3ad
          responses:
            "200":
              body:
                value: 83aa47df-e3e9-49ff-877b-94304bf3d3ad
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  parameters:
    apiVersionParameter:
      description: Version of the API to be used with the client request. Current
        version is 2019-03-01-preview
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: Subscription Id.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
  requestBodies:
    subscriptionNameParameter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubscriptionName'
      description: Subscription Name
      required: true
      x-ms-parameter-location: method
      x-body-name: body
  schemas:
    CanceledSubscriptionId:
      description: The ID of the canceled subscription
      example:
        value: value
      properties:
        value:
          description: The ID of the canceled subscription
          readOnly: true
          title: value
          type: string
      title: CanceledSubscriptionId
      type: object
    EnabledSubscriptionId:
      description: The ID of the subscriptions that is being enabled
      example:
        value: value
      properties:
        value:
          description: The ID of the subscriptions that is being enabled
          readOnly: true
          title: value
          type: string
      title: EnabledSubscriptionId
      type: object
    ErrorResponse:
      description: Describes the format of Error response.
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          title: code
          type: string
        message:
          description: Error message indicating why the operation failed.
          title: message
          type: string
      title: ErrorResponse
      type: object
    Operation:
      description: REST API operation
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: "Operation name: {provider}/{resource}/{operation}"
          title: name
          type: string
      title: Operation
      type: object
    OperationListResult:
      description: Result of the request to list operations. It contains a list of
        operations and a URL link to get the next set of results.
      properties:
        nextLink:
          description: URL to get the next set of operation list results if there
            are any.
          type: string
        value:
          description: List of operations.
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    RenamedSubscriptionId:
      description: The ID of the subscriptions that is being renamed
      example:
        value: value
      properties:
        value:
          description: The ID of the subscriptions that is being renamed
          readOnly: true
          title: value
          type: string
      title: RenamedSubscriptionId
      type: object
    SubscriptionName:
      description: The new name of the subscription.
      example:
        subscriptionName: subscriptionName
      properties:
        subscriptionName:
          description: New subscription name
          title: subscriptionName
          type: string
      title: SubscriptionName
      type: object
    Operation_display:
      description: The object that represents the operation.
      properties:
        operation:
          description: "Operation type: Read, write, delete, etc."
          title: operation
          type: string
        provider:
          description: "Service provider: Microsoft.Subscription"
          title: provider
          type: string
        resource:
          description: "Resource on which the operation is performed: Profile, endpoint,\
            \ etc."
          title: resource
          type: string
      title: Operation_display
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
      x-tokenInfoFunc: openapi_server.controllers.security_controller.info_from_azure_auth
      x-scopeValidateFunc: openapi_server.controllers.security_controller.validate_scope_azure_auth
x-original-swagger-version: "2.0"
