openapi: 3.0.0
info:
  contact:
    x-twitter: nfldata
  title: NBA v3 Projections
  version: "1.0"
  x-apisguru-categories:
  - entertainment
  x-logo:
    url: https://twitter.com/nfldata/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://fantasydata.com/downloads/swagger/nba-v3-projections.json
    version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nba-v3-projections
servers:
- url: http://azure-api.sportsdata.io/v3/nba/projections
- url: https://azure-api.sportsdata.io/v3/nba/projections
security:
- apiKeyHeader: []
- apiKeyQuery: []
paths:
  /{format}/DepthCharts:
    get:
      description: This endpoint provides a depth chart for each NBA team.
      operationId: DepthCharts
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TeamDepthChart'
                type: array
          description: ""
      summary: Depth Charts
      x-accepts:
      - application/json
  /{format}/DfsSlatesByDate/{date}:
    get:
      operationId: DfsSlatesByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: |-
          The date of the game(s).
          <br>Examples: <code>2017-DEC-01</code>, <code>2018-FEB-15</code>.
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DfsSlate'
                type: array
          description: ""
      summary: DFS Slates by Date
      x-accepts:
      - application/json
  /{format}/InjuredPlayers:
    get:
      description: "This endpoint provides all currently injured NBA players, along\
        \ with injury details."
      operationId: InjuredPlayers
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Player'
                type: array
          description: ""
      summary: Injured Players
      x-accepts:
      - application/json
  /{format}/PlayerGameProjectionStatsByDate/{date}:
    get:
      operationId: ProjectedPlayerGameStatsByDateWInjuriesDfsSalaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the game(s). <br>Examples: <code>2015-JUL-31</code>,\
          \ <code>2015-SEP-01</code>."
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerGameProjection'
                type: array
          description: ""
      summary: "Projected Player Game Stats by Date (w/ Injuries, DFS Salaries)"
      x-accepts:
      - application/json
  /{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}:
    get:
      operationId: ProjectedPlayerGameStatsByPlayerWInjuriesDfsSalaries
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the game(s).<br>Examples: <code>2015-JUL-31</code>,\
          \ <code>2015-SEP-01</code>."
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      - description: Unique FantasyData Player ID. Example:<code>20000571</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerGameProjection'
          description: ""
      summary: "Projected Player Game Stats by Player (w/ Injuries, DFS Salaries)"
      x-accepts:
      - application/json
  /{format}/PlayerSeasonProjectionStats/{season}:
    get:
      operationId: ProjectedPlayerSeasonStats
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeasonProjection'
                type: array
          description: ""
      summary: Projected Player Season Stats
      x-accepts:
      - application/json
  /{format}/PlayerSeasonProjectionStatsByPlayer/{season}/{playerid}:
    get:
      operationId: ProjectedPlayerSeasonStatsByPlayer
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: Unique FantasyData Player ID. Example:<code>20000571</code>.
        explode: false
        in: path
        name: playerid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerSeasonProjection'
          description: ""
      summary: Projected Player Season Stats by Player
      x-accepts:
      - application/json
  /{format}/PlayerSeasonProjectionStatsByTeam/{season}/{team}:
    get:
      operationId: ProjectedPlayerSeasonStatsByTeam
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "Year of the season (with optional season type).<br>Examples:\
          \ <code>2018</code>, <code>2019</code>, etc."
        explode: false
        in: path
        name: season
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          The abbreviation of the requested team.
          <br>Examples: <code>MIA</code>, <code>PHI</code>.
        explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PlayerSeasonProjection'
                type: array
          description: ""
      summary: Projected Player Season Stats by Team
      x-accepts:
      - application/json
  /{format}/StartingLineupsByDate/{date}:
    get:
      description: This endpoint provides the projected & confirmed starting lineups
        for NBA games on a given date.
      operationId: StartingLineupsByDate
      parameters:
      - description: Desired response format. Valid entries are <code>XML</code> or
          <code>JSON</code>.
        explode: false
        in: path
        name: format
        required: true
        schema:
          default: XML
          enum:
          - XML
          - JSON
          type: string
        style: simple
      - description: "The date of the game(s). <br> Examples: <code>2021-OCT-12</code>,\
          \ <code>2021-DEC-09</code>."
        explode: false
        in: path
        name: date
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StartingLineups'
                type: array
          description: ""
      summary: Starting Lineups by Date
      x-accepts:
      - application/json
components:
  schemas:
    DepthChart:
      example:
        PlayerID: 1
        Updated: Updated
        DepthOrder: 6
        Position: Position
        PositionCategory: PositionCategory
        DepthChartID: 0
        TeamID: 5
        Name: Name
      properties:
        DepthChartID:
          nullable: false
          type: integer
        DepthOrder:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        PlayerID:
          nullable: true
          type: integer
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        TeamID:
          nullable: false
          type: integer
        Updated:
          nullable: true
          type: string
    DfsSlate:
      example:
        Operator: Operator
        OperatorDay: OperatorDay
        OperatorName: OperatorName
        IsMultiDaySlate: true
        SlateID: 6
        DfsSlateGames:
        - RemovedByOperator: true
          Game:
            Quarter: Quarter
            AwayTeam: AwayTeam
            GameEndDateTime: GameEndDateTime
            HomeRotationNumber: 7
            HomeTeamMoneyLine: 1
            HomeTeamID: 1
            AwayTeamID: 5
            IsClosed: true
            DateTime: DateTime
            LastPlay: LastPlay
            TimeRemainingSeconds: 3
            RefereeID: 6
            UnderPayout: 7
            UmpireID: 3
            GlobalHomeTeamID: 4
            AlternateID: 0
            Quarters:
            - QuarterID: 9
              HomeScore: 6
              Number: 8
              AwayScore: 9
              GameID: 9
              Name: Name
            - QuarterID: 9
              HomeScore: 6
              Number: 8
              AwayScore: 9
              GameID: 9
              Name: Name
            Season: 3
            GameID: 9
            GlobalGameID: 2
            OverPayout: 6
            Attendance: 6
            Status: Status
            HomeTeam: HomeTeam
            Updated: Updated
            TimeRemainingMinutes: 6
            Channel: Channel
            OverUnder: 7.457744773683766
            NeutralVenue: true
            StadiumID: 5
            SeriesInfo:
              GameNumber: 2
              MaxLength: 6
              AwayTeamWins: 1
              HomeTeamWins: 6
            SeasonType: 6
            CrewChiefID: 7
            HomeTeamScore: 1
            PointSpread: 1.1730742509559433
            AwayRotationNumber: 1
            PointSpreadAwayTeamMoneyLine: 4
            AwayTeamScore: 2
            GlobalAwayTeamID: 3
            DateTimeUTC: DateTimeUTC
            PointSpreadHomeTeamMoneyLine: 5
            AwayTeamMoneyLine: 5
            Day: Day
          OperatorGameID: 7
          SlateGameID: 6
          SlateID: 0
          GameID: 0
        - RemovedByOperator: true
          Game:
            Quarter: Quarter
            AwayTeam: AwayTeam
            GameEndDateTime: GameEndDateTime
            HomeRotationNumber: 7
            HomeTeamMoneyLine: 1
            HomeTeamID: 1
            AwayTeamID: 5
            IsClosed: true
            DateTime: DateTime
            LastPlay: LastPlay
            TimeRemainingSeconds: 3
            RefereeID: 6
            UnderPayout: 7
            UmpireID: 3
            GlobalHomeTeamID: 4
            AlternateID: 0
            Quarters:
            - QuarterID: 9
              HomeScore: 6
              Number: 8
              AwayScore: 9
              GameID: 9
              Name: Name
            - QuarterID: 9
              HomeScore: 6
              Number: 8
              AwayScore: 9
              GameID: 9
              Name: Name
            Season: 3
            GameID: 9
            GlobalGameID: 2
            OverPayout: 6
            Attendance: 6
            Status: Status
            HomeTeam: HomeTeam
            Updated: Updated
            TimeRemainingMinutes: 6
            Channel: Channel
            OverUnder: 7.457744773683766
            NeutralVenue: true
            StadiumID: 5
            SeriesInfo:
              GameNumber: 2
              MaxLength: 6
              AwayTeamWins: 1
              HomeTeamWins: 6
            SeasonType: 6
            CrewChiefID: 7
            HomeTeamScore: 1
            PointSpread: 1.1730742509559433
            AwayRotationNumber: 1
            PointSpreadAwayTeamMoneyLine: 4
            AwayTeamScore: 2
            GlobalAwayTeamID: 3
            DateTimeUTC: DateTimeUTC
            PointSpreadHomeTeamMoneyLine: 5
            AwayTeamMoneyLine: 5
            Day: Day
          OperatorGameID: 7
          SlateGameID: 6
          SlateID: 0
          GameID: 0
        SlateRosterSlots:
        - SlateRosterSlots
        - SlateRosterSlots
        SalaryCap: 0
        OperatorStartTime: OperatorStartTime
        NumberOfGames: 3
        RemovedByOperator: true
        OperatorGameType: OperatorGameType
        DfsSlatePlayers:
        - PlayerID: 7
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 3
          SlatePlayerID: 7
          TeamID: 5
          PlayerGameProjectionStatID: 8
          OperatorSalary: 4
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 3
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        - PlayerID: 7
          OperatorPosition: OperatorPosition
          OperatorPlayerName: OperatorPlayerName
          SlateID: 3
          SlatePlayerID: 7
          TeamID: 5
          PlayerGameProjectionStatID: 8
          OperatorSalary: 4
          RemovedByOperator: true
          OperatorRosterSlots:
          - OperatorRosterSlots
          - OperatorRosterSlots
          OperatorSlatePlayerID: OperatorSlatePlayerID
          SlateGameID: 3
          Team: Team
          OperatorPlayerID: OperatorPlayerID
        OperatorSlateID: 4
      properties:
        DfsSlateGames:
          items:
            $ref: '#/components/schemas/DfsSlateGame'
          type: array
        DfsSlatePlayers:
          items:
            $ref: '#/components/schemas/DfsSlatePlayer'
          type: array
        IsMultiDaySlate:
          nullable: true
          type: boolean
        NumberOfGames:
          nullable: true
          type: integer
        Operator:
          nullable: true
          type: string
        OperatorDay:
          nullable: true
          type: string
        OperatorGameType:
          nullable: true
          type: string
        OperatorName:
          nullable: true
          type: string
        OperatorSlateID:
          nullable: true
          type: integer
        OperatorStartTime:
          nullable: true
          type: string
        RemovedByOperator:
          nullable: true
          type: boolean
        SalaryCap:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlateRosterSlots:
          items:
            nullable: true
            type: string
          type: array
    DfsSlateGame:
      example:
        RemovedByOperator: true
        Game:
          Quarter: Quarter
          AwayTeam: AwayTeam
          GameEndDateTime: GameEndDateTime
          HomeRotationNumber: 7
          HomeTeamMoneyLine: 1
          HomeTeamID: 1
          AwayTeamID: 5
          IsClosed: true
          DateTime: DateTime
          LastPlay: LastPlay
          TimeRemainingSeconds: 3
          RefereeID: 6
          UnderPayout: 7
          UmpireID: 3
          GlobalHomeTeamID: 4
          AlternateID: 0
          Quarters:
          - QuarterID: 9
            HomeScore: 6
            Number: 8
            AwayScore: 9
            GameID: 9
            Name: Name
          - QuarterID: 9
            HomeScore: 6
            Number: 8
            AwayScore: 9
            GameID: 9
            Name: Name
          Season: 3
          GameID: 9
          GlobalGameID: 2
          OverPayout: 6
          Attendance: 6
          Status: Status
          HomeTeam: HomeTeam
          Updated: Updated
          TimeRemainingMinutes: 6
          Channel: Channel
          OverUnder: 7.457744773683766
          NeutralVenue: true
          StadiumID: 5
          SeriesInfo:
            GameNumber: 2
            MaxLength: 6
            AwayTeamWins: 1
            HomeTeamWins: 6
          SeasonType: 6
          CrewChiefID: 7
          HomeTeamScore: 1
          PointSpread: 1.1730742509559433
          AwayRotationNumber: 1
          PointSpreadAwayTeamMoneyLine: 4
          AwayTeamScore: 2
          GlobalAwayTeamID: 3
          DateTimeUTC: DateTimeUTC
          PointSpreadHomeTeamMoneyLine: 5
          AwayTeamMoneyLine: 5
          Day: Day
        OperatorGameID: 7
        SlateGameID: 6
        SlateID: 0
        GameID: 0
      properties:
        Game:
          $ref: '#/components/schemas/Game'
        GameID:
          nullable: true
          type: integer
        OperatorGameID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateGameID:
          nullable: false
          type: integer
        SlateID:
          nullable: false
          type: integer
    DfsSlatePlayer:
      example:
        PlayerID: 7
        OperatorPosition: OperatorPosition
        OperatorPlayerName: OperatorPlayerName
        SlateID: 3
        SlatePlayerID: 7
        TeamID: 5
        PlayerGameProjectionStatID: 8
        OperatorSalary: 4
        RemovedByOperator: true
        OperatorRosterSlots:
        - OperatorRosterSlots
        - OperatorRosterSlots
        OperatorSlatePlayerID: OperatorSlatePlayerID
        SlateGameID: 3
        Team: Team
        OperatorPlayerID: OperatorPlayerID
      properties:
        OperatorPlayerID:
          nullable: true
          type: string
        OperatorPlayerName:
          nullable: true
          type: string
        OperatorPosition:
          nullable: true
          type: string
        OperatorRosterSlots:
          items:
            nullable: true
            type: string
          type: array
        OperatorSalary:
          nullable: true
          type: integer
        OperatorSlatePlayerID:
          nullable: true
          type: string
        PlayerGameProjectionStatID:
          nullable: true
          type: integer
        PlayerID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateGameID:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlatePlayerID:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
    Game:
      example:
        Quarter: Quarter
        AwayTeam: AwayTeam
        GameEndDateTime: GameEndDateTime
        HomeRotationNumber: 7
        HomeTeamMoneyLine: 1
        HomeTeamID: 1
        AwayTeamID: 5
        IsClosed: true
        DateTime: DateTime
        LastPlay: LastPlay
        TimeRemainingSeconds: 3
        RefereeID: 6
        UnderPayout: 7
        UmpireID: 3
        GlobalHomeTeamID: 4
        AlternateID: 0
        Quarters:
        - QuarterID: 9
          HomeScore: 6
          Number: 8
          AwayScore: 9
          GameID: 9
          Name: Name
        - QuarterID: 9
          HomeScore: 6
          Number: 8
          AwayScore: 9
          GameID: 9
          Name: Name
        Season: 3
        GameID: 9
        GlobalGameID: 2
        OverPayout: 6
        Attendance: 6
        Status: Status
        HomeTeam: HomeTeam
        Updated: Updated
        TimeRemainingMinutes: 6
        Channel: Channel
        OverUnder: 7.457744773683766
        NeutralVenue: true
        StadiumID: 5
        SeriesInfo:
          GameNumber: 2
          MaxLength: 6
          AwayTeamWins: 1
          HomeTeamWins: 6
        SeasonType: 6
        CrewChiefID: 7
        HomeTeamScore: 1
        PointSpread: 1.1730742509559433
        AwayRotationNumber: 1
        PointSpreadAwayTeamMoneyLine: 4
        AwayTeamScore: 2
        GlobalAwayTeamID: 3
        DateTimeUTC: DateTimeUTC
        PointSpreadHomeTeamMoneyLine: 5
        AwayTeamMoneyLine: 5
        Day: Day
      properties:
        AlternateID:
          nullable: true
          type: integer
        Attendance:
          nullable: true
          type: integer
        AwayRotationNumber:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: false
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          type: integer
        AwayTeamScore:
          nullable: true
          type: integer
        Channel:
          nullable: true
          type: string
        CrewChiefID:
          nullable: true
          type: integer
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        GlobalAwayTeamID:
          nullable: false
          type: integer
        GlobalGameID:
          nullable: false
          type: integer
        GlobalHomeTeamID:
          nullable: false
          type: integer
        HomeRotationNumber:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: false
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          type: integer
        HomeTeamScore:
          nullable: true
          type: integer
        IsClosed:
          nullable: false
          type: boolean
        LastPlay:
          nullable: true
          type: string
        NeutralVenue:
          nullable: true
          type: boolean
        OverPayout:
          nullable: true
          type: integer
        OverUnder:
          nullable: true
          type: number
        PointSpread:
          nullable: true
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          type: integer
        Quarter:
          nullable: true
          type: string
        Quarters:
          items:
            $ref: '#/components/schemas/Quarter'
          type: array
        RefereeID:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        SeriesInfo:
          $ref: '#/components/schemas/Series'
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
        UmpireID:
          nullable: true
          type: integer
        UnderPayout:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
    Lineup:
      example:
        PlayerID: 0
        Position: Position
        FirstName: FirstName
        Starting: true
        Team: Team
        Confirmed: true
        LastName: LastName
        TeamID: 6
      properties:
        Confirmed:
          nullable: true
          type: boolean
        FirstName:
          nullable: true
          type: string
        LastName:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        Starting:
          nullable: true
          type: boolean
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: false
          type: integer
    Player:
      example:
        PlayerID: 4
        InjuryStartDate: InjuryStartDate
        YahooName: YahooName
        GlobalTeamID: 7
        FanDuelName: FanDuelName
        InjuryStatus: InjuryStatus
        UsaTodayHeadshotUpdated: UsaTodayHeadshotUpdated
        SportsDirectPlayerID: 1
        UsaTodayPlayerID: 1
        DepthChartPosition: DepthChartPosition
        Jersey: 3
        PhotoUrl: PhotoUrl
        Status: Status
        Position: Position
        FanDuelPlayerID: 5
        UsaTodayHeadshotUrl: UsaTodayHeadshotUrl
        XmlTeamPlayerID: 5
        Weight: 4
        Experience: 1
        SportRadarPlayerID: SportRadarPlayerID
        College: College
        LastName: LastName
        BirthDate: BirthDate
        Salary: 1
        FantasyDraftPlayerID: 2
        SportsDataID: SportsDataID
        RotoworldPlayerID: 1
        TeamID: 7
        DraftKingsPlayerID: 6
        UsaTodayHeadshotNoBackgroundUpdated: UsaTodayHeadshotNoBackgroundUpdated
        Height: 9
        Team: Team
        YahooPlayerID: 9
        FantasyDraftName: FantasyDraftName
        StatsPlayerID: 6
        FirstName: FirstName
        PositionCategory: PositionCategory
        NbaDotComPlayerID: 2
        UsaTodayHeadshotNoBackgroundUrl: UsaTodayHeadshotNoBackgroundUrl
        BirthState: BirthState
        DraftKingsName: DraftKingsName
        BirthCountry: BirthCountry
        InjuryBodyPart: InjuryBodyPart
        InjuryNotes: InjuryNotes
        RotoWirePlayerID: 7
        DepthChartOrder: 0
        FantasyAlarmPlayerID: 5
        HighSchool: HighSchool
        BirthCity: BirthCity
      properties:
        BirthCity:
          nullable: true
          type: string
        BirthCountry:
          nullable: true
          type: string
        BirthDate:
          nullable: true
          type: string
        BirthState:
          nullable: true
          type: string
        College:
          nullable: true
          type: string
        DepthChartOrder:
          nullable: true
          type: integer
        DepthChartPosition:
          nullable: true
          type: string
        DraftKingsName:
          nullable: true
          type: string
        DraftKingsPlayerID:
          nullable: true
          type: integer
        Experience:
          nullable: true
          type: integer
        FanDuelName:
          nullable: true
          type: string
        FanDuelPlayerID:
          nullable: true
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          type: integer
        FantasyDraftName:
          nullable: true
          type: string
        FantasyDraftPlayerID:
          nullable: true
          type: integer
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: integer
        HighSchool:
          nullable: true
          type: string
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        Jersey:
          nullable: true
          type: integer
        LastName:
          nullable: true
          type: string
        NbaDotComPlayerID:
          nullable: true
          type: integer
        PhotoUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        PositionCategory:
          nullable: true
          type: string
        RotoWirePlayerID:
          nullable: true
          type: integer
        RotoworldPlayerID:
          nullable: true
          type: integer
        Salary:
          nullable: true
          type: integer
        SportRadarPlayerID:
          nullable: true
          type: string
        SportsDataID:
          nullable: true
          type: string
        SportsDirectPlayerID:
          nullable: true
          type: integer
        StatsPlayerID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          type: string
        UsaTodayPlayerID:
          nullable: true
          type: integer
        Weight:
          nullable: true
          type: integer
        XmlTeamPlayerID:
          nullable: true
          type: integer
        YahooName:
          nullable: true
          type: string
        YahooPlayerID:
          nullable: true
          type: integer
    PlayerGameProjection:
      example:
        PlayerID: 7
        FanDuelPosition: FanDuelPosition
        InjuryStartDate: InjuryStartDate
        FreeThrowsPercentage: 6.683562403749608
        ThreePointersAttempted: 3.2588565619047607
        GlobalTeamID: 6
        TripleDoubles: 4.258773108174356
        DateTime: DateTime
        InjuryStatus: InjuryStatus
        Minutes: 1
        TotalReboundsPercentage: 6.628464275087742
        DraftKingsSalary: 9
        Name: Name
        PlusMinus: 0.8851374739011653
        Steals: 3.0576100241049344
        FreeThrowsAttempted: 9.965781217890562
        GameID: 8
        OpponentPositionRank: 5
        Updated: Updated
        Position: Position
        ThreePointersPercentage: 0.2025324113236393
        FantasyDraftSalary: 7
        FantasyPointsFanDuel: 1.4894159098541704
        TwoPointersMade: 9.702963800023566
        OpponentID: 6
        Assists: 0.8008281904610115
        PersonalFouls: 3.353193347011243
        OffensiveReboundsPercentage: 6.778324963048013
        StealsPercentage: 7.04836565559697
        FantasyPointsDraftKings: 1.0246457001441578
        Games: 9
        BlockedShots: 1.4658129805029452
        StatID: 3
        TrueShootingAttempts: 1.041444916118296
        BlocksPercentage: 5.962133916683182
        OffensiveRebounds: 2.8841621266687802
        Started: 7
        IsGameOver: true
        DefensiveRebounds: 5.637376656633329
        FantasyPointsYahoo: 7.457744773683766
        IsClosed: true
        OpponentRank: 6
        Rebounds: 6.519180951018382
        DoubleDoubles: 7.061401241503109
        TeamID: 5
        FieldGoalsPercentage: 5.025004791520295
        Turnovers: 9.132027271330688
        YahooSalary: 5
        FantasyDataSalary: 4
        ThreePointersMade: 4.078845849666752
        TwoPointersPercentage: 0.5199002018724985
        Points: 7.058770351582356
        FieldGoalsAttempted: 1.1730742509559433
        DraftKingsPosition: DraftKingsPosition
        FantasyPointsFantasyDraft: 6.84685269835264
        GlobalOpponentID: 3
        Opponent: Opponent
        LineupConfirmed: true
        Team: Team
        Season: 0
        GlobalGameID: 6
        YahooPosition: YahooPosition
        FantasyDraftPosition: FantasyDraftPosition
        FanDuelSalary: 2
        FantasyPoints: 1.2315135367772556
        AssistsPercentage: 6.027456183070403
        DefensiveReboundsPercentage: 2.3021358869347655
        EffectiveFieldGoalsPercentage: 3.616076749251911
        TwoPointersAttempted: 0.8774076871421566
        InjuryBodyPart: InjuryBodyPart
        HomeOrAway: HomeOrAway
        InjuryNotes: InjuryNotes
        LineupStatus: LineupStatus
        SeasonType: 4
        FreeThrowsMade: 9.369310271410669
        FieldGoalsMade: 4.965218492984954
        UsageRatePercentage: 7.933506881737151
        Seconds: 8
        PlayerEfficiencyRating: 3.0937452626664474
        TurnOversPercentage: 7.260521264802104
        Day: Day
        TrueShootingPercentage: 4.678947989005849
      properties:
        Assists:
          nullable: true
          type: number
        AssistsPercentage:
          nullable: true
          type: number
        BlockedShots:
          nullable: true
          type: number
        BlocksPercentage:
          nullable: true
          type: number
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DefensiveRebounds:
          nullable: true
          type: number
        DefensiveReboundsPercentage:
          nullable: true
          type: number
        DoubleDoubles:
          nullable: true
          type: number
        DraftKingsPosition:
          nullable: true
          type: string
        DraftKingsSalary:
          nullable: true
          type: integer
        EffectiveFieldGoalsPercentage:
          nullable: true
          type: number
        FanDuelPosition:
          nullable: true
          type: string
        FanDuelSalary:
          nullable: true
          type: integer
        FantasyDataSalary:
          nullable: true
          type: integer
        FantasyDraftPosition:
          nullable: true
          type: string
        FantasyDraftSalary:
          nullable: true
          type: integer
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FieldGoalsAttempted:
          nullable: true
          type: number
        FieldGoalsMade:
          nullable: true
          type: number
        FieldGoalsPercentage:
          nullable: true
          type: number
        FreeThrowsAttempted:
          nullable: true
          type: number
        FreeThrowsMade:
          nullable: true
          type: number
        FreeThrowsPercentage:
          nullable: true
          type: number
        GameID:
          nullable: true
          type: integer
        Games:
          nullable: true
          type: integer
        GlobalGameID:
          nullable: true
          type: integer
        GlobalOpponentID:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        HomeOrAway:
          nullable: true
          type: string
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        IsClosed:
          nullable: false
          type: boolean
        IsGameOver:
          nullable: false
          type: boolean
        LineupConfirmed:
          nullable: true
          type: boolean
        LineupStatus:
          nullable: true
          type: string
        Minutes:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        OffensiveRebounds:
          nullable: true
          type: number
        OffensiveReboundsPercentage:
          nullable: true
          type: number
        Opponent:
          nullable: true
          type: string
        OpponentID:
          nullable: true
          type: integer
        OpponentPositionRank:
          nullable: true
          type: integer
        OpponentRank:
          nullable: true
          type: integer
        PersonalFouls:
          nullable: true
          type: number
        PlayerEfficiencyRating:
          nullable: true
          type: number
        PlayerID:
          nullable: true
          type: integer
        PlusMinus:
          nullable: true
          type: number
        Points:
          nullable: true
          type: number
        Position:
          nullable: true
          type: string
        Rebounds:
          nullable: true
          type: number
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        Seconds:
          nullable: true
          type: integer
        Started:
          nullable: true
          type: integer
        StatID:
          nullable: false
          type: integer
        Steals:
          nullable: true
          type: number
        StealsPercentage:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        ThreePointersAttempted:
          nullable: true
          type: number
        ThreePointersMade:
          nullable: true
          type: number
        ThreePointersPercentage:
          nullable: true
          type: number
        TotalReboundsPercentage:
          nullable: true
          type: number
        TripleDoubles:
          nullable: true
          type: number
        TrueShootingAttempts:
          nullable: true
          type: number
        TrueShootingPercentage:
          nullable: true
          type: number
        TurnOversPercentage:
          nullable: true
          type: number
        Turnovers:
          nullable: true
          type: number
        TwoPointersAttempted:
          nullable: true
          type: number
        TwoPointersMade:
          nullable: true
          type: number
        TwoPointersPercentage:
          nullable: true
          type: number
        Updated:
          nullable: true
          type: string
        UsageRatePercentage:
          nullable: true
          type: number
        YahooPosition:
          nullable: true
          type: string
        YahooSalary:
          nullable: true
          type: integer
    PlayerSeasonProjection:
      example:
        PlayerID: 3
        FreeThrowsPercentage: 4.965218492984954
        ThreePointersAttempted: 7.058770351582356
        GlobalTeamID: 9
        TripleDoubles: 8.969578798196912
        Minutes: 9
        TotalReboundsPercentage: 4.652396432933246
        Name: Name
        PlusMinus: 6.965117697638846
        Steals: 3.0937452626664474
        FreeThrowsAttempted: 7.457744773683766
        Updated: Updated
        Position: Position
        ThreePointersPercentage: 0.10263654006109402
        FantasyPointsFanDuel: 4.145608029883936
        TwoPointersMade: 3.2588565619047607
        Assists: 0.8008281904610115
        PersonalFouls: 9.018348186070783
        OffensiveReboundsPercentage: 8.762042012749001
        StealsPercentage: 7.143538047012306
        FantasyPointsDraftKings: 2.027123023002322
        Games: 5
        BlockedShots: 1.4658129805029452
        StatID: 3
        TrueShootingAttempts: 7.740351818741173
        BlocksPercentage: 5.962133916683182
        OffensiveRebounds: 6.683562403749608
        Started: 6
        DefensiveRebounds: 5.637376656633329
        FantasyPointsYahoo: 1.2315135367772556
        IsClosed: true
        Rebounds: 2.8841621266687802
        DoubleDoubles: 7.061401241503109
        TeamID: 0
        FieldGoalsPercentage: 6.84685269835264
        Turnovers: 7.04836565559697
        ThreePointersMade: 6.519180951018382
        TwoPointersPercentage: 4.078845849666752
        Points: 1.284659006116532
        FieldGoalsAttempted: 1.0246457001441578
        FantasyPointsFantasyDraft: 7.386281948385884
        LineupConfirmed: true
        Team: Team
        Season: 6
        FantasyPoints: 3.616076749251911
        AssistsPercentage: 6.027456183070403
        DefensiveReboundsPercentage: 2.3021358869347655
        EffectiveFieldGoalsPercentage: 9.301444243932576
        TwoPointersAttempted: 5.533258397034986
        LineupStatus: LineupStatus
        SeasonType: 6
        FreeThrowsMade: 1.1730742509559433
        FieldGoalsMade: 1.4894159098541704
        UsageRatePercentage: 0.2025324113236393
        Seconds: 5
        PlayerEfficiencyRating: 6.438423552598547
        TurnOversPercentage: 3.0576100241049344
        TrueShootingPercentage: 3.0205796992916243
      properties:
        Assists:
          nullable: true
          type: number
        AssistsPercentage:
          nullable: true
          type: number
        BlockedShots:
          nullable: true
          type: number
        BlocksPercentage:
          nullable: true
          type: number
        DefensiveRebounds:
          nullable: true
          type: number
        DefensiveReboundsPercentage:
          nullable: true
          type: number
        DoubleDoubles:
          nullable: true
          type: number
        EffectiveFieldGoalsPercentage:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        FieldGoalsAttempted:
          nullable: true
          type: number
        FieldGoalsMade:
          nullable: true
          type: number
        FieldGoalsPercentage:
          nullable: true
          type: number
        FreeThrowsAttempted:
          nullable: true
          type: number
        FreeThrowsMade:
          nullable: true
          type: number
        FreeThrowsPercentage:
          nullable: true
          type: number
        Games:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        IsClosed:
          nullable: false
          type: boolean
        LineupConfirmed:
          nullable: true
          type: boolean
        LineupStatus:
          nullable: true
          type: string
        Minutes:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        OffensiveRebounds:
          nullable: true
          type: number
        OffensiveReboundsPercentage:
          nullable: true
          type: number
        PersonalFouls:
          nullable: true
          type: number
        PlayerEfficiencyRating:
          nullable: true
          type: number
        PlayerID:
          nullable: true
          type: integer
        PlusMinus:
          nullable: true
          type: number
        Points:
          nullable: true
          type: number
        Position:
          nullable: true
          type: string
        Rebounds:
          nullable: true
          type: number
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        Seconds:
          nullable: true
          type: integer
        Started:
          nullable: true
          type: integer
        StatID:
          nullable: false
          type: integer
        Steals:
          nullable: true
          type: number
        StealsPercentage:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        ThreePointersAttempted:
          nullable: true
          type: number
        ThreePointersMade:
          nullable: true
          type: number
        ThreePointersPercentage:
          nullable: true
          type: number
        TotalReboundsPercentage:
          nullable: true
          type: number
        TripleDoubles:
          nullable: true
          type: number
        TrueShootingAttempts:
          nullable: true
          type: number
        TrueShootingPercentage:
          nullable: true
          type: number
        TurnOversPercentage:
          nullable: true
          type: number
        Turnovers:
          nullable: true
          type: number
        TwoPointersAttempted:
          nullable: true
          type: number
        TwoPointersMade:
          nullable: true
          type: number
        TwoPointersPercentage:
          nullable: true
          type: number
        Updated:
          nullable: true
          type: string
        UsageRatePercentage:
          nullable: true
          type: number
    Quarter:
      example:
        QuarterID: 9
        HomeScore: 6
        Number: 8
        AwayScore: 9
        GameID: 9
        Name: Name
      properties:
        AwayScore:
          nullable: true
          type: integer
        GameID:
          nullable: false
          type: integer
        HomeScore:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        Number:
          nullable: false
          type: integer
        QuarterID:
          nullable: false
          type: integer
    Series:
      example:
        GameNumber: 2
        MaxLength: 6
        AwayTeamWins: 1
        HomeTeamWins: 6
      properties:
        AwayTeamWins:
          nullable: false
          type: integer
        GameNumber:
          nullable: false
          type: integer
        HomeTeamWins:
          nullable: false
          type: integer
        MaxLength:
          nullable: false
          type: integer
    StartingLineups:
      example:
        Status: Status
        AwayTeam: AwayTeam
        HomeTeam: HomeTeam
        SeasonType: 7
        AwayLineup:
        - PlayerID: 0
          Position: Position
          FirstName: FirstName
          Starting: true
          Team: Team
          Confirmed: true
          LastName: LastName
          TeamID: 6
        - PlayerID: 0
          Position: Position
          FirstName: FirstName
          Starting: true
          Team: Team
          Confirmed: true
          LastName: LastName
          TeamID: 6
        HomeLineup:
        - PlayerID: 0
          Position: Position
          FirstName: FirstName
          Starting: true
          Team: Team
          Confirmed: true
          LastName: LastName
          TeamID: 6
        - PlayerID: 0
          Position: Position
          FirstName: FirstName
          Starting: true
          Team: Team
          Confirmed: true
          LastName: LastName
          TeamID: 6
        HomeTeamID: 5
        AwayTeamID: 1
        Season: 2
        Day: Day
        DateTime: DateTime
        GameID: 5
      properties:
        AwayLineup:
          items:
            $ref: '#/components/schemas/Lineup'
          type: array
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: true
          type: integer
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        HomeLineup:
          items:
            $ref: '#/components/schemas/Lineup'
          type: array
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        Status:
          nullable: true
          type: string
    TeamDepthChart:
      example:
        TeamID: 5
        DepthCharts:
        - PlayerID: 1
          Updated: Updated
          DepthOrder: 6
          Position: Position
          PositionCategory: PositionCategory
          DepthChartID: 0
          TeamID: 5
          Name: Name
        - PlayerID: 1
          Updated: Updated
          DepthOrder: 6
          Position: Position
          PositionCategory: PositionCategory
          DepthChartID: 0
          TeamID: 5
          Name: Name
      properties:
        DepthCharts:
          items:
            $ref: '#/components/schemas/DepthChart'
          type: array
        TeamID:
          nullable: false
          type: integer
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey

