openapi: 3.0.1
info:
  contact:
    name: Mohamed Enein
  description: APIs for managing software update configurations.
  title: Update Management
  version: 2017-05-15-preview
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/softwareUpdateConfigurationMachineRun.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-softwareUpdateConfigurationMachineRun
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationMachineRuns
  : get:
      description: Return list of software update configuration machine runs
      externalDocs:
        url: http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations
      operationId: SoftwareUpdateConfigurationMachineRuns_List
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Identifies this specific client request.
        in: header
        name: clientRequestId
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: "The filter to apply on the operation. You can use the following\
          \ filters: 'properties/osType', 'properties/status', 'properties/startTime',\
          \ and 'properties/softwareUpdateConfiguration/name'"
        in: query
        name: $filter
        schema:
          type: string
      - description: number of entries you skip before returning results
        in: query
        name: $skip
        schema:
          type: string
      - description: Maximum number of entries returned in the results collection
        in: query
        name: $top
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/softwareUpdateConfigurationMachineRunListResult'
          description: Return list of software update configuration machine runs.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareUpdateConfigurationMachineRuns_List_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Software Update Configuration Machine Run
      x-ms-examples:
        List software update configuration machine runs:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myaccount
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&_=1508725900015&$skip=100
                value:
                - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationMachineRuns/ca440719-34a4-4234-a1a9-3f84faf7788f
                  name: ca440719-34a4-4234-a1a9-3f84faf7788f
                  properties:
                    configuredDuration: PT2H
                    correlationId: 0b943e57-44d3-4f05-898c-6e92aa617e59
                    creationTime: 2017-10-23T02:33:30.7484961+00:00
                    endTime: 2017-10-23T02:33:36.4166667+00:00
                    error: {}
                    job: {}
                    lastModifiedBy: ""
                    lastModifiedTime: 2017-10-23T02:34:32.4366667+00:00
                    osType: Windows
                    softwareUpdateConfiguration:
                      name: mypatch
                    sourceComputerId: 3d3f24bf-7037-424e-bfba-aae3b9752f8e
                    startTime: 2017-10-23T02:33:30.7484961+00:00
                    status: Succeeded
                    targetComputer: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/myvm
                    targetComputerType: AzureVirtualMachines
                - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationMachineRuns/ca440719-34a4-4234-a1a9-3f84faf7789f
                  name: ca440719-34a4-4234-a1a9-3f84faf7789f
                  properties:
                    configuredDuration: PT2H
                    correlationId: 0b943e57-44d3-4f05-898c-6e92aa617e59
                    creationTime: 2017-10-23T02:33:30.7484961+00:00
                    endTime: 2017-10-23T02:33:36.4166667+00:00
                    error: {}
                    job: {}
                    lastModifiedBy: ""
                    lastModifiedTime: 2017-10-23T02:34:32.4366667+00:00
                    osType: Windows
                    softwareUpdateConfiguration:
                      name: mypatch
                    sourceComputerId: 3d3f24bf-7037-424e-bfba-aae3b9752f8e
                    startTime: 2017-10-23T02:33:30.7484961+00:00
                    status: Succeeded
                    targetComputer: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/myvm2
                    targetComputerType: AzureVirtualMachines
              headers: {}
        List software update configuration machine runs for a specific software update configuration run:
          parameters:
            $filter: $filter=properties/correlationId%20eq%200b943e57-44d3-4f05-898c-6e92aa617e59
            api-version: 2017-05-15-preview
            automationAccountName: myaccount
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&_=1508725900015&$skip=100
                value:
                - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationMachineRuns/ca440719-34a4-4234-a1a9-3f84faf7788f
                  name: ca440719-34a4-4234-a1a9-3f84faf7788f
                  properties:
                    configuredDuration: PT2H
                    correlationId: 0b943e57-44d3-4f05-898c-6e92aa617e59
                    creationTime: 2017-10-23T02:33:30.7484961+00:00
                    endTime: 2017-10-23T02:33:36.4166667+00:00
                    error: {}
                    job: {}
                    lastModifiedBy: ""
                    lastModifiedTime: 2017-10-23T02:34:32.4366667+00:00
                    osType: Windows
                    softwareUpdateConfiguration:
                      name: mypatch
                    sourceComputerId: 3d3f24bf-7037-424e-bfba-aae3b9752f8e
                    startTime: 2017-10-23T02:33:30.7484961+00:00
                    status: Succeeded
                    targetComputer: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/myvm
                    targetComputerType: AzureVirtualMachines
                - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationMachineRuns/ca440719-34a4-4234-a1a9-3f84faf7789f
                  name: ca440719-34a4-4234-a1a9-3f84faf7789f
                  properties:
                    configuredDuration: PT2H
                    correlationId: 0b943e57-44d3-4f05-898c-6e92aa617e59
                    creationTime: 2017-10-23T02:33:30.7484961+00:00
                    endTime: 2017-10-23T02:33:36.4166667+00:00
                    error: {}
                    job: {}
                    lastModifiedBy: ""
                    lastModifiedTime: 2017-10-23T02:34:32.4366667+00:00
                    osType: Windows
                    softwareUpdateConfiguration:
                      name: mypatch
                    sourceComputerId: 3d3f24bf-7037-424e-bfba-aae3b9752f8e
                    startTime: 2017-10-23T02:33:30.7484961+00:00
                    status: Succeeded
                    targetComputer: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/myvm2
                    targetComputerType: AzureVirtualMachines
              headers: {}
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationMachineRuns/{softwareUpdateConfigurationMachineRunId}
  : get:
      description: Get a single software update configuration machine run by Id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations
      operationId: SoftwareUpdateConfigurationMachineRuns_GetById
      parameters:
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Name of an Azure Resource group.
        in: path
        name: resourceGroupName
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: "^[-\\w\\._]+$"
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the automation account.
        in: path
        name: automationAccountName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The Id of the software update configuration machine run.
        in: path
        name: softwareUpdateConfigurationMachineRunId
        required: true
        schema:
          format: uuid
          type: string
      - description: Client Api Version.
        in: query
        name: api-version
        required: true
        schema:
          type: string
      - description: Identifies this specific client request.
        in: header
        name: clientRequestId
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/softwareUpdateConfigurationMachineRun'
          description: A single software update configuration machine run.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareUpdateConfigurationMachineRuns_List_default_response'
          description: Automation error response describing why the operation failed.
      tags:
      - Software Update Configuration Machine Run
      x-ms-examples:
        Get software update configuration machine run:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myaccount
            resourceGroupName: mygroup
            softwareUpdateConfigurationMachineRunId: ca440719-34a4-4234-a1a9-3f84faf7788f
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationMachineRuns/ca440719-34a4-4234-a1a9-3f84faf7788f
                name: ca440719-34a4-4234-a1a9-3f84faf7788f
                properties:
                  configuredDuration: PT2H
                  correlationId: 0b943e57-44d3-4f05-898c-6e92aa617e59
                  creationTime: 2017-10-23T02:33:30.7484961+00:00
                  endTime: 2017-10-23T02:33:36.4166667+00:00
                  error: {}
                  job: {}
                  lastModifiedBy: ""
                  lastModifiedTime: 2017-10-23T02:34:32.4366667+00:00
                  osType: Windows
                  softwareUpdateConfiguration:
                    name: mypatch
                  sourceComputerId: 3d3f24bf-7037-424e-bfba-aae3b9752f8e
                  startTime: 2017-10-23T02:33:30.7484961+00:00
                  status: Succeeded
                  targetComputer: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/myvm
                  targetComputerType: AzureVirtualMachines
              headers: {}
      x-accepts:
      - application/json
components:
  schemas:
    jobNavigation:
      description: Software update configuration machine run job navigation properties.
      example:
        id: id
      properties:
        id:
          description: Id of the job associated with the software update configuration
            run
          readOnly: true
          type: string
      type: object
    softwareUpdateConfigurationMachineRun:
      description: Software update configuration machine run model.
      example:
        name: name
        id: id
        properties:
          lastModifiedTime: 2000-01-23T04:56:07.000+00:00
          configuredDuration: configuredDuration
          creationTime: 2000-01-23T04:56:07.000+00:00
          lastModifiedBy: lastModifiedBy
          softwareUpdateConfiguration:
            name: name
          targetComputer: targetComputer
          error:
            code: code
            message: message
          targetComputerType: targetComputerType
          sourceComputerId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          createdBy: createdBy
          osType: osType
          correlationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          startTime: 2000-01-23T04:56:07.000+00:00
          endTime: 2000-01-23T04:56:07.000+00:00
          job:
            id: id
          status: status
      properties:
        id:
          description: Resource Id of the software update configuration machine run
          readOnly: true
          type: string
        name:
          description: Name of the software update configuration machine run
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/updateConfigurationMachineRunProperties'
      type: object
      x-ms-azure-resource: false
    softwareUpdateConfigurationMachineRunListResult:
      description: result of listing all software update configuration machine runs
      example:
        value:
        - name: name
          id: id
          properties:
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            configuredDuration: configuredDuration
            creationTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedBy: lastModifiedBy
            softwareUpdateConfiguration:
              name: name
            targetComputer: targetComputer
            error:
              code: code
              message: message
            targetComputerType: targetComputerType
            sourceComputerId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            createdBy: createdBy
            osType: osType
            correlationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            job:
              id: id
            status: status
        - name: name
          id: id
          properties:
            lastModifiedTime: 2000-01-23T04:56:07.000+00:00
            configuredDuration: configuredDuration
            creationTime: 2000-01-23T04:56:07.000+00:00
            lastModifiedBy: lastModifiedBy
            softwareUpdateConfiguration:
              name: name
            targetComputer: targetComputer
            error:
              code: code
              message: message
            targetComputerType: targetComputerType
            sourceComputerId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            createdBy: createdBy
            osType: osType
            correlationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            startTime: 2000-01-23T04:56:07.000+00:00
            endTime: 2000-01-23T04:56:07.000+00:00
            job:
              id: id
            status: status
        nextLink: nextLink
      properties:
        nextLink:
          description: link to next page of results.
          type: string
        value:
          description: outer object returned when listing all software update configuration
            machine runs
          items:
            $ref: '#/components/schemas/softwareUpdateConfigurationMachineRun'
          type: array
      type: object
    updateConfigurationMachineRunProperties:
      description: Software update configuration machine run properties.
      example:
        lastModifiedTime: 2000-01-23T04:56:07.000+00:00
        configuredDuration: configuredDuration
        creationTime: 2000-01-23T04:56:07.000+00:00
        lastModifiedBy: lastModifiedBy
        softwareUpdateConfiguration:
          name: name
        targetComputer: targetComputer
        error:
          code: code
          message: message
        targetComputerType: targetComputerType
        sourceComputerId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        createdBy: createdBy
        osType: osType
        correlationId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        job:
          id: id
        status: status
      properties:
        configuredDuration:
          description: configured duration for the software update configuration run.
          readOnly: true
          type: string
        correlationId:
          description: correlation id of the software update configuration machine
            run
          format: uuid
          readOnly: true
          type: string
        createdBy:
          description: "createdBy property, which only appears in the response."
          readOnly: true
          type: string
        creationTime:
          description: "Creation time of the resource, which only appears in the response."
          format: date-time
          nullable: false
          readOnly: true
          type: string
        endTime:
          description: End time of the software update configuration machine run.
          format: date-time
          nullable: true
          readOnly: true
          type: string
        error:
          $ref: '#/components/schemas/SoftwareUpdateConfigurationMachineRuns_List_default_response'
        job:
          $ref: '#/components/schemas/jobNavigation'
        lastModifiedBy:
          description: "lastModifiedBy property, which only appears in the response."
          readOnly: true
          type: string
        lastModifiedTime:
          description: "Last time resource was modified, which only appears in the\
            \ response."
          format: date-time
          nullable: false
          readOnly: true
          type: string
        osType:
          description: Operating system target of the software update configuration
            triggered this run
          readOnly: true
          type: string
        softwareUpdateConfiguration:
          $ref: '#/components/schemas/updateConfigurationNavigation'
        sourceComputerId:
          description: source computer id of the software update configuration machine
            run
          format: uuid
          readOnly: true
          type: string
        startTime:
          description: Start time of the software update configuration machine run.
          format: date-time
          nullable: false
          readOnly: true
          type: string
        status:
          description: Status of the software update configuration machine run.
          readOnly: true
          type: string
        targetComputer:
          description: name of the updated computer
          readOnly: true
          type: string
        targetComputerType:
          description: type of the updated computer.
          readOnly: true
          type: string
      type: object
    updateConfigurationNavigation:
      description: Software update configuration Run Navigation model.
      example:
        name: name
      properties:
        name:
          description: Name of the software update configuration triggered the software
            update configuration run
          readOnly: true
          type: string
      type: object
    SoftwareUpdateConfigurationMachineRuns_List_default_response:
      description: Error response of an operation failure
      example:
        code: code
        message: message
      properties:
        code:
          description: Error code
          type: string
        message:
          description: Error message indicating why the operation failed.
          type: string
      type: object
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

