openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
  description: Accesses Android application developers' Google Play accounts.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Play Developer
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://www.gstatic.com/android/market_images/web/play_logo_x2.png
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.7.31
    format: google
    url: https://www.googleapis.com/discovery/v1/apis/androidpublisher/v2/rest
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: androidpublisher
externalDocs:
  url: https://developers.google.com/android-publisher
servers:
- url: https://www.googleapis.com/androidpublisher/v2/applications
tags:
- name: edits
- name: inappproducts
- name: orders
- name: purchases
- name: reviews
paths:
  /{packageName}/edits:
    post:
      description: "Creates a new edit for an app, populated with the app's current\
        \ state."
      operationId: androidpublisher.edits.insert
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEdit'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppEdit'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /{packageName}/edits/{editId}:
    delete:
      description: Deletes an edit for an app. Creating a new edit will automatically
        delete any of your previous edits so this method need only be called if you
        want to preemptively abandon an edit.
      operationId: androidpublisher.edits.delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - application/json
    get:
      description: "Returns information about the edit specified. Calls will fail\
        \ if the edit is no long active (e.g. has been deleted, superseded or expired)."
      operationId: androidpublisher.edits.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppEdit'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
  /{packageName}/edits/{editId}/apks:
    get:
      operationId: androidpublisher.edits.apks.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApksListResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
    post:
      operationId: androidpublisher.edits.apks.upload
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Apk'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
  /{packageName}/edits/{editId}/apks/externallyHosted:
    post:
      description: "Creates a new APK without uploading the APK itself to Google Play,\
        \ instead hosting the APK at a specified URL. This function is only available\
        \ to enterprises using Google Play for Work whose application is configured\
        \ to restrict distribution to the enterprise domain."
      operationId: androidpublisher.edits.apks.addexternallyhosted
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApksAddExternallyHostedRequest'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApksAddExternallyHostedResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}:
    post:
      description: "Uploads the deobfuscation file of the specified APK. If a deobfuscation\
        \ or symbolication file already exists, it will be replaced. See https://developer.android.com/studio/build/shrink-code\
        \ to learn more about deobfuscation files."
      operationId: androidpublisher.edits.deobfuscationfiles.upload
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier of the Android app for which the deobfuscation\
          \ files are being uploaded; for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: The version code of the APK whose deobfuscation file is being
          uploaded.
        explode: false
        in: path
        name: apkVersionCode
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: deobfuscationFileType
        required: true
        schema:
          enum:
          - nativeCode
          - proguard
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeobfuscationFilesUploadResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
  /{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}:
    get:
      description: Fetches the Expansion File configuration for the APK specified.
      operationId: androidpublisher.edits.expansionfiles.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: The version code of the APK whose Expansion File configuration
          is being read or modified.
        explode: false
        in: path
        name: apkVersionCode
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: expansionFileType
        required: true
        schema:
          enum:
          - main
          - patch
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExpansionFile'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
    patch:
      description: Updates the APK's Expansion File configuration to reference another
        APK's Expansion Files. To add a new Expansion File use the Upload method.
        This method supports patch semantics.
      operationId: androidpublisher.edits.expansionfiles.patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: The version code of the APK whose Expansion File configuration
          is being read or modified.
        explode: false
        in: path
        name: apkVersionCode
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: expansionFileType
        required: true
        schema:
          enum:
          - main
          - patch
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpansionFile'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExpansionFile'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-content-type: application/json
      x-accepts:
      - '*/*'
    post:
      description: Uploads and attaches a new Expansion File to the APK specified.
      operationId: androidpublisher.edits.expansionfiles.upload
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: The version code of the APK whose Expansion File configuration
          is being read or modified.
        explode: false
        in: path
        name: apkVersionCode
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: expansionFileType
        required: true
        schema:
          enum:
          - main
          - patch
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExpansionFilesUploadResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
    put:
      description: Updates the APK's Expansion File configuration to reference another
        APK's Expansion Files. To add a new Expansion File use the Upload method.
      operationId: androidpublisher.edits.expansionfiles.update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: The version code of the APK whose Expansion File configuration
          is being read or modified.
        explode: false
        in: path
        name: apkVersionCode
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: expansionFileType
        required: true
        schema:
          enum:
          - main
          - patch
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpansionFile'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExpansionFile'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /{packageName}/edits/{editId}/apks/{apkVersionCode}/listings:
    delete:
      description: Deletes all the APK-specific localized listings for a specified
        APK.
      operationId: androidpublisher.edits.apklistings.deleteall
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: The APK version code whose APK-specific listings should be read
          or modified.
        explode: false
        in: path
        name: apkVersionCode
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - application/json
    get:
      description: Lists all the APK-specific localized listings for a specified APK.
      operationId: androidpublisher.edits.apklistings.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: The APK version code whose APK-specific listings should be read
          or modified.
        explode: false
        in: path
        name: apkVersionCode
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApkListingsListResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
  /{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}:
    delete:
      description: Deletes the APK-specific localized listing for a specified APK
        and language code.
      operationId: androidpublisher.edits.apklistings.delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: The APK version code whose APK-specific listings should be read
          or modified.
        explode: false
        in: path
        name: apkVersionCode
        required: true
        schema:
          type: integer
        style: simple
      - description: "The language code (a BCP-47 language tag) of the APK-specific\
          \ localized listing to read or modify. For example, to select Austrian German,\
          \ pass \"de-AT\"."
        explode: false
        in: path
        name: language
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - application/json
    get:
      description: Fetches the APK-specific localized listing for a specified APK
        and language code.
      operationId: androidpublisher.edits.apklistings.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: The APK version code whose APK-specific listings should be read
          or modified.
        explode: false
        in: path
        name: apkVersionCode
        required: true
        schema:
          type: integer
        style: simple
      - description: "The language code (a BCP-47 language tag) of the APK-specific\
          \ localized listing to read or modify. For example, to select Austrian German,\
          \ pass \"de-AT\"."
        explode: false
        in: path
        name: language
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApkListing'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
    patch:
      description: Updates or creates the APK-specific localized listing for a specified
        APK and language code. This method supports patch semantics.
      operationId: androidpublisher.edits.apklistings.patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: The APK version code whose APK-specific listings should be read
          or modified.
        explode: false
        in: path
        name: apkVersionCode
        required: true
        schema:
          type: integer
        style: simple
      - description: "The language code (a BCP-47 language tag) of the APK-specific\
          \ localized listing to read or modify. For example, to select Austrian German,\
          \ pass \"de-AT\"."
        explode: false
        in: path
        name: language
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApkListing'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApkListing'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-content-type: application/json
      x-accepts:
      - '*/*'
    put:
      description: Updates or creates the APK-specific localized listing for a specified
        APK and language code.
      operationId: androidpublisher.edits.apklistings.update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: The APK version code whose APK-specific listings should be read
          or modified.
        explode: false
        in: path
        name: apkVersionCode
        required: true
        schema:
          type: integer
        style: simple
      - description: "The language code (a BCP-47 language tag) of the APK-specific\
          \ localized listing to read or modify. For example, to select Austrian German,\
          \ pass \"de-AT\"."
        explode: false
        in: path
        name: language
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApkListing'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApkListing'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /{packageName}/edits/{editId}/bundles:
    get:
      operationId: androidpublisher.edits.bundles.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BundlesListResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
    post:
      description: "Uploads a new Android App Bundle to this edit. If you are using\
        \ the Google API client libraries, please increase the timeout of the http\
        \ request before calling this endpoint (a timeout of 2 minutes is recommended).\
        \ See: https://developers.google.com/api-client-library/java/google-api-java-client/errors\
        \ for an example in java."
      operationId: androidpublisher.edits.bundles.upload
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: "Must be set to true if the bundle installation may trigger a\
          \ warning on user devices (for example, if installation size may be over\
          \ a threshold, typically 100 MB)."
        explode: true
        in: query
        name: ackBundleInstallationWarning
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Bundle'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
  /{packageName}/edits/{editId}/details:
    get:
      description: Fetches app details for this edit. This includes the default language
        and developer support contact information.
      operationId: androidpublisher.edits.details.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppDetails'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
    patch:
      description: Updates app details for this edit. This method supports patch semantics.
      operationId: androidpublisher.edits.details.patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppDetails'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppDetails'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-content-type: application/json
      x-accepts:
      - '*/*'
    put:
      description: Updates app details for this edit.
      operationId: androidpublisher.edits.details.update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppDetails'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AppDetails'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /{packageName}/edits/{editId}/listings:
    delete:
      description: Deletes all localized listings from an edit.
      operationId: androidpublisher.edits.listings.deleteall
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - application/json
    get:
      description: Returns all of the localized store listings attached to this edit.
      operationId: androidpublisher.edits.listings.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListingsListResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
  /{packageName}/edits/{editId}/listings/{language}:
    delete:
      description: Deletes the specified localized store listing from an edit.
      operationId: androidpublisher.edits.listings.delete
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: "The language code (a BCP-47 language tag) of the localized listing\
          \ to read or modify. For example, to select Austrian German, pass \"de-AT\"\
          ."
        explode: false
        in: path
        name: language
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - application/json
    get:
      description: Fetches information about a localized store listing.
      operationId: androidpublisher.edits.listings.get
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: "The language code (a BCP-47 language tag) of the localized listing\
          \ to read or modify. For example, to select Austrian German, pass \"de-AT\"\
          ."
        explode: false
        in: path
        name: language
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Listing'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
    patch:
      description: Creates or updates a localized store listing. This method supports
        patch semantics.
      operationId: androidpublisher.edits.listings.patch
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: "The language code (a BCP-47 language tag) of the localized listing\
          \ to read or modify. For example, to select Austrian German, pass \"de-AT\"\
          ."
        explode: false
        in: path
        name: language
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Listing'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Listing'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-content-type: application/json
      x-accepts:
      - '*/*'
    put:
      description: Creates or updates a localized store listing.
      operationId: androidpublisher.edits.listings.update
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: "The language code (a BCP-47 language tag) of the localized listing\
          \ to read or modify. For example, to select Austrian German, pass \"de-AT\"\
          ."
        explode: false
        in: path
        name: language
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Listing'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Listing'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-content-type: application/json
      x-accepts:
      - '*/*'
  /{packageName}/edits/{editId}/listings/{language}/{imageType}:
    delete:
      description: Deletes all images for the specified language and image type.
      operationId: androidpublisher.edits.images.deleteall
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: "The language code (a BCP-47 language tag) of the localized listing\
          \ whose images are to read or modified. For example, to select Austrian\
          \ German, pass \"de-AT\"."
        explode: false
        in: path
        name: language
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: imageType
        required: true
        schema:
          enum:
          - featureGraphic
          - icon
          - phoneScreenshots
          - promoGraphic
          - sevenInchScreenshots
          - tenInchScreenshots
          - tvBanner
          - tvScreenshots
          - wearScreenshots
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ImagesDeleteAllResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
    get:
      description: Lists all images for the specified language and image type.
      operationId: androidpublisher.edits.images.list
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: "The language code (a BCP-47 language tag) of the localized listing\
          \ whose images are to read or modified. For example, to select Austrian\
          \ German, pass \"de-AT\"."
        explode: false
        in: path
        name: language
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: imageType
        required: true
        schema:
          enum:
          - featureGraphic
          - icon
          - phoneScreenshots
          - promoGraphic
          - sevenInchScreenshots
          - tenInchScreenshots
          - tvBanner
          - tvScreenshots
          - wearScreenshots
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ImagesListResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - edits
      x-accepts:
      - '*/*'
    post:
      description: Uploads a new image and adds it to the list of images for the specified
        language and image type.
      operationId: androidpublisher.edits.images.upload
      parameters:
      - description: Data format for the response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          default: json
          enum:
          - json
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: An opaque string that represents a user for quota purposes. Must
          not exceed 40 characters.
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: Deprecated. Please use quotaUser instead.
        explode: true
        in: query
        name: userIp
        required: false
        schema:
          type: string
        style: form
      - description: "Unique identifier for the Android app that is being updated;\
          \ for example, \"com.spiffygame\"."
        explode: false
        in: path
        name: packageName
        required: true
        schema:
          type: string
        style: simple
      - description: Unique identifier for this edit.
        explode: false
        in: path
        name: editId
        required: true
        schema:
          type: string
        style: simple
      - description: "The language code (a BCP-47 language tag) of the localized listing\
          \ whose images are to read or modified. For example, to select Austrian\
          \ German, pass \"de-AT\"."
        explode: false
        in: path
        name: language
        required: true
        schema:
          type: string
        style: simple
[...]
