# ThePlaidApi.VerificationStatus

## Enum


* `VERIFIED` (value: `"VERIFIED"`)

* `UNVERIFIED` (value: `"UNVERIFIED"`)

* `NEEDS_INFO` (value: `"NEEDS_INFO"`)

* `UNABLE_TO_VERIFY` (value: `"UNABLE_TO_VERIFY"`)

* `UNKNOWN` (value: `"UNKNOWN"`)


