openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Google Play Game Services Publishing API allows developers to configure
    their games in Game Services.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Play Game Services Publishing API
  version: v1configuration
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://gamesconfiguration.googleapis.com/$discovery/rest?version=v1configuration
    version: v1
  x-providerName: googleapis.com
  x-serviceName: gamesConfiguration
externalDocs:
  url: https://developers.google.com/games/
servers:
- url: https://gamesconfiguration.googleapis.com/
tags:
- name: achievementConfigurations
- name: leaderboardConfigurations
paths:
  /games/v1configuration/achievements/{achievementId}:
    delete:
      description: Delete the achievement configuration with the given ID.
      operationId: gamesConfiguration.achievementConfigurations.delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the achievement used by this method.
        explode: false
        in: path
        name: achievementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - achievementConfigurations
      x-accepts:
      - application/json
    get:
      description: Retrieves the metadata of the achievement configuration with the
        given ID.
      operationId: gamesConfiguration.achievementConfigurations.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the achievement used by this method.
        explode: false
        in: path
        name: achievementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementConfiguration'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - achievementConfigurations
      x-accepts:
      - application/json
    put:
      description: Update the metadata of the achievement configuration with the given
        ID.
      operationId: gamesConfiguration.achievementConfigurations.update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the achievement used by this method.
        explode: false
        in: path
        name: achievementId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementConfiguration'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementConfiguration'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - achievementConfigurations
      x-content-type: application/json
      x-accepts:
      - application/json
  /games/v1configuration/applications/{applicationId}/achievements:
    get:
      description: Returns a list of the achievement configurations in this application.
      operationId: gamesConfiguration.achievementConfigurations.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The application ID from the Google Play developer console.
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of resource configurations to return in the\
          \ response, used for paging. For any response, the actual number of resources\
          \ returned may be less than the specified `maxResults`."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: integer
        style: form
      - description: The token returned by the previous request.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementConfigurationListResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - achievementConfigurations
      x-accepts:
      - application/json
    post:
      description: Insert a new achievement configuration in this application.
      operationId: gamesConfiguration.achievementConfigurations.insert
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The application ID from the Google Play developer console.
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementConfiguration'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementConfiguration'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - achievementConfigurations
      x-content-type: application/json
      x-accepts:
      - application/json
  /games/v1configuration/applications/{applicationId}/leaderboards:
    get:
      description: Returns a list of the leaderboard configurations in this application.
      operationId: gamesConfiguration.leaderboardConfigurations.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The application ID from the Google Play developer console.
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: "The maximum number of resource configurations to return in the\
          \ response, used for paging. For any response, the actual number of resources\
          \ returned may be less than the specified `maxResults`."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          type: integer
        style: form
      - description: The token returned by the previous request.
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardConfigurationListResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - leaderboardConfigurations
      x-accepts:
      - application/json
    post:
      description: Insert a new leaderboard configuration in this application.
      operationId: gamesConfiguration.leaderboardConfigurations.insert
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The application ID from the Google Play developer console.
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderboardConfiguration'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardConfiguration'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - leaderboardConfigurations
      x-content-type: application/json
      x-accepts:
      - application/json
  /games/v1configuration/leaderboards/{leaderboardId}:
    delete:
      description: Delete the leaderboard configuration with the given ID.
      operationId: gamesConfiguration.leaderboardConfigurations.delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the leaderboard.
        explode: false
        in: path
        name: leaderboardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - leaderboardConfigurations
      x-accepts:
      - application/json
    get:
      description: Retrieves the metadata of the leaderboard configuration with the
        given ID.
      operationId: gamesConfiguration.leaderboardConfigurations.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the leaderboard.
        explode: false
        in: path
        name: leaderboardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardConfiguration'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - leaderboardConfigurations
      x-accepts:
      - application/json
    put:
      description: Update the metadata of the leaderboard configuration with the given
        ID.
      operationId: gamesConfiguration.leaderboardConfigurations.update
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: The ID of the leaderboard.
        explode: false
        in: path
        name: leaderboardId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderboardConfiguration'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardConfiguration'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
        Oauth2c:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - leaderboardConfigurations
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    AchievementConfiguration:
      description: An achievement configuration resource.
      example:
        achievementType: ACHIEVEMENT_TYPE_UNSPECIFIED
        stepsToUnlock: 1
        initialState: INITIAL_STATE_UNSPECIFIED
        kind: kind
        draft:
          pointValue: 0
          kind: kind
          sortRank: 6
          name:
            kind: kind
            translations:
            - kind: kind
              locale: locale
              value: value
            - kind: kind
              locale: locale
              value: value
          description:
            kind: kind
            translations:
            - kind: kind
              locale: locale
              value: value
            - kind: kind
              locale: locale
              value: value
          iconUrl: iconUrl
        id: id
        published:
          pointValue: 0
          kind: kind
          sortRank: 6
          name:
            kind: kind
            translations:
            - kind: kind
              locale: locale
              value: value
            - kind: kind
              locale: locale
              value: value
          description:
            kind: kind
            translations:
            - kind: kind
              locale: locale
              value: value
            - kind: kind
              locale: locale
              value: value
          iconUrl: iconUrl
        token: token
      properties:
        achievementType:
          description: The type of the achievement.
          enum:
          - ACHIEVEMENT_TYPE_UNSPECIFIED
          - STANDARD
          - INCREMENTAL
          type: string
        draft:
          $ref: '#/components/schemas/AchievementConfigurationDetail'
        id:
          description: The ID of the achievement.
          type: string
        initialState:
          description: The initial state of the achievement.
          enum:
          - INITIAL_STATE_UNSPECIFIED
          - HIDDEN
          - REVEALED
          type: string
        kind:
          description: Uniquely identifies the type of this resource. Value is always
            the fixed string `gamesConfiguration#achievementConfiguration`.
          type: string
        published:
          $ref: '#/components/schemas/AchievementConfigurationDetail'
        stepsToUnlock:
          description: Steps to unlock. Only applicable to incremental achievements.
          format: int32
          type: integer
        token:
          description: The token for this resource.
          type: string
      type: object
    AchievementConfigurationDetail:
      description: An achievement configuration detail.
      example:
        pointValue: 0
        kind: kind
        sortRank: 6
        name:
          kind: kind
          translations:
          - kind: kind
            locale: locale
            value: value
          - kind: kind
            locale: locale
            value: value
        description:
          kind: kind
          translations:
          - kind: kind
            locale: locale
            value: value
          - kind: kind
            locale: locale
            value: value
        iconUrl: iconUrl
      properties:
        description:
          $ref: '#/components/schemas/LocalizedStringBundle'
        iconUrl:
          description: The icon url of this achievement. Writes to this field are
            ignored.
          type: string
        kind:
          description: Uniquely identifies the type of this resource. Value is always
            the fixed string `gamesConfiguration#achievementConfigurationDetail`.
          type: string
        name:
          $ref: '#/components/schemas/LocalizedStringBundle'
        pointValue:
          description: Point value for the achievement.
          format: int32
          type: integer
        sortRank:
          description: The sort rank of this achievement. Writes to this field are
            ignored.
          format: int32
          type: integer
      type: object
    AchievementConfigurationListResponse:
      description: A ListConfigurations response.
      example:
        kind: kind
        nextPageToken: nextPageToken
        items:
        - achievementType: ACHIEVEMENT_TYPE_UNSPECIFIED
          stepsToUnlock: 1
          initialState: INITIAL_STATE_UNSPECIFIED
          kind: kind
          draft:
            pointValue: 0
            kind: kind
            sortRank: 6
            name:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            description:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            iconUrl: iconUrl
          id: id
          published:
            pointValue: 0
            kind: kind
            sortRank: 6
            name:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            description:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            iconUrl: iconUrl
          token: token
        - achievementType: ACHIEVEMENT_TYPE_UNSPECIFIED
          stepsToUnlock: 1
          initialState: INITIAL_STATE_UNSPECIFIED
          kind: kind
          draft:
            pointValue: 0
            kind: kind
            sortRank: 6
            name:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            description:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            iconUrl: iconUrl
          id: id
          published:
            pointValue: 0
            kind: kind
            sortRank: 6
            name:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            description:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            iconUrl: iconUrl
          token: token
      properties:
        items:
          description: The achievement configurations.
          items:
            $ref: '#/components/schemas/AchievementConfiguration'
          type: array
        kind:
          description: Uniquely identifies the type of this resource. Value is always
            the fixed string `gamesConfiguration#achievementConfigurationListResponse`.
          type: string
        nextPageToken:
          description: The pagination token for the next page of results.
          type: string
      type: object
    GamesNumberAffixConfiguration:
      description: A number affix resource.
      example:
        zero:
          kind: kind
          translations:
          - kind: kind
            locale: locale
            value: value
          - kind: kind
            locale: locale
            value: value
        other:
          kind: kind
          translations:
          - kind: kind
            locale: locale
            value: value
          - kind: kind
            locale: locale
            value: value
        one:
          kind: kind
          translations:
          - kind: kind
            locale: locale
            value: value
          - kind: kind
            locale: locale
            value: value
        few:
          kind: kind
          translations:
          - kind: kind
            locale: locale
            value: value
          - kind: kind
            locale: locale
            value: value
        many:
          kind: kind
          translations:
          - kind: kind
            locale: locale
            value: value
          - kind: kind
            locale: locale
            value: value
        two:
          kind: kind
          translations:
          - kind: kind
            locale: locale
            value: value
          - kind: kind
            locale: locale
            value: value
      properties:
        few:
          $ref: '#/components/schemas/LocalizedStringBundle'
        many:
          $ref: '#/components/schemas/LocalizedStringBundle'
        one:
          $ref: '#/components/schemas/LocalizedStringBundle'
        other:
          $ref: '#/components/schemas/LocalizedStringBundle'
        two:
          $ref: '#/components/schemas/LocalizedStringBundle'
        zero:
          $ref: '#/components/schemas/LocalizedStringBundle'
      type: object
    GamesNumberFormatConfiguration:
      description: A number format resource.
      example:
        numberFormatType: NUMBER_FORMAT_TYPE_UNSPECIFIED
        numDecimalPlaces: 0
        suffix:
          zero:
            kind: kind
            translations:
            - kind: kind
              locale: locale
              value: value
            - kind: kind
              locale: locale
              value: value
          other:
            kind: kind
            translations:
            - kind: kind
              locale: locale
              value: value
            - kind: kind
              locale: locale
              value: value
          one:
            kind: kind
            translations:
            - kind: kind
              locale: locale
              value: value
            - kind: kind
              locale: locale
              value: value
          few:
            kind: kind
            translations:
            - kind: kind
              locale: locale
              value: value
            - kind: kind
              locale: locale
              value: value
          many:
            kind: kind
            translations:
            - kind: kind
              locale: locale
              value: value
            - kind: kind
              locale: locale
              value: value
          two:
            kind: kind
            translations:
            - kind: kind
              locale: locale
              value: value
            - kind: kind
              locale: locale
              value: value
        currencyCode: currencyCode
      properties:
        currencyCode:
          description: The curreny code string. Only used for CURRENCY format type.
          type: string
        numDecimalPlaces:
          description: The number of decimal places for number. Only used for NUMERIC
            format type.
          format: int32
          type: integer
        numberFormatType:
          description: The formatting for the number.
          enum:
          - NUMBER_FORMAT_TYPE_UNSPECIFIED
          - NUMERIC
          - TIME_DURATION
          - CURRENCY
          type: string
        suffix:
          $ref: '#/components/schemas/GamesNumberAffixConfiguration'
      type: object
    LeaderboardConfiguration:
      description: An leaderboard configuration resource.
      example:
        kind: kind
        draft:
          kind: kind
          scoreFormat:
            numberFormatType: NUMBER_FORMAT_TYPE_UNSPECIFIED
            numDecimalPlaces: 0
            suffix:
              zero:
                kind: kind
                translations:
                - kind: kind
                  locale: locale
                  value: value
                - kind: kind
                  locale: locale
                  value: value
              other:
                kind: kind
                translations:
                - kind: kind
                  locale: locale
                  value: value
                - kind: kind
                  locale: locale
                  value: value
              one:
                kind: kind
                translations:
                - kind: kind
                  locale: locale
                  value: value
                - kind: kind
                  locale: locale
                  value: value
              few:
                kind: kind
                translations:
                - kind: kind
                  locale: locale
                  value: value
                - kind: kind
                  locale: locale
                  value: value
              many:
                kind: kind
                translations:
                - kind: kind
                  locale: locale
                  value: value
                - kind: kind
                  locale: locale
                  value: value
              two:
                kind: kind
                translations:
                - kind: kind
                  locale: locale
                  value: value
                - kind: kind
                  locale: locale
                  value: value
            currencyCode: currencyCode
          sortRank: 6
          name:
            kind: kind
            translations:
            - kind: kind
              locale: locale
              value: value
            - kind: kind
              locale: locale
              value: value
          iconUrl: iconUrl
        scoreOrder: SCORE_ORDER_UNSPECIFIED
        id: id
        published:
          kind: kind
          scoreFormat:
            numberFormatType: NUMBER_FORMAT_TYPE_UNSPECIFIED
            numDecimalPlaces: 0
            suffix:
              zero:
                kind: kind
                translations:
                - kind: kind
                  locale: locale
                  value: value
                - kind: kind
                  locale: locale
                  value: value
              other:
                kind: kind
                translations:
                - kind: kind
                  locale: locale
                  value: value
                - kind: kind
                  locale: locale
                  value: value
              one:
                kind: kind
                translations:
                - kind: kind
                  locale: locale
                  value: value
                - kind: kind
                  locale: locale
                  value: value
              few:
                kind: kind
                translations:
                - kind: kind
                  locale: locale
                  value: value
                - kind: kind
                  locale: locale
                  value: value
              many:
                kind: kind
                translations:
                - kind: kind
                  locale: locale
                  value: value
                - kind: kind
                  locale: locale
                  value: value
              two:
                kind: kind
                translations:
                - kind: kind
                  locale: locale
                  value: value
                - kind: kind
                  locale: locale
                  value: value
            currencyCode: currencyCode
          sortRank: 6
          name:
            kind: kind
            translations:
            - kind: kind
              locale: locale
              value: value
            - kind: kind
              locale: locale
              value: value
          iconUrl: iconUrl
        scoreMax: scoreMax
        scoreMin: scoreMin
        token: token
      properties:
        draft:
          $ref: '#/components/schemas/LeaderboardConfigurationDetail'
        id:
          description: The ID of the leaderboard.
          type: string
        kind:
          description: Uniquely identifies the type of this resource. Value is always
            the fixed string `gamesConfiguration#leaderboardConfiguration`.
          type: string
        published:
          $ref: '#/components/schemas/LeaderboardConfigurationDetail'
        scoreMax:
          description: Maximum score that can be posted to this leaderboard.
          format: int64
          type: string
        scoreMin:
          description: Minimum score that can be posted to this leaderboard.
          format: int64
          type: string
        scoreOrder:
          enum:
          - SCORE_ORDER_UNSPECIFIED
          - LARGER_IS_BETTER
          - SMALLER_IS_BETTER
          type: string
        token:
          description: The token for this resource.
          type: string
      type: object
    LeaderboardConfigurationDetail:
      description: A leaderboard configuration detail.
      example:
        kind: kind
        scoreFormat:
          numberFormatType: NUMBER_FORMAT_TYPE_UNSPECIFIED
          numDecimalPlaces: 0
          suffix:
            zero:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            other:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            one:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            few:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            many:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            two:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
          currencyCode: currencyCode
        sortRank: 6
        name:
          kind: kind
          translations:
          - kind: kind
            locale: locale
            value: value
          - kind: kind
            locale: locale
            value: value
        iconUrl: iconUrl
      properties:
        iconUrl:
          description: The icon url of this leaderboard. Writes to this field are
            ignored.
          type: string
        kind:
          description: Uniquely identifies the type of this resource. Value is always
            the fixed string `gamesConfiguration#leaderboardConfigurationDetail`.
          type: string
        name:
          $ref: '#/components/schemas/LocalizedStringBundle'
        scoreFormat:
          $ref: '#/components/schemas/GamesNumberFormatConfiguration'
        sortRank:
          description: The sort rank of this leaderboard. Writes to this field are
            ignored.
          format: int32
          type: integer
      type: object
    LeaderboardConfigurationListResponse:
      description: A ListConfigurations response.
      example:
        kind: kind
        nextPageToken: nextPageToken
        items:
        - kind: kind
          draft:
            kind: kind
            scoreFormat:
              numberFormatType: NUMBER_FORMAT_TYPE_UNSPECIFIED
              numDecimalPlaces: 0
              suffix:
                zero:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                other:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                one:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                few:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                many:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                two:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
              currencyCode: currencyCode
            sortRank: 6
            name:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            iconUrl: iconUrl
          scoreOrder: SCORE_ORDER_UNSPECIFIED
          id: id
          published:
            kind: kind
            scoreFormat:
              numberFormatType: NUMBER_FORMAT_TYPE_UNSPECIFIED
              numDecimalPlaces: 0
              suffix:
                zero:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                other:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                one:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                few:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                many:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                two:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
              currencyCode: currencyCode
            sortRank: 6
            name:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            iconUrl: iconUrl
          scoreMax: scoreMax
          scoreMin: scoreMin
          token: token
        - kind: kind
          draft:
            kind: kind
            scoreFormat:
              numberFormatType: NUMBER_FORMAT_TYPE_UNSPECIFIED
              numDecimalPlaces: 0
              suffix:
                zero:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                other:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                one:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                few:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                many:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                two:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
              currencyCode: currencyCode
            sortRank: 6
            name:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            iconUrl: iconUrl
          scoreOrder: SCORE_ORDER_UNSPECIFIED
          id: id
          published:
            kind: kind
            scoreFormat:
              numberFormatType: NUMBER_FORMAT_TYPE_UNSPECIFIED
              numDecimalPlaces: 0
              suffix:
                zero:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                other:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                one:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                few:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                many:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
                two:
                  kind: kind
                  translations:
                  - kind: kind
                    locale: locale
                    value: value
                  - kind: kind
                    locale: locale
                    value: value
              currencyCode: currencyCode
            sortRank: 6
            name:
              kind: kind
              translations:
              - kind: kind
                locale: locale
                value: value
              - kind: kind
                locale: locale
                value: value
            iconUrl: iconUrl
          scoreMax: scoreMax
          scoreMin: scoreMin
          token: token
      properties:
        items:
          description: The leaderboard configurations.
          items:
            $ref: '#/components/schemas/LeaderboardConfiguration'
          type: array
        kind:
          description: Uniquely identifies the type of this resource. Value is always
            the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`.
          type: string
        nextPageToken:
          description: The pagination token for the next page of results.
          type: string
      type: object
    LocalizedString:
      description: A localized string resource.
      example:
        kind: kind
        locale: locale
        value: value
      properties:
        kind:
          description: Uniquely identifies the type of this resource. Value is always
            the fixed string `gamesConfiguration#localizedString`.
          type: string
        locale:
          description: The locale string.
          type: string
        value:
          description: The string value.
          type: string
      type: object
    LocalizedStringBundle:
      description: A localized string bundle resource.
      example:
        kind: kind
        translations:
        - kind: kind
          locale: locale
          value: value
        - kind: kind
          locale: locale
          value: value
      properties:
        kind:
          description: Uniquely identifies the type of this resource. Value is always
            the fixed string `gamesConfiguration#localizedStringBundle`.
          type: string
        translations:
          description: The locale strings.
          items:
            $ref: '#/components/schemas/LocalizedString'
          type: array
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/androidpublisher: View and manage your
              Google Play Developer account
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/androidpublisher: View and manage your
              Google Play Developer account
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2

