openapi: 3.0.1
info:
  contact: {}
  description: |
    This API allows you to interact with the VictorOps platform in various ways. Your account may be limited
    to a total number of API calls per month. Also, some of these API calls have rate limits.

    NOTE: In this documentation when creating a sample curl request (clicking the TRY IT OUT! button), in some API
    viewing interfaces, the '@' in an email address may be encoded. Please note that the REST endpoints will not
    process the encoded version. Make sure that the encoded character '%40' is changed to its unencoded form before
    submitting the curl request.
  title: VictorOps
  version: 0.0.3
  x-apisguru-categories:
  - developer_tools
  x-logo:
    url: https://twitter.com/VictorOps/profile_image?size=original
  x-origin:
  - format: swagger
    url: https://portal.victorops.com/public/api-docs/victorops-api-v1.yaml
    version: "2.0"
  x-providerName: victorops.com
servers:
- url: https://api.victorops.com/
tags:
- name: On-call
- name: Incidents
- name: Alerts
- name: Reporting
- name: Users
- name: User Contact Methods
- name: User Paging Policies
- name: Personal Paging Policy Values
- name: Personal Paging Policies
- name: Teams
- name: Escalation Policies
- name: Routing Keys
- name: Scheduled Overrides
paths:
  /api-public/v1/alerts/{uuid}:
    get:
      description: |
        Retrieve the details of an alert that was sent VictorOps by you.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_alerts_uuid_get
      parameters:
      - description: Your API ID
        in: header
        name: X-VO-Api-Id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: X-VO-Api-Key
        required: true
        schema:
          type: string
      - description: The VictorOps uuid of the alert
        in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAlertResponse'
          description: |
            The alert, if found.
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Retrieve alert details.
      tags:
      - Alerts
      x-openapi-router-controller: openapi_server.controllers.alerts_controller
  /api-public/v1/incidents:
    get:
      description: |
        Get a list of the currently open, acknowledged and recently resolved incidents.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_incidents_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveIncidentList'
          description: |
            The set of incidents.
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Path not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Get current incident information
      tags:
      - Incidents
      x-openapi-router-controller: openapi_server.controllers.incidents_controller
    post:
      description: |
        Create a new incident.

        This call replicates the function of our
        <a href="https://help.victorops.com/knowledge-base/manual-incident-creation/">manual incident creation process</a>.
        Monitoring tools and custom integrations
        should be configured using our
        <a href="https://help.victorops.com/knowledge-base/victorops-restendpoint-integration/">REST Endpoint</a>.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_incidents_post
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateIncidentRequest'
        description: The incident details
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedIncident'
          description: |
            Information about the incident created
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Path not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Create a new incident
      tags:
      - Incidents
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.incidents_controller
  /api-public/v1/incidents/ack:
    patch:
      description: |
        The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_incidents_ack_patch
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AckOrResolveRequest'
        description: Ack/Resolve payload
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AckOrResolveResponse'
          description: The result of each acknowledge incident action.
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Acknowledge an incident or list of incidents
      tags:
      - Incidents
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.incidents_controller
  /api-public/v1/incidents/byUser/ack:
    patch:
      description: |
        The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_incidents_by_user_ack_patch
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AckOrResolveByUserRequest'
        description: Ack/Resolve payload
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AckOrResolveResponse'
          description: The result of each acknowledge incident action.
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Acknowledge all incidents for which a user was paged.
      tags:
      - Incidents
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.incidents_controller
  /api-public/v1/incidents/byUser/resolve:
    patch:
      description: |
        The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_incidents_by_user_resolve_patch
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AckOrResolveByUserRequest'
        description: Ack/Resolve payload
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AckOrResolveResponse'
          description: The result of each resolve incident action.
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Resolve all incidents for which a user was paged.
      tags:
      - Incidents
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.incidents_controller
  /api-public/v1/incidents/reroute:
    post:
      description: |
        Reroute one or more incidents to one or more users and/or escalation policies

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_incidents_reroute_post
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RerouteCollection'
        description: The reroute rules
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerouteStatusResponse'
          description: The created reroute object
      summary: Reroute one or more incidents to one or more new routable destinations.
      tags:
      - Incidents
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.incidents_controller
  /api-public/v1/incidents/resolve:
    patch:
      description: |
        The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_incidents_resolve_patch
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AckOrResolveRequest'
        description: Ack/Resolve payload
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AckOrResolveResponse'
          description: The result of each resolve incident action.
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Resolve an incident or list of incidents
      tags:
      - Incidents
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.incidents_controller
  /api-public/v1/maintenancemode:
    get:
      operationId: api_public_v1_maintenancemode_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceModeState'
          description: maintenance mode state
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "500":
          content: {}
          description: Internal Server Error
      summary: Get an organization's current maintenance mode state
      tags:
      - Maintenance Mode
      x-openapi-router-controller: openapi_server.controllers.maintenance_mode_controller
  /api-public/v1/maintenancemode/start:
    post:
      operationId: api_public_v1_maintenancemode_start_post
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/_api_public_v1_maintenancemode_start_post_request'
        description: the definition of the maintenance mode you want to start
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceModeState'
          description: maintenance mode state
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "409":
          content: {}
          description: You have an active global maintanance mode and are attempting
            to start a second. You may only have a single Global maintenance mode
            at a time
        "420":
          content: {}
          description: You have reached the limit of allowed active maintenance modes
        "500":
          content: {}
          description: Internal Server Error
      summary: Start maintenance mode for routing keys
      tags:
      - Maintenance Mode
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.maintenance_mode_controller
  /api-public/v1/maintenancemode/{maintenancemodeid}/end:
    put:
      operationId: api_public_v1_maintenancemode_maintenancemodeid_end_put
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The id of the maintenance mode found in the active maintenance
          mode object
        in: path
        name: maintenancemodeid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceModeState'
          description: maintenance mode state
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "500":
          content: {}
          description: Internal Server Error
      summary: End maintenance mode for routing keys
      tags:
      - Maintenance Mode
      x-openapi-router-controller: openapi_server.controllers.maintenance_mode_controller
  /api-public/v1/oncall/current:
    get:
      description: |
        Get all on-call users/teams for your organization.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_oncall_current_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_oncall_current_get_200_response'
          description: All users and escalation policies currently on call
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "500":
          content: {}
          description: Internal Server Error
      summary: Get an organization's on-call users
      tags:
      - On-call
      x-openapi-router-controller: openapi_server.controllers.on_call_controller
  /api-public/v1/org/routing-keys:
    get:
      description: |-
        Retrieves a list of routing keys and associated teams.
        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_org_routing_keys_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoutingKeysResponse'
          description: The list of routing keys and associated teams
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Path not found
        "500":
          content: {}
          description: Internal Server Error
      summary: List routing keys with associated teams
      tags:
      - Routing Keys
      x-openapi-router-controller: openapi_server.controllers.routing_keys_controller
  /api-public/v1/overrides:
    get:
      description: |
        List all the scheduled overrides on the organization

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_overrides_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_overrides_get_200_response'
          description: A list of scheduled overrides for your organization
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Path not found
        "422":
          content: {}
          description: |
            You have reached your user limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: List the scheduled overrides
      tags:
      - Scheduled Overrides
      x-openapi-router-controller: openapi_server.controllers.scheduled_overrides_controller
    post:
      description: |
        Creates a new scheduled override. Start and end dates are in ISO8601 format. E.g. `2018-09-28'T'05:00:00Z`

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_overrides_post
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ScheduledOverridePayload'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_overrides_post_200_response'
          description: The created scheduled override
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Path not found
        "422":
          content: {}
          description: |
            You have reached your user limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Creates a new scheduled override
      tags:
      - Scheduled Overrides
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.scheduled_overrides_controller
  /api-public/v1/overrides/{publicId}:
    delete:
      description: |
        Deletes a scheduled override

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_overrides_public_id_delete
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The publicId of the scheduled override
        in: path
        name: publicId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Whether or not the delete was successful
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Path not found
        "422":
          content: {}
          description: |
            You have reached your user limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Deletes a scheduled override
      tags:
      - Scheduled Overrides
      x-openapi-router-controller: openapi_server.controllers.scheduled_overrides_controller
    get:
      description: |
        Get the specified scheduled override

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_overrides_public_id_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The publicId of the scheduled override
        in: path
        name: publicId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_overrides__publicId__get_200_response'
          description: The scheduled override
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Path not found
        "422":
          content: {}
          description: |
            You have reached your user limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Get the specified scheduled override
      tags:
      - Scheduled Overrides
      x-openapi-router-controller: openapi_server.controllers.scheduled_overrides_controller
  /api-public/v1/overrides/{publicId}/assignments:
    get:
      description: |
        Get the specified scheduled override assignments

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_overrides_public_id_assignments_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The publicId of the scheduled override
        in: path
        name: publicId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Assignment'
                type: array
          description: The assignments for a given scheduled override
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Path not found
        "422":
          content: {}
          description: |
            You have reached your user limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Get the specified scheduled override
      tags:
      - Scheduled Overrides
      x-openapi-router-controller: openapi_server.controllers.scheduled_overrides_controller
  /api-public/v1/overrides/{publicId}/assignments/{policySlug}:
    delete:
      description: |
        Delete the scheduled override assignment

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_overrides_public_id_assignments_policy_slug_delete
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The publicId of the scheduled override
        in: path
        name: publicId
        required: true
        schema:
          type: string
      - description: The policySlug of the assignment
        in: path
        name: policySlug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: The assignment that was deleted for the given scheduled override
            and policySlug
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Path not found
        "422":
          content: {}
          description: |
            You have reached your user limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Delete the scheduled override assignment
      tags:
      - Scheduled Overrides
      x-openapi-router-controller: openapi_server.controllers.scheduled_overrides_controller
    get:
      description: |
        Get the specified scheduled override assignments

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_overrides_public_id_assignments_policy_slug_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The publicId of the scheduled override
        in: path
        name: publicId
        required: true
        schema:
          type: string
      - description: The policySlug of the assignment
        in: path
        name: policySlug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: The assignment for the given publicId
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Path not found
        "422":
          content: {}
          description: |
            You have reached your user limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Get the specified scheduled override assignment
      tags:
      - Scheduled Overrides
      x-openapi-router-controller: openapi_server.controllers.scheduled_overrides_controller
    put:
      description: |
        Update the scheduled override assignment

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_overrides_public_id_assignments_policy_slug_put
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The publicId of the scheduled override
        in: path
        name: publicId
        required: true
        schema:
          type: string
      - description: The policySlug of the assignment
        in: path
        name: policySlug
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateAssignment'
        description: The policy and username we are assigning
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
          description: The assignment for the given policySlug
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Path not found
        "422":
          content: {}
          description: |
            You have reached your user limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Update the scheduled override assignment
      tags:
      - Scheduled Overrides
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.scheduled_overrides_controller
  /api-public/v1/policies:
    get:
      description: |-
        Retrieves a list of escalation policy information.
        This API may be called a maximum of once a minute.
      operationId: api_public_v1_policies_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscalationPolicyInfoList'
          description: The list of escalation policies
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Path not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Get escalation policy info
      tags:
      - Escalation Policies
      x-openapi-router-controller: openapi_server.controllers.escalation_policies_controller
  /api-public/v1/policies/types/contacts:
    get:
      description: |
        Get the available contact types

        description: "Email Address", type: "email"
        description: "Phone Number", type: "phone"

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_policies_types_contacts_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_policies_types_contacts_get_200_response'
          description: All the available contact types
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "500":
          content: {}
          description: Internal Server Error
      summary: Get the available contact types
      tags:
      - Personal Paging Policy Values
      x-openapi-router-controller: openapi_server.controllers.personal_paging_policy_values_controller
  /api-public/v1/policies/types/notifications:
    get:
      description: |
        Get the available notification types

        description: "Send a push notification to all my devices", type: "push"
        description: "Send an email to an email address", type: "email"
        description: "Send an SMS to a phone number", type: "sms"
        description: "Make a phone call to a phone number", type: "phone"

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_policies_types_notifications_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_policies_types_notifications_get_200_response'
          description: All the available contact types
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "500":
          content: {}
          description: Internal Server Error
      summary: Get the available notification types
      tags:
      - Personal Paging Policy Values
      x-openapi-router-controller: openapi_server.controllers.personal_paging_policy_values_controller
  /api-public/v1/policies/types/timeouts:
    get:
      description: |
        Get the available timeout values

        description: "If still unacked after 1 minute", type: 1
        description: "If still unacked after 5 minutes", type: 5
        description: "If still unacked after 10 minutes", type: 10
        description: "If still unacked after 15 minutes", type: 15
        description: "If still unacked after 20 minutes", type: 20
        description: "If still unacked after 25 minutes", type: 25
        description: "If still unacked after 30 minutes", type: 30
        description: "If still unacked after 45 minutes", type: 45
        description: "If still unacked after 60 minutes", type: 60

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_policies_types_timeouts_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_policies_types_timeouts_get_200_response'
          description: All the available timeout types.
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "500":
          content: {}
          description: Internal Server Error
      summary: Get the available timeout values
      tags:
      - Personal Paging Policy Values
      x-openapi-router-controller: openapi_server.controllers.personal_paging_policy_values_controller
  /api-public/v1/policies/{policy}/oncall/user:
    patch:
      description: |
        Replaces a currently on-call user in the escalation policy with another.  In many cases, the policy slug
        will match the slug of the team that contains it.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_policies_policy_oncall_user_patch
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps policy 'slug'
        in: path
        name: policy
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/TakeRequest'
        description: The take on-call payload
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TakeResult'
          description: The result of the take request
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Team or user(s) not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Create an on-call override (take on-call)
      tags:
      - On-call
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.on_call_controller
  /api-public/v1/profile/{username}/policies:
    get:
      description: |
        Get all the paging policy steps for the user on the org associated with the API key

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_profile_username_policies_get
      parameters:
      - description: Your username
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_profile__username__policies_get_200_response'
          description: All steps of the user's paging policy
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "500":
          content: {}
          description: Internal Server Error
      summary: Get the user's paging policy
      tags:
      - Personal Paging Policies
      x-openapi-router-controller: openapi_server.controllers.personal_paging_policies_controller
    post:
      description: |
        Create a paging policy step

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_profile_username_policies_post
      parameters:
      - description: Your username
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddGroupPayload'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_profile__username__policies_post_200_response'
          description: The created paging policy step
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "500":
          content: {}
          description: Internal Server Error
      summary: Create a paging policy step
      tags:
      - Personal Paging Policies
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.personal_paging_policies_controller
  /api-public/v1/profile/{username}/policies/{step}:
    get:
      description: |
        Get a paging policy step

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_profile_username_policies_step_get
      parameters:
      - description: Your username
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: Paging policy step
        in: path
        name: step
        required: true
        schema:
          type: number
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_profile__username__policies_post_200_response'
          description: The paging policy step
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "500":
          content: {}
          description: Internal Server Error
      summary: Get a paging policy step
      tags:
      - Personal Paging Policies
      x-openapi-router-controller: openapi_server.controllers.personal_paging_policies_controller
    post:
      description: |
        Create a rule for a paging policy step

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_profile_username_policies_step_post
      parameters:
      - description: Your username
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: Paging policy step
        in: path
        name: step
        required: true
        schema:
          type: number
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddStepPayload'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_profile__username__policies__step__post_200_response'
          description: The created rule for the paging policy step
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "500":
          content: {}
          description: Internal Server Error
      summary: Create a rule for a paging policy step
      tags:
      - Personal Paging Policies
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.personal_paging_policies_controller
    put:
      description: |
        Update a paging policy step

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_profile_username_policies_step_put
      parameters:
      - description: Your username
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: Paging policy step
        in: path
        name: step
        required: true
        schema:
          type: number
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddGroupPayload'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_profile__username__policies_post_200_response'
          description: The updated paging policy step
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "500":
          content: {}
          description: Internal Server Error
      summary: Update a paging policy step
      tags:
      - Personal Paging Policies
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.personal_paging_policies_controller
  /api-public/v1/profile/{username}/policies/{step}/{rule}:
    delete:
      description: |
        Delete a rule from a paging policy step

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_profile_username_policies_step_rule_delete
      parameters:
      - description: Your username
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: Paging policy step
        in: path
        name: step
        required: true
        schema:
          type: number
      - description: Rule for a paging policy step
        in: path
        name: rule
        required: true
        schema:
          type: number
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_profile__username__policies__step__post_200_response'
          description: The deleted rule from the paging policy step
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "500":
          content: {}
          description: Internal Server Error
      summary: Delete a rule from a paging policy step
      tags:
      - Personal Paging Policies
      x-openapi-router-controller: openapi_server.controllers.personal_paging_policies_controller
    get:
      description: |
        Get a rule from a paging policy step

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_profile_username_policies_step_rule_get
      parameters:
      - description: Your username
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: Paging policy step
        in: path
        name: step
        required: true
        schema:
          type: number
      - description: Rule for a paging policy step
        in: path
        name: rule
        required: true
        schema:
          type: number
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_profile__username__policies__step__post_200_response'
          description: The rule from the paging policy step
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "500":
          content: {}
          description: Internal Server Error
      summary: Get a rule from a paging policy step
      tags:
      - Personal Paging Policies
      x-openapi-router-controller: openapi_server.controllers.personal_paging_policies_controller
    put:
      description: |
        Update a rule for a paging policy step

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_profile_username_policies_step_rule_put
      parameters:
      - description: Your username
        in: path
        name: username
        required: true
        schema:
          type: string
      - description: Paging policy step
        in: path
        name: step
        required: true
        schema:
          type: number
      - description: Rule for a paging policy step
        in: path
        name: rule
        required: true
        schema:
          type: number
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddStepPayload'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_profile__username__policies__step__post_200_response'
          description: The updated rule for the paging policy step
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "500":
          content: {}
          description: Internal Server Error
      summary: Update a rule for a paging policy step
      tags:
      - Personal Paging Policies
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.personal_paging_policies_controller
  /api-public/v1/team:
    get:
      description: |
        Get a list of teams for your organization.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_team_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTeamResponse'
          description: A list of teams for your organization
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Team not found
        "422":
          content: {}
          description: |
            You have reached your team limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: List teams
      tags:
      - Teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
    post:
      description: |
        Add a team to your organization.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_team_post
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddTeamPayload'
        description: The team information
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTeamResponse'
          description: Some details about the team that was added
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Team not found
        "422":
          content: {}
          description: |
            Team name or email is unavailable, or you have reached your team limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Add a team
      tags:
      - Teams
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /api-public/v1/team/{team}:
    delete:
      description: |
        Remove a team from your organization.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_team_team_delete
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps team to be deleted
        in: path
        name: team
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Team was deleted
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Team not found
        "422":
          content: {}
          description: |
            There was a problem with the delete such as the replacement team was not found.
        "500":
          content: {}
          description: Internal Server Error
      summary: Remove a team
      tags:
      - Teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
    get:
      description: |
        Get the information for the specified team.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_team_team_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps team to fetch
        in: path
        name: team
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTeamResponse'
          description: Some details about the team that was added
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Team not found
        "422":
          content: {}
          description: |
            Team name or email is unavailable, or you have reached your team limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Retrieve information for a team
      tags:
      - Teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
    put:
      description: |
        Update the designated team

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_team_team_put
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps team to be updated
        in: path
        name: team
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddTeamPayload'
        description: The team information
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTeamResponse'
          description: Some details about the team that was added
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Team not found
        "422":
          content: {}
          description: |
            Team name or email is unavailable, or you have reached your team limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Update a team
      tags:
      - Teams
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /api-public/v1/team/{team}/admins:
    get:
      description: |
        Get the team admins for the specified team.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_team_team_admins_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps team
        in: path
        name: team
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamAdminsResponse'
          description: Some details about the team that was added
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Team not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Retrieve a list of team admins for a team
      tags:
      - Teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /api-public/v1/team/{team}/members:
    get:
      description: |
        Get the members for the specified team.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_team_team_members_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps team to fetch
        in: path
        name: team
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTeamMembersResponse'
          description: Some details about the team that was added
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Team not found
        "422":
          content: {}
          description: |
            Team name or email is unavailable, or you have reached your team limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Retrieve a list of members for a team
      tags:
      - Teams
      x-openapi-router-controller: openapi_server.controllers.teams_controller
    post:
      description: |
        Add a team member to your team.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_team_team_members_post
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps team to fetch
        in: path
        name: team
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddTeamMemberPayload'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTeamMembersResponse'
          description: Some details about the team that was added
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Team not found
        "422":
          content: {}
          description: |
            Team name or email is unavailable, or you have reached your team limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Add a team member
      tags:
      - Teams
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /api-public/v1/team/{team}/members/{user}:
    delete:
      description: |
        Remove a team from your organization.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_team_team_members_user_delete
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps team to be deleted
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: The team member username
        in: path
        name: user
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RemoveTeamMemberPayload'
        description: The user information
        required: true
        x-body-name: body
      responses:
        "200":
          content: {}
          description: Team was deleted
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Team not found
        "422":
          content: {}
          description: |
            There was a problem with the delete such as the replacement team member was not found.
        "500":
          content: {}
          description: Internal Server Error
      summary: Remove a team member
      tags:
      - Teams
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.teams_controller
  /api-public/v1/team/{team}/oncall/schedule:
    get:
      deprecated: true
      description: |
        __NOTE: This call is deprecated. Please use `GET /api-public/v2/team/{team}/oncall/schedule`.__

        Get the on-call schedule for a team, including on-call overrides.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_team_team_oncall_schedule_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps team 'slug'
        in: path
        name: team
        required: true
        schema:
          type: string
      - description: Days to include in returned schedule (30 max)
        in: query
        name: daysForward
        schema:
          default: 14.0
          maximum: 30
          minimum: 0
          type: number
      - description: Days to skip before computing schedule to return (90 max)
        in: query
        name: daysSkip
        schema:
          default: 0.0
          maximum: 90
          minimum: 0
          type: number
      - description: Step of escalation policy (3 max)
        in: query
        name: step
        schema:
          default: 0.0
          maximum: 3
          minimum: 0
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnCallAndOverrides'
          description: The on-call schedule for the team
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Team not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Get a team's on-call schedule
      tags:
      - On-call
      x-openapi-router-controller: openapi_server.controllers.on_call_controller
  /api-public/v1/team/{team}/oncall/user:
    patch:
      deprecated: true
      description: |
        __NOTE: This API call is deprecated. Please use `PATCH /api-public/v2/policies/{policy}/oncall/user`__

        Replaces a currently on-call user on the team with another.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_team_team_oncall_user_patch
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps team 'slug'
        in: path
        name: team
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/TakeRequest'
        description: The take on-call payload
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TakeResult'
          description: The result of the take request
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Team or user(s) not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Create an on-call override (take on-call)
      tags:
      - On-call
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.on_call_controller
  /api-public/v1/team/{team}/policies:
    get:
      description: |
        Get the escalation policies for the specified team.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_team_team_policies_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps team to fetch
        in: path
        name: team
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscalationPolicyList'
          description: The escalation policy list. This does not include details about
            the actual notification steps of the policy.
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: Team not found
        "422":
          content: {}
          description: |
            Team name or email is unavailable, or you have reached your team limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Retrieve a list of escalation policies for a team
      tags:
      - Escalation Policies
      - Teams
      x-openapi-router-controller: openapi_server.controllers.escalation_policies_controller
  /api-public/v1/user:
    get:
      description: |
        Get a list of users for your organization

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_user_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserResponse'
          description: A list of users for your organization
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "422":
          content: {}
          description: |
            You have reached your user limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: List users
      tags:
      - Users
      x-openapi-router-controller: openapi_server.controllers.users_controller
    post:
      description: |
        Add a user to your organization

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_user_post
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddUserPayload'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserResponse'
          description: Some details about the user that was added
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "422":
          content: {}
          description: |
            Username or email is unavailable, or you have reached your user limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Add a user
      tags:
      - Users
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /api-public/v1/user/{user}:
    delete:
      description: |
        Remove a user from your organization. If no replacement is specified, an empty JSON payload ("{}") is still required.

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_user_user_delete
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps user to be deleted
        in: path
        name: user
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DeleteUserPayload'
        required: true
        x-body-name: body
      responses:
        "200":
          content: {}
          description: User was deleted
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "422":
          content: {}
          description: |
            There was a problem with the delete such as a replacement is required or the replacement user was not found.
        "500":
          content: {}
          description: Internal Server Error
      summary: Remove a user
      tags:
      - Users
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.users_controller
    get:
      description: |
        Get the information for the specified user

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_user_user_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps user to fetch
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserResponse'
          description: Some details about the user that was added
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "422":
          content: {}
          description: |
            Username or email is unavailable, or you have reached your user limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Retrieve information for a user
      tags:
      - Users
      x-openapi-router-controller: openapi_server.controllers.users_controller
    put:
      description: |
        Update the designated user

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_user_user_put
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps user to be updated
        in: path
        name: user
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddUserPayload'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserResponse'
          description: Some details about the user that was added
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "422":
          content: {}
          description: |
            Username or email is unavailable, or you have reached your user limit.
        "500":
          content: {}
          description: Internal Server Error
      summary: Update a user
      tags:
      - Users
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.users_controller
  /api-public/v1/user/{user}/contact-methods:
    get:
      description: |
        Get the contact methods for a user

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_user_user_contact_methods_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps user ID
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_public_v1_user__user__contact_methods_get_200_response'
          description: All available contact methods for the user
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Get a list of all contact methods for a user
      tags:
      - User Contact Methods
      x-openapi-router-controller: openapi_server.controllers.user_contact_methods_controller
  /api-public/v1/user/{user}/contact-methods/devices:
    get:
      description: |
        Get the contact methods for a user

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_user_user_contact_methods_devices_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps user ID
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactDevice'
                type: array
          description: The list of contact devices for the user
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Get a list of all contact devices for a user
      tags:
      - User Contact Methods
      x-openapi-router-controller: openapi_server.controllers.user_contact_methods_controller
  /api-public/v1/user/{user}/contact-methods/devices/{contactId}:
    delete:
      description: |
        Delete a contact device for a user

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_user_user_contact_methods_devices_contact_id_delete
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps user ID
        in: path
        name: user
        required: true
        schema:
          type: string
      - description: The unique contact identifier
        in: path
        name: contactId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDevice'
          description: Deleted contact device for the user
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Delete a contact device for a user
      tags:
      - User Contact Methods
      x-openapi-router-controller: openapi_server.controllers.user_contact_methods_controller
    get:
      description: |
        Get the indicated contact device for a user

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_user_user_contact_methods_devices_contact_id_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps user ID
        in: path
        name: user
        required: true
        schema:
          type: string
      - description: The unique contact identifier
        in: path
        name: contactId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ContactDevice'
                type: array
          description: The list of contact devices for the user
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Get the indicated contact device for a user
      tags:
      - User Contact Methods
      x-openapi-router-controller: openapi_server.controllers.user_contact_methods_controller
    put:
      description: |
        Update a contact device for a user

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_user_user_contact_methods_devices_contact_id_put
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps user ID
        in: path
        name: user
        required: true
        schema:
          type: string
      - description: The unique contact identifier
        in: path
        name: contactId
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ContactDeviceAdd'
        description: The contact device
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDevice'
          description: The list of contact devices for the user
        "400":
          content: {}
          description: Problem with the request arguments.  The response payload may
            include an error message.
        "401":
          content: {}
          description: Authentication parameters missing
        "403":
          content: {}
          description: Authentication failed or rate-limit reached
        "404":
          content: {}
          description: User not found
        "500":
          content: {}
          description: Internal Server Error
      summary: Update a contact device for a user
      tags:
      - User Contact Methods
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.user_contact_methods_controller
  /api-public/v1/user/{user}/contact-methods/emails:
    get:
      description: |
        Get the contact emails for a user

        This API may be called a maximum of 60 times per minute.
      operationId: api_public_v1_user_user_contact_methods_emails_get
      parameters:
      - description: Your API ID
        in: header
        name: x_vo_api_id
        required: true
        schema:
          type: string
      - description: Your API Key
        in: header
        name: x_vo_api_key
        required: true
        schema:
          type: string
      - description: The VictorOps user ID
        in: path
        name: user
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
[...]
