openapi: 3.0.0
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: DoubleClick Bid Manager API allows users to manage and create campaigns
    and reports.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: DoubleClick Bid Manager API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
  - analytics
  - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
  - format: google
    url: https://doubleclickbidmanager.googleapis.com/$discovery/rest?version=v2
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: doubleclickbidmanager
externalDocs:
  url: https://developers.google.com/bid-manager/
servers:
- url: https://doubleclickbidmanager.googleapis.com/v2
tags:
- name: queries
paths:
  /queries:
    get:
      description: Lists queries created by the current user.
      operationId: doubleclickbidmanager.queries.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: "Name of a field used to order results. The default sorting order\
          \ is ascending. To specify descending order for a field, append a \" desc\"\
          \ suffix. For example \"metadata.title desc\". Sorting is only supported\
          \ for the following fields: * `queryId` * `metadata.title`"
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of results per page. Must be between `1` and `100`.
          Defaults to `100` if unspecified.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A page token, received from a previous list call. Provide this\
          \ to retrieve the subsequent page of queries."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQueriesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - queries
      x-accepts:
      - application/json
    post:
      description: Creates a query.
      operationId: doubleclickbidmanager.queries.create
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Query'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Query'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - queries
      x-content-type: application/json
      x-accepts:
      - application/json
  /queries/{queryId}:
    delete:
      description: Deletes a query as well as the associated reports.
      operationId: doubleclickbidmanager.queries.delete
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. ID of query to delete.
        explode: false
        in: path
        name: queryId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - queries
      x-accepts:
      - application/json
    get:
      description: Retrieves a query.
      operationId: doubleclickbidmanager.queries.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. ID of query to retrieve.
        explode: false
        in: path
        name: queryId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Query'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - queries
      x-accepts:
      - application/json
  /queries/{queryId}/reports:
    get:
      description: Lists reports associated with a query.
      operationId: doubleclickbidmanager.queries.reports.list
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. ID of the query with which the reports are associated.
        explode: false
        in: path
        name: queryId
        required: true
        schema:
          type: string
        style: simple
      - description: "Name of a field used to order results. The default sorting order\
          \ is ascending. To specify descending order for a field, append a \" desc\"\
          \ suffix. For example \"key.reportId desc\". Sorting is only supported for\
          \ the following fields: * `key.reportId`"
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of results per page. Must be between `1` and `100`.
          Defaults to `100` if unspecified.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: "A page token, received from a previous list call. Provide this\
          \ to retrieve the subsequent page of reports."
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListReportsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - queries
      x-accepts:
      - application/json
  /queries/{queryId}/reports/{reportId}:
    get:
      description: Retrieves a report.
      operationId: doubleclickbidmanager.queries.reports.get
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. ID of the query the report is associated with.
        explode: false
        in: path
        name: queryId
        required: true
        schema:
          type: string
        style: simple
      - description: Required. ID of the report to retrieve.
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - queries
      x-accepts:
      - application/json
  /queries/{queryId}:run:
    post:
      description: Runs a stored query to generate a report.
      operationId: doubleclickbidmanager.queries.run
      parameters:
      - description: V1 error format.
        explode: true
        in: query
        name: $.xgafv
        required: false
        schema:
          enum:
          - "1"
          - "2"
          type: string
        style: form
      - description: OAuth access token.
        explode: true
        in: query
        name: access_token
        required: false
        schema:
          type: string
        style: form
      - description: Data format for response.
        explode: true
        in: query
        name: alt
        required: false
        schema:
          enum:
          - json
          - media
          - proto
          type: string
        style: form
      - description: JSONP
        explode: true
        in: query
        name: callback
        required: false
        schema:
          type: string
        style: form
      - description: Selector specifying which fields to include in a partial response.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: "API key. Your API key identifies your project and provides you\
          \ with API access, quota, and reports. Required unless you provide an OAuth\
          \ 2.0 token."
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      - description: OAuth 2.0 token for the current user.
        explode: true
        in: query
        name: oauth_token
        required: false
        schema:
          type: string
        style: form
      - description: Returns response with indentations and line breaks.
        explode: true
        in: query
        name: prettyPrint
        required: false
        schema:
          type: boolean
        style: form
      - description: "Available to use for quota purposes for server-side applications.\
          \ Can be any arbitrary string assigned to a user, but should not exceed\
          \ 40 characters."
        explode: true
        in: query
        name: quotaUser
        required: false
        schema:
          type: string
        style: form
      - description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
        explode: true
        in: query
        name: upload_protocol
        required: false
        schema:
          type: string
        style: form
      - description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
          )."
        explode: true
        in: query
        name: uploadType
        required: false
        schema:
          type: string
        style: form
      - description: Required. ID of query to run.
        explode: false
        in: path
        name: queryId
        required: true
        schema:
          type: string
        style: simple
      - description: "Whether the query should be run synchronously. When true, this\
          \ method will not return until the query has finished running. When false\
          \ or not specified, this method will return immediately."
        explode: true
        in: query
        name: synchronous
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunQueryRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
        Oauth2c:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - queries
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      explode: true
      in: query
      name: $.xgafv
      required: false
      schema:
        enum:
        - "1"
        - "2"
        type: string
      style: form
    access_token:
      description: OAuth access token.
      explode: true
      in: query
      name: access_token
      required: false
      schema:
        type: string
      style: form
    alt:
      description: Data format for response.
      explode: true
      in: query
      name: alt
      required: false
      schema:
        enum:
        - json
        - media
        - proto
        type: string
      style: form
    callback:
      description: JSONP
      explode: true
      in: query
      name: callback
      required: false
      schema:
        type: string
      style: form
    fields:
      description: Selector specifying which fields to include in a partial response.
      explode: true
      in: query
      name: fields
      required: false
      schema:
        type: string
      style: form
    key:
      description: "API key. Your API key identifies your project and provides you\
        \ with API access, quota, and reports. Required unless you provide an OAuth\
        \ 2.0 token."
      explode: true
      in: query
      name: key
      required: false
      schema:
        type: string
      style: form
    oauth_token:
      description: OAuth 2.0 token for the current user.
      explode: true
      in: query
      name: oauth_token
      required: false
      schema:
        type: string
      style: form
    prettyPrint:
      description: Returns response with indentations and line breaks.
      explode: true
      in: query
      name: prettyPrint
      required: false
      schema:
        type: boolean
      style: form
    quotaUser:
      description: "Available to use for quota purposes for server-side applications.\
        \ Can be any arbitrary string assigned to a user, but should not exceed 40\
        \ characters."
      explode: true
      in: query
      name: quotaUser
      required: false
      schema:
        type: string
      style: form
    uploadType:
      description: "Legacy upload protocol for media (e.g. \"media\", \"multipart\"\
        )."
      explode: true
      in: query
      name: uploadType
      required: false
      schema:
        type: string
      style: form
    upload_protocol:
      description: "Upload protocol for media (e.g. \"raw\", \"multipart\")."
      explode: true
      in: query
      name: upload_protocol
      required: false
      schema:
        type: string
      style: form
  schemas:
    ChannelGrouping:
      description: A channel grouping defines a set of rules that can be used to categorize
        events in a path report.
      example:
        name: name
        rules:
        - disjunctiveMatchStatements:
          - eventFilters:
            - dimensionFilter:
                filter: filter
                values:
                - values
                - values
                match: UNKNOWN
            - dimensionFilter:
                filter: filter
                values:
                - values
                - values
                match: UNKNOWN
          - eventFilters:
            - dimensionFilter:
                filter: filter
                values:
                - values
                - values
                match: UNKNOWN
            - dimensionFilter:
                filter: filter
                values:
                - values
                - values
                match: UNKNOWN
          name: name
        - disjunctiveMatchStatements:
          - eventFilters:
            - dimensionFilter:
                filter: filter
                values:
                - values
                - values
                match: UNKNOWN
            - dimensionFilter:
                filter: filter
                values:
                - values
                - values
                match: UNKNOWN
          - eventFilters:
            - dimensionFilter:
                filter: filter
                values:
                - values
                - values
                match: UNKNOWN
            - dimensionFilter:
                filter: filter
                values:
                - values
                - values
                match: UNKNOWN
          name: name
        fallbackName: fallbackName
      properties:
        fallbackName:
          description: The name to apply to an event that does not match any of the
            rules in the channel grouping.
          type: string
        name:
          description: Channel Grouping name.
          type: string
        rules:
          description: Rules within Channel Grouping. There is a limit of 100 rules
            that can be set per channel grouping.
          items:
            $ref: '#/components/schemas/Rule'
          type: array
      type: object
    DataRange:
      description: Report data range.
      example:
        customEndDate:
          month: 6
          year: 1
          day: 0
        range: RANGE_UNSPECIFIED
        customStartDate:
          month: 6
          year: 1
          day: 0
      properties:
        customEndDate:
          $ref: '#/components/schemas/Date'
        customStartDate:
          $ref: '#/components/schemas/Date'
        range:
          description: Report data range used to generate the report.
          enum:
          - RANGE_UNSPECIFIED
          - CUSTOM_DATES
          - CURRENT_DAY
          - PREVIOUS_DAY
          - WEEK_TO_DATE
          - MONTH_TO_DATE
          - QUARTER_TO_DATE
          - YEAR_TO_DATE
          - PREVIOUS_WEEK
          - PREVIOUS_MONTH
          - PREVIOUS_QUARTER
          - PREVIOUS_YEAR
          - LAST_7_DAYS
          - LAST_30_DAYS
          - LAST_90_DAYS
          - LAST_365_DAYS
          - ALL_TIME
          - LAST_14_DAYS
          - LAST_60_DAYS
          type: string
      type: object
    Date:
      description: "Represents a whole or partial calendar date, such as a birthday.\
        \ The time of day and time zone are either specified elsewhere or are insignificant.\
        \ The date is relative to the Gregorian Calendar. This can represent one of\
        \ the following: * A full date, with non-zero year, month, and day values.\
        \ * A month and day, with a zero year (for example, an anniversary). * A year\
        \ on its own, with a zero month and a zero day. * A year and month, with a\
        \ zero day (for example, a credit card expiration date). Related types: *\
        \ google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      example:
        month: 6
        year: 1
        day: 0
      properties:
        day:
          description: "Day of a month. Must be from 1 to 31 and valid for the year\
            \ and month, or 0 to specify a year by itself or a year and month where\
            \ the day isn't significant."
          format: int32
          type: integer
        month:
          description: "Month of a year. Must be from 1 to 12, or 0 to specify a year\
            \ without a month and day."
          format: int32
          type: integer
        year:
          description: "Year of the date. Must be from 1 to 9999, or 0 to specify\
            \ a date without a year."
          format: int32
          type: integer
      type: object
    DisjunctiveMatchStatement:
      description: DisjunctiveMatchStatement that OR's all contained filters.
      example:
        eventFilters:
        - dimensionFilter:
            filter: filter
            values:
            - values
            - values
            match: UNKNOWN
        - dimensionFilter:
            filter: filter
            values:
            - values
            - values
            match: UNKNOWN
      properties:
        eventFilters:
          description: Filters. There is a limit of 100 filters that can be set per
            disjunctive match statement.
          items:
            $ref: '#/components/schemas/EventFilter'
          type: array
      type: object
    EventFilter:
      description: "Defines the type of filter to be applied to the path, a DV360\
        \ event dimension filter."
      example:
        dimensionFilter:
          filter: filter
          values:
          - values
          - values
          match: UNKNOWN
      properties:
        dimensionFilter:
          $ref: '#/components/schemas/PathQueryOptionsFilter'
      type: object
    FilterPair:
      description: Filter used to match traffic data in your report.
      example:
        type: type
        value: value
      properties:
        type:
          description: Filter type.
          type: string
        value:
          description: Filter value.
          type: string
      type: object
    ListQueriesResponse:
      example:
        nextPageToken: nextPageToken
        queries:
        - schedule:
            endDate:
              month: 6
              year: 1
              day: 0
            nextRunTimezoneCode: nextRunTimezoneCode
            startDate:
              month: 6
              year: 1
              day: 0
            frequency: FREQUENCY_UNSPECIFIED
          metadata:
            dataRange:
              customEndDate:
                month: 6
                year: 1
                day: 0
              range: RANGE_UNSPECIFIED
              customStartDate:
                month: 6
                year: 1
                day: 0
            format: FORMAT_UNSPECIFIED
            shareEmailAddress:
            - shareEmailAddress
            - shareEmailAddress
            sendNotification: true
            title: title
          params:
            groupBys:
            - groupBys
            - groupBys
            options:
              pathQueryOptions:
                pathFilters:
                - eventFilters:
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
                - eventFilters:
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
                channelGrouping:
                  name: name
                  rules:
                  - disjunctiveMatchStatements:
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    name: name
                  - disjunctiveMatchStatements:
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    name: name
                  fallbackName: fallbackName
              includeOnlyTargetedUserLists: true
            filters:
            - type: type
              value: value
            - type: type
              value: value
            metrics:
            - metrics
            - metrics
            type: REPORT_TYPE_UNSPECIFIED
          queryId: queryId
        - schedule:
            endDate:
              month: 6
              year: 1
              day: 0
            nextRunTimezoneCode: nextRunTimezoneCode
            startDate:
              month: 6
              year: 1
              day: 0
            frequency: FREQUENCY_UNSPECIFIED
          metadata:
            dataRange:
              customEndDate:
                month: 6
                year: 1
                day: 0
              range: RANGE_UNSPECIFIED
              customStartDate:
                month: 6
                year: 1
                day: 0
            format: FORMAT_UNSPECIFIED
            shareEmailAddress:
            - shareEmailAddress
            - shareEmailAddress
            sendNotification: true
            title: title
          params:
            groupBys:
            - groupBys
            - groupBys
            options:
              pathQueryOptions:
                pathFilters:
                - eventFilters:
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
                - eventFilters:
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
                channelGrouping:
                  name: name
                  rules:
                  - disjunctiveMatchStatements:
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    name: name
                  - disjunctiveMatchStatements:
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    name: name
                  fallbackName: fallbackName
              includeOnlyTargetedUserLists: true
            filters:
            - type: type
              value: value
            - type: type
              value: value
            metrics:
            - metrics
            - metrics
            type: REPORT_TYPE_UNSPECIFIED
          queryId: queryId
      properties:
        nextPageToken:
          description: "A token, which can be sent as page_token to retrieve the next\
            \ page of queries. If this field is omitted, there are no subsequent pages."
          type: string
        queries:
          description: The list of queries.
          items:
            $ref: '#/components/schemas/Query'
          type: array
      type: object
    ListReportsResponse:
      example:
        reports:
        - metadata:
            reportDataEndDate:
              month: 6
              year: 1
              day: 0
            reportDataStartDate:
              month: 6
              year: 1
              day: 0
            googleCloudStoragePath: googleCloudStoragePath
            status:
              finishTime: finishTime
              format: FORMAT_UNSPECIFIED
              state: STATE_UNSPECIFIED
          params:
            groupBys:
            - groupBys
            - groupBys
            options:
              pathQueryOptions:
                pathFilters:
                - eventFilters:
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
                - eventFilters:
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
                channelGrouping:
                  name: name
                  rules:
                  - disjunctiveMatchStatements:
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    name: name
                  - disjunctiveMatchStatements:
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    name: name
                  fallbackName: fallbackName
              includeOnlyTargetedUserLists: true
            filters:
            - type: type
              value: value
            - type: type
              value: value
            metrics:
            - metrics
            - metrics
            type: REPORT_TYPE_UNSPECIFIED
          key:
            reportId: reportId
            queryId: queryId
        - metadata:
            reportDataEndDate:
              month: 6
              year: 1
              day: 0
            reportDataStartDate:
              month: 6
              year: 1
              day: 0
            googleCloudStoragePath: googleCloudStoragePath
            status:
              finishTime: finishTime
              format: FORMAT_UNSPECIFIED
              state: STATE_UNSPECIFIED
          params:
            groupBys:
            - groupBys
            - groupBys
            options:
              pathQueryOptions:
                pathFilters:
                - eventFilters:
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
                - eventFilters:
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
                channelGrouping:
                  name: name
                  rules:
                  - disjunctiveMatchStatements:
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    name: name
                  - disjunctiveMatchStatements:
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    - eventFilters:
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                      - dimensionFilter:
                          filter: filter
                          values:
                          - values
                          - values
                          match: UNKNOWN
                    name: name
                  fallbackName: fallbackName
              includeOnlyTargetedUserLists: true
            filters:
            - type: type
              value: value
            - type: type
              value: value
            metrics:
            - metrics
            - metrics
            type: REPORT_TYPE_UNSPECIFIED
          key:
            reportId: reportId
            queryId: queryId
        nextPageToken: nextPageToken
      properties:
        nextPageToken:
          description: "A token, which can be sent as page_token to retrieve the next\
            \ page of reports. If this field is omitted, there are no subsequent pages."
          type: string
        reports:
          description: Retrieved reports.
          items:
            $ref: '#/components/schemas/Report'
          type: array
      type: object
    Options:
      description: Additional query options.
      example:
        pathQueryOptions:
          pathFilters:
          - eventFilters:
            - dimensionFilter:
                filter: filter
                values:
                - values
                - values
                match: UNKNOWN
            - dimensionFilter:
                filter: filter
                values:
                - values
                - values
                match: UNKNOWN
            pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
          - eventFilters:
            - dimensionFilter:
                filter: filter
                values:
                - values
                - values
                match: UNKNOWN
            - dimensionFilter:
                filter: filter
                values:
                - values
                - values
                match: UNKNOWN
            pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
          channelGrouping:
            name: name
            rules:
            - disjunctiveMatchStatements:
              - eventFilters:
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
              - eventFilters:
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
              name: name
            - disjunctiveMatchStatements:
              - eventFilters:
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
              - eventFilters:
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
              name: name
            fallbackName: fallbackName
        includeOnlyTargetedUserLists: true
      properties:
        includeOnlyTargetedUserLists:
          description: Set to true and filter your report by `FILTER_INSERTION_ORDER`
            or `FILTER_LINE_ITEM` to include data for audience lists specifically
            targeted by those items.
          type: boolean
        pathQueryOptions:
          $ref: '#/components/schemas/PathQueryOptions'
      type: object
    Parameters:
      description: Parameters of a query or report.
      example:
        groupBys:
        - groupBys
        - groupBys
        options:
          pathQueryOptions:
            pathFilters:
            - eventFilters:
              - dimensionFilter:
                  filter: filter
                  values:
                  - values
                  - values
                  match: UNKNOWN
              - dimensionFilter:
                  filter: filter
                  values:
                  - values
                  - values
                  match: UNKNOWN
              pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
            - eventFilters:
              - dimensionFilter:
                  filter: filter
                  values:
                  - values
                  - values
                  match: UNKNOWN
              - dimensionFilter:
                  filter: filter
                  values:
                  - values
                  - values
                  match: UNKNOWN
              pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
            channelGrouping:
              name: name
              rules:
              - disjunctiveMatchStatements:
                - eventFilters:
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                - eventFilters:
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                name: name
              - disjunctiveMatchStatements:
                - eventFilters:
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                - eventFilters:
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                  - dimensionFilter:
                      filter: filter
                      values:
                      - values
                      - values
                      match: UNKNOWN
                name: name
              fallbackName: fallbackName
          includeOnlyTargetedUserLists: true
        filters:
        - type: type
          value: value
        - type: type
          value: value
        metrics:
        - metrics
        - metrics
        type: REPORT_TYPE_UNSPECIFIED
      properties:
        filters:
          description: Filters used to match traffic data in your report.
          items:
            $ref: '#/components/schemas/FilterPair'
          type: array
        groupBys:
          description: Data is grouped by the filters listed in this field.
          items:
            type: string
          type: array
        metrics:
          description: Metrics to include as columns in your report.
          items:
            type: string
          type: array
        options:
          $ref: '#/components/schemas/Options'
        type:
          description: "The type of the report. The type of the report will dictate\
            \ what dimesions, filters, and metrics can be used."
          enum:
          - REPORT_TYPE_UNSPECIFIED
          - STANDARD
          - INVENTORY_AVAILABILITY
          - AUDIENCE_COMPOSITION
          - FLOODLIGHT
          - YOUTUBE
          - GRP
          - YOUTUBE_PROGRAMMATIC_GUARANTEED
          - REACH
          - UNIQUE_REACH_AUDIENCE
          - FULL_PATH
          - PATH_ATTRIBUTION
          type: string
          x-enumDeprecated:
          - false
          - false
          - false
          - true
          - false
          - false
          - false
          - false
          - false
          - false
          - false
          - false
      type: object
    PathFilter:
      description: "Path filters specify which paths to include in a report. A path\
        \ is the result of combining DV360 events based on User ID to create a workflow\
        \ of users' actions. When a path filter is set, the resulting report will\
        \ only include paths that match the specified event at the specified position.\
        \ All other paths will be excluded."
      example:
        eventFilters:
        - dimensionFilter:
            filter: filter
            values:
            - values
            - values
            match: UNKNOWN
        - dimensionFilter:
            filter: filter
            values:
            - values
            - values
            match: UNKNOWN
        pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
      properties:
        eventFilters:
          description: Filter on an event to be applied to some part of the path.
          items:
            $ref: '#/components/schemas/EventFilter'
          type: array
        pathMatchPosition:
          description: "The position of the path the filter should match to (first,\
            \ last, or any event in path)."
          enum:
          - PATH_MATCH_POSITION_UNSPECIFIED
          - ANY
          - FIRST
          - LAST
          type: string
      type: object
    PathQueryOptions:
      description: Path Query Options for Report Options.
      example:
        pathFilters:
        - eventFilters:
          - dimensionFilter:
              filter: filter
              values:
              - values
              - values
              match: UNKNOWN
          - dimensionFilter:
              filter: filter
              values:
              - values
              - values
              match: UNKNOWN
          pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
        - eventFilters:
          - dimensionFilter:
              filter: filter
              values:
              - values
              - values
              match: UNKNOWN
          - dimensionFilter:
              filter: filter
              values:
              - values
              - values
              match: UNKNOWN
          pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
        channelGrouping:
          name: name
          rules:
          - disjunctiveMatchStatements:
            - eventFilters:
              - dimensionFilter:
                  filter: filter
                  values:
                  - values
                  - values
                  match: UNKNOWN
              - dimensionFilter:
                  filter: filter
                  values:
                  - values
                  - values
                  match: UNKNOWN
            - eventFilters:
              - dimensionFilter:
                  filter: filter
                  values:
                  - values
                  - values
                  match: UNKNOWN
              - dimensionFilter:
                  filter: filter
                  values:
                  - values
                  - values
                  match: UNKNOWN
            name: name
          - disjunctiveMatchStatements:
            - eventFilters:
              - dimensionFilter:
                  filter: filter
                  values:
                  - values
                  - values
                  match: UNKNOWN
              - dimensionFilter:
                  filter: filter
                  values:
                  - values
                  - values
                  match: UNKNOWN
            - eventFilters:
              - dimensionFilter:
                  filter: filter
                  values:
                  - values
                  - values
                  match: UNKNOWN
              - dimensionFilter:
                  filter: filter
                  values:
                  - values
                  - values
                  match: UNKNOWN
            name: name
          fallbackName: fallbackName
      properties:
        channelGrouping:
          $ref: '#/components/schemas/ChannelGrouping'
        pathFilters:
          description: Path Filters. There is a limit of 100 path filters that can
            be set per report.
          items:
            $ref: '#/components/schemas/PathFilter'
          type: array
      type: object
    PathQueryOptionsFilter:
      description: Dimension filter on path events.
      example:
        filter: filter
        values:
        - values
        - values
        match: UNKNOWN
      properties:
        filter:
          description: Dimension the filter is applied to.
          type: string
        match:
          description: Match logic of the filter.
          enum:
          - UNKNOWN
          - EXACT
          - PARTIAL
          - BEGINS_WITH
          - WILDCARD_EXPRESSION
          type: string
        values:
          description: Values to filter on.
          items:
            type: string
          type: array
      type: object
    Query:
      description: Represents a query.
      example:
        schedule:
          endDate:
            month: 6
            year: 1
            day: 0
          nextRunTimezoneCode: nextRunTimezoneCode
          startDate:
            month: 6
            year: 1
            day: 0
          frequency: FREQUENCY_UNSPECIFIED
        metadata:
          dataRange:
            customEndDate:
              month: 6
              year: 1
              day: 0
            range: RANGE_UNSPECIFIED
            customStartDate:
              month: 6
              year: 1
              day: 0
          format: FORMAT_UNSPECIFIED
          shareEmailAddress:
          - shareEmailAddress
          - shareEmailAddress
          sendNotification: true
          title: title
        params:
          groupBys:
          - groupBys
          - groupBys
          options:
            pathQueryOptions:
              pathFilters:
              - eventFilters:
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
                pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
              - eventFilters:
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
                pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
              channelGrouping:
                name: name
                rules:
                - disjunctiveMatchStatements:
                  - eventFilters:
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                  - eventFilters:
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                  name: name
                - disjunctiveMatchStatements:
                  - eventFilters:
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                  - eventFilters:
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                  name: name
                fallbackName: fallbackName
            includeOnlyTargetedUserLists: true
          filters:
          - type: type
            value: value
          - type: type
            value: value
          metrics:
          - metrics
          - metrics
          type: REPORT_TYPE_UNSPECIFIED
        queryId: queryId
      properties:
        metadata:
          $ref: '#/components/schemas/QueryMetadata'
        params:
          $ref: '#/components/schemas/Parameters'
        queryId:
          description: Output only. Query ID.
          format: int64
          readOnly: true
          type: string
        schedule:
          $ref: '#/components/schemas/QuerySchedule'
      type: object
    QueryMetadata:
      description: Query metadata.
      example:
        dataRange:
          customEndDate:
            month: 6
            year: 1
            day: 0
          range: RANGE_UNSPECIFIED
          customStartDate:
            month: 6
            year: 1
            day: 0
        format: FORMAT_UNSPECIFIED
        shareEmailAddress:
        - shareEmailAddress
        - shareEmailAddress
        sendNotification: true
        title: title
      properties:
        dataRange:
          $ref: '#/components/schemas/DataRange'
        format:
          description: Format of the generated report.
          enum:
          - FORMAT_UNSPECIFIED
          - CSV
          - XLSX
          type: string
        sendNotification:
          description: Whether to send an email notification when a report is ready.
            Defaults to false.
          type: boolean
        shareEmailAddress:
          description: List of email addresses which are sent email notifications
            when the report is finished. Separate from send_notification.
          items:
            type: string
          type: array
        title:
          description: Query title. It is used to name the reports generated from
            this query.
          type: string
      type: object
    QuerySchedule:
      description: Information on when and how frequently to run a query.
      example:
        endDate:
          month: 6
          year: 1
          day: 0
        nextRunTimezoneCode: nextRunTimezoneCode
        startDate:
          month: 6
          year: 1
          day: 0
        frequency: FREQUENCY_UNSPECIFIED
      properties:
        endDate:
          $ref: '#/components/schemas/Date'
        frequency:
          description: How often the query is run.
          enum:
          - FREQUENCY_UNSPECIFIED
          - ONE_TIME
          - DAILY
          - WEEKLY
          - SEMI_MONTHLY
          - MONTHLY
          - QUARTERLY
          - YEARLY
          type: string
        nextRunTimezoneCode:
          description: Canonical timezone code for report generation time. Defaults
            to `America/New_York`.
          type: string
        startDate:
          $ref: '#/components/schemas/Date'
      type: object
    Report:
      description: Represents a report.
      example:
        metadata:
          reportDataEndDate:
            month: 6
            year: 1
            day: 0
          reportDataStartDate:
            month: 6
            year: 1
            day: 0
          googleCloudStoragePath: googleCloudStoragePath
          status:
            finishTime: finishTime
            format: FORMAT_UNSPECIFIED
            state: STATE_UNSPECIFIED
        params:
          groupBys:
          - groupBys
          - groupBys
          options:
            pathQueryOptions:
              pathFilters:
              - eventFilters:
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
                pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
              - eventFilters:
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
                - dimensionFilter:
                    filter: filter
                    values:
                    - values
                    - values
                    match: UNKNOWN
                pathMatchPosition: PATH_MATCH_POSITION_UNSPECIFIED
              channelGrouping:
                name: name
                rules:
                - disjunctiveMatchStatements:
                  - eventFilters:
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                  - eventFilters:
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                  name: name
                - disjunctiveMatchStatements:
                  - eventFilters:
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                  - eventFilters:
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                    - dimensionFilter:
                        filter: filter
                        values:
                        - values
                        - values
                        match: UNKNOWN
                  name: name
                fallbackName: fallbackName
            includeOnlyTargetedUserLists: true
          filters:
          - type: type
            value: value
          - type: type
            value: value
          metrics:
          - metrics
          - metrics
          type: REPORT_TYPE_UNSPECIFIED
        key:
          reportId: reportId
          queryId: queryId
      properties:
        key:
          $ref: '#/components/schemas/ReportKey'
        metadata:
          $ref: '#/components/schemas/ReportMetadata'
        params:
          $ref: '#/components/schemas/Parameters'
      type: object
    ReportKey:
      description: Key used to identify a report.
      example:
        reportId: reportId
        queryId: queryId
      properties:
        queryId:
          description: Output only. Query ID.
          format: int64
          readOnly: true
          type: string
        reportId:
          description: Output only. Report ID.
          format: int64
          readOnly: true
          type: string
      type: object
    ReportMetadata:
      description: Report metadata.
      example:
        reportDataEndDate:
          month: 6
          year: 1
          day: 0
        reportDataStartDate:
          month: 6
          year: 1
          day: 0
        googleCloudStoragePath: googleCloudStoragePath
        status:
          finishTime: finishTime
          format: FORMAT_UNSPECIFIED
          state: STATE_UNSPECIFIED
      properties:
        googleCloudStoragePath:
          description: Output only. The path to the location in Google Cloud Storage
            where the report is stored.
          readOnly: true
          type: string
        reportDataEndDate:
          $ref: '#/components/schemas/Date'
        reportDataStartDate:
          $ref: '#/components/schemas/Date'
        status:
          $ref: '#/components/schemas/ReportStatus'
      type: object
    ReportStatus:
      description: Report status.
      example:
        finishTime: finishTime
        format: FORMAT_UNSPECIFIED
        state: STATE_UNSPECIFIED
      properties:
        finishTime:
          description: Output only. The time when this report either completed successfully
            or failed.
          format: google-datetime
          readOnly: true
          type: string
        format:
          description: The file type of the report.
          enum:
          - FORMAT_UNSPECIFIED
          - CSV
          - XLSX
          type: string
        state:
          description: Output only. The state of the report.
          enum:
          - STATE_UNSPECIFIED
          - QUEUED
          - RUNNING
          - DONE
          - FAILED
          readOnly: true
          type: string
      type: object
    Rule:
      description: "A Rule defines a name, and a boolean expression in [conjunctive\
        \ normal form] (http://mathworld.wolfram.com/ConjunctiveNormalForm.html){.external}\
        \ that can be applied to a path event to determine if that name should be\
        \ applied."
      example:
        disjunctiveMatchStatements:
        - eventFilters:
          - dimensionFilter:
              filter: filter
              values:
              - values
              - values
              match: UNKNOWN
          - dimensionFilter:
              filter: filter
              values:
              - values
              - values
              match: UNKNOWN
        - eventFilters:
          - dimensionFilter:
              filter: filter
              values:
              - values
              - values
              match: UNKNOWN
          - dimensionFilter:
              filter: filter
              values:
              - values
              - values
              match: UNKNOWN
        name: name
      properties:
        disjunctiveMatchStatements:
          description: DisjunctiveMatchStatements within a Rule. DisjunctiveMatchStatement
            OR's all contained filters.
          items:
            $ref: '#/components/schemas/DisjunctiveMatchStatement'
          type: array
        name:
          description: Rule name.
          type: string
      type: object
    RunQueryRequest:
      description: Request to run a stored query to generate a report.
      example:
        dataRange:
          customEndDate:
            month: 6
            year: 1
            day: 0
          range: RANGE_UNSPECIFIED
          customStartDate:
            month: 6
            year: 1
            day: 0
      properties:
        dataRange:
          $ref: '#/components/schemas/DataRange'
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/doubleclickbidmanager: View and manage
              your reports in DoubleClick Bid Manager
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/doubleclickbidmanager: View and manage
              your reports in DoubleClick Bid Manager
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2

