openapi: 3.0.0
info:
  description: |
    The Semantic API complements the Articles API. With the Semantic API, you get access to the long list of people, places, organizations and other locations, entities and descriptors that make up the controlled vocabulary used as metadata by The New York Times (sometimes referred to as Times Tags and used for Times Topics pages).

    The Semantic API uses concepts which are, by definition, terms in The New York Times controlled vocabulary. Like the way facets are used in the Articles API, concepts are a good way to uncover articles of interest in The New York Times archive, and at the same time, limit the scope and number of those articles. The Semantic API maps to external semantic data resources, in a fashion consistent with the idea of linked data. The Semantic API also provides combination and relationship information to other, similar concepts in The New York Times controlled vocabulary.
  termsOfService: http://developer.nytimes.com/tou
  title: Semantic API
  version: 2.0.0
  x-apiClientRegistration:
    url: http://developer.nytimes.com/signup
  x-apisguru-categories:
  - media
  - open_data
  x-logo:
    url: https://static01.nyt.com/images/icons/t_logo_291_black.png
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/nytimes/public_api_specs/master/semantic_api/semantic_api.json
    version: "3.0"
  x-providerName: nytimes.com
  x-serviceName: semantic_api
externalDocs:
  url: http://developer.nytimes.com/
servers:
- url: http://api.nytimes.com/svc/semantic/v2/concept
- url: https://api.nytimes.com/svc/semantic/v2/concept
security:
- apikey: []
paths:
  /name/{concept-type}/{specific-concept}.json:
    get:
      operationId: name_concept_type_specific_concept_json_get
      parameters:
      - description: |
          The type of the concept, used for Constructing a Semantic API Request by Concept Type and Specific Concept Name. The parameter is defined as a name-value pair, as in "concept_type=[nytd_geo|nytd_per|nytd_org|nytd_des]".
        explode: false
        in: path
        name: concept-type
        required: true
        schema:
          enum:
          - nytd_geo
          - nytd_per
          - nytd_org
          - nytd_des
          type: string
        style: simple
      - description: |
          The name of the concept, used for Constructing a Semantic API Request by Concept Type and Specific Concept Name. The parameter is defined in the URI path, as the element immediately preceding ".json" like with "Baseball.json".
        explode: false
        in: path
        name: specific-concept
        required: true
        schema:
          type: string
        style: simple
      - description: |
          "all" or comma-separated list of specific optional fields: pages, ticker_symbol, links, taxonomy, combinations, geocodes, article_list, scope_notes, search_api_query

          Optional fields are returned in result_set. They are briefly explained here:

          pages: A list of topic pages associated with a specific concept.
          ticker_symbol: If this concept is a publicly traded company, this field contains the ticker symbol.
          links: A list of links from this concept to external data resources.
          taxonomy: For descriptor concepts, this field returns a list of taxonomic relations to other concepts.
          combinations: For descriptor concepts, this field returns a list of the specific meanings tis concept takes on when combined with other concepts.
          geocodes: For geographic concepts, the full GIS record from geonames.
          article_list: A list of up to 10 articles associated with this concept.
          scope_notes: Scope notes contains clarifications and meaning definitions that explicate the relationship between the concept and an article.
          search_api_query: Returns the request one would need to submit to the Article Search API to obtain a list of articles annotated with this concept.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          enum:
          - all
          - pages
          - ticker_symbol
          - links
          - taxonomy
          - combinations
          - geocodes
          - article_list
          - scope_notes
          - search_api_query
          type: string
        style: form
      - description: "Precedes the search term string. Used in a Search Query. Except\
          \ for &lt;specific_concept_name&gt;, Search Query will take the required\
          \ parameters listed above (&lt;concept_type&gt;, &lt;concept_uri&gt;, &lt;article_uri&gt;)\
          \ as an optional_parameter in addition to the query=&lt;query_term&gt;."
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_name__concept_type___specific_concept__json_get_200_response'
          description: An array of Concepts
      x-openapi-router-controller: openapi_server.controllers.default_controller
  /search.json:
    get:
      operationId: search_json_get
      parameters:
      - description: "Precedes the search term string. Used in a Search Query. Except\
          \ for &lt;specific_concept_name&gt;, Search Query will take the required\
          \ parameters listed above (&lt;concept_type&gt;, &lt;concept_uri&gt;, &lt;article_uri&gt;)\
          \ as an optional_parameter in addition to the query=&lt;query_term&gt;."
        explode: true
        in: query
        name: query
        required: true
        schema:
          type: string
        style: form
      - description: "Integer value for the index count from the first concept to\
          \ the last concept, sorted alphabetically. Used in a Search Query. A Search\
          \ Query will return up to 10 concepts in its results."
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: |
          "all" or comma-separated list of specific optional fields: pages, ticker_symbol, links, taxonomy, combinations, geocodes, article_list, scope_notes, search_api_query

          Optional fields are returned in result_set. They are briefly explained here:

          pages: A list of topic pages associated with a specific concept.
          ticker_symbol: If this concept is a publicly traded company, this field contains the ticker symbol.
          links: A list of links from this concept to external data resources.
          taxonomy: For descriptor concepts, this field returns a list of taxonomic relations to other concepts.
          combinations: For descriptor concepts, this field returns a list of the specific meanings tis concept takes on when combined with other concepts.
          geocodes: For geographic concepts, the full GIS record from geonames.
          article_list: A list of up to 10 articles associated with this concept.
          scope_notes: Scope notes contains clarifications and meaning definitions that explicate the relationship between the concept and an article.
          search_api_query: Returns the request one would need to submit to the Article Search API to obtain a list of articles annotated with this concept.
        explode: true
        in: query
        name: fields
        required: false
        schema:
          enum:
          - all
          - pages
          - ticker_symbol
          - links
          - taxonomy
          - combinations
          - geocodes
          - article_list
          - scope_notes
          - search_api_query
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_search_json_get_200_response'
          description: An array of Concepts
      x-openapi-router-controller: openapi_server.controllers.default_controller
components:
  schemas:
    Concept:
      example:
        concept_status: concept_status
        concept_id: 7
        concept_type: concept_type
        vernacular: vernacular
        taxonomy:
        - taxonomic_verification_status: taxonomic_verification_status
          target_concept_name: target_concept_name
          target_concept_id: 1
          source_concept_id: 7
          source_concept_type: source_concept_type
          target_concept_vernacular: target_concept_vernacular
          source_concept_name: source_concept_name
          source_concept_vernacular: source_concept_vernacular
          target_concept_type: target_concept_type
          taxonomic_relation: taxonomic_relation
        - taxonomic_verification_status: taxonomic_verification_status
          target_concept_name: target_concept_name
          target_concept_id: 1
          source_concept_id: 7
          source_concept_type: source_concept_type
          target_concept_vernacular: target_concept_vernacular
          source_concept_name: source_concept_name
          source_concept_vernacular: source_concept_vernacular
          target_concept_type: target_concept_type
          taxonomic_relation: taxonomic_relation
        descendants:
        - concept_name: concept_name
          concept_created: concept_created
          concept_status: concept_status
          concept_id: 6
          is_times_tag: 1
          concept_type: concept_type
          vernacular: vernacular
          concept_updated: concept_updated
        - concept_name: concept_name
          concept_created: concept_created
          concept_status: concept_status
          concept_id: 6
          is_times_tag: 1
          concept_type: concept_type
          vernacular: vernacular
          concept_updated: concept_updated
        search_api_query: search_api_query
        concept_name: concept_name
        scope_notes:
        - scope_note_name: scope_note_name
          scope_note: scope_note
          scope_note_type: scope_note_type
        - scope_note_name: scope_note_name
          scope_note: scope_note
          scope_note_type: scope_note_type
        concept_created: concept_created
        combinations:
        - combination_target_concept_id: 2
          combination_source_concept_id: 5
          combination_source_concept_type: combination_source_concept_type
          combination_source_concept_name: combination_source_concept_name
          combination_target_concept_type: combination_target_concept_type
          combination_note: combination_note
          combination_target_concept_name: combination_target_concept_name
        - combination_target_concept_id: 2
          combination_source_concept_id: 5
          combination_source_concept_type: combination_source_concept_type
          combination_source_concept_name: combination_source_concept_name
          combination_target_concept_type: combination_target_concept_type
          combination_note: combination_note
          combination_target_concept_name: combination_target_concept_name
        is_times_tag: 9
        links:
        - concept_name: concept_name
          link_type: link_type
          mapping_type: mapping_type
          concept_status: concept_status
          concept_id: 3
          is_times_tag: 2
          concept_type: concept_type
          link: link
          link_id: 4
          relation: relation
        - concept_name: concept_name
          link_type: link_type
          mapping_type: mapping_type
          concept_status: concept_status
          concept_id: 3
          is_times_tag: 2
          concept_type: concept_type
          link: link
          link_id: 4
          relation: relation
        article_list:
          total: 5
          results:
          - date: date
            type_of_material: type_of_material
            concepts:
              nytd_org:
              - nytd_org
              - nytd_org
              nytd_per:
              - nytd_per
              - nytd_per
              nytd_des:
              - nytd_des
              - nytd_des
            body: body
            title: title
            byline: byline
            url: url
            document_type: document_type
          - date: date
            type_of_material: type_of_material
            concepts:
              nytd_org:
              - nytd_org
              - nytd_org
              nytd_per:
              - nytd_per
              - nytd_per
              nytd_des:
              - nytd_des
              - nytd_des
            body: body
            title: title
            byline: byline
            url: url
            document_type: document_type
        ancestors:
        - concept_name: concept_name
          concept_created: concept_created
          concept_status: concept_status
          concept_id: 6
          is_times_tag: 1
          concept_type: concept_type
          vernacular: vernacular
          concept_updated: concept_updated
        - concept_name: concept_name
          concept_created: concept_created
          concept_status: concept_status
          concept_id: 6
          is_times_tag: 1
          concept_type: concept_type
          vernacular: vernacular
          concept_updated: concept_updated
        concept_updated: concept_updated
      properties:
        ancestors:
          items:
            $ref: '#/components/schemas/ConceptRelation'
          title: ancestors
          type: array
        article_list:
          $ref: '#/components/schemas/Concept_article_list'
        combinations:
          items:
            $ref: '#/components/schemas/Concept_combinations_inner'
          title: combinations
          type: array
        concept_created:
          title: concept_created
          type: string
        concept_id:
          title: concept_id
          type: integer
        concept_name:
          title: concept_name
          type: string
        concept_status:
          title: concept_status
          type: string
        concept_type:
          title: concept_type
          type: string
        concept_updated:
          title: concept_updated
          type: string
        descendants:
          items:
            $ref: '#/components/schemas/ConceptRelation'
          title: descendants
          type: array
        is_times_tag:
          title: is_times_tag
          type: integer
        links:
          items:
            $ref: '#/components/schemas/Concept_links_inner'
          title: links
          type: array
        scope_notes:
          items:
            $ref: '#/components/schemas/Concept_scope_notes_inner'
          title: scope_notes
          type: array
        search_api_query:
          title: search_api_query
          type: string
        taxonomy:
          items:
            $ref: '#/components/schemas/Concept_taxonomy_inner'
          title: taxonomy
          type: array
        vernacular:
          title: vernacular
          type: string
      title: Concept
      type: object
    ConceptRelation:
      example:
        concept_name: concept_name
        concept_created: concept_created
        concept_status: concept_status
        concept_id: 6
        is_times_tag: 1
        concept_type: concept_type
        vernacular: vernacular
        concept_updated: concept_updated
      properties:
        concept_created:
          title: concept_created
          type: string
        concept_id:
          title: concept_id
          type: integer
        concept_name:
          title: concept_name
          type: string
        concept_status:
          title: concept_status
          type: string
        concept_type:
          title: concept_type
          type: string
        concept_updated:
          title: concept_updated
          type: string
        is_times_tag:
          title: is_times_tag
          type: integer
        vernacular:
          title: vernacular
          type: string
      title: ConceptRelation
      type: object
    _name__concept_type___specific_concept__json_get_200_response:
      example:
        copyright: copyright
        results:
        - concept_status: concept_status
          concept_id: 7
          concept_type: concept_type
          vernacular: vernacular
          taxonomy:
          - taxonomic_verification_status: taxonomic_verification_status
            target_concept_name: target_concept_name
            target_concept_id: 1
            source_concept_id: 7
            source_concept_type: source_concept_type
            target_concept_vernacular: target_concept_vernacular
            source_concept_name: source_concept_name
            source_concept_vernacular: source_concept_vernacular
            target_concept_type: target_concept_type
            taxonomic_relation: taxonomic_relation
          - taxonomic_verification_status: taxonomic_verification_status
            target_concept_name: target_concept_name
            target_concept_id: 1
            source_concept_id: 7
            source_concept_type: source_concept_type
            target_concept_vernacular: target_concept_vernacular
            source_concept_name: source_concept_name
            source_concept_vernacular: source_concept_vernacular
            target_concept_type: target_concept_type
            taxonomic_relation: taxonomic_relation
          descendants:
          - concept_name: concept_name
            concept_created: concept_created
            concept_status: concept_status
            concept_id: 6
            is_times_tag: 1
            concept_type: concept_type
            vernacular: vernacular
            concept_updated: concept_updated
          - concept_name: concept_name
            concept_created: concept_created
            concept_status: concept_status
            concept_id: 6
            is_times_tag: 1
            concept_type: concept_type
            vernacular: vernacular
            concept_updated: concept_updated
          search_api_query: search_api_query
          concept_name: concept_name
          scope_notes:
          - scope_note_name: scope_note_name
            scope_note: scope_note
            scope_note_type: scope_note_type
          - scope_note_name: scope_note_name
            scope_note: scope_note
            scope_note_type: scope_note_type
          concept_created: concept_created
          combinations:
          - combination_target_concept_id: 2
            combination_source_concept_id: 5
            combination_source_concept_type: combination_source_concept_type
            combination_source_concept_name: combination_source_concept_name
            combination_target_concept_type: combination_target_concept_type
            combination_note: combination_note
            combination_target_concept_name: combination_target_concept_name
          - combination_target_concept_id: 2
            combination_source_concept_id: 5
            combination_source_concept_type: combination_source_concept_type
            combination_source_concept_name: combination_source_concept_name
            combination_target_concept_type: combination_target_concept_type
            combination_note: combination_note
            combination_target_concept_name: combination_target_concept_name
          is_times_tag: 9
          links:
          - concept_name: concept_name
            link_type: link_type
            mapping_type: mapping_type
            concept_status: concept_status
            concept_id: 3
            is_times_tag: 2
            concept_type: concept_type
            link: link
            link_id: 4
            relation: relation
          - concept_name: concept_name
            link_type: link_type
            mapping_type: mapping_type
            concept_status: concept_status
            concept_id: 3
            is_times_tag: 2
            concept_type: concept_type
            link: link
            link_id: 4
            relation: relation
          article_list:
            total: 5
            results:
            - date: date
              type_of_material: type_of_material
              concepts:
                nytd_org:
                - nytd_org
                - nytd_org
                nytd_per:
                - nytd_per
                - nytd_per
                nytd_des:
                - nytd_des
                - nytd_des
              body: body
              title: title
              byline: byline
              url: url
              document_type: document_type
            - date: date
              type_of_material: type_of_material
              concepts:
                nytd_org:
                - nytd_org
                - nytd_org
                nytd_per:
                - nytd_per
                - nytd_per
                nytd_des:
                - nytd_des
                - nytd_des
              body: body
              title: title
              byline: byline
              url: url
              document_type: document_type
          ancestors:
          - concept_name: concept_name
            concept_created: concept_created
            concept_status: concept_status
            concept_id: 6
            is_times_tag: 1
            concept_type: concept_type
            vernacular: vernacular
            concept_updated: concept_updated
          - concept_name: concept_name
            concept_created: concept_created
            concept_status: concept_status
            concept_id: 6
            is_times_tag: 1
            concept_type: concept_type
            vernacular: vernacular
            concept_updated: concept_updated
          concept_updated: concept_updated
        - concept_status: concept_status
          concept_id: 7
          concept_type: concept_type
          vernacular: vernacular
          taxonomy:
          - taxonomic_verification_status: taxonomic_verification_status
            target_concept_name: target_concept_name
            target_concept_id: 1
            source_concept_id: 7
            source_concept_type: source_concept_type
            target_concept_vernacular: target_concept_vernacular
            source_concept_name: source_concept_name
            source_concept_vernacular: source_concept_vernacular
            target_concept_type: target_concept_type
            taxonomic_relation: taxonomic_relation
          - taxonomic_verification_status: taxonomic_verification_status
            target_concept_name: target_concept_name
            target_concept_id: 1
            source_concept_id: 7
            source_concept_type: source_concept_type
            target_concept_vernacular: target_concept_vernacular
            source_concept_name: source_concept_name
            source_concept_vernacular: source_concept_vernacular
            target_concept_type: target_concept_type
            taxonomic_relation: taxonomic_relation
          descendants:
          - concept_name: concept_name
            concept_created: concept_created
            concept_status: concept_status
            concept_id: 6
            is_times_tag: 1
            concept_type: concept_type
            vernacular: vernacular
            concept_updated: concept_updated
          - concept_name: concept_name
            concept_created: concept_created
            concept_status: concept_status
            concept_id: 6
            is_times_tag: 1
            concept_type: concept_type
            vernacular: vernacular
            concept_updated: concept_updated
          search_api_query: search_api_query
          concept_name: concept_name
          scope_notes:
          - scope_note_name: scope_note_name
            scope_note: scope_note
            scope_note_type: scope_note_type
          - scope_note_name: scope_note_name
            scope_note: scope_note
            scope_note_type: scope_note_type
          concept_created: concept_created
          combinations:
          - combination_target_concept_id: 2
            combination_source_concept_id: 5
            combination_source_concept_type: combination_source_concept_type
            combination_source_concept_name: combination_source_concept_name
            combination_target_concept_type: combination_target_concept_type
            combination_note: combination_note
            combination_target_concept_name: combination_target_concept_name
          - combination_target_concept_id: 2
            combination_source_concept_id: 5
            combination_source_concept_type: combination_source_concept_type
            combination_source_concept_name: combination_source_concept_name
            combination_target_concept_type: combination_target_concept_type
            combination_note: combination_note
            combination_target_concept_name: combination_target_concept_name
          is_times_tag: 9
          links:
          - concept_name: concept_name
            link_type: link_type
            mapping_type: mapping_type
            concept_status: concept_status
            concept_id: 3
            is_times_tag: 2
            concept_type: concept_type
            link: link
            link_id: 4
            relation: relation
          - concept_name: concept_name
            link_type: link_type
            mapping_type: mapping_type
            concept_status: concept_status
            concept_id: 3
            is_times_tag: 2
            concept_type: concept_type
            link: link
            link_id: 4
            relation: relation
          article_list:
            total: 5
            results:
            - date: date
              type_of_material: type_of_material
              concepts:
                nytd_org:
                - nytd_org
                - nytd_org
                nytd_per:
                - nytd_per
                - nytd_per
                nytd_des:
                - nytd_des
                - nytd_des
              body: body
              title: title
              byline: byline
              url: url
              document_type: document_type
            - date: date
              type_of_material: type_of_material
              concepts:
                nytd_org:
                - nytd_org
                - nytd_org
                nytd_per:
                - nytd_per
                - nytd_per
                nytd_des:
                - nytd_des
                - nytd_des
              body: body
              title: title
              byline: byline
              url: url
              document_type: document_type
          ancestors:
          - concept_name: concept_name
            concept_created: concept_created
            concept_status: concept_status
            concept_id: 6
            is_times_tag: 1
            concept_type: concept_type
            vernacular: vernacular
            concept_updated: concept_updated
          - concept_name: concept_name
            concept_created: concept_created
            concept_status: concept_status
            concept_id: 6
            is_times_tag: 1
            concept_type: concept_type
            vernacular: vernacular
            concept_updated: concept_updated
          concept_updated: concept_updated
        num_results: 0
        status: status
      properties:
        copyright:
          title: copyright
          type: string
        num_results:
          title: num_results
          type: integer
        results:
          items:
            $ref: '#/components/schemas/Concept'
          title: results
          type: array
        status:
          title: status
          type: string
      title: _name__concept_type___specific_concept__json_get_200_response
      type: object
    _search_json_get_200_response:
      example:
        copyright: copyright
        results:
        - concept_name: concept_name
          concept_created: concept_created
          concept_status: concept_status
          concept_id: 6
          is_times_tag: 1
          concept_type: concept_type
          vernacular: vernacular
          concept_updated: concept_updated
        - concept_name: concept_name
          concept_created: concept_created
          concept_status: concept_status
          concept_id: 6
          is_times_tag: 1
          concept_type: concept_type
          vernacular: vernacular
          concept_updated: concept_updated
        num_results: 0
        status: status
      properties:
        copyright:
          title: copyright
          type: string
        num_results:
          title: num_results
          type: integer
        results:
          items:
            $ref: '#/components/schemas/ConceptRelation'
          title: results
          type: array
        status:
          title: status
          type: string
      title: _search_json_get_200_response
      type: object
    Concept_article_list_results_inner_concepts:
      example:
        nytd_org:
        - nytd_org
        - nytd_org
        nytd_per:
        - nytd_per
        - nytd_per
        nytd_des:
        - nytd_des
        - nytd_des
      properties:
        nytd_des:
          items:
            type: string
          title: nytd_des
          type: array
        nytd_org:
          items:
            type: string
          title: nytd_org
          type: array
        nytd_per:
          items:
            type: string
          title: nytd_per
          type: array
      title: Concept_article_list_results_inner_concepts
      type: object
    Concept_article_list_results_inner:
      example:
        date: date
        type_of_material: type_of_material
        concepts:
          nytd_org:
          - nytd_org
          - nytd_org
          nytd_per:
          - nytd_per
          - nytd_per
          nytd_des:
          - nytd_des
          - nytd_des
        body: body
        title: title
        byline: byline
        url: url
        document_type: document_type
      properties:
        body:
          title: body
          type: string
        byline:
          title: byline
          type: string
        concepts:
          $ref: '#/components/schemas/Concept_article_list_results_inner_concepts'
        date:
          title: date
          type: string
        document_type:
          title: document_type
          type: string
        title:
          title: title
          type: string
        type_of_material:
          title: type_of_material
          type: string
        url:
          title: url
          type: string
      title: Concept_article_list_results_inner
      type: object
    Concept_article_list:
      example:
        total: 5
        results:
        - date: date
          type_of_material: type_of_material
          concepts:
            nytd_org:
            - nytd_org
            - nytd_org
            nytd_per:
            - nytd_per
            - nytd_per
            nytd_des:
            - nytd_des
            - nytd_des
          body: body
          title: title
          byline: byline
          url: url
          document_type: document_type
        - date: date
          type_of_material: type_of_material
          concepts:
            nytd_org:
            - nytd_org
            - nytd_org
            nytd_per:
            - nytd_per
            - nytd_per
            nytd_des:
            - nytd_des
            - nytd_des
          body: body
          title: title
          byline: byline
          url: url
          document_type: document_type
      properties:
        results:
          items:
            $ref: '#/components/schemas/Concept_article_list_results_inner'
          title: results
          type: array
        total:
          title: total
          type: integer
      title: Concept_article_list
      type: object
    Concept_combinations_inner:
      example:
        combination_target_concept_id: 2
        combination_source_concept_id: 5
        combination_source_concept_type: combination_source_concept_type
        combination_source_concept_name: combination_source_concept_name
        combination_target_concept_type: combination_target_concept_type
        combination_note: combination_note
        combination_target_concept_name: combination_target_concept_name
      properties:
        combination_note:
          title: combination_note
          type: string
        combination_source_concept_id:
          title: combination_source_concept_id
          type: integer
        combination_source_concept_name:
          title: combination_source_concept_name
          type: string
        combination_source_concept_type:
          title: combination_source_concept_type
          type: string
        combination_target_concept_id:
          title: combination_target_concept_id
          type: integer
        combination_target_concept_name:
          title: combination_target_concept_name
          type: string
        combination_target_concept_type:
          title: combination_target_concept_type
          type: string
      title: Concept_combinations_inner
      type: object
    Concept_links_inner:
      example:
        concept_name: concept_name
        link_type: link_type
        mapping_type: mapping_type
        concept_status: concept_status
        concept_id: 3
        is_times_tag: 2
        concept_type: concept_type
        link: link
        link_id: 4
        relation: relation
      properties:
        concept_id:
          title: concept_id
          type: integer
        concept_name:
          title: concept_name
          type: string
        concept_status:
          title: concept_status
          type: string
        concept_type:
          title: concept_type
          type: string
        is_times_tag:
          title: is_times_tag
          type: integer
        link:
          title: link
          type: string
        link_id:
          title: link_id
          type: integer
        link_type:
          title: link_type
          type: string
        mapping_type:
          title: mapping_type
          type: string
        relation:
          title: relation
          type: string
      title: Concept_links_inner
      type: object
    Concept_scope_notes_inner:
      example:
        scope_note_name: scope_note_name
        scope_note: scope_note
        scope_note_type: scope_note_type
      properties:
        scope_note:
          title: scope_note
          type: string
        scope_note_name:
          title: scope_note_name
          type: string
        scope_note_type:
          title: scope_note_type
          type: string
      title: Concept_scope_notes_inner
      type: object
    Concept_taxonomy_inner:
      example:
        taxonomic_verification_status: taxonomic_verification_status
        target_concept_name: target_concept_name
        target_concept_id: 1
        source_concept_id: 7
        source_concept_type: source_concept_type
        target_concept_vernacular: target_concept_vernacular
        source_concept_name: source_concept_name
        source_concept_vernacular: source_concept_vernacular
        target_concept_type: target_concept_type
        taxonomic_relation: taxonomic_relation
      properties:
        source_concept_id:
          title: source_concept_id
          type: integer
        source_concept_name:
          title: source_concept_name
          type: string
        source_concept_type:
          title: source_concept_type
          type: string
        source_concept_vernacular:
          title: source_concept_vernacular
          type: string
        target_concept_id:
          title: target_concept_id
          type: integer
        target_concept_name:
          title: target_concept_name
          type: string
        target_concept_type:
          title: target_concept_type
          type: string
        target_concept_vernacular:
          title: target_concept_vernacular
          type: string
        taxonomic_relation:
          title: taxonomic_relation
          type: string
        taxonomic_verification_status:
          title: taxonomic_verification_status
          type: string
      title: Concept_taxonomy_inner
      type: object
  securitySchemes:
    apikey:
      in: query
      name: api-key
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller.info_from_apikey
