openapi: 3.0.1
info:
  description: "<p>Make use of our in-depth documentation to get more information\
    \ about the various functions of the service. Those willing to explore the mechanics\
    \ of Data2CRM.API can test it in live regime using the short code samples.</p><p>Select\
    \ CRM: <span id=\"docs-select-crm\" style=\"font-weight: bold\">Loading... please\
    \ wait</span></p><p>Here are the API access keys:<br><b>X-API2CRM-USER-KEY</b>:\
    \ <span id=\"docs-user-key\">e2a6379ab878ae7e58119d4ec842bf9c</span><br><b>X-API2CRM-APPLICATION-KEY</b>:\
    \ <span id=\"docs-crm-key\">7ae5b17008fb414d84981191cf3b66a476ef8bef</span></p><p\
    \ id=\"docs-crm-access\">The CRM access details are:<br><b>URL</b>: <a id=\"docs-crm-url\"\
    \ href=\"https://login.salesforce.com/\" target=\"_blank\">https://login.salesforce.com/</a><br><b>E-mail\
    \ / Username</b>: <span id=\"docs-crm-username\">developers.data2crm.api+1@magneticone.com</span><br><b>Password</b>:\
    \ <span id=\"docs-crm-password\">data2crmapi123</span></p>"
  title: Data2CRM.API
  version: "1"
  x-logo:
    backgroundColor: '#3089CF'
    url: https://s3.amazonaws.com/enterprise-multitenant.3scale.net.3scale.net/data2crm-api/2445581398133/profiles/logos/medium/data2crm_api.png
  x-origin:
  - format: swagger
    url: https://app.api2crm.com/swagger/spec/data2crm_api.json
    version: "2.0"
  x-providerName: data2crm.com
externalDocs:
  url: http://www.data2crm.com/api/
servers:
- url: https://api-2445581398133.apicast.io:443/v1
tags:
- description: Account Operations
  name: account
- description: Application Operations
  name: application
- description: Attachment Operations
  name: attachment
- description: Call Operations
  name: call
- description: Campaign Operations
  name: campaign
- description: Case Operations
  name: case
- description: Comment Operations
  name: comment
- description: Contact Operations
  name: contact
- description: Field Operations
  name: field
- description: Field Item Operations
  name: fieldItem
- description: Email Operations
  name: email
- description: Entity Operations
  name: entity
- description: Entity Item Operations
  name: entityItem
- description: Event Operations
  name: event
- description: Internal User Operations
  name: internalUser
- description: Invoice Operations
  name: invoice
- description: InvoiceItem Operations
  name: invoiceItem
- description: Lead Operations
  name: lead
- description: Meeting Operations
  name: meeting
- description: Note Operations
  name: note
- description: Opportunity Operations
  name: opportunity
- description: OpportunityProduct Operations
  name: opportunityProduct
- description: Platform Operations
  name: platform
- description: Post Operations
  name: post
- description: PriceBook Operations
  name: priceBook
- description: PriceBookItem Operations
  name: priceBookItem
- description: Product Operations
  name: product
- description: Project Operations
  name: project
- description: Quote Operations
  name: quote
- description: QuoteItem Operations
  name: quoteItem
- description: Request Operations
  name: request
- description: Tag Operations
  name: tag
- description: Task Operations
  name: task
- description: Ticket Operations
  name: ticket
- description: User Operations
  name: user
paths:
  /application:
    post:
      description: Add application into the system
      operationId: create_application_entity
      parameters:
      - description: API2CRM user key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationEntityWrite'
        description: Add application into the system
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationEntityRelation'
          description: Created
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: POST for application
      tags:
      - application
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.application_controller
  /application/count:
    get:
      description: Count all applications from the system
      operationId: get_application_count_collection
      parameters:
      - description: API2CRM user key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Filter
        in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: COUNT for application
      tags:
      - application
      x-openapi-router-controller: openapi_server.controllers.application_controller
  /application/entity/account:
    post:
      description: Add account into the system
      operationId: create_account_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountEntity'
        description: Add account into the system
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEntityRelation'
          description: Created
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: POST for account
      tags:
      - account
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /application/entity/account/aggregate:
    get:
      description: Returns aggregate for accounts
      operationId: get_account_aggregate
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: Filter
        in: query
        name: filter
        schema:
          type: string
      - description: Pipeline
        in: query
        name: pipeline
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aggregate'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: AGGREGATE for account
      tags:
      - account
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /application/entity/account/bulk:
    delete:
      operationId: delete_account_collection_bulk
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEntity'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEntity'
          description: OK
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
      summary: DELETE bulk  for account
      tags:
      - account
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.account_controller
    post:
      description: Add account into the system
      operationId: create_account_entity_bulk
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEntity'
        description: Add account into the system
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEntityRelation'
          description: Created
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: POST bulk  for account
      tags:
      - account
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.account_controller
    put:
      operationId: update_account_entity_bulk
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEntity'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEntityRelation'
          description: OK
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: PUT bulk  for account
      tags:
      - account
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /application/entity/account/count:
    get:
      description: Count all accounts from the system
      operationId: get_account_count_collection
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Filter
        in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: COUNT for account
      tags:
      - account
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /application/entity/account/describe:
    get:
      description: Returns describe for accounts
      operationId: get_account_describe
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDescribe'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: DESCRIBE for account
      tags:
      - account
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /application/entity/account/list:
    get:
      description: Returns all accounts from the system
      operationId: get_account_collection
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: "Amount of results (default: 25)"
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: "Page to show (default: 1)"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Filter
        in: query
        name: filter
        schema:
          type: string
      - description: Expand relations
        in: query
        name: expand
        schema:
          type: string
      - description: Comma-separated list of fields to include in the response
        in: query
        name: fields
        schema:
          type: string
      - description: Specifies ascending or descending sort on existing fields
        in: query
        name: sort
        schema:
          type: string
      - description: Find all unique values for selected field
        in: query
        name: unique
        schema:
          enum:
          - "false"
          - "true"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountEntity'
                type: array
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: GET for account
      tags:
      - account
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /application/entity/account/{account_id}:
    delete:
      description: Delete account information
      operationId: delete_account_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Account Identifier
        in: path
        name: account_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
      summary: DELETE for account
      tags:
      - account
      x-openapi-router-controller: openapi_server.controllers.account_controller
    get:
      description: Return account information
      operationId: get_account_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: Account Identifier
        in: path
        name: account_id
        required: true
        schema:
          type: string
      - description: Expand relations
        in: query
        name: expand
        schema:
          type: string
      - description: Comma-separated list of fields to include in the response
        in: query
        name: fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEntity'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: GET for account
      tags:
      - account
      x-openapi-router-controller: openapi_server.controllers.account_controller
    put:
      description: Update account information
      operationId: update_account_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: Account Identifier
        in: path
        name: account_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountEntity'
        description: Update account information
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEntityRelation'
          description: OK
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: PUT for account
      tags:
      - account
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.account_controller
  /application/entity/attachment:
    post:
      description: Add attachment into the system
      operationId: create_attachment_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentEntityWrite'
        description: Add attachment into the system
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentEntityRelation'
          description: Created
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: POST for attachment
      tags:
      - attachment
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.attachment_controller
  /application/entity/attachment/aggregate:
    get:
      description: Returns aggregate for attachments
      operationId: get_attachment_aggregate
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: Filter
        in: query
        name: filter
        schema:
          type: string
      - description: Pipeline
        in: query
        name: pipeline
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aggregate'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: AGGREGATE for attachment
      tags:
      - attachment
      x-openapi-router-controller: openapi_server.controllers.attachment_controller
  /application/entity/attachment/bulk:
    delete:
      operationId: delete_attachment_collection_bulk
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEntity'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEntity'
          description: OK
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
      summary: DELETE bulk  for attachment
      tags:
      - attachment
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.attachment_controller
    post:
      description: Add attachment into the system
      operationId: create_attachment_entity_bulk
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEntity'
        description: Add attachment into the system
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEntityRelation'
          description: Created
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: POST bulk  for attachment
      tags:
      - attachment
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.attachment_controller
    put:
      operationId: update_attachment_entity_bulk
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEntity'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEntityRelation'
          description: OK
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: PUT bulk  for attachment
      tags:
      - attachment
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.attachment_controller
  /application/entity/attachment/count:
    get:
      description: Count all attachments from the system
      operationId: get_attachment_count_collection
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Filter
        in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: COUNT for attachment
      tags:
      - attachment
      x-openapi-router-controller: openapi_server.controllers.attachment_controller
  /application/entity/attachment/describe:
    get:
      description: Returns describe for attachments
      operationId: get_attachment_describe
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentDescribe'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: DESCRIBE for attachment
      tags:
      - attachment
      x-openapi-router-controller: openapi_server.controllers.attachment_controller
  /application/entity/attachment/list:
    get:
      description: Returns all attachments from the system
      operationId: get_attachment_collection
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: "Amount of results (default: 25)"
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: "Page to show (default: 1)"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Filter
        in: query
        name: filter
        schema:
          type: string
      - description: Expand relations
        in: query
        name: expand
        schema:
          type: string
      - description: Comma-separated list of fields to include in the response
        in: query
        name: fields
        schema:
          type: string
      - description: Specifies ascending or descending sort on existing fields
        in: query
        name: sort
        schema:
          type: string
      - description: Find all unique values for selected field
        in: query
        name: unique
        schema:
          enum:
          - "false"
          - "true"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AttachmentEntityList'
                type: array
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: GET for attachment
      tags:
      - attachment
      x-openapi-router-controller: openapi_server.controllers.attachment_controller
  /application/entity/attachment/{attachment_id}:
    delete:
      description: Delete attachment information
      operationId: delete_attachment_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Attachment Identifier
        in: path
        name: attachment_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
      summary: DELETE for attachment
      tags:
      - attachment
      x-openapi-router-controller: openapi_server.controllers.attachment_controller
    get:
      description: Return attachment information
      operationId: get_attachment_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: Attachment Identifier
        in: path
        name: attachment_id
        required: true
        schema:
          type: string
      - description: Expand relations
        in: query
        name: expand
        schema:
          type: string
      - description: Comma-separated list of fields to include in the response
        in: query
        name: fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentEntity'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: GET for attachment
      tags:
      - attachment
      x-openapi-router-controller: openapi_server.controllers.attachment_controller
    put:
      description: Update attachment information
      operationId: update_attachment_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: Attachment Identifier
        in: path
        name: attachment_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentEntityWrite'
        description: Update attachment information
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentEntityRelation'
          description: OK
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: PUT for attachment
      tags:
      - attachment
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.attachment_controller
  /application/entity/call:
    post:
      description: Add call into the system
      operationId: create_call_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallEntity'
        description: Add call into the system
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallEntityRelation'
          description: Created
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: POST for call
      tags:
      - call
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.call_controller
  /application/entity/call/aggregate:
    get:
      description: Returns aggregate for calls
      operationId: get_call_aggregate
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: Filter
        in: query
        name: filter
        schema:
          type: string
      - description: Pipeline
        in: query
        name: pipeline
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aggregate'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: AGGREGATE for call
      tags:
      - call
      x-openapi-router-controller: openapi_server.controllers.call_controller
  /application/entity/call/bulk:
    delete:
      operationId: delete_call_collection_bulk
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEntity'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEntity'
          description: OK
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
      summary: DELETE bulk  for call
      tags:
      - call
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.call_controller
    post:
      description: Add call into the system
      operationId: create_call_entity_bulk
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEntity'
        description: Add call into the system
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEntityRelation'
          description: Created
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: POST bulk  for call
      tags:
      - call
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.call_controller
    put:
      operationId: update_call_entity_bulk
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEntity'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEntityRelation'
          description: OK
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: PUT bulk  for call
      tags:
      - call
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.call_controller
  /application/entity/call/count:
    get:
      description: Count all calls from the system
      operationId: get_call_count_collection
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Filter
        in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: COUNT for call
      tags:
      - call
      x-openapi-router-controller: openapi_server.controllers.call_controller
  /application/entity/call/describe:
    get:
      description: Returns describe for calls
      operationId: get_call_describe
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallDescribe'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: DESCRIBE for call
      tags:
      - call
      x-openapi-router-controller: openapi_server.controllers.call_controller
  /application/entity/call/list:
    get:
      description: Returns all calls from the system
      operationId: get_call_collection
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: "Amount of results (default: 25)"
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: "Page to show (default: 1)"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Filter
        in: query
        name: filter
        schema:
          type: string
      - description: Expand relations
        in: query
        name: expand
        schema:
          type: string
      - description: Comma-separated list of fields to include in the response
        in: query
        name: fields
        schema:
          type: string
      - description: Specifies ascending or descending sort on existing fields
        in: query
        name: sort
        schema:
          type: string
      - description: Find all unique values for selected field
        in: query
        name: unique
        schema:
          enum:
          - "false"
          - "true"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CallEntity'
                type: array
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: GET for call
      tags:
      - call
      x-openapi-router-controller: openapi_server.controllers.call_controller
  /application/entity/call/{call_id}:
    delete:
      description: Delete call information
      operationId: delete_call_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Call Identifier
        in: path
        name: call_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
      summary: DELETE for call
      tags:
      - call
      x-openapi-router-controller: openapi_server.controllers.call_controller
    get:
      description: Return call information
      operationId: get_call_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: Call Identifier
        in: path
        name: call_id
        required: true
        schema:
          type: string
      - description: Expand relations
        in: query
        name: expand
        schema:
          type: string
      - description: Comma-separated list of fields to include in the response
        in: query
        name: fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallEntity'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: GET for call
      tags:
      - call
      x-openapi-router-controller: openapi_server.controllers.call_controller
    put:
      description: Update call information
      operationId: update_call_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: Call Identifier
        in: path
        name: call_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallEntity'
        description: Update call information
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallEntityRelation'
          description: OK
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: PUT for call
      tags:
      - call
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.call_controller
  /application/entity/campaign:
    post:
      description: Add campaign into the system
      operationId: create_campaign_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignEntity'
        description: Add campaign into the system
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignEntityRelation'
          description: Created
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: POST for campaign
      tags:
      - campaign
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.campaign_controller
  /application/entity/campaign/aggregate:
    get:
      description: Returns aggregate for campaigns
      operationId: get_campaign_aggregate
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: Filter
        in: query
        name: filter
        schema:
          type: string
      - description: Pipeline
        in: query
        name: pipeline
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aggregate'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: AGGREGATE for campaign
      tags:
      - campaign
      x-openapi-router-controller: openapi_server.controllers.campaign_controller
  /application/entity/campaign/bulk:
    delete:
      operationId: delete_campaign_collection_bulk
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEntity'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEntity'
          description: OK
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
      summary: DELETE bulk  for campaign
      tags:
      - campaign
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.campaign_controller
    post:
      description: Add campaign into the system
      operationId: create_campaign_entity_bulk
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEntity'
        description: Add campaign into the system
        required: true
        x-body-name: body
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEntityRelation'
          description: Created
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: POST bulk  for campaign
      tags:
      - campaign
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.campaign_controller
    put:
      operationId: update_campaign_entity_bulk
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEntity'
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEntityRelation'
          description: OK
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: PUT bulk  for campaign
      tags:
      - campaign
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.campaign_controller
  /application/entity/campaign/count:
    get:
      description: Count all campaigns from the system
      operationId: get_campaign_count_collection
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Filter
        in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: COUNT for campaign
      tags:
      - campaign
      x-openapi-router-controller: openapi_server.controllers.campaign_controller
  /application/entity/campaign/describe:
    get:
      description: Returns describe for campaigns
      operationId: get_campaign_describe
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignDescribe'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: DESCRIBE for campaign
      tags:
      - campaign
      x-openapi-router-controller: openapi_server.controllers.campaign_controller
  /application/entity/campaign/list:
    get:
      description: Returns all campaigns from the system
      operationId: get_campaign_collection
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: "Amount of results (default: 25)"
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: "Page to show (default: 1)"
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Filter
        in: query
        name: filter
        schema:
          type: string
      - description: Expand relations
        in: query
        name: expand
        schema:
          type: string
      - description: Comma-separated list of fields to include in the response
        in: query
        name: fields
        schema:
          type: string
      - description: Specifies ascending or descending sort on existing fields
        in: query
        name: sort
        schema:
          type: string
      - description: Find all unique values for selected field
        in: query
        name: unique
        schema:
          enum:
          - "false"
          - "true"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CampaignEntity'
                type: array
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: GET for campaign
      tags:
      - campaign
      x-openapi-router-controller: openapi_server.controllers.campaign_controller
  /application/entity/campaign/{campaign_id}:
    delete:
      description: Delete campaign information
      operationId: delete_campaign_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Campaign Identifier
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "404":
          content: {}
          description: Not Found
      summary: DELETE for campaign
      tags:
      - campaign
      x-openapi-router-controller: openapi_server.controllers.campaign_controller
    get:
      description: Return campaign information
      operationId: get_campaign_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Enable
        in: header
        name: X-API2CRM-DATA-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Data Build
        in: header
        name: X-API2CRM-DATA-BUILD
        schema:
          enum:
          - "false"
          type: string
      - description: Data Is Final
        in: header
        name: X-API2CRM-DATA-IS-FINAL
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Data Strategy
        in: header
        name: X-API2CRM-DATA-STRATEGY
        schema:
          enum:
          - simple
          type: string
      - description: Coherent Entities
        in: header
        name: X-API2CRM-DATA-COHERENT-ENTITIES
        schema:
          type: string
      - description: Data Is Actual
        in: header
        name: X-API2CRM-DATA-ALWAYS-ACTUAL
        schema:
          enum:
          - "true"
          type: string
      - description: Data Actual At
        in: header
        name: X-API2CRM-DATA-ACTUAL-AT
        schema:
          format: date-time
          pattern: "/^\\d{4}-\\d{2}-\\d{2}T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}(\\\
            -(0[0-9]|1[0-2])|\\+(0[0-9]|1[0-4]))[0-5][0-9]$/"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: Campaign Identifier
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      - description: Expand relations
        in: query
        name: expand
        schema:
          type: string
      - description: Comma-separated list of fields to include in the response
        in: query
        name: fields
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignEntity'
          description: OK
        "404":
          content: {}
          description: Not Found
      summary: GET for campaign
      tags:
      - campaign
      x-openapi-router-controller: openapi_server.controllers.campaign_controller
    put:
      description: Update campaign information
      operationId: update_campaign_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
          default: e2a6379ab878ae7e58119d4ec842bf9c
          type: string
      - description: Application Key
        in: header
        name: X-API2CRM-APPLICATION-KEY
        required: true
        schema:
          default: 7ae5b17008fb414d84981191cf3b66a476ef8bef
          type: string
      - description: Return native response
        in: header
        name: X-API2CRM-NATIVE-ENABLE
        schema:
          enum:
          - "false"
          - "true"
          type: string
      - description: Describe lifetime
        in: header
        name: X-API2CRM-DESCRIBE-LIFETIME
        schema:
          type: string
      - description: Campaign Identifier
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignEntity'
        description: Update campaign information
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignEntityRelation'
          description: OK
        "400":
          content: {}
          description: Client Error
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: PUT for campaign
      tags:
      - campaign
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.campaign_controller
  /application/entity/case:
    post:
      description: Add case into the system
      operationId: create_case_entity
      parameters:
      - description: User Key
        in: header
        name: X-API2CRM-USER-KEY
        required: true
        schema:
[...]
