openapi: 3.0.1
info:
  description: The Storage Import/Export Resource Provider API.
  title: StorageImportExport
  version: 2016-11-01
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2016-11-01/storageimportexport.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: storageimportexport
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
security:
- azure_auth:
  - user_impersonation
paths:
  /providers/Microsoft.ImportExport/locations:
    get:
      description: Returns a list of locations to which you can ship the disks associated
        with an import or export job. A location is a Microsoft data center region.
      externalDocs:
        url: ""
      operationId: Locations_List
      parameters:
      - description: Specifies the API version to use for this request.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2016-11-01
          type: string
      - description: Specifies the preferred language for the response.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurs.
      tags:
      - StorageImportExport
      x-ms-examples:
        List locations:
          parameters:
            api-version: 2016-11-01
          responses:
            "200":
              body:
                value:
                - id: /providers/Microsoft.ImportExport/locations/australiaeast
                  name: Australia East
                  properties:
                    alternateLocations:
                    - /providers/Microsoft.ImportExport/locations/australiaeast
                    city: Macquarie Park
                    countryOrRegion: Australia
                    phone: 612 0000 0000
                    postalCode: "2113"
                    recipientName: Windows Azure Import/Export Service
                    stateOrProvince: NSW
                    streetAddress1: "Customer-A c/o NEXTDC Ltd, Delivery code ABCDEFG,\
                      \ 4 Eden Park Drive"
                    streetAddress2: ""
                    supportedCarriers:
                    - DHL
                  type: Microsoft.ImportExport/locations
                - id: /providers/Microsoft.ImportExport/locations/australiasoutheast
                  name: Australia Southeast
                  properties:
                    alternateLocations:
                    - /providers/Microsoft.ImportExport/locations/australiasoutheast
                    city: Melbourne
                    countryOrRegion: Australia
                    phone: 61 0 0000 0000
                    postalCode: "3207"
                    recipientName: Microsoft Azure Import/Export Service
                    stateOrProvince: Melbourne
                    streetAddress1: "Microsoft, c/o NEXTDC Ltd, Delivery code ABCDEFG,\
                      \ 826-830 Lorimer St, Port"
                    streetAddress2: ""
                    supportedCarriers:
                    - DHL
                  type: Microsoft.ImportExport/locations
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /providers/Microsoft.ImportExport/locations/{locationName}:
    get:
      description: Returns the details about a location to which you can ship the
        disks associated with an import or export job. A location is an Azure region.
      externalDocs:
        url: ""
      operationId: Locations_Get
      parameters:
      - description: "The name of the location. For example, West US or westus."
        in: path
        name: locationName
        required: true
        schema:
          type: string
      - description: Specifies the API version to use for this request.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2016-11-01
          type: string
      - description: Specifies the preferred language for the response.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurs.
      tags:
      - StorageImportExport
      x-ms-examples:
        Get locations:
          parameters:
            api-version: 2016-11-01
            locationName: West US
          responses:
            "200":
              body:
                id: /providers/Microsoft.ImportExport/locations/westus
                name: West US
                properties:
                  alternateLocations:
                  - /providers/Microsoft.ImportExport/locations/westus
                  city: Santa Clara
                  countryOrRegion: USA
                  phone: 408 352 7600
                  postalCode: "95050"
                  recipientName: Microsoft Azure Import/Export Service
                  stateOrProvince: CA
                  streetAddress1: 2045 Lafayette Street
                  streetAddress2: ""
                  supportedCarriers:
                  - FedEx
                type: Microsoft.ImportExport/locations
      x-accepts:
      - application/json
  /providers/Microsoft.ImportExport/operations:
    get:
      description: Returns the list of operations supported by the import/export resource
        provider.
      externalDocs:
        url: ""
      operationId: Operations_List
      parameters:
      - description: Specifies the API version to use for this request.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2016-11-01
          type: string
      - description: Specifies the preferred language for the response.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurs.
      tags:
      - StorageImportExport
      x-ms-examples:
        List available operations:
          parameters:
            api-version: 2016-11-01
          responses:
            "200":
              body:
                value:
                - display:
                    description: Gets the properties for the specified location or
                      returns the list of locations.
                    operation: Get or List Locations
                    provider: Microsoft Import/Export
                    resource: Locations
                  name: Microsoft.ImportExport/locations/read
                - display:
                    description: Creates a job with the specified parameters or update
                      the properties or tags for the specified job.
                    operation: Create or Update Job
                    provider: Microsoft Import/Export
                    resource: Jobs
                  name: Microsoft.ImportExport/jobs/write
                - display:
                    description: Gets the properties for the specified job or returns
                      the list of jobs.
                    operation: Get or List Jobs
                    provider: Microsoft Import/Export
                    resource: Jobs
                  name: Microsoft.ImportExport/jobs/read
                - display:
                    description: Gets the BitLocker keys for the specified job.
                    operation: List BitLocker Keys
                    provider: Microsoft Import/Export
                    resource: Jobs
                  name: Microsoft.ImportExport/jobs/listBitLockerKeys/action
                - display:
                    description: Deletes an existing job.
                    operation: Delete Job
                    provider: Microsoft Import/Export
                    resource: Jobs
                  name: Microsoft.ImportExport/jobs/delete
                - display:
                    description: Registers the subscription for the import/export
                      resource provider and enables the creation of import/export
                      jobs.
                    operation: Registers the Import/Export Resource Provider
                    provider: Microsoft Import/Export
                    resource: Import/Export Resource Provider
                  name: Microsoft.ImportExport/register/action
      x-ms-pageable: {}
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/providers/Microsoft.ImportExport/jobs:
    get:
      description: Returns all active and completed jobs in a subscription.
      externalDocs:
        url: ""
      operationId: Jobs_ListBySubscription
      parameters:
      - description: An integer value that specifies how many jobs at most should
          be returned. The value cannot exceed 100.
        in: query
        name: $top
        schema:
          type: integer
      - description: Can be used to restrict the results to certain conditions.
        in: query
        name: $filter
        schema:
          type: string
      - description: The subscription ID for the Azure user.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: Specifies the API version to use for this request.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2016-11-01
          type: string
      - description: Specifies the preferred language for the response.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurs.
      tags:
      - StorageImportExport
      x-ms-examples:
        List jobs in a subscription:
          parameters:
            api-version: 2016-11-01
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/testrg/providers/Microsoft.ImportExport/jobs/test-bn1-import-cpu100-01
                  location: East US 2
                  name: test-bn1-import-cpu100-01
                  properties:
                    backupDriveManifest: true
                    cancelRequested: false
                    deliveryPackage:
                      carrierName: FedEx
                      driveCount: 1
                      shipDate: 8/11/2017 9:05:00 PM
                      trackingNumber: "992016102507"
                    diagnosticsPath: waimportexport
                    driveList:
                    - driveId: 7PHR882C
                      manifestFile: \DriveManifest.xml
                      manifestHash: E5D632DB047C74B3B17C8F3359950ADB
                      state: Received
                    jobType: Import
                    logLevel: Verbose
                    provisioningState: Succeeded
                    returnAddress:
                      city: city
                      countryOrRegion: USA
                      email: test@contoso.com
                      phone: "425000000"
                      postalCode: "98007"
                      recipientName: La
                      stateOrProvince: wa
                      streetAddress1: Street1
                      streetAddress2: street2
                    shippingInformation:
                      city: Boydton
                      countryOrRegion: USA
                      phone: +1-434-738-9443
                      postalCode: "23917"
                      recipientName: Windows Azure Import Export Service
                      stateOrProvince: VA
                      streetAddress1: "Boydton 1 / BLDG # 1 101 Herbert Drive"
                      streetAddress2: ""
                    state: Received
                    storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/testrg/providers/Microsoft.Storage/storageAccounts/xtprodtestarmos2
                  type: Microsoft.ImportExport/jobs
                - id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/testrg/providers/Microsoft.ImportExport/jobs/test-bn1-import-cpu100-02
                  location: East US 2
                  name: test-bn1-import-cpu100-02
                  properties:
                    backupDriveManifest: true
                    cancelRequested: false
                    deliveryPackage:
                      carrierName: FedEx
                      driveCount: 1
                      shipDate: 8/13/2017 7:32:23 PM
                      trackingNumber: "992016102508"
                    diagnosticsPath: waimportexport
                    driveList:
                    - copyStatus: InProgress
                      driveId: KV6H86XP
                      errorLogUri: https://foo.blob.core.windows.net/waimportexport/waies/test-bn1-import-cpu100-02_KV6H86XP_20170813-194620-021_error.xml
                      manifestFile: \DriveManifest.xml
                      manifestHash: F6A488A65AF0CCA7D050B7F9F43A197C
                      manifestUri: https://foo.blob.core.windows.net/waimportexport/waies/test-bn1-import-cpu100-02_KV6H86XP_20170813-194620-574_manifest.xml
                      state: CompletedMoreInfo
                      verboseLogUri: https://foo.blob.core.windows.net/waimportexport/waies/test-bn1-import-cpu100-02_KV6H86XP_20170813-194618-350_verbose.xml
                    jobType: Import
                    logLevel: Verbose
                    percentComplete: 6
                    provisioningState: Succeeded
                    returnAddress:
                      city: city
                      countryOrRegion: USA
                      email: test@contoso.com
                      phone: "4256150991"
                      postalCode: "98007"
                      recipientName: La
                      stateOrProvince: wa
                      streetAddress1: Street1
                      streetAddress2: street2
                    shippingInformation:
                      city: Boydton
                      countryOrRegion: USA
                      phone: +1-434-738-9443
                      postalCode: "23917"
                      recipientName: Windows Azure Import Export Service
                      stateOrProvince: VA
                      streetAddress1: "Boydton 1 / BLDG # 1 101 Herbert Drive"
                      streetAddress2: ""
                    state: Transferring
                    storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/testrg/providers/Microsoft.Storage/storageAccounts/xtprodtestarmos2
                  type: Microsoft.ImportExport/jobs
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs:
    get:
      description: Returns all active and completed jobs in a resource group.
      externalDocs:
        url: ""
      operationId: Jobs_ListByResourceGroup
      parameters:
      - description: An integer value that specifies how many jobs at most should
          be returned. The value cannot exceed 100.
        in: query
        name: $top
        schema:
          type: integer
      - description: Can be used to restrict the results to certain conditions.
        in: query
        name: $filter
        schema:
          type: string
      - description: The subscription ID for the Azure user.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name uniquely identifies the resource group
          within the user subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Specifies the API version to use for this request.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2016-11-01
          type: string
      - description: Specifies the preferred language for the response.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurs.
      tags:
      - StorageImportExport
      x-ms-examples:
        List jobs in a resource group:
          parameters:
            api-version: 2016-11-01
            resourceGroupName: Default-Storage-WestUS
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              body:
                value:
                - id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ImportExport/jobs/test-by1-ssd-2
                  location: West US
                  name: test-by1-ssd-2
                  properties:
                    backupDriveManifest: true
                    cancelRequested: false
                    deliveryPackage:
                      carrierName: FedEx
                      driveCount: 1
                      shipDate: 9/29/2017 10:28:35 PM
                      trackingNumber: "787895108176"
                    diagnosticsPath: waimportexport
                    jobType: Import
                    logLevel: Verbose
                    provisioningState: Succeeded
                    returnAddress:
                      city: Redmond
                      countryOrRegion: USA
                      email: test@contoso.com
                      phone: "4250000000"
                      postalCode: "98007"
                      recipientName: La
                      stateOrProvince: wa
                      streetAddress1: Street1
                      streetAddress2: street2
                    shippingInformation:
                      city: Santa Clara
                      countryOrRegion: USA
                      phone: 408 352 7600
                      postalCode: "95050"
                      recipientName: Microsoft Azure Import/Export Service
                      stateOrProvince: CA
                      streetAddress1: 2045 Lafayette Street
                      streetAddress2: ""
                    state: Received
                    storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/xtprodtestwu
                  type: Microsoft.ImportExport/jobs
      x-ms-pageable:
        nextLinkName: nextLink
      x-accepts:
      - application/json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}:
    delete:
      description: Deletes an existing job. Only jobs in the Creating or Completed
        states can be deleted.
      externalDocs:
        url: ""
      operationId: Jobs_Delete
      parameters:
      - description: The name of the import/export job.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The subscription ID for the Azure user.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name uniquely identifies the resource group
          within the user subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Specifies the API version to use for this request.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2016-11-01
          type: string
      - description: Specifies the preferred language for the response.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content: {}
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurs.
      tags:
      - StorageImportExport
      x-ms-examples:
        Delete job:
          parameters:
            api-version: 2016-11-01
            jobName: test-by1-import
            resourceGroupName: Default-Storage-WestUS
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ImportExport/jobs/test
              location: West US
              name: test-by1-import
              properties:
                backupDriveManifest: true
                cancelRequested: false
                diagnosticsPath: waimportexport
                driveList:
                - driveHeaderHash: ""
                  driveId: 9CA995BB
                  manifestFile: \DriveManifest.xml
                  manifestHash: 109B21108597EF36D5785F08303F3638
                  state: Specified
                jobType: Import
                logLevel: Verbose
                provisioningState: Succeeded
                returnAddress:
                  city: Redmond
                  countryOrRegion: USA
                  email: Test@contoso.com
                  phone: "4250000000"
                  postalCode: "98007"
                  recipientName: Tets
                  stateOrProvince: wa
                  streetAddress1: Street1
                  streetAddress2: street2
                shippingInformation:
                  city: Santa Clara
                  countryOrRegion: USA
                  phone: 408 0000 0000
                  postalCode: "95050"
                  recipientName: Microsoft Azure Import/Export Service
                  stateOrProvince: CA
                  streetAddress1: 2045 Lafayette Street
                  streetAddress2: ""
                state: Creating
                storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/test
              type: Microsoft.ImportExport/jobs
      x-accepts:
      - application/json
    get:
      description: Gets information about an existing job.
      externalDocs:
        url: ""
      operationId: Jobs_Get
      parameters:
      - description: The name of the import/export job.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The subscription ID for the Azure user.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name uniquely identifies the resource group
          within the user subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Specifies the API version to use for this request.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2016-11-01
          type: string
      - description: Specifies the preferred language for the response.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurs.
      tags:
      - StorageImportExport
      x-ms-examples:
        Get job:
          parameters:
            api-version: 2016-11-01
            jobName: test-by1-import
            resourceGroupName: Default-Storage-WestUS
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              body:
                id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ImportExport/jobs/test
                location: West US
                name: test-by1-import
                properties:
                  backupDriveManifest: true
                  cancelRequested: false
                  diagnosticsPath: waimportexport
                  driveList:
                  - driveHeaderHash: ""
                    driveId: 9CA995BB
                    manifestFile: \DriveManifest.xml
                    manifestHash: 109B21108597EF36D5785F08303F3638
                    state: Specified
                  jobType: Import
                  logLevel: Verbose
                  provisioningState: Succeeded
                  returnAddress:
                    city: Redmond
                    countryOrRegion: USA
                    email: Test@contoso.com
                    phone: "4250000000"
                    postalCode: "98007"
                    recipientName: Tets
                    stateOrProvince: wa
                    streetAddress1: Street1
                    streetAddress2: street2
                  shippingInformation:
                    city: Santa Clara
                    countryOrRegion: USA
                    phone: 408 0000 0000
                    postalCode: "95050"
                    recipientName: Microsoft Azure Import/Export Service
                    stateOrProvince: CA
                    streetAddress1: 2045 Lafayette Street
                    streetAddress2: ""
                  state: Creating
                  storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/test
                type: Microsoft.ImportExport/jobs
      x-accepts:
      - application/json
    patch:
      description: Updates specific properties of a job. You can call this operation
        to notify the Import/Export service that the hard drives comprising the import
        or export job have been shipped to the Microsoft data center. It can also
        be used to cancel an existing job.
      externalDocs:
        url: ""
      operationId: Jobs_Update
      parameters:
      - description: The name of the import/export job.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The subscription ID for the Azure user.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name uniquely identifies the resource group
          within the user subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Specifies the API version to use for this request.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2016-11-01
          type: string
      - description: Specifies the preferred language for the response.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateJobParameters'
        description: The parameters to update in the job
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurs.
      tags:
      - StorageImportExport
      x-ms-examples:
        Update job:
          parameters:
            api-version: 2016-11-01
            body:
              properties:
                backupDriveManifest: true
                logLevel: Verbose
                state: ""
            jobName: test-by1-import
            resourceGroupName: Default-Storage-WestUS
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              body:
                id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ImportExport/jobs/test-by1-import
                location: West US
                name: test-by1-import
                properties:
                  backupDriveManifest: true
                  cancelRequested: false
                  diagnosticsPath: waimportexport
                  driveList:
                  - driveHeaderHash: ""
                    driveId: 9CA995BB
                    manifestFile: \DriveManifest.xml
                    manifestHash: 109B21108597EF36D5785F08303F3638
                    state: Specified
                  jobType: Import
                  logLevel: Verbose
                  provisioningState: Succeeded
                  returnAddress:
                    city: Redmond
                    countryOrRegion: USA
                    email: Test@contoso.com
                    phone: "4250000000"
                    postalCode: "98007"
                    recipientName: Tets
                    stateOrProvince: wa
                    streetAddress1: Street1
                    streetAddress2: street2
                  shippingInformation:
                    city: Santa Clara
                    countryOrRegion: USA
                    phone: 408 352 7600
                    postalCode: "95050"
                    recipientName: Microsoft Azure Import/Export Service
                    stateOrProvince: CA
                    streetAddress1: 2045 Lafayette Street
                    streetAddress2: ""
                  state: Creating
                  storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/test
                type: Microsoft.ImportExport/jobs
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Creates a new job or updates an existing job in the specified subscription.
      externalDocs:
        url: ""
      operationId: Jobs_Create
      parameters:
      - description: The name of the import/export job.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The subscription ID for the Azure user.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name uniquely identifies the resource group
          within the user subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Specifies the API version to use for this request.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2016-11-01
          type: string
      - description: Specifies the preferred language for the response.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      - description: The tenant ID of the client making the request.
        in: header
        name: x-ms-client-tenant-id
        schema:
          type: string
          x-ms-client-name: ClientTenantId
          x-ms-parameter-location: method
        x-ms-client-name: ClientTenantId
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutJobParameters'
        description: The parameters used for creating the job
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          description: OK
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurs.
      tags:
      - StorageImportExport
      x-ms-examples:
        Create job:
          parameters:
            api-version: 2016-11-01
            body:
              location: West US
              properties:
                backupDriveManifest: true
                diagnosticsPath: waimportexport
                driveList:
                - bitLockerKey: 238810-662376-448998-450120-652806-203390-606320-483076
                  driveHeaderHash: ""
                  driveId: 9CA995BB
                  manifestFile: \DriveManifest.xml
                  manifestHash: 109B21108597EF36D5785F08303F3638
                jobType: Import
                logLevel: Verbose
                returnAddress:
                  city: Redmond
                  countryOrRegion: USA
                  email: Test@contoso.com
                  phone: "4250000000"
                  postalCode: "98007"
                  recipientName: Tets
                  stateOrProvince: wa
                  streetAddress1: Street1
                  streetAddress2: street2
                storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/test
            jobName: test-by1-import
            resourceGroupName: Default-Storage-WestUS
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              body:
                id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ImportExport/jobs/test
                location: West US
                name: test-by1-import
                properties:
                  backupDriveManifest: true
                  cancelRequested: false
                  diagnosticsPath: waimportexport
                  driveList:
                  - driveHeaderHash: ""
                    driveId: 9CA995BB
                    manifestFile: \DriveManifest.xml
                    manifestHash: 109B21108597EF36D5785F08303F3638
                    state: Specified
                  jobType: Import
                  logLevel: Verbose
                  provisioningState: Succeeded
                  returnAddress:
                    city: Redmond
                    countryOrRegion: USA
                    email: Test@contoso.com
                    phone: "4250000000"
                    postalCode: "98007"
                    recipientName: Tets
                    stateOrProvince: wa
                    streetAddress1: Street1
                    streetAddress2: street2
                  shippingInformation:
                    city: Santa Clara
                    countryOrRegion: USA
                    phone: 408 0000 0000
                    postalCode: "95050"
                    recipientName: Microsoft Azure Import/Export Service
                    stateOrProvince: CA
                    streetAddress1: 2045 Lafayette Street
                    streetAddress2: ""
                  state: Creating
                  storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/test
                type: Microsoft.ImportExport/jobs
            "201":
              body:
                id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ImportExport/jobs/test
                location: West US
                name: test-by1-import
                properties:
                  backupDriveManifest: true
                  cancelRequested: false
                  diagnosticsPath: waimportexport
                  driveList:
                  - driveHeaderHash: ""
                    driveId: 9CA995BB
                    manifestFile: \DriveManifest.xml
                    manifestHash: 109B21108597EF36D5785F08303F3638
                    state: Specified
                  jobType: Import
                  logLevel: Verbose
                  provisioningState: Succeeded
                  returnAddress:
                    city: Redmond
                    countryOrRegion: USA
                    email: Test@contoso.com
                    phone: "4250000000"
                    postalCode: "98007"
                    recipientName: Tets
                    stateOrProvince: wa
                    streetAddress1: Street1
                    streetAddress2: street2
                  shippingInformation:
                    city: Santa Clara
                    countryOrRegion: USA
                    phone: 408 0000 0000
                    postalCode: "95050"
                    recipientName: Microsoft Azure Import/Export Service
                    stateOrProvince: CA
                    streetAddress1: 2045 Lafayette Street
                    streetAddress2: ""
                  state: Creating
                  storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/test
                type: Microsoft.ImportExport/jobs
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}/listBitLockerKeys
  : post:
      description: Returns the BitLocker Keys for all drives in the specified job.
      externalDocs:
        url: ""
      operationId: BitLockerKeys_List
      parameters:
      - description: The name of the import/export job.
        in: path
        name: jobName
        required: true
        schema:
          type: string
      - description: The subscription ID for the Azure user.
        in: path
        name: subscriptionId
        required: true
        schema:
          type: string
      - description: The resource group name uniquely identifies the resource group
          within the user subscription.
        in: path
        name: resourceGroupName
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Specifies the API version to use for this request.
        in: query
        name: api-version
        required: true
        schema:
          enum:
          - 2016-11-01
          type: string
      - description: Specifies the preferred language for the response.
        in: header
        name: Accept-Language
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBitLockerKeysResponse'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: An error occurs.
      tags:
      - StorageImportExport
      x-ms-examples:
        List BitLocker Keys for drives in a job:
          parameters:
            api-version: 2016-11-01
            jobName: test-by1-import
            resourceGroupName: Default-Storage-WestUS
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              body:
                value:
                - bitLockerKey: 000000-000000-111111-222222-333333-444444-555555-666666
                  driveId: 9CA995BB
      x-ms-pageable: {}
      x-accepts:
      - application/json
components:
  parameters:
    Accept-Language:
      description: Specifies the preferred language for the response.
      in: header
      name: Accept-Language
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    api-version:
      description: Specifies the API version to use for this request.
      in: query
      name: api-version
      required: true
      schema:
        enum:
        - 2016-11-01
        type: string
    resourceGroupName:
      description: The resource group name uniquely identifies the resource group
        within the user subscription.
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    subscriptionId:
      description: The subscription ID for the Azure user.
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    x-ms-client-tenant-id:
      description: The tenant ID of the client making the request.
      in: header
      name: x-ms-client-tenant-id
      schema:
        type: string
        x-ms-client-name: ClientTenantId
        x-ms-parameter-location: method
      x-ms-client-name: ClientTenantId
      x-ms-parameter-location: method
  schemas:
    DriveBitLockerKey:
      description: BitLocker recovery key or password to the specified drive
      example:
        driveId: driveId
        bitLockerKey: bitLockerKey
      properties:
        bitLockerKey:
          description: BitLocker recovery key or password
          type: string
        driveId:
          description: Drive ID
          type: string
      type: object
    DriveStatus:
      description: Provides information about the drive's status
      example:
        manifestFile: manifestFile
        driveId: driveId
        bitLockerKey: bitLockerKey
        manifestHash: manifestHash
        bytesSucceeded: 6
        driveHeaderHash: driveHeaderHash
        manifestUri: manifestUri
        percentComplete: 1
        state: Specified
        copyStatus: copyStatus
        errorLogUri: errorLogUri
        verboseLogUri: verboseLogUri
      properties:
        bitLockerKey:
          description: The BitLocker key used to encrypt the drive.
          type: string
        bytesSucceeded:
          description: Bytes successfully transferred for the drive.
          format: int64
          type: integer
        copyStatus:
          description: Detailed status about the data transfer process. This field
            is not returned in the response until the drive is in the Transferring
            state.
          type: string
        driveHeaderHash:
          description: The drive header hash value.
          type: string
        driveId:
          description: "The drive's hardware serial number, without spaces."
          type: string
        errorLogUri:
          description: A URI that points to the blob containing the error log for
            the data transfer operation.
          type: string
        manifestFile:
          description: 'The relative path of the manifest file on the drive. '
          type: string
        manifestHash:
          description: The Base16-encoded MD5 hash of the manifest file on the drive.
          type: string
        manifestUri:
          description: 'A URI that points to the blob containing the drive manifest
            file. '
          type: string
        percentComplete:
          description: 'Percentage completed for the drive. '
          type: integer
        state:
          description: 'The drive''s current state. '
          enum:
          - Specified
          - Received
          - NeverReceived
          - Transferring
          - Completed
          - CompletedMoreInfo
          - ShippedBack
          type: string
          x-ms-enum:
            modelAsString: true
            name: DriveState
        verboseLogUri:
          description: 'A URI that points to the blob containing the verbose log for
            the data transfer operation. '
          type: string
      type: object
    ErrorResponse:
      description: Response when errors occurred
      example:
        error:
          code: code
          innererror: "{}"
          details:
          - code: code
            message: message
            target: target
          - code: code
            message: message
            target: target
          message: message
          target: target
      properties:
        error:
          $ref: '#/components/schemas/ErrorResponse_error'
      type: object
    Export:
      description: "A property containing information about the blobs to be exported\
        \ for an export job. This property is required for export jobs, but must not\
        \ be specified for import jobs."
      example:
        blobListblobPath: blobListblobPath
        blobList:
          blobPathPrefix:
          - blobPathPrefix
          - blobPathPrefix
          blobPath:
          - blobPath
          - blobPath
      properties:
        blobList:
          $ref: '#/components/schemas/Export_blobList'
        blobListblobPath:
          description: "The relative URI to the block blob that contains the list\
            \ of blob paths or blob path prefixes as defined above, beginning with\
            \ the container name. If the blob is in root container, the URI must begin\
            \ with $root. "
          type: string
      type: object
    GetBitLockerKeysResponse:
      description: GetBitLockerKeys response
      example:
        value:
        - driveId: driveId
          bitLockerKey: bitLockerKey
        - driveId: driveId
          bitLockerKey: bitLockerKey
      properties:
        value:
          description: drive status
          items:
            $ref: '#/components/schemas/DriveBitLockerKey'
          type: array
      type: object
    JobDetails:
      description: Specifies the job properties
      example:
        storageAccountId: storageAccountId
        incompleteBlobListUri: incompleteBlobListUri
        percentComplete: 5
        provisioningState: provisioningState
        returnAddress:
          countryOrRegion: countryOrRegion
          stateOrProvince: stateOrProvince
          city: city
          phone: phone
          postalCode: postalCode
          streetAddress1: streetAddress1
          recipientName: recipientName
          streetAddress2: streetAddress2
          email: email
        returnPackage:
          carrierName: carrierName
          driveCount: 0
          shipDate: shipDate
          trackingNumber: trackingNumber
        deliveryPackage:
          carrierName: carrierName
          driveCount: 0
          shipDate: shipDate
          trackingNumber: trackingNumber
        logLevel: logLevel
        returnShipping:
          carrierName: carrierName
          carrierAccountNumber: carrierAccountNumber
        diagnosticsPath: diagnosticsPath
        driveList:
        - manifestFile: manifestFile
          driveId: driveId
          bitLockerKey: bitLockerKey
          manifestHash: manifestHash
          bytesSucceeded: 6
          driveHeaderHash: driveHeaderHash
          manifestUri: manifestUri
          percentComplete: 1
          state: Specified
          copyStatus: copyStatus
          errorLogUri: errorLogUri
          verboseLogUri: verboseLogUri
        - manifestFile: manifestFile
          driveId: driveId
          bitLockerKey: bitLockerKey
          manifestHash: manifestHash
          bytesSucceeded: 6
          driveHeaderHash: driveHeaderHash
          manifestUri: manifestUri
          percentComplete: 1
          state: Specified
          copyStatus: copyStatus
          errorLogUri: errorLogUri
          verboseLogUri: verboseLogUri
        shippingInformation:
          countryOrRegion: countryOrRegion
          stateOrProvince: stateOrProvince
          city: city
          phone: phone
          postalCode: postalCode
          streetAddress1: streetAddress1
          recipientName: recipientName
          streetAddress2: streetAddress2
        backupDriveManifest: true
        state: state
        cancelRequested: true
        jobType: jobType
        export:
          blobListblobPath: blobListblobPath
          blobList:
            blobPathPrefix:
            - blobPathPrefix
            - blobPathPrefix
            blobPath:
            - blobPath
            - blobPath
      properties:
        backupDriveManifest:
          description: Default value is false. Indicates whether the manifest files
            on the drives should be copied to block blobs.
          type: boolean
        cancelRequested:
          description: Indicates whether a request has been submitted to cancel the
            job.
          type: boolean
        deliveryPackage:
          $ref: '#/components/schemas/PackageInfomation'
        diagnosticsPath:
          description: The virtual blob directory to which the copy logs and backups
            of drive manifest files (if enabled) will be stored.
          type: string
        driveList:
          description: List of up to ten drives that comprise the job. The drive list
            is a required element for an import job; it is not specified for export
            jobs.
          items:
            $ref: '#/components/schemas/DriveStatus'
          type: array
        export:
          $ref: '#/components/schemas/Export'
        incompleteBlobListUri:
          description: "A blob path that points to a block blob containing a list\
            \ of blob names that were not exported due to insufficient drive space.\
            \ If all blobs were exported successfully, then this element is not included\
            \ in the response."
          type: string
        jobType:
          description: The type of job
          type: string
        logLevel:
          description: Default value is Error. Indicates whether error logging or
            verbose logging will be enabled.
          type: string
        percentComplete:
          description: Overall percentage completed for the job.
          type: integer
        provisioningState:
          description: Specifies the provisioning state of the job.
          type: string
        returnAddress:
          $ref: '#/components/schemas/ReturnAddress'
        returnPackage:
          $ref: '#/components/schemas/PackageInfomation'
        returnShipping:
          $ref: '#/components/schemas/ReturnShipping'
        shippingInformation:
          $ref: '#/components/schemas/ShippingInformation'
        state:
          description: Current state of the job.
          type: string
        storageAccountId:
          description: The resource identifier of the storage account where data will
            be imported to or exported from.
          type: string
      type: object
    JobResponse:
      description: Contains the job information.
      example:
        name: name
        location: location
        id: id
        type: type
        properties:
          storageAccountId: storageAccountId
          incompleteBlobListUri: incompleteBlobListUri
          percentComplete: 5
          provisioningState: provisioningState
          returnAddress:
            countryOrRegion: countryOrRegion
            stateOrProvince: stateOrProvince
            city: city
            phone: phone
            postalCode: postalCode
            streetAddress1: streetAddress1
            recipientName: recipientName
            streetAddress2: streetAddress2
            email: email
          returnPackage:
            carrierName: carrierName
            driveCount: 0
            shipDate: shipDate
            trackingNumber: trackingNumber
          deliveryPackage:
            carrierName: carrierName
            driveCount: 0
            shipDate: shipDate
            trackingNumber: trackingNumber
          logLevel: logLevel
          returnShipping:
            carrierName: carrierName
            carrierAccountNumber: carrierAccountNumber
          diagnosticsPath: diagnosticsPath
          driveList:
          - manifestFile: manifestFile
            driveId: driveId
            bitLockerKey: bitLockerKey
            manifestHash: manifestHash
            bytesSucceeded: 6
            driveHeaderHash: driveHeaderHash
            manifestUri: manifestUri
            percentComplete: 1
            state: Specified
            copyStatus: copyStatus
            errorLogUri: errorLogUri
            verboseLogUri: verboseLogUri
          - manifestFile: manifestFile
            driveId: driveId
            bitLockerKey: bitLockerKey
            manifestHash: manifestHash
            bytesSucceeded: 6
            driveHeaderHash: driveHeaderHash
            manifestUri: manifestUri
            percentComplete: 1
            state: Specified
            copyStatus: copyStatus
            errorLogUri: errorLogUri
            verboseLogUri: verboseLogUri
          shippingInformation:
            countryOrRegion: countryOrRegion
            stateOrProvince: stateOrProvince
            city: city
            phone: phone
            postalCode: postalCode
            streetAddress1: streetAddress1
            recipientName: recipientName
            streetAddress2: streetAddress2
          backupDriveManifest: true
          state: state
          cancelRequested: true
          jobType: jobType
          export:
            blobListblobPath: blobListblobPath
            blobList:
              blobPathPrefix:
              - blobPathPrefix
              - blobPathPrefix
              blobPath:
              - blobPath
              - blobPath
        tags: "{}"
      properties:
        id:
          description: Specifies the resource identifier of the job.
          readOnly: true
          type: string
        location:
          description: Specifies the Azure location where the job is created.
          type: string
        name:
          description: Specifies the name of the job.
          readOnly: true
          type: string
        properties:
          $ref: '#/components/schemas/JobDetails'
        tags:
          description: Specifies the tags that are assigned to the job.
          properties: {}
          type: object
        type:
          description: Specifies the type of the job resource.
          readOnly: true
          type: string
      type: object
      x-ms-azure-resource: true
    ListJobsResponse:
      description: List jobs response
      example:
        value:
        - name: name
          location: location
          id: id
          type: type
          properties:
            storageAccountId: storageAccountId
            incompleteBlobListUri: incompleteBlobListUri
            percentComplete: 5
            provisioningState: provisioningState
            returnAddress:
              countryOrRegion: countryOrRegion
              stateOrProvince: stateOrProvince
              city: city
              phone: phone
              postalCode: postalCode
              streetAddress1: streetAddress1
              recipientName: recipientName
              streetAddress2: streetAddress2
              email: email
            returnPackage:
              carrierName: carrierName
              driveCount: 0
              shipDate: shipDate
              trackingNumber: trackingNumber
            deliveryPackage:
              carrierName: carrierName
              driveCount: 0
              shipDate: shipDate
              trackingNumber: trackingNumber
            logLevel: logLevel
            returnShipping:
              carrierName: carrierName
              carrierAccountNumber: carrierAccountNumber
            diagnosticsPath: diagnosticsPath
            driveList:
            - manifestFile: manifestFile
              driveId: driveId
              bitLockerKey: bitLockerKey
              manifestHash: manifestHash
              bytesSucceeded: 6
              driveHeaderHash: driveHeaderHash
              manifestUri: manifestUri
              percentComplete: 1
              state: Specified
              copyStatus: copyStatus
              errorLogUri: errorLogUri
              verboseLogUri: verboseLogUri
            - manifestFile: manifestFile
              driveId: driveId
              bitLockerKey: bitLockerKey
              manifestHash: manifestHash
              bytesSucceeded: 6
              driveHeaderHash: driveHeaderHash
              manifestUri: manifestUri
              percentComplete: 1
              state: Specified
              copyStatus: copyStatus
              errorLogUri: errorLogUri
              verboseLogUri: verboseLogUri
            shippingInformation:
              countryOrRegion: countryOrRegion
              stateOrProvince: stateOrProvince
              city: city
              phone: phone
              postalCode: postalCode
              streetAddress1: streetAddress1
              recipientName: recipientName
              streetAddress2: streetAddress2
            backupDriveManifest: true
            state: state
            cancelRequested: true
            jobType: jobType
            export:
              blobListblobPath: blobListblobPath
              blobList:
                blobPathPrefix:
                - blobPathPrefix
                - blobPathPrefix
                blobPath:
                - blobPath
                - blobPath
          tags: "{}"
        - name: name
          location: location
          id: id
          type: type
          properties:
            storageAccountId: storageAccountId
            incompleteBlobListUri: incompleteBlobListUri
            percentComplete: 5
            provisioningState: provisioningState
            returnAddress:
              countryOrRegion: countryOrRegion
              stateOrProvince: stateOrProvince
              city: city
              phone: phone
              postalCode: postalCode
              streetAddress1: streetAddress1
              recipientName: recipientName
              streetAddress2: streetAddress2
              email: email
            returnPackage:
              carrierName: carrierName
              driveCount: 0
              shipDate: shipDate
              trackingNumber: trackingNumber
            deliveryPackage:
              carrierName: carrierName
              driveCount: 0
              shipDate: shipDate
              trackingNumber: trackingNumber
            logLevel: logLevel
            returnShipping:
              carrierName: carrierName
              carrierAccountNumber: carrierAccountNumber
            diagnosticsPath: diagnosticsPath
            driveList:
            - manifestFile: manifestFile
              driveId: driveId
              bitLockerKey: bitLockerKey
              manifestHash: manifestHash
              bytesSucceeded: 6
              driveHeaderHash: driveHeaderHash
              manifestUri: manifestUri
              percentComplete: 1
              state: Specified
              copyStatus: copyStatus
              errorLogUri: errorLogUri
              verboseLogUri: verboseLogUri
            - manifestFile: manifestFile
              driveId: driveId
              bitLockerKey: bitLockerKey
              manifestHash: manifestHash
              bytesSucceeded: 6
              driveHeaderHash: driveHeaderHash
              manifestUri: manifestUri
              percentComplete: 1
              state: Specified
              copyStatus: copyStatus
              errorLogUri: errorLogUri
              verboseLogUri: verboseLogUri
            shippingInformation:
              countryOrRegion: countryOrRegion
              stateOrProvince: stateOrProvince
              city: city
              phone: phone
              postalCode: postalCode
              streetAddress1: streetAddress1
              recipientName: recipientName
              streetAddress2: streetAddress2
            backupDriveManifest: true
            state: state
            cancelRequested: true
            jobType: jobType
            export:
              blobListblobPath: blobListblobPath
              blobList:
                blobPathPrefix:
                - blobPathPrefix
                - blobPathPrefix
                blobPath:
                - blobPath
                - blobPath
          tags: "{}"
        nextLink: nextLink
      properties:
        nextLink:
          description: link to next batch of jobs
          type: string
        value:
          description: Job list
          items:
            $ref: '#/components/schemas/JobResponse'
          type: array
      type: object
    ListOperationsResponse:
      description: List operations response
      example:
        value:
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
        - display:
            provider: provider
            resource: resource
            description: description
            operation: operation
          name: name
      properties:
        value:
          description: operations
          items:
            $ref: '#/components/schemas/Operation'
          type: array
      type: object
    Location:
      description: Provides information about an Azure data center location.
      example:
        name: name
        id: id
        type: type
        properties:
          countryOrRegion: countryOrRegion
          stateOrProvince: stateOrProvince
          city: city
          phone: phone
          supportedCarriers:
          - supportedCarriers
          - supportedCarriers
          postalCode: postalCode
          streetAddress1: streetAddress1
          recipientName: recipientName
          streetAddress2: streetAddress2
          alternateLocations:
          - alternateLocations
          - alternateLocations
      properties:
        id:
          description: 'Specifies the resource identifier of the location. '
          type: string
        name:
          description: 'Specifies the name of the location. Use List Locations to
            get all supported locations. '
          type: string
        properties:
          $ref: '#/components/schemas/Location_properties'
        type:
          description: 'Specifies the type of the location. '
          type: string
      type: object
    LocationsResponse:
      description: Locations response
      example:
        value:
        - name: name
          id: id
          type: type
          properties:
            countryOrRegion: countryOrRegion
            stateOrProvince: stateOrProvince
            city: city
            phone: phone
            supportedCarriers:
            - supportedCarriers
            - supportedCarriers
            postalCode: postalCode
            streetAddress1: streetAddress1
            recipientName: recipientName
            streetAddress2: streetAddress2
            alternateLocations:
            - alternateLocations
            - alternateLocations
        - name: name
          id: id
          type: type
          properties:
            countryOrRegion: countryOrRegion
            stateOrProvince: stateOrProvince
            city: city
            phone: phone
            supportedCarriers:
            - supportedCarriers
            - supportedCarriers
            postalCode: postalCode
            streetAddress1: streetAddress1
            recipientName: recipientName
            streetAddress2: streetAddress2
            alternateLocations:
            - alternateLocations
            - alternateLocations
      properties:
        value:
          description: locations
          items:
            $ref: '#/components/schemas/Location'
          type: array
      type: object
    Operation:
      description: Describes a supported operation by the Storage Import/Export job
        API.
      example:
        display:
          provider: provider
          resource: resource
          description: description
          operation: operation
        name: name
      properties:
        display:
          $ref: '#/components/schemas/Operation_display'
        name:
          description: Name of the operation.
          type: string
      required:
      - display
      - name
      type: object
    PackageInfomation:
      description: Contains information about the package being shipped by the customer
        to the Microsoft data center.
      example:
        carrierName: carrierName
        driveCount: 0
        shipDate: shipDate
        trackingNumber: trackingNumber
      properties:
        carrierName:
          description: The name of the carrier that is used to ship the import or
            export drives.
          type: string
        driveCount:
          description: The number of drives included in the package.
          type: integer
        shipDate:
          description: The date when the package is shipped.
          type: string
        trackingNumber:
          description: The tracking number of the package.
          type: string
      required:
      - carrierName
      - driveCount
      - shipDate
      - trackingNumber
      type: object
    PutJobParameters:
      description: Put Job parameters
      example:
        location: location
        properties:
          storageAccountId: storageAccountId
          incompleteBlobListUri: incompleteBlobListUri
          percentComplete: 5
          provisioningState: provisioningState
          returnAddress:
            countryOrRegion: countryOrRegion
            stateOrProvince: stateOrProvince
            city: city
            phone: phone
            postalCode: postalCode
            streetAddress1: streetAddress1
            recipientName: recipientName
            streetAddress2: streetAddress2
            email: email
          returnPackage:
            carrierName: carrierName
            driveCount: 0
            shipDate: shipDate
            trackingNumber: trackingNumber
          deliveryPackage:
            carrierName: carrierName
            driveCount: 0
            shipDate: shipDate
            trackingNumber: trackingNumber
          logLevel: logLevel
          returnShipping:
            carrierName: carrierName
            carrierAccountNumber: carrierAccountNumber
          diagnosticsPath: diagnosticsPath
          driveList:
          - manifestFile: manifestFile
            driveId: driveId
            bitLockerKey: bitLockerKey
            manifestHash: manifestHash
            bytesSucceeded: 6
            driveHeaderHash: driveHeaderHash
            manifestUri: manifestUri
            percentComplete: 1
            state: Specified
            copyStatus: copyStatus
            errorLogUri: errorLogUri
            verboseLogUri: verboseLogUri
          - manifestFile: manifestFile
            driveId: driveId
            bitLockerKey: bitLockerKey
            manifestHash: manifestHash
            bytesSucceeded: 6
            driveHeaderHash: driveHeaderHash
            manifestUri: manifestUri
            percentComplete: 1
            state: Specified
            copyStatus: copyStatus
            errorLogUri: errorLogUri
            verboseLogUri: verboseLogUri
          shippingInformation:
            countryOrRegion: countryOrRegion
            stateOrProvince: stateOrProvince
            city: city
            phone: phone
            postalCode: postalCode
            streetAddress1: streetAddress1
            recipientName: recipientName
            streetAddress2: streetAddress2
          backupDriveManifest: true
          state: state
          cancelRequested: true
          jobType: jobType
          export:
            blobListblobPath: blobListblobPath
            blobList:
              blobPathPrefix:
              - blobPathPrefix
              - blobPathPrefix
              blobPath:
              - blobPath
              - blobPath
        tags: "{}"
      properties:
        location:
          description: Specifies the supported Azure location where the job should
            be created
          type: string
        properties:
          $ref: '#/components/schemas/JobDetails'
        tags:
          description: Specifies the tags that will be assigned to the job.
          properties: {}
          type: object
      type: object
    ReturnAddress:
      description: Specifies the return address information for the job.
      example:
        countryOrRegion: countryOrRegion
        stateOrProvince: stateOrProvince
        city: city
        phone: phone
        postalCode: postalCode
        streetAddress1: streetAddress1
        recipientName: recipientName
        streetAddress2: streetAddress2
        email: email
      properties:
        city:
          description: The city name to use when returning the drives.
          type: string
        countryOrRegion:
          description: 'The country or region to use when returning the drives. '
          type: string
        email:
          description: Email address of the recipient of the returned drives.
          type: string
        phone:
          description: Phone number of the recipient of the returned drives.
          type: string
        postalCode:
          description: The postal code to use when returning the drives.
          type: string
        recipientName:
          description: 'The name of the recipient who will receive the hard drives
            when they are returned. '
          type: string
        stateOrProvince:
          description: The state or province to use when returning the drives.
          type: string
        streetAddress1:
          description: 'The first line of the street address to use when returning
            the drives. '
          type: string
        streetAddress2:
          description: 'The second line of the street address to use when returning
            the drives. '
          type: string
      required:
      - city
      - countryOrRegion
      - email
      - phone
      - postalCode
      - recipientName
      - streetAddress1
      type: object
    ReturnShipping:
      description: Specifies the return carrier and customer's account with the carrier.
      example:
        carrierName: carrierName
        carrierAccountNumber: carrierAccountNumber
      properties:
        carrierAccountNumber:
          description: The customer's account number with the carrier.
          type: string
        carrierName:
          description: The carrier's name.
          type: string
      required:
      - carrierAccountNumber
      - carrierName
      type: object
    ShippingInformation:
      description: Contains information about the Microsoft datacenter to which the
        drives should be shipped.
      example:
        countryOrRegion: countryOrRegion
        stateOrProvince: stateOrProvince
        city: city
        phone: phone
        postalCode: postalCode
        streetAddress1: streetAddress1
        recipientName: recipientName
        streetAddress2: streetAddress2
      properties:
        city:
          description: The city name to use when returning the drives.
          type: string
        countryOrRegion:
          description: 'The country or region to use when returning the drives. '
          type: string
        phone:
          description: Phone number of the recipient of the returned drives.
          type: string
        postalCode:
          description: The postal code to use when returning the drives.
          type: string
        recipientName:
          description: 'The name of the recipient who will receive the hard drives
            when they are returned. '
          type: string
        stateOrProvince:
          description: The state or province to use when returning the drives.
          type: string
        streetAddress1:
          description: 'The first line of the street address to use when returning
            the drives. '
          type: string
        streetAddress2:
          description: 'The second line of the street address to use when returning
            the drives. '
          type: string
      required:
      - city
      - countryOrRegion
      - postalCode
      - recipientName
      - stateOrProvince
      - streetAddress1
      type: object
    UpdateJobParameters:
      description: Update Job parameters
      example:
        properties:
          deliveryPackage:
            carrierName: carrierName
            driveCount: 0
            shipDate: shipDate
            trackingNumber: trackingNumber
          logLevel: logLevel
          returnShipping:
            carrierName: carrierName
            carrierAccountNumber: carrierAccountNumber
          driveList:
          - manifestFile: manifestFile
            driveId: driveId
            bitLockerKey: bitLockerKey
            manifestHash: manifestHash
            bytesSucceeded: 6
            driveHeaderHash: driveHeaderHash
            manifestUri: manifestUri
            percentComplete: 1
            state: Specified
            copyStatus: copyStatus
            errorLogUri: errorLogUri
            verboseLogUri: verboseLogUri
          - manifestFile: manifestFile
            driveId: driveId
            bitLockerKey: bitLockerKey
            manifestHash: manifestHash
            bytesSucceeded: 6
            driveHeaderHash: driveHeaderHash
            manifestUri: manifestUri
            percentComplete: 1
            state: Specified
            copyStatus: copyStatus
            errorLogUri: errorLogUri
            verboseLogUri: verboseLogUri
          backupDriveManifest: true
          state: state
          cancelRequested: true
          returnAddress:
            countryOrRegion: countryOrRegion
            stateOrProvince: stateOrProvince
            city: city
            phone: phone
            postalCode: postalCode
            streetAddress1: streetAddress1
            recipientName: recipientName
            streetAddress2: streetAddress2
            email: email
        tags: "{}"
      properties:
        properties:
          $ref: '#/components/schemas/UpdateJobParameters_properties'
        tags:
          description: Specifies the tags that will be assigned to the job
          properties: {}
          type: object
      type: object
    ErrorResponse_error_details_inner:
      example:
        code: code
        message: message
        target: target
      properties:
        code:
          description: Provides information about the error code.
          type: string
        message:
          description: Provides information about the error message.
          type: string
        target:
          description: Provides information about the error target.
          type: string
      type: object
    ErrorResponse_error:
      description: Describes the error information.
      example:
        code: code
        innererror: "{}"
        details:
        - code: code
          message: message
          target: target
        - code: code
          message: message
          target: target
        message: message
        target: target
      properties:
        code:
          description: Provides information about the error code.
          type: string
        details:
          description: Describes the error details if present.
          items:
            $ref: '#/components/schemas/ErrorResponse_error_details_inner'
          type: array
        innererror:
          description: Inner error object if present.
          properties: {}
          type: object
        message:
          description: Provides information about the error message.
          type: string
        target:
          description: Provides information about the error target.
          type: string
      type: object
      x-ms-client-flatten: true
    Export_blobList:
      description: A list of the blobs to be exported.
      example:
        blobPathPrefix:
        - blobPathPrefix
        - blobPathPrefix
        blobPath:
        - blobPath
        - blobPath
      properties:
        blobPath:
          description: A collection of blob-path strings.
          items:
            type: string
          type: array
        blobPathPrefix:
          description: A collection of blob-prefix strings.
          items:
            type: string
          type: array
      type: object
      x-ms-client-flatten: true
    Location_properties:
      description: location properties
      example:
        countryOrRegion: countryOrRegion
        stateOrProvince: stateOrProvince
        city: city
        phone: phone
        supportedCarriers:
        - supportedCarriers
        - supportedCarriers
        postalCode: postalCode
        streetAddress1: streetAddress1
        recipientName: recipientName
        streetAddress2: streetAddress2
        alternateLocations:
        - alternateLocations
        - alternateLocations
      properties:
        alternateLocations:
          description: "A list of location IDs that should be used to ship shipping\
            \ drives to for jobs created against the current location. If the current\
            \ location is active, it will be part of the list. If it is temporarily\
            \ closed due to maintenance, this list may contain other locations. "
          items:
            type: string
          type: array
        city:
          description: 'The city name to use when shipping the drives to the Azure
            data center. '
          type: string
        countryOrRegion:
          description: 'The country or region to use when shipping the drives to the
            Azure data center. '
          type: string
        phone:
          description: 'The phone number for the Azure data center. '
          type: string
        postalCode:
          description: 'The postal code to use when shipping the drives to the Azure
            data center. '
          type: string
        recipientName:
          description: 'The recipient name to use when shipping the drives to the
            Azure data center. '
          type: string
        stateOrProvince:
          description: 'The state or province to use when shipping the drives to the
            Azure data center. '
          type: string
        streetAddress1:
          description: 'The first line of the street address to use when shipping
            the drives to the Azure data center. '
          type: string
        streetAddress2:
          description: 'The second line of the street address to use when shipping
            the drives to the Azure data center. '
          type: string
        supportedCarriers:
          description: 'A list of carriers that are supported at this location. '
          items:
            type: string
          type: array
      type: object
      x-ms-client-flatten: true
    Operation_display:
      description: operation display properties
      example:
        provider: provider
        resource: resource
        description: description
        operation: operation
      properties:
        description:
          description: Short description of the operation.
          type: string
        operation:
          description: The display name of the operation.
          type: string
        provider:
          description: The resource provider name to which the operation belongs.
          type: string
        resource:
          description: The name of the resource to which the operation belongs.
          type: string
      type: object
      x-ms-client-flatten: true
    UpdateJobParameters_properties:
      description: Specifies the properties of a UpdateJob.
      example:
        deliveryPackage:
          carrierName: carrierName
          driveCount: 0
          shipDate: shipDate
          trackingNumber: trackingNumber
        logLevel: logLevel
        returnShipping:
          carrierName: carrierName
          carrierAccountNumber: carrierAccountNumber
        driveList:
        - manifestFile: manifestFile
          driveId: driveId
          bitLockerKey: bitLockerKey
          manifestHash: manifestHash
          bytesSucceeded: 6
          driveHeaderHash: driveHeaderHash
          manifestUri: manifestUri
          percentComplete: 1
          state: Specified
          copyStatus: copyStatus
          errorLogUri: errorLogUri
          verboseLogUri: verboseLogUri
        - manifestFile: manifestFile
          driveId: driveId
          bitLockerKey: bitLockerKey
          manifestHash: manifestHash
          bytesSucceeded: 6
          driveHeaderHash: driveHeaderHash
          manifestUri: manifestUri
          percentComplete: 1
          state: Specified
          copyStatus: copyStatus
          errorLogUri: errorLogUri
          verboseLogUri: verboseLogUri
        backupDriveManifest: true
        state: state
        cancelRequested: true
        returnAddress:
          countryOrRegion: countryOrRegion
          stateOrProvince: stateOrProvince
          city: city
          phone: phone
          postalCode: postalCode
          streetAddress1: streetAddress1
          recipientName: recipientName
          streetAddress2: streetAddress2
          email: email
      properties:
        backupDriveManifest:
          description: Indicates whether the manifest files on the drives should be
            copied to block blobs.
          type: boolean
        cancelRequested:
          description: "If specified, the value must be true. The service will attempt\
            \ to cancel the job. "
          type: boolean
        deliveryPackage:
          $ref: '#/components/schemas/PackageInfomation'
        driveList:
          description: List of drives that comprise the job.
          items:
            $ref: '#/components/schemas/DriveStatus'
          type: array
        logLevel:
          description: Indicates whether error logging or verbose logging is enabled.
          type: string
        returnAddress:
          $ref: '#/components/schemas/ReturnAddress'
        returnShipping:
          $ref: '#/components/schemas/ReturnShipping'
        state:
          description: "If specified, the value must be Shipping, which tells the\
            \ Import/Export service that the package for the job has been shipped.\
            \ The ReturnAddress and DeliveryPackage properties must have been set\
            \ either in this request or in a previous request, otherwise the request\
            \ will fail. "
          type: string
      type: object
      x-ms-client-flatten: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
      type: oauth2
x-original-swagger-version: "2.0"

