openapi: 3.0.1
info:
  contact: {}
  description: |-
    Authentication is required to access all methods of the API. Enter username and password.
                    Credentials are automatically set as you type.
  title: Tradeworks
  version: "1.0"
  x-apisguru-categories:
  - financial
  x-logo:
    url: https://twitter.com/tradeworks_tech/profile_image?size=original
  x-origin:
  - converter:
      url: https://github.com/lucybot/api-spec-converter
      version: 2.6.2
    format: swagger
    url: http://devui.magick.nu/api/api-docs
    version: "1.2"
  x-providerName: magick.nu
servers:
- url: http://devui.magick.nu/rest
tags:
- name: strategies
- name: tradingAccounts
- name: users
paths:
  /strategies/strategyId/{strategyId}:
    get:
      operationId: getStrategiesStrategyIdStrategyId
      parameters:
      - in: path
        name: strategyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get Strategy by ID
      tags:
      - strategies
      x-accepts:
      - application/json
  /strategies/templates:
    get:
      operationId: getStrategiesTemplates
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Get all Template Strategies
      tags:
      - strategies
      x-accepts:
      - application/json
  /tradingAccounts:
    post:
      operationId: postTradingAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradingAccount'
        required: true
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Add a Trading Account
      tags:
      - tradingAccounts
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /tradingAccounts/password/{username}/{brokerserver}/{mt4username}:
    put:
      operationId: putTradingAccountsPasswordUsernameBrokerserverMt4username
      parameters:
      - in: path
        name: username
        required: true
        schema:
          type: string
      - in: path
        name: brokerserver
        required: true
        schema:
          type: string
      - in: path
        name: mt4username
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordDTO'
        required: true
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Update MT4 Account Password
      tags:
      - tradingAccounts
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /users:
    post:
      operationId: postUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDTO'
        required: true
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Create a new Tradeworks User
      tags:
      - users
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /users/email/{email}:
    get:
      operationId: getUsersEmailEmail
      parameters:
      - in: path
        name: email
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Check if email is available
      tags:
      - users
      x-accepts:
      - application/json
  /users/password/{username}:
    put:
      operationId: putUsersPasswordUsername
      parameters:
      - in: path
        name: username
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordDTO'
        required: true
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Update user's password
      tags:
      - users
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /users/username/{username}:
    get:
      operationId: getUsersUsernameUsername
      parameters:
      - in: path
        name: username
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: No response was specified
      summary: Check if username is available
      tags:
      - users
      x-accepts:
      - application/json
components:
  schemas:
    PasswordDTO:
      example:
        oldPassword: oldPassword
        newPassword: newPassword
      properties:
        newPassword:
          type: string
        oldPassword:
          type: string
      type: object
    TradingAccount:
      example:
        password: password
        brokerServer: brokerServer
        magickUsername: magickUsername
        username: username
      properties:
        brokerServer:
          type: string
        magickUsername:
          type: string
        password:
          type: string
        username:
          type: string
      type: object
    UserDTO:
      example:
        firstName: firstName
        lastName: lastName
        password: password
        subscriptionType: subscriptionType
        affiliateId: affiliateId
        email: email
        username: username
      properties:
        affiliateId:
          type: string
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        password:
          type: string
        subscriptionType:
          type: string
        username:
          type: string
      type: object
x-original-swagger-version: "2.0"

